[2021-02-22 09:47] aaemnnosttv commented on #2064
@asvinb – looking at `stories/module-search-console-components.stories.js`, we have stories for all the other widgets so I think it makes sense to include them here as well. Would you please update the IB + estimate to include stories as well?
I think a group starting with "Search Console Module/Components/Module Page/" would be good.

[2021-02-22 09:54] aaemnnosttv commented on #2095
@asvinb it looks good to me, although your first screenshot looks a bit overly-squished but I think this is due to the extra padding added in storybook.

So you mean `00:03` is 3 min there? On larger viewports is it showing seconds as well? If so, I'm guessing it's an optimization the chart is doing.

[2021-02-22 10:08] aaemnnosttv commented on #2468
@ivankruchkoff I think we just need to add `fill="currentColor"` to the `path` element of the svg. Can you give that a try? This way it should fill based on the current `color` style which I think _should_ eliminate the lag (or even the need for WP's svg painting).

[2021-02-22 10:42] tofumatt commented on #2714
@eugene-manuilov isn't able to re-review this today, so assigning to @felixarntz to have another look in case it needs any further revisions and has as much time as possible for QA 🙂

[2021-02-22 12:13] asvinb commented on #2064
@aaemnnosttv IB has been updated. As for the estimates, I think 7 hours is fine, as 11 is too much IMHO.

[2021-02-22 14:53] wpdarren commented on #2513
### QA Update: Pass ✅

**Verified:**

Ran through the QAB regarding running the command from console

![image](https://user-images.githubusercontent.com/73545194/108724822-b9d53500-7560-11eb-8abf-3a1ea97b54a3.png)
![image](https://user-images.githubusercontent.com/73545194/108724855-bf327f80-7560-11eb-802e-8073ab344045.png)

- No longer see an error or be blocked from completing the setup when Goo

[2021-02-22 15:12] aaemnnosttv opened #2837 "User Input preview display quirks"
## Bug Description

The preview for user input has a few quirks which were recently discovered which should be addressed before launch.

1. Long freeform answers can overflow horizontally
![image](https://user-images.githubusercontent.com/1621608/108726706-677c2000-7530-11eb-8a03-2beab2b10909.png)
2. On mobile, the preview pill/bubble radius looks a odd/inconsistent with multi-line answers
![image

[2021-02-22 15:26] johnPhillips commented on #2456
✅  QA

[2021-02-22 15:48] aaemnnosttv opened #2838 "Update modules fixture"
## Bug Description

As [recently discovered](https://github.com/google/site-kit-wp/pull/2730#discussion_r579096938), our [modules list fixture](https://github.com/google/site-kit-wp/blob/1b262188b56189aef458129f0f59a4eba4a70b9c/assets/js/googlesitekit/modules/datastore/fixtures.json) does not accurately represent a default state. It's also a bit inconsistent with most of our other fixtures in a fe

[2021-02-22 16:14] aaemnnosttv commented on #2739
@felixarntz having multiple tours conditionally active at the same time is a situation we should plan for as I think that is fairly likely to happen once we start adding more. I think this is probably okay as long as they don't conflict with each other. That is, as long as there is a unified tour experience, showing multiple features in one tour should be fine (although this may raise other ideas

[2021-02-22 16:16] aaemnnosttv commented on #2064
IB ✅

[2021-02-22 17:49] abdullah1908 commented on #2463
Team has fixed this issue internally for helper plugin and its good to go with the staging site setup.

[2021-02-22 17:59] abdullah1908 commented on #2768
Our team has fixed the issue internally & now the helper plugin should work with the staging site setup.

[2021-02-22 18:03] felixarntz commented on #2739
@aaemnnosttv

Sounds good, we can use the `Root` component for that.

Why do we need specific CSS classes per tooltip tour? If we do though, I like the suggested alternative.

@ivankruchkoff Since this is not targeting the current release, I think it'd be best to do the centralized management approach for tooltip tours from the start, based on the previous feedback above. Can you update the IB acc

[2021-02-22 18:14] benbowler commented on #2693
QA brief added.

[2021-02-22 18:17] ivankruchkoff commented on #2468
Unfortunately, that approach doesn't work.

[2021-02-22 18:26] jamesozzie opened #2840 "You do not have permission to authenticate with Site Kit"
There have been reports of users encountering the below dashboard error, despite having full WordPress administrator access:
`"You do not have permission to authenticate with Site Kit"`

Check for all causes of this issue and improve messaging where possible within Site Kit.

Instances:
- https://wordpress.org/support/topic/you-dont-have-permissions-to-authenticate-with-site-kit-2/ - **_Resolved b

[2021-02-22 19:04] felixarntz opened #2841 "Allow search terms in user input to stack / span multiple lines"
## Bug Description

Search keywords should not be limited to appearing in a single line input field, as this causes problems (see screenshots):

![Screenshot from 2021-02-17 17-34-54](https://user-images.githubusercontent.com/3531426/108756510-739aba00-74fd-11eb-9cde-bcbd3b59803a.png)
![Screenshot from 2021-02-17 17-33-41](https://user-images.githubusercontent.com/3531426/108756515-75647d80-74fd-1

[2021-02-22 19:19] felixarntz opened #2842 "Fix bad UX approach for typing search terms in user input flow"
## Bug Description

Currently when typing the search terms in the last question of the user input flow, the approach is unintuitive:

* Users have to add the separator for the search term to be actually recognized / turned into a blue bubble.
* If you're only adding a single search term, this will result in the CTA button still being disabled although you've already typed the search term.
* If you

[2021-02-22 19:21] felixarntz opened #2843 "Use more appropriate wording in last user input question"
The last question uses "keyword" in one place, "search term" in another. "Term" overall seems more suitable since it is possible to enter more than one word (i.e. spaces within a single term are allowed).

Furthermore, the "Enter" key should no longer be referred to as such, since that is not always the name of that key.

---------------

_Do not alter or remove anything below. The following secti

[2021-02-22 19:29] felixarntz opened #2844 "Avoid loss of user input responses due to navigating away"
## Bug Description

When the user navigates away from the user input screen without submitting their responses, they currently all get lost. This is most problematic because there is a link to "Settings" on that page that seems like it would be worth clicking it; but overall it is a problem that the responses aren't saved anywhere because the user could navigate away from the page at any point.

-

[2021-02-22 21:53] steve6375 commented on #1666
I tried the Google Kit in WordPress on new site today for hours and could not get Adsense to work then I saw this thread!
I had uBlock Origin on and it was blocking it. When I disabled it - all is good :-)
I never saw any warning to disable ad blockers...

[2021-02-22 22:11] felixarntz opened #2846 "Introduce (contextual) help icon in Site Kit header bar"
The Site Kit header bar should include a help icon that, when clicked, exposes a dropdown with various help links. This should globally replace the need for the "Need help?" link in the Site Kit footer.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new feature flag `helpVisibility` should be introd

[2021-02-22 22:18] felixarntz opened #2847 "Implement tooltip for new contextual help feature"
The contextual help feature introduced via #2846 should receive a tooltip that highlights the addition to the screen.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new tooltip "tour" (with just a single step) should be added: It should appear on the dashboard if the user's initial Site Kit version

[2021-02-22 22:53] tofumatt opened #2848 "Changing question doesn't scroll new question into viewport"
## Bug Description

On the User Input screen, when the Back/Next buttons are clicked the viewport doesn't change. This is a problem on smaller screens (eg mobile) where advancing to the next question causes it to appear "above the fold". We should scroll the viewport to the new question whenever we change the "active" question.

It's worth noting this happens—at least in part—because we don't use

[2021-02-22 23:11] adamsilverstein commented on #2010
Revisiting here to note that https://github.com/ampproject/amphtml/pull/32100 has merged upstream, so this issue should now (or soon/when deployed) be resolved for AMP sites - when a user visits a site `origin.com` links (and form submissions) to `origin.com` will no longer be decorated with the `_hl` query parameter.

[2021-02-22 23:37] aarondruck opened #2849 "Center align tabs "Channel, Locations, Devices" over the pie chart"
## Bug Description

The tabs Channel, Locations, and Devices, are not center aligned over the pie chart.  They're floating to the left, on a wide screen.

## Steps to reproduce

Look at the main dashboard / Site Overview page.  It's in the section called "Your Traffic at a Glance"

## Screenshots

## Additional Context

Mac, Chrome

---------------

_Do not alter or remove anything below. The foll

[2021-02-22 23:40] aarondruck opened #2850 "Fix tooltip in "Others" pie chart slice"
## Bug Description

In the "Your Traffic at a Glance" module on the Site Overview page - it's difficult to click the "Others" popup/tooltip, when you hover over "OTHERS" on the pie chart, in the Locations tab.

You can't click on "See the detailed breakdown in Analytics" in the tooltip, because as soon as the mouse stops hovering on the pie chart slice, the tooltip disappears.

## Steps to reprodu

[2021-02-23 00:30] tofumatt opened #2851 "User Input Flow has accessibility issues"
## Bug Description

The new User Input Flow has several accessibility issues that cause keyboard-only and screenreader users to have, at minimum, difficulty navigating the new flows. Some bits are simply confusing/unexpected but others make it quite hard to navigate as a keyboard-only user.

This issue encompasses several smaller issues all related to improving the baseline accessibility of the Us

[2021-02-23 00:52] tofumatt opened #2852 "User Input: Only show note saying "question applies to other users" if other users on the site exist"
## Feature Description

Currently we show a notice during the third question in the User Input flow that the question will affect the entire site and affect other users on the site. While this text could be clarified (see #2853), it is redundant if you are the only user (or at least the only _admin_) on the site who can use Site Kit/answer the question.

![image](https://user-images.githubusercont

[2021-02-23 00:57] tofumatt opened #2853 "User Input: Clarify the wording on the third question's note about "other users of this site""
## Feature Description

The wording on the third question in the user input flow wasn't entirely clear for several folks on the Site Kit team using the feature. It was suggested that we clarify that "site" refers more to their "WordPress site", and any other wording clarifications to be made here.

![image](https://user-images.githubusercontent.com/90871/108789204-ac747680-7571-11eb-80ec-c7e931d76

[2021-02-23 05:54] cole10up commented on #2240
### QA ⚠️

Checked my personal site's /index.php dashboard widget on the current release, and a dev build seeing the following:

Develop branch selecting development build:
![image](https://user-images.githubusercontent.com/57115907/108806966-010af800-7558-11eb-9707-c21ec4acda6b.png)

Latest release:
![image](https://user-images.githubusercontent.com/57115907/108806995-16802200-7558-11eb-9f70-f647

[2021-02-23 06:08] cole10up commented on #2722
### QA ❌

Ran a series of tests around setup of Adsense from the settings page and dashboard.

Noticed dashboard setup flow is fixed:
![Sign in - Google Accounts](https://user-images.githubusercontent.com/57115907/108807938-59db9000-755a-11eb-8517-8f44cea1950d.gif)

Settings page setup isn't fixed:
![Site Kit by Google Settings ‹ SupremeQA — WordPress](https://user-images.githubusercontent.com/571

[2021-02-23 08:32] aaemnnosttv commented on #2722
@cole10up I think this may be a CSS cache issue for you. I've double checked this on my end and it looks correct from what I can see. I took a few screenshots to compare between branches, although these switches were manually disabled to produce the effect. If it is still possible to see without doing this then we'll need to take a closer look. I did not observe a flicker of the image on load thou

[2021-02-23 09:34] aaemnnosttv commented on #1666
Thanks @steve6375 – we only ask users to disable ad blockers when one is detected, but it's possible some may go undetected.

[2021-02-23 09:38] aaemnnosttv commented on #2794
@felixarntz – another user [recently reported](https://github.com/google/site-kit-wp/issues/1666#issuecomment-783699862) that [uBlock Origin](https://github.com/gorhill/uBlock) was not detected either. The [Chrome extension](https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en-US) has 10M+ users.

[2021-02-23 10:30] vmajor commented on #2118
Related issue, perhaps. I am using TranslatePress and keep getting disconnected. I will look for/make a separate issue for this.

[2021-02-23 10:58] vmajor opened #2854 "SiteKit disconnecting spontaneusly"
## Bug Description

While editing products in the backend, after several product edits a blue notification popup appears with the following message:

"Looks like the URL of your site has changed. In order to continue using Site Kit, you’ll need to reconnect, so that your plugin settings are updated with the new URL. Reconnect"

## Steps to reproduce

1. Go to WooCommerce Products listing
2. Click

[2021-02-23 11:26] steve6375 commented on #1666
May be useful to put a message into any error message too - so if an ad blocker is not detected, the user is still warned?
I kept getting 'Error - you are probably offline' or something like that.
Maybe adding:
'Tip: Please disable and Ad Blocker or Pop-Up Blocker and try again' text?

[2021-02-23 11:47] jamesozzie commented on #2854
Many thanks for reaching out. As we've moved Site Kit support over to the WordPress support forums we have a process in place whereby we troubleshoot from there first before escalating to GitHub if necessary. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. Should we determine a bug which you may have already

[2021-02-23 11:47] #2854 closed

[2021-02-23 13:44] jamesozzie commented on #2350
@lontano75 Many thanks for the useful insights. As we're still investigating this can you share the following:
- Has this occurred previously on this site or did you just notice this recently when accessing your site via the Chrome browser?
- Does the same occur when checking a Chrome browser incognito window?
- Can you share what's occurring in the form of a video or screen recording, with Chrome

[2021-02-23 13:46] asvinb commented on #2095
@aaemnnosttv Yes, the first screenshot is because of the padding in storybook. As for the format, yes, 00:03 means 3 mins here, but it should display hh:mm:ss but maybe as you said, the chart is doing some optimization. I issued a new PR to fix the y-axis: https://github.com/google/site-kit-wp/pull/2855
Can you review?
Thanks!

[2021-02-23 14:19] jamesozzie commented on #2782
Thanks for sharing. I was able to recreate some of the console errors you encountered when using the Better WordPress Recent Comments plugin, which hasn't been updated in 7 years. I can't be sure if this is impacting Site Kit Analytics connection in your case, I've been unable to recreate the same notice.

[code]

Have you tried following the [troubleshooting steps suggested](https://wordpress.org

[2021-02-23 14:55] felixarntz commented on #2838
IB ✅

[2021-02-23 15:11] felixarntz commented on #2646
@wpdarren Thanks for the ping, sorry for the delay. Some feedback:

1. This is expected, the order and the available recommendations may differ between different requests, so this is unrelated to the widget API-based dashboard.
2. This is actually an improvement, the current/old dashboard shows the same sparkline for Bounce Rate as it does for Unique Visitors which is incorrect (captured via #1996

[2021-02-23 15:12] gmmedia commented on #1304
I would also like to see that.

[2021-02-23 15:15] felixarntz opened #2856 "Single URL dashboard still displays old All Traffic widget"
## Bug Description

In a production build (i.e. without widgets feature flags enabled), the single URL dashboard still displays the old All Traffic widget. This must have been an oversight, and I assume we have been testing too much using the widgets API-based version, thus missing that critical bug.

Originally noticed in https://github.com/google/site-kit-wp/issues/2646#issuecomment-779773565

-

[2021-02-23 15:24] adamsilverstein commented on #2118
@vmajor Thanks for your comment.

I have reported this issue to translatepress support and opened the following issue to help improve the compatibility with Site Kit: https://github.com/phpzio/translatepress/issues/4. Can you please link to or comment on this issue for visibility?

[2021-02-23 15:49] eugene-manuilov opened #2857 "Use more appropriate wording in the question help text"
## Feature Description

Currently, the helper text that tells how many answers we can select is a bit confusing. The "only" feels like a requirement to select a specific number of answers to be able to proceed. We need to update the wording to say that a user needs to select at least one but no more than X answers. Perhaps we should use "up to X" instead of "only X".

---------------

_Do not alte

[2021-02-23 15:52] wpdarren commented on #2646
@felixarntz thank you for confirming these for me.  I will give this another run through based what you've said about the 1.4.0 tester plugin and then move this forward.  To confirm 3, and 7 you have/will create tickets for these.

[2021-02-23 16:00] felixarntz opened #2858 "New Goals widget behaves slightly different than old one"
## Bug Description

There are a few behavioral inconsistencies between the legacy implementation of the Analytics Goals widget and the refactored version, which should be corrected in the latter.

Originally noticed in https://github.com/google/site-kit-wp/issues/2646#issuecomment-779773565

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2021-02-23 16:51] felixarntz commented on #2856
IB ✅  😆

[2021-02-23 18:22] bethanylang commented on #2771
@abdullah1908 Can you please test again with the additional information that James has provided? Thank you!

[2021-02-23 18:30] abdullah1908 commented on #2771
Sure @bethanylang 👍

[2021-02-23 18:48] felixarntz commented on #2602
@benbowler Can you add a QA brief to this one?

[2021-02-23 22:23] yasmineyvette opened #2860 "Data error in Analytics - Wordpress Site Kit"
I was wondering if I could get some help with an issue I encountered. My site kit all of a sudden ran into an issue yesterday where it won't load. When I go to the Site Kit dashboard, I get an error that says 'Data error in Analytics <p>There has been a critical error on this website.</p><p><a href="https://wordpress.org/support/article/debugging-in-wordpress/">Learn more about debugging in WordPr

[2021-02-24 02:43] cnxsoft commented on #2782
Sorry, I missed those instructions. I've recorded the steps:
https://youtu.be/7gxNGnIAWG0

It still does not work with other plugins disabled.

[2021-02-24 05:41] ivankruchkoff commented on #2828
Still looking for a root cause / fix here, https://github.com/google/site-kit-wp/blob/develop/assets/js/components/user-input/UserInputSelectOptions.js#L49 does not trigger on the checkbox for the `other` checkbox, but I'm still trying to work out why.

[2021-02-24 08:50] asvinb commented on #2841
@felixarntz By "help description shouldn't be padded from the left side like it is right now.", do you mean the text below the input?
![image](https://user-images.githubusercontent.com/31818/108974457-ebecb100-769e-11eb-87f0-e3be7db468b3.png)

[2021-02-24 09:12] aaemnnosttv commented on #942
## QA ⚠️

* Both new methods on `Google_Proxy` work as expected, but are named differently than in ACs.
* The ACs also mention the presence of a `supports` query parameter to the URL returned by `Google_Proxy::permissions_url` however this is not present in the current `OAuthClient::get_proxy_permissions_url` method. This is likely a mistake in the original definition, but raising for completeness

[2021-02-24 09:16] aaemnnosttv commented on #942
@felixarntz – I've opened a quick follow-up PR to address the above if needed. If not, we can simply close it, and this is good to go 👍

[2021-02-24 11:00] aaemnnosttv commented on #2533
## QA ✅

Tested the below example response:

[code]

Resulted in the `googlesitekit_remote_features` transient containing a value

[code]

And `enabledFeatures` as `["userInput"]`

Noting that the implementation does not use a `Remote_Controlled_Features` class as defined in the ACs, but this was not included in the IB either which @felixarntz approved so assuming that the ACs weren't updated afte

[2021-02-24 11:10] jamesozzie commented on #2816
Closing as this is not possible at present with the current AdSense API

[2021-02-24 11:10] #2816 closed

[2021-02-24 11:13] aaemnnosttv commented on #2772
CR ✅   but will hold on merging due to the timing of the current cycle, unless @felixarntz wants to include it.

[2021-02-24 11:14] aaemnnosttv commented on #2772
@johnPhillips would you please add a QA brief above?

[2021-02-24 12:02] jamesozzie opened #2862 "Detailed Page Stats result in errors when using language plugins"
## Bug Description

As reported in [the WordPress support forums](https://wordpress.org/support/topic/sitekit-disconnecting-spontaneusly/#post-14095007) users of TranslatePress and other language plugins that store language variations in the database as opposed to creating new language specific pages and posts will encounter various "no data available notices". One example notice is below:
[code]

[2021-02-24 12:06] jamesozzie commented on #2862
@abdullah1908 Can you take a look at this one and see if there is anything we can do regarding improving messaging or other actions?

[2021-02-24 12:07] abdullah1908 commented on #2862
Sure @jamesozzie 👍

[2021-02-24 12:20] jamesozzie commented on #2860
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. We can reopen this GitHub issue should we determine any fix or bug to be address on the Site Kit side.

As the notice you're encountering can occur in various situations feel

[2021-02-24 12:20] #2860 closed

[2021-02-24 12:34] tofumatt commented on #2727
I think the IB presented here will introduce a lot of `onResize` event handlers for the entire app, though having looked at what React hooks like [`@react-hooks/window-size`](https://www.npmjs.com/package/@react-hook/window-size) do, [it's similar](https://github.com/jaredLunde/react-hook/blob/16a1db0b06c48fd93b814b7e0b74c6f39ee5caab/packages/event/src/index.tsx#L4). Though they do clean up their

[2021-02-24 12:36] wpdarren commented on #2856
### QA Update: ⚠️ Engineer to confirm

- On single URL dashboard page the new version of the All Traffic widget appears.

![image](https://user-images.githubusercontent.com/73545194/108999345-1d846d00-76dd-11eb-9756-86b65b7b7329.png)

@eugene-manuilov @felixarntz  I've run through additional checks to make sure that it functions as expected.  I found two issues, that either need new tickets, or, t

[2021-02-24 12:40] jamesozzie opened #2864 "Provide support for different domains per language (when using WPML)"
## Feature Description

As requested in the [WordPress support forums](https://wordpress.org/support/topic/site-kit-with-wpml-different-domains-per-language-feature/) allowing users to view statistics based on differing domains with a WPML multi domain setup would be useful to view statistics across a users site, and not just based on one domain.

At present when switching domains within the admin

[2021-02-24 12:41] benbowler commented on #924
[Ready for review on implementation.](https://github.com/google/site-kit-wp/pull/2826#issuecomment-785048346)

[2021-02-24 12:44] wpdarren opened #2865 "Issue with Legends/Pie Chart on All Traffic Widget for a Single URL Dashboard Page"
## Bug Description

As part of the QA for the All Traffic Widget on [Single URL dashboard page](https://github.com/google/site-kit-wp/issues/2856)  I've found two issues that are linked.

1) For channel dimension. For a period of 28 days. There's a legend for `social` and `(other)` that have zero values, so I am assuming these should not appear.  They do not appear in the pie chart, just the legen

[2021-02-24 13:10] tofumatt commented on #2793
IB looks good for the most part, but I think we should always call `trackEvent` inside a `useEffect` hook rather than inside functions that change the step/slug/activeIndex like `next`, `back`, `goToPreview`, or `goTo`. So instead of calling `trackEvent` when `next` or `back` are called, we should call `trackEvent` inside a `useEffect` hook that fires when `activeSlug` changes.

That way, if there

[2021-02-24 13:25] asvinb commented on #2793
@tofumatt I thought of that as well, i.e using the `useEffect` hook that fires when `activeSlug` changes. However how we would know whether the user clicked on the `next` or `back` button or even clicking on the `Edit` link on the preview screen to edit the question, since in all of those cases, the hook will be fired.

[2021-02-24 13:48] benbowler commented on #2602
QA Brief added @wpdarren.

[2021-02-24 13:49] wpdarren commented on #2646
### QA Update:  Pass ✅

**Verified:**

- On the Site Kit Dashboard: There are no extra padding or any visual disparities. Both include the "Site Overview" heading, and they should both include the "Need help?" link in the footer.

- On the Single URL dashboard: There are no extra padding or any visual disparities. Both include the "Site Overview" heading, and they should both include the "Need hel

[2021-02-24 14:00] tofumatt commented on #2793
Ah, shoot, right. Thanks for the context on that one! 👍🏻

IB ✅

[2021-02-24 14:11] wpdarren commented on #2602
### QA Update: Pass ✅

**Verified:**

The new setting to select the AdUnit in the AdSense settings.

![image](https://user-images.githubusercontent.com/73545194/109011960-70b1ec00-76ec-11eb-8364-5eb030e6c4d3.png)

The select field does have options in but those are from my Google Adsense account, so makes sense for them to be in the dropdown.  When I selected an ad unit, and clicked on save, no er

[2021-02-24 14:19] tofumatt commented on #2747
The ACs here mention reducing the number of labels that appear rather than making them all fit, but I think I prefer your solution as it's less-complex and lets the chart library manage things for us.

But I wonder why we'd bother to use anything but this solution for all sizes? I tried it and it seems/looks fine, so rather than change the style based on the number of days shown (which seems a bit

[2021-02-24 14:32] asvinb commented on #2727
Thanks for the suggestion @tofumatt . I've updated the IB, can you review again?

[2021-02-24 14:35] tofumatt commented on #2727
IB ✅

I still think it might be nicer to use variable names like `mobileWidth` over `smallWidth`, because it more clearly indicates the intent of the prop. But I think that can be handled in code review, the approach here looks good to me! 👍🏻

[2021-02-24 14:46] tofumatt commented on #2837
IB ✅

[2021-02-24 15:18] aaemnnosttv commented on #2848
@tofumatt #2514 doesn't touch anything for user input. I saw you mentioned it in the description of that issue, but the ACs are limited to `SettingsApp` only. We should probably implement a temporary solution here (which shouldn't be too much effort I would think) and open a new issue to refactor user input with the router once it's merged.

[2021-02-24 15:18] eugene-manuilov commented on #2067
@felixarntz the AC already defines all that needs to be done. I have nothing to add to it.

[2021-02-24 15:27] benbowler commented on #2724
I set up the GitHub action and ran in the attached draft PR, I also used `PHPCompatibility/PHPCompatibilityWP` to check for compatibility issues with `8.0` and didn't find any.

[2021-02-24 15:37] eugene-manuilov commented on #2068
@felixarntz this is ready for IB review. All implementation requirements already defined in the AC and I have nothing to add to it.

[2021-02-24 16:27] jagalca87 commented on #2812
Hi,
I had the same problem with "Error: Ad client not found". However I confirmed in the checkbox in Adsense that my script code just was copy and then Adsense is show me right now a message "we are reviewing your website". Meanwhile, in Wordpress always is the same status. Is that correct?  Can someone guide me a little if this is correct?
![image](https://user-images.githubusercontent.com/795939

[2021-02-24 16:28] johnPhillips commented on #2747
@aaemnnosttv Do you have any thoughts on this?

Happy to look into an IB that generates the number of ticks based on the date range, but the chart seems to have lots of automatic measures for adjusting the labels to fit the space (rotation, stacking, ellipses etc), the behaviour of which might change and represent a 'moving goal' over time. I feel like we'd be potentially generating work for ourse

[2021-02-24 16:57] felixarntz commented on #2865
@wpdarren I've specified the ACs around the first point of your observations. I'm not sure about your second point though - I think "(other)" is actually included in the pie chart in the screenshot, it's just so tiny that it's hard to see (since it's just one user). When I enlarged the screenshot, I _am_ seeing a tiny extra pie slice there, so I don't think there is a bug there. Can you check?

[2021-02-24 16:58] oratoran commented on #2864
Hi James This is Özgür from KentAjans.

This is the function I have defined in functions.php file for analytics per language:

`/**
 * Add Google Analytics per language
 */

add_action( 'wp_head', 'my_own_analytics', 20 );
function my_own_analytics() {

    if(ICL_LANGUAGE_CODE=='en') { ?>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-2"></script>
    <script>

[2021-02-24 17:18] oratoran commented on #2864
And here is the screen shots from Site Kit
1) Example page which is Site Kit connected (.com.tr):
https://yadi.sk/i/j8Yhfui9VjrZcQ

2) Example page which is not Site Kit connected (.com):
https://yadi.sk/i/LaIHreMEtrmuJw

3) .com's detail report page (clicked 'more info')
https://yadi.sk/i/L1PBiR3wB_nvAw

Hope these are helpful.

Good luck.

[2021-02-24 17:50] ivankruchkoff commented on #2240
The sitekit logo is part of the storybook story, so that can be ignored as part of this ticket.

What is important, is to figure out the slight difference in numbers, and especially figure out the difference in percentage in Total Impressions. For this, I'll get the requests and responses for the legacy request and for the new request to see if there are different dates or some different data bein

[2021-02-24 18:40] jamesozzie opened #2869 "Blank Dashboard"
## Bug Description

One user in the support forums in encountering a blank Site Kit dashboard. This started to occur after a site integrity check using WordFence
https://wordpress.org/support/topic/google-site-kit-doesnt-show-data/#post-14097287

## Screenshots

![image](https://user-images.githubusercontent.com/41326532/109032627-bf945d00-76bd-11eb-94a3-a2f74de01783.png)

## Additional Context

[2021-02-24 18:41] abdullah1908 commented on #2771
Couldn't recreate this issue at the CDN enabled website. Better to move in L2.
cc: @jamesozzie @bethanylang

[2021-02-24 18:45] bethanylang commented on #2771
Thanks for reviewing again, @abdullah1908. changed to L2.

[2021-02-24 21:07] felixarntz commented on #942
@aaemnnosttv Good catch - merged that PR!

[2021-02-24 21:17] aaemnnosttv opened #2870 "Unperformant database migration query for site with large number of users"
## Bug Description

A user [recently reported](https://wordpress.org/support/topic/takes-down-a-server-with-large-user-and-user-meta-table-and-regular-traffic/) that Site Kit was responsible for making a very slow database query (30+s) on their website that had 22k+ users. This seems to be due to the way that WP constructs meta queries that reference multiple meta keys.

## Steps to reproduce

1.

[2021-02-24 21:46] adamsilverstein commented on #1666
Hi @steve6375 - thanks for raising this - it looks like there has been a regression in our ad blocker detection that is causing it to fail (at least in my local testing with uBlock Origin). I am creating a follow up issue to get this fixed.

[2021-02-24 23:07] adamsilverstein opened #2871 "Regression: Ad blocker detection not working consistently."
## Bug Description

When using Site Kit when I have an Ad Blocker enabled, I expect to be warned that AdSense will not work properly (because the ad blocker blocks the AdSense API requests). Even after I have successfully enabled AdSense, if I visit the AdSense page or settings screen, I expect a user warning since the UI will not work correctly - data will not load and settings will not save.

Pr

[2021-02-25 01:06] jamesozzie commented on #2869
Resolved by uninstalling the plugin and reinstall from the WP plugin repository. Unsure of exact cause although it did appear the default plugin files on the users site contained differences to the original plugin files, as identified by WordFence.

[2021-02-25 01:06] #2869 closed

[2021-02-25 01:24] wpdarren commented on #2865
@felixarntz yes, you're quite right, the second issue can be removed. When I enlarged the screenshot, the slice can be seen.

[2021-02-25 05:12] ivankruchkoff commented on #2240
Having compared the before and after versions of the dashboard, there is one main reason for the discrepancy, and as a result a small bug that I've pushed a fix for.

**Total Clicks / Total Impressions**
Old way: 54 rows from 2020-12-31 to 2021-02-22
New way: 55 rows from 2020-12-31 to 2021-02-23

**Total Unique Visitors**
Old: 20201231, 56 rows - between 39580 and 40531
New: 20201231, 56 rows - b

[2021-02-25 06:38] wpdarren commented on #2740
@eugene-manuilov likely to be user error, but I am not seeing any Google Adsense events when I click on a dimensions tab, a slice, including `(other)` ` (not set)` or Others.  Would you be able to include a screenshot of what you see, so I can compare it. Just wanting to make sure that I am looking at the right place in the console.

![image](https://user-images.githubusercontent.com/73545194/1091

[2021-02-25 07:17] wpdarren commented on #2714
### QA Update: Fail ❌

Odd behaviour when you select `Others` slice in the pie chart,  on all channels and locations tabs.

When you click on `Others` on page load, it works fine.
When you hover over `Others`slice it works fine.
When you click on `Others` slice after selecting another slice, this is where the issue occurs.

- Click on the slice, no tooltip appears, which it should because there's

[2021-02-25 07:22] wpdarren commented on #2737
This ticket is blocked until #2714 is fixed.

[2021-02-25 07:34] eugene-manuilov commented on #2740
@wpdarren have you installed the extension mentioned in the QA brief? Once you install it and activate (by clicking on its icon), you will see logs in your browser console (open the `Console` tab in the developer tools). Also, don't forget to opt-in for tracking in the admin settings.

This is what you should see if you activate that extension and activated tracking in the admin settings:
![Screen

[2021-02-25 08:25] aaemnnosttv commented on #2240
Thanks for the thorough report @ivankruchkoff! Taking a look now.

I think this is probably an unintended side-effect of the changes in your branch since `Array.reverse` modifies the array in place while `slice` makes a copy.

[2021-02-25 09:15] fhollis opened #2873 "User Input: Preview | steps that selected other and no text was entered look strange on preview screen"
When viewing the preview screen, the questions where other selected are not clear what the selection was:

![image.png](https://images.zenhubusercontent.com/5f904e0d457f8cf7fc805b39/2771aafa-e67c-471c-928c-313907af4edd)

[2021-02-25 09:18] fhollis commented on #2873
Comment from Mariya: this should be fixed by the task above (not letting pick "Other" without entering text)

[2021-02-25 09:26] fhollis opened #2874 "User Input: Flow should not trigger after granting additional scopes"
When you're already connected, the user input flow is not "forced" upon you; by design you only see a dashboard notification that prompts you to do it instead. Only when you connect (or re-connect after disconnecting), the user input flow should be forced.

However, right now an existing user is also forced to answer the questions when they just want to activate a new module. After going through O

[2021-02-25 09:30] aaemnnosttv commented on #2841
@asvinb yes, I believe that's what he's referring to.

[2021-02-25 10:09] fhollis opened #2875 "User Input: Update copy to "Choose up to 3 answers""
You don't have to choose 3, if you don't want to so the copy should read: "Choose up to 3 answers"
![image.png](https://images.zenhubusercontent.com/5f904e0d457f8cf7fc805b39/db2b6847-eef1-4b45-b9fc-fcbcfbb4ec6b)

[2021-02-25 10:46] aaemnnosttv commented on #2240
@ivankruchkoff @felixarntz – the problem seems to be due to an odd number of total rows is being returned for the report, but **it should always be even** since `compare: true` should always double the number of rows, and thus always be evenly divisible by `2`, with each segment's length equal to the number of days in the range.

We're seeing `55` rows returned for a `28` day range instead of `56`

[2021-02-25 10:46] asvinb commented on #2841
@aaemnnosttv @felixarntz In that case, we will be moving away from the designs. As per Figma (the screenshot I posted here: https://github.com/google/site-kit-wp/issues/2841#issuecomment-784914132, the "help description" has some left spacing. Can you confirm we shall remove the left spacing and not follow the designs?

[2021-02-25 12:35] benbowler commented on #2122
@felixarntz what has changed since this was moved back into AC in Oct 2020

[2021-02-25 12:59] tofumatt commented on #2714
Ah, yes, that is now the expected behaviour. "Others" should not be a clickable slice and when clicked should simply be "ignored"—if nothing was selected when "Others" is clicked nothing should continue to be selected.

If a slice is selected then "Others" is clicked, the existing selection should be maintained.

From the video this is working as-expected 🙂

[2021-02-25 13:16] tofumatt commented on #2865
IB ✅

[2021-02-25 13:33] wpdarren commented on #2714
### QA Update:  Pass ✅

**Verified:**

- On the dashboard page, the pie chart in the All Traffic widget works correctly when you select different slices and change tabs or date ranges.

![image](https://user-images.githubusercontent.com/73545194/109160537-e1bad780-77b0-11eb-9beb-c3e41d02b7e4.png)

- On the dashboard page, the other charts on the page still work correctly.

![image](https://user-im

[2021-02-25 13:51] wpdarren commented on #2714
@tofumatt I had approved this ticket and then observed some very odd behaviour when testing #2737

1. Go to the Site Kit Dashboard (`wp-admin/admin.php?page=googlesitekit-dashboard`)
2. Browse to the All Traffic widget and select on a pie chart slice.

This message appears within the `Search Funnel`

`You called the draw() method with the wrong type of data rather than a DataTable or DataView`

Th

[2021-02-25 14:13] wpdarren commented on #2737
### QA Update: Fail ❌

@tofumatt   This works fine for every other slice other than those that has a link in the tooltip, i.e. `others` etc.  Right now, you cannot click on the `others` slice to make it active so that tooltip remains in the chart.  This is due to the issue reported [here](https://github.com/google/site-kit-wp/issues/2714#issuecomment-785674747) where you [mentioned](https://github

[2021-02-25 14:50] wpdarren commented on #2740
### QA Update: Fail ❌

@eugene-manuilov An observation. When I click on a  `Others` there is no trigger in the console. I am wondering if it is [related to this](https://github.com/google/site-kit-wp/issues/2714#issuecomment-785674747) that I reported on another ticket.  Please note that I do not have a test site with `(other)`, `(not set)` so unsure if that works.

Could you confirm if you are ab

[2021-02-25 15:00] wpdarren commented on #2240
@aaemnnosttv @ivankruchkoff I have changed the pipeline from QA to Code review, please let us know when this is ready for QA.  c.c. @cole10up

[2021-02-25 15:04] eugene-manuilov commented on #2740
@wpdarren it's expected behavior because `Others` is not selectable since it is not a real slice.

[2021-02-25 15:15] aaemnnosttv opened #2876 "Release 1.27.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-02-25 15:16] felixarntz opened #2877 "Add tracking events for PageSpeed widget"
There are a few new tracking events that should be implemented for the PageSpeed widget.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* GA tracking events for interacting with the PageSpeed Insights widget should be added:
    * `widget_view`: should be triggered **once** during page lifecycle when th

[2021-02-25 15:18] wpdarren commented on #2740
### QA Update: Pass ✅

**Verified:**

- On a dimension tab, a new GA event has been fired and tracked in your console

![image](https://user-images.githubusercontent.com/73545194/109169751-19c71800-77bb-11eb-80e3-89664dc2c057.png)

- With different slices selected, they appear in the GA events in your console

![image](https://user-images.githubusercontent.com/73545194/109169850-32373280-77bb-11eb

[2021-02-25 15:20] felixarntz commented on #2873
This one is already covered in #2837.

[2021-02-25 15:20] #2873 closed

[2021-02-25 15:20] felixarntz commented on #2875
This is already covered via #2857.

[2021-02-25 15:20] #2875 closed

[2021-02-25 16:12] jamesozzie commented on #2864
@oratoran Many thanks for the additional insights. I'll check this with the team and report back to you here.

[2021-02-25 16:33] benbowler commented on #2122
I unassigned myself here as I don't think I'll be able to get a handle on this with my remaining time.

[2021-02-25 16:35] aaemnnosttv commented on #2240
After taking another look at this and comparing with the previous release using a clean cache I found that the data shown (including percentage changes) was consistent between 1.26.0 and the latest for 1.27.0.

Assigning to @wpdarren to give this another pass.

[2021-02-25 16:53] jamesozzie commented on #2817
@adamsilverstein Similar to the Analytics pre-activation checks is it possible a check could be performed on the edit screen to alert users of a non standard or modified snippet output?

[2021-02-25 17:05] felixarntz commented on #2737
@wpdarren @tofumatt Just discussed this with Mariya, and I've added a new point to the ACs on this issue to get rid of the link in the "Others" tooltip.

We just need to exchange the link for regular text based on the ACs.

[2021-02-25 17:21] felixarntz commented on #2737
@aaemnnosttv Opened #2878 to address the above, ready for review.

[2021-02-25 17:25] felixarntz commented on #2847
@eugene-manuilov I think it would be best to wait with the IB for this one until #2739 is defined. That one is for the first tooltip tour and should include introduction of the basic management layer for tooltip tours (since they should be centrally controlled, not within a specific component).

[2021-02-25 17:38] jamesozzie commented on #2812
@jagalca87 If your website is in review on the AdSense side we'll have the messaging within Site Kit improved soon, with a fix on the way. Thanks for sharing, be sure to subscribe to this issue for updates.

[2021-02-25 20:07] felixarntz commented on #2724
IB ✅

[2021-02-25 20:14] felixarntz commented on #2846
@asvinb IB mostly looks solid, a few points of feedback:

The links should all open in a new tab; can you include that in the IB? They shouldn't receive the external icon though, since all of these links by definition are external, so they shouldn't be separately marked as such.

The feature flag shouldn't be handled _within_ this component, that feels counter-intuitive. The component should be se

[2021-02-25 20:15] felixarntz commented on #2829
IB ✅

[2021-02-25 20:49] aaemnnosttv commented on #2737
#2878 is merged now. Back to you @wpdarren for another pass 👍

[2021-02-25 21:16] ivankruchkoff commented on #2876
LGTM 👍 🦖

[2021-02-25 21:48] felixarntz commented on #2844
@eugene-manuilov I think it would be good to limit the time we consider the `localStorage` values valid. Potentially we should include a timestamp there to expire them after, let's say 1 hour. If you leave the user input flow without saving, but then don't come back to it in an hour, I think it's safe to assume they didn't accidentally leave the flow.

I think we should always use the `localStorag

[2021-02-25 21:49] tofumatt commented on #2714
I think it's best to merge both #2879 and #2880 for this, but the #2879 PR alone should fix the issue raised in QA.

[2021-02-25 21:50] felixarntz commented on #2852
@benbowler IB looks great, there's only one thing to change here:

The `get_inline_data` method is populating `_googlesitekitLegacyData`, which shouldn't be touched anymore. For new kind of basic information like this we should use `_googlesitekitBaseData` instead, exporting the value on there.

[2021-02-26 00:21] wpdarren commented on #2240
@cole10up are you okay to look at this ticket? It'll be quicker than me taking a look since you've already spent time on the QA.

[2021-02-26 00:34] wpdarren commented on #2737
QA Update: Fail ❌

@felixarntz @aaemnnosttv I'm afraid that this solution does not fixe the problem.

On first load of the pie chart, if I hover over the `others` then the appropriate tooltip appears, and all is good.

![image](https://user-images.githubusercontent.com/73545194/109237652-f7f68100-780c-11eb-9cf5-642afdd9637f.png)

But, if you select another slice first, e.g. `organic search` and th

[2021-02-26 00:35] felixarntz commented on #2693
QA ⚠️

The `googlesitekit_authorize_user` hook in `Site_Verification` is always relevant, not only when using the proxy. Setting that user option has been around since the dawn of Site Kit, before there was the proxy. So the new check here needs to be reverted.

[2021-02-26 00:39] felixarntz commented on #2737
@wpdarren This is expected behavior now:

* The "Others" slice should never be selectable.
* The only way to see the "Others" slice tooltip should be to hover over the slice.
* Hovering over any slice only shows the tooltip though when no other slice is currently selected, to avoid the potential of two tooltips overlapping each other. This is the situation in your screencast.

Can you confirm this

[2021-02-26 02:19] wpdarren commented on #2714
### QA Update:  Pass ✅

**Verified:**

- On the dashboard page, the pie chart in the All Traffic widget works correctly when you select different slices and change tabs or date ranges.

![image](https://user-images.githubusercontent.com/73545194/109160537-e1bad780-77b0-11eb-9beb-c3e41d02b7e4.png)

- On the dashboard page, the other charts on the page still work correctly.

![image](https://user-im

[2021-02-26 02:26] wpdarren commented on #2737
@felixarntz this is the current behaviour, so since this is expected, I will move this on.

### QA Update: Pass ✅

- After the slice is selected, you can move the mouse outside the slice and the tooltip stays visible.
- The "Others" slice is not selectable.
- The only way to see the "Others" slice tooltip is to hover over the slice.

[2021-02-26 05:46] cole10up commented on #2240
### QA ⚠️

@aaemnnosttv @ivankruchkoff

I ran the same test just now with the latest zip versus the current release in an incognito window. Here are my findings.

Latest zip:
![image](https://user-images.githubusercontent.com/57115907/109260269-b0dba200-77b2-11eb-8c5b-bf03b6d70f53.png)

Latest release:
![image](https://user-images.githubusercontent.com/57115907/109260293-bfc25480-77b2-11eb-9604-86

[2021-02-26 05:59] cole10up commented on #2734
### QA ⚠️

Ran a series of regression tests with Adsense Dashboard Summary focusing on date range adjustment.

Mock data is incrementing properly. Unable to reproduce this issue during my tests.

7 Days
![image](https://user-images.githubusercontent.com/57115907/109260996-04022480-77b4-11eb-87a8-0c4c11e3c284.png)

 14 Days
![image](https://user-images.githubusercontent.com/57115907/109261169-4297d

[2021-02-26 07:17] ivankruchkoff commented on #2240
Second your findings @cole10up cc @aaemnnosttv , tested now, see a difference, tested in the AM Pacific Time, saw no difference. 1.2.6 vs 1.2.7 (including 3 followup PR fixes)
<img width="623" alt="Screen Shot 2021-02-25 at 11 13 43 PM" src="https://user-images.githubusercontent.com/373931/109268184-8b08ca00-77bf-11eb-96b7-c4ec93aeecbb.png">
<img width="618" alt="Screen Shot 2021-02-25 at 11 12 13

[2021-02-26 07:35] ivankruchkoff commented on #2240
Some state data from the two different ways this is calculated, i think the important thing here is the discrepancy between current and previous values between the two versions:
[code]

vs

[code]
and
[code]

[2021-02-26 07:40] ivankruchkoff commented on #2240
Also via dev build of https://github.com/google/site-kit-wp/pull/2672/commits/7e1f6c4a99c4785591d2b37f65b1c2183de26911 we get confirmation of the same numbers as 1.2.6 vs 1.2.7 corresponding to different ways of rendering the WP dashboard widget.
<img width="609" alt="Screen Shot 2021-02-25 at 11 39 27 PM" src="https://user-images.githubusercontent.com/373931/109270401-d1135d00-77c2-11eb-9f0f-0236

[2021-02-26 07:55] wpdarren commented on #2773
### QA Update: Pass ✅

**Verified:**

On AdSense module page the URLs for all `See full stats in AdSense` links contain the query fragment dd=1YsiteY1Y{domain}Y{domain} as you can see below.

**7 days** `https://www.google.com/adsense/new/u/0/pub-7603478468516085/reporting?d=2021%2F02%2F19-2021%2F02%2F25&dd=1YsiteY1Yhivevine.comYhivevine.com&authuser=darren.cronian%40get10up.com`

**14 days** `htt

[2021-02-26 08:30] wpdarren commented on #2772
### QA Update: Engineer to confirm ⚠️

@johnPhillips on the QAB it says
[code]
When I go that page, this is what I see.

![image](https://user-images.githubusercontent.com/73545194/109275172-55132680-784f-11eb-8d7d-c9cc25d56b1b.png)

- I don't see `top earning pages` but I do see `Performance by page over the last XX days`
- I also don't see any link label for `Analytics` There is a `See full stat

[2021-02-26 08:31] benbowler commented on #2852
Thanks @felixarntz, I've updated the IB to reference `get_inline_base_data` to pass the basic information to `_googlesitekitBaseData`.

[2021-02-26 09:21] aaemnnosttv commented on #2734
@cole10up this is a bit odd, but the changes made here are specific to the spark line graph. The change value you're seeing there is only showing the current day change so that is expected to be the same across all ranges. I think this could be labelled better for clarity, but it seems to be working as expected.

Put another way, the spark lines should be drawn based on the current date range, whe

[2021-02-26 10:12] aaemnnosttv commented on #2240
@ivankruchkoff unless you're testing with a completely session storage then I think this may be partly (or entirely) due to a change in the cache age between new and old.

The legacy `withData` wrapped components such as `WPAnalyticsDashboardWidgetOverview` are using a cache of up to 1 day long, whereas the new components will only use the default 1 hour cache TTL. So at some point, the new compon

[2021-02-26 10:29] johnPhillips commented on #2772
Hi @wpdarren
I think this is confusing and possibly partially down to a poor QAB by me, so apologies about that.

Working through your points:

I assumed that the AC was referring to that widget because it does show page earnings and there is nothing else on this module page that it could plausibly be referring to. However, I've then compounded the confusion by using the same wording in the QAB, s

[2021-02-26 10:34] aaemnnosttv commented on #2747
@johnPhillips I agree that it's best to delegate the label management to the chart library as much as we can and avoid special date-range specific cases. In this case, it seems like the `chartArea.height` is the only change needed. The text is already slanted automatically if all elements don't fit when drawn upright, which is good. I don't think we should change the chart to always slant the text

[2021-02-26 11:17] wpdarren commented on #2772
### QA Update: Pass ✅

**Verified:**

- On the Site Kit dashboard, the AdSense 'top earning pages' widget link to the correct [Analytics report](https://analytics.google.com/analytics/web/#/report-home/a184504120w254830281p233972010) and the label refers to `Analytics`

![image](https://user-images.githubusercontent.com/73545194/109274282-47a96c80-784e-11eb-961d-3a977dc26abf.png)

- On the Google

[2021-02-26 11:29] eugene-manuilov commented on #2844
Nice idea! IB is updated and ready for review.

[2021-02-26 11:46] johnPhillips commented on #2747
@aaemnnosttv and @tofumatt
There is an edge case on 90 days where the screen is very wide: the labels get stacked. That was the reason for forcing the slant on 90 days.

Are we ok with this?

![Screenshot 2021-02-26 at 11 45 04](https://user-images.githubusercontent.com/2470911/109296433-3188b580-7828-11eb-9374-5ad0f895d743.png)

[2021-02-26 12:09] benbowler commented on #2529
I tracked this down to, as @aaemnnosttv said, a bug/issue with Wordpress where title of the page is not set if the parent slug passed to `add_submenu_page` is `NULL`.

I found a solution and have added an IB.

[2021-02-26 12:38] aaemnnosttv commented on #2747
Oh I guess my screen isn't wide enough to see that 😄 thanks for the screenshot.

I don't think it's too bad. The main thing for me is for them not to be truncated which is what this was originally about.

Anything more than that is a visual change that we'll need approval from @felixarntz on.

[2021-02-26 13:20] abdullah1908 commented on #2862
@jamesozzie I can reproduce this issue at my end as well.
Attaching both English & Arabic version of the page.
![arabic-version-page-stats](https://user-images.githubusercontent.com/14175927/109305212-387eea80-785f-11eb-8f5e-fc3af6def1ba.png)
![english-page-stats](https://user-images.githubusercontent.com/14175927/109305221-39b01780-785f-11eb-8d50-5977f88a34bd.png)

[2021-02-26 13:58] johnPhillips commented on #2747
@aaemnnosttv Mine isn't either, in that screenshot I am using the 'responsive' setting on dev tools at a width of "2500". Feels like an edge case 😂

I'll adjust the IB - thanks for your input!

[2021-02-26 14:01] wpdarren commented on #2734
### QA Update:

**Verified:**

The spark lines are drawn based on the current date range, the values continuously change on each range.

**7 days**
![image](https://user-images.githubusercontent.com/73545194/109308986-aafec300-787d-11eb-98fb-0d7754586903.png)

**14 days**
![image](https://user-images.githubusercontent.com/73545194/109309016-b4882b00-787d-11eb-93d4-a00a76234277.png)

**28 days**
![

[2021-02-26 14:39] eugene-manuilov commented on #2842
@felixarntz this is ready for IB review. I have a question regarding the following:

What do you mean by "click between"? How we can determine whether it has been clicked between or not between bubbles? :thinking:

Can you check #2884? It is a prototype that implements the logic explained in the AC but uses a slightly different approach than detecting clicks between bubbles. Please, let me know if

[2021-02-26 15:25] aaemnnosttv commented on #2579
@felixarntz I don't see anything in the IB about the customization of the disconnect modal which would likely require significant changes to implement. Is this still a requirement?

[2021-02-26 15:35] tofumatt commented on #2876
Release tested and working well for me. 👍🏻

[2021-02-26 16:05] wpdarren commented on #2876
Due to starting smoke testing late due to completing QA on tickets, I would like another 45 minutes to complete smoke testing, and will do this Monday morning my time.

[2021-02-26 16:42] felixarntz commented on #2240
@aaemnnosttv @ivankruchkoff @cole10up I am still unable to get any difference to show up. I double-checked the API response data that I get back between the last release and latest `master`, and the numbers match entirely.

Can you please check the following?

1. Make sure the Site Kit tester plugin is disabled, or that all feature flags are deactivated.
2. Use a production build of `master`.
3. C

[2021-02-26 16:45] felixarntz commented on #2852
Thanks @benbowler, IB ✅

[2021-02-26 16:46] felixarntz commented on #2857
IB ✅

[2021-02-26 16:47] felixarntz commented on #2844
IB ✅

[2021-02-26 16:48] aaemnnosttv opened #2885 "Long drop-up menus may have some unselectable items"
## Bug Description

Our `Select` component will automatically show its select options in a "drop-up" menu rather than a dropdown based on its position in the viewport (and probably the number of items within).

This has the potential to result in a situation where some items are un-click/select-able because they are behind the main Site Kit header element.

## Steps to reproduce

This is not speci

[2021-02-26 16:49] felixarntz commented on #2794
Awesome to improve this holistically - IB ✅

[2021-02-26 17:26] ivankruchkoff commented on #2240
@felixarntz try again 7pm Pacific time, or maybe 9pm. This bug is time dependent. Yesterday in the morning with @aaemnnosttv I couldn't repro, and in the evening I could. Here is how the data looks now:
<img width="612" alt="Screen Shot 2021-02-26 at 9 25 37 AM" src="https://user-images.githubusercontent.com/373931/109333770-b79b0100-7814-11eb-96c3-201befd2bd28.png">

[2021-02-26 17:59] aaemnnosttv opened #2886 "User input responsive enhancements"
## Bug Description

This is a catch-all issue for responsive enhancements for the user input flow, particularly on viewports smaller than desktop.

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/109336000-7550de80-786b-11eb-8823-3a92c72a0a8f.png)
_Right alignment of blurb and buttons is a bit odd at this viewport size_

---------------

_Do not alter or remove anything

[2021-02-26 18:01] felixarntz opened #2887 "Migrate all components to use GoogleChartV2 component instead of GoogleChart"
#2714 introduced a new `GoogleChartV2` component and started using it, mostly in the All Traffic widget. However, the old `GoogleChart` component is still in use, and it has previously caused conflicts. While we've resolved those, we should sooner than later completely phase out usage of the old component (and its way of loading the charts library via PHP).

---------------

_Do not alter or remov

[2021-02-26 18:03] felixarntz commented on #2240
@ivankruchkoff Ah okay, I'll check again later then!

[2021-02-26 18:08] aaemnnosttv commented on #2852
@felixarntz I was just looking this over with @benbowler and was thinking we probably don't want to add a user query to the base data since this will run on every admin page if I recall. I have some ideas what we could do but wanted to confirm that this would be something to avoid, correct?

[2021-02-26 18:21] aaemnnosttv opened #2888 "Analytics view selection not preserved by useExistingTagEffect for properties with multiple views"
## Bug Description

The `useExistingTagEffect` in Analytics will set/select the account and property for an existing detected Analytics property, either from a tag on the page or GTM container tag. Due to logic in the `selectProperty` action which clears the current profile (view), this has the effect of selecting the first profile whenever Analytics settings are edited.

https://github.com/google

[2021-02-26 18:24] aaemnnosttv commented on #2240
@felixarntz I thought maybe this had something to do with the legacy `withData` components using a 1 day TTL (`maxAge`) on their requests, but @cole10up showed it to me earlier today, even resetting Site Kit in between so it's definitely time related with the API responses.

[2021-02-26 18:30] eugene-manuilov commented on #2876
LGTM :+1:

[2021-02-26 18:37] aaemnnosttv commented on #2693
@felixarntz This still happens when Site Kit isn't using the proxy, it just happens in a different place which is specific to the legacy flow:
https://github.com/google/site-kit-wp/blob/5268ae9f21e589a8c3104a4d98f63b372a88a916/includes/Modules/Site_Verification.php#L186
https://github.com/google/site-kit-wp/blob/5268ae9f21e589a8c3104a4d98f63b372a88a916/includes/Modules/Site_Verification.php#L227

[2021-02-26 21:19] adamsilverstein commented on #2817
Yes, I think we could do a check on the front end to see if the snippet is being placed as expected, then use the results to help the user.

[2021-02-28 04:10] felixarntz commented on #2240
@aaemnnosttv @ivankruchkoff @wpdarren Tested this again around 8pm PT (2021-02-27), now indeed the numbers are different. This appears to happen for the following reason:
* For both Analytics and Search Console, `master` returns data from `2021-01-02` until `2021-01-26` (`2021-01-30` until `2021-02-26` for main date range, `2021-01-02` until `2021-01-29` for compare date range).
* For both Analyti

[2021-02-28 22:19] wpdarren commented on #2240
### QA Update: ✅

Looking at QAB, it suggests that the dashboard widget section should look identical, but as discussed at length, I can see that the numbers are different. Reading the last comment by @felixarntz I am assuming the master figures are correct and the difference is to be expected due to API/data.

**Master**
[Screenshot](https://user-images.githubusercontent.com/73545194/109435433-6c

[2021-02-28 23:18] wpdarren commented on #2876
LGTM

[2021-03-01 08:54] asvinb commented on #2846
Thanks @felixarntz . IB has been updated. Can you check again?

[2021-03-01 09:24] aaemnnosttv commented on #2724
Giving this a bit of a larger estimate since it isn't clear exactly what's needed to fix the `Method ReflectionParameter::isArray() is deprecated` problem. We've seen this when PHP 8 was first introduced and it's raised by method calls within PHPUnit when creating mocks, so there is nothing in our tests to update.

WordPress core recently back-ported some fixes for this into its PHPUnit library bu

[2021-03-01 09:43] aaemnnosttv commented on #2747
IB ✅  😄

[2021-03-01 09:56] aaemnnosttv commented on #2529
The IB is pretty close, with a few things to iterate on:
* Let's use the current screen (`WP_Screen`) to for the logic in the conditional rather than query params
* We can't simply concatenate the title with the value coming through the filter. We should translate this [as its done in core](https://github.com/WordPress/WordPress/blob/630a593765af5a325d4954302f2375fca41da2b2/wp-admin/admin-header.p

[2021-03-01 12:03] abdullah1908 opened #2891 "Analytics Account Sign Up page is cut off at bottom when a user setup an account on Analytics"
## Bug Description
Analytics Sign Up bottom page cut off when user lands from the Site Kit. User can't proceed next while setting up account.
## Steps to reproduce

1. Go to Analytics Settings Page
2. Click on new account
3.  Go to the Analytics page & you'll see bottom page is cut off.

## Screenshots

Please see [recording](https://www.loom.com/share/25be700e342744d08d7ec3cdcd211e29) while setti

[2021-03-01 12:47] eugene-manuilov commented on #2529
@aaemnnosttv @felixarntz I have a question: why do we add the splash screen page when the user already has permissions? What's the point to have it? I think if the user already has permissions, we should redirect them to the dashboard page instead of showing the splash screen again and confuse users. What do you think?

[2021-03-01 14:50] eugene-manuilov commented on #2812
@felixarntz this is ready for IB review. The IB is slightly different from what is expected in the AC. Let me know if it works for you. As to the `errorToStatus` function changes, I think it won't be needed because that function shows errors with `noAdSenseAccount`, `disapprovedAccount`, and `accountPendingReview` reasons (the error in this ticket has `noFound` reason).

[2021-03-01 17:19] cole10up commented on #2876
All set on my side. ✅

[2021-03-01 17:38] tofumatt commented on #1647
IB ✅

[2021-03-01 17:59] #2648 closed

[2021-03-01 17:59] #2533 closed

[2021-03-01 17:59] #2856 closed

[2021-03-01 17:59] #2683 closed

[2021-03-01 17:59] #2647 closed

[2021-03-01 17:59] #2777 closed

[2021-03-01 17:59] #2790 closed

[2021-03-01 18:00] #2797 closed

[2021-03-01 18:00] #2743 closed

[2021-03-01 18:00] #2748 closed

[2021-03-01 18:00] #2688 closed

[2021-03-01 18:00] #2756 closed

[2021-03-01 18:00] #2721 closed

[2021-03-01 18:00] #2814 closed

[2021-03-01 18:00] #2689 closed

[2021-03-01 18:00] #2670 closed

[2021-03-01 18:00] #2287 closed

[2021-03-01 18:00] #2513 closed

[2021-03-01 18:00] #2456 closed

[2021-03-01 18:00] #2722 closed

[2021-03-01 18:00] #2095 closed

[2021-03-01 18:00] #2646 closed

[2021-03-01 18:00] #2602 closed

[2021-03-01 18:00] #942 closed

[2021-03-01 18:00] #2740 closed

[2021-03-01 18:00] #2714 closed

[2021-03-01 18:00] #2737 closed

[2021-03-01 18:01] #2240 closed

[2021-03-01 18:01] #2734 closed

[2021-03-01 18:06] #2876 closed

[2021-03-01 18:07] #2594 closed

[2021-03-01 18:09] #2288 closed

[2021-03-01 18:12] aaemnnosttv opened #2896 "Use icon for user input keyword list item delete button"
## Feature Description

The keyword bubble items on step 5 of the user input flow currently use the character `x` in the close/delete button. This would be better to use a real icon. It's important that the colors are preserved though.

| Hover | Focus |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/1621608/109538760-243e2600-7ac9-11eb-9fbd-0cebd6d3076d.png) | ![image](https:/

[2021-03-01 18:42] aaemnnosttv opened #2897 "Clarify requirement of "Other" value when choice is selected"
## Feature Description

It isn't currently obvious that the text input for a choice of "Other" is required to be a valid choice. This should be visually enhanced, possibly using a placeholder and or an added validation state on the input.

![Kapture 2021-03-01 at 20 39 51](https://user-images.githubusercontent.com/1621608/109542872-50a87100-7ace-11eb-9cd6-b2011e4a90e3.gif)

[Storybook](https://goo

[2021-03-01 20:04] epushor commented on #2812
having the same bug.

[2021-03-01 20:11] jamesozzie opened #2899 "Incorrect number formatting on Site Kit dashboards"
As [reported in the support forums](https://wordpress.org/support/topic/weird-number-format/#post-14118549) the number formatting output on the Site Kit dashboards is not correct making use of the the thousands (k) figure.

![image](https://user-images.githubusercontent.com/41326532/109551531-982bfe80-7ac8-11eb-8571-9bfd354674c5.png)

![image](https://user-images.githubusercontent.com/41326532/109

[2021-03-01 21:11] bethanylang commented on #2812
Thank you for letting us know, @epushor. We are working on a fix for this issue. Please follow this issue for further updates.

[2021-03-01 21:39] ivankruchkoff opened #2900 "User Input: Can't Delete Search Terms with Keyboard"
## Bug Description

When I fill out search terms, I can't then delete them with the backspace/delete key.

## Steps to reproduce

1. Go to user input flow
2. Get to 5/5 search terms
3. Fill out some search terms
4. Try and delete with backspace
5. See that search terms don't get deleted

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Pl

[2021-03-01 21:44] ivankruchkoff opened #2901 "User Input: Add label for keyword input"
## Feature Description

The keywords `input` has no label because it renders the `label` attribute on the `TextField` as a `placeholder` HTML attribute. This isn't accessible, so let's add a label.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Because the `label` prop supplied to the `TextField` comp

[2021-03-02 00:14] ivankruchkoff opened #2902 "User Input: Allow Other without detail in How often do you create new posts for this site?"
## Feature Description

For **How often do you create new posts for this site?** Allow **Other** without specifying details.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* For **How often do you create new posts for this site?** Allow **Other** without specifying details.

## Implementation Brief

*

[2021-03-02 00:23] ivankruchkoff opened #2903 "Allow only one button to be in hover/active/click state."
## Feature Description

We currently have three button states, **Normal**, **Hover**, and **Click**.  Normal can change to **Click** state via **Hover** but we shouldn't ever have more than one button in Hover/Click state.

<img width="408" alt="button-states" src="https://user-images.githubusercontent.com/373931/109577069-d36b0500-7aa9-11eb-9409-d1e3c96c4720.png">

---------------

_Do not alter

[2021-03-02 11:02] aaemnnosttv opened #2904 "All traffic widget styles inconsistent in Storybook"
## Bug Description

The styling of the all traffic widget in Storybook is inconsistent with the styles in WordPress which show correctly.

This is due to its styles being coupled to its `widgetSlug` which is not consistent in Storybook (see `generateReportBasedWidgetStories`). This may only affect the tab bar which is the most obvious, but it may affect other parts as well.

See the current compon

[2021-03-02 14:20] bethanylang commented on #2280
@abdullah1908 Can I get an update on testing for this one? Thanks!

[2021-03-02 14:21] bethanylang commented on #2349
@jamesozzie Since @abdullah1908 is unable to reproduce, should this go to L2?

[2021-03-02 14:25] bethanylang commented on #2862
Thanks, @abdullah1908! Since this is replicable, does that mean it's ready to go to the Execution board? cc @jamesozzie

[2021-03-02 14:30] abdullah1908 commented on #2280
@bethanylang in the latest activity I couldn't reproduce this issue.

[2021-03-02 14:36] bethanylang commented on #2280
Thanks @abdullah1908. I'm working on writing up a clearer process for L1 > L2 escalation, but in the meantime, please tag me in an issue if you cannot reproduce so I can escalate.

[2021-03-02 14:40] bethanylang commented on #2280
@adamsilverstein Passing over to you for L2 review.

[2021-03-02 14:45] bethanylang commented on #2628
@jamesozzie Any update here?

[2021-03-02 15:02] jamesozzie commented on #2628
@bethanylang No update from the user impacting, with their site not found on the service. As I believe this is an edge case lets close this one. We can reopen if this is raised by another user.

[2021-03-02 15:02] #2628 closed

[2021-03-02 16:41] jordane2086 opened #2905 "Issue with SiteKit plugin when cloning a website"
I recently cloned my site to test developing a demo site. With this, since I cloned it the old site disconnected from sitekit and keeps pulling the new site up in Analytics rather than the actual domain/website it is on. I deleted the cloned site and the issue still persists. As well as clearing cache, server cache, etc. nothing helps. Anyone have a fix for this?

[2021-03-02 17:09] jamesozzie commented on #2905
Hi @jordane2086. It sounds like your old site which is registered on the Site Kit service could be resulting in issues with your cloned site. If you'd like to pop over and [create a WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) we can assist from there. We can re-open this GitHub issue if necessary after performing some troubleshooting steps., which may i

[2021-03-02 17:09] #2905 closed

[2021-03-02 17:14] jordane2086 commented on #2905
Thank you. I found that there was a button within the plugin that allowed
me to clear the plugin settings/data and then I restarted the plugin set up.

Warm Regards

Jordan Erickson

Creative Director, Conceptualized Design
www.ConceptualizedDesign.com <https://www.conceptualizeddesign.com/> | Schedule
a consult <https://calendly.com/conceptualized-design>
+1.785.236.1777 <+17852361777>

Need to s

[2021-03-02 17:34] jordane2086 commented on #2905
Will do, thank you!

Warm Regards,

Jordan Erickson

Creative Director, Conceptualized Design
www.ConceptualizedDesign.com <https://www.conceptualizeddesign.com/> | Schedule
a consult <https://calendly.com/conceptualized-design>
+1.785.236.1777 <+17852361777>

Need to submit a Support, Update, or Change Request? Click Here
<https://clients.conceptualizeddesign.com/support/>, or email us at:
Suppor

[2021-03-02 18:14] aaemnnosttv commented on #2554
@eugene-manuilov would you please add a QA Brief?

[2021-03-02 18:18] aaemnnosttv opened #2907 "User Input: "Other" choice not required when multiple"
## Bug Description

Steps 3 and 4 of the user input flow allow multiple choices with an option to provide an "other" value. The  single-option steps that offer an option to provide "Other" all require a non-empty, non-whitespace value to be provided.

## Steps to reproduce

1. Enable `userInput` feature
1. Start user input flow
2. On step 3 or 4 select one less than the required number of choices

[2021-03-02 18:19] felixarntz commented on #2907
@aaemnnosttv Did we decide here that entering something should _not_ be required? Not sure I recall; there's definitely the issue of visibility of the input, but I'm not sure about this one here.

[2021-03-02 18:22] felixarntz commented on #2067
IB ✅

[2021-03-02 18:23] felixarntz commented on #2068
IB ✅

[2021-03-02 18:26] felixarntz commented on #2846
IB ✅

[2021-03-02 18:32] felixarntz commented on #2812
@eugene-manuilov A few comments for the IB:

Let's not do this kind of refactoring here, as it's unrelated; we can think about doing that, but should be in its own dedicated issues. Having a utility function vs selector is an architectural decision we should discuss separately. For now, let's work with the existing approach.

This function _does_ need to be modified because it is also used elsewhe

[2021-03-02 18:33] aaemnnosttv commented on #2907
@felixarntz you'll have to check with @marrrmarrr. I'm also not sure but it's similar/related to #2897 in that it allows an empty value where others do not. So one way or the other it's inconsistent.

[2021-03-02 18:43] felixarntz commented on #2842
@eugene-manuilov The current IB doesn't really describe how to do it; that can be okay if the work is fairly trivial or if the PR easily shows it, but I wasn't able to build it locally due to a `Can't resolve '../../../svg/close.svg'` error - can you check? Overall I think a bit of explanation would help.

In principle we should be able to listen to where the user clicked (or otherwise navigated)

[2021-03-02 18:48] felixarntz commented on #2841
@asvinb Yes, that spacing should be removed even though it is in the original Figma design. However, **it should only be removed anywhere where it is below a text field** (i.e. only the last question right now); the indentation makes sense when it is below a list of radio buttons or checkboxes, where it matches the indentation of the text above, but it looks weird when below a full-width text inpu

[2021-03-02 19:01] bethanylang opened #2908 "Update "Your site may not be ready for Site Kit" messaging to reflect all cases"
## Bug Description

As discussed in our 2 March Site Kit support meeting, the following error message appears after a user initially activates the Site Kit plugin:

_Your site may not be ready for Site Kit
Looks like you may be using a caching plugin which could interfere with setup. Please deactivate any caching plugins before setting up Site Kit. You may reactivate them once setup has been compl

[2021-03-02 19:27] jamesozzie commented on #2349
@bethanylang Based on similar reports and from information kindly [provided by one user](https://wordpress.org/support/topic/site-kit-encountered-an-error-21/#post-14124449) it looks like this can occur in situations whereby a site was previously setup on another domain and then possibly migrated, or the site URL may have changed.

Awaiting additional insights from end user before further action.

[2021-03-02 19:32] bethanylang commented on #2349
Great, thank you for the update @jamesozzie!

[2021-03-02 21:24] felixarntz commented on #2865
After revisiting this, potentially the ACs here are actually incorrect and this may not be an issue at all:
* Analytics API already only includes rows that have data (greater than 0) by default (see https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet#ReportRequest.FIELDS.include_empty_rows).
* The reason "Social" is included in the above screenshot is becau

[2021-03-02 21:35] felixarntz commented on #2852
@aaemnnosttv There is now a PR for this by @eugene-manuilov that looks solid against the ACs / IB, but I agree it would be great to avoid that. Can you share your ideas, either here or on the PR #2906?

[2021-03-02 21:40] felixarntz commented on #2838
@eugene-manuilov Can you please add a QA Brief?

[2021-03-02 22:09] felixarntz commented on #1378
This has been completed for a while. Closing.

[2021-03-02 22:09] #1378 closed

[2021-03-02 22:16] felixarntz commented on #2902
@ivankruchkoff Which original task does this relate to? I think this should be handled together with #2897 instead.

[2021-03-02 22:54] jamesozzie opened #2909 "Site Kit outputting Analytics snippet by default - on sites with existing Analytics snippets"
## Bug Description

At present when a user already has an existing Analytics snippet placed on their site there are duplicate snippets output if a user then chooses to connect the Analytics module within Site Kit. The toggle to "Let Site Kit place code on your site" is toggled on by default - although a user would not be unaware as these configuration options are not available until a user revisit

[2021-03-02 23:02] jamesozzie opened #2910 "Remove the option to include / exclude logged in users when the Analytics snippet is not placed via Site Kit"
## Bug Description

Some Site Kit users may have their Analytics snippet placed manually or via another plugin before connecting the Analytics module within Site Kit. They may have included the logged in user opt-out snippet snippet via another plugin or manually.

While even the presence of one opt-out snippet will respect the users choice to not include logged in traffic let's consider or start

[2021-03-02 23:06] jamesozzie commented on #2909
@felixarntz Let me know if you want to open a separate GH issue in relation to the configuration options not appearing upon initial Analytics setup (when an existing snippet already exists before SK setup)

[2021-03-02 23:41] ivankruchkoff opened #2911 "Upgrade npm dependency"
## Feature Description

Our package-lock.json lockfileVersion is at version 1, ( see https://raw.githubusercontent.com/google/site-kit-wp/develop/package-lock.json ```  "lockfileVersion": 1,``` ).

Our .nvmrc specifies node 14 but doesn't specify a version of npm. NPM 6 is bundled with the release, but there's nothing stopping you from doing `npm i -g npm@7`

NPM v7 has an updated package lockfile

[2021-03-03 08:19] aaemnnosttv commented on #2852
Sure thing @felixarntz – I left a review on it with my thoughts and some alternate approaches. It would be great if you could weigh in there with your thoughts before sending this back into execution to avoid additional back and forth. Assigning to you for review 👍

[2021-03-03 10:58] eugene-manuilov commented on #2842
@felixarntz this should be fixed now. I forgot to push that file. Could you please try it again? I think it should satisfy your requirements except for the logic with clicks between bubbles. Please, let me know if the implemented logic is sufficient or not.

[2021-03-03 10:59] aaemnnosttv commented on #2865
@felixarntz [we include empty rows in our results](https://github.com/google/site-kit-wp/blob/0075f6de4035b67d5830ada399bbc8cdca9c5a37/includes/Modules/Analytics.php#L945) though because it was causing problems before without it. I don't think this would make a difference though, would it?

[2021-03-03 11:25] eugene-manuilov commented on #2554
@aaemnnosttv added and marked as `QA: Eng` since there are no visual changes.

[2021-03-03 11:34] eugene-manuilov commented on #2812
@felixarntz ok, updated. Ready for review.

[2021-03-03 13:34] cnxsoft commented on #2782
I've now selected "create a new property" or similar wording in Google Site Kit. It went through and I can see the GA code on my website, but Site Kit reports "Request parameter is empty: metrics", and no data shows in Google Analytics after several days. I'm not sure this is related or a completely different issue.

[2021-03-03 14:20] jamesozzie commented on #2782
Many thanks for sharing the additional video, which was great to see what's occurring. With this I'm going to escalate this issue while also updating the primary details.

In relation to the additional error message I wonder is there something at Analytics account level impacting this behavior, considering this doesn't occur with all accounts. The following checks may be of use:
- Do you have any

[2021-03-03 15:16] wpdarren commented on #2774
@johnPhillips @felixarntz just wondering if this has merged successfully?

Still seeing the source Adsense links in the module, rather than Google reports.

Tried this on the `develop` branch and also with `development build` using the tester plugin.

![image](https://user-images.githubusercontent.com/73545194/109827097-68baf480-7c76-11eb-9d8c-22242efe382e.png)

[2021-03-03 15:19] felixarntz commented on #2774
@wpdarren did you activate the widgets.dashboard feature flag? By now, it is irrelevant which build you're using, it's now all controlled through the feature flag check boxes in the tester plugin.

[2021-03-03 16:19] bethanylang commented on #2862
Moving to Execution and reassigning.

[2021-03-03 16:38] eugene-manuilov commented on #2838
QA Brief is added.

[2021-03-03 16:51] aaemnnosttv commented on #2897
@felixarntz @tofumatt I helped @Hazlitte a bit with this being his first IB so it would be great if one of you would take the review 👍

[2021-03-03 17:00] felixarntz commented on #2812
IB ✅

[2021-03-03 18:25] aaemnnosttv commented on #2554
@eugene-manuilov I think we should be able to QA this without an engineer. We after ensuring Analytics works as usual using a matching property and reference URL, we can update the reference URL, clear the cache and load it again and Analytics should then show zero data because the data would be filtered out.

[2021-03-03 18:48] eugene-manuilov commented on #2554
@aaemnnosttv ok, is it better now?

[2021-03-03 18:58] aaemnnosttv opened #2913 "Async compatibility checks make E2E unstable"
## Bug Description

In #2255 we refactored the `CompatibilityChecks` component for consistency with our latest standards and practices. Part of this refactoring involved extracting the checks that it provides into a generic `useChecks` hook. This changed the way checks were previously run in series (sequentially) to running them all at once. This is a bit more time-efficient as each check doesn't

[2021-03-03 21:02] abdullah1908 opened #2915 "Site Kit Blog News on WordPress Event and News Dashboard Widget"
## Feature Description

Suggestion to add [Site Kit News](https://sitekit.withgoogle.com/news) on WP Event and News Dashboard widget. It'd be useful for the Site Kit users to see the latest updates.
## Acceptance criteria

*

## Implementation Brief

- We can use [`dashboard_primary_feed`](https://developer.wordpress.org/reference/hooks/dashboard_primary_feed/) hook to implement. It seems feed is

[2021-03-03 23:08] felixarntz commented on #2693
@aaemnnosttv Ah thanks for clarifying - my bad, that makes sense.

[2021-03-04 02:24] cnxsoft commented on #2782
There are no filters.
I've tried with another admin account and the same issue occurs.
I've also connected PageSpeed to see what happens, and another message shows up:
"Error: Request parameter is empty: strategy."

[2021-03-04 03:24] ivankruchkoff commented on #2739
@felixarntz / @aaemnnosttv Thanks for the clarification in the comments.

I've gone through and updated the IB, with the idea that:
1) All tooltip tours can be stored in `/assets/js/tooltip-tours/`
2) We can add some config params that determine minVersion, and context to render the tooltip in.
3) The selector has the smart logic to take all of the tooltip tours and filter out any that don't match

[2021-03-04 09:18] aaemnnosttv commented on #2554
Super! Thanks @eugene-manuilov 👍

[2021-03-04 11:06] Hazlitte commented on #2829
### QA  ✅
Works exactly as described in the QA Brief.

[2021-03-04 13:04] wpdarren commented on #2774
@felixarntz I didn't but no one had communicated that to me.  I will relook at this testing.

[2021-03-04 13:22] wpdarren commented on #2747
### QA update: Pass ✅

On the Search Console module page, with a 'last 90 days' date range, the chart at various screen widths, none of the horizontal axis labels truncate.

![image](https://user-images.githubusercontent.com/73545194/109969257-aa0edb00-7d2e-11eb-8275-fac67602a019.png)

@aaemnnosttv I do want to make an observation that on a 27" monitor with 2560 × 1440 pixels the labels start to l

[2021-03-04 13:54] wpdarren commented on #2794
### QA Update: Engineer to Confirm ⚠️

@aaemnnosttv @felixarntz

This passes the QAB, but I decided to try break this and noticed if I am a new Site Kit user (or disconnect and reset data) when I am directed to the Site Kit Dashboard, the warning on Google Adsense does appear but, the `connect service` link appears.

![image](https://user-images.githubusercontent.com/73545194/109973094-f3612980-7d

[2021-03-04 14:07] tofumatt commented on #2897
Approach here looks good, but I have a few notes. 🙂

1. There was mention of adding a `placeholder` attribute here, that might be helpful. Relatedly, I noticed there's no `label` attribute for the "Other" input:

<img width="651" alt="Screenshot 2021-03-04 at 14 03 42" src="https://user-images.githubusercontent.com/90871/109975351-7746f180-7cf2-11eb-827d-34bbda8bde78.png">

That's not great anyway

[2021-03-04 14:14] wpdarren commented on #2774
### QA Update: Pass ✅

**Verified:**

Within Site Kit Dashboard, the Adsense source links lead to the relevant reports in the Google service frontend.

![image](https://user-images.githubusercontent.com/73545194/109976325-9c5d5380-7d36-11eb-8058-818211c2d7c8.png)

[2021-03-04 14:22] Hazlitte commented on #2509
QA ✅
I tested npm builds and watch and edited a few different files with linting errors.  All errors were caught.

[2021-03-04 14:45] wpdarren commented on #2827
@Hazlitte @aaemnnosttv first time using Tag assistant extension, but I enabled it for tracking.

I am unsure what this means:

`Check custom metrics in Tag Assistant for Dimension 5 being with a list of the enabled features`

Please could you clarify the steps or, provide a screenshot of what I should be seeing?

![image](https://user-images.githubusercontent.com/73545194/109980780-3aebb380-7d3b-1

[2021-03-04 14:58] Hazlitte commented on #2897
Thanks @tofumatt, I have updated the brief from your notes.

[2021-03-04 16:50] abdullah1908 commented on #2782
@jamesozzie I am unable to reproduce this issue by following the steps with the same property & account on the subdomain.

Please see screenshots for main domain & subdomain.
![parent-domain-analytics-properties](https://user-images.githubusercontent.com/14175927/109998944-8f8b3080-7d33-11eb-94e6-7f7201b17b63.png)
![subdomin-analytics](https://user-images.githubusercontent.com/14175927/109998954-9

[2021-03-04 17:10] Hazlitte commented on #2827
@wpdarren In the Tag Assistant select the Google Analytics tag -> Events ->Custom Metrics.  Then you should see Dimension 5.
![Screenshot 2021-03-04 at 17 06 56](https://user-images.githubusercontent.com/5174233/110001625-7458fa80-7d0c-11eb-83f3-f392f7398d3d.png)

[2021-03-04 17:39] adamsilverstein commented on #2817
@jamesozzie I updated the title/description to describe the overall problem and a potential solution; I left your original description just below that. Moving to prioritization.

@felixarntz this ticket proposes adding detection of our own tags being placed when enabled, and warning users when there is an issue.

[2021-03-04 17:55] tofumatt commented on #2897
This still mentions

I think what this means is that if the text field is clicked when the "Other" checkbox isn't checked, then blur the input selection so the user can't type in it. But it'd be better to set the `<Input />`'s `disabled` prop to be `true` when the "Other" checkbox isn't activated and there are already two active selections elsewhere. That way the user can't interact with the text

[2021-03-04 18:46] felixarntz commented on #2907
@aaemnnosttv Talked through this with @marrrmarrr: Entering something here should always be required.

[2021-03-04 18:49] felixarntz commented on #2902
@ivankruchkoff After talking through this with @marrrmarrr, it was clarified that the "Other" option should _always_ require text input. This is already covered via #2907, so this issue here should be a `wontfix` / `invalid`.

[2021-03-04 18:49] #2902 closed

[2021-03-04 19:07] aaemnnosttv commented on #2794
@wpdarren regarding the UX issue you found, this may have been a regression at some point 🤔
It's a good question but it shouldn't block this issue since it's not related to the changes here. Let's open that as a new issue 👍

We don't have a specific list of adblockers that we support but all the major ones like AdBlock (Plus), AdGuard, uBlock Origin are the ones that come to mind for me.

[2021-03-04 20:25] felixarntz commented on #2739
@ivankruchkoff The updated IB looks great! Some follow-up feedback:

Sounds great, can you incorporate that into the IB?

**Priority** - If we want to show two tooltips in a given context (e.g. Dashboard), to be able to specify which one should load first, this can be denoted as config.priority.

That sounds like a great idea, _if_ we want to show multiple tooltip tours together, i.e. in a single

[2021-03-04 22:40] ivankruchkoff commented on #2739
Agreed, priority can be added later if needed, and the selector can then return the first matching tour based on priority if we need it.

- Changed `getCurrentTourTooltips` to `getCurrentTourTooltip`, because the component is called TourTooltip (in #2835)
- Added the shape we return { tourID: 'string', steps: 'array' }, or {} if no tour.
- Renamed minVersion to introducedVersion, no point for maxV

[2021-03-04 23:00] felixarntz commented on #2739
@ivankruchkoff

This should remain as it previously was; the overall component is called `TourTooltips`, and this selector does (and should) return multiple tooltips.

This would only work if the selector was returning tooltips for a single tour all the time, but as mentioned before we should prepare it for supporting multiple tours; therefore IMO an array of tooltips/steps, where each entry has t

[2021-03-04 23:07] felixarntz commented on #2842
@eugene-manuilov Behavior in the PR looks good to me after testing, that should do it; just a bunch of things regarding the styling is not implemented yet, but you mentioned already that this was only due to this being a draft PR - IB ✅

[2021-03-05 00:19] ivankruchkoff commented on #2739
Updated per last feedback.

[2021-03-05 03:12] cnxsoft commented on #2782
My main domain (cnx-software.com) works with Site Kit and the same account, but it's on another server with 4GB RAM with Ubuntu 18.04 32-bit.
My current server for th.cnx-software.com has 512MB RAM with Ubuntu 20.04 64-bit. Could this be related?

[2021-03-05 07:43] cole10up commented on #2554
### QA ✅

Ran a series of regression tests around the Analytics module, changing my reference URL and confirming Analytics reflect the current domain.

Analytics module without reference URL adjusted:
![image](https://user-images.githubusercontent.com/57115907/110082917-da607480-7d42-11eb-9ea2-4f9af11b7bd3.png)

Reference URL adjusted:
![image](https://user-images.githubusercontent.com/57115907/11

[2021-03-05 10:01] aaemnnosttv commented on #2837
@felixarntz I believe you said a value for Other should always be required. This issue isn't about this validation but the ACs make it sound like this is okay. Assigned to you in MR to confirm.

[2021-03-05 10:06] tofumatt commented on #2913
Nice find! 👍🏻

Part of me wonders about only running them sequentially in "test mode" or something, but they're not a common point-of-contact in the app so even if the sequential version is a bit slower in-use it's a rare thing and that's probably fine. 🙂

IB ✅

[2021-03-05 10:21] aaemnnosttv opened #2919 "Use alternate Composer setup in E2E jobs for efficiency"
## Feature Description

We recently updated our E2E actions to run Composer using the `php-actions/composer` action. Using this action adds ~2 minutes to the job run because it requires building the container to use which provides both Composer v1 and v2.

This is much less efficient than how we run Composer for PHP Tests which installs Composer using `shivammathur/setup-php@v2` – which takes ~45s

[2021-03-05 12:27] abdullah1908 commented on #2782
@cnxsoft,

Thanks for updating about server stacks. Would you tell us which hosting service your are using?

We are still working on it & will let you know once we have some useful stuff to share.

Feel free to share if you find something new with the troubleshooting activity.

[2021-03-05 13:03] eugene-manuilov commented on #2919
IB :heavy_check_mark:

[2021-03-05 13:26] cnxsoft commented on #2782
@abdullah1908 I'm using Linode.

[2021-03-05 13:28] wpdarren commented on #2827
### QA Update: Pass ✅

Verified:  In dimension 5 I could see the two features that were selected in the tester plugin.

![image](https://user-images.githubusercontent.com/73545194/110121717-b2801800-7df9-11eb-9a4e-c6977e8900c0.png)

[2021-03-05 13:52] wpdarren commented on #2794
### QA Update:  Fail ❌

@aaemnnosttv With uBlock Origin Chrome extension activated, I am able to connect Adsense from within the settings. The adblocker warning does not appear.

![image](https://user-images.githubusercontent.com/73545194/110124284-dabd4600-7dfc-11eb-82e9-33a10b03266d.png)

**Verified:**

AdBlock (Plus), AdGuard:  While AdSense is inactive, and the page with adblocker extension is

[2021-03-05 15:46] jamesozzie opened #2924 "Looping back to Site Kit setup screen after following "Sign in with Google" steps"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/sign-in-loop/#topic-14086343-replies) one user is unable to setup Site Kit, after clicking on the sign in with google the user is being redirected to the primary Site Kit setup page.

This site was used previously on a staging site, with Site Kit possibly setup at some stage on this staging site,

[2021-03-05 16:36] eugene-manuilov commented on #2842
@asvinb can you help me with styles for this ticket? I have implemented the logic but styles are still off.

[2021-03-05 17:18] aaemnnosttv commented on #2794
Thanks @wpdarren – I've opened #2925 which adds another layer of adblocker detection that properly detects uBlock (and probably many others).

Assigning to @felixarntz to review the follow-up.

[2021-03-05 17:21] felixarntz commented on #2739
Excellent, IB ✅

[2021-03-05 17:29] felixarntz commented on #2612
@ivankruchkoff Can you add a QA Brief to this one? It can be relatively engineer-focused since the changes here are mostly of technical nature and they shouldn't have a user-facing impact.

[2021-03-05 17:59] eugene-manuilov commented on #2660
QA :heavy_check_mark:

[2021-03-05 18:03] eugene-manuilov commented on #2653
QA :heavy_check_mark: All looks as intended.

[2021-03-05 18:06] aaemnnosttv commented on #2578
Nice work @felixarntz ! This will be a much better developer experience 👍

A few thoughts on the IB as it is now:

I think we have as much flexibility as we need without introducing this logic:
* This is why we ship a `phpunit.xml.dist` file and ignore the default `phpunit.xml`. A developer can then copy and customize the entire config.
* Supporting alternate values for `WP_TESTS_DIR` or `WP_DEVEL

[2021-03-05 18:32] aaemnnosttv commented on #2529
@eugene-manuilov – users shouldn't really land on this page in this state unless they navigated directly to it (from browser history perhaps?). I have found it useful to test things before by being able to navigate directly to it without disconnecting first, but I don't know if that is reason enough to keep this.

I agree that the issue as-is does not fix the the root cause, so a redirect to the d

[2021-03-07 16:07] Pranav0180 commented on #1412
I use Ithemes Security plugin and I'm facing the same issue, is it possible that Ithemes may be blocking the google site kit? How may I fix this?

[2021-03-08 06:48] ivankruchkoff commented on #2828
There is an easier and hackier fix for this to do this:

1) Insert the disabled attribute here:
https://github.com/google/site-kit-wp/blob/e3bf45b2b2e06227505c77350e21b3fecfd482b4/assets/js/components/user-input/UserInputSelectOptions.js#L120
`disabled={ max > 1 && values.length >= max && ! values.includes( other ) }`

[code]

2) Trigger the onClick handler here:
https://github.com/google/site-kit

[2021-03-08 08:05] asvinb commented on #2841
Sounds good @felixarntz . IB updated.

[2021-03-08 09:29] aaemnnosttv commented on #2828
@ivankruchkoff – the issue is in IBR but the IB is blank; did you forget to save perhaps? 😄

[2021-03-08 10:42] Hazlitte commented on #2897
@tofumatt Everything you have added makes great sense, thank you.  The one point that confuses me is '1 or fewer items selected, "Other" is not selected: "Other" text input is enabled.'.  Why would we enable the "Other" input if the "Other" checkbox is not selected?

[2021-03-08 10:47] abdullah1908 commented on #1412
Hey @pedro-mendonca ,

Thanks for reaching us out.

Please [open a new ticket](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) at Support Forum in addition to the [Site Health information](https://drive.google.com/file/d/11InT4iIKpf2zE4jwzWWWbwa_2N4yvd69/view) via [form](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/) privately so we can troublesho

[2021-03-08 11:26] aaemnnosttv commented on #2874
@ivankruchkoff – verification state is about the user's verification as having sufficient access to the site as provided by the Site Verification API and is not related to authentication with Google APIs which is what the ACs are referring to here.

We need to probably make a change in `OAuth_Client::authorize_user` to either:
* Capture whether or not the user had an access token or not before the

[2021-03-08 11:28] tofumatt commented on #2897
My expectation would be that the text input itself is clickable/focusable if "Other" can be selected, and clicking the text box then inputting text would automatically "check" the "Other" checkbox.

So in fact, I'd expect that "Other" is not checked when the input is _focused_, but only when it has a _value_ set. (eg once the user focuses the input AND types something into the "Other" text input.

[2021-03-08 11:36] aaemnnosttv commented on #2848
@tofumatt I think the added `id` is unnecessary if we can get a `ref` to the element.

I think we could do it entirely with a function ref since it will be called when it gets the element (or unmounts)

[code]

What do you think?

[2021-03-08 11:57] aaemnnosttv commented on #2841
* Add a new nested class name `.-no-left-margin` under the `.googlesitekit-user-input__note` class name which has left margin set to `0`.

@asvinb a few ideas about alternate approaches:

Remove the `margin-left` in the base `googlesitekit-user-input__note` and do one of these:

* Add the `margin-left` to `.googlesitekit-user-input__select-options + .googlesitekit-user-input__note` since the note

[2021-03-08 12:23] wpdarren commented on #2794
### QA Update: Pass ✅

**Verified:**

AdBlock (Plus), AdGuard: While AdSense is inactive, and the page with adblocker extension is added, there's a warning that prevents you from setup/activation from the settings > connection screen

![image](https://user-images.githubusercontent.com/73545194/110123880-6b475680-7dfc-11eb-86b6-82a7cc74fc0f.png)

[2021-03-08 12:27] wpdarren commented on #2919
@eugene-manuilov @aaemnnosttv please could you provide steps for running E2E jobs on GitHub actions, this isn't something I have done before, but happy to learn!

[2021-03-08 13:18] asvinb commented on #2841
@aaemnnosttv My preference would be the first option, i.e targeting the sibling. However like you mentioned, it's quite fragile, and am just curious if we'll ever find ourselves in a situation where we don't need to add the margin left to the help text when followed by radios/checkboxes. If we're pretty sure that won't happen, then i say, let's go for option 1, like you suggested :)

[2021-03-08 13:41] wpdarren commented on #2468
### QA Update:  ⚠️ Engineer to Confirm

@ivankruchkoff I am observing the error below when visiting the dashboard. At the point of seeing the message, Adsense was not activated. So, I went ahead and activated Adsense using the tester plugin, and the error still appeared. It seems to appear on Site Kit Dashboard and also on the Adsense screen. I don't see the message on Search Console, Analytics, e

[2021-03-08 13:55] aaemnnosttv commented on #2468
@wpdarren – this is related to the adblocker detection we updated recently and is only 404ing because you don't have a [`/favicon.ico`](https://hivevine.com/favicon.ico). 😄

[2021-03-08 13:59] wpdarren commented on #2468
@aaemnnosttv hmm I have a favicon.ico, that's part of the reason why I was confused. So, I can ignore this error message? I've used this site may times before and this message has never appeared. No Adblocker is activated on my browser. I removed them all.

[2021-03-08 14:02] aaemnnosttv commented on #2468
@wpdarren if you look, your favicon references a path in `wp-content/uploads`, not [at the root of the site](https://hivevine.com/favicon.ico).

You see this 404 because the favicon is part of a fallback detection mechanism. No need to worry about this 404 though.

[2021-03-08 14:07] tofumatt commented on #2612
QA ✅

All the steps in the QA brief checked out, thanks for the easy debugger line 😄

[2021-03-08 14:24] johnPhillips commented on #2671
@aaemnnosttv or @felixarntz - Just noticing that in these situations with widgets of width 6, I'm seeing a lot of snapshot diffs that look like this:

[code]

I haven't seen any visual regressions yet, but I'm still very much learning this part of the codebase. Is losing that tablet / desktop distinction going to be a problem?

[2021-03-08 14:25] wpdarren commented on #2468
@aaemnnosttv any chance I could have a URL for Thumbs UP SVG and Sun Small SVG?

I had a look through storybook but couldn't find them.

**Verified:**

- The Google Logo SVG loads on any dashboard with no unstyled content.
Also loads fine with Admin colour scheme plugin used.  - [Screenshot](https://user-images.githubusercontent.com/73545194/110326540-be671680-8053-11eb-9580-b460b30f4fd2.png)

![i

[2021-03-08 14:35] tofumatt commented on #2838
QA ✅

[2021-03-08 14:44] ivankruchkoff commented on #2828
Looks to be that way, added it back. Please take a look, as well as at the comment for the alternate approach.

[2021-03-08 18:55] felixarntz commented on #2874
@aaemnnosttv @ivankruchkoff Another alternative would be to introduce another action before the user receives the authorization token in WordPress, e.g. a `googlesitekit_pre_authorize_user` action. This would allow us to hook into it, check if the user has no access token, and only then hook into `googlesitekit_authorize_user`.

I think passing whether an access token previously existed with the e

[2021-03-08 19:06] abdullah1908 commented on #2782
Thanks for getting back to us.

We'll surely look into this issue again & will get back to you soon with some insights about this issue.
Happy Monday!

[2021-03-08 20:14] ChrisAntaki opened #2928 "`npm install` fails on Linux and Windows machines"
## Bug Description

`npm install` fails on Linux and Windows machines. This happens because `fsevents` only installs on Mac machines. `fsevents` is set to a `devDependency`, which is a required dependency. We can fix the issue by setting `fsevents` to an `optionalDependency` instead :sunglasses:

## Steps to reproduce

1. Run 'npm install' on Linux or Windows machine
2. See error

## Screenshots
!

[2021-03-08 20:46] felixarntz commented on #2865
@aaemnnosttv Hmm good point. I guess I'm not clear then on what would currently happen. My expectation on how it should behave is:
* If you have 0 users in a channel in both the current _and_ previous period, **it should not show**.
* If you have 0 users in a channel in the current period, but had more than that in the previous period, **it should show**.

I think the logic currently is correct. I

[2021-03-08 20:49] felixarntz commented on #2539
Ping @aaemnnosttv

[2021-03-08 20:51] felixarntz commented on #2650
@eugene-manuilov #2626 is now merged.

[2021-03-08 21:19] aaemnnosttv commented on #2841
Sounds good @asvinb

IB ✅

[2021-03-08 21:36] felixarntz commented on #2103
@eugene-manuilov Can you add a QA Brief please?

[2021-03-08 21:59] aaemnnosttv commented on #2828
Thanks @ivankruchkoff, given the two approaches, the second simpler approach is easier to follow and looks okay although we should use `ref`s if at all possible rather than querying the DOM. See next point 😄

I'm not sure if this will work without changing our `Radio` and `Checkbox` components as they don't currently pass refs to the native controls. Worth taking a look though.

Regarding this par

[2021-03-08 22:00] felixarntz commented on #2578
@aaemnnosttv

Agreed, I've adjusted that part.

Good point, adjusted to use port 9306.

I've updated the PR as well.

[2021-03-08 22:51] felixarntz commented on #2928
@ChrisAntaki Can you try this again with the latest `develop` build? This was also noticed elsewhere, and I just merged #2746 which removes `fsevents`.

[2021-03-08 22:58] ChrisAntaki commented on #2928
Excellent, #2746 fixes this issue

[2021-03-08 22:58] #2928 closed

[2021-03-08 23:24] felixarntz commented on #924
@aaemnnosttv Assigning to you for now; can you check who would want to proceed with the work that Ben started?

[2021-03-09 06:57] ivankruchkoff commented on #2828
Updated with the second approach, some cleanup, and using `ref`s if at all possible, with reference to the `Checkbox` component that may need updating.

Updated to only be the values, not the `dependencies`.

`bug/2828-other-checkbox`

[2021-03-09 08:05] cole10up commented on #2579
### **QA ✅**

**Tested**

1. Connected Analytics module with the snippet inserted
2. Connected Tag Manager module with a container using an existing universal snippet
3. Disconnected Tag Manager module

Noticed:
Analytics module functions just fine, tracking snippet is inserted - no issues.

[2021-03-09 09:49] eugene-manuilov commented on #2798
@aaemnnosttv the `WP_HTTP_BLOCK_EXTERNAL` constant does block all external requests, why do you think we need a proxy server? I think if adding this constant is sufficient, then we shouldn't change the docker-compose configuration, should we?

[2021-03-09 09:53] eugene-manuilov commented on #2919
@wpdarren E2E jobs are run automatically, we can't run them manually. You can compare existing e2e tests for a PR before merging changes for this ticket with a PR that has been created after these changes have been merged.

[2021-03-09 11:36] asvinb commented on #2065
@felixarntz About the following note in the AC:
**The main things to change is to create the API requests themselves instead of receiving data via props, as well as to use Widget* components via props.**
Turns out that the components are already making the requests themselves and no data is being received via props. Let me know if am missing something here.
Thanks!

[2021-03-09 12:05] wpdarren commented on #2919
@eugene-manuilov @aaemnnosttv wooosh, that went right over my head! :) More direction here would be welcome.

[2021-03-09 12:43] wpdarren commented on #2468
@aaemnnosttv @ivankruchkoff unable to get the thumbs up SVG notification on a site, when first post is published. I am still unsure where the Sun small SVG is appearing in Site Kit.  Need some more help to get this approved.  Do you have URLs that you could provide so I can go directly to the notifications? This would save me time.

[2021-03-09 13:09] aaemnnosttv commented on #2798
@eugene-manuilov correct, but that only applies to WP. The idea here is to prevent the Guzzle-based Google client (or anything else) from making external connections as well.

[2021-03-09 13:12] eugene-manuilov commented on #2798
@aaemnnosttv ok, but in this case, if we block all external requests then all requests sent by Guzzle-based client will fail with timeout errors, right? I am afraid it can cause additional slowness, can't it? :thinking:

[2021-03-09 13:16] aaemnnosttv commented on #2798
@eugene-manuilov I don't think it will timeout since it should fail to connect right away, but that's a valid concern. I believe I tried something else first which did have the timeout problem but I don't think this one does. I can check again though.

[2021-03-09 13:23] aaemnnosttv commented on #2468
@wpdarren regarding the thumbs up, the normal "win" notifications where this was shown were recently removed. I think the only place left where it is used are for module notifications which are only for AdSense right now (I think). I'll see if we can use a mini plugin to trigger one for testing, otherwise this part will probably need to be a QA:Eng.

Will check on the small sun too.

[2021-03-09 16:39] bethanylang commented on #2796
@ivankruchkoff Just checking in here – are you able to share some more details so that @abdullah1908 can try to run some more tests? Thanks!

[2021-03-09 18:10] ivankruchkoff commented on #2626
QA ✅

All the steps in the QA brief checked out.

[2021-03-09 19:04] felixarntz opened #2935 "Fix OAuth callback logic to not run before WordPress login redirect"
## Bug Description

It is currently possible to access the OAuth callback URL on any site to trigger Site Kit's logic to handle it. While this is not a real security flaw since the necessary permission checks are in place, it is still concerning, and more importantly, it can result in a user-facing problem in some certain circumstances, e.g. when for some reason being logged out while going throug

[2021-03-09 19:14] felixarntz opened #2937 "Allow modifying the active Search Console property"
## Feature Description

It should be possible to modify the Search Console property used for the current site via the UI. Typically, most sites only have a single property that would match the current site, but there certainly can be sites that have more than one property that would match. For those sites, it is beneficial to allow them select a specific property among those.

---------------

_Do

[2021-03-09 19:59] abdullah1908 opened #2938 "Site Kit Admin Page Appeared as Blank for Editor Role"
## Bug Description

Site Kit admin page appeared as blank when we turned the user's role from Administrator to Editor.

## Steps to reproduce

1. Configure Site Kit Account along with the services
2. Convert the user's role from Admin to Editor
3. Logged-in as Editor & check the Site Kit Page
4. You'll see Site Kit admin page as [blank](https://imgur.com/a/jofE7WR).

## Screenshots

## Additional

[2021-03-09 20:17] ivankruchkoff commented on #2693
QA ✅

Created a mu-plugin for testing
[code]

On a public site with no dev/tester plugins:
[09-Mar-2021 20:13:29 UTC] googlesitekit_reauthorize_user
then after `wp google-site-kit reset --persistent`, and a reauth:
[09-Mar-2021 20:14:17 UTC] googlesitekit_authorize_user

[2021-03-09 21:35] aaemnnosttv commented on #2739
@felixarntz regarding the ACs:

Shouldn't this be anyone with a initialVersion of Site Kit below 1.25.0 (rather than `<=`)? Feature tours shouldn't be shown for the same version that they are introduced if the user just started using Site Kit, correct?

[2021-03-09 22:31] ivankruchkoff commented on #2724
QA ✅

Reviewed the following four github action checks:
https://github.com/google/site-kit-wp/runs/2060528495
https://github.com/google/site-kit-wp/runs/2060528543
https://github.com/google/site-kit-wp/pull/2867/checks?check_run_id=2033453353
https://github.com/google/site-kit-wp/pull/2867/checks?check_run_id=2033453301

[2021-03-09 23:38] felixarntz commented on #2650
@eugene-manuilov Looks like @aaemnnosttv included this in #2934 (PR for #2739). We somewhat forgot to tag this issue here with the release. It's probably fine to keep this in #2934 now, since it's only a small chunk of code there anyway and since #2866 is out of date.

I'll add the release now (keep this issue for tracking) and close the outdated PR.

[2021-03-09 23:39] ivankruchkoff commented on #2841
Spun up a branch with the changes, it doesn't look quite right cc @asvinb and @aaemnnosttv :
https://github.com/google/site-kit-wp/tree/bug/2841-allow-user-input-terms-to-multiline
`bug/2841-allow-user-input-terms-to-multiline`

**Before**
<img width="543" alt="Screen Shot 2021-03-09 at 3 34 50 PM" src="https://user-images.githubusercontent.com/373931/110553114-55cc7800-80ed-11eb-8720-1e1d8d94fe95

[2021-03-09 23:47] felixarntz commented on #2837
@aaemnnosttv Indeed, the ACs here were written before we clarified that. It should always be required to enter something for "Other".

[2021-03-09 23:47] felixarntz commented on #2837
@eugene-manuilov Can you add a QA Brief here please?

[2021-03-10 00:27] felixarntz opened #2940 "Migrate `DashboardUniqueVisitorsWidget` Storybook coverage to follow new v6 best practices"
With Storybook now in v6, we should migrate a few particular stories to follow the new best practices established in [this doc](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit). Migrating all existing stories is not a high priority, we can keep most old stories in their existing state; they should only be migrated on demand.

This issue is about migrating a spe

[2021-03-10 00:28] felixarntz opened #2941 "Migrate `Button` Storybook coverage to follow new v6 best practices"
With Storybook now in v6, we should migrate a few particular stories to follow the new best practices established in [this doc](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit). Migrating all existing stories is not a high priority, we can keep most old stories in their existing state; they should only be migrated on demand.

This issue is about migrating a spe

[2021-03-10 00:34] ivankruchkoff commented on #2584
QA ✅

[2021-03-10 00:39] felixarntz opened #2942 "Migrate `AdminBarApp` Storybook coverage to follow new v6 best practices"
With Storybook now in v6, we should migrate a few particular stories to follow the new best practices established in [this doc](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit). Migrating all existing stories is not a high priority, we can keep most old stories in their existing state; they should only be migrated on demand.

This issue is about migrating a spe

[2021-03-10 05:17] ivankruchkoff commented on #2588
QA ✅

`$ ack -i prepareSecondsForDisplay || echo 'no instances'`
no instances

Also ran the numFmt util manually supplying different locales to test it out, all looks good.

[2021-03-10 07:30] aaemnnosttv commented on #2841
@asvinb can you take over the draft PR and see if we can get this finished up in time for the release?

[2021-03-10 07:41] cole10up commented on #2919
### QA ✅

Before:
PR 20 days ago
![image](https://user-images.githubusercontent.com/57115907/110593601-a2857280-8130-11eb-9264-24260428995a.png)

After:
PR today
![image](https://user-images.githubusercontent.com/57115907/110593497-7d90ff80-8130-11eb-931e-a43b0b3f947d.png)

Sending to approved

[2021-03-10 10:53] Hazlitte commented on #2007
@tofumatt My local dev environment is using React 17.0.1 and I have been unable to recreate the errors as described above.

[2021-03-10 11:41] aaemnnosttv commented on #2103
## QA ✅

Tested the opt-in toggle on and off on a multisite logged in as a super-user without being added to the site

* Requests were all successful
* Tracking opt-in/out was persisted as expected
* Tracking loads when opted-in and does not when opted-out

[2021-03-10 11:51] asvinb commented on #2841
@ivankruchkoff I made some tweaks to the CSS. Can you check if everything is ok now?

[2021-03-10 11:53] aaemnnosttv commented on #2578
IB ✅

[2021-03-10 12:20] wpdarren commented on #2857
### QA Update: Pass ✅

**Verified:**

- the helper text below the answers of each question has changed to `Choose up to`

![image](https://user-images.githubusercontent.com/73545194/110628411-f0a47f80-81dd-11eb-9642-b63111b0780f.png)

[2021-03-10 12:24] aaemnnosttv commented on #2671
@johnPhillips that looks like it would be a problem. The device suffix in the classname is related to a media query that scopes the styles it applies. A suffix-less classname is the same as `-desktop`, it does not apply to all.

Another thing to know/keep in mind is that the number of total grid columns changes in the different device viewport widths. Desktop has 12, tablet has 8, and phone has 4.

[2021-03-10 12:59] wpdarren commented on #2837
### QA Update: To clarify with Engineer ⚠️

@eugene-manuilov an observation, when no text is entered into the 'Other' field, the preview, shows it as `Other:` but looking at the AC, it should be `Other` with no colon.

![image](https://user-images.githubusercontent.com/73545194/110632653-d8832f00-81e2-11eb-9823-51c47f9af34c.png)

**Verified:**

- The answer bubbles in the User Input flow preview h

[2021-03-10 13:37] eugene-manuilov commented on #2837
@wpdarren I think without colon it will be confusing because it will look like a part of the entered text. So, I think we can consider the version with colon as expected behavior. cc @felixarntz

[2021-03-10 14:39] wpdarren commented on #2837
@eugene-manuilov thats fine, just didn't want to assume anything.

### QA Update: Pass ✅

**Verified:**

- The answer bubbles in the User Input flow preview has a consistent border radius.
- Long content in a custom answer does not be able to mess up the layout.
- Custom answers are trimmed (i.e. spaces at the beginning and end should be cut off).
- Any answers provided under "Other" are prefixed

[2021-03-10 16:48] ivankruchkoff commented on #2841
Looks great to me, both desktop and mobile. However some conflicting rules in current `develop` branch break this,

https://github.com/google/site-kit-wp/blame/develop/assets/sass/components/user-input/googlesitekit-user-input-controls.scss#L87
https://github.com/google/site-kit-wp/blame/develop/assets/sass/components/user-input/googlesitekit-user-input-controls.scss#L128

[2021-03-10 17:31] aaemnnosttv commented on #2937
Thanks @eugene-manuilov – IB looks great for the most part, just a few things to elaborate on a little bit:

This should go in a new data store partial; how about `datastore/properties.js`?

What should be used for values and what should be used for the text content of each option? We can probably use `siteUrl` for both. We may however want to display domain properties differently since end users

[2021-03-10 18:03] felixarntz commented on #2937
@aaemnnosttv @eugene-manuilov

Good point regarding the domain properties. Indeed, the values should always be the `siteUrl` value (which is basically the `propertyID`). For domain properties (starting in `sc-domain:`), the text content should be `sprintf( __( '%s (domain property)', 'google-site-kit' ), siteUrl.replace( /^sc-domain:/, '' ) )`, for URL properties the text content should be simply

[2021-03-10 18:18] felixarntz opened #2944 "Implement GA tracking events for All Traffic feature tooltip tour (and tooltip tours in general)"
Feature tour should send GA tracking events for interaction with them (for users that have opted in).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Every feature tour should include its event category for GA tracking in its definition. For now, the only tour that exists is `allTrafficWidget`; it shou

[2021-03-10 18:28] felixarntz commented on #2739
Since this is fairly short-term and now as new requirement needs to wait for #2944, I'll move this to the 1.29.0 release. Still, this is pretty much done, so can be merged soon.

[2021-03-10 18:31] felixarntz commented on #2891
@adamsilverstein Shouldn't this have been fixed by now? I thought they already took care of it. Maybe this issue is no longer relevant, checking with you.

[2021-03-10 18:34] bethanylang commented on #2891
@felixarntz Thanks for checking on this - I seemed to remember it being fixed, too, but I couldn't find an associated ticket.

[2021-03-10 18:56] adamsilverstein commented on #2891
This has been resolved upstream by the Analytics and no longer occurs in my testing.  I ran thru creating an account again and the TOS screen works as expected, seems like they have simplified it a bit as well (it is shorter).

https://user-images.githubusercontent.com/2676022/110681952-9da7d980-8197-11eb-994c-31d4d6d9351a.mp4

Closing as resolved. If this issue is recurring, feel free to re-open.

[2021-03-10 18:56] #2891 closed

[2021-03-10 19:07] adamsilverstein commented on #2771
I was not able to reproduce this in my testing so far. @jamesozzie have you noticed any common pattern among the users reporting this issue?

[2021-03-10 19:09] eugene-manuilov commented on #2841
@felixarntz I think this ticket doesn't make sense anymore after we merged #2842. Shall we close this or you think we still need to do something else?

[2021-03-10 20:41] aaemnnosttv commented on #2468
@wpdarren – the Thumbs Up graphic is only used on the Settings > Connect tab once all modules have been activated:

![image](https://user-images.githubusercontent.com/1621608/110691634-0de14a00-81ee-11eb-8847-ea9a8d0aef67.png)

It's also used in a story in Storybook for a notification here:
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global-notifications--small-with-image

[2021-03-10 20:56] felixarntz commented on #2468
@aaemnnosttv

Makes sense. The sun should only appear in these notifications on the Site Kit dashboard, not the module screens. I've missed that nuance during IB review.

[2021-03-11 01:06] wpdarren commented on #2897
@felixarntz @aaemnnosttv I have set up a fresh WP site, added Site Kit and enabled userInput with the tester plugin. For a
 radio button question, when I select the 'Other' option, I was expecting the cursor to appear in the text input field based on the QAB:`- check that the other text input field is always enabled`

For me the behaviour is the same as before. I have cleared cache. Am I missing s

[2021-03-11 09:00] aaemnnosttv commented on #2913
## QA ✅

Looking at the [recent E2E runs](https://github.com/google/site-kit-wp/actions/workflows/e2e-tests-wp-latest.yml?query=is%3Acompleted), stability seems to be much better with the only failures here being legitimate failures.

![image](https://user-images.githubusercontent.com/1621608/110761750-c47a1480-8258-11eb-8abf-fe887be59d02.png)

[2021-03-11 09:20] wpdarren commented on #2897
### QA Update: Fail ❌

@Hazlitte @aaemnnosttv  I am observing weird behaviour with the radio button and check boxes.

1) As you can see on this screencast below - in this example, you start typing in the text input field, and the radio button is checked, but when you press the space bar to type a new word, the radio button is unchecked. This is the same behaviour on check box fields.

https://user

[2021-03-11 09:29] aaemnnosttv opened #2948 "Release 1.28.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-03-11 09:42] wpdarren commented on #2842
### QA Update:  Pass ✅

- As soon as the user starts typing, a blue bubble is added. The user then types within that bubble. - [Screenshot](https://user-images.githubusercontent.com/73545194/110765468-2bb2bb80-828f-11eb-8749-41188c8300fc.png)
- When the user presses one of the separators, they leave the bubble. The cursor is outside.
- When they continue typing, the next blue bubble is added and t

[2021-03-11 09:43] aaemnnosttv commented on #2897
@wpdarren confirmed: the space bar triggers the box/radio to be unchecked, although I noticed you can still click next. After going back again, the radio is checked as it should be. Still odd though; the radio/checkbox should not be affected by input in the text field.

[2021-03-11 10:39] wpdarren commented on #2812
### QA Update: Fail ❌

@eugene-manuilov I am still seeing the error message (with the master zip file that Evan has provided due to Github issues)

![image](https://user-images.githubusercontent.com/73545194/110773535-cf07ce80-8297-11eb-8623-151a77f687ea.png)

Here are the actions I took:

1. I created a new Google account that had no Adsense account set up.
2. I have a live website that currently

[2021-03-11 11:09] wpdarren commented on #2812
### QA Update: Fail ❌

@eugene-manuilov the error message no longer appears but I wanted to share this observation.

Two different messages appear on the screen as you can see from the screencast.

When you have created your Adsense account. One message appears and then a few seconds later another message appears.  Also, on the final message, it's slightly different that what is highlighted in the

[2021-03-11 11:10] jamesozzie commented on #2771
@adamsilverstein No common occurrences unfortunately. One site previously had mismatching URLs,  another site using an SSL Cert with Cloudflare. Undetermined is users had previously site setups before changing URLs,  I did raise a couple of questions with a couple of impacted users just now, asking if they had successfully setup Site Kit previously. Once the reset button is visible it would be int

[2021-03-11 11:27] wpdarren commented on #2468
### QA Update: Pass ✅

**Verified:**

- The Google Logo SVG loads on any dashboard with no unstyled content.
Also loads fine with Admin colour scheme plugin used.  - [Screenshot](https://user-images.githubusercontent.com/73545194/110326540-be671680-8053-11eb-9580-b460b30f4fd2.png)

![image](https://user-images.githubusercontent.com/73545194/110326521-b7d89f00-8053-11eb-8927-5b56a53cf70c.png)

- Th

[2021-03-11 12:02] Aviad-Herman commented on #88
Is this issue closed?
because I can't find this checkbox in settings...
Can you send a screenshot?

[2021-03-11 12:30] jamesozzie commented on #88
@Aviad-Herman This specific issue is in relation to Analytics. You'll find this configuration at "_Site Kit > Settings > Connected Services > Analytics > Edit_", all from within your WordPress dashboard.

There is a separate issue you'll find below in relation to a similar configuration for AdSense, this should be available soon.
https://github.com/google/site-kit-wp/issues/2681

[2021-03-11 12:37] aaemnnosttv commented on #2653
⚠️ The changes here introduce a bug where the error boundary component is shown momentarily when doing a client side redirect to the module's setup screen. I'll push a quick follow-up PR to fix it.

[2021-03-11 13:32] eugene-manuilov commented on #2812
I think this effect happens because we load URL channels information slightly later than showing the setup form and we don't know yet whether getURLChannels returns an error or not. Maybe we should wait for the response from the getURLChannels selector before showing the setup form? @felixarntz what do you think? :thinking:

[2021-03-11 13:51] wpdarren commented on #2948
@aaemnnosttv @felixarntz With the zip file created earlier, for a new WP site, connected Site Kit with Search console, Adsense (with tester plugin), Analytics (new account), Page Speed and I am seeing a message in console on the dashboard: `WP Error in data response method:GET type:modules identifier:analytics datapoint:report error:“Restricted metric(s): ga:adsenseRevenue, ga:adsensePageImpressio

[2021-03-11 13:51] eugene-manuilov commented on #2896
@aaemnnosttv I think we don't need this ticket anymore because the icon for the delete button has been updated in #2842

![keywords](https://user-images.githubusercontent.com/873049/110797324-a248bc80-8281-11eb-91d5-0b990dcc4c6e.png)

[2021-03-11 14:02] tofumatt commented on #2066
IB ✅

[2021-03-11 14:04] tofumatt commented on #2069
IB ✅

[2021-03-11 15:39] tofumatt commented on #2874
IB ✅

[2021-03-11 15:56] aaemnnosttv commented on #2896
@eugene-manuilov it may be that we don't need it although Aaron was specific about preserving the colors though which seem to be a bit different now. Did we decide to change it?
cc: @felixarntz

[2021-03-11 16:00] aaemnnosttv commented on #2948
@wpdarren this is expected to see when Analytics and AdSense are active but not linked (a service-side connection). You shouldn't see this again for another 10 min but otherwise it's normal.

[2021-03-11 16:52] Hazlitte commented on #2846
I have made progress on this ticket in brach https://github.com/google/site-kit-wp/tree/enhancement/2846-help-icon.

[2021-03-11 16:53] felixarntz commented on #2812
@eugene-manuilov

Yes, that makes sense. For simplicity, let's do that via `determineAccountStatus`, the same way it is done for the other requests, to keep the code changes minimal:
* Pass `urlchannels` response to `determineAccountStatus`.
* Move the newly added `urlChannelsError` logic **to the very bottom** of the function, since `urlchannels` are the last thing that need to be checked (e.g. t

[2021-03-11 17:06] felixarntz commented on #2841
@eugene-manuilov Yes agreed. The current state after #2842 already handles any long input smoothly and without weird overflow. Multiple search terms already stack as needed, and if one of them is super long, it is scrollable horizontally so all good 🎉

[2021-03-11 17:06] #2841 closed

[2021-03-11 18:40] tofumatt commented on #2897
QA ❌

I noticed an issue with this that I think @Hazlitte mentioned seeing but then couldn't immediately reproduce:

![2021-03-11 18 36 54](https://user-images.githubusercontent.com/90871/110837246-e4c9c380-8298-11eb-9403-a8f8ef80f8a4.gif)

When only "Other" is selected it isn't disabled when it starts/ends with a space:

![2021-03-11 18 38 11](https://user-images.githubusercontent.com/90871/11083

[2021-03-11 18:41] tofumatt commented on #2948
I noticed an issue with the user input "others" input behaviour (see my comment here: https://github.com/google/site-kit-wp/issues/2897#issuecomment-796956427). It won't affect anything public-facing, but I've sent that issue back as the fix seems to have caused a different regression.

[2021-03-11 18:43] aaemnnosttv opened #2951 "AdSense "Performance by page over the last X days" deep links do not include date range"
## Bug Description

The links in the top pages table on the AdSense module dashboard which is shown when there is a linked Analytics account does not include the current date range in its deep link.

## Steps to reproduce

1. Set up Site Kit with AdSense and a linked Analytics account
2. Navigate to AdSense dashboard
3. Note the current date range
3. Click on a link in the "Performance by page ove

[2021-03-11 18:56] ivankruchkoff commented on #2897
@tofumatt the behaviour for disabled attribute on `Other` will be addressed in https://github.com/google/site-kit-wp/issues/2828 it seems there's a bit of overlap in these two tickets about that.

[2021-03-11 19:17] eugene-manuilov commented on #2828
@ivankruchkoff I have taken a look at this issue and seems like all glitches are caused by the Checkbox component itself. In particular, the following code causes it: https://github.com/google/site-kit-wp/blob/f3eea273ba67e3319457f8b22601461e3813954b/assets/js/components/Checkbox.js#L46-L51
If you comment out those lines, everything will work as expected. Can you try it on your end? @tofumatt do y

[2021-03-11 19:21] felixarntz commented on #2897
@tofumatt @Hazlitte @ivankruchkoff Indeed, this is still broken. We don't need to worry about other radio/checkboxes being unexpectedly checked or unchecked (part of #2828), but what should not happen here is having a space at the end of the input causing the "Other" choice to be disabled.

#2950 addressed the problem only partially.

[2021-03-11 19:55] ivankruchkoff commented on #2948
In safari with `google-site-kit.v1.28.0.master@f3eea273ba.zip`
<img width="800" alt="Screen Shot 2021-03-11 at 11 54 57 AM" src="https://user-images.githubusercontent.com/373931/110846454-a44e5380-8260-11eb-957e-5d60669b011d.png">

[2021-03-11 20:04] tofumatt commented on #2907
IB ✅

It looks like the code here already _intended_ to do this from what I can tell, but it wasn't implemented properly? https://github.com/google/site-kit-wp/blob/f3eea273ba67e3319457f8b22601461e3813954b/assets/js/components/user-input/UserInputQuestionWrapper.js#L101

Anyway, I made a note indicating specifically what was wrong here and the fix. 👍🏻

[2021-03-11 20:14] tofumatt commented on #2900
IB largely looks good but one thing I'm not clear on:

Why does it matter if there are fewer than the max number of keywords entered? Isn't the idea that if you can focus the text field and backspace in an empty bubble/outside a bubble that it deletes no matter what?

I'd think this check would instead be if `nonEmptyValues.length` is `0`—if that's the case we don't delete anything as there's noth

[2021-03-11 20:22] aaemnnosttv commented on #2588
Unfortunately [Safari does not support some of these options](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat#browser_compatibility) 😞   Pulling this back to Execution to address.
cc: @felixarntz @ivankruchkoff

[2021-03-11 20:32] tofumatt commented on #2843
IB ✅

[2021-03-11 20:37] tofumatt commented on #2901
While the label for this text input isn't _great_, it is instructive for screenreaders and shouldn't be removed as it then lacks context, especially because we shift focus to it after creating a new keyword.

Instead we should move the label into the top of the text field as many component do elsewhere for `TextField`/`Input` components, like "Text Field" in this screenshot:

<img width="380" alt=

[2021-03-11 20:50] tofumatt commented on #2853
IB ✅

[2021-03-11 21:13] tofumatt commented on #2183
IB ✅

[2021-03-11 21:19] tofumatt commented on #2944
IB ✅

[2021-03-11 22:41] felixarntz commented on #2865
I've confirmed the above with @marrrmarrr as the correct behavior of the plugin; while this is indeed a tricky scenario, this issue is actually invalid and does not require any changes.

[2021-03-11 22:41] #2865 closed

[2021-03-11 22:52] ivankruchkoff commented on #2588
Taking a look at this now to push out a fix.

[2021-03-12 08:18] ivankruchkoff commented on #2588
So there are a few options here (my preference is for option 3):
1) Use a polyfill, however I don't like that due to https://github.com/google/site-kit-wp/blob/4a8f2f2035e178618e1c8927c5ee7c3b6ec41e2e/assets/js/util/i18n.js#L264 and the sheer size of the polyfill: https://www.npmjs.com/package/@formatjs/intl-numberformat

2) Using a different js library for calculating times, e.g. https://github.c

[2021-03-12 09:26] aaemnnosttv commented on #2588
Thanks @ivankruchkoff – I agree that the 3rd option is the best choice here.

@johnPhillips are you able to pick this up for a follow-up PR?

[2021-03-12 10:43] wpdarren commented on #2812
### QA Update:  Pass ✅

Verified:

- The `Error: Ad client not found.` error message does not appear.
- When the Adsense account was created and you go back to Site Kit, the message appears `Site Kit has placed AdSense code on every page across your site. After you’ve finished setting up your account, we’ll let you know when your site is ready to show ads. This usually takes less than a day, but i

[2021-03-12 11:31] aaemnnosttv opened #2954 "E2E broken with latest wordpress image"
## Bug Description

A recent update to the wordpress docker image has broken E2E runs, mostly because the WordPress database is no longer created automatically in the image's entrypoint. This affected `wpenv` and many other projects as well.

The simplest fix to unblock us is to pin the `wordpress` image to a tag before this happened and we can revisit in the future. In the meantime, we'll have a

[2021-03-12 11:36] eugene-manuilov commented on #2954
IB :heavy_check_mark:

[2021-03-12 12:32] aaemnnosttv commented on #2812
⚠️ @felixarntz your PR #2953 for this issue was merged to `develop` rather than `master` to be included in the release.

[2021-03-12 14:17] eugene-manuilov commented on #2847
@felixarntz I have updated the IB to work with the new infrastructure for the tooltip tours. So this is ready for review.

[2021-03-12 15:40] eugene-manuilov commented on #2948
In general looks good to me. The only thing that I have found is that vertical axis labels are off for session duration metric on the Analytics module page:

![vaxis](https://user-images.githubusercontent.com/873049/110962684-e5765e80-8359-11eb-8583-8454da0f2daf.png)

This issue exists in the current production version, so this is not a regression.

[2021-03-12 15:53] tofumatt commented on #2948
Other than the noted issues the release testing has been good for me. I also noticed a `mapSelect` issue in the first ZIP and in development but a recent release zip fixed it.

[2021-03-12 16:51] wpdarren commented on #2948
Gone through the latest plugin and our QA tasks, looks good to me.

[2021-03-12 18:50] tofumatt commented on #2848
The issue with that approach is it scrolls the element into view on page load:

![2021-03-12 18 48 31](https://user-images.githubusercontent.com/90871/110984965-b8c74480-8363-11eb-8413-09d6d99b58a5.gif)

So anything above the question element is immediately scrolled out of view.

[2021-03-13 00:30] ivankruchkoff commented on #2941
Writing an IB for a blocked ticket was somewhat tricky, so I took some of the work @asvinb did to update storybook in https://github.com/google/site-kit-wp/pull/2723/files, added it to a branch `feature/2941-button-storybook6-stories` and went through https://storybook.js.org/blog/storybook-6-migration-guide/ to get things to build.

I took a pass at migrating the tests from the old format to the

[2021-03-13 00:36] ivankruchkoff commented on #2948
Looks good to me.

[2021-03-15 08:16] caseymorrisus commented on #2948
Nothing to report on my end.

[2021-03-15 08:33] aaemnnosttv commented on #2539
@felixarntz it looks like it already is
![image](https://user-images.githubusercontent.com/1621608/111124862-a7f01c00-8579-11eb-8e8d-67e18e139810.png)

I think this was mainly not working before due to [instability on the backend of the service](https://github.com/siddharthkp/bundlesize/issues/308) needed for this to work.

The bigger problem with bundlesize right now is that it doesn't really sup

[2021-03-15 08:55] aaemnnosttv commented on #2068
@felixarntz should this not use `ReportTable` internally? I think we should hold on merging this until that one is merged after which this one should be updated to use it as well.

[2021-03-15 09:18] johnPhillips commented on #2948
Looks good to me!

[2021-03-15 09:39] aaemnnosttv commented on #924
@felixarntz – happy to take this over although there are a few things I'd like to discuss first; let's discuss on our next call.

[2021-03-15 09:45] aaemnnosttv commented on #2848
IB ✅

Please don't forget to fill in the test and VRT sections of the IB though. In this case I think they're not needed but we should always be explicit about that.

[2021-03-15 10:27] asvinb commented on #2653
- Testing Search Console, AdSense and Analytics pages. The header is showing with empty content.

**Search Console**:
![image](https://user-images.githubusercontent.com/31818/111138802-ce25b400-8599-11eb-9182-8bd15927b38f.png)

**AdSense**:
![image](https://user-images.githubusercontent.com/31818/111138931-f57c8100-8599-11eb-9986-438982f11ac2.png)

**Analytics**:
![image](https://user-images.githu

[2021-03-15 11:44] wpdarren commented on #2897
### QA Update: Pass ✅

**Verified:**

Confirmed that when you press the space bar while typing in the input field it does not deselect the radio button or checkboxes. I also tested this with a space at the end.

**Radio buttons:**
- The other text input field is always enabled when you select 'Other'  [Screenshot](https://user-images.githubusercontent.com/73545194/111144659-5324c380-85c2-11eb-9ac0

[2021-03-15 11:47] tofumatt commented on #2588
QA ✅

No full-page errors observed with Safari 14.0.3.

[2021-03-15 12:08] tofumatt commented on #2384
IB ✅

It's not a super-discoverable reset, but I guess that's the point. Probably worth highlighting this option in support documents for users who get "stuck", as otherwise this would be tough to find, especially for a casual WordPress user not aware of those options.

[2021-03-15 12:18] tofumatt commented on #2903
I'm a bit confused by the ACs here—it says that only one button can be in "not normal" state and includes mention of `:focus` state… but it's possible to have one element with `:focus` style and then a separate element with `:hover` style (as both states can and should be allowed to exist on separate elements at the same time).

It seems like the intention here to _not_ allow items to have a hover

[2021-03-15 12:30] tofumatt commented on #2828
I honestly have no clue! 😅

I think that code traces its origins back to the "original commit" when the plugin was open-sourced, but any of the component that use that approach (of creating elements from `new MDC*()` predate @aaemnnosttv and I, I think.

I don't think there's any clear benefit to that approach, and I bet we should be using Material React component directly and not attaching these

[2021-03-15 12:36] wpdarren opened #2962 "Improve Warning Message in Google Adsense Settings"
## Bug Description

Improve the warning message when you disable placing of Adsense code on the site.

Currently it reads:

Should be replaced with:

Or something that those lines..

## Steps to reproduce

1. Make sure that Adsense is activated
2. Go to Settings for Google Adsense (`wp-admin/admin.php?page=googlesitekit-settings#settings/adsense/edit`)
3. Disable the switch against `Let Site Kit p

[2021-03-15 12:37] asvinb commented on #2900
@tofumatt As per the AC,
**When pressing the backspace key within a search term (i.e. cursor is within the search term bubble), it should delete characters from that search term.**
so if you are at the third item (max. number), if the backspace key is pressed, it should not delete the item, rather it should delete characters from that item.

[2021-03-15 12:42] aaemnnosttv commented on #2798
@eugene-manuilov – it seems that this does time out like you mentioned which would be a no go.

I started experimenting with adding `extra_hosts` to the `wordpress` service for the various APIs which didn't work (I think it failed because of HTTPS) but could be nice as we could control the responses.

[code]

These could live on another service in the environment as well as long as it was connecte

[2021-03-15 13:00] Hazlitte commented on #2901
@tofumatt On further investigation at present the input fields don't have a label at all.  When the prop `noLabel` is passed to the `TextField` component the `label` prop text is rendered as a `placeholder`.  We could remove the `noLabel` prop, remove the conditional setting of the label text and set the `floatingLabelClassName` prop of the `TextField` to `screen-reader-text` if no text has been e

[2021-03-15 13:02] Hazlitte commented on #2948
Looks good to me.

[2021-03-15 13:30] Hazlitte commented on #1647
QA ✅

[2021-03-15 14:40] felixarntz commented on #2812
@aaemnnosttv Done!

[2021-03-15 15:08] johnPhillips commented on #2900
Just realised this IB isn't finished, sorry! I'll pause work until it is passed review. My mistake 🙏

[2021-03-15 15:23] bethanylang commented on #2782
@cnxsoft We're escalating this issue for further testing and we'll be in touch with any further questions and updates. Thanks again for all of your help with troubleshooting to this point!

[2021-03-15 17:17] ivankruchkoff commented on #2948
Retested latest release zip, looks good to me, no longer experiencing the issue I raised previously.

[2021-03-15 17:28] ivankruchkoff commented on #2903
The intention here is that `:focus`  cancels `:hover` and vice-versa. Thinking it through, it does feel like a very artificial scenario and maybe we just close the ticket as only folks testing the app will try and get it in this state.

[2021-03-15 17:29] #2773 closed

[2021-03-15 17:29] #2509 closed

[2021-03-15 17:29] #2772 closed

[2021-03-15 17:29] #2747 closed

[2021-03-15 17:30] #2774 closed

[2021-03-15 17:30] #2554 closed

[2021-03-15 17:30] #2827 closed

[2021-03-15 17:30] #2660 closed

[2021-03-15 17:30] #2794 closed

[2021-03-15 17:30] #2653 closed

[2021-03-15 17:30] #2612 closed

[2021-03-15 17:30] #2579 closed

[2021-03-15 17:30] #2626 closed

[2021-03-15 17:30] #2838 closed

[2021-03-15 17:31] #2693 closed

[2021-03-15 17:31] #2724 closed

[2021-03-15 17:31] #2584 closed

[2021-03-15 17:31] #2919 closed

[2021-03-15 17:31] #2103 closed

[2021-03-15 17:31] #2857 closed

[2021-03-15 17:31] #2913 closed

[2021-03-15 17:31] #2468 closed

[2021-03-15 17:31] #2812 closed

[2021-03-15 17:31] #2954 closed

[2021-03-15 17:32] #2588 closed

[2021-03-15 17:33] #2829 closed

[2021-03-15 17:33] #2837 closed

[2021-03-15 17:33] #2842 closed

[2021-03-15 17:33] #2897 closed

[2021-03-15 17:38] felixarntz commented on #2935
@eugene-manuilov (or who is taking over this one): Rather than implementing what WordPress already offers, it would be a cleaner solution to change the hook used to something more appropriate - like `admin_init`.

@ivankruchkoff Assigning to you for iteration, since you had already assigned to yourself (maybe accidentally?) - feel free to hand over to someone else if applicable.

[2021-03-15 17:39] aaemnnosttv commented on #2941
@ivankruchkoff – just wanted to point out that you don't need to run a full build every time you change something. Running `npm run storybook` will hot reload any component/story changes other than main configs. The `test:visualtest` command will also run a fresh build so not needed to run separately before that (unlike E2E for example).

I don't think args are the right place for these, as args a

[2021-03-15 17:41] felixarntz commented on #2937
@eugene-manuilov (or whoever is taking over): IB almost LGTM, just one quick thing to fix

This shouldn't just strip the prefix, it should also append "(domain property)" to it, see https://github.com/google/site-kit-wp/issues/2937#issuecomment-795834670.

[2021-03-15 17:52] felixarntz commented on #2065
@asvinb IB is mostly looking good, some feedback though

The AC is referring to `AdSenseDashboardWidgetOverview` and `AdSenseDashboardWidgetSiteStats`, which _do_ receive props for some of the values used in the API request, so it was mostly about that. Since all of these components will be combined into the new one, that shouldn't matter anymore though, so your IB looks okay regarding that.

Note

[2021-03-15 17:53] felixarntz commented on #2909
IB ✅

[2021-03-15 17:58] felixarntz commented on #2063
@eugene-manuilov (or whoever is taking over this): I've previously accepted similar IBs for these refactored versions, since there was pre-existing code for pretty much everything that just needed to be copied/combined and since the ACs already had enough detail. In this particular case here though, the issue includes visual/functional changes from how the old component works so the IB should have

[2021-03-15 18:04] felixarntz commented on #2847
@eugene-manuilov (or whoever is taking over this): The current IB looks solid against the original ACs. However, we have to make an adjustment here which I have just added to the ACs (in bold, at the end).

Please amend the IB with a **reusable** way to ensure that different tooltip tours are not shown after each other within the "time out" mentioned in the IB. For example, a flag with a timeout c

[2021-03-15 18:05] felixarntz commented on #2887
IB ✅

[2021-03-15 18:27] felixarntz commented on #2133
@eclarke1 @fhollis As mentioned before, this must not be merged, as the user input feature is not ready to launch, let alone launch without a feature flag.

I will move this issue back to ACs so that it remains there until we can actually consider it.

[2021-03-15 18:59] bethanylang commented on #2350
@lontano75 Thanks again for sharing those troubleshooting details. Are you still experiencing these issues with the plugin?

[2021-03-15 20:10] ivankruchkoff commented on #2903
Chatting with @tofumatt a bit more, it probably makes sense to close this out as it feels very tricky and not particularly accessibility friendly to try and unfocus an element that is in `:focus` when we `:hover` over another one, or to cancel the `:hover` state when we `:focus` an element.

From a practical point of view I think only people who are testing will simultaneously hover with the mouse

[2021-03-15 20:18] tofumatt commented on #2901
Oh boy, so it seems like the label prop here is a bit of a mess.

What we _should_ do is leave the placeholder as-is when it should appear (eg when the input is "empty"—no tags exist), but get rid of what is effectively the _placeholder_ after that. So we should remove the `label` prop then.

But separately, let's add a `<label>` tag for this element that's more helpful for assistive technology an

[2021-03-15 20:21] tofumatt commented on #2900
@asvinb Ah, okay, thanks! Makes sense now. 👍🏻

IB ✅

[2021-03-15 20:41] #2948 closed

[2021-03-15 20:44] felixarntz commented on #940
No longer a focus; closing

[2021-03-15 20:44] #940 closed

[2021-03-15 20:45] felixarntz commented on #429
@aaemnnosttv Just revisiting this super-old issue. Could you check if (and what parts of) it is still relevant?

[2021-03-15 20:47] felixarntz commented on #1299
Done 🎉

[2021-03-15 20:47] #1299 closed

[2021-03-15 20:47] felixarntz commented on #1089
Done 🎉

[2021-03-15 20:47] #1089 closed

[2021-03-15 20:53] aaemnnosttv opened #2967 "Analytics chart vAxis labels inconsistent when showing session duration"
## Bug Description

On the Analytics module dashboard, when viewing the chart with Session Duration selected, the vertical axis labels may appear as `mm:00` followed by `:30` between.

## Steps to reproduce

1. Go to Analytics dashboard
2. Select Session Duration
3. See screenshot similar to below

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/111213889-ed443600-85d9-1

[2021-03-15 21:12] felixarntz commented on #603
@aaemnnosttv Some potential inspiration: https://github.com/google/web-stories-wp/blob/main/.github/workflows/plugin-release.yml

[2021-03-15 21:15] felixarntz commented on #2903
@ivankruchkoff @tofumatt Makes sense - revisiting this, it doesn't really make sense, the current behavior looks perfectly correct. Potentially the styles could be changed, but the current IB says to remove the hover styles entirely, in which case there would be no visual indication of hovering anymore.

Closing as suggested.

[2021-03-15 21:15] #2903 closed

[2021-03-15 21:17] felixarntz commented on #2967
IB ✅ 😆

[2021-03-15 22:04] ivankruchkoff commented on #2941
Updated and adding another reminder that `feature/2941-button-storybook6-stories` exists to handle a big part of this.

[2021-03-15 22:04] tofumatt commented on #2007
I'm actually wondering if some of our recent changes to the Widget rendering has removed this issue. (It's possible that #2612 has affected this issue.)

I updated to React and ReactDOM `^16.13.1` in my `package.json` and saw this error:

<img width="1484" alt="Screenshot 2021-03-15 at 22 03 09" src="https://user-images.githubusercontent.com/90871/111227376-62177000-85da-11eb-9e09-525191a4365d.png

[2021-03-15 22:39] tofumatt commented on #2851
I sometimes forget that radio buttons in general shouldn't actually be separately tabbable. Someone on the team pointed this out to me and I did more checks thinking "nah, seems they should be tabbable". But the intent is that checkboxes are tabbable—radio inputs should not be.

But to that point, the other three issues are valid. We shouldn't allowing tabbing to the "Other" text input if that opt

[2021-03-15 22:47] tofumatt commented on #2886
@asvinb Those mockups look good to me. Given the "Edit" button is the only touch-target it seems fine to me. 👍🏻

[2021-03-16 00:11] felixarntz opened #2969 "Improve GitHub Actions Hygiene"
GitHub Actions have recently been stagnating for days, causing significant delays in being able to review and merge PRs. While there have been a few issues on the administrative side, it looks like our actions are also consuming quota quite aggressively, and we should try to reduce that footprint, consolidating workflows and running them more selectively where possible.

---------------

_Do not a

[2021-03-16 00:12] felixarntz commented on #2969
@swissspidy What did you do for Web Stories to resolve these issues? Can you maybe share a high-level list or a link to issues/PRs?

[2021-03-16 07:37] aaemnnosttv commented on #2539
Pulling back for a follow-up to apply the hash stripping [as mentioned here](https://github.com/google/site-kit-wp/pull/2667#issuecomment-770735288).

[2021-03-16 09:19] aaemnnosttv commented on #2969
@felixarntz in the description you mention consolidating workflows, but the limit is on [concurrent jobs](https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#usage-limits), not workflows. That is, we could have all jobs defined in a single workflow and it would be no different in terms of the limitations. That's good news because there are some things which can onl

[2021-03-16 09:40] aaemnnosttv commented on #2941
Thanks @ivankruchkoff. This is good to go, just 2 small details to note:

* The AC says we should use a `Template` component for applying the args as shown in the docs. Not sure this needs an additional mention in the IB, but I just noticed that your branch does not use this approach.
* Let's bump the estimate up one as even though this should be fairly straightforward, anything which isn't trivia

[2021-03-16 10:24] swissspidy commented on #2969
Let me give you some context.

A couple of weeks ago a change was made that reduced the various limits for GitHub Actions for all repositories in this org, which led to all these issues with the queues piling up, nothing running for hours, etc. The change was reverted last Friday _for the time being_.

So for the time being, there's the expected [limit of 180 concurrent jobs](https://docs.github.c

[2021-03-16 10:34] aaemnnosttv commented on #2907
@felixarntz @tofumatt – perhaps this might be best as a follow-up issue, but I feel that there is room for improvement in communicating that the Other input is required when chosen. Currently it could be missed that this is needed as there is no visual or cue otherwise.

![image](https://user-images.githubusercontent.com/1621608/111290877-3edad800-864f-11eb-9a82-b099d2864f8e.png)

Perhaps the easi

[2021-03-16 12:13] wpdarren commented on #2843
### QA update: Pass ✅

The wording of the last user input question says `Enter minimum one (1), maximum three (3) terms`

![image](https://user-images.githubusercontent.com/73545194/111306634-69e71b00-8693-11eb-8199-4988f17782c8.png)

[2021-03-16 13:18] wpdarren commented on #2852
### QA update: Pass ✅

With one admin user: when going through the user input flow, the box stating that this question also applies to other users is no longer displayed.

![image](https://user-images.githubusercontent.com/73545194/111314992-e9c5b300-869c-11eb-9f0f-66d1cc302a8b.png)

With two admin users: when going through the user input flow, the site-wide questions still inform that this questi

[2021-03-16 13:55] bethanylang commented on #2349
@jamesozzie @abdullah1908 Looks like an uninstall/reinstall did the trick for the most recent user who experienced this issue. Worth doing one more try at replicating?

[2021-03-16 13:57] bethanylang commented on #2938
@abdullah1908 Does this need to be replicated by the L2 team before it can move forward to Execution? If so, please go ahead and assign Felix or Adam to review. Thanks!

[2021-03-16 16:24] bethanylang commented on #467
Noting here that it would be great to revisit this as we do get many support topics asking for more details about these messages.

[2021-03-16 18:35] ivankruchkoff commented on #2935
There are two things here to update:
1) `handle_oauth` can occur on `admin_init` as all functionality there is behind `is_admin` and `wp_get_current_user`
2) Handling authentication nonce with re-authentication in the process `e.g. when for some reason being logged out while going through the Site Kit setup flow.` The WordPress nonce will no longer be valid after logout and we can't do the first p

[2021-03-16 19:32] ivankruchkoff commented on #2935
To repro the second scenario as it currently works, reset your site `wp google-sit-kit reset --persistent` start the auth flow in Google, and sign out in a separate tab. When you come back to the `googlesitekit_proxy_setup` action your nonce will fail due to `wp_verify_nonce`depending on wp_get_session_token() https://core.trac.wordpress.org/browser/tags/5.7/src/wp-includes/pluggable.php#L2187

[2021-03-16 19:35] felixarntz commented on #2896
@aarondruck Can you check the above? https://github.com/google/site-kit-wp/issues/2896#issuecomment-796839745 has a screenshot on what the bubbles currently look like - is that good to go or do we need to make any additional changes?

[2021-03-16 19:40] felixarntz commented on #2858
IB ✅

@johnPhillips Going forward, please don't add a changelog entry to issues, that should typically happen before merge by the merging code reviewer. 👍

[2021-03-16 19:40] felixarntz commented on #2858
Marking as P0 since it blocks widget API rollout in the dashboard.

[2021-03-16 19:48] felixarntz commented on #2935
@ivankruchkoff Great catch getting around the nonce problem, relying on a temporary user option sounds great. One point of feedback:

Maybe better to always delete the current user proxy nonce once they have received the access token? (i.e. before or during `googlesitekit_authorize_user` hook) We shouldn't keep a nonce around when it is no longer needed; at the same time though we need to keep it

[2021-03-16 20:39] ivankruchkoff commented on #2935
@felixarntz two changes,
1) changed to use the hook `googlesitekit_authorize_user` for deletion.
2) ensure we have a $code and $site_code prior to here: https://github.com/google/site-kit-wp/blob/2bac88b/includes/Core/Authentication/Authentication.php#L293-L294 as the action `admin_action_googlesitekit_proxy_setup` is called twice, once per pageload:

First time:
admin_action_googlesitekit_proxy_s

[2021-03-16 20:52] felixarntz commented on #2068
@eugene-manuilov Once #2918 is merged, can you please update the PR for this one accordingly? In addition to applying it against the updated from #2918, please make sure to use the new `ReportTable` component (see above comment).

I'll mark this as blocked by #2918.

[2021-03-16 21:36] aarondruck commented on #2896
We should keep the bubble and text colors the same as before.  It was for contrast/accessibility.

[2021-03-16 21:43] felixarntz commented on #2896
Updated ACs, back to IB.

[2021-03-16 21:50] felixarntz commented on #2935
@ivankruchkoff The second change shouldn't be necessary, as that function already accounts for when one of the values is empty / not set.

[2021-03-16 22:31] ivankruchkoff commented on #2828
Digging in a bit further, we initially had a class component
https://github.com/google/site-kit-wp/blame/05a4265cf21c4ed9a10d8623e756c953fd7b2bb8/assets/js/components/checkbox.js

Which we refactored to a functional one in #2189. We wrote a storybook story for it, and the same bug exists there see the attached video:
https://google.github.io/site-kit-wp/storybook/master/?path=/story/global--checkb

[2021-03-16 23:11] felixarntz commented on #1555
@aaemnnosttv Is this still relevant? We can probably close it.

[2021-03-16 23:14] felixarntz commented on #1099
Closing as this seems no longer relevant.

[2021-03-16 23:14] #1099 closed

[2021-03-16 23:18] felixarntz commented on #1937
@aaemnnosttv I'm still leaning towards not doing this. Maybe we can refine this in a better way and centralize inclusion of the common components, but I think having the limitation of not being able to combine similarly named actions/selectors/etc. continues to be more valuable than harmful, especially as our datastores grow.

Maybe there's a way to rephrase this and improve the surface for (undes

[2021-03-16 23:25] felixarntz commented on #611
@tofumatt Can you outline the benefits of doing this over what we currently have a bit further? Are you still maintaining this library? My main concern here is how beneficial is this vs the potential cost it introduces, e.g. regarding having to fix issues upstream, or you no longer maintaining this at some point and then we would need to fork or, more likely, switch back to our current integrated

[2021-03-16 23:26] felixarntz commented on #1877
This is no longer relevant since all new components no longer rely on PHP date range parsing, and in the near future the PHP side of it will be completely removed.

[2021-03-16 23:26] #1877 closed

[2021-03-16 23:29] felixarntz commented on #1935
Closing, since we're not going to do a holistic refactoring towards CSF, but more on demand, based on the guidelines we've put together.

See #2940, #2941, #2942 for the only refactoring issues defined at this point - we want to limit Storybook refactoring to those, to have example cases for the different types of stories. Other existing stories should be migrated on demand within other issues, or

[2021-03-16 23:29] #1935 closed

[2021-03-16 23:58] ivankruchkoff commented on #2935
Updated

[2021-03-17 06:02] #1555 closed

[2021-03-17 10:14] asvinb commented on #2065
@felixarntz I've updated the IB to include a note to create a new `WidgetHeader` component which should cater for the widget header and we don't need the widget footer since there's none currently :)

[2021-03-17 11:43] marrrmarrr commented on #467
Thanks @bethanylang! Could you share some of the support topics to see what exactly people are confused about?
@aaemnnosttv I'm working with Aaron on the zero-state dashboard, but this is still in early UXD stages. In the meantime, it would be great to surface clearer messages.
@felixarntz does anything change in terms of widget rendering here given all the refactoring of JS APIs and components th

[2021-03-17 11:54] tofumatt commented on #2901
Just a note that I meant that the `<label>` here would be entirely visually-hidden. @Hazlitte and I just chatted about it and he's going to tweak the IB a bit more based on that clarification 😅

[2021-03-17 12:00] tofumatt commented on #2901
IB ✅

[2021-03-17 12:28] rafapontederino commented on #1491
I have the same problem. The Adsense has connected to my site and waiting for approval from google (I have the Adsense already from my youtube channel), but there is something that bothers me because it mentions in the site kit dashboard "Ad blocker detected, you need to disable it in order to set up AdSense". What should I do?
![Screenshot (31)_LI](https://user-images.githubusercontent.com/808291

[2021-03-17 12:33] aaemnnosttv commented on #2828
@ivankruchkoff – I can't actually reproduce this on `develop`; was this maybe fixed by one of the other "Other" related issues which was recently merged?
Can you reproduce here? https://google.github.io/site-kit-wp/storybook/develop/?path=/story/user-input--userinputapp

[2021-03-17 12:39] tofumatt commented on #2896
For clarity, the button in question is here: https://github.com/google/site-kit-wp/blob/857b07eae65ad4f5ca367c4f8eccd48419a17411/assets/js/components/user-input/UserInputKeywords.js#L137-L141 🙂

IB looks good!

IB ✅

[2021-03-17 12:45] jamesozzie commented on #1491
@rafapontederino Have you tried temporarily deactivating your Ad Blocker? If you're having trouble feel free to reach out in the plugins [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/#new-post), where we'd be happy to assist you with this.

[2021-03-17 13:14] aaemnnosttv commented on #2858
@cole10up @wpdarren – if you don't have any Analytics accounts with zero goal completions to test with then feel free to mark this as QA:Eng but I feel like it shouldn't be hard to find a property that doesn't have any. Note that it still requires a non-zero number of [goals](https://support.google.com/analytics/answer/1012040?hl=en) created for the current view/profile (see https://support.google

[2021-03-17 14:04] asvinb commented on #2886
Thanks @tofumatt . @aaemnnosttv Can you check the IB and let me know what you think?

[2021-03-17 14:19] bethanylang commented on #467
@marrrmarrr Sure thing!

* https://wordpress.org/support/topic/analytics-gathering-data-analytics-data-is-not-yet-available-please-check-back-5/
* https://www.google.com/url?q=https://wordpress.org/support/topic/not-gathering-data/
* https://wordpress.org/support/topic/analytics-gathering-data-analytics-data-is-not-yet-available-please-check-back-4/
* https://wordpress.org/support/topic/search-con

[2021-03-17 14:23] abdullah1908 commented on #2938
@wpdarren reproduced this issue at his end. I think it should be moved to Execution now.

[2021-03-17 14:25] abdullah1908 commented on #2349
Sure @bethanylang I'll give it a try 👍

[2021-03-17 15:05] bethanylang opened #2973 "Add additional language about data usage"
## Feature Description

An increasing number of one-star reviews of the plugin mention it being used to collect data about users in seemingly nefarious ways:

* https://wordpress.org/support/topic/useless-420/
* https://wordpress.org/support/topic/i-trusted-google-blindly-you-be-careful/

We do have the checkbox and related language at setup for opt-in anonymous data, but it would be great to add

[2021-03-17 15:11] iamandrewpeters commented on #852
Another +1. The whole reason I have looked at switching to site kit is the ease of setup plus the views for clients with an editor role and manage options capability. This seems like a no-brainer?

[2021-03-17 15:20] wpdarren commented on #2739
@aaemnnosttv @felixarntz I have followed the instructions to get the tour to appear again but unsuccessfully.  Please could you check the steps in the QAB, or offer any suggestions on an easy way to reset it.  Would it be something we could add into the tester plugin? We'd need to reset this a few times to test in different browsers/devices.

[2021-03-17 16:12] rafapontederino commented on #1491
@jamesozzie I did, and I opened my site with my phone too, but the "Adblocker detected, you need to disable it in order to set up AdSense" is still there. I have tried several times to enter the WordPress support forum but I have a problem with login.

[2021-03-17 16:27] jamesozzie commented on #1491
@rafapontederino Sorry to hear you're unable to login to the WP Support Forums. I assume you've tried a password reset, which would get sent to your phone. Ideally we can obtain your Site Health information via [this form](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/) although you would need to reference a WordPress support forum topic which you've created. If you'

[2021-03-17 16:44] felixarntz commented on #2935
IB ✅

[2021-03-17 16:57] felixarntz commented on #2847
@aaemnnosttv IB ✅

+1 for using client-side storage only for this.

I've amended the ACs and IB with one detail that was missing before, which is that the tooltip must only be shown if the `helpVisibility` feature flag is enabled.

I'll also remove #2846 as being a blocker here; it's a blocker for completing the implementation but not for starting it.

[2021-03-17 17:00] rafapontederino commented on #1491
I still cannot access WordPress support forum. Attached is my active plugins
![Screenshot (33)](https://user-images.githubusercontent.com/80829188/111507135-9e69de00-874a-11eb-90ed-c41bac023f31.png)

[2021-03-17 17:19] ivankruchkoff commented on #2828
@aaemnnosttv yes I can on the checkbox component story, see https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global--checkboxes, and also on the userinput story in https://google.github.io/site-kit-wp/storybook/develop/?path=/story/user-input--userinputapp see the attached video

https://user-images.githubusercontent.com/373931/111509660-2f6c9500-870a-11eb-84a4-c35737e93d36.mp4

[2021-03-17 17:25] adamsilverstein commented on #2782
Hi @cnxsoft - thanks for your help debugging this issue. I would love a little more help troubleshooting if you have a chance:

Can you take a look at your debugger network panel and let me know what you see when you select the accounts that cause the error?

In particular, look for a request to the rest api to the `/wp-json/google-site-kit/v1/modules/analytics/data/properties-profiles` URL. In th

[2021-03-17 17:48] bethanylang commented on #2938
Thanks @abdullah1908. I'll take care of this one, but for future reference, for any issue that is ready to go to Execution based upon your confirmation in testing:

1. Change Pipeline in Execution from Triage > Prioritization
2. Change Assignee to Felix

[2021-03-17 18:28] tofumatt commented on #2063
I've taken this one over and since the [`getReport` selector for Search Console gets us the appropriate data](https://github.com/google/site-kit-wp/blob/857b07eae65ad4f5ca367c4f8eccd48419a17411/assets/js/modules/search-console/datastore/report.js#L38-L40) it seems the examples in AdSense code provided in the IB should be sufficient to give a sense of how to implement this component for Search Cons

[2021-03-17 19:10] felixarntz opened #2974 "Scaffold analytics-4 internal module in PHP"
Since GA4 Analytics properties and UA properties are entirely different and separate, the infrastructure and basic API for GA4 should be implemented in a separate (fully internal) module. [See more information on the overall approach](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit?resourcekey=0-0CgoW31PILS2t6JGZ6w_yA#heading=h.ft5rt9liuag2).

This issue is for

[2021-03-17 19:27] felixarntz opened #2975 "Add ga4setup feature flag"
There should be a new `ga4setup` feature flag that toggles whether the new GA4 support during the Analytics setup flow (plus related infrastructure such as the internal module, see #2974) is enabled. [See more information on the overall approach](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit?resourcekey=0-0CgoW31PILS2t6JGZ6w_yA#heading=h.ft5rt9liuag2).

-----

[2021-03-17 19:27] felixarntz opened #2976 "Scaffold googlesitekit-modules-analytics-4 JS asset and modules/analytics-4 datastore"
As part of the infrastructure to add GA4 support, there should be a new `googlesitekit-modules-analytics-4` JS asset including a `modules/analytics-4` datastore, for the new internal `analytics-4` module class implemented in #2974. [See more information on the overall approach](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit?resourcekey=0-0CgoW31PILS2t6JGZ6w_yA

[2021-03-17 19:30] felixarntz opened #2977 "Register googlesitekit-modules-analytics-4 JS asset in Analytics_4 PHP class"
To connect the work from #2974 and #2976, the new `googlesitekit-modules-analytics-4` JS asset should be registered by the new `Analytics_4` PHP module class, ensuring that the JS asset will be enqueued if the `ga4setup` feature flag (see #2975) is enabled. [See more information on the overall approach](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit?resourceke

[2021-03-17 19:57] felixarntz opened #2979 "Implement the ability to query and create GA4 properties via modules/analytics-4 datastore"
The `modules/analytics-4` datastore should allow querying and creating GA4 properties.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/analytics-4` datastore should get a new selector `getProperties( accountID )` which uses the `GET:modules/analytics-4/data/properties` REST datapoint to li

[2021-03-17 19:57] felixarntz opened #2980 "Implement the ability to query and create GA4 web data streams via modules/analytics-4 datastore"
The `modules/analytics-4` datastore should allow querying and creating GA4 web datastreams.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/analytics-4` datastore should get a new selector `getWebDataStreams( propertyID )` which uses the `GET:modules/analytics-4/data/webdatastreams` REST d

[2021-03-17 19:57] felixarntz opened #2981 "Implement modules/analytics-4 datastore functionality for matching web datastream with property"
The `modules/analytics-4` datastore should be able to find a matching web data stream for a given property and the current site, as well as selecting it based on the property selected.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/analytics-4` datastore should have a new selector `getMat

[2021-03-17 21:42] jamesozzie commented on #1491
I see you have the Health Check & Troubleshooting plugin active, have you tried navigating to troubleshooting mode within this plugin, while enabling only Site Kit in troubleshooting mode? When doing to please do so from a Chrome browser incognito window, to ensure browser extensions are not interfering with displaying your data.

[2021-03-17 22:56] ivankruchkoff commented on #2128
@asvinb and @aaemnnosttv as part of the work for #2941 `feature/2941-button-storybook6-stories` I spun up a branch and pulled some of the content in your PR, writing a story in the new format (v6) for Buttons, and it works with the old format of stories (v5). Not entirely sure why it's not  currently starting the checks https://github.com/google/site-kit-wp/pull/2959/checks but it is working local

[2021-03-18 00:14] rafapontederino commented on #1491
@jamesozzie I did navigate to troubleshooting mode with the Health Check & Troubleshooting plugin from a Chrome browser incognito window. But the result is still the same, "Adblocker detected, you need to disable it in order to set up AdSense" is still there.
![Screenshot (34)](https://user-images.githubusercontent.com/80829188/111554768-41d8e400-8787-11eb-8324-d2ecd03214e2.png)

[2021-03-18 00:22] jamesozzie opened #2983 "Clicking on any "See full stats in Analytics" link opens a 7 reporting period (no matter what reporting period was active within the plugin dashboard)ting period selected within the Site Kit dashboard"
## Bug Description

When clicking on the "See full stats in Analytics" a user is directed to the associated report on the Google Analytics web UI however it is always a report for the previous 7 days. This is regardless of what reporting period was selected within Site Kit.

![ex](https://user-images.githubusercontent.com/41326532/111553492-6b404280-877c-11eb-876f-17c3e9f0db5e.gif)

- Example repo

[2021-03-18 00:42] cnxsoft commented on #2782
@adamsilverstein Afer creating a new property, I was able to login, but missing parameters still happen. Please find see a screenshot showing this type of error with the metrics parameter.
![google-site-kit-json](https://user-images.githubusercontent.com/1366138/111556576-80899100-87bd-11eb-89c1-743a3185bc52.png)

[2021-03-18 08:01] aaemnnosttv commented on #2828
Thanks @ivankruchkoff! I'm okay with the current IB as good for now if it solves the problem but part of the problem here is that we're somewhat unnecessarily reimplementing the checkbox component rather than using `@material/react-checkbox` (see #2510). I took a quick look to see if updating our `Checkbox` to use it would solve the problem and it didn't. It also does not support the `value` prop

[2021-03-18 09:21] saharben commented on #1412
I can confirm that iThemes Security Pro setting: 'Filter Long URL Strings' is causing this issue.

[2021-03-18 10:28] wpdarren commented on #2967
### QA Update: Pass ✅

The Analytics dashboard page has the correct vAxis labels when Session Duration is selected.

![image](https://user-images.githubusercontent.com/73545194/111611673-ac396500-8817-11eb-80ab-90f24a8282c4.png)

[2021-03-18 12:13] wpdarren commented on #2739
### QA Update: Fail ❌

On desktop and mobile: On the 2nd and 3rd tour tip, it tells you to:

`Click on the chart slices to see how each segment has changed over time` or
`Select a time frame to see the comparison with the previous time period`

But the user is unable to do either of those actions while the tour is active because the elements are locked.

Just wondering if the user should be able t

[2021-03-18 12:18] asvinb commented on #2877
@felixarntz In the AC, it's not mentioned what should be the value for the `category` parameter of `trackEvent` function. I assumed it to be `dashboard-pagespeed-insights-widget` in the IB, but can you confirm which value to use? Thanks!

[2021-03-18 12:48] aaemnnosttv opened #2985 "User input progress bar is misaligned"
## Bug Description

The persistent progress bar on the user input app is a bit misaligned compared to the design.

## Screenshots

Current alignment
| Source | Start | End |
| --- | --- | --- |
| Current | ![image](https://user-images.githubusercontent.com/1621608/111627745-117d5e00-87f8-11eb-9cd6-0d905b948bcd.png) | ![image](https://user-images.githubusercontent.com/1621608/111628261-b5ffa000-87f

[2021-03-18 12:53] jamesozzie opened #2986 "Data error in Analytics, Request parameter is empty: metrics"
As reported in the [WordPress support forums](https://wordpress.org/support/topic/request-parameter-is-empty-metrics/#post-14201035) one user encounters dashboard error messages in both the Analytics and PageSpeed Insights widgets.

Analytics
`Data error in Analytics, Request parameter is empty: metrics.`

Pagespeed Insights:
`Error: Request parameter is empty: strategy.`

This started occurring r

[2021-03-18 13:32] wpdarren commented on #2249
### QA Update: ✅ Pass

**Verified:**

Crossed checked between `widgets.dashboard` and `widgets.pageDashboard` features enabled and disabled.

- Verified widget report tables are visually consistent with their non-widget versions, including column headers/sizing
and number of rows.
- Verified columns on mobile.

[2021-03-18 13:38] wpdarren commented on #2539
@aaemnnosttv is it possible to get a few more steps on how to test this?

I've looked at the PR on this ticket, but not sure what I am looking for :)

![image](https://user-images.githubusercontent.com/73545194/111635156-2bd42d80-8832-11eb-809f-2a3e2623a3a8.png)

[2021-03-18 14:06] felixarntz commented on #2877
@asvinb Excellent - IB ✅

Thanks for catching the missing event category, I forgot to add it. It should be `pagespeed_widget`, I've updated both the ACs and your IB with it.

[2021-03-18 14:15] felixarntz commented on #2851
@tofumatt Good additional points you're making here - should they be added to the ACs / IB here or would you rather open a separate issue? Not tabbing through radio buttons and not tabbing to text input if "Other" is not selected makes sense to me.

[2021-03-18 14:20] felixarntz commented on #2886
@asvinb I agree the font sizes here aren't perfect, but reducing them partly doesn't resolve the issue. For example, in your screenshot with reduced font sizes it now is weird that the question font size looks smaller than the one for the explanation above.

Let's not change font sizes in this issue - can you open another one to explore that please?

[2021-03-18 14:29] felixarntz commented on #2065
@asvinb Almost good to go now, except for some feedback on `WidgetHeader`:

* The name for the component is a bit odd, given the `Widget` component itself already has the concept of a widget header (see the CSS class it adds). Overall the component shouldn't be necessary I think (see below).
* Since there already is a widget header, we shouldn't need to render another wrapper element. How about we

[2021-03-18 14:43] wpdarren commented on #2727
### QA Update: Pass ✅

**Verified:**

- 100x100 on when screen width <= 600px  - [Screenshot](https://user-images.githubusercontent.com/73545194/111644459-d4868b00-883a-11eb-81dd-bc522cc35f3f.png)

- 200x200 for screen widths > 600px and <= 960px - [Screenshot](https://user-images.githubusercontent.com/73545194/111644478-d9e3d580-883a-11eb-9eea-89afa1def6d4.png)

- 300x300 for screen widths > 960p

[2021-03-18 15:12] felixarntz commented on #2233
Since we're already tracking this via #2938 and it has a bit more feedback, we can now close this one.

[2021-03-18 15:12] #2233 closed

[2021-03-18 15:26] felixarntz commented on #2871
@adamsilverstein Can you retry this again with the latest Site Kit version? We generally changed the approach to detect ad blockers to be more reliable in that release.

[2021-03-18 15:30] felixarntz commented on #2849
@aarondruck Can you re-check that with the latest Site Kit version? This should already be the case by now.

[2021-03-18 15:37] felixarntz commented on #2280
@tofumatt @aaemnnosttv @eugene-manuilov Any idea what type of problem could cause this error? From looking at the different support threads, it appears this can happen in various components/screens.

[2021-03-18 15:40] felixarntz commented on #2850
This was already done via #2737 - closing.

[2021-03-18 15:40] #2850 closed

[2021-03-18 15:44] felixarntz commented on #2203
@glanglois Thanks for the suggestion (and sorry for the super long delay 🤦‍♂️ )!

We're going to look into adding DNS prefetch directives for the external services that Site Kit uses (e.g. Analytics, AdSense, Tag Manager snippets), to improve performance. Regarding _any_ external Google services, that is rather out of scope for this plugin and IMO is more suitable in a performance plugin, for exam

[2021-03-18 16:17] felixarntz commented on #2063
@tofumatt There is a nuance with Search Console about getting data for the previous period that would be good to add to the IB. Although this has been relevant everywhere we do this in Search Console, let's clarify here too: There is no notion of previous period in the Search Console API, so we basically have to request both periods as a single period (`compareStartDate` as start, `endDate` as end

[2021-03-18 16:30] adamsilverstein commented on #2782
Hmm, this error is a little different "Parameter is empty: metrics".  This might be related to the new widget here.

Can you check under Site Kit -> Settings -> analytics, and try selecting one of the accounts that was giving you the "accountId missing" error before. Just selecting the account should trigger the error, you don't need to save the settings. I'm still curious about the query paramete

[2021-03-18 17:38] aaemnnosttv commented on #2280
@felixarntz looks like the most consistent culprit is maybe the `displayValue` passed to a `ReportMetric` within `LabReportMetrics`.

I noticed that many of the reports came from non-English speakers so it may be related to this issue: https://github.com/facebook/react/issues/11538 (although not sure why it would cause a problem in that component/tree specifically more than others)

[2021-03-18 18:00] felixarntz opened #2988 "Fix "The response is not a valid JSON response" errors by using POST requests to REST API"
At least one of our REST datapoints uses `GET` for requests where the respective Google API endpoint uses `POST` (the Analytics `batchGet` endpoint). There appears to be problems when using `GET` requests for too complex queries because they need to include fairly long query strings, which apparently can get blocked on some environments or by certain plugins, see https://github.com/google/site-kit

[2021-03-18 19:27] jamesozzie commented on #1398
Occurred once more after switching a site URL from www to non www. The plugin recognised the URL change and suggested to redo plugin setup. This dashboard notice occurred as below after doing so, with no console errors on the same screen:

![image](https://user-images.githubusercontent.com/41326532/111684639-db070980-881e-11eb-980d-fddbf5cc72c2.png)

Upon page refresh the notice disappeared, with

[2021-03-19 02:19] cnxsoft commented on #2782
I had to disconnect to try another account, but here's the error with accountID missing.

![Screenshot from 2021-03-19 09-18-09](https://user-images.githubusercontent.com/1366138/111722300-2a3b5180-8894-11eb-9707-e0606c52ce99.png)

[2021-03-19 05:04] caseymorrisus opened #2989 "Fix errors caused by "__experimentalResolveSelect" method removal from @wordpress/data"
The `develop` branch is throwing a new error due to a dependency update on the latest version of `@wordpress/data`. It looks like `registry.__experimentalResolveSelect` has been graduated to stable status via [#28544](https://github.com/WordPress/gutenberg/pull/28544). Unfortunately, the `__experimental` prefix has been completely removed without a deprecation phase — causing errors when checking

[2021-03-19 05:11] cole10up commented on #2578
### **QA ✅**

- Ran composer install and npm install.
- Ran npm run env:start
- Ran composer test and composer test.multisite

All checked out, no issues on my end.

[2021-03-19 08:57] glanglois commented on #2203
@felixarntz Thank you for your reply.

I was only thinking that Google Site Kit would perform a prefetch of connected Google services (analytics, tag manager, etc.). It's great to know that this could go in your roadmap.

For any other prefetch, I agree that it's out of scope and should be handled by performance plugins.

Have a great day!

[2021-03-19 10:08] wpdarren commented on #2858
### QA Update: ⚠️ Engineer to confirm observation.

@aaemnnosttv this is looking good but if you look at the screenshot below, the `Goals Completed` title and data does not align with the `Unique Visitors from Search`  Unsure if this is part of this issue, or if it needs a new ticket?

Unique Visitors from Search

**Verified:**

On a site that has a goal created in GA, but zero goal completions, t

[2021-03-19 11:15] aaemnnosttv commented on #2858
@wpdarren I think this should be a new issue. It's due to the missing change arrow since a change of zero currently results in nothing output there; not a result of this issue 👍

[2021-03-19 11:24] myedgy opened #2990 "Daily Stats"
Hi there,

Regarding this support ticket: https://wordpress.org/support/topic/today-stats/#post-14206004

I create a feature request.

Can you add a “today” and “yesterday” tab in the overviews (Analytics, Search Console, AdSense)?
Because now it’s only Last 7 days, Last 14 days, Last 28 days and Last 90 days.

Also, an “active users in real time” for the analytics tab would be great.

Today and y

[2021-03-19 11:26] myedgy commented on #2757
Any Updates?

[2021-03-19 11:26] myedgy commented on #631
Any updates?

[2021-03-19 11:33] jamesozzie commented on #2990
Many thanks for opening a GitHub issue. As this look similar to the feature request you've already referenced (#631) I'll close this as a duplicate.

I noticed also you added some additional context to that existing feature request, which is excellent. All feedback is super useful as we're planning on allowing users to customize the dashboards as per [this comment.](https://github.com/google/site-

[2021-03-19 11:33] #2990 closed

[2021-03-19 11:40] wpdarren opened #2991 "UI issues on All Traffic Widget With Small Amount of Data"
## Bug Description

I have a site with a very small amount of data and when viewing Site Kit dashboard there are a few UI issues

1) 100% appears within the centre of the pie chart, overlapping `By Channels`

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/dfada236-0c0e-4b3a-b801-3f2efa2c13c6)

2) Legends appear in `Channels`, `Locations` and `Devices` that are not in th

[2021-03-19 11:44] wpdarren commented on #2858
### QA Update: Pass ✅

**Verified:**

On a site that has a goal created in GA, but zero goal completions, the sparkline is rendered. No CTR appears.

![image](https://user-images.githubusercontent.com/73545194/111764032-bcb41300-88dd-11eb-846e-24cc72853df4.png)

[2021-03-19 11:49] aaemnnosttv commented on #2739
@wpdarren I think that's fine. You shouldn't expect to be able to interact with elements as usual during a tour. It would also be odd to phrase every instruction as "after this tour is over [...]" 🙂

It seems there are some issues with the tour highlighting the proper area in mobile consistently.

@tofumatt can you take a look and see what we can do here?

[2021-03-19 11:55] wpdarren opened #2992 "Mis-alignment of Goals title and data in Site Kit Dashboard"
## Bug Description

While testing #2858  I noticed that the `Goals Completed` title and data does not align with the `Unique Visitors from Search ` due to the missing change arrow because a change of zero currently results in nothing output there.

![image](https://user-images.githubusercontent.com/73545194/111764032-bcb41300-88dd-11eb-846e-24cc72853df4.png)

Would be good that it is aligned in th

[2021-03-19 12:13] aaemnnosttv commented on #2885
IB ✅

[2021-03-19 12:21] wpdarren commented on #2848
### QA Update: Fail ❌

@tofumatt  The initial issue is fixed but thought I would highlight these two observations: when you edit a question, make a change and then click the `update` button, you are taken back to the preview, but it loads towards the bottom of the page.

This is possibly linked with the issue above, but a different scenario:

I noticed when you get to the last question (when compl

[2021-03-19 12:31] asvinb commented on #2065
@felixarntz I've updated the IB but a couple of notes:

- I think we don't need the extra `WidgetHeaderTitle` and `WidgetHeaderCTA` since if they were to be, they would just return some text without any logic attached. I think it'll be overkilled to have them :)
- I'am thinking whether we should actually keep the custom `WidgetHeader` component like I originally wrote, mainly because the current h

[2021-03-19 12:41] aaemnnosttv commented on #2184
Thanks @asvinb – assigning this to @caseymorrisus to take over since this ties in with the work he's doing in #2514 to hopefully result in minimal conflicts.

[2021-03-19 13:19] wpdarren commented on #2846
### QA Update: Fail ❌

@tofumatt @aaemnnosttv a few observations:

1)  On mobile, the icon causes placement issues with the account icon and date range dropdown. I tested this on a few different small screen sizes. Tablets seem to be fine. - [Screenshot](https://user-images.githubusercontent.com/73545194/111785557-b9c61c00-88f7-11eb-86aa-5020e22d7ac0.png)
2) When you click the icon on mobiles, on

[2021-03-19 14:23] wpdarren commented on #2539
### QA Update: Pass ✅

Confirmed that Github actions is working for the bundlesize check.

![image](https://user-images.githubusercontent.com/73545194/111794777-89837b00-8901-11eb-946c-4e86d37a7bfd.png)

[2021-03-19 14:45] tofumatt commented on #2128
QA ✅

[2021-03-19 15:36] felixarntz commented on #2991
@johnPhillips Can you verify what's going on here?

[2021-03-19 15:42] felixarntz opened #2993 "Add placeholder to all "Other" text input fields in user input flow"
When the "Other" text input field is not focused, it's basically impossible to notice it visually. Therefore, a placeholder should be added to make it clear that this option supports custom input.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All text input fields for an "Other" choice throughout dif

[2021-03-19 15:49] felixarntz commented on #2351
@aaemnnosttv @tofumatt @eugene-manuilov Would be great to revive the conversation here. I don't think we should necessarily refactor all the `useCallback` usages to remove them if the benefits are minor; but it would be good to come to a conclusion here for moving forward (should we use `useCallback` or not, or if partially, when?).

[2021-03-19 15:52] jamesozzie opened #2994 "Make use of new wp_get_inline_script_tag() function"
## Feature Description

As of WordPress 5.7 there has been a new wp_get_script_tag() function that can be used for outputting certain scripts. [One user in the support forums](https://wordpress.org/support/topic/use-new-wp_get_inline_script_tag-to-allow-for-nonce-and-proper-csp/) raised the question of Site Kit using this new function within the plugin.

Information on this new function below:
[In

[2021-03-19 17:00] felixarntz commented on #2065
@asvinb

I don't have a strong preference on having them or not having them, but I think having them, even though they will be super simple, would inform to have the same markup for all of these; for example `WidgetHeaderTitle` would include the standard heading tag with classes, and `WidgetHeaderCTA` would always be an external CTA leading to a module's service frontend. Yes they are super simple

[2021-03-19 17:05] felixarntz commented on #2063
IB ✅

@tofumatt Regarding your question about date range splitting: It would be neat if the `getReport` selector for Search Console would automatically handle our regular 4 date range fields and combine them into a single request. However, the problem with that is then that the response would still include all dates together without any notion of what belongs to the compare period or current perio

[2021-03-19 17:08] tofumatt commented on #2848
Ah, I guess that's a similar issue but not exactly unrelated. My instinct is I'd want the completed form to be near submit, but that doesn't happen here—it just stays in the previous position.

I guess we should scroll up to the top of the page when the summary is loaded, so I'll work on that. Thanks 👍🏻

[2021-03-19 17:21] abdullah1908 commented on #2983
I can recreate this issue at my end & moving to execution.

[2021-03-19 23:41] ivankruchkoff commented on #2935
After deleting the user meta proxy nonce, it's still recreated every time we view the dashboard due to https://github.com/google/site-kit-wp/blob/d63868a5a/includes/Core/Authentication/Authentication.php#L700

So in essence we always have a `wp_googlesitekit_proxy_nonce` user meta.

[2021-03-20 00:29] tofumatt commented on #2739
I don't think the scroll behaviour is too bad, though I agree we should look to scroll to `.googlesitekit-tour-tooltip` whenever the tooltip is moved back/forward.

I did, however, notice another mobile issue when moving to the last tooltip, then back to the beginning. The highlighted window into the content is in the wrong place:

![2021-03-20 00 25 03](https://user-images.githubusercontent.com/9

[2021-03-22 09:04] asvinb commented on #2065
Sounds good @felixarntz . I've updated the IB to reflect your thoughts. Let's also tweak the styles for the `googlesitekit-widget__header` class name so that its direct children stack on small screens since we already have the padding in place :)

[2021-03-22 10:18] jamesozzie opened #2998 "Ensure a Web container is available for selection during Tag Manager module setup if using Standard mode AMP - when not all URLs are AMP"
## Bug Description

As raised by [one user in the support forums](https://wordpress.org/support/topic/site-kit-amp-standard-mode-gtm/) some users have AMP active in standard mode. For some URLs they may have AMP disabled, as configured in the AMP plugins "Supported Templates" configuration.  If they wish to enable the Tag Manager module within Site Kit this results in no Web Container dropdown ava

[2021-03-22 10:49] asafm7 commented on #2998
Thanks, @jamesozzie .

Just to note that AMP can also be disabled on a _specific page level_ (not just on a template level):
![image](https://user-images.githubusercontent.com/14274769/111978291-a84d6180-8afb-11eb-9856-527ae1865905.png)

Maybe a good (and simple solution) is to _always_ show both the option to choose both AMP and non-AMP containers. Maybe when AMP is on the Standard mode, the non-

[2021-03-22 11:17] tofumatt commented on #2907
@aaemnnosttv Indeed, there is an issue open for that already: #2993. So yes, let's do it, but in a separate issue. 🙂

[2021-03-22 11:49] eugene-manuilov commented on #2937
@felixarntz IB is updated. Please, assign it to me if it looks good to you and I'll take care of it this week.

[2021-03-22 12:07] aaemnnosttv commented on #2907
@tofumatt 👍

@Hazlitte please sync your PR with the latest on develop and fix the errors in E2E then this should be good to go 👍  If you have questions about what's needed there, please reach out to @eugene-manuilov as he wrote the [tests for the user input flow](https://github.com/google/site-kit-wp/blob/develop/tests/e2e/specs/user-input-questions.test.js).

[2021-03-22 12:12] Hazlitte commented on #2907
@aaemnnosttv OK, will do 👍

[2021-03-22 12:20] jamesozzie opened #3000 "Add a notice within the Optimize setup screen, increasing awareness of Analytics configuration conflicts"
## Feature Description

As one user mentioned in the [WP Support Forums](https://wordpress.org/support/topic/analytics-pageview-not-detected-i-do-not-understang-how-to-fix-this-error/#post-14216932) Optimize experiments will fail if a user is logged into their site and the are not counting logged in users within their Analytics configuration.

As this configuration is an option within Site Kit it