[2019-06-19 17:41] andrewkoski opened #1 "Issue Accessing Data / Google PageSpeed Insights"
I currently have the plugin on https://poisar.com. The issue seems that after the integration, the PageSpeed Insights API has some sort of data error. I properly enabled the PageSpeed API and only have restrictions as it pertains to utilizing poisar.com and *.poisar.com/* via the API. Please reference the following images.

![123](https://user-images.githubusercontent.com/13125986/59787537-8bc52b0

[2019-06-19 17:56] andrewkoski commented on #1
Also, I should add that I allowed for Less secure app access to run in my Google Account.. but that didn't help either. Also, the Analytics aren't properly appearing. (As shown below.)

![12345678](https://user-images.githubusercontent.com/13125986/59788346-5ae5f580-9280-11e9-8560-7c4d7b392556.png)

[2019-06-19 19:15] jamesozzie commented on #1
Try setting the applications restrictions to "None" and then deactivate Site Kit. (Settings > Admin > Reset Site Kit). Then add Page Speeds Insights again. Once thats done add the restrictions again to your site using *poisar.com* and wait a few minutes before checking your dashboard.

The view for your Analytics dashboard seems ok, if your website was just setup new. Did you select the correct pr

[2019-06-19 19:59] andrewkoski commented on #1
So the restrictions are what caused the PageSpeed Insights from working.
As for the Analytics though, they still are not working.. even after reloading the plugin.
I did select the correct property, etc.. but still no luck. :/
![12](https://user-images.githubusercontent.com/13125986/59796335-15cabf00-9292-11e9-8ed4-41fc689abf13.png)

[2019-06-20 00:32] eduardogoncalves opened #3 "Can't setup Analytics"
**Describe the bug**
Can't setup Analytics on my site: https://www.saibatudomt.com.br/

`Blocked script execution in 'https://www.saibatudomt.com.br/?tagverify=1' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.`

![image](https://user-images.githubusercontent.com/4308648/59809909-d1aadf00-92d0-11e9-9b33-98b0cb9b3a5e.png)

![image](https://user-images.github

[2019-06-20 04:12] phpbits opened #4 "Unknown Error after Signing IN"
Happening on Step 2, after allowing the API and signed in, it's throwing this on the dashboard:

<img width="1116" alt="Screen Shot 2019-06-20 at 12 11 18 PM" src="https://user-images.githubusercontent.com/3365507/59818004-b4b7ef80-9354-11e9-8313-a8e245b3861f.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog en

[2019-06-20 05:53] amitmalewar opened #5 "Enabling Site Kit plugin breaks AMP"
**Describe the bug**
Enabling site kit plugin breaks the AMP version of the site. It just showing 49 years ago, article tags and categories.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Site Kit plugin and configure it
2. Install AMP plugin By AMP Project Contributors
3. Try accessing AMP page of the site
4. See error

**Screenshot**
![Screenshot_162](https://user-images.githubuse

[2019-06-20 06:50] nico-martin opened #6 "Explore shared data between WordPress accounts"
At the moment I'm only able to see the data connected to my own google account. I can't share data between other WordPress accounts.

It would be great to be able to share data with other WordPress accounts. I imagine having a list of all WordPress Users where I could select some Users that are able to see what I am seeing. Maybe they could then choose my Google account on the dropdown on the uppe

[2019-06-20 07:41] ThierryA commented on #6
Thanks for you suggestion Nico, nice to have you on this repo too 😄

We having been discussing data sharing and I definitely see value and a strong use case for this feature. We have to get it right though, as data sharing may be sensitive.

I labelled this issue as **enhancement** for future versions, there is not ETA or guaranty though.

[2019-06-20 07:57] nico-martin commented on #6
Hi Thierry,
Yes, I totally agree! That's a super sensitive topic :).
I'm looking forward to see how this plugin evolves!

[2019-06-20 08:30] jamesozzie commented on #1
@andrewkoski We will need to investigate this further. Can you let me know what version of WordPress you are using and if you are using any caching or other Analytics/reporting plugins?

[2019-06-20 08:43] jamesozzie commented on #3
@eduardogoncalves Can you temporarily disable AMP and then try to connect Analytics again.

[2019-06-20 09:11] jamesozzie commented on #4
@phpbits Just to confirm, after step 2 was complete it never directed you to step 3? (to verify the URL).

If possible can you clear your cache and then reset your Sit Kit (Settings > Admin Settings > Reset Site Kit). Also ensure you don't have any API restrictions also and authenticate via the same Google account with which you created OAuth credentials with.

[2019-06-20 09:17] jamesozzie commented on #5
@amitmalewar Thanks for the context, would you be able to let me know what plugins you are using in addition to AMP and Site Kit, or is possible share your site URL? Site Kit operates in the backend, it shouldn't affect AMP endpoints so there could be conflict. But let me know so we can take a look.

[2019-06-20 09:59] jphorn opened #7 "PHP Notices for undefined constants"
**Describe the bug**
PHP warnings for undefined constants `LOGGED_IN_KEY` and `LOGGED_IN_SALT`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Site Kit plugin
2. Enable PHP error logging
3. Activate Site Kit plugin in WordPress
4. Many PHP warning notices for undefined constants

[code]
[More information and proposed fix](https://www.quora.com/What-does-the-Use-of-undefined-constant

[2019-06-20 10:07] jphorn opened #8 "Hardcoded (German) language strings"
**Describe the bug**
Some errors are hardcoded to return in German language

**To Reproduce**
https://github.com/google/site-kit-wp/blame/9a262cd18c33995ce5ec81bc300ff055dff2a153/includes/Core/Storage/Data_Encryption.php#L123
https://github.com/google/site-kit-wp/blame/9a262cd18c33995ce5ec81bc300ff055dff2a153/includes/Core/Storage/Data_Encryption.php#L143

There may be more. I found these while re

[2019-06-20 10:08] jamesozzie commented on #7
Thanks for the context, will pass this on now.

[2019-06-20 10:21] amitmalewar commented on #5
AMP gives error only when we configure Analytics feature in Google Kit.
**Site URL:** https://www.infophilic.com

**Plugins:**

- Akismet
- Jetpack
- AMP
- Classic editor
- Contact Form 7
- Imagify
- Redirection
- Infophilic
- Subscribe to Comments Reloaded
- tagDiv composer
- Thirsty Affiliates
- Vaultpress
- WP Coupons
- WP Mail SMTP
- WP Rocket
- Yoast SEO

[2019-06-20 10:56] jamesozzie commented on #5
I am unable to see any AMP urls at the moment. Do you have a staging site you can use to deactivate some of your other plugins to test, and with AMP active are you seeing any errors using Chrome dev tools?

[2019-06-20 11:02] amitmalewar commented on #5
@jamesozzie  Please check now, I have re-enabled Site Kit plugin.

![Screenshot_169](https://user-images.githubusercontent.com/22256354/59844612-fbb7dc00-9378-11e9-9a10-b11f8acf0912.png)

[2019-06-20 11:24] phpbits commented on #4
@jamesozzie it's on step 2. I'll try that. Thanks!

[2019-06-20 11:27] phpbits commented on #4
@jamesozzie No Settings nav available. I can't get pass here :

<img width="1097" alt="Screen Shot 2019-06-20 at 7 25 39 PM" src="https://user-images.githubusercontent.com/3365507/59846003-578e5f00-9391-11e9-88c8-528dc2c4bb8e.png">

After clicking the "Allow" buttons, I've been redirected to my original screenshot with "Unknown Error" printed.

[2019-06-20 12:24] jamesozzie commented on #4
In order for me to investigate or log as a bug can you inform me of the below:

WordPress version:
PHP Version:
Operating System:
WordPress plugin being uses:

Do you have any other WordPress installs on the same server you can try with?

[2019-06-20 12:53] jamesozzie commented on #5
@amitmalewar It looks like it's a problem with a plugin conflicting with your AMP plugin. Your AMP URLs do not follow the standard URL pattern (there is a / at the end of each AMP URL).

Have you installed any plugin other than Site Kit recently, or changed any settings in your active plugins? If possible please deactivate (temporarily) some of the other plugins you are using to see if your AMP wo

[2019-06-20 13:06] jamesozzie commented on #8
@jphorn Thanks for the heads up on this.

[2019-06-20 14:01] eduardogoncalves commented on #3
I disabled AMP, and change my theme to Twenty Seventeen, but didn't work.

![image](https://user-images.githubusercontent.com/4308648/59855078-38b4ac00-9342-11e9-8c54-bacf69898eab.png)

![image](https://user-images.githubusercontent.com/4308648/59855024-17ec5680-9342-11e9-9ac0-3079104afcf5.png)

[2019-06-20 14:15] gioangion commented on #4
Same here. Can't get past step #2.

WordPress version: 5.2.2–it_IT
PHP Version: 5.6.35
Operating System: Linux

[2019-06-20 14:31] nomicool opened #10 "Technical error"
after uploading plugin receiving following error The site is experiencing technical difficulties.

[2019-06-20 14:31] amedina opened #11 "Analytics module fails set up flow"
**Describe the bug**
The flow for setting the Analytics module fails to complete with a blank screen.
**To Reproduce**
Steps to reproduce the behavior:
1. Activate Analytics module

**Expected behavior**
Displaying analytics properties selection
<img width="1524" alt="Screen Shot 2019-06-20 at 4 27 36 PM" src="https://user-images.githubusercontent.com/506089/59857237-d2974b80-9378-11e9-9814-c93ade

[2019-06-20 14:36] eduardogoncalves commented on #11
I'm having the same issue #3

[2019-06-20 14:57] jamesozzie opened #12 ""Issue accessing data" notice appear when Analytics is added"
**Describe the bug**
After successfully connecting an Analytics account (using the same Google account OAuth which to verify the setup) an "Issue accessing data" notice appears.

While Analytics reporting in the dashboard is fine there the notice remains and trying to re authenticate your account via the button in the notice doesn't solve the issue, the notice reappears.

**To Reproduce**
Steps to

[2019-06-20 15:04] jamesozzie commented on #1
@andrewkoski I will close this ticket as your Page Speed Insights are working. I have opened one for the Analytics specifically [here](https://github.com/google/site-kit-wp/issues/11).

[2019-06-20 15:04] #1 closed

[2019-06-20 15:07] amedina opened #14 "Getting a blank screen"
I am getting a blank screen when trying to access the Site Kit admin screen.
<img width="1672" alt="Screen Shot 2019-06-20 at 5 03 28 PM" src="https://user-images.githubusercontent.com/506089/59859787-b5b14700-937d-11e9-94a5-5a6c48eba7b4.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog entry

*

## Acceptance

[2019-06-20 15:31] bigmike7801 commented on #4
Getting the same issue here after step 2.

Here's some errors in my logs:

`#0 /domXXXXX/wp-content/plugins/google-site-kit/vendor/google/apiclient/src/Google/Client.php(340): Google\Auth\OAuth2->buildFullAuthorizationUri(Array)
#1 /domXXXXX/wp-content/plugins/google-site-kit/includes/Core/Authentication/Clients/OAuth_Client.php(455): Google_Client->createAuthUrl()
#2 /domXXXXX/wp-content/plugins/

[2019-06-20 15:48] swissspidy opened #16 "Use esc_url instead of esc_attr where appropriate"
Let's revive #2 to fix a small issue where `esc_url()` should be used for strings that appear in a `src` attribute.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* URL attribute values are escaped using the appropriate WP API function.

## Implementation Brief

URL attribute values are fully escaped us

[2019-06-20 15:52] ivankristianto commented on #14
@amedina
I cannot reproduce the issue even with WP 5.2.2 + Gutenberg 5.9.2 activated.
Can you let me know if you compile Gutenberg from the source or using the plugin from the repo?

[2019-06-20 15:57] ivankristianto opened #17 "Webpack build throw babel make-pot error"
**Describe the bug**
Webpack throw error during build process because of languages/translation.pot not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the repo
2. Run `npm install && npm run build`
3. See error

**Expected behavior**
Webpack build should success.

**System Information (please complete the following information):**
 - PHP Version: 7.1
 - OS: Mac OSX
 - Browser

[2019-06-20 15:59] jamesozzie commented on #10
@nomicool Do other plugin installs work and can you install work via FTP/SFTP?

[2019-06-20 18:02] gx10 opened #18 "Add ability to anonymise IP address for Google Analytics"
The default GA snippet implementation doesn't add the option to anonymise IP addresses, which is required in some countries, for example the EU.

For all cases where Site Kit places the GA snippet on behalf of the user, we should enable this by default. (Site Kit can't update the snippet for sites where it was already placed via another plugin or other method.)

## Steps to QA

Ensure the function

[2019-06-20 19:32] jdavini23 opened #19 "Issue Accessing Data Error"
Once the plugin is installed and I go to set up the client configuration it has it tells me that it has issues accessing data and to Reauthenticate my google account as seen below -
<img width="1440" alt="Screenshot 2019-06-20 12 28 25" src="https://user-images.githubusercontent.com/13425128/59876010-37da4500-9357-11e9-8b5c-cfa0b854a0d7.png">

Once I click that it crashes and sends me an email con

[2019-06-20 19:57] nomicool commented on #10
Yeah other plugins are working fine i got error while activating google kit

[2019-06-20 21:11] JayHoltslander opened #20 "Feature request: GMB Insights in Site Kit"
Would like to see Google My Business' dashboard insights available within Site Kit.

[2019-06-20 21:35] sviluppomania opened #21 "Compatibility with PHP 7.x.x."
**FILE: google-site-kit/vendor/phpseclib/phpseclib/phpseclib/Net/SFTP/Stream.php**

**FILE: google-site-kit/vendor/phpseclib/phpseclib/phpseclib/bootstrap.php**

**FILE: google-site-kit/vendor/phpseclib/phpseclib/phpseclib/Crypt/Base.php**

**FILE: google-site-kit/vendor/phpseclib/phpseclib/phpseclib/Crypt/Random.php**

------------------------------------------------------------------------------

[2019-06-21 02:33] phpbits commented on #4
WordPress version:  5.2.2
PHP Version: 7.3.4
Operating System: Linux
Plugins:
Akismet Anti-Spam | Version 4.1.2 by Automattic
Autoptimize | Version 2.5.1 by Frank Goossens (futtta)
Block Gallery | Version 1.1.6 by Rich Tabor
CoBlocks | Version 1.10.0 by GoDaddy
Easy Login Styler | Version 1.0.6 by Phpbits Creative Studio
[EditorsKit](https://wordpress.org/plugins/block-options/) | Version 1.7 by J

[2019-06-21 06:25] adamsilverstein opened #23 "Domain used for reporting is not consistent, resulting in duplicates"
**Describe the bug**
When sending reporting data, the plugin currently sends the "site url" sometimes with and sometimes without the trailing slash, resulting in duplicated tracking entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up the plugin on a new domain.
2. Check the domain sent for tracking events.

**Expected behavior**
The domain used for tracking should be consistent,

[2019-06-21 08:11] jamesozzie commented on #20
Thanks for the suggestion, I will mark it as an enhancement for the team to discuss. It could be a useful feature further down the line.

[2019-06-21 08:25] jamesozzie commented on #18
@gx10 You can use the [relevant help center](https://support.google.com/analytics/answer/2763052?hl=en) for information on Analytics specifically. Site Kit displays a dashboard with basic information from your Analytics account only.

[2019-06-21 08:45] jamesozzie commented on #19
Thanks for the info and contents. There is an open #12 issue for the "Issue accessing data" notice, but can you confirm you see this notice after clicking on the "Proceed" button after pasting in your Client ID?

Can you also try opening the project from your Developers Console and deleting the Client ID before trying again in cognito mode?

[2019-06-21 08:49] United982000 opened #24 "Couldn't create project - warning field [project_id] has issue [project_id contains invalid characters]"
Can't create the OAUTH Credentials.. After clicking on the "get Credentials" Button i got the Error:
Couldn't create project -  warning field [project_id] has issue [project_id contains invalid characters]

![Bildschirmfoto 2019-06-21 um 10 48 28](https://user-images.githubusercontent.com/52067994/59910428-26a23e80-9412-11e9-82bb-8ff1e2b0accc.png)

---------------

_Do not alter or remove anything

[2019-06-21 09:18] gx10 commented on #18
Hi James,

Thank you for your reply.

But SiteKit did inject the Analytics code in our website ... not just display the dashboard.

And I was looking to configure the code injection so that is works as in the article you mentioned.

Thanks,

Andrei

[2019-06-21 09:18] jamesozzie commented on #24
@United982000 Do you mind checking the following:

- Test installing Site Kit on another WordPress site you have
- From your [Google Developers console](https://console.developers.google.com) check that you didn't exceed your project quota. (IAM & admin > Quotas)

Can you also let me know if there are any special characters in your website name (ğ etc) and if you are using any Firewall or security

[2019-06-21 09:23] ghost opened #26 "Basic event tracking in Analytics"
Could basic event tracking be set up as an additional option in the Analytics section? It's a common need, but one that can be technically tricky for users.

Events would be: form submissions, mailto and tel clicks, doc downloads and outbound links.

Currently I would need to install a separate plugin to do this, For example the Exact Metrics plugin has an option to track these things. But I think

[2019-06-21 09:32] United982000 commented on #24
Hi there,
Yes, i have it installed on 2 other Domains on the same server with the same Configuration... Without Problems..
Quotas looks good.. Theres nothing close to the limits..

The Domain has no special characters and i deactivated Wordfence for testing..  But no change..  It also did not bother on the other 2 Projects.

[2019-06-21 09:34] jamesozzie commented on #21
@sviluppomania Thanks for the info, I have filed this as a bug now for further investigation

[2019-06-21 10:05] sviluppomania commented on #21
Hello @jamesozzie  ,
as you can see from my report, there are many compatibility errors with PHP 7 and higher versions.
As you can still see, the directory that leads to the file and all the errors are in bold.

A question:
Why didn't you consider sites that use PHP 7?

[2019-06-21 10:06] jamesozzie commented on #24
Thanks for checking. Do you mind also letting me know the following:
PHP Version:
Hosting OS:
Browser:
Plugin Version:
WordPress version:
PHP Version:

If possible include your site URL. I will mark it as a bug and revert back if more information is needed.

[2019-06-21 10:10] jamesozzie commented on #26
@jasoncsking Thanks for the suggestion. I will certainly mark it as an enhancement, although I can't guarantee it will be considered for future releases, with Site Kit intended for basic dashboard reporting at this stage.

[2019-06-21 10:10] United982000 commented on #24
sure

PHP Version: 7.1
Hosting OS: cPanel
Browser: Chrome
Plugin Version: 1.0.0-beta.1
WordPress version: 5.2.2
Site: www.picoo.de

thx :)

[2019-06-21 10:46] jamesozzie opened #30 "Referenced Analytics tracking code does not match relevant 'Property name' when Analytics tracking code is found in advance of adding Analytics service"
**Describe the bug**
When adding Analytics for a site that already has a Analytics tracking code (UA-XXXX) the plugin correctly identifies and informs the user that Analytics tracking code already existing on that website.

Because an existing Analytics tag was found the pre-populated 'Account' and 'Property ID' should reflect that correct analytics property name. Even though it's the "Property ID

[2019-06-21 11:18] ivankristianto commented on #12
@jamesozzie
I'm unable to reproduce this.
But from what I understand that alert is because an `insufficientPermissions` response from Google Service API.
Can you please capture the response of the rest api in console log?

[2019-06-21 11:23] sekanderb opened #31 "Nothing happens after oauth."
**Describe the bug**
I click sign in with Google and authorize the site. After giving all the permissions, I am redirected to the site homepage. When get back to the Site Kit dashboard, I see the sign in option again.

**Expected behavior**
The authentication process should have completed and the step should have moved to Verify URL.

**System Information (please complete the following information

[2019-06-21 12:16] jamesozzie commented on #12
_Blocked script execution in '<URL>' because the document's frame is sandboxed and the 'allow-scripts' permission is not set._

See screenshots below.
<img width="1638" alt="Screen Shot 2019-06-21 at 1 11 27 PM" src="https://user-images.githubusercontent.com/41326532/59921793-c073e680-9426-11e9-9e95-20e5de57d91e.png">

In addition there is an error for this when I open in my Developer Console.
<im

[2019-06-21 12:31] jamesozzie commented on #10
@nomicool Was the error when activating or installing? There could be a plugin or theme conflict but we'll need to know more. Can you activate another theme and deactivate other plugins before trying to install Site Kit again, in a new Chrome incognito window?

Please also let me know the following (in particular any errors in Chrome dev console log):
- Errors in Chrome dev console
- URL / Site
-

[2019-06-21 12:33] ivankristianto commented on #12
Sorry I wasn't made myself clear.
Can you give screenshot of the console > Network > filter with XHR only, from the Site Kit dashboard instead?
So I know which service API has the insufficient permission.

And that blocked script execution is expected behavior since it's an iframe to check existing analytics/adsense tag from the front end. Although we have a plan to improve that in the future.

I'

[2019-06-21 12:58] ivankristianto commented on #7
Fixed in #32

@jphorn thanks for reporting this issue. I hope your site is a staging or local environment. But if you have this error on your production site, please consider to add the WordPress salt in your `wp-config.php` file, https://api.wordpress.org/secret-key/1.1/salt/

[2019-06-21 13:07] lucymtc commented on #11
@amedina the blocked script execution is expected behaviour, an iframe is used to check existing Analytics and AdSense tags from the front end and prevent scripts from running. It is planned to improve this in the future.

I am not able to reproduce the issue described. Can you provide information of the response to the request made to `get-accounts` in of the console > Network > filter with XHR o

[2019-06-21 13:20] sviluppomania commented on #18
@jamesozzie
Hello,
you should add the possibility to anonymize the IP address between the settings (Google Analytics) of the plugin, other plugins that integrate Analytics grant this possibility.

[2019-06-21 13:20] sviluppomania opened #33 "Anonymize your IP address data in Google Analytics"
Hello,
you should add the possibility to anonymize the IP address between the settings (Google Analytics) of the plugin, other plugins that integrate Analytics grant this possibility.

[2019-06-21 13:24] jamesozzie commented on #12
There are no errors from the main Site Kit dashboard for that notice to appear, see below.

![6qWn2ClnxV](https://user-images.githubusercontent.com/41326532/59925346-d1752580-942f-11e9-98c4-0a7e7e9ee4fe.gif)

Also it works fine with no errors or "issue accessing data" using an alternative Google account, exact same steps once I reset Sit Kit. (Creating GCP Project and verifying / connecting Analyt

[2019-06-21 13:36] jamesozzie commented on #33
#18

[2019-06-21 13:39] jamesozzie commented on #33
Duplicate of #18

[2019-06-21 13:49] sviluppomania commented on #33
@jamesozzie
There is a solution?

[2019-06-21 13:53] jamesozzie commented on #18
I have marked this as an enhancement for further investigation

[2019-06-21 13:54] jamesozzie commented on #33
@sviluppomania I have marked this as an enhancement for further investigation on issue #18

[2019-06-21 13:54] gx10 commented on #18
Thanks! Is there some code we can use for now to stop SiteKit injecting Analytics code? Because now it injects gtag/js and we want to use the Universal Analytics on the pages, but still have the Analytics Dashboard from SiteKit

[2019-06-21 14:01] ivankristianto commented on #12
@jamesozzie Yes we are moving in the right direction.
Just one last detail I need.
Can you expand the response from this request:
![Screen Shot 2019-06-21 at 20 59 17](https://user-images.githubusercontent.com/656006/59927888-ae666800-9467-11e9-8ae8-8f7572db0288.png)

And I would like to see from the preview tab, example:
![Screen Shot 2019-06-21 at 21 00 44](https://user-images.githubusercontent.

[2019-06-21 14:12] ivankristianto commented on #18
@gx10
I believe you can remove the gtag inserted by site kit by following these steps:
1. Go to Site Kit settings
2. From Connected Services Tab, expand Google Analytics module, and click edit.
3. You can choose to remove snippet then Confirm changes.
See the screenshot below:
![Image 2019-06-21 at 21 09 37](https://user-images.githubusercontent.com/656006/59928550-30a35c00-9469-11e9-861d-c27a59b8

[2019-06-21 14:27] gx10 commented on #18
Thank you.

It didn't work because it wasn't displaying my account. Only that analytics
is connected. And the edit button wasn't working.

I disconnected it. And when I reconnected it said it detected that we
already use an analytics ID and that it will connect with that. (We
injected the code through another plugin in the mean time, so we can have
anonymous ips)

So it looks good now.

Thanks!

A

[2019-06-21 14:34] jamesozzie commented on #31
@sekanderb When you say you are redirected to your site homepage do you mean your Site Kit dashboard? Is this after creating and authorising your client ID or at the next step when verifying your account.

Let me know also if you see any errors on screen or using Dev tools, and a screenshot of those errors if possible.

In the meantime also please try installing again after temporarily deactivatin

[2019-06-21 16:26] jamesozzie commented on #12
The response from that request is below:

{"search-console::sc-site-analytics::last-28-days::d41d8cd98f00b204e9800998ecf8427e":[{"clicks":0,"ctr":0,"impressions":3,"keys":["2019-05-27"],"position":8.333333333333332},{"clicks":0,"ctr":0,"impressions":3,"keys":["2019-06-04"],"position":59.333333333333336},{"clicks":0,"ctr":0,"impressions":1,"keys":["2019-06-17"],"position":79},{"clicks":0,"ctr":0,"i

[2019-06-21 16:37] forcedlogic commented on #11
Same here, tried in both firefox and Chrome. Neither will connect. Even deleted and tried readding it and it never connects to Google Analytics.

[2019-06-21 17:17] ivankristianto commented on #12
@jamesozzie
Thank you so much for the details.
This definitely helpful.
This case is because you haven't setup any goals in the analytics and it throw `insufficientPermission`.
We should have better checking `insufficientPermission` to ensure the alert won't cause confusion.

I'll work on this.

[2019-06-21 20:11] jdavini23 commented on #19
Oops! My fault on that.

Also, before nothing happened when I clicked the proceed button, when I opened the console there were some errors, but then I refreshed the page with the console open and then was able to proceed without any issues.

I was able to get through the initial setup now fine.

[2019-06-21 23:03] maskin opened #35 "Couldn't create project"
Couldn't create project
warning
field [project_id] has issue [project_id contains invalid characters]

[2019-06-21 23:04] #35 closed

[2019-06-22 07:18] 24Degrees commented on #18
Isn't this the same issue as #33?

[2019-06-22 07:23] gx10 commented on #18
Yes, but 33 is a copy of this :)

On Sat, Jun 22, 2019, 10:18 Michaël Martens <notifications@github.com>
wrote:

[2019-06-22 10:15] jphorn commented on #7
@ivankristianto Yes, this is a local development server :-)

[2019-06-22 12:23] ghost opened #36 "Add features that other Plugins have - Google Analytics"
Hello,

I would like to propose to the Google Team some additions to the plugin regarding Google Analytics (there are also attached screenshots):

1) Top 10 Countries, This list shows the top countries your website visitors are from ( https://ibb.co/zsJfGZT );

2) Top 10 Referrals, This list shows the top websites that send your website traffic, known as referral traffic. ( https://ibb.co/4MNDQgb

[2019-06-22 13:45] hjanuschka opened #37 "Problem with NON WP based frontend!"
hello their, nice plugin, thx for the effort 🤚

i am having troubles getting this plugin working, using the plugin + the dev helper plugin.

my backend is on a different domain than my frontend, and to make it even harder my frontend is not built with WP - it is build with symfony using wp-json as a datasource (in a nutshell).

SearchConsole integration works, however, Analytics, Ads and the other

[2019-06-22 20:36] PhotoWorkout commented on #11
Hello, same here: Analytics not showing after connecting to analytics account /trying to set up modules in the Site Kit > Analytics Dashboard.
Error message from chrome browser:

_Blocked script execution in '<URL>' because the document's frame is sandboxed and the 'allow-scripts' permission is not set._

Search console works ok, but there is a _Data error in Search Console
Rate Limit Exceeded_ in

[2019-06-22 22:35] hjanuschka commented on #37
actually got it working, need to find a generic way, and i ll do a PR then! 🍺

[2019-06-23 01:05] Fu-San commented on #11
@amedina @eduardogoncalves @forcedlogic @PhotoWorkout
The temporary fix for this seems to add the analytics tracking code in the website header. If it can find the analytics tracking code it shows it and tells that it will be replaced if you remove the old code. Just don't remove it and continue.

[2019-06-23 01:23] ataylorme opened #38 "Site Kit Requires WordPress Core"
**Describe the bug**
The [`composer.json` of Site Kit requires `johnpbloch/wordpress-core`](https://github.com/google/site-kit-wp/blob/9a262cd18c33995ce5ec81bc300ff055dff2a153/composer.json#L19). When installing WordPress core from another source this causes an unwanted copy of WordPress core to be downloaded.

Specifically, I use [`pantheon-systems/wordpress-composer`](https://github.com/pantheon

[2019-06-23 12:53] PhotoWorkout commented on #11
Putting the analytics tracking code in the header worked fine to set up the site kit analytics module.
I have thereafter removed the code from the website header again since I am using google tag manager for injecting the tracking code. The Site Kit seems to work fine after removing the analytics code from the header. I assume it was just needed (once) for the initial activation, which worked just

[2019-06-23 13:03] PhotoWorkout opened #40 "See Events and Conversions in Single Page Dashboard"
**Adding Events & Conversations to Single Page Stats**
The single page stats are very useful.
A nice addition would be to also see events and conversions (which have previously been defined and set up using other plugins or the Google tag manager).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog entry

*

## Accept

[2019-06-23 13:05] ekandreas opened #41 "Publish the plugin in packagist"
**Is your feature request related to a problem? Please describe.**
Please publish the plugin in packagist so that it is reachable with a standard composer based WordPress installation.

**Describe the solution you'd like**
Packagist publication

**Describe alternatives you've considered**
Manual git config

**Additional context**
<img width="633" alt="Screenshot 2019-06-23 at 15 03 31" src="https:

[2019-06-23 13:09] Fu-San commented on #11
Yeah it keeps the sitekit plugin activated alreight. But it doesn't fix the issue. If you remove the tracking code you won't be able to track any future visitors and only see old data in sitekit plugin.

[2019-06-23 14:32] ivankristianto commented on #38
Thanks @ataylorme
That wordpress-core package is needed for unit testing.
So i think we can move it to `required-dev` only.

[2019-06-23 14:34] ivankristianto commented on #37
thanks @hjanuschka for the report.
We will discuss about this `tagverify` approach in our internal with a better approach instead of loading the sanboxed iframe.

[2019-06-23 15:23] PhotoWorkout commented on #11
Thanks for letting me know about tracking future events (and that the tracking code needs to be in the header for that to happen). I have moved it back into the header and removed it from the tag manager.
It seems all to work fine, I just had to add my Content Groups via the tracking code (which was configured with the Google Tag manager before).

[2019-06-23 16:32] felixarntz commented on #8
Thanks for opening this issue @jphorn! As mentioned in https://github.com/google/site-kit-wp/pull/9#issuecomment-504078134, this line of code is pretty much irrelevant, and not a user-facing string. It's an easter egg, and, if anything, changing this would break backward-compatibility for those sites that use this value as encryption key (and thus would be entirely insecure).

[2019-06-24 08:37] jamesozzie commented on #40
@PhotoWorkout Good suggestion. For the early releases the focus is on the more basic reporting aspects of the various products. But certainly it could something to look into going forward.

[2019-06-24 09:31] lucymtc commented on #11
Hi, I have tested across different sites and still unable to reproduce, in order to help debug, can you provide:

List of other installed plugins
PHP version
WordPress version

Also can you verify the request to `get-accounts` is made in the Network tab of the console? if so, can you provide information of the response to this request?
Thanks!

[2019-06-24 09:54] #8 closed

[2019-06-24 09:57] felixarntz commented on #21
@sviluppomania Thanks for the follow-up. The violations are caused by a third-party dependency we don't have control over. I will look into whether we can replace it with an alternative or solve the problems upstream.

[2019-06-24 10:16] #19 closed

[2019-06-24 10:39] kristarella opened #44 "Oauth: Couldn't create brand"
**Describe the bug**
When trying to generate oauth credentials I get the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. In WordPress with SiteKit plugin installed Go to wp-admin/admin.php?page=googlesitekit-splash
2. Click on link "developers.google.com/web/sitekit"
3. Click "GET OAUTH CREDENTIALS"
4. Proceed until error appears

**Expected behavior**
Credentials to be gene

[2019-06-24 10:39] felixarntz opened #45 "Fix Travis build matrix to catch old WP version errors"
The current Travis-CI test matrix has a few issues:

* The oldest supported WordPress version (4.7) is not tested with.
* We run most tests with WordPress `master` which might easily fail just because WordPress's nightly build itself has a problem.

[2019-06-24 11:03] Mte90 opened #47 "Support for WP 4.9"
**Describe the bug**
Readme say that is compatible with WP 4.7 but doesn't seems.
![immagine](https://user-images.githubusercontent.com/403283/60014065-64a49a00-9680-11e9-93fc-e4bd436cee6d.png)

I think that is looking for JS stuff that are available only after 5.0

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog en

[2019-06-24 12:10] #17 closed

[2019-06-24 12:27] Jaymesbond11 commented on #3
Got the same issue for this website [susannevolkert.de](https://www.susannevolkert.de). I have installed everything and the ticks are all green ("Connected"). Nevertheless the analytics data is not shown. I have got the same failure as described.

[2019-06-24 13:22] marrrmarrr opened #48 "Error when loading the Admin Bar stats"
**Describe the bug**
Site Kit stats don't load in Admin Bar. Instead, we only show a progress bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a live page of https://www.getbeans.io/ while logged in to WordPress as admin
2. Click on Site Kit icon in admin bar
3. Site Kit element loads, but only progress bar is shown, no stats.

**Expected behavior**
Stats should load in the Admin B

[2019-06-24 13:49] swissspidy commented on #41
Just submitting the package is probably not enough, as it would need a dist version with built JS but without the bundled Composer packages.

[2019-06-24 15:45] #45 closed

[2019-06-24 16:35] felixarntz commented on #47
Hi @Mte90, thanks for the report!
The plugin bundles those dependencies itself specifically to load them in these cases (pre-5.0), so they should be available then. We're gonna check what's wrong there.

Can you provide us with a bit more information? You're using WP 4.9? Do you have the Gutenberg plugin installed by any chance?

[2019-06-24 16:38] felixarntz commented on #41
Thanks for the issue!

We will explore that as an option. Once the stable release of the plugin is there, it will be available via wpackagist.org. For now, you can install it via Composer by providing something like this:
[code]

[2019-06-24 16:40] felixarntz commented on #44
Hi @kristarella, and thanks for the report. Could you provide us with some more information: Which "Project Name" and "Application Name" did the page display before you clicked the button?

[2019-06-24 16:44] felixarntz opened #49 "Ensure missing admin bar doesn't cause JavaScript errors"
**Describe the bug**
Site Kit currently expects the admin bar to exist while in the backend, in various areas of the code. This should not be relied on as it is possible for the admin bar to not exist even in the WordPress backend (e.g. on a Site which uses the WordPress.com admin bar provided by the Jetpack plugin). This for example causes the JavaScript error reported in #11.

Let's make sure th

[2019-06-24 16:48] #7 closed

[2019-06-24 17:00] Mte90 commented on #47
WordPress 4.9 without gutenberg plugin and amp plugin installed.

[2019-06-24 18:07] ivankristianto commented on #11
@lucymtc I can reproduce this issue and did trace it to these lines:
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/setup.js#L796-L798
that's causing the blank dropdown.

To reproduce:
1. Authenticate Site Kit  with Google Accounts that has only 1 GA account
2. Activate GA service.

[2019-06-24 18:43] ekandreas commented on #41
It’s not a release without a dist, no.
And adding a repo endpoint to every package feels just so wrong when we all have packagist as default.

[2019-06-25 03:51] ivankristianto opened #51 "Checking GA & AdSense Exisiting Tag with Fetch instead of Iframe"
**Describe the bug**
The current implementation to check existing tag from the js client is with iframe. And the iframe has sandboxed mode, thus it will block script execution, and thown console log error. Even it is an expected behavior, it cause confusion.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate and Authenticate Site Kit
2. Activate Analytics Service
3. Go to Site Kit > Se

[2019-06-25 05:19] ivankristianto opened #52 "Inconsistency for components error message when Analytics is not configured"
**Describe the bug**
Inconsistency between Analytics components error message when Analytics is not configured yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate and Authenticate Site Kit
2. When connect Analytics service, stop before save anything.
3. Go to Site Kit dashboard.
4. See inconsistency between Analytics component error message.

**Expected behavior**
Show consistency

[2019-06-25 05:50] sekanderb commented on #31
I meant mysite.com, not mysite.com/wp-admin

This happens after allowing permissions to access my analytics and other google service data. I did not see any error message on chrome dev tools.

I was trying from my office computer. But when I tried the same site with the same details and same Gmail account from my home, it worked. The plugin is now working perfectly on my personal blog.

We will in

[2019-06-25 08:38] #38 closed

[2019-06-25 09:08] ivankristianto commented on #3
Thanks for the report @eduardogoncalves and @Jaymesbond11
This is related to issue #11
and we are currently working to fix it.

[2019-06-25 11:18] #49 closed

[2019-06-25 12:35] #33 closed

[2019-06-25 12:42] ThierryA commented on #14
_Moved this issue to "Support" label until we can reproduce_

[2019-06-25 13:05] ivankristianto commented on #37
Related and probably the fix: https://github.com/google/site-kit-wp/issues/51

[2019-06-25 13:47] jamesozzie commented on #5
@amitmalewar Thanks for the info. I am able to recreate the same issue. I will mark it for escalation.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of the official AMP plugin (1.2.0)
2. Installer Site Kit 1.0.0-beta.1
4. Active Reader mode AMP
5. Visit AMP version of a post or page

**Screenshots**
http://recordit.co/fjjVBqLKo0

**System Information (please comp

[2019-06-25 13:57] bjackson27 opened #55 "Make filtering Analytics options available to developers"
## Feature Description

Introduce a filter for analytics parameters on the FE.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There is already a `googlesitekit_gtag_opt` filter for the regular Analytics configuration options in https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analyt

[2019-06-25 13:59] bjackson27 opened #56 "Updating analytics UI for public"
## Feature Description

Introduce settings to control Analytics parameters.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog entry

*

## Acceptance criteria

*

[2019-06-25 14:08] jasoncsking opened #57 "WordFence thought Site Kit file was malicious"
The free version of the WordFence plugin for WordPress sprung a false positive the day after I installed Site Kit. It said:

I just wanted to make you aware, in case there's anything you could tweak to avoid this happening, or in case there's a way to get whitelisted by WordFence. WF is such a popular plugin, this could happen to a lot of people.

Perhaps once Site Kit is in the WP repository, thi

[2019-06-25 14:14] ivankristianto commented on #57
Thanks @jasoncsking
this is related to this issue as well: https://github.com/google/site-kit-wp/issues/21
We are planning to remove the dependency with phpseclib for sure.

[2019-06-25 15:41] 1wayrocker commented on #4
I received the **Unknown Error** myself. I noticed that my OAUTH Credentials was using a non-ssl and my website was using a ssl. Adjusted the Site Address (URL) and WordPress Address (URL) in WP Settings and re-authorized. Step 2 completed. Hope that can help

[2019-06-25 15:53] jamesozzie commented on #57
Thanks for reporting. I will close this as #21 is being worked on

[2019-06-25 15:53] #57 closed

[2019-06-25 15:56] jamesozzie commented on #55
Hi @bjackson27. Would you be able to provide more info on this issue, along with #56. We can then categorize it or assist where possible.

[2019-06-25 16:27] jamesozzie commented on #5
@amitmalewar The problem seems to only realise when Analytics is connected but the snippet is not inserted via Site Kit. Can you confirm? Deactivating Analytics also results in in AMP working as normal in reader mode.

![ntqoU4OZ3g](https://user-images.githubusercontent.com/41326532/60115645-4917bd00-976e-11e9-89bd-be1db49bec10.gif)

[2019-06-25 16:49] jamesozzie commented on #3
Duplicate of #11

[2019-06-25 18:03] amitmalewar commented on #5
@jamesozzie Yes, it crashed AMP only when we enable Analytics option. Without Analytics AMP works fine.

[2019-06-25 18:22] JayHoltslander opened #58 ""Sign in with Google" to wp-login"
Would be nice if Site Kit could add a "Sign in with Google" button option to Wordpress' login screen.

[![](https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png)](https://developers.google.com/identity/sign-in/web/)

Currently this [freemium plugin](https://wordpress.org/plugins/google-apps-login/) (No affiliation) adds this functionality.

---------------

_Do not a

[2019-06-25 20:32] eduardogoncalves commented on #3
close #3 in favor of #11

[2019-06-25 20:32] #3 closed

[2019-06-25 21:08] lucymtc commented on #48
@marrrmarrr what version of WordPress you are running your site on?
Can you also provide a list of installed plugins?
Also, in the console from Chrome devtools can you type `window.lodash` from the front end while logged into WordPress and check if returns `undefined`?

[2019-06-25 21:58] bjackson27 opened #59 "Address console error on settings page"
Looks like the tag searching code is search a null value. Probably not a functionality breaking bug, however worth fixing.

![915f7eef0abfbc763726fc7f4ca173f2](https://user-images.githubusercontent.com/28811945/60136629-4dda7200-976a-11e9-9a5f-a0d68512dadc.png)

The error occurs here:

This is a regression and likely broke when we changed how/when the tag detecting iframe is loaded.

Acceptance Cr

[2019-06-25 22:09] bjackson27 opened #60 "Consider HTTP/HTTPS when comparing site URL with Analytics/AdSense URLs"
If you have an existing Analytics property that matches your site URL, except for the scheme (HTTP vs HTTPS), it currently isn't detected as a match, although it should. The same should apply to AdSense, and any other module where such detection takes place.

The permute_site_urls() method used by Search Console is the perfect foundation to achieve that. Let's make sure the other modules use it as

[2019-06-25 22:11] bjackson27 opened #61 "Adminbar menu should show on homepage"
When viewing the site homepage, users should see the adminbar menu. clicking this will show them details for the hompage only (eg not the entire site). Currently in my testing, I do not see the Site Kit menu on the homepage.

This only applies if the homepage already has stats available in Search Console.

---------------

_Do not alter or remove anything below. The following sections will be mana

[2019-06-26 04:38] onuro opened #62 "Analytics Data Displaying the Incorrect Property"
**Describe the bug**
I have 2 properties on an account. I have chosen the second property, however SiteKit Analytics insists on displaying the data for the first property.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Connect Analytics with an account you have at least 2 properties on
3. Select an account that's not the first

**Expected behavior**
It should be showing th

[2019-06-26 07:01] hjanuschka commented on #37
tbh, it is not the fix, it still relays on the fact that you have a wordpress based frontend, in my actual case i don't even have a theme located on my filesystem. we are using WP just via wp-json in a custom built frontend-stack

[2019-06-26 07:49] #23 closed

[2019-06-26 08:06] ThierryA commented on #37
Hi @hjanuschka,

If I understand well your WP backend runs on a different domain than the production domain (ie FE) right? If yes, then [here is your solution](https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/). Note that Site Kit will however not be able to place the SC, GA and AdSense code on your behalf since your FE is not firing any of the WP hooks.

[2019-06-26 10:29] dkanchev opened #63 "What versions of npm and nodejs are needed to install the plugin?"
**Describe the bug**
I attempted to install the plugin on a shared hosting account with nodejs version 6. I know it is pretty old but cannot get a newer version on this specific account. The npm install and run build failed. The Site Kit in the WP Dashboard was added but displayed a blank page.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install the plugin on a server with nodejs

[2019-06-26 10:30] ThierryA commented on #23
@bjackson27 has this been QA'ed?

[2019-06-26 10:30] ThierryA commented on #7
@bjackson27 has this been QA'ed?

[2019-06-26 10:31] ThierryA commented on #49
@bjackson27 has this been QA'ed?

[2019-06-26 10:33] jamesozzie commented on #62
Hi @onuro. Can you try and disconnected Sit Kit completely again (Settings > Admin Settings > Reset Site Kit). Then start the process again and if the same issue arises please confirm that the incorrect property ID, the one you didn't select upon setup also appears under Settings > Connected Services > Analytics. We'll have to look further into this and may also ask you to grab the process flow in

[2019-06-26 12:09] felixarntz commented on #24
@United982000 Can you share what is listed in the "Project Name" and "Application Name" on that page before opening the modal (with the error)?

[2019-06-26 12:23] felixarntz commented on #18
Thanks @gx10, customizing Analytics parameters for the inserted snippet is indeed not supported currently. We've opened #55 and #56 to start a discussion on providing options there. Anonymizing IPs would be a crucial piece of that.

[2019-06-26 12:25] felixarntz commented on #56
Potentially we should provide an option to allow for anonymizing IPs (see #18).

#55 makes any kind of adjustments possible, now as part of this one we need to figure out which parameters we want to display settings UI for.

[2019-06-26 12:41] dkanchev commented on #63
I just found the following blog post:

https://sitekit.withgoogle.com/news/site-kit-developer-preview/

Obviously there is a release which is available at:

https://sitekit.withgoogle.com/service/download/google-site-kit.zip

For users that just want to install the plugin I think it is a good idea to update the README.md:

https://github.com/google/site-kit-wp/pull/65

I also think that it is also

[2019-06-26 12:41] #63 closed

[2019-06-26 13:23] bjackson27 opened #66 "GTM and Analytics Create Account or Create New Container Buggy"
## Bug Description

- When selecting 'Set up a new container' it doesn't actually create a new container but selects the first item in the list. I get [an error](http://dandelion-magpie.w5.poopy.life/wp-json/google-site-kit/v1/modules/tagmanager/data/list-accounts?accountId=1849124310&_locale=user) for "User does not have sufficient permissions for this account", similar to Analytics' error messag

[2019-06-26 13:33] #11 closed

[2019-06-26 13:35] #59 closed

[2019-06-26 13:41] jamesozzie opened #68 "Page Speed Insights - Data Error on Subdomains"
**Describe the bug**
Tested on site hosted within subdomain and subpath (demo.***.io/sample).
Newly setup site, Site Kit just added, API key is correct and no restrictions, copied as per setup process. PageSpeed services/module is appearing as "Connected" under 'connected services' tab in Site Kit Admin.

**To Reproduce**
Install Site Kit on subdomain & subpath.

<img width="1467" alt="Screen Shot

[2019-06-26 14:11] hjanuschka commented on #37
sorry i think i didnt fully explain it.

my current stack is like

[code]

so my WP does not have a theme, does not have a frontend, all filters/actions the plugin try's to add to the frontend just don't show up there

i use the dev-plugin, it helps to overcome the initial verifier.

my dream (and somehow currently working) change is to, fully disable (with a filter) the `tagverify` thingy (iframe

[2019-06-26 15:45] jamesozzie commented on #4
Great catch @1wayrocker I was able to replicate the same error. @phpbits Can you check your "WordPress Address (URL)” and “Site Address (URL)" from the general settings in your WordPress setup?

[2019-06-26 15:59] jamesozzie commented on #10
@nomicool I will close this ticket as I didn't receive a response and I am unable to replicate the issue. If the problem persists feel free to reopen. If so please also let us know as much of the following as possible:

- WordPress Version:
- Web Host OS:
- Site Kit Plugin version:
- Browser:
- Operating System:
- PHP Version:
- Site Kit install method (WP dashboard upload, FTP, version control et

[2019-06-26 15:59] #10 closed

[2019-06-26 18:21] ivankristianto commented on #68
@jamesozzie
from the error response I see it's because the `keyinvalid`.
Can you please try reset site kit, and try to activate PSI module again, and ensure you copy the correct API Key?

[2019-06-26 18:41] bjackson27 opened #70 "Single page stats: don't show 'top pages' table"
## Bug Description

The table below doesn't make sense on the single page detail page since we have already drilled down. We can remove it here.

## Screenshots

![54bd0191e11bb2be1d3fafa1aa730a81](https://user-images.githubusercontent.com/28811945/60205922-0dd1c880-9818-11e9-9001-3d49d9a303d2.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by

[2019-06-26 18:43] bjackson27 opened #71 "Update popularity listing on main dashboard"
Query by clicks, add a column with clicks data (keep impressions too) and order them by clicks.

@ThierryA @felixarntz I think we need to discuss this one a bit more but spinning up the ticket to make sure it doesn't get forgotten.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Popularity widget t

[2019-06-26 19:48] bigmike7801 commented on #4
This fixed it for me too.

[2019-06-27 08:52] ivankristianto commented on #12
@felixarntz / @adamsilverstein
The root cause of this issue is in our data module:
https://github.com/google/site-kit-wp/blob/develop/assets/js/components/data.js#L275-L280
we check if `insufficientPermission` is because lack of oauth scopes, which could be happened in most of the cases.
But in this case the `insufficientPermission` is because user doesn't have access to the Analytics Goal, could

[2019-06-27 09:03] jamesozzie commented on #31
@sekanderb Glad you were able to get it working. If you encounter this issue again please document the steps to reproduce the error. And we would love to hear more of your blog post. Feel free to reach out to @ThierryA also. As you are aware it's a developer release at the moment, with work ongoing for general release, so any input you have would be great.

[2019-06-27 09:03] #31 closed

[2019-06-27 09:27] #60 closed

[2019-06-27 10:28] jamesozzie commented on #68
Thanks @ivankristianto. Thanks for the update. It's working fine when I reset, I never made any changes or set restrictions on that project in GCP. I copied and pasted the API directly. But if it arises again I will report.

[2019-06-27 10:49] phpbits commented on #4
Fixes the issue! My addresses isn't https on these fields. Changed and works perfectly now ;) Thanks!

[2019-06-27 11:01] canoas opened #74 "Unable to receive access token because of an empty authorization code."
**Describe the bug**
I'm using a WordPress network installation and deployed the Google SiteKit plugin in a single site. OAuth app was configured for both URLs (wordpress.network.com/site and blog.site.com) and the first step of authentication and consent is almost complete but the final postback just presents this message: "Unable to receive access token because of an empty authorization code."

[2019-06-27 13:14] jamesozzie commented on #5
Thanks for highlighting @amitmalewar. It is being worked on at the moment. You can disable the snippet insertion for the moment, or activate Analytics via any alternative method while it's being prioritized.

[2019-06-27 13:15] jamesozzie commented on #4
Great news @phpbits, and thanks for pointing this out @bigmike7801.

[2019-06-27 13:22] jamesozzie commented on #74
@canoas Thanks for raising the issue. The plugin does not provide multi site network installation at this point. You can however use Site Kit on the site level (if you have enabled plugin installs on site level). You would have to create separate OAuth configurations for each site. Let me know if that works for you.

[2019-06-27 13:48] circlecube opened #75 "Start Setup button on plugin activation does not link anywhere"
## Bug Description

When you activate the plugin there is a "Congratulations" notice that contains a "Start Setup" button that should link to the start screen, but it does not link anywhere. The link has an href attribute of "#" rather than a link to a setup page.

## Steps to reproduce

1. Install plugin
2. Activate plugin
3. See congrats notice display
4. Click button in notice

## Expected beha

[2019-06-27 14:16] circlecube commented on #75
Testing this issue some more and the onload document.location is working. Troubleshooting to reproduce again now.

[2019-06-27 14:20] circlecube commented on #75
I believe the issue occured when the page had not fully loaded and perhaps the analytics library had not yet loaded. Tested with adblock enabled and disabled and once page loads the button is functional. There is an opportunity to ensure the button fails gracefully though.

[2019-06-27 14:25] jamesozzie commented on #68
@ivankristianto. I have a video [here](http://recordit.co/Xc27hNwHAP
) where you can see the issue again, not just on a subdomain. Would there be something else causing this? Even after resetting Site Kit and repeating the process using incognito mode:

[2019-06-27 14:48] adamsilverstein opened #77 "Unable to set up plugin in WordPress 4.9 when AMP plugin enabled"
## Bug Description

Unable to set up Site Kit on WordPress 4.9 when AMP plugin is enabled.

## Steps to reproduce

1. Install WordPress 4.9.
2. Install and activate the AMP plugin (1.2)
3. Install and activate the Site Kit Plugin and attempt setup.
4. Note errors in console, blank screen.

## Expected behavior

The plugin should work with AMP plugin enabled in WordPress 4.9.

Note: setup works fin

[2019-06-27 14:55] jamesozzie commented on #77
Duplicate of #14

[2019-06-27 15:30] ivankristianto commented on #77
Thanks @adamsilverstein
This issue is related to amp-wp plugin, and it fixed in this PR:
https://github.com/ampproject/amp-wp/pull/2688

[2019-06-27 15:30] ivankristianto commented on #14
This issue is caused by the amp plugin,
which is currently fixed by this PR: https://github.com/ampproject/amp-wp/pull/2688

[2019-06-27 15:51] #77 closed

[2019-06-27 16:01] ivankristianto commented on #47
This issue is related to AMP plugin (version 1.2.0),
and it fixed in this PR:

[2019-06-27 16:53] canoas commented on #74
@jamesozzie We did install site only.
also deleted the first Oauth app from google console and recreated a new one using only the dashboard url. We still face the same error.
can we find more "debug" info from the current process/plugin?
thank you

[2019-06-27 17:08] jamesozzie commented on #74
@canoas I will try and replicate the same issue. In the meantime you can open Chrome dev tools and under the network tab click on the XHR option and start recording. If you can share the responses from there, along with and console errors.

[2019-06-27 19:33] canoas commented on #74
GET /dvsblog?oauth2callback=1&code=4/dQE2n9B3IH-UKwS-kQTnIqVlkP-auKUVE8Zlfm7z3piCxg05Paw1-zENDq7UYdp1YTQzztDTP_SSndlJPceCAkE&scope=email%20profile%20openid%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/webmasters%20https://www.googleapis.com/auth/siteverification&authuser=0&session_state=928661e4c2d336132837f45

[2019-06-28 06:18] easytraxbd commented on #4
![image](https://user-images.githubusercontent.com/46297281/60321478-b5790300-999e-11e9-91fe-9579d9afd86a.png)

I fixed it by making WP site URL settings and actual live URL. One was https and another was http. Both has to be same.

[2019-06-28 09:28] Stef65lp opened #78 "Can not reconnect apps after a wordpress reset..."
### **## Bug Description**

Can not reconnect apps after a wordpress reset...

----------------------------------------------------------------------------------------------------------

### **## Steps to reproduce**

- I have installed the plugin and start to develop my site.
- After an error I've reset my website.
- I've install again the application and configure it with my same account but for

[2019-06-28 10:08] felixarntz commented on #5
I noticed while addressing the issue that a similar problem can occur with Tag Manager in AMP reader mode. Both are addressed by #79. I updated acceptance criteria accordingly.

[2019-06-28 10:31] luukdv opened #80 "Registration of permission can throw exception"
The `register()` method in `Permissions.php` expects the first argument of the`'map_meta_cap'` callback to be an array, but it looks like this is not always the case (`Callable map_meta_cap [mixed|null cap; mixed|null user_id]`).

When `null` is given, it results in `Argument 1 passed to Google\Site_Kit\Core\Permissions\Permissions::Google\Site_Kit\Core\Permissions\{closure}() must be of the type

[2019-06-28 12:36] felixarntz commented on #80
Thanks for the report @luukdv! I would like to ask you for a bit more context on this. I double-checked that piece of code and couldn't determine the problem so far:

* The filter `map_meta_cap` is [documented](https://developer.wordpress.org/reference/hooks/map_meta_cap/) to pass an array as first parameter so that should be unproblematic.
* Can you clarify how `is_super_admin()` is related? Look

[2019-06-28 14:22] desrosj opened #81 "Incorrect API key for PageSpeed due to excess spaces"
## Bug Description

Following the instructions to connect to the PageSpeed API, I was unable to get it working due to excess spaces in my API key.

## Steps to reproduce

1. Click connect near the PageSpeed API on the Site Kit dashboard.
2. Follow the instructions and click the button to get an API key.
3. Click the copy icon to the right of the key to copy.
4. Paste the copied key into the API ke

[2019-06-28 14:40] ivankristianto commented on #68
@jamesozzie can you check for excess spaces in the api key?
related to this issue #81

[2019-06-28 14:48] swissspidy commented on #47
@Mte90 Since you've already tested the version of the AMP plugin with the bugfix, can you confirm that Site Kit is now working properly as well?

[2019-06-28 15:08] jamesozzie commented on #81
I have been testing PSI on a few sites, not just subdomains. This is the errors I get on some occasions:
{"pagespeed-insights::site-pagespeed-mobile::last-28-days::d41d8cd98f00b204e9800998ecf8427e":{"errors":{"403":["The request did not specify any referer. Please ensure that the client is sending referer or use the API Console to remove the referer restrictions."]},"error_data":{"403":{"status":5

[2019-06-28 15:15] jamesozzie commented on #74
@canoas Thanks for the update. I am trying to replicate the same issue but it's working for me when setting up on individual sites within a multisite.

Are you following OAuth process step from within the main site or by logging into one of the subdomain sites (via the standard plugin dashboard on that individual sites)?

[2019-06-28 17:26] lucymtc opened #83 "Remove wp_head Analytics and AdSense tag verification"
## Feature Description

Currently the plugin verifies the existence of Analytics and AdSense tags by first running wp_head hook and parsing the output, if tag was not found then it parses the front end html content, currently being loaded in iframe, to be replaced through fetch request in this PR.

While making the request to the front end site URL wp_head will run either way so the first verifica

[2019-06-29 15:16] lucymtc opened #85 "site verification step failing on retry after granting user with permissions"
## Bug Description

When going through the setup flow and authenticate with account that hasn't been added to the Users & Permissions settings in Search Console user will see a Continue button. After granting the user permissions in Search Console, clicking on the Continue button will throw error "The necessary verification token could not be found on your site." and it will only re-verify success

[2019-06-30 06:17] lucymtc opened #86 "Switching tabs in settings should cancel current editing in Connected Services"
## Bug Description

When user is editing settings of a module in Settings > Connected Services sections are blocked. When switching to "Connect More Services" the section in this tab is also locked.
User needs to go back to "Connected Services" and cancel the editing. This does not happen when switching to "Admin Settings", current editing is canceled automatically.

## Steps to reproduce

1. Go t

[2019-06-30 07:09] amirsadeghian opened #87 "Refresh button for PageSpeed card"
I believe the plugin is caching the page speed results. It would be nice to add a button to refresh the cache and re-run the page speed audit.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* In the Page Speed and Experience module, for the Lab data tab, add a "Run test again" link in the bottom left co

[2019-07-01 03:25] ivankristianto commented on #87
@amirsadeghian
Thanks for submitting this request. PSI data is cached in browser sessionStorage, so if you open in new tab you will get the new data.
Although I agree with you, having a button to re-fetch would be better.

[2019-07-01 03:29] ivankristianto commented on #78
@Stef65lp
Thank you for reporting this issue.
First I would like to know what do you mean by "reset my website"?
Second, is your WordPress version is 3.6.4? Can you please reconfirm?

[2019-07-01 05:46] Paras16699 opened #88 "Need an option to disable tracking logged in users"
## Feature Description

Currently, it's logging the data for logged-in users to Analytics and Search Console which is skewing the data. I wouldn't want my own site visits to be logged in to Analytics and Console.

## Proposed solution

An option in the Settings page to exclude logged-in users.

A further granular control for specifying which roles to exclude would be more appreciated for people wh

[2019-07-01 06:51] martinkrcho opened #89 "Missing view in Google Analytics connection process"
## Bug Description

Google Analytics Views are missing on the connection screen: Connect Service -> Analytics.

## Steps to reproduce

1. Go to 'Admin > Site Kit > Dashboard'
2. Click on 'Set Up Analytics'
3. See a message "An existing analytics tag was found on your site with the id UA-123456-7. If later on you decide to replace this tag, Site Kit can place the new tag for you. Make sure you remo

[2019-07-01 07:23] United982000 commented on #24
Project Name: Site Kit
The title of your new Google Cloud Platform project.
Application Name: Site Kit on https://www.picoo.de
The name of the app asking for consent, as publicly displayed to authenticating users.

[2019-07-01 09:03] jamesozzie commented on #88
@Paras16699 Thanks for the suggestion. We will log this feature request for discussion.

[2019-07-01 09:15] ivankristianto commented on #12
@jamesozzie
I'm trying to replicate the `insufficientPermission` error to test my fixes.
Can you tell me how did you setup your Google Analytics account? Is it a Shared Google Analytics account?

[2019-07-01 09:26] jamesozzie commented on #78
@Stef65lp From looking at the site URL in your video I can see you are using WordPress 5.2.2.

Can you try deactivate Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit). Then open your browser in [Incognito mode](https://support.google.com/chrome/answer/95464?co=GENIE.Platform%3DDesktop&hl=en) before starting the Site Kit setup process again? If there are any console errors please ch

[2019-07-01 09:30] jamesozzie commented on #12
It's not a shared Google analytics account, but I do have 2FA setup, with a notice going to my phone to approve ("Yes, that was me"). Would that have any effect during initial setup - if I didn't notice on my phone.

[2019-07-01 09:33] #21 closed

[2019-07-01 09:49] Mte90 commented on #47
I can confirm that now with the latest amp is working.

[2019-07-01 10:14] jamesozzie commented on #47
@Mte90 Good news, thanks for the update. If you have a minute leave a [review](https://wordpress.org/support/plugin/amp/reviews/) for the plugin authors with their rapid fix.

[2019-07-01 10:14] #47 closed

[2019-07-01 13:22] ivankristianto opened #90 "Setup Analytics need better instruction when there is no matched property"
## Bug Description

During the Analytics setup process, my Analytics account only has 1 account and property, which is not a matched property with the current Site Kit siteURL.
and it does show a button and a not working refetch link.

## Steps to reproduce

1. Have 1 GA account and ensure it doesn't has matched property
![Image 2019-07-01 at 20 19 39](https://user-images.githubusercontent.com/656

[2019-07-01 13:59] sviluppomania commented on #36
@felixarntz

[2019-07-01 13:59] sviluppomania commented on #36
@ivankristianto  @ThierryA

[2019-07-01 14:24] OisinOConnor opened #91 "AdSense set-up for some existing AdSense users does not give code toggle"
## Bug Description
When connecting Site Kit to an existing AdSense account, the plugin does not always ask users if they would like to code placed on their account.

## Steps to reproduce
Set up AdSense on Site Kit with an existing account without any Adsense code on the site already.

## Expected behavior
A screen with a toggle that gives user the option to add AdSense code to the site.

--------

[2019-07-01 14:26] OisinOConnor opened #92 "AdSense dash not showing up for newly enabled site"
## Bug Description

When there are ads serving (showing data in the main dashboard), the AdSense tab is still showing "we're getting your site ready for ads" instead of stats dashboard.

## Steps to reproduce
Set up AdSense with an existing account with low traffic.

## Expected behavior
The AdSense dashboard showing up.

## Screenshots

## Additional Context
With newly added sites.

N/A

N/A
----

[2019-07-01 14:29] OisinOConnor opened #93 "AdSense chart number formatting"
## Bug Description

Numbers on AdSense chart are not formatted for currency on main "Dashboard" tab.

## Steps to reproduce
An Adsense account with a small bit of traffic. Go to main "Dashboard".

## Expected behavior

$, £ etc.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Changelog entry

* Ensure numbers in AdSense char

[2019-07-01 14:35] OisinOConnor opened #94 "Link to "Sites" after AdSense set-up needs reformatting"
## Bug Description

Link from "Sites" after setting up an AdSense account is incorrect.
## Steps to reproduce
Set-up AdSense on Site Kit with an existing account. After setup, click "Sites" link.

## Expected behavior
the "Sites" link should redirect you to the "Sites status" page for that url, if url already added.
Needed:
Change link to “Sites” in the post-setup screen from:
https://www.google.c

[2019-07-01 14:55] ivankristianto commented on #12
@jamesozzie
I did try to fix the issue. But since I cannot replicate the issue with real data, can you please help me to test on your end?
here is the zip package contain that fix specifically.
[google-site-kit.zip](https://github.com/google/site-kit-wp/files/3346175/google-site-kit.zip)

[2019-07-01 15:36] ivankristianto commented on #70
@lucymtc & @bjackson27
After a second thought, I prefer to keep this but change the title to "Top search queries for your page".
Since the search queries shown here is specific to that post/page.

[2019-07-01 15:50] ivankristianto opened #96 "After change any Service settings, it should clear sessionStorage"
## Bug Description

After change any service settings from the Site Kit admin settings, it still show the old data from the cache

## Steps to reproduce

1. Go to Site Kit admin settings
2. Change Analytics property and profile
3. Go back to Site Kit dashboard screen
4. It still show the old data

## Expected behavior
It should fetch the latest/new data based on the new settings.

---------------

[2019-07-01 16:10] jamesozzie commented on #12
@ivankristianto It worked for me fine that time. I will check on other sites too and report if I see the same issue arising.

[2019-07-01 16:47] jamesozzie commented on #89
@martinkrcho Thanks for reporting this. Can you confirm that there are no restrictions under "User Management" section of the view (from within your [Analytics](https://analytics.google.com/analytics) dashboard). Please let me know if it is a shared Google analytics account or for a single user.

If you can try resetting Site Kit and installing again from an incognito window please check the same

[2019-07-02 08:37] jamesozzie opened #97 "Blank screen on setup"
## Bug Description

Blank screen upon visiting Site Kit dashboard. At one stage I did get to the verify stage but it would not proceed when I click on the "Continue" button.

## Steps to reproduce

1. Install Site Kit via standard upload (with all plugins inactive)
2. Start activation process

## Expected behavior

## Screenshots

Video below
http://recordit.co/VQoZM3RXsS

And screenshot:
<img wid

[2019-07-02 08:50] jamesozzie opened #98 "Add full URL to Analytics dashboard"
## Feature Description

It would be great to see the full URL on hover in the Analytics dashboard rather than just the page titles. In some cases websites feature the same page titles for some of their URLs, in particular websites with a large inventory of content with auto generated sub-pages.

## Proposed solution
Add a full URL on hover of the page title. Or alternatively add the full URL below

[2019-07-02 09:03] jamesozzie opened #99 "Optimize / Tag Manager setup. Add notice that Analytics module activation is required"
## Feature Description

Rather than just greying out the Optimize & Tag Manager services (when Analytics is not yet connected) add a notice to the "Connect more services" tab to make users aware that Analytics must first be added in order to proceed with Optimize or Tag Manager setup.

## Proposed solution

Add a small notice below the Tag Manager and Optimize connect services options. Something a

[2019-07-02 09:14] jamesozzie commented on #92
In the main Site Kit dashboard it does display the basic AdSense dashboard:
![download](https://user-images.githubusercontent.com/41326532/60500402-2cb9da00-9cb2-11e9-9795-92c25bbb4331.png)

Clicking on the "Adsense" tab from the Site Kit panel results in the below:
![vOb7w9FWe9](https://user-images.githubusercontent.com/41326532/60500178-c92fac80-9cb1-11e9-98d0-cc6c1c5eb530.gif)

[2019-07-02 09:28] jamesozzie opened #100 "AdSense panel - Restricted metric(s)- Convert the referenced URL to a link"
## Bug Description

There is a referenced URL for when a user adds the AdSense panel (The referenced URL appears in a blue panel, "Restricted Metric(s)"). It appears when a user does not connect AdSense to their Analytics. Rather than just referencing the URL this could be converted to a link, allowing for easier navigation to that resource.

## Steps to reproduce

1. Add AdSense module
2. Don't c

[2019-07-02 10:17] martinkrcho commented on #89
@jamesozzie, I tried resetting Site Kite and a fresh setup in incognito window. Unfortunately, I get the same problem as before.

The Google Analytics view is shared with multiple users, but the user I am using to setup Site Kit has got  all available permissions:
- Edit
- Collaborate
- Read & Analyze
- Manage Users

Any ideas what else could be the problem? Perhaps a bug in function `AnalyticsSet

[2019-07-02 11:13] jamesozzie commented on #89
@martinkrcho Thanks for checking. I can't replicate it myself but we get this assigned and looked into.

[2019-07-02 11:45] aaemnnosttv opened #101 "Reset does not select proper user IDs in network mode"
## Bug Description

In `\Google\Site_Kit\Core\Util\Reset::delete_all_user_metas`, a `WP_User_Query` is used to select users to delete meta for based on the presence of the oauth access token key. However, the meta key in the query is prefixed which causes it to not match unprefixed keys as is the case when the plugin's context is in network mode.

## Steps to reproduce

1. Network activate the plu

[2019-07-02 13:57] adamsilverstein opened #105 "Travis build image should show develop branch status"
## Bug Description

Build status image is incorrect, it is showing the master branch however the project is using the develop branch as primary and for PRs.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-02 14:39] adamsilverstein commented on #105
Closing as this is already fixed.

[2019-07-02 14:39] #105 closed

[2019-07-02 14:43] jamesozzie commented on #12
@ivankristianto Just to let you know I am unable to reproduce the issue using your fix.

[2019-07-02 15:16] ivankristianto commented on #12
Thanks @jamesozzie
Can you please help me get the data again from what you did in this comment:
https://github.com/google/site-kit-wp/issues/12#issuecomment-504486937

Please ensure you are in new tab so you won't hit browser cache.

[2019-07-02 15:49] ThierryA commented on #94
@OisinOConnor could you review this one and advise whether the URL is incorrect as reported in this issue?

[2019-07-02 15:55] felixarntz commented on #70
@marrrmarrr Can you chime in on that please?

Should we remove the box on the single page view entirely or should we just relabel it appropriately to use "Top search queries for your page" in that scenario?

[2019-07-02 16:09] jamesozzie commented on #68
@ivankristianto While there appears to be an additional space in the generated API key this is not the cause of the problem, as the copied API key does not include this space (copied directly via the copy button or copied via selecting the text, copying & pasting). This is not the root cause of this issue.

![ZrqUCVFviS](https://user-images.githubusercontent.com/41326532/60528323-1df01900-9cec-11e

[2019-07-03 08:40] ivankristianto commented on #5
This QA'ed and the issue is fixed. closing.

[2019-07-03 08:40] #5 closed

[2019-07-03 08:44] ivankristianto commented on #61
QA passed based on the acceptance criteria. Closing this issue as fixed.

[2019-07-03 08:44] #61 closed

[2019-07-03 08:52] marrrmarrr commented on #70
Showing queries for which the specific page is very valuable information for users.
@ivankristianto can you confirm these are queries scoped to the page (and not the site)? If yes, let's change the title and keep the table.
We need to also address the case when there is not enough information for that page to show specific queries (e.g. queries below privacy threshold). In that case, what will cur

[2019-07-03 09:11] jamesozzie commented on #12
I deleted the project from Cloud Console, deleted Site Kit and installed again from incognito mode. I used the same Google profile for OAUTH and to verify, the same account that holds the Analytics account and profile which I connected to.

Console Error:
JQMIGRATE: Migrate is installed, version 1.4.1
wp-polyfill.min.js?ver=7.0.0:1 @babel/polyfill is loaded more than once on this page. This is pro

[2019-07-03 09:43] ivankristianto commented on #68
@jamesozzie
If it is a correct API key, the other possible way is you might have API restriction set for your API.
Can you check it in GCP dashboard?
What do you have in that key setting? You can check it with this link: https://console.cloud.google.com/apis/credentials

ANd here is the screenshot look like
![Screen Shot 2019-07-03 at 15 16 55](https://user-images.githubusercontent.com/656006/6058

[2019-07-03 09:46] aaemnnosttv opened #108 "Cache: Global cache keys are never removed"
## Bug Description

The `\Google\Site_Kit\Core\Storage\Cache` class stores a list of transient names related to keys that it has cached in an option of "global cache keys".

It also has a `remove_global_cache_key` method which is intended to remove an individual key from this list. This is a private method used only once within the class.

The problem is that this method assumes keys are stored as

[2019-07-03 10:44] jamesozzie commented on #68
@ivankristianto There are no restrictions set, see below:

<img width="897" alt="Screen Shot 2019-07-03 at 11 42 13 AM" src="https://user-images.githubusercontent.com/41326532/60585435-aa034e80-9d87-11e9-9622-0d2799ac07bf.png">

[2019-07-03 13:03] lucymtc opened #110 "Analytics setup missing verification of user's access to existing tag found through front end request"
## Bug Description

During analytics setup flow when existing tag is found the plugin only verifies the user's access to the property when found through wp_head hook and not through the front end request.

The user should be blocked from continuing Analytics configuration if hasn't got access to the property found.

## Steps to reproduce

1. Add Analytics tag in the theme header.php, make sure you

[2019-07-03 15:27] bjackson27 opened #111 "Fix QUnit tests"
## Bug Description

Although Travis build passes, QUnit tests are throwing an error.

## Steps to reproduce

Run `gulp qunit`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Fix QUnit tests

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-03 15:28] ThierryA opened #112 "Fix QUnit tests"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-03 15:30] ThierryA commented on #112
Duplicate of #111

[2019-07-03 15:30] #112 closed

[2019-07-03 16:39] #111 closed

[2019-07-03 16:49] aaemnnosttv opened #113 "Composer tweaks"
## Feature Description

This issue proposes a few minor changes to the `composer.json` file:

1. The `composer.json` file currently contains a `version` key. This is recommended to be omitted [according to the schema](https://getcomposer.org/doc/04-schema.md#version). Unless this is necessary for some reason, it's better for this to be inferred from VCS.

1. Regarding the `scripts` section, the `v

[2019-07-03 17:27] torounit opened #114 "TypeError: Cannot read property 'value' of undefined in `readableLargeNumber` for integer only currencies."
## Bug Description

TypeError: Cannot read property 'value' of undefined in [readableLargeNumber](https://github.com/google/site-kit-wp/blob/release/v1.0.0-beta.1.0.1/assets/js/util/index.js#L138)

This error occurs for currencies that do not use decimals.

The return value of `Intl.NumberFormat.prototype.formatToParts` does not always include `{ type: 'decimal' }`.  (ex. JPY, ISK, KRW ... )

## S

[2019-07-04 04:50] amirsadeghian commented on #87
@ivankristianto , I am interested to contribute. Can I fork the project and add this enhancement and submit a pull request?
Thank you

[2019-07-04 04:56] ivankristianto commented on #87
@amirsadeghian yes feel free to forked and open a PR.
Also please read this contributing doc priorly: https://github.com/google/site-kit-wp/blob/develop/CONTRIBUTING.md

Note: Instead branch of and submit PR to `master`, branch of and submit the PR to `develop`.
We will update that contributing doc to match later.

[2019-07-04 07:01] SupraFan opened #117 "Redirecting issue"
I have an issue with the setup... when i will do the second step, it always redirects me to the "My Profile" site and leaves the google app and never finished the second step... what can i do?

[2019-07-04 07:01] swissspidy commented on #113
As for the version number, the same goes for `package.json`, especially when the package is not published on npm.

[2019-07-04 07:46] ivankristianto opened #118 "Contributing doc need to be updated"
## Bug Description

Contributing guideline need to update:
https://github.com/google/site-kit-wp/blob/develop/CONTRIBUTING.md#contributing-code

Instead of branch from `master`, it should branch from `develop`, and submit PR to `develop`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementatio

[2019-07-04 07:51] aaemnnosttv opened #119 "Misplaced Tests"
## Bug Description

This isn't really a bug, but there are a few test cases for PHPUnit which are misplaced according to the directory structure convention we have in place.

The tests still run as it is, so there's no risk to actual test coverage, this is just for consistency.

Affected tests are:

[code]

Should be:

[code]

---------------

_Do not alter or remove anything below. The following

[2019-07-04 08:11] ThierryA opened #121 "Add Contributor Handbook"
## Feature Description

Write first iteration of the Contributor Handbook and replace existing documentation.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- [x] Add **Home** landing page
- [x] Add first iteration of **Engineering** guidelines
- [x] Add first iteration of **Project Management** guideli

[2019-07-04 08:12] ThierryA commented on #118
Will be addressed in #121

[2019-07-04 08:12] #118 closed

[2019-07-04 08:43] jamesozzie commented on #117
@SupraFan Thanks for reporting this issue. To confirm, this is at the "Authenticate" stage? Would you be able to share screenshots or a video of the error? We will need some more context to be able to troubleshoot.

Also please try resetting Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit). If you are not able to reach that section try deleting the Site Kit plugin before opening a

[2019-07-04 09:20] ivankristianto commented on #70
@marrrmarrr Yes I can confirm that the data in that table is scoped to that specific page.

And regarding if there is not enough information, that table currently show empty table.
Screenshot:
![Screen Shot 2019-07-04 at 16 18 38](https://user-images.githubusercontent.com/656006/60655179-861f3600-9e77-11e9-9c8c-9fbdd4cfed6d.png)

Which could be improved by showing a CTA like other Search Console c

[2019-07-04 09:33] scarletshow opened #122 "A network error occurred and the request could not be completed."

[2019-07-04 09:45] jamesozzie commented on #37
@hjanuschka Thanks for your suggestions. As Ivan mentioned the `tagverify` approach will be discussed.

With regards support for service-accounts nice suggestion. We can certainly add that to the list of feature requests.

[2019-07-04 10:07] jamesozzie commented on #44
Hi @kristarella. Did you encounter this issue again, or were you able to proceed with the setup?

[2019-07-04 10:13] jamesozzie commented on #62
@onuro Were you able to recreate the issue? Check also the header.php file of your active theme, or for any other possible implementation methods for Analytics (Theme options, analytics plugin etc).

[2019-07-04 10:24] jamesozzie commented on #74
@canoas Did you manage to setup Site Kit using the individual site install as opposed to admin install from the main site?

[2019-07-04 10:35] jamesozzie commented on #122
@scarletshow Thanks for reporting the issue. Would you be able to provide more context to this issue and we can troubleshoot? If you cannot do a screen grab please provide some of the following information:

At what stage does this error appear?
WordPress Version:
Web Host Environment:
Site Kit install method (WP dashboard upload, FTP, version control etc)?
Any firewall/security plugin in use:
Chr

[2019-07-04 10:58] scarletshow commented on #122
Thank you.

On Thu, Jul 4, 2019 at 4:05 PM James G <notifications@github.com> wrote:

[2019-07-04 11:26] ThierryA commented on #14
Fixed on the AMP Plugin side https://github.com/ampproject/amp-wp/issues/2679

[2019-07-04 11:26] #14 closed

[2019-07-04 12:02] felixarntz opened #125 "Add commit message guidelines to Contributor Handbook"
## Feature Description

A section we still need to define in the https://github.com/google/site-kit-wp/wiki/Engineering guidelines is how to write commit messages. These guidelines should be particularly flagged also to guest contributors early on in some obvious way, so they hopefully follow these as soon as they start working on a PR.

cc @ThierryA

---------------

_Do not alter or remove anyth

[2019-07-04 12:04] felixarntz commented on #125
I suggest to include the following rules (possibly more than these):

* Always start the message with an infinite verb (e.g. "Fix ...").
* Always start with a capital letter and end in a period.
* Refrain from using GitHub keywords that would close an issue. Referencing another issue is okay.

[2019-07-04 12:05] felixarntz commented on #121
I opened #125 for a specific follow up. Closing this one as it's been merged.

[2019-07-04 12:05] #121 closed

[2019-07-04 12:13] aaemnnosttv opened #126 "Tracking: "standalone" sendAnalyticsTrackingEvent missing configuration"
## Bug Description

`\Google\Site_Kit\Core\Util\Tracking::print_standalone_event_tracking_script` defines a global `sendAnalyticsTrackingEvent` function in JavaScript for sending `gtag` events.

According to the method's docblock:

The problem is that the main part of this function is dynamically defined in PHP like so:

[code]

The local variable `$track_id` is never provided in the given scope s

[2019-07-04 14:17] sviluppomania opened #127 "Proposal adding services"
Add Google reCaptcha among the plugin services with the various versions: v2, invisible etc;
Adding Google My Business among the plugin's services;

Automatic positioning for Google AdSense ads, without using third-party plugins;

Possibility to add Google Analytics snippets with anonymized IP;

Moreover there are also some proposals for Google Analytics here: https://github.com/google/site-kit-wp

[2019-07-04 14:35] jamesozzie commented on #127
@sviluppomania Thanks for the great suggestions, as the plugin develops we can hopefully continue to add such features where possible. In relation to anonymizing IPs see  #56 and #18 .

To keep track of such useful feature requests can you log each issue individually as a feature request (as opposed to multiple requests in the same submission). We can then categorise and prioritise accordingly.

[2019-07-04 14:42] sviluppomania commented on #127
@jamesozzie sorry James, I do not understand regarding the anonymized IP ... The snippet inserted by the plugin does not make it with anonymized IP.

[2019-07-04 15:36] SupraFan commented on #117
http://service-finden.de/Media/issue.mp4

[2019-07-04 15:37] SupraFan commented on #117
here is a little clip i made about my problem with the site kit.... hope you can help me

[2019-07-04 15:57] jamesozzie commented on #117
@SupraFan Thanks for the video clip. I see you are using the Brave browser. Can you try to setup Site Kit in an alternate browser and see if the same problem arises?

[2019-07-04 18:45] SupraFan commented on #117
no, the same issue with a brand new install of firefox and chrome.... :(

[2019-07-05 02:04] Stef65lp commented on #78
I've reset my website & database with this plugin : https://wordpress.org/plugins/advanced-wp-reset/

My wordpress version is : 5.2.2

[2019-07-05 02:06] Stef65lp commented on #78
I don't have an Settings option on my dashbord : http://prntscr.com/oasln8

[2019-07-05 02:09] Stef65lp commented on #78
But @ivankristianto & @jamesozzie  I've reset my website again and I've re-install the  Site Kit but when I go on the link to configure my client (http://prntscr.com/oasm5w) I've this screen (http://prntscr.com/oasmai) it's okay but when I click on "GET OAUTH CREDENTIALS" I've an error (http://prntscr.com/oasmf9)

[2019-07-05 03:45] ivankristianto commented on #66
## Implementation Brief

* Normalize the non-unicode character when setting the container name: https://github.com/google/site-kit-wp/blob/develop/includes/Modules/TagManager.php#L403
* Check if the account has container(s):
  * If not, try to create a container from the server side, if succeed then finish setup
  * If account has container(s), show dropdown
* When the same container name exist, T

[2019-07-05 04:09] ivankristianto commented on #12
## Issue

In our data module we check:
https://github.com/google/site-kit-wp/blob/develop/assets/js/components/data.js#L275-L280
`insufficientPermission` is because of oauth scopes, which happen in most of the cases.
In this case the `insufficientPermission` is because user doesn't have access to the Analytics Goals.

## Implementation Brief

Moves the `insufficientPermission` error check from the

[2019-07-05 04:13] ivankristianto commented on #96
## Implementation Brief

`SettingsModules` component handle the confirm button action in `handleButtonAction`.
When success (no error thrown), call `clearAppLocalStorage()` function to clear local and session storage.

[2019-07-05 04:24] ivankristianto opened #131 "GTM Container Dropdown With Container Name + Container ID"
## Bug Description

When selecting GTM container from dropdown, it only show Container ID.

## Steps to reproduce

1. Activate Tag Manager from the settings
2. Tag Manager setup flow show up
3. See container dropdown as the screenshot below:
![Screen Shot 2019-07-05 at 09 45 59](https://user-images.githubusercontent.com/656006/60697963-4c057100-9f17-11e9-9067-ee210c1b1512.png)

## Expected behavio

[2019-07-05 04:29] ivankristianto commented on #94
@OisinOConnor / @marrrmarrr
what if the site url has subdomain or www? should we only use the root domain?

[2019-07-05 07:49] felixarntz commented on #119
@aaemnnosttv For next time, even for such purely test-related issues it would be great if you could add a quick implementation brief (one sentence), and mark the other two sections as N/A.

[2019-07-05 07:51] #119 closed

[2019-07-05 07:55] felixarntz commented on #108
Added missing moderator section details.

[2019-07-05 07:56] #108 closed

[2019-07-05 09:20] jamesozzie commented on #117
@SupraFan Thanks for checking. We will need to troubleshoot further, do you mind deactivating the social login plugin also (temporarily) while you start the process again, after resetting Site Kit? Please then share any console errors (Using Dev Tools with a Chrome browser). We might need to check your network logs ago but please try again.

Also a couple of other things to check before installing

[2019-07-05 09:22] jamesozzie commented on #122
@scarletshow Were you able to get Site Kit working? If so I will close this issue.

[2019-07-05 09:56] scarletshow commented on #122
Yes. Thank you.

On Fri, Jul 5, 2019 at 2:52 PM James G <notifications@github.com> wrote:

[2019-07-05 09:57] #122 closed

[2019-07-05 10:08] jamesozzie commented on #74
@canoas I will close this issue now, but feel free to reopen if you are unable to install on individual sites. Multi site network installs are on the roadmap for future releases, so hopefully you won't have to wait too long.

[2019-07-05 10:08] #74 closed

[2019-07-05 10:17] lucymtc opened #132 "Modules setup components remounting on every user action on the settings page"
## Bug Description

Setup modules components ( TagmanagerSetup, AnalyticsSetup... ) in the settings page are being re-mounted with every action ( expanding settings view, expanding form, canceling editing, saving ) when it should be only re-rendering and not re-mounting.

## Steps to reproduce

1. Activate and configure Analytics module.
2. Add a `console.log( 'did mount' );` inside `componentDidM

[2019-07-05 10:19] jamesozzie commented on #127
Hi @sviluppomania. Customizing parameters for the inserted snippet is not supported at present. There is an [open feature request](https://github.com/google/site-kit-wp/issues/56) for this which will be discussed.

[2019-07-05 11:03] jamesozzie commented on #78
@Stef65lp Thanks for the information. We will have to troubleshoot further. It would be great if you could try the following, before trying to install again:
- Check your [site settings](https://www.diigo.com/item/t/N3tyQLwMypycf5PHe17BzA6vLOPTjG3ucEsl3M0IXPsQhtRGMN5Ixg1RcPKX%0ADTv7%0A), ensure they both have your full site URL (including https).
- Delete the [existing project ](https://www.diigo.

[2019-07-05 11:14] ghost opened #133 "Compatibility with PHP 7.x.x. 2.0"
**FILE: google-site-kit/vendor/symfony/yaml/Parser.php**

[code]

**FILE: google-site-kit/vendor/symfony/yaml/Inline.php**

[code]

[2019-07-05 12:09] Stef65lp commented on #78
My site settings : http://prntscr.com/oazg9j

I've delete my existing project, his name was "codedefille" : http://prntscr.com/oazgsy

How to check there are no API key restrictions ?

I've desactivate all plugin : http://prntscr.com/oazhni

**--- All of those above did not work ---**

Because when I do that, it's work !

Thanks you so much @jamesozzie & you too @ivankristianto**

[2019-07-05 12:13] Stef65lp commented on #78
And the connection with Adsense & Analytic work again, everythings is good !

[2019-07-05 12:14] jamesozzie commented on #78
@Stef65lp Great news, and thanks for letting us know. What AdBlocker software do you use?

[2019-07-05 12:15] Stef65lp commented on #78
@jamesozzie I use this extension on Chrome : https://chrome.google.com/webstore/detail/adblock-plus-free-ad-bloc/cfhdojbkjhnklbpkdaibdccddilifddb?hl=fr

[2019-07-05 12:16] #78 closed

[2019-07-05 13:26] onuro commented on #62
@jamesozzie clearing cache and then disconnecting and re-authenticating resolved the issue.

Thanks!

[2019-07-05 13:35] #62 closed

[2019-07-05 14:30] jamesozzie commented on #24
@United982000 Do you mind [deleting](https://i.imgur.com/EoA1edo.png) that newly created project and also try installing (after [resetting](https://i.imgur.com/9U437Vq.png) via Site Kit.

Please also try to activate Site Kit again in [incognito](https://i.imgur.com/ALzgiHp.png) mode, to ensure a clear cache and no Ad Blocker or Chrome extensions are active.

[2019-07-05 14:36] sviluppomania commented on #133
@jamamesozzie @thierryA

[2019-07-05 15:48] bjackson27 opened #136 "Additional PHP testing | includes/Core/Authentication/Authentication.php"
## Feature Description
PHP Tests for `includes/Core/Authentication/Authentication.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Authentication/Authentication.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 16:14] jamesozzie commented on #133
Thanks for raising this @sviluppomania. I've marked this as a product enhancement which we can review.

[2019-07-05 19:09] bjackson27 opened #138 "Provide clarity on the single URL page"
## Feature Description

Details on the single URL page are a bit unclear. Add in additional labels as outlined in screen shot below to provided needed clarity.

<img width="516" alt="826331f9e2c7b3c2b448bf75ae88c8dc" src="https://user-images.githubusercontent.com/28811945/60741287-731b6d00-9f2e-11e9-9798-f5e2d1c0abc4.png">

---------------

_Do not alter or remove anything below. The following sec

[2019-07-05 19:16] bjackson27 opened #139 "Additional PHP testing | includes/Core/Storage/Data_Encryption.php"
## Feature Description
PHP Tests for `includes/Core/Storage/Data_Encryption.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/Data_Encryption.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:17] bjackson27 opened #140 "Additional PHP testing | includes/Core/Storage/Cache.php"
## Feature Description
PHP Tests for `includes/Core/Storage/Cache.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/Cache.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:19] bjackson27 opened #141 "Additional PHP Testing | includes/Core/Storage/Encrypted_Options.php"
## Feature Description
PHP Tests for `includes/Core/Storage/Encrypted_Options.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/Encrypted_Options.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:21] bjackson27 opened #142 "Additional PHP Testing | includes/Core/Storage/Encrypted_User_Options.php"
## Feature Description
PHP Tests for `includes/Core/Storage/Encrypted_User_Options.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/Encrypted_User_Options.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:22] bjackson27 opened #143 "Additional PHP Testing | includes/Core/Storage/Transients.php"
## Feature Description
PHP Tests for `includes/Core/Storage/Transients.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/Transients.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:23] bjackson27 opened #144 "Additional PHP testing | includes/Core/Storage/User_Options.php"
## Feature Description
PHP Tests for `includes/Core/Storage/User_Options.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Storage/User_Options.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:25] bjackson27 opened #145 "Additional PHP testing | includes/Core/Util/Activation.php"
## Feature Description
PHP Tests for `includes/Core/Util/Activation.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Util/Activations.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:26] bjackson27 opened #146 "Additional PHP testing | includes/Core/Util/Cron.php"
## Feature Description
PHP Tests for `includes/Core/Util/Cron.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Util/Cron.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:27] bjackson27 opened #147 "Additional PHP testing | includes/Plugin.php"
## Feature Description
PHP Tests for `includes/Plugin.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Plugin.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:28] bjackson27 opened #148 "Additional PHP Testing | includes/Core/Util/Reset.php"
## Feature Description
PHP Tests for `includes/Core/Util/Reset.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Util/Reset.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 19:30] bjackson27 opened #149 "Additional PHP Testing | includes/Core/Util/Tracking.php"
## Feature Description
PHP Tests for `includes/Core/Util/Tracking.php`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add 100% PHP Tests coverage for `includes/Core/Util/Tracking.php`

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-05 20:38] dominikbullo commented on #12
Same there.. :)

[2019-07-06 02:42] akshayhirani opened #150 "Google Kit Plugin Is Unable to show Fetched Data"
![2](https://user-images.githubusercontent.com/29171885/60750423-b674ea80-9fc5-11e9-9c8e-729797389516.png)
![gk](https://user-images.githubusercontent.com/29171885/60750422-b5dc5400-9fc5-11e9-9b5b-043d90f50e48.png)

[2019-07-06 09:54] MohamadFtah commented on #24
I'am having the same issue
no quota limits

PHP Version: 7.3
Hosting OS: virtualmin
Browser: Chrome, Opera
Plugin Version: 1.0.0-beta.1
WordPress version: 5.2.2

[2019-07-06 18:44] OisinOConnor commented on #94
The best thing would be to only use the root domain. 2 scenarios:
1. User has already added domain. They will land on a page that has an "add subdomain" button.
2. User has not added the root domain yet (prerequisite for adding subdomain). They will land on the page to add the root domain. After they've added and verified, they'll have an option to add a subdomain after.

[2019-07-06 20:39] userfriendly125 opened #151 "The necessary verification token could not be found on your site."
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-07 10:12] ask543 commented on #150
google site kit installation error
"Forbidden
You don't have permission to access / on this server.
Additionally, a 403 Forbidden error was encountered while trying to use an ErrorDocument to handle the request"
what should i do ?

[2019-07-08 02:31] ivankristianto commented on #97
@jamesozzie
Can you please help me with these:

- What is Wordfence version you are using?
- What is AMP plugin version you are using? When you deactivate the plugin, can you clear your browser cache?
- Do you use any CDN like Cloudflare? If yes, in Cloudflare you might need to turn on development mode for a while. If not but still use other CDN, can you try to Purge all caches.
- Are you using an

[2019-07-08 03:05] ivankristianto commented on #91
@OisinOConnor
I cannot reproduce this issue on my end.
When I try to setup AdSense module with this criteria:
1. I have the active AdSense account
2. I did add the Sites on AdSense account
3. My AdSense account already show ads and has revenue.

During AdSense setup flow i see the option:
![Screen Shot 2019-07-08 at 09 38 10](https://user-images.githubusercontent.com/656006/60780164-85ccb680-a167-

[2019-07-08 07:11] aaemnnosttv commented on #143
This has been merged.

[2019-07-08 07:13] aaemnnosttv commented on #140
This is merged.

[2019-07-08 10:18] #143 closed

[2019-07-08 10:19] #140 closed

[2019-07-08 10:23] jamesozzie commented on #151
@userfriendly125 Thanks for reporting. Do you mind trying to reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit) before attempting to install again?

Please also install Site Kit by opening an incognito window, to ensure a new session and all potential conflicting browser extensions are inactive. If that fails please confirm the issue arises at the initial step stage (verificati

[2019-07-08 10:33] lucymtc commented on #48
This may be related to 3rd party issue, we need some more details to help reproduce.
@marrrmarrr can you provide information listed in the previous comment and the Gutenberg version? thanks

[2019-07-08 10:34] jamesozzie commented on #150
@akshayhirani @ask543 Thanks for reporting, do you mind starting the process again after resetting Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)? You can also try [deleting the project](https://i.imgur.com/EoA1edo.png) from your Cloud Console and [checking your API key](https://i.imgur.com/p9c4S3M.png), ensuring it has no restrictions. Please also install Site Kit by opening an

[2019-07-08 11:00] aaemnnosttv commented on #81
@desrosj I believe you're referring to this dialog on https://developers.google.com/web/site-kit/apikey correct?

![get-api-key-dialog](https://user-images.githubusercontent.com/1621608/60804217-aad02200-a185-11e9-8fad-7b751a14efa0.png)

I was able to reproduce this issue using Firefox (1 space before and after), and IE Edge (1 space after), but found that it worked fine using Chrome and Safari wi

[2019-07-08 11:10] jamesozzie commented on #97
@ivankristianto See notes below:
- Wordfence 7.3.3 (Deactivated)
- Official AMP plugin (1.2)
- No CDN being used
- No caching plugins

Issue no longer occurs with 1.0.0-beta.1, feel free to close, or let me know if you would like me to troubleshoot further.

[2019-07-08 11:19] aaemnnosttv commented on #97
@jamesozzie you reported this issue using `1.0.0 Beta 1`. Was it fixed for you with `1.0.0-beta.1.0.1` or the previous version `1.0.0-beta.1` (same as reported version)?

[2019-07-08 11:32] jamesozzie opened #154 "Analytics setup: "Refetch my account" link not working"
## Bug Description

When setting up Analytics nothing happens at the Analytics setup stage when "Re-fetch my account" is clicked on.

![nqaOVvB1Rt](https://user-images.githubusercontent.com/41326532/60806108-098f9e80-a17a-11e9-81fd-0c39849b5022.gif)

## Steps to reproduce

1. Setup Analytics module
2. At the "Create Account / Refetch my account stage" nothing happens when "Re-fetch My Account" is

[2019-07-08 11:45] jamesozzie commented on #97
@aaemnnosttv I have 1.0.0-beta.1 active at present and the issue no longer appears. At the same time I could not recreate the same issue use during other testings with 1.0.0 Beta 1.

[2019-07-08 11:58] jamesozzie commented on #24
@MohamadFtah Can you also please [delete](https://i.imgur.com/EoA1edo.png) that project from your Google Cloud Console, before resetting Site Kit and trying again?

Please share or send a screenshot of your "Project Name" and "Application" name during initial setup. The project name should reflect the title you have under "Settings > General" from your WordPress admin dashboard.

[2019-07-08 14:55] bjackson27 commented on #91
@ThierryA noting that we aren't able to reproduce this issue.

[2019-07-08 14:56] bjackson27 commented on #48
@ThierryA noting that we aren't able to reproduce this issue.

@marrrmarrr could you confirm that the user is still seeing this issue?

[2019-07-08 15:57] jamesozzie commented on #114
@torounit Can you confirm that this is the same issue as #93, relating to your AdSense dashboard?

[2019-07-08 16:22] circlecube commented on #138
Here is some aggregated comments/notes from the old related ticket (18596445)

[2019-07-08 16:25] circlecube commented on #138
@marrrmarrr We have some updates on this and are ready for feedback since a lot has changed in the meantime. Here is a screenshot of the updates from the above comp (excluding adding the bounce rate):
![googlekitlocal 10uplabs com_wp-admin_admin php_page=googlesitekit-dashboard permaLink=https%3A%2F%2Fnomaderwhere com%2F pageTitle=Home](https://user-images.githubusercontent.com/698049/60826226-65a

[2019-07-08 21:04] andizer commented on #117
I encountered the same problem and after spending a couple of hours on debugging I found out that my theme was catching the 'code' from the url by accessing `$_GET`. In my case it was my own theme, but I guess another plugin it watching the `$_GET` and redirecting before sitekit gets the chance.

[2019-07-09 06:24] torounit commented on #114
@jamesozzie  This issue is different from #93 .

This error occurs only Adsense setting page in Site Kit. (/admin.php?page=googlesitekit-module-adsense)

[2019-07-09 06:49] martinkrcho commented on #89
Thanks, @jamesozzie. I'll be looking forward to an update and hopefully a fix for this.

[2019-07-09 07:16] martinkrcho opened #155 "Possible conflict with Monster Insights"
## Bug Description

The Site Kit plugin negatively affects Google Analytics functionality when using side by side with plugin [AMP for WP – Accelerated Mobile Pages](https://wordpress.org/plugins/accelerated-mobile-pages/) and [Google Analytics Dashboard Plugin for WordPress by MonsterInsights](https://wordpress.org/plugins/google-analytics-for-wordpress/).

We have 2 separate Google Analytics tra

[2019-07-09 08:34] jamesozzie commented on #117
@andizer Thanks for the input, very useful. Can you let me know what theme you are using?

[2019-07-09 08:56] andizer commented on #117
It was a theme developed by myself and only used by me. It also contains some social features like the issuer has. Ik hope this is useful.

[2019-07-09 10:19] felixarntz commented on #12
@ivankristianto Regarding implementation brief:

Why does it need extra handling?

https://github.com/google/site-kit-wp/compare/fix/insufficient-permission?expand=1

The code there still adds the reauth notification - that shouldn't be there as the acceptance criteria say. The server already handles any mismatch in OAuth scopes, which is the sole purpose of the `DashboardAuthAlert` component.

[2019-07-09 10:20] felixarntz commented on #96
Implementation brief looks good!

[2019-07-09 10:21] felixarntz commented on #94
Implementation brief looks good!

[2019-07-09 10:26] felixarntz commented on #81
Implementation brief looks good!

[2019-07-09 13:06] jamesozzie commented on #155
@martinkrcho Thanks for reporting. I can reproduce the same issue, but regardless of whether AMP for WP is installed the same issue arises. When MonsterInsights places any Analytics tracking code on your site adding the Analytics module in Site Kit results in an "Issue Accessing Data" notice, and views are not available.

See video below: In short, Analytics must be added via Site Kit Module first

[2019-07-09 13:10] desrosj commented on #81
@aaemnnosttv Correct! That is the screen I am referring to. I was also using Firefox when I encountered the issue.

[2019-07-09 14:18] ThierryA opened #157 "Setup E2E tests suite"
## Feature Description

Setup E2E tests suite

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Entails having the necessary infrastructure in place for running end-to-end tests on a fully-functioning WordPress site running Site Kit.
* The e2e test suite is containerized and thus platform agnostic.
* All

[2019-07-09 14:26] felixarntz commented on #4
@marrrmarrr @ThierryA We need to investigate a bit more what we can do about this.

[2019-07-09 14:42] felixarntz commented on #66
@ivankristianto

Can you clarify this in more detail in how you plan to set the error on the `TagmanagerSetup` component using this technique?

It would be even better if this didn't use filters here. It's something we need to review as part of the JS refactoring.

[2019-07-09 14:47] cejayassoc commented on #117
I had a similar issue. I could not complete step 2. After allowing all the requested authorizations, the page would not redirect. I disabled all my plugins (except Site Kit) and tried again.  I was able to complete the authorization with all plugins disabled.

[2019-07-09 16:27] aaemnnosttv commented on #97
If this isn't reproducible then let's close it out. We can always re-open it if it comes up again.

[2019-07-09 17:01] aaemnnosttv opened #158 "Phase out Cron API"
## Bug Description

The `\Google\Site_Kit\Core\Util\Cron` class is a relic of an earlier implementation of the plugin and no longer serves a useful purpose. Currently the only module which is using it is the PageSpeed Insights module. Functionally, the cron that runs is not providing any benefit since the data that is fetched in the background is not cached.

This class and its use is to be phased

[2019-07-09 17:10] #97 closed

[2019-07-09 17:14] aaemnnosttv commented on #146
This task is superseded by #158 and will not be done.

[2019-07-09 17:25] #146 closed

[2019-07-09 17:46] bjackson27 commented on #48
Recommending moving this back to issues.

[2019-07-09 17:48] bjackson27 commented on #92
@lucymtc could you work on an implementation brief for this one?

[2019-07-09 17:48] vihar3vasoya opened #159 "Request contains an invalid argument. how to solve this error to GET OAUTH CREDENTIALS...???"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-09 17:59] ThSocialIntrovert commented on #150
At this time I am also experiencing the same issue. All google accounts are connected and show as synced.
After 48 hours, we are now looking at the same image as above. A pulsating grayed out dashboard for only Google Site Key App.
Running on Up to date Wordpress site.
![Screen Shot 2019-07-09 at 1 44 13 PM](https://user-images.githubusercontent.com/52716087/60911665-b1c46680-a251-11e9-979d-f356fb

[2019-07-09 18:11] adamsilverstein commented on #12
Because in most cases when an API returns the `insufficientPermission` error it indicates that the user has insufficient scopes, which we handle by displaying the `DashboardAuthAlert` component.

In the case of Analytics however, even when the user has the correct scopes, they may not have access to view Goals (not 100% certain how to reproduce this state - probably by sharing read access to a pro

[2019-07-10 03:39] Awaisaliarain opened #161 "Errors when getting OAuth credentials"
![issue 2](https://user-images.githubusercontent.com/26734580/60938653-1c2ae480-a2ee-11e9-8b52-6fba68f44aeb.PNG)
![Issue one](https://user-images.githubusercontent.com/26734580/60938654-1cc37b00-a2ee-11e9-874f-48c0ecbf898d.PNG)

i am facing a erro  when getting OAuth credentials

[2019-07-10 03:46] Awaisaliarain commented on #161
![issue 4](https://user-images.githubusercontent.com/26734580/60938897-2e595280-a2ef-11e9-9d7b-72efbe47b440.PNG)
![issue 3](https://user-images.githubusercontent.com/26734580/60938898-2e595280-a2ef-11e9-8201-f9c4ef89b1da.PNG)

Hi! i am facing 2nd  problem on my other wordpress site. when iam connecting my google account it will redirct to my siteb home page not getting all info to site kit plugin.

[2019-07-10 04:28] ivankristianto commented on #66
@felixarntz
Me and Lucy find out that the components is always remounting (created and destroyed) on any user action on settings page.
here is the ticket: https://github.com/google/site-kit-wp/issues/132

This will make the implementation more complex since, 1) the save button is outside the component and handled through filter. 2) it destroyed the component and create again.

The not so ideal sol

[2019-07-10 05:05] ivankristianto commented on #12
@felixarntz  & @adamsilverstein

Same with Adam, since the response data back from the Analytics API when getting a goal return `insufficientPermission` and there is no way to differentiate that with lack of oauth scopes approved by user.
see this response data sample:
[code]

Yes I agree on this. And we still need to handle `insufficientPermission` case by case basis on some modules.

[2019-07-10 07:37] Jeff9511 commented on #154
Hi i have the same issue with you as i can't connect my analytic account and also couldnt re-fetch any account or data. Any solution here? thanks

[2019-07-10 08:27] jamesozzie commented on #117
@cejayassoc Thanks for the info. Would you be able to let me know what plugins you are using?

[2019-07-10 08:46] jamesozzie commented on #159
@vihar3vasoya Thanks the raising this issue. In order to investigate further Do you mind following the steps below:

1. Can you please check your [Google Cloud Console](https://console.cloud.google.com/) and ensure there was no project setup? Site Kit would have created a new project during setup if the process completed. If you see such a project please [delete it](https://i.imgur.com/EoA1edo.png

[2019-07-10 08:51] jamesozzie commented on #44
@kristarella I will close this issue as we have a duplicate similar open issue (#159) Feel free to reopen by providing us with additional information and we can hopefully assist.

[2019-07-10 08:51] #44 closed

[2019-07-10 09:02] jamesozzie commented on #150
@ThSocialIntrovert Thanks for reporting. Do you mind trying the steps below so we can troubleshoot further?

- Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
- Temporarily deactivate other plugins
- Deleting the existing Site Kit [project](https://i.imgur.com/EoA1edo.png) from your [Cloud Console ](https://console.cloud.google.com/cloud-resource-manager?previousPage=%2Fiam-

[2019-07-10 09:29] jamesozzie commented on #161
@Awaisaliarain Thanks for informing us. For the issue regarding Project ID there is an existing open issue, #24.

Do you have a staging site you can check with another theme and with your plugins deactivated? Or if you are in a position to temporarily deactivate your other plugins on an existing site before trying the following we can see if that works?
- Reset Site Kit (Site Kit > Settings > Admi

[2019-07-10 09:50] jamesozzie commented on #154
@jeff I deleted the existing Analytics tracking code from my theme files which I had placed previously, which in turn removed the option to "Refetch my account data".

Do you mind letting me know the following and we can hopefully assist:
- Do you have any other Analytics plugin installed, if so what plugins?
- Are you getting the same console error from Chrome Dev Tools?
- Prior to adding the Ana

[2019-07-10 10:53] jamesozzie commented on #155
@martinkrcho Were you able to get MonsterInsights working use one of the wordarounds mentioned above?

[2019-07-10 11:10] lilybonney commented on #92
Noting for the team that @lucymtc is OOO today (Jul 10) but can pick this up tomorrow, no problem (Jul 11). Thanks!

[2019-07-10 11:12] lilybonney commented on #66
Assigning to @felixarntz for feedback, per Ivan's last comment. Many thanks!

[2019-07-10 11:16] lilybonney commented on #158
Assigning to @aaemnnosttv to write the implementation brief. Many thanks!

[2019-07-10 11:44] aaemnnosttv commented on #158
Ready for brief review.

[2019-07-10 12:49] jamesozzie commented on #48
@bjackson27 window.lodash results in undefined for me. No additional plugins. I don't see any console errors or networks issues. Happy to investigate further or troubleshoot more if you let me know the plugins you are using @marrrmarrr

[2019-07-10 12:58] martinkrcho commented on #155
No, I was not able to get it working. I have to bring our staging server up to speed to be able to test the scenario you mentioned. I promise I will get back to this in couple of days. I have abandoned Site Kit for now, but I would really like it to get to point where I can drop the other plugins and just use Site Kit with AMP plugin from Google.

[2019-07-10 13:06] ThierryA commented on #91
@OisinOConnor are you still getting this error with the latest version?

[2019-07-10 13:13] marrrmarrr commented on #155
Thanks @martinkrcho for reporting this and @jamesozzie for debugging. The underlying cause is indeed described in issue #89, so I'll mark this as a duplicate and we'll prioritise it accordingly.
Feel free to re-open if you see any other related issues.

[2019-07-10 13:13] #155 closed

[2019-07-10 13:28] marrrmarrr commented on #68
Let's re-test this after #81 is fixed.

[2019-07-10 13:46] ThierryA commented on #48
This is very specific to Beans theme as it does some scripts concatenation and enforce script to be placed in the footer. I think it is ok to close this one as it is an issue on Beans side.

[2019-07-10 13:46] #48 closed

[2019-07-10 13:46] Awaisaliarain commented on #161
what about your second problem? which is not redirect on site kit plugin
page after verify email

On Wed, Jul 10, 2019 at 2:29 PM James G <notifications@github.com> wrote:

[2019-07-10 13:57] jamesozzie commented on #161
Hi @Awaisaliarain

There could be a plugin conflict causing the redirection. You in a position to temporarily deactivate other plugins before trying to activate Site Kit again? Please use an incognito window and reset Site Kit first, using an incognito window ensures a clean cache and no potential issues with any Chrome extensions.

[2019-07-10 14:56] marrrmarrr commented on #138
@circlecube thanks for sharing the updated screenshot.
A few comments:
1) For the section titles, let's capitalise only the first word (e.g. "Top Search Queries For This Page" --> "Top search queries for this page")
2) Let's replace "average session duration" with "bounce rate"
3) Where would the "source" links point to in this case? To the general subreport showing stats for the entire site?
4) W

[2019-07-10 15:44] sviluppomania opened #164 "Report bug on site performance with Site Kit"
Hi, let me point out that since I installed Site Kit there is a big drop in the site's performance by controlling even with Google PageSpeed, I tried disabling all the plugins and activating them one by one and Site Kit creates a performance loss.  Why?

[2019-07-10 16:56] vihar3vasoya commented on #159
hello jamesozzie
there is only one project in my google cloud console...and it contains my wordpress web site mentioned above...so i can't delete that one...

[2019-07-10 17:00] vihar3vasoya commented on #159
![Untitled](https://user-images.githubusercontent.com/50228034/60988711-ce4fc400-a361-11e9-86e0-ae1af4f89968.png)

![Untitled1](https://user-images.githubusercontent.com/50228034/60988899-49b17580-a362-11e9-93ab-5301d976a458.png)

[2019-07-10 17:02] vihar3vasoya commented on #159
in my cloud console dashboard or we can say home page there is a project cold...ultra-water-243713...
so waht shoud i do now...???

[2019-07-10 17:14] IshanFx opened #165 "After the oauth nothing happen"
I completed the setup flow until the OAuth. After the oauth completed it redirect to the wordpress main page and nothing happend. the redirected page is like this "wp-admin/admin.php?page=custom-dashboard.php"

#4

[2019-07-10 19:21] bjackson27 opened #166 "Define REST routes in their own dedicated areas"
Instead of having all REST routes in the REST_Routes class, that class should provide a filter, and the routes should be defined in more applicable areas, via that filter.

Most current routes would move to one of the following classes:
- Authentication/Authentication
- Modules/Modules

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2019-07-10 19:27] bjackson27 opened #167 "Check whether a post has Analytics data to determine whether to show admin bar menu"
Current: Admin bar does not display if search console doesn't have stats.

<img width="1254" alt="66bc86d899d7a2e54f5a2f02ccb0c080" src="https://user-images.githubusercontent.com/28811945/60998427-88254100-a31e-11e9-927a-40e27ddc2c46.png">
<img width="1254" alt="66bc7836cc0ffb1836cbe77b9fcdb154" src="https://user-images.githubusercontent.com/28811945/60998435-89ef0480-a31e-11e9-97ba-16c7d35d5898.p

[2019-07-10 19:29] bjackson27 opened #168 "Remove performance monitoring code from JavaScript"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-10 19:31] circlecube commented on #138
@marrrmarrr
1. Understood
2. Will do.
3. The source links are linking to the analytics and search console sites. These are already in place in the (beta) released versions of the plugin.
4. Same as above, this link goes to the google analytics site. The fact that the links are external is indicated with the icon following the text.
5. Will look into if this can be distinguished based on the respon

[2019-07-10 19:31] bjackson27 opened #169 "Integrate with Site Health Info section"
This needs to cover both Status and Info sections of Site Health

WordPress 5.2 introduces Site Health: https://make.wordpress.org/core/2019/04/25/site-health-check-in-5-2/

We can leverage debug_information in the plugin to provide debugging information for user reporting, for example which modules are active/configured, of the status of the adsense setup or authentication status.

--------------

[2019-07-10 19:32] bjackson27 opened #170 "Use lazy/Suspense from wp.element if available"
If not available, they should be imported from React as fallback

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `lazy` and `Suspense` should be accessed from `wp.element` if present. They should only be accessed from `React` if they aren't present on `wp.element`.
* There should be no console errors o

[2019-07-10 19:34] bjackson27 opened #171 "Explore caching PSI module data server-side"
As the PageSpeed Insights API takes a considerable amount of time to load results and since that data is not confidential in any way, we should cache it on the server-side in an intelligent way.

This is a special case, so I don't think we should bring back the old cache layer. Instead, we can implement the mechanism directly in the module. It should work something like this:

Cache request result

[2019-07-10 19:36] bjackson27 opened #172 "Update documentation on how to package a release build"
Initial thought is we create a release branch for a version, eg `release/1.0.1` and run the release command their, committing the built files and tag the release. We can then update the download link in master to the download zip url.

- git checkout -b release/[NAME]
- gulp release

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2019-07-10 19:37] bjackson27 opened #173 "Review accessibility"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Accessibility of all Site Kit interfaces and elements added to non-owned screens should be audited
* New issues should be opened to remediate issues identified by this review

## Implementation Brief

* N/A

### Test Coverage

*

##

[2019-07-10 19:39] bjackson27 opened #174 "Somewhere to view results for non-post pages (ex Home) within the admin"
Related PR  https://github.com/google/site-kit-wp/pull/73 as related pull-request where this was touched on.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Display a details page for non-post URLs:
    * term archives (categories, tags, custom taxonomies)
    * date archives (year, month, day)
    * a

[2019-07-10 19:40] bjackson27 opened #175 "Review Localization Support"
Every user-facing string needs to be translatable and WP translation functions should be used properly.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-10 19:42] bjackson27 opened #176 "Investigate why visual regression tests randomly fail"
This is a known issue, but the cause is unknown.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-10 19:43] bjackson27 opened #177 "Javascript Required Messages"
When Javascript is disabled, Site Kit pages are blank and do not load. While WordPress' functionality is severely limited if Javascript is disabled, it would be good to at least display a message in a `<noscript>` tag when loading SiteKit pages that Javascript is required to use Site Kit.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators

[2019-07-10 19:45] bjackson27 opened #178 "Remove debug bar integration"
Debug bar is currently available, as we implement Site Health we should consider removing it.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The debug bar integration should be removed, because it is useless as it is. If we want to use it, we should invest some time to explore what information it woul

[2019-07-10 19:48] bjackson27 opened #179 "As we onboard asking users what their goals are to determine which modules we should recommend."
Discussed during the initial build of Site Kit, goal is to help users understand their goals (increase traffic, more CTA conversions) and then suggest modules to they should set up as part of the set up flow instead of having them set up post Site Kit set up.

Would be a great way to expose users to Google products they might not know about.

---------------

_Do not alter or remove anything below

[2019-07-10 19:50] bjackson27 opened #180 "Don't show "Analytics gathering data" message (blue box at the top) if Analytics is actually not connected"
For any case where the reason why we're not showing stats is that the user needs to complete setup, let's tell them that. Make this less severe (not "Data error in $PRODUCT") and add a CTA.

If this is possible. In this case, we can say "Complete the setup of Analytics to see more stats." and add a link to Settings as CTA.

<img width="672" alt="0af077d109a7547169578f4051a20631" src="https://user-

[2019-07-10 19:53] bjackson27 opened #181 "TagManager setup component show error message on settings page"
Similar to what we have for GA in this situation (another admin set up the account), let's say
"You currently don't have access to this Google Tag Manager account. You can either request access from your team, or remove this Google Tag Manager snippet and connect to a different account."

Steps to reproduce:
1. Setup Site Kit as usual for the first administrator.
2. Setup Analytics and TagManager

[2019-07-10 19:54] bjackson27 opened #182 "Improve (by reducing) how much the frontend iframe to check for existing tags is loaded"
For reference: https://github.com/10up/googlesitekit/pull/689#discussion_r291471198

Currently the iframe is loaded whenever you are on the Settings page when Analytics is active. That should not be the case for performance reasons, it would be better to really only load it when it's needed, i.e. when the user actually starts editing Analytics settings. Probably we could improve this globally so t

[2019-07-10 19:56] bjackson27 opened #183 "Improve UI/User feedback when adding Analytics objects"
When configuring Analytics:

![c7bc8e7ee71a7a7e6d4d0ae1d465f5a9](https://user-images.githubusercontent.com/28811945/61000325-ccb2db80-a322-11e9-9ae9-f8008007768c.png)

All three dropdowns: Account, Property and Profile enable selecting a 'Setup a New'... option to create a new entity.

Expected Behavior
* When adding an entry, the UI should provide some feedback, since creating a new entry can tak

[2019-07-10 20:04] bjackson27 opened #184 "When you don't have enough data, and switch to 7 days and then back to larger data it shows an error that the data isn't available"
Noticed this on my site. I don't have any data from the last 7 days so when I switch to the last 7 days it rightly shows and error. When I switch back to 14, 28 or 90 days the error still displays.

Steps to recreate:
1) View dashboard (or module page) as normal
2) Switch to 7 day view - receive gathering stats message
3) Switch to 14, 28 or 90 day view - receive gathering stats message above the

[2019-07-10 20:12] mikjits opened #185 "Cant change analytics sign in info if there is an error (only options are to refetch or create new)"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-10 20:19] ThSocialIntrovert commented on #150
Hello.
Sorry for the delayed response...I wanted to make sure I gave this the proper attention before responding.

I found the cause of the issue and figured I would share it since I have a feeling it will be common once fully released out of Beta.

Most security plug-ins, my example is ithemes security pro, have a  " _Limits the number of characters that can be sent in the URL. Hackers often take

[2019-07-10 21:24] bjackson27 opened #186 "Detail screen title shouldn't show slashed data"
Original post tile:
![549c996da5e0fb1f2fbed2380254a5af](https://user-images.githubusercontent.com/28811945/61006031-feca3a80-a32e-11e9-872f-5e417bb35217.png)

in site kit detail view:
![54982fe9a66424743296f26c5fe3d424](https://user-images.githubusercontent.com/28811945/61006043-038eee80-a32f-11e9-96f6-6e8162acfcca.png)

---------------

_Do not alter or remove anything below. The following sectio

[2019-07-10 21:26] bjackson27 opened #187 "\Google\Site_Kit\Modules\TagManager\TagManager should be Tag_Manager for consistency"
Currently: `\Google\Site_Kit\Modules\TagManager\TagManager`

Should be updated to `Tag_Manager` for consistency

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `TagManager` PHP class should be renamed to `Tag_Manager` for consistency, before launch.

## Implementation Brief

* Rename `Google\Site_K

[2019-07-10 21:27] bjackson27 opened #188 "Allow for notifications across all pages in Site Kit to display notifications contextually for the modules and setup"
Allow for notifications on the module pages. So that AdSense notifications would be served along AdSense and that Analytics would be served on the analytics page. The notifications would still appear on the main dashboard.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Product-specific notifications a

[2019-07-10 21:29] bjackson27 opened #189 "Add explanation how to re-activate modules in Settings page"
If a user doesn't approve all scopes, we show an error "not all scopes approved", but no information how to fix that. Add language to tell the user they need to disconnect the service and begin setup from scratch.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
For cases where the user hasn't approved all

[2019-07-10 21:32] bjackson27 opened #190 "Set expectations after setup of GTM module"
For most of the modules (GA, PSI, AdSense), a new section/stats appear in the dashboard after setup is complete.
But for GTM, there is no module, we only do the provisioning via the plugin. Let's update the copy on the setup screen to make sure user expectations are set correctly.

![GTM-setup-copy](https://user-images.githubusercontent.com/28811945/61006564-44d3ce00-a330-11e9-989e-d5d0ae76836a.pn

[2019-07-10 21:34] bjackson27 opened #191 "If we cannot pull through stats for a module, we should provide a more contextual error message"
For any case where the reason why we're not showing stats is that the user needs to complete setup, let's tell them that. Make this less severe (not "Data error in $PRODUCT") and add a CTA.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-10 21:36] bjackson27 opened #192 "Make site owner notifications more dynamic"
Don't show notifications that encourage module setup after user has clicked on it once or make it dynamic so the user is not asked to set up the same module after they have already set it up.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-10 21:38] bjackson27 opened #193 "Increase font size in admin bar"
Currently the text in the admin bar is very small, it'd be great to make it bigger

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Adjust font-size
* Adjust spacing

## Implementation Brief

*

## Changelog entry

*

[2019-07-10 22:21] Habibsen opened #194 "Error when connecting Google analytics"
here is a picture of it. I have an account for my Analytics so this makes no sense. -
![image](https://user-images.githubusercontent.com/52763624/61009072-c26bfe00-a371-11e9-9d8f-d0120cf9b20a.png)

[2019-07-11 00:06] yosef-coachella commented on #4
I am still getting this same error.
In my General settings everything is HTTPS:
<img width="662" alt="Image 2019-07-10 at 20 02 59" src="https://user-images.githubusercontent.com/52765180/61012812-f7fef000-a34d-11e9-8d6f-19f6f26cd2d7.png">
But Google keeps putting HTTP:
<img width="804" alt="Image 2019-07-10 at 19 59 53" src="https://user-images.githubusercontent.com/52765180/61012837-19f87280-a34

[2019-07-11 00:19] yosef-coachella commented on #4
Well, I went into Google APIs account and manually edited the oauth credentials to add the URL with HTTPS. I downloaded the new JSON, copied the text, pasted back into the Site Kit dashboard. now it works.

[2019-07-11 00:57] bjackson27 opened #195 "What should non-admins see instead of CTAs"
Currently we have CTAs asking the user to set up modules when they don't have them, this makes sense for Admins. Some users (authors/editors) will get the dashboard but won't be able to set up additional modules so it doesn't make sense to display this CTA for them. We'll need to determine what these users should see instead.

We'll also need to consider how we solve this for contributors in the a

[2019-07-11 01:01] bjackson27 opened #196 "Explore which elements of Site Health Report to integrate with Site Kit"
Integrate Site Health report to help efficiently dealing with support requests.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:03] bjackson27 opened #197 "Update CTAs to hint at stats - new auth flow"
Update the CTA to set up additional modules from the solid color boxes to a box that partially displays data. The data that would be displayed is fake.

Messaging should say "Connect Analytics to see your visitors and goals" Link would take user to analytic set up flow.

![6c7763adf4f2e6804e5a95f5c1821ec7](https://user-images.githubusercontent.com/28811945/61014555-ac4c4680-a34d-11e9-926b-acc2e4c6

[2019-07-11 01:06] bjackson27 opened #198 "Allow users with existing GA account, but no matching property to create a(nother) account"
During GA setup, if a user has a set of existing Analytics accounts, but wants to create a new one for that site, they have no option to do that.
Screencast of current flow:
https://drive.google.com/file/d/1UpxdQ1MNZVdEHr7fDITCmj249LQU89rh/view

Let's fix this.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2019-07-11 01:08] bjackson27 opened #199 "Remove unnecessary actions and filters"
To make sure the plugin is only extensible where we want it to be, all action and filter hooks the plugin uses should be reviewed. Unless there is clear value in opening the respective area up to other plugins, they should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation B

[2019-07-11 01:10] bjackson27 opened #200 "Users get stuck in onboarding flow (version RC2)"
Two users today reported very similar issues independently of each other -- they upgraded to RC2 and were not able to complete the setup flow.

User 1:
Upgraded to RC2, generated and copied credentials, then got stuck at the account sign-in step: clicking "Sign in with Google" and selecting the account takes him back to the same step. Video he shared: https://www.loom.com/share/b3f5a5752801456ab98

[2019-07-11 01:11] bjackson27 opened #201 "Test Jetpack Compatibility"
Potential problems with admin bar (WP.com admin bar), as reported by Alberto and Paul

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:12] bjackson27 opened #202 "Explore WooCommerce integration with Site Kit"
They have a really advanced dashboard that it would be great to leverage.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:13] bjackson27 opened #203 "Explore how to display "high performing" content to the users."
Explore the idea of star performers - content that works better than others against the same timeframe. If we can establish some connection between you did this and then this happened.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:14] bjackson27 opened #204 "Explore how to show connection between user actions and results in performance."
Explore the idea of star performers - content that works better than others against the same timeframe. If we can establish some connection between you did this and then this happened.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:18] bjackson27 opened #205 "Explore how to get user input for most important content or queries"
Show how content has moved up/down in list compared to the past segment of time. Consider

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:20] bjackson27 opened #206 "Explore expanding types of in-product notifications"
Show when recent posts have cracked the top 10 - this could also be a publisher win. We could also track how they're performing against each other?

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:21] bjackson27 opened #207 "Explore reCaptcha integration"
Look at adding reCaptcha to Site Kit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:23] bjackson27 opened #208 "Explore Google Fonts integration"
Look at integrating with Google Fonts

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:25] bjackson27 opened #209 "Explore ways to make Admin bar stats more easily discoverable"
Look into how we make the admin bar more discoverable

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:28] bjackson27 opened #210 "Better clarify the Source link"
During beta we found that user didn't understand the source link
The context here is that users:
1) didn't understand this was an action they could do;
2) didn't understand this leads to a more detailed subreport (thought it would take them to either the full product or to some help page)

To address this, let's:
1) make the font bigger
2) change the current "source" noun to an action verb like "S

[2019-07-11 01:30] bjackson27 opened #211 "Add pointers to admin menu and admin bar integration"
As discussed earlier, let's add WordPress pointers to make discovery of the admin menu and the admin bar integration easier.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-11 01:31] bjackson27 opened #212 "Explore ways to make plugin sections like subreports more discoverable"
Users don't notice the subreports/detail pages until prompted -
- Consider adding pointers to on first login to educate users

Users didn't find the admin bar/most don't browse the site logged in
- Consider adding in pointers
- Consider expanding the admin bar upon login
- Consider adding additional text on the single URL report to let users know about the functionality.

Additional modules aren't

[2019-07-11 05:19] VisionGlobal45 commented on #24
Hi i have been facing the same problem what is there in that image.. How can i fix the problem please make a respond to this message.

[2019-07-11 06:30] yzeek opened #213 "getting Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it."
Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it.

tried gazillion times and even created a new property

[2019-07-11 07:51] rehanoo commented on #24
I'm also having the same issue and unable to install the plugin.

[2019-07-11 07:58] srcek commented on #213
Same problem here. Whatever I do it doesn't find any Analytics accounts

[2019-07-11 07:59] srcek commented on #194
Same here.

[2019-07-11 08:13] dejandre opened #214 "file size to big for upload"
## Bug Description

The uploaded file exceeds the upload_max_filesize directive in php.ini.

this is on my wp dashboard upload plugin...

[2019-07-11 08:41] gmmedia commented on #18
Yes anonymizing IPs is very important.
It should be the default setting, because the use of Analytics without anonymizing is illegal in Europe.

[2019-07-11 09:06] RogersSteffan opened #215 "Data error in Search Console"
## Bug Description

## Steps to reproduce

1. Go to 'Site Kit'
2. Click on 'Search Console'
3. See error in screenshot, "Data error in Search Console
User does not have sufficient permission for site 'https://www.vegavitamins.co.uk/'. See also: https://support.google.com/webmasters/answer/2451999." As I am a verified owner of the account, I should have all the permissions.

## Screenshots

![Captu

[2019-07-11 09:11] lucymtc commented on #182
noting here iframe is no longer loaded, we currently check tag existence with fetch request https://github.com/google/site-kit-wp/pull/82 results are saved in sessionStorage

[2019-07-11 09:17] lucymtc commented on #92
Implementation brief ready for review

[2019-07-11 09:21] sviluppomania commented on #164
@jamesozzie

[2019-07-11 09:33] jamesozzie commented on #165
@IshanFx Thanks for reporting. There could be a number of reasons this is occuring, potentially a plugin conflict, Firewall rules or AdBlocker. Do you mind trying the following:

1. - Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. - Temporarily deactivate your other active WordPress plugins
3 - Delete your existing Site Kit [project](https://i.imgur.com/EoA1edo.png) from

[2019-07-11 09:34] MohamadFtah commented on #24
I fixed it guys, just install the Credentials manually, when you click the get Credentials it will load a page with ur website and some other info like app name or program name ,  just ignore that and click the "site-kit" tab from top of the page and go from there it will asks you to choose a project, just select a new project and fill info with first page info.
I might be missing a step cause I d

[2019-07-11 09:39] jamesozzie commented on #165
#117

[2019-07-11 09:53] jamesozzie commented on #215
@RogersSteffan Thanks for reporting. As you are the owner of the property from with Search Console lets try troubleshoot further. First do you mind sharing and [console errors](https://i.imgur.com/f5WfLb3.png).

Next do you mind resetting Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit). After that please activate Site Kit again but in an [incognito window](https://i.imgur.com/ALzg

[2019-07-11 09:54] IshanFx commented on #165
I tried all, but no luck. The redirect URL doesn't contain the page which needs to redirect. Is it the right format?

[2019-07-11 09:55] felixarntz commented on #66
@ivankristianto I reviewed this together with @swissspidy and we included a plan to address the problems in the current architecture in the JS refactoring.

So to summarize: The error is currently caught in the `TagManager` component. Wouldn't it be easier to throw an error from there? The `SettingsModules` component catches errors on the promise, so I assume it would catch this?

[2019-07-11 09:59] IshanFx commented on #165
<img width="1319" alt="Screen Shot 2019-07-11 at 3 28 23 PM" src="https://user-images.githubusercontent.com/8342587/61041791-92177480-a3f0-11e9-9c2f-6f1e605cf2d0.png">

It show this after the oauth complete

[2019-07-11 10:21] Jeff9511 commented on #154
- Yes i did use other analytics plugin (monster insight), but i already deactivate this plugin before i install google site kit.
- i tried to check any console error and this appeared.
![console error](https://user-images.githubusercontent.com/52736698/61042987-d5c9a880-a407-11e9-9efa-6f480f6f842d.PNG)

- Im using oceanwp theme and this theme doesn't have theme option. i copy the tracking code fro

[2019-07-11 10:23] jamesozzie commented on #165
@IshanFx Thats interesting, would you be able to share any console errors?

And are you using https, with non https redirection in place? If so is this also reflected in your [site settings](https://i.imgur.com/MkFLF0E.png).

[2019-07-11 10:24] Habibsen commented on #194
I tried taking wp-rocket off, but that did not work...

[2019-07-11 10:27] IshanFx commented on #165
Thanks changing the http to https in setting solve the issue.

[2019-07-11 10:34] jamesozzie commented on #154
@Jeff9511 Thanks for the update, without identifying errors like this we wouldn't be able to fix for others. That error seems relates to your theme or plugin. Do you mind changing themes, temporarily, while trying to install Site Kit again? Please try again incognito and with other plugins deactivated.

[2019-07-11 10:35] jamesozzie commented on #165
Thanks for letting us know. I will close the issue now.

[2019-07-11 10:35] #165 closed

[2019-07-11 10:42] jamesozzie commented on #4
@felixarntz I'll keep this open if you want to re-assign or work on a fix, in particular where sites uses https but don't redirect non https.

[2019-07-11 10:46] jamesozzie commented on #159
@vihar3vasoya Can you please delete that project from within your Google Cloud Console.

Are you using https? If so please ensure you have your https website in your [site settings](https://i.imgur.com/MkFLF0E.png), then try to install Site Kit again.

[2019-07-11 11:02] jamesozzie commented on #150
Thanks for your input, very useful indeed. I will checkout other plugins which may also have the same option/feature.

@akshayhirani @ask543 Do you have a security plugins or configurations that limit characters?

[2019-07-11 11:08] saalgu opened #216 "when click GET OAUTH CREDENTIALS i get field [project_id] has issue [project_id contains invalid characters]"
when click GET OAUTH CREDENTIALS i get field [project_id] has issue [project_id contains invalid characters]

[2019-07-11 11:10] ask543 commented on #150
hi
when i am clicking on  allow (picture-1) , then next screen is showing
picture-2, what correction steps should i take ?

On Thu, 11 Jul 2019 at 16:32, James G <notifications@github.com> wrote:

[2019-07-11 11:17] swissspidy opened #217 "Usage of outdated ESLint configuration"
## Bug Description

While working on #163, I noticed that ESLint does not use the **recommended** and most up-to-date `@wordpress/eslint-plugin` to help adhere to WordPress coding standards. Instead, it uses the **outdated** and **deprecated** `eslint-config-wordpress` package.

I remember flagging this in the past, but it seems this has been forgotten.

Also, `npm run lint:js` does not lint any t

[2019-07-11 11:28] IanBeacon opened #218 "Confirm Your Choices - Clicking on Allow"
## Bug Description

When setting up upon clicking on the Allow button when confirming my choices I get taken to the homepage of the website

## Steps to reproduce

1. After creating Client Id and moving to the Authenticate section
2. From the SiteKit Dashboard from within WordPress admin click on 'Sign In WIth Google'
3.  Choose Account
4. Allow, Allow
5.  Confirm Your Choices> ~Clicking Allow tak

[2019-07-11 12:09] aaemnnosttv commented on #16
I've updated the acceptance criteria to be more generic to URL attribute values, not specifically `src` attributes as I found this was used in the same way for `amp-analytics`:

https://github.com/google/site-kit-wp/blob/9ef4b4f74dae2ddf1d3f4131eb81d7d674f6872f/includes/Modules/TagManager.php#L217-L219

Implementation brief added and ready for review.

[2019-07-11 12:11] aaemnnosttv commented on #182
@lucymtc is this issue no longer relevant? If so, then let's close it.

[2019-07-11 12:11] jamesozzie commented on #218
@IanBeacon Can you please form the following steps:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png)
3. Temporarily deactivate your other active WordPress plugins
4. Delete your existing Site Kit [project](https://i.imgur.com/EoA1edo.png) from your

[2019-07-11 12:13] saalgu commented on #24
i don't understand what you did to fix this issue
please clarify more

[2019-07-11 12:30] swissspidy commented on #214
What's the value of `upload_max_filesize` on your server then? For reference, the plugin folder is ~6.8MB in size.

[2019-07-11 12:41] jamesozzie commented on #150
@ask543 There were no screenshots with your last post, can you share?

[2019-07-11 12:41] jamesozzie commented on #164
@sviluppomania Sorry to hear you are encountering issues. When you mention a drop in performance I assume you mean page speed. What tool are you using to measure performance ([Pagespeed Insights](https://developers.google.com/speed/pagespeed/insights/), [web.dev](https://web.dev/) etc? There should be very minimal impact on page speed, Site Kit simply places the various module tags to your website

[2019-07-11 13:02] jamesozzie commented on #216
@saalgu Thanks for reporting. Do you mind trying the steps below so we can troubleshoot further?

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png)
3. Temporarily deactivate your other active WordPress plugins
4. Delete your existing Site Kit [projec

[2019-07-11 13:32] jamesozzie commented on #213
@yzeek Can you try the below, which will hopefully assist getting your Analytics working.

1. Remove the Analytics [module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Temporarily deactivate your other active WordPress plugins
3. Install Site Kit in a new incognito window (so Chrome extensions don't interfere and caching inactiv

[2019-07-11 13:43] jamesozzie commented on #194
@Habibsen Can you try the below, as @srcek suggested there could be another plugin, Ad Blocker or Firewall/security feature causing this error.

- Remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
- Temporarily deactivate your other active WordPress plugins
- Install Site Kit in a new [incognito window](http

[2019-07-11 13:45] bjackson27 commented on #83
@ThierryA @marrrmarrr adding this to the definition board with the note that there is an existing PR for this ticket.

[2019-07-11 13:47] bjackson27 commented on #110
@ThierryA @marrrmarrr adding this to the definition board and noting that we already have a PR ready for this on.

[2019-07-11 13:52] lucymtc commented on #114
ready for implementation brief review

[2019-07-11 14:03] rehanoo commented on #24
Ok here is how I was able to fix the following issue
[project_id] has issue [project_id contains invalid characters]

I created a new project in
https://console.cloud.google.com

For project ID I removed the default ID and created a new one using alphabets and numbers only.
Ran the setup again on the website for Oauth and it worked.

But I'm still stuck on the second problem where it is not redire

[2019-07-11 14:34] jamesozzie commented on #24
@rehanoo When you say it's not redirecting back to the Site Kit plugin page where is it directing you, back to your admin dashboard? Do you mind trying to repeat the process you already did with plugins deactivated and using an incognito window?

[2019-07-11 15:04] rehanoo commented on #24
@jamesozzie it is redirect to my website homepage but with a long URL. Let me get back home and I'll send it to you.

BTW I didn't deactivate any plugins or used incognito window. Just made the changes I mentioned above in my comment

[2019-07-11 15:15] rehanoo commented on #24
https://247digiital.com/?oauth2callback=1&code=4%2FgwF8yE31WIy6bK3K2eQ8qP3SSQRdczCGe4xVfKc4b8bKfaovaLBVDAop0PwmjemYKWPOGuHs5KaZ7wbaEmQcVuI&scope=email%20profile%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fwebmasters%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsiteverific

[2019-07-11 15:16] aaemnnosttv opened #220 "ESlint and Stylelint not running in Travis"
## Bug Description

Currently the only linting happening on Travis is PHPCS.

The Travis config should be updated to run ESlint and stylelint as well.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* ESlint and stylelint are running in travis, during the job indicated for linting by `SNIFF=1`
* Errors r

[2019-07-11 15:30] rameshgrg commented on #4
hello there
i cant get pass the email authentication
both my wordpress and site url has HTTPS
I tried several time after clearing cache and deactivating few other plugins --- but no luck
if any of you hav fixed this issue with site kit please do let us know
thanks

[2019-07-11 15:40] mjcombe commented on #218
I have same issue, returns to home page, upon checking Site Kit Dashboard the Verify URL is still greyed out.

[2019-07-11 16:00] jamesozzie commented on #4
@rameshgrg Do you mind trying from an incognito window using Chrome? Also please test with another theme active (You can revert back to your current theme after). If that doesn't work please check your console for any [errors](https://i.imgur.com/f5WfLb3.png) and paste them here.

[2019-07-11 16:04] jamesozzie commented on #24
@rehanoo Thanks for the update. Do you mind repeating the process, but also perform the following:
- Deactivate all other plugins
- Activate an alternative theme (preferably a base WordPress theme)
- Re-start the setup using Chromes incognito mode.

You can enable plugins and your preferred theme after, but please check and let me know. Other users have reported conflicts with some plugins, in add

[2019-07-11 16:07] jamesozzie commented on #218
@IanBeacon Did you try the suggestions above, all 5 steps? A plugin in particular could be impacting this issue, but let me know after you check. If it works it would be great to know what plugins you had active.

[2019-07-11 16:08] mjcombe commented on #218
Yeah I have tried those steps and had all plugins deactivated but still no joy. Frustrating.

[2019-07-11 16:23] rehanoo commented on #24
Are you aware of the plugins?? Can you name any here please?? I don't have any ad blocker extensions installed either.

I'll need some time to do what you are asking.

[2019-07-11 16:27] jamesozzie commented on #24
@rehanoo The following have been reporting by others:
- ithemes security pro
- WP Super cache
- Google Analytics Dashboard
- Monster Insights
Do you have any of those installed, or caching/security plugins you can temporarily disable?

[2019-07-11 16:29] jamesozzie commented on #218
@mjcombe Can you share any [console errors](https://i.imgur.com/f5WfLb3.png) you are seeing?

[2019-07-11 16:38] vihar3vasoya commented on #159
-are you sure deleting the project named .ultra-water-243713. i don't lose my web site???...
-so i have one que...??? deleting my project .ultra-water-243713. also delete  my wordpress site...because i made that site on google cloud console VM Engine...
-and the site is make on default settings...i don,t use any special https settings till now...

[2019-07-11 16:44] felixarntz commented on #158
@aaemnnosttv Since we are in developer beta, I'd say it's okay if we remove the class right away (although I like your BC approach in general). We could probably make the call to remove old scheduled hooks manually in the `Plugin` main class and not rely on the Cron class.

[2019-07-11 16:46] sviluppomania commented on #164
@jamesozzie
Hi James, in the attachment there are 4 screenshots of Google PageSpeed Insight, for various reasons I have obscured the url of my site. 2 mobile (inactive plugin and active plugin) and same for Desktop.

**Google PageSpeed Insight with plugin disabled:**

**Desktop**: https://i.ibb.co/nMn9tHs/Desktop-inactive.png

**Mobile**: https://i.ibb.co/Px7kQ70/Mobile-inactive.png

**Google Page

[2019-07-11 16:55] aaemnnosttv commented on #158
Either way we have code to be removed later but I think your suggestion sounds a bit cleaner with more we can remove now and less to remove later 👍

Updating the brief now.

[2019-07-11 17:05] mjcombe commented on #218
There aren't any, once I click to confirm choices it goes back to my home page with a different url.

I have just tried on another domain and the same.

I go back to the Site Kit and step 3 is greyed out.

[2019-07-11 17:05] aaemnnosttv commented on #158
@felixarntz I've updated the brief, so this is ready for your review again.

[2019-07-11 17:08] mjcombe commented on #218
This is the string after my url

?oauth2callback=1&code=4%2FgwHhccRvGt8q4-3r53igeosZJGIVZu_LGZKVNEoSafKp4RDiN2GdRrzeeDfaggTmZqTxr9bBKbHNAuk7OGAx4Qc&scope=email%20profile%20openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fwebmasters%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsi

[2019-07-11 17:10] rehanoo commented on #24
Yes I do have ithemes security (basic) and wp super cache. I'll disable them and try it again.

But can I activate them again when it starts working?

[2019-07-11 17:11] aaemnnosttv commented on #92
@lucymtc would you please add a label for your estimate and then move it to the Engineering board? Thank you!

[2019-07-11 17:23] mbdiener commented on #213
I had the same issue where re-fetch my account wasn't working. I was able to resolve by removing the analytics module and reinstalling it. I also did deactivate my cache plug-in but am not certain if that had any effect.

[2019-07-11 17:28] jamesozzie commented on #159
@vihar3vasoya Only delete the project that was created via Site Kit (An Analyzer). If you don't see that don't delete any other project.

Also what do you see in your [site settings](https://i.imgur.com/MkFLF0E.png)? The application name from your screenshots above display your IP address, please enter your correct URL in both fields and try the process again from below:

1. Reset Site Kit (Site K

[2019-07-11 17:32] jamesozzie commented on #164
Thanks for the update, I will keep this open while performing some checks from my side and look at what other aspects of the plugin might be having an impact.

[2019-07-11 17:39] rehanoo commented on #24
Didn't work. It is still redirecting to the homepage with that long URL. Is there any manual way to do the second step?

[2019-07-11 18:41] yosef-coachella commented on #4
I don't know if this is a connected issue but Console, Analytics, and Speed are all connected but data is never loaded. Just hours and hours of the dashboard looking like it is about to load something...

![Screen Recording 2019-07-11 at 14 40](https://user-images.githubusercontent.com/52765180/61076289-e10ddb80-a3e9-11e9-9eae-2d9d1aa6ab4d.gif)
![Screen Recording 2019-07-11 at 14 37](https://user-

[2019-07-11 20:43] archon810 commented on #41
+1 for this, I was just about to submit it myself https://packagist.org/packages/submit?query=google%2Fsite-kit-wp and then found this ticket.

Why not just submit it there now, before it's fully released to stable, so that we can start using it without adding the github repo to our composer?

[2019-07-11 21:10] lucymtc commented on #89
ready for Implementation Brief review

[2019-07-11 21:23] bjackson27 opened #221 "Setup & Authorization Flow | Admin 2"
Set up end to end testing for Admin 2 Site Kit activation.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* This must be an alternate scenario for the E2E test from #250, #251, and #360. As such, it is blocked by these to be completed first.
* The only piece that must be missing here is the client crede

[2019-07-11 21:42] xguiboy opened #222 "Data error in PageSpeed Insights"
"
Data error in PageSpeed Insights
Issue accessing data, please ensure the API key is set correctly.
"
Hi i've generate several keys, reset all the plugin configurations some times, but i can't get this working. #1

[2019-07-12 02:12] archon810 opened #223 "guzzlehttp/guzzle v6+ support in composer"
Hi, we currently use `league/oauth2-client 2.4.1` which requires `guzzlehttp/guzzle ^6.0`, but this plugin requires `guzzlehttp/guzzle ~5.3.3` and both 5 and 6 cannot be installed together.

Is there a way the plugin can switch to v6.0+, or otherwise relax the restriction?

[code]

[2019-07-12 03:17] driveonby commented on #222
I am having a similar issue. I have inserted the generated API for PageSpeed Insights but the plugin continues to show the attached error notice.
![PageSpeed Insights error](https://user-images.githubusercontent.com/52809331/61099911-a731e900-a46c-11e9-9a1f-22c62a7ed5c6.JPG)

[2019-07-12 06:32] thejoydutta opened #224 "Couldn't create Project: Google Site Kite Error during OAuth"
During OAuth of site kite in one, my website shows below error

**field [project_id] has issue [project_id contains invalid characters]**

![image](https://user-images.githubusercontent.com/42054702/61107078-97ca9400-a49c-11e9-8917-e149443316f4.png)

[2019-07-12 07:28] aaemnnosttv commented on #142
Moving this to Blocked for now. Development should be done but it's pending merge of #137

[2019-07-12 07:28] jamesozzie commented on #213
@mbdiener What caching plugin are you using?

[2019-07-12 08:22] jamesozzie commented on #24
@rehanoo With your ithemes security can you uncheck the "Limits the number of characters that can be sent in the URL" option? This fixed the same problem for another user, #150

[2019-07-12 08:26] jamesozzie commented on #4
@yosef-coachella Do you have iThemes security installed? If so can you disable the _"Limits the number of characters that can be sent in the URL"_ option? If you are not using this plugin can you confirm what other plugins you are using, and also please try with plugins deactivated and incognito mode.

[2019-07-12 08:37] jamesozzie commented on #222
@xguiboy @driveonby Thanks for reporting. Can you ensure you set the [key restrictions](https://i.imgur.com/p9c4S3M.png) to "none" in [Google Cloud Console](https://console.cloud.google.com/apis/credentials)? Just be sure you have the correct project ID from the dropdown at the top.

Please let me know if that works, if not we can troubleshoot further.

[2019-07-12 08:37] jamesozzie commented on #222
#1

[2019-07-12 08:50] lilybonney commented on #12
@adamsilverstein - Can I assign this one back over to you to update the implementation brief, based on Ivan and Felix's latest comments?

[2019-07-12 08:55] jonasjj commented on #88
This is a necessity for websites with few readers. Without this option it's difficult to see if the increased traffic is because I've worked a lot recently, or because what I'm doing is attracting visitors.

[2019-07-12 09:05] jamesozzie commented on #224
@thejoydutta Thanks for reporting. Can you let me know what security or firewall plugins you are using, if any, and also your WordPress and Site URL from your WordPress [settings](https://i.imgur.com/MkFLF0E.png)?

As a workaround you can attempt the following:
- Reset Site Kit ((Site Kit > Settings > Admin Settings > Reset Site Kit)
- At the popup screen where you see the error close click on the

[2019-07-12 09:14] swissspidy commented on #41
@archon810 As mentioned earlier in this thread, we cannot "just submit it there now", because the package would lack all the necessary built JavaScript and CSS assets.

Plus, the plugin would need to be tweaked to not include its own autoloader at all times:

https://github.com/google/site-kit-wp/blob/13ca8a74557e1c6a1da178762eaeaab04ea46447/includes/loader.php#L17-L18

That's because with a Compo

[2019-07-12 09:14] jamesozzie commented on #218
@mjcombe Are you using iThemes security, or do you have any additional security or Firewall software in use, not directly on your WordPress site? Is it possible also you can test with an alternative theme (again in incognito mode?).

[2019-07-12 09:16] IanBeacon commented on #218
I've tried all of the 5 steps above and I am still having the same problem.

[2019-07-12 09:22] IanBeacon commented on #218
Fixed!!!  Disabled modsec in cPanel and it is now working.

[2019-07-12 09:34] jamesozzie commented on #218
@IanBeacon Great news, and thanks for letting us know. Did you re-enable the ModSecurity module after setting up, with everything working fine?

[2019-07-12 09:43] ivankristianto commented on #66
@felixarntz
Yes I think that would work. When it cached by the `modulePromise` here:
https://github.com/google/site-kit-wp/blob/9a262cd18c33995ce5ec81bc300ff055dff2a153/assets/js/components/settings/settings-modules.js#L109-L117
The next step would be recreate that component and set error message via props.
And ensure that component show the error message.

[2019-07-12 09:51] ekandreas commented on #41
That is just not true.

[2019-07-12 09:56] swissspidy commented on #41
@ekandreas Happy to be convinced otherwise :-) Can you perhaps elaborate on why that wouldn't be true? How do you intend to use this plugin using Composer?

To give some more context, we are currently in the same situation with the AMP plugin (https://github.com/ampproject/amp-wp/issues/2649) and, according to a recent blog post, Yoast as well (https://developer.yoast.com/safely-using-php-dependen

[2019-07-12 10:33] sliceypete opened #225 "Unable to Authenticate with Google"
Currently trying to configure SiteKit but I can get past step two.

I can create the Client ID, but on step two "Authenticate with Google" I end up on a blank screen after signing into google.

I choose my gmail account, then grant permission for
- "View and mange Search Console data for your verified sites"
- Manage the list of sites and domains you control

It then brings me to a page to "Confir

[2019-07-12 10:52] #147 closed

[2019-07-12 10:53] felixarntz commented on #158
@aaemnnosttv Implementation brief looks good. I just merged the Plugin tests, so those can be updated as part of this as well now.

[2019-07-12 11:00] ekandreas commented on #41
Compile and check in the assets in the dist folder. Composer is taking care och the autoloading.
Take a look at Roots Bedrock, WordPlate or any other standard Composer based WP solutions.

[2019-07-12 11:01] ekandreas commented on #41
Or just write that the assets needs to be compiled. It’s not a big thing to add it in the ci/cd-process.

[2019-07-12 11:02] felixarntz commented on #89
@lucymtc

Could we instead rely on the property ID identified by the existing tag? That sounds like a more accurate solution to me. We already do this lookup in `get-accounts` (via `has_access_to_property()`). Maybe in this route we could internally force-set the `account-id` and `property-id` values because that's what these values should be set to under these circumstances anyway. The `get-prope

[2019-07-12 11:14] mjcombe commented on #218
I have spoken with my hosting company as I could not see this option in cPanel and they do not offer it....?

[2019-07-12 11:30] xguiboy commented on #222
Yes, first i used the one that generates automaticly, after that i generate a new one, with "none" restritions
![Sem título](https://user-images.githubusercontent.com/31021449/61125100-4364eb80-a47f-11e9-9c04-767677801fac.png)

[2019-07-12 11:52] jamesozzie commented on #225
@sliceypete As you have checked from a private window can you next try to check with any caching or security plugins deactivated? Also let me know if you have the ModSecurity active if using a CPanel host.

[2019-07-12 11:55] jamesozzie commented on #218
@mjcombe Do you have any AdBlocker installed? It would be great if you could test on another computer also.

[2019-07-12 12:15] lilybonney commented on #52
@lucymtc - Could we add an estimate label to this ticket? Usually this will be done as part of the "Definition" board lifecycle (before a ticket even enters the "Engineering" board), but Sprint #2 is an exception :-) Thank you!

[2019-07-12 12:30] #101 closed

[2019-07-12 12:32] felixarntz commented on #220
Implementation brief looks solid.

[2019-07-12 12:34] #145 closed

[2019-07-12 12:37] #141 closed

[2019-07-12 12:38] alexshomper opened #227 "Error when disconnecting and trying to reconnect"
## Bug Description
I downloaded and installed the latest version of the Site Kit Plugin. I went through the Installation Wizard without any Problems. Connected Google Analytics, Search Console, and Site Speed Insights. In the Site Kit Dashboard it said, that there might be something wrong with the API Key. So I disconnected Site Kit from my Account. Deactivated the Plugin and reactiveted it. Then

[2019-07-12 12:39] alexshomper commented on #227
Ok, I tried the same process again in an Inkognito Window, and it worked.
Signing in with my Google Account did all the job, I did not even have to reconnect Google Analytics, Search Console, and Site Speed Insights.

Plus: Sight Speed Insights does not produce the API Key Error anymore…

[2019-07-12 12:41] #139 closed

[2019-07-12 12:43] #144 closed

[2019-07-12 12:50] mbdiener commented on #213
@jamesozzie I’m using Litespeed Cache on this site. I was using WP Fastest Cache but switched to Litespeed on the recommendation of my hosting company (bigscoots.com). It has made a positive difference.

[2019-07-12 13:07] #136 closed

[2019-07-12 13:09] mjcombe commented on #218
Tested on another computer in a different location with no plugins and incognito.

Same issues, just flips back to my own website and url not verified.

[2019-07-12 13:11] IdioticDoodler opened #228 "Error 403 It appears you don't have permission to access this page."
### Bug Description
I'm getting this error getting on step 2 the authentication part, after I sign-in in google, allow the permission.
then it show me this
**It appears you don't have permission to access this page. 403 Error. Forbidden. **

### Steps to reproduce
1.Install it on wordpress
2. Stert the setup
3.Create Client ID
4.authentication  - then after verifying there's the error

### Screens

[2019-07-12 13:17] robwent commented on #213
I'm still seeing the same problem after disabling plugins.
In the console I get these errors:

[code]

[2019-07-12 13:20] jamesozzie commented on #218
@mjcombe Thanks for checking. Can you share the following information:
- Active theme in use
- PHP version (Preferably a screenshot of your PHP settings)
- WordPress version & site Kit version

If you want to share your site also I can check if I can see anything from my side. Your theme might also have some security features of additional plugins.

[2019-07-12 13:23] jamesozzie commented on #227
@alexshomper Thanks for letting us know, and nice troubleshooting. Caching plugins and browser extensions can sometimes interfere during the setup stage.

[2019-07-12 13:23] #227 closed

[2019-07-12 13:28] jamesozzie commented on #228
@IdioticDoodler Thanks for reporting. Do you mind trying the steps below so we can troubleshoot further?

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate your other active WordPress plugins
3. Install Site Kit in a new incognito window (so Chrome extensions/caching doesn't interfere)

If you have any additional Firewall or Security software in pl

[2019-07-12 13:52] mjcombe commented on #218
SiteKit 1.0.0-beta.1.0.1
WordPress 5.2.2 running OceanWP theme.
Running PHP version: 7.2.19
[https://ne1webdesign.co.uk/](url)

[2019-07-12 13:58] jamesozzie commented on #213
@robwent @yzeek Can you please try remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit) before then temporarily disabling all other plugins and then try installing again via an incognito window? That way there will be no caching interference and any potential Chrome extensions are deactivated.

[2019-07-12 14:02] adamsilverstein commented on #12
@lilybonney yep - I'll get that updated

[2019-07-12 14:08] circlecube commented on #138
Status Update: I've got answers to the questions above, working with Adam on 5 and on replacing the "average session duration" module with "bounce rate". Will provide a further status update after that.

[2019-07-12 14:10] robwent commented on #213
Working now, thanks

[2019-07-12 14:11] dbrado commented on #225
I'm getting the same result only I'm thrown back to my dashboard (no blank screen) I then have to go into site kit plugin only to find I'm still on step two

[2019-07-12 14:27] RockyIRL commented on #151
I just had this issue. But it was due to my site being in construction mode.

[2019-07-12 14:44] aaemnnosttv commented on #126
@felixarntz Brief ready for review

[2019-07-12 14:54] jamesozzie commented on #218
@mjcombe I am unable to recreate the same issue using that theme. Were you previously, or at present using MonsterInsights or iThemes security? Let me know of any security or firewall plugins you have been using.

[2019-07-12 14:55] jamesozzie commented on #213
@robwent Good to hear. Can you let me know what security, analytics or firewall plugins you were using if any?

[2019-07-12 14:56] mjcombe commented on #218
I disabled iThemes security from the start. No other security as far as I'm aware and have connected to  GA without any issues. Thanks.

[2019-07-12 14:57] aaemnnosttv commented on #142
Ready for review
cc @felixarntz

[2019-07-12 14:58] jamesozzie commented on #225
@dbrado Do you have any security/firewall or caching plugins active on your site? Can you try the following:
- Remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
- Temporarily deactivate your other active WordPress plugins
- Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

[2019-07-12 15:01] aaemnnosttv commented on #158
Great, I just updated the IB to note that `PluginTest` will be updated 👍

[2019-07-12 15:03] jamesozzie commented on #218
@mjcombe Can you uncheck this box in your iThemes security plugin:
_"Limits the number of characters that can be sent in the URL."_

Then please check again, you might need to disconnect the Analytics module first. (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)

[2019-07-12 15:21] robwent commented on #213
@jamesozzie Initially I disabled supercache in the settings and wiped the cache, then disabled the plugin along with others and still had the problem.

The only security plugin is a jetpack module which works on the admin login page. I previously had wordfence but deleted the rules they add to the htaccess file.

For analytics I have 'Google Analytics Post Pageviews' which adds hits for posts in t

[2019-07-12 15:23] jamesozzie commented on #213
Thanks for the update @robwent

@yzeek Let me know if you are still encountering problems.

[2019-07-12 15:31] mjcombe commented on #218
I have iThemes disabled.

There are no setting fro Site Kit - only a Dashboard...

[2019-07-12 15:31] jamesozzie commented on #222
What browser are you using, this could be related to #81.

Try deleting the newly create Project from your [Google Cloud Console](https://i.imgur.com/EoA1edo.png), following all steps until completion. Following that please reset Site Kit and installing again via the Chrome browser.

[2019-07-12 15:46] xguiboy commented on #222
i was using firefox. i've deleted all the projects, restart on chrome, but same problem

[2019-07-12 15:51] mjcombe commented on #218
I've spent too much time on this now, think I will wait for a more stable version to come out then try again. Thanks :(

[2019-07-12 15:52] IanBeacon commented on #218
I'm 99% sure your problem is ModSecurity.  I would go back to your hosting company and ask them to look at it again.

[2019-07-12 17:05] aaemnnosttv commented on #220
@felixarntz Ready for review

[2019-07-12 17:19] balusahu977 opened #230 "Couldn't create project"
field [project_id] has issue [project_id contains invalid characters]

[2019-07-12 18:00] asitaaa opened #231 "Delete an old Analytics Tag"
## No place to remove the old tag

Where is the place where I delete the old tag and enter a new one?

[2019-07-12 18:19] Loganson opened #232 "Page isn't Working: HTTP ERROR 414"
![IMG_0171](https://user-images.githubusercontent.com/52833711/61149695-5db2bf80-a4a7-11e9-8cae-9c68c235b6b3.jpg)

Get the "Client ID" when you sign in to your Gmail account and "Allow" it goes to this page or a blank page. I've had both happen.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 -

[2019-07-12 18:23] asitaaa opened #233 "Property setting doesn't get fully created"
When I create a new account for analytics in site-kit, it doesn't fully get created. Hence, I can seem to remove it from my Google Analytics dashboard.
![2019-07-12_11-17-49](https://user-images.githubusercontent.com/52835521/61150079-656a6800-a497-11e9-8871-1f403377e7cf.png)

[2019-07-12 18:24] rastarchele opened #234 "Analytics: Refetch account not working"
Already Have Google Analytics But not Fetching  - Tell me to sign up again -

![61009072-c26bfe00-a371-11e9-9d8f-d0120cf9b20a](https://user-images.githubusercontent.com/41326532/62315521-68042000-b48d-11e9-8cc8-679b81c15657.png)

Additional context: See @IanJSaul below:

Here is the XHR responses:

{"accounts":[{"created":"2014-09-06T17:53:33.397Z","id":"54516992","kind":"analytics#account","name"

[2019-07-12 19:55] loganlucky opened #235 "Unable to Fetch Data Error 400 / REST API ISSUE"
## Bug Description

Data doesn't fetch. I have iThemes Security, but disabling it didn't help. I don't have the blocking of long links selected, tried to select it, then it bring error 414.

Tried to disconnect, reset, delete cloud, disable plugins and so on.

I have all, except jquery and XRM disabled in function.php from this post.
Maybe I need to enable any of them?
https://geekflare.com/wordpr

[2019-07-12 19:56] robwent commented on #213
To add a bit more confusion :)

I just installed the plugin on a multisite install.

For the first site, I went to the supercache settings, disabled caching and then deleted the cache and then analytics connected ok.

I went to the second site and got the message about not having an account. Even incognito didn't work even though I had taken the same steps to disable and delete the cache.

3rd sit

[2019-07-12 20:03] robwent commented on #213
Or maybe api request limits when trying to connect multiple sites through the same gmail account?

[2019-07-12 20:37] robwent opened #236 "Dashboard Screen Options looks out of place"
## Feature Description

On the dashboard screen, when enabling and disabling panels, site kit uses an SVG rather than normal text.

This looks out of place with the other options and (correct me if I'm wrong) makes it inaccessible.

Why not just use standard text so that it fits in with the other options?

![screen-options](https://user-images.githubusercontent.com/411678/61157156-37b00e00-a4ed-11

[2019-07-13 00:11] MarksSmartCribs commented on #234
I am having the same problem

[2019-07-13 00:12] MarksSmartCribs commented on #234
Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it.

[2019-07-13 00:14] rastarchele commented on #234
Same here - need solution🥺😔

[2019-07-13 02:58] neilcoza commented on #234
I have pressed the re-fetch button many times. To check I still had an account I logged in independent of the plugin. No problem there

[2019-07-13 06:20] alothaimeen commented on #24
I had the same issue and solve it by changing the language of wordpress to English US and changing

Site Title and Tagline to English from settings.  You must do all these changes not one of them

[2019-07-13 06:51] TrustedSamurai opened #237 "Won't let me select my existing GA code"
I've progressed through the Google SiteKit setup on my WordPress site.  When trying to select my GA code SiteMap say's it cannot find a code for my site.  When I select to CREATE AN ACCOUNT it sends me to GA.  When I enter the details for GA and finalise it I end up with two accounts in GA for the same web site.  And SiteMap still won't find either of them.

So I deleted the second one because I d

[2019-07-13 08:16] marketingconcafe commented on #228
Hi, I have the same problem. Try the solutions you mentioned @jamesozzie but it did not work for me.

[2019-07-13 09:51] rehanoo commented on #24
The option you are referring to is already disabled.

[2019-07-13 10:38] KritarthHandicrafts opened #239 "Getting an issue while login with google accounts"
Authorisation Error
Error 403: restricted_client
This app is not yet configured to make OAuth requests. To do that, set up the app’s OAuth consent screen in the Google Cloud Console.
Learn more
Request Details
response_type=code
access_type=offline
client_id=737538405799-huiq6df8na9l7lntm68s1k122ei3nuqh.apps.googleusercontent.com
redirect_uri=https://www.kritarthhandicrafts.com?oauth2callback=1
pr

[2019-07-13 13:15] zeekart opened #240 "Site kit's unknown error"
Got stoped on 2nd step
![Screenshot (251)
](https://user-images.githubusercontent.com/52857896/61172158-9e591a00-a535-11e9-83d2-606756a3ab29.png)

[2019-07-13 14:01] mamathesh opened #241 "Error with fetching analysis account"
![Analysis site kit](https://user-images.githubusercontent.com/52853384/61172647-b025d600-a5a4-11e9-9404-405da019d515.png)

as mentioned above i am unable to link my existed analysis account and I tried creating new and link it but not worked...

[2019-07-13 14:04] bagaweb commented on #240
Same issue here

[2019-07-13 15:54] bburzycki opened #242 "The response is not a valid JSON response"
Trying to figure out this error message when on step one of initial setup. I get my code - and when i submit it it presents the error. Then in some cases when you exit the screen it will no longer show the error and bring up the SIGN INTO GOOGLE prompt.
![2019-07-13_085046](https://user-images.githubusercontent.com/52861870/61173702-b9cf1f80-a54b-11e9-9436-4f3c37bb206e.jpg)

Anyone else seeing thi

[2019-07-13 17:48] thedavemurphy opened #243 "Can't fetch data: No Data / 400 Error PageSpeed insights"
#59  is showing that Analytics, Page Speed and Search console are connected but no date is being fetched. No error message

#150

![download (1)](https://user-images.githubusercontent.com/41326532/61295438-ee530d80-a7cf-11e9-8530-338b5d1c077b.png)
![download (2)](https://user-images.githubusercontent.com/41326532/61295458-f90da280-a7cf-11e9-92eb-659f273787a2.png)

- [Site Health Info](https://user

[2019-07-13 18:49] LilRedCorbett commented on #241
I have the same issue, is it a conflict if I already had Search Console and Analytics installed prior to installing the Site Kit plugin. I would have thought it would automatically recognize existing accounts. Does anyone have any insight here?

[2019-07-13 20:22] ahmadawais commented on #232
@westonruter @felixarntz I have the same issue with https://AhmadAwais.com/

![issue](https://on.ahmda.ws/f727e8/c)

Can you folks help :)

[2019-07-13 20:23] loganlucky commented on #235
Missing request parameter. How do I add it?

[2019-07-13 20:25] ahmadawais commented on #232
I removed the following part of the URL to make it work.

[code]

[2019-07-13 20:30] ahmadawais commented on #232
On second thought, SiteKit says it's authenticated but it won't load any data since I edited the callback URL. It's stuck at API requests being 414 as you can see here.

![](http://on.ahmda.ws/668d1c/c)

[2019-07-13 22:37] frankblob opened #244 "Site Kit installed GTM only active while logged into WP admin"
## Bug Description

I installed Google Tag Manager (GTM) as part of Site Kit in Wordpress.

My GTM account has a single container, with a single tag (FB pixel) and a single trigger (all pages). GTM works as intended, when I am logged into WP admin. FB Pixel helper reports a FB Pixel is present. And I receive test data in Facebook for the pixel, as expected.

As soon as I log out of WP admin, the G

[2019-07-14 01:47] driveonby commented on #222
@jamesozzie Logged in just now and saw that Pagespeed is working, but in the Dashboard I get this error for Search Console and Popularity,
![SiteKit Error](https://user-images.githubusercontent.com/52809331/61178274-88f5f580-a5f2-11e9-9218-63466086da3c.JPG)

[2019-07-14 02:46] mamathesh commented on #241
I don't have any other analysis plugin
while installing for the first time it worked well but i put website to
debug mode and removed all the plugins then reinstalled only necessary
ones, this time I was unable to connect with existed one Analysis tool..

On Sun, 14 Jul 2019 at 00:19, LilRedCorbett <notifications@github.com>
wrote:

[2019-07-14 02:47] mamathesh commented on #241
Then i checked one day after then it reconnected to Analysis account

On Sun, 14 Jul 2019 at 08:16, Mamathesh H A (Yoursearch Films) <
mamathesh@yoursearchfilms.com> wrote:

[2019-07-14 03:01] jagadeeshiba opened #245 "Analytics: Account doesn't seem to have access to this Analytics property"
We've detected there's already an existing Analytics tag on your site (ID 182117722), but your account doesn't seem to have access to this Analytics property. You can either remove the existing tag and connect to a different account, or request access to this property from your team.

[2019-07-14 03:14] hamedmoody commented on #24
This is because url that created in wordpress has extra space before project name:
![image](https://user-images.githubusercontent.com/9475089/61178813-2826e700-a60b-11e9-89ee-3e7c4625c634.png)

[2019-07-14 07:28] ewanly opened #246 "Conflict with UpdraftPlus plugin when backup to GoogleDrive remote storage"
## Bug Description

I'm using UpfraftPlus plugin for site backup which also uploading the backup files to Google Drive for off-site disaster recovery. After I installed Site Kit, the connection of UpdraftPlus to Google Drive never succeeded (and generating errors) till I deactivated SiteKit plugin.

## Steps to reproduce

Just install Site Kit on a website using UpdraftPlus with Google Drive conne

[2019-07-14 08:07] s0a0a0z commented on #245
the similar problem is here that I already have analytic account but couldn't connect SiteKit to analytic...
"Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it."

anyone there to sort it out
:)

[2019-07-14 09:11] kelwin17 commented on #225
same issuee

[2019-07-14 13:51] albnavper commented on #245
"Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it."

I have this same problem.

[2019-07-14 14:46] yasserberrehail opened #247 "Can't GET OAUTH CREDENTIALS"
## Bug Description

For a website with an arabic title, it shows an error when trying to GET OAUTH CREDENTIALS :
Couldn't create project

field [project_id] has issue [project_id contains invalid characters]

## Steps to reproduce

1. Go to 'Sit kit dashboard'
2. Click on 'developers.google.com/web/sitekit'
3. Scroll down to 'GET OAUTH CREDENTIALS'
4. See error 'Couldn't create project,,,, field [

[2019-07-14 16:05] sliceypete commented on #225
@jamesozzie Just tried what you suggested and I got it working! Thanks for all the help!

I just had to disable my caching & security plugin to Authenticate, once it completed I re-enabled my plugins, no problems so far.

[2019-07-14 18:35] s0a0a0z commented on #245
No its not ... I have the said account but failed to connect... I re-fetch again and again but useless

anyways would you check to visit my site eyefashion.pk suggest me what other improvements needed

[2019-07-14 20:12] mbdiener commented on #246
I am having the same issue.

The error message received from UpdraftPlus is:
PHP Fatal error (TypeError) has occurred during deleteset subaction. Error Message: Argument 1 passed to Google_Client::__construct() must be of the type array, object given, called in /home/jwocinfo17/domains/dev.jwoc.info/wp-content/plugins/updraftplus/methods/googledrive.php on line 721 (Code: 0, line 92 in /home/jwoci