[2021-01-20 17:02] benbowler commented on #2594
As this ticket itself resolved E2E and VRT issues with #2241 I've merged this branch down to that one in [PR 2630](https://github.com/google/site-kit-wp/pull/2630).

[2021-01-20 18:01] felixarntz opened #2662 "Include enabled features in Site Health"
The enabled feature flags for the site should be included in the Site Health section.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be an `enabled_features` entry in Site Kit's Site Health information.
* It should list all features that Site Kit supports and have the checkmark or x next

[2021-01-20 21:36] felixarntz commented on #1556
Duplicate of #1932.

[2021-01-20 21:36] #1556 closed

[2021-01-20 22:07] archon810 commented on #2437
@jamesozzie Was this supposed to be resolved in the latest update since #2383 and #2277 are both done now? I installed 1.24.0 but the issue persists.

[2021-01-20 23:15] felixarntz opened #2663 "Avoid two column layout for All Traffic widget on narrow viewports"
As noticed in https://github.com/google/site-kit-wp/pull/2661#pullrequestreview-572718835, the new All Traffic widget currently still tries to fit its content into a two column layout for rather narrow viewports, which results in a squished UI. For such narrow viewports, it should wrap into a single-column layout with two rows.

---------------

_Do not alter or remove anything below. The followin

[2021-01-20 23:54] felixarntz commented on #2587
IB ✅

[2021-01-21 01:23] felixarntz commented on #2497
@eugene-manuilov Can you add a QA Brief here? Most importantly it should cover that, when using a development build and activating a new module, no notification about unsatisfied scopes briefly pops up.

[2021-01-21 02:04] felixarntz commented on #2133
@fhollis This one isn't ready for Sprint 41, since we won't be able to roll out the User Input feature in the next release yet. Maybe this accidentally made it in?

cc @johnPhillips See above, this will need to wait a few more sprints before it can be done. Once ready, we should be able to continue with the PR you've already started.

[2021-01-21 08:26] aaemnnosttv commented on #2509
IB ✅

[2021-01-21 08:40] aaemnnosttv commented on #2663
IB ✅

[2021-01-21 11:16] jamesozzie commented on #2437
@archon810 Thanks for checking up on this. I'll discuss this with the team and try to find out more. I'll update you here as soon as I have more information. In the meantime is it possible for you to use the same domain alias each time while logging into your admin panel?

[2021-01-21 12:59] wpdarren commented on #2625
### QA Update: Fail ❌

- On the Channel dimension tab, when I click the 'Other' slice the color of the graph changes correctly but the number of users doesn't update.  In this case, the user total should be `1` but it's displaying the total users, `875`

![image](https://user-images.githubusercontent.com/73545194/105353092-c432a500-5c29-11eb-82ae-ead7b3f9344f.png)

- On the Location dimension tab,

[2021-01-21 13:07] eugene-manuilov commented on #2625
@wpdarren @johnPhillips if I remember correctly, the `Others` shouldn't be selectable and the user count graph should display the total number of users as it does when nothing is selected.

@johnPhillips could you please create a follow-up PR that reset the dimension color to an empty string when the `others` slice is selected? See how we do it for the `dimensionValue` variable.

[2021-01-21 13:12] aaemnnosttv commented on #2644
IB ✅

[2021-01-21 13:14] eugene-manuilov commented on #2497
QA brief is added.

[2021-01-21 13:29] wpdarren commented on #2624
### QA Update: Pass ✅

The user count graph shows axis labels correctly on smaller screens. Tested this on various mobile devices. - [Tablet](https://user-images.githubusercontent.com/73545194/105356568-884e0e80-5c2e-11eb-9b7e-9b992ba0331c.png) and [Phone](https://user-images.githubusercontent.com/73545194/105356593-8edc8600-5c2e-11eb-8866-25c80b973a04.png)

[2021-01-21 14:03] wpdarren commented on #2663
### QA Update: Pass ✅

On narrow viewports, the layout is a single column instead of two columns like before.  This was tested on various browser sizes on desktop and mobile. - Screenshots: [Phone](https://user-images.githubusercontent.com/73545194/105360690-d44f8200-5c33-11eb-9023-b801d75636db.png)  [Tablet](https://user-images.githubusercontent.com/73545194/105360802-f3e6aa80-5c33-11eb-9d73-92b7

[2021-01-21 14:24] johnPhillips commented on #2625
@eugene-manuilov @wpdarren I think I have managed to address this in https://github.com/google/site-kit-wp/pull/2666

[2021-01-21 14:29] tofumatt commented on #2594
I’m a bit confused about how to handle this being in Code Review as the PR that addresses it has already been marked as merged… I know it was merged into another branch of yours.

Might be better to say #2630 resolves both issues and explain that in the PR. We tend not to have PRs for multiple issues, but in this case it makes more sense to review one PR I think. Otherwise we'll be reviewing the c

[2021-01-21 16:12] felixarntz commented on #2625
@wpdarren @eugene-manuilov The Others slice shouldn't affect the graph. It should still be "normally" selectable so that it is highlighted and shows the tooltip until unselected, but it should never alter the line chart.

[2021-01-21 16:13] jamesozzie opened #2668 "Tag Manager Snippet is output twice in AMP URLs"
As reported in the [WordPress support forums](https://wordpress.org/support/topic/tag-manager-code-snippet-inserted-twice/#post-13938356) the Tag Manager snippet is inserted twice in AMP URLs.

Example duplicate snippet:

[code]

This only started occurring since 1.24.0. Reproducible in support.

## Steps to reproduce

1. Install the AMP plugin and set the mode to "Transitional" or "Standard"
2. I

[2021-01-21 16:38] benbowler commented on #2429
There is a remaining issue to get this pushed, I've spent some time investigating but I haven't been able to resolve it, @eugene-manuilov / @aaemnnosttv can you take a look at [this comment](https://github.com/google/site-kit-wp/pull/2617#issuecomment-764733855)

I've tried adding keys to the Tab bar and chart elements as well as GoogleCharts as well as using useEffect to force re-rendering withou

[2021-01-21 16:57] felixarntz commented on #2663
@wpdarren Good point, definitely worth a follow-up issue. It's not super critical, but let's see if we can address it.

[2021-01-21 16:59] felixarntz commented on #2497
@eugene-manuilov I'm not sure this should be a "QA: Eng" because it includes a user-facing change (even though for now only in the dev build) that should go through regular QA. Maybe we can define a workflow for such cases where both is needed. cc @aaemnnosttv

[2021-01-21 17:38] eugene-manuilov commented on #2497
@felixarntz I have updated the QA brief and removed the `QA: Eng` label for now. I have asked to add that label back once the regular QA is done. Does it work for you?

[2021-01-21 18:04] felixarntz opened #2669 "Implement tooltip tour for new All Traffic widget"
The new All Traffic widget should be the first use-case for having a tooltip-based tour.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-01-21 18:21] adamsilverstein commented on #2010
I agree, we probably don't need to add the domain here at all. Was this required previously to get linking from the cache to origin to work correctly? To your question @felixarntz I think we would need to test each scenario careful to ensure removing the linker domain doesn't affect how the sessions are recorded.

That said, I think the bug reported here: _the `_gl` parameter including the origin

[2021-01-21 18:43] adamsilverstein commented on #2010
I created a potential fix upstream would would prevent the AMP auto-linker from ever adding link decorations to the same domain: https://github.com/ampproject/amphtml/pull/32100.

We can also test removing the linker section from Site Kit, maybe it was required previously and no longer is? I think we added this to ensure links from cache to origin were tracked as a single session, I'm guessing tha

[2021-01-21 18:52] westonruter commented on #2010
Correct. If I turn off AMP then the `_gl` parameter is no longer added to same-origin navigations. Likewise, when I switch to Transitional mode and browse non-AMP pages I do not have the `_gl` parameter added; however, when I switch to browse the AMP versions, then the `_gl` parameter is added.

[2021-01-21 19:40] adamsilverstein commented on #2010
Reviewing this doc: https://support.google.com/analytics/answer/7486764?hl=en it clearly implies that you **do need to add your domain** to the linker->domains data to get cache to origin sessions tracked correctly.

This doc explains why we have the linker attribute in place, unless it is no longer true.  Based on that we need to leave this in Site Kit and work on the upstream fix.

[2021-01-21 20:51] eugene-manuilov commented on #2533
@felixarntz @aaemnnosttv this is ready for IBR. I went slightly beyond the requested functionality to refactor the Google_Proxy class a little bit. It will help us to eliminate the existing repeating code and will make it easier to add new methods to call the proxy server endpoints. Plus, it seems like we don't need the `Remote_Controlled_Features` class because that hook fits nicely in the Authen

[2021-01-21 21:34] felixarntz opened #2670 "Introduce `WidgetReportError` component and use in widgets"
Following up on #2252, #2612, and #2613, we should also pass a scoped, widget-specific version of the `ReportError` component to every widget component as prop. While it will not receive any special handling like e.g. `ReportZero` for now, this brings it inline with the other components used by widgets and allows third-party widgets to use this component for errors in the same way. We could altern

[2021-01-21 21:44] felixarntz commented on #2646
@aaemnnosttv

We could, but I think since these two are different area-specific components and since it is not set in stone that those would necessarily render the same thing, I think it makes sense to have them separate.

Good point, updated.

I think the idea is worth considering overall, but the way the legacy components are implemented I think it's easier to keep them separate as is. Putting t

[2021-01-21 23:20] felixarntz opened #2671 "Refactor `getWidgetLayout`, `combineWidgets` and widget components to rely on grid components"
Although we have dedicated `Grid`, `Row` and `Cell` components, the Widgets API internally relies on `div`s with the respective classes being manually applied. We should simplify `getWidgetLayout`, `combineWidgets`, `WidgetAreaRenderer` and `WidgetRenderer` to rely on these components and only pass around grid column widths instead of full class names.

This change is okay to add even with the Wid

[2021-01-22 10:06] aaemnnosttv opened #2674 "Insignificant fetch request errors causing E2E failures"
## Bug Description

In #1770 we upgraded `@wordpress/scripts` to the latest which included the addition of `@wordpress/jest-console` which is enabled automatically for our JS unit tests.

In #842, we added `@wordpress/jest-console` to our Jest config for E2E, which achieved the cleaner output we were looking for but this seems to have been at the cost of stability.

This Jest preset mocks all of t

[2021-01-22 10:39] tofumatt commented on #2610
IB ✅

[2021-01-22 12:40] wpdarren commented on #2623
### QA Update: Pass ✅

- Verified that the font style matches that of the values in the Search Funnel widget.  Compared CSS and font family. Also checked on mobile devices to make sure that the value was readable on all screen sizes.

![image](https://user-images.githubusercontent.com/73545194/105491640-95800180-5cf1-11eb-8bb4-6b8934711aa9.png)

[2021-01-22 12:54] benbowler commented on #2507
## ✅ QA:Eng Approved

[2021-01-22 13:03] wpdarren commented on #2625
### QA Update: Pass ✅

Verified: On the dashboard page the user count graph uses the color of the selected pie slice in the user dimensions chart or the blue color when nothing or the others is selected. Screenshots:  [Other screenshot](https://user-images.githubusercontent.com/73545194/105493875-ed6c3780-5cf4-11eb-97c4-3024f638bda8.png) - [Slice color change](https://user-images.githubusercontent

[2021-01-22 13:37] wpdarren commented on #2497
QA Update: Pass ✅

When using a development build and activating a new module, no notification about unsatisfied scopes pops up. I was able to activate Analytics, Adsense and Pagespeed with no messages appearing on the FE, or within Console.

Tagged `QA:Eng` for their tests.

[2021-01-22 13:52] tofumatt opened #2675 "All Traffic Widget: Don't show Dimensions tabs when no data is available for Analytics"
When the All Traffic Widget doesn't have any data to show, the tabs that allow the user to select their dimension should not appear, because there's no data to filter. Currently, the tabs appear even when `isZeroData( report )` is `truth`-y, but they should only be shown when `isZeroData( report )` is `false`-y.

## Screenshots

![image](https://user-images.githubusercontent.com/90871/105494162-4b

[2021-01-22 14:04] asvinb commented on #2563
QA ❌
@johnPhillips I see there is one instance that has been missed:
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/optimize/components/setup/SetupMain.js#L37

Sending ticket back to you :)

[2021-01-22 14:12] asvinb commented on #2497
### Eng QA: ✅

- Checked the codebase, navigation data store is present. ✔️
- Checked for usage of `global.location.assign`. It's only present in the navigation data store ✔️

[2021-01-22 14:52] wpdarren commented on #2252
### QA Update: Failed  ❌

I have some observations between the new widgets API-powered part of the dashboard to legacy.

1. The top part of the dashboard (I'm assuming this is the new widgets API-powered part) has console data  where as the bottom part does not. It has a message saying `Search Console data is not yet available, please check back later.` I had assumed that this should be displaying

[2021-01-22 15:07] wpdarren commented on #2062
`There should be no visual changes, everything should work as usual.`

@aaemnnosttv I wondered if it was possible to have a little more specific QAB?  I am guessing we should go through the module pages and make sure nothing looks different between develop branch and latest release.  Agreed, or, anything else?

[2021-01-22 15:25] aaemnnosttv commented on #2452
⚠️ @tofumatt this is not working as expected when using a built zip as `feature-flags.json` is not included as-is, so `enabledFeatures` is always empty, even for a development build.

This detail was missed in the original definition and I'm not sure that we want to simply copy over that file. Bringing this back for a follow-up, but should be quick once we decide exactly how this should be handled

[2021-01-22 15:45] benbowler commented on #2429
Issue [fixed](https://github.com/google/site-kit-wp/pull/2617#issuecomment-765481882) and ready for review.

[2021-01-22 15:47] tofumatt commented on #2674
I'm certainly inclined to go with the first option. Noise in the tests makes them harder-to-read, but also causes false positives for diagnostics, etc. This is a pain to deal with, but I think doing the more thorough job of finding places where we wait on subsequent fetch requests is the best option.

Introducing the console noise from 2 long-term is not good in my mind.

_That said_, right now th

[2021-01-22 16:51] benbowler commented on #2429
Update use of `useInstanceID`.

[2021-01-22 17:07] aaemnnosttv commented on #2507
## QA ❌

This results in the following notice now:
[code]

Taking a closer look, this is happening here where we're accessing `$option['accountID']` now instead of using `get_data` as we did before.

**Before**
https://github.com/google/site-kit-wp/blob/7ee258d11ee6c429be9e2e931fedfed5d92dd2f4/includes/Modules/AdSense.php#L448-L451

**After**
https://github.com/google/site-kit-wp/blob/df38a87cef99

[2021-01-22 17:39] abdullah1908 commented on #2280
@jamesozzie I am unable to replicate this at my end.
Here are the tricks I applied:
- Tried with the version **1.16.0** as mentioned above
- Configured different properties
- Checked on two different hosting services(WPEngine & Bluehost )
Server Specs:
- PHP Version: 7.3.2 & 7.4.14
- WP Version: 5.5.3 & 5.6
I also searched this issue separately & I think it might be shifted to L2 so Dev team can b

[2021-01-22 17:51] felixarntz commented on #2252
@wpdarren That looks like something we definitely need to fix. Before this PR (e.g. [development build of the latest release](https://github.com/google/site-kit-wp/wiki/refs/heads/master/google-site-kit-dev.zip)), on the same site you were testing, what did the Search Funnel widget look for you there? Did it also show 0s or the blue "No data available" block?

Trying to figure out whether this par

[2021-01-22 17:57] felixarntz commented on #2452
@aaemnnosttv I thought about that too. We should have the feature flags available somewhere, so maybe we should just include that file in the built production ZIP as well.

In the near-term, we should also change it to only use this file (or potentially another way) to have a central list of which feature flags exist, only to know that, and have _all_ of them set to `false` by default, i.e. there

[2021-01-22 18:03] felixarntz commented on #2668
Potentially caused by #475? cc @eugene-manuilov

[2021-01-22 18:15] felixarntz commented on #2584
@aaemnnosttv

Good point. I think we could add a file `assets/js/modules/analytics/util/getAnalyticsMockResponse.js` for the function.

I'm not opposed to that, but at this point I also don't see the need for it. We could for now follow a similar approach that the tester plugin is using on the PHP side.

Agreed.

[2021-01-22 18:17] felixarntz commented on #2579
IB ✅

[2021-01-22 18:25] benbowler commented on #2429
Added chartID to the onReady useCallback dependencies list.

[2021-01-22 18:26] felixarntz commented on #2468
@aaemnnosttv @caseymorrisus It looks like the `image` argument of `Notification` is only used by the AdSense notification. The remote notifications (`Notifications`) do not use the `image` argument, so let's remove this argument and its usage entirely.

For now, to keep the original UI, let's take care of that part fully in JS: For any notification returned by `modules/{moduleSlug}/data/notificati

[2021-01-22 19:23] eugene-manuilov commented on #2668
@felixarntz IB is added and PR is created #2678

[2021-01-22 19:44] felixarntz commented on #2668
@eugene-manuilov How does #2678 fix the problem? Would be good if you could add a brief explanation on how your changes are related to the issue. I can see what the fix does technically, but I'm wondering, are we maybe adding an extra hook where we shouldn't?

[2021-01-22 20:20] adamsilverstein commented on #2463
@jamesozzie - Since we maintain the tester plugin internally currently, I copied this ticket over to an internal task. Closing this out in favor.

[2021-01-22 20:20] #2463 closed

[2021-01-22 20:22] eugene-manuilov commented on #2668
@felixarntz the `get_method_proxy_once` is intended to prevent proxied methods to be called multiple times, but due to the bug, it doesn't work correctly and let the protected method be called multiple times.

The AMP tag for the Tag Manager module uses three hooks for different actions to render the tag. Whichever action fires first, it should render the tag. The next actions shouldn't render it

[2021-01-22 20:49] eugene-manuilov commented on #2507
Thanks, @aaemnnosttv. How about something like in the #2679? What do you think?

[2021-01-22 21:21] eugene-manuilov commented on #2507
Actually, that PR isn't going to work... Need to think about it a little bit more. Will work on it on Monday.

[2021-01-22 21:36] aaemnnosttv commented on #2602
I realize this one is already in motion but after reviewing a bit with @johnPhillips I have some concerns about this issue.

- It doesn't seem like a good candidate for a good first issue label. It involves digging into _many_ different areas of the codebase; any one of which on its own might be a GFI, but taking them all in one issue is too much IMO. Also, any issue with the largest estimate we c

[2021-01-22 21:52] aaemnnosttv commented on #2452
@felixarntz we could potentially add a `Feature_Flags::get_available_features()` method which returns essentially `array_keys( static::$features )`. That would be easy to add even now.

`$mode` and related logic should be easy to remove. In this case, I think the `feature-flags.json` can be a simple list of feature names/keys since the activation is ultimately handled by the server; any `true`/`fa

[2021-01-25 08:48] aaemnnosttv opened #2681 "Introduce method for disabling auto-ads for logged-in users"
## Feature Description

In #88 we introduced a new option for Analytics which controls the output of the tracking script specifically for logged-in users. By default, the module is configured to exclude tracking for logged-in users so the option essentially functions as a way to enable tracking for logged-in users which may be desirable in some cases (such as a membership site).

By contrast, AdSe

[2021-01-25 09:20] aaemnnosttv commented on #2646
@felixarntz IB LGTM – the only thing that was a bit confusing was understanding the changes to `DashboardDetailsApp` and how `DashboardDetailsEntityView` and `DashboardDetailsEntityNotFoundView` are being replaced (merged into) the new `DashboardDetailsHeader` since this isn't mentioned until further down. I'll make a note of this above but otherwise great!

IB ✅

[2021-01-25 09:46] wpdarren commented on #2252
@felixarntz  It isn't something that I have observed before. This testing was done with a site with very little data. I can check with my other site with more data to see if I can replicate this. Would that help?

[2021-01-25 10:06] aaemnnosttv commented on #2675
Thanks @tofumatt – I think there are some details left to consider here.

* The idea of coupling this component to `getReport` arguments that it doesn't use itself is a bit too fragile and could result in extra queries triggered in the event something changes in another component and these exact args are no longer shared.
    * In #2252 we introduced the concept of widget states which is the newer

[2021-01-25 10:32] aaemnnosttv commented on #2584
IB ✅

[2021-01-25 12:09] aaemnnosttv commented on #2668
@felixarntz the main problem with the current implementation is that `$calls` is not passed (used) by reference so it will always be an empty array in the returned function since mutations are happening to a copy of the array rather than the array itself.
@eugene-manuilov see my comments on your PR as I think we can simplify this a bit further.

[2021-01-25 13:04] eugene-manuilov commented on #2668
Thanks, @aaemnnosttv! PR is updated.

[2021-01-25 13:15] aaemnnosttv commented on #2668
IB ✅

[2021-01-25 13:49] aaemnnosttv commented on #2249
@felixarntz I think this is ready for IB now. I've simplified it a bit so that it either uses `field` by default or uses the component provided (but the component would take precedence if present). I don't think it makes sense to require the `field` in all cases since that reference can be passed with the definition of the component too; I'm not sure it would make sense to use both at the same tim

[2021-01-25 13:58] aaemnnosttv commented on #2674
Agreed. Unfortunately, it seems we either have to choose between leaking implementation details into our tests or ignoring console logs from the client altogether. Neither option is good but we can minimize the compromises needed.

We can't simply comment out the line where we include it in the setup as that would break all of the matchers from it that we use now, so I think the first option is ac

[2021-01-25 14:02] wpdarren commented on #2062
### QA Update: Pass ✅

Verified: Disconnected and reset SiteKit.  Re-connected Google account to SK and then connected each module. No JS or any other errors in the console or FE. Went through the module pages and the widgets are displaying as expected.

[2021-01-25 16:09] felixarntz commented on #2252
@wpdarren No this would indeed only happen with a site without Search Console data. I was meaning to ask, have you tested an older Site Kit version (e.g. 1.24.0) on that same site?

[2021-01-25 19:10] felixarntz commented on #2602
@aaemnnosttv

Maybe you're right. I agree it's definitely on the more complex end of GFIs, but for pretty much every piece here there's existing code to base the implementation on. I think having a distinct feature like this allows to get a good idea of how different pieces in the plugin relate and work together. Probably the part that makes it less GFI-feasible is that we need some extra logic fo

[2021-01-25 19:22] felixarntz commented on #2522
@benbowler I've added an extra bullet point to the QA Brief here, I think it's important to mention the exact user-facing change here: Now data is shown for 1 day ago, previously it was a different offset.

[2021-01-25 19:37] felixarntz opened #2683 "Make feature flags definition build-agnostic"
Following up on #2452, specifically https://github.com/google/site-kit-wp/issues/2452#issuecomment-765586302, we should remove the connection between certain features being automatically enabled based on the build mode. Which ones are active should eventually instead only rely on the remote-controlled service (see #2533) and on a checkbox-based UI in the Site Kit tester plugin (to be implemented b

[2021-01-25 19:38] felixarntz commented on #2452
@aaemnnosttv Sounds good. I've opened #2683, to handle this in a follow-up issue.

[2021-01-25 19:45] felixarntz commented on #2252
@cole10up Would be great if you could check for the above if you find time today ^

[2021-01-25 19:57] felixarntz commented on #2675
@tofumatt Reviewing this, there is actually a benefit of still passing through each request `error` to its respective component: When e.g. selecting a pie slice, only the data on the left is refreshed. If an error happens there, it means only the UI for that pie slice (the left half of the widget specifically) should indicate the error state. It's unlikely that this will happen, but in that case t

[2021-01-25 20:16] tofumatt commented on #2675
@felixarntz Oh, good call. That makes sense; I've updated the IB 👍🏻

[2021-01-25 20:27] felixarntz commented on #2603
@aaemnnosttv I don't think there's a contradiction in the ACs, maybe they were slightly unclear: We should basically move the entire check from before starting setup to after completing setup. We can almost leave `Authentication::require_user_input` as is, but it should be called on `googlesitekit_authorize_user`. If the value is not `completed` at this point, the user will have to go through the

[2021-01-25 20:37] aaemnnosttv commented on #2675
IB looks good to me 👍

[2021-01-25 20:57] felixarntz commented on #2533
@eugene-manuilov Overall I think the proposed refactoring is a great idea. It nicely reduces a bunch of duplicate code, centralizes proxy request management in the class, and addresses some inconsistencies that have come up as a result of duplicating code for similar tasks (some use `WP_Error`, some throw `Exception`; now, all of them should use `WP_Error`). While doing this requires more work and

[2021-01-25 20:58] felixarntz commented on #2652
IB ✅

[2021-01-25 21:01] felixarntz commented on #2456
@eugene-manuilov IB pretty much ✅ , however I don't think you need to put anything under "Visual Regression Changes", they shouldn't be affected. What you have there furthermore is not a requirement for this issue and shouldn't be the case. For now, the `core/ui` store shouldn't have any persistence - we can consider that for the future, but for now it should be just another place than `core/forms

[2021-01-25 21:03] felixarntz commented on #2662
@eugene-manuilov IB ✅ , just one thing:

I've updated this to `get_available_features`, see #2683. There's some overlap with that issue, so let's consider that when working on them.

[2021-01-25 21:09] felixarntz commented on #2670
@eugene-manuilov IB is almost good to go, except one thing:

That shouldn't be done, `WidgetReportError` should only be used where the entire widget returns an error since only in that case the overall error state should be set for the widget. This relates to what we've decided for #2675: Only for the `ReportError` returned by the entire widget (i.e. in the root component), `props.WidgetReportErro

[2021-01-25 21:11] felixarntz commented on #2647
@eugene-manuilov IB looks technically good. However, after #2646, which is marked as a blocker, the implementation will slightly change from your IB. It shouldn't change the necessary work though. Can you maybe make the IB less specific and say in both overall components only render the legacy part as an `else` clause to the existing `if` clause for the feature flag?

[2021-01-25 21:35] felixarntz commented on #2675
IB ✅  from my end, waiting for @eugene-manuilov's feedback

[2021-01-25 21:38] felixarntz commented on #2249
@aaemnnosttv New ACs look solid to me, moving over to IB.

[2021-01-25 21:50] eugene-manuilov commented on #2675
IB :heavy_check_mark:

[2021-01-25 21:51] eugene-manuilov commented on #2675
Moving to the execution column and will work on it tomorrow morning.

[2021-01-25 22:45] tofumatt commented on #2674
Yeah, let's start with that. Right now there are several PRs I can't really review because they are almost always failing on these tests. 😒

[2021-01-25 22:50] tofumatt commented on #2286
Moving back to Execution and marking as blocked by #2674; I can't get the E2E tests passing to review this.

Once #2674 is merged and this issue's PR/branch merges in the latest `develop`, this should be unblocked.

[2021-01-25 22:50] tofumatt commented on #2287
Moving back to Execution and marking as blocked by #2674; I can't get the E2E tests passing to review this.

Once #2674 is merged and this issue's PR/branch merges in the latest `develop`, this should be unblocked.

[2021-01-25 23:10] tofumatt commented on #924
IB ✅

[2021-01-25 23:39] felixarntz commented on #2287
@tofumatt Is every e2e test failing? I've seen these failures too but usually it works after 2-3 attempts. It's definitely worth fixing this, but we shouldn't block issues because of that unless they _really_ consistently make e2e tests fail.

[2021-01-25 23:40] felixarntz commented on #2286
@tofumatt See my response in #2287: Is every e2e test failing? I've seen these failures too but usually it works after 2-3 attempts. It's definitely worth fixing this, but we shouldn't block production-affecting issues because of that unless they _really_ consistently make e2e tests fail.

[2021-01-26 09:32] jamesozzie commented on #2349
Similar report from [one user](https://wordpress.org/support/topic/site-kit-encountered-an-error-20/#post-13957698) in the support forums. Awaiting response regarding additional information.

[2021-01-26 11:13] jamesozzie commented on #2681
Similar GitHub issue exists at #828

[2021-01-26 11:19] wpdarren commented on #2252
@felixarntz @aaemnnosttv

With SiteKit 1.24.0 on development build.  I have re-tested this with the same site after clearing cache, refreshing the development build and the issue with search console data no longer exists. The data is now appearing in both sections of the dashboard. That said, the data is slightly different. See screenshots below.

Top part of the dashboard:

![image](https://user-

[2021-01-26 11:37] jamesozzie commented on #1019
Closing as duplicate of #785

[2021-01-26 11:37] #1019 closed

[2021-01-26 12:32] jamesozzie commented on #2628
Additional details in #1558

[2021-01-26 12:33] asvinb commented on #2563
### QA: ✅
- No more STORE_NAME aliases.

[2021-01-26 14:58] johnPhillips commented on #2195
@tofumatt If we are renaming the rule, I'm guessing we need to rename all the exceptions throughout the codebase as well?
For example instances of:
[code]

[2021-01-26 16:04] aaemnnosttv commented on #2674
@felixarntz this one is ready for review and has a PR which should enhance the stability of E2E significantly (at least regarding the failures we've been seeing lately).

[2021-01-26 16:31] felixarntz commented on #2674
IB = CR = ✅

[2021-01-26 16:36] felixarntz commented on #2252
@wpdarren The data graph being slightly different is expected, it's due to another change from #2522. However, what still looks incorrect to me is that the "Clicks" widget in your screenshot shows 0. It never should, not in the old nor in the new part of the dashboard. That seems unrelated to the changes in this issue though, if you already encountered it in 1.24.0.

@aaemnnosttv What do you think

[2021-01-26 16:39] adamsilverstein commented on #2437
@archon810 thanks for raising this issue.

@jamesozzie is correct: because you access wp-admin from different URLs, Site Kit is getting confused and things your site domain has changed. When this happens you are disconnected and need to go thru the setup flow again.

To fix this issue, you can use a filter we provide in Site Kit to set your canonical domain: `googlesitekit_canonical_home_url`. Sit

[2021-01-26 16:54] adamsilverstein opened #2688 "Remove custom retry map for exponential retries."
## Bug Description

In https://github.com/google/site-kit-wp/pull/2442 / https://github.com/google/site-kit-wp/commit/b1b73c93215f0cd1eac88df8a88dfc7ae561fb7c we added a custom retry map for exponential retries. The main reason we added this was to avoid retrying for lightouseErrors which can return a 500 code even when not retryable.

Since that time, I opened a PR to add this config to the upstr

[2021-01-26 17:00] felixarntz opened #2689 "Pass specific dates in AdSense deep links"
Similar to #2286 and #2287, we should include specific dates in AdSense deep links for all new datastore-driven components (i.e. those components using `select( 'core/user' ).getDateRangeDates()`).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All AdSense frontend deep links (specifically "source lin

[2021-01-26 18:14] tofumatt opened #2691 "getModules never memoizes properly, causing performance lag/issues"
## Bug Description

Currently the `getModules` function memoises a function with an object that will never be the same: https://github.com/google/site-kit-wp/blob/f1ff73b9b078d7060af02c661f4a15ba76dd160f/assets/js/googlesitekit/modules/datastore/modules.js#L491-L495

@aaemnnosttv and I looked into this and it causes massive performance problems on the dashboard, especially when changing the date r

[2021-01-26 18:41] felixarntz commented on #2691
IB ✅

Awesome find!

[2021-01-26 18:50] felixarntz commented on #2688
Noting here that we'll need to require at least version 2.9.0 of the `google-api-php-client` to make this change.

[2021-01-26 18:51] felixarntz commented on #2688
@adamsilverstein Can you update the ACs and IB based on the above? Afterwards should be good.

[2021-01-26 19:34] felixarntz opened #2692 "Store initially used Site Kit version per user"
Originally part of #2648, we decided to take the part of storing a user's initially used Site Kit version out of that issue so that we can squeeze it into the current 1.25.0 release. This is necessary because we want to ship the first set of tooltips in the following release, and it requires us to already start collecting active version information before.

---------------

_Do not alter or remove

[2021-01-26 20:32] aaemnnosttv commented on #2692
IB ✅

[2021-01-26 21:29] adamsilverstein commented on #2688
👍🏼 Updated.

[2021-01-26 21:48] felixarntz opened #2693 "Trigger authorization action hooks also for sites that do not use the proxy"
The `googlesitekit_authorize_user` action (receiving a new set of access token and refresh token) and `googlesitekit_reauthorize_user` action (receiving a new access token using a refresh token) are currently only fired when using the proxy. `googlesitekit_authorize_user` was originally introduced like that because the proxy includes some extra arguments in the response, but that's not really a go

[2021-01-26 22:11] felixarntz commented on #2688
IB ✅

[2021-01-26 23:03] archon810 commented on #2437
This worked, thank you. I wonder if there's a better, more automated solution, but at least we have this workaround now.

[2021-01-27 01:26] ernee opened #2695 "Adsense doesn't detect existing site when using camelcase URLs in WordPress settings"
## Bug Description

Originally reported in [this support topic](https://wordpress.org/support/topic/unable-to-connect-adsense-in-site-kit/), the Adsense module doesn't detect an existing site in an Adsense account when using camelcase URLs in the WordPress settings:

<img width="750" alt="site in Adsense account" src="https://user-images.githubusercontent.com/8108643/105928053-12fd8780-5ffa-11eb-8

[2021-01-27 07:28] asvinb commented on #2249
@aaemnnosttv @felixarntz in the AC, I noticed there is no mention of the `options` prop which is used in the `getDataTableFromData` [function](https://github.com/google/site-kit-wp/blob/1680f18750ea7fc778d39a5a5feab64d0d1b24d0/assets/js/components/data-table.js#L44). Is it intentional? Because there are a lot of things which depends on it such as whether we want to hide certain columns on mobile o

[2021-01-27 07:37] aaemnnosttv commented on #2252
@felixarntz

Could this not be due to there being non-zero clicks in the previous period? It should only not show zero if there are no clicks at all, but I don't think it's normal that it wouldn't show zero data if there was data in the previous period.

Unless there's actually a regression that somehow affects the current dashboard from the changes we introduced here, then it shouldn't block this

[2021-01-27 08:01] aaemnnosttv commented on #2249
@asvin yes, that's intentional, no more `options` should be needed. The `ReportTable` component should be simple, but flexible.

Some the refactoring will require changes outside of where the function was used before; it won't be 100% handled by the new component.

It's used in `WPAnalyticsDashboardWidgetTopPagesTable`

https://github.com/google/site-kit-wp/blob/9ef87188198cc9efff1904a3d10e03c44fd

[2021-01-27 08:44] aaemnnosttv commented on #924
Bumping the estimate here since this one will undoubtedly be a beast and will also require a large number of changes across the codebase in order to conform to the new style rules.

cc: @eclarke1 @fhollis

[2021-01-27 08:54] aaemnnosttv commented on #2681
Thanks @jamesozzie – I forgot about that one 👍  That issue is specific to admins though, while this is just about any logged-in user, just like we have with Analytics.

[2021-01-27 08:57] aaemnnosttv commented on #2195
@johnPhillips correct, that would be necessary.

[2021-01-27 09:48] aaemnnosttv commented on #2675
## QA ✅

In no data state, the widget shows the same full-area `ReportZero` component as in the legacy widget

![image](https://user-images.githubusercontent.com/1621608/105973392-5bb64e80-6095-11eb-81ef-d788014b5947.png)

[2021-01-27 10:35] aaemnnosttv commented on #2692
## QA ✅

Tested
* Unconnected user, no initial version – current version set on authentication
* Unconnected user, with initial version – current version not set/updated on authentication
* Connected user, no initial version – current version set on reauthentication
* Connected user, with initial version – current version not set/updated on reauthentication
* Initial version is still present after

[2021-01-27 10:53] benbowler commented on #2508
Hey @aaemnnosttv, can you evaluate my approach over on the [PR #2607](https://github.com/google/site-kit-wp/pull/2607). I've worked to Felix's points.

I had an issue with a render loop because `setWidgetState` is called on a `useEffect` in `useWidgetStateSideEffect`. This lead to the following:

1. `AdminBarWidgets` renders each child widget.
1. These widgets all have no data, loading the `Widget

[2021-01-27 11:08] wpdarren commented on #2252
@felixarntz this is a site that gets no traffic from Google, so I suspect that there will be zero clicks in the previous period as @aaemnnosttv mentioned.  Happy to jump on a call if you would like to put a meeting in my diary. FYI. I am usually offline from 8am PST, but can stop a little later if this helps with the scheduling.

[2021-01-27 11:33] wpdarren commented on #2642
### QA Update: Pass ✅

**Verified:**

- On the 'Others' slice, there is a link in the tooltip, with the label: "Learn more about what "(other)" means" and it links to the correct URL in the QA Brief.
- On the "Not Set" slice, there is a link in the tooltip, with the label: "Learn more about what "(not set)" means" and it links to the correct URL in the QA Brief.

[2021-01-27 12:33] aaemnnosttv commented on #2252
@felixarntz @wpdarren I was able to reproduce this by adding a non-zero number of clicks into data for the previous range

![image](https://user-images.githubusercontent.com/1621608/105990496-37656c80-60ab-11eb-9843-84fe7c23facc.png)

This is indicated by the % difference/change arrow also since a zero-sum value in the previous period results in no change as shown above for the impressions.

I bel

[2021-01-27 12:39] eugene-manuilov opened #2697 "Update feature flags to use PHP based configuration"
## Feature Description

Currently, the Feature Flags feature relies on the JSON based configuration file and uses the `JSON_File` class to load available features into PHP. Overall it's okay solution, however, it has a very minimal but steady negative impact on the overall performance of the site because the plugin reads the json file from the server on every request. FS operations are I/O bound a

[2021-01-27 12:40] wpdarren commented on #2252
`Are you referring to the difference between the new widget-based dashboard and the legacy one? `

@aaemnnosttv  Yes, I am.  Thanks for confirming this is covered in #2646.

[2021-01-27 12:43] eugene-manuilov commented on #2452
QA :heavy_check_mark: Everything works as intended. Created a minor follow up issue with an additional suggestion: #2697

[2021-01-27 13:49] eugene-manuilov commented on #2452
QA :x: actually found one issue with E2E tests. Will work on a fix for it.

[2021-01-27 14:48] benbowler commented on #2508
In code review based on discussion with @aaemnnosttv.

[2021-01-27 14:59] adamsilverstein commented on #2437
@archon810 Excellent! Finding a solution that works for everyone is challenging due to the diverse ways users run WordPress. The filter is the best way we have found so far.

[2021-01-27 14:59] adamsilverstein commented on #2437
Closing as resolved.

[2021-01-27 14:59] #2437 closed

[2021-01-27 15:08] eugene-manuilov commented on #2674
QA :heavy_check_mark: Looks like it works stable now.

[2021-01-27 16:02] felixarntz commented on #2252
@aaemnnosttv @wpdarren

Oh right, I didn't think about that. Yes, the blue "no data" box should only appear if there's no data in the current _and_ the previous period. So this is correct.

Looks like this issue is good to go. I'll move back to QA and reassign to you @wpdarren to confirm. If there's nothing else here, we can probably move to Approval.

[2021-01-27 16:06] felixarntz commented on #2508
@benbowler

Yes, this is what we're doing for the "real" widgets itself. It feels a bit weird, but for now it's a good enough solution to achieve our goal which is to have the special widget states (e.g. no data) being fully driven by the rendering component, without requiring calls to specific datastore actions manually. This is mostly so that 3P developers can simply write their components and d

[2021-01-27 16:25] eugene-manuilov commented on #2533
Yep, updated it to be a required parameter.

Yep, agree with what you say. Updated the request function to accept `$args` array as the third parameter but left `$credentials` as a second one because it is required.

[2021-01-27 16:40] eugene-manuilov commented on #2456
@felixarntz, gotcha! Updated.

[2021-01-27 16:45] eugene-manuilov commented on #2670
Yep, IB is updated.

[2021-01-27 16:52] eugene-manuilov commented on #2647
Updated. Is it better now, @felixarntz?

[2021-01-27 17:01] felixarntz commented on #2533
@eugene-manuilov One last thing to iterate:

This is still slightly off. The entire `$args['body']` needs to be JSON encoded, not only `$settings`. Since the `request` method however adds body arguments (e.g. `site_id` and `site_secret`), we can't JSON-encode the body before calling `request`.

I think we should overall move the responsibility for JSON-encoding into the `request` function, based o

[2021-01-27 17:02] felixarntz commented on #2647
IB ✅

[2021-01-27 17:02] felixarntz commented on #2456
IB ✅

[2021-01-27 17:03] felixarntz commented on #2670
IB ✅

[2021-01-27 17:20] jamesozzie commented on #2628
Performed some additional testing on a Cloudflare site setup
- Setup WordPress on a popular hosting provider (non https)
- Pointed nameservers to Cloudflare, confirmed successful records applied at Cloudflare level
- Left all Cloudflare configuration settings [as default](https://i.imgur.com/6ZTEp1t.png) (with no SSL applied at service level)
- Installed Site Kit 1.24.0 - Setup with no issues, Ana

[2021-01-27 17:37] ivankruchkoff commented on #2644
The fix for this _may_ also address and close out https://github.com/google/site-kit-wp/issues/2660

[2021-01-27 17:41] eugene-manuilov commented on #2533
Yes, I like it. Updated.

[2021-01-27 18:32] aaemnnosttv commented on #2452
@eugene-manuilov I think QA is basically done now, but sending back to you to confirm.

[2021-01-27 18:58] eugene-manuilov commented on #2452
Yep, all set, @aaemnnosttv!

[2021-01-27 19:05] felixarntz opened #2699 "Show more dates on All Traffic graph"
The new All Traffic widget graph only shows the start and end date on its x-axis. It should include more dates in between, similar to how our other graphs in the plugin behave.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The new All Traffic widget graph on the left should have more dates on its x-a

[2021-01-27 19:11] felixarntz opened #2700 "All Traffic widget pie chart legend should not be cut off"
The legend entries on the new All Traffic widget pie chart currently get shortened if there is not enough space available, and sometimes they even receive an arrow to see the other ones. See screenshot below:
![Screen Shot 2021-01-27 at 11 07 42 AM](https://user-images.githubusercontent.com/3531426/106040979-10e60800-6090-11eb-9899-fba03010d18e.png)

Instead of this, they should always show comple

[2021-01-27 19:16] felixarntz opened #2701 "All Traffic pie chart tooltip should only be shown on hover"
The tooltips on the new All Traffic widget pie chart should be changed to only show up on hovering the pie slice, they should no longer persistently appear when the pie slice is selected, since:
* Showing a tooltip apart from hovering is unintuitive UX.
* Hovering another pie slice will result in two tooltips being shown at the same time, sometimes overlapping each other (see screenshot).
* The da

[2021-01-27 22:04] tofumatt commented on #2286
I had restarted the tests over a dozen times in each PR, so even if they were intermittent failures they were happening most of the time. That said, @johnPhillips mentioned that he merged the latest E2E fixes into these branches and they look to be passing now. Yay! 🎉

[2021-01-27 23:24] felixarntz commented on #2429
**QA** ⚠️

Forwarding test feedback from @marrrmarrr here: When activating the PageSpeed Insights module, the blue link to jump to the PSI widget on the dashboard now goes to All Traffic instead.

@benbowler @eugene-manuilov @aaemnnosttv Could one of you take a look at this?

[2021-01-27 23:26] felixarntz commented on #2623
**QA** ⚠️

Forwarding test feedback from Aaron here: In his testing, the ">" character in "Users > ..." did not show up. I haven't encountered this, but it may be a browser-specific issue. Overall it's probably a better idea to render it instead of using the CSS `content` rule - I'm sure that would address his problem.

@eugene-manuilov Could you make this change? It was technically already here b

[2021-01-28 01:32] wpdarren commented on #2252
@felixarntz I'd like you to confirm that you've seen these two points.

- The left and right margin/padding of the widgets is smaller. The two areas do not seem to be aligned as per screenshots.

- The bottom part of the dashboard does not have the Page Speed and Experience header and also description underneath.

Top part of the dashboard
![image](https://user-images.githubusercontent.com/7354519

[2021-01-28 02:01] felixarntz commented on #2644
@tofumatt I've experimented a bit with this as well and opened an alternative PR #2702. Let me know what you think. That one worked fairly well for me and, while it's not perfect, I think it's worth including as overall it appears to fix the bug here.

[2021-01-28 02:04] felixarntz commented on #2252
@wpdarren Ah, thanks for flagging this. I think it's okay to proceed with it as is though, as it's not critical and not a result of this issue.

[2021-01-28 02:12] wpdarren commented on #2252
### QA Update: Pass ✅

- The CTA to set up Analytics and the CTA to set up PageSpeed Insights look exactly the same for the new widgets API-powered part of the dashboard as it does for the legacy part of the dashboard.

[2021-01-28 02:24] cole10up commented on #2547
### QA ⚠️

Tested:
Pulled down latest dev build locally. Started my local env

![image](https://user-images.githubusercontent.com/57115907/106080633-51fc0d80-60cc-11eb-98f9-d5fe7768b63b.png)

Ran the following commands:
`npm install`
`composer install`
`npm run build`
`npm run test:e2e -- tests/e2e/specs/modules/analytics/write-scope-requests.test.js`

Notice the following:
![image](https://user-i

[2021-01-28 06:23] cole10up commented on #2668
### QA ✅

Tested on a personal site. Installed AMP. Analytics and Tag Manager

Was able to confirm on AMP specific pages only one GMT Tag was added

![image](https://user-images.githubusercontent.com/57115907/106098331-b4b1d100-60ed-11eb-89f7-cb772b6a59a6.png)

Confirmed the functionality of Tag Manager and Analytics

Sending to Approval

[2021-01-28 07:01] cole10up commented on #2457
### QA ✅

Installed Analytics and Adsense followed the QA Brief paying attention to the console. I was unable to receive an error message. Refreshed multiple times, ensured each page was loading properly and nothing was broken.

![image](https://user-images.githubusercontent.com/57115907/106101823-4ff97500-60f3-11eb-98a1-58303beca057.png)

Sending to approval

[2021-01-28 07:02] cole10up commented on #2547
Removing my assignment as I might have an issue with my local causing the above.

[2021-01-28 07:20] aaemnnosttv commented on #2547
@cole10up That would be expected with a normal production build. For E2E, we need some extra things so it requires a different command for the build: `npm run build:test`.
Try this and give it another shot 👍

[2021-01-28 08:56] aaemnnosttv opened #2703 "Release 1.25.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-01-28 09:14] aaemnnosttv commented on #2429
@felixarntz simple fix – PR ready for review targeting `master`.

[2021-01-28 10:23] aaemnnosttv commented on #2507
## QA ✖️

The Optimize module still has a few datapoints which need to be removed. This was missed in the IB.

I'll open a quick follow-up to address.

[2021-01-28 11:00] aaemnnosttv commented on #2457
@cole10up – it looks like you have the Analytics data simulating a connected state which would not trigger the relevant error.
I think these two points in the QAB are inaccurate and should be skipped:
![image](https://user-images.githubusercontent.com/1621608/106129040-92a96480-6168-11eb-8eff-1e46bd71ec33.png)

With a clean cache, you should see a "Restricted metric(s):" error in the console on th

[2021-01-28 11:05] asvinb commented on #2691
@tofumatt I did see a noticeable lag when changing to a new date range, most likely because of data being fetched in the background (using Chrome). However once the data is cached, there is no lag. I also checked in Devtools and there is no difference:
![image](https://user-images.githubusercontent.com/31818/106129873-1cadf900-617a-11eb-9864-b7b4c45a1dab.png)

If you confirm the lag is ok when fet

[2021-01-28 11:09] tofumatt commented on #2691
@asvinb Yup, that's fine. The issue before that the `getModules` call itself taking over a second, which would delay the data fetching and UI updates. What you've posted looks good and I would consider passing the QA. 👍🏻

[2021-01-28 11:09] asvinb commented on #2691
Awesome. Thanks @tofumatt

### QA: ✅

[2021-01-28 11:13] wpdarren commented on #2522
### QA Update: Pass ✅

- The date on the graphs within search console is different as expected. All of the elements within the graph were checked to make sure the same date was applied.

1.25.0

![image](https://user-images.githubusercontent.com/73545194/106130461-54c63380-619c-11eb-9e9e-e6ebff28cef6.png)

1.24.0

![image](https://user-images.githubusercontent.com/73545194/106130519-6ad3f400-619c-

[2021-01-28 11:32] aaemnnosttv commented on #2701
IB ✅

[2021-01-28 11:56] wpdarren commented on #2457
@aaemnnosttv like Cole, I do not see any error messages in the console.

1. Cleared cache
2. Connected Adsense and AnalytIcs (I am using a site that has Analytics and Adsense connected previously)
3. Refreshed the dashboard and looked in the console but no error appearing.

Please note that I do have the tester plugin but the two options you mentioned were skipped.

cc. @cole10up

[2021-01-28 12:03] aaemnnosttv commented on #2457
@wpdarren

This will prevent the error 😄  – you need to use AdSense and Analytics accounts which are _not linked_ to observe the error that this issue is about.

[2021-01-28 12:05] wpdarren commented on #2457
@aaemnnosttv ah buggar, noted. On it.

[2021-01-28 12:23] wpdarren commented on #2457
@aaemnnosttv okay, we are getting somewhere! 😄

I now see the error message:

![image](https://user-images.githubusercontent.com/73545194/106137845-441abb00-61a6-11eb-9e2d-9ae5d296aae5.png)

I have refreshed the page a few times and waited for a couple of minutes, and it still appears.  According to the QAB, it suggests it should not appear for around 10 minutes. Any thoughts?

[2021-01-28 13:42] aaemnnosttv commented on #2457
@wpdarren One more thing to note: I was wrong to say that the error/warning would no longer show in the console – it would. The difference is that the request that results in this error is no longer made (as the error response is cached now for a short time). So to verify, you'll need to observe the network requests. Once triggered initially, the cache should be primed so that refreshing the page

[2021-01-28 14:09] wpdarren commented on #2457
@aaemnnosttv thanks for the additional information.

I've had a look at network for the dashboard and noticed most are saying `no-cache` in the headers but it could be that I am looking at the wrong requests. I'd be happier if an engineer looked at this to be honest.

![image](https://user-images.githubusercontent.com/73545194/106149644-77b11180-61b5-11eb-93ba-c762e497a1a6.png)

[2021-01-28 15:41] veylau commented on #852
Same question! It would be great!

[2021-01-28 15:46] tofumatt commented on #2689
IB ✅

[2021-01-28 16:05] felixarntz opened #2708 "Fix All Traffic line chart alignment"
In the new All Traffic widget, the line chart (`UserCountGraph`) currently shows weirdly "indented", compared to the big number above (`TotalUserCount`). This is different from the original design where the graph on its left side aligns with the outer padding of the entire widget.

When I looked at the DOM, it seems the extra spacing is added by the Google charts library itself. Let's see if we ca

[2021-01-28 16:36] felixarntz opened #2709 "Hovering over All Traffic pie slice tooltip should not cause flickering"
When hovering over a pie slice in the `UserDimensionsPieChart` in the new All Traffic widget, its tooltip shows up. However, if the tooltip also covers the area where you're hovering, it causes a flickering effect - since you're technically no longer hovering the pie slice in that case.

This should be fixed: When hovering the pie slice, the tooltip should appear even when then the cursor is above

[2021-01-28 16:36] tofumatt commented on #2547
Ran the tests several times, once even during a Google Hangouts call with high CPU usage—all passed except once so looks good to me!

The one failure I got after 5+ runs was a waitForNavigation error that I believe is unrelated:

<img width="701" alt="Screenshot 2021-01-28 at 16 35 39" src="https://user-images.githubusercontent.com/90871/106169161-f9d61180-6186-11eb-8026-16f5b952716b.png">

QA ✅

[2021-01-28 16:43] felixarntz opened #2710 "Prevent jumps in All Traffic widget for loading states and when switching tabs"
When the new All Traffic widget is in any loading state, you'll see brief jumps where the widget briefly is taller than usually. Similar inconsistencies can be noticed when switching tabs when new data needs to be loaded.

It seems that this is partly caused by the charts library, where on the initial render of any chart it uses a taller height for a split-second sometimes. If the problem here is

[2021-01-28 17:17] benbowler commented on #2703
Smoke test complete, I can repeat [this bug](https://github.com/google/site-kit-wp/issues/2709) and found no others.

[2021-01-28 17:21] felixarntz commented on #2709
IB = CR = ✅

[2021-01-28 17:37] aaemnnosttv commented on #2457
## QA ✅

Error is cached now and no longer re-requested via the modern `googlesitekit-api` API once cached.

**Does not affect legacy data API, but this change will reduce the number of error requests made**

<details>
<summary>Screenshots</summary>

* Initial Error
![image](https://user-images.githubusercontent.com/1621608/106175996-6f4ddc00-619f-11eb-9628-77e9aa76f14e.png)
* After page reload
![

[2021-01-28 18:41] tofumatt commented on #2699
IB ✅

[2021-01-28 18:46] felixarntz opened #2714 "Fix buggy All Traffic pie chart slice selection by introducing new React-ive GoogleChartV2 component"
#2644 originally had the primary goal of ensuring a pie slice in the new All Traffic pie chart remains selected also when changing the date range. When working on that fix (PRs #2684 and #2702), it became apparent that there are broader problems with how we use the charts library, especially in that new widget.

Potentially it's problematic that we use a single component for the three different ta

[2021-01-28 18:57] felixarntz commented on #2708
@tofumatt High-level IB almost good to go, however I don't think it fully covers this point of the ACs yet though:

Your screenshot still has the legend of the pie chart higher than the dates of the line chart. Is it possible to align those to be on the same level?

(I'll also start reviewing the PR, since it already covers the other part.)

[2021-01-28 19:05] tofumatt commented on #2708
You mean these, right:

<img width="820" alt="Screenshot 2021-01-28 at 19 03 26" src="https://user-images.githubusercontent.com/90871/106186020-93a7b980-619b-11eb-94bc-8ef06db48a43.png">

If so, indeed it is, and I'm just realising that screenshot might not even be up-to-date as I tweaked the alignment after. But it wasn't _perfect_, and they can certainly be made to line up. I'll do that this eve

[2021-01-28 19:48] felixarntz opened #2715 ""All Users" in All Traffic widget breadcrumb should link to overall view"
When the left side of the All Traffic widget shows data for a filtered subset of all users, the "All Users" segment of the "All Users > ..." breadcrumb should look like a link. When clicked, it should result in the overall graph being displayed again and the respective pie slice being unselected.

---------------

_Do not alter or remove anything below. The following sections will be managed by mo

[2021-01-28 19:50] felixarntz opened #2716 ""Others" slice in All Traffic widget should not be selectable"
The "Others" slice in the new All Traffic widget should not be selectable, since it doesn't alter the UI on the left at all. Indicating it as being selectable results in confusing UX.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Any "Others" slice displayed in the All Traffic widget pie chart should

[2021-01-28 20:01] felixarntz commented on #2709
**QA** ⚠️

It isn't possible now to access links in the tooltips anymore. Not sure whether it's caused by this issue or #2701. @aaemnnosttv @eugene-manuilov Can we maybe achieve it so that the tooltip remains there as long as you hover over the pie slice _or_ the tooltip?

cc @marrrmarrr

[2021-01-28 21:12] eugene-manuilov commented on #2709
@felixarntz it should be fixed now. Could you please take a look at #2718?

[2021-01-28 22:09] felixarntz commented on #2708
IB ✅  - there's some feedback to address in the PR though.

[2021-01-29 00:23] wpdarren commented on #2709
### QA Update: Failed ❌

@eugene-manuilov @felixarntz

I am still seeing flickering in a specific scenario:

Hover over a slice in the pie chart, but do not click it.  You will see a tooltip appear, hover over it, and it starts flickering.

When you select the slice and hover over the tooltip, then the tooltip does not flicker.

![tooltips](https://user-images.githubusercontent.com/73545194/106215

[2021-01-29 00:34] felixarntz commented on #2709
@wpdarren Did you test using the `master` branch? Since we've already branched off to `master` for the upcoming 1.25.0 release, all issues that are still being worked on and that are tagged for 1.25.0 need to be QAd on the `master` branch.

Double-checking since it works for me on `master`.

[2021-01-29 00:37] wpdarren commented on #2623
### QA Update: Pass ✅

On the new dashboard module the `>` appears after `Users` So the full text reads `Users > Organic Search`

![image](https://user-images.githubusercontent.com/73545194/106215912-f1281e80-620c-11eb-9f11-52cc67b14166.png)

[2021-01-29 00:58] wpdarren commented on #2709
@felixarntz  I am seeing the other changes implemented to this feature.  I tested with 1.24.0 activated and used the tester plugin to connect to the develop branch and development build. I also checked on 1.25.0 with develop branch and development build and could recreate the issue reported.  When you click on the slice it is fine, but when you just hover over the tooltip it flickers. I don't have

[2021-01-29 01:02] felixarntz commented on #2709
@wpdarren Yes, with the `develop` branch this is still an "expected" bug right now. Since it is part of the 1.25.0 release, the fix is right now only present in the `master` branch. Can you retest using a build from the `master` branch? E.g. the latest production build from https://github.com/google/site-kit-wp/wiki/refs/heads/master/google-site-kit.zip

[2021-01-29 01:22] wpdarren commented on #2709
@felixarntz Ahh, sorry, misunderstood. Yes, I will do that now.

[2021-01-29 01:28] wpdarren commented on #2709
### QA Update: Pass ✅

The tooltip no longer flickers when you hover over the tooltip of a slice.

![image](https://user-images.githubusercontent.com/73545194/106219412-40258200-6214-11eb-81f3-0483ed3db640.png)

[2021-01-29 01:40] wpdarren commented on #2623
### QA Update: Pass ✅

The `>` is appearing after Users, i.e. `Users > Organic Search`
Checked this for all slices in the pie chart with different date periods.

![image](https://user-images.githubusercontent.com/73545194/106220218-f6d63200-6215-11eb-8608-e9cfcdafc6ea.png)

[2021-01-29 01:56] wpdarren commented on #2701
### QA Update: Engineer to confirm ⚠️

@felixarntz @aaemnnosttv

This is working as per the QAB but have an UX observation.

When you have a tooltip with a link, if you hover away from a slice, the tooltip disappears, so you are unable to click the link.

It depends on the placement of the slice and tooltip.

On my test site I've not being able to demonstrate this but let's pretend that the Yellow

[2021-01-29 02:00] felixarntz commented on #2701
@wpdarren I flagged the same in https://github.com/google/site-kit-wp/issues/2709#issuecomment-769343573 and there has since a fix been added. I don't encounter this problem anymore on `master`, can you check?

[2021-01-29 03:10] cole10up commented on #2429
### QA ❌

**Tested:**
On my personal site, I ran the following test using **Chrome:**

1. Reset, deactivated and deleted the prior version installed
2. Installed, activated and setup the zip above
3. Setup the Analytics module and navigated to the dashboard

Notice two graphs, one empty and one with data:
![Site Kit by Google Dashboard ‹ SupremeQA — WordPress](https://user-images.githubusercontent

[2021-01-29 03:32] cole10up commented on #2644
### QA ❌

This passed using Chrome but **Failed using Safari**

Steps:
1. Using a fresh Safari browser session with my personal site
2. Reset, deactivated and deleted the prior version installed
3. Installed, activated and setup the latest release candidate zip
4. Setup the Analytics module and navigated to the dashboard

Notice the following:
![Untitled_ Jan 28, 2021 7_24 PM (1)](https://user-ima

[2021-01-29 08:02] wpdarren commented on #2701
`Can we maybe achieve it so that the tooltip remains there as long as you hover over the pie slice or the tooltip?`

@felixarntz I am using master. I have cleared my cache. The tooltip is slightly displayed further away from the pie chart, so you move your mouse to go over the tooltip to click on the link but it's not possible.  Of course, in the example below the blue slice doesn't have a link bu

[2021-01-29 08:18] aaemnnosttv commented on #2507
## QA ✅

* No settings-specific datapoints remain!
* _Optimize_ no longer has any datapoints, and related methods have been removed (due to changes in a semi-recent issue which no longer requires all modules to implement them)
* All module datapoints now all reference a `service` in their definition
	- The only exception here seems to be `GET:tag-permission` although this probably should have a se

[2021-01-29 08:21] wpdarren commented on #2429
@cole10up did you clear your browser cache? I was just able to recreate this with the zip, but when I cleared cache, it displayed as expected.  c.c. @aaemnnosttv @felixarntz

[2021-01-29 09:02] aaemnnosttv commented on #2429
@cole10up – I tested with the latest zip in Chrome, Firefox, and Safari and wasn't able to reproduce what you're seeing here.

I also tried logging in on your site to see if I could see it there but I don't have access to the configured Analytics profile so the widget doesn't show at all for me.

Sending this back to QA for another pass as it seems most likely like a cache issue. Can you take anot

[2021-01-29 10:24] aaemnnosttv opened #2719 "Legacy dashboard layout shifts when enabling Analytics via CTA"
## Bug Description

Currently, the main dashboard layout slightly varies in its structure and widget positions depending on whether or not the Analytics module is active. This results in an unexpected visual glitch when activating Analytics via the CTA on the dashboard.

![Kapture 2021-01-29 at 12 09 11](https://user-images.githubusercontent.com/1621608/106261923-ea100900-622a-11eb-9b61-09dd70412d

[2021-01-29 11:09] aaemnnosttv opened #2721 "Search Console dashboard overview chart display problems when more than 2 metrics selected"
## Bug Description

Currently the dashboard overview component on the Search Console dashboard has a few problems when multiple metrics are selected at the same time.

1. Axis labels on the right side of the overview chart become stacked as more than 2 metrics are selected.
	* **2 metrics**
	![alive-snare jurassic ninja_wp-admin_admin php_page=googlesitekit-module-search-console](https://user-imag

[2021-01-29 12:15] aaemnnosttv opened #2722 "WP core checkbox styles introduce odd visual effect"
## Bug Description

Recently I've noticed an odd element appear very briefly when starting the AdSense setup flow. It appears to be related to WP core checkbox styles that add an image using a data-uri on the `::before` pseudo-element for checked checkboxes.

![image](https://user-images.githubusercontent.com/1621608/106273631-a83b8e80-623b-11eb-9440-7abc15c0ff3a.png)
![image](https://user-images.

[2021-01-29 12:25] aaemnnosttv commented on #2514
@caseymorrisus @felixarntz I just noticed with the current implementation that if you navigate back in a way that results in a hash change, the app does not update accordingly. I was going to open this as an issue but I would expect the router will fix this. @caseymorrisus can you confirm that this will work as expected with the router-based implementation?

![Kapture 2021-01-29 at 14 19 27](https

[2021-01-29 12:43] eugene-manuilov commented on #2644
Hm... i can't reproduce it on my end. @tofumatt do you have Safari? I am on Ubuntu and don't have it. Could you please try it on your end?

[2021-01-29 12:47] wpdarren commented on #2429
### QA Update:

**Verified:**

- On the dashboard, the All Traffic Widget must be updated to the v2.
- All Traffic heading must be changed to `Your Traffic at a Glance`.

For reference I used the `master` branch to test this.
Cleared cache.  Disconnected and reset Site Kit. Then Connected Google account and Analytics.

![image](https://user-images.githubusercontent.com/73545194/106275693-35e5a100-

[2021-01-29 12:50] TorbenLundsgaard opened #2724 "Allow PHP8"
## Feature Description

Start testing all pull requests on PHP8

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new GitHub action that replicates the "PHP (PHP 7.4, WordPress Latest)" one, except that it uses PHP 8.0.
* Any failures, errors or warnings that this job results in should

[2021-01-29 12:53] aaemnnosttv commented on #2429
@wpdarren – this is referring to removing stories in storybook which render the old version of the all traffic widget (which should now be completely removed). For example: [this one](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/dashboard--all-traffic).

[2021-01-29 13:10] wpdarren commented on #2429
### QA Update: Passed ✅

**Verified:**

- On the dashboard, the All Traffic Widget is updated to v2.
- All Traffic heading is changed to `Your Traffic at a Glance`.
- The old widget in storybook is removed from the dashboard

For reference I used the `master` branch to test this.
Cleared cache.  Disconnected and reset Site Kit. Then Connected Google account and Analytics.

![image](https://user-im

[2021-01-29 14:17] tofumatt commented on #2644
@cole10up  Can you go to the same site and click in the _exact_ order as you did in the GIF with Chrome? I couldn't reproduce that issue in Safari, but from how it's coded and the data I'm seeing in your GIF that shouldn't be a browser-specific issue unless the order of the chart data isn't consistent.

Can you check to see if that _exact_ approach happens in Chrome too? The chart selection is pre

[2021-01-29 15:14] wpdarren commented on #2703
@felixarntz @aaemnnosttv @cole10up

I've noticed a rounding issue with the position data on search console module on `Average CTR` and `Position`

The data is expexted slightly different because it has up until 1 day before on the chart in the latest zip.

On 1.25.0 latest zip

![image](https://user-images.githubusercontent.com/73545194/106291773-02ae0c80-6287-11eb-8235-f9ae7f406a12.png)

On 1.24.

[2021-01-29 15:14] johnPhillips commented on #2588
@aaemnnosttv I notice that `numFmt` itself calls `prepareSecondsForDisplay` internally (although this only happens if you pass `style: 'duration'` and it doesn't seem that we currently do that anywhere in the codebase at the moment).

It also appears we don't really make use of `prepareSecondsForDisplay`, although we use `numFmt` all over the place.

So I'm a bit confused as to whether the end goa

[2021-01-29 15:23] aaemnnosttv commented on #2429
@felixarntz this wasn't in the ACs (or IB) but there is one remaining story that has the old all traffic widget in it:
https://github.com/google/site-kit-wp/blob/9da5402e860b9333022b2082dfd74cbec0709f22/stories/dashboard.stories.js#L56
This is essentially just a wrapper for `LegacyDashboardAcquisitionPieChart` and `LegacyAnalyticsAllTrafficDashboardWidgetTopAcquisitionSources` though.

Should we a

[2021-01-29 15:27] wpdarren commented on #2703
Other than the issue reported above. I've not observed any obvious issues or console errors. I know we still have a number of tickets still in code and merge reviw to QA so will need another round of smoke testing. Have kept myself assigned.

[2021-01-29 15:31] aaemnnosttv commented on #2703
Thanks @wpdarren – I noted a few issues with this component as well in #2721 but those weren't a regression and this one appears to be.

[2021-01-29 16:15] wpdarren opened #2725 "Search Console > Average CTR and Position Data Rounding Issue"
## Bug Description

While testing the latest 1.25.0 zip file,  I noticed a rounding issue with the `Average CTR` and `Position` data within the Search Console module.  This is not an issue on 1.24.0 as you can see on the screenshot below.

On 1.25.0 latest zip

![image](https://user-images.githubusercontent.com/73545194/106293685-40139980-6289-11eb-9f1b-f0cf74039dc3.png)

![image](https://user-ima

[2021-01-29 16:18] aaemnnosttv commented on #2701
@wpdarren

In my testing, the only tooltip with a link (Locations for _Others_ slice) was always overlapping the slice and clickable.
![image](https://user-images.githubusercontent.com/1621608/106299385-c1553700-625d-11eb-8c09-b85006f7d139.png)

@felixarntz I think this is a good observation but probably shouldn't block the issue here (I'm also not sure we have that much control over the positioni

[2021-01-29 16:39] aaemnnosttv commented on #2602
IB LGTM ✅

[2021-01-29 16:46] swissspidy commented on #2602
@aaemnnosttv @felixarntz Once this is implemented, how can we on our side detect whether Site Kit is already displaying AdSense ads in stories so that we disable our own integration & can inform the user? e.g. using `get_option(...)`

[2021-01-29 16:49] caseymorrisus commented on #2514
@aaemnnosttv I can confirm that this is fixed with the `react-router` implementation (which I'm spending time on today).

[2021-01-29 17:20] aaemnnosttv commented on #2725
@felixarntz – After taking a closer look at this, I found it was a result of changing the version of the Google Charts library that we load. Reverting d3fc387cf63e28669b140f88dafc466db5be052f restores the previous behavior.

We could (and probably should) update `SearchConsoleDashboardWidgetSiteStats` to format the numbers itself rather than chart defaults.

[2021-01-29 17:30] aaemnnosttv commented on #2602
@swissspidy You should be able to check for the value of the chosen `webStoriesAdUnit` in the `googlesitekit_adsense_settings` option array. E.g.
[code]

[2021-01-29 17:45] felixarntz commented on #2429
@aaemnnosttv No huge preference, if this is something we can quickly do, I think it's least work to open a follow-up PR against this issue.

[2021-01-29 17:48] felixarntz commented on #2725
@aaemnnosttv Agreed. How much work do you think formatting these values in our component would involve? Technically this is a regression, so preferably should be fixed for the release.

[2021-01-29 17:52] eugene-manuilov commented on #2703
All looks good on my end. Haven't found anything new.

[2021-01-29 17:52] felixarntz commented on #2719
Good catch! IB ✅

[2021-01-29 17:59] aaemnnosttv commented on #2725
@felixarntz – probably not that much; I'll take a look now.

[2021-01-29 18:01] felixarntz commented on #2644
@cole10up @tofumatt I think overall this UX improvement is not super critical for the functionality of the widget, and we already have #2714 in place to fix these inconsistent failures. Unless there is a broader issue where e.g. we'd select the wrong slice or display incorrect data, I think we can wave this through for the release. We should be strict when testing #2714 - the only reason we're not

[2021-01-29 18:04] felixarntz commented on #2701
@aaemnnosttv Agreed, it looks like having links inside these tooltips is not intended if the library makes them show up slightly away from the actual hover UI. But we should also investigate whether we can customize it so that these tooltips would _always_ overlap what is being hovered over.

@wpdarren @aaemnnosttv Can one of you open a follow-up bug?

[2021-01-29 18:30] felixarntz commented on #2708
@aaemnnosttv Can you give the PR a quick test?

[2021-01-29 18:45] felixarntz opened #2727 "Add support for breakpoint-specific sizes to `PreviewBlock`"
The `PreviewBlock` component only supports a single `width` and `height`. This is not always sufficient, as the "loaded" versions of where the `PreviewBlock` is used may differ in height e.g. between tablet and desktop, or even desktop and larger desktops.

See https://github.com/google/site-kit-wp/pull/2712#pullrequestreview-579513552, where a workaround around this limitation was necessary.

---

[2021-01-29 19:12] tofumatt commented on #2644
So, after testing this out locally with the data set provided by @cole10up, turns out this isn't actually a bug with the implementation of this feature, but of how the colours are displayed/chosen by the charts library/component. It caused us to think the selection was being changed in different date ranges because the _colour_ changed. But take a look at the value selected in this GIF:

![2021-01

[2021-01-29 19:14] tofumatt commented on #2644
(@cole10up confirmed QA was otherwise good, so we're set! 👍🏻 )

[2021-01-29 20:44] felixarntz commented on #2708
**QA** ⚠️

y-axis values of the line chart in the All Traffic widget are no longer displaying.

[2021-01-30 12:02] benbowler commented on #2554
Added IB and estimate.

[2021-01-30 12:49] benbowler commented on #2539
I've switched bundlesize with the [preactjs/compressed-size-action action](https://github.com/preactjs/compressed-size-action) because of [this issue](https://github.com/google/site-kit-wp/pull/2667#issuecomment-769071357).

![Screenshot 2021-01-30 at 12.38.15.png](https://images.zenhubusercontent.com/54c7c87f7c6ccc6277a70347/0b919b74-966e-4cc0-af5b-8db6f6e8eecd)

Once this is approved @felixarntz

[2021-01-30 13:42] benbowler commented on #2693
Added an IB and estimate.

[2021-01-31 17:29] johnPhillips commented on #2703
Apart from the issues mentioned above it all looks good to me!

[2021-02-01 02:16] caseymorrisus commented on #2703
Looks good on my end, nothing new to report.

[2021-02-01 09:52] aaemnnosttv opened #2734 "AdSense Dashboard Summary displays data inconsistently with others"
## Bug Description

Currently, the AdSense summary widget on the Site Kit dashboard displays 3 metrics with a Sparkline for each to show the performance over time. This widget displays the information a bit differently than elsewhere which is a bit confusing (since it isn't mentioned anywhere in the interface).

Specifically, the Sparkline for the metric is only for data starting from the beginnin

[2021-02-01 10:09] aaemnnosttv commented on #2539
@felixarntz – please give this a look over as well since the approach has changed a bit due to the "hosted" bundlesize no longer being an option. @benbowler and I looked over a few available options and decided to go with `preactjs/compressed-size-action` which is what Gutenberg uses as well.

[2021-02-01 12:36] wpdarren commented on #2701
@felixarntz @aaemnnosttv sure, I will create a bug ticket for this.

[2021-02-01 12:53] wpdarren opened #2737 "All Traffic pie chart tooltip is too far away to click link"
## Bug Description

For the new All Traffic pie chart, the tooltip is displayed slightly away from the slice. So, when you move your mouse to go over the tooltip to click on the link, it closes.  In the example below the blue slice doesn't have a link but if it did I would not be able to click it. I suspect it might also depend on the screen size.

## Steps to reproduce

1. Go to 'Dashboard' and s

[2021-02-01 12:55] wpdarren commented on #2701
### QA Update: ✅  Pass

- The tooltip appears only when you hover over a pie slice in the user dimensions chart and doesn't stick when you select a slice.

[2021-02-01 13:12] wpdarren commented on #2725
### QA Update: Pass ✅

- The values for CTR and Position in tooltips when hovering lines are a maximum of 3 fractional digits.
- All of the other values in Search console chart appear as expected.
- Checked date periods, 7, 14, 28 and 90 days.

![image](https://user-images.githubusercontent.com/73545194/106463069-e18d2c00-64d1-11eb-9a4f-24734fc6f10e.png)

![image](https://user-images.githubusercon

[2021-02-01 15:09] aaemnnosttv commented on #2603
@felixarntz thanks for clarifying, although your last comment seems to conflict with the last point in the current ACs which says that the entry should only be added to the supported features if the feature flag is set. I'll go with what you said and add it unconditionally, but please confirm and update the ACs if necessary.

IB updated and ready for another pass 👍

[2021-02-01 15:31] felixarntz commented on #2603
@aaemnnosttv Good catch, I've updated this in the ACs too.

IB almost ✅, but it's missing a note on removing the bit about the `user_input` query parameter, which would probably be good to have for completeness.

[2021-02-01 15:43] #2452 closed

[2021-02-01 15:43] #2252 closed

[2021-02-01 15:43] #2691 closed

[2021-02-01 15:43] #2255 closed

[2021-02-01 15:43] #2511 closed

[2021-02-01 15:43] #2477 closed

[2021-02-01 15:43] #2563 closed

[2021-02-01 15:44] #2561 closed

[2021-02-01 15:44] #2624 closed

[2021-02-01 15:44] #2663 closed

[2021-02-01 15:44] #2625 closed

[2021-02-01 15:44] #2497 closed

[2021-02-01 15:44] #2062 closed

[2021-02-01 15:44] #2675 closed

[2021-02-01 15:44] #2692 closed

[2021-02-01 15:44] #2642 closed

[2021-02-01 15:44] #2674 closed

[2021-02-01 15:44] #2522 closed

[2021-02-01 15:44] #2547 closed

[2021-02-01 15:44] #2457 closed

[2021-02-01 15:44] #2623 closed

[2021-02-01 15:45] #2507 closed

[2021-02-01 15:45] #2429 closed

[2021-02-01 15:45] #2644 closed

[2021-02-01 15:45] #2701 closed

[2021-02-01 15:45] #2725 closed

[2021-02-01 15:56] felixarntz opened #2738 "Fix All Traffic pie chart legend and line chart x-axis labels to vertically align"
This was previously _attempted_ in #2708, but did not resolve the issue. This is a separate follow-up issue because we didn't have time to make this work in the 1.25.0 release.

Please have a look at #2712: At some point, the legend and the x-axis labels properly aligned. However, that fix introduced a super-large extra whitespace below which made the UI look worse than before. When that margin wa

[2021-02-01 15:58] felixarntz commented on #2708
QA ⚠️

The x-axis labels and the legend still do not align. This was actually missed to catch during review of #2712 where the fix to another visual regression introduced by this also broke the alignment once again.

This is not a highly critical issue for the release, so I've opened #2738 to actually address that.

cc @tofumatt @aaemnnosttv

[2021-02-01 15:58] felixarntz commented on #2708
I'll move this to Approval.

[2021-02-01 16:28] felixarntz opened #2739 "Add tooltip tour for Analytics All Traffic widget"
There should be a tooltip tour explaining the new All Traffic widget. While it was already shipped in 1.25.0, it's still worth shipping this a bit later. The copy will be worded accordingly to reflect that.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new tooltip tour for the All T

[2021-02-01 16:29] marrrmarrr commented on #276
Hey everyone, thanks for your comments about adding multisite support, it helps to understand the use-cases when we prioritise what features to work on in what order.
Multisite support is definitely on our todo list for 2021!

[2021-02-01 16:34] felixarntz opened #2740 "Add Analytics events for interacting with All Traffic widget"
We should add Analytics events for certain interactions with the new All Traffic widget that was introduced in 1.25.0.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following Analytics events should be sent when interacting with the new All Traffic widget:
    * `tab_select`: User selects a speci

[2021-02-01 18:05] #2708 closed

[2021-02-01 18:06] #2668 closed

[2021-02-01 18:29] ZDerekh commented on #2542
Any news on this issue? Besides the described behavior, the Complianz popup is being not translated.

[2021-02-01 21:41] aaemnnosttv commented on #2648
@felixarntz IB ready for review!

One thing I didn't include here (perhaps warrants its own issue) is the need to extend our E2E infra with a utility to reset everything – including persistent values like these new ones. As it is now, they would linger and leak between tests. It shouldn't make a difference now, but will bite us later if we don't preempt it.

[2021-02-01 23:02] tofumatt commented on #2034
Moving this back to IB because the dependencies we should upgrade is no longer "all of them". The following dependency upgrades caused issues when I tried to work on this issue again in #2728.

The following dependencies need more investigation (not exhaustive):

* `@wordpress/data`
* `@wordpress/eslint-plugin`
* `@wordpress/scripts`
* `react`/`react-dom`/`@wordpress/element`
* `fetch-mock-jest`/`

[2021-02-01 23:39] #2703 closed

[2021-02-02 01:14] felixarntz commented on #2648
@aaemnnosttv

Couldn't that be a fairly simple utility, like a mini REST endpoint that deletes the options? I feel like that would be good to include here, to avoid unexpected changes from these values persisting.

The IB otherwise looks mostly good, but some feedback on naming below.

Why use this namespace? It looks like this would be introducing a new pattern where we use namespaces according t

[2021-02-02 01:20] felixarntz commented on #2103
@eugene-manuilov IB mostly LGTM, just one thing:

We shouldn't add new REST routes to this centralized class, they should rather go into an area related to the feature they're related to - only some overarching routes and leftovers are still in that class which is more responsible for the REST infrastructure.

We could either add the REST route in a new method in `Core\Util\Tracking_Consent`, or w

[2021-02-02 01:23] felixarntz commented on #2716
@asvinb Is there no way to define this per piece of data when providing it to the chart? If not, maybe this is an okay approach. @eugene-manuilov Would be good if you could review the IB here as well.

[2021-02-02 01:24] felixarntz commented on #2715
IB ✅

[2021-02-02 01:27] felixarntz commented on #2533
IB ✅

[2021-02-02 01:28] felixarntz commented on #2700
IB ✅

Great that we'll get rid of the regular legend here, which will also allow us to use the original highlighting from the Figma file.

[2021-02-02 01:35] felixarntz commented on #2513
@aaemnnosttv Can you clarify how you got to the IB here? It might be worth going with what you're saying and merge settings instead of expecting all of them to be passed. At the same time though, why are we _not_ passing all settings on the client? Wouldn't that be the root of this JS error, basically what incorrectly used our REST endpoint?

[2021-02-02 01:42] felixarntz commented on #2710
@eugene-manuilov I've by now already updated the `PreviewBlock`s to match their heights in https://github.com/google/site-kit-wp/commit/32e2be50d6258fed36aedbae8ca85a9234b16889. The only weird jump that remains on my end is that the `PreviewBlock` instance for the pie chart specifically jumps at some point _during_ the loading phase. See here:

https://user-images.githubusercontent.com/3531426/106

[2021-02-02 01:44] felixarntz commented on #2714
IB ✅

[2021-02-02 01:47] felixarntz commented on #2683
IB ✅

[2021-02-02 01:52] felixarntz commented on #2693
@benbowler I think there are some things to review for the IB here:

The main part that needs to be changed here is that the two actions should _fire_ (i.e. `do_action` calls) regardless of whether the proxy is being used, so the related if clauses around the `do_action` calls need to be removed.

Then, all callbacks that are added to one of the two actions using `add_action` have to be audited in

[2021-02-02 02:00] felixarntz commented on #2554
@benbowler IB looks close, but there are two pieces that likely need to be changed:

I think this should rather be a regular equal comparison. We should only match entries where the domain matches exactly the site's domain, for example a subdomain would still contain the site's domain, but should still not be included.

This needs to only get the site's domain, not the full site URL, which would a

[2021-02-02 09:30] aaemnnosttv commented on #2648
@felixarntz sure, that's what I had in mind and was going to include it originally but this isn't the first issue to introduce such an option (that would have been #2692). I've added it to the IB, but it isn't really needed yet so given the size of the issue already, this part could easily be extracted into a separate issue.

I wasn't intending to mirror the name of the datastore, but it just seem

[2021-02-02 09:48] aaemnnosttv commented on #2603
@felixarntz ah you're right – updated 👍

I assume this is good to go now since you moved it forward to the backlog?

[2021-02-02 10:22] eugene-manuilov commented on #2738
@felixarntz how should this work when we have a multiline legend in the pie chart caused by very long labels? (see #2700) cc @tofumatt

[2021-02-02 10:40] eugene-manuilov commented on #2716
@asvinb @felixarntz I am not sure that using `cursor` styles will prevent the Others slice to be selectable (at least because you can also select a slice by clicking on a legend item). I think what we really need to do is to immediately clear selection in the handler function for the `select` event when a user selects the Others slice.

[2021-02-02 12:58] aaemnnosttv commented on #2513
@felixarntz we already don't require all settings to be passed, since [it uses `Module_Settings::merge` internally](https://github.com/google/site-kit-wp/blob/14cfa1947871bfcdff36c19c68408121d7676bae/includes/Core/Modules/Modules.php#L858-L860) so there's no actual change there. The problem is that we conditionally return a `WP_Error` if `merge` returns `false` which will happen if there is no cha

[2021-02-02 13:27] wpdarren commented on #2347
### QA Update: Engineer to confirm ⚠️

**Observations:**

@johnPhillips @aaemnnosttv

1) In the QAB it states that the animation should be next to the `confirm` button. I'm sure it's a typo, but it appears next to the
`reset ` button as per screenshot above. I didn't want to assume anything. Is this correct?

![image](https://user-images.githubusercontent.com/73545194/106605527-f6ce8d00-659b-11eb-

[2021-02-02 13:58] wpdarren opened #2743 "All Traffic dimension tabs not displaying on small screen sizes"
## Bug Description

Discussed this with @felixarntz on #2663.

For small screens (iPhone 6 similar screen sizes) not all of the dimension tabs are displayed on the new All Traffic widget. I realise you can swipe across to see the next tab but it is not obvious. Only a minor issue since very few people will be using mobile in the WordPress dashboard but thought I would raise it.

## Steps to reprod

[2021-02-02 15:45] felixarntz commented on #2603
Yes, all good - was expecting that update to be trivial :)

[2021-02-02 15:48] felixarntz commented on #2738
@eugene-manuilov Good question - I wonder whether then the multiline legend should appear vertically centered compared to the line chart x-axis (i.e. no line is exactly on the same line as the line chart x-axis, but they still look somewhat aligned).

[2021-02-02 19:32] aaemnnosttv opened #2747 "Search Console x-axis labels truncated on 90 day charts"
## Bug Description

Currently our charts used on most overview pages show dates below the chart along the x-axis. This works fine in most cases, and the chart will dynamically show less labels as the width of the viewport gets narrower. However, even on a large display, the 90-day range results in some of the labels being individually truncated with what seems to be a `text-overflow: ellipsis;` st

[2021-02-02 20:00] felixarntz opened #2748 "Allow reset of persistent Site Kit options"
#2692 and #2626 have introduced a new pattern where Site Kit options or user options that are persistent should not be deleted when resetting or disconnecting.

For regular production use, it **must not** be possible to delete those settings. However, for development, allowing this is crucial, e.g. in e2e tests. Including persistent reset functionality in the plugin itself (rather than only E2E) c

[2021-02-02 20:01] felixarntz commented on #2648
@aaemnnosttv IB ✅

I've split out the e2e/CLI-related parts into a new issue #2748 as you suggested. The IB parts you added I moved there as is, those are good to go as well. I've added an estimate of 7 for the other one, that should be reasonable.

[2021-02-02 20:02] felixarntz commented on #2748
IB ✅

[2021-02-02 20:08] felixarntz commented on #2513
@aaemnnosttv Thanks for clarifying, that makes sense. I wonder though, it feels odd to me (as I already mentioned in the ACs) that not updating the option because it already has that value results in `false` being returned. IMO this is unintuitive: yes there was no update, but that's a low-level detail - the setting _does_ have the value that is expected after the update call. Checking whether an

[2021-02-02 20:30] felixarntz commented on #2539
@aaemnnosttv @benbowler Is there no way to make this a PR check that shows along the other checks (CLA, tests, etc.)?

[2021-02-02 21:26] felixarntz commented on #942
@aaemnnosttv Added ACs for this one. I've decided to keep the similar `OAuth_Client` methods for now, as wrappers. We can remove them as a follow-up issue and then rewrite the related calls. I'm also thinking we should try to find a way to get rid of that `googlesitekit_proxy_setup_url_params` filter - would be more straightforward to have the method purely arguments-driven.

[2021-02-03 07:43] aaemnnosttv commented on #2508
@benbowler – assigning back to you to resolve the conflicts with the branch.

[2021-02-03 09:25] asvinb commented on #2716
@eugene-manuilov I've updated the IB to reflect that. Basically we call  ```chart.setSelection( [] );``` if the "Others" slice is selected. We need to keep the CSS updates so that the cursor is not set to pointer when hovering the "Others" slice.

[2021-02-03 09:38] asvinb commented on #2655
@aaemnnosttv @felixarntz I spent some time trying to reproduce, across different browsers but was unable to. I'am not sure whether we should continue looking into the issue unless we can consistently reproduce it.

[2021-02-03 10:24] aaemnnosttv opened #2749 "Expose registry select and dispatch to module `checkRequirements` functions"
## Feature Description

In #2587 we did away with accessing the global registry outside of our JS entry points. A complications of this change exposed areas where we were previously reaching for this instance where we shouldn't, such as the `checkRequirements` function for AdSense, which selects `isAdBlockerActive` from its datastore.

Given that datastore access is a reasonable dependency for mod

[2021-02-03 10:50] aaemnnosttv commented on #2655
@felixarntz – is this still relevant now that this component was replaced by the new All Traffic widget?

[2021-02-03 11:44] aaemnnosttv opened #2750 "Stringify console data logged for errors to support E2E debugging"
## Feature Description

When an HTTP request is dispatched by the moden `API` module or the legacy `dataAPI` (including `withData`), we log the errors to the console, which is useful for troubleshooting in support.

However, this is less than ideal in E2E where objects are "hidden" as `JSHandle@object` in logs due to the way objects are passed from the browser context to console events that we sub

[2021-02-03 11:49] aaemnnosttv commented on #2347
@wpdarren yes, it should say "Reset" button. Looking at your screenshot though, the spinner should be much closer to the button itself though rather than centered. Can you refresh your cache to get the latest styles?

Good catch! You're right that it isn't related to the issue here but is likely triggered by the disconnect. Can you open a new issue for this? One thing to note is that this issue on

[2021-02-03 13:03] wpdarren commented on #2347
### QA Update: Pass ✅

- When I click on the Reset Site Kit link, a popup appears with a spinning animation next to the Reset button.

![image](https://user-images.githubusercontent.com/73545194/106750654-1086d780-6663-11eb-9ece-144d0c765d92.png)

@aaemnnosttv  Noted. I initially tested the reset functionality by the admin settings and via disconnecting, just to make sure the behaviour was the sam

[2021-02-03 13:27] wpdarren opened #2751 "Checking compatibility animation appears when disconnecting a site"
## Bug Description

When a user clicks on the `Disconnect Site` link in the user menu, the screen appears to confirm that the site is disconnected but the `Checking compatibility` animation appears directly next to the `Reset Site Kit` link on load. I suspect that this should not be appearing when disconnecting?  If this is expected behaviour could we improve the UI so that there's space between t

[2021-02-03 13:42] benbowler commented on #2715
Added an IB.

[2021-02-03 14:06] wpdarren commented on #2719
### QA Update: Pass ✅

- Verified the initial issue on the latest release when you click on the `Setup Analytics` CTR, there is an unexpected visual glitch.  When on `develop` branch the glitch does not appear. I am also able to setup Analytics without any issues.

[2021-02-03 14:17] eugene-manuilov commented on #2103
Okay, got it. Updated IB to add the new route to the `Core\Util\Tracking` class.

Yeah, maybe but I think it is out of scope for this ticket. Maybe we should create a follow-up ticket?

[2021-02-03 14:21] benbowler commented on #2594
In order to get #2241 through automated tests and CR I ended up merging the changes from #2594(this ticket)->#2241. Now #2241, the work in this ticket has now been approved and merged. The question is, what happens to this ticket? Should we close it as duplicate or move it to QA directly?

@tofumatt @aaemnnosttv

[2021-02-03 14:23] eugene-manuilov commented on #2716
@asvinb IB almost looks good. The last piece to add is to remove event listeners when the google chart component is unmounted. Check the `GoogleChart` component, we should do it in the same way how we remove event listeners for `ready` and `select` events.

[2021-02-03 15:03] wpdarren commented on #2699
### QA Update:  Fail ❌

There is some inconsistency with the displaying of the horizontal axis dates depending on the date period selected.

**For 7 days on desktop:** there are three dots (...) on the first date and then 6 dates are displayed (the 6th is quite close to the vertical axis)

![Screenshot](https://user-images.githubusercontent.com/73545194/106763087-71b5a780-6671-11eb-9fb3-49d8acae3f

[2021-02-03 15:04] asvinb commented on #2716
IB updated @eugene-manuilov

[2021-02-03 15:07] eugene-manuilov commented on #2716
@asvinb I don't see where we set `onMouseOver` and `onMouseOut` properties in the IB. Plus, it shouldn't replace existing `onSelect` and `onReady` listeners like it is shown in your snippet.

[2021-02-03 15:22] jamesozzie opened #2753 "Admin Toolbar - error on hover: `Failed to execute ‘createElement’ on ‘Document’"
## Bug Description

[One user is](https://wordpress.org/support/topic/failed-to-execute-createelement-on-document-error-message/#post-13997792) encountering the below message when hovering over the Site Kit admin dashboard menu icon:

[code]

## Screenshots

## Additional Context

 - Plugin Version: 1.25.0
 - Awaiting Health Check & Troubleshooting Plugin check (some optimisation plugins active).

[2021-02-03 15:49] felixarntz commented on #2655
@aaemnnosttv Ah right - I'm gonna close this. I have at some point seen a similar visual bug with the new one, but not recently. So unless it comes up again, we don't need to do anything about this issue.

[2021-02-03 15:49] #2655 closed

[2021-02-03 15:49] eugene-manuilov commented on #2710
@felixarntz yeah, seems like the last bit is to adjust the size of the preview block for the user dimensions pie chart. IB is updated.

[2021-02-03 15:52] felixarntz commented on #2699
Thanks @wpdarren! The most important thing we should try to avoid here is seeing shortened dates anywhere. Regarding the amount of dates displayed, it's okay that that varies depending on screen size - although I would think even for narrow viewports there would at least be enough space to display start and end date maybe?

cc @benbowler

[2021-02-03 16:00] agoll commented on #2753
Howdy,
User here. I've attached a video capture of the issue.
I'm working (day job) at the moment, so I'll gather other info periodically throughout the day.
This is an issue only I am able to see, and I suspect that this is a plugin compatibility issue.

https://user-images.githubusercontent.com/34747792/106773180-07175400-65fe-11eb-9ab5-07473f1c66b0.mp4

[2021-02-03 16:15] felixarntz commented on #2648
@fhollis Did you accidentally move this back to "IB Review"? I approved it yesterday, so it should be in EB.

[2021-02-03 16:16] felixarntz commented on #2710
IB ✅

[2021-02-03 16:18] felixarntz commented on #2103
IB ✅

@eugene-manuilov Can you open a follow-up issue for moving the logic into a REST controller class?

[2021-02-03 16:23] felixarntz commented on #2533
@eugene-manuilov FYI I added an example response to the ACs. It's slightly updated from before, originally we were thinking of using a simple map of features and booleans, but this has been expanded to a map of features and their objects, to allow for future compatibility if we want to add additional fields. Shouldn't affect the IB though, only the actual implementation.

[2021-02-03 18:08] aaemnnosttv commented on #2513
@felixarntz would you please clarify this request? Are you suggesting that we would no longer return anything from the `set` or `delete` methods? I'm not sure we need to change anything with these classes (maybe clarify the documented return value), but perhaps we should do a larger audit to see if these methods are called within any other conditionals in the codebase where a similar problem could

[2021-02-03 18:49] agoll commented on #2753
Logged into website via "incognito" (as recommended in WP thread) and also MSFT Edge, and the problem went away. I only have blue boxes with "gathering data" messages (interesting as yesterday my dashboard showed data).
Screenshot is from MSFT Edge, logged in.
![gathering-data](https://user-images.githubusercontent.com/34747792/106794183-b14ea600-6615-11eb-8ca1-8695db4a78df.PNG)

Closed out origin

[2021-02-03 23:40] tofumatt commented on #2249
IB looks good to me, but handing it over to @aaemnnosttv to quickly double-check it as it's a lengthy issue, he has more history on it, and he might have some particular comments/thoughts about the approach 🙂

[2021-02-04 07:34] aaemnnosttv commented on #2249
Thanks @tofumatt!

@asvin – You're on the right track, there's just a few things to clarify.

This doesn't quite describe how `options.useAdminURLs` would be reimplemented with the new component. Where are these select statements happening?
Maybe in this case it would make sense to introduce a `DashboardDetailsLink` component that accepts the `permaLink` as a prop and constructs the full URL inter

[2021-02-04 08:57] aaemnnosttv opened #2756 "Don't show Reset link while compatibility checks are in progress"
## Bug Description

![image](https://user-images.githubusercontent.com/1621608/106868421-6eed9d80-66d7-11eb-81f9-65423379368d.png)

## Steps to reproduce

1. Go to splash page after reset or disconnect (or just for first time)
2. Notice the reset link displayed adjacent to the sign in button while "Checking compatibility" is in progress

---------------

_Do not alter or remove anything below. The

[2021-02-04 09:20] eugene-manuilov commented on #2716
IB :heavy_check_mark:

[2021-02-04 10:05] #2751 closed

[2021-02-04 10:06] fhollis commented on #2751
Agreed to close as duplication of #2756

[2021-02-04 10:13] aaemnnosttv commented on #2756
IB ✅

[2021-02-04 10:18] aaemnnosttv commented on #2655
@felixarntz actually I misread the issue. This is about the component on the Analytics module page which still uses this component which looks very similar to the old all traffic widget but is still there at the bottom of the module page.

[2021-02-04 12:40] jamesozzie commented on #2753
Many thanks for the update and thorough testing. As the same issue is not occurring from an incognito window have you tried [clearing your browsers cache](https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en)?

[2021-02-04 14:17] wpdarren commented on #2286
### QA Update: Pass ✅

**Verified:**

- On the `Search Console ` page fo URLs that start with `performance/search-analytics` the URL does not include `num_of_days` parameter.
- On the `Search Console ` page fo URLs that start with `performance/search-analytics` the URL includes the `start_date` and `end_date `parameters in YYMMDD format.
- The `start_date` was changed depending on the date period

[2021-02-04 14:17] bastbra opened #2757 "Adding a "today" and "yesterday" tab option"
## Feature Description

Hi,

I have a feature request (for the future, if this is possible): Can you add a “today” and “yesterday” tab in the overviews (Analytics, Search Console, AdSense)? Because just “last 7 days” etc. is too much, at least in my mind.
Also, a “active users in real time” for the analytics tab would be great.

Thank you for the great plugin!
---------------

## Acceptance criter

[2021-02-04 15:06] wpdarren commented on #2710
QA Update: Pass ✅

- Checked the All Traffic widget, it remained in the same size when switching tabs or selecting pie slices.

https://user-images.githubusercontent.com/73545194/106911753-76479200-673d-11eb-833a-b06479e2b840.mov

[2021-02-04 16:02] agoll commented on #2753
WordPress auto-updated for me this morning and the problem seemed to have resolved itself!
I love when these pesky odd bugs solve themselves.

While this is now a moot point; my next step (and still a possibility) would have been to disable the black admin bar on the front end via the functions.php (aka: write a plugin)....

Thanks so much for all of your help!

[2021-02-04 16:26] jamesozzie commented on #2753
@agoll No problem at all, thanks for bringing this to our attention, and happy to hear it's working as normal. I'll also pass this over to an engineer to check whether they can recreate the issue using the same setup as your own.

@abdullah1908 Do you want to take a look at the details and see if there is any action required on the plugin side?

[2021-02-04 16:42] abdullah1908 commented on #2753
Thanks @jamesozzie looking into it.

[2021-02-04 16:53] aaemnnosttv commented on #2689
@johnPhillips would you please add a QA brief here?

[2021-02-04 17:02] johnPhillips commented on #2689
QA brief added, let me know if there are any questions

[2021-02-04 18:49] abdullah1908 commented on #2753
@jamesozzie I couldn't replicate at my end as I tried on SG server. It might be the extensions installed in browser.

[2021-02-04 18:50] #2753 closed

[2021-02-04 19:49] felixarntz commented on #2626
@caseymorrisus IB mostly LGTM, a few follow-up comments:
* Currently you're handling state within the components. Our usual approach is to use the datastore (e.g. we could use the `core/ui` store from #2456 to store the current step. It should be possible with the `react-joyride` library to pre-open a specific step right? This would come in handy for Storybook if we wanted to have e.g. individual

[2021-02-04 20:16] abdullah1908 commented on #2349
Unable to reproduce at my end as I tried by setting up Site Kit in different websites.
cc: @jamesozzie

[2021-02-04 20:16] tofumatt commented on #2652
QA ✅

[2021-02-05 07:35] ivankruchkoff commented on #2240
Got the test case resolved, but the blocker #2610 will need to be resolved before we can push this up.

[2021-02-05 12:49] tofumatt commented on #2594
QA ✅

[2021-02-05 13:49] johnPhillips commented on #2588
Note: @aaemnnosttv and I discussed this offline, and we agreed that the second option made more sense, ie.
- `numFmt` should be the utility we use for formatting time
- `prepareSecondsForDisplay` can be used by `numFmt` internally, but it shouldn't be public

First draft of IB added accordingly.

[2021-02-05 14:18] wpdarren commented on #2603
### QA Update:  Engineer confirmation ⚠️

@aaemnnosttv this is a pass for a brand new site, based on the QAB.  I decided to do a little more testing on a site that previously had Site Kit installed, but was disconnected and reset so all settings should be cleared.  When reconnecting, I was expecting the user input questions to appear, but they didn't. I looked in the admin settings and remembered

[2021-02-05 16:18] felixarntz commented on #2603
@wpdarren This is intended behavior. The user input questionnaire answers are stored on the Site Kit service outside of the plugin, so that they are truly persistent even beyond reset/disconnects. In other words, you only respond once per WordPress site per user, ever.

The idea is, when you reset your site, you often do it to try fixing an issue or so. It would be tedious to be always asked for t

[2021-02-05 16:37] felixarntz commented on #2626
@caseymorrisus One follow-up question that I thought about: The Figma file has the DOM element that the tooltip is applied to highlighted, it darkens out all the rest of the UI. Did you consider that, is this possible to achieve with `react-joyride`?

[2021-02-05 16:45] felixarntz commented on #2738
IB ✅

[2021-02-05 16:52] felixarntz commented on #2240
@ivankruchkoff I'm noticing now this issue is not including anything about Storybook, where we have an existing story for the _legacy_ WP dashboard widget. Now that we remove these pieces, we need to also remove this story, so we have to ensure there is a new one that covers the refactored version of the WP dashboard widget. I think adding it to this issue is a bit late now and would increase scop

[2021-02-05 16:56] felixarntz opened #2760 "Implement Storybook story for refactored version of WP dashboard widget"
#2075 and #2610 created a datastore-driven refactored version of the WP dashboard widget. However, this version is not yet covered in Storybook, there's only a story for the legacy version. Let's add a separate story for the new version. This should be done before merging #2240, to ensure we have the migration work completed before shipping it to end users.

---------------

_Do not alter or remov

[2021-02-05 17:03] felixarntz commented on #2513
@aaemnnosttv We should still return a boolean to indicate success/failure, but change it as follows:

* When updating an option to the same value as the current one, no update is necessary. WordPress by default returns `false` because no update was made, but this IMO is misleading because still all is fine (the value that was supposed to be updated to _is_ the value of the option). We shouldn't re

[2021-02-05 17:44] felixarntz commented on #2734
@aaemnnosttv I reduced the user-facing changes here a little bit, to only focus on fixing the weird sparkline behavior. The `today` date range is still relevant since that value is used here as change, instead of a percentage. While I agree that's also worth revisiting, it's a bigger change that we should discuss, where the sparkline part is more trivial. I've defined the ACs around that and inclu

[2021-02-05 17:49] tofumatt commented on #2613
QA ✅

[2021-02-05 17:56] felixarntz commented on #2610
@johnPhillips A QA Brief is still missing here, can you add one? It should focus on using a development build and ensuring the appearance between the old and new version should match.

[2021-02-05 18:25] ivankruchkoff commented on #2240
@felixarntz yep, I noticed the storybook issue (actually @eugene-manuilov did), I've already added the storybook updates (see https://github.com/google/site-kit-wp/pull/2672/files#diff-ffa8d0ded69e36d29e753e8f9ce1c5f221d7c1203bd4734d53ae598778927141R87). The only thing missing is the work @johnPhillips is doing in #2610 so I can remove the updated test screenshot and add the test for the top28 das

[2021-02-05 18:27] ivankruchkoff commented on #2760
I updated the storybook test in https://github.com/google/site-kit-wp/issues/2240 only need to extend it for #2610 work, so I'll update in that CR and will close out this ticket as the storybook story is being covered there.

[2021-02-05 18:27] #2760 closed

[2021-02-05 19:44] felixarntz commented on #2240
@ivankruchkoff Excellent! #2610 is now merged, so this should be good to proceed.

[2021-02-05 20:41] eugene-manuilov opened #2764 "Refactor Tracking related classes"
## Feature Description

While working on IB for #2103 it turned out that we would need to refactor tracking related classes that currently live in the Utils folder. We should create a separate namespace (let's say `Google\Site_Kit\Core\Tracking`) and move `Google\Site_Kit\Core\Util\Tracking` and `Google\Site_Kit\Core\Util\Tracking_Consent` classes into it. Furthermore, we need to refactor the REST

[2021-02-05 20:41] eugene-manuilov commented on #2103
@felixarntz #2764 is created.

[2021-02-05 23:15] ericjames commented on #1424
Bump this!!! This is the whole reason to use any plugin with Wordpress, to implement specific settings across different page types and importantly in Wordpress land, page URLs do not necessarily indicate their categorization in Analytics (ie: posts with specific tag would not be reflected in Analytics to see the performance of specific tags)

[2021-02-06 09:22] benbowler commented on #2699
Hey @felixarntz, I've created a new [PR 2765](https://github.com/google/site-kit-wp/pull/2765) which uses distinct breakpoints to update the number and offset of the ticks and I've tested it at the base width of each breakpoint and it no longer cuts off any of the ticks and it now shows up to four ticks on larger screens and more dense datasets.

During this work, I noticed that now that we have d

[2021-02-06 15:16] benbowler commented on #2602
I've worked through this based on the IB and tests alone as I don't have an active AdSense account to test with. I've requested an AdSense account for a personal domain but it's yet to be approved.

Changes are in [PR for code review](https://github.com/google/site-kit-wp/pull/2766).

[2021-02-06 15:20] benbowler commented on #2602
QA Brief is TBC because I'm unable to test currently without and AdSense account.

[2021-02-06 17:58] benbowler commented on #2579
I've worked through the IB but the `canUseSnippet` setting is not being set correctly.

[2021-02-06 19:42] NexPlex opened #2767 "Difficulty moving site from Test URL to Production URL"
## Bug Description

We do our WordPress build on wptest.xxxx.com then move it to www.xxxx.com. After installing and configuring G Site Kit on wptest.xxx.com all works well without errors.

When we migrate the wptest site to www site G site kit shows this error: **"Site Kit can’t access necessary data"** If we click on "Redo Setup" we get this error: **'redirect_uri' mismatch**

## Screenshots

![i

[2021-02-06 20:07] NexPlex commented on #2767
I found the directions for setting up a staging environment.
https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/

[2021-02-06 20:07] #2767 closed

[2021-02-06 20:38] NexPlex opened #2768 "Couldn't initialize - Service 'webmasters.googleapis.com' not found"
## Bug Description

Pressing on GET OAUTH CREDENTIALS this errors pops up:

Couldn't initialize
Service 'webmasters.googleapis.com' not found or permission denied.

## Steps to reproduce

1. From WordPress "Site kit developer setting" page click on. Create your credentials(opens in a new tab)
2. new page opens
2. scroll to the bottom
3. click on Get oAuth Credentials
4. get error
5. Couldn't initi

[2021-02-07 01:22] ivankruchkoff commented on #2095
Adding some quick screenshot examples:

**Current approach: seconds only**
<img width="1086" alt="seconds-only" src="https://user-images.githubusercontent.com/373931/107133550-42d04900-689e-11eb-8b37-0ec05129fd5e.png">

**Timeofday as hh:mm:ss**
<img width="1103" alt="hh-mm-ss" src="https://user-images.githubusercontent.com/373931/107133553-57acdc80-689e-11eb-9f15-1e51c59a2b22.png">

**Timeofday a

[2021-02-08 01:03] wpdarren commented on #2603
@felixarntz thank you, I did wonder if that was the case but did not want to make any assumptions.

### QA Update: Pass ✅

**Verified:** For a new site, user input questions appear, and are completed. The site is then disconnected. When reconnected, the user input screens does not appear. When I look in the admin settings tab, the answers provided are displayed.

[2021-02-08 05:00] cole10up commented on #2587
### QA ✅

**Tested:**

Confirmed each module's core functionality works as before: **Analytics, Adsense, Tag Manager, Page Speed  Insights and Optimize**

Confirmed data values within Analytics, Adsense and Page Speed Insights works as before.

Sending to Approval

[2021-02-08 05:12] cole10up commented on #2241
### QA ❌

**Tested:**

Checked on my personal site and I'm seeing differences between legacy admin bar menu and the latest SK admin bar

SK:
![image](https://user-images.githubusercontent.com/57115907/107178181-78e9f780-6988-11eb-93a6-59723069a4d9.png)

Admin:
![image](https://user-images.githubusercontent.com/57115907/107178203-843d2300-6988-11eb-8549-c83d4ca4d27e.png)

Checked individual page st

[2021-02-08 05:33] cole10up commented on #2662
### QA ✅

Checked latest development build and confirmed the features status list is now displayed:
![image](https://user-images.githubusercontent.com/57115907/107179736-24487b80-698c-11eb-9e20-57d49ee636a5.png)

Sending to approval

[2021-02-08 10:16] jamesozzie commented on #2757
Many thanks for your suggestion. I've labelled this as a feature request for the team to review. While there is no ETA or guarantee this feature will be added to future releases the team do review such suggestions periodically.

[2021-02-08 10:49] aaemnnosttv commented on #2588
@johnPhillips the IB looks like a good start here, although there are a few points yet to address.

Currently, `prepareSecondsForDisplay` returns a value like `2m 3s`, whereas your example uses a different format for the unit. `NumberFormat` controls this by the `unitDisplay` option which defaults to `short` but can also be `long` or `narrow`. For consistency with the current `prepareSecondsForDis

[2021-02-08 11:02] jamesozzie commented on #2767
@NexPlex Glad to hear you were able to setup the site via a stagign site setup. If you encounter any issues be sure to [open a WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post), where we'd be happy to assist.

[2021-02-08 12:02] jamesozzie commented on #2768
@NexPlex Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. We can also open this GitHub issue should we determine any bug or issue with setting up Site Kit on a staging site.

Please include as much relevant information to y

[2021-02-08 12:16] eugene-manuilov commented on #2579
Probably because you check the wrong settings in the `can_analytics_use_snippet` method, no? :thinking:

https://github.com/google/site-kit-wp/blob/b1b7fdd5c77b29d38a58c6e4a5efa12c556c2b9d/includes/Modules/Tag_Manager.php#L657-L659

[2021-02-08 12:39] asvinb commented on #2249
@aaemnnosttv I think it'll be a bit overkilled to include the `DashboardDetailsLink` component since we are only using it in the `DashboardPopularPagesWidget` component. I think it's easier to maintain later down the road if we just define it in the `columns` for the table? What do you think? Also, for the question about reimplementing `options.useAdminURLs`, those are only examples and it's part

[2021-02-08 12:55] wpdarren commented on #2715
### QA Update:

**Verified:**

- When you click on a segment in the pie chart on the "Your Traffic at a Glance" widget, the "All Users" text becomes a link that resets the select pie segment.

- Tested this on all 3 dimensions and with different date periods, i.e. 7, 14,28 and 90 days.
- Tested this on mobile devices with different screen sizes.

![image](https://user-images.githubusercontent.com/

[2021-02-08 13:36] wpdarren commented on #2610
### QA Update: Pass ✅

**Verified:**

- The new (top) table is exactly the same as the legacy (bottom) table

Tested this on various screen sizes. Also ran it through on Browser Stack on FF, Chrome, Safari and Edge.

[Screenshot](https://user-images.githubusercontent.com/73545194/107225016-35a88b00-6a53-11eb-8524-c3a30d1ede08.png)

[2021-02-08 13:36] benbowler commented on #2688
Added a PR and QA:Eng line.

[2021-02-08 15:20] tofumatt commented on #2722
IB ✅

[2021-02-08 15:22] jamesozzie commented on #2542
@ZDerekh We've created a [GitHub issue](https://github.com/phpzio/translatepress/issues/4) on the TranslatePress side. Although not specific to the conflict with Complianz it may be worth checking should there be any updates.

[2021-02-08 16:16] eugene-manuilov commented on #2195
QA :heavy_check_mark: Everything works as expected. I see eslint errors if I use the wrong cases for acronyms.

[2021-02-08 16:36] eugene-manuilov commented on #2738
@felixarntz it's a hard question. I prefer to see multiline legend top aligned, but it's more of a personal preference. Maybe we should ask Mary about it? :thinking:

[2021-02-08 17:20] eugene-manuilov commented on #2721
@aaemnnosttv this seems like not an issue anymore. See here:

https://github.com/google/site-kit-wp/blob/fa3df25c8c6cb11ab600262174c7fbfbcbaf7692/assets/js/modules/search-console/components/dashboard/SearchConsoleDashboardWidgetSiteStats.js#L104-L109

We already hide it when we have 3+ stats selected. Or I miss something?

[2021-02-08 17:57] benbowler commented on #2699
I've moved this back to Execution as it needs the `numberOfDays` value to be moved to a new selector.

[2021-02-08 17:58] ivankruchkoff commented on #2095
To elaborate on formatting, https://developers.google.com/chart/interactive/docs/reference#formatters, we may be able to do vAxis.format for `ss` on durations that are in seconds, `mm:ss` for durations less than an hour, which will allow the second case in our screenshots while not having `00:00:XX` for sites with short durations.

[2021-02-08 18:31] jamesozzie opened #2771 "An error occurred: invalid Analytics redirect URI during Site Kit setup"
A number of users have recently reported encountering the below error message:
`An error occurred: invalid Analytics redirect URI
`
This started occurring just over one month ago, with the follow users impacted:
- [An error occurred: invalid Analytics redirect URI](https://wordpress.org/support/topic/an-error-occurred-invalid-analytics-redirect-uri/) - Resolved (possible site reset)
- [invalid Ana

[2021-02-08 19:23] felixarntz opened #2772 "Link to Analytics FE for AdSense widgets based on Analytics data"
## Bug Description

Site Kit currently has deep links to the AdSense frontend on all AdSense widgets. While at first glance this seems to be expected, there are some AdSense widgets which are actually powered by Analytics. These widgets only show data when Analytics is also active and when the AdSense account is linked to the Analytics property.

These links should be updated to go to the relevant

[2021-02-08 19:23] felixarntz opened #2773 "Include correct site URL in AdSense report deep links"
#2689 introduced a new AdSense `getServiceReportURL` selector which links to a report for the current AdSense account. However, an account may include multiple sites, so the site also needs to be provided for the reports to see only the relevant stats for the current site.

This is possible by linking to a URL like `https://www.google.com/adsense/new/u/0/{accountID}/reporting/?dd=1YsiteY1Y{siteHos

[2021-02-08 19:23] felixarntz opened #2774 "AdSense dashboard summary widget should deep link to AdSense FE"
The AdSense dashboard summary widget currently links to the AdSense module page, which is inconsistent behavior from all the other dashboard widgets (which deep link to the respective Google service frontend). The widget should be updated to deep link to the relevant AdSense report in the Google service frontend.

This is a follow-up improvement to #2689.

---------------

_Do not alter or remove

[2021-02-08 19:28] felixarntz commented on #2241
@cole10up Was this using a production build? It might be that the numbers are slightly different because we fixed some date range offsets in all the refactored code. Can you test this again using a development build, focusing on the comparison between the refactored version of the Site Kit dashboard (the one on top) with the new admin bar?

cc @benbowler

[2021-02-08 19:41] aaemnnosttv commented on #2508
CR ✅  from me; Assigning to @felixarntz since he previously requested changes.

[2021-02-08 20:14] felixarntz commented on #2734
IB ✅

[2021-02-08 20:19] felixarntz commented on #2095
@ivankruchkoff I think it makes most sense here to be consistent with Analytics and always use the `hh:mm:ss` format - can you clarify that in the IB? Other than that, this should be good to go!

[2021-02-08 23:29] ivankruchkoff commented on #2612
Perhaps I'm missing something, but which part handles this part of the task description:

The component would dispatch a new `setWidgetActive( false )` action on mount and `setWidgetActive( true )` on unmount, similar to how e.g. WidgetReportZero sets widget state. The component would technically just return null, i.e. render nothing.

This is what's missing to get this into CR as remaining functi

[2021-02-08 23:45] felixarntz commented on #2612
@ivankruchkoff It looks like the original description was bit too close to code and was revised in the ACs; we eventually decided to use `setWidgetState` and `unsetWidgetState` instead of a new `setWidgetActive` action. Essentially:
* A call to `setWidgetState( widgetSlug, Null, {} )` is the same as `setWidgetActive( widgetSlug, false )` would have been.
* A call to `unsetWidgetState( widgetSlug,

[2021-02-09 05:47] cole10up commented on #2241
### QA ❌

Thanks @felixarntz

Retested on a development build:

Admin:
![image](https://user-images.githubusercontent.com/57115907/107320663-02b3c680-6a56-11eb-9c07-c695f8927880.png)

Hover state testing a smaller window/mobile is looking pretty rough:
![image](https://user-images.githubusercontent.com/57115907/107321223-03009180-6a57-11eb-8eed-70a2916a11b6.png)

Individual page stats:
![image](ht

[2021-02-09 08:19] aaemnnosttv commented on #2241
@benbowler I took a closer look at this and confirmed that the appearance looks broken from 601px to 782px (inclusive) which sounds to be the only thing remaining here.

[2021-02-09 09:45] jamesozzie commented on #2771
One user shared their console errors encountered during setup, AMP related 400 proxy errors:

![image](https://user-images.githubusercontent.com/41326532/107345224-42f96000-6abb-11eb-9e22-bac2ce8eb86c.png)

[2021-02-09 11:56] benbowler commented on #2241
Thanks @aaemnnosttv and @cole10up, I saw this separately on my personal site as well but I didn't track it down to this specific breakpoint.

Addressing it now.

[2021-02-09 12:02] benbowler commented on #2699
I've created the new selector as well as tests, full details are in the [**Technical Choices** section in the PR](https://github.com/google/site-kit-wp/pull/2765).

[2021-02-09 12:47] benbowler commented on #2241
I've addressed this in a [new PR](https://github.com/google/site-kit-wp/pull/2776).

![2021-02-09 12-41-28 2021-02-09 12_42_49](https://user-images.githubusercontent.com/119352/107365577-e3a84980-6ad4-11eb-9b50-494be180007c.gif)

[2021-02-09 14:48] benbowler commented on #2579
Hey @eugene-manuilov, I've corrected above but the implementation doesn't solve the issue. Digging into the flow I can repeat the test scenario with one of my personal websites with and active GTM setup. I can see that this code:

https://github.com/google/site-kit-wp/blob/57159a5e0ad5262fb997c8de833dfe833de49fe8/assets/js/modules/tagmanager/datastore/containers.js#L151-L166

Never runs if you hav

[2021-02-09 15:32] aaemnnosttv opened #2777 "Enhance logging of API errors to better support E2E debugging and iterate on E2E stability"
## Bug Description

Our E2E tests have become somewhat less stable lately and so this issue is about implementing a few changes in the way our errors are logged to better support debugging E2E failures which are almost always related to some unexpected API request which fails inconsistently.

Related to https://github.com/google/site-kit-wp/issues/2674, the changes here will help us to understand

[2021-02-09 15:52] felixarntz commented on #2095
IB ✅

@ivankruchkoff Can you add an estimate? That's still missing.

[2021-02-09 15:53] felixarntz commented on #2743
IB ✅

[2021-02-09 15:57] eugene-manuilov commented on #2579
Hi @benbowler.

I don't think it will help because it looks like we also need to set GA property IDs in AMPContainerSelect and WebContainerSelect components  :thinking:. Can you try adding a new `useEffect` hook to these components that sets the appropriate GA property ID whenever the corresponding container ID is changed? Something like this would work:

[code]

Let me know if it helps.

[2021-02-09 17:48] onpaws opened #2778 ">60s load time for some JSON endpoints"
## Bug Description

I'm not sure this is a bug on the Site Kite side, or something else, possibly related to the hosting. Hoping anyone might have insight into where I might look to try and resolve.

## Steps to reproduce
1. Install Site Kit v 1.25.0 on WordPress 5.6.1
2. Setup domain on CloudFlare (default settings)
3. Configure Site Kit (connect Analytics/Ad Sense/Search Console to some Google a

[2021-02-09 17:51] eugene-manuilov commented on #2184
@felixarntz this is ready for review.

We miss `learnMore`, `autoActivate` and `provides` fields in module information received from the `getModules` selector.

[2021-02-09 19:10] felixarntz commented on #2738
@johnPhillips This is closely intertwined with #2700, which implements a custom version of the legend. Since that issue makes the efforts needed here fairly different, I suggest you hold off of it for now. Let's do 2700 first. In the interest of time, since @asvinb is working on that one, it might be best if he takes over this one here too.

@asvinb Once you updated the PR for #2700 (#2752), can y

[2021-02-09 20:20] tofumatt commented on #2528
I didn't repeat the entire QA process from #2508, but I did check for server-side requests to Google APIs using [Charles](https://www.charlesproxy.com) and saw none. Requests to Google APIs were still made from Chrome, but not during server-side loading of the page or the admin bar.

So: QA ✅

[2021-02-09 20:56] aaemnnosttv commented on #2738
@asvinb note that @johnPhillips 's approach in his PR #2770 here took a different approach than the IB (using only CSS) and was very close to ready so you might also save a little time by referencing that as a starting point (still based on your branch though as @felixarntz mentioned).

[2021-02-09 23:57] felixarntz commented on #2714
@tofumatt I don't think it's worth proceeding with this in the current state. The current hack appears to improve a few things but makes others worse, and I think our time is better invested properly fixing our usage of the Google charts library. You suggested using https://react-google-charts.com/, which I think is worth doing.

I suggest we introduce a new component aside of our existing `Google

[2021-02-10 00:20] felixarntz commented on #2714
@tofumatt Ready for a new IB!

[2021-02-10 04:43] cole10up commented on #2241
### QA ✅

Retested:
![image](https://user-images.githubusercontent.com/57115907/107465500-55a18280-6b17-11eb-8fa3-07681d8a56e2.png)

Looks good on my end, sending to approval

[2021-02-10 09:49] abdullah1908 commented on #2768
@jamesozzie I am opening this issue as I can reproduce it at my end.

[2021-02-10 10:24] abdullah1908 commented on #2768
The same [issue](https://github.com/google/site-kit-wp/issues/2463) is already created. Currently we are working on this issue internally & will update here once its fixed.

[2021-02-10 10:24] #2768 closed

[2021-02-10 11:22] kskonovalov commented on #852
+1

[2021-02-10 11:35] johnPhillips commented on #2588
Thanks @aaemnnosttv, I update the IB. Hope I included everything.

One thing:

I couldn't find any instances of `numFmt` with the `'s'` parameter?

[2021-02-10 11:50] jamesozzie opened #2782 "Request parameter is empty: accountID"
## Bug Description

[One user in the support forums ](https://wordpress.org/support/topic/request-parameter-is-empty-accountid-2/#post-14028273)is encountering the below error when connecting the Analytics module, specifically after selecting an account:
`Request parameter is empty: accountID`

This has been occurring with a subdomain setup only.

Console errors when issue occurs:
[code]

## Steps

[2021-02-10 12:08] aaemnnosttv commented on #2588
@johnPhillips look for [`datapointUnit`](https://github.com/google/site-kit-wp/search?q=datapointUnit&type=), which is passed through as the second parameter to `numFmt` where it's used.

[2021-02-10 12:43] asvinb commented on #2738
@aaemnnosttv new PR for aligning the legend. Unfortunately we cannot use @johnPhillips approach because we introduced new containers and so the fix does not work.

[2021-02-10 12:46] cnxsoft commented on #2782
I've noticed it fails with two accounts, but works with another one. See screenshot below.
![connect-service](https://user-images.githubusercontent.com/1366138/107511814-90b7ba80-6bd8-11eb-8224-118e5b640818.png)

It fails with "CNX Software" and "lampang-info" accounts, but works with "CNX Software - Noticias de Sistemas Embedidos"

[2021-02-10 13:48] wpdarren commented on #2716
### QA Update: Engineer to confirm ⚠️

@johnPhillips a quick observation that I'd like clarified.

As you can see on the screenshot below, when you hover over the `others` slice, while the pointer cursor does not appear, the highlight around the slice appears and stays until you hover away.  Is this expected? I am assuming it is but would like to check.

**Verified:**

The `Others` slice of the pi

[2021-02-10 13:56] johnPhillips commented on #2716
Hi @wpdarren, thanks for this. There has been a bit of to and fro with this issue because we were unable to implement certain requirements. Perhaps double check with @felixarntz?

[2021-02-10 13:59] wpdarren commented on #2716
@felixarntz would be good to get your opinion on this.  IMO, it makes sense to have the highlight around the slice but wasn't sure from the QAB if this is expected or not.

[2021-02-10 14:15] wpdarren commented on #2700
### QA Update: Fail ❌

@asvinb @aaemnnosttv there are a few issues. I was able to recreate these on all the 3 dimensions.

1) When I click on the first legend item, i.e `organic search`.  The graph displays the correct number of users but the line chart is blue rather than yellow in this example. It only seems to be an issue on the first item because the others change to the correct color when you

[2021-02-10 14:21] jamesozzie opened #2784 "Ensure ad code doesn't run on 404 URLs"
## Bug Description

As per [one users comments](https://wordpress.org/support/topic/need-to-remove-adsense-ads-code-from-non-content-page-like-404-contact-etc/#post-14008754) in the WordPress support forums AdSense policy dictates that ads should not be displayed on 404 URLs.

Consider adding a conditional statement to ensure ads don't appear on such URLs.

More insights on AdSense policy availabl

[2021-02-10 14:31] asvinb commented on #2700
@aaemnnosttv Create a new PR to fix the issue that @wpdarren noted.

[2021-02-10 14:50] jamesozzie commented on #2778
Thanks for opening a GitHub issue. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to investigate this further. We can then reopen this issue should we determine any possible bugs or fixes to applied at plugin level.

Note that the error you're encountering

[2021-02-10 14:50] #2778 closed

[2021-02-10 14:51] johnPhillips commented on #2660
Note: it is possible to recreate the effect of this bug on the 'channels', 'locations' and 'devices' tabs of the chart by changing the `maxSlices` chart option to be `1` [here](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/components/dashboard/DashboardAllTrafficWidget/UserDimensionsPieChart.js#L191).

[2021-02-10 14:58] johnPhillips commented on #2660
When there is only a single row in the data as here, it [seems the default behaviour of the chart is to put '100%' in the middle](https://jsfiddle.net/api/post/library/pure/).

The problem is that we are overlaying a `.googlesitekit-widget--analyticsAllTraffic__dimensions-chart-title` div saying 'By channels', for example. So in the scenario where there is only one row of data, the two labels appe

[2021-02-10 15:15] aaemnnosttv commented on #2700
@wpdarren – this should be fixed now, can you check again once this job is finished?
https://github.com/google/site-kit-wp/actions/runs/555006608

[2021-02-10 15:44] felixarntz commented on #2716
@wpdarren This is acceptable at this stage, although you're correct that preferably it shouldn't be the case. We'll need to put more work into our general usage of the charts (see #2714), where these things should be tackled.

[2021-02-10 16:34] onpaws commented on #2778
OK, will open a new issue support topic there. Thanks @jamesozzie !

[2021-02-10 16:36] wpdarren commented on #2716
### QA Update: Passed

**Verified:**

- The `Others` slice of the pie chart in the All Traffic Widget does not show cursor: pointer on hover
- The `Others` slice displays the "All Users" graph on the left.

Also tested this with different date periods, i.e. 7, 14, 28 and 90 days + checked on Browserstack for other browsers.

![image](https://user-images.githubusercontent.com/73545194/107517624-f1e

[2021-02-10 16:43] aaemnnosttv commented on #2721
@eugene-manuilov it's still there. You can see what I mean here

![Kapture 2021-02-10 at 18 39 53](https://user-images.githubusercontent.com/1621608/107541122-775e4080-6bcf-11eb-9f95-9bfad3983cac.gif)

Note when selecting the 3rd stat it changes in size (probably a result the width change there) so that appears to be intentional. The part which is not right is the text on the far right side which

[2021-02-10 17:18] aaemnnosttv commented on #2588
@johnPhillips IB looks great!

The only thing I saw which was very slightly off was from the first example:
[code]
This should result in `9s` since the shorthand would include the `narrow` format. Not worth sending back for revision, but just thought I'd point that out to avoid potential confusion during implementation.

IB ✅

[2021-02-10 19:06] collimarco opened #2786 "Add option to disable ad signals and remarketing"
## Feature Description

Please provide an option (e.g. "Disable ads and remarketing") that sets the following options:

[code]

We don't want to collect data for marketing and ads, so we need an option to opt-out. This is an option that you must provide for privacy.

Until we don't have that options in Site Kit we'll keep using other custom solutions.

Thanks

---------------

_Do not alter or rem

[2021-02-11 02:02] wpdarren commented on #2700
### QA Update: Fail ❌

@aaemnnosttv @asvinb I have a few observations which I'd like you to look at.

`Make sure that when you click on a legend item, the appropriate pie slice is selected and the user count graph is updated accordingly`

When a legend item is selected, on smaller screen sizes (i.e iPhone, Android) the pie chart slice highlight is getting cut off. The issue occurs if you click on

[2021-02-11 06:31] cole10up commented on #2508
### QA ✅

**Tested**
Confirmed functionality of the new admin bar on all pages on my personal site:
![image](https://user-images.githubusercontent.com/57115907/107607862-442ba980-6bef-11eb-8174-b6fc61f2812d.png)

![image](https://user-images.githubusercontent.com/57115907/107607921-6291a500-6bef-11eb-9006-2380ec015afa.png)

![image](https://user-images.githubusercontent.com/57115907/107607941-6de4

[2021-02-11 07:50] asvinb commented on #2700
@wpdarren @aaemnnosttv

- For the first issue, it's not related to the PR. I suggest we create another ticket to tackle it.
- The second issue is a non issue since you are seeing the hover state (where the font weight is normal, compared to when it's selected, the font weight is 500). This is completely normal, since when deselecting the legend, your mouse is actually on the item.

[2021-02-11 07:54] wpdarren commented on #2700
@asvinb thank you, I will submit a separate ticket for issue 1) and issue 2) I was just about to update my comment to say exactly what you've noted. I'll get this moved forward. Thank you.

[2021-02-11 07:56] wpdarren commented on #2700
### QA Update: Pass ✅

**Verified:**

- The legend appears beneath the pie chart in the all traffic widget. - [Screenshot](https://user-images.githubusercontent.com/73545194/107594753-aca97380-6c4d-11eb-918a-4de0fd0e2650.png)
- The legend items aren't cut off on smaller screens  - [Screenshot](https://user-images.githubusercontent.com/73545194/107594753-aca97380-6c4d-11eb-918a-4de0fd0e2650.png)
-

[2021-02-11 08:21] wpdarren commented on #2738
### QA Update:  Pass ✅

The legends vertically align on both smaller and larger desktop screens. Tested on [Desktop](https://user-images.githubusercontent.com/73545194/107614263-f1043600-6c84-11eb-9fff-44ed929cd4a6.png) / [Phones](https://user-images.githubusercontent.com/73545194/107614268-f497bd00-6c84-11eb-9f14-4d30deec2bdc.png) / [Tablets](https://user-images.githubusercontent.com/73545194/107

[2021-02-11 08:51] wpdarren commented on #2699
### QA Update: Confirm with Engineer ⚠️

@benbowler A few observations that I want to highlight.

1) On Desktop for 7 days, there are only 2 dates.  There are 4 days on 14, 28 and 90 days.

![image](https://user-images.githubusercontent.com/73545194/107616152-750bed00-6c88-11eb-8f50-7e94fe8e4da4.png)

2) On Mobile for 7, 14, 28 and 90 days, there are only 2 dates appearing.  [Screenshot](https://u

[2021-02-11 10:00] aaemnnosttv opened #2788 "Release 1.26.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-02-11 11:41] jamesozzie commented on #2786
Many thanks for the suggestion. I've added this as a feature request, Note that all features requested are periodically reviewed by our product team, however there is no ETA or guarantee this will make it to future releases.

[2021-02-11 11:56] eugene-manuilov commented on #2721
@aaemnnosttv yeah, I understand the issue in the description, but I can't reproduce it on my end. I see that we have the appropriate code in the develop branch that deals with your issue.

[2021-02-11 12:46] tofumatt commented on #2737
This component will use the new `GoogleChartV2` component, so marking it as blocked by that issue.

[2021-02-11 13:15] asvinb commented on #2647
**Dev mode**:
Main dashboard: No `DashboardMain` component found.
Search console dashboard: No `DashboardDetailsModules` component found.

**Prod mode:**
Main dashboard: `DashboardMain` component found.
Search console dashboard: `DashboardDetailsModules` component found.

### QA ✅

[2021-02-11 14:02] wpdarren commented on #2788
@aaemnnosttv @felixarntz on the All Traffic widget, the 3 dimension tabs (channels, locations, devices) used to be centered aligned but they now appear to the left above the pie graph. I don't remember a ticket changing that so wanted to highlight. Looks a little odd when the pie chart and legend items are centered.

![image](https://user-images.githubusercontent.com/73545194/107646108-8c60cf80-6c

[2021-02-11 14:19] adamsilverstein opened #2790 "Improve user input confirmation wording."
## Feature Description

The wording for the string after the user completes the user input flow is confusing (as flagged by the French translation team). We should improve this string to make it clearer.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The confirmation message should read: `Now Site Kit

[2021-02-11 14:32] benbowler commented on #2699
Hey Darren,

Thanks for the QA, based on your points:

1. This is correct, because of the sparsity of the data the "middle tick" looks out of line so I removed it if the number of days was 7 across all breakpoints. This is how it looks otherwise:

<img width="565" alt="Screenshot 2021-02-11 at 14 11 09" src="https://user-images.githubusercontent.com/119352/107648504-50a61580-6c74-11eb-80a1-35d33ad

[2021-02-11 15:13] aaemnnosttv commented on #2699
@benbowler looks good to me but it would be great if @wpdarren could confirm as well.

On a side note, it looks like there are some other issues unrelated to these changes at this viewport size such as the vertical axis labels being truncated to `...` and the date range select covering the main logo.

Also – @benbowler in your screenshot there it looks like you're showing the widget-based dashboar

[2021-02-11 15:20] benbowler commented on #2788
LGTM

[2021-02-11 15:24] aaemnnosttv commented on #2699
@felixarntz one quick follow-up PR here for you to review: https://github.com/google/site-kit-wp/pull/2791

[2021-02-11 15:28] wpdarren commented on #2788
@felixarntz @aaemnnosttv @cole10up I've completed smoke test and only thing I could see was the [comment above](https://github.com/google/site-kit-wp/issues/2788#issuecomment-777479886).

[2021-02-11 15:48] felixarntz commented on #2660
@johnPhillips The `pieSliceText: 'none'` approach looks good to me, let's go with that! We should of course make sure that that is only used for the 100% case (i.e. when there is just a single dimension value in the Analytics API response).

I agree that for 100% showing that number is somewhat pointless anyway since it is immediately visible because there is just one big slice for the entire pie.

[2021-02-11 16:23] felixarntz opened #2793 "Implement tracking events for user input flow"
## Feature Description

There should be internal GA tracking events for opted in users, covering the user input flow.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Note that, while most of these events are expected to happen on user interaction (e.g. click), some of them are based on element visibility

[2021-02-11 16:37] wpdarren commented on #2699
### QA Update: Pass ✅

**Verified:**

- I can see more than 2 dates on the horizontal axis of the user count graph for desktop and mobile.
- The issues reported above are fixed.

![image](https://user-images.githubusercontent.com/73545194/107666858-f172f000-6cc9-11eb-9e95-bcea8612703a.png)

@aaemnnosttv just want to make sure [this comment](https://github.com/google/site-kit-wp/issues/2699#issueco

[2021-02-11 17:30] felixarntz commented on #2669
Closing in favor of #2739.

[2021-02-11 17:30] #2669 closed

[2021-02-11 17:30] aaemnnosttv opened #2794 "AdGuard adblocker no longer detected"
## Bug Description

The popular [AdGuard ad blocker](https://chrome.google.com/webstore/detail/adguard-adblocker/bgnkhhnnamicmpeenaelnjfhikgbkllg) is no longer detected by our detection mechanism.

This allows users to proceed with AdSense setup where it will fail when AdSense module API requests are blocked.

![image](https://user-images.githubusercontent.com/1621608/107667509-4dbd1c00-6c98-11eb-

[2021-02-11 17:57] aaemnnosttv commented on #2653
IB ✅

[2021-02-11 18:21] aaemnnosttv commented on #2249
@asvinb – IB is looking great, just a few points left to make:

1. There isn't a mention of using `column.description` for the tooltip (other than in the description of this option)
1.

	Rather than assuming this and applying this broadly using CSS, let's simply extract a class (or multiple) we can apply to those `Link`s that need it since we're in full control of the output of that cell.

Otherwi

[2021-02-11 18:41] abdullah1908 commented on #2771
Unable to reproduce at my end.

Activities done so far:
- Copied the [analytics script](https://developers.google.com/analytics/devguides/collection/analyticsjs) & pasted in <head> tag. Created the property & pasted in the relevant place.
- After that I setup Site Kit & configured Analytics. I didn't find any issue. Everything worked smoothly.

[2021-02-11 18:44] ivankruchkoff commented on #2777
Two approaches:

1) Via github actions CI test
https://github.com/google/site-kit-wp/pull/2775/checks?check_run_id=1864162827
https://github.com/google/site-kit-wp/pull/2775/checks?check_run_id=1864162832
https://github.com/google/site-kit-wp/pull/2775/checks?check_run_id=1864162771
https://github.com/google/site-kit-wp/pull/2775/checks?check_run_id=1864162765

Since it passes via github:
QA: ✅

2

[2021-02-11 20:33] aaemnnosttv commented on #2513
@felixarntz Yes, but I don't think we should change the return values. The classes we have now are extremely simple and seeing as the return value isn't relevant in most cases (even if we were to make this change) I don't see a good reason to change it.

I agree, but again, the return value from set/delete methods isn't really used anywhere except in these classes and their tests (I just looked),

[2021-02-11 20:34] eugene-manuilov commented on #2788
Haven't found anything specific. LGTM.

[2021-02-11 20:46] tofumatt commented on #2721
Ah, the problem is that this is only apparent at very large viewports. You need a browser viewport width of about 1680px before they show when three are clicked:

<img width="1390" alt="Screenshot 2021-02-11 at 20 32 46" src="https://user-images.githubusercontent.com/90871/107695299-50277200-6ca8-11eb-9169-32c2ca1bb01a.png">

IB ✅

[2021-02-11 20:47] aaemnnosttv commented on #2699
@wpdarren It sounds like we may have (or had) an issue like this, so let's make sure it's not a duplicate first but otherwise please do! 👍

[2021-02-11 20:54] ivankruchkoff opened #2796 "Connect modules briefly shows another module connected."
## Bug Description

When I click connect service, it always shows the right mode service as connected before redirecting to Google for auth.

## Steps to reproduce

1. Go to /wp-admin/admin.php?page=googlesitekit-dashboard&notification=authentication_success
2. Search Console = "Connected", AdSense, Analytics and PageSpeed Insights = "Connect Service"
3. Click on any Connect Service
4. Prior to re

[2021-02-11 20:58] ivankruchkoff commented on #2788
Raised one minor issue #2796, other than that LGTM.

[2021-02-12 08:35] asvinb commented on #2249
@aaemnnosttv IB updated to include more details about using `description` as tooltip for a table header cell. I also added a new class name for the links. Let me know if it's the correct assumption.

[2021-02-12 09:17] johnPhillips commented on #2788
LGTM as well

[2021-02-12 10:03] oguilleux opened #2797 "Php 8.0.0 notice"
Hello,

This notice appears with php 8 :

Deprecated: uasort(): Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero in /wp-content/plugins/google-site-kit/includes/Core/Modules/Modules.php on line 267

Good luck

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acc

[2021-02-12 10:17] aaemnnosttv opened #2798 "Block external WP HTTP requests in E2E"
## Feature Description

In our PHPUnit tests, we block all out going HTTP requests to prevent external factors from influencing test results.

We should do the same for E2E, the difference is that we can do better to completely disconnect the server side from making external connections using Docker.

---------------

_Do not alter or remove anything below. The following sections will be managed b

[2021-02-12 10:23] wpdarren commented on #2790
### QA Update: Pass ✅

**Verified:**

- The wording in the confirmation message after completing the User Input flow now reads as:

`Now Site Kit will begin suggesting metrics to add to your dashboard that are relevant specifically to you, based on the goals you shared.`

![image](https://user-images.githubusercontent.com/73545194/107756543-50cf0f80-6d5f-11eb-8558-2cf91b5a4af5.png)

[2021-02-12 10:43] aaemnnosttv commented on #2249
@asvinb almost! 😄  Thanks for adding the `description` part. Only this part left to clarify:

What I meant was, rather than this (plus added CSS) `.googlesitekit-table__cell--multiple-links a + a.googlesitekit-cta-link--external`

[code]

Can't we do this?

[code]

Maybe we can even continue using `googlesitekit-table__body-item-url` or rename it to be something like `googlesitekit-table-item-url`

[2021-02-12 10:50] caseymorrisus commented on #2626
@felixarntz I just pushed up changes to the associated gists for the `TourTooltips` and `TourTooltip` components as well as the descriptions of required work within the IB itself.

### Addressing your concerns:
- Pre-opening `react-joyride` is achieved via `stepIndex` prop to control the active step (requires complete control, no initial values).
- Modified to use `core/ui` datastore to handle tou

[2021-02-12 11:34] asvinb commented on #2249
@aaemnnosttv Now I see what you mean. I wanted initially to avoid using custom class names but I guess we can make an exception for this one. I would recommend we rename the class name to `googlesitekit-table__link--secondary` though since it's more in line with how it'll be used. The IB has been updated to reflect that.

[2021-02-12 11:49] aaemnnosttv opened #2801 "Regression in legacy all traffic widget dimension tabs styling changed"
## Bug Description

The styling of the dimension tabs changed from the previous release 1.25.0

**Before (matches design)**
![image](https://user-images.githubusercontent.com/1621608/107764176-6da41c80-6d38-11eb-9aa3-af5f16ee3f8a.png)

**After** (current RC)
![image](https://user-images.githubusercontent.com/1621608/107764207-77c61b00-6d38-11eb-92dd-1066ef1eaeb4.png)

---------------

_Do not alte

[2021-02-12 11:53] eugene-manuilov commented on #2801
IB :heavy_check_mark:

[2021-02-12 12:01] aaemnnosttv commented on #2249
Great thanks @asvinb 👍

IB ✅

[2021-02-12 12:17] tofumatt commented on #2801
IB ✅

[2021-02-12 14:46] benbowler commented on #2579
I've implemented the above, one other issue I've come across is that because the hook on `canUseSnippet` only happens on the PHP side, if you update the Tag Manager settings then immediately click to Analytics it doesn't update until your refresh:

https://user-images.githubusercontent.com/119352/107782443-fd4dc900-6d40-11eb-9d83-60e85d109554.mp4

[2021-02-12 15:00] jamesozzie opened #2803 "Output .htaccess related factors which may result in Site Kit setup failure"
## Feature Description

With the Site Kit specific information added to a users site Health information there may be an opportunity to output any aspect of a users .htaccess file that may be resulting in setup failure. These may include redirects, caching configurations, modSecurity rules or REST API restrictions. Many plugins or hosting providers automatically insert these additions with particul

[2021-02-12 15:04] jamesozzie commented on #2803
@felixarntz Happy to create an Asana task for this if you want to review.

[2021-02-12 15:21] benbowler commented on #2671
IB added.

I've given this one a 19 point estimate because I think there could be some edge cases that could come with updating such a fundamental component, for example, I know that there have been issues using the HIDDEN_CLASS being used to render null components while keeping them in the DOM and because with the IB this will no longer add this class we may need to investigate side effects there

[2021-02-12 15:59] eugene-manuilov commented on #2579
@benbowler let's probably use `setCanUseSnippet` function from the Analytics settings datastore to set its state manually when selected containers are changed in GTM settings. No need to submit this change, we just need to pretend it has changed before the user refreshes the page.

cc @felixarntz

[2021-02-12 17:09] adamsilverstein commented on #2797
Hi @oguilleux thanks for opening this issue.

We had discussed this issue although I couldn't find an open issue or PR addressing it. I have a proposed fix in https://github.com/google/site-kit-wp/pull/2804 which fixes the issue in my local testing.

[2021-02-12 17:12] adamsilverstein commented on #2797
cc: @felixarntz I know we discussed this issue, are we already tracking elsewhere?  I found https://github.com/google/site-kit-wp/issues/2724 however this is more about adding PHP 8 to the test runs.

[2021-02-12 19:54] felixarntz commented on #2797
@adamsilverstein I assume this would be exposed via running tests on PHP 8.0, and that issue has the goal of addressing all such problems. However, since you've already opened a PR for this specific one, let's do that one individually.

[2021-02-12 22:27] felixarntz commented on #2626
@caseymorrisus IB ✅

I'm still a bit concerned about the estimate on this, but since you've already done a bunch of work via the gists, as long as you take this issue for execution it should be okay. What I'm mostly thinking about regarding the estimate is that this is a completely new feature and we may run into some technical quirks, or the CSS part might require some polishing iterations. But l

[2021-02-12 22:28] felixarntz commented on #2650
IB ✅

[2021-02-12 22:29] felixarntz commented on #2773
IB ✅

[2021-02-12 22:30] felixarntz commented on #2774
IB ✅

@eugene-manuilov Great job finding out the relevant metric arguments - I was thinking to just link to the overall AdSense report overview which would already be an improvement, but if we can link to the specific metric report, even better!

[2021-02-13 02:03] ivankruchkoff commented on #2612
Over to CR.

@felixarntz this approach takes a slightly different path to the AC/IB, @aaemnnosttv and I have discussed it quite a bit recently. There were some issues with infinite renders occurring, and this somewhat cleans it up.

Here are some of those differences:
1. Removed separateNullWidgets, instead there is  selector isWidgetActive - https://github.com/google/site-kit-wp/pull/2731/files#d

[2021-02-15 07:34] caseymorrisus commented on #2788
Nothing additional to report, LGTM.

[2021-02-15 09:08] aaemnnosttv opened #2806 "Enhance implementation of assets manifest"
## Feature Description

In #1700 we updated our build to produce JS entry point files with content hashes in the file name. As part of this, we introduced a manifest for our built assets as a PHP class which was essentially just for accessing the map of handle -> dist file path. One quirk of the approach is that the `Manifest` class is currently git-ignored because it is written by the webpack bui

[2021-02-15 10:28] jamesozzie commented on #2771
We now have the SH information from 2 impacted users. Observations on these 2 site setups:
- Different hosting providers
- No matching plugins or theme
- One impacted user has a connected "Domain type" Search Console property, the other no connected Search Console property
- One user has additional .htaccess rules
- Both PHP 7.4 upwards and cURL (7.71.1 & 7.68.0)

Once user encounters the below in

[2021-02-15 10:47] wpdarren commented on #2797
### QA Update:  Pass ✅

**Verified:**

- With a local site set up on PHP 8.0 and `WP_DEBUG` and `WP_DEBUG_DISPLAY` set to `True`.
- There is no PHP notice about deprecated `uasort()` usage.

This is a screenshot of the error on 1.25.0 but it does not appear when changing to the develop branch.

![image](https://user-images.githubusercontent.com/73545194/107936795-06979980-6fbe-11eb-9337-1f3c01f8dd

[2021-02-15 11:14] wpdarren commented on #2801
### QA Update: Pass ✅

**Verified:**

The all traffic widget dimension tabs are centered over the pie chart and in title case.

![image](https://user-images.githubusercontent.com/73545194/107938561-8a528580-6fc0-11eb-8434-8cb139e9d5c9.png)

[2021-02-15 11:37] aaemnnosttv commented on #2750
Addressed in #2777

[2021-02-15 11:37] #2750 closed

[2021-02-15 11:49] aaemnnosttv commented on #2740
@asvinb I don't think this will work because `getTooltipHelp` returns a string of HTML to add to the tooltip.

In this case I think `UserDimensionsPieChart` needs to add a single deferred event listener to handle the click events since we don't have direct control over the tooltip. One question for @felixarntz thought before we update this:

@felixarntz I thought we were going to remove links from

[2021-02-15 12:13] abdullah1908 commented on #2796
@ivankruchkoff I am unable to reproduce this issue at my end. Would you mind to share more information so we can try to setup same environment & can replicate at my end.
cc: @jamesozzie

[2021-02-15 12:35] wpdarren commented on #2646
QA Update: Engineer to confirm ⚠️

@aaemnnosttv I am seeing quite a few differences but not in layout. E.g. on the Site Kit dashboard, on development build the Search funnel says `Unique Visitors From Search`, where as on production build it is saying `Unique Visitors`.  I know the ticket suggests this is just layout, but would like to double check.

[2021-02-15 12:50] benbowler commented on #2693
Hey @felixarntz,

I didn't include enough detail in the first round. I've gone through and mentioned each use of the above hooks and the one that should be updated.

[2021-02-15 13:30] benbowler commented on #2554
Hey @felixarntz, I've addressed your comments above, let me know if this covers everything you were thinking of.

[2021-02-15 15:46] aaemnnosttv commented on #942
IB ✅

[2021-02-15 15:51] eugene-manuilov commented on #2748
@felixarntz adding a new endpoint that replicates the behavior of the existing one seems like overkill. Why not to add the `?persistent=true` argument to the existing reset endpoint and update the Reset class to remove persistent options as well if requested?

[2021-02-15 16:34] johnPhillips commented on #2772
Note: this is one of the issues assigned to me this sprint - I will pick it up in execution once the IB has been reviewed 👍

[2021-02-15 17:38] cole10up commented on #2788
### QA ✅

Good on my end

[2021-02-15 18:04] eugene-manuilov commented on #2806
use strict;

Technically speaking using and loading json files on every request is a bad practice because it is FS bound operation which is slower than including PHP files (because PHP files are cached with OPCache). The assets manifest was originally designed to be a PHP class intentionally.

I know that it is not a big deal, but at the same time, if we look at other parts of the plugin, we will

[2021-02-15 20:15] tofumatt commented on #2788
All good from me! 👍🏻

[2021-02-15 23:08] tofumatt commented on #2737
I a fair bit of time today going through Google Chart issues in GitHub/Google Code archives, Stack Overflow, etc.

Unfortunately this seems to be an issue with Google Charts that we can't resolve ourselves, if we want to maintain the hover/focus state only.

One thing to note is that this problem is especially bad on wider screens, because the chart is set to a width of 100%:

![2021-02-15 22 40 4

[2021-02-16 09:10] aaemnnosttv commented on #2646
@wpdarren I noticed a few differences between the widget-based and legacy dashboard when doing my review but not as a result of this issue. Please make a note about all of the differences you see and we can see which ones need issues or which are intentional changes.

[2021-02-16 09:20] aaemnnosttv commented on #2671
@felixarntz assigning this to you to review since you're the most familiar with these parts. Also wanted to note the changes in #2612 may require adjustments here so it would be good to sync on that first.

[2021-02-16 11:23] wpdarren commented on #2646
QA Update: Engineer to confirm ⚠️

@aaemnnosttv here are the differences I've found between production and development build for the Site Kit Dashboard and
Detailed Page Stats page.  The layout looks fine, so this can be passed but would appreciate it if you could look through the differences and let me know if these need a new ticket or not.

There are a number of differences between the producti

[2021-02-16 11:48] wpdarren commented on #2743
### QA Update: Pass ✅

**Verified:**

- When viewing the "All Traffic widget" on a mobile (<600px) the dropdown appears.  I am able to select each dimension and the pie chart updates and correct stats appear in the user section.  [Screenshot](https://user-images.githubusercontent.com/73545194/108059028-dd473e00-708f-11eb-9b80-679d764d7ec4.png)

- When viewing the "All Traffic widget" on a tablet o

[2021-02-16 12:59] aaemnnosttv commented on #2646
Thanks for the detailed report @wpdarren! I think these are probably unrelated but some of them are probably worth opening issues for. I'll assign this to @felixarntz to confirm.

[2021-02-16 14:46] benbowler commented on #2722
@aaemnnosttv  I actually saw this and fixed it in #2602. I'll create a fresh PR for this issue.

[2021-02-16 15:05] benbowler commented on #2722
Moved into CR and QA brief added.

[2021-02-16 16:34] aaemnnosttv commented on #2693
Thanks @benbowler –  few comments to iterate on here:

* Please avoid referring to specific line numbers in plain text since these can easily change by the time the issue is picked up for execution. It's better to refer to the change in a more abstract way (e.g. using method name, or "directions" to get there) or by using a [permalink](https://docs.github.com/en/github/managing-your-work-on-github

[2021-02-16 16:52] jamesozzie opened #2812 ""Error: Ad Client not found" error and continuous AdSense loading bar in place of "We're getting your site ready for ads""
## Bug Description

There have been numerous support topics open this week which all feature an AdSense related error as below:
`connection Error: Ad Client not found.`

This notice appears in the dashboard for users, I suspect when users have non approved AdSense accounts (or they may have been flagged for having multiple accounts)

In addition to the dashboard notice the AdSense module progress

[2021-02-16 18:18] tofumatt commented on #1084
This is a duplicate of #2539. In fact, #2539 is a duplicate of this, but since that one has a PR for it and discussions, let's close this and keep working on this issue in #2539.

[2021-02-16 18:18] #1084 closed

[2021-02-16 19:20] felixarntz commented on #2740
@aaemnnosttv @asvinb Let's keep the links for now - the problem is more that the tooltips don't always overlay the slices IMO. We'll still have to look into that, but let's not remove links from tooltips because of that issue.

Regarding the `slice_select` events, they should only be triggered when the slice is selected (i.e. when the new `dimensionValue` is set, rather than emptied).

[2021-02-16 19:53] #2603 closed

[2021-02-16 19:53] #2719 closed

[2021-02-16 19:54] #2710 closed

[2021-02-16 19:54] #2652 closed

[2021-02-16 19:54] #2613 closed

[2021-02-16 19:54] #2587 closed

[2021-02-16 19:54] #2662 closed

[2021-02-16 19:54] #2715 closed

[2021-02-16 19:54] #2610 closed

[2021-02-16 19:54] #2195 closed

[2021-02-16 19:54] #2528 closed

[2021-02-16 19:54] #2241 closed

[2021-02-16 19:54] #2716 closed

[2021-02-16 19:54] #2508 closed

[2021-02-16 19:54] #2700 closed

[2021-02-16 19:54] #2801 closed

[2021-02-16 21:15] archon810 commented on #2528
Should we expect the next release to contain the fix?

[2021-02-16 22:52] #2738 closed

[2021-02-16 22:53] #2699 closed

[2021-02-16 22:53] #2286 closed

[2021-02-16 22:54] #2347 closed

[2021-02-16 22:57] #2788 closed

[2021-02-17 01:24] felixarntz opened #2814 "Allow proxy-side user input UI to show up when feature is manually enabled on plugin side"
## Bug Description

#2755 fixed the integration between the remote-controlled `userInput` feature flag and the proxy, which needs to determine itself during setup whether the feature is enabled for the given site. This works for the common use-case where features are always disabled by default and may only be enabled by remote control via the proxy.

However, #2759 moves to a more customizable app

[2021-02-17 02:23] wpdarren commented on #2748
@eugene-manuilov @aaemnnosttv is this for `QA:Eng`? If not, please could we have additional information on what is to test?

[2021-02-17 03:37] cole10up commented on #2288
### QA ✅

Ran `npm run test:e2e` after pulling down the latest develop.

No issues on my end.

[2021-02-17 08:11] aaemnnosttv commented on #2748
@wpdarren I've marked it for eng QA 👍

[2021-02-17 08:17] asvinb commented on #2740
👍  Thanks for catching that @aaemnnosttv . IB has been updated.

[2021-02-17 10:27] jamesozzie commented on #2812
Some interesting insights on [one impacted user](https://wordpress.org/support/topic/site-kit-error-with-adsense/), they don't have an approved AdSense account yet.

Testing done support side:
- Attempted setup using an account which is approved on AdSense but with **a site which was previously not approved**. Conformed I've addressed the issues before attempting setup ("_I confirm I've fixed the

[2021-02-17 11:16] jamesozzie commented on #2812
@adamsilverstein @felixarntz I've added the reproduction steps for this issue users are encountering if you want to take a look. When a user encounters an "_Ad Client not found_" response should there be a different message output in the dashboard?

[2021-02-17 11:18] aaemnnosttv commented on #2740
Thanks @asvinb, the IB looks just about ready but it seems we're still missing a step for handling the `others_source_click` event. It looks like you have this as part of the `help_click` action, but it should be separate per the ACs.

[2021-02-17 11:26] jamesozzie commented on #2812
For those impacted please check whether you have an approved AdSense account and site. From testing so far this can occur on an account which is not yet approved, evident from accessing the [AdSense platform](https://adsense.google.com).

![image](https://user-images.githubusercontent.com/41326532/108197907-df061580-7112-11eb-8313-ed1b879f028b.png)

[2021-02-17 11:44] tofumatt commented on #2772
IB ✅

[2021-02-17 12:41] jamesozzie opened #2816 "Output a users "Site status" within AdSense connection status and in Site Health information"
## Feature Description

The AdSense platform requires both an approved account and site in order for ads to appear. At present within Site Kit we only display a users Account status - in both the AdSense module settings screen and also output in a users Site Health information.

If possible via the current API output the site level status alongside the account status:

**_AdSense settings screen:_

[2021-02-17 13:14] wpdarren commented on #2095
### QA Update: Fail ❌

@asvinb on smaller screens the y-axis values are not displaying for the Session Duration.  It's possible that this is expected due to the amount of characters, but would like to check.

**Verified:**

- On the "Bounce Rate" tab, there is a % sign after the "Bounce Rate" label.

![image](https://user-images.githubusercontent.com/73545194/108208803-79db1000-7164-11eb-821f-ba2f

[2021-02-17 13:31] jamesozzie opened #2817 "Alert users of modified SK placed snippets when visiting module settings page"
## Feature Description
The Analytics and AdSense module (and potentially others) are designed to add a script tag to the site front end (unless they detect an existing tag). Sometimes however, a site does not properly display the tags - for example if the site's theme does not fire the `wp_head` tag, or some optimization/concatinating/caching plugins that adjust the `wp_head` content. In these cas

[2021-02-17 13:48] jamesozzie commented on #2782
Thanks for sharing, and apologies for the delayed response. Can you share the following:

- On the accounts whereby you encounter this notice do you have multiple properties assigned? If so do you recall approximately the amount of properties per account?
- When you access the Analytics web interface can you check the account settings and ensure you have [full administrator access ](https://i.imgu

[2021-02-17 14:29] wpdarren commented on #2814
@aaemnnosttv I have installed the tester plugin (1.4.0) and when I enter `userInput` in the feature flag checkbox, and save settings, the default entry of `Array` re-appears. I have tried this with all the options in the `Force enabled feature flags` field.
Any ideas what could be causing this?

![image](https://user-images.githubusercontent.com/73545194/108217998-2fab5c00-716f-11eb-9f2b-d446952ff

[2021-02-17 15:04] wpdarren commented on #2814
@aaemnnosttv I have activated the plugin fix,and the `"Tell Site Kit more about your site"` step is appearing with the `userInput ` enabled or disabled. I'm wondering if it is because of this `Note this is currently only testable when using the staging version of the proxy.` Please could you clarify what this means? Do I have to use the Dev plugin?

[2021-02-17 16:08] benbowler commented on #2693
Thanks Evan, I've been through and reviewed and updated them. Can you confirm I was correct for:

* `includes/Core/Authentication/Disconnected_Reason.php`
* `includes/Modules/Site_Verification.php`

As it wasn't immediately clear here what the delete and verification function do and whether they should be limited to the proxy.

[2021-02-17 16:38] jas8522 commented on #852
Yet another +1 here...

[2021-02-17 16:44] felixarntz commented on #2814
@wpdarren There is another problem that causes the UI in the tester plugin to not work as expected, see https://10up.slack.com/archives/CFFRMC5DE/p1613563727026500?thread_ts=1613531414.023300&cid=CFFRMC5DE @aaemnnosttv will open a quick PR to get that into `develop`, afterwards this should be ready to be re-QAd.

[2021-02-17 17:17] frkn64modding commented on #2681
Hello, I am the person who created the forum thread, and I'm waiting for this feature for a long time. Is there any news?

[2021-02-17 17:20] jamesozzie opened #2821 "Most popular content is adding the full path twice for subdirectory installs (when a path is already defined within Analytics)"
## Bug Description

If a user user sets up a WordPress install on a subdirectory (_mysite.com/blog_) and then connects to Analytics using a property that includes the full subdirectory in their Analytics "Default URL" field this results in invalid URLs specific links in the "Most popular content" widget (with the path referenced twice)

**_Example default URL including the path at Analytics level_

[2021-02-17 17:23] jamesozzie commented on #2821
@abdullah1908 Unsure whether this is something that can be addressed on the plugin side, or should users define the parent URL on their Analytics configuration.

[2021-02-17 17:23] felixarntz commented on #2681
@frkn64modding Thanks, I've just prioritized this. We'll be able to ship this in the 1.28.0 release of Site Kit.

[2021-02-17 17:26] felixarntz commented on #2814
@wpdarren #2820 has been merged now, so this should be good for re-testing with the latest `develop` branch.

[2021-02-17 17:29] frkn64modding commented on #2681
Great! Thank you very much for giving priority, @felixarntz.

[2021-02-17 18:06] aaemnnosttv commented on #2806
@eugene-manuilov I'm not against implementing the manifest in PHP so much as I am _generating a class_ as part of our assets build process since it causes problems with the autoloader but it's also weird to have generated code mixed with static source code.

With that in mind, I think the better approach would be to generate the manifest with PHP doing something like this:
[code]
Then in the `Mani

[2021-02-17 18:20] felixarntz commented on #2737
@tofumatt Given the circumstances, I think this is a quite elegant solution - let's try that! IB ✅

[2021-02-17 18:21] felixarntz commented on #2737
@tofumatt I'll assign to you since that probably makes most sense as you've already spent considerable time in this and the V2 component.

[2021-02-17 18:35] felixarntz commented on #2714
@tofumatt This is looking great, a few points of feedback:

Big +1, this makes it consistent with the overall loading experience. There is some UX work being done where we will eventually exchange loading UI, but at the moment the usage of the progress bar here just feels inconsistent.

Is that too much effort to do now? I'd prefer if we went with `circular` for pie charts and regular square shape

[2021-02-17 19:02] tofumatt commented on #2714
Not at all. I was cautious of expanding the scope here _too_ much just given the changeover of the loading component was already a bit of extra scope, but it was very easy to implement, and I thought the same thing in terms of how this would work.

I've got this largely ready to go already, and adding "smart default" loading components based on the chart type is less than an extra hour of work _ma

[2021-02-17 19:04] felixarntz commented on #2184
@eugene-manuilov IB looks solid! Regarding the missing module fields:
* Let's expose a `forceActive` property for every module in the REST API endpoints, replacing `autoActivate`. This is essential, so it should come from the server.
* Let's remove the `learnMore` / `learnmore` fields in JS, since they don't seem to be actually used.
* Let's add a `features` argument to `registerModule` in JS `cor

[2021-02-17 19:07] felixarntz commented on #2513
IB ✅

[2021-02-17 19:11] felixarntz commented on #2660
IB ✅

[2021-02-17 19:14] felixarntz commented on #2671
IB ✅

@benbowler @aaemnnosttv The IB is still valid, even against the changes that #2612 will make. However, the actual implementation will surely run into merge conflicts, so I've marked this one as blocked by #2612 for further execution.

[2021-02-17 19:39] tofumatt commented on #2748
QA ✅

[2021-02-17 19:46] tofumatt commented on #2688
QA ✅

[2021-02-17 20:39] felixarntz commented on #2714
IB ✅

[2021-02-17 20:41] felixarntz commented on #2554
@benbowler This is almost good to go, just one more thing:

The URL needs to come from the reference URL (`$this->context->get_reference_site_url()`), which _usually_ is the same as the `home_url()`, but it can be filtered e.g. for staging sites to pull data for another site URL than the current one.

[2021-02-17 20:50] abdullah1908 commented on #2821
@jamesozzie I can reproduce this issue on my end as well.
![Screenshot (24)](https://user-images.githubusercontent.com/14175927/108266117-86bf2a00-718b-11eb-8aa4-debede7cf4e2.png)

[2021-02-17 23:56] felixarntz commented on #2721
@tofumatt Can you add a QA Brief here please?

[2021-02-17 23:58] adamsilverstein commented on #2528
@archon810 Yes!

[2021-02-17 23:59] adamsilverstein commented on #2812
Thanks for opening this and adding steps to reproduce @jamesozzie!

[2021-02-18 00:06] vtlpsk opened #2822 "Analytics data is not available after the Site Kit update 1.26.0"
## Bug Description

Google Analytics not working properly for the whole day after the latest Site Kit update (1.26.0).

Site Kit shows me this error:
`Quota Error: Number of recent failed reporting API requests is too high, please implement exponential back off.`

Google Analytics doesn’t show any data. Just blank pages.
And this error:
[code]
## Screenshots
![Screenshot 2021-02-18 at 02 00 45](ht

[2021-02-18 00:14] archon810 commented on #2528
Already installed it and am ecstatic that the page load speed has finally come back!

[2021-02-18 00:16] adamsilverstein commented on #2528
Good to hear, thanks again for your help in raising and resolving this issue.

[2021-02-18 00:37] felixarntz commented on #361
Closing this as there has been valid pushback here and it's not a huge issue either way. We can revisit if this comes up again as a concern.

[2021-02-18 00:37] #361 closed

[2021-02-18 00:47] felixarntz commented on #2010
Closing this in favor of https://github.com/ampproject/amphtml/pull/32100

[2021-02-18 00:47] #2010 closed

[2021-02-18 00:52] felixarntz commented on #1684
After several discussions about this, we're not going to change the behavior here. External links should always be marked as such, both with the external icon as well as with screen reader text; however completely avoiding external links is a non-goal, as e.g. the "Learn more" links, which are one of the primary surfaces for external links, shouldn't take the user away from Site Kit into a complet

[2021-02-18 00:52] #1684 closed

[2021-02-18 03:42] cole10up commented on #2756
### QA ✅

Confirmed the current bug:
![Plugins ‹ Hellogoodbye1 — WordPress](https://user-images.githubusercontent.com/57115907/108301986-ef8caf00-7157-11eb-8ff1-5c5fb6bf2049.gif)

Installed latest develop and checked setup and reset screen again:
![Site Kit by Google Dashboard ‹ Hellogoodbye1 — WordPress (10)](https://user-images.githubusercontent.com/57115907/108302142-38446800-7158-11eb-99da-ead

[2021-02-18 08:52] asvinb commented on #2740
Updated @aaemnnosttv

[2021-02-18 09:51] aaemnnosttv commented on #2468
@felixarntz – I've taken over the IB here to finish it up so this is ready for another pass 👍

I decided to take an alternate approach to how we handle the menu icon in PHP to [avoid reading extra files from disk when possible](https://github.com/google/site-kit-wp/issues/2806#issuecomment-779378714).

[2021-02-18 10:18] aaemnnosttv commented on #2740
Thanks @asvinb, I think the only thing left is regarding the tracking on slice selection which should only happen when a slice is being selected, not on deselection which happens when you select the currently selected slice. See https://github.com/google/site-kit-wp/issues/2740#issuecomment-780061422

[2021-02-18 10:29] jamesozzie commented on #2822
@vtlpsk Thanks for opening a GitHub issue and providing useful insights. Can you share whether the issue still exists, and if so can you attempt disconnecting the Analytics module and connecting once more? I suspect this may have been a service level quote message.

[2021-02-18 10:50] cnxsoft commented on #2782
I have seven properties for CNX Software, and one property on lampang-info and "CNX Software - Noticias de Sistemas Embedidos".

I have full administrator access for CNX Software and "CNX Software - Noticias de Sistemas Embedidos", but I only have limited access to lampang-info.

[2021-02-18 11:05] aaemnnosttv commented on #2693
@benbowler the `Disconnected_Reason` class is an instance of `User_Setting` so it doesn't have access to know if the proxy is being used or not. There isn't really any harm in leaving this as-is even though the setting is proxy-specific. Looking at the other usage of it, we only ever set it if the user is using the proxy, but there are other places where we don't check that when its value is read.

[2021-02-18 11:37] vtlpsk commented on #2822
@jamesozzie
Yes, the issue still exists. It's a strange coincidence that this started happened after updating the Site Kit plugin.
Reconnecting doesn't change anything:
<img width="529" alt="Screenshot 2021-02-18 at 13 04 51" src="https://user-images.githubusercontent.com/4630500/108350138-8440ec80-71ec-11eb-81f0-eca715017f97.png">

Analytics still doesn't show any data and I keep getting an error

[2021-02-18 11:47] tofumatt commented on #2721
@felixarntz Sure thing! I thought I added one but I might've forgot to hit save 🤦🏻

[2021-02-18 11:57] jamesozzie commented on #2822
Thanks for sharing. I've been unable to recreate this same experience but I'll perform some additional tests.

In the meantime can you share whether you can see any data from your account when using the [Google Analytics query explorer](https://ga-dev-tools.appspot.com/query-explorer/)? Please check on both the account and property you've used within Site Kit and another Analytics property.

[2021-02-18 12:22] vtlpsk commented on #2822
@jamesozzie
Unfortunately, I have only one account and property.
I get a 500 error after I Run Query.

<img width="491" alt="Screenshot 2021-02-18 at 14 13 31" src="https://user-images.githubusercontent.com/4630500/108356184-7c854600-71f4-11eb-8c32-04df66d98bbf.png">

[2021-02-18 12:29] jamesozzie commented on #2812
- One user provided their Site Health information which displayed a `adsense_account_status: none`.
- Another impacted user had an AdSense account previously and it looks like their account has been flagged for multiple AdSense accounts
- Finally one user today encounters the same despite having an `adsense_account_status: approved` status. Awaiting additional info, their site may have be approved

[2021-02-18 12:33] wpdarren commented on #2689
### QA Update: Engineer to confirm ⚠️

@johnPhillips I don't want to assume so would like to confirm the URL is correct:

When I click on the `See full stats in AdSense` link this is the URL that loads.

https://www.google.com/adsense/new/u/0/pub-7603478468516085/reporting?d=2021%2F01%2F21-2021%2F02%2F17&authuser=darren.cronian%40get10up.com

I am assuming that the `%2F` etc. is just the HTML code

[2021-02-18 12:35] dbmatre commented on #2822
This is worldwide issue faced by many analytics user https://twitter.com/googleanalytics/status/1362240056111427584

[2021-02-18 12:41] vtlpsk commented on #2822
It seems it just started working again.
Thank you @jamesozzie @dbmatre.

[2021-02-18 12:41] #2822 closed

[2021-02-18 12:43] eugene-manuilov commented on #2184
Looks like we use it only in the settings module component and only for the search-console module. I think we can hardcode it in the SettingsModule component in this case and not introduce a new property in the REST API endpoints. Added a note in the IB about it.

:+1: We don't call out it in the IB anyway.

:+1: Added it to the IB.

[2021-02-18 12:44] eugene-manuilov commented on #2184
Also updated estimates to 19 since we extended the scope for this ticket.

[2021-02-18 12:45] jamesozzie commented on #2822
@vtlpsk Thanks for bringing this to our attention, this seemed to impact some users only. Likewise @dbmatre, thanks for sharing

[2021-02-18 12:45] wpdarren commented on #2721
### QA Update: Pass ✅

With browser viewport to at least 1400px wide:

- When I highlight three or more metrics: the legends on the left/right side of the screen disappear.

![image](https://user-images.githubusercontent.com/73545194/108358854-2e8b3500-722a-11eb-9e81-2cb0a57e4a8b.png)

- When I highlight two or fewer metrics: the legends appear.

![image](https://user-images.githubusercontent.com/

[2021-02-18 13:03] jamesozzie commented on #2782
Thanks for the update. In that case if you could share a screen recording of this behavior that would be great, this is the first such occurrence and we can then try to recreate or investigate this further.

When performing the same actions that lead to this notice please use the "CNX Software" Analytics, which you have full access to. When recording also please have your [Chrome Developer Tools o

[2021-02-18 13:12] benbowler commented on #2554
Updated the IB.

[2021-02-18 13:18] benbowler commented on #2693
Thanks for looking through @aaemnnosttv I've updated it based on your comments above.

[2021-02-18 13:24] wpdarren commented on #2814
### QA Update: Pass ✅

**Verified:**

- When enabling the userInput feature flag checkbox in the Site Kit tester plugin (version >= 1.4.0), the "Tell Site Kit more about your site" step appears in the proxy UI.
- When the userInput feature flag checkbox is disabled, the "Tell Site Kit more about your site" step does not appear.

[2021-02-18 13:56] johnPhillips commented on #2689
@wpdarren That's correct, the `%2F` is just escaped slashes - this is called [percent encoding](https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding).

The proof in the pudding is that the link should work, i.e. you see the date selection in the AdSense stats.

[2021-02-18 14:12] wpdarren commented on #2689
### QA Update:  Pass ✅

**Verified:**

- Can confirm the path is `https://www.google.com/adsense/new/u/0/{ACCOUNT_ID/reporting`
- Can confirm that the URL works and redirects me to Google Adsense
- Can confirm that the dates changes based on the date period, i.e. 7, 14,28 and 90 days.

For 7 days  `/reporting?d=2021%2F02%2F11-2021%2F02%2F17&authuser=darren.cronian%40get10up.com`

For 14 days `/rep

[2021-02-18 16:45] eugene-manuilov commented on #2806
Yep, it is better than the JSON approach even though it looks a bit cumbersome. Sounds good to me.

[2021-02-18 16:59] aaemnnosttv opened #2827 "Add enabled features to anonymous usage tracking"
## Feature Description

With enabled features starting to vary across installs, it's important that we include this in our event tracking to be able to segment by feature.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `trackEvent` should be updated to include a list of all enabled features as a custo

[2021-02-18 17:02] felixarntz commented on #2827
IB ✅

[2021-02-18 18:20] ivankruchkoff opened #2828 "User Input Multi Select Has Weird Behaviour for "Other""
## Bug Description

On any of the multiselects that have "Other" as an option, items can be oddly checked/unchecked, see screenshot and video for two examples.

## Steps to reproduce

- Pick one item (Publish News Item), and start typing in the other field.
- Now deselect other and everything else may be greyed out.
- Select and delete all text in other and see that the checkbox is re-checked.
- N

[2021-02-18 18:45] ivankruchkoff opened #2829 "After preview, back/next can change to update"
## Bug Description

After preview screen has shown, and we choose to edit one item, next/back buttons change to update

## Steps to reproduce

1. Open /wp-admin/admin.php?page=googlesitekit-user-input
2. Go through flow to 5th question.
3. Press preview.
4. Press back, and notice that on 5/5 Back/Preview buttons show.
5. Now on preview edit any question and update.
6. Now press back, and notice th

[2021-02-18 22:34] tofumatt commented on #2670
QA ✅

[2021-02-18 22:54] felixarntz opened #2830 "Contributor Documentation"
Epic for adding comprehensive product documentation for internal and external contributors

[Initial proposal](https://docs.google.com/document/d/1uiLfbH6EUsOBryjHd3HdhRnwjNM6iw4-ug5Z183mduw/edit)

[Contributor documentation priority voting](https://docs.google.com/spreadsheets/d/1WybRWRnRQOERNd-9uOfJyrKREiRdJvFfZyxdl04lHwU/edit?resourcekey=0-im1KpyJEE7v0vmQt2ZoKug#gid=0)

[2021-02-19 07:48] asvinb commented on #2740
@aaemnnosttv I've updated the IB to make it clear that tracking should only occur when a slice is selected :) I already mentioned when a slice is selected before, but made it clearer now 😁

[2021-02-19 08:27] asvinb commented on #2648
Followed QA steps as per screenshot below: ✔️
![image](https://user-images.githubusercontent.com/31818/108477991-625b6e80-72ad-11eb-9992-4016b880e462.png)

After plugin reset/disconnect: ✔️
![image](https://user-images.githubusercontent.com/31818/108478321-c716c900-72ad-11eb-98a8-4609b606610d.png)

### QA: ✅

[2021-02-19 08:39] asvinb commented on #2683
- Dev and production builds both render the same dashboard.
- Enabled the `widgets.dashboard` feature flag via the Tester plugin and looked for the `DashboardImpressionsWidget` component on the dashboard, which is displayed only when `widgets.dashboard` is enabled. `DashboardImpressionsWidget`  is present.
- Disabled the `widgets.dashboard` feature flag via the Tester plugin and looked for the `Da

[2021-02-19 09:19] aaemnnosttv commented on #2740
Thanks @asvinb !

IB ✅

[2021-02-19 09:20] asvinb commented on #2095
@wpdarren I would say, let's create another ticket for that. Ideally, we can reduce the chart area on small screens and then resize it on large screens but I think it's worth a ticket on its own. What do you think @aaemnnosttv ?

[2021-02-19 09:24] aaemnnosttv commented on #2693
IB ✅

@benbowler Regarding the estimate, 15 seems too high since this is mostly simple PHP changes which should be fairly straightforward to do. There may be a few tests to update but I would imagine 7 or maybe 11 would be sufficient. Is there something in particular that you're thinking of that might require a substantial amount of time?

[2021-02-19 09:58] aaemnnosttv commented on #2064
@asvinb – the IB looks good overall, just a few points:

`url` isn't needed for the report query here since module dashboards are currently site-wide.

Regarding the use of `ReportTable`, I've added this as a dependency for the issue since it can't really be completed without it.

Also, the IB is missing the added sections for tests and VRT – would you please copy those over from the issue templat

[2021-02-19 10:01] wpdarren commented on #2646
@felixarntz wondered what your thoughts on my [review](https://github.com/google/site-kit-wp/issues/2646#issuecomment-779773565) of the differences?  Are these related to this ticket or would you like me to create a new ticket? I know the ticket mentions more the padding/nesting which does not appear to be an issue.

[2021-02-19 10:07] aaemnnosttv commented on #2095
@asvinb I would say it's probably worth addressing here if it's not too much effort as we shouldn't introduce changes that have detrimental side effects, but I'm sure what the best solution is here. Can you show in a screenshot what it would look like if we adjusted the sizing in mobile like you said?

[2021-02-19 10:25] wpdarren commented on #2287
### QA Update: Pass ✅

**Verified:**

- On the Analytics dashboard the links for the content in the "Top content over the last xxx days" table contain the extra parameters: '_u.date00' and '_u.date01'

- When clicking on the Analytics links, they should bring you to the accurate report in the Analytics FE, with the correct dates specified, i.e. 7, 14, 28, and 90 days.

7 days:  `https://analytics.

[2021-02-19 12:39] eugene-manuilov commented on #2773
@johnPhillips could you please add QA Brief?

[2021-02-19 12:47] asvinb commented on #2064
@aaemnnosttv IB updated. Can you check again?
Thanks!

[2021-02-19 13:35] benbowler commented on #2693
Hey @aaemnnosttv, agreed and updated. I added the estimate fairly early on, looking into each of the updates more closely 7 seems reasonable.

[2021-02-19 14:20] asvinb commented on #2095
@aaemnnosttv Here is how the chart will look like if we set the `chartArea` to :
`
chartArea: {
				height: '80%',
				width: '100%',
				left: 60,
			},
`
![image](https://user-images.githubusercontent.com/31818/108515806-ed089180-72de-11eb-969f-c668ec7a229b.png)
and desktop:
![image](https://user-images.githubusercontent.com/31818/108516029-2e993c80-72df-11eb-9aca-520fe2fb44a8.png)

What do you

[2021-02-19 16:22] felixarntz commented on #2739
@ivankruchkoff The IB looks good overall, however I'm thinking it might make sense to keep tooltip tours in a central location in the codebase? For example, we would never want to run into a situation where two tooltip tours show at the same time, and for that we would need to have some central awareness.

I was thinking about tooltip tours more in the way that they apply to a certain screen (whic

[2021-02-19 16:26] felixarntz commented on #2468
IB ✅

[2021-02-19 16:30] felixarntz commented on #2184
@eugene-manuilov

This shouldn't be hard-coded; on the PHP side this is already controlled, so it's not something we'd need to introduce infrastructure for. The only problem is that it's not exposed via the REST API. The responsibility for force-active modules needs to come from the server either way, since it also needs to be considered for validation purposes (server should never allow a deactiv

[2021-02-19 16:31] felixarntz commented on #2554
IB ✅

[2021-02-19 16:48] eugene-manuilov commented on #2184
Ok, should be good now. IB is updated.

[2021-02-19 18:14] felixarntz commented on #2184
IB ✅

[2021-02-20 04:30] ivankruchkoff commented on #2468
With an SVG icon, it loads as black and then changes colour once some WordPress javascript loads to style it according to the theme colours. Looking into preventing that from occurring.

https://user-images.githubusercontent.com/373931/108583833-424d9e80-72f1-11eb-8017-91fa350c6a77.mp4

[2021-02-20 13:12] richard-osborne commented on #459
Adding a +1 for this please as reluctant to have more than 1 plugin installed for various Google site stats.

[2021-02-20 14:29] cnxsoft commented on #2782
Here's the link to the screencast: https://youtu.be/7NacuESJgCY

[2021-02-20 21:45] lontano75 commented on #2350
Hi! I've the same problem :(

An error occurred while running 'mapSelect': Cannot read property 'getProxySetupURL' of null
The error may be correlated with this previous error:
TypeError: Cannot read property 'getProxySetupURL' of null
    at Object.current (https://www.futuroprossimo.it/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-activation.d3921b016589fe6b0142.js:10:18542)

[2021-02-22 09:45] jamesozzie commented on #2280
[One more report ](https://wordpress.org/support/topic/site-kit-%d0%be%d0%b1%d0%bd%d0%b0%d1%80%d1%83%d0%b6%d0%b8%d0%bb-%d0%be%d1%88%d0%b8%d0%b1%d0%ba%d1%83/)of this notice in the WordPress support forums, Site Kit 1.26.0, unknown at what stage this occurs.
- Unknown at what stage this occurs
- Awaiting additional info, user marked topic as "resolved" since opening
- Site title does have non standa