[2020-05-09 04:29] ernee opened #1537 "Really Simple SSL prevents setup when changing from http to https"
## Bug Description

While investigating the issue reported[ in this topic](https://wordpress.org/support/topic/dashboard-not-working-despite-authenticating/), we've found that the [Really Simple SSL plugin](https://wordpress.org/plugins/really-simple-ssl/) can prevent updates on the proxy when changing the site from` http://` to` https://`.

Temporarily disabling Really Simple SSL and manually upd

[2020-05-09 06:11] ernee opened #1538 "Careerfy Theme/ WP JobSearch plugin conflict"
## Bug Description

The user [in this support topic](https://wordpress.org/support/topic/uncaught-google_auth_exception/) reported a fatal error when trying to setup Site Kit while using the [Careerfy Theme](https://themeforest.net/item/careerfy-job-board-wordpress-theme/21137053) and its bundled plugin WP JobSearch.

[code]

In testing, I encountered the following screen at the end of the setup p

[2020-05-10 10:39] dayafterdesign commented on #1391
I just had the same issue. Disabling my GridPane 6g WAF to process set-up resolved it.

[2020-05-11 05:07] levani854 commented on #1341
You know what? i have some problem. i also had other issues, sign in stack, checking compatibility, error, i think site kit need to be updated.  maybe the problem is in plugin itself cause i had recently added same problems from different people. so i hope they fix all issues in new updated version and it will be available soon.

[2020-05-11 08:45] jamesozzie opened #1540 "Update available notification dot appears in WP admin dashboard after already updating to latest version"
## Bug Description
From the user admin panel the red update notification dot within the Site Kit tab appears. When checking for updates there is no Site Kit update available, with the latest version already installed

Original Support topic:
- https://wordpress.org/support/topic/the-pluging-show-a-update-in-the-admin-bar-but-no-update
- Site: https://locksmithunit.es/

## Screenshots

![image](htt

[2020-05-11 10:14] jamesozzie opened #1541 "Dashboard menu item conflict with WP Engine hosted sites"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/messes-with-the-wordpress-admin-menu/) with Site Kit activated the WP Engine settings tab is placed below the dashboard tab.

Without Site Kit active the WP Engine settings tab is placed top of the admin dashboard tabs.

Unknown what parameters are passed with WP Engine `add_menu_page`, it's a hos

[2020-05-11 11:01] jamesozzie commented on #1304
@DustinWStout Many thanks for the suggestion, along with supporting context. I've categorised your feature request now. Rest assured all such suggestions do get considered and discussed. We can keep you notified here with any further updates.

[2020-05-11 11:21] Supanaught commented on #852
+1 for this

Echoing @OandB's comment, it's a great plugin but without Editor / Shop Manager access I still need to direct clients to theiur analytics account for any reporting requirements.

[2020-05-11 14:58] marrrmarrr commented on #1381
Made some edits to the language. LGTM with these edits.

[2020-05-11 16:34] tofumatt commented on #1510
Sounds good; I've updated the IB with your suggestions, with one exception: I don't think the extra `setValue` function provides any extra value. The functionality from `setValue( 'foo', 'bar' )` is already present in `setValues({ foo: 'bar' })`, but the latter is more extensible if one wants to add more items.

I don't think there's much benefit in having the single-variable one, especially if we

[2020-05-11 18:33] tofumatt commented on #1328
Sorry about that! As mentioned earlier: I think I typed this up in my code editor and then forgot to submit the new one 😅

Should be good for another review now, will all points addressed.

[2020-05-11 21:14] gabrielstuff commented on #1120
hello, just bumping on that. Was trying to simply add some `ga` tracking based on the following doc : https://developers.google.com/analytics/devguides/collection/gajs/methods/gaJSApiBasicConfiguration

After futher reading, I understood that the GTM methods is used and so one should only follow methods described there : https://support.google.com/tagmanager/answer/6106716?hl=en&ref_topic=6333310

[2020-05-11 21:20] zaheddec commented on #276
looking forward to it.

[2020-05-11 23:14] felixarntz opened #1545 "Fix CTAs about linking Analytics with AdSense to show up"
## Bug Description

There are two AdSense widgets that are sourced by the Analytics API (currently part of the Analytics module codebase, hooked into AdSense-specific UI via filters):

* full-width widget at the bottom of AdSense screen (below "Performance" widget, with similar heading)
* half-width widget at the bottom of Site Kit dashboard screen (on the right of the AdSense "Earnings" widget)

[2020-05-12 07:41] aaemnnosttv commented on #1530
I've taken another look at this and I don't think there is any downside/risk to using the registry provider around components that don't use it. The [Context docs mention](https://reactjs.org/docs/context.html#caveats) that unintended renders can happen in context _consumers_ if the provider is implemented improperly (ie. using a value that changes on every render) but that
* wouldn't affect non-c

[2020-05-12 10:34] tofumatt commented on #1530
There should be no negative effects on "non-connected" components/legacy components using the new providers. Plenty of UI-only components are children of Provider components and work fine; our legacy, non-Redux-aware components would be treated the same way. If something caused issues it is quite edge-case but I can't think of one off the top-of-my-head at all. Totally safe 😄

(Regarding "if the p

[2020-05-12 12:50] adamsilverstein commented on #1280
A quick note that I have been working to track down this issue by opening a ticket with Analytics support. I will update here when we get more information.

[2020-05-12 13:04] jamesozzie commented on #1535
Many thanks for the suggestion. I've added this as a feature request for the team to consider for future releases.

[2020-05-12 13:10] jamesozzie commented on #1533
@estereofonico Thanks for opening this issue. We are working on making improvements to the way the plugin works with Tag Manager inserted snippets, you can find out more  at #1381. I can keep you posted here with any updates.

[2020-05-12 15:00] nicosemp commented on #6
Sharing the entire dashboard would be the basic functionality. I haven't had any clients who required a per module sharing.

Entire site. I don't see ever needing to exclude a custom post or a set of pages from a user's view.

Per role would be great.

This is not fundamental, but would be a nice to have addition.

[2020-05-12 15:18] sviluppomania commented on #1348
@jamesozzie news?

[2020-05-12 15:34] #1116 closed

[2020-05-12 15:40] felixarntz commented on #1510
IB ✅

[2020-05-12 15:43] jamesozzie commented on #1348
Hi @sviluppomania. No news just yet, but the team will be reviewing all feature requests in due course.

[2020-05-12 16:10] jamesozzie opened #1548 "Analytics module setup fails despite full account access: User does not have sufficient permissions for this account"
When attempting to setup the Analytics module the following notice appears, despite the user having access to that Analytics account.

`Error: User does not have sufficient permissions for this account.
`

![image](https://user-images.githubusercontent.com/41326532/81717388-65017b80-9472-11ea-9fee-a069b186824d.png)

The permissions notice does not disappear when selecting another GA account using

[2020-05-12 17:14] aaemnnosttv commented on #1380
✅ IB

[2020-05-12 17:25] felixarntz commented on #1499
@ShahAaron IB looks good for the most part. Something to add here is that the filter for the refactored component should be moved from the `index.legacy.js` file to `index.js`. The legacy file should only have references to code that has not been refactored yet. Also keep in mind that the new component needs to be wrapped in a `RegistryProvider` for the filter.

With these few changes the IB shoul

[2020-05-12 17:26] adamsilverstein opened #1549 "Compatibility check: add service & API connection detection"
## Feature Description

When users first set up Site Kit, the plugin checks that the user's setup is completely compatible with Site Kit. We can improve these checks by adding a connection check to services the plugin depends on. If the connections fail (because of a firewall for example), we should inform the user they may not be able to use Site Kit.

### Existing compatibility check.

Currently

[2020-05-12 17:32] felixarntz commented on #1328
@tofumatt

These query parameters need to remain in use, they're unrelated to us using resolvers.

* The `tagverify=1` is mandatory to ensure Site Kit does not render its own tags for these requests (we don't want to find our own tags as "existing tags"). We can include this query parameter in the URLs returned by `getExistingTagURLs`, since it must always be there for those URLs.
* The `timestamp

[2020-05-12 17:40] felixarntz commented on #1530
Thanks for the additional context @aaemnnosttv and @tofumatt! That all sounds good to me, IB ✅

Let's stick with consistently using lowercase file/directory names for components for now, this is not the right point to change it. I'm in favor of making the change overall (as I think it's a great way to easily differentiate components), but it should happen with a separate issue at some point.

[2020-05-12 17:42] felixarntz commented on #1531
The IB mostly sounds good to me. I'd like to hold off approval until we've fully defined #1529 though.

[2020-05-12 17:51] felixarntz commented on #1477
That sounds good to me, it technically feels like a better alternative. Regarding maintenance, `fetch-mock-jest` is currently a lot less popular and this could have long-term implications, but since it's new and growing, and since you @wheresrhys already checked in here (thanks!), let's give it a shot! 🎉

IB ✅

[2020-05-12 18:10] felixarntz commented on #1099
Any update on this one @adamsilverstein?

[2020-05-13 08:16] aaemnnosttv commented on #1530
@tofumatt

The docs point this out as a potential pitfall where this can happen even when the value doesn't change, but technically _does_ change because of referential equality. e.g. - if you're using an object literal as the `value` as it would be a unique instance every time.

[2020-05-13 10:16] ShahAaron commented on #1510
@tofumatt should this be named `assets/js/googlesitekit-forms.js` or `assets/js/googlesitekit-datastore-forms.js similar to the way `user` and `site` are named?

[2020-05-13 10:44] tofumatt commented on #1510
I suppose `assets/js/googlesitekit-datastore-forms.js ` is more inline with what we do—that seems fine to me.

[2020-05-13 12:41] aaemnnosttv commented on #1476
@felixarntz I think this should be good to go now. Assigning to you since you had previously requested changes, but also because it is not tagged with the release yet.

[2020-05-13 13:08] aaemnnosttv commented on #1545
IB ✅

The difference in error handling is legacy and should no longer be necessary. Previously, batch requests weren't consistent in the response returned for requests that resulted in exceptions/errors as we were relying on the WP REST API's response handling to convert `WP_Error`s into the proper format for a response. This didn't happen for batch requests because the response itself was not a `

[2020-05-13 13:23] jamesozzie opened #1553 "Analytics dashboard: Referral and social labels inverted"
## Bug Description

As reported in [WP support forums](https://wordpress.org/support/topic/wrong-graphic-label/#post-12827429) the Analytics dashboard within Site Kit is showing inverted labels for referral and social acquisitions.

![image](https://user-images.githubusercontent.com/41326532/81817683-f8938480-9524-11ea-941f-fc610fdd22b4.png)

- Reproducible in support
- Social label within Site Ki

[2020-05-13 13:44] jamesozzie opened #1554 "Analytics top acquisition sources: Referral traffic not counted"
## Bug Description

Site Kit is only displaying traffic acquisitions for organic, direct and social traffic. There is no referral traffic in the Site Kit pie chart despite referral traffic in Analytics Web UI (although 1.9% only)

Within Analytics web UI - 7 day report:
- Organic: 77.6%
- Direct: 17%
- Social: 4.5%
- Referral: 1.9%

![image](https://user-images.githubusercontent.com/41326532/81819

[2020-05-13 14:00] ernee commented on #1391
Another scenario where this issue can be recreated is using a site with Cloudflare's SSL and not  updating the [WordPress Settings](https://i.imgur.com/MkFLF0E.png) (in some configurations like with Cloudflare's Flexible SSL this may occur when proper redirections are not in place). Site Kit's requests are served as mixed content and blocked in the browser:

<img width="1273" alt="Mixed content bl

[2020-05-13 15:02] felixarntz commented on #1510
Good question @ShahAaron, let's use `assets/js/googlesitekit-datastore-forms.js` - thanks for catching that!

[2020-05-13 15:14] felixarntz opened #1555 "Fix deprecation notices on PHP nightly"
## Bug Description

Function `ReflectionParameter::isArray()` is deprecated, see e.g. https://travis-ci.com/github/google/site-kit-wp/jobs/333190714

For background information on how to replace usage, see https://github.com/php/php-src/pull/5209 (`ReflectionParameter::getType()`). We may need to keep both and use them depending on PHP version active.

---------------

_Do not alter or remove anyt

[2020-05-13 15:16] cole10up commented on #1391
Going to move this one to Execution looking at the reproducible steps.

[2020-05-13 17:15] felixarntz commented on #1545
Potential follow-up enhancement here: We could link directly to the area where users can link Analytics and AdSense: `https://analytics.google.com/analytics/web/?authuser={userEmail}#/a{analyticsAccountID}w{analyticsInternalWebPropertyID}p{analyticsProfileID}/admin/integrations/adsense/editor/new`

cc @marrrmarrr

[2020-05-13 18:21] adamsilverstein commented on #1099
@felixarntz I haven't had a chance to look - thanks for the reminder. I will review this again.

[2020-05-13 20:17] bozzmedia commented on #852
Seems to be related to this issue https://github.com/google/site-kit-wp/issues/6?fbclid=IwAR0kWQ2hQ_VGgVzsiUZh2Q6wgZ8R3zdpqyZBomXQ6WYPi6r8LDryjb5o7mc

[2020-05-13 20:54] equipeathletics commented on #1464
that is odd... yeah I tried my site, or rather the test site with everything turned off and it was google sitekit that created the issue repeatedly.  did you try testing on an incognito window?  the problem doesn't show itself it you're logged into the site as well.

[2020-05-14 04:42] cole10up commented on #1211
**Tested**

Built latest Site Kit zip. Installed and activated. Installed the tester plugin and flipped to PR: 1442. Setup SK and activated the Analytics module with a gmail account that doesn't have an Analytics account:

### **Proxy testing**
During proxy notice:
![image](https://user-images.githubusercontent.com/57115907/81891851-660fd700-955e-11ea-8716-69184d2b74f7.png)

Clicked Cancel during

[2020-05-14 05:17] cole10up commented on #1497
**Tested**

Ran a series of tests through multiple hosts. Setting up search console, resetting SK, setting up again. Checking network, no raised issues and happy path looking good.

![image](https://user-images.githubusercontent.com/57115907/81895641-93ad4e00-9567-11ea-9b57-95b4efd77a52.png)

Passed QA ✅

[2020-05-14 05:32] cole10up commented on #1516
**Tested**

Installed latest develop and confirmed existing account reports link drives to the correct URL.
![image](https://user-images.githubusercontent.com/57115907/81896330-429e5980-9569-11ea-884e-cbc40793f054.png)

Checked both links on the Adsense page:

![image](https://user-images.githubusercontent.com/57115907/81896369-55b12980-9569-11ea-83f7-6af31861c716.png)

Checked a separate host wit

[2020-05-14 07:46] aaemnnosttv commented on #1211
@cole10up

These fields are just for the _names_ of the entities that will be created for each, the only requirement currently is that they aren't empty.

Good catch about the ungranted scope!

[2020-05-14 09:21] gabrielstuff commented on #26
You can use the `window.dataLayer` and `push` the event. Keep in mind that you will need additional steps in the GTM interface to create the association between the event and the analytics. See this page https://www.bounteous.com/insights/2018/03/30/single-page-applications-google-analytics/

[2020-05-14 09:31] timotheemoulin commented on #852
A read only access to the stats for the editors (or any other custom role) is required for most agencies to one day consider using this plugin.

[2020-05-14 09:43] jasoncsking commented on #26
Hi Gabriel,

Sorry, didn't understand. What was the context for this?

On Thu, 14 May 2020 at 11:21, Gabriel <notifications@github.com> wrote:

--

*30 Ad Grant Tips in 30 Minutes (and your questions answered)*
Watch on YouTube, subscribe, like, and share: youtu.be/Bzu9P5SkB5I

*Jason King*
*Google Ad Grants Certified Professional*
I help nonprofits' websites show up in Google search. Google Ad Gr

[2020-05-14 10:06] Buildbetter commented on #852
They should make this option and everybody to select what access to allow to different roles.
But i thing they what other stuff, to take and spy more google accounts, so in one site they want to spy all google accounts who manage or view statistics for this site! This is very bad practice!

[2020-05-14 11:03] ThierryA commented on #852
@timotheemoulin the technical implementation requires quite a bit of work but isn't the only concern.

The main concern is security and privacy as some data are sensitive. At the moment Site Kit respects each Google Services account permission. When a user connect to Site Kit with a Google account, that account has to have access to the respective Google Services in order to see the data. If we we

[2020-05-14 11:12] rahul2106 commented on #1555
Please assign the issue to me. Interested in starting my first contribution here.

[2020-05-14 11:18] timotheemoulin commented on #852
Thanks for the in-depth explanation.

I totally agree that giving an access to the Google account API key to multiple users is bad practice if they were to have write access to the API.

The way I see it is that it's not the user per se who is viewing the data (which might require a dedicated API key), but more the WP application which is fetching data and should be configured in a way that we can

[2020-05-14 11:21] timotheemoulin commented on #852
This is exactly what we are doing, but the issue we are facing is that the user MUST be an administrator to have access to the Site Kit plugin, which is unacceptable for most of us as it would allow the user to have a full access on the WordPress app.
Are we missing something?

[2020-05-14 11:55] logicelf commented on #852
This issue is becoming needlessly complex. Two things are true here:

1. Site owners/managers/content managers require access to GA.
2. Many site owners/managers/content managers are not using the WP Administrator role.

There are no security concerns here - the security model already exists in the GA, and is the only one which is relevant. If the user can sign into a GA account from the plugin, t

[2020-05-14 13:20] timotheemoulin commented on #852
Another true thing

3. The plugin is requesting write access to the Google Analytics properties which IMO is absolutely not what we need it to do.

Can @ThierryA tell us why you need the plugin to have such high privileges on the Analytics account only to retrieve the data? I didn't went really far using the plugin, but (at least for Analytics) there seems to be no need for such privileges.

[2020-05-14 13:58] adamsilverstein commented on #1211
I don't think so, we should detect that the user hasn't granted the full scopes and prevent them from trying to create an account.

Where/how do we handle insufficient scopes elsewhere in the plugin?

I will take a look.

[2020-05-14 14:00] adamsilverstein commented on #1211
That is probably expected if you haven't granted the correct scopes. Maybe we should avoid showing the setup form entirely in this case?

I wonder what happens with the current version of the plugin if you enable analytics and don't grant all scopes during the flow? eg. is this a regression?

[2020-05-14 14:04] adamsilverstein commented on #1211
![image](https://user-images.githubusercontent.com/2676022/81943844-232f1d00-95b9-11ea-9bb9-409b7939d28d.png)

@cole This was caused by a bug introduced late in the development cycle that caused the provisioning request to go directly to the API vs going thru the proxy service. This is now corrected, can you try testing against https://github.com/google/site-kit-wp/pull/1343 again (using the teste

[2020-05-14 14:40] adamsilverstein commented on #1211
Regarding the scopes warning, the biggest issue here is we aren't displaying an error message for the request failure. I had noticed this before when my PHP fataled and I was getting an error response. I will try adding the <ErrorComponent> again or see how this scope error is displayed currently and match that.

A secondary issue is that we should be immediately detecting when a user fails to gra

[2020-05-14 14:44] adamsilverstein commented on #1211
On the ga/provisioning branch when I click cancel then go to analytics I get these errors:

![image](https://user-images.githubusercontent.com/2676022/81948584-21685800-95bf-11ea-98be-a831675a1c29.png)

[2020-05-14 14:45] jamesozzie opened #1556 "Display total number of connected users within Site Health information"
## Feature Description

Along with the existing Site Kit information that is contained within a users Site Health info display the total number of users connected.

Along with assisting in supporting users this may prove useful for site owners, who might like to keep track of what other administrators have signed in and availed of the dashboards and metrics.

---------------

_Do not alter or remo

[2020-05-14 14:52] adamsilverstein commented on #1211
When I don't enable the provisioning scope:

![image](https://user-images.githubusercontent.com/2676022/81949256-de5ab480-95bf-11ea-9948-2e9af2873074.png)

I get this error back on the analytics screen:

![image](https://user-images.githubusercontent.com/2676022/81949159-c3884000-95bf-11ea-90cb-c6d2443c59b7.png)

When I click submit the request errors, however no error message is displayed. Fixing

[2020-05-14 15:03] adamsilverstein commented on #1211
Adding the error component helps a little, but the error is cryptic:

![image](https://user-images.githubusercontent.com/2676022/81950878-bc623180-95c1-11ea-91ab-440ffa5edc99.png)

[2020-05-14 15:44] Buildbetter commented on #852
Ok, let see the standard mass use case, we create a business site for a small company, there is two roles - administrator and editor, they both need to see statistics, the company give us a google account to setup their statistics. Is it possible to have a checkbox in the options give access to edtor to see statistics. That is simple and useful.

[2020-05-14 16:57] jamesozzie commented on #1548
No issues when using the same property and information using the Analytics Query Explorer.

![image](https://user-images.githubusercontent.com/41326532/81962899-4df69100-960c-11ea-985b-d35520f43417.png)

[2020-05-14 18:05] ShahAaron commented on #1380
@felixarntz should I just replace the work `Analytics` in the text `Set up Analytics to gain access to %s` with the required module ?

[2020-05-14 20:36] tofumatt opened #1557 "Refactor <p> and <h5> in settings to improve accessibility"
## Bug Description

Currently we have components that use `<p>` and `<h5>`s incorrectly. An example is here: https://github.com/google/site-kit-wp/pull/1410#discussion_r424722296, but it's not exhaustive; there are several components that take this approach to displaying data, where what is marked up as a Paragraph is really a Heading, and vice-versa.

This is problematic for accessibility and sem

[2020-05-14 21:26] felixarntz commented on #1211
@cole10up The problems you mentioned regarding not granting scopes are general problems not introduced by this one, so they shouldn't block this. Could you create a separate issue with your findings there and move to "Prioritization"? This should apply to any time where you don't grant a certain permission in the OAuth flow.

I believe the other concerns were addressed by Evan's and Adam's comment

[2020-05-14 21:28] ernee opened #1558 "Cloudflare Flexible SSL (plugin) compatibility"
## Feature Description

Prompted by [a recent support topic](https://wordpress.org/support/topic/site-kit-reinstall-trouble/), Site Kit currently isn't fully compatible with certain implementations of [Cloudflare's Flexible SSL](https://support.cloudflare.com/hc/en-us/articles/200170416-End-to-end-HTTPS-with-Cloudflare-Part-3-SSL-options#h_4e0d1a7c-eb71-4204-9e22-9d3ef9ef7fef).

Users may prefer t

[2020-05-14 22:20] felixarntz opened #1559 "Add getAdminScreenURL and getAdminReauthURL selectors to base module store"
## Feature Description

stores created by `createModuleStore` should include new selectors for module-specific admin URLs. These can be built on top of the enhanced version of `getAdminURL` from the `core/site` store, which was implemented as part of #1500.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

[2020-05-14 22:29] felixarntz commented on #1211
Back to QA via #1343 (`develop` branch)

[2020-05-14 22:48] tofumatt commented on #1529
Sounds good re: `slug`. I omitted any talk of handling localisations in this issue as it's out-of-scope of simply handling the data, so this should be set for another review 🙂

[2020-05-14 23:27] felixarntz commented on #1499
IB ✅

[2020-05-14 23:32] felixarntz commented on #1529
@tofumatt IB mostly good to go, however I think that the `getAvailableDateRanges()` utility should return a map of objects keyed by the slug, to include other data (at a minimum the localization). While you mentioned you were not going to focus on this part, the localized strings belong with this. If we don't put them here, we'll surely have to replicate the list somewhere else, so I'd prefer if t

[2020-05-14 23:56] felixarntz commented on #1328
IB ✅

[2020-05-15 05:24] ernee commented on #1523
Possible related topic: https://wordpress.org/support/topic/redirects-to-google-login-after-logging-in-and-accepting-permissions-to-account/

[2020-05-15 05:53] cole10up commented on #1208
Passing this to level 2 as I don't have a host with CLI setup to try this one

[2020-05-15 06:36] ernee commented on #1262
related topic resolved with host intervention (firewall): https://wordpress.org/support/topic/unknown-error-code-http_request_failed-3/

[2020-05-15 09:30] ShahAaron commented on #1176
Installed develop and built
Ran php and js unit tests - passed
Ran e2e tests - passed
Ran Visual Regression tests - passed

QA :warning:

[2020-05-15 10:23] ShahAaron commented on #1212
Pulled develop
Ran JS and PHP Unit tests - passed
Ran e2e tests - passed
Ran Visual Regression - passed

QA ✅

[2020-05-15 10:53] ShahAaron commented on #1481
Pulled develop
Ran all tests e2e - passed
Visually confirmed "Failed to load resource: the server responded with a status of"... message no longer output

Confirmed changes to `package.json` & `tests/e2e/config/bootstrap.js`

QA ✅

[2020-05-15 12:33] ShahAaron commented on #1500
Develop pulled
Tests run JS & PHP Unit tests, e2e & Visual Regression - all passed

Code checked - passed
A/C's - passed

QA ✅

[2020-05-15 12:50] ShahAaron commented on #1476
Develop pulled
Tests run JS & PHP Unit, e2e & Visual Regression - passed

Code checked - Data.combineStores added - passed
A/C's - passed

QA ✅

[2020-05-15 17:31] aaemnnosttv commented on #1559
AC's mostly look good to me @felixarntz.

Should this issue include the `needsReauthentication` selector to `core/user` as well?

[2020-05-15 17:40] felixarntz commented on #1559
@aaemnnosttv Yeah that's what I was thinking. Will clarify a bit more.

[2020-05-15 18:11] ryanwelcher commented on #1394
@aaemnnosttv the only date-related data that is passed to `reducedAnalyticsRowData` is the `YYYYMMDD` string.

I have pushed up a change to that function that converts the Date into seconds and then adds the timezone offset also converted to seconds and then creates the date from that value. Locally I am changing my timezone and things are looking correct so far. I'd love a second set of 👀 if poss

[2020-05-15 19:17] felixarntz opened #1566 "Request write scopes only when needed"
## Feature Description

Site Kit currently requests scopes on a per-module basis. Whenever you activate a module, you have to grant access to all scopes that using this module _may_ need. The "may" is an important word here: For example, you will only need Analytics write permissions if you're creating a new account, property, or profile. However, currently all users need to grant these permission

[2020-05-15 23:06] SSSV commented on #1522
I'm having this issue on a site with a ton of traffic (in March they sold $80k in their online store). Apparently no traffic has been recorded since I installed Site Kit before March...

[2020-05-15 23:36] ernee commented on #1522
@SSSV thanks for sharing your case. Traffic not being recorded in Analytics in general may be something separate. I encourage opening [a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post)so we can investigate further.

[2020-05-16 03:45] ernee commented on #1522
another report with from a site with two months worth of tracking data (date displayed is  12/31/1969): https://wordpress.org/support/topic/audience-overview-date-is-1969/

[2020-05-16 15:25] ernee commented on #1538
Update: theme/ plugin authors have found a resolution for the issue and it will be in their next release.

[2020-05-16 16:23] ernee opened #1567 "Improve handling for domain names containing unicode bidirectional control (and other special) characters"
## Bug Description

From a [report in the forums](https://wordpress.org/support/topic/set-up-search-console/), the Site Kit service is not fully compatible with unicode domain extensions. In this case, the Hebrew `.קום`.

The service doesn't proceed for the site (in punnycode) after pressing "Add Site"  at Step 3 _Set up Search Console_  :

<img width="1231" alt="stuck at step 3 set up search cons

[2020-05-18 08:44] aaemnnosttv commented on #1176
Thanks for pointing that out @ShahAaron. I've merged your PR to correct that, so this is ready for another pass in QA 👍

[2020-05-18 10:00] ngxson opened #1568 "Wizard shows even when the setup has completed by another admin"
## Bug Description

If the site has **more than one admin accounts**, and one of them setup site kit, then **only this admin** can access site kit dashboard.

## Steps to reproduce

1. Setup site kit
2. Add another admin account on wordpress
3. Login to that account
4. Go to site kit, it shows "Sign in with Google to configure Site Kit"

## Additional Context

 - PHP Version: 7.3.17
 - Wordpress v

[2020-05-18 12:19] aaemnnosttv commented on #1566
@felixarntz the IB looks good for the most part so far.

I'm not sure we need to separate required scopes from extra granted scopes in separate options. It seems like this is only needed to ensure the extra granted scopes are requested again when the user re-authenticates since those will not be required. Why not just merge all granted scopes with the required scopes when calling `setScopes`? That

[2020-05-18 12:25] ShahAaron commented on #1176
Installed develop and built
All tests run and passed

A/C
- New selectors added -getUser() & isVerified()
- Selectors sourced by callback function `get_inline_user_data()`
- User object contains id, name, email & picture
- New `googlesitekit_user_data` filter added to process user data. Added to Authentication class
- Additional selectors added getID, getName, getEmail, getPicture
- isVerified() e

[2020-05-18 13:57] shikshik opened #1569 "Analytics activation failure"
## Bug Description

Cannot connect analytics. Getting an endless loader with the error: "Error: cURL error 2:"
Other services were successfully connected.

## Steps to reproduce

1. Install the plugin
2. Successfuly connected with my google account
3. Tried to connect analytics service
4. Got the failure message

Detailed error from network tab:
/index.php?rest_route=%2Fgoogle-site-kit%2Fv1%2Fmodu

[2020-05-18 15:00] aaemnnosttv commented on #1566
@felixarntz not sure what you mean by this:

Why would we not change the required scopes only for Tag Manager (possibly issue I mentioned above?). This isn't mentioned in the AC One of the benefits here is that we can request less scopes as it seems we were already requesting a few that we didn't need.

Regarding extra scopes needed per-datapoint in the datapoint definitions, we might also want to

[2020-05-18 17:02] adamsilverstein opened #1571 "Include Site Kit version string in client service requests"
## Feature Description

Include a version string in client->service requests matching the user agent string used by the PHP client. Enable enforcing specific version to use setup flow & notifying old plugin version users they need to upgrade.

When first setting up the plugin, we should include the plugin name/version (`'wordpress/google-site-kit/' . GOOGLESITEKIT_VERSION;`) as a parameter to the

[2020-05-18 18:50] felixarntz commented on #1571
@adamsilverstein Let's open a PR for this from and against `master`.

[2020-05-18 18:59] tofumatt commented on #1498
QA, moving to approval ✅

[2020-05-18 19:08] felixarntz commented on #1566
@aaemnnosttv I've updated the current IB based on our conversation earlier. I've also checked all the Google API endpoints and included the correct list of scopes to cover in the IB (for Analytics you need two different scopes to cover the whole spectrum of `.readonly`, for all the other it's just one scope that covers all of `.readonly`).

[2020-05-18 21:57] felixarntz commented on #1571
IB ✅ , except we should also add the parameter to the permissions URL. For the sake of speed, let's handle that via the PR though, no need to iterate on IB for this.

[2020-05-18 22:11] adamsilverstein commented on #1571
I tested https://github.com/google/site-kit-wp/pull/1572 and verified the `application_name` parameter is added for both initial setup and subsequent Admin user sign ins.

[2020-05-18 22:54] felixarntz opened #1573 "Include update routine to check affected sites"
## Feature Description

Site owners whose sites were actually affected by the security vulnerability allowing unprivileged accounts to get verified and thus gain Search Console access should be informed and presented with steps to resolve the issue.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* On up

[2020-05-19 01:14] ernee opened #1575 "Analytics: existing account not found, re-fetching account does not work"
## Bug Description

Several users have reported the Analytics module is not able to detect their existing accounts. Clicking "Re-fetch my account" also does not locate the account.

-- Various browser console errors are on the request to connect the service (locale=user): _404_, _500_ (sometimes includes a _WP Error data in response, curl error 2_)
-- Can happen in various hosting environments, bu

[2020-05-19 01:17] ernee commented on #1569
@shikshik thanks for your report! Could you [open a topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in our support forums and provide your [Site Health information](https://i.imgur.com/Rtkmsba.png) and hosting provider?

We'll be investigating this further [in this issue](https://github.com/google/site-kit-wp/issues/1575), but that information in a support topic would be mos

[2020-05-19 01:17] #1569 closed

[2020-05-19 01:31] felixarntz commented on #1530
@aaemnnosttv @tofumatt If we do this, we should be able to remove the similar component wraps in our refactored module components right? Since they'll all be within the apps that already have a `RegistryProvider` via `Root` anyway.

[2020-05-19 01:33] felixarntz commented on #1486
IB ✅

[2020-05-19 07:55] aaemnnosttv commented on #1530
@felixarntz yes, correct 😄

[2020-05-19 10:18] jamesozzie commented on #1537
I'm also able to replicate the same issue, although with a verified http URL type property first in Search Console (verified using JetPack):
1. Removed all SC properties (clean slate)
2. Setup JetPack, default settings (free plan) and verified site ownership using JetPack (OAuth) 3. Setup Site Kit (1.8.0) - everything worked fine from setup point of view (although no additional URL type properties

[2020-05-19 12:18] aaemnnosttv opened #1576 "Release 1.8.1"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* All previous releases upgrade to 1.8 without error or compatibility issues

## Changelog entry

* N/A

[2020-05-19 12:49] adamsilverstein commented on #1573
Overall IB looks good. One question:

Do these show up on the dashboard and persist until dismissed?

[2020-05-19 17:56] felixarntz commented on #1573
@adamsilverstein

Yes it would be dismissible and show until then.

[2020-05-19 18:38] ernee commented on #1575
Another related topic: https://wordpress.org/support/topic/analytics-error-curl-erro-2-easy-handle-already-used-in-multi-handle/

Console error:

[code]

[2020-05-19 19:04] tofumatt commented on #1566
I've added a clientside IB… apologies if it's too vague but I wanted to walk through the broad strokes here and not get too in-the-weeds about some of the "how" to move this along. Based on our earlier discussion, I think this should match up with what was proposed. Let me know if it sounds good, or if I'm missing anything 🙂

I'm marking this one as a 30 estimate because there's a lot of moving pa

[2020-05-19 19:15] ernee commented on #1537
User in the following topic had a similar issue: https://wordpress.org/support/topic/google-sitekit-http-url-error-in-google-search-console/

- The user had `https://` set up with Really Simple SSL before Site Kit
-  Site Kit kept adding the HTML verification file/ property in Search Console as `http://` (however, they were able to successfully complete the setup process
- Workaround resolved it f

[2020-05-19 20:03] tofumatt commented on #1566
I messed up the IB because the settings requests are not (necessarily) where we make requests that demand write permissions. Gonna update it in a bit and then send it back to IB Review. Thanks for catching that @aaemnnosttv 🙂

[2020-05-19 20:27] tofumatt commented on #1566
Tweaked the IB—should be set for another review now.

[2020-05-19 23:34] felixarntz commented on #1573
QA ✅

Tested this against staging proxy. Unauthorized verified users' Site Kit data gets wiped as expected, and the flag request to the proxy is issued.

Also, the notification system _does_ support multiple remote notifications already, nothing needed to be changed here:
![Screenshot 2020-05-19 at 16 30 19](https://user-images.githubusercontent.com/3531426/82388474-8ae8cc00-99ee-11ea-8baf-1d9c849

[2020-05-20 00:45] felixarntz commented on #1566
@tofumatt

Can you clarify what you mean by "settings" store? The functionality where we need to listen to `missing_required_scopes` errors and potentially show a modal and persist store state is not specific to settings, but essentially any API fetch call that is made from a module store (e.g. `modules/analytics`, `modules/adsense` etc.).

I think doing this unconditionally (or any unconditional

[2020-05-20 04:50] cole10up commented on #1211
**Tested**

Setup latest SK, activated Analytics with a gmail account that doesn't have an Analytics account.
![image](https://user-images.githubusercontent.com/57115907/82403238-36a41300-9a13-11ea-82de-8bbd1aca4335.png)

Clicked Cancel on the initial page.

Confirmed drives to Settings properly
![image](https://user-images.githubusercontent.com/57115907/82403278-4de30080-9a13-11ea-877b-0a00342f8a

[2020-05-20 11:37] ShahAaron commented on #1499
@felixarntz is a test required for `settings-main.js`. I haven't added on as `SettingsMain ` just displays `SettingsView`. When I look at `Analytics` and `Adsense` they only have tests for editing

[2020-05-20 13:28] adamsilverstein commented on #1211
Thanks for testing @cole10up - I will take a look.

[2020-05-20 13:45] ShahAaron commented on #1501
@felixarntz does the the new component need to be wrapped using `RegistryProvider` before being passed to the filter.
`<Data.RegistryProvider value={ Data }> ....... </Data.RegistryProvider>`
Also is a test required for `SettingsMain` a it only uses `SettingsView` and not `SettingsEdit`

[2020-05-20 15:19] felixarntz commented on #1499
@ShahAaron Since `SettingsMain` basically just passes through to `SettingsView`, I think that doesn't need one. 👍

[2020-05-20 15:22] felixarntz commented on #1501
@ShahAaron Yes, currently all our entry components relying on datastores will need to be wrapped like this (will change once #1530 is in place).

[2020-05-20 15:23] felixarntz commented on #1501
IB ✅

[2020-05-20 16:26] tofumatt commented on #1510
Code review ✅. Assigning to @aaemnnosttv to merge.

[2020-05-20 16:50] #1573 closed

[2020-05-20 16:50] #1571 closed

[2020-05-20 16:50] #1576 closed

[2020-05-20 19:05] felixarntz commented on #1211
@aaemnnosttv Is #1581 up for review? Still a draft :)

[2020-05-20 22:05] felixarntz commented on #1566
Awesome, IB ✅

Let's get to it!

[2020-05-21 02:00] ernee commented on #1540
Users noted [in this topic](https://wordpress.org/support/topic/the-notification-does-not-disappear/) that in an incognito window the notification does not appear.

[2020-05-21 07:14] cole10up commented on #1486
**Tested**

Confirmed initial setup page:
![image](https://user-images.githubusercontent.com/57115907/82533208-aee40480-9af7-11ea-8d2d-6b253894bcfd.png)

Checked drop downs. **Noticed 'Setup new profile' exists on view drop down**
![image](https://user-images.githubusercontent.com/57115907/82533296-d0dd8700-9af7-11ea-8126-48ee2ef4d3e3.png)

Confirmed settings page:
![image](https://user-images.git

[2020-05-21 07:31] cole10up commented on #1486
False alarm! I had the GA Provisionings branch selected.

![image](https://user-images.githubusercontent.com/57115907/82534661-5a8e5400-9afa-11ea-95c6-cd33ea647a93.png)

Confirmed view in the drop down. Moving to approved.

[2020-05-21 09:10] aaemnnosttv commented on #1211
@felixarntz It was basically ready for review but I've touched it up a bit and added a fix for something else in there too. It's ready for your review now, so I'm assigning this back to you 👍

[2020-05-21 09:33] aaemnnosttv commented on #1490
## QA ✅

* ⚠️ One instance of the deprecated use is present, although I believe this is due to #1211 being merged in after this one 😄
https://github.com/google/site-kit-wp/blob/82d6fa72656d48de04d9c9b91462471ed28c0227/includes/Modules/Analytics.php#L695-L697
I've fixed this in #1582 via https://github.com/google/site-kit-wp/pull/1582/commits/4242a5e1bc31941610c119306f2b1b9c1f574585 which also targ

[2020-05-21 09:45] jamesozzie commented on #1540
Closing as this issue no longer persists. Most likely caching issue as per [this](https://wordpress.org/support/topic/wordpress-shows-update-when-none-available/) fixing WordPress article.

Checking from incognito window, clearing cache or temporarily deactivating caching plugins provided resolution for all impacted users.

[2020-05-21 09:52] aaemnnosttv commented on #1177
## QA ✅

`core/user` store has notifications store added, with server-side notifications disabled. This is verifiable by seeing that the `getNotifications` selector has no resolver and no requests are triggered.

![image](https://user-images.githubusercontent.com/1621608/82546781-5e08f600-9b61-11ea-93df-a730ec7c666d.png)

[2020-05-21 11:03] jamesozzie commented on #1464
@equipeathletics I just tested once again using incognito and I'm unable to reproduce the same from my side.

I also performed another test using both your provided staging site and your live site. From my side I don't encounter the same issue although it looks like you don't have Site Kit active on either site.

If you can activate Site Kit without Analytics or Tag Manager once more I can see if

[2020-05-21 11:08] jamesozzie commented on #1377
@phamquangbaoplus Just following up with you on this matter. Let me know if you have any additional queries on this, otherwise I'll close this issue. For AdSense specific queries the [AdSense Support Center](https://support.google.com/adsense/?hl=en#topic=3373519) should be able to assist.

[2020-05-21 11:10] jamesozzie commented on #1323
Marking as resolved, with all users referenced either confirmed as resolved or non responsive.

[2020-05-21 11:10] #1323 closed

[2020-05-21 11:21] jamesozzie commented on #1235
@ReeceHaigh Just following up to check whether the same issue persists with the latest version of Site Kit. I'm happy to try and recreate the same issue from my side if you'd like to share your [Site Health information](https://i.imgur.com/Rtkmsba.png).

[2020-05-21 13:03] aaemnnosttv commented on #1298
## QA ⚠️

### Summary

Overall QA looks good. The entrypoint + Asset were not created per the AC but this might not matter at this point as it was added in #1301.

There are a few warnings raised in the tests that ideally should be addressed.

### ACs

* ✅ Add new `js/googlesitekit/widgets/datastore` module that exports a `core/widgets` datastore and `js/googlesitekit/widgets` that for now just im

[2020-05-21 14:09] adamsilverstein commented on #1211
Related PR which fixes a loading flash of the "zero data" component for Analytics if you click the left hand Analytics sub menu and Analytics is not yet configured: https://github.com/google/site-kit-wp/pull/1583

[2020-05-21 14:22] adamsilverstein commented on #1099
I have an update about the data discrepancy we are seeing here:

An apparent bug in the Analytics dashboard causes inaccurate date ranges used on the Analytics home page for the 90 day report. In particular, there is a **one day gap** between compared date ranges.

For example:

On May 15th I ran the 90 day report and by hovering over the chart I can see the start and end date of the reporting per

[2020-05-21 18:30] aaemnnosttv commented on #1196
@ryanwelcher per our convo with @felixarntz yesterday, let's upload these zips to the wiki as originally planned and not mess with GitHub releases for now. I'll update the AC/IB.

[2020-05-21 19:20] ernee commented on #1540
A user [followed up ](https://wordpress.org/support/topic/the-notification-does-not-disappear/#post-12871255) that the issue still persists for them, so reopening the issue for further investigation.

[2020-05-21 19:52] equipeathletics commented on #1464
Hello, thank you so much for your effort and help on this subject - I just couldn't deal with the constant issues and lost sales I was seeing from cart drop-offs.  We were getting random emails from customers saying they were still getting the issue of empty cart though we had turned off site-kit weeks ago.  Probably an issue with their Varnish Caching or distributed servers not getting updated -

[2020-05-21 22:01] adamsilverstein commented on #1099
One more update: Working on the IB I found that with the date modified I can reproduce every number exactly in my 90 day report **except user percent change**:

![image](https://user-images.githubusercontent.com/2676022/82610322-61a97680-9b7b-11ea-8eb9-48d6730afe43.png)

Still trying to determine the correct date/query/calculation used for this number, I've tried several variations.

Worth noting

[2020-05-22 05:12] cole10up commented on #1014
**Tested**

Setup installed and activated latest develop version of SK. Activated Adsense for the following scenarios:

### Scenario: Adsense account but site not added:
![image](https://user-images.githubusercontent.com/57115907/82631845-65ed8800-9bab-11ea-8224-317a4191e21f.png)

Confirmed drives user to the correct URL:
![image](https://user-images.githubusercontent.com/57115907/82631862-730a770

[2020-05-22 05:13] cole10up commented on #1270
This was tested in this ticket: https://github.com/google/site-kit-wp/issues/1014

[2020-05-22 06:44] cole10up commented on #1545
**Tested**

Confirmed banner exists on dashboard after setting up latest develop with Adsense and Analytics:
![image](https://user-images.githubusercontent.com/57115907/82638639-2c714880-9bbc-11ea-8528-96c40f11c224.png)

Confirmed dashboard learn more link drives to:
![image](https://user-images.githubusercontent.com/57115907/82638966-a3a6dc80-9bbc-11ea-8d01-fef8aa8429f1.png)

Confirmed the banner

[2020-05-22 07:41] cole10up commented on #189
**Tested**

Installed latest SK, activated and went through Adsense proxy, canceled after selecting my member. Notice series of strange copy

**Site Kit can't access the relevant data from Splash because... **

**Site Kit can't access the relevant data from Dashboard because...**

![Site Kit by Google Dashboard ‹ Hellogoodbye — WordPress (3)](https://user-images.githubusercontent.com/57115907/8264

[2020-05-22 11:55] #878 closed

[2020-05-22 17:39] ernee commented on #1466
Additional detail: the [user in the original topic](https://wordpress.org/support/topic/sitekit-is-not-working-since-for-ever/#post-12740663) provided these console errors found on the setup page on the proxy: https://prnt.sc/s714a1

We're getting additional reports of this occurring (for non-AMP sites as well):
https://wordpress.org/support/topic/cant-log-in-with-google-when-i-setup-site-kit-2/
h

[2020-05-22 19:30] aaemnnosttv commented on #1211
@cole10up this one is ready for another pass!

Regarding errors that were previously seen on TOS screen - one case is expected if the user is not logged in with their Google account in the browser that they have connected to their Site Kit user. This is fairly unlikely to happen, as most users will probably have just activated the module and gone through OAuth right before. This is part of what we

[2020-05-22 21:39] ernee commented on #1575
Possible related topic: https://wordpress.org/support/topic/site-kit-connected-to-search-console-cant-complete-analytics-setup/

[2020-05-23 04:22] ernee opened #1588 "Issue with OAuth/ Windows IIS: Unknown Error (cURL error 60)"
## Bug Description

Opening due to [a recent report](https://wordpress.org/support/topic/unknown-error-curl-error-60/) in the forums and [a previous report](https://wordpress.org/support/topic/unknown-error-code-curl-error-60-ssl-certificate-problem-unable-to-get-local/) of something similar to replicate. In a Windows IIS environment, the setup process fails at the OAuth step with a cURL error 60:

[2020-05-23 09:34] luc122c commented on #1588
Hi there, following up on this, I've put the phpinfo cURL section below. The rest can be found [here](https://lukenelson.uk/test.php). Many thanks for investigating this.

cURL support | enabled
-- | --
cURL Information | 7.68.0
Age | 5
Features
AsynchDNS | Yes
CharConv | No
Debug | No
GSS-Negotiate | No
IDN | Yes
IPv6 | Yes
krb4 | No
Largefile | Yes
libz | Yes
NTLM | Yes
NTLMWB | No
SPNEGO | Yes

[2020-05-23 16:38] vladarte commented on #1575
Same happened to me in Safari. Worked fine in Chrome

[2020-05-24 17:10] luc122c commented on #1588
After some further investigation, I've managed to resolve the issue and get SiteKit installed.

After following @ernee's advice on the [WordPress support thread](https://wordpress.org/support/topic/unknown-error-curl-error-60/), I started looking into my PHP installation to ensure cURL was configured correctly. My first stop was the [cURL Installation](https://www.php.net/manual/en/curl.installati

[2020-05-24 23:04] ryanwelcher commented on #1434
@aaemnnosttv based on the logic I've implemented, the user has to have a `selection` and a `match` to be able to click the View Data button. This effectively removes the ability to enter a URI directly as it won't return any content titles and means that pages such as the home page ( unless a page is set ) or archive pages are not accessible via this search tool.

For the purposed of this issue, I

[2020-05-25 04:14] wgicio commented on #1548
Also affected by this

[2020-05-25 08:00] gmmedia commented on #631
Do you consider an enhancement like this?

[2020-05-25 08:34] jamesozzie commented on #1575
@ernee Sounds similar to #1548

[2020-05-25 09:42] aaemnnosttv opened #1590 "Remove PR action not consistently working as expected"
## Bug Description

Our GitHub Action to remove built artifacts for PRs from the wiki is not working as expected. This is resulting in the wiki growing very large in size which is also slowing down the time to clone it in our builds substantially.

## Steps to reproduce

1. View checks of a closed PR
1. See `remove-pr` job failed
e.g. https://github.com/google/site-kit-wp/runs/696936169?check_suit

[2020-05-25 12:06] aaemnnosttv commented on #1530
@ryanwelcher can you take over making the remaining changes needed here since @ShahAaron is out for the next few days?

[2020-05-25 12:26] jamesozzie commented on #1491
Similar issue in the following support topic: [https://wordpress.org/support/topic/site-kit-adsense-activation/#post-12887100](https://wordpress.org/support/topic/site-kit-adsense-activation/#post-12887100)

[2020-05-25 12:43] jamesozzie commented on #1474
@adamsilverstein Issue no longer persists as per original support topic. Thanks for providing an update @maverick85

I'll also confirm from my side with one such setup.

[2020-05-25 12:51] marrrmarrr commented on #631
Hi @gmmedia and thanks for the suggestion! We're actually working on customising the dashboard to match specific users' needs, so that's really helpful feedback to hear in the product definition process.
Could you share a bit more about which are the most important metrics for you in relations to site(s) you're managing? E.g. when you log in, you'll check metrics A, B, C (and presumably daily uniq

[2020-05-25 14:00] gmmedia commented on #631
The most important thing is the daily unique users for the last 30 days. With that data I can quickly react to certain circumstances. I am happy with just that in the WP dashboard.

Other important metrics:
sessions by source
sessions by organic keyword
completed goals
top pages

This is how my external dashboard looks:
![2020-05-25_155538](https://user-images.githubusercontent.com/7474702/8281949

[2020-05-25 17:27] ryanwelcher commented on #1434
As a follow up here, I just wanted to confirm that content that can resolve to a piece of content from the URL does indeed show in the results dropdown. In the case of URI's that do not have related content such as archive pages will display "No results found" and the button will not become clickable.

[2020-05-26 14:13] michael-attal commented on #1548
Same here

[2020-05-26 14:32] jonasskafte commented on #459
I agree @jonathannz! Would love to get an update on this as if it's not coming anytime soon, then we'll be looking for an analytics solution elsewhere (although I would love to stay with Site Kit if at all possible!) Cheers!

[2020-05-26 15:10] ahmedkrmn commented on #1557
Hi Matthew, can I work on this one?

[2020-05-26 17:50] ryanwelcher opened #1592 "Dashboard search should support URIs that don't resolve to individual posts"
Currently, any URIs that are entered to the input must resolve to a related piece of content, or "No results found" are displayed. In the case of directly entering valid URIs that don't resolve such as tag archive or the homepage when there is no Page assigned.

The was discovered while working on #1434 and will be more pronounced with the work done there, as now the View Data button is not enable

[2020-05-26 19:01] ernee commented on #1588
@luc122c great troubleshooting! Really appreciate your detailed steps to resolve it as well. Closing this one out.

[2020-05-26 19:01] #1588 closed

[2020-05-26 19:59] felixarntz opened #1593 "Clear legacy caches when submitting module changes"
## Bug Description

With AdSense and Analytics setup/settings already refactored, both of these modules now invalidate the browser cache via `googlesitekit-api`, to ensure no stale data is being displayed (which could apply to e.g. different accounts). However, what is not covered currently is the cache used by the legacy API layer `assets/js/components/data`, which is at this point actually more

[2020-05-27 08:15] aaemnnosttv commented on #189
@felixarntz I suggested that we derive the service/product name from the missing scope(s) which I still think is better than inferring from the screen, but there's a still few problems with this approach to be addressed:
* The user could have multiple scopes from different services that weren't granted. In this case it would be inaccurate and potentially counter-productive to only name one of them

[2020-05-27 08:18] aaemnnosttv commented on #1593
IB ✅

[2020-05-27 14:11] ryanwelcher opened #1594 "Create helpers to enable modules for E2E tests."
When creating E2E tests, being able to call a helper utility to enable and baseline configure any module will allow our tests to be simpler and ensure consistency across tests. For example, while writing tests for #1255 we needed to enable TagManager to test AMP validation on the homepage:

[code]

This could be simplified to abstract away the setup as it's not really related to the test.

[code]

[2020-05-27 16:11] felixarntz commented on #189
@aaemnnosttv Good catch, I like the approach of including an array of `unsatisfiedScopes` to the data. Basically this would make `needsReauthentication` unnecessary, but let's keep it nonetheless as it's just a simple boolean to check.

[2020-05-27 16:51] ryanwelcher commented on #1510
Looks good to me! QA ✅

[2020-05-27 17:42] aaemnnosttv commented on #1255
CR ✅ but this won't be merged until after the release. Assigning to @felixarntz for now.

[2020-05-27 18:13] aaemnnosttv commented on #189
@felixarntz I just updated the AC/IB to include the things we talked about. Let me know if there's anything there I missed.

[2020-05-27 19:05] jonasskafte commented on #459
Does anyone know if Site Kit is currently compatible with either of these plugins or will they conflict?:

[Google Tag Manager for WordPress](https://wordpress.org/plugins/duracelltomi-google-tag-manager/)
[WooCommerce Google Analytics](https://woocommerce.com/products/woocommerce-google-analytics/)

Thanks!

[2020-05-27 23:09] felixarntz commented on #189
@aaemnnosttv LGTM!

@ryanwelcher The PR #1586 has been updated with the latest `develop`. It now includes a `OAuth_Client::get_unsatisfied_scopes()` method, which you can use here to populate `unsatisfiedScopes` (in `googlesitekit.setup` object and `core/user/data/authentication` API datapoint, see above). It returns the array of scopes that are required but not granted. Essentially it's a more "p

[2020-05-28 03:59] cole10up commented on #1211
**Tested**

Uploaded and activated latest SK with a user who doesn't have an analytics account. Ran through the setup of the module:
![image](https://user-images.githubusercontent.com/57115907/83095947-4c3fbb00-a059-11ea-8ce1-9c5a11689219.png)

Clicked create account

Notice receiving scopes error:
![image](https://user-images.githubusercontent.com/57115907/83097337-b7d75780-a05c-11ea-9f47-f73e609

[2020-05-28 04:29] cole10up commented on #1499
**Tested**

Installed latest develop and activated SK
Confirmed property is listed on the settings page
![image](https://user-images.githubusercontent.com/57115907/83097780-cbcf8900-a05d-11ea-9a1d-280d1d787a36.png)

Confirmed SK can be reset and display the correct property.

Passed QA ✅

[2020-05-28 04:51] jqlee85 commented on #1530
Looks good. I've confirmed that each of the 8 apps is wrapped the `<Root>` component which contains an `<ErrorBoundary>` and `<Data.RegistryProvider>`.
QA ✅

[2020-05-28 07:49] aaemnnosttv commented on #1211
@cole10up This is expected as #1582 was just merged which is the first part of work that we're doing to change which scopes are initially requested, and to request more sensitive scopes (such as account provisioning) on-demand. This is not working now because the client side bit #1585 is not merged yet, but will be before the release. I'll give this another look over now but it should be good to g

[2020-05-28 08:01] aaemnnosttv commented on #1211
## QA

Testing with 1219d66de6c66ec97ced7be7f10d327716f72422

* ✅ Display new screen with all necessary fields (as many as possible pre-filled) for the user to approve or edit
    * ✅ Account: pre-filled name (Site Title) --> user should be able to edit this
    * ✅ Property: pre-filled domain of the site URL --> user should be able to edit this
    * ✅ ~~Profile~~ View: pre-filled (all website da

[2020-05-28 10:53] jamesozzie opened #1597 "Include an option to download or print a users PageSpeed Insights performance report"
## Feature Description

At present Site Kit displays performance metrics within the dashboard, with a link to the full PageSpeed Insights web interface. As the results can differ a link to a downloadable html file or print option that contains additional metrics to that specific performance report may be useful.

While maybe harder to achieve an alternative would be to provide a link to the full P

[2020-05-28 12:26] OisinOConnor commented on #317
Possibly:
- Performance metrics
- Site performance

[2020-05-28 15:32] aaemnnosttv commented on #189
@felixarntz I created a PR with the necessary changes for `unsatisfiedScopes` which @ryanwelcher should be able to use here until #1599 is merged.

[2020-05-28 16:18] aaemnnosttv commented on #1196
## QA ✅

Tested this on a personal fork to make sure that the same actions are triggered on new tags.

Moving to Approval.

[2020-05-28 16:50] felixarntz commented on #189
@ryanwelcher @aaemnnosttv #1599 is merged so this should be good to be picked up again!

[2020-05-28 17:29] PauKokura commented on #852
+1  This is a real need.

[2020-05-28 19:10] aaemnnosttv commented on #1434
CR ✅ - assigning to @felixarntz to handle the merge around the upcoming release.

[2020-05-29 07:35] ShahAaron opened #1602 "Update Storybook module settings stories to use createLegacySettingsWrapper"
## Bug Description

Currently our Storybook stories for module settings each use the same `Settings` wrapper component which is used just for rendering in Storybook. This is defined in the stories file for multiple modules' settings stories, e.g.:

https://github.com/google/site-kit-wp/blob/33a649d3b20fbcf9f5d9f04d6ff53640825a8e41/stories/module-analytics-settings.stories.js#L56-L103

In #1715 we

[2020-05-29 08:30] aaemnnosttv commented on #1557
IB ✅

@ahmedkrmn - you can start storybook with `npm run storybook` 😄 - you may want to keep an eye on this issue before starting on this as it may be done by someone on our team.

[2020-05-29 08:41] aaemnnosttv commented on #1559
IB ✅

[2020-05-29 08:49] aaemnnosttv commented on #1555
Thanks for your enthusiasm @rahul2106. Unfortunately this issue is still being defined so it's not quite ready for execution yet.

[2020-05-29 09:38] aaemnnosttv commented on #1555
@felixarntz not sure there is anything we can do about this right now. I tried upgrading PHPUnit to the latest supported version (v7) and it still raises deprecated warnings. See #1603

I checked WordPress core travis configuration and the PHP8 job is added to the allowed failures, and currently failing.
- https://travis-ci.com/github/WordPress/wordpress-develop/builds/168543704
- https://travis-c

[2020-05-29 09:51] ShahAaron commented on #1557
@tofumatt I've noticed a similar issue with `assets/js/modules/search-console/settings/settings-view.js` except the tags are both `div`'s are you happy for me to convert these to `h5` and `p` tags, just to be consistent

[2020-05-29 12:09] ryanwelcher commented on #1593
Tested locally:
* Loaded Dashboard to prime caches and then confirmed that page reload fires no network requests.
* Changed AdSense settings to not insert the snippet and confirmed that Dashboard made a network request for module data.
* Refreshing Dashboard did not fire another request for module data.
* Change Analytics settings to not insert the snippet and confirmed that Dashboard made a netwo

[2020-05-29 12:40] ryanwelcher commented on #1506
This looks to have been QA in the PR - https://github.com/google/site-kit-wp/pull/1596#pullrequestreview-420020682

[2020-05-29 13:07] jamesozzie opened #1605 "Optimize - Cannot read property 'destroy' of undefined"
## Bug Description

After inputting and saving JSON formatted experiment settings into the Optimize admin page a dashboard error appears as in below screenshot upon revisiting that same screen. "Cannot read property 'destroy' of undefined"

![image](https://user-images.githubusercontent.com/41326532/83259743-7f489280-a1b0-11ea-89d2-c78724000e20.png)

<details>
  <summary>Full console errors detail

[2020-05-29 17:35] felixarntz commented on #1566
@cole10up Current state here, with all associated PRs merged, this is now ready to be QAd. Expected experience is:
* When you try to set up a GA account and haven't granted the scope, there should be an altered message above the button that says that you will need to grant additional permissions.
* Clicking the button will redirect to OAuth, then briefly back to plugin UI with a loading indicator,

[2020-05-29 17:38] felixarntz opened #1607 "Integrate commonStore into createModuleStore"
## Feature Description

All our module datastores `modules/*` currently don't use the `commonStore`. `commonStore` should be integrated into `createModuleStore` so that this is automatically taken care of for all modules.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `createModuleStore` should return

[2020-05-29 17:42] felixarntz opened #1608 "Require only readonly scopes for Tag Manager by default"
## Feature Description

As a follow-up to #1566, after refactoring the Tag Manager module (#1385, #1386) the module should be adjusted to only require the basic read-only scope. All other scopes should only be required for API datapoints that perform actions where these scopes are needed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators

[2020-05-29 17:54] felixarntz opened #1609 "Migrate all modules to use `Module::get_datapoint_definitions()` and deprecate `Module::get_datapoint_services()`"
## Feature Description

#1566 introduced a new method `Module::get_datapoint_definitions()` that allows for more flexibility for a module to define its datapoint interface, surpassing the previous `Module::get_datapoint_services()`, which only allows a datapoint to be associated with a service, but no additional information. The new method has a base implementation that only exists for backward-co

[2020-05-29 18:02] felixarntz opened #1610 "Avoid extra click after granting OAuth scopes for a certain action"
## Feature Description

Follow-up to #1566: As the outcome there, after a user has returned from OAuth after granting the additional permissions, they end up on the screen they originally were on. However, at the moment they still have to re-trigger the same action (e.g. click on "Configure Analytics" if they had selected "Setup new property"), which isn't a great user experience.

For Analytics a

[2020-05-29 18:22] felixarntz opened #1611 "Modify apiFetch to only rely on server-preloaded data for the first request"
## Bug Description

We currently preload data for several API endpoints so that no requests on pageload are necessary:
* connection data for `core/site` store
* authentication data for `core/user` store
* module information for `core/modules` store
* settings for all `modules/*` stores with settings

There is a problem with that approach because the `apiFetch` middleware will always have these API

[2020-05-29 18:49] jormeer commented on #1548
Same problem. I had a different analytics plugin installed first. And actived site kit with the other plugin on. Site kit said i already had a tracking code installed so i removed the plugin and than got this message. I already tried different browsers and computers no luck.

[2020-05-29 21:23] ernee commented on #1605
just adding to the issue that I've experienced the same in the UI.

After initially adding the JSON code to the text area and confirming changes, the input is blank:

<img width="748" alt="Optimize blank input" src="https://user-images.githubusercontent.com/8108643/83305996-9e4a2300-a1b6-11ea-9633-10121bf7cb3b.png">

Navigating away and back to the module settings leads to the error:

<img width="

[2020-06-01 02:12] #1481 closed

[2020-06-01 02:12] #1362 closed

[2020-06-01 02:12] #1212 closed

[2020-06-01 03:08] felixarntz commented on #1298
@aaemnnosttv I opened #1614 to address the QA feedback here. Shouldn't affect the release though since it's only tests, and `googlesitekit.widgets` isn't used yet anyway.

[2020-06-01 03:36] felixarntz opened #1615 "Rename legacy `googlesitekit` object to `_googlesitekitLegacyData`"
## Feature Description

The `global.googlesitekit` object that is used to pass data from PHP to JS for our legacy codebase will be removed in the long term either way. However, it is becoming increasingly problematic for it to still be around, since some new JS code actually _should_ be using `global.googlesitekit` to expose a public API:
* Any such asset, e.g. `googlesitekit-data`, can run into i

[2020-06-01 03:44] felixarntz opened #1616 "Expand visual regression tests to include refactored screens"
While our visual regression tests take quite a bit to run, they are still very useful when it comes to ensuring the integrity of our UI over time. However, now that more and more of the codebase has been getting refactored with a higher emphasis on building out Storybook stories, none of the new stories is yet part of our VRTs. This has led to oversights where Storybook would get broken by PRs bec

[2020-06-01 04:07] felixarntz opened #1617 "Add e2e coverage for additional scopes requests"
#1566 introduced a more incremental way to request write scopes only when necessary. At the moment this is only used by Analytics, but shortly will be used by Tag Manager as well (#1608), and potentially further modules in the future.

While this has been tested and will be shipped without e2e tests in 1.9.0 (due to time constraints), we should have some e2e tests to cover these cases, since it's

[2020-06-01 04:14] #1196 closed

[2020-06-01 04:14] #1545 closed

[2020-06-01 04:14] #1499 closed

[2020-06-01 04:15] #1270 closed

[2020-06-01 04:15] #1271 closed

[2020-06-01 04:15] #1177 closed

[2020-06-01 04:15] #1490 closed

[2020-06-01 04:15] #1486 closed

[2020-06-01 04:15] #1476 closed

[2020-06-01 04:15] #1498 closed

[2020-06-01 04:15] #1497 closed

[2020-06-01 04:15] #1516 closed

[2020-06-01 04:15] #1176 closed

[2020-06-01 04:15] #1415 closed

[2020-06-01 04:15] #1175 closed

[2020-06-01 04:15] #1254 closed

[2020-06-01 04:15] #1209 closed

[2020-06-01 04:15] #1332 closed

[2020-06-01 04:15] #1247 closed

[2020-06-01 04:15] #1403 closed

[2020-06-01 04:16] #1500 closed

[2020-06-01 04:16] #1510 closed

[2020-06-01 04:16] #1593 closed

[2020-06-01 04:16] #1506 closed

[2020-06-01 04:16] #1301 closed

[2020-06-01 04:16] #1213 closed

[2020-06-01 04:16] #1530 closed

[2020-06-01 06:24] iSashaCH opened #1618 "Tag Manager connector Environments support"
## Feature Description

When you have multiple environments in the same GTM container set-up you need to provide environment specific gtm_auth and gtm_preview parameters for correct environment and corresponding version to be deployed. In this setup current GTM connector cannot be used for tag code insertion as it does not support these parameters.

---------------

_Do not alter or remove anythin

[2020-06-01 08:53] aaemnnosttv commented on #1298
## QA ✅

All previous QA feedback has now been addressed:
* The module should have an accompanying entrypoint file `js/googlesitekit-widgets.js` with a PHP handle of the same name.
_Also includes missing definition in `externals`_
* All expected warnings raised in tests have been muted

Moving to Approval.

[2020-06-01 09:04] aaemnnosttv opened #1619 "Release 1.9.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-06-01 09:08] Alexxxis88 commented on #462
Is there any update on this issue or workaround to make Site Kit GDPR compliant ?

It looks like a great tool to use on clients' website, however since I'm based in Europe I can't take the risk to violate GDPR rules using it as it is.

[2020-06-01 09:23] aaemnnosttv commented on #1486
@felixarntz I just noticed that this was not renamed in the Site Health fields:
![image](https://user-images.githubusercontent.com/1621608/83395211-8ff04700-a402-11ea-8758-2648e7946064.png)

Should this not also be updated as it is technically user-facing?

[2020-06-01 14:28] aaemnnosttv commented on #1501
## QA ✅

PageSpeed Insights module settings continues to work as expected after activating. Toggling open, closed, edit, cancel, and module disconnection all work as expected.

[2020-06-01 15:22] cole10up commented on #1566
**Tested**

Installed latest SK, ran through scopes, confirmed:

Cancel during initial proxy setup passed:
![image](https://user-images.githubusercontent.com/57115907/83386289-a6b18200-a39f-11ea-9e92-fa1c8e47acdf.png)

Happy path setup passes:
![image](https://user-images.githubusercontent.com/57115907/83423509-ed26d100-a3df-11ea-9758-1bbb5da12a16.png)

![image](https://user-images.githubuserconte

[2020-06-01 15:27] cole10up commented on #189
Retested - Looks good on my end.

Passed QA ✅

[2020-06-01 15:51] aaemnnosttv commented on #1376
Assigning this back to @felixarntz as he did the initial review.

[2020-06-01 16:16] felixarntz commented on #1494
This issue is fixed via the AdSense module setup refactoring #1014, being included in 1.9.0. The problem in the original codebase was that, for accounts that were graylisted, that account status was determined before obtaining and saving the AdSense client ID - and without that, the snippet cannot be rendered.

See this part of the previous codebase: https://github.com/google/site-kit-wp/blob/1.8.

[2020-06-01 16:17] #1494 closed

[2020-06-01 16:24] felixarntz commented on #1486
@aaemnnosttv Good catch. Let's do this in a follow-up PR, not critical to be in the release though.

[2020-06-01 16:29] felixarntz commented on #1566
@cole10up Did you also specifically test the steps in https://github.com/google/site-kit-wp/issues/1566#issuecomment-636095913?

[2020-06-01 17:20] tofumatt commented on #1557
Code review ✅ from me, just needs merging 🙂

[2020-06-01 17:40] felixarntz commented on #1394
Related (but I think different): #1099

[2020-06-01 17:53] felixarntz commented on #1491
The problem here is that this particular adblocker seems to not block requests to our `ads.js` detection script, that's why the warning doesn't show. We should probably change that filename to be `adsense.js` - I tested that, and _that_ name was blocked as expected. It's also generally a good idea, since we're really looking to avoid AdSense being blocked, we don't care as much about _any_ ads her

[2020-06-01 18:02] felixarntz commented on #1605
Seems like that `destroy` call is within the Material component `TextField`, see https://github.com/material-components/material-components-web-react/blob/master/packages/text-field/index.tsx#L141. Not sure yet how that `foundation` state property can not have the `destroy` function - are we potentially doing something wrong here the way we use the component within the Optimize module setup?

[2020-06-01 18:19] #1619 closed

[2020-06-01 18:19] #1566 closed

[2020-06-01 18:19] #1014 closed

[2020-06-01 18:19] #1211 closed

[2020-06-01 18:19] #1298 closed

[2020-06-01 18:19] #1501 closed

[2020-06-01 18:19] #189 closed

[2020-06-01 18:45] felixarntz opened #1620 "Scaffold `modules/optimize` datastore"
## Feature Description

Similar to #1224, #1248, #1385, #1498, #1500, Optimize should receive a `modules/optimize` datastore.

**This is the last module to receive this type of refactoring!** 🎉

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Introduce datastore `modules/optimize` that is registered on

[2020-06-01 18:47] felixarntz opened #1621 "Refactor Optimize setup/settings components to use datastore"
## Feature Description

Similar to #1101, #1014, #1386, #1499, #1501, the module setup and settings components for Optimize should be refactored to use the datastore.

**This is the last module to receive this type of refactoring!** 🎉

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All changes should b

[2020-06-01 18:51] #1210 closed

[2020-06-01 18:51] #1088 closed

[2020-06-01 20:00] felixarntz opened #1622 "Expand `googlesitekit-modules` JS API to allow registering modules"
## Feature Description

Modules are currently registered in PHP and exposed to JS via the `core/modules/data/list` API endpoint. However, we will also need to register module data in JS, e.g. components to use as settings panels. Data registered in JS should be combined with the data registered in PHP, with JS taking precedence.

While the focus of allowing pure-JS module registration (no PHP) is

[2020-06-01 20:00] felixarntz commented on #1622
@tofumatt I assigned this to you for IB since it's fairly similar to what you've done for widgets, with some nuances.

[2020-06-01 21:36] felixarntz opened #1623 "Enable settings view and settings edit component registration"
## Feature Description

We need to actually allow registration and usage of `SettingsView` and `SettingsEdit` components for modules.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `registerModule` action of the `core/modules` store should be modified:
    * The `settingsComponent` argument should

[2020-06-01 21:50] felixarntz commented on #1623
@tofumatt Also for your review (follow-up to #1622), let's make sure we agree on the ACs (which largely are the IB here) and then go from there.

[2020-06-02 10:23] aaemnnosttv commented on #1491
IB ✅

Note that only the resulting entrypoint and asset src in `Assets` needs to be renamed, not the source file.

[2020-06-02 10:52] aaemnnosttv commented on #716
IB updated!

[2020-06-02 12:31] tofumatt commented on #716
IB sounds good to me, IB ✅

[2020-06-02 12:37] kismatboy commented on #1391
me too have same problem and fixed it after installing cloudflare official plugin  :) thanks for the support :)

[2020-06-02 14:49] aaemnnosttv commented on #923
Closing this as things are currently quite stable as decided during planning today. Will reopen a new issue if necessary.

[2020-06-02 14:49] #923 closed

[2020-06-02 15:54] ShahAaron commented on #1491
@aaemnnosttv @felixarntz I've renamed the file from `ads.js` to `adsense.js`
Changed the src & entrypoint in `Assets` and the webpack entry
The result is that it displays ` Ad blocker detected, you need to disable it in order to set up AdSense.` whether the adblocker is on or off

[2020-06-02 16:23] aaemnnosttv commented on #1394
Yeah, I saw that's all it gives you for the `ga:date` dimension, which is a bit odd.

I took a look at your change. I think we can make it a bit simpler though using alternate arguments to `Date`.

We can construct it like so:
[code]
![image](https://user-images.githubusercontent.com/1621608/83543929-d4b0d680-a505-11ea-97f1-c942860fe6d5.png)

Note the month is zero-indexed.

This will give us the

[2020-06-02 16:26] felixarntz commented on #1302
@tofumatt

I know this is in the AC, but we're currently not using this approach for Site Kit modules, maybe we should do this throughout. All modules that have already refactored components have them all in some arbitrary folders in the module root folder, alongside `datastore`. Maybe we should change this for all modules so that the root becomes only:
* `components`
* `datastore`
* `util` (if ne

[2020-06-02 16:31] felixarntz commented on #1529
@tofumatt

Why an object with just `slug` here? I think we could just return the string? The other details would come via `getAvailableDateRanges()`. We may want to introduce a `getAvailableDateRange( slug )` that just returns details for the one date range specified.

Regarding `getAvailableDateRanges()`, let's not use `text` as the property name, maybe something like `name` or `label`?

[2020-06-02 16:41] aaemnnosttv commented on #1610
@felixarntz this issue is a bit difficult to define as-is as the current AC is already met with the use-cases we need it for.

I talked this through a bit with @tofumatt to see if there are any potential abstractions that make sense right now and there doesn't seem to be much room for enhancement as it is. It may be a bit early to try to create an abstraction here as we have so few instances of it

[2020-06-02 16:46] aaemnnosttv commented on #1491
@ShahAaron that means the script probably isn't being loaded, or maybe you have an adblocker active? Do you have a branch pushed up for this?

[2020-06-02 16:53] ShahAaron commented on #1491
@aaemnnosttv have just #1626 with the code in

[2020-06-02 16:54] ernee opened #1627 "Optimize: AMP experiment does not track in Analytics"
## Bug Description

When configuring Optimize on a site with [the AMP plugin](https://wordpress.org/plugins/amp/), the option to add an AMP experiment is available via text entry of the JSON format configuration instructed [in the documentation](https://developers.google.com/optimize/devguides/amp-experiments):

<img width="748" alt="Optimize AMP Experiment" src="https://user-images.githubusercont

[2020-06-02 17:14] ernee opened #1628 "Optimize: AMP Experiment UI Improvements"
## Feature Description

 When configuring Optimize on a site with [the AMP plugin](https://wordpress.org/plugins/amp/), the option to add an AMP experiment is available via text entry of the JSON format configuration instructed [in the documentation](https://developers.google.com/optimize/devguides/amp-experiments):

<img width="748" alt="Optimize AMP Experiment" src="https://user-images.githubuse

[2020-06-02 17:26] felixarntz commented on #1610
@aaemnnosttv I like the idea of a general `hasScope` selector on `core/user`, let's do that and then removed the more specific selectors on `modules/analytics`.

Regarding the snapshot store, I'd wanna hold off adding that to `commonStore` since right now we intentionally only use it for certain stores. For example if we just added it to `core/user`, we'd end up having the scope error and scopes d

[2020-06-02 17:30] felixarntz commented on #1491
@aaemnnosttv I think we should rename the actual source script too, it would be confusing for it to have a different name than the built version.

[2020-06-02 17:40] felixarntz commented on #1628
We should explore what we can reasonably do here: The main issue is that handling Optimize experiments in AMP is currently an entirely manual process. You'll have to set them up in Optimize UI, but then also you have to manually copy/paste the reference data over to your site (that's what would currently go in the `ampExperimentJSON` setting). Whenever you stop an Optimize experiment in the UI, yo

[2020-06-02 17:47] felixarntz commented on #1627
What we could do here is modify our `amp-analytics` configuration based on the content of `ampExperimentJSON`. We could get the experiment name from there. However we don't have the experiment ID. In order to fix that, we would need to introduce a new setting like `ampExperimentID` with a text input where the user could paste that in. What I'm not sure about is how to do tracking for multiple expe

[2020-06-02 17:53] felixarntz commented on #1620
IB ✅

[2020-06-02 17:54] felixarntz commented on #1617
IB ✅

[2020-06-02 18:00] felixarntz commented on #1621
@ShahAaron IB looks mostly good, just want to emphasize that the current `setup.js` should be split like elsewhere, to have the separate components for setup and settings. It's maybe a bit high level here, we should specify further since this is a bit more complex than it was for e.g. Search Console and PageSpeed Insights (since they didn't have any editing capabilities). UI components that are us

[2020-06-02 18:06] felixarntz commented on #1615
@ryanwelcher I think some things here need to be refined, maybe the description was slightly unclear.

The `modules` key should still remain there, the conflict with new APIs would be resolved already by renaming the `googlesitekit` object for legacy data.

I may be nitpicking here, but note that this should only be adjusted when it comes to _legacy_ production code. Code referencing new APIs (e.g

[2020-06-02 18:23] ryanwelcher commented on #1394
@aaemnnosttv IB and PR updated.

[2020-06-02 21:10] imagine commented on #462
I just setup my first site in WordPress. I will be using an alternative plugin until this issue is resolved. Major brand trust erosion that Google would keep this plugin active without at least a warning in the plugin description.

[2020-06-02 23:02] felixarntz opened #1629 "Fix regression of module activation/deactivation always firing deactivation event"
## Bug Description

We've recently noticing a decline in `module_activate` Analytics tracking events being submitted, and it turns out that actually none of these were being sent at all.

While changing the API datapoint for module activation/deactivation in https://github.com/google/site-kit-wp/commit/c0aa178bd9d2562b12c5067d050d67649739378f, the API response format was changed so that there woul

[2020-06-03 00:22] felixarntz opened #1630 "Ensure Site Kit tracking events are sent"
## Bug Description

In order to record tracking events with `gtag.js`, we're pushing event data onto the `dataLayer` stack as documented. However, as `gtag.js` works asynchronously, our current approach does not ensure these events are actually collected by Analytics - especially since the actual code we're writing simply adds data to an observed array.

[`gtag.js` provides a mechanism to know whe

[2020-06-03 08:42] aaemnnosttv commented on #1611
@felixarntz I think we should also consider that the preloading middleware is unaware of `useCache`. That is, `useCache` could be `false`, but it would still return the response from the preloaded data (if present) if the request was being made for the first time. We should probably ensure the preloaded data is bypassed if a request is made with `{ useCache: false }`. This could be done in `siteKi

[2020-06-03 08:47] jamesozzie opened #1632 "Analytics: improve provisioning flow reliability"
## Bug Description

The current Analytics provisioning flow directs users to the Terms of Service agreement page using an outdated URL, that redirects users to the final current URL. In certain cases a rare condition occurs where redirect fails. The user winds up at the incorrect url and encounters an error: `Error: Account token is missing`. To resolve this issue, Site Kit should direct users dir

[2020-06-03 09:08] jamesozzie opened #1633 "Data error in Search: Console Rate Limit Exceeded"
## Bug Description

After updating from 1.8.1 to 1.9 everything worked fine until the Analytics module is disconnected. After doing so under the main dashboard (Popularity widget/tab) a `Data error in Search Console - Rate Limit Exceeded` error as per screenshot appears.

There are no errors when clicking on the Search Console tab.

## Steps to reproduce

1. Update to SK version 1.9
2. Disconnect

[2020-06-03 09:38] aaemnnosttv commented on #1394
IB ✅

[2020-06-03 09:42] tofumatt commented on #1611
Oh, I like the approach of using timestamps and integrating with our own caching utilities. This approach, including what's mentioned in https://github.com/google/site-kit-wp/issues/1611#issuecomment-638052631, sounds good to me. 👍

IB ✅

[2020-06-03 10:49] ShahAaron commented on #1621
@felixarntz I've refined the IB as requested

[2020-06-03 11:21] tofumatt commented on #1610
IB ✅

[2020-06-03 12:24] ryanwelcher commented on #1615
@felixarntz I've updated the IB, please review when you can.

[2020-06-03 14:44] tofumatt commented on #1529
Ah, good call re: returning just the slug. The object was there when we were returning more info, but just returning the slug makes sense for that selector.

I've renamed "text" to "label", so I think this is good to go 😄

[2020-06-03 15:16] tofumatt commented on #1607
IB ✅

[2020-06-03 15:47] tofumatt commented on #1302
Oh, the `components/` folder everywhere sounds good 👍  I mentioned moving items for this module into that folder in the IB.

[2020-06-03 16:17] jamesozzie opened #1635 "Search Console - Inconsistant data between SC web UI and Site Kit dashboard"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/inconstant-data/#post-12932561) metrics using the same reporting periods don't match, showing significant differences between the SC web UI and  Site Kit dashboard.

![image](https://user-images.githubusercontent.com/41326532/83661283-ca521380-a5bd-11ea-9e8d-23160051b63f.png)

Replicated in suppor

[2020-06-03 16:19] aaemnnosttv commented on #1381
@felixarntz I have a WIP IB going here, but there are a few issues that need working out.

1. Things are more complicated for `SettingsEdit` as we don't have control over the main submit buttons (apart from the disabled state).
1. The complexity is particularly compounded for cases using secondary AMP where they have 2 different containers selected. I'm not sure if those cases have been considered

[2020-06-03 16:28] aaemnnosttv commented on #1385
@felixarntz while working on the IB for #1381 I realized that we don't actually need datapoints or selectors for `workspaces` or `tags` (yet). We only need to request [`versions:live`](https://developers.google.com/tag-manager/api/v2/reference/accounts/containers/versions/live) which returns all the relevant data for the live/published version of a given container. We don't care about all the tags

[2020-06-03 17:13] felixarntz commented on #1608
IB ✅

[2020-06-03 17:15] felixarntz commented on #1621
IB ✅

[2020-06-03 17:16] felixarntz commented on #1609
IB ✅

[2020-06-03 17:19] felixarntz commented on #1615
IB ✅

[2020-06-03 17:21] felixarntz commented on #1529
IB ✅

[2020-06-03 17:24] felixarntz commented on #1386
@aaemnnosttv Since the work here is yet to be started, let's put all GTM-specific components into `assets/js/modules/tagmanager/components` (i.e. most subdirectories like `common`, `settings`, `setup` would go into that). See https://github.com/google/site-kit-wp/issues/1302#issuecomment-637664470.

[2020-06-03 17:26] felixarntz commented on #1302
IB ✅

[2020-06-03 17:31] felixarntz commented on #1385
@aaemnnosttv That's awesome you found that, a much better and simpler alternative! So big 👍

Can we name the selector `getLiveContainerVersion`, to be more in line with how the API treats this? Technically the object returned is a "container version" object, not a "container".

[2020-06-03 17:44] felixarntz commented on #1381
@aaemnnosttv
1. Makes sense, let's not handle the button adjustments in settings. I.e. the recommendations to Analytics activation should only happen during setup. The settings parts are okay to only cover the rest (matching, informing, blocking the user).
2. For the cases where it's either no AMP or primary AMP, we can follow the logic outlined in the ACs (just need to look at the respective sett

[2020-06-03 17:50] aaemnnosttv commented on #1529
@felixarntz it seems the IB and AC are out of sync due to the decisions that were made since it was originally written. Would you please update it to reflect the final ACs?

[2020-06-03 17:53] aaemnnosttv commented on #1385
Sure that sounds good to me 👍

[2020-06-03 18:03] aaemnnosttv commented on #1381
Sounds good.

Yeah, that's what I was thinking.

Sounds good, that makes sense.

You're right, I thought only the legacy module JS was loaded everywhere for some reason, but the new entrypoints are enqueued by `Screens::enqueue_screen_assets`, so no problem 👍

---

I'll keep going on the IB then 👍  Would you please update the ACs to reflect these changes?

[2020-06-03 18:05] aaemnnosttv commented on #1385
@felixarntz we'll also need a datapoint for calling `versions:live` - what would you like that to be called? `GET:container-version-live` ?

[2020-06-03 21:30] felixarntz commented on #1529
@aaemnnosttv Done!

[2020-06-03 21:42] felixarntz commented on #1381
@aaemnnosttv Updated the ACs accordingly - IB is ready to be continued!

[2020-06-03 21:44] felixarntz commented on #1385
@aaemnnosttv That sounds good, maybe we should do `GET:live-container-version` so that makes it similar to the selector.

[2020-06-04 02:00] ernee commented on #1538
Issue fixed in version 3.9.0 of theme.

[2020-06-04 02:00] #1538 closed

[2020-06-04 04:53] ernee commented on #1548
Adding other topics impacted by this below. Both have full permissions to the account/ property/ view:

https://wordpress.org/support/topic/error-user-does-not-have-sufficient-permissions-for-this-account-2/
https://wordpress.org/support/topic/error-user-does-not-have-sufficient-permissions-for-this-account-3/

[2020-06-04 07:01] cole10up commented on #1523
**Tested**

Ran through a series of tests to install bedrock - Exhausted efforts to mimic with roots.io in the environment. This is more of a L2 issue. Sending over to L2.

[2020-06-04 09:14] aaemnnosttv commented on #1630
IB ✅

[2020-06-04 11:33] aaemnnosttv commented on #1426
@felixarntz I just revised the signature of the selector in the AC here to use required positional arguments instead of an object with defaults after discussing this with @tofumatt. See here for more info https://github.com/google/site-kit-wp/pull/1561#pullrequestreview-424348918

[2020-06-04 15:47] felixarntz commented on #1385
@aaemnnosttv Updated the ACs to match the new requirements.

[2020-06-04 18:24] tofumatt commented on #1623
One note: in the IB I changed `setSettingsState` and `getSettingsState` to `setSettingsDisplayMode` and `getSettingsDisplayMode`. The former was a bit too vague for me so I wanted to clarify the intention. If you're cool with that we can update the ACs too, but it's just the name I'm proposing changing, not the functionality 😄

Much of the ACs are copied as they're more/less IBs, and sound good to

[2020-06-04 18:47] felixarntz opened #1636 "Expose web vitals metrics in PSI widget"
## Feature Description

With the launch of [Web Vitals](https://web.dev/vitals/), the PageSpeed Insights API now exposes the relevant field data in API responses for all sites where it is available. [Sample API request](https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=https%3A%2F%2Fweb.dev%2F&strategy=mobile)

We should expand the capabilities of the PageSpeed Insights widget to expo

[2020-06-04 19:02] felixarntz commented on #1622
IB ✅

[2020-06-04 19:10] felixarntz commented on #1623
@tofumatt That change sounds good, I'll update this in the ACs too.

Regarding "locked" display mode, that's a fair point for consideration in the future. Although, I'm not sure I understand the technical concern here - when you're editing, you can't go to another module's settings, so you would never lock a settings panel where you were just editing.

IB ✅

[2020-06-04 20:04] ernee commented on #1632
Another topic: https://wordpress.org/support/topic/google-kit-error-account-token-is-missing/

[2020-06-04 21:59] ernee opened #1637 "WooCommerce compatibility: Admin pages do not load"
## Bug Description

When Site Kit is activated, some [WooCommerce](https://wordpress.org/plugins/woocommerce/) admin pages do not load intermittently. A [user in the forums](https://wordpress.org/support/topic/it-is-compatible-with-woocommerce-customers-page/) reported specifically that the _WooCommerce > Customers_  admin page experienced the issue, however I was able to replicate the issue on ot

[2020-06-04 23:27] ernee opened #1638 "WooCommerce compatibility: Error after attempting to send report"
## Bug Description

Originally reported in this [support topic](https://wordpress.org/support/topic/problems-with-sending-analytics-mail/), when attempting to send an email report from WooCommerce (for example from the _Analytics > Orders_  admin page), the process fails as reported in the _Status_ section of the plugin's admin.

[CSV reports are emailed](https://docs.woocommerce.com/document/wooc

[2020-06-04 23:35] felixarntz opened #1639 "Pass user_roles query parameter in proxy setup URL"
## Feature Description

Site Kit should pass a comma-separated list of the current user's roles in a `user_roles` query parameter as part of the proxy setup URL.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The proxy setup URL should contain a `user_roles` query parameter, which should be the curren

[2020-06-05 01:43] felixarntz commented on #1622
@tofumatt I just noticed `core/modules` has a `isSettingModuleActivation` selector - per our naming conventions that should be called `isDoingSetModuleActivation`, so I've added to the ACs to do this renaming here.

[2020-06-05 02:17] kokosta commented on #1632
Have exactly the same problem as described by ernee

[2020-06-05 07:22] cole10up commented on #1557
**Tested**

Built and installed latest develop SK. Activated each module.

Ran a series of regression tests around each module confirming visual appearance is unmodified.

Passed QA ✅

[2020-06-05 07:27] cole10up commented on #1474
**Tested**

Ran through a series of tests installing WP in its own subdirectory - was unable to reproduce this locally. Sending to L2.

[2020-06-05 09:35] jamesozzie commented on #1548
Further confirmation from user in original post that all permissions are granted

[2020-06-05 10:36] Schiocco commented on #228
From this week Support Board provides several tools for developers to make magic happen. Use our powerful WEB APIs and the APIs for PHP, and JS. Automate your work and create custom integrations.

<http://tracking.schiocco.com/tracking/click?d=YN6d4_b-uSS8lqBrHSyap5WVes5j2AaWCUealMYHFUAi2DGcB37gD8--VbxDZxWenBjk0AERFO_axc1qu2PtXohNzzyBvkcptE96zrMM2ZuSo2qsDZ49nQDcmI6RnqRrbg2>

<http://tracking.schio

[2020-06-05 10:53] aaemnnosttv commented on #1356
IB ✅

[2020-06-05 10:57] aaemnnosttv commented on #1629
IB ✅

[2020-06-05 20:47] timnolte commented on #1548
I'm also running into this problem. I have full permissions granted all inherited from a top level account with multiple properties. I've successfully setup other properties under this account over 3 weeks ago. I can't see any visible difference between this latest property and the others.

[2020-06-05 22:49] ernee commented on #1632
I was able to recreate the issue on a new site and with a Google account without an Analytics account. Site Health:

## wp-core ###

version: 5.4.1
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: closed
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path:

[2020-06-05 23:18] adamsilverstein commented on #1632
Hmm, seems like it redirects back to the provisioning step after completion, this may be an issue with how we store the provisioning redirect URL (perhaps that isn't cleared).

I'll take a look to see if I can determine the underlying cause.

[2020-06-06 01:59] cole10up commented on #1376
**Tested**
Confirmed unique page views and bounce rates are now hidden, look and feel is looking and feeling great.

![image](https://user-images.githubusercontent.com/57115907/83933576-ad087b00-a75e-11ea-8b36-735f1a253ebb.png)

Passed QA ✅

[2020-06-06 07:51] Kali-Gula opened #1642 ""Error desconocido (código: cURL error 77: ). Para reanudar la configuración empieza aquí""
## Bug Description

I have this message error after install plugin and try to configure my google acount:
"Error desconocido (código: cURL error 77: ). Para reanudar la configuración empieza aquí"
Before I was using "Google Analytics Dashboard Plugin for WordPress by MonsterInsights"
I uninstall it and try to install G Site Kit.

I make 3 steps to configure the plugin and when finishes error appea

[2020-06-06 21:22] marjanvenema commented on #1540
Also have this issue. It's been present since I started using Site Kit a couple of weeks ago. Bugs me because it's distracting.

The notification disappears when there actually is an update for Site Kit and you execute it, only to return shortly thereafter. Minutes, IIRC.

Please note that in the original screenshot the "updates" icon is not present in the top toolbar, but the notification badge o

[2020-06-08 06:14] cole10up commented on #1491
**Tested:**

Installed latest develop and activated SK.

Installed ad blocker:
![image](https://user-images.githubusercontent.com/57115907/83997815-14b3f700-a914-11ea-8c1e-f31652c13fff.png)

Noticed:
![image](https://user-images.githubusercontent.com/57115907/83997824-1bdb0500-a914-11ea-94e2-24c9d867ed44.png)

Tried to setup:
![image](https://user-images.githubusercontent.com/57115907/83997886-49c

[2020-06-08 06:17] cole10up commented on #1434
**Tested**

Installed and activated latest develop. Navigated to dashboard.

Confirmed user isn't able to search with items outside of valid URLs
![image](https://user-images.githubusercontent.com/57115907/83998179-e4b92380-a914-11ea-9ecd-31a698a2f77e.png)

![image](https://user-images.githubusercontent.com/57115907/83998201-f39fd600-a914-11ea-8ca8-a4a44e841538.png)

![image](https://user-images.g

[2020-06-08 06:34] cole10up commented on #1422
**Tested**

Installed latest develop and activated SK. Installed Header Footer Code Manager plugin and activated it. Placed snippet in the header via HFCM

![image](https://user-images.githubusercontent.com/57115907/83998966-99a01000-a916-11ea-831e-3bca1acdbd59.png)

Activated Analytics module.
![image](https://user-images.githubusercontent.com/57115907/83999311-53977c00-a917-11ea-8f3a-02376f99fd2

[2020-06-08 10:02] jamesozzie commented on #1632
Another reported issue added to original report. Awaiting additional information:
https://wordpress.org/support/topic/error-account-token-is-missing-2

[2020-06-08 11:27] eugene-manuilov commented on #925
Here is a husky hook that checks whether a commit message ends with a dot:

[code]

[2020-06-08 12:05] jamesozzie commented on #1253
@aaemnnosttv Assigning this back while I take another look.

[2020-06-08 12:49] wgicio commented on #1548
this may be a clue, I went to look at some analytics data and it said I needed to link the property to Search console. which then links to
https://www.google.com/webmasters/tools/analytics-site-selection?hl=en_GB&property=....

The page did not have all the websites listed that are contained in GSC that exist

[2020-06-08 13:53] tofumatt commented on #1426
Code review ✅  from me, just assigning to @aaemnnosttv for merge.

[2020-06-08 14:28] jamesozzie opened #1646 "missing_delegation_consent notice appears when accessing any tab"
Since updating to Site Kit 1.9.0 a `missing_delegation_consent` notice appears in the dashboard when accessing any of the services, which all have connected status:

![temp1](https://user-images.githubusercontent.com/41326532/84043398-2346f080-a99e-11ea-89a2-0a82d078a579.png)

WordPress support topic: https://wordpress.org/support/topic/missing_delegation_consent/

<details>
<summary>Site Health</

[2020-06-08 17:05] felixarntz commented on #925
@eugene-manuilov Nice, I like the approach of Husky hooks with a file like this - would be great if you could expand to an implementation brief with the overall approach.

cc @aaemnnosttv

[2020-06-08 17:24] tofumatt opened #1647 "Add a shared VSCode config"
We should add a shared `.vscode/settings.json` to the project that includes things like Jest config paths and recommended extensions to improve developer productivity when using VSCode. @ryanwelcher had some snippets that would be handy as well, but for me I benefit from:

[code]

along with some other auto-format-on-eslint settings.

---------------

_Do not alter or remove anything below. The fo

[2020-06-08 18:08] felixarntz opened #1648 "Only include opt-in GA tracking script on Site Kit admin screens"
## Feature Description

Site Kit currently includes the GA tracking snippet on all pages where it's loaded. This has resulted in some concerns particularly when including it in the frontend for logged-in users (due to the Site Kit admin bar menu).

We don't use any specific tracking events in the admin bar menu or WP dashboard widget, so it's better to not include the snippet for those areas.

---

[2020-06-08 18:22] felixarntz commented on #1531
@aaemnnosttv A few minor comments regarding IB, other than that ✅
* `getAllDateRanges` is now `getAvailableDateRanges`, and it's a utility function not in the datastore.
* `Data.select( 'core/user' ).getDateRange()` now returns `slug` instead of `{ slug, name }`, so code that needs the name must call the selector for `slug` and then rely on `getAvailableDateRanges` to look up `name`. We may want t

[2020-06-08 18:41] felixarntz commented on #1302
With #1636 moving forward as high priority, this issue should be considered blocked. We should implement the new widget using the datastore as part of #1636, so the scope here will be reduced, as it's only going to be about migrating that new widget to the actual Widgets API infrastructure.

[2020-06-08 18:42] felixarntz commented on #1302
Moving back to IB for later, since this will need more simpler IB after #1636.

[2020-06-08 18:48] aaemnnosttv commented on #1648
@felixarntz what if `tracking` was its own asset that we only enqueued in `Screen::enqueue_assets`?

[2020-06-08 19:09] felixarntz opened #1649 "Implement UI for new PSI widget"
## Feature Description

As a follow-up to #1636, this issue is about implementing the exact UI from the mock.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The new PSI widget implemented in #1636 should have UI as in the mock.
* Material components should be used where applicable.

## Implementation

[2020-06-08 19:12] felixarntz commented on #1636
This issue is ready to be IB-reviewed and picked up as is. Note that there is no final mock yet, so this should only be focused on getting the widget ready to display the information and provide the functionality needed. In other words, just put some rudimentary tabs for "Lab Data" and "Field Data", a right-aligned button group "Mobile" and "Desktop", and then for each tab display the respective d

[2020-06-08 19:25] felixarntz commented on #1648
@aaemnnosttv That has been in the back of my head for quite a while, and we should do it at some point, but not for now. This would also bring up other issues, like e.g. the tracking should still work on the plugin activation banner. If we don't enqueue the script on the plugins screen, we'd have an issue there. If we just don't run the initial logic on pageload though, that'd be okay.

[2020-06-08 20:13] aaemnnosttv commented on #1531
Selectors are synchronous so they always return based on the current state. If the `INITIAL_STATE` was `last-28-days` it would return that on the first select even if it were sourced by an API call, but really any async resolution would result in a potentially `undefined` return, but only if the initial state was `undefined`. In the future, if we use local/session storage for persistence, these AP

[2020-06-08 20:17] aaemnnosttv commented on #1648
That current AC here only mentions Site Kit owned screens 😄
Is `plugins.php` the only exception to that rule?

[2020-06-08 22:26] felixarntz commented on #1531
Right, but that means we don't need to handle this here, since `getDateRange` would never return `undefined` right?

Can you update the function names in the IB? After that, it's good from my end.

[2020-06-08 22:29] felixarntz commented on #1648
Oh I think there's a misunderstanding here, we should indeed only set `trackingAllowed` to true for Site Kit screens, so that the snippet is inserted on pageload. However, my previous point was that we still need the overall tracking logic to be loaded in e.g. `plugins.php` so that, when the user opts in, the snippet is inserted. It just shouldn't be inserted on pageload.

If we move to a separate

[2020-06-09 09:00] sasa-friedrich-bitlab commented on #1632
I can confirm same problem on my WP installation.

Site Kit Version | 1.9.0
PHP Version | 7.3.17
WordPress Version | 5.4.1

[2020-06-09 10:12] jamesozzie commented on #766
@kospl As we didn't receive a response I'll close this issue. Feel free to reopen should the issue persist.

[2020-06-09 10:12] #766 closed

[2020-06-09 10:37] aaemnnosttv commented on #1531
@felixarntz updated! I removed the part about initial state as well since that will be handled in #1529 anyways.

Assuming this is IB ✅  - moving to backlog 👍

[2020-06-09 10:53] aaemnnosttv commented on #1636
@felixarntz I'm not entirely sure what you mean by this but it sounds like you're referring to using `useState` to track the active tab? I think only one should be needed for that. Also, I think we could use `core/forms` for this rather than component state to keep it in the datastore without requiring added selectors, etc.

What happens if there is no Field Data? It sounds like this will be the m

[2020-06-09 14:32] aaemnnosttv commented on #1636
Also the IB mentions `assets/js/modules/pagespeed-insights/components/DashboardPageSpeed.js` - should this not be `dashboard-pagespeed.js`?

[2020-06-09 14:51] mredodos commented on #852
+1

is awesome if add some specific capabilities for the plugin, so we can decide who to give or not access to the console and the plugin. currently any user with manage_option can reset the plugin and that's not a good thing.

[2020-06-09 15:47] felixarntz commented on #1636
@aaemnnosttv Good point on using `core/forms` for state of the widget, I've updated this bit.

If there's no Field Data, the tab should still be displayed, with some CTA (exact UI and wording to be defined in #1649).

[2020-06-09 15:55] ernee opened #1650 "AMP plugin comaptibility: Notice: is_amp_endpoint was called incorrectly"
## Bug Description

A [user in the support forums](https://wordpress.org/support/topic/issue-with-amp-plugin/) reported getting the following error when using the [AMP plugin](https://wordpress.org/plugins/amp/) and installing Site Kit on the wp-login page:

`Notice: is_amp_endpoint was called incorrectly. is_amp_endpoint() was called before the parse_query hook was called. Please see Debugging in

[2020-06-09 16:25] jamesozzie commented on #1633
Issue no longer persists when checking from a new browser session or incognito.

[2020-06-09 16:25] #1633 closed

[2020-06-09 17:36] ernee opened #1651 "AMP plugin compatibility: Analytics error when AMP Analytics is configured"
## Bug Description

When using the _Analytics_ section of the [AMP plugin](https://wordpress.org/plugins/amp/):

![AMP plugin Analytics](https://user-images.githubusercontent.com/8108643/84179054-3b6c4d80-aa3a-11ea-84ea-12d703703c10.png)

Attempting to connect Analytics via Site Kit causes the following error:

![Site Kit Analytics error with AMP Analytics](https://user-images.githubusercontent.co

[2020-06-09 18:05] aaemnnosttv commented on #1636
I recall the decision around whether or not to include in a directory but I don't remember discussing the filename. That sounds good to me though.

Thanks for the added clarification around Field Data handling 👍

IB ✅

[2020-06-09 18:37] ernee opened #1652 "Adsense: links to Adsense account pages from module are blank"
## Bug Description

Initially reported in [this forum topic](https://wordpress.org/support/topic/adsense-code-and-site-kite/#post-12929520), links in the Adsense module lead to blank pages in the Adsense account:

<img width="500" alt="Link in Adsense module" src="https://user-images.githubusercontent.com/8108643/84183174-5215a300-aa40-11ea-8018-ecbdebba987b.png">

![Adsense account blank page fro

[2020-06-09 19:40] felixarntz opened #1653 "Add support for `dashboard-details` screen to entity detection"
## Feature Description

We recently introduced selectors on `core/site` to get information about the "entity" associated with the current context. An entity is basically a URL annotated with relevant WordPress information, e.g. whether it is a post, a term, the blog archive, a date archive etc. At the moment, only entities of type `post` (a single post) and `home` (the blog archive) are supported

[2020-06-09 19:46] felixarntz opened #1654 "Use component name for component file names"
## Feature Description

As decided recently, JavaScript components should have their respective file or folder names match the component name. For example, a component `DashboardPageSpeed` should be in either `DashboardPageSpeed.js` or `DashboardPageSpeed/index.js`.

Another change specific to Site Kit module components is that all components should be within `assets/js/modules/{module}/components

[2020-06-09 19:50] swissspidy commented on #1654
@felixarntz Have you considered enforcing this with ESLint? See https://github.com/selaux/eslint-plugin-filenames#matching-exported-values-match-exported for a possible solution

[2020-06-09 19:56] felixarntz opened #1655 "Replace isDoingGet* selectors with relying on resolvers"
## Feature Description

We currently have several selectors in our datastores specifically to check whether an API call for a selector is in progress (these are always called `isDoingGet*`). This seems somewhat unnecessary since every datastore exposes selectors like `isResolving( selectorName )`, via Gutenberg core.

We should consider getting rid of all `isDoingGet*` selectors and instead rely o

[2020-06-09 20:03] felixarntz opened #1656 "Avoid failing API requests in Storybook"
## Bug Description

While our Storybook integration generally works well, several components currently result in failed API requests that fill the console with warnings or errors.

In some cases this relates to us not having populated all the information a component truly needs (e.g. bootstrapping current user data and "side effects" like that), in other cases it's simply that we cannot avoid a re

[2020-06-09 20:29] jamesozzie opened #1658 "Improve error & notice readability by not splitting words"
## Bug Description

Consider modifications to the current `word-break: break-all` style applied to errors/notices in the admin dashboards, which results in split words.

![Untitled-4](https://user-images.githubusercontent.com/41326532/84195539-a9466280-aa96-11ea-8e8c-7562d27c72b2.jpg)
![img](https://user-images.githubusercontent.com/41326532/84195542-aa778f80-aa96-11ea-9423-9a9986a43bb2.gif)

## S

[2020-06-09 20:58] westonruter commented on #1650
Note how AMP plugin v1.5.3 implements `is_amp_endpoint()`: https://github.com/ampproject/amp-wp/blob/1.5.3/includes/amp-helper-functions.php#L569-L571

So it should short-circuit for `wp-login.php`.

Take note that the logic has been revised in 1.6-alpha: https://github.com/ampproject/amp-wp/pull/4574

See https://github.com/ampproject/amp-wp/blob/4743ae5881f05faf518c525005e3409137637b35/includes/

[2020-06-09 21:55] jamesozzie commented on #1253
@aaemnnosttv Performed some more testing on this today, no console errors and all 200 responses. Same issue persists and easily reproducible. I'll unassign now if you'd like to pick it up once more, more details below.

- Issue only occurs on main Site Kit dashboard, all individual module tabs work fine
- User must create a WP user front end form to encounter issue
- SK version 1.9.0 and WP user f

[2020-06-09 21:59] felixarntz commented on #1650
I'm not sure exactly why the user saw this notice, since the AMP plugin should cover for it (and the user appears to have the correct versions via their Site Health information).

However, this points at somewhat of a concern, which is that we preferably shouldn't even need to check for `Context::is_amp()` on login screens. At the moment, this happens in the `Assets` class, in order to make some "

[2020-06-09 22:22] jamesozzie commented on #1422
No additional reports of this issue occurring, and unable to reproduce.

In addition the issue no longer persists for the user who initially reported.

[2020-06-09 23:22] rubizamora commented on #1632
Hello i have the same problem with my wordprees web page can you help

[2020-06-10 00:16] extremeshok commented on #1208
receiving a similar error
[code]

[2020-06-10 01:56] felixarntz commented on #1635
Unfortunately, after some debugging, it looks like this is something we cannot address:
* [We currently use an offset of 3 days for querying SC data.](https://github.com/google/site-kit-wp/blob/1.9.0/includes/Modules/Search_Console.php#L195)
* When testing today (2020-06-09), this means we request data until (including) 2020-06-07. I changed this value to 1, so that we actually request until 2020-

[2020-06-10 03:45] ernee commented on #1548
@wgicio thanks for the details! Some questions that could be helpful:

-- Was the website (property) that is failing listed?

-- When you [visit this link](https://www.google.com/webmasters/verification/home) while logged into the info@ account, are you also not seeing the full list of properties available in GSC?

In particular, do you see the property that is failing listed there and in GSC?

--

[2020-06-10 04:45] wgicio commented on #1548
so Analytics Account ID164912693 has 6 properties which were transferred from another account.
GSC only has 2 sites although there are multiple properties for the domain, eg http://www - https://site - https://www
it is a pretty old GSC property, so in GSC there is 2 sites and 6 properties

Yes the site in GSC that is failing in site kit analytics connection was listed in GSC

Yes

Yes, GSC does c

[2020-06-10 05:43] roadsunknown opened #1660 "PageSpeed Insights Link on Dashboard Not HTTPS"
On the Site Kit Dashboard, under the Speed section, there is an external link to "PageSpeed Insights". If the site is served over HTTPS, as configured in WordPress, this link does not use the HTTPS prefaced link but rather uses an HTTP link. This results in PageSpeed Insights returning a message: "Requested URL redirected to: https://domain.com". This is an unnecessary as the link from Site Kit to

[2020-06-10 09:24] jamesozzie commented on #1660
@roadsunknown Thanks for opening this GitHub issue.

Reproducible in support with a fully https site (and both URLs in general settings including https). PageSpeed Insights module will pass the non secure URL to PageSpeed Insights web interface.

Worth noting that even with the module passing the insecure URL as long as there is redirection in place the https site will be used for metrics.

![Unti

[2020-06-10 10:25] sasa-friedrich-bitlab commented on #1632
I created new account for my web page manually. And then in Site Kit I choose this newly created account. Now it shows me green status "Analytics is connected". But I can't conform that it will work because domain is new and there's not data available yet.

[2020-06-10 17:44] felixarntz opened #1661 "Reduce module JS bundle sizes by not unnecessarily importing massive legacy data API"
## Bug Description

In the refactored modules' assets (`googlesitekit-modules-*.js`) we need to invalidate caches when settings are saved. Since we're currently partially relying on the new API and partially the legacy `dataAPI`, it's necessary to cover both of these cache types.

However, at the moment `dataAPI` is only exported as an entire object. In the module assets we only need a single func

[2020-06-11 06:05] cole10up commented on #1548
**Tested**

I was able to reproduce this by following the steps here:

1. User A configures analytics using an existing account, granting access to user B
2. User B logs in and configures analytics with the existing account
3. User A logs in again and edits analytics for the account

Notice:

![image](https://user-images.githubusercontent.com/57115907/84350258-d9146980-ab6d-11ea-8a7c-ea0a80c4cc6f.

[2020-06-11 06:19] cole10up commented on #1548
Navigating around to Analytics after seeing this error on the front end. Console shows:
![image](https://user-images.githubusercontent.com/57115907/84351756-d5361680-ab70-11ea-878f-376128e8de48.png)

[2020-06-11 07:06] cole10up commented on #1553
**Tested**

Installed latest SK develop, activated Analytics module. Compared GA with SK, was unable to reproduce.

![image](https://user-images.githubusercontent.com/57115907/84355353-51cbf380-ab77-11ea-90c3-2b3237a7bbb6.png)

Sending to Level 2

[2020-06-11 07:25] cole10up commented on #1554
**Tested**

Installed lates SK, activated Analytics module. Opened Acquisition overview in GA and filtered by 7 days in both and compared.

![image](https://user-images.githubusercontent.com/57115907/84357003-d455b280-ab79-11ea-8511-a163df7b4ba4.png)

Notice SK shows 13 new users for referral

![image](https://user-images.githubusercontent.com/57115907/84357083-f2231780-ab79-11ea-90b5-d2f53ee80388

[2020-06-11 07:37] cole10up commented on #1548
Pulling this one back into Escalations after working with @aaemnnosttv. I noticed my user's permissions on the GA site weren't set properly to edit and collaborate causing a false positive of this issue.

Adjusting both user's permissions to match - I no longer see this issue.

![image](https://user-images.githubusercontent.com/57115907/84358236-b5582000-ab7b-11ea-95e2-a5b5ae47a5b2.png)

Sending t

[2020-06-11 07:52] cole10up commented on #532
**Tested**

Installed latest SK, Installed PageSpeed Insights from settings page.

Noticed on dashboard the link to jump to the bottom of the page
![image](https://user-images.githubusercontent.com/57115907/84359618-bc802d80-ab7d-11ea-9dde-3b2e0ee70027.png)

Tested multiple browsers. Uninstalled PageSpeed insights, reinstalled.

Passed QA ✅

[2020-06-11 07:53] aaemnnosttv commented on #1650
IB ✅

[2020-06-11 08:29] aaemnnosttv commented on #1661
Do you mean all code that imports `dataAPI` just for calling `invalidateCacheGroup`? I'm guessing there may be other usage in there from legacy API calls which shouldn't be changed here.

IB ✅

[2020-06-11 11:37] jamesozzie commented on #1635
Very useful to know going forward. Closing as it's more service/API related, with user notified.

[2020-06-11 11:37] #1635 closed

[2020-06-11 14:55] adamsilverstein commented on #1280
One more update: Working on the IB I found that with the date modified I can reproduce every number exactly in my 90 day report **except user percent change**:

![image](https://user-images.githubusercontent.com/2676022/82610322-61a97680-9b7b-11ea-8eb9-48d6730afe43.png)

Still trying to determine the correct date/query/calculation used for this number, I've tried several variations.

Worth noting

[2020-06-11 14:56] adamsilverstein commented on #1280
I have an update about the data discrepancy we are seeing here:

An apparent bug in the Analytics dashboard causes inaccurate date ranges used on the Analytics home page for the 90 day report. In particular, there is a **one day gap** between compared date ranges.

For example:

On May 15th I ran the 90 day report and by hovering over the chart I can see the start and end date of the reporting per

[2020-06-11 15:43] aaemnnosttv commented on #1380
PR is merged but not adding a release here as it is still only targeting a feature branch.

[2020-06-11 16:04] felixarntz commented on #1661
@aaemnnosttv There is no other usage :)

[2020-06-11 16:37] adamsilverstein commented on #1280
@felixarntz / @ryanwelcher I updated the IB with instructions to fix the change percentages for 90 day reports. This fixes everything except the user change percentage which I am still investigating (awaiting help from support).

Maybe we can act on the existing IB, then re-open the issue to figure out the last data point?

[2020-06-11 16:50] adamsilverstein commented on #1099
I re-tested this and was unable to reproduce the issues describe in the comment: https://github.com/google/site-kit-wp/issues/1099#issuecomment-583282355

The primary issue raised here about the chart labeling feels like a very minor issue that is more of a limitations of the charts API. I suggest we close this as won't fix.

The most important points, which we have worked on getting right elsewhe

[2020-06-11 17:08] tofumatt commented on #1605
Note that there's a separate bug here: the data passed to this component currently comes from the global `getModulesData().modulesData.optimize.settings.ampExperimentJSON`. This isn't updated when the Optimize data is updated, which results in two bugs:

1. a visual glitch before the component is unmounted showing the old data
2. the old data being loaded into the form until the page refreshes

Th

[2020-06-11 17:15] adamsilverstein opened #1666 "Keep ad blocker detection on AdSense screen until setup complete"
## Feature Description

* When visiting the AdSense screen - until setup is complete - run the existing ad blocker checks and warn the user that setup cannot complete with an ad blocker enabled.

### Details
Site Kit currently tries to help users who may be running an Ad Blocker by telling them to disable it before starting the AdSense setup flow:

![image](https://user-images.githubusercontent.co

[2020-06-11 18:44] ernee commented on #1523
Adding additional info here: the user in the initial topic clarified that they do not get redirected back to the dashboard when attempting setup, but are instead looped back/ redirected to the proxy with the following URL in this response: https://wordpress.org/support/topic/infinite-verification-loop/#post-12936405

Site Health info for the site with the issue here: https://wordpress.org/support/

[2020-06-11 19:24] tofumatt commented on #1661
Looks like we also need to move the `TYPE_MODULES` constant out of the main data import here to prevent it being used, I think. Safer to do that anyway, and it's easy, so I'll do that as well.

[2020-06-11 22:42] tofumatt commented on #1655
On the subject on relying on the built-in module resolution status to indicate that a fetch action is complete I'm… suspect. It sounds like a good idea, and I like the reduction in code, but given `createFetchStore` is already what creates it with no developer input, why not separate out the entire selector's resolution from each fetch action? Fetching might be one part of a resolver's resolution:

[2020-06-11 23:32] LuckynaSan opened #1668 "JetPack Slideshow Conflicts with Site Kit Admin Bar"
## Bug Description
Carousal slideshow in <a href="https://jetpack.com/support/jetpack-blocks/slideshow-block/" rel="noopener" target="_blank">JetPack</a>  does not display on the site when Site Kit adds its admin bar integration.

Related topics:
https://wordpress.org/support/topic/slide-show-disappearing/
https://wordpress.org/support/topic/site-kit-conflicts-with-jetpack-blocks/

## Steps to rep

[2020-06-12 00:59] felixarntz commented on #1655
Fetching potentially only being a part of the resolver is actually another reason we can avoid the `isDoingGet*` selectors. Note that they are not the same as the `isFetching*` selectors - the latter are auto-generated and apply specifically to the fetch call, the first are manually added, and we've been probably slightly inconsistent there whether we make this about the resolver being resolved or

[2020-06-12 01:11] jqlee85 commented on #1649
@felixarntz @aaemnnosttv made a pass at the IB here. Let me know if you've got changes or if it needs a higher level of detail.

[2020-06-12 01:42] felixarntz commented on #1649
@jqlee85 This looks very solid, IB ✅

[2020-06-12 09:57] eugene-manuilov commented on #925
@felixarntz IB has been added. Does it look good to you or want me to change something there?

[2020-06-12 10:42] tofumatt commented on #1655
Oh, gosh, right. Fair point then—I clearly got the two selectors confused, which is really another reason we should ditch them. I forgot we had those separate to the `isFetching` ones. 😅

Also: marking the selectors as resolved in tests over using the "check for existing data" hack is definitely a 👍 from me. It's more idiomatic to how WP Data works and I think is probably less error-prone and manu

[2020-06-12 13:02] ShahAaron commented on #1426
Tested

Confirmed
* `INITIAL_STATE.reports = {}` - Confirmed added
* `state.reports` keyed by `${ strategy }::${ url }` - Confirmed added
* `selectors.getReport( url, strategy )` - Confirmed and returns correct value `state.reports[ ${ strategy }::${ url } ]`
* `resolvers.getReport()` added and calls `fetchGetReport` called when selector returns undefined - Confirmed added
* Control added which ca

[2020-06-12 13:32] mikelking opened #1669 "Add dashboard widget access permissions for all WordPress users"
## Feature Description
#### Problem:
Currently the various GSK data widgets only appear on the dashboard of the user who connected the site to the respective Google product.

#### Recommendation:
It would be extremely beneficial to have the ability as the site admin to allow others to see and possibly interact with these dashboard without having to setup more accounts in the actual Google product.

[2020-06-12 14:29] eugene-manuilov commented on #1661
AdSense still loads the whole legacy `dataAPI` module, because `util/index.js` loads whole `dataAPI` module just to get `get` function. Looks like we can also extract it into a spearate script and loaded from a separate file:

https://github.com/google/site-kit-wp/blob/c776b09354e40612462c88fa6128e6878c24f172/assets/js/modules/adsense/util/index.js#L29
https://github.com/google/site-kit-wp/blob/c7

[2020-06-12 15:04] eugene-manuilov commented on #1661
@felixarntz do we need to rework it in the scope of this task or we need to create a new ticket and rework `get` function later?

[2020-06-12 15:37] felixarntz commented on #1655
I've added my suggested ACs for that based on what you said above; lmk what you think - I believe there's value in simplifying this common pattern of calling `receiveGet*` and also marking resolution as finished, so I'm suggesting to enhance `createFetchStore`.

With the ACs, code would basically turn from
[code]
into
[code]

[2020-06-12 15:48] felixarntz commented on #1661
@eugene-manuilov Ah right, good point. Let's ignore that here though as it would involve some more work. We can look into it separately, long-term the `dataAPI` usage will be phased out anyway.

[2020-06-12 20:06] aaemnnosttv commented on #925
Can we put the file in `/bin`? I don't think it really belongs in the root unless there is a reason why it must be there.

[2020-06-13 00:52] ernee commented on #1637
Additional reports in the forum:
https://wordpress.org/support/topic/site-kit-and-woocommerce/
https://wordpress.org/support/topic/woocommerce-analytics-fails-to-load-with-sitekit-active-js-error/

[2020-06-13 00:52] felixarntz commented on #1649
@jqlee85 This is now unblocked as #1662 has been merged to `develop`.

[2020-06-13 01:22] ernee commented on #1646
update: user had a different URL registered on the proxy. Confirming details with user. Resetting the plugin solved it for this user and another user who reported in the same topic.

[2020-06-14 17:32] ngxson commented on #1669
I reported the same issue one month ago, but they completely ignored it: https://github.com/google/site-kit-wp/issues/1568

[2020-06-14 17:34] ngxson commented on #852
+1

I really need this feature. On my site, one one admin can use site kit and that's very painful. I mentioned this issue on https://github.com/google/site-kit-wp/issues/1568 but they seem to ignore that.

[2020-06-15 02:02] drawcard commented on #276
Is multisite working? I can't see the script loading at all, even if it's checked to load in the settings page.

[2020-06-15 02:17] drawcard opened #1673 "Google Analytics snippet not inserted on multisite install"
## Bug Description

I have a multisite with two sub-sites, and I have Google Site Kit running on them (Version 1.9.0). The plugin is not network activated, but is instead activated on each sub-site via their plugin manager.

The option to place the GA snippet is checked on the settings page on each sub-site, however the snippet is not being injected on the sub-sites source code.

I also tested thi

[2020-06-15 04:04] phamquyhai opened #1674 "Analytics Setup error: value is required."
## Bug Description

When first setup Analytics
get error

[code]

## Steps to reproduce

1. Settings
2. Analytics
3. Click 'continue module setup'
4. Get error: `value is required.`

## Screenshots

<img width="1253" alt="Screen Shot 2020-06-15 at 11 03 22" src="https://user-images.githubusercontent.com/1430683/84617026-f17ede00-aef7-11ea-859c-8442e005a8a2.png">

[2020-06-15 08:14] aaemnnosttv commented on #1605
IB ✅

It looks like fixing this part is a very simple fix that we can include here.

[2020-06-15 08:58] eugene-manuilov commented on #925
We have `scoper.inc.php` in the root folder. It is a helper script that we use to update php dependency namespaces, right? I followed the same logic for `check-commit-msg.php` file.

It doesn't belong to executable files either... We can probably create another folder for this kind of scripts and call it something like `helpers` or `utils`... What do you think @aaemnnosttv and @felixarntz ?

[2020-06-15 09:01] eugene-manuilov commented on #1661
Sounds good, @felixarntz. Moving it to the Approval column.

[2020-06-15 09:15] eugene-manuilov commented on #1477
QA :heavy_check_mark:

[2020-06-15 09:19] aaemnnosttv commented on #925
That's little bit different as it's not so much of a helper script as it is a configuration file for php-scoper. Config files are okay to be in the root, but this one is possible to relocate so it perhaps shouldn't be in the root either 🙂

I think perhaps this directory is being used in a non-standard way as it is as I don't think the WP CLI command classes or `local-env` really belong there, wher

[2020-06-15 09:32] eugene-manuilov commented on #1620
QA :heavy_check_mark:

[2020-06-15 10:07] jamesozzie commented on #1669
@mikelking Thanks for your suggestion and providing additional context. As we already have an open GitHub issue (#852) in relation to access for non administrators I'll close this as a duplicate. Feel free to add any suggestions or additions to that issue.

@ngxson Apologies for the lack of response. I can see you've added you comments to the original issue, many thanks for your input.

[2020-06-15 10:07] #1669 closed

[2020-06-15 10:07] eugene-manuilov commented on #1507
QA :heavy_check_mark:

[2020-06-15 10:10] jamesozzie commented on #1568
@ngxson Apologies for the lack of response. As we already have #852 open I'll close this issue as a duplicate. Feel free to add any additional information to that issue.

[2020-06-15 10:10] #1568 closed

[2020-06-15 11:35] javierlorente commented on #1520
It's solved?

[2020-06-15 12:25] jamesozzie commented on #1520
@javierlorente Setup should proceed fine with WPML, with more information on #1116. If you do encounter any issues feel free to create a new WordPresss support topic, while sharing your additional context such as your [Site Health information](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/), within the topic or using [this form](https://docs.google.com/forms/d/1lhjns

[2020-06-15 13:15] jamesozzie commented on #1674
@KaKaVip So we can troubleshoot this issue further can you provide the following information:
1. Your [Site Health information](https://i.imgur.com/Rtkmsba.png)
2. Any [console errors](https://imgur.com/KyLAzgH) that appear on the screen with the error

[2020-06-15 17:08] eugene-manuilov commented on #1356
After working on npm dependencies I stuck with a weird issue that blocked everything. I can't troubleshoot it too much because the error message is very vague and it looks like the issue happens inside of @wordpress/data package.

I would be grateful if @tofumatt or anyone from the team can look at it too. The latest commint in my branch (`enhancement/1356-upgrade-dependencies`) that works for me

[2020-06-15 17:25] felixarntz opened #1677 "Integrate WP CLI scripts into regular PHP class file structure"
## Feature Description

Currently our WP CLI commands are found in the `bin` directory, which is a bit odd (see https://github.com/google/site-kit-wp/issues/925#issuecomment-644010561). Let's move them into our regular class infrastructure within the `includes` directory.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accep

[2020-06-15 17:27] felixarntz commented on #925
@aaemnnosttv @eugene-manuilov I just opened #1677 to move the WP CLI commands out of the `bin` directory, it's ready for IB review. I think with this, we can then put the new commit lint script into `bin`.

[2020-06-15 17:39] felixarntz commented on #1674
@tofumatt Could you have a look at this? Since we have the component where it occurs, _may_ be straightforward to see what's going wrong here.

[2020-06-15 17:44] felixarntz commented on #1666
@adamsilverstein Have you been able to replicate this yourself? Curious how it happens, we should be checking this at all times during setup - except if the user already has completed account and site setup, see https://github.com/google/site-kit-wp/blob/1.9.0/assets/js/modules/adsense/setup/setup-main.js#L349. I wonder whether they had completed it before at some time and then disconnected the mo

[2020-06-15 17:47] ernee commented on #1632
@sasa-friedrich-bitlab @rubizamora thanks for reporting! We're currently looking into this issue and will follow up when we have more information.

[2020-06-15 17:51] eugene-manuilov commented on #925
Thanks @felixarntz! IB is updated to use /bin folder for the script.

[2020-06-15 18:06] felixarntz commented on #1280
@adamsilverstein

Hmm, this doesn't look right - the third parameter should be an `$offset`, not an actual date range. Can you look at adjusting that?

Other than that, sounds good, let's address the user-specific percentage separately, that should be a similar fix like how we adjusted the absolute number for the user count before. Can you open an issue for that to follow up?

[2020-06-15 19:39] adamsilverstein commented on #1280
Corrected IB, left off part of the code before.

Will create a follow up issue as well.

[2020-06-15 19:59] ernee commented on #1674
similar error seen in #1651

[2020-06-15 20:28] aaemnnosttv commented on #1677
IB ✅

[2020-06-16 01:07] felixarntz opened #1678 "Add grid logic and additional styles for widgets and widget areas"
## Feature Description

While #1300 includes minimal styling for widget areas and widgets, there's quite a bit more that needs to be done, specifically to make the dynamic grid work as intended.

Every widget is registered with a width of `full`, `half` or `quarter`, and they should be organized within their widget area in a grid that accounts for this registration argument, while also optimizing

[2020-06-16 02:18] KaKaVip commented on #1674
@jamesozzie

1. My Site Health information
[code]

2. console errors
![Screen Shot 2020-06-16 at 09 17 21](https://user-images.githubusercontent.com/1430683/84724406-4e3ecf00-afb2-11ea-8bc1-08fa136727c8.png)

[2020-06-16 05:43] cole10up commented on #1639
**Tested**

Installed SK with users that have different roles, Admin, Subscriber, Author, Editor and Contributor.

Confirmed Admin role was able to install and utilize SK properly.

Downloaded User Role Editor and adjusted roles with the plugin. Ran a test and confirmed users still able to setup SK with the proxy properly.

Passed QA ✅

[2020-06-16 06:00] cole10up commented on #1629
**Tested**

Installed and activated latest SK. Setup with tracking.

Ran a series of tests activating all modules and disconnecting all modules.

Noticed page speed insights is looking a bit off (seems unrelated), sent a slack to the team:
![image](https://user-images.githubusercontent.com/57115907/84736973-d5148d00-af5b-11ea-9794-cba47e1bbb6d.png)

![image](https://user-images.githubusercontent.c

[2020-06-16 12:48] aaemnnosttv commented on #1280
@felixarntz @adamsilverstein @ryanwelcher

Maybe we should override `Module::parse_date_range` in the `Analytics` class to account for this special case instead rather than in a specific datapoint or does the inconsistency only affect the report requests/API?

Is that not what these are for?
* [`assets/js/modules/analytics/util/calculateOverviewData.test.js`](https://github.com/google/site-kit-wp/

[2020-06-16 15:33] cole10up commented on #1255
**Tested**

From a terminal session I ran the following tests:
tests/e2e/specs/amp/admin-bar.test.js
![image](https://user-images.githubusercontent.com/57115907/84793827-690d4580-afaa-11ea-8989-a019f5dc359b.png)

tests/e2e/specs/amp/home-validation.test.js
![image](https://user-images.githubusercontent.com/57115907/84793667-40854b80-afaa-11ea-90b4-ef83d419504d.png)

tests/e2e/specs/modules/analyti

[2020-06-16 17:17] tofumatt commented on #1678
Looks good. It's a bit difficult to follow the logic of what the grid code should be doing from the IB, but I think that's because it's harder to explain this sort of thing in words than code. The general approach makes sense though 👍

I'm only confused by this part, which I suspect is a typo:

Those classes are the same, so I'm a bit confused as to what we're replacing here 🙂

From the ACs, the a

[2020-06-16 17:36] felixarntz commented on #1638
@ernee This is a bug in WooCommerce - they're manually re-running the `rest_api_init` action without passing the mandatory first parameter, see https://github.com/woocommerce/woocommerce-admin/blob/v1.2.4/src/ReportCSVExporter.php#L125. I have opened an issue on their end to address this: https://github.com/woocommerce/woocommerce-admin/issues/4604

Let's keep an eye out on that issue - there's no

[2020-06-16 17:36] #1638 closed

[2020-06-16 17:45] felixarntz commented on #1678
@tofumatt Oh that was indeed just a copy paste oversight, your assumption of what it should mean is right. I've updated it accordingly, moving to execution backlog.

[2020-06-16 18:24] ernee commented on #1642
@Kali-Gula thanks for reporting! Could you open [a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in the [Site Kit WordPress support forum](https://wordpress.org/support/plugin/google-site-kit/)? We can assist you further there. Thank you!

[2020-06-16 18:24] #1642 closed

[2020-06-16 18:29] ernee commented on #1673
@drawcard thanks for reaching out! We provide support via the [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/). Could you open[ a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there so we can troubleshoot further? Thanks so much.

[2020-06-16 18:29] #1673 closed

[2020-06-16 19:39] adamsilverstein commented on #1280
Right, that was my intention in stating the code change should be in `Analytics.php:create_data_request` - did you mean somewhere else?

Thank you for pointing to those tests. (I'm not sure who added that part of the IB) I guess if the code change affects those tests we will need to adjust them to suit?

Adding an estimate for the date range code change.

[2020-06-16 20:24] adamsilverstein opened #1681 "Analytics user and user percent change should match Analytics dashboard"
## Bug Description

When viewing the Analytics data in Site Kit, the number shown for user change percent should match the number shown in the Google Analytics Dashboard for all reporting periods. Currently all numbers match **except** user change percent.

Previously discussed in https://github.com/google/site-kit-wp/issues/1280

## Steps to reproduce

1. Set up Analytics in Site Kit.
2. Compare

[2020-06-16 20:27] adamsilverstein commented on #1280
@felixarntz I created a follow up Issue for the user percent change and added a few screenshots with my fixes here showing all numbers correct except user percent change: https://github.com/google/site-kit-wp/issues/1681

[2020-06-16 21:58] felixarntz commented on #1280
@adamsilverstein Sounds good. Regarding the approach in the IB, two follow-up questions:
* It seems weird to only do this for 90 days - do we not have that same gap for 14 days etc? The parsing logic should be the same for all of them, so why is it different for 90 days?
* Does this only apply to Analytics? What about 90 days of data for e.g. Search Console, AdSense etc.?

[2020-06-17 01:37] bystephanieerin commented on #1632
I am coming across this same issue with my WP site.

[2020-06-17 06:07] cole10up commented on #1288
**Tested**

Installed lates SK, activated and activated all modules.

![image](https://user-images.githubusercontent.com/57115907/84861276-86332a00-b025-11ea-81b3-a9e3aee3559b.png)

Within each module confirmed functionality:

Analytics - Adjusted date ranges, searched for metrics, changed properties
Adsense - Confirmed earnings
Page Speed Insights - Ran diagnostics
Tag Manager - Successfully inst

[2020-06-17 06:18] cole10up commented on #1650
**Tested**

Installed AMP plugin and latest SK installed multiple modules.

Adjusted AMP settings from:

Standard, Transitional and Reader

![image](https://user-images.githubusercontent.com/57115907/84862138-79173a80-b027-11ea-8340-1119f2ea8ad8.png)

Navigated to wp-login
![image](https://user-images.githubusercontent.com/57115907/84862195-921feb80-b027-11ea-9592-f53e089eaad3.png)

Logged in succ

[2020-06-17 07:08] brandomeniconi opened #1682 "Plugin setup stuck in a loop (without any error notice)"
## Bug Description
SiteKit can't complete setup because it's continuously redirects to the splash page after the OAuth2 flow, without any error or warning (see gif).

## Steps to reproduce

1. Go to WP-Admin > SiteKit > Dashboard
2. Click on "Start Setup"
3. Complete the OAuth2 connection flow
4. The sitekit's website redirects to the WP site to confirm the setup, but WP redirects back to the site

[2020-06-17 10:21] eugene-manuilov commented on #1503
QA :heavy_check_mark:

[2020-06-17 10:32] jamesozzie commented on #1682
@brandomeniconi Thanks for reporting and providing the additional context. Initial support requests can be submitted using the plugins [WordPress support forum](https://wordpress.org/support/plugin/google-site-kit/#new-post).

When creating a post if you can share your [Site Health information](https://i.imgur.com/Rtkmsba.png) within the post we may be able to troubleshoot or determine the cause.

[2020-06-17 10:32] #1682 closed

[2020-06-17 12:20] ahegyes commented on #1674
I've been having the exact same error for the past month or so. I'll paste the Site Health info here in case it will be useful to debug the issue:

`
### wp-core ###

version: 5.4.2
site_language: de_DE
user_language: de_DE
timezone: Europe/Berlin
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 70
dotorg_communication: true

[2020-06-17 15:36] cole10up commented on #1380
**Tested**

Built a feature/ga-gtm-separation zip

Installed SK and activated.

Notice dashboard shows Tag Manager separate and available to install outside of Analytics:
![image](https://user-images.githubusercontent.com/57115907/84916356-d5ec1280-b072-11ea-9c14-22878222298b.png)

Checked alignment of the icons:
![image](https://user-images.githubusercontent.com/57115907/84917307-fff20480-b073-11

[2020-06-17 15:36] eugene-manuilov commented on #1559
Overall, everything looks good. Found a few minor things:

1. There is a new redundancy introduced in the PR for this ticket. The `createInfoStore` store has `getAdminReauthURL` selector that calls `select( CORE_USER ).getAuthentication()` to determine whether or not user needs reauthenticaion:

    https://github.com/google/site-kit-wp/blob/de1f620e2bf88b0d47b86fc057ef21dd51003181/assets/js/googl

[2020-06-17 16:04] eugene-manuilov commented on #1653
QA :heavy_check_mark:

[2020-06-17 16:53] felixarntz commented on #1559
@ShahAaron @eugene-manuilov Good catch, can you address point 1. specifically?

Point 2. was maybe due to a slightly unclear ACs, the dashboard CTA you're referring to is technically not a refactored component, so we don't need to update that yet. No harm in doing that, but I'd rather not make this change now this late in the release cycle.

[2020-06-17 19:22] tofumatt opened #1684 "Don't force links to open in a new tab (Remove target=_blank from links)"
## Feature Description

We currently have a lot of links that open in new windows/tabs by default. An example: https://github.com/google/site-kit-wp/pull/1679#discussion_r441506247

Opening links in a new tab/window presents accessibility and usability problems. My main issue with it is that it removes user choice in how a link should be handled; I can choose to open a normal link in a new window

[2020-06-17 20:47] felixarntz opened #1687 "GitHub actions fail around checking out wiki repository"
## Bug Description

See #1685.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Checking out the wiki repository should fail.

## Implementation Brief

* Pass `master` branch name explicitly so that action logic to determine default branch (which is broken for wiki repositories) does not trigger.

## QA

[2020-06-17 20:57] #1687 closed

[2020-06-18 04:22] cole10up commented on #1649
**Tested**

Installed release candidate zip, activated SK and PSI

Noticed:
![image](https://user-images.githubusercontent.com/57115907/84977762-09b15180-b0e0-11ea-9889-fbbac78ad272.png)

- **After activation and setup, defaults to mobile metrics.**
- **Missing periods after copy explanations**
- **Cumulative Layout Shift is missing 'ms' or 's' identifier next to the metric**

Passed desktop view

[2020-06-18 05:13] jqlee85 commented on #1649
@cole10up thanks for the testing. Regarding the those points:

 * I believe the default is meant to be mobile, is that correct @marrrmarrr ?
 * Using the mocks as reference, I think these are meant to remain without periods.
 * Cumulative Layout Shift is a fraction, not a measure of time, so it shouldn't have any units.

[2020-06-18 07:18] aaemnnosttv commented on #1605
CR ✅

Assigning to @felixarntz to decide whether or not to include this in the release.

[2020-06-18 07:20] aaemnnosttv commented on #1649
@cole10up - to follow up on what @jqlee85 said

The default should be mobile. I thought this was in the ACs but apparently it is only in the IB for https://github.com/google/site-kit-wp/issues/1636 which is the issue that handled all of the behavior for the component (this one is just about matching the UI/design).

Regarding the other two points, @jqlee85 is correct.

---

There is a typo to fix

[2020-06-18 08:33] aaemnnosttv commented on #925
IB looks good to me. The only thing I think we should change there is that if `check-commit-msg` is an executable script with a php shebang, it doesn't need to have a `php` file extension. It can simply be an executable file with no extension, such as [`composer`](https://github.com/composer/composer/blob/master/bin/composer) or [`phpunit`](https://github.com/sebastianbergmann/phpunit/blob/master/

[2020-06-18 08:34] cole10up commented on #1636
**Tested**

Installed and activated latest SK release candidate.

Adjusted my site's URL to https://web.dev

Activated PSI and validated creating a new page with the slug "supreme"

Confirmed PSI functioned properly

Passed QA ✅

[2020-06-18 08:35] aaemnnosttv opened #1689 "Release 1.10.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-06-18 08:54] cole10up commented on #1394
**Tested**

Installed and activated the latest release candidate, activated Analytics module:

Hovered over dotted line and blue line:
![image](https://user-images.githubusercontent.com/57115907/84999248-c2d65280-b105-11ea-8875-98eb82181078.png)

![image](https://user-images.githubusercontent.com/57115907/84999273-c964ca00-b105-11ea-8bc2-17e773c194d1.png)

Checked GA:

![image](https://user-images

[2020-06-18 09:13] cole10up commented on #1648
**Tested**

Installed latest SK release candidate and activated Analytics module.

Checked tracking for the following pages: Dashboard, module, splash and settings.

Checked admin bar:

![image](https://user-images.githubusercontent.com/57115907/85001829-02eb0480-b109-11ea-96ac-96c5ad79525a.png)

Checked WP dashboard:

![image](https://user-images.githubusercontent.com/57115907/85001972-2e6def00-b

[2020-06-18 11:50] eugene-manuilov commented on #1615
QA :heavy_check_mark:

[2020-06-18 12:33] tofumatt commented on #1637
IB ✅

[2020-06-18 13:15] tofumatt commented on #1637
Just assigning for merge, but code is reviewed and looks good.

[2020-06-18 14:03] ryanwelcher commented on #1651
@ernee I was able to reproduce this using the JSON in the example, however from what I've read in the [AMP analytics documentation](https://developers.google.com/analytics/devguides/collection/amp-analytics). I think that the issue may be that the `gtag_id` in the example contains a typo and is including a trailing `>` character.

When I remove that character, I no longer get the Site Kit error bu

[2020-06-18 14:59] ernee commented on #1651
@ryanwelcher you're right! When I correct the JSON, the error isn't thrown. Instead, I believe the expected result is the detection of the additional snippet in the Analytics settings:

<img width="1054" alt="AMP Analytics JSON SK detection" src="https://user-images.githubusercontent.com/8108643/85036922-90464d00-b139-11ea-8cfe-4a2f0f937f47.png">

[2020-06-18 15:26] aaemnnosttv opened #1691 "Default selected view can be empty if view doesn't exist"
## Bug Description

In #1404 we updated the logic in the Analytics setup and settings components to pre-select the default profile for a property if that property has a `defaultProfileId`.

This is a bit of an edge case, but if that profile is deleted, it will still be around for 30 days or so (GA refers to this as sending it to the "Trash Can"). While the deleted profile will not be returned by t

[2020-06-18 15:38] tofumatt commented on #1607
QA ✅

[2020-06-18 15:49] tofumatt commented on #1630
QA ✅

[2020-06-18 16:53] ryanwelcher commented on #1651
@ernee thank you for confirming! @felixarntz @aaemnnosttv do you think we should look into some better error handling for this case?

[2020-06-18 17:24] felixarntz commented on #1651
@ryanwelcher Yeah definitely, we shouldn't have this result in an uncaught error like this. I'll work with @marrrmarrr on updated ACs.

[2020-06-18 17:30] cole10up commented on #1649
**Retested**

While testing, noticed setting up PSI from the settings page, the user is directed to the dashboard where the page jumps to an odd spot.

![Site Kit by Google Settings ‹ Energetic Canid — WordPress](https://user-images.githubusercontent.com/57115907/85052965-a4487980-b14e-11ea-9512-73e1a753b0d4.gif)

Sending back to CR

[2020-06-18 17:38] cole10up commented on #1637
Moving this to approval per @ernee's retest

![image](https://user-images.githubusercontent.com/57115907/85053717-cc84a800-b14f-11ea-8c89-0e4fb710bfa8.png)

[2020-06-18 17:40] #1507 closed

[2020-06-18 17:40] #1620 closed

[2020-06-18 17:40] #1426 closed

[2020-06-18 17:40] #1557 closed

[2020-06-18 17:40] #1376 closed

[2020-06-18 17:41] #1491 closed

[2020-06-18 17:41] #1434 closed

[2020-06-18 17:41] #1477 closed

[2020-06-18 17:41] #1661 closed

[2020-06-18 17:41] #1639 closed

[2020-06-18 17:41] #1629 closed

[2020-06-18 17:41] #1255 closed

[2020-06-18 17:42] #1559 closed

[2020-06-18 17:42] #1648 closed

[2020-06-18 17:42] #1637 closed

[2020-06-18 17:42] #1630 closed

[2020-06-18 17:42] #1607 closed

[2020-06-18 22:39] #1636 closed

[2020-06-18 22:39] #532 closed

[2020-06-18 22:39] #1288 closed

[2020-06-18 22:39] #1650 closed

[2020-06-18 22:39] #1615 closed

[2020-06-18 22:39] #1394 closed

[2020-06-18 22:39] #1503 closed

[2020-06-18 22:43] cole10up commented on #1649
**Retested**

Verified setup auto scroll no longer occurs:

![Site Kit by Google Settings ‹ Energetic Canid — WordPress (2)](https://user-images.githubusercontent.com/57115907/85078913-66614a80-b17a-11ea-8f6f-e95172976e07.gif)

Checked functionality, typo fix, uninstalling and reinstalling.

Passed QA ✅

[2020-06-18 23:12] timnolte commented on #1548
I was really disappointed to see this issue is still not resolved in the latest release. And given the security issues that were fixed most recently it seems those security fixes were the cause. I can't roll back to an older version to even test since the plugin is blocked.

[2020-06-18 23:14] #1649 closed

[2020-06-18 23:14] #1653 closed

[2020-06-18 23:15] felixarntz commented on #1689
Release has technically been completed, but there are issues on .org: https://make.wordpress.org/plugins/2020/06/18/plugin-update-issues-18-june-2020/ We may need to do an extra commit later to make it see the changes, I keep following the updates there.

[2020-06-19 02:08] #1689 closed

[2020-06-19 06:54] herbie4 commented on #938
As this is still not resolved...
Here is a temporary fix to mask the version number. Just add this to wp-config.php

`// temp fix to hide Google site kit version number
define('GOOGLESITEKIT_VERSION', 'none');`

[2020-06-19 09:49] aaemnnosttv opened #1694 "E2E Redux debugging no longer working as expected"
## Bug Description

Due to recent changes to how assets are enqueued in E2E, the current `e2e-utilities.js` asset is being loaded too late to be loaded in time for the Redux logging to be connected. This has to be loaded before the data stores are registered.

The solution is to simply split the `e2e-utilities.js` into separate assets to be enqueued separately as it is the `api-fetch-data` depende

[2020-06-19 13:25] ryanwelcher commented on #1668
@LuckynaSan I am having difficulty reproducing this with Site Kit v1.10. Can you confirm that this is still an issue?

[2020-06-19 14:48] aaemnnosttv commented on #1548
@timnolte we haven't been able to consistently reproduce the issue yet. If you have any details that you could share to help resolve this faster, that would be great.

[2020-06-19 15:34] LuckynaSan commented on #1668
@ryanwelcher I tested that the slideshow carousal behaved as expected with Jetpack and Site Kit v1.10. installed. I am going to check with the user if this version is working correctly on their end as well and will follow up on this GitHub ticket. Thanks!

[2020-06-19 15:51] jamesozzie commented on #1474
More possible examples of unsuccessful Site Kit setups with users placing WordPress files in a "wp" folder. Awaiting further information from users:
- https://wordpress.org/support/topic/cannot-complete-steps-running-me-in-circles/
- https://wordpress.org/support/topic/plugin-setup-stuck-in-a-loop-without-any-error-notice/

I'll test the same setup myself also, following method 2 in [this guide](h

[2020-06-19 16:44] jamesozzie opened #1700 "Use hashes for all JS file names to avoid JS errors due to aggressive caching"
## Bug Description

Using version 1.10.0 there have been separate reports of the Site Kit dashboard displaying a blank page.

Console errors below:
[code]

WordPress support topics:
- https://wordpress.org/support/topic/sitekit-is-showing-blank-screen-after-server-migration/ (RESOLVED)
- https://wordpress.org/support/topic/blank-white-screen-23/  (RESOLVED)

Currently troubleshooting and awaiting

[2020-06-19 16:56] felixarntz commented on #1694
IB ✅

[2020-06-19 17:20] felixarntz commented on #1646
Let's look into how we can improve error messaging here anyway, the current behavior isn't very helpful.

[2020-06-19 17:37] felixarntz commented on #1646
@aaemnnosttv IB is ready for review, I'll work with @marrrmarrr in defining the exact messages.

[2020-06-19 18:23] jamesozzie opened #1701 "Blank dashboard - Update to 1.10.0 - Uncaught TypeError: Cannot read property ‘needReauthenticate’ of undefined"
## Bug Description

After upgrading to 1.10.0 the admin dashboard is blank, with the following console error

[code]

Site Health info:
[code]

WordPress support topic:
https://wordpress.org/support/topic/blank-white-screen-23

Another similar issue reported:
https://wordpress.org/support/topic/blank-screen-90

## Additional Context

- Similar to #1700 which also occurred with version 1.10.0
- Inc

[2020-06-20 06:40] kigechaedward commented on #1632
mine worked!
i just added https:// at the site link at account creation

[2020-06-20 14:13] icarnaghan commented on #1540
I've also had this same problem since I installed the module a month or so back. Subscribing for updates.

[2020-06-21 15:38] royrakesh opened #1702 "Dashboard not loading 403 error on console"
## Bug Description

After updating to Version 1.10.0  my Dashboard is not loading when searched for error in console log find that is getting 403 from wp-json rest api

## Steps to reproduce

1. Update to Version 1.10.0
2. Re Authenticate
3. Dashboard not loading
4. Open console in chrome see the error

## Screenshots
 1. http://prntscr.com/t3t5jn
 2. http://prntscr.com/t3t62u

## Additional Conte

[2020-06-21 15:50] royrakesh commented on #1702
Issue resolved

[2020-06-21 15:50] #1702 closed

[2020-06-22 06:00] codefix25 commented on #276
a must have feature
Some treat each subsite as a separate Google Analytics property but some use the same Google Analytics account (if subsites are categories example.com/subsite2/
Would be nice to have webmaster tools reporting for each subsite as well as globally.
Certainly global installation / management is critical.

[2020-06-22 11:05] lkraav opened #1703 "1.10.0: frontent webfont configuration interferes with site font configuration"
## Bug Description

Our UI library enqueues `'sans-serif' => 'Roboto:300,300i,400,400i,700,700i,900'`

This plugin adds hardcoded Roboto:500, which matches some of our upstream vendor components styling in an unintended fashion.

https://github.com/google/site-kit-wp/blob/8ffa689fd0f30d5ed83642c029cfcb89eb26ad32/includes/Core/Assets/Assets.php#L176-L179

## Steps to reproduce

:point_up:

## Solut

[2020-06-22 11:38] jamesozzie opened #1704 "Blank dashboard - Update to 1.10.0 - Cannot read property 'createModuleStore' of undefined"
## Bug Description

Since updating to version 1.10.0 a user encounters a blank dashboard with the following console error:
`Uncaught TypeError: Cannot read property 'createModuleStore' of undefined`

Original support topic: https://wordpress.org/support/topic/blank-screen-90

Possibly related to #1335

Site Health info:
[code]

Console error
[code]

## Additional Context

 - More information, incl

[2020-06-22 11:54] jamesozzie commented on #1701
New dashboard error (no longer blank screen) after revoking access and reinstalling Site Kit, see [WP support topic](https://wordpress.org/support/topic/blank-white-screen-23/) for more info:
[code]

[2020-06-22 12:34] aaemnnosttv commented on #1553
@ryanwelcher would you please take a look at this one when you get a chance?

[2020-06-22 13:15] aaemnnosttv commented on #1474
Unable to reproduce this myself with a fresh Bedrock install on an unverified domain. Verification works as expected, nothing out of the ordinary. Tried it again after verifying and set up worked again. As reported it works fine for them in some cases too, so it would be good to get the full Site Health info for a site where it's failing.

[2020-06-22 16:35] LuckynaSan commented on #1668
@ryanwelcher The user confirmed this is no longer an issue. I will close this ticket. Thank you!

[2020-06-22 16:35] #1668 closed

[2020-06-22 21:52] MattGeri commented on #1548
@aaemnnosttv What specific details would you like? Happy to share what I can as I'm having the same issue on 2 sites (reported it on the WordPress.org forums).

I've got the plugin working on ~5 sites, the 2 sites that it is not working on are both Analytics accounts that were transferred from a previous owner. Permissions have been set to exactly the same as the 5 sites that are working.

My sugg

[2020-06-22 23:16] ernee commented on #1523
another report: https://wordpress.org/support/topic/plugin-setup-stuck-in-a-loop-without-any-error-notice/

(Site Health sent via form)

[2020-06-23 09:39] aaemnnosttv commented on #1548
Hi @MattGeri - thanks for the details!

Here's what I've done to try to reproduce your case:
* Created a new Analytics account in Google Account A
* Granted full permissions to new account to Google Account B
* Confirmed that Site Kit works with new Analytics account using Google Account B
* Disconnected Analytics in Site Kit
* Removed Google Account A from new Analytics account
* Reconnected Anal

[2020-06-23 10:06] timnolte commented on #1548
@aaemnnosttv I have the same situation as @MattGeri however, I can confirm that many accounts that I'm using with SiteKit had also been transferred but some work and some don't. Were there any changes to the permissions required from a Google account during that last security release of the plugin? I'm not sure what more details I could provide. It's possible this could be a plugin conflict of som

[2020-06-23 10:38] jamesozzie commented on #1474
Setup proceeded when testing both suggested methods (Site Kit 1.10.0), new Site Kit setup with files in a wp directory.

Initial support topic also resolved, with user successfully connected.

[2020-06-23 10:38] #1474 closed

[2020-06-23 11:04] MattGeri commented on #1548
@aaemnnosttv I've done some digging and found what I believe to be the issue. On the account which I am trying to connect and am getting the permission error, I have an old profile for the site which I have deleted. The Sitekit plugin is pulling the old sites Account, Property and Profile ID's but is displaying the new sites details when it makes the `/wp-json/google-site-kit/v1/modules/analytics/

[2020-06-23 12:26] aaemnnosttv commented on #1548
Thanks for sharing @MattGeri - this is very helpful. It seems that this problem is specific to properties which have been transferred between accounts. Can you confirm that this is the case for the sites where you're having a problem?

[2020-06-23 12:31] MattGeri commented on #1548
@aaemnnosttv Actually, scratch my last message, the account details coming through are correct. But overall yes, _my_ issue is only with properties that have been transferred from one account to another. I'll do some more digging by intercepting the request to the Google API and see what I can find.

What I know so far is the `/wp-json/google-site-kit/v1/modules/analytics/data/accounts-properties-

[2020-06-23 13:01] jamesozzie commented on #1548
@aaemnnosttv Some additional context on the same reported issue within [another WordPress topic](https://wordpress.org/support/topic/existing-analytics-tag-but-cant-connect/#post-13020379).

For this user the issue occurred after modifying ownership of the property, with the user providing their change history and additional screenshots. Troubleshoot ongoing.

[2020-06-23 13:07] aaemnnosttv commented on #1548
@MattGeri thanks for your help. I was able to reproduce this and can see what the problem is now. As for now, you won't be able to complete the set up via the UI unfortunately. In the meantime, I'll see what we can do about a temporary workaround.

[2020-06-23 13:26] aaemnnosttv opened #1707 "Analytics does not support set up with moved properties"
## Bug Description

Google Analytics supports transferring ownership of an Analytics Property and its views to another account (see [Move a property](https://support.google.com/analytics/answer/6370521?hl=en)).

When this happens, the property is moved to the destination account but its property ID remains unchanged. In https://github.com/google/site-kit-wp/issues/1402 we simplified our internal A

[2020-06-23 13:48] timnolte commented on #1548
OK, so this was essentially broken a few releases ago, this would explain why the problem seemed to have just started. A large portion of the sites I manage have had GA ownership changes.

[2020-06-23 14:08] Thornr commented on #1632
I'm having the same issue. Tried https://.

[2020-06-23 15:35] felixarntz commented on #1707
IB ✅

One thing to add: Profiles should also be keyed by `${ accountID }::${ propertyID }` again in the datastore.

[2020-06-23 15:49] felixarntz commented on #1632
IB ✅

[2020-06-23 15:54] felixarntz commented on #1548
This will be fixed via #1707.

[2020-06-23 17:39] tofumatt commented on #925
This works as expected, very cool! QA ✅
<img width="465" alt="Screenshot 2020-06-23 at 18 39 19" src="https://user-images.githubusercontent.com/90871/85436367-dc055600-b580-11ea-8d0c-f191b61cdf6e.png">
<img width="707" alt="Screenshot 2020-06-23 at 18 38 13" src="https://user-images.githubusercontent.com/90871/85436288-b5dfb600-b580-11ea-8347-852719ec2412.png">

I noticed we don't set a limit on c

[2020-06-23 19:24] felixarntz opened #1709 "Do not rely on AdSense account IDs being inferable from client IDs"
## Feature Description

Similar to how Analytics account IDs can usually be infered from property IDs, AdSense account IDs can usually be infered from client IDs. However, in both of these cases, the Google API is built requiring both IDs to be specified explicitly. We initially went a maybe too "clever" approach by relying on this, which is now surfacing in #1707 (Analytics properties can be move

[2020-06-23 19:55] felixarntz commented on #1707
@aaemnnosttv I've added a small extra segment to the IB, under the "More specifically" section for `GET:tag-permission`: TLDR we should have the property detection method now also return the detected account ID, since it is no longer necessarily the parsed one. See #1709 for the same change in AdSense. This brings it more in line with the JS datastore code too, and the `GET:tag-permission` code it

[2020-06-24 06:58] cole10up commented on #716
**Tested**

Installed latest develop SK, setup Analytics module. Navigating to setup and selecting 'New View'

Notice:
![image](https://user-images.githubusercontent.com/57115907/85510383-19cba400-b5ac-11ea-824b-262ce9f5f82e.png)

Clicking confirm prompts:
![image](https://user-images.githubusercontent.com/57115907/85510452-3071fb00-b5ac-11ea-9878-b3c011230897.png)

Ran through confirmation which

[2020-06-24 07:18] cole10up commented on #1605
**Tested**

Installed lated develop SK along with AMP, generated Optimize container ID and JSON

Notice:
![image](https://user-images.githubusercontent.com/57115907/85512660-feae6380-b5ae-11ea-8331-31a78bda8b6c.png)

![Site Kit by Google Settings ‹ Key Cougar — WordPress](https://user-images.githubusercontent.com/57115907/85513122-8a27f480-b5af-11ea-8ff0-c0c71c3a2ce6.gif)

Looking good on my end,

[2020-06-24 07:24] aaemnnosttv commented on #716
Good catch @cole10up -

In this case I think we should change the default used by the account provisioning screen as the default name for a new view is consistent with what is in place here:
![image](https://user-images.githubusercontent.com/1621608/85514173-6fcc3600-b604-11ea-829d-6cee0a4ba999.png)

@marrrmarrr is it okay for us to change the default view name used on the new Analytics create acc

[2020-06-24 07:27] aaemnnosttv commented on #1709
IB ✅

[2020-06-24 08:05] aaemnnosttv opened #1710 "E2E Tests for WP nightly consistently fail"
## Bug Description

Our E2E test job which runs on the nightly/trunk version of WordPress consistently fails with the same error (a timeout in the Search Console date range test).

This job is allowed to fail as it is running on a pre-release version of WordPress but the purpose of this job is also to address failures before the upcoming release if there are breaking changes to be addressed.

Exam

[2020-06-24 14:50] felixarntz commented on #716
@aaemnnosttv Just talked to @marrrmarrr, let's make the change.

[2020-06-24 15:11] aaemnnosttv commented on #716
@felixarntz just to clarify, we're changing the default used in the account creation form, correct?

[2020-06-24 15:36] felixarntz commented on #716
@aaemnnosttv Yep 👍

[2020-06-25 09:11] djovanov opened #1712 "Show daily graph of page views per specific single URL view"
## Feature Description

Hello,

It is great if the plugin have a feature like Monster Insight to show the last 30 days (or can chose less or more) google analytics page views graph on each post and on the wordpress post list. Like this : https://www.monsterinsights.com/addon/page-insights/

Thanks

---------------

_Do not alter or remove anything below. The following sections will be managed by m

[2020-06-25 09:50] jamesozzie commented on #1674
Another reported issue: https://wordpress.org/support/topic/site-kit-encountered-an-error-4

[2020-06-25 14:51] ShahAaron commented on #1677
Tested

Pulled branch and setup locally. Insured site functions as expected.

- `bin/authentication-cli.php` to `includes/Core/CLI/Authentication_CLI_Command.php` - confirmed
- `bin/reset-cli.php` to `includes/Core/CLI/Reset_CLI_Command.php` - confirmed

[2020-06-25 15:47] ShahAaron commented on #1610
Tested

Pulled branch and setup locally. Insured site functions as expected.
All tests run locally

- New `hasScope( scope: string )` registry selector added to `core/user` datastore in `assets/js/googlesitekit/datastore/user/authentication.js` - confirmed
- returns `({boolean|undefined})` based on if granted scopes have been loaded - confirmed
- Jest test added for `hasScope` selector
- `assets/j

[2020-06-25 16:02] #1377 closed

[2020-06-25 16:02] #1235 closed

[2020-06-25 16:14] jamesozzie commented on #1704
Dashboards load as intended using a browser incognito window with performance optimization plugin deactivated. Troubleshooting ongoing.

[2020-06-25 16:23] jamesozzie commented on #1700
Clearing their browsers cache resolved this issue for original poster.

For those impacted please try clearing your browsers cache or try viewing your dashboards from a Chrome browser incognito window.

[2020-06-25 22:53] felixarntz commented on #1678
@tofumatt IB updates sound good ✅

[2020-06-25 22:58] sonjaleix opened #1714 "Improve messaging to connect versus configure Site Kit for site admins who have not originally done the Site Kit configuration"
## Bug Description
I'm one of multiple admins on a Newspack site using Site Kit. The other admin has originally configured Site Kit and connected it to the Newspack site. When I now go to the Site Kit UI in the backend of WordPress, the messaging seems to indicate that Site Kit has not yet been set up – when in fact what I need to do is connect with my Google account to the site (this doesn't feel

[2020-06-29 07:48] jeremycanales01 opened #1716 "Bug report"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2020-06-29 08:36] aaemnnosttv commented on #1666
The IB looks good to me regarding the current AC. However, if an ad blocker is causing API requests to fail for regular AdSense requests, the warning should probably always be shown (even outside of setup). The only reason dashboard requests wouldn't be blocked is because they're made using the batch request endpoint so the URL doesn't have `adsense` in it. I would imagine this would also cause si

[2020-06-29 11:10] aaemnnosttv opened #1717 "Internal GA tracking not loading when opted-in"
## Bug Description

In https://github.com/google/site-kit-wp/issues/1648 we updated the logic used to restrict which screens our internal event tracking would be automatically loaded on if the user was opted-in (it would still never be loaded automatically without this). However, Analytics is no longer loaded at all due to a flaw in the the logic used on the `$hook_suffix` to qualify the screen; e

[2020-06-29 13:14] jamesozzie opened #1719 "Analytics traffic sources chart and table should match Analytics-> acquisition -> overview"
## Bug Description

Related to https://github.com/google/site-kit-wp/issues/1554.

As reported in WordPress support forums CPC traffic is listed twice in the Analytics dashboard

Site Kit dashboard
![image](https://user-images.githubusercontent.com/41326532/86009694-6aab2480-ba12-11ea-92e6-37f54a70e785.png)

Analytics dashboard
![image](https://user-images.githubusercontent.com/41326532/86108114-a

[2020-06-29 13:19] adamsilverstein commented on #1282
@ernee Reviewing the support ticket I am guessing this issue is resolved. Closing for now, if there is still an issue, please feel free to re-open.

[2020-06-29 13:19] #1282 closed

[2020-06-29 13:22] adamsilverstein commented on #1567
@ernee Closing this as resolved. Please feel free to re-open if this is still an issue.

[2020-06-29 13:26] adamsilverstein commented on #85
@lucymtc  Closing this as resolved, please feel free to re-open if this is still an issue.

[2020-06-29 13:26] #85 closed

[2020-06-29 13:50] jamesozzie commented on #1716
@jeremycanales01 Please provide more information on this issue and we can hopefully assist.

[2020-06-29 13:53] adamsilverstein commented on #1280
It is **weird**! Only 90 day reports are affected. This is essentially a bug in the Analytics homepage - which I can file separately. The reporting dates used when you select 90 days includes the gap. other periods do not. How do I know this? By verifying that the numbers reported by site kit exactly match those in Analytics.

I'll add a line to the IB to specify that the code should be documented

[2020-06-29 14:03] abazeed opened #1720 "YouTube Integration"
## Feature Description

Integrating YouTube into your plugin will be a great addition. Current plugins that allow users to upload videos directly to YouTube are buggy and poor of features.

It would be beneficial to allow users to:

- Upload videos directly to YouTube channels.
- Edit video details after uploading the video to YouTube.
- Control the thumbnail image of the video.
- Embed YouTube vi

[2020-06-29 14:13] ryanwelcher commented on #925
@felixarntz I ran into an issue with this when merging changes from `develop` into my local. The commit message that is auto-generated by git does not contain a `.` at the end and so the merge is not completed:
<img width="541" alt="ryanwelcher_Ryans-MBP____wp-local-docker-sites_googlekitlocal-10uplabs-com_wordpress_wp-content_plugins_google-site-kit" src="https://user-images.githubusercontent.com

[2020-06-29 16:01] aaemnnosttv commented on #1280
@adamsilverstein should we really be re-implementing a bug on the service just for consistency with one date range? As soon as the bug is fixed on the service, Site Kit would be inconsistent again 😄  We would then fix that in the next release but it seems like something we might be better off leaving alone.

[2020-06-29 18:34] felixarntz commented on #925
Let's open a PR against this issue to address it, no need for a separate issue. 👍

[2020-06-29 19:21] felixarntz commented on #1549
@adamsilverstein I added some ACs, let me know whether that makes sense for you. I omitted the request to `sitekit.withgoogle.com` for now since I wasn't sure why we need it, can you clarify? Did we have issues with the site itself being blocked anywhere? I've been under the impression it had only been AMP and Google service APIs.

[2020-06-29 19:32] felixarntz commented on #1666
@aaemnnosttv Let's keep the detection notice in the dashboard for a separate issue if it becomes a problem. Regarding settings, as far as I can see, we don't actually request AdSense API data there, so there it shouldn't be an issue.

[2020-06-29 19:49] aaemnnosttv commented on #925
Assigning this one back to @eugene-manuilov for the follow-up.

@eugene-manuilov we want to allow for merge commits as these don't adhere to our general rules for commit messages, but that's okay for this case.

[2020-06-29 19:51] aaemnnosttv commented on #1666
IB ✅

[2020-06-29 20:00] felixarntz commented on #1654
@tofumatt IB sounds good overall, however I wonder whether we should do it the other way around and only apply this file name linting rule to files that are within a `components` folder? There are some components where this is currently not the case, and some non-components that are in a `components` folder, but we could add exceptions for those or then move them somewhere more appropriate.

[2020-06-29 23:04] adamsilverstein commented on #1567
@ernee - I did some research against staging and the test site you provided and discovered the following:

* The domain is stored as Punicode in WP, and added as such to Search Console via API.
* When we query the Search Console API for the list of sites, the site is included in the list, however it contains Unicode [Bidirectional Control Characters](https://en.wikipedia.org/wiki/Unicode_control_c

[2020-06-29 23:48] felixarntz commented on #1302
@tofumatt Wrote a new IB for review. The estimate is a bit smaller than originally since the main component itself was already refactored as part of the web vitals updates.

[2020-06-30 06:13] cole10up commented on #1632
**Tested**

Installed and activated latest SK. Setup analytics module.

Ran a series of regressions around setting up Analytics with a new account, existing account, adjusting Analytics (disconnecting and reconnecting module) in settings page.

No token issues reported.

Passed QA ✅

[2020-06-30 06:51] cole10up commented on #716
**Retested**

Confirmed the use of 'All Website Data' is now being displayed on the account provisioning screen

![image](https://user-images.githubusercontent.com/57115907/86093048-37dd4c80-ba63-11ea-87a7-fd2a41bcdc43.png)

Ran a series of regression tests removing Analytics module, trying to setup module with the same view name (warning message displayed).

![image](https://user-images.githubuse

[2020-06-30 08:10] aaemnnosttv commented on #1611
## QA ✅

Tested a preloaded path returned preloaded data on the first request only, resulting in 1 server request after the first response.

![image](https://user-images.githubusercontent.com/1621608/86100625-c7b1e380-bac1-11ea-8c9b-7a1da91ca75c.png)
![image](https://user-images.githubusercontent.com/1621608/86100591-bbc62180-bac1-11ea-9baa-addb58d3cd7b.png)

Tested that a request made with a `tim

[2020-06-30 08:14] aaemnnosttv commented on #1460
## QA ✅

Storybook was built for an open PR (e.g. #1715 which adds these stories)
![image](https://user-images.githubusercontent.com/1621608/86101345-d0ef8000-bac2-11ea-971f-44eb20292d3d.png)

Storybook was removed for a closed PR (that did have a storybook built for it)
![image](https://user-images.githubusercontent.com/1621608/86101218-9ede1e00-bac2-11ea-9bf4-a121df2e62ae.png)

[2020-06-30 11:40] eugene-manuilov commented on #1300
After reviewing the new Widget API, I tend to consider this ticket as not done yet. @tofumatt said that afer discussing it with @felixarntz they agreed that by default all widgets need to be wrapped with `<Widget>` component, plus there should be a way to opt-out of it and not to wrap widgets by providing an appropriate option during widgets registeration process. So, once it's done, we can consid

[2020-06-30 13:53] aaemnnosttv commented on #716
I just ran into an error with this locally due to undefined `profiles`. Sending this back to execution for a quick follow-up fix.

<details>
<summary>Error</summary>

[code]

</details>

[2020-06-30 14:03] jamesozzie commented on #1719
Along with the primary issue of double CPC entries the referral & social traffic seems combined in this dashboard (as with #1554)

[2020-06-30 15:34] adamsilverstein commented on #1280
I honestly doubt this bug will get fixed although I do plan to file one. If they do, we can revert the change.

Yes, I feel like it is worth it because otherwise we will be dealing with a steady stream of bug reports when users find their data in Site Kit doesn't match their data in Analytics.

I updated the IB to indicate that an inline comment should be included to explain the change and referen

[2020-06-30 16:14] felixarntz commented on #1717
IB ✅

[2020-06-30 17:35] felixarntz opened #1724 "Wrap registered widgets with `Widget` component by default"
## Feature Description

Follow-up to #1300, closely related to #1678: While the components rendering a widget should have full control about the widget rendered, the majority of components is expected to return its content wrapped in the `Widget` component that was implemented as part of #1300 and is publicly exposed. As part of the discussions on these issues it was decided to simplify this so th

[2020-06-30 17:36] felixarntz commented on #1300
@eugene-manuilov @tofumatt Regarding the alternative wrapping mechanism, @tofumatt and I had decided to work on it as part of a separate issue, I just opened this issue above. Good catch on the incorrect test file name, let's fix that here.

[2020-06-30 18:50] felixarntz opened #1725 "Fix datastore issues around preloaded API data and using API caching"
## Bug Description

After #1611 (PR: #1692), the datastore could that this change was implemented for needs to be updated to no longer specify `useCache: false` by default, which wasn't part of that issue - at the moment, providing this property as `false` results in the preloaded data being ignored.

Also, we are currently not yet preloading modules data from `core/modules/data/list`, which we sh

[2020-06-30 19:52] aaemnnosttv commented on #1725
This generally looks good to me.

Since these fetch actions don't have any required params, I think we should give it a single `options` param as an object. That would be more clear to use (even if it is just the one option for now). e.g.
[code]

Otherwise, IB ✅

I have a feeling the estimate may be a bit small, but that mostly depends on the implications these changes may have on existing tests m

[2020-06-30 19:58] adamsilverstein opened #1726 "Enable language parameter for setup/auth flow"
## Feature Description

* Pass a language parameter to the setup and scope re-auth process to indicate the user's language.

The Site Kit service used during setup is now localized into the following languages: Japanese, German, Norwegian, Brazilian Portuguese, Russian, Latin American Spanish, Spanish and Ukrainian.

To enable the localized version of the service, the Site Kit plugin needs to pass

[2020-06-30 19:59] felixarntz commented on #1725
@aaemnnosttv That sounds good to me, updated the IB to use an `options` object as the argument. Also that's fair, I changed the estimate to 7 - I think the production code changes themselves are actually even closer to a 1 than a 3, but since this could have implications on testing, it may take quite a bit more.

[2020-06-30 20:16] adamsilverstein commented on #1726
Draft PR: https://github.com/google/site-kit-wp/pull/1672 with approach described in IB (can be tested with the tester plugin against staging).

[2020-06-30 22:26] tofumatt commented on #1651
Try as I might I'm unable to reproduce this issue in `develop`, and I suspect some other changes I made to the JSON parsing of analytics data might've fixed this bug as we better protect against bad JSON data in Analytics.

Could you confirm it's still happening @ernee, and provide the exact JSON string you're using to get the error? I think this might have actually been fixed, at least in `develo

[2020-06-30 22:39] felixarntz opened #1728 "Track advanced plugin Analytics events for"
## Feature Description

For certain popular plugins, Site Kit's Analytics module should fire additional events if the respective plugin is active.

**This work should be done against a `feature/ga-advanced-tracking` branch.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Analytics should inject addit

[2020-06-30 22:57] felixarntz commented on #1651
@tofumatt Hmm maybe this is no longer relevant as of #1620?

[2020-07-01 07:41] tommiekn commented on #1120
Hi, @jamesozzie there was any update regarding this feature and a possible implementation ? agreeing with @gounder thats a bit of limitation for whom doesnt use tag manager

[2020-07-01 09:31] aaemnnosttv commented on #1717
For some reason, E2E tests are failing on `develop` now after this was merged so I'm moving this back to execution to resolve.

[2020-07-01 13:20] adamsilverstein commented on #1666
In my testing, ad blockers did not affect seeing data on the AdSense module page once setup is complete. Likely as you mentioned because the bulk datapoint doesn't look like an ad request. I will double check on the settings page and address that here i=or in a follow up issue.

[2020-07-01 14:51] tofumatt commented on #1456
The only place I can find us not using a user account email we're using a user ID: https://github.com/google/site-kit-wp/blob/c3c07b37452c70ac382e3eeb174acd0b24adc135/includes/Modules/AdSense.php#L429 + https://github.com/google/site-kit-wp/blob/c3c07b37452c70ac382e3eeb174acd0b24adc135/includes/Modules/AdSense.php#L579.

It looks like the last place we were using `/u/0` was changed more recently t

[2020-07-01 15:14] tofumatt commented on #1302
I think we should use full selector names for `getCaps` and `hasCap`. It took me some time to figure out what they meant, and I eventually gave up and then kept reading the IB… but I think that's a bad sign for discoverability and readability 😄

Let's go with `getCapabilities()` and `hasCapability()` so it's clearer the intent of those selectors.

That said, is there any reason not to name them `p

[2020-07-01 15:26] aaemnnosttv commented on #1725
IB ✅

[2020-07-01 16:15] tofumatt commented on #1654
I've amended the overrides in the IB to use:

[code]
assets/js/modules/tagmanager/setup/setup.legacy.js
assets/js/modules/search-console/settings/settings-view.js
assets/js/modules/analytics/settings/settings-view.js
[code]

[2020-07-01 16:25] tofumatt commented on #1724
I would note that any existing Widgets should be migrated to remove their own `<Widget>` wrapper if any exist when this is implemented. But since we aren't using them yet this should be fine. 😄

Also, I added the QA: Eng label to this issue as there won't be anything to QA yet.

IB ✅

[2020-07-01 16:34] felixarntz commented on #1549
Ready for IB, the messages can be refined as we move along.

[2020-07-01 17:28] felixarntz commented on #1302
@tofumatt I've updated the IB to use the full `getCapabilities` and `hasCapability`.

The reason to use the term "capability" is that this is what is the common term to use in WordPress. Essentially:
* "Permissions" --> Google service / API permissions
* "Capabilities" --> WordPress user permissions

[2020-07-01 17:33] tofumatt commented on #925
Augmenting the commit messages is a clever solution, but originally I worried this would fail when GitHub merges were used. But I suppose since we only lint during pre-commit hooks it's fine. This solution results in inconsistent merge commit messages between GitHub's web UI (where we do a lot of merging) and local machines.

That said: it doesn't error so it works. QA ✅

[2020-07-01 17:38] felixarntz commented on #1654
@tofumatt I think we should rather build this linting for how our files _should_ be organized rather than for how they are organized now. Every component file should be somewhere within a `components` folder and we want only those files to have this kind of name, so I think it would be better to only apply the rule to those files, i.e. opt in for components rather than opt out for non-components.

[2020-07-01 17:53] felixarntz commented on #1456
@tofumatt This issue is still relevant, it's not only about removing `/u/0` usage. The AdSense account ID used in the URLs you referenced is correct, but it's also not really relevant for this issue (AdSense account != Google account), maybe that was unclear.

Essentially, all deep links that link to a Google service frontend should include a parameter to indicate the current Google user account,

[2020-07-01 18:07] felixarntz opened #1731 "Make profile data retrieval more reliable"
## Bug Description

After signing in with Google, specifically right after Site Kit obtains an access token for a user, the user's Google profile data is fetched via the People API. The email address and photo are then stored in WordPress, and they are used in various places, e.g. the user dropdown on the top right of all Site Kit screens.

There can be occasional cases where this API request fail

[2020-07-01 18:33] felixarntz commented on #1280
Removing this from the current sprint since we need to make a decision first. If this can be fixed on Analytics side in a timely manner, we can close. If not, we should introduce this bug too, as weird as it seems :)

[2020-07-01 18:36] felixarntz commented on #1466
Technically this can only be fixed on the service side, so it is not plugin-related in that sense. However, on the plugin side #1549 is related, since it would capture such a problem at least already in advance before going to the Site Kit service.

[2020-07-01 19:00] adamsilverstein commented on #1681
I have a ticket opened with the Analytics team to see if we can determine how this datapoint is calculated. I will report back here with findings and add an IB once I have more details.

[2020-07-01 19:53] ernee commented on #1651
Hi @tofumatt ! So I was able to replicate the error with the tester plugin's develop branch. Here's the JSON I entered (note the trailing `>` character after the first Tracking ID):

[code]

[2020-07-01 20:27] tofumatt commented on #1300
Good catch! I've submitted a new PR with the fix, thanks for that 😄

[2020-07-01 20:37] eugene-manuilov commented on #1385
@felixarntz @EvanHerman @tofumatt while reviewing this ticket I have noticed that a new error store has been introduced for the tagmanager module and it is 100% identical to error datastores available in optimize and adsense modules. What do you think if we create a factory function (similar to `createFetchStore`) to create generic error stores for modules where it is needed? It will help us to ge

[2020-07-01 20:58] adamsilverstein commented on #1714
Noting the language of "Let's verify your ownership of xyz.com" might be confusing to a second admin who doesn't "own" the domain at all. What we mean here right now is is "verify your Admin (or "write"?) access to xyz.com".

[2020-07-01 21:01] adamsilverstein commented on #1567
Added AC, moving to IB

[2020-07-01 21:10] eugene-manuilov commented on #1385
QA :heavy_check_mark: - everything seems to be in place.

[2020-07-01 23:36] adamsilverstein commented on #1719
@jamesozzie Thanks for reporting this issue and your assistance debugging it.

Reviewing your data and the requests we make to display this graph in Site Kit, I realized that we are using a different dimension than the dimension used to create the graph in Analytics (Under Acquisition->Overview).

Site Kit currently uses the `ga:medium` dimension.

Reviewing the Analytics UI in your screenshot, I

[2020-07-02 00:06] felixarntz commented on #1726
@adamsilverstein One thing that's missing here is handling the language when going to the OAuth consent screen directly (e.g. when requesting additional scopes). Can you amend the ACs and IB to include this part too?

[2020-07-02 01:27] felixarntz commented on #1719
@adamsilverstein Sounds good, that's a great find! Can you add ACs and IB for this one based on the above?

I'll close #1554 as a duplicate.

[2020-07-02 01:27] felixarntz commented on #1554
This is technically a different bug, but actually caused by the same problem as #1719. Let's track the work there and close this one which will be fixed by the other one at the same time.

[2020-07-02 01:27] #1554 closed

[2020-07-02 01:29] felixarntz commented on #1553
@adamsilverstein I assume this is also covered by #1719? If so, we can close this one as a duplicate and continue the work in #1719.

[2020-07-02 01:47] Frisoni commented on #1553
@felixarntz I opened this topic in WP support forum.
I just tested change ga:medium to ga:channelGrouping as mentioned in https://github.com/google/site-kit-wp/issues/1719 and it solves inverted labels as well.
You can close this one for sure.
Thanks.

[2020-07-02 01:58] felixarntz commented on #1553
Thanks for confirming @Frisoni!

[2020-07-02 01:58] #1553 closed

[2020-07-02 07:21] aaemnnosttv commented on #1731
The IB looks good and should work.

One alternative that I would propose for consideration would be to use a scheduled event/cron to do the refreshing rather than checking for this on every `admin_init`. One benefit of this approach would be that we wouldn't need to store the retry time as that is already a requirement for a scheduled event.

It could work something like this:
* If fetching profil

[2020-07-02 07:31] cole10up commented on #716
**Tested**

Ran a series of regression tests with latest Develop focusing on new Analytics account creation, adjusting view names, proxy setup, uninstalling and reinstalling the module.

No issues on my end

Passed QA ✅

[2020-07-02 08:11] aaemnnosttv commented on #1385
@eugene-manuilov there are a few places where there is some duplication currently occurring in datastore definitions as well as some components. I think this warrants its own issue to DRY up once all of the datastores have been merged so we can address them all at once with an abstraction based on the full context of the current usage.