[2020-02-24 15:25] timnolte opened #1167 "Notice Error Accessing Empty Impressions Object"
## Bug Description

When debugging is turned on I see the following notice reported:
[code]

## Steps to reproduce

1. Go to the page editor and you'll see this flash on the screen before the Gutenberg editor takes over the screen.

## Additional Context

 - PHP Version: 7.3
 - OS: Ubuntu 19.10
 - Browser: Google Chrome 80
 - Plugin Version: 1.2.0
 - Device: Desktop

It is possible that this bug i

[2020-02-24 15:47] aaemnnosttv commented on #169
@felixarntz This one is just about ready, I'm only not sure about how we should be displaying the account and site statuses for AdSense.

Account status is saved in the module settings, but I'm not 100% sure how how we should display it. My first thought would be to use [`statusHeadline` from `propsFromAccountStatus`](https://github.com/google/site-kit-wp/blob/3b532c9797d1d5c5975f283bada4e6ba35c88

[2020-02-24 15:50] aaemnnosttv commented on #1167
Thanks for the report! This should be fixed as of 1.3.0. Can you please try with the latest release and let us know if you continue to see any notices?

[2020-02-24 16:16] aaemnnosttv commented on #1040
## ✅ QA

* ✅ All Site Kit-owned Asset handles should start with `googlesitekit-`
* ✅ Asset handles should be kabob-cased

Moving to approval.

[2020-02-24 17:02] felixarntz commented on #169
@aaemnnosttv Good point. Let's just use the account status as is for now without translation. The available account statuses will partly change via #1014 anyway. Site status is also something that's going to be introduced by that issue, so I think we can omit it for now.

[2020-02-24 17:16] aaemnnosttv commented on #1142
## ✅ QA

### Using AMP v1.4.0 and Site Kit 1.3.0

1. **Confirmed validation errors on home page**
![image](https://user-images.githubusercontent.com/1621608/75171288-11fe0f00-5734-11ea-83cc-10f8a08849fe.png)
1. **Hover intent and Site Kit global data**
![image](https://user-images.githubusercontent.com/1621608/75171377-33f79180-5734-11ea-8d79-d81e743aebc4.png)
1. ✅ Rechecking shows no validation e

[2020-02-24 17:48] felixarntz commented on #1110
@aaemnnosttv Good to be worked on now, without implicit dismissal support.

[2020-02-24 19:49] tofumatt commented on #1140
QA ✅

Only one element on both pages:

<img width="359" alt="Screenshot 2020-02-24 19 48 54" src="https://user-images.githubusercontent.com/90871/75185879-bdac5c80-573e-11ea-819b-1e0126c53bb9.png">
<img width="409" alt="Screenshot 2020-02-24 19 48 43" src="https://user-images.githubusercontent.com/90871/75185884-bf762000-573e-11ea-852b-53522bb03261.png">

[2020-02-24 19:58] tofumatt commented on #345
QA ✅

Tested this with NVDA and checked the output in browser. Works as expected when opening a dialog, thanks! 👍

[2020-02-24 21:23] Alex-Hay commented on #6
I'd like to quickly echo how useful this feature would be. We manage sites for a few dozen sites, all of which link up to Google Analytics. We've become increasingly frustrated at the price and questionable ethics of companies like Monster Insights, but unfortunately the lack of even a basic dashboard widget (for editors) makes Site Kit a non starter.

Not trying to seem ungrateful though - the pl

[2020-02-24 21:35] aaemnnosttv commented on #1140
You're better off testing with `document.querySelectorAll` or using an attribute selector as `jQuery` will only return the first element with an `#` selector 😄

![image](https://user-images.githubusercontent.com/1621608/75193098-3838a480-575e-11ea-893d-ae9267429e76.png)

[2020-02-25 02:52] sleepless-ninja commented on #852
I just want to add another voice to this.

Maybe we could have a hook that allows us to add roles in order to grant access to the setup?

I think that would be the lesser of all else.

[2020-02-25 11:51] marrrmarrr commented on #193
@aaemnnosttv thanks for the reference to the other issue. Beyond the font sizes, I think the bigger issue is that we're stretching the contents of the admin bar to the width of the screen, which results in huge white spaces on laptop screens and even more on desktop screens.
We should reconsider perhaps left-aligning the contents of the admin bar -- I think the better approach here is redesigning

[2020-02-25 11:51] #193 closed

[2020-02-25 21:14] tofumatt commented on #413
QA ✅

Using paired mode I got the second container select and ID to appear in setup (not pictured, but it worked as expected), settings view, and settings edit:

<img width="611" alt="Screenshot 2020-02-25 21 13 10" src="https://user-images.githubusercontent.com/90871/75288221-c91d8780-5813-11ea-8c38-e839235bf38e.png">
<img width="1155" alt="Screenshot 2020-02-25 21 13 53" src="https://user-images

[2020-02-26 00:10] felixarntz opened #1173 "Enhance core/site store with isSetupComplete information and more granular selectors"
This is a follow-up to #999 (and #1000, although rather decoupled from that).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site/data/connection` REST route should include `setupCompleted` in responses.
* The `core/site` store should have granular selectors that return specific information

[2020-02-26 00:27] felixarntz opened #1174 "Introduce notification functionality to core/site store"
This is a follow-up to #999 and #1110 (also related #1000 and #1173).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site` store should have an additional selector `getNotifications`:
    * The selector should issue an API request to `core/site/data/notifications` to get a list of notificati

[2020-02-26 00:38] felixarntz opened #1175 "Scaffold googlesitekit-user package and core/user store"
## Feature Description

This is very much similar to #999, introducing a separate `googlesitekit-user` JS file and respective module that registers a `core/user` store on `googlesitekit.data`. The implementation should follow the same patterns established in #999 (even the selectors and actions are very similar in behavior).

---------------

_Do not alter or remove anything below. The following s

[2020-02-26 00:51] felixarntz opened #1176 "Implement additional googlesitekit-user store selectors"
## Feature Description

Following #1175, the `core/user` store should include further selectors for data that is passed to JS via PHP. These changes should be added to the `googlesitekit-user` script. This will be very similar to the work executed in #1000.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

[2020-02-26 00:59] felixarntz opened #1177 "Introduce notification functionality to core/user store"
## Feature Description

This is a follow-up to #1175. It's also related to #1174 and #1176, although these could even be worked on at the same time (except maybe because of annoying merge conflicts).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/user` store should have an additional selecto

[2020-02-26 01:10] felixarntz commented on #1004
@aaemnnosttv Maybe for more clarity we should call the new class `Script_Data`. Let's go with the hierarchy you originally suggested `Asset` -> `Script` -> `Script_Data`, as script data is still a `Script`. Regular scripts would per WP still be able to depend on script data (and even vice-versa, although we'd probably never need that).

In other words, let's go with your original IB, just rename `

[2020-02-26 01:11] felixarntz commented on #1004
IB ✅ (pending `Data` renamed to `Script_Data`)

[2020-02-26 01:15] felixarntz commented on #1034
@aaemnnosttv Let's pick this up as high priority for next release (in 2 weeks).

[2020-02-26 01:27] felixarntz opened #1178 "Modify module REST route names to better match existing schemes"
## Feature Description

Some of the module REST routes we're currently using don't fit into our `{type}/{identifier}/data/{datapoint}` scheme, so we should adjust them. Note that we should differentiate between routes that belong to the core of Site Kit (`core/modules`) vs routes that integrate with custom module functionality (`modules/(?P<slug>[a-z\-]+)`). This will later be similar in JS, we'll

[2020-02-26 01:45] felixarntz opened #1179 "Introduce core/modules store in googlesitekit-modules"
## Feature Description

There should be a `core/modules` store on `googlesitekit.data` that allows to retrieve information about the available modules and their activation status. Some of the store selectors and actions should be wrapped with high-level functions on `window.googlesitekit.modules`. This issue is partly dependent on #1063 and #1178.

---------------

_Do not alter or remove anything

[2020-02-26 09:43] aaemnnosttv opened #1180 "Optimize entrypoint bundle sizes"
## Feature Description

As we add dependencies, JS entrypoints are growing in size where limits need to be increased.

[code]

We should be able to reduce the main bundle size by leveraging more asynchronous loading of chunks where possible.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Reduce module

[2020-02-26 10:39] jamesozzie commented on #1165
@tristanhemsley I'll close this while we work on your [support topic](https://wordpress.org/support/topic/site-kit-will-not-activate/) in the WordPress support forum.

[2020-02-26 10:39] #1165 closed

[2020-02-26 10:48] aaemnnosttv commented on #1128
## ✅ QA

Sparkline color now matches arrow in inverted (bounce rate) and normal modes

![image](https://user-images.githubusercontent.com/1621608/75337666-1c381e80-5896-11ea-807a-624503885be7.png)

Moving to approval.

[2020-02-26 10:54] tofumatt commented on #1140
Hah, noted!

Still, QA ✅

Tested with `querySelectorAll` and it also just returned one element:

<img width="447" alt="Screenshot 2020-02-26 10 54 16" src="https://user-images.githubusercontent.com/90871/75338299-631e1800-5886-11ea-9bbc-37c6881427aa.png">

[2020-02-26 11:13] jamesozzie commented on #1155
Possible conflict with [GoogleAnalytics](https://wordpress.org/plugins/googleanalytics/) plugin as reported by some users. Requires further testing.

[2020-02-26 11:13] tristanhemsley commented on #1165
Okay, thanks

[2020-02-26 11:19] aaemnnosttv commented on #1141
## ✅ QA

* Confirmed error with Site Kit 1.3.1 and latest JetPack (requires Site Kit has initial setup)
![image](https://user-images.githubusercontent.com/1621608/75339868-03316c80-589a-11ea-9638-ac254224b3fc.png)
    * `window._.VERSION` matches lodash
* Confirmed error is no longer present with latest build of Site Kit
![image](https://user-images.githubusercontent.com/1621608/75340061-64f1d680-

[2020-02-26 12:15] tofumatt commented on #1158
Refresh tokens are set and refreshed as expected, and the code looks good. So I think this is QA ✅

[2020-02-26 12:44] tofumatt commented on #1029
Code here looks solid; settings continue to work for me, so I think this one is QA ✅

[2020-02-26 15:59] cole10up commented on #1107
Ran through a series of tests using safari and chrome with our current Adsense test accounts. I was unable to reproduce this issue. Moving to level 2.

[2020-02-26 16:32] aaemnnosttv opened #1181 "Internal event tracking not connected"
## Bug Description

In #1055 we refactored the implementation of our internal event tracking infrastructure. In doing so we moved away from using the global `gtag` function and `dataLayer` variables for safer interoperability with other scripts that may be on the page. In doing so, the dataLayer is not getting fully connected.

## Steps to reproduce
1. Install the [Tag Assistant](https://chrome.go

[2020-02-26 23:27] felixarntz commented on #1180
@aaemnnosttv What would be your suggested approach to accomplish this more asynchronous loading?

[2020-02-26 23:32] ernee opened #1183 "Decouple date range selector values from labels"
## Bug Description

Dashboard doesn't load with the Spanish language (localized) version of Site Kit.  The following WP Error is present in the browser console:

[code]

Support topic reference: https://wordpress.org/support/topic/g-sitekit-dashboard-doesnt-finish-loading/

This is because of a problem previously raised in #447: Site Kit relies on translatable strings to generate date range slugs.

[2020-02-27 03:22] cole10up commented on #314
**Tested**

Confirmed search console was connected to my local, having no queries to display.

![image](https://user-images.githubusercontent.com/57115907/75409128-b024dd00-58cc-11ea-8254-b5f9ea9d2070.png)

Checked dashboard:

![image](https://user-images.githubusercontent.com/57115907/75409195-dea2b800-58cc-11ea-91e5-c9b32c6a0dc0.png)

Confirmed search console tab

![image](https://user-images.gi

[2020-02-27 04:36] cole10up commented on #167
**Tested**

Confirmed on pages without analytics data and no search console info the admin bar menu isn't displayed

![image](https://user-images.githubusercontent.com/57115907/75412280-d9e30180-58d6-11ea-97de-e479d9c6af06.png)

Confirmed alternate scenario of no SC data but with Analytics during testing of https://github.com/google/site-kit-wp/issues/314

![image](https://user-images.githubuserco

[2020-02-27 05:35] cole10up commented on #1181
**Tested**
Confirmed setup of Tag Manager:
![image](https://user-images.githubusercontent.com/57115907/75414836-b0c66f00-58de-11ea-82ac-55c5f17c346e.png)

Confirmed setup of Analytics:
![image](https://user-images.githubusercontent.com/57115907/75414870-c8055c80-58de-11ea-8810-d7495c55fd0f.png)

Confirmed opt in status:
![image](https://user-images.githubusercontent.com/57115907/75414894-de131d00-

[2020-02-27 05:41] cole10up commented on #943
Quick smoke test of the app after building with this enhancement functioned. Looking for engineering to validate the error and send it to approval. @tofumatt @aaemnnosttv

[2020-02-27 05:52] cole10up commented on #1099
Checking into this one, I'm able to reproduce this consistently.

Currently seeing what @adamsilverstein mentioned as the graph is off. Data isn't skewed.

90 day drop down shows only 85 days.

![image](https://user-images.githubusercontent.com/57115907/75416045-2bdd5480-58e2-11ea-8eb6-96d5d42def59.png)

![image](https://user-images.githubusercontent.com/57115907/75415993-11a37680-58e2-11ea-924e-7

[2020-02-27 09:11] aaemnnosttv commented on #1004
IB updated 👍

[2020-02-27 09:25] aaemnnosttv commented on #1180
@felixarntz the same way we already do for other components using dynamic imports with `<Suspense>`. I was talking to @tofumatt about this a bit as well and I think that the common dependencies between entrypoints are not being split out into chunks, like vendor chunks are. There may be some fine-tuning of the webpack config needed here but the general idea is splitting the entrypoints into more c

[2020-02-27 09:36] swissspidy commented on #1183
I **think** this is because of #447. I remember discussing this with @felixarntz .

See how the date labels are translated here:

![Screenshot 2020-02-27 at 10 32 26](https://user-images.githubusercontent.com/841956/75431018-87442c80-594c-11ea-8482-fa11c87887a6.png)

My suggestion would be to treat #447 as a bug rather than an enhancement...

[2020-02-27 09:42] aaemnnosttv commented on #943
## QA ⚠️

* ✅ Added `<ErrorComponent>`
![image](https://user-images.githubusercontent.com/1621608/75431357-6df3ae00-5955-11ea-9a12-ba5f2b7484f5.png)
* ✅ Clicking "Simulate an error" triggers error boundary displaying message
![image](https://user-images.githubusercontent.com/1621608/75431456-8cf24000-5955-11ea-87d3-5f90ffc3f160.png)
* ⚠️ Console shows error about prop type passed to `Notification`

[2020-02-27 11:13] aaemnnosttv opened #1184 "Include link to support forums in JS error handler"
## Feature Description

Currently when an error is raised in React it may trigger our `ErrorHandler` component (see #943) which in turn renders a `Notification` for the user (rather than a blank screen) with information about the error.

As a notification, we could also provide a `learnMoreURL` prop. If we were to include this, the most useful URL might be a GitHub issue search using the error mes

[2020-02-27 11:18] tofumatt commented on #943
Oh, smart. Yeah, I think having the error appear as `<code>` is helpful here. Why not update the description's `propType` here instead though? `PropTypes.element` should accept both a string an a JSX component, so we can pass strings or the `<code>{message}</code>` we do in https://github.com/google/site-kit-wp/pull/976/files#diff-954126ff8fcf4c3b8e5f715256bbb94aR46

Functionally JSX will happily

[2020-02-27 11:42] aaemnnosttv commented on #943
Sounds great, let's do that 👍Thanks!

[2020-02-27 11:57] tofumatt commented on #943
Done in https://github.com/google/site-kit-wp/pull/1170/commits/3812a03938cf2d1baa87045101e250c30fab60bc 👍

[2020-02-27 11:57] tofumatt commented on #943
(I tested it myself and it worked with strings and React elements, also did the DOMPurification as expected with no PropType errors.)

[2020-02-27 12:56] connorhsm opened #1185 "Analytics graph is not plotting data"
## Bug Description

When viewing the analytics page in the admin dashboard, the x axis in the graph is labelled with the date 1/1/70. No data points are plotted on the graph.

## Steps to reproduce

I do not have any instructions to repeat this.
I updated plugins on this site today, it was running Site Kit 1.2.0 which was updated to 1.3.1.
I then browsed the Search Console and Analytics data from

[2020-02-27 13:58] aaemnnosttv opened #1186 "1.3.0 Migration does not migrate tracking opt-in properly"
## Bug Description

In #913 we changed the anonymous user tracking preference from a global setting to a per-user setting. In the migration for v1.3, we limited the migration from setting to user preference to only sites that had a single authenticated user with Site Kit. For users who have yet to upgrade to 1.3+, this setting should be migrated for all users who had authenticated with Site Kit.

[2020-02-27 15:24] aaemnnosttv commented on #943
QA ✅

The only problem before was the propType error that was raised but did not affect the behavior of the error handler.

The `add/1110-remote-notifications` branch no longer raises PropType errors as well
![image](https://user-images.githubusercontent.com/1621608/75457659-68ae5780-5985-11ea-89e4-965d662c2884.png)

[2020-02-27 15:29] aaemnnosttv commented on #943
QA ✅

The only problem before was the propType error that was raised but did not affect the behavior of the error handler.

This is no longer a problem after the fixes included in #1170

![image](https://user-images.githubusercontent.com/1621608/75457659-68ae5780-5985-11ea-89e4-965d662c2884.png)

Moving to approval.

[2020-02-27 16:03] laurentdebricon commented on #938
Why give clues to the enemy? !!!

[2020-02-27 16:13] felixarntz commented on #1186
Let's set the user query limit to 20, then IB ✅

Let's make sure we have test coverage to ensure that the user query returns only users with token set.

[2020-02-27 16:53] aaemnnosttv opened #1188 "Release 1.4.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-02-27 17:08] jamesozzie commented on #1155
To replicate install the [Google Analytics plugin](https://wordpress.org/plugins/googleanalytics/) after setting up and installing Site Kit.

![image](https://user-images.githubusercontent.com/41326532/75467473-9d211400-5983-11ea-83fc-cc091f889ba4.png)

[2020-02-27 17:32] felixarntz commented on #1113
@cole10up This was fixed on our end (not in the plugin), but I marked this as part of the release. Could you do some QA on this or follow up with @jamesozzie? Thanks!

[2020-02-27 21:52] ernee commented on #1116
Similar behavior is seen in the [TranslatePress plugin](https://translatepress.com/), with the setting _Use a subdirectory for the default language_. Results in a **‘redirect_uri’ mismatch** error. More about the setting:

https://translatepress.com/docs/settings/#default-launguage-subdirectory

Related support topic: https://wordpress.org/support/topic/unable-to-sign-in-redirect_uri-mismatch/

[2020-02-28 00:22] #1181 closed

[2020-02-28 00:23] #167 closed

[2020-02-28 00:23] #314 closed

[2020-02-28 00:23] #1130 closed

[2020-02-28 00:23] #1040 closed

[2020-02-28 00:23] #1142 closed

[2020-02-28 00:23] #1140 closed

[2020-02-28 00:23] #345 closed

[2020-02-28 00:24] #413 closed

[2020-02-28 00:24] #1128 closed

[2020-02-28 00:24] #1141 closed

[2020-02-28 00:24] #1158 closed

[2020-02-28 00:24] #1029 closed

[2020-02-28 00:25] #943 closed

[2020-02-28 06:28] #1188 closed

[2020-02-28 06:41] cole10up commented on #1113
I ran some tests on my end installing application based security plugins such as (WordFence, W3TC, Redirect). Installed and activated Site Kit. No issues discovered.

Unfortunately my hosting test server doesn't have Mod Security.

In order to properly retest this we'll need to invest more time into this ticket to validate with a full setup of an instance with an Apache server running Mod Security

[2020-02-28 06:51] cole10up commented on #1113
@jamesozzie - Here's a guide to Mod Security and where to configure it if you have a server running with cpanel and wordpress installed.

https://sysally.com/blog/how-modsecurity-protects-wordpress-website/

[2020-02-28 08:24] cole10up commented on #1110
**Tested**

Ran a console command (below) to pop the message:

`sessionStorage.setItem('googlesitekit_core::site::notifications', JSON.stringify({value: [{"id":"uxr_study","title":"","content":"We want to hear more about what you think about Site Kit.<br>Sign up to participate in our research studies by telling us a bit more about yourself in the registration form.","image":"","ctaURL":"https://do

[2020-02-28 11:56] jamesozzie commented on #1113
@cole10up No issues from my side with either `OWASP ModSecurity` or `Atomic Basic ModSecurity` rule sets enabled, with thorough default values.

![image](https://user-images.githubusercontent.com/41326532/75546650-ea9f8e80-5a20-11ea-8186-7855e19cce9f.png)

Happy to share logs or provide testing login if needed.

[2020-02-28 12:01] jonasskafte commented on #794
Hi again @tofumatt, @jamesozzie and @ernee,

Any chance this can be included as a milestone for your next release?

Thanks!

[2020-02-28 13:09] aaemnnosttv commented on #520
This one needs a bit more work to finish. `@wordpress/eslint-plugin` v4 was just released which we should aim to use now since 3.x may not get further updates. v4 has more of an integration with Prettier which introduces many changes in lint rules. Gutenberg adds a `.prettierrc` which proxies the config from `@wordpress/scripts` https://github.com/WordPress/gutenberg/blob/5fde188a8c3b7603fbb29fca7

[2020-02-28 15:38] aaemnnosttv commented on #1160
This looks good for the most part, just a few questions. Do you want to add an estimate as well?

Even if the site isn't using AMP at all?

Why not give it a dedicated filter rather than pass it through via options when it isn't an option?

[2020-02-28 16:09] cole10up commented on #1113
Thanks @jamesozzie for the help. Transitioning this one to approval.

[2020-02-28 18:29] felixarntz commented on #1160
@aaemnnosttv

Oh yeah, I meant it that way, unconditionally if AMP :)

Hmm I feel like that's overly verbose. I'm not sure why this is implemented in a different way than some of the other config options, but the way I see it this is just as much a config option as the other ones.

[2020-02-29 05:40] ernee commented on #1107
is #293 related?

[2020-02-29 07:40] archon810 opened #1190 "Allow selecting metrics in Analytics, such as pageviews instead of or in addition to users and sessions"
## Feature Description

Right now, Site Kit only shows users and sessions in Analytics. I prefer seeing pageviews instead, for example, and I think Analytics settings should allow some more flexibility in this regard.

Is it possible to consider bringing in more data types to be shown?

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2020-02-29 08:43] cole10up commented on #1186
**Testing scenario 1** opt in from settings

Installed SK 1.0.2
![image](https://user-images.githubusercontent.com/57115907/75604052-abf1ee80-5a89-11ea-8c5c-7a28b809621a.png)

Confirmed 1st user is opted into anonymous tracking
![image](https://user-images.githubusercontent.com/57115907/75604085-ebb8d600-5a89-11ea-8689-23e1ae8b81d4.png)

Confirmed 2nd user is opted into anonymous tracking
![image]

[2020-02-29 09:09] cole10up commented on #1114
**Reproduced**

Pre-condition:

- Have multiple users
- Log in with one user who's setup SK without a GA account (other user has setup SK with a GA account)

Notice when logged in as user without GA account:
![image](https://user-images.githubusercontent.com/57115907/75604664-0ee68400-5a90-11ea-8904-bb40177b9fe2.png)

SK Dashboard:
![image](https://user-images.githubusercontent.com/57115907/756046

[2020-02-29 09:52] Imagine775 commented on #1113
Hello, I have the same issue with the Loop "Sign in with Google to configure Site Kit"
If there is a solution can i please ask you to dumb it down for a noob like me. to help me understand how can i fix it.

[2020-02-29 12:53] armandn commented on #878
Really sorry for not answering... very busy month.
Here's the health info:
[code]
Hosting is VPS, Ubuntu + nginx.

No XHR errors.

With the latest update (1.4.0), the error message look like this:

[code]

[2020-02-29 23:38] bonnellyk commented on #852
We would also be highly interested in this feature. We are currently using another plugin to display the data to the Editor users and would greatly appreciate to only use Site Kit. Having the opportunity to show/hide the different sections to the non-administrators would be awesome.
Thanks and Regards

[2020-03-01 10:58] strickes opened #1191 "Site Kit setup stuck on Step 3 "Set up Search Console""
## Bug Description

When I want to add Site Kit to a new website I was building I get no error message during the setup phase of Site Kit (see screenshots)
https://imgur.com/a/Ttj2thU
If I press the "Add site" button nothing happens. I can see that in the background the page is refreshing but I'm still stuck on that screen.
I also added the page manually to the Search Console, but it didn't help e

[2020-03-02 07:05] cole10up opened #1192 "Unknown Error: (access_denied) displayed to users after canceling at the OAuth step during setup"
## Bug Description

## Steps to reproduce

Pre-condition: Have a host with one member having SK setup

1. Login
2. Click through setup of SK to verify account step
3. Click an account and confirm
4. Click cancel

Notice: User is taken back to the dashboard and an Unknown Error is displayed:

![image.png](https://images.zenhubusercontent.com/5e386ec0b38ccc85cb0650db/3274eb36-2192-4744-80ad-8331d467

[2020-03-02 09:42] aaemnnosttv commented on #1192
I think this is to be expected when denying access during OAuth, although we could probably improve the experience to be more informative for the user. I also don't think this is specific to the second user - it should happen with the first as well if OAuth scopes are not approved.

[2020-03-02 10:13] aaemnnosttv commented on #1186
@cole10up I gave this another test and found it worked as expected for me. You also used different version numbers although I'm guessing this was a simple typo.

**The process I followed for testing:**
* Fresh site
* Install [Site Kit v1.2.0](https://downloads.wordpress.org/plugin/google-site-kit.1.2.0.zip)
* Opt into tracking
* Set up Site Kit with first user until you get to Site Kit dashboard (

[2020-03-02 12:11] aaemnnosttv opened #1193 "Add link to leave a review in Site Kit in footer"
## Feature Description

Many plugins add links in the footer of their plugin-owned screens to leave a review on wordpress.org.

We already have a `Need Help?` link in the bottom right corner. We could add a link on the other side asking users to leave a review.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2020-03-02 12:20] aaemnnosttv opened #1194 "Add link to Settings page in plugin action links"
## Feature Description

Many plugins add a link to their settings page to the plugin row itself for convenience.

![image](https://user-images.githubusercontent.com/1621608/75675907-cfd35100-5c90-11ea-9128-b27d91d6e1c0.png)

We should do the same to improve the discoverability of plugin settings and generally feel more consistent with other well-known plugins.

---------------

_Do not alter or re

[2020-03-02 14:13] jamesozzie commented on #1113
@Imagine775 We'd be happy to assist you with this error. If none of the troubleshoot steps listed on the [website](https://sitekit.withgoogle.com/documentation/fix-common-issues/) work for you please open a [WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) and we can look at your individual case.

[2020-03-02 14:19] jamesozzie commented on #878
@armandn Many thanks, I'll add this to the open GitHub issue relating to this issue and keep you posted while we investigate further. May I ask also does your "Site Address (URL)" and your "WordPress Address (URL") match from your general settings, I noticed on one of them there is a "/cms"?

[2020-03-02 14:20] jamesozzie commented on #1092
With latest version of plugin (1.4.0) one user(#878) reported a different error.

[code]

[2020-03-02 14:43] adamsilverstein commented on #1114
@jamesozzie We recently corrected a bug in the service that may help alleviate or resolve some of the issues reported here.

To summarize the bug we fixed: when the plugin detected a failed token under certain circumstances it previously made a call to invalidate the token which _had the unfortunate side effect of invalidating all of the user's access and refresh tokens_.

The result was that user

[2020-03-02 15:20] aaemnnosttv commented on #1160
I agree, but the fact that it is separate leads me to think that it should be also separate from the config for consistency. The fact that it's more verbose is more of an edge case I think as users shouldn't really need to filter this so that would be an edge case.  Either way, I don't think this detail is blocking here but I would also be interested to know why it's implemented as such and not as

[2020-03-02 15:51] jamesozzie commented on #1191
@strickes Thanks for reporting. As your domain name features an umlaut it seems like you're running into the same issue as reported at #794. Can you confirm your URL and if so we can add your details to that related issue.

[2020-03-02 16:11] aaemnnosttv commented on #969
@marrrmarrr the AC mentions using PNG but we use SVG for all logos. This is better as it will scale for all screen resolutions 🙂

[2020-03-02 16:17] tofumatt opened #1196 "Generate beta and production builds using GH Actions/CI"
## Feature Description

Now that #1172 is available to build us ZIP files on the plugin based on what's in the repo, we should be using it to generate both beta/testing builds (eg from `develop`) and also production builds (from `master` and/or from tagged releases). This alleviates the need for someone (usually @felixarntz) to manually create testing ZIP files and reduces the chance that a locall

[2020-03-02 17:13] strickes commented on #1191
yes I can confirm that. It's a Unicode Domain and I got the same issue as you described in #794 . So I guess we can link these two.

[2020-03-02 17:21] felixarntz commented on #1160
@aaemnnosttv In AMP it's also with the other information, hence I wanted to avoid introducing a separate filter just for that. Let's go with that approach for now, if there's a need for something similar, we can explore further.

Added an estimate.

[2020-03-02 17:57] aaemnnosttv commented on #944
@felixarntz this is rather trivial to implement if Analytics is active (see current IB). If we want to think farther ahead to something which isn't coupled to Analytics being active, that means we would need to add the same settings UI for Tag Manager as we have for Analytics for tracking exclusions.

We should also allow this to be filtered the way it is in Analytics now
https://github.com/google

[2020-03-02 18:16] felixarntz commented on #944
@aaemnnosttv I've discussed this with @marrrmarrr before and we decided to keep this within Analytics for now. The main reason is that tracking may mean different things for different services. For this case, it is both related to Analytics, and furthermore GTM depends on Analytics for being active anyway, so it should be kept in the Analytics module.

Let's keep this issue only focused on the imp

[2020-03-02 18:33] felixarntz commented on #1196
@tofumatt That sounds great! I agree on renaming the action, updated the ACs.

One question: So would we then build a ZIP on any push to `master`? With the current storing mechanism using the Wiki (which we should keep for this too), where would such a file end up? This applies to `develop` as well, which is already in place now if I'm not mistaken.

What we'd want to have is files for the followi

[2020-03-02 18:47] aaemnnosttv commented on #1107
This issue has been replicated and moved forward to execution.

Additional context and screenshots have been added.

[2020-03-02 19:27] cole10up commented on #1186
**Retested**

Installed 1.2.0, added 3 users:
![image](https://user-images.githubusercontent.com/57115907/75709948-87a83480-5c78-11ea-802b-2b1fd9d26f41.png)

![image](https://user-images.githubusercontent.com/57115907/75709926-7bbc7280-5c78-11ea-930d-6e4edd75e323.png)

Setup SK with tracking opted in on User 1
![image](https://user-images.githubusercontent.com/57115907/75707998-cb993a80-5c74-11ea-

[2020-03-02 19:46] #1186 closed

[2020-03-02 19:46] #1110 closed

[2020-03-02 19:46] #1113 closed

[2020-03-03 01:17] tofumatt commented on #1107
The issue here is that Safari doesn't support `formatToParts` for `Int.NumberFormat`, but there are no straightforward/lightweight polyfills I could find that would fix the issue for the limited, affected, recent browsers.

Seemingly this issue only appears when doing currency formatting, which already seems messed up. If I add a unit test for currency conversion using that utility function:

[cod

[2020-03-03 07:29] cole10up commented on #731
I couldn't reproduce this one. Setting to Approved.

Ran a series of tests with members that don't have Analytics accounts. Logging in, installing SK, resetting SK. I didn't see the data error.

[2020-03-03 08:10] cole10up commented on #1072
General regression of develop passes QA.

Able to setup SK, setup all services, adjust services, reset SK, deactivate and remove.

[2020-03-03 08:22] aaemnnosttv opened #1198 "Remove vendor assets"
## Bug Description

As of #993 all vendor dependencies are installed via npm, yet we still have a few vendor library files in the codebase.

The [assets/vendor](https://github.com/google/site-kit-wp/tree/afe494712f41ce29b23deaff091f579d5e109787/assets/vendor) directory is no longer used and can be removed.

---------------

_Do not alter or remove anything below. The following sections will be man

[2020-03-03 08:37] aaemnnosttv commented on #1072
QA ✅

I did find one instance which was from another PR which would have been handled in this issue but wasn't since these were worked on at the same time.

https://github.com/google/site-kit-wp/blob/afe494712f41ce29b23deaff091f579d5e109787/assets/js/modules/tagmanager/setup.js#L674-L677

This can be addressed in #1139 since there is no logic related to the presence of the classname.

Moving to ap

[2020-03-03 10:16] jamesozzie commented on #1191
@strickes Perfect, thanks for the update. I will close this one as a duplicate, hopefully you won't have to wait too long for a resolution.

Duplicate of #794

[2020-03-03 10:16] #1191 closed

[2020-03-03 12:54] aaemnnosttv commented on #1155
Confirmed error is raised on Site Kit dashboard when `googleanalytics` plugin is installed and active.

![image](https://user-images.githubusercontent.com/1621608/75773358-69186b00-5d56-11ea-9119-f79aaaf9fa1b.png)

[2020-03-03 16:48] felixarntz commented on #1198
IB / PR ✅

[2020-03-03 17:17] jamesozzie opened #1202 "Analytics: Total "Users" not in sync with Analytics Web UI"
## Bug Description

In the Analytics dashboard the "Users" figure is off sync with the Analytics Web UI.

Sessions, Bounce Rates & Session Duration figures match fine. I can replicate with other sites, screenshot of one site below.

Reported in WordPress support form as below:
[https://wordpress.org/support/topic/site-kit-user-stats-doesnt-match-google-analytics/#post-12499488](https://wordpress.o

[2020-03-03 19:54] ernee opened #1204 "UI option to disable admin bar integration"
## Feature Description

Suggested from a [support topic](https://wordpress.org/support/topic/new-admin-bar-menu-item/), having a UI option to disable the below admin bar integration could be helpful for users:

<img width="1156" alt="Site Kit admin bar integration" src="https://user-images.githubusercontent.com/8108643/75813496-ea670200-5d44-11ea-82f0-90786fcb4406.png">

Currently, the filter belo

[2020-03-04 04:23] timnolte commented on #1167
Confirmed this is fixed in the most recent release.

[2020-03-04 04:23] #1167 closed

[2020-03-04 09:40] aaemnnosttv commented on #1083
@tofumatt this should be ready for review, with the exception of the added webpack alias for `test-utils`. That part didn't want to work for some reason, so that part is not included.

[2020-03-04 10:17] aaemnnosttv commented on #944
Okay, that makes things easier for sure. I thought the plan was to decouple these modules in the future so we would need a shared setting for this kind of thing. I'll update the IB now 👍

[2020-03-04 10:32] aaemnnosttv commented on #1196
Builds for pushes to `master` are now included as of #849.

+1 for adding builds for each tag 👍

* https://github.com/google/site-kit-wp/wiki/refs/heads/develop/google-site-kit.zip
* https://github.com/google/site-kit-wp/wiki/refs/heads/develop/google-site-kit-dev.zip
And as soon as this is merged to master, we'll also have:
* https://github.com/google/site-kit-wp/wiki/refs/heads/master/google-sit

[2020-03-04 14:24] adamsilverstein opened #1207 "Analytics: enable support for automatic event tracking"
## Feature Description
**Add automatic Analytics tracking for key events.**

Related: https://github.com/google/site-kit-wp/issues/26

[autotrack](https://github.com/googleanalytics/autotrack) is a JavaScript snippet that _provides default tracking for the interactions most people care about_.

In particular, adding the `autotracker` script in Site Kit would enable automatically tracking the follo

[2020-03-04 14:39] swissspidy commented on #1163
FYI this is actively being worked on in https://github.com/WordPress/gutenberg/pull/20555

Using that PR, those issues with the text domain could be fixed automatically instead of manually.

[2020-03-04 14:45] swissspidy commented on #820
FYI I am working on this in https://github.com/WordPress/gutenberg/pull/20574 so these issues can be caught automatically.

[2020-03-04 14:46] swissspidy commented on #1163
Oh, and with that PR we can also automatically tackle #820.

[2020-03-04 14:46] swissspidy commented on #175
Closing in favor of #1163

[2020-03-04 14:52] majemedia opened #1208 "call_user_func warnings raised when using wp-cli"
## Bug Description

[code]

[code]

## Steps to reproduce

1. Run `wp plugin list`
 - see warnings above plugin list table
1. Run `wp plugin list --skip-plugins=google-site-kit`
 - no warnings above plugin list table

## Additional Context

This seems to be environment specific and I can't duplicate on a server running PHP 7.4 (shrug)

- PHP CLI Version: `PHP 7.2.24-0ubuntu0.18.04.3 (cli)`
- PHP F

[2020-03-04 15:45] aaemnnosttv commented on #1163
That's great news @swissspidy! I assume we would have to be using the latest 4.x version of the ESLint plugin to take advantage of this, once merged? I touched on this recently in https://github.com/google/site-kit-wp/issues/520#issuecomment-592505436

[2020-03-04 15:58] swissspidy commented on #520
There is also a ruleset without any Prettier formatting at all, FWIW.

[2020-03-04 16:02] swissspidy commented on #1163
Most conveniently, yes. But if you want to tackle this specific issue already today you could also check out those Gutenberg PRs locally, build everything, and use `npm link` to leverage that development version of the ESLint plugin here in Site Kit. Then, you could temporarily change the ESLint config to only use that one single rule, and run the fixer.

This way you don't have to wait for the up

[2020-03-04 16:36] adamsilverstein commented on #1207
Note: an alternative to the 'autotrack' script is figuring out a way we can enable [Analytics Enhanced Tracking](https://support.google.com/analytics/answer/9216061?hl=en).

[2020-03-04 17:35] felixarntz commented on #1194
@aaemnnosttv Potentially a link to the "Dashboard" (or splash if not connected) would be more suitable here? While most plugins have a "Settings" link I'd argue this is largely because for these plugins their "Settings" is the central entry point to the overall functionality. For us however, that is the "Dashboard".

I'd say this is mostly for discoverability, rather than providing a link to the p

[2020-03-04 18:22] aaemnnosttv commented on #520
Thanks @swissspidy - I recall seeing something about that since my last comment as well. I'll take another look. It might be a good idea to adopt Prettier in the future, but opting out of that at first is probably the smaller+safer incremental change 👍

[2020-03-04 18:42] felixarntz commented on #1034
@aaemnnosttv Often times, the home URL and site URL options are updated within the same request, so with your current IB it would issue two requests then. And actually they may result in problems because as soon as the home URL and site URL no longer differ (more explicitly, if the site URL no longer starts with the home URL). Let's change this so that whenever one of them changes, a single reques

[2020-03-04 19:47] tofumatt commented on #1174
I'm a bit confused by this part of the brief—what does that entail in code? `INITIAL_STATE` is the uninitialised state code used to bootstrap a store, but I don't understand why we'd merge one store's `INITIAL_STATE` into another.

From the sounds of this issue we want to add notifications to `core/site`; based on the approach in #999 I'd think that would entail a new file (similar to `assets/js/g

[2020-03-04 20:57] felixarntz commented on #1174
The notifications "store" wouldn't be an actual store, but it would have its own `INITIAL_STATE` like what we were talking about for #1162 earlier (merging "sub-stores" initial state into the actual store's `INITIAL_STATE`).

Good point, that makes sense. I'll update the IB.

[2020-03-04 21:02] adamsilverstein opened #1209 "Request new analytics.provision scope"
## Feature Description

* Add the new provisioning scope the the scopes requested by Analytics.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When Analytics is activated (for the first time), the scopes requested should include `https://www.googleapis.com/auth/analytics.provision`. During the user's

[2020-03-04 21:04] adamsilverstein opened #1210 "GA Provisioning"
Users should be able to create a new account with minimal disruption within Site Kit’s UI.

We will build GA account provisioning in Site Kit using the [Analytics Account provisioning API ](https://developers.google.com/analytics/devguides/config/provisioning/v3/user-controlled)(only redirecting for the required step of accepting the GA TOS).

[2020-03-04 21:10] adamsilverstein commented on #1209
I went ahead and added AC & IB details here since it is straightforward, please adjust if I missed something.

[2020-03-04 21:33] adamsilverstein opened #1211 "Introduce Analytics account provisioning JS datastore actions/selectors and component"
## Feature Description

Show a helpful screen to users who don't have an Analytics account, they get a setup screen with a "Setup Account" action button. (Note: the exact UI/language for this screen is still to be determined.)

### Details
When activating Analytics, the user first goes thru the auth flow, then arrives at the Analytics setup screen. When no user account is detected, the view should

[2020-03-04 21:42] adamsilverstein opened #1212 "New data handler for Analytics `provision` requests"
## Feature Description

New endpoint for Analytics `create-account-ticket` POST:
 * Accepts all the fields from the "New Account" screen
 * Queries the provisioning API to start the account creation process.
 * Redirects the user to the TOS on success

### Details

* The endpoint uses the client to call the [createAccountTicket](https://developers.google.com/analytics/devguides/config/provisioning

[2020-03-04 21:57] tofumatt commented on #1174
Ahhh, gotcha! Yeah, I feel like we need to use a name for those—I'm happy with "sub-store" 😄

In that case, creating a sub-store for notifications sounds good.

One thing to note, having looked at the PRs where notifications are handled thus far (https://github.com/google/site-kit-wp/pull/1205/files#diff-084d6f9b3b4d5a065e515e4b91e750d3R32-R35). The idea that there are server and client notificati

[2020-03-04 21:58] tofumatt commented on #1174
IB ✅

I'd prefer if we grouped notifications how I mentioned when implementing this, but this approach sounds good.

[2020-03-04 21:58] adamsilverstein opened #1213 "Handle TOS response"
## Feature Description

Once the user completes (or declines to complete) the Terms of Service, they are redirected back to the site. Handle successful responses and failures.

### Details

After the user takes some action on the TOS page then they will be redirected back to the `redirectUri` specified during account ticket creation. The response from the TOS page will be included as part of the q

[2020-03-04 22:27] felixarntz commented on #1178
@aaemnnosttv If everything is clear and sounds good to you here, feel free to immediately go ahead with a PR (as the IB would likely match the ACs here).

[2020-03-04 22:35] Netchip opened #1214 "SITE KIT will not accept my URL"
## Bug Description

The putty is : xn--resistnciademocrtica-xxb1q.com
The Site URL is : https://resistênciademocrática.com/

But site kit does not want either ???

what do I do NOW ?????

[2020-03-04 22:58] tofumatt opened #1215 "Add documentation for core/site and datastore"
## Feature Description

Because of the size of #999 and the amount of code to review in #1162—as well as it blocking other issues—we omitted the documentation in the review/PR. We should add JSDoc comments to all new methods in that PR.

Additionally, @felixarntz and I discussed removing the `.private.js` file approach and marking private functions with the `@private` JSDoc param, which I think we

[2020-03-04 23:43] felixarntz commented on #1000
@tofumatt Regarding the PHP output to pass the information to JS:
* Wherever a relevant value is already part of `_googlesitekitBaseData`, that value should be used from there (i.e. `googlesitekit-base-data` should become a dependency of `googlesitekit-datastore-site`).
* Whatever is not already in there, should become part of the new `_googlesitekitSiteData`, which should be registered in PHP as

[2020-03-04 23:59] felixarntz commented on #1215
IB ✅

[2020-03-05 00:06] felixarntz commented on #1163
IB ✅

[2020-03-05 00:21] felixarntz commented on #1183
@tofumatt A couple things are missing here. See PR review. Let's proceed from there. The IB is _kinda_ complete, except maybe stating that the filter should use slugs rather than generically saying strings.

[2020-03-05 00:33] felixarntz commented on #969
IB ✅

[2020-03-05 00:35] felixarntz commented on #944
There is that plan, but it's still very vague and actually quite complex to scope out. We can deal with that when we get there.

[2020-03-05 00:35] felixarntz commented on #944
IB ✅

[2020-03-05 00:37] felixarntz commented on #1129
IB ✅

[2020-03-05 00:42] felixarntz commented on #1155
IB ✅

[2020-03-05 00:45] felixarntz commented on #464
IB ✅

[2020-03-05 00:55] felixarntz commented on #1107
I'm not entirely sure this is worth implementing, especially with the current IB as we'd be pulling in a dependency (which btw explicitly states not to use it!) only to address a shortcoming of an older browser. Yes we technically should support about 2 versions back, but I'd argue it's definitely not worth pulling in a dependency only for Safari 12.

Let's try to find an alternative solution that

[2020-03-05 07:27] aaemnnosttv commented on #1034
That's a good call, although hooking the request later itself would still result in two calls so I don't think that's necessary. Instead we can have the callback unhook itself from both, so that it only runs once per request, regardless of which hook triggers it.

The other changes sounds good. I'll update the IB.

[2020-03-05 07:36] cole10up commented on #1198
Confirmed post develop deploy that assets/vendor no longer exists.

![image](https://user-images.githubusercontent.com/57115907/75958333-d7515080-5e70-11ea-91bd-9c0f143ee859.png)

Passed QA ✅

[2020-03-05 09:19] jamesozzie commented on #1214
@Netchip Thanks for reporting. Unfortunately at present domains with non standard characters are unsupported. We are working on extending support which will allow for you to complete setup as expected. You can find out more in the related issue, #794.

Feel free to add any input to that issue.

[2020-03-05 09:19] #1214 closed

[2020-03-05 09:39] aaemnnosttv commented on #1178
This is a problem because this route supports GET and POST, and our data API doesn't support passing `data` as query parameters for GET requests. `apiFetch` also fails if `data` is passed for GET requests.

Instead, I changed `core/modules/data/info` to `core/modules/data/{slug}` - let me know what you think.

Keep in mind that `data` passed via parameters in `data.set` comes through as `$request[

[2020-03-05 10:39] aaemnnosttv commented on #196
@marrrmarrr @felixarntz I think this one can be closed in favor of #169 which will be included in the upcoming release.

[2020-03-05 10:43] aaemnnosttv commented on #172
Closing this in favor of #1196 and #603 which delegates release building and deployment to GitHub Actions.

Current release building related documentation is found here:
https://github.com/google/site-kit-wp/wiki/Releases

[2020-03-05 10:43] #172 closed

[2020-03-05 14:09] tofumatt commented on #1173
The approach here is correct but incomplete.

The issue with the approach here is that calling the selectors alone from another selector won't trigger the asynchronous action. Each selector (`isConnected()`, `isResettable()`, etc.) needs to have a resolver that triggers the `*getConnection()` resolver. This isn't too much boilerplate or effort, and still works fine.

So we'll need to add "create a

[2020-03-05 14:12] tofumatt commented on #1173
Oh, one other note: if we're adding discrete selectors for these bits of data, I'd argue we should mark `getConnection()` as `@private`. There's no reason to expose it to the public if we have better, more discrete selectors that don't expose the entire, complex object to developers.

[2020-03-05 15:40] aaemnnosttv commented on #969
@felixarntz this one ended up being slightly more work than expected due to separate icons used for disabled and active module states. Rather than updating the disabled variant, I opted to remove these and style the normal/active icon as disabled instead (probably what we all thought was happening anyways). This has the benefit of less work needed to add modules in the future or (in this case) upd

[2020-03-05 15:47] aaemnnosttv commented on #969
Actually, it turns out that the Tag Manager icon was correct, as the comparison only failed in a single test+viewport. This leads me to think that it may be one of the strange fluke renders that causes VRT to randomly fail sometimes. At any rate, it's still better to only have a single icon per module rather than two, and VRT didn't notice a change between the previous version and the new one usin

[2020-03-05 16:09] felixarntz commented on #1034
@aaemnnosttv

That wouldn't really be enough I believe. We must only issue the request _after_ both URLs have been updated, and the only way to "kind of make sure" that's the case is by hooking into a very late action (like `shutdown`) as soon as one of the two gets updated. If the other than gets updated in the same request (which again is likely), then we'll have both the latest versions by the

[2020-03-05 16:10] aaemnnosttv opened #1222 "Webpack bundles not extracting common dependencies properly"
## Bug Description

The JS bundles generated for each entrypoint in Webpack are unnecessarily bundling many common vendor dependencies in the entrypoint bundle rather than extracting to a vendor chunk.

Report as of 302118a1c61f8c0353e7765b613882010b1b014f using [`webpack-bundle-analyzer`](https://github.com/webpack-contrib/webpack-bundle-analyzer):

[report.html.txt](https://github.com/google/sit

[2020-03-05 18:10] aaemnnosttv commented on #1034
Yeah, that makes sense as we need to wait for both to be updated before making the call. IB updated 👍

[2020-03-05 18:12] felixarntz commented on #1173
@tofumatt

Okay cool. Are there any potential side effects from this? Like if a component calls `isConnected` and `isResettable` right next to each other, it's not going to issue the request from the resolver twice right? That's what I'd want to avoid (this may be a noob store question 🙂).

That kind of makes sense, but should a component need to cater for that? Like what would a component (e.g. o

[2020-03-05 18:32] tofumatt commented on #1173
Not at all a noob question! 😄If we were using a vanilla `redux-saga` setup, we'd have to declare how we want subsequent async handlers to behave. It's a bit more manual (but flexible) in vanilla setups.

The way `@wordpress/data` uses resolvers is that they are a first-time-called side effect: https://developer.wordpress.org/block-editor/packages/packages-data/#resolvers. Some of our existing reso

[2020-03-05 18:38] felixarntz commented on #1173
@tofumatt

Perfect, and good to know, thanks!

I see the reason why we would do that, I'm just wondering about the trade-offs in the code we need to write. Every component using these selectors would need to include logic to check for the `undefined` value, particularly in the case of objects/arrays where a simple `! value` wouldn't do it. It wouldn't be great if every component needed to support

[2020-03-05 19:00] felixarntz commented on #1034
IB ✅

[2020-03-05 19:12] felixarntz commented on #1196
@aaemnnosttv @tofumatt
Actually I'm wondering about the need for this change now. `master` is important, but having builds for the tags would be more like "nice to have". Having a build for the latest `master` is already sufficient to take away the work from me to build the release ZIP locally. We are currently only creating tags right before deploying to .org basically, so that wouldn't really af

[2020-03-05 20:09] tofumatt commented on #1173
My experience is that this is exactly the right thing to do—the more explicit we are with checking types and not making the assumption that `false`-y equals "empty" is good. Though for things like arrays or objects, you _could_ check for `! value`, because an empty array is still truthy:
<img width="122" alt="Screenshot 2020-03-05 at 20 01 49" src="https://user-images.githubusercontent.com/90871/7

[2020-03-05 20:37] tofumatt commented on #1101
The IB here sounds good. The aim being to improve the code incrementally and make way for future refactors sounds good.

The new components especially are a good call 👍

One thing to note on "New components should follow JSR guidelines for file structure"—we recently nixed the `.private` files (last of them are going away in #1215/1216), so we should make sure not to mirror that approach. But of c

[2020-03-05 21:17] felixarntz commented on #1173
@tofumatt Thanks for these explanations, those all seem sound to me. Let's go with `undefined` as initial value for store properties that need to be fetched first. I'd say we should still explicitly "define" them within `INITIAL_STATE` though (as `undefined`), to make clear what properties there can be - even though it would also work without that explicit definition.

[2020-03-05 21:20] felixarntz commented on #1173
@tofumatt IB ready for re-review. Let's prioritize execution for this for the coming release too, shouldn't be too much anyway.

[2020-03-05 21:37] aaemnnosttv commented on #1196
You could say builds for `master` would be like RCs if it hadn't been tagged yet. Builds for tags should be uploaded to the GitHub release IMO - I don't think there's much value in adding those to the wiki.

[2020-03-05 22:26] felixarntz opened #1224 "Register modules/analytics datastore"
## Feature Description

While we don't need to prioritize registering datastores for all the individual modules yet, we _should_ prioritize doing this specifically for Analytics already, as a pre-requisite for #1101.

This is effectively the first issue which is about refactoring existing code to use our new APIs. Hence, there may be some quirks to be figured out here, to set a solid baseline for

[2020-03-05 22:32] tofumatt opened #1225 "Simplify `collectionActions` to alias `collect` and add `addInitializeAction` utility function"
## Feature Description

Currently, `collectActions` adds a generic `initialize()` action which is more than just collecting 😄. @felixarntz pointed out that we may have limited cases when we want to collect actions without adding an `initialize` action. While _technically_ one could just use `collect` over `collectActions` in that case, I think it's best to be a bit more functional in our approach

[2020-03-05 23:34] tofumatt commented on #1173
Yes, absolutely! I should have mentioned that but I agree. Our `initialState` should always serve as at least an outline of our store's shape, so have the main keys initialised as `undefined` explicitly is 👍 from me.

IB looks good, thanks for the detailed convo on this one!

IB ✅

[2020-03-06 07:38] matvez93 commented on #852
We want to use your extension in our company, are you planning to develop this functionality soon?

[2020-03-06 22:25] adamsilverstein commented on #1115
@ernee We recently resolved a bug that revoked tokens on all previous sites when the user hit the limit. The original limit still applies though, users will only be able to remain connected to 25 site/services at a time.

It is important to note that Site Kit will still place the required/specified tags on the user's site (so they are still collecting analytics data), the authorization is only req

[2020-03-07 06:09] hapesurya opened #1229 "No response"
## Bug Description

I already installed Site Kit plugin. I already followed the steps. and when I have to verify site ownership and click proceed button, There was no response after several attempts.

I already followed all step to fix issues in https://sitekit.withgoogle.com/documentation/fix-common-issues/

## Steps to reproduce

1. Go to Site Kit plugin
2. Sign in with Google (to verify ownersh

[2020-03-08 14:03] max23468 opened #1230 "Remove old analytics.js"
## Bug Description

I've connected Google Analytics but a report done with GTMetrix shows that I'm both using the old analytics.js qnd the new jtag. How can I use only the latter?

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version

[2020-03-09 00:51] drawcard opened #1231 "Two weeks worth of Google Analytics data missing"
## Bug Description

I logged in to Google Analytics today to check on site stats, and discovered that my site has not been recording any Google Analytics activity for 2 weeks, despite the fact that Site Kit is reporting that GA is connected.

I checked my site code in Incognito mode, and noticed that the usual GA script is not loading at all.

Can this missing data be retrieved?

This issue has al

[2020-03-09 04:54] cole10up commented on #1004
Smoke test with latest develop, connected all services and ran a series of functional tests. All good from a manual perspective.

![image](https://user-images.githubusercontent.com/57115907/76183924-47204d80-6187-11ea-99fe-2698ab83c6ee.png)

[2020-03-09 05:23] cole10up opened #1232 "Analytics stats graph is showing wrong year and no data 1.5.0"
## Bug Description

Removed 1.4.0 from my personal site, built and deployed 1.5.0 develop (attached)
[google-site-kit.v1.4.0.develop@226c1df37c.zip](https://github.com/google/site-kit-wp/files/4304755/google-site-kit.v1.4.0.develop%40226c1df37c.zip)

Setup Analytics and checked /admin.php?page=googlesitekit-module-analytics

Notice:
![image](https://user-images.githubusercontent.com/57115907/76184

[2020-03-09 05:48] cole10up commented on #1129
**Tested**

Setup PageSpeed module and navigated to setting:
![image](https://user-images.githubusercontent.com/57115907/76185960-05df6c00-618e-11ea-9bd3-87cb709d34be.png)

Visit dashboard link drives to the dashboard properly

See full details in PageSpeed Insights link drives user here: https://developers.google.com/speed/pagespeed/insights/ where user can enter in their URL.

Edit link drives u

[2020-03-09 11:12] jamesozzie commented on #1231
@drawcard While the statis the Analytics module may show as "Connected" you would also need the Analytics code snippet placed on your site, via Site Kit or another method. If you want to share your site URL I can check for the snippet. Alternatively can you confirm you have the [Analytics snippet option](https://i.imgur.com/c9Mcpf8.png) enabled?

Another scenario which has occured before was where

[2020-03-09 11:34] jamesozzie commented on #412
Closing as #1113 resolves this issue

[2020-03-09 11:34] #412 closed

[2020-03-09 11:42] jamesozzie commented on #1230
@max23468 Can you share your site URL and we can take a look. It may be a case whereby you are not using Site Kit to place the Analytics [tracking snippet](https://i.imgur.com/c9Mcpf8.png).

[2020-03-09 12:01] jamesozzie opened #1233 "Modules remain loading: no route was found matching the url and request method"
## Bug Description

![image](https://user-images.githubusercontent.com/41326532/76211050-475b3000-61fd-11ea-8100-290c18e5b832.png)

Reported issue whereby Site Kit module status (and possibly dashboard) are not populating.
`no route was found matching the url and request method
`
Website: [https://plotperty.com](https://plotperty.com)
Additional info: [WordPress topic](https://wordpress.org/suppor

[2020-03-09 12:02] max23468 commented on #1230
Thank you! I think I used only Site kit for Analytics.

I've just disabled maintenance mode so you can take a look

[2020-03-09 13:09] Tom-Woef commented on #1127
would be a feature that i like to see

[2020-03-09 14:29] ReeceHaigh opened #1235 "More than one user cannot edit sitekit without glitches"
## Bug Description

I set up sitekit on my login, Everything worked.
The SEO team on their login showed they needed to re authenticate with google, They did which caused my login to show I need to re authenticate, And we get stuck in this loop.
Even though they can login and have the same access to my google accounts analytics, Tag manager ect they cannot set them up.

## Steps to reproduce

On wo

[2020-03-09 16:31] tofumatt commented on #1224
Some thoughts on the description here 😄

All that sounds good. 👍Use "public APIs" (eg. `import Foo from 'googlesitekit-foo';`) whenever possible.) Internal imports should never be considered "public" APIs (if they were intended to be public, we'd export them), so this is a good setup.

All of the code in the existing `modules/` folder look like React components. Currently the Site Kit plugin puts

[2020-03-09 16:34] cole10up commented on #1202
**Tested**

Tested latest develop of 1.5.0

Logged into GA:
![image](https://user-images.githubusercontent.com/57115907/76235738-c5f9a280-61e8-11ea-9ae5-8e030f468ad1.png)

Installed SK and activated GA service, compared SK's stats with GA's stats

![image](https://user-images.githubusercontent.com/57115907/76235845-ed506f80-61e8-11ea-876b-abb07347256d.png)

Confirmed missmatch.

**Changed duration

[2020-03-09 18:15] felixarntz opened #1236 "Fix initial state uninitialized properties to use "undefined" as value"
See https://github.com/google/site-kit-wp/issues/1173#issuecomment-595498612

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Existing stores (`core/site`) should be modified to use undefined as their "uninitialized" value.
* The `INITIAL_STATE` properties that start as undefined should still be present

[2020-03-09 18:17] felixarntz commented on #1173
I split out the follow-up work into #1236. That part is more critical to be completed than the additional selectors. I'll move this issue here out of the release, let's just try to at least start work on it in Sprint 18.

[2020-03-09 18:28] tofumatt commented on #1083
(Issue approved, just needs @felixarntz to merge 🙂)

[2020-03-09 18:29] tofumatt commented on #1124
(Issue approved, just needs @felixarntz to merge 🙂)

[2020-03-09 18:33] felixarntz commented on #1224
@tofumatt
I mostly agree with all that you're saying, however let's keep the module-specific (module as in e.g. Analytics, Search Console, not technically JS module) pieces (components and store) separate. Modules are basically like extensions, and the modules that we ship are our "default bundled extensions". That should be reflected in how we organize our code as well. You could think about it a

[2020-03-09 18:51] tofumatt commented on #1224
Ah, that's a good point. Okay, with that in mind and the file structure you suggest that all sounds good.

In terms of setting an example for third-parties: I'd think that third-party modules would layout their code how they liked and end up with a webpack bundle same as us, so I'm not sure how useful this is to third-party developers, and again makes us think about where to store components rathe

[2020-03-09 21:51] felixarntz commented on #1224
@tofumatt

Totally agree with that. I think module-specific components should be in `assets/js/modules/{slug}/components-jsr` though. Most of the components currently within `assets/js/modules/{slug}` actually are entirely module-specific. There is definitely a ton of reusable things that we could split out from there, and anything that is reusable like that should go into `assets/js/components-js

[2020-03-09 22:03] felixarntz commented on #1224
@aaemnnosttv Can you take over the ACs for this one regarding which selectors and actions should be added?

[2020-03-09 23:14] tofumatt commented on #1183
The issue with the existing code wasn't that slugs weren't sent to the API, but that they couldn't be made from translated strings. Because there aren't many tests around this behaviour I went for the least-disruptive option first: use the strings that work as the key (they'll be converted by functions into usable slugs) and make the values the translated strings.

There's a bit more to this issue

[2020-03-09 23:21] felixarntz commented on #1183
Fair point. I think the changes outlined in https://github.com/google/site-kit-wp/pull/1197#pullrequestreview-369215742 would be worth including here - let me know how much work this will entail, and if it's more than 1-2 extra hours, we'll do that later.

[2020-03-09 23:25] adamsilverstein commented on #1202
I researched this and made some progress. I discovered the following:

* This query involves two date ranges (we use them for past period comparison in the chart).
* The code uses the "total" value returned by the API call, which appears incorrect in the plugin
* When I tested this on my personal site data, the returned number was off.
* The constructed dates for the query we send to the API seem

[2020-03-10 02:25] ernee commented on #1068
[@Tobias-Conrad confirmed](https://wordpress.org/support/topic/no-charts-loaded/) charts now loading. Thanks @squirrly ! Closing.

[2020-03-10 02:25] #1068 closed

[2020-03-10 05:56] cole10up commented on #1155
**Tested**

Installed latest develop and setup Analytics module after disabling all plugins.
![image](https://user-images.githubusercontent.com/57115907/76283793-d184b200-6258-11ea-92e9-f2065fe32936.png)

![image](https://user-images.githubusercontent.com/57115907/76283763-bdd94b80-6258-11ea-8559-38ec68c58ee7.png)

Installed and activated Google Analytics Plugin
![image](https://user-images.github

[2020-03-10 06:36] cole10up opened #1237 "Disconnecting from SK on latest develop throws 'Cannot read property 'splashURL' of undefined' error"
**Steps to reproduce**

Have the following configuration on the latest (attached) develop:

![image](https://user-images.githubusercontent.com/57115907/76285993-4d352d80-625e-11ea-9ccd-16fd8cd90c40.png)

Disconnect user from SK

Notice the following error occurs and user's instance of SK is no longer functional. Unable to reconnect.
![image](https://user-images.githubusercontent.com/57115907/76285

[2020-03-10 06:38] cole10up commented on #169
**Tested**

Installed and activated latest version of SK. Setup all services, checking Site Health info after

![image](https://user-images.githubusercontent.com/57115907/76284834-8c15b400-625b-11ea-9c49-8bb63185ece2.png)

![image](https://user-images.githubusercontent.com/57115907/76285256-8cfb1580-625c-11ea-9788-9dbe6148ab29.png)

![image](https://user-images.githubusercontent.com/57115907/76285

[2020-03-10 07:04] drawcard commented on #1231
Thanks @jamesozzie, my client doesn't wish for me to share the URL of the site. But I can add that Site Kit had been working fine up to that point, and had been placing the code snippet on the site. There were no other GA related plugins installed either, and no theme changes.

[2020-03-10 07:09] drawcard commented on #1231
Just reporting that I found the option that @jamesozzie had mentioned, and have turned it on. Thanks for pointing that out! But I'm not sure why it was switched off, possibly someone else had done it.

It would be nice if the plugin reported whether or not it was placing a snippet on the site, as it wasn't very obvious that there was this preference under the Analytics panel. Just a little label s

[2020-03-10 08:02] #1231 closed

[2020-03-10 08:08] aaemnnosttv opened #1238 "Enhance anonymous usage tracking label"
## Feature Description

The wording used for the anonymous usage tracking checkbox label is a bit off. It's also missing a period at the end.

Currently

Suggested
* Help us improve Site Kit by sharing anonymous usage data. All collected data is treated in accordance with the [Google Privacy Policy](#).

![image](https://user-images.githubusercontent.com/1621608/76291999-fa3b9480-62b6-11ea-95f9-01

[2020-03-10 08:20] aaemnnosttv commented on #1237
@cole10up Something seems to be wrong with the zip you provided.  I didn't see the same error as you, but I couldn't even load the dashboard
![image](https://user-images.githubusercontent.com/1621608/76292858-a9c53680-62b8-11ea-9a7a-496d76d22819.png)

Can you try again using the latest build here?
https://github.com/google/site-kit-wp/wiki/refs/heads/develop/google-site-kit.zip

[2020-03-10 10:01] max23468 commented on #1230
I've tried resetting my Analytics account and the plugin, but I still get two different js

https://www.googletagmanager.com/gtag/js?id=UA-158455317-1
https://www.google-analytics.com/analytics.js

[2020-03-10 10:18] jamesozzie commented on #1230
@max23468 Everything looks fine from your setup. I can check with the team but the Analytics and GTM script being called on your site seem fine, using the default scripts from each service. Can you share the full error as seen on GTMEtrix?

[2020-03-10 10:22] max23468 commented on #1230
It's not an error, but Analytics script should only call gtag.js script from GTM, as analytics.js has been deprecated since 2018: https://developers.google.com/analytics/devguides/collection/gtagjs/migration

Using both is a waste of resources, I think, and it seems that Site Kit is implementing both tags

[2020-03-10 10:26] jamesozzie commented on #1230
@max23468 Thanks for the update Max. Allow me to check with the team before reporting back.

[2020-03-10 10:29] max23468 commented on #1230
Also, the snippet from my analytics page shows only the global js tag:

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158455317-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158455317-1');
</script>

Probably the best solution is letting user choose to have gtag.js

[2020-03-10 12:28] jamesozzie commented on #1235
@ReeceHaigh In relation to the re-authentication issue there may be other factors impacting this notice, one being OAuth limitations (if using 25+ sites). You can find out more about the limitations [here](https://developers.google.com/analytics/devguides/config/mgmt/v3/authorization#invalid_grant), with updates on that limitation in relation to Site Kit at #520.

Looking at the screenshots provid

[2020-03-10 13:22] marrrmarrr commented on #1211
@adamsilverstein is it feasible here to skip the "configure Analytics" step to save the user a click? Can we do that on their behalf?

[2020-03-10 14:49] ReeceHaigh commented on #1235
@jamesozzie
    How many sites do you have Site Kit connected on (using the same Google account)?
2 Wordpress installs, 3 sites - One is a network site with itself and a subdomain (2), The other is a standalone site (1) (So 2 wordpress installs, 3 domains / public sites.).

    How many other administrators are connecting to an existing Site Kit setup?
1, The only admins on all wordpress sites are

[2020-03-10 14:52] ReeceHaigh commented on #1235
I'm not having trouble authenticating, The issue is that sitekit is not shared with other logged in wordpress admins, So i'm authenticated now but when the SEO team log in they are seeing the reauthenticate message. If they do that then when I log in, I get the message.

I'd rather authenticate with my account then anyone who logs in can see what I see, Analytics, Settings ect.

[2020-03-10 15:00] aaemnnosttv commented on #944
Bringing this back to execution due to a bug I found causing the opt-out script to be output in wp-admin.

[2020-03-10 15:03] ReeceHaigh commented on #1235
As a test I created a new user with an alternate email then logged in via a different browser - You can see it acts like sitekit has not been set up on the new user, Even though on my main one it is.

![Annotation 2020-03-10 150140](https://user-images.githubusercontent.com/55700746/76326233-44853b80-62e0-11ea-8c11-a3298bafaad9.jpg)

[2020-03-10 15:17] cole10up commented on #1237
I tried just now with the build you linked as well as added you to the instance. Still seeing the same experience.

![Site Kit by Google Dashboard ‹ Hellogoodbye — WordPress](https://user-images.githubusercontent.com/57115907/76327736-978ecc80-62a7-11ea-984a-df2fdb60b8be.gif)

[2020-03-10 15:26] aaemnnosttv commented on #1237
Thanks, that helps a lot. I'll take a closer look and follow up.

[2020-03-10 15:29] adamsilverstein commented on #1202
I have confirmed the numeric discrepancy with users is due to introducing the `ga:date` dimension in the query.

Querying the API for 90 days without the date range, my user total is `7094`:

![image](https://user-images.githubusercontent.com/2676022/76328221-a9c13880-62b0-11ea-8fe8-2f41ccc27c91.png)

Running the same query with the date dimension, my user total shows (inaccurately) as `7441`:

![

[2020-03-10 15:46] cole10up commented on #1092
**Tested**

Installed 1.2.0 and added Adsense, confirmed functionality of the dashboard.

Updated to 1.4.0 and verified Adsense is still functional.

![Site Kit by Google AdSense ‹ Hellogoodbye — WordPress](https://user-images.githubusercontent.com/57115907/76330703-69ab8700-62ab-11ea-99cc-12bb46d14608.gif)

Moving to L2 for more investigation

[2020-03-10 15:50] jonasskafte commented on #794
And there was silence...

[2020-03-10 15:57] adamsilverstein commented on #1235
@ReeceHaigh Hi, thanks for the bug report. To clarify in your original test, when the second user logs in:

* Are they a WordPress admin?
* Are they setting up Site Kit with their own Google account?

[2020-03-10 16:15] tofumatt commented on #520
QA ✅

This didn't seem to affect the app at all; many changes are documentation but the non-doc changes seem fine too.

JSDoc errors now throw warnings, and helpfully no errors/warnings are thrown by default.

[2020-03-10 17:20] tofumatt commented on #1083
QA ✅

Tests all run and imports work 👍

[2020-03-10 18:12] felixarntz commented on #1063
Moving this out of the 1.5.0 release, no reason for it to unblock the process (even though it's close to done).

[2020-03-10 18:53] jamesozzie commented on #1230
@max23468 I spoke with the team in relation to this and the Analytics.js script does not on the front end of your site by default, it gets requested via the gtm.js script when required, which is normal behavior. As you correctly mentioned the Analytics.js script should not be added to the markup of your site.

If you check the "initiator" tab when checking the Analytics.js network resource you'll

[2020-03-10 19:11] max23468 commented on #1230
Thank you for the clarification!

[2020-03-10 20:29] tofumatt commented on #1034
QA ✅(Code/approach looks good and setup still works fine.)

[2020-03-10 21:05] tofumatt commented on #1160
The only thing to note here is that the ["Learn more" link](https://github.com/google/site-kit-wp/pull/1203/files#diff-74bda441ac699b6ba3c20413cd45f751R248) is not very accessible to a screenreader, but aside from that this works as-intended and the code looks good.

QA ✅

[2020-03-10 21:12] tofumatt commented on #1124
QA, runs here and on Travis! ✅

[2020-03-10 21:13] adamsilverstein commented on #1202
To fix this issue, we should be able to add an additional data point that runs a query to obtain only the `ga:user` data for the entire period (without the dimension). I will work on the implementation brief.

[2020-03-10 21:14] tofumatt commented on #1178
QA ✅

Code looks good, routes are updated, and the plugin still behaves as-expected for the modified routes.

[2020-03-10 21:17] tofumatt commented on #1004
QA ✅

[2020-03-10 21:29] felixarntz opened #1241 "Stick to 3P verb doc guidelines in new JS APIs"
See https://github.com/google/site-kit-wp/pull/1216#pullrequestreview-372200751 (follow-up to that PR)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All function doc-blocks for new JS APIs (as of this issue, specifically anything in `assets/js/googlesitekit`) should start with a third-person verb.
*

[2020-03-11 06:14] cole10up commented on #464
**Tested**

installed 1.5.0 develop. Tried to 'view data'

![image](https://user-images.githubusercontent.com/57115907/76387551-74563280-6324-11ea-926c-428ed79ba4e4.png)

Confirmed we're not seeing empty traffic.

Passed QA ✅

[2020-03-11 06:27] cole10up commented on #1049
Confirmed the latest build functions.

Installed Tag Assistant.

![image](https://user-images.githubusercontent.com/57115907/76388485-8638d500-6326-11ea-9b93-618b9be1ed9b.png)

Need Dev assistance, as I'm not seeing what is shown on the QA brief

[2020-03-11 06:37] cole10up commented on #177
**Tested**

Disabled Javascript:

![image](https://user-images.githubusercontent.com/57115907/76389135-d06e8600-6327-11ea-9452-f596df144abe.png)

Confirmed the message is displayed:

![image](https://user-images.githubusercontent.com/57115907/76389240-0b70b980-6328-11ea-9275-9d78bb4ba12d.png)

Passed QA ✅

[2020-03-11 07:24] aaemnnosttv commented on #464
@cole10up Your screenshot is from the main dashboard, but this issue is specific to the details view (aka "dashboard details") for a single post/page. In your screenshot, this is reached by clicking the "View Data" button since the page is already selected there.

[2020-03-11 07:29] aaemnnosttv commented on #1049
You need to click **Record** first before Tag Assistant can inspect/observe events on the page. This is only needed at the beginning, not on every single page view.

![image](https://user-images.githubusercontent.com/1621608/76392700-c033c680-637a-11ea-9670-d57e846db10c.png)

[2020-03-11 08:05] aaemnnosttv opened #1242 "Release 1.5.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-03-11 08:31] aaemnnosttv commented on #1215
## ⚠️ QA

A few minor items to be fixed. I created a PR for these in #1243

[2020-03-11 09:41] #1230 closed

[2020-03-11 11:24] ReeceHaigh commented on #1235
@adamsilverstein Yes, Both accounts are full wordpress admins, and owners on the google tools.

Yes they used their own google account and linked up the sites shared tools.

[2020-03-11 12:41] tofumatt commented on #1215
Thanks @aaemnnosttv! The changes look good; shame JSDoc doesn't seem to flag them by default 😞

[2020-03-11 12:41] tofumatt commented on #1215
(Changes look good and PR approved; assigning @felixarntz to merge the PR.)

[2020-03-11 16:30] aaemnnosttv commented on #1215
Didn't realize there was a dedicated issue for the follow up issues (#1241) so this is a bit redundant to be in execution as well. I think it's okay to move to Approval but I'll check with @felixarntz about it.

[2020-03-11 17:47] felixarntz commented on #1224
@tofumatt I discussed the proposed actions and selectors with @aaemnnosttv for a bit. I would like to avoid the `context` parameter/option throughout, as it is overly verbose and there is currently no need for us to have it. I understand the thinking behind it, but there is most likely nowhere in current Site Kit behavior where we would need to have the current (potentially client-side updated) _a

[2020-03-11 18:10] felixarntz commented on #1224
@aaemnnosttv @tofumatt Another thought: I see some of the actions you defined actually retrieve data rather than changing any (e.g. `getAccountsPropertiesProfiles` etc). These should probably be called `fetch...` instead, and we should have selectors for them.

More specifically: The `getAccountsPropertiesProfiles()` should be something internal, and it should rather be `fetchAccountsPropertiesPro

[2020-03-11 18:16] felixarntz commented on #1000
@tofumatt Would be great if you could prioritize this issue and #1224 (once that's fully defined) over the next days/week as #1101 (which @aaemnnosttv will work on) will require parts of both.

Let's make sure to fully stick to the selectors/actions naming outline we put together in both of the store issues, as the work on #1101 needs to already start in the meantime, assuming that those will be t

[2020-03-11 18:17] felixarntz commented on #1215
I'll move this to approval, we can deal with the follow-up outside of the release via #1241.

[2020-03-11 18:38] aaemnnosttv opened #1244 "Register module settings REST Routes automatically"
## Feature Description

Currently Module classes that support settings implement their own datapoints for updating settings in each class. This is unnecessary and may lead to inconsistency between datapoints when they don't require any special handling.

Also, no modules currently implement a `GET` method for the settings datapoint.

Since datapoints are mostly a mechanism to make batch requests p

[2020-03-11 18:48] aaemnnosttv opened #1245 "Simplify module settings in module JS info"
## Feature Description

Currently, the base `Module::prepare_info_for_js` method does not add a module's settings into the module info. Instead, module sub-classes individually overload this method and add their settings to it.

Now that Module classes are settings-aware, we can add this from the base method automatically for modules that implement `Module_With_Settings`.

---------------

_Do not

[2020-03-11 18:50] felixarntz commented on #1245
IB ✅

[2020-03-11 19:06] aaemnnosttv opened #1246 "Add support for preloading REST requests on page load"
## Feature Description

As we move to a fully datastore-based data layer, we want to make most (if not all) data fetched by resolvers available via REST endpoints. The data that is cheap to gather and provide is currently set to a global variable on page load (similar to `wp_localize_script`). This data should also be available via REST endpoints. In these cases, the responses to these routes can

[2020-03-11 19:32] felixarntz commented on #1244
@aaemnnosttv Overall IB ✅, with two additional remarks:
* Would it make more sense to also allow for partial settings to be passed? I'd say no for now, but wanted to add it as a consideration.
* Let's make sure there is no discrepancy in any of the existing three `POST:settings` datapoints with the intended generic behavior - if there is, we may need some backward-compatibility patches.

[2020-03-11 22:09] cole10up commented on #464
**Tested**

Checked member without an Analytics account on the View Data page for single page stats:

![image](https://user-images.githubusercontent.com/57115907/76468814-15d39780-63aa-11ea-8603-21a67cbf69b4.png)

Checked member with Analytics account on the View Data page for single page stats:

![image](https://user-images.githubusercontent.com/57115907/76468889-4b788080-63aa-11ea-821e-7ea9265fc

[2020-03-11 23:30] tofumatt commented on #1224
Agreed, but I'm trying to work out how that works. The issue with the resolvers is that they mark themselves as "fulfilled" after the first time a resolver completes. Gutenberg's code implies that there is a way to override this behaviour and manually:

* mark the resolver as fulfilled and also
* invalidate a fulfilled resolver to it will fire the next time the selector is called

The approach for

[2020-03-11 23:58] tofumatt commented on #1224
So! Ignore my above comment because I missed that the selectors we would need to dispatch again have arguments and thus will run on first call!

@felixarntz is right that:

* `getAccountsPropertiesProfiles`
* `getPropertiesProfiles`
* `getProfiles`

should all be selectors. I totally missed that ones that would require re-fetches (running resolvers again) took arguments and thus our concerns about

[2020-03-12 00:32] felixarntz commented on #1224
I think we should have the following:
* Selectors:
    * `getAccounts()`
    * `getProperties( accountID )`
    * `getProfiles( accountID, propertyID )`
* Actions (internal):
    * `fetchAccountsPropertiesProfiles()`
    * `fetchPropertiesProfiles( accountID )`
    * `fetchProfiles( accountID, propertyID )`

The resolvers for each of the three selectors should call the respective fetch action.

Th

[2020-03-12 00:54] tofumatt commented on #1224
I wanted to clarify one thing about my recommended approach to action/selector arguments. I mentioned that when we were using both a value to set and a context for where to set it, there was sense in having an argument for the _data to set_ and an argument for the _metadata around where it should be set_. Given we're now always interacting with the "edit" context, I think it makes sense to nix the

[2020-03-12 01:09] felixarntz commented on #1224
@tofumatt Regarding your above comment: Mostly agreed, we should definitely not use objects for actions like `setAnonymizeIP` etc.

Regarding the object approach, I partly agree. I think there is a nuance you are not addressing above that we should think about before going with that, which is the requirement for certain parameters: In the case of e.g. `getProfiles( accountID, propertyID )` both of

[2020-03-12 01:13] felixarntz commented on #1224
One thing missing from the ACs:
* public selector `needsSettingsSave()` (please please please suggest a better name, I'm not sure :) ) --> would indicate whether current client-side settings are different from latest server-side settings
* internal selector `getSettings()` --> all the individual `get*()` for a setting would use that internally
* internal action `setSettings( values )` --> all the

[2020-03-12 01:14] felixarntz opened #1247 "Register modules/adsense datastore"
## Feature Description

As a prerequisite of #1014, we need a new `modules/adsense` datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new directory `assets/js/modules/adsense/datastore`.
* The datastore should be registered on `Data` (`window.googlesitekit.data`) with the nam

[2020-03-12 01:15] felixarntz commented on #1224
Related: I started defining ACs for #1247 - let's continue general discussion here though, and I'll update the ACs for that one according to what we decide here.

[2020-03-12 01:32] cole10up commented on #177
**Tested**

Site Kit plugin activation notice
![image](https://user-images.githubusercontent.com/57115907/76478418-dd41b700-63c5-11ea-861c-9d126650c30d.png)

Site Kit WordPress dashboard widget
![image](https://user-images.githubusercontent.com/57115907/76478567-59d49580-63c6-11ea-9cde-471010c8105e.png)

Site Kit splash (setup) pages
![image](https://user-images.githubusercontent.com/57115907/7647

[2020-03-12 02:47] cole10up commented on #1163
**Tested**

Flipped site language to Espanol
![image](https://user-images.githubusercontent.com/57115907/76482233-d66c7180-63d0-11ea-893a-ccdf047e6e8b.png)

Checked SK and I'm not seeing Spanish
![image](https://user-images.githubusercontent.com/57115907/76482346-20edee00-63d1-11ea-863f-116b94a86e7f.png)

[2020-03-12 03:14] cole10up commented on #969
**Tested**

Checked the following pages:

Connect more services
![image](https://user-images.githubusercontent.com/57115907/76483436-429ca480-63d4-11ea-8278-94ad8aa1f876.png)

Setup Optimize
![image](https://user-images.githubusercontent.com/57115907/76483463-521bed80-63d4-11ea-8292-ea8a551c73ac.png)

Connected Services
![image](https://user-images.githubusercontent.com/57115907/76483594-a6bf6880-

[2020-03-12 03:20] cole10up commented on #1163
<details>
  <summary>Click for Site Health Info</summary>

`
### wp-core ###

version: 5.3.2
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%year%/%monthnum%/%day%/%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /srv/users/user5532cec1/apps/use

[2020-03-12 06:07] cole10up commented on #944
**Tested**

Enabled Tag Manager after installing latest develop and Analytics Module

**Analytics**

**Navigating around Admin on the BE doesn't show any tags:**
![image](https://user-images.githubusercontent.com/57115907/76488796-c1e5a480-63e3-11ea-9276-95f85e4b54ce.png)

![image](https://user-images.githubusercontent.com/57115907/76488805-ca3ddf80-63e3-11ea-9413-db12e9df9969.png)

Navigated to F

[2020-03-12 06:18] cole10up commented on #944
Update:

Seems my container wasn't published.

**Retesting**
Navigated to FE while logged in checked Tag Assistant:
![image](https://user-images.githubusercontent.com/57115907/76492646-f8c0b800-63ed-11ea-8d8e-1adaa2997ed2.png)

Checked console
![image](https://user-images.githubusercontent.com/57115907/76492701-155cf000-63ee-11ea-94d0-319097a06f23.png)

Navigated to FE while not logged in and chec

[2020-03-12 06:38] cole10up commented on #944
Checking page views while logged in:
![image](https://user-images.githubusercontent.com/57115907/76493949-16dbe780-63f1-11ea-9237-7cf0e7c88aa1.png)

**Checking page views while not logged in still showing 0...**
![image](https://user-images.githubusercontent.com/57115907/76494053-4f7bc100-63f1-11ea-8883-4fd87eb60110.png)

[2020-03-12 06:59] cole10up commented on #944
Adjusting my Tag to target my property ID for the variable fixed things. Seeing a positive test now.

Signed out and navigating to FE

![image](https://user-images.githubusercontent.com/57115907/76495426-142ec180-63f4-11ea-877e-61633eb7b94b.png)

Also seeing tracking in GA
![image](https://user-images.githubusercontent.com/57115907/76495450-21e44700-63f4-11ea-940e-67101414da84.png)

Passed QA ✅

[2020-03-12 08:09] aaemnnosttv commented on #177
Thanks for the follow up screenshots @cole10up. I think they may be out of order or missing a few though.

To clarify a few things:

* The setup/splash page is where you land if you click _Site Kit > Dashboard_ in the admin menu but it hasn't been set up yet. This one (you labelled as "Activation notice")
![image](https://user-images.githubusercontent.com/1621608/76499928-4c5fef80-6448-11ea-97e6-9

[2020-03-12 08:22] aaemnnosttv commented on #1163
@cole10up It depends on what you do first.

If Site Kit is already installed and then you switch the site language, you'll need to go to _Dashboard > Updates_ (_Escritorio > Actualizaciones_)  to install the translations.

1. Click **Actualizar las traducciones** at the bottom
![image](https://user-images.githubusercontent.com/1621608/76501311-b4afd080-644a-11ea-8876-034f2c277108.png)
1. See Site

[2020-03-12 09:05] aaemnnosttv commented on #1183
## QA ✅

* Tested that Site Kit in `es_ES`
* Updated local translation to include new `Last %s day` and `Last %s days`
_These should really be `%d` and include a `translators:` comment_
* Checked that the correct date range slugs were sent in the requests for each available date range
![image](https://user-images.githubusercontent.com/1621608/76504943-4a4e5e80-6451-11ea-876e-8d2940a3c99d.png)
![im

[2020-03-12 09:11] aaemnnosttv commented on #1236
## QA ✅

* Checked all store initial state objects use `undefined` for unset state
    * This only affected the state for `connection`, as the only other state keys are `doing*` state which can be set initially since these are more internal flags.

[2020-03-12 09:31] aaemnnosttv commented on #1225
## QA ✅

LGTM 👍

[2020-03-12 09:47] aaemnnosttv commented on #999
## QA ✅

* [x] There should be a JS file `googlesitekit-site.js` that is registered in PHP as `googlesitekit-site`.
Changed to `googlesitekit-datastore-site.js` and `googlesitekit-datastore-site`.
* [x] The script should depend on `googlesitekit-data` and `googlesitekit-api`.
Depends on `googlesitekit-data` which depends on `googlesitekit-api`
* [x] The script should register a `core/site` store o

[2020-03-12 10:21] aaemnnosttv commented on #1224
This is essentially dirty-checking so perhaps `areSettingsDirty()` would be an appropriate name here?

When we persist settings to the server, and update the saved settings in state, would we use individual `setSaved*( value )` internal actions for that or a single `setSavedSettings( value )` ?

@tofumatt there is one case where we would need to make the request again, even if no parameters had ch

[2020-03-12 11:04] jamesozzie commented on #971
@ernee While I can't reproduce this validation error I can see the [fallback](https://github.com/ahmedkaludi/accelerated-mobile-pages/blob/5c7e0af1b02ea1e343412c246dd5949310e377fa/templates/template-mode/template-mode.php#L21) hook is used in the AMP for WP templates to place the Site Kit Auto ads for AMP code. Maybe we can take a look at this later if you're free.

The image below shows the code

[2020-03-12 11:24] demiromer commented on #971
Its been over a month @jamesozzie and I have already replaced the plugin

[2020-03-12 13:52] adamsilverstein commented on #1115
I re-tested this by setting up 27 sites, adding analytics all using the same account. Everything worked well this time, I was no longer kicked out of **any** of the sites. I didn't try going to 50 or more sites where another potential threshold exists (the setup process is time consuming).

I also tested disconnecting from the user menu of one site and verifying this no longer logged me out of oth

[2020-03-12 13:52] #1115 closed

[2020-03-12 14:28] marrrmarrr commented on #177
Verified this message appears on the main dashboard, single page stats, settings page.

[2020-03-12 14:28] #177 closed

[2020-03-12 14:29] marrrmarrr commented on #1129
LGTM.

[2020-03-12 14:29] #1129 closed

[2020-03-12 14:31] marrrmarrr commented on #464
Verified. LGTM

[2020-03-12 14:31] #464 closed

[2020-03-12 14:32] marrrmarrr commented on #969
Verified icon appears as intended in all UI settings.

[2020-03-12 14:32] #969 closed

[2020-03-12 14:33] marrrmarrr commented on #169
Looks good.

[2020-03-12 14:33] #169 closed

[2020-03-12 14:36] marrrmarrr commented on #1155
LGTM

[2020-03-12 14:36] #1155 closed

[2020-03-12 15:17] ernee commented on #971
@jamesozzie as discussed, I no longer get the error as well.  I suspect the AMP for WP plugin has added compatibility in version 1.0.7 per [their changelog]( https://plugins.svn.wordpress.org/accelerated-mobile-pages/trunk/changelog.txt).

[2020-03-12 15:19] cole10up commented on #1163
Thanks for the clarity @aaemnnosttv

**Tested**

Uninstalled SK, installed spanish and flipped site language to spanish:

Installing SK, the activation screen shows **anonymous tracking copy in English**:
![image](https://user-images.githubusercontent.com/57115907/76535975-f46dbc80-6438-11ea-8f39-94a3aab82509.png)

Dashboard activation screen:
![image](https://user-images.githubusercontent.com/571

[2020-03-12 15:37] cole10up commented on #1163
Confirmed with @aaemnnosttv and @tofumatt that the untranslated anonymous tracking is expected as this code changed.

Passed QA ✅

[2020-03-12 16:14] cole10up commented on #1049
**Tested**

Checked Tag Assistant on the Activation page via Dashboard
![image](https://user-images.githubusercontent.com/57115907/76541680-2be06700-6441-11ea-8c38-a4347624bffd.png)

Activation via Plugins page
![image](https://user-images.githubusercontent.com/57115907/76541910-81b50f00-6441-11ea-90b6-6f917f950d5a.png)

Settings page:
![image](https://user-images.githubusercontent.com/57115907/76

[2020-03-12 16:14] felixarntz commented on #1224
@aaemnnosttv

Hmm, I would prefer something that relates more to the "save" action. Otherwise we could also name `saveSettings` something like `cleanSettings` as in `makeSettingsNotDirty` :) Maybe `needsSaveSettings` (weird grammar too, but indicates relation with `saveSettings` action)?

Any internal actions related to API requests should be named `fetch{publicAction}` (for triggering the request

[2020-03-12 16:47] marrrmarrr commented on #731
Closing.

[2020-03-12 16:47] #731 closed

[2020-03-12 16:53] marrrmarrr commented on #1049
Verified these events are recorded in GA as well. LGTM

[2020-03-12 16:53] #1049 closed

[2020-03-12 17:01] marrrmarrr commented on #1183
Tested with Spanish as well.

[2020-03-12 17:01] #1183 closed

[2020-03-12 17:01] aaemnnosttv commented on #1092
Thanks to the trace provided by @jamesozzie I believe I was able to replicate this. It required a bit of forcing a particular code path but the error and trace it produced matches.

![image](https://user-images.githubusercontent.com/1621608/76545268-252e1000-6492-11ea-9b9a-6bb5fb51aac5.png)

The problem is that if `number` isn't a string (such as a `Number`), the `replace` method won't exist.

htt

[2020-03-12 17:23] logicelf commented on #852
+1 for this. Site Kit is great, and we'd like to use it across our sites - but like a lot of WP houses, we run in SaaS mode and give Editor logins (with user management caps) to our clients.

For Site Kit to replace third-party solutions, it really has to be accessible to users other than admins.

[2020-03-12 18:05] jamesozzie commented on #1237
Another user encountering this same issue from a WP support topic:
[https://wordpress.org/support/topic/cannot-read-property-splashurl-of-undefined/#post-12536451](https://wordpress.org/support/topic/cannot-read-property-splashurl-of-undefined/#post-12536451)

[2020-03-12 18:05] felixarntz commented on #1224
Leaving a note here that the property creation and profile creation should be split out (but not removed) from the `POST:settings` datapoint, into new `POST:create-property` and `POST:create-profile` datapoints.

[2020-03-12 18:16] felixarntz commented on #1246
@aaemnnosttv I wonder whether we can somehow tie the API routes that should be preloaded to the respective script handles in PHP.

I'd say we should certainly pass a `preloadPaths` property to the client via `_googlesitekitAPIFetchData`, and that should fire a filter like `googlesitekit_apifetch_preload_paths`. So at a minimum we could use that.

The problem if we want to tie it to the individual

[2020-03-12 18:23] #1034 closed

[2020-03-12 18:23] #1072 closed

[2020-03-12 18:23] #1198 closed

[2020-03-12 18:23] #520 closed

[2020-03-12 18:23] #1083 closed

[2020-03-12 18:24] #1160 closed

[2020-03-12 18:24] #1124 closed

[2020-03-12 18:25] #1178 closed

[2020-03-12 18:25] #1004 closed

[2020-03-12 18:25] #1215 closed

[2020-03-12 18:25] #1236 closed

[2020-03-12 18:25] #1225 closed

[2020-03-12 18:26] #999 closed

[2020-03-12 18:26] #1163 closed

[2020-03-12 18:44] #1242 closed

[2020-03-12 18:44] #944 closed

[2020-03-12 20:51] felixarntz commented on #1224
@aaemnnosttv We don't have an "Acceptance Criteria Review" column, but would be great if you could just ping me on Slack once you've iterated on the actions+selectors here and they're ready for a review.

[2020-03-12 21:01] aaemnnosttv commented on #1246
I may not be understanding what you mean 100%. I agree that it makes sense to add a filterable list of paths to preload to the APIFetchData, but I don't think we should couple `Script_Data` to preloaded REST Routes.

`Script_Data` are just dependencies. Even if they contain data that we want to preload via an API route, we don't need to make this class responsible for that. We still have to regist

[2020-03-12 21:58] felixarntz commented on #1224
Some feedback from looking at the current list of selectors/actions:
* We only need `getSettings()` and `setSettings( values )`. No need to have `getSavedSettings()` and `setSavedSettings( values )`.
* Saved settings should initially be set via the `getSettings()` resolver, via `fetchSettings` and `receiveSettings`.
* Saved settings should then be updated via the `saveSettings()` action, via `fetc

[2020-03-12 22:15] felixarntz commented on #1247
@aaemnnosttv @tofumatt Related to #1224, I've put together a list of selectors and actions for this one here. Let's make sure to keep both of these issues consistent in areas where they overlap (mostly naming).

[2020-03-12 23:30] adamsilverstein commented on #1211
@marrrmarrr -

Yes we certainly can with a redirect to the dashboard when everything succeeds.

My concern was that if we drop them right into the dashboard, they might not understand that the account setup worked. I guess we do show a success message on the Dashboard already "Congrats on setting up Analytics" (I guess I've become a little blind to this notice though). So technically possible, bes

[2020-03-13 00:01] #1241 closed

[2020-03-13 00:01] felixarntz commented on #1241
Skipped the rest of the queue for this one :)

[2020-03-13 01:11] felixarntz opened #1249 "Implement createSettingsStore helper for reusable and consistent settings stores"
## Feature Description

Most modules will require settings functionality in their store (see #1224 and #1247 for example). We've already discussed the public API for that quite a bit in these two issues. This issue is about introducing a JavaScript layer to make implementation of such stores trivial and consistent automatically.

Related issues for server-side changes: #1244, #1245

--------------

[2020-03-13 04:38] westonruter opened #1251 "AMP validation error for script with _gaUserPrefs"
## Bug Description

I just updated to Site Kit 1.5.0 and I got an AMP validation error on the frontend for a `script` containing:

[code]

## Steps to reproduce

1. Activate Transitional or Standard mode in the AMP plugin.
2. Access an AMP page.
3. Notice an AMP validation error reported in the admin bar.

## Screenshots

![image](https://user-images.githubusercontent.com/134745/76590062-5960fb00-

[2020-03-13 04:53] westonruter commented on #1251
The Site Kit admin menu item also doesn't do anything when I hover over it.

[2020-03-13 08:47] jonasskafte commented on #794
@adamsilverstein – thanks for having taken a look at this! 👍

@felixarntz – why did you remove it from the 'oh right' milestone?? You probably have a good reason, but just wondering why?

[2020-03-13 10:53] tofumatt commented on #1063
This is now good to merge; just assigning @felixarntz for the PR merge 🙂

[2020-03-13 11:26] jamesozzie opened #1253 "Only consider public posts for Site Kit entities"
## Bug Description

Site Kit main dashboard don't work as expected with WP User Frontend activated, with the following issues:
- PageSpeed Insights error: Data error in PageSpeed Insights
- Analytics & Search Console widgets: Gathering data

Individual dashboards work fine

Site Kit version version 1.5.0
WP User Frontend version 3.1.17

First reported in WordPress support form, and reproducible fr

[2020-03-13 11:52] tofumatt commented on #1224
I think this is looking good and it's best that we start moving forward with implementing this as defined in the ACs (the IB is essentially "implement the ACs" 🙂), and iterate on it in the pull request once we have the code and tests in front of us.

The discussion here is great but getting a bit long and unwieldy—I think we're in a good place with it now and don't want things to get confused.

@f

[2020-03-13 16:19] felixarntz commented on #1224
@tofumatt Sounds good to me.

I've made a few small changes to the ACs:
* `setExistingTag` --> `receiveExistingTag`
    * this is a side effect of `getExistingTag`, so it should follow our naming convention and use the same `fetch*` and `receive*` names (the `getExistingTag` util issues a fetch request, so we may want to do that call via a `fetchExistingTag` action)
* `setError` --> `receiveError`

[2020-03-13 18:22] adamsilverstein commented on #1202
Adding an IB that fixes the issue described here.

A couple of additional potential issues I noticed along the way:

* Our rounding may be off. In my case, the number I get back from the API for the user Query is 6852. This matches exactly what I see in Analytics:

![image](https://user-images.githubusercontent.com/2676022/76648213-e052b980-6523-11ea-89c8-09e2be4efdb8.png)

However, on the Analyti

[2020-03-13 18:35] adamsilverstein commented on #1202
@felixarntz over to you for IB review.

I have a working branch for this using the approach described which I built to verify the data accuracy. Once you approve the approach I can take on implementation and open a PR.

[2020-03-13 21:03] felixarntz commented on #1251
@westonruter @aaemnnosttv I'm currently trying to figure out what the proper way of opting out of GA tracking would be in AMP. While the current implementation brief (only output `amp-analytics` tag accordingly) would resolve the violation, it would still result in us not addressing what this change was actually supposed to address (#944).

The current PR looks good in case there's nothing else we

[2020-03-13 21:27] felixarntz commented on #1251
@westonruter @aaemnnosttv I actually just discovered something:
* https://github.com/ampproject/amphtml/pull/21362/files#diff-cb0347b1135d05dae7b0c034bca78900R412 introduces a general way to opt out of `amp-analytics` tracking based on a specific element being in the page.
* The default configuration for `type="googleanalytics"` sets this to `__gaOptOutExtension` (see https://github.com/ampproject

[2020-03-16 11:36] aaemnnosttv commented on #1251
It is not, apparently.

![image](https://user-images.githubusercontent.com/1621608/76754327-9d464f80-678a-11ea-9ded-413123228746.png)

I opted instead to use an empty `script[type="text/plain"]` which is [valid HTML](https://user-images.githubusercontent.com/1621608/76754628-2198d280-678b-11ea-9cb9-4ec6f6c85f6f.png) and [valid in AMP](https://amp.dev/documentation/guides-and-tutorials/learn/spec/a

[2020-03-16 12:01] L-X-T commented on #938
Yeah, please fix this!

[2020-03-16 12:13] jamesozzie commented on #1233
Another report of this same issue below, awaiting further information:
[https://wordpress.org/support/topic/no-services-will-work/](https://wordpress.org/support/topic/no-services-will-work/)

[2020-03-16 12:17] aaemnnosttv commented on #1251
Unfortunately, the AMP plugin currently reports 2/3 valid script types as invalid and removes them 😞
It's now using `application/ld+json` which is the only one it doesn't complain about.

Opened a new issue for this here https://github.com/ampproject/amp-wp/issues/4392

[2020-03-16 14:31] tobartels commented on #852
+1 for this.
restricting access to only the admin that installed it, makes this very nice plugin very impractical.
had to de-install it again because team couldnt access and its not possible to change all wp accounts to Gmail adresses.

[2020-03-16 15:16] westonruter commented on #1251
These script types are allowed only when they are used on the context of other AMP components. You can't add an application/json script anywhere. It had to be inside of an amp-analytics component, for example.

[2020-03-16 16:51] marrrmarrr commented on #1099
Idea from Felix and Adam: explore whether the chart library can display the exact start and end dates.

[2020-03-16 19:24] adamsilverstein opened #1254 "Send `analytics_redirect_uri` during site setup."
## Feature Description

The new Google Analytics provisioning feature relies on a callback URL which is loaded after the user completes the Terms of Service. This URL is passed requesting account provisioning and only a pre-registered route is allowed.

Store the approved callback route during site setup to check against during the provisioning request.

---------------

_Do not alter or remove an

[2020-03-16 19:37] marrrmarrr commented on #317
Hey @OisinOConnor, is there a more descriptive name you'd suggest for the section called "Other metrics"?

[2020-03-16 19:54] marrrmarrr commented on #532
@aaemnnosttv if we have anchors on the main dashboard to link the users to specific points in the page, that would be great.

[2020-03-16 20:08] marrrmarrr commented on #1193
as a status update -- we'll be rethinking where it would make the most sense to place these links as part of the overall visual redesign.

[2020-03-16 20:19] felixarntz commented on #1254
IB ✅

[2020-03-16 21:07] aaemnnosttv opened #1255 "Add E2E Tests for AMP integration"
## Feature Description

The plugin currently offers substantial integrations with the official AMP plugin, but there aren't any tests covering this yet.

Let's add a few E2E tests to cover important flows when the plugin is installed with the AMP plugin, both in standard (primary/AMP-first), and paired/secondary AMP configurations.

---------------

_Do not alter or remove anything below. The foll

[2020-03-16 21:17] felixarntz commented on #1251
I've QAd this via reviewing and testing #1252. ✅

[2020-03-16 21:18] #1251 closed

[2020-03-17 00:53] felixarntz commented on #1202
IB ✅

[2020-03-17 08:11] AkiraDegawa commented on #1092
Hello. i am using wordpress plan, when install sitekit this happen, as myself not programmer i don't know what to do to fix this, please help me.
![image](https://user-images.githubusercontent.com/19325623/76835340-7870db80-6861-11ea-864f-41732884ea1a.png)

[2020-03-17 11:31] aaemnnosttv commented on #1092
Hi @AkiraDegawa, this is a known issue and we're working on a fix for it. Unfortunately there likely isn't anything you can do at the moment. This should be fixed in an upcoming release, but I can't tell you exactly when that will be yet. Stay tuned here for updates.

[2020-03-17 11:44] gmmedia commented on #1127
Great idea

[2020-03-17 14:47] ThierryA commented on #794
Hi @jonasskafte, we are working on debugging this but don't have any update yet. We will post an update once we make progress on this.

Thanks,

[2020-03-17 15:55] max23468 opened #1257 "Add option to edit Analytics snippet"
## Feature Description

Editing the default snippet which is injected by Site Kit could be useful for people who need to disable additional features like Ads/Remarketing ones.
Otherwise an option to add additional code to existing Analytics script would be usegul.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cr

[2020-03-17 17:06] ernee opened #1258 "Dashboard UI to filter data by country"
## Feature Description

Provide a way for users to filter data by country from the dashboard.

Reported initially in [this support topic](https://wordpress.org/support/topic/search-console-filter-on-country/) where the user wanted to filter Search Console data for a particular country.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2020-03-17 20:38] tofumatt commented on #1249
For what it's worth I think this (and the accompanying PR) are good to go and should be moved along, as I've proceeded with #1224 assuming the settings store extender will be available to avoid re-implementing too much code 😄

[2020-03-18 11:22] ThierryA commented on #1114
@jamesozzie any insight from the forum side which indicates this is no longer an issue, other for users with more than 25 sites?

[2020-03-18 11:30] jamesozzie commented on #1114
@ThierryA All confirmed as resolved or awaiting user response(2). No users have reported the same issue since the plugin update. I think we can mark this issue as resolved, great work @adamsilverstein

[2020-03-18 12:59] jamesozzie commented on #1257
@max23468 Thanks for the suggestion. One of the main objectives of Site Kit is to make it easy for any user to integrate the various Google products, including Analytics into their site. While being able to edit the snippet would be useful for many it could also result in misconfigured tracking code if not implemented correctly.

If you're looking to place specific GA tracking code with additional

[2020-03-18 13:56] jamesozzie opened #1262 "http_request_failed error during setup"
## Bug Description

Some users who've attempted setup reported encountering an error as below, with setup not proceeding.
[code]
No screenshots available.

Some related WordPress topics below:
https://wordpress.org/support/topic/unknown-error-code-http_request_failed-2/
https://wordpress.org/support/topic/error-when-setup-2
https://wordpress.org/support/topic/unknown-error-code-http_request_failed

[2020-03-18 14:18] aaemnnosttv commented on #293
Closing in favor of #1107

[2020-03-18 14:18] #293 closed

[2020-03-18 14:24] tofumatt commented on #1107
IB ✅

@aaemnnosttv's new solution in #1261 looks great and solves this one 👍

[2020-03-18 14:42] adamsilverstein commented on #794
I've made some progress debugging this issue.

One problem I discovered is that we store our domains in the service as "punycode" like "http://xn--trkish-3ya.com" while the API we use to check for domains returns the unicode variation: "http://türkish.com/" - I fixed this in the service allowing site verification to complete, however the plugin also does a separate lookup after you complete the se

[2020-03-18 14:59] lukegood commented on #1262
I think I can provide some screenshots. These are my steps before I got this error.
Clicked the button to start.
[![8DdMB6.md.png](https://s1.ax1x.com/2020/03/18/8DdMB6.md.png)](https://imgchr.com/i/8DdMB6)
Cliked the button.
[![8DdKnx.md.png](https://s1.ax1x.com/2020/03/18/8DdKnx.md.png)](https://imgchr.com/i/8DdKnx)
Chose my account. (This picture is in Chinese.)
[![8DdmcR.png](https://s1.ax1x.c

[2020-03-18 17:18] cole10up commented on #1063
Ran a series of tests installing latest develop. Connecting all services, checking dashboards, uninstalling services, resetting SK and deleting SK.

Passed QA ✅

[2020-03-18 17:20] cole10up commented on #1245
Ran a series of tests installing latest develop. Connecting all services, checking dashboards, uninstalling services, resetting SK and deleting SK.

Passed QA ✅

[2020-03-18 18:33] aaemnnosttv opened #1263 "Move module features list to setup_info"
## Feature Description

Currently the base `Module::prepare_info_for_js` method is overridden by all modules (with the exception of AdSense), just to add the `provides` key which is a list of translatable feature descriptions.

Each module already needs to implement the `setup_info` method, which populates `Module->info`, the basis of the data passed to JS. We should move the list of provided feat

[2020-03-18 18:35] aaemnnosttv commented on #1245
QA ✅

[2020-03-19 00:26] felixarntz commented on #794
@adamsilverstein Can you write a rough IB about the necessary changes on the plugin side? Since this issue mostly talks about site verification and the current PR #1265 addresses Search Console issues, I wonder whether there's more to it. Although more of the fix is likely needed on our service, which we can discuss separately.

[2020-03-19 00:45] mikesale commented on #852
Views are useless if only an admin can see them, they'll end up going to the full website anyway. Please create a read capability!

Extra cool level of access: Option to let Authors and/or Editors can see any page/url specific content from Site Kit, but not overall site metrics.

[2020-03-19 02:26] felixarntz opened #1266 "Users getting stuck on splash screen without error feedback"
## Bug Description

One of the common issues still regularly reported on the support forums, even after #1034, is that users sometimes cannot seem to complete the setup flow, as in they land back on the splash screen after going through what appeared to be the successful setup.

To recap, these are the requirements for a site to be considered "set up":
* The site needs to have site ID and secret.

[2020-03-19 12:46] aaemnnosttv commented on #1266
IB ✅

Needs estimate still 😄

[2020-03-19 19:44] felixarntz commented on #1209
IB ✅

[2020-03-19 20:04] felixarntz opened #1269 "Finalize Analytics setup/settings refactoring with datastore"
This is a tracking task, to merge the branch [`refactor/analytics-data-store`](https://github.com/google/site-kit-wp/tree/refactor/analytics-data-store) to `develop` once all related refactoring has been completed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

##

[2020-03-19 20:08] felixarntz opened #1270 "Finalize AdSense module setup/settings refactoring with datastore"
This is a tracking task, to merge the branch [`adsense-setup-refactoring`](https://github.com/google/site-kit-wp/tree/adsense-setup-refactoring) to `develop` once all related refactoring has been completed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## QA Brief

[2020-03-19 20:08] felixarntz opened #1271 "Finalize GA account provisioning support"
This is a tracking task, to merge the branch [`feature/ga-provisioning`](https://github.com/google/site-kit-wp/tree/feature/ga-provisioning) to `develop` once all related work has been completed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## QA Brief

*

## Cha

[2020-03-19 20:25] gdgdd opened #1272 "Errors plugin not listed"
I have errors that are not listed with you, look at the screenshots of the errors and the plugins that are activated
I deactivated Monster, Wp Rocket; Ad insert
I installed this plugin to better place my advertisements: do I have to remove the other adsence scripts that I placed via the site theme, the ad insert plugin, and the composer page of the site

CAPTURES :

![capture 1  site](https://user

[2020-03-20 15:50] jamesozzie commented on #1272
@gdgdd Thanks for reporting. We're currently investigating this issue, which you can find out more about at https://github.com/google/site-kit-wp/issues/1092

Feel free to keep watch there or add any additional input to that issue.

[2020-03-20 15:50] #1272 closed

[2020-03-20 18:05] shanneygastelum commented on #1092
Hi. I have the same problem, I get the same error code in Google Site Kit. I have uninstalled, removed and reinstalled, but the same error continues.

Also, this is affecting my visit count on my site that tracks analytics and Adsense earnings. Since only less than a quarter of what is normally registered in AdSense is registered with the same traffic in terms of earnings.

The url of my page is w

[2020-03-20 19:25] ernee commented on #1092
@shanneygastelum  thanks for the details. I have [replied to you](https://wordpress.org/support/topic/adsense-site-kit-encountered-an-error-e-replace-is-not-a-function/#post-12566295) in the support forums, but also encourage you to open [a new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) so we can track your specific case. Thank you!

[2020-03-22 12:36] bviktor commented on #1092
Thank God, I thought it's only me...

[2020-03-23 02:45] shanneygastelum commented on #1092
I thought I was the only one! Could you please confirm if you are also logging visits in analitycs and adsense incorrectly?

In my case, what affects me the most is that, although the ads are displayed normally and for everyone on the page, in my account I am not registering almost any benefit, I have been like this for three weeks, I am worried about losing money.

So far I get no answer or solut

[2020-03-23 06:08] cole10up commented on #1233
Mocked the user above's WP setup including all plugins, installed all of them and activated. Setup all modules and checked functionality. Looked good. Was unable to reproduce on 1.5.1

<details>
  <summary>Click to expand for Site Health info</summary>
`
### wp-core ###

version: 5.3.2
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%year%/%monthnum%/%day%/%postname%/
https_

[2020-03-23 06:13] cole10up commented on #1253
@jamesozzie - Can you give this another try on your side? We've since released a hotfix and I see a new version of WP User Frontend. I have both new versions and unable to reproduce this.

[2020-03-23 09:07] jamesozzie commented on #1253
@cole10up LGTM. I tested with WP User Frontend 3.1.17 & 3.1.18. No issues from my side.

[2020-03-23 11:32] bviktor commented on #1092
Sorry @shanneygastelum I meant the `e.replace is not a function` error. I can't tell much about earnings and stuff, I don't really monitor that part, I just want the SiteKit plugin to work lol.

[2020-03-23 18:37] felixarntz commented on #1211
@adamsilverstein This is blocked by #1101 and at least deeply intertwined with that. Let's work on this one early next week, and check in later this week whether we can already do an IB based on where #1101 is at that point.

[2020-03-23 18:46] felixarntz commented on #1266
@cole10up You should be able to verify this by changing the site URL of the site right after (e.g. in another tab) going through the setup flow Google consent screen on the proxy - basically when you land in step 1. A change as simple as HTTP --> HTTPS or so should already be enough.

This should leave you come back to the splash screen with no explanation after seemingly successfully completing t

[2020-03-23 18:50] kabirbd89 commented on #1253
But, I am still getting problem on my site. WP User Fronted 3.1.18 and Site kit 1.5.1.

[2020-03-23 19:03] kabirbd89 commented on #1253
I just checked it in another site. Where both plugin are newly installed. And its look like okey. Whats wrong with my existing site! :(

[2020-03-23 19:45] kabirbd89 commented on #1253
Well got it, I tried it another website with fresh new install of both plugin and it was completely okey until I create a post form in WP User Fronted, Can you check again with a form. @jamesozzie

[2020-03-23 22:22] sviluppomania opened #1274 "Low Google PageSpeed score with active SiteKit."
## Bug Description

The Plugin causes a very low score in Google PageSpeed.
Why and why is it due?

## Steps to reproduce

## Screenshots

![image](https://user-images.githubusercontent.com/26438200/77368830-68736300-6d5d-11ea-9d1c-f4ecb3cd6796.png)

## Additional Context

 - PHP Version: 7.4.1
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari] chrome
 - Plugin Version [e.g. 22] 1.5.1
 - Device: [

[2020-03-24 00:06] IvanRF commented on #631
I think the Analytics graph shown at `/wp-admin/admin.php?page=googlesitekit-module-analytics` as `Audience overview for the last X days` could be reused in the dashboard widget.

In addition, that section already has a responsive layout, so it will look good too in the small dashboard widget space.

@aaemnnosttv @felixarntz what do you think about this?

The graph could be added to the widget by

[2020-03-24 05:06] westonruter opened #1275 "AMP Linker for Google Analytics adding _gl query param to validated URLs"
## Bug Description

On a site with Site Kit v1.5.1 active, which now enables linker by default for Google Analytics, when I try validating a URL via the admin bar menu item, I am taken to a validated URL screen with a `_gl` query parameter present. For more information on the `_gl` parameter, see https://developers.google.com/gtagjs/devguide/linker

That's not good because every time the admin bar

[2020-03-24 10:57] jamesozzie commented on #1274
@sviluppomania Site Kit operates primarily in the back end of your site, therefore not impacting the performance itself when visitors access your site.

From the front end you can check your source code and check the code snippets inserted via Site Kit. You’ll notice only minimal code is inserted, such as snippets to add Analytics tracking code or AdSense Auto ads. If you were to implement the var

[2020-03-24 10:57] #1274 closed

[2020-03-24 11:36] jamesozzie commented on #1253
@cole10up @kabirbd89 From testing today this same issue [remains](https://recordit.co/xAeqQa3gmQ) (without having to use a form).

I'll check other sites also

[2020-03-24 14:59] jamesozzie commented on #1148
If a user connects SC, Analytics, AdSense and PageSpeed Insights in particular the below text could be improved, or alternatively display the only remaining module, Optimize:
_Here are some other services you can connect to see even more stats:_

![EjrgYopeoLX png (3304×1260)](https://user-images.githubusercontent.com/41326532/77439915-8e414c00-6ddf-11ea-97a2-706c20c6ff13.png)

[2020-03-24 15:26] adamsilverstein commented on #1114
Confirming this overall issue has been resolved. We are no longer seeing regular reports from users that they need to re-authenticate. There are still some issues with setup being tackled elsewhere (eg unicode domains, domain mismatches), however the main issue with users loosing access to all sites is resolved. We have followed up with user support threads as well.

Closing this issue as resolved

[2020-03-24 15:26] #1114 closed

[2020-03-24 16:15] aaemnnosttv commented on #1148
Don't forget Tag Manager 😄

[2020-03-24 16:18] aaemnnosttv commented on #1192
@felixarntz I think we should avoid displaying error messages on the WP dashboard if we can, indeed for the reasons outlined in the AC. Why not redirect to the splash page and display a better error/notice there? Then the user only needs to click "Start setup" to retry.

[2020-03-24 17:35] adamsilverstein opened #1279 "Large number rounding should match service UI."
## Bug Description

When rounding large numbers (eg thousands), Site Kit's Analytics detail page shows a different "Users" number than the Analytics product UI. The numbers user's see in Site Kit should match those that they see in Analytics as well as in Search Console and AdSense detail reports.

* First discovered while working on https://github.com/google/site-kit-wp/issues/1202.
* Note: This

[2020-03-24 17:57] adamsilverstein opened #1280 "Change percentages should match service UI."
## Bug Description

The "Change" percent displayed in Site Kit in the Analytics detail page does not match what is shown in the Analytics product UI. The time periods are correct, the calculations seem off.

* First discovered when working on https://github.com/google/site-kit-wp/issues/1202.

A related issue where these numbers may be swapped on the Search Console details page: https://github.com

[2020-03-24 17:58] adamsilverstein commented on #1202
I created a couple of follow up issues to track the other issues I noticed while working on this.

[2020-03-24 18:52] felixarntz opened #1281 "Introduce standalone mode for Site Kit admin screens"
## Feature Description

There should be a technical way to make any Site Kit admin screen display in a "stand-alone" mode, where all the WordPress UI (admin bar, admin menu, admin footer text) is not displayed. This should be controllable by a query parameter that can be included (e.g. `googlesitekit-standalone=1`).

It would be perfect if we could accomplish that through actual PHP changes where

[2020-03-25 00:39] felixarntz commented on #1209
Technically ready for QA, but this in the GA provisioning branch (for 1.7.0 release) and should only be QAd with the other changes - let's keep this one waiting in the QA column for a bit.

[2020-03-25 00:44] felixarntz commented on #1224
@aaemnnosttv @tofumatt There may not be a need for this, but how do you think we should deal with this issue? Technically we do have the datastore now, but there may be some extra changes required.

I think we covered everything. If we notice things that are missing, let's open individual issues and PRs to fix/add them.

[2020-03-25 00:46] felixarntz commented on #1192
@aaemnnosttv That's a good point.

Let's keep this issue plain and simple to just add a better error message. However, I'd say we should consistently only link to the splash page if you're not already on the splash page. I'll update the IB.

[2020-03-25 01:55] ernee opened #1282 "Issue during setup: Unknown Error (code: Invalid JSON response)"
## Bug Description

A [user in the support forums](https://wordpress.org/support/topic/authentication-loop/)  persistently receives this error in the WordPress admin after attempting setup:

![Unknown Error - Invalid JSON Response](https://user-images.githubusercontent.com/8108643/77493581-c6a55200-6e00-11ea-8556-f1194e4dd4a0.png)

While the conditions to recreate the error are still under investi

[2020-03-25 06:28] cole10up commented on #1266
Tested:

Confirmed on 1.5.1 changing the domain to HTTPS from HTTP drives user back to the splash screen.

Installed latest develop 1.6.0 tried same flow, and didn't see any odd behavior after adjusting the domain URL in another tab.

Passed QA ✅

[2020-03-25 09:57] aaemnnosttv commented on #1192
IB ✅

However, I would suggest a variation of that message since API scopes are not something most people will be familiar with:

[code]

[2020-03-25 10:11] aaemnnosttv commented on #1192
I'm going to bump the estimate a little as well since this may likely be done by a new engineer.

[2020-03-25 12:02] tofumatt commented on #1009
I'm going to close this issue as we don't use conventional commits in the project likely won't be useful anyway.

It's a good idea, but I don't think one we'll implement. Thanks for the suggestion though 🙂

[2020-03-25 12:02] #1009 closed

[2020-03-25 15:51] sviluppomania commented on #1274
@jamesozzie I found PageSpeed both with the plugin active and with the plugin disabled, it shows a significant change in performance.
It influences. How can we solve it? Maybe it's the CSS / JS of the plugin ...

[2020-03-25 15:52] sviluppomania opened #1283 "Low Google PageSpeed score with active SiteKit."
#1274
@jamesozzie
 I found PageSpeed both with the plugin active and with the plugin disabled, it shows a significant change in performance.
It influences. How can we solve it? Maybe it's the CSS / JS of the plugin ...

[2020-03-25 16:17] cole10up commented on #1092
**Ran a series of tests with @ivankristianto**

On our end we were able to identify that the issues persisted with international currency. Conscious of the timing around this fix, we ensured the plugin wasn't breaking current functionality.

![Screen Shot 2020-03-25 at 23 12 29](https://user-images.githubusercontent.com/57115907/77559449-728a8400-6e79-11ea-8430-777e9b2b55ff.png)

Passed QA ✅

[2020-03-25 16:20] cole10up commented on #1107
Ran a series of tests with @ivankristianto

On our end we were able to identify that the issues persisted with international currency. Conscious of the timing around this fix, we ensured the plugin wasn't breaking current functionality.

![Screen Shot 2020-03-25 at 23 12 29](https://user-images.githubusercontent.com/57115907/77559739-c4330e80-6e79-11ea-9aea-042e5b8ced2f.png)

Passed QA ✅

[2020-03-25 16:21] cole10up commented on #1209
Sounds good @felixarntz

[2020-03-25 16:38] felixarntz commented on #1192
@aaemnnosttv
Let's go with "Site Kit setup was interrupted because you did not grant the necessary permissions." - better to be addressing the user here I think

[2020-03-25 18:01] felixarntz commented on #794
@cole10up In order to QA this, I think it's key to have a site with a domain that has unicode characters, and ensure the setup flow completes seamlessly.

Then, specifically also test the setup flow for a site where your Site Address has the unicode version of the URL (e.g. http://türkish.com) while your WordPress Address has the punycode version of the URL (e.g. http://xn--trkish-3ya.com).

[2020-03-25 18:10] tofumatt opened #1286 "Only make API requests in resolvers when lacking data"
## Feature Description

Part of #1101, we should only make requests for data when there isn't data available already. This will drastically cut down on API mocking in test code and increase the performance of our app if we preload data from places.

A good example of this is in the analytics module, we get accounts, properties, and profiles during the first request (via the resolver for `getAccoun

[2020-03-25 18:30] tofumatt opened #1287 "Don't use the global registry when selecting/dispatching from within a data store"
## Feature Description

Currently we use `global.Data.select` and `global.Data.dispatch` inside data stores, which works with our globals loaded, but has issues:

1. it isn't very Redux-y and ends up coupling our otherwise-isolated data stores to a global variable
2. it prevents us from having other registries (eg. in tests) that we can use without mocking the global
3. it prevents us from loading

[2020-03-25 18:50] #1287 closed

[2020-03-25 18:51] #1092 closed

[2020-03-25 18:52] #1245 closed

[2020-03-25 18:52] #1107 closed

[2020-03-25 18:54] tofumatt opened #1288 "Use metaprogramming to generate common actions, controls, reducers, resolvers, and selectors for API requests"
## Feature Description

We have created a common pattern in our stores for making API requests and handling their success/failures. Examples are:

* https://github.com/google/site-kit-wp/blob/306573beee8a3371ca67aec0b83392a85226431d/assets/js/googlesitekit/datastore/site/connection.js
* https://github.com/google/site-kit-wp/blob/306573beee8a3371ca67aec0b83392a85226431d/assets/js/googlesitekit/data

[2020-03-25 19:15] jamesozzie commented on #1283
@sviluppomania Are you able to provide a video demonstrating the PageSpeed differences using the [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) and we can investigate/communicate from there? You can use a service such as recordit, along with web.dev for measuring.

While we've moved support over to the WordPress forums we can file a GitHub issue or re

[2020-03-25 19:15] #1283 closed

[2020-03-25 19:16] jamesozzie commented on #1253
@cole10up I'm able to reproduce the same error on [one site](https://recordit.co/F7bP8kHWwQ) but not with [another](https://recordit.co/NanTcO7DEx). Both using the same WP & plugin versions. I'll dedicate some time to testing the various configurations next.

[2020-03-25 22:14] tofumatt commented on #1224
Agreed; I think we can consider this issue resolved. There's still datastore work to do (although largely covered after #1278 in terms of things we 100% _need_), but we should consider this issue finished and do anything else in follow-ups. This one is already quite large and will be difficult to consume if it gets bigger 😄 👍

[2020-03-26 01:07] felixarntz commented on #1246
IB ✅

[2020-03-26 03:22] felixarntz commented on #1192
Due to some changes on the proxy (we'll now cause the `access_denied` error as soon as at least one of the requested scopes is not granted), this is more urgent than before, and we should include this in tomorrow's release. I'll work on a PR.

[2020-03-26 05:26] cole10up commented on #794
**Tested**

This isn't fixed on my end. Reproduced this issue in setup redirecting during site verification:
![image](https://user-images.githubusercontent.com/57115907/77613036-f464c680-6ee6-11ea-8391-bd0b2c582aa9.png)

Domain: http://türkish.com

Using the attached zip
[google-site-kit-1.6.0.zip](https://github.com/google/site-kit-wp/files/4385141/google-site-kit-1.6.0.zip)

@felixarntz, log int

[2020-03-26 05:52] felixarntz commented on #794
@adamsilverstein let's debug this tomorrow morning and find a fix to include in the release. Potentially it's only on the proxy side, which would be great.

[2020-03-26 06:46] cole10up commented on #1224
I ran a series of regression tests around Analytics with the latest 1.6.0

Confirmed install, setup, functionality of the Analytics module from from the dashboard and Analytics left nav page.

All good on my end.

Passed QA ✅

[2020-03-26 06:53] cole10up commented on #1244
Ran a series of tests setting up all modules, confirming functionality, removing modules and resetting site kit.

![Site Kit by Google Settings ‹ Hellogoodbye — WordPress](https://user-images.githubusercontent.com/57115907/77618537-bd48e200-6ef3-11ea-96c0-5b43560c8a60.gif)

Passed QA ✅

[2020-03-26 09:46] aaemnnosttv commented on #794
@felixarntz this mostly worked for me, but results vary based on how the domain is set in WP.

Using the punycode version of the domain for the home + site URLs, I am able to go to the proxy and back successfully, however I get stuck on the last step of adding the domain to Search Console **even though the domain _is_ successfully added**.

![image](https://user-images.githubusercontent.com/162160

[2020-03-26 09:46] jamesozzie opened #1292 "Display snippet status alongside connected status in "Connected Services" tab"
## Feature Description
Consider adding a notice to display the snippet status for the Analytics, AdSense and Tag Manager modules.

At present a user may have used another Analytics plugin to place the tracking code. For that reason they may have opted out of allowing Site Kit to place the snippet. They may then have decided to solely use Site Kit, while deactivating the other plugin.  This can res

[2020-03-26 09:59] odedta commented on #1292
Please add this! thanks!

[2020-03-26 10:29] aaemnnosttv commented on #1286
IB ✅  CR ✅

[2020-03-26 13:01] tofumatt commented on #1244
Eng QA ✅

[2020-03-26 13:02] tofumatt commented on #1249
QA ✅on this one; doesn't touch production code but things still work as-expected 👍

[2020-03-26 13:13] tofumatt commented on #1063
Eng QA ✅

All tests and code around these modules work as-expected, so moving to approval.

[2020-03-26 14:28] #1244 closed

[2020-03-26 14:28] #1249 closed

[2020-03-26 14:28] #1063 closed

[2020-03-26 15:06] #1192 closed

[2020-03-26 15:24] adamsilverstein commented on #794
Thanks for testing @cole10up and @aaemnnosttv - looks like your tests were against the production Site Kit service (sitekit.withgoogle.com) which unfortunately hadn't received the required updates to get this working.  Can you please re-test against staging (& ping me if you need help doing that)?

@aaemnnosttv note that due to a bug in WordPress core, if you set your site up using a unicode (not

[2020-03-26 15:25] aaemnnosttv opened #1295 "Release 1.6.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-03-26 15:30] felixarntz commented on #794
@aaemnnosttv @cole10up Yeah we forgot to mention, these changes are not yet in production on the proxy, they will be before the release goes out. Can you re-check against staging?

The test site now has the staging plugin and it is currently active. I walked through the setup flow and was able to get both verification and Search Console completed.

[2020-03-26 15:45] cole10up commented on #794
Retested. Was able to setup and reset properly.

![Setup - Site Kit by Google](https://user-images.githubusercontent.com/57115907/77666294-0756b580-6f3e-11ea-88b6-1d3dc2161dc9.gif)

Noticed the punycode URL is displayed upon reset. As an observation

![image](https://user-images.githubusercontent.com/57115907/77666271-fdcd4d80-6f3d-11ea-8c03-e24dd8cf476f.png)

[2020-03-26 16:10] felixarntz commented on #794
Tested this as well, and it works as expected, also when you are not verified yet or do not yet have a Search Console property.

[2020-03-26 16:10] #794 closed

[2020-03-26 16:10] #1266 closed

[2020-03-26 16:16] aaemnnosttv opened #1296 "Tag Manager: Layout inconsistency in settings after installing AMP"
## Bug Description

If Tag Manager is set up before AMP is installed/enabled, only a web container will be configured in the settings. After, if AMP is enabled, the empty value for the setting creates an inconsistency in the layout

## Steps to reproduce

1. Set up Site Kit with Tag Manager (no AMP)
1. Install and activate AMP in either Transitional or Reader modes (i.e. paired)
1. Go to Settings

[2020-03-26 16:19] cole10up opened #1297 "Punycode URL is being displayed on disconnect screen for unicode domains"
## Bug Description

Disconnecting my user on a unicode domain (http://türkish.com) shows http://xn--trkish-3ya.com/ as the URL in the 'revoked access' message

![image](https://user-images.githubusercontent.com/57115907/77669782-8948dd80-6f42-11ea-9077-53ce922cf56c.png)

## Steps to reproduce

- Login to http://türkish.com/wp-admin/admin.php
- Setup SK
- Click Disconnect
![image](https://user-imag

[2020-03-26 16:20] cole10up commented on #794
Added a bug for the punycode URL display on the disconnect screen https://github.com/google/site-kit-wp/issues/1297

[2020-03-26 16:29] felixarntz commented on #1032
I'm not a 100% sure on whether to do this one: For us, all of these dependencies are dev dependencies. None of them are needed for the production version of the plugin because we bundle everything.

For the JS part specifically though, I see why it could help to have that separation between dependencies we use in our code vs dependencies we just use to build our code.

[2020-03-26 16:30] felixarntz commented on #573
Closing this for now. If we see a need for batching later, we can reopen.

[2020-03-26 16:30] #573 closed

[2020-03-26 16:45] tofumatt commented on #1032
Strictly-speaking that's true, the benefits are mostly around developer experience… though webpack _might_ benefit from know which modules to include, mostly its tree-shaking/dead-code-elimination should handle things.

But yeah, it's mostly a handy thing for us to tell which bits of code we can consider "replaceable" from a build/tooling perspective vs code we need in the actual _runtime_ of the

[2020-03-26 20:24] adamsilverstein commented on #372
I'm closing this ticket out @aaemnnosttv - I'll introduce you to the QA testing plugin (which essentially replaces this feature) we built at our next meeting.

[2020-03-26 20:24] #372 closed

[2020-03-27 00:18] #1295 closed

[2020-03-27 00:41] felixarntz opened #1298 "Implement googlesitekit-widgets asset with "core/widgets" datastore"
## Feature Description

There should be a `js/googlesitekit/widgets` module that registers a `core/widgets` store. It should have an entrypoint file `googlesitekit-widgets`. The file should also use the handle `googlesitekit-widgets` in PHP.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Add new `js/g

[2020-03-27 00:42] felixarntz opened #1299 "JS Widgets API"
## Epic Description

1) Introduce JavaScript Widgets API
2) Migrate all current widget-like content areas to use the widgets API instead of inflexible filtered components

[2020-03-27 00:48] felixarntz opened #1300 "Implement base React components for Widgets API"
## Feature Description

We'll need several base components to enable rendering of widget areas and widgets, that should be part of the `googlesitekit-widgets` module. Most of these components should be internal, while a few should be public (exposed in a `window.googlesitekit.widgets.components`).

---------------

_Do not alter or remove anything below. The following sections will be managed by m

[2020-03-27 00:52] felixarntz opened #1301 "Implement googlesitekit-widgets asset for public widgets API"
## Feature Description

The `js/googlesitekit/widgets` module with a public `googlesitekit-widgets` entrypoint file (and a PHP handle `googlesitekit-widgets`) should be expanded to do more than just include the `core/widgets` datastore (see #1298).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Have `

[2020-03-27 00:59] felixarntz opened #1302 "Migrate PageSpeed Insights content area in dashboard to use Widgets API"
## Feature Description

This is the first out of a few Site Kit module components to migrate to use the new Widgets API. Let's use this one as a test against our own API, to see whether it works as expected. We can expect some minor changes to the Widgets API itself to become necessary as part of working on this.

Further issues to migrate the other Site Kit modules' content areas will be opened o

[2020-03-27 12:53] tofumatt commented on #1173
If this is reviewed and merged today we can probably change the sprint to Sprint 19, but no biggie if not 😅

[2020-03-27 14:11] armandn commented on #878
Good news: - The error seems to be gone in 1.6.0!

[2020-03-27 16:05] DustinWStout opened #1304 "Daily traffic graph in dashboard widget"
## Feature Description

As a publisher, I need to see my traffic trends from day to day. A simple numeric value with +/- percentage is not helpful for monitoring the daily health of my businesses. It has happened multiple times where there was a sudden drop in traffic due to an issue and I was unaware of it for a couple of days because I didn't have access to a graph that would show me there was a

[2020-03-27 18:44] sviluppomania commented on #1283
@jamesozzie
These are videos from the my Website with Google Site Kit and without Google Site Kit...
[Screencast.zip](https://github.com/google/site-kit-wp/files/4395327/Screencast.zip)

[2020-03-27 19:15] felixarntz opened #1305 "Never revoke the token implicitly"
## Bug Description

Site Kit currently revokes the current token without the user explicitly requesting that, when refreshing the current access token fails with `invalid_grant`. This is problematic for two reasons:

* Revoking this token is technically pointless under these circumstances because it is already an invalid token if refreshing failed with `invalid_grant`.
* Revoking the token will fl

[2020-03-27 20:26] sviluppomania commented on #1283
@jamesozzie

[2020-03-28 16:00] ghost opened #1307 "Low Google PageSpeed score with active SiteKit."
**#1274 <--
#1283** <--

@jamesozzie @ernee
I found PageSpeed both with the plugin active and with the plugin disabled, it shows a significant change in performance.
It influences. How can we solve it? Maybe it's the CSS / JS of the plugin ...

I also opened a report on the support Wordpress forum: https://wordpress.org/support/topic/google-site-kit-wp-low-google-pagespeed-score-with-active-siteki

[2020-03-28 16:11] ernee opened #1308 "Search Console Tag Manager Verification fails with Site Kit's container snippet"
## Bug Description

When trying to verify a site in Search Console using the [Google Tag Manager method](https://support.google.com/webmasters/answer/9008080#google_tag_manager_verification),  Site Kit's Tag Manager container snippet fails and is flagged as being in the wrong location on the page:

<img width="764" alt="GTM verification failed" src="https://user-images.githubusercontent.com/810864

[2020-03-28 21:16] aaemnnosttv commented on #1135
Hey @felixarntz, - @tofumatt and I discussed this last week and we came to the conclusion that this issue is (or at least should be) primarily about eliminating the use of aliases _altogether_. Aliases would be nice if there was better support for them in our tooling, but they end up adding more burden than benefit.

Tooling doesn't understand aliases and so not only do we need to maintain configu

[2020-03-30 10:19] jamesozzie opened #1309 "Dashboard error: Incorrect locale information provided"
Some users have encountered a dashboard error on their screen after updating to the latest version of Site Kit. Error as seen below:

[code]

Related WordPress Support Topics:
- https://wordpress.org/support/topic/invalid-language-tag-after-updating-to-1-6-0/
- https://wordpress.org/support/topic/incorrect-locale-information-provided/#post-12598130

Additional information:
- Occurred after updatin

[2020-03-30 10:27] tofumatt commented on #1135
Nothing to add; that's the perfect write-up of the situation. 👍🏻

Essentially, I had always liked—and advocated for—project-relative imports before I started using an editor (VSCode) with better tooling. But the power offered by using file-relative imports greatly outweighs the _slightly-prettier_ and more _human-readable_ import blocks at the top of the file.

We should move to this 😄

[2020-03-30 11:58] ghost opened #1310 "Review Tag Snippet Placements"
## Feature Description

The Tag Assistant [Chrome extension](https://chrome.google.com/webstore/detail/tag-assistant-by-google/kejbdjndbnbjgmefkgdddjlbokphdefk?hl=en) highlights Site Kits Analytics insertion as a "non standard implementation", as per screenshot below.

This links to a [support center article](https://support.google.com/tagassistant/answer/3207128?ref_topic=2947092#nonstandard).

!

[2020-03-30 12:00] sviluppomania commented on #1310
@jamesozzie @ernee

[2020-03-30 12:33] jamesozzie commented on #1310
@sviluppomania Thanks for the suggestion. You'll find information on the suggested placement the snippets below. Site Kit uses these suggestions as per product best practices guidelines.
- [AdSense](https://support.google.com/adsense/answer/9274516?visit_id=637211676115594559-1486183102&rd=1)
- [Analytics](https://support.google.com/analytics/answer/1008080?hl=en)

The various product snippet plac

[2020-03-30 12:36] sviluppomania commented on #1310
@jamesozzie Will you change the positions suggested by my post?

[2020-03-30 12:52] jamesozzie commented on #1310
@sviluppomania The most appropriate snippet placement is used as per the different product guidelines at present. I can confirm with the team and report back to you here.

[2020-03-30 12:55] sviluppomania commented on #1310
@jamesozzie Reading many positioning guides of the various tags: adsense, analytics and many others (even not from Google) show a performance improvement from milleseconds if not a 1 second improvement!

[2020-03-30 14:54] adamsilverstein commented on #794
@jonasskafte - Can you please give the latest version of the plugin a test to verify that this issue has been resolved for you?

[2020-03-30 15:01] jamesozzie commented on #1309
I can confirm the same issue after testing. Steps to reproduce
- Occurs with German formal language set (as users in WP support form suggest)
- Occurs on plugin install (version 1.6.0), not just update
- Occurs with SC module set
- Not possible to view any dashboards, as below

<img width="1634" alt="Screen Shot 2020-03-30 at 3 53 21 PM" src="https://user-images.githubusercontent.com/41326532/7792

[2020-03-30 15:10] jonasskafte commented on #794
@adamsilverstein – Sure! I actually already did, but I forgot to do so here as well. Here's the confirmation I made: [https://wordpress.org/support/topic/stock-at-step-3-set-up-search-console/#post-12592380](https://wordpress.org/support/topic/stock-at-step-3-set-up-search-console/#post-12592380) – I also left a 5-star review 😃 Cheers!

[2020-03-30 15:19] felixarntz commented on #1135
@tofumatt @aaemnnosttv I agree with these changes, however there is one caveat that we'll have to account for, which is that we sometimes need to import from our own "public packages". We do currently rewrite such imports via Webpack `externals` and need to continue to do so - that itself is probably not an issue. However, we need to differentiate because sometimes we'll also directly import code

[2020-03-30 15:43] adamsilverstein commented on #794
Excellent! Great to hear and thanks for the 5 start review.

[2020-03-30 15:51] tofumatt commented on #1135
For public imports of things like `googlesitekit-data` we can continue to use the aliases at first, but after this main issue is complete I can see if webpack will be smart enough to treat any import that resolves to `/assets/js/googlesitekit/data` as the external.

Basically: for now we should leave imports of `googlesitekit-*` alone when they are like this: https://github.com/google/site-kit-wp/

[2020-03-30 16:17] aaemnnosttv commented on #1309
Thanks for the detailed report @jamesozzie 👍

I was able to reproduce this as well, although I did not see the full screen error, but that may be an environmental difference.

Escalating this to Execution 🚀

[2020-03-30 16:57] cole10up commented on #1282
Ran through a series of tests, setting up SK - mirroring the user from the support link above's setup. Turkish language and all plugins installed and active. I'm unable to reproduce on the latest production build.

![image](https://user-images.githubusercontent.com/57115907/77939751-7d278d80-726c-11ea-8927-4711bc0c13ce.png)

<details>
  <summary>Click to expand site health info</summary>

 `
### w

[2020-03-30 17:10] adamsilverstein commented on #1211
@felixarntz Even though this task is blocked in part by the refactoring work, I took a pass at the IB for the parts we know we need to build, and how. The main points missing are: how to integrate the new component into the setup flow, and how to send the data POST when the user clicks the button.

[2020-03-30 17:38] felixarntz commented on #1309
@aaemnnosttv I'm not sure about our intended use-case for this locale (currently only `Intl.NumberFormat`) supporting these more customized locales. Does e.g. `de-DE-formal` result in a number formatted after German conventions - or should we rather strip the extra suffix to force this to `de-DE`, which surely would work?

[2020-03-30 18:14] felixarntz commented on #1212
@adamsilverstein IB mostly sounds good, a few issues however:
* The datapoint should be `POST:create-account-ticket`.
* We cannot use the PHP client's `createAccountTicket` method as is. We can (and should) use the PHP client's objects for all the request body parts, but we need to construct this request ourself, since
    * it's against our proxy, not against the Google API
    * it's using a dif

[2020-03-30 18:20] felixarntz commented on #1213
@adamsilverstein IB is good to go, except one detail: We can't track an event here since this is PHP. I'm not even sure this is required, we will know that already through our authentication service. I think we should just skip that part.

[2020-03-30 18:24] felixarntz commented on #1279
IB ✅

[2020-03-30 18:25] felixarntz commented on #1279
@ryanwelcher This still needs an estimate (via ZenHub extension) :)

[2020-03-30 18:26] felixarntz commented on #1286
@aaemnnosttv @tofumatt Why is this still in CR but unassigned?

[2020-03-30 18:27] ryanwelcher commented on #1279
Thank you @felixarntz!  I've added the estimate

[2020-03-30 19:12] adamsilverstein commented on #1212
Right! Thanks for the feedback, I'll update the IB.

[2020-03-30 19:19] adamsilverstein commented on #1213
Good point. I can see that we might not need the tracking here any more. If we do decide we still want to have this event triggered here, we can add it on the client side, passing an additional query variable to indicate the state.

[2020-03-30 19:22] felixarntz commented on #1213
IB ✅

[2020-03-30 19:51] adamsilverstein commented on #1212
@felixarntz Updated IB:
* Added a new class to handle the `createAccountTicket` call, please review my proposed class naming.
* Now takes site id/secret and POSTs to the site kit service url.
* Cleaned up the language a bit.

[2020-03-30 20:46] dwolke commented on #1309
@felixarntz
There are two language variants for German in WordPress. The difference between the two variants is the formal address in German.

Example German: "Bist Du sicher?" (de_DE) or "Sind Sie sicher?" (de_DE_formal). Means in English: Are you sure?

Numbers are formatted in the same way in both variants (according to German conventions). This has nothing to do with the locale of PHP or the O

[2020-03-30 21:46] felixarntz opened #1316 "Simplify tag-permission datapoint for Analytics module"
The `tag-permission` datapoint for Analytics currently tries to figure out access to a property by looking through properties for all accounts that a user has, which requires issuing as many Analytics API requests as there are accounts for the user. We can instead infer the account ID from the given property ID.

Another change that should be made is that this datapoint should never return an erro

[2020-03-30 22:00] felixarntz commented on #1309
@dwolke I'm German too, so I know that part :)

My question was rather related to: Are the conventions that WordPress uses for these more specific locales a standard? If they are not and if it's something that WordPress made (I totally understand _why_), then we may want to strip the suffix. It doesn't affect the number formatting anyway, so we can just drop it to make sure the extra suffix doesn'

[2020-03-30 22:14] dwolke commented on #1309
@felixarntz  I'm German too, so I know that part :)
 🙈oh mann

Okay, i understand what you mean, and they're not. As i know only Wordpress uses different translations for this purpose.

I think, this could work.

[2020-03-31 08:44] aaemnnosttv commented on #1316
@felixarntz this issue seems partially related to https://github.com/google/site-kit-wp/issues/341 (at least for the existing tag case). Perhaps that issue should be updated to be specific to `matchedProperty` lookup?

[2020-03-31 08:45] aaemnnosttv commented on #1316
IB ✅

[2020-03-31 13:38] ELkoos opened #1318 "Stuck at Checking Compatibility..."
## Bug Description

After installation and activation, the button to start integration process remains inactive, and Site Kit is stuck at Checking Compatibility. Issue persist after 30 minutes of wait.

## Steps to reproduce

Download plugin
Activate it
Tried reinstallation, etc - to no avail

 - PHP Version: 7.3
 - Shared hosting, Wordpress 5.3.2 + Woocommerce 4.0.1
 - Chrome, Firefox
 - newest p

[2020-03-31 18:02] felixarntz opened #1319 "Add support for module-specific assets"
Modules should be able to enqueue their own assets. In the long term, every Site Kit module should have its own JS file for its functionality (e.g. Analytics would have `googlesitekit-modules-analytics.js`).

These modules cannot just be dependencies of other modules that need them because...
* ...they're not actually dependencies, but they modify the experience (they are "extensions")
* ...they h

[2020-03-31 20:08] aaemnnosttv commented on #1319
I think the `Module_With_Assets` interface should define a `get_assets` method (this is consistent with many of the other interfaces as well. In this case, `Modules` should also call this during its `register` method to make sure all module assets are registered.  This is important to support dependencies between assets.

For enqueuing, we may want to provide a parameter to the module for it to kn

[2020-03-31 20:24] felixarntz commented on #1319
@aaemnnosttv I like these suggestions overall.

Theoretically yes, but there are some nuances. Specifically, the `before_print` callback mechanism doesn't work if an `Asset` is not actually included in `Assets::$assets`. The rest would all be okay.

I think we could have `Module_With_Assets::register_assets( Assets $assets )` and `Module_With_Assets::enqueue_assets( Assets $assets )` (we'd also ne

[2020-03-31 20:36] felixarntz commented on #341
Some related changes are being made in #1316 - TLDR if we have a property ID, we shouldn't need to search for the account for it.

For finding a property by matching a URL, that would still require multiple API queries, one per account.

[2020-03-31 20:54] felixarntz commented on #1135
@tofumatt I've modified the ACs accordingly, so this is ready for IB now. Let's move it forward.

[2020-03-31 21:03] felixarntz commented on #1319
@aaemnnosttv Actually, let's do it like you've suggested: The missing piece to accomplish there was a filter in `Assets` to allow for more assets to be registered.

Let's introduce a filter `googlesitekit_assets` on that list, then hook into that in `Modules` and collect the module assets via `Module_With_Assets::get_assets()`. Then, for enqueuing, we can use `Modules::enqueue_assets()` which call

[2020-03-31 21:10] felixarntz commented on #1319
@aaemnnosttv I've updated the IB accordingly.

Regarding whether the module is active or not, that's a good point, but let's deal with that at a later stage. We don't need that awareness now, as for now all module assets will always be enqueued. Adding a `Module::is_active()` or similar in the future would not be a problem.

[2020-03-31 21:48] eduardogoncalves commented on #852
Awesome ideia @mikesale!

[2020-03-31 22:22] tofumatt commented on #1222
I spent a lot of time checking this out and it's not as straightforward as [using `splitChunks` in webpack](https://webpack.js.org/plugins/split-chunks-plugin/). Because of how we manage assets and separate each app into its own entrypoint, adding webpack's chunk management causes the page to fail to load.

I've tried several—too many—`splitChunks` options, included both a single `runTimeChunk` an

[2020-03-31 22:36] felixarntz opened #1322 "Fix failing e2e test on WordPress 5.4"
## Bug Description

We seem to have an e2e test that is consistently failing against WordPress 5.4, which was released just a few hours ago. Now I see that the e2e tests against "WordPress latest" are failing which is likely due to a change in that version.

I've experienced this multiple times on different PRs so it's probably something we really need to look into and fix.

FYI actually using Sit

[2020-04-01 06:42] kindect commented on #1262
I'm also receiving this problem and I'm also a user in China :D
I've been through the docs and I found out that the problem should be the internet trouble

As a site manager in china , I know that Google service are blocked in china so i'm currently using lantern VPN service to connect to google and i'm using Ubuntu 18.04 with gnome (I don't think this really matters after setting up LAMP and word

[2020-04-01 08:57] jamesozzie opened #1323 "Connection Loop/error after clicking on proceed: Loading chunk 0 failed"
## Bug Description
After attempting to install Site Kit (version 1.6.0) for the first time on a particular site setup will not proceed, taking the user back to the setup screen. The error encountered is described below:

WordPress Support Topic:
https://wordpress.org/support/topic/connection-loop

Additional related support topics:
- https://wordpress.org/support/topic/site-kit-verify-site-ownersh

[2020-04-01 09:18] jamesozzie commented on #1323
Replicated setup with [all plugins](https://i.imgur.com/nNy80hZ.png) (other than Elementor Pro) setup and active  with default settings. Unable to replicate on personal test site. Escalating to L2

[2020-04-01 10:34] aaemnnosttv commented on #1322
It's due to the new default editor view which is now full screen (hence the admin bar not being visible) but also due to the overlay which is blocking the hover state.
https://make.wordpress.org/core/2020/03/03/fullscreen-mode-enabled-by-default-in-the-editor/

![image](https://user-images.githubusercontent.com/1621608/78110585-e1308a00-7403-11ea-9d0c-a297171bf8fd.png)

[2020-04-01 10:45] jamesozzie opened #1325 "Blank dashboard after Analytics/AdSense connection: Uncaught TypeError: Super expression must either be null or a function"
## Bug Description
Using the latest version of the plugin connecting the Analytics or AdSense modules results in a blank dashboard. This dashboard error I suspect appears where the "Congrats on completing the setup for ..." appears, as the status for all modules show "connected" from the users Site Health information

WordPress Support topic:
https://wordpress.org/support/topic/blank-page-when-try

[2020-04-01 11:12] aaemnnosttv commented on #1309
Yes, I believe so - although you'd have to confirm. I'm not sure why the error really. The spec for these locale tags dictates that either a hyphen or an underscore can be used as a separator. I would expect the browser to fallback to a more generic locale, if the variant wasn't relevant. I tried this on several browsers and it seemed to work fine so the only problem seems to be that all of the se

[2020-04-01 11:28] jamesozzie commented on #1310
@sviluppomania Thanks for the input. I've reopened this support topic and added some details to it for the team to review. Many thanks for the suggestion.

[2020-04-01 12:25] tofumatt opened #1326 "Use webpack for all asset management"
## Feature Description

We use Webpack for the majority of our asset management (JS and SCSS), but there are still several `gulp` tasks for things like `imagemin` and SVG assets.

Having both `gulp` and `webpack` is redundant, and we should centralise our asset pipeline to use only webpack.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2020-04-01 13:41] sviluppomania commented on #1310
@jamesozzie The suggestion also concerns other snippets and not just Analytics.
Will others be moved too? Eg Google AdSense etc?

[2020-04-01 14:35] felixarntz commented on #1309
@aaemnnosttv I think we're most safe by stripping any additional suffix entirely. They shouldn't have an effect on number formatting, most languages have these only to differentiate between "casual" and "formal" variants - which only affects wording, not number-formatting :)

[2020-04-01 14:53] felixarntz commented on #1322
IB ✅

[2020-04-01 15:18] Pete-Z commented on #1262
I am also a user of China. I have the exact same issue.

I checked WordPress site URLs, which are correct. It's a brand new VSP server, so I don't think it has any ModSecurity or Web Application Firewalls. All the other plugins, including iThemes, are deactivated, but the issue remains.

Below is my site health info.
`
### wp-core ###

version: 5.3.2
site_language: en_US
user_language: en_US
timez

[2020-04-01 17:01] felixarntz commented on #1175
IB ✅

[2020-04-01 17:01] felixarntz commented on #1175
@tofumatt Still needs estimate

[2020-04-01 17:04] tofumatt commented on #1175
Whoops, sorry, added!

[2020-04-01 17:05] felixarntz commented on #1176
@tofumatt This shouldn't use a `before_print` callback, but instead a `Script_Data` instance (named e.g. `googlesitekit-user-data`) with a `data_callback`, that the `googlesitekit-datastore-user` would then depend on. See https://github.com/google/site-kit-wp/pull/1276/files#diff-f878941036c14d763ba1cda6ed924dcdR365 for a similar example.

[2020-04-01 17:05] tofumatt commented on #1176
Ah, right on. I'll update the IB 👍

[2020-04-01 17:09] tofumatt commented on #1176
IB updated; added a few extra selectors as well, because I think we should expose very specific selectors for this data and keep `getUser` private.

[2020-04-01 17:23] felixarntz commented on #1176
@tofumatt Sounds good regarding the specific selectors!

The one thing missing from the IB is using the new `googlesitekit_user_data` filter in the `Authentication` class (see ACs, which are almost like an IB for that anyway)

[2020-04-01 17:33] tofumatt commented on #1176
Ah, whoops, right. I made a note of that now, saying we should replace the existing approach in the places you mentioned with an `add_filter` call. 👍

[2020-04-01 18:12] ryanwelcher commented on #971
I am unable to reproduce this either.

[2020-04-01 18:14] tofumatt commented on #1106
Assigned to @aaemnnosttv mostly to merge (I've approved the PR), but feel free to take another look if desired as well 😄

[2020-04-01 18:15] felixarntz opened #1328 "Implement existing tag detection in core/site datastore"
## Feature Description

We should have a mechanism to find an existing tag within the `core/site` datastore that replaces the current `getExistingTag()` utility function.

See #1317 for some related comments.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site` store should have a new `getEx

[2020-04-01 18:20] tofumatt commented on #971
If QA can't reproduce this either I think we can safely close it as fixed upstream 👍

[2020-04-01 18:25] felixarntz commented on #1326
I'd say while this makes sense, it should be quite low priority - there doesn't seem to be anything which this heavily affects.

[2020-04-01 18:28] felixarntz commented on #1135
@ryanwelcher IB on a high level ✅

Let's make sure to not rewrite the specific ones listed in the ACs, and also adjust the eslint statements on "... dependencies" accordingly.

[2020-04-01 18:30] felixarntz commented on #1176
@tofumatt IB ✅

Let's not do the `$new_data` part though, that doesn't make any difference in PHP, since these are associative arrays. Let's modify the `$data` directly, that's simpler here.

[2020-04-01 18:32] felixarntz commented on #1212
IB ✅

Let's see whether we can extend the `Google_Service_Analytics_Resource_Provisioning` and inject our own variant into the main `Google_Service_Analytics` instance after creating it, as discussed yesterday.

[2020-04-01 18:44] felixarntz commented on #1106
Taking over :)

[2020-04-01 22:11] tofumatt commented on #1177
Had a think about this, and rather than adding similar selections/actions/state to the `core/user` store as what we expose in `createNotificationsStore`, I think the best option is to add two additional options to `createNotificationsStore`'s `options` argument: `client` and `server`. Both would be enabled by-default, but toggling either off would allow for modules to opt-out of either server or c

[2020-04-01 22:38] tofumatt commented on #1297
That page currently uses `new URL( url ).hostname` to render the hostname, which will output punycode characters (this is expected behaviour). All we need to do is import a punycode decoder and decode the hostname here. 👍

[2020-04-01 23:47] felixarntz opened #1332 "Add checkAccountStatus and checkSiteStatus actions to modules/adsense datastore"
## Feature Description

Follow-up to #1247

The AdSense store should have actions `checkAccountStatus` and `checkSiteStatus` to determine these statuses based on several factors previously determined (more information in our respective doc).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/

[2020-04-02 00:10] felixarntz commented on #1177
@tofumatt I really like this idea. I hadn't thought about a precise approach, but using `createNotificationsStore` was definitely a goal here, so 👍

IB ✅

[2020-04-02 00:15] felixarntz commented on #1297
@tofumatt Overall sounds good, but shouldn't we be using the [`toUnicode` function](https://github.com/bestiejs/punycode.js#punycodetounicodeinput)?

[2020-04-02 00:15] felixarntz commented on #1297
Also this will need an estimate :)

[2020-04-02 00:54] felixarntz opened #1333 "Introduce stringifyObject function to use for datastores"
## Feature Description

Our datastores will often need to store values keyed by the properties that they were retrieved with (e.g. to support selectors with parameters). While we've so far only had simple cases with one or two properties where we would simply concatenate them, this will easily get more complex as we start supporting selectors that accept e.g. `options` objects of various structure

[2020-04-02 02:14] felixarntz opened #1335 "window.googlesitekit.modules.createModuleStore is undefined"
## Bug Description

As soon as enqueuing one of the new module assets (e.g. from #1224 or #1247) for the first time, I noticed an error in the console that `window.googlesitekit.modules.createModuleStore` is undefined. That is because we currently (in our "old" codebase) already use `window.googlesitekit.modules` to hold module information passed from PHP. That's unfortunate, but we can easily res

[2020-04-02 06:59] cole10up commented on #971
I'm unable to reproduce this one on my end. Looks to be fixed.

Passed QA ✅

[2020-04-02 07:04] kindect commented on #1262
Glad to see Chinese fellows (which i'am also one) working on this and provide useful info like this
So the possible solution is to set php to use the VPN service since the google sever isn't available in China.
Hope that's going to help you

[2020-04-02 07:18] Pete-Z commented on #1262
Hi Kindect. Appreciate your input on the issue. I will do some research on how to set up PHP to use VPN. Have you resolved the issue with this VPN method? Is there a way you can share more details about how you did it? (Sorry, I'm a novice at these things.)

[2020-04-02 13:40] tofumatt commented on #1297
Argh, I could've sworn I added an estimate. Oh, and sure, we can use `toUnicode` instead! I tried it out with `decode` in my branch, but `toUnicode` is more appropriate, true 😄

IB updated!

[2020-04-02 14:30] tofumatt commented on #1335
IB ✅

[2020-04-02 14:31] tofumatt commented on #1335
All reviewed and good-to-merge, just assigning to you to handle the merge 🙂

[2020-04-02 14:51] tofumatt commented on #1333
IB ✅ and code-reviewed, just assigning it to you so you can merge it 😄

[2020-04-02 15:33] cole10up commented on #1322
**Tested**

Confirmed latest change on an older version of WP:

<details>
  <summary>Click to expand results on WP 4.9.13</summary>

`Coles-MacBook-Air:google-site-kit cole$ WP_VERSION=4.9.13 npm run env:start

STATUS: Stopping Docker containers...
STATUS: Downloading Docker image updates...
Pulling mysql     ... done
Pulling wordpress ... done
Pulling cli       ... done
STATUS: Starting Docker co

[2020-04-02 15:59] tofumatt commented on #1279
Code reviewed ✅from me—passing off to merge 🙂

[2020-04-02 18:54] ernee commented on #1318
@ELkoos we're now providing support in the [WordPress Support Forums](https://wordpress.org/support/plugin/google-site-kit/). Feel free to open a topic there and we'll be happy to assist.

[2020-04-02 18:54] #1318 closed

[2020-04-02 18:59] ryanwelcher commented on #1279
I'm going to take this back to look at the issues that @adamsilverstein ran into in the PR - https://github.com/google/site-kit-wp/pull/1327#issuecomment-607496860

[2020-04-02 21:10] adamsilverstein commented on #1212
@felixarntz I have a POC with this working and have adjusted the IB accordingly.

[2020-04-02 21:22] tofumatt commented on #1135
Code reviewed, tested locally, and works great!

Just needs either @felixarntz or @aaemnnosttv to merge, awesome work!

[2020-04-02 22:11] tofumatt commented on #1332
IB ✅

[2020-04-02 22:15] tofumatt commented on #1247
Moving this one back to execution for now while the tests/existing `modules` global code is sorted out, just so it's clear what stage it's at 😄

[2020-04-02 22:18] tofumatt commented on #1286
Looks like that might've been ZenHub getting confused about PRs for this being merged into both `develop` and the refactoring branch… or possibly just an oversight after the code was merged. All the related PRs here have been merged, so I think this can move to QA.

[2020-04-03 01:51] tofumatt commented on #1335
All good—assigning to you for merge 😄

[2020-04-03 05:23] cole10up commented on #1325
Installed all plugins and mimicked settings of the user here: https://wordpress.org/support/topic/blank-page-when-trying-to-activate-adsense-or-analytics-or/

![image](https://user-images.githubusercontent.com/57115907/78326600-a88dcf00-752f-11ea-90eb-182802465ee4.png)

Unable to reproduce the error after installing, activating Adsense and Analytics with all plugins active, sending over to level 2

[2020-04-03 05:52] cole10up commented on #1254
Regression with latest develop passed.

**Tested**

Installed and activated SK
Connected Analytics, confirmed functionality of Analytics
Disconnected Analytics
Reconnected

Passed QA on my end ✅

[2020-04-03 06:02] cole10up commented on #1246
**Tested** Ran a series of regression tests on page loads after installing latest develop SK, activating and connecting all modules.

No errors on my end.

Passed QA ✅

[2020-04-03 06:16] cole10up commented on #1173
**Tested**

Installed latest develop SK activated and connected all services.

Confirmed functionality, disconnected all services and reconnected.

No issues on my end. Passed QA ✅

[2020-04-03 10:31] jamesozzie opened #1341 "Stuck at "Checking compatibility""
After installing and activating Site Kit setup a user is stuck at the "Checking compatibility" stage. The "Start setup" button doesn't appear.

![image](https://user-images.githubusercontent.com/41326532/78350799-b417df00-759d-11ea-8f88-e6f6677bf8e2.png)

WordPress Support Topic:
https://wordpress.org/support/topic/stuck-at-checking-compatibility

Additional information:
- Site URL: https://labpha

[2020-04-03 10:52] tofumatt commented on #1222
It's likely that this issue is going to block us from using React hooks and is causing issues with multiple copies of libraries being run on the page needlessly, so I'm going to investigate this further as it seems to be blocking #1101, or at least requiring some not-so-nice hacks to get things working.

[2020-04-03 12:59] tofumatt commented on #1247
Code review is ✅ from me; assigned over to merge 👍

[2020-04-03 12:59] tofumatt commented on #1247
Sorry, clicked "Close and comment" by mistake 😅

[2020-04-03 14:11] adamsilverstein commented on #1209
@cole10up - I created this draft PR to create a build for QA: https://github.com/google/site-kit-wp/pull/1343

[2020-04-03 17:34] felixarntz opened #1346 "Fix API.set not passing through data correctly"
## Bug Description

Our API datapoint routes for `POST` requests expect all data to be within a `data` body parameter. However our new `googlesitekit.api` layer passes all data directly in the body, making all such requests fail.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Data passed to `googlesit

[2020-04-03 20:13] felixarntz commented on #1106
Looks like we're no longer removing the `dist` directory during `npm run build` - I'm suspecting it has something to do with these changes. Let's double-check that. Whenever you run e.g. `npm run build`, the `dist` directory should be removed in the beginning.

[2020-04-03 20:27] felixarntz commented on #1106
Looks like it's better to use a general directory deletion package rather than the `CleanWebpackPlugin`, which doesn't seem to do it for us.

[2020-04-03 22:03] ernee opened #1347 "Compatibility with headless WordPress environments"
A [user in the support forums ](https://wordpress.org/support/topic/problems-with-headless-wordpress/) encounters the following error when attempting to verify their site in a headless WordPress environment:

The user tried using both the plugin's setup process and with the [staging environment/ Dev settings plugin ](https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environm

[2020-04-03 22:04] cole10up commented on #1209
**Tested**

Was able to test this one using the Site Kit tester plugin.

Flipped my branch to:
![image](https://user-images.githubusercontent.com/57115907/78407736-5940b080-75ba-11ea-9898-4833cd07eeb1.png)

Ran a series of tests installing SK and activating Analytics for the first time.

Confirmed the scope being requested here:
![image](https://user-images.githubusercontent.com/57115907/78407929-

[2020-04-04 16:50] sviluppomania commented on #1310
@jamesozzie

[2020-04-04 17:04] ghost opened #1348 "All versions of Google reCaptcha in one Plugin."
## Feature Description

Hello,
among all the services in the Site Kit I don't see Google reCaptcha ...
It would be the case to insert it giving the possibility to apply a different version from v2 to v3 with the security level from the lowest to the highest.
Thus ensuring less use of third-party plugins and ensuring an excellent service.

Note: Also ensuring the position of the snippets as low as

[2020-04-04 22:33] kabirbd89 commented on #1253
@jamesozzie I am thinking about a temporary solution in completely non professional way. Which is 302 redirection. does google mark it negatively ! any idea

[2020-04-05 07:18] Buildbetter commented on #852
+1

[2020-04-05 10:54] Buildbetter commented on #6
Please correct this is very bad mistake. Make it option, give access to all administrators to see statistics. Its very bad decision. Please fix it, don't kill us.

[2020-04-05 23:53] wpfella opened #1349 "Error Setting Up Google Site Kit"
## Bug Description

I installed Google Site Kit plugin by searching the plugin from the Plugins tab in my WP Dashboard.

Once I installed it, I tried to set it up with my Google account.

## Steps to reproduce

1. I go to Google Site Kit in the dashboard
2. Click on Start Setup
3. When I click on Start Setup in my WP Dashboard, it takes me to the Google Page which gives information on start settin

[2020-04-06 08:50] aaemnnosttv commented on #1309
That doesn't seem to be the case entirely, as the locale identifier string can contain bits specifically related formatting, such as 12h/24h time format. Here's an example from the docs:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Locale/Locale

As far as locales in WP (which is where our locale should always come from - the browser is used as a fallback), onl

[2020-04-06 09:44] jamesozzie commented on #1310
@sviluppomania There is no guarantee the snippets will be moved, we will however review all the snippet placements in relation to ensure best practice.

[2020-04-06 09:58] Buildbetter commented on #881
Why need to sign, what is benefits of this – all administrators of the site do add their own google profiles to see statistics?
Why need to authenticate WordPress plugin in their PERSONAL Google PROFILES?

[2020-04-06 10:20] sviluppomania commented on #1310
We do know, however, that snippets cause a big slowdown.  They should be moved as low as possible, perhaps in the footer before the <body> tag, as expected by many guides around the web.  The tags that affect a lot are those of Google Analytics and Google AdSense, to follow other active minor snippets.  Moving all these we have an improvement of many milliseconds if not a whole second.

[2020-04-06 12:39] jamesozzie commented on #1349
@wpfella We have moved Site Kit support to the WordPress support forum. You can open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we can assist, and possibly reopen this GitHub issue if we can determine a bug.

Please include your url and [Site Health information](https://i.imgur.com/Rtkmsba.png) in the support topic. If you prefer to share privat

[2020-04-06 12:39] #1349 closed

[2020-04-06 13:25] adamsilverstein commented on #1235
@ReeceHaigh Can you still reproduce this with the current version of the plugin? I am going to try to reproduce on my end as well.

[2020-04-06 14:40] felixarntz commented on #1309
@aaemnnosttv I'd prefer to only rely on the first two segments, because what comes afterwards is not standardized and _could_ lead to problems.

[2020-04-06 14:51] grpace commented on #6
As an agency that sets up analytics for our clients. It is imperative that our client user role with different accounts don't need to log into analytics but just get the authenticated access that we have set up on our admin account.

Please give us this option!

[2020-04-06 17:20] felixarntz commented on #1179
IB ✅

[2020-04-06 17:21] felixarntz commented on #1297
IB ✅

[2020-04-06 17:59] adamsilverstein commented on #1305
✅ IB Looks good!

[2020-04-06 18:19] felixarntz commented on #1305
@adamsilverstein PR is already there for review (see IB) :)

[2020-04-06 18:20] tofumatt commented on #1246
QA ✅from me too; moving to approval.

[2020-04-06 18:28] felixarntz opened #1351 "Avoid push errors in deploy-to-wiki action"
## Bug Description

Sometimes the `deploy-to-wiki` action fails ([example here](https://github.com/google/site-kit-wp/runs/565234823)) because some changes have been pushed in the meantime. I suspect this can happen when the action is run multiple times concurrently. It has been occurring fairly often, so it would be good to stabilize that part.

For example:
* Either catch an error in the push co

[2020-04-06 18:39] ernee opened #1352 "Stuck at setup step 3: site verification's "Proceed" button doesn't work"
## Bug Description

Several users have reported being stuck at step 3 ("Verify your Site") of the setup process and cannot get pass the "Proceed" button with the following behavior:

**1) Nothing happens after pressing the button (reloads)**

Support topic examples:
https://wordpress.org/support/topic/set-up-trouble/
https://wordpress.org/support/topic/verify-site-ownership-proceed-button-loops/
h

[2020-04-06 21:01] ReeceHaigh commented on #1235
Yes it’s still happening.

Was this done with 2 different google accounts sharing one lot of google services?

Different Wordpress accounts can log in to the plugin with the same email but not with 2 different emails with the same google analytics property.

So my wordpress login uses my google email to access site kit, our Seo team have their own Wordpress login and their own google email (but ha

[2020-04-06 21:04] adamsilverstein commented on #1351
@felixarntz - Let's try pulling immediately before pushing to see if that resolves the issue. Adjusted IB accordingly.

[2020-04-06 21:26] felixarntz commented on #1211
IB ✅ , with some quirks to consider:
* The copy must also work for when the user _chose_ to create an account. So it shouldn't say "We didn't find an account" or similar.
* The `propertyName` field should default to the site's domain/host, not the full URL.
* We need to ensure that the WordPress timezones are part of the TZ database (see https://developers.google.com/analytics/devguides/config/mgm

[2020-04-06 21:28] felixarntz commented on #1351
IB ✅

If we do `git pull` after the commit, we'll need to ensure it gets merged automatically (as in it shouldn't open vim or something).

[2020-04-06 21:29] felixarntz commented on #1351
@adamsilverstein This still needs an estimate.

[2020-04-06 21:34] adamsilverstein commented on #1351
Good point, updated command in IB to `git pull --no-edit` which should [skip the edit step](https://git-scm.com/docs/git-pull/2.3.5#git-pull---no-edit) in the pull command

Added an estimate.

[2020-04-06 23:33] adamsilverstein commented on #1211
Updated header to read: "Create a new Analytics account"

Adjusted and cleaned up that section.

I could not find a specific reference on the Analytics documentation site about what timezones are supported, this may be it (I found a reference to it in other Google APIs): https://github.com/unicode-org/cldr/blob/master/common/bcp47/timezone.xml.

I think the WordPress list is a bit longer: if we us

[2020-04-07 00:11] ernee commented on #1352
[This user](https://wordpress.org/support/topic/site-kit-verify-site-ownership-loop/) reported that after  trying 1st workaround, they reached a "Server Error" message. A second attempt lead to a "Unknown Error (code: http_request_failed)" error. Also reported in  #1262 .

[2020-04-07 14:49] felixarntz commented on #1048
Assigning to you @aaemnnosttv since you're working on #1101.

[2020-04-07 14:51] ThierryA commented on #853
Removing this issue from the Execution board as we have addressed most performance issues via other tickets. Setting up profiling would be good to revisit at some point.

[2020-04-07 15:10] felixarntz commented on #1255
@aaemnnosttv Let me know if there's anything else (other than what I added in the ACs) you think we should cover in e2e tests here.

[2020-04-07 16:16] adamsilverstein opened #1356 "Chore: upgrade all package dependencies."
## Task Description

* Update dependencies in package.json.
* Update dependencies in composer.json.
* Verify build and codebase works correctly.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All our Composer and NPM packages should be updated to their latest versions.
* Functionality should not be af

[2020-04-07 17:01] felixarntz commented on #1116
@ernee The `redirect_uri_mismatch` problem is a different one. They're both related to subdirectories, but the original one outlined here is UI-related, while the one in your last comment is setup-related.

I'll open a separate issue for that.

[2020-04-07 17:15] felixarntz opened #1357 "redirect_uri_mismatch error with TranslatePress plugin"
## Bug Description

With the [TranslatePress plugin](https://translatepress.com/), with the setting _Use a subdirectory for the default language_. Results in a **‘redirect_uri’ mismatch** error. More about the setting:

https://translatepress.com/docs/settings/#default-launguage-subdirectory

Related support topic: https://wordpress.org/support/topic/unable-to-sign-in-redirect_uri-mismatch/

Origi

[2020-04-07 17:19] felixarntz commented on #1116
This problem here is not strictly related to a language plugin - it most likely affects all sites which are in a subdirectory. I assume it is because we combine the full paths returned from Google APIs with the site URL in the wrong way: If the site URL includes a path already, that path should not be included twice in the combined URL.

cc @adamsilverstein

[2020-04-07 17:22] felixarntz commented on #1357
This _could_ be happening because we handle the `?oauth2callback=1` requests in the frontend, and plugins may alter the home URL differently there from how it is in WP Admin. If that's truly the case, we'll need to have our callback logic elsewhere within WP Admin and inform the authentication service about this new URL.

[2020-04-07 17:30] aaemnnosttv commented on #1255
* We need to update the E2E provisioning script to support installing the AMP plugin 😄
* These tests should also probably have their own E2E job added in the Travis matrix. Maybe we can replace the job with Gutenberg now that we don't have any shared dependencies with it?
* We can add tests to check that tags are output properly (perhaps this should be a separate issue for an additional PHPUnit su

[2020-04-07 17:39] aaemnnosttv commented on #1309
Updated the IB per Felix's remarks, so this should be IB ✅

[2020-04-07 18:25] ernee commented on #1116
@felixarntz thanks for the clarification! I tested this again and got the **‘redirect_uri’ mismatch** with the noted WPML settings.

<img width="641" alt="WPML redirect uri error" src="https://user-images.githubusercontent.com/8108643/78705495-6adbce00-78c2-11ea-94e6-d5fbe747f254.png">

I'm not sure if recent updates changed the outcome, but noting this here.

[2020-04-07 18:32] ernee commented on #1116
Regarding WPML, I am also investing this issue which a user said the different domains per language option leads to a 404 (note the callback URL): https://wordpress.org/support/topic/doesnt-support-multidomain-config/

I haven't been able to recreate it, but should this be a separate issue ?

[2020-04-07 19:03] felixarntz commented on #1213
This may be affected by https://github.com/google/site-kit-wp/issues/1357#issuecomment-610516434 - we may want to change the redirect URL to be within WP Admin.

[2020-04-07 19:18] felixarntz commented on #1255
@aaemnnosttv

Right, I think that should go into the IB.

I'd prefer to add them to the 3 existing jobs. We'd simply only activating the AMP plugin for the specific tests where we need it. The Gutenberg job should be maintained, it's less unlikely to cause errors now, but still relevant.

Yeah, I think that's not so much e2e test territory.

Those are valid to be tested, but I'd say not as part of

[2020-04-07 20:25] adamsilverstein commented on #1357
I was able to reproduce this issue with the following steps:
* Install and activate the TranslatePress plugin, enabling "Use a subdirectory for the default language" and adding a second language. My homepage now redirects to `{site_url}/en`
* Activate Site Kit and go thru auth flow.
* You will be returned to `/wp-admin` with an error:

![image](https://user-images.githubusercontent.com/2676022/787

[2020-04-07 20:28] aaemnnosttv opened #1361 "Actions with controls do not invoke reducer"
## Bug Description

Actions dispatched on a datastore will not trigger the reducer if they have an associated control. The reducer we use has primarily been for setting "has started" state but the issue is more serious in that we've seen it cause components to render improperly as a result.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2020-04-07 20:33] felixarntz commented on #1357
@adamsilverstein Thanks for double-checking!

I don't think there is. This was implemented way back, and there should be no difference pointing to a WP Admin URL instead, because the user must be logged in at this point anyway.

That's a reasonable alternative, however I'd say that would be an additional patch. We should add a way to the authentication service to check for the URLs currently regis

[2020-04-07 20:34] adamsilverstein commented on #1357
Makes sense. I'll change that detail in the analytics provisioning flow as well.

[2020-04-07 20:44] felixarntz commented on #1357
@adamsilverstein Added an IB for your review.

[2020-04-07 21:07] felixarntz commented on #1361
IB ✅

[2020-04-07 21:25] adamsilverstein commented on #1357
✅ IB looks good.

[2020-04-08 05:10] adamsilverstein commented on #1254
After debugging an issue with our existing oauth callback, we have decided to move the callback to the `wp-admin` url. I will create a separate follow up issue for this.

[2020-04-08 05:16] adamsilverstein opened #1362 "Adjust `analytics_redirect_uri` to use `wp-admin` url."
## Feature Description

Update the `analytics_redirect_uri` added in https://github.com/google/site-kit-wp/issues/1254 to use a `wp-admin` url.

See: https://github.com/google/site-kit-wp/issues/1357

Similar to the `OAuth_Client::get_redirect_uri ` , the `analytics_redirect_uri` (here - https://github.com/google/site-kit-wp/pull/1315/files#diff-bbaf5b751feff38436021e081d52271cR94) should be modif

[2020-04-08 05:17] adamsilverstein commented on #1357
I created a follow up issue to update this in the analytics provisioning flow callback as well: https://github.com/google/site-kit-wp/issues/1362

[2020-04-08 05:30] cole10up commented on #1297
**Tested**

This is not fixed.

Built latest develop here:
[google-site-kit.v1.6.0.develop@4b626cc5a5.zip](https://github.com/google/site-kit-wp/files/4448365/google-site-kit.v1.6.0.develop%404b626cc5a5.zip)

Logged into http://xn--trkish-3ya.com/wp-admin/admin.php

Setup SiteKit and clicked Disconnect from dashboard.

Notice:
![image](https://user-images.githubusercontent.com/57115907/78747795-23

[2020-04-08 07:31] cole10up commented on #1319
Ran regression around basic functionality. Installed and setup SK, connected all modules, confirmed functionality, disconnected modules, disconnected SK, deactivated and removed SK. Reinstalled and confirmed everything remained functional after setup a 2nd time.

Passed QA ✅

[2020-04-08 07:33] cole10up commented on #1000
Ran regression around basic functionality. Installed and setup SK, connected all modules, confirmed functionality, disconnected modules, disconnected SK, deactivated and removed SK. Reinstalled and confirmed everything remained functional after setup a 2nd time.

Passed QA ✅

[2020-04-08 07:34] cole10up commented on #1286
Ran regression around basic functionality. Installed and setup SK, connected all modules, confirmed functionality, disconnected modules, disconnected SK, deactivated and removed SK. Reinstalled and confirmed everything remained functional after setup a 2nd time.

Passed QA ✅

[2020-04-08 09:30] jamesozzie opened #1363 "Incompatibility with altervista.org (http_request_failed)"
## Bug Description
Altervista.org is an Italian site that allows users to easily create a WordPress blog. The domains provided to users are based on subdomains off altervista.org (ie. mysite.altervista.org).

Users are unable to proceed with Site Kit setup as they can't verify domain ownership, based on subdomain setup. The error encountered is below. This occurs after clicking on the "Proceed" bu