[2020-12-03 19:24] aaemnnosttv commented on #2390
## QA ❌

The report details link is duplicated on the field data tab – the design shows this only once at the bottom.

![image](https://user-images.githubusercontent.com/1621608/101077491-93c97580-35ad-11eb-8883-5a270093e184.png)

Also, not sure if we should show recommendations when field data is not available?

![image](https://user-images.githubusercontent.com/1621608/101077652-cd01e580-35ad-11

[2020-12-03 19:48] felixarntz commented on #2473
@eugene-manuilov

You mean it's already in the previous version of the release? Or it's only in the development build? Not sure I understand correctly. If it's a bug that surfaces in production and was not already in the last release, we need to fix it for this one.

That one is intended per the Figma design.

[2020-12-03 19:50] eugene-manuilov commented on #2473
Sorry, I meant that that bug also exists in the `1.21.0`.

[2020-12-03 19:52] felixarntz commented on #2390
@aaemnnosttv Oh right, I missed that during code review. The `ReportDetailsLink` wasn't removed from `FieldReportMetrics`.

Regarding the recommendations surfacing for no field data, that is good as is and should be kept.

[2020-12-03 19:56] eugene-manuilov commented on #2390
@aaemnnosttv @felixarntz let me fix it really quickly.

[2020-12-03 20:50] adamsilverstein commented on #1998
@aaemnnosttv This worked well in my testing. I verified that:

* The `retry_map` configuration is passed to the underlying PHP client, specifically in the Runner class.

I was able to reproduce an API error for lighthouse _by filtering `googlesitekit_site_url` to use a non existent domain_.

`add_filter( 'googlesitekit_site_url', function() { return "not-a-validdomain.co"; } );`

* Noted that in t

[2020-12-03 21:21] felixarntz commented on #1998
@adamsilverstein @aaemnnosttv It's a bit late now to make more changes here like move this behind a feature flag, and I'm also not sure that makes sense since the implementation for the feature is completed - I think we're okay launching this, as only wide usage will give us an idea about the impact on API requests anyway. Once this goes out on Monday, let's monitor whether it has any impact on AP

[2020-12-03 21:49] aaemnnosttv commented on #2390
@felixarntz CR ✅  – just waiting on the one E2E job to re-run – assigned back to you to merge.

[2020-12-04 08:29] benbowler commented on #2154
## ✅ QA:Eng Approved

`✖ 8 problems (8 errors, 0 warnings)` 👍

[2020-12-04 08:33] benbowler commented on #2473
@eugene-manuilov @felixarntz  the removal of the caret icon was in the [Figma designs for the update of the header date range selector](https://www.figma.com/file/XxCBceEOfDsljYv9DNaJdS/Sticker-header-%2F-date-picker?node-id=1%3A100):

<img width="1096" alt="Screenshot 2020-11-18 at 14 35 34" src="https://user-images.githubusercontent.com/119352/101140835-67444680-360b-11eb-9f94-78cea970c050.png">

[2020-12-04 08:34] benbowler commented on #2473
@felixarntz smoke test passed.

[2020-12-04 09:07] kostyalmm commented on #2473
smoke test passed.

[2020-12-04 11:51] jamesozzie commented on #2450
The user was able to resolve this issue, with the site in question having additional plugins with Analytics features. Closing as the user was able to resolve on other sites .

[2020-12-04 11:51] #2450 closed

[2020-12-04 15:29] wpdarren commented on #2473
Smoke test passed but noted an observation in [Slack](https://10up.slack.com/archives/CBKKQEBR9/p1607084488287700) when you disconnect and reset site kit data.

[2020-12-04 16:16] #2331 closed

[2020-12-04 16:16] marrrmarrr commented on #2331
LGTM

[2020-12-04 16:19] marrrmarrr commented on #2283
tested user input flow with dev build.

[2020-12-04 16:19] #2283 closed

[2020-12-04 16:30] marrrmarrr commented on #2390
LGTM

[2020-12-04 16:30] #2390 closed

[2020-12-04 16:36] jamesozzie commented on #1008
@MrWonka Sorry I'm only getting back to you on this now, this issue must have escaped me, we've since moved Site Kit support over the WordPress support forums. Can you check whether the same issues persists, I just checked with the latest version of Site Kit and the Kadence theme (with Kadence Block & Virtue/Ascend/Pinnacle Toolkit).

[2020-12-04 20:25] westonruter commented on #2455
I wonder if it is purely due to a difference in the CSS size. I see that Twenty Twenty has a `style.css` that is 120KB whereas Twenty Twenty-One's `style.css` is 152KB. Perhaps that additional 32KB is causing the Docker container's memory to run out?

[2020-12-04 21:16] felixarntz commented on #2252
@aaemnnosttv Let me know your thoughts on the preliminary IB I added here. We can further discuss this in our meeting, let's finalize it then.

[2020-12-04 21:47] felixarntz commented on #2457
@aaemnnosttv I've updated the ACs based on some of your feedback.

Agreed, that makes it more clear and doesn't rely on inspecting the response, which couples it too much to the format. Updated in the ACs.

I've updated the ACs to outsource the common logic to a `handleAPIError` function, which does not include API error logging and tracking because that should only apply to non-cached errors actu

[2020-12-04 22:05] tofumatt commented on #2247
Unfortunately, it seems #2444 doesn't fix this issue.

Running the latest `develop` with a fresh build using `npm run watch`, I just got this error:

<img width="1392" alt="Screenshot 2020-12-04 at 22 03 59" src="https://user-images.githubusercontent.com/90871/101219934-aeb6eb00-367c-11eb-930b-9dc16df84744.png">

[2020-12-04 22:12] tofumatt commented on #2247
I'm just not able to reproduce the issue with my patch, so I think it's safer to go ahead with it. I've moved it back to code review 😄

[2020-12-04 22:17] tofumatt commented on #2383
QA ✅

[2020-12-05 16:56] aaemnnosttv commented on #2247
@tofumatt

#2444 (PR #2445) hasn't been merged yet so that result would still be expected.

[2020-12-06 01:16] ivankruchkoff commented on #2007
Just a quick comment that we're at React version `17.0.1` now, not `16.13.1`

[2020-12-06 19:43] cbunga18 opened #2483 "cbunga18"

[2020-12-06 19:44] #2483 closed

[2020-12-06 19:48] cbunga18 opened #2484 "Search console"
Search Console data is not yet available

[2020-12-06 19:48] #2484 closed

[2020-12-06 19:49] cbunga18 commented on #2484
Search Console data is not yet available

[2020-12-07 01:29] ivankruchkoff opened #2486 "Create a listFormat util to handle converting an array to string in i18n manner."
## Feature Description

In JS, when combining an array of elements into a string, we want to do so in a manner that is consistent with i18n rules.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Similar to how we have a [numberFormat](https://github.com/google/site-kit-wp/blob/39a792059/assets/js/util/i1

[2020-12-07 02:27] ivankruchkoff commented on #2355
@aaemnnosttv agreed. `*.js` would be best and would allow `.eslintignore` to make the determination for what can be ignored.

[2020-12-07 03:13] ivankruchkoff commented on #2076
@felixarntz we don't have a corresponding `SearchConsoleInactiveCTA`  as a fallback for `AdminBarClicks` and `AdminBarImpressions` the way we do with `AnalyticsInactiveCTA`. So we're always rendering those components?

[2020-12-07 07:26] aaemnnosttv commented on #2355
Thanks @ivankruchkoff – IB ✅ although it can be simplified a bit and doesn't need the reference to the branch anymore since that isn't really needed.

[2020-12-07 10:07] eugene-manuilov commented on #2301
@aaemnnosttv could you please take a look at this ticket? I can't make e2e tests pass in GHA :(

In the beginning, I tried to use our docker-compose approach, but all tests failed with timeout errors (see results [here](https://github.com/google/site-kit-wp/runs/1418158435?check_suite_focus=true)). Then I tried to install a new WP instance on the virtual machine itself using wp-cli commands but ke

[2020-12-07 10:21] eugene-manuilov commented on #2345
@aaemnnosttv I know I am late to the party, but I want to suggest not using `@wordpress/keywords` because it brings an additional [~82kb](https://bundlephobia.com/result?p=@wordpress/keycodes@2.16.0) to our bundle which is a big price for using just 3 constants from that package. Let's better define those constants in our codebase and use it instead of `@wordpress/keywords`?

[2020-12-07 10:49] aaemnnosttv commented on #2252
@felixarntz

Just to clarify, I think we want to combine sibling widgets in the same row, not necessarily only those that are directly adjacent, correct? Things are already quite complicated as it is and this would make it even more so, but I don't think the immediate next/previous element is as important as those within the same row.

Also, a widget area only renders a single row of widgets, corr

[2020-12-07 11:37] aaemnnosttv opened #2487 "NPM install fails with Node 14 on MacOS"
## Bug Description

We recently updated our Node version (as defined in the nvmrc) from v10 to v14, the latest LTS version.

While this worked fine in CI and even locally for most tasks, `npm install` fails when attempting to build/rebuild `fsevents` v1 which is required by dependencies of `@storybook/react` as well as `webpack`.

Installing the latest `fsevents` (v2) as a dev-dependency solves th

[2020-12-07 12:22] wpdarren commented on #2459
@aaemnnosttv this might be my lack of experience using the `Network > XHR` section in Dev tools, but I do not see `modules/adsense/data/earnings` and `modules/analytics/data/report` either before refreshing or after the SK dashboard.  I am using the development build.  Here's what I am seeing  - [Screenshot](https://user-images.githubusercontent.com/73545194/101350313-b919f480-38c9-11eb-86a2-0e985

[2020-12-07 12:24] aaemnnosttv commented on #2345
@eugene-manuilov I don't think that accounts for dead code elimination that webpack does.

Here's a diff of before/after, using `bundlesize` with `develop` and this branch after (with hashes omitted to focus on file size differences)

The result is about `0.1KB` difference in some files.

<details>
  <summary>diff</summary>

[code]

</details>

If it were 82KB like you're saying, then yes I agree

[2020-12-07 12:40] benbowler commented on #2048
Thanks @felixarntz, this is in the `enhancement/2048-user-input-settings-rest-endpoint` branch ready whenever the API endpoint is available. Drop me a message on here when it's ready.

[2020-12-07 13:08] eugene-manuilov commented on #2487
@aaemnnosttv IB should be just `Merge #2488`, shouldn't it?

[2020-12-07 13:10] aaemnnosttv commented on #2487
@eugene-manuilov that's basically what it is, it just adds a little detail as to what it's doing. You're right though that it could be omitted.

[2020-12-07 13:13] eugene-manuilov commented on #2487
@aaemnnosttv IB :heavy_check_mark: but I would update it to be something like this to escape unnecessary confusion:

[code]

[2020-12-07 13:23] eugene-manuilov commented on #2007
@ivankruchkoff we need to adhere React version used by the `@wordpress/element` package which is `16.14.0` for the latest version of the element package.

[2020-12-07 15:28] benbowler commented on #2290
Moved back to Execution because it's failing E2E tests.

[2020-12-07 15:29] aaemnnosttv commented on #2459
@wpdarren you need to first clear the session storage which is probably why you're not seeing the requests (they're already cached). To do this go to the Application tab in dev tools and clear the storage for the current domain.
![image](https://user-images.githubusercontent.com/1621608/101369719-4d2b9200-38b1-11eb-9046-244096e0eec7.png)

Alternatively, you can run this from the browser's console:

[2020-12-07 15:56] felixarntz commented on #2252
@aaemnnosttv

Oh, now I see where the confusion came from. Yes, it renders only one `Row` component, but the widgets will automatically float across multiple (visual, not React) rows if their grid classes extend the available 12 column grid. That's what I mean when I say widget areas can contain multiple rows.

So yes, we should only combine similar widgets in the same row, but that requires us to

[2020-12-07 15:57] felixarntz commented on #2076
@ivankruchkoff Yes, Search Console is a required module in Site Kit, so it's not possible to use the plugin without it. Therefore we don't have any CTAs for Search Console.

[2020-12-07 16:23] felixarntz opened #2495 "Do not make proxy notifications request when not using proxy"
## Bug Description

Currently, for sites that aren't using the proxy (because of using custom OAuth client credentials), Site Kit still regularly requests the notifications endpoint of the proxy, which naturally will fail, as the client ID used in that case is not a valid site ID against the proxy.

Those requests should be avoided, either by the client not making the request to the server for not

[2020-12-07 16:54] benbowler commented on #2271
Increased the estimate slightly after speaking to @eclarke1.

[2020-12-07 17:37] wpdarren commented on #2459
### QA update: Pass ✅

Verified: the end date is the date before today's date (I'm on the 8 December here in Malaysia) so the date is 12/07/2020.
 - [Screenshot](https://user-images.githubusercontent.com/73545194/101384205-15ded480-38f5-11eb-8562-0d31fe4c8f31.png)  This was the case for both Adsense and Analytics.

- No Javascript errors appear in the dashboard for Adsense and Analytics modules.

[2020-12-07 18:01] felixarntz commented on #1655
There's still a reason to do this task, but I think its priority is very low. Given the amount of time this will take, it's not worth doing at this point. It's not really part of the component refactoring epic, so I removed that one from here.

We already improved a few related areas via #1995 and #2436. Most work in here involves updating Storybook stories, so the impact on production code would

[2020-12-07 18:43] aaemnnosttv opened #2497 "Make data store navigation-aware"
## Feature Description

Currently there are a few instances in the plugin where we need to account for whether or not a navigation is in progress, so that we can show a progress bar after a form submission for example. Until now, we have managed to work around this on a case-by-case basis and in a local component scope.

As a reoccurring need, it makes sense to address this in a more holistic way

[2020-12-07 20:47] felixarntz opened #2498 "Ship flag mode file with Site Kit development build ZIP"
## Bug Description

The `dist/config.json` file determines whether the current build is a production or development build, via #2316. Intentionally, that file is not included in the production ZIP bundle because for that ZIP file we can through that avoid additional file reading and JSON parsing logic to run on every pageload. However, we didn't consider development ZIP bundles in that thought: Th

[2020-12-07 20:59] ernee commented on #2118
WPML version 4.4.7 has just been released with the remaining fix to address the issue with the "All languages" admin bar setting.

@SamManders thanks for reporting. We've been trying to replicate the issue using TranslatePress. Could you send us a recording and/ or a detailed step-by-step of what causes the issue on your site? You can use the app like [Recordit](https://recordit.co/) to make a vid

[2020-12-07 21:04] felixarntz opened #2499 "Only point to specific question and back when editing user input question"
Currently, when previewing user input questions at the end of the flow or when viewing the responses from within settings, when clicking "Edit", you land on the `googlesitekit-user-input` screen with the regular behavior that you'll have to go through all (following) questions.

This should be updated so that you only have to re-answer the question you're intending to edit, rather than having to c

[2020-12-07 21:06] felixarntz commented on #2499
cc @marrrmarrr

[2020-12-07 21:08] #2043 closed

[2020-12-07 21:08] #2261 closed

[2020-12-07 21:08] #1998 closed

[2020-12-07 21:19] #2154 closed

[2020-12-07 21:19] #2383 closed

[2020-12-07 21:19] #2459 closed

[2020-12-07 21:29] felixarntz commented on #2498
IB ✅

[2020-12-07 21:44] #2473 closed

[2020-12-07 21:49] felixarntz commented on #2428
IB ✅

[2020-12-07 21:53] felixarntz commented on #2080
@kostyalmm You don't specifically mention Storybook in the IB which will also require adjustments so that the AdSense incomplete UI story works as before. We don't need to go super in detail about this, but I just wanna make sure you've reviewed that part and considered it in the estimate. If it's not trivial to update, would be great if you could add a few notes on that too.

[2020-12-07 22:29] tofumatt commented on #2392
Sure thing! I too figured the ACs were clear enough on the slug as you say, but I also added the slug explicitly in the IB just for clarity 🙂

[2020-12-08 09:17] kostyalmm commented on #2080
@felixarntz the last point of the IB touches on that, am I missing something?

Let me know if I should break this down further. I didn't break it further as it is the same as we did in the components in the points before this one.
About the estimate, I will bump it up.

[2020-12-08 09:19] wpdarren commented on #2345
### QA update: Pass ✅

**Verified:**

- When clicking on the email address on the top right to open up `UserMenu` the menu closes when Escape key is pressed.
- When clicking on the email address on the top right to open up `UserMenu` and you are able to move through the options with the arrow keys and space/enter to select an option.
- When `disconnect` option is selected, the dialog box opens and

[2020-12-08 09:44] aaemnnosttv opened #2501 "Leverage Webpack to expose modules on Site Kit global"
## Feature Description

Currently we have a number of JS entry point source files which solely expose an internal module on the `googlesitekit` global object, similar to `window.wp` in WordPress core.

E.g. https://github.com/google/site-kit-wp/blob/dc2cb956993b8d6e47592884264c37a70bcd9895/assets/js/googlesitekit-i18n.js#L29-L30

As an example of this approach that was introduced previously (and l

[2020-12-08 11:16] jamesozzie opened #2503 "Logged in users are being counted in Analytics traffic"
## Bug Description

One [user in the support forums](https://wordpress.org/support/topic/log-in-user-does-not-excluded-from-analytics/page/2/) is encountering an issue whereby even with the default configurations applied.

- [Video showing traffic being counted](https://bit.ly/33A1qZF)
- [Video demonstrating configurations applied ](https://bit.ly/3mT1Odq)

Unable to reproduce in support so far.

[2020-12-08 11:58] aaemnnosttv commented on #2041
@felixarntz – one thing to note that I'm not sure is within the scope of this issue but should be addressed at some point is that in the user input screen components it says "You can always edit your answers after your submission in Settings." although that isn't entirely accurate since the settings screen links to the user input screen to edit previous answers (they aren't directly editable on th

[2020-12-08 13:06] asvinb commented on #2405
@aaemnnosttv The IB has been updated as per your latest feedback. Can you check again?
Sounds good for the code snippet, I'll have that in mind for future IBs.

[2020-12-08 14:12] aaemnnosttv commented on #2405
IB ✅  👍

[2020-12-08 17:25] aaemnnosttv opened #2504 "Automate spell checking"
## Feature Description

Currently we have no form of automated test or tooling in place for checking the spelling of user-facing strings. While uncommon, there have been a few spelling errors which have slipped through (#2401).

This would also be useful in catching potential English-specific misspellings (e.g. using en-GB instead of en-US).

As an open-source project with contributors and maintai

[2020-12-08 19:34] tofumatt commented on #2499
I think the best approach here is to adopt a router and add much more flexibility and ability to externally set the parameters of the page (with the hash routes) to this component. I'm estimating high largely because the existing component will need to be changed (and simplified) which could take a fair bit of time, but the actual router work should be straightforward if the implementer is familia

[2020-12-08 20:33] felixarntz commented on #2143
@kostyalmm Can you still add a QA Brief to this one? Might be good to require testing that icons for the different modules still show up throughout applicable UI (e.g. module screens, module setup flows, module settings panels) and that the Storybook stories for module settings and module setup still show up correctly.

[2020-12-08 22:17] felixarntz opened #2505 "Change icon argument of registerWidgetArea to require a `WPComponent` SVG"
Following up on #2143 and #2413, we should also update the `icon` argument of the `registerWidgetArea` action in `core/widgets` to require an SVG passed as `WPComponent` rather than a string.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `registerWidgetArea` action of `core/widgets` should be upd

[2020-12-08 22:35] felixarntz commented on #1921
@eugene-manuilov Can you still add a QA Brief to this one?

[2020-12-08 22:41] felixarntz commented on #2499
@tofumatt I think introducing a React router is too broad of a change to make here. We can solve this with props almost like you already worked towards during #2041, so let's go that approach for now. I am not against introducing `react-router` where it makes sense, but let's discuss that in its own issue where we can discuss the tradeoffs and review where it would be applicable, without having th

[2020-12-08 22:45] felixarntz commented on #2236
@benbowler Leaving a note here that we'll need to also make Storybook changes here so that the stories for those Analytics widgets still pass after the production code changes.

[2020-12-08 22:46] felixarntz commented on #2346
IB ✅

[2020-12-08 22:48] felixarntz commented on #2495
@tofumatt Nitpick, but I think it would be a bit better to move the check to the very top of that function because we can avoid any other logic in that case. That's a detail though that can be covered during code review. IB ✅

[2020-12-08 22:52] archon810 commented on #2437
Another variation that could happen instead of getting logged out straight up:
![image](https://user-images.githubusercontent.com/469543/101550895-f2537280-3964-11eb-944b-f46a990a172f.png)

[2020-12-08 22:53] felixarntz commented on #2392
IB ✅

[2020-12-08 22:53] archon810 commented on #2437
Confirmed issue is still present in 1.22.0.

[2020-12-09 00:01] felixarntz commented on #2477
@tofumatt Makes sense to not add a selector for this very specific date format but do it in the component instead - IB ✅

[2020-12-09 00:03] tofumatt commented on #2499
My concern with opting not to use a router is we need to end up building a fair amount of one ourselves without. I think the difference is closer to the higher-end of a 19-point issue still without React Router… which it's frankly the lower end of a 30 point issue with React Router.

I guess I'm wary of us spending time building our own implementation of this too many times instead of using React

[2020-12-09 00:18] tofumatt commented on #2499
Looking at it again, I think it might not be too bad using a `useHash` hook after all. We _do_ lose things like the back button and other "router" benefits we'd get for free, but I think it should be straightforward enough to implement without the router.

I'll file a follow-up issue on exploring React Router as well 🙂

[2020-12-09 03:30] cole10up commented on #2498
### QA ✅

Confirmed dist/config.json is **not present** in release-zip
![image](https://user-images.githubusercontent.com/57115907/101570543-80425400-398b-11eb-9293-db6c8045d463.png)

Confirmed dist/config.json is **present** in dev-zip
![image](https://user-images.githubusercontent.com/57115907/101570616-ac5dd500-398b-11eb-8ee6-3f5cb480ca4d.png)

Sending to approved

[2020-12-09 09:51] jamesozzie opened #2506 "JS file size for logged in users with admin toolbar enabled"
## Bug Description

[One user](https://wordpress.org/support/topic/slow-admin-panel-4/) raised a support topic in relation to a JS file size related to the admin toolbar. While this only appears as a logged in user and with the admin toobar enabled the file size can amount to almost 1MB.

The file path looks similar to the below:
`/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-ve

[2020-12-09 10:44] aaemnnosttv opened #2507 "Remove Module datapoints for individual settings"
## Feature Description

Currently we have a number of datapoints defined for modules that simply return a single value from the module's settings.

These are legacy datapoints which were used to both request individual settings from the client but also were used internally to retrieve these values in many places. Another purpose that these datapoints provided in the past was to abstract the key of

[2020-12-09 11:10] aaemnnosttv opened #2508 "Admin bar menu item may not appear in some cases even when data exists"
## Bug Description

The Analytics and Search Console module currently both implement a protected `has_data_for_url( $url ) : boolean` method which is only used right now to help determine if the Site Kit admin bar menu item should be added at page load.

This method queries the respective module's API to check for some minimal data and caches the result in a transient for the given `$url` by hashi

[2020-12-09 11:22] aaemnnosttv opened #2509 "Replace deprecated eslint-loader with eslint-webpack-plugin"
## Bug Description

[The `eslint-loader` package is now deprecated](https://github.com/webpack-contrib/eslint-loader#warning-deprecated) and [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin) is recommended in its place.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* T

[2020-12-09 11:52] aaemnnosttv opened #2510 "Audit and refactor Material components with Material React components"
## Feature Description

While reviewing #2189 I noticed we have many generic components which seem to reimplement existing `@material/react-*` components. Perhaps some of these components didn't exist at the time or there may be reasons why we needed to use alternate versions instead, but this should be re-evaluated to make sure we aren't "reinventing the wheel" unnecessarily.

We currently only p

[2020-12-09 12:20] eugene-manuilov commented on #1921
QA Brief is added. Assigning it to @wpdarren.

[2020-12-09 12:22] jamesozzie commented on #2437
@archon810 Thanks for reaching out and providing details on this. What's seems to be occurring here is the admin URLs used when accessing your site (between your differing domain alias's) not matching the URL registered on the Site Kit service.

Similar issues were raised by users or common language plugins, once a logged in users switches languages that results in a URL structure change. We're wo

[2020-12-09 14:46] wpdarren commented on #1921
### QA update:  Pass ✅

@eugene-manuilov I have passed this but an observation: when you select 90 days the earning and Page RPM values get difficult to read due to the number of characters and font size. I suspect that this is outside of the scope for this ticket, but do you think we should create a new ticket for it?  - [Screenshot](https://user-images.githubusercontent.com/73545194/101642208-af

[2020-12-09 14:55] eugene-manuilov commented on #1921
@wpdarren yes, please, create a ticket for font styles. Also looks like data for the previous period hasn't been loaded for your charts, which is weird :thinking: If everything works correctly you should see something like this: https://google.github.io/site-kit-wp/storybook/develop/?path=/story/adsense-module--performance

Do you see one line for all date ranges or just for 90 days only?

[2020-12-09 16:05] tofumatt opened #2511 "Update all copyrights in code to 2021"
## Feature Description

We currently have a mix of `"Site Kit by Google, Copyright 2019"` and `"Site Kit by Google, Copyright 2020"` (see: https://github.com/google/site-kit-wp/pull/2482#discussion_r537769171) in the codebase. Given it'll soon be 2021, I'm filing this now for us to run a quick search + replace of these strings to:

1. unify them
2. update them to the right year, en masse

Of cours

[2020-12-09 18:31] ernee commented on #2349
Another report in the forums: https://wordpress.org/support/topic/error-1451/

[2020-12-09 22:09] ernee opened #2513 "Reconnecting Tag Manager with Analytics tag causes error and UX issue"
## Bug Description

Disconnecting and reconnecting Tag Manager with Analytics Tag configured in the GTM container causes an `Update Settings Failed` error with the following console errors:

<img width="900" alt="Screen Shot 2020-12-04 at 9 46 19 AM" src="https://user-images.githubusercontent.com/8108643/101690929-cf879380-3a22-11eb-9fbc-619582f44dea.png">

With page refresh, the error clears but

[2020-12-09 23:15] tofumatt opened #2514 "Add (React) Router"
## Feature Description

In order to improve navigation behaviour in components, expose state in the URL when appropriate, give users more control of the plugin with browser history, and lessen our implementation of routers with things like `useQueryParams` and `useHash`, I think it's time we adopted an actual Router and started implementing routes in our components.

There are instances in the plu

[2020-12-10 04:26] cole10up commented on #2189
### QA ✅

Ran a series of visual and functional regression tests. Setting up every module and confirming functionality as well as look and feel.

GA: ✔️
Adsense: ✔️
PSI: ✔️
Tag Manager: ✔️
Optimize: ✔️

Sending to Approval.

[2020-12-10 04:38] cole10up commented on #2416
### QA ✅

Setup GA debugger and Tag Assistant, confirmed clicking anonymous tracking with both browser plugins enabled displayed the plugin version properly:
![image](https://user-images.githubusercontent.com/57115907/101721982-15ae1880-3a5e-11eb-8dd8-6dc0ca6ed49a.png)

Sending to Approval

[2020-12-10 10:12] aaemnnosttv commented on #2128
@felixarntz I don't recall what else I was waiting for here but I think it's already ready for an IB 👍

[2020-12-10 10:15] aaemnnosttv commented on #2443
@tofumatt I'm not sure this issue is needed anymore after #2444. It's also somewhat similar to #2501 which is perhaps more appropriate for addressing this – what do you think?

[2020-12-10 10:40] aaemnnosttv commented on #2510
cc: @felixarntz

[2020-12-10 10:43] aaemnnosttv commented on #2507
cc: @felixarntz

[2020-12-10 11:04] wpdarren commented on #1921
@eugene-manuilov this is a good observation, I should have picked up on that.  The previous period data isn't appearing on any date range.  Not sure if this is why, but I am using the tester plugin because I do not have any Google Adsense accounts that have real data - [Screenshot](https://user-images.githubusercontent.com/73545194/101762507-7c900800-3b18-11eb-96b4-06bb18c61eeb.png). FYI - I have

[2020-12-10 11:31] eclarke1 opened #2516 "Adding links on the installed plugin page - "Rate Site Kit | Support""
## Feature Description

Following an open discussion with the UX stream of work, we recommend adding links on the 'Installed Plug-In' page to help encourage users to reach out for support, or write a review.

![image](https://user-images.githubusercontent.com/56588136/101766298-80049e80-3ada-11eb-9900-5a0341394072.png)

Adding "Rate Site Kit" and "Support" as two additional links.
They should poin

[2020-12-10 12:14] aaemnnosttv commented on #2475
IB ✅ 😄

[2020-12-10 13:03] tofumatt commented on #2487
QA ✅

[2020-12-10 13:24] wpdarren commented on #2143
### QA Update: Pass ✅

To test this I compared a site on latest release and one on develop branch + checked alongside the stories.

- When opening all modules, the SVG module icon appears in the top left - [Screenshot](https://user-images.githubusercontent.com/73545194/101777555-97b94280-3b2d-11eb-8144-05a360f6bd31.png)

- The authentication success page lists all the module icons in the congrats

[2020-12-10 15:00] wpdarren commented on #2143
_Note. I've put this back to QA because I'd like to run these tests on mobile devices._

[2020-12-10 15:42] eugene-manuilov commented on #2221
@aaemnnosttv does it really need to be a selector? It seems to be a pure utility function that has nothing to do with datastores. By making it a selector, we introduce hooks to components that don't need hooks at all. Even if it doesn't look like a big deal, it increases the complexity of those components and the codebase itself.

What do you think if we convert it to be just a utility function in

[2020-12-10 16:48] benbowler commented on #2290
E2E tests are now passing.

[2020-12-10 16:55] eugene-manuilov commented on #1921
Ok, it makes sense then. The tester plugin doesn't provide appropriate testing data for these graphs.

@cole10up can you take a look at it?

[2020-12-10 17:12] timnolte opened #2519 "Support Multiple Google Tag Manager Containers"
## Feature Description

Google supports the use of multiple GTM containers on a single site. (https://developers.google.com/tag-manager/devguide?hl=en#multiple-containers) Please look at supporting this feature. Currently the [Google Tag Manager for WordPress](https://wordpress.org/plugins/duracelltomi-google-tag-manager/) plugin already supports this and I'd prefer to stick with Site Kit and not

[2020-12-10 18:10] eclarke1 opened #2520 "WP admin description; add content related to support forum and writing a review"
## Feature Description

At the end of the plugin description in the 'Plugins' menu within WordPress admin, suggest adding some content related to the support forum and writing a review. As per #2156 we could suggest adding a link for "Ask a Question" which will direct users to https://wordpress.org/support/plugin/google-site-kit/#new-post as well as adding a link for "Write a Review" which will di

[2020-12-10 19:02] eugene-manuilov commented on #2291
QA :heavy_check_mark: The `GoogleSitekitModule` component is refactored and the `googlesitekit.moduleHasSetupWizard` filter is removed.

[2020-12-10 20:33] aaemnnosttv commented on #2221
@eugene-manuilov it looks like @felixarntz wrote the ACs for this. I agree that as-is that it doesn't seem to need to be part of the datastore, although perhaps the locale will be moved there? I'm not sure, but as it is, it seems like a utility function would be simpler.

[2020-12-10 20:35] felixarntz commented on #2252
@aaemnnosttv Can you have a look at this once you're back?

[2020-12-10 20:56] adamsilverstein commented on #342
Help topic for reference: https://support.google.com/tagassistant/answer/3207128?ref_topic=2947092#nonstandard

@felixarntz  Did we determine that this warning is expected for our use case? If so, can we document that/why here and close this issue?

[2020-12-10 21:27] felixarntz opened #2522 "Implement Search Console updates to rely on latest API version and display fresh data"
[Search Console recently released a big API update](https://developers.google.com/search/blog/2020/12/search-console-api-updates) relevant for Site Kit: Related to #2284 (where we actually incorrectly assumed this was already in place), we can now display "fresh data" in Search Console reports via the API.

We should migrate from using the legacy API `https://www.googleapis.com/webmasters/v3/` to

[2020-12-10 23:20] felixarntz commented on #2452
@aaemnnosttv

I'm in favor of exposing this via a module, but couldn't this be an internal module and not an actual entrypoint that we need to load its own JS file for in production? I think we could have the `FeatureProvider` as a class which by default reads enabled features from the global (again, that would be the only reference to `_googlesitekitBaseData.enabledFeatures` in JS), but can be pa

[2020-12-10 23:40] felixarntz commented on #2200
@kostyalmm Please see the new IB here, more info in https://github.com/google/site-kit-wp/pull/2451#issuecomment-742869836.

[2020-12-11 05:28] cole10up commented on #1921
@eugene-manuilov

The only site I have access to that has some data only has impressions and the revenue has been stagnant for months.

![image](https://user-images.githubusercontent.com/57115907/101866769-87559780-3b2e-11eb-9805-b8d54e41d6d5.png)

We'll have to ask around.

[2020-12-11 06:34] eugene-manuilov commented on #1921
@cole10up could you, please, click on the `Impressions` tab and make a screenshot of its graph?

[2020-12-11 06:56] cole10up commented on #1921
Absolutely. @eugene-manuilov

### QA ❌

Checking impressions:

90 days is looking off for me on my site. The Y-Axis is showing a max of 6, when we're showing 20 when clicked.

![image](https://user-images.githubusercontent.com/57115907/101872577-57ac8c80-3b3a-11eb-8e40-74d53fdfa0db.png)

I think this is due to the default 28 days being 6... Therefore changing, the Y-Axis remains at 6?

![image](ht

[2020-12-11 07:00] eugene-manuilov commented on #1921
@cole10up ok, based on your screenshots I think it works correctly :smile: The number in the Impressions tab is total. If you summarize all values in the graph, you will see that it equals the number in tab. 6 - the maximum of daily impressions.

[2020-12-11 07:01] cole10up commented on #2247
### **QA ✅**

Ran a series of tests with multiple instances of the same page loaded on different browsers, same tab, adjusted the duration around on each and consistently refreshed over and over.

Left each idle for a bit and began refreshing multiple times.

![image](https://user-images.githubusercontent.com/57115907/101871500-84f83b00-3b38-11eb-8b9b-f3e178c4c5cc.png)

![Site Kit by Google Dashbo

[2020-12-11 10:47] asvinb commented on #2240
@felixarntz In the AC, it's mentioned that the `widgets.wpDashboard` feature flag should be removed. However we don't have that flag. We have only `dashboard` and `pageDashboard`. I wrote the IB assuming you meant `dashboard`

[2020-12-11 10:57] kostyalmm commented on #2240
@asvinb the `wpDashboard` was added in #2075. It is still in merge review. This issue is applicable only after that

[2020-12-11 11:15] asvinb commented on #2240
Thanks @kostyalmm

[2020-12-11 11:23] asvinb commented on #2444
App working as usual. No errors in the console or in the app.

QA ✅

[2020-12-11 11:40] jamesozzie commented on #2519
Thanks for your suggestion, I've labeled this as a feature request for further consideration by the team. Note that while Tag Manager does allow for multiple Tags to be contained on a site it's also recommended to keep containers to a minimum.

Feel free to keep watch of this feature request and be sure to [share your thoughts](https://wordpress.org/support/plugin/google-site-kit/reviews/#new-post

[2020-12-11 13:15] kostyalmm commented on #2200
@felixarntz the updated IB doesn't cover the case when the `dataPoint`(or `change`) is of type `seconds`. We currently have `prepareSecondsForDisplay` for displaying it. Shall we move the logic of `prepareSecondsForDisplay` to the new `numFmt` function?
This will make `seconds` another of our *custom style*.

[2020-12-11 14:07] wpdarren commented on #1921
@cole10up I have messaged James to find out if he has a test site with Live Adsense data. Will pick this up when we have a site to test on.  This ticket is on hold.

[2020-12-11 14:40] wpdarren commented on #1921
@eugene-manuilov @cole10up  I have looked at a site with live Adsense data and the previous period is now appearing on the graphs. I went through all of the date periods, and the appropriate data, i.e. Impressions, Rate CTR, etc. The tooltips were appearing against current and previous data.  It's looking good.

Here are some screenshots:

[Earnings over 28 days](https://user-images.githubusercont

[2020-12-11 14:43] benbowler commented on #2271
@aaemnnosttv dropped a note to discuss the last two points on this card when you're back next week.

[2020-12-11 15:50] felixarntz commented on #2200
@kostyalmm Ah, good catch! Yes, let's add support for that to `numFmt` as well. I think `seconds` makes sense for the style name, alternatively we could use `duration`, but that would be less precise in terms of what kind of number is expected.

We'll also need a "shorthand" version to support that. Let's use `s` for that, as it would be a similar approach to passing `%` or a currency code. That w

[2020-12-11 18:25] tofumatt commented on #2413
QA ✅

[2020-12-11 20:40] timnolte commented on #2519
Yeah, the hard part will be determining what limit to put in the plugin, if any. Maybe there could be an option to turn this feature on with a some baseline limit and a filter that could allow a site developer/owner to override that limit.

[2020-12-14 11:34] aaemnnosttv commented on #2041
My feedback was addressed, but I'll take another quick look once @tofumatt approves 👍

[2020-12-14 12:00] aaemnnosttv commented on #2452
@felixarntz

Yes, I wasn't suggesting we create an actual entry point for it – I just defined the module as being very top-level but I see now how that may have looked like it was to be an entry point 🙂

I'm thinking it would look very much [like this](https://github.com/WordPress/gutenberg/blob/cf4fb98cabc6eacb4a5708da2bb0eaf64ff43fe2/packages/data/src/components/registry-provider/context.js), ex

[2020-12-14 13:08] tofumatt commented on #2041
Happy with the changes! One minor note left in the PR; if you want to commit it before merging that's cool, but nothing else from me 👍🏻

[2020-12-14 13:27] aaemnnosttv commented on #2323
@cole10up @wpdarren – if you guys aren't familiar with wp-cli, then feel free to tag this one as **QA:Eng** 👍

[2020-12-14 16:46] benbowler commented on #2237
Hey @felixarntz, I've had some time to look at this today. I've read through [2465](https://github.com/google/site-kit-wp/pull/2465/files) and can see your addition of the `referenceDate` attribute. With the Search Console I can't immediately see issues with the stories for them. If I add `referenceDate` based on the data it doesn't affect that data that is shown in the widgets.

What are the spec

[2020-12-14 17:30] felixarntz commented on #2510
@aaemnnosttv I agree we should do this, but I think we can defer that work to sometime next year. It's a lower priority task that will likely involve some work. Let's wait until most/all of the JS refactoring epic is done. (While this is also somewhat refactoring, I think it's decoupled from the current epic.)

[2020-12-14 17:34] felixarntz commented on #2452
@aaemnnosttv I agree with pretty much all your comment above, just one question: I'm not sure I understand your "A/B vs A+B" point. Can you elaborate a bit?

Once we've decided that, can you complete the ACs for this one? We should get this moving soon.

[2020-12-14 18:07] felixarntz commented on #2080
@kostyalmm Oh I'm sorry, I confused that somehow. Regarding that point, there is now `provideModuleRegistrations` which should be expanded to receive the `SettingsSetupIncompleteComponent` argument for AdSense in the same way like it is in production code. The related story can then just call `provideModuleRegistrations( registry )` (or rely on the decorator that does this anyway).

[2020-12-14 18:07] felixarntz commented on #2080
IB ✅

[2020-12-14 19:13] felixarntz commented on #2237
@benbowler When you check the "Loaded" versions of the Storybook stories for the three widgets you've adjusted here, you'll see they all display the blue "Search Console Gathering Data" CTA which is displayed when there is no data in the response. This is due to the fixtures for these stories being now outdated, as the request arguments have changed (`startDate` and `endDate` instead of `dateRange

[2020-12-14 19:15] felixarntz commented on #2237
@benbowler I just saw you moved this to Sprint 39. Let's not update this unless it was discussed/confirmed. We can remove it from the release as mentioned earlier, but this isn't blocked by anything, so I don't think it needs to wait. While #2236 is related, they don't need to be worked on at the same time, similarly to how #2235 was also implemented before, unrelated in timing.

[2020-12-14 20:56] aaemnnosttv commented on #2290
@felixarntz CR ✅
Assigning to you since Travis is out of order.

[2020-12-14 20:59] archon810 opened #2528 "Some wild (20s+) performance slowdowns loading pages with WP admin bar likely linked to Site Kit"
## Bug Description

We have a fairly large site (~10mln monthly PVs) and switched to Site Kit a few months ago. I have a CS background and performance issues are of specific interest to me. I have been noticing more and more lately that any pages with the WP admin bar, such as the front pages when logged in or the backend pages, occasionally have colossal delays in server-side page generation time

[2020-12-14 21:01] aaemnnosttv commented on #2396
@felixarntz CR ✅

[2020-12-14 21:15] aaemnnosttv commented on #2041
@felixarntz CR ✅

[2020-12-14 21:58] felixarntz commented on #2499
@tofumatt Great, IB ✅

[2020-12-14 22:01] felixarntz commented on #2514
@tofumatt It would be great if we could define the hash URL hierarchy to use for the Settings page and the router in a bit more detail. How about this:

* `#/connected-services` - Connected services tab
* `#/connect-more-services` - Connect more services tab
* `#/admin-settings` - Admin settings tab
* `#/connected-services/{moduleSlug}/{view/edit}` - Connected services tab with specific module pan

[2020-12-14 22:03] felixarntz commented on #2218
IB ✅

[2020-12-14 22:19] felixarntz opened #2529 "Redirect authenticated users from splash to dashboard"
## Bug Description

The `googlesitekit-splash` screen currently has an incorrect `<title>` tag where the main segment is missing. At the moment it looks like the following:

[code]

However, there's currently no way for a user to reach the splash screen after they're already authenticated – even the activation notice shown after activating the plugin will link to the dashboard. This makes this sit

[2020-12-14 22:40] felixarntz commented on #2221
@aaemnnosttv @eugene-manuilov While this doesn't use anything from the datastore right now, the `getLocale()` could eventually indeed come from there. I think alongside all other URL selectors it makes sense to have this one in the datastore as well.

This function is based on the locale, a piece of information it receives implicitly (not a parameter), so I think it's another argument to move it t

[2020-12-14 22:59] felixarntz commented on #2041
@marrrmarrr Looking at the current state here, this looks a bit odd without any heading:
![Screenshot 2020-12-14 at 14 59 04](https://user-images.githubusercontent.com/3531426/102145932-fa0b8f00-3e1c-11eb-9cab-6b0952620583.png)

Should we add one? What should it be? We could make it look similar to the "Plugin Status" heading below.

[2020-12-14 23:53] felixarntz commented on #2076
IB ✅

[2020-12-15 00:43] felixarntz commented on #2240
@asvinb Can you please update the references in the IB to use `wpDashboard`?

[2020-12-15 02:23] archon810 commented on #2528
We have newrelic installed on one of the servers, and I just found an example with lots of details that proves Site Kit is the culprit and will hopefully let you come up with a solution. Please take a look.

To me, it looks like for whatever reason, Site Kit calls has_data_for_url for Analytics and Search Console synchronously with the page load, and then actually executes external Guzzle HTTP req

[2020-12-15 08:10] benbowler commented on #2237
Hey @felixarntz, thanks for these extra details I'll take a look today and get an updated version into CR.

[2020-12-15 10:52] aaemnnosttv commented on #2452
@felixarntz

Sure – I meant that currently our use of feature flags is mostly _additive_ right now rather than either-or. That is, feature flags in some places render duplicate components (e.g. widgets API) rather than rendering a different component/feature in its place. This is perhaps more specific to only these refactoring type "features" where A is production and B is the refactored version.

[2020-12-15 10:55] asvinb commented on #2240
Updated @felixarntz

[2020-12-15 11:24] aaemnnosttv commented on #2075
@felixarntz [one question for you here](https://github.com/google/site-kit-wp/pull/2482#pullrequestreview-552349874), otherwise this should be good to go.

[2020-12-15 11:43] aaemnnosttv commented on #2405
@felixarntz CR ✅

[2020-12-15 11:44] benbowler commented on #2271
Added a QA brief

[2020-12-15 11:48] aaemnnosttv commented on #2221
@felixarntz would that mean that all of our i18n utility functions would need to move to the datastore then as well or these would require the locale to be passed when called where they don't now? I think it might make sense to keep the locale out of the datastore since it isn't likely to change during the page load like other data the store manages.

[2020-12-15 11:50] aaemnnosttv commented on #2041
@felixarntz @marrrmarrr perhaps the heading could be something like "Site Profile"?

[2020-12-15 12:34] wpdarren commented on #2396
### QA update: ⚠️ Engineer to Confirm

@aaemnnosttv I'm not quite seeing the same behaviour.  The message `Error: Returned an Error response for your request` does not appear as you can see from the screenshot below.  Any ideas why this would be?

![image](https://user-images.githubusercontent.com/73545194/102215345-8d73bb80-3f14-11eb-947f-70debd0b28a2.png)

[2020-12-15 12:58] aaemnnosttv commented on #2396
Hey @wpdarren – the error you're seeing in the interface there is more about form validation rather than an error from the request which is needed to trigger the component-wide error.

I can't tell just from your screenshot, but you should be able to trigger the error by setting **both** dropdowns to "Setup a new container" with the same new name for both (but doesn't exist in your containers yet)

[2020-12-15 13:15] asvinb commented on #2486
@ivankruchkoff Can you add the QA brief.

Thanks!

[2020-12-15 13:21] wpdarren commented on #2396
@aaemnnosttv perfect, thank you!

### QA update: Pass ✅

**Verified:**

When Web and AMP containers are created with the same name the request error appears
![image](https://user-images.githubusercontent.com/73545194/102219814-f1997e00-3f1a-11eb-97b3-82816e26ffa1.png)

[2020-12-15 13:35] asvinb commented on #2290
No Splash screen in Storybook and VRT all passing
QA ✅

[2020-12-15 14:03] tofumatt commented on #2514
Agreed, and I like those new, more explicit routes too. I also added a note about adding a few `<Redirect />` routes in there—it's very easy to do (one line) and we could do it for completeness.

[2020-12-15 15:07] eugene-manuilov commented on #2505
@felixarntz do we use icons for widget areas already? I haven't found one in the codebase. :thinking:

[2020-12-15 15:15] marrrmarrr commented on #2041
@felixarntz @aaemnnosttv Let's call this "You site goals".
Is it possible to add a short explanation there too, to give context what this will be used for?
E.g. "Based on your responses, Site Kit will show you metrics and suggestions that are specific to your site to help you achieve your goals" or something along these lines?

[2020-12-15 15:55] felixarntz commented on #2478
@eclarke1 Added this to Sprint 40 as well.

[2020-12-15 16:02] felixarntz commented on #2221
@aaemnnosttv We can think about that, but even if we moved the locale to the datastore, we could still `select` from it in i18n functions I guess. Overall I think it doesn't affect the decision here too much, I think it makes sense to have this function in the datastore alongside other URL functions for Google services.

[2020-12-15 16:27] felixarntz commented on #2505
@eugene-manuilov No we don't use any widget area icons yet, but this will be needed for the module pages: On the Analytics page for example, there would be a single "Analytics" widget area that uses the Analytics module icon as icon, like it is right now. That was the idea behind this.

[2020-12-15 16:29] aaemnnosttv commented on #2529
@felixarntz after digging into this a little with @asvinb it seems that this only happens when navigating to the splash screen directly once Site Kit is already set up. The title shown on the splash screen on the initial set up is consistent with other Site Kit screens for both primary and secondary users.

The problem is related to how WP derives the page title which seems to depend on the page h

[2020-12-15 16:35] ernee commented on #2118
Closing this issue since it is resolved with WPML.

We have a few other multilingual plugins we'll be reaching out to as well. If you haven't already, please [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) if you are experiencing this issue with another plugin (not WPML).

[2020-12-15 16:35] #2118 closed

[2020-12-15 17:53] eugene-manuilov commented on #2349
It's a weird issue... I have tried to replicate it on my end and haven't been able to do it... I think we can't figure it out without further details... I wish one of those guys could provide more information...

[2020-12-15 18:55] felixarntz opened #2533 "Check authentication service to determine remote-enabled features"
The `Feature_Flags` class currently only determines feature availability based on the current build mode. As part of the "Remote-controlled features" epic, this should be expanded to connect to the authentication service which will expose a new endpoint that for a given site returns the remotely controlled features and whether they're enabled.

---------------

_Do not alter or remove anything bel

[2020-12-15 20:27] adamsilverstein commented on #2528
@archon810 Thank you for raising this issue and for the detailed traces from New Relic. Ironically, we do the `has_data_for_url` call you mentioned in an effort to _reduce_ page load impact (by not loading the admin-bar menu code for pages that lack data).

We cache this `has data` attribute, so you are probably seeing a load where the cache has expired. Some possible ideas:

* One fix would be to

[2020-12-15 20:27] adamsilverstein commented on #2528
Related: https://github.com/google/site-kit-wp/issues/2508

[2020-12-15 20:28] adamsilverstein commented on #2508
This approach would also resolve https://github.com/google/site-kit-wp/issues/2528

[2020-12-15 21:25] archon810 commented on #2528
@adamsilverstein Thanks for replying. Yeah, the typical Transient strategy is quite faulty in my opinion because it doesn't regenerate while serving stale cache and can therefore result in long load times as well as race conditions reloading the data. We've typically stayed away from this approach and served stale cache while regenerating.

Having said that, the approach in your second suggestion

[2020-12-15 21:32] archon810 commented on #852
Related: #827, but it was closed in favor of #6.

[2020-12-15 22:52] aaemnnosttv commented on #2452
@felixarntz I think this is ready for IB now. There are a few small changes to the ACs from the initial draft.

* I have it exporting `enabledFeatures` from `assets/js/features/index.js` although clarified that this is internal only (I don't think this really belongs in components since it's intended to be used outside of components in some cases)
* `useFeatures` is now `useFeature( path )` so we

[2020-12-16 04:10] westonruter commented on #2010
@zhouyx Hello. I'm not sure I understand. The current `amp-analytics` being output by Site Kit looks like the following:

[code]

There's only one `linker` key here. Would it still apply? Should the `domains` key just just replaced with `"proxyOnly": true`? For a site that that exists only on one domain (e.g. `example.com`) what makes the most sense as a default configuration?

[2020-12-16 09:25] Jaydal commented on #2349
Just encountered the same error after updating the plugin.

[2020-12-16 09:39] eugene-manuilov commented on #2349
@Jaydal can you tell us which version of WordPress and PHP do you have or even submit your site health information?

[2020-12-16 09:57] aaemnnosttv commented on #2249
@felixarntz a few thoughts on the ACs here:

* What if we provided `rows` as `children` instead?
* I'm not sure about keeping `options` as a prop - why not make each option its own prop?

This seems redundant since every column will have a `field` property that maps to a value in the row

We should only support the options/props we need – there are several of legacy options that are no longer used

[2020-12-16 11:18] jamesozzie commented on #2349
One users [Site Health information provided](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit?urlBuilderDomain=get10up.com&gxids=7628), referencing the initial support topic.

[2020-12-16 11:59] Jaydal commented on #2349
I sent the site health information [here](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/viewform?gxids=7628&edit_requested=true)

[2020-12-16 14:38] benbowler commented on #2381
Completed, tested and added a QA brief.

[2020-12-16 14:47] benbowler commented on #2522
IB ready for review.

[2020-12-16 15:28] benbowler commented on #2522
Added an estimate.

[2020-12-16 16:03] aaemnnosttv commented on #2508
@felixarntz – I'm wondering if we should do these server-side checks at all and defer it to the client instead. We don't hide other components entirely when there is no data yet, so it's a bit odd that we would do that with the admin bar app. Especially if this has the potential to result in slow page loads, that would be quite poor to impose on every front end page load. The app is already lazy l

[2020-12-16 16:05] benbowler commented on #2522
Updated to IB slightly to mention the `assets/js/modules/search-console/datastore/constants.js` `DATE_RANGE_OFFSET` value.

[2020-12-16 16:38] aaemnnosttv commented on #2457
@felixarntz ACs look good, with one tweak:

[code]

I think this clarifies the intent/behavior of this function since error tracking and logging are both technically both part of the error "handling" (as well as anything else in the `catch`). This makes it more clear that this part of the handling is specific to data store actions.

I'll open a new issue for implementing this part 👍

Moving this f

[2020-12-16 16:57] aaemnnosttv commented on #2497
@felixarntz ACs look good to me for the most part.  One thought here:

Rather than conditionally showing the alert, perhaps we should conditionally show a progress bar or overlay instead? I think we could provide a better experience here as well by providing feedback as to what's happening, rather than suddenly sending the user through OAuth – some users may not understand this requires temporaril

[2020-12-16 17:07] aaemnnosttv commented on #2468
@felixarntz ACs LGTM. We could also remove our use of `imagesLoaded` from our `.storybook/preview-head.html` which I added somewhat recently when attempting to fix the instability we were seeing although it ultimately didn't solve the issue at the time. Perhaps we should document this somewhere for the future, should we ever need to restore support for images.

[2020-12-16 17:56] felixarntz commented on #2505
IB ✅

[2020-12-16 18:02] aaemnnosttv commented on #475
@felixarntz Would you please update the ACs as needed to reflect the changes you agreed on with @eugene-manuilov ?

@eugene-manuilov – would you please add a QA Brief as well?

[2020-12-16 18:05] felixarntz commented on #2522
@benbowler IB ✅ , except one thing:

That should be set to 1 similar to how it is in PHP. Can you update that? I'll move over to Execution Backlog since that doesn't need another review 👍

[2020-12-16 18:42] archon810 commented on #2508
You can do them in cron, or in another async manner, like Ajax, but please not in a synchronous way that massively delays wp admin responses.

[2020-12-16 19:07] felixarntz commented on #2508
@marrrmarrr I've added preliminary wording in the ACs here - can you revise please?

[2020-12-16 19:11] felixarntz commented on #2508
@aaemnnosttv Changed this to an enhancement as that's more applicable to the change we're actually making here (even though it also fixes the bug you've mentioned).

[2020-12-16 19:13] felixarntz commented on #2528
@eclarke1 @fhollis This issue doesn't require its own IB or PR since the fix will be covered via #2508. We should still keep it open for tracking purposes because the bug described here is worth its own issue distinct from the #2508 enhancement. So basically we can consider this one an estimate of 0 and just move it along #2508 in the board.

[2020-12-16 20:09] eugene-manuilov commented on #475
QA brief is added.

[2020-12-16 20:17] felixarntz commented on #2200
Moving this to the following release as it will benefit from a lot of regular usage before shipping this, due to all of the potentially affected areas. This will be a major consistency win once ready though! 🎉

[2020-12-17 04:23] cole10up commented on #2392
### QA ✅

Confirmed development build currently has an empty source widget.
![image](https://user-images.githubusercontent.com/57115907/102443751-55d04680-3fdc-11eb-8426-93a062e9ff73.png)

Checked the source link drives to the correct page:
![image](https://user-images.githubusercontent.com/57115907/102443789-6e406100-3fdc-11eb-99eb-85777adfcceb.png)

Confirmed non development build doesn't show t

[2020-12-17 07:44] aaemnnosttv commented on #2366
@tofumatt IB looks good for the most part.

Agreed 👍 This is also consistent with the command for running PHPUnit tests (`composer test`).

I'm not sure we should make the `test` command watch by default. While it may be common for JS projects to do this, it's rather inconsistent with our other commands as none of them watch without the added `:watch` part in the name. I think it might be worth re

[2020-12-17 07:57] aaemnnosttv opened #2539 "Extract Bundlesize to its own job/check"
## Feature Description

In #2366 we migrated our JS tests to GitHub Actions, which created a new workflow for running our Jest tests as well as our Bundlesize tests.

These currently run in the same job, making both slower to run, but also Bundlesize has some integration with GitHub checks which makes the results of the run more visible, rather than simply pass or fail.

[![](https://camo.githubus

[2020-12-17 09:41] aaemnnosttv commented on #2367
IB ✅

[2020-12-17 10:06] jamesozzie commented on #2503
Closing as this is a Litespeed cache configuration issue, with the Analytics opt out snippet appearing with Litespeed cache deactivated.

[2020-12-17 10:06] #2503 closed

[2020-12-17 10:45] aaemnnosttv commented on #2421
@felixarntz CR ✅

[2020-12-17 11:06] tofumatt commented on #2366
Unfortunately the bundlesize check requires the `dist/` files be built and checked in the repo, from what I can see. There isn't a provision for building them first, so I don't think that'll work.

We could separate out each test to be its own job, but given it takes `npm ci` about a minute to run even with a cache, best to keep things all in this one job for now I think.

I've updated the IB to u

[2020-12-17 11:13] aaemnnosttv opened #2540 "Release 1.23.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-12-17 12:04] jamesozzie opened #2542 "TranslatePress with Complianz - Site Kit disconnecting"
## Bug Description

With the [TranslatePress](https://wordpress.org/plugins/translatepress-multilingual/) and [Complianz](https://wordpress.org/plugins/complianz-gdpr/) plugins active when switching languages . This disconnection also occurs after the cookie notice initially appears, without having to switch languages.

[Full Video demonstrating user experience
](https://recordit.co/lFpAL9x7dU)

_

[2020-12-17 12:17] benbowler commented on #2048
@felixarntz do you think this endpoint will be available in time to get this complete in this sprint?

[2020-12-17 12:38] jamesozzie opened #2544 "Can't complete setup on a Cloudflare site - redirecting to homepage after signing in"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/google-site-kit-continuously-asking-for-sign-in/#post-13799090) one user is encountering setup issues with the plugin redirecting to the users homepage after completing the sign in process.

## Additional Context

 - Plugin version 1.22.0
 - No issues previously on this site
 - HCapthca and DDOS p

[2020-12-17 13:43] wpdarren commented on #2540
Completed smoketest. Not found any issues on my test site. ✅

[2020-12-17 16:34] felixarntz commented on #2533
@aaemnnosttv Would be great if you could go over the ACs here.

[2020-12-17 16:41] felixarntz commented on #2452
@aaemnnosttv LGTM!

[2020-12-17 17:04] felixarntz commented on #2249
@aaemnnosttv

What would be the benefit of that? My initial thoughts are that it makes more sense via a custom prop rather than as components. How would you envision them to be passed as children? A `ReportTableRow` component with the data for each row? We'd need to then also pass the `columns` definition to each of that which would be a bit tedious. I think passing the data as a custom prop to `R

[2020-12-17 17:12] felixarntz commented on #2497
@aaemnnosttv

It would make sense to show some sort of loading indicator in the component that actually triggers the requirement for the new scope being needed (which we're already doing in some cases) - for example that would be helpful when activating a new module where right now there's no UI reflecting that loading state.

For the `UnsatisfiedScopesAlert` though, I don't think it makes sense.

[2020-12-17 17:18] aaemnnosttv commented on #2366
Not sure where you're seeing that but looking at some of the projects that use it listed on the repo, you can see how it's implemented: https://github.com/redux-saga/redux-saga/blob/9d2164946f402e594a0dfe453c6d20fb6f14858f/.github/workflows/nodejs.yml#L33-L36

It's not a big deal, but would be a nice touch to include; we can always revisit.

IB ✅

[2020-12-17 18:33] aaemnnosttv opened #2547 "Fix unstable E2E tests for write scope permissions"
## Bug Description

In #2301 we disabled a few E2E tests which had been notorious for being unstable on Travis, and seemed to become even more so on GHA. These tests have been marked as skipped with a TODO to address – this is that TODO.

See `tests/e2e/specs/modules/analytics/write-scope-requests.test.js`

---------------

_Do not alter or remove anything below. The following sections will be man

[2020-12-17 19:41] tofumatt commented on #2366
Oh, well then, maybe it runs `npm run build` automatically? Sorry, that step is just totally opaque to me and not mentioned anywhere in the docs that I could find.

But I'll give it a go in the PR; if it works let's just ship it here rather than making a whole new issue for it. Agreed: I'd like it as well! 👍🏻

[2020-12-17 19:56] tofumatt commented on #2366
Ah, I see. Looks like @felixarntz is the best person to add that in as I can't authorise the Google GitHub account to have access to bundlesize and the token needs to be added to GitHub secrets for this repo.

The action is set up to run bundlesize though, using this secret name: `BUNDLESIZE_GITHUB_TOKEN`. Adding the value obtained from https://github.com/login/oauth/authorize?scope=repo%3Astatus&

[2020-12-17 20:11] aaemnnosttv commented on #2497
I was suggesting that the alert wouldn't be visible because the progress bar or overlay, etc would cover it. In that way it would kind of take over the interface so that it wouldn't matter that the alert might be displayed underneath or not.

[2020-12-17 20:14] felixarntz commented on #2497
@aaemnnosttv Ah okay, that makes sense. I'd still say we should decouple that though since it's a different enhancement. For now let's fix the bug that happens in a development build via this issue, and then we can have a follow-up for general loading/copy overlay for when redirecting to OAuth.

[2020-12-17 21:27] aaemnnosttv commented on #2249
@felixarntz

I was just thinking of `<ReportTable { ...props }>{ rows }</ReportTable>` since rows are like children of a table. It's kind of aligning the data array to being "the body" of the table. `children` doesn't have to be components (e.g. render props as children). Just an idea though, it would be okay as a `rows` or `dataRows` prop too I think.

Thanks! I think that in particular really he

[2020-12-18 00:01] atbinsh opened #2548 "Cant install the plugin again after that i deleted it from my wordpress site"
## Bug Description

Cant install the plugin again after that i deleted it from my wordpress site it says the plugin already exists on your site

## Steps to reproduce

1. Go to 'add new plugin'
2. Click on 'install'
3. Scroll down to 'google site kit'
4. See error ' Installation failed: Destination folder already exists.'

## Screenshots
![Capture](https://user-images.githubusercontent.com/7618792

[2020-12-18 01:46] felixarntz commented on #2368
IB ✅  😆  Moving over to Execution for the last pieces @tofumatt

[2020-12-18 06:19] cole10up commented on #2323
Going to tag this one QA:Eng. I setup WP-CLI on my local. And immediately started having issues connecting to the database. I spent a bit of time troubleshooting this issue here: https://wordpress.stackexchange.com/questions/290793/wp-cli-error-establishing-a-database-connection-in-localhost-mamp

I have my creds matching wp-config.php and my local. Still receiving the following:

![image](https:/

[2020-12-18 07:18] cole10up commented on #2540
### ❌ Found an issue during my smoke test

While running smoke tests the following steps have caused an issue:

1. Have Adsense currently activated
2. Switch the account to another site with substantial metrics
3. On the dashboard click a "Most Popular content" link for the new account's info

Notice, error:

![Site Kit by Google Dashboard ‹ Hellogoodbye1 — WordPress (8)](https://user-images.githu

[2020-12-18 08:20] asvinb commented on #2486
Chrome ✔️ :
![image](https://user-images.githubusercontent.com/31818/102591237-2419c580-412b-11eb-9d11-7f58d9247c02.png)

Safari ✔️ :
![image](https://user-images.githubusercontent.com/31818/102591374-5c210880-412b-11eb-8f0b-23b845f159e4.png)

QA: ✅

[2020-12-18 10:54] eugene-manuilov commented on #2367
QA :warning: Overall it looks good, however workflow files contain the `ready_for_review` activity type which doesn't make sense there. @tofumatt can you delete it from both files?

[2020-12-18 11:00] eugene-manuilov commented on #2366
QA :warning: Overall it looks good, however, the workflow file contains the `ready_for_review` activity type which doesn't make sense there. @tofumatt could you please remove it? Also, why do we need the following step? Does it test something?

https://github.com/google/site-kit-wp/blob/6f6ea93b7971159bc506b8d6decaf0af1c4c59f2/.github/workflows/js-tests.yml#L41-L42

[2020-12-18 11:29] jamesozzie commented on #2548
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist and ensure you get setup successfully.

Note that this issue can be resolved by removing or renaming the existing Site Kit directory on your website, which exists from your pr

[2020-12-18 11:29] #2548 closed

[2020-12-18 11:36] tofumatt commented on #2366
Oh, the `ready_for_review` I think came from a suggestion from @felixarntz, but I can't recall now. If it doesn't make sense happy to remove—the `npm run build:test` command is there so we can run `bundlesize` on the built files.

[2020-12-18 12:01] tofumatt commented on #2366
Also covered by #2549; seemed wasteful to make a PR for each 😄

[2020-12-18 12:22] benbowler commented on #2062
Why is this unassigned in the IB column with an IB, should @ivankruchkoff be re-assigned or do you want some changes to be made to the existing IB @felixarntz?

[2020-12-18 12:23] asvinb commented on #2076
@aaemnnosttv I've noticed that the data returned is different from what the legacy components are returning. Is it something which is expected because we are now using the `startDate` and `endDate` instead of `dateRange` ?

[2020-12-18 12:30] benbowler commented on #2237
Updated in the PR.

[2020-12-18 14:02] wpdarren commented on #2542
I have recreated the issue reported with the steps used above.  I also tried recreating the issue without Translatepress installed to see if it was just related to the complianz plugin, but the site did not get disconnected until the two were activated.

[2020-12-18 15:20] tofumatt commented on #2539
Based on [usage in other repos](https://github.com/redux-saga/redux-saga/blob/9d2164946f402e594a0dfe453c6d20fb6f14858f/.github/workflows/nodejs.yml#L33-L36), it looks like all we need to do here is outlined in this comment: https://github.com/google/site-kit-wp/issues/2366#issuecomment-747665790

[2020-12-18 15:33] tofumatt commented on #2539
(Note: from what I can tell, there isn't actually a way to stop us running the build process and `bundlesize` ourselves, so this won't increase the speed of our tests. The check is a more visible indication of the size change of a commit, but bundlesize won't run the build for us—[other repos](https://github.com/redux-saga/redux-saga/blob/9d2164946f402e594a0dfe453c6d20fb6f14858f/.github/workflows/

[2020-12-18 17:38] felixarntz commented on #2540
@cole10up What do you mean when referring to "account"? I think what you're seeing is likely happening because you're maybe using a different reference URL (elasticpress.io) than the site that you're actually on (hellogoodbye.today)?

[2020-12-18 17:46] felixarntz commented on #2368
Moving back to Execution to address comments by @eugene-manuilov

[2020-12-18 17:50] cole10up commented on #2540
Hey @felixarntz I flipped the account in the settings page. See below:

![Site Kit by Google Dashboard ‹ Hellogoodbye1 — WordPress (9)](https://user-images.githubusercontent.com/57115907/102644881-6be22200-4116-11eb-830a-87176f801d6b.gif)

[2020-12-18 19:03] ibalbale commented on #1588
Spot on! I followed the steps for my v7.1 and it worked like a charm. Thanks @luc122c

[2020-12-18 20:06] eugene-manuilov commented on #2540
QA :heavy_check_mark: Everything looks good to me.

[2020-12-18 20:10] eugene-manuilov commented on #2323
QA :heavy_check_mark:

[2020-12-21 09:38] aaemnnosttv commented on #2539
@tofumatt – correct, we will still need to run the build ourselves. Whether or not we split out the check to its own job may not be necessary or more efficient, but I think the added information is worth adding as a distinct check in the list even if that means it remains as part the current JS tests job.

[2020-12-21 11:25] aaemnnosttv opened #2551 "Enhance service report URLs to include date range"
## Feature Description

Currently our service report URLs (deep links to report pages on the service – currently only Analytics) link to a specific report view, but do not include the date range. This can be passed in the same report args that we already use, it just needs to be included.

E.g. `/_u.date00=20201201&_u.date01=20201220/`

[code]

---------------

_Do not alter or remove anything bel

[2020-12-21 11:26] aaemnnosttv commented on #2551
@felixarntz

[2020-12-21 14:16] tofumatt commented on #2062
The ACs mention empty titles and subtitles so IB ✅

But I wonder about the accessibility ramifications of that decision. At any rate, looks good for now.

I might argue as well that going forward the development builds should _disable_ the old UI and only show the new one, but that's a bit tangential to this issue 😄

[2020-12-21 14:33] pizienolamitica opened #2552 "Add auto-submission of every new URL"
## Feature Description

Hi Google team,
How can I automatically submit the new URLs of my site to the Google Search Console?
Bing has built this handy feature with a plugin and an API.

Name of Bing's WordPress plugin: Bing URL Submissions Plugin
Link to the plugin: https://it.wordpress.org/plugins/bing-webmaster-tools/

it would be essential for us web developers and to prevent plagiarism.
And it

[2020-12-21 14:52] jamesozzie commented on #2552
Thanks for opening a GitHub feature request.

As mentioned in your [WordPress support topic](https://wordpress.org/support/topic/add-auto-submission-of-every-new-url/) new content added or updated will result in your the WordPress core sitemap using the ping-o-matic service to inform search engines of such updates.

I will however add this as a feature request which can be review by the team. Be s

[2020-12-21 14:53] felixarntz commented on #2551
@aaemnnosttv Duplicate of #2287 - but good reminder that we can move that forward now :)

[2020-12-21 14:53] #2551 closed

[2020-12-21 16:17] felixarntz commented on #2540
@cole10up What you're seeing is expected behavior I think. You're pulling stats from elasticpress.io it seems, but use hellogoodbye.today. The URL you clicked on `https://hellogoodbye.today/features/` doesn't seem to be an actual piece of content, and that's why the message appears. The actual URL for that data is https://www.elasticpress.io/features/.

This isn't a regression, and it's kind of ex

[2020-12-21 16:25] felixarntz opened #2554 "Filter Analytics API results to only include results for current domain"
#2110 altered the API requests for Search Console to limit results to URLs within the current domain. It did that only for domain properties because for URL properties this is already the case by definition.

However, for Analytics a property is not limited to one domain. While it is intended to be used with one domain, in principle data from any domain can be sent there. We should therefore apply

[2020-12-21 16:27] #2392 closed

[2020-12-21 16:27] #2323 closed

[2020-12-21 16:27] #2486 closed

[2020-12-21 16:27] #2444 closed

[2020-12-21 16:27] #2345 closed

[2020-12-21 16:27] #2291 closed

[2020-12-21 16:27] #2189 closed

[2020-12-21 16:27] #2416 closed

[2020-12-21 16:27] #2290 closed

[2020-12-21 16:27] #2247 closed

[2020-12-21 16:27] #2143 closed

[2020-12-21 16:27] #2396 closed

[2020-12-21 16:27] #2413 closed

[2020-12-21 16:28] #2498 closed

[2020-12-21 16:29] tofumatt commented on #2423
IB ✅

[2020-12-21 16:30] tofumatt commented on #2133
IB ✅

[2020-12-21 16:57] aaemnnosttv commented on #2540
@cole10up do you have a page/post on the local site that has the same URL? Site Kit needs to be able to find a local entity with the same URL or it won't show data for it on the dashboard details view, even if data for that URL exists.

[2020-12-21 17:32] felixarntz opened #2555 "Fix currency metrics overlapping in AdSense page graph"
Follow-up to #1921: On top of the new AdSense graph, the two currency metric values currently overlap if the numbers are too high:
![Screenshot 2020-12-21 at 09 25 39](https://user-images.githubusercontent.com/3531426/102804480-b067fa80-436e-11eb-8779-e882b6fc8f56.png)

This occurs for the following reasons:
* Currency formatting does not shorten big numbers in the same way we do it for individual

[2020-12-21 17:34] felixarntz commented on #1921
Some design flaws here worth improving, but not blocking release. Opened #2555 for that.

[2020-12-21 17:34] #1921 closed

[2020-12-21 18:03] aaemnnosttv commented on #2299
Reopening this one after encountering an error when `module` is `undefined`.

[2020-12-21 18:25] eugene-manuilov commented on #2425
@marrrmarrr @felixarntz while working on this ticket I found that the tooltip designed in the Figma file is quite confusing because it is not clear to which number the change belongs. Here is the screenshot from the Figma file:

![figma](https://user-images.githubusercontent.com/873049/102808104-7a576480-43c8-11eb-82ca-775374a1a759.png)

It shows 6.3% growth, but it's not clear what exactly has gr

[2020-12-21 18:31] eugene-manuilov commented on #2425
@marrrmarrr @felixarntz also one more thing that I have found is that there is no way to change the background color for the legend item of the selected slice and make the highlight line of the selected slice thicker. I have looked through the documentation of the Google Charts library and haven't found anything that can help to achieve it. Can we leave the current styles or should we do something

[2020-12-21 19:29] felixarntz commented on #2299
Follow-up QA ✅

Complete Analytics activation CTAs now show up as expected without triggering a JS error:
![Screenshot 2020-12-21 at 11 29 17](https://user-images.githubusercontent.com/3531426/102814671-d9dd5200-437f-11eb-88ef-8e9c7404ea74.png)

[2020-12-21 19:41] tofumatt commented on #2475
Now that we've removed our Travis CI checks, this is redundant, so closing this issue. 🙂

[2020-12-21 19:41] #2475 closed

[2020-12-21 20:20] tofumatt commented on #2422
I'm not sure the IB here is specific enough, because from what I've seen in the Google Charts docs for `LineChart`, there's no way to have the area below the line filled in, as in the mocks:

<img width="819" alt="Screenshot 2020-12-21 at 20 16 01" src="https://user-images.githubusercontent.com/90871/102818355-5b0d0700-43c9-11eb-9aae-92ac60b58ada.png">

In order to have the area under the line fil

[2020-12-21 20:23] tofumatt commented on #2452
IB ✅

Thanks for the thorough ACs and IBs on this one. I dig the `useFeature()` hook! 👍🏻

[2020-12-21 20:38] eugene-manuilov commented on #2555
@felixarntz here is my try, let me know if it works for you: https://google.github.io/site-kit-wp/storybook/pull/2557/?path=/story/adsense-module--performance

[2020-12-21 21:07] felixarntz commented on #2555
@eugene-manuilov LGTM, also per @marrrmarrr. Is it possible to make it still distribute the widths all the same for the cases where everything would fit though? Otherwise we'll get this arguably more weird layout even for cases where it's not needed. 🤔

[2020-12-21 21:12] #2299 closed

[2020-12-21 21:19] #2540 closed

[2020-12-21 21:21] #2197 closed

[2020-12-21 21:21] #2188 closed

[2020-12-21 21:22] #2487 closed

[2020-12-22 01:48] felixarntz commented on #2468
@caseymorrisus @eclarke1 Looks like the remaining images that we'll need to get SVG versions/replacements of are:
* [logo-g_white_small.png](https://github.com/google/site-kit-wp/blob/develop/assets/images/logo-g_white_small.png)
* [rocket.png](https://github.com/google/site-kit-wp/blob/develop/assets/images/rocket.png)
* [sun-small.png](https://github.com/google/site-kit-wp/blob/develop/assets/im

[2020-12-22 02:46] felixarntz opened #2558 "Remove images from legacy setup flow that only applies to special development workflow"
There are a few images in the plugin that only the legacy setup flow (see `assets/js/components/legacy-setup`) uses. Since this flow is only relevant for developers and has been for a long time, in preparation for #2468 we should remove all images that are exclusively used in there.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2020-12-22 09:59] aaemnnosttv commented on #2558
IB ✅

[2020-12-22 10:17] wpdarren commented on #2221
### QA Update: Pass ✅

**Verified:**

The links pointing to support.google.com have a hl query parameter added
 -  AdSense setup page
![image](https://user-images.githubusercontent.com/73545194/102877356-9408b280-4481-11eb-9057-46ee161f46bb.png)
- Other pages with these links
![image](https://user-images.githubusercontent.com/73545194/102877404-a682ec00-4481-11eb-833d-48455e1f6345.png)
- Changed t

[2020-12-22 11:03] wpdarren commented on #2558
### QA Update: Pass ✅

- Local site, with the legacy setup flow,  the last step does not show the launching rocket and that there are no errors.

  ![image](https://user-images.githubusercontent.com/73545194/102881545-fc5a9280-4487-11eb-8ec1-1ddb2036ae4c.png)

[2020-12-22 11:08] eugene-manuilov commented on #2555
@felixarntz how about now? I have updated styles for tabs to have at least 25% of the full width. It makes it look like regular tabs when everything fits nicely and dynamic tabs when something big is shown. Does it look good for you?

[2020-12-22 11:12] eugene-manuilov commented on #2422
Good catch, @tofumatt! I didn't notice it at the beginning, thank you! I have updated the IB to outline that we need to add a new chart type to make it work.

[2020-12-22 12:34] jamesozzie commented on #2171
One user reported [language translation issues](https://wordpress.org/support/topic/argh-google/) in the support forums today. From testing on support side translations strings are not working rendering as expected, with only the menu items translated. None of the strings within the dashboard are translated in the two additional languages checked. These are languages with almost [full translations

[2020-12-22 12:58] tofumatt commented on #2422
IB ✅

[2020-12-22 13:09] tofumatt commented on #2200
Based on https://github.com/google/site-kit-wp/pull/2451#issuecomment-747721592 I'm moving this back into Code Review, looks like @kostyalmm wanted you to have another review of his approach, @felixarntz.

But he won't be around next week so feel free to assign myself or @benbowler after review if more work is needed on this issue. Thanks! 🙂

[2020-12-22 14:35] jamesozzie opened #2560 "http_request_failed error with Cloudflare sites"
As reported in the WordPress support forums some users are encountering issues setting up Site Kit, with the following notice appearing:
`http_request_failed`

Both sites seem to be Cloudflare configured, with both sites having DDoS protection enabled.
One site also has hCaptcha enabled.

- https://wordpress.org/support/topic/unknown-error-code-http_request_failed-to-fix-this-redo-the-plugin-setup

[2020-12-22 17:18] eugene-manuilov commented on #2171
@jamesozzie can you go to your site, switch to either German or Portuguese language, and see if new translations are available on the `/wp-admin/update-core.php` page (at the very bottom of the page)? If you see the button there, could you please click on it to update translations and go back to the Site Kit dashboard to see if it helps to fix the translation issue? Let me know if it helps.

![tra

[2020-12-22 17:26] eugene-manuilov commented on #2237
QA :heavy_check_mark: Search Console widgets use date range dates now instead of range slugs.

[2020-12-22 18:40] felixarntz commented on #2555
@eugene-manuilov That looks good to me!

[2020-12-22 18:44] eugene-manuilov commented on #2555
awesome! @felixarntz if you add AC, I can add IB for it.

[2020-12-22 18:48] felixarntz commented on #2555
@eugene-manuilov Done!

[2020-12-22 19:09] eugene-manuilov commented on #2555
@felixarntz IB is added.

[2020-12-22 20:54] tofumatt commented on #2301
QA ✅

E2E tests running on actions, with nightly not required:

<img width="777" alt="Screenshot 2020-12-22 at 20 53 54" src="https://user-images.githubusercontent.com/90871/102932252-d806b200-4497-11eb-921e-2d16d3a0c07c.png">

[2020-12-22 21:26] tofumatt commented on #2271
QA ✅

[2020-12-22 23:12] felixarntz commented on #475
@aaemnnosttv @eugene-manuilov I've updated the ACs (**not the IB**) to cover the updated requirements. Note that the PR is still missing `Module_With_Tags` entirely - that part should still be added so that module tags can be centrally handled by the `Modules` class.

[2020-12-23 08:04] aaemnnosttv commented on #2452
@asvinb @tofumatt – The IB looks good, just one thing to call out which could be a bit more clear:

Note that we can't simply manipulate the global variable in E2E since it won't have any effect after the page loads. We also need to persist the enabled features (probably in an option) and then filter the feature activation using the new `googlesitekit_is_feature_enabled` filter from an E2E mu-plug

[2020-12-23 10:41] aaemnnosttv opened #2561 "Replace deprecated node-sass with dart-sass"
## Feature Description

From the repo for `node-sass`:

While they will continue to receive maintenance releases indefinitely, there are no
plans to add additional features or compatibility with any new CSS or Sass features.
Projects that still use it should move onto
[Dart Sass](https://sass-lang.com/dart-sass).

https://github.com/sass/node-sass

---------------

_Do not alter or remove anything

[2020-12-23 11:01] aaemnnosttv opened #2563 "Refactor store aliases with named exports"
## Feature Description

We currently export a `STORE_NAME` constant from the `constants.js` module for each module and core data store. When referenced within the context of itself (the same store) we use it with the same name. However, when this constant is imported for use in another store as is often needed, we alias it to be named in a way.

E.g. the `export const STORE_NAME = 'core/site'` wou

[2020-12-23 12:03] asvinb commented on #2368
PHP tests passing here:
https://github.com/google/site-kit-wp/actions/runs/436524505
![image](https://user-images.githubusercontent.com/31818/102994359-5a46b300-4538-11eb-9b54-e781bf1fafb6.png)

QA: ✅

[2020-12-23 12:09] asvinb commented on #2285
- Resetted and connected Site Kit again
- Published a post
- No publisher wins notifications displayed.

QA: ✅

[2020-12-23 12:11] asvinb commented on #2366
Checked here:
https://github.com/google/site-kit-wp/actions/runs/429338349

![image](https://user-images.githubusercontent.com/31818/102994927-79921000-4539-11eb-8788-ba4520098456.png)

JS tests passing

QA: ✅

[2020-12-23 12:13] asvinb commented on #2367
Checked the PHP and JS linting checks here:
https://github.com/google/site-kit-wp/pull/2537/checks

and both pass.

QA: ✅

[2020-12-23 12:20] asvinb commented on #2272
Comment blocks present and accurate

QA: ✅

[2020-12-23 12:25] jamesozzie commented on #2171
@eugene-manuilov The same issue remains in my case. See below gif. No additional plugins. Tested on two sites.

![ads](https://user-images.githubusercontent.com/41326532/102995704-89016100-4519-11eb-9e02-b1c0b53a0397.gif)

[2020-12-23 12:29] asvinb commented on #2187
- Disconnected and connected the Analytics, Search Console and Tag Manager modules without any issues.
- Added the following hash to the settings URL: `#settings/tagmanager/view`, the tag manager settings panel is opened automatically on page load as expected.

QA: ✅

[2020-12-23 12:56] asvinb commented on #2505
- Check that the registerWidgetArea action accepts Icon WPComponent instead of icon string ✔️
- Check that the WidgetAreaRenderer component renders the Icon component instead of an image tag ✔️

QA: ✅

[2020-12-23 14:40] tofumatt commented on #2424
Just noting that the QA brief left @asvinb and I a bit confused: the components rendered here are empty, but that first led us to think there was a bug. Turns out this was just scaffolding so it's okay, but outlining things like "empty components are expected" in the QA brief would make for faster QA in the future 🙂

[2020-12-23 14:41] wpdarren commented on #2428
QA Update: Pass ✅

**Verified:**

- Source link under 'Pages' section directs the user to the Page analytics
- Source link under 'Top Acquisition' section directs the user to the Acquisition Overview.
- The 'others' link in user dimensions points to the user page in analytics
- Dashboard: source link under 'All Traffic' points to the Acquisition Overview.
- Dashboard: source link under 'Unique Vis

[2020-12-23 14:52] wpdarren commented on #2428
@cole10up I have assigned this back to QA because it's related to https://github.com/google/site-kit-wp/issues/2424 and I misunderstood the QA brief. I think this needs to be QA'd after 2424.

[2020-12-23 15:24] tofumatt commented on #2218
This just needs a QA brief and then can be moved to Merge Review 👍🏻

[2020-12-23 17:26] felixarntz commented on #2425
@eugene-manuilov I've discussed this with @marrrmarrr. Some replies:

1. For the tooltip, your proposed content _almost_ looks good. However, let's bring back the percentage so that it is included in the tooltip as well, but more separate from the other two numbers: Let's put the overall percentage right next to the channel name, e.g. like "REFERRAL: 40%".
2. Question about the tooltip: The origin

[2020-12-23 19:57] eugene-manuilov commented on #2425
:+1:

Unfortunately, I think we can't do it with the current functionality of the google charts library.

Yes, it works as required but it doesn't let us use the exact style for the selected legend item. When I click on a legend item, the appropriate pie slice is highlighted.

[2020-12-23 20:18] eugene-manuilov commented on #2218
Yes, this one is tough to test. I have added the QA brief and `QA: Eng` tag because I think QA engineers won't be able to verify it anyway.

[2020-12-23 20:55] eugene-manuilov commented on #2171
Hm... ok, @jamesozzie, could you please create a new issue for this? Also, can I get access to your sites or can you create a publicly available site with this bug?

[2020-12-24 08:14] busfase opened #2565 "Не могу выбрать другой аккаунт"
## Bug Description

Search console и Adsense зарегистрированы на разные аккаунты. Если подключен Search console на первый, не могу подключить adsense, который зарегистрирован на другой аккаунт.
## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - P

[2020-12-24 10:25] jamesozzie commented on #2565
@busfase Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Note that it's recommended to use the same Google account to connect all services from the same WordPress administrator account. You can however provide access to t

[2020-12-24 10:25] #2565 closed

[2020-12-24 11:12] jamesozzie opened #2566 "Only menu items translated for some languages - No dashboard string translations rendering"
One user reported [language translation issues](https://wordpress.org/support/topic/argh-google/) in the support forums, following on from #2171. From testing on support side translations strings are not consistently working rendering as expected, with only the menu items translated in some cases, despite languages being 100% or almost 100% complte.

The user who reported this is a Danish translat

[2020-12-24 11:17] jamesozzie commented on #2171
@eugene-manuilov Sure, #2566 now created. It seems to occur with some languages, mode details in the issue.

I've also provided logins via DM

[2020-12-24 17:27] busfase commented on #2565
Oh, thanks a lot. I shared my rights and it all worked! Good luck to you!

[2020-12-28 10:48] benbowler commented on #2048
@felixarntz testing with the staging URL `https://site-kit-dev.appspot.com/site-management/settings/` it always returns `{"error":"missing authentication token"}`.

Other URLs on the staging proxy such as `OAUTH2_SITE_URI` work without issues.

[2020-12-28 11:17] benbowler commented on #2048
Complete and tested as working with the staging proxy.

[2020-12-28 13:41] Sidlegionair commented on #1523
@jamesozzie Any progress?

[2020-12-28 15:35] jamesozzie commented on #1523
@Sidlegionair No update on this just yet, but the team are aware of this and will be working on it.

[2020-12-30 15:31] sudhanshu16 commented on #1655
Hey folks, I have been working (trying at least) on this issue. And I can't really understand the following from the IB

According to this, the `undefined` check must be removed from the resolvers. If I do this, then quite some tests are failing.

For example,

https://github.com/google/site-kit-wp/blob/8dc8de99f9225f62972c2bb82f67f6e3d39651ad/assets/js/modules/analytics/datastore/properties.test.

[2020-12-30 15:32] sudhanshu16 commented on #2133
I've raised a PR regarding this issue. Can somebody check #2568, I am not sure how to fix the e2e error. Locally, I get a different error altogether. The IB doesn't mention any changes to the tests but is there anything I am missing?

Thanks for your time.

[2020-12-30 16:55] benbowler commented on #2236
Added IB and marked ready for code review.

[2020-12-31 13:45] benbowler commented on #2499
This work is ready for review, I've created a PR against #2041 as it relies on the work there.

[2020-12-31 13:45] benbowler commented on #2499
QA Brief added.

[2020-12-31 13:59] benbowler commented on #2477
I began working on [tests for the DashboardSummaryWidget](https://github.com/google/site-kit-wp/commit/74c87cd5a88b2a66149e8b395eab224c1951f6f9) but to complete them will take me over the estimate for this ticket.

[2020-12-31 15:12] benbowler commented on #2522
After this is merged other devs may have to run `composer install` within docker to update their local `third-party` directory using `phpscoper` as this directory is ignored by git.

[2020-12-31 15:44] benbowler commented on #2522
@felixarntz I just noticed that the `dataState` property is [only available on `master` branch](https://github.com/googleapis/google-api-php-client-services/blob/master/src/Google/Service/SearchConsole/SearchAnalyticsQueryRequest.php#L22) not [on the v0.156 release](https://github.com/googleapis/google-api-php-client-services/blob/v0.156/src/Google/Service/SearchConsole/SearchAnalyticsQueryRequest

[2020-12-31 15:49] benbowler commented on #2522
I've continued as such and created a [PR](https://github.com/google/site-kit-wp/pull/2574) and written a QA Brief.

[2021-01-04 07:19] OC2PS commented on #1728
This issue is closed, but evidently the plugin still doesn't do enhanced ecommerce tracking...

[2021-01-04 07:28] OC2PS opened #2575 "Use Google CDN for serving fonts, libraries etc"
## Feature Description

As a dominant online service provider, Google serves a large proportion of the online population every day. Through the provision of many services, Google sends various fonts and libraries (e.g. jQuery) to these users' devices, where they are cached. Often, these same libraries are needed by other websites, including WordPress websites running Site Kit. However, these websi

[2021-01-04 07:34] OC2PS opened #2576 "One-click Google CDN"
## Feature Description

CDNs perform a great service by caching content at the "edge" and serving from there. I would love to use Google CDN for my site, but the process of setting it up is so darn technical (as opposed to setting up, say CloudFlare).

CloudFlare setup is usually a single click setup, often integrated into the hosting company's cPanel or custom software. Occasionally, (if the DNS

[2021-01-04 12:15] benbowler commented on #2241
IB added.

[2021-01-04 13:57] wpdarren commented on #2424
### QA Update: Pass ✅

The 3 tabs (Channels, Locations and Devices) appear within the All Traffic widget as per the figma file. As noted in Matthew's comment above, there is no data in the module and are empty. When you click on a tab it appears active and and the previously selected tab loses its selection status. - [Screenshot](https://user-images.githubusercontent.com/73545194/103542122-6b4bd88

[2021-01-04 14:11] wpdarren commented on #2428
@eugene-manuilov I'd like some clarificcation on the QA brief please.

`Go to the dashboard page and check the source link at the bottom and the "others" link in the user dimensions chart component. `

I am seeing the source link in the dashboard page within the All Traffic widget points to Acquisition Overview within Google Analytics.  Where else should I be looking? Please could you direct me to

[2021-01-04 14:22] eugene-manuilov commented on #2428
@wpdarren the user dimensions chart will is being implemented in #2425 and we will need to QA it there. For this ticket, it's okay to test just the source link at the bottom of the widget.

[2021-01-04 14:35] wpdarren commented on #2428
### QA Update: Pass ✅

- the source link in the dashboard page within the new All Traffic widget points to Acquisition Overview within Google Analytics.

[2021-01-04 16:27] eugene-manuilov commented on #2426
@felixarntz this is ready for IBR but I am not sure that it is possible to implement the first point in the AC:

[code]
Looks like we don't even need it because when we switch dimensions, the dimension value is reset and we always get the chart with nothing selected.

[2021-01-04 17:26] benbowler commented on #2508
Added an IB for approval.

[2021-01-05 09:55] aaemnnosttv commented on #2508
@benbowler IB looks good for the most part, just a few points to address:

This isn't really a widget; just a component like `ReportZero` is. Let's call it `AdminBarDataZero` for consistency but also prefixed for consistency with the `adminbar` components since it isn't a generic zero data component to be used anywhere.

Note that some admin bar components are changing in #2543 (marked as a blocki

[2021-01-05 11:51] benbowler commented on #2508
Thanks @aaemnnosttv, I've updated it IB based on your suggestions. I'll assign to @felixarntz for his thoughts on removing `Module_With_Admin_Bar`. I can't see it used anywhere else in the code right now.

[2021-01-05 16:17] eugene-manuilov commented on #2566
@jamesozzie looks like something wrong happened on the WordPress side itself and translations files got messed up on the server. I have logged into one of your sites and deleted downloaded translations via ssh, then switched back to German, downloaded translations again and it starts working. Can you try it on your end and let me know if it works correctly now?

[2021-01-05 16:25] aaemnnosttv commented on #2478
@asvinb

Ideally we wouldn't display a blank screen in this case. To me, the problem here is due to the `reset` action resetting the `state` to an empty object which clears out the reference URL that raises the error in the component that expects it to be a valid URL (a reasonable assumption I think). IMO the reference URL and other non-connection related data shouldn't be affected by this action

[2021-01-05 16:38] aaemnnosttv commented on #2563
@asvinb

We don't want to change the existing `export const STORE_NAME =` exports. This would break the usage of this constant where it would continue to be imported as-is.

We only want to provide an _additional_ export of the `STORE_NAME` using the name it will be referenced by externally.

E.g.
[code]

Then the aliases would be updated to use the new named export instead.

[2021-01-05 16:40] tofumatt commented on #2478
Agreed; removing _all_ of the state seems overkill and will lead to errors, I wouldn't want us returning a blank screen as described above. Having an "isResetting" state would allow a screen to display that info as well instead of the blank page. 👍🏻

[2021-01-05 17:02] aaemnnosttv commented on #2287
@asvinb IB looks good for the most part, just a few comments:

The issue is currently estimated as a 3 which seems a little low, but it's hard to say without having a better idea as to how many components are being touched here. The logic is largely the same but my gut feel is that this is probably closer to a 7. Would you please list out the components you see that would be affected by this?

The

[2021-01-05 17:03] felixarntz commented on #2478
Agreed with @tofumatt, we don't need to reset anything in JS since there'll be a new pageload following anyway.

[2021-01-05 17:06] jamesozzie commented on #2576
Thanks for the suggestion. With many complexities involved for a Google or Site Kit CDN this isn’t something we are considering at present, with many third party plugins providing such functionality.

While there are no plans to create a public Google CDN have you considered using [AMP](http://amp.dev/)? AMP content is eligible to be served from AMP Cache, with AMP scripts and components all serve

[2021-01-05 17:06] #2576 closed

[2021-01-05 17:06] adamsilverstein commented on #2118
@Nerdiyde If possible, can you please test adding this mini plugin to your WPGlobus install, this should correct this compatibility issue you reported: https://gist.github.com/adamsilverstein/199f3a4cfe8b4ccc881713a7ece05438

[2021-01-05 17:08] jamesozzie commented on #2575
When it comes to jQuery this is prepackaged with WordPress, with no duplicate jQuery scripts requested by Site Kit. This is served from your WordPress install as can be seen in [this WordPress developer article](https://developer.wordpress.org/reference/functions/wp_enqueue_script/#default-scripts-and-js-libraries-included-and-registered-by-wordpress).

In relation to Google Fonts there is an open

[2021-01-05 17:11] felixarntz commented on #2508
@aaemnnosttv @benbowler Good point, let's remove the `Module_With_Admin_Bar` interface and related usage.

The `googlesitekit_show_admin_bar_menu` filter should be kept though. I think that's what you were thinking so far anyway, but just wanted to clarify. While we won't be using it anymore, it should be there for 3P developers in case they don't want the admin bar menu entirely for example.

[2021-01-05 18:28] felixarntz opened #2578 "Make PHPUnit test setup self-contained (for local development)"
Right now the PHPUnit test setup requires some external things to be set up locally, such as installing the development version of WordPress in a directory and exporting a `WP_TESTS_DIR` environment variable with the path to it (although there are many alternative ways to do it) as well as setting up a MySQL database and configuring credentials for WordPress tests to connect to it.

For CI, this i

[2021-01-05 18:30] aaemnnosttv commented on #2478
@asvinb let's update the reset action (`assets/js/googlesitekit/datastore/site/reset.js`) to not wipe out the state and leave that to the page load instead. We can probably just remove the `reducerCallback` to `fetchResetStore` unless we need to actually select some state to know if we are resetting or not (in which case we'd need to add a selector too).

[2021-01-05 18:31] jamesozzie opened #2579 "Ensure the toggle to allow Site Kit to place Analytics tracking code on a users site remains once they've disconnected Tag Manager (with an existing Analytics snippet tag)"
## Bug Description

At present one typical Site Kit setup scenario may be where a user first connects Analytics, allowing Site Kit to insert the tracking snippet. They may then connect the Tag Manager module, with may contain an existing Analytics tag, which Site Kit then switches to.

If a user then disconnects Tag Manager the plugin reverts to the Analytics module UI property alone. While the to

[2021-01-05 18:52] aaemnnosttv opened #2582 "Audit performance of Backstop test runs"
## Feature Description

As part of our efforts to improve the quality of our VRT tests, we should review our current Backstop scenarios to see if there are any easy wins in performance gains. The backstop run on GHA currently takes about 4.5 minutes with the full job running in about ~6.25. This isn't too bad compared to the others but we haven't reviewed this much in quite a while.

A few things

[2021-01-05 18:58] jamesozzie opened #2583 "Add context to the "Let Site Kit place code on your Site" configuration option within Tag Manager"
## Bug Description

With the Tag Manager configuration there is a "Let Site Kit place code on your site" toggle option. As toggling this off results in no Tag Manager snippet it works similar to disconnecting the Tag Manager module.

To ensure users are aware of the consequences of toggling this off consider including additional context to this toggle, informing users that any tags or functionalit

[2021-01-05 18:58] Nerdiyde commented on #2118
Hey guys,
I did install the patch @adamsilverstein provided. Thanks a lot for your work! :)
Do you need anything as some kind of "success report"?
Thanks and best regards
Fab

[2021-01-05 19:35] felixarntz commented on #2426
@eugene-manuilov Your IB is missing the main point of this issue which needs to be to manage the `dimensionValue` field for the widget via the `core/forms` store. Your PR #2532 does not cover that, so it needs to be covered here.

The reason we need to manage this in the store are the other components in `DashboardAllTrafficWidgetV2` outside of `UserDimensionsPieChart`, which should display differ

[2021-01-05 19:40] felixarntz commented on #2520
@marrrmarrr What should be the updates here for the wordpress.org readme? We only have access to modify the copy within the "Description" tab in the screenshot above.

[2021-01-05 20:08] archon810 commented on #2528
Given the importance of this issue, could we maybe bump it up to https://github.com/google/site-kit-wp/milestone/62 instead of https://github.com/google/site-kit-wp/milestone/63? https://github.com/google/site-kit-wp/milestone/63 hasn't been started yet and is due in 10 days.

[2021-01-05 20:23] eugene-manuilov commented on #2426
@felixarntz it's implemented in the branch for 2423 which doesn't have a PR yet. You can see my changes here: https://github.com/google/site-kit-wp/compare/feature/2425-user-dimensions-pie-chart...feature/2423-total-user-count#diff-ed3d73b94f10ea79867db833cc8ee305ffc13b3f87b1ae7f53ab483498135bb9R82

[2021-01-06 00:18] felixarntz opened #2584 "Introduce factory for Analytics response mock data"
After #2236, the `module-analytics-components.stories.js` file is now full of inlined fixtures, which is due to the mock data being dependent on the `referenceDate` used for the story. While we could have continued to use fixtures, doing so is in another way confusing as it decouples the two pieces entirely and obfuscates that they are connected.

(#2425 added some new fixtures for this, so it's a

[2021-01-06 00:22] felixarntz opened #2585 "Introduce factory for AdSense response mock data"
After #2235, the `module-adsense-components.stories.js` file is now full of inlined fixtures, which is due to the mock data being dependent on the `referenceDate` used for the story. While we could have continued to use fixtures, doing so is in another way confusing as it decouples the two pieces entirely and obfuscates that they are connected.

We should introduce an AdSense-specific test utility

[2021-01-06 00:23] felixarntz opened #2586 "Introduce factory for Search Console response mock data"
After #2237, the `module-search-console-components.stories.js` file is now full of inlined fixtures, which is due to the mock data being dependent on the `referenceDate` used for the story. While we could have continued to use fixtures, doing so is in another way confusing as it decouples the two pieces entirely and obfuscates that they are connected.

We should introduce an Search Console-specifi

[2021-01-06 00:44] ivankruchkoff commented on #2421
Resolved MR issues, back to you @felixarntz.

[2021-01-06 08:20] kostyalmm commented on #2516
@felixarntz we want to add the links as "`plugin_action_links`" or "`plugin_row_meta`"?

"plugin action links" will add the link to the left side besides "deactivate"
"plugin row meta" will add the link to the right side besides "view details"

[2021-01-06 08:59] aaemnnosttv commented on #2495
@benbowler would you please add a QA Brief? Once added this is good to move over to QA as the PR is merged 👍

[2021-01-06 09:10] aaemnnosttv opened #2587 "Decouple JS registrations"
## Feature Description

In #2415 we introduced a new `provideModuleRegistrations` utility for providing default module registrations to the `core/modules` data store. While this works as-is, it requires us to duplicate and maintain the arguments to `registerModule` in two places: module indexes and in the utility.

Also, we currently have various references to global instances of core API objects,

[2021-01-06 09:28] asvinb commented on #2478
@aaemnnosttv IB updated as per your comment.
As for the selector, I see we already have the `isDoingReset` selector which we could probably use.

[2021-01-06 09:55] benbowler commented on #2495
QA Brief added.

[2021-01-06 10:18] asvinb commented on #2287
@aaemnnosttv IB and estimate updated as per your comments.

[2021-01-06 10:27] asvinb commented on #2563
Ah! Gotcha @aaemnnosttv . IB updated

[2021-01-06 10:56] aaemnnosttv opened #2588 "Enhance localization of prepareSecondsForDisplay"
## Feature Description

The `prepareSecondsForDisplay` utility takes a number in seconds and returns a formatted human-readable duration as the respective number of hours, minutes, and seconds. As it is, it currently uses hardcoded abbreviations for `s`, `h`, and `m` as well as building the resulting string by concatenating the pieces from left to right. This is not ideal for localization and shou

[2021-01-06 11:00] aaemnnosttv commented on #2563
@asvinb the IB is good but doesn't address the second point of the AC: "All STORE_NAME aliases should be replaced with imports of the named export" which is the main point of this issue 🙂

[2021-01-06 12:03] jamesozzie commented on #2583
@marrrmarrr Do you want to take a look at the existing working for this toggle?

[2021-01-06 14:05] wpdarren commented on #2425
### QA Update:  Fail ❌

@eugene-manuilov just a few observations.

1. When you only have one dimension in any of the tabs, i.e. channels, the styling is slightly off.  [Screenshot](https://user-images.githubusercontent.com/73545194/103775057-7da94c00-5068-11eb-97aa-7aaae7ee213f.png)
2. When you switch date periods should the chart be redrawn with new data? I'm not seeing any changes between 28 day

[2021-01-06 16:15] eugene-manuilov commented on #2425
Thanks, @wpdarren!

Yep, I'll create a new PR for it. I have to hide the single slice text because we can't control where it appears.

Yes, it should change. Just try it on a site with more data.

This doesn't seem to be related to the current ticket because it is user input settings related stuff. You can probably open a follow-up ticket for it.

[2021-01-06 16:27] felixarntz commented on #2516
@kostyalmm Good catch - plugin row meta is the correct way.

[2021-01-06 16:33] felixarntz commented on #2587
@aaemnnosttv LGTM, just one thought:

Maybe another directory structure might make more sense? Why a directory for something that specific, which will likely never grow beyond that file? Maybe we could have a directory that could in the future be used also for other kinds of module-specific "metadata". For example, besides the module registration data, it might also be handy to have the available

[2021-01-06 16:35] aaemnnosttv commented on #2287
IB ✅

[2021-01-06 16:38] aaemnnosttv commented on #2508
Thanks @felixarntz 👍

@benbowler let's remove the `Module_With_Admin_Bar` interface entirely (only used by Analytics and SC modules) along with the usage as you've already described. As Felix said, we need to keep the `googlesitekit_show_admin_bar_menu` filter on the return value of the `Admin_Bar::is_active` method.

[2021-01-06 17:02] eugene-manuilov commented on #2260
QA :heavy_check_mark: all looks good!

[2021-01-06 17:56] aaemnnosttv commented on #2478
Ah yes, I forgot about that action @asvinb but that is the selector we would use 😄  It's currently a wrapper for the `isFetchingReset` selector which merely indicates that the reset API request is in progress. It looks like we're not currently using this selector so it's probably not worth changing the way it works as part of this issue. We can revisit the reset-related datastore parts in another

[2021-01-06 18:00] eugene-manuilov commented on #2355
QA :heavy_check_mark:

Everything works as expected. I am moving this ticket to the Approval column, however, I have one question: do we need to add `/node_modules/*` to the `.eslintrc.json` file? Seems like eslint ignores it anyway, so we might not need it but I don't see where it is configured :thinking:

[2021-01-06 18:05] aaemnnosttv commented on #2478
Updated the test coverage section of the IB to account for the test changes we'll need. Also nudged the estimate since this is a GFI and is slightly less straightforward than before.

IB ✅

[2021-01-06 18:06] aaemnnosttv commented on #2429
@kostyalmm would you please add an estimate?

[2021-01-06 18:06] aaemnnosttv commented on #2516
@kostyalmm would you please add an estimate?

[2021-01-06 18:47] aaemnnosttv commented on #2516
@kostyalmm – thanks for your IB, a few comments regarding the proposed approach:

These two proposed methods add the meta to the array via filter, and the other adds the filter. For adding actions/filters, let's simply use `register` as this is the convention used by all other classes.

Then only one other method is needed for getting the meta to add (this method can be private) – perhaps `get_plu

[2021-01-06 19:15] kostyalmm commented on #2478
@aaemnnosttv this section asks for changes to "it does not reset local connection if reset request fails" but I don't think anything changes in that one as the state will be same as in the start, for which a test already exists.
https://github.com/google/site-kit-wp/blob/df00ff35dff8b25b5b1b05674ce1310a6041eea4/assets/js/googlesitekit/datastore/site/reset.test.js#L114-L116

Also, it asks to add a

[2021-01-06 21:37] felixarntz commented on #2423
@eugene-manuilov This should be unblocked now that #2421 is merged.

[2021-01-06 21:38] eugene-manuilov commented on #2423
Thanks, @felixarntz! Just marked it as ready for review!

[2021-01-07 02:31] felixarntz commented on #2522
@eclarke1 @fhollis FYI this is awaiting an external update of the Google API PHP client library we're using. The work on this issue is basically completed, but it can only be merged and QAd once that library has released an update.

[2021-01-07 02:47] felixarntz commented on #2426
@eugene-manuilov Sorry, I confused the issue numbers there. IB ✅

[2021-01-07 02:52] felixarntz commented on #2429
@kostyalmm The IB looks good in terms of exposing the new All Traffic widget as a replacement for the old one within the new widgets API. However, the widgets API is still behind a feature flag, and that is gonna remain like that for a while. So we need to also expose the new components _outside_ of the widgets API, integrated into the (messy) legacy infrastructure, so that it is also displayed in

[2021-01-07 03:11] felixarntz commented on #2514
IB ✅

[2021-01-07 03:13] felixarntz commented on #2497
IB ✅

[2021-01-07 05:56] kostyalmm commented on #2516
@aaemnnosttv

The `$plugin_file` value is `google-site-kit/google-site-kit.php`
and `GOOGLESITEKIT_PLUGIN_BASENAME` value is `/absolute/path/google-site-kit/google-site-kit.php`

Since these two aren't the same, I added the logic
`basename( GOOGLESITEKIT_PLUGIN_BASENAME )` is `google-site-kit.php`
and `$plugin_file` string contains this value.

[2021-01-07 07:38] asvinb commented on #2563
Updated @aaemnnosttv

[2021-01-07 08:44] aaemnnosttv commented on #2516
@kostyalmm I think you may be mixing the constants 🙂

You originally had this defined using `basename( GOOGLESITEKIT_PLUGIN_MAIN_FILE )` where `GOOGLESITEKIT_PLUGIN_MAIN_FILE` is the absolute path to the `google-site-kit.php` file.

In my comment I used `GOOGLESITEKIT_PLUGIN_BASENAME` which is the relative path from the `plugins` directory which is what WP uses for the value of `$plugin_file` in t

[2021-01-07 08:48] kostyalmm commented on #2516
@aaemnnosttv My bad 😅 . Thanks for pointing this put. Updated the IB accordingly.

[2021-01-07 09:21] aaemnnosttv commented on #2563
IB ✅

[2021-01-07 10:09] eugene-manuilov commented on #2561
IB :heavy_check_mark:

[2021-01-07 10:48] aaemnnosttv commented on #2516
IB looks good for the most part. Just a few final points to clarify here:

	It must append the links to the `$links` array.

This method only needs to return the array to be appended, it doesn't need to accept a parameter to be mutated or appended to. The appending can happen in the callback to the filter. E.g. https://github.com/google/site-kit-wp/blob/42ec0aaa2a9b1861a8ad0288ebf7b3d86448617a/inc

[2021-01-07 11:30] aaemnnosttv commented on #2457
@asvinb – IB looks great overall. Just a few points to clarify:

        * A new `ttl` parameter that specifies the entry's time-to-live in seconds and defaults to `3600`. `ttl` should be included in the cache field alongside the existing `timestamp` and `value`.
        * An optional `isError` parameter (default `false`) that indicates whether the cached value is an error. That should also be sto

[2021-01-07 12:45] benbowler commented on #2477
Add a QA Brief

[2021-01-07 14:27] benbowler commented on #2508
Hey @aaemnnosttv, I've updated the IB with the hasData function on each child component as per our call.

[2021-01-07 14:41] wpdarren commented on #2425
### QA Update: Fail ❌

@eugene-manuilov I have a few more observations on a site that has more traffic.

1. On the Channels tab, there is a slice for `(other)` and `others` is this expected?

![image](https://user-images.githubusercontent.com/73545194/103903614-173f2f00-5137-11eb-89cc-0b7df02fef35.png)

2. When you hover over the tooltip, it flashes fast and is difficult to read (and annoying) See

[2021-01-07 15:06] asvinb commented on #2457
@aaemnnosttv IB has been updated. Can you check? Thanks!

[2021-01-07 15:14] aaemnnosttv commented on #2561
@felixarntz – just a heads up that this one already has a PR (maybe we should add a label for this to help with prioritization?)

[2021-01-07 15:16] wpdarren commented on #2381
### QA Update: Fail ❌

@benbowler I'm going to be fussy here (sorry) but it's not a fail as such. The message `Analytics module setup needs to be completed` does not have a full stop.  The other messages do, so going for consistency.
![image](https://user-images.githubusercontent.com/73545194/103909182-5a50d080-513e-11eb-8e3b-795203a8f432.png)

**Verified:**

After not completing Analytics set up,

[2021-01-07 15:18] aaemnnosttv commented on #2508
@benbowler IB looks good to me, except the Test Coverage and VRT sections are still empty. Would you please fill these in even if there are no changes anticipated?

[2021-01-07 15:20] asvinb commented on #2048
- Checked `/includes/Core/REST_API/REST_Routes.php` and there is no `pre_http_request` hook present.
- Went through the user input screens and updated the values. Updated values are saved.

QA: ✅

[2021-01-07 15:44] wpdarren commented on #2080
### QA Update: Pass ✅

**Verified:**

When you go to settings, and expand the respective widget, it shows that the setup is incomplete and displays a link pointing to the setup pages.

![image](https://user-images.githubusercontent.com/73545194/103912378-2ecfe500-5142-11eb-979b-64933625f581.png)

[2021-01-07 15:52] asvinb commented on #2495
- Configured site without the proxy, no calls to Google proxy 👍
- Configured site with the proxy, calls to Google proxy 👍

QA: ✅

[2021-01-07 16:04] wpdarren commented on #2076
### QA Update: Pass ✅

Verified: When Analytics module is disconnected and you visit the page on the front end, instead of "Total Users" and "Total Sessions" being displayed, there will be a CTA to prompt the user to setup Analytics.

![image](https://user-images.githubusercontent.com/73545194/103914613-0e555a00-5145-11eb-9383-4d96bb08d3f7.png)

[2021-01-07 16:16] benbowler commented on #2508
Updated to add Test Coverage and VRT notes. @aaemnnosttv

[2021-01-07 16:21] benbowler commented on #2381
Nice one thanks @wpdarren. On it.

[2021-01-07 17:04] felixarntz commented on #2561
@aaemnnosttv Let's discuss this in our next standup what would make most sense there for project management.

[2021-01-07 17:16] benbowler commented on #2381
Added to merge review for the full stop change, let me know if it should go to code review instead.

[2021-01-07 17:31] eugene-manuilov commented on #2425
Hm... it's definitely not expected. @felixarntz what do you think if I turn off "Others" for the channel dimension if it already has `(Other)`?

Unfortunately, we can't control it.

Hm... good catch... I'll work on it.

[2021-01-07 17:46] aaemnnosttv commented on #2508
@benbowler IB ✅

We just need the added story, no added VRT test here just yet. Not sure if that's what you meant but otherwise good to go!

[2021-01-07 17:48] eugene-manuilov commented on #2425
@wpdarren can you add me to your GA account so I can see the negative value issue on my end as well?

[2021-01-07 17:50] aaemnnosttv commented on #2457
IB ✅

[2021-01-07 18:13] aaemnnosttv commented on #2478
@kostyalmm I suppose we could keep the "does not reset local connection if reset request fails" test, but it's a bit redundant perhaps since it shouldn't reset the connection if it succeeds either (in the reducer that is). It will still reset things on the server but won't affect the client until the page is reloaded.

It would simply test that state was not changed even if the reset request was s

[2021-01-07 18:21] felixarntz commented on #2425
@eugene-manuilov Regarding the "(other)", I agree that's confusing, but it's expected right now because the way that the API segments that is likely different from our approach for "Others" (which is to simply cut off entries other than the first five). We cannot omit "Others" because to us "(other)" is a dimension like any other, and it looks like the Google API response also has entries after th

[2021-01-07 18:26] aaemnnosttv commented on #2516
@kostyalmm I made a few tweaks to the IB to get this moving since it was already very close, no need to go through another round 🙂

IB ✅

[2021-01-07 19:00] aaemnnosttv commented on #2587
@felixarntz I got a little ahead of myself and created a proof of concept for where my mind was going with this which is a bit different than the original IB I had here, as well as a bit larger in scope than only module registration.

Rather than storing arguments in a module and importing them in different places, and reimplementing the calls with shared values, I've turned it around so that we e

[2021-01-07 19:07] felixarntz commented on #1655
Let's close this - I think it's not worth investing all the time and risk for breakage for the small benefits. We've already improved a lot here via relying more on `hasFinishedResolution`, I think that's sufficient.

[2021-01-07 19:07] #1655 closed

[2021-01-07 19:09] felixarntz commented on #2511
IB ✅

[2021-01-07 19:17] felixarntz commented on #2241
@benbowler IB mostly LGTM, we'll also need to remove the flag from the `resetFeatures` function though which is used in Storybook. Can you add this to the IB and then move over to Execution Backlog?

[2021-01-07 19:20] eugene-manuilov commented on #2425
@wpdarren see Felix's reply above ^. Could you please create a follow-up ticket for it? The remaining part is the negative values issue which I can't reproduce atm on my local :thinking:

[2021-01-07 19:23] felixarntz opened #2594 "Add Storybook story for datastore-driven admin bar menu"
After #2076, the admin bar menu is now (behind a feature flag) using the datastore. However, Storybook only has coverage for the old version. Let's add another story to `admibar.stories.js` that covers the new version of it. We need to remove the `disableFeature( 'widgets.adminBar' );` line from `resetFeatures` and instead handle this within the specific story: The legacy story should have the fea

[2021-01-07 19:26] felixarntz commented on #2277
This is no longer relevant now that we automatically check any outdated URLs on setup (see #2383).

[2021-01-07 19:26] #2277 closed

[2021-01-07 19:29] felixarntz commented on #2414
Duplicate of #2272.

[2021-01-07 19:29] #2414 closed

[2021-01-07 19:32] felixarntz commented on #2529
@aaemnnosttv Ah, that makes sense. I'll deprioritize this for now, but still worth fixing in principle.

[2021-01-08 08:26] benbowler commented on #2241
Updated IB based on @felixarntz feedback and added and estimate. Moving to Execution Backlog now.

[2021-01-08 08:55] aaemnnosttv opened #2597 "Standardize formatting of single sentences and phrases"
## Bug Description

As noticed in https://github.com/google/site-kit-wp/issues/2381#issuecomment-756178985 have a number of places in the plugin where text is formatted inconsistently regarding the use of a period/full-stop at the end. This should be applied consistently throughout the plugin.

## Steps to reproduce

1. Set up Site Kit
2. See inconsistent text formatting in blue CTAs on Site Kit d

[2021-01-08 08:59] aaemnnosttv commented on #2381
@wpdarren thanks for raising the inconsistency with the sentences; good eye! After checking with @felixarntz, he confirmed that single sentences should not have a full-stop at the end in most cases. [I've opened an issue](https://github.com/google/site-kit-wp/issues/2597) to address this plugin-wide.

With that said, this observation need not block this issue as it does not deal with changes to th

[2021-01-08 10:14] eugene-manuilov commented on #2421
QA :heavy_check_mark: All looks good. Dimension filters work as expected.

[2021-01-08 12:53] wpdarren commented on #2381
### QA Update: Pass ✅

**Verified:**

After not completing Analytics set up, on the dashboard, for the analytics widgets, it is now showing the active but not configured state. Before and After screenshots.

![image](https://user-images.githubusercontent.com/73545194/104017645-76fb1000-51f3-11eb-841a-4b62f4f3e23d.png)

[2021-01-08 13:02] jamesozzie commented on #2349
Some [useful insights](https://wordpress.org/support/topic/site-kit-encountered-an-error-clearpermissionscopeerror/#post-13879115) provided by one user on the WordPress support forums. Changes were made to their Content Security Policy on their NginX server in order to proceed.

[2021-01-08 13:31] wpdarren commented on #2478
### QA Update: Pass ✅

Can confirm that when disconnecting and resetting data on Site Kit, the error message. The modal  behaves as expected and the site is disconnected and reset.

[2021-01-08 14:00] aaemnnosttv commented on #2346
@caseymorrisus – would you please add a QA Brief? Once added go ahead an unassign yourself 👍

[2021-01-08 14:23] wpdarren commented on #2516
QA Update: Pass ✅

Verified that the `Support` and `Rate Site Kit` options appear.

![image](https://user-images.githubusercontent.com/73545194/104025738-0a3a4280-5200-11eb-871e-42b4958c495c.png)

Rate Site Kit links to https://wordpress.org/support/plugin/google-site-kit/reviews/#new-post
Support links to https://wordpress.org/support/plugin/google-site-kit/#new-post

[2021-01-08 14:33] aaemnnosttv commented on #2403
@felixarntz as mentioned in the IB, I think this one is more serious than just an infinite loading state in SC since it seems to be caused by the error handling in the legacy dataAPI:
![image](https://user-images.githubusercontent.com/1621608/104026607-d98de500-51ce-11eb-8d2b-7cfe9a9354d7.png)

I think this also means that we're not getting accurate event tracking right now for errors that are par

[2021-01-08 15:39] wpdarren commented on #2200
QA Update: Pass ✅

**Verified:**

When English is the locale, the percentage appears after the number with no whitespace.  - [Screenshot](https://user-images.githubusercontent.com/73545194/104033451-80dc3d80-520a-11eb-8e45-0fc5c4271185.png)
When French is the locale, the percentage appears after the number with whitespace - [Screenshot](https://user-images.githubusercontent.com/73545194/104033476-

[2021-01-08 16:23] wpdarren commented on #475
### QA Update: Pass ✅

- On the frontend the tags added by these modules appear. - [Screenshot](https://user-images.githubusercontent.com/73545194/104038819-863c8680-5210-11eb-9393-99447b6e2894.png)

- The tags are not displayed if the "use snippet" setting is turned off  - [Screenshot](https://user-images.githubusercontent.com/73545194/104038928-af5d1700-5210-11eb-9ddd-7d44bf6fa87d.png)

- The  t

[2021-01-08 16:29] adamsilverstein commented on #2118
Here is a "mini plugin" you can install if you are still experiencing an issue with your install: https://gist.github.com/adamsilverstein/199f3a4cfe8b4ccc881713a7ece05438

[2021-01-08 16:45] adamsilverstein commented on #1998
Our customization of the retry conditions can be removed once this PR is merged: https://github.com/googleapis/google-api-php-client/pull/2010

[2021-01-08 16:54] fhollis commented on #2520
Closing this ticket as advised by @marrrmarrr as we already have references to both support and reviews in very close proximity to the description text
cc @eclarke1

[2021-01-08 16:54] #2520 closed

[2021-01-08 18:29] aaemnnosttv commented on #2271
Just found one instance of where this was missed due to a timing around the merge. Will open a quick follow-up PR to address it.

[2021-01-08 18:29] jamesozzie commented on #2118
@Nerdiyde Great to hear it. We'll certainly keep you in mind should we be looking for user case studies or blog posts. If you haven't already done so we'd love to hear your [feedback](https://wordpress.org/support/plugin/google-site-kit/reviews/#new-post).

[2021-01-08 18:55] felixarntz opened #2602 "Add amp-story-auto-ads support for Web Stories"
Now that [AdSense supports Web Stories](https://blog.amp.dev/2020/12/10/google-launches-programmatic-ads-for-web-stories/), Site Kit should start supporting that as well for users which have AdSense set up.

Most of it should be straightforward, however a complication is that users are also required to choose an ad unit for their web stories - so it's different from regular `amp-auto-ads` where it

[2021-01-08 20:26] felixarntz opened #2603 "Do not show user input flow after having already completed it"
Via #2316, when a user starts the Site Kit setup flow, the user input state flag is now set to `required` whenever it is not already set to completed. This needs to be refined as it results in unexpected behavior when the user disconnects themselves or resets the plugin because:

* The user input state flag gets wiped upon both disconnect and reset.
* Afterwards the user is no longer connected so

[2021-01-08 21:18] felixarntz commented on #2429
IB ✅

[2021-01-08 21:40] ernee commented on #2349
Another [report of this issue ](https://wordpress.org/support/topic/cannot-read-property-clearpermissionscopeerror-of-null/) in the forums with some interesting details. It appears the issue was browser related in their case. The error was no longer present when switching to an incognito window in Chrome or another browser (Firefox and Edge).

[2021-01-08 22:14] swissspidy commented on #2602
The docs are not very clear, but the tag actually needs to be added before the closing `</amp-story>` tag, so the correct place would be the `web_stories_print_analytics` hook.

NB: here's the current UI in the Web Stories plugin: https://github.com/google/web-stories-wp/pull/5611

[2021-01-08 22:23] felixarntz commented on #2602
@swissspidy Good catch, corrected it!

[2021-01-09 00:49] felixarntz commented on #2252
@aaemnnosttv I've proceeded with the PR and pretty much completed the implementation per the IB. Please review the IB and PR. Maybe we can clean up a bit the approach of hiding components via CSS - let's discuss next week.

[2021-01-11 08:51] aaemnnosttv commented on #2587
@felixarntz moving this back to AC for us to reflect on the definition of this issue more comprehensively.

[2021-01-11 09:09] aaemnnosttv commented on #2252
Sounds good @felixarntz – we've already discussed this one so much I think the IB has already been approved here, we were mostly deciding between the various approaches we had discussed. While I would like to have tried the alternate approach to compare with, I don't think the two are that different in principal (yours uses the datastore whereas mine uses component state). We can always iterate on

[2021-01-11 09:45] aaemnnosttv commented on #2584
@felixarntz

* Why not keep the file in `assets/js/modules/analytics/` like other tests and utilities for the module? I realize it isn't particularly specific to the data store where our other fixtures and factories are, so perhaps it could live in `assets/js/modules/analytics/__factories__` instead?

Perhaps the mock values could be provided as the 3rd argument, which could default to some hardco

[2021-01-11 10:21] aaemnnosttv commented on #2286
@asvinb IB looks good, just a few points to address

* Let's introduce a utility for mapping the date range dates to args/params like we did in #2287
Even though SC doesn't have a dedicated selector for its service report URL (yet) we can use a utility to abstract the details as to how dates translate to URL parameters rather than requiring that to be known in every place it's used.

It's also wor

[2021-01-11 10:43] aaemnnosttv commented on #2468
@caseymorrisus

This one could use a bit more clarification on what is needed here since this image the only one referenced in PHP as part of the admin menu item for Site Kit. In particular, we need to update the way the image is provided to [`add_menu_page`](https://developer.wordpress.org/reference/functions/add_menu_page/) via the `$icon_url` parameter. As noted in the linked docs, this support

[2021-01-11 10:58] aaemnnosttv commented on #2347
@asvinb

This call has already been removed from the component as part of #2595.

This sounds good but we should only show the spinner here if we are navigating to the `postResetURL`. This should be checked against the `getNavigateURL` selector so that it only spins based on whether navigation is happening to that URL, rather than _any_ navigation.

Also, please complete all sections of the IB (VR

[2021-01-11 11:27] asvinb commented on #2347
Updated @aaemnnosttv

[2021-01-11 11:36] aaemnnosttv commented on #2240
@asvinb

Not to nitpick but would you please clarify what you mean by this? If a deleted file still has references to it then it probably shouldn't be deleted. I think it's safe to say that all `LegacyWPDashboard*` components should be deleted as part of this. If there are any exceptions, let's call them out. If not I think this point can be removed since updating leftover imports would be require

[2021-01-11 11:47] asvinb commented on #2286
@aaemnnosttv IB updated.

[2021-01-11 11:53] aaemnnosttv commented on #2128
@asvinb

[code]

This should also allow for `assets/js/**/*.stories.js` so that stories can be co-located with their components like we do with tests.

[code]

I think this can be simplified as [Gutenberg uses](https://github.com/WordPress/gutenberg/blob/00501354038543dacccc4bfdb000738cdf7f7b07/storybook/main.js#L17) to exclude the `/register` as the `register.js` script use is deprecated (I think

[2021-01-11 14:34] wpdarren commented on #2423
@eugene-manuilov a few observations:

1. Please could you clarify what you mean by:

`Make sure that the total number of users changes when you change the active tab in the widget;`

I am not seeing an active tab in the widget.

2. There isn't any whitespace between the percentage character and `in the last 28 days`

![image](https://user-images.githubusercontent.com/73545194/104194396-3fdb6780-54

[2021-01-11 14:41] eugene-manuilov commented on #2346
QA :heavy_check_mark: Everything works as expected. I have been able to import a function from an external package that violates our naming conventions and eslint hasn't thrown an error for it.

[2021-01-11 14:46] eugene-manuilov commented on #2423
@wpdarren

When you switch between channels, locations, and devices, the total number of users should reset to display the total number of users for the newly selected dimension.

Looks like you see the old styles. Could you please clear your browser cache?

You need to select a slice in the pie chart to see a specific value. Once you do it, the slice label will be shown in the breadcrumbs.

[2021-01-11 14:52] wpdarren commented on #2425
### QA Update: Fail ❌

@eugene-manuilov

To confirm, the previous issues reported have been fixed.  I will also create a ticket for the (other)/others issue, have made a note to do this ASAP.

The issue: refreshed my test site and noticed that the styling is off on the pie chart.   The label is now in underneath.  The tooltip seems to have larger font but there's no padding on the left and too muc

[2021-01-11 15:10] wpdarren commented on #2425
### QA Update: Fail ❌

@eugene-manuilov

The legend underneath the pie charge for `Devices` is all in lowercase, whereas the other tabs are in title case.

[Devices screenshot](https://user-images.githubusercontent.com/73545194/104199036-ea09be00-5461-11eb-8872-92ffbfa6e816.png)

[Channel screenshot](https://user-images.githubusercontent.com/73545194/104199111-00177e80-5462-11eb-8d91-c5903825e55f.

[2021-01-11 15:12] eugene-manuilov commented on #2425
@wpdarren this is what Google returns to us. We can't modify labels there.

[2021-01-11 15:14] wpdarren commented on #2425
@eugene-manuilov in that case, this ticket passes!  Thank you for your patience.

### QA Update:  Pass ✅

**Verified:**

- When on the dashboard, the new All Traffic widget appears.
- The new All Traffic widget displays a chart with a legend beneath it on the right side  [Screenshot](https://user-images.githubusercontent.com/73545194/103776014-d3cabf00-5069-11eb-9e90-e88a4700ca3d.png)
- When you s

[2021-01-11 15:30] wpdarren commented on #2423
### QA Update: Pass ✅

- The new All Traffic widget appears in the dashboard
- The total number of users changes when you change the active tab in the widget
- The total number of users also changes when you change the current period

https://user-images.githubusercontent.com/73545194/104201195-71f0c780-5464-11eb-9d60-e50690b007f8.mov

[2021-01-11 15:33] benbowler commented on #2508
I've implemented the core of this ticket and I'm just waiting on #2594 before I implement the required storybook story.

[2021-01-11 16:01] wpdarren commented on #2236
@aaemnnosttv @cole10up  I'm sorry, but really struggling with this ticket. Feel like I am wasting time going through the console within XHR, trying to look for API data.  Please could you give me steps to find what I need to check and compare.

Here's what I am seeing in console.

![image](https://user-images.githubusercontent.com/73545194/104205236-20970700-5469-11eb-8c7b-a92805e762cd.png)

[2021-01-11 16:33] felixarntz commented on #2252
@aaemnnosttv Added a note about test coverage, I think it makes most sense to add Jest tests for the new utility function which is about the heavy lifting and complex logic here. And we can also add Jest component tests for the `Widget*` wrapper components.

The PR is ready for review production code-wise, the tests are still to add. With those still needed, I agree bumping the estimate to 30 make

[2021-01-11 18:28] benbowler commented on #924
I've added an IB and an estimate.

[2021-01-11 19:59] felixarntz commented on #2511
@johnPhillips I cannot find a PR for this issue although it is in CR. Can you give me the link please? For the future, please use the ZenHub UI at the bottom of the PR view to connect the PR to the respective issue.

[2021-01-11 20:23] felixarntz commented on #2555
IB ✅

[2021-01-11 20:28] felixarntz commented on #2403
IB ✅

[2021-01-11 20:34] felixarntz commented on #2403
@aaemnnosttv @eclarke1 @fhollis Added this to Sprint 40 since it's a bug worth including and already has an almost finished PR.

[2021-01-11 22:26] felixarntz opened #2610 "Migrate WP dashboard widget's "Top content over the last x days" table to functional component using datastore"
#2075 focused on replicating the WP dashboard widget's UI via new functional components using the datastore. One piece that was missed during ACs and IB review was the "Top content over the last x days" table that appears at the bottom when Analytics is active.

Since the new UI is currently only shown in a development build, that is okay for now, but we need to also migrate that table before we c

[2021-01-11 23:38] felixarntz commented on #2539
@tofumatt I just added the `BUNDLESIZE_GITHUB_TOKEN` secret to the project. I agree with @aaemnnosttv though that we should probably alter our implementation so that the check shows up individually in the list.

[2021-01-12 09:21] aaemnnosttv commented on #2347
@asvinb IB ✅

Regarding your comment for the Test Coverage section "Existing tests should pass." – this is required for all PRs to be merged so it's unnecessary to say so; maybe meant "no changes expected" instead? This section is just for outlining expected test changes/additions/subtractions.

As for your comment under Visual Regression Changes, this section is specifically about changes to VRT

[2021-01-12 10:00] aaemnnosttv commented on #2468
Thanks @caseymorrisus ! Almost there, just a few details left to work out here.

This wouldn't work as-is since svg files are no longer included in production builds. Even if they were, this would result in an HTTP request for the URL of the svg on every page load which we shouldn't do.

Perhaps you meant `$context->path( 'path/to/file.svg' )` instead? This would be much more preferable but would

[2021-01-12 10:53] eugene-manuilov commented on #2344
QA :heavy_check_mark: Webpack works as expected: uses hashes for the production build and builds assets without hashes in the development mode.

[2021-01-12 10:55] aaemnnosttv commented on #2286
@asvinb – very close just a few details to clarify:

This is only relevant for args to the `getReport` selector, not the args handled by the utility. The utility would always return `{ start_date: startDate, end_date: endDate }` where `(start|end)Date` is the formatted version of the key from `getDateRangeDates`, just like you described: "The `generateDateRangeArgs` should return an object with th

[2021-01-12 11:46] asvinb commented on #2240
@aaemnnosttv Thanks. I meant that if the deleted files are referenced elsewhere in the app, then we should make sure we remove them from those files, just in case a stray `LegacyWPDashboard*` component is being used somewhere. I removed the last point in case to clear any confusion.

[2021-01-12 12:08] asvinb commented on #2286
@aaemnnosttv I removed the bullet point you mentioned above, however I think this part needs some clarification:
**Args passed to getReport should remain unchanged, while providing the full object returned by the getDateRangeDates selector to the utility function.**
Actually we should pass the same arguments passed to `getReport` to the utility function. For e.g here, https://github.com/google/sit

[2021-01-12 13:35] wpdarren commented on #2075
### QA Update: ❌ Fail

@aaemnnosttv @kostyalmm

- On Development build. When Google Analytics is activated. Within the Search Funnel Analytics stats, the graphs look slightly different but the stats are the same. I have highlighted this in the screenshots -  [Top](https://user-images.githubusercontent.com/73545194/104319978-ab850980-551c-11eb-837c-21cd45a25b9d.png) and [Bottom](https://user-images

[2021-01-12 14:39] tofumatt commented on #2347
A clarification on the UX intent of the issue here:

* I think putting it _next_ to the button but not _inside_ it would be visually preferable here given the spinner has a white background.
* Changing the text from “Reset” to “Resetting” would be good, and disabling it once clicked (`disabled` prop I’m guessing) would be good, so users can’t/don’t feel compelled to click it several times and know

[2021-01-12 17:42] OC2PS commented on #2575
@jamesozzie The rationale for closing this doesn't make sense.

I am aware that jQuery is packaged with WordPress, and have indicated as much in the original post. The point is, rather than serve jQuery from the site (WordPress), Site Kit can give an option to serve jQuery from Google CDN, thereby increasing site speed, improving user experience, and reducing internet bandwidth usage.

Again, to c

[2021-01-12 18:16] eugene-manuilov commented on #2075
@wpdarren looks like you are referring to the site kit dashboard which is located at the `/wp-admin/admin.php?page=googlesitekit-dashboard` URL. However, this ticket is intended for the WordPress dashboard page located at the `/wp-admin/` URL. There is the `Site Kit Summary` widget that displays some data and expected to be changed.

[2021-01-12 19:44] tofumatt commented on #2539
Aha, I see. I missed this section in the docs: https://github.com/siddharthkp/bundlesize#using-a-different-ci

So we need to add a few more environment variables when we run `bundlesize`. After that it should add the check to the PR.

IB updated, should be straightforward according to the docs. 👍🏻  I think it's best to leave actually _running_ the check inside the JS tests to be quicker/more effic

[2021-01-12 19:46] cole10up commented on #2236
@wpdarren - Checking on my end, I'm in the same boat. Looking for a bit more context on this one as well. I'm seeing the widget items when I search through the API console. But unsure what specifically I should be seeing.

![image](https://user-images.githubusercontent.com/57115907/104364652-c5e2c700-54cb-11eb-94be-624233312552.png)

[2021-01-12 21:39] aaemnnosttv commented on #2128
IB ✅

[2021-01-12 22:27] felixarntz commented on #2429
@benbowler Just wanted to mention: While this is technically blocked by #2422 which is still being worked on, I believe you only need to touch the outer `DashboardAllTrafficWidgetV2` component for this issue, so probably you can already start the PR (just being aware that the area of the widget that will contain the graph is currently still empty).

[2021-01-12 22:29] felixarntz commented on #2539
IB ✅

[2021-01-13 01:51] felixarntz opened #2612 "Fix hacky approach for detecting whether a widget is inactive"
As part of the dynamic widgets API, we want to make it simple for developers to implement their widgets without calling specific Site Kit datastore actions to indicate a certain state of the widgets. #2252 focused on introducing special `Widget*` wrapper components for various special states so that the registered widget component simply needs to return that component. This is further simplified s

[2021-01-13 02:01] felixarntz opened #2613 "Pass scoped `Widget` component to registered widget component function"
Widgets that pass `wrapWidget: false` need to render the wrapping `Widget` component themselves. For this purpose, we right now export the `Widget` component publicly on `googlesitekit.widgets.components`.

Somewhat annoying here, components that render `Widget` on its own currently are required to pass the widget's slug to the component - duplicating that from where the widget is registered, maki

[2021-01-13 08:17] aaemnnosttv commented on #2612
@felixarntz I thought about doing the same thing as well and introducing a `WidgetNull` component is probably the best option I can think of at the moment.

Another option would be to expose a registration option that would take a function, similar to `validateSubmitChanges` which would return a boolean whether or not the widget would render or not. This would probably work too and could even use

[2021-01-13 08:38] aaemnnosttv commented on #2286
@asvinb I think maybe we're misunderstanding each other 😄

Here's what I mean:

[code]

Or for uses with comparison

[code]

In the end when constructing the URL for the service, it would always do something like this:

[code]

Does that make more sense? If not, let's jump on a quick call but I think this is good to go now.

[2021-01-13 08:45] aaemnnosttv commented on #2240
IB ✅

[2021-01-13 11:33] jamesozzie commented on #2566
The user unfortunately gave up on the plugin, therefore had to update to provide.

[2021-01-13 11:33] #2566 closed

[2021-01-13 11:49] benbowler commented on #2508
QA Brief added.

[2021-01-13 12:03] aaemnnosttv commented on #2347
I'm not a big fan of changing the text on click since that changes the size of the button and could be visually erratic, especially with a fast request/response. I think disabling the button is definitely a good idea though (do we not do this already?)

Agreed, that's how I had envisioned it as well. I suppose in the end, whatever looks better?

Good point – that would only really be possible if w

[2021-01-13 12:29] wpdarren commented on #2426
QA Update: Pass ✅

**Verified:**

- The new All Traffic widget is displayed with user dimensions chart and total users number.
- When clicking on a single slice, the appropriate dimension value displays the total number of users.

![image](https://user-images.githubusercontent.com/73545194/104451458-8788fd00-55dc-11eb-9aac-6eade1839986.png)
- When the Others slice is selected or another slice is u

[2021-01-13 12:36] wpdarren commented on #2075
@eugene-manuilov ahhh that's a facepalm moment.  Thank you. I'll retest this.

[2021-01-13 12:45] benbowler commented on #2508
Story added and ready for Code Review.

[2021-01-13 12:56] eugene-manuilov commented on #2426
Thanks, @wpdarren! These are good points! I think, each worth a new ticket. Could you please create it?

[2021-01-13 13:05] wpdarren commented on #2075
### QA Update: Pass ✅

- When on the develop branch but not on development build, the modules are not duplicated in the WP dashboard.
- On Development build. When Google Analytics is deactivated the WP dashboard looks the same. - [Screenshot](https://user-images.githubusercontent.com/73545194/104454936-8dcda800-55e1-11eb-8d85-3a26b5a43781.png)
- On Development build. When Google Analytics is activ

[2021-01-13 13:07] wpdarren commented on #2426
@eugene-manuilov yes, have made a note to create these tickets when this sprint is compete.

[2021-01-13 13:38] wpdarren commented on #2555
### QA Update: Pass ✅

- The styling on the performance metrics tabs looks good with high amounts.  I checked this on [desktop](https://user-images.githubusercontent.com/73545194/104459232-6e397e00-55e7-11eb-91d2-a34c56cc2a82.png) and [mobile](https://user-images.githubusercontent.com/73545194/104459280-7db8c700-55e7-11eb-9803-7e401259810b.png)

[2021-01-13 14:04] wpdarren commented on #2403
### QA Update: Pass ✅

- For a site that I do not have access to, the appropriate permission message appear.  The loading message did not run on an infinite loading state.  - [Screenshot](https://user-images.githubusercontent.com/73545194/104462193-33394980-55eb-11eb-81e7-b762bfaa9e27.png)
- For a site that I do have access to, the SC dashboard loaded normally.

[2021-01-13 14:24] eugene-manuilov commented on #2271
QA :warning:

Everything works as expected, but there is one thing that I think we need to address in the scope of this ticket. I am talking about hardcoded store names in module registration calls. I think we should use the appropriate `STORE_NAME` constants which can be imported from the module datastore `constants` files.

For example, the following is the Analytics module registration. It has

[2021-01-13 16:30] felixarntz opened #2616 "Add new Site Kit illustrations"
Tracking issue for exchanging the existing illustrations in the plugin for new branding illustrations, all SVG. Somewhat related is #2468. This should either be behind the `userInput` flag (since those will be rolled out together), or behind a separate illustration-specific flag.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

[2021-01-13 16:34] felixarntz commented on #2594
IB ✅

[2021-01-13 16:38] felixarntz commented on #2528
@aaemnnosttv This is coupled to #2508 - please move it along when done with CR (at least by the time this has been merged).

[2021-01-13 16:55] eugene-manuilov commented on #2271
QA :heavy_check_mark:

[2021-01-13 17:08] eugene-manuilov commented on #2579
@felixarntz IB is ready for review. I have outlined a slightly different idea of how to solve this issue. Please, let me know if you don't like it or you want to change something and I'll update it.

[2021-01-13 18:31] felixarntz commented on #2579
@eugene-manuilov I like the overall suggested approach from your IB, it's a clean alternative. I have one suggestion though: How about, instead of calling the GTM API from the server and caching the result in a transient, we actually store the found Analytics tag property ID in an actual GTM option? We already fetch it during GTM setup/settings, so we could set it as an option on the client, and i

[2021-01-13 19:32] eugene-manuilov commented on #2579
Yes, it a good suggestion too, but unfortunately I don't think it's going to work well because we won't be able to correctly detect a situation when someone removes the Analytics container in the Tag Manager console.

[2021-01-13 19:41] felixarntz commented on #2579
@eugene-manuilov

That is a good point. However, this is a much wider-reaching issue that has been relevant in Site Kit's behavior since day 1. All sorts of detections currently only happen in the setup flow or settings flow, which also applies to detect existing tags etc.

Rather than addressing one piece of the problem here, I'd rather have us follow our existing approach where the detection hap

[2021-01-13 22:56] tofumatt commented on #2422
No need for you both to review, but I thought I'd assign it to both as I know this is high-priority 😄

[2021-01-14 07:18] asvinb commented on #2286
Ah makes sense @aaemnnosttv . Moving IB again for final review :)

[2021-01-14 07:22] cole10up commented on #2041
### QA ✅

Tested:
**Confirmed user input UI is available within Admin settings**
![image](https://user-images.githubusercontent.com/57115907/104556944-4224f980-55f5-11eb-9564-33f83c91f578.png)

Ensured different browser sizes, tab order, and general function of the input IU within the settings block functioned properly.

![image](https://user-images.githubusercontent.com/57115907/104557057-71d4018

[2021-01-14 07:33] cole10up commented on #2499
### QA ⚠️

Tested:
**Confirmed editing, saving, not saving but hitting back button, tab order etc**
![Site Kit by Google Settings ‹ Hellogoodbye1 — WordPress (1)](https://user-images.githubusercontent.com/57115907/104558264-67b30280-55f7-11eb-87ed-9fc628ef43ac.gif)

@felixarntz the link for settings below drives to global settings, is there anyway we can have that URL drive to admin settings?

![i

[2021-01-14 08:16] aaemnnosttv opened #2618 "Backstop occasionally hangs indefinitely before generating test report"
## Bug Description

Last week I noticed some VRT jobs which ran for hours before I cancelled them (this probably shouldn't be possible either and we should have a reasonable max-runtime for all jobs). The backstop job seemed to run fine but it would hang at the very end where it would normally open the report and finish. I've seen this locally some too, but never in CI. Not sure what it was but la

[2021-01-14 08:45] benbowler commented on #2508
Thanks for your review @aaemnnosttv, I've made significant changes to the selector and simplifications to the layout.

The main admin bar story is now showing the No Data component too, I'm looking at that now, I didn't want to block further review with that.

[2021-01-14 09:04] asvinb commented on #2062
@tofumatt Can you review updated PR?
Thanks!

[2021-01-14 10:57] wpdarren commented on #2236
QA updates: ⚠️ Engineers to confirm

@benbowler @aaemnnosttv I have two observations:

1. DashboardBounceRateWidget I am unable to find the widget on the SK dashboard. This is for current or legacy.  I can see them on the storyboard but not on my test site with development build.  Should it be appearing?
2. Under Search funnel for Unique Visitors. The top widget title is 'Unique Visitors'  but the

[2021-01-14 11:10] eugene-manuilov commented on #2618
IB :heavy_check_mark:

[2021-01-14 11:42] wpdarren commented on #2405
### QA Update: Fail ❌

@asvinb @tofumatt for the `Top content over the last 28 days` widget in the Analytics module, when I click on any of the title links it should redirect me to Google Analytics (GA) for that particular page.

When the page loads, this error message  appears.

[code]
![image](https://user-images.githubusercontent.com/73545194/104586178-190d7300-56a0-11eb-81c1-4ac70ebe8cee.png)

[2021-01-14 12:35] aaemnnosttv commented on #2508
@felixarntz – I missed a few details with the IB which was too-specific to the new widget components and didn't account for legacy widgets. Given the timing around the release for this one, I've created a PR on top of @benbowler 's which addresses this. Assigning to you for review.

[2021-01-14 12:44] aaemnnosttv commented on #2405
@tofumatt looks like the segmentArgs are getting double URL encoded here 🤔

[2021-01-14 13:28] eugene-manuilov commented on #2579
Sounds good, @felixarntz. IB is updated. Could you please check it again?

[2021-01-14 16:03] aaemnnosttv commented on #2223
@tofumatt @felixarntz this would be a non-issue if we only registered the module's data store in its entry point rather than the data store's index module. This is the direction I took with my [POC branch](https://github.com/google/site-kit-wp/pull/2593/files?diff=split&w=1) on #2587. While I'm open to other solutions, I do think that all of our code that is specific to global instances belongs in

[2021-01-14 16:22] aaemnnosttv commented on #2533
Adding a note here that we should also include the list of enabled features as a custom dimension in our anonymous event tracking.

[2021-01-14 16:33] tofumatt commented on #2218
QA ✅

[2021-01-14 16:41] tofumatt commented on #2236
1. For the `DashboardBounceRateWidget`, I see this widget on the details page for a particular URL:

![2021-01-14 16 38 37](https://user-images.githubusercontent.com/90871/104620628-1e11f880-5687-11eb-929c-7d72c9de7a6d.gif)

2. I think those are the same (the new widget has a slightly condensed header is all), but the data in the charts definitely looks different, which seems wrong.

@benbowler: C

[2021-01-14 16:48] aaemnnosttv commented on #2405
@wpdarren I'm not able to reproduce the issue you've described here; those links work as expected for me. Perhaps you have some stale cached assets in your browser? It shouldn't matter if you're using a production build since those include hashes but development builds no longer do so you need to be a bit more careful in that case. I'm not sure if that's the issue, but would be the first thing I w

[2021-01-14 16:49] benbowler commented on #2236
Hey @wpdarren , to answer your questions:

The bounce rate widget is *exclusively used on the stats breakdown for individual pages*, not on any general dashboards. To see a stats breakdown for an individual page you can do the following:

1. Create a new page with the slug "Features" in your local WordPress setup (This is assuming your set up to view elasticpress.com analytics data - you can in fa

[2021-01-14 16:50] benbowler commented on #2236
@wpdarren As an aside I find the [Chrome React developer tools extension](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) useful for tracking down components I should be working on:

![2021-01-14 16-43-31 2021-01-14 16_50_22](https://user-images.githubusercontent.com/119352/104621998-a2b14680-5688-11eb-9847-62dd6d4e1f9d.gif)

[2021-01-14 17:07] aaemnnosttv commented on #2533
@felixarntz my first impression here is that the `Feature_Flags` class doesn't need to be aware of `Remote_Controlled_Features`.

There are at least two options to integrating this here which do not require changes to `Feature_Flags`, which as a fully static class seems odd to receive a method for storing an instance of another class:
1. Use `Remote_Controlled_Features` to decorate or otherwise me

[2021-01-14 17:14] aaemnnosttv opened #2620 "Release 1.24.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-01-14 17:15] felixarntz commented on #2499
@cole10up Good catch, that would be a quick UX improvement. @eugene-manuilov Can you open a follow-up PR to link to the "Admin Settings" tab directly?

[2021-01-14 18:35] felixarntz commented on #2429
@benbowler @aaemnnosttv There are a couple UI pieces to still address before we launch the new widget in production. I'll open issues for those pieces, and this one is now for 1.25.0. Let's still address the final quirks here, afterwards we can have it wait in CR until the widget has been approved for launch.

[2021-01-14 18:53] felixarntz commented on #2508
Approved the extra PR, but I saw a couple things that might require broader changes, and already the existing PR makes some complex changes, so I'll move this to the next release.

[2021-01-14 19:05] eugene-manuilov commented on #2499
@felixarntz #2622 is created. Could you please take a look at it?

[2021-01-14 19:08] felixarntz opened #2623 "Change font styles in All Traffic V2 `TotalUserCount` to match those of our regular `DataBlock`s"
#2423 introduced the `TotalUserCount` component. Unfortunately, the Figma file design linked to there was outdated, so we added some custom styles there that should not be applied.

[This is the correct Figma design](https://www.figma.com/file/NzvJTPFdqUVJC9Q1mmih4e/Google-SK-UX-Enhancements10up?node-id=1284%3A175) - to be precise, the font style/size/color etc. for every part of the `TotalUserCou

[2021-01-14 19:09] felixarntz opened #2624 "Fix `UserCountGraph` to always show axis labels"
On smaller viewports, the graph from the `UserCountGraph` component in the new All Traffic widget has its labels replaced with dots, which should not happen. For higher user counts like e.g. 1000+ this trimming already starts to happen even on small desktop sizes.

We should ensure these numbers are always fully present. The graph itself should be made more narrow as needed, but the axis labels sh

[2021-01-14 19:10] felixarntz opened #2625 "Use pie slice color for `UserCountGraph` chart line when one of the pie slices is selected"
The `UserCountGraph` (see #2422) contextually may show data for a specific pie slice selected in the `UserDimensionsPieChart` (see #2425). One requirement there that was missed from the original [Figma design](https://www.figma.com/file/NzvJTPFdqUVJC9Q1mmih4e/Google-SK-UX-Enhancements10up?node-id=1284%3A412) (and, unrelated to that, also suggested by @tofumatt) is that the color of the graph line

[2021-01-14 19:12] felixarntz commented on #2429
@benbowler Opened the necessary follow-up issues to get the widget ready for production. I've added them as blockers here. They're technically only merge blockers, the code for this issue shouldn't be affected.

[2021-01-14 20:09] #2272 closed

[2021-01-14 20:09] #2505 closed

[2021-01-14 20:09] #2495 closed

[2021-01-14 20:09] #2048 closed

[2021-01-14 20:09] #2366 closed

[2021-01-14 20:09] #2367 closed

[2021-01-14 20:09] #2285 closed

[2021-01-14 20:09] #2368 closed

[2021-01-14 20:10] #2221 closed

[2021-01-14 20:10] #2558 closed

[2021-01-14 20:10] #2301 closed

[2021-01-14 20:10] #2424 closed

[2021-01-14 20:10] #2428 closed

[2021-01-14 20:10] #2260 closed

[2021-01-14 20:10] #2355 closed

[2021-01-14 20:10] #2080 closed

[2021-01-14 20:10] #2076 closed

[2021-01-14 20:10] #2421 closed

[2021-01-14 20:10] #2381 closed

[2021-01-14 20:11] #2516 closed

[2021-01-14 20:11] #2200 closed

[2021-01-14 20:11] #475 closed

[2021-01-14 20:11] #2346 closed

[2021-01-14 20:11] #2425 closed

[2021-01-14 20:11] #2423 closed

[2021-01-14 20:11] #2344 closed

[2021-01-14 20:11] #2426 closed

[2021-01-14 20:11] #2075 closed

[2021-01-14 20:11] #2555 closed

[2021-01-14 20:11] #2403 closed

[2021-01-14 20:11] #2271 closed

[2021-01-14 20:11] #2041 closed

[2021-01-14 21:52] felixarntz opened #2626 "Implement framework for "feature tour tooltips""
We need to integrate a set of JS components to Site Kit to enable tooltip-based guided tours through new product features. These should be possible to be applied across any Site Kit-owned screen and encompass one or more tooltips that can be navigated through sequentially.

<img width="606" alt="Screen Shot 2021-01-14 at 1 52 28 PM" src="https://user-images.githubusercontent.com/3531426/104653644-

[2021-01-15 03:08] wpdarren commented on #2422
### QA Update: Pass ✅

- The new All Traffic widget appears on SK Dashboard - [Screenshot](https://user-images.githubusercontent.com/73545194/104674678-ff5f4080-571e-11eb-9ed5-7ecd34714e76.png)

- The chart with the total number of users is shown and changes when you change the active tab in the widget.

https://user-images.githubusercontent.com/73545194/104675258-236f5180-5720-11eb-9ebf-23fc2b1cf

[2021-01-15 03:22] wpdarren commented on #2236
QA Update: Pass ✅

**Verified:**

- Verified that the Analytics data is the same for current and legacy for these widgets:

1. DashboardAllTrafficWidget
2. DashboardPopularPagesWidget
3. DashboardGoalsWidget
4. DashboardBounceRateWidget
5. DashboardUniqueVisitorsWidget

- The Stories for all analytics widgets show data.

[2021-01-15 06:27] cole10up commented on #2405
### QA ✅

Tested:
**Confirmed deep links functioned properly on the following pages:**

- Dashboard links for Analytics and Search Console
- Analytics Module page
- Single page stats page
- Settings page
- Setup module page
No issues on my end

I did however notice console errors on the Google side source:
![image](https://user-images.githubusercontent.com/57115907/104689105-cc816200-56b6-11eb-804

[2021-01-15 06:33] cole10up commented on #2499
### QA ✅

Retested and its looking good.

**One thing I did notice that is worth a discussion**

On my test site prior to retesting this latest merge for the settings link I did the following:

1. I reset SK
2. Deactivated the plugin
3. Deleted the plugin
4. Downloaded the latest release candidate
5. Activated the plugin and setup SK
6. Flipped to a development build and navigated to Admin Setting

[2021-01-15 07:20] cole10up commented on #2618
### QA ✅

Ran npm run test:visualtest locally, multiple times. Didn't experience any hanging during my tests.

Output was displayed to me each time:
![image](https://user-images.githubusercontent.com/57115907/104693556-b7a8cc80-56be-11eb-8d59-66962bdd4076.png)

Sending to approval

[2021-01-15 09:35] aaemnnosttv opened #2627 "Settings not preserved after granting additional scope"
## Bug Description

When performing an action that requires more than the default read-only scopes, we request the additional scope needed on-the-fly; e.g. creating a new property or profile in Analytics setup/settings. While the underlying functionality (store snapshot/restore) is working as expected, a recent change is causing the settings rollback to be triggered after the state is restored whi

[2021-01-15 09:44] aaemnnosttv commented on #2187
## QA ❌

This seems to have introduced a regression where the settings rollback is now being triggered after returning from granting a new scope. This behavior was not present in the previous release. Reopening to investigate.

[2021-01-15 10:19] digi4care commented on #852
Still editor has no view acces to the sitekits dasboard

[2021-01-15 10:51] tofumatt commented on #2422
Yeah, that's just a slow API request. I noticed it too; maybe that particular request is slow. But I think it's "expected" behaviour for now.

Yes, I caught that too. The Figma mocks don't have explicit mobile mocks and several of these components could use further mobile optimisations. Can you open a follow-up issue to improve the whole widget area on mobile viewports referencing that right axis

[2021-01-15 11:11] jamesozzie opened #2628 "Redirecting to homepage after signing in - on a Cloudflare enabled site"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/plugin-wont-connect-to-my-account-after-adding-google-tag-manager/#post-13911599) is encountering being redirected after sign in at the setup stage in Site Kit. This started to occur after the Tag Manager module setup.

The user has attempted many troubleshooting steps, including the following:
- Modified site

[2021-01-15 11:13] jamesozzie commented on #2628
[Another possible impacted user](https://wordpress.org/support/topic/google-site-kit-continuously-asking-for-sign-in) - awaiting response after resetting the site on the Site Kit service . The same site also features Cloudflare DDOS protection & HCaptcha integration.

[2021-01-15 11:49] benbowler commented on #2602
IB added as well as tests + VRT and estimate.

[2021-01-15 11:52] swissspidy commented on #2602
Might be safer to check for `defined( 'WEBSTORIES_VERSION' )`, in case the plugin slug is not `web-stories` for some reason.

[2021-01-15 11:53] benbowler commented on #2429
Thanks @felixarntz, I'll track those blockers and come back to this ticket when ready to get it back into Code Review.

[2021-01-15 12:01] benbowler commented on #2620
Testing with the release the Top Aquasition Channels was rendering like this for me:

<img width="632" alt="Screenshot 2021-01-15 at 11 59 17" src="https://user-images.githubusercontent.com/119352/104724871-33d7fa00-5729-11eb-8c02-852bcb76828a.png">

With the labels offset and overlapping on this page: http://sitekit.10uplabs.com/wp-admin/admin.php?page=googlesitekit-module-analytics

[2021-01-15 12:46] jamesozzie opened #2629 "Stuck at "Checking Compatibility""
[One user in the support forums](https://wordpress.org/support/topic/site-kit-stuck-at-controlling-compatibility/#post-13912064) is unable to setup Site Kit, with a Site Kit related _locate-user 403 console error appearing.

![image](https://user-images.githubusercontent.com/41326532/104728482-d777d900-572e-11eb-83d2-b3f01c5a134c.png)

## Screenshots

## Additional Context

 - [Support topic](http

[2021-01-15 13:30] jamesozzie commented on #2629
Marking as resolved, with mismatching URLs (www & non www) listed in general settings. I must have missed this check previously.

[2021-01-15 13:30] #2629 closed

[2021-01-15 14:16] jamesozzie commented on #2628
Useful insights provided by the user to replicate the issue:
1. Install an SSL certificate from Cloudflare at hosting level (on a site already connected to Site Kit via http)
2. Activate bot fight mode from the Firewall >> Tools section in Cloudflare

[2021-01-15 14:42] benbowler commented on #2241
Pushed and added a QA Brief

[2021-01-15 16:41] aaemnnosttv commented on #2286
IB ✅

Bumping the estimate one up given that this is a GFI and will take a bit longer accordingly.

[2021-01-15 17:14] felixarntz commented on #2627
Closing this in favor of tracking via #2187 where we'll need to fix this for the same release.

[2021-01-15 17:14] #2627 closed

[2021-01-15 17:18] aaemnnosttv commented on #2603
@felixarntz IB is ready for review, but I just wanted to point out that it seems there is a contradiction in the ACs:

This seems to be contradicted by:

Would you please clarify?

Also, it seemed that adding a user-specific flag (user setting) didn't seem to be necessary for this purpose, but perhaps I'm misunderstanding what's needed.

[2021-01-15 17:28] aaemnnosttv commented on #2613
IB ✅

[2021-01-15 17:59] aaemnnosttv commented on #2507
@eugene-manuilov IB is off to a good start, but missing a few datapoints:

**Analytics**
* `connection` – while not a setting itself, it's essentially a legacy version of the settings endpoint
* `tracking-disabled` – maps to `trackingDisabled` option

**AdSense**
* `account-status`
* `connection`
* `use-snippet` – currently used by `fetchSaveUseSnippetStore` but this should be able to be updated t

[2021-01-15 18:15] aaemnnosttv commented on #2624
@eugene-manuilov While I think your suggested approach would work, are we sure that we can't solve it with `vAxes` configuration? Looking at the [configuration options](https://developers.google.com/chart/interactive/docs/gallery/areachart#configuration-options) for the chart, I think the solution might instead involve changing `vAxes.viewWindow` and/or `vAxes.viewWindowMode`.

I'm curious if remo

[2021-01-15 18:16] aaemnnosttv commented on #924
@benbowler – is this ready for review?

[2021-01-17 21:42] rachidev84 opened #2633 "The analytics not showing exact price. and maybe cause that I get ads limit"
My currency is MAD , MOROCCAN DIRHAMS, 1 MAD = 9 USD
this is the screenshot: https://i.postimg.cc/PNGddnYr/aaaa.png
Today I get ads limit : 10 click and I earn 0.5 dollars. google says it from invalid traffic. ( all traffic comes from reddit and facebook users)
I think google kit plugin somehow caused this problem cause of showing wrong earning.

[2021-01-18 01:12] caseymorrisus commented on #2468
@aaemnnosttv Concerning SVGs being added to production builds, my current idea is to copy SVGs (ideally only those that are used) to the `dist` directory (copied later for release). This could be handled fairly easily using the [CopyWebpackPlugin](https://webpack.js.org/plugins/copy-webpack-plugin/). This would need to be added as a dependency.

@felixarntz `GET:notifications` within `AdSense.php`

[2021-01-18 08:03] asvinb commented on #2513
Hey @aaemnnosttv ,
I tried to reproduce locally but i was unable to do so. Do you think we can reproduce that using the tester plugin?

[2021-01-18 09:08] aaemnnosttv commented on #2468
@caseymorrisus regarding the use of `CopyWebpackPlugin`, this would work but would bypass any configuration we have for svg optimization in the process, would it not? Ideally we could use our existing dependencies to "build" the one svg into the dist directory for use by PHP. If there isn't a simple solution for this using the build, then it might be a good idea to use a similar approach to the AM

[2021-01-18 09:26] aaemnnosttv commented on #2513
@asvinb @felixarntz I'm not sure how this is possible since disconnecting GTM would cause its settings to be deleted. Reconnecting using the same (unchanged) settings in order to see that error would not be possible. I've tried to reproduce this as well and found no problem connecting, disconnecting, and reconnecting GTM using a container that matched the property ID used by Analytics.

[2021-01-18 11:17] ThierryA commented on #2575
@OC2PS these are great suggestions, ideally having all resources loading from CDNs would definitely be a good improvement. With that said, I can see how automatically mapping assets to CDN would open a set of important challenges to ensure that user sites don't break (first thing that comes to mind is dependencies management, version conflicts etc.).

This kind of "advanced" performance automating

[2021-01-18 11:56] wpdarren commented on #2187
@aaemnnosttv based on your discovery, is there any change to the QA Brief?

[2021-01-18 12:19] tofumatt commented on #2623
IB ✅

[2021-01-18 12:34] benbowler commented on #2241
I reversed the blocking here. Otherwise, we have to build out conditional logic to show the previous and new version of the admin bar in Storybook. It's simpler to switch to the new data-driven admin bar and then we only have to update Storybook to show the new admin bar.

[2021-01-18 12:34] benbowler commented on #2594
I reversed the blocking here. Otherwise, we have to build out conditional logic to show the previous and new version of the admin bar in Storybook. It's simpler to switch to the new data-driven admin bar and then we only have to update Storybook to show the new admin bar.

[2021-01-18 12:56] tofumatt commented on #2610
The IB here is missing an estimate, could you add one? 🙂

Also, I think it's worth noting, especially as this is marked as Good First Issue, where the existing data for that component comes from and to note we should be using the `select( MODULES_ANALYTICS ).getReport()` selector to get the data in the new functional/hooks-based component. The call to get the report data is done here: https://gith

[2021-01-18 12:58] tofumatt commented on #2625
IB ✅

[2021-01-18 13:28] jamesozzie commented on #2633
@rachidev84 Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic. From looking at the context already provided it would be useful to know whether the same infor

[2021-01-18 13:28] #2633 closed

[2021-01-18 13:30] benbowler commented on #924
Yes, moved into the review column.

[2021-01-18 15:46] abdullah1908 commented on #2628
Hey @jamesozzie ,

Here is the activity done so for on Cloudflare server & unable to reproduce the issue:
- SSL configured on demo
- Fight Mode ON
- Reset Site Kit Settings
- Configured Search Console Property
- Configured Analytics
- Configured Page Speed

[2021-01-18 16:10] benbowler commented on #2594
QA Brief added

[2021-01-18 17:02] eugene-manuilov commented on #2507
Thanks, @aaemnnosttv! IB is updated and ready for review.

[2021-01-18 17:18] eugene-manuilov commented on #2624
@aaemnnosttv I have checked it on my local but it doesn't help.

[2021-01-18 17:20] eugene-manuilov commented on #2620
All looks good to me.

[2021-01-18 17:30] ivankruchkoff commented on #2620
Adding to Ben's feedback, saw the same issue with labels on pie chart, went away after opt in to data sharing:
<img width="444" alt="Screen Shot 2021-01-18 at 8 35 10 AM" src="https://user-images.githubusercontent.com/373931/104946991-d2559c80-596f-11eb-94fa-7317c064739f.png">
<img width="764" alt="Screen Shot 2021-01-18 at 8 34 38 AM" src="https://user-images.githubusercontent.com/373931/10494699

[2021-01-18 17:32] ivankruchkoff commented on #2620
Also saw a label issue on the all traffic widget with all traffic from one source, but that was with the developer plugin running too, couldn't repro on a prod site (different traffic):
<img width="1157" alt="Screen Shot 2021-01-16 at 8 37 44 PM" src="https://user-images.githubusercontent.com/373931/104947107-10eb5700-5970-11eb-8d2b-cded6441a3c0.png">

[2021-01-18 18:22] aaemnnosttv commented on #2563
@johnPhillips I've merged the first PR to avoid an endless mega PR. There are a handful of updates left to make. Would you please open a new PR for these last few instances?

[2021-01-18 22:18] ernee commented on #2350
[Another report](https://wordpress.org/support/topic/site-kit-encountered-an-error-17/) for the `An error occurred while running 'mapSelect': Cannot read property 'getServiceAccountSiteURL' of null` variation.

[2021-01-18 22:40] tofumatt commented on #2602
Updated the IB with @swissspidy's suggestion, but aside from that the IB looks good to me I think. ✅

[2021-01-18 22:55] tofumatt commented on #924
A minor few issues with the IB:

1. There's a mention of a folder named `includes/CodeStandards/GoogleSiteKit/Sniffs/Semantical` but "Semantical" isn't a word. Did you mean "Semantic"?
2. There's a mixture of mentions of `includes/**CodeStandards**/GoogleSiteKit` and `includes/**CodeStandards**/GoogleSiteKit`. Are they meant to be different folders? That's sort of confusing if so.

I think the app

[2021-01-18 23:01] caseymorrisus commented on #2620
No issues on my end (that weren't already reported).

[2021-01-19 09:31] aaemnnosttv commented on #2624
Thanks for checking @eugene-manuilov 👍

IB ✅

[2021-01-19 09:39] aaemnnosttv commented on #2507
IB ✅

[2021-01-19 09:58] aaemnnosttv commented on #2468
@felixarntz we also have `includes/Core/Notifications/Notification.php` which has an `image` key in its `args`. I think these are intended to be remote images though for the most part?

[2021-01-19 13:00] wpdarren commented on #2187
### QA Update: ✅

- Disconnected and connected the Analytics, Search Console and Tag Manager modules without any issues.
- Added the following hash to the settings URL: #settings/tagmanager/view, the tag manager settings panel is opened automatically on page load as expected.

![image](https://user-images.githubusercontent.com/73545194/105037517-0bd5f700-5a99-11eb-905d-a9ebf2742527.png)

[2021-01-19 13:02] aaemnnosttv opened #2641 "Decouple date utils from core/user datastore"
## Feature Description

In #1925 we moved date range parsing to the client, which introduced new date-related infrastructure to the `core/user` store. As part of this, multiple date-related utilities were introduced, such as `getDateString`, `getPreviousDate`, `getPreviousWeekDate`, and `isValidDateInstance` to name a few.

These utilities are completely independent of the datastore and relevant t

[2021-01-19 13:48] wpdarren opened #2642 "Improve (Other) & Others Dimension for new All Traffic widget"
## Bug Description

For the new Analytics module on Site Kit Dashboard, under the pie chart on `channels` dimension, there is a slice for `(other)` and `others` which is confusing.

On #2425 @felixarntz commented.

This ticket was created to start the discussion on if this can be improved to avoid confusion.

## Steps to reproduce

Have a website connected to Site Kit that has a good amount of tra

[2021-01-19 14:05] benbowler commented on #924
Hey @tofumatt, I've replaced all examples of `Semantical` with `Semantic` and updated all of the folder names to `CodeStandards`.

[2021-01-19 14:56] benbowler commented on #2241
Fixed the merge conflict with develop.

[2021-01-19 15:41] felixarntz commented on #2620
@benbowler @ivankruchkoff Can one of you open an issue about this visual bug you've been seeing? Related to https://github.com/google/site-kit-wp/issues/2620#issuecomment-760901738 and https://github.com/google/site-kit-wp/issues/2620#issuecomment-762385342.

Looks like it's only happening occasionally and is not consistently reproducible, so it's not critical but worth looking into.

[2021-01-19 15:47] wpdarren opened #2644 "UX/UI Improvement for Pie Chart Feature on the New All Traffic Module"
## Bug Description

This is a UI improvement suggestion. For the New All Traffic module on Site Kit Dashboard.  On the pie chart, select a slice, and then change the date selection to another period, i.e. 90 days. The module reloads and the correct number of users is displayed for that slice, but it is no longer selected. It would be good to see the slice continued to be highlighted so the user kn

[2021-01-19 18:57] felixarntz opened #2646 "Remove extra nesting/padding around new Widgets API-driven dashboard"
Currently there is some extra padding and various nested HTML elements around the new Widgets API-based dashboard which are mostly there because the new `WidgetContextRenderer` was embedded into the existing legacy DOM structure. We should fix that so that the `WidgetContextRenderer` practically can take care of rendering the entire page itself.

---------------

_Do not alter or remove anything b

[2021-01-19 18:58] felixarntz opened #2647 "Change SK dashboard to only show either Widgets API-based or legacy version"
Currently, when running a development build of Site Kit, the Widgets API-based version of the plugin dashboard is displayed on top of its current/legacy version. In preparation for the production rollout, we should modify this behavior so that only one of the two versions is rendered. This also applies to the single URL view.

---------------

_Do not alter or remove anything below. The following

[2021-01-19 20:02] felixarntz opened #2648 "Implement logic for triggering feature tour tooltips"
While #2626 introduces the essential JS functionality for rendering tooltip tours, we'll also need to implement a reliable way of detecting whether a specific tooltip tour should be triggered. For example:

* A tour specific to introducing a newly introduced feature to Site Kit should only be displayed to users that have already used the plugin before. A new user should not be confronted with vari

[2021-01-19 20:05] felixarntz opened #2649 "Tooltip tours"
Epic for implementing tooltip-based tours for e.g. a specific feature (after updating to the version where it was added) or an entire product area (when accessing it for the first time).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regres

[2021-01-19 20:09] felixarntz opened #2650 "Update tooltip tour components to persistently dismiss tours"
#2626 introduced tooltip tour JS components, relying on a temporary mechanism to dismiss a specific tour by storing its slug in `localStorage`. #2648 introduced the server-side and client-side infrastructure for persistent storage of such a dismissal, so we now need to switch the JS components to rely on that mechanism.

---------------

_Do not alter or remove anything below. The following sectio

[2021-01-19 20:19] #2422 closed

[2021-01-19 20:19] #2237 closed

[2021-01-19 20:19] #2478 closed

[2021-01-19 20:20] #2218 closed

[2021-01-19 20:20] #2236 closed

[2021-01-19 20:20] #2405 closed

[2021-01-19 20:20] #2499 closed

[2021-01-19 20:20] #2618 closed

[2021-01-19 20:20] #2187 closed

[2021-01-19 20:27] #2620 closed

[2021-01-19 20:40] felixarntz opened #2652 "Update `Widget` component `header` and `footer` props to be capitalized"
Per our architecture requirements, any props/arguments/parameters that expect a `WPComponent` / `React.Component` / `PropTypes.elementType` to be passed should be in Pascal-case. That is to differentiate them from `WPElement` / `React.Element` / `PropTypes.element`, where we should be using camel-case.

Using Pascal-case also allows to reuse those names in JSX directly, where otherwise they would

[2021-01-19 21:38] aaemnnosttv commented on #2511
@felixarntz I just reviewed and merged the PR and then noticed that there was one remaining instance left to update 🤦
https://github.com/google/site-kit-wp/blob/1680f18750ea7fc778d39a5a5feab64d0d1b24d0/assets/sass/widgets/_googlesitekit-widget-adsense-performance.scss#L4
Would you mind fixing this last one as a direct push to develop? It seems silly to run the builds again twice for a 1 character

[2021-01-20 00:48] felixarntz commented on #2587
@aaemnnosttv I like your new suggested approach - the implementation in the PR looks great to me at first glance. This will nicely address some of our previously mentioned issues with accidental double registration etc. Can you update the ACs to reflect these requirements at a high-level? Would be good to also update the IB, but describing at a high-level is sufficient since we already have the ap

[2021-01-20 00:49] felixarntz commented on #2223
Closing this one since it will no longer be relevant after #2587 per @aaemnnosttv new suggested approach. 🎉

cc @tofumatt

[2021-01-20 00:49] #2223 closed

[2021-01-20 00:56] felixarntz commented on #2642
@wpdarren Thanks for raising this. I've discussed this one with @marrrmarrr. Since this is a regular Analytics dimension value, we shouldn't omit it or alter the results in any way that would differ from how it's displayed in Analytics FE. However, we can help the user by clarifying what this "(other)" special state means (the same applies to "(not set)" which is another special value). I've added

[2021-01-20 01:06] felixarntz commented on #2539
@aaemnnosttv @tofumatt I see the bundlesize check already showing up among our actions. Is there actually anything else needed here?

[2021-01-20 01:20] felixarntz commented on #1193
Closing this one since we'll potentially revisit this as part of a broader redesign, but also will implement a targeted feedback popup which includes this.

[2021-01-20 01:20] #1193 closed

[2021-01-20 01:48] felixarntz commented on #2533
@aaemnnosttv Thanks for the feedback, good points. I've updated the ACs based on your suggested approach 2. Regarding the asynchronous request, I don't think that's feasible here, as we'll need to also update the option after receiving the request response. So I don't think the non-blocking request approach would work here. For syncing site fields it does because we're simply sending data and don'

[2021-01-20 03:01] felixarntz opened #2653 "Modify `ModuleApp` to support rendering Widgets API widgets"
In order to migrate all module pages to use the Widgets API, we first need to modify the `ModuleApp` component so that it can render widgets (i.e. render a separate version of the page in addition to the current/legacy UI).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Modules should be able to regis

[2021-01-20 06:31] ivankruchkoff opened #2654 "Dashboard Site Overview All Traffic Text is off centre."
## Bug Description

In Dashboard > Site Overview > All Traffic, the minimised pie chart has labels that are off centre when resizing the screen.

## Steps to reproduce

1. Open the Site Kit dashboard page ( wp-admin/admin.php?page=googlesitekit-dashboard ) with a window that is too narrow for mini pie chart to appear (see screenshot 3 for reference), _analytics module_ connected.
2. Resize window

[2021-01-20 06:58] ivankruchkoff opened #2655 "Analytics Page Pie Chart Labels Issue"
## Bug Description

Occasionally pie chart labels are off on /admin.php?page=googlesitekit-module-analytics in pie chart with label _Top acquisition channels over the last 28 days_

## Steps to reproduce

This occurs intermittently, but I've been able to repro twice with the following approach.
1. Start with a fresh site that isn't connected, (delete all options starting with googlesitekit_)
2. Co

[2021-01-20 08:39] aaemnnosttv commented on #2539
@felixarntz – if we have a branch where the new check has been triggered, I would expect it to appear in the list of all/known checks if that's what you mean. I don't see it on the list of checks for current PRs however, so I think the only thing left is to add the missing env vars to the command. See "Work to be done" above and [Default environment variables](https://docs.github.com/en/actions/re

[2021-01-20 09:30] aaemnnosttv commented on #2612
Let's make sure all of the IB sections are always filled out, even if no changes are required to differentiate between no action needed and an incomplete IB. Regarding the VRT section, I think it's safe to say there would be no changes here so I'll add that quickly to move this along.

IB ✅

[2021-01-20 09:50] benbowler commented on #2594
[Complete in this PR.](https://github.com/google/site-kit-wp/pull/2639)

[2021-01-20 11:02] aaemnnosttv commented on #2646
@felixarntz – overall the IB looks good to me. A few questions/thoughts:

Why not use `DashboardFooter` for the `Footer` prop in both cases rather than introduce a duplicate component?

We should probably refer to the feature flag condition a bit more abstractly (or in terms of how it will be) since #2452 will likely be merged before this issue is picked up.

---

One thing that comes to mind here

[2021-01-20 11:08] aaemnnosttv commented on #2642
IB ✅

[2021-01-20 11:20] aaemnnosttv commented on #2594
@felixarntz

Would you please elaborate on why this is needed? The point of `resetFeatures` is to give every story a clean slate before it runs. Every story should enable the features it needs explicitly rather than the reverse. Once #2452 is merged, this would be done by passing a new `features` prop to `WithTestRegistry` otherwise all extra features are disabled by default.

Similar to the previ

[2021-01-20 11:27] eugene-manuilov commented on #2547
IB :heavy_check_mark:

[2021-01-20 12:37] aaemnnosttv commented on #2563
Looks like one more instance slipped through the original PR. Seems to be the _real_ last instance though 😄

[2021-01-20 13:18] wpdarren commented on #2255
### QA Update: Pass ✅

**Verified:**

- The checking compatibility appears when you go to `/wp-admin/admin.php?page=googlesitekit-splash`
- The sign-in with google button appears when compatibility check is completed.  [Screenshot](https://user-images.githubusercontent.com/73545194/105179835-c4b53800-5b64-11eb-9ff5-9580bbbeeadb.png)
- The error appears when you block the requests in dev console. [

[2021-01-20 13:33] wpdarren commented on #2561
@eugene-manuilov @aaemnnosttv I am assuming, that we need to disconnect, reconnect Google account and make sure all the modules are connected as expected or both dev branch and production build. Is that correct?  If not, please provide additional details, as the QAB is a little vague.  Thank you!

[2021-01-20 13:35] eugene-manuilov commented on #2561
@wpdarren, no need to disconnect or reconnect. Just make sure that styles look the same and nothing has been changed on the UI as a result of this ticket.

[2021-01-20 13:57] wpdarren commented on #2477
### QA Update:  Pass ✅

Verified:

The data displayed in the AdSense `DashboardSummaryWidget `widget matches the data returned and displayed on the current release. All date ranges were tested (7 days through to 90 days).  e.g. [Develop branch](https://user-images.githubusercontent.com/73545194/105184534-67bc8080-5b6a-11eb-8b59-eb03dcb67974.png) and [Latest release ](https://user-images.githubuser

[2021-01-20 14:11] asvinb commented on #2128
This is taking longer than anticipated because of some changes in Storybook 6. In Storybook 5 (the version we are using), the decorators within stories are self contained and the code for those decorators are run only when viewing the story, even they are under the same kind. For e.g the `ReportZero` story is within the `Global` [kind](https://github.com/google/site-kit-wp/blob/develop/stories/rep

[2021-01-20 14:46] wpdarren commented on #2561
### QA Update: Pass ✅

Checked SiteKit build on test site including all modules and settings in develop branch and development build. Nothing out of the ordinary appears on the FE.

[2021-01-20 14:48] eugene-manuilov commented on #2563
QA :warning: Found a few more places:

https://github.com/google/site-kit-wp/blob/026f7d3e022356335c420d276fdd31366ea6342c/assets/js/components/setup/CompatibilityChecks/checks.js#L20

https://github.com/google/site-kit-wp/blob/026f7d3e022356335c420d276fdd31366ea6342c/assets/js/components/setup/CompatibilityChecks/CompatibilityErrorNotice.js#L31

https://github.com/google/site-kit-wp/blob/026f7d3e

[2021-01-20 15:19] asvinb opened #2659 "Improve UX to close tooltips within charts"
## Feature Description
For the new Analytics module on Site Kit Dashboard, when a user clicks on a slice from the pie chart, the tooltip is displayed. However in order to hide the tooltip, the user needs to click on the slice again which is not intuitive. The tooltip should be hidden whenever the user uses the "Escape" key or clicks anywhere outside of the pie chart.

## Steps to reproduce
Have a

[2021-01-20 16:27] benbowler commented on #2613
Executed, I'll wait on the merge of #2252 to finalise tests and storybooks so I don't have a moving target.

[2021-01-20 16:28] aaemnnosttv commented on #2128
Thanks for the report @asvinb – that the migration doesn't seem to be as straightforward as originally anticipated.

Let's do some testing to see if there is a way to continue using the `storiesOf` API (since it isn't deprecated yet) with our current stories for now to avoid a major refactor here if possible.

[2021-01-20 16:37] ivankruchkoff opened #2660 "Sitekit Dashboard Locations Label Placement"
## Bug Description

Site Kit Dashboard label for Locations overlaps with the text 'BY' when 100% of traffic comes from one location.

## Steps to reproduce

1. Using latest develop branch as I'm pretty sure the feature is behind a feature flag.
2. Open Site Kit dashboard with Analytics module connected
2. Scroll down to Users widget in Site Overview.
3. Open Locations Tab.
4. Ensure 100% of Locati