[2021-06-07 10:29] Hazlitte commented on #3227
**QA ✅**
I connected Site Kit to Search Console for both admin users.  When I connected Analytics with the first admin user the message was displayed as expected for the second admin user.

[2021-06-07 10:55] tofumatt commented on #3472
QA/standard release smoke testing, for me, has looked good 👍🏻

[2021-06-07 12:53] eugene-manuilov commented on #3288
Thanks, @ivankruchkoff. I've created a follow-up PR that improves tag matchers.

[2021-06-07 12:55] wpdarren commented on #3419
@aaemnnosttv Ah, this must be an issue with Browserstack because when I tested this on Safari on my laptop, the issue does not arise on WP or Storybook.  We can close this ticket, will double check in future.

[2021-06-07 14:02] aaemnnosttv commented on #3419
Thanks @wpdarren - closing for now.

[2021-06-07 14:02] #3419 closed

[2021-06-07 14:18] #3270 closed

[2021-06-07 14:19] #3271 closed

[2021-06-07 14:19] #3418 closed

[2021-06-07 14:20] #3291 closed

[2021-06-07 14:22] #3290 closed

[2021-06-07 14:28] eugene-manuilov commented on #3118
@felixarntz #3487 has been approved but not merged yet. I assign this ticket to you to merge it when the SK authentication service is ready.

[2021-06-07 14:28] #3246 closed

[2021-06-07 14:49] jamesozzie commented on #3473
Reopening this as other users remain impacted.

From speaking with a Hostgator representative today there are different regional Hostgator servers and while it's "easy to fix" impacted users must contact Hostgator and request Site Kit be whitelisted.

Correspondence ongoing.

[2021-06-07 15:14] aaemnnosttv opened #3493 "Widget-based page dashboard appears blank for page not found"
## Bug Description

The page dashboard (aka dashboard details) view has two primary states based on the URL passed in the `permaLink` query parameter:
* When the permalink resolves to a post/page entity on the local WP site, it displays a dashboard of stats for that page
* When the permalink **does not** resolve to an entity on the local WP site, it renders a "not found" state with no dashboard

I

[2021-06-07 15:50] bethanylang commented on #3278
@jamesozzie Checking in here – should this go over to L2 or are you and @abdullah1908 still working on it?

[2021-06-07 16:00] bethanylang commented on #3389
@jamesozzie Assigned to you as you were waiting for more details from other users.

[2021-06-07 16:53] felixarntz commented on #3493
Since this is rather critical and a small fix per @aaemnnosttv, let's squeeze it into the next 3 hours and add it to the 1.34.0 release going out later today. 💪

[2021-06-07 17:20] felixarntz commented on #3493
@aaemnnosttv Thanks! IB + CR ✅

[2021-06-07 20:39] cole10up opened #3497 "Smaller browser window/mobile causes long property names move the drop down out of the frame"
Smaller browser window/mobile causes long property names move the drop down out of the frame

## Steps to reproduce

1. Run storybook locally via the following command: npm run storybook
2. Visit the Analytics -> Setup -> SetupFormUA story.
3. Use Redux DevTools to check if the SET_PROPERTY_ID action has been dispatched upon page load, with property_create as value.
4. Choose a property from the P

[2021-06-07 20:40] cole10up commented on #3248
@eugene-manuilov done. The new ticket for this issue is here: https://github.com/google/site-kit-wp/issues/3497

Sending to approval

[2021-06-07 22:26] tofumatt opened #3498 "getSetupFlowMode requires other selectors to be run"
## Bug Description

The [`getSetupFlow`](https://github.com/google/site-kit-wp/blob/b252720322e3dce7883c92c79811c6d83e19f20c/assets/js/modules/analytics/datastore/setup-flow.js#L36) selector in the Analytics datastore has an issue that requires components that use it to call another selector (to resolve) first, before using `getSetupFlowMode`. This does not behave as-expected—any selector should h

[2021-06-07 23:44] jamesozzie commented on #3473
I've been able to recreate this on a HostGator shared hosting account (although not with their WordPress specific hosting). This occurs only when creating a new Analytics account and not when selecting an existing account. The console error that appears is below:
`​ GET https://examplesite.com/wp-admin/index.php?action=googlesitekit_connect&nonce=eb61b0fd00&redirect=https%3A%2F%2Fsharedhg.cmsdevre

[2021-06-07 23:54] felixarntz commented on #3493
### QA ✅

Single URL view for content that doesn't exist now shows up as expected again with the widget-based version:
![Screen Shot 2021-06-07 at 4 52 27 PM](https://user-images.githubusercontent.com/3531426/121101553-eb40dc00-c7b0-11eb-90d5-16fb1f6bbb83.png)

No longer an empty screen, despite not having any widget areas - the header with the information about the current URL is present again, a

[2021-06-07 23:54] #3493 closed

[2021-06-07 23:54] #3248 closed

[2021-06-07 23:57] #3472 closed

[2021-06-07 23:59] jamesozzie commented on #3278
@bethanylang Sounds good to me to escalate to L2. Alternatively we can check with the team whether the upcoming changes from #3255 would impact this issue.

[2021-06-08 08:03] ivankruchkoff commented on #3217
In CR, but the testing for this is somewhat hard as it depends on testing constant values which can't be easily redefined, see
https://github.com/google/site-kit-wp/pull/3495/files#diff-a14a2e665675d8f03868671e7779374b1892e29b38dbb48251dae256aebea520R160

I'm thinking the github actions by default don't have the runkit7 extension so we can't really redefine constants.

Changing processIsolation fo

[2021-06-08 09:40] benzwk opened #3500 "Analytics Property is not showing"
## Bug Description

Property from analytics is now showing on sitekit

## Steps to reproduce

1. Go to 'admin portal'
2. Click on 'sitekit setting' to set up analytics
3. Select 'Account'
4. Select property dropdown
4. See error

## Screenshots

<img width="720" alt="Screen Shot 2564-06-08 at 17 13 44" src="https://user-images.githubusercontent.com/70436060/121162383-78069b00-c880-11eb-9397-73a12d

[2021-06-08 10:44] danielgent opened #3502 "Configure eslint-plugin-import"
## Feature Description

We have `eslint-plugin-import` installed but it doesn't look like it's configured

I created a branch here where I configured this https://github.com/google/site-kit-wp/tree/eslint-import-idea (you can see from the diff that it even found one error :smile: )

The remaining errors on this branch that need fixing are:
[code]

---------------

_Do not alter or remove anything

[2021-06-08 10:49] danielgent opened #3503 "Linting for propTypes"
## Feature Description

Currently, we have no linting on propTypes.  So they can be missing or there can be extra (I can see at least one component that has them missing)

But also we can then have a team discussion about how we do props e.g. do we allow `object` types, do we defined defaults if they are not required, etc.

I would imagine we would use `eslint-plugin-react/prop-types` to do this

[2021-06-08 10:51] johnPhillips commented on #3357
Hi @felixarntz - just wanted to flag a couple of things with you that I ran into while working on this issue.

**Should `POST:create-idea-draft-post` returns an array**
The `POST:create-idea-draft-post` call returns an array containing the idea, so the `ideaDraftPost` argument in the `reducerCallback` is an array of length 1. This means that the current code adds a nested array to the `draftPostId

[2021-06-08 10:54] marrrmarrr commented on #2681
@felixarntz keeping the UI copy to match what exists in Analytics SGTM:
- "Users that can write posts"
- "All logged-in users"

[2021-06-08 10:57] danielgent commented on #3340
If there's any way I could upvote this issue then this is my upvote :heavy_check_mark:

From both my own experience and watching the repo, there's a *lot* of back-and-forth with basic formatting issues that this could fix automagically

This is compounded by us being a distributed team and working with scrum (we can't just grab any ticket while waiting for a formatting fix in a CR)  :smile:

[2021-06-08 11:00] marrrmarrr commented on #3359
@felixarntz I think it would be good for them to reappear after a while. For example:
- for users who have no saved ideas, display the notice again after the ideas in the widget refresh (1 week? what's the current refresh rate?)
- if a user eventually saves some ideas, display the [notice linking to the saved ideas tab](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?n

[2021-06-08 12:16] willowmagrini commented on #3427
Hello @adamsilverstein, thanks for helping!
We tried from different machines in totally different locations and from different users, that's why I think is unlikely a browser level problem. I've also tried in different browsers (firefox, brave and chrome) with the same outcome.
There are no errors on the console.
We host the website in a custom server with kubernetes and docker, and we use an ngin

[2021-06-08 12:53] marrrmarrr commented on #631
@felixarntz can you confirm whether if we add the chart from the Analytics detailed report here, we would lose the interactivity? It's possible in the detailed report to switch the trendline by clicking on one of the four metrics on top, here it wouldn't be possible.

[2021-06-08 13:28] johnPhillips commented on #3138
Just to note that the new version of the widget (`AcquisitionChannelsTable) also uses the `TableOverflowContainer` component and is showing the bug. I've therefore applied the same fix there, otherwise this issue may resurface when we launch the `widgets.moduleScreens` feature.

[2021-06-08 14:03] ivankruchkoff commented on #3360
Updated @eugene-manuilov and back over to you.

[2021-06-08 14:45] ivankruchkoff commented on #2217
@tofumatt updated to use a header. I was initially thinking to add both, query param and header, but maybe that gets handled differently, so I added an html comment in the IB for the query string approach.

[2021-06-08 15:26] Hazlitte commented on #3025
@aaemnnosttv @asvinb @tofumatt,  As per the IB, I double checked and confirmed the removal of the list of icons that can be deleted.  I didn't find any new ones that can be removed.
With the second part of the IB I tried replacing the svg files with @wordpress/icons.  I ran into some strange behaviour with icon sizes and colours for the 'close' and 'help' icons which needs a bit more investigation

[2021-06-08 15:27] aaemnnosttv commented on #3474
Thanks @eugene-manuilov – we already have an issue to address this in #1147 👍

[2021-06-08 15:27] #3474 closed

[2021-06-08 15:53] eclarke1 opened #3507 "User Feedback & Idea Hub CTA button to be in uppercase"
## Feature Description

Following the Bug Bash session, could we please ensure both versions of the CTA button for the User Feedback survey are in uppercase, as per styling of all other CTA buttons

![image](https://user-images.githubusercontent.com/56588136/121217856-25c27b80-c87a-11eb-8cbf-bcaab291d533.png)

---------------

_Do not alter or remove anything below. The following sections will be

[2021-06-08 15:56] eclarke1 opened #3508 "Avoid double-triggering of survey and additional prompts"
## Feature Description

Let's make sure the prompt doesn't show when there's a second prompt on a different part of the dashboard (e.g. in the future this could happen with the UXR study recruitment form).

![image](https://user-images.githubusercontent.com/56588136/121218172-6d490780-c87a-11eb-81b0-15bd67f83293.png)

---------------

_Do not alter or remove anything below. The following sections

[2021-06-08 15:58] eclarke1 opened #3509 "Add slide up / down animation to User Feedback survey"
## Feature Description

The User Feedback survey is missing the slide up / down animation to show / hide the survey.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The user input survey box should not just appear, it should have an animation when it appears and disappears:
    * When it appears, it sh

[2021-06-08 15:59] Hazlitte commented on #2749
**QA ✅**
* Code is as per the IB
* Adsense connection flow works fine

[2021-06-08 15:59] eclarke1 opened #3510 "Ensure User Feedback CTA links open in new tab/window"
## Feature Description

When clicking any of the CTA buttons on the User Feedback survey, please could we ensure the links open in a new tab.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Any links that appear in user feedback survey completion prompts (visually displayed as buttons, but technically

[2021-06-08 16:42] wpdarren commented on #3289
### QA Update: Pass ✅

**Verified:**

As per the QAB, I went through Storyboard and checked all of the entries in the AC.

_In the ga4 version of the Analytics setup flow, if there is an existing GA4 tag :_

- When GA4 property is selected and it is the same one as indicated by the existing tag, the note is displayed above the dropdowns.  [Screenshot](https://user-images.githubusercontent.com/7354

[2021-06-08 16:54] johnPhillips opened #3511 "Fix Babel issue when running Storybook."
## Bug Description

A number of engineers have been seeing the following output from Babel in the terminal when attempting to run `npm run storybook` or processes that invoke this under the hood (e.g. `npm run test:visualtest`):

We should investigate the causes and determine an appropriate fix. It could be that be changing our Babel plugins as suggested in the warning fixes the issue, or perhaps

[2021-06-08 17:26] eugene-manuilov opened #3512 "Update issue template to convert Visual Regression Changes section into a comment in the IB section"
## Feature Description

Currently, we have the `Visual Regression Changes` section that is used super rarely. Let's convert it into a comment and put it in the Implementation Brief section to remind engineers to add relevant information to the implementation brief when they work on it.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2021-06-08 17:31] eugene-manuilov opened #3513 "Add an eslint rule for functional components style"
## Feature Description

Currently, we use two approaches for functional components: regular and arrow functions. This is not an issue but it would be nice if we can add an eslint rule that will force us to use one approach for all our functional components. Here is an example rule that we may use: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/function-component-definition

[2021-06-08 17:59] felixarntz commented on #3359
@marrrmarrr SGTM. Updated the ACs with this.

[2021-06-08 18:01] eugene-manuilov commented on #3360
Thanks, @ivankruchkoff. The IB looks okay to me, although I think we can avoid duplicating PHP functionality by extracting common functionality into parent classes and inherit them in concrete implementations. :thinking: I would like to ask @aaemnnosttv  and @felixarntz (or one of you) to take a look at it too and give a thumb up before we can move it to EB.

[2021-06-08 18:02] felixarntz commented on #631
@marrrmarrr That is for us to decide, but I think having the full thing with the four different metrics in the WP dashboard widget would be overkill, particularly as our space is limited. The original issue request here is to only have unique visitors, so I think we would be good to only have that one metric in a chart.

[2021-06-08 18:09] aaemnnosttv commented on #2514
@felixarntz @tofumatt there were some decisions made in the comments that weren't reflected in the current ACs so I've updated them 👍

[2021-06-08 18:16] felixarntz commented on #3269
This was already part of the 1.34.0 release, but it's not user-facing so let's reopen this issue to fix that point I just mentioned above. @ivankruchkoff Unless there is something I missed, can you please open a follow-up PR against `develop` for changing the return format?

[2021-06-08 18:20] eugene-manuilov commented on #3269
@felixarntz I think it's my fault :man_facepalming:. I asked Ivan to re-use the `'GET:draft-post-ideas'` handler in the `Idea_Hub::parse_data_response` method (which has the similar functionality but intended for multiple posts) to avoid duplicate code: https://github.com/google/site-kit-wp/blob/d2e73634ec8a3a1a1354530cc67fdc4902aa6655/includes/Modules/Idea_Hub.php#L406-L421

[2021-06-08 18:23] felixarntz commented on #3357
@johnPhillips

Good catch! This is actually something that is slightly incorrect in #3269 - the `POST:create-idea-draft-post` endpoint should return the associative array (object in JS) of the idea itself, not an array containing it (since, as you're saying, it'll always be one anyway). I've left a comment in https://github.com/google/site-kit-wp/issues/3269#issuecomment-856986873 and reopened thi

[2021-06-08 18:25] felixarntz commented on #3269
@eugene-manuilov Thanks, no worries. Let's just fix it to unblock #3357 :)

[2021-06-08 18:27] skpandey885 commented on #3497
Hey, Sir! Can I Contribute To This!?
I am A Beginner and Want To Contribute!

[2021-06-08 18:28] eugene-manuilov commented on #3269
Ok, i'll create a PR for it.

[2021-06-08 18:37] felixarntz opened #3514 "Idea draft posts cannot be trashed"
## Bug Description

As pointed out in https://github.com/google/site-kit-wp/issues/3357#issuecomment-856660512, draft posts that were automatically created based on an Idea Hub idea are initially empty posts (via `add_filter( 'wp_insert_post_empty_content', '__return_false' )`, which WordPress generally doesn't allow. We work around it during draft creation. However, with WordPress's built-in func

[2021-06-08 18:39] eugene-manuilov commented on #3269
@felixarntz do you mind reviewing #3515?

[2021-06-08 18:59] felixarntz commented on #2681
@johnPhillips @eugene-manuilov @aaemnnosttv After revisiting with Mariya, the default for this setting should be different from Analytics, it should be essentially how Site Kit behaves now. I've clarified this in the ACs.

In other words, the following part of the IB needs to be changed:

[2021-06-08 19:19] felixarntz commented on #3357
@johnPhillips #3515 now fixed the endpoint response to be an object, so you should be good to go once you refresh your PR against `develop`.

[2021-06-08 19:37] felixarntz commented on #3360
@ivankruchkoff @eugene-manuilov Regarding the abstraction aspect, I think it's okay to initially build the PHP classes separately, with admittedly some duplicate code, since that gives us the flexibility we need. If the final result in the PR proves for them to have enough commonalities to abstract out, we can still do it then, or in a follow-up issue which IMO is a bit safer and reduces initial c

[2021-06-08 20:18] ivankruchkoff commented on #3288
LGTM QA: ✅

[2021-06-08 20:23] felixarntz opened #3516 "Introduce button tooltips to help clarify icons"
In much of Google UI, buttons (_particularly_ icon buttons) have tooltips with a (secondary) text label. While for regular buttons, this is not as critical, for icon buttons this is quite helpful as it helps convey the meaning of each icon. For screen readers, we already have assistive text, but that text is not accessible for e.g. browser users.

Here is a screenshot from Google Drive as example:

[2021-06-08 20:38] felixarntz commented on #3406
@danielgent IB mostly lgtm. Just a few things to clarify:

Nitpick, but maybe name this file a simpler `errors.js` - it stores errors, not necessarily notifications (even if we display such an error in a notification). When changing this, the name of the respective test file of course needs to change too.

Yes, indeed this can just be removed as it's no longer relevant - it's part of the legacy da

[2021-06-08 20:49] felixarntz commented on #3387
@Pratheep-lab Revisiting this, I wanted to suggest another idea: Instead of overlaying the entire idea row, it might be smoother to only alter the area on the right where the user is interacting with anyway. I'm thinking something like:
* Replace the three icons with the text on what's currently happening.
* This would have similar appearance to what we already use for "View draft" (which is just

[2021-06-08 20:50] felixarntz commented on #3317
LGTM!

[2021-06-08 21:05] felixarntz opened #3517 "Update Google API PHP client services library to version with Idea Hub and AdSense V2 API"
Now that the [auto-generated PHP client code for the Idea Hub API](https://github.com/googleapis/google-api-php-client-services/blob/master/src/Google/Service/Ideahub.php) is available, we need to upgrade the Google API services library to include it.

The main reason for the update is the above Idea Hub API - however, related to that, the new PHP client services library also includes the new AdSe

[2021-06-08 21:05] felixarntz opened #3518 "Switch Idea Hub module REST routes to actually use Idea Hub API"
Now that the Idea Hub API client library code is available, Site Kit should actually start using the API.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `Idea_Hub` class should have its REST data points that are intended to proxy through requests to the Idea Hub API updated to actually use the API

[2021-06-08 21:05] felixarntz opened #3519 "Implement Idea Hub widget functionality for saving and unsaving an idea"
The Idea Hub widget's functionality to save and "unsave" an idea should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Idea Hub widget functionality for saving and unsaving an idea should be implemented:
    * When clicking on the pin icon in the "New" tab, the idea should be saved

[2021-06-08 21:06] felixarntz opened #3520 "Implement Idea Hub widget functionality for dismissing an idea"
The Idea Hub widget's functionality to dismiss an idea should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Idea Hub widget functionality for saving and unsaving an idea should be implemented:
    * When clicking on the x icon in the "New" tab, the idea should be dismissed via the

[2021-06-08 21:06] felixarntz opened #3521 "Remove Idea Hub locale setting and implement minimal settings panel UI"
While it was initially assumed an Idea Hub-specific locale would need to be stored, it looks like this is no longer the case. In other words, the Idea Hub module will not have any settings for now.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Idea Hub module should no longer support the `ideaLoc

[2021-06-08 21:06] felixarntz opened #3522 "Implement Idea Hub setup UI"
While the Idea Hub module does not have any settings for now (see #3521), it still needs to have a setup screen, for now with just a note about privacy and terms of service of this API that the user has to acknowledge.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Idea Hub module should have its

[2021-06-08 21:06] felixarntz opened #3523 "Implement Idea Hub dashboard notification informing about the module"
A Site Kit dashboard notification should be displayed to inform users about the new Idea Hub module if they have access to it. See the [Figma file](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A181) for UI design.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criter

[2021-06-08 21:06] felixarntz opened #3524 "Implement Idea Hub module feature tour(s)"
Once the Idea Hub module is set up, a feature tour should be added to explain the new functionality. Potentially, another feature tour with a single tooltip should be added also on the Site Kit settings screen, to point to the new Idea Hub module when it's not yet activated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2021-06-08 21:26] aaemnnosttv commented on #2749
## QA ❌

The PR was implemented as the IB, but this is not (or is no longer) correct. I'm not sure if the underlying code changed since the IB was written but the previous selector was asynchronous, but it [has been changed to use the synchronous `registry.select`](https://github.com/google/site-kit-wp/pull/3485/files#diff-730069ff939870d1e1640e27bfe2b107916e1c80b45f1c210a7f90118279cc8d). The beha

[2021-06-09 06:28] aaemnnosttv commented on #3025
@Hazlitte the replacement with WordPress/icons was supposed to be removed from the IB but looks like it wasn't updated after I asked for this change. I'll update it 👍

[2021-06-09 07:58] aaemnnosttv opened #3525 "Organize SVG assets"
## Feature Description

Currently we have a flat directory of svg files in [`assets/svg`](https://github.com/google/site-kit-wp/tree/2347d60d5bd1fefe512f2b2a816aefc61d372ab3/assets/svg) which includes mostly icons, but also has some vector graphics. It would be good to organize these accordingly based on their type since these are quite different in their use.

The main difference with icons is th

[2021-06-09 08:08] aaemnnosttv commented on #3073
@jamesozzie I've seen 0 users come back from the API for one of @cole10up 's sites which was quite new and didn't have much data, even though the chart was showing more than zero. This looks like a similar problem, but I've never seen the inconsistency like you're referring to here.

Do you have a site that I can see this on?

[2021-06-09 08:13] jamesozzie commented on #3500
@benzwk Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any additional informat

[2021-06-09 08:13] #3500 closed

[2021-06-09 08:17] aaemnnosttv commented on #2258
@felixarntz we have at least one HOC in `assets/js/components/higherorder` which shouldn't be removed so we should probably update the ACs to be specific to the individual legacy components.

[2021-06-09 08:27] aaemnnosttv commented on #3029
@wpdarren this seems to no longer be a problem, can you confirm?

[2021-06-09 09:23] danielgent opened #3526 "Intermittent VRT false positive"
## Bug Description

A VRT test for the hover button state is intermittently failing.  We should investigate and fix this, or just disable the test.

Also amazing would be to have the backstop reports hosted somewhere as it takes a while to download and extract the artifact *but* if we stop this false negative then it will be less of a problem

## Steps to reproduce

See this false-negative -> http

[2021-06-09 09:32] jamesozzie commented on #3073
@aaemnnosttv Non at present but I did just setup a couple of new test sites. I expect I may be able to replicate it tomorrow with minimal traffic once there is data.

On the site where I recreated this experience this was no longer occurring once there was more traffic. I'll keep you updated.

[2021-06-09 09:37] marrrmarrr commented on #1120
Hi @gounder and everyone else who chimed in here so far, it seems that the main limitation here is around the type of snippet -- Site Kit uses gtag.js, whereas you seem to be referring to the older analytics.js (or at least that's what's referenced in the [Contact Form 7 help article](https://contactform7.com/tracking-form-submissions-with-google-analytics/) you linked).

Are you usuing analytics.

[2021-06-09 10:02] eclarke1 opened #3528 "User feedback show terms in the footer"
## Feature Description

Potential to add 'terms and conditions' section at the bottom of the user feedback notice as per discussion [in Asana](https://app.asana.com/0/1200379030254833/1200441839407985).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* _If_ the current user has not opted in to Site Kit's

[2021-06-09 10:04] eclarke1 opened #3529 "Add shadow to help differentiate survey pop-up from the rest of the dashboard"
## Feature Description

Add drop shadow to the User Feedback survey to differentiate it from the rest of the dashboard

![image](https://user-images.githubusercontent.com/56588136/121335363-6bcb1e00-c912-11eb-8ded-d1b7f57befe1.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Instead of following th

[2021-06-09 10:15] johnPhillips commented on #3357
@felixarntz Thanks a lot for the clarification, much appreciated. I've updated my PR now 👍

[2021-06-09 10:25] eclarke1 opened #3530 "User feedback survey to be centered on mobile"
## Feature Description

On desktop the user feedback survey is appearing on the right, however on mobile it appears to be left aligned to the user. Please could we ensure the user feedback survey is centered at mobile.

![image](https://user-images.githubusercontent.com/56588136/121338371-5acfdc00-c915-11eb-8884-f4e496f513b9.png)

---------------

_Do not alter or remove anything below. The follow

[2021-06-09 10:26] eclarke1 opened #3531 "Add selected state of 300ms to user feedback survey"
## Feature Description

When one of the emoji is clicked, it instantly goes to the next state, there need to be a selected state for a moment(300ms) to show that it is selected.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* After selecting an emoji in the user feedback survey question of the rating t

[2021-06-09 10:40] jamesozzie opened #3532 "Unable to create an Analytics account"
## Bug Description

Some users are reporting issues trying to create an Analytics account within Site Kit. As soon as they click on the "Create Account" they're encountering a "You don’t have permission....." notice in a 403 page, slightly different in the 2 cases currently being investigated.

- `You don’t have permission to access this document`
- `You don’t have permission to access /wp-admin/i

[2021-06-09 11:03] danielgent commented on #3406
If anyone wants to pick this IB up, here is the PR WIP where I've been working on it https://github.com/google/site-kit-wp/pull/3425

[2021-06-09 11:19] wpdarren commented on #3250
### QA Update: Pass ✅

**Verified:**

The form looks like the Figma design and functions as per the designs.

![image](https://user-images.githubusercontent.com/73545194/121343265-6671d180-c91a-11eb-9c8e-abf1ac514888.png)

The selections are saved correctly when changes are made.

[2021-06-09 12:03] aaemnnosttv commented on #3251
## QA ⚠️

While reviewing the components I noticed a few things that were off, but also worth noting that the designs do not show the appearance of all types of notices.

I think we probably need a follow-up issue here to address some of it though as it's beyond the scope of this issue.

I created a follow-up PR to address these things here: https://github.com/google/site-kit-wp/pull/3533

[2021-06-09 12:20] aaemnnosttv commented on #3253
## QA ⚠️

Overall works as expected but needs a follow up for fixing improper use of `isFeatureEnabled` due to complications with Storybook.

[2021-06-09 12:31] tofumatt commented on #3083
IB ✅

[2021-06-09 15:33] felixarntz commented on #2681
IB ✅

[2021-06-09 16:03] adamsilverstein commented on #3427
Hi @willowmagrini - thanks for the additional details. Do you have any firewall rules running on your platform and if so, can you try temporarily disabling? we have seen some sites fail because of rules that restrict query parameters or length.

[2021-06-09 16:21] eclarke1 opened #3535 "Cannot submit Analytics settings"
## Bug Description

After I set up the Analytics module with both my UA and GA4 properties, they show up in the Analytics settings panel as expected, in both the "view" and "edit" state.

Problem: However, when I edit settings, it does not let me submit. In the attached screenshot for example, I just changed the tracking exclusion setting from "All logged-in users" to selecting none, but the submi

[2021-06-09 16:22] eclarke1 opened #3536 "GA4 notice is shown when there is no account selected"
## Bug Description

When no account is selected, the GA4 notice is still displayed.

![emptyaccount](https://user-images.githubusercontent.com/873049/121716978-5e1bc100-cae9-11eb-8361-f023b6437f5b.png)

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447371742673)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## A

[2021-06-09 16:24] eclarke1 opened #3537 "Clicking Set up a new account in 'Account' dropdown doesn't load anything"
## Bug Description

Clicking 'Set up new account' from the 'Account' dropdown never loads, it is in a constant spinning state

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447894111338)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When choosing the "Set up a new account" option

[2021-06-09 16:25] eclarke1 opened #3538 "Can't submit the setup form when an account has UA and GA4 properties with different website URL"
## Bug Description

Can't submit the setup form when an account has UA and GA4 properties with different website URL. Looks like it happens because there is no matching web data stream for the current site

![cantsave](https://user-images.githubusercontent.com/873049/121718168-aab3cc00-caea-11eb-9952-a851e553bca8.png)

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447371742681)

[2021-06-09 16:26] eclarke1 commented on #3373
This is the same issue as raised on GA4 Bug Bashing, so bumping to P0 and adding GA4 epic.

[2021-06-09 16:27] eclarke1 opened #3539 "A new GA4 property has not been created for a new account created via settings page"
## Bug Description

A new GA4 property has not been created for a new account created via settings page. Now I see wrong GA4 property on the view settings page.

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447371742693)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When creating

[2021-06-09 16:29] eclarke1 opened #3540 "Full width blue background on GA4 notices"
## Feature Description

Some Figma screens have the blue bar full width, others have the blue bar at the end of the dropdown, which is correct?

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447894111324)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The "Learn more" link in the b

[2021-06-09 16:30] eclarke1 opened #3541 "Styling of property select in GA4 notice on settings page looks off"
## Feature Description

Styling of the Property select dropdown is grey instead of blue as per designs.

![image](https://user-images.githubusercontent.com/56588136/121393446-40632600-c948-11eb-813a-b51d691aa9a2.png)

Please see [Figma comment](https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB?node-id=20269%3A8810&fuid=758316026848078147#86348586) here also

[Related Asana task](https://app.asana.

[2021-06-09 16:33] eclarke1 opened #3542 "Existing GA4 tag detected but useSnippet not disabled"
## Feature Description

This is probably because the setting shown is for UA analytics. If the setting for GA4 is toggled here behind the scenes, it's confusing for the user.

[Related Asana task](https://app.asana.com/0/1200316599642381/1200441839408014)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

[2021-06-09 16:43] eclarke1 opened #3543 "Account with GA4 property only is not preselected on the setup form"
## Feature Description

Account with GA4 property only is not preselected on the setup form

[Related Asana ticket](https://app.asana.com/0/1200316599642381/1200447371742671)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* On pageload of the Analytics setup flow (with `ga4Setup` flag enabled): When you

[2021-06-09 16:46] eclarke1 opened #3544 "Update GA4 notice to say "You need to select""
## Feature Description

"You'll need to select" might read better as "You need to select"

![image](https://user-images.githubusercontent.com/56588136/121395614-87eab180-c94a-11eb-9cd8-3d731fb745ff.png)

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447745419568)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2021-06-09 16:50] eclarke1 opened #3545 "Display measurement ID on the analytics settings page next to GA4 Property ID"
## Feature Description

Display measurement ID on the analytics settings page instead of ga4 property ID or next to it. Show measurement ID as well as Property, with the GA4 property below the blue link.

![image](https://user-images.githubusercontent.com/56588136/121396255-152e0600-c94b-11eb-9e18-c9fe2cd88bb9.png)

[Related Asana task](https://app.asana.com/0/1200316599642381/1200447371742663)

-

[2021-06-09 16:50] eclarke1 opened #3546 "Unexpected behavior when canceling permission scope popup for a UA-only account"
## Feature Description

Unexpected behavior when canceling permission scope popup for a UA-only account. (Needs to be defined further)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

[2021-06-09 17:05] aaemnnosttv commented on #2749
## QA ✅

Previous feedback addressed by #3534 👍

Thanks @johnPhillips !

[2021-06-09 17:43] tofumatt commented on #3521
IB ✅

[2021-06-09 17:48] tofumatt commented on #3509
I'm confused by this, why link the events and the animation? Does this mean we delay sending events until the animation is done to prevent issues with the component being unmounted after the events are completed?

I don't want to overcomplicate the issue, but that seems a bit of a brittle approach to dealing with animations for components.

I suppose we can delay `setValues` actually, but I don't

[2021-06-09 17:51] tofumatt commented on #3507
IB ✅

[2021-06-09 17:55] tofumatt commented on #3327
While it would be good to inventory our use of all-caps throughout the app (because all-caps are not very accessible), having things be consistent for now is good and that inventory should be all-encompassing.

So for now this sounds good, IB ✅

[2021-06-09 18:41] jamesozzie commented on #3532
Additional ModSecurity related issues below although only one possible related to Analytics account creation:
- https://wordpress.org/support/topic/site-kit-cannot-access-the-wordpress-rest-api-please-ensure-it-is-enabled | open | No SH info |  GoDaddy - unreproducible in support, no problem in creating an Analytics account with testing account
- https://wordpress.org/support/topic/help-modsecurit

[2021-06-09 19:51] ivankruchkoff commented on #3360
@felixarntz makes sense, I've gone ahead and updated to add changes to the rest route, the `add()` function and added two new ones `is_dismissed()` and `get_dismissed_items()`, they prune the option of expired temporary dismissals to avoid bloating the option,  along with defining a const for permanently dismissed items to avoid magic numbers.

Back over to you for review, I also added a note for

[2021-06-09 20:53] jamesozzie opened #3547 "Allow users to define their own GOOGLESITEKIT_ENCRYPTION_SALT constants"
## Feature Description

As per a [recently opened support topic](https://wordpress.org/support/topic/sitekit-logged-out-every-time-salt-keys-are-updated/) a user has their site setup so that their WP Salt Keys are update daily. This results in them being logged out each time, with Site Kit depending on these constants for security purposes.

Provide either document or in product assistance for use

[2021-06-09 21:57] felixarntz commented on #3547
Closing since it's not related to plugin-side work.

[2021-06-09 21:57] #3547 closed

[2021-06-09 23:33] felixarntz commented on #3517
@aaemnnosttv The scope here increased unfortunately. This was supposed to be a very simple issue, but it also comes with the updated version of the AdSense API code, which now uses v2 of the AdSense API. This is not rocket science, but requires a bunch of code changes (see IB). We need to update to the new version of the API soon anyway though, and since it is now blocking Idea Hub, this needs to

[2021-06-10 02:24] felixarntz commented on #3517
@eclarke1 @fhollis @aaemnnosttv I've made quite some progress with the PR - I almost wanna say it looks complete, but probably a few things will still come up from testing. I've moved this to Sprint 51, since it blocks various other Idea Hub issues, and I'm going to prioritize completing it. Let's just make sure to not merge it until the upcoming release has been branched off, since this one shoul

[2021-06-10 07:41] aaemnnosttv commented on #3373
@felixarntz @adamsilverstein this is due to the way the response comes back from the server which is returning the error as encoded JSON rather than as the error itself.

Here is a quota error from creating a profile as seen by our API client (some headers omitted for brevity)
[code]

And here is the quota error when creating an account ticket

[code]

As you can see the top-level `error` is anoth

[2021-06-10 08:44] aaemnnosttv commented on #3304
@felixarntz thinking about this a little more, I think both preview block and progress bar are overkill for this case and are not ideal for preventing a layout shift since the content filling the layout here is entirely text with the exception of the checkbox. It's the checked state of the checkbox which is the only thing this is waiting on, so it feels like overcompensating a bit by waiting on th

[2021-06-10 08:46] eclarke1 opened #3549 "Continue to pre-select matching second property when changing the primary property"
## Bug Description

This applies to only the case where the GA account has both types of properties, UA and GA4.

In the particular case below, the site I'm operating on already has both a matching UA property and a matching GA4 property that were created earlier.

1. When I go to the setup, the UA property for my site is correctly pre-selected in the primary dropdown (which has all properties). T

[2021-06-10 08:46] asvinb commented on #3509
Thanks for catching that @tofumatt . Actually when I read your comment, am like it's weird that we don't have any callbacks when the animation starts or ends. I checked the docs and voila, we do have the `onExit` callback, which is called when the animation ends :) I've updated the IB to reflect that change.
Also the `Slide` component does have the `unmountOnExit` prop which like the name says, un

[2021-06-10 08:49] johnPhillips commented on #3269
QA ✅

Making the XHR request from the console as described in the QAB worked:

![Screenshot 2021-06-10 at 09 43 49](https://user-images.githubusercontent.com/2470911/121494557-c32fc380-c9d0-11eb-9a45-0e60369a7aed.png)

Querying WP CLI produced the following metadata:
[code]

In addition, the endpoint now returns the draft post object to the `reducerCallback` rather than the array mentioned in http

[2021-06-10 08:55] eclarke1 opened #3550 "Setting up a new GA4 property, then granting scopes, lands back in wrong state"
## Bug Description

After having already connected Site Kit with UA and GA4 properties assigned, when I go to the Analytics settings panel and change the GA4 property (blue notice dropdown) to "Set up a new property", it naturally prompts me to grant edit scopes for Analytics, since I haven't done that yet.

Once I have granted these extra scopes and land back in the Analytics settings panel, it n

[2021-06-10 09:38] ivankruchkoff commented on #3532
Searching a bit more in-depth for error messages, the summary here is that these are all related to server configuration setup. In all cases the best course of action is to raise a ticket with the hosting provider as their environment has some security settings that prevent working functionality of the WordPress sites.

One potential fix that is reported in several places is disabling mod_security

[2021-06-10 10:50] aaemnnosttv opened #3552 "Unstable VRT for buttons"
## Bug Description

The visual regression test for buttons has become somewhat unstable recently and fails intermittently. Specifically, the failure is related to the button in a hovered state.

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/121512176-1f570f80-c9f2-11eb-8165-5ba693785d6b.png)

_Backstop reference image diff with test_

---------------

_Do not alter or

[2021-06-10 11:54] aaemnnosttv commented on #3517
IB ✅

[2021-06-10 13:14] wpdarren commented on #3029
@aaemnnosttv I've tested this and the issue is no longer an issue, I think this was possibly fixed as part of the accessibility improvements ticket for user input.  This ticket can be closed. 👍

[2021-06-10 13:24] #3029 closed

[2021-06-10 13:35] wpdarren commented on #3381
### QA Update: Pass ✅

- Went through all of the Storybook stories on my local site and no errors occurred.

![image](https://user-images.githubusercontent.com/73545194/121534391-161d7100-c9f9-11eb-9dcf-adfc051cdd54.png)

[2021-06-10 14:56] wpdarren commented on #3218
### QA Update: Pass ✅

- The AdSense tag snippet has been placed on the page when the AMP plugin is activated and legacy reader theme

![image](https://user-images.githubusercontent.com/73545194/121547855-6d750e80-ca04-11eb-8d35-ffdc3177da59.png)

[2021-06-10 15:18] wpdarren commented on #3253
@aaemnnosttv when I go to [Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-setup-ua-and-ga4--create-account-scope-granted ) I receive a `no preview` message.

Could you confirm what story I should be comparing to the Figma designs?  I think it might be [this one](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-analytics-se

[2021-06-10 16:04] wpdarren commented on #3251
### QA Update:  Pass ✅

- Went through the setup screens on Storyboard to Figma designs. There are some slight differences but these were brought up in the bug bash.
- The GA4Notice looks as per the designs.
- The notices look okay. There are some alignment and spacing issues but this was brought up in the bug bash.

![image](https://user-images.githubusercontent.com/73545194/121555328-d2336780-ca

[2021-06-10 16:07] felixarntz commented on #3373
@bethanylang Do you want to still keep this open for tracking purposes? I'll ping you on our Asana task; we can technically close this one since it's not a plugin issue

[2021-06-10 16:31] jamesozzie commented on #3473
Closing with as this is ModSecurity related, and not specific to one hosting provider. More details contained in a separate issue - #3532

[2021-06-10 16:31] #3473 closed

[2021-06-10 16:40] felixarntz commented on #1148
@danielgent Regarding your question in https://github.com/google/site-kit-wp/issues/1148#issuecomment-833425118, can we _for this particular situation_ (that there are no module boxes in the notification) display the creature on the right a bit smaller, so that it doesn't unnecessarily increase the height? If that works, let's do it.

[2021-06-10 16:45] felixarntz commented on #3070
Per discussion with @marrrmarrr, we're going to solve this as follows:
* Make two API requests to Analytics, one for the top 10 URLs (only `ga:pagePath`) and another one for the top 50 URL + title combinations (`ga:pagePath` and `ga:pageTitle`, like now).
* The `ga:pagePath`-only request is the primary one which we'll use to populate the table. However, we'll amend the API response, combining it w

[2021-06-10 16:47] felixarntz commented on #631
Per discussion with @marrrmarrr, we're going to display the Total Users line chart (including previous period), above the top pages and below the initial numbers in the WP dashboard widget. The graph should have a heading "Unique visitors over the last 28 days".

[2021-06-10 17:27] aaemnnosttv commented on #3514
@felixarntz given that Idea Hub posts will be "empty" initially, I think we should filter this unconditionally to always allow `wp_insert_post_empty_content` for any Idea Hub post (regardless of status). Otherwise, I think this will come up again in various situations, (e.g. adding a catagory/tag, etc) and seems like a restriction that can safely be turned off for these posts.

I think essentially

[2021-06-10 17:42] felixarntz commented on #3514
@aaemnnosttv Good point - I've updated the ACs accordingly.

@johnPhillips Please review the above, the code snippet in https://github.com/google/site-kit-wp/issues/3514#issuecomment-858813794 is pretty much what we'll need as a foundation.

[2021-06-10 17:44] tofumatt commented on #3529
IB ✅

[2021-06-10 19:23] tofumatt commented on #3509
IB ✅

[2021-06-10 22:33] felixarntz commented on #3517
Quick update here @aaemnnosttv: The PR is in principle ready for review, but there are a few details left to clarify internally with the AdSense API team, specifically whether the alert type and error reason values that we've been relying on still exist like that in the new API.

[2021-06-10 23:12] felixarntz opened #3556 "Implement Idea Hub datastore infrastructure for saving and dismissing an idea"
After #3518 and the REST data points being connected to the Idea Hub API, the datastore functionality for saving and dismissing an idea need to be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/idea-hub` JS store should receive the following actions:
    * `updateIdeaState( i

[2021-06-11 00:04] tofumatt commented on #990
IB ✅

[2021-06-11 00:11] tofumatt commented on #3528
Two things to note for the IB here:

1. The IB says "If tracking is enabled, and the question ordinal is 1, the display the text as per the AC…" but I think that was a typo, it should display the text if tracking is _not_ already enabled. If the user enabled tracking they're already fine sending data and have agreed to the terms. So we want to display this on the first question, when `isTrackingEn

[2021-06-11 00:13] tofumatt commented on #3516
IB ✅

[2021-06-11 08:04] aaemnnosttv commented on #3327
@tofumatt this issue is about changing `mobile` to `Mobile` (title case), not all caps `MOBILE` – is that what you thought?

[2021-06-11 08:08] aaemnnosttv commented on #3253
@wpdarren looks like the URL to the story may have changed since it was added. The story in question is here:
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-setup--create-account-ga4

Also worth checking other "Create Account *" stories for Analytics as well 👍

[2021-06-11 08:13] asvinb commented on #3528
Good catch @tofumatt . IB updated. Can you review?

Thanks!

[2021-06-11 08:18] aaemnnosttv commented on #1147
@johnPhillips IB looks good to me overall but it's missing an estimate and the sections for tests are missing as well 😄  These should always be filled in even if none are needed, although maybe a test would be good to add for this. What do you think?

[2021-06-11 08:20] aaemnnosttv commented on #3174
Much better @asvinb – thank you! 😄

IB ✅

[2021-06-11 08:27] johnPhillips commented on #1147
Sorry @aaemnnosttv, I thought I'd done that 🤦‍♂️.
Estimate added (7 felt slightly too small because there are some open ended elements here), and guidance on tests updated.

[2021-06-11 08:28] aaemnnosttv commented on #3182
IB ✅

[2021-06-11 08:32] aaemnnosttv commented on #1147
Great, thanks @johnPhillips 👍

One question:

Is this necessary? We should only need to check `getWidgetState` since these will also depend on the active/connected state.

[2021-06-11 08:48] johnPhillips opened #3559 "React console error appearing on module pages"
## Bug Description

It looks like this commit exposed an issue: https://github.com/google/site-kit-wp/commit/9baf1d0ba8ed7c4007a3bf29f355661192842d9e

`Header` now renders on every cycle (which is important), but this means that the `ModuleIcon` it contains is `undefined` while the `getModuleIcon` selector is resolving.

https://github.com/google/site-kit-wp/blob/9fcd85ae5db9313317a6bae808c42df40f

[2021-06-11 09:14] johnPhillips commented on #3559
@aaemnnosttv Can I just check my understanding of the reasoning behind this AC:

Was that to do with https://github.com/google/site-kit-wp/issues/3493?
What scenario should I be covering here?
Thanks.

[2021-06-11 09:23] LeonNabuurs opened #3560 "Conflict with Visualizer plugin"
## Bug Description

I created a page on my website containing 2 charts made via Visualizer plugin. In Divi Visual Builder the charts show up normally, but when I visit the page in incognito mode the charts are not shown. The console indicates there is an error 'google is not defined'

## Steps to reproduce

1.Since this is a live website it is not possible to leave this page open for public now

#

[2021-06-11 09:35] jamesozzie commented on #3560
Thanks for reaching out. While this does seem like a potential bug we'd be be happy to check this and communicate through the WordPress support forums before revisiting this GitHub issue, where we perform initial support and troubleshooting before escalating here.

If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to ass

[2021-06-11 09:54] johnPhillips commented on #1147
Good point @aaemnnosttv, thank you - I have edited the IB to take this into account.

[2021-06-11 09:59] aaemnnosttv commented on #3559
@johnPhillips it's more/less the same as unresolved but basically `<ModuleHeader moduleSlug="non-existent" />`.

[2021-06-11 10:00] aaemnnosttv commented on #1147
IB ✅

[2021-06-11 10:00] jamesozzie commented on #1627
Plus one for modifying the Sit Kit placed Analytics snippet to include the experiment name. Based on [one user experience](https://wordpress.org/support/topic/amp-with-optimize/#post-14543043) I tested an AMP experiment and it's not a straightforward as it could be.

`What I'm not sure about is how to do tracking for multiple experiments in AMP and whether that is even supported (see https://devel

[2021-06-11 10:37] eugene-manuilov commented on #3217
@ivankruchkoff see my comment here: https://github.com/google/site-kit-wp/pull/3495#discussion_r649874498

[2021-06-11 12:41] tofumatt commented on #3528
Lovely, thanks for using `hasFinishedResolution` as well, much nicer. 🙂

For whoever implements this: it might be nice to add a storybook component for this option, but aside from that:

 IB ✅

[2021-06-11 13:02] wpdarren commented on #3327
### QA Update: Pass ✅

- Confirmed that on the `Device` tab of the `All Traffic` widget, the legends are in title case.

![image](https://user-images.githubusercontent.com/73545194/121688951-f26f2f00-cabb-11eb-8523-986dfe59ee5a.png)

- Tested this change on primary browsers and mobiles using Browserstack.

[2021-06-11 13:18] wpdarren commented on #3318
### QA Update: Pass ✅

- Verified that when editing the Search Console settings, on load the save button is inactive.

![image](https://user-images.githubusercontent.com/73545194/121692323-e6856c00-cabf-11eb-9202-005dafa95325.png)

[2021-06-11 13:35] bethanylang commented on #3373
@felixarntz Yep, sounds good. Closing.

[2021-06-11 13:51] wpdarren commented on #3253
### QA Update:  ⚠️

@aaemnnosttv I have two observations worth noting:

1) On Storyboard we have a sentence `We’ve pre-filled the required information for your new account.` which does not appear on the Figma designs. In my opinion, this is more helpful than not including it but wanted to highlight the difference.

2) On the `Learn More` link on Storyboard we have the external link icon (see [Scre

[2021-06-11 14:50] aaemnnosttv commented on #3278
This seems to be related to our use of `react-intersection-observer` which was added in #3116.

I found a similar issue on the repo which also indicates that it isn't compatible out-of-the-box with Safari 11:
https://github.com/thebuilder/react-intersection-observer/issues/469#issuecomment-834125871

There is a section in the readme about how to add this:
https://github.com/thebuilder/react-inters

[2021-06-11 14:55] wpdarren commented on #3083
### QA Update: Fail ❌

@johnPhillips  I have a few initial observations while testing this and I'm unsure if its linked with this or not.

_Note: I used the Tester plugin to activate `widgets.moduleScreens` to ensure that I was only seeing the widgets not legacy._

1) On the Adsense module page, there's a larger gap at the **bottom** of the big numbers.

2) On the same module, the spacing on the l

[2021-06-11 15:55] ivankruchkoff commented on #3532
After some debug and triage, this link will break:
https://bluehost.cmsdevrel.com/wp-admin/index.php?b=https%3A%2F%2F
however this one won't
https://bluehost.cmsdevrel.com/wp-admin/index.php?b=gttps%3A%2F%2F

I'm writing up an IB for a workaround we can do, but would be great to test this in as many places as possible, there might be several mod_security rules on different hosting providers that w

[2021-06-11 15:57] Pratheep-lab commented on #3387
@felixarntz  SGTM, as long as there is enough space to display the copy "Creating draft" and then "Draft created" even on smaller screens.

"Creating draft" copy should be shown immediately on click and then after 300 ms, "Draft created" copy should be shown.

[2021-06-11 15:57] eugene-manuilov commented on #3537
Hm.... I can reproduce it neither on my local nor on a jurassic site... @jamesozzie can you still reproduce it? Can you give me access to your site if it still doesn't work on your end?

[2021-06-11 16:18] aaemnnosttv commented on #3532
We've identified the cause to be related to Mod Security rules which block requests that have query args that begin with a URL, which is why this is flagged when creating a new account because Site Kit needs to request an additional oAuth scope to do this. In this case, the scope which is being passed in the query parameter is `https://www.googleapis.com/auth/analytics.provision` which is of cours

[2021-06-11 16:18] wpdarren opened #3564 "Y-Axis includes negative range on some charts with non-negative values"
## Bug Description

Spotted this while testing #3083

On my live test site, within Google Analytics module page, in the y-axis data there’s a minus figure, which causes issues with the output of the graph. It appears for the different datasets, i.e. Users, Sessions, Bounce Rate and Session Duration.  It would appear that the issue arises when you have days with zero data or, Site Kit is disabled f

[2021-06-11 16:56] #3373 closed

[2021-06-11 17:31] eugene-manuilov commented on #3535
@eclarke1 @aaemnnosttv a fix for #3538 should fix this issue as well.

[2021-06-11 18:04] aaemnnosttv commented on #3559
@johnPhillips this is not quite correct as modules are not currently required to provide an `Icon` so we can't assume that the selector will return one (even though in our case for now it should). [See here for an example](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global-reporttable--basic-example-%C2%A0all-modules).

I think we can reduce what needs to be done into the f

[2021-06-11 18:08] aaemnnosttv commented on #3538
IB ✅

[2021-06-11 19:59] ivankruchkoff commented on #3532
So a bit more detail to explain the AC, the `redirect` param is allowed (probably due to WordPress), so I can do
/wp-admin/index.php?additional_scopes=https%3A%2F%2F

but `additional_scopes` is not, so I can't do
/wp-admin/index.php?additional_scopes=https%3A%2F%2F
but can do
/wp-admin/index.php?additional_scopes=gttps%3A%2F%2F

[2021-06-11 20:58] adamsilverstein commented on #3255
I spent some more time trying to debug this issue and I am still unable to reproduce. I've tried using the last three versions of Safari available in browserstack, with both new and established live sites. I suspect the issue may be data related.

Both of the sites in your report show the `LegacySearchConsoleDashboardWidgetTopLevel` component in the stack trace, plus one user reported "Occurs with

[2021-06-11 21:05] adamsilverstein commented on #3255
One more note: I reviewed our use of "[NumberFormat](https://github.com/google/site-kit-wp/search?q=NumberFormat&type=code)" and noticed it is used primarily for number localization. Can we check with users to see if they are using Site Kit in another language (check their WordPress locale settings), or their site is in a region where numbers may be formatted differently?

[2021-06-12 02:13] felixarntz commented on #3532
IB ✅

[2021-06-13 09:35] mfonabel opened #3566 "Adding Widgets to display popular posts in front-end"
## Feature Description

It will be cool if this has a widget option to display popular posts on the front end.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-06-14 07:01] abdullah1908 commented on #3255
@adamsilverstein one of the impacted user has [Site Health information](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNiFYF05jb7BPT-IGWT3svw8Ymh8b_1fFIPqRn3LZU2jaCrxmO3njSJiLu6y6KhtcXk) & using standard US English language.

[2021-06-14 08:43] aaemnnosttv commented on #3536
IB ✅

[2021-06-14 08:58] johnPhillips commented on #3559
I understand now - thanks @aaemnnosttv
IB and PR updated 👍

[2021-06-14 09:32] Hazlitte commented on #3357
**QA Eng ✅**
I hacked the widget as described in the brief and observed the UI and store behaviour as briefed.

[2021-06-14 11:11] eugene-manuilov commented on #3550
This will be fixed in #3565

[2021-06-14 12:20] gerardreches commented on #2220
Hi @bethanylang , is the timeline still on track?

[2021-06-14 12:34] ivankruchkoff commented on #3380
QA ❌

Following story isn't loading:
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys-currentsurvey--survey-answered-positive-story

[2021-06-14 12:38] aaemnnosttv commented on #3508
@ivankruchkoff for now I think we can simply rely on `getCurrentSurvey` since this is essentially "the current survey to display".

The current IB calls for making this change in `assets/js/components/legacy-notifications/notification.js` however we don't need to change individual notifications. Instead, we want to suppress all core/site notifications, which are rendered by `assets/js/components/l

[2021-06-14 13:53] wpdarren commented on #3529
### QA Update: Pass ✅

- The shadow matches the AC: `box-shadow: rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px, rgb(0 0 0 / 20%) 0px 8px 10px -5px`
- The user feedback survey box should furthermore use a border-radius: 8px.
- Checked feedback survey box on all primary browsers, i.e. Safari, Firefox etc.
- Checked feedback survey box on Android and iOS devices for smaller sc

[2021-06-14 14:17] wpdarren commented on #2203
### QA Update: Pass ✅

**Verified:**

- For Analytics: Inspected the markup on the front end and the following line is present: <link rel='dns-prefetch' href='//www.googletagmanager.com' /> - [Screenshot](https://user-images.githubusercontent.com/73545194/121906885-74ad5c80-cd23-11eb-9b6f-94a9f87a9978.png)
- For Tag Manager: Inspected the markup on the front end and the following line is present:

[2021-06-14 14:45] aaemnnosttv commented on #3559
IB ✅

[2021-06-14 15:22] felixarntz commented on #3532
Per discussion earlier, this will go into a 1.34.1 hotfix release.

[2021-06-14 15:26] aaemnnosttv commented on #3253
@wpdarren I believe these are expected.

This should probably be added to the design and may have been an oversight. I agree that it is more useful and should be kept.

I believe this was something we decided more recently, that external links that open in a new window should (almost) always indicate this with the added icon.

@felixarntz can you confirm?

[2021-06-14 15:55] bethanylang commented on #2220
@gerardreches Shifted slightly to first week of July.   :)

That said, we will be rolling this out to users incrementally over the course of a few releases, so depending on which rollout group you are in, you may not receive it until a bit later.

[2021-06-14 15:56] johnPhillips commented on #3556
@felixarntz I was just looking through the Idea Hub design document to remind myself how it's all supposed to work and I noticed mention was made of a `restoreIdea` action that would 'un-dismiss' an idea.

Is that still a requirement, and if so, should it be part of this issue?

[2021-06-14 16:08] eugene-manuilov opened #3568 "Confusing error during permission setup flow on the oauth2 callback page"
## Bug Description

The sitekit.withgoogle.com shows a confusing error if a granting permissions process is idle for ~10 mins or more. Looks like it happens because something becomes expired. In this case, we need either redirect a user back to the SK or start over.

## Steps to reproduce

1. Do something that requires granting additional scopes.
2. Click on the proceed button in the permissions p

[2021-06-14 17:04] felixarntz commented on #3556
@johnPhillips Good question - the `restoreIdea` was a previous name idea for what is now `unsaveIdea`. So you can ignore that part, it's included in the ACs as `unsaveIdea`.

[2021-06-14 17:11] felixarntz commented on #3253
@aaemnnosttv @wpdarren Yes, both of these are correct despite the Figma files being different. The existing copy makes sense to be kept, and external links should (almost) always have that icon.

Assigning back to you @wpdarren in case there was anything else, or feel free to move to Approval if good to go otherwise.

[2021-06-14 17:22] felixarntz commented on #3508
@aaemnnosttv

Good point, that sounds good to me. We should not remove a notification once it is already displayed, just because a survey started showing up. Let's instead defer the entire call to get the notifications by the 5 seconds you're suggesting, but only if there is no survey by then.

Regarding refactoring `DashboardCoreSiteAlerts`, refactoring this to use the datastore sounds good to me

[2021-06-14 17:29] eugene-manuilov opened #3569 "Module settings view shows errors even after successfully saving settings"
## Bug Description

When I successfully submitted settings, the settings preview screen keeps showing errors that had been shown during editing settings. We should reset errors for a module when settings have been saved or changes have been canceled.

## Steps to reproduce

1. Go to the Google Analytics console and create a new account.
1. Activate the Analytics module and connect the newly create

[2021-06-14 17:36] felixarntz commented on #3568
@eugene-manuilov Since this is a service-side problem, I've opened a task internally. In the future please open such issues there as tasks. Closing this one.

[2021-06-14 17:36] #3568 closed

[2021-06-14 17:54] aaemnnosttv commented on #3514
@felixarntz – based on your last comment it isn't clear if you wanted to add the post meta specifically for identifying Idea Hub posts as I suggested. You didn't add it to the AC's so would you like to handle this in a separate issue?

[2021-06-14 18:28] felixarntz commented on #3514
@aaemnnosttv Oh I missed that suggestion - I don't think that's necessary, let's rely on the three fields being present to know that it is an Idea Hub idea post.

[2021-06-14 18:42] eugene-manuilov commented on #3539
@felixarntz @aaemnnosttv after digging into this issue it turned out that this issue caused by insufficient permissions scopes error that is thrown when we call the `create` method: https://github.com/google/site-kit-wp/blob/af36f9384d3a56fedb3daddc74bbdbbbda1ad0e6/includes/Modules/Analytics_4.php#L224

Here is the error body:
[code]

Do you know how we can overcome it? :thinking:

[2021-06-14 18:57] felixarntz commented on #3539
@eugene-manuilov Oh I assume that is because creating an account only requires the `https://www.googleapis.com/auth/analytics.provision` scope, but creating the property requires the `https://www.googleapis.com/auth/analytics.edit` scope.

I suggest we therefore include _both_ scopes as new requirement for the `POST:create-account-ticket` data point. While strictly the second scope is only needed

[2021-06-14 19:06] LuckynaSan opened #3572 "Excluding all logged in users from Analytics results in invalid JSON in Web Stories preview debug mode"
## Bug Description

1.) When you enable the option to exclude all logged in users from Analytics in Site Kit by Google, Story [passes AMP validator](https://search.google.com/test/amp?id=u72qIF-C6TtMMeWXq6miOg), but Story's debug mode in the story preview is outputting the below warning
<img width="1228" alt="Screen Shot 2021-06-11 at 12 06 36 PM" src="https://user-images.githubusercontent.com/663

[2021-06-14 20:32] aaemnnosttv commented on #3514
@felixarntz if we were to want or need to query all Idea Hub posts in the future, which field would we rely on to get them all?

@johnPhillips please update the IB to remove the part about the added post meta. For now the new method can probably just use `Idea_Hub::get_post_idea` internally.

[2021-06-14 20:38] aaemnnosttv commented on #3539
@eugene-manuilov looks like we can do that pretty easily by conditionally adding that scope here:
https://github.com/google/site-kit-wp/blob/e1303f68e3645dbb05f262b72105fdaa4b09b47a/assets/js/modules/analytics/components/common/AccountCreate/index.js#L107

[2021-06-15 07:28] aaemnnosttv commented on #3380
Back to you for another pass @ivankruchkoff.

[2021-06-15 07:43] aaemnnosttv commented on #3559
@johnPhillips would you please add a QAB?

[2021-06-15 08:15] aaemnnosttv commented on #3083
Thanks @wpdarren!

@johnPhillips from what I see, it looks like this is related to the AdSense Overview component which does not use `Grid` components for its layout

https://github.com/google/site-kit-wp/blob/a2772f62914945ff261e6332a499a60cf2e520f7/assets/js/modules/adsense/components/module/ModuleOverviewWidget/Overview.js#L41-L42

Compared to the same components for Analytics

https://github.c

[2021-06-15 08:27] aaemnnosttv opened #3573 "Refactor module dashboards with common overview widget component"
## Feature Description

In #3083, we identified a number of inconsistencies between the individual module dashboard views which is due to the large amount of duplication present in each of the module overview widget components.

While those inconsistencies have been fixed for now, the duplication is still there which leaves these areas vulnerable to inconsistency in the future. Any change to one o

[2021-06-15 08:58] aaemnnosttv commented on #3552
@Hazlitte we should not change the threshold for error to fix this, since that is essentially ignoring the problem and would reduce the effectiveness of all VRT tests. The same VRT test passes most of the time, so this issue is about figuring out why that happens and fixing this one case.

[2021-06-15 08:59] aaemnnosttv commented on #3526
Thanks @danielgent – I missed this and we have another issue for it which is farther along so I'll close this one in favor of #3552 .

[2021-06-15 08:59] #3526 closed

[2021-06-15 09:06] aaemnnosttv commented on #3569
This happens on the edit view as well. The duplicate error message is odd too.

[2021-06-15 09:38] aaemnnosttv commented on #2771
@bethanylang @jamesozzie @adamsilverstein any update on this?

[2021-06-15 09:46] jamesozzie commented on #3388
Thanks for reaching out. At present Site Kit is intended to be used on a single domain, in particular as this domain is used for reporting purposes within the various Google services. For this reason any changes to the URL will result in the notice you're encountering.

I can also discuss your feature request with the team if you'd like to explain more on your particular setup, including the forma

[2021-06-15 09:49] jamesozzie commented on #2771
@aaemnnosttv No response from the impacted users, and unable to recreate in support. With no recent reports maybe we should close this one @bethanylang

[2021-06-15 10:24] johnPhillips commented on #3083
Thanks both.

[...]
There's another minor inconsistency that I noticed as well which should also be resolved by using grid around the DataBlocks which is the width of those metrics are slightly different on AdSense than on Analytics and Search Console overviews.

Yes, it looks like AdSense was doing its own thing here while the other two use `Grid` etc. I've added this and it seems to have fixed b

[2021-06-15 10:26] eugene-manuilov commented on #3569
The duplicate error message caused by two failing requests to different endpoints.

[2021-06-15 10:28] jamesozzie opened #3576 "Visualiser plugin - charts won't load on Chrome"
## Bug Description

As reported in the [WP Support forums](https://wordpress.org/support/topic/conflict-with-visualizer-plugin/#post-14553961) there may be a conflict with the [Visualizer plugin](https://wordpress.org/plugins/visualizer/), which features an option to use the Google Charts library.

Console error - support testing
[code]

_Console error that appears (Site Kit deactivated)_ - Suppor

[2021-06-15 10:35] eugene-manuilov commented on #3521
@ivankruchkoff could you please add QAB?

[2021-06-15 10:38] jamesozzie commented on #3560
Testing done with 8 of the 12 chart types on a clean WP install. Unable to reproduce the same issue so far.

Console error - support testing
[code]

_Console error that appears (Site Kit deactivated)_ - Support testing

![image](https://user-images.githubusercontent.com/41326532/122036195-33708780-cdcb-11eb-94b1-4e848fc38e91.png)

_Google Charts Library request (Site Kit deactivated)_ - Support te

[2021-06-15 10:39] jamesozzie commented on #3576
Closing as duplicate (#3560). The impacted user had initially opened a GitHub issue before being directed to the WP support forms.

[2021-06-15 10:39] #3576 closed

[2021-06-15 11:49] eclarke1 commented on #3537
@jamesozzie just a polite reminder here to please let us know if you can reproduce this, or please provide @eugene-manuilov access to the site?

[2021-06-15 12:03] Hazlitte commented on #3217
** QA Eng ✅ **
As per the QA brief I changed the `GOOGLESITEKIT_PROXY_URL` constant using the Google Staging Proxy plugin and the results were as expected.

[2021-06-15 12:09] ivankruchkoff commented on #3508
My concern with the ```waiting  five seconds before showing notifications``` is that the page can load, I can go about my sitekiting business, scroll down the page and then find that for some reason the content scrolls away from me because a notification was slid into the dom.

[2021-06-15 12:24] eugene-manuilov commented on #3539
Thanks, @aaemnnosttv. It helps!

[2021-06-15 13:11] jamesozzie commented on #3537
@eclarke1 @eugene-manuilov  I'm unable to recreate this on the same site where this occurred previously.

While trying to reproduce on the same site I'm not always able to proceed, it depends on the account selected. This seems more in line with #3535 although if you can take a look [at this example](https://recordit.co/h6GUFmKPi9) you'll see a `SetupFormGA4Transitional` notice appears. I'll conti

[2021-06-15 13:12] Hazlitte commented on #3559
** QA Eng ✅ **
Followed the QA brief and results were as expected.

[2021-06-15 13:25] johnPhillips commented on #3556
@felixarntz This is my first IB dealing with our data store architecture in real depth and I'm still learning the ropes a bit. I was just trying to follow other examples in the code base.
I'll remove that from the IB if it isn't needed 👍

[2021-06-15 13:33] wpdarren commented on #3253
### QA Update: Pass ✅

- Confirmed that the story in Storybook matches the design.

[2021-06-15 13:52] ivankruchkoff commented on #3380
QA ✅
Confirmed the events are sending per AC following removing the fetchMock calls.

[2021-06-15 13:58] ivankruchkoff commented on #3521
Updated. Though somewhat tricky to test removing something.

Also, having gone through the whole pipeline of CR I see I missed a step in AC
`For now, the Settings class itself and its inclusion in the Idea Hub module should not be removed though, even with it being empty. It is still being discussed whether another setting is necessary instead.`

I think given that it's more work to add it back in

[2021-06-15 14:02] Hazlitte commented on #2942
**. QA Eng ✅ **
`AdminBarApp` stories are rendering in storybook as per the AC.

[2021-06-15 14:05] eugene-manuilov commented on #3521
:man_facepalming: @ivankruchkoff can you create a PR to add it back then?

[2021-06-15 14:55] aaemnnosttv commented on #3564
@wpdarren thanks fo raising this. After taking a closer look, this is related to the change in line rendering to use `curveType: 'function'`. By removing this, the negative y-axis goes away.

Here's the same chart with and without the curved line

![sitekit 10uplabs com_wp-admin_admin php_page=googlesitekit-module-adsense (3)](https://user-images.githubusercontent.com/1621608/122074828-38046280-ce

[2021-06-15 15:14] bethanylang commented on #3000
As discussed in today's meeting, add notice in both Settings and during the setup flow, similar to the GA4 notice (https://imgur.com/2YdSKIC), and link the Learn More link to Optimize documentation.

[2021-06-15 15:20] wpdarren commented on #3532
### QA Update:  Pass ✅

- With the hotfix zip file, I set up a new site (jurassic.ninja) and could successfully create a new analytics account.
- With the hotfix zip flle, I set up a new site (bluehost) and could successfully create a new analytics account.
- No errors occurred when creating a new analytics account. I was sent to the oAuth screen.

[2021-06-15 16:07] Hazlitte commented on #3552
@aaemnnosttv I have spent some more time investigating this and I think that the problem is related to `hoverSelector` not working for the buttons stories using Storybook 6.  I have tried passing the necessary parameters in a number of different ways.  I think @asvinb said that he has been solving implementation problems with storybook 6, perhaps he knows a way to get this to work.

[2021-06-15 16:09] wpdarren commented on #3538
### QA Update: Pass ✅

- Verified that a new web data stream is created for the current website.

![image](https://user-images.githubusercontent.com/73545194/122087164-54050580-cdfc-11eb-8107-7fdf0c7ca35e.png)

[2021-06-15 16:18] wpdarren commented on #3535
### QA Update: Fail ❌

@eugene-manuilov when `ga4setup` is enabled on the tester plugin, I am unable to save any Analytics settings.

Here's a screencast:

https://user-images.githubusercontent.com/73545194/122088296-7fd4bb00-cdfd-11eb-9d5f-868114d8de43.mp4

[2021-06-15 16:47] bethanylang opened #3581 "Update language on initial setup screen"
## Bug Description

The language on the initial Site Kit setup screen reads:

"Get insights about how people find and use your site, how to improve and monetize your content, directly in your WordPress dashboard"

This isn't a complete sentence. Can we change it to something like:

"Get insights on how people find your site, as well as how to improve and monetize your site's content, directly in y

[2021-06-15 17:06] bethanylang commented on #3537
@eclarke1 @eugene-manuilov I was able to reproduce this on two separate sites today: https://hostgator2.cmsdevrel.com/ and https://cmsdevrel.wpcomstaging.com/.

In both cases, I was able to successfully set up Search Console as the first step of SK setup. When I was returned to the Dashboard, I clicked Connect service for Analytics, approved the connection to my Google account, and then got the ne

[2021-06-15 17:12] aaemnnosttv commented on #3508
@ivankruchkoff that's a good point about the layout shift as that wouldn't be a great user experience. I discussed this with @felixarntz earlier and we decided that this can be handled separately so it need not block this issue 👍

I'll create an issue to handle this now.

[2021-06-15 17:50] felixarntz opened #3582 "Improve link to edit Analytics configuration in GA frontend"
Branched off from #3545: The link to edit the Analytics view in the GA frontend needs to be revisited, for multiple reasons:

* It is now displayed under all Analytics data (including potentially the GA4 property data) although it only applies to the UA property and its view, which is confusing.
* There is no link to edit the same configuration for the selected GA4 property.
* The existing link is

[2021-06-15 18:04] felixarntz commented on #3360
@ivankruchkoff IB mostly LGTM, just a few points (mostly about the expiration):

We shouldn't need to support this. Let's use a single expected format (seconds from now), to be specified here.

Related to the above, let's consistently use "seconds from now" throughout. Maybe it would be more appropriate to name the argument `expires_in` instead of `expiration` - I'll leave that up to you, but we d

[2021-06-15 18:20] felixarntz commented on #3272
@eugene-manuilov @aaemnnosttv Enhancing `Module_With_Assets` to support different contexts makes sense to me. Let's do the following:
* Enhance `Google\Site_Kit\Core\Assets\Asset` to have a new `$load_context` field (string), with "admin-sitekit" being the default (indicates that the asset should be loaded on Site Kit admin screens).
* Enhance `Google\Site_Kit\Core\Modules\Module_With_Assets` (and

[2021-06-15 18:24] felixarntz commented on #3556
@johnPhillips Sure, no worries - great to have you dive into this! IB ✅

[2021-06-15 18:28] felixarntz commented on #3564
@wpdarren Per @aaemnnosttv's comment, it looks like we cannot fix this problem since it is a result of the implementation in the Google Charts library we're using, which doesn't provide control for allowing only non-negative values to be displayed.

There obviously aren't any actual negative values here, but due to the way that the curving function is defined, unfortunately the line goes below 0,

[2021-06-15 18:41] felixarntz commented on #3359
@asvinb A few points of feedback on the IB:

This is subject to change, depending on the decision and IB for #3272. Based on the recent comments there, I assume the approach will be handled more centrally, so we may need to wait for #3272 before finalizing that part in the IB here. In addition, something worth specifying here is what other scripts this will depend on. For example, we need to use t

[2021-06-15 18:45] #3532 closed

[2021-06-15 18:50] bethanylang opened #3584 "Formatting and clarity issues on GA4 property creation message"
## Bug Description

When Analytics with a UA property is already connected and the user goes to Settings > Connected Services > Analytics and clicks Edit, the following message displays:

![image](https://user-images.githubusercontent.com/12189958/122106159-93752700-cde7-11eb-80fb-a935163947dc.png)

I've gone through this process on several sites today and the message displayed this way (with two

[2021-06-15 20:21] bethanylang opened #3586 "Improve workflow for creating and connecting a new GA4 property on a connected Analytics account"
## Feature Description

The current workflow for a user who already has an Analytics account and UA property connected in Site Kit and wants to add and connect a new GA4 property is pretty confusing at the moment. Video here: https://jmp.sh/sr0X43j+/Screen+Recording+2021-06-15+at+4.18.10+PM.mp4.

- There isn't any kind of prompt or indication anywhere in the plugin (including on the Settings scree

[2021-06-15 21:13] felixarntz commented on #3584
@bethanylang Good catch! Since this somewhat covers two problems and since you've also opened #3586 which talks about the confusing notice as well, I've limited the ACs and scope of this one here to just fix the double star. Let's focus the efforts on improving the overall process via #3586.

[2021-06-15 21:24] felixarntz commented on #3586
@bethanylang Thanks for raising this, those are great points. Leaving an initial reply to your three points:

1. The idea was not to immediately prompt users that already have Analytics set up. We first want to focus on new users or those who set up the module anyway. There's still a long time left (last prediction was 2023) until UA properties are no longer supported, so we don't need to catch ev

[2021-06-16 06:20] cole10up commented on #3507
### **QA ✅**

Confirmed survey is there and the uppercase text on the button is present.
![image](https://user-images.githubusercontent.com/57115907/122167556-00acaa80-ce30-11eb-94c4-956ff582e8e8.png)

Confirmed ideahub's button is also uppercase text.
![image](https://user-images.githubusercontent.com/57115907/122167666-233ec380-ce30-11eb-9f0a-177d1c1c11a0.png)

Confirmed both buttons function pr

[2021-06-16 08:34] aaemnnosttv commented on #3272
@felixarntz that sounds good to me for the most part, although I think each `Asset` needs to support multiple contexts – e.g. `admin-sitekit, admin-posts`.

Also, maybe `admin-general` might be more clear as `admin-global`?

[2021-06-16 08:52] tofumatt commented on #3530
Sounds good to me 👍🏻

IB ✅

[2021-06-16 09:00] aaemnnosttv commented on #3537
IB ✅

[2021-06-16 09:08] #3061 closed

[2021-06-16 09:08] #2420 closed

[2021-06-16 09:09] #2649 closed

[2021-06-16 09:11] eugene-manuilov commented on #3584
@bethanylang could you please share a site where you see the double stars issue? I can't reproduce it on my end.

[2021-06-16 09:12] #1090 closed

[2021-06-16 09:17] aaemnnosttv commented on #3083
Back to you for another pass @wpdarren 👍

[2021-06-16 09:17] eugene-manuilov commented on #3535
@wpdarren ok, this ticket also depends on #3571, once it's merged - your issue should be fixed.

[2021-06-16 09:27] tofumatt commented on #3544
IB ✅

[2021-06-16 09:38] aaemnnosttv commented on #3539
IB ✅

[2021-06-16 09:42] ivankruchkoff commented on #3508
@aaemnnosttv updated to call notifications before the 5s are up.

Moved the component to the `legacy-notifications`, my rationale for the `notifications` folder was that this new component is a refactored functional component rather than the legacy class based, but I can see the rationale for moving it as a block of functionality.

Back over to you for review @aaemnnosttv.

[2021-06-16 10:27] aaemnnosttv commented on #3540
@Hazlitte this limit should really be applied to all notices, not just the info variant.

Regarding the max-width, it would be good to base this number on something to align with other elements. Unfortunately the select boxes vary a bit on the set up / settings forms depending on the length of the contents. I found `1098px` however lines up consistently on the account creation form since the text

[2021-06-16 10:32] aaemnnosttv commented on #3508
IB ✅

[2021-06-16 10:33] aaemnnosttv commented on #3535
#3571 has been merged; sending back to @wpdarren for another pass 👍

[2021-06-16 10:38] tofumatt commented on #3519
So, the problem with this approach is that it's a touch incomplete: we cache the API responses on the client, yes, but the selectors are also already resolved, so we'd need to call `dispatch( MODULES_IDEA_HUB ).invalidateResolutionForStoreSelector( 'getSavedIdeas' )` and `dispatch( MODULES_IDEA_HUB ).invalidateResolutionForStoreSelector( 'getNewIdeas' )`. That alone isn't a big deal, but this is:

[2021-06-16 10:49] aaemnnosttv commented on #3535
@eugene-manuilov – can you cherry pick the changes from #3571 into a new PR for main? I didn't realize that this was needed here as QA for this issue is blocked by it.

[2021-06-16 11:11] tofumatt commented on #3520
The processing variables being in a component rather than in the datastore is a bit concerning here because that's not really component-specific state. I can see it's already happening though and maybe we should make that a separate issue.

IB ✅

[2021-06-16 11:12] tofumatt commented on #1703
IB ✅

[2021-06-16 11:13] eugene-manuilov commented on #3535
@aaemnnosttv could you please review it? #3587

[2021-06-16 11:24] aaemnnosttv commented on #3535
Merged! Sending to @wpdarren for another pass 👍

[2021-06-16 11:47] wpdarren commented on #3535
### QA Update: Pass ✅

- On the Analytics settings, I am able to make changes and save them.
- The `confirm changes` button is active when a setting is changed.
- When I go back into the settings, the changes have been saved and are updated accordingly.

![image](https://user-images.githubusercontent.com/73545194/122213599-07273a80-cea1-11eb-8c98-5754dd53f399.png)

[2021-06-16 12:00] asvinb commented on #3359
@felixarntz
IB updated. Can you check if it's fine to dispatch `dismissItem` using `googlesitekit.data.dispatch( 'core/user' )`.

As for this part,

I mentioned it like that:

[2021-06-16 12:47] wpdarren commented on #3083
### QA Update:  ❌

@johnPhillips @aaemnnosttv I have cleared cache, and still not seeing a consistent layout of the graphs.

This is Search console - you can see the white space highlighted
![image](https://user-images.githubusercontent.com/73545194/122221254-02668480-cea9-11eb-849e-ecc91ef020cb.png)

This is Analytics - you can see the white space highlighted
![image](https://user-images.githubus

[2021-06-16 13:10] eugene-manuilov commented on #3272
@felixarntz yes, that sounds good to me too, plus I second Evan that assets need to support multiple contexts. :+1:

[2021-06-16 13:13] wpdarren commented on #3550
### QA Update: ⚠️

@eugene-manuilov would love some clarification here:

1. I get the permission popup
2. I am redirected back to Analytics settings
3. No GA4 property is created at this point it says `Set up a new property`
4. When I click on the `confirm changes` button, a new GA4 property is created.

Please could you confirm that this is the expected behaviour?  The reason why I ask is because

[2021-06-16 13:13] bethanylang commented on #3586
@felixarntz Thank you for laying this all out! My thoughts below:

Fair enough! That said, as we have had a fair volume of users that have been requesting this feature, it might be nice to let them know in-product that it's now available. Maybe just something on the Analytics page?

👍

Agreed and understood. Let me know if you'd like me to create a separate issue for this.

In the interim, I'm dra

[2021-06-16 13:24] johnPhillips commented on #3083
@wpdarren the first issue you mention (whitespace on the left hand side) was discussed above, I think. The issue is that the labels on the AdSense chart are longer so the axis is pushed across. The chart itself (including the axis) is the same size. See below:

| Search console | AdSense |
| --- | --- |
| ![Screenshot 2021-06-16 at 14 18 54](https://user-images.githubusercontent.com/2470911/122226

[2021-06-16 13:26] bethanylang opened #3588 "Update language & format on Analytics tab post-GA4 connection"
## Feature Description

After successfully connecting a GA4 property to an existing UA property in Settings > Connected Services > Analytics, the language and format of the message regarding GA4 continues to be an alert that prompts the user to connect:

![image](https://user-images.githubusercontent.com/12189958/122227606-07194180-ce85-11eb-9ac1-949da333847a.png)

This is confusing as there's alr

[2021-06-16 13:29] eugene-manuilov commented on #3550
@wpdarren yes, this is the correct behavior. Once you are redirected back to the settings form, you should still see the "Set up a new property" option selected.

[2021-06-16 13:30] ivankruchkoff commented on #3360
@felixarntz updated to use `$expires_in_seconds` for relative offsets only, and also to add a `remove()` method that @asvinb was mentioning needing. It could be used to prune the expired items. Back over to you.

[2021-06-16 13:35] bethanylang commented on #3550
@wpdarren We're also discussing this a bit in #3586 – this may end up being a new ticket to improve the workflows that send you to the Analytics side and then back to the Settings page.

[2021-06-16 13:52] johnPhillips commented on #3083
@wpdarren the truncation on mobile seems to be due to the changes to the `chartArea` setting, which were implemented as per the IB.
This behaviour seems to be consistent across the three modules, however.
@aaemnnosttv can you advise?

[2021-06-16 14:04] wpdarren commented on #3083
@johnPhillips thank you for the reminder re. the whitespace and re. mobile, yes, I noticed this on all 3 modules.

[2021-06-16 14:06] wpdarren commented on #3550
@eugene-manuilov @bethanylang thank you for the clarification!

### QA Update: Pass ✅

- After granting permissions, you are redirected back to the Analytics module settings form and when I click on the `confirm changes` button, a new GA4 property is created.

[2021-06-16 14:45] bethanylang commented on #3584
@eugene-manuilov I'm seeing it at https://s3.cmsdevrel.com – creds are in the sheet I shared with you yesterday.

[2021-06-16 15:02] tofumatt commented on #3522
Looks like the IB doesn't fulfil this part of the ACs:

Looks like `$required_keys` needs `'tosAccepted'` added to it.

(Otherwise the IB looks good, but I have a question about copy below.)

-----

A note about copy:

I find this a bit hard to parse.

Do you have a problem updating this to something like: "_ Idea Hub provides topics to write about based on searches that haven't been answered yet_

[2021-06-16 15:02] tofumatt commented on #3522
A note about copy:

I find this a bit hard to parse.

Do you have a problem updating this to something like: "_ Idea Hub provides topics to write about based on searches that haven't been answered yet_"? Using "Idea" twice so close together in the same sentence is hard-to-read, and the non-specififc noun "things" reads clearer as "topics".

Thoughts @felixarntz @marrrmarrr?

[2021-06-16 15:09] aaemnnosttv commented on #3083
@wpdarren regarding the truncation of the x-axis label in mobile, this would be good to improve but I would say it's out of scope for this issue. Regarding the distance between the left edge of the viewport and the y-axis labels, as @johnPhillips mentioned this is due to unavoidable variability in the length of the labels. We need to allow some extra space to accommodate for this variance to preve

[2021-06-16 15:12] tofumatt commented on #3519
Just a note that reference was made to `fetchGetSavedIdeas()` and `fetchGetNewIdeas()` as selectors, but they're actually actions that need to be dispatched to update the data store. Not a huge deal; I updated the IB accordingly.

I also added a note to `await invalidateCache` as well, because our API cache layer is async.

Otherwise looks good, the approach is right-on.

IB ✅

[2021-06-16 15:21] tofumatt commented on #3545
Unfortunately this isn't great for accessibility and won't be clear to someone navigating the page without sight, as to them the contents will appear one-after-the-other without visual/grid context,

The label should contain all relevant information, but contents can be partially visually hidden, eg.: `<VisuallyHidden>Google Analytics 4 </VisuallyHidden>Measurement ID`.

I've updated the ACs here

[2021-06-16 15:22] wpdarren commented on #3537
### QA Update:  Pass ✅

**Verified:**

- On a new site, set up with Sk for a user that has no GA account. I was able to activate the Analytics module, and the setup form loaded successfully, no infinite progress bar appears.  I was able to go through the process of setting up an account with no errors on the FE or on console.   As you can see from the screenshot below, the GA4 and UA properties we

[2021-06-16 15:24] tofumatt commented on #3378
IB looks good, I'm excited for this! 👍🏻

IB ✅

[2021-06-16 15:26] wpdarren commented on #3083
### QA Update: Pass ✅

- The AdSense graph receives the same spacing above the big numbers as Analytics and Search Console
- The Search Console and AdSense graphs have no extra spacing around them.
- The graphs should be adjusted to use smooth lines instead of hard corners.

[2021-06-16 15:43] asvinb commented on #3522
@tofumatt IB updated to update the `$required_keys` array with `tosAccepted`.
Assigning ticket to @felixarntz to review your suggested copy change.

[2021-06-16 15:48] asvinb commented on #3545
Thanks @tofumatt . Good catch. IB has been updated.

[2021-06-16 16:33] aaemnnosttv opened #3589 "Release 1.35.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-06-16 20:58] felixarntz commented on #3272
@aaemnnosttv @eugene-manuilov I agree with both of your points, let's support multiple contexts, and use `admin-global` instead of `admin-general`.

@asvinb I've updated https://github.com/google/site-kit-wp/issues/3272#issuecomment-861730783 with the additional modifications, so you should now be able to continue the IB following that comment.

[2021-06-16 21:08] felixarntz commented on #3359
@asvinb

This is the right function, but you should be able to access it directly, not via the `googlesitekit` global - in production build the code gets rewritten anyway to use that global, and the new file here depends on `googlesitekit-datastore-user` anyway. In other words you should be able to import `Data` as usual and then use `Data.dispatch( CORE_USER ).dismissItem`. We only need to rely o

[2021-06-16 21:10] felixarntz commented on #3360
@ivankruchkoff Sounds good! Thanks, IB ✅

[2021-06-16 21:12] felixarntz commented on #3405
IB ✅  Once you get back to working on this, please refresh the PR against latest `develop` - there's currently a merge conflict, and we should make sure no other changes are now out of date.

[2021-06-17 07:14] eugene-manuilov commented on #3584
@bethanylang hm... it works fine for me:

![Screenshot from 2021-06-17 10-12-03](https://user-images.githubusercontent.com/873049/122349154-a2c5b300-cf54-11eb-8639-2b756740cb72.png)

Could you please clear your browser cache and try again?

[2021-06-17 07:22] abdullah1908 opened #3591 "Error: Looks like your site is not allowed access to Google account data and can't display stats in the dashboard."
## Bug Description
A user reported an issue **Looks like your site is not allowed access to Google account data and can't display stats in the dashboard**. As per user he has configured [different GA properties for multiple websites](https://imgur.com/a/phJhRO2) which are associated with one Google Account.
Here are the different errors which he encountered since he created the topic:
- Looks like

[2021-06-17 09:02] aaemnnosttv commented on #3543
IB ✅

[2021-06-17 09:15] johnPhillips commented on #3098
@aaemnnosttv

Can you clarify what situations you mean here? Is there anything specific you need covered in the IB?

[2021-06-17 09:43] Hazlitte commented on #3540
Thanks @aaemnnosttv,  I have updated the IB to make this change to the settings notice body class so that it is applied to all notices.

[2021-06-17 10:48] abdullah1908 commented on #3389
By inspecting [SH info](https://wordpress.org/support/topic/site-kit-encountered-an-error-35/) I can see few plugins related to optimization/cache. Installed those plugins along with Astra & I can see some [JS errors in Page Speed](https://imgur.com/undefined) section. One thing that I noticed over the user website is their website [rest route is disabled](https://imgur.com/a/6fhGlQp).

[2021-06-17 12:03] aaemnnosttv commented on #3098
@johnPhillips Yes – the new method is described to be based on [`wp_nonce_ays`](https://developer.wordpress.org/reference/functions/wp_nonce_ays/) which has a single conditional based on the given action. We may have multiple conditions that we match based on the actions, that's not important but my understanding of the ACs is that `wp_nonce_ays` would _be_ the default/else case, whereas the curre

[2021-06-17 12:31] Hazlitte commented on #3133
Whilst looking into this I found that I can cause the same errors to occur ( as noted in #3132 ) by setting the Google Charts version in `Assets.php` to 50 and the version in the `GoogleChart` component to 49.

The following scenarios work:

1. `Assets.php` : 50, `GoogleChart`: 50
2. `Assets.php` : current, `GoogleChart`: 50
3. `Assets.php` : 50, `GoogleChart`: remove `chartVersion` prop
4. `Asset

[2021-06-17 12:47] johnPhillips commented on #3552
I've thrown an hour at this and not got anywhere either, unfortunately.
For what it's worth, I reached out to @asvinb in case he had any insights but he believes this is unrelated to the issue he is tackling with storybook.
All I can see is that we are using backstop's `hoverSelector` parameter to get at the hover state of the button and that it seems to be working inconsistently for this test (th

[2021-06-17 12:53] eugene-manuilov commented on #3272
@felixarntz @aaemnnosttv IB is updated. Do you mind reviewing it?

[2021-06-17 13:09] johnPhillips commented on #3098
Got it, thanks @aaemnnosttv
I've revised the IB accordingly. I'm not sure what other actions might need to be covered, but I've added the proxy-related one for now.

[2021-06-17 13:09] tofumatt commented on #3545
IB ✅

[2021-06-17 13:20] bethanylang commented on #3584
@eugene-manuilov James had mentioned to me that this might be a tester plugin-specific issue – checking around to confirm.

[2021-06-17 14:08] aaemnnosttv commented on #3540
@Hazlitte – this would result in an overall larger element since `.googlesitekit-settings-notice` has padding which would be outside of the max-width applied to the body. Let's keep the max width applied to the `.googlesitekit-settings-notice` itself.

I'll update the IB with this since it's a simple change to the selector, otherwise –

IB ✅

[2021-06-17 14:17] johnPhillips commented on #3544
@eugene-manuilov / @tofumatt Is there a typo here?

The notice in the image says 'connect' not 'select', so should it say 'You need to _connect_' or 'You need to _select_"?

<img src=https://user-images.githubusercontent.com/56588136/121395614-87eab180-c94a-11eb-9cd8-3d731fb745ff.png />

[2021-06-17 15:12] bethanylang commented on #3584
Reassigning to @wpdarren for some additional testing.

[2021-06-17 15:18] eugene-manuilov commented on #3544
@johnPhillips it doesn't matter what goes next, you need to change `You'll need to` on `You need to`, everything else should remain the same in the code.

[2021-06-17 15:51] felixarntz commented on #3564
@aaemnnosttv After consulting with the maintainer of the Google Charts library, it looks like we should be able to at least cap the overall graph to only show the positive vertical axis by using `vAxis: { viewWindow: { min: 0 } }`, which we are actually already doing for the All Traffic widget specifically. I've just tested this and it works as expected - it obviously doesn't fix the curve, but I

[2021-06-17 16:05] eugene-manuilov commented on #2585
@aaemnnosttv this is ready for your review. I have updated the generated data to match the format used by API v2, so we should be good to go if you no objections.

[2021-06-17 16:08] felixarntz commented on #3572
IB / CR ✅

[2021-06-17 16:14] felixarntz commented on #3572
@eclarke1 @fhollis Adding this to Sprint 51 since it was a quick fix.

[2021-06-17 16:14] eugene-manuilov commented on #3509
@asvinb the AC says that `when it disappears (e.g. completion or dismissal), it should slide down out of view back "into" the bottom of the screen` but in your code you have `direction="up"` for the completion component. Shouldn't it be `direction="down"`?

[2021-06-17 16:40] dlockhart commented on #3255
It looks like Apple [has fixed this](https://bugs.webkit.org/show_bug.cgi?id=226861) in their nightlies as of ~June 10, although I can't confirm it since I also can't reproduce this either. Whatever having an "old ICU" means must be the thing that does it.

[2021-06-17 16:56] aaemnnosttv commented on #3340
@felixarntz @tofumatt @eugene-manuilov are you all happy with these ACs going forward? Anything to change, something we should do differently or include that's missing?

[2021-06-17 16:59] wpdarren commented on #3589
Completed the smoke testing and it's looking good to me.

[2021-06-17 17:19] eugene-manuilov commented on #3272
@aaemnnosttv I have updated IB based on your comments except the last one.

@asvinb could you please take a look at it and update your portion of IB?

[2021-06-17 17:28] eugene-manuilov commented on #3340
Yes, looks good to me!

[2021-06-17 17:38] saadhiyarao commented on #550
@jamesozzie I tried these steps but still have the issue https://bustimings.in/

[2021-06-17 17:49] eugene-manuilov commented on #3589
All looks good to me. :heavy_check_mark:

[2021-06-17 17:49] aaemnnosttv commented on #2585
@eugene-manuilov would you please add a QAB?

[2021-06-17 18:08] eugene-manuilov commented on #2585
Added.

[2021-06-17 20:07] ivankruchkoff commented on #3589
Looks good to me. ✅

[2021-06-17 20:11] abdullah1908 opened #3596 "Learn More Link for Idea Hub documentation landing at 404"
## Bug Description
[Learn More](https://imgur.com/a/pwQdvOB) link for Idea Hub documentation is landing at [404 page](https://sitekit.withgoogle.com/documentation/idea-hub-module/).

## Steps to reproduce

1. Enable Idea Hub module from Tester plugin
2. Setup Idea Hub
3. On Complete Setup section you'll see Learn More link

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]

[2021-06-17 22:11] johnPhillips commented on #3544
Thanks for clarifying @eugene-manuilov

[2021-06-18 08:36] asvinb commented on #3272
@aaemnnosttv The cache key name has been updated. You're right about the `onDismiss` property 😞 It does not work. I'am thinking whether we should just listen to the click event of the button to dismiss the notification and whether the notice content starts with the "This post was created from an idea you picked in Site Kit's Idea Hub:" string since we don't have a way to target the notice that was

[2021-06-18 08:47] asvinb commented on #3359
Thanks @felixarntz . IB updated!

[2021-06-18 09:06] asvinb commented on #2585
### QA: ✅

AdSense stories load fine and graphs display properly.

[2021-06-18 09:22] tofumatt opened #3599 "Replace STORE_NAME usage with named constants"
For historical purposes we mix use of `STORE_NAME` and named constants for modules (like `CORE_SITE` or `MODULES_ANALYTICS`). But in files with multiple stores, the unnamed `STORE_NAME` provides little context, and now that the named constants are also available, we should replace all instances of `STORE_NAME` with the actual constant name (eg. `CORE_SITE`, `CORE_USER`, etc.)

---------------

_Do

[2021-06-18 11:07] johnPhillips commented on #3556
@felixarntz How should we go about QA for this? I think this issue has a couple of dependencies so it's not currently possible to test these actions using the browser console, for example.
I've added unit test coverage for this - would labelling it `QA:eng` and having someone inspect the code and tests be sufficient?

[2021-06-18 11:28] jamesozzie commented on #3255
@dlockhart Many thanks for sharing this update.

@adamsilverstein I've followed up with impacted users, awaiting feedback.  I'll keep you posted here.

[2021-06-18 13:04] wpdarren commented on #3584
@bethanylang I am unable to recreate this, and have tried on two sites that only have UA properties.  I'm wondering if its a caching issue. Could you use install and activate the [Version Assets](https://wordpress.org/plugins/version-assets/) plugin, and then go through the steps again, to see if this issue is fixed.  This plugin makes sure you are getting a fresh view of the content.  Also, what

[2021-06-18 13:16] dlockhart commented on #3255
@jamesozzie no problem.

I've actually learned a bit more about this since yesterday. This has come up in the context of our own product -- nothing to do with Site Kit, but this issue came up in Google searches for the error message which is why I landed here. :)

We were finally able to reproduce the issue, but only on systems with both macOS Mojave (10.14) AND Safari 14.1. It has to be that comb

[2021-06-18 13:56] wpdarren commented on #3539
### QA Update: Pass ✅

- I was able to create a new account via setup _and_ settings form.
- In both tests, a GA4 property was created (and UA property)
- When looking in Google Analytics, both accounts have a GA4 property, with the appropriate web data stream.

Setup with GA4 and UA property for a new account  - [Screenshot](https://user-images.githubusercontent.com/73545194/122571968-32e32580-d0

[2021-06-18 14:24] wpdarren commented on #3543
### QA Update: Pass ✅

- Verified that for a GA4 property only, on the Analytics setup form, the new Google Analytics account with the appropriate property is preselected.

![image](https://user-images.githubusercontent.com/73545194/122575957-206aeb00-d049-11eb-8614-95ae8345a7b0.png)

[2021-06-18 14:27] jamesozzie commented on #550
@saadhiyarao If you'd like to [open a WordPress support from topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) we would be happy to take a look.

Note that while Site Kit does insert Auto Ads for AMP code if a user has selected that option you may find better luck posting the question with the [AdSense Help Center](https://support.google.com/adsense/?hl=en#topic=3373519). Ther

[2021-06-18 14:46] wpdarren commented on #3510
### QA Update: Pass ✅

- Verified that when you give a rating of 4 or 5, the `Let's go` button link opens in a new tab.
- Verified that when you give a rating of 1, 2, or 3, the `Get help` button link opens in a new tab.

[2021-06-18 15:13] tofumatt commented on #3589
Looks good for me also! ✅

[2021-06-18 16:47] felixarntz commented on #3556
@johnPhillips Since it is blocked by #3518, we should probably wait until merge and QA until that dependency is done first. Since this is a user-facing enhancement, I think this should eventually get regular QA rather than engineering only.

[2021-06-18 16:53] felixarntz commented on #3596
@abdullah1908 Good catch! I think we missed to actually look into this link.

@marrrmarrr @bethanylang We probably should create a documentation page on the website about the Idea Hub module as well, in time for when it launches. Particularly, people might be confused if they hear about it but then don't see it in Site Kit (which would be e.g. because they don't use a supported locale or don't yet

[2021-06-18 17:24] cbstudiomx commented on #2681
For the moment I change lines for render() function in the plugin files includes/Modules/AdSense/Web_Tag.php with this, and I have no auto-ads for logged in users, subscribbers and bbpress default user roles:

`protected function render() {
		// If we haven't completed the account connection yet, we still insert the AdSense tag
		// because it is required for account verification.
				$user = wp_g

[2021-06-20 11:11] cadentic commented on #1412
hi

I need a specific IP address or port to enable from security group as I am using ec2

[2021-06-21 07:30] ivankruchkoff commented on #3508
Over to CR now, copying the comment from the CR here for posterity:

Slight deviations from the IB:
E2E: I've updated the e2e tests to pass by removing the waiting for endpoint since we're now using the selector, however the test coverage scenarios are now covered in the storybook stories, with a VRT.
Storybook: Storybook now contains these scenarios e.g. https://google.github.io/site-kit-wp/story

[2021-06-21 09:01] eclarke1 commented on #2054
@Hazlitte would it be possible to add an estimate here now the IB is completed?

[2021-06-21 09:02] eclarke1 commented on #3393
@Hazlitte would it be possible to add an estimate here now the IB is completed please?

[2021-06-21 09:02] eclarke1 commented on #3317
@Hazlitte would it be possible to add an estimate here now the IB is completed please?

[2021-06-21 09:02] eclarke1 commented on #3098
@johnPhillips would it be possible to add an estimate here now the IB is completed please?

[2021-06-21 09:03] eclarke1 commented on #3133
@Hazlitte would it be possible to add an estimate here now the IB is completed please?

[2021-06-21 11:06] HFigarella opened #3606 "A site url with an internationalized domain name (IDN) will not show data for the Analytics portion of GSK"
## Bug Description

A site url with an [internationalized domain name (IDN)](https://www.icann.org/resources/pages/idn-2012-02-25-en#:~:text=Internationalized%20Domain%20Names%20(%20IDNs%20)%20enable,allowed%20by%20relevant%20IDN%20protocols.) will not show data for the Analytics portion of GSK.

## Steps to reproduce

If the web site url is an IDN such as this sample: ([click here to convert IDN

[2021-06-21 11:28] eclarke1 commented on #3522
@marrrmarrr would it be possible to please provide some guidance on the messaging here so we can get this ticket over to Execution Backlog today if possible, thank you

[2021-06-21 12:39] abdullah1908 commented on #3606
@HFigarella thanks for submitting the issue along with the useful information. We really appreciate your efforts & research. We'll surely try to recreate this issue at our end & then get back to you with any possible information.

[2021-06-21 13:47] wpdarren commented on #3528
### QA Update: Fail ❌

@eugene-manuilov a few observations:

1) The `privacy` link is `myaccount.google.com/privacypolicy?hl=en-US` but it redirects to `https://policies.google.com/privacy?hl=en-US` is that expected behaviour? Just wondering if we should hard code the link to the one it directs to?

2) The `terms` link is `support.google.com/terms?hl=en-US` but it redirects to `support.google.com/

[2021-06-21 13:48] asvinb commented on #3509
@eugene-manuilov That's what I thought initially while working on this task. As per the docs:

So the direction is only for entering, and when exiting the animation, it'll just do the reverse.

[2021-06-21 14:16] aaemnnosttv commented on #2585
## QA ❌

VRT is failing now on develop, the mock data seems to be different now, likely due to a missing fixed reference date. Assigning to @danielgent for a follow-up.

[2021-06-21 14:22] danielgent commented on #2585
I've created another PR to fix this issue

[2021-06-21 14:36] aaemnnosttv commented on #3586
IB ✅

[2021-06-21 14:52] aaemnnosttv commented on #2585
Will check this again tomorrow but should be all set now 👍

[2021-06-21 15:15] jamesozzie commented on #3255
Thanks for the update @dlockhart, appreciate you sharing your findings.

From impacted users [one user confirmed](https://wordpress.org/support/topic/failed-to-initialize-numberformat/page/2/#post-14572655) both Mac Mojave (10.14.16) and Safari 14.1, in line with the above. Awaiting feedback from other impacted users.

[2021-06-21 15:29] felixarntz commented on #3528
@wpdarren Thanks for pointing these out. Some clarifications:

1. That link is correct as is, but it should use a the two-letter language code instead of full locale (see ACs).
2. That link is incorrect as it's not what's in the ACs, plus it also should use the two-letter language code (see ACs).
3. That was not explicitly specified, but external links should always open in a new window/tab unless

[2021-06-21 16:25] aegisdesign commented on #3255
I can confirm I'm using Mojave 10.14.16 and Safari 14.1.

I've just asked a colleague who is using MacOS 11.4 and Safari 14.1.1 and the same install of SiteKit on the same Wordpress site works fine.

So it does indeed look like a Mojave only issue.

[2021-06-21 16:40] Hazlitte commented on #1427
I have observed some similar problems with a different theme and W3 Total cache.  From further testing I found that the problem is specific to minifying the CSS using W3 Total Cache.  There is a hook provided by W3 Total Cache to do disable CSS minifying so it might be best to disable it given that this problem is not specific to the WoodMart theme.

[2021-06-21 16:46] ivankruchkoff commented on #3182
Just FYI https://github.com/google/site-kit-wp/issues/3508 is in CR and is implementing backstop tests the old fashioned way, so if that's still in CR when this is started, please take a look at that one too to make sure we don't miss it.

[2021-06-21 17:09] aaemnnosttv commented on #3272
@asvinb per our conversation, can you take a look and see when the [`__unstableHTML`](https://github.com/WordPress/gutenberg/blob/1074fb3219fcf5f257b9bdeec1a0eb31a6b1ed19/packages/notices/src/store/actions.js#L60) option was added? Maybe we can use this to pass our own content that includes a data attribute we can use for a selector.

As a fallback, if the above isn't available for the event liste

[2021-06-21 19:01] danielgent commented on #3406
*_name this file a simpler errors.js_  :heavy_check_mark:
*_include removing the use of LegacyErrorNotification_ :heavy_check_mark:

[2021-06-21 19:02] bethanylang commented on #3584
Thanks for taking a look, @wpdarren! @jamesozzie mentioned that he's seen this before and he's doing some testing on GA4 this week, so I'm going to assign over to him to report back on his findings.

[2021-06-21 19:43] aaemnnosttv commented on #2054
@Hazlitte The ACs only define what should happen if the function exists, so if it doesn't we must assume it is a production environment (like today) or else we'd break Site Kit for any version of WP before this was added in 5.5.

Also, for older issues like these, please make sure to fill in any parts of the issue that are missing in the template (e.g. test coverage and VRT). I've added the missin

[2021-06-21 19:50] tofumatt commented on #3340
ACs look good to me as well, let's do it 👍🏻

[2021-06-21 19:55] aaemnnosttv commented on #3098
IB ✅

[2021-06-21 20:31] danielgent commented on #3340
@tofumatt Makes total sense!  It'll make a big PR but will make everything much easier going forward :smile:

[2021-06-22 04:00] #3589 closed

[2021-06-22 04:00] #3375 closed

[2021-06-22 04:00] #3379 closed

[2021-06-22 04:00] #3249 closed

[2021-06-22 04:00] #3376 closed

[2021-06-22 04:00] #3374 closed

[2021-06-22 04:00] #3275 closed

[2021-06-22 04:00] #3252 closed

[2021-06-22 04:00] #3227 closed

[2021-06-22 04:00] #3254 closed

[2021-06-22 04:00] #3289 closed

[2021-06-22 04:00] #3288 closed

[2021-06-22 04:00] #3250 closed

[2021-06-22 04:00] #2749 closed

[2021-06-22 04:00] #3381 closed

[2021-06-22 04:00] #3218 closed

[2021-06-22 04:00] #3251 closed

[2021-06-22 04:00] #3327 closed

[2021-06-22 04:00] #3318 closed

[2021-06-22 04:00] #3357 closed

[2021-06-22 04:00] #3529 closed

[2021-06-22 04:00] #2203 closed

[2021-06-22 04:00] #3217 closed

[2021-06-22 04:00] #3559 closed

[2021-06-22 04:00] #3253 closed

[2021-06-22 04:00] #3380 closed

[2021-06-22 04:00] #2942 closed

[2021-06-22 04:00] #3083 closed

[2021-06-22 04:01] #3538 closed

[2021-06-22 04:01] #3507 closed

[2021-06-22 04:01] #3535 closed

[2021-06-22 04:01] #3550 closed

[2021-06-22 04:02] #3269 closed

[2021-06-22 04:11] cole10up commented on #3589
All good on my end. ✅

[2021-06-22 07:37] Overbord commented on #990
+1

[2021-06-22 08:57] asvinb commented on #3272
@aaemnnosttv I checked and the `__unstableHTML` option was added as from v1.1.1 of the package which is around 3 years ago. My worry about the `__unstableHTML` option is that it's not documented anywhere. I'am wondering whether it's safe to use this option 🤔

[2021-06-22 09:17] Hazlitte commented on #2054
Thank you @aaemnnosttv.  I have updated the IB to reflect your observation on the AC and a description for PHPUnit tests using runkit.

[2021-06-22 09:31] aaemnnosttv commented on #3272
@asvinb good call – according to Gutenberg developers, this shouldn't be used: https://github.com/WordPress/gutenberg/pull/11604#issuecomment-456468735

Let's see how we can do this without that 👍

[2021-06-22 09:32] eugene-manuilov commented on #3528
Thanks, @wpdarren and @felixarntz. I have created a follow-up PR (#3610) that fixes these issues.

[2021-06-22 09:56] aaemnnosttv commented on #3518
IB ✅

[2021-06-22 10:18] ivankruchkoff commented on #3255
On Safari 14.**0**, Mojave 10.14 and sitekit 1.31.0 I was unable to reproduce, likewise `new Intl.NumberFormat('en-US', { signDisplay: 'never' }).format(1.234).` worked correctly.

[2021-06-22 10:37] aaemnnosttv commented on #2054
Thanks @Hazlitte – just about there, just a few corrections to make regarding the tests.

After looking at this again, I think we can actually get by without this since the function will exist in some environments/jobs and not in others (i.e. `PHP (PHP 5.6, WordPress 4.7)`) – more on this below.

If the function doesn't exist, we should test it returns `true`.

If it does exist, we can test the gu

[2021-06-22 10:44] aaemnnosttv commented on #3564
@johnPhillips the ACs states this needs to be updated "for both their widget-based and legacy versions (which likely means this change has to be added to 6 places in total)" however the IB currently only accounts for the 3 components in the refactored widget-based module screens. We need to also update the respective `Legacy{*}DashboardWidgetSiteStats` as well.

[2021-06-22 10:45] jamesozzie commented on #3255
Additional 2 confirmations
- Mojave (unknown version) with Safari 10.14.6.
- Mojave 10.14.6 and Safari 14.1.1

[2021-06-22 11:17] aaemnnosttv commented on #3272
@asvinb let's not manually insert the notice into the DOM, as this would violate this condition of the ACs:
_This functionality should rely on the Gutenberg Notice API._

After thinking about this a bit more, I think we can still leverage the datastore for knowing when the notice is dismissed after it's added. We can do this by subscribing a listener on `wp.data` which will be called each time the

[2021-06-22 11:42] jamesozzie commented on #3389
@bethanylang No additional insights or impacted users. One of the impacted users sites are not long active. Thoughts on keeping this open or closing as unreproducible?

[2021-06-22 12:58] marrrmarrr commented on #3522
@eclarke1 @tofumatt In the Idea Hub nomenclature, a "topic" is the higher level category (e.g. "Electronics") and an "idea" is the individual prompts within this category. To avoid confusing users which is which, I'd suggest not calling the ideas topics. We could go with "suggestions" or similar.

[2021-06-22 13:14] jamesozzie opened #3614 "Don't display the blue notice bar until a user selects either a GA4 or UA property when connecting Analytics."
When setting up Analytics and selecting an account which has **both a UA and GA4 property** don't display the blue notice bar regarding the creation of an additional property until a user makes a selection.

This would lead to less confusion considering the notice bar that appears on account selection assumes the user will select a UA property.

![2021-06-22-14-03-27](https://user-images.githubuse

[2021-06-22 13:18] marrrmarrr commented on #3524
@felixarntz have a look and lmk if you have any questions on the ACs.

[2021-06-22 13:25] wpdarren commented on #3544
### QA Update:  Pass ✅

- Verified that `You need to` is used when connecting Analytics for a UA and GA4 property, and also when you go to settings, the same language is used.   - [Settings](https://user-images.githubusercontent.com/73545194/122932296-861ae800-d365-11eb-88e8-475b5d9e04e5.png)  - [Setup form](https://user-images.githubusercontent.com/73545194/122932347-9206aa00-d365-11eb-8e7b-2f7dc

[2021-06-22 13:33] wpdarren commented on #3536
### QA Update: Pass ✅

- Verified that you don't see the notification when you have no accounts selected. [Screenshot](https://user-images.githubusercontent.com/73545194/122933628-b8791500-d366-11eb-9e43-8c6430291ba9.png)
- Verified when you select an account that doesn't have ga4 properties yet, it does show that message.
[Screenshot](https://user-images.githubusercontent.com/73545194/122933654-b

[2021-06-22 13:48] marrrmarrr commented on #3596
@felixarntz indeed, we will need a brand new page for this. @bethanylang is this something that the support team can apply the same process as we discussed for GA4 (test extensively, then write up the expected top questions?)

[2021-06-22 13:49] tofumatt commented on #3522
In this case it's the topic of the post though—I'm not sure what better word can be used there to signify what Idea Hub is providing. I don't think "suggestions" helps, because it then reads like:

We want a noun to convey _what_ it is that Idea Hub is suggesting—in this case it's "post topic". Maybe the whole sentence could use rewording, what about:

[2021-06-22 13:57] wpdarren commented on #3138
### QA Update: Pass ✅

Can confirm that the `Organic Search` channel is displaying on smaller screen sizes.  I checked this on a few different mobile devices with FIrefox, Chrome, Safari etc. [Screenshot](https://user-images.githubusercontent.com/73545194/122937583-02172f00-d36a-11eb-955d-0efe39e4e425.png)

[2021-06-22 14:11] aaemnnosttv commented on #2054
IB ✅

[2021-06-22 14:17] bethanylang commented on #3596
@marrrmarrr @felixarntz Yep, I have a task for drafting this documentation in July and we'll make sure to put it at the URL that's included throughout the product (https://sitekit.withgoogle.com/documentation/idea-hub-module/).

Are we okay to close this out for now as it's being tracked in Asana?

[2021-06-22 14:24] ivankruchkoff commented on #3255
14.0 does not repro the bug, updated safari to 14.1.1 and can see the same issue.

<img width="961" alt="Screen Shot 2021-06-22 at 5 24 03 PM" src="https://user-images.githubusercontent.com/373931/122942176-ae631080-d37e-11eb-8ee7-b97f95d0beb7.png">

[2021-06-22 14:30] tofumatt commented on #3528
@felixarntz: Can you take a look at https://github.com/google/site-kit-wp/pull/3610#discussion_r656140747? I think the ACs here are a bit off and I just noticed that now, but I don't think we should be removing the second bit of the locale from URLs.

[2021-06-22 14:33] aaemnnosttv commented on #3272
Thanks @asvin, I think we're just about good to go.

Including the post ID in the `id` of the notice is unnecessary since these aren't persisted, so it's inherently scoped to the current post. It is important to include in the key that we cache, because that is of course global to the whole site.

So unless it is important for some reason to include the `<post_ID>` in the notice `id`, then let's r

[2021-06-22 14:34] aaemnnosttv commented on #3255
Thanks @ivankruchkoff and everyone else – moving forward to execution 👍

[2021-06-22 14:43] asvinb commented on #3272
Sounds good @aaemnnosttv . IB updated.

[2021-06-22 14:53] wpdarren commented on #3202
QA Update: Pass ✅

- Verified that the text `over the last x days` is displayed below the page title in the Site Kit admin bar menu stats. The place holder of 28 days appears.
- Tested the admin bar stats on smaller screen sizes on various mobile devices.

![image](https://user-images.githubusercontent.com/73545194/122947030-bf595500-d371-11eb-87cd-9950ce643d01.png)

[2021-06-22 15:38] wpdarren commented on #2998
@ivankruchkoff @felixarntz I get the gist of this from the AC but not overly familiar with AMP, so would love some clarification on the QAB, particularly `Ensure Site Kit always operates in "AMP Secondary" mode` - where would I look to see that's secondary mode? If you could write the steps that would be helpful. Thanks!

[2021-06-22 16:34] wpdarren commented on #3572
@aaemnnosttv  I am seeing the same error and tested this on two different sites. Would you be able to check that it has successfully merged, and if you still see the errors or not?

![image](https://user-images.githubusercontent.com/73545194/122965277-ec146900-d37f-11eb-953f-cc8a18bd795f.png)

[2021-06-22 16:54] eugene-manuilov opened #3615 "Let users control which GA4 web data stream to use"
## Feature Description

Currently, we hide all information about web data stream that is used by the Analytics module when it has GA4 integration. I understand that it has been done to reduce the complexity for users who are not familiar with data streams in GA4, but I am almost confident that it will be confusing for advanced users once they need to use a different web data stream.

One real use

[2021-06-22 17:43] aaemnnosttv commented on #924
@felixarntz given our conversation about the changes here, do you think this makes sense to keep in execution or move it back to definition since the implementation will be substantially different? I suppose the ACs could remain the same, but we should probably move and plan this issue to be specific to the final integration of the new sniffs since the majority of the engineering will no longer be

[2021-06-22 17:45] felixarntz commented on #924
@aaemnnosttv Yeah, let's move this back to ACs for now and later update them once the path forward is clear.

[2021-06-22 17:50] aaemnnosttv commented on #924
@eclarke1 @fhollis moving back to ACs and removing from the sprint as this issue will be redefined to be much simpler but won't be something we can do until later.

[2021-06-22 18:22] aaemnnosttv opened #3616 "GA4 settings persist after Analytics is deactivated"
## Bug Description

When disconnecting a module, its settings are always deleted by the `Module::on_deactivation` method. However, due to some ga4-specific implementation details, this doesn't happen for GA4.

## Steps to reproduce

1. Enable `ga4setup`
2. Setup Analytics with a GA4 property
3. Deactivate the Analytics module
4. Go to `/wp-admin/options.php`
5. See `googlesitekit_analytics-4_setti

[2021-06-22 18:22] felixarntz commented on #3528
@eugene-manuilov @tofumatt Replied to the comment - apologies, this was a mis-assumption from my end. So this will need a few more changes to reflect the updated requirements.

[2021-06-22 18:29] felixarntz commented on #3066
The behavior outlined in this issue is currently expected, as Site Kit only supports a single Google account per WordPress account, to encourage best practices. While it is unlikely that this will change anytime soon, we are heavily working on delegated dashboard view sharing (related: #6) which will allow users to view certain data delegated from another user's Google account, if they choose to s

[2021-06-22 18:31] felixarntz commented on #1152
Potentially, an option here would be to introduce a filter for the `home_url()` value that is sent to this external configuration page, so that a hosting provider like SiteGround could include a mini must-use plugin or so to fix it. An open question we have to figure out first is whether such a filter would also apply to areas in Site Kit itself (where we e.g. use the `home_url()` for certain comm

[2021-06-22 18:33] felixarntz commented on #3359
@asvinb Excellent - IB ✅

[2021-06-22 18:41] felixarntz commented on #3406
@danielgent The IB now has `error.js` - let's use `errors.js` (maybe just a typo?) :) Also please update the name of the test file for that file in the IB accordingly, that is currently still using `error-notifications.test.js`. After those updates, this is good to go! 👍

[2021-06-22 19:12] felixarntz commented on #3070
To whoever will write the IB on this one:

Potential ideas:
1. Write a JS function that processes the second response and returns a map of `url => title` pairs. Then the widget has to look up the title there.
2. Invent our own Site Kit-specific Analytics metric, e.g. `gask:pageTitle` and add code on our Analytics module server-side to internally make that second request to get URLs and titles, the

[2021-06-22 19:15] felixarntz commented on #3340
@tofumatt That makes sense to me - we need to time this well, but I agree, I'd prefer to have one disruptive change rather than afterwards making CR more complicated for many PRs to come.

If you agree @aaemnnosttv please amend the ACs accordingly - then we can move this forward.

[2021-06-22 20:09] aaemnnosttv commented on #3319
After discussing earlier with @felixarntz and @marrrmarrr we agreed that these links are still useful in a no data state so no changes are needed here 👍

[2021-06-22 20:09] #3319 closed

[2021-06-22 22:46] felixarntz commented on #3518
@eugene-manuilov Just a tiny update here: Based on a few updates from the API team, it looks like the value we need to pass for the `platform` is "sitekit" instead of "SITEKIT" what I had in the ACs earlier. If one doesn't work, please try out the other, just to make sure :)

[2021-06-23 06:01] HFigarella commented on #3606
**GSK 1.35.0 the same issue**

Temporary solution (_until next plugin update_):

1. Edit …\google-site-kit\includes\Modules\Analytics.php
2. Insert these 2 lines  at line 623

[code]

where 'unicodenáme.xxx' is your IDN as explained above

[2021-06-23 06:58] aaemnnosttv commented on #2998
@wpdarren the easiest way to see the current AMP mode used by Site Kit, check the Site Health. The mode itself is set in the AMP settings as the "Template Mode" here:
![image](https://user-images.githubusercontent.com/1621608/123050361-49083180-d409-11eb-976a-b0853bfaf618.png)

Standard = primary and the other two would be secondary 👍 Of course the AMP mode only applies when the AMP plugin is acti

[2021-06-23 08:21] aaemnnosttv commented on #3572
@wpdarren the problem is that Site Kit isn't setting the proper AMP mode when Web Stories is active. This should be fixed in https://github.com/google/site-kit-wp/issues/2998 but there is a problem with the implementation there which I will follow up on now.

[2021-06-23 08:46] aaemnnosttv commented on #2998
@felixarntz it seems that the ACs here weren't revised after the discussion above with @westonruter regarding always returning AMP secondary instead of primary.

However, the IB (and related PR) do not include the second point in the ACs which I believe is still necessary to include:

Can you confirm that this is still necessary @felixarntz ?

cc: @ivankruchkoff @Hazlitte @tofumatt

[2021-06-23 09:22] asvinb commented on #3541
@eclarke1 @aaemnnosttv I can't reproduce this issue. Is it browser specific? I tested in the following browsers and the select looks good to me:

Firefox:
![image](https://user-images.githubusercontent.com/31818/123071768-fdb04c00-d425-11eb-8e36-489b3299d83d.png)

Safari:
![image](https://user-images.githubusercontent.com/31818/123071801-056ff080-d426-11eb-9ca1-2b8ca92f5bbf.png)

Chrome:
![image](

[2021-06-23 09:28] johnPhillips commented on #3564
Ah yes, good point 🤦‍♂️
Thanks @aaemnnosttv, I've added them to the IB.

[2021-06-23 09:28] marrrmarrr commented on #3522
I like the updated first clause, I'd just replace the "should" with a different modal verb -- we can't really tell them what to do (:
So, combining the two, we have:
_Idea Hub suggests what you can write about next, based on searches that haven't been answered yet_

[2021-06-23 09:34] aaemnnosttv commented on #3070
@felixarntz I think making the second request internally sounds better to me. For one, we could actually do the two requests in the same batch. We can do this as long as the two requests have the same dateRanges, viewId, segments, samplingLevel, and cohortGroup. However, this would have the risk of a result potentially not including the title (although unlikely).

One variation would be to make th

[2021-06-23 09:37] aaemnnosttv commented on #3541
@asvinb I think this one can be closed. This issue was created out of the bug bash but I had a PR in progress which fixed this at the time.

Assigning back to @felixarntz for review but I think this is no longer an issue.

[2021-06-23 09:48] jamesozzie opened #3618 "Cannot read property 'slug' of undefined"
## Bug Description

There have been 3 reports of a `Cannot read property 'slug' of undefined` error, first occurring from 1.34.1. Unknown at what stage this occurs yet, with no additional insights.

https://wordpress.org/support/topic/depannage-du-tableau-de-bord-google-kit-site/ - Open - No SH info
https://wordpress.org/support/topic/site-kite-error/ - Open - No SH info
https://wordpress.org/supp

[2021-06-23 09:58] aaemnnosttv commented on #3564
@johnPhillips I don't see those changes yet 🤔 Are you sure you saved them?
![image](https://user-images.githubusercontent.com/1621608/123077394-afe61480-d422-11eb-8ab3-fec74687cf49.png)

[2021-06-23 10:08] aaemnnosttv commented on #3572
@wpdarren actually, sorry, it should be good – I just tested this again and while there are errors that show Site Kit, it's mostly because the output is minified and line 6 starts with our opt-out comment there which is normal. The main error we don't want to see is the first one in your screenshot there about invalid JSON.

Here's what I see
![image](https://user-images.githubusercontent.com/1621

[2021-06-23 10:21] aaemnnosttv commented on #3541
Actually, I just noticed that the styles are off for other inputs in this context such as when creating a new view. I believe this is due to the current styles only accounting for select components in an info notice, so perhaps this issue could be redefined more generally?

![image](https://user-images.githubusercontent.com/1621608/123080671-db1e3300-d425-11eb-8efe-885de0a974f5.png)

[2021-06-23 11:43] ivankruchkoff commented on #3255
@aaemnnosttv over to you for IBR, with a CR containing the approach.

For reference, the following two calls would throw errors:
[code]

These would work:
[code]

[2021-06-23 12:14] jamesozzie commented on #2350
Reopening this as it looks like it may be possible to [programmatically deactivate](https://docs.wp-rocket.me/article/1564-list-of-pre-get-rocket-option-filters) the minify option for WP Rocket, specifically using `pre_get_rocket_option_minify_js`.

For additional context in order to recreate this JS error follow the steps below:
1. Install and setup SK with WP Rocket
2. Activate the Minify JS opt

[2021-06-23 12:50] asvinb commented on #3541
@aaemnnosttv I've added the IB to cater for the text input.

[2021-06-23 12:59] wpdarren commented on #3545
### QA Update: Pass ✅

- Verified that the correct `measurementID` is present on the settings overview.
- The label is `Google Analytics 4 Measurement ID`, but visually appears as `Measurement ID`.
- The `measurement ID` does not appear when editing.
- Confirmed that there is substring is inside a `<span class="screen-reader-text">` and is therefore visually hidden.

![image](https://user-images.g

[2021-06-23 13:02] tofumatt commented on #3522
Sounds great! I've updated the ACs to reflect that wording, and this now looks good to go!

IB ✅

[2021-06-23 13:34] eclarke1 commented on #3584
Neither @bethanylang @jamesozzie or @wpdarren can replicate this issue. Agreed to close this @felixarntz @aaemnnosttv FYI.

[2021-06-23 13:34] #3584 closed

[2021-06-23 14:03] wpdarren commented on #3540
### QA Update: ❌

@johnPhillips while this is looking great on larger screens, on smaller screens there are issues.  This site has a Google Analytics account with UA and GA4 properties. When connecting, the GA4 notice is cut off as per screenshot.  Also, when I go to the Analytics settings page and edit, the same issue occurs. I've been through the other flows on mobile and the notices look fine.

[2021-06-23 14:19] jamesozzie opened #3621 "Include verification method within a users Site Health information"
## Feature Description

Consider outputting a Search Console verification method within a users Site Health information. This would help with determining whether Site Kit was used to verify site owners or an alternate method, with alternate methods at present potentially causing disconnection issues or resulting in avoidable lengthy support topics.

Example issues with a manual verification:
- A u

[2021-06-23 14:25] wpdarren commented on #3509
### QA Update: Pass ✅

- Verified that the user feedback survey slides up upon page load and slide down when closed.
- Tested this on storyboard but also on my local site.  Screencast below.

https://user-images.githubusercontent.com/73545194/123114394-2bea5780-d437-11eb-9e8a-b576ba2912e3.mp4

[2021-06-23 14:27] tofumatt commented on #2998
I've created #3619 as a PR to address the Web Stories part of the ACs that I missed in review.

I think that's all that's needed to address the ACs, so if after having a look @felixarntz, can you assign this back to me and I'll make sure before moving this to Code Review?

[2021-06-23 14:50] wpdarren commented on #3516
QA Update: ❌

@asvinb as per our conversation on Slack.  I am seeing the tooltips on Storyboard for the single question survey icons and help icon. When I test on my site though, I only see the help icon tooltip but not the user feedback form tooltips. Thanks!

[2021-06-23 15:00] aaemnnosttv opened #3622 "Clarify wording of permissions modal when creating a web data stream"
## Feature Description

When setting up Analytics with GA4, if the selected GA4 property does not have an associated web data stream, or does not have one that matches the URL of the WP site then Site Kit will automatically create one. This happens automatically when creating a GA4 property as well, but since the two actions require the same scopes, the user only sees the prompt for creating a new

[2021-06-23 15:02] aaemnnosttv commented on #3622
@felixarntz I added some initial language to use, assigning to you to finalize. cc: @marrrmarrr

[2021-06-23 15:03] johnPhillips commented on #3564
Sorry about that @aaemnnosttv - IB definitely updated this time!

[2021-06-23 15:13] aaemnnosttv opened #3623 "Improve experience of actions that require additional scopes"
## Feature Description

Certain API requests in Site Kit require additional scopes than those required for the minimum needed for module setup and function which are generally read-only. E.g. creating a new Analytics property.

When the request is made, Site Kit will return a special error if the user has not granted sufficient permissions to perform the action and is prompted with an action-speci

[2021-06-23 15:16] himanshu007-creator commented on #3531
Hi, i would like to work on this issue!

[2021-06-23 15:29] wpdarren commented on #2910
### QA Update: Pass ✅

- Verified that the opt out snippet does not appear
- Verified that the option to exclude users from tracking is not displayed in Analytics settings.

![image](https://user-images.githubusercontent.com/73545194/123125115-25aca900-d440-11eb-9ffd-eb65aafb8b61.png)

[2021-06-23 15:45] johnPhillips commented on #3540
@wpdarren Good catch, thanks.
This appears to be a pre-existing issue as when I revert the change the issue is still visible. It might be to do with the dropdown overflowing the container, because the content wraps perfectly when I remove the dropdown from the markup:

![Screenshot 2021-06-23 at 16 41 30](https://user-images.githubusercontent.com/2470911/123127465-36f6b500-d442-11eb-9d71-3f87702ea

[2021-06-23 16:23] eugene-manuilov commented on #3528
@felixarntz could you please take a look at Matthew's question here: https://github.com/google/site-kit-wp/pull/3610#discussion_r657231328 ?

[2021-06-23 16:27] aaemnnosttv commented on #3616
@eugene-manuilov – I took a look at your PR there and while it's a fairly small change, I'd rather not add a GA4 specific method there. After taking a closer look, I found we can simplify it a good deal by calling the same method with GA4 before it is done for GA. I created a branch with my work here: https://github.com/google/site-kit-wp/compare/fix/3616-ga4-deactivation-alternative

It also repl

[2021-06-23 16:45] felixarntz commented on #3406
IB ✅

[2021-06-23 16:47] eugene-manuilov commented on #3556
@johnPhillips could you please add QA brief?

[2021-06-23 17:13] eugene-manuilov commented on #3616
Sounds good to me, @aaemnnosttv. Let's go with your branch then. Could you please create a PR for your branch and update the IB?

[2021-06-23 17:15] aaemnnosttv commented on #3340
Sounds good to me @felixarntz 👍  My main concern was the timing and maybe we could avoid the mass update by letting Husky handle it in chunks but I've updated the ACs to mention that everything should be formatted as well as the importance of timing. Thanks all!

[2021-06-23 17:45] eugene-manuilov commented on #3616
IB :heavy_check_mark:

[2021-06-23 18:04] felixarntz opened #3625 "Add Idea Hub feature tour on WordPress posts page"
## Feature Description

In addition to #3524, another feature tour should showcase the possible Idea Hub interactions on the WordPress posts page.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

A new tooltip tour `ideaHubPostsTable` should be displayed on the WordPress admin posts list table _if_ the `i

[2021-06-23 18:04] aaemnnosttv commented on #3255
@ivankruchkoff apologies in advance if there was a misunderstanding about the approach from earlier but I'd prefer if we didn't introduce a loop as part of the fallback. Let's simply format the number without any options in the catch.

What we could do as a simpler non-looping intermediate effort to preserve graceful degradation is just pull out all the known "risky" options and retry without thos

[2021-06-23 18:06] felixarntz commented on #3524
@marrrmarrr Overall sounds good, I've amended the ACs a bit to describe the requirements a bit more separately and defined an internal identifier to use for the feature tour.

I've split out the second separate feature tour you had added here into another issue #3625 - let's discuss this further before moving ahead because there are some additional complexities there (it would be a feature tour th

[2021-06-23 18:22] felixarntz commented on #3070
@aaemnnosttv Sounds good. I've added to the ACs this high-level approach, specifically that it should be handled "automatically" on the server-side using a custom Site Kit-specific Analytics metric.

[2021-06-23 18:43] felixarntz commented on #2998
@aaemnnosttv I'm not sure I follow your comment https://github.com/google/site-kit-wp/issues/2998#issuecomment-866651638 - for Web Stories without the AMP plugin, the AMP mode needs to be "secondary" since probably the rest of the side is non-AMP.

Otherwise, I think we've discussed earlier, so just leaving the feedback here that basically for now if AMP is relevant it should _always_ be "secondar

[2021-06-23 18:45] felixarntz commented on #3622
@aaemnnosttv Sounds good - let's move this forward.

[2021-06-23 19:07] jamesozzie commented on #3606
@HFigarella Thanks for the update. Just to let you know we're awaiting traffic on a couple of tests sites to replicate your setup. We've used subdomains with similar characters to your own. We'll keep you posted here, thank you.

[2021-06-23 19:44] aaemnnosttv commented on #3564
Thanks @johnPhillips 😄

IB ✅ although it still needs an estimate. Would you please add one? Once added, it can go straight to the EB 👍

[2021-06-23 19:53] aaemnnosttv commented on #2998
@felixarntz currently in `Context::is_amp`, we only check that current post is a `web-story`, but the bullet in the ACs makes it sound like this should actually be based on whether the plugin is active at all rather than the context of a specific post – which makes sense for things like settings which would never have that context.

So just to confirm, we need to update `is_amp` and `get_amp_mode`

[2021-06-23 21:21] felixarntz commented on #3528
@eugene-manuilov Left a reply. Let's cut off anything after the second segment (if there is more, which usually won't be, but might).

[2021-06-23 22:22] tofumatt commented on #2585
AdSense stories and graphs look good and VRTs are passing pretty consistently regardless of dates now.

QA ✅

[2021-06-24 00:33] felixarntz commented on #3518
@eugene-manuilov One more thing affecting this has been clarified by the API team just now, which I've updated in the ACs:

So other than I assumed before, we will need to pass `saved(false)` to only get new ideas back.

[2021-06-24 07:00] ivankruchkoff commented on #3255
@aaemnnosttv do we have a list of the "risky" options somewhere? Or do we just want to go with `[ 'style', 'unit', 'signDisplay' ]`?

Will update with memoized logging.

[2021-06-24 07:56] aaemnnosttv commented on #3255
@ivankruchkoff yeah, I think we can use the WebKit source code linked above as a reference. We should target specific key-value pairs in some cases and can just remove the key in others. Lodash `omit` and `omitBy` should be useful here.

Let's remove these key-value pairs unconditionally in the intermediate fallback:

[code]

Additionally, `signDisplay` and `compactDisplay` keys can be removed ent

[2021-06-24 08:43] ivankruchkoff commented on #3255
Makes sense @aaemnnosttv. Back to IBR with you.

[2021-06-24 08:56] ivankruchkoff commented on #3514
@tofumatt updated based on CR feedback and added QA brief. Back over to you.

[2021-06-24 09:01] asvinb commented on #3516
Thanks @wpdarren . A follow up PR has been created.

[2021-06-24 09:04] johnPhillips commented on #3556
@eugene-manuilov See the comment above: I think the idea is to wait until https://github.com/google/site-kit-wp/issues/3518 is merged so that we can QA this properly.

@felixarntz can I clarify something:

This issue was just building out the actions, so I am not sure how it could get a regular QA? I guess we would need https://github.com/google/site-kit-wp/issues/3519 and https://github.com/googl

[2021-06-24 10:48] Hazlitte commented on #3508
** QA ✅  **
I checked the stories, had a look at the code and forced a notification.

[2021-06-24 11:27] Hazlitte commented on #3616
** QA ✅  **
I setup a new site with UA and GA4 properties, a release zip build and `ga4setup` enabled.  The properties were deleted after disconnection.

[2021-06-24 11:43] ivankruchkoff commented on #3524
Over to IBR, with a few questions:

`The user has successfully completed Idea Hub setup.` - what criteria can we use here? I think isActive + hasIdeas from the surrounding points will cover it off.

Can we point at two items in a tooltip? Or is the supplied target sufficient (pin icon)

I saw that we don't add storybook for each step of each tour and backstop screenshots in https://github.com/goog

[2021-06-24 12:02] wpdarren commented on #3572
### QA Update: Pass ✅

- The invalid JSON is not reported as per the QAB.

![image](https://user-images.githubusercontent.com/73545194/123259464-6530cf00-d4ec-11eb-97bb-96597d783dcb.png)

[2021-06-24 12:25] danielgent commented on #3174
@asvinb Just a query about one point in the IB  `stories/widgets.stories.js only the WidgetArea child stories.` I don't see child mentioned in any of the story names and I don't know enough about the widget API refactor to guess :see_no_evil:

[2021-06-24 12:28] tofumatt commented on #3522
@johnPhillips pointed out this could use storybook coverage as well, so that's been added to the IB and the estimate has been tweaked—we have the capacity in this sprint but just highlighting here 🙂

[2021-06-24 12:28] aaemnnosttv commented on #3255
Thanks @ivankruchkoff – a few details to finalize but this is basically good to go.

I'm not sure if we need a generic utility for the logging as it is perhaps even more simple to just memoize the console method you want.

[code]

This wouldn't work for more complex arguments but it will work fine for our purposes here. It just needs to be local to the module rather than inside the function. We ca

[2021-06-24 12:48] wpdarren commented on #2292
### QA Update: ✅

- Confirmed that the message has been changed on my local site and also the Storyboard.

![image](https://user-images.githubusercontent.com/73545194/123265337-d96e7100-d4f2-11eb-8d54-14a3b5beb08e.png)

[2021-06-24 14:19] eugene-manuilov commented on #3518
@felixarntz, unfortunately, it doesn't seem to work... I get 404 errors for all combinations. Here is what I have:

[code]

It throws an exception with 404 status code and HTML code in the message that renders into this:

![sitekit 10uplabs com_wp-json_google-site-kit_v1_modules_idea-hub_data_new-ideas__locale=user](https://user-images.githubusercontent.com/873049/123279179-4a705180-d510-11eb-94d1

[2021-06-24 14:24] aaemnnosttv commented on #3255
IB ✅ 😄

[2021-06-24 14:52] aaemnnosttv commented on #3616
@Hazlitte The properties themselves should not be deleted, only the settings values for them (all of the module's settings really). I think that's what you meant, but just wanted to clarify that no actual properties were deleted? 😅

[2021-06-24 14:54] Hazlitte commented on #3616
@aaemnnosttv Oops, yes you are right.  I meant the settings values in the options table. 🤦‍♂️

[2021-06-24 15:04] danielgent commented on #3174
![ib says not to do](https://user-images.githubusercontent.com/8496063/123286297-16942c80-d50e-11eb-860f-678c3ae15050.png)

There are a few that overflow when viewed as Small Mobile, but the IB says explicitly not to change these (under `stories/module-adsense.stories.js except:`)

[2021-06-24 15:13] wpdarren commented on #3517
### QA Update: ❌

@felixarntz @aaemnnosttv With a site that has live Adsense data (no tester plugin activated) For 7, 14 and 90 days, there's no chart appearing.  For 28 days, the chart does appear and you can see that there's data for these periods, be it small amounts.

![image](https://user-images.githubusercontent.com/73545194/123287658-cc5b7d00-d506-11eb-935b-f76c4abfaf4b.png)

https://user-i

[2021-06-24 15:21] aaemnnosttv commented on #3540
@wpdarren the mobile issue looks like the same as this one: https://github.com/google/site-kit-wp/issues/3497
If so, it would be great if you could add any additional information on that one if needed.

If that's the only issue here then I think we can leave it to be handled in that issue. Was there anything else?

[2021-06-24 15:29] wpdarren commented on #3540
@aaemnnosttv I couldn't see anything else, so will have a quick run through it and then get this to approved.  I'll also have a look at #3497 and add any additional information :)

[2021-06-24 15:37] Hazlitte commented on #3406
@danielgent @felixarntz I just wanted to confirm that I should be creating the new `errors.js` store in a new `googlesitekit/data/site` folder and not in the existing `googlesitekit/datastore/site` one.

[2021-06-24 15:54] felixarntz commented on #3517
@wpdarren Thanks! Do you see any (request) errors in the JavaScript console in devtools when changing the date ranges to those values where it doesn't return anything?

[2021-06-24 15:59] felixarntz commented on #3518
@eugene-manuilov Ohhh wow - I think the API documentation is incorrect there. Now I realize why I was confused before between the term "platforms" and "publishers". So, despite of what the docs are saying, you need to use `platforms/sitekit/...` instead of `publishers/sitekit/...`. When I open that URL, I don't get a 404. Sorry about the confusion here.

[2021-06-24 15:59] danielgent commented on #3406
@Hazlitte  that's definitely a typo on my behalf :smile:   Apologies. Put any more questions in here!

[2021-06-24 16:08] felixarntz opened #3628 "Update Google PHP client services library to latest version (again)"
Since the Idea Hub API is still being under development and sees frequent updates, we need to make sure we keep the Google API client services library up to date so that we can work with the latest version of that API intuitively.

Unfortunately it looks like the entire library was recently bumped to a `0.2xx` (see [release notes](https://github.com/googleapis/google-api-php-client-services/releas

[2021-06-24 16:15] wpdarren commented on #3517
@felixarntz interestingly, when I have gone into the same test site, no data appears for any period now, and a number of errors appears as per the screenshot.  I am unsure if this is due to the site I am using.  Please let me know if you'd like to see all the errors, or, try test this without another website with Adsense data.

![image](https://user-images.githubusercontent.com/73545194/123297478-

[2021-06-24 16:20] danielgent commented on #3174
I think for the QA It would be worth going through all the stories again viewing as small mobile

[2021-06-24 16:22] danielgent commented on #3174
These stories are mentioned in the IB but they do not render for me, they're all blank for me on develop  :smile:

![stories do not render](https://user-images.githubusercontent.com/8496063/123298590-f28a1880-d518-11eb-875c-75348e41c7f7.png)

[2021-06-24 16:22] felixarntz commented on #3524
@ivankruchkoff

It is sufficient here to check whether the module is "connected" in addition to "active" - "connected" essentially means the setup is complete.

Yes, pointing to the pin icon is sufficient. The idea is to just point to the general area (just in case there's a selector for e.g. a `div` that wraps both icons - but if not, pointing to the pin icon works too).

I think it's sufficient

[2021-06-24 16:26] felixarntz commented on #3517
@wpdarren Ahhh thanks. I see, in [the metric docs](https://developers.google.com/adsense/management/reference/rest/v2/Metric) it looks like some of the supported metric values have changed in the AdSense API v2. I'll create a follow-up PR for you to test.

[2021-06-24 16:37] bethanylang commented on #3528
Sorry to barge in here, but wanted to add that there seem to be some missing words in the terms. It's currently:

This should change to:

cc @eclarke1

[2021-06-24 16:39] felixarntz commented on #3517
@wpdarren Can you re-test this again with PR #3630 please? I've updated the metrics Site Kit uses there accordingly. Please test without the AdSense mocks from the tester plugin, since I'll need to update it there as well.

[2021-06-24 16:54] tofumatt commented on #3508
@Hazlitte Did you trigger a notification when the User Survey is displayed, ensuring that the notification _didn't_ appear if the User Survey shows up? I can't tell from the comment you wrote above, but the issue here is about ensuring notifications don't appear if a User Survey appears—is that what happened?

[2021-06-24 17:15] marrrmarrr commented on #3542
@felixarntz these UI descriptions SGTM.

[2021-06-24 18:29] felixarntz commented on #3542
Thanks @marrrmarrr!

[2021-06-25 07:55] yogeshbeniwal opened #3631 "Web Vitals measurement in Analytics"
## Feature Description

Core Web Vitals measurement is critical after these considered as ranking factor. It will be good to include Web Vitals measurement in Analytics. This can be implemented using [web-vitals](https://github.com/GoogleChrome/web-vitals/) library.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2021-06-25 11:16] johnPhillips commented on #3542
Note to IB reviewer:
- I've estimated it at 15, largely because I was uncertain about refactoring in Storybook - there are about 5 stories that cover the 'edit' mode of the settings panel, for example. It might be that 11 is sufficient, let me know what you think.
- I wasn't sure whether there should also be a `trackEvent` call when the GA4 switch is toggled like the existing UA switch does

[2021-06-25 11:59] wpdarren commented on #3540
### QA Update: ✅

- Verified that the maximum width of the GA4 notice is 1098px on large screen sizes
- Also checked the notices on smaller screens to make sure no styling issues exist.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/123421623-fe2b1d00-d5b4-11eb-9092-83894279792b.png) - [Screenshot 2](https://user-images.githubusercontent.com/73545194/123421660-0aaf7580-d5b5-11e

[2021-06-25 12:48] wpdarren commented on #3528
### QA Update:  ⚠️

@eugene-manuilov @felixarntz this is looking good but an observation. On smaller screen sizes like mobiles, the spacing after the policy/terms notice is a concern for accessibility because you would have to touch the link to open it. On some devices  there is a menu/icons on the bar underneath, i.e. screenshot.  Wondered what you thought?  - [Screenshot](https://user-images.git

[2021-06-25 12:57] tofumatt commented on #3542
Looks great! I made a few tweaks to the IB to clarify `UseSnippetSwitch` vs `UseUASnippetSwitch`. I thought it was easier-to-follow with the renaming/import updates being mentioned at the top of the IB, then all subsequent references being to either `UseUASnippetSwitch` or `UseUAandGA4SnippetSwitches`, as appropriate.

To answer your questions: 15 hours and adding a `trackEvent` for GA4 sounds rig

[2021-06-25 13:37] wpdarren commented on #3586
### QA Update: Pass ✅

- With only a UA property selected, no information about GA4 appears in the settings form.
- Verified that you can change settings and save them.
- Verified that you see GA4 settings and you can change GA4 property as well as other Analytics settings.

![image](https://user-images.githubusercontent.com/73545194/123432964-db076a00-d5c2-11eb-9f7b-5141095a4afd.png)

![image](ht

[2021-06-25 14:13] tofumatt commented on #3622
The "You'll need to" implies you need to do it later, it's a sort of weird "pseudo-future tense". In #3544, we changed a similars string from "You need to select" to "You need to select" because it's something the user must do RIGHT NOW to proceed.

If the proposed message appears, the only way to continue is to proceed, so let's change it to "You need to grant Site Kit permission to create a new

[2021-06-25 14:24] bethanylang commented on #3606
@jamesozzie Assigning to you for follow-up.

[2021-06-25 14:26] bethanylang commented on #3618
Noting that we've had a fourth report of this today, but no real details to go on just yet. Monitoring as a possible code yellow for the week of June 28.

[2021-06-25 14:26] bethanylang commented on #3389
@jamesozzie Closing for now, but of course let's revisit if we get more reports.

[2021-06-25 14:26] #3389 closed

[2021-06-25 14:27] bethanylang commented on #3482
@jamesozzie Any updates on this?

[2021-06-25 14:39] jamesozzie commented on #3606
Still awaiting significant traffic, while also awaiting the site to be listed in Search.

For additional context we've created a subdirectory install using the same "unicodenáme" within the path of a domain that features an umlaut. Screenshot below. Note that there is traffic when accessing this site on Google Analytics, although minimum.   With no console errors we're awaiting both search and Ana

[2021-06-25 15:11] eugene-manuilov opened #3633 "User feedback form doesn't re-appear after returning to the dashboard page"
## Bug Description

An observation: the User Feedback Form Appears on the Dashboard but the user does not complete it. The user then goes to another module page and comes back to the Dashboard.  The User Feedback Form should then reappear, but it doesn't at the moment.

Related Asana ticket: https://app.asana.com/0/1200379030254833/1200498459236227

A possible solution for this issue is to cache t

[2021-06-25 15:46] wpdarren commented on #3517
@felixarntz this is looking better, we have data for 7, 14, 28 and 90 days now.

I have a few observations:

1.  We have minus data in the charts, i.e. for previous period, in earnings. I am assuming this could happen with Adsense, and could be linked to [3564](https://github.com/google/site-kit-wp/issues/3564). Wasn't 100% sure so reporting it.
2. The dates seem to be duplicated on the x-axis.  T

[2021-06-25 15:58] felixarntz commented on #3581
@bethanylang The language changes make sense to me, thanks! Removing the full stop though, since per some UX guidance we've been following, for individual single-sentence copy we don't use a full stop.

I removed this from the GA4 epic since it's related to the setup flow. Paging @marrrmarrr to approve wording.

[2021-06-25 16:03] felixarntz commented on #3588
@marrrmarrr Can you review the wording in the ACs (what @bethanylang suggested) and move forward to IB if good to go?

[2021-06-25 16:10] eugene-manuilov commented on #3518
Thanks, @felixarntz. Seems to work now, but I get a new error:

[code]

Did we forget to activate it in the developers console?

[2021-06-25 16:17] danielgent commented on #3502
Just to give an example of a task I've done a few times.  I need to delete a load of files. Instead of vscode then using eslint to syntax highlight, I have to leave it building to then open the files.  It's possible, but it's just way nicer to use eslint

![no import](https://user-images.githubusercontent.com/8496063/123455042-86bfb280-d5e1-11eb-899a-837d59c111b6.png)

Also it means that I can the

[2021-06-25 16:27] eugene-manuilov opened #3634 "WPDashboardIdeaHub pulls saved ideas even though the Idea Hub module is not active"
## Bug Description

When I checked XHR requests on the WordPress dashboard page, I noticed that there were Idea Hub requests that had been sent. It shouldn't happen because the Idea Hub module hadn't been activated on my site.

## Steps to reproduce

1. Make sure you have the idea-hub feature enabled, but the Idea Hub module disconnected.
2. Go to the WordPress dashboard page.
3. Check network req

[2021-06-25 16:46] jamesozzie commented on #3482
@bethanylang No update just yet unfortunately, awaiting search traffic on 3 sites setup for this purpose. I can't reproduce this on any existing test sites and for the new sites I'm awaiting Search traffic. I have pushed some test data for these sites and they are appearing in Search. I'll update this accordingly in a few days.

[2021-06-25 17:19] aaemnnosttv opened #3636 "React error when changing date range using Google Translate"
## Bug Description

In #2280, we fixed a React error that is possible when React tries to update the DOM after it has been changed by Google Translate. When this happens, it results in this error (which is not particularly helpful)

[code]

Looking at our metrics for reported React errors, I found that this error has still been happening to some degree since the original fixes that were released i

[2021-06-25 17:21] tofumatt commented on #2998
Moving this back to @felixarntz for the question, but after that please assign back to me and I'll wrap up the PR 🙂

[2021-06-25 17:32] aaemnnosttv commented on #3634
Thanks for raising this @eugene-manuilov.

Regarding your suggested fixes, it looks like the attached PR would work but I wonder if we should use this opportunity to simplify this component a bit in the process.

The main thing I see is that we're somewhat re-implementing `whenActive` inside the component rather than using that around it which would prevent the select from ever running if the modu

[2021-06-25 18:22] aaemnnosttv commented on #3278
@felixarntz we talked about conditionally relying on the intersection observer, but this may be more trouble than it's worth since we can't call hooks conditionally: https://github.com/google/site-kit-wp/blob/37e9cad8e29c8fa83bd8337bf9403f80243d42a4/assets/js/modules/pagespeed-insights/components/dashboard/DashboardPageSpeed.js#L92

The library does offer an `InView` component instead which we _co

[2021-06-26 02:37] HFigarella commented on #3606
J,

The good news is that I am noticing the url of the site you are testing on this image is an **IDN** (because the second character 'ü' is Unicode)

türkxxx.xxx [Unicode] = xn--trkxxx-3ya.xxx (ASCII)

for the purpose of the issue of GSK talking to the Analytics Reporting API what follows the domain name ($_SERVER['REQUEST_URI']) is irrelevant.

Therefore,

1. If the domain name türkxxx.xxx has a

[2021-06-26 04:34] HFigarella commented on #3606
**FURTHER DETAILED ANALYSIS OF GSK HANDLING OF IDN WEB SITES**

**Summary**: the solution is to get rid of an unnecessary $dimension_filter and its $dimension_filter_clause.

**Explanation**

The communication between the **GSK plugin** for WP and **Reporting API v4**  is done with this JSON representation:

[code]

where **viewId** is all is needed to identify the data to be displayed inside the

[2021-06-28 08:08] Hazlitte commented on #3508
@tofumatt Yes if the User Survey shows up within 5 seconds the notification is not displayed.

[2021-06-28 09:54] aaemnnosttv commented on #3390
Thanks @jamesozzie. My initial thought is that the existing language is more clear and will always be accurate because it's based on a capability. What I mean is that permissions checks in WordPress are almost always (read: should be) based on capabilities rather than roles. While it's true that all default roles except for Subscribers can write posts, there's nothing stopping someone from using a

[2021-06-28 10:02] aaemnnosttv commented on #3073
@cole10up is this something you can still see on any date range? If this was still an issue I would expect it would still show on the 90 day.

[2021-06-28 10:09] aaemnnosttv commented on #3073
@jamesozzie can you see if this can still be reproduced?

[2021-06-28 10:21] aaemnnosttv commented on #3621
Sounds like a good addition, perhaps below "User Capabilities" we have now? cc: @felixarntz

[2021-06-28 11:01] aaemnnosttv commented on #3622
@tofumatt in this case, I think future tense is more correct because the user is _about to_ be prompted to grant permissions. If we say they need to do it (now) it may be confusing that there is some action they need to take _before they can proceed_, which would arguably be more confusing since they need to proceed to grant the permissions. This is also consistent with the existing language in th

[2021-06-28 12:20] marrrmarrr commented on #3596
@bethanylang SGTM!

[2021-06-28 12:21] #3596 closed

[2021-06-28 12:42] eugene-manuilov commented on #3634
@aaemnnosttv the `whenActive` HOC is tailored for widgets only. In my opinion, we should avoid using it for regular components to escape a need to maintain different use cases in the `whenActive` HOC.

[2021-06-28 12:48] marrrmarrr commented on #3000
It would be good to make this more context aware, so people don't have to wonder whether they're tracking all users or only the non-logged in users.

@bethanylang do you have a link to the relevant Optimize help doc? I did a bunch of searching in their help centre, but can't seem to find anything about non-logged in users..

[2021-06-28 12:53] jamesozzie commented on #3618
Based on reviewing the Site Health information provided by 1 impacted user - with their topic since resolved without any action, the only plugin with a known [configuration conflict](https://imgur.com/7OyyYyI) is iThemes. There is an additional plugin extension active (Log cleaner for iThemes Security) which is referenced in the shared console errors.  To be tested while awaiting additional insigh

[2021-06-28 13:07] jamesozzie commented on #3000
@marrrmarrr @bethanylang  Happy to chime in here. I don't think there really is anything that provides sufficient context, I recall searching myself and [this is as close to an official guide](https://support.google.com/optimize/answer/7577190?hl=en#zippy=%2Cerrors%2Cwarnings%2Csuggestions) as I could find. There are some examples of users opening support topics in the Optmize Resource Hub where w

[2021-06-28 13:54] marrrmarrr commented on #3524
@felixarntz I left the refresh rate unclear for now in the tooltip text -- how frequently will prompts be refreshed? If this is already clear, let's update the tooltip.

[2021-06-28 13:57] marrrmarrr commented on #3581
Since we're at it, how about we add something about Page Experience too? That is not mentioned at all right now.

_Get insights on how people find your site, how to improve and monetize your site's content, and how to improve page speed, directly in your WordPress dashboard_

[2021-06-28 14:07] bethanylang commented on #3581
@marrrmarrr That makes sense to me, though I don't think we need that last comma:

_Get insights on how people find your site, how to improve and monetize your site's content, and how to improve page speed directly in your WordPress dashboard_

[2021-06-28 14:50] wpdarren commented on #3514
### QA Update: ❌

@ivankruchkoff I'm on `develop` branch and idea hub module is enabled via tester plugin. I go to the Site Kit Dashboard and into console and paste the code in the QAB.  The draft post is created but when I click on the trash link, an error appears.

![image](https://user-images.githubusercontent.com/73545194/123656615-fde68800-d827-11eb-8bf9-3129270713ed.png)

A message appears i

[2021-06-28 14:57] aaemnnosttv commented on #3412
@ivankruchkoff – I've refined the ACs a little bit here; assigning back to you to review the IB and revise if necessary. Thanks!

[2021-06-28 15:48] marrrmarrr commented on #3581
Sounds good!

[2021-06-28 16:04] wpdarren commented on #3530
### QA Update ❌

@Hazlitte for mobiles with wider screens, i.e. wider than 396 pixels, Google Pixel, then the Feedback survey still is left aligned.  Is this something we can fix easily?  You can see it in action on this screencast.

https://user-images.githubusercontent.com/73545194/123667890-7b16fa80-d832-11eb-92e7-ecc744ee4647.mp4

[2021-06-28 17:16] felixarntz commented on #2998
@aaemnnosttv @tofumatt Now I realize where the confusion is coming from - I think it is unclear currently what the intended purpose for `is_amp` is - possibly because the intention for `isAMP` in JavaScript is _different_. Let me clarify:

* `Context::is_amp` in PHP should check whether the _current_ (usually frontend) context is in AMP. In other words, the current implementation is correct, this

[2021-06-28 17:21] aaemnnosttv commented on #3514
@ivankruchkoff as discussed earlier, I'll open a new issue to address the problem around module activation dependencies.

[2021-06-28 17:35] aaemnnosttv opened #3639 "Add ability for modules to opt-in to unconditional registration and implement in Idea Hub"
## Feature Description

Idea Hub is the first module that has the requirement of needing to register hooks even when it isn't active.

This already happens with module settings, but we should allow for module classes themselves to have an always-on registration if they implement it.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2021-06-28 17:35] jamesozzie commented on #3073
@aaemnnosttv I have a couple of sites active that exhibit this behavior, both new domain setups, not registered with Search Console or Analytics previously. Happy to share a login. Some details below based on 1 site:

- No related console errors
- No invalid XHR responses
- Data does appear using the Analytics query explorer
- Based on previous tests this only occurs on new sites registered on Sea

[2021-06-28 17:35] felixarntz commented on #3528
@wpdarren Good catch! Re-posting your screenshots here for comparison:

**Here the spacing looks correct:**
![image](https://user-images.githubusercontent.com/73545194/123424680-13a24600-d5b9-11eb-8b8e-1bfb8730c9bc.png)

**Here the spacing looks off (below is less than above, making it hard to click the link):**
![image](https://user-images.githubusercontent.com/73545194/123426909-e0ad8180-d5bb-11

[2021-06-28 17:36] aaemnnosttv commented on #3514
New issue: https://github.com/google/site-kit-wp/issues/3514

[2021-06-28 17:38] felixarntz commented on #3524
@marrrmarrr We still haven't received this information, I'll bring it up again with the API team this week. For now, let's use "will refresh every 2-3 days", which is what we already have in the codebase on the widget itself. We can update this later, but it shouldn't block this issue.

[2021-06-28 17:39] wpdarren commented on #3514
I have assigned this back to QA, to re-test this after assistance from Ivan.

[2021-06-28 17:51] felixarntz commented on #3621
@aaemnnosttv I've defined ACs here, putting this under "User Status", since it's a similar type of value to "Site Status" and "User Status", plus it's closely related to the "User Status" value (since e.g. "not-verified" would also indicate a problem here).

We've decided to add this enhancement in a support team meeting last week, so moving it forward.

[2021-06-28 18:00] aaemnnosttv commented on #3517
@wpdarren This would be due to #3564 indeed 👍

Is this not the case with the current version? I've seen that before but don't recall if we did something do change it or not; it shouldn't really change related to this issue though.

[2021-06-28 18:01] jamesozzie commented on #3390
@aaemnnosttv Thanks for the additional insights. With regards support topics - no, there were no support topics questioning this particular configuration. Given this I'm happy to close this feature request, to be reviewed or discussed should users raise this in the forums.

[2021-06-28 18:04] felixarntz commented on #3517
@wpdarren The negative graph is the same problem as already defined in #3564, so that should cover that bit.

Regarding the duplicate dates, this looks like it's actually an unrelated problem not caused by this issue. It's also happening on other graphs when using a small date range like last 7 days. Can you open a dedicated issue to fix this throughout all graphs though please? Thanks!

Assigning

[2021-06-28 18:11] felixarntz commented on #3639
@aaemnnosttv ACs look good to me. Moving to IB.

[2021-06-28 18:45] bethanylang commented on #3606
@HFigarella Thank you for your detailed review and suggestions here, as well as your patience as we worked to investigate this issue on our end. I'm going to escalate this to our engineering team so that they can review your replies, ask any follow-up questions, and ultimately identify the best solution. We'll be back in touch here soon!

[2021-06-28 18:56] ivankruchkoff commented on #3514
Before trashing the post, we need to ensure that it's created correctly, the 500 critical error implies that there was some sort of error in finalising the creation of the idea hub post.

[2021-06-28 20:31] aaemnnosttv commented on #3636
@felixarntz ready for IBR – there are 2 options to consider, let me know what you think.

[2021-06-28 22:09] felixarntz commented on #3636
@aaemnnosttv Since we aim to get this into the release, I'd suggest going with the quick fix solution. Maybe let's do that for now and open a follow-up issue to explore the more elaborate fix. If you're okay with going with the minimal solution for now, IB ✅

[2021-06-29 08:36] eclarke1 commented on #3517
We have added [#3564](https://github.com/google/site-kit-wp/issues/3564) to sprint 52 (the current sprint) as it was in CR anyway.

[2021-06-29 08:58] Hazlitte commented on #3530
@wpdarren Good catch 🙂 I've just made some changes to the SASS for large width mobiles and done a small PR.

[2021-06-29 09:02] ivankruchkoff commented on #3524
@felixarntz

Updated.

Updated, I left the reference to backstop to cover the single story being loaded, but can remove that too.

Updated

Updated, my initial thoughts were that all the selector classes contained  `.googlesitekit-idea-hub` and thus would not ever appear.

Noted.

[2021-06-29 09:27] tofumatt commented on #3622
Fair enough; in that case: IB ✅

[2021-06-29 11:16] ivankruchkoff commented on #3412
IB, Test Coverage and VRT remain unchanged.

Per https://github.com/google/site-kit-wp/issues/3524#issuecomment-867776192 not making any points about backstop.

[2021-06-29 13:00] wpdarren commented on #3517
### QA Update: Pass ✅

- Tested the AdSense module to ensure that it works as expected, including the AdSense setup flows.
- Tested the AdSense module with real AdSense data.
- Tested the AdSense widgets in the dashboard with real AdSense data.
- While no UI/UX changes, checked the module on smaller screen sizes.

[2021-06-29 13:11] aaemnnosttv commented on #3255
@wpdarren @cole10up – due to the environment-specific nature of this bug, you may need to collaborate with @ivankruchkoff for QA as he is the only one with this environment that we know of 😄

[2021-06-29 13:14] bethanylang commented on #3591
@abdullah1908 As this is expected behavior as discussed in last week's support meeting, I'm going to close this out.

[2021-06-29 13:14] #3591 closed

[2021-06-29 13:14] wpdarren opened #3643 "Duplicate Dates on Graphs when 7 Days Selected"
## Bug Description

While testing #3517 I noticed that the dates on the x-axis were duplicated when 7 days was selected.  After further investigation it appears that this issue appears on all graphs, i.e. on AdSense, Analytics, etc.

![dates](https://user-images.githubusercontent.com/73545194/123802919-b45b7300-d8e3-11eb-87c0-a499d4b67164.png)

## Steps to reproduce

1. Make sure you are on the de

[2021-06-29 13:16] aaemnnosttv commented on #3516
Back to you @wpdarren for another pass 👍

[2021-06-29 13:28] wpdarren commented on #3530
### QA Update: Pass ✅

- Verified that the feedback survey is centered on mobile devices. Tested this on various small screen sizes and primary browsers.  - [Screenshot](https://user-images.githubusercontent.com/73545194/123805616-21700800-d8e6-11eb-8cf0-cfab31a21f5b.png)

[2021-06-29 13:38] wpdarren commented on #3516
@asvinb @aaemnnosttv I am unsure if it's user error or not but I am still not seeing the tooltips.  Here is what I have done to test this.  The storyboard looks fine. When I use the `develop` branch, tester plugin with feature enabled, and survey plugin, the tooltips do not appear when I hover over the close button or any of the ratings. I am assuming they should?

[2021-06-29 13:39] Hazlitte commented on #3406
Hi @danielgent.  During code review @eugene-manuilov pointed out that I can't remove this filter call to `googlesitekit.ErrorNotification`:

https://github.com/google/site-kit-wp/blob/8e9e890ad996bf7387007df2f9061a8e9f42827e/assets/js/components/legacy-notifications/index.js#L49-L53

I need to replicate the functionality that exists with the new `getInternalServerError` functionality.  From the IB

[2021-06-29 13:45] aaemnnosttv commented on #3516
@wpdarren this is only on `main` right now, can you try testing with this branch?

[2021-06-29 14:05] eugene-manuilov commented on #3174
@danielgent those stories seem to be broken. Could you please create a new ticket for it?

[2021-06-29 15:12] aaemnnosttv commented on #3636
IB updated to only include the simple fix for now, moving forward to EB 👍

[2021-06-29 15:23] wpdarren commented on #3514
### QA Update: ⚠️

@ivankruchkoff okay, got further long this time, no error when I created the Idea hub post, and it displays as [expected](https://user-images.githubusercontent.com/73545194/123824397-eaa1ee00-d8f5-11eb-8efe-a077332dd959.png) but when I go to trash the post, I receive a Javascript error 500.

`GET https://hivevine.com/wp-admin/post.php?post=7290&action=trash&_wpnonce=4d5d33c50d 5

[2021-06-29 15:46] Hazlitte commented on #3606
I've had a look into this and to maintain the dimensions filter functionality we could create a second array of unicode hostnames:
* Parse the `$hostnames` array
* if a hostname is `punycode` ( prepended by `xn--` ) create a unicode version using `idn_to_utf8`
Then concatenate the arrays before passing the unified array of unicode and `punycode` domains to the dimensions filter.

[2021-06-29 15:54] felixarntz commented on #3518
@eugene-manuilov 🤦‍♂️ Apologies, we had only activated it in the staging version so far. Can you try again now?

[2021-06-29 15:55] felixarntz commented on #3524
@ivankruchkoff Excellent - IB ✅

[2021-06-29 15:57] felixarntz commented on #3606
One additional note: The same bug also affects AdSense, where we don't transform URLs as needed either. I'll include that in the ACs.

[2021-06-29 15:58] felixarntz commented on #3118
The service-side enhancement will soon be deployed, so that we can merge this for 1.37.0.

[2021-06-29 16:02] felixarntz commented on #2078
Closing since this should be covered in #2077.

[2021-06-29 16:02] #2078 closed

[2021-06-29 16:05] felixarntz opened #3644 "Remove server-side REST batch data infrastructure"
With the legacy data API no longer used (see #2258), we should also remove the related server-side infrastructure for batch requests, and the `data` batch REST endpoint.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Our batch endpoint `data` (defined in `REST_Routes` class) should be completely remov

[2021-06-29 16:23] eugene-manuilov commented on #3528
@felixarntz no, I don't think so. I have updated styles in the #3645, so it should look good now.

[2021-06-29 16:24] wpdarren commented on #3255
@aaemnnosttv apologies if this is obvious :D but when we run `new Intl.NumberFormat('en-US', {style: "percent", signDisplay: "never", maximumFractionDigits: 1}).format(1.234)` in the console, what should we expect to see if its an affected browser/OS? I am assuming that the environment we need is Mojave and Safari 14.0?  @ivankruchkoff  maybe it would be easier for all if we jump on a call tomorro

[2021-06-29 16:44] felixarntz opened #3646 "Remove unused legacy JS code after removal of legacy components and data API"
Now that all legacy widget components have been removed (see #1997 and #2077) and the legacy data API as well (see #2258), we should go through the JS codebase again (after a similar issue earlier, #2418) and look for unused code that can be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Any

[2021-06-29 16:45] johnPhillips commented on #1147
@felixarntz I've got a couple of questions about the special states / combining behaviour here.

I noticed that in the description for this issue there are screenshots of Search Console showing doubled up errors.
The current behaviour of the Widget API is not to combine erroring widgets, so just to clarify: is the intention that errors are combined here on the dashboard (i.e. to save space), or th

[2021-06-29 16:49] felixarntz commented on #3541
@aaemnnosttv @asvinb Thanks, makes sense. I've rephrased the ACs - and the IB already looks good ✅

[2021-06-29 16:59] aaemnnosttv commented on #2998
Thanks @felixarntz, that makes more sense now 👍

[2021-06-29 17:14] felixarntz opened #3647 "Remove legacy PHP-to-JS context/routing variables in favor of data attributes"
With the legacy JS architecture removed, certain variables that are passed from PHP to JS should be replaced with data attributes instead (partly a follow-up to #2653). Variables to no longer pass from PHP to JS are e.g.:
* `global.googlesitekitCurrentModule`
* `global._googlesitekitLegacyData.showModuleSetupWizard`
* `global._googlesitekitLegacyData.moduleToSetup`

---------------

_Do not alter

[2021-06-29 20:20] HFigarella commented on #3606
These are the times where **GSK** refers to the value of **site url** given by PHP in the **ASCII format**

[code]

If that filter mentioned above is to be kept, then as mentioned by H, **site url** has to be converted using `idn_to_utf8`

An easy way to accomplish that for the **Analytics data** is to modify line **934** of ....\google-site-kit\includes\Modules\Analytics.php) changing the value f

[2021-06-30 08:18] wpdarren commented on #3542
### QA Update: ❌

@johnPhillips When `ga4setup` was enabled on the tester plugin, and I created Analytics UA and GA4 properties, all looked good. I could see the two switches in settings to place the UA and GA4 code on the site.

![image](https://user-images.githubusercontent.com/73545194/123926592-ec19f780-d983-11eb-93e3-ef49315d0a55.png)

The issue arose though when I disabled `ga4setup` and the

[2021-06-30 08:24] wpdarren commented on #3255
**Update:** @ivankruchkoff has very kindly offered to do a screencast to show the issue and also the fix. 👍

[2021-06-30 10:27] aaemnnosttv commented on #3634
While we currently only use `whenActive` for widgets, I don't think it should necessarily be a widget-only HOC. Conditionally rendering another component using an HOC is one of the main use-cases for using an HOC for us because of the unconditional nature of hooks.

I'll move this forward for now and we can explore refactoring with `whenActive` or potentially a new/alternative HOC in a separate is

[2021-06-30 11:24] jamesozzie opened #3651 "Site Kit cannot access the WordPress REST API. Please ensure it is enabled"
## Bug Description

There have been multiple reports in just today with users encountering the below error, on sites which were previously connected fine:
`Site Kit cannot access the WordPress REST API. Please ensure it is enabled`

https://wordpress.org/support/topic/site-kit-cannot-access-the-wordpress-rest-api-please-ensure-it-is-enabled-3/ - **Resolved**  - Uninstall & Reinstall - another user

[2021-06-30 11:38] wpdarren commented on #3255
### QA Update: ✅

- Verified that the issue is fixed based on [Ivan's video](https://drive.google.com/file/d/1__kakyGm5-GgDjxddmYomkdHzCoCD_5g/view?ts=60dc2de3) (sorry too big to load here)

[2021-06-30 12:20] eugene-manuilov commented on #3518
Seems to work now, but the only answer I get is:
[code]

If I use a different domain, it always returns the error response:

[code]

[2021-06-30 12:40] eugene-manuilov commented on #3387
@felixarntz @Pratheep-lab showing just static copy `Creating draft` isn't enough because it might confuse users. The expected behavior and the common pattern that is understood by all users is to show a progress bar or a spinner that will convince users that something is still being done and they need to wait a bit more. What do you think if we replace the text with a small progress bar?

[2021-06-30 12:59] eugene-manuilov commented on #3387
We can't remove the reducerCallback completely because it still needs to add the new draft to the `draftPostIdeas` array.

The `core/ui` datastore is not intended for keeping a state of different processes. It is intended to store UI-related information like which tab is selected in a widget. For the purpose of this task, let's add the appropriate actions and selectors to the idea-hub datastore to

[2021-06-30 12:59] eugene-manuilov commented on #3387
Thanks, @asvinb. Please, check my comments regarding your IB ^.

[2021-06-30 13:01] danielgent opened #3652 "Broken stories in module-analytics-settings.stories.js"
## Bug Description

A lot of the stories are broken in `module-analytics-settings.stories.js`

## Steps to reproduce

Can be seen on this story and all the following stories (on both `main` and `develop`)
https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-settings--no-tag-gtm-property-w-access

## Screenshots

![broken-stories](https://user-images.githubusercontent.c

[2021-06-30 13:02] danielgent commented on #3174
Ticket created _Broken stories in module-analytics-settings.stories.js_ - https://github.com/google/site-kit-wp/issues/3652

[2021-06-30 13:04] danielgent opened #3653 "Broken story in menu.stories.js"
## Bug Description

Story broken in `menu.stories.js`

## Steps to reproduce

Can be seen here on `main` and `develop`
https://google.github.io/site-kit-wp/storybook/main/?path=/story/global--menu

## Screenshots

![menu-broken](https://user-images.githubusercontent.com/8496063/123965204-8003b780-d9b4-11eb-9420-183a5291c8e7.png)

---------------

_Do not alter or remove anything below. The followi

[2021-06-30 13:05] eugene-manuilov commented on #3652
Plus, the menu story is broken as well: https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global--menu

[2021-06-30 13:05] danielgent commented on #3174
TIcket created for broken menu story https://github.com/google/site-kit-wp/issues/3653

[2021-06-30 13:24] jamesozzie opened #3654 "Error: Request parameter is empty: accountID."
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/google-site-kit-configuration-problem/#post-14611546) is encountering various errors when connecting the various Site Kit modules, with one such error below when connecting either the AdSense or Tag Manager modules:
`Error: Request parameter is empty: accountID.`

In addition to the on the primary Site Kit das

[2021-06-30 13:28] wpdarren commented on #3542
### QA Update: Pass ✅

- Verified that `Place Universal Analytics code` and `Place Google Analytics 4 code` appears when GA4 is enabled on the tester plugin.  Also tested that the appropriate code appears in the source when settings updated.

![image](https://user-images.githubusercontent.com/73545194/123968163-e685d700-d9ae-11eb-9c02-4816719fdd3b.png)

- Verified that `Place Universal Analytics c

[2021-06-30 14:07] Pratheep-lab commented on #3387
@eugene-manuilov I agree, we did discuss a solution of both the loading spinner and the copy to be shown. I would recommend having both - a small loading spinner and the copy.
CC: @felixarntz

[2021-06-30 15:00] felixarntz commented on #3518
Thanks @eugene-manuilov - which domain did you use when you got the `nextPageToken` response? And which one for the 500 error? In case you're okay to share this.

I'll bring this up with the API team.

[2021-06-30 15:02] eugene-manuilov commented on #3518
When I use `http://sitekit.10uplabs.com`, it returns the response with the `nextPageToken` property. And when I used a random `http://mysite.com`, it returns the internal server error.

[2021-06-30 15:07] jamesozzie commented on #3606
@Hazlitte While you're looking into this I have a site setup with the same "unicodenáme" as part of the site URL where I can reproduce this issue. The site has traffic in both Search Console and Analytics directly, no issue with Site Kit's Search Console reporting, only Analytics.

[2021-06-30 15:10] eugene-manuilov commented on #3531
Thanks, @asvinb. IB almost looks good. However, let's also protect the `answerQuestion` callback from double clicks to avoid calling the `sendSurveyEvent` action multiple times. Could you please update the IB to account for it?

[2021-06-30 15:23] wpdarren commented on #2998
### QA Update: Pass ✅

- Site Kit operates in "AMP Secondary" mode when Site Kit, WebStories and AMP plugins are installed.

![image](https://user-images.githubusercontent.com/73545194/123986548-4f288000-d9be-11eb-8eb5-a26780abc059.png)

- Verified that a version of AMP 0.7.2 (latest pre 1.0) still had AMP Secondary in Site Kit Health settings.

- Reading through the AC I noticed that the issue al

[2021-06-30 15:30] eugene-manuilov opened #3655 "Cached user surveys have incorrect TTL"
## Bug Description

The current implementation of the `triggerSurvey` action does not set TTL when it caches the survey: https://github.com/google/site-kit-wp/blob/eea7808d8ab973561179d2d15d9fa327485aeb15/assets/js/googlesitekit/datastore/user/surveys.js#L109-L112

It means that all surveys are cached for an hour since it is the default value for the `setItem` function.

---------------

_Do not a

[2021-06-30 16:02] wpdarren commented on #3636
### QA Update: Pass ✅

- I was able to recreate the error using the steps above.  **QA note:** I had to translate, then change the period, and change it back again for the error to trigger. With the fix, the changes in date range did not trigger any error messages on the dashboard or on module screens. Fixed!

[2021-06-30 16:04] eugene-manuilov commented on #3633
@felixarntz can you check the `average time on page` metric in the Analytics account that we use for usage tracking? Just want to understand how long users stay on the dashboard page. Perhaps 2mins is too much or too low and we need to select a better timeout.

[2021-06-30 16:15] wpdarren commented on #3528
### QA Update: Pass ✅

**Verified:**

- Text on the feedback form reads  `By continuing, you agree to allow Google to use your answers and account info to improve services, per our Privacy & Terms`
- The word "Privacy" links to `myaccount.google.com/privacypolicy?hl=en-US`
- The word "Terms" links to `policies.google.com/terms?hl=en-US`
- The separator has equal spacing above and below, and follow

[2021-06-30 17:02] aaemnnosttv opened #3657 "Release 1.36.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-06-30 17:29] eugene-manuilov commented on #2077
@asvinb it's a good start, but we don't need to delete **all** legacy components. We need to delete only those legacy components that are used on module pages and leave legacy components for dashboard and details pages.

[2021-06-30 17:57] eugene-manuilov commented on #3621
@asvinb we can get these options using the Authentication class instance which is available in the Debug_Data class:

[code]

[2021-06-30 18:29] eugene-manuilov commented on #3523
IB :heavy_check_mark:

[2021-06-30 19:30] eugene-manuilov commented on #3174
@danielgent could you please add QAB?

[2021-06-30 19:45] eugene-manuilov commented on #3412
@ivankruchkoff, unfortunately, AC and IB for this ticket are a bit outdated now - we don't rely on the setup flow types in the settings form anymore. Now we show GA4 controls only if the user has already connected an account with GA4 properties during the setup flow. If the Analytics module has been already connected by the time the release with GA4 support is published, then we don't show the GA4

[2021-06-30 19:57] aaemnnosttv commented on #3517
@wpdarren if we knew what it was from maybe we could, but it's more of a minor inconsistency than a serious bug so I wouldn't say it's blocking at all. Thanks for opening that issue 👍

[2021-06-30 22:11] tofumatt commented on #3556
As mentioned by @johnPhillips, these API endpoints don't yet exist, but when the Idea Hub feature flag is enabled and they're called, it all works as-expected, with `method:POST datapoint:update-idea-state type:modules identifier:idea-hub` being the call made with the example action called in the Settings page in Site Kit.

So looks good, QA ✅

[2021-06-30 23:29] felixarntz commented on #3509
@aaemnnosttv It looks like you moved this to "Execution Backlog" after being in "Approval" - was this an accident? :)

[2021-06-30 23:45] felixarntz opened #3658 "Decouple Google API client creation logic to support individual clients for different users"
Currently Site Kit only uses one instance of a `Google_(Site_Kit_)Client`, since all requests are made on behalf of the current user. In the future, dashboard sharing will enable access delegation, in which for certain modules and read actions requests can be made on behalf of another user than the current one. When this happens, multiple different client instances may need to be used in combinati