[2020-11-03 15:59] aaemnnosttv commented on #2301
GHA runs them in parallel based on their job dependencies already, only steps are run in order. So if there was a common build step that they shared they would all wait for that like they do in the storybook or zip workflows but after that they would all run in parallel 🙂

Each job will show up in the PR list with the status, same as it does now. In the checks section you'll be able to see the out

[2020-11-03 17:07] adamsilverstein opened #2314 "Add user's Site Kit capabilities to Site Health report."
## Feature Description

Add user capability information to the Site Kit section of the Site Health screen in order to assist debugging issues where users reports insufficient capabilities to use Site Kit (eg. they get an error: `You don't have permissions to authenticate with Site Kit.`).

Site Kit uses a set of [primitive capabilities](https://github.com/google/site-kit-wp/blob/782d3697679bc478eb

[2020-11-03 18:58] ryanwelcher commented on #2245
@felixarntz @tofumatt while working on this, I found a couple of things that are not in the IB that I'm going to address.

 **averageObjectListValue**

The implementation above doesn't take into account missing keys for individual items in the `list` array when calculating the average. For example, if there are 4 items but only three have the `fieldName` key, the sum would be correct however the a

[2020-11-03 19:56] ernee opened #2315 "Code added to WordPress admin pages outside of Site Kit"
## Bug Description

As reported in [this support topic](https://wordpress.org/support/topic/my-personal-email-is-being-displayed-next-to-google-adsense-id-on-page-source/) in relation to the Adsense connection, there is code added to WordPress admin pages not related to Site Kit.

## Steps to reproduce

1. Setup Site Kit/ connect Adsense
2. View WordPress admin page source code where Site Kit is n

[2020-11-03 21:12] felixarntz opened #2316 "Implement feature flags support in PHP"
Site Kit already uses feature flags in JS (powered by Webpack) to enable certain features only for development builds. We should add support to achieve something similar in PHP.

Note that due to the way JS is bundled by Webpack, the JS code that is behind feature flags won't even be included in a production build. This isn't possible in PHP, but that is acceptable. We already ship a bunch of PHP

[2020-11-03 21:32] felixarntz commented on #2316
@aaemnnosttv I've specified ACs here (fairly close to an eventual IB) based on our conversation earlier. Please review so we can get this moving.

[2020-11-03 21:45] felixarntz commented on #2245
@ryanwelcher Good catch, SGTM!

[2020-11-03 21:58] felixarntz commented on #2043
@caseymorrisus Quick update here: The copy of the notification has been changed in the meantime - can you update it in the PR to the following please? _Answer 5 questions and Site Kit will customize your dashboard with specific metrics and opportunities that match your site’s goals_

(This has also been updated in the Figma file.)

[2020-11-03 23:19] tofumatt commented on #2228
That explanation checks out I think, but I'll admit following through the logic of this is a bit odd, especially as it's not well-documented. For instance: what's up with the weird `~2F` encoding of slashes anyway? Is it GA-specific? It's all a bit odd when put together 😆

I've updated the IB for now with those suggestions because I think they'll work for us. Let me know what you think, but I'll a

[2020-11-03 23:26] tofumatt commented on #2251
I like the idea of adding stories for those a lot! 👍🏻 They should probably be added to the VRT in general, but we can leave that as a separate issue if you'd like to move this one along.

Your AC/IB updates look good and I've updated the IB/QA Brief here with your suggestions. I figured it was handy to at least start on the QA Brief before Code Review, but it of course can be edited if required. I

[2020-11-03 23:31] felixarntz commented on #2251
IB ✅

[2020-11-04 02:48] cole10up commented on #2074
**Tested**

Installed, activated and setup latest develop Site Kit.

Tested the following modules:

AdSense - **Pass**
Analytics - **Pass**
Optimize - **Pass**
TagManager - **Pass**

Confirmed functionality with all modules connected:
![image](https://user-images.githubusercontent.com/57115907/98063445-eb38c200-1e04-11eb-815b-158e45d71bbc.png)

Confirmed no existence of googlesitekit.ModuleSetup-$

[2020-11-04 02:59] felixarntz commented on #2244
IB ✅

[2020-11-04 03:00] felixarntz commented on #2243
IB ✅

[2020-11-04 03:01] felixarntz commented on #2242
IB ✅

[2020-11-04 03:02] felixarntz commented on #2246
IB ✅

[2020-11-04 03:26] felixarntz commented on #1921
@aaemnnosttv The IB on this reads really solid! Just a few thoughts:

One thing that I think (unfortunately) needs to be maintained and is currently missing from here is continued support of the `handleDataSuccess` and `handleDataError` props which `AdSenseDashboardWidget` passes to `AdSensePerformanceWidget`. These props are crucial for conditionally adjusting the entire AdSense screen in case th

[2020-11-04 04:25] cole10up commented on #1995
**Tested**

Installed, activated and setup latest SK.

Confirmed functionality specifically around data loading for:

Adsense - **Pass**
Analytics - **Pass**
Tag Manager - **Pass**

One thing to note:
When switching date ranges, we're not showing a loading bar for Analytics and Adsense.

This is unrelated but noting that the loading bars are displayed on refresh.

Passed QA ✅

[2020-11-04 07:57] aaemnnosttv commented on #1921
Ah yes, good catch; I'll add this to the IB 👍

Do you mean that an error or zero-data in `AdSenseDashboardWidgetSiteStats` would not trigger the given handler? I've updated the IB assuming this is what you meant but just wanted to make sure.

Updated this part to use this instead if available or mark it with a TODO if needed.

---

IB updated 👍

[2020-11-04 08:16] phamquangbaoplus opened #2318 "Wrong Individual Post Page Stats"
## Bug Description

## Steps to reproduce

1. I have 2 posts in 2 languages, 2 post-slug is same (Polylang Pro)

- http://domain.com/cat/post-slug
- https://domain.com/vi/cat/post-slug

2. Go to https://domain.com/wp-admin/admin.php?page=googlesitekit-dashboard&permaLink=http://domain.com/cat/post-slug

3. It shows details of https://domain.com/vi/cat/post-slug

## Screenshots

## Additional Conte

[2020-11-04 08:51] aaemnnosttv commented on #2311
@felixarntz it seems using `uninstall.php` is preferred over [`register_uninstall_hook`](https://developer.wordpress.org/reference/functions/register_uninstall_hook/#source) since this would cause the `uninstall_plugins` to be additionally queried on every page load as it isn't an autoloaded option.

I understand the main difference is that the plugin isn't loaded normally when using the uninstall

[2020-11-04 11:03] aaemnnosttv commented on #2228
@tofumatt I think you may have misunderstood my original comment. I was only suggesting we should use `addQueryArgs` on the `path` argument **to** `getServiceURL`, not change the way it works internally. Also, your suggested use is missing query args to add, which is essentially a no-op.

Yes although it _might_ be used by other services, but there are other instances in the codebase (all Analytic

[2020-11-04 11:33] asvinb commented on #2238
@felixarntz I updated the IB, let me know what you think. I'll bump the estimates to 3 just in case there are some visual regressions.

[2020-11-04 12:57] asvinb commented on #2257
@felixarntz Looks like our ErrorHandler component is acting like as an "Error Boundary" and as per the docs, https://reactjs.org/docs/error-boundaries.html#introducing-error-boundaries, only class components can be error boundaries. Thus we won't be able to refactor this one into a functional one.

[2020-11-04 13:13] wpdarren commented on #2039
### QA update: Fail

**Failed:**

As user 1:  I completed all of the 5 questions and could see the confirmation page https://d.pr/i/ilCMir
As user 2:  When I logged in and went to the user input page, the first and second question no data appeared. The 3rd, 4th and 5th question, I could see the data selected. I did a quick screencast here to show you what I am seeing. https://d.pr/v/OWnRp1

**Conf

[2020-11-04 13:38] eugene-manuilov commented on #2189
@asvinb i have approved your changes, but VRT check has failed in your PR. Could you please check it and fix it?

[2020-11-04 13:43] eugene-manuilov commented on #2039
@wpdarren, the first two questions are user-scoped and its answers don't show up to other users. So, this is expected behavior.

[2020-11-04 13:54] wpdarren commented on #2039
### QA update: Pass

**Confirmed:**

1. Added define( 'SHOW_USER_INPUT_SETTINGS_PAGE', true ); to wp-config.php file
2. The user input page loaded wp-admin/admin.php?page=googlesitekit-user-input https://d.pr/i/IVtY0B
3. Confirmed that all screens were as per the UI mocks but with some observations. See note below.
4. Confirmation screen appeared with answers to questions  https://d.pr/i/ilCMir
5.

[2020-11-04 14:36] wpdarren commented on #1391
### QA update: In progress..

**Confirmed:**

1. Proxy splash screen loads fine.  Successfully connected SK to Google account and Search Console + GA. No Javascript errors appeared in the console on all steps. Step 1 https://d.pr/i/7k7lxW Step 2 https://d.pr/i/huZthx Step 3 https://d.pr/i/JVid67 Step 4 https://d.pr/i/m43RUd Step 5 https://d.pr/i/GhWgRD

2. GCP splash screen

3. When on the FE for

[2020-11-04 14:43] ryanwelcher commented on #2231
Ran `npm run test:js` and saw no unexpected console output.

QA ✅

[2020-11-04 14:58] ryanwelcher commented on #2186
Manual inspected settings page and everything works as expected

QA ✅

[2020-11-04 15:12] ryanwelcher commented on #2093
Manually inspected each external link in the admin:

**Dashboard Page:**
PageSpeed Insights link in Page Speed and Experience is missing the `aria-label`
![missing-aria-label](https://user-images.githubusercontent.com/1259027/98128494-013a9700-1e86-11eb-9d58-a2f6aba4ebd3.png)

**Search Console:** Passed
**AdSense:** Passed
**Analytics:** Passed
**Settings:** Passed

Sending back to Execution

[2020-11-04 15:23] aaemnnosttv commented on #2093
Nice catch @ryanwelcher 👍

Here's another one, which oddly isn't even using the `Link` component where it should be:
https://github.com/google/site-kit-wp/blob/5ace4c0ddd772de2785237acaf83173169baf4bd/assets/js/modules/analytics/components/settings/SettingsView.js#L90-L97

As for the first one, this can use `createInterpolateElement` to use the real `Link` component now as well.
https://github.com

[2020-11-04 16:15] felixarntz commented on #1921
IB ✅  @aaemnnosttv

Yes, that's correct.

[2020-11-04 16:30] aaemnnosttv commented on #2042
## QA

I tested this a fair bit and found that everything works as expected. QA ✅

Regarding the constraint on possible values for `googlesitekit_user_input_state`, this seems to be better implemented using a sanitize callback (`get_sanitize_callback` in `User_Input_State`) rather than only in `User_Input_State::set`. That way the logic applies more globally, e.g. setting via REST or CLI as well.

[2020-11-04 16:33] felixarntz commented on #2042
@aaemnnosttv Good catch! Let's open a follow-up issue for that.

[2020-11-04 16:43] felixarntz commented on #2311
@aaemnnosttv Sounds good, I've updated the IB.

[2020-11-04 16:47] felixarntz commented on #2238
@asvinb As far as I understand the updated IB, it sounds like the opposite of what should happen: The `SetupProxy` component should _only_ use classes like `googlesitekit-setup*` (which is the "new" setup flow), but now the IB says to rename some of those classes to `googlesitekit-wizard*`, which shouldn't be the case.

In the **old** setup flow, `googlesitekit-setup*` classes should be renamed to

[2020-11-04 16:48] felixarntz commented on #2314
IB ✅

[2020-11-04 16:50] aaemnnosttv opened #2323 "Enforce valid user input states with sanitize_callback"
## Feature Description

In #2042 we added a new `User_Input_State` user setting for storing the user input state. The setting has limited options for the values which are valid to set. This is currently implemented as as part of `User_Input_State::set`, but where possible we try to leverage core functionality through registered options/settings to have our logic applied more globally. As such, usi

[2020-11-04 16:51] aaemnnosttv commented on #2042
@felixarntz I opened https://github.com/google/site-kit-wp/issues/2323 as a follow-up.

Moving this one forward to approval 👍

[2020-11-04 17:01] felixarntz commented on #2310
@eugene-manuilov

Hmm, I'm not a big fan of using a static method here if it's avoidable. Since that class should have access to the current settings, I think this should rather be a non-static method that doesn't take any parameters and looks at the current settings instead.

How do you envision do that? As far as I can tell, right now that class doesn't have access to the user input state class.

[2020-11-04 17:36] tofumatt commented on #2180
QA ✅

[2020-11-04 17:53] felixarntz commented on #2323
IB ✅

[2020-11-04 18:15] aaemnnosttv commented on #2311
IB ✅

One non-blocking question remains from my previous comment that maybe you didn't see regarding the name of the action

If you'd prefer to keep `googlesitekit_uninstallation`, that's fine with me too, just a suggestion 🙂

Moving forward to execution and assigning back to you @felixarntz for the PR to be updated for the change in approach.

[2020-11-04 18:28] eugene-manuilov commented on #2310
It will be used in the Authentication class to determine whether settings have empty values or not. So, we can't make it be non-static.

[code]

Honestly, both places aren't perfect for keeping an instance of the `User_Input_State`. Both classes, `User_Input_Settings` and `Authentication` rely on it and one class will need to pull an instance from another one. So, I think it won't give us any bene

[2020-11-04 18:57] aaemnnosttv commented on #2074
@cole10up

Just to clarify that this is about the code base (as mentioned in the QA brief) not the page source. I've double-checked this on my end, so that's all good but something to keep in mind going forward 👍

[2020-11-04 19:17] ernee commented on #2277
@Rescovedo thanks for reaching out! You may be experiencing [this issue](https://github.com/google/site-kit-wp/issues/2118) for which we've been working with the WPML team to resolve. Please feel free to follow it for updates on when the fix is out.

[2020-11-04 19:58] sa2015ksa commented on #2036
https://github.com/WP-API/Basic-Auth

[2020-11-04 20:28] tofumatt commented on #2093
QA ✅ Looks good now, thanks! 👍🏻

[2020-11-04 20:35] felixarntz commented on #2311
@aaemnnosttv I'd prefer `googlesitekit_uninstallation` because it's in line with our other actions for activation and deactivation.

[2020-11-04 20:42] adamsilverstein commented on #2101
I tested this with the plugin you suggested and was able to reproduce the issue on the setup screen. We should be able to improve the experience here:

* On the initial setup screen ("Sign in with Google to set up Site Kit"), during the compatibility checks - we could display a message like "REST API is not responding" when we [catch an error](https://github.com/google/site-kit-wp/blob/106cbafd230

[2020-11-04 20:46] aaemnnosttv opened #2326 "Release 1.20.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-11-04 20:53] tofumatt commented on #2210
QA ✅

[2020-11-04 21:02] felixarntz commented on #2136
@eugene-manuilov Can you still add a QA Brief for this one?

[2020-11-04 22:06] felixarntz commented on #2311
@adamsilverstein Can you take care of QA for this one? Since it involves service-side checks. I think you already did most of this anyway.

[2020-11-04 22:22] #1623 closed

[2020-11-04 22:22] #2182 closed

[2020-11-04 22:22] #2039 closed

[2020-11-04 22:22] #1391 closed

[2020-11-04 22:22] #2186 closed

[2020-11-04 22:22] #2231 closed

[2020-11-04 22:22] #2150 closed

[2020-11-04 22:22] #1326 closed

[2020-11-04 22:23] #2178 closed

[2020-11-04 22:23] #2270 closed

[2020-11-04 22:23] #2295 closed

[2020-11-04 22:23] #842 closed

[2020-11-04 22:23] #2074 closed

[2020-11-04 22:23] #1995 closed

[2020-11-04 22:23] #2042 closed

[2020-11-04 22:23] #2180 closed

[2020-11-04 22:23] #2210 closed

[2020-11-04 23:21] adamsilverstein commented on #2311
Sure, I will give it another test against develop.

[2020-11-04 23:23] Rescovedo commented on #2118
Finally found my friends with the same issue <3

[2020-11-04 23:52] tofumatt commented on #2228
Okay, I _think_ I have written an IB that makes sense of what's happening here, but I'll be honest: I'm a bit unclear as to what's happening where and why. If I'm still off on this it might be better that you write the IB and have someone else review it, I might just be blanking on this one! 😅

[2020-11-05 06:52] cole10up commented on #2023
**Tested**

Installed, activated and setup latest development build of SK.

**Activated Analytics** module and ran a series of tests around the search box:

![image](https://user-images.githubusercontent.com/57115907/98206527-e6503d00-1eee-11eb-90b6-b49a8c1db2a5.png)

Checked look and feel, browser sizes, browser types and mobile:
![image](https://user-images.githubusercontent.com/57115907/9820659

[2020-11-05 07:35] cole10up commented on #1939
**Tested**

Installed, activated and setup latest release candidate of Site Kit.

Activated and ran tests on each module:

![image](https://user-images.githubusercontent.com/57115907/98210599-aa6ca600-1ef5-11eb-9478-0066ca583846.png)

Adsense:
![image](https://user-images.githubusercontent.com/57115907/98210655-bf493980-1ef5-11eb-88b1-8fc4d6400895.png)

![image](https://user-images.githubuserconte

[2020-11-05 07:57] asvinb commented on #2189
@eugene-manuilov I re ran the VRT checks and everything passes now 🤷  :)

[2020-11-05 08:41] aaemnnosttv commented on #2311
Looks like a typo was missed in CR which is causing the uninstall to fail with a fatal. Will submit a quick PR to fix this.

[code]

[2020-11-05 09:51] eugene-manuilov commented on #2189
Awesome! Thanks, @asvinb!

[2020-11-05 09:53] aaemnnosttv commented on #2311
Assigning to you @felixarntz as I can't merge to master 😄

[2020-11-05 14:38] adamsilverstein commented on #2311
Tried testing against develop and I'm seeing PHP warnings/fatals mentioned above. Once this is fixed I will try again.

[2020-11-05 15:29] eugene-manuilov commented on #2136
@felixarntz QA Brief is added.

[2020-11-05 15:49] aaemnnosttv commented on #2311
@adamsilverstein can you try again using master?

[2020-11-05 15:53] wpdarren commented on #2110
@aaemnnosttv @cole10up @kostyalmm

_Search Console deep link URLs (in both new widgets, via development build, as well as legacy widgets) should be updated with the new page=*$REFERENCE_SITE_URL query params, unless they are for a specific URL (in which case they, as before, should have a page=!$SPECIFIC_URL query param)._

I want to make sure that I am understanding this QA brief.   When SK has b

[2020-11-05 16:46] aaemnnosttv commented on #1999
## QA ❌

Everything is working well except there is a bug with `trackEvent` which is passing through the event value incorrectly. We haven't used this parameter until now so we haven't been affected by it until now.

Will submit a PR to fix this momentarily.

[2020-11-05 16:54] jamesozzie opened #2329 "Revise global "Permissions issue accessing data" notice for additional users if they only have access to some services"
## Bug Description

At present if a second administrator logs into Site Kit and verifies ownership they may not have permissions to an already connected Analytics account. In this case the "`Permissions issue accessing data`" notice could be improved. Alternatively it may be removed considering a suitable notice does appear within the product [product widgets](https://i.imgur.com/Z7mZOFY.png).

![

[2020-11-05 19:51] felixarntz commented on #2257
@asvinb Thanks for looking into that, looks like we can't change this one. Closing as invalid for now.

[2020-11-05 19:51] #2257 closed

[2020-11-05 19:57] felixarntz commented on #2137
@eugene-manuilov IB mostly looks good, however I think there's one thing off: The `submitChanges` action needs to be used by `SettingsModules`, not `SettingsModule`. So the `withDispatch` component should only be relevant for `SettingsModules`, and then `@wordpress/compose` isn't needed anymore.

[2020-11-05 20:06] felixarntz commented on #2310
@eugene-manuilov

The `Authentication` class has access to the `User_Input_Settings` instance, so it could call the method on that instance I think.

Ah yes, you're right. I looked again and saw that `User_Input_Settings` has access to the `Authentication` instance. I think that's a bit counter-intuitive, because the `Authentication` class is the "god-class" for all authentication-related behavior

[2020-11-05 20:13] kostyalmm commented on #2110
@wpdarren , firstly please make sure that you have access to a search console domain property. It is of the format `sc-domain:<>`
Set site kit up with this property and go to the search console page. Then check if a `*` character is prepended to the page parameter for the links that lead to the Search Console. Also, please check the same for search console components present on the Dashboard page

[2020-11-05 20:14] felixarntz commented on #2302
@eugene-manuilov IB ✅ , just two nit-picks:

Maybe better call this `description` instead? Nit-pick, but it's not really a subtitle.

Would be good to clarify that it should be added _right after_ **_Publish a blog_**.

[2020-11-05 20:17] felixarntz commented on #2289
@eugene-manuilov The IB here is not quite correct: The version check should be incorporated as part of the compatibility checks which happen on the splash screen, see `CompatibilityChecks` component.

In this case, we don't need to run any logic for the check, but it should still be implemented as part of that component, also visually. An admin notice would not be the same visual outcome. In order

[2020-11-05 20:18] felixarntz commented on #2284
IB ✅

@tofumatt Shouldn't this be an estimate of 1? :)

[2020-11-05 20:22] aaemnnosttv commented on #1999
## QA ✅

Re-tested after the above PR was merged and found that error events were tracked as expected with both `googlesitekit.api` (get|set) and legacy `dataAPI` (get|set) including `combinedGet`.

<details>
<summary>Screenshots</summary>

**API Error no `data.reason`**
![image](https://user-images.githubusercontent.com/1621608/98283372-47881700-1fa8-11eb-9fe6-0c015a3b6dbf.png)

**API Error with

[2020-11-05 20:25] felixarntz commented on #2041
@tofumatt The IB here is a bit too high-level IMO and doesn't go much further than the ACs. I think it would be good to describe a high-level plan to restructure the existing components as needed. For example, the `UserInputPreview` is impossible to be used for this in its current state: It would need to be split so that there is another component within it which _only_ shows the questions but not

[2020-11-05 20:26] adamsilverstein commented on #2311
I built from master and gave this another test on a fresh install. Everything worked as expected:

* Noted site marked in service when plugin deleted, unmarked when I reinstalled and connected another module.
* Noted request in "Log HTTP Requests" log to delete-site endpoint.

@felixarntz - Just noticed when testing this that the delete endpoint is at `o/oauth2/delete-site`: what do you think abou

[2020-11-05 20:36] felixarntz opened #2331 "Expose date picker in Site Kit header bar and make it sticky"
A long-standing UX issue with the plugin has been the date pickers on the various screens since they are only shown on top of the page, which makes it cumbersome to adjust the date when looking at metrics further down on the page. This issue aims at improving this.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2020-11-05 23:34] adamsilverstein commented on #2218
Thanks everyone for confirming you are experiencing the same issue, and for your patience while we work on this issue. We should have a fix in place soon.

[2020-11-05 23:34] LCthur commented on #2118
Hey guy, I'm using WPML and I have the same problem.

[2020-11-06 08:46] wpdarren commented on #2110
@cole10up @aaemnnosttv an update on this ticket. I have tried to set up a domain property on search console but to do this you need to add a TXT record on the domain name.  I've completed this task but when I go into verify the domain in SC, it's not seeing the change to the DNS record yet.   If we have a site, which has a domain property, and data, that would speed the QA up on this ticket. I'd n

[2020-11-06 09:06] aaemnnosttv commented on #2110
Thanks @wpdarren – I have a domain property I can test with so I'll take over here 👍

[2020-11-06 09:23] aaemnnosttv commented on #2110
## QA ✅

Checked SC deep links in new and old widgets, on main dashboard and page dashboards to ensure the `page` query parameter was correctly added when Site Kit was configured with a SC domain property.

<details>
<summary>Screenshots</summary>

**Main dashboard (new widget)**
![image](https://user-images.githubusercontent.com/1621608/98348666-b6558680-2021-11eb-8704-3246ae46cea8.png)

**Main d

[2020-11-06 09:45] asvinb commented on #2238
@felixarntz The IB has been updated. Let me know if that makes sense now. Guess I was confused by the older setup flow and the new one. I've gone through the files in `/assets/js/components/setup-wizard` to check if we have any `googlesitekit-setup*` to be refactored to` googlesitekit-wizard*` and there is none. To cater for the issue I mentioned here: https://github.com/google/site-kit-wp/issues/

[2020-11-06 11:36] eugene-manuilov commented on #2137
@felixarntz I have followed the AC which states the following:

Do we need to update AC then?

[2020-11-06 11:40] eugene-manuilov commented on #2302
@felixarntz ok, updated.

[2020-11-06 11:52] asvinb commented on #2179
### QA: Fail

**Confirmed**:
- Component files have been renamed

**Failed**:
- Running `npm run storybook` generates the following errors in the console about failed stories:

[code]

[2020-11-06 12:05] kostyalmm commented on #2179
@asvinb , if I run the command locally, I don't see the error.
Although, looking at the error here I can see that <pre><b>H</b>eader.js</pre> is not found by storybook but <pre><b>h</b>eader.js</pre> is there.
If I look at latest develop, the file https://github.com/google/site-kit-wp/blob/develop/assets/js/components/Header.js exists so you should not be getting this error.

My guess is that you

[2020-11-06 12:12] asvinb commented on #2179
You are right @kostyalmm . I had a hard time with the casing while working on another ticket 🤦 .

QA ✅

[2020-11-06 13:41] asvinb commented on #2259
@felixarntz For the DashboardApp, I've suggested in the IB to rename the file from `dashboard-app.js` to `DashboardApp.js` I'am even thinking about renaming all the files in assets/js/components/dashboard to be Pascal case. Let me know if you're ok with that, I'll tweak the IB to reflect that.

[2020-11-06 17:36] eugene-manuilov commented on #2310
Sounds good. I have updated IB to use a non-static method.

[2020-11-06 17:52] eugene-manuilov commented on #2289
@felixarntz got it. Unfortunately, we can't use `getWordPressVersion` selector because of the way how other checks are configured right now. I have updated IB to use `global._googlesitekitBaseData` directly to get the WordPress version. Let me know if it works.

[2020-11-06 18:41] adamsilverstein commented on #1999
@aaemnnosttv Excellent! Thanks for testing.

[2020-11-06 20:17] felixarntz commented on #2238
@asvinb IB ✅

One detail: I think `.googlesitekit-setup__splash .googlesitekit-setup__title` could be simplified to `.googlesitekit-setup__title`, which would be specific enough.

[2020-11-06 20:21] felixarntz commented on #2137
@eugene-manuilov Oh I'm sorry, I somehow misunderstood my own ACs when revisiting 🤦

This is all good, IB ✅

[2020-11-06 20:22] felixarntz commented on #2302
IB ✅

[2020-11-06 20:28] felixarntz commented on #2259
@asvinb Renaming the `DashboardApp` file makes sense to me in terms of these changes. Let's not worry about the other ones for now, there is #2260 that will eventually require all remaining files to be renamed anyway, so that's more suitable there.

The IB looks solid, only one thing is not mentioned there, which is that `LegacyDashboardSplashApp` will also require some modifications, it shouldn't

[2020-11-06 22:33] adamsilverstein opened #2334 "Flush browser/session cache when plugin upgraded."
## Feature Description

On the Admin->Plugins screen after the user upgrades Site Kit to the latest version, we should flush any session data stored in the user's browser (ie. sessionStorage). Otherwise this cached data may not work correctly when they return to Site Kit (for example if the expected cached data or data schema has changed).

Question: when the plugin is upgraded in the background (

[2020-11-07 02:30] jamesozzie commented on #2218
I've been able to recreate this on one site, a site which I didn't log into for a few weeks:
`Error: Quota exceeded for quota group 'default' and limit 'Queries per 100 seconds' of service 'pagespeedonline.googleapis.com' for consumer 'project_number:583797351490'.`

![image](https://user-images.githubusercontent.com/41326532/98429768-9e711780-20a0-11eb-8472-e4f3df717802.png)

Console error:
[code

[2020-11-09 05:23] ivankruchkoff commented on #2130
I have a draft PR (#2335 ) addressing most things except point 1) ModuleSettingsWarnings.

### 1) ModuleSettingsWarning

For ```Ensure that any other instances of ModuleSettingsWarning are refactored ( this list may not be exhaustive ) :```

- assets/js/components/modules-list.js
- assets/js/components/setup-module.js
- assets/js/components/notifications/module-settings-warning.js
- assets/js/comp

[2020-11-09 10:01] aaemnnosttv commented on #2181
@felixarntz I've updated the ACs (mostly additive for clarity) and IB here per our last conversation. Let me know if anything is out of place or missing here to prevent further unnecessary changes for @ivankruchkoff .

@ivankruchkoff – please take a look and let me know if you have any questions or concerns regarding these changes before resuming.

[2020-11-09 11:27] aaemnnosttv commented on #2043
@eugene-manuilov would you please add a QA Brief above?

[2020-11-09 11:38] asvinb commented on #2283
@felixarntz Looking at the latest designs, looks like this is the correct icon, which is slightly different from what you posted
![image](https://user-images.githubusercontent.com/31818/98536430-40f7e900-22a1-11eb-9090-52ac0580e05b.png)
The layout is also slightly different, with the "OK Got it!" CTA below the titles instead of being next to them

[2020-11-09 11:44] asvinb commented on #2259
@felixarntz I did mention about removing the usingProxy checks and keep only the ! usingProxy. It's mentioned in the first child of the first bullet point.  :)

[2020-11-09 12:57] mushlih-almubarak commented on #2171
Hi
I haven't heard of any updates in a while, has the problem been resolved?
Thank you

[2020-11-09 13:13] jamesozzie opened #2338 "JavaScript error: Loading chunk 0 failed"
## Bug Description

As reported by [one user in the WP Support Forum](https://wordpress.org/support/topic/tilde-sign-in-file-url-causing-issue-with-security-plugin/#post-13638032) a dashboard error appears once a user has a particular configuration applied within their [All in One Security plugin](https://wordpress.org/plugins/all-in-one-wp-security-and-firewall/).

The error occurs in this case w

[2020-11-09 13:18] jamesozzie commented on #2171
@mushlih-almubarak Providing you're using Site Kit 5.0 or above this should have a resolution for this soon.

[2020-11-09 13:30] mushlih-almubarak commented on #2171
Hi
I see the string "Audience overview for the last ... days" on the analytic tab has been translated in WordPress, but why not translate at my site?
![image](https://user-images.githubusercontent.com/72560310/98547103-b87d4680-22a8-11eb-822e-7832d5db832f.png)

[2020-11-09 13:31] swissspidy commented on #2171
@mushlih-almubarak As mentioned, this issue will be resolved soon.

[2020-11-09 13:51] mushlih-almubarak commented on #2171
So, it's not over yet?

[2020-11-09 14:56] adamsilverstein commented on #2118
Hi everyone, thanks for your patience while we worked on a solution for this. We added a filter into Site Kit and are working with WPML to ensure we are compatible. For full compatibility, you will need to be using the latest version of Site Kit and the next version of WPML - the fix should go out with WPML 4.4.5 (next release).

[2020-11-09 15:34] joecarletto commented on #2118
Well done, @adamsilverstein!

[2020-11-09 16:24] eugene-manuilov commented on #2301
Unfortunately, I haven't been able to create a solid PoC. :(

[2020-11-09 18:40] felixarntz commented on #2283
@asvinb The design in the Figma file for the notification is no longer the exact way it should be implemented, per a conversation that I had with @marrrmarrr. The way it is described in the ACs is how it should be, using the SVG icon that is in there and using a similar layout to how our existing notifications look. So for this issue you can basically ignore the Figma file.

Regarding the IB: I th

[2020-11-09 18:40] #2326 closed

[2020-11-09 18:41] #2046 closed

[2020-11-09 18:41] #1817 closed

[2020-11-09 18:41] #2093 closed

[2020-11-09 18:41] #2023 closed

[2020-11-09 18:41] #2110 closed

[2020-11-09 18:41] #1999 closed

[2020-11-09 18:41] #2311 closed

[2020-11-09 18:42] #1939 closed

[2020-11-09 18:42] #2179 closed

[2020-11-09 18:48] felixarntz commented on #2181
@aaemnnosttv @ivankruchkoff ACs look accurate, I think the modified IB can be a bit simplified:
* Instead of `state.editingModule`, I think it would be sufficient to make this a boolean like `state.isEditing`. Having the module slug there is redundant, since it must always be the same module slug as in `state.currentModule`.
* In the case descriptions, "If setting `slug` to `view` and `slug` is th

[2020-11-09 19:24] felixarntz commented on #2130
@ivankruchkoff I've done an initial review on the draft PR and left some comments that hopefully clarify a few things.

I think we can solve this by modifying `ModuleSettingsWarning` as described in the ACs so that it displays the error automatically. In other words, based on the `slug` prop, that component can then call `getCheckRequirementsStatus( slug )` and if it returns something (i.e. there

[2020-11-09 19:44] felixarntz commented on #2331
@asvinb

Note that the date range selector is currently only used if there is a current entity (i.e. `DashboardDetailsEntityView`), and this should be maintained. So it should only be passed as prop if `currentEntityURL`.

It would be great to add a second version of the `Header` component that contains the date picker to Storybook so we have it there too.

Otherwise the IB looks solid, I'd advise

[2020-11-09 19:47] felixarntz commented on #2310
@eugene-manuilov

Following up on my previous question, why do we need to pass `settings` to the method? Since it's in the `User_Input_Settings` class, I think it could be simplified to just look at the current settings. I don't think there is a scenario where we need to check this for settings which are not the current settings.

[2020-11-09 19:50] felixarntz commented on #2289
@eugene-manuilov IB ✅ , however I'd suggest to expose the WordPress version on `_googlesitekitSiteData`, where most other site-related data is exposed (the only data in `_googlesitekitBaseData` should be information that may be needed even outside of Site Kit screens like regular WP Admin). This way we're also prepared to introducing a `core/site` selector for this at some point.

[2020-11-09 20:02] felixarntz commented on #2301
@aaemnnosttv @eugene-manuilov @tofumatt Regarding the file structure, I think for the additional flexibility and the ability to re-run tests more individually it makes sense to go with separate files per test. With only one file I'm pretty sure this would make day-to-day usage more painful because of the occasional failures. Today, if a test job fails, we run that one again. If we go with a single

[2020-11-09 20:08] felixarntz commented on #2259
@asvinb Can you clarify where? Maybe we're misunderstanding each other here or I'm not seeing where you referencing - there is no first child of the first bullet point in the IB as far as I can tell. It _is_ mentioned in the first child of the first bullet point of the ACs, but it's not mentioned in the IB :)

The IB only mentions to create `LegacyDashboardSplashApp` as a copy, and then further do

[2020-11-09 20:17] felixarntz commented on #2236
@ryanwelcher The IB is on the right track, it's missing some arguments though which are necessary to pass to `getDateRangeDates` in order to maintain the current behavior (see how the `Analytics` PHP class calls `parse_date_range` for comparison):
* In all cases, `offsetDays` needs to be passed as `1`.
* Everywhere where `compare` is passed as `true`, `weekdayAlign` also needs to be passed as `tru

[2020-11-09 20:21] felixarntz commented on #2271
@ryanwelcher The changes described for `assets/js/googlesitekit/modules/datastore/modules.js` sound good, however we'll also need to update all `registerModule` calls from Site Kit modules to include the `storeName` argument, otherwise this will break in combination with the component changes where we should no longer assume `modules/${ slug }`.

One thing to describe a bit further in the IB is to

[2020-11-09 20:23] felixarntz commented on #2256
@kostyalmm IB ✅ , can you add an estimate please? :)

[2020-11-09 20:25] kostyalmm commented on #2256
Estimate ✅

[2020-11-09 20:25] eugene-manuilov commented on #2310
By passing settings as a parameter, we can eliminate a need to re-fetch settings after synchronizing it in the `set_settings` method. Plus, it will be easier to write phpunit tests for that function if we provide settings via args.

[2020-11-09 20:32] eugene-manuilov commented on #2289
@felixarntz hm... where is `_googlesitekitSiteData` defined? I can't find it in the code.

[2020-11-09 20:56] felixarntz commented on #2289
@eugene-manuilov My bad - `core/site` uses `_googlesitekitBaseData`, so nvm :)

[2020-11-09 21:01] felixarntz commented on #2310
@eugene-manuilov

I don't think we would need to re-fetch settings, they'd be cached already:
1. Set settings via API call. Return value is the up-to-date settings (same response that we would get from the API in a call to get the settings), so we can cache them.
2. Check if current settings are empty via new method. This will call `get_settings()`, which will already have valid cached data from t

[2020-11-10 00:05] ernee commented on #1025
adding another request from the support forums: https://wordpress.org/support/topic/google-cdn-2/

[2020-11-10 07:36] U-se commented on #336
Has there been any update on this? I also would need this exact feature. Either manually editing of the AdSense code or the possibility that Sitekit automatically adds the correct code of common modifications to the AdSense code (like forcing anchor ads to the bottom).

[2020-11-10 08:02] aaemnnosttv commented on #2181
@felixarntz

SGTM 👍  I've updated the IB to reference this name for the state instead.

From a semantic perspective, I don't think we should implement a toggling behavior for a "set*" action. If we want to offer that capability from the datastore (which is totally reasonable, and something I had added originally as well), then I think it makes more sense to name the action like `toggleSettingsPane

[2020-11-10 09:55] eugene-manuilov commented on #2301
One thing that I think we need to add to the IB is to make sure we run e2e tests when a PR is ready for review (not in the draft status):

[code]

[2020-11-10 10:35] jamesozzie commented on #2338
Closing with the fix in #1391 working for the impacted user

[2020-11-10 10:35] #2338 closed

[2020-11-10 11:19] asvinb commented on #2283
Thanks for letting me know @felixarntz . We'll keep the layout as we currently have and use the icon you attached.
About the new component, I thought of that initially, i.e having it in its own file, but then I checked DashboardSetupAlerts and saw how all the Notifications live in there. Anyway, the IB has been updated 😃

[2020-11-10 11:24] asvinb commented on #2259
@felixarntz Would you believe I look at it many times and didn't notice that I was actually looking at the AC instead of the IB 🤦  Apologies for that. The IB has been updated.

[2020-11-10 11:58] asvinb commented on #2331
@felixarntz IB updated as per your comments.

[2020-11-10 12:55] jamesozzie commented on #336
@U-se We've no update on this just yet. In the meantime if you're looking to modify the code snippet to include such modifications the plugin can recognize existing AdSense Auto ads code placed in your site when connecting the module.

[2020-11-10 13:16] wpdarren commented on #2284
### QA Update:  Pass ✅

**Verified:**

On the latest version of SK within search console the data is 3 years old. When I activated the develop branch I could see that this fix has been implemented but please note observation below.

![image](https://user-images.githubusercontent.com/73545194/98678695-ebebce00-2399-11eb-9f0e-5d9b333c1c38.png)

@asvinb in my search console, I can see data up to 11/0

[2020-11-10 13:38] wpdarren commented on #2188
### QA Update: Pass ✅

Verified:

- Setup site that has SC data but only had SC module activated for the latest release of SK.
- Then changed to the develop branch and reconnected the site.

The SC data for Analytics CTA was the same with the update.
Compared data and GUI. No console errors and the module looks the same, no difference.

![image](https://user-images.githubusercontent.com/73545194/9

[2020-11-10 16:14] wpdarren commented on #2111
@aaemnnosttv while I have an overview of what needs to be tested, we don't have a QA brief on this ticket.  Please could someone add this and I'll jump into testing it.  Thank you!

[2020-11-10 16:17] ivankruchkoff commented on #2130
Just a note that I'm moving back to Execution to resolve VRT issues.

[2020-11-10 16:22] aaemnnosttv commented on #2111
Thanks @wpdarren – that should have been added before going to QA, apologies for that. I've asked @adamsilverstein to help out here as he did the original testing to confirm the issue, so stand by for an update here shortlyish 😄

[2020-11-10 16:45] felixarntz commented on #2283
IB ✅

@asvinb Looking at existing code is always a good idea - although in some cases we have a bunch of legacy code that could have been structured in a better way, so I think in those cases it makes sense to diverge and e.g. make "modern" components standalone, so that they're coupled to the legacy code as little as possible.

[2020-11-10 16:47] felixarntz commented on #2259
@asvinb No worries, that's what I thought - it happens 👍

IB ✅

[2020-11-10 16:59] adamsilverstein commented on #2111
@wpdarren I added a QA brief above. A few additional notes:

* You need to have at least signed up for an AdSense account with your Google login for Site Kit to place the AdSense snippet. You should get to a screen that looks like this (if not a completed setup) when you enable the AdSense module:

![image](https://user-images.githubusercontent.com/2676022/98705242-bcf23f80-233a-11eb-8107-b85a9832

[2020-11-10 18:23] felixarntz commented on #2316
@aaemnnosttv Can you review the ACs here so we can move this to IB soon?

[2020-11-10 20:35] aaemnnosttv commented on #2316
@felixarntz AC's look good for the most part. A few thoughts on some of the points:

If we're including a file from dist, maybe a `json` file would be better? E.g. simply `{ "flagMode":"development" }` Then that would be loaded and parsed by the feature flag class on the fly and the filter would only be relevant for tests, passing the parsed value through (with `production` as the default still).

[2020-11-10 20:42] aaemnnosttv commented on #2334
@adamsilverstein @felixarntz I've thought about this before as well. Rather than flushing the cache, I think we should just include the plugin version in the cache key generation functions instead as a constant. That way, when the plugin version changes, it would use a different cache key hash for the same request parameters automatically, essentially achieving the same end result. That way no cha

[2020-11-10 20:55] aaemnnosttv opened #2344 "Webpack dist grows with every change in watch mode"
## Bug Description

In #1700 we updated our build process to write content hashes into our webpack bundle filenames to avoid conflicts with aggressive browser/cdn/plugin caching. While this works well, it currently doesn't clean up after itself when running in watch mode.

This causes unnecessary files to accumulate, which aside from the wasted disk space, increases CPU usage noticeably when makin

[2020-11-10 20:57] aaemnnosttv commented on #2344
@eugene-manuilov here's the issue I mentioned last week. cc: @felixarntz @tofumatt

[2020-11-10 21:06] aaemnnosttv opened #2345 "Refactor numeric event keyCode references with @wordpress/keycodes"
## Feature Description

We currently use a number of event listeners on keyboard events which listen for specific key codes to identify which key was pressed. Since the event's `keyCode` is numeric, it makes the code less expressive and harder to read without additional comments.

The [`@wordpress/keycodes`](https://github.com/WordPress/gutenberg/tree/master/packages/keycodes) package exports nice

[2020-11-10 21:06] aaemnnosttv commented on #2345
@felixarntz @tofumatt

[2020-11-10 21:34] felixarntz commented on #2316
@aaemnnosttv Sounds good. I've modified the ACs accordingly, defining that file as `dist/config.json`. It should be able to have `production` _or_ `development` as value for the `flagMode`.

[2020-11-10 22:04] tofumatt commented on #2197
QA ✅

[2020-11-10 22:38] felixarntz commented on #2334
@aaemnnosttv I'm not sure about that approach, wouldn't that result in us "polluting" browser storage with more and more unnecessary values? I think clearing storage on update is the more appropriate action - we won't use the existing storage any longer, so I think it makes sense to remove it.

[2020-11-10 22:58] felixarntz commented on #475
@aaemnnosttv

Tags for AMP and non-AMP are never used on a page simultaneously - secondary AMP only means that the current site has some URLs in an AMP version while others are in a non-AMP version. This is always a boolean decision, either AMP or no AMP. In other words, I think the addition of controllers makes this unnecessarily complex - I think we should stick to what's described in the ACs.

[2020-11-10 23:00] felixarntz commented on #2249
@aaemnnosttv Can you review the ACs here and add your suggestions?

[2020-11-10 23:01] tofumatt opened #2346 "Don't require imports or externally-defined APIs to conform to our acronym naming rules"
## Bug Description

Currently we don't do everything we can to detect the original of a function name/variable/etc. when checking if it conforms to our ESLint rules for naming. This causes false positives with acronyms eg (ESLint will error if importing a function named `useInstanceId` even though it is exported that way from `@wordpress/compose`). See: https://github.com/google/site-kit-wp/pull/2

[2020-11-10 23:09] felixarntz commented on #2315
While the support thread is focused on a piece of information in `_googlesitekitLegacyData` (which is not exposed anywhere it shouldn't be), there is an actual (minor) problem here, which is that we unnecessarily include certain Site Kit information on pages that are not owned by Site Kit (any WP Admin page, e.g. "Pages" or "Media"). Those non-Site Kit WP Admin pages should only ever include two t

[2020-11-10 23:14] felixarntz commented on #2027
IB ✅

[2020-11-10 23:15] felixarntz commented on #2027
@aaemnnosttv Not high priority to finish within this sprint, but since you already implemented it, and if this is good to go, we can just add Sprint 36 to it.

[2020-11-10 23:37] tofumatt opened #2347 "Improve Reset button UX (don't close modal on reset)"
## Feature Description

Currently the Reset flow is slightly awkward and doesn't provide the user much feedback of what's happening after they reset their site. See the following screencast:

![2020-11-10 23 31 26](https://user-images.githubusercontent.com/90871/98746382-4c383b00-23ad-11eb-8372-82952df33973.gif)

I outlined some of the issues with this UX and some suggestions here: https://github.

[2020-11-10 23:46] felixarntz commented on #2347
@tofumatt Probably a similar thing should happen for the Disconnect modal. I'm not sure we need to go as far as telling exactly what's happening, but it should be clear that the plugin is in a loading state and the button should be disabled until the user lands in the next URL (from the redirect afterwards).

[2020-11-11 02:08] ernee opened #2348 "JavaScript error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
## Bug Description

Several users have reported getting variations of this error in Site Kit's admin pages (see support topics below for error details).

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

Unfortunately, this hasn't been reproducible. Related support topics:

https://wordpress.org/support/

[2020-11-11 02:30] ernee commented on #2348
closing in favor of #2280

[2020-11-11 02:30] #2348 closed

[2020-11-11 02:54] ernee opened #2349 "JavaScript error: Cannot read property 'clearPermissionScopeError' of null"
## Bug Description

Reported in a [support topic](https://wordpress.org/support/topic/site-kit-encountered-an-error-clearpermissionscopeerror/
), a user encountered this error upon activation:

[code]
Not reproducible as of yet/ awaiting information from user for more context.

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 -

[2020-11-11 03:17] ernee opened #2350 "JavaScript error: An error occurred while running 'mapSelect': Cannot read property 'isModuleActive' of null"
## Bug Description

Reported in[ a support topic](https://wordpress.org/support/topic/an-error-occurred-while-running-mapselect/), a user encountered this error after install and navigating to the dashboard ([screenshot](https://ibb.co/CsMzPpL)):

[code]

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

[2020-11-11 06:00] cole10up commented on #2302
## QA ❌

Tested the content across multiple browsers and window sizes, compared to the Figma file above. As well as general functional testing.

See Detailed Test Results Below:

<details>
 <summary>Content Comparison</summary>

Note - Figma screenshots do not include the adjustments added from the team's comments - which I added under each screenshot with adjustments
 Figma Question 1:
![image](h

[2020-11-11 08:21] aaemnnosttv opened #2351 "Re-evaluate use of useCallback and related performance practices"
## Feature Description

Prerequisite reading:
* [`useCallback`](https://reactjs.org/docs/hooks-reference.html#usecallback)
* [React, Inline Functions, and Performance](https://reacttraining.com/blog/react-inline-functions-and-performance/#purecomponent-and-shouldcomponentupdate)

This issue is primarily about our use of `useCallback` but the considerations apply to a few other places as well, such

[2020-11-11 08:39] cole10up commented on #2302
Speaking with @asvinb -

Two adjustments are called out above specifically about the content

- Question 4 and 5 **in develop** are showing the following extra copy 'This question applies to the entire site and may have an effect for other users.' which isn't in the Figma design
- Question 5 is missing the instructional copy from the input form 'Minimum one (1), maximum three (3) keywords' from th

[2020-11-11 08:43] aaemnnosttv commented on #2315
@felixarntz in the commit you reference there, `window._googlesitekitAPIFetchData` was being set in the inline script called in the `before_print` callback of `googlesitekit-base`, it only moved to being a named `Script_Data` dependency but it was still run as part of the base handle before that.

The more expensive part which has changed since then is that we include the preloaded data in the API

[2020-11-11 10:18] eugene-manuilov commented on #2351
@aaemnnosttv thanks for creating this ticket, but I think that we need to clearly identify "performance" meaning and a metric behind it before we start suggesting improvements. Which performance metric do you mean (TTI, FMP, FCP, etc) and how much do you think it is affected by `useCallback` and functions binding usage? I just want to make sure that we aren't going to spend a few dozen hours on re

[2020-11-11 10:25] eugene-manuilov commented on #2310
Yes, I like it. Updated.

[2020-11-11 11:58] tofumatt commented on #2351
Yeah, that's a good call from @eugene-manuilov. It might make sense to, going forward, not bother adding `useCallback` where we don't need it—but maybe removing them isn't important for performance.

Separately it's a code-quality thing—if _some_ of our older functional components are using `useCallback` and some aren't, then it might be confusing as to the reason _why_ it's being used. That's als

[2020-11-11 12:33] asvinb commented on #2255
@felixarntz @aaemnnosttv While working on this IB, I found out one issue as a result of refactoring the `CompatibilityChecks` component into a functional one. Since we are using hooks to get the HTML markup(to look for the `googlesitekit-setup` tag),
[code]
it must be called at the top level of the functional component. Later in the code, we then set the `googlesitekit-setup` tag value like [this]

[2020-11-11 13:26] asvinb commented on #2302
@cole10up As per conversation I had with @eugene-manuilov , the copy 'This question applies to the entire site and may have an effect for other users.'  should only appear if the question `scope` is set to `site` and it should be correct.
As for the missing placeholder, I've issued another PR to fix that.

[2020-11-11 14:31] wpdarren commented on #2111
### QA update: Pass ✅

**Verified:**

With Site Kit Adsense module and Yoast / AMP plugins activated.

Home page for Non AMP has the Adsense snippet `adsbygoogle`
Home page for AMP Transactional mode has the Adsense snippet `amp-auto-ads`
Home page for AMP Standard mode has the Adsense snippet `amp-auto-ads`
Home page for AMP Reader mode has the Adsense snippet `amp-auto-ads`

Page for Non AMP has

[2020-11-11 15:07] felixarntz commented on #2315
@aaemnnosttv Thanks for clarifying, that makes sense.

[2020-11-11 15:08] felixarntz commented on #2310
IB ✅

[2020-11-11 15:09] wpdarren commented on #2190
### QA update: Pass ✅

**Verified:**

Compared a site on the develop branch to latest release.  Checked the GA dashboard charts to ensure no differences.
No errors in the console.  Confirmed that the refactor did not cause any issues.

![image](https://user-images.githubusercontent.com/73545194/98828191-bebf1e80-2472-11eb-8c1d-1e23b5445d1b.png)

[2020-11-11 15:31] wpdarren commented on #2193
### QA Update: Pass ✅

**Verified:**

Opened the Reset Site Kit modal. Reset the site successfully.

![image](https://user-images.githubusercontent.com/73545194/98831002-fda2a380-2475-11eb-933b-eae6de2d093f.png)

Opened the Disconnect account modal and revoked access then reset Site Kit.

![image](https://user-images.githubusercontent.com/73545194/98830900-e4015c00-2475-11eb-87fc-d5b390c360b6.png)

[2020-11-11 15:38] aaemnnosttv commented on #2228
@felixarntz IB is ready for review. I have a working POC but the IB has some improvements on this so there's no PR to go along with it yet. If ready to go, please send it back my way 🙂

[2020-11-11 15:49] aaemnnosttv commented on #2334
@felixarntz I don't think it would be a big concern since we use session storage as our primary request cache so any stale cache would naturally be flushed with the browser session.

I'm curious what @tofumatt would recommend here as the resident storage expert? 😄

[2020-11-11 15:52] aaemnnosttv commented on #2249
@felixarntz I'll have more context on what to add here once the IB for #2228 is approved 🙂

[2020-11-11 16:42] aaemnnosttv commented on #2027
👍  – there's one caveat to this which I read about when looking into this before which is that since the cancellation is triggered by your own workflow it won't work until that job runs; it sounds more obvious that it might seem if you're coming from another CI provider. Travis cancels all older job runs automatically, whereas this would potentially wait in the queue of other jobs (depending on ou

[2020-11-11 18:24] adamsilverstein commented on #2118
👋 Hello reporters - the new WPML version updated has started rolling out. When you have the new (WPML 4.4.5) version installed, can you please re-check Site Kit and ensure you correctly remain connected when switching languages?

[2020-11-11 18:28] aaemnnosttv commented on #2351
@eugene-manuilov – I think we're on the same page so hear me out 😄  To clarify, using `useCallback` is itself a performance optimization which has its own cost in terms of computational resources, but also in terms of developer experience and overall complexity in a component. This hook in particular is somewhat easy to use in a way which introduces bugs due to a function's dependencies and those

[2020-11-11 20:42] aaemnnosttv commented on #2228
@felixarntz as an alternative to adding the additional selector right away, we could also just bake that in to the proposed `AnalyticsServiceReportLink` since that would be the only place it's used so far, so it could do all the same things using the existing `getServiceURL` selector.

[2020-11-11 23:58] cole10up commented on #2302
@asvinb - One question as I tried 2 different sites. One with many users and another with one admin. Both are showing the copy 'This question applies to the entire site and may have an effect for other users.' on questions 3 and 4. What drives if the scope is set to 'site' or not?

Also, I checked the instructional copy on question 5. It seems the font color is too dark compared to the Figma desig

[2020-11-12 01:17] felixarntz commented on #2228
@aaemnnosttv IB mostly LGTM, however I'm wondering whether introducing `AnalyticsServiceReportLink` is a bit overkill. I don't see much benefit in this over calling the `getServiceReportURL` selector directly and passing the result to the `Link` component.

[2020-11-12 01:18] felixarntz commented on #2331
IB ✅

[2020-11-12 02:25] ernee commented on #2350
Update: the user from the related support topic reported the error [resolved after updating ](https://wordpress.org/support/topic/an-error-occurred-while-running-mapselect/#post-13647769)to version 1.20.0

[2020-11-12 04:40] ivankruchkoff commented on #2130
Resolved VRT issues, updated 3 VRT reference screenshots due to text changes.

[2020-11-12 07:46] asvinb commented on #2302
@eugene-manuilov Can you help out here please, namely the "scopes set to 'site' ". Can you provide some more details how it works?
@cole10up AS per our conversation in Slack, we have another ticket which tackles the styling of those pages: https://github.com/google/site-kit-wp/issues/2040
Because if you compare what we have on develop now with the designs in Figma, there are a lot of inaccuracies.

[2020-11-12 08:45] aaemnnosttv commented on #2228
@felixarntz sure – the main reason is that we need to call that selector for every row in the table, and we can't use `useSelect` in `renderCell` directly, it has to be in a functional component. In my POC that I showed you I had a generic `Cell` component just to kind of get things working.

We can't just use `Link` directly though because we need to select the URL to pass to it. After taking a c

[2020-11-12 09:36] aaemnnosttv commented on #2228
@felixarntz – I've updated the IB and included a link to the working branch I have which is only about 50 new lines. The nice thing about this approach is that it doesn't require the consuming component of the data table to reimplement classes used when rendering the cell, or the behavior of `options.showURLs`. I know we generally prefer to use `useSelect` over `withSelect` but I think this is the

[2020-11-12 10:47] eugene-manuilov commented on #2302
@asvinb questions with `site` scope apply to the whole site and can be answered by any user with appropriate capabilities. It also means that any user will see site-scope answers previously selected by another user.

In opposite to it, there are user-scoped questions (the first two) which are collected on a per-user basis. Answers for such questions can be viewed and edited only by a user who has

[2020-11-12 12:05] L-X-T commented on #938
Hello, is anybody reading this issues at all? 11 months since we reported this issue and still not fixed?

Come on Googlers, what's up?

[2020-11-12 13:31] swissspidy commented on #2070
Would this be as simple as detecting whether the plugin is active?

Noted 👍

[2020-11-12 13:33] wpdarren commented on #2314
### QA Update: Failed  ❌

**Fail:**

When SK is reset and the Google account is no longer connected the `googlesitekit_authenticate` and `googlesitekit_setup` user capabilities are checked :white_check_mark:  but not sure if this should be the expected behaviour. This site previously was connected so possibly that could be the reason why, but wanted to highlight this.

![image](https://user-images

[2020-11-12 13:55] aaemnnosttv commented on #2314
That looks expected to me @wpdarren. Those indicate that the user _can_ setup and authenticate which are necessary to use the plugin 🙂

The others that changed after you reset are based on being setup/authenticated already so that's why they turn red after reset. This probably should have been mentioned in the QAB as to what to expect, but it looks right to me 👍

[2020-11-12 14:01] wpdarren commented on #2314
### QA Update: Pass ✅

**Verified:**

- Viewed the Site Health page and Info tab.  Looked at the Site Kit data and can see the user capabilities information.

![image](https://user-images.githubusercontent.com/73545194/98944846-a7446c00-252c-11eb-803d-dd3569633fd2.png)

When SK is reset and the Google account is no longer connected the appropriate capabilities are ⭕ which as per the comment above

[2020-11-12 15:03] wpdarren commented on #2250
### QA Update: Pass ✅

**Verified:**

- Activated SK and GA within the development build.
- Observed that quarter-sized widgets are now half-width on mobile.

Dashboard on mobile
![image](https://user-images.githubusercontent.com/73545194/98953836-25f2d680-2538-11eb-92a7-47a9bba86de3.png)

Dashboard on tablet
![image](https://user-images.githubusercontent.com/73545194/98953923-3a36d380-2538-11eb-8

[2020-11-12 15:30] jamesozzie commented on #1945
Tested once more with SK 1.20.0 and AgeGate 2.10.2

While the image below does show duplicate URLs this is due to the site tested using paired AMP.
![image](https://user-images.githubusercontent.com/41326532/98959949-b828b980-24fb-11eb-81a0-c9319d2bac1e.png)

Escalating to L1, unable to reproduce in support.

[2020-11-12 15:31] ryanwelcher commented on #2236
IB Updated.

[2020-11-12 15:55] jamesozzie commented on #1533
@estereofonico You can setup Tag Manager independent of Analytics within Site Kit. You'll find out more on this in #1381.

Feel free to get in touch via the WordPress [support forums](https://wordpress.org/support/plugin/google-site-kit/#new-post) if you have encounter any trouble during setup. Thanks for your patience on this.

[2020-11-12 15:55] #1533 closed

[2020-11-12 16:12] ivankruchkoff opened #2355 "Lint all first-party JS + PHP"
## Feature Description

A recent travis run raised some javascript linting issues, we need to make sure we're linting all code the same as our CI pipeline.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All JS tracked in the repository should be included ESLint checks, unless explicitly ignored in the

[2020-11-12 17:49] cole10up commented on #2302
### QA :white_check_mark:

Thanks @eugene-manuilov and @asvinb for the clarification. This is good from my end, I'll followup with my findings when https://github.com/google/site-kit-wp/issues/2040 comes into QA.

[2020-11-12 18:18] aaemnnosttv commented on #2355
@ivankruchkoff – I've updated the ACs here to be a bit more robust, just to make sure we have everything covered. Can you review the IB to see if that's the only change that's needed? I have a feeling the `lint-staged` config is a bit overly specific regarding JS.

[2020-11-12 22:23] ivankruchkoff commented on #2355
`.eslintignore` defines which files should be ignored from lint,`lint-staged` is our pre-commit hook in `package.json` that specifies which linters should be called for their corresponding glob patterns. The aim of this ticket is more to ensure that we're linting every file that changes prior to committing.

[2020-11-12 22:45] adamsilverstein opened #2358 "Investigate high instance of `profile_id_not_set` errors."
## Bug Description

Our new error logging has revealed an unexpectedly high rate of errors from the `POST:modules/analytics/data/report` endpoint with the message/code: `Analytics view ID not set. (code: profile_id_not_set)`. (Note that profile ID is called a "View" in the Analytics UI).

This happens at this [code point](https://github.com/google/site-kit-wp/blob/edafc3d19bc305f2d829fa50f83df6308

[2020-11-13 07:46] aaemnnosttv commented on #2358
My first thought is that this could be coming from E2E, although we do have code in place which should disable event tracking completely there 🤔

[2020-11-13 07:59] aaemnnosttv commented on #2355
@ivankruchkoff I also think the linting config is correct, since this came up I think it's worth revisiting both to make sure we're all covered. I'll look into that more closely and revise the ACs.

[2020-11-13 11:45] aaemnnosttv commented on #2255
We have a selector for `isConnected` on `core/site` 🙂

@felixarntz – @asvinb and I had a conversation about this to explore a few other options and we came up with something like this:
- Add a new `checkSetupTag` (better name TBD) action to `core/site`
- Put the full set-tag-and-check routine in the control for this action, similar to a call to `submitChanges`, something like this:
[code]
- As for

[2020-11-13 13:17] wpdarren commented on #1945
Age gate plugin activated with SK and GA module.  As per the user, who highlighted that they only changed the `Use anonymous Age Gate` field in Advanced settings.  I also enabled `Change the page title` and changed the `Custom page title` in the Appearance settings so it was easier to identify in my SK analytics.

![image](https://user-images.githubusercontent.com/73545194/99075546-9eb76880-25f4-1

[2020-11-13 15:01] adamsilverstein opened #2360 "Refine data logged in error stats collection"
## Bug Description

In https://github.com/google/site-kit-wp/issues/1999, we added logging for plugin data requests so we could better understand API errors and monitor error rates.

The initial implementation includes the full error message, however this turns out to be overly verbose. The error message includes the full details and may error messages be localized into the user's language. Becaus

[2020-11-13 16:06] felixarntz commented on #2255
@aaemnnosttv @asvinb That all sounds good to me, +1 on creating an action to `core/site` and introducing a `useCompatibilityChecks` hook.

[2020-11-13 16:20] felixarntz commented on #2360
I'm 50/50 on whether we should do this. While the translations make our current tracking somewhat incorrect, I think having the message content can convey helpful information. Also not all content is translated anyway, that mostly (only?) applies to strings that come from our plugin but not APIs.

Maybe we can update our tracking approach to count/group results by only the error code?

[2020-11-13 16:37] AndrewErman commented on #2220
It looks like the plugin doesn't send transaction data (purchases, add to cart events etc..) to GA4. Could somebody advise, whether this is in backlog and if yes - what would be the estimates?

[2020-11-13 17:05] felixarntz commented on #2220
@AndrewErman Supporting GA4 in Site Kit is a high priority for us, but there are some complexities that we'll need to figure out. Our initial focus is to facilitate double-tagging, where sites use both a classic UA property _and_ a GA4 property for a transitional period, until Site Kit has full support for GA4 reporting.

[2020-11-13 17:19] AndrewErman commented on #2220
@felixarntz thank you for the answer. Well, will wait and hope then. But what would you recommend as a workaround for those cases when UA is not available? If i understand correctly - i can't create any new UA properties anymore.

[2020-11-13 17:29] ernee commented on #2220
@AndrewErman please reference [this document ](https://sitekit.withgoogle.com/documentation/ga4-analytics-property/)with recommendations on how to implement your GA4 property.

[2020-11-13 17:46] aaemnnosttv commented on #2027
@felixarntz I tweaked the ACs here to be more accurate to the desired outcome and less specific to the implementation which is slightly different now. Should be ready for review now 👍

[2020-11-13 21:55] adamsilverstein commented on #2360
Good point. I tested and am able to extract the reason and code reliably using a RegEx, so I can report based on those data points. Still, after reviewing the errors so far, I have a feeling that the message data is mostly extra noise, and what we really want to know is the the code and reason.

Let's talk more about the value of the extra message data at our next team sync and decide if we should

[2020-11-13 22:46] felixarntz commented on #2041
@tofumatt IB mostly LGTM, just one more comment:

What would these modifications be used for? The idea is that each "Edit" link in the settings panel overview would link to the `googlesitekit-user-input` screen to the respective question, but from that point on, that screen would work the same way it currently does. The only thing that should arguably be different is that, at the end, it should ma

[2020-11-13 22:49] felixarntz commented on #2228
@aaemnnosttv That sounds good for now. Let's see how we can make it even better via #2249. IB ✅

[2020-11-13 22:54] felixarntz commented on #2236
@ryanwelcher

		*  Remove `dateRange` from the `commonArgs` array.
		* Spread the results of `select( CORE_USER ).getDateRangeDates({ offsetDays: 1, compare: true, weekdayAlign:true })`  into the `commonArgs` array.

This is still not fully correct: When you look at the current logic, you'll see that `sparklineArgs` uses just the regular `dateRange`, and _only_ `args` uses `dateRange` _and_ `multi

[2020-11-13 22:55] felixarntz commented on #2301
IB ✅

[2020-11-13 23:02] felixarntz commented on #2316
IB ✅

@ivankruchkoff The IB looks good technically, however for the future, I'd advise to explain the approach a bit more abstractly - sometimes pseudocode can be helpful, but it shouldn't be needed for an IB to write out an entire class definition in PHP, as well as you don't need to write out things like what the JSON file looks like (that one should be fairly obvious) - it's better to just note

[2020-11-14 01:23] ernee commented on #2118
Reported in [this support topic](https://wordpress.org/support/topic/site-kit-asks-me-to-reconnect-all-the-time/page/3/#post-13659404), it appears the issue persists when selecting "All languages" from the top admin bar language switcher (Site Kit disconnects). Here is a [video](https://recordit.co/cko9AryCp8).

[2020-11-14 09:14] kostyalmm commented on #2351
According to me, it is a code quality thing more than performance.
Maybe what we need here are comprehensive guidelines on when to use `useCallback`. We can pick up some community agreed standards and tweak them for our use case.
Personally, what I feel odd is wrapping nearly every arrow function in `useCallback`.
A few wiki pages which can be referenced in PR comments will be great to have so the

[2020-11-15 13:44] kostyalmm commented on #2076
@felixarntz The AC seems to be quite outdated. Can you please update it accordingly?
Moving this to AC and assigning it to you. Please assign the task to me once you are done so that I can work on the IB.

[2020-11-16 03:10] tofumatt commented on #2041
Ah, okay! I was thinking that the user would only change their answer to one particular question at a time if they have already answered all questions. I suppose it's a judgement call on that UX for the first pass at this, but my thought was that if the user has already completed the setup flow but later wants to edit a question, it could be that only the answer to _that question_ has changed.

Bu

[2020-11-16 12:05] aaemnnosttv commented on #2136
## QA ⚠️

While the ACs are met by the current implementation, there are a few details that seem to have been missed in code review and should be addressed.

Specifically, in the `submitChanges` action of the `createSubmitChangesStore`, as it mixes `yield`ing actions and `dispatch` calls.
Using `dispatch` also requires the `storeName` argument to `createSubmitChangesStore`, but this is unnecessary

[2020-11-16 12:40] aaemnnosttv opened #2366 "Move JS tests to GitHub Actions"
## Feature Description

As part of our initiative to move our CI jobs to GitHub Actions, this issue is for moving our JS tests. This corresponds to the job that runs on Travis by the same name.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GitHub Actions workflow definition should be created fo

[2020-11-16 12:50] aaemnnosttv opened #2367 "Move Lint tests to GitHub Actions"
## Feature Description

As part of our initiative to move our CI jobs to GitHub Actions, this issue is for moving our Lint tests. This corresponds to the job that runs on Travis by the same name.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GitHub Actions workflow definition should be created

[2020-11-16 12:55] aaemnnosttv opened #2368 "Move PHP Tests to GitHub Actions"
## Feature Description

As part of our initiative to move our CI jobs to GitHub Actions, this issue is for moving our PHP tests. This corresponds to the job that runs on Travis by the same name.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GitHub Actions workflow definition should be created f

[2020-11-16 13:23] jamesozzie commented on #463
Closing as we already have #1132 open in relation to this request.

[2020-11-16 13:23] #463 closed

[2020-11-16 13:23] jamesozzie commented on #787
Closing as we already have #1132 open in relation to this request.

[2020-11-16 13:23] #787 closed

[2020-11-16 14:12] wpdarren commented on #2192
### QA update: Pass ✅

**Verified:**

From the Site Kit dashboard:

-  the user menu is displayed in the header and it contains picture and email of the current user  [image](https://user-images.githubusercontent.com/73545194/99261908-47193700-2858-11eb-95ab-89780caf1fdd.png)
-  the dropdown menu is shown if you click on the menu button [image](https://user-images.githubusercontent.com/73545194/99

[2020-11-16 14:33] wpdarren commented on #2191
### QA Update: Pass ✅

**Verified:**

- When the `Reset this Site` link is clicked in Settings the dialog box appears. The user is able to cancel the reset by clicking on the `clear` link or pressing `Esc key`  [Screenshot](https://user-images.githubusercontent.com/73545194/99264234-269eac00-285b-11eb-82be-799df6b905ca.png)
- When the Reset button is clicked the associated Google account is discon

[2020-11-16 14:43] wpdarren commented on #2245
@aaemnnosttv the QA brief is `All Jest tests should pass (npm run test:js)` Just wondering if this is for the engineers to QA? If not, please could you add some direction on how I might run the test. Assuming it's within terminal? Thanks!

[2020-11-16 15:14] asvinb commented on #2255
@aaemnnosttv @felixarntz IB has been updated.

[2020-11-16 17:56] felixarntz commented on #2076
@kostyalmm Maybe I'm missing something, where specifically do you think the ACs are outdated? Can you clarify?

[2020-11-16 18:29] jessmgamble opened #2371 "PHP Fatal Error Google Site Kit"
## Bug Description

PHP Warning:  include(/staging/wp-content/plugins/google-site-kit/includes/vendor/composer/autoload_classmap.php): failed to open stream: No such file or directory in /staging/wp-content/plugins/google-site-kit/includes/loader.php on line 26

creates fatal error on site - I know very little, but how do I fix this?

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scr

[2020-11-16 18:47] kostyalmm commented on #2076
As mentioned in the AC, we need to add a `AdminBarApp` component, right? But it is already [there](https://github.com/google/site-kit-wp/blob/develop/assets/js/components/adminbar/AdminBarApp.js) (added 20 days ago)
I think the AC will change with that.

[2020-11-16 19:26] aaemnnosttv commented on #2245
Thanks for asking @wpdarren – this one doesn't actually need manual QA since the tests are sufficient and those are already a requirement for the PR to be merged in the first place.

Normally I would ask one of the other engineers to take a quick look over this (it should have been marked QA:Eng anyways), but since @tofumatt and I already gave this a thorough review in CR I don't think additional

[2020-11-16 19:46] jonathansoltero commented on #1132
This isn't only GTM, Google's own PageSpeed Insights. That's why I scratch my head.

[2020-11-16 22:30] tofumatt commented on #2246
QA ❌

* Looks like https://github.com/google/site-kit-wp/blob/7ceb81b49b1914178961193c58ec0c2dda1cbecd/assets/js/modules/analytics/components/dashboard/AnalyticsDashboardWidget.js#L180 still uses the legacy `getDataErrorComponent` and `getNoDataComponent` functions.
* It's also used here: https://github.com/google/site-kit-wp/blob/7ceb81b49b1914178961193c58ec0c2dda1cbecd/assets/js/modules/search-c

[2020-11-17 00:10] felixarntz commented on #2076
@kostyalmm Thanks for clarifying, makes sense. I've updated the ACs, the only change necessary though was to remove the first bullet point about introducing that component.

[2020-11-17 00:19] felixarntz commented on #2041
@tofumatt Yeah, potentially it's worth revisiting this in the future whether it makes more sense to only edit one question at a time. For now, the UI flow was intended to go through the full thing, but good point raising that 👍

IB ✅

[2020-11-17 00:24] felixarntz commented on #2143
IB ✅

@tofumatt

Note that in some cases the `width` and `height` are currently not the same, which I believe was originally done for more "perfect" alignment of the icon. Let's see what the outcome looks like - if needed, we may need to modify the icon SVGs or slightly alter the approach.

Overall we should try to keep things simple, and icons should be possible to use in square format. Otherwise

[2020-11-17 00:25] felixarntz commented on #2309
IB ✅

[2020-11-17 00:26] felixarntz commented on #2235
IB ✅

[2020-11-17 00:33] felixarntz commented on #2261
@ivankruchkoff IB ✅ , just one detail, I think you forgot to mention which file the last code snippet applies to (I assume it is the `Header` component).

For the future, I'd advise to use more abstract explanation for IBs rather than writing a chunk of the code already, since that makes it a bit hard to digest and discuss. At that point it almost becomes a partial code review (for example in one

[2020-11-17 00:36] felixarntz commented on #2237
@eugene-manuilov IB mostly ✅ , however I think it'd be worth adding that when calling `getDateRangeDates` with `compare: true`, it will also return `compareStartDate` and `compareEndDate` (which are the compare period, before the main period). To make that work, we'll need to pass `compareStartDate` as `startDate` to the API, so that the results basically encompass both ranges in one.

[2020-11-17 00:45] felixarntz commented on #2334
@eugene-manuilov IB ✅ , just one detail: Let's use `GOOGLESITEKIT_VERSION` for the JS global like in PHP.

[2020-11-17 00:50] rosscorp commented on #245
jamesozzie: the above fixed it! Thank you!

[2020-11-17 00:56] felixarntz commented on #2271
@aaemnnosttv Mostly LGTM, but a bit of feedback:

While this somewhat makes sense, maybe we should account for that a module might not have a store (i.e. not pass `storeName`), in which case this would return `undefined`, which would be a bit odd because that is also the "loading" result. Maybe we _could_ add a "default" (contrary to what the ACs say), the empty string. This way the value is disti

[2020-11-17 02:43] felixarntz commented on #2137
@kostyalmm @tofumatt Noticed after merging the PR that it missed some parts of the ACs:

The original PR only removed this in the Tag Manager module but not the other modules, and it only removed the `useEffect` taking care of the button action but not the `useEffect` taking care of the button's `disabled` state.

I'll open a follow-up PR.

[2020-11-17 02:56] felixarntz commented on #2137
I've updated the QA Brief here to test the user-facing flows - this could have unintended side effects, so should go beyond an engineering QA.

[2020-11-17 03:10] felixarntz commented on #2181
As discussed last week, we had somewhat a misunderstanding regarding your latest comment @aaemnnosttv - the current IB LGTM!

[2020-11-17 08:38] aaemnnosttv commented on #2136
## QA ✅

As mentioned before, the ACs were already met by the previous implementation, the PR that followed only simplified things and made it more consistent.

[2020-11-17 09:25] aaemnnosttv commented on #2236
@felixarntz this one is ready for another pass. I bumped the estimate a little to allow for more time in QA to make sure the requests are resulting in the same data on the front.

[2020-11-17 10:17] eugene-manuilov commented on #2237
@felixarntz yep, updated.

[2020-11-17 10:19] eugene-manuilov commented on #2334
@felixarntz sounds good, updated.

[2020-11-17 11:45] tofumatt commented on #2162
QA ✅

[2020-11-17 11:52] tofumatt commented on #2137
Argh, I missed that too 🤦🏻

Reviewing the new PR now 👍🏻

[2020-11-17 12:22] jamesozzie opened #2378 "Quota Error: profileID --- has too many concurrent connections"
## Bug Description

After logging into a site to perform some checks today I encountered a dashboard notice as per screenshots below.

![image](https://user-images.githubusercontent.com/41326532/99374440-7bbdda80-28ba-11eb-9133-fe1fcd3e70fe.png)

![image](https://user-images.githubusercontent.com/41326532/99386282-21c51100-28ca-11eb-9746-7cd7b86afada.png)

## Additional Context

- Site Kit 1.20.0

[2020-11-17 14:39] wpdarren commented on #2171
### QA Update: QA ⚠️

@eugene-manuilov a few observations on the period dropdown on all modules, this is not translating. [Screenshot](https://user-images.githubusercontent.com/73545194/99399673-f15c9180-2920-11eb-80d4-9d4ffb362c63.png) Also, on Search Console, Google Analytics and Adsense modules, the period titles, i.e. `Overview for the last X days` and `Top content over the last X days` is not

[2020-11-17 15:50] felixarntz commented on #2236
IB ✅

[2020-11-17 15:52] eugene-manuilov commented on #2171
@wpdarren I have checked translations and seems like it is the translation files issue itself. Here is the list of static copies that are untranslated on the admin pages and their translations in the PO file:

<details><summary>Overview for the last %s <s>day</s></summary>

[code]
</details>

<details><summary>Audience overview for the last %s <s>day</s></summary>

[code]
</details>

<details><sum

[2020-11-17 15:58] wpdarren commented on #2171
### QA Update: Pass ✅

**Verified:**

- Installed and activated SK. The connection module on the Plugin page was translated -  [Screenshot](https://user-images.githubusercontent.com/73545194/99398810-d2a9cb00-291f-11eb-9e1a-21210b8a82fd.png)
- When connection button was clicked the Site Kit information page appeared and was translated - [Screenshot](https://user-images.githubusercontent.com/735451

[2020-11-17 16:42] wpdarren commented on #2251
### QA Update: Pass ✅

**Verified:**

The `searchConsolePopularKeywords` displays the same on the Site Kit dashboard vs on the single URL page dashboard. - [Screenshot 1](https://user-images.githubusercontent.com/73545194/99418895-700ff980-2936-11eb-9c3d-5fb04898847a.png) [Screenshot 2](https://user-images.githubusercontent.com/73545194/99418921-7a31f800-2936-11eb-87de-17e1c1c9fd8d.png)

The `urlS

[2020-11-17 16:47] aaemnnosttv commented on #2358
@felixarntz @adamsilverstein the problem is because legacy components are still rendered when Analytics is active even if setup isn't complete which causes these requests to be made.

![image](https://user-images.githubusercontent.com/1621608/99418521-ca439700-2903-11eb-9a2f-4e5f01ddbbec.png)

To reproduce, simply activate Analytics but don't complete the setup and navigate to the dashboard. Analy

[2020-11-17 16:58] tofumatt commented on #2288
I don't think the tests themselves here should take _too_ long to write, but given how long E2E tests can take to run I've made this an 11 estimate, as the E2E tests are harder to diagnose issues with and run repeatedly.

[2020-11-17 17:37] aaemnnosttv commented on #2358
Turns out I was close but not completely correct about where the CTA was coming from. Only the inactive CTA is coming from the references above, however the setup incomplete component is coming from `withData` in the HOC's render method https://github.com/google/site-kit-wp/blob/aa6cdd0792898920dd626dd71b2d722663a50756/assets/js/components/higherorder/withdata.js#L272-L275

While this is fine for

[2020-11-17 18:48] felixarntz commented on #2171
⚠️
@eugene-manuilov There is a follow-up bug caused by the PR for this: It removed `_googlesitekitLegacyData.locale`, however that global is still used in the `getLocale` function in JavaScript.

Can you open a follow-up PR which brings back `_googlesitekitLegacyData.locale`? However, we shouldn't bring back the whole JED locale data thing, we can simply assign `locale` as `is_admin() ? get_user_l

[2020-11-17 19:39] eugene-manuilov commented on #2171
@felixarntz PR has been created: https://github.com/google/site-kit-wp/pull/2380

[2020-11-17 19:39] felixarntz opened #2381 "Modify `whenActive` HOC to distinguish between active and connected state"
The `whenActive` higher-order component behaves in a slightly inaccurate way at the moment, as it only checks whether the given module is not connected. It should also check whether the module is active and allow for a different fallback based on the outcome.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteri

[2020-11-17 19:44] felixarntz commented on #2253
While this would be a fairly small change, there is a better improvement underway via #2299, which is what we should focus on instead. It's not worth it removing the legacy functions from here therefore. Closing this one.

cc @eclarke1 @fhollis

[2020-11-17 19:44] #2253 closed

[2020-11-17 19:47] felixarntz commented on #2381
Note that, while this is blocked by #2299, we can already start implementation - it's only the last small bit of changes here that is blocked by the other issue.

[2020-11-17 20:02] felixarntz commented on #2288
@tofumatt IB mostly LGTM, but one detail to consider here:

I noticed that this may partly depend on #2316 (see last bullet point of ACs and IB) to be done. For the new user flow, the user will only get redirected to the `googlesitekit-user-input` screen after setup once that is implemented, _and_ only in a development build. I'm not actually sure what build we use for e2e, is it a development bui

[2020-11-17 22:03] tofumatt commented on #2146
QA ✅

All translations look good 👍🏻

[2020-11-17 22:04] tofumatt commented on #2254
QA ✅

[2020-11-17 23:24] felixarntz commented on #2358
IB ✅

[2020-11-17 23:53] felixarntz opened #2383 "Fix unreliable logic to update site URLs registered on authentication service"
#1857 made a significant improvement for supporting sites which have changed their URL, by detecting whether the URL has changed compared to the URL that the site had been set up with. Users will be automatically disconnected from those sites, and once they reconnect, an extra request will be made to the authentication service to update the URLs.

However, there are some scenarios where this logic

[2020-11-18 01:36] felixarntz opened #2384 "Make Reset button available in a consistent location (for "emergency")"
At the moment, Site Kit provides two places where the plugin can be reset:
* The setup screen, via a secondary action button
* The settings screen (Admin Settings tab)

It has proven multiple times to be a problem that both of these buttons can only be accessed conditionally. The settings button can only be accessed when connected (for obvious reasons), while the setup button can only be accessed

[2020-11-18 04:39] cole10up commented on #2040
### QA ❌

### **Questions**
Development using Chrome on the left, Figma on the right. Note - many of the items found or in question are Chrome specific.

Browsers Tested:

- Chome
- Firefox
- Edge
- Safari
- iOS
- Android

<details>
 <summary>Question 1:</summary>

![image](https://user-images.githubusercontent.com/57115907/99481533-2eb82380-290f-11eb-9d14-b1272452908a.png)

Items to note:
- '1 ou

[2020-11-18 06:11] caseymorrisus commented on #2165
QA ✅

[2020-11-18 06:28] caseymorrisus commented on #2242
QA ✅

[2020-11-18 07:41] caseymorrisus commented on #2248
QA ✅

[2020-11-18 11:19] asvinb commented on #2027
[VRT Test](https://github.com/google/site-kit-wp/actions?query=workflow%3A%22Visual+Regression+Testing%22):
![image](https://user-images.githubusercontent.com/31818/99523825-04b73d80-29b1-11eb-9dee-eaccea459e42.png)
Cancelled workflow present ✔️

[Plugin Zip](https://github.com/google/site-kit-wp/actions?query=workflow%3A%22Plugin+Zip+Files%22):
![image](https://user-images.githubusercontent.com/3

[2020-11-18 11:46] aaemnnosttv commented on #2310
## QA ✅

* Completed user input fields
* Verified `completed` status
[code]
* Deleted user setting for user input state
[code]
* Reloaded admin screen and checked user input state to verify that it was set correctly
[code]
* Verified test coverage in `\Google\Site_Kit\Tests\Core\Util\User_Input_SettingsTest::test_are_settings_empty`

[2020-11-18 12:05] benbowler commented on #2243
@felixarntz we need your comment in the PR https://github.com/google/site-kit-wp/pull/2369#discussion_r525125512

[2020-11-18 12:21] tofumatt commented on #2288
Ah, yeah, we actually [use a production build for the E2E tests](https://github.com/google/site-kit-wp/blob/dc1ae436c65a874498c49077c9e1da9910d91426/package.json#L12)…

Given how straightforward #2316 is (and how low the estimate is), I'd rather make it a blocker for this issue re: the feature flags. But yeah, to force the redirect we'll want a PHP utility. I'll update the IB with an E2E plugin we

[2020-11-18 12:38] sergiodaia opened #2386 "Please do not show other managed sites"
## Feature Description

Being a web agency, i'd like that my clients cannot possibly view the list of all the other clients as it happens right now here in the context menu voice 'Manage Sites' which redirects to:
https://sitekit.withgoogle.com/site-management/permissions

Please note that as the client logs in his site, he's not able to log with my analytics account but he's still able to see all

[2020-11-18 12:55] tofumatt commented on #2288
I tried to sort out a more elegant way of forcing the redirect with an E2E plugin, but I couldn't quite sort one out given how nested that check is… maybe I'm missing something on the PHP side—if so let me know and we can do something better, but I think that solution should allow us to force the redirect for testing.

[2020-11-18 14:16] wpdarren commented on #2289
@cole10up @aaemnnosttv currently blocked on this.  Unable to switch to the develop branch on my test site because the Google tester plugin does not function with WP 4.9.16 or lower.  Works fine with 5.0+  Would appreciate some advice on how I can progress with this testing. Thanks.

[2020-11-18 14:22] aaemnnosttv commented on #2289
@wpdarren you have a few options:
- Switch to the develop branch before downgrading WP
- Install the plugin from the [latest develop build](https://github.com/google/site-kit-wp/wiki/refs/heads/develop/google-site-kit.zip) manually

Let me know if these don't work for you for some reason.

[2020-11-18 14:54] wpdarren commented on #2289
### QA update: Fail  ❌

Fail: the warning message is not appearing on the splash screen with latest development build and WP 4.9.16.

![image](https://user-images.githubusercontent.com/73545194/99546066-00ab1000-29f1-11eb-821e-f672243fa80f.png)

[2020-11-18 15:24] jamesozzie commented on #2386
@sergiodaia The "Manage Sites" feature is intended to list all the sites granted access to the Site Kit service with your Google account.

The current recommendation and best practice is to create separate WordPress administrator accounts for your clients, who can then use these individual administrator logins to setup Site Kit (signing in with their own Google account). Providing you know their a

[2020-11-18 15:27] wpdarren commented on #2289
### QA Update: Pass ✅

Verified: on a fresh install - with WP 4.9.16, and develop build of SK, the message appears as per the AC

![image](https://user-images.githubusercontent.com/73545194/99550376-a3658d80-29f5-11eb-9a34-047578f6fe6c.png)

[2020-11-18 15:31] benbowler commented on #2238
Hey @tofumatt, I'd incorrectly based this branch so it had some changes from other work, sorry about that. I've updated it now to include only these CSS changes. Best. Ben

[2020-11-18 16:50] sergiodaia commented on #2386
Thank you for the feedback. It theory it would work, but i'd like, if feasible, to hide that option for the clients and use a grand unique account for all the clients. It's more practical and requires less emails and interactions for the sitekit integration. Thanks nevertheless :)

Have a nice day

[2020-11-18 16:50] #2386 closed

[2020-11-18 18:07] eugene-manuilov commented on #2200
@felixarntz I have moved your acceptance criteria to the IB section and slightly updated/extended it. Added new acceptance criteria that explain the desired outcome of this issue. Hope it works for you.

[2020-11-18 18:43] felixarntz opened #2390 "Expose Lighthouse recommendations (including WP-specific) in PageSpeed widget"
The `DashboardPageSpeedWidget` should be expanded to surface optimization recommendations from the API. These recommendations are already included in the API responses the plugin currently receives, so this issue is purely focused on implementing new components and UI for it.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## A

[2020-11-18 18:46] felixarntz opened #2391 "Modify refresh button in PageSpeed widget"
The refresh button ("Run test again") in the PageSpeed widget should be moved next to the device toggle buttons. Furthermore it should use a refresh icon instead.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The refresh button in the PageSpeed Insights widget should be moved from the bottom ("Run te

[2020-11-18 19:17] felixarntz opened #2392 "Scaffold components for new All Traffic widget"
The main components for the new All Traffic widget (see [Figma file](https://www.figma.com/file/NzvJTPFdqUVJC9Q1mmih4e/Google-SK-UX-Enhancements10up?node-id=1198%3A271)) should be scaffolded, and state handling should be prepared.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new constant for the f

[2020-11-18 19:26] felixarntz commented on #2040
Per our previous conversation, @cole10up @asvinb can you open a follow-up issue that points out everything that needs to be modified here? We should address those changes against that new issue then and leave this one untouched so that it's ready for the current release. Since it is not a user-facing feature, there is no reason to block the release based on these changes, especially since they don

[2020-11-18 21:22] cole10up opened #2394 "User Input UI issues"
## Bug Description

This bug issue will track the items discovered in https://github.com/google/site-kit-wp/issues/2040

## Issues:

**Question 3**
- User is able to select 1 answer and ungray the 'Next' button although the instructional copy says 'Choose only two (2) answers' suggesting you must choose 2 and only 2.

![image](https://user-images.githubusercontent.com/57115907/99589538-f8c37f80-29

[2020-11-18 21:23] cole10up commented on #2040
### QA ✅

**Retested:**

Opened an incognito window and retried the Chrome specific items below:

- '1 out of 5' doesn't match the styling in the Figma design both color and size are wrong **Pass ✅**
- Unchecked items become grayed out in the Figma design when 2 items are checked, this doesn't occur in development **Pass ✅**
- Instructional copy is grayed out in the Figma design and not in Develop

[2020-11-19 00:55] felixarntz commented on #2288
@tofumatt I think it would be better to use a solution that doesn't involve modifying the production code - I think we should be able to add an e2e plugin that introduces a simple REST API route which allows setting the `googlesitekit_user_input_state` user option value. The e2e test setup could then call that REST route to set that user option to `required`, which would then automatically trigger

[2020-11-19 00:57] felixarntz commented on #2264
IB ✅

[2020-11-19 00:58] felixarntz commented on #2200
IB ✅

[2020-11-19 00:59] felixarntz commented on #2383
IB ✅

[2020-11-19 01:06] felixarntz commented on #2381
@caseymorrisus The IB looks good, just one thing:

I think we should keep the existing approach of passing a component, as that is also indicated by the name of this argument, and that's our practice elsewhere. In other words, we should pass it like `fallbackComponent: () => <Component slug="example" />`, not `fallbackComponent: <Component slug="example" />`.

There are some other points in the IB

[2020-11-19 01:15] felixarntz commented on #2299
@asvinb IB mostly looks good, just a few bits of feedback:

The file and component should be called `ActivateModuleCTA` (relevant throughout other mentions in the IB too).

The `description` prop implementation here is not complete (see ACs), it should first check if the module identified by `slug` has a `description` and if so, use that.

Here the logic for which of the two components to render n

[2020-11-19 02:43] cole10up commented on #2156
### QA ✅

**Retested with current release:*

1. Activated Tag Manager and created a new container in 2 separate tabs having both with the same name displayed.
![image](https://user-images.githubusercontent.com/57115907/99613887-3fc76a00-29cd-11eb-9c33-af6dbe505e70.png)
2. Saved one of the new containers

3. In a new tab, changed my site title
![image](https://user-images.githubusercontent.com/5711

[2020-11-19 07:55] caseymorrisus commented on #2381
@felixarntz  Apologies ahead of time for the wall of text, there's probably a much more eloquent way to express this opinion.

I think there's some area for improvement with the implementation here as this is forcing us to use `createElement` which shouldn't be necessary in an environment where JSX is enabled (see React docs). Doing a search of the codebase (from what I can see) we're only passing

[2020-11-19 09:04] aaemnnosttv commented on #2381
Thanks for the detailed write-up @caseymorrisus !

I'm not sure that it's _forcing_ us to use `createElement` – if `wrappedComponent` was cased as `WrappedComponent` I believe we could then simply `return <WrappedComponent {...props} />`, no? 🤔  This is of course related to your suggestions, but I guess my point is that nothing is forcing us to use the `wrappedComponent` casing, that's all 😄

With

[2020-11-19 09:44] asvinb opened #2395 "Add more flexibility to the Notification component layout."
## Feature Description

The `Notification` component relies on the `format` prop to render the appropriate class names for the cells within the grid. This is restrictive since in some cases we want to display the `Notification` differently. For e.g, having the content and the image being 50% wide each, which is not possible right now unless we overwrite the styles for the class names (for e.g `mdc

[2020-11-19 10:19] aaemnnosttv commented on #2156
Yeah it's okay for now, but I think it is something we should address. I'll open a new issue for it 👍

[2020-11-19 10:33] aaemnnosttv opened #2396 "Remove duplicate error message from SettingsModule"
## Bug Description

The `SettingsModule` component currently displays the error message from the `error` provided to it by its parent `SettingsModules` component. The `error` comes from the module promise created when settings are saved.

Since the error is now displayed in all settings components, this results in a duplicate

![](https://user-images.githubusercontent.com/57115907/99614031-8453058

[2020-11-19 11:10] aaemnnosttv commented on #2271
Yeah, I think every module property should be defined in [`moduleDefaults`](https://github.com/google/site-kit-wp/blob/fedee50421b4b8bcdefc4ed47bb49bdda3b39794/assets/js/googlesitekit/modules/datastore/modules.js#L49-L64) but I like the idea of giving it a falsey default other than `undefined`. In this case I think `null` may be preferable over an empty string since it's more commonly used in the

[2020-11-19 12:29] aaemnnosttv commented on #2271
@felixarntz IB is updated and ready for another pass 👍

[2020-11-19 12:59] wpdarren commented on #2137
### QA Update: Pass ✅

**Verified:**

These checks were completed on AdSense, Analytics, Optimize and Tag Manager

- Submit button (Confirmed changes) is deactivated when module settings initially edited.  When a change is made to the settings then the button is activated. - [Screenshot](https://user-images.githubusercontent.com/73545194/99667931-07e12500-2aa8-11eb-979b-93367a5822c2.png)
- When a

[2020-11-19 13:19] asvinb commented on #2299
Thanks for catching that @felixarntz . IB has been updated as per your comments. Can you check again?
Thanks!

[2020-11-19 14:34] aaemnnosttv opened #2398 "Release 1.21.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-11-19 14:48] jamesozzie opened #2399 "Improve Analytics dashboard messaging to include difference scenarios for non reporting of data"
## Bug Description

At present if an already connected Analytics account is trashed within the Analytics web UI a user will encounter the following SK dashboard errors, with messaging that could be expanded on to cover all scenarios:

_**Trashed account - Analytics tab:** "User does not have sufficient permissions for this profile" message when visiting the Analytics tab._

![image](https://user-i

[2020-11-19 15:29] wpdarren commented on #2358
### QA update: Pass ✅

**Verified:**

- For Analytics and Adsense modules with incomplete setup, no errors appear in the console - [Screenshot](https://user-images.githubusercontent.com/73545194/99685792-eb4fe780-2abd-11eb-8c18-9a3384bdf17d.png)
- For Analytics and Adsense modules with complete setup, no errors appear in the console  - [Screenshot](https://user-images.githubusercontent.com/7354519

[2020-11-19 16:02] felixarntz commented on #2243
@benbowler Replied.

[2020-11-19 16:25] aaemnnosttv commented on #475
@felixarntz ready for another pass 👍

[2020-11-19 17:22] jamesozzie opened #2400 "403 error during Analytics account creation"
## Bug Description

During Analytics account creating within Site Kit one user is unable to proceed. After they click on the "Create Account" button they are directed to a 403 error, with the below console error:

[code]

## Additional Context

 - Support Topic: https://wordpress.org/support/topic/403-on-creating-analytics-account/#post-13683434
 - Existing Analytics user
 - No issues connecting A

[2020-11-19 17:29] jamesozzie commented on #2400
Escalating to L1, unable to reproduce at support level with the same plugins, default configurations.

[2020-11-19 18:18] aaemnnosttv opened #2401 "Fix spelling errors"
## Bug Description

There are a few minor spelling errors in the code base, some user-facing.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be no spelling errors in the code base

## Implementation Brief

* Merge https://github.com/google/site-kit-wp/pull/2402

### Test Coverage

* N/A

[2020-11-19 20:40] aaemnnosttv opened #2403 "Search Console dashboard infinite loading state when lacking permissions to property"
## Bug Description

Currently the Search Console dashboard will remain in an infinite loading state if the user does not have sufficient permissions to the property. This is visible in the batch data responses in the console.

<details>
<summary>batch response</summary>

[code]

</details>

![image](https://user-images.githubusercontent.com/1621608/99720805-f3585900-2ab6-11eb-8b20-aef54ac22ad4.png

[2020-11-19 21:27] tofumatt commented on #2247
This one turned out to be pretty tough to diagnose because it's intermittent and tough-to-reproduce, but I think I'm onto something… 🤞🏻

After some web searching for similar issues and looking through the code, this might actually be related to us loading the charts library several times. I've seen some discussions on StackOverflow and Google Groups stating that calling the `.load` function severa

[2020-11-19 21:45] felixarntz opened #2405 "Update Analytics report deep links to use `getServiceReportURL` selector"
After #2228, all Analytics frontend report deep links should be updated to rely on the new `getServiceReportURL` selector of the `modules/analytics` store. This will fix various instances in which arguments for those URLs are incorrectly encoded.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All deep

[2020-11-19 21:46] aaemnnosttv commented on #2358
@felixarntz there was a regression introduced in the changes to `LegacyAnalyticsAllTraffic` that https://github.com/google/site-kit-wp/pull/2404 has been opened to fix.

[2020-11-19 21:47] eugene-manuilov opened #2406 "Extended details for PSI recommendations"
## Feature Description

The #2390 ticket adds recommendations to the PSI widget which makes it more useful to users. However, I think there is still room for improvements that can make the widget even more useful to users. Currently, the recommendations accordion shows generic phrases that don't help too much to identify exact issues on the site. We can do the following to display more specific in

[2020-11-20 02:21] cole10up commented on #2358
### QA ✅

Rested https://github.com/google/site-kit-wp/pull/2404 on latest release candidate.

**Passed**

![Site Kit by Google Dashboard ‹ Hellogoodbye1 — WordPress (2)](https://user-images.githubusercontent.com/57115907/99749836-11609200-2a94-11eb-8479-0add28525582.gif)

[2020-11-20 08:14] aaemnnosttv commented on #2181
@ivankruchkoff – this one is ready to resume if you haven't already 👍

[2020-11-20 08:57] aaemnnosttv commented on #2391
@felixarntz – regarding the ACs, I don't see an added button for the refresh action in the linked Figma file.

@eugene-manuilov assuming that the icon used isn't already chosen in the design (as it doesn't appear to be there at all?) then I would suggest we use `update`, `controlsRepeat`, or `rotateRight` instead, which all have a "forward" rotation rather than backwards/left.

![image](https://us

[2020-11-20 09:22] aaemnnosttv commented on #2221
@adamsilverstein can we change the `anchor` argument to `hash` to match the property of a `URL`? Anchor is easy to confuse with `<a href="">I'm an anchor</a>`. I realize the hash in the URL matches to an anchor on the page, but I think it would be preferable to use familiar terms.

---

@kostyalmm

Let's not use `searchParams.append` for this since it will not encode the value. Instead, let's use

[2020-11-20 09:44] aaemnnosttv commented on #2329
IB ✅

[2020-11-20 14:32] wpdarren commented on #2399
### QA Update: Reproduced ✅

When the account in GA is trashed the permissions message appears in the module. - [Screenshot](https://user-images.githubusercontent.com/73545194/99810381-9de77f00-2b7e-11eb-91ac-1b0535f7d492.png)

A few additional observations:

1. GA data still appears in the Dashboard as you can see in the screenshot. No message appears here.  Should it? It would make sense to so t

[2020-11-20 15:14] wpdarren commented on #2400
@jamesozzie @cole10up I haven't been able to recreate this on my test site.  I've tried to gain access to the SH info but the link in the ticket takes me to the form rather than data. Any chance I could have access, or, info on the users set up? Thanks.

[2020-11-20 15:38] jamesozzie commented on #2371
@jessmgamble Thanks for reaching out. Initial support requests can be submitted using the plugins [WordPress support forum](https://wordpress.org/support/plugin/google-site-kit/#new-post).

If you open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing details such as the below we'd be happy to assist:
- At what stage do you encounter this i

[2020-11-20 15:38] #2371 closed

[2020-11-20 15:42] tofumatt commented on #2334
Just chiming in here: given our default storage is `sessionStorage`, every time the browser restarts it would be cleared. Additionally, the size limit for `localStorage`/`sessionStorage` is 5MB—it should be plenty for our cached data. If we run into a quota error we can clear the _entire_  cache anyway, without much issue.

The current approach is fine, but if we eventually use something like Inde

[2020-11-20 15:50] jamesozzie commented on #2303
@jonbstrong Apologies for the delayed response, we've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any addi

[2020-11-20 15:50] #2303 closed

[2020-11-20 15:50] jamesozzie commented on #2318
@phamquangbaoplus Apologies for the delayed response, we've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or an

[2020-11-20 15:50] #2318 closed

[2020-11-20 16:03] wpdarren commented on #2400
**L1 update:**  I am unable to reproduce this on a few test sites with different setups.  Other than Elementor Pro, I was also able to set up a site as per the user Site Health info.

[2020-11-20 16:25] adamsilverstein commented on #2221
That sounds fine to me, I think @felixarntz wrote the AC though :)

[2020-11-20 16:37] aaemnnosttv commented on #2345
@asvinb – this mostly looks good to go, just a few points to refine.

* Let's note that `@wordpress/keycodes` should be installed under `dependencies` rather than a devDependency to be explicit about that
* Regarding the lack of a `COMMA` export from that package, let's refactor that component to use a constant anyways, as if the package exported it, but just define it in the file for now – we can

[2020-11-20 17:17] aaemnnosttv commented on #2405
@asvinb – one thing which should have probably been included in the ACs here is that the `applyEntityToReportPath` will no longer be necessary and is essentially superseded by `getServiceReportURL`. This utility should then be removed as part of the changes here. (cc: @felixarntz)

e.g.
[code]

Another thing to note is that the replacement of `replace( /\//g, '~2F' )` should no longer be done outs

[2020-11-20 17:42] felixarntz commented on #2221
@aaemnnosttv @adamsilverstein Updated ACs to use `hash`.

[2020-11-20 19:48] archon810 opened #2409 "Feature request: Add AdSense data when viewing Detailed Page Stats"
## Feature Description

Hi, we have mapped Analytics and AdSense in Site Kit (currently v1.20) and were surprised to see that in the Detailed Page Stats, no AdSense data shows to see how much $$$ each individual post made, as per AdSense stats. The data also doesn't show up in the WP admin bar widget.

The only place where AdSense data does show is the main Site Kit Dashboard view where only a sin

[2020-11-22 18:10] massimoliani opened #2410 "Tag Manager and Analytics page load improvements"
I try to move tagmanager script on the onload event to postpone it execution and be ready with the page in advance having some benefits on lighthour ranking.

Is possible to move tagmanager and analytics script execution as a jQuery.on("load". xxx) function?

In this way we can be ready with the page faster.

Thanks.

[2020-11-23 05:20] ivankruchkoff commented on #2181
@aaemnnosttv - addressed CR feedback and changed the implementation to match the new IB. Reassigned it back to you as you looked at initially.

[2020-11-23 10:24] eugene-manuilov commented on #2391
@aaemnnosttv IB is updated.

[2020-11-23 12:48] wpdarren commented on #2228
@aaemnnosttv starting to look at this ticket and wondered if you could expand on the QA brief steps. I understand point 1, but point 2 `Set up your Google accounts in the browser so that your Google account with access is not your default (i.e. authuser=1)` Am I checking to see with the Google account (that has Analytics and Adsense linked) when connected to SK, the permission message does not app

[2020-11-23 14:02] tofumatt commented on #2244
QA ✅

[2020-11-23 14:14] benbowler commented on #2383
Re: "..the authentication service functionality here is not yet implemented. The code will only work once that's done (pending green light from @felixarntz)..." Has this work been completed?

[2020-11-23 14:53] jamesozzie commented on #2409
Thanks for reaching out and providing your suggestion. I've marked this as a feature request for the team to consider, to include these additional AdSense related insights. Note that all features requested are periodically reviewed by our product team, however there is no ETA for it. Please feel free to monitor its progress here.

Note also that on the standard AdSense tab dashboard you should fin

[2020-11-23 14:57] jamesozzie commented on #2410
Applying modifications to the Site Kit placed product snippets isn't supported at this time. You can however insert your own snippets, which Site Kit can then use when connecting the various modules.

[2020-11-23 14:57] #2410 closed

[2020-11-23 17:30] #2136 closed

[2020-11-23 17:30] #2162 closed

[2020-11-23 17:30] #2171 closed

[2020-11-23 17:30] #2358 closed

[2020-11-23 17:30] #2027 closed

[2020-11-23 17:30] #2111 closed

[2020-11-23 17:30] #2190 closed

[2020-11-23 17:30] #2193 closed

[2020-11-23 17:30] #2314 closed

[2020-11-23 17:30] #2250 closed

[2020-11-23 17:31] #2302 closed

[2020-11-23 17:31] #2192 closed

[2020-11-23 17:31] #2191 closed

[2020-11-23 17:31] #2245 closed

[2020-11-23 17:31] #2246 closed

[2020-11-23 17:31] #2251 closed

[2020-11-23 17:31] #2146 closed

[2020-11-23 17:31] #2254 closed

[2020-11-23 17:31] #2165 closed

[2020-11-23 17:31] #2242 closed

[2020-11-23 17:31] #2248 closed

[2020-11-23 17:31] #2310 closed

[2020-11-23 17:31] #2289 closed

[2020-11-23 17:31] #2040 closed

[2020-11-23 17:31] #2156 closed

[2020-11-23 17:31] #2137 closed

[2020-11-23 17:52] benbowler commented on #2383
From sprint planning session 23 November 2020 the authentication service functionality will be completed within the week so I will continue on this ticket.

[2020-11-23 18:01] #2284 closed

[2020-11-23 18:08] #2398 closed

[2020-11-23 19:01] massimoliani commented on #2410
If I insert the tag manager snippet site kit don’t add it twice? Or need to
modify the plug-in?

Il giorno lun 23 nov 2020 alle 15:57 James G <notifications@github.com> ha
scritto:

--
*--------------------------*

dr. *Massimo Liani*

Goooled s.r.l.
Vial Lacchin 36/D
33077 - Sacile - PN

tel:3884484284

[2020-11-23 19:41] felixarntz commented on #2288
@tofumatt Some of that exact code in the IB is not correct, but that goes beyond the IB review - overall the approach LGTM. I'd suggest to name the e2e REST route `user-input-state` instead of `user-input` to clarify a bit more its purpose.

Overall IB ✅

[2020-11-23 19:44] felixarntz commented on #2390
IB ✅

[2020-11-23 20:01] felixarntz commented on #2381
@caseymorrisus Thanks for the detailed explanation. The approach of using capitalized prop names for `WPComponent` and uncapitalized prop names for `WPElement` makes a lot of sense, so let's adopt that. I think it would be worth applying this change to `core/modules`'s `registerModule` and `core/widgets`'s `registerWidget` actions too, where some arguments require a `WPComponent` while using a low

[2020-11-23 20:08] felixarntz opened #2413 "Rename `WPComponent` arguments to use capitalized names"
Any arguments or props that require a `WPComponent` / `ComponentType` should be updated to have a capitalized name, to indicate the required argument type better (e.g. `SettingsEditComponent` instead of `settingsEditComponent`). This will eliminate the need to rename arguments before rendering them.

See https://github.com/google/site-kit-wp/issues/2381#issuecomment-730196523 for context.

-------

[2020-11-23 20:12] felixarntz opened #2414 "Add missing documentation to `googlesitekit.modules` functions"
Functions that are exposed on `googlesitekit.modules` (wrapping datastore actions) should be documented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The three functions exposed on `googlesitekit.modules` which wrap datastore action calls should be updated as follows:
    * They should not pass thro

[2020-11-23 20:23] felixarntz commented on #2396
IB ✅

[2020-11-23 20:34] felixarntz commented on #2299
@asvinb IB mostly looks good now, however one thing I missed before: The IB mentions introducing props for `aria-label` of the CTA, but that shouldn't be necessary. We should be able to use a single translation string which hides part of the text to non-screen-reader users (e.g. like `Complete<span class="screen-reader-text"> Analytics</span> setup`), using the `VisuallyHidden` component alongside

[2020-11-23 20:39] felixarntz commented on #2271
@aaemnnosttv

SGTM!

IB ✅

[2020-11-23 20:52] felixarntz commented on #475
@aaemnnosttv A few follow-up comments/questions:

1. You have `Web_Tag` and `AMP_Tag` abstract classes in the IB, I assume they'll implement the methods that are referenced in the ACs to be put into `Blockable_Web_Tag_Trait` and `Blockable_AMP_Tag_Trait` traits? In that case I think that's a good alternative approach, just double-checking since it conflicts with the exact ACs a bit.
2. In `Module_

[2020-11-23 20:53] felixarntz commented on #2401
IB ✅ 😆

[2020-11-23 20:57] felixarntz commented on #2247
IB ✅

@tofumatt I think your approach sounds good. Let's not use the datastore for this one but solve it internally in the component, since IMO this is too much a technical component detail to have it covered in the datastore.

[2020-11-23 20:59] felixarntz commented on #2260
IB ✅

[2020-11-23 21:02] felixarntz commented on #2391
@aaemnnosttv @eugene-manuilov Apologies on that, the button was in the Figma file when I wrote the ACs 🤷‍♂️

Let me double-check with UX here - maybe this was some old leftover, in which case this issue isn't even relevant. I'll check.

[2020-11-23 21:03] aaemnnosttv opened #2416 "Add plugin version to usage tracking data"
## Feature Description

All Site Kit users have the option to opt-in/out of anonymous usage tracking, which can be toggled at any time on the plugin settings page as well as during set up. In #1999 we extended this to include information to track API errors on the client which has already been useful in finding which errors users experience most. One valuable bit of information that is missing whi

[2020-11-23 21:11] felixarntz commented on #2416
@aaemnnosttv Good idea! I've amended the ACs to mention it should be under `dimension4` (which might be logical, but wanted to clarify since it ties in with how we set up dimensions in the GA property). I'll set that up on our end then.

[2020-11-23 21:15] felixarntz commented on #2216
As far as I can tell, this issue is indeed no longer relevant after #2163. Closing.

[2020-11-23 21:15] #2216 closed

[2020-11-23 21:19] felixarntz commented on #2346
@tofumatt

How would be be able to determine that? Is it possible to inspect _where_ a variable was imported from? We need to make sure this doesn't avoid the rule when something comes from another file, but only when it comes from another _external_ module that is not part of Site Kit.

[2020-11-23 21:31] felixarntz commented on #2075
@ivankruchkoff IB mostly LGTM, just a few points of feedback:
* The new components that are gonna be created for this need to also use the component name as file name. Maybe this wasn't entirely clear from the ACs, but the even though they use Search Console and Analytics APIs, they should be within `assets/js/components/wp-dashboard` too, so they should underly the same naming principles. In othe

[2020-11-23 21:33] felixarntz commented on #2291
IB ✅

[2020-11-24 01:02] felixarntz commented on #2285
@tofumatt IB, mostly LGTM - agreed, let's not refactor anything, just remove publisher wins things.

One follow-up question: What needs to be removed on the PHP side? 🤔

[2020-11-24 07:52] aaemnnosttv commented on #2228
@wpdarren yes, the permission message should not appear. The reason that comes up is that the way it is now, because the part of the URL which identifies the Google account to use is broken, it uses the default Google account. By this I mean the first/primary Google account you're signed in with. You can see which account this is by going to https://myaccount.google.com/. So to test this you need

[2020-11-24 08:47] aaemnnosttv commented on #2221
@kostyalmm

We don't need to have the exact code needed here, but just wanted to point out that the `path` is not included here.

Aside from that, this LGTM. Regarding the estimate, I'm going to bump it up as 3 is a bit on the low side for everything described here, including CR+QA.

IB ✅

[2020-11-24 09:12] aaemnnosttv opened #2418 "Deprecate legacy functions with modern alternatives and prune dead code"
## Feature Description

There are a number of legacy functions in the codebase which have newer implementations which should be used instead for all new usage.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All legacy functions which are no longer used should be deleted
    - Imports/exports and tests

[2020-11-24 09:32] aaemnnosttv commented on #2299
@felixarntz it looks like the `ctaLabel` prop isn't even needed, since the only usage of this right now is right here (which is actually wrong)
https://github.com/google/site-kit-wp/blob/0e0ae8c6e279c5ea9d80bb9ccbe1ed0fb206be01/assets/js/components/wp-dashboard/wp-dashboard-modules.js#L56
Note the only difference is the lowercase "a" in Analytics, where this would be correct if it were using the d

[2020-11-24 11:28] aaemnnosttv commented on #2255
Thanks for the detailed update @asvinb !

Generally speaking, we only use `get*` names for selectors so we should continue to maintain that convention. One exception to this is `getRegistry` but that is a bit of a special case.

Also, since the `response` and `token` are only relevant together we should check it in the control rather than do that in the hook. We can still provide the other data in

[2020-11-24 11:42] tofumatt commented on #2255
(@asvinb isn't around this week so I'm going to take over the IB for this one.)

[2020-11-24 12:26] jamesozzie opened #2419 "403 error on creating a new Analytics account from within Site Kit"
## Bug Description

Some users reported being unable to create an Analytics account from within Site Kit. A 403 error appears, with the below error message:
`403 forbidden “You do not have permission to access this document.”`

Impacted users:
- https://wordpress.org/support/topic/403-on-creating-analytics-account/ (Connected after by manually creating Analytics account)
- https://wordpress.org/su

[2020-11-24 12:42] jamesozzie commented on #2419
Closing as duplicate, with #2400 already open. Details to be added to existing issue

[2020-11-24 12:42] #2419 closed

[2020-11-24 12:43] jamesozzie commented on #2400
Another user ran into this same issue:
https://wordpress.org/support/topic/error-403-google-analytics/#post-13702560

I'll try and test setup with a Google account with no existing Analytics accounts.

[2020-11-24 12:56] jamesozzie commented on #2400
I've tried using a Google account with no existing Analytics accounts. Unable to reproduce this same issue after manually creating an account and GA4 property.

- Setup new Analytics account
- Followed standard setup experience and added a new property (GA4)
- Logged back into site and setup SK with this account
- No issues setting up a new account from within SK

[2020-11-24 13:31] tofumatt commented on #2285
Ah, sorry, it's in the draft PR attached, but I added the PHP code to remove in the IB now, I meant to add it and seemingly forgot! 😅

It's largely `private` code that isn't used anywhere else anymore and doesn't cause any test failures, so seems safe to remove as it's just about setting the post count of a site when Site Kit is activated, and since that's only used for publisher wins seems good t

[2020-11-24 13:58] wpdarren commented on #2228
QA update:  Pass ✅

- Verified that with a secondary account, no permission message appears in the AdSense performance table. - [Screenshot](https://user-images.githubusercontent.com/73545194/100103501-f16c0c80-2e9f-11eb-83fb-c3e5ba44b3e1.png)

[2020-11-24 14:31] wpdarren commented on #2238
### QA Update: ⚠️ QA observation

@aaemnnosttv

Observation: the proxy splash screen on the develop branch, there is not as much white space around the content.  It's very minimal to be honest but wanted to highlight.
[Develop branch](https://user-images.githubusercontent.com/73545194/100107120-46aa1d00-2ea4-11eb-81a0-5131db1afc12.png) and [latest release](https://user-images.githubusercontent.com

[2020-11-24 15:44] aaemnnosttv commented on #2238
Thanks for raising @wpdarren. As far as I can tell there has been no change here between `master` and `develop`. See this screen cap comparing the proxy setup component (this shows a reconnect message but it's the same component – unfortunately we don't have a different state in storybook for that currently).

![Kapture 2020-11-24 at 17 37 46](https://user-images.githubusercontent.com/1621608/1001

[2020-11-24 16:29] wpdarren commented on #2238
@aaemnnosttv I've compared the dimensions between branches and I'm not seeing any differences.  When I looked at the CSS there's a margin-top and margin-bottom within `.googlesitekit-opt-in` on the latest release, but this does not appear in the develop branch. I think this could be the issue.

`.googlesitekit-opt-in` on latest release

![image](https://user-images.githubusercontent.com/73545194/1

[2020-11-24 16:34] aaemnnosttv commented on #2238
I see what you mean now, you're right – good catch! Moving this back to execution for a quick follow up 👍

[2020-11-24 19:22] felixarntz commented on #2418
@aaemnnosttv Can you give some examples of which functions you're thinking about?

[2020-11-24 19:24] felixarntz opened #2420 "Analytics All Traffic widget V2"
A new version of the "All Traffic" widget should be introduced, which uses the available space more efficiently and exposes a lot more metrics at a glance.

## Requirements

* A new `DashboardAllTrafficWidgetV2` component should be introduced as a completely new version of the `DashboardAllTrafficWidget` component:
    * The UI should follow the [Figma file](https://www.figma.com/file/NzvJTPFdqUVJ

[2020-11-24 19:33] aaemnnosttv commented on #2418
@felixarntz off the top of my head: `refreshAuthentication`, `getReAuthURL`, `getSiteKitAdminURL`, and probably a few others in the top-level utils.

[2020-11-24 20:26] aaemnnosttv commented on #2418
We actually have a number of utils which are completely unused now, such as `toggleConfirmModuleSettings` and `removeURLParameter` too which would be good to clean up. I'll work on compiling a list for the ACs.

[2020-11-24 20:31] felixarntz opened #2421 "Add support for querying Analytics reports with dimension filters"
Currently it is not possible to use dimension filters when requesting an Analytics report. This should be implemented as it is needed for the new Analytics All Traffic widget (see #2420).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `GET:report` datapoint in the Analytics class should be expande

[2020-11-24 20:41] felixarntz opened #2422 "Implement `UserCountGraph` component for new All Traffic widget"
After scaffolding the `UserCountGraph` component in #2392, it should now actually be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `UserCountGraph` component for the Analytics `DashboardAllTrafficWidgetV2` should be fully implemented:
    * It should encompass the full graph UI in th

[2020-11-24 20:43] felixarntz opened #2423 "Implement `TotalUserCount` component for new All Traffic widget"
After scaffolding the `TotalUserCount` component in #2392, it should now actually be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `TotalUserCount` component for the Analytics `DashboardAllTrafficWidgetV2` should be fully implemented:
    * It should encompass the UI around the user

[2020-11-24 20:59] felixarntz opened #2424 "Implement `DimensionTabs` component for new All Traffic widget"
After scaffolding the `DimensionTabs` component in #2392, it should now actually be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The dimension tabs for the new All Traffic widget should be fully implemented and should encompass the tabs UI in the top right corner of the widget (see [Fig

[2020-11-24 21:09] felixarntz opened #2425 "Implement `UserDimensionsPieChart` component for new All Traffic widget"
After scaffolding the `UserDimensionsPieChart` component in #2392, it should now actually be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The pie chart for the new All Traffic widget should be fully implemented and should encompass the UI around the pie chart in the bottom right corner

[2020-11-24 21:19] felixarntz opened #2426 "Add interactivity to `UserDimensionsPieChart` component for new All Traffic widget"
The `UserDimensionsPieChart` component implemented via #2425 should be enhanced so that it is possible to click on a certain pie slice to make it the "current" slice (`dimensionValue`), which will result in the adjacent `TotalUserCount` and `UserCountGraph` components rendering information for only that `dimensionValue`.

---------------

_Do not alter or remove anything below. The following secti

[2020-11-24 21:37] felixarntz opened #2428 "Implement correct source link for new All Traffic widget"
#2392 scaffolded the `DashboardAllTrafficWidgetV2` with a source link appearing on the bottom right of the widget. This issue is about contextually adjusting this source link to point to the relevant location.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Analytics source link in the `DashboardAl

[2020-11-24 21:43] felixarntz opened #2429 "Expose new Analytics All Traffic widget in production"
Once ready the new `DashboardAllTrafficWidgetV2` widget should replace the `DashboardAllTrafficWidget` widget and be exposed in production.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `DashboardAllTrafficWidget` component and any sub-components that are only used by that one should be removed.

[2020-11-24 21:46] aaemnnosttv commented on #2238
@felixarntz see my PR above to fix the issue that @wpdarren found.

[2020-11-24 22:03] ernee opened #2430 "Optimize snippet insertion and detection when Tag Manager has Analytics tag"
## Bug Description

With #1380 and #1381/ #1382, users are guided to either connect Analytics using Site Kit's snippet or deploy [Analytics through Tag Manager](https://support.google.com/tagmanager/answer/6107124?hl=en). If the user deploys Analytics through Tag Manager, Site Kit removes its snippet in favor of that method.

This may pose an issue when a user connects the Optimize module. Current

[2020-11-24 23:22] tofumatt commented on #2346
We can check using the above (IB slightly clarified): essentially we check for a node's `type` and its `name`. If a node has a type (or a parent with the type): `[ 'ImportDefaultSpecifier', 'ImportSpecifier', 'ExportDefaultDeclaration', 'ExportDeclaration', 'ImportDeclaration' ]`, then it's an import from another module. We can then ignore that name for the rest of the file, knowing it's an import

[2020-11-25 02:58] nafekim commented on #2292
I've encountered the same error for a wordpress site using Site Kit.

Regarding the steps:

1. Does it matter if the GA Universal tag in the web container measures pageviews vs events? (note I'm looking to setup event tracking for some buttons).

2. What does "Setup SK" mean?

Would it be possilbe to see a loom video of the steps?

Thanks in advance!

[2020-11-25 05:32] ivankruchkoff commented on #2181
Updated per CR feedback.

[2020-11-25 08:12] aaemnnosttv commented on #2255
Thanks @tofumatt! As a whole, I think the IB here looks good as far as what needs to be done.

With that said, I think the copy/paste factor is a bit too high 😄  This was already a bit of an issue before you took over but I think it's worth dialing back a bit now that we have a better idea as to what's needed. Can we reduce it a bit using some placeholders/pseudo-code or references to existing cod

[2020-11-25 10:36] aaemnnosttv commented on #2316
Bumping the estimate before starting here as this seems a bit tight as-is. Confirmed the change with @eclarke1.

[2020-11-25 12:31] jamesozzie commented on #2378
Closing as I'm unable to reproduce after further testing.

[2020-11-25 12:31] #2378 closed

[2020-11-25 12:53] jamesozzie commented on #2292
@nafekim If you're stuck or having any issues while connecting any of the Site Kit modules feel free to open a WordPress [support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the Site Kit forum and we'd be happy to assist from there.

This depends on how you want to track your website, both work when it comes to Site Kit plugin integration via Tag Manager. The Analytic

[2020-11-25 13:11] wpdarren commented on #2329
### QA update: Pass ✅

**Verified:**

- Within the dashboard the Analytics data no permission message can be found - [Screenshot](https://user-images.githubusercontent.com/73545194/100231556-26409800-2f62-11eb-8b91-2ac7271f333a.png)

- When I go to the Google Analytics module the permissions message does appear.

![Screenshot](https://user-images.githubusercontent.com/73545194/100231933-a23ae000-2

[2020-11-25 13:49] benbowler commented on #2329
Hey @wpdarren, the Bug Description is a little confusing, going by the acceptance criteria the aim of this PR was to:

- The global warning "Permissions issue accessing data" should be removed and no longer ever appear.

The warning this is referencing is:

![98267272-19dca700-1f83-11eb-84be-e56dfc9a8b90](https://user-images.githubusercontent.com/119352/100235490-66812580-2f24-11eb-9fd1-e0b6330369

[2020-11-25 13:50] wpdarren commented on #2194
### QA Update: Pass ✅

- `Congrats on completing the setup for Site Kit!` notification appears on the dashboard with a list of modules. - [Screenshot](https://user-images.githubusercontent.com/73545194/100235302-31e28d80-2f67-11eb-97c1-f8eb8389d6d5.png)
- The modules list is displayed the same as it was before. Compared with latest release - [Screenshot](https://user-images.githubusercontent.com/7

[2020-11-25 14:13] wpdarren commented on #2329
@benbowler okay, since it's the `Permissions issue accessing data ` message I am checking for then yes, this passes.

I am am still confused why the **Data error in Analytics** messages appear when changing the date period to anything but 28 days.  This seems odd to me. It should be consistent for all date periods in my opinion.  I'll look into this and see if it needs a ticket creating or is expe

[2020-11-25 18:40] aaemnnosttv commented on #2243
@felixarntz @benbowler I'm getting an error now due to the utility allowing `undefined` to pass through which is possible due to the selectors in some widgets defining `loading` as `! isResolving`, but this can result in data being `undefined` initially before `loading` is set to true (before resolvers start).

https://github.com/google/site-kit-wp/blob/4708e025503a007f27f5b45e9d15295f7d8f8952/ass

[2020-11-25 19:11] tofumatt commented on #2255
I've made it a bit higher-level, but left reference gists of the existing code that was written. Should be a good compromise! 🙂

[2020-11-25 21:58] felixarntz opened #2436 "Use `! hasFinishedResolution` instead of `isResolving` to indicate loading state"
## Bug Description

Noticed before as a potential weakness, the use of the meta selector `isResolving( selector, args )` to indicate loading state is problematic, as it will return `false` for the brief moment that the selector has not _started_ resolving yet, which is not accurate. In fact, it can lead to unexpected behavior and JavaScript bugs as noticed in https://github.com/google/site-kit-wp/

[2020-11-25 22:00] felixarntz commented on #2243
@aaemnnosttv Good point! I've opened #2436 to fix this throughout the plugin. While this doesn't affect production, would be great to fix it for the same release (1.22.0). It should be a fairly small issue, we should prioritize it and move something else to the following sprint as needed.

[2020-11-25 22:17] felixarntz commented on #2390
@eugene-manuilov I've updated the ACs here based on our conversation this morning, so this is ready for the IB to be slightly adjusted to cover for the change.

[2020-11-25 22:47] felixarntz commented on #2048
@benbowler @fhollis I just noticed this issue was added to the sprint and is being worked on, which I missed to see before, I think there was some misunderstanding here. Since this relies on the route being implemented on the authentication service, which is still in progress on our end, this cannot be completed yet. While we're close to finishing it, we cannot merge this until the endpoint exists

[2020-11-25 23:00] archon810 opened #2437 "Alias domains reset Site Kit activation"
## Bug Description

Our sites are hosted on multiple servers, all accessible as www.SITE.com. But each server is also accessible with its direct alias, for example www1.SITE.com, www2.SITE.com, etc.

After updating from Site Kit 1.10 to 1.21, I found that if Site Kit was active on www and I went to www1.SITE.com, there was a message from Site Kit:

At some point later (not right away though), I fo

[2020-11-26 00:55] archon810 commented on #2409
Hi @jamesozzie, that's not quite the same as what I'm asking for, but thanks for highlighting it regardless.

I should probably open a separate ticket for this, but on this page the earnings should be passed through `number_format()`.

And more importantly, the links to individual pages' earnings in Analytics are all missing the domain for us, which makes this report much less useful.

[2020-11-26 08:51] aaemnnosttv commented on #2255
@tofumatt looks great, thanks!

One last suggestion/consideration around the tests: you mentioned `useCompatibilityChecks` in the tests somewhat but I think we can improve the tests by moving the tests for the test-specific logic into the tests for the hook. Perhaps we can export the array of checks and add tests for those directly, or maybe export a `runChecks` function which runs them all, and t

[2020-11-26 08:56] aaemnnosttv commented on #2195
IB ✅

[2020-11-26 09:49] eugene-manuilov commented on #2436
@felixarntz @tofumatt @aaemnnosttv I came across this issue when I worked on a fix for setState errors and have already converted all widgets to use `hasFinishedResolution` instead of `isResolving` :man_shrugging:. Here is a link to my PR that contains these (and other) changes: https://github.com/google/site-kit-wp/pull/2412. Let me know if you want me to extract changes related only to this tick

[2020-11-26 10:15] aaemnnosttv commented on #475
I updated these to be `Module_Web_Tag` and `Module_AMP_Tag` respectively now under the `Core\Modules` namespace which feels better than it was before.  I think the base classes eliminate the need for `Blockable_Web_Tag_Trait` and `Blockable_AMP_Tag_Trait` for now since `$slug` is a module-specific thing, but the `Blockable_Tag_Interface` interface is not.

I've revised this to use the `setup_` met

[2020-11-26 10:20] eugene-manuilov commented on #2390
Thanks, @felixarntz! IB is updated.

[2020-11-26 10:22] aaemnnosttv commented on #2436
Thanks @eugene-manuilov – would you please separate out only the module-specific changes related to this into a new PR?Then maybe the IB here can simply be "Merge #{new PR}". This will make this issue a bit quicker and make the CR easier on the other issue as well 😄

[2020-11-26 11:10] eugene-manuilov commented on #2436
@aaemnnosttv IB is added. Do you mind to review it?

[2020-11-26 11:44] aaemnnosttv commented on #2436
@eugene-manuilov while there are many changes in that PR which would be good to do, the PR contains much more than is necessary to resolve this issue. Let's keep it to only changing the existing logic for `loading` unless otherwise necessary. Other refactoring can go into a follow-up issue where we can review it as more of a 1-1 changeset.

E.g. all the changes should be similar to this:
[code]

I

[2020-11-26 11:55] eugene-manuilov commented on #2436
IB is updated.

[2020-11-26 12:08] aaemnnosttv commented on #2080
@felixarntz is there a reason why this should be concerned with the registered settings component? Why not expand `registerModule` to accept an optional `SetupIncompleteComponent` and apply the default with the rest of module defaults?

[2020-11-26 12:20] benbowler commented on #2383
I've completed the work and am moving it to CR - however, this shouldn't be merged until @felixarntz has finished the linked authentication work.

[2020-11-26 15:00] wpdarren commented on #2331
### QA Update: ⚠️ Engineer check

@benbowler here are two observations that I would like you to confirm if they are issues or expected.

**Observations:**

On Android and iOS mobile phones, the WordPress admin header was not sticky, so, the SK header scrolls with a gap at the top, rather than remaining at the top of the screen. [Screenshot](https://user-images.githubusercontent.com/73545194/100361

[2020-11-26 18:37] tofumatt opened #2443 "Consolidate `global.googlesitekit` code into module"
## Feature Description

It's useful for us to have a global variable for 3rd-party developers, sharing references to things like `React` across modules, etc. But our way of accessing that `global.googlesitekit` variable could be improved and abstracted.

Currently we reference the `global.googlesitekit` variable directly in many files, often initialising it first if it doesn't yet exist. Eg: https

[2020-11-26 19:48] tofumatt commented on #2392
One note: the AC said to add the form constant to `assets/js/modules/analytics/components/datastore/constants.js`; I amended it to `assets/js/modules/analytics/datastore/constants.js` which is the actual file path 🙂

Also, I think it would be nicer to organise the subcomponents in a `Version2` subfolder. I changed that slightly from the original ACs, but I think it's a bit clearer. We can use the

[2020-11-26 20:26] aaemnnosttv commented on #1998
@adamsilverstein – did we ever find out if there was a reason we could use to not retry for this case?

[2020-11-26 22:07] ivankruchkoff commented on #2075
In the IB, I have the components in the assets/js/components/wp-dashboard folder:

So filename is `assets/js/components/wp-dashboard/wp-dashboard-unique-visitors.js`, function is `WPDashboardUniqueVisitors`

Updated with pseudo code for isModuleConnected call and a reference to isModuleConnected selector.

[2020-11-27 06:17] ashishpatel1992 commented on #26
I am looking forward to seeing when event tracking will be implemented!

[2020-11-27 07:20] aaemnnosttv commented on #2247
@felixarntz @tofumatt – After seeing the PR for this, the problem seems to be deeper than a flaw in the Charts component. I'll create a new issue to address this as I already have a POC and we can make this issue dependent on it as it may no longer be relevant anymore.

[2020-11-27 07:21] aaemnnosttv commented on #2436
IB ✅

[2020-11-27 08:03] aaemnnosttv opened #2444 "Webpack bundles running in separate runtimes results in duplicate module initialization"
## Bug Description

Currently Site Kit loads multiple webpack entry bundles on a single page much like WordPress core does, with the main difference that it does not create one entry for each library/module which is also assigned to a global. While we mirror much of the approach used by Gutenberg, we bundle our own dependencies separately to provide a more stable and predictable result.

Because w

[2020-11-27 09:48] benbowler commented on #2331
Hey @wpdarren, thanks so much for QA'ing this.

Based on your first point, I've updated in the PR above to make sure the [header only becomes fixed above 600px wide which matches when the wp admin bar becomes sticky](https://github.com/google/site-kit-wp/pull/2446/files).

To your second point, I set up the testing plugin on my machine with these settings:

<img width="546" alt="Screenshot 2020-11

[2020-11-27 10:06] tofumatt commented on #2444
IB ✅

We talked about this in Slack yesterday and reading through the docs this all sounds great. Kicking myself for not finding this one before, great work 🎉

[2020-11-27 11:09] aaemnnosttv commented on #2331
@wpdarren ready for another pass 👍

[2020-11-27 12:27] eugene-manuilov commented on #2444
IB ✅, however, the implementation in the associated PR introduces a new regression which I mentioned in a comment there.

[2020-11-27 12:41] wpdarren commented on #2331
@benbowler @aaemnnosttv I am using the same site as yesterday and on develop branch, I am not seeing this change.  When I scroll down the page the Site Kit header is not sticky and scrolling down.  I reset, deactivated and reactivated the plugin, reconnected and refreshed the branch but not seeing the change.

Please could you confirm if you are seeing the same behaviour?

[2020-11-27 13:39] eugene-manuilov commented on #2334
@benbowler I have answered your comment in the PR.

[2020-11-27 14:49] wpdarren commented on #2331
@benbowler now on Android and iOS mobile phones, the Site Kit header bar is no longer sticky.  When I scroll down, the Site Kit header disappears.  You can see it in action on this screencast here https://d.pr/v/ayUJJU  I am assuming this is not expected behaviour?  To confirm, It is sticky on desktop and tablets one as per the screencast here https://d.pr/v/LyOaGU

[2020-11-27 15:03] benbowler commented on #2331
[Updated based on feedback from @wpdarren](https://github.com/google/site-kit-wp/pull/2449/files).

[2020-11-27 17:24] jamesozzie opened #2450 "Insufficient permissions in Analytics - Suddenly appearing on all connected sites"
## Bug Description

After updating to the latest version of the plugin a [user in the support forums](https://wordpress.org/support/topic/insufficient-permissions-in-analytics-bug/#post-13717035) is encountering the notice below on all connected sites:
“Insufficient permissions in Analytics
_Your Google account does not have sufficient permissions for this Analytics account, so you won’t be able t

[2020-11-27 17:45] ernee commented on #2118
WPML is planning to release the fix for the remaining issue in their next version 4.4.7. We'll follow up when it is available.

[2020-11-27 18:19] tofumatt commented on #2255
As mentioned in the IB: I think it'd be better to put all these checks in one function—the abstraction of separately them out into mini-functions doesn't serve much of a purpose to me, as we want them all to run sequentially anyway. Doing so makes it easier to return early and simplifies the logic/flow.

But I've added a point that we could add tests for the `useCompatibilityChecks` hook directly,

[2020-11-29 10:05] #1185 closed

[2020-11-29 19:14] cole10up commented on #2315
### **QA ✅**

Activated latest develop, navigated to a few pages that don't have SK content. Checked if <script id='googlesitekit-apifetch-data-js-extra'> was present.

![image](https://user-images.githubusercontent.com/57115907/100551139-c2ed8900-3233-11eb-9aa1-eed21aa2899f.png)

![image](https://user-images.githubusercontent.com/57115907/100551198-06e08e00-3234-11eb-8a75-6ef0f45a725e.png)

![ima

[2020-11-29 19:28] cole10up commented on #2181
### QA ✅

Quick high level regressions of module settings with all modules connected looks good.

![image](https://user-images.githubusercontent.com/57115907/100551523-f5988100-3235-11eb-847c-c4e54ac81b54.png)

Sending to approval

[2020-11-30 08:44] aaemnnosttv commented on #2444
Thanks guys, let's address the rest in code review 👍

[2020-11-30 09:23] aaemnnosttv commented on #2247
@tofumatt can you confirm if this is still an issue after #2444 ?

[2020-11-30 09:32] aaemnnosttv commented on #2288
@felixarntz I discussed this one with @tofumatt last week and this issue is not currently actionable due to limitations of our current feature flag implementation. The main reason here being that E2E currently runs in a production build context and we have no way of enabling select features for specific tests. I say specific features because currently all flags are enabled for development but I do

[2020-11-30 09:43] asvinb commented on #2345
@aaemnnosttv IB updated as per your comments.

[2020-11-30 11:35] eugene-manuilov commented on #2392
@tofumatt but you copied the wrong file path to your IB :smile::

[2020-11-30 11:46] eugene-manuilov commented on #2392
I also have a question: do we really need to store `dimensionName` and `dimensionValue` in the `core/forms` datastore? It seems like overkill to me because this information lives only in the scope of the widget itself and doesn't go out. So, I think it would be better to keep it in the widget state and pass it to underlying components.

[2020-11-30 11:48] aaemnnosttv opened #2452 "Make feature flags dynamic"
## Feature Description

Currently our feature flags are defined in `webpack.feature-flags.config.js` (soon to be `feature-flags.json`) which is provided as `featureFlags` to all modules in JS via Webpack. Feature flags allow us to using avoid long-running feature branches and merge code before it is ready for production use. Originally, the thought was that non-production feature code would be tre

[2020-11-30 12:19] aaemnnosttv commented on #2316
@felixarntz please see the new issue #2452 before reviewing this as somewhat conflicts with this.

[2020-11-30 13:20] asvinb commented on #2405
@aaemnnosttv Can you take another look at the IB? thanks!

[2020-11-30 16:02] aaemnnosttv commented on #2345
IB ✅

[2020-11-30 16:07] aaemnnosttv commented on #2331
Back to you @wpdarren 👍

[2020-11-30 16:10] adamsilverstein commented on #1998
@aaemnnosttv - Looks like we can use reason "lighthouseError" - trying a bad domain I got:
[code]

[2020-11-30 16:32] felixarntz commented on #2075
@ivankruchkoff Oh I see, `assets/js/components/wp-dashboard` is the correct location. The IB is referring to `components/wp-dashboard`, so I wasn't sure whether you were meaning `assets/js/components/wp-dashboard` or `assets/js/modules/*/components/wp-dashboard`, that's why I left that comment.

In this case, IB ✅

[2020-11-30 16:57] felixarntz commented on #2390
IB ✅

[2020-11-30 18:07] benbowler opened #2455 "E2E tests failing for nightly builds due to expect( '/' ).toHaveValidAMPForUser()"
## Bug Description

E2E tests for the nightly build are failing ** in multiple places** due to the same, new error with `expect( '/' ).toHaveValidAMPForUser()`.

[code]

The primary matter to determine here is whether or not the new version of WordPress causes Site Kit's tags/output to be invalid AMP markup. However, the test may only be failing because of changes in the new default theme which is

[2020-11-30 18:28] eugene-manuilov opened #2456 "Introduce a new datastore for UI state"
## Feature Description

After discussing #2392 on our internal call, we agreed that it would be more convenient to create a completely new datastore to let different logical components to store UI related state there. This new datastore should become our go-to place when it comes to knowing the selected date range, which tab is open in a widget, or which metric is select for a graph.

Having UI in

[2020-11-30 19:38] tofumatt commented on #2247
I tried to reproduce it but can't quite tell. I can't seem to get it to happen and to get the page loading more than one version of charts, but that's in part because the development page is where I encountered the error. The actual widget on that page is broken so it's hard to tell.

My thought is that the approach used to load a script here is still worthwhile, but after #2444 is merged and can

[2020-11-30 20:01] felixarntz opened #2457 "Reduce excessive amount of Analytics report requests for AdSense linked check"
When Analytics and AdSense are active, some widgets use the Analytics Reporting API to query for AdSense-related metrics. Those requests result in an error if the AdSense account and the Analytics property are not linked.

This has been a long-standing problem, because there is unfortunately no endpoint in the Analytics Management API that exposes whether such a link exists or not. There is an [en

[2020-11-30 20:19] felixarntz commented on #2452
@aaemnnosttv ACs so far look good to me, just one thing: I'm not sure about the need for a `assets/js/features.js` file. If this only exports the global, I don't think it should live at the same level as the entry points. I think we could have the one reference to `_googlesitekitBaseData.enabledFeatures` in `FeatureProvider`, as the default value for the enabled features, if no such prop is provid

[2020-11-30 20:27] felixarntz commented on #2392
@eugene-manuilov As mentioned earlier, let's for now rely on the `core/forms` store. Using a datastore allows better control about the state. Eventually, we should use a more appropriate store for such data, e.g. a `core/ui` store.

[2020-11-30 20:48] aaemnnosttv commented on #2405
Thanks @asvinb this is getting closer but still needs a bit of refinement.

It isn't clear where `url` is coming from in this one. While this is present in the component, it's always possible this could change due to changes in another issue that are merged before this one is executed. The IB is both more resilient to change as well as easier to read and understand if it doesn't require crosscheck

[2020-11-30 21:10] aaemnnosttv commented on #2255
@tofumatt – I think what I was trying to get at was we should separate tests for the component and the hook so that the component tests could be put into the error state a bit more directly (e.g. `checks = [ () => throw ERROR_INVALID_HOSTNAME ]` – maybe checks go into their own module for easy mocking?) rather than trying to setup the test environment in a way that would fail the check you want to

[2020-11-30 21:27] felixarntz commented on #2299
@aaemnnosttv Sounds good, let's get rid of the `ctaLabel` as a prop. This way we can handle both the link text and the link `aria-label` internally in the `*CTA` components.

@asvinb I've updated the ACs based on ^ and also updated the IB based on it, which was only a minor change (mostly removal of the `ctaLabel` and `ctaAriaLabel` props).

IB ✅

[2020-11-30 21:56] felixarntz commented on #2381
IB ✅

[2020-11-30 22:30] felixarntz opened #2458 "Change incorrect Search Console data threshold (back) to 2"
#2284 modified the threshold for requesting Search Console data from 3 days to 1 day ago. However, this was based on a miscommunication that the Search Console API would expose "fresh data" (data from 1 day ago), when it actually does not expose that. The Search Console frontend displays such "fresh data", but it doesn't come from the public API unfortunately.

So we'll need to change the threshol

[2020-11-30 22:40] felixarntz commented on #2080
@aaemnnosttv The issue description here was based on the previous idea of having a `settingsComponent` that manages "everything", but since we've updated that to be more granular `settingsViewComponent` and `settingsEditComponent`, I agree it makes sense to use a separate `SetupIncompleteComponent`.

[2020-12-01 01:24] felixarntz opened #2459 "Fix JS date range parsing logic for AdSense widgets"
#2235 moved responsibility for parsing AdSense date ranges from the server to the client. However, one thing was missed during definition of the issue, which was considering the day offset for AdSense API requests. On the server-side it is `1`, but now on the client-side it is `0`. The original behavior should be maintained so this will need to be updated.

---------------

_Do not alter or remove

[2020-12-01 01:39] felixarntz commented on #2261
@kostyalmm Can you add the QA Brief here?

[2020-12-01 09:05] aaemnnosttv commented on #2457
I think we can improve this part a bit. I don't think we should check the shape of the response to determine if it was previously caught. Instead, I think we could include an `error` or `isError` as a top-level property on the cached object (on the same level as `value`). In addition to this, I don't think we should throw it because that would require additional logic to avoid being reported again

[2020-12-01 09:16] jamesozzie commented on #2350
[Another report](https://wordpress.org/support/topic/site-kit-encountered-an-error-15/) of the same issue in the support forums.

[2020-12-01 09:19] aaemnnosttv commented on #2458
This issue is missing #2237 as a dependency, so I'll add that.

Otherwise, IB ✅

[2020-12-01 09:30] aaemnnosttv commented on #2459
@felixarntz can you clarify what's needed here? I found only a few instances of `dateRange` in those fixtures but can you elaborate on how the date range slug should be translated into the start/end dates? (Particularly because the estimate is so small)

[2020-12-01 09:43] aaemnnosttv commented on #2247
Sounds good @tofumatt – let's make sure we can reproduce something about it after #2444 is merged – even if we can't reproduce the exact error, if we can still reproduce a condition that could result in charts loading multiple times then let's continue with this.

[2020-12-01 10:07] kostyalmm commented on #2261
QA brief ✅

[2020-12-01 11:30] SamManders commented on #2118
I'm having the same issue, but I'm using TranslatePress. Seems like most translated sites suffer from this issue...
If there will be any solution I'd be happy to hear it.

[2020-12-01 12:15] wpdarren commented on #2331
### QA Update:  Pass ✅

**Verified:**

- When Scrolling the header remains fixed under the wp admin header - [Tablet screenshot](https://user-images.githubusercontent.com/73545194/100362172-09759480-3036-11eb-85a4-c7c6331af2ae.png) - [Desktop screenshot](https://user-images.githubusercontent.com/73545194/100362210-15615680-3036-11eb-9c39-64bb37d34b53.png) - [Mobile](https://user-images.githubuserc

[2020-12-01 12:20] jamesozzie commented on #2350
One user mentioned this started occurring after ads were not being served due to "[Invalid traffic](https://support.google.com/adsense/answer/1112983?hl=en)". From inspecting the site I don't see any ads being served.

[2020-12-01 12:50] wpdarren commented on #2261
@kostyalmm I have an incomplete module setup and can see the `incomplete setup` as seen in your screenshot, but the `error notifications` doesn't appear on the settings page within the module.  Where would you expect the notifications to appear, within settings or else where within SK?  FYI I am using the `develop` branch.

![image](https://user-images.githubusercontent.com/73545194/100742644-1455

[2020-12-01 12:54] benbowler commented on #1998
Hey @aaemnnosttv  +  @adamsilverstein, I've added a custom `$retry_map` and pass it to the Google_Client as a config that should now be passed to the REST Runner during the execute function in the library.

Updated here: https://github.com/google/site-kit-wp/pull/2442/files

[2020-12-01 13:10] kostyalmm commented on #2261
@wpdarren I have updated the brief. The brief wasn't very accurate, my bad 😅

[2020-12-01 13:44] wpdarren commented on #2436
### QA update: Pass ✅

- The dashboard module does not show empty states before loading data.  Created a screencast to show behaviour. [screencast](https://user-images.githubusercontent.com/73545194/100748495-584c7100-341e-11eb-90de-0ecc135169b5.gif)

[2020-12-01 14:17] wpdarren commented on #2261
### QA update: ⚠️ Engineer to confirm

@kostyalmm perfect.  Yes, I see the behaviour as expected from the QA brief ([Screenshot](https://user-images.githubusercontent.com/73545194/100750936-ac0c8980-3421-11eb-8c50-13c146357f59.png))  but I have an observation.

Here are the steps to recreate this scenario:

1. I reset SiteKit
2. Connect my Google account and sign in.
3. From within the dashboard (

[2020-12-01 15:04] kostyalmm commented on #2261
@wpdarren yes I am aware of this issue. This happens because when the user clicks on "Connect Service", the module is activated in the datastore(before the user is redirected to the google login flow). Since it is not setup yet(has unsatisfied scopes), the notification comes up.

Also, this `ErrorNotifications` component is rendered only when `showErrorNotifications` flag is enabled (only in dev r

[2020-12-01 15:18] tofumatt commented on #2255
Ah, I see. My only issue with that is that it decouples our actual checks with the component's output. In that case, we need to remember to refactor both the component tests and the hook tests when things change. It'd be possible to update the hooks and their respective tests—and even the component's logic—but not have the component tests cover the change because they aren't relying on the real te

[2020-12-01 15:58] wpdarren commented on #2130
### QA Update: ❌

@ivankruchkoff please note my observations below.

GA was not activated:

- For this test, Browserstack was used.  On an iOS device (iPhone 12 and iPad 8) the `Optimize` module does not appear as in the screenshot. [Screenshot](https://user-images.githubusercontent.com/73545194/100755518-3c010200-3427-11eb-8a1a-c19c71f2f639.png) As a second check, I also looked at Safari on MacOS

[2020-12-01 16:06] wpdarren commented on #2261
@kostyalmm @felixarntz other than this observation, based on the QA brief, this has passed, but please let me know if you would like me to move this to approved or not, especially if there's additional work that needs completing. Thank you.

[2020-12-01 16:28] jonams27 opened #2462 "Error trying to set up Site Kit for WordPress"
When trying to set up Site Kit by Google for WordPress I keep on getting the following error:
****
400. That’s an error.
The server cannot process the request because it is malformed. It should not be retried. That’s all we know.
****
Any recommendation as to what I should do? This happens after I attempt to "Sign in with Google" during the set-up.

[2020-12-01 16:35] felixarntz commented on #2261
Good catch @wpdarren - this should definitely not be the case!

@kostyalmm This is somewhat due to a race condition: We need to refresh the authentication data after activating a module to know whether new scopes are required. But since the plugin caters for that by redirecting to the OAuth screen, it does not make sense for the error to pop up in this split second before the user will fix it. We'

[2020-12-01 16:54] aaemnnosttv commented on #2299
@felixarntz @asvinb per my last comment – we should no longer be using the legacy `getReAuthURL` utility function which is still in the IB – instead we should use the `getAdminReauthURL` selector from `core/modules` 🙂

[2020-12-01 16:56] jamesozzie commented on #2462
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist and hopefully get you successfully connected.

Please include as much relevant information to your support topic as needed to assist with this issue, such as whether the same

[2020-12-01 16:56] #2462 closed

[2020-12-01 16:57] aaemnnosttv commented on #1998
@adamsilverstein is this one you could help QA? If not, could you please update the QAB? 🙂

[2020-12-01 17:56] adamsilverstein commented on #1998
Sure, I'm going to look into [returning mocked responses](https://github.com/google/site-kit-wp/issues/1998#issuecomment-701004690) so we can directly recreate/test the retry conditions.

[2020-12-01 18:38] aaemnnosttv commented on #2355
@ivankruchkoff – The ACs should be good to go here – regarding the IB, we should rely on the respective tool-specific ignore files as the source of truth as to what to lint and what not to. As to the lint-staged config, this should already be done for PHP where it includes `*.php` so let's do the same for JS, unless there's some reason why we can't/shouldn't 👍

[2020-12-01 19:05] jamesozzie opened #2463 "Helper Plugin - redirect_uri_mismatch. wp-admin callback URI not added when setting up on a staging site"
## Bug Description

As reported by one user in the [support forums](https://wordpress.org/support/topic/redo-the-plugin-setup-on-site-kit-plugin/#post-13731987) when following the [guide to set Site Kit up on a staging site](https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/) the below error appears:

[code]

I've been able to reproduce this one two sites, and I'

[2020-12-01 19:39] aaemnnosttv commented on #2255
@tofumatt – after thinking about this a little bit more, I think part of the confusion here is around the `useCompatibilityChecks` hook. In that, the original idea here was to separate the check logic from the rendering component which only really cares about the result and intermediate state. For that reason, I think it would make much more sense (from a testing perspective as well) to actually m

[2020-12-01 19:52] tofumatt commented on #2075
Unclear to me why the `ReportTable` component is blocking this issue from being implemented, as from what I can see there's no mention of it in use by this component (or even any sub-components). Is it alright to remove that dependency to unblock this issue?

[2020-12-01 20:01] eugene-manuilov commented on #2390
@aaemnnosttv @felixarntz @tofumatt this ticket is ready for the initial code review even though github shows failed checks which seem to be caused by github itsefl.

[2020-12-01 21:32] aaemnnosttv commented on #2255
@tofumatt – IB looks great, just two points to tweak:

`{ passed: Boolean|undefined, error: Error }`

Let's keep the previous `{ complete: Boolean, error: Error|null }` shape as it shouldn't be possible for checks to both pass and have an error (at least for now). So this way we don't need to add a 3rd value to `passed` to account for loading/in-progress. `complete = false` = in progress, `true` =

[2020-12-01 22:25] mlc212 opened #2464 "ADSENSE ISSUE"
What code eliminates Adsense from the site kit?

[2020-12-01 23:44] felixarntz commented on #2459
@aaemnnosttv I've opened a PR for this already, it might clarify the IB a bit. The approach of putting the mock data into the JS file makes it a bit full, but at the same time having the data as a fixture is more error-prone, since it doesn't indicate that certain fields in those fixtures are dependent on certain Storybook data configuration. Let's think about how we could improve this while still

[2020-12-02 04:13] ernee commented on #2464
@mlc212 We provide support for Site Kit in the WordPress support forums. Could you [open a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there with more information about the issue? Thanks!

[2020-12-02 04:13] #2464 closed

[2020-12-02 04:20] cole10up commented on #2283
### QA ⚠️

Activated latest development build and completed the user input settings.

Confirmed:
![image](https://user-images.githubusercontent.com/57115907/100827514-c2124e00-3411-11eb-85cc-4a2c3da1e287.png)

Notice the icon doesn't match the figma design:
![image](https://user-images.githubusercontent.com/57115907/100827574-e5d59400-3411-11eb-95c8-6745cf12b084.png)

Confirmed Firefox, Edge, Chro

[2020-12-02 07:19] aaemnnosttv commented on #2459
Thanks @felixarntz that helps a lot.

I think this is where factories are useful, or a kind of hybrid fixture that allows for some dynamic bits.

Looks good so far though. IB ✅

[2020-12-02 08:11] benbowler commented on #2243
@aaemnnosttv @felixarntz I can see that #2436 has now been completed, are there any additional actions to take on this issue or can it now proceed to QA?

[2020-12-02 08:17] aaemnnosttv commented on #2247
@tofumatt This seems to be fixed by #2444. Adding a few logs in place I was able to reproduce the redundant loading of `loader.js` in develop but not in the branch for the multiple runtime fix.

<details>
	<summary>verbose details for nerds</summary>

[code]

**Dashboard on `develop`**
![image](https://user-images.githubusercontent.com/1621608/100845583-23740480-3486-11eb-8e9d-c1c25097e7e9.png)
![

[2020-12-02 08:48] aaemnnosttv commented on #2243
This is good for QA now @benbowler now that it isn't blocked by the unrelated error 👍

[2020-12-02 08:50] benbowler commented on #2243
Thanks for un-assigning.

[2020-12-02 09:33] kostyalmm commented on #2283
@cole10up please see [this comment](https://github.com/google/site-kit-wp/issues/2283#issuecomment-724200249) from @felixarntz. The Figma doesn't seem to be accurate.

[2020-12-02 09:54] kostyalmm commented on #2261
@felixarntz adding a `navigatingToOAuth` to `core/site` (or creating `global`/`core/global`) sounds fine to me. 🤔

cc @aaemnnosttv

[2020-12-02 10:32] aaemnnosttv commented on #2200
@felixarntz chiming in a bit late here – I'm not sure about the proposed new function; why not just use `numberFormat` with the appropriate options? `numberFormatWithUnit` as it is described is difficult to understand and unnecessary in most cases I think. `unit` has a special case for `%` but it may also be a currency code (which is not a unit). The fallback behavior of appending the unit at the

[2020-12-02 11:01] benbowler commented on #2381
I've completed this work, I'm just waiting on the blocking ticket to provide the `AnalyticsInactiveCTA` and `CompleteModuleActivationCTA` components.

[2020-12-02 11:07] wpdarren commented on #2463
**L1 Escalation check.**

Can confirm that this issue occurs when setting connecting to Google account after setting up a staging site  - [Screenshot](https://user-images.githubusercontent.com/73545194/100864582-2516ea00-34d1-11eb-80ea-a8830c8f54f0.png)  ✅

[2020-12-02 11:19] benbowler commented on #2259
## QA Comment

Considering the other changes in this issue, should `assets/js/components/dashboard-splash/dashboard-splash-app.js` be renamed `assets/js/components/dashboard-splash/SashboardSplashApp.js`

[2020-12-02 11:25] benbowler commented on #2259
Ignore the above comment @asvinb, I was checking in the branch not the merged down version where this has been addressed.

## QA:Eng Approved ✅

[2020-12-02 11:31] benbowler commented on #2235
## ✅ QA:Eng Approved

[2020-12-02 12:04] benbowler commented on #2458
I've completed this task but note that I've based the PR on my other blocking ticket #2447. Once this is merged the PR can be updated to base on the develop.

[2020-12-02 12:27] jamesozzie commented on #2450
Some useful videos provided within the [support topic](https://wordpress.org/support/topic/insufficient-permissions-in-analytics-bug/#post-13717035).

The user has access to the referenced property within the [latest video](https://www.loom.com/share/8a898b09821e4df3a9b9b1c249e35d9f), with the user confirming all properties are part of the same account.

Awaiting further troubleshooting results wi

[2020-12-02 13:18] eugene-manuilov commented on #2424
@felixarntz this is ready for IBR. I have extracted implementation details from the AC and adjusted it a little bit to define the expected outcome of this ticket more clearly. Hope it works for you.

[2020-12-02 13:41] wpdarren commented on #2450
### Escalation L1 update:

- Set up 3 sites, activated v1.20.0 Site Kit on each one and used the same Google account but different properties for GA.
- Logged into GA and could see the three properties as expected.
- Updated Site Kit to v1.21.0 and observed no messages re permissions in GA module or dashboard.
- Reset Site Kit on all 3 sites, and reconnected them again with the same Google account

[2020-12-02 14:07] eugene-manuilov commented on #2425
@felixarntz this is ready for IBR. Once again, moved implementation details from AC to IB section and updated AC to describe the expected outcome of this ticket. Let me know if it's okay for you.

[2020-12-02 14:45] jamesozzie commented on #2450
@wpdarren Thanks for checking. Awaiting feedback from the user in relation to removing the snippet via another plugin, I'll let you know as soon as I have an update.

[2020-12-02 14:53] benbowler commented on #2218
## ✅ IB Written

[2020-12-02 15:29] benbowler commented on #2272
## ✅ IB Written

[2020-12-02 15:50] tofumatt commented on #2455
Right now I'm seeing these errors in my PHP logs when accessing my local site with AMP enabled in "Standard" mode. Even with Site Kit disabled I see that using Twenty Twenty as a theme.

<img width="857" alt="Screenshot 2020-12-02 at 15 45 43" src="https://user-images.githubusercontent.com/90871/100895739-cd1eba00-34b5-11eb-98a7-6b1f6b3c908f.png">

It seems to be failing when parsing a CSS stylesh

[2020-12-02 15:58] aaemnnosttv commented on #2261
@felixarntz I think the solution here shouldn't be specific to a particular navigation, since this will definitely come up again and like you said, we're already using some workarounds in various components.

Two solutions come to mind:
1. Add an event listener on page navigation events and update state in the store accordingly on navigation. Then we can expose this via selectors to components to

[2020-12-02 16:28] caseymorrisus opened #2468 "Require SVGs for all images and remove unnecessary image support"
## Feature Description

All existing images should be removed and replaced with SVGs as we will only support SVGs going forward. Existing logic for handling images can be removed to simplify logic.

~~We currently need to explicitly append a global variable (`global._googlesitekitLegacyData.admin.assetsRoot`) to every image source that we use. This is a bit tedious and could be handled better via

[2020-12-02 16:38] aaemnnosttv commented on #2455
@tofumatt – that's odd. What version of AMP do you have installed? Do you have xdebug enabled by chance?

[2020-12-02 16:42] aaemnnosttv commented on #2255
IB ✅ 🎉

[2020-12-02 16:49] felixarntz commented on #2283
@cole10up @kostyalmm That is correct, the Figma file is outdated. The notification should look like the screenshot in the issue description (only with different copy per the ACs).

[2020-12-02 16:51] cole10up commented on #2283
Thanks guys! Sending over to approved.

[2020-12-02 17:02] tofumatt commented on #2455
Latest version of AMP… XDebug is enabled on my site, but this never used to happen, I'll try disabling it…

[2020-12-02 17:08] felixarntz commented on #2237
@benbowler There is some additional complexity here around making this work in Storybook, which we didn't consider originally. See #2459 for the related fixes to the AdSense date parsing logic. We should consider this here too and make sure the Storybook stories for those widgets still work, which will depend on the approach of #2459 and furthermore require a bit of extra work. Because of timeline

[2020-12-02 17:12] felixarntz commented on #2458
@benbowler See my comment on #2447, that one involves a bit more complexity than originally envisioned, so we won't be able to get it into the release. This one here, however is trivial - can you open a PR against `develop` with only the PHP part? This will fix the user-facing issue against the current codebase.

[2020-12-02 17:15] tofumatt commented on #2455
Still happening with XDebug disabled on that site. I'm quite stumped…

[2020-12-02 17:38] felixarntz commented on #2261
@kostyalmm @aaemnnosttv @wpdarren We're a bit late for making those changes to this issue which has already been merged for the release. I think it'd make sense to open a follow-up issue to fix this remaining problem and prioritize for the upcoming sprint. Since that problem only occurs in a development build, we're okay shipping the already merged code without a user-facing regression.

@aaemnnos

[2020-12-02 18:02] felixarntz commented on #2455
@westonruter Are you aware of any incompatibilities between the AMP plugin and nightly WP / WP 5.6? Our e2e tests are failing and it seems to be related to the AMP plugin, see https://github.com/google/site-kit-wp/issues/2455#issuecomment-737317301

[2020-12-02 18:10] benbowler commented on #2458
@felixarntz I've created a new [PR here against `develop` with just the updates to ` Search_Console.php`](https://github.com/google/site-kit-wp/pull/2469).

[2020-12-02 18:41] ivankruchkoff commented on #2130
@wpdarren thanks for the update.

I was able to repro. Put out a fix in #2470

[2020-12-02 18:57] westonruter commented on #2455
Do you have any code that is doing `ob_start()` inside of a sanitizer or any other logic that runs during output buffer processing? That will cause this error.

[2020-12-02 19:02] westonruter commented on #2455
Actually, I think the issue is that you're running out of memory during CSS processing. This is causing an error to be emitted which is then as a side effect causing the output buffer failure.  This came up before, actually with @aaemnnosttv. See comments at/after https://github.com/ampproject/amp-wp/issues/1915#issuecomment-527411833.

So check for other PHP errors in the log.

[2020-12-02 19:36] tofumatt commented on #2455
Noted, thanks! I thought it might've been a bug causing those errors, as elsewhere in our test suite we were seeing errors with AMP + Site Kit + WordPress Nightly (5.7). Seems like they might not be related, I'll keep digging.

Cheers @westonruter! 👍🏻

[2020-12-02 21:40] cole10up commented on #2256
### QA ✅

Disconnected and reconnected SK, ran a series of functional tests - no issues.

Sending to Approved.

[2020-12-02 22:15] adamsilverstein commented on #1998
I'm still digging into the best way to test this, it might be easiest to mock the responses manually for testing, I am also investigated modifying `vendor/google/apiclient/src/Http/REST.php` to force an error.

Since we are relying on the client for the correct behavior, perhaps checking that the `Runner` is passed the correct `$retryMap` data?

[2020-12-02 22:33] adamsilverstein commented on #1998
I spent some time debugging this and checked that the client was picking up the correct retry_map that we are trying to set. Unfortunately it is not working correctly as is.

The underlying client looks for a config setting named `retry_map` when setting up the REST request against the Google API:

https://github.com/googleapis/google-api-php-client/blob/81696e6206322e38c643cfcc96c4494ccfef8a32/sr

[2020-12-03 02:10] felixarntz commented on #2383
@benbowler I've updated the QA Brief here. There's quite some details to consider in this particular case, so don't worry about not having put all that here. Just a general remark for future QA Briefs, unless the change is not user-testable, try to describe how the functionality that is affected by the change can be tested, rather than verifying that a certain piece of code exists. 👍

[2020-12-03 02:33] ivankruchkoff commented on #2130
Separate PR to address https://github.com/google/site-kit-wp/pull/2470#discussion_r534406753 in #2471 to avoid making other changes prior to release.

[2020-12-03 02:48] felixarntz commented on #2130
@ivankruchkoff Can you open a separate issue for this one with the goal to consistently format item lists? You can then assign the PR to that one.

[2020-12-03 03:08] felixarntz commented on #2416
IB ✅

[2020-12-03 03:11] felixarntz commented on #2290
@kostyalmm The IB doesn't contain the part about updating `DashboardSplashApp` to use `SetupUsingGCP`. Maybe you omitted that because it's already clear from the ACs, so that's okay - just wanted to highlight. ✅

[2020-12-03 03:17] felixarntz commented on #475
IB ✅

@aaemnnosttv

Good point, I agree the `is_blocked` makes more sense here.

[2020-12-03 03:22] felixarntz commented on #2392
@tofumatt The IB looks good to me. There are a few pieces missing, but those are specified in detail already in the ACs, like the exact slug for registering the widget. One thing you're not mentioning in the IB at all is adding the source link which should also be done in this issue as defined in the ACs. That source link should be in the main component, it shouldn't be controlled by one of the sc

[2020-12-03 03:23] felixarntz commented on #2421
IB ✅

[2020-12-03 03:30] felixarntz commented on #2425
@eugene-manuilov I think overall this looks good, however I'd prefer if we kept ACs untouched or only changed them after discussing the changes. For example, not everything you moved to the IB isn't also valuable for the ACs (for example the handling of more than 5 elements for the piechart). For ACs that include implementation details, it's okay in the IB to list those parts only briefly with "se

[2020-12-03 03:37] felixarntz commented on #2428
@eugene-manuilov

Why is that necessary? Is there something broken in the current behavior? I would think the only thing (if any) to adjust in `getServiceReportURL` itself would be to allow for the `argsSegment` to not be present (i.e. no args).

[2020-12-03 03:38] felixarntz commented on #2424
@eugene-manuilov See my other comment regarding moving/updating ACs; IB ✅

[2020-12-03 03:40] felixarntz commented on #2413
IB ✅

[2020-12-03 03:41] felixarntz commented on #2285
@tofumatt Ah good point - I had forgotten this PHP logic exists. Makes me even more happy now 😆

IB ✅

[2020-12-03 03:42] felixarntz commented on #2272
@benbowler IB ✅  Can you add an estimate for this issue?

[2020-12-03 03:43] felixarntz commented on #2344
IB ✅

[2020-12-03 03:50] felixarntz commented on #2218
@benbowler Mostly LGTM, just one point of feedback:

1. It'd be good to clarify here that this shouldn't be the "first 25 accounts", but rather the remaining 25 accounts. Otherwise we'd double-request the data for the first one. You can use something like `array_shift` to get the first account and remove it from the array.
2. I think `array_slice` is more appropriate for this usage above.

One ove

[2020-12-03 07:18] eugene-manuilov commented on #2428
@felixarntz, currently, we import `path` from node.js core which can be considered as a bad practice if there is a good alternative that doesn't rely on node.js. That's why I added that piece to the IB to update service URLs using string templates.

[2020-12-03 07:24] eugene-manuilov commented on #2425
:+1:

Ah.. yes, you are right, I have added it back to the AC.

[2020-12-03 08:59] aaemnnosttv commented on #2468
@felixarntz while the suggested change here would simplify our usage of the few images we use, perhaps we should redefine this issue to replace all images with svgs since images seem to be mostly a legacy thing for us (do we plan on adding images in the future?). Most of these are very much icon-like as it is (not sure if we can find the vector versions for all of these – if not perhaps we could r

[2020-12-03 09:10] aaemnnosttv commented on #1998
Thanks @adamsilverstein ! @benbowler can you create a quick follow-up PR for the change described above?

[2020-12-03 09:24] benbowler commented on #1998
@aaemnnosttv follow up PR created and linked.

[2020-12-03 09:25] aaemnnosttv opened #2473 "Release 1.22.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-12-03 10:07] aaemnnosttv commented on #1998
@adamsilverstein ready for another pass 👍

[2020-12-03 10:36] jamesozzie commented on #2350
Update on [one impacted user](https://wordpress.org/support/topic/site-kit-encountered-an-error-15/#post-13739622. It was [an AbBlocker](https://www.getadblock.com/) causing the issue in this instance.

[2020-12-03 10:59] aaemnnosttv commented on #2455
@westonruter this seems to be specific to testing with the new Twenty Twenty-One theme. With the same code the AMP tests pass for me using Twenty Twenty.

I took a look in the browser using the AMP validator extension and it also indicates that Twenty Twenty-One has invalid AMP markup:
![image](https://user-images.githubusercontent.com/1621608/100999753-c9e30700-3565-11eb-8bbb-7d63e427d60c.png)

T

[2020-12-03 11:27] tofumatt commented on #2455
Great minds, I was trying this out too and nearing this idea 🙂

IB ✅ (Code reviewed and looks good as well!)

[2020-12-03 11:27] aaemnnosttv commented on #2264
## QA ✅

https://travis-ci.com/github/google/site-kit-wp/builds/205553763
![image](https://user-images.githubusercontent.com/1621608/101011656-53e19e80-356b-11eb-8c25-1d2154ebf7a1.png)

[2020-12-03 11:55] jamesozzie commented on #1229
@hapesurya If you're still encountering issues with Site Kit feel free to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the WordPress support forums, where we provide plugin support.

[2020-12-03 11:55] #1229 closed

[2020-12-03 11:59] jamesozzie commented on #889
Closing as the PageSpeed Insights module has since been modified with a different set of insights, not including performance score within the plugin.

[2020-12-03 11:59] #889 closed

[2020-12-03 12:03] jamesozzie commented on #941
@jaybayron We've moved Site Kit support to the WordPress support forums. If you're still encountering any issues during setup please open a [support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

[2020-12-03 12:03] #941 closed

[2020-12-03 12:12] tofumatt commented on #2243
QA ✅

[2020-12-03 12:18] jamesozzie commented on #1893
@Od99977 Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. Note that we can only assist with Site Kit related queries, should this issue be at AdSense account level the product experts at the [AdSense Help Center](https://su

[2020-12-03 12:18] #1893 closed

[2020-12-03 12:19] jamesozzie commented on #1915
Closing with user now connected

[2020-12-03 12:19] #1915 closed

[2020-12-03 12:23] aaemnnosttv commented on #2452
Thanks for the feedback @felixarntz ! A few replies to your comments below:

It's not strictly necessary to have that as a separate module – the idea there is that it would be cleaner to mock in tests as a module than changing a global which requires manual teardown whereas module mocks are scoped to the current test case.

It would also standardize access for any cases where the value might be ne

[2020-12-03 12:27] wpdarren commented on #2458
### QA update: Pass ✅

- Dates displayed for Search Console displays data up until 2 days ago, i.e. 12/1 - [Screenshot](https://user-images.githubusercontent.com/73545194/101017563-36c9c180-35a5-11eb-8243-d937ae5b81cb.png)
- Dates displayed for Search Console displays data up until 2 days ago and includes the 7/14/28/90 day range - [Screenshot](https://user-images.githubusercontent.com/73545194/10

[2020-12-03 12:48] wpdarren commented on #2238
@aaemnnosttv @felixarntz I'm not seeing this fixed on `develop` branch. Please could you check that it has merged?

[2020-12-03 13:04] wpdarren commented on #2390
### QA Update:

@eugene-manuilov the styling seems off on the new section, there is no margin. Also in the AC it says that there should be a gray line. Unfortunately, I do not have access to the Figma UI mock, but Is the styling being picked up in another ticket? - [Screenshot](https://user-images.githubusercontent.com/73545194/101021306-bad27800-35aa-11eb-9acb-2c9d2f0db57b.png)

[2020-12-03 13:08] aaemnnosttv opened #2475 "Remove deprecated `sudo` key from Travis config"
## Bug Description

The top-level `sudo` key in the Travis config is deprecated now and no longer has an effect.

![image](https://user-images.githubusercontent.com/1621608/101021443-99f12f00-3578-11eb-836a-269f693718de.png)

While this will have no change on the build to keep or remove, it will resolve the warning we currently see about the build config which we shouldn't get in the habit of igno

[2020-12-03 13:23] eugene-manuilov commented on #2316
QA :heavy_check_mark: all works as intended.

[2020-12-03 13:24] wpdarren commented on #2130
### QA Update: Pass ✅

- On an iOS device (iPhone 12 and iPad 8) and Safari, the Optimize module appears as in the screenshot. [Screenshot](https://user-images.githubusercontent.com/73545194/101023444-be1b3300-35ad-11eb-8a64-ff0f12535a1e.png)
- As a second check, I also looked at Safari on MacOS, and the same applies. -
[Screenshot](https://user-images.githubusercontent.com/73545194/101023572-eacf

[2020-12-03 13:34] eugene-manuilov commented on #2401
QA :heavy_check_mark: all looks good.

[2020-12-03 14:15] aaemnnosttv commented on #2238
@wpdarren [it is merged](https://github.com/google/site-kit-wp/pull/2427#event-4064918214).

It may be though that the user input specific changes are only visible in non-release builds (i.e. using develop with the tester plugin won't work currently for testing features behind feature flags).

Can you maybe confirm using Storybook?
* https://google.github.io/site-kit-wp/storybook/develop/?path=/st

[2020-12-03 14:26] benbowler commented on #2154
## QA: Eng Feedbaack

Hey @tofumatt, I followed the QA brief on the merged down develop branch and I only got 6 warnings from ESLint:

[code]

Looking at the AC it looks like the rules that are missing are:

 * Empty lines between adjacent tags in groups of tags should not be allowed
(e.g. between @since, @private, or @param and @return)
 * More than a single consecutive empty line should not be a

[2020-12-03 14:29] wpdarren commented on #2238
### QA update:  Pass ✅

- Viewing the setup page - the layout should be visually identical to the pre-commit version. [Screenshot](https://user-images.githubusercontent.com/73545194/101039858-ebb8aa00-35b6-11eb-969f-27de7027d84f.png)
- Check for both default proxy and legacy (GCP) splash screens  - [Screenshot](https://user-images.githubusercontent.com/73545194/101039927-f115f480-35b6-11eb-9204-65

[2020-12-03 14:32] benbowler commented on #2455
## ✅ QA:Eng Approved

I verified that the [E2E Tests (WordPress nightly)](https://travis-ci.com/github/google/site-kit-wp/jobs/453622388) completed successfully for this merge.

[2020-12-03 15:47] aaemnnosttv commented on #2334
Note: I updated the ACs here to be closer to the intended outcome rather than being specific to clearing the cache which is no longer in line with the approved IB.

[2020-12-03 15:54] aaemnnosttv commented on #2334
## QA ✅

Tested upgrading from the current release to the current develop build and fresh cache items were added with the version baked into the key triggering new API requests:

![image](https://user-images.githubusercontent.com/1621608/101053511-894cb300-3590-11eb-88f1-649114ae7ce0.png)

[2020-12-03 15:57] felixarntz commented on #2468
@aaemnnosttv I like the idea of changing our overall approach to only rely on SVGs going forward. IMO we don't need to fix/improve image handling then, and we could even consider removing image-specific props and behavior, to set a clear precedent that all images going forward should be SVGs. If we ever need to introduce an image that doesn't make sense as SVG (like a photo maybe), we could revisi

[2020-12-03 16:03] westonruter commented on #2455
I've found that the AMP Validator extension can be confused by incognito mode. It seems to perform the validation check as a non-incognito window. Try signing out of WordPress instead.

[2020-12-03 16:28] aaemnnosttv commented on #2309
## QA ✅

**Note: `webpack.feature-flags.config.js` is now `feature-flags.json`**

---

✅  `serviceSetupV2` should only be enabled for a development build.
* https://github.com/google/site-kit-wp/blob/df4fea64e479c9299c969855f450a338760ae48d/feature-flags.json#L16-L18

✅  `SetupUsingProxy` is using the `serviceSetupV2` feature flag rather than `userInput`
* https://github.com/google/site-kit-wp/blo

[2020-12-03 16:33] felixarntz opened #2477 "Update AdSense widgets to no longer pass special dateRange parameters"
#2235 (and follow-up #2459) already modified the "typical" `dateRange` parameters in refactored AdSense widgets to be replaced with `startDate` and `endDate` parameters. There are some special cases in the `DashboardSummaryWidget` though which use `dateRange` values that are only used and supported by the AdSense module specifically, so those cannot use the centralized `getDateRangeDates` selector

[2020-12-03 16:36] aaemnnosttv commented on #2043
## QA ✅

1. Tested that notification showed up as expected
![image](https://user-images.githubusercontent.com/1621608/101058828-41c92580-3596-11eb-9a2a-1b91e5e0771a.png)
1. Tested that the primary button navigates to the user input screen
![image](https://user-images.githubusercontent.com/1621608/101058858-50174180-3596-11eb-8d7d-0ff0982dd35a.png)
1. Tested that notification did not show again aft

[2020-12-03 17:00] #2309 closed

[2020-12-03 17:02] aaemnnosttv commented on #2455
Thanks @westonruter – I no longer see any validation errors when logged out with only AMP active.

The issue we were seeing definitely seems to be related to Twenty Twenty-One though because everything works just fine only by changing the theme back to Twenty Twenty.

[2020-12-03 17:07] #2334 closed

[2020-12-03 17:08] #2238 closed

[2020-12-03 17:08] #2130 closed

[2020-12-03 17:08] #2458 closed

[2020-12-03 17:08] #2243 closed

[2020-12-03 17:09] #2264 closed

[2020-12-03 17:09] #2256 closed

[2020-12-03 17:11] #2235 closed

[2020-12-03 17:12] #2259 closed

[2020-12-03 17:12] #2436 closed

[2020-12-03 17:12] #2181 closed

[2020-12-03 17:13] #2315 closed

[2020-12-03 17:14] #2329 closed

[2020-12-03 17:14] #2194 closed

[2020-12-03 17:14] #2244 closed

[2020-12-03 17:14] #2401 closed

[2020-12-03 17:14] #2316 closed

[2020-12-03 17:22] #2228 closed

[2020-12-03 17:23] #2455 closed

[2020-12-03 18:54] eugene-manuilov opened #2478 "Invalid URL error on confirming site kit reset after disconnecting"
## Bug Description

I have encountered an error during smoke testing the latest release (`1.22.0`) which happened after I reset the disconnected site kit. The error itself doesn't seem to block redirect that happens after we confirm resetting which is good. However, it may confuse users, so we still need to address it.

## Steps to reproduce

1. Enable the `Preserve log` option in your browser con

[2020-12-03 18:59] eugene-manuilov commented on #2473
@felixarntz release looks good to me, but I have found one error during my testing. The error appears after I confirm resetting the plugin and exists in the current production version of the plugin, so it shouldn't block the new release. I have created a new issue for it: #2478.

[2020-12-03 19:05] eugene-manuilov commented on #2473
One more minor thing that I have noticed is that the new release missing the caret icon in the user menu. Not sure if it has been removed intentionally or not.

The current production version:
![old](https://user-images.githubusercontent.com/873049/101075884-464c0900-35ab-11eb-9843-22ce9648e9c5.png)

The new release:
![new](https://user-images.githubusercontent.com/873049/101075901-4cda8080-35ab-1