[2021-05-05 14:04] wpdarren commented on #3161
### QA Update:  Pass ✅

**Verified:**

- A new setting has been added to the Analytics module settings for providing an Ads conversion ID

![image](https://user-images.githubusercontent.com/73545194/117147898-9a9f2300-adad-11eb-98e0-7527f9f92b50.png)

- The setting only shows in the module settings, not during set up.

- The setting only appears if the snippet is enabled for GA.

![image](https://

[2021-05-05 14:06] Hazlitte commented on #3285
Hi @jamesozzie, This bug is being caused by the `Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.` error which we worked on in issue [2280](https://github.com/google/site-kit-wp/issues/2280).  If the solution applied to the components referenced in that issue is also applied to the `ReportTable` component I suspect this bug will be resolved.

[2021-05-05 14:20] wpdarren commented on #2821
QA Update:  Pass ✅

**Verified:**

- The actual data appears on the Detailed Page Stats and the error message does not appear.

![image](https://user-images.githubusercontent.com/73545194/117155107-667b3080-adb4-11eb-9042-082c52aa3360.png)

- The url in the analytics doesn't have the folder twice.

![image](https://user-images.githubusercontent.com/73545194/117156116-45670f80-adb5-11eb-9c5b-53e8c0

[2021-05-05 14:26] bethanylang commented on #2986
Closing.

[2021-05-05 14:26] #2986 closed

[2021-05-05 15:13] wpdarren commented on #3069
### QA Update:  Engineer clarification ⚠️

@tofumatt this is looking good other than an observation when you use tab to move around the navigation. This is only an issue when you press enter for the dropdown list to appear. When I tab to account, the date picker navigation is still highlighted.  This screencast below highlights the issue better than I can explain it.

Is this an issue, possibly no

[2021-05-05 15:15] felixarntz opened #3297 "Automatically set related GA4 property if there is an existing GA4 tag with permission"
When there is an existing UA tag that the user has access to ("tag permission"), the UA property is automatically set in the `modules/analytics` store. The same should be implemented for GA4, automatically setting the GA4 property in the `modules/analytics-4` store if there is an existing GA4 tag that the user has access to (based on #3288).

---------------

_Do not alter or remove anything below

[2021-05-05 15:21] tofumatt commented on #3069
Hmmm, that's not the right effect, I'll take a look and see if it's a regression or if that's a separate bug.

[2021-05-05 15:25] aarondruck commented on #3162
The *Smartphone* and *Computer* icons work, thank you for looking into it!

On Mon, May 3, 2021 at 5:16 AM Evan Mattson ***@***.***>
wrote:

[2021-05-05 15:33] eugene-manuilov commented on #2681
Thanks, @johnPhillips. The IB looks very solid. Just found two issues that we need to update in the IB. Could you please take a look at it?

Let's not include `loggedinUsers` by default because it should be done intentionally and by a user.

It uses `trackingDisabled` key in your example. Could you please update it to use the relevant setting slug?

[2021-05-05 15:34] jamesozzie opened #3299 "AdSense Dashboard Errors: Data Error in Analytics. Unknown metric(s): ha:adsenseRevenue, gaadsensePageImpression, ga:adsenseECPM"
## Bug Description

As reported in [one WordPress support topic](https://wordpress.org/support/topic/detailed-page-stats/page/4/#post-14403484) a user is encountering the below in their AdSense dashboard.
`Data Error in Analytics. Unknown metric(s): ha:adsenseRevenue, gaadsensePageImpression, ga:adsenseECPM For details see https://developers.google.com/analytics/devguides/reporting/core/dimsmets`

[2021-05-05 15:42] aaemnnosttv commented on #3091
Pulling this back for a quick follow up as there is now a prop type warning in the console related to a change I made.

[2021-05-05 15:52] aaemnnosttv commented on #3091
## QA ✅

Prop type warning no longer shows

![image](https://user-images.githubusercontent.com/1621608/117170824-02b43000-add3-11eb-805e-a36779dffbd6.png)

[2021-05-05 16:01] tofumatt commented on #3069
@wpdarren I think the issue was that the fix wasn't in `develop`, but should be there now. Can you try again on the `develop` branch—we just merged the fix over 👍🏻

[2021-05-05 16:15] jamesozzie commented on #3255
Safari 14 (Big Sur) - Unable to recreate issue.
MasOC Catalina 13.1 - Unable to recreate issue.

Two sites tested with all services connected. All Site Kit tabs checked - Browserstack testing account

![image](https://user-images.githubusercontent.com/41326532/117173366-97fbf800-adc4-11eb-9eec-74a3a9b8cfcd.png)

There was a potentically impacted bug which seems to have been resolved which may have

[2021-05-05 16:21] aaemnnosttv commented on #2681
@eugene-manuilov I think @felixarntz may need to clarify this bit which is not explicitly mentioned in the ACs but this is how Analytics works which is the basis for the implementation here.

[2021-05-05 16:24] wpdarren commented on #3069
### QA Update: Pass ✅

- Verified that the menu item maintains the hover state styling when open. This was tested on Chrome, Firefox and Safari. I also ran this through mobile devices and smaller screens to make sure that the behaviour was the same.
- Verified that the navigation can be used without a mouse, so keyboard (tab, enter, arrow keys) to make sure that the behaviour was the same on the h

[2021-05-05 16:37] johnPhillips commented on #2681
Thanks for spotting that @eugene-manuilov - edited.

Yes as @aaemnnosttv says I was working off the example in analytics. Happy to change this as required, just let me know. 👍

[2021-05-05 16:49] aegisdesign commented on #3255
fyi. There's a newer build of Safari 14.1 out today to address a WebKit exploit. Version 14.1 (14611.1.21.161.7)

I'm getting the same issue on this version as the previous version (ending 161.5)

https://www.macworld.co.uk/news/safari-webkit-exploit-update-3804296/

[2021-05-05 17:12] felixarntz opened #3301 "Phase out some unnecessary legacy module fields"
Some of the fields which are part of each module's "info" (see `Module::setup_info`) are no longer relevant and therefore should be removed (from all modules and any related infrastructure). A few related enhancements should also be made.

This is not technically super-high priority, but it's a simple change, cleans up some code, and most importantly allows us to simplify the info that needs to be

[2021-05-05 17:16] felixarntz commented on #3275
@johnPhillips IB ✅

Note that I've added one point to the ACs (which doesn't require IB changes though), which is the specific URL that the "Learn more" link should point to.

[2021-05-05 18:10] aaemnnosttv opened #3303 "Release 1.32.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-05-05 18:12] tofumatt commented on #2940
I responded to the comment here: https://github.com/google/site-kit-wp/pull/3230#issuecomment-832902137

I like your approach and think we should use it 👍🏻

[2021-05-05 18:37] eugene-manuilov commented on #2681
@aaemnnosttv I think AdSense should have a different behavior because site owners make money using it and turning it off by default will break the cash flow for them :laughing:

Assigned this ticket to @felixarntz for the final decision.

[2021-05-05 21:08] felixarntz commented on #2681
@eugene-manuilov  @aaemnnosttv Good point, this was indeed missing from the ACs. I tend to agree the default should be the same as the current behavior, showing the ads for everyone because they are user-facing - i.e. not seeing ads although you configured AdSense may be unexpected and could result in various support requests, and due to the visual nature of the ads this is probably more sensitive

[2021-05-05 21:56] ivankruchkoff commented on #3303
lgtm

[2021-05-06 08:29] Hazlitte commented on #3170
**QA Eng ✅**

[2021-05-06 09:09] danielgent commented on #2504
![Screenshot from 2021-05-06 11-08-25](https://user-images.githubusercontent.com/8496063/117272361-697d2c00-ae5b-11eb-978d-8ab7064cd858.png)

Is the plan to set up a free trial and see how it goes?  (from the description on the ticket I was not expecting a paid product :smile: )

[2021-05-06 09:51] aaemnnosttv opened #3304 "Admin Settings: Tracking section creates layout shift on load"
## Bug Description

The admin settings section for Tracking contains a single component for controlling the user's opt-in to anonymous usage tracking. In most cases the component shows as expected, but under certain conditions can result in a layout shift due to an unhandled loading state.

https://user-images.githubusercontent.com/1621608/117275969-435d8900-ae67-11eb-836d-f52e7a330a67.mp4

## Ste

[2021-05-06 10:13] aaemnnosttv commented on #3304
Anything to add/change here @felixarntz ?

[2021-05-06 10:17] aaemnnosttv commented on #2504
@danielgent nope! It's a free service for open source (the first option in the list there) 🙂

[2021-05-06 10:40] johnPhillips commented on #3303
Looks good!

[2021-05-06 10:44] danielgent commented on #1148
![design-changes](https://user-images.githubusercontent.com/8496063/117285819-ba475180-ae68-11eb-85a9-108399806871.png)

Just putting this here to check everyone is ok with the whitespace :+1:

[2021-05-06 11:02] asvinb commented on #3250
@eugene-manuilov I've updated the IB to provide more details.

[2021-05-06 11:31] jamesozzie opened #3306 "Cannot read property 'setModuleSettingsPanelState' of null"
## Bug Description

[One user in the support forums](https://mydailytechno.com/whatsapp-pay/) encounters the below dashboard error:
[code]

It's unknown at what stage this occurs yet, troubleshooting ongoing.

## Screenshots

## Additional Context

 - Site Kit 1.31.0
 - Site Health information provided [within the support topic](https://mydailytechno.com/whatsapp-pay/)
 - Newspaper theme with AMP

[2021-05-06 11:41] marrrmarrr commented on #2597
This is referring to cases where the link is on the same line.

[2021-05-06 11:53] eugene-manuilov commented on #3250
Thanks, @asvinb! IB :heavy_check_mark:

[2021-05-06 12:40] jamesozzie opened #3307 "Improve wording when a user doesn't grant full Analytics permissions"
## Bug Description

In situations whereby a user has successfully connected Site Kit and then decides to connect the Analytics module the notice that appears if they don't grant full permissions could be improved. Users can use Site Kit, and are using Site Kit, just not the Analytics module.

Change the below:
To **use Site Kit**, you’ll need to redo the setup for Analytics – make sure to approve

[2021-05-06 13:13] asvinb commented on #3272
@felixarntz @aaemnnosttv  A couple of things I caught out when working on this IB:

1. The `Google Site Kit` text is bold as per the designs, and in order to achieve that, we need to use the `unstableHTML` property in the options to create a notice.
2. The `Google Site Kit` text has some margin right applied to it in the designs. In order to achieve that, either we add some inline styles and wrap

[2021-05-06 13:18] wpdarren commented on #3303
@aaemnnosttv on a new site, when I connect `PageSpeed Insights` from the dashboard this error message appears in the console `Google Site Kit API Error method:GET datapoint:pagespeed type:modules identifier:pagespeed-insights error:"You are probably offline."` and I am not offline. The module has connected successfully.

I have not seen that message before.

![image](https://user-images.githubuser

[2021-05-06 13:44] wpdarren commented on #3303
@aaemnnosttv this could be my jurassic.ninja site but I am noticing `Error: The response is not a valid JSON response.` when trying to correct modules. It's very inconsistent, sometimes it's when I'm connecting Adsense, sometimes Analytics.

Usually, when I refresh the page the error goes away.  Thought I would mention since it has happened a few times.

![image](https://user-images.githubusercont

[2021-05-06 14:54] danielgent commented on #2697
I had a go with this for a few hours but I think I'm spending too much time on it so I'll work on this sprint first, then ask for help

So this seems to work fine locally running the website.  It worked straight away with my solution here https://github.com/google/site-kit-wp/pull/3308

**BUT** requiring a `.php` file is a big change.  As opposed to loading a `config.json` file at run time, we're

[2021-05-06 15:32] aaemnnosttv commented on #3303
@wpdarren those look like intermittent request failures which are not uncommon on jurassic.ninja (unfortunately?). The important thing is that those do not happen consistently.

[2021-05-06 15:36] felixarntz commented on #3272
@asvinb Thanks for raising these points, it leads me to question a little bit the wording we use here in the first place.

@marrrmarrr Is the wording like we have it [in this Figma design](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=289%3A2479) really what we should have here? The primary concern is that this doesn't use proper language while typical WordPr

[2021-05-06 15:38] felixarntz commented on #1148
@marrrmarrr What do you think about the above? If all of the 4 primary modules are already active, we decided to not display them here, but now there's extra white-space. Should the side kick on the right be smaller instead?

[2021-05-06 15:40] felixarntz commented on #3304
@aaemnnosttv Good catch! Should we maybe use a progress bar like we have in setup flows instead of `PreviewBlock`? We only use `PreviewBlock` for widgets, not in setup/settings areas, so that would be a bit inconsistent.

[2021-05-06 15:40] wpdarren commented on #3303
@aaemnnosttv yes, it would just seem to be on jurrassic.ninja but [this is issue above](https://github.com/google/site-kit-wp/issues/3303#issuecomment-833515980 ) is consistently on my live site on the Site Kit dashboard when connecting page speed. Could you take a look and see if you can recreate it?

[2021-05-06 15:54] Hazlitte commented on #3154
**QA Eng ✅**

[2021-05-06 16:21] Hazlitte commented on #3303
Looks good to me ✅

[2021-05-06 16:42] aaemnnosttv commented on #3304
@felixarntz I thought about the progress bar too, but that seems a bit busy for what will eventually be a single checkbox with some text. I think using a `PreviewBlock` would be more appropriate because it fills a specific amount of space whereas I think the progress bar may still shift the layout without additional wrapping/styles.

Another thing I thought about would be to just render everything

[2021-05-06 16:48] aaemnnosttv commented on #3303
@wpdarren I didn't see any console errors when activating PageSpeed or getting the report on the dashboard, however this jump link no longer works on the widget based dashboard ⚠️ :
![image](https://user-images.githubusercontent.com/1621608/117335288-ab31c500-aea3-11eb-879e-bd066cdeadf5.png)

[2021-05-06 17:13] aaemnnosttv opened #3310 "PageSpeed Insights jump link no longer works on widget-based dashboard"
## Bug Description

After activating the PageSpeed Insights module, the success notification includes a link to "jump to the bottom" to where the module widget is to see the results. It seems that the related anchor/ID is no longer present in the widget-based version of the dashboard.

![image](https://user-images.githubusercontent.com/1621608/117338050-c94cf480-aea6-11eb-8848-3795b25c9750.png)

#

[2021-05-06 17:28] #2105 closed

[2021-05-06 17:29] #2851 closed

[2021-05-06 17:30] #3105 closed

[2021-05-06 17:30] #1797 closed

[2021-05-06 17:30] #3151 closed

[2021-05-06 17:30] #3153 closed

[2021-05-06 17:30] #2941 closed

[2021-05-06 17:30] #3152 closed

[2021-05-06 17:30] #3150 closed

[2021-05-06 17:30] #3267 closed

[2021-05-06 17:30] #3268 closed

[2021-05-06 17:31] #2821 closed

[2021-05-06 17:44] #3164 closed

[2021-05-06 17:44] #3161 closed

[2021-05-06 17:45] #938 closed

[2021-05-06 17:47] #2529 closed

[2021-05-06 17:51] #2951 closed

[2021-05-06 17:57] #3091 closed

[2021-05-06 17:58] #3069 closed

[2021-05-06 17:58] #656 closed

[2021-05-06 18:29] eugene-manuilov commented on #3303
Looks good to me.

[2021-05-06 18:51] #98 closed

[2021-05-07 06:22] aaemnnosttv commented on #3174
@felixarntz @tofumatt – if we want to keep with-padding as the default, that should be fine. My only thought there is that we will probably add more composite stories in the future than we will atomic like simple buttons, but either way it's easy to change if needed.

As for how we apply the styles in a way which can be controlled by the story, it's actually very easy using Story `parameters`. The

[2021-05-07 06:34] aaemnnosttv commented on #3174
@tofumatt I've updated the IB to use this approach – I think the current ACs probably need revision though to match the alternate approach. We also need to define which stories should receive the alternate padding and add that to the IB, after which the rest should be very quick and easy.

[2021-05-07 08:07] aaemnnosttv commented on #3182
I tried to see if Storybook has a utility we could import for this but it wasn't very obvious what they use for loading the stories so maybe this is available, but I couldn't find it 😄  That said, `main.js` should be the source of truth as to where the stories are loaded from, we don't need to additionally glob/filter by `*.stories.js` even though they all should match that, the scenarios here doe

[2021-05-07 08:54] johnPhillips commented on #3168
QA ✅
Verified that the JS tests pass.

[2021-05-07 09:34] aaemnnosttv commented on #2910
@eugene-manuilov  The problem with `canUseSnippet` and relying on GTM setting for `propertyID` at all is that we don't know if the container is rendered by Site Kit or an existing tag by the settings alone. Even though GTM has a `useSnippet` setting of its own, we don't currently disable it if there is an existing tag (it's only controlled by `UseSnippetSwitch`). Looks like this is a bug because i

[2021-05-07 12:55] aaemnnosttv commented on #3293
@eugene-manuilov IB looks good except if we're prefixing the `tag_id` in the constructor, we'd need to remove the prefix added in `Analytics_4\Web_Tag::enqueue_gtag_script`.

[2021-05-07 14:10] wpdarren opened #3317 "Update AdSense earnings widget layout on smaller viewports"
## Bug Description

On the `Earnings` widget for Google Adsense on Site Kit Dashboard, once you have large amounts in the data, the graphs start to look unreadable or not very useful, which does not make for a great user experience.  You can see from the screenshot below.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/978607d8-a924-4e47-ae57-dc31aede1542)

I am wonderi

[2021-05-07 14:21] wpdarren opened #3318 "Search Console Settings Button Behaviour On Load"
## Bug Description

When you edit `Search Console` settings, the confirm changes button is active (blue) on load. It's my understanding that the button should be inactive (grey) on load and become active when there is a change to the property.

![image](https://user-images.githubusercontent.com/73545194/117463216-56478a80-af47-11eb-8632-91ec223c9ddf.png)

## Steps to reproduce

1. Go to Settings (

[2021-05-07 14:30] eugene-manuilov commented on #3293
Good catch @aaemnnosttv. IB is fixed.

[2021-05-07 14:37] wpdarren opened #3319 "Source Links Appearing in Acquisition Widget with No Data"
## Bug Description

Under the `Acquisition` widget on `Site Kit Dashboard`, for a new site, under the 'gathering data' messages are source links visible, which link to Search Console and Analytics, even though there is no data.

Should these links be hidden until data appears?

![image](https://user-images.githubusercontent.com/73545194/117465334-809a4780-af49-11eb-9975-ccfd63d947d6.png)

## Steps

[2021-05-07 15:07] wpdarren commented on #3310
### QA Update: Pass ✅

- Verified that the `Jump to the bottom of the dashboard to see how fast your home page is` link now jumps down to the page speed section on Site Kit Dashboard.

[2021-05-07 15:38] johnPhillips opened #3321 "Legacy component console errors appearing when `widgets.moduleScreens` feature is enabled"
## Bug Description

Console errors are appearing from legacy components on module screens when the `widgets.moduleScreens` feature is enabled.

Example from the Analytics module screen:

[code]

Looks like the issue might be because all the `index.legacy.js` files are still imported and therefore run even when this feature flag is on.

https://github.com/google/site-kit-wp/blob/ef1a7e5d475953ff8db

[2021-05-07 16:09] felixarntz commented on #2910
@aaemnnosttv Let's fix this problem via a separate issue.

Regarding conditional visibility of the field, I think the existing IB makes sense here; if there is a single GTM GA property ID, it means GTM is used for the Analytics snippet.

On the server-side, how about we simplify the approach via a new filter instead of modifying the existing one? The purpose of the new functionality here is slight

[2021-05-07 16:14] danielgent commented on #3243
@eugene-manuilov I've run out of time this week, but I can keep on this ticket next week :+1:

I read up for a bit and I'm clearer now on Storybook 6 and Component Story Format.  I haven't used it for a few years and there have been big changes recently (with all the add-ons I used to use being deprecated :smile: )

I'm not sure what we do in Storybook though for components that do network request

[2021-05-07 16:24] danielgent commented on #2597
I've created a PR for this but the e2e tests keep failing for WordPress 4.9 and Gutenberg 4.9 :thinking:

For the last few runs just this e2e test fails.  Odd given that this PR is just text changes! I was expecting to find the test wanting some text to have a full stop but no

One concern is that a lot of these `CTA`s have their text set dynamically by network responses (errors mostly).  See a pr

[2021-05-07 16:51] aaemnnosttv commented on #3321
Thanks @johnPhillips ! After looking into this I found that it is related to #3226 which is still in QA so I'm going to close this one out in favor of fixing it there 👍

[2021-05-07 16:51] #3321 closed

[2021-05-07 17:07] aaemnnosttv commented on #3226
## QA ❌

@cole10up @danielgent – as mentioned in #3321, the changes here result in React console error/warnings about state updates on an unmounted component.

The reason this happens is due to the condition on this line for the `screenWidgetContext` which will be `null` on the initial render because its selector is fulfilled by an async resolver:
https://github.com/google/site-kit-wp/blob/8c341d3

[2021-05-07 17:46] eugene-manuilov commented on #3270
Thanks, @asvinb. It's a good start but IB still needs more details, especially js selectors. Could you please describe which changes need to be made in the createFetchStore calls to cater to the new endpoints? We also need to mention that we need to use the appropriate `post_status` parameter in the WP_Query calls to select the correct posts.

As to the datapoint handlers, we need to update the IB

[2021-05-07 18:07] aaemnnosttv commented on #3286
@eugene-manuilov this action already exists in `modules/analytics`, did you perhaps mean to update it to use the same resolve-select implementation? 🤔

Otherwise IB LGTM.

[2021-05-07 18:10] eugene-manuilov commented on #3269
Thanks, @ivankruchkoff. In general, it looks good, but we need to make a few adjustments:

We need to do it in the `parse_data_response` method. It will let us reuse it by one of the endpoints from #3270. The handler in the  `create_data_request` method should create a new draft post, assign an idea to it, and return a post ID.

Let's call the file to be `draft-ideas.js`. #3270 will use the same f

[2021-05-07 18:25] aaemnnosttv commented on #3251
@Hazlitte note that these props are intentionally capitalized as `Icon` and `LearnMore` respectively. This is a convention we have to indicate that the value is a component type rather than an element (or some other primitive value).

We shouldn't render an icon inline like this with text or other inline elements because it will wrap oddly if too long. Instead, we should probably use grid componen

[2021-05-07 18:32] eugene-manuilov commented on #3271
Thanks, @ivankruchkoff. The IB mostly looks good. Could you please explicitly mention that we need to update `$states['draft']` only if the post has draft status?

[2021-05-07 18:37] eugene-manuilov commented on #3286
Ah... yes, you are right. I did miss it for some reason.  IB is updated.

[2021-05-10 09:27] eugene-manuilov commented on #2910
Thanks, @aaemnnosttv and @felixarntz. I have updated the IB. Could you please check it on your end and let me know if it looks good now?

[2021-05-10 09:30] eugene-manuilov commented on #3243
@danielgent we just pre-set values that are going to be received via network using `receive*` actions. For instance, you can see it here: https://github.com/google/site-kit-wp/blob/8c341d37f0ba40d83ce5a8a067ac223f42c4f9d8/stories/module-analytics-settings.stories.js#L95-L111

[2021-05-10 11:07] asvinb commented on #3270
@eugene-manuilov IB updated to include the points to mentioned. Can you check again?
Thanks!

[2021-05-10 12:48] jamesozzie commented on #3255
@bethanylang @adamsilverstein I've added notes to the above after being unable to reproduce on my side. Escalating for further review.

[2021-05-10 14:07] wpdarren commented on #3232
### QA Update: Pass ✅

**Verified:**

- Was able to recreate the issue on the latest release.
- On develop branch, the data is appearing in the chart for 7, 14, 28 and 90 days. when the `widgets.moduleScreens` feature flag in the tester plugin.
- Made sure that the data appeared in the legacy widget for 7, 14, 28 and 90 days. when the `widgets.moduleScreens` feature flag was disabled in the tester

[2021-05-10 14:12] eugene-manuilov commented on #3270
Thanks, @asvinb. IB almost looks good. Here are a few minor points that we need to update:

There is no need to call `get_the_ID` function because `WP_Query::query()` method already returns an array of IDs. We can just loop through that array and compose a new one with extended details:

[code]

The `fetchGetSavedIdeasStore` datastore contains the `validateParams` property which is not needed for

[2021-05-10 14:41] danielgent commented on #3243
@eugene-manuilov Thanks. That's really easy actually. No depdency injection of API classes or anything like that :smile:

I've just had a play around then locally and I got something working.

[2021-05-10 14:58] wpdarren commented on #1891
### QA Update: Fail ❌

@johnPhillips the styling is a little off I've noticed.  As you can see from the screenshot, there's a lot of white space around the `Exclude from Analytics` text.  In the latest release, the text and toggle are aligned to the left and have no white space.

![image](https://user-images.githubusercontent.com/73545194/117674960-0ca7ab80-b1a4-11eb-95e7-3ea21cd2da20.png)

This i

[2021-05-10 15:18] danielgent opened #3326 "E2E tests failing for E2E WordPress 4.9, Gutenberg 4.9"
## Bug Description

E2E tests are failing for `WordPress 4.9, Gutenberg 4.9` both on GitHub **and** running locally

The number of tests failing is consistent (on GitHub and locally)

[code]

## Steps to reproduce

See all the most recent PRs
https://github.com/google/site-kit-wp/pull/3325
https://github.com/google/site-kit-wp/pull/3323
https://github.com/google/site-kit-wp/pull/3322
https://githu

[2021-05-10 15:42] johnPhillips commented on #1891
Thanks @wpdarren

I just followed the ACs and the IB:

But obviously the ACs were written a while ago, so if there was a particular reason for requiring the toggle on the right, that might not be the case now (CC @felixarntz).

Anyway, I'm more than happy to adjust it if needed, just let me know what needs doing. 👍

[2021-05-10 15:43] wpdarren opened #3327 "Change Device Legends to Title Case on All Traffic Widget"
## Bug Description

This is a UI improvement for the Device tab on the All Traffic widget within Site Kit Dashboard.

Currently, on the legends, `desktop`, `mobile` and `tablet` are in lower case, but it would be good to have them in title case. This would then match the other legends on Channels and Locations.  From a conversation with Evan on Slack, it was discussed that a potential would be to

[2021-05-10 16:02] #2888 closed

[2021-05-10 16:02] #3310 closed

[2021-05-10 16:28] ivankruchkoff commented on #3269
Updated @eugene-manuilov. The response may be the same, but I think the way it's built will differ between #3270 and this `parse_data_response` as our request already has all of the params to build it out, and in that ticket there's a WP_Query to leverage for getting that data.

[2021-05-10 17:04] felixarntz commented on #1891
@johnPhillips I think the toggle should still be displayed on the right, but I agree that the spacing is off, it should be fixed, so that they are next to each other, instead of percentage-based or using a grid or so.

[2021-05-10 19:01] #3165 closed

[2021-05-10 19:01] #3072 closed

[2021-05-10 19:01] #3171 closed

[2021-05-10 19:01] #2641 closed

[2021-05-10 19:01] #1794 closed

[2021-05-10 19:01] #1941 closed

[2021-05-10 19:01] #3167 closed

[2021-05-10 19:01] #3155 closed

[2021-05-10 19:02] #3188 closed

[2021-05-10 19:02] #3169 closed

[2021-05-10 19:26] jcax2 commented on #1973
Hi! Don't know if still useful, but I have the same problem. SOLVED:

go to your hosting control panel and allow the outgoing connections with Google's IP. Mine is:  142.250.190.XX

Hope this help.

[2021-05-10 22:57] tofumatt commented on #3253
I think this should only be removed when the feature flag is enabled, so I tweaked the IB to mention that, because otherwise it looks good. 👍🏻

IB ✅

[2021-05-11 08:21] Hazlitte commented on #3293
Hi @eugene-manuilov and @aaemnnosttv,
The IB says `Call the parent constructor passing the incoming $tag_id prefixed with G- and $module_slug variable as is.`
The `Analytics_4\Web_Tag` class extends `Analytics\Web_Tag`.  I have checked the parent class and it doesn't appear to contain a constructor.

[2021-05-11 09:43] danielgent commented on #2504
I've created a PR with different kinds of typos if you want to see it in action https://github.com/google/site-kit-wp/pull/3324

Works really well

[2021-05-11 11:19] asvinb commented on #3270
@eugene-manuilov @eugene-manuilov IB has been updated as per your suggestions.

Thanks!

[2021-05-11 11:55] eugene-manuilov commented on #2910
Thanks, @aaemnnosttv. IB is updated.

[2021-05-11 13:44] wpdarren commented on #2853
### QA Update: Pass ✅

**Verified:**

- Confirmed that the description wording of user input question 3 has been updated to: `The goals you pick will apply to the entire WordPress site: any other admins with access to Site Kit can see them and edit them in Settings.`
- Checked to make sure that the description wording displays correctly on smaller screen sizes.

![image](https://user-images.github

[2021-05-11 14:22] jamesozzie commented on #3144
Tested and confirmed the latest Moneytizer update has a fix in place (Version 9.0).

[2021-05-11 14:22] #3144 closed

[2021-05-11 14:22] Hazlitte commented on #3254
Hi @felixarntz,
Between the first paragraph of the AC and the first paragraph of the IB I can't figure out whether the GA4 property ID should be displayed as well as the standard ID or instead of it.  And I can't find a relevant design to understand what to do.  Do you know where the right design is or wether both of the IDs are displayed or just one of them?

[2021-05-11 15:29] aaemnnosttv opened #3338 "Tag Manager does not disable snippet when existing tag detected"
## Bug Description

When an existing tag is detected (meaning it is output by something other than Site Kit) modules should disable their own snippet to avoid double tagging.

## Steps to reproduce

1. Configure a GTM tag to be output without using Site Kit for a container that your user has access to
2. Set up GTM, the existing tag should be detected and force the selection of its account and con

[2021-05-11 15:50] jamesozzie opened #3339 "Incorrect "Code coverage" link within PSI recommendations"
## Bug Description

As [one user kindly pointed out](https://wordpress.org/support/topic/url-on-the-link-text-code-coverage-is-a-404/#post-14425974) there is a dead link at present within the PageSpeed Insights Widget.
In the Lab > Recommendations on how to improve your site > Remove unused CSS

The link at present is: https://developers.google.com/web/updates/2017/04/devtools-release-notes#covera

[2021-05-11 15:51] tofumatt commented on #3252
Looks good, just one question:

I'm guessing we want to do this because the API is new/unstable? But maybe we should mention why in the IB or make it explicit there to include a comment why we're silencing errors rather than surfacing them, or we could get weird bugs in the future. Or, at least, developers might be confused when they see the code and wonder why we're doing that.

What do you think

[2021-05-11 17:30] aaemnnosttv opened #3340 "Add `wp-prettier` to handle formatting of JS"
## Feature Description

[`wp-prettier`](https://www.npmjs.com/package/wp-prettier) is a fork of `prettier` – a very popular and opinionated code formatter which offers more robust formatting than our current capabilities with ESLint. It also integrates with ESLint though so the two can work together. The idea is that prettier makes for consistent code style automatically so that code review can fo

[2021-05-11 19:00] jamesozzie commented on #1728
Any update on this can be tracked via #3051, feel free to subscribe to that issue for further information.

[2021-05-11 19:11] jamesozzie opened #3341 "Display source of errors when copied to clipboard"
## Bug Description

In the support forums users often copy any errors encountered via the copy to clipboard feature recently added to the plugin. In many cases it's not known whether these issues occur from within the Site Kit admin panel or via the admin toolbar (as per the image below)

![image](https://user-images.githubusercontent.com/41326532/117870730-66879e80-b294-11eb-8a47-5b9388724e3b.png

[2021-05-11 19:52] tofumatt commented on #3291
I don't see the intended return value of this action in the IB. In the GA4 implementation of a similar action we return the property via `getProperty()`: https://github.com/google/site-kit-wp/pull/3311/files#diff-6710dc1eb58e3617c6fe1582bf4de6f061f0c38b85f2548688a8936056f098afR191-R193

<del>Is the intention here to have the `matchPropertyByURL()` action also set the selected property if it finds

[2021-05-11 22:42] tofumatt commented on #3318
IB ✅

[2021-05-11 22:47] tofumatt commented on #3217
Rather than keeping `const BASE_URL = 'https://sitekit.withgoogle.com';` in that file around, let's change it to be a more explicit variable name, eg `PRODUCTION_BASE_URL`. Then we can add another `const STAGING_BASE_URL = 'https://site-kit-dev.appspot.com';`, and the `url()` method can check against both those constants rather than burying the strings used to check things down in the url function

[2021-05-12 01:18] hapo-hoangnh opened #3342 "Authorization header malformed error"
## Bug Description

Plugin Status: Site Kit is connected
However, it did not show any information
error message "Authorization header malformed"

## Steps to reproduce

in plugin page

## Screenshots

![image](https://user-images.githubusercontent.com/22829982/117903552-bacd6580-b30a-11eb-99cd-05c1637fce7c.png)
![image](https://user-images.githubusercontent.com/22829982/117903640-e81a1380-b30a-11e

[2021-05-12 07:20] aaemnnosttv commented on #3286
IB ✅

[2021-05-12 07:24] aaemnnosttv commented on #3251
This part should be unnecessary since this issue depends on the issues that implement these, so they should exist by the time this can be worked on.

IB ✅

[2021-05-12 07:45] aaemnnosttv commented on #2504
Thanks @danielgent – IB looks good, just a few comments/suggestions:

We don't need to list specific paths here but it would be nice to note/outline which file types or locations we should base the `paths` on .

We may also want to scaffold the `excluded_words` entry to the config, maybe with a `googlesitekit` in there – we should check to see if it flags this and the all-caps variant (we use both

[2021-05-12 08:09] Hazlitte commented on #3251
@aaemnnosttv Would you like me to remove that paragraph from the IB?

[2021-05-12 08:28] Hazlitte commented on #3217
👍. IB Updated.

[2021-05-12 08:37] aaemnnosttv commented on #2910
IB ✅

[2021-05-12 08:48] aaemnnosttv commented on #1597
After reviewing with the team, we've decided that this isn't something that we're currently planning on adding support for. Neither the [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/) frontend or [web.dev Measure](https://web.dev/measure/) offer downloadable of the report either and reports can always be printed via the browser like any other page. Closing this as som

[2021-05-12 08:48] #1597 closed

[2021-05-12 08:53] aaemnnosttv commented on #2597
@wpdarren that's a good point – I think these would be encompassed as part of this issues as well. Your example there makes sense as one that should not have a full stop 👍

[2021-05-12 08:59] aaemnnosttv commented on #3251
@Hazlitte yeah, let's update it to explicitly mention updating these (as if they already exist). As it is, it might be interpreted as more of an optional detail rather than a requirement as mentioned in the ACs.

[2021-05-12 09:05] Hazlitte commented on #3138
I have added a bit more detail to clarify the last statement in the IB and provided an example PR.
Here are screenshots of the regressions.  A regression is necessary to fulfil the IB but this approach has side effects.  I am unsure whether the other regressions are acceptable or I should spend more time investigating this issue.  What do you think?

<img width="1337" alt="Screenshot 2021-05-12 at

[2021-05-12 09:18] Hazlitte commented on #3251
@aaemnnosttv Ok, I have updated the IB accordingly 👍

[2021-05-12 09:36] aaemnnosttv commented on #3138
@Hazlitte those changes don't look right to me either.

@asvinb I realize this wasn't your IB but can you take a look and see what else is needed?

[2021-05-12 09:38] aaemnnosttv commented on #3251
Thanks @Hazlitte !

IB ✅

[2021-05-12 11:40] marrrmarrr commented on #990
@felixarntz We could handle this as a one-off (as I described in the ACs), but we can also start thinking about the upcoming settings (e.g. the custom modules) and create a section for them, even if it only has one thing now (Admin bar).
What do you think?

[2021-05-12 12:08] asvinb commented on #3270
Thanks @eugene-manuilov . IB updated as per your comments :)

[2021-05-12 12:10] asvinb commented on #2659
@aaemnnosttv Yes, I checked and it's still an issue.

[2021-05-12 12:18] eugene-manuilov commented on #3270
Thanks, @asvinb. IB :heavy_check_mark:

[2021-05-12 13:24] felixarntz commented on #3254
@Hazlitte If a GA4 property ID is set, it should be displayed _in addition to_ the UA property ID. It should be displayed in its own row, below the three other IDs (account ID, UA property ID, profile/view ID).

[2021-05-12 13:26] wpdarren commented on #2597
@danielgent as per [my comment](https://github.com/google/site-kit-wp/issues/2597#issuecomment-838722592) and confirmation from Evan above, any page that has a description like the example in my comment should not have a full stop/period.  This would be the case on all of the plugin pages. I have moved this ticket back to execution.

[2021-05-12 13:29] felixarntz commented on #3083
@Hazlitte @tofumatt I think we should keep this simple for now. We should be able to achieve similar layout using classes and CSS, let's not do any JS refactoring to use a common component, as that would indeed increase the scope of this issue.

I would advise to more pragmatically stick to the ACs here and not do any component refactoring, i.e. @Hazlitte this issue _is_ or _should be_ only your n

[2021-05-12 13:33] johnPhillips commented on #3291
@tofumatt Good catch - thank you 🙏

From reading the ACs, I guess my assumption was that the action is passed an array of properties and it would be like an array filter: return the matching property if there is one or some falsey value if there isn't (I see the GA4 one returns `null` for example).

Does that sound good? I've updated the IB with this for now, but let me know if it needs changing o

[2021-05-12 13:38] wpdarren commented on #1891
@eugene-manuilov @johnPhillips is this merged into `develop `branch yet? I'm not seeing the changes :)

[2021-05-12 13:56] eugene-manuilov commented on #1891
@wpdarren just merged it. Please, try again :smile:

[2021-05-12 14:05] felixarntz commented on #2122
After discussion with @marrrmarrr, we have decided to entirely drop weekday alignment functionality in Site Kit for now. It is used inconsistently in Site Kit, and implementing it in a proper way across all services _and_ with the potential ability to also disable it requires more exploration.

The default behavior for most services (and even for Analytics in most places) is to not do that, so we

[2021-05-12 14:25] wpdarren commented on #1891
### QA Update: Pass ✅

**Verified:**

- When all logged-in users is NOT checked, an additional Users that can write posts switch is visible.
- When all logged-in users is checked, the Users that can write posts is hidden
- The options are saved and displayed in the settings panel correctly.

![image](https://user-images.githubusercontent.com/73545194/117677121-14684f80-b1a6-11eb-916e-281a7d2e5fc9.

[2021-05-12 14:49] asvinb commented on #3182
@aaemnnosttv About the following:

`main.js` only exports paths where stories are loaded but actually none of the stories are loaded. So `glob` is used to get all the `*.stories.js` files within the paths mentioned in `main.js`. And then with the paths, the files are read and parsed using babel's parser. Or you had something different in mind?

[2021-05-12 14:55] tofumatt commented on #3175
(Note: I'm leaving this assigned to me for Code Review as I have some feedback for the PR and having reviewed the IB think it makes sense, but we'll get to this in a later sprint or at least after everything in Sprint 49 is complete 🙂 )

[2021-05-12 15:05] asvinb commented on #3273
1. Enabled the `ideaHubModule` feature flag via the tester plugin.
2. Checked for payload as per QA brief which is present as per screenshot.
![image](https://user-images.githubusercontent.com/31818/117998427-f260ff80-b354-11eb-90b0-ff17f98e731f.png)

### QA: ✅

[2021-05-12 16:41] felixarntz opened #3346 "Weekday alignment for secondary date range to compare to"
In the Analytics service frontend, **on the overview page only**, the metrics that are shown in the graph use "weekday alignment", which means that the data which is being compared to is offset-ed so that every individual comparison date falls on the same weekday. This is naturally the case when we use date ranges that are a multitude of a week (e.g. last 28 days), but for other date ranges does n

[2021-05-12 17:45] danielgent commented on #2597
![also-fix-this](https://user-images.githubusercontent.com/8496063/118020588-85e8ff00-b35a-11eb-9078-e5f30692eb28.png)
The formatting also needs fixing here I believe (too many full stops)

But this is on the proxy in another repo right @aaemnnosttv ?

[2021-05-12 17:45] aaemnnosttv commented on #3182
@asvinb No, that's correct, it's just that [in your original PR the glob was hardcoded](https://github.com/google/site-kit-wp/blob/643cf2dcfc22874b5b73fa39ddd38cfd0f695627/tests/backstop/scenarios.js#L10) rather than coming from the globs  exported from `main.js` 🙂

[2021-05-12 17:58] aaemnnosttv commented on #2597
@wpdarren yes, that is not something we can change here, but I already raised this with @felixarntz and @adamsilverstein so it's probably just a matter of whenever they can get to it.

[2021-05-12 18:42] jamesozzie commented on #3255
Pending users facing this issue below:
- https://wordpress.org/support/topic/site-kit-encountered-an-error-31/: **Italian it_IT** | Issue remains although unknown Safari version (Also **_en_** for second user who responded in the thread - unknown if this still occurs with this user)
- https://wordpress.org/support/topic/google-site-kit-issue/ - **English en_US** | Unknown if the issue persists, aw

[2021-05-12 20:05] tofumatt commented on #3282
From the docs linked this seems _very_ straightforward, so I think this is 3 estimate unless I'm missing something 🙂

[2021-05-12 20:20] felixarntz commented on #3282
@tofumatt IB pretty much good to go, except you don't need to break out `config` in order to do that: `$gtag_amp_opt['config'][ $this->ads_conversion_id ] = ...` works too and requires less code changes :)

[2021-05-13 07:34] aaemnnosttv opened #3348 "`Cannot read property 'clicks' of undefined` error on Search Console widget-based dashboard"
## Bug Description

When viewing the Search Console dashboard, it is possible to encounter the following fatal error:

[code]

The problem happens when the API returns an odd number of rows for a request that includes the previous range for comparison. This leads to an off-by-one situation when iterating over the previous data due to the way the rows are sliced.

https://github.com/google/site-kit

[2021-05-13 08:06] aaemnnosttv commented on #3255
Not sure if Safari uses this code or not but it seems the error may also be related to specific formatting options:
https://github.com/WebKit/WebKit/blob/9cb35748705901155cb6d83963671c791046c035/Source/JavaScriptCore/runtime/IntlNumberFormat.cpp#L550-L586

[2021-05-13 10:32] danielgent commented on #2597
I've gone through and fixed any remaining formatting issues that I can see.

I also spent some time going through the code and search for instances of strings that end with full stops, to then check the formatting.   But it felt risky to make changes without actually seeing the output!  and most instances are in our `invariant` calls (not user-facing) or in our stories

[2021-05-13 10:37] tofumatt commented on #3282
That requires doing `$gtag_amp_opt[ 'vars' ][ 'config' ][ $this->ads_conversion_id ] = …`, which to me is a bit less easy-to-follow, because they're similar attributes (all stuff that goes in "config"), but is accessed in different variables with different nesting.

The code change I'm making is a bit more lines but I think it's more explicit while actually being less verbose, because `$config` is

[2021-05-13 10:58] aaemnnosttv commented on #1779
@eugene-manuilov is there anything left to do here? I think most if not all of the things we agreed on have been done in other issues. If there is, we should probably create new issues for each part and close this out, otherwise I think we can close this as done 🙂

[2021-05-13 12:28] eugene-manuilov commented on #1779
@aaemnnosttv yes, we are good now. Going to close this issue.

[2021-05-13 12:28] #1779 closed

[2021-05-13 13:50] wpdarren commented on #3247
### QA Update: Confirm with Engineer ⚠️

@eugene-manuilov when I enable `ga4setup` feature flag, Analytics does not connect.  No errors appear.

The blue progress bar just continues to load.  My Analytics account only has UA properties.

When the feature flag is disabled, it connects as usual.  Any ideas what could be causing this?

[2021-05-13 14:38] felixarntz commented on #3282
@tofumatt Fair point, we can create the `$config` in a separate variable and then insert it into the full `$gtag_amp_opt`. I think doing this is not really common in PHP, but certainly more of a personal preference, and your argumentation for it makes sense. IB ✅

[2021-05-13 14:49] tofumatt commented on #3252
Thanks!

IB ✅

[2021-05-13 14:49] felixarntz commented on #3348
IB ✅

@aaemnnosttv @eclarke1 @fhollis Let's squeeze this into the current sprint and upcoming release. A PR is already underway so this should be doable. If needed maybe we can postpone #3272 for the next sprint?

[2021-05-13 14:50] tofumatt commented on #3276
Thanks! Looks good 🙂

IB ✅

[2021-05-13 14:53] aaemnnosttv commented on #1194
@Hazlitte your IB describes adding a link to the Site Kit dashboard, but the issue is about linking to the settings page.

Let's not change the main `Plugin` class more than we need to for this addition. The changes here are very similar to our filtering of `plugin_row_meta` for which we have a `\Google\Site_Kit\Core\Admin\Plugin_Row_Meta` class. It would make sense to use a similar approach for t

[2021-05-13 15:00] eugene-manuilov commented on #3247
@wpdarren I need to fix one issue with setup flow mode detection that causes this problem. I'll work on it.

[2021-05-13 15:15] jamesozzie commented on #3339
Closing this as this can only be corrected on the Lighthouse side (or a redirect could be placed on the previous Chrome Developers link).

Issue created on the Lighthouse GitHub repo, user to be updated.
https://github.com/GoogleChrome/lighthouse/issues/12473

[2021-05-13 15:15] #3339 closed

[2021-05-13 15:52] asvinb commented on #3138
@Hazlitte @aaemnnosttv Had a quick look at it and I think we can go a simpler route by targeting the first cell of the table which has a list to have `white-space: normal;` instead of the whole table, since the issue is pretty much specific with this table type.
So if we just add `white-space: normal;` to the [CSS class name here](https://github.com/google/site-kit-wp/blob/develop/assets/sass/comp

[2021-05-13 16:19] eugene-manuilov commented on #3247
@felixarntz do you mind reviewing my PR #3352? It fixes issues with the Analytics setup form caused by incorrect work of the `getSetupFlowMode` selector. I had to rework it to rely on the available properties for UA and GA4 accounts instead of properties available for the currently selected accountID which is an empty string when we connect the Analytics module.

[2021-05-13 16:27] wpdarren opened #3353 "Minor UI tweak for Ad Conversion ID in Analytics settings"
## Bug Description

Very minor UI tweak for the new `Ad Conversion ID` field on Analytics module settings when you have Adsense activated.  It would be good to some white space between the message `Conversion IDs must be in the format: AW-XXXXX` and the field.  Also, maybe this is just me, but the message looks odd where it is aligned. Possibly make it left aligned with the rest of the text on the

[2021-05-13 16:32] Hazlitte commented on #1194
Thank you @aaemnnosttv, I have updated the IB accordingly.  The comment from @felixarntz indicates that it might be more suitable to add a dashboard link as opposed to a settings one.  Perhaps we could add both?

[2021-05-13 16:42] tofumatt commented on #3217
IB ✅

[2021-05-13 17:08] Hazlitte commented on #3138
@asvinb Your approach is simpler and more efficient than mine.  Thank you 👍
@aaemnnosttv I have updated the IB with @asvin's approach.

[2021-05-13 17:13] aaemnnosttv opened #3354 "User Feedback"
* [Design document](https://docs.google.com/document/d/1jqUg4blDUFu6BCyHQVgzlz9smxK0UGrzsOpPojo2EJM/edit?usp=sharing)
* [Visual design](https://www.figma.com/file/CdBzWXXAlDFxJbgD6WGdz4/UserFeedback_PopupUI?node-id=1049%3A1125)

[2021-05-13 17:15] aaemnnosttv opened #3355 "Implement `surveys` data store partial"
## Feature Description

The user data store will be the backbone of the user feedback surveys on the client, connecting components to the backend and handling client-side persistence as necessary.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/user` data store should be extended with a new `

[2021-05-13 17:43] felixarntz commented on #1194
@Hazlitte This was a rather old comment. We revisited this recently and decided to add a Settings link only which is the common approach between many WordPress plugins.

[2021-05-13 17:52] felixarntz commented on #3355
@aaemnnosttv ACs mostly LGTM. I assume not depending on existence of the actual REST data points is fine since for the tests they'd get mocked anyway. Just two points of feedback:

Let's keep this named as `triggerSurvey` as in the design doc and more closely following the related naming which is phrased around the `POST`ing action of triggering a survey rather than requesting one (which would be

[2021-05-13 19:31] aaemnnosttv commented on #3355
I only see `requestSurvey` in the doc – are we looking at the same one? 😄

That's a good point, but if they're keyed by ID (trigger or survey ID?) then we should have a field to sort the values by to determine the order if not a simple list/queue. We shouldn't rely on order defined IMO.

[2021-05-13 20:21] felixarntz commented on #3355
@aaemnnosttv Oops my bad - I misremembered the design doc myself, but let's use `triggerSurvey` as it's more appropriate (updated this now in the design doc). 😆

Regarding the order, I think we can revisit this in the future once there is a potential surface area to have multiple surveys at the same time. For now, the simple moment in time that the survey was triggered should suffice, i.e. the sur

[2021-05-13 20:57] tofumatt commented on #3291
That makes perfect sense and is what I expect. Returning `null` makes sense to me, and it's good to keep it consistent with similar methods elsewhere in the app.

IB ✅

[2021-05-13 21:24] felixarntz opened #3356 "Implement "Idea Hub is generating ideas" as overall Idea Hub widget state"
If there are no ideas at all to display in the Idea Hub widget, the entire widget should display in a special "Idea Hub is generating ideas" state (see [Figma](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A6443)).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criter

[2021-05-13 22:10] felixarntz opened #3357 "Implement Idea Hub widget support for creating idea draft posts"
The Idea Hub widget functionality for creating a new draft post based on an idea should be added. As part of it, the REST data point for getting new ideas should be updated to filter out all ideas that already have a draft or published post, so that they are no longer included within the new ideas (despite that endpoint for now using mock data).

---------------

_Do not alter or remove anything b

[2021-05-13 22:12] felixarntz opened #3358 "Implement Idea Hub notice in WP dashboard widget"
If there are already any saved ideas in the Idea Hub module, the Site Kit WordPress dashboard widget should display a notice that links to the "Saved" tab of the Idea Hub widget, with the notice following the [Figma design](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A6780).

---------------

_Do not alter or remove anything below. The following sect

[2021-05-13 22:15] felixarntz opened #3359 "Display Idea Hub notice above WP posts list table if there are new or saved ideas"
If there are any new or saved ideas in the Idea Hub module, a corresponding notice that links to the respective area of the Idea Hub widget should be displayed above the WordPress posts list admin table, following the [Figma design](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A6816).

---------------

_Do not alter or remove anything below. The follo

[2021-05-13 22:17] felixarntz opened #3360 "Allow dismissing the CTA of the Idea Hub widget to activate the module"
The CTA for activating the Idea Hub module that is conditionally displayed as an alternative version of the Idea Hub widget should be enhanced to be dismissible. Once dismissed, it should be persistently dismissed, i.e. the dismissal should be stored on the server.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2021-05-14 07:48] aaemnnosttv commented on #3138
@Hazlitte @asvinb the problematic whitespace style seems to be coming from the `TableOverflowContainer` which is the expected behavior as this container was designed to keep content from wrapping so that it overflows to allow horizontal scrolling. That may not be working as intended anymore, I'm not sure, but why not remove `TableOverflowContainer` from `LegacyAnalyticsDashboardWidgetTopAcquisitio

[2021-05-14 07:59] aaemnnosttv commented on #1194
@Hazlitte I figured that's probably what you were going on, but IBs should always be written against the ACs. Sometimes ACs need updating in the process, but the AC should _always_ be the source of truth.

---

The IB is on the right track now, just a few things to adjust:

This is still hardcoding pieces which are not necessary and already covered by the `GOOGLESITEKIT_PLUGIN_BASENAME` constant:

[2021-05-14 08:21] asvinb commented on #3248
@aaemnnosttv Can you check out my comment here: https://github.com/google/site-kit-wp/pull/3351#issuecomment-840628498
Thanks!

[2021-05-14 12:15] danielgent commented on #3033
So far I've got an upgrade to the latest v13 working: https://github.com/google/site-kit-wp/pull/3335

Due to the updated JSdom inside the new Jest I had to upgrade the react-testing-library packages as well

The only failing test suite is `TourTooltips.test.js`.  RTL sees everything as hidden (this can be revisited in the execution I'm sure)

Now I'm investigating the upgrade to v14 on this PR: h

[2021-05-14 13:03] johnPhillips commented on #3244
@eugene-manuilov, Just doing `QA:eng` here and I have a small point to clarify.

In the ACs it says:

I can see that you have returned the error in a few places, e.g.

https://github.com/google/site-kit-wp/blob/d153ac726542fd33c87d5d8c243bf550fb229558/assets/js/modules/analytics-4/datastore/settings.js#L45-L47

Is this an issue?
Thanks in advance.

[2021-05-14 13:15] eugene-manuilov commented on #3244
@johnPhillips yes, i think i need to correct this. Thanks for finding it. :+1:

[2021-05-14 13:18] johnPhillips commented on #3244
Thanks for clarifying @eugene-manuilov - I'll assign the issue back to you for a follow up.

[2021-05-14 13:50] danielgent commented on #3033
I got the upgrade to v14 working.  Following a thread that had @tofumatt on it I found the new Jest e2e config for Gutenberg and copied this change: https://github.com/google/site-kit-wp/pull/3336/commits/e472350fa2b292f59afbe2e78f7d4e5a306ca1ef

My PR's GitHub's actions have been waiting in a queue for a while :thinking: , so I'll check later, but locally the e2e tests worked for me :smile:

[2021-05-14 14:00] asvinb commented on #3138
Thanks for the context @aaemnnosttv . In that case, definitely, let's remove `TableOverflowContainer` from ` LegacyAnalyticsDashboardWidgetTopAcquisitionSources` 🙂

[2021-05-14 14:17] asvinb commented on #3157
@eugene-manuilov The `get_post_idea` method should return null if any of the 3 pieces of data is not stored. I don't see that part implemented. Can you check please?

### QA: Waiting for engineer to confirm

[2021-05-14 14:17] aaemnnosttv commented on #3236
I don't think we need to add `puppeteer` as a top-level dependency, in fact, [we just removed it as one in a recent issue](https://github.com/google/site-kit-wp/issues/1797). Did you find that this was necessary? The new method is available since v5.3 so it looks like our version already meets that.

If we do need to upgrade puppeteer first, it might be a good idea to create a new issue for upgrad

[2021-05-14 14:18] wpdarren commented on #2597
@danielgent @aaemnnosttv any thoughts on the periods in setting descriptions? All of the module messages look good.

![image](https://user-images.githubusercontent.com/73545194/118283714-91a60400-b4c7-11eb-9715-f11a0e1f9ca0.png)

[2021-05-14 14:27] eugene-manuilov commented on #3157
@asvinb yes, it hasn't been added. I'll create a follow up PR.

[2021-05-14 14:56] danielgent commented on #2597
@wpdarren The one you highlighted is actually ok right? (As it is two sentences)  But *the others* all have periods when they are one sentence, violating formatting rules! :smile:

I thought I went through the whole app. I'll make this change now :+1:

[2021-05-14 14:58] wpdarren commented on #2597
@danielgent good point about the one I have highlighted!  I will assign it to you, but assign it back to me when you've made the change and I'll do my final checks 👍

[2021-05-14 15:22] wpdarren commented on #3245
### QA Update: Pass ✅

**Verified:**

- With the `ga4setup` feature flag disabled, submitting the Analytics setup form and saving changed Analytics settings via the module's settings panel still works as expected.  I tested this with a site that already had a Analytics account and one site that had a new Analytics created. Both work as expected.

- With the `ga4setup` feature flag enabled, submitt

[2021-05-14 15:53] danielgent commented on #3236
@aaemnnosttv  There already is an issue for upgrading wp-scripts *and* I'm already doing the IB for it (Sadly github actions being down means I can't continue, but I've got upgrades working up to v14) https://github.com/google/site-kit-wp/issues/3033

[2021-05-14 16:32] danielgent commented on #3229
For the  _"Other"_ input text fields we can just use the `maxlength` attribute. I tested this out and it works with `@material/react-text-field`

`maxlength` is fully supported across browsers
![can-i-use](https://user-images.githubusercontent.com/8496063/118300650-798fae00-b4e2-11eb-941f-53cfc017b950.png)

See an example: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/maxlength#exam

[2021-05-14 16:34] marrrmarrr commented on #3272
@felixarntz the wording in Figma is not final, it was purely to help explain the flows, and definitely open to edits.
We could change this to be more descriptive, e.g. "This draft post was created from an idea you picked in Site Kit's Idea Hub: <idea text>"
We could keep the idea text on a new line for clarity. LMKWYT.

[2021-05-14 16:45] felixarntz commented on #3357
@Pratheep-lab Since the interaction of creating the draft post may take a (split-)second (since we need to make an API request), should there be any loading indicator for that action? If so, what could that look like without disrupting the visual experience (would need to be incorporated into [this Figma design](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=2

[2021-05-14 16:54] danielgent commented on #3229
The tag input `UserInputSelectOptions` also uses the same `@material/react-text-field` so we can use the same `maxlength` attribute

[2021-05-14 16:55] felixarntz commented on #3359
@marrrmarrr How should the dismissal for these notices behave? Should they be dismissed forever, should they reappear after a certain timeframe?

[2021-05-14 16:59] aaemnnosttv commented on #3355
@felixarntz ready for another look over 👍

[2021-05-14 17:05] felixarntz commented on #3272
@marrrmarrr Sounds good, with just one remark: Let's use just "This post..." instead of "This draft post..." so that it also works for published posts based on an Idea Hub idea.

@asvinb Can you update the relevant bits of the IB accordingly? In the future, to simplify this I'd recommend to not re-phrase exact wording and rather say "the copy from the ACs" or "the copy from the Figma design" or so

[2021-05-14 17:06] aaemnnosttv commented on #2940
I pushed a few more changes in light of some of the more recent changes around enabled features and I think this should be good to go now. Assigning to @tofumatt, @eugene-manuilov, and @felixarntz for review the suggested approach going forward.

[2021-05-14 17:09] felixarntz commented on #3355
@aaemnnosttv LGTM!

[2021-05-14 17:48] danielgent commented on #3033
GitHub actions are now working again, and the v14 upgrade PR is working :heavy_check_mark:

https://github.com/google/site-kit-wp/pull/3336

[2021-05-14 17:52] danielgent commented on #2659
Just to mention something important here which may have been missed

**initial state - no slice selected**
![initial state - no segment selected](https://user-images.githubusercontent.com/8496063/118309360-7352ff00-b4ed-11eb-9e85-0cdf3f4c7c3f.png)

**segment selected after clicking**
![segment selected](https://user-images.githubusercontent.com/8496063/118309385-79e17680-b4ed-11eb-8f6c-7e9f19b07eb

[2021-05-14 20:35] tofumatt commented on #3157
Thanks @asvinb, sorry I missed that bit in the PR! 😓

[2021-05-15 05:00] ivankruchkoff commented on #3271
@felixarntz this might still need QA:Eng due to steps 2 and 4 of qa brief.

[2021-05-17 07:49] asvinb commented on #3272
Sounds good @felixarntz . Thanks!

[2021-05-17 09:00] asvinb commented on #3356
@felixarntz Looks like the current issue is a duplicate of #3276 where the yellow sidekick when there is no data will be implemented. What do you think?

[2021-05-17 09:25] asvinb commented on #3157
No worries @tofumatt .
### QA ✅

[2021-05-17 13:08] danielgent commented on #3033
all checks pass for the v15 upgrade **except** one failing e2e (only on the recent builds of WP): https://github.com/google/site-kit-wp/pull/3371

Test in `tests/e2e/specs/auth/gcp-flow-admin-2.test.js` fails at
  the set up flow for the second administrator
    ✕ connects a secondary admin after the initial set up (36571 ms)

    `expect(jest.fn()).not.toHaveErrored(expected)`

[code]

[2021-05-17 13:16] wpdarren commented on #2597
### QA Update: Pass ✅

**Verified:**

Checked every CTA to make sure it fits our punctuation rules including dashboard, all modules and settings.

![image](https://user-images.githubusercontent.com/73545194/118494481-1be5a680-b71a-11eb-9ede-e19f96f90ca3.png)

![image](https://user-images.githubusercontent.com/73545194/118494534-299b2c00-b71a-11eb-9e74-bc66e6f81734.png)

@danielgent thanks for your

[2021-05-17 13:44] wpdarren commented on #3282
### QA Update: Pass ✅

**Verified:**

When viewing the AMP mode (the `<amp-analytics>` tag appears in the source code) I can see the { "$adsConversionID": { "groups": "default" } } JSON in the tag's config.

![image](https://user-images.githubusercontent.com/73545194/118498649-2bff8500-b71e-11eb-9d8c-f74daac2068d.png)

[2021-05-17 13:45] marrrmarrr commented on #2681
@felixarntz it might make sense to be more granular here in terms of which segments of logged-in users this affects exactly. E.g. if a site has a set of users who pay to see the "ads-free" version but still see ads even as they log in as subscribers, that's suboptimal (example in the [original support thread](https://wordpress.org/support/topic/is-there-a-way-to-show-ads-only-to-people-who-arent-l

[2021-05-17 14:00] tofumatt commented on #2350
I am still trying to 100% reliably reproduce this, but after looking through the issue and trying some custom adblocker scripts I think the issue is our `googlesitekit-modules-adsense.js` file.

I think our public JS file `googlesitekit-modules-adsense` is likely being blocked by ad blockers, as they frequently will have rules that block **all** scripts containing `ad` or `adsense`. If that file d

[2021-05-17 14:37] wpdarren commented on #3226
### QA Update:  Pass ✅

**Verified:**

This was tested with the React dev tools and inspecting of components.

- For AdSense, Analytics, Search Console, when widgets.moduleScreens is disabled, the legacy components appear.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/118506414-340ef300-b725-11eb-8abb-84c49ed0f588.png) - [Screenshot 2](https://user-images.githubusercontent.com

[2021-05-17 15:46] tofumatt commented on #2350
I still think it’s Ad Blockers causing this but I’ve yet to find one out-of-the-box that actually triggers the error on my development site 😢

I had a look through the support tickets, and in _some cases_ in that issue the modules not available are unrelated to ads (`CORE_SITE` selectors aren't available), and in that case it might just be caching errors. Or some sort of aggressive ad-blocking rul

[2021-05-17 16:03] frkn64modding commented on #2681
This is exactly what I need.

[2021-05-17 17:17] eugene-manuilov commented on #3290
IB :heavy_check_mark:

[2021-05-17 18:12] marrrmarrr commented on #6
Hi everyone, thanks for sharing your suggestions and describing your top use cases in detail.
As we're discussing the potential solutions for this, there's a question we'd appreciate your feedback on -- if all that was necessary for you to share the dashboard with other users of the site is that they log in to their Google account (no need for them to be a WP admin or to have access to Search Cons

[2021-05-17 18:26] tofumatt commented on #2940
I left a comment: https://github.com/google/site-kit-wp/pull/3230#pullrequestreview-661265697.

Overall I like the changes 👍🏻

[2021-05-17 19:10] nicosemp commented on #6
It most definitely would!
Are you thinking about a whitelist of Google accounts that, once logged in, have access to the shared dashboard?

[2021-05-17 19:31] ivptr commented on #6
It would not solve the issue, because it requires Google Account for every user.

[2021-05-17 20:59] elyobo commented on #6
Agreed, the problem is the Google sign in. It doesn’t scale and some
clients may not have or want an account.

In the same sense that I can produce a static report from GA and share it,
I should be able to share access to the data presented by site kit without
requiring the recipients to authenticate with Google.

On Tue, 18 May 2021 at 05:31, ivptr ***@***.***> wrote:

[2021-05-17 22:41] seriouslyjennings commented on #6
It would not solve mine automatically, but it would definitely be a step in the right direction.
Here are a few scenarios to think about :

- I have some clients that are very not tech savvy, and they (arguably) shouldn’t be logging into the dashboard anyway, but they want to be able to see the stats. When it asks for their google account & password, they think it’s broken and think I didn’t set i

[2021-05-17 22:42] tofumatt commented on #3166
QA ✅

Originally the QA brief mentioned the wrong file, but after tracking down https://github.com/google/site-kit-wp/pull/3221#discussion_r629584884 I saw it was changed without updating the brief… so I updated it here 🙂

[2021-05-18 05:40] westonruter commented on #3326
AMP <a href="https://github.com/ampproject/amp-wp/releases/tag/2.1.2">v2.1.2</a> is now published on WordPress.org

[2021-05-18 06:38] timiwahalahti commented on #6
It would not. As few others have already pointed out, not everyone has a Google account.

This would also add an extra step to see the analytics, which is bad. I want to be able to say to our customers that they can see the quick glimpse straight from the WP dashboard.

[2021-05-18 07:47] aaemnnosttv opened #3372 "Incorrect use of `useMount`"
## Bug Description

In #3072 we updated a number of `useEffect` hook instances to use `useMount` instead in order to satisfy the new linting rule which does not like an effect with an empty list of dependencies. While this has been a clean replacement in most instances, there are a few left over which are used improperly where a function is returned in the function given to the hook which is relev

[2021-05-18 09:33] GPurdue commented on #6
I'm sorry but as others have said, this wouldn't help. Many of my clients don't have Google accounts or don't have a Google account associated with their business. The ideal scenario would be that I create their GA account, link it to the site using the Site Kit plugin and I can choose which users or roles can view the analytics, then when they login, they see their analytics.

[2021-05-18 10:56] asvinb commented on #3356
Actually nvm @felixarntz . This is the case when we have no data for all 3 tabs, whereas in #3276, it's per tab. Reassigning ticket to me.

[2021-05-18 11:20] aaemnnosttv commented on #3326
Thanks @westonruter – I can see [this is passing again](https://github.com/google/site-kit-wp/runs/2608303535), so I'm going to close this out 👍  Cheers!

[2021-05-18 11:20] #3326 closed

[2021-05-18 11:33] nlenkowski commented on #6
Hi. Jumping in a bit late here, but I've run into this same issue on nearly every client site I've installed Site Kit on. Clients don't read the "Connect your Google account to Site Kit" message and think the plugin has been misconfigured. When I explain the situation they're often frustrated that Site Kit doesn't work like their "old" analytics plugin, and that gaining access to the dashboard ana

[2021-05-18 11:46] eugene-manuilov commented on #3358
IB :heavy_check_mark:

[2021-05-18 11:54] billzyfem commented on #6
It's been 2 long years watching this thread, and we're still no closer to being able to use Google Site Kit... Not getting my hopes up either.  It's simply a bad experience for clients the way it is currently.

[2021-05-18 12:32] jamesozzie commented on #2350
@tofumatt I've been unable to reproduce this after performing checks using various ad blockers, tests below. For those who've encountered this via the admin toolbar it may be related to JS minification or asset combining.

**Tests Complete**
- **Firefox with Ultimate Ad Blocker** - default config - Unreproducible, "You are offline" errors appear on 2/3 sites, 1 that "needs attention" before ads ar

[2021-05-18 13:05] leqnam commented on #1412
The problem, I finally discovered, was the popular iThemes Security plugin.
But to remove it was not the solution. Any ideas?

[2021-05-18 13:10] bethanylang commented on #1412
Hi @leqnam! Support for Site Kit is provided via the <a href="https://wordpress.org/support/plugin/google-site-kit/">support forums</a>. If you'd like to <a href="https://wordpress.org/support/plugin/google-site-kit/#new-topic-0">open a new topic</a> there, we'd be happy to help.

[2021-05-18 13:16] bethanylang commented on #2350
@abdullah1908 Reassigning to you for testing WP Rocket as noted in Slack.

[2021-05-18 15:23] eugene-manuilov commented on #2940
Approved the PR and left a comment.

[2021-05-18 15:47] bethanylang opened #3373 "Clean up API quota error display"
## Feature Description

When quota rate limits are hit, the returned error message from the API currently returned on the **Create your Analytics account** screen as:

![image](https://user-images.githubusercontent.com/12189958/118682324-56108000-b7ce-11eb-9b55-c343bf2b6faa.png)

(screenshot from @wpdarren)

It looks significantly better on the Analytics screen when Analytics is already connected:

[2021-05-18 15:47] danielgent commented on #3246
Just a head's up that these two requirements involve changing the code in ways that are out the scope of this ticket @felixarntz  @eugene-manuilov

* the modules/analytics store's selectProperty action should be used to empty/reset the UA property
* the modules/analytics-4 store's selectProperty action should be used to empty/reset the GA4 property

For both stores, `selectProperty` requires a val

[2021-05-18 17:09] eugene-manuilov commented on #3246
@danielgent let's use the following instead of changing `selectProperty` selectors:

[code]

[2021-05-18 17:12] aaemnnosttv opened #3374 "Implement User Surveys REST Controller"
## Feature Description

In #3355, we defined a number of actions that rely on REST endpoints that do not yet exist. This issue is for adding the necessary handling for those on the server side.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A `Google\Site_Kit\Core\User_Surveys\REST_User_Surveys_Contro

[2021-05-18 17:50] eugene-manuilov commented on #3272
Thanks, @asvinb. IB looks solid overall, as usual, but I have two comments for you:

I think we need to introduce a new approach of enqueueing Gutenberg-related assets that will follow the similar logic that we use for regular admin assets. Here is what we need to do:

1. Create a new interface `Module_With_Gutenberg_Assets` that replicates the `Module_With_Assets` interface but uses `*_gutenberg_

[2021-05-18 17:50] aaemnnosttv opened #3375 "Implement a `CurrentSurvey` component"
## Feature Description

The `CurrentSurvey` component is the entrypoint for rendering the current survey (if any) for the user. It's responsible for retreiving the current survey from the `core/user` data store and rendering it at the top-most level.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A `C

[2021-05-18 17:54] aaemnnosttv opened #3376 "Implement a `SurveyViewTrigger` component"
## Feature Description

User surveys require a trigger to be dispatched which may or may not result in a survey to be displayed. The first trigger that we will need is a view trigger. The easiest way to add this is by adding a dedicated component that triggers a view when it is first mounted. This requires the `triggerSurvey` action implemented in #3355.

---------------

_Do not alter or remove a

[2021-05-18 18:03] eugene-manuilov commented on #3301
IB :heavy_check_mark:

[2021-05-18 18:09] eugene-manuilov commented on #3202
@asvinb let's better use the `getDateRangeNumberOfDays` selector instead of hardcoded `28`.

[2021-05-18 18:12] eugene-manuilov commented on #3229
IB :heavy_check_mark:

[2021-05-18 18:57] eugene-manuilov commented on #3246
@danielgent how come it doesn't work :thinking:? Those actions are autogenerated and the only thing they validate is that the incoming value doesn't equal `undefined`: https://github.com/google/site-kit-wp/blob/1181d49b512d3fb79ebd6ff858a96db32197fd12/assets/js/googlesitekit/data/create-settings-store.js#L302-L309

Can you try again or show me an example of what you are doing?

[2021-05-18 19:17] danielgent commented on #3246
Apologies @eugene-manuilov

I'd misread :facepalm:

What you wrote works perfectly!  Thanks :+1:

[2021-05-18 19:51] bethanylang commented on #3255
Another [new report today](https://wordpress.org/support/topic/site-kit-problem-3) with another slightly different message:

[code]

[2021-05-18 20:54] ivankruchkoff commented on #3244
QA ✅

[2021-05-19 05:31] ivankruchkoff commented on #2796
So the easier way to resolve this particular issue is a cache invalidation param in the selector causing it to fire again in:
https://github.com/google/site-kit-wp/blob/d8e741b/assets/js/components/ModulesList.js#L51

[code]

The better solution here is to think of modules as having three states rather than two, currently we have a `boolean active` in `assets/js/googlesitekit/modules/datastore/mod

[2021-05-19 07:32] aaemnnosttv commented on #3255
@bethanylang I've taken another look at this and unfortunately I don't think we have enough information to track down the problem. It doesn't seem to be as simple as an incompatibility with a specific browser only but seems to be more specific to a combination of locale and data. Is there anyone who is able to consistently reproduce this that we can ask for more information?

[2021-05-19 07:48] aaemnnosttv commented on #2796
@ivankruchkoff the state change you highlighted in your last comment is a known issue, but isn't this different than the issue you originally reported above?

I think this is probably the way to go, but the 3rd state should probably be a more generic "transitional" state since the same is possible when deactivating as well. The tricky thing is in settings for example, we want to show lists of all

[2021-05-19 07:50] aaemnnosttv opened #3377 "Release 1.33.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-05-19 08:05] aaemnnosttv commented on #3286
@eugene-manuilov this issue is marked as blocked by #3291 yet that issue has not been started yet. Has the work for that issue been handled in your PR here or does that still need to be done first?

[2021-05-19 08:12] eugene-manuilov commented on #3286
@aaemnnosttv ah... you are right... :man_facepalming: I'll take care of that ticket today and will update my PR accordingly...

[2021-05-19 08:36] aaemnnosttv commented on #3353
Thanks @wpdarren – I agree it's a little odd looking but this is how the helper text is styled by Material for a text field. We use the same help text placement in one or two other places as well so it's not specific to Analytics.

![image](https://user-images.githubusercontent.com/1621608/118781791-1a40ed80-b896-11eb-8fd0-15a3d04a73c5.png)

[2021-05-19 08:37] danielgent commented on #2796
Just to confirm @aaemnnosttv @ivankruchkoff that I see the original error somewhat frequently! (and I keep ruining my train of thought thinking about this ticket :joy: )

[2021-05-19 08:37] aaemnnosttv commented on #3353
cc: @aarondruck

[2021-05-19 08:40] aaemnnosttv commented on #3327
@aarondruck @marrrmarrr – this should be a simple change although I'm not sure if there is a reason these should be left as-is or not? From what I can see this is how they come back from the API so it doesn't seem like an intentional choice.

[2021-05-19 08:45] aaemnnosttv commented on #3319
That's a good question. I think there's probably value in keeping them even when there's no data since these are deep links into the configured entity in the respective service frontends. It's a quick and easy way to get right to your account/property in those services where you can do more than just see data/stats (e.g. grant user access, or manage other settings, etc). Will discuss with the rest

[2021-05-19 09:13] aaemnnosttv commented on #2871
@adamsilverstein looks like this issue was opened before we enhanced adblocker detection in #2794 which added support for uBlock Origin as well. This was also recently verified in another recent adblocker-related issue in https://github.com/google/site-kit-wp/issues/3018#issuecomment-813690400. Closing this out as fixed 👍

[2021-05-19 09:13] #2871 closed

[2021-05-19 09:43] aaemnnosttv opened #3378 "Add tests for broken stories"
## Feature Description

We use Storybook as the foundation of our visual regression tests but we also have many more stories than we have VRT scenarios. Currently VRT is the only test we have in place to prevent Storybook from being broken, but it only catches stories that have corresponding VRT scenarios which are almost entirely all legacy stories. It doesn't make sense to enable VRT for every s

[2021-05-19 09:44] aaemnnosttv commented on #3378
@felixarntz I think this one is probably overdue 😄  Anything to add/update before IB?
cc: @tofumatt @eugene-manuilov

[2021-05-19 10:29] TaisaDesigner commented on #6
I don't really get what is the problem on sharing to other admins or specific users the ability to view the data of that web.

Anyway, I stopped using the plugin because it gave me some problems, and also because of the new cookie policies in Europe.

[2021-05-19 10:49] jamesozzie commented on #2350
The most recent report of this issue is now resolved, with the error appearing in this users case via the admin toolbar, as a result of WP Rocket optimisations applied.

The user defined the below exclusion to ensure the Site Kit admin toolbar is not impacted by WP Rocket optimizations (JS asset combination or minification):
`/wp-content/plugins/google-site-kit/dist/assets/js/(.*).js`

@bethanylan

[2021-05-19 11:08] rbrishabh commented on #3372
Hey @tofumatt, if you want, I can take this one up! You can review it when I come up with a solution. would that be helpful?

[2021-05-19 11:13] aaemnnosttv opened #3379 "Implement `Survey*` UI components for initial rating survey"
## Feature Description

While user surveys will be capable of displaying multiple questions of various types, the initial implementation will be limited to a single rating-type question only with two potential completions. This issue is about building the necessary UI components for this initial survey – none of which should be specific to the initial survey as far as the contents are concerned; t

[2021-05-19 11:51] aaemnnosttv opened #3380 "Implement main `Survey` component"
## Feature Description

The `Survey` component is the main component for rendering a single survey. This component is responsible for managing state for answers and rendering the appropriate inner components implemented in #3379.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A `Survey` component shou

[2021-05-19 12:07] tofumatt commented on #3372
@aaemnnosttv @eugene-manuilov The IB mentioned changing `useMount` to `useEffect`, but I think we can use [`useEffectOnce`](https://github.com/streamich/react-use/blob/master/docs/useEffectOnce.md#useeffectonce) as mentioned in the ACs instead, so I modified the IB with that… but the approach looks right.

IB ✅

[2021-05-19 12:08] tofumatt commented on #3372
@rbrishabh Sorry but this issue, while straightforward, will be handled by the core development team as we need to land it in the upcoming release 🙂

[2021-05-19 12:16] aaemnnosttv opened #3381 "Tag Manager setup stories are broken"
## Bug Description

Currently all of our stories for Tag manager setup are broken. I opened #3378 earlier to prevent this in the future but this issue is just about fixing these (and any others we might have right now) which is likely a simple fix.

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/118810463-977b5b00-b8b4-11eb-8537-2b82c69de170.png)

---------------

_Do n

[2021-05-19 13:21] bethanylang commented on #3278
<a href="https://wordpress.org/support/topic/cant-find-variable-intersectionobserver/">This user</a> reports that they're using Mac 10.11.6 OS X El Capitan and Safari version 11.1.2. I tried testing in Safari 11 in BrowserStack and am not able to replicate. Site Health is available.

[2021-05-19 13:32] rbrishabh commented on #3372
No problem! Thank you for your reply

[2021-05-19 13:45] bethanylang commented on #1558
Closing as we have not encountered this issue for some time.

[2021-05-19 13:45] #1558 closed

[2021-05-19 13:49] wpdarren commented on #3348
### QA Update: Pass ✅

As per conversation with @aaemnnosttv QA have run through a first pass for this ticket.

- All dashboards and widgets that display stats/charts with comparison data have been checked.
- On widgets with tabs for different data, i.e. Audience overview, the comparison data/graphs were checked.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/118823927-4fa70480

[2021-05-19 14:46] aarondruck commented on #3353
Sounds good on left aligning.

On Wed, May 19, 2021 at 1:37 AM Evan Mattson ***@***.***>
wrote:

[2021-05-19 14:46] aarondruck commented on #3317
Maybe just drop the "Source: Adsense" below the $?

so layout could be something like:

Page RPM
$3.66 (chart)
Source: Adsense

... and so on

On Wed, May 19, 2021 at 2:07 AM Evan Mattson ***@***.***>
wrote:

[2021-05-19 14:46] aarondruck commented on #3327
Title Case sounds good to me.

On Wed, May 19, 2021 at 1:41 AM Evan Mattson ***@***.***>
wrote:

[2021-05-19 15:54] felixarntz commented on #2681
@marrrmarrr The current approach is already to do it like we just recently established it in Analytics via #1891: You can either disable ads for all logged-in users or for only (logged-in) users that can create content - that should give the desired flexibility here while avoiding a ton of user-facing choices.

My question above is still valid though, what should the default value of these new tog

[2021-05-19 16:13] eugene-manuilov commented on #3247
@felixarntz I created a new PR: #3386. Could you please take a look at it?

[2021-05-19 16:13] felixarntz commented on #3378
👏 Let's do it, lgtm!

[2021-05-19 16:22] felixarntz commented on #3272
@eugene-manuilov +1 for the suggested approach!

We can later also consider implementing similar infrastructure for any frontend assets (which we'll need for some future functionality that has been discussed in the past).

[2021-05-19 16:51] eugene-manuilov commented on #3378
@aaemnnosttv sometimes widgets become broken in a different way. They don't throw an error, they display an incorrect state instead. Not sure how we can catch it without VRT :thinking:

[2021-05-19 18:18] felixarntz commented on #3374
ACs lgtm!

[2021-05-19 18:22] felixarntz commented on #3375
@aaemnnosttv In order for this to not depend on #3380 (which I think is the intent here), it would be good to clarify more precisely the requirement for the `Survey` component that is referenced. Either we need to mark the issue as blocked by that component one's, or we can add here that the empty `Survey` component should be scaffolded, and slightly rephrase #3380 to actually implement that scaff

[2021-05-19 18:28] felixarntz commented on #3376
@aaemnnosttv Do we need a flexible component like this just to call the `triggerSurvey` action? Since the particular `view_dashboard` trigger is on page view, using a component might make sense, but the intent of `triggerSurvey` is more of an event-based system, i.e. it could eventually be called directly in the related logic, the same way `trackEvent` works.

Maybe instead of starting with the ab

[2021-05-19 18:30] felixarntz commented on #3379
ACs lgtm!

[2021-05-19 18:44] felixarntz commented on #3380
@aaemnnosttv Mostly lgtm, just a few things:

For those cross-issue etc references and future considerations, it would be good to clearly outline in the ACs what _should_ happen here: E.g. should empty `SurveyQuestionSingleSelect` etc. components be scaffolded per this issue or should the `Survey` component just return `null` for those question types?

Note that the format of the event data also n

[2021-05-19 19:09] aaemnnosttv commented on #3348
Thanks @wpdarren ! @felixarntz I asked @wpdarren to give this a first pass earlier in the week if they had capacity since we had some extra time while you were away. Given the timeliness around the release and the larger footprint of the PR I thought we could perhaps iterate on any regressions while we were waiting for the next round of CR. Luckily none were found 😄

I think the only changes to th

[2021-05-19 19:29] aaemnnosttv commented on #3376
Since the particular `view_dashboard` trigger is on page view, using a component might make sense, but the intent of `triggerSurvey` is more of an event-based system, i.e. it could eventually be called directly in the related logic, the same way `trackEvent` works.

I think it makes sense for a view-specific trigger. I would imagine most other triggers would be closer to the actual event, much lik

[2021-05-19 19:51] aaemnnosttv commented on #3380
Good point – I think as far as the ACs are concerned, we should just return `null` for such questions since a scaffolded component would end up doing the same anyways, so I don't see much benefit in doing that ahead of time.

Yeah, although it's hard to see what it would be for the others without example objects. From what I could tell that structure was more/less provided in the individual `answe

[2021-05-19 19:51] abdullah1908 commented on #2350
@jamesozzie I couldn't reproduce the actual JS error but I can see **Site Kit Admin Toolbar** is not working when WP Rocket & Asset Cleanup plugins are configured.  Please see recording [here](https://www.loom.com/share/9ddeca3d324048bba458699bf49e51aa).

[2021-05-19 20:04] aaemnnosttv commented on #3378
@eugene-manuilov Sure – anything not covered by VRT will be possible to be incorrect which is also not good, but for the purposes of this issue, the intention is just to ensure we at least catch the glaringly obvious broken ones which have been missed many times before. We can start with this and see how we can best evolve the stability of our stories going forward.

[2021-05-19 20:55] ivankruchkoff commented on #2796
Yes, you're quite right.

[2021-05-19 21:56] tofumatt commented on #3270
QA ✅

[2021-05-19 22:50] felixarntz commented on #3348
@aaemnnosttv Sounds good, let's bypass another round of QA then. cc @wpdarren

[2021-05-20 01:31] #3156 closed

[2021-05-20 01:31] #3154 closed

[2021-05-20 01:31] #3168 closed

[2021-05-20 01:32] #3232 closed

[2021-05-20 01:32] #2853 closed

[2021-05-20 01:32] #2887 closed

[2021-05-20 01:32] #3293 closed

[2021-05-20 01:32] #1891 closed

[2021-05-20 01:32] #3273 closed

[2021-05-20 01:34] #3245 closed

[2021-05-20 01:35] #3157 closed

[2021-05-20 01:36] #2597 closed

[2021-05-20 01:36] #3282 closed

[2021-05-20 01:42] #3226 closed

[2021-05-20 01:43] #3166 closed

[2021-05-20 01:43] #3348 closed

[2021-05-20 02:40] felixarntz commented on #3376
@aaemnnosttv Those are fair points, we can go with your original ACs then.

[2021-05-20 02:51] felixarntz commented on #3380
https://developers.google.com/protocol-buffers/docs/overview#oneof
@aaemnnosttv

Sgtm.

The exact structure of each type is defined as a "proto" in the [design doc](https://docs.google.com/document/d/1jqUg4blDUFu6BCyHQVgzlz9smxK0UGrzsOpPojo2EJM/edit?pli=1#heading=h.qxbkeiyvcd7o),. However, for now it's fine here again to only implement support for the `rating` type, i.e. it needs to have the forma

[2021-05-20 04:07] cole10up commented on #3274
**QA ✅**

Tested:

Ran `npm run storybook`

![image](https://user-images.githubusercontent.com/57115907/118917559-01602880-b8e6-11eb-9100-faa379824807.png)

Confirmed tabbed UI functionality in storybook on multiple browsers
![image](https://user-images.githubusercontent.com/57115907/118917635-25bc0500-b8e6-11eb-9b7b-10844a145817.png)

Sending to Approval

[2021-05-20 06:24] gerardreches commented on #1891
When will this be released?

[2021-05-20 08:10] aaemnnosttv commented on #3272
@eugene-manuilov I'm not sure we should replicate `Module_With_Assets` with a Gutenberg-specific variant. That would certainly work, but Gutenberg assets are still assets so to me these should be returned with all the other assets. Maybe instead we should add a way to guard (or otherwise control) assets from being enqueued based on the context?

[2021-05-20 08:22] aaemnnosttv commented on #3372
## QA ✅

* All instances of `useMount` that had return functions for effect cleanup have been updated with `useEffectOnce` instead.

[2021-05-20 08:30] asvinb commented on #3202
Sounds good. Updated @eugene-manuilov

[2021-05-20 08:32] wpdarren commented on #1891
@gerardreches it is planned to go into the next release. We are currently smoke testing and will hopefully push it for release next week.

[2021-05-20 08:45] eugene-manuilov commented on #3272
@aaemnnosttv yes, we can add a context (`'admin'`, `'gutenberg'`, `'frontend'`) parameter to the get_assets function and return a specific set of assets based on provided context, but I think it would be better if separate concerns because it will be easier to understand, test and maintain.

[2021-05-20 09:20] asvinb commented on #3272
@eugene-manuilov IB updated to use localStorage instead of cookies. Once @aaemnnosttv, @felixarntz  and you are aligned on the way to enqueue Gutenberg assets, I'll update the IB with your approach.

[2021-05-20 11:28] jamesozzie commented on #2350
Likewise with a combination of options enabled the Site Kit tab doesn't load. I have been able to recreate the original issue with only the minify JS option enabled in WP Rocket, all other configurations default.

![2021-05-20-12-20-13](https://user-images.githubusercontent.com/41326532/118970150-d0273d00-b965-11eb-8a1e-1935ac543dd2.gif)

Adding the below exclusion allows the Site Kit tab to opera

[2021-05-20 12:50] Pratheep-lab opened #3387 "Idea hub, loading indicator to show "Creating new draft""
## Feature Description

This is in reference to the comment on this issue: https://github.com/google/site-kit-wp/issues/3357#issuecomment-841365269

Objective: To show a loading indicator when the user clicks the "Start a draft" button on the idea hub widget.

**Proposed solution:**

1. User clicks on the "Start a draft" button
2. An overlay appears on this idea row - (Grey area in the screenshot

[2021-05-20 15:47] aaemnnosttv commented on #3375
@felixarntz ready for another pass 👍

[2021-05-20 15:58] asvinb commented on #3379
@aaemnnosttv I've suggested we add another property, `Icon` for the answers object which is not present in the AC. Let me know what you think.

[2021-05-20 16:16] aaemnnosttv commented on #3380
Thanks, that's really helpful 👍

I've updated the ACs to elaborate on these points, let me know what you think.

[2021-05-20 16:17] felixarntz commented on #3375
LGTM!

[2021-05-20 16:23] felixarntz commented on #3380
@aaemnnosttv Almost lgtm, one thing to improve though:

This approach doesn't have the necessary flexibility to support any kind of question type. The variable piece that differs per question type is the outer `answer` entry. So it would be more appropriate for `answerQuestion` to reflect that, i.e. for a rating answer it should be like `answerQuestion( { answer: { answer_ordinal: 4 } } )`.

[2021-05-20 16:57] aaemnnosttv commented on #3380
Ah okay, thanks for clarifying @felixarntz – updated!

[2021-05-20 17:03] ivankruchkoff commented on #2796
Still an issue @aaemnnosttv, here's a repro screen recording.

https://user-images.githubusercontent.com/373931/119019971-900a8f00-b952-11eb-8be2-a60bd295659d.mp4

[2021-05-20 17:06] eugene-manuilov commented on #3378
Ok, sounds good to me. :+1:

[2021-05-20 17:08] eugene-manuilov commented on #3202
IB :heavy_check_mark:

[2021-05-20 17:18] aaemnnosttv commented on #2796
Thanks a lot for the screencast @ivankruchkoff – I just tried this out myself and wasn't able to reproduce it; when I click "Back" it shows connected for me 🤷‍♂️ . With that said, if this only happens after navigating back then I would say this isn't worth spending time on, at least any time soon 😄  Thoughts @felixarntz ?

[2021-05-20 17:24] felixarntz commented on #3380
LGTM!

[2021-05-20 17:31] felixarntz commented on #3317
@aaemnnosttv @aarondruck Sounds good, let's do it like that!

[2021-05-20 17:36] aaemnnosttv commented on #3355
Thanks @ivankruchkoff – this is off to a good start; a few comments for you to iterate on:

This is probably an undocumented convention, but you should see all instances of `createFetchStore` are set using a variable that includes the `baseName` of the fetch store: https://github.com/google/site-kit-wp/blob/82bb1a9947fd7add1ceda4520404fa56d580aadd/assets/js/googlesitekit/data/create-notifications-

[2021-05-20 20:09] aarondruck commented on #3353
Yes

On Thu, May 20, 2021 at 10:08 AM Evan Mattson ***@***.***>
wrote:

[2021-05-20 20:23] tofumatt commented on #3377
Did some smoke testing today and looked good to me ✅

[2021-05-20 21:22] tofumatt commented on #3356
IB ✅

[2021-05-20 22:06] ivankruchkoff commented on #3254
A few notes/deviations from IB: (URL to view each screen is in the QA brief)
1. Based on comment from @felixarntz  added the GA4 property in its own row, what's the label to use here?
<img width="513" alt="Screen Shot 2021-05-20 at 2 59 28 PM" src="https://user-images.githubusercontent.com/373931/119054436-7da54b00-b97c-11eb-8b2e-a64463bde202.png">

2. Rather than making the part 2 changes in `Set

[2021-05-20 22:10] tofumatt commented on #3288
IB ✅

(Worth noting here to pay particular attention to the ACs, as they largely already spell out the implementation here, and provide a bit of extra context.)

[2021-05-20 22:13] tofumatt commented on #3297
QA ✅

[2021-05-21 00:43] ivankruchkoff commented on #3377
LGTM ✅

[2021-05-21 05:05] Bobby99as opened #3388 "multiple domains setups"
## Feature Description

allow a setting to make it where it stops complaining about URL changes for multiple domains setups. I have a clarinet and a tor domain and I'm getting sick and tired of it complaining about the URL changing.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Bri

[2021-05-21 09:27] aaemnnosttv commented on #3291
@eugene-manuilov would you please add a QA brief?

[2021-05-21 09:40] jamesozzie commented on #3278
We've had another report of this today, troubleshooting ongoing. Added to the list of impacted users in original post.

[2021-05-21 09:48] jamesozzie opened #3389 "Cannot read property 'activateModule' of null"
There have been a couple of Site Kit users who reported the below error, unknown at what stage so far, troubleshooting ongoing:
`Cannot read property 'activateModule' of null`

- https://wordpress.org/support/topic/site-kit-encountered-an-error-35/ | **Resolved - no response or additional insights** | SH info within topic
- https://wordpress.org/support/topic/site-kit-encounterred-an-error/ | **Re

[2021-05-21 10:20] eugene-manuilov commented on #3291
Added

[2021-05-21 11:33] aaemnnosttv commented on #3317
@aarondruck @felixarntz I've updated the ACs with an in-browser visual mockup based on your direction – let me know if you'd like to see anything differently here otherwise we can move this forward to IB 👍

[2021-05-21 12:16] jamesozzie opened #3390 "Add context to the messaged displayed when admins exclude "Users that can write posts" from Analytics tracking"
## Feature Description

Now that the option to exclude all logged in users apart from subscribers is set to be shipped as per #1891 consider adding additional information that adds further clarity by mentioning the user roles.

![2021-05-21-12-54-39](https://user-images.githubusercontent.com/41326532/119133657-0f23c400-ba34-11eb-9fc6-afe2a63901d4.gif)

At present the notice displays the below:
**U

[2021-05-21 14:33] wpdarren commented on #3377
I've been through the Regression testing checklist and nothing blew up. LGTM. I also ran through the plugin in mobile and on other browsers, i.e. Firefox and Edge.

[2021-05-21 14:57] bethanylang commented on #3255
@jamesozzie @abdullah1908 Do either of you have an open topic that you can work with more closely here to troubleshoot?

[2021-05-21 16:18] jamesozzie commented on #3306
Closing this as unreproducible. The issue didn't occur from an incognito window, with no further insights on the original support topic. This was the only occurrence of this specific issue.

[2021-05-21 16:18] #3306 closed

[2021-05-21 18:43] abdullah1908 commented on #3278
Couldn't find out any kind of conflict/error while testing in Safari.
cc: @bethanylang @jamesozzie

[2021-05-21 19:04] eugene-manuilov commented on #3269
QA :warning: Although this feature works as expected, there are a few things in the code that need to be fixed:

1. A new post should be created inside of the closure returned as a result for the `POST:create-idea-draft-post` case. https://github.com/google/site-kit-wp/blob/7abc4db5a51c7e83daccd56bdc09220fc3f0637e/includes/Modules/Idea_Hub.php#L251-L263 This code ^ should be moved into here: https

[2021-05-22 11:09] Hazlitte commented on #3251
[Branch containing progress](https://github.com/google/site-kit-wp/tree/enhancement/3251-settings-notice)

[2021-05-22 21:34] ivankruchkoff commented on #3355
@aaemnnosttv

- Updated the estimate.
- Updated store base names.
- Added calls to `argsToParams`
- Explicitly stated post params `triggerID` and `event` / `session` respectively.
- Explicitly stated that `triggerID` is used for cache key.
- Added call to `setItem` with empty object.

Given that we have a ttl, is it worth calling setItem with a ttl and the current time? I'm not sure what the ttl i

[2021-05-23 06:18] ivankruchkoff commented on #3269
1. Moved to the closure in
https://github.com/google/site-kit-wp/pull/3391/commits/89be79629ad8ade813bdb345da15f8fdf07ffadf

2. Updated to use the idea from meta in
https://github.com/google/site-kit-wp/pull/3391/commits/8e434e7ab4e2fe38dfca29e54bcb8ace7faf2094

3. I don't think there's a reason to remove this filter, as it's only added in a very specific part of the code, and won't be accidentall

[2021-05-23 13:39] henrywright commented on #276
Having a discussion with @jamesozzie [here](https://wordpress.org/support/topic/controls-for-the-super-admin-in-a-network-install/) regarding controls for the super admin in network installs. Grateful for your thoughts

[2021-05-24 08:55] asvinb commented on #3376
@aaemnnosttv Just a note about this line:

It should be the core/site store if am not mistaken 😁

[2021-05-24 09:16] asvinb commented on #3375
@aaemnnosttv About the following line:

The styling would be done in #3379 . Just wanted to flag that out here or you wanted to style `CurrentSurvey` only for the positioning?

[2021-05-24 11:33] jamesozzie commented on #276
As per the comment above consider the following for multisite compatibility:

[2021-05-24 11:40] wpdarren opened #3392 "Link Behaviour on Create a Goal CTA on SK Dashboard"
## Bug Description

On the Site Kit dashboard, when you click the `Create a Goal CTA` link, it opens up in the same window.

To be consistent with external links, the link should open in a new window.

![image](https://user-images.githubusercontent.com/73545194/119342159-8f446680-bc8c-11eb-99b2-1e91668624ca.png)

## Steps to reproduce

1. Make sure `Google Analytics` is connected
2. Go to Site Kit

[2021-05-24 11:53] wpdarren opened #3393 "Improve User Experience When Disconnecting Modules in Settings"
## Bug Description

When you are disconnecting two or more modules within the settings page the user experience could be improved.

Currently, when you disconnect a module you are redirected to the Site Kit Dashboard after it is disconnected. You then have to go back into the settings, select another module to disconnect and repeat. Rather than redirecting to the dashboard, could the user not be r

[2021-05-24 12:53] eugene-manuilov commented on #3269
I don't have a real example, but there might be a plugin that listens to different REST API filters and might be affected by our hook that we decided to leave. It's just a good habit to remove temporary hooks once they become unnecessary.

[2021-05-24 14:22] wpdarren commented on #3291
### QA Update: Confirm with Engineer ⚠️

@eugene-manuilov when I select the account, it does not default to this property.

It's still showing as `Set up a new property`  I've tried this on a few new sites.

Does it possibly need time to pick up the new property in the API?

![image](https://user-images.githubusercontent.com/73545194/119361498-a6428300-bca3-11eb-98ed-35ad8488372b.png)

[2021-05-24 14:26] felixarntz commented on #2796
If it only occurs after navigating "back", I'd agree it's not highly crucial, however I'd say it's still a valid bug - maybe a P2? There may some related improvements also worth making though, for example, maybe the PSI module shouldn't show as connected until the redirect / page reload has happened. This is similar to various other enhancements that we've made (e.g. in the `ActivateModuleCTA` com

[2021-05-24 14:34] eugene-manuilov commented on #3291
@wpdarren you need to create the regular UA property, not GA4 as you created above.

[2021-05-24 14:45] wpdarren commented on #3291
### QA Update: Pass ✅

**Verified:**

- When you select the account the property related to the URL appears as default.

![image](https://user-images.githubusercontent.com/73545194/119364548-eb1be900-bca6-11eb-955b-10eb1462ab9d.png)

@eugene-manuilov thank you, I'd not realised that by default it creates it as GA4, and that you have to select UA property.

[2021-05-24 17:12] ivankruchkoff commented on #3269
Back over to you @eugene-manuilov

For the console:

[code]

[code]

[code]

[2021-05-24 17:14] felixarntz commented on #2217
@ivankruchkoff @tofumatt Using the HTTP header lgtm, although I don't have a strong opinion on either. I've updated the ACs to mention both approaches, i.e. being more agnostic about this. The IB here is ✅ from my end, but I'll defer to you whether to go with the HTTP header approach (if so, please make the changes accordingly).

[2021-05-24 17:52] aaemnnosttv commented on #3254
@ivankruchkoff this is something @felixarntz or @marrrmarrr will need to confirm but for now, I think "Google Analytics 4 Property" is probably what we want to use since this is how it is referred to elsewhere.

Sounds right to me since this is where the selects are rendered 👍

This selector requires GA4 requests to be made first: https://github.com/google/site-kit-wp/blob/0231db23ab1cef478be2dff1

[2021-05-24 18:15] danielgent commented on #3251
There's no mention of the story for `<SettingsNotice />`  :thinking:
https://google.github.io/site-kit-wp/storybook/pull/3330/?path=/story/global-notices--settings-warning-notice

This shows `SettingsNotice` accepting a `type` prop which is an enum
[code]

Reading the AC I would assume that we would get rid of this prop... and that the background will always be blue, and that the icon is whatever

[2021-05-24 18:18] felixarntz commented on #3254
@ivankruchkoff @aaemnnosttv

Yes, it should be "Google Analytics 4 Property".

This notice is practically no longer relevant with the new flows, i.e. the only place where it should still be shown is in the `legacy` flow (which otherwise ignores GA4 and therefore needs this).

Makes sense, @aaemnnosttv can you define a follow-up issue?

Yes, they can all point to the same current documentation sect

[2021-05-24 19:25] eugene-manuilov opened #3405 "Fix test:analyze command"
## Feature Description

The `test:analyze` command doesn't work due to incorrect configuration.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `test:analyze` command should work and display the bundle analyzer report in the browser.

## Implementation Brief

* Fix e2e and vrt issues
* Merge #2377

[2021-05-24 20:09] aaemnnosttv commented on #3375
I think this aspect of the styling could be done here since these styles are specific to the elements that are rendered in the survey modal. All the other components/issues shouldn't need to be concerned with positioning of the survey.

---

Thanks @asvinb – this is looking good, just a few points to iterate on:

This issue only depends on #3355 – the ACs state that an (empty) `Survey` component c

[2021-05-24 20:14] aaemnnosttv commented on #3376
IB ✅

[2021-05-24 20:20] #3372 closed

[2021-05-24 20:20] #3274 closed

[2021-05-24 20:20] #3244 closed

[2021-05-24 20:20] #3170 closed

[2021-05-24 21:01] felixarntz opened #3406 "Remove legacy error notifications infrastructure in favor of store-based one"
The `storeErrorNotifications` feature flag should be removed and the logic behind it should become the new default, more specifically the only version available.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

### Part 1: Replace generic errors legacy infrastructure

1. The principal usage of `showErrorN

[2021-05-24 21:34] felixarntz commented on #3070
Querying by only the `ga:pagePath` dimension would fix the duplicate results (and also the potentially incorrect numbers due to that!), however it doesn't look like it is possible to get the `ga:pageTitle` in that case. We could try to make a WordPress query to get the latest title from within WordPress, but that would be rather error-prone and also slow down performance.

@marrrmarrr We should co

[2021-05-24 23:40] cole10up commented on #3377
All set on my end.

QA ✅

[2021-05-24 23:43] cole10up commented on #3247
### **QA ✅**

All good on my end. Tested UA properties and confirmed "SetupFormUA" was displayed.
Tested ga4 properties and confirmed "SetupFormGA4" was displayed.
Confirmed both UA and GA properties displayed "SetupFormGA4Transitional".

Tried to submit, confirmed nothing occurred.

Sending to testing approval.

[2021-05-25 01:00] #3247 closed

[2021-05-25 01:09] ivankruchkoff commented on #3254
@asvinb,

Passing this to you for FE updates, the blue background / blue star sections highlighted below.

Here are the relevant figma files:
https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A7775
https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A8621

FIGMA Screenshot:
<img width="892" alt="Screen Shot 2021-05-24 at 5 58

[2021-05-25 01:16] #3377 closed

[2021-05-25 04:21] abdullah1908 commented on #3278
[As per this topic](https://wordpress.org/support/topic/fatal-error-3876/#post-14475245), user is not observing any issues in the incognito window. By checking SH info I can see there is a plugin NitroPack installed that might be the reason. Asking the user to disable the plugin & check again.

[2021-05-25 07:15] aaemnnosttv commented on #3379
@asvinb we can't really do that since `choices` comes from the API. I think for the rating we can always assume it will be 5 choices but we should use the provided objects and associate them with their respective icons within the component. We also don't need the icons to be flexible right now and I'm not sure that we ever will.

    * This includes using `fixed` positioning for the survey `Survey

[2021-05-25 07:56] aaemnnosttv commented on #3286
@eugene-manuilov would you please add a QA brief?

[2021-05-25 09:04] aaemnnosttv commented on #3355
@ivankruchkoff the `ttl` essentially defines how long we should wait before the same trigger can be fired again. So currently the presence of the cache alone is all we need, the value isn't relevant yet but I think storing an object makes sense and allows for extending in the future, should we need to.

The fetch store and action names need to be updated here.

I know what you mean by this but let

[2021-05-25 09:53] asvinb commented on #3379
Ready for another pass @aaemnnosttv

[2021-05-25 10:25] asvinb commented on #3375
@aaemnnosttv Ready for you to take another look.

[2021-05-25 12:08] eugene-manuilov commented on #2292
IB :heavy_check_mark:

[2021-05-25 12:29] tofumatt commented on #3380
I had a few questions about the ACs here—they weren't entirely clear to me:

What are the "events" that the ACs refer to here? I assumed it was a `trackEvent` at first, but I don't think that's correct. But I can't find any reference to the events that we should be submitting for User Surveys. Presumably it should include a Form ID, but I don't see any mention of where we get that from the docs/li

[2021-05-25 12:29] eugene-manuilov commented on #3374
@aaemnnosttv AC says to proxy `survey-trigger` and `survey-event` to the same `/survey/trigger/` endpoint. Is it intentional? Shouldn't `core/user/data/survey-event` request be proxied to the `/survey/event/` endpoint?

[2021-05-25 12:39] eugene-manuilov commented on #3374
@tofumatt it's a good start for IB however I think we need to provide more details. Here is what we need to clarify:
* which methods we need to add to the rest controller class;
* how we should validate the request data for each endpoint;
* how we should send a request to the proxy server;
* how we should process a response from the proxy server. What should happen when we get an error response fr

[2021-05-25 13:15] marrrmarrr commented on #1535
Thanks for the suggestion, @itsgarryb -- since there are already efforts to add Sitemap functionality to [WP Core](https://make.wordpress.org/core/2020/07/22/new-xml-sitemaps-functionality-in-wordpress-5-5/), adding News sitemaps specifically is not on Site Kit's radar right now.

[2021-05-25 13:15] #1535 closed

[2021-05-25 13:17] marrrmarrr commented on #2552
Hey @pizienolamitica, thanks for the suggestion! As James mentioned, since a bunch of similar functionality is available via WP core sitemaps, submitting every URL to Google is not on Site Kit's radar for now.

[2021-05-25 13:17] #2552 closed

[2021-05-25 13:20] marrrmarrr commented on #2575
Hi @OC2PS, thanks for the suggestion! As Thierry mentioned already, we're focussing on making it as easy as possible for the slightly less savvy users to make the most of their WP sites, so this type of advanced functionality is not on Site Kit's radar for the time being.

[2021-05-25 13:42] marrrmarrr commented on #2973
Thanks for raising @bethanylang! Do you or the rest of the support team have any suggestions on where to place this so we're clear people might actually see it?

[2021-05-25 13:46] tofumatt commented on #3287
IB ✅

I added a note about using internal state to manage the pencil icon dropdown, but otherwise looks good 👍🏻

[2021-05-25 13:54] marrrmarrr commented on #3066
@bethanylang you're right that Site Kit currently doesn't support "blending" information from different Google services via multiple accounts. However, we don't control the account selection page content (that lives on accounts.google.com), so we can't affect how/if people select the same account.
Do you think that having a page in our upcoming docs would help with this?

[2021-05-25 13:55] bethanylang commented on #2973
@marrrmarrr I'm thinking in the setup flow? Somewhere that everyone sees it as soon as possible after installing/configuring the plugin.

[2021-05-25 13:59] marrrmarrr commented on #3283
This is a really great idea and I think it would be great to combine with the upcoming "Milestone" notifications or e.g. CWV module enhancements. I'll leave it here for now but also cc @felixarntz in case a Notification epic is created, we should add it to the epic!

[2021-05-25 14:08] danielgent commented on #3251
Something else to check

According to the design, the `children` is responsible for not flowing over `LearnMore` e.g.
![design overflow](https://user-images.githubusercontent.com/8496063/119512230-69de5800-bd73-11eb-8b80-6ed29f2f84d7.png)

No problem for text like this
![notice-looks-fine](https://user-images.githubusercontent.com/8496063/119512283-75318380-bd73-11eb-98ab-48065b717bd8.png)

But is

[2021-05-25 14:54] danielgent commented on #3251
Progress so far can be seen here on storybook https://google.github.io/site-kit-wp/storybook/pull/3404/?path=/story/global-notices--settings-info-notice-no-icon

There is no design for a `SettingsNotice` without an `Icon` prop, so I've made the text flush left in this case (easily reverted!)
![flush-left-no-icon](https://user-images.githubusercontent.com/8496063/119519469-bcbb0e00-bd79-11eb-9f5e-1

[2021-05-25 15:12] felixarntz commented on #3380
@tofumatt Have you read the [design doc section on this](https://docs.google.com/document/d/1jqUg4blDUFu6BCyHQVgzlz9smxK0UGrzsOpPojo2EJM/edit?ts=609c08e3#heading=h.rq7ydzj8v084)? I'd recommend reviewing it as it should provide clarity.

The "events" referred to here are specific "survey events" that are sent via a dedicated [endpoint](https://docs.google.com/document/d/1jqUg4blDUFu6BCyHQVgzlz9smxK

[2021-05-25 15:16] felixarntz opened #3409 "Validate Composer configuration"
Our `composer.json` should be validated in CI.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Site Kit's Composer file should be checked for validity in CI, as part of the `.github/workflows/php-lint.yml` workflow.

## Implementation Brief

* Iterate on and merge #1729.

### Test Coverage

* N/A

###

[2021-05-25 15:19] felixarntz commented on #3409
@eclarke1 @felixarntz FYI this is a tracking issue for a PR by a 3P contributor that I'll review.

[2021-05-25 15:22] marrrmarrr commented on #3319
I think the appearance of these will change significantly in the current zero state rework, so they might not take this much space. Let's discuss with the UX team what is currently planned.

[2021-05-25 15:25] wpdarren commented on #3286
### QA Update: Clarify with Engineer ⚠️

@eugene-manuilov this could be user error :D but I have followed the steps in the QAB, created a new account, and a UA and GA4 property as you can see from the screenshot below.

![image](https://user-images.githubusercontent.com/73545194/119523869-081eed80-bd75-11eb-978f-e31bcef33998.png)

When I connect Analytics, the account is selected and the UA proper

[2021-05-25 15:29] eugene-manuilov commented on #3286
@wpdarren i forgot to mention that you need to enable `ga4setup` feature flag. Did you do it?

[2021-05-25 15:37] aaemnnosttv commented on #3355
IB ✅

[2021-05-25 15:44] wpdarren commented on #3286
@eugene-manuilov ahhhh no, and I completely forgot about the feature flag, thank you!

[2021-05-25 15:51] aaemnnosttv commented on #3375
Thanks @asvinb – super close, just a few final details.

`CurrentSurvey` is a child of the `Root` so the `Portal` should be rendered inside `CurrentSurvey` instead.

Minor detail, but how about we apply the same class naming for `Portal` as we do for widgets and widget areas?

E.g. https://github.com/google/site-kit-wp/blob/4b211be1ef2c6b805cc3429f5b099c44abe01739/assets/js/googlesitekit/widgets/c

[2021-05-25 16:01] felixarntz commented on #3297
@tofumatt I'm sure you meant "IB" above? Sorry just wanted to ensure :)

[2021-05-25 16:12] wpdarren commented on #3286
### QA Update: Pass ✅

**Verified:**

Running the snippet in the browser console, returns an ID of my new GA4 property:

![image](https://user-images.githubusercontent.com/73545194/119530676-24be2400-bd7b-11eb-8052-0cbd6a8209aa.png)

![image](https://user-images.githubusercontent.com/73545194/119532000-64d1d680-bd7c-11eb-89ad-04aac8602db1.png)

[2021-05-25 16:34] felixarntz commented on #3289
I have significantly updated the ACs here to no longer enforce anything, other than preventing duplicate tags when the same property like an existing tag is selected. This follows our new approach that we'll in the future implement for old Analytics and Tag Manager modules as well - only guidance with notifications, no complex account lookup which is really not supported by the APIs anyway.

[2021-05-25 16:51] danielgent commented on #3287
This ticket requires `SetupFormGA4Transitional`, which has been done in `Implement Analytics setup form UI for accounts that have both UA properties and GA4 properties #3250`, and that ticket is in Code Review.

This looks like it should be included on the ticket as _"This issue is blocked by..."_

[2021-05-25 17:29] ivankruchkoff opened #3412 "Additional Storybook stories for Analytics-4"
## Feature Description

In https://github.com/google/site-kit-wp/issues/3254 we extended settings components to factor in GA4,

`assets/js/modules/analytics/components/settings/SettingsView.js` url `/wp-admin/admin.php?page=googlesitekit-settings#settings/analytics/view`
`assets/js/modules/analytics/components/settings/SettingsForm.js` url `/wp-admin/admin.php?page=googlesitekit-settings#settings/

[2021-05-25 17:33] ivankruchkoff commented on #3254
Created in https://github.com/google/site-kit-wp/issues/3412

[2021-05-25 17:39] danielgent commented on #2504
Typo CI will be shut down soon https://mikerogers.io/2021/05/23/saying-goodbye-to-typo-ci

[2021-05-25 17:50] felixarntz commented on #3288
@eugene-manuilov I've reduced the scope of this issue here to only implement the regular existing tag detection but not the existing tag permission parts. Also see related #3289 where tag permission is no longer a concern with the updated ACs.

I'll confirm this tomorrow with @marrrmarrr - we can work based on the updated scope for now.

[2021-05-25 17:50] felixarntz commented on #3288
@eugene-manuilov Also I'm suggesting to downsize this to either a 7 or a 3 after the reduction in scope - what do you think?

[2021-05-25 17:56] danielgent commented on #3033
All tests now passing for v15 upgrade

[2021-05-25 17:57] felixarntz commented on #3297
I'm going to temporarily move this back to ACs. After revisiting this issue in regards to our newly defined approach for existing tag permission, we may be able to close this. I'll confirm tomorrow with @marrrmarrr.

cc @eclarke1 @fhollis If we close this, let's reassess capacity and whether there's anything else worth including in the sprint.

[2021-05-25 17:59] felixarntz commented on #3287
Good question @danielgent. However, this issue may actually no longer be relevant (see below), so I'm not going to address it just yet.

I'm going to temporarily move this back to ACs. After revisiting this issue in regards to our newly defined approach for existing tag permission, we may be able to close this. I'll confirm tomorrow with @marrrmarrr.

cc @eclarke1 @fhollis If we close this, let's

[2021-05-25 18:05] danielgent commented on #3033
My only concern when doing the upgrade is the changes I've done to `TourTooltips.test.js`
https://github.com/google/site-kit-wp/pull/3371/files#diff-8b747863082adee538fb764205766199d7314adce64dd4f13dabffc56eca0cd5

Due to changes in our packages
* many DOM elements are hidden so I had to override this when interacting
`await getByRole( 'alertdialog', { hidden: true } );`

* the `getByRole` selecto

[2021-05-25 18:19] eugene-manuilov commented on #3288
Yes, makes sense to me. I am going to reduce it to 7 since 3 is a little bit too low.

[2021-05-25 18:38] danielgent commented on #1238
I've just noticed that the Admin settings panel has the same text on it.  I'll update that as part of this ticket :+1:

![same text](https://user-images.githubusercontent.com/8496063/119550805-23035900-bd99-11eb-817a-c733615de330.png)

[2021-05-25 23:45] KinG-InFeT opened #3415 "Broken link"
## Bug Description

Link broken on description text (code coverage link)

## Steps to reproduce

1. Go to page speed dashboard
2. Click on open collapse 'remove unused javascript"
3. Click on code coverage link and out 404 page

## Screenshots

![Screenshot_20210526-014102_Chrome](https://user-images.githubusercontent.com/193969/119581885-c6696380-bdc3-11eb-9fa6-ecc41801edb2.png)

## Additional Co

[2021-05-26 00:33] tofumatt commented on #3374
Sounds good, I've updated the IB to be more explicit/specific about the methods to use for requests, etc. I omitted things like params and what to send to the proxy as they're already outlined thoroughly in the linked Google Doc, and didn't want to copy/paste them here since they're already available there.

One point is that the most obvious way to me to make HTTP requests to the Proxy in this ca

[2021-05-26 08:25] aaemnnosttv commented on #3380
Sorry for the confusion @tofumatt – I've added #3355 as a dependency here (I thought it was already but must have been missed). The event sending is mentioned in the ACs but it's maybe out of place after all of the events are listed:

---

The directory here is intended to contain all the `Survey` components. While `Survey` will be composed of _most_ of the other components in this directory, ther

[2021-05-26 08:33] aaemnnosttv commented on #2796
@felixarntz I think we just need to update the activation actions to not change the activated state in the state since it requires a page reload to take effect anyways. This is very similar to what we did with the `reset` action.

[2021-05-26 08:44] aaemnnosttv commented on #3379
Looks good @asvinb ! The only thing I'm not 💯 sure about is the "Unhappy" and "Delighted" text. I believe this should come from the 1st and 5th answer objects (from their [`text` property](https://docs.google.com/document/d/1jqUg4blDUFu6BCyHQVgzlz9smxK0UGrzsOpPojo2EJM/edit?pli=1#heading=h.2ksz9wryvy2j)) rather than hard-coding a translatable string (as we would normally). This part isn't defined e

[2021-05-26 08:54] asvinb commented on #3375
@aaemnnosttv I may have incorrectly phrased it in the IB but that's what I meant when I said:

I've changed the wording, let me know if that works now :)
+1 for the suggested class name. IB updated.

[2021-05-26 09:11] aaemnnosttv commented on #3251
@danielgent `type` is still relevant for controlling the background and text colors. Given that `Icon` is an optional prop, `type` should probably also determine the default `Icon` used.

We probably need to document this but WP has its own types on top of React's so if you're not familiar:

- [`WPElement`](https://github.com/WordPress/gutenberg/blob/62280f930fa95ba40f9d121b93e22a3e8f8884d2/packag

[2021-05-26 09:51] aaemnnosttv commented on #3374
@eugene-manuilov – yes, correct. I've updated it in the ACs, thanks for checking!

[2021-05-26 10:01] aaemnnosttv commented on #3375
Thanks @asvinb!

IB ✅

[2021-05-26 10:12] jamesozzie commented on #3415
Thanks for reaching out. This particular link while output in the PageSpeed Insights Site Kit dashboard comes from the associated API and is therefore not something we can address on the plugin site. We have however opened a GitHub issue on the Lighthouse repository. Once address this will be corrected within the Site Kit plugin.

Feel free to subscribe to the below for updates:
https://github.com

[2021-05-26 10:12] #3415 closed

[2021-05-26 11:03] asvinb commented on #3269
Response:
![image](https://user-images.githubusercontent.com/31818/119649108-4e3a8680-be33-11eb-844d-e52f270394ba.png)

Meta all set:
![image](https://user-images.githubusercontent.com/31818/119649269-7f1abb80-be33-11eb-8cf4-02a1dd32d7ce.png)

### QA: ✅

[2021-05-26 11:05] tofumatt commented on #3380
Thanks for the feedback and clarification! I think I've addressed everything, though there's one UX question I have. There seem to be two ways to cause a survey not to be shown again: dismissing the survey (`survey_dismissed` event) and clicking the follow-up link (`follow_up_link_clicked` event).

Maybe I missed it in the doc, but what happens if I complete a survey, but don't dismiss/CTA link it

[2021-05-26 11:28] johnPhillips commented on #3246
QA ✅

Double checked the code and verified that the story works as described in the QAB.

[2021-05-26 11:34] eugene-manuilov commented on #3374
@aaemnnosttv @tofumatt this has been made intentionally. The Google_Proxy class implements [facade pattern](https://en.wikipedia.org/wiki/Facade_pattern) which provides an interface via its public methods to interact with the proxy server endpoints. The `request` method is an internal helper that encapsulates the common logic required to send a request to the proxy server and not intended for publ

[2021-05-26 11:48] johnPhillips opened #3417 "Refactor module slug references with constants"
## Feature Description

Following on from a [comment on a recent pull request](https://github.com/google/site-kit-wp/pull/3362/files/091da245782ec4b374108ecbf4d68aa530da291a#r638634497), it might be a good idea to establish module slugs as module-level constants rather than typing the string whenever required.

[code]

---------------

_Do not alter or remove anything below. The following sections

[2021-05-26 13:15] jamesozzie opened #3418 "dateRangeLength must be a positive integer dashboard error"
## Bug Description

There have been recent reports of the below error message, with one user stating this occurs when clicking on the Search console tab.

[code]

- https://wordpress.org/support/topic/site-kit-encountered-an-error-36/ | Open | [SH info provided](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit?urlBuilderDomain=google.com#response=ACYDBNgzDi1jqZ-t1H

[2021-05-26 13:24] wpdarren commented on #3271
@ivankruchkoff when I run `wp option patch insert googlesitekit_active_modules 3 idea-hub` in terminal, an error message appears `Error: Cannot create key "3" on data type boolean` When I started the QA on this yesterday, the command worked fine. I refreshed the develop branch today. Can you think of any reason why this might not work now?

Steps. Connected to SSH on terminal, pointed to the folde

[2021-05-26 13:31] felixarntz commented on #3379
@asvinb @aaemnnosttv Indeed the labels should come from the API response. As a matter of fact, each of the five options has a human-readable label, and all of these should be considered:
* The ones for the 1 and 5 rating should show on the left and right below the rating icons.
* All from 1 to 5 should show on hover above the faces, or at a minimum be the text used for assistive technologies to wh

[2021-05-26 13:44] wpdarren commented on #3356
### QA Update: Pass ✅

**Verified:**

Within Storybook I went through all of the screens on the `DashboardIdeasWidget` and everything rendered.

@danielgent the only observation I have is on `Data Unavailable: All` there is a full stop/period on the description. `This could take 24 hours.` Unsure if you want me to highlight this in another ticket. All of the other descriptions are fine.

![image](

[2021-05-26 13:51] asvinb commented on #3358
@johnPhillips I had a look and this is how the notice looks for me:
![image](https://user-images.githubusercontent.com/31818/119671101-88635280-be4a-11eb-977e-f2043c552603.png)
Basically everything is stacked within the notice. It kinda makes sense because in the designs, the width is `590px` whereas when I tested the widget width is `447px`. I do think however that even at `447px`, the content sh

[2021-05-26 13:57] asvinb commented on #3409
Un assigning myself from QA since I'am having a very slow internet due to some works to a cable in the region and I was setting up `act` https://github.com/nektos/act to test the actions locally.

[2021-05-26 14:05] johnPhillips commented on #3358
@asvinb @Pratheep-lab CC @felixarntz
Yes, this was my best guess as to how it might work on a narrower viewport when the content can't simply be inline like the design. I just let it wrap as the container got narrower so that each part (logo, text, 'view') stacked one after the other.

Asvin's suggestion is a good one and occurred to me but I wondered whether keeping the columns like that would st

[2021-05-26 14:08] johnPhillips commented on #3252
Un-assigning myself as I'm not sure my PHP is currently up to the task!

[2021-05-26 14:41] aaemnnosttv commented on #3374
Thanks @eugene-manuilov !

The IB looks great for the added controller. I would like to see us potentially restructure the `Google_Proxy` class in the future so that we don't need to add new methods every time we add an endpoint but it's good for now.

IB ✅

[2021-05-26 14:42] wpdarren commented on #3276
### QA Update: Pass ✅

- Every tab lists ideas using its respective selector (getNewIdeas, getSavedIdeas, getDraftPostIdeas).

Every idea entry has the following controls available that are visible at all times:
- A button to create a new draft post, if there is no draft post for it yet (i.e. in "New" or "Saved" tab).
- A button to view the draft post, if there is one already (i.e. in "Drafts" tab

[2021-05-26 15:17] #3287 closed

[2021-05-26 15:17] #3297 closed

[2021-05-26 15:33] wpdarren commented on #3229
### QA Update: Pass ✅

**Verified:**

Within storybook and a jurassic.ninja test site the following was verified: for userinput

- No more than 100 characters could be entered into an "Other" input field.
- I tried to type in more than 100 characters and it would not allowed me. I also copied and pasted a paragraph of text over 100 characters and it cut it off at the limit.

- For tags, no more th

[2021-05-26 15:34] ivankruchkoff commented on #3271
Can you start with a fresh install, enable a few modules and then try it again?

[2021-05-26 15:38] asvinb commented on #3379
Sounds good. IB updated @felixarntz , although I'am not clear for the hover state of each face. I don't see any designs for it. Any idea?

[2021-05-26 15:46] wpdarren opened #3419 "User Input Styling issue When Using Safari Browser"
## Bug Description

There is a styling issue when navigating `User Input` feature on Safari browser.

The font colour of the active `next` button is blue, rather than white.

![image](https://user-images.githubusercontent.com/73545194/119690238-6913f780-be41-11eb-9c2b-806e319548cb.png)

When you use the `back` button though, the font colour on the `next` button changes to white.

---------------

[2021-05-26 15:58] wpdarren opened #3420 "User Input feature UX issue on iOS devices"
## Bug Description

When answering question 5 on the `User Input` feature on iOS devices (i.e. iPhone 12 both Chrome and Safari), when you start typing in the tag, the bubble does not increase as you type. This means you do not see the tag as you are typing it.

Here's a screencast to see this issue in action.

https://user-images.githubusercontent.com/73545194/119692229-26ebb580-be43-11eb-98fc-d0

[2021-05-26 16:07] danielgent commented on #2940
QA: ✅

All looks fine :smile:

[2021-05-26 16:08] jamesozzie commented on #2350
Closing this as reproducible only with particular configurations with WP Rocket. Compatibility testing with multiple optimization plugins TBC and tracked internally.

[2021-05-26 17:09] Pratheep-lab commented on #3358
@asvinb Good catch! The CTA of that notice should always be on the right side. The above-proposed solution to stack just the copy in the middle is good.
Another issue here is that the copy and the CTA look almost the same and that is not a good practice. Hence, I have changed the copy to regular font and made CTA uppercase medium font. Use this style unless you want the whole notice to be clickabl

[2021-05-26 17:15] obiwankanobewannabe commented on #316
In my case this was caused by an  IThemes Security issue: It was fixed by unchecking the "Filter Long URL Strings" in System Tweaks in iThemes Security settings (and saving of course).
According to IThemes, the purpose of this is "Limits the number of characters that can be sent in the URL. Hackers often take advantage of long URLs to try to inject information into your database."
This was all dis

[2021-05-26 17:40] jamesozzie commented on #316
@quangbahoa Thanks for sharing. We've had internal discussions on this and using the the various Google Services API's at present it's normal for the full strings to have varying lengths depending on the parameters. While other methods we've investigated are not as suitable if you want to open a feature request the team can review once more.

[2021-05-26 18:24] aaemnnosttv commented on #3380
Surveys aren't persisted in the cache so it wouldn't be shown again until it was triggered again. For this one, it's triggered by viewing the main dashboard but it has the cooldown period of 1 hour between showing which would be the soonest one would see it again if not completed/dismissed (assuming the proxy returned it again when triggered).

Not 100% sure about this, but I believe we can assume

[2021-05-26 18:50] felixarntz commented on #3380
@aaemnnosttv @tofumatt

We should not assume there will always be a CTA link in a confirmation prompt, so the displaying needs to be conditional.

Great question though about when to close the survey exactly. I suggest to do the following:
1. If there is a CTA and the user clicks it, the survey should be closed. In other words, first send the `follow_up_link_clicked` event, then the `survey_closed

[2021-05-26 18:59] felixarntz commented on #3379
@asvinb Good catch, I thought that had been captured in the Figma file somewhere, but it doesn't look like it.

The hover effect should surface a tooltip with the text as some sort of tooltip, with similar appearance how it is e.g. in Google Drive:
<img width="221" alt="Screen Shot 2021-05-26 at 1 55 59 PM" src="https://user-images.githubusercontent.com/3531426/119716300-d6139700-be19-11eb-9a4b-5d

[2021-05-26 19:51] marrrmarrr commented on #3289
Slightly edited the notifications for the different options.

[2021-05-26 20:41] tofumatt commented on #2217
@ivankruchkoff Is it anymore of a pain to send this data via an HTTP header instead of a query param? If it's more work to do so with Guzzle (I don't know the API well) then we don't have to bother as the IB looks fine, but if it's possible to use the HTTP Header instead of the query param I think it'd be nicer. I guess to me, the query params are more related to the specific request endpoint, but

[2021-05-27 06:25] JPaulMora commented on #852
Great to know this has climbed the priority ladder. +1 from my side. Does anyone have a worthwhile workaround in the mean time?

[2021-05-27 07:36] eclarke1 opened #3422 "Existing Tag Detection"

[2021-05-27 07:49] aaemnnosttv commented on #3379
@felixarntz I think it could be okay to include the component here if it didn't require substantial additional effort. Maybe for now it could be local to `surveys/` and we can extract it to something more generic, add stories etc in a follow-up issue.  I agree we should keep the scope the same here though so I don't think the ACs need to change that much, but I'll amend them to clarify the source

[2021-05-27 08:13] aaemnnosttv commented on #3379
@asvinb I've updated the ACs to reflect the clarifications from @felixarntz.

Note that the full hover state+tooltip is not required, but is more of a nice to have for now. If it's not going to complicate things we can include it, but otherwise best to leave for a future enhancement. For now, I think we can follow what we already have in the plugin header (e.g. [help menu icon](https://google.gith

[2021-05-27 08:55] asvinb commented on #3379
@aaemnnosttv IB updated. Can you review? One notable thing I added is using the `Button` component to display the icons and then use the `aria-label` prop to pass the `text` property of each choice.

[2021-05-27 09:07] asvinb commented on #3301
Checked the Modules for the fields to be removed: ✅

### QA: ✅

[2021-05-27 11:34] tofumatt commented on #3380
Thanks a lot @felixarntz, that totally makes sense! 👍🏻

@aaemnnosttv There's just one thing I'm not clear on, which is how we know the survey is completed. Do we base it on the number of questions from the survey matching the question index? I guess that makes sense, but just confirming that's the approach.

[2021-05-27 12:01] danielgent commented on #3409
Tested -> the commits can be seen on this PR here https://github.com/google/site-kit-wp/pull/3424/commits

Tried
* break composer.json with bad characters
* update composer.json without lockfile
* break lockfile with bad characters

**QA** :heavy_check_mark:

[2021-05-27 13:23] aaemnnosttv commented on #3379
IB ✅

[2021-05-27 13:32] johnPhillips commented on #3175
QA ✅
New job seems to be running well

[2021-05-27 14:14] jamesozzie opened #3427 "Sign in loop - reverting to setup screen"
[One user in the support forums](https://wordpress.org/support/topic/sign-in-loop/) is unable to proceed with Site Kit setup, with the plugin redirecting back to the initial setup screen on the proxy after signing in. This is after moving the site from a staging environment to a live site although all the records on the Site Kit service look fine.

## Additional Context

 - Occurring for previous

[2021-05-27 14:49] aaemnnosttv commented on #3380
That's one way to do it I suppose since the ordinals are 1-based indexes. It could be as simple as the number of answers provided matching `questions.length` but maybe using ordinals would be better? Either way would work I think.

---

Almost there @tofumatt !

I should have mentioned this before, but since this component is intended to be for _a survey_ rather than the current survey specificall

[2021-05-27 15:01] eugene-manuilov commented on #3243
@wpdarren I found one issue with the profile select dropdown. I'll create a follow-up PR to fix it.

[2021-05-27 15:26] jamesozzie commented on #3299
Closing this as this is no longer occurring for the impacted user, with no other reports from other users.

[2021-05-27 15:26] #3299 closed

[2021-05-27 15:46] aaemnnosttv commented on #3375
@asvinb quick note: one thing that I remembered is that we'll need to make sure that our element added to the `document.body` needs to also have a `googlesitekit-plugin` class since all of our styles are scoped by it.

[2021-05-27 15:48] aaemnnosttv commented on #3381
IB ✅

[2021-05-27 15:57] tofumatt commented on #3380
Feel free to assign this issue to me if it's approved 👍🏻

[2021-05-27 16:41] aaemnnosttv commented on #3380
@tofumatt looks great, just one thing – let's rename the `sessionID` prop to `id`. It can still receive the `session.session_id` for this from the parent, but as far as the component is concerned, it's just a unique identifier (it doesn't actually care about the session). Later, if needed we can pass the actual survey ID through the same prop if we decide that is better but it wouldn't require any

[2021-05-27 16:45] tofumatt commented on #3380
I thought about that, but was worried it might get confusing because there's a `surveyID` and a `sessionID`. But fair enough, I'll make it more generic 🙂

[2021-05-27 16:48] aaemnnosttv commented on #3380
IB ✅ 🎉 😂

[2021-05-27 16:53] danielgent commented on #3406
@felixarntz  _"The usages of showErrorNotification that handle errors after a failed module activation (which is basically almost all usages of that function in total)"_

The only one that I see that isn't for a failed module activation is in `assets/js/components/legacy-notifications/data-error.js`

[code]

What do we do with this? Just delete it? :thinking:

[2021-05-27 17:49] tofumatt opened #3429 "WordPress Nightly E2E Tests fail because of AMP tests failing"
## Bug Description

WordPress Nightly is failing our E2E tests (specifically AMP tests—the `toHaveValidAMPForUser()` matcher). See https://github.com/google/site-kit-wp/pull/3416/checks?check_run_id=2674983821 for an example.

It looks like this change https://github.com/WordPress/wordpress-develop/blob/ea49625d59f41e17312d4c08503cd2dd567f4bda/src/wp-includes/theme-templates.php#L69-L163 (hat tip

[2021-05-27 19:09] abdullah1908 commented on #2400
Tried different tricks by installing different optimization plugin to escalate the issue. Unbale to reproduce this issue in anyway.
cc: @jamesozzie

[2021-05-27 23:28] tofumatt commented on #3429
(Feel free to do the Code Review on this one if the IB looks good, as the PR is all set for review and is passing the tests now 😄)

[2021-05-28 07:53] aaemnnosttv commented on #3429
Thanks @tofumatt ! I agree this should be raised with the AMP plugin too (I don't see an issue there for it yet) but a 1 line plugin is much better than ignoring failing tests for things that are not in our control.

IB ✅

[2021-05-28 08:00] aaemnnosttv opened #3432 "Extend issue templates with config"
## Feature Description

Currently we have a few issue templates for creating a new issue for a bug or feature request, but GitHub also supports adding additional links via a [configuration file](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository).

E.g. https://github.com/ampproject/amp-wp/issues/new/c

[2021-05-28 08:05] aaemnnosttv opened #3433 "Add support and security policies"
## Feature Description

* https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository ([example](https://github.com/ampproject/amp-wp/blob/3bb15f3d660c4401b958147430664d07eb1e03e2/SECURITY.md))
* https://docs.github.com/en/github/building-a-strong-community/adding-support-resources-to-your-project ([example](https://github.com/ampproject/amp-wp/blob/3bb15f3

[2021-05-28 08:44] eclarke1 commented on #3379
Increasing estimate from 11 to 15 to account for additional QA time required for UI changes.

[2021-05-28 11:09] aaemnnosttv commented on #3289
@eugene-manuilov - the IB is off to a good start but there are a few things to address.

You mention updating the setup form components but we should probably introduce specific existing tag notice components like are currently used elsewhere so that the logic for which message etc is encapsulated within it.

The other thing which I think is important to mention is around the behavior of the `useS

[2021-05-28 11:19] jamesozzie commented on #3278
This seems Safari specific, similar to #3255, as confirmed by 2/6 impacted users heighted in the issue description. Awaiting response from impacted users, follow up responses sent and testing to be performed today.

From checking the Intersection Observer API Safari doesn't provide full support yet, with many reporting similar issues in [Stackoverflow](https://stackoverflow.com/questions/60432805/

[2021-05-28 11:28] jamesozzie commented on #3255
@bethanylang I'm doing testing on this today to try and reproduce. I've sent out responses to users in #3278 which is also Safari related, possibly connected. I'll include any additional observations here.

I've also added the OS and browser version where obtained to the original issue details.

[2021-05-28 11:29] danielgent commented on #3225
On `main` I see the widgets not collapsed
![main-not-collapsed](https://user-images.githubusercontent.com/8496063/119977327-92a35f00-bfb8-11eb-9f1c-fb6ceb60b922.png)

On `develop` they do collapse :heavy_check_mark:    That part looks good
![develop-is-collapsed](https://user-images.githubusercontent.com/8496063/119977337-96cf7c80-bfb8-11eb-8936-23da0227c313.png)

*BUT* there is a flash as the wid

[2021-05-28 13:07] eugene-manuilov commented on #3289
IMO this is overkill, we can reuse the existing `ExistingTagNotice` component for it. Update the IB to mention it.

I have added instructions to use a `useEffect` hook for `useSnippet` modifications.

[2021-05-28 13:18] wpdarren commented on #3271
@cole10up would you be able to look at this one?  I have followed the instructions in the QAB. I can connect Idea Hub,, but when I try and add the settings in terminal, nothing happens. When I run the get command, the settings are not updated. Have spent quite a lot of time on this ticket, so think it needs another pair of eyes.

[2021-05-28 14:01] jamesozzie commented on #3255
Unable to reproduce this testing from Big Sur Mac (11.3.1), Safari 14.1, English & Italian languages defined within Site Kit.

Based on [one users insight](https://wordpress.org/support/topic/fatal-error-3876/)s on another safari specific issue (#3278) I also enabled all "Experimental Features" within Safari, without being able to recreate this or the error from that issue.

[2021-05-28 14:12] wpdarren commented on #3243
### QA Update:

Tested this on [Storyboard here](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module--account-property-profile-select)

**Verified:**

- The Analytics (UA) PropertySelect component and the Analytics 4 (GA4) PropertySelect component is null by default.  -- [Screenshot](https://user-images.githubusercontent.com/73545194/119996794-fc2a6a00-bfc6-11eb-89

[2021-05-28 14:43] aaemnnosttv commented on #3289
It might still be worth extracting a custom hook for this to aid in testing which I think is important for this mechanic, but if it's just as easy to do it with the form itself, that's fine.

Otherwise the IB looks good, but please add test coverage for covering programmatic changes to `useSnippet` since this is rather important but also not something we can see/verify during setup.

[2021-05-28 15:03] aaemnnosttv commented on #3289
IB ✅

[2021-05-28 15:11] wpdarren commented on #3248
### QA Update: Pass ✅

**Verified:**

- The SET_PROPERTY_ID action is dispatched upon page load, with `property_create` as value.
- After selecting a property, a blue notice as per the designs appears before the "Configure Analytics" button.

![image](https://user-images.githubusercontent.com/73545194/120005092-66dfa380-bfcf-11eb-9683-c16a56f10473.png)

[2021-05-28 17:24] danielgent commented on #1997
I've spent a few hours trying to debug failing e2e tests (there are lots with the same error message)

Many fail and most have similar messages.  I've isolated the problem down to a one-line change that can be seen here: https://github.com/google/site-kit-wp/pull/3439/files

I can't replicate it in the browser

[2021-05-28 17:34] danielgent commented on #3289
This ticket should be marked as blocked by #3249 and #3250 for the `SetupFormGA4` and `SetupFormGA4Transitional` respectively (currently on develop these are just placeholders)

Currently @tofumatt  and @aaemnnosttv are code reviewing these tickets

[2021-05-28 21:21] Mrahmani71 opened #3441 "Add RTL Support"
## Feature Description

Please modify the CSS code for RTL sites.
I think these codes should be added or modified
`
.googlesitekit-page {
    margin-right: -20px;
}

.googlesitekit-page {
    margin-right: -10px;
}

.googlesitekit-header .googlesitekit-date-range-selector svg {
    margin-left: 8px;
}

.googlesitekit-plugin .googlesitekit-widget--analyticsAllTraffic__dot {
    margin: 0 0 0 4px;
}

[2021-05-28 21:26] tofumatt commented on #3355
Taking over the code review here in the interest of time since Evan won't be around Monday 🙂

[2021-05-31 10:08] Sidlegionair commented on #1523
@aaemnnosttv I'm willing to give more information to get this fixed, what would you need? As long as this issue isn't fixed (or a workaround has not yet been found) I cannot reliably deploy the plugin to all of my customers websites.

[2021-05-31 10:33] jamesozzie commented on #3441
Many thanks for the suggestion and for providing the styling. As we already have an open [RTL issue ](https://github.com/google/site-kit-wp/issues/1156) I'll close this as a duplicate. We can however review your suggestions when working on that initial issue.

Feel free to subscribe to that issue for further updates on this.

[2021-05-31 10:33] #3441 closed

[2021-05-31 11:00] jamesozzie commented on #3418
More reports of this from other users in an [existing support topic](https://wordpress.org/support/topic/my-site-kit-has-occured-an-error/#post-14497968). One of the users reported that since reporting the issue no longer occurs.

[2021-05-31 11:30] jamesozzie commented on #3255
Some excellent insights provided by [one impacted user](https://wordpress.org/support/topic/failed-to-initialize-numberformat/#post-14502656):
- The same issue occurs on this users other Mac devices, desktop and laptop (both MacOS Mojave v10.14.6 with Safari v14.1 (14611.1.21.161.7))
- Doesn't occur on Safari for iOS
- Occurs with only the Search Console module active
- Reset all Safari "Experimen

[2021-05-31 13:26] Mrahmani71 commented on #1156
if it is possible to modify these codes for RTL formatting please.

`
.googlesitekit-page {
margin-right: -20px;
}

.googlesitekit-page {
margin-right: -10px;
}

.googlesitekit-header .googlesitekit-date-range-selector svg {
margin-left: 8px;
}

.googlesitekit-plugin .googlesitekit-widget--analyticsAllTraffic__dot {
margin: 0 0 0 4px;
}

.googlesitekit-table .googlesitekit-table__head-item:first-c

[2021-05-31 14:02] Mrahmani71 commented on #1156
The location of this button must also be changed and rotated
![456](https://user-images.githubusercontent.com/13013819/120204823-883bcc00-c229-11eb-8215-75ad29b9f476.png)

[2021-05-31 14:47] abdullah1908 commented on #2350
Another [error](https://wordpress.org/support/topic/an-error-occurred-while-running-mapselect-2/) reported & @jamesozzie research on WP Rocket was useful.
Kudos to @jamesozzie 🎉

[2021-05-31 15:38] abdullah1908 opened #3442 "User-ID tracking in Analytics Stats"
## Feature Description

A user asked for User-ID tracking in Analytics as Site Kit is not supporting this currently. So submitting the request on the behalf of the user.
Topic: https://wordpress.org/support/topic/user-id-tracking-code/

I can ask for more information in case if there is something required for this feature.

_Do not alter or remove anything below. The following sections will be man

[2021-05-31 17:14] tofumatt commented on #3379
Just noticed @aaemnnosttv was the original reviewer here; in the interest of working on #3380 I'm going to assign this one to him again for now. 😅

[2021-05-31 20:04] eugene-manuilov commented on #3283
@felixarntz @marrrmarrr I think we can implement two use cases:

1. When a user wants to see how their site is doing since their last visit:
    * When a user goes to the dashboard page and we display our charts, we save the current timestamp into the local storage item.
    * Then when a user opens the dashboard again, we read the saved timestamp from the local storage and display the vertical ba

[2021-06-01 07:58] aaemnnosttv commented on #3225
@danielgent I'm not sure if that is a blocking factor here and might need to be handed as a future enhancement, although if simple to fix, would be great to do now.

[2021-06-01 08:43] johnPhillips commented on #3225
@danielgent @aaemnnosttv
Apologies for overlooking this when I wrote the IB and implementation 🙈

So I'm seeing a couple of scenarios.

**Scenario A**
On a clean cache (i.e. after changing the settings, which I am guessing would prompt fresh requests) I see:
  1. the three widgets all in a loading state,
  2. when they are calculated to be in the special state (Zero Report in my case), the three w

[2021-06-01 09:26] aaemnnosttv commented on #3355
## QA ❌

Looks good overall, but a few things are missing:

* `triggerSurvey` does not send a request when `ttl` is `0`, but it should (it just doesn't set a "cooldown" cache value
* The cache key used for `triggerSurvey` references the `survey-event` datapoint instead of `survey-trigger`

I'll create a quick follow-up to fix.

[2021-06-01 09:29] Hazlitte commented on #1194
Many thanks @aaemnnosttv, I have updated the IB accordingly.

[2021-06-01 09:41] asvinb commented on #3375
👍

[2021-06-01 10:32] Hazlitte commented on #3138
@aaemnnosttv Removing the render of `TableOverflowContainer` from `LegacyAnalyticsDashboardWidgetTopAcquisitionSources` works well.  I have updated the IB accordingly.

[2021-06-01 10:54] johnPhillips commented on #3225
@danielgent I have looked into the above and discussed with @aaemnnosttv and we were not sure we could see a straightforward way to improve it.

Stepping back, it's a trade-off between:
- do we eagerly load widgets as soon as we have data (or otherwise), and incur a flash as described
- do we have a `Promise.all` -type approach where we keep all the widgets in a loading state until we know exactly

[2021-06-01 11:13] aaemnnosttv commented on #3249
@eugene-manuilov would you please add a QA brief?

[2021-06-01 11:19] eugene-manuilov commented on #3249
Added.

[2021-06-01 12:10] aaemnnosttv commented on #1523
@Sidlegionair we have yet to identify any incompatibility with Bedrock specifically or be able to reproduce the reported problem.

[As you mentioned previously](https://github.com/google/site-kit-wp/issues/1523#issuecomment-625350898), the plugin works fine for you in some environments with Bedrock and not in others, so it seems Bedrock is not the source of the conflict.

Please try again with the

[2021-06-01 12:11] aaemnnosttv commented on #3255
@jamesozzie have we tested on Mojave?

[2021-06-01 12:13] asvinb commented on #3275
### QA: ❌

Refer to annotated screenshots for issues:
Large Screens:
![image](https://user-images.githubusercontent.com/31818/120321274-2d22db80-c2f4-11eb-86bb-4beba4b084b9.png)

Small Screens:
![image](https://user-images.githubusercontent.com/31818/120321393-4e83c780-c2f4-11eb-97fd-97c1161dbad4.png)

[2021-06-01 12:16] aaemnnosttv commented on #3174
@asvinb – that's quite the list. Would it not be shorter to list only those which _should_ have their padding set to zero (i.e the exceptions requiring changes) rather than those that should keep the default padding? (i.e. no change)

Feel free to be a bit higher-level with the stories that should be changed. Maybe we can reference groups of stories instead since I think these changes probably app

[2021-06-01 12:18] aaemnnosttv commented on #3138
IB ✅

[2021-06-01 12:21] aaemnnosttv commented on #1194
IB ✅

[2021-06-01 12:28] eclarke1 opened #3445 ""Site Kit goals and features""
## Feature Description

- Should focus on high-level goals and features, i.e. guiding content creators based on metrics, streamlining setup of related Google services and insertion of tags, etc.
- Should explain that Site Kit contains multiple modules, basically different Google services, which can be individually enabled
- Should not focus on specific modules

---------------

_Do not alter or re

[2021-06-01 12:33] eclarke1 opened #3446 ""The modules of Site Kit""
## Feature Description

- Should briefly explain the purposes of the 4 flagship modules (everything but Optimize and Tag Manager), as well as Optimize and Tag Manager (should refer to [this user documentation article](https://sitekit.withgoogle.com/documentation/choose-tools/) for more information)
- Should focus on the engineering nuances, e.g. also cover the internal modules and why those are th

[2021-06-01 12:34] eclarke1 opened #3447 ""How Site Kit is integrated in WordPress""
## Feature Description

- Should highlight the different integration areas that Site Kit has with WordPress, i.e. dashboard, single URL view, specific module pages, admin bar menu, WP dashboard widget, etc.
- Should briefly explain each integration area, e.g. how to get there, under which conditions the admin bar menu appears etc.

---------------

_Do not alter or remove anything below. The follo

[2021-06-01 13:35] asvinb commented on #3174
@aaemnnosttv Actually we do have an even bigger list for stories which we should set the padding to 0, that's why I ended up having a list of components where we should keep the padding. 😅
Also the reason I listed the URLs is that it'll be easier for the engineer for implementation because he knows exactly what story and he can find out more easily which file is related, compared to if I list the

[2021-06-01 13:39] eclarke1 opened #3448 ""Site connection and user authentication""
## Feature Description

- Should explain the concept of “Site connection” and how it differs from “user authentication” (e.g. while the two processes are partly merged, only once does a site need to connect, while then every user needs to individually authenticate)
- Should also explain “site reset” (undoes site connection and everything else) vs “user disconnect” (undoes only the current user aut

[2021-06-01 13:40] eclarke1 opened #3449 ""The Site Kit authentication service""
## Feature Description

- Should explain the role of “Site Kit Service” (a.k.a. "The Proxy") which facilitates centralized OAuth in an otherwise decentralized system
- Should also explain other supplementary roles it plays (e.g. remote control of feature flags, remote triggering of notifications etc.)
- Should touch at a high-level on how it internally works to indicate e.g. what it has access to

[2021-06-01 13:41] eclarke1 opened #3450 ""Setting up a local development environment""
## Feature Description

- Should outline general requirements like Composer, NPM and Docker
- Should provide instructions how to clone repository, run commands for setup
- Should provide pointers for local development environment tool (e.g. MAMP, Local, etc.) while not requiring a specific one
- Should outline requirements for using the proxy with a local site, i.e. requirement of using the exact

[2021-06-01 13:41] eclarke1 opened #3451 ""Using the Site Kit tester plugin""
## Feature Description

- Should explain primary features of tester plugin, i.e. switching between different versions, controlling feature flags, mocking existing tags, mocking AdSense data, etc.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visu

[2021-06-01 13:42] eclarke1 opened #3452 ""Developing against the authentication service staging version""
## Feature Description

- Brief article to explain how to use the constant to work against the staging version of the proxy (embed code for once-off staging proxy plugin here)
- Explain that data storage between staging and production is entirely separate, so switching between the two each time requires a Site Kit reset

---------------

_Do not alter or remove anything below. The following sectio

[2021-06-01 13:43] eclarke1 opened #3453 ""Working against real data""
## Feature Description

- Explain how to get real data for the different modules/services
- For Search Console and Analytics, use real data from a live site, which should typically be available
- For AdSense, if you don’t have a site with real data, rely on the tester plugin’s mocking functionality

---------------

_Do not alter or remove anything below. The following sections will be managed by

[2021-06-01 13:43] eclarke1 opened #3454 ""Data flow in Site Kit""
## Feature Description

- Should explain relationship between Google APIs, Site Kit’s REST data points and data store (e.g. every Google API endpoint has a “proxy” REST data point)
- Should touch on the caching of API responses client-side

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementat

[2021-06-01 13:44] eclarke1 opened #3455 ""Database usage in Site Kit""
## Feature Description

- Should explain different ways Site Kit stores things in the WP database
-- Options
--User options (user meta)
-- Post meta (via Idea Hub)
- Should cover high-level best practices
-- Encrypt sensitive data (site credentials, tokens)
-- Do not store data from Google APIs (e.g. cached data from Analytics) → storing data from Site Kit Service is okay though

---------------

[2021-06-01 13:45] eclarke1 opened #3456 ""Site Kit core vs Site Kit modules""
## Feature Description

- Should explain that codebase for Site Kit modules is clearly separated from “core”, so the modules do not only exist on the user-facing side but also from the code perspective
- While modules are currently still coupled to Site Kit’s codebase, they should be implemented standalone as much as possible, so that eventually modules could even be added by another WordPress plu

[2021-06-01 13:46] eclarke1 opened #3457 ""Usage of feature flags""
## Feature Description

- Should explain how feature flags are used, either to develop larger features iteratively without using feature branches, or to have a limited rollout of a feature (in which case the feature flag is remotely controlled by Site Kit Service)
- Should also note that feature flags can easily be toggled for development using the tester plugin

---------------

_Do not alter or

[2021-06-01 13:46] eclarke1 opened #3458 ""JavaScript asset management""
## Feature Description

- Should explain the different JS “entry point” types (screen-specific, datastore-specific, core API-specific, module-specific)
- Should explain usage of Webpack and clarify that Site Kit bundles all its dependencies rather than relying on WP core one’s (due to compatibility issues between WP versions)
- Should explain naming scheme and management in PHP (e.g. touch on depe

[2021-06-01 13:48] eclarke1 opened #3459 ""Data store architecture""
## Feature Description

- Should explain googlesitekit-data usage requirement (central registry, similar to “wp.data”, including in production code it being available as “googlesitekit.data”)
- Should explain where data stores can be found in codebase (if core data store within “assets/js/googlesitekit”, if module data store within “assets/js/modules”)
- Should explain how data stores should be sp

[2021-06-01 13:49] eclarke1 opened #3460 ""React component requirements""
## Feature Description

- Should clarify requirements for our React components, i.e. hook-based, functional, use data stores and never global variables
- Should highlight other important best practices, e.g. requiring useCallback everywhere around callback functions rather than just assigning the function directly to a variable

---------------

_Do not alter or remove anything below. The followin

[2021-06-01 13:49] eclarke1 opened #3461 ""The different types of test coverage""
## Feature Description

- Should explain the different types of test methodologies that are used in Site Kit (WordPress unit/integration tests in PHP, Jest unit tests in JS, visual regression tests, e2e tests)
- Should also explain high-level Storybook usage, although only partly related to automated testing
- Should not focus on how to write any of them, e.g. best practices etc.

---------------

[2021-06-01 13:50] eclarke1 opened #3462 ""Registering and implementing modules""
## Feature Description

- Should explain at a high-level what implementing a module entails, starting at the foundation (module class in PHP) and also diving into how to implement a module JS asset and registering the module in JS (essentially required for every module that is user-facing)
- Should then point out common features of a module, e.g. how to manage module settings in PHP and JS, Site H

[2021-06-01 13:51] eclarke1 opened #3463 ""Registering and implementing widgets""
## Feature Description

- Should explain what implementing a widget entails, where widgets are typically registered, where they get their data from, requirements for implementing a widget’s component (e.g. usage of common components received via props)
- [A lot of this article can be taken from this existing document](https://docs.google.com/document/d/1-QFNCeTD3lgwNdfgWWXrisoSOFCl8Q3VxKWmB7k8QYw/

[2021-06-01 13:52] eclarke1 opened #3464 ""Writing Storybook stories""
## Feature Description

- Should explain how Site Kit uses Storybook for different components
- Should point out best practices for implementing (V6/CSF) Storybook stories ([a lot of that can be taken from here](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit))
- Should briefly touch on relationship with VRT and explain how to mark stories for inclusion in VRT

[2021-06-01 13:52] eclarke1 opened #3465 ""Writing PHPUnit tests""
## Feature Description

- Should show where to put test files (similar path as tested class, but within tests/phpunit directory)
- Should outline best practices for writing PHPUnit tests, also relationship to WordPress (many tests are actually integration tests)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crit

[2021-06-01 13:52] eclarke1 opened #3466 ""Writing Jest tests""
## Feature Description

- Should show where to put test files (next to the file tested)
- Should outline best practices for writing Jest tests
- Should explain usage of fetchMock and custom jest utils within the JS test suite
- Should outline that we use Jest tests as discrete unit tests and also integration tests (examples: `CurrentSurvey`)

---------------

_Do not alter or remove anything below

[2021-06-01 14:26] eugene-manuilov commented on #3033
@danielgent, please, add an estimate for this ticket.

[2021-06-01 14:54] jamesozzie commented on #3255
@aaemnnosttv I'm unable to reproduce using Mojave with Safari 12.12.  Mojave 10.14.6

[2021-06-01 15:08] aaemnnosttv commented on #3275
@johnPhillips looks like the main things missing here are:
- Component should be wrapped with `Widget` (provided via props)
    - This also solves the "Should have height 100% to match the height of the adjacent widget"
    - Also addresses missing shadow
    - For storybook, we probably need to use `withWidgetComponentProps` on the template's inner component
- Body layout in WP does not wrap the

[2021-06-01 15:22] aaemnnosttv commented on #3419
@wpdarren I'm not able to reproduce this (at least in [Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/user-input--userinputapp)). Does it only happen in WP?

[2021-06-01 15:29] aaemnnosttv commented on #3442
@abdullah1908 which steps is the user referring to? For any custom configuration of [`gtag` options](https://developers.google.com/gtagjs/devguide/configure), we do provide a `googlesitekit_gtag_opt` filter which the user can use to extend to implement any customizations that we do not provide an option in the plugin for although this does require some technical savviness. It's hard to say more th

[2021-06-01 15:39] bethanylang commented on #3265
@jamesozzie Any update on this one, or shall we close?

[2021-06-01 15:39] bethanylang commented on #2400
@jamesozzie With you and @abdullah1908  both unable to replicate, should this move to L2?

[2021-06-01 15:40] bethanylang commented on #3389
@jamesozzie Should this be assigned to you or @abdullah1908 for initial testing?

[2021-06-01 15:41] bethanylang commented on #2924
Closing as this will not require a Site Kit fix, per @jamesozzie's note above.

[2021-06-01 15:41] #2924 closed

[2021-06-01 15:43] jamesozzie commented on #3265
I've been unable to determine the cause so far, awaiting a response from the impacted user for one additional check, unable to reproduce on my side. I'll close if there is no response this week.

[2021-06-01 15:45] jamesozzie commented on #3389
@bethanylang I'm awaiting additional insights from impacted users in order to try and recreate.

[2021-06-01 15:55] bethanylang commented on #2400
Thanks, @jamesozzie! Moving to L2.

[2021-06-01 16:30] johnPhillips commented on #3275
@asvinb and @aaemnnosttv Thanks both. The list and screenshots are a great help.

Can I ask: what size viewport is that 'Small screens' screenshot, and what is the minimum viewport width we support?
I'm using the smallest setting in dev tools (360px) and it's not overflowing.
However, the 'Small Mobile' setting in storybook takes it down to 220px (which seems slightly excessive) and it **does** ov

[2021-06-01 17:44] jamesozzie commented on #3427
@adamsilverstein If you can think of any checks I can perform next based on the above let me know. The user did setup a clean WordPress install and the same is occurring, with a video provided of this behavior.

[2021-06-01 19:09] abdullah1908 commented on #3442
@aaemnnosttv as per my understanding user is referring toward setting up [User-ID tracking in Analytics](https://support.google.com/analytics/answer/3123662?hl=en#zippy=%2Cin-this-article). We have discussed this in today's weekly internal sync. As per team we'll not consider this for future as this feature doesn’t align with our roadmap for the Site Kit plugin.

[2021-06-01 19:09] #3442 closed

[2021-06-01 19:14] aaemnnosttv commented on #3251
@danielgent Issues very rarely ever go back to IB (+IBR) unless they need a completely different approach (I think I can count the times this happened on one finger). In this case, it's more of a detail that wasn't explicitly mentioned in the IB, but that's okay – it's not uncommon for things to come up during implementation that weren't thought of ahead of time. The defaults are already in place,

[2021-06-02 09:06] asvinb commented on #3355
### QA: ✅

- `await googlesitekit.data.dispatch( 'core/user' ).triggerSurvey( 'test' )` results in a request being made.
- `await googlesitekit.data.dispatch( 'core/user' ).sendSurveyEvent( 'test-event' )` results in a request being made after session is manually received.
- `googlesitekit.data.select( 'core/user' ).getCurrentSurvey()` returns `null` (session not manually received)
- `googlesiteki

[2021-06-02 09:27] danielgent commented on #3033
@eugene-manuilov I put a 7 because there are changes required to these tests. Without those IMHO it would be a 3 as the work is already done in the PR I made

[2021-06-02 09:28] danielgent commented on #1148
I put a 3 as I already tried this out while doing the IB. It's just styling changes, no test changes required

[2021-06-02 14:52] Hazlitte commented on #3288
**QA Eng - advice needed**
@eugene-manuilov, @tofumat. I have:
* checked the code and run the tests
* using a regex string generator and regex tester I confirmed that the `Detect gtag script calls.` regex in the constant `tagMatchers` works like the example in the IB although they differ slightly in syntax

I am unsure how to 'Make sure all regular expressions are correct and there is nothing else

[2021-06-02 14:53] johnPhillips commented on #3275
Bumping the estimate to 19 after a conversation with @fhollis

[2021-06-02 15:13] Hazlitte commented on #1238
**QA ✅**

[2021-06-02 15:56] eugene-manuilov commented on #3288
@Hazlitte check the documentation for [the Google Analytics 4](https://developers.google.com/analytics/devguides/collection/ga4) tag and make sure that we have regular expressions (defined [here](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics-4/utils/tag-matchers.js#L19-L32)) for every possible way of adding a ga4 tag on a page. We need to be confident that we don't

[2021-06-02 16:08] eugene-manuilov commented on #3357
@asvinb IB needs more details for the following criteria:

[2021-06-02 16:30] aaemnnosttv commented on #3174
@asvinb I definitely think we should only reference stories which need changing rather than those that don't; even if there are technically less, I don't think it will be very easy to work from a large list of URLs of stories that won't change. Regarding the list being long, I would think in 99% of the cases (if not all) the style will apply to all related stories for a component, so if you think

[2021-06-02 16:53] johnPhillips commented on #3379
### QA ⚠️
Need to verify a couple of points below. Apart from those, it all seems good. @aaemnnosttv can you provide any guidance here?

**SurveyQuestionRating**
- A new component has been created in the specified location
- The new component requires the correct props
- The text for the low and high ends come from the 1st and 5th choice props, as specified.
- ⚠️ Text on the choices is visually hi

[2021-06-02 17:12] eugene-manuilov commented on #3360
In assets/js/modules/idea-hub/components/dashboard/DashboardCTA.js

@ivankruchkoff We don't need to make a copy of that svg image. We should change the fill color using CSS [fill](https://css-tricks.com/almanac/properties/f/fill/) property.

Also could you please format IB to make it easier to read and understand what needs to be done? Please, use a bulleted or numbered list to separate tasks in t

[2021-06-02 17:35] aaemnnosttv commented on #3225
Ready for a second pass @danielgent (on `main`)

[2021-06-02 17:40] danielgent commented on #3251
@felixarntz  We're going to wait until your back to make a decision on what to do here

The gist of it is that there are two layouts for the `SettingsNotice` component

The first is like one row of flex
![flex](https://user-images.githubusercontent.com/8496063/120526074-1ace9d80-c3d9-11eb-866b-bc060108e676.png)

The second is like two rows both flex
![example](https://user-images.githubusercontent

[2021-06-02 17:44] danielgent commented on #3376
@eugene-manuilov  I"m not sure what else to add :thinking:

I haven't tested this at all (thus all my problems with not using the correct method signature for `triggerSurvey`)

Is this all hooked up and working? I don't think so!

[2021-06-02 18:06] aaemnnosttv opened #3472 "Release 1.34.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-06-02 18:20] danielgent commented on #3225
:heavy_check_mark: **_QA_**

[2021-06-02 18:51] danielgent commented on #3375
So I see it a little different to the QA brief
`Inspect the code and ensure that we have an element with the following class names: googlesitekit-portal-survey googlesitekit-plugin as a direct child of body.`

Instead I see something like
[code]

**BUT** I don't see the DOM structure in the QA brief mentioned in the AC, IB, or comments, so I'm going to assume that this isn't a problem :smile:

_**

[2021-06-03 02:27] mikezielonka commented on #462
Just was browsing the docs to review the current status of GDPR compliance for sitekit.  Hope this makes it into a future sprint in the near future.  👍

[2021-06-03 08:47] aaemnnosttv commented on #3263
Summarizing my findings:
* This isn't specific to the Admin Menu Editor, it is a result of moving the Site Kit menu item to a different place in the menu (specifically moving it to be the child of another menu)
* Likely a rare edge case for sites with highly-customized menus or substantially customized wp-admin
* Should be relatively low effort to fix

Moving forward to Execution.

[2021-06-03 09:00] asvinb commented on #3357
Hey @eugene-manuilov
Can you let me know exactly what's missing? For the refreshed data, it's mentioned here: "The data for the "Drafts" tab will automatically be refreshed since the new draft will be added to the draftPostIdeas state variable."
And not sure what to add more about the loading indicator since there is none and there is a followup issue as per the AC. Can you advise?

Thanks!

[2021-06-03 09:25] eugene-manuilov commented on #3357
_After completion the action of creating the new draft post, both the data for **the current tab ("New" or "Saved")** ... should be (force-)refreshed, to reflect the updated state._

I think we should either hide all buttons or disable them for the idea for which we are creating a new draft post. To make sure that a user can't click on the delete idea button while a draft post is being created.

[2021-06-03 10:15] eugene-manuilov commented on #3376
Ok, in this case, we need to add `QA: Eng` tag.

[2021-06-03 10:27] asvinb commented on #3174
@aaemnnosttv IB updated, let me know if it's better now and more easily readable/understandable.

[2021-06-03 10:34] Hazlitte commented on #3288
@eugene-manuilov Thanks for you advice.  I have spent some more time trying to complete the QA on this ticket.  I'm not very familiar with Google's products and can't find some of the settings in Analytics or be sure that I understand all the ways of adding ga4 tags.  I think it would be best if someone else who understands Analytics 4 better than me picks this up.

[2021-06-03 10:55] aaemnnosttv commented on #3379
@johnPhillips that may be but this text is not intended for screen readers; each button wrapping the choices gets an appropriate `aria-label` attribute for this purpose.

Taking a closer look, the main problem there is the added 50px of padding on either side which isn't representative of the components. That's not to say either whether or not we would want to show these in mobile at all. Since th

[2021-06-03 10:57] johnPhillips commented on #3379
Thanks @aaemnnosttv!

**QA** ✅

[2021-06-03 11:28] abdullah1908 opened #3473 "Error on Analytics Account Creation: An appropriate representation of the requested resource could not be found."
## Bug Description
While setting up Analytics module user is observing the issue. It seems more relevant to HostGator as both users are using the same hosting service. Also Firewall feature disabled from the server while setting up Analytics.
Following users reported the issues:
- https://wordpress.org/support/topic/error-in-analytics-creation-hel-please | **Open | [SH Info](https://docs.google.co

[2021-06-03 11:45] asvinb commented on #3357
@eugene-manuilov IB updated, can you check?

[2021-06-03 12:11] danielgent commented on #3249
I created this GA4 property
![existing-ga4](https://user-images.githubusercontent.com/8496063/120642547-5323b980-c475-11eb-8318-6074e6adec7e.png)

* _Make sure the form looks exactly like on the Figma design._
And I can see it here
![confirm-can-see-ga4](https://user-images.githubusercontent.com/8496063/120642537-4e5f0580-c475-11eb-818e-20c2fe650edc.png)

* _Make sure that a new UA property and pr

[2021-06-03 12:24] eugene-manuilov commented on #3357
IB looks good now. Thanks, @asvinb!

[2021-06-03 13:19] danielgent commented on #3250
The QA brief says _Make sure the form looks exactly like on the Figma design._ but the design has the `SK guessing match` state

IIRC this is only done on a later ticket

![Screenshot from 2021-06-03 15-18-34](https://user-images.githubusercontent.com/8496063/120651395-047b1d00-c47f-11eb-8117-3192e57c6c01.png)

[2021-06-03 15:59] johnPhillips commented on #3418
Some findings from my investigation:

I first tried to generate a more meaningful stack trace:
 - The error is thrown by the `partitionReport` function in [this file](https://github.com/google/site-kit-wp/blob/develop/assets/js/util/partition-report.js#L36).
 - The `partitionReport` function is used inside the `extractSearchConsoleDashboardData` function [here](https://github.com/google/site-kit-w

[2021-06-03 16:02] aaemnnosttv commented on #3380
@felixarntz after discussing with @tofumatt, we decided to use `currentSurvey*` selectors inside of `Survey` rather than taking the questions and completions as props for now. The main reason being that the `sendSurveyEvent` is still scoped to the current survey anyways and it doesn't make much sense to decouple this right now (e.g. also passing as a prop). It still makes sense to keep this separa

[2021-06-03 16:09] Hazlitte commented on #3418
This error also occurs if the number of rows in the report is 0 (zero) in `extractSearchConsoleDashboardData`.  A conditional check in that function to see if the number of rows is less than 2 seems to solve the problem.  If it is,  setting `dateRangeLength` to 1 displays the widgets.

[2021-06-03 16:17] aaemnnosttv commented on #3275
Back to you @asvinb for another pass 👍

[2021-06-03 16:18] felixarntz commented on #3380
@aaemnnosttv @tofumatt That's fair, but I think we should then not name that component `Survey`. How about we call that one `CurrentSurvey` and the other one `CurrentSurveyPortal` or `CurrentSurveyLoader` or something like that?

[2021-06-03 16:22] Hazlitte commented on #3255
@johnPhillips and I figured out how to generate the error in #3418 and a possible fix.  We updated the ticket.

[2021-06-03 16:23] johnPhillips commented on #3418
@Hazlitte Just a side note: `LegacySearchConsoleDashboardWidgetSiteStats` seems to check if the report is empty:

https://github.com/google/site-kit-wp/blob/045409d71d8f36315f97a0d47f49d39fcb9bdf0c/assets/js/modules/search-console/components/dashboard/LegacySearchConsoleDashboardWidgetSiteStats.js#L117-L119

Once the `widgets.moduleScreens` feature is turned on and we stop using the legacy widgets

[2021-06-03 16:25] aaemnnosttv commented on #3418
Thanks guys – let's see if we can get this fixed for the release.

[2021-06-03 16:29] Hazlitte commented on #3418
Here is a possible solution in `extractSearchConsoleDashboardData`:

  `const dateRangeLength = rows.length > 1 ? Math.floor( rows.length / 2 ) : 1;`

[2021-06-03 18:10] eugene-manuilov opened #3474 "Combine WP dashboard widget CTAs"
## Feature Description

Recently we added the functionality to combine widgets with similar special states into a bigger one to reduce the number of duplicate CTAs and to remove confusion. But if we look at the WordPress dashboard widget that has no data yet, it still shows a bunch of duplicate CTAs:

![adverse-wildcat jurassic ninja_wp-admin_index php](https://user-images.githubusercontent.com/87

[2021-06-03 18:19] aaemnnosttv commented on #3418
After looking into this a bit more, I've found this is due to other problems related to how the Search Console API works which I will open a new issue for. For now, this issue is just about avoiding the error by using the utility in the same way it is used everywhere else.

[2021-06-03 18:20] eugene-manuilov commented on #3472
All seems to be good to me, although I haven't been able to test ga4 and ideahub changes because not all functionality is included in this release.

[2021-06-03 18:45] felixarntz opened #3475 "Use `<amp-story-auto-analytics>` for Web Stories"
There is now a new [`amp-story-auto-analytics` component in AMP](https://amp.dev/documentation/components/amp-story-auto-analytics/) which simplifies the Analytics setup for Stories, handling the necessary events by default rather than requiring to manually include their definition in the JSON configuration for the component.

Potentially Site Kit should rely on that component instead of the more

[2021-06-03 19:33] tofumatt commented on #3380
@felixarntz That works for me; I'll adjust the component names in the PR for this issue 👍🏻

[2021-06-03 19:37] adamsilverstein commented on #3255
Thanks @Hazlitte, quite likely this is related to the data issue we are solving in #3418. We haven't been able to reproduce the error here, so let's see if at fix resolves both issues.

[2021-06-03 20:25] adamsilverstein commented on #3427
@jamesozzie

Were there any console errors reported?

From the video it looks like when the user lands back on the server after authorizing, either query parameters or request headers are missing, and - lacking the correct information - the service deduces the user is at step 1. It looks more like a browser level block than a server issue - however you mentioned the user already tried incognito mo

[2021-06-03 23:34] abdullah1908 commented on #3473
Finally I am able to setup Analytics property after continues discussion with the HostGator Support Team. As per support team we have whitelisted the rule ID globally so it should work fine for all users.

[2021-06-03 23:51] felixarntz commented on #3374
@aaemnnosttv @eugene-manuilov I've updated the ACs here to also require passing the `site_secret` to the proxy - originally it only required passing `site_id`. Looking at the PR #3440, this is already the case anyway (since the regular `Google_Proxy` method for sending a request does just that), so this doesn't require any additional work on the plugin side. I was gonna open a new issue, but it lo

[2021-06-04 00:05] #3225 closed

[2021-06-04 00:17] felixarntz commented on #3291
### Approval ❌

@eugene-manuilov @aaemnnosttv This is not working as expected in my testing:

1. I'm on https://beckandgalo-wordpress-amp.pantheonsite.io/.
2. On pageload of the GA setup, it shows the correct account and UA property.
![Screen Shot 2021-06-03 at 5 11 09 PM](https://user-images.githubusercontent.com/3531426/120727340-254b6e80-c48f-11eb-8b09-be7f87f41198.png)
3. Then I change the acc

[2021-06-04 00:19] #3286 closed

[2021-06-04 00:22] #3356 closed

[2021-06-04 00:23] #3276 closed

[2021-06-04 00:23] #3229 closed

[2021-06-04 00:24] #3301 closed

[2021-06-04 00:24] #3409 closed

[2021-06-04 00:25] #3355 closed

[2021-06-04 00:25] #3358 closed

[2021-06-04 00:25] #3429 closed

[2021-06-04 00:27] #3243 closed

[2021-06-04 00:30] felixarntz commented on #3248
### Approval ⚠️

@eugene-manuilov I'm not sure this is entirely related, but I cannot submit the form in this scenario since the button is disabled (also visible in Storybook, see @wpdarren's screenshot above). I just want to make sure there is another piece missing and this is expected currently?

[2021-06-04 00:30] #3175 closed

[2021-06-04 00:31] #2940 closed

[2021-06-04 00:31] #1238 closed

[2021-06-04 03:28] RedactedProfile commented on #1872
Definitely facing this issue at the moment

![image](https://user-images.githubusercontent.com/1039911/120741646-3ce42080-c4aa-11eb-9a49-ad3a538489ab.png)

[2021-06-04 07:46] aaemnnosttv opened #3477 "Avoid unnecessary token refresh"
## Feature Description

Access tokens that are generated for communicating for Google APIs are short-lived tokens which are only valid for one hour. Once expired, a new access token can be requested using the refresh token received during a user's initial connection. The refresh token is much longer lived and requires going through oAuth again to get a new one. The underlying PHP API Client librar

[2021-06-04 08:14] asvinb commented on #3275
### QA: ✅

- `DashboardCTA` matches Figma designs and fulfils the AC.

[2021-06-04 08:24] asvinb commented on #3376
### QA: ✅

Component implemented as per AC.

[2021-06-04 08:25] asvinb commented on #3227
@johnPhillips Can you add a QA brief? Thanks!

[2021-06-04 10:03] bethanylang commented on #1872
Hi @RedactedProfile Thanks for getting in touch! Support for the Site Kit plugin is managed on the WordPress.org support forums. If you can [create a new topic there](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0), we can take a look and help you troubleshoot this issue. Thank you!

[2021-06-04 10:58] aaemnnosttv commented on #3227
@johnPhillips sending back to Execution for follow-up that we found 👍

[2021-06-04 12:10] aaemnnosttv commented on #3374
@eugene-manuilov would you please add a QAB?

[2021-06-04 13:54] Hazlitte commented on #1504
@felixarntz @jamesozzie I have added an IB for this.  Note that `render` methods are not being used to output all tag snippets, in some cases `wp_enqueue_script` is being used. (as noted in the IB)

[2021-06-04 14:26] eugene-manuilov commented on #3248
@felixarntz, unfortunately, I can't reproduce your issue with the disabled submit button, but I have found a few more issues and created a follow-up PR that fixes them:

1. whitespace between dropdowns and the GA4 property notice
1. insufficient scopes issue when creating a new GA4 property
1. missing timezone field for the new GA4 property

Do you mind reviewing it?

[2021-06-04 14:53] jamesozzie commented on #3265
Closing this as unreproducible. No further insights gathered so far, awaiting feedback from impacted user.

[2021-06-04 14:56] eugene-manuilov commented on #3374
QAB is added.

[2021-06-04 15:34] aaemnnosttv commented on #3252
@eugene-manuilov please add a QAB 👍

[2021-06-04 16:03] eugene-manuilov commented on #3291
Hm... Unfortunately, I can't reproduce it on my end. It selects the property correctly for me...

Ok, makes sense. I have created a follow-up PR to fix this: #3481. @felixarntz do you mind reviewing it?

[2021-06-04 16:07] eugene-manuilov commented on #3252
QAB is added.

[2021-06-04 16:08] jamesozzie opened #3482 "Clicks & impressions remain at zero"
## Bug Description

[One user](https://wordpress.org/support/topic/0-impressions-and-0-clicks/#post-14520933) is encountering Search Console traffic not matching Site Kit. Both the "Clicks" and "Impressions" remain at zero within Site Kit. This is a recently added property.

Site setup on a new SC property for further testing, with a similar  environment, with a connected domain type property. (pr

[2021-06-04 17:22] felixarntz commented on #3248
@eugene-manuilov Reviewed it - the PR mostly lgtm, but the above problem is also happening in Storybook, so there it is definitely reproducible.

[2021-06-04 17:34] felixarntz commented on #3291
@eugene-manuilov Left some feedback, the PR mostly looks good for the fallback issue. I left some follow-up questions to clarify my scenario further - please try to recreate exactly that if you haven't yet.

[2021-06-04 17:46] felixarntz commented on #3251
@danielgent Good catch! I suggest then going with your second approach - essentially `children` then is something like "additional children", other than the notice itself. That sounds good to me.

[2021-06-04 18:04] aaemnnosttv commented on #3255
@adamsilverstein @jamesozzie I don't think these two issues are related. #3418 was related to an error from a new utility introduced in 1.33 (released on 5/24), whereas this issue has been around quite a bit longer.

[2021-06-04 18:52] eugene-manuilov commented on #3248
@felixarntz I have created a new PR #3483 that uses the `main` branch as base. It contains all changes that #3479 has plus a fix for the issue with the submit button.

[2021-06-04 19:15] eugene-manuilov commented on #3291
@felixarntz I had to create a new branch and create a new PR #3484 because I couldn't rebase that branch :(

Yes, it seems to work on my end. Even don't know why it doesn't work for you :thinking:

[2021-06-04 20:22] felixarntz commented on #3291
@eugene-manuilov Merged the PR. I just figured out why the property switching didn't work for me: It was simply because the one property I was using didn't actually have the `websiteUrl` populated, that field was empty for that property (it was using the URL as property name, but that's not what Site Kit looks at of course) 🤦‍♂️

So this is all good to go! 🚢

[2021-06-06 22:14] cole10up commented on #3271
### **QA ✅**

@wpdarren - I was able to create the post manually using "tempid=$(wp post create --post_title='A' --porcelain);  echo $tempid ; wp db query "update wp_posts set post_title='' where ID=$tempid;"

Ran the following commands:
wp post meta add 32 googlesitekitpersistent_idea_name ideas/68182298994557866271
wp post meta add 32 googlesitekitpersistent_idea_text 'How to make carne asada'
w

[2021-06-06 22:24] cole10up commented on #3290
**### QA ✅**

Confirmed GA4 setup is disabled:
![image](https://user-images.githubusercontent.com/57115907/120941886-258b7a00-c6da-11eb-9d55-7a8e84de3afb.png)

Setup analytics and landed on the splash page:
![image](https://user-images.githubusercontent.com/57115907/120941938-64213480-c6da-11eb-9215-4d3bc6cf6188.png)

Enabled GA4 setup and saved:
![image](https://user-images.githubusercontent.com/

[2021-06-06 22:44] cole10up commented on #3291
**### QA ❌**

Retested and setup a new account and property:
![image](https://user-images.githubusercontent.com/57115907/120942380-6b960d00-c6dd-11eb-80e7-7e3078d10820.png)

Installed and activated SK with the user that has this account and property

Noticed the property is missing after selecting the new account with the property that had been setup.
![image](https://user-images.githubusercontent

[2021-06-06 23:30] cole10up commented on #3248
### **Approval ⚠️**

Retested the above and noticed the following when a smaller browser window/mobile is used, long property names move the drop down out of the frame.
![image](https://user-images.githubusercontent.com/57115907/120943526-3a6d0b00-c6e4-11eb-81df-685eb64da9f4.png)

@felixarntz @eugene-manuilov should we spin up a bug for this or take this ticket back in?

[2021-06-06 23:36] cole10up commented on #3418
### **QA ✅**

Ran through a series of tests on a site with has less-than-full data in Search Console.

Was unable to reproduce this error.
![image](https://user-images.githubusercontent.com/57115907/120943680-40afb700-c6e5-11eb-80aa-0d69028bab95.png)

![image](https://user-images.githubusercontent.com/57115907/120943684-46a59800-c6e5-11eb-9049-ed89b06c5fc4.png)

This is fixed on my end. Sending to

[2021-06-07 08:30] asvinb commented on #3374
### QA: ✅

* `Google_Proxy` has 2 new methods defined as per AC.
* `REST_User_Surveys_Controller` registers 2 endpoints as per the AC.
* Required parameters enforced in `REST_User_Surveys_Controller`.

[2021-06-07 08:40] asvinb commented on #3252
### QA: ✅

[2021-06-07 09:53] eugene-manuilov commented on #3248
@cole10up this is a UI issue that is not relevant to the GA4 functionality. Let's create a new ticket for it and mark this ticket as passed QA if you have nothing else than this.

[2021-06-07 09:55] eugene-manuilov commented on #3250
@danielgent `SK guessing match` is a label for the Figma screen. We don't need to implement it in the plugin.

[2021-06-07 10:05] ivankruchkoff commented on #3288
Let's add tests to test positive / negative matches for each scenario, this way we can't just test once and accidentally add regressions.

We currently have one in place which handles the scenario at the top of this page:
Example based on https://developers.google.com/analytics/devguides/collection/ga4
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics-4/datastore/tags.