[2021-07-29 19:03] abdullah1908 commented on #3779
Check with @cole10up as well.

[2021-07-29 19:26] eugene-manuilov commented on #3777
Yep, all looks good to me too.

[2021-07-29 19:33] eugene-manuilov commented on #3775
IB :heavy_check_mark:

[2021-07-30 05:03] ivankruchkoff commented on #2054
Putting the define into your theme functions is too late and it has already been set in WordPress far earlier and it cannot be overridden, see the unit test where we have to override the static variable: https://github.com/google/site-kit-wp/pull/3734/files#diff-cd9bfad4b0a994c130af2d7fce75605bab9e19e99ccea0a3124f6ca73e69c4f4R46

Here's what I have between staging / production in a diff after sett

[2021-07-30 08:39] asvinb commented on #3760
Thanks @felixarntz @aaemnnosttv  👍 for the radio buttons.

I think introducing the `SurveyQuestionSelect` sounds good and I've updated the IB to cater for that. Also, tackling #3760 and #3761 together makes sense. The IB reflects that.

I've kept the old IB as well just in case we want to keep the components separate. Once the IB is approved, I'll remove the old one.

[2021-07-30 08:44] marrrmarrr commented on #3716
+1 on using physical separation (move Learn more to a corner) to make it clearer one is a link and the other just text.

[2021-07-30 08:54] asvinb commented on #2054
### QA: ✅

- Created a new site on jurassic.ninja (https://competent-darkling.jurassic.ninja/)
- Installed the Site Kit plugin and tester plugin
- Switched to develop branch via tester plugin
- Connected Tag Manager service
- Inspected the FE and saw Tag Manager snippet inserted.
- Edited the `wp-config.php` and added `define( 'WP_ENVIRONMENT_TYPE', 'local' );`
- Refreshed the homepage, Tag Manage

[2021-07-30 08:55] asvinb commented on #2054
Thanks @ivankruchkoff . All good now when I defined `WP_ENVIRONMENT_TYPE` in `wp-config.php` 😅

[2021-07-30 09:36] asvinb commented on #3644
### QA: ✅

* Disconnected Analytics module
* Switched to `develop` branch
* Proceeded to connect Analytics again with Devtools open
* Copied request made to `/wp-json/google-site-kit/v1/modules/analytics-4/data/webdatastreams-batch` as a CURL command.
* Response:
[code]
* Switced to `main` branch.
* Ran the same CURL command.
* Response:
[code]
* Both responses are the same.

[2021-07-30 10:10] danielgent commented on #3760
What's the benefit with creating a single Frankenstein component though?

More logic? More room for bugs? Less clear component API?

If we have common code between the two components then we should extract them as util functions or other child components.

@asvinb Please provide me with a reason as to why they should be combined?  :smile:

I've already built the multiselect as well so the work is

[2021-07-30 10:26] asvinb commented on #3716
@marrrmarrr @felixarntz @Pratheep-lab Looking at our components, for e.g https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-setup--create-new-view, the "Learn More" link is already separated, in its own corner. The screenshot in the Bug description looks to be outdated.
In that case, the IB is ready for review then.
cc @aaemnnosttv

[2021-07-30 10:45] Pratheep-lab commented on #3716
Correct we did move the learn more button to the right corner away from the text. However, the problem still exists on the mobile screen sizes as shown in the screenshot below:
![image](https://user-images.githubusercontent.com/81642523/127641662-c5eebc5f-7d06-40a8-a4e5-f50ea971b87a.png)

On the mobile screens give some top padding for the learn more link to start with. Potentially, move the learn

[2021-07-30 12:17] danielgent commented on #3182
`.storybook/main.js` contains relative file paths relative to the location of `.storybook/main.js`

So running glob with this returns no results of course.  (Presumably that's why @asvinb's snippet doesn't do this)

For now, I'll just ignore this step. I think the paths should be defined from the root :thinking:

[2021-07-30 13:16] wpdarren commented on #3777
@aaemnnosttv @felixarntz i am seeing an error when on the search console module on Safari, both desktop and mobile.  `a.getTime is not a function. (In 'a.getTime()', 'a.getTime' is undefined)` This message does not appear on our other supported browsers.

Can anyone recreate this issue?  I'm going to check another site with live data.

![image](https://user-images.githubusercontent.com/73545194/12

[2021-07-30 14:19] wpdarren commented on #3777
Other than the issue reported above, looks good to me. ✅

[2021-07-30 14:23] danielgent commented on #3182
I'm not sure what the `scenario` property should be:

_"This property should be a plain object "_
_"If defined with an object, this configuration should add a backstop scenario"_
_"For stories that do not require any custom scenario configuration, an empty object should be set"_

What is _"defined with an object"_ vs _"an empty object should be set"_

I would have thought this would just be a bool

[2021-07-30 14:45] wpdarren commented on #990
QA Update: ⚠️

@eugene-manuilov this is passing the tests in QAB, but an observation on small screen sizes like mobiles.

The Site Kit admin bar feature does not appear on mobile devices, but the setting is still appears in the settings.  I am wondering if it would cause confusion with the users, so, it might be a thought to hide the setting on smaller screens. [Screenshot](https://user-images.git

[2021-07-30 15:11] wpdarren opened #3780 "UI issue on Average Position tab on Search Console module"
## Bug Description

On the `Search Console` module page, when you click on the `Average Position` tab, a black horizontal line appears, which is different than the other tabs.  See screencast below:

https://user-images.githubusercontent.com/73545194/127673006-f8e1aa9a-9299-475f-8900-bfe9fb24bf83.mp4

This was an issue on 1.37.0, so not a regression. I was able to recreate this on Chrome and Safar

[2021-07-30 15:21] wpdarren opened #3781 "Styling Issue on Mobile for Performance by Page data on AdSense Module"
## Bug Description

When browsing the Google AdSense module on iOS and Android there's a minor layout issue with the `Performance by Page over the last X days` section.  As you can see from the screenshot, there's no margin so the impressions data is slightly overlapping the edge of the screen on some mobile devices.  It's worth noting that this was observed with test AdSense data but would be an

[2021-07-30 15:35] aaemnnosttv commented on #3182
@danielgent the `scenario` property is intended to allow for the backstop scenario definition to be extended (e.g. `onReadyScript`, `delay`, etc). So, it could also be a boolean, that would be fine for probably the majority of stories that don't require additional configuration. Looks like this wasn't clear in the ACs, so I'll revise it 👍

We can still do this, the globs just need to be resolved r

[2021-07-30 15:47] aaemnnosttv commented on #3182
@danielgent I've revised the AC's to clarify and added the option to allow for a boolean `scenario` property which I agree is a bit cleaner for the common case where no custom options are needed 👍

[2021-07-30 16:01] abdullah1908 opened #3783 "Introduced new AdSense Code to Improve the Ad performance"
## Feature Description
Google AdSense recently introduced the [new AdSense snippet schema to improve the Ad performance](https://support.google.com/adsense/answer/10627874?hl=en). A user on the [support forum](https://wordpress.org/support/topic/new-adsense-code-to-improve-ad-performance/) also reported this.

Auto ads code example:
[code]

---------------

_Do not alter or remove anything below.

[2021-07-30 16:04] danielgent commented on #3182
Thanks @aaemnnosttv

Do we want the current VRTs to keep passing with no changes?

That's what I assumed (and that's what I'd think is better)

I used @asvinb's provided snippet which mostly worked (thanks @asvin!), only two things were
1. optional chaining operator not supported on storybook babel config
2. had to initalise empty stories objects `stories[ node.left.object.name ] = {};`
3. The Id

[2021-07-30 16:40] eugene-manuilov commented on #990
@wpdarren the admin bar feature should appear on mobile devices. Can you make a screencast to show me how it works on small screen sizes on your end?

[2021-07-30 17:13] cole10up commented on #3606
### **QA ❌**

@jamesozzie I tried with the latest zip with the domain you used above. I tried a few different Analytics accounts with known data.

![image](https://user-images.githubusercontent.com/57115907/127688157-026d81e7-7102-4a08-980e-f753605ef711.png)

Going to shift this one back to Execution.

[2021-07-30 17:48] aaemnnosttv opened #3784 "Some Google charts not displaying properly on Safari"
## Bug Description

A few Google charts in Site Kit currently aren't displaying properly due to dates being parsed differently in a few places. In particular, this has been identified to affect the charts on the module dashboards for Search Console (visible chart error) and AdSense (flat-line chart).

## Steps to reproduce

Both are easily visible in the latest version of Safari by connecting the

[2021-07-30 18:04] felixarntz commented on #3784
IB ✅

[2021-07-30 18:10] felixarntz commented on #2796
@aaemnnosttv While that would be an alternative way to fix, I'm not sure I'm onboard with that approach - technically, the module is already active, and we may e.g. not always require a redirect, let's say in the case the user already has granted the scopes before and we had a true single page application where then the setup UI would just show up.

I think the cause for this situation feeling off

[2021-07-30 18:21] felixarntz commented on #3716
Good catch about the mobile difference @Pratheep-lab!

@asvinb The IB looks good, but given the above, could you also add to it the additional change of right-aligning the learn more link on mobile so that it is visually separated there too?

[2021-07-30 18:33] ivankruchkoff commented on #3777
LGTM✅

[2021-07-31 11:24] danielgent commented on #3775
I think this could well go over 7 hours.  I've only removed the flag from a few files and there are so many failing tests.  **Lots** of endpoints need mocking, many of which haven't been done before (so may involve manual inspection of endpoints)

[2021-07-31 14:25] danielgent commented on #3775
Got to the point where there are a few failing tests and e2es. 3hrs 40 mins spent so far. I can pick this up at a later date

[2021-07-31 15:42] danielgent commented on #3761
I've created a PR here of this component pretty much working https://github.com/google/site-kit-wp/pull/3788

See the story here https://google.github.io/site-kit-wp/storybook/pull/3788/?path=/story/components-surveys--survey-question-multi-select-story

I've added comments to the PR. We can discuss what I should write for the IB (based on my other outstanding IB) :+1:

[2021-08-02 06:25] abdullah1908 opened #3789 "Site Kit adding duplicate GTM Snippet"
## Bug Description
As per the [user on WordPress Support](https://wordpress.org/support/topic/site-kit-inserting-inappropriate-gtm-tags/) reported Site Kit doesn't recognize already added snippet & adds additional snippet while setting up GTM through Site Kit. I can [reproduce this issue](https://www.loom.com/share/40cbcd1bd0464a148f21d56d16e934c4) at my end as well.

## Steps to reproduce

1. Add

[2021-08-02 07:59] marrrmarrr commented on #3307
@danielgent The updated sentence (To use AdSense and Analytics...) sounds more natural, let's update it to that version when there's more than one module that needs permissions.

[2021-08-02 08:15] marrrmarrr commented on #3000
@felixarntz updated the text to be more clear about the consequences (the experiment will fail).

[2021-08-02 08:19] marrrmarrr commented on #467
@felixarntz do you mean this would involve changes in the logic of displaying all zero states?

[2021-08-02 09:02] asvinb commented on #3716
@felixarntz IB updated. Can you check?

Thanks!

[2021-08-02 09:11] aaemnnosttv commented on #3606
@cole10up I tested this on the same site and it worked for me. Maybe a cache issue before?

Here's last 28 days
![image](https://user-images.githubusercontent.com/1621608/127833923-c5d86ed3-96bf-4f44-8923-051c78b99e2f.png)

You need to go back to the 90 day range to see the actual data.
![image](https://user-images.githubusercontent.com/1621608/127834073-6de2a734-2b42-4414-849a-9c13b3f41179.png)

[2021-08-02 09:19] jamesozzie commented on #3789
Thanks Abdullah, I can confirm the same using a basic Tag Manager setup with only a custom HTML tag. Site Kit does recognise the manually inserted snippet, so the issue is that _**it also inserts**_ an additional Tag Manager snippet.

![2021-08-02-10-14-33](https://user-images.githubusercontent.com/41326532/127836532-dda42f94-df2b-4c3a-9caa-819d3c2ccbdc.gif)

A temporary workaround is to revisit y

[2021-08-02 09:24] aaemnnosttv commented on #3182
@danielgent Yes, there should be no changes to existing VRTs 👍

The points you mentioned sound okay to me.

I'll respond inline to your comments there, but this looks like it's off to a good start 👍  Thanks!

[2021-08-02 09:30] jamesozzie commented on #3606
@aaemnnosttv They are actually different sites, there is the https://xn--trkish-3ya.com site but also the https://xn--trkish-3ya.com/xn--unicodenme-z4a2/ site, which is a separate WP install. This includes the path matching the users setup.

I'll grant you access to the https://xn--trkish-3ya.com site now if you want to take a look.

[2021-08-02 09:45] neftelimov commented on #316
Help, please.

A network error occurred and the request could not be completed.
![scrnli_2-08-2021 г-_12-45-03 ч-](https://user-images.githubusercontent.com/88317927/127841267-aaaf5eed-bff6-4800-aae6-3907dab2fa99.png)

[2021-08-02 09:49] jamesozzie commented on #316
@neftelimov If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the WordPress support forums where we provide initial plugin assistance we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any additional information privately

[2021-08-02 09:49] aaemnnosttv commented on #2504
Moving this to _stalled_ for now.

[2021-08-02 09:51] aaemnnosttv commented on #2586
Assigning this one to @eugene-manuilov since he's already done the other two 👍

[2021-08-02 10:01] aaemnnosttv commented on #3307
@marrrmarrr the problem with "X _and_ Y" language is that it's rather specific to only two. The variant for multiple modules should be able to handle two or more. I think the language around "redoing setup" could probably be improved since the problem is about permissions granted rather than module configuration which is how that reads to me. It makes it sound like the user needs to go through the

[2021-08-02 10:32] eugene-manuilov commented on #3625
IB :heavy_check_mark:

[2021-08-02 11:00] aaemnnosttv commented on #3773
Thanks @felixarntz – I've updated the ACs to clarify that 👍

[2021-08-02 11:09] aaemnnosttv commented on #2659
@danielgent – no, this is only about the tooltip only, not about changing the selected slice.

This was something we did at one point and the problem there is that some tooltips (maybe only one) have links inside that can be impossible to click if only triggered by hover.

The screenshot shows the tooltip over the header which looks a bit odd, but maybe better than if it was covered by the header;

[2021-08-02 11:37] eugene-manuilov commented on #3340
QA :heavy_check_mark: prettier works as expected.

[2021-08-02 11:43] aaemnnosttv commented on #3691
IB ✅

[2021-08-02 11:51] aaemnnosttv commented on #3278
@eugene-manuilov ah yes – I believe that's why in the past we had to [set the public path on-the-fly](https://v4.webpack.js.org/guides/public-path/#on-the-fly) before using a dynamic import. The base path should be already available via Site Kit's base data global:

![image](https://user-images.githubusercontent.com/1621608/127857475-418114cc-c35b-4378-8599-c9bd8dc73c62.png)

[2021-08-02 12:05] eugene-manuilov commented on #2258
QA :warning: I know that QAB says that we don't need to delete the `withFeatureFlag` HOC, but it is no longer in [use](https://github.com/google/site-kit-wp/search?q=withFeatureFlag), so we can get rid of it too.

[2021-08-02 12:09] jamesozzie opened #3791 "Allow WP "Editor" roles access to configure Analytics or provide a custom programmatic capability for Analytics edit access"
## Feature Description

As per [one request in the support forums](https://wordpress.org/support/topic/feature-request-give-editor-access/#post-14716534) one user would like the ability for "Editor" roles to be able to configure Analytics or alternatively for a filter or capability that developers can use to permit access to other roles.

In this users case they are a web developer setting up Anal

[2021-08-02 12:09] jamesozzie opened #3792 "Allow WP "Edit"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-08-02 12:10] jamesozzie commented on #3792
Closing this - a keyboard shortcuts issue resulted in my accidently creating this.

[2021-08-02 12:10] #3792 closed

[2021-08-02 13:01] wpdarren commented on #3359
`QA Update: Pass ✅ `

When going to your posts list page after activating the transient, there is a dismissible notice for saved ideas.  When the dismiss icon is clicked, and page refreshed the notice does not appear. When I ran the transient again, the notice reappeared when going back to the posts page.

[2021-08-02 13:42] tofumatt commented on #2258
Fair enough—I've made a follow-up PR at #3793  👍🏻

[2021-08-02 13:52] wpdarren commented on #3606
### QA Update: ⚠️

@aaemnnosttv I noticed in the AC it also mentions AdSense, but it's not in the QAB. Should we be checking to make sure that the data is appearing on that module too, and if we do, would the tester plugin suffice to manipulate data?

**Verified:**

- With Analytics connected I am able to see data in the Dashboard and also on the module page.

![image](https://user-images.githubus

[2021-08-02 14:02] wpdarren commented on #3599
I feel this is a `QA:Eng` ticket but if I am incorrect then please feel free to let me know!

[2021-08-02 14:25] eugene-manuilov commented on #2258
QA :heavy_check_mark:

[2021-08-02 14:43] wpdarren commented on #990
@eugene-manuilov you are right! I initially tested this on Chrome console using the device toolbar, and it didn't appear.  When I tested on Browserstack and my own phone, I can see that the admin feature appears and disappears based on the settings.

### QA Update: Pass ✅

**Verified:**

- Verified that you see the admin bar integration. The setting is enabled by default

![image](https://user-ima

[2021-08-02 16:11] tofumatt commented on #3758
Good call; I've made those updates so this is good for another review 👍🏻

[2021-08-02 16:12] tofumatt commented on #3758
Although @felixarntz previously reviewed this one, in the interest of time I'm leaving it unassigned for someone else to pick up. 🙂

[2021-08-02 16:15] tofumatt commented on #3647
Ah, yes, good catch—that was just a mistake, I meant to add the `['slug']` key but missed it; should be good now.

[2021-08-02 16:16] tofumatt commented on #3647
Again: leaving unassigned in the interest of time, but Felix said it was good aside from changing `data-module-slug="<?php echo wp_json_encode( $module_info ); ?>"` to `data-module-slug="<?php echo wp_json_encode( $module_info[ 'slug' ] ); ?>"` 🙂

[2021-08-02 16:24] jamesozzie commented on #3783
Legacy Auto ads code snippet code as provided from AdSense UI ([screenshot](https://i.imgur.com/F8nV5SU.png)):

[code]

New Auto ads code snippet code as provided from AdSense UI ([screenshot](https://i.imgur.com/0wr49Pe.png)):

[code]

[2021-08-02 17:47] aaemnnosttv commented on #3760
@felixarntz after discussing this a bit more with @asvinb, we've opted to go with separate components without a shared base component. The reason being mostly due to the cost of added complexity outweighing the benefit of making the two into a single component. The survey components are already a bit complex as it is with the structure of questions and answers so I think it's best to keep each com

[2021-08-02 19:55] felixarntz commented on #3784
In the interest of time, this has already been QAd ahead of merging, see https://github.com/google/site-kit-wp/pull/3785#issuecomment-891191976. Therefore skipping the formal column this time.

[2021-08-02 20:06] felixarntz commented on #3340
@aaemnnosttv @eugene-manuilov Not sure if I'm missing something here, but is the Prettier configuration correct like we want? Didn't we use to have spaces in a lot more places than it's doing now? I'm a little confused by seeing the "corrections" it makes.

[2021-08-02 20:07] felixarntz commented on #3760
@aaemnnosttv That's fair - okay from my end.

[2021-08-02 20:24] #3784 closed

[2021-08-02 20:24] #3359 closed

[2021-08-02 20:24] #3405 closed

[2021-08-02 20:24] #1997 closed

[2021-08-02 20:24] #3511 closed

[2021-08-02 20:24] #1147 closed

[2021-08-02 20:24] #3497 closed

[2021-08-02 20:24] #2077 closed

[2021-08-02 20:24] #3502 closed

[2021-08-02 20:25] #3643 closed

[2021-08-02 20:25] #2122 closed

[2021-08-02 20:25] #3723 closed

[2021-08-02 20:25] #1427 closed

[2021-08-02 20:25] #3263 closed

[2021-08-02 20:25] #2418 closed

[2021-08-02 20:25] #3412 closed

[2021-08-02 20:25] #3633 closed

[2021-08-02 20:25] #2217 closed

[2021-08-02 20:25] #3685 closed

[2021-08-02 20:25] #3406 closed

[2021-08-02 20:25] #2054 closed

[2021-08-02 20:25] #3639 closed

[2021-08-02 20:25] #3628 closed

[2021-08-02 20:25] #3581 closed

[2021-08-02 20:25] #3393 closed

[2021-08-02 20:25] #3692 closed

[2021-08-02 20:25] #683 closed

[2021-08-02 20:26] #3708 closed

[2021-08-02 20:26] #3549 closed

[2021-08-02 20:26] #3524 closed

[2021-08-02 20:26] #3727 closed

[2021-08-02 20:26] #3523 closed

[2021-08-02 20:26] #3733 closed

[2021-08-02 20:29] #3606 closed

[2021-08-02 20:30] #3722 closed

[2021-08-02 20:30] #3777 closed

[2021-08-02 20:32] #3520 closed

[2021-08-02 21:23] HFigarella commented on #3606
GSK Version **1.38.0** works fine with an internationalized domain name (IDN)!

**Site**: (_something like_) unicodenáme.xxx (unicode)
Self hosted at home and on production with thousands of visitor a day.
OS Windows Server 2019 - Microsoft-IIS/10.0
WordPress version 5.9-alpha-51524
MySQL version 8.0.26 for Windows
PHP version 8.0.9 64bit
Jetpack version 10.1-alpha:1627440389
Plus more than 70 oth

[2021-08-03 07:32] aaemnnosttv commented on #3760
@asvinb please update the IB to only cover the single component as originally scoped. Thanks!

[2021-08-03 07:57] aaemnnosttv commented on #3340
@felixarntz what spaces are you referring to? The thing about Prettier is that it intentionally has almost zero configuration. Code can essentially only be formatted one way and that's the point. This is essentially why Automattic had to fork it to use WP code style since it differs from the original Prettier.

I agree that many of the changes it made are not as good as they were before in some pl

[2021-08-03 09:40] danielgent commented on #3182
@aaemnnosttv  I've got this all working now *except* setting `scenario` to true

It works fine if set as an object (even an empty object) but when setting to `true`, the parsing code always returns it as an empty string

See comments on the PR. Happy to investigate more and learn about these libraries *but* who knows how long it'll take! :smile:

[2021-08-03 10:19] asvinb commented on #3760
Thanks @felixarntz @aaemnnosttv IB updated

[2021-08-03 10:46] aaemnnosttv commented on #3646
@felixarntz I added ACs here to move this forward as it seems fairly straightforward in its purpose 🙂

Let me know if there's anything else missing when you get back!

[2021-08-03 11:27] danielgent commented on #3378
Running `"test:storybook": "npm run test:js -- .storybook/Stories.test.js",` doesn't run any tests

It just gives `Pattern: .storybook/Stories.test.js - 0 matches`

See https://github.com/google/site-kit-wp/compare/infrastructure/3378-Add-tests-for-broken-stories

[2021-08-03 11:32] danielgent commented on #3378
I've moved it to `assets/js/modules/Stories.test.js` for now, as this is picked up by the Jest config :+1:

[2021-08-03 11:36] danielgent commented on #3378
I just had to add `'<rootDir>/.storybook/?(*.)test.js',` under `testMatch` in `jest.config.js` to pick up `.storybook/Stories.test.js"`

[2021-08-03 11:56] aaemnnosttv commented on #3760
Thanks @asvinb – the IB looks good and is quite thorough – just a few things to iterate on:

This reads like it's accounting for multiple possible answers but the question type only supports one 🙂  It's technically possible that each question could support a write-in value, but only one choice +write-in can be used as the answer. You show this again in the example answer object (`{ answer: [ { ans

[2021-08-03 12:01] danielgent commented on #3378
Amazing! this totally works

![works](https://user-images.githubusercontent.com/8496063/128011889-b4d4f2f5-7b4d-40c7-9fe9-96308926bc2e.png)

Now the problem is how to make a PR that will fail because we actually have broken stories @aaemnnosttv

I can comment them out *or* we can fix them first? :smile:

[2021-08-03 12:02] danielgent commented on #3378
Example broken story https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-settings--no-tag-gtm-property-w-access

I'm sure I've created a ticket to fix these

I'll make a PR now anyway so we can see it failing

[2021-08-03 12:18] danielgent commented on #3378
When running on a Github workflow though the steps in the IB aren't sufficient as we haven't built storybook and put it into a local `dist` folder

*All* the tests fail with

`ERR! Error when connecting to file:///home/runner/work/site-kit-wp/site-kit-wp/dist/iframe.html?id=global--accordion, did you start or build the storybook first? A storybook instance should be running or a static version sho

[2021-08-03 12:33] danielgent commented on #3378
Downloading the artifacts didn't work (I get an error `'An Artifact with name "storybook-files" was not found.'`)

*But* building storybook first did work

![build first](https://user-images.githubusercontent.com/8496063/128015827-9cafae20-7222-40b9-90e8-9bf0fa502292.png)

Seems excessive to build twice though.  We could just combine the Build and Test storybook jobs @aaemnnosttv

[2021-08-03 12:33] asvinb commented on #3760
Thanks @aaemnnosttv 🤦 Yeah there are still some old references to having multiple values. I updated the IB. Can you take a look once again?

Thanks!

[2021-08-03 13:06] aaemnnosttv commented on #3378
@danielgent it fails to download the artifact because the job needs to depend on the `build` job for that to be available. The `job.needs` is missing.

Regarding the broken stories, I mentioned on the others that it didn't make sense to fix them again and again until this issue was done so, it's somewhat out of scope but unless they're substantially too much effort let's just fix them as part of t

[2021-08-03 13:18] eugene-manuilov commented on #3647
IB :heavy_check_mark:

[2021-08-03 13:21] danielgent commented on #3378
Sure thing Evan

So next I'll do
1. Add `job.needs` so the storybook test step is dependent on the build step
2. Fix the broken stories if they aren't too difficult

Also I need to revisit my changes to `jest.config.js` as my changes to `testMatch` cause the `JS Test` step to fail :thinking:  (as now it's running `stories.test.js` )

[2021-08-03 13:27] tofumatt commented on #3070
As we discussed, we want to solve this on the client-side, which is what the IB proposes. But the ACs still read:

We should probably update that to avoid confusion.

This IB looks good, but there's a lack of clarity to me around how we choose which page title to display. We discussed this on a call, but I think the most recent available page titles (either from the Analytics API or from WordPress

[2021-08-03 13:39] wpdarren commented on #3658
@felixarntz @aaemnnosttv I would like to make sure I am understanding this section in the QAB:

`Ensure that refreshing an access token still works (for this you'll need to ensure the current access token is considered expired, which you can easily accomplish by manually updating the database user option googlesitekit_access_token_expires_in to something like "1", leading to it expiring 1 second a

[2021-08-03 13:40] eugene-manuilov commented on #3758
@tofumatt the `getDataErrorComponent` function also relies on `getModulesData` function but it looks like we don't use it anymore and can delete it. Could you please update IB to delete the file with the `getDataErrorComponent` function entirely? Plus, could you, please, clarify what exactly needs to be deleted from the Assets.php file?

[2021-08-03 14:02] tofumatt commented on #3716
IB ✅

[2021-08-03 14:45] tofumatt commented on #3760
IB ✅  from me.

I'll leave @aaemnnosttv assigned to take a look as well, but I think this looks good. 👍🏻

[2021-08-03 14:54] aaemnnosttv commented on #3294
@eugene-manuilov this part was a little unclear. I think you mean to add this as a new action to fire here since this doesn't exist yet but just checking 🙂

Regarding the parameters for it, the `profileID` isn't relevant since this is used for reporting only and has no presence on the front end. The `propertyID` is the only one I think is really needed so I think it makes sense to make that the fi

[2021-08-03 15:11] eugene-manuilov opened #3796 "Browser navigation is broken after selecting different tabs in the ideas widget"
## Bug Description

When I switch tabs in the ideas widget multiple times, my browser history is full of similar records with just different hashes. It causes a bad user experience because if I want to go back to the previous page, I'll need to click on the back button the same number of times that I switched tabs. Plus, when I click back and the URL changes to the previous one (with a different h

[2021-08-03 15:28] aaemnnosttv commented on #3789
@jamesozzie @bethanylang this looks like a duplicate of #3338 – if so, let's close it accordingly and add any additional context to that one 👍

[2021-08-03 15:37] bethanylang commented on #3789
Thanks @aaemnnosttv! @abdullah1908 Please add any additional details to #3338. Closing.

[2021-08-03 15:37] #3789 closed

[2021-08-03 16:09] danielgent commented on #3378
I'm not making any progress trying to fix these broken stories.  I'm finding the code very cryptic. Helper functions are passed to helper functions and the `registry` isn't making it all the way through

On this line https://github.com/google/site-kit-wp/blob/develop/stories/module-analytics-settings.stories.js#L48
`Component( { callback, registry } ) {` - `registry` is null.  That's as far as I'v

[2021-08-03 17:35] aaemnnosttv commented on #3618
From what I can see, this seems to be coming from the [`combineWidgets`](https://github.com/google/site-kit-wp/blob/6cd8daf647a59f4a8cf6670f29852591ddddbc0a/assets/js/googlesitekit/widgets/util/combine-widgets.js) function.

<details>
<summary>Here is the actual code running from the JS referenced by the trace (matched by hash)</summary>

Below is the code running in the browser – here is the sour

[2021-08-03 17:48] eugene-manuilov opened #3797 "Add source maps to production scripts"
## Feature Description

When an error happens for our users and they create a ticket with information from the browser console log, it can be very hard to figure out what is going on there because the source code is minified (see #3706 and #3618). In order to make it a bit easier for us, we can add source maps to our production scripts. It will give us additional information that can help us to fa

[2021-08-03 20:27] aaemnnosttv commented on #3340
@felixarntz if you're not seeing the proper formatting (e.g. missing spaces), it may also be that you need to restart your editor, and if you're using VS Code you may need to install the extension (and/or ensure it's enabled) as well as set Prettier to be the default formatter 😄

[2021-08-03 22:43] jffng commented on #2862
👋 Using WPML and running into the same issue — analytics for the non-default language (e.g. mysite.com/de/slug) are not reported at all, which seems like it would be a non-starter for a lot of folks trying to use site kit on a multilingual site.

Do you have any suggestions for how I might patch this, or where to start looking? Thank you!

[2021-08-03 23:59] tofumatt commented on #3646
From what I can see, the entirely of [`assets/js/components/legacy-notifications/notification-counter`](https://github.com/google/site-kit-wp/blob/d77d4fc8d20ff6d5fa5e266c9be495c3bc3d8ae3/assets/js/components/legacy-notifications/notification-counter.js#L37) is obsolete and can be removed, because it relies on an unused `addAction( 'googlesitekit.dataLoaded', 'googlesitekit.dataLoadedGetTotalNotif

[2021-08-04 06:46] aaemnnosttv commented on #3378
@danielgent I agree some of the generator utilities around the old stories are a bit hard to follow.

Please don't do this just yet if it requires substantial changes. If needed we can always handle the broken parts in a separate issue. I'll take a look and see if I can figure out what's going on there.

[2021-08-04 08:36] aaemnnosttv commented on #3378
@danielgent I pushed a few commits which I think should fix things there. Let me know if you run into any other problems 👍

[2021-08-04 08:57] aaemnnosttv commented on #3618
I was able to reproduce this error in a test, with the only condition being no widgets. Moving forward to execution as the fix is rather simple and will include this added test.

![image](https://user-images.githubusercontent.com/1621608/128152804-1af12d9e-d3eb-4b58-9c3e-9c6c15fc632c.png)

[2021-08-04 08:58] ivankruchkoff commented on #3647
This makes sense:

This is a duplicate of the above.

[2021-08-04 09:49] aaemnnosttv commented on #3658
@wpdarren sure I can explain – when you go through the oAuth flow (signing in with Google) and land back in Site Kit, you get an access token which is what we need to make requests with to the Google APIs. This is only valid for 1 hour though, after which it's automatically refreshed on-demand later when another request is made. So what that part of the QAB is describing is a way to manually expir

[2021-08-04 10:13] asvinb commented on #3773
@aaemnnosttv Please note I have added the IB which contains 2 potential solutions. A CSS only solution or another one which uses the `core/ui` data store.

[2021-08-04 10:28] asvinb commented on #3599
- Searched for the `STORE_NAME` throughout the codebase and no `STORE_NAME` constants are used/imported/exported from `constants.js` files. ☑️
- `STORE_NAME` is only present in `create-X-store.js` files. ☑️

### QA: ✅

[2021-08-04 10:56] danielgent commented on #3716
@Pratheep-lab  You mentioned `On the mobile screens give some top padding for the learn more link to start with` but it didn't make it into the IB

This is what the blue notice looks like when it's a single row on some widths

![more top2](https://user-images.githubusercontent.com/8496063/128169508-e7173da6-bde4-4a76-8a77-24ed9bc773ea.png)

![more top](https://user-images.githubusercontent.com/849

[2021-08-04 11:04] aaemnnosttv commented on #3780
@wpdarren after taking a closer look, this was intentionally changed in https://github.com/google/site-kit-wp/issues/874 to mirror the same chart in Search Console. The gray line you're seeing is the zero-line that is present on all charts, it's just that this one is inverted 😄

[2021-08-04 11:04] #3780 closed

[2021-08-04 11:13] danielgent commented on #3716
![two colours in use](https://user-images.githubusercontent.com/8496063/128171017-659b75d3-2d68-4cac-9ecf-b89b2ff9d4e6.png)

These are the two blues that are mentioned. The one on the left is the notice text, the one on the right is royal blue
`$c-royal-blue: #1a73e8;`

This is not only used on the Learn More link (the point of this ticket) but also on the Select and Text Inputs used inside this N

[2021-08-04 11:34] aaemnnosttv commented on #3646
@tofumatt good catch – this is actually something that seems to have been missed when removing the dataAPI. Legacy notifications are still relevant and don't have a replacement yet so we need to keep these around for now.

Regarding the action you referenced, this can be removed and the total can be fetched right away as there is no longer a collective batch request that is needed to wait for http

[2021-08-04 11:44] aaemnnosttv commented on #3773
Thanks @asvinb! Overall, both versions of the IB look pretty good. The CSS-only solution seems appealing and doesn't technically meet the ACs but does achieve the same end result. Maybe it makes sense to do the CSS version first and revisit this later? It doesn't seem like much work to shift things around in React either; what do you think @tofumatt?

[2021-08-04 12:28] eugene-manuilov commented on #3757
@ivankruchkoff thanks for IB, but I would agree with Felix that we don't need to use an over-engineered approach. Let's just support only the Idea Hub-specific case for now. I think what we can do for now is the following:

1. Add a hook that will save the timestamp of the latest idea post status change (we don't even need to cache it for an hour, it can be non-expirable).
1. Add a new endpoint to

[2021-08-04 12:34] wpdarren commented on #3658
@aaemnnosttv brilliant explanation, thank you!

I  _might_ be good with the commands but will reach out to an engineer if I'm struggling.

[2021-08-04 12:39] eugene-manuilov commented on #3758
@tofumatt we can't remove `locale` because it is used in the `getLocale` function: https://github.com/google/site-kit-wp/blob/3db19cbeca41145aefc6c6c3383ee9b66e8b4121/assets/js/util/i18n.js#L379-L389

[2021-08-04 13:40] wpdarren commented on #3702
### QA Update: Pass ✅

**Verified:**

In Google Analytics settings (not edit mode):

- The link `You can make changes to this view...` is removed
- In its place is a short link (with external indicator) to the right side of the `View` value.
- Confirmed that the URL is the same as before and format detailed in AC.
- Confirmed the short link says `Edit in Analytics`
- Confirmed for screen readers,

[2021-08-04 13:44] ivankruchkoff commented on #3759
QA: ✅

No references to variables in AC in codebase.

[2021-08-04 13:58] tofumatt commented on #3773
The CSS solution is clever, but the React one seems straightforward as well so I'd rather we do it that way 🙂 . If it were more complicated and this was a shipping bug I'd see the value in the quick-fix solution, but I don't think either are the case here so let's do it "properly". I'll admit though: that's a slick CSS-only solution, nice one @asvinb 👍🏻

Let's go with the React version. IB ✅

[2021-08-04 13:58] eugene-manuilov commented on #3278
@aaemnnosttv unfortunately, the public path on-the-fly doesn't seem to work. Tried it on my local machine and I still see the empty public path string:

[code]

[2021-08-04 14:10] wpdarren commented on #3658
### QA Update: Pass ✅

- Can confirm that going through the plugin setup works as expected.
- When resetting `wp_googlesitekit_access_token_expires_in` to `1` and clearing cache then refreshing, the token was reset to `3599`

[2021-08-04 14:42] aaemnnosttv commented on #3796
@eugene-manuilov the problem is due to the way `setHash` works. See https://github.com/streamich/react-use/issues/1434. cc: @tofumatt

The maintainers are open to a change that allows for replacing the history on set, but that PR seems to have stalled out. Should we roll our own `useHash` in the meantime? It seems like a fairly straightforward hook 🙂

[2021-08-04 15:05] aaemnnosttv commented on #3762
Thanks @danielgent – you're right that the ACs don't mention changing the `CurrentSurvey` component, but @eugene-manuilov is also right that there is a very simple change needed there in the `ComponentMap` (outside of the component) which maps each question type to the component type that doesn't make sense to do in a separate issue, which I see you've done in your PR 👍

I think the IB is mostly g

[2021-08-04 15:15] aaemnnosttv commented on #3761
Thanks @danielgent – please add a brief description that outlines an approach that touches on each item in the ACs. No need to duplicate what those are, but you can always use that as a kind of blueprint for your IB. The PR looks mostly good but a brief description without getting into encoding the code itself into words would be great.

Also, as mentioned on #3762 – we also need to account for ad

[2021-08-04 15:21] wpdarren commented on #3013
### QA Update: ❌

@asvinb one small UI observation on smaller screen sizes, i.e. Android and iOS mobiles.  When you edit the Optimize settings, there's a large gap between the container ID field and the switch.  In the screenshot you will see the AMP fields but even with the AMP plugin deactivated the same issue occurs.

![image](https://user-images.githubusercontent.com/73545194/128207396-77130f4

[2021-08-04 15:22] eugene-manuilov commented on #3758
IB :heavy_check_mark:

[2021-08-04 15:34] eugene-manuilov commented on #3070
Yes, just the first one returned is enough. Added it to IB.

[2021-08-04 15:40] eugene-manuilov commented on #3796
I wish we could get rid of that `setHash` hook completely and just use vanilla javascript to get and set hashes.

[2021-08-04 15:41] bethanylang commented on #2862
@jffng Thanks for getting in touch!

To clarify, stats _are_ collected for all pages as usual on the front-end; the issue here is reconciling what page in WordPress each reported URL is for. Multilanguage plugins complicate this process because they can prevent Site Kit from identifying these URLs. When Site Kit can’t find a post/page in the local site for the given URL, it just does not show any

[2021-08-04 15:49] eugene-manuilov commented on #3294
@aaemnnosttv IB is updated. Please, take a look.

Updated the action name to be `googlesitekit_analytics_web_tracking_opt_out`.

[2021-08-04 17:33] tofumatt commented on #3618
IB ✅ and code review looks good too, so moving this right over to QA 👍🏻

[2021-08-04 18:33] danielgent commented on #3378
All tests now passing :+1:   Moving to CR

[2021-08-04 19:38] tofumatt commented on #3070
Sounds good. IB ✅

(I amended the ACs to not require the implementation to be server-side, as we discussed on a call.)

[2021-08-05 09:37] jamesozzie commented on #3756
One topic remains open on this issue however the "_additional permissions required_" notice no longer appears. There does seem to be no data within the Site Kit Analytics dashboard for this site, despite data appearing within the Analytics web UI. This is the same as reported in other topics, [one recent.](https://wordpress.org/support/topic/google-site-kit-data-not-showing/#post-14737248).

[2021-08-05 10:33] jamesozzie opened #3804 "Data not appearing within Analytics dashboard despite data on web UI"
## Bug Description

There are a couple of reports of data not appearing within the Site Kit Analytics dashboard since GA4 integration. The reports highlight impacted users:
https://wordpress.org/support/topic/google-site-kit-data-not-showing/#post-14737357 - **Resolved** - SH info within support topic
https://wordpress.org/support/topic/analytics-data-is-not-yet-available-please-check-back-later-1

[2021-08-05 11:11] aaemnnosttv commented on #3796
@eugene-manuilov we don't have to use `useHash` but it is a nice wrapper around getting and setting the hash. I've added ACs so we can look into alternate solutions in the IB.

[2021-08-05 11:26] aaemnnosttv commented on #3294
Thanks @eugene-manuilov – I didn't actually mean the hook name should change, although I can see why you did. For cases where we have web/amp hooks, the web hook doesn't have `web` in the name, only the `amp` one is different (see `includes/Core/Modules/Tags/Module_Web_Tag.php`). I just meant that the firing of that hook should be guarded by the `! is_amp` condition rather than "at the end of the

[2021-08-05 11:51] aaemnnosttv commented on #3646
IB ✅

[2021-08-05 11:54] aaemnnosttv commented on #3761
@danielgent would you please add an estimate?

[2021-08-05 11:55] aaemnnosttv commented on #3762
IB ✅

[2021-08-05 12:08] danielgent commented on #3761
Done @aaemnnosttv . I put it the same as the other ticket  :+1:

[2021-08-05 13:00] wpdarren commented on #3013
@asvinb I have assigned this back to QA, and will get it approved from our conversation on Slack.  I'll also create a new ticket for the UI issue observed here since it is not linked.  Thank you!

[2021-08-05 13:36] eugene-manuilov commented on #3757
@ivankruchkoff let's better use Transient with `0` expiration time which means no expiration. Everything else seems to be good to me.

[2021-08-05 13:40] eugene-manuilov commented on #3757
By `Transient` I meant an instance of the `Transient` class as we do it for the admin notices. I'll update it.

[2021-08-05 13:45] eugene-manuilov commented on #3757
IB :heavy_check_mark: for me. Assigning it to @felixarntz for review as well.

[2021-08-05 13:58] aaemnnosttv commented on #3761
IB ✅

[2021-08-05 14:00] wpdarren commented on #3013
### QA Update: Pass ✅

**Verified:**

Optimize module is set up:

- When you go to the module's settings the `Anti-flicker snippet` status reads `Snippet is not inserted`  [Screenshot](https://user-images.githubusercontent.com/73545194/128207659-27c05a00-55b2-4555-b691-8400d4a20b94.png)
- When activating the `Place anti-flicker snippet on your site` switch, the text reads `Snippet is inserted`  [S

[2021-08-05 16:44] wpdarren commented on #3773
### QA Update:  Pass ✅

- Can confirm that tabs are working as before. Specifically: changing tabs, pagination on all tabs and totals.

https://user-images.githubusercontent.com/73545194/128388644-b950a248-15a2-41df-8103-21d2ee17a2d5.mp4

[2021-08-05 16:45] aaemnnosttv opened #3807 "Add support for enabling GA4 for UA-only Analytics users"
## Feature Description

In https://github.com/google/site-kit-wp/issues/3586 we changed the settings edit view to not show GA4 fields for sites which already had Analytics connected using classic UA Analytics which has been available in Site Kit since the very beginning. The GA4 fields were removed to not force users to set up GA4 just to make a change to the module settings.

In doing so, the exp

[2021-08-05 17:24] aaemnnosttv commented on #3773
## QA ❌

@wpdarren there seems to be a detail that was missed, in that the footer should not appear in the case that there are no ideas for that tab – it should only show the zero state. Also you can see in the video that the size of the footer changes when switching to the saved ideas tab (which has none and I think the graphic squishes the footer).

Sending this back to @danielgent for a follow-

[2021-08-05 20:41] felixarntz commented on #3747
IB ✅

Let's wait with updating the PR (or keep it in sync) until #3681 is merged.

[2021-08-05 20:43] felixarntz commented on #3338
IB ✅

[2021-08-05 20:49] felixarntz commented on #3757
IB ✅

@ivankruchkoff @eugene-manuilov My only thoughts are whether we really need a dedicated API endpoint and all the datastore infrastructure for this single piece of information. I think it would be a lot less work and more straightforward to just expose this in PHP-to-JS data - I know that would not be quite as elegant, but it's also IMO not worth building out a full API infrastructure for it.

[2021-08-05 23:46] felixarntz commented on #3646
@tofumatt @aaemnnosttv IB also LGTM from my end - I think it's reasonable to make the one Tag Manager API change as well, even though that is technically a breaking change on the server-side since we're changing the default. Should be okay this time though.

[2021-08-05 23:49] felixarntz commented on #3340
@aaemnnosttv Thanks, I think this was purely an error on my end. The way the code now is formatted overall is good - at some point when I wrote my previous comment, my VS Code for some reason told me to remove spaces in places where there should be spaces. But I think that may indeed have happened only because I didn't restart the editor after pulling in those changes.

[2021-08-06 00:00] felixarntz commented on #467
@marrrmarrr Yes, it would be about adding logic to get more helpful messages on _why_ there might be a certain zero state. Instead of just saying "You have no data" it could based on additional logic include notes like:
* This may be because you just recently created this Analytics property.
* This may be because your site is still quite new.
* This may be because your site is not indexable by Goo

[2021-08-06 00:01] felixarntz commented on #3000
@marrrmarrr Thanks, that sounds solid to me. Moving to IB

[2021-08-06 00:15] felixarntz opened #3808 "Scaffold SwG module"
This is a tracking issue for scaffolding out the SwG module foundation - essentially putting together all the "uncontroversial" pieces about adding a new module which don't require much further design consideration since they rely on established infrastructure.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2021-08-06 00:16] felixarntz opened #3809 "Subscribe with Google"
Epic for the Subscribe with Google module introduction.

[2021-08-06 00:19] felixarntz commented on #3808
@eclarke1 @fhollis Opened this as a tracking issue for the already long-existing PR #3120 that @ChrisAntaki has been working on. I've also defined an SwG epic and label which we can use for other following issues going forward.

As discussed, this issue is something we can merge without having a design doc, since the work is architecturally similar to what Site Kit already has in other modules.

[2021-08-06 10:12] eclarke1 opened #3810 "Experimental label on Idea Hub module"
## Feature Description

Addition of a label/tag on the Idea Hub module/widget on the Site Kit dashboard to indicate it is 'Experimental' once Idea Hub is activated.

Additional consideration is required for other places this label/tag or additional copy is required throughout the SK dashboard and WordPress, for active and inactive states of Idea Hub, such as:

- CTA banner/notification in SK dashb

[2021-08-06 10:14] danielgent commented on #3773
I'm not sure what you mean by this @aaemnnosttv  :thinking:

@eugene-manuilov  added a fix to my PR where he hides the new footer when the tab is empty

_when has pagination_

![footer with pagination](https://user-images.githubusercontent.com/8496063/128495551-b7d1d849-12a5-411d-990e-760e0eed25df.png)

_when empty_

![without pagination](https://user-images.githubusercontent.com/8496063/128495560

[2021-08-06 10:15] danielgent commented on #3773
I think what is wanted is that I make the footer size consistent with and without pagination

I'll fix this now by applying the padding to a different element... or maybe a min-height. I'll have a play around

[2021-08-06 10:17] danielgent commented on #3773
One thing I have noticed (which I'm surprised @aaemnnosttv  and @wpdarren  haven't picked up on) is the horizontal scroll now appearing :thinking:

There are `.googlesitekit-idea-hub__content` divs flowing off the screen

![horizontal scroll](https://user-images.githubusercontent.com/8496063/128495883-7ef8dc7c-e1da-4da4-bdf7-684188c925d1.png)

If @aaemnnosttv  and @wpdarren  haven't picked up on i

[2021-08-06 10:19] aaemnnosttv commented on #3773
@danielgent I am aware of the overflow - I believe it is to  prevent the widget changing height when switching tabs which was a recent change. Cc: @asvinb

[2021-08-06 11:43] danielgent commented on #3762
I've added a test for this question type to `CurrentSurvey.test.js`

This wasn't mentioned in the IB though so I don't think it's been thought through :thinking:

In order for the test to pass, it requires changes to the `CurrentSurvey` component, as `SurveyQuestionOpenText` requires different props, and `CurrentSurvey` needs to pass these in.

I'll just make these changes in anyway and then after

[2021-08-06 12:00] wpdarren commented on #3773
@aaemnnosttv apologies, I should have read the AC because it doesn't mention the footer in the QAB, although I realise that was the detail of the ticket.  Will make sure to double check.

@danielgent I do have a note about the scrolling to add to the bug bash board because I assumed (possibly wrongly) when QAing this that this was not related.

[2021-08-06 15:07] collimarco commented on #3053
When will you implement this featured?

This is important for privacy and you should provide a solution!

This plugin already has 1+ million installations. I don't think that Google has not enough resources to implement this feature...

[2021-08-06 16:14] bethanylang commented on #3053
Hi @collimarco Thanks for getting in touch! We don't have an ETA on this issue right now, but please do continue to follow here for updates. We release updates to the Site Kit plugin every two weeks and we continue to add new features and enhancements regularly.

[2021-08-08 09:21] casacochecurro opened #3812 "New Ad Code > crossorigin=”anonymous”"
## Feature Description

There is a new JS Ad Code for Ads as this post details:

https://support.google.com/adsense/answer/10627874

In webs with Site Kit the plugin controls this JS.

Is there any plugin update or documentation to choose the JS code with the new code?

Thanks
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## A

[2021-08-09 07:43] abdullah1908 commented on #3812
@casacochecurro thanks for submitting the issue. We are closing this as the same [issue](https://github.com/google/site-kit-wp/issues/3783) is already existed. Please subscribe for updates.

[2021-08-09 07:43] #3812 closed

[2021-08-09 10:51] eugene-manuilov commented on #3757
@felixarntz, yes, PHP-to-JS is a simpler and more straightforward approach, but this is inconsistent with other things that we have in our codebase. We use the API/prefetch/datastore approach for a number of things that can be done much easier using the PHP-to-JS approach.

For example, user tracking status or dismissed feature tours/items - we have API endpoints and datastores for them even thoug

[2021-08-09 11:15] eugene-manuilov commented on #3625
@felixarntz which ga event category do we need to use for this feature tour?

[2021-08-09 11:15] aaemnnosttv commented on #3757
@eugene-manuilov @felixarntz I think we should still use the datastore, but we can probably do without the fetch-related infrastructure for now and keep it to a simple selector that either resolves from a global variable or sets the initial value from the global with no resolver. There could still be a corresponding action to receive the value for tests which is a convention I think we want to kee

[2021-08-09 11:28] danielgent commented on #3760
I think the implementation brief is missing complexity around the handling of `write_in`

If the user selects an option that has `write_in`, what happens if they enter text and then choose another value? Should this value be reset? (I'm not going to do this as there is no mention of this)

_"If there is a write in, i.e free text input, via the writeIn state variable,  it should be added as well to

[2021-08-09 13:37] wpdarren commented on #3716
### QA Update: ⚠️

@tofumatt an observation, which I think @danielgent mentioned in a comment.  The font colour for the select dropdown (`set up a new account` text) is a different shade of blue.  The rest of the items are `#1967D2` but this is `#1A73E8`. Should this be changed as well so it is consistent?

- Can confirm that the `Learn more` appears to the right side on smaller screen sizes.  - [

[2021-08-09 13:42] tofumatt commented on #3716
Ah, I missed that comment here. Yes, fair enough—let's change that colour as well so they're all consistent.

[2021-08-09 14:26] johnPhillips commented on #3378
QA ✅
I can see that all tests are passing on Github.

[2021-08-09 15:37] johnPhillips commented on #3618
QA ✅
As noted in the QAB, this one is a tricky one to test, so I took a couple of approaches.

I forced the issue to appear by commenting out all widgets registered to the `AREA_MODULE_ANALYTICS_MAIN` widget area (i.e. the Analytics module page). This created a scenario where the widget area was rendering with zero widgets. Removing the fix then produced the error:

| Without fix | With fix |
|---

[2021-08-09 16:17] johnPhillips commented on #3182
QA ✅
Verified that VRTs are passing

[2021-08-09 16:54] aaemnnosttv opened #3816 "Release 1.39.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* https://github.com/google/site-kit-wp/releases/tag/untagged-511aee2d6cc9bd3a7983

## Changelog entry

* N/A

[2021-08-09 17:09] marrrmarrr commented on #3625
@eugene-manuilov these appear all within the actual widget on the dashboard, so I think the best GA event category to use is "idea_hub_widget". The event names for these are standard: feature_tooltip_view, feature_tooltip_dismiss, feature_tooltip_complete, with the number of the current tooltip as a label.

[2021-08-09 17:14] eugene-manuilov commented on #3625
Thanks, @marrrmarrr, but this is a different feature tour. This one we show on the posts page, not on the dashboard. What do you think if we use the `idea_hub_posts_page` category?

[2021-08-09 17:49] danielgent commented on #3762
Assigning back to you @tofumatt for another round of CR (I have some questions)

I also did 3761 and 3760 and they're very similar so
1. I'm going to assign them to you (hope you don't mind)
1. I'm going to do similar changes to the tests (break them up, turn the comments into full sentences) :+1:

[2021-08-09 18:14] aaemnnosttv commented on #3518
@eugene-manuilov would you please add a QAB?

[2021-08-09 18:19] eugene-manuilov commented on #3518
@wpdarren this is ready for QA.

[2021-08-09 19:07] felixarntz commented on #3810
@aaemnnosttv For the bullet points 2-5 of the ACs: Do you think we should hard-code this considering this a special case? In principle it would be nice to have it tie into the module registration (e.g. `experimental: true`), but I also think this is very specific and we don't know what else could be relevant like this, e.g. would we rather want a boolean `experimental` or a string `annotationText`

[2021-08-09 19:12] wpdarren commented on #3518
### QA Update:  Pass ✅

**Verified:**

- With the custom site URL as `elasticpress.io` the dashboard shows new ideas  - [Screenshot](https://user-images.githubusercontent.com/73545194/128760561-8a6a09d2-167f-4186-864e-d1a8edd8a432.png)
- Confirmed that you can create a draft post using a new idea - [Screenshot](https://user-images.githubusercontent.com/73545194/128760694-31a0f34d-a93d-41d9-9812-37

[2021-08-09 20:11] felixarntz commented on #3747
@eugene-manuilov Can you also add a QA Brief here? It should include some basic testing of saving, unsaving, and dismissing, since that's now enabled by this API endpoint.

[2021-08-09 21:28] tofumatt commented on #3762
@danielgent That sounds good on both accounts, thanks! 🥳

[2021-08-09 21:30] eugene-manuilov commented on #3747
@felixarntz QAB is added.

[2021-08-09 22:30] wpdarren commented on #3773
@tofumatt @aaemnnosttv could you check that the QAB is correct? I just want to make sure I am not missing anything.

[2021-08-10 00:27] felixarntz commented on #3625
@eugene-manuilov Let's use `idea_hub_posts` for here.

[2021-08-10 00:29] felixarntz opened #3817 "Implement GA events for Idea Hub module"
Related to #3524 and #3625, which via feature tours introduce the first couple Idea Hub-focused GA events, this issue is about introducing various other GA events for capturing user interactions with the Idea Hub module and its features.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The event categor

[2021-08-10 00:49] felixarntz commented on #3817
@marrrmarrr I've defined the ACs here based on the latest spreadsheet state.

[2021-08-10 00:57] felixarntz commented on #3757
@eugene-manuilov The difference between the features you're mentioning for reference and what we're building here IMO is that the one here is very specific to a single module at this point. For example, the dismissing feature tours or notifications aspect is something we wanted to make reusable since it's relevant for multiple areas and is already being used as such. What we have here though, we'r

[2021-08-10 02:25] cole10up commented on #3691
### **QA ✅**

Confirmed the following plugin modals:

Reset SK:
![image](https://user-images.githubusercontent.com/57115907/128798900-6bf79712-3e4c-45fe-a322-3abb63b0acca.png)

Analytics:
![image](https://user-images.githubusercontent.com/57115907/128798718-cea423ad-8b87-4d43-846f-53c5dc82382c.png)

Adsense:
![image](https://user-images.githubusercontent.com/57115907/128798477-6fd80942-ca8f-4ed8-b

[2021-08-10 05:54] eugene-manuilov commented on #3757
@felixarntz @aaemnnosttv ok, I have updated IB. Does it look good to you now? cc @johnPhillips

[2021-08-10 08:07] wpdarren commented on #3747
### QA Update: ⚠️

@eugene-manuilov @felixarntz  I noticed that when the idea is moved back to the new tab after un-pinning it (and refreshing), it's not at the end of the list. It appears in the same place as it was when you clicked to save the idea.  Not sure if this is part of the fix that you are currently working on but thought I'd highlight.

**Verified:**

- New ideas appear on the dashboar

[2021-08-10 08:10] eugene-manuilov commented on #3747
@wpdarren that's fine, it doesn't have to be at the end. Apologies for confusing QAB. The most important is that the un-pinned idea is moved back to the new ideas list.

[2021-08-10 08:13] aaemnnosttv commented on #3757
Thanks @eugene-manuilov – I think that looks good for the most part with a few things to clarify:

- `googlesitekit_idea_hub_last_changed`, `_googlesitekitIdeaHub.lastChangedTimestamp` and the `getLastChangedTimestamp` are a little too generically named - we should be more specific with these names to clarify this is about the last idea hub post updated timestamp. I would suggest something like `g

[2021-08-10 08:22] eugene-manuilov commented on #3747
@aaemnnosttv or @felixarntz (whoever is the first) do you mind reviewing a follow-up PR that fixes the issue with un-pinned ideas? #3818

[2021-08-10 08:26] aaemnnosttv commented on #3810
@felixarntz yes, I think it doesn't make sense to build it in to any APIs just yet. I think we can add a component for this to keep things consistent but otherwise, I think it makes sense to handle it inline for now. If anything we could add a new generic "badge" component for this kind of visual element that could be reused in other ways and places to avoid it being entirely unique.

[2021-08-10 08:37] aaemnnosttv commented on #3773
@wpdarren it could be a little more detailed but essentially the change is that the "Updated every 2-3 days" with the pagination buttons has been moved into the footer of the widget itself rather than in the content part of the widget. When this is shown should still be the same as before. No ideas for any tab should still only show its graphic with no footer/pagination as before. The height of th

[2021-08-10 08:53] eugene-manuilov commented on #3757
Thanks, @aaemnnosttv. Updated.

Updated this as well. Added new action, reducer, and resolver to IB to facilitate data transfer from the global variable to the store state. Now, this approach is neither simpler nor more straightforward than using an API endpoint and prefetch functionality. :man_shrugging:

Yes, we add it in resolvers for new/saved/draft ideas selectors. See the snippet in the IB t

[2021-08-10 09:26] wpdarren commented on #3773
QA Update: ❌

Thanks for the explanation @aaemnnosttv

`No ideas for any tab should still only show its graphic with no footer/pagination as before. `

When I go to the Saved or Draft tab with no ideas, the footer still appears with the text `Updated every 2-3 days`

![image](https://user-images.githubusercontent.com/73545194/128842645-8c6ebe5c-a660-4945-ac41-e835620cf8b8.png)

Another observation

[2021-08-10 09:44] wpdarren commented on #3716
### QA Update: ✅

- Can confirm that all of the elements now have the same colour `#1967D2`

![image](https://user-images.githubusercontent.com/73545194/128845354-565bc2ae-7713-46a9-833d-271d5bc75ada.png)

**Verified:**

- Can confirm that the `Learn more` appears to the right side on smaller screen sizes.  - [Screenshot](https://user-images.githubusercontent.com/73545194/128714134-25be468b-8176-4

[2021-08-10 10:37] aaemnnosttv commented on #3691
Thanks @cole10up – just a heads up that your screenshots above don't cover the problem this issue addresses which is an edge case that isn't present in any of the current modules in SK: an empty list of features for a module. See the QAB which references a few stories – one in particular which is needed to test this as the state doesn't exist in the plugin any more (see #3692). I've verified thing

[2021-08-10 10:44] wpdarren commented on #3747
### QA Update: Pass ✅

**Verified:**

- New ideas appear on the dashboard.  [Screenshot](https://user-images.githubusercontent.com/73545194/128829723-3bda5b69-477f-4bc0-8898-ca4523fefb4a.png)
- When you click on the pin icon, the idea is sent to the `Saved` tab.   [Screenshot](https://user-images.githubusercontent.com/73545194/128829674-62ad8456-a2cc-401d-9ae2-b23670de3870.png)
- When you refresh

[2021-08-10 11:00] aaemnnosttv commented on #3757
The original concern was about creating a REST endpoint for a single bit of data which we can easily avoid. For the sake of time, let's do the simplest thing for now and skip all the datastore stuff and just read the global in the control where we make the request to use in the `timestamp`. We can refactor it later to use the datastore if and when we need it to be changeable or selected elsewhere

[2021-08-10 11:11] johnPhillips commented on #1703
QA ✅

- When I added the snippet to the `functions.php` of the current theme and navigated to the front end, I was not seeing `Google Sans` or `Roboto` loaded.
- When I removed the snippet, I saw `Google Sans` or `Roboto` loaded.

[2021-08-10 13:36] danielgent commented on #3761
@tofumatt Assigning back to you as I have some questions :smile:

[2021-08-10 14:31] cole10up commented on #3691
Thanks for having a look @aaemnnosttv. While I understood the ticket and the problem as well as the fact that we no longer have a scenario to cover this specific update. My testing efforts above were to ensure that with this update, we retained the functionality and content in each of our modals.

Thanks again!

[2021-08-10 16:40] eugene-manuilov commented on #3783
@asvinb why do we need to remove the second script tag with JSON encoded data? It contains important configurations for ads and can be used/extended by 3rd party developers via the `googlesitekit_auto_ads_opt` filter. I think we can't delete it, can we?

[2021-08-10 16:40] eugene-manuilov commented on #3000
IB :heavy_check_mark:

[2021-08-10 17:00] eugene-manuilov opened #3820 "Display a notification when a user goes offline"
## Feature Description

Currently, our dashboard and other js-driven pages don't react to the connection lost. So users won't notice it until they make an action that requires an API call and an error is shown. I think it would be a slightly better UX if we can inform the user that they lost connection beforehand by showing an appropriate notification.

We can use [online/offline events](https://d

[2021-08-10 17:08] eugene-manuilov opened #3821 "Get back to the workaround in the for idea state fetch datastore reducer"
## Feature Description

In the PR for #3747, we updated the reducer for the idea state fetch datastore to move ideas back to the new ideas list when we un-pin an idea without verifying that the idea has been actually unsaved. We need to get back to it later and update it once the Idea Hub API returns the correct response with the `saved: false` property when we unsave an idea.

---------------

_D

[2021-08-10 17:19] jamesozzie opened #3822 "Ensure the plugin inserts the Optimize snippet in all scenarios between GA4 and UA"
## Bug Description

If a user has manually or used a third party plugin to insert their Analytics snippet (UA, GA4 or both) and then connects the Optimize module there are situations whereby the plugin won't insert the Optimize container ID - as it can't attach the container ID to a non Site Kit placed snippet.

This can be confusing for users, who may not be aware that the plugin no longer or doe

[2021-08-10 17:24] danielgent commented on #3773
@wpdarren
_When I go to the Saved or Draft tab with no ideas, the footer still appears with the text Updated every 2-3 days_

This was already like this.  The only change in this PR are the pagination controls :smile:

_Another observation when I paginate to the next page the widget area size changes._

I don't see this at all!  Could you record a full-screen video to show us the resolution you're

[2021-08-10 17:43] felixarntz commented on #3810
@aaemnnosttv Sounds good, I've added the requirement of a `Badge` component to the ACs.

[2021-08-10 18:22] cole10up commented on #2681
### **QA ⚠️**

Toggled ads off:
![image](https://user-images.githubusercontent.com/57115907/128912893-c5b4743f-5217-439d-b714-8a1d10569361.png)

![image](https://user-images.githubusercontent.com/57115907/128913851-0c75abe6-6d2b-4c17-a97b-976737be57f0.png)

FE:
![image](https://user-images.githubusercontent.com/57115907/128912949-cb118b66-53a8-4cea-81fb-4ac7491a7c22.png)

Toggled ads on:
![image](

[2021-08-10 19:34] eugene-manuilov commented on #3625
@aaemnnosttv @felixarntz this is ready for another round of code review.

[2021-08-11 09:42] jamesozzie opened #3825 "error: “invalid module slug”"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/error-invalid-module-slug/#post-14755529) is encountering a `error: “invalid module slug”` notice within the “Search Funnel” and “Acquisition” widgets on their primary Site Kit dashboard window.

The error also appears during Analytics setup, with the user having their Analytics snippet placed via another plug

[2021-08-11 11:01] aaemnnosttv opened #3827 "Idea Hub notice not showing in editor"
## Bug Description

In #3272 we added a notice to the editor for posts created for Idea Hub ideas.

This has since stopped appearing due to a change in the way the script is built. Originally, it was added as a "basic module" in our Webpack config which is a separate section of entries which have minimal optimization. https://github.com/google/site-kit-wp/blob/93d2c1b3e902cd4d91aadf82e029d0d5fabaa

[2021-08-11 12:03] asvinb commented on #2681
Good catch @cole10up . Follow up PR has been created here:
https://github.com/google/site-kit-wp/pull/3829

[2021-08-11 12:31] eugene-manuilov commented on #2681
@cole10up this is ready for another round of QA.

[2021-08-11 12:35] wpdarren commented on #3773
@danielgent the first observation was because of the [previous comment](https://github.com/google/site-kit-wp/issues/3773#issuecomment-895841868) @aaemnnosttv left  `No ideas for any tab should still only show its graphic with no footer/pagination as before.` I am assuming the `Updated every 2-3 days` is within the footer and wasn't expecting that to be there.  Can either of you clarify that? Apol

[2021-08-11 13:08] danielgent commented on #3762
PR feedback done but due to the overlap in CR with 3761 and 3760, I'll wait until putting this to CR again

[2021-08-11 13:36] danielgent commented on #3682
Unassigning. I'm not sure how to reset the state for `userInput`

[2021-08-11 13:36] eugene-manuilov commented on #3783
@asvinb AC doesn't ask us to remove something. Why do we need to delete it?

[2021-08-11 13:45] jamesozzie opened #3830 "critical error on this website: An error of type E_COMPILE_ERROR was caused"
## Bug Description

[A support topic](https://wordpress.org/support/topic/error-there-has-been-a-critical-error-on-this-website-3/) was opened in relation to users encountering a critical WordPress error, with 2 users reporting the error coming from Site Kit.

One user has encountered this on all the sites where he has Site Kit active on. Users are unable to access their site, I suspect both front

[2021-08-11 14:07] danielgent commented on #3162
This is ready to go into CR but as it is outside of the current sprint I'm leaving it in execution

[2021-08-11 14:14] eugene-manuilov commented on #3080
@felixarntz how can we get the current URL in the `from_context` method? Do you mean to use the `permaLink` parameter from the current URL query args? In this case, the `from_context` method will not be used because the Context class will use the `from_url` method instead.

[2021-08-11 15:10] bethanylang opened #3832 "Removed "Updated every 2-3 days" language from Idea Hub Saved and Drafts tabs"
## Bug Description

The "Updated every 2-3 days" language currently displays on all three IH tabs on the Dashboard: New, Saved, and Drafts. It should be removed from the Saved and Drafts tabs so it only displays on the New tab.
## Screenshots

![image](https://user-images.githubusercontent.com/12189958/129054955-dbbd5c19-6eb8-4e8a-a63b-e0f076e5b4c6.png)

---------------

_Do not alter or remove an

[2021-08-11 16:12] bethanylang opened #3834 "Change Idea Hub first tour bubble language from "organise" to "organize""
## Bug Description

The first intro bubble uses the UK version of "organise" vs. US "organize." Since this feature is US-only right now, this should change to "organize."

## Screenshots

![image](https://user-images.githubusercontent.com/12189958/129064952-d236154f-ee8b-4cf4-8b49-b9bd9fc4e3a6.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by

[2021-08-11 16:23] asvinb commented on #3817
@felixarntz A couple of things:

- In the AC, the label should be "new", "saved", or "drafts" for `default_tab_view` and `tab_select`. Do you think we can use `new-ideas`, `saved-ideas` and `draft-ideas` instead? Because we have the labels [mapped like that in the code](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/index.js#

[2021-08-11 16:29] asvinb commented on #3783
That's a good question @eugene-manuilov and that raises another question about your previous comment https://github.com/google/site-kit-wp/issues/3783#issuecomment-896137586
If you look at what @jamesozzie posted here: https://github.com/google/site-kit-wp/issues/3783#issuecomment-891160237, you'll notice how the snippets differ. True the AC does not say we need to remove the values but it does no

[2021-08-11 16:33] eugene-manuilov commented on #3783
@asvinb to me it seems like we just need to add `?client=ca-pub-...` parameter to the src URL and `crossorigin="anonymous"` attribute to the script tag itself. Everything else should remain the same.

[2021-08-11 16:39] asvinb commented on #3783
@eugene-manuilov Over to you for final review.

[2021-08-11 16:41] eugene-manuilov commented on #3783
IB :heavy_check_mark:

[2021-08-11 16:54] danielgent commented on #3025
This ticket is ready for Code Review, but as it's not in the current sprint I'll leave it in Execution.

I have some concerns about the ticket though.

The AC says
_"The following SVG components should be converted to svg files and moved to assets/svg
assets/js/components/legacy-notifications/error.js
assets/js/components/legacy-notifications/warning.js"_

But the IB doesn't say to change these. I

[2021-08-11 16:58] danielgent commented on #3025
Also, if my above comment is correct, this should be **QA:Eng** then as there are no user facing changes.

[2021-08-11 16:58] aaemnnosttv commented on #3827
Here is the issue which would fix this in a more holistic way which would be nice to revisit https://github.com/google/site-kit-wp/issues/3195 (cc: @felixarntz)

[2021-08-11 17:52] eugene-manuilov commented on #3830
@felixarntz Ok, I think I figured out what could cause this issue. Our classmap list (in the `autoload_classmap.php` file) contains a record for the `Composer\InstalledVersions` class added by [composer automatically](https://getcomposer.org/doc/07-runtime.md#installed-versions) that points to the `{$vendorDir}/composer/InstalledVersions.php` file. The problem is that we don't include the `vendor`

[2021-08-11 18:10] felixarntz commented on #3830
@eugene-manuilov This seems like a rather critical fix to push. Wouldn't it be more appropriate to provide a `file_exists` check though?

[2021-08-11 18:26] eugene-manuilov commented on #3830
@felixarntz PR #3835 is created.

[2021-08-11 18:33] felixarntz commented on #3830
@eugene-manuilov IB / PR ✅

Can you add a QA Brief? Would be good to test with one of the plugins that were reported to result in that error due to their usage of Composer. Also we need to make sure to test with the ZIP build and not a regular `main` or `develop` build.

[2021-08-11 19:00] eugene-manuilov commented on #3830
@felixarntz QAB is added. Unfortunately, we don't know which plugin uses the `Composer\InstalledVersions` class.

[2021-08-11 19:20] felixarntz commented on #3830
A release build to test this is available at https://github.com/google/site-kit-wp/wiki/refs/heads/release/1.38.1/google-site-kit.zip.

cc @eugene-manuilov @aaemnnosttv @cole10up

[2021-08-11 19:34] felixarntz commented on #3830
## QA: Eng ✅

Due to the extra logic it's no longer possible for a non-Site Kit class to be accidentally picked up by Site Kit's autoloader. Only classes starting in `Google\Site_Kit` are considered.

[2021-08-11 19:34] #3830 closed

[2021-08-11 19:57] felixarntz commented on #3827
IB ✅

[2021-08-11 20:06] felixarntz commented on #3817
@asvinb That's a fair point, I've updated the event labels to use accordingly in the ACs. Good catch also on the notification - that indeed isn't there (and not required), so I removed those two events from the ACs.

[2021-08-11 20:08] felixarntz commented on #3817
@asvinb IB looks good, can you just update the labels based on your suggestion above and the updated ACs?

[2021-08-12 07:49] aaemnnosttv commented on #3025
Thanks @danielgent!

Thank you - not sure why those weren't mentioned in the IB but this should still be done.

We definitely shouldn't have two different instances of the same icon – those look like the same thing just with different positions in the document. Is there any reason why we can't consolidate on using the current `error.svg` for both?

The original IB suggested replacing some of these

[2021-08-12 08:06] simonchampion opened #3836 "Idea Hub feature tour not shown on initial activation"
## Bug Description

When I stepped through the process of activating Idea Hub, accepted scopes and granted access and clicked 'Continue' after agreeing to track my usage of the feature, the Intro Bubble did not display, so it wasn't clear to me that it had actually been added, I had to scroll to find the newly added module.
Not sure if this is expected behaviour, but it would be good to display th

[2021-08-12 08:08] simonchampion opened #3837 "When i click on the view draft for an idea, it takes me to the post composer but I am unable to see the prompt associated with this draft. is it possible to add some default text or title that shows the prompt that is associated with the post?"
## Bug Description

![image](https://user-images.githubusercontent.com/83005909/129161436-a1490c7a-355c-4222-adf6-ec30ac349585.png)

Asana link: https://app.asana.com/0/1200491083500938/1200760567419957

Asana comments:

daishiYesterday at 4:13am
The instructions say that we should expect "In the WordPress editor, you should see an informational notice on top, explaining that this is an Idea Hub i

[2021-08-12 08:23] asvinb opened #3838 "Broken Idea Hub pagination layout"
## Bug Description
Upon resizing the browser to 960px, the layout of the pagination in the Idea Hub dashboard widgets looks broken.

## Steps to reproduce

1. Go to the Site Kit dashboard
3. Scroll down to the Idea Hub widget.
4. Resize browser to 960px (note: I needed to use `961px` - `981px` wide, - @tofumatt)
4. See broken layout

## Screenshots
![image](https://user-images.githubusercontent.co

[2021-08-12 08:26] asvinb opened #3839 "Icons overlapping idea title."
## Bug Description
When the browser is resized to 960px, upon hovering an idea, the icons are displayed on top of the idea name.

## Steps to reproduce

1. Go to Site Kit dashboard
3. Scroll down to Idea Hub widget
4. Resize browser to 960px
5. Hover a suggested idea.
4. See error

## Screenshots
<img src=https://user-images.githubusercontent.com/31818/129164142-b4c2258c-59e3-4ee2-beef-b4486b595c1

[2021-08-12 08:27] simonchampion opened #3840 "Ensure all Side Kick graphics are the correct versions"
## Bug Description

Incorrect graphic:
![image](https://user-images.githubusercontent.com/83005909/129164320-bbeb1e38-caea-4b0a-9b73-e1821fc700b1.png)

Correct graphics:

![image](https://user-images.githubusercontent.com/83005909/129164180-85e2fd50-de92-45d7-882c-57932c8b1c03.png)

Emily Clarke3 days ago
@Mariya Moeva spotted this one - the Side Kick graphics in the Figma file are not the latest

[2021-08-12 08:29] simonchampion opened #3841 "Mobile: Height of ideas list makes for poor UX changing tabs or pagination"
## Bug Description

The height of the list makes it so users will need to scroll down to use the pagination and scroll up again to switch tabs which makes for a rough experience.

Darren: _Yes, just noticed this too. When you paginate, you are not sent to the top of the widget._

**Asana link:** https://app.asana.com/0/1200491083500938/1200759450014575

## Screenshots

![image](https://user-images

[2021-08-12 08:29] simonchampion opened #3842 "Idea row actions have reduced contrast on hover"
## Bug Description

When the browser is resized to 960px, upon hovering an idea, the icons are displayed on top of the idea name.

## Steps to reproduce

1. Activate Idea Hub module and visit the Site Kit dashboard
2. Set your browser width to be at least `961px`.
3. On desktop: Hover over an Idea Hub suggestion with a title that spans multiple lines (On mobile: tap the idea to activate the "Hover

[2021-08-12 08:31] simonchampion opened #3843 "Widget does not show optimal number of ideas per page"
## Bug Description

This probably varies between viewports and length of idea but it's a little odd that the widget could fit another idea but it isn't shown.

This might lead users to not click through to other pages of results as it looks like there are only 4 ideas due to the empty space.

![image](https://user-images.githubusercontent.com/83005909/129164825-3dd8791c-5954-4965-9ed5-d42c74223fc0

[2021-08-12 08:31] simonchampion opened #3844 "Removed ideas reappear after going to a different page and returning to the dashboard"
## Bug Description

Removed ideas reappear after going to a different page and returning to the dashboard

**Asana link**: https://app.asana.com/0/1200491083500938/1200766088500712

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Versio

[2021-08-12 08:32] simonchampion opened #3845 ""Revisit your saved ideas" appears as copy on wp-admin dashboard, even if the user doesn't have any saved ideas."
## Bug Description

The CTA goes to the empty "saved ideas" tab.

![image](https://user-images.githubusercontent.com/83005909/129165087-f31c160f-2621-4525-ab68-d80292f7049e.png)

**Asana Link:** https://app.asana.com/0/1200491083500938/1200766086791616

**Evan**
@Felix Arntz looks like a logic bug https://github.com/google/site-kit-wp/blob/c26b8c6f62e62e51524592e66464f91d15257e1d/assets/js/compone

[2021-08-12 09:28] abdullah1908 opened #3846 "Blank Dashboard after activating Site Kit with this error in console: Uncaught TypeError: can't convert undefined to object"
## Bug Description
A user reported a bug on [support forum](https://wordpress.org/support/topic/blank-dashboard-page-after-activation/): On activating Site Kit it shows blank screen & seeing this error in browser console  `Uncaught TypeError: can't convert undefined to object`.

This error still appears even user disabled all the plugins. Site Kit works fine on another site with the same host.
PS:

[2021-08-12 09:59] asvinb commented on #3817
Thanks @felixarntz
IB Updated.

[2021-08-12 10:21] jamesozzie commented on #3804
Closing this with no response from the other impacted user.

[2021-08-12 10:21] #3804 closed

[2021-08-12 12:15] asvinb commented on #3810
@aaemnnosttv For #2 in the AC, do you know exactly where we should put the experimental label? Because there are many "Idea Hub" text on that screen.
![image](https://user-images.githubusercontent.com/31818/129194649-f1982252-8837-4a2f-9df5-0ac3a82dfa63.png)

Also am wondering whether we can pass an experimental flag to the module when actually registering the module. Thus if we don't want to disp

[2021-08-12 12:27] danielgent commented on #3773
Understood @aaemnnosttv !  I missed that point from the AC as it wasn't present in the IB :smile:

_(I'll revert the follow up PR I did as that was totally wrong)_

I'm not too sure what to do here with the widget component.

Things I've tried
* **Adding extra height to an empty tab**
Does not work.  All tabs are always rendered, so the Footer appears below the tallest one

https://user-images.git

[2021-08-12 12:33] eugene-manuilov commented on #3834
IB :heavy_check_mark:

[2021-08-12 12:37] danielgent commented on #3773
@aaemnnosttv  I've created a branch https://github.com/google/site-kit-wp/pull/3848 with a working fix on but I think this is descending into hacks around the design of the `Widget` component :stuck_out_tongue:

https://user-images.githubusercontent.com/8496063/129196915-aa2c0b8e-4443-4402-8a27-1d26618d5794.mp4

I added a `placeholderFooter` prop to the `Widget` component and I'm passing in a fixe

[2021-08-12 13:04] asvinb opened #3849 "Incorrect CTA background color on Site Kit admin bar"
## Bug Description
When using the Twenty Twenty One theme, the CTA to set up Analytics in the admin bar on the front end has an incorrect background color.

## Steps to reproduce

1. Activate the Twenty Twenty One theme
2. Do not connect the Analytics module or disconnect it if it's connected.
2. Go on the page where the Site Kit admin bar is visible
3. Click on the "Site Kit" link to open the Sit

[2021-08-12 13:31] eugene-manuilov commented on #3837
@aaemnnosttv you said that you worked on a fix for this issue. Did you figure out why it stopped working? I have upgraded my local WP to the latest version and I still see the notice on the post edit screen.

[2021-08-12 14:42] aaemnnosttv opened #3850 "Update formatting of exclusion switches for consistency"
## Feature Description

The `*ExclusionSwitches` components have a few details that are inconsistent between them, but also with other conventions of our UI.

* full-stops for non-sentences / descriptive phrases (e.g. "Ads will be displayed for all users." should not have a full-stop at the end)
* trailing colon after section label/heading (e.g. "Don't display ads for:" should not have a trailing

[2021-08-12 14:47] cole10up commented on #2681
### **QA ✅**

Confirmed fixed.

![image](https://user-images.githubusercontent.com/57115907/129217784-2cae9970-2eb9-4a67-9022-0a57efddc768.png)

Sending to approval

[2021-08-12 14:51] aaemnnosttv commented on #3845
IB ✅

[2021-08-12 14:57] eugene-manuilov commented on #3840
@marrrmarrr @fhollis @eclarke1 which Site Kick graphics is the correct one and for which tab? We display the yellow creature when we have no new ideas, the blue one on the saved ideas tab when we have no saved ideas, and the red one on the drafts tab when we have no drafts.

[2021-08-12 14:58] aaemnnosttv commented on #3773
@danielgent you can pass `Footer={ null }` to not render any footer or wrapping - have you tried doing something with that?

[2021-08-12 15:05] danielgent commented on #3773
@aaemnnosttv  Yes but then the height changes.

Not acceptable as you put in your previous comment:
_"Also very important is that the height of the widget does not change when switching tabs. From what I've seen, this is the complicated bit that together with a conditional footer makes it a bit tricky to meet both criteria."_

[2021-08-12 15:40] danielgent commented on #3762
@tofumatt  Assigning back to you for CR! Hopefully, I've done all the required changes here from the other PRs :crossed_fingers:

[2021-08-12 15:45] danielgent commented on #3025
Makes sense @aaemnnosttv

I've removed the extra `error-2.svg` and am using the existing `error.svg` instead.

I had to adjust the size slightly but due to the different view box there is a slight change in a VRT

![VRT change](https://user-images.githubusercontent.com/8496063/129226952-51e9f147-f39a-4952-99fd-824ae87a8703.png)

[2021-08-12 16:09] simonchampion opened #3852 "WP post list CTA language could be improved for consistency with dashboard CTA"
## Bug Description

[See WP dashboard CTA inconsistent with latest design and language](https://app.asana.com/0/1200491083500938/1200759450014532)

![image](https://user-images.githubusercontent.com/83005909/129230533-cad6637c-7e3d-449f-881d-6311a9d21381.png)

**Asana**: https://app.asana.com/0/1200491083500938/1200759450014538

---------------

_Do not alter or remove anything below. The followin

[2021-08-12 16:09] simonchampion opened #3853 "Reduce vertical spacing for idea panel"
## Bug Description

The spacing and vertical space of the idea panel does not make it seem like there's another page of content here (even if the "1-4 of 9" says there is). I think the reason the idea panel looks this way is to have the same height as the "Top Search Queries" panel next to it, but it is still a bit confusing.

![image](https://user-images.githubusercontent.com/83005909/129164578-3

[2021-08-12 16:10] simonchampion opened #3854 "Layout of zero new ideas inconsistent with zero state for saved and draft ideas"
## Bug Description

![image](https://user-images.githubusercontent.com/83005909/129230784-fbf92d26-e319-4ec9-8fed-7a58466d8ec3.png)

**Asana** - https://app.asana.com/0/1200491083500938/1200763426754102

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, sa

[2021-08-12 16:12] simonchampion opened #3855 "Mobile: The icons look lost. Possible adjusting of the padding to bring closer to the idea"
## Bug Description

Darren CronianYesterday at 12:27pm
I noticed this on Android and iOS phones.

![image](https://user-images.githubusercontent.com/83005909/129230983-95207b4d-7093-4108-bcd5-6330cccfb517.png)

![image](https://user-images.githubusercontent.com/83005909/129230995-9db3ddc0-0cf0-4302-ac54-b9ae568c07d3.png)

**Asana** https://app.asana.com/0/1200491083500938/1200765888444274

-------

[2021-08-12 16:13] #1703 closed

[2021-08-12 16:13] simonchampion opened #3856 "Inconsistencies between number of drafts in WP posts page and Drafts tab"
## Bug Description

As I use the Idea Hub service more and more. and move ideas around between Saved, Drafts etc, I am finding inconsistencies between the counts in Saved and Drafts tabs, versus the number of Draft posts on WP posts page

For example, in WP posts page I have 4 draft articles, however on my Idea Hub module, I somehow have 2 in Saved and 2 in Drafts.

This seems to rectify itself af

[2021-08-12 16:14] simonchampion opened #3857 "When an idea has multiple topics, we need to separate them with a comma or another separator because without a separator it seems like there is one big topic"
## Bug Description

![image](https://user-images.githubusercontent.com/83005909/129231300-77f43c19-4c2f-4d1f-a4f6-9dba14d52d39.png)

![image](https://user-images.githubusercontent.com/83005909/129231313-f79af5f1-a3c0-4b74-a40a-51a6675181ef.png)

![image](https://user-images.githubusercontent.com/83005909/129231321-e77c9756-7ee5-40cb-8643-5a0ec97c1f84.png)

Please note @Pratheep-lab's comments in A

[2021-08-12 16:16] #3716 closed

[2021-08-12 16:16] simonchampion opened #3858 "Can't dismiss or pin suggested post"
## Bug Description

I can't dismiss a suggested idea that appears in the primary widget.
http://recordit.co/LY4iSWIaJ9

Upon each click the below console error appears:
Google Site Kit API Error method:POST datapoint:update-idea-state type:modules identifier:idea-hub error:"The response is not a valid JSON response."

![image](https://user-images.githubusercontent.com/83005909/129231619-0f18b0eb-4

[2021-08-12 16:17] simonchampion opened #3859 "When i click on the draft icon and say the idea is the only one showing on the page, it disappears and it looks like there are no more prompts. i'm wondering if it should automatically switch to the previous page of prompts in this case."
## Bug Description

Please note Asana comments....

**Asana** https://app.asana.com/0/1200491083500938/1200760567419955

## Steps to reproduce

1. Make sure Idea Hub is connected, and you are using the Idea Hub testing plugin (at least [v1.0.6](https://10up.slack.com/files/U11CQS9U1/F02B4EQMWHM/google-site-kit-idea-hub-force-connected.1.0.6.zip))
2. Go to the Site Kit dashboard and locate the Idea

[2021-08-12 16:18] simonchampion opened #3860 "the idea tab doesn't show my idea in the draft tab if i return to the dashboard page by clicking on the back button."
## Bug Description

the idea tab doesn't show my idea in the draft tab if i do the following: 1. click on create draft, go to the draft tab, click on view draft for the idea i just clicked on create draft, after getting to the draft compose page hit the back navigation button.  the idea for the draft i was just looking at is missing from the list of drafts and if i click on the new tab, i see it b

[2021-08-12 16:20] #3013 closed

[2021-08-12 16:21] #990 closed

[2021-08-12 16:22] danielgent commented on #3845
Linked PR is done and ready for CR (but I won't move it to CR as it's outside the current sprint)

[2021-08-12 16:36] felixarntz commented on #3702
## Approval ❌

While this is not about something missed from the ACs or broken behavior, the UI implementation looks not satisfying at this point, since the text is literally right next to the field on its left (see screenshot below).

<img width="642" alt="Screen Shot 2021-08-12 at 9 14 11 AM" src="https://user-images.githubusercontent.com/3531426/129234061-672f95f3-6d1f-459d-8a0c-c9c285513edc.pn

[2021-08-12 16:50] felixarntz commented on #2681
## Approval ❌

There's one problem in the implementation as far as I can tell - it may not be widely relevant, but I think https://github.com/google/site-kit-wp/pull/3770/files#diff-b23cf410a1dd58ea054aef1d56fa863889c75b7706748bfbfb503fd88c56b65bR34-R36 is problematic: _If_ for whatever reason the sub-setting to disable auto-ads is not set, the method should return `true` - since that is the defau

[2021-08-12 17:06] eugene-manuilov commented on #2681
Yes, good catch, @felixarntz. I have created a follow-up PR that updates it. Do you mind reviewing it? #3861

[2021-08-12 17:06] #3691 closed

[2021-08-12 17:06] #3182 closed

[2021-08-12 17:06] #3378 closed

[2021-08-12 17:06] #3340 closed

[2021-08-12 17:07] #2258 closed

[2021-08-12 17:08] #3599 closed

[2021-08-12 17:15] #3644 closed

[2021-08-12 17:28] danielgent commented on #3796
I've just taken the `useHash` from that openPR, got rid of the TypeScript typings, fixed the imports and eslint warnings, and it works

https://user-images.githubusercontent.com/8496063/129239573-f2005782-8a77-4993-bf23-ecedfaf03a2a.mp4

I'll put this into an IB now and link to the `useHash` in that PR as it currently is (the current commit, just in case any changes are made).

[2021-08-12 17:29] felixarntz opened #3863 "PSI API request blocks navigation"
## Bug Description

Since the PageSpeed Insights widget in the Site Kit dashboard can take a while for loading its data from the API (sometimes ~10 seconds), this can have a quite annoying UX impact at times.

1. Ensure the PSI module is activated.
2. Go to the Site Kit dashboard for the first time in an hour (i.e. all widgets will refresh their data from the APIs).
3. Immediately (e.g. after 1 or

[2021-08-12 17:29] felixarntz commented on #3863
@fhollis If we have capacity beyond the Idea Hub issues, this one would be great to look into in the next sprint.

[2021-08-12 17:39] felixarntz commented on #2681
Thanks @eugene-manuilov - with that change, this is good to release!

[2021-08-12 17:39] #2681 closed

[2021-08-12 17:52] aaemnnosttv commented on #3773
@danielgent Yes, that's the tricky part. I'll open a new issue for this part to not block this issue. cc: @felixarntz

[2021-08-12 17:55] eugene-manuilov commented on #3702
@felixarntz here is a follow-up PR: #3864.

https://google.github.io/site-kit-wp/storybook/pull/3864/?path=/story/analytics-module-settings--view-open-with-all-settings-ga4

[2021-08-12 17:58] aaemnnosttv commented on #3773
@wpdarren sending this back to you for a final pass – note I've crossed out the second point in the ACs for now which we'll handle in a follow-up issue.

[2021-08-12 17:58] felixarntz commented on #3810
@asvinb The "experimental" label should appear behind the "Idea Hub" heading on the setup screen.

Regarding registering the module as experimental, Evan and I discussed this earlier on the issue, but decided against it. This isn't something we want to advocate for or encourage - it should be implemented specifically for the Idea Hub module for now, and it is acceptable to have specific "if Idea H

[2021-08-12 17:58] aaemnnosttv commented on #3810
Thanks @asvinb! Per a group call earlier, it was deemed important that we have a design to work with here to minimize iterations later as the end result isn't clearly defined as-is.

@felix – for the badge I envision the visual treatment to be similar to a label in GitHub or Gmail.

Here's a quick mockup I made to show what I had in mind
![image](https://user-images.githubusercontent.com/1621608/1

[2021-08-12 18:02] aaemnnosttv commented on #3025
Thanks @danielgent – that sounds good to me, the difference looks negligible but thanks for raising 👍

[2021-08-12 18:04] felixarntz commented on #3810
@asvinb The IB looks good, just one thing to be refined:

The `Badge` component itself should not have any association with the "experimental" label in itself. It should instead receive a string as prop, and we would render it passing the "experimental" string to the component. As such, the class to use for the component should also not contain the term "experimental", i.e. `googlesitekit-badge` w

[2021-08-12 18:06] felixarntz commented on #3817
IB ✅

[2021-08-12 18:18] eugene-manuilov commented on #3832
@johnPhillips we need to make sure that the Pagination component is right-aligned to be consistent across all tabs.

[2021-08-12 18:22] eugene-manuilov commented on #3844
Hm... I can't replicate this issue. @marrrmarrr can you upload your screencase to this ticket? I can't watch it using the link you posted in Asana.

[2021-08-12 19:14] eugene-manuilov commented on #3856
I can't reproduce it on my local machine. Perhaps Emily used not the latest version of the `develop` branch. @marrrmarrr did you see the same behavior or it worked for you?

[2021-08-12 20:11] aaemnnosttv opened #3865 "Update Idea Hub widget footer based on selected tab"
## Feature Description

In #3773 we moved the Idea Hub widget footer into the widget itself (rather than in the "body" of the component).

This brought the widget to be more consistent with others but left a few things to be addressed.

Other related points were raised in the bug bash which can be addressed here as well.

---------------

_Do not alter or remove anything below. The following secti

[2021-08-12 20:12] aaemnnosttv commented on #3865
@felixarntz anything to add/change about the ACs here?

[2021-08-12 20:20] aaemnnosttv opened #3866 "Idea Hub widget pagination has inconsistent behavior at boundaries"
## Bug Description

The Idea Hub dashboard widget has controls for navigating through pages of ideas in the footer of the widget.

On the first page, the _back_ button/chevron is disabled because of course there is no page before the first.

However, on the last page, the _next_ button/chevron is currently not disabled even though there is no next page to go to which has an odd no-op behavior when

[2021-08-12 20:45] abdullah1908 commented on #990
IMO a message would be a good addition while we disable/enable settings e.g. like **Settings Saved** or **Admin Bar enabled**.  Right now there is not alert/message.
https://www.loom.com/share/ebd59fe12ec34631be209721f25f8915

[2021-08-12 22:34] felixarntz commented on #3865
@aaemnnosttv

Is that correct? That's not how we have it in the designs, plus it would be confusing to have this below the message that says "This may take 24 hours".

[2021-08-12 23:35] felixarntz commented on #3702
Looks a lot better now!
<img width="619" alt="Screen Shot 2021-08-12 at 3 46 07 PM" src="https://user-images.githubusercontent.com/3531426/129279771-c8b11150-9577-439f-8608-0c5df90c9f73.png">

[2021-08-13 08:53] johnPhillips commented on #3832
@eugene-manuilov I did address this (although it's not obvious from the IB!).

If we simply remove the `<Cell>` with the '2-3 days' content but leave the remaining `Grid > Row > Cell > Pagination` structure, then the `Pagination` is left-aligned. I did look, but I couldn't find an MDC grid option to make it align-right.

However, when the `<Pagination>` is rendered inside a simple `div.googlesitek

[2021-08-13 09:35] eugene-manuilov commented on #3832
Ah... ok, then it sounds good to me. Thanks, @johnPhillips. IB :heavy_check_mark:

[2021-08-13 10:10] danielgent commented on #3702
![unalligned](https://user-images.githubusercontent.com/8496063/129341650-1f0442d0-e45d-4eaa-9006-65ac2a598f26.png)

It's not aligned though @felixarntz  @eugene-manuilov @aaemnnosttv   :smile:

On my original approach in the IB I used empty headers as a hack so that it all lined up

[2021-08-13 10:43] johnPhillips commented on #3647
### QA ❓

The following were all verified and looking really good, I just had one question (at the bottom).

- On the module pages, the `#js-googlesitekit-module` container with`data-module-slug` data attribute is all present and correct.

- When the `reAuth` query parameter is set/non-empty and there is also a non-empty `slug` query parameter, both `js-googlesitekit-dashboard` and `#js-googlesite

[2021-08-13 11:07] danielgent commented on #3857
@Pratheep-lab Do you have a design file for this? On Figma or whatever

![done-by-eye](https://user-images.githubusercontent.com/8496063/129348327-3c7ab955-c946-45f5-bb66-e2cc7a034526.png)

I've just done this by eye using the JPG but it's not correct, and I know it'll end up with back-and-forth as we all guess the measurements :wink:

[2021-08-13 11:10] Pratheep-lab commented on #3857
@danielgent Sorry if the Figma file was not shared as part of the Asana task. Here is the direct link to it: https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-Idea-Hub?node-id=21108%3A4109
CC: @eclarke1 @felixarntz

[2021-08-13 11:24] wpdarren commented on #990
@abdullah1908 that is the same behaviour for the other checkboxes, where no alert appears. Personally, I think it's fine as it is.  If you feel this would be a good UX improvement you can create a ticket and the engineers will discuss it.

[2021-08-13 11:27] wpdarren commented on #3702
@felixarntz I was going to mention the spacing between the sentence and link but thought I was being too picky!  😃  It does look a lot better but I agree with @danielgent though it doesn't look aligned.  Shall we open up a new ticket for that, unless we want to change this before the release?

[2021-08-13 11:27] danielgent commented on #3857
@Pratheep-lab  Great stuff!

I don't see the background colour `#e8f1fd` as an existing variable. I'm not sure if that's a problem on Site Kit though. I can let whoever does the IBR tell me

This is what I've got it looking like. Any comments?

![done-by-eye](https://user-images.githubusercontent.com/8496063/129350374-05c543d7-b1ea-459f-bf39-ffacfa564350.png)

[2021-08-13 11:42] abdullah1908 commented on #990
Thanks @wpdarren I'll put my suggestions by submitting new issue.

[2021-08-13 11:42] danielgent commented on #3859
I'm struggling to get any new ideas to actually show.

I'm sure I was seeing some not long ago but now I'm stuck with the message `Idea Hub is generating ideas`

I'm using https://oi.ie/ in the developer settings plugin :thinking:

[2021-08-13 11:55] ivankruchkoff commented on #3816
✅ LGTM

[2021-08-13 12:04] Pratheep-lab commented on #3857
@danielgent Use this color $c-solitude: #e8f0fe; I have updated the designs as well.

[2021-08-13 12:28] alex-moulin commented on #3810
@felixarntz @aaemnnosttv @marrrmarrr following the request on yesterday's call, I put together a mockup to illustrate where the badge should be positioned according to the Acceptance Criteria above.

You can review the mockup here - https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/?node-id=21114%3A4117

Any questions/comments, please let me know.

[2021-08-13 12:39] willowmagrini commented on #3427
1. Everything good
2. https://www.loom.com/share/8755e3c284f94241bb65dfbe9bc662b2
If you need to see any response from the requests please let me know.
I'm still thinking there is something being blocked on our nginx ingress controller.
I've tried to add the following annotations to increase several parameters but still no success.

nginx.ingress.kubernetes.io/client-body-buffer-size=100m
nginx.in

[2021-08-13 14:08] wpdarren commented on #3859
@danielgent  Yes, I noticed it on elasticpress.io this afternoon too.

[2021-08-13 14:16] wpdarren commented on #3816
Gone through our QA checklist and looks good to me.

[2021-08-13 15:35] johnPhillips commented on #3839
@felixarntz The current layout uses MDC grid, which is based on media queries (as far as I can make out). In a sense, media queries are a bit redundant, because the widget can be 'mobile width' on a desktop viewport under the circumstances described (if alongside another widget).

So we need a way to activate the mobile layout based on the _width of the widget_ rather than the viewport. The only w

[2021-08-13 16:58] johnPhillips commented on #3816
All looks good to me! ✅

[2021-08-13 17:06] felixarntz commented on #3702
@wpdarren @danielgent @eugene-manuilov @aaemnnosttv Let's try to fix it before the release on Monday, but without any hacks please :)

We may need to ensure the line height is the same despite the smaller font size? Alternatively, let's change the font size back to what it originally was (i.e. remove the `--tiny` class) - although I like the current version where the link is not that huge.

[2021-08-13 17:13] felixarntz commented on #3839
@johnPhillips Thanks for the detailed insights - I may have phrased the ACs overly broadly, the main thing we should accomplish is indeed for the buttons to appear in their own line below the idea for these viewport sizes. They don't need to 100% match the exact styles used on mobile, the goal is to prevent the overlap.

[2021-08-13 21:55] tofumatt commented on #3816
QA ✅ , looks good to me 👍🏻

[2021-08-15 11:08] danielgent commented on #3838
This is an idea of how to fix this (without changing any other components, only the styling of the `Pagination`)

https://user-images.githubusercontent.com/8496063/129476407-c98effd5-679b-4b24-a7c8-5ba3ea851fe5.mp4

IB is written. Just involves removing the right margin on the first pagination button `<` for the breakpoints mentioned in the AC

[2021-08-15 12:20] danielgent commented on #3841
The AC says
_"if it is smaller than the entire list (e.g. can happen on mobile devices)."_

But I don't think comparing `height of widget < height of viewport` is the correct check, because the user could have scrolled way down so that only the pagination buttons are visible.

IMHO we should just check if the header of the Ideas Hub Widget is visible, and scroll up if it's not.

This is my idea on

[2021-08-16 05:36] ivankruchkoff commented on #3647
@johnPhillips valid find and great catch.

I've put out a subsequent PR and searched through stories and the rest of the codebase for those variables.
https://github.com/google/site-kit-wp/pull/3873

Putting this back in CR and can then go back through to QA.

[2021-08-16 08:37] asvinb commented on #3810
@felixarntz IB has been updated, however I left a couple of comments in Figma for @alex-moulin to review. Based on @alex-moulin 's feedback, we may need to update the estimate.

[2021-08-16 08:58] alex-moulin commented on #3810
@asvinb Happy with the suggestion to make things simpler to implement so I updated the wires accordingly.

[2021-08-16 09:15] asvinb commented on #3810
Thanks @alex-moulin !

[2021-08-16 09:40] marrrmarrr commented on #3865
@felixarntz @aaemnnosttv I think there might be two separate "zero-idea" cases here:
1) right in the beginning after setup
2) if the user clears up the entire list of new prompts (by removing, saving, or starting drafts)

For (1), I think it doesn't make sense to show the "Updated every 2-3 days" footer.
For (2), it would make sense. (And are we showing an illustration there as well?)

[2021-08-16 09:46] ivankruchkoff commented on #336
**QA** ❓

✅ On homepage without amp
Filter: googlesitekit_auto_ads_opt
array(3) { ["google_ad_client"]=> string(23) "ca-pub-1111111111111111" ["enable_page_level_ads"]=> bool(true) ["tag_partner"]=> string(8) "site_kit" }

✅ On homepage with amp
Filter: googlesitekit_amp_auto_ads_attributes
array(1) { ["ad-client"]=> string(23) "ca-pub-1111111111111111" }

❗️On webstory, with / without amp
Expecte

[2021-08-16 10:09] eugene-manuilov commented on #3702
@felixarntz do you mind reviewing #3874?

[2021-08-16 10:27] eugene-manuilov commented on #3838
On my local machine, the pagination layout is broken starting from 996px. I think the most reliable way to fix this issue is to remove the right margin for the first button unconditionally. I'll update the IB.

[2021-08-16 10:28] eugene-manuilov commented on #3838
IB is udpated. @tofumatt do you mind reviewing this IB?

[2021-08-16 10:36] eugene-manuilov commented on #3857
IB :heavy_check_mark:

[2021-08-16 10:47] aaemnnosttv commented on #3837
The existing notice where this was shown was fixed in https://github.com/google/site-kit-wp/issues/3827 👍

cc: @felixarntz

[2021-08-16 10:47] #3837 closed

[2021-08-16 10:53] aaemnnosttv commented on #3840
@danielgent would you please add an estimate?

[2021-08-16 11:30] danielgent commented on #3840
Done @aaemnnosttv !

[2021-08-16 11:57] asvinb commented on #3843
@aaemnnosttv @felixarntz
Assuming that each idea in general will be on 2 lines, I've found that displaying 5 items should be ok. Screenshots below. According to our Analytics reports, in the top 10 screen resolutions, 63% of Site Kit users have a screen resolution of `1366px` and above, 6% have `1280px` and when I tested, 5 ideas looked good.

961px
![image](https://user-images.githubusercontent.c

[2021-08-16 12:07] jamesozzie commented on #3825
The same notice appears within the Search console widgets with the Analytics module disconnected.

[2021-08-16 12:16] eugene-manuilov commented on #3858
This issue is more likely a result of the incorrect version test. The attached screenshot contains dummy ideas that used had been hardcoded before we integrated the real Idea Hub API.

@jamesozzie I am going to assign this ticket to you to confirm it on your end.

[2021-08-16 12:17] eugene-manuilov commented on #3816
LGTM too :heavy_check_mark:

[2021-08-16 13:19] wpdarren commented on #3760
@danielgent @tofumatt I have found [the storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys--survey-question-single-select-story) (the link in the QAB 404's) and can see how the single select form works but would prefer to see this on a test site, so I can try break it 😃   E.g. on Storybook when I click on the dismiss icon nothing happens, so testing o

[2021-08-16 13:29] danielgent commented on #3760
@wpdarren - We should probably include these new controls inside the `CurrentSurvey` stories e.g. the Multiple Questions one https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys-currentsurvey--survey-multiple-questions-story

Good point that these cannot be QA'd just from the story showing the new component individually

[2021-08-16 14:10] wpdarren commented on #3827
### QA Update: ⚠️

@aaemnnosttv There wasn't a reference to the designs on the ticket, so had a look on Figma and the mocks look different to what I am seeing. I am thinking that the mocks are possibly out of date but would like the clarification.

Here is what I am seeing on my test site (looks better IMO)

![image](https://user-images.githubusercontent.com/73545194/129576873-83911639-4db5-4133-9

[2021-08-16 14:14] aaemnnosttv commented on #3853
@felixarntz I think this is a duplicate of #3843 unless this is just about not requiring the two to be the same height?

[2021-08-16 14:22] aaemnnosttv commented on #3854
@marrrmarrr is this a launch blocker? Seems like it could be a P1.

[2021-08-16 14:24] aaemnnosttv commented on #3855
IB ✅

[2021-08-16 14:30] felixarntz commented on #3853
@aaemnnosttv Yes I think this is different: This one is about a problem where there was extra white-space below the ideas on mobile, which in that viewport should never happen as there's nothing next to it where we need to match height. #3843 is about altering the number of ideas to be something more fitting.

[2021-08-16 14:36] felixarntz commented on #3853
@aaemnnosttv Actually - I may have been confusing this one, it's actually similar to a mix between #3843 and #3841? We can probably close this as a duplicate.

[2021-08-16 14:45] tofumatt commented on #3838
Works for me, IB ✅

[2021-08-16 14:46] jamesozzie commented on #3265
Reopening with the issue still occurring for the impacted user. Awaiting further details on changing the homepage type to an individual post or page.

[2021-08-16 14:48] asvinb commented on #336
@ivankruchkoff So, turns out that if we don't have a story specific ad unit, the snippet will not be displayed:
https://github.com/google/site-kit-wp/blob/develop/includes/Modules/AdSense/Tag_Guard.php#L41

Can you add add an unit id in AdSense settings and test again?
![image](https://user-images.githubusercontent.com/31818/129582996-d6f5f7a5-0e66-485a-8952-8917b5421a7e.png)

Thanks!

[2021-08-16 15:24] danielgent commented on #3841
I checked this out on an iPhone on BrowserStack and it works :thinking:

https://user-images.githubusercontent.com/8496063/129587190-703b6cc0-565d-48cd-b4c7-bba04d7deaf7.mp4

But when I try an Android device, `ideaHubContainer.current.getBoundingClientRect().top` is giving me values > 200 pixels when actually the widget is mostly out of view

[2021-08-16 15:24] wpdarren commented on #3760
### QA Update:  Pass ✅

- When activating User Feedback on the Tester plugin, and using the code supplied,  a new `SurveyQuestionSingleSelect JS component` is implemented, rendering a survey question of type `single_select.` with radio buttons.  - [Screenshot](https://user-images.githubusercontent.com/73545194/129588280-f5338d7c-cf3c-4ab1-b46d-2e26ec766e63.png)
- The UI should looks like the above

[2021-08-16 15:28] cole10up commented on #3816
All good on my end. ✅

[2021-08-16 15:34] danielgent commented on #3025
This is outside the current sprint *but* it's ready for Code Review so I've set it to that

[2021-08-16 15:35] danielgent commented on #3162
Setting to Code Review as I'm unassigning tickets from myself :smile:

[2021-08-16 15:36] danielgent commented on #2697
I'm unassigning myself from this as I believe the scope of this ticket is much larger than initially anticipated :smile:

[2021-08-16 16:25] danielgent commented on #3033
As the ticket has been left in EB for a while, WordPress scripts is now up to version 17!  I'll try this on another PR.

[2021-08-16 16:28] eugene-manuilov commented on #3427
Thanks, @willowmagrini. Looks like all redirects happen between proxy and google accounts sites. @adamsilverstein can it happen because the proxy server can't find the verification code on the WordPress site?

[2021-08-16 16:30] felixarntz commented on #3827
@wpdarren The difference is mostly expected, since we've decided to stick to the Gutenberg notices style over what was originally designed. However, shouldn't this notice still have something "blue" in it, as an info notice? Or is the left border just cot off in the screenshot?

cc @aaemnnosttv

[2021-08-16 16:31] felixarntz commented on #3843
@asvinb Displaying 5 ideas looks like a good value to me - IB ✅

[2021-08-16 16:34] felixarntz commented on #3865
@marrrmarrr I've added an extra bullet point about (1) to the ACs - cc @aaemnnosttv

[2021-08-16 16:35] ivankruchkoff commented on #336
Thanks for the update, that works @asvinb .

[2021-08-16 16:54] danielgent commented on #3033
I created two new PRs to upgrade to v16 https://github.com/google/site-kit-wp/pull/3878 and v17 https://github.com/google/site-kit-wp/pull/3879

All GitHub actions run :heavy_check_mark:

Next I'm just going to revisit this TourTooltips test again (due to the changes brought about by having to upgrade `@testing-library/react`)

[2021-08-16 16:56] jamesozzie commented on #3858
Thanks @eugene-manuilov. I suspect all is fine with the latest version after updating. While I have no idea's suggested just yet to test with I am seeing a notice which didn't appear previously.

![image.png](https://images.zenhubusercontent.com/5e3a96adc0f4cb7f729b1888/07444c10-f5a0-431a-a720-42b13c5b68ec)

I'll let you know once the widget is populated.

[2021-08-16 17:33] felixarntz commented on #3702
@eugene-manuilov This now looks good to go on both mobile and desktop after #3874.

[2021-08-16 17:33] #3702 closed

[2021-08-16 17:39] #3773 closed

[2021-08-16 17:40] #336 closed

[2021-08-16 17:43] danielgent commented on #3033
The version 17 upgrade looks fine.

I found a better way to fix the failing TourTooltips.test.js test suite.  We just have to wait for things to be displayed (rather than brute-forcing finding hidden elements).

If all the GitHub actions pass then I'll set this to Code Review :+1:

[2021-08-16 17:49] danielgent commented on #3033
If this version 17 upgrade is fine then all the other PRs can be closed, and their branches deleted :smile:

[2021-08-16 18:15] #3816 closed

[2021-08-16 18:28] felixarntz opened #3880 "Dashboard search visitors widget uses incorrect condition for whether to display zero data state"
## Bug Description

There's a problem with the `DashboardSearchVisitorsWidget`, related to the improvements in #3064: Similar to how `DashboardGoalsWidget` does, that widget should only render in a `WidgetZeroData` state if there is actually no data at all, which in this case cannot be determined based on the regularly used query of the widget alone, since that widget only queries the users from S

[2021-08-16 18:31] danielgent commented on #3133
I'm getting some very odd errors in storybook that free failing on a v51 of google charts :thinking:   (Which we aren't loading!)
https://www.gstatic.com/charts/51/js/jsapi_compiled_default_module.js

In `.storybook/preview-head.html` I've updated the version to 50 (which isn't in the IB)

[2021-08-16 18:52] danielgent commented on #3133
See the version 50 upgrade PR here https://github.com/google/site-kit-wp/pull/3334 and how it fails the VRT and Storybook Test steps (Storybook crashes with errors like this)

![v50-errors](https://user-images.githubusercontent.com/8496063/129614783-9e93b888-81ff-4c75-8173-e0ade873ced1.png)

However I created a PR with Google Charts upgraded to v51 and those tests pass https://github.com/google/si

[2021-08-16 19:11] danielgent commented on #3133
Failing PHP test is happening on new PRs that only have comment changes - https://github.com/google/site-kit-wp/pull/3882/checks?check_run_id=3343479892 - not related to this PR then

[2021-08-17 08:36] aaemnnosttv opened #3883 "PHPUnit on WordPress nightly is broken"
## Bug Description

Recently PHPUnit tests started failing on WordPress nightly due to a recently added dependency requirement that isn't provided when using the WP testing library standalone.

Tests fail like so: https://github.com/google/site-kit-wp/pull/3882/checks?check_run_id=3343479892#step:10:11

[code]

## Additional Context

WP trunk has started requiring PHPUnit polyfills and now relies

[2021-08-17 08:46] eugene-manuilov commented on #3883
IB :heavy_check_mark:

[2021-08-17 08:50] aaemnnosttv commented on #3840
IB ✅

[2021-08-17 08:59] aaemnnosttv commented on #3840
@danielgent would you please add a QAB?

[2021-08-17 09:13] aaemnnosttv commented on #3842
@eugene-manuilov oddly for me the dismiss/delete button does not visually appear to be within the `.googlesitekit-idea-hub__idea--actions` div even though it shows that it is in the inspector.

![image](https://user-images.githubusercontent.com/1621608/129697999-bb4ed7f7-2c87-4932-b9b1-6158d96756aa.png)

Can you take another look and see if you also see this?

How about we put the translucent back

[2021-08-17 09:33] tofumatt opened #3886 "Convert useHash to useQueryParam in Idea Hub"
## Feature Description

We have one remaining use of `useHash` to manage Idea Hub tabs on the dashboard—we should convert this to use React Router for better control of the link behaviour (see #3796) and to remove the `useHash` hook entirely.

Having thought about this more though, we shouldn't rely on hash URLs for non-page-level components/routing. Hash routing should handle page-wide routes, an

[2021-08-17 09:35] tofumatt commented on #3796
Given the implementation here is already done and there is some urgency to Idea Hub tickets, I think this IB/approach is worth merging, but I agree with @eugene-manuilov that we should ditch this hook.

In this case, we should be using React Router here—if we were, it'd be quite straightforward to make this change to replace the history rather than add the hash to the stack as well.

Looking at th

[2021-08-17 10:08] danielgent commented on #3840
Done @aaemnnosttv  :+1:

[2021-08-17 10:11] danielgent commented on #3133
Failing PHP test has now been fixed :+1:

[2021-08-17 10:52] aaemnnosttv commented on #3866
IB ✅

[2021-08-17 11:21] eugene-manuilov commented on #3842
@aaemnnosttv looks like this ticket is a duplicate of #3839. I think we can close this ticket, can't we?

[2021-08-17 11:30] danielgent opened #3887 "Idea hub bug - If visit dashboard with hash in Url then get console error"
## Bug Description

If visiting the Site Kit dashboard with a hash in the Url for the idea Hub Widget e.g. `admin.php?page=googlesitekit-dashboard#new-ideas`
*BUT* there are no results from Idea Hub

![emptystate](https://user-images.githubusercontent.com/8496063/129718447-b139fd6e-f5f3-41fc-b7cc-441c76edae8b.png)

Then we get this console error
[code]

This happens here
https://github.com/google/

[2021-08-17 11:50] danielgent opened #3888 "Idea bug pagination buttons - next button not disabling when on last page (and last page is full)"
## Bug Description

Notice how the _previous_ button is correctly disabled on the first page, but how the next button stays active on the last page.

https://user-images.githubusercontent.com/8496063/129720329-fb9d3ab9-cff2-4163-a5f0-49f9960127c1.mp4

This does not happen if the total is not a multiple of four

The problem is a greater-than should be a greater-than-or-equal-to  :smile:

In `/asset

[2021-08-17 11:55] danielgent commented on #3888
Is duplicate of 3866. Closing

[2021-08-17 11:55] #3888 closed

[2021-08-17 12:47] danielgent commented on #3863
`Go to the Site Kit dashboard for the first time in an hour` Is there any way we can fake this?  :thinking:

Otherwise, it's going to be a very long ticket to develop and test :smile:

It would be good if we could add a query string `?force-widgets-refresh-data` to reset the timer (similar to with the Idea Hub features we can visit an Url to reset them)

It does sound very odd though!
`maybe my un

[2021-08-17 13:07] wpdarren commented on #3827
@felixarntz I do see a blue border on the left of the notice.  It would seem I cut it off my screenshot. So, this is looking as expected but I would like to add another observation. Let's pretend that a user has the 'Disable Gutenberg' plugin activated, no message appears.  I am assuming this is out of scope because we've gone with the Gutenberg notices?

Thought I would throw that one out there,

[2021-08-17 13:43] bethanylang commented on #3741
@jamesozzie Any updates on this one?

[2021-08-17 13:44] bethanylang commented on #3752
@felixarntz Just checking for an update here.

[2021-08-17 14:02] adamsilverstein commented on #3427
@eugene-manuilov - possibly - I will take a look. Have you been able to reproduce the issue?

[2021-08-17 14:32] wpdarren commented on #3762
### QA Update: ❌

@danielgent @tofumatt  The styling does not appear the same as [Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys--survey-question-open-text-story).

This is based on my test site using the code.  Screenshots on [Desktop](https://user-images.githubusercontent.com/73545194/129743116-da38fac8-86a4-445e-b998-ece1961e8ff8.png) and [Mobi

[2021-08-17 14:47] aaemnnosttv commented on #3836
@tofumatt @eugene-manuilov ready for review!

[2021-08-17 14:52] aaemnnosttv commented on #3842
@eugene-manuilov looking at the ACs I think it may actually be more about this one which I think is still valid: https://app.asana.com/0/1200491083500938/1200759450014507/f

@felixarntz ?

[2021-08-17 15:08] jamesozzie commented on #3741
No response from the impacted user and unable to reproduce so far. Closing

[2021-08-17 15:08] #3741 closed

[2021-08-17 15:15] felixarntz commented on #3827
@wpdarren Yes, that is all correct then. So far we only support Gutenberg, so that is behaving as intended.

[2021-08-17 15:15] tofumatt commented on #3836
IB ✅  knowing that this API will become non-private once we upgrade WPData (#3277).

[2021-08-17 15:17] wpdarren commented on #3857
### QA Update: ❌

@eugene-manuilov the font color is #5f6368 on my test site but on the designs it's #333333.  Also, the character spacing appears to be tight. Have to say the font color and character spacing makes the text much easier to read on the [Figma](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=21108%3A4109).

**Verified:**

Verified that idea topics

[2021-08-17 15:20] felixarntz commented on #3863
@danielgent It can be easily enforced, you need to clear your application data for the site you're testing, specifically the session storage.

[2021-08-17 15:41] wpdarren commented on #3827
Thanks for clarifying that @felixarntz

### QA Update: ✅

**Verified:**

- Can confirm that the notice appears when you edit a draft post created in Idea Hub.
- The format of the notice message is `This post was created from an idea you picked in Site Kit’s Idea Hub: <Topic idea title>`
- Confirmed that the notice displays correctly on smaller screen sizes.  - [Screenshot](https://user-images.gith

[2021-08-17 16:18] wpdarren commented on #3855
### QA Update: ✅

- Verified that the icons are closer to the idea name.
- Confirmed that the same applies to saved ideas and draft links.
- Checked on various small screen sizes and supported browsers.

![image](https://user-images.githubusercontent.com/73545194/129762745-74477119-2663-44ba-ab69-64dbf3551406.png)

[2021-08-17 16:25] wpdarren commented on #3834
### QA Update: ✅

Confirmed that the tooltip text for `organised` is changed to `organized`.

![image](https://user-images.githubusercontent.com/73545194/129763763-c285b5a2-99d8-4512-9d81-bfb1756a3937.png)

[2021-08-17 16:32] danielgent commented on #3775
I've spent more time and fixed a few of the react-testing-library tests. I'm not sure I've made any progress with the e2e tests. Probably better if I leave them to someone with more experience with Puppeteer and the codebase. :smile:

[2021-08-17 16:50] danielgent commented on #3857
@Pratheep-lab The desired text colour `#333333` isn't a variable on Site Kit

The closest constants in `assets/sass/config/_variables.scss` are
[code]

![near-black](https://user-images.githubusercontent.com/8496063/129767626-a60f4e32-00d5-4f6c-a2d5-fb1bd918984a.png)

![cape-cod](https://user-images.githubusercontent.com/8496063/129767629-9cd411b4-0398-4aac-99d8-e91e496632d3.png)

I'll go with `ne

[2021-08-17 16:52] Pratheep-lab commented on #3857
@danielgent near black looks good to me. And yes, the letter spacing needs to be more.

Good catch @wpdarren

[2021-08-17 16:54] adamsilverstein commented on #3427
This could very well be the case @willowmagrini, we have had issues in the past where nginx was stripping some query parameters. It is a bit hard to see in your video, but right after you click the Verify button, you are sent back to your website, then back to the service. If you set the network tab to "preserve" logs you will be able to see the redirect.

The URL will start `youdomain.com/wp-admi

[2021-08-17 17:04] wpdarren opened #3894 "Improving Navigating Site Kit Modules on Mobile"
## Bug Description

This has been bugging me for a while and wanted to create this ticket to gather thoughts.  On mobile, it's quite cumbersome to navigate around the different Site Kit modules. In the screencast you will see that I start on the Site Kit dashboard, scroll down the page to view my data. Then decide to visit the search console page. So, I have to scroll to the top, then click on the

[2021-08-17 17:07] danielgent commented on #3857
![looks now](https://user-images.githubusercontent.com/8496063/129770134-b44bdb63-c0f8-4329-ac9c-2ec8a92c766c.png)

It looks a lot better now :smile: @wpdarren  @Pratheep-lab

This is on this PR @eugene-manuilov https://github.com/google/site-kit-wp/pull/3893 . I'll assign the ticket to you now

[2021-08-17 17:16] eugene-manuilov commented on #3857
@wpdarren this is ready for another round of QA

[2021-08-17 17:17] aaemnnosttv commented on #3865
@felixarntz this makes sense although we should avoid conflicting timelines in the zero state and footer like you said. Maybe we should only have the "This may take 24 hours" for the tab-less zero state (no ideas at all)? If they have any ideas, then we would only show the wording in the footer. Does that make sense?

So the only addition to add to the current ACs would be that the "This may take

[2021-08-17 17:22] aaemnnosttv commented on #3841
@tofumatt maybe on mobile we could have a sticky footer for the widget?

[2021-08-17 17:28] markllego opened #3895 "Render timeout waiting for service amp-story-render to be ready.​​​"
## Bug Description

I recently installed Google Web Stories and after using the Inspect Element (Console) the following errors are generated:

Render timeout waiting for service amp-story-render to be ready.​​​

index.js:59 Uncaught Error: Render timeout waiting for service amp-story-render to be ready.​​​
    at ha (index.js:59)
    at pb.createError (log.js:346)
    at timer-impl.js:145
    at t

[2021-08-17 17:29] #3895 closed

[2021-08-17 17:31] aaemnnosttv commented on #3647
Thanks @ivankruchkoff – back to you for another pass @johnPhillips 👍

[2021-08-17 17:37] aaemnnosttv commented on #3853
@felixarntz I think this issue may no longer be relevant as this may have been addressed as part of another issue already. This is using the iOS simulator on the current develop 5c20216de55d97d9d583ad33c82f1e53042c5cb1

https://user-images.githubusercontent.com/1621608/129774005-954cc182-88fd-4bff-9a8b-51547c950a60.mp4

[2021-08-17 17:43] felixarntz commented on #3865
@aaemnnosttv That makes sense to me 👍

[2021-08-17 17:45] eugene-manuilov commented on #3842
@felixarntz yes, I agree with it. #3839 should fix the contrast issue as well. Going to close this ticket.

[2021-08-17 17:45] #3842 closed

[2021-08-17 17:57] aaemnnosttv commented on #3865
@felixarntz updated ACs and reorganized a bit to consolidate the exceptions for that case in one place. On to IB!

[2021-08-17 20:19] felixarntz commented on #3810
@asvinb Two final things about the IB:

It would probably be more appropriate to mark this as required instead of using an empty default. A `Badge` without a label should not be possible to have.

Maybe that's implied, but I want to make sure that "experimental" is specified as translatable string (as for all user-facing strings) and not just the string itself. Just double checking.

[2021-08-17 20:32] felixarntz commented on #3752
@bethanylang @aaemnnosttv @westonruter I've defined the ACs for this issue around fixing the JS error, where our code should be more defensively written. However, the weird situation with double slashes would still be a problem - however, I don't think we should add logic to specifically fix double slashes, since that would open a can of worms around resolving any sort of potential weirdness with

[2021-08-17 20:46] felixarntz opened #3896 "Report fatal errors potentially caused by Site Kit if opted in to event tracking"
In order to be aware of any fatal errors related to Site Kit that happen in the wild (e.g. to more quickly and proactively discover something like #3830 in the future), we should collect fatal errors for those Site Kit users that have opted in to tracking. This will bring parity with what we already have in JS, which has helped us identify and fix breaking JS errors in the wild.

Catching and reco

[2021-08-17 20:47] felixarntz commented on #3896
@aaemnnosttv @tofumatt @eugene-manuilov Let's collaborate to define the rest of the ACs here. It goes a little bit towards IB, but we should still specify as part of the ACs how to actually get the event to Analytics (storing and sending later? sending immediately?).

[2021-08-17 20:49] felixarntz commented on #3896
FYI @bethanylang It might take us a bit to figure out a solid approach here, but we're working on a way to identify fatal errors hopefully before people need to report them to us.

[2021-08-17 21:31] felixarntz commented on #3762
@danielgent Just wanted to check: Have you been possibly making some test requests to the API while working on this? We've been seeing some very sparse errors in our service related to the `/survey/event/` route which only occurred about 10 times within 1 hour yesterday and again about 10 times within 1 hour earlier today (both around 7am Pacific time), so it strongly suggests this is some weird e

[2021-08-17 21:33] tofumatt commented on #3841
This one might also be "automatically" solved with React Router, which tends to change scroll position very intelligently. But adding pagination to the routing is a bit more effort so the easy way is to scroll the idea hub widget whenever the pagination value is updated.

I think for now scrolling when the page changes is fine. Feel free to assign this to me in EB since I already started on the PR

[2021-08-17 21:35] tofumatt commented on #3796
For what it's worth I took a look at re-implementing Idea Hub's widget with React Router and it was quite straightforward.

We might be able to close this with #3897 instead, fwiw.

[2021-08-17 21:42] tofumatt opened #3899 "Idea Hub tabs are not properly localized"
## Bug Description

The tabs in the Idea Hub widget (https://github.com/google/site-kit-wp/blob/1919e84c8c7030dcf510710c59dc5f9b50e4aa21/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/index.js#L186-L189 https://github.com/google/site-kit-wp/blob/1919e84c8c7030dcf510710c59dc5f9b50e4aa21/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/index.js#L192-L195) ar

[2021-08-18 07:02] aaemnnosttv commented on #3899
IB ✅

[2021-08-18 09:42] danielgent commented on #3762
@felixarntz  I'm going to presume that is from @wpdarren testing with some code that @tofumatt wrote  :smile:

See https://pastebin.com/qCtDMYuD

I was just about to do this to finish this ticket (there's no way I can do the styling fixes without seeing it actually on WordPress), but I'll leave this for now if it's affecting actual production data!  :sweat_smile:

[2021-08-18 09:59] asvinb commented on #3810
Sounds good @felixarntz . I've updated the IB by adding the `label` prop as required. As for the `experimental` string, it's implied that it should be translatable, but i made it clear in the IB.
A couple of other things:

- after talking to @aaemnnosttv and @alex-moulin , we found out that the [small bulb icon](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/idea-hub/componen

[2021-08-18 10:11] tofumatt commented on #3762
@felixarntz Yeah that was actually myself and @wpdarren; as mentioned Darren wanted to QA the components on the site, so I used this code: https://pastebin.com/x0iiFBWh to get a survey to appear on the site.

I assumed it would not accept a non-real survey—which I suppose is the case but it caused the errors. At any rate, those requests are definitely intended and not a result of a weird bug/edge-

[2021-08-18 10:26] aaemnnosttv commented on #3852
@marrrmarrr I added a screenshot to the ACs, I think this is all set now 👍

[2021-08-18 10:32] ivankruchkoff commented on #3866
Updated QA instructions as we're now doing 5 per page.

[2021-08-18 10:45] ivankruchkoff opened #3902 "IdeaHub: Draft Created Message Shows on Drafts Tab Briefly"
## Bug Description

The draft created message from new tab is also shown on the drafts tab if we switch there fast enough.

## Steps to reproduce

1. In new tab, create a draft.
2. Switch to drafts tab quickly
3. Notice that it says Draft Created before changing to View Draft

https://user-images.githubusercontent.com/373931/129885002-52251398-299c-4977-85af-da85d36fba1f.mp4

---------------

_Do

[2021-08-18 10:56] johnPhillips commented on #3647
QA ✅

Can't find any references to `_googlesitekitLegacyData.setup.moduleToSetup` in the codebase now.

Nice work @ivankruchkoff 👍

[2021-08-18 13:15] eugene-manuilov commented on #3859
IB :heavy_check_mark:

[2021-08-18 13:17] eugene-manuilov commented on #3852
IB :heavy_check_mark:

[2021-08-18 13:35] eugene-manuilov commented on #3865
I have updated the `content` property of the Footer element to be `footerText` based on the IB from #3832. Everything else looks good. IB :heavy_check_mark:

[2021-08-18 13:44] wpdarren commented on #3857
### QA Update: ✅

**Verified:**

- Verified that idea topics have a light-blue background as shown in the screenshot.

![34322323](https://user-images.githubusercontent.com/73545194/129908978-1d2949fc-7c08-40c0-a987-e4687b968b5f.png)

[2021-08-18 13:45] eugene-manuilov commented on #3841
IB :heavy_check_mark:

[2021-08-18 13:52] danielgent commented on #1045
Hey @tofumatt

I changed my demo PR to read and write to `CORE_UI`

I'm gonna change the IB now

I'd confused myself because this *is not* an SPA! So the redux state gets reset when changing pages

I'd thought that the "Back" button text would get stuck for future module setups! (Which it doesn't of course, as the video shows)

https://user-images.githubusercontent.com/8496063/129910384-aa4671c7-c

[2021-08-18 14:13] wpdarren commented on #3836
@ivankruchkoff @aaemnnosttv do you think this can be tested while the API is not showing ideas?  I tried using the `Test Idea Hub connection` plugin (latest version 1.0.6) and when I connected Idea hub the tour did not appear.  I can trigger the tour with the URL, but in my opinion this isn't really testing this fix.  Thoughts?

[2021-08-18 14:24] eugene-manuilov commented on #3860
I can't reproduce this issue. @wpdarren can you take a look at it too?

[2021-08-18 14:27] wpdarren commented on #3883
@eugene-manuilov I have assigned this to `QA:Eng` but if this not the case please provide additional information in the QAB.

[2021-08-18 14:54] aaemnnosttv commented on #3133
No rush on this but a few questions for @felixarntz in the review.

[2021-08-18 15:25] wpdarren commented on #2070
### QA Update: ⚠️

@asvinb OK, I have tried to test this but need some more direction.  In the QAB.  `Set up Tag Manager and verify if the amp-analytics is outputted in AMP.` Would it be possible to get more information on what we should expect to see and where we would verify this?   I have set up Site Kit with Tag manager, AMP and activated Web Stories. I've looked in the debug log.

![image](ht

[2021-08-18 15:27] johnPhillips commented on #3839
Just to explain the consensus I arrived at with @asvinb, @aaemnnosttv and @eugene-manuilov in a slack conversation:
- We should wrap the action buttons at a suitable breakpoint (Asvin suggested 1200)
- The action buttons should only be hidden when inline, as they look a bit strange if they are hidden when wrapped (see second idea in screenshot below):

![Screenshot 2021-08-18 at 14 32 40](https://

[2021-08-18 15:35] swissspidy commented on #2070
You shouldn't need to activate the AMP plugin for this.

When you create a new story in the Web Stories editor and preview that story on the frontend, you should see some `<amp-analytics>` tag in the source code with a configuration that matches the Tag Manager container ID in Site Kit.

[2021-08-18 15:38] wpdarren commented on #2070
@swissspidy perfect, thank you for the explanation!

[2021-08-18 15:42] danielgent commented on #3775
@tofumatt So far you've fixed every e2e failing test I've had  :smile:

I've got all the react-testing-library tests passing but I've been unsuccessful in getting all the e2e tests to pass.

The errors I get are odd and I'm not that great with Puppeteer. I  find it much harder to know what has happened than, say, Cypress. That combined with my lack of knowledge of the project means I'm wasting tim

[2021-08-18 15:52] wpdarren commented on #2070
### QA Update: ✅

Initially, Google tag manager was not appearing in the source code on a Web story. When the branch was switched to `develop` the AMP container appeared in the Google tag manager source code.  I checked that the configuration matches the Tag Manager container ID in Site Kit.

![image](https://user-images.githubusercontent.com/73545194/129930380-2e2a6636-f8f6-45c6-95bc-a19c68cbdbf6

[2021-08-18 16:01] felixarntz commented on #3762
@tofumatt Thanks for clarifying! No worries, it's totally okay to continue to test with fake surveys, it was mostly important for me to figure out whether it was caused by our own testing (vs something in the plugin being recently broken) 👍

We'll still fix the internal error in the API of course, but it's not critical other than affecting those individual requests.

[2021-08-18 16:05] eugene-manuilov commented on #3896
I think we need to send it immediately because if the fatal error happens during the plugin activation flow, we will not have a "later" chance to send it. Another question is how to do it... I think there is no legit way to send a custom event using Google SDK, right? I have seen that people use different hacks like [this one](https://metamug.com/article/productivity/php-send-google-analytics-even

[2021-08-18 16:09] eugene-manuilov commented on #3896
Actually, after thinking a little bit more, I think we can't track fatal errors at the plugin activation stage anyway because we haven't got consent for tracking from the user yet.

[2021-08-18 16:16] eugene-manuilov commented on #3896
Unfortunately, the `wp_should_handle_php_error` filter is not applied for `E_ERROR`, `E_PARSE`, `E_USER_ERROR`, `E_COMPILE_ERROR`, and `E_RECOVERABLE_ERROR` error types, thus we won't be able to track these errors if we rely on this filter.

[code]

https://core.trac.wordpress.org/browser/tags/5.8/src/wp-includes/class-wp-fatal-error-handler.php#L96

[2021-08-18 17:15] danielgent commented on #3762
@wpdarren  I've just used this JS to create a survey with an open text question
https://pastebin.com/GnK0GBUZ

But for me it looks pretty much like it does on storybook!

![looks like on storybook](https://user-images.githubusercontent.com/8496063/129942652-b1c62280-fe53-44df-9d7d-894f1beadd06.png)

On the screenshot on your comment it looked very broken with the padding all wrong. I can't replica

[2021-08-18 17:26] wpdarren commented on #3762
@danielgent sure, I will take another look at this.

[2021-08-18 17:43] eugene-manuilov commented on #3646
@ivankruchkoff, please, add QAB.

[2021-08-18 18:23] felixarntz commented on #3896
@eugene-manuilov

That's probably correct and make sense anyway, so let's work towards that. In certain cases it's probably still possible to store something in the DB and then send later, but sending it immediately should be more reliable.

I mean technically the JS client also makes a POST request with that data right? We should look into any public documentation on how to _actually_ do this, bu

[2021-08-18 20:07] felixarntz commented on #3810
@asvinb Thanks, that looks good. Regarding your two additional points:
* Let's drop the bulb icon like you've discussed.
* For the "Learn more" link, I think that should remain right after the text as it is now, since this is a common Site Kit practice. If that is a concern, let's rather think about it holistically. cc @alex-moulin

[2021-08-18 20:59] tofumatt commented on #3839
This works for me—thanks for the detailed discussion and reasoning behind the approach in the comments, it helped a lot! 👍🏻

IB ✅

[2021-08-18 21:03] felixarntz opened #3906 "Show tooltips for Idea Hub icon buttons"
The icon buttons in the Idea Hub widget should have tooltips, per the [Figma file](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A2653).

See https://app.asana.com/0/1200491083500938/1200625443460145/f

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The ico

[2021-08-18 21:05] felixarntz commented on #3906
@marrrmarrr The one label that wasn't present in the Figma files is the one for removing an idea from being saved (i.e. "unsaving" it). However "unsave" is a weird term, and we never formally aligned on a proper word for this action. Thoughts? I just used "Unsave idea" for now, but that may not be appropriate, so let's finalize the ACs.

Also @aaemnnosttv let me know if you have suggestions for th

[2021-08-18 21:09] felixarntz opened #3907 "Show spinner when saving, unsaving, or dismissing an idea in Idea Hub widget"
There can be a delay when clicking one of the Idea Hub widget icon buttons to save, unsave, or dismiss an idea. This delay is expected due to sending the API request, however we should cater for this in the UI by showing a loading indicator.

See https://app.asana.com/0/1200491083500938/1200758448284506/f

---------------

_Do not alter or remove anything below. The following sections will be mana

[2021-08-18 21:18] felixarntz opened #3908 "Update Idea Hub module description with more clear message"
The Idea Hub module description should be clarified that the suggestions come from **user-invoked** search queries.

See https://app.asana.com/0/1200491083500938/1200755649650592/f

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Idea Hub module description should be updated to: _Idea Hub suggests w

[2021-08-19 07:47] aaemnnosttv commented on #3796
Thanks @tofumatt – do you think this would make it easier to transition to the generic dashboard? If so then I think that's a bit more of a case to go this route now, otherwise if it makes more work later then let's not 😄

[2021-08-19 07:56] aaemnnosttv commented on #3865
@eugene-manuilov after triaging some of the remaining tasks for Idea Hub yesterday, we decided that the     ["This may take 24 hours" text should be removed](https://app.asana.com/0/1200491083500938/1200764679034916/f) to avoid confusion and is generally more consistent with our other zero states which don't provide a timeline. Do you think this change is worth including here or we should do this

[2021-08-19 07:58] eugene-manuilov commented on #3865
Yes, i can take care of it in this ticket.

[2021-08-19 08:05] ivankruchkoff opened #3909 "Idea Hub post annotation only shown on drafts"
## Bug Description

When you trash a draft post, the idea isn't shown in the trash.

## Steps to reproduce

1. Create a draft from an idea, notice the idea name is in the status.
2. Trash the post, idea name is not shown.
3. Restore the trashed post, and see the idea is shown again.

## Recording

https://user-images.githubusercontent.com/373931/130031511-4fe045a8-c7f4-4f7a-a4dc-d3ac43fadcb7.mp4

[2021-08-19 08:41] asvinb commented on #3810
Sounds good @felixarntz . IB updated!

[2021-08-19 08:57] aaemnnosttv commented on #3836
@wpdarren good question – using the test plugin in its current state will not test this because the problem has to do with the asynchronous resolution of ideas in the check for the tour. By using the plugin, it bypasses this by providing them up front, so it isn't representative enough to test this.

We could still use a plugin to test it (without using the real API) but it needs to actually allow

[2021-08-19 09:06] alex-moulin commented on #3810
@felixarntz Sounds like a plan

[2021-08-19 09:17] ivankruchkoff commented on #3757
QA: ❌

Timestamp param is added via `getLastIdeaPostUpdatedAt()` selector.

* Disabled Site Kit by Google – Test Idea Hub connection
* Reset sitekit
* Enabled Sitekit
* Enabled idea hub module

First load:
googlesitekit.data.stores["modules/idea-hub"].selectors.getLastIdeaPostUpdatedAt()
false - should this be the time when the module is enabled?

* Enabled Site Kit by Google – Test Idea Hub conne

[2021-08-19 10:10] aaemnnosttv commented on #3865
@eugene-manuilov – sounds good, I've updated the ACs accordingly 👍

[2021-08-19 10:23] aaemnnosttv commented on #3810
@felixarntz @asvinb a few thoughts about the component:

- any reason why we wouldn't use `children` for the text/label? We could still make it required
- I realize we only have one badge so far, but regarding the component it might be a good idea to approach it with other states in mind for the future. Not that we need to implement any now, but that we may want to have variants in the future ([ex

[2021-08-19 11:32] aaemnnosttv opened #3911 "Update Idea Hub WP dashboard CTA with latest design and language"
## Feature Description

The Idea Hub CTA in the Site Kit WP dashboard widget should be updated with the latest design and wording related to #3852

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The following all apply to the Idea Hub WP dashboard component (`WPDashboardIdeaHub`)

Overall the CTA should

[2021-08-19 11:49] aaemnnosttv opened #3912 "Change language on banner prompt to activate Idea Hub regarding topics"
## Feature Description

Change language on banner prompt to activate Idea Hub from "relevant to your site's topic" to "relevant to your site's topic(s)"

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The text in the notification which prompts users to set up Idea Hub should be updated to not be specif

[2021-08-19 11:53] aaemnnosttv opened #3913 "Allow for undismissing an idea in the Idea Hub widget"
## Feature Description

Currently ideas in the Idea Hub widget can be dismissed with a single click and no confirmation and no way to undo the action if it was done by mistake. Ideas should be able to be undismissed within a reasonable period of time.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

##

[2021-08-19 13:23] wpdarren commented on #3860
@eugene-manuilov yes, I was able to recreate this issue.  I followed the steps, here's a screencast.

https://user-images.githubusercontent.com/73545194/130076030-91783abf-2182-4060-b9e0-f96d7a89987f.mp4

[2021-08-19 13:23] tofumatt commented on #3317
Tagging this as a good first issue—it will require setting up the Tester Plugin to get the AdSense data loaded, but the change itself is straightforward to make.

[2021-08-19 13:29] wpdarren commented on #3832
QA Update: ✅

I can confirm that the `Updated every 2-3 days` language is only visible on the `new` tab. [Screenshot 1](https://user-images.githubusercontent.com/73545194/130076955-23e5d8e3-2374-4e36-81d2-8e743c50161c.png) - [Screenshot 2](https://user-images.githubusercontent.com/73545194/130076977-a105dbe0-3004-4f85-8488-02f67dd1d3d5.png)

[2021-08-19 13:38] tofumatt commented on #1504
Tagging this as a good first issue—the approach is straightforward though to test the output it will require setting up a site with AdSense, Analytics, Google Analytics 4, and Tag Manager.

[2021-08-19 13:42] eugene-manuilov commented on #3860
Thanks, @wpdarren. Which browser do you use?

[2021-08-19 13:44] wpdarren commented on #3852
### QA Update: ❌

Within idea hub I have [no saved ideas](https://user-images.githubusercontent.com/73545194/130078073-43bdc8f4-f78e-4fff-a768-3959081bcd00.png) but the message in the posts screen is: `Want some inspiration for a new post? Revisit your new ideas in Site Kit.` which does not match the AC.

![image](https://user-images.githubusercontent.com/73545194/130078292-9c4dae09-0efa-4d71-8055

[2021-08-19 13:46] wpdarren commented on #3860
@eugene-manuilov I used Chrome. Would you like me to try with another browser?

[2021-08-19 13:49] eugene-manuilov commented on #3860
No, that's fine, just wanted to double-check it.

[2021-08-19 13:53] eugene-manuilov commented on #3852
@wpdarren that's correct, when you have **no saved ideas** it should show you `... Revisit your new ideas in Site Kit.` message. If you have saved ideas, it will display `... Revisit your saved ideas in Site Kit`.

[2021-08-19 13:56] wpdarren commented on #3852
@eugene-manuilov so is the AC wrong because it says for no saved ideas the text should be `Want some inspiration for a new post? Review your new ideas in Site Kit`

[2021-08-19 13:59] wpdarren commented on #3843
### QA Update: ✅

**Verified:**

- The Idea Hub module displays 5 items instead of 4 on the main dashboard.
- Resizing the browser to < than 960px does not show any empty white space between the ideas and pagination.
- Verified that there is no horizontal scrollbar showing up

![image](https://user-images.githubusercontent.com/73545194/130081618-9b32e4ff-dafc-40e8-a835-c348342f0324.png)

[2021-08-19 14:00] eugene-manuilov commented on #3852
Ah... yes, good catch, @wpdarren. Sorry, I missed that there is a difference in just one word. Assigning back to @asvinb to fix it.

[2021-08-19 14:08] wpdarren commented on #3838
### QA Update: ✅

When the browser is resized to 961px the layout for the pagination of the Idea Hub module is not broken.
I also checked across different breakpoints to make sure the pagination displayed as expected.

![image](https://user-images.githubusercontent.com/73545194/130083182-3c1e3b4a-fb37-4fa4-ba69-e5d1a9626af5.png)

[2021-08-19 14:21] wpdarren commented on #3845
### QA Update: ⚠️

@eugene-manuilov this passes the QAB, but not sure about the font colour on the message and also 'view' link.  Seems inconsistent with other notices.  What do you think?  [Notice font colour](https://user-images.githubusercontent.com/73545194/130085150-7c71e3ba-40d2-4b3e-b23b-47391d7704ff.png) and [Link colour](https://user-images.githubusercontent.com/73545194/130085194-5aa05ee

[2021-08-19 14:34] tofumatt commented on #3294
Given another issue I've flagged as a Good First Issue involves tag output code, I think this one can be included in the Good First Issue label because the parts of the code base it touches and the QA steps are similar.

[2021-08-19 14:35] tofumatt commented on #3849
IB ✅

Tagging this as a good first issue as well.

[2021-08-19 14:57] wpdarren commented on #3836
### QA Update: ✅

On a fresh test site, with idea hub activated with ideas, the tour appears when connecting the module on SK dashboard.
Also made sure that all tour tips functioned and when completed, the tour did not reappear when the browser was refreshed.

![image](https://user-images.githubusercontent.com/73545194/130091241-7e5062db-a392-4bbd-b3c9-f4b777a70520.png)

[2021-08-19 15:20] felixarntz opened #3916 "Update Google API client library to latest version that uses Idea Hub Beta API"
The plugin is currently connecting to the `v1alpha` version of the Idea Hub API. Before launch though, we should switch to the `v1beta` version which is supposed to be published soon. To do that, we'll need to update the Google API client services library to a version where that is updated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2021-08-19 15:34] asvinb commented on #3852
Good catch @wpdarren . @eugene-manuilov Follow up PR:
https://github.com/google/site-kit-wp/pull/3917

[2021-08-19 16:21] eugene-manuilov commented on #3852
@wpdarren this is ready for another pass.

[2021-08-19 16:38] eugene-manuilov commented on #3757
@ivankruchkoff The particular value of the `lastIdeaPostUpdatedAt` property doesn't really matter for us. More important for us is the fact that this property value gets changed when a post changes its status. So, I think we don't need to update it when the Idea Hub module is enabled.

When we create a post, we manually invalidate the cache in the `controlCallback` function which means that we wil

[2021-08-19 16:58] felixarntz commented on #3810
@aaemnnosttv I don't feel strongly about it, but I'd prefer to reserve `children` for things where we want to leave more flexibility. We probably don't want to allow for a badge to include e.g. bold or emphasized text within - the badge itself should fully control the visual appearance IMO. I'd prefer to leave `children` for things like potential multiline text or sentences where including formatt

[2021-08-19 17:47] jamesozzie commented on #3265
Escalating this as I've been unable to determine the cause with further insights from the impacted user. The users homepage lists a collection of latest posts and it wasn't possible to switch to a single page or post. The user did kindly attempt switching only for their site to go down.

There is also another user encountering the same issue although no further insights gathered so far:
https://wo

[2021-08-19 18:06] tofumatt commented on #3796
It certainly doesn't make it any _more_ effort to convert, and could possibly ease the transition. Worst case it's a wash, but given it won't complicate the generic dashboard implementation I say we go for it 😄

[2021-08-19 18:12] tofumatt commented on #3886
I think this should serve to solve:

* #3796
* #3860

in addition to this issue.

[2021-08-20 05:16] cole10up commented on #3761
### **QA ⚠️**

Tested multi_select using the QA brief code:
![image](https://user-images.githubusercontent.com/57115907/130182563-2a44200d-ddcf-416c-8bd4-96e1911a8dd1.png)

Confirmed Firefox, Chrome, Safari and Edge

Checked both links at the bottom of the modal drive to the proper links in a new tab.

@tofumatt I noticed that after the user selects over 4 items the next button is grayed out, is t

[2021-08-20 12:36] wpdarren commented on #3852
### QA Update: ❌

@asvinb @eugene-manuilov Sorry, there is still some odd behaviour with this.   Initially, I did not save any ideas and went to post page and the `revisit` CTA link appeared.  So, I decided to disconnect Site Kit and reset.  When I reconnected the correct CTA of `review` appeared with no saved ideas.  I celebrated and then went to save an idea and go straight back to the post page

[2021-08-20 13:42] wpdarren commented on #3866
### QA Update: ✅

- Verified that the number of results corresponds to a page boundary
- Verified that the next button is disabled on the last page.
- Confirmed that one less (9 items) and one more (11 items) still work as expected.  [Screenshot](https://user-images.githubusercontent.com/73545194/130242337-677bbe83-02d1-4731-bdec-8dc9262258ee.png)
- Confirmed that one less than the total number of

[2021-08-20 14:20] wpdarren commented on #3865
QA Update: ❌

@tofumatt @aaemnnosttv I have a few observations from the AC's

1. `The height of the widget should not change based on the selected tab (Idea Hub dashboard widget layout shift when switching tabs #3723) ` As you can see from my screencast the widget does shift when switching.  taved` and` Drafts` are fine but the New tab does shift height.

https://user-images.githubusercontent.com/

[2021-08-20 14:25] johnPhillips commented on #3682
After discussion with @tofumatt we arrived at an alternative solution to the bug. I've updated the IB to reflect this as requested.

[2021-08-20 14:45] wpdarren commented on #3762
### QA Update: ❌

@felixarntz @tofumatt since Daniel has departed, I still have two observations that I would like to raise.

1) On the [Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys--survey-question-open-text-story) within the QAB, the padding between the input field and submit button seems too big.  I have cleared cache and viewing it in Chrome

[2021-08-20 15:11] tofumatt commented on #3761
Hmm, that's sort of expected but incomplete. I suppose a better solution would be to either:

1. Disable all checkboxes when the maximum number have been reached
2. Show a warning when too many items are selected

The first option is what we do elsewhere (in User Input, for instance):

![2021-08-20 16 10 14](https://user-images.githubusercontent.com/90871/130254479-83df8a14-2358-465f-8288-f27afd43

[2021-08-20 15:14] tofumatt commented on #3865
Hmm, I see. Okay, I'll take this issue over and see about a tweak for that one. Thanks 👍🏻

[2021-08-20 17:14] tofumatt commented on #3865
Actually, I'm not sure I see an issue with the implementation. Maybe the ACs weren't clear enough or didn't account for widget height changing without upsetting the layout, but as-is I can't see any layout shifts happening when the height changes.

The only height shifts I can actually trigger myself are on mobile, but in that case the shifting height isn't as big a deal I think, because it doesn'

[2021-08-21 14:20] johnPhillips commented on #3849
Just a note that the issue was actually reported on the _Twenty Twenty One_ theme, not the Twenty Twenty theme as originally described in the issue. I've updated it.

[2021-08-21 15:07] johnPhillips commented on #3852
I had a poke around the code for this and although the logic seems fine (caveat: my PHP isn't the best!), I am seeing the same behaviour as @wpdarren.
Inside `Idea_Hub.php:: admin_notice_idea_hub_ideas`, it seems `$has_saved_ideas` seems to be truthy even when I have unpinned the saved idea, with `saved_ideas` logging out the idea I have just un-saved.
I wonder if something could be persisting som

[2021-08-22 22:22] johnPhillips commented on #3899
QA ✅
- Verified that the count is rendered in a `<span>`
- Verified that the translations contain the entire text of the tab title

[2021-08-23 07:11] ivankruchkoff commented on #3757
Update: QA: ✅
@eugene-manuilov yes, I can confirm that we're invalidating the cache for the three endpoints.

If we don't want to change the functionality, perhaps we should change `lastIdeaPostUpdatedAt` to better reflect that it doesn't account for new draft posts being created, and also that it's initialised with the value `false` rather than when the idea hub module is enabled.

[2021-08-23 08:10] asvinb commented on #3852
@aaemnnosttv @wpdarren I wonder if we need to open a new ticket since the bug that @wpdarren is describing is not related to the text updates. 🤔
cc @johnPhillips

[2021-08-23 08:58] jamesozzie commented on #3265
Possibly related to #2862 however for this particular user their homepage doesn't use any query param.

[2021-08-23 10:22] wpdarren commented on #3852
@asvinb it is related to text updates. When I have saved ideas I should expect to see `revisit` but currently it says `review` From the AC it is suggesting that the word should change.

[2021-08-23 10:25] wpdarren commented on #3865
@aaemnnosttv I think it depends on the widget you have to the left of the Idea hub widget. If there's no data in the search console widget to the left then the Idea hub widget does shift.  If you do not feel this is an issue that's fine, but the AC does say `the height of the widget should not change based on the selected tab`

[2021-08-23 10:46] johnPhillips commented on #3646
**QA** ✅

- I searched the codebase for `v1/data` and found no references
- Verified that `assets/js/components/SignIn.js` is gone
- There are no remaining instances of `addAction` in the codebase that I could find.
- I also searched the codebases for `todo` (i.e. for mention of legacy code tasks) and `addFilter` and I discussed my findings with @tofumatt. We concluded the remaining instances are

[2021-08-23 11:20] aaemnnosttv opened #3921 "Permission scope modal appears after activating Idea Hub for the first time"
## Bug Description

When Idea Hub is available but inactive, we display a special dismissible CTA on the dashboard prompting the user to set up Idea Hub. Clicking the CTA enables the module but now has a side-effect of temporarily showing the permission scope error after activation due to ideas being requested too early.

https://user-images.githubusercontent.com/1621608/130438700-38a46441-37f2-4d

[2021-08-23 11:39] aaemnnosttv commented on #3852
@wpdarren this issue is just about updating the notices although you've raised a valid point that the notice which is shown should change based on activity. What happens is that the ideas which are requested for the logic of which notice to show are cached in transients which expire after 1 day. The problem is that they are never deleted/invalidated. You can do this manually though via wp-cli or u

[2021-08-23 11:50] aaemnnosttv opened #3922 "Invalidate cached ideas on server on idea activity"
## Feature Description

As mentioned on https://github.com/google/site-kit-wp/issues/3852, the logic for displaying a notice based on new or saved ideas can be based on stale cached ideas in transients. These are currently cached for 1 day and never manually invalidated, which can easily lead to the wrong notice shown or even a notice to show when none should be shown.

---------------

_Do not al

[2021-08-23 11:50] aaemnnosttv commented on #3852
See https://github.com/google/site-kit-wp/issues/3922 for the follow-up.

[2021-08-23 11:52] marrrmarrr commented on #3856
I can't reproduce this any more either. Closing.

[2021-08-23 11:52] #3856 closed

[2021-08-23 11:59] tofumatt commented on #3796
Update: #3886 is a cleaner and more complete implementation that solves this issue and removes the `useHash` hook. Given it's largely ready for CR already, I'm leaving this in CR with me but I think #3886 will fix this issue.

[2021-08-23 13:46] ivankruchkoff commented on #3922
@aaemnnosttv not sure how `or changes to post status` affect the new/saved ideas, unless we mean creation of new drafts from an idea.

[2021-08-23 13:54] aaemnnosttv commented on #3922
@ivankruchkoff yes, creating a draft from an idea does change the number of ideas returned for new/saved ideas (depending on which set it came from). So I think we could use the same logic for the last updated at time here (for this part of the ACs).

[2021-08-23 14:30] wpdarren commented on #3000
### QA Update: ✅

**Verified:**

Within Google Analytics settings, `All logged-in users` is enabled so all they will be excluded from Analytics.  When I start to connect Optimizer the message appears `Analytics is currently set to not track some logged-in users. If you’re setting up or testing experiments on optimize.google.com, make sure you’re not logged in to your WordPress site, otherwise the

[2021-08-23 14:57] wpdarren commented on #3840
### QA Update: ✅

- As per the QAB, I compared the Storybook URLs between `develop` and `main`.  I also looked at the develop code on Github and checked that the correct SVG files were called.

`zero-state-yellow.svg` instead of idea-hub-empty-new-ideas.svg
`zero-state-blue.svg` instead of idea-hub-empty-saved-ideas.svg
`zero-state-red.svg` instead of idea-hub-empty-draft-ideas.svg

[2021-08-23 16:01] wpdarren commented on #3625
### QA Update: ⚠️

@ivankruchkoff since Eugene is out this week, I'd appreciate your thoughts on why the tour is not appearing for me.

- I am connected to elasticpress.io on a new jurassic.ninja site.
- Idea hub is active and setup, and a draft post is created.

When I go to the posts screen no tour tip appears.  Any ideas?

[2021-08-23 16:43] aaemnnosttv commented on #3762
Currently outputting an empty helper text div when there is no text.

![image](https://user-images.githubusercontent.com/1621608/130485111-141a3b94-f232-4478-8b4a-f76255f23db9.png)

[2021-08-23 16:45] ivankruchkoff commented on #3922
@aaemnnosttv but that's already covered in the IB by the `create-idea-draft-post` endpoint update.

[2021-08-23 16:59] felixarntz opened #3924 "Remove userFeedback feature flag"
Since the feature is fully rolled out, we should remove the `userFeedback` feature flag.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `userFeedback` feature flag should be removed
* All code that has been activated when the `userFeedback` feature flag is enabled should work unconditionally now.

[2021-08-23 17:12] wpdarren commented on #3844
@tofumatt I have had a look at this and I am unable to recreate this bug.  I deleted an idea, went to the WP dashboard, then to Site Kit Dashboard and the idea does not reappear on any of the pages under new ideas.

[2021-08-23 17:38] felixarntz commented on #3907
@johnPhillips The IB is pretty much good to go, just one question:

Can you clarify your thoughts on what should possibly change here? I know you discussed with @asvinb, I'd like to see a few more of those thoughts shared here. Is it a problem having the loading indicators only on hover? I'm thinking, if the user clicks one of those buttons, they're already hovering over it anyway, so they should

[2021-08-23 17:41] felixarntz commented on #3133
@aaemnnosttv I _think_ I already replied to them but then forgot to reassign the issue, at least I don't see any other questions. Just to confirm, is #3881 the correct PR? Asking since there's also #3334.

[2021-08-23 18:00] felixarntz commented on #3162
Adding to the 1.40.0 release since this is a trivial enhancement and good to go. cc @aaemnnosttv

[2021-08-23 18:39] tofumatt commented on #3844
I was also unable to recreate this issue.

@marrrmarrr Is it possible to try to recreate this issue on a new site or with a new `develop` zip? I'm not sure thing is a bug anymore. 🤔

[2021-08-24 07:12] ivankruchkoff commented on #3625
@wpdarren, here's what we need to test:

1. idea hub active and setup.
2. draft post created
3. tours not yet dismissed, with the testing plugin ( `Site Kit by Google – Test Idea Hub connection` ) you can visit `/wp-admin/?idea-hub-reset`
4. open the post edit screen `/wp-admin/edit.php` and you should see the feature tour.

When I went through these steps, here's what my feature tour looked like:

[2021-08-24 07:41] ivankruchkoff commented on #3921
@aaemnnosttv I'm unable to repro as clicking the setup takes me to google oauth screen:

https://user-images.githubusercontent.com/373931/130576850-4a834705-612c-46b8-aba1-5527d6a48c36.mp4

[2021-08-24 08:08] aaemnnosttv commented on #3922
Thanks @ivankruchkoff

Your referenced code to change looks good, but the instruction here could be interpreted as a much wider change that we wouldn't want. Not a big deal here but something to be mindful of 🙂

https://github.com/google/site-kit-wp/blob/63fc48c365cd98fad1d0706d0c7835d03696565a/includes/Modules/Idea_Hub.php#L575

Let's move the transient handling to the response handler for this c

[2021-08-24 09:39] asvinb commented on #3907
@johnPhillips Actually we can solve the issue about the hover state by adding another class name  to the container having `googlesitekit-idea-hub__idea--single` as class, for e.g `googlesitekit-idea-hub__idea--is-processing` when `activity` is not null, and in the corresponding styles, we make sure the buttons are displayed irrespective of breakpoints and hover state. So when `googlesitekit-idea-h

[2021-08-24 12:34] wpdarren commented on #3625
@ivankruchkoff I'm still not seeing the feature tour on WordPress posts page.  I have gone through the instructions a few times.  When I run the two commands in console this is what I see.  Is this what you expect to see?

Would it be okay to jump on a quick call. I'll set up a new jurassic.ninja site and screen share with you.

[code]

![image](https://user-images.githubusercontent.com/73545194/1

[2021-08-24 13:12] wpdarren commented on #3162
### QA Update: ❌

@aaemnnosttv @felixarntz in my opinion the icons look a lot smaller than the previous ones. Maybe it's my eyes 😃

The icons are 24x24 according to the SVG files. I'm not sure what the old icons size were.   What are your thoughts?

On `Develop/Main`
![image](https://user-images.githubusercontent.com/73545194/130621345-a1131b5a-06f3-426e-b7a0-0d872748c3af.png)

On `latest release`

[2021-08-24 13:26] bethanylang commented on #2350
@felixarntz @jamesozzie Checking in on this one. Sounds like we need to make a decision on how/if we want to programatically deactivate minification for SK files with WP Rocket. Should this move to Triage instead?

[2021-08-24 13:27] bethanylang commented on #2864
@adamsilverstein Just following up here; let us know if need anything from us.

[2021-08-24 14:11] jamesozzie commented on #2350
@bethanylang We discussed this in a previous internal sync, at what point it was assigned. As these minification conflicts are not specific to WP Rocket we've also done some [internal testing](https://app.asana.com/0/1185360131189553/1200384634437887) for other popular plugins. Happy to triage for further team discussion.

[2021-08-24 14:25] wpdarren commented on #3625
### QA Update: ❌

@ivankruchkoff thank you for your support on this. When I tested it on your live site, it worked straightaway.  I do have an observation though.  The feature tour styling seems to be different than Idea hub.

This is the font style for the title and description on Idea Hub widget.

![tours](https://user-images.githubusercontent.com/73545194/130634033-56afe346-6559-4358-a804-ccf28

[2021-08-24 15:28] aaemnnosttv commented on #3162
Thanks @wpdarren, they are a bit smaller now you're right. I've opened a PR to fix this 👍

[2021-08-24 15:53] aaemnnosttv commented on #3865
@wpdarren @tofumatt – it works correctly on tabs that are in a non-zero state, the height is not preserved in the zero state. I did not test all tabs in each state but I'm guessing this is the problem.

https://user-images.githubusercontent.com/1621608/130648456-6a1b68d6-8a21-49ba-a3eb-67949a32df6f.mp4

The problem is that the footer isn't being rendered at all in this case (as intended visually)

[2021-08-24 15:59] johnPhillips commented on #3907
@felix sure. To be honest, I was slightly vague there because I wasn't sure how the precise implementation would play out with https://github.com/google/site-kit-wp/pull/3920, which is obviously touching the same UI. I think things will have to be slightly fluid between the two issues, or we need to make the other a blocker, solve it and then come back to this one perhaps?

I've outlined my though

[2021-08-24 16:27] johnPhillips commented on #3907
@asvinb - nice idea, thank you. It might make things feel a bit more consistent, and I can add it to the IB if there is consensus. Over to you @felixarntz - let me know what your take is on all this.

[2021-08-24 17:28] felixarntz commented on #3839
@marrrmarrr @alex-Moulin I pinged you on the PR for this #3920, can you share your thoughts there?

[2021-08-24 17:51] aaemnnosttv commented on #3762
Ready for another pass @wpdarren 👍

[2021-08-24 17:55] aaemnnosttv commented on #3625
@wpdarren – These look _nearly_ the same to me but I see what you're talking about.

![image](https://user-images.githubusercontent.com/1621608/130659425-d11a3360-b990-4640-9d5c-c9d2c4af14ca.png)
![image](https://user-images.githubusercontent.com/1621608/130659521-7577fc07-4595-4017-9efa-56a3a539a6cd.png)

The different that I do see is that a different font variant is being rendered for the same

[2021-08-24 18:00] aaemnnosttv commented on #3761
Back to you for another pass @cole10up 👍

[2021-08-24 18:19] aaemnnosttv commented on #3625
@ivankruchkoff @wpdarren after discussing with @felixarntz we decided that we'll address this in a follow-up issue that I'll open tomorrow. The font issue here shouldn't block this from completing QA 👍

Back to you @wpdarren for a final pass.

[2021-08-24 18:34] marrrmarrr commented on #6
Hi @Alex-Hay, @anywarewebmarketing, @billzyfem, @GPurdue, @grpace, @nico-martin, @nicosemp, @Peter-HVD, @razorfrog, @seriouslyjennings, @svensonsan, @TaisaDesigner, @timiwahalahti (and anyone else I might have missed who's shared feedback so far on this topic) -- thanks again for sharing your thoughts, we've made a ton of progress on designing the core dashboard sharing flows and will be starting

[2021-08-24 18:45] douglaskarr commented on #6
As the agency or consultant, we typically have administrative rights so that we can manage the site in its entirety. Our clients typically have editorial rights to write and publish but not change actual site settings. So... we'd set up Site Kit and connect the accounts. Ideally, we'd like them to see the reports but not be able to disable / enable disconnect / connect other google accounts.

No,

[2021-08-24 18:49] jamesozzie opened #3931 "Improve the messaging when a user doesn't grant OAuth access when connecting a module"
If a user tries to connect a service after Site Kit is already setup and then doesn’t grant OAuth permissions 2 notices appear in the dashboard.

1. You need to re-authenticate your Google account. Click here _(links to https://mysite.com/wp-admin/#)_
2. The Site Kit setup was interrupted because you did not grant the necessary permissions. To fix this, redo the plugin setup. _(links to `https://m

[2021-08-25 00:26] elyobo commented on #6
Agreed with @douglaskarr  above; we have a network of ~900 sites that we don't give admin to, but would like to share data to editors.

[2021-08-25 04:21] cole10up commented on #3761
### **QA ⚠️**

![Site Kit by Google Dashboard ‹ SupremeQA — WordPress (2)](https://user-images.githubusercontent.com/57115907/130726025-c0fc39fe-4536-49eb-93fd-da9236c4f577.gif)

Alright, tested again and I see the 'Next' button grayed out after the user selects too many options - that said, it's also grayed out when they select just 1 option. Is this expected @tofumatt ?

[2021-08-25 05:27] billzyfem commented on #6
For us the permissions vary per project.  What would be best is if we can select the roles that are able to view the reports.  One admin connects to google and then the rest can see the reports if their role allows it without needing to connect to google directly.

[2021-08-25 06:42] nicosemp commented on #6
We are very happy this feature is being worked on.

With other plugins, one of the admins makes the connection, and shares the view with other (but not necessarily all) developers and the client. So yes we do need to be able to share it with some of the other admins.

They usually have the "editor" role, but not always. We have some clients with the "admin" role for various reasons.

Overall, havi

[2021-08-25 07:44] aaemnnosttv opened #3932 "Google fonts don't load when enqueued late"
## Bug Description

As discovered in https://github.com/google/site-kit-wp/issues/3625#issuecomment-904854320, when we try to enqueue Google fonts after `(wp|admin)_head`, the fonts end up not being loaded due to some odd legacy behavior around how they are enqueued.

We currently load our fonts primarily using the [JS-based web font loader](https://developers.google.com/fonts/docs/webfont_loader)

[2021-08-25 09:06] aaemnnosttv commented on #3921
@ivankruchkoff – may be a matter of timing (or maybe something else) but it took me to oAuth as well as you can see in my video above. The problem I think is related to the use of `whenActive` which swaps the components once it's considered active which will happen before the navigation (although maybe a race condition?). It happened consistently for me though.

[2021-08-25 09:12] aaemnnosttv commented on #3860
IB ✅

[2021-08-25 09:20] aaemnnosttv commented on #3886
Thanks @tofumatt – this looks good and nice to see that it solves other problems at the same time.

Thinking ahead, especially with the generic dashboard, what if we wanted to encode multiple bits of state in the URL as params for different widgets/UI. I know React Router could handle this but I guess my question is, are route parameters the best way to handle these or should it maybe use query pa

[2021-08-25 09:22] aaemnnosttv commented on #3912
IB ✅

[2021-08-25 09:27] eclarke1 commented on #3853
@aaemnnosttv @felixarntz can you please confirm we are ok to close this ticket?

[2021-08-25 09:28] eclarke1 commented on #3844
@marrrmarrr can you please advise if you are able to reproduce this or if we can close this ticket?

[2021-08-25 09:29] eclarke1 commented on #3854
@marrrmarrr could you please advise on this one whether it is a launch blocker, or Nice to have. In Asana we have it as a launch blocker :)

[2021-08-25 09:30] eclarke1 commented on #3858
@jamesozzie @eugene-manuilov can you please confirm whether this ticket can be closed at all?

[2021-08-25 09:43] jamesozzie commented on #3858
@eclarke1 I can confirm this is no longer occurring for me. https://recordit.co/zMGQzssx4G. Happy to close.

[2021-08-25 09:56] aaemnnosttv commented on #3880
IB ✅

[2021-08-25 09:58] #3858 closed

[2021-08-25 09:59] aaemnnosttv commented on #3924
IB ✅

[2021-08-25 10:06] aaemnnosttv commented on #3924
Thanks for the PR @Patil2099! Normally it's difficult for us to accept PRs from the community but in this case the changes are so small and ready to go that we should be able to use it 👍

[2021-08-25 10:15] abdullah1908 opened #3933 "No way to go back when user stuck on the OAuth flow"
## Bug Description
While setting up Site Kit,  if user didn't continue within specific time on oAuth flow then it shows error which is good. But a button or any link that'd land back to Site Kit screen would be a great addition.

## Steps to reproduce

1. Go to Site Kit Setup
2.  Sign with Google
3. Stay at Additional Access for Site Kit
4. See error

## Screenshots
![Screenshot_32](https://user-i

[2021-08-25 10:33] aaemnnosttv commented on #1045
The current IB is a bit too specific to handling the existing tag case which is not the only case in which a user can be blocked from completing the module setup, but also will no longer be blocking in the future.

I would prefer to see a more generic solution, perhaps by extending the module's store with a selector like `isSetupBlocked`. This could be created by `createModuleStore` and take a fun

[2021-08-25 11:38] wpdarren commented on #3625
### QA Update: ✅

**Verified:**

With no posts in draft the feature tour does not appear on the post page.
When there are draft posts created the feature tour appears as is displayed as per the AC.

![image](https://user-images.githubusercontent.com/73545194/130783969-7520fcd8-d467-40b4-878c-b5e02401f4e1.png)

[2021-08-25 11:44] aaemnnosttv commented on #3841
@felixarntz @tofumatt while the current AC improves the experience, I wouldn't say that it really fixes the root problem: widget controls are separated between header and footer and it isn't easy to switch between the two when the widget is larger than the viewport.

If a user changes the page, it will scroll up, but what if they want to go back? They're forced to scroll down again to reach those

[2021-08-25 11:49] wpdarren commented on #3162
### QA Update: Pass ✅

**Verified:**

- On the Page Speed widget: confirmed that the new icons appear as per the AC.
- Checked the icons on desktop and mobile screen sizes.

![image](https://user-images.githubusercontent.com/73545194/130785270-c5a9c71b-ab8f-4a3f-83fe-e96167f65177.png)

[2021-08-25 12:01] aaemnnosttv commented on #3853
Yes, this is no longer needed as it does not maintain the same height between tabs as on desktop in mobile.
![image](https://user-images.githubusercontent.com/1621608/130786966-e935ffa6-dc1e-4bea-b90a-3be289b69542.png)

[2021-08-25 12:01] #3853 closed

[2021-08-25 12:03] wpdarren commented on #3762
### QA Update: ✅

**Verified**

- Verified that the open text form appears and is displayed as per AC.
- Checked that [Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys--survey-question-open-text-story) works and behaves as per AC

![image](https://user-images.githubusercontent.com/73545194/130786963-457ddb2b-c7b3-4fd3-8647-e4ae9b9eddda.png)

[2021-08-25 12:11] aaemnnosttv commented on #3854
This has already been fixed it seems in another issue.

![image](https://user-images.githubusercontent.com/1621608/130788072-78041c35-7da4-4dad-80f6-ff2497d8cd4a.png)
![image](https://user-images.githubusercontent.com/1621608/130788082-52a686f3-002e-4e60-9bbd-541432f59317.png)
![image](https://user-images.githubusercontent.com/1621608/130788089-23cd199f-9786-4df6-b8e4-26cbaac6debf.png)

[2021-08-25 12:11] #3854 closed

[2021-08-25 12:41] wpdarren commented on #3817
QA Update: Pass ✅

**Verified:**

Went through the AC and made sure that the action/component were logged.
Using the `Google Analytics Debugger `extension, when each event and compared with AC.

![image](https://user-images.githubusercontent.com/73545194/130792022-4a7ccbbc-085d-4d00-babf-e9f75a549292.png)

[2021-08-25 14:03] wpdarren commented on #3338
### QA Update: ✅

**Verified:**

- When Google tag manager is activated and the tag appears in the source code. The switch is enabled to add the code.

![image](https://user-images.githubusercontent.com/73545194/130805046-b596755f-18e3-41bb-a67b-1a8dc0700673.png)

- When the Google tag is added as part of a plugin, the toggle is off in SK settings, and the message appears.

![image](https://user-i

[2021-08-25 15:21] aaemnnosttv opened #3935 "Update E2E to fail on PHP errors/warnings/notices"
## Feature Description

Our E2E tests are intentionally set up to fail if a console log is made unexpectedly. The same has not been true however for PHP log entries which are just as valuable to catch.

Luckily, setting up debug logging in WP has been supported for a very long time, we only need to configure our E2E environment to do this and then to listen for changes during tests. This sounds so

[2021-08-25 15:49] felixarntz commented on #3761
@aaemnnosttv Added the extra ACs here - note also the actual QA problem I noticed above.

[2021-08-25 15:50] radusalagean commented on #462
I spent the last couple of days trying to get SiteKit Google Analytics integrated with a consent popup on my WordPress site. The plugin is great, the first time setup was a breeze and I really wanted to keep using it, especially since this is an official plugin by Google and there is no extra unnecessary stuff attached from third parties. However, being unable to use it in a legal way (i.e. comply

[2021-08-25 15:53] felixarntz commented on #3762
### Approval ❌

Similar to https://github.com/google/site-kit-wp/issues/3761#issuecomment-905583299, the implementation here does not match the ACs, as it is relying on `question.subtitle` and `question.placeholder` instead of `question.question.subtitle` and `question.question.placeholder`.

The overall question schema is _always_ only including the `question_ordinal`, `question_text`, `question_

[2021-08-25 15:57] wpdarren commented on #3865
QA Update: ✅

This works perfectly now!

**Verified:**

- The message `Updated every 2-3 days` is shown only for the new ideas tab.
- The footer is hidden for saved ideas and draft ideas tabs
- The message `This may take 24 hours message` is deleted when there are no ideas in the new ideas list.
- Confirmed the requirements from AC are met in the Idea Hub widget.

[2021-08-25 15:58] felixarntz commented on #1045
@aaemnnosttv I like the idea of an `isSetupBlocked` selector with a function to control its value. 👍

[2021-08-25 16:05] felixarntz opened #3938 "Send Idea Hub activities on certain Idea Hub post interactions"
The Idea Hub API offers a `platforms.properties.ideaActivities.create` endpoint which expects information about activities related to an idea and content creation. The API is currently being finalized, so this issue is pending that work - ACs will be added as soon as possible.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2021-08-25 16:07] felixarntz commented on #3938
@eclarke1 @fhollis This issue and #3916 are the final launch blockers for Idea Hub. However, they're both pending some final API work. On this one, we can start writing an IB yet, but not the actual implementation.

[2021-08-25 16:09] AertHulsebos commented on #462
Hi @radusalagean the proposal exists, as can be read above.

https://github.com/google/site-kit-wp/issues/462#issuecomment-676511017

We (Complianz.io) have a direct integration and built the API, but would rather move our consent efforts toward a universal approach for any plugin that might need consent levels. I'm pretty sure between @rlankhorst & @felixarntz we can implement this rather quickly

[2021-08-25 16:15] over-engineer commented on #462
@radusalagean Hey! Just out of curiosity, which consent popup were you trying to integrate with SiteKit Google Analytics?

[2021-08-25 16:22] radusalagean commented on #462
@AertHulsebos Thanks, I will have a look.

Hey! I tried both https://wordpress.org/plugins/cookie-law-info/ (free version of the plugin) and https://www.cookieyes.com/cookieyes-code-installation-on-wordpress/ (which is not a plugin, but they give you a script which I included in the `head`).

The popups appeared correctly, but neither were blocking the analytics. Looks like the plugin one has inte

[2021-08-25 16:35] felixarntz commented on #3822
@marrrmarrr I've added ACs with preliminary wording. Can you revise that please?

[2021-08-25 16:48] felixarntz commented on #3932
IB ✅

[2021-08-25 17:22] aaemnnosttv opened #3941 "Release 1.40.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* https://github.com/google/site-kit-wp/releases/tag/untagged-9110116bde9cff277fbb

## Changelog entry

* N/A

[2021-08-26 11:13] aaemnnosttv opened #3944 "Allow modules to declare supported screens other than their own"
## Feature Description

In Site Kit some modules have their own screens in wp-admin (e.g. Analytics, Search Console) while others do not (e.g. Optimize). With the addition of Idea Hub, we're starting to see the need for modules to be able to declare screens that the module integrates with but aren't "owned" by the module or even registered by Site Kit at all such as the post editor or the post lis

[2021-08-26 13:05] eclarke1 opened #3945 "Unified Dashboard"
Asana epic Overview Tab: https://app.asana.com/0/1200396481151791/overview featuring all useful links to epic documentation

Design doc: https://docs.google.com/document/d/1StGx76XXisE9MfwM1916D9fn7-H9BRiRgizRejTsecI/edit

[2021-08-26 13:09] jamesozzie opened #3946 "Setup failure: Looping back to wp-admin after granting permissions"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/deadly-loop/page/2/#post-14806999) is unable to setup the plugin, with the plugin redirecting the user to the setup screen after granting permissions. As soon as the user clicks on the "Confirm" button they're redirected.

## Additional Context

 - No issues when setting up Site Kit from another site on the sa

[2021-08-26 13:32] marrrmarrr opened #3947 "Introduce dashboard tour tooltips"
## Feature Description

Add tooltips introducing the new features for the generic dashboard.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

**Tooltip 1**
- Position: highlighting the tabs
- Heading: New! Navigate your dashboard easily with the dashboard tabs
- Text: Jump straight to the relevant section

[2021-08-26 21:53] felixarntz opened #3948 "Analytics Storybook stories slightly broken"
## Bug Description

Various Analytics setup Storybook stories (e.g. https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-setup--start-with-matched-property) have the "Configure Analytics" button disabled when it should actually be enabled given the circumstances / UI displayed.

This may have been introduced by some of the GA4 enhancements, where checking these scenari

[2021-08-27 14:32] jamesozzie opened #3951 "Inconsistent data when selecting different reporting periods"
## Bug Description

As reported by [one user in the support forums](https://wordpress.org/support/topic/sometimes-sitekit-shows-0-users-for-last-28-days-and-last-90/) there is no data appearing when selecting some of the different date ranges. This doesn't always occur, just at irregular intervals.

Summary of what the user is encountering:
- **Primary Site Kit dashboard**: The "All users" value r

[2021-08-27 17:17] felixarntz opened #3953 "Update readme FAQ"
The FAQ content in the readme has been the same since 1.0.0 launch. It should be updated to better reflect actual frequently asked questions.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The FAQ section in the readme should be updated with the content from [this doc](https://docs.google.com/document

[2021-08-28 12:45] HaziqAli001 opened #3955 "sitekit is not connecting with rest api"
I have taken all precautionary measures as mentioned in your guide. Still it is showing thw same message and html verification file isnot being uploaded

[2021-08-30 07:14] kuasha420 commented on #3783
Doesn't it need to get merged before going to QA? @tofumatt

[2021-08-30 08:19] aaemnnosttv opened #3957 "Block external non-WP HTTP requests in E2E"
## Feature Description

Originally part of #2798, this issue is about ensuring HTTP requests made by means outside of WP HTTP (i.e. `wp_remote_*` functions) are blocked. Most importantly for us are the requests made by the Google client used by Site Kit to communicate with Google APIs (as well as the SK service) which use the Guzzle HTTP library internally.

In the original issue, we looked at sol

[2021-08-30 08:20] aaemnnosttv commented on #2798
@felixarntz the remaining part has been opened in #3957 👍

[2021-08-30 10:28] jamesozzie commented on #3955
Hi @HaziqAli001,

If you'd like to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the plugins WordPress.org repository we'd be happy to assist you form there. Please include as much relevant information to your support topic as needed to assist with this issue, including any REST API specific notices you may be encountering.

You can share your Site Healt

[2021-08-30 10:28] #3955 closed

[2021-08-30 11:13] tofumatt commented on #3783
@kuasha420 Indeed, I clicked merge but I guess it didn't take 😓

Merged now, thanks! 😅

[2021-08-30 11:18] kuasha420 commented on #3783
@tofumatt Thanks!

[2021-08-30 11:23] jamesozzie commented on #3946
Closing - with the user having downgraded to PHP 7.3 before checking once more, at what point they were able to proceed. There are different PHP modules applied between versions (with register.it - the hosting platform used) and from support side there are no issues with the default PHP 7.4 modules on the same hosting platform.

[2021-08-30 11:23] #3946 closed

[2021-08-30 14:31] wpdarren commented on #3810
### QA Update: ⚠️

@asvinb An observation.  For the Widget CTA on the main dashboard:  The `learn more` link is external so should we have the icon displayed next to it for consistency? I realise it isn't in the AC but thought I'd raise it.

**Verified:**

_Widget CTA on the main dashboard_

- The heading is updated to: `Get new topics to write about` along with the added text `Idea Hub is an expe

[2021-08-30 14:36] wpdarren commented on #3941
LGTM. Went through the QA checklist. ✅

[2021-08-30 15:10] wpdarren commented on #3849
### QA Update: Pass ✅

- Was able to confirm the reported issue as per steps to reproduce and when switched to develop branch, styling issue was resolved. There is no longer the black bar on the CTA link.

[2021-08-30 15:22] tofumatt commented on #3810
@wpdarren It looks like the `hideExternalIndicator` flag has been on that component for some time, but I don't see why it should be using that style.

I'll file an issue to remove it, but I think it should still pass QA here. Thanks! 👍🏻

[2021-08-30 15:34] wpdarren commented on #3810
QA Update:  ✅

**Verified:**

_Widget CTA on the main dashboard_

- The heading is updated to: `Get new topics to write about` along with the added text `Idea Hub is an experimental new feature that shows you suggestions to write about based on the content of your site` Also confirmed that the bulb no longer appears.

![image](https://user-images.githubusercontent.com/73545194/131351287-c699ff58-7

[2021-08-30 15:38] tofumatt opened #3961 "Mark "Learn More" link in Idea Hub description as external link"
The "Learn More" link in the Idea Hub setup CTA/description is an external link, but is explicitly marked to hide the "external" indicator:

![image](https://user-images.githubusercontent.com/73545194/131354073-e32496f1-3a6f-42d3-83c3-277e22844436.png)

https://github.com/google/site-kit-wp/issues/3810#issuecomment-908393123

We should remove the `hideExternalIndicator` prop so the "Learn more" li