[2021-11-15 18:28] felixarntz commented on #4340
@marrrmarrr I see you added "AdSense" to the copy for the revenue section. Shouldn't we better leave this service-agnostic? I'm asking since one of the original goals has been to move away from too much of the service focus. Maybe "Track your ads revenue over time" or (even less tied to AdSense) "Track your content revenue over time"?

[2021-11-15 18:32] felixarntz commented on #4274
@asvinb @wpdarren @aaemnnosttv Hmm, the point raised here doesn't seem like a critical issue to me. Unless I'm missing something, I'm not sure we need to fix something here at all, since maintaining the scroll position on refresh is default browser behavior. 🤔

[2021-11-15 18:36] felixarntz commented on #4136
@techanvil

Good catch, I think that same `div` with the classes should still be present if we want to reuse the styling. An alternative approach would be to change the styles to apply to a class that's not tied to the `WidgetContextRenderer`, which feels a bit cleaner, but at the same time may not be worth the extra effort.

[2021-11-15 18:40] felixarntz commented on #4074
Thanks @aaemnnosttv for the extra investigation and opening the issue! As discussed earlier, let's try to get the fix into the upcoming 1.46.0 release! IB ✅

cc @bethanylang @FlicHollis @eclarke1

[2021-11-15 18:50] felixarntz commented on #4133
Sounds good @aaemnnosttv - I reviewed the additional PR change, lgtm!

One more potential solution here: Would it change if we targeted a selector that only is available once the PSI widget is fully loaded? Maybe doing that would provide the best UX, even if then it doesn't highlight the _full_ widget area. 🤔 What do you think about that @aaemnnosttv @ivankruchkoff?

[2021-11-15 19:51] kuasha420 commented on #4287
@tofumatt sending this one to you for IBR. Also I think we should update the AC to account for the new wording introduced [here](https://github.com/google/site-kit-wp/issues/4097), is that correct? If yes, can you update the AC to mention that so there's no confusion?

Cheers.

[2021-11-15 20:07] kuasha420 commented on #4053
@tofumatt you attention is needed here. Please have a look at the conversation in the linked PR. :pray:

[2021-11-15 20:14] tofumatt commented on #4120
Alright, finally tracked down the cause here: anytime we use `useIntersection` we can't start by rendering `null` at the outset. These lines are the issue: https://github.com/google/site-kit-wp/blob/1be77237454c18764f51aee4935f4dfac8232e12/assets/js/components/wp-dashboard/WPDashboardIdeaHub.js#L78-L80

If we add:

[code]

above those lines everything works as-expected. I'll go through and make th

[2021-11-15 20:59] aaemnnosttv commented on #4274
@felixarntz the weird thing is that the module setup success notification is shown at the top of the page. When scrolled to the top of the page and dismissing that notification and then refreshing the page, the Idea Hub notification is then hidden by scroll which seems to have been added rather than sitting at the top of the window as expected.

https://user-images.githubusercontent.com/1621608/14

[2021-11-15 21:16] felixarntz commented on #4274
@aaemnnosttv Ah thanks, that is weird indeed. It may be that the fix for it is very simple, but it might also be a bit obscure to find a proper solution. Maybe we create a follow-up issue for this @wpdarren @asvinb?

[2021-11-15 21:25] aaemnnosttv commented on #4133
@felixarntz Sure, but then you risk triggering the tour too late into the page view IMO. Unless a tour is triggered by a specific action, I don't think we should be taking over the screen after the user has had time to start interacting with it. Having your screen hijacked 30s after navigating to the dashboard would not be a good experience. It's a bit more sensitive with this one I think because

[2021-11-15 22:37] tofumatt commented on #4287
@kuasha420 Sounds good, great catch!

I've updated the ACs here and referenced my code review comment on the related issue regarding an accessibility tweak.

IB ✅

[2021-11-15 22:58] tofumatt commented on #4121
@asvinb That makes sense, and the IB looks good. I don't think work on this should start until #4096 is merged, so I'll double-check the IB then, but for now this all seems fine.

IB ✅

[2021-11-16 00:32] felixarntz commented on #4133
@aaemnnosttv Ah right, that's a good point. Let's go with the approach @ivankruchkoff suggested then - I merged the PR.

[2021-11-16 08:03] asvinb opened #4356 "Notification is hidden due to scroll position after page reload."
## Bug Description
Currently, after dismissing a notification, for e.g the `authentication_success` one, the browser maintains the scroll position after page reload. This results in potential new notifications being missed by the user unless they scroll to the top of the page.

## Steps to reproduce

1. Disconnect any module and proceed to connect the module again.
2. A notification will be displa

[2021-11-16 08:06] asvinb commented on #4274
@felixarntz Yes, I agree. It'll require some digging to find a solution for this issue. Follow up issue created here:
https://github.com/google/site-kit-wp/issues/4356

@wpdarren @felixarntz @aaemnnosttv It's also good to note that I was not able to reproduce the scrolling bug on the unified dashboard, which eventually can be a non issue once we roll unified dashboard.

[2021-11-16 09:04] aaemnnosttv opened #4357 "Extend data registry to allow selecting from WP data"
## Feature Description

While Site Kit uses the same `@wordpress/data` as WordPress core for state management, it has not relied on the version provided with WordPress itself for a long time. Instead this is bundled internally and uses a separate registry instance.

One challenge of this approach is when a component needs data from Site Kit's data stores _and_ WordPress core's as is becoming neces

[2021-11-16 09:22] aaemnnosttv opened #4358 "Release 1.46.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-11-16 09:44] techanvil commented on #4120
Nice one @tofumatt.

From what I can see it seems like the old `react-intersection-observer` function didn't have this restriction. What's the reason to switch from that to the `react-use` version?

[2021-11-16 09:46] techanvil commented on #4120
Also I wonder if it's possible/worth writing a thin layer around `useIntersection` which warns when the `ref.current` isn't set... Did your investigation suggest that might be doable at all?

[2021-11-16 10:51] techanvil commented on #4136
@felixarntz thanks, I think it's probably best to reuse these classes, rather than changing the styles, which as you've suggested doesn't seem worth the effort considering this will no longer be relevant when the unified dashboard is completed.

[2021-11-16 12:49] marrrmarrr commented on #4340
@felixarntz in the latest UXR study we saw people getting confused with how broad "Revenue" is -- they thought Site Kit would somehow have access to their business ledgers and know the exact amounts from sales or affiliate links etc. So I'm trying to avoid that confusion by being very precise where the revenue is coming from.
AdSense will be the only source for monetisation where we show reporting

[2021-11-16 13:07] jamesozzie commented on #4352
Thanks for the update. I've performed some checks on this today and the behavior seems normal. Here is what I've been testing, with the below behavior expected:
- **From an incognito window** when connecting AdSense it will ask you to create an AdSense account - if one exists for the Google account you've used to connect AdSense. If you already have an AdSense account the plugin won't direct users

[2021-11-16 13:26] henrywright commented on #4352
Thanks for checking this @jamesozzie.

To solve the problem I can easily log out of google.com and then the process to create an AdSense account using the Site Kit  plugin would use the account registered in Site Kit.

That said I can't ask users to use Incognito or have a single Google account or a single AdSense account. Hence the reason for this issue.

[2021-11-16 13:33] wpdarren commented on #4274
### QA Update: ✅

- After connecting a module and the success notification is displayed, the notification URL parameter is.  `wp-admin/admin.php?page=googlesitekit-dashboard&notification=authentication_success&slug=analytics`. When you dismiss the notification by clicking the `OK, Got it!` button, the notification URL parameter should no longer be present in the URL. `wp-admin/admin.php?page=googl

[2021-11-16 14:05] tofumatt commented on #4136
@techanvil Argh, indeed, yes—that was from a previous IB and doesn't apply anymore 🙂 . I've removed that section from the IB just so it's extra-clear. 👍🏻

Some tests would be good so I mentioned it there, if possible to do with Jest and not E2E 👍🏻

[2021-11-16 14:07] henrywright commented on #4352
@jamesozzie

For the record, when I attempt to connect Tag Manager by going to Settings > Connect More Services, I get to choose the account to use on google.com. See

https://imgur.com/a/DQ2yJuE

[2021-11-16 14:10] techanvil commented on #4136
@tofumatt cool, thanks for clarifying :). I've already added tests for the new selectors, will look at adding some for the empty context too. :+1:

[2021-11-16 14:16] bethanylang commented on #3427
@willowmagrini As we haven't heard back, I'm going to close this issue. If you're still experiencing these problems, please do let us know and we can take another look. Thank you for using Site Kit!

[2021-11-16 14:16] #3427 closed

[2021-11-16 14:45] tofumatt commented on #4120
What's especially odd is in that Idea Hub component it causes issues, but elsewhere it's fine—what seems to be the issue is if the component directly does `return null` or does what some widgets do which is `return <Null />`.

I'm a bit puzzled; the main reason for switching dependencies was reducing the number of external libraries as the more "advanced" features of `react-intersection-observer`

[2021-11-16 14:56] jamesozzie commented on #4352
@henrywright Thanks for the update. I've noticed behavior similar to this myself. For example if I'm logged into a Chrome browser using one Google profile not associated with the account I used to setup Site Kit.

I've also done more checks now in preparation of asking the team and it seems more a case of logging into AdSense from multiple accounts, with the issue not specific to Site Kit. See bel

[2021-11-16 15:10] asvinb commented on #3822
### QA: ✅

- UA and GA4 both disabled ✔️
- GA enabled only ✔️
- UA enabled only ✔️

[2021-11-16 15:14] henrywright commented on #4352
Thanks @jamesozzie that does make sense. I'll mention this to users if they encounter the problem

[2021-11-16 15:23] jamesozzie commented on #4352
No problem. Great for us to have further clarity on this also should other users ask, so thank you!

[2021-11-16 15:39] eugene-manuilov opened #4360 "Google chart tooltips overlap the plugin header"
## Feature Description

Looks like the `z-index` value for visualization tooltips is higher than the one we use for the plugin header. This causes a UI bug like this:

![image](https://user-images.githubusercontent.com/873049/142016271-88412ec2-f02a-477c-bc15-3dac213c658f.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2021-11-16 16:12] wpdarren commented on #4133
### QA Update: ❌

A few observations.

1. The copy on the tooltip `Keep track of how your pages are doing in terms of speed and user experience and see recommendations on what to improve.` doesn't read well IMO.  Maybe it should be `Keep track of how your pages are doing in terms of speed and user experience. See recommendations on what to improve.` Just remove the 'and'.

2. The tooltip does not

[2021-11-16 16:15] aaemnnosttv commented on #4120
@techanvil I think one reason was due to `useIntersection` taking the ref to use as an argument, whereas `useInView` before returned the ref to use. Mainly though due to the simplicity I think. There's also the resettable `sticky` detail that it has which didn't seem very straight forward to do (at least if we wanted to reuse its `triggerOnce` option) with `react-intersection-observer`.

[2021-11-16 16:38] techanvil commented on #4120
@aaemnnosttv hmm that's interesting about the ref angle. By the look of it, the `useInView` ref approach, using a callback instead of a `createRef` object (see https://github.com/thebuilder/react-intersection-observer/blob/ef0bb84363601992d55a48e26ee19faeb3dd0303/src/useInView.tsx#L51), is what makes `useInView` a little more robust as it can always react to the ref being set, whereas `useIntersec

[2021-11-16 18:36] ivankruchkoff commented on #4133
1. @felixarntz is best suited to answer the question about copy.
2. Yes, correct, see https://github.com/google/site-kit-wp/issues/3003 it applies to all feature tours.
3. Can you show the screenshot of the full window, including the admin toolbar. The tooltip should be fully visible, and if it's not, it's not specific to this ticket but more an issue of the joyride component which handles all of

[2021-11-16 18:38] techanvil opened #4361 "Add `no-use-before-define` ESLint rule"
## Feature Description

Add the [`no-use-before-define`](https://eslint.org/docs/rules/no-use-before-define) ESLint rule to help prevent bugs where variables are used before they are defined.

For example, this bug would have been caught before it hit `develop`: https://github.com/google/site-kit-wp/issues/4329

The following config would cause the least friction with the codebase while still catc

[2021-11-16 19:21] felixarntz commented on #4147
Per discussion with @samitron7, we're going to put this issue on hold for now. Potentially we will make some slight tweaks to how the search bar and entity dashboard header should behave to use a better UX pattern than what is currently envisioned.

[2021-11-16 19:27] felixarntz commented on #4133
@marrrmarrr Can you please chime in on the copy suggestion from @wpdarren in his 1. point in https://github.com/google/site-kit-wp/issues/4133#issuecomment-970428577?

[2021-11-16 19:32] felixarntz commented on #4140
@aaemnnosttv

+1 to that. We only need to alert the user about an adblocker if that adblocker is causing problems with our AdSense module, particularly its REST routes etc. If the adblocker (rightfully so) lets those requests go through, we don't really care I guess.

I'm going to close this as `invalid` for now. cc @bethanylang @jamesozzie for visibility

[2021-11-16 19:32] #4140 closed

[2021-11-16 19:35] eugene-manuilov commented on #4341
Awesome work, @asvinb! IB :heavy_check_mark:

[2021-11-16 19:37] felixarntz commented on #4357
@aaemnnosttv I defined some preliminary ACs here - what do you think?

[2021-11-16 19:52] marrrmarrr commented on #4133
@felixarntz That change SGTM!

[2021-11-16 20:02] eugene-manuilov commented on #4329
Thanks, @techanvil. This looks good. Let's also add a point to IB to update the `classnames` usage to load class names for `slug` and `style` versions only if the appropriate values are not empty:

[code]

[2021-11-16 20:13] eugene-manuilov commented on #4342
@techanvil, instead of instantiating a new instance of the Analytics class, let's add a new hook for the `googlesitekit_proxy_setup_url_params` filter to the Analytics class itself to add the required parameter to the proxy setup URL query params.

[2021-11-16 20:19] felixarntz commented on #4133
@ivankruchkoff Can you then open a follow-up PR please (against `main`) with that change?

[2021-11-16 20:27] eugene-manuilov commented on #4343
IB :heavy_check_mark:

[2021-11-16 20:32] ivankruchkoff commented on #4133
https://github.com/google/site-kit-wp/pull/4362 @felixarntz

[2021-11-16 21:13] felixarntz commented on #4133
Merged! Moving back to QA regarding the open question in point 3. in https://github.com/google/site-kit-wp/issues/4133#issuecomment-970558237

[2021-11-16 21:17] jamesozzie opened #4363 "During new AdSense account setups the plugin is pre-populating an invalid "Site URL" for subdomains or subdirectories"
## Bug Description

As reported by @henrywright in a [WordPress support topic](https://wordpress.org/support/topic/cant-create-a-adsense-account-because-the-url-mustnt-use-a-path-or-subdomain/) if a user signs up for AdSense following the "[Create AdSense account](https://i.imgur.com/xUaqBYW.png)" button within the module setup they are directed to an AdSense Sign up page.

This sign up page is si

[2021-11-17 01:01] kuasha420 commented on #4287
Not sure that happened to the estimate on this one as I remember setting a `7`  for this one. Setting estimate again.

[2021-11-17 09:34] techanvil commented on #4342
Hey @eugene-manuilov, thanks for the comment but it should have been directed at @asvinb as he worked on the IB - I only briefly assigned this to myself and didn't actually do the IB work.

[2021-11-17 09:35] asvinb commented on #4342
Sounds good @eugene-manuilov . Actually the AC mentions to check whether the module is active but not connected. I don't see any method which tells us whether a module is active but not connected. There's only the `is_connected` method 🤔

[2021-11-17 09:43] techanvil commented on #4329
Thanks @eugene-manuilov, sounds good and I've made the change :+1:

[2021-11-17 10:00] aaemnnosttv commented on #4357
Thanks @felixarntz! If we're not overly concerned about it being registered with the parent elsewhere, then that makes it a bit simpler. We do need to be a bit more mindful about store names going forward to make sure we don't conflict with core (in case we would ever need to select from both).

Taking another look at the details, there are a few additional things we'll need to keep in mind here:

[2021-11-17 10:45] adamdunnage opened #4365 "Revise wording for error message when Analytics account has been marked for deletion or deleted."
When deleting a Site Kit connected Analytics account and editing your setup in the plugin you get [this ](https://imgur.com/NxABlI1) error message.

This doesn't really explain that the account no longer exists or is marked for deletion. If this can't be differentiated in the API then more generic messaging would be helpful to users still.

**Revise the wording if you can check account marked for

[2021-11-17 11:21] eugene-manuilov commented on #4329
Thanks, @techanvil. Looks good to me. Could you please add an estimate too?

[2021-11-17 11:31] techanvil commented on #4329
@eugene-manuilov apologies, I completely forgot. Thanks for the heads up! I've now added an estimate. :+1:

[2021-11-17 11:32] eugene-manuilov commented on #4329
Thanks, @techanvil. IB :heavy_check_mark:

[2021-11-17 11:58] FlicHollis commented on #4147
Thanks for the update @felixarntz does this mean this is not expected to be completed in Sprint 63 / prior to launch?

[2021-11-17 12:34] asvinb commented on #4247
@aaemnnosttv @eugene-manuilov  I investigated and looks like we don't store the URLs when there is a mismatch. We only store the reason here:
https://github.com/google/site-kit-wp/blob/develop/includes/Core/Authentication/Authentication.php#L1274-L1275

Not sure if there's a better way of handling this.

[2021-11-17 13:24] eugene-manuilov commented on #4120
@techanvil sending it back to you for another round of QA

[2021-11-17 13:26] wpdarren commented on #4133
### QA Update: ❌

@ivankruchkoff  Re. my point 3 above about the placement of the tooltip when you have no data on the widgets.  This is what the page looks like. Would you like me to create a ticket for this since it appears to be out of scope?

<details>
<summary>Click for Full screen</summary>

![image](https://user-images.githubusercontent.com/73545194/142207822-e8618243-c4ff-42c4-905c-fe53a60

[2021-11-17 13:40] asvinb commented on #3774
Sounds good @felixarntz . @wpdarren Can you check again once #4237 has been merged?

[2021-11-17 13:43] marrrmarrr commented on #2430
@felixarntz I've updated two of the messages, but I'm not clear on the difference between (1) and (3), since they both are referring to a case where the user should make sure to include the Optimize code in GTM. Do we need separate copy here?

[2021-11-17 13:57] eugene-manuilov opened #4367 "Update unified dashboard tab bar pills to scroll to an area instead of relying on the browser anchor targets"
## Feature Description

Unified dashboard tab bar pills (introduced in #4053) use html anchors to let users go to a specific widget area. This works perfectly, but due to our sticky header design, users don't see the top part of the widget area because the sticky header overlaps it. This is the expected default behavior of all browsers, but this is not a good user experience because they will need

[2021-11-17 14:15] eugene-manuilov commented on #4342
@asvinb, if a module is active, then we call the register method of the module class. Thus if we add a hook to the register method of the Analytics class, then it will be executed only if the Analytics module is active.

[2021-11-17 14:16] eugene-manuilov commented on #4342
IB :heavy_check_mark:

[2021-11-17 14:18] eugene-manuilov commented on #4160
IB :heavy_check_mark:

[2021-11-17 14:25] wpdarren commented on #4237
### QA Update: ✅

**Verified:**

- The `Unique Visitors from Search` widget shows a zero and does have a flat line beneath it.
- When `The Unique Visitors from Search` widget has data, there is an appropriate line chart underneath it.

![image](https://user-images.githubusercontent.com/73545194/142218418-0a861910-0ac5-40ad-8342-7e8796b7fde3.png)

[2021-11-17 14:51] wpdarren commented on #4312
### QA Update: ✅

**Verified:**

- The "Bounce Rate" metric shows a percentage symbol after the number.
- The "Session Duration" metric shows a time amount (eg in minutes & seconds)

![image](https://user-images.githubusercontent.com/73545194/142223166-3c56cc11-7443-407b-8276-b561a7913072.png)

[2021-11-17 14:56] marrrmarrr commented on #2908
Great. We can link to the new guide once it's published, that should give plenty of actionable advice to people. Thanks @bethanylang !
I updated the message copy slightly.

[2021-11-17 15:25] wpdarren commented on #4167
### QA Update: ✅

**Verified:**

- `view_notification` event in the `dashboard_user-input-prompt-notification` category is fired when notification is rendered.   - [Screenshot](https://user-images.githubusercontent.com/73545194/142229308-7b6766b0-3e53-4f8c-ac55-9e9c25b461c9.png)

- `view_notification` event is not fired when that same content is rendered as part of the Site Kit settings
- `view_no

[2021-11-17 15:38] bethanylang commented on #4169
@tofumatt Assigning over to you per our discussion in today's sprint planning meeting. Thank you!

[2021-11-17 16:13] wpdarren commented on #3774
@felixarntz @asvinb I have checked this on the same site I found the issue on and the line charts are now displaying as they should on the Dashboard URL specific pages. 👏 - [Screenshot](https://user-images.githubusercontent.com/73545194/142237090-9c865794-de22-4302-9094-972988c772ab.png)

[2021-11-17 16:20] techanvil commented on #4120
## QA: :white_check_mark:

* :heavy_check_mark: Unit tests all pass.
* :heavy_check_mark: `assets/js/modules/idea-hub/components/dashboard/DashboardCTA.js`: An event is being tracked the first time the component scrolls into view. Subsequent scrolling does not trigger an event.
* :heavy_check_mark: `assets/js/modules/pagespeed-insights/components/dashboard/DashboardPageSpeed.js`: An event is being

[2021-11-17 17:31] henrywright commented on #4363
Kukana, a Platinum Product Expert, has confirmed "people can only apply to monetise a subdomain if they also own the main top-level domain, and have had that approved for Adsense already"

See [Can a different AdSense account be used for each website subdomain?](https://support.google.com/adsense/thread/135818358/can-a-different-adsense-account-be-used-for-each-website-subdomain)

[2021-11-17 18:37] felixarntz opened #4368 "Decrease threshold for showing Idea Hub interaction survey"
The Idea Hub interaction trigger for surveys currently fires after 6 interactions with the widget have been made (e.g. save/unsave/dismiss an idea). We've so far received too little feedback from users, but still do not want to increase the overall rollout at this point, so the threshold here should be lowered to 3 interactions.

---------------

_Do not alter or remove anything below. The followi

[2021-11-17 18:37] felixarntz commented on #4368
@FlicHollis This is a very small but important issue, could we add it to the upcoming sprint as well?

[2021-11-17 18:40] felixarntz commented on #2430
@marrrmarrr It's shown in a different context:
* (1) is in the Optimize setup flow if the user already has Analytics managed via Tag Manager.
* (3) is in the Tag Manager setup flow if the user uses Optimize and now due to setting up Tag Manager Analytics will be switched to be managed via Tag Manager.

In both cases, the user has to ensure to configure Optimize within the Tag Manager container, bu

[2021-11-17 18:44] felixarntz commented on #4147
@FlicHollis Probably not for Sprint 63, but definitely the search approach needs to be completed in one way or another prior to launch. This is now pending a decision with one of the following outcomes:
* Either we go with the new UX approach, which will mean this issue gets closed, but 2-3 new ones get opened.
* Or we go with the old approach including this, which will mean this issue remains rel

[2021-11-17 18:47] felixarntz commented on #4367
@eugene-manuilov Thanks for catching that, we should definitely fix this. @FlicHollis Probably worth trying to get this into Sprint 63.

[2021-11-17 18:52] felixarntz commented on #4336
@FlicHollis This is also a good candidate for Sprint 63.

[2021-11-17 18:56] felixarntz commented on #4133
@wpdarren Your point 1. is expected based on the discussion above (which started in https://github.com/google/site-kit-wp/issues/4133#issuecomment-965912725).

Point 2. may be indeed broken though - @ivankruchkoff Does the current implementation ensure this tooltip is also shown on the unified dashboard? It can still be relevant there. Kind of a P2, since it would only be relevant if someone later

[2021-11-17 18:58] eugene-manuilov commented on #3552
This ticket won't be relevant anymore once #4184 is merged. That PR replaces the hover state with the icon button. So, once it's merged, we can close this ticket.

[2021-11-17 19:01] felixarntz commented on #4357
@aaemnnosttv Since #1769 is quite complex and may delay this significantly, maybe we're fine with just specifying `wp.data` as `parent` for now? I understand this leaves room for future problems if we want to use more, at the same time, the use-cases for using `wp.data`-based selectors and actions are currently rare, and like you're saying I'd think right now we don't need any of the more advanced

[2021-11-17 19:02] techanvil commented on #3552
@eugene-manuilov that sounds good, for now at least. Let's hope we don't run into the same issue again :crossed_fingers:

[2021-11-17 19:05] felixarntz commented on #4348
@techanvil Thanks for catching that! I've added ACs to it.

@FlicHollis As discussed earlier today, let's fix this in Sprint 63.

[2021-11-17 20:46] ivankruchkoff commented on #4133
@felixarntz I've put out a change to address the lack of tooltip tour on unified dashboard, https://github.com/google/site-kit-wp/pull/4369
It will also address the tour being slightly cut off.

Previous selector = `.googlesitekit-widget-area--dashboardSpeed` (red in the next screenshots; it **DOESN'T** appear on unified dashboard )
New selector = `.googlesitekit-widget--pagespeedInsightsWebVitals

[2021-11-17 20:58] ivankruchkoff commented on #4133
Unified dashboard:
<img width="1440" alt="Screen Shot 2021-11-17 at 12 49 55 PM" src="https://user-images.githubusercontent.com/373931/142280496-8109e325-2b01-4a35-bb8c-89f9ae0a01ea.png">
<img width="1286" alt="Screen Shot 2021-11-17 at 12 50 14 PM" src="https://user-images.githubusercontent.com/373931/142280507-2cef1814-d9d3-4bf7-aaf8-aabe615ba0fc.png">

Pre-unified dashboard:

<img width="1440"

[2021-11-17 21:05] felixarntz commented on #4133
@ivankruchkoff Thanks for the new PR!

The approach overall sounds solid to me. However, that this now causes another weird bug related to Joyride is unfortunate. Just to confirm, this doesn't happen at all with the current approach correct? In that case, maybe it's better to keep using the widget area selector - we can check if the `unifiedDashoard` feature flag is enabled and if so use the other

[2021-11-17 21:24] ivankruchkoff commented on #4133
@felixarntz sorry that was some overzealous testing on my part I'd removed the call to the promise.race to trigger the displays.

Here's the corrected behaviour on both unified and non-unified.

https://user-images.githubusercontent.com/373931/142284441-3c42d62c-5fe2-4088-8090-ed626c0d3a1f.mp4

https://user-images.githubusercontent.com/373931/142284469-7bcfbc95-94bc-4bf2-8d89-ddeba2795374.mp4

[2021-11-17 22:09] tofumatt commented on #4169
More specifically, it's _likely_ that the message in https://github.com/google/site-kit-wp/blob/eed009c134ae533e307d65390e3af84d5551a9e7/assets/js/components/ReportError.js#L51 is what's causing this issue.

In summation: the error message sent from WordPress (specifically the WP REST API) here contains an error page with `<h1>Some database error</h1>`. That's the message our code is receiving and

[2021-11-18 08:50] asvinb opened #4370 "Pill navigation overlap search dropdown"
## Bug Description

When we search for a post/page on the unified dashboard, the pill navigation overlaps the autosuggest dropdown.

## Steps to reproduce

1. Enable the `unifiedDashboard` feature flag
2. Go to the main dashboard
3. Click on the search icon and search for a page/post
4. Notice how the pill navigation overlaps the autosuggest dropdown

## Screenshots
![image](https://user-images.gi

[2021-11-18 11:05] techanvil commented on #4358
QA :white_check_mark:  - Smoke tested, verified the changes I've been involved with and performed some ad-hoc testing.

[2021-11-18 11:32] jamesozzie opened #4371 "The necessary verification token could not be found on your site."
## Bug Description

One [user in the support forums](https://wordpress.org/support/topic/unable-to-activate-site-kit/page/2/#post-15080561) is encountering the below error after various troubleshooting efforts. The error appears on the "Verify Ownership" stage during setup.

**_The necessary verification token could not be found on your site. This may be related to your site using a page caching p

[2021-11-18 11:53] wpdarren commented on #4133
@ivankruchkoff @felixarntz I've moved this ticket to CR, since it appears to be at this stage right now. Please let me know if that is not the case, and we continue to QA it.

[2021-11-18 12:15] jamesozzie opened #4372 "Data error in Search Console: The response is not a valid JSON response"
## Bug Description

One [user in the support forums](https://wordpress.org/support/topic/google-site-kit-error-6/) is encountering a "_Data error - the response is not a valid json response"_ error.

![image](https://user-images.githubusercontent.com/41326532/142412654-70d4cf1d-eee2-4637-926f-680677091c88.png)

The error doesn't appear when using troubleshooting mode with the Health Check & Troubl

[2021-11-18 13:26] wpdarren commented on #4074
QA Update:

I was able to recreate this issue with the User Profile Picture on the latest release when going to the Analytics module page.

![image](https://user-images.githubusercontent.com/73545194/142421676-9f0ddafa-761a-4e2b-80ea-61f35f99e7ef.png)

**Verified:**

- When I switched to the `main` branch, this error no longer appears and the dashboard and module pages do not trigger any error mes

[2021-11-18 13:53] asvinb opened #4373 "Button within entity search input should not overlap input border upon hover/focus."
## Bug Description
When the close icon within the entity search component has focus or is hovered, it overlaps the input's border.

## Steps to reproduce

1. Enable the `unifiedDashboard` feature flag.
2. Go to main dashboard.
3. Click on the search icon in the header
4. Hover the close icon
5. Notice how the button background color overlaps the input border.

## Screenshots

![image](https://user

[2021-11-18 15:13] jamesozzie commented on #4372
From testing the same plugin environment as the impacted user with all default configurations I don't encounter any REST errors. I also don't encounter any errors from further attempts with various configurations using WP Asset Cleanup, ASync JavaScript or Autoptimize.

There are some wp-admin or plugin related optimizations when using the pro version of [WP Asset Cleanup](https://recordit.co/HmWq

[2021-11-18 17:05] #4074 closed

[2021-11-18 17:06] #4134 closed

[2021-11-18 17:06] #4168 closed

[2021-11-18 17:06] #4270 closed

[2021-11-18 17:06] #4267 closed

[2021-11-18 17:07] #4023 closed

[2021-11-18 17:07] #3201 closed

[2021-11-18 17:09] #4050 closed

[2021-11-18 17:09] #3822 closed

[2021-11-18 17:10] #2796 closed

[2021-11-18 17:18] eugene-manuilov commented on #4340
IB ✔️

[2021-11-18 17:49] jamesozzie commented on #4371
The impacted user provided some very useful insights with their [latest Site Health information report](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNhAjMm-OISFadDuoTJOz7ypX4rqPMSlIwdr45Y2L0lu6HKL5yiNRFMMRvxxcEcTLpc). When checking from a Chrome browser incognito window with all other plugins disabled (via the Health Check & Troubleshooting plugin

[2021-11-18 18:27] felixarntz opened #4374 "Fix incorrect GA event category for authentication success notification"
We just noticed while looking at the GA events data for something that the plugin is triggering some events for a `{viewContext}_authentication-success-notification` category and others for a `{viewContext}_authentication-success_notification` category (underscore instead of dash). This is incorrect, and it looks like the reason for this problem were the ACs for #4054 where the latter was used alt

[2021-11-18 18:28] felixarntz commented on #4374
@FlicHollis @eclarke1 This is a very small fix for a bug we just noticed, can we put it into Sprint 63?

[2021-11-18 18:29] henrywright commented on #4363
@jamesozzie according to weebly.com, AdSense can be used on an example.weebly.com website. This is a subdomain. How would this be possible?

See https://www.weebly.com/app/help/us/en/topics/add-google-adsense-to-a-site

[2021-11-18 18:33] eugene-manuilov commented on #4370
IB :heavy_check_mark:

[2021-11-18 18:33] bethanylang commented on #4363
@henrywright The screenshots on that article look very old to me, so it might be that this was possible at one time but isn't any longer. Any specific questions regarding AdSense would best be handled by the [AdSense support team](https://support.google.com/adsense/?hl=en#topic=3373519).

[2021-11-18 18:34] aaemnnosttv commented on #4357
I don't think it's a blocker, nor was I implying this issue was dependent on #1769. It would probably be straightforward to use `wp.data` as a parent, just making sure we don't miss any important details. If we don't use `resolveSelect` for any core  stores it should be fine, but if we did, we'd need to add a bit of a compatibility layer because that function would vary based on what version of WP

[2021-11-18 18:35] felixarntz commented on #4133
Providing an update here (partly copied from Slack conversation): The ACs here are largely incorrect due to a misunderstanding between @marrrmarrr and me early on in the definition phase that unfortunately became clear only now (way too late). What the ACs should be is actually a much simpler change:
* The PSI module should be activated by default for new users (or users that reset and then re-set

[2021-11-18 18:36] eugene-manuilov commented on #4367
IB :heavy_check_mark:

[2021-11-18 18:37] henrywright commented on #4363
The article does seem to be old but it isn't listed as a legacy document. I thought I'd post a link to it here in case it's helpful

[2021-11-18 18:38] aaemnnosttv commented on #4133
@felixarntz I was already looking at this so I'll open a quick PR for it, I don't think it should be a problem to include in the release.

[2021-11-18 18:38] jamesozzie commented on #4371
Further checks performed from the same hosting control panel (basic multisite package). No [obvious security features](http://recordit.co/kKbYiv8T3Y) that may disable the WordPress REST API.

The same environment also setup without being able to recreate.

<details>
<summary>Support testing SH info</summary>

[code]

<details/>

So to summarize there is something seemingly restricting the WordPres

[2021-11-18 18:41] eugene-manuilov commented on #4348
IB :heavy_check_mark:

[2021-11-18 18:47] henrywright commented on #4363
I just created an AdSense account for henrywright.weebly.com. The article does seem to work fyi @jamesozzie @bethanylang

[2021-11-18 18:58] eugene-manuilov commented on #4348
I think we don't need to check whether the `unifiedDashboard` feature flag is enabled for widgets and widget areas in the `adsense/index.js` file at all because we never render contexts and areas for the current and unified dashboards together. So we can just add both areas (for unified and the current dashboards) to widgets and keep using the `CONTEXT_MODULE_ADSENSE` context for the `AREA_MODULE_

[2021-11-18 19:11] eugene-manuilov commented on #4336
@asvinb AC says that "_as a thin progress bar "line" **above** the dropdown_". Should we use the `top: -6px` property instead of `bottom: -6px`?

[2021-11-18 19:14] eugene-manuilov commented on #4368
@asvinb, if we update it to `3`, then it will mean that the survey will be triggered on the 4th interaction. AC says that it should happen after the 3rd interaction. Thus we need to update the `interactionCount` check from `5` to `2`, right?

[2021-11-18 19:28] henrywright commented on #4363
Amazingly now when I go to my WordPress website > Site Kit > AdSense, I get "Your account is ready to use AdSense"

See https://imgur.com/a/HwrT9XE

[2021-11-18 19:35] eugene-manuilov commented on #2908
IB :heavy_check_mark:

[2021-11-18 20:38] felixarntz opened #4376 "Modify service setup URL method to rely on its v2 version"
Related to #2044 and #2045, this is somewhat of a prerequisite for both of those. Please read the description and Acceptance Criteria for #2044 for additional context. This issue has been broken out to keep #2044 from getting too large of an issue, but it may not seem very useful on its own, which is why having an understanding of #2044 for this will help understanding the required changes here.

[2021-11-18 20:49] eugene-manuilov commented on #4169
Thanks, @kuasha420, but let's better update the `ErrorText` component to strip tags from the incoming `message` property instead of updating only the `ReportError` component.

[2021-11-18 21:56] tofumatt commented on #3552
With #4184 merged, this issue is no longer relevant and can be closed. 🙂

[2021-11-18 21:56] #3552 closed

[2021-11-18 22:29] tofumatt commented on #4107
I think the approach here makes sense—I know @aaemnnosttv is working on making our datastore registry accessible through WordPress Data (at least when using Gutenberg), but the approach here works.

I guess one thing to check is whether we use anything in a `wp-*` packages aside from `wp-element` that isn't available in WP 5.0 and will cause errors. But that's out-of-scope for this issue, just thi

[2021-11-18 22:59] felixarntz commented on #4133
@wpdarren This should be ready for the "new" QA. I've updated the QA Brief (and also ACs) accordingly.

[2021-11-18 23:51] felixarntz commented on #4376
@FlicHollis This is probably a good one to plan for Sprint 63 as well (also see [Asana comment](https://app.asana.com/0/0/1200049674554718/1201389444977856/f)).

[2021-11-19 00:23] kuasha420 commented on #4169
@eugene-manuilov Than it will not work when there is no `reconnectUrl`. See: https://github.com/google/site-kit-wp/blob/b6da750ce6c41ba2b3740874192bdafa82573dca/assets/js/components/ReportError.js#L63-L67

Any thoughts?

[2021-11-19 01:29] kuasha420 commented on #4358
QA: :heavy_check_mark:

Went through the smoke testing without encountering any issues. Also tested Idea Hub using feature flag.

LGTM.

[2021-11-19 10:33] jamesozzie commented on #4371
Console errors shared by the user when they have no .htaccess file active (via renaming).

![image](https://user-images.githubusercontent.com/41326532/142608139-e78d74c1-b93d-4126-b60a-9e6dc2f62044.png)

The REST related error doesn't occur with their .htaccess file reverted although this is a file with modifications. I suspect there may be a cached version of their site being served from here. Aw

[2021-11-19 10:40] jamesozzie commented on #4371
From checking the users .htaccess file there doesn't seem to be anything unusual with their rules.

<details><summary>.htaccess details</summary>

[code]

</details>

[2021-11-19 10:47] jamesozzie commented on #4371
Escalating this for engineer review. Notes updated in original post with all troubleshooting checks performed. The user is still facing the caching plugin notice that doesn't allow setup to proceed, with the verification token not found. A video of this behavior an be found within [this Site Health information report](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edi

[2021-11-19 10:56] tofumatt opened #4377 "Remove chevron from date range select dropdown button in header"
## Feature Description

We should remove the chevron from the date range selector, in the Unified Dashboard only.

### Current

<img width="367" alt="Screenshot 2021-11-19 at 10 55 59" src="https://user-images.githubusercontent.com/90871/142611497-0f410196-78c4-4607-bde5-1b9b60e8fb7b.png">

### Intended

<img width="382" alt="Screenshot 2021-11-19 at 10 56 12" src="https://user-images.githubuserco

[2021-11-19 11:00] jamesozzie commented on #4363
@henrywright Thanks for sharing details of your experience, very interesting! It may be a case that the AdSense team need to update their initial AdSense account sign up form to account for subdomain setups in some cases.

It could also be a case of that the AdSense approvals team may accept new signups if coming from directly from platforms, such as Weebly or other content management systems or w

[2021-11-19 11:15] wpdarren commented on #4133
QA Update: ✅

**Verified:**

- On an existing site where PageSpeed Insights not connected, it remains disconnected when I change to `main` branch.
- When I reset the plugin and then set it up again, PSI is connected right away.
- On a new site PageSpeed Insights is automatically connected without needing to manually connect it.
- It is always possible to disconnect PageSpeed Insights, as before.

[2021-11-19 11:22] henrywright commented on #4363
My guess is Weebly is participating in the [AdSense Host API](https://developers.google.com/adsense/host) program but I can't confirm that

[2021-11-19 11:23] eugene-manuilov commented on #4374
IB ✔️

[2021-11-19 11:41] eugene-manuilov commented on #4169
@kuasha420 ah... yes, you are right. Then let's strip tags from the message too if there is no reconnectURL. So, we need to add sanitization to both `ErrorText` and `ReportError` components, but for the `ReportError` component we need to sanitize the error message only if there is no reconnectionURL.

[2021-11-19 11:51] techanvil commented on #4348
Thanks @eugene-manuilov, that's a good point. I've updated the IB accordingly.

[2021-11-19 12:19] FlicHollis commented on #4147
Thanks @felixarntz after discussing this with @eclarke1 and @wpdarren we believe we can continue to e-2-e testing and the bug bash with this as a known issue if all other tickets for Unified Dashboard are completed.

[2021-11-19 12:42] techanvil opened #4378 "Create a helper hook to reduce useSelect boilerplate"
## Feature Description

At present we have a coding convention to use a single `useSelect` call per selector. This means we have a lot of code that looks like this:

[code]

For an extreme example, see [`assets/js/modules/adsense/components/setup/SetupMain.js`](https://github.com/google/site-kit-wp/blob/b6da750ce6c41ba2b3740874192bdafa82573dca/assets/js/modules/adsense/components/setup/SetupMain.j

[2021-11-19 12:56] eugene-manuilov commented on #4348
Thanks, @techanvil. IB ✔️

[2021-11-19 13:07] jamesozzie commented on #4372
Performed additional checks using the same setup on another hosting provider although unable to recreate the same experience.

The impacted user did state that a combination of Elementor, Elementor pro, Updraftplus and WP File Manager are resulting in this error. The checks performed included these 4 plugins as well as all the plugins listed in their Site Health information, along with the same th

[2021-11-19 13:27] jamesozzie commented on #4372
@bethanylang Escalating this for an engineer review. Some additional notes:

- Updraft plus does have Google Drive integration although it doesn't seem to impact any Site Kit operations during OAuth setup within Updraft.
- Awaiting confirmation from the impacted user that the is a "_The REST API encountered an unexpected result_" warning remains when they check their Site Health status, while hope

[2021-11-19 13:55] bethanylang commented on #4372
Upon further review and discussion with @jamesozzie I'm closing this one out and will reply to the user in the forums.

[2021-11-19 13:55] #4372 closed

[2021-11-19 15:33] wpdarren commented on #4358
QA ✅  Went through the QA checklist and also tested on supported browsers and smaller screen sizes.  LGTM.

[2021-11-19 15:55] wpdarren commented on #4097
### QA Update: ⚠️

@felixarntz @bethanylang an observation.  This does pass the AC and QAB, but I noticed comments from both of you regarding creating a guide. At the moment the `website` link points to `https://sitekit.withgoogle.com/`but I feel it would be more user-friendly to point to the URL of the guide that we will create.

So, my question is do we have a URL for this guide, and if so, does

[2021-11-19 16:16] bethanylang commented on #4097
@wpdarren @felixarntz The guide for this is not yet available, so I think we should remove the "website" link and just say "Visit our support forums for assistance." (this needs a period because it's full sentence) and link "support forums" to https://wordpress.org/support/plugin/google-site-kit/.

Once the guide is ready, I can file a new issue to add the wording and link back. What do you think?

[2021-11-19 16:17] wpdarren opened #4379 "Improve Copy of Site Kit CTA on WP Tools page"
## Bug Description

The copy could be improved on the Reset Site Kit CTA in Tools > Available Tools (`/wp-admin/tools.php`)

Currently it reads: `Resetting will disconnect all users and remove all Site Kit settings and data within WordPress. You and any other users who wish to use Site Kit will need to reconnect to restore access.`.

Maybe we could make a small change by removing one of the and's.

[2021-11-19 16:29] wpdarren opened #4380 "Improve behaviour when PageSpeed 'visit the dashboard` link is clicked in Site Kit settings"
## Bug Description

When you click on the `visit the dashboard` link on PageSpeed Insights settings (`wp-admin/admin.php?page=googlesitekit-settings#/connected-services/pagespeed-insights`) you are redirected to the top of the Site Kit Dashboard. It would be more user-friendly to jump down to the PSI widget.  I realise we're working on the Unified dashboard but feel this still applies.

![image](h

[2021-11-19 16:49] wpdarren opened #4381 "New PageSpeed Insights Tool URL changed behaviour of link on widget"
## Bug Description

On the footer of the PageSpeed Insights widget there is a link `View details at PageSpeed Insights`

When you are on the entity dashboard (Detailed Page Stats) and you click the link above, you are redirected to `https://pagespeed.web.dev/?utm_source=psi&utm_medium=redirect` I noticed that the link in the widget is pointing to `https://developers.google.com/speed/pagespeed/insi

[2021-11-19 16:56] eugene-manuilov commented on #4358
LGTM :heavy_check_mark:

[2021-11-19 18:26] felixarntz commented on #4097
@bethanylang What's the estimated timeline to get this article ready? This issue is only scheduled for 1.47.0, which is going to be released on December 6. This leaves us with 2 weeks, so wondering if we can get the documentation ready by then, in favor of not removing the link here? If so, we could simply change the URL here once the documentation is there.

[2021-11-19 18:45] bethanylang commented on #4097
@felixarntz It was scheduled for year-end, but I can put a draft together early next week! The URL will presumably be https://sitekit.withgoogle.com/documentation/google-analytics#url-not-part-of-site.

[2021-11-19 19:01] felixarntz commented on #4097
@bethanylang Thanks! Why would it be under a `google-analytics` URL though? 🤔

[2021-11-19 19:17] bethanylang commented on #4097
@felixarntz Ah, I may have misunderstood where this particular message appears – is this Search Console instead of Analytics?

[2021-11-19 19:27] felixarntz commented on #4097
@bethanylang The message isn't tied to any particular module/service, it shows when Site Kit cannot identify "what" the given URL is - which either means the URL is indeed from another site or some part of the site that's outside of WordPress, or it means the URL is based on some non-WordPress core-supported custom routing logic.

[2021-11-19 19:59] bethanylang commented on #4097
@felixarntz Got it. In that case I'll need to find a place to put it.. right now, the only non-service section in Troubleshooting is Setup. I guess we could do a Dashboard section?

[2021-11-19 20:21] felixarntz commented on #4097
@bethanylang That sounds good to me!

[2021-11-19 20:35] bethanylang commented on #4097
@felixarntz Perfect, will get something ready on Monday.

[2021-11-19 20:37] ivankruchkoff commented on #4358
LGTM ✅

[2021-11-19 20:44] tofumatt commented on #4358
QA ✅ for me, including PageSpeed Insights on various types of sites 👍🏻

[2021-11-19 21:24] felixarntz opened #4383 "Add support for new proxy `action` names used by v2 proxy"
Historically, the proxy has used the `Google_Proxy::ACTION_SETUP` name for the `action` query parameter that it uses to pass certain data back to Site Kit as part of some intermediate redirects during the plugin setup flow. This has been somewhat problematic since it uses a single `action` for multiple interactions, and it's even worse because the same action is also used by the plugin internally

[2021-11-19 21:25] felixarntz commented on #4383
cc @aaemnnosttv for visibility

@FlicHollis This is another issue for `serviceSetupV2` which would be good to tackle in Sprint 64. I'd say let's prioritize this and #2044 for Sprint 64 - #2045 can then be in either Sprint 64 or Sprint 65.

[2021-11-20 03:55] ivankruchkoff commented on #4146
A few questions here @tofumatt (with draft PR in #4384)

-  "Return to dashboard" label - that's not shown in the figma, can you elaborate on where that should be?
- `'<strong>Detailed page stats for:</strong> "%s"'` potentially introduces xss, I've gone with this approach: https://github.com/google/site-kit-wp/pull/4384/files#diff-06c928c9cf11b408f20de7e5abe65ca4adcbd24c6a3a695ffc9dd7df039cde34R6

[2021-11-22 07:52] wpdarren commented on #4097
@felixarntz I've moved this back to execution since I am assuming we will change the URL?

[2021-11-22 10:13] asvinb commented on #4336
@eugene-manuilov No. The progress bar is within the search input container, not within the dropdown (which in that case would make sense to use `top: -6px`. So we need to go further down the search container :)

[2021-11-22 10:15] asvinb commented on #4368
Good catch @eugene-manuilov . Updated!

[2021-11-22 10:39] aaemnnosttv commented on #4107
@tofumatt as far as imports go, I think everything we use is available on the `wp` global in 5.0. There may be specific components, functionality, etc that has changed though but nothing comes to mind aside from WP data (5.0 didn't have `__experimentalResolveSelect` for example).

[2021-11-22 11:07] eugene-manuilov commented on #3726
Thanks, @felixarntz. IB :heavy_check_mark: then.

[2021-11-22 11:36] aaemnnosttv commented on #4383
@felixarntz IB added with one question: should the proxy send a `redirect_url` parameter rather than rely on the plugin to set the proper `step` to return with? The plugin could set/alter params as necessary, but it seems maybe the return URL should come from the proxy itself. What do you think?

[2021-11-22 12:04] kuasha420 commented on #4169
@eugene-manuilov The ErrorText component already have html sanitization. I have updated the IB to only clean the message when there is no `reconnectURL`. Should be good now.

[2021-11-22 12:09] eugene-manuilov opened #4385 "PHPUnit tests fail on local"
## Bug Description

When I run phpunit tests on local, I see 3 tests fail because of discrepancy in used and expected domain names for the testing site:

[code]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* PHPUnit tests should pass on local

## Implementation Brief

* In the `tests/phpunit/wp-tests-

[2021-11-22 12:22] wpdarren commented on #4170
### QA Update: ❌

@ivankruchkoff @eugene-manuilov  all is good until I click on the upgrade button.   This message appears.

[code]
Any ideas?  I see the same in the network tab as well.

[2021-11-22 12:23] eugene-manuilov commented on #4385
@aaemnnosttv do you mind reviewing IB?

[2021-11-22 12:38] eugene-manuilov commented on #4169
Ok, you are right @kuasha420. 🤦‍♂️ IB ✔️

[2021-11-22 12:42] eugene-manuilov commented on #4368
Thanks, @asvinb. IB ✔️

[2021-11-22 12:46] eugene-manuilov commented on #4336
Thanks, @asvinb. IB ✔️

[2021-11-22 13:27] eclarke1 commented on #4087
@felixarntz just wanted to revisit this ticket now we have design approval on Zero Data States and are progressing that epic soon. I know you mentioned this was not blocking it, but potentially feels like something we could do alongside, and therefore we may want to revisit this one soon? WDYT?
cc @fhollis

[2021-11-22 14:19] wpdarren commented on #4151
### QA Update: ✅

**Verified the copy for:**

_UA manually added to header.php_ - [Screenshot](https://user-images.githubusercontent.com/73545194/142874676-053597ef-8b28-4bda-8a25-74f3d495f483.png)
_GA4 manually added to header.php_ - [Screenshot](https://user-images.githubusercontent.com/73545194/142877144-5abd1dd0-1ba0-4630-864e-ef510e5416d9.png)
_Both UA and GA4 tracking codes manually added to

[2021-11-22 15:00] felixarntz commented on #4097
@bethanylang Correct - can you provide the URL it will be on here once that's clarified?

[2021-11-22 15:08] eugene-manuilov commented on #4377
@tofumatt, could you, please, update IB to tell which approach to use to make sure the chevron change applies only when the unifiedDashboard feature flag is enabled?

[2021-11-22 15:38] aaemnnosttv commented on #4247
Thanks @asvinb, I think we can simplify the approach a little bit by only keeping track of the last/previous connected proxy URL rather than potentially many previous URLs. We can also decouple the URL itself from the concept of disconnection again by relating it to the connected URL as it may be useful in other situations as well 🙂

How about we create a `Previous_Connected_Proxy_URL` class to st

[2021-11-22 15:57] #4133 closed

[2021-11-22 15:57] #4288 closed

[2021-11-22 15:59] #4120 closed

[2021-11-22 16:00] #4106 closed

[2021-11-22 16:00] #4207 closed

[2021-11-22 16:01] #4049 closed

[2021-11-22 16:01] #4274 closed

[2021-11-22 16:18] #4358 closed

[2021-11-22 16:24] wpdarren commented on #4053
### QA Update:  ❌

@kuasha420 I have found some observations below.

1. There's a styling issue with the URL search and chips.

![image](https://user-images.githubusercontent.com/73545194/142896003-7c27a2d2-5a0f-486b-9631-a2375900b03a.png)

2. I click on the traffic chip, it is then highlighted. The URL is now `/wp-admin/admin.php?page=googlesitekit-dashboard#traffic` I then refresh the page and a

[2021-11-22 16:29] eugene-manuilov commented on #4053
@wpdarren there is a separate ticket to fix this issue: #4370

[2021-11-22 16:32] aaemnnosttv commented on #4385
IB ✅

[2021-11-22 16:49] tofumatt commented on #4376
I'm fine with the IB approach here over the POC—the approach here in the IB more cleanly separates the V1 and V2 logic. The IB is ✅  from me but as @felixarntz wrote the original POC I'd like him to review it too just to make sure it's right and the changes to the POC in this IB make sense for our PHP code 🙂

[2021-11-22 16:56] felixarntz commented on #4087
@eclarke1 This is kind of unrelated to the UX work, it's more of a technical thing we should improve at some point, but it's not as high a priority. The zero data state UX work doesn't block this and vice-versa.

With that said, I'm planning to pick up research on this again soon.

[2021-11-22 16:57] wpdarren opened #4389 "AdSense code appearing when setting to display code is disabled"
## Bug Description

In Adsense settings (`wp-admin/admin.php?page=googlesitekit-settings#/connected-services/adsense/edit`) the `Let Site Kit place AdSense code on your site` setting is disabled. I should not see any AdSense code on my site, but I do.

[code]
The code appears if you are logged in or out of your website.

It is possible that this code is expected since AdSense is connected and the

[2021-11-22 17:03] aaemnnosttv commented on #4370
@eugene-manuilov @asvinb I noticed this same problem today but with other dropdowns in the header. I haven't checked, but please ensure the current IB accounts for this as well.

![image](https://user-images.githubusercontent.com/1621608/142903843-acf36f7c-0308-4944-b8ef-1a157dae57fa.png)

[2021-11-22 17:08] aaemnnosttv commented on #4053
@wpdarren I think we may need a separate issue for some of these finer styling details, but thanks for raising them! Part of the reason for this is that many of our Figma docs use a style which is something that we're working towards but not something that we can adopt entirely right away (without things looking very inconsistent throughout). So we need to somewhat translate the design to what wor

[2021-11-22 17:14] wpdarren commented on #4053
@eugene-manuilov Thank you, hadn't noticed that ticket.

@aaemnnosttv Please let me know if you would like me to raise a ticket for this. 👍  If these aren't going to be fixed as part of this sprint then I guess they should be classed as known issues for bug bash?

For point 4, I have just noticed #4367 so that should fix that issue.

For point 2, I think this is the only outstanding issue, and not

[2021-11-22 17:25] eclarke1 commented on #3048
Asana epic Overview Tab: https://app.asana.com/0/1200188175804411/overview featuring all useful links to epic documentation

Design doc: https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#

[2021-11-22 17:48] tofumatt commented on #4146
Indeed, looks like that's gone. It would be good to have that as a visually hidden bit of text for the "back" arrow link (to the left of `Detailed page stats for: "x"`, just for screen-reader users. But looks like that isn't anywhere visually anymore.

`'<strong>Detailed page stats for:</strong> "%s"'` potentially introduces xss, I've gone with this approach: https://github.com/google/site-kit-wp/

[2021-11-22 17:52] tofumatt commented on #4377
Sounds good, added to the IB 👍🏻

[2021-11-22 18:08] aaemnnosttv commented on #4257
@felixarntz did we decide to only disable the link while it's loading and wait to apply the disabled style to the entire module setup CTA until we know it should be disabled? This is what I recall but just wanted to double-check.

[2021-11-22 18:11] aaemnnosttv commented on #924
@felixarntz what do you think about converting this to an epic? I think we probably have a single issue for laying the foundation and then each rule could probably have its own issue which could also potentially allow for some to happen at the same time.

[2021-11-22 18:19] wpdarren opened #4390 "Improve User Experience when authorisation times out"
## Bug Description

I suspect this is outside of the Site Kit plugin, but wanted to create a ticket for awareness.

Maybe one for @adamsilverstein?

If you do not login to your Google account when connecting a module within 10 minutes, a message appears.

`The state parameter is invalid or expired. This may happen for security reasons because you have taken longer than 10 minutes in the Site Kit s

[2021-11-22 18:21] aaemnnosttv commented on #3907
@felixarntz it's more of a concern when showing a loading state for a request to the "local" backend (WP) as this can sometimes be very fast. In our case, we have an additional request to the Idea Hub API so it's less of a concern in this instance so it's probably fine to not add extra behavior here.

ACs LGTM 👍  Sending back to IB for final touches, particularly around the last (new) AC point.

[2021-11-22 18:34] aaemnnosttv commented on #3432
@felixarntz I added some initial ACs. Sending your way for more details 🙂
cc: @marrrmarrr

[2021-11-22 18:48] aaemnnosttv commented on #4064
@bethanylang this change is no big deal.

This would be a bit more consistent with other services, however Optimize doesn't seem to be consistent with other services in that it doesn't seem to allow for the user's email address to support multiple Google sign-in properly. That is, in your link you have `authuser=1` which indicates your Google account that you have your Optimize account with is not

[2021-11-22 18:54] aaemnnosttv commented on #3998
@felixarntz I believe this issue is no longer relevant as of #4103 which should cover this and more, correct?

[2021-11-22 18:59] aaemnnosttv commented on #2274
@marrrmarrr I think for the case where we have both web + amp fields showing this message in a separate notice below both fields would look better than duplicating the input validation on both. Thoughts?
 cc: @felixarntz

[2021-11-22 19:06] aaemnnosttv commented on #4082
@felixarntz see my comment above. Should we make this issue dependent on the existing tag simplification epic?

[2021-11-22 19:11] eugene-manuilov commented on #4377
Thanks, @tofumatt. IB :heavy_check_mark:

[2021-11-22 19:36] bethanylang commented on #4097
@felixarntz Updated URL will be sitekit.withgoogle.com/documentation/dashboard#url-not-part-of-site. I've drafted the guide and there's an [Asana task for you to review here](https://app.asana.com/0/1200506742078421/1201401763138377).

[2021-11-22 20:05] felixarntz commented on #3998
@aaemnnosttv Good catch - closing this as duplicate since #4103 is already defined.

[2021-11-22 20:05] #3998 closed

[2021-11-22 20:07] felixarntz commented on #4097
@kuasha420 Can you open a quick follow-up PR to replace the website URL here with `https://sitekit.withgoogle.com/documentation/dashboard/#url-not-part-of-site` (see above)? I've updated this in the last bullet point of the ACs as well.

[2021-11-22 20:21] felixarntz commented on #4082
@aaemnnosttv Makes sense. Once we have the epic, we can mark this blocked by it (or rather by a particular issue in that epic).

[2021-11-22 20:26] felixarntz commented on #3432
@aaemnnosttv Hmm this seems like it may benefit from a bit more definition overall? I agree it might be good to add the two links, and we can define wording about that, but what about leveraging forms for actual issues like bug reports etc? Maybe we scope this one more specifically to providing helpful links in GitHub issue UI, following what you already added to the ACs?

@marrrmarrr It'd probabl

[2021-11-22 20:28] felixarntz commented on #924
@aaemnnosttv Good idea, that makes sense. Although I think we can skip the epic here and break this down into multiple issues without one - we already have a label to mark anything related to that other repository. First we should get started with #4187 though.

[2021-11-22 20:31] felixarntz commented on #4257
@aaemnnosttv Yeah that was it I believe. I can add some ACs.

[2021-11-22 20:50] felixarntz commented on #4376
@techanvil The IB mostly looks good, +1 on the separation. I'd argue we can clean that up a bit further though since we are creating a new method infrastructure now. Some potential ideas/approaches:
* The new version of `Google_Proxy::setup_url` should never be called without an access code (`code` query parameter), so maybe we should clarify that through the method signature. It already requires

[2021-11-22 21:06] felixarntz commented on #4383
@aaemnnosttv Good idea! I think it's more straightforward though to just pass the `step` from the proxy as a query parameter instead of the entire URL. Then the plugin adds the same value as `step` parameter to the URL to redirect back to, kind of similar how it does it with `code` and `site_code` for example. I've updated the ACs with that approach.

That part now needs to be updated in the IB, o

[2021-11-22 22:50] ivankruchkoff commented on #4170
@wpdarren that's a non-issue.

We're triggering a dummy remote notification, and WordPress is trying to mark it as accepted, but it doesn't exist, hence the error.

Reference:
https://github.com/google/site-kit-wp/blob/develop/includes/Core/Notifications/Notifications.php#L190-L192

I couldn't find a valid notification ID on the original ticket https://github.com/google/site-kit-wp/issues/1110

cc

[2021-11-23 04:11] kuasha420 commented on #4097
@felixarntz done for both old and new dashboard.

cc @eugene-manuilov

[2021-11-23 05:36] kuasha420 commented on #4053
I have fixed the issue of Point 2 in the follow up PR. It sets the chip as active based on URL Hash.

But there is a issue, as all the widgets aren't fully loaded yet, the page scrolls to undesirable places on page refresh. Is there any way to resolve that?

I think we can wait for all the widgets to load before scrolling, but that feels odd.

Any idea?

CC: @wpdarren @tofumatt @aaemnnosttv @eugen

[2021-11-23 06:00] ivankruchkoff commented on #4146
Thanks for the update @tofumatt

I've changed to use createInterpolateElement in https://github.com/google/site-kit-wp/pull/4384/commits/506357caa0d3d81021d7f20d73eea16bda7c75a8 and also changed the `viewcontext` from `VIEW_CONTEXT_DASHBOARD` to `VIEW_CONTEXT_PAGE_DASHBOARD` which is the value on `/wp-admin/admin.php?page=googlesitekit-dashboard&permaLink=http%3A%2F%2Fsitekit.10uplabs.com%2Fsample

[2021-11-23 06:05] ivankruchkoff commented on #4146
Separate comment to call out :

To get the component to load, you can open a URL like `/wp-admin/admin.php?page=googlesitekit-dashboard&permaLink=https%3A%2F%2Fwww.elasticpress.io%2Fblog%2F` replacing the permaLink with a valid link on your site and either setting a subHeader prop in `Header` or making a **temporary** tweak to `subHeader || (` in:
https://github.com/google/site-kit-wp/blob/506357c

[2021-11-23 08:33] aaemnnosttv commented on #3432
@felixarntz my initial thought is that this isn't as relevant for us as issues for bugs are either opened by us or the support team, so forms wouldn't be as useful I don't think. These are a new beta feature that I haven't seen used yet so maybe there is more utility to using them, I'm not really sure.

[2021-11-23 09:38] techanvil commented on #4376
Thanks @felixarntz, I'll take a look at the points you've raised, and might ask you to jump on a call to discuss, thanks :+1:

[2021-11-23 09:39] aaemnnosttv commented on #4383
@felixarntz yes, I see now that it uses the separate URL 👍

Agreed on the other points, I'll update the IB to resolve some of this technical debt.

[2021-11-23 10:06] wpdarren commented on #4097
@kuasha420 @eugene-manuilov can I just check that there is a period after  `Visit our support forums or website for support or further information` because there should be one.  I just noticed this when testing #4287

[2021-11-23 10:20] wpdarren commented on #4287
### QA Update: ✅

**Verified:**

- An error message informing the user that this page doesn't exist appears.
- Checked that no widgets appear on the page as per the AC.

![image](https://user-images.githubusercontent.com/73545194/143006919-77e53041-5147-40b9-aceb-adff59704234.png)

**QA Note:** the URL currently goes to the Site Kit website but that will be changed with #4097. There's also no peri

[2021-11-23 10:33] kuasha420 commented on #4097
@wpdarren missed the comment by @bethanylang regarding period. I have added the period to both dashboard in a follow up commit.

[2021-11-23 11:18] techanvil commented on #4053
Hi @kuasha420, would it be possible to share a screen capture to show us what's happening here?

[2021-11-23 11:31] aaemnnosttv commented on #4383
@felixarntz I've updated the IB here with something I think should work well. If you agree, this would probably be good for me to pick up since I have some of this sketched out locally already.

[2021-11-23 11:41] wpdarren commented on #4367
### QA Update: ❌

@eugene-manuilov @techanvil I have a few observations:

1. User clicks on 'Speed' and I am taken to the PageSpeed Insights widget.  When I deselect the 'Speed' chip, the background colour changes to grey, and I am assuming it should be white like the inactive chips? This applies on all chips. I noticed when you click away from the chip that the background colour changes to white.

[2021-11-23 12:00] techanvil commented on #4367
@wpdarren thanks for the review. Regarding points 1 and 2, my take is these are outside of the scope of this ticket; the behaviour in each case is not introduced by this PR, and not addressed by the AC or the IB. I would suggest raising these as separate tickets to be triaged.

Point 3 definitely needs a fix, I'll get onto that now. Cheers

[2021-11-23 12:07] asvinb commented on #4146
@tofumatt  @ivankruchkoff Just FYI, the "Return to dashboard" label is visible only on large screens and not on small screens:
https://www.figma.com/file/VILRieNSLg2DOVyEgFBkXe/%5BMVP%5D-Unified-Dashboard?node-id=2%3A6378

[2021-11-23 12:45] kuasha420 commented on #4053
@techanvil Here's a screen recording. https://youtu.be/-1zYEC4T7CY

[2021-11-23 13:53] techanvil commented on #4053
Thanks @kuasha420, that's very useful. I'm pretty sure what we're seeing is the default browser behaviour of scrolling the element (e.g. `#speed`) into view on page load - or, reloading at the previous scroll point. It's not caused by the Chip click handler with the JS-triggered scrolling, as it's not firing here - you can verify this by popping open `assets/js/components/DashboardNavigation.js` i

[2021-11-23 14:27] felixarntz commented on #3432
Sounds good, I agree we should keep things basic for now. Maybe still worth opening an issue for the _Backlog_ to go further at some point - it may make things easier for external folks.

[2021-11-23 14:32] felixarntz commented on #4097
@wpdarren @kuasha420 Nit-picking here, but normally there shouldn't be a period there, the previous approach was correct according to our copy guidelines. I personally understand why you suggested adding a period, but this has come up before and currently our UX guidance is the following:
* Omit the period when it's a single sentence in the UI.
* Omit the period on the second sentence when it's ju

[2021-11-23 14:52] eugene-manuilov commented on #4289
@kuasha420 could you please add QAB?

[2021-11-23 15:02] bethanylang commented on #4235
@jamesozzie Any update here? Thanks!

[2021-11-23 15:05] wpdarren commented on #4097
Thank you @felixarntz for the explanation.  I am happy to go with the copy guidelines, but since it's a second sentence, I assumed it should have a period.  I know @bethanylang also mentioned this in an earlier comment.

[2021-11-23 15:26] wpdarren commented on #4170
### QA Update: ❌

@ivankruchkoff @aaemnnosttv  Tried this again today. I am unable to pass this because I am not seeing the two requests to `mark-notification` as per the screenshots.  As per my [comment above](https://github.com/google/site-kit-wp/issues/4170#issuecomment-975468136) the error appears in console and network tabs.

1. Unified Dashboard is enabled.
2. I go to `/wp-admin/admin.php?pa

[2021-11-23 15:56] ivankruchkoff commented on #4146
Over for CR:
<img width="1432" alt="Screen Shot 2021-11-23 at 7 47 55 AM" src="https://user-images.githubusercontent.com/373931/143057519-6ff27129-49e1-4ef4-9d04-b3ff0f100e4c.png">

Mobile:
<img width="397" alt="Screen Shot 2021-11-23 at 7 45 53 AM" src="https://user-images.githubusercontent.com/373931/143057583-55908b8c-24c8-465f-ac2e-31b7561903fc.png">

and from storybook:

<img width="1199" alt

[2021-11-23 16:00] wpdarren commented on #4348
### QA Update: ❌

@tofumatt I do not see the `Top Earning Pages` on the dashboard with `unifiedDashboard` enabled. I checked and when it's disabled the widget does appear as expected.

I tested this on two scenarios.  1) with a site only using Tester plugin and a site that has had its AdSense account approved but no ad impressions. I thought initially it might be related to the tester plugin but n

[2021-11-23 16:08] eugene-manuilov commented on #4367
@wpdarren this is the correct behavior. The chip stays grey because it is active and you can select it again by hitting the "Enter/Return" key. Also you can navigate between chips using the Tab key, which when clicked, activates the next chip and makes it grey.

Ideally, we shouldn't allow users to deselect a chip at all, but unfortunately this is impossible with the Material UI library we use for

[2021-11-23 16:23] eugene-manuilov commented on #4367
@wpdarren the 3rd point is fixed.

[2021-11-23 16:32] jamesozzie commented on #4235
@bethanylang I'm awaiting an update from the Registration Magic team. I've requested an update now.

I also noticed one of our users opened a support topic [on their support forums](https://wordpress.org/support/topic/google-site-kit-cannot-read-properties-of-undefined-reading-pe/).

[2021-11-23 16:37] wpdarren commented on #4097
### **QA Update: ⚠️**

This ticket is on hold until a decision is made with the period in the second sentence.

**Verified:**

- The "error" message for when Site Kit cannot determine what piece of content the current entity URL, in the entity dashboard applies is modified as per the AC.

![image](https://user-images.githubusercontent.com/73545194/143065351-ade55b34-aae1-4589-abbb-381b6882f51c.png

[2021-11-23 17:00] aaemnnosttv commented on #4170
@wpdarren please try using this instead

[code]

[2021-11-23 17:02] wpdarren commented on #4367
### QA Update: ✅

**Verified:**

- Clicking the tab bar chips (Traffic, Content, Speed and Monetization) correctly scrolls to the relevant context area.
- Clicking on Traffic scrolls to the top of the page.
- Clicking on a selected chip deselects it and removes the hash part of the URL in the address bar.
- Verified 3rd point issue has been fixed and placement is correct with notification.

https:

[2021-11-23 17:18] wpdarren commented on #4289
### QA Update: ✅

**Verified:**

- When Adsense Module is not connected, the Monetization Chip does not appear on the unified dashboard.

![image](https://user-images.githubusercontent.com/73545194/143072473-b0cf4165-11c1-4fb7-8ef7-9abc699ddb36.png)

- When Adsense Module is connected, the Monetization Chip is visible now.

![image](https://user-images.githubusercontent.com/73545194/143072515-5ba8

[2021-11-23 17:31] kuasha420 commented on #4107
@aaemnnosttv @tofumatt I am seeing some inconsistencies between AC and IB here, some of them are:

* IB has no mention of import-aliasing `@wordpress-core/*`.
* IB has no mention of updating `assets/js/googlesitekit-idea-hub-notice.js`.
* It's not clear from the IB which plugins we want for the gutenberg entrypoints or do we want all of them.

Some clarification about above point would be apprecia

[2021-11-23 19:22] jamesozzie opened #4398 "Include the async attribute within the AdSense snippet"
## Bug Description

As discovered by [one user in the support forums](https://wordpress.org/support/topic/render-blocking-script-2/#post-15091761) the AdSense snippet as placed by Site Kit doesn't include the async attribute, which [is recommended if manually adding AdSense code to your site](https://support.google.com/adsense/answer/9274516).

Note that the AdSense snippet was modified recently t

[2021-11-23 21:32] ivankruchkoff commented on #4170
@wpdarren this was my experience with the `id: 'uxr_study',`

https://user-images.githubusercontent.com/373931/143132476-c3885161-ee76-47ed-9495-4b22958e1692.mp4

[2021-11-23 21:36] eugene-manuilov commented on #4374
@jimmymadon could you please add QAB?

[2021-11-23 21:55] felixarntz commented on #4383
@aaemnnosttv Thanks, the suggested approach sounds great - IB ✅

I'll assign this to you already in EB.

[2021-11-23 22:02] felixarntz commented on #4398
@eclarke1 @FlicHollis This should be a tiny fix (estimate maximum 3), but it's somewhat a high priority enhancement. Can we add this to the current sprint? We can remove e.g. #2908 or #4209 instead.

If that's okay, please also add this to the upcoming 1.47.0 release, as it would be valuable to mark for inclusion there (to give it even "higher" priority timing-wise).

[2021-11-24 05:21] asvinb commented on #4343
@felixarntz The `ActivateAnalyticsNotice` component looks rather big compared to other elements on the page:
![image](https://user-images.githubusercontent.com/31818/143179250-c2c19e71-069c-4f14-abf8-01f574d308c7.png)

I'am thinking whether we can tighten things a little bit, by reducing the padding, font size and the width of the SVG which will result in the following:
![image](https://user-image

[2021-11-24 08:46] kuasha420 commented on #4385
QA: :heavy_check_mark:

PHPUnit Test Passes on develop.

[2021-11-24 09:19] aaemnnosttv commented on #4381
cc @felixarntz

[2021-11-24 09:23] aaemnnosttv commented on #4378
Thanks @techanvil – what did you have in mind? I'm not sure the suggested API would work because the selector needs to be called within the `mapSelect` function passed to `useSelect` but I don't think this would be possible as suggested as `useSelectFrom` wouldn't have the context of which selector is being called.

[2021-11-24 09:26] asvinb commented on #4247
Thanks @aaemnnosttv . Makes sense. Can you take a look at the updated IB?

Thanks!

[2021-11-24 09:27] aaemnnosttv commented on #4379
Maybe we can enhance the wording but it doesn't read too badly to me 😄

[2021-11-24 09:36] aaemnnosttv commented on #4380
cc @felixarntz

[2021-11-24 09:39] aaemnnosttv commented on #4389
Thanks @wpdarren – this is expected behavior as defined by the criteria for the addition of the platform tags. See the ACs for https://github.com/google/site-kit-wp/issues/3688

[2021-11-24 09:39] #4389 closed

[2021-11-24 09:44] aaemnnosttv commented on #4373
cc @felixarntz

[2021-11-24 09:55] techanvil commented on #4378
@aaemnnosttv, I was just thinking of something simple like this, to accommodate the common simple use case of a single selector without login in the `mapSelect` function:

[code]

[2021-11-24 09:56] aaemnnosttv commented on #4360
This may be preferable than keeping them under it as we do. Dropdown/select menus also have a higher z-index than the header. Worth reviewing though.

[2021-11-24 10:01] aaemnnosttv commented on #4313
The setting here (as in all modules) is specifically about whether or not Site Kit is responsible for placing the snippet. In this instance, the tag/snippet is already placed manually as you said so Site Kit detects this and proactively disables its own snippet to avoid double-tagging, which is important, particularly for Analytics. So this is intentional, but I agree this could be indicated a bit

[2021-11-24 10:10] wpdarren commented on #4097
@marrrmarrr hello, please could you add your thoughts to the question left by [Felix here](https://github.com/google/site-kit-wp/issues/4097#issuecomment-976625357) Thanks!

[2021-11-24 10:12] aaemnnosttv commented on #4365
From what I can see, we aren't able to request trashed accounts from the current API; they're simply excluded from our requests. It seems that they [are available to request starting with GA4](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/list?authuser=0&skip_cache=true#query-parameters) so this could be a potential enhancement for the future using the new

[2021-11-24 10:13] asvinb commented on #4370
@kuasha420 Please note that this bug has been fixed in https://github.com/google/site-kit-wp/pull/4384 . Can you hold on for now till #4384 is reviewed and merged?

[2021-11-24 10:14] aaemnnosttv commented on #4314
This one looks closely related to my comment on the previous issue https://github.com/google/site-kit-wp/issues/4313#issuecomment-977719342

[2021-11-24 10:16] kuasha420 commented on #4370
@asvinb Okay, thanks for notifying!

[2021-11-24 10:16] adamdunnage commented on #4313
@aaemnnosttv Yes the specific issue here I am referring to is the fact that the toggle button reverts back to switched off even if it has been manually switched on and settings saved. And as you can see from the GIF I had switched this on manually to place the SK snippet which shows the 'Snippet is inserted' message but when editing that toggle is defaulting to switched off because of the function

[2021-11-24 10:20] aaemnnosttv commented on #4311
@jamesozzie I've noticed this one as well although I've never seen it take longer than a few seconds. I can imagine for some users this could take a bit longer and makes for a confusing experience.

@felixarntz I've added preliminary ACs but let's define how the loading state should look as it's a bit different than other modules where the progress bar would replace the select for example. Here we

[2021-11-24 11:23] aaemnnosttv commented on #4378
@techanvil the problem with that I think is that the hook wouldn't trigger a re-render when the result of the `mapSelect` changes. See https://github.com/WordPress/gutenberg/blob/3e867dd7c6560e4b2cb9a59cc02856e055be6142/packages/data/src/components/use-select/index.js#L131-L138

You can return store selectors from a `useSelect` but those are only intended for use in event listener.

[2021-11-24 11:52] eugene-manuilov commented on #4053
@wpdarren this is ready for another pass

[2021-11-24 11:58] aaemnnosttv commented on #4247
Thanks @asvinb – the IB LGTM although we should be sure to add a test case for `Previous_Connected_Proxy_URL` as well mostly for testing the value is set as expected when the connected proxy URL changes.

Let's allow a little more time for this as well with the estimate 👍

[2021-11-24 12:04] eugene-manuilov commented on #4398
IB ✔️

[2021-11-24 12:14] eugene-manuilov commented on #4381
IB ✔️

[2021-11-24 12:28] wpdarren commented on #4053
### QA Update:  ⚠️

This is looking good other than @aaemnnosttv @felixarntz I don't want to loose my observations on the differences between the tab bar and Figma designs. As mentioned in [this comment](https://github.com/google/site-kit-wp/issues/4053#issuecomment-975694897). Should we create a ticket for this, or, do you want me to add them as known issues for bug bash?

**Verified:**

- Checke

[2021-11-24 12:50] wpdarren commented on #4170
### QA Update: ✅

**Verified:**

- When clicking on the `Upgrade to GA5` button and `Dismiss this message` link the two requests to `mark-notification` appear in the network tab in the console.

![image](https://user-images.githubusercontent.com/73545194/143241640-32b1f88a-e7e3-4bd7-97b6-90955d0be947.png)

[2021-11-24 13:16] wpdarren commented on #4368
### QA Update: ⚠️

@eugene-manuilov @felixarntz in the QAB it mentions setting up a new Jurassic.ninja site but we only get ideas on `oi.ie` and `elasticpress.io` so I followed the instructions in the QAB, but on a site that is connected to `oi.ie` via the developer plugin. After going through the 3 actions, no survey appeared.  I remembered this being a tough one to test previously.  Am I right i

[2021-11-24 13:22] techanvil commented on #4378
@aaemnnosttv thanks for pointing that out. Sorry for clearly not reading the docs on this, as that would have given me a hint:

function because your component won’t re-render on a data change.

https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#useselect

FWIW, I have confirmed the fact that it doesn't re-render with this approach, with a codesandbox (forked fro

[2021-11-24 13:41] marrrmarrr commented on #4097
When there are two or more sentences after each other, it's ok to use a full stop.
For future reference, the complete copywriting guidelines are here:
https://material.io/design/communication/writing.html#principles

Quoting the relevant section:

[2021-11-24 13:44] wpdarren commented on #4370
@asvinb @kuasha420 just adding a note here that this also causes an issue on small screen sizes. I am sure this fix will cover this as well but wanted to make a note :)

![image](https://user-images.githubusercontent.com/73545194/143249514-ff180257-6b82-4bf8-8551-703d57086367.png)

[2021-11-24 14:06] wpdarren commented on #4336
### QA Update: ✅

- The loading indicator / small progress bar for the unifiedDashboard search field follows the Figma design, i.e. it appears as a thin progress bar "line" above the dropdown.

https://user-images.githubusercontent.com/73545194/143253127-1b99c978-7f0c-4609-80f7-d7020b764dc3.mp4

**Note:** I observed odd behaviours with the entity search that I do not feel are part of this ticket,

[2021-11-24 14:08] asvinb commented on #4247
Thanks @aaemnnosttv . Updated as per your comments.

[2021-11-24 14:17] felixarntz commented on #4097
@marrrmarrr Thanks for clarifying!

@wpdarren Okay, based on the above, the period should only be omitted when it's a single sentence or a single sentence followed by a link (e.g. the "Learn more" type of thing). In other words, it's correct to have a period here. I believe other than this everything was QAd without any problems found, so I'm gonna go ahead and move this to Approval.

[2021-11-24 14:31] wpdarren opened #4402 "Odd Behaviour on Unified Dashboard URL Search with Results"
## Bug Description

While testing #4336 I noticed odd behaviour on the URL search that I didn't observe previously.

1.  I typed a few letters and the search result appeared, but then changed to another page within a second or two. This is without typing any other letters.

2. I typed the word `cat` and a result appeared for 'Sample page' the only letter in the search term is `a`  so I am wonderin

[2021-11-24 14:57] aaemnnosttv commented on #4036
@eugene-manuilov this one is with you for a while now; is it still an issue? If so, is it still a P0?

[2021-11-24 15:09] bethanylang commented on #4371
User was able to successfully connect by manually verifying via Search Console; closing for now unless this comes up again.

[2021-11-24 15:09] #4371 closed

[2021-11-24 15:58] aaemnnosttv commented on #4247
IB ✅

[2021-11-24 18:01] eugene-manuilov commented on #4368
@wpdarren, I think it doesn't work on your existing site because that feature tour has been already dismissed there. Can you try to do the same on a brand new jurassic.ninja site with the developer plugin configured to use `oi.ie` domain? Or maybe try to use a different admin on your existing site because feature tours are dismissed on a per-user basis. Let me know if it helps.

[2021-11-24 18:15] felixarntz opened #4403 "Make the plugin activation banner a simple CTA link instead of replicating the splash screen"
We've recently re-evaluated the behavior of the plugin activation banner: Somewhat of a problem with that is that it is a duplicated version of the plugin splash screen, however with simplified UI. This comes with problems like the following:
* duplicated engineering maintenance with whatever changes are made to the splash screen
* duplicated UX efforts because every UI component added to the spla

[2021-11-24 18:16] felixarntz commented on #4343
@asvinb As mentioned in our sync call, it's true that this looks strange, but we've decided to remove this "replication of the splash screen UI" approach from the plugin activation banner. I've opened #4403 to address this separately.

I guess we can close this issue (and the PR #4400) then - sorry about that, but in the long run the simplification here probably makes sense from both a UX and engi

[2021-11-24 18:17] #4343 closed

[2021-11-24 18:23] felixarntz commented on #4376
Thanks @techanvil @FlicHollis! Just confirming here that per our call this is now depending on #4383, so that one should be in the current sprint instead of this one.

[2021-11-24 18:24] felixarntz commented on #4383
For reference: As discussed in our sync call, this is now a blocker for #4376 so it is now part of the current sprint in favor of the other one which can be worked on once this is merged, preferably in the following sprint.

[2021-11-24 19:03] felixarntz commented on #4053
@wpdarren @aaemnnosttv @eugene-manuilov @kuasha420 I reviewed the UX differences here in detail. In this case there are definitely a few places where we diverge from the designs too far. Specifically, it looks like the code right now is relying almost entirely on the `.mdc-chip` Material UI defaults - which makes sense as a starting point, but following the Figma designs here more precisely does n

[2021-11-24 19:19] felixarntz commented on #4390
@wpdarren Thanks for catching that! For UI issues on the service like this, could you open an Asana task instead and ping Adam or me there please? The one here could then be closed.

[2021-11-24 19:23] felixarntz commented on #4311
@aaemnnosttv Using the mini progress bar like we do in the compatibility checks sounds good to me. I've defined this in the ACs. If that looks good to you, let's move this to IB.

[2021-11-24 19:31] felixarntz commented on #4147
Per the recent related UX changes, this issue is no longer relevant, so it can be closed. I will open and define the replacement issues for the updated search and entity header UX requirements early next week.

[2021-11-24 19:31] #4147 closed

[2021-11-25 11:06] asvinb commented on #4053
@kuasha420 The last issue that @felixarntz noted:

has been fixed in the following PR: #4384 You can disregard that last point.

[2021-11-25 13:04] jamesozzie opened #4406 "Display a count of all connected sites on the Site Kit "Manage Sites" screen"
## Feature Description

For agencies or those with a large number of sites displaying the total number of connected sites would be useful to determine any users who may be reaching the [50 sites OAuth token limitation](https://developers.google.com/identity/protocols/oauth2#:~:text=There%20is%20currently%20a%20limit,not%20apply%20to%20service%20accounts.). (To access the Manage Sites page: [Site K

[2021-11-25 13:05] jamesozzie commented on #4406
@bethanylang This may be something we could considering adding to documentation if not already on your radar.

[2021-11-25 13:44] henrywright commented on #4406
This count if displayed in the network admin area when you implement #276 would be useful for super admins as well

[2021-11-25 14:13] wpdarren commented on #4340
### QA Update: ❌

@techanvil @eugene-manuilov here are my observations:

1. There are a number of differences between the dashboard and figma designs. It could be as @felixarntz mentioned that the figma is future proofing, but would like clarification here.

- Title: the font size, color and weight is different between dashboard and figma designs.
- Subtitle: the font size and color is different b

[2021-11-25 15:09] wpdarren commented on #4275
### QA Update: ❌

@ivankruchkoff when I click on the `Jump directly to Idea Hub to see topic suggestions for your site` link it does not take me to the top of the Idea hub widget.  I checked this on current and unified dashboard.

![image](https://user-images.githubusercontent.com/73545194/143464964-b450ebd2-6aa1-4acd-b2c5-8921446e7b79.png)

[2021-11-25 15:35] wpdarren commented on #4368
@eugene-manuilov I have followed the instructions in the QAB and your comment, and still cannot trigger the survey.  I did some digging though and found this from @felixarntz on [this ticket ](https://github.com/google/site-kit-wp/issues/4052#issuecomment-925172665)

I am assuming this will still applies.

I have set up a site with Idea hub activated, and 1.42.0 in the tester plugin.
Will check in

[2021-11-25 15:50] techanvil commented on #4340
Hi @wpdarren, thanks for the review. To address your points:

My interpretation of this ticket, reading the AC and IB, is that this ticket is focused on the copy, not the broader styling. Also it's worth pointing out that the title/subtitle styling in question is essentially the same as on the non-unified dashboard.

That said I could do with a bit of clarification here myself, as to whether this

[2021-11-25 16:08] eugene-manuilov commented on #2044
@felixarntz, IB is ready for review.

[2021-11-25 16:16] eugene-manuilov commented on #4340
Thanks, @wpdarren, these are all good points, but as Tom said this is out-of-scope for this ticket. Let's create new issues for your points.

The goal for this ticket is to enable titles and subtitles for widget areas for Unified Dashboard pages and to make some adjustments in copy.

[2021-11-25 16:19] wpdarren commented on #4374
### QA Update: ✅

Went through setting up all of the modules (including Idea hub) and checked the event category `{viewContext}_authentication-success-notification` is appearing.  - [Screenshot](https://user-images.githubusercontent.com/73545194/143473862-cd2734af-e65f-40b0-913a-b788217c6212.png)

[2021-11-25 16:24] wpdarren commented on #4340
@eugene-manuilov @techanvil thank you for checking these. In that case, I will create a ticket for my observations.

### QA Update: ✅

**Verified:**

- Main dashboard: the new widget areas for the unified dashboard have titles/subtitles as per AC.
- Entity dashboard: the new widget areas for the unified dashboard have titles/subtitles as per AC.
- Checked the titles/subtitles appear with no stylin

[2021-11-25 16:31] wpdarren opened #4407 "Design differences on widget title and subtitle for Unified Dashboard"
## Bug Description

While QA'ing #4340 I noticed a few observations, which I understand are out of scope for that ticket.

There are a number of differences between the titles/subtitles on the main and entity dashboard and figma designs.

- Title: the font size, color and weight is different between dashboard and figma designs.
- Subtitle: the font size and color is different between dashboard and

[2021-11-25 16:43] wpdarren commented on #4390
Thanks @felixarntz and noted for future.  👍  For reference, here's the [Asana ticket ](https://app.asana.com/0/1185360131189553/1201428661290473/f)

[2021-11-25 16:43] #4390 closed

[2021-11-25 17:46] eugene-manuilov commented on #4376
@felixarntz do we really need to separate those methods? There are not that many changes in those methods to create separate versions of them. Plus, it's against our current approach in other places - we don't create a new react component with feature-specific changes, we make conditional changes in the component itself based on whether the feature flag is enabled or not. I think it would be bette

[2021-11-25 17:56] eugene-manuilov commented on #2045
@felixarntz, IB is ready for review. I have also bumped the estimate to `15` since this ticket will require a lot of QA.

[2021-11-25 18:11] eugene-manuilov commented on #4257
IB :heavy_check_mark:

[2021-11-25 18:57] eugene-manuilov commented on #4036
@aaemnnosttv I can't say exactly because I haven't had a chance to look at this issue yet.

[2021-11-25 18:59] eugene-manuilov commented on #4036
@westonruter could you please tell me what you see in Google Analytics? Do you see double slashes there too or is it just in the plugin?

[2021-11-25 19:18] wpdarren commented on #4341
### QA Update: ✅

**Verified:**

The new splash screen for activating analytics:

- It implements the UI from this Figma design (the grey box with the checkbox inside).
- It is only shown when the `serviceSetupV2` feature is enabled.
- It is only shown if the analytics module is not active.
- The side kick graphic is the green side kick as per the Figma design

![image](https://user-images.githubu

[2021-11-25 22:45] tofumatt commented on #4121
Update on this issue: it turns out the `useSelect`s that can be straightforwardly updated to `useInViewSelect` is a lot more narrow than originally intended. Any loading or error selector is much more sensitive to the `undefined` returned by `useInViewSelect`.

I'm working through these but it's a bit less straightforward than we hoped. There was also a problem with our `useInView` approach—it cau

[2021-11-26 01:08] ivankruchkoff commented on #4275
@wpdarren yes, it seems that the it doesn't work based on the IB as implemented. I tried the same thing with page speed insights and the behaviour is the same when the data is loaded, see the recording:

https://user-images.githubusercontent.com/373931/143512391-a7d40b7f-8472-4d07-a019-e5563e0aaba4.mp4

[2021-11-26 01:34] ivankruchkoff commented on #4275
The approach in the IB won't work, I've added a screenshot to demonstrate, in this case it's unified dashboard + psi module.

[code]

Browser scrolls to the element, but it's hidden by the google header and the wp header, so we either need to change approach to account for the height of these two elements, or come up with another approach.

<img width="1440" alt="Screen Shot 2021-11-25 at 5 28 59

[2021-11-26 09:37] techanvil commented on #4376
@eugene-manuilov, thanks for pointing this out. When I read the point about throwing an exception in the AC, I searched the codebase for instances of exceptions being thrown and did find that happening in a number of places. Are these signs of an older approach, or do we sometimes throw exceptions but only when the `throw/catch` behaviour is desired?

[2021-11-26 11:11] eugene-manuilov commented on #4376
@techanvil those had been added before I joined the project, so I can't say anything about them. But now going forward we should avoid doing it in my opinion.

[2021-11-26 12:27] eugene-manuilov commented on #4275
@wpdarren that is a problem that requires reworking of the anchor link in the banner. Unfortunately, this is out-of-scope for this ticket, but we definitely need to solve this issue. Could you please create a new ticket for this issue?

For this ticket, all we need to check is that you get to the Idea Hub widget when you click on the jump link, although this is not the best UX at the moment.

[2021-11-26 12:41] eugene-manuilov commented on #1769
@aaemnnosttv or @tofumatt can anyone of you help with this ticket? Unfortunately, I can't solve all js test issues. :cry:

[2021-11-26 13:46] wpdarren commented on #4275
### QA Update: ✅

**Verified:**

On the `Congrats on completing the setup` notification, when I press the link on the the `Jump directly to....` you are taken to the Idea hub widget on the dashboard. (including the unified dashboard) As reported above, you are not taken to the top of the widget, which is not good UX. I will create a separate ticket because this is outside of the scope of this tick

[2021-11-26 13:56] wpdarren opened #4410 "Improve UX on the Idea Hub Setup & PageSpeed CTA to jump to the widget"
## Bug Description

While testing #4275 I noticed an UX issue, which I understand is out of scope. When you connect Idea Hub or PageSpeed Insights, you are redirected to the dashboard. The `Congrats on completing the setup for Idea Hub!` notification appears.  When you click on the `Jump directly to Idea Hub to see topic suggestions for your site` link you are sent to the Idea hub widget but it is

[2021-11-26 14:55] techanvil commented on #3236
## QA :white_check_mark:

Confirmed on recent runs of the VRT and E2E tests that no warnings about deprecated `waitFor` calls are being logged.

[2021-11-26 15:02] wpdarren commented on #4146
### QA Update: ⚠️

@ivankruchkoff just two observations. Are these expected?

- On Storybook and test site, the link color is different (#1a73e8) from the Figma (#2998e8)
- On test site, the font weight is 600, on Figma it is 700. for the `Detailed page stats for` text.

[2021-11-26 17:27] ivankruchkoff commented on #4410
More detail in https://github.com/google/site-kit-wp/issues/4275#issuecomment-979587337 the sitekit header and #wpadminbar cover the top of the element making it appear like we've scrolled too far down.

Issue exists for both idea hub module and page speed insights (only visible when we've loaded the full module content).

[2021-11-26 22:18] ivankruchkoff commented on #4146
@wpdarren in the IB we have: `Apart from hiding the "Return to dashboard" label on small screens via CSS, no other styles should be added.`, however I know we introduced some CSS changes, so perhaps @asvinb / @tofumatt can comment on it.

[2021-11-27 00:18] ivankruchkoff commented on #3902
The IB doesn't quite address the issue, due to race condition
Should I continue with the tests for the PR @eugene-manuilov https://github.com/google/site-kit-wp/pull/4412/files

See the attached recording:

https://user-images.githubusercontent.com/373931/143661847-f69315cc-e660-4c9b-ad88-fcce5447876a.mp4

1. We click the start a draft post button.
2. https://github.com/google/site-kit-wp/blob/17d

[2021-11-27 12:20] moaid500 commented on #289
I used to have same issue the past and fixed with this website help
[قصة عشق](https://bare-eq.life/)

[2021-11-27 13:22] Abhishek-90 commented on #4398
Is the issue still open? I would like to work on it. Can any explain it properly, I am beginner in open source and this can be my first contribution.

[2021-11-27 15:17] Utkarsh1504 commented on #4381
I would like to work on this issue

[2021-11-28 04:57] aesstechindia commented on #245
resetting site kit and deactivating related plugins and then finally reconfiguring site kit worked for me

[2021-11-29 10:23] asvinb commented on #4146
@wpdarren
* We are using the existing link color from the codebase. Let's stick with `#1a73e8` to be consistent with the current styles.
* We are using the `strong` tag for the `Detailed page stats for` and WordPress actually sets the `font-weight` to `600`. However we are not loading the `600` font-weight for `Google Sans` as per screenshot: ![image](https://user-images.githubusercontent.com/3181

[2021-11-29 11:13] asvinb commented on #3525
@aaemnnosttv I also noticed that some SVGs are not optimized, for e.g some have inline comments, extra unneeded tags. In the IB, I suggested we optimize them as well.

[2021-11-29 11:18] jamesozzie commented on #245
@aesstechindia Great to hear it. If you run into any further issues or if you have any queries in relation to Site Kit you can reach us in the [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/).

[2021-11-29 11:58] aaemnnosttv opened #4417 "Release 1.47.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-11-29 12:02] wpdarren commented on #4368
### QA Update: ✅

Verified: After the 3rd action, you see the survey pops up. - [Screenshot](https://user-images.githubusercontent.com/73545194/143864630-33d04731-baad-4115-b90b-8604ad8d4d76.png)

[2021-11-29 12:43] eugene-manuilov opened #4418 "caniuse-lite is outdated"
## Feature Description

When I build assets, the `browserslist` package reports that the version of the `caniuse-lite` package in our `package-lock.json` file is outdated and we need to update it by running the `npx browserslist@latest --update-db` command.

[code]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2021-11-29 12:49] jamesozzie commented on #4398
@Abhishek-90 While we have a solution in place for this many thanks for your proposal to assist. We expect to have this update included with the next plugin release.

[2021-11-29 13:06] asvinb commented on #4238
@techanvil I'am wondering whether we actually need a VRT scenario for this ticket since we don't really need to test the UI. I think a JS test would be sufficient. Also, in either case, I think the estimate is too low as well 👍
cc @eugene-manuilov @aaemnnosttv

[2021-11-29 13:26] jimmymadon opened #4420 "PHP 7.4, WordPress Nightly Tests erroring"
## Bug Description

[PHP (PHP 7.4, WordPress Nightly)](https://github.com/google/site-kit-wp/runs/4353248874?check_suite_focus=true) tests erroring.

## Steps to reproduce

1. Run the PHP (PHP 7.4, WordPress Nightly) Tests for [PR #4416](https://github.com/google/site-kit-wp/pull/4416)
2. There will 38 Errors as shown in the attached screenshot.

## Screenshots
![image](https://user-images.githubu

[2021-11-29 13:29] wpdarren commented on #4146
### QA Update: ✅

- A new component EntityHeaderBanner is displayed, containing the title and URL of the current entity.
- The new component renders in the inner content from that white "sub-header" area that shows between the header bar and the pills/tabs navigation bar.
- The component itself does not receive any of the background-color, border, shadow etc.
- Storybook is added for the EntityHea

[2021-11-29 13:59] eugene-manuilov commented on #4238
@asvinb we already have VR tests for loaded states of those widgets, so I think it makes sense to add VR tests for zero-data states as well since we will work on a new design for it at some point in the nearest future.

As far as I see this ticket requires changes in one line of code + a few new VR tests that can be copy/pasted using existing tests for those widgets. So, `3` seems enough to me, or

[2021-11-29 13:59] asvinb commented on #4380
@aaemnnosttv I noticed that if we use the `#googlesitekit-pagespeed-header` in the URL, we are not scrolled to the section. I'am wondering whether it's because initially the element is not present and the browser cannot find it on load, thus it fails to scroll to the container. We can manually scroll once the page is loaded, however I'am not sure it's worth looking into it since we'll be rolling o

[2021-11-29 14:11] asvinb commented on #4238
@eugene-manuilov Makes sense for the first point. I think `3` might be a little just since it includes VR tests, CR and QA. I remember we said `3` should be for simple changes only 🤔

[2021-11-29 14:17] tofumatt commented on #4107
@kuasha420 Argh, that's totally correct. I think I overlooked it because I had discussed the approach we'd likely use before but I can see it's missing from the IB. My brain must've filled in the blanks, sorry!

The approach here should be that we should alias all `@wordpress-core/*` imports to use the relevant `window.wp.*` package. We'll want to alias `@wordpress-core/api-fetch` to `wp.apiFetch`

[2021-11-29 14:32] wpdarren commented on #4209
### QA Update:

**Verified:**

- If no account is set yet, SK no longer pre-selects the first account.
- It no account is set yet, SK only selects the first account from the response if that is the only account available

![image](https://user-images.githubusercontent.com/73545194/143881767-bdc5d2f1-3ba0-45ad-8ffd-afef8b930086.png)

![image](https://user-images.githubusercontent.com/73545194/14388

[2021-11-29 14:37] eugene-manuilov commented on #4238
Yep and this ticket is a simple one in my opinion. However, I think we can bump it to `7` if we add a point to add zero-data states for all widgets. I'll do go ahead and update it.

[2021-11-29 14:56] henrywright commented on #4363
As noted by @jamesozzie this is an edge case that impacts a subset of WordPress users only. The following steps can be used to reproduce the issue:

 - Multisite install using subdomains
 - As an authenticated super admin, click My Sites in the toolbar at the top of the page
 - Select Network Admin > Settings in the option list
 - Select "Both sites and user accounts can be registered" for the "Al

[2021-11-29 15:06] techanvil commented on #4238
Thanks @asvinb and @eugene-manuilov!

[2021-11-29 15:06] eugene-manuilov commented on #4373
IB looks good to me. :heavy_check_mark: @techanvil can you add the estimate?

[2021-11-29 15:06] wpdarren commented on #4169
### QA Update: ⚠️

@kuasha420 please could you suggest how we might:

I've gone into the network tab and selected slow 3G and played around with Chrome settings but I am unable to trigger the reported issue.  Reading through the comments if does seem that we've not been able to recreate consistency, so could be down too slow servers on free hosting.  Any advice how it could be tested would be appr

[2021-11-29 15:09] eugene-manuilov commented on #4169
@asvinb could you please, help, Darren with his question?

[2021-11-29 15:11] eugene-manuilov commented on #4169
Actually, I think I can help too :smile:. @wpdarren it means that all js tests should pass which has already been confirmed during code review.

[2021-11-29 15:12] wpdarren commented on #4169
@eugene-manuilov so I can assume that it's only the story for me to look at?  👍

[2021-11-29 15:13] asvinb commented on #4169
Thanks for jumping in @eugene-manuilov . That's correct, I intentionally added the tests even though it was not mentioned in the IB just to make sure that HTML tags are stripped. So the tests passing only should be fine. And you're correct @wpdarren , that's the [only story to look at](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-reporterror--report-error-with-htm

[2021-11-29 15:16] wpdarren commented on #4169
### QA Update: ✅

**Verified:**

Checked new stories ([ReportError with HTML tags](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-reporterror--report-error-with-html-tags)) for ReportError and ensured no HTML tags are displayed.

![image](https://user-images.githubusercontent.com/73545194/143892078-165a17b3-2174-4405-80f7-0fa81463a95d.png)

[2021-11-29 15:36] eugene-manuilov commented on #3907
IB :heavy_check_mark:

[2021-11-29 16:10] wpdarren opened #4423 "Add AdSense link in 'Help' dropdown when service connected"
## Bug Description

Prior to Unified Dashboard, when a user went to the AdSense module page, and clicked on the 'Help' icon, an entry to link to the help page for AdSense appeared in the dropdown.  Since we've removed the module pages, we now need to make sure that the link appears on the dashboard when AdSense is activated.

The 'Get Help with AdSense' link should be included, pointing to https:/

[2021-11-29 16:22] eugene-manuilov commented on #4403
@techanvil we shouldn't delete those divs because they create the layout for the banner. Let's leave it but replace with the appropriate `Grid`, `Row`, and `Cell` components.

[2021-11-29 18:08] eugene-manuilov commented on #4276
@mitogh could you please add QAB?

[2021-11-29 18:11] eugene-manuilov commented on #4403
Thanks, @techanvil! IB :heavy_check_mark:

[2021-11-29 18:13] eugene-manuilov commented on #4420
Thanks, @techanvil. IB :heavy_check_mark:

[2021-11-29 18:14] eugene-manuilov commented on #4420
@techanvil could you please add the estimate?

[2021-11-29 18:16] techanvil commented on #4420
@eugene-manuilov I am so sorry I forgot yet another estimate! Thanks for pointing it out, again. Estimate added. :+1:

[2021-11-29 18:16] eugene-manuilov commented on #4407
IB :heavy_check_mark:

[2021-11-29 18:16] eugene-manuilov commented on #4420
No worries, @techanvil, and thank you :smile:

[2021-11-29 18:26] aaemnnosttv commented on #4420
@eugene-manuilov maybe we can simplify this by not using the encoder class from Requests. Not too long ago we added a new dependency for punycode because the WP class could only encode but we needed to be able to decode as well. Maybe we could use `Google\Site_Kit_Dependencies\TrueBV\Punycode` in this instance as well?

[2021-11-29 18:31] felixarntz commented on #4376
@eugene-manuilov Regarding splitting the methods, that's a fair point, but I think it's a good approach here to simplify the code, and it sets us up for the future when the feature flag will be removed - which for this epic likely won't take a long time as it's fairly uncontroversial.

Good point about the exception. At a high level I agree that an exception is the worst experience for end users,

[2021-11-29 18:34] aaemnnosttv commented on #4380
@asvinb hmmm, that makes sense. Maybe we can auto-scroll `onMount` in the component if the url hash matches? I would imagine we'd need to solve the same problem in the unified dashboard as well. Do we have an issue for this @tofumatt ?

[2021-11-29 18:37] aaemnnosttv commented on #4107
@tofumatt I think he means the `plugins` for the bundle (e.g. `ProvidePlugin`, etc). Correct @kuasha420 ?

[2021-11-29 18:53] felixarntz commented on #2044
@eugene-manuilov

Let's call the constant just `HEADER_REDIRECT_TO`. The fact that it's prefixed with `AMP-` is for proxy-related reasons right now, it's really just the name of the header to look at for where to redirect. I recently discussed this with @aaemnnosttv, and we're soon going to change that actually (see https://app.asana.com/0/1198998509229289/1201440994101245/f), another reason to no

[2021-11-29 18:54] felixarntz commented on #2045
IB ✅

However, this is currently blocked by a chain of 3 issues, so we might only be able to work on this in late Sprint 64.

[2021-11-29 18:55] felixarntz commented on #2045
@eugene-manuilov Assigned this to you for now since you have the above context, feel free to unassign.

[2021-11-29 19:01] kuasha420 commented on #4107
@aaemnnosttv yep, I meant the webpack plugins in the `plugins` array. The webpack config is one busy file, so I can see why it may get lost in translation.

Other than that, everything else is cleared for the most part and rest can get sorted in CR.

cc @tofumatt

[2021-11-29 19:01] eugene-manuilov commented on #4376
@felixarntz, if `code`, `site_id` or `site_code` parameters are not set or empty - this is not incorrect _code_ usage. These values come from external sources (`code` comes as a GET param from the proxy server, `site_id` and `site_code` from the database) and in some circumstances there might be edge cases. For example, recently we had a ticket where a problem was caused by an incorrectly configur

[2021-11-29 19:11] mitogh opened #4424 "Update Pull Request Template"
## Feature Description

The main idea behind this change is to take advantage of Github, expand of issues as right now the current template for Pull Requests references the issues in the same line of the text, if we instead use a list format we would gain some expansion to have quick details of the issue title.

Example:

![143803427-a1364de5-2a72-42c2-b659-1c6a41d51703](https://user-images.github

[2021-11-29 19:12] eugene-manuilov commented on #2044
@felixarntz, yes, `body` is the default returning value and it will be returned if the `return` param is not set.

[2021-11-29 19:13] mitogh commented on #4276
QAB :heavy_check_mark:  @eugene-manuilov  thanks.

[2021-11-29 19:29] felixarntz commented on #4376
@eugene-manuilov Yes, the `code` comes from a query parameter, but if that query parameter is not present, then the code that gets the query parameter should already `wp_die()` - it shouldn't just act as if that parameter was there and call the method, because if it did that _would_ be incorrect code usage. `site_code` is the same, that also comes from a query parameter. If we didn't want to manua

[2021-11-29 19:34] felixarntz commented on #4424
Thanks @mitogh! I opened a corresponding task for us to modify the changelog generator script here: https://app.asana.com/0/1185360131189553/1201440994101251/f

Let's time these things so that we only move the issue here forward once the changelog script has been adjusted accordingly. cc @aaemnnosttv

[2021-11-29 19:48] eugene-manuilov commented on #4420
@aaemnnosttv, maybe, but I think we should use functionality from WordPress core everywhere where it is possible and fall back to the 3rd party implementation only if it is not implemented in the core, as in the case with a decode.

[2021-11-29 20:03] mitogh commented on #4424
Thank you @felixarntz

[2021-11-29 20:33] eugene-manuilov commented on #3902
Ok, if the proposed IB doesn't work then we need to find another approach. How about moving the timer to the `createIdeaDraftPost` action and resetting the timer ID when the `removeActivities` action is called (in the controller)?

[2021-11-29 21:27] felixarntz opened #4426 "URL search should show current entity (title) initially when in the entity dashboard"
Per https://www.figma.com/file/VILRieNSLg2DOVyEgFBkXe/%5BMVP%5D-Unified-Dashboard?node-id=1330%3A9080, a few late updates have been made to give the URL search and entity dashboard header for the `unifiedDashboard` a better user experience. This is the first out of three issues which replaces #4147. The others are:
* #4427
* #4428

---------------

_Do not alter or remove anything below. The follo

[2021-11-29 21:27] felixarntz opened #4427 "URL search should only ever show a valid entity or empty input when unfocused"
Per https://www.figma.com/file/VILRieNSLg2DOVyEgFBkXe/%5BMVP%5D-Unified-Dashboard?node-id=1330%3A9080, a few late updates have been made to give the URL search and entity dashboard header for the `unifiedDashboard` a better user experience. This is the second out of three issues which replaces #4147. The others are:
* #4426
* #4428

---------------

_Do not alter or remove anything below. The foll

[2021-11-29 21:27] felixarntz opened #4428 "Implement new entity dashboard header"
Per https://www.figma.com/file/VILRieNSLg2DOVyEgFBkXe/%5BMVP%5D-Unified-Dashboard?node-id=1330%3A9080, a few late updates have been made to give the URL search and entity dashboard header for the `unifiedDashboard` a better user experience. This is the third out of three issues which replaces #4147. The others are:
* #4426
* #4427

---------------

_Do not alter or remove anything below. The follo

[2021-11-29 22:08] kuasha420 commented on #4370
@asvinb as you've said, this issue has been fixed and merged to develop on the aforementioned PR. Did a quick test and it seems to no longer overlap on desktop/mobile. Sending it to @wpdarren for QA.

[2021-11-29 22:16] felixarntz commented on #4402
@wpdarren This may also be caused by the second point in the ACs. Let's revisit this in QA to see whether all of these problems will be covered from this issue.

[2021-11-29 22:16] westonruter commented on #4036
Yes, actually my screenshots in the description show what it looks like in Google Analytics and also the dashboard widget. In both, there are double slashes.

[2021-11-30 07:58] asvinb commented on #3525
Sounds good @aaemnnosttv . Somehow I forgot to add to update the CSS styles 🤦

[2021-11-30 08:11] aaemnnosttv commented on #4311
@felixarntz mostly LGTM, my only suggestion would be to maybe make the messaging more generic (like "Checking configuration/containers") or have it without a label (just a progress bar). We can probably start on this and finalize the exact wording later though. I'll add this to the AC so we can move it forward to IB.

[2021-11-30 08:22] aaemnnosttv commented on #3525
IB ✅

[2021-11-30 13:03] wpdarren commented on #4101
### QA Update: ✅

**Verified:**

- The G icon next to the survey headings is vertically centered alongside the heading and matches the Figma file.

![image](https://user-images.githubusercontent.com/73545194/144052312-40343ae1-530c-472b-9808-28caf46d6226.png)

[2021-11-30 13:23] kuasha420 commented on #4420
## QA: :heavy_check_mark:

The issue with the E2E Test on WordPress Nightly has been properly addressed and all PR checks are passing.

LGTM.

[2021-11-30 13:26] wpdarren commented on #4370
### QA Update: ✅

- Verified the search results appear over chip navigation on both Desktop and Mobile.
- Also noticed Evan's comment re. overlap of all dropdowns in the header, so also made sure those display as expected.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/144055441-ab823798-fa2f-4710-b444-f021274b74f1.png) - [Screenshot 2](https://user-images.githubusercontent.com

[2021-11-30 13:53] eugene-manuilov commented on #4053
@felixarntz styles have been updated. Do you mind checking it on your end?

[2021-11-30 13:55] wpdarren commented on #4398
### QA Update: ✅

**Verified:**

- The async attribute is added before the src attribute in the snippet as shown in the bug description above.

[code]
 

[2021-11-30 15:26] wpdarren commented on #4257
### QA Update: ⚠️

@jimmymadon @eugene-manuilov I have a query on case 2 in the QAB.

When I have AdBlock enabled, the AdSense card and link are greyed out.  I have set the throttle on chrome as per the QAB, tried it a few times on different speeds.  Just checking if the AdSense card should be in colour. It makes sense for it to be in grey straight away to be honest.

**Verified:**

Disable AdBloc

[2021-11-30 15:45] wpdarren commented on #4028
### QA Update: ❌

@asvinb two things:

1. The URL in the QAB is [Main branch](https://google.github.io/site-kit-wp/storybook/main/?path=/story/optimize-module-setup--start-with-invalid-values) which still shows the spacing. Since this is labelled 1.48.0 I changed the URL to [Develop branch](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/optimize-module-setup--start-with-invali

[2021-11-30 16:09] eugene-manuilov commented on #4428
@felixarntz @marrrmarrr, looking at the Figma file, it feels like widgets pass through the gray background surface. This is against Material UI principles for surfaces: https://material.io/design/environment/surfaces.html. Ideally, this component shouldn't be sticky or it should change its behavior when it becomes sticky... For example, when it becomes sticky, we can lift it up and change it to be

[2021-11-30 16:17] jimmymadon commented on #4257
The Case 2 in my QAB was to be in line with points 3 and 4 of the AC. However, like @wpdarren says, I myself couldn't replicate having the card in colour and then being greyed out cause the loading is instant at very slow speeds too.
Furthermore, I also think having the card greyed out from the beginning would still meet the AC as it only does so if AdBlock is on. So I think my QAB Case 2 can be m

[2021-11-30 16:28] eugene-manuilov commented on #4042
@kuasha420 this file has been migrated to `assets/js/components/ReportError.stories.js`. Could you please check if there are still duplicate titles issues in that file or it's good now? Also, let's probably bump the estimate a bit because such tasks always take longer due to different pitfalls that can't be forecasted at the beginning.

[2021-11-30 16:42] bethanylang commented on #6
Hi all! Thank you again for your patience and ongoing feedback on this issue – we know that this has been a long time coming.

Right now, our plan is to begin engineering on this issue in early 2022, with a release in Q2 or Q3 2022. We'll continue to update this issue as more details become available, so stay tuned!

[2021-11-30 16:47] eugene-manuilov commented on #4257
@wpdarren, that's fine. If it shows the module card greyed out from the beginning, then it's even better for us.

[2021-11-30 17:15] eugene-manuilov commented on #4426
@asvinb no need to manually try to find the current entity URL and title. We can get it using `getCurrentEntityTitle` and `getCurrentEntityURL` selectors from the `core/site` datastore.

[2021-11-30 17:16] wpdarren commented on #4257
### QA Update: ✅

**Verified:**

- Disabled AdBlock extension on browser. The AdSense card is in colour but the 'Setup Adsense Link' is momentarily greyed out. After this, the whole card and the link are both in colour.

https://user-images.githubusercontent.com/73545194/144075707-ab0384d5-48bf-46f1-a242-57aaacdb8172.mp4

- Enabled AdBlock extension on browser. The AdSense card is greyed out throu

[2021-11-30 17:54] wpdarren commented on #4238
### QA Update: ✅

**Verified:**

- Percentages like Bounce Rate display as "0%" and durations like Session Duration display as "0s".
- I went through all of the widgets on module pages, current and unified dashboard. Both main and entity.
- I also went through widgets with data to make sure the appropriate unit characters appear.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/1

[2021-11-30 17:55] eugene-manuilov commented on #4036
Hm... that's weird... :thinking: Looks like something goes wrong when GA tracks page views... @aaemnnosttv or @felixarntz do you know why it can happen?

[2021-11-30 17:57] eugene-manuilov commented on #4036
I have checked the tracking event and everything seems correct to me...

![image](https://user-images.githubusercontent.com/873049/144101850-0ec98786-4327-49b0-8bc0-7853a60f9340.png)

[2021-11-30 18:06] westonruter commented on #4036
I found someone else report this 3 years ago regarding Google Analytics generally: https://www.reddit.com/r/GoogleAnalytics/comments/9yqlic/double_slashes_in_my_data/

[2021-11-30 18:36] felixarntz commented on #4428
@eugene-manuilov Fair point, although I don't think I can judge the best behavior to move forward with here. You could argue the gray background surface makes it part of the overall header element - although I agree with you it looks like it's below the header rather than part of the sticky header.

@samitron7 Can you please review the above and confirm whether we should move forward with the "bac

[2021-11-30 20:15] kuasha420 commented on #4042
@eugene-manuilov Thanks! Duplicate Title for `Global` is no longer an issue in `develop` and has been removed from the IB. Also bumped the estimate up. Cheers!

[2021-11-30 20:16] samitron7 commented on #4428
Ok to raise it up and add a drop shadow but we definitely want to make that sticky as the back to the dashboard affordance is there.

[2021-11-30 20:16] eugene-manuilov commented on #4042
Thanks, @kuasha420. IB :heavy_check_mark:

[2021-11-30 20:29] adamsilverstein commented on #2350
James suggested adding `.min.js` as the suffix to our built files. They are minified after all, and this convention helps script optimization code know they can/should skip these scripts. What do you think @aaemnnosttv? We could give this approach a test with wp-rocket where we have a reproducible issue.

[2021-11-30 20:39] eugene-manuilov commented on #4342
@felixarntz can you review #4411?

[2021-11-30 22:44] jimmymadon commented on #3726
eclarke1 @asvinb @eugene-manuilov The Asana Bugbash board ticket has some discussion which talks about perhaps not changing the letter spacing on CTAs as that might happen as part of a 'later redesign'? So just wanted to check:
1. Do we still need to change the letter spacing?
2. Should the letter spacing change only on the CTA for the Survey like the IB suggests (and not on any other CTAs in the

[2021-11-30 23:20] tofumatt commented on #4107
Ah, thanks! Sorry I missed that; in terms of `plugins` to use, I think we want everything here _except_ the `ProvidePlugin`:

https://github.com/google/site-kit-wp/blob/9683b8c3687350ba6134b1a484285ceb12a236e1/webpack.config.js#L239-L278

We don't want to provide React in the bundle ourselves; users should be using the React from WordPress Element there.

The `WebpackBar` option should be edited t

[2021-12-01 01:07] kuasha420 commented on #4107
@tofumatt I have created a PR with my current progress so far. I think we can sort out the rest in the CR (assuming I haven't done it completely wrong :grimacing: ). Would you mind reviewing it?

Cheers.

[2021-12-01 08:06] Picpool commented on #6
HI,
Actually i am pretty surprised that this main feature is not in Google Site Kit.
Maybe have i missed something....
Because like with plugins as https://fr.wordpress.org/plugins/google-analytics-dashboard-for-wp/
users need to see the analytic dashboard without having to log with multiple accounts.

[2021-12-01 08:37] aaemnnosttv commented on #2350
@adamsilverstein that sounds good to me. Do we know if other optimization plugins use this naming convention for exclusion logic as well?

[2021-12-01 09:03] aaemnnosttv opened #4436 "Update file naming convention for minified assets"
## Feature Description

Currently our filenames for built assets use a format like `name(-hash?).(css|js)` which generally works well. There are however some optimization plugins that tend to cause problems with Site Kit when they attempt to further/re-optimize our assets. One simple thing we can do to avoid this problem is to name our minified assets similar to WordPress core with an added `.min`

[2021-12-01 09:05] aaemnnosttv commented on #2350
Opened #4436 to support this, after which this issue may no longer be relevant but I suppose we'll have to wait and see 😄

cc: @felixarntz

[2021-12-01 12:20] eclarke1 commented on #4350
@kuasha420 could you kindly add an estimate here please, thank you

[2021-12-01 12:38] asvinb commented on #4028
@eugene-manuilov Can you check @wpdarren 's comment about the release. I saw the PR was merged against develop but did not make its way to the main branch even though it's tagged for the release.
Also, updated PR to fix the issue Darren mentioned.

[2021-12-01 13:04] kuasha420 commented on #4350
@eclarke1 oops, added.

[2021-12-01 13:44] asvinb commented on #4426
Thanks @eugene-manuilov . I guess I overcomplicated things. IB updated, can you check?

[2021-12-01 13:44] eugene-manuilov commented on #4028
@wpdarren, no, you should see it on the develop branch because `1.48.0` is not the next release. The next release is `1.47.0`.

[2021-12-01 14:24] eugene-manuilov commented on #4426
Thanks, @asvinb, but I think it shouldn't be set as a placeholder. The entity title should be set as the value of the search input box.

[2021-12-01 14:38] wpdarren commented on #4053
### QA Update: ⚠️

@eugene-manuilov @kuasha420 @felixarntz this looking mostly good  but I wanted to confirm a few items:

1. These are differences between what I see and Figma. Can you confirm that these are differences that we are not changing.  If so, I'll then add them on to the known issues because they will likely come up in the bug bash.

- Different font color on unselected chip. Should be

[2021-12-01 14:39] eugene-manuilov commented on #4350
IB ✔️

@kuasha420, we have the `lint:js-fix` command to fix eslint issues 😄, so you can run `npm run lint:js-fix` and it will fix all errors that it can.

[2021-12-01 14:52] kuasha420 commented on #4350
@eugene-manuilov funnily enough, that comment does not fix this issue for some reason, @aaemnnosttv and I hypothesized in our 1:1 that `wp-scripts format-js` only fixes prettier problems, but not eslint ones.

[2021-12-01 15:02] wpdarren commented on #4373
### QA Update: ✅

- Verified that the close icon does not overlap the search box border for all screen sizes.

![image](https://user-images.githubusercontent.com/73545194/144258398-b3ff7846-5ff4-4811-9a94-89868e985e47.png)

[2021-12-01 15:11] eugene-manuilov commented on #4350
Hm... okay, thanks, for letting me know. I thought it would have fixed all errors 😄

[2021-12-01 15:23] asvinb commented on #4426
@eugene-manuilov I originally saw some issues when trying to set the value of the search input. After taking another look with fresh eyes, I was able to find a solution. Can you review once again?

Thanks!

[2021-12-01 16:10] wpdarren opened #4438 "Add icons to Unified Dashboard navigation"
## Feature Description

Icons should be added for each chip in the dashboard navigation component on the Unified Dashboard as shown in the [visual design](https://www.figma.com/file/VILRieNSLg2DOVyEgFBkXe?node-id=855:4304#109627477).

![image](https://user-images.githubusercontent.com/73545194/144269866-b56bbcb8-b97a-405b-ae7f-c9a2b8372e0c.png)

---------------

_Do not alter or remove anything be

[2021-12-01 16:13] aaemnnosttv commented on #4423
@felixarntz one alternative here is that we could simply always add the item for AdSense to the `HelpMenu` regardless of unified dashboard or not rather than only adding it on the module page (i.e. making the current help menu consistent across all pages). Then all we'd need to do is wrap the added link with `withActive`. What do you think?

[2021-12-01 16:15] eugene-manuilov commented on #4426
IB seems to be right, @asvinb. The only thing to mention is that all changes in the `PostSearcherAutoSuggest` component should happen when the `unifiedDashboard` feature flag is enabled.

[2021-12-01 16:23] kuasha420 commented on #4053
Regarding colors, we don't have those exact colors in our color palate and the SCSS Mixins for changing color wasn't working, maybe @asvinb can elaborate on it more.

[2021-12-01 16:46] wpdarren commented on #4028
@eugene-manuilov thank you, I thought so but wanted to check.

### QA Update: ✅

**Verified:**

- The spacing has been reduced in the storybook.
- Also tested this on a site and can confirm the spacing is reduced and the issue reported is fixed.

![image](https://user-images.githubusercontent.com/73545194/144276347-23029f78-999c-47af-b6c8-b64587e70571.png)

[2021-12-01 17:01] wpdarren commented on #3774
@asvinb  as per our Slack chat, yes, I think this can be closed because these issues were resolved with 4237.

[2021-12-01 17:04] asvinb commented on #3774
@felixarntz @aaemnnosttv As per @wpdarren 's [comment](https://github.com/google/site-kit-wp/issues/3774#issuecomment-983840780) , we can close this issue.

[2021-12-01 18:16] jamesozzie opened #4440 "Output dashboard sharing details in a users Site Health information"
## Bug Description

With the upcoming dashboard sharing (#6) feature there should be additional flags output in the users Site Health information, displaying the current configurations per module.

These could include the below or something similar:

- ** Product *** dashboard sharing active: Yes || No
- ** Product *** dashboard sharing - who can view: NA || Administrators, Editors, Authors, Contr

[2021-12-01 18:27] felixarntz commented on #4428
@eugene-manuilov The Figma file has been updated to include a drop shadow on the entity header when it is "scrolled past", and the ACs now mention that as well. IB overall ✅  - maybe worth adding a note on the drop shadow though (it should only be there when scrolled past, but not when on top of the page).

[2021-12-01 18:43] felixarntz commented on #4053
@wpdarren The color differences are acceptable. Regarding the behavior when un-clicking a selected chip, I think that is okay for now, but it's worth raising this with UX, either now or as part of the bug bash. It's not clear to me whether this is acceptable behavior or something we need to fix, so it requires some discussion that shouldn't block this issue.

The icons are being added separately v

[2021-12-01 18:53] felixarntz commented on #4342
@eugene-manuilov Left feedback on the PR, can you also add a QAB please?

[2021-12-01 18:56] felixarntz commented on #4423
@aaemnnosttv That sounds reasonable to me. @marrrmarrr What do you think?

1. Should we show the AdSense help link when the AdSense module is active?
2. Or should we show the AdSense help link when the AdSense module is active _and_ the user is in the "Monetization" tab?

I'm thinking we should go with 1. since 2. may make it too hard and unintuitive to find that link since if you don't see it whe

[2021-12-01 18:59] felixarntz commented on #3774
Excellent!

[2021-12-01 18:59] #3774 closed

[2021-12-01 19:14] bethanylang commented on #4097
@felixarntz and team, sorry to do this to you, but I just got around to putting the documentation together on the staging site and the URL will be slightly different than anticipated. Please use:

/documentation/troubleshooting/dashboard/#not-part-of-this-site

[2021-12-01 19:56] sltmunky69 opened #4441 "Can't run setup, cached Google account recovery phone number"
## Bug Description

I tried to setup Site Kit for the first time on a Wordpress installation. I've done this before multiple times without issues on other sites and using different Google accounts, so I'm familiar with the process, but on this particular Google account, it had an old cell phone number listed on the account and it wanted to verify it with a text, which is not possible. So, I logged

[2021-12-01 22:23] felixarntz commented on #4097
Sorry @kuasha420, can you please open another quick PR against `main` to update the URL to the above? (I've updated it in the ACs as well.)

[2021-12-01 22:30] kuasha420 commented on #4097
Created PR #4442 to update the URL.

[2021-12-02 02:39] wpdarren commented on #4053
@felixarntz thank you. I've added the color differences and the un-clicking a selected chip to the known issues board for bug bash.  I realise the colors won't change, but I am sure our eagle eyed bug bash testers will notice it.

### QA Update: ✅

**Verified:**

- Checked basic functionality and appearance of the Dashboard Navigation Chips.
- The tab bar only appears when `unifiedDashboard` is en

[2021-12-02 02:54] wpdarren commented on #4407
@kuasha420 @tofumatt @felixarntz are we just fixing the gap between the Monetization header and its widget context/area?

Was wondering about the other areas in the ticket, i.e. font sizes, line heights, etc.   If these differences to the figma designs are expected please could someone confirm and I can make sure its included in our known issues list because these will be brought up in the bug bas

[2021-12-02 07:16] asvinb commented on #3726
@jimmymadon Since it's a small change and affecting only the user feedback CTA, I would say let's go ahead and make the change. As per [this comment](https://app.asana.com/0/0/1200440325096534/1200458909834393/f), there were talks mostly about whether we should use capitalize the CTA or have them all caps like we currently have. Looking back, at the proposed change in the IB, you're right, it shou

[2021-12-02 08:55] aaemnnosttv commented on #4438
IB ✅

[2021-12-02 10:37] jamesozzie commented on #4441
@sltmunky69 Thanks for reaching out. It sounds like you're having trouble during the plugin setup stage, whereby you're asked to verify permissions to your Google account. This is during the [OAuth](https://developers.google.com/identity/protocols/oauth2) setup flow, with OAuth being the authentication and verification system to connect Site Kit to your various Google services.

As Site Kit doesn'

[2021-12-02 10:37] #4441 closed

[2021-12-02 12:39] asvinb commented on #3907
@felixarntz Something else I noticed when working on this issue is that when we click on the create draft button, all the buttons go away and there is the "Creating draft" text will is displayed. I think since we now have individual loading icons for each type of activity, we can remove the "Creating draft" text and replace it with the loading icon to be consistent with how the other buttons behav

[2021-12-02 12:51] kuasha420 commented on #4407
@wpdarren AC/IB doesn't mention changing the font styles, I'd think we can add that to Bug Bash as known issues.

[2021-12-02 12:52] wpdarren commented on #4407
@kuasha420 yes, I thought that might be the case, I will add as known issues. Thank you for clarifying!

[2021-12-02 12:58] wpdarren commented on #4097
### QA Update: ✅

Verified that the URL is `https://sitekit.withgoogle.com/documentation/troubleshooting/dashboard/#url-not-part-of-this-site` for the website link.  The support link still goes to the support forum

[2021-12-02 14:47] jamesozzie opened #4445 "Blank SK dashboards"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/google-site-kit-is-blank-no-info/page/2/) is encountering a blank screen on all the Site Kit dashboards, including the settings page.

Console error below - which appears on the users settings page however not in their SK tabs with the blank screen ([video in this SH report](https://docs.google.com/forms/d/1lh

[2021-12-02 15:32] aaemnnosttv commented on #4423
@felixarntz This would be rather odd (as well as additionally complicated as you said) for a menu item to conditionally be added/hidden in the dropdown based on what section you are looking at. It would be better to add contextual help to that widget area/context instead.

Just to clarify # 1, my suggestion would be to include the AdSense help item in the Help Menu as part of the core list of menu

[2021-12-02 15:42] marrrmarrr commented on #4053
with the issues Darren mentioned as added to the bug bash, this lgtm.

[2021-12-02 15:42] #4053 closed

[2021-12-02 15:44] #4101 closed

[2021-12-02 15:45] #4276 closed

[2021-12-02 15:46] #4377 closed

[2021-12-02 15:48] wpdarren commented on #4417
@aaemnnosttv I think this issue could be because I am using the developer plugin to get API data.  What I am seeing are errors within PageSpeed Insights widget: `Error: The response is not a valid JSON response.` There's a message in console `googlesitekit-api-33ca60714430f2deade4.js:1 Google Site Kit API Error method:GET datapoint:pagespeed type:modules identifier:pagespeed-insights error:"The re

[2021-12-02 15:50] yogeshbeniwal opened #4446 "Consent Management Platform (CMP) implementation"
## Feature Description

Starting a discussion on Consent Management Platform (CMP) implementation. Google provide Funding Choices as a Consent Management Platform for IAB TCF v2.0. With Ads/Analytics/Tags already implemented using Site Kit, CMP is a natural progression as addition to the list of modules.

---------------

_Do not alter or remove anything below. The following sections will be manag

[2021-12-02 15:51] yogeshbeniwal commented on #3631
@marrrmarrr Wondering if this has been put on hold at the moment?

[2021-12-02 16:13] #4237 closed

[2021-12-02 16:18] felixarntz commented on #4096
## Approval ❌

@eugene-manuilov Per what we discussed yesterday, the implementation in #4347 isn't really accurate. It changes a couple of `useSelect` to `useInViewSelect` that don't trigger API calls, while it doesn't actually change the `useSelect` that _do_ trigger API calls. Specifically, the `WPDashboardWidgets` shouldn't need to be modified in this issue at all, but the sub-components (which

[2021-12-02 16:22] #4151 closed

[2021-12-02 16:30] #4146 closed

[2021-12-02 16:32] #4275 closed

[2021-12-02 16:44] #4209 closed

[2021-12-02 16:47] #4340 closed

[2021-12-02 16:50] #4341 closed

[2021-12-02 16:51] #4097 closed

[2021-12-02 16:53] #4169 closed

[2021-12-02 16:53] #4368 closed

[2021-12-02 16:58] #4398 closed

[2021-12-02 16:59] #4136 closed

[2021-12-02 17:00] #4367 closed

[2021-12-02 17:00] #4336 closed

[2021-12-02 17:02] #4287 closed

[2021-12-02 17:07] #4289 closed

[2021-12-02 17:09] felixarntz commented on #4348
## Approval ❌

@tofumatt @eugene-manuilov I guess this wasn't explicitly mentioned in the ACs, but the order of the two widgets should be similar to today. The overall AdSense performance widget should be on top of the top earning pages widget. Can you open a follow-up PR for `main` to adjust the widget priorities accordingly?

[2021-12-02 17:22] techanvil commented on #4417
@wpdarren I'm not sure how much this helps, but I am have also been testing with an Instawp.io site, using the developer plugin with `oi.ie` as the URL, and the PageSpeeds widget is working ok here, loading the data without an error...

[2021-12-02 17:32] techanvil commented on #4417
## QA :x:
* :white_check_mark: Smoke tested.
* :white_check_mark: Verified the changes I've been involved with.
* :white_check_mark: Performed some ad-hoc testing.
* :x: #4348 Spotted @felixarntz' comment [here](https://github.com/google/site-kit-wp/issues/4348#issuecomment-984825663).

[2021-12-02 17:35] wpdarren commented on #4417
Thanks @techanvil yes, I've not been able to recreate it on a live site, so, think its my test site.

Thanks for confirming you haven't seen the error.

[2021-12-02 17:39] jamesozzie commented on #4445
Site Reset requested ([Internal task](https://app.asana.com/0/1185360131189553/1201451900873019/f)).

User to be notified once complete and checks performed.

[2021-12-02 17:44] aaemnnosttv opened #4447 "AdSense Set-Up Improvements"
Asana overview tab: https://app.asana.com/0/1200474053395430/overview
Design doc: https://docs.google.com/document/d/1vNpMW4iED2scWOjpF8SKGoM8z6GUjX-WbhMpmAKeieo/edit#heading=h.xai0p0vhie15

[2021-12-02 17:50] aaemnnosttv opened #4448 "Existing Tag Simplification"
* [Epic](https://app.asana.com/0/1200380417187939/overview)
* [Proposal](https://docs.google.com/document/d/1sHKD_wx-CKiE7MAlABUjuGeFwOyP2PE82FgLOfyhryA/edit?usp=sharing&resourcekey=0-pn9BftblzzWnLKd3T3TTgg)

**PRs for this epic should target the [`feature/existing-tag-simplification`](https://github.com/google/site-kit-wp/tree/feature/existing-tag-simplification) branch**

[2021-12-02 18:11] wpdarren commented on #4417
I have completed testing of the QA checklist and it LGTM.  ✅

- Checked the plugin on supported browsers.
- Checked the plugin on mobile devices/smaller screen sizes.
- Made sure that Idea hub continues to function.
- Unified Dashboard was not included in our release QA because we are running through regression testing tomorrow.

Found a few small bugs but they are not due to this release. Will cr

[2021-12-02 18:29] aaemnnosttv commented on #4379
After discussing with @felixarntz we decided it was preferable to keep it as-is.

The wording here was chosen rather carefully (see #1825 for more context) and is the same language we use for the reset dialog shown everywhere else resetting Site Kit is possible.

As to the suggested change, the proposed wording reads more like a list with only two elements which feels like an item is missing.  We

[2021-12-02 18:29] #4379 closed

[2021-12-02 18:38] aaemnnosttv commented on #4417
@wpdarren the [504](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/504) errors you saw for PSI requests are likely from the API requests taking longer than the 30 second request time limit set in PHP. That shouldn't usually happen but those requests do have the potential to take quite a while and there isn't really anything we can do about that unfortunately. It shouldn't be related to t

[2021-12-02 21:42] jamesozzie opened #4449 "WP Rocket configuration conflict: An error occurred while running 'mapSelect': Cannot read properties of null (reading 'isGatheringData')"
## Bug Description

There have been reports recently of the below error appearing when checking the Site Kit tab with a particular WP Rocket configuration:
`An error occurred while running 'mapSelect': Cannot read properties of null (reading 'isGatheringData')
`

This has been reproducible in support and is as a result of a [particular set of WP Rocket configurations](https://i.imgur.com/DmQTFmC.p

[2021-12-02 21:51] jamesozzie commented on #4337
- https://wordpress.org/support/topic/site-kit-ha-encontrado-un-error-3 | No SH info
- https://wordpress.org/support/topic/site-kit-encountered-an-error-54 | [SH info ](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNhWkV10UDAUocGDYRKYSoNqv61OgSVlKfyWIxjUtMlJMvOJtA6OCuBZ6wIf1HIKJ8A)

One site setup for testing purposes ([internal testing link](https

[2021-12-02 21:58] sltmunky69 commented on #4441
Yes, that is the exact point, I've tried it from a completely separate computer with a different web browser and it yields the exact same result, which is mind boggling. That's why my only guess is that something in the URL string that is being passed from the Wordpress installation to the `https://sitekit.withgoogle.com/site-management/setup/` somehow has something encoded in it which refers to t

[2021-12-02 22:03] jamesozzie commented on #4449
Just an additional note here:
Of the 4 impacted users - all since Site Kit 1.46.0 there are 3 different optimisation plugins referenced, so this isn't limited to WP Rocket's minification. Plugins referenced below:
- https://wordpress.org/support/topic/plugin-site-kit-ha-detectado-error-en-una-entrada-de-mi-blog/ - **Autoptimize**
- https://wordpress.org/support/topic/reporting-error - **WP Rocket*

[2021-12-02 22:06] jamesozzie commented on #4436
Along with WP Rocket I'm aware Autoptimize also don't include any JS files for minification that end with a .min.js extension ([ developer reference](https://wordpress.org/support/topic/plugin-site-kit-ha-detectado-error-en-una-entrada-de-mi-blog/)).

Note also that a naming convention change may also address the below newly created issue:
https://github.com/google/site-kit-wp/issues/4449

[2021-12-03 03:04] kuasha420 commented on #4417
QA: :heavy_check_mark:

Everything looks good in the regular dashboard. Unified dashboard still has #4348 in Execution that @felixarntz has sent back. Should be a quick fix. (It's unassigned at the moment for some reason).

* Went through the Release Testing Checklist on a newly spinned instawp site without any issues.
* Went ahead and connected all the modules, creating new account/property/conta

[2021-12-03 07:55] aaemnnosttv commented on #4436
@asvinb this is indeed what we want to do at a high-level but I think we need a little more clarity as to where this change is needed. We can probably generalize that this should be added (as a suffix not a prefix 😉 ) anywhere there is a `[contenthash]` or `[chunkhash]` used. I _think_ that would cover everything.

[2021-12-03 08:15] aaemnnosttv commented on #4096
@felixarntz back to you for another pass 👍

[2021-12-03 11:22] jamesozzie commented on #4235
The Registration Magic plugin was updated however there is no fix for this just yet. I've requested a status update from my open support ticket on their website.

[2021-12-03 14:04] wpdarren opened #4453 "Placement of Idea Hub Feature tour when Unified Dashboard enabled"
## Bug Description

When Idea Hub is activated and the feature tour loads, the placement of the highlighted area overlaps the tab bar when Unified Dashboard is activated. If you scroll down the page, the highlighted area does cover the Idea hub widget, but on activation of idea hub this is the initial load placement.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/690b9

[2021-12-03 15:33] wpdarren opened #4454 "Title missing off overall page metrics widget"
## Bug Description

The overall page metrics widget doesn't have a title within it like other widgets.

As you can see from the screenshot the widget underneath has a title `Top Content over the last 90 days`

![image](https://user-images.githubusercontent.com/73545194/144628606-8d2bd58b-6d43-4eaf-b144-eb335aa47430.png)

Maybe we can give it a title like `Overall page metrics over X days.`

This w

[2021-12-03 15:57] aaemnnosttv opened #4455 "PHPScoper failing to run in Docker"
## Bug Description

PHPScoper is a tool we use to prefix our Composer dependencies to avoid a conflict with another theme or plugin loading a different version of the same class. One limitation of this tool is that it requires a recent version of PHP (7.3+) to run. For that reason, we run `composer install` inside of the official `composer` Docker container in our GitHub action job that runs PHP t

[2021-12-03 16:16] aaemnnosttv commented on #4455
@felixarntz I added this to the current release and targeted `main` with the PR above to ensure we aren't missing something already in `main` even though this doesn't actually affect the release zip.

[2021-12-03 17:05] felixarntz commented on #4455
IB / CR ✅

[2021-12-03 17:26] felixarntz commented on #4096
## Approval ❌

@tofumatt @aaemnnosttv The fix PR is mostly good, but one API request is still being made from the WP dashboard widget even when it is hidden, likely because the `isGatheringData` call in `WPDashboardPopularPages` is still using `useSelect`.

[2021-12-03 17:31] aaemnnosttv opened #4457 "Update items in the header for consistency"
## Feature Description

Currently we have some inconsistency in the layout of items that are present in the main Site Kit header. This is most noticeable in mobile where the items are reduced to circular icon buttons.

### Current header in mobile

![image](https://user-images.githubusercontent.com/1621608/144454353-9813bc2c-61a8-431c-bcbd-fdb2c3d2668c.png)
* User menu is farther from the edge tha

[2021-12-03 17:33] aaemnnosttv commented on #4457
@felixarntz anything to add or change about the ACs? If not, let's move it forward 👍

[2021-12-03 17:42] felixarntz commented on #4457
Thanks @aaemnnosttv, ACs lgtm!

[2021-12-03 17:43] aaemnnosttv commented on #4383
@felixarntz is it to be expected that the setup flow should work with both v1+v2 once merged? I assume yes because it works now but just wanted to double-check for the QAB.

[2021-12-03 17:58] aaemnnosttv commented on #4096
@felixarntz agh, I must have missed that in my testing because Analytics wasn't connected. Submitting a PR to fix it now 👍

[2021-12-03 18:04] aaemnnosttv commented on #4383
@felixarntz should this be QA:Eng then or should we limit what is QA'd for V2 for now?

[2021-12-03 18:12] felixarntz commented on #4383
@aaemnnosttv It should definitely include regular QA to ensure it doesn't break V1. Since it doesn't really allow QAing V2 though, I'd say either we don't do that here at all, or (preferably) we have a two-step QA here, the second of which would be `QA: Eng`. Maybe @wpdarren can start with V1 QA and then add the label for the eng part about V2?

[2021-12-03 20:54] felixarntz commented on #4096
## Approval ✅

[2021-12-03 20:54] #4096 closed

[2021-12-03 20:55] felixarntz commented on #4348
### Approval ✅

[2021-12-03 20:55] #4348 closed

[2021-12-03 21:13] ivankruchkoff commented on #4417
LGTM ✅

[2021-12-04 14:53] jimmymadon commented on #4356
When the user dismisses the Success Notification, the 'Site Overview' heading is the first component below the Heading. On page reload, when a new `BannerNotification` is added, it appears that the default browser behaviour is to scroll down again to the 'Site Overview' heading as that is where the window position was before reload. The fix in the IB that would meet the AC would be to prevent this

[2021-12-04 17:44] MattyPe opened #4459 "https://www.kbmusic.sk/stream/wp-content/uploads/2021/12/Datovy-zdroj-7.svg"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-12-04 17:44] #4459 closed

[2021-12-05 13:54] ndel commented on #1113
Switching off security rule 210580 worked for me

[2021-12-06 05:51] wpdarren commented on #4383
@felixarntz sounds good to me. We've done this before on a few other tickets.  Once I have completed my testing I will add the `QA:Eng` label.

[2021-12-06 07:54] kuasha420 commented on #4455
QA: :heavy_check_mark:

The test is no longer failing. LGTM.

[2021-12-06 09:39] techanvil commented on #4417
## QA :white_check_mark:
* :white_check_mark: Smoke tested.
* :white_check_mark: Verified the changes I've been involved with.
* :white_check_mark: Performed some ad-hoc testing.
* :white_check_mark: #4348 is now working as expected.

[2021-12-06 10:47] eugene-manuilov commented on #4311
Thanks, @kuasha420, but I think the proposed IB won't work very well. The problem is that `canSubmitChanges` can stay falsy even after successful detection of the existing tag, thus the progress bar will remain if we implement it as defined in IB.

I think what we need to do is to add new actions `startSelectingExistingTagAccount` and `finishSelectingExistingTagAccount` actions to the `tags` datas

[2021-12-06 10:48] eugene-manuilov commented on #4311
Also, @kuasha420, please, don't forget to enter the `Test Coverage` section even if there is nothing to do.

[2021-12-06 10:52] eugene-manuilov commented on #4426
IB :heavy_check_mark:

[2021-12-06 11:51] eugene-manuilov commented on #4356
@jimmymadon, yes, that's unpleasant because it will prevent the expected scrolling to the previous window position for legit cases. I don't even think that this scrolling issue that we see is initiated by the browser itself because the current position of the scroll before reloading is `0, 0`. So, the browser should not scroll to the first widget area at all.

https://user-images.githubusercontent

[2021-12-06 12:27] eugene-manuilov commented on #4402
@techanvil this seems to be over-engineered, let's just add the ability to pass the `signal` property to the existing `API.get` method and not introduce the new `getAbortable` method.

@felixarntz, the existing search functionality works correctly and it returns the correct results. It showed the `Sample Page` page in the result because that page contained the word "Lo**cat**ed" in the content. So

[2021-12-06 12:52] jimmymadon commented on #4350
@techanvil @eugene-manuilov I also noticed WP Coding Standards tell us to [escape single quotes in strings](https://developer.wordpress.org/coding-standards/wordpress-coding-standards/javascript/#:~:text=//%20Escape%20single%20quotes%20within%20strings%3A). So can I modify the AC to enforce this and change the IB of this story to further remove the `avoidEscape: true` from the `quotes` rule?

[2021-12-06 13:08] asvinb commented on #4426
@eugene-manuilov After taking another look, maybe checking for the `unifiedDashboard` flag is redundant for the proposed changed in `PostSearcherAutoSuggest`  since the latter will not be displayed on entity pages. Since it will be rendered only on the main dashboard, I think if we just check for the entity title should be enough. What do you think?

[2021-12-06 13:15] eugene-manuilov commented on #4357
IB :heavy_check_mark:

[2021-12-06 13:27] eugene-manuilov opened #4466 "Idea Hub notice script throws errors on the widgets page"
## Bug Description

If you go to the widgets page and open the browser console, you will see a lot of errors thrown by the Idea Hub notice script that is intended to run only when editing a post. It happens because, in the modern versions of WordPress, the widgets page has been reworked to use Gutenberg for editing widgets as well. We need to update the `assets/js/googlesitekit-idea-hub-notice.js`

[2021-12-06 13:53] wpdarren opened #4467 "Scroll position issue when clicking on the 'Run test again' on PageSpeed widget"
## Bug Description

When you click on the 'Run test again' on PageSpeed widget, it jumps in between the widgets in the 'Monetization' area rather than to the 'Speed' title.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/204151b9-7e8f-430f-a4d1-72f0601f7d4e)

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/893afb9b-7b64-42eb-b3fa-4b5adb22210f)

[2021-12-06 15:21] eugene-manuilov commented on #4426
Actually, you are right, @asvinb. Good catch. Yes, let's go without the unified dashboard flag check then.

[2021-12-06 15:58] techanvil commented on #4402
Hi @eugene-manuilov, the reason I suggested a new function is so we can expose the `controller` to the caller, in order for the caller to be able to call `controller.abort()`.

At present we have `get` which is an async function and returns the result of `apiFetch` directly:

[code]

The proposed `getAbortable` would look something like this (note, not async):

[code]

Without the new function I d

[2021-12-06 16:26] eugene-manuilov commented on #4402
@techanvil, yes, I understand what you described in IB. IMO the problem with the `getAbortable` function is that it doesn't return a promise, thus it can't be considered as a drop-in replacement for the `API.get` method. So, I think it would be better and easier to understand/maintain for now if we just extend the existing `API.get` method to allow passing a `signal` property and instantiate an ab

[2021-12-06 16:30] techanvil commented on #4402
@eugene-manuilov apologies for misunderstanding you the first time around. That seems like a good approach, I'll update the IB accordingly. :+1:

[2021-12-06 16:32] aaemnnosttv opened #4469 "Google API check can raise false warning under some conditions"
## Bug Description

One of the checks that Site Kit makes before starting the initial set up is to see if the backend can connect to Google APIs as some hosts may be blocked from connecting due to geographic/other restrictions.

Because of the timing of when this request is made, it is expected to fail (due to lack of credentials) so a failure in this situation is considered a pass as the backend

[2021-12-06 16:37] techanvil commented on #4402
@eugene-manuilov, I've updated the IB. I'll assign this to @felixarntz so he can address the question in https://github.com/google/site-kit-wp/issues/4402#issuecomment-986730845

[2021-12-06 17:08] eugene-manuilov commented on #4342
@felixarntz QAB is added.

[2021-12-06 18:04] aaemnnosttv commented on #4436
IB ✅

[2021-12-06 18:04] felixarntz commented on #4402
@eugene-manuilov

Ah good catch - apologies for that point in the ACs then, it indeed shouldn't be necessary. I just removed it. So that part of the IB can also be discarded, which should keep the changes simpler as well. cc @techanvil

[2021-12-06 18:25] felixarntz commented on #3907
@asvinb Great question. I definitely agree that we should make the user experience consistent between all 4 actions, and I think the spinner should be on all 4 of them. However, there is also the part of briefly showing a "success" message on the idea which we currently have for creating drafts but not the other 4.

With your current PR #4444 the experience is as follows:
* All 4 actions (pin, unp

[2021-12-06 18:32] aaemnnosttv commented on #4311
@eugene-manuilov @kuasha420 there seems to be some confusion around what the ACs call for here which is leading the IB a bit off target.

The AC describes an additional progress bar which is to be rendered adjacent to the submit button that is shown while live container versions are being fetched/resolved (similar to what we do in the activation notice or compatibility checks). While this issue wa

[2021-12-06 18:50] aaemnnosttv commented on #4311
Actually, part of the delay there is likely from waiting for tag permission to be resolved (not the existing tag itself). I think this detail was missed when @felixarntz and I initially reviewed it and decided on the ACs.

The live container version bit is still relevant but doesn't seem to be the case in the screencast shown here as that would be the case if account and container were selected an

[2021-12-06 18:53] felixarntz commented on #4311
@aaemnnosttv

Sgtm! I've added a note to the ACs.

[2021-12-06 18:56] aaemnnosttv commented on #4311
@felixarntz just to clarify: if tag permissions are not resolved yet, the `ContainerSelect`'s progress bar would show, but if the live container version was being fetched, only then the separate progress bar would show next to the submit button, correct? The way it's worded now sounds like the latter would be used for both but I don't think we'd want that.

[2021-12-06 18:57] tofumatt commented on #4417
QA ✅  from me; all looks good. 👍🏻

[2021-12-06 18:59] eugene-manuilov commented on #4417
LGTM :heavy_check_mark: from me too.

[2021-12-06 19:04] kuasha420 commented on #4311
@aaemnnosttv can we have a call sometimes tomorrow to go over current behavior and expected behavior? I think that would be best course of action.

[2021-12-06 20:22] #4374 closed

[2021-12-06 20:23] #4170 closed

[2021-12-06 20:23] #3236 closed

[2021-12-06 20:24] #4385 closed

[2021-12-06 20:26] #4167 closed

[2021-12-07 05:28] kuasha420 commented on #4457
@aaemnnosttv There is quite a lot of small to medium css/style tweaks to get the behavior described in the AC. I have tried to cover as much of them as possible without being too verbose. Let me know if anything looks off.

[2021-12-07 09:50] techanvil commented on #4402
Thanks @felixarntz - I've updated the IB. Assigning back to @eugene-manuilov to complete the IBR.

[2021-12-07 09:50] aaemnnosttv commented on #3907
@felixarntz I think it would be best to have an informative message for each action but I don't think it belongs in the same place it is now. IMO this is really what Material's snack bar is for. This would be similar to how Gmail works for actions on an email. One benefit of this approach would be the opportunity to allow for an undo, which we already have an issue for addressing at some point (#3

[2021-12-07 10:51] eugene-manuilov commented on #4402
IB ✔️

[2021-12-07 10:52] aaemnnosttv commented on #4380
@asvinb the IB looks good as far as the link changes go. As for the scrolling, can we use the same approach as in https://github.com/google/site-kit-wp/issues/4367 for the unified dashboard?

[2021-12-07 11:26] eugene-manuilov commented on #4428
@felixarntz, looks good to me. I have adjusted IB a little bit to mention the shadow piece.

[2021-12-07 12:18] eugene-manuilov commented on #4427
@felixarntz I have added IB but it doesn't include implementation details for this ^ part of AC. I am wondering whether we need to implement this because it can easily become very annoying if we keep erasing the entered search query when the user clicks away (by accident or not, doesn't matter). I think that we need to reset it back to the current entity title, only if the user has cleared the sea

[2021-12-07 12:49] wpdarren commented on #2908
### QA Update: ✅

**Verified:**

- When the Maintenance Mode Plugin is activated and you try connecting the SK Plugin, the message is updated as per the AC appears on the dashboard splash page and also on the plugin page when trying to connect.

`Looks like Site Kit is unable to place or detect tags on your site. This can be caused by using certain caching or maintenance mode plugins or your site'

[2021-12-07 12:53] asvinb commented on #4426
@eugene-manuilov Over to you for final review. E2E tests are passing now.

[2021-12-07 12:58] asvinb commented on #3907
@felixarntz @aaemnnosttv Just FYI, we have #3902 which relates to what we are trying to do. Maybe we can create a follow up issue which is blocked by #3902 or look into Material's snack bar.

[2021-12-07 13:19] wpdarren commented on #4407
### QA Update: ✅

**Verified:**

- Spacing on the AdSense dashboard should be in line with other widget context/areas
- Checked the widgets on desktop and smaller screen sizes.

![image](https://user-images.githubusercontent.com/73545194/145036141-6c898981-c8a0-4c1c-9c81-9e1824abfbf3.png)

[2021-12-07 13:56] eclarke1 commented on #4383
@felixarntz @aaemnnosttv could I just chase up getting this ticket moving please, as it's blocking a few tickets in IB assigned to this sprint. What are the next steps here please? Thank you. cc @FlicHollis

[2021-12-07 14:18] wpdarren commented on #4426
### QA Update: ✅

**Verified:**

- Searched for a post/page via the search form and when redirected to the entity dashboard, the search bar at the top is opened by default, with the searched entity filled in.
- Checked this on desktop and smaller screen sizes to make sure that the behaviour was the same.  - [Screenshot](https://user-images.githubusercontent.com/73545194/145045532-58ca9589-c6f1-456

[2021-12-07 14:49] asvinb commented on #4028
@wpdarren I think we should review the UI/UX for this section, especially where the "Format: GTM..." hint is displayed. The implementation is weird, whereby we are are setting the opacity of the element which is not ideal. If we don't use the opacity, the other option would be to use `display: none`, `block` which will result in big layout shift which can be annoying. Maybe we should open a new is

[2021-12-07 16:09] aaemnnosttv commented on #4467
@felixarntz maybe the simplest change here would be to keep the current data in place while the new data is being fetched but we could style it in an inactive/stale state (grayscale, 50% opacity) with the progress bar on top? Or  maybe not floating above but along the top or bottom of the widget similar to the entity search?

[2021-12-07 17:05] aaemnnosttv commented on #4457
Thanks @kuasha420 – I just updated the ACs here to include details discussed on the bug bash.

Regarding the IB, this looks like it would address some of the inconsistencies but doesn't quite address the root cause.

Looking at the current CSS we have, the styles are a bit mixed up. Right now the user menu is even [conditionally applying a CSS class for the help menu](https://github.com/google/sit

[2021-12-07 17:10] wpdarren commented on #4201
@eugene-manuilov @asvinb looking at the ticket/QAB, I'm wondering if this is `QA:Eng` but if you feel it is something I can QA, please could you add a few instructions for me?  Thank you!

[2021-12-07 17:16] aaemnnosttv commented on #4383
@eclarke1 it's with @felixarntz awaiting code review 👍

[2021-12-07 17:22] aaemnnosttv opened #4471 "Scaffold `dashboardSharing` feature flag"
## Feature Description

Like most new features, Dashboard Sharing will be controlled by a new feature flag during development.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `dashboardSharing` feature flag should be added to the list of available feature flags in `feature-flags.json`

## Implement

[2021-12-07 17:24] aaemnnosttv opened #4472 "Add tests for `Core\Permissions`"
## Feature Description

In preparation for #4522, we need to backfill some test coverage for the `Permissions` class which handles all of the custom capabilities in Site Kit.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* PHPUnit test coverage should be added for the `Core\Permissions` class, includin

[2021-12-07 17:26] aaemnnosttv opened #4473 "Scaffold new script data global for dashboard sharing"
## Feature Description

In preparation for the client-side aspects of dashboard sharing, we need to scaffold a new global which will provide various data on page load.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new `Script_Data` asset should be added to the main list of Site Kit's assets with a

[2021-12-07 17:28] aaemnnosttv opened #4474 "Annotate shareable module datapoints"
## Feature Description

In the context of dashboard sharing, only select module datapoints will be capable of leveraging data shared by the module's owner. Accordingly, the definition of each datapoint that should be enabled to potentially be made on behalf of the module owner will need to be annotated explicitly.

---------------

_Do not alter or remove anything below. The following sections wil

[2021-12-07 17:29] aaemnnosttv opened #4475 "Create `Module_Sharing_Settings`"
## Feature Description

In preparation for the interface for managing dashboard sharing settings, we need a new class for managing the value like we have for other settings and options.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new `Module_Sharing_Settings` class in the `Core\Mo

[2021-12-07 17:33] aaemnnosttv opened #4476 "Update PageSpeed and Idea Hub to be modules with owners"
## Feature Description

Dashboard sharing only allows for a module to be shareable if it has an owner, which has been unnecessary for some modules until now. As modules that will be shareable via dashboard sharing, PageSpeed Insights and Idea Hub will need to be updated to support having a module owner like most other modules.

---------------

_Do not alter or remove anything below. The following

[2021-12-07 17:35] aaemnnosttv opened #4477 "Provide service factory in datapoint definition"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-12-07 17:48] kuasha420 commented on #4457
@aaemnnosttv good points. Just to add my opinion, the header component is definitely kind of all over the place styling wise, but rather than trying to tidy up 6 versions of header now, can't we ship it by making sure everything looks right, and do the tidying up when we get rid of the unifiedDasboard feature flag? just a thought.

[2021-12-07 18:01] bethanylang commented on #4406
@felixarntz @adamsilverstein Per our discussion today, a few other suggestions to improve the UX on this screen:

- Sort sites by connection date from newest to oldest
- Add display of the connection date for each site
- Update the language at the top of the screen from:

_You gave Site Kit access to site(s) that you own, including data from Google services that is associated with those sites (for

[2021-12-07 18:10] aaemnnosttv opened #4478 "Add a new `check-access` endpoint to core modules"
## Feature Description

#4579 introduces a new interface for modules to provide a reference to their currently configured service entity identified by their owned settings.

This issue builds on this infrastructure to allow for the current user's access to be checked to a module's service entity. This will be needed for things like module recovery in dashboard sharing, so we will add a new endpoin

[2021-12-07 18:13] aaemnnosttv opened #4479 "Add a dismissal when non-admins go to the shared dashboard for the first time from the splash page"
## Feature Description

In dashboard sharing, non-admins will see a slightly different version of the splash screen as admins do because they still don't have the option to sign-in with Google yet.

The alternate splash will function as kind of welcome to the shared dashboard, and should only be shown the first time. Once the user clicks the button to navigate to the dashboard, this should be trea

[2021-12-07 18:21] aaemnnosttv opened #4480 "Expose shareable roles to client"
## Feature Description

In order to [populate the dashboard sharing settings](https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#heading=h.tphgu5b1xd6j), the client needs to be aware of which roles are available to choose from.

This issue is about extending the script data for dashboard sharing established in #4473 with a new `roles` property that will provide in

[2021-12-07 18:23] aaemnnosttv opened #4481 "Create REST controller for dashboard sharing"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-12-07 20:10] felixarntz commented on #3907
@aaemnnosttv Yeah I agree eventually a snack bar would be best, but that goes beyond this issue. I'm open to either removing the success messages for now or adding them for all 4 actions - unless having the success messages show up right after the loading spinner is really a weird UX pattern (thoughts @marrrmarrr @samitron7?), I'd say that currently provides better insight into what's going on.

[2021-12-07 20:15] felixarntz commented on #4427
@eugene-manuilov Emptying the search on unfocusing was defined by @samitron7, so I assume this is a reasonable UX pattern here. I also agree with that, since it's an autocomplete, which is almost like a dropdown. So if you enter a random text and don't select any of the options, the input is invalid, so it should be emptied if you move away from the field.

You can only enter something to then cho

[2021-12-07 21:28] tofumatt commented on #4466
IB ✅

[2021-12-07 23:06] tofumatt commented on #4126
IB ✅

[2021-12-07 23:30] tofumatt commented on #3948
IB ✅

[2021-12-07 23:40] tofumatt commented on #4418
IB ✅

[2021-12-08 01:57] ivankruchkoff commented on #3902
@eugene-manuilov I don't like the idea of putting presentation logic in an action.

I went down the path of not showing `DRAFT_CREATED` in the drafts tab, which gives us the following experience:

https://user-images.githubusercontent.com/373931/145134707-3984ecc6-9170-4198-a4f8-35dd53a06417.mp4

Which still allows for the temporary messaging on the `New` tab when we switch back to it within the t

[2021-12-08 07:17] Greatdane opened #4485 "Fatal Error when using Site Kit with full site editor"
## Bug Description

If using the `Full Site Editor` and `Gutenberg` plugin, then activating the new Full Site Editor beta which is due to come out fully in WordPress 5.9, a critical error occurs related to Site Kit.

## Steps to reproduce

1. Install and Activate the `Full Site Editor` and `Gutenberg` plugin.
2. Activate a block-based theme, such as `Zoologist`.
3. Enable 'Site Editor' via Appeara

[2021-12-08 09:57] aaemnnosttv commented on #4028
@asvinb this how Material does it so we shouldn't change how the component works. We could change how we use it though - the `AdsConversionIDTextField` component conditionally adds the helperText validation message. I think it would make sense to do the same here

The interface could be polished a bit as well, so +1 for a new issue for that.

One of the other problems here I think is related to th

[2021-12-08 10:08] adamdunnage opened #4487 "Missing logic condition for error: 'Looks like you're already using Google Analytics within your Google Tag Manager configuration' message"
## Bug Description

The following error message:

"**Error: Looks like you're already using Google Analytics within your Google Tag Manager configuration. However, it's Analytics property UA-#########-# is different from the Analytics property  , which is currently selected in the plugin. You need to configure the same Analytics property in both places**."

displays when editing the Tag Manager se

[2021-12-08 10:39] eclarke1 opened #4488 "Chip doesn't do anything when in the section"
## Bug Description

As per bug bash tickets:
https://app.asana.com/0/1201438453642602/1201478352201031
https://app.asana.com/0/1201438453642602/1201453960164093
https://app.asana.com/0/1201438453642602/1201479361460033

Upon initial dashboard load, clicking the 'Traffic' chip doesn't do anything because the user is already in the Traffic section. If you scroll down the page after initial load and

[2021-12-08 10:43] asvinb commented on #4457
@aaemnnosttv @kuasha420 I think it's a good opportunity to clean up the styles a little bit and +1 for suggesting to add a new class name `googlesitekit-border-radius-round` although I'am not a big fan of utility class names but definitely makes sense here since we will be using that class name a lot. For instance the icons for user survey, so the class name will definitely be handy for future cas

[2021-12-08 10:44] eclarke1 opened #4489 "When a site has no goals set up in Analytics, currently the 'Goals' data shows zero within Overview for the last 28 days widget"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201439607546521

When a site has no goals set up in Analytics, currently the 'Goals' data shows zero within Overview for the last 28 days widget, where on the current dashboard there is a CTA.

The new Search Funnel widget is completely missing the logic to check whether any goals are defined - it needs to be tak

[2021-12-08 10:47] eclarke1 opened #4490 "Last section not at top when activated"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201479361460039

This is a bit dependent on the height of the area, but the default monetization section is barely centered when scrolled to as it is the last section and there is no extra space at the bottom.

I would suggest we apply a minimum height (~80vh) to the last widget context on the dashboard to allow

[2021-12-08 10:50] henrywright commented on #4485
This happens because the anonymous function argument in `Screens.php` has an `array` type declaration applied to it. If an external theme or plugin author did the following, for example, a fatal error would occur in Site Kit because the passed string would violate the expected array type:

[code]

If Site Kit was the only user of the `menu_order` filter, this problem could be avoided but the hook

[2021-12-08 10:52] eclarke1 opened #4491 "Slight inconsistencies applying breakpoints around 600px"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480204836408

There is a layout that is only active at 600px. The media queries should be aligned so the layout at 600px is either aligned with that at 599px or 601px. See attached screen capture (animated gif, click to play). There's also inconsistencies with the header icons at these breakpoints, as well as

[2021-12-08 10:52] eclarke1 opened #4492 "Slight inconsistencies applying breakpoints around 600px"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480204836408

There is a layout that is only active at 600px. The media queries should be aligned so the layout at 600px is either aligned with that at 599px or 601px. See attached screen capture (animated gif, click to play). There's also inconsistencies with the header icons at these breakpoints, as well as

[2021-12-08 10:54] eclarke1 opened #4493 "Lost focus state on search button when closing the search form"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480648448654

The `unifiedDashboard` feature flag must be enabled.

1. Using the keyboard, open the entity search form.
2. Press the ESC key to close the search form.
3. Notice how the focus state is "lost"

---------------

_Do not alter or remove anything below. The following sections will be managed by mode

[2021-12-08 10:55] eclarke1 opened #4494 "Mobile view: Google Analytics setup contents overlap"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480915602753

There is a minor design issue on mobile view GA setup page. Please refer to the screenshot.

## Steps to reproduce

1. Start Analytics setup using an account that has a matching UA + GA4 property
2. In a mobile viewport, note the GA4 notice overflows horizontally

## Screenshots

![image](https:/

[2021-12-08 11:03] eclarke1 opened #4495 "The error component rendered by the `UserCountGraph` of the All Traffic widget overflows its container"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201476082622565

The error state overflows the widget area when on the entity dashboard page.

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/cd5ddd36-9b23-4148-9b3c-5e8366d41e54)

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2021-12-08 11:05] eclarke1 opened #4496 "All Traffic Widget tooltip overlaps header and unified dashboard navigation"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480648448634

Click on a slice of the All Traffic widget pie chart
Tooltip is displayed.
Scroll down the page.
Notice how the tooltip overlaps the unified dashboard header and navigation.

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/30a1947b-630f-46d9-82fd-a468ba706295)

## Steps

[2021-12-08 11:05] eclarke1 commented on #4496
@wpdarren to please check if this exists elsewhere already in GH

[2021-12-08 11:06] eclarke1 opened #4497 "Content Overlaps on Mobile [Page Speed]"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480843200390

The module of page speed overlaps in mobile view,  (iPhone 6, from Chrome Simulator) from the first Tab In the Lab.

![image](https://user-images.githubusercontent.com/1621608/151138285-6f8ef4a1-b719-456c-9be3-ce2eb4cbfc83.png)

[Full size screenshot](https://camo.githubusercontent.com/c5315fdae6

[2021-12-08 11:07] eclarke1 commented on #4497
@wpdarren to check if this ticket exists elsewhere in GH

[2021-12-08 11:08] eclarke1 opened #4498 "Shouldn't be able to "un-click" a pill/chip link"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201481416683015

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/1e2c7c36-b8ae-4ab9-91c4-c7e649d35272)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.

[2021-12-08 11:08] eclarke1 opened #4499 "Shouldn't be able to "un-click" a pill/chip link"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201481416683015

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/1e2c7c36-b8ae-4ab9-91c4-c7e649d35272)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.

[2021-12-08 11:12] eclarke1 opened #4500 "The URL search input text overflows into the close button"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480204836398

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/64b69901-a519-4581-a6b1-7363e4959252)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.

[2021-12-08 11:13] eclarke1 commented on #4457
@aaemnnosttv or @asvinb Would it be worth updating this ticket (if required) to cover off the bug bash ticket here https://app.asana.com/0/1201438453642602/1201479361460051 are we comfortable that this ticket can be used for that bug bash item, or do we need a separate GH ticket creating for it?

[2021-12-08 11:14] eclarke1 opened #4501 "Space is minimal between title and subtitle"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201480843200400

This behavior happens in iPhone 6, using chrome emulator device.

See how:

Finding how your audience is growing
Track traffic to this page over time.

Are really close in this view port and there is minimal space between these 2 sections.

![image.png](https://images.zenhubusercontent.com/5e2ad3

[2021-12-08 11:15] eclarke1 opened #4502 "Box shadow animation when scrolling top of the page"
## Bug Description

When scrolling to the top of the main dashboard, the box shadow animation is weird, with 2 borders showing up momentarily.

https://user-images.githubusercontent.com/1621608/146362433-86d77e36-df43-4847-ab89-2252ed31ee9c.mp4

A quick inspection shows the problem is related to the added space here which is only shown when scrolled to the top due to the sticky position of the hea

[2021-12-08 11:17] eclarke1 opened #4503 "URL Search "No results found" has link-style cursor on hover, but shouldn't as there's no associated action"
## Bug Description

As per bug bash ticket: https://app.asana.com/0/1201438453642602/1201481416683003

When there are no results, the mouse cursor shouldn't change, as it implies clicking the "No results found" link will do something.

## Screenshots

![2021-12-07 14 56 48](https://user-images.githubusercontent.com/90871/145901362-50f3878f-e504-42f1-87ee-4aae6b67200a.gif)

---------------

_Do not

[2021-12-08 11:18] eclarke1 opened #4504 "PageSpeed Insights failed to load data intermittently"
## Bug Description

This issue was raised as part of Unified Dashboard bug bash but is actually unrelated, please see ticket https://app.asana.com/0/1201438453642602/1201478337614420

This issue happens intermittently. Sometimes it happens when I click the Run test again button as well.

Please refer the attached screenshots on Asana ticket.

## Steps to reproduce

1. Go to '...'
2. Click on '....

[2021-12-08 11:19] eclarke1 opened #4505 "Search take a long time when PSI queries are running"
## Bug Description

This issue was raised as part of Unified Dashboard bug bash but is actually unrelated, please see ticket https://app.asana.com/0/1201438453642602/1201480648448640

Upon a fresh Site Kit install/reset, PSI is enabled by default and takes a lot time to grab the data. While those PSI queries are running, if you search for an entity, it takes a lot of time to display the results.

[2021-12-08 11:21] eclarke1 opened #4506 "Selecting a report range does not scroll to the section"
## Bug Description

This issue was raised as part of Unified Dashboard bug bash but is actually unrelated, please see ticket https://app.asana.com/0/1201438453642602/1201480843200412

When you are in a different section and the analytics report is not displayed in the viewport I would expect that clicking a date range from the report would take me back to the section where the report is displayed.

[2021-12-08 11:22] eclarke1 opened #4507 "Change language about UA in post-Analytics setup banner"
## Feature Description

This issue was raised as part of Unified Dashboard bug bash but is actually unrelated, please see ticket https://app.asana.com/0/1201438453642602/1201476082622572

Right now, the banner that appears after you connect Analytics says "You'll only see Universal Analytics data for now." This could be confusing as it doesn't specify if this message is only referring to the SK da

[2021-12-08 11:23] eclarke1 commented on #4507
@marrrmarrr @bethanylang just tagging you here following ticket raised during bug bash here https://app.asana.com/0/1201438453642602/1201476082622572

[2021-12-08 11:41] eugene-manuilov commented on #4201
@wpdarren, yes, feel free to mark it as `QA:Eng` or if you want to check it too, then open latest E2E tests for the `develop` branch and verify that you can see completed tests for each suite/test file.

[2021-12-08 12:02] eclarke1 commented on #4423
@marrrmarrr @felixarntz could I kindly as for your thoughts on this one please, as it has been identified as a launch blocker for Unified Dashboard, so would be great to progress through if possible.

[2021-12-08 12:06] aaemnnosttv commented on #4457
@eclarke1 yep, I updated the ACs for this yesterday; there wasn't much to change for it.

[2021-12-08 12:10] aaemnnosttv commented on #4201
## QA ✅

LGTM 🙂 https://github.com/google/site-kit-wp/runs/4455621920?check_suite_focus=true
All of this detail wasn't shown before
![image](https://user-images.githubusercontent.com/1621608/145206111-7d9afda1-cab5-4f81-986a-1c5f1c774131.png)

[2021-12-08 12:29] techanvil commented on #4103
Hi @felixarntz, @asvinb, @aaemnnosttv. While implementing this ticket, I've noticed a number of issues related to the AC and IB, which I have outlined below. I hope this makes sense, please let me know if anything needs to be clarified, or if I've got something wrong. Happy to jump on a call to discuss.

* The bug describes UA and then goes on to mention GA4. The AC, possibly in reference to the r

[2021-12-08 12:37] eugene-manuilov commented on #4488
@felixarntz do you mind reviewing AC?

[2021-12-08 12:48] eugene-manuilov commented on #4499
@eclarke1 this issue will be fixed as part of the #4488 ticket. I am going to close this ticket.

[2021-12-08 12:48] #4499 closed

[2021-12-08 13:15] asvinb opened #4510 "Helper text has incorrect font size"
## Bug Description
We have a global CSS rule for paragraphs where we set the font size to `1rem`. However, in some cases, for e.g helper texts which are `p` having the `mdc-text-field-helper-text` class name should have a smaller font size, `0.75rem` rather than `1rem` which looks quite big.

## Screenshots

Font size set to `1rem`:
![image](https://user-images.githubusercontent.com/31818/14521454

[2021-12-08 13:18] asvinb commented on #4028
@aaemnnosttv I created a new PR which solves some of the awkwardness for this particular section. Can you take a look and let me know what you think? The layout has changed a little bit but I think it's a better experience for the user.

Additionally I created the following issue: https://github.com/google/site-kit-wp/issues/4510 while working on the current ticket.

[2021-12-08 13:27] wpdarren commented on #4286
### QA Update: ✅

Verified: when you click on the Learn more link, it opens in a separate window.

[2021-12-08 14:22] asvinb commented on #4356
@eugene-manuilov @jimmymadon I had another look and couldn't find anywhere in our code where we scroll to the first widget area 🤔  The reason why I'am thinking more about the scroll position is that if you open a new tab, you cannot reproduce the issue, i.e the user is at the top of the page thus seeing the notification. @jimmymadon does the code you suggested in the IB fix the issue so that at le

[2021-12-08 14:43] asvinb commented on #4380
@aaemnnosttv IB updated, can you review?

Thanks!

[2021-12-08 14:46] wpdarren commented on #4342
### QA Update: ✅

- With the `serviceSetupV2` feature flag enabled I verified when redirected to the proxy page, the URL in the browser and it contains the `mode=analytics-step` query argument.

[2021-12-08 14:50] asvinb commented on #4350
### QA: ✅

ESLint complaining in different scenarios:
![image](https://user-images.githubusercontent.com/31818/145228666-3d6a5910-ac66-4065-a2ad-59f9fd8ffebe.png)
![image](https://user-images.githubusercontent.com/31818/145228843-974e7723-5a7a-4792-a4fb-d29ec53bd208.png)

ESLint not complaining:
![image](https://user-images.githubusercontent.com/31818/145228957-f3433507-f31e-4556-87b7-5da7096f4265

[2021-12-08 14:52] asvinb commented on #4227
### QA: ✅

No refs to `LegacyDashboardAdSenseTopPages` found in the codebase.

[2021-12-08 14:55] jimmymadon commented on #4356
@asvinb @eugene-manuilov The code suggested in the IB does fix the issue when I tested it. I tried a few other snippets which involved adding `global.window.scrollTo(0,0)` instead. However, they didn't work unless you called them in a `setTimeout()` after 5-10 seconds, as something was causing the page to scroll after page load.

[2021-12-08 15:18] aaemnnosttv commented on #4471
Moving this forward to the EB as no IB is really necessary here 😄

[2021-12-08 15:20] wpdarren commented on #4438
### QA Update: ✅

Verified that when you turn on Unified Dashboard feature flag the icons appear as per the Figma designs on both desktop and mobile screen sizes.  - [Desktop](https://user-images.githubusercontent.com/73545194/145233841-716a8276-c7e0-4a1d-95fc-d803b5a29751.png) - [Mobile](https://user-images.githubusercontent.com/73545194/145233860-d99d9429-fc23-477d-b98f-1be22cb97dc4.png)

[2021-12-08 15:33] wpdarren commented on #4497
@eclarke1 funnily enough it's on my Asana task of small bugs to create tickets for that I found in this latest release QA, so I will remove it now. Although I would say it is not part of Unified Dashboard because its also an issue on current PageSpeed widget throughout the plugin.

[2021-12-08 15:40] adamdunnage opened #4511 "User is being regularly disconnected from Site Kit on several of their sites"
## Bug Description

[A user in the support forums](https://wordpress.org/support/topic/i-find-the-plugin-deactivated-really-often/) is reporting that they are being disconnected from Site Kit on several of their sites regularly.

When checking their 'Manage Sites' page they confirmed that they have 34 sites currently active. The user has filled out the [Site Health form](https://docs.google.com/fo

[2021-12-08 15:46] wpdarren commented on #4496
@eclarke1 not on GH, its related to Unified Dashboard but a bit of an edge case depending on if the user scrolls up while the legend is still activated (which I am sure someone will!) I've updated Asana too.

[2021-12-08 16:12] wpdarren opened #4513 "Code Coverage link in PSI widget goes to a 404 page when clicked"
## Bug Description

Within the Page Speed Insights widget there are suggestions to improve the speed of the site.

Under `Reduce unused JavaScript` we have a link to the code coverage page, which is an external link to:

`https://developers.google.com/web/updates/2017/04/devtools-release-notes#coverage`

When you click on it, you receive a 404.  Do we have a replacement URL or do we need to remove

[2021-12-08 16:43] wpdarren commented on #4145
### QA Update: ❌

During bug bash @eclarke1 noticed that the Complete AdSense activation CTA appears when you only partly complete the connection.  From the conversation on Asana and the bug bash, it was decided that this needs fixing.  Since the issue is linked to the changes in this ticket, we've highlighted the issue here.

![image](https://user-images.githubusercontent.com/73545194/145247594-f

[2021-12-08 16:45] eugene-manuilov commented on #4503
@felixarntz or @tofumatt correct me if I am wrong, but as far as I remember we don't want to display the `No results found` message in the new unified dashboard. Is it still the case?

[2021-12-08 16:56] felixarntz opened #4514 "Implement new Idea Hub prompt banner and widget notification"
The banner notification and "in-widget" notification to prompt users to activate Idea Hub have not received the attention they should have so far in our rollout of the feature. Both notifications have therefore been redesigned, and this issue is about implementing those designs.

![Screen Shot 2021-12-08 at 8 48 25 AM](https://user-images.githubusercontent.com/3531426/145248891-0e109202-00ab-4f7d-

[2021-12-08 17:00] felixarntz commented on #4514
@marrrmarrr I'm gonna assign this to you, just because of the one thing in the Figma file we were thinking to change. Once that change has been made, please move this over to IB! :)

[2021-12-08 17:04] felixarntz commented on #3907
@asvinb @aaemnnosttv After discussing this with @marrrmarrr, let's go with my suggestion 1. in https://github.com/google/site-kit-wp/issues/3907#issuecomment-987039245:

* All 4 actions should have the loading spinner (as already the case in the PR).
* All 4 actions should have a brief success state where they show a brief message that remains there for a brief period before the idea disappears (f

[2021-12-08 17:21] asvinb commented on #4145
@wpdarren Follow up PR has been created to fix the issue you mentioned.

[2021-12-08 17:48] henrywright commented on #4485
@Greatdane with reference to fixing the problem for you specifically, check all of the plugins and theme you are using for usage of the `menu_order` filter. It is highly likely a callback hooked to `menu_order` isn't returning as expected

[2021-12-08 18:02] eugene-manuilov commented on #4488
Thanks, @felixarntz. AC is updated.

[2021-12-08 18:41] felixarntz commented on #4494
@eclarke1 While this was found in the bug bash, this is unrelated of the unified dashboard, so I'm gonna remove the epic here. It's still worth fixing this soon, but not actually a launch blocker since it doesn't have to do with the epic. On that note though, fixing this is therefore probably even more important, since this already surfaces in production today.