[2020-04-08 09:56] aaemnnosttv commented on #1305
QA ✅

[2020-04-08 10:34] jamesozzie commented on #1341
Tested the same theme and all WooCommerce related plugins with the exception of the following:
– WooCommerce Side Cart Premium - a commercial plugin
– WooCommerce DHL: version: 1.4.21, author: WP Desk – Unable to locate this plugin

Unable to reproduce the same issue using default settings on theme and plugin. Escalating to L2. User updated with additional troubleshooting suggestions:
https://word

[2020-04-08 10:51] jamesozzie commented on #1341
User was able to determine the cause, the "[Groups](https://wordpress.org/support/topic/stuck-at-checking-compatibility/)" plugin with their user setup. Additional information in associated [WP support forum topic](https://wordpress.org/support/topic/stuck-at-checking-compatibility/#post-12644809).

[2020-04-08 10:51] #1341 closed

[2020-04-08 11:26] swissspidy commented on #606
Gutenberg doesn't use tips anymore. Closing.

[2020-04-08 11:26] #606 closed

[2020-04-08 11:48] aaemnnosttv commented on #1333
QA ✅

[2020-04-08 11:58] aaemnnosttv commented on #1316
## QA ⚠️

@felixarntz this looks good, with the exception of the "should never return an error" condition. It will return an error if the `propertyID` is not provided, or is invalid. I think these are acceptable reasons to return an error for this datapoint, but it is technically a conflict with the AC. If you're okay with these exceptions, then 👍

[2020-04-08 12:04] aaemnnosttv commented on #1351
## QA ✅

It seems all action runs have succeeded since merging this so seems to be doing the trick 👍

![image](https://user-images.githubusercontent.com/1621608/78782103-2297db00-79aa-11ea-8360-e8f19b52a7ce.png)

[2020-04-08 12:23] aaemnnosttv commented on #1212
## QA ❌

The account ticket ID constant is defined in the namespace scope rather than as a class constant as I would expect.

https://github.com/google/site-kit-wp/blob/edf04178a755e8bd53d7462f82859ab1714db2ac/includes/Modules/Analytics.php#L55-L60

Perhaps this was intended but the usage indicates that was in intention as well.

https://github.com/google/site-kit-wp/blob/edf04178a755e8bd53d7462f8

[2020-04-08 12:58] jamesozzie commented on #1323
Users are able to successfully verify with another Google account in many cases ([Example](https://wordpress.org/support/topic/loop-when-verifying-site-ownership/)).

Awaiting feedback from users suggesting they check their [site verification](https://www.google.com/webmasters/verification/home?pli=1) with site variations and verified users.

Updated listed of impacted users in original post, incl

[2020-04-08 13:46] tofumatt commented on #1222
Note for Eng QA: certain duplicate modules will likely still exist from the output, likely because specific versions are being required by some of our dependencies and they aren't matching. We aren't doing anything to combine those modules now—I'd say we should do that as a separate issue and with caution, because changing a library's dependencies from underneath it is dangerous 😄

But for now you

[2020-04-08 15:15] tofumatt commented on #1357
Just need @aaemnnosttv to merge; this is all set from a code review standpoint 👍

[2020-04-08 15:26] tofumatt commented on #1164
All hooks removed, QA ✅ from me.

[2020-04-08 15:31] tofumatt commented on #1346
Covered by #1345; nothing to QA here for @cole10up as this isn't in production code yet, but the requests are being made appropriately in our refactor branches.

[2020-04-08 15:37] felixarntz commented on #1297
@tofumatt Can you check on this?

[2020-04-08 15:38] felixarntz commented on #1316
@aaemnnosttv Right, yeah that still makes sense. I guess the ACs should have said "should not return an error to indicate lack of access"

✅

[2020-04-08 15:52] tofumatt commented on #1335
QA ✅

`createModuleStore` no longer fails to load/get added to the existing `googlesitekit.modules` object. 👍

No need for @cole10up to thoroughly test this one as it isn't in any production code.

[2020-04-08 16:03] felixarntz commented on #1357
This should now work against staging - not yet against production.

[2020-04-08 16:06] cole10up commented on #1279
**Tested**

Downloaded and installed latest develop SK:
[google-site-kit.v1.6.0.develop@4b626cc5a5.zip](https://github.com/google/site-kit-wp/files/4451554/google-site-kit.v1.6.0.develop%404b626cc5a5.zip)

Connected and setup Analytics

Checked 90 days in SK versus 90 days in GA:

![image](https://user-images.githubusercontent.com/57115907/78806837-1d219d00-7978-11ea-9870-a1b097f2d493.png)

![imag

[2020-04-08 16:14] felixarntz commented on #1202
Moving this to 1.8.0 - it's not a critical bug. It's almost ready, maybe it already is ready, but it's probably safer not including this just yet.

[2020-04-08 16:15] felixarntz commented on #1279
Moving this out of 1.7.0 because it's very late - #1309 should have priority.

cc @ryanwelcher

[2020-04-08 16:16] felixarntz commented on #1279
@cole10up This issue is only about numbers being rounded, not the day range displayed - could you re-check against this?

[2020-04-08 16:27] cole10up commented on #1279
Trying to recheck the user totals are way off between GA and SK so I can't accurately get a positive test as they don't match.

See total users here in SK:
![image](https://user-images.githubusercontent.com/57115907/78808922-fadd4e80-797a-11ea-82aa-295b8072add7.png)

See total users here in GA:
![image](https://user-images.githubusercontent.com/57115907/78808955-0c265b00-797b-11ea-8bf0-868484cedcb

[2020-04-08 16:55] tofumatt commented on #1135
QA ✅All webpack aliases are out and things still work, yay! 👍

Shouldn't require further QA—if nothing has broken thus far I'd say this one's good, as webpack itself would have error'd during build referencing any bad paths, so moving to approval.

[2020-04-08 17:00] felixarntz commented on #1202
Moving back to 1.7.0, since this is kind of a dependency for #1279

[2020-04-08 17:13] tofumatt commented on #1297
Oddly, I authenticated on that site, disconnected, and saw this screen:

<img width="1028" alt="Screenshot 2020-04-08 18 12 00" src="https://user-images.githubusercontent.com/90871/78813115-74e5f580-79c4-11ea-9c32-531d9a6e2823.png">

I'm not sure what would've caused the original error—maybe something was just cached? It seemed to work on the site for me. 😅

[2020-04-08 18:32] felixarntz commented on #1297
It could indeed be caching, since the plugin version number had not yet changed to 1.7.0.

[2020-04-08 18:35] felixarntz commented on #1202
@cole10up Ready for QA now alongside with #1279 from before. This one is for getting the overall number right, the other one for ensuring the numbers are correctly rounded.

[2020-04-08 19:28] jamesozzie commented on #1262
@adamsilverstein I investigated this further today and there have been various causes for users impacted. Some findings below with links to their WP support topics:

**Third party service**
One user is using a third party service to setup their WordPress site. Using this service results in their site URL being a subdomain of this third party service
[WordPress support topic]( https://wordpress.org

[2020-04-08 19:51] adamsilverstein commented on #1212
Good catch! Moving to the class, that is a mistake.

[2020-04-08 20:58] adamsilverstein commented on #1212
@aaemnnosttv Moved that (and addressed your previous feedback) in https://github.com/google/site-kit-wp/pull/1365.

[2020-04-08 21:59] ernee commented on #971
Closing as it was not reproducible any longer.

[2020-04-08 21:59] #971 closed

[2020-04-09 00:07] tofumatt commented on #1255
I've got nothing else to add—I agree that it's worth keeping the Gutenberg test around, but the test approach/proposed tests here look good, so IB ✅ from me.

Since @felixarntz and are both assigned I'll leave this assigned to him to review as well, but this sounds good to me. 👍

[2020-04-09 00:10] tofumatt commented on #1297
Ah, just a note here that @cole10up and I talked about this on Slack and he tested it and experienced the correct behaviour on two separate machines as well—including the one he originally saw the failure on.

I forgot to mention that here, but we both verified this working and he said it was good to move to Approval 😄

[2020-04-09 06:28] cole10up commented on #1309
**Tested**

Installed 1.7.0, flipped language to Deutsch (Sie)
![image](https://user-images.githubusercontent.com/57115907/78863836-56e1ba80-79ef-11ea-80e1-617954699add.png)

Setup SK and connected all modules

Notice:

Search Console:
![image](https://user-images.githubusercontent.com/57115907/78863731-2437c200-79ef-11ea-957b-9a1947561fed.png)

Adsense:
![image](https://user-images.githubusercont

[2020-04-09 06:40] cole10up commented on #1357
**Tested**

Downloaded and installed TranslatePress as well as the staging proxy plugin.

Activated both and set Use a subdirectory for the default language to 'yes'

![image](https://user-images.githubusercontent.com/57115907/78864979-a45f2700-79f1-11ea-93d3-01968d1ed1eb.png)

Reset SK, and started setup flow.

![TranslatePress ‹ Hellogoodbye — WordPress](https://user-images.githubusercontent.com

[2020-04-09 06:54] cole10up commented on #1106
**Tested**

Added a file to /dist prior to npm run build

![image](https://user-images.githubusercontent.com/57115907/78866260-e721fe80-79f3-11ea-8b3d-2e4c496a592c.png)

Confirmed script ran:
![image](https://user-images.githubusercontent.com/57115907/78866397-24868c00-79f4-11ea-83ec-875dcfb85c54.png)

Confirmed file was deleted:
![image](https://user-images.githubusercontent.com/57115907/78866427

[2020-04-09 07:09] cole10up commented on #1279
Retested and am not seeing any extra rounding of large numbers.

GA:
![image](https://user-images.githubusercontent.com/57115907/78867461-fefa8200-79f5-11ea-966a-5147bc26fbc4.png)

SK:
![image](https://user-images.githubusercontent.com/57115907/78867507-10dc2500-79f6-11ea-83d1-13ab3484f7a9.png)

Passed QA ✅

[2020-04-09 07:22] cole10up commented on #1202
**Tested**

Checked GA:
![image](https://user-images.githubusercontent.com/57115907/78868172-4a616000-79f7-11ea-9803-2a12316de42b.png)

Checked SK:
![image](https://user-images.githubusercontent.com/57115907/78868196-58af7c00-79f7-11ea-95b0-db3c410bc119.png)

28 Days:

GA:
![image](https://user-images.githubusercontent.com/57115907/78868445-ce1b4c80-79f7-11ea-8f8f-39002b9f77a2.png)

SK:
![image](h

[2020-04-09 11:21] aaemnnosttv opened #1367 "Release 1.7.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-04-09 12:02] aaemnnosttv opened #1368 "Analytics set up with no accounts triggers re-auth notice"
## Bug Description

Currently when setting up the Analytics module using a Google account that has no Analytics accounts, the "Issue accessing data" notice is displayed when it should not.

The reason for this is that when a data request fails with an error that has a `data.reason: "insufficientPermissions"` in the response, it triggers this notice.

This exception is thrown by the Google API, whi

[2020-04-09 13:05] ryanwelcher commented on #1222
Everything looks good to me. AC criteria pass with the exception of a few instances of `lodash` as mentioned in @tofumatt's note above.
Approved ✅

[2020-04-09 13:53] brunoalbim opened #1369 "ads are not showing"
ads are not showing. some remain just a yellow square, and others do not appear at all.

[2020-04-09 13:53] adamsilverstein commented on #1116
This is likely a related issue so you can leave it here. All these `redirect_uri` errors are at least potentially related to the issue we are working on in https://github.com/google/site-kit-wp/issues/1357 - and will be resolved with the fixes there.

[2020-04-09 14:05] tofumatt commented on #1367
QA ✅from me; spent a fair bit of today testing and things seem to work well; the webpack change from #1222 didn't seem to cause any regressions 😄

[2020-04-09 14:20] jamesozzie commented on #1369
@brunoalbim We've moved Site Kit support over to the [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/). Please also that If the AdSense code snippet is placed on your site (via Site Kit) then then yo'll need to use the [AdSense Help Center](https://support.google.com/adsense/?hl=en#topic=3373519) for further support.

Feel free to create a new support topic and incl

[2020-04-09 14:20] #1369 closed

[2020-04-09 14:52] felixarntz commented on #1255
@aaemnnosttv

You say further below we should do this everywhere. I'm not sure we should put these tests into any module-specific test suite, I think this could be something like `amp-compatibility` on the root level.

[2020-04-09 14:55] felixarntz commented on #1202
@cole10up Regarding the percentages, this is being tracked in #1280.

[2020-04-09 14:59] felixarntz commented on #1368
@aaemnnosttv Great find - let's prioritize this!

IB ✅

[2020-04-09 16:42] #1367 closed

[2020-04-09 16:42] #1322 closed

[2020-04-09 16:43] #1297 closed

[2020-04-09 16:43] #1309 closed

[2020-04-09 16:43] #1357 closed

[2020-04-09 16:43] #1246 closed

[2020-04-09 16:44] #1173 closed

[2020-04-09 16:44] #1319 closed

[2020-04-09 16:44] #1000 closed

[2020-04-09 16:44] #1286 closed

[2020-04-09 16:44] #1305 closed

[2020-04-09 16:44] #1333 closed

[2020-04-09 16:44] #1351 closed

[2020-04-09 16:44] #1164 closed

[2020-04-09 16:44] #1346 closed

[2020-04-09 16:44] #1335 closed

[2020-04-09 16:44] #1135 closed

[2020-04-09 16:44] #1106 closed

[2020-04-09 16:44] #1279 closed

[2020-04-09 16:44] #1202 closed

[2020-04-09 16:44] #1222 closed

[2020-04-10 07:46] aaemnnosttv commented on #1255
I just meant that the set up should still complete successfully in each case where we test for it. Definitely not everywhere.

I thought about putting the tests together, and maybe we should do that. My thinking was that most everything else about the test will be the same as other existing tests, other than activating the plugin. Adding cases to the existing files would be the smaller change and

[2020-04-10 09:34] phamquangbaoplus opened #1371 "Detailed Page Stats wrong "Unique Visitors from Search""
## Bug Description

Detailed Page Stats wrong "Unique Visitors from Search". It showing total website visitors instead of showing the number of visitors of the post.

## Steps to reproduce

1. Go to a single page with some traffic.
2. Using the admin bar Site Kit menu, note the "Total users" for that URL.
3. Click "More details" in the dropdown to visit the "Dashboard detail view".
4. Note the num

[2020-04-10 11:20] tofumatt commented on #1255
My take is that I agree with this, and would prefer tests for particular components (like analytics) to have variations on setup based on AMP being on/off… not a section of AMP tests with tests for several, different modules in them.

I think of the test placement as being targeted, testing the "inner-most" thing in question. For this: it's analytics setup, but with the variation that AMP is disab

[2020-04-10 12:03] aaemnnosttv opened #1372 "Add webpack plugin to avoid circular dependencies"
## Feature Description

Circular dependencies in JS modules can create odd side-effects that can be difficult to identify.

Let's add the [`circular-dependency-plugin`](https://github.com/aackerman/circular-dependency-plugin) to help us avoid them going forward.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crit

[2020-04-10 12:39] aaemnnosttv commented on #1116
@felixarntz / @adamsilverstein - can you clarify if this is still an issue? I see that the `redirect_uri_mismatch` problem is separate than this one, but it isn't very clear what the remaining issue is, if there is one.

[2020-04-10 13:07] jamesozzie commented on #1371
@phamquangbaoplus We've moved Site Kit support to the WordPress support forum. You can open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we can assist. We can re-open this GitHub issue if we're able to determine any action required.

Within your support topic please include any screenshots showing the same results after testing various individual

[2020-04-10 13:22] felixarntz commented on #1116
@aaemnnosttv I think there's some confusion in this issue overall, things got mixed up. The issue description talks about a 404 in setup, but the linked support thread talks about a completely different problem, related to how URLs are displayed. My comment further above applies to that URL problem.

We should separate these into distinct issues. cc @ernee

[2020-04-10 13:24] aaemnnosttv commented on #1196
@felixarntz I updated the IB here to outline a new job to upload the built artifact zips to the GitHub release on tag rather than the wiki - which isn't necessary I think.

[2020-04-10 15:11] adamsilverstein commented on #1371
I have confirmed this issue is a regression caused by leaving the url out of the datapoint added in https://github.com/google/site-kit-wp/issues/1202. Reopening to triage.

[2020-04-10 15:23] felixarntz commented on #1255
@aaemnnosttv @tofumatt The module-specific AMP tests should certainly be in that module's directory. But there are general AMP tests that are not related to any module. For example, if the admin bar displays and if it opens on hover in the frontend on AMP, that doesn't have to do anything with modules.

[2020-04-10 15:23] felixarntz commented on #1372
IB ✅

[2020-04-10 15:35] jamesozzie commented on #1253
@jamesozzie Apologies for the late response. That sounds like a question for the [Webmaster Community](https://support.google.com/webmasters/?hl=en#topic=9128571) experts I'm afraid. But rest assured we investigate this further.

[2020-04-10 15:35] felixarntz commented on #1308
IB ✅

We should also use a very early priority on `wp_body_open` - there's no guarantee we're the earliest, but let's do our best. WordPress is terrible with this anyway, I'm perfectly fine with using something like `-9999` :)

[2020-04-10 15:38] felixarntz commented on #1280
IB ✅

[2020-04-10 16:19] adamsilverstein commented on #1371
@phamquangbaoplus Thanks for the bug report. We have a fix in the works for this issue which should be in the next release.

[2020-04-10 16:26] felixarntz commented on #1371
IB ✅

[2020-04-10 16:27] aaemnnosttv opened #1375 "Port shared data store changes and conventions"
This is a catch-all issue for porting changes to shared datastore code from the Analytics component refactoring branch to develop

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All actions that have controls must have dedicated actions for state mutations
* Async actions should follow the following co

[2020-04-10 16:51] felixarntz commented on #1375
@aaemnnosttv ACs look good, with one piece pending to be discussed further:

Should we name saved settings selectors `getSaved...` and current ones `get...`? Or vice-versa saved settings `get...` and current ones `getCurrent...`? This is not about the specific name, it doesn't need to be "saved" or "current" - the point is about the common case needing to be the simpler one. My initial feeling is

[2020-04-10 19:28] aaemnnosttv commented on #1326
IB ✅

We should consider using [`npm-run-all`](https://www.npmjs.com/package/npm-run-all) for better composite command composition as part of this too.

[2020-04-10 21:35] adamsilverstein commented on #1116
@ernee - Regarding the WPML plugin, I did some testing with the latest version of wpml and site kit.  Running with languages in a subdirectory, setup worked fine and was not blocked...

Some things worth noting:

* My site was set up in search console and verified as `{domainname}/default_language` - meaning by default I wouldn't get Search Console data for any other languages. If the user wanted

[2020-04-10 21:39] hadifarnoud commented on #4
many users like me get this issue because their server cannot connect to Google. withgoogle.com blocked Iran IPs and all sites from thoses IPs have no luck.

I do not know how to fix this tbh

[2020-04-10 21:41] adamsilverstein commented on #1116
In my testing WPML no longer has a setup issue. It might be worth noting the search console limitation (noted above) in our FAQ or so people aren't confused. I think we can close this one once we have a follow up issue for the linked support thread item ("the linked support thread talks about a completely different problem, related to how URLs are displayed.").

[2020-04-10 21:50] hadifarnoud commented on #384
can you please allow DNS verification?

[2020-04-10 21:55] felixarntz commented on #1116
Let's follow up separately on the setup issue - the support thread linked above is about displaying incorrect URLs, so it's purely a UI issue. If needed, let's create a separate one for the setup part.

[2020-04-10 21:58] adamsilverstein commented on #1235
That is odd, I wasn't able to reproduce that.

Are both users WordPress admins?

I shared access to my Analytics account with a second user, and then logged in with a separate WordPress user and authorize site kit with that account.

Both users maintained access to the data with their respective accounts.

Once they re-authenticate, do they see the data correctly? Do you have a second personal acc

[2020-04-10 23:57] sviluppomania commented on #1310
@jamesozzie @felixarntz @aaemnnosttv

[2020-04-10 23:57] sviluppomania commented on #1348
@jamesozzie @felixarntz @aaemnnosttv

[2020-04-11 09:55] Pete-Z commented on #1262
I don't have mismatching URLs in WP general settings. Also, if change “WordPress Address (URL)” and “Site Address (URL)” from hppts to http, Google Site Kit will get stuck at "Checking Compatibility".

See video recordings of the errors:

https://www.youtube.com/watch?v=tGJHGStNa3o&feature=youtu.be

https://www.youtube.com/watch?v=09eaF9LN6lE

[2020-04-11 22:49] AlexandreOrlowski opened #1376 "Responsive design - IOS Safari"
Je trouve bien dommage de ne pas avoir intégré les statistiques de Google My Business. Un plus serait que l’extension soit responsive design.
![site-kit](https://user-images.githubusercontent.com/14998252/79056490-6a8f5a00-7c57-11ea-959a-b8afda70dfa9.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

[2020-04-12 16:33] phamquangbaoplus opened #1377 ""Let Site Kit place code on your site" working wrong way"
## Bug Description

1. 404 pages should not have AdSense code
2.
Not needed at all:
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-xxx",enable_page_level_ads:true,tag_partner:"site_kit"});</script>

We only need:

 <script data-ad-client="ca-pub-xxxxx" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

## Steps to reproduce

1. Enable

[2020-04-13 12:34] tofumatt commented on #1014
IB ✅

Looks good and seems complete to me. 👍

[2020-04-13 13:20] adamsilverstein commented on #1235
This type of 'shared data access' is a feature we are considering, for now however each user needs to have access to the google services you set up with their own account.

[2020-04-13 13:45] adamsilverstein commented on #1323
Updated description with one additional resolved issue; followed up with two support tickets that are still open.

For this ticket: https://wordpress.org/support/topic/site-kit-verify-site-ownership-loop/ worth noting that the user's site has a forced redirect from {domain} to www.{domain}. This could break the setup flow if the Home url is  {domain}.

[2020-04-13 15:12] felixarntz commented on #1371
@adamsilverstein Did you move this back from QA to CR on purpose?

[2020-04-13 16:00] tofumatt commented on #1281
WordPress already offers users the ability to all-but-hide its chrome/UI using the "collapse menu" option on desktop screens:

![Screen Recording 2020-04-13 at 16 46 56](https://user-images.githubusercontent.com/90871/79135592-8275f380-7da7-11ea-9041-c53de45363b9.gif)

Actually removing those links entirely—either with CSS or some sort of PHP hook—presents three immediate problems to me:

### Frag

[2020-04-13 16:03] felixarntz opened #1378 "Decouple Tag Manager module from Analytics module"
## Feature Description

Currently it is required to set up Analytics before setting up Tag Manager, which feels off. While Tag Manager can be used for Analytics, it can also be used for many other things unrelated to Analytics.

The two modules should be decoupled, and the plugin should account for the choices the user makes to e.g. prevent Analytics from being set up via both modules at the same

[2020-04-13 16:26] felixarntz commented on #1281
@tofumatt This feature is not intended to be used directly in Site Kit, we would never hide WordPress UI like that anywhere. There are however integrations with other platforms for which we'll need this to provide a solid user flow.

[2020-04-13 17:49] felixarntz opened #1380 "Remove Analytics module as requirement for Tag Manager module"
## Feature Description

It should not be mandatory for the Analytics module to be set up before being able to set up the Tag Manager module.

**PR for this should be opened against `feature/ga-gtm-separation`.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Tag Manager should no longer have the Analy

[2020-04-13 18:16] adamsilverstein commented on #1116
Looking at the code, in the plugin displays full URLS when displaying the "Top content over the last 28 days" on the WordPress Dashboard, and for the "Most popular content" List on the Site Kit Dashboard.

These data points come from the Analytics API, which returns paths (not full urls). The  plugin constructs the url to display by appending the item path to the site URL:

https://github.com/goog

[2020-04-13 18:25] tofumatt commented on #1174
Code is reviewed and approved; assigning for merge 🙂

[2020-04-13 18:29] tofumatt commented on #1281
Noted! In that case; I've updated the IB and mentioned the PR that already handles this issue. 👍

[2020-04-13 18:35] felixarntz opened #1381 "Modify Tag Manager module setup with Analytics guidance"
## Feature Description

If the Tag Manager container a user selects includes an Analytics tag, the user should be guided to deal with that properly.

**PR for this should be opened against `feature/ga-gtm-separation`.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

When the user selects a GTM container

[2020-04-13 18:55] felixarntz opened #1382 "Modify Analytics module setup with Tag Manager guidance"
## Feature Description

The Analytics module setup should make appropriate recommendations regarding Tag Manager usage.

**PR for this should be opened against `feature/ga-gtm-separation`.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The GA module should behave a little differently based on whether

[2020-04-13 18:58] felixarntz opened #1383 "Inform about Tag Manager option in Analytics setup"
## Feature Description

Follow-up to #1382: While that issue handles the mandatory requirements, we should also generally inform users that set up Analytics about the opportunity to leverage Tag Manager, if they aren't already doing that.

**PR for this should be opened against `feature/ga-gtm-separation`.**

---------------

_Do not alter or remove anything below. The following sections will be m

[2020-04-13 19:16] felixarntz commented on #1116
IB ✅

@adamsilverstein Would the URLs ever _not_ start with the path that's actually part of the site? E.g. site URL is `https://example.com/blog`, and the path to display as URL is `/something-other-than-blog/something`. Probably we can ignore that case, shouldn't make a difference, but it's something to consider.

Also this needs an estimate.

[2020-04-13 19:31] ryanwelcher commented on #1280
In my working PR, I have added/updated tests for the functions that ultimately handle the output of the percentage and they are behaving correctly.

As such, I believe that this is a data issue that may be similar to #1202. When I compare the data  in Site Kit with the UI, the only percentage that is incorrect is for Users:

![1280-compare](https://user-images.githubusercontent.com/1259027/7915242

[2020-04-13 19:35] tofumatt commented on #1180
For folks looking at this issue, thinking it's been solved by #1222/#1344: not quite 🙂.

That issue was about ensuring vendor chunks (eg. packages from `node_modules/`) were shared between entrypoints. But this one is about establishing places we can leverage <Suspense> to only load certain bits of code on-demand.

A good place to start might be the Settings page—each "module" (AdSense, Analytics,

[2020-04-13 19:39] tofumatt commented on #1180
Pushing this one through because I think it's a good first issue to tackle, assuming there aren't any gotchas in the code that loads these pages…

[2020-04-13 19:42] felixarntz opened #1385 "Implement `modules/tagmanager` datastore with setup/settings-related capabilities"
## Feature Description

The 3rd module to refactor the setup and settings panels is Tag Manager. This is the first part of that - we'll need a datastore with the relevant selectors and actions.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Introduce datastore `modules/tagmanager` that is registered o

[2020-04-13 19:44] tofumatt commented on #860
Moving this through to IB Review because I think it will make a good first issue to familiarise a developer with the codebase.

[2020-04-13 19:49] felixarntz opened #1386 "Split Tag Manager setup/settings into different components using datastore"
## Feature Description

Similar to #1101 and #1014, this issue is about refactoring the Tag Manager setup/settings implementation to use distinct components, smaller standalone sub-components, all using the `modules/tagmanager` datastores (and other datastores as necessary).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2020-04-13 20:05] felixarntz commented on #1280
@ryanwelcher I think the percentage for "Users" is indeed related to #1202 not covering that part - see https://github.com/google/site-kit-wp/pull/1277/files#diff-e44d069f62420f6d21b8b9f50383e354L68 where the percentage still comes from the old API request. @adamsilverstein Could you open a PR against this issue here that ensures the percentage is calculated from your new `ga:users` API call as we

[2020-04-13 20:07] felixarntz commented on #1375
Per our conversation earlier, let's not introduce `getSavedSettings` and `getSaved{SettingSlug}` selectors.

[2020-04-13 20:16] felixarntz commented on #860
@tofumatt

This is _very_ high-level - could you add a bit more info on it?

[2020-04-13 21:10] tofumatt commented on #860
Fair enough! In the case of that method it should actually work fine as `componentDidMount` instead of `componentWillMount`, and I don't see any other unsafe/deprecated methods in our own code base, so that should be enough for the non-optional parts of the AC/IB 😄

[2020-04-13 21:42] adamsilverstein commented on #1371
Not intentionally, I'm not sure how that happened. Moving back.

[2020-04-13 22:05] HugoNebreda commented on #276
Please add support for WordPress MultiSite.
Thank you

[2020-04-13 22:26] adamsilverstein commented on #1116
@felixarntz - Fair point - I'm not certain.

Perhaps we should take a step back and consider **showing only the paths in these tables**? That is what I see in the Analytics UI so I am not sure why we show full URLs in Site Kit.  From a UX perspective, I feel like the site URL is extraneous information that doesn't help the user.

What do you think?

One other option: we could also use the [ga:host

[2020-04-13 22:33] felixarntz commented on #1323
@ernee @jamesozzie Could you create a separate issue for the "loading chunk 0 failed" JS error specifically? The verification loop bug should be fixed shortly.

[2020-04-13 22:43] felixarntz commented on #1371
@adamsilverstein Happened to me earlier on another one as well. Seems to be a strange side effect if you attach a PR to an issue after the PR was already merged.

[2020-04-13 22:45] felixarntz commented on #1116
@adamsilverstein I like these ideas. Let's talk through it with @marrrmarrr

[2020-04-14 03:54] felixarntz commented on #1288
@tofumatt While #1375 reduces the boilerplate significantly, I think there's still quite a bit involved. There's also still quite a bit involved especially to stick to our naming conventions. One advantage of using metaprogramming that we initially identified was that we'd no longer need to manually review "does this use the proper `fetch...` prefix like it should because it's internal" etc.

I op

[2020-04-14 08:46] jamesozzie commented on #1348
@ghost The team will be going through the list of suggestions and feature requests in time. We can keep you posted here once we have any further updates.

[2020-04-14 09:09] aaemnnosttv commented on #1255
That's not really the case though since the Admin bar is only displayed if the modules inside have data. As such the only E2E tests we have related to the admin bar are in Analytics and Search Console module tests respectively.

[2020-04-14 09:18] aaemnnosttv commented on #860
IB ✅

[2020-04-14 09:24] aaemnnosttv commented on #1180
@tofumatt

I'm not sure this is possible given the current architecture. Modules hook into the settings app in their index modules. Maybe we could cut down on the bundle sizes by hooking in the module wrapped in `Suspense` as you're referring to, but the module's index module still needs to be loaded early for hooks to be registered. For this reason, I'm not sure that using suspense for these comp

[2020-04-14 09:48] GPurdue commented on #6
Hi there, just another agency that would need to set this up on 50+ clients sites and then have to get each client to create a Google Analytics account, grant them access to their analytics and then get them to sign into the Site Kit on their site with their analytics account.

I would prefer a role checkbox that would allow me to allow any other admin users to see the analytics without the need f

[2020-04-14 10:06] aaemnnosttv commented on #1032
FWIW WordPress core makes the same distinction in its [`package.json`](https://github.com/WordPress/wordpress-develop/blob/master/package.json) as well.

Another important difference that @tofumatt and I discussed recently is to better inform the severity of a detected security vulnerability. An XSS vulnerability in a dev/build dependency is a non-issue, where it is very important if it affects so

[2020-04-14 10:07] jamesozzie commented on #1376
@AlexandreOrlowski Many thanks for your suggestion. There is an existing open feature request in relation to My Business integration, #776.

In relation to the responsive issue you reported what device are you using? If you're using an online or browser emulator it may not reflect fully the responsive elements.

[2020-04-14 10:25] aaemnnosttv commented on #384
@hadifarnoud - Your site can use any supported method for site verification but you would have to do that manually. For users who are not yet verified for their site, Site Kit facilitates the verification process using the HTML file and meta tag methods. If your user is already verified for your site using another method, Site Kit will proceed through the set up without additional steps for the ve

[2020-04-14 11:10] tofumatt commented on #1180
Sounds like exactly the sort of gotcha I figured we might run into.

The file sizes on the entry points are already way down thanks to vendoring. I wonder if it’s best to leave this issue alone until the removal of the old WP hook API usage. I think it is.

[2020-04-14 12:24] tofumatt commented on #1296
I would prefer it explicitly say "Not set" rather than displaying an empty string. I think it makes things clearer, more consistent, and doesn't have the potential to look like a bug. But we can discuss that in the PR or later; the basis of this is IB ✅

[2020-04-14 12:25] tofumatt commented on #1032
IB ✅

[2020-04-14 12:28] tofumatt commented on #1180
(Should we close this issue or mark it blocked by the JSR epic or something like that?)

[2020-04-14 13:31] tofumatt commented on #1323
I've created several test sites, with all of these plugins installed (aside from Elementor Pro), and haven't been able to replicate this chunk error.

I made sure to use the dashboard to start setup, rather than the "start setup" button directly from the plugins page.

For what it's worth: this was happening before 1.7 so it doesn't seem like #1344 was the cause of this.

But I'm unable to reprodu

[2020-04-14 14:15] jamesozzie commented on #1323
@tofumatt For the [original support topic](https://wordpress.org/support/topic/connection-loop/) the fix Felix applied on the proxy seems to have resolved this issue. I'll create separate issue for the JS related error.

We're awaiting confirmation from 2 other impacted users mentioned in this thread, suggesting they reattempt setup.

[2020-04-14 14:27] AlexandreOrlowski commented on #1376
iPhone SE

[2020-04-14 14:55] adamsilverstein commented on #1280
@ryanwelcher Thanks for looking into this. As you discovered, the issue here is with the data we are getting rather than the calculation itself.

Do you see the same percentage changes for all fields when you increase the time period to 28 or 90 days? The issue with the queries is more apparent then. I think I was seeing other changes listed incorrectly as well.

In #1202 I discovered that the que

[2020-04-14 15:05] tofumatt commented on #1288
That's a nice API, and I think it abstracts away a lot of boilerplate code well. If anything, things like `isDoingGetProfiles` could be abstracted away by default as well.

The concern here is that, after #1375 is merged and we use generator actions to set up fetch/async control flow and yield actions, this meta-programming approach provides no way to override what we'd declare as the "default" ap

[2020-04-14 15:26] felixarntz commented on #1288
The overarching flow of try catch with start, main task, finish would barely ever change. If an action needs to perform additional work based on the response, that would certainly be possible with the current implementation (already happens in the demo): that extra work would need to happen in the public selector, which can do that based on the `response`.

I'd prefer to avoid that mainly because

[2020-04-14 15:47] felixarntz commented on #1255
That's true, but whether the admin bar is displayed or not is determined in PHP. What we need to test here for AMP is entirely module-independent, we need to test whether the admin bar menu opens on hover as expected and shows Site Kit UI - we could add an e2e PHP plugin to force it to be active.

[2020-04-14 16:09] jamesozzie opened #1391 "JavaScript error: Loading chunk 0 failed"
## Bug Description

Some users continue to experience errors in some places when using Site Kit, particularly around the splash/setup screen which prevents them from using the plugin.

E.g.
[code]

The error indicates a chunk loading failure, which is an on-demand loading of a React component or JavaScript partial.

These were added as part of the original design of the plugin but no longer offer

[2020-04-14 18:32] aaemnnosttv commented on #1255
Good point.

We actually [already have one](https://github.com/google/site-kit-wp/blob/d0c0d9dc0f89e8516d17eb8b78d600a1780130ac/tests/e2e/plugins/admin-bar-visibility.php) 😄

To your point, for tests which are specific to AMP compatibility and not related to any other tests, I think it would be fine to put these in an `amp` directory of some kind.

IB updated to include other details per our discu

[2020-04-14 18:45] felixarntz commented on #1255
IB ✅

[2020-04-14 19:58] tofumatt commented on #820
Try as I might, I can't get `wp i18n make-pot dist --ignore-domain google-site-kit.pot` to run using https://10up.github.io/wp-local-docker-docs/. I get this trace:

[code]

Latest `develop`, recent WP version with all composer dependencies installed, etc.

So I was about to write an IB here—as the fix seems mostly straightforward: update our ESLint rules to use a new version with the fix mentione

[2020-04-14 20:04] swissspidy commented on #820
@tofumatt disabling xdebug helps 🙂

Correct.

Pretty sure they are still existent. Note that the new version of the ESLint plugin hasn't been published yet (likely happens this week). Once that is released, this becomes super easy.

[2020-04-14 20:09] swissspidy commented on #820
Current WP-CLI output:

[code]

So yes, still relevant.

Let's just wait for the ESLint plugin release to fix this 🙂

[2020-04-14 20:14] tofumatt commented on #1301
Most of these functions are helper functions that will map to the store directly. I realised that the registration of an _actual_ widget will require storing references to the component/function that renders the widget outside of the datastore—because it's an actual function that can't be serialised to JSON. But I think that should happen inside the store and not on the `googlesitekit.widgets` obj

[2020-04-14 20:34] ernee commented on #1391
Other users experienced similar errors before this, and some resolved it in different ways:
https://wordpress.org/support/topic/error-plugin-help/
https://wordpress.org/support/topic/loading-chunk-0-failed/ (disabled security plugin firewall)
https://wordpress.org/support/topic/site-kit-encountered-an-error-2/ (used workaround to reset proxy)

[2020-04-14 20:37] tofumatt commented on #1301
As mentioned in #1300: I don't think we should be developing these features in a long-running feature branch like we did for #1101, but let's leave the discussion of that in #1300 since I brought it up there first 😄

[2020-04-14 21:31] felixarntz commented on #1300
@tofumatt

When you say "JS objects" do you mean any objects, or are you referring to specifically classes, component functions etc? This should be added to the #1298 IB then since it's most relevant from there. Regarding keying values outside the datastore, we should be able to only use `slug` since that's the only thing identifying the widget. The data for the same widget in another area wouldn'

[2020-04-14 21:33] felixarntz opened #1392 "Migrate plugin dashboard to use Widgets API infrastructure"
## Feature Description

After #1300, we should start using the Widgets API. Note that with the changes below we'll break all these screens by making them empty (there won't be any widgets initially).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The existing components for dashboard screen and the da

[2020-04-14 21:41] tofumatt commented on #820
Oops, sorry, I am quite rusty with PHP and the implications of XDebug. Thanks! 😅

Sounds good, thanks for the reply 🙂. Once that's out we can revisit this, I like "easy" 😄 👍

[2020-04-14 21:41] felixarntz commented on #1300
The below comments were originally made in issue description by @tofumatt:

### Refactoring

I think the request to change several pages to use this new API as part of this issue might make things a bit too large to track in this issue. Maybe we should start with a _single_ page, or separate out that bit from this issue.

### Widget Registration

Since we won't actually have these widgets availabl

[2020-04-14 21:42] felixarntz commented on #1298
@tofumatt I removed the feature branch bit from this one too.

[2020-04-14 21:55] felixarntz commented on #1301
@tofumatt

Agreed. The `googlesitekit.widgets` wrappers shouldn't do anything but call the underlying datastore actions/selectors. I agree with your other comment regarding different arguments from the datastore being confusing. So let's keep them entirely the same and not do anything differently. In other words, all the functions on `googlesitekit.widgets` should _only_ call the datastore functio

[2020-04-15 09:52] aaemnnosttv commented on #1296
@tofumatt I agree, but that can be a discussion for another issue as you said 👍

[2020-04-15 13:29] ryanwelcher commented on #1280
@adamsilverstein @felixarntz I just did a comparison of the ranges in Site Kit locally vs Analytics Dashboard. Taking into account that the percentage for Users is already known as incorrect, the only other range that was incorrect was 90 days.

**7-Days**
![7-days](https://user-images.githubusercontent.com/1259027/79341850-6898f580-7efa-11ea-9c1b-4a79eacb92af.png)

**14-days**
![14-days](https://

[2020-04-15 13:42] adamsilverstein commented on #1280
@ryanwelcher Probably worth checking the dates again, it is possible something is off, although I have looked at them carefully several times.

I suspect you will find the issue has to do with how the numbers are returned from our query due to the date dimension in our query. We probably need to add a similar query that doesn't include this dimension or expand the query I added to fix the user cou

[2020-04-15 14:58] jamesozzie commented on #1376
@AlexandreOrlowski I'm unable to reproduce the same issue from my side, see below. The issue may be specific to your phone or mobile browser used. The plugin does follow responsive design best practices and you can check all CSS used by browsing through the plugin files.

![image](https://user-images.githubusercontent.com/41326532/79352274-8766ae80-7f31-11ea-82f1-cf936f02dfe0.png)

I'll confirm wi

[2020-04-15 15:07] jamesozzie commented on #1377
@phamquangbaoplus Does the theme you are using provide standard 404 templates using the same structure as are other content types? If so then the AdSense code will be placed on your site, whether ads appear or not, using the default Auto code placements.

Are you looking to not place ads on your 404 URLs? If so the [AdSense Support Center](AdSense Support Center) should be able to assist with prod

[2020-04-15 15:23] AlexandreOrlowski commented on #1376
An other view on iPhone X with the latest version of Safari.

![Uploading iphone-x.PNG…]()

[2020-04-15 15:50] felixarntz commented on #1288
@tofumatt I wrote a new IB here that is ready for your review now (also see my comments above).

What do you think about the names `apiCallback` and `receiveCallback`? I was wondering whether we should call them `controlCallback` and `reducerCallback` instead? Not sure whether it's more clear by staying generic or using datastore terminology.

[2020-04-15 17:25] aaemnnosttv commented on #1233
The error they're seeing is correct. There is no `GET` route defined for the batch `data` endpoint, it's `POST` only.

The only way I can think that this would be possible for some, and not others would be a redirect; perhaps `http` -> `https` as redirects all become GET requests. I can reproduce this but I don't see anything from installed plugins, etc that might be responsible.

@felixarntz I su

[2020-04-15 19:10] aaemnnosttv commented on #1347
The plugin does not fully support a headless setup at the moment.

The site verification step in particular that Site Kit helps facilitate, will not work in a headless setup be cause it relies on WordPress serving the request so it can render the necessary HTML file or meta tag.

As for Site Verification specifically, this can be done manually, without using Site Kit at all (e.g. DNS, or by manual

[2020-04-15 19:53] aaemnnosttv commented on #1363
After signing up for a site and seeing this for myself I found that the error message is this:
[code]
The request wasn't made with any proxy configuration so it seemed to be set at the environment level.

Then I saw this under **Settings > Server To Server**

![image](https://user-images.githubusercontent.com/1621608/79381641-f3b1d400-7f6a-11ea-8ba5-694d379e69c9.png)

This shows that WP can only m

[2020-04-15 20:47] aaemnnosttv commented on #1262
The plugin needs to be able to connect to `https://sitekit.withgoogle.com`.

This can be checked with wp-cli using the following command:

[code]

If you don't have wp-cli, you could also test with `curl` but it might not be exactly the same as the way WP connects:

[code]

Alternatively, the [Log HTTP Requests](https://wordpress.org/plugins/log-http-requests/) plugin could be used to inspect the

[2020-04-15 21:14] tofumatt commented on #1288
On naming: I prefer `controlCallback` and `reducerCallback`, but they probably shouldn't even be named `callback`; they're function arguments, but callbacks imply—to me—that the code is run once something else is complete. That isn't the case here—the apiCallback is simply _the_ control function. I'd say we go with `control` and `reducer`; that's what they are, and it keeps things clear and using

[2020-04-15 21:22] tofumatt commented on #1288
This is all looking good, and the explanations here clarify things 👍

There's one thing I'm not quite clear on from the IB:

I _think_ what this is saying is that every function here returns a value that is stored in the `params` argument passed to `control` ("`apiCallback`") and `reducer` ("`receiveCallback`"). Its key is the key provided to the `keyParams` attribute.

If that's correct, it's a g

[2020-04-15 21:53] tofumatt commented on #585
Code review is ✅, assigning to merge 😄

[2020-04-15 22:03] felixarntz commented on #1288
@tofumatt Regarding the name, using names that include `control` and `reducer` makes sense to me, however I think it should have an affix of some sort because the function to specify is not actually _the_ control or reducer. For the reducer it's only the function that handles that specific case in the switch, for the control it is basically the entire function, but parameters are simplified to hav

[2020-04-15 22:14] felixarntz commented on #1288
@tofumatt

Yes, that's correct. The `params` value is passed to the control callback, and it is also used to generate the key for the `isFetching` flag, so it is used e.g. in the `isFetching` selector too.

That would work too, and I like the idea, especially for more complex cases (e.g. validation of one argument depends on another argument). However, writing a function for this is also a bit mor

[2020-04-15 22:17] felixarntz commented on #1288
I've updated the IB with the above suggestion to support `keyParams` as an object and a function, plus use `controlCallback` and `reducerCallback`. Maybe there's a better affix than `Callback`, but I wouldn't wanna go without one entirely for the above reasons.

[2020-04-15 22:30] claudiulodro commented on #1275
As a data point, we've had at least one publisher notice this issue and ask about it.

[2020-04-15 23:56] felixarntz commented on #1213
Let's wait with QA on this until everything from #1210 is done - it will only be testable altogether.

[2020-04-16 05:21] cole10up commented on #1332
**Tested**

Setup latest 1.8.0 develop with Adsense

[google-site-kit.v1.7.0.develop@e33eb9397e.zip](https://github.com/google/site-kit-wp/files/4485031/google-site-kit.v1.7.0.develop%40e33eb9397e.zip)

Noticed initially that Adsense was being blocked by ad blocker on the domain and browser I was using. Tried multiple other browsers and after clearing cache, it resolved the issue.

![image](https:

[2020-04-16 05:24] cole10up commented on #1247
Testing notes added in the main ticket here: https://github.com/google/site-kit-wp/issues/1332

[2020-04-16 05:28] cole10up commented on #1174
**Tested**

Installed latest develop SK and connected all modules. Confirmed functionality. Removed all modules. Disconnected SK and uninstalled SK, re-installed and confirmed setup.

No issues to note. Passed QA ✅

[2020-04-16 07:33] aaemnnosttv commented on #1325
Based on the error message, it seems that this can be caused by circular dependencies. If that were the cause though, I would expect it to affect everyone.

@jamesozzie it shows the user has Hummingbird Cache installed, which could be causing a problem, depending on how it is configured. Have we asked them to try with all plugins disabled and using a core theme?

I would also be interested to know

[2020-04-16 08:06] aaemnnosttv commented on #1282
@felixarntz can you look into this on the proxy side? I wonder if you can see what the actual response is for this user when the auth token is fetched? It seems that this is where the failure is happening. Their domain is `https://tap.org.tr/.

[2020-04-16 09:53] swissspidy commented on #780
Fixed by #1337 (leet!)

[2020-04-16 09:53] #780 closed

[2020-04-16 09:55] kaelhoel commented on #1348
It would be an absolutely fantastic addition to the Google Site Kit. Please consider adding reCaptcha to the package. :)

[2020-04-16 09:57] swissspidy commented on #820
@tofumatt FYI version 5.0.1 of the `@wordpress/eslint-plugin` is now avaialble 🎉

The i18n ruleset is already included in the currently used `@wordpress/eslint-plugin/recommended-with-formatting` ruleset, so there shouldn't be much to do besides updating the package (and fixing issues).

One thing:

The `@wordpress/i18n-text-domain` rules one needs a config like so:

[code]

[2020-04-16 10:57] alexkangelov opened #1393 "Fatal error on line 97"
## Bug Description

I downloaded Google site kit for wordpress but when I click activate I get this message.

Plugin could not be activated because it triggered a fatal error.

Fatal error: Can't use function return value in write context in /home/nulainfo/public_html/vitaburgas.com/wordpress/wp-content/plugins/google-site-kit/google-site-kit.php on line 97

[2020-04-16 11:16] jamesozzie commented on #1393
@alexkangelov Thanks for reporting. We have moved Site Kit support to the WordPress support forum. You can open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we can assist.

Please include your [Site Health information](https://i.imgur.com/Rtkmsba.png) so we can determine your environment setup, including your PHP version.

[2020-04-16 11:16] #1393 closed

[2020-04-16 11:46] tofumatt commented on #1375
QA, moving to approval ✅

[2020-04-16 12:06] tofumatt commented on #1332
QA from me also; moving to approval ✅

[2020-04-16 12:10] sviluppomania commented on #1310
News?
@jamesozzie
@felixarntz
@aaemnnosttv

[2020-04-16 12:11] sviluppomania commented on #1348
@jamesozzie Thank you! Please tag my new account for updates.

[2020-04-16 12:21] tofumatt commented on #1247
I don't see the `assets/js/modules/adsense/datastore` in question in `develop` and got a bit confused because the `adsense-setup-refactoring` branch that code was merged into wasn't mentioned in the IB.

Checked out `adsense-setup-refactoring` and the code and tests are there; working as-expected.

QA ✅from engineering, moving to approval.

[2020-04-16 12:26] ryanwelcher opened #1394 "Analytics chart showing incorrect data/dates for Users"
## Bug Description

On the Analytics chart, the user count displayed when viewing a single date is actually showing data for the following day.

Additionally, the previous month is showing the same date as the selected range but the data is correct.

The label displayed that represents the previous range doesn't accurately reflect what is actually being seen. Instead of displaying `Previous Month`

[2020-04-16 13:26] tofumatt commented on #1174
QA ✅from engineering as well. Moved to approval.

[2020-04-16 14:22] ernee commented on #1352
Closing in favor of #1323 and that most users have reported the issue fixed after a resolution on the proxy.

[2020-04-16 14:22] #1352 closed

[2020-04-16 14:41] jamesozzie commented on #1363
@aaemnnosttv I'll get in contact, thanks for following up.

[2020-04-16 15:14] aaemnnosttv commented on #1394
@marrrmarrr let me know if you would prefer anything differently on this one regarding the ACs, or if this sounds good to you.

[2020-04-16 16:36] tofumatt commented on #1212
Whoops, saw @aaemnnosttv previously QA'd this one and likely has more context, so unassigning myself and assigning him 😅

[2020-04-16 18:16] felixarntz commented on #1282
@aaemnnosttv I already looked at this a few weeks ago. I found a single occurrence on the proxy (edge-case for this to be ever hit) where it would have provided a non-JSON response. That instance has since been fixed, but even that would not have been reached for that user.

I have no clue on how this is happening, we may have to continue to work with that user to dig down to the issue. cc @ernee

[2020-04-16 18:20] aaemnnosttv commented on #1288
@felixarntz @tofumatt

I've spent some time looking this over and it makes a lot more sense to me now. When I first saw it, it was a bit difficult to grasp how the different pieces worked together. It's more clear now but I think there's still room for improvement.

Some of my feedback is purely semantic, but I do have some thoughts on the design itself as well.

First of all, I want to echo the i

[2020-04-16 20:07] felixarntz commented on #1288
@aaemnnosttv

I just talked over this with @tofumatt again, and while we both agree that `*Callback` is unconvential, it still feels most suitable here, for lack of a better term. Having the name _end_ in `Control` or `Reducer` makes it seem like these are a control/reducer, but they are not - they are functions called within these.

I'm not strongly opposed to this idea, however there was a reaso

[2020-04-16 22:42] tofumatt commented on #1288
I've read this over and the difference in approach seems to be around the most concise API versus flexibility. @aaemnnosttv's most recent comment (https://github.com/google/site-kit-wp/issues/1288#issuecomment-614817918) contains ideas that strike a good balance of helping us write a lot less code but don't box us into APIs that are difficult to grow/narrow down in the future.

Having utilities th

[2020-04-17 08:38] jamesozzie commented on #1325
Safe to close this one, user is now successfully setup. Thanks for the tips @aaemnnosttv

[2020-04-17 08:38] #1325 closed

[2020-04-17 10:45] jamesozzie opened #1397 "Allow changing the site name on authentication service"
## Bug Description
Users are presently unable to modify the name listed under "Manage Sites" >

![image](https://user-images.githubusercontent.com/41326532/79560329-53a99700-809f-11ea-9ba4-f3578d518bc5.png)

![image](https://user-images.githubusercontent.com/41326532/79560489-9b302300-809f-11ea-8199-d0ceb01d15c5.png)

The initial "Site Name" is also used after the following:
1. Revoking access (vi

[2020-04-17 11:27] jamesozzie opened #1398 "Errors after clearing account permissions: Unknown Error (code: Invalid parameter: 'code')"
## Bug Description

After clearing account permissions errors appear in Site Kit dashboard access, and after re-authentication.

Possibly plugin related or non issue related to environment. Only encounters on one site at present, will try to reproduce once more.

## Steps to reproduce

1. Clear account permissions via https://myaccount.google.com/permissions?pli=1
2. Visiting existing Site Kit das

[2020-04-17 11:49] aaemnnosttv commented on #1397
@jamesozzie this name should be updated automatically now any time their Site URLs change:

![image](https://user-images.githubusercontent.com/1621608/79565648-caec2480-80b9-11ea-90c6-7bccc3634fbb.png)

@felixarntz perhaps we should extend this functionality to include changes to the Site Title as well?

[2020-04-17 15:30] aaemnnosttv commented on #1361
@felixarntz I think this one can be closed now that #1387 has been merged.

[2020-04-17 16:42] tofumatt opened #1400 "Create a "combineStores" utility function to combine stores"
## Feature Description

Currently, we create "combined" stores like this: https://github.com/google/site-kit-wp/blob/507e81f4af2b52e77db6a71710777d5ea086302b/assets/js/googlesitekit/modules/create-module-store.js#L59

But that's a bit verbose and makes combining multiple stores together a bit annoying. We should create a utility that combines stores—even ones that lack certain keys.

-------------

[2020-04-17 17:08] ryanwelcher opened #1401 "Remove periods from Analytics settings view"
## Feature Description
Remove any periods in sentences that appear in the Analytics settings panel.

Related: #585

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Single sentences in module settings view copy should not end in periods (e.g. "IP addresses are being anonymized" instead of "IP addresses a

[2020-04-17 17:24] aaemnnosttv commented on #1401
This is already the case with the upcoming changes (at least the settings view).

![image](https://user-images.githubusercontent.com/1621608/79596499-5df08300-80e9-11ea-80b9-e23aab0cd4a0.png)

The settings edit view has them but it's consistent, so I'm not sure if these should be removed, but I wouldn't be opposed to it for more consistency between views.

Edit view (excluding dropdowns):
![image]

[2020-04-17 18:02] #1361 closed

[2020-04-17 18:06] felixarntz commented on #1401
@aaemnnosttv @ryanwelcher Ah that's a good point. If that is the case, we can probably just close the issue via #1311. I think for the `SettingsEdit` view input descriptions we can keep them because those are less a list of things. Technically they're only one sentence as well, but I'd consider them more of an actual description (plus one has a learn more link, which would be weird without having

[2020-04-17 20:45] felixarntz commented on #1288
@tofumatt @aaemnnosttv Based on our conversation earlier, is the current IB good to proceed?

I'll update the draft PR then. For merging that, it should wait for #1311 to go in first, so we can use `createFetchStore` in there to make sure the current implementation works well for there. As mentioned earlier, doing that will expose potential shortcomings early (before merging this) so we could iter

[2020-04-17 21:17] aaemnnosttv commented on #1288
IB looks good to me ✅

@tofumatt ?

[2020-04-17 23:13] felixarntz opened #1402 "Require only propertyID for Analytics datastore profile functions"
Since the Analytics account ID can be derived from the Analytics property ID, functions in the `modules/analytics` datastore that require both should be modified to only require the `propertyID` get parse the account ID from there.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Public-facing functions

[2020-04-17 23:16] felixarntz opened #1403 "Require only clientID for AdSense datastore functions"
Since the AdSense account ID can be derived from the AdSense client ID, functions in the `modules/adsense` datastore that require both should be modified to only require the `clientID` and parse the account ID from there.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Functions in the `modules/adsense

[2020-04-17 23:20] felixarntz opened #1404 "Auto-select Analytics profile based on property's `defaultProfileId`"
When a user selects an Analytics property in the dropdown (in setup or settings), Site Kit currently auto-selects the first profile found that belongs to the selected property. It should instead look for the profile identified by `defaultProfileId` in the property object and select that one by default. Only if for some (edge-case, possibly even bug) reason no such profile is found, it should fall

[2020-04-18 00:10] felixarntz commented on #1288
@aaemnnosttv @tofumatt Looking at `argsToParams` again, I think it would make sense to maybe not have the function behave like `argsToParams( args )`, but rather `argsToParams( ...args )`. This would allow the function code itself to be more natural to write.

[code]

would become

[code]

I think that's more readable - what do you think?

[2020-04-18 19:31] aaemnnosttv opened #1406 "Batch requests triggered multiple times when certain assets are enqueued"
## Bug Description

Currently, multiple entrypoints include the legacy `dataAPI` in their bundle. This causes its init method to be called multiple times which leads to batch requests hooked on `googlesitekit.moduleLoaded` to be executed once for each time it is hooked.

This bug is technically present in the current release but inactive since affected entrypoints (such as `googlesitekit-api`) are

[2020-04-19 12:23] sviluppomania opened #1408 "[Analytics] Add the ability to enable reports on Demography and Interests for Remarketing and Advertising"
## Feature Description

Currently the Analytics snippet does not allow you to enable / disable important reports such as: Demography and Interests for Remarketing and Advertising.

Useful services, usable with both anonymized and non-anonymized IP.

![image](https://user-images.githubusercontent.com/63558798/79687657-1c76e980-8249-11ea-902d-ad681fc628be.png)

---------------

_Do not alter or remo

[2020-04-19 12:27] sviluppomania commented on #1348
@jamesozzie

Please add to the post above.
![image](https://user-images.githubusercontent.com/63558798/79687755-cd7d8400-8249-11ea-960a-4e2b416447ae.png)

[2020-04-20 07:45] aaemnnosttv commented on #1397
Escalating to execution 👍

[2020-04-20 08:14] aaemnnosttv commented on #1180
Related: https://github.com/google/site-kit-wp/pull/1311#issuecomment-615929968

[2020-04-20 09:26] jamesozzie commented on #1408
@sviluppomania I've added that as a feature request for the team to consider for future releases. Please allow time before you receive a response. Many thanks for the suggestion.

[2020-04-20 11:37] jamesozzie opened #1409 "Blank admin dashboard: Failed to load resource. 404 error"
## Bug Description

One user is unable to view the Site Kit dashboard, with a blank screen appearing upon access. The same blank screen appears when trying to access the settings tab. Console error below:
`failed to load resource the server responded with a status of 404 ()`

In addition to the 404 "Failed to load resource" error the below console error appears:
`WebSocket connection to 'wss://pub

[2020-04-20 11:42] aaemnnosttv commented on #1275
IB ✅

[2020-04-20 13:48] adamsilverstein commented on #1099
Related docs on xAxis config: https://developers.google.com/chart/interactive/docs/customizing_axes - currently we do not specify any options here.

[2020-04-20 14:33] jamesozzie commented on #1398
Closing as issue doesn't appear when using incognito or when refreshed. We can reopen or use as reference should this issue occur again.

[2020-04-20 14:33] #1398 closed

[2020-04-20 14:46] adamsilverstein commented on #1099
Investigating this a bit further I determined that we can enforce the labels used for the left hand and right hand end of the x Axis using the minValue and maxValue properties: https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options

eg for a chart for 90 days from 1/20-4/20 we would pass:
[code]
Resulting in a chart that tries to use those values for the left/

[2020-04-20 15:17] felixarntz commented on #1397
IB ✅

[2020-04-20 16:17] felixarntz commented on #1406
IB ✅

[2020-04-20 16:46] tofumatt commented on #1288
I prefer `argsToParams( ...args )` as well—it's a bit more natural. Happy to go with that 👍

[2020-04-20 16:51] tofumatt commented on #1288
Read this over and the IB looks great. Thanks for the back-and-forth on this one.

IB ✅

[2020-04-20 17:35] tofumatt commented on #1403
IB ✅ Sounds good to me—I had a look at the code in the PR as well and that seems solid. 👍

[2020-04-20 17:36] tofumatt commented on #1403
(I'm un-assigning @aaemnnosttv fro this as I assumed we were both assigned to see who got to it first, but this is a straightforward AC/IB/issue. If I'm wrong to do it feel free to assign him back, but otherwise I'll move this to code review as it's already implemented.)

[2020-04-20 19:32] felixarntz commented on #1233
@aaemnnosttv Agreed, the request that is being made there is actually incorrect, and the Site Kit codebase is only making `POST` requests there as expected. _Many_ months ago we were using a `GET` request, but that is not what's happening here (the request had all the data as query parameters), so it's not caused by over-aggressive caching. Potentially the setup is weird blocking `POST` requests a

[2020-04-20 19:32] #1233 closed

[2020-04-20 19:40] felixarntz commented on #1347
@ernee Indeed, headless setups are not supported, specifically because such setups defeat one of the purposes of Site Kit, which is to make Google service integration, tag management etc. seamless. But on a headless site, placing something in the frontend like we do is impossible.

The user can still use Site Kit still for monitoring, and would have to manually place all the tags they need (e.g. A

[2020-04-20 19:40] #1347 closed

[2020-04-21 00:29] tofumatt commented on #1298
Whoops, I sort of misplaced where to put most of the IB, and misread this one as just scaffolding. I'll write up the implementation for these methods here 😅

[2020-04-21 01:13] felixarntz commented on #1298
IB ✅

@tofumatt
I'm not sure about requiring `component` as separate parameter before `settings`. Part of me likes the idea, on the other hand we can just as well make it a requirement to pass `settings` and at least include `settings.component`. The main downside of having `component` separate would be that we may in the future add `settings.component` support to `registerWidgetArea` too, and if

[2020-04-21 01:14] tofumatt commented on #1301
I'm still in-favour of adding the DI variables for testing and flexibility, as I generally don't like us tying code too closely to globals—even though that's what this module aims to do, it's easier to test without having to mock globals, and ensuring the actual public, `global`-attached modules behave as-intended is worthwhile.

For instance, testing and ensuring that all of these modules pass th

[2020-04-21 01:20] felixarntz commented on #1301
@tofumatt IB looks good to me, however let's combine the `area` and `areas`, and the `context` and `contexts` arguments into one respectively. We're doing the same for `assignWidgetArea` and `assignWidget`, allowing a string or array, so the `registerWidgetArea` and `registerWidget` functions should do that the same way and then just pass through that argument if it is provided.

[2020-04-21 01:30] tofumatt commented on #1301
Ah, good call. I've made the change. I also removed the object arguments in that case, because there aren't one-or-the-other arguments. 👍

[2020-04-21 01:32] tofumatt commented on #1298
That sounds good. Since it was required and so fundamental I figured separating it would be good, but I like the flexibility offered by `settings`. It would even be easy to change that API after it's shipped, so sounds good to keep it in `settings` for now 👍

[2020-04-21 01:36] tofumatt commented on #1403
Looks good; assigning to you for merge. 😄

[2020-04-21 01:54] felixarntz commented on #1301
IB ✅

[2020-04-21 07:04] cole10up commented on #1371
**Tested**

Setup latest develop on hellogoodbye.today, activated Analytics and over a few days confirmed Analytics metrics showed up.

Verified single page metrics in the admin matched details and not total visitors.
![image](https://user-images.githubusercontent.com/57115907/79834568-27716d00-8362-11ea-8448-49c7df8895d4.png)

![image](https://user-images.githubusercontent.com/57115907/79834708-6

[2020-04-21 09:22] aaemnnosttv commented on #1288
@felixarntz

A little delayed here, but that's how I was thinking it would work as well. I just wanted to mention that even if it didn't do that, the params could still be used naturally using array destructuring:

[code]

I think that spreading them into this function is a bit better though. We can always `...args` again in the signature if we wanted to put them back into a single array 👍

[2020-04-21 13:13] jamesozzie opened #1412 "Analytics setup: Error: The response is not a valid JSON response"
## Bug Description

Some users have been encountering issues when connecting the Analytics module, with the error below appearing when clicking on the "Configure Analytics" button
`Error: The response is not a valid JSON response`

![image](https://user-images.githubusercontent.com/41326532/79869330-1748a480-83d9-11ea-8ae6-ef44093e5b24.png)

Console errors:
[code]

Main WordPress support topic to

[2020-04-21 13:35] jamesozzie commented on #1363
Support now provided, `*.withgoogle.com` whitelisted for all users

![image](https://user-images.githubusercontent.com/41326532/79872176-57118b00-83dd-11ea-96cc-4c488deb792a.png)

[2020-04-21 13:35] #1363 closed

[2020-04-21 18:10] felixarntz opened #1415 "Fix AdSense store logic to handle actions correctly"
## Bug Description

The AdSense store was still implemented using old conventions, which itself does not warrant it to be fixed right here, however the old conventions actually were resulting in a problem because some actions had both a control and a reducer, which does not work. See #1361 and #1375 for more information.

---------------

_Do not alter or remove anything below. The following secti

[2020-04-21 19:55] lbonomo commented on #1208
Hi.
I have the same problem, only together WooCommerce.
I see this "warning" when add a "new REST_Route()" with "schema". Example "... 'schema' => $this->get_module_schema()..." in line 583 of file google-site-kit/includes/Core/Modules/Modules.php

[2020-04-21 21:54] tofumatt commented on #1415
All good; assigned to @felixarntz for merge 😄

[2020-04-22 07:14] cole10up commented on #585
**Tested**

Installed latest develop, activated SK and connected Adsense

### Connected scenario:
![image](https://user-images.githubusercontent.com/57115907/79949822-ff017580-842a-11ea-86f3-bbad19b7160b.png)

Confirmed copy:

- Account status copy: "AdSense code is placed on your site"
- Publisher ID copy matched the ID in Google Adsense (pub-9003023971424122)
- Site Status: "Check your site stat

[2020-04-22 08:22] jamesozzie commented on #1412
Possible issue with hosting Web Application Firewall as discovered by @ernee. Awaiting confirmation

[2020-04-22 08:49] aaemnnosttv commented on #585
Good eye @cole10up!

There was a decision made to change this in the PR (https://github.com/google/site-kit-wp/pull/1379#issuecomment-614812737) that didn't get updated in the AC - I'll update this now. No change is necessary here 👍

I'm not sure if this is expected to change in this issue as it's only updating the settings view, not the logic for when that view is shown or not. What you're pointi

[2020-04-22 12:06] aaemnnosttv commented on #1368
@felixarntz this one is ready for your review.

Note there are 2 PRs, one for develop, and another for the analytics refactoring branch which includes the first and removes the error handling we had in place in the datastore for this.

[2020-04-22 15:24] sviluppomania commented on #1408
@felixarntz @aaemnnosttv

[2020-04-22 15:25] sviluppomania commented on #1310
There are news?? @jamesozzie

[2020-04-22 15:26] sviluppomania commented on #1348
There are news?? @jamesozzie

[2020-04-22 16:01] jamesozzie opened #1422 "Analytics dashboard fatal error and services disconnected"
## Bug Description

One user reporting being disconnected from Site Kit randomly today, on 2 different sites. A fatal error message appeared from within the Analytics module, while the _“Analytics/Search Console data not available_” notices also appear

The "Header Footer Code Manager" plugin was used to insert Analytics tracking code into the site. No previous issues on this site.

The below html

[2020-04-22 16:06] felixarntz commented on #585
@aaemnnosttv Yeah, let's handle that separately. It shouldn't block this and will be more straightforward after the module refactoring.

[2020-04-22 16:09] aaemnnosttv commented on #1099
@adamsilverstein `minValue` and `maxValue` seem to require a number but the IB references dates which I assume are strings.

![image](https://user-images.githubusercontent.com/1621608/80005594-776c4300-84cc-11ea-86d6-7fce82996357.png)
https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options

Can you clarify?

[2020-04-22 16:10] aaemnnosttv commented on #361
It doesn't make sense to do this one before #1386 so I'm making this a prerequisite.

[2020-04-22 16:15] felixarntz commented on #820
IB ✅

[2020-04-22 16:15] felixarntz commented on #820
@aaemnnosttv Needs estimate.

[2020-04-22 16:47] adamsilverstein commented on #1099
The type of value depends on the way you have configures the x- axis. In our case, the type here is specified as "date" (https://github.com/google/site-kit-wp/blob/0eacc17f4c2627ad4f7e4ba81d666dbe3058d738/assets/js/modules/analytics/util/index.js#L147) and it is constructed from Date objects (https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/util/index.js#L82-L84).  I

[2020-04-22 17:00] ryanwelcher commented on #1280
I was able to confirm that the dates being requested match the data being returned and displayed. There now seems to be a discrepancy between the Analytics UI Home and Audience overview screens.

For example, the screenshot below shows data from the last 90 days:
<img width="1240" alt="site-kite-analytics-overview-90" src="https://user-images.githubusercontent.com/1259027/80010765-e3cd4f00-8498-11

[2020-04-22 17:03] aaemnnosttv commented on #585
Confirmed that this one is good to go per our group conversation today. Moving to Approval 👍

[2020-04-22 17:03] aaemnnosttv commented on #1368
Ready for another pass @felixarntz 👍

[2020-04-22 17:09] aaemnnosttv commented on #1099
Thanks for clarifying @adamsilverstein

✅ IB

[2020-04-22 17:38] felixarntz commented on #1404
IB ✅

[2020-04-22 17:44] felixarntz commented on #1281
IB ✅

[2020-04-22 18:44] marrrmarrr commented on #1116
Discussed with Felix, SGTM to show only relative URL paths.

[2020-04-22 19:06] adamsilverstein commented on #1280
Very interesting. I confirmed the same for my site. The user percent change number in Site Kit matches what I see on the detail report, but the Analytics Dashboard shows a different number. I am starting to suspect _the number showing in Analytics is incorrect_ or using some hidden calculation approach. Perhaps reaching out to the Analytics team is appropriate at this point to verify how this numb

[2020-04-22 19:27] felixarntz commented on #1116
@adamsilverstein Can you update the IB to account for the decision of showing only paths? Would be good to include where to do it (we have multiple places, like dashboard, Analytics module page, WP dashboard widget).

[2020-04-22 19:32] #1375 closed

[2020-04-22 19:32] #1371 closed

[2020-04-22 19:32] #1174 closed

[2020-04-22 19:32] #585 closed

[2020-04-22 19:42] nedberke opened #1424 "Implement Custom Dimensions for common WP use cases"
## Feature Description

Site Kit inserts the GA tracking code; it would be helpful if it facilitated the creation of custom dimension for common use cases in Wordpress. This includes:
- Author
- Category
- Tags
- "Published on" date

Less common, but useful:
- Post type (custom post types)
- Word count (in ranges)
- Logged in
(Here's a bunch of others that might help in brainstorming sensible opti

[2020-04-22 23:27] felixarntz commented on #1400
IB ✅

Let's have all parts of the object optional including `INITIAL_STATE`.

[2020-04-22 23:30] tofumatt commented on #1300
Sounds good! I think creating new issues for those pages will help keep these future JSR issues from feeling too big 😄

IB updated; mostly just to remove the reference to JS objects (I meant functions/React components, yes 🙂). I added that to the #1298 IB, so removed it here and this should be good to go 👍

[2020-04-23 00:39] tofumatt opened #1426 "Expand `modules/pagespeed-insights` datastore with selector to get performance data"
## Feature Description

Following up on #1500, the `modules/pagespeed-insights` store should have a selector to get a report (via REST API).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new selector `getReport( url : string, strategy : string )`, that fetches its data via the `GET:

[2020-04-23 00:40] ernee opened #1427 "Admin bar integration and W3 Total Cache Minify conflict"
## Bug Description

After 1.7.0, a [user in the forums](https://wordpress.org/support/topic/new-update-breaking-my-site-css-on-admin-side/) reported that Site Kit's admin bar integration and [the minify option](https://jmp.sh/KlYV5gG) in the [W3 Total Cache plugin](https://wordpress.org/plugins/w3-total-cache/) conflict causing display issues in the admin bar integration:
<img width="500" alt="Bro

[2020-04-23 04:23] cole10up commented on #1406
**Tested**

Downloaded SK 1.7.1, installed and activated all modules. Checked console, no errors on dashboard. Confirmed functionality of modules on the dashboard. Unable to reproduce.

![image](https://user-images.githubusercontent.com/57115907/80058817-29146f80-84df-11ea-9ce9-95f07efdb48c.png)

Passed QA ✅

[2020-04-23 07:11] cole10up commented on #1368
**Tested**

Installed 1.7.1 Zip, activated SK and Analytics with a user that doesn't have an analytics account noticed:

![image](https://user-images.githubusercontent.com/57115907/80069710-aa2b3100-84f6-11ea-846f-db232159fd08.png)

Checked edge cases, clicking cancel

![image](https://user-images.githubusercontent.com/57115907/80069723-b4e5c600-84f6-11ea-83ec-ad41d88786eb.png)

Clicking re-fetch

[2020-04-23 07:30] cole10up commented on #1275
**Tested**

Installed and activated latest 1.7.1 zip. Activated Analytics module. And activated AMP plugin in standard mode.

Navigated to a post and clicked validate URL in the admin bar.

Post URL: https://hellogoodbye.today/test-page/

Notice:
![image](https://user-images.githubusercontent.com/57115907/80071094-e5c6fa80-84f8-11ea-8b62-8735cd552760.png)

Created a fresh post, and retested

Post

[2020-04-23 07:44] cole10up commented on #1296
**Tested**

Installed latest 1.7.1 zip. Activated Analytics and Tag manager without an AMP account. Activate AMP in Transitional mode. Noticed:

![image](https://user-images.githubusercontent.com/57115907/80072549-40f9ec80-84fb-11ea-9d89-bab2c5665cf1.png)

Checked Reader mode:
![image](https://user-images.githubusercontent.com/57115907/80072601-52db8f80-84fb-11ea-84b0-5aa3ee8d8408.png)

Confirmed

[2020-04-23 08:42] jamesozzie commented on #1348
@sviluppomania The team will be reviewing all new request requests in time. As soon as there are any updates you will be notified here.

[2020-04-23 09:06] aaemnnosttv commented on #375
✅ IB

[2020-04-23 09:15] jamesozzie commented on #1310
@sviluppomania There are changes to the way the Tag Manager snippet is placed, which you can find out more at #1308. This is scheduled for the next release which is due this week (1.7.1)

While the snippets will not be at the foot Site Kit follows all placement best practices. While you may find conflicting suggestions on placements online the following article explains the correct placement of th

[2020-04-23 09:15] #1310 closed

[2020-04-23 09:22] aaemnnosttv commented on #1372
Assigning this to @felixarntz for merge after the release.

[2020-04-23 10:23] jamesozzie commented on #1427
I did some more testing on this today and while I can recreate the same issues using the WoodMart theme I wasn't able to reproduce this with any other theme I tested.

I was however able to see another conflict that occurs with 3 different sites I tested. With the minify option enabled when hovering over the Site Kit tab the notifications count is output next to the title.

![image](https://user-i

[2020-04-23 13:43] tofumatt commented on #1328
Note that I set this to a 19 estimate factoring in the DOMParser work, but it's probably closer to ~11-12 without it. It probably still warrants a 19 either way as they'll be a lot of testing involved, but just flagged that here 😄

[2020-04-23 14:43] tofumatt commented on #1392
Most of the estimate here is around feature flags, but because we're just registering things here I don't think this issue should take too long. It's closer to 4 than 7, for what it's worth. 😄

[2020-04-23 15:00] felixarntz commented on #1402
IB ✅

@aaemnnosttv What were your thoughts for at which point to parse the account ID? #1405 implements pretty much the same thing for AdSense, so I was curious whether you were thinking about doing it the same way or had another idea.

[2020-04-23 15:08] cole10up commented on #1308
**Tested the fix with @ernee**

Installed SK 1.7.1 zip, activated and connected Tag Manager and inserted Site Kit's container snippet on hellogoodbye.today

Setup a non verified secondary google account and verified from the Search Console account using the Google Tag Manager.

Notice:
![image](https://user-images.githubusercontent.com/57115907/80115474-a076ed00-8539-11ea-8b2b-6c5e44e55c03.png)

P

[2020-04-23 15:11] aaemnnosttv commented on #1402
@felixarntz in some cases (like selectors) we won't need to parse it anymore since the data won't be keyed by that anymore.

I think the general idea is to push it as close to the `control` as possible since our API is the only thing that requires it. Maybe it's best to do it inside the control itself to minimize the amount of parsing needed since requiring them separately there is somewhat of an

[2020-04-23 15:12] felixarntz commented on #1402
@aaemnnosttv Ah okay, that's what I was thinking (and did in #1405) too, so SGTM

[2020-04-23 15:27] sviluppomania commented on #1310
@jamesozzie post # 1308 only talks about Tag Manager, while there are also Adsense and Analytics that cause a drop in performance.

[2020-04-23 15:28] sviluppomania commented on #1348
@jamesozzie Please can you insert screenshots in the first post (top). Thank you.

[2020-04-23 15:29] adamsilverstein commented on #1424
@marrrmarrr This one might be interesting to consider as part of onboarding flow data (which users would want to track these?). We have discussed tracking categories, tags, users before, but I couldn't find an open issue.

[2020-04-23 15:31] aaemnnosttv commented on #1328
@tofumatt I really like the direction here - 👍 from me.

Regarding the larger design here, it seems a bit odd to me that module-specific tag details would be exposed through the `core/site` datastore. To get an existing tag for a module, we would simply `registry.select( MODULE_STORE ).getExistingTag()` which would select `getHTMLforURL` and could do the necessary parsing in its resolver.

There's

[2020-04-23 15:32] aaemnnosttv opened #1429 "Release 1.7.1"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-04-23 15:37] felixarntz commented on #1392
@tofumatt Note this issue _is_ also about modifying the actual dashboard to display widgets (actually no widgets because there won't be any registered yet) - so this will either go against a feature branch or require feature flags to go against `develop`. The first bullet point of the ACs is mostly about that.

[2020-04-23 15:40] felixarntz commented on #1116
@aaemnnosttv I was just including these examples based on where I _thought_ it may be displayed from the top of my head - no need to add it elsewhere :)

[2020-04-23 15:43] tofumatt commented on #1328
Actually, that's a good point. Maybe we don't want to expose that functionality via the core store at all. Having the fetch actions take place and be saved there seems fine, but I've updated the IB to state we don't need a `getExistingTag()` inside the `core/site` store.

[2020-04-23 16:03] felixarntz commented on #1328
@tofumatt

If we plan to deal with this only in the module stores (I like that idea!), then it should continue to be using the parameterless selector `getExistingTag()` we already have right now.

That one should be in `core/site` right? I think that makes most sense because it is generic - it's just not entirely clear from the IB.

Adding on to @aaemnnosttv's suggestions, how about we introduce s

[2020-04-23 16:14] nedberke commented on #1424
What do you mean by "Which users would want to track these?" I imagine anyone who is publishing content would benefit from the breakdowns that this permits.

[2020-04-23 16:18] jamesozzie commented on #1348
@sviluppomania I'm unable to add additional images to original comment, most likely due to permissions. Having said that the full context will be reviewed by the team when considering additional features.

[2020-04-23 16:48] TaisaDesigner commented on #6
I think this should be maybe not default but as an option.

My use case:

I am a web-designer. My customers are quite basic with technology sometimes, and ask them to connect their google account is a big issue for them. Sometimes I even create the Analytics and Search console for them and pass on them later. So I think it would be great to let this connected to their sites somehow and that they d

[2020-04-23 17:02] tofumatt commented on #1385
I've moved this over to IB review but there are a few things I'm not quite clear about and would love clarification on. 😄

There's mention of tweaking the AMP container name here but I'm not clear on how that should be tweaked or what needs changing from the AC/IBs here. Is this something we're already doing and we can reference for the IB?

I'm not clear on what this means from the AC and I've le

[2020-04-23 17:03] ryanwelcher commented on #1099
After implementing the change in the IB, it seems that setting the min/max values doesn't address the issue of the date range being less than that queried range. As the min/max value needs to be set before and after the start and after the end range dates.

In @adamsilverstein example, the dates being passed work but programmatically doing this is proving to be arbitrary as providing the offset nu

[2020-04-23 17:13] felixarntz commented on #1385
@tofumatt We already have support for both a `web` and an `amp` container. Our REST API datapoint for `GET:containers` supports a `usageContext` parameter, which should be either `web` or `amp` or both (and `web` is the default, but here we should pass both). So this is nothing new, what I'm saying here is that we should fire a single request to get _all_ containers and then categorize them on the

[2020-04-23 17:19] ernee commented on #1412
When checking the failed request for this error (403) in the browser console, the following is given by WPMU DEV hosting that their WAF firewall is blocking it and to go to the hosting logs for details:

<img width="500" alt="403 error" src="https://user-images.githubusercontent.com/8108643/80128780-01f38780-854b-11ea-947e-c183c2e1b5c8.png">

<img width="500" alt="403 error instructions " src="htt

[2020-04-23 17:26] tofumatt commented on #1392
That makes sense. I think the IB is pretty clear about usage of feature flags now. Let me know if that's good or if there's something else missing from here, but I think the idea that we set feature flags with something like https://github.com/davolokh/webpack-feature-flags-plugin is clear; actual usage of that will be down to checking if they're true or not in the React component.

[2020-04-23 17:38] felixarntz commented on #1412
@ernee Yeah that sounds like something we cannot address on our end then, so let's close this issue. Maybe worth connecting with WPMU DEV over this issue? What do you think @marrrmarrr?

[2020-04-23 17:39] tofumatt commented on #1328
Whoops, my bad. You're right—I forgot to remove the `moduleSlug` from the IB after I updated it to mention putting these in each module store. Updated! 😄

Yup! That's what I meant but I updated the IB to clarify.

-----

Do you mean adding `getExistingTagURLs()` as a selector? A data store should be used to store application state—which is changeable, non-constant data. In the case of the existing

[2020-04-23 17:46] felixarntz commented on #1392
@tofumatt IB mostly SGTM, including usage of feature flags. So for now the intention would be to have `featureFlags.DashboardWidgetsAPI` and `featureFlags.PageDetailsWidgetsAPI` (or whatever we decide for the name, see below) right?

Maybe `pageDashboard` instead of `pageDetails`? The intention is for it to be very similar to the general dashboard, just for a single page instead. I like including

[2020-04-23 17:51] felixarntz commented on #1328
@tofumatt

I was mentioning it as a utility, I agree it shouldn't be a selector, as well as `extractExistingTag()` should be a utility function. It's similar to the AdSense `determineAccountStatus()` and `determineSiteStatus()`, which are utility functions intended to be used in components alongside datastore hooks, but don't need to be part of the datastore itself, since they only receive argumen

[2020-04-23 18:02] felixarntz commented on #1328
Regarding the IB:
Let's remove the DOMParser parts, we can see if there's a need for this later - for now it's just about refactoring the API to make it testable.

I don't think there's a need for `options`, this selector should be parameter-less. The module knows the URLs to check through (via `getExistingTagURLs()` utility function) as well as the `tagMatchers` regexes to match (defined internal

[2020-04-23 18:14] felixarntz commented on #1385
@tofumatt IB mostly looks good to me, a few comments below:

Maybe add a note here that the resolver though should issue a request with _both_ `amp` and `web` to minimize API requests necessary - this way it will technically "resolve" for both possible values of `usageContext`. Also, note that you have this bullet point twice here, probably accidentally 😄

The setting name is `ampContainerID`, so

[2020-04-23 18:32] #1406 closed

[2020-04-23 18:32] #1368 closed

[2020-04-23 18:32] #1296 closed

[2020-04-23 18:32] #1275 closed

[2020-04-23 18:32] #1308 closed

[2020-04-23 20:23] aaemnnosttv opened #1432 "PHP Tests only run against latest WP"
## Bug Description

Currently, PHP tests only run against the latest version of WP (and trunk/bleeding/nightly). This leaves us vulnerable to breaking something on an older version of WP, only to catch it with our E2E tests which do test with WP 4.7. This has happened before and isn't immediately obvious that the failure is WP version specific.

We should update one job to be testing against the _

[2020-04-23 22:11] adamsilverstein commented on #1424
Possibly, assuming they use these elements. Since this requires adding custom dimensions, we need to make be thoughtful about what is best for users before adding it.

[2020-04-23 22:24] adamsilverstein commented on #1099
Ugh, really?! those showed the axis incorrectly when min/max are set to match the query? I must have been lucky the date i was testing this. I used the actual dates from the query and saw them displayed as the min and max values on the chart.

Thats great if that fixes it - the docs indicate that `pretty` is the default? Can you push a PR with this approach for testing?

[2020-04-23 23:21] #1429 closed

[2020-04-23 23:33] felixarntz commented on #1300
@tofumatt

This should be `googlesitekit.widgets.components` (or internally when writing our own code on `Widgets.components`, where `Widgets` is the object imported from `googlesitekit-widgets`).

name, and slug. It would be provided `context`, `area`, and `slug` as props

So the idea is that the `WidgetRenderer` based on the prop gets the widget data (e.g. inner component) itself based on the re

[2020-04-23 23:36] felixarntz commented on #1280
This issue is now blocked because further exploration is necessary on how Analytics is determining these numbers. I have merged the existing PR because it included useful test coverage, but I'll move this back to ACs, to be defined once we know what is happening here.

[2020-04-23 23:57] felixarntz commented on #1432
Good catch @aaemnnosttv!

IB ✅

[2020-04-24 02:22] dalepgrant opened #1433 "Site Kit encountered an error: Loading chunk 1 failed"
## Bug Description

Possibly related to #1391

On plugin activation, navigating to Site Kit dashboard produces a JS error:

[code]
The "setup" admin notice also disappears. This means if you don't set up the plugin immediately, you can't access the setup again without deactivating/reactivating the plugin.

## Steps to reproduce

1. Install and activate plugin
2. Ignore the set up steps and click '

[2020-04-24 08:16] estraatios commented on #1422
Same problem to me.

A website with 4 admin users. For me, the plugins work normally but for all the other users they get this error.

Also, the plugin is not giving the correct visits. I have it for a month and my website from 10.000 visitors dropped to 2.000.

In the Google analytics the active users were 0. I disable the plugin and add the code directly to the heading. Immediately the active us

[2020-04-24 09:20] aaemnnosttv opened #1434 "Dashboard search input not validated"
## Bug Description

![image](https://user-images.githubusercontent.com/1621608/80126810-262b8480-859c-11ea-9f58-81bb385216d1.png)

Currently the search input on the Site Kit dashboard does not validate the input at all.

It allows the form to be submitted, even with nothing input which raises an error in the console (with no feedback).

## Steps to reproduce

1. Go to Site Kit dashboard
1. Click o

[2020-04-24 09:33] aaemnnosttv opened #1436 "Dialog buttons appear misaligned"
## Feature Description

Currently, all dialog CTA buttons are left-aligned at the bottom. This looks a bit off visually and would be better UX as well if the two were spread apart.

#### Current Dialogs
![image](https://user-images.githubusercontent.com/1621608/80196591-4a33a800-8626-11ea-8cf2-8790c438e569.png)
![image](https://user-images.githubusercontent.com/1621608/80196690-68010d00-8626-11ea-

[2020-04-24 10:13] aaemnnosttv opened #1437 "Dialog buttons show more clearly when browser is unfocused"
## Bug Description

Currently there is an inconsistent styling of the primary button in a modal dialog.

When the browser is unfocused, it appears more clearly (it seems as if this should be how it is by default) than when the page is focused.

## Steps to reproduce

1. Click on the link to Rest Site Kit on the plugin's Admin Settings
1. See dialog appear
1. Note color of primary button
1. Open de

[2020-04-24 11:23] aaemnnosttv commented on #923
Updating this one to be specific to remaining random failures as they no longer _often_ fail, but do 1/3 fail sometimes when they shouldn't and pass on after running again.

[2020-04-24 12:40] marrrmarrr opened #1439 "Display aggregate PSI stats on main dashboard"
## Feature Description

Right now we display PSI stats for only the home page on the main Site Kit dashboard. Let's change this to give an overall view of how the entire site is doing.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* On the main Site Kit dashboard, replace PSI stats for the home page wi

[2020-04-24 12:55] jamesozzie commented on #1422
@estraatios Thanks for the information. Do the other users you mentioned encounter the same message within the Analytics configuration screen? If you could share your [Site Health information](https://i.imgur.com/Rtkmsba.png) we can hopefully identify some common aspects.

If you want to open a support topic in relation to the incorrect Analytics figures we can look into that further if you'd like

[2020-04-24 13:19] ryanwelcher commented on #1099
That's the way it gets rendered with the with `viewWindowMode` explicitly set to `pretty`. I agreed that it looks a bit odd though. The only other way I was able to get the dates to display was by increasing the range, ie `startDate - 5 days`.

[2020-04-24 13:58] ryanwelcher commented on #1099
@adamsilverstein I've added the PR, it does push the ends of the graph out for all ranges. If we decide this isn't the best approach, I have the other approach in separate PR locally.

[2020-04-24 14:05] aaemnnosttv commented on #860
@felixarntz is this an issue we want to include for the upcoming release?

[2020-04-24 15:08] sviluppomania commented on #1348
Hi @kaelhoel , what do you propose to add / improve? So the request takes on more value and is enriched with suggestions.

[2020-04-24 15:13] sviluppomania opened #1441 "Problem with AdSense"
## Bug Description

Hi, the problem is only with Google AdSense, whether it is inserted with SiteKit or manually, without excellent results, Google PageSpeed Insights: 98 (Desktop) and 68 (Mobile).
With other services no performance problems.

How should we reduce this problem while not losing advertising?

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See er

[2020-04-24 17:01] adamsilverstein commented on #1439
@marrrmarrr Digging into this a bit further and testing I discovered an API shortcoming I wasn't aware of previously:

When testing with my personal site passing `origin:{site_url}` I received **no data**. When testing with a popular site url (google.com) I did get data, however this was only the CrUX data provided by the API - (first contentful paint and first input delay). This makes some sense

[2020-04-24 17:06] jamesozzie commented on #1441
@sviluppomania Any AdSense performance queries would be best served using the official AdSense channels, such as the [AdSense Help Center](https://support.google.com/adsense/?hl=en#topic=3373519). As it's not specific to the Site Kit product itself it's not something the Site Kit team can control or dedicate resources towards.

Sorry we can't be of more assistance in this case.

[2020-04-24 19:05] aaemnnosttv opened #1443 "Optimize local env scripts"
## Bug Description

There are a few optimizations and minor fixes we can do to our [`local-env` scripts](https://github.com/google/site-kit-wp/tree/46290f84ed6897f18c094e57949fcddeac7e7587/bin/local-env) used for E2E environment orchestration.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `status_mes

[2020-04-24 21:24] ernee commented on #1433
@dalepgrant much appreciation for your report of this issue. This does sound similar to #1391 which we're investigating. We currently provide support in the plugin's [WordPress Support Forum](https://wordpress.org/support/plugin/google-site-kit/).

Could you open topic there when you can so we can continue to troubleshoot with you as well as keep track of the issue?

[2020-04-24 21:37] #1412 closed

[2020-04-25 01:28] bahia0019 commented on #276
Eager to see this added! Very excited to use this on my networks.

[2020-04-25 04:11] maverick85 opened #1444 "Issue with Site Kit Setup - 404 error"
## Bug Description

Unable to Setup Site Kit;

## Steps to reproduce

1. Install the plugin/reset setup
2. Start Site Kit Setup
3. Proceed to Sign In
4. Select Google Account
5. Allow Access to Site Kit
6. stumble on a 404 page
## Additional Context

 - PHP Version: 7.3.17
 - Browser: Safari & Firefox
 - Plugin Version: latest

WP is installed on a directory `domain.com/wp` but accessible from the

[2020-04-25 14:22] LukaszJaro commented on #785
Related issues:

#1019
#1093

[2020-04-25 16:32] aaemnnosttv opened #1445 "PHP test setup is a poor developer experience"
Currently our PHP tests and supporting scripts yield a bit of a poor experience for new developers.

There are multiple scripts in the repo for installing the tests and there isn't a clear difference as to which script to use.

* [`install-wp-tests.sh`](https://github.com/google/site-kit-wp/blob/46290f84ed6897f18c094e57949fcddeac7e7587/tests/bin/install-wp-tests.sh)
Looks familiar and is based on

[2020-04-26 07:25] digitalsetups opened #1447 "Sitekit doesn't detect App+Web Property"
## Bug Description
While setting up Analytics via SiteKit, it detects only legacy properties and not App+Web ones. In the drop downs, you only see the legacy or old ones. Sitekit doesn't detect App+Web Property while setting up Analytics.

## Steps to reproduce for the First Time
Go to SiteKit -> Analytics -> Choose Analytics Account -> You wouldn't see App+Web Properties in the Property drop down

[2020-04-26 17:19] nakasix opened #1448 "AdSense - Stay on "Locating accounts…""
## Bug Description

The setup of AdSense stay on "Locating accounts…".

The setup of the following modules is correct:
- Search Console
- Analytics
- PageSpeed Insights

## Steps to reproduce

1. Subscribe to Google Adsense (Google Website).
2. Join Google Adsense to Google Analytics (Google Website).
3. Install "Site Kit by Google" on Wordpress.
4. Setup Search Console
5. Setup Analytics
6. Setup

[2020-04-27 03:17] dalepgrant commented on #1433
Sure thing, ticket opened here: https://wordpress.org/support/topic/site-kit-encountered-an-error-loading-chunk-1-failed/

Just as some further info: I now get the same error message after another admin user has setup Site Kit with their credentials successfully. I could deactivate/reactivate the plugin, but them I'm that will disconnect the other admin.

Let me know if I can give any more info.

[2020-04-27 08:21] #1441 closed

[2020-04-27 09:25] aaemnnosttv commented on #1212
## QA ⚠️

One thing concerns me here that I don't has been addressed yet or not, but how does work for users who are not using the proxy?

If this feature is limited to those using the proxy we should make sure it is only shown/available accordingly.

However, is it not possible that someone could have access to this new invite-only API with their own credentials?

---

Nothing technically wrong t

[2020-04-27 11:02] jamesozzie commented on #1444
@maverick85 Thanks for reporting. We have moved Site Kit support to the WordPress support forum. You can open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we can assist. Please add as much relevant information to your support topic as is needed to assist with your issue, such as your [Site Health information](https://i.imgur.com/Rtkmsba.png).

We

[2020-04-27 11:02] #1444 closed

[2020-04-27 13:20] adamsilverstein commented on #1099
Thanks for the careful exploration here @ryanwelcher. I feel like the solutions we explored weren't much of an improvement over (or are worse than) the current version.

Ultimately, this feels like an upstream bug in Google charts or perhaps "expected behavior". Although the dates don't look great currently when displaying a large range (90 days), the data shown is correct, and even the date marki

[2020-04-27 13:26] adamsilverstein commented on #1212
@aaemnnosttv Thanks for the feedback, a few answers inline:

Using this feature currently requires the proxy.

very unlikely - the GCP App the user is using must be whitelisted and this is a manual process. This feature is intended for large scale integrations like site kit, not for individual users.

Will do, thanks for pointing this out.

I will give that a try.

[2020-04-27 14:32] jamesozzie commented on #1409
Issue most likely as a result of mixed content on site, with some resources loaded over http.

After installing a suggested mixed content fixer plugin setup completed successfully in this case.

[2020-04-27 14:32] #1409 closed

[2020-04-27 14:57] jamesozzie commented on #1422
Tested a demo site on same hosting providers platform although I was unable to reproduce the same error or discover any hosting security or firewall application which may be causing this error. I didn't install the same plugins during testing.

Awaiting follow up from user to check whether the same issue arose.

[2020-04-27 15:37] tofumatt commented on #1385
Of those two options: I'm not a big fan of either 😆. I would prefer the consistency of `getAmpContainerID`, because it's what one would expect out of this API.

That said, if we wanted to _alias_ `getAMPContainerID` to `getAmpContainerID` I think that's fine; same goes for any actions. There's no need to delete the original ones, but creating an alias will be easier to reason about in the code and

[2020-04-27 15:43] ernee commented on #1433
Closing in favor of #1391 where the issue is being worked on.

[2020-04-27 15:43] #1433 closed

[2020-04-27 15:44] ernee commented on #1391
Another support topic: https://wordpress.org/support/topic/site-kit-encountered-an-error-loading-chunk-1-failed/

[2020-04-27 15:46] tofumatt commented on #1392
Yup! I imagine we might decide to name/namespace them in some way so I didn't specify the names here, but that's the idea 😄

Works for me! IB updated.

Argh, indeed! That's what I meant to write, must've just got confused and left it out of the text. IB updated 😄

[2020-04-27 15:50] aaemnnosttv commented on #1434
@ryanwelcher this is a good start - a few thoughts for you:

* Ideally we would also set the `disabled` state on the _View Data_ button based on the validity of the input
    - To do this, would need to have the value of the input in state (i.e. `Autocomplete` would be a "controlled" component  - which doesn't seem to be possible)
   - Let's disable the button based on the presence of `state.selec

[2020-04-27 15:54] marrrmarrr commented on #1394
@aaemnnosttv 👍

[2020-04-27 15:56] aaemnnosttv commented on #1436
This looks like a good start @ryanwelcher - just one request for you:

Can we set the margin using a variable for line-height so that the space is equal to 1 or 2 empty lines of text? Perhaps we can just use `em` for this.

[2020-04-27 16:12] aaemnnosttv commented on #1394
@ryanwelcher would you please add an IB for this since you're the most familiar with the code here?

[2020-04-27 16:30] ryanwelcher commented on #1436
@aaemnnosttv sounds good. I've updated the IB accordingly.

[2020-04-27 16:57] tofumatt commented on #1300
Whoops, I guess I mixed them up. Fixed!

Oh, I guess that's true. If there's no intention of having them render different at all based on those props we can remove them.

For a widget's `slug`—which is unique across the entire datatstore—this makes sense. But forcing areas to be unique across contexts will lead to verbose-and-repeated area names. Let's say we have a "Dashboard" context and a "Head

[2020-04-27 16:58] aaemnnosttv commented on #1436
IB ✅

[2020-04-27 17:54] felixarntz commented on #1385
IB ✅

Added a note to the IB on why this abbreviation handling is needed. Generally if we find at some point that we use another abbreviation that isn't covered by this function, we should just add it.

[2020-04-27 18:03] aaemnnosttv opened #1456 "Deep links don't support secondary Google accounts"
## Bug Description

Google allows for [multiple accounts to be signed-in simultaneously](https://support.google.com/accounts/answer/1721977?co=GENIE.Platform%3DDesktop&hl=en).

When a user is logged-in to multiple accounts at once, links to Google services assume your "default user" if it is not otherwise defined in the url, usually as an `authuser=x` query parameter (where `x` is an integer start

[2020-04-27 18:34] felixarntz commented on #1386
IB ✅

[2020-04-27 18:43] felixarntz commented on #1300
@tofumatt

I see what you mean regarding the name being repeated. The problem is if we change here that widget area slugs are not unique across all contexts (which would be a change from the original plans outlined in the doc and actually is relevant to #1298, which was already approved, more than here), we would also need to account for that when assigning widgets (e.g. assigning to `dashboardSpe

[2020-04-27 18:45] felixarntz commented on #1392
IB ✅

Via #1300, `WidgetAreasRenderer` will have a different name (`WidgetContextRenderer` or similar), but that isn't really relevant for the IB itself.

[2020-04-27 19:51] ernee commented on #1448
@nakasix thanks for opening an issue. Support for the Site Kit is proved in its [WordPress plugin support forum](https://wordpress.org/support/plugin/google-site-kit/). Open [a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we'd be happy to assist you.

[2020-04-27 19:51] #1448 closed

[2020-04-27 19:58] felixarntz commented on #1099
I think in terms of the ACs the solution using `viewWindowMode` set to `pretty` works fairly well. But there is the side effect of the graph now being pushed out.

Honestly, I think we are a little off the original goal of this issue. The real problem here was that the dates displayed were potentially _completely_ off (see screenshot in issue description). This is not about the date range being 5-

[2020-04-27 20:00] felixarntz commented on #1099
I'm going to move this back into IB, let's try to figure out what was going wrong in the case of the issue description - how did the dates get off _so far_ in there?

[2020-04-27 21:24] adamsilverstein commented on #1099
Reviewing the comments here, @hagbard231 mentioned that the graph changed each time they selected a tab (https://github.com/google/site-kit-wp/issues/1099#issuecomment-583282355) and attached a video. I watched the attached video and what is shows is repeatedly click back and forth between "Users" and "Sessions" with each click a little bit of the graph is removed until the far off dates we see in

[2020-04-27 23:45] felixarntz opened #1459 "Build and deploy storybook static files to GitHub pages for develop and master"
## Feature Description

We should make Storybook available on google.github.io/site-kit-wp.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When pushing to `develop` or `master`, Storybook static files should be built and written to the `gh-pages` branch.
* In the `gh-pages` branch, a folder should be

[2020-04-27 23:56] ernee commented on #1447
@digitalsetups currently Site Kit supports the _Web property_ in Analytics. As you mention, the App + Web property is still in beta/ development, so Site Kit doesn't yet support this.

In the meantime, you can set up a Web property to configure with Site Kit.  If App + Web tracking is desired, its tag would need to be manually added (using multiple tags for Analytics is generally ok. See this docu

[2020-04-28 00:00] felixarntz opened #1460 "Expand storybook static files deployment to work for pull-requests"
## Feature Description

As a follow-up to #1459, we should expand on that work to also expose storybook static files for pull-requests on google.github.io/site-kit-wp.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Storybook builds for pull-requests should be made available via directories like `story

[2020-04-28 06:48] cole10up commented on #1362
**Tested**

Installed latest develop, navigated to setup screen and checked the request below:

![image](https://user-images.githubusercontent.com/57115907/80455638-fe605780-88e0-11ea-9517-625ea4a701f7.png)

![image](https://user-images.githubusercontent.com/57115907/80455758-323b7d00-88e1-11ea-88dc-584ae75ffe78.png)

Confirmed positive test setting up functioned. Resetting SK and running through

[2020-04-28 10:12] jamesozzie opened #1462 "Bplaced.net - Unable to setup Site Kit on free plan "http_request_failed""
## Bug Description

When using the Bplaced.net service the last stage of the setup process doesn't complete, with users directed back to their Site Kit dashboard with the following error message
[code]

![image](https://user-images.githubusercontent.com/41326532/80474923-04395580-8940-11ea-9c4b-3527655e049e.png)

The [free tier plan (Freestyle) for bplaced ](https://www.bplaced.net/en)(not specifi

[2020-04-28 11:39] jamesozzie commented on #1462
Contacted support and users will need to upgrade to the "bplaced pro" package in order to install Site Kit at present.

[2020-04-28 15:20] aaemnnosttv commented on #1459
This looks good to me @felixarntz - my only question is around the use of GitHub pages for the repo. You probably thought about this but it seems unlikely that Storybook is the only thing we might want to build like this to make available on the web in the future (e.g. API documentation).

* Idea 1: deploy the files to a sub-directory of the pages repo, so it would use `google.github.io/site-kit-w

[2020-04-28 15:28] felixarntz commented on #1459
@aaemnnosttv I like your suggestion to use a subdirectory for `storybook`. I'll update the IB (and PR). In terms of Netlify, I'd rather rely on GH Pages for now since that certainly works and is a thing we already have anyway, rather than adding another piece to our stack (may also be complicated because of `google` org requirements).

[2020-04-28 15:43] felixarntz commented on #1204
@ernee Since this is a very specific request and our philosophy is to keep our UI simple and focused, we've decided to not add a control for this to the plugin. However, we understand the thinking behind this request. I've prepared a one-line plugin (basically having the line you added in the description) that we can share with people who would like to disable the admin bar integration: https://dr

[2020-04-28 15:43] #1204 closed

[2020-04-28 15:46] tofumatt commented on #1300
Fair enough! IB updated to just require the area `slug`.

[2020-04-28 16:07] digitalsetups commented on #1447
@ernee Okay, great.

Yet, we have already connected additional tags with it as you recommended.

[2020-04-28 16:08] aaemnnosttv commented on #1459
IB ✅

[2020-04-28 17:51] KeesCBakker commented on #938
Any updates on this?

[2020-04-28 18:28] aaemnnosttv commented on #1385
@felixarntz one note here regarding `GET:containers`

We updated this datapoint to accept an array of `usageContext`s to support querying both. The Google API doesn't support this filtering as a parameter but we have it implemented in the response parsing. Basically, we don't need to add a special `both` parameter because we can provide an array of both which we're already doing now 😄

Should we m

[2020-04-28 18:33] felixarntz commented on #1385
@aaemnnosttv I hadn't actually noticed the `both` being a string - yes it should absolutely be an array. 😄

I'd say let's stick with a single `getContainers` for now that accepts `usageContext`. The resolver for that selector will query all containers anyway from the server (by providing both `web` and `app`), and it's closer to how the API handles it.

[2020-04-28 22:45] dpouliot commented on #1114
I have a brand new WordPress install and I'm getting this error:
![image](https://user-images.githubusercontent.com/2699333/80545020-5ac68400-8980-11ea-87d0-a9104199b862.png)

[2020-04-28 23:05] tofumatt commented on #1436
Code reviewed; just assigned to @aaemnnosttv/@felixarntz to merge. 🙂

[2020-04-29 04:49] equipeathletics opened #1464 "Woocommerce Cart Shows Empty when Sitekit is installed into WP (GoDaddy Managed WP)"
## Bug Description

When Google Sitekit is installed and activated into a Wordpress build with WooCommerce the shopping cart will show as empty for 30-60 seconds.  When browser is refreshed afterwards, items will show in the cart.  When user is logged in or when user has already waited the 30-60 seconds, shopping cart will operate as normal.  But if opening a new incognito instance, the problem is

[2020-04-29 05:17] cole10up commented on #1101
**Tested**

Built and installed latest develop zip, setup and activated Analytics through the dashboard:

Noticed padding difference between drop downs from prior 1.7.1 zip:
![image](https://user-images.githubusercontent.com/57115907/80561521-9e79b780-8999-11ea-9fff-9dca80bbed0d.png)

To current zip:
![image](https://user-images.githubusercontent.com/57115907/80561536-a89bb600-8999-11ea-8a93-e63d1

[2020-04-29 08:33] aaemnnosttv commented on #1101
Thanks for your attention to detail on this one @cole10up !

This is due to the inputs (including the first paragraph there) being rendered in a `<form>` now. The difference is due to some existing CSS to remove the bottom margin from the first paragraph after the setup title. I'm not sure if this is necessary to preserve. If we wanted to, the easiest fix would be an inline style on the `<p>` sinc

[2020-04-29 09:36] jamesozzie opened #1466 "Investigate country specific setup failure for AMP users"
As reported in the WordPress support topic below users with an AMP site in Egypt may encounter problems during setup. During setup users are directed back to the setup screen with site status remaining as "Not connected"

https://wordpress.org/support/topic/sitekit-is-not-working-since-for-ever

The same issue may arise elsewhere, requires further testing.

Additional information:
- Example AMP UR

[2020-04-29 10:40] jamesozzie commented on #1464
@equipeathletics Can you share your [Site Health information](https://i.imgur.com/Rtkmsba.png) and I can try replicate the same setup from my side? After sharing your Site Health information please temporarily deactivate Site Kit while I check your site once more.

[2020-04-29 10:49] jamesozzie commented on #1114
@dpouliot Thanks for reporting. Initial support requests can be submitted using the plugins WordPress support forum.

If you open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing your [Site Health information](https://i.imgur.com/Rtkmsba.png) we can try and determine the root cause in your case, while revisiting this GitHub issue if necess

[2020-04-29 12:47] aaemnnosttv commented on #1385
@felixarntz @tofumatt I'm not sure we need (or should) bake this into `createSettingsStore` as this is pretty specific to our conventions and could be confusing for users if they assumed it was simply camelcase as it is with all others. We can work around this for now by passing the slug pre-capitalized (e.g. `AMPContainerID`) so that no special handling is needed internally.

If we really wanted

[2020-04-29 13:21] tofumatt commented on #1385
Hah, not sure how we missed that but that's totally true. Let's just go with calling it `AMPContainerID`. If @felixarntz is happy with that I'll update the IB (or feel free to do it 😄).

[2020-04-29 14:43] felixarntz commented on #1385
@aaemnnosttv @tofumatt I think we thought about this before - we cannot pass slugs pre-capitalized because they also are used for the real setting slug, so this wouldn't work.

An alternative I'd be okay with would be to expand the createSettingsStore arguments to accept "override" values for the function names somehow. It would make usage for the function less intuitive for those cases, but it wo

[2020-04-29 17:18] aaemnnosttv commented on #1385
Following up here after talking this over with @felixarntz that we're going to manually "rename" the selector and action since there's only one that is affected by this. When another one comes up we can address the best way to solve this going forward but it might be as simple as creating a generic `renameKey` utility for objects.

[2020-04-29 17:19] tofumatt opened #1468 "Update JSDoc return types to not use nullable"
Our usage of JSDoc type unions and nullable types (more info here: https://jsdoc.app/tags-type.html) isn't quite right. We sometimes document return types with type unions—a return type of several types—without parenthesis when they are supposed to be supplied.

We also use nullable types in some places when we should really be using `{(Type|undefined)}`. Let's tidy those mistakes up. 😄

---------

[2020-04-29 18:16] rajatdiptabiswas commented on #1468
If this is still available, is it okay if I give it a try?

The instructions seem clear and I think I might be able to solve this issue.
I have an exam coming up, but I shall try to get it done as soon as possible.

Thanks in advance.

[2020-04-29 18:44] ryanwelcher commented on #1434
This makes sense, however, `state.selection` is set to `undefined` when the input loses focus. So it the user clicks anywhere but the button, the button is disabled. This will also activate the button if there are no posts found.

If we introduce `state.buttonEnabled` we can set it to true when we have both a selection and a match.

[2020-04-29 19:12] felixarntz commented on #1468
@tofumatt IB mostly ✅ , however note that this also applies to some `param` docs, not only `return`. May be good to clarify.

[2020-04-29 19:14] rajatdiptabiswas commented on #1468
Hi @tofumatt!

I have created a PR but unfortunately, a check failed. Kindly look into it and let me know what I must do differently.

More details are listed in the PR description.

Thanks.

[2020-04-29 19:27] felixarntz opened #1470 "Fix Analytics store bug with empty array API responses"
## Bug Description

The properties and profiles parts of the `modules/analytics` datastore currently rely on the response items to key them in the datastore state. This isn't really necessary because the individual array items in a single response will _always_ apply to the same account ID / property ID because of how the API works. Furthermore, relying on the response results in a bug when an emp

[2020-04-29 19:30] felixarntz commented on #1300
IB ✅

[2020-04-29 19:58] felixarntz commented on #1180
@aaemnnosttv @tofumatt Can you provide an update here based on the last comments? The IB is a bit vague right now, and it sounds to me that this issue could easily introduced unexpected problems because of how our code is currently structured? I feel like this could benefit from a more precise proposal.

[2020-04-29 19:58] felixarntz commented on #1443
IB ✅

[2020-04-29 21:08] ernee opened #1471 "Optimize: support OPT prefix containers"
## Feature Description

Site Kit supports the Optimize container (script) with  the **GTM** prefix:

<img width="1074" alt="Optimize GTM" src="https://user-images.githubusercontent.com/8108643/80647103-c2351000-8a22-11ea-862d-ff5e6addc2ab.png">

Optimize now provides the container (script) with the **OPT** prefix, which Site Kit currently does not support:

<img width="1072" alt="Optimize OPT" src

[2020-04-30 06:19] cole10up commented on #1432
**Tested**

Kicked off an E2E test targeting 4.7

![image](https://user-images.githubusercontent.com/57115907/80678279-7a88a580-8a6f-11ea-871d-78682fadcf53.png)
![image](https://user-images.githubusercontent.com/57115907/80678305-83797700-8a6f-11ea-9afc-d23ecec9fb85.png)

Kicked off a test targeting latest WP

![image](https://user-images.githubusercontent.com/57115907/80678498-da7f4c00-8a6f-11ea-

[2020-04-30 07:14] cole10up commented on #1401
**Tested**

Confirmed all periods are consistent with the above screenshot including toggle adjustments.

![image](https://user-images.githubusercontent.com/57115907/80682420-5204a980-8a77-11ea-887b-ab58180965d9.png)

![image](https://user-images.githubusercontent.com/57115907/80682452-62b51f80-8a77-11ea-8ec5-98702d2b142d.png)

![image](https://user-images.githubusercontent.com/57115907/80682462-6

[2020-04-30 07:19] cole10up commented on #1436
**Tested**

Confirmed reset button layout:
![image](https://user-images.githubusercontent.com/57115907/80682682-d5be9600-8a77-11ea-80f0-96d99f8d90b9.png)

Checked mobile view
![image](https://user-images.githubusercontent.com/57115907/80682742-ebcc5680-8a77-11ea-946b-6b6974656bf7.png)

Confirmed disconnect button layout:
![image](https://user-images.githubusercontent.com/57115907/80682853-21713f80

[2020-04-30 07:35] cole10up commented on #1122
**Tested**

Ran `npm run env:stop`
Then `npm run test:e2e`
![image](https://user-images.githubusercontent.com/57115907/80684242-3949c300-8a7a-11ea-893b-723e0f7cd44b.png)

Confirmed E2E test acknowledged the docker container wasn't found, kicked it off and continued.

Ran a positive test through and confirmed E2E passed

Passed QA ✅

[2020-04-30 07:47] aaemnnosttv commented on #1432
@cole10up this one is about PHP (PHPUnit) tests, not E2E tests 🙂
See the second job here:
https://github.com/google/site-kit-wp/runs/626569804

[2020-04-30 09:07] aaemnnosttv commented on #1470
IB ✅

[2020-04-30 10:53] aaemnnosttv commented on #1180
I talked through this with @tofumatt a bit and considered a few different options and approaches although none of them were going to be as easy as what was originally invisioned for this issue.

After taking another look at the bundle sizes, it seems that we've already improved them quite a bit with the introduction of the `vendor` bundle and the other work we've done related to import hygiene.

A

[2020-04-30 10:53] #1180 closed

[2020-04-30 11:41] ShahAaron commented on #1443
For point 3 - Remove the loop that waits for WP to be responding to requests. I did not remove the loop as it caused the request to fail, so I just reduced the sleep to 1

[2020-04-30 12:02] ShahAaron commented on #1281
**Tested**

Installed latest develop, navigated to SK screen. Add query parameter (`googlesitekit-standalone=1`) to the url:

Pages tested:

- Dashboard
- Search Console
- Analytics
- Settings
- Developer Settings

All passed:

- WordPress admin bar - invisible
- WordPress admin menu - invisible
- WordPress admin footer text - invisible
- SK screen covers full page

Passed QA ✅

[2020-04-30 12:10] tofumatt commented on #1372
Looks good; no circular dependencies found. Adding a circular dependency flags the error:

<img width="629" alt="Screenshot 2020-04-30 13 09 20" src="https://user-images.githubusercontent.com/90871/80708605-e0af1000-8ae3-11ea-83dd-a84285430c15.png">

[2020-04-30 12:10] tofumatt commented on #1372
QA ✅

[2020-04-30 12:23] tofumatt commented on #1403
QA ✅

Code is updated everywhere and everything still works as-expected.

[2020-04-30 12:40] ShahAaron commented on #1402
Confirmed code is updated in the following file (assets/js/modules/analytics/datastore/profiles.js) correctly:

- selectors.getProfiles
- resolvers.getProfiles

- - Update RECEIVE_PROFILES to groupBy webPropertyId only

- selectors.isDoingCreateProfile
- selectors.isDoingGetProfiles
- actions.createProfile
- actions.fetchProfiles

[2020-04-30 12:46] aaemnnosttv commented on #1394
@ryanwelcher can you elaborate on why this part is necessary?

It seems to be able to parse it the same either way

![image](https://user-images.githubusercontent.com/1621608/80711803-9fc1f600-8af9-11ea-9bc7-dc5d96e4ec67.png)

[2020-04-30 13:06] tofumatt commented on #1415
QA ✅

Caching is disabled in the right places and this all functions well. Moving to approval.

[2020-04-30 13:10] tofumatt commented on #1468
@felixarntz IB updated to mention non-return types, fair point.

@rajatdiptabiswas: Thanks I'll take a look at your PR—looks like the check that failed isn't related to your code and might be a bug in our GitHub Actions code? At any rate, we'll respond in the PR but if Travis and the CLA checks are passing—which they are—you should be good 😄

[2020-04-30 13:13] tofumatt commented on #1184
Reading this over again: are we sure this is a good idea? I don't think it's a good UX to direct most users to our GitHub repository and have them check for potential errors or issues.

Unless the plugin were developer-focused (it's not) and the issue tracker was the main source of support (it's not), it's likely to:

* confuse users unfamiliar with GitHub
* confuse users who don't have ZenHub ins

[2020-04-30 13:42] aaemnnosttv commented on #1184
I'm not sure that it is a good idea, but it's up for consideration 😄

I opened this issue as an enhancement to the current error handling we have in place which gives no further direction, so in that regard I feel like it's better than nothing.

Perhaps this issue would be better named "Consider adding learn more link to error boundaries"? Linking to GitHub directly might be a bit too clever, but

[2020-04-30 14:54] jamesozzie opened #1474 "WordPress in its own subdirectory - 404 error encountered after signing in with Google account"
## Bug Description

As initially reported in #1444 some users may encounter a 404 page when attempting Site Kit setup after placing WordPress files in a subdirectory. This is dependent on what method they used from the below guide:
https://wordpress.org/support/article/giving-wordpress-its-own-directory/#method-ii-with-url-change

WordPress support topic:
https://wordpress.org/support/topic/issue-

[2020-04-30 15:06] ShahAaron commented on #1397
**Tested**

Pull down develop, navigated to dashboard -> Manage sites

- Revoked access
- Settings->Admin Settings->Reset Site Kit
- Changed "Site Name" in a users WP General Settings
- Setup Site Kit again
- Revisited Manage sites and the "Site Name" had changed

Passed QA ✅

[2020-04-30 15:18] aaemnnosttv commented on #1397
@ShahAaron the steps you took here would pass QA before this issue was worked on so this isn't quite ready for Approval yet.

Please try the following:
* Set up Site Kit
* Change "Site Title" in Settings > General
* From Site Kit dashboard, click on "Manage Sites" from the user's dropdown in the Site Kit header to navigate to the authentication service
* See new site title reflected in the list of

[2020-04-30 15:24] ShahAaron commented on #1397
@aaemnnosttv I probably didn't explain what I did very well

This time a strictly followed your steps and the new site title was shown on the list of sites for the authentication service

[2020-04-30 16:31] tofumatt commented on #1459
QA ✅

I like this! Thanks to @aaemnnosttv for pointing out namespacing of the URL to storybook, because I can see this being useful for other stuff going forward 😄

https://google.github.io/site-kit-wp/storybook/develop works and points to storybook, and importantly, https://google.github.io/site-kit-wp/storybook/enhancement/1443-optimize-local-scripts (another branch that _shouldn't_ have storybo

[2020-04-30 16:48] maverick85 commented on #1474
Hi everybody, I would like to add just a note I think this is important:

When I am authenticated on WP, if I type the url `mydomain.com/wp-admin` it does not fail, it directs me automatically to `mydomain.com/wp_folder/wp-admin`.

This, particularly, does not happen when setting up the Site Kit plugin, and as far as I've noticed is the only plugin that displays this behaviour (giving a 404 error

[2020-04-30 19:29] aaemnnosttv commented on #1471
IB ✅

[2020-04-30 22:45] felixarntz commented on #1101
QA ❌

Noticed one other tiny, but worth fixing issue here: Prior to these changes, in the Analytics settings view would state "Inserted by another plugin or theme" for the existing tag (see https://github.com/google/site-kit-wp/blob/master/assets/js/modules/analytics/setup.js#L831).

The functionality in that original code bit there is slightly incorrect, as it should only say this if
1. the snipp

[2020-05-01 03:27] jumzoid commented on #852
+1
Yes please to Editor role access

[2020-05-01 04:36] felixarntz commented on #1101
@aaemnnosttv I noticed one more thing that we should double-check. While working on AdSense (which foundation-wise is a ton of copy+paste from the work here), I noticed that the code in https://github.com/google/site-kit-wp/blob/06159d2fde9339dc57d8eb72f4cdf24b1ade2148/assets/js/modules/analytics/setup/setup-form.js#L49 likely does not work, which means that currently the module will complete the

[2020-05-01 06:00] justinStoner commented on #1464
I'm having the same issue, but it seems to be an issue with google analytics rather than sitekit. Deactivating the plugin and adding the analytics code to the page still seems to cause it. This is currently blocking us from using google analytics

[2020-05-01 06:27] justinStoner commented on #1464
`
### wp-core ###

version: 5.4
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%year%/%monthnum%/%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 15
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /var/www
wordpress_size: 1.11 GB (1187376587 bytes)
uploads_path: /var/www/wp-content/uploads
uplo

[2020-05-01 06:35] cole10up opened #1475 "Logos not rendering on IE11"
## Bug Description

Module logos and Global Site Kit logo isnt rendering on IE11

## Steps to reproduce

**Pre-condition:** On IE11
1. Install the attached zip
[google-site-kit.v1.7.1.develop@d404b8ba9a (2).zip](https://github.com/google/site-kit-wp/files/4562727/google-site-kit.v1.7.1.develop%40d404b8ba9a.2.zip)
2. Activate the plugin
Notice SK logo isn't rendering both on plugins page and dashbo

[2020-05-01 06:58] cole10up commented on #1376
This is confirmed on iOS using latest Safari

![image](https://user-images.githubusercontent.com/57115907/80788614-7b3c3d00-8b3e-11ea-8485-dd16605aebd8.png)

Sending to Execution

[2020-05-01 07:36] aaemnnosttv commented on #860
Reopening as this was unintentionally closed by its connection to #1430
https://github.com/google/site-kit-wp/issues/860#event-3265992338

[2020-05-01 07:53] aaemnnosttv opened #1476 "Refactor existing datastores with combineStores"
This issue is a follow-up to #1400 to update our existing code to use the new utility.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All existing datastore definitions should use `Data.combineStores` for aggregating stores into the single store which is registered on `Data`

## Implementation Brief

[2020-05-01 08:11] OandB commented on #852
+17 - number of client website looking to see stats on their WP dashboard.

All these clients have editor access so a read-only access level for editors, at least, is essential for this to become a meaningful plugin beyond just setting up integration codes and scripts.

However, lovely plugin, lovely interface, dead easy to use - thank you

[2020-05-01 08:31] equipeathletics commented on #1464
Hello,

I have deactivated Sitekit on my test server, but you can also see the same exact live environment at www.equipeathletics.com.  Everything is the same except the activation of SiteKit.

Please see below for my site information:
`
### wp-core ###

version: 5.4
site_language: en_US
user_language: en_US
timezone: America/Los_Angeles
permalink: /%postname%/
https_status: true
user_registration

[2020-05-01 08:34] equipeathletics commented on #1464
Hello Justin - I think your issue might be a separate one, though resulting in the same effect.  I am able to inject the analytics code as well as google tags manager using another plugin "insert headers and footers".  this is working on my live site and I am able to get analytics data and also use GTM to inject other tags as well.  In reality I could have just put in the GTM and used the GA tag i

[2020-05-01 08:50] aaemnnosttv commented on #1470
@felixarntz there are a few exceptions where this bug is not 100% fixable just by passing along params.

@ShahAaron brought it to my attention that there are two cases where we run into the same problem:
* `fetchAccountsPropertiesProfiles`
* `fetchPropertiesProfiles`

In these actions, the main action lacks the parameter(s) needed to pass to the secondary receive calls.
* `fetchAccountsPropertiesP

[2020-05-01 09:02] jamesozzie commented on #1464
@equipeathletics I no longer see the issue occurring on your test server with Site Kit deactivated. While it may be related to an Analytics/WooCommerce issue can you check the following:
- Does the same issue arise with Site Kit connected without Analytics?
- Does the same issue arise with a newly created Analytics property?

From checking other resources I can see others have reported the same is

[2020-05-01 09:09] equipeathletics commented on #1464
@jamesozzie Thanks for the quick reply.  Yes, the same issue arises before Analytics or GTM are connected.  Just the mere installation and activation of SiteKit will cause the cart issue.  I tried creating a new analytics as well as GTM container as described in the first link you sent me.

I am on Managed Wordpress from GoDaddy.  That is the one string that links my issue along with the two other

[2020-05-01 13:06] marrrmarrr commented on #1434
@aaemnnosttv IIRC people can enter both a page title and a URL in this field; if they typed something nonsensical or something that has no matches, would we be able to notify them (e.g. with a message in the drop-down like "no matches found")?

If that is too much hassle, the proposed UI solution as MVP SGTM.

[2020-05-01 13:21] ryanwelcher commented on #1394
@aaemnnosttv when I run the same in my console, I get the following:
![dates-are-fun](https://user-images.githubusercontent.com/1259027/80808216-0c3a0500-8b8d-11ea-9c18-b29ac315878e.png)

Based on that, I think we should use the `/` to be sure we're getting consistent output.

[2020-05-01 14:39] tofumatt opened #1477 "Use fetch-mock-jest over jest-fetch-mock"
## Feature Description

We currently use jest-fetch-mock for all of our mocking of `window.fetch` requests in our `jest` tests, but after chatting, @aaemnnosttv and I have been finding that libraries functionality and jest-matchers to be a bit lacking. Especially when it comes to [checking for request body/param values](https://github.com/google/site-kit-wp/blob/86bd1f4351097150d023cd48639253ad126

[2020-05-01 14:45] tofumatt commented on #716
Now that the analytics refactoring is complete, I think this IB can be revisited and confirmed/updated to work with the new analytics code. Note that it may need to be entirely replaced from the JS side as the JS code here is totally new.

After that it can be moved to IB review. Feel free to adjust the estimate and entire IB if needed. 😄

[2020-05-01 14:48] tofumatt commented on #532
Looks like we could add an IB here that adds jump links to the dashboard page and improves this onboarding with relative ease, and that might be a good, easy win until these widgets are entirely refactored via the Widgets Epic (#1299).

Adding "Good First Issue" and inviting a straightforward IB to improve this a bit with minimal changes 🙂

[2020-05-01 15:40] felixarntz opened #1478 "Preload REST API datapoints for core/site and core/user stores"
## Feature Description

The `core/site` and `core/user` stores fetch certain crucial data through API calls. This data should preferably be available on pageload since it is essential, and a lot of that data would in the legacy code have been on the `googlesitekit` global too, which is a good indicator that it should be preloaded.

---------------

_Do not alter or remove anything below. The follo

[2020-05-01 15:50] felixarntz opened #1479 "Do not request proxy notifications if proxy is not being used"
## Bug Description

Even when the proxy is not in use the `core/site/data/notifications` endpoint tries to make a request to the proxy, which will always fail obviously because there is no client ID.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site/data/notifications` endpoint should only

[2020-05-01 16:15] felixarntz commented on #1470
@aaemnnosttv @ShahAaron Good catch!

For all of these cases, I think we should skip the calls to `receiveProperties` and `receiveProfiles` entirely if the respective arrays are empty. These calls are only used to populate data in a single request, but they are auxiliary for performance and not essential for the functionality.

Not calling them if not possible is perfectly fine, as the selector for

[2020-05-01 16:24] aaemnnosttv commented on #1460
@felixarntz I realize we don't currently do this with `build-pr` yet but we should prevent these workflows from running on PRs from forks as they are guaranteed to fail. This in turn marks one of the checks as failed and is confusing.

We should be able to prevent this by adding a check like this to the build job:

[code]

Otherwise, IB ✅  😄

[2020-05-01 16:29] adamsilverstein commented on #1474
@maverick85 & @jamesozzie - thanks for the bug report. It looks like Site Kit is redirecting back to your site to the incorrect root URL. Now when you are trying to set up the plugin, the redirect back to your site during the setup flow is failing.

Apparently you started with WP in the root, then changed to a subfolder install, and Site Kit failed to pick up on that change. Dows that sound right?

[2020-05-01 16:34] maverick85 commented on #1474
Hi Adam, thanks for your reply.
Actually your assumption is not correct, the WP site was setup from the start with the ‘domain/wp_folder/‘ and afterward the setup to serve from domain root (method 2 from WP kb) as described. It was not properly “moved” ever per say.

[2020-05-01 16:37] maverick85 commented on #1474
Hi Adam @adamsilverstein, thanks for your reply.
Actually is not that, the WP site was setup from the start with the `domain/wp_folder/`and afterward the setup to serve from domain root (method 2 from WP kb) as described. It was not  “moved” ever per say. (In my case!)

[2020-05-01 17:01] aaemnnosttv commented on #1101
Good catch @felixarntz.

https://github.com/google/site-kit-wp/pull/1480 is ready for your review now which fixes this and a few other issues I found with the tests. More details on the PR.

[2020-05-01 17:17] aaemnnosttv commented on #1434
@marrrmarrr that's correct. We don't really have a good way to identify nonsensical input and I wouldn't want to disable the submit if it might potentially be correct. We know for sure that it's invalid if the input is empty though which is the main case here.

We do currently show a "No results found" when appropriate, except when the input is empty in which case it errors and the user sees no ch

[2020-05-01 17:18] aaemnnosttv commented on #1478
IB ✅

[2020-05-01 17:35] aaemnnosttv commented on #1479
IB ✅

[2020-05-01 17:46] aaemnnosttv commented on #1434
@ryanwelcher let's use a more general purpose name for the state instead of `buttonEnabled` which is a bit overly specific. In the future, it's not hard to imagine that CSS classes or other things might change based on the same logic. Something like `hasSelection`, `hasMatch`, `canSubmit` are a few ideas that come to mind that would be logically the same, but would be more versatile to use 😄

Plea

[2020-05-01 18:15] Luqman000 commented on #12
Analytics data is not yet available, please check back later.
https://www.dropbox.com/s/ymhmu49v7pvd3ca/annotation%202020-05-01%20225705.png?dl=0
can you help why this occour and no error in console.  I am also apply all solution, you explain on different forum. but all in vain,,,
my site url : https://mavenofmacau.com/

[2020-05-01 18:41] aaemnnosttv opened #1481 "404 Errors in E2E Logs"
## Bug Description

Recently, logs for E2E tests have become littered with 404 errors in the console, even though all tests are currently passing. However, this only seems to happen on Travis.

**Update**
After debugging this a bit, I found this is happening because static assets were not being included in the `build:test` build as of some recent changes.

## Steps to reproduce

1. Open [E2E test

[2020-05-01 18:51] felixarntz commented on #1101
@aaemnnosttv Reviewed and will merge. Note https://github.com/google/site-kit-wp/issues/1101#issuecomment-622157548 still needs to be addressed.

[2020-05-01 18:52] adamsilverstein commented on #1474
Ah, thank you for clarifying. Still trying to determine conditions to reproduce the 'stuck' state you are in.

[2020-05-01 20:41] warlockeg commented on #1466
Here is how the issue looks like from an Egyptian IP
"Error Connection Closed" for any resource from ampproject.org domain or subdomains

https://prnt.sc/s9e52x

Result: every website using AMP won't load properly nor serve content properly in Egypt

[2020-05-02 04:07] justinStoner commented on #1464
@equipeathletics interesting, we are also using managed wordpress from GoDaddy.

[2020-05-02 11:52] maverick85 commented on #1474
@adamsilverstein sure mate no problem, anything just ask away!

[2020-05-03 00:31] jonathannz commented on #459
Is there any estimated time-line for enhanced eCommerce tracking in Site Kit? Seems to me like a much needed feature for the many WC sites running WooCommerce (etc.)

[2020-05-03 18:39] AgileIT commented on #1208
Hi,
I have the same problem. Error with WooCommerce for each wp-cli request.
Warning: call_user_func() expects parameter 1 to be a valid callback, array must have exactly two members in www/wp-includes/rest-api/class-wp-rest-server.php on line 1244 (x3)

[2020-05-04 08:56] aaemnnosttv commented on #1394
Oh that's weird 😮

Looking into this a bit more, it has to do with [differences in how `Date.parse()` works](https://stackoverflow.com/a/30199268/1037938).

`2020-04-30` is being interpreted as an ISO date string with no time or timezone, so it assumes `00:00` with a timezone of UTC. The value you're seeing is always displayed in your local timezone, which is why it shows a different date even tho

[2020-05-04 09:18] aaemnnosttv opened #1486 "Rename Analytics Profiles to Views for consistency"
## Feature Description

Currently in Site Kit, we refer to Analytics Views as "Profiles" everywhere. However, in Analytics the product, as well as documentation these are referred to as "Views" since the introduction of the new interface.

![image](https://user-images.githubusercontent.com/1621608/80951332-6393db80-8e00-11ea-9655-69b17abc0755.png)

We should update our interfaces to be consistent

[2020-05-04 09:22] tareq1988 commented on #852
I hope this feature gets implemented very soon. Already this issue is due for 7 months.

Giving the editors access to see only the analytics would be cool.

[2020-05-04 09:40] aaemnnosttv commented on #1476
This part shouldn't be necessary as the exports from the index shouldn't change at all. This is only about refactoring how the store components are assembled _before_ exporting.

Otherwise, IB ✅

[2020-05-04 10:04] aaemnnosttv commented on #1101
Thanks for highlighting this - I forgot that this had changed, but it was intentional at the time. I thought we had discussed it at some point but perhaps not.

The main reason I removed the "Inserted by another plugin or theme" display value is that it hides the actual saved value of `useSnippet`. If the user has an existing tag, and `useSnippet` is `true` then it's really important that they're

[2020-05-04 16:09] #1439 closed

[2020-05-04 16:13] felixarntz commented on #317
@OisinOConnor Could you provide an update on this?

[2020-05-04 16:14] #1383 closed

[2020-05-04 16:29] aaemnnosttv opened #1490 "Move using_proxy to Credentials class"
## Feature Description

Currently the `using_proxy` method is part of the `OAuth_Client` class.

The `OAuth_Client` class is only exposed through the `Authentication` class.

Since logic for `using_proxy` is entirely dependent on `Credentials` it makes sense to move this method to `Credentials`.

Current references to this method and what it would become:
[code]

[code]

[code]

This helps flatten

[2020-05-04 16:38] ernee opened #1491 "Adsense connection stalled by Ad blocker"
## Bug Description

When using an Ad blocker extension in the browser, Adsense gets stuck at "locating accounts" and does not complete the process. Console error shows ERR_BLOCKED_BY_CLIENT on its request.

Disabling Ad blocker on the page allows the process to complete.

## Steps to reproduce

1. Connect the Adsense service in a browser that has an Ad blocker extension (tested[ with this one](htt

[2020-05-04 16:54] aaemnnosttv commented on #1459
**QA ❌**

Currently no static assets are rendering in the build due to moving the files into a subdirectory; Storybook seems to assume that it's running relative to the root rather than `/storybook`.

[2020-05-04 17:04] felixarntz commented on #1490
IB ✅

[2020-05-04 17:28] felixarntz commented on #1101
@aaemnnosttv

The previous logic was indeed hiding the original value, but with the logic I outlined it wouldn't do that anymore. We would only say "Inserted by another plugin or theme" if `useSnippet` is false and there is a matching existing tag. Without having this message there, the user could unnecessarily feel alarmed when seeing a text that the snippet is not placed - which is actually not

[2020-05-04 18:08] felixarntz opened #1493 "Add ESLint rules to enforce our docs standards"
## Feature Description

Essentially the same as #924, but for JavaScript.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

There should be ESLint rules to enforce the following:

### Semantical
* Every description of everything starts with a capital letter (descriptions, parameter docs, return docs, ...).

[2020-05-04 18:13] felixarntz commented on #1184
We discussed this one a while back, and there was consent that linking to GitHub wouldn't be appropriate for this plugin, mostly for the points @tofumatt makes. It's a great idea overall to pass the exact React error in such a link so users don't have to copy-paste it, but I think we shouldn't do this right now. We thought about linking to the WP support forums, but there it wouldn't be possible t

[2020-05-04 18:15] felixarntz commented on #341
I'll close this one, since the effort to make it work given the impact (it's unlikely that any user has _that_ many Analytics accounts in their Google account) would not be worth it.

[2020-05-04 18:15] #341 closed

[2020-05-04 18:36] felixarntz commented on #1491
@ernee Have you been able to replicate that?

This is an expected error, but the user shouldn't even be able to get there typically, since we would show the AdBlocker warning that is baked into the plugin. So it looks like we have a bug that the warning doesn't show here.

[2020-05-04 18:46] felixarntz commented on #1263
This piece of information was intentionally left out from the base info because it should be phased out in the future in PHP. It's only used in JavaScript, and we have module-specific JS code to deal with that. Especially since this information is purely UX-focused, it should be moved to JS in the long term, which we'll get to - then we can remove it from PHP completely.

Closing this one for now.

[2020-05-04 18:46] #1263 closed

[2020-05-04 19:21] ernee opened #1494 "Adsense prolonged pending status (no code snippet)"
## Bug Description

Users have reported being in an unusual pending state after connecting to Adsense.

- No toggle to insert the Adsense code in the settings with a message that says Site Kit has placed its code, and to check the module page:

<img width="1031" alt="Adsense pending state" src="https://user-images.githubusercontent.com/8108643/81003567-ee280b00-8dff-11ea-81fb-3af51e0b13d7.png">

-

[2020-05-04 21:25] aaemnnosttv commented on #1184
What do you mean? The support forum has a search that we could fill. E.g.
https://wordpress.org/search/loading+chunk+intext%3A%22Plugin%3A+Site+Kit+by+Google%22
It's not a query parameter like `?s=` but it's still a URL we could generate programmatically.

If that's not an option for some reason, I'm fine with closing it. The issue was merely a discussion point for how to enhance the error handlin

[2020-05-04 21:32] felixarntz opened #1495 "Fix AdSense tag issues in AMP"
## Bug Description

It can happen that the AdSense module detects Site Kit's own tag as an existing tag, altering the UX accordingly, which obviously shouldn't happen then. This happens because the `amp-auto-ads` tag is in one place rendered even when a `tagverify` query parameter is present.

Furthermore, for sites where their theme does not support the `wp_body_open` action, the `amp-auto-ads` t

[2020-05-04 22:23] felixarntz opened #1497 "Search Console deep links may point to incorrect URL"
## Bug Description

The Search Console deep links included in various places include a `resource_id` query parameter that identifies the Search Console property to show data for. Currently it uses the site URL, which is not really accurate and may result in incorrect URLs if the Search Console property in use slightly differs from that URL (e.g. if it is a domain property).

Also, a few Search Con

[2020-05-04 22:30] felixarntz opened #1498 "Create `modules/search-console` datastore"
Similar to #1224, #1248, #1385, Search Console should receive a `modules/search-console` datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Introduce datastore `modules/search-console` that is registered on `googlesitekit.data` and exported from `assets/js/modules/search-console/datastore`.
* R

[2020-05-04 22:40] felixarntz opened #1499 "Refactor Search Console settings using datastore"
## Feature Description

Similar to #1101, #1014, and #1386 (but a lot simpler here!), let's refactor the Search Console settings (no setup involved here) to use the datastore introduced by #1498.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All changes should be made within the `assets/js/modules/se

[2020-05-04 22:55] felixarntz opened #1500 "Scaffold `modules/pagespeed-insights` datastore"
## Feature Description

Similar to #1224, #1248, #1385, #1498 (but a lot simpler here), PageSpeed Insights should receive a `modules/pagespeed-insights` datastore.

Note that (as with the other refactorings) we'll initially focus on purely setup/settings. Since there is no PSI-specific data dependency in that, we technically don't need the datastore yet. So this issue is really about scaffolding a

[2020-05-04 23:00] felixarntz opened #1501 "Refactor PageSpeed Insights settings using datastore"
## Feature Description

Similar to #1101, #1014, #1386, and #1499 (but a lot simpler here!), let's refactor the PageSpeed Insights settings (no setup involved here) to use our datastore and other best practices.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All changes should be made within the `asse

[2020-05-04 23:40] felixarntz commented on #532
IB ✅

[2020-05-05 00:02] felixarntz opened #1502 "Migrate existing datastores to use `combineStores` utility"
After #1400, all existing stores should rely on the `combineStores` utility instead of the individual `collect...` utilities.

**The PR for this should be opened against the `1400/enhancement-create-combinestore-utility` branch.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All existing datastores

[2020-05-05 00:10] felixarntz commented on #1502
Oops... duplicate of #1476.

[2020-05-05 00:10] #1502 closed

[2020-05-05 07:53] aaemnnosttv commented on #1495
IB ✅

[2020-05-05 08:16] aaemnnosttv commented on #1497
@felixarntz in reviewing this, I noticed that 3 of these links also have the `/u/1/` prefix in the URL (i.e. `authuser=1`) which obviously shouldn't be there. I'll update the AC+IB to include this also but everything else sounds good 👍

IB ✅

[2020-05-05 08:52] ThierryA commented on #852
Thanks all for your feedback. Circling back on this thread, are carefully all your feedback on an ongoing basis, however there is currently not ETA for this feature request.

Important to note that we track and value all feature requests, however this does not mean they are "due" 😉

[2020-05-05 11:02] jamesozzie commented on #1464
@justinStoner I've just tested using the following setup on a GoDaddy managed WordPress hosting account although I'm unable to reproduce the same issue from my side.

I didn't make any configuration changes other than the default with WooCommerce, and I tested with and without the Analytics module active, using the same theme.

Are you in a position to check with the other plugins you have tempora

[2020-05-05 13:26] aaemnnosttv opened #1503 "Update E2E tests to use proxy authentication by default"
## Feature Description

Currently the authenticated state that is implemented in E2E tests uses the old pre-proxy GCP-based authentication. This doesn't make much difference in terms of authentication as it is mocked/fake state anyways; there's no real authentication happening. However, there is a growing amount of behavior that is dependent on whether or not the site is configured to use the prox

[2020-05-05 14:08] jamesozzie commented on #1466
@warlockeg Thanks for the input, very useful to know. Have you attempted Site Kit setup from your current location if based in Turkey? From using a VPN I can complete setup from my side.

[2020-05-05 15:51] jamesozzie opened #1504 "Insert HTML comments for each module/product snippet"
## Feature Description

For the different snippets place via Site Kit it may be useful to insert a comment such as `inserted via Site Kit`.

The AdSense module already provides a useful hint in the form of the below:
`tag_partner: "site_kit"` 

While there are additional hints of Site Kit placements more obvious comments may assist in troubleshooting issues, in particular for Analytics and Tag Man

[2020-05-05 17:16] aaemnnosttv commented on #1478
## QA ❌

This issue introduces an unexpected bug as a result of preloading `core/user/data/authentication` which causes new scopes to not be requested when activating a new module.

This is because after the new module is activated (via REST request), `refreshAuthentication` is called which in turn calls `core/user/data/authentication` to check if new scopes are required. Since this is cached from

[2020-05-05 17:39] aaemnnosttv commented on #1498
IB looks good @ryanwelcher - just a few details to clarify:

This involves implementing the `Module_With_Assets` interface and using the `Module_With_Assets_Trait`.

This is done automatically by the settings store which is created internally by `createModuleStore` using the `settingsSlugs` provided to it. In this case, the only setting is `propertyID` so we only need to pass this as a string in a

[2020-05-05 18:21] ryanwelcher commented on #1498
Thanks for the clarification @aaemnnosttv. IB updated.

[2020-05-05 19:50] aaemnnosttv commented on #1498
IB ✅

[2020-05-05 20:58] dpouliot commented on #1114
I removed www. from my Wordpress site settings and now it works, thanks!

[2020-05-05 21:54] felixarntz opened #1506 "Render amp-analytics in story post type (Web Stories plugin integration)"
## Feature Description

We should integrate with the Web Stories plugin to place our `amp-analytics` snippet within stories.

Responsibilities between the two plugins should be distributed the following:
* Site Kit will take care of rendering the basic `amp-analytics` snippet, with tracking ID etc. Site Kit can hook into the Web Stories `web_stories_print_analytics` action for that.
* Web Stories

[2020-05-05 21:55] felixarntz commented on #1506
@swissspidy Does the above sound good to you? Just double-checking, Web Stories's story post type always will have `is_amp_endpoint` return true right? Since we're currently checking that in the function - I guess no changes will be needed here on our end?

[2020-05-05 22:19] felixarntz commented on #1478
@aaemnnosttv Does the preloading middleware persist for all requests to that endpoint? Can we make it so that it only relies on the preload data the first time?

We'll need to make sure that we can force-refetch this information specifically for `core/user/data/authentication` - having to pass an extra parameter always is a bit unintuitive.

[2020-05-05 22:20] swissspidy commented on #1506
1. Uhm, unsure. Unless the AMP plugin is active, that function won‘t exist. Not sure right now what it returns for stories if it‘s active (will test tomorrow), but I think `false`. I would not rely on this function for stories and instead just check the post type if needed.
2. Correct.
3. Correct.

[2020-05-05 22:25] felixarntz opened #1507 "Ensure activating/deactivating a module refreshes user authentication state"
## Bug Description

Activating/deactivating a module may change the scopes that the current user needs to grant access for. While #1175 introduced the `core/user` store and #1179 introduced the `core/modules` store, these now need to integrate with each other so that changing module activation state results in the user authentication data to be refetched.

This is somewhat an enhancement, but also

[2020-05-05 22:52] felixarntz commented on #1506
@swissspidy Ah that's a good point then. We can simply update our own `Context::is_amp()` method then, to return `true` if `is_singular( 'amp_story' )` too. I'll update the IB.

[2020-05-05 23:57] jqlee85 commented on #1376
I've outlined a CSS approach we could take to prevent the overlapping and to make more room. I end up with results like this for the `375px` wide iphone screen:
![iphone-x-375px-screenshot](https://user-images.githubusercontent.com/4214099/81126624-ba78de00-8ef0-11ea-9909-5549e4cb3f7b.png)

There's some clipping of the `<th>`s' text though. Which isn't ideal, but at least looks better than what is

[2020-05-06 00:20] warlockeg commented on #1466
Yes and it worked when i used a VPN

On Tue, May 5, 2020 at 4:08 PM James G <notifications@github.com> wrote:

--

Regards,
      Shehab Ahmed

[2020-05-06 00:28] felixarntz commented on #1376
@jqlee85 Could we possibly use an approach where for too small widths there is a horizontal scrollbar for such tables? I think the current approach is okay too, but having scrollbars to expose more useful content (it's quite a bit that gets cut off on these small widths) may be worth the trade-off. Not sure what's better for UX here though. cc @marrrmarrr @adamsilverstein

[2020-05-06 00:51] felixarntz commented on #1476
I assigned all of you @jqlee85 @aaemnnosttv @tofumatt just because it would be good to get all of your thoughts on https://github.com/google/site-kit-wp/pull/1484#discussion_r420489638.

[2020-05-06 01:02] jqlee85 commented on #1376
@felixarntz Yeah I was thinking about horizontal scrollbars too, though I'm not sure it's the best UX on mobile, may be better than cutting off text though. Curious to know what the UX specialists prefer.

[2020-05-06 01:06] felixarntz commented on #1328
@tofumatt You haven't updated all parts of the IB based on my last response, but also didn't reply - could you clarify? My main outstanding point was that there should be no need for an `options` parameter in `getExistingTag`. It will be per module, and the module selector knows everything it needs to know (URLs and tag matchers). Providing `options` here is overkill, we'd never pass it. If we nee

[2020-05-06 04:09] cole10up commented on #1101
**Retested findings**

Confirmed setting up a new property both shows correct messaging for success
![image](https://user-images.githubusercontent.com/57115907/81137153-98905300-8f12-11ea-9b39-40af2e849aef.png)

And Error:
![image](https://user-images.githubusercontent.com/57115907/81137177-b65db800-8f12-11ea-8d51-ba5c247193f4.png)

Multiple profile options still displaying according to https://gi

[2020-05-06 04:17] ernee commented on #1491
@felixarntz yes, the above is from my personal site. No Adblocker warning was displayed for me- just the stalled experience.

[2020-05-06 04:28] cole10up commented on #1269
Positive tests setting up Analytics using a new property, existing property, disconnecting and reconnecting all passed.

Passed QA ✅

[2020-05-06 05:13] cole10up commented on #1213
**Tested**

Tested exiting setup of SK during TOS, hit cancel on each instance of the proxy
![image](https://user-images.githubusercontent.com/57115907/81140079-f033bc00-8f1c-11ea-8aa5-ebd6f55ea495.png)

Confirmed all instances of cancel drove to the correct page.

Canceled first TOS on Adsense setup:
**Noticed the following:**
![image](https://user-images.githubusercontent.com/57115907/81140164-4

[2020-05-06 05:42] cole10up commented on #1048
This is confirmed while testing https://github.com/google/site-kit-wp/issues/1101

Passed QA ✅

[2020-05-06 08:08] aaemnnosttv commented on #1380
A little context to help with the definition here: Site Kit has the concept of dependencies between modules. Currently Tag Manager can only be activated after Analytics is activated because it declares Analytics as a dependency in `Tag_Manager::setup_info`.

This is used on the client side in a few places:
https://github.com/google/site-kit-wp/search?q=requiredModule&unscoped_q=requiredModule

Mos

[2020-05-06 08:33] aaemnnosttv commented on #1478
Yeah, it is persistent for all requests to the preloaded URL.

We could perhaps create our own version of it which has alternate behavior since the middleware itself is only ~25 lines. However, only serving the preloaded response once and ensuring that the request is always made are not the same thing.

If we were to create an alternate middleware, I think the only change we would want to make is

[2020-05-06 09:39] aaemnnosttv commented on #1101
Thanks for your close eye @cole10up - see my responses below. Assigning to @felixarntz to make the final call if there is any further action needed here for final QA.

toggle

This should be the same with what's there in 1.7. It's slightly smaller because it's a list item (exclude from Analytics is a list of options, although there's currently only one) where all the rest are single options.

I do

[2020-05-06 10:05] ShahAaron commented on #1471
Tested

Went to settings and added Optimize
Went to Google settings and added Optimize
In the setup UI, add "Format: GTM-XXXXXXX or OPT-XXXXXXX" correctly displayed as an explanatory text next to the input field.
Site Kit recognised both OPT-XXXXXXX and GTM-XXXXXXX as valid Optimize IDs.
Saved

Passed QA ✅

[2020-05-06 11:15] ShahAaron commented on #1495
Tested

Activate AMP plugin
Set up Adsense account
On front end checked `amp-auto-ads` tag is output
Added `?tagverify=1` parameter and tag is not output

Passed QA ✅

[2020-05-06 11:40] ShahAaron commented on #1400
Tested

PR code
Run e2e tests - passed
Run JS Unit tests - passed
Run Visual regression tests - passed

Passed QA ✅

[2020-05-06 12:07] ShahAaron commented on #375
Tested

PR code
PHP Unit tests - passed
Checked in console for 500 errors - none found

Site still functioning correctly

Passed QA ✅

[2020-05-06 12:48] ShahAaron commented on #1179
Tested

PR code
Run e2e tests - passed
Run JS Unit tests - passed
Run Visual regression tests - passed

Site still functioning correctly

Passed QA ✅

[2020-05-06 12:57] ryanwelcher commented on #820
Confirming that running `npm run lint:js` does not produce any translator comment errors and removing one triggered the following linting error `Translation function with placeholders is missing preceding translator comment`

QA ✅

[2020-05-06 13:19] ShahAaron commented on #1497
@felixarntz could I check am I replacing usage of global.googlesitekit.admin.siteURL with getModulesData()[ 'search-console' ].settings.propertyID where `resource_id=`or `search-console?resource_id=`. There are many instances where `resource_id=` like `search-analytics?resource_id=`

[2020-05-06 14:42] felixarntz commented on #1380
@aaemnnosttv Thanks for providing some extra context here.

I don't think so, but let's look at that separately. Not as big of a priority to decouple.

[2020-05-06 14:51] felixarntz commented on #1478
@aaemnnosttv Hmm, I think the part that bugs me most about this is that we already have a caching layer. Mostly that should be responsible for avoiding API requests when we already have a result. Maybe we can update the `googlesitekit-api` module to just always append the `timestamp` query parameter for `GET` requests when `useCache` is `false`? It's a bit hacky, but I think that should work. For

[2020-05-06 15:02] felixarntz commented on #1101
@aaemnnosttv Could we change the font size on the list `Switch` label to match the regular one for this issue? I'd assume that should be fairly straightforward and will make this look a lot more polished.

The other problems here I agree are broader and partially already covered elsewhere.

[2020-05-06 15:08] felixarntz commented on #1497
@ShahAaron All of these should be adjusted since they all deal with Search Console. The problem here is that we should never assume the site URL is also the Search Console property for the site. For most cases it will be, but not all. For example if you have a Search Console domain property, it will look like `sc-domain:example.com` rather than `https://example.com`, and linking with the site URL

[2020-05-06 15:42] swissspidy commented on #1506
`is_singular( 'web-story' )` 🙂
But you'll quickly notice that when testing 😉

[2020-05-06 15:47] felixarntz commented on #1506
@swissspidy Oh that reminds me of something, we also check right now in some places for `amp_story` post type to avoid placing `amp-auto-ads` then because it's not supported in stories. Because of the limited use of regular actions and filters in Web Stories that may not be as much of a problem, but I actually think we should make sure and include `is_singular( 'web-story' )` checks in these areas

[2020-05-06 15:52] swissspidy commented on #1506
IB approved 👍

[2020-05-06 17:18] felixarntz commented on #1400
Based on our conversation, let's remove the initialization-related bits from `combineStores` to get it ready in itself to be shipped in the release (see findings in #1476). We can then completely remove the initialization logic via #1476 or another issue.

[2020-05-06 17:21] #375 closed

[2020-05-06 17:21] #1397 closed

[2020-05-06 17:21] #1495 closed

[2020-05-06 17:21] #1471 closed

[2020-05-06 17:22] #1316 closed

[2020-05-06 17:22] #1432 closed

[2020-05-06 17:22] #1401 closed

[2020-05-06 17:23] #1436 closed

[2020-05-06 17:24] #1048 closed

[2020-05-06 17:24] #1372 closed

[2020-05-06 17:24] #1402 closed

[2020-05-06 17:24] #1122 closed

[2020-05-06 17:24] #820 closed

[2020-05-06 17:26] #1281 closed

[2020-05-06 17:30] #1179 closed

[2020-05-06 17:43] felixarntz commented on #1212
We'll mainly account for that this requires the proxy by showing the legacy account creation component as part of #1211 if the site is not using the proxy. Let's add a check for `OAuth_Client::using_proxy()` here in `POST:create-account-ticket` and if not return an error, just to set expectations right if something was calling this endpoint in such a setup.

@adamsilverstein Can you address the ab

[2020-05-06 17:49] jqlee85 commented on #1400
@felixarntz  the `combineStores()` utility itself doesn't have any initialization code. `Data.commonStore` does use `addInitializeReducer()` and `addInitializeAction()`, though it's not being used used anywhere (until #1476 is merged). Should I remove the the two `addInitialize...` calls from `Data.commonStore`?

[2020-05-06 17:52] felixarntz commented on #1400
@jqlee85 Yeah exactly, sorry for being a bit unprecise in my comment above. `combineStores` should not use any initialization logic _indirectly_ either 👍 The actual problem as mentioned lies in `addInitializeAction` being called with an empty object for `commonStore`.

[2020-05-06 17:55] tofumatt opened #1510 "Add a generic, "core/forms" store for forms"
Issue #1211 required some forms that didn't warrant creating a bunch of actions, selectors, etc. for their data, but we shouldn't be using `useState` to manage form data because it requires passing around state from components and negates a lot of the wins we get from using a Redux-backed datastore.

We talked about this on a call today, and we should have a generic, `'core/forms'` data store with

[2020-05-06 17:55] tofumatt commented on #1510
Flagging this as a 7 estimate, but for what it's worth it's closer to 3-4 hours than 7 and doesn't require much specialised QA. 😄

[2020-05-06 18:28] felixarntz commented on #1510
@tofumatt
Maybe we should have `setValues( formName, { key: value } )` and `setValue( formName, key, value )`? The latter could technically call the former. I just think your current suggestion is a bit confusing using a singular "value" in the name but accepting multiple. I think it should use the plural, and having the other one would be more of a convenience thing if we need it.

Regarding wher

[2020-05-06 19:51] adamsilverstein commented on #1212
Added in https://github.com/google/site-kit-wp/pull/1512/commits/cf0ef59dacc8271b53c35b815cded3fd34d3c954

[2020-05-06 19:51] adamsilverstein commented on #1212
Added in https://github.com/google/site-kit-wp/pull/1512/commits/966579c0beb039460813c7a5b62c2da30a29da46

[2020-05-06 19:52] adamsilverstein commented on #1212
Moved in https://github.com/google/site-kit-wp/pull/1512/commits/e18de5591f51cf477a953d47e0319af33f7f88c4

[2020-05-06 21:42] #1400 closed

[2020-05-06 21:51] felixarntz commented on #1470
QA ⚠️

Tested this by manually enforcing empty properties and profiles arrays to be returned, from `accounts-properties-profiles`, `properties-profiles` and `profiles`. All worked as expected: In the "bulk" datapoints, if one of the sub-arrays was empty, the respective list would not be populated in the datastore, instead relying on a separate request to `properties-profiles` or `profiles` respect

[2020-05-06 21:52] felixarntz commented on #1470
QA ✅

After #1513 being merged, Storybook now works as expected too.

[2020-05-06 22:00] felixarntz commented on #1507
IB generally ✅

@ryanwelcher One detail here that is due to the enhancements from #1478 is that we need to ensure that routes with `useCache` set to `false` also bypass any eventual preloaded API responses, which is currently not the case. In https://github.com/google/site-kit-wp/issues/1478#issuecomment-624696055 I added a suggestion on how we could generally fix this, simply by adding an additio

[2020-05-06 22:05] felixarntz commented on #1481
IB ✅

[2020-05-06 22:11] felixarntz commented on #1500
IB ✅

Thanks for being thorough here @ryanwelcher - I think generally for engineering-based issues like this where the ACs already are some rough IB almost, it's okay to omit the similar parts and refer to the ACs in the IB. Then you can focus the IB more on specific details that are important.

[2020-05-06 22:19] felixarntz commented on #1503
IB ✅

[2020-05-06 22:22] felixarntz commented on #1426
IB ✅

Let's leave the PHP datapoint unchanged for now so that we don't need to change anything in legacy JS code. The nice thing is that we can now in our new JS API look out for more consistent names, and then retroactively update the PHP side if it's worth it, once no old code is using that anymore.

[2020-05-06 22:27] felixarntz commented on #189
IB ✅

[2020-05-06 22:30] wheresrhys commented on #1477
I just stumbled across this. Since writing fetch-mock-jest I've found various teething problems which are - I hope - now all resolved. Thought I'd just say hello and let you know I'd be very interested to hear of any feedback you have from migrating. Let me know if anything's buggy and I will try to resolve ASAP.

[2020-05-06 22:33] felixarntz commented on #1376
@jqlee85 I've looked at the Google Analytics mobile app for inspiration on this. Looks like they only display "Pageviews" there, but not any other numeric data about the URL. I think it would make sense for us to do the same on narrow viewports, hide the other columns. I think hiding those columns on narrow viewports (I'm sure we already have some breakpoint for that somewhere) in addition with th

[2020-05-06 22:35] felixarntz commented on #1376
I'll just approve this IB as is ✅ , with the above addition we should be good. After getting some UX feedback, it's probably better to avoid horizontal scrolling. Trimming too much content though is weird too, so only showing the most essential columns is a good approach.

[2020-05-06 22:38] jqlee85 commented on #1376
Great, thanks for following up on the UX @felixarntz. Will do.

[2020-05-07 00:09] ernee commented on #1412
@felixarntz @marrrmarrr quick follow up that WPMU DEV [posted in the forums](https://wordpress.org/support/topic/error-the-response-is-not-a-valid-json-response-3/#post-12790430) that they have made some adjustments to their WAF rules to prevent this.

[2020-05-07 03:14] cole10up commented on #1101
**Confirmed font size adjustment**
![image](https://user-images.githubusercontent.com/57115907/81250472-f76ad080-8fd5-11ea-8be2-4801184410fe.png)

Retested functionality with 1.8.0 - confirmed happy path.

Confirmed disconnecting and reconnecting Analytics, adding new properties functions properly.

Good on my end.

Passed QA ✅

[2020-05-07 03:53] cole10up commented on #860
Ran regression on the production ready zip for 1.

[2020-05-07 04:47] cole10up commented on #1404
**Tested**

Installed latest production ready 1.8.0 SK zip. Setup SK and activated Analytics module

Confirmed selecting multiple accounts would default to the first property
![image](https://user-images.githubusercontent.com/57115907/81255572-d9579d00-8fe2-11ea-97be-20ee064c54ab.png)

![image](https://user-images.githubusercontent.com/57115907/81255598-eb394000-8fe2-11ea-991f-e26f7ff42339.png)

!

[2020-05-07 05:37] cole10up commented on #1478
**Tested**

Ran a series of regression tests around data and pageloads. Installed SK 1.8.0 production ready zip. Activated SK and added all modules. Confirmed pageloads across the board without error for each module.

Notice the following page error for Analytics:
![image](https://user-images.githubusercontent.com/57115907/81258205-ffcd0680-8fe9-11ea-874f-d643b653ea82.png)

Notice the following pa

[2020-05-07 05:56] cole10up commented on #1479
**Tested**

Ran a series of tests with the production ready SK 1.8.0 zip. Installed and activated SK. Activated modules and performed a series of tests within the proxy around exiting TOS according to this ticket: https://github.com/google/site-kit-wp/issues/1213

Removed and added modules from settings page and the dashboard after initial login. Was unable to experience any issues on my end.

Pas

[2020-05-07 05:58] cole10up commented on #1116
Confirmed with the help of @ernee that this is fixed.

<img width="530" alt="Screen Shot 2020-05-06 at 11 50 19 AM" src="https://user-images.githubusercontent.com/57115907/81259609-293b6180-8fed-11ea-9ae3-dd306a126ef5.png">

Passed QA ✅

[2020-05-07 08:28] aaemnnosttv commented on #1459
@felixarntz the main fix has been merged. I opened a follow-up PR as a simplification for your consideration, but otherwise this is good to go 👍

[2020-05-07 08:33] aaemnnosttv commented on #447
@felixarntz @tofumatt I think we can probably close this issue as the idea is correct but these need to be refactored to use the datastore rather than simply accept props since the value will come from the datastore anyways.

Interesting question though - which datastore will date range state belong to since it is used cross-module?

[2020-05-07 08:41] aaemnnosttv opened #1515 "Release 1.8.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-05-07 09:20] aaemnnosttv opened #1516 "AdSense reports URL includes user index"
## Bug Description

The Adsense reports URL returned by `GET:reports-url` contains the authuser index hardcoded to `0`. This should be removed. Deep links for correct auth user will be handled in #1456

https://github.com/google/site-kit-wp/blob/a454d88f0c1a24b2f7fd1418753c86ac3b8c8d42/includes/Modules/AdSense.php#L527

---------------

_Do not alter or remove anything below. The following section

[2020-05-07 09:25] aaemnnosttv commented on #1478
@cole10up I was not able to reproduce this on my end and was able to successfully set up Analytics and AdSense without any errors or warnings.

I think this warning may happen if you somehow authenticate with a different Google user for Analytics then you do with AdSense. This is not easy to do anymore with the login hint we have in the oauth flow. Alternatively, if you change your site's referenc

[2020-05-07 11:16] aaemnnosttv commented on #1443
## QA ✅

[2020-05-07 11:32] aaemnnosttv opened #1517 "Settings rollback prevents profile creation when creating new property"
## Bug Description

The new settings rollback that happens in the `SettingsEdit` component prevents profile creation when creating a new property.

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/81289525-3d27a780-906f-11ea-8339-1cb817cd6669.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acce

[2020-05-07 11:59] felixarntz commented on #447
@aaemnnosttv Closing this sounds good to me. I think we can add the date range to `core/user` since it's mostly a user-based setting. Potentially we'll want to maintain it throughout sessions to stay the same too, but that should be per user and not for the entire site.

[2020-05-07 12:03] jamesozzie opened #1518 "Allow for different date formats"
## Feature Description

As per the below WordPress support forum topic one possible enhancement would be to allow different date formats to be used within the various dashboards.
https://wordpress.org/support/topic/sitekit-doesnt-display-stats-correctly/#post-12795818

![image](https://user-images.githubusercontent.com/41326532/81291760-51b17300-9062-11ea-88f4-a7ab0dfbd884.png)

Some users may pre

[2020-05-07 12:03] felixarntz commented on #1478
@aaemnnosttv Is `adsenseLinked` still `false` despite the `GET:report` response being successful and the AdSense `setupComplete` being `true`?

[2020-05-07 12:04] felixarntz commented on #1516
IB ✅

[2020-05-07 12:04] tofumatt commented on #1032
QA ✅

Looks like all the dependencies were properly moved over, so moving to approval.

[2020-05-07 13:17] luizeof opened #1520 "Error Setting up with WPML"
## Bug Description

When I try to install the Site Kit with WPML, in any language or using "all" language, the Google Site Kit does not allow to continue as it takes the URL with the language, /en or /pt-br for example. You should get the website address without these suffixes.

## Steps to reproduce

1. Website running WPML
2. Install Site Kit
3. Try to Configure, you will see the image bellow:

[2020-05-07 13:21] luizeof commented on #1520
#1449 seems to solve the problem, but I will wait for the next version.

[2020-05-07 14:14] tofumatt commented on #1517
IB ✅

[2020-05-07 14:17] tofumatt commented on #1517
All good from code review; just assigning to you for the merge! 👍

[2020-05-07 14:53] jamesozzie opened #1522 "Analytics: Reporting periods displaying 1/1/70 start and end date for sites with low traffic"
## Bug Description

Possibly related to #1099

With the Analytics module setup on sites with low traffic the reporting periods are displaying both a start and end date of 01/01/70

Recreated on 4 different sites with low traffic.

Site 1:
![image](https://user-images.githubusercontent.com/41326532/81309216-9943f900-907a-11ea-9690-28f991a3323b.png)

Site 2:
![image](https://user-images.githubuserco

[2020-05-07 14:56] aaemnnosttv commented on #1478
@felixarntz that's what it looked like to me, yes. I'll give it another try and see if I see the same thing. Would be great if you could test this on your end as well.

[2020-05-07 15:28] jamesozzie opened #1523 "Site verification fails with roots.io's Bedrock environment"
## Bug Description

As reported in a WordPress support topic a standard Roots.io Bedrock setup results in a site verification failure.

When using Bedrock the default WordPress directory structure is modified, placing all WP files into a `/web` directory. The index.php in the root directly reflects this as below:
`require( dirname( __FILE__ ) . '/wp/wp-blog-header.php' );`

The default admin URL w

[2020-05-07 15:46] jamesozzie commented on #1520
@luizeof Thanks for reporting. Let's close this one with #1116 already open.

[2020-05-07 15:46] #1520 closed

[2020-05-07 16:11] Sidlegionair commented on #1523
Hi @jamesozzie,

I don't suspect the issue is with bedrock's folder structure because we have multiple sites running the same setup (just a branch of same repository with some small mods) and working just fine, the only difference seems to be the absense of Varnish on this website. In fact I just verified https://zzpservicedesk.nl, and it went through just fine.

[2020-05-07 16:12] aaemnnosttv opened #1524 "Analytics adsenseLinked always false"
## Bug Description

The special internal Analytics option for storing the linked state with AdSense (`adsenseLinked`) is always false, even after it is saved as `true`.

## Steps to reproduce

1. Setup Analytics
1. Setup AdSense in a connected state
1. Trigger Analytics `GET:report` with AdSense metrics
1. See Analytics `adsenseLinked` option is still `false`

---------------

_Do not alter or rem

[2020-05-07 16:25] jamesozzie commented on #1523
@Sidlegionair Thanks for the input, very useful. We'll continue to test from our side.

[2020-05-07 16:29] aaemnnosttv opened #1526 "Redirect to splash from dashboard if user lacks permissions or plugin isn't set up"
## Enhancement

If a user lands on the Site Kit dashboard but don't have permissions, (even if you're an admin) you'll run into the ugly WP die screen. If the user is capable of setting up the plugin we should redirect them to the splash screen automatically.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteri

[2020-05-07 16:31] aaemnnosttv commented on #1478
@felixarntz I'm not sure if this is directly responsible for the warning that @cole10up was seeing (I have seen this too before but I don't recall recently or why this happens).

I created https://github.com/google/site-kit-wp/issues/1524 regarding the `adsenseLinked` bug.

[2020-05-07 16:35] felixarntz commented on #1524
IB ✅

(except PR is #1525) 😄

[2020-05-07 16:44] felixarntz commented on #1478
@aaemnnosttv @cole10up The API error itself is expected to happen if the AdSense account or site is maybe not fully configured yet, so I think that is okay. Whenever this error _does not_ happen, `adsenseLinked` is set to `true` (after fixing it in #1524 FWIW), to indicate that Analytics has now recognized AdSense being properly configured for the site.

[2020-05-07 16:57] jamesozzie commented on #1462
Closing this issue as it's not possible to whitelist services when using free tier plan with Site Kit. Users must upgrade plan.

[2020-05-07 16:57] #1462 closed

[2020-05-07 17:01] #860 closed

[2020-05-07 17:01] #1479 closed

[2020-05-07 17:01] #1443 closed

[2020-05-07 17:01] #1032 closed

[2020-05-07 18:09] ernee commented on #1522
#1185 Also related. In some cases, the chart also doesn't have data plotted. Reported in [this support topic](https://wordpress.org/support/topic/no-data-from-analytics-to-google-site-kit-plugin/page/2/#post-12766914) as well.

[2020-05-08 01:09] felixarntz commented on #1517
QA ✅

Creating a new property and profile with new Analytics flow worked as expected.

[2020-05-08 01:09] #1517 closed

[2020-05-08 01:09] #1524 closed

[2020-05-08 01:11] felixarntz commented on #1459
QA ✅

See https://google.github.io/site-kit-wp/storybook/develop/ and https://google.github.io/site-kit-wp/storybook/master/, all working correctly now with images and icons.

[2020-05-08 01:11] #1459 closed

[2020-05-08 01:11] #1404 closed

[2020-05-08 01:12] #1101 closed

[2020-05-08 01:12] #1224 closed

[2020-05-08 01:12] #1470 closed

[2020-05-08 01:13] #1478 closed

[2020-05-08 02:44] #1468 closed

[2020-05-08 02:44] #1515 closed

[2020-05-08 11:38] aaemnnosttv opened #1529 "Add dateRange to core/user store"
## Feature Description

In preparation for refactoring date range select boxes to use the datastore, we need to first add dateRange state and functionality to the `core/user` datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new `assets/js/googlesitekit/datastore/user/date-ra

[2020-05-08 11:47] aaemnnosttv opened #1530 "Add RegistryProvider to all React apps"
## Feature Description

In order for all components to have access all datastores, we should wrap all of our React apps with a `RegistryProvider` to avoid the need to add this provider to each individual component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All React apps (e.g. `GoogleSitekitDashb

[2020-05-08 11:54] aaemnnosttv opened #1531 "Refactor components to use dateRange via datastore"
## Feature Description

Once the datastore foundation is in place in #1529, the existing `DateRangeSelector` should be refactored to use the datastore for its state, rather than WP hooks

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `DateRangeSelector` should use datastore state internally instead of

[2020-05-08 11:55] aaemnnosttv commented on #447
@felixarntz Closing this in favor of #1529 and #1531

[2020-05-08 11:55] #447 closed

[2020-05-08 11:56] luizeof commented on #1520
@jamesozzie after the recent release, I can confirm that this bug persists.

When the Site Verification returns, duplicate the site address, see the url:

´https://powertic.com/pt-br/powertic.com/wp-admin/?action=googlesitekit_proxy_setup&googlesitekit_code=sitekit-....&googlesitekit_site_code...´

[2020-05-08 13:12] tofumatt commented on #1175
QA ✅

[2020-05-08 13:16] tofumatt commented on #1481
Code review 👍

So just assigning to you for the merge.

[2020-05-08 13:42] tofumatt commented on #1530
I think this one should go a bit further: we should have a generic `<Root>` component that adds a datastore, error handler, etc. Anything that we want all components to have access to should be using this component.

I also wonder if it's better to have a custom `render` function that extends `@wordpress/element`'s `render` which would automatically wrap the component passed to it with our compone

[2020-05-08 13:47] tofumatt commented on #1529
There's an issue with the original AC proposed here: it wants to use `__()` inside the data store, but I'm not sure that the datastore has knowledge of the current locale. I assume that it doesn't, and that an `i18n` provider is required for that? At any rate, returning localised values from the data store seems wrong to me; the data store should be returning consistent values and the frontend sho

[2020-05-08 14:44] jamesozzie commented on #1520
@luizeof Thanks for the update. We're still working on this issue at present, with some progress made as of #1116.

[2020-05-08 15:10] felixarntz commented on #1530
I like it, just wondering whether we should do it _yet_. Let's make sure there are no downsides to all the legacy code also being within this provider.

Minor nitpick, can we change `assets/js/components/Root/index.js` to `assets/js/components/root/index.js`? We always use lowercase file/directory names (except in PHP where it's PSR-4 convention).

[2020-05-08 15:19] felixarntz commented on #1531
@aaemnnosttv I wonder if we should create a new component and leave the existing one untouched. This ties into the old data API, and refactoring here could easily result in side effects unexpectedly breaking existing code. Plus refactoring will make this more complicated than it would otherwise be, and maybe we'll have to make weird trade-offs to cater for a legacy edge-case.

On the other hand, o

[2020-05-08 15:20] estereofonico opened #1533 "Google Tag Manager"
Since we're using this plugin, the Tag Manager went crazy, the traffic counts double. When will you gonna add the Tag Manager method to avoid this kind of issue?

This is the major problem of this plugin, just using Analytics when you must use the tag manager.

Thanks for the plugin, best if you work on that issue.

## Feature Description

---------------

_Do not alter or remove anything below. T

[2020-05-08 15:26] felixarntz commented on #1529
Mostly SGTM, but a few points of feedback:
* `getActiveDateRange` should be `getDateRange`.
* I agree with @tofumatt on not returning localized values. I also think the available date ranges should not be managed by this store at all, they can be in a utility function `getAvailableDateRanges` that could include localized values, potentially even functions to transform to `startDate` and `endDate`

[2020-05-08 15:29] jamesozzie commented on #1262
Tested Site Kit setup using region/country specific locations. Unable to recreate the same `http_request_failed` error message but did experience timeouts in some regions.

I was able to recreate the same error using some hosting platforms, in particular for hosting providers who are more restrictive on services permitted.

The issue is most likely service/hosting provider related, with whitelisti

[2020-05-08 16:14] DustinWStout commented on #1304
Bumping this up again because it seems like the only enhancements/additions happening to the plugin are ones that **no publisher is asking for**.

[2020-05-08 17:34] aaemnnosttv commented on #1531
We wouldn't use React hooks in the legacy `dataAPI` since it isn't technically a component.
We could call `Data.select()` directly if we needed to from a function such as `getCurrentDateRange`.  However, the `DateRangeSelector` component is the only place this filter is referenced outside of `assets/js/util/date-range.js`.

Aside from the legacy `dataAPI`, the only other places the `getCurrentDate

[2020-05-08 19:16] aaemnnosttv commented on #1530
Yeah. The registry is just provided via Context to all child components. We only need it once so it makes component refactoring simpler as well. I've added this issue as a dependency of #1531 for this reason.

There should be no downside to adding this. I would imagine that if there was @tofumatt would have flagged that but a quick POC shows that everything seems to work fine 😄

One thing I did no

[2020-05-08 23:18] itsgarryb opened #1535 "Google News Sitemap"
## Feature Description

Hi all,

suggestion: would be nice if features geared toward Google News users were integrated in Site Kit.

Google News Sitemap generation along with an automation that handles update and pingback could be a good start.

Do you see it as something feasible and/or within the scope of this project?

---------------

_Do not alter or remove anything below. The following secti

[2020-05-09 02:36] jqlee85 commented on #1376
@felixarntz I've made those updates and opened up a PR. Here's a screenshot of the table with the last 2 columns hidden and the updates to the mobile padding:
![Screen Shot 2020-05-08 at 7 34 45 PM](https://user-images.githubusercontent.com/4214099/81461813-26627d00-9163-11ea-923b-eb30b1ae6377.png)