[2021-04-14 09:05] aaemnnosttv commented on #3106
@eugene-manuilov please add a QAB 😄

[2021-04-14 09:14] aaemnnosttv commented on #2280
Thanks @Hazlitte ! In this case, I don't think `N/A` is appropriate since these changes may result in test failures (for example if one of these components has a snapshot test), but also there should not be any visual changes as a result of these and `N/A` doesn't really set any expectations about how to handle that. Since both of these are technically possible given the changes we're outlining he

[2021-04-14 10:17] aaemnnosttv commented on #2280
IB ✅

[2021-04-14 12:31] wpdarren commented on #2877
### QA Update:  ✅

**Verified:**

- GA tracking events for interacting with the PageSpeed Insights widget should be added:

`widget_view` triggered once during page lifecycle when the widget becomes visible in the viewport.

![image](https://user-images.githubusercontent.com/73545194/114710076-e850de80-9d5f-11eb-9eda-fd8b6423dae2.png)

`default_tab_view` triggered without user interaction, based o

[2021-04-14 12:54] wpdarren commented on #2904
### QA Update: Fail ❌

@tofumatt from the QAB, I should be seeing the correct widget styles but [looking at Storyboard](https://google.github.io/site-kit-wp/storybook/master/?path=/story/analytics-module-components-dashboard-all-traffic-widget--loaded), it's still showing the incorrect font and alignment for the tabs. This is what I see:

![image](https://user-images.githubusercontent.com/73545194

[2021-04-14 13:37] tofumatt commented on #2904
I think this is a build error—the story looks like this for me locally:

<img width="1107" alt="Screenshot 2021-04-14 at 14 37 01" src="https://user-images.githubusercontent.com/90871/114719348-e3276b80-9d2e-11eb-81f3-a3fde0ed7328.png">

Seems like the Storybook isn't getting updated?

[2021-04-14 13:45] tofumatt commented on #2904
Argh, no, this was my bad setting the QA brief 😆

I copied the URL @aaemnnosttv used in the issue, but it was pointed to the `main` branch which, of course, hasn't updated yet.

@wpdarren: the new URL in the QA brief points to Storybook in `develop`, which should work just fine. Sorry! 😅

[2021-04-14 13:45] wpdarren commented on #2937
@felixarntz I added https and http version of my domain using `URL prefix` but I was unable to see both in the dropdown. I can add a DNS record for the domain and see if that works, but should the different prefixes work?

[2021-04-14 13:50] bethanylang opened #3144 "The Moneytizer plugin results in dashboard error with v1.3.0"
## Bug Description

Two users in the support forum ([here](https://wordpress.org/support/topic/updated-to-1-30-0-and-still-error-in-google-site-kit/) and [here](https://wordpress.org/support/topic/updated-the-plugin-and-still-got-the-error/)) reported still receiving the `Cannot read property 'ea' of undefined error` (#3132) that resulted from the Google Charts API update earlier this week even *a

[2021-04-14 14:47] wpdarren commented on #2183
### QA Update: Pass ✅

**Verified:**

- Checked to make sure the same settings appear between develop and latest release for all modules.
- Went through each module and made sure that the settings behaved the same as latest release, i.e. settings saved, fields behaved the same, i.e. could be made active and deactivate them.
- Tested the behaviour of the individual settings and made sure they funct

[2021-04-14 14:58] wpdarren commented on #2904
### QA Update: ✅

- Verified that the Storybook is fixed for the widget style issues and this matches the style/design in Site Kit dashboard

![image](https://user-images.githubusercontent.com/73545194/114732234-f0ffdf80-9d74-11eb-80f8-bf170051b77a.png)

[2021-04-14 15:50] fluxpixel commented on #852
+1 It makes no sense for only admin users to be able to see metrics

[2021-04-14 16:01] Hazlitte commented on #3056
** QA Eng ** ✅

[2021-04-14 16:55] ivankruchkoff commented on #2991
Thought I could still repro it, but it was just a caching issue.

[2021-04-14 17:03] jamesozzie opened #3148 "Site Kit setup fails with Clickpanda shared hosting -"
## Bug Description
As reported in [a WordPress support forum topic](https://wordpress.org/support/topic/google_api_connection_fail-14/#post-14314196) Site Setup will not proceed with sites using clickpanda.com hosting.

The below appears before setup:

![image](https://user-images.githubusercontent.com/41326532/114744984-23deaf00-9d46-11eb-9271-e0dcf15a1997.png)

After proceeding to try and setup

[2021-04-14 17:09] jamesozzie commented on #3148
After reviewing the error logs it seems Clickpanda have some restrictions on cURL commants.
`Warning: curl_exec() has been disabled for security reasons in /home/anddypark/public_html/wordpress2/wp-content/plugins/google-site-kit/third-party/guzzlehttp/ringphp/src/Client/CurlHandler.php on line 75
`
Updating the user while reaching out to Clickpanda support.

[2021-04-14 17:54] aaemnnosttv commented on #2504
@felixarntz check out https://github.com/marketplace/typo-ci

This would be great to add ahead of our upcoming work to add contributor docs.

[2021-04-14 19:52] marrrmarrr commented on #342
@adamsilverstein @felixarntz I raised this with the Tag Assistant team a while ago and they are not making any more updates to the Chrome extension.
They recommend everyone migrate away from the Chrome extension and to https://tagassistant.google.com/
https://support.google.com/tagassistant/answer/10042782

[2021-04-14 19:52] #342 closed

[2021-04-14 19:59] marrrmarrr commented on #2908
@felixarntz are we able to accurately detect all of the 3 sub-cases Bethany outlined in the description?

[2021-04-14 21:26] adamsilverstein commented on #2817
@marrrmarrr Right. We could add the check even before the user submits the form (on activation or in settings).

We would do something like request the home page with a special query parameter that causes a test tag to be inserted only for that page load. The check would verify that process works - essentially testing that the active theme properly fires the `wp_head` action.

If the test tag does

[2021-04-14 21:28] adamsilverstein commented on #342
Great, thanks for the update.

On Wed, Apr 14, 2021 at 1:52 PM marrrmarrr ***@***.***> wrote:

--
Adam Silverstein | Developer Relations Engineer | ***@***.***

[2021-04-14 22:15] felixarntz opened #3149 "Idea Hub"
## Feature Description

Asana epic Overview Tab: https://app.asana.com/0/1187285612876218/overview featuring all useful links to epic documentation

Design doc: https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit#heading=h.cuhabxvhd2sx

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptanc

[2021-04-14 22:33] felixarntz opened #3150 "Scaffold Idea Hub module class"
The new Idea Hub module should have its PHP module class scaffolded and added, behind a new feature flag for it. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There sh

[2021-04-14 22:40] felixarntz opened #3151 "Add ideaHubModule feature flag"
There should be a new `ideaHubModule` feature flag to control availability of the new Idea Hub module. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a

[2021-04-14 22:45] felixarntz opened #3152 "Scaffold Idea Hub JS asset and datastore"
The new Idea Hub module needs to have a JS asset for client-side functionality, and its datastore should be scaffolded. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* T

[2021-04-14 22:48] felixarntz opened #3153 "Register Idea Hub JS asset in Idea_Hub PHP class"
To connect the work from #3150 and #3152, the new Idea Hub module class in PHP should register the new Idea Hub JS asset. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

[2021-04-14 22:55] tofumatt commented on #3119
@felixarntz Ah, indeed, thanks! 👍🏻

I adjusted it to mention using the widget CSS approach and not directly use the code, just to clarify. But sounds good 🙂

[2021-04-14 23:31] felixarntz opened #3154 "Implement wrapping infrastructure for dealing with WordPress post metadata"
As part of the Idea Hub module functionality, it will be necessary for the first time in Site Kit to deal with post metadata. Therefore, we should add basic infrastructure wrapping the relevant WordPress API (similar to e.g. `Options` and `User_Options` classes). [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

-

[2021-04-14 23:47] felixarntz opened #3155 "Implement Idea Hub infrastructure (with mocks) for querying new ideas"
The Idea Hub infrastructure to retrieve new ideas should be implemented, with mock data for now since we cannot use the real API yet. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2021-04-14 23:50] felixarntz opened #3156 "Implement Idea Hub infrastructure for querying saved ideas"
The Idea Hub infrastructure to retrieve saved ideas should be implemented, with an empty response for now since we cannot use the real API yet. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2021-04-15 00:02] felixarntz opened #3157 "Implement infrastructure for storing Idea Hub idea information with WordPress posts"
Since the Idea Hub module will allow creating WordPress posts based on Idea Hub ideas, it should be possible to store an idea's full information within a post. [See more information on the overall approach](https://docs.google.com/document/d/1mIBLvv-v2Y3OMiHsOn5kMu3Fnt-wAqbWDnAiuraTy0k/edit).

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2021-04-15 00:36] tofumatt commented on #3058
Assigning @asvinb and @Pratheep-lab to get your thoughts on my comment in the PR: https://github.com/google/site-kit-wp/issues/3058#issuecomment-814773079

Looks like the IB here might cause some regressions, so we should take the bits about margin out or we should tweak them to work better on mobile.

[2021-04-15 00:58] felixarntz commented on #2105
@ivankruchkoff Mostly LGTM, just the names `2char` / `5char` indeed sound a bit odd and too specific/technical to me. I'd rather go with something more intuitive like `language` / `locale` maybe? The suffixes that WordPress may add (e.g. `-formal`) are usually unsupported and in no way standardized. As far as I'm aware, the first segment identifies the language, and together with the second segmen

[2021-04-15 07:06] ivankruchkoff commented on #2105
Updated to `language-code` and `language-variant`.

Some places call it a locale, others a variant. I'm happy with either.

Alphabet `Latn`/`Cyrl` is an optional parameter, but also in this case, it's irrelevant as WordPress doesn't have these locales available to choose from.

I took the full list of available languages from WordPress admin (5.7):
https://gist.github.com/ivankruchkoff/e0c804929d4

[2021-04-15 07:46] aaemnnosttv commented on #3098
@felixarntz assigning to you to determine the specific wording to be used.

[2021-04-15 09:00] aaemnnosttv commented on #3083
@felixarntz we should probably get @aarondruck 's input here as to how these inconsistencies should be resolved.

Ideally, it would be great if we could extract a common (wrapper) component that the various dashboards would all share.

[2021-04-15 10:32] marrrmarrr commented on #2817
Thanks @felixarntz, my thought here was that we've decided to take action on this, so it should not be left in the backlog. I'll make a note for the future.

@adamsilverstein from what you're suggesting it sounds like we can do this check in the UI before they hit submit and display something along the lines of the [compatibility checks](https://google.github.io/site-kit-wp/storybook/develop/?path

[2021-04-15 10:35] marrrmarrr commented on #1292
@aaemnnosttv would there ever be a case where the snippet is inserted but the service is not connected?
If not, then we can rephrase this everywhere to "$PRODUCT snippet is inserted".

[2021-04-15 10:44] marrrmarrr commented on #209
@aarondruck The admin bar is the bar on top of wp-admin, which also shows if you browse your site while you're logged in. Site Kit has a menu item there which shows stats for that particular page:
<img width="1353" alt="Screen Shot 2021-04-15 at 12 42 05" src="https://user-images.githubusercontent.com/13304791/114857075-25f94a00-9de8-11eb-8b23-36755d2d22bd.png">

From previous UXR studies, many pe

[2021-04-15 11:00] eugene-manuilov commented on #3060
@johnPhillips could you please add QAB?

[2021-04-15 11:13] asvinb commented on #3058
@tofumatt I just updated the PR where I reduced the margin on small screens. Can you check again?

Thanks!

[2021-04-15 12:52] wpdarren commented on #2695
QA Update: Pass ✅

**Verified:**

- When the URL is in camel case, and Google Adsense was reconnected, the URL was recognised.
- This was tested on a .ninja site as per QAB, and live domain, when the URL was changed in WordPress settings.

![image](https://user-images.githubusercontent.com/73545194/114871979-709cb580-9e2c-11eb-96eb-628728b27339.png)

[2021-04-15 13:16] johnPhillips commented on #576
@felixarntz I picked up https://github.com/google/site-kit-wp/issues/656 and have been working through the IB. It covers adding currencies to the values in `LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable`,  `DashboardTopEarningPagesWidget` and `ModuleTopEarningPagesWidget`.

Just wondering if this issue is effectively a duplicate?

[2021-04-15 13:23] wpdarren opened #3160 "UX/UI improvement when cancelling setup on Google authorisation page"
## Bug Description

This is more of a UI/UX improvement, rather than a bug.  When connecting your Google account for Site Kit, if you cancel the setup in the Google Authorisation screen ([Screenshot](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/89a64fa3-fb2d-4a6c-b66a-851b2fefc3de)), you are redirected to WordPress Dashboard and receive a message `The Site Kit setup was interrupte

[2021-04-15 13:55] asvinb commented on #3091
@felixarntz @aaemnnosttv I had a look at the current implementation for the "Total Earnings" changed values. Turns out that we are not showing the changed value compared to the previous period, but showing the value for the [current day](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/adsense/components/dashboard/DashboardSummaryWidget.js#L164), which is something I think is m

[2021-04-15 14:43] marrrmarrr opened #3161 "Enable easy code placement for Ads ID"
## Feature Description

For sites with gtag.js (meaning Site Kit has placed the GA tag, can be either existing or newly provisioned accounts), enable the user to copy their Ads ID and incorporate that into the gtag.js snippet.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* For sites with gtag.js (Anal

[2021-04-15 14:54] Pratheep-lab opened #3162 "Page Speed widget - "Mobile" & "Desktop" icon change"
On the Page Speed widget found at the bottom of the SK dashboard, the mobile and desktop icons need to be changed to standard material design icons.

Current screenshot showing Page speed widget:
![image](https://user-images.githubusercontent.com/81642523/114890072-9b721400-9e02-11eb-90d2-f4aec513ba3a.png)

_Do not alter or remove anything below. The following sections will be managed by moderator

[2021-04-15 15:10] Hazlitte commented on #2977
**QA Eng** ✅

With the `ga4setup` feature flag enabled the `googlesitekit-modules-analytics-4.js` script is loaded in admin.

[2021-04-15 15:59] gerardreches commented on #1891
Hi!

Are there any news about this feature implementation? Do we at least have any action or filter available to hook into for now?

[2021-04-15 18:38] felixarntz commented on #1891
@gerardreches This is currently being worked on and should be included in one of the upcoming plugin releases. In the meantime, you can always override the default behavior using the `googlesitekit_analytics_tracking_disabled` filter, which expects a boolean.

[2021-04-15 19:02] felixarntz commented on #2430
@marrrmarrr I've defined the ACs here as discussed earlier, ready for the new copy now.

[2021-04-15 19:07] felixarntz commented on #2908
@bethanylang Regarding your first point, I've thought about this one, and I'm not sure how we can reliably detect that, so I'd suggest to modify the message we currently have to be more specifically about that Site Kit is not able to reliably place tags on the homepage / in the frontend, providing the use of a caching plugin or maintenance plugin as potential reason.

Regarding your 2nd and 3rd bu

[2021-04-15 19:26] jamesozzie commented on #2908
@felixarntz I can jump in on this one. I did [some testing](https://app.asana.com/0/1185360131189553/1199938125092438/f) and I added steps to reproduce this in cases where a site is defined as http although it had https available. You'll find a recording of this in the task, with the caching notice easily reproducible.

[2021-04-15 20:05] tofumatt commented on #3058
I'm assigning this back to you @asvinb because you worked on the IB and the tweaks to the PR, but let me know if you can't get to it and feel free to reassign this 😅

[2021-04-15 20:11] felixarntz commented on #576
@johnPhillips From an ACs perspective, these two are not duplicates since this one only touches the AdSense module page while #656 only touches the overall Site Kit dashboard. As far as I can tell:
* The `LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable` component is related to this issue, not #656. Instead, the `LegacyAdSenseDashboardWidgetTopPagesTableSmall` component is the one that relates t

[2021-04-15 20:13] bethanylang commented on #2908
Thanks, @jamesozzie!

@felixarntz That makes sense to me. Just make the language broader than "caching" would be really helpful here, so folks have a better idea of where to look.

[2021-04-15 20:48] felixarntz opened #3164 "Display UA property IDs next to property names in dropdowns"
While this issue is not strictly related to GA4 and will immediately result in a user-facing change, it is a step towards GA4 where this will be more crucial; as it is now, it is still an enhancement, since sometimes the name of a property may be duplicated and therefore not clearly indicate which property it is.

---------------

_Do not alter or remove anything below. The following sections will

[2021-04-15 20:58] felixarntz opened #3165 "Remove GA4 account ID setting since it is the same as UA account ID"
While eventually both the `analytics` and the `analytics-4` module need to support a setting for the account ID, the accounts are the same within both ecosystems. Therefore, the `accountID` setting in the `analytics-4` module should be removed for now, and if it is needed anywhere should be taken from the `analytics` module which is a requirement to have active anyway.

---------------

_Do not al

[2021-04-15 21:02] felixarntz opened #3166 "Implement GA4 PropertySelect component in JS"
There should be a GA4 version of the existing UA `PropertySelect` component, which covers the same functionality for GA4 properties.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new GA4 `PropertySelect` component in `assets/js/modules/analytics-4/components/common/PropertySelect.js

[2021-04-15 21:09] felixarntz opened #3167 "Implement selector to get all UA + GA4 properties"
There should be a selector to get all Analytics properties, i.e. including both UA and GA4. The transitional UI for users that have both UA and GA4 should be implemented as part of the `analytics` module, as such this selector should become part of the `modules/analytics` datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2021-04-15 21:34] felixarntz opened #3168 "Allow matching a GA4 property by data in its web data stream"
For UA properties (i.e. the current `analytics` module), we're trying to match a property in two situations:
* When trying to find the default property to show in the dropdown, we try to match a property by the current site URL.
* When checking whether the current user has access to an existing tag, we try to match a property by the current tag ID.

In GA4, unfortunately this becomes more complica

[2021-04-15 21:42] felixarntz opened #3169 "Implement GA4 selector to check if Admin API is generally working correctly"
The GA4 implementation will initially rely on an alpha version of the Analytics Admin API, which is clearly problematic in a way, but is currently needed. Furthermore, given that the GA4 functionality at this point is not essential to using Site Kit, it will entirely be implemented in a way that, should one of the key API requests fail, the functionality is ignored, assuming that there was a break

[2021-04-15 21:53] felixarntz opened #3170 "Implement Analytics datastore infrastructure to determine which UI to display (UA vs GA4 vs both)"
Now that we have both an UA Analytics module (`analytics`) and an (internal) GA4 Analytics module (`analytics-4`), we need to cater for a combined setup flow. At this point, the `analytics` module is still the source of truth and required, and the `analytics-4` module solely provides extra functionality purely related to GA4. Eventually, they will be further decoupled though until at some point th

[2021-04-15 22:02] felixarntz opened #3171 "Implement Analytics datastore infrastructure to control primary property type in GA4-transitional flow"
Related to #3170 (learn more about the different setup flows between UA and GA4 there), if the "ga4-transitional" setup flow mode is active, we will eventually have a single dropdown which lists _all_ Analytics properties (i.e. including both UA and GA4, see also #3167). In addition to that, there will also be a dropdown to choose the respective other one (e.g. if you choose a GA4 property in the

[2021-04-15 22:23] felixarntz commented on #938
@aaemnnosttv Hmm, not sure. What's the problem of calling `get_instance`? I'd rather not introduce "static classes" just to make it more straightforward to unhook a method. Unhooking methods on a main "instance" is a practice I've seen in other object-oriented plugins as well.

[2021-04-15 23:22] jamesozzie commented on #3144
I've performed some testing on this. Reproducible as per this [recording](https://recordit.co/OX2ycJIRv9), more insights below:

- Site Kit 1.30.
- Moneytizer 8.1
- New WordPress install, only Jetpack active
- The dashboards errors appear when clicking on the Analytics tab only, reproducible as per suggested steps in original post
- Commenting out the Google charts enqueue file below (in [this lin

[2021-04-15 23:40] jamesozzie opened #3172 "The "Earnings" widget on the primary Site Kit dashboard displays AdSense earnings for administrators who haven't been provided access to that AdSense account"
## Bug Description

At present when a secondary WordPress administer sets up Site Kit they can view the earnings for that site even if the Google account which they're used to setup Site Kit does not have access to that AdSense account.

This was [raised in the WordPress support forums](https://wordpress.org/support/topic/site-kit-adsense-query/#post-14323345) and reproducible in support on one si

[2021-04-16 00:48] jamesozzie commented on #3070
@felixarntz @adamsilverstein Before closing this issue as the behaviour is expected, should a title change alone result in duplicate listings in the "Most Popular Content" table? Given the listings are pulled from Analytics and the final URL, total views and the "Detailed Page View" point to the same destination (as per [this demo](https://recordit.co/dn1FTibcNO))

[2021-04-16 07:08] cole10up commented on #2066
@johnPhillips - Can we get some QA notes on this one? Giving me an idea what to focus on for testing. I assume regression around Adsense as a whole but I want to be sure.

[2021-04-16 07:32] asvinb commented on #3058
@tofumatt I replied to you here: https://github.com/google/site-kit-wp/pull/3143#issuecomment-820978323 Basically in Storybook we have extra padding on the sides which is causing the content area to shrink :)

[2021-04-16 08:11] aaemnnosttv commented on #2941
@felixarntz – assigning to you regarding a question I have on the PR.

[2021-04-16 08:22] aaemnnosttv commented on #1292
@marrrmarrr maybe for AdSense since I think the snippet needs to be output before setup can be completed 🤔  (@felixarntz ?)

"connected" here is essentially means "set up complete", which is useful to show since this list will show all active modules (whether setup has been completed or not). It is very much possible for a module to be set up, without the snippet inserted since we have a setting f

[2021-04-16 08:30] aaemnnosttv commented on #3091
@asvinb I think that was intentional, but I agree that it isn't clear since it isn't labelled as such anywhere. Not sure if there is an easy fix for that which fits in the current design. Maybe just prefixing it with `Today: {earnings}`

The change arrow there is also a bit redundant since it would never be negative (I hope? 😆 )

Thoughts @felixarntz ?

[2021-04-16 08:36] cole10up commented on #2992
### **QA ✅**

Setup goals on my personal site, confirmed the alignment below after the merge in develop:
![image](https://user-images.githubusercontent.com/57115907/114996616-dc464900-9e53-11eb-940f-fcb0998de1e8.png)

Checked window sizes:
![image](https://user-images.githubusercontent.com/57115907/114996712-f2eca000-9e53-11eb-949e-668ed016b0a1.png)

![image](https://user-images.githubusercontent.

[2021-04-16 12:46] wpdarren commented on #3012
### QA Update: Pass ✅

**Verified:**

- Analytics module settings display the same list of accounts, properties and profiles between `develop` and the `latest release`.   Latest release - [Screenshot](https://user-images.githubusercontent.com/73545194/115026080-a4dba900-9ef4-11eb-9fe8-8cacfb150856.png) & Develop branch - [Screenshot](https://user-images.githubusercontent.com/73545194/115026098-ab6

[2021-04-16 13:06] johnPhillips commented on #576
Hi @felixarntz, thanks for clearing this up.

I was looking at the IB on  #656 and I think that's where the confusion is. It mentions `LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable` and `ModuleTopEarningPagesWidget`, which should be (as you say) covered by this ticket. It also makes no mention of `LegacyAdSenseDashboardWidgetTopPagesTableSmall`.

I'm most of the way through that IB now, and i

[2021-04-16 13:10] tofumatt opened #3174 "Storybook padding causes issues (on small viewports)"
## Bug Description

As mentioned in this comment: https://github.com/google/site-kit-wp/pull/3143#issuecomment-820978323, Storybook's mobile viewport settings in our Storybook site adds `50px` of padding on the left and right. This causes issues using Storybook to test the output of our components, especially on mobile viewports where a `320px` width is actually more like `220px` 😓

## Steps to re

[2021-04-16 13:20] abdullah1908 commented on #3144
[Another user](https://wordpress.org/support/topic/site-kit-encountered-an-error-even-in-version-1-30/) reported the same issue & have installed The Monetizer plugin.

[2021-04-16 13:20] wpdarren commented on #2886
### QA Update: Engineer clarification ⚠️

@danielgent when I look at the main and develop storybook screens:

- Final screen: "You can always edit" text looks the same on both main and develop. I could not see any difference.

Is this how it should look?

![image](https://user-images.githubusercontent.com/73545194/115030057-3cdb9180-9ef9-11eb-8a61-faf0c3aec6a8.png)

Also, when I updated my test si

[2021-04-16 13:26] johnPhillips commented on #2888
@aaemnnosttv My mental model of this was that the profileID was emptied...

https://github.com/google/site-kit-wp/blob/d0d782517a334a89070d1db9044f259ad799281d/assets/js/modules/analytics/datastore/properties.js#L177

...and then either the `defaultProfileId ` is used to select a profile,
https://github.com/google/site-kit-wp/blob/d0d782517a334a89070d1db9044f259ad799281d/assets/js/modules/analytic

[2021-04-16 13:27] wpdarren commented on #2886
### QA Update: Pass ✅

**Verified:**

With small screen size (mobile devices):

- Fifth screen: "Separate with commas" text is left-aligned - [Screenshot](https://user-images.githubusercontent.com/73545194/115031051-54ffe080-9efa-11eb-94be-48d866fa08e4.png)
- Final (preview) screen: "You can always edit" text is left-aligned  - [Screenshot](https://user-images.githubusercontent.com/73545194/115031

[2021-04-16 13:27] aaemnnosttv commented on #2908
@felixarntz `fetch` follows redirects by default so that shouldn't be a problem.

[2021-04-16 15:23] aaemnnosttv opened #3175 "Consolidate JS linting and JS tests workflows into one"
## Feature Description

In #2969 we overhauled our GitHub actions to be much more selective with when each of them runs to be more efficient with build time. This issue is intended to further enhance that by combining JS linting and tests into a single workflow so that JS tests don't run if there is a linting failure.

---------------

_Do not alter or remove anything below. The following sections

[2021-04-16 15:23] aaemnnosttv commented on #3175
@tofumatt anything you want to add/change here?

[2021-04-16 18:41] jamesozzie commented on #3148
Clickpanda have made some modifications to their Shared Hosting solutions as outlined below, which has allowed Site Kit setup to proceed:

Closing this issue while updating the impacted user.

[2021-04-16 18:41] #3148 closed

[2021-04-16 19:20] felixarntz commented on #2993
@wpdarren Ah good observation, yeah this looks weird as is. A new follow-up issue sounds great, thanks!

[2021-04-16 19:25] felixarntz commented on #2937
@wpdarren Just to make sure, have you checked https://www.google.com/webmasters/verification/home? This has a list of all URLs / properties you're verified for. Do both show up there as expected? Otherwise, it would be great if you could test this for a domain property too.

Actually, there may be a small issue here regarding URL properties that came from the ACs; @eugene-manuilov Right now we onl

[2021-04-16 19:27] felixarntz commented on #3144
My initial intuition is that that plugin also uses the Google charts library, and maybe they are loading it unconditionally even on Site Kit-controlled screens. Basically they're still loading the version that Site Kit has had the conflict with, and the problem is they might be loading it in more places than they should.

I can have a look to verify, but if that's the case, the problem lies on the

[2021-04-16 19:39] felixarntz commented on #3144
Indeed, this is a problem in the "The Moneytizer" plugin, they load their CSS and JS unconditionally on all admin screens of WordPress, which causes this problem in Site Kit (see https://plugins.trac.wordpress.org/browser/the-moneytizer/trunk/themoneytizer-config.php#L3). I'm not sure what the best strategy is here, but this needs to be fixed on their end.

[2021-04-16 19:50] felixarntz commented on #2105
@ivankruchkoff Thanks for the detailed analysis!

The new names you're proposing sound solid to me. Regarding the approach, I think we may need to be a bit more fine-grained than just saying 2 or 5 characters. How about the following:

* Split the WordPress locale string by underscore.
* If `language-code`, return the first segment (no matter how many characters, realistically that's 2 or 3).
* If

[2021-04-16 19:52] felixarntz commented on #1941
@aaemnnosttv I like the approach you're suggesting, great! IB ✅

[2021-04-16 19:55] felixarntz commented on #3091
Good catch @asvinb! I think we should change this then to also refer to the previous period, like we have elsewhere in the dashboard. Daily values can be still found in the AdSense module page. I've added a point for this in the ACs.

[2021-04-16 20:17] bakoorahnin opened #3178 "contributing"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2021-04-16 20:20] felixarntz commented on #2821
@ivankruchkoff I wonder if it would be simpler to do it the other way around:
* Rather than stripping something from the path that Analytics API responses return, conditionally based on whether the base site URL includes a path, it might be easier to only prefix these URLs with the base site URL _without_ any path segment.
* The Analytics paths returned are always the full paths, relative to the d

[2021-04-16 20:21] bakoorahnin opened #3179 "contributing"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2021-04-19 01:25] ivankruchkoff commented on #2105
@felixarntz

- Updated the QA instructions to ensure we test a few languages that could cause bugs.
- Updated the IB to have `language-code` be everything before first underscore, and `language-variant` everything before the second underscore as there is currently no scenario in WordPress where a Site Language contains an underscore but is then followed by capital letters.

[2021-04-19 03:25] ivankruchkoff commented on #2821
@felixarntz

The proposal doesn't conditionally exclude things and its implementation is mostly in the IB:

[code]

Take the full path from analytics, combine it with the the site url, and then remove the site url. This lets us make minimal change in the legacy code without having to touch `getDataTableFromData`. We could if we wanted to not even remove the site url, and just do the following:

[c

[2021-04-19 05:49] ivankruchkoff commented on #2888
Followed the IB, but having some difficulty repro-ing the original issue.

[2021-04-19 08:59] #3179 closed

[2021-04-19 09:00] #3178 closed

[2021-04-19 09:04] aaemnnosttv opened #3182 "Introduce new integration between Storybook and Backstop"
## Feature Description

With the update to Storybook to v6, we've started migrating a few of our stories to use the new Component Story Format in line with our documentation for how stories should be written going forward.

While Storybook is very useful by itself, we also use it as the basis for our visual regression tests using BackstopJS. Currently, all VRT scenarios are defined in a giant arra

[2021-04-19 09:06] tofumatt opened #3183 "E2E Tests fail with Jest console output failure in WordPress Nightly"
## Bug Description

The WordPress Nightly E2E tests have started failing since last week, because there is an unexpected console output in the block editor:

<img width="1012" alt="Screenshot 2021-04-19 at 10 02 18" src="https://user-images.githubusercontent.com/90871/115210263-5695f800-a0f6-11eb-8b0c-8cf2735f2168.png">

Oddly, this [change is from _years ago_](https://github.com/WordPress/WordPre

[2021-04-19 09:06] aaemnnosttv commented on #3182
@felixarntz anything to add here?

[2021-04-19 09:23] jamesozzie commented on #2908
[One more example](https://wordpress.org/support/topic/the-necessary-verification-token-could-not-be-found-on-your-site-7/) in the support topics today, a user has a maintenance mode feature active (via their Bluehost CP as opposed to a plugin).

[2021-04-19 09:38] aaemnnosttv commented on #3183
Weird indeed. I tried to see if WP had anything to account for this, but it's only expected in one test for the parser itself. Maybe it has to do with something in the newest version of the default theme and the fact that we install Twenty Twenty after the dummy posts are created in the E2E provisioning? I'm not really sure but it isn't worth digging into at the moment since this is very minor and

[2021-04-19 09:40] aaemnnosttv commented on #3183
## QA ✅

![image](https://user-images.githubusercontent.com/1621608/115215653-63bde180-a10c-11eb-82c5-cb626b38e659.png)

[2021-04-19 10:02] jamesozzie opened #3185 "Cannot read property '0' of null"
## Bug Description

There have been reports of the below dashboard error, occurring once the primary Site Kit dashboard is accessed.

No further insights at present, unreproducible in support without sufficient steps to reproduce.

[code]

Impacted support topics:

- https://wordpress.org/support/topic/error-1517/#post-14335700 | SK 1.30.0 | **Closed - no response**
- https://wordpress.org/support

[2021-04-19 10:36] Hazlitte commented on #2910
@eugene-manuilov Thank you for your comment.  I have updated in the IB accordingly.

[2021-04-19 10:49] aaemnnosttv commented on #938
@felixarntz to recap our other conversation:

- We can expose a `googlesitekit_generator` filter on the output like WP does giving users full control of the output
- Did we agree to move the tag outside of the Plugin class? I would still opt for that, but not a requirement of this issue. We could keep it in place and just add the filter for now if you want. The added filter decouples how/where it

[2021-04-19 11:11] Hazlitte commented on #3060
**QA Eng ✅**

[2021-04-19 11:23] Hazlitte commented on #3119
**Q Eng ✅**

[2021-04-19 12:09] eugene-manuilov opened #3187 "Prevent dashboard feature tours from being triggered during module setup"
## Feature Description

We probably need to update tooltip tours to avoid popping up on the module setup pages. It is not a big deal and a user can always close it for sure, but it would be more convenient if we just don't display tooltip tours there.

![sitekit 10uplabs com_wp-admin_admin php_page=googlesitekit-dashboard slug=optimize reAuth=true](https://user-images.githubusercontent.com/873049/

[2021-04-19 12:13] wpdarren opened #3188 "User Input UX/UI improvement for Multiple Select Questions"
## Bug Description

On the User input screens, when the user is on a multiple select question, i.e. question 3 and 4.  The user selects an answer other than `Other` the screen is grey and inactive, but the `Type your own answer` text stands out still. I am wondering if this could be also greyed out so it looks inactive like the rest of the form.

![image](https://user-images.githubusercontent.com/

[2021-04-19 12:36] eugene-manuilov commented on #2937
@felixarntz I have created a PR for it: #3189. Do you mind reviewing it?

[2021-04-19 13:28] wpdarren commented on #3064
### QA Update: Fail ❌

@johnPhillips three observations:

1) the organic search in the pie chart is displaying 472 users, where the Unique Visitors from Search' data shows 551 unique visitors.  Should these be the same?  When I ran the report directly in Analytics, 551 was the result, but would like to check because I wonder if the difference will create confusion?

2)  When I click on the `Source

[2021-04-19 13:38] adamsilverstein commented on #3070
I would expect them to since the list shows posts by title, not URL/slug.

More importantly though, how do these URLs show up the the Search Console product UI? are they duplicated there as well? We should probably match that behavior.

[2021-04-19 14:27] tofumatt commented on #2979
QA ✅

[2021-04-19 14:31] wpdarren commented on #2983
### QA Update:

**Verified:**

These tests were run all widgets on the Google Analytics module in Site Kit.

- Tested on 90 days - dates in Analytics (19 Jan 2021-18 Apr 2021)
- Tested on 28 days - dates in Analytics (22 Mar 2021-18 Apr 2021)
- Tested on 14 days - dates in Analytics (12 Apr 2021-18 Apr 2021)
- Tested on 7 days - dates in Analytics (12 Apr 2021-18 Apr 2021)

[2021-04-19 14:33] tofumatt commented on #2980
QA ✅

[2021-04-19 14:44] jamesozzie commented on #2998
@ivankruchkoff @felixarntz In the case whereby a user has all templates served as AMP but has disabled AMP on a particular post or page will any change made to this account for such situations? More details in [one of the comments](https://github.com/google/site-kit-wp/issues/2998#issuecomment-803966345) above?

[2021-04-19 14:56] tofumatt commented on #3106
QA ✅

[2021-04-19 14:57] wpdarren commented on #3011
### QA Update:  Engineer for clarification ⚠️

@johnPhillips this passes the QAB, but I noticed error messages in the console and wanted to make sure that this was correct.  There are a number of errors with the same message  `Google Site Kit API Error method:GET datapoint:earnings type:modules identifier:adsense error:"You are probably offline."` This might be expected but wanted to check.

**Ver

[2021-04-19 15:03] tofumatt commented on #2981
QA ✅

[2021-04-19 15:04] wpdarren commented on #2937
@felixarntz - yes, both URLs are verified and show up as expected.

Since @eugene-manuilov has created a PR, I am going to put this to Code Review. Please assign me and move it back to QA and I will run through the testing on this + test it with a domain property too.

[2021-04-19 15:34] bethanylang commented on #3144
Per discussion in today's meeting, this issue needs to be fixed on The Moneytizer plugin. @jamesozzie will reach out via their support forum to request a fix. James, when you've done so, can you please close out this issue and link to your support topic? Thank you!

[2021-04-19 15:48] johnPhillips commented on #3064
@wpdarren Thanks for the review.

Something funny might be going on here, I think...
This is my local environment - the figures match up:

![Screenshot 2021-04-19 at 16 35 38](https://user-images.githubusercontent.com/2470911/115263655-81e80980-a12d-11eb-961d-eb0ad2ff8bb0.png)

The source link under 'Unique visitors from search' points at `acquisition-channels`, and the duration on the report is 2

[2021-04-19 15:56] johnPhillips commented on #3011
@wpdarren thanks for checking.
I believe that's all to be expected. The console is telling you that the client (i.e. the browser) has blocked the requests. That will be the ad blocker.

[2021-04-19 16:06] johnPhillips commented on #2888
Hey @ivankruchkoff this took me a while to get working as well.
I needed to add my existing analytics tag to get it working:
- Go to settings / analytics and copy the property name (e.g. `UA-12345678-3`)
- Go to tester settings and paste it into the 'place existing analytics tag' field.

Let me know if that helps - if that's the issue we should add it to the QAB so it doesn't trip anyone else up.

[2021-04-19 16:17] wpdarren commented on #3011
### QA Update: Pass ✅

**Verified:**

When user visits the Site Kit dashboard and scrolls down to the AdSense components under the Earnings heading, an ad blocker warning where the widgets would normally be.  - [Screenshot](https://user-images.githubusercontent.com/73545194/115269275-0be6a100-a133-11eb-9095-969714d4b149.png)

[2021-04-19 16:20] wpdarren commented on #3064
@johnPhillips let me go through my test site and make sure it is not a caching issue.

[2021-04-19 16:58] asvinb commented on #3091
Thanks @felixarntz . @aaemnnosttv Can you review the IB? thanks!

[2021-04-19 17:08] felixarntz commented on #3182
@aaemnnosttv Nothing to add, lgtm. I've marked this as blocked by the other three issues for the Storybook v6 migration though, since they should be done first, to then be amended here for VRT.

[2021-04-19 17:23] felixarntz commented on #3102
@eugene-manuilov Can you add a QA Brief to this one please?

[2021-04-19 17:47] eugene-manuilov commented on #3102
QAB is added.

[2021-04-19 18:05] danielgent commented on #3072
So I'm a bit concerned that the IB says `"there should be few/none, but it's possible a few useEffects might have legitimate dependency mismatches."`

But running eslint with the new rule gives 110 errors!

The `useEffects` that have an empty dependency array could be replaced with `react-use`'s `useMount` (we already have this NPM packages as a dependency and just `TourTooltips` is using `useMoun

[2021-04-19 18:10] Hazlitte commented on #3072
@danielgent Are you ok for me to assign it back to myself?

[2021-04-19 18:12] Hazlitte commented on #3072
@danielgent I can pick another ticket if you would like to work on this one.  No problem at all 🙂

[2021-04-19 18:14] danielgent commented on #3072
@Hazlitte I don't mind. Push up your branch if so though and I can continue. Just let me know

I'm a bit concerned though that the IB doesn't expect there to be many errors. So I think just disabling eslint is fine until we discuss more.  This eslint-plugin is really needed for hooks development so we do want it installed going forward

Apologies for the unassign. I'm getting used to ZenHub and I

[2021-04-19 18:17] Hazlitte commented on #3072
@tofumatt Note that the IB may need updating as @danielgent points out, enabling this eslint rule generates 110 linting errors.

[2021-04-19 18:29] felixarntz opened #3192 "Only run GH actions for PRs against specific branches"
While we restrict our GitHub actions for pushes to only run against `main` and `develop`, we don't do that for pull-requests - they currently trigger the workflows no matter which branch a PR is opened against.

This currently causes quite some overload in our Actions queue, which is largely caused by a separate branch `feature/swg-module` (in which an early exploration for a potential future feat

[2021-04-19 18:38] danielgent commented on #3072
Interestingly adding `"react-hooks/rules-of-hooks": "error"` generates *no* errors!

[2021-04-19 18:51] felixarntz commented on #3192
@aaemnnosttv I've already pushed the same changes that are in #3193 to the feature branch in question, to prevent more workflows from spinning up. This effectively serves as QA I'd argue :)

[2021-04-19 19:02] Hazlitte commented on #3130
Hi @felixarntz, I'm not sure what to do about test coverage here.  I checked the PHPUnit files and there isn't a test file for the Permissions class.

[2021-04-19 19:08] ivankruchkoff commented on #2888
Thanks @johnPhillips  Instructions helped, updated the QA / repro instructions.

[2021-04-19 19:41] felixarntz commented on #2821
@ivankruchkoff I think I see where our misunderstanding is coming from now; your approach for the IB goes further than what is specified in the ACs:
* The ACs only refer to changing the behavior for when the site URL is combined with a path. This is the case for example in the full site URLs that the data tables may link to.
* Your IB focuses on stripping the path prefix from the path if it is alr

[2021-04-19 19:43] felixarntz commented on #2105
@ivankruchkoff Sounds good! IB ✅

[2021-04-19 19:50] felixarntz commented on #938
@aaemnnosttv I think we should keep the output in the class for now. Since we go with the simple filter approach, it won't be necessary to make access simpler in 3P code. It might generally make sense to outsource the code into a separate class, but I don't think it's really worth it, and we can keep this quite straightforward as is. I've updated the ACs and IB accordingly.

[2021-04-19 19:53] felixarntz commented on #2937
@wpdarren Ready for re-QA after the update (please use the `main` branch for this one since it is part of the release).

[2021-04-19 20:10] aaemnnosttv commented on #3192
IB+CR ✅

[2021-04-19 20:32] felixarntz commented on #1408
This is now being tracked via a separate issue #3053, please follow along there for any updates. I will close this one as duplicate.

[2021-04-19 20:32] #1408 closed

[2021-04-19 20:38] felixarntz opened #3195 "Automate the declaration of asset dependencies in PHP via bundler"
Gutenberg is using a tool to automatically maintain awareness of which asset needs which other assets as dependencies in PHP, using [`DependencyExtractionWebpackPlugin`](https://www.npmjs.com/package/@wordpress/dependency-extraction-webpack-plugin).

In Site Kit we maintain all dependencies manually, which occasionally has led to errors and overall is a very error-prone approach given the amount o

[2021-04-19 20:41] felixarntz commented on #1207
This is somewhat similar to #1424, however it makes sense to keep it open, to inform any future decisions on this. I'll add it to the relevant epic we have now.

[2021-04-19 20:45] felixarntz commented on #1257
It is possible to customize the Analytics snippet already, by using the `googlesitekit_gtag_opt` filter (or `googlesitekit_amp_gtag_opt` for the AMP version). Other than that, we've also made a few additional enhancements, with #3161 being currently worked on.

Allowing to edit the actual snippet directly is a non-goal for Site Kit as it would be too complex for the intended audience and furthermo

[2021-04-19 20:45] #1257 closed

[2021-04-19 20:49] #1304 closed

[2021-04-19 20:52] felixarntz commented on #1348
Thanks for the request. Site Kit is focused on helping site owners and content creators succeed, with a primary focus on guidance through metrics and insights. While it offers a connection to various Google services, bundling anything related to a Google service into this plugin is out of scope, such requests are reviewed on a case-by-case basis.

reCaptcha falls out of scope and is better be impl

[2021-04-19 20:52] #1348 closed

[2021-04-19 20:54] felixarntz commented on #1447
We are currently working on adding GA4 support (formerly "App+Web") to Site Kit, and it is one of our main priorities right now. Please follow along the overarching epic #2220 (or any specific sub-issues) for further updates. We are currently anticipating to roll this out within the next 3 months.

[2021-04-19 20:54] #1447 closed

[2021-04-19 20:55] felixarntz commented on #2015
This has been fixed by now, the changelog has been present on wordpress.org for a couple months already.

[2021-04-19 20:57] felixarntz commented on #1870
This is somewhat of a duplicate of #296, which we are planning to review in the near future.

[2021-04-19 20:57] #1870 closed

[2021-04-19 20:59] aarondruck commented on #1292
Can we just make it an absolute state?

So a service can only be connected, if set up is complete AND a snippet is
inserted?

On Fri, Apr 16, 2021 at 1:22 AM Evan Mattson ***@***.***>
wrote:

[2021-04-19 21:03] felixarntz commented on #1712
This issue bundles multiple requests which should rather be treated separately:
* Showing Site Kit metrics in the WordPress posts list is currently being tracked via #296.
* A daily chart for Analytics data per day (for the entire site) is already available on the "Analytics" module page which can be accessed from the Site Kit admin menu.
* There is no daily chart available right now on a per-post

[2021-04-19 21:06] felixarntz commented on #1930
This is currently being prioritized via #462, please follow along there for updates. I'll close this one as a duplicate.

[2021-04-19 21:06] #1930 closed

[2021-04-19 21:13] felixarntz commented on #1720
Thanks for this feature request.

While Site Kit offers access to various Google services, it has the focus of guiding content creators to success, primarily based on metrics and insights and other recommendations. Integrating YouTube rather falls outside of this area, and while I agree some of the proposed changes would be beneficial, they would be better implemented separately from Site Kit sinc

[2021-04-19 21:13] #1720 closed

[2021-04-19 21:21] felixarntz commented on #1059
@ashishmohta Thanks for the request. It is already possible to access the single URL view for Site Kit via Site Kit's admin bar menu by clicking on the "More details" link. You can access this link when editing the post, so from what I'm understanding this is already available today, so this issue shouldn't be relevant anymore.

If you mean something different, please reopen and clarify so we can

[2021-04-19 21:21] #1059 closed

[2021-04-19 21:44] aarondruck commented on #1292
Also, is this related: https://github.com/google/site-kit-wp/issues/2817

On Mon, Apr 19, 2021 at 1:59 PM Aaron Druck ***@***.***> wrote:

[2021-04-20 07:17] Hazlitte commented on #3130
@felixarntz Ok, thank you for confirming.

[2021-04-20 08:52] aaemnnosttv commented on #2671
@johnPhillips please add a QA Brief.

[2021-04-20 09:03] Hazlitte commented on #2105
I have been following 'Steps to reproduce' and @cole10up's follow up notes but I have not been able to recreate this bug using the develop branch on my local development environment.

[2021-04-20 09:16] aaemnnosttv commented on #3102
## QA ❌

* `getProperties` is not setting property IDs in `propertiesByID` properly. **Note the `undefined` key**
![image](https://user-images.githubusercontent.com/1621608/115370671-f6748400-a1d1-11eb-9469-1dec3a8ce1ee.png)
* `getProperty` works as expected, but triggers an additional request when called after `getProperties`
![image](https://user-images.githubusercontent.com/1621608/115370736-05

[2021-04-20 09:44] aaemnnosttv commented on #2870
## QA ✅

DB query ran in less than 0.01s on a test site with 20k+ users.

![image](https://user-images.githubusercontent.com/1621608/115374723-c7601180-a1d5-11eb-91d0-caed84913898.png)

![image](https://user-images.githubusercontent.com/1621608/115374740-c9c26b80-a1d5-11eb-89ae-6e13bcfe09ba.png)

[2021-04-20 10:07] eugene-manuilov commented on #3072
@danielgent

Let's fix all useCallback errors. We don't use too many non-React libraries as far as I know. So, I think we won't have any problem there.

Yes, let's replace it with `useMount` then.

It also needs to be fixed. That's why we created this ticket.

[2021-04-20 10:39] aaemnnosttv commented on #2183
@wpdarren – would you please take another look at this? It seems module deactivation is not working as expected now for some modules. For modules with a dedicated page, after deactivating you end up on the module page and with an error on the screen. Can you confirm?

![image](https://user-images.githubusercontent.com/1621608/115382825-cb902d00-a1dd-11eb-95a1-19d352a583a8.png)

[2021-04-20 10:58] eugene-manuilov commented on #3104
@felixarntz ok, had to implement batching on the PHP side, so the remaining part in the IB is for js portion which is already covered.

[2021-04-20 12:28] eugene-manuilov commented on #3102
@aaemnnosttv yes, this is a known issue that is already fixed in the #3197. Once that PR is merged into develop, it will work correctly.

[2021-04-20 12:58] wpdarren commented on #2183
@aaemnnosttv sure, I certainly did not see that when testing, but will set up a test site and take another look.

[2021-04-20 13:23] wpdarren commented on #3058
### QA Update: Pass ✅

**Verified:**

- The help icon has a circular hover. This was tested on desktop and various smaller screen sizes on mobile and tablet.  - [Desktop](https://user-images.githubusercontent.com/73545194/115402325-3b54e680-a1e3-11eb-8825-89a6b6130f81.png) and [Mobile](https://user-images.githubusercontent.com/73545194/115402682-8a028080-a1e3-11eb-95f6-7713640eaffc.png)

- There i

[2021-04-20 14:08] asvinb commented on #3174
@tofumatt @aaemnnosttv I think it's a good opportunity to have the viewports defined in Storybook to be the same as the one defined in our SASS config, for consistency. I have added the IB, taking that into account.
Let me know what you think.

[2021-04-20 14:10] felixarntz commented on #3104
@eugene-manuilov IB mostly LGTM, just one question: Was it not possible to use `get_batch_data` as it is with the `modules/analytics/data/webdatastreams` data point? I would think that this should work; curious why you manually "re-implemented" the batch request functionality.

[2021-04-20 14:14] felixarntz commented on #3102
@eugene-manuilov Can you open a quick PR with only the relevant changes from #3197, targeted against this issue? While it doesn't really affect the release because the selector isn't used, we shouldn't technically ship an issue that's knowingly broken and only fix it later (#3104 will not go into the same release as it's too late for that).

[2021-04-20 14:18] johnPhillips commented on #2951
@asvinb CC @tofumatt Just noticed that the service URLs in the legacy and new widgets are different.

`LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable` uses the Analytics store to generate the service URL:

https://github.com/google/site-kit-wp/blob/b460234894bcbe28dd31a9422b57293e78021977/assets/js/modules/analytics/components/dashboard/LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable.js#L73

[2021-04-20 14:21] aaemnnosttv commented on #3187
I think this is something to evaluate on a per-tour basis. For help specifically, I think it makes sense to allow here as module setup is probably one of the areas where users encounter trouble.

However, the dashboard and page dashboard view contexts shouldn't include module setup IMO. Perhaps what we should do is move module setup into a dedicated page rather than reusing the dashboard URL for t

[2021-04-20 14:21] eugene-manuilov commented on #3102
Added #3200

[2021-04-20 14:24] aaemnnosttv commented on #3162
@Pratheep-lab are the current icons not from Material? I believe whatever is there was provided by @aarondruck in the original designs but perhaps he can confirm.

cc: @felixarntz @marrrmarrr

[2021-04-20 15:04] eugene-manuilov commented on #3104
Ah... yes, you are right. My bad. I have updated the PR.

[2021-04-20 15:44] abdullah1908 commented on #2924
I am unable to reproduce this issue by configuring Cloudflare on a demo site.  Tried to setup same setup as user have based on SH info:
- Installed WPML plugin & its Addons
- Cache plugin along with the theme(Newspack) that user is using
It would be great if we can wait for the user to setup the fresh install on the same server. Maybe we can get new insights about this issue.

[2021-04-20 16:15] bethanylang commented on #2544
@jamesozzie Noticed that this is not assigned to anyone - should this be assigned to you for further testing before going to L1?

[2021-04-20 16:15] bethanylang commented on #3057
@jamesozzie Should this be assigned to you in L0 or should it go to L1?

[2021-04-20 16:17] jamesozzie commented on #2544
@bethanylang Good find, I'll self assign that and performing some updated testing.

[2021-04-20 16:20] bethanylang commented on #2349
@jamesozzie Just checking in here - any updates?

[2021-04-20 16:20] jamesozzie commented on #3057
@bethanylang Self assigning now. Most likely difficult to reproduce without additional insights although some additional pre-flight checks as discussed in todays sync may assist impacted users.

[2021-04-20 16:27] jamesozzie commented on #2349
@bethanylang No response from the [only support topic](https://wordpress.org/support/topic/error-1451/) with an unresolved status. Closing that topic now.

What are you thoughts on keeping this issue open should other users encounter this issue? No definitive cause, or no indicators of a Site Kit bug at present.

[2021-04-20 16:30] felixarntz commented on #1132
As mentioned above, [self-hosting the Google service JS files is not recommended](https://support.google.com/analytics/answer/1032389). There are teams in Google which are actively working on improving performance for the scripts used by websites across the web, so hopefully this will become a less of an issue in the future.

Site Kit itself will for the above reason not self-host these assets. If

[2021-04-20 16:30] #1132 closed

[2021-04-20 16:31] bethanylang commented on #2349
@jamesozzie Thanks for following up!

Given that this appears to be an edge case and we don't have much info, I'm going to close. If we do see it again in the future, we can open a new issue and refer back to this one.

[2021-04-20 16:31] #2349 closed

[2021-04-20 16:33] felixarntz commented on #3187
@aaemnnosttv Sounds good. Maybe let's refocus this issue on splitting out the responsibility of module setup from the dashboard, e.g. via a `googlesitekit-dashboard-module-setup.js` asset that is conditionally enqueued instead of the `googlesitekit-dashboard.js` / `googlesitekit-dashboard-details.js` one.

[2021-04-20 17:06] wpdarren commented on #2280
@aaemnnosttv I have tried a few times and have not recreated this issue on the latest release with the AC's.  I would like to at least see the issue in action to make sure that the QAB tests pass.  Any ideas why I might not be able to recrate it?

[2021-04-20 17:15] wpdarren commented on #3042
### QA Update: Pass ✅

Only the new widgets should be updated with the Site Kit period.

**Verified:**

- 90 days (Jan 20, 2021-Apr 19, 2021) in the report for `Top content over the` `Top acquisition channels over` widgets
- 28 days (Mar 23, 2021-Apr 19, 2021) in the report for `Top content over the` `Top acquisition channels over` widgets
- 14 days (Apr 6, 2021-Apr 19, 2021) in the report for `To

[2021-04-20 18:14] felixarntz opened #3201 "Allow (programmatically) to do a full reset of Site Kit"
When resetting Site Kit, most data that the plugin creates (all `googlesitekit_` options and user options) are wiped. However, there is some essential data that cannot easily be restored which therefore does not get wiped on reset (prefixed with `googlesitekitpersistent_`).

We should allow to do a "hard reset" that even wipes those options. This caters for users that truly want to start fresh or

[2021-04-20 18:54] ivankruchkoff commented on #2821
@felixarntz  we are talking about the same thing, just different ways of implementing it. The end result is changing href urls to not contain the path twice, and in no way updating the displayed path as that is already correct.

I'll update to `getFullURL( siteURL, path )` which will do absolute links in the data-table.js and not prepend the link with the siteurl.

[2021-04-20 21:14] aarondruck commented on #3162
Sorry, I think we can close this.  I was mostly tripped up on the
difference between the mobile icons, of what was designed and what's in
production.  But it's minimal, so we can just close this.

Original icon:
[image: image.png]

Icon in production:
[image: image.png]

On Tue, Apr 20, 2021 at 7:24 AM Evan Mattson ***@***.***>
wrote:

[2021-04-20 22:04] felixarntz commented on #2821
@ivankruchkoff I think two things are still off with the implementation here: Most code you're referencing in the IB deals with URL paths only, and those are all okay as is. The problem outlined in the ACs only occurs when concatenating the site URL with a URL path.

https://github.com/google/site-kit-wp/blob/31d77ec6a4370be08ec67177156479535237f8fa/assets/js/modules/analytics/components/dashboard

[2021-04-20 22:06] felixarntz commented on #3104
IB ✅

[2021-04-20 22:49] felixarntz commented on #2821
IB ✅

[2021-04-20 22:52] felixarntz opened #3202 "Display date range for the admin bar data contextually"
As originally requested in #1190 (among other enhancements), the admin bar is currently lacking any awareness of what date range the data displayed is for. It is always for the last 28 days, but that may be unclear to the user.

We should add the information that the data is for the last 28 days somewhere in here:
![image](https://user-images.githubusercontent.com/469543/75603490-ab565980-5a83-11e

[2021-04-20 22:55] felixarntz commented on #3202
@marrrmarrr Any idea on where to add the date range? We could for example:
* Display a suffix "in the last 28 days" after every change percentage (this works well on big screens, but might be a bit much for smaller viewports)
* Display a single subtitle like "Overview for the last 28 days" in a single place, e.g. below the page title

[2021-04-20 22:55] ivankruchkoff commented on #3192
QA:Eng ✅

If your branches `feature/swg-module` and `feature/swg-module-reviewed` are constantly getting `develop`/`main` merged into them, then that will solve the issue on those branches too, otherwise make sure to cherrypick this commit into each of those branches @felixarntz

[2021-04-20 22:56] felixarntz opened #3203 "Allow changing the date range used for data in the admin bar"
Originally reported as part of #1190 (among other requests), it should be possible to change the date range for data displayed in the admin bar, the same way the date range can be changed when on Site Kit screens.

Currently the date range is fixed to the default of the last 28 days.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only

[2021-04-20 22:59] felixarntz commented on #1190
This issue contains three individual enhancement requests, so I've split some of them out:

1. The primary request is to allow displaying other Analytics metrics than what Site Kit currently displays. I'll refocus the issue on just that, which we are currently exploring as part of a greater effort to allow customization of the Site Kit dashboard.
2. The second request is to have awareness of which

[2021-04-20 23:04] ivankruchkoff commented on #3105
This ticket is missing a QA brief @eugene-manuilov

[2021-04-20 23:14] ivankruchkoff commented on #3130
QA ✅

[code]

These correspond to:
[code]

[2021-04-21 07:17] aaemnnosttv commented on #2280
@wpdarren I'm not sure exactly why you might be having a hard time reproducing it, but here's a screencast using a site running on 1.30.0 when translating to Russian.

https://user-images.githubusercontent.com/1621608/115512305-81b15080-a28a-11eb-813b-6820a67e901a.mp4

[2021-04-21 09:01] tofumatt commented on #3171
IB ✅

[2021-04-21 09:23] johnPhillips commented on #2951
Update: I've discussed with @aaemnnosttv and we concluded that the behaviour in the legacy widget is correct. I have refactored the new widget accordingly 👍

[2021-04-21 09:41] johnPhillips commented on #100
@felixarntz - @wpdarren and I have been unable to recreate this issue. It seems to be quite old as well - wondering if it is still a problem?

[2021-04-21 09:45] tofumatt commented on #3150
Overall approach looks good to me. 👍🏻

IB ✅

[2021-04-21 09:48] tofumatt commented on #3152
IB ✅

[2021-04-21 09:49] tofumatt commented on #3153
IB ✅

[2021-04-21 09:53] tofumatt commented on #3166
IB ✅

[2021-04-21 09:59] tofumatt commented on #3167
@felixarntz @asvinb I'm not sure about the ACs here, namely:

This will result in two very similar selectors, `getProperties( accountID )` and `getAllProperties( accountID )` in the store, which is confusing to read. The distinction between the two isn't evident from their names, and I could even see the potential for a developer to read them as the same thing. I think it's better we go one of two

[2021-04-21 10:15] wpdarren commented on #3062
### QA Update: Needs clarification from engineer ⚠️

The QAB states `Observe spacing between "Site Overview" and "Search Funnel" headers` and reading the AC it suggests that we should not see any visual differences in the widget-based layouts. I do see a difference though.

With the widgets.dashboard feature disabled, `the mdc-layout-grid` is 1259x1284px with 24px padding.
![image](https://user-im

[2021-04-21 10:29] wpdarren commented on #2937
### QA Update:  Pass ✅

**Verified:**

- User can change the current property selected for the site.
- The changes persist after you save it and refresh the window.
- Checked that the selected property is being used when you visit the dashboard or search console pages.

![image](https://user-images.githubusercontent.com/73545194/115538729-18ced600-a294-11eb-98ff-45e02270fce9.png)

Note: I am testi

[2021-04-21 10:33] aaemnnosttv commented on #3062
@wpdarren If you look at the `widgets.dashboard` in the current release, you'll see it has twice the padding between the Site Overview and the next heading. That's essentially what this is about, not really that the two are entirely identical. You can see this in @danielgent 's screenshots here: https://github.com/google/site-kit-wp/pull/3177/files#r615791773

[2021-04-21 10:47] tofumatt commented on #3169
Livin' on the edge! 😎

IB ✅

[2021-04-21 11:12] wpdarren commented on #2280
@aaemnnosttv still unable to recreate this issue on latest release 1.30.0, when translating Russian.

https://user-images.githubusercontent.com/73545194/115543748-a6f98b00-a299-11eb-8a5c-473f094ff783.mp4

Using Chrome Version 89.0.4389.128 (Official Build) and on MacOS.  I have tried on a few different test sites including my personal site and unable to recreate the issue.

@cole10up would you be

[2021-04-21 11:24] wpdarren commented on #2183
@aaemnnosttv the message does appear when you try and disconnect a module, i.e. Analytics.  Bit baffled because I am pretty confident that I tested this, but yes you are right, this is an issue.

![image](https://user-images.githubusercontent.com/73545194/115545832-2b4d0d80-a29c-11eb-8bae-4e80d487fc8f.png)

[2021-04-21 12:15] tofumatt commented on #3164
Looks good, but I added one note to use `sprintf( __( '%1$s (%2$s)' ), name, id )`, so the string is translated/localized properly. I figured better to leave it here than in the code review in case someone missed it, as it's an easy oversight not to translate things like these.

IB ✅

[2021-04-21 12:33] asvinb commented on #2203
@aaemnnosttv @felixarntz I noticed that after setting up Tag Manager, we already have the `dns-prefetch` directive set for `//www.googletagmanager.com` I'am on WordPress 5.7.1 and using the Twenty Twenty-One theme. Any idea why this is the case?

[2021-04-21 12:54] tofumatt commented on #3151
IB ✅

[2021-04-21 12:58] tofumatt commented on #3069
IB ✅

[2021-04-21 13:04] tofumatt commented on #2998
Given the AMP rendering can still be disabled on a _per-page_ as stated above, I think the ACs/IB here are a bit incomplete. They're an improvement, yes, but we still aren't accounting for a site in `self::AMP_MODE_PRIMARY` mode but with a single page that has AMP disabled.

If there is a flag or function that we can use to check is _any_ page has AMP rendering disabled that'd be useful here to kn

[2021-04-21 13:48] wpdarren commented on #100
@johnPhillips I can have a look at trying to recreate this and come back to you.

[2021-04-21 13:48] tofumatt commented on #3155
I know it's a bit more effort, but wouldn't it be nicer to pass the `options` through to the server now and then have the server code filter the array returned based on the options? That's the plan here but we're doing it client-side instead of on the server.

Assuming the server will eventually handle this, why not write the "temporary" code only once: on the server where it'll get replaced? That

[2021-04-21 14:07] Hazlitte commented on #2280
@wpdarren It took me a while to figure out how to trigger this bug when I worked on it.  We could do a screen share if you like and see if we can get it to occur.

[2021-04-21 14:23] felixarntz commented on #2998
@westonruter Is it possible to disable AMP for a post even if the site is configured in Standard Mode with "Serve all templates in AMP" enabled? If that is the case, then we basically could never reliably assume that a site is _only_ using AMP, so we would essentially always need to show options for both AMP and non-AMP. For a primary AMP site this would be confusing, so it wouldn't be a great exp

[2021-04-21 14:26] felixarntz commented on #3155
@tofumatt The approach here is explicitly to not handle pagination on the server, not eventually either - so keeping the pagination options on the client-side is regardless of whether we use the API mock or the real API. We're not going to have pagination on the server-side because we will never request more than a 100 ideas, which will be available in a single response. Plus, we will only show pa

[2021-04-21 14:33] asafm7 commented on #2998
@felixarntz Yes, it is possible. I'm using it this way. Maybe it's possible to reduce confusion with a short explanation under the non-AMP container field.

[2021-04-21 15:47] jamesozzie commented on #3057
As the impacted user here also encountered a `Data error in Analytics, Request parameter is empty: metrics.` notice I suspect this is in line with #2986, which was discussed in our internal sync. Both this and the linked issue may be server related, with query parameters are not being handled properly as per [this separate issue](https://github.com/google/site-kit-wp/issues/2782#issuecomment-81490

[2021-04-21 15:47] #3057 closed

[2021-04-21 15:48] Hazlitte commented on #2122
@aaemnnosttv I have been looking at how the `parse_date_range` method works in `Module.php` and it appears to already fulfil the server side requirement of the Acs.  Are there any known cases where it is not working as required?

[2021-04-21 15:59] felixarntz commented on #2203
@asvinb I think that is actually due to Analytics, not Tag Manager. WordPress automatically includes `dns-prefetch` directives for assets that are enqueued, and we enqueue `https://www.googletagmanager.com/gtag/js...` via Analytics.

So for Tag Manager, we still need to do something about it just for the scenario that the user has _only_ Tag Manager enabled (in the Tag Manager `Web_Tag`, the asset

[2021-04-21 16:02] felixarntz commented on #3167
@tofumatt Good point! I went with keeping it a different selector but using a more clear name. I've updated this in the ACs and IB (which was already looking good), so IB ✅

[2021-04-21 16:03] aaemnnosttv commented on #2504
@felixarntz anything to add?

[2021-04-21 16:07] felixarntz commented on #100
@johnPhillips @wpdarren Oh you're right - apologies, I missed that we had already prevented this error to show up. In such a case the user now already always sees the `AdSenseLinkCTA` component output, which is good as is.

[2021-04-21 16:07] #100 closed

[2021-04-21 16:08] westonruter commented on #2998
This is correct. You can always disable AMP even when using Standard mode, either when All Templates are served as AMP, by turning off AMP for an individual post/page. This is important for e-commerce, for example, so the shopping cart page can have custom JS.

As for the UI, if you detect it's a Standard mode site with All Templates enabled for AMP, you could show the AMP setting first. Then you

[2021-04-21 16:10] tofumatt commented on #3155
Ah, okay! Thanks for the clarification 👍🏻

In that case: IB looks good 🙂

IB ✅

[2021-04-21 16:14] felixarntz commented on #2183
@aaemnnosttv The most severe issue right now is that this redirects to `/wp/wp-admin/admin.php?page=googlesitekit-module-analytics&slug=analytics&reAuth=false` now when it should redirect to the Site Kit dashboard instead.

The other issue about the settings UI showing up again is related to us not waiting for the redirect as it should happen. We don't necessarily need to cater for that throughout

[2021-04-21 16:16] tofumatt commented on #2597
@Hazlitte Can you please fill in the test coverage and VRT sections? I imagine some VRTs will need to update as a result of the text changes.

Also, while the ACs here pretty much outline the implementation of the issue, it would be good to clarify it the IB. It seems the approach is:

* `title` should always lack punction
* `description` varies based on its content:
  * **single sentence:** shoul

[2021-04-21 17:10] aaemnnosttv commented on #3161
@marrrmarrr @aarondruck would you please clarify where this new field should go in the settings interfaces? You can see [the current settings edit interface here](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-settings--edit-open-with-all-settings) for reference.

Also, should we do any validation on the input? For example, here's what it looks like when a use

[2021-04-21 17:43] felixarntz commented on #2504
@aaemnnosttv No, all good from my perspective! 🚢

[2021-04-21 17:54] Pratheep-lab opened #3208 "Ad blocker warning message is inconsistent in different locations"
It says " _Ad blocker detected, you need to disable it in order to set up AdSense_."

However, the AdSense setup has already been done and I can see that AdSense is working properly.

Maybe the message should say "Ad blocker detected, you need to disable it in order for AdSense to work properly."

## Steps to reproduce

1. Setup AdSense on Site Kit without any Ad Blockers
2. Enable an adblocker. I

[2021-04-21 19:42] wpdarren commented on #2280
### QA Update: Fail ❌

@Hazlitte I found an error `Unexpected text node type 1` on the Analytics module, in All Traffic widget. As you can see, the message appeared when I clicked on a slice. I did notice after that it also appeared when I clicked on the Locations tab, but when the page was refreshed it did not occur a second time.

![image](https://user-images.githubusercontent.com/73545194/11560

[2021-04-21 20:50] aaemnnosttv commented on #2280
@wpdarren I think the inline error is probably acceptable for now – the main focus of this issue is the full-page unrecoverable error as shown in my screencast above. This may be something we can fix in a subsequent issue, but it may be from the Google charts as well, in which case we may not be able to do anything about it.

If the `Failed to execute 'removeChild' on 'Node': The node to be remove

[2021-04-21 22:00] tofumatt commented on #2597
IB ✅

[2021-04-21 22:24] tofumatt commented on #3154
IB ✅

[2021-04-21 22:36] ivankruchkoff commented on #2998
This will do it:
` SELECT count(*) FROM $wpdb->postmeta WHERE meta_key = 'amp_status' and meta_value = 'disabled' LIMIT 1`

[2021-04-21 22:37] westonruter commented on #2998
Actually, no, because AMP can also be disabled programmatically via the `amp_skip_post` filter.

[2021-04-21 22:39] ivankruchkoff commented on #2998
Would it help to see if there are any registered hooks on the filter `amp_skip_post` or is that a rabbit hole?

I'll admit I'm a little confused in what the AC here is at this point to update the IB to address it.

[2021-04-22 00:36] felixarntz commented on #2998
@ivankruchkoff Given @westonruter's responses above, it seems to me that we can never reliably assume that the site is _only_ AMP (i.e. what we call primary AMP). Potentially we'll need to therefore always assume that the site is secondary AMP (if it has AMP at all) - that's not great for users that truly want to do primary AMP, but it seems it's the only reliable approach.

@westonruter Given the

[2021-04-22 05:20] westonruter commented on #2998
Yeah, it's something we've thought about. We had an issue for it: https://github.com/ampproject/amp-wp/issues/2314. But we decided against it. The reality is that the majority of sites need the ability for AMP to be turned off in certain cases. Given that the AMP-compatible ecosystem of themes and plugins are not complete, the number of sites that run in Standard mode is still small in relation to

[2021-04-22 06:38] aaemnnosttv commented on #2280
Taking a closer look at this today, the `Unexpected type of text node` error is [raised in the Google charts library](https://www.gstatic.com/charts/49/js/jsapi_compiled_graphics_module.js)

So far I've observed it originating within our `UserCountGraph` as well as the `UserDimensionsPieChart` although inconsistently. Unlike the previous error, this one is non-blocking and even dismissible!
![Kapt

[2021-04-22 06:42] ivankruchkoff commented on #3102
@aaemnnosttv based on your previous QA, can you take a look? I wasn't able to figure out where to go to trigger the redux actions for the ga4setup.

[2021-04-22 06:51] aaemnnosttv opened #3210 "`Unexpected type of text node` warning in Google charts"
## Bug Description

While working on #2280 which resolves the potential for fatal errors in React due to DOM changes made by Google Translate, a new error notice was noticed within some Google charts under similar circumstances.

| | |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/1621608/115668726-22b60f00-a350-11eb-9daf-b1e94516d28e.png) | ![image](https://user-images.github

[2021-04-22 06:53] aaemnnosttv commented on #3210
@felixarntz marking this as stalled for now since the fix will likely depend on upstream changes.

[2021-04-22 07:02] aaemnnosttv commented on #3102
## QA ✅

- Selecting `getProperties( accountID )` adds properties to `state.propertiesByID` as well
![image](https://user-images.githubusercontent.com/1621608/115669976-94db2380-a351-11eb-968d-c2f9702f7a74.png)
- Selecting `getProperty( propertyID )` right after returns the property right away
![image](https://user-images.githubusercontent.com/1621608/115670130-bdfbb400-a351-11eb-9650-d7e3bf01dd21

[2021-04-22 07:12] aaemnnosttv opened #3211 "Release 1.31.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-04-22 07:29] aaemnnosttv commented on #3091
IB ✅

Regarding the estimate, it can probably fit in 3 but I feel like we should give it a little more to be on the safe side; bumping to 7.

[2021-04-22 07:52] aaemnnosttv commented on #938
IB ✅

[2021-04-22 08:45] aaemnnosttv commented on #3174
@asvinb I agree that our Storybook viewports should match the sizes we have breakpoints for but there's a bit more to consider here I think. As it is, we never render anything edge-to-edge on the screen since we're always rendering in the context of wp-admin, the admin menu is always using some of the space on one side of the screen (more/less depending on whether the menu is collapsed or not, but

[2021-04-22 08:55] aaemnnosttv commented on #603
Looks interesting, thanks @felixarntz. One of the things I've been looking into was how to avoid triggering the deploy based on tagging alone (since anyone can push a tag). GitHub Environments are a solution for this and allow [Required Reviewers](https://docs.github.com/en/actions/reference/environments#required-reviewers) which sounds like just what we're looking for:

I see now that the web sto

[2021-04-22 08:58] wpdarren commented on #2280
### QA Update: Pass ✅

**Verified:**

- In the Pagespeed widget on the dashboard the issue description does not error in the console - [Screenshot](https://user-images.githubusercontent.com/73545194/115606990-4ccde980-a2dc-11eb-8d57-1ddca85809e5.png) - [Screenshot from latest release](https://user-images.githubusercontent.com/73545194/115606008-180d6280-a2db-11eb-9e57-e622b7f2be70.png)
- In Analyt

[2021-04-22 09:18] wpdarren commented on #3062
### QA Update: Pass ✅

- The spacing between "Site Overview" and "Search Funnel" headers is the same with the widgets.dashboard feature disabled/enabled.

![image](https://user-images.githubusercontent.com/73545194/115689476-061bd600-a354-11eb-9ec9-5e6fb03fc732.png)

[2021-04-22 09:25] asvinb commented on #2203
Thanks @felixarntz . IB updated to cater for Tag Manager.

[2021-04-22 09:47] danielgent commented on #3188
Two things @asvinb :smile:

1. There's no `useEffect` inside `UserInputSelectOptions`! I think you mean the `useCallback` (I just tried it out and it works if I put your logic in the callback!)

2. Is it better to be more explicit with the CSS classes in the IB?  (Genuine question! I don't know)

I found that by adding `.mdc-text-field--disabled` to this rule

[code]

It worked! (but that may be t

[2021-04-22 09:54] wpdarren commented on #2183
### QA Update: Pass ✅

**Verified:**

- Activated all modules on Site Kit, and then deactivated them one-by-one in the Settings.  All modules redirected back to the dashboard after clicking on the disconnect button. The issue [reported above](https://github.com/google/site-kit-wp/issues/2183#issuecomment-823985934) is also fixed.

https://user-images.githubusercontent.com/73545194/115694692-02d719

[2021-04-22 10:36] asvinb commented on #3188
Hey @danielgent
For the `useEffect`, I meant to use it even though it's not there 😄 . And for the CSS classes, I don't think for this particular case we should be explicit like that. It just about providing the guidelines :)

[2021-04-22 10:40] danielgent commented on #3188
Thanks @asvinb !  Makes sense. We don't want the IBs too low level :smile:

IB :white_check_mark:

[2021-04-22 10:41] wpdarren commented on #2885
QA Update: Fail ❌

@danielgent initially, I was going to pass this and then I noticed something a little quirky! 😄  When the page initially loads, the menu on toggle flips up to the top.  If you scroll slightly scroll down the page and then toggle the menu, it flips down.  Here's a screencast to show you this in action.

Also, I noticed somethings it's a little inconsistent depending on where you

[2021-04-22 10:49] aaemnnosttv commented on #2885
@wpdarren that's expected. The menu will open up or down depending of the position of the menu in the viewport. This issue is specific to making sure the header doesn't cover the menu when it drops up which seems to be the more common behavior.

[2021-04-22 10:56] wpdarren commented on #2885
### QA Update: Pass ✅

**Verified:**

- When the user toggles open the select menu, the menu flips up and is now on top of the header.  The header doesn't cover the menu. This was tested on desktop and mobile.

![image](https://user-images.githubusercontent.com/73545194/115703236-c956db80-a361-11eb-94c7-d66789e4da93.png)

[2021-04-22 11:20] johnPhillips commented on #576
@felixarntz I've gone through all this and updated [my PR](https://github.com/google/site-kit-wp/pull/3147). I've also updated the QAB on #656 to include this work.
Hopefully I caught everything! I hope you don't mind, but I assigned you for CR because it's probably a lot for someone else to keep track of.

FYI a couple of things I noticed with `LegacyAdSenseDashboardWidgetTopPagesTableSmall`:
- i

[2021-04-22 11:25] johnPhillips commented on #656
Update: I added the work from #576 to the QA brief after discussion with @felixarntz, because after having followed the IB here (which mentions `ModuleTopEarningPagesWidget` instead of `DashboardTopEarningPagesWidget.js `) I realised I'd done some of the work from that issue.
My PR now deals with both issues.
For more context see the discussion on #576

[2021-04-22 11:50] danielgent commented on #1794
@eugene-manuilov @aaemnnosttv I had a go at upgrading backstop and I created a PR where I accepted the changes and it is passing

I might be missing something as the description alluded to there being many errors but there were only 5 (approved and on the PR, but I'm pasting the diffs here)

![checkboxes](https://user-images.githubusercontent.com/8496063/115709491-9288c180-a371-11eb-9610-0a108890f

[2021-04-22 12:00] danielgent commented on #1794
See the passing PR here https://github.com/google/site-kit-wp/pull/3212
Eugene mentioned there would be icon differences.

It's odd that the select opens upwards though if the viewport changes.

I was expecting a lot more!  What do you both think @eugene-manuilov @aaemnnosttv ? Happy to upgrade like this and approve these changes?

[2021-04-22 12:03] asvinb commented on #3174
@aaemnnosttv About "**why not update the class to conditionally apply the padding with a min-width media query instead so that it only has an effect on larger viewports?**" Since the stories are rendered within an iframe, we'll need to play with the media queries to get it working which is not impossible but requires some more work.
About the padding, I always thought it was added to make the stor

[2021-04-22 12:18] eugene-manuilov commented on #1794
This ticket was created quite a while ago and at that time we had more VR issues. If there are just 5 at the moment, it's good for us and we can upgrade backstopjs :tada:

Yes, looks like all of these changes are caused by using a different version of the browser which is expected, so we can approve it.

[2021-04-22 14:05] danielgent commented on #2597
Apologies @tofumatt @Hazlitte , but I'm sure exactly what changes I have to make

A common example where the description is one sentence and there is a link

![ctaexample](https://user-images.githubusercontent.com/8496063/115727818-42ffc100-a384-11eb-838a-8ee278b7c4a9.png)

With code

[code]

The IB speaks about the `description` prop containing Links. I have not seen this. There are separate prop

[2021-04-22 14:47] johnPhillips commented on #3091
@asvinb just regarding this:

Aren't the values returned by `calculateChange` percentages?
So for example if previous was $3.64 and current is $3.70, that's a change of $0.06, but  `calculateChange` will return `( 3.70 - 3.64 ) / 3.64 = 0.02`.

In which case shouldn't it be e.g. `↑ 0.02%` rather than `↑ $0.02`?

[2021-04-22 16:33] wpdarren commented on #2066
### QA Update: Pass ✅

**Verified:**

- Can see a new Performance by page over the last X days Widget and it is identical to the legacy version. - [Screenshot](https://user-images.githubusercontent.com/73545194/115749622-2fa62300-a38f-11eb-973a-61a671792165.png)
- You are prompted to link AdSense and Analytics if you haven't already done so - [Screenshot](https://user-images.githubusercontent.com/

[2021-04-22 17:31] felixarntz commented on #3014
@aaemnnosttv Do the ACs here sound good to you?

[2021-04-22 18:13] aaemnnosttv commented on #3014
Sounds good, except let's use `react_error` for the category instead to be more specific.

[2021-04-22 18:20] aaemnnosttv commented on #3014
@felixarntz Moving to IBR since we've already discussed the ACs 👍  If we want to add tests, I could add these tomorrow; probably a good idea but maybe more for the future since we've already verified this for the most part.

[2021-04-22 19:43] eugene-manuilov opened #3216 "Replace ad-hoc commit linting with commitlint and Conventional Commits"
## Feature Description

Currently, we use our own format for commit messages and an ad-hoc approach to verify that commit messages satisfy it. Although it works as intended, there some things that we can do better.

If we replace our proprietary format for commit messages with more broadly popular [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/), we will make our project more

[2021-04-22 20:24] ivankruchkoff commented on #2671
Here are a couple of scenarios I've seen. Is this expected behaviour or a bug?

`/wp-admin/admin.php?page=googlesitekit-dashboard`
<img width="1244" alt="Screen Shot 2021-04-22 at 12 43 51 PM" src="https://user-images.githubusercontent.com/373931/115778007-d9bf8400-a36a-11eb-9df4-cc273e70cb32.png">

`/wp-admin/index.php`
<img width="616" alt="Screen Shot 2021-04-22 at 1 02 51 PM" src="https://user

[2021-04-22 20:26] ivankruchkoff commented on #2671
One question about whether or not the widgets should be combined in the previous comment. Everything else checks out.

✅ Happy path
✅ Incomplete rows (column width of 9)
❓ Hidden / combined widgets

[2021-04-22 21:25] felixarntz commented on #2671
@ivankruchkoff `ReportError` states are currently not being combined, so that is expected. The easiest way to test the combining behavior is to have Analytics inactive, then on the (widget-based) dashboard you should see one "Activate Analytics" CTA, even though that component is technically rendered by two adjacent widgets (unique visitors and goals widgets).

[2021-04-23 05:32] aaemnnosttv commented on #3091
@johnPhillips yes you're right, we want absolute values, as noted in the ACS. Thanks for pointing that out!

[2021-04-23 05:47] aaemnnosttv commented on #3174
@asvinb Sure, I think it makes sense for small things like buttons, or really anything that doesn't have responsive styles. For components with responsive styles (usually larger things with grids), then the added padding influences the total width of the viewport and result in inaccurate representation of the component at a particular breakpoint.

The added padding could be useful for ensuring thi

[2021-04-23 06:17] ivankruchkoff commented on #2671
QA ✅

[2021-04-23 08:52] aaemnnosttv opened #3217 "Limit effective values for Google proxy base URL"
## Feature Description

The Google proxy service allows for an alternate base URL to be set using a constant which is necessary to be able to test with a non-production version of the proxy. We should limit this to something more specific rather than allowing any URL. One idea might be restricting it by host name and falling back to the default if the URL does not match `*.withgoogle.com`

-------

[2021-04-23 09:18] asvinb commented on #3014
* Added the `ErrorComponent` component to the dashboard.
* Clicked on the "Simulate An Error" button.
* Tracking details sent as per screenshot and as per AC:
![image](https://user-images.githubusercontent.com/31818/115849859-5b301880-a436-11eb-9214-a8be987c22c3.png)

### QA: ✅

[2021-04-23 09:52] jamesozzie opened #3218 "AdSense snippet not inserted on AMP sites using the legacy reader theme."
## Bug Description

Based on [one users experience](https://wordpress.org/support/topic/how-i-can-confirm-google-adsense-is-activated-on-amp-pages/) in the Site Kit support forums AdSense code is not placed on users AMP URLs when using the AMP plugins legacy reader theme. When adding `wp_body_open()` manually to the reader mode templates ([html-start.php](https://github.com/ampproject/amp-wp/blob/

[2021-04-23 10:31] aaemnnosttv commented on #2597
@marrrmarrr just to clarify – is this example correct then?
![ctaexample](https://user-images.githubusercontent.com/8496063/115727818-42ffc100-a384-11eb-838a-8ee278b7c4a9.png)

Or is this only referring to a following link on the same line? E.g.
![image](https://user-images.githubusercontent.com/1621608/115858954-39379580-a438-11eb-93bd-8bd7580e1276.png)

[2021-04-23 15:02] danielgent commented on #3171
The AC mentions a new `getPrimaryPropertyType` but the IB does not mention it

I'm going to assume that the AC is correct and add this new `getPrimaryPropertyType` with tests

Stop me if that's wrong! :smile:  @tofumatt  @asvinb

[2021-04-23 15:27] wpdarren commented on #3211
Looks good to me. Have gone through our QA check-list.

[2021-04-23 15:41] felixarntz commented on #3217
@aaemnnosttv Added ACs!

[2021-04-23 16:14] johnPhillips commented on #98
QA ✅

- **The title links are being displayed by the 'DetailsPermaLinks' component** ✓
I can see that the `DetailsPermaLinks` is being rendered. It produces two links: the title of the page, which points to the Analytics report for that page, and the URL to the page itself, which points at the page itself.

- **A full URL is displayed on hover of the page title or below the page title.** ✓
Hoverin

[2021-04-23 16:15] johnPhillips commented on #98
Forgot to assign myself before QAing this 🤦

[2021-04-23 16:25] eugene-manuilov commented on #3211
Looks good to me too.

[2021-04-23 17:03] felixarntz commented on #3161
@aaemnnosttv Let's do validation to ensure there is the `AW-` prefix. Regarding the positioning, for now let's put it at the very bottom - that should be easy to change even while a PR is being worked on though.

@marrrmarrr When you have a moment, please review the placement of the new field - we can change this easily on demand.

[2021-04-23 17:07] eugene-manuilov commented on #2529
@felixarntz assigning it to you since Evan also wants you to review it.

[2021-04-23 17:21] cole10up commented on #3211
### **QA ✅**

Everything checks out on my end.

[2021-04-23 18:32] eugene-manuilov commented on #3165
Sending this ticket back to @felixarntz to re-define the AC section.

[2021-04-23 18:36] felixarntz commented on #3165
@eugene-manuilov Updated the ACs (and description and title).

[2021-04-23 21:41] ivankruchkoff commented on #3211
Looks good to me.

[2021-04-24 15:37] tfk2 commented on #2681
Am waiting to see this in 1.31/1.32
useful feature for sure
It will also positively affect the behaviour of Adsense and direct traffic, which can cause sometimes unfair adsense account suspensions.

[2021-04-26 08:47] aaemnnosttv commented on #3211
I noticed this morning that service icons are smaller now on module dashboards:

| Legacy | Widget-based |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/1621608/116053775-b73bac80-a683-11eb-8e94-c11313f0372e.png) | ![image](https://user-images.githubusercontent.com/1621608/116053801-bdca2400-a683-11eb-867b-19c95bfc9a0d.png) |
| https://github.com/google/site-kit-wp/blob/4cac32

[2021-04-26 09:46] jamesozzie commented on #2938
As reported in one [WordPress support topic](https://wordpress.org/support/topic/conflict-for-logged-in-users-on-front-end-loader-js/) this also results in the respective Site Kit admin toolbar resources being loaded for "Editors" on the front end.

@Hazlitte @eugene-manuilov Does this proposed fix result in the removal of the requested resources from the admin toolbar or do you want me to open a

[2021-04-26 13:16] Hazlitte commented on #2938
Hi @jamesozzie To confirm, yes this fix does remove the Site Kit menu option from the admin toolbar when an editor is logged in.

[2021-04-26 13:30] Hazlitte commented on #2938
@jamesozzie I have updated the QA Brief to check the admin toolbar as well.

[2021-04-26 14:00] bethanylang commented on #2924
@abdullah1908 I'm escalating this to L2.

[2021-04-26 14:03] bethanylang commented on #2986
@abdullah1908 Based upon your last comment, it sounds like we don't have enough details to replicate and this might be an edge case. In that case, does it make sense to close this for now as we did with #3057 @jamesozzie ?

[2021-04-26 15:30] pedrosanta commented on #2220
We have been using the Tag Manager approach as suggested by Google Technical document and it has been working well as a temporary workaround. With that being said I still feel the roadmap on @bethanylang is still of importance to make the onboarding/setup of GA simpler.

[2021-04-26 15:35] bethanylang commented on #2220
@pedrosanta Absolutely! As an update, our current timeline for this integration is end of June. We'll share here if things change.

[2021-04-26 15:40] johnPhillips commented on #3166
Hi @asvinb / @tofumatt
I haven’t dealt with GA4 yet, so I just had a couple of questions around this:

The analytics `PropertySelect` component  you mention uses the analytics store's `getAccountID` selector:
https://github.com/google/site-kit-wp/blob/11b7cff0245e1eae5e3d2ffb085cdb0fceabeef5/assets/js/modules/analytics/components/common/PropertySelect.js#L44
This selector doesn’t appear in the GA4

[2021-04-26 17:00] felixarntz commented on #3166
@johnPhillips Just saw this, so chiming in here:

Exactly, the accounts are the same between both modules, so you can use that.

No this can be ignored for the GA4 version.

[2021-04-26 17:02] aaemnnosttv commented on #3164
@Hazlitte would you please add a QA brief?

[2021-04-26 17:03] Hazlitte commented on #3164
@aaemnnosttv Yes of course.  Apologies that I forgot to do that.

[2021-04-26 17:10] eugene-manuilov commented on #1891
@Hazlitte there are two things we still need to add to the IB: changes required on the PHP side and a note that we need to hide the second switch if the first one is enabled as it is described in the AC:

[2021-04-26 17:19] eugene-manuilov commented on #3188
IB :heavy_check_mark:

[2021-04-26 17:27] #3014 closed

[2021-04-26 17:27] #2975 closed

[2021-04-26 17:27] #2976 closed

[2021-04-26 17:29] tofumatt commented on #3174
Unless there's something I'm missing, I think requiring a decorator for the padding is my preference too.

It probably requires adding a lot of said decorators for "UI components"—things like buttons, select components, etc. But for screens or widgets not including "default" padding and instead letting the story specify what—if any—padding is required will result in more accurate stories. I think

[2021-04-26 17:29] #2877 closed

[2021-04-26 17:29] #2904 closed

[2021-04-26 17:30] #3056 closed

[2021-04-26 17:31] #2991 closed

[2021-04-26 17:33] #2695 closed

[2021-04-26 17:33] #2977 closed

[2021-04-26 17:35] #3012 closed

[2021-04-26 17:35] #3183 closed

[2021-04-26 17:36] #2979 closed

[2021-04-26 17:36] #2980 closed

[2021-04-26 17:36] #3106 closed

[2021-04-26 17:36] #2981 closed

[2021-04-26 17:36] #2870 closed

[2021-04-26 17:36] #3192 closed

[2021-04-26 17:36] #3130 closed

[2021-04-26 17:37] #3102 closed

[2021-04-26 17:37] #2183 closed

[2021-04-26 17:37] #2885 closed

[2021-04-26 17:37] #2280 closed

[2021-04-26 17:37] #3058 closed

[2021-04-26 17:40] #3119 closed

[2021-04-26 17:45] #2992 closed

[2021-04-26 17:56] Hazlitte commented on #1891
Hi @eugene-manuilov, on reviewing the IB I spotted that I hadn't included the requirement to add and update the switch labels.  I have now done that.  I have also added the requirements to:
* only display the second switch if the first one is disabled
* update the `Analytics.php` file
* update the corresponding phpunit tests

[2021-04-26 18:02] felixarntz commented on #3064
## Approval ❌

There is a problem here related to the source link: It only leads to the filtered view including only "Organic Search" in the single URL view. On the overall dashboard, it still leads to the overall channels view without the "Organic Search" filter like it should.

This is because in https://github.com/google/site-kit-wp/pull/3142/files#diff-05c312086666c0cdc8e39ab72ba4f96e393a1448a

[2021-04-26 18:06] #3062 closed

[2021-04-26 18:10] #3042 closed

[2021-04-26 18:10] #2983 closed

[2021-04-26 18:10] #3060 closed

[2021-04-26 18:11] #3065 closed

[2021-04-26 18:52] #2066 closed

[2021-04-26 18:52] #2900 closed

[2021-04-26 18:52] #2993 closed

[2021-04-26 18:52] #2886 closed

[2021-04-26 18:54] #3011 closed

[2021-04-26 18:55] #2937 closed

[2021-04-26 19:01] felixarntz commented on #3064
With the additional fix merged, this works as expected now! ✅

[2021-04-26 19:01] #3064 closed

[2021-04-26 19:11] felixarntz opened #3225 "Ensure widgets in an area are combined beyond their row if all of them have the same special state"
This is a follow-up to #2252, covering a use-case that previously hasn't been considered but is relevant for e.g. the Site Kit module pages, see screenshot:
<img width="897" alt="Screen Shot 2021-04-26 at 10 52 34 AM" src="https://user-images.githubusercontent.com/3531426/116128224-8fe1e100-a67d-11eb-9d31-f4d71ffc13bc.png">

The logic to combine widgets in the same widget area with similar states

[2021-04-26 19:19] felixarntz opened #3226 "Switch module screens UI to be conditional between widget-based and legacy version"
Similar to the Site Kit dashboard, the Site Kit module pages should display _either_ the widget-based version _or_ the legacy version. Like with the Site Kit dashboard, it was intentionally decided to first render both to allow for easy comparison, but now that all widgets have been migrated, the screens should only display one or the other based on whether the `widgets.moduleScreens` feature flag

[2021-04-26 20:08] felixarntz opened #3227 "Do not make Google API request if default scopes are missing"
Currently, if the user for some reason does not complete the OAuth flow after activating a module (e.g. by just returning via the browser's Back button), they (as expected) see an error that they need to grant additional scopes. However, currently Site Kit's behavior is largely unaffected by this, still making Google API requests as usual, which results in a bunch of error API requests that could

[2021-04-26 20:20] zelim-khan commented on #2870
My wp-admin page was not opening at all when installed the latest version site kit from wordpress plugin directory.  when i change Migration_1_8_1.php file with [this ](https://github.com/google/site-kit-wp/blob/72dd77b4c5c771f79b666fbe79049b9f1b4f2425/includes/Core/Util/Migration_1_8_1.php)  it started working but the page takes 25 seconds to load. Can you help me figure this out? I have 190k + u

[2021-04-26 20:22] bethanylang commented on #2870
@zelim-khan Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any additional info

[2021-04-26 20:28] zelim-khan commented on #2870
Hey Mrs. Beth,

There is a problem with wordpress support, I cannot register. that's why I wrote it from here. What other way can I find a solution?

[2021-04-26 20:38] #3211 closed

[2021-04-26 20:57] bethanylang commented on #2870
@zelim-khan It's best for us to provide support via the forums. Can you please contact forum-password-resets@wordpress.org for assistance with logging in? Please let them know the exact issue that you're experiencing. Thank you!

[2021-04-26 21:01] felixarntz commented on #3083
@aaemnnosttv I've added ACs here based on the related UX feedback and discussion.

[2021-04-26 21:02] felixarntz commented on #3170
IB ✅

[2021-04-26 21:06] felixarntz commented on #3168
@eugene-manuilov Mostly LGTM, just one thing:

This shouldn't need to use `isSiteURLMatch`, the idea is that it receives any URLs that it should match via the `url` parameter. In other words, this is a low-level action which should only be used internally by other selectors or actions, and _those_ would then use `isSiteURLMatch` as needed. If we were using `isSiteURLMatch` here, the action would b

[2021-04-26 21:08] felixarntz commented on #2641
IB ✅

[2021-04-26 21:09] felixarntz commented on #2203
IB ✅

[2021-04-26 21:13] felixarntz commented on #576
@johnPhillips Sounds good. I've updated the ACs on #656 accordingly, closing this one.

[2021-04-26 21:13] #576 closed

[2021-04-26 22:35] felixarntz commented on #2988
Moving this one to _Stalled_ since changing the endpoint verb here only due to a questionable rule in iThemes security plugin is not really appropriate, and the last update was that they would remove this configuration in a future version of the plugin.

[2021-04-26 22:44] felixarntz opened #3229 "Add upper boundary for how long manual user input responses can be"
As noted in https://github.com/google/site-kit-wp/issues/3028#issuecomment-817868670, Site Kit should limit how much users can enter in the manual text input fields for the user input flow.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All "Other" input text fields in the user input flow questions sh

[2021-04-26 22:45] felixarntz commented on #3229
@marrrmarrr What do you think we should have as limits here? I went with two different limits overall, one for free text for the "Other" choices, and another (probably lower) limit on the search term length. Assigning to you to define these.

[2021-04-26 22:45] felixarntz commented on #3028
This has been fixed at this point, also see #3009.

@marrrmarrr For the upper boundary, good point, I've opened #3229 to cover that.

[2021-04-26 22:45] #3028 closed

[2021-04-26 22:56] felixarntz commented on #3098
@aaemnnosttv Can you clarify what the intention of the improved messaging here is? I'm not sure I understand your point in the linked comment.

I agree it makes sense to come up with more helpful messages here, but realistically what _is_ the solution in those scenarios? WordPress in some places is telling the user to refresh and try again, but I doubt that would help here. In other places it's al

[2021-04-27 06:36] cole10up commented on #3069
### **QA ⚠️**

Question testing this ticket, when testing using tab and enter keys on the keyboard. Should we retain the hover state after selecting the drop down for the date picker? Currently if you tab to the date picker and press the enter key, if you tab again the hover state is removed.

![Uploading Site Kit by Google Dashboard ‹ SupremeQA — WordPress (1).gif…]()

[2021-04-27 08:35] aaemnnosttv commented on #3115
@felixarntz should we not also inform the user when this happens? It seems like not doing so would be another UX bug where viewing a module's settings could have the side effect of changing this setting without the user knowing.

[2021-04-27 08:39] aaemnnosttv commented on #3160
@felixarntz any reason why we can't do this?

[2021-04-27 08:43] aaemnnosttv commented on #2786
Thanks for the request! Please follow #3053 for updates regarding this enhancement.

[2021-04-27 08:43] #2786 closed

[2021-04-27 09:03] aaemnnosttv commented on #1946
I'm not sure if it makes sense for us to add an additional browser-specific method for opt-ing out of tracking as it is already opt-in by default. We only collect anonymous information from users who opt-in to this to help us improve the plugin and users can manage their preference at any time via the plugin's settings.

[2021-04-27 09:13] aaemnnosttv commented on #3013
@felixarntz seems like a worthwhile enhancement to add. Any reason not to add it?

[2021-04-27 09:26] tfk2 commented on #2681
oh i just got this. AdSense now ignores the analytics data for logged in users. I was kinda hoping I could just stop adsense entirely loading for logged-in users.
logged in users are typically DIRECT traffic and AdSense doesn't like DIRECT traffic.

[2021-04-27 09:30] aaemnnosttv commented on #3174
@felixarntz It seems like the consensus is that added padding should be added per story/kind rather than globally; what do you think?

[2021-04-27 09:42] tofumatt commented on #1139
I had a look through the codebase and agree that this is no longer relevant. We've updated a lot of these issues and it isn't worth the dedicated issue anymore as there are few left and refactors tend to clean up this code.

I think we can close this issue now 🙂

[2021-04-27 09:42] #1139 closed

[2021-04-27 09:53] MikkCZ commented on #1946
Just to clarify, the act of installing the plugin is opt-in, but that's done by the site admins. But currently there is no way for the WordPress admins using this plugins to enable visitors of their page to opt-out from that tracking, if they want to honor peoples choice. Maybe the [Global Privacy Control](https://globalprivacycontrol.org/) might be better to use nowadays, instead of DNT.

[2021-04-27 09:54] aaemnnosttv commented on #3098
@felixarntz the general intention is to offer a better experience as it's currently a rather uninformative dead-end.

I think `wp_nonce_ays` looks like an improvement over what we have now indeed so that would already be quite a bit better.

We could also build our own similar function which has its own cases for specific actions like `wp_nonce_ays` does for logout, but that might be unnecessary (

[2021-04-27 10:06] tofumatt commented on #3175
Nothing to add, that looks exactly right 👍🏻

[2021-04-27 10:09] aaemnnosttv commented on #1946
I see what you mean now, thanks for clarifying. I've flagged this for review with the team so stay tuned for updates 👍

[2021-04-27 11:55] tofumatt commented on #3069
The "hover" state is also the "focus" state, which should be preserved after selection because it's where the keyboard focus is after selection. Until the user tabs away from that item, it should remain in the "focus"/"hover" state, so yes, that's correct.

[2021-04-27 12:04] eugene-manuilov commented on #1891
Thanks, @Hazlitte! IB :heavy_check_mark:

[2021-04-27 12:05] eugene-manuilov commented on #1891
I have also updated the estimate to 7 since 11 seems to be too much.

[2021-04-27 12:28] tofumatt commented on #3156
IB ✅

[2021-04-27 12:36] johnPhillips commented on #3166
@felixarntz I've got a question regarding storybook coverage (and general use of this component).

The current analytics `PropertySelect` doesn't have its own story per se, but exists in two stories as part of the account / property / profile settings flow:
- [No account selected](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module--account-property-profile-select-

[2021-04-27 12:41] tofumatt commented on #1238
The contents referenced are rendered inside a `<label>` tag, so we shouldn't be adding `<p>` elements inside it—labels are inline elements and shouldn't contain block-levels inside them.

<img width="751" alt="Screenshot 2021-04-27 at 13 39 07" src="https://user-images.githubusercontent.com/90871/116242579-f3dbd680-a75d-11eb-8880-92d5ae66112c.png">

It'd be best to use something like a line break

[2021-04-27 13:00] eugene-manuilov commented on #3168
Ah... yes, good catch, @felixarntz. I have updated IB to compare `url` with `defaultUri` property of a web data stream.

[2021-04-27 13:11] marrrmarrr commented on #3161
Yeah, I think having this below all other existing settings should work for now.
SGTM on using the [GTM validation error style](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/tag-manager-module-settings--edit-with-a-non-unique-new-container) for anything pasted that doesn't match the ads ID format.

[2021-04-27 13:14] eugene-manuilov commented on #3165
IB is updated.

[2021-04-27 13:18] marrrmarrr commented on #683
It seems that it would be easier here to keep the "you will no longer have access to" phrasing, since that is standard across modules and change the other two strings (`"Monetize your website"` and `"Intelligent, automatic ad placement"`).

Let's keep "Intelligent, automatic ad placement" and change the other one to "Revenue from ads placed on your site".

[2021-04-27 13:21] marrrmarrr commented on #197
Closing this, as it's being addressed with the dashboard UX work going on right now (zero states specifically).

[2021-04-27 13:21] #197 closed

[2021-04-27 13:25] tofumatt commented on #2122
I tried the suggested IB here and still saw off-by-one days of weeks in the Analytics dashboard.

The server-side implementation is, I think, correct, but the client-side has issues maybe?

Either way, visiting http://sitekit.10uplabs.com/wp-admin/admin.php?page=googlesitekit-module-analytics then selecting "90 days" on a site with data (ElasticPress.io, for instance) will show the error.

[2021-04-27 13:34] marrrmarrr commented on #1148
Three considerations here:
- We're revising this entire UXD flow in the new dashboard redesign;
- Users tend to treat these messages not as recommendations, but as "must do next and get all the green checkmarks";
- GTM and Optimize are for slightly more advanced users (who want to do experiments etc) and don't offer any functionality that can be accessed via the Site Kit dashboard.

Based on all t

[2021-04-27 13:34] wpdarren commented on #2938
### QA update: Pass ✅

**Verified:**

-  Checked that the Site Kit menu options are not displayed on the left hand side WP menu.
-  Checked that the Site Kit menu option is not displayed in the admin toolbar when view the website.

**Additional checks:**

- Checked that the Site Kit widget is not displayed on the WP Dashboard.
- Checked that the Site Kit menu options are not displayed on smaller s

[2021-04-27 15:01] aaemnnosttv opened #3232 "Analytics Site Stats chart shows zero values for current 90 day range in widget-based module dashboard"
## Bug Description

The Site Stats chart on the widget-based Analytics module screen does not show properly for the 90 day date range.

## Steps to reproduce

1. Set up Site Kit with Analytics
2. Enable `widgets.moduleScreens` feature
3. Navigate to Analytics module screen
4. Switch to 90 day date range
5. See current values are all zero

## Screenshots

![image](https://user-images.githubusercont

[2021-04-27 15:29] felixarntz commented on #1148
@marrrmarrr Yes, for now let's improve this in a limited way as follows: If all of the 4 flagship modules are already active, don't show the list of modules here, as it's pointless then.

[2021-04-27 15:49] Hazlitte commented on #3072
**QA Eng ✅**

* tested `npm run lint`
* tested `npm run watch`
* deleting dependancies from `useEffect` generated warnings as expected

[2021-04-27 15:55] felixarntz commented on #1475
After reviewing browser support, it was decided to explicitly drop support for IE, especially since it is reaching EOL.

[2021-04-27 15:55] #1475 closed

[2021-04-27 15:55] wpdarren commented on #2851
### QA Update: Clarification with Engineer ⚠️

@tofumatt @asvinb @felixarntz to add to your comments about radio buttons not being tabbable, why not? In my opinion they should be. When the initial page loads `wp-admin/admin.php?page=googlesitekit-user-input` you are unable to tab to the next answer in the first question. You have no option but to use the mouse if you want to select any answer but

[2021-04-27 16:29] Hazlitte commented on #3171
**QA Eng ✅**

* code implemented as per the AC
* js tests pass

[2021-04-27 16:34] Hazlitte commented on #2122
Hi @tofumatt,
My IB test seems to work best I realised that I failed to specify which set of data to slice in the IB so I added previousMonthRows to:
`if 90 days has been selected slice the previousMonthRows data starting at row 6`

[2021-04-27 16:49] wpdarren commented on #3164
### QA Update: Pass ✅

**Verified:**

- Confirmed that the Property field displays the name and property ID when you edit Analytics in the settings.

![image](https://user-images.githubusercontent.com/73545194/116280610-c5232780-a780-11eb-9449-1c2d611e735d.png)

[2021-04-27 17:27] aaemnnosttv commented on #2122
Note there is a bug with the 90 day view in the widget-based version of the Analytics dashboard which may complicate the discovery here. See #3232

[2021-04-27 17:34] felixarntz commented on #2771
@adamsilverstein Any update on this one? It just came up in our triage meeting, that's why I'm asking.

[2021-04-27 17:36] felixarntz commented on #1466
This is a service-side problem and unrelated to the plugin codebase, so we are tracking this internally. At this point we can unfortunately not announce when this will be fixed, but it is on our radar.

[2021-04-27 18:18] felixarntz commented on #2519
After review with the team, this is out of scope for Site Kit. While Tag Manager supports multiple containers, Google's recommendation is to keep it to a minimum, similar to how it is for Analytics properties. Therefore Site Kit will stick to enabling the recommended approach, also given the cognitive overhead this would create for users.

[2021-04-27 18:18] #2519 closed

[2021-04-27 18:23] aarondruck commented on #1292
Ok I left some feedback in Figma

On Tue, Apr 27, 2021 at 8:45 AM Felix Arntz ***@***.***>
wrote:

[2021-04-27 18:43] felixarntz opened #3233 "Fix PHP method to permute site URLs so that it also considers any path present in the site URL"
As noticed in https://github.com/google/site-kit-wp/pull/3176/files#r621493850, the existing implementation of the `Module::permute_site_url` method is incorrect. This is not really critical, since it is only used in 3 places where either this bug doesn't affect the usage (because it's only to get hostnames anyway) or the surface area is tiny (the only place this really causes a problem is the non

[2021-04-27 18:44] felixarntz commented on #3165
@eugene-manuilov Good idea keeping the code, as commented-out. IB ✅

[2021-04-27 18:45] felixarntz commented on #3168
IB ✅

[2021-04-27 18:49] felixarntz commented on #3115
@aaemnnosttv Good point. Actually, this leads to another question too, what if the existing snippet is for a different property than what was previously selected? In that case, that would need to be automatically updated too.

I guess it makes most sense to keep this as is for now and move it back in the queue. There's some UX improvements to unpack here, but where this currently is, it doesn't fe

[2021-04-27 18:52] felixarntz commented on #3166
@johnPhillips Yes, disabling the dropdown until an account is selected makes sense.

Regarding the other points, yes let's not touch `AccountSelect` at this point and only have a story for the GA4 `PropertySelect`. The GA4 properties which are shown need to be based on the current `accountID` (from the `modules/analytics` store), that is the only connection there should be for now.

[2021-04-27 19:06] felixarntz commented on #3098
Yeah, let's go with `wp_nonce_ays` for now (unless you've additional input Eugene).

[2021-04-27 19:07] felixarntz commented on #3013
@aaemnnosttv IMO yes, that should be technically trivial. Paging @marrrmarrr for confirmation. This should be an easy win with worthwhile benefits for our Optimize users.

[2021-04-27 19:14] felixarntz commented on #3160
@aaemnnosttv This is a valid improvement. It should be trivial, as it looks like we already handle any OAuth error code present and output the respective error on the splash screen. The logic to include the `errorMessage` JS field that is used for this is only run for sites using the proxy though, so maybe we should make this conditional (keeping the old state for the <1%).

Maybe this is also a g

[2021-04-27 19:17] felixarntz commented on #1148
I've updated the ACs here to cover all relevant cases. Basically, if all 4 modules we usually show there are already active, there's no point to show them as modules to potentially activate. This is not only relevant potentially after GTM, it could also apply to Optimize, or any of the other modules that you activate _last_.

[2021-04-27 21:13] tofumatt commented on #3161
The requested text in the ACs is *"Copy your Ads Conversion ID here if you want Site Kit to place the snippet on your site"*, but I think starting the sentence with the word "copy" is confusing and leads me to think there is a value here I should copy and use elsewhere.

I think it would be better to use something like *"Insert your Ads Conversion ID here if you want Site Kit to place the Ads snip

[2021-04-27 21:20] ivankruchkoff commented on #2998
@felixarntz I've updated IB based on this new info.

[2021-04-27 22:25] felixarntz commented on #3161
@tofumatt

Sounds good, I've changed this to say "Insert" in the ACs.

Ah yes, that didn't really make sense before. If the ads snippet is inserted, the ads ID should be displayed for the settings view. I've also added another point related to this to the ACs though, which is that this can only be done if the overall Analytics snippet is inserted via Site Kit. So the whole new setting should be de

[2021-04-28 01:17] adamsilverstein commented on #2771
I'll take another look. @jamesozzie or @abdullah1908 - can you confirm - have users tried resetting since we made that available and that hasn't helped?

[2021-04-28 06:23] aaemnnosttv commented on #3043
Closing this for now, but we can reopen again if needed. cc: @felixarntz

[2021-04-28 06:23] #3043 closed

[2021-04-28 07:06] aaemnnosttv commented on #1523
After giving this another try with a fresh site, I'm still unable to reproduce any problem setting up Site Kit on Bedrock.

It certainly may be possible to have trouble completing the Site Kit-facilitated site verification process though for a number of reasons such as improper web server configuration. It does not seem however that Bedrock itself is responsible for this as this has worked as expe

[2021-04-28 07:06] #1523 closed

[2021-04-28 07:31] aaemnnosttv commented on #2749
IB ✅

[2021-04-28 07:56] iheblhbib opened #3234 "Google Analytics Erreur : The response is not a valid JSON response."
When i launch Google Analytics , i get this error "Erreur : The response is not a valid JSON response." , i don't know why !!

react_devtools_backend.js:2557 Google Site Kit API Error method:POST datapoint:create-account-ticket type:modules identifier:analytics error:"The response is not a valid JSON response."

[2021-04-28 08:58] aaemnnosttv commented on #3118
@Hazlitte the `application_name` is returned from `Google_Proxy::get_application_name` so this should be the only place where the change is needed to the name specifically.

Regarding the reference in `get_features`, I think this should use the same `get_application_name` method for the platform instead of the hardcoded string we have now, although this would include the version as well.
@felixarn

[2021-04-28 09:02] aaemnnosttv commented on #3138
@danielgent these styles don't seem relevant to the issue here since it's a single `font-size` rule only 🤔
https://github.com/google/site-kit-wp/blob/27342ee6405bbea9a567439024d735214f4ca1c2/assets/sass/components/global/_googlesitekit-source-link.scss#L19-L21
Did you mean to reference a different stylesheet?

Also, don't forget to always populate all sections of the IB as per the guidelines.

[2021-04-28 09:24] aaemnnosttv commented on #3218
IB ✅

[2021-04-28 09:28] johnPhillips commented on #1765
Unassigned myself after conversation with @aaemnnosttv - we agreed the ACs here maybe need to be brought up to date.

[2021-04-28 09:31] aaemnnosttv commented on #1794
IB ✅

[2021-04-28 09:39] aaemnnosttv commented on #1794
@danielgent please remember to always add a QA Brief with a PR when including one as part of the IB. Once added you can simply un-assign yourself 👍

[2021-04-28 09:51] aaemnnosttv opened #3236 "Update deprecated use of Puppeteer's `page.waitFor`"
## Feature Description

v5 of Puppeteer has deprecated its `waitFor` function. We should update our use accordingly to avoid problems later when it is removed, but also to avoid extra noise in tests from this warning.

This function is still not removed yet, even in the latest v9 of Puppeteer so it isn't an emergency.

See also https://github.com/WordPress/gutenberg/issues/28093

---------------

[2021-04-28 09:51] jamesozzie commented on #3234
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. Should we determine a bug or action to be address on the plugin side we can reopen this GitHub issue.

In many cases such notices are as a result of plugin conflicts, so feel

[2021-04-28 09:51] #3234 closed

[2021-04-28 11:29] danielgent commented on #3138
@aaemnnosttv Thanks for that!  Ooops.  I put the link to the previous stylesheet :facepalm:

I read through the IB Guidelines doc again.  I just checked the VRT and there are two changes.  One is exactly what we want :star_struck:  (it's exactly the issue listed above! **The current backstop image in the repo shows the error** https://github.com/google/site-kit-wp/blob/develop/tests/backstop/refer

[2021-04-28 11:43] asvinb commented on #2851
@wpdarren As per the [docs here](https://www.w3.org/TR/wai-aria-practices/#radiobutton):
[code]

So currently, the radio group not being tabbable is in line with W3C ARIA best practices.

[2021-04-28 11:49] jamesozzie commented on #2771
@adamsilverstein I've just followed up with the 3 remaining open support topics, proposing they perform the same check. I'll update you here should I have any updates.

There haven't been any additional reports since February and previous attempts to troubleshoot with the impacted users have been unsuccessful.

[2021-04-28 11:55] tofumatt commented on #3161
Sounds good—I've made updates assuming we'll insert this for AMP pages too using the `AMP_Tag` module, so I think this is good to review for @felixarntz, but I've left @marrrmarrr on this issue in case we _don't_ want to serve this on AMP pages or if there are other AMP considerations.

[2021-04-28 12:00] eugene-manuilov commented on #1797
IB :heavy_check_mark:

[2021-04-28 12:10] wpdarren commented on #2851
@asvinb thank you for this, will continue with testing.

[2021-04-28 12:18] danielgent commented on #3138
I'm reverting my previous IB completely.

This looks like a bug with the `TableOverflowContainer` that has been present for a while (given we have backstop images in the repo showing this bug https://github.com/google/site-kit-wp/blob/develop/tests/backstop/reference/google-site-kit_Analytics_Module_Top_Acquisition_Pie_Chart_0_document_0_small.png )

My previous change involves breaking other part

[2021-04-28 12:47] aaemnnosttv commented on #3226
IB ✅

[2021-04-28 13:04] bethanylang commented on #2771
Thanks @adamsilverstein and @jamesozzie. If we don't get anything back from those users in the next week or two, let's close this issue out. We can always reopen if it's reported again.

[2021-04-28 13:38] wpdarren commented on #2851
### QA Update: Fail ❌

@asvinb an interesting scenario: if the user selects `Other` in error, the cursor jumps into the text field as expected. They are then unable to use the arrow keys to move back up the list of options in the question.  Pressing tab moves the cursor to the next stop which is the WordPress text at the bottom of the page. Is this easily fixed?

https://user-images.githubusercont

[2021-04-28 13:51] asvinb commented on #2851
@wpdarren I think it's perfectly normal. If you click on the "Other" radio button, the focus immediately switches to the input text for the user to type his answer. If the user wants to go back to the radio options, he will use "Shift + Tab" and then use the arrows keys to move up and down. If the user presses "Tab" without entering anything in the "Other" option, the "Next" button remains disable

[2021-04-28 14:18] wpdarren commented on #2105
QA Update:

**Verified:**

Please note: I was unable to recreate the initial issue with the locale set to `Português (AO90)` but can confirm:

- You can enable Adsense module and see earnings reports. The error message did not appear.

[Screenshot 1](https://user-images.githubusercontent.com/73545194/116417987-a5990700-a833-11eb-9568-fd83d2edeb0a.png) - [Screenshot 2](https://user-images.githubuse

[2021-04-28 14:37] eugene-manuilov commented on #3098
@felixarntz @aaemnnosttv unfortunately, I think `wp_nonce_ays` won't work in our case because it uses a referer URL for the retry link in the generated markup. It means that users will be redirected to the wrong link on the proxy server instead of starting authentication from the beginning when they finish the previous authentication too late and click on the retry link.

I think we need to create

[2021-04-28 14:41] Hazlitte commented on #2122
I investigated this further and the IB resolves this bug on the legacy dashboard widget.  It does not solve a similar bug which is in the refactored Analytics widget.

[2021-04-28 14:57] wpdarren commented on #2851
### QA Update: Pass ✅

- Users are able to navigate through all the user input screens with only the keyboard.
- Focus is not be lost when switching back and forth from screens.

[2021-04-28 15:42] wpdarren commented on #1941
@aaemnnosttv just checking this should be a `QA:Eng` ticket since it mentions looking at the codebase?

[2021-04-28 15:53] aaemnnosttv commented on #1941
Yep, thanks @wpdarren – I've added it now 👍

[2021-04-28 16:26] Hazlitte commented on #2641
**QA Eng ✅**

[2021-04-28 17:39] eugene-manuilov commented on #3157
@ivankruchkoff the `Post_Meta_Setting::get_type` method already returns `string` by default, so there is no need in overriding this method in `Post_Idea_Name` and `Post_Idea_Text` classes. Also, please, try to avoid using code snippets when possible. Better use narrative statements that explain what needs to be done in specific places.

Could you please elaborate a little bit more here? What exact

[2021-04-28 18:13] ivankruchkoff commented on #2888
I'm seeing this fail consistently in GH e2e, but not locally:
` PASS  tests/e2e/specs/modules/analytics/setup-with-account-no-tag.test.js (56.962s)` (locally)

GH:
[code]

[2021-04-28 18:14] felixarntz commented on #3118
@aaemnnosttv Yes, the application name effectively _is_ platform plus version. So maybe we should introduce private `get_platform` and `get_version` methods and rely on those in both `get_application_name` and `get_features`.

[2021-04-28 18:30] jamesozzie opened #3242 "Logged in users are not counted for AMP traffic despite all visitors counted"
## Bug Description

If a user wishes to count all traffic (including logged in users) in Analytics this works fine in canonical URLs but it's not working in AMP URLs using the official AMP plugin.

When checking any AMP URL the below is evident, no matter that configuration is applied:
`"optoutElementId":"__gaOptOutExtension"
`

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll do

[2021-04-28 18:46] felixarntz commented on #3098
Good point @eugene-manuilov, I've updated the ACs to cater differently for invalid nonces for actions related to the proxy.

[2021-04-28 19:05] felixarntz commented on #3232
@eclarke1 This error only appears on the Site Kit module pages, not on the dashboard, so it's not critical (since we didn't open up the module pages yet). Removing this from the epic.

[2021-04-28 19:14] aaemnnosttv commented on #3232
@eugene-manuilov I believe your suggested change will fix it in this case, but given that the underlying problem is in the Analytics class, what do you think about changing this line? https://github.com/google/site-kit-wp/blob/46e0d0803e2fec749a9938e9bca171f3fab09ceb/includes/Modules/Analytics.php#L896

The API has a default limit of 1000 rows per page which would be more than enough for our use s

[2021-04-28 23:19] felixarntz opened #3243 "Update UA and GA4 dropdowns behavior to only show once parent is specified"
Currently, the Analytics dropdowns for account, property and profile/view always display, with the latter two being disabled until the respective parent entity has been specified. In relation to the upcoming GA4 setup flow, this should be modified so that the user only sees the dropdowns once they actually allow a selection to be made. This should be changed for the existing infrastructure though

[2021-04-28 23:54] ivankruchkoff commented on #2940
Had a look at the approach @asvinb, it makes sense. 👍

It might be worth having a think about composing the `setupRegistry` from the decorator into something that's able to be used across all the stories in `Analytics` module, thus reducing the amount of boilerplate setup required for every story. Any thoughts there @aaemnnosttv ?

[2021-04-28 23:59] felixarntz opened #3244 "Implement submitChanges and validateCanSubmitChanges logic for GA4 store"
The GA4 store in JS `modules/analytics-4` should receive a `submitChanges` and `validateCanSubmitChanges` implementation to handle GA4 data submissions correctly. Since for now all GA4 behavior will be controlled through existing Analytics UI, it should also be incorporated into the similar action/selector respectively of the `modules/analytics` store.

---------------

_Do not alter or remove any

[2021-04-29 00:21] ivankruchkoff commented on #3157
Updated

Updated

[2021-04-29 00:39] felixarntz opened #3245 "Integrate the GA4 submit changes store functionality into the UA submit changes store"
#3244 implemented the `canSubmitChanges` (plus `__dangerousCanSubmitChanges`) selector and the `submitChanges` action for the `modules/analytics-4` store.

For the first milestone of adding GA4 support, the GA4 module only exists internally, while the only user-facing touch points are exposed via the existing Analytics module, which primarily is for UA but now allows for some GA4 support. As such,

[2021-04-29 00:54] felixarntz opened #3246 "Implement dropdown component showing all UA and GA4 properties"
A new Analytics component `PropertySelectIncludingGA4` should be implemented in the `analytics` module which lists all Analytics properties the user has in the current account, of both UA and GA4 type. This component will be used in the "ga4-transitional" flow (see #3170) to list all of the account's UA _and_ GA4 properties.

---------------

_Do not alter or remove anything below. The following s

[2021-04-29 01:15] felixarntz commented on #3170
@danielgent After working on ACs for some of the follow up issues here, I noticed we need to make a small change here (should be trivial): For the cases that GA4 is not loaded or that the GA4 Admin API is not working, the selector should now return a new value "legacy" instead of "ua", since in that case we need to display UI that fully ignores GA4, while "ua" should indicate UI that focuses on "u

[2021-04-29 01:29] felixarntz opened #3247 "Prepare Analytics setup form UI for split into four sub-variants (depending GA4 support and available properties)"
As specified in #3170, the Analytics setup flow with GA4 support will be tiered into three different versions, one of which will be rendered based on the currently selected account and whether it has only UA properties, only GA4 properties, or properties of both types.

Then, in addition there is the existing UI which also needs to be maintained until we launch GA4 support (currently behind `ga4se

[2021-04-29 02:06] felixarntz opened #3248 "Implement Analytics setup form UI for accounts that only have UA properties"
The UI for the scenario that an Analytics account has only UA properties available (yet with GA4 support) should be implemented.

For details on this UI, see:
* [design doc section](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit#heading=h.6t1gq9q9bzg3)
* [Figma design](https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A9057

[2021-04-29 02:06] felixarntz opened #3249 "Implement Analytics setup form UI for accounts that only have GA4 properties"
The UI for the scenario that an Analytics account has only GA4 properties available should be implemented.

For details on this UI, see:
* [design doc section](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit#heading=h.qabd3d3txjj6)
* [Figma design](https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A9053)

---------------

_D

[2021-04-29 02:06] felixarntz opened #3250 "Implement Analytics setup form UI for accounts that have both UA properties and GA4 properties"
The UI for the scenario that an Analytics account has properties of both UA and GA4 type available should be implemented.

For details on this UI, see:
* [design doc section](https://docs.google.com/document/d/11DMYyAGhtFHO8bMH107pacC8iMpD9PJ9BTaR6IF_B5E/edit#heading=h.u9tq2xvonrmx)
* [Figma design](https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A9061)

----

[2021-04-29 02:20] felixarntz opened #3251 "Update `SettingsNotice` component to account for new GA4 notice design"
#3248, #3249, and #3250 implemented the UI for the new Analytics setup flow with GA4 support. The original [Figma design](https://www.figma.com/file/ix0pcdTQi1Bf9QFNBlBByB/GA4-%2B-UA-onboarding?node-id=20269%3A8621) includes a new visual notice look that those issues didn't consider yet. This issue here is about implementing it.

**While this is technically blocked by the above issues, the majorit

[2021-04-29 02:27] felixarntz opened #3252 "Implement GA4 logic in server-side callback for creating a new Analytics account"
In the server-side callback where a new Analytics account has been created, if the `ga4setup` flag is active, a corresponding GA4 property should be created as well.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* In `Analytics::handle_provisioning_callback` a new action should be triggered right befor

[2021-04-29 02:27] felixarntz opened #3253 "Adjust Analytics account creation UI to cater for GA4 support"
If the `modules/analytics-4` store is loaded (i.e. if the `ga4setup` feature flag is enabled), the Analytics account creation UI should be slightly adjusted to explain that both a UA property and a GA4 property will be created.

This ties in with #3252, but is not blocked by it. Just from a user perspective, the notification here technically only makes sense when #3252 is also implemented.

------

[2021-04-29 02:27] felixarntz opened #3254 "Update Analytics settings UI to include specified GA4 property (if set)"
If the `modules/analytics-4` store is loaded (i.e. the `ga4setup` feature flag is enabled) and a GA4 property is set, the Analytics settings panel should allow controlling the selected GA4 property.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* If the `ga4setup` feature flag is enabled, the Analytics

[2021-04-29 09:43] jamesozzie opened #3255 "Safari issue: Failed to initialize NumberFormat since used feature is not supported in the linked ICU version"
## Bug Description

There have been reports of the below dashboard error since 1.31.0 was released. This appears when accessing the primary Site Kit dashboard.
`Failed to initialize NumberFormat since used feature is not supported in the linked ICU version`

One user has reported this only occurs in a Safari browser, troubleshooting ongoing with the other.

<details>
<summary>Full error details be

[2021-04-29 10:52] jamesozzie commented on #3242
Closing this as the issue doesn't existing from testing other sites, across all modes of the AMP plugin.

When this issue was opened testing was done on a site pointing to Cloudflare servers, with possible stale or cached content.

[2021-04-29 10:52] #3242 closed

[2021-04-29 10:55] Hazlitte commented on #3105
**QA Eng ✅**

[2021-04-29 11:30] johnPhillips commented on #3225
@felixarntz A couple of questions for the IB:
- Design / UI question: If we are combining multiple rows / widgets into a single widget, what do we do about the header / footer for the combined widget? Currently they all obviously have different headers (e.g. 'Top content over...') and source link footers. I guess we do away with these?
- Regarding using `getWidgetState` in `combine-widgets`: we al

[2021-04-29 12:23] eugene-manuilov commented on #3232
Yes, it is also a possible solution for this issue, but it will have a broader effect on the codebase than adding the `limit` argument to one report args. Not sure if it is bad or good...

[2021-04-29 12:24] eugene-manuilov commented on #3157
IB :heavy_check_mark:

[2021-04-29 13:28] marrrmarrr commented on #3161
By "snippet is inserted", I was referring to the string we show in UI once the settings are saved:
<img width="197" alt="Screen Shot 2021-04-29 at 15 25 52" src="https://user-images.githubusercontent.com/13304791/116558176-75b73580-a8ff-11eb-91ca-89a8b0086569.png">

I'll check with the Ads team on whether we want to serve this on AMP pages or if there are other considerations and I'll update here

[2021-04-29 13:57] Hazlitte commented on #3151
**QA Eng ✅**

[2021-04-29 14:00] eugene-manuilov commented on #2910
Thanks, @Hazlitte. This issue is a bit tricky, so I have updated your IB to provide more details.

[2021-04-29 14:09] Hazlitte commented on #2910
👍

[2021-04-29 14:39] aaemnnosttv commented on #3118
@felixarntz re: `get_version` it seems unnecessary to create a method to return a constant unless we were implementing an interface or something that other platforms would use. Maybe a `Core\Platform` class would be better to create at some point than putting all of this on the proxy class. For now I think a single `get_platform` method would be fine which would simply return `wordpress` or `wordp

[2021-04-29 14:51] wpdarren commented on #2888
### QA Update:  Pass ✅

**Verified:**

- Able to reproduce the bug.
- The new view is selected when I edit the Analytics settings, rather than the first view.
- Also confirmed that when you select another view, the save button is active and I am able to change it.
- Unable to recreate the bug on `develop` branch

![image](https://user-images.githubusercontent.com/73545194/116570916-87e6a300-a902-1

[2021-04-29 15:03] Hazlitte commented on #3153
**QA Eng ✅**

[2021-04-29 15:20] felixarntz commented on #3161
@tofumatt One thing is slightly off in the IB: The new field in `SettingsEdit` shouldn't appear below the profile name text field, but at the very end of the settings (i.e. also after all the individual toggles etc.).

Can you update that bit? Otherwise IB ✅

A few bits of the settings UI and AMP have to be clarified, but let's get the work on this started already, as nothing should block most of

[2021-04-29 15:23] aaemnnosttv commented on #2910
@eugene-manuilov given some of this logic is already in place for Analytics via `canUseSnippet`, I think we can simplify it a little bit by referencing that setting in the logic. Then maybe we don't even need to hook into it (again) from GTM?

[2021-04-29 15:34] johnPhillips commented on #3165
QA ✅

Verified that:
- there are no more uncommented instances of `accountID` in `includes/Modules/Analytics_4` by using ripgrep for `account` and manually checking the instances.
- the relevant `accountID` instances in `includes/Modules/Analytics_4.php` (`::get_debug_fields` and `::is_connected` sections) have been commented out
- the `accountID` settings slug in `assets/js/modules/analytics-4/da

[2021-04-29 15:49] johnPhillips commented on #3103
@eugene-manuilov Any chance you could add a QA brief? 🙏

[2021-04-29 16:22] bethanylang commented on #3255
Noting that [another user](https://wordpress.org/support/topic/google-site-kit-issue/#post-14380755) suspects this is a Webkit/Safari issue.

[2021-04-29 16:39] aegisdesign commented on #3255
I get the error after re-installing 1.30 as well btw so possibly this is an issue introduced with Safari 14.1 and not the SiteKit 1.31 update. Safari 14.1 was installed on 27th April.

[2021-04-29 16:49] aaemnnosttv commented on #3232
@eugene-manuilov I think it's better to fix the underlying issue here to prevent this from popping up again later. 100 seems like a bit of an arbitrary limit. The 90 day range is the only one that would be affected by this as all the other ranges are well under it, even with `compare: true`.

Thoughts @felixarntz ?

[2021-04-29 16:50] johnPhillips commented on #1794
QA ✅
- Verified the version of backstop has been updated
- Manually checked the updated images
- Ran VRT tests to double check and they all passed

[2021-04-29 17:16] bethanylang commented on #2350
[Another report here](https://wordpress.org/support/topic/message-from-site-kit/):

[code]

[2021-04-29 17:19] felixarntz commented on #3118
@aaemnnosttv Sounds good, updated the ACs.

@Hazlitte Can you update the IB based on the above feedback and updated requirements?

[2021-04-29 17:21] aaemnnosttv commented on #3161
IB updated (no need to bother @tofumatt ), starting on this now 👍

[2021-04-29 17:53] eugene-manuilov commented on #3103
@johnPhillips ah... yes, updated! Thanks!

[2021-04-29 21:05] ivankruchkoff commented on #3152
QA ✅
1. Enabled feature flag `/wp-admin/admin.php?page=googlesitekit-tester` - `ideaHubModule`
2. Opened dashboard `/wp-admin/admin.php?page=googlesitekit-dashboard`
3. Checked for store: `googlesitekit.data.stores["modules/idea-hub"]` - exists.
4. Checked page source for separate javascript file - exists
`<script src='/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-modules-idea-h

[2021-04-29 21:46] tofumatt commented on #3225
Regarding the headers: UX-wise, it seems it'd be best if we didn't show a header referencing particular type of data (or the date range) if we're still gathering data. Maybe we want to add a `headerNoData` or something prop that displays when no data is available?

Showing just the first header seems odd, and combining them is definitely redundant, so it seems adding a new "zero state" header for

[2021-04-29 21:55] tofumatt commented on #2942
Did you mean import `decorators` from the subcomponent story files? I don't think we need to import the actual stories, right? The decorators are exported separately, I think.

[2021-04-29 22:06] tofumatt commented on #3083
@Hazlitte The ACs and discussion mentioning combining these components (the `Overview` and `Stats` components, see https://github.com/google/site-kit-wp/blob/2a18934d46d4cadcb169c50c406ec13f28c481d6/assets/js/modules/adsense/components/module/ModuleOverviewWidget/index.js#L124-L137 for the AdSense version) into a common component, which I think should be possible and would save a lot of future bug

[2021-04-29 22:36] tofumatt commented on #2122
So, first: my apologies, looks like I had the Widget Module pages feature flag enabled when I tested the IB and I noticed this _does_ fix the bug in the non-widget version.

I see why the fix works—but it's a hardcoded solution that'll only work for 90 days or date numbers that match this problem.

Let's instead take an approach where we slice starting from whatever value will get us an array leng

[2021-04-30 08:10] asvinb commented on #2942
@tofumatt The decorators will be per story and we'll need to import them from the stories file. Let me know if that makes sense :)

[2021-04-30 09:23] aaemnnosttv commented on #2122
@Hazlitte @tofumatt my initial impression here is that slicing the rows returned from the API a certain way is likely fixing the issue in the wrong place as we already have specific pieces of code in place that deal with day of the week alignment. Let's first understand why the existing code is falling short to make sure we're addressing this in the right place.

Since this is primarily related to

[2021-04-30 09:33] johnPhillips commented on #1891
@Hazlitte / @eugene-manuilov I have a question about an edge case here, and another about the UI.

The edge case is this:
- Both switches are rendered and unchecked (i.e. because the logged in user switch is off, the content creator switch is rendered too)
- User checks the content creator switch, meaning the array is now `["contentCreators"]`
- User then checks the logged in user switch, which hi

[2021-04-30 10:03] aaemnnosttv commented on #3161
@marrrmarrr you can see what we have in progress in Storybook here:
- [Settings View](https://google.github.io/site-kit-wp/storybook/pull/3257/?path=/story/analytics-module-settings--view-open-with-all-settings)
- [Settings Edit](https://google.github.io/site-kit-wp/storybook/pull/3257/?path=/story/analytics-module-settings--edit-open-with-all-settings)

I think right now the only thing we're wait

[2021-04-30 10:12] asvinb commented on #3182
@aaemnnosttv I was hoping we could use the new `extract` [command which comes with Storybook 6](https://storybook.js.org/docs/react/workflows/storybook-composition#improve-your-storybook-composition), but when I tested, custom properties were not exported in the JSON file. So prior to to run the `backstopjs` command, I thought we would run `sb extract` to get the list of stories and then parse the

[2021-04-30 10:21] eugene-manuilov commented on #1891
@johnPhillips Yes, let's keep both values. The `loggedinUsers` value will take precedence and `contentCreators` will be ignored.

Yes, looks good to me.

[2021-04-30 10:31] asvinb commented on #938
Before adding filter:
`<meta name="generator" content="Site Kit by Google 1.31.0" />` outputted in the page markup.

After adding filter:
Meta tag not outputted.

### QA: ✅

[2021-04-30 10:45] asvinb commented on #3104
* Analytics_4 class implemented as per AC
* `getWebDataStreamsBatch` selector added to the `webdatastreams` data store.

### QA: ✅

[2021-04-30 11:03] asvinb commented on #2941
`Button.stories.js` implemented as per AC.

### QA: ✅

[2021-04-30 11:07] jamesozzie commented on #3070
In Search Console (and Analytics) they are per URL. There is no "Title" heading in either product.

![image](https://user-images.githubusercontent.com/41326532/116686965-68a45000-a9ac-11eb-8731-25b033a8b2d3.png)

I'll add for discussion next week.

[2021-04-30 11:08] danielgent commented on #1045
Hey @tofumatt :wave:

I'd be happy to chat about this, but now I've realized that the P0s are priority, I'll leave these P2s until after I've written IBs for all the P0s  :smile:

It's the classic React child-component-controlling-a-parent situation.

The problem with lifting the state up into the data stores is how will we know that the text should be `cancel` again?  When `ModuleSetup` mounts ag

[2021-04-30 11:50] johnPhillips commented on #1891
@eugene-manuilov I wasn't sure how to actually test that the exclusion is working on my local environment - looking at the PHP tests, I think an opt-out script should be added to the HTML?
Let me know the specifics and I'll update the QAB. For now I've just put `Verify that tracking exclusions are working as in the settings.`

[2021-04-30 12:03] jamesozzie commented on #2924
The same issue occurs on another site with the same hosting provider. Thanks to the new REST API notices it looks like the issue is as a result of such restrictions, with the below evident during setup:
`Site Kit cannot access WordPress REST API`

Awaiting hosting provider for further checks support side, happy to close also given this is something we're unable to address on the Site Kit side.

[2021-04-30 13:27] tofumatt commented on #1941
QA ✅

[2021-04-30 13:47] jamesozzie opened #3263 "React error when Site Kit admin menu is moved from top-level"
## Bug Description

As reported in the WordPress support forums when using the [Admin Menu Editor plugin](https://wordpress.org/plugins/admin-menu-editor/) a React dashboard error appears if nesting the Site Kit primary dashboard within a custom added top level menu.

Reproducible in support. As per the users experience this only occurs with Site Kit placed inside a custom added menu via the same

[2021-04-30 13:51] tofumatt commented on #3150
QA ✅

[2021-04-30 14:18] johnPhillips commented on #3169
QA ✅

- Everything seems implemented correctly as per the AC
- The tests pass

[2021-04-30 14:25] adamsilverstein commented on #3070
Ah right, thanks for checking @jamesozzie. One potential way to resolve this that would better align with what user's see in Search console would be to group the most popular content by slug/url, then just show the most recent post title.

From a user perspective, I feel like showing the page titles is more valuable/easier to understand than just showing the slug/url. At the same time, it is impor

[2021-04-30 14:50] jamesozzie commented on #3070
I agree, displaying the page title along with the slug is ideal however if a user change's a site title could the listing in the most popular content table only show a URL one (with the latest title), in particular as both click through links land on the same "Detailed Page Stats" per the same URL

![image](https://user-images.githubusercontent.com/41326532/116712388-b7151700-a9cb-11eb-81bd-22708f

[2021-04-30 15:10] tranthenet commented on #852
ThierryA's security concerns have a very solution.

It works like this
Admin account, for example admin@gmail.com connection to Site Kit
User account for example editor@gmail.com

If the user account editor@gmail.com  is added in Analytics admin admin@gmail.com at analytics.google.com/analytics/web/.../admin/suiteusermanagement/view
Then in the wordpress admin they can see the data
The same goes f

[2021-04-30 16:14] eugene-manuilov commented on #2910
@aaemnnosttv as far as I see it, we can't rely on the logic for `canUseSnippet` because it has different conditions. For example, `canUseSnippet` will be `false` if we have a GTM container with an Analytics tag. If we relied on `canUseSnippet`, then we would have to hide the tracking switch which is wrong.

[2021-04-30 16:39] felixarntz commented on #3070
Yeah from an API perspective we should probably just query by URL. Let's see if it is possible though to also get back the (latest) title from Analytics, without that affecting the numbers/filtering though.

[2021-04-30 19:27] tofumatt commented on #3167
QA ✅

[2021-04-30 20:07] aaemnnosttv commented on #3091
@johnPhillips would you please add a QA Brief?

[2021-04-30 21:04] adamsilverstein commented on #3255
I was able to reproduce this using Safari 14.1 and the latest version of Site Kit. I didn't see the error on an older version of the plugin - I will try to isolate the version or commit that introduces the issue.

My trace was a bit different than reported above, possibly worth noting that the error appears related to the GoogleChart component:

[code]

[2021-05-02 17:43] bakoorahnin opened #3264 "bug report"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2021-05-03 10:06] aaemnnosttv commented on #2122
@felixarntz I took another look at the charts on the service and found mixed results regarding weekday alignment.

The only place I see weekday alignment is on the top-level Google Analytics home dashboard. This also has similar date ranges to choose from: 7, 28, 90 (+others/custom). For the 7 and 28 ranges, we see the alignment we would expect, although these ranges are even divisions of 1 week s

[2021-05-03 10:26] jamesozzie commented on #3264
@bakoorahnin Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any additional inf

[2021-05-03 10:26] #3264 closed

[2021-05-03 11:53] aaemnnosttv commented on #2394
@wpdarren is this something you could help look into? Let's find out if this is still relevant and if so, how much.

[2021-05-03 12:15] aaemnnosttv commented on #3162
@aarondruck here they are side-by-side which makes it a bit easier to compare.
![image](https://user-images.githubusercontent.com/1621608/116874155-80d0d500-ac21-11eb-962d-3b3ffb570021.png)

The color looks more balanced with the new phone icon, but I think I prefer the laptop icon to the monitor.

How about `smartphone` and `computer` icons?

![image](https://user-images.githubusercontent.com/162

[2021-05-03 12:23] aaemnnosttv commented on #2391
@felixarntz is this still something we're going to do or we're not sure? If so, should we remove the current ACs and IB since it will likely need to be redefined?

[2021-05-03 12:27] aaemnnosttv commented on #1821
Closing this out for now as E2E has been fairly smooth lately and we'll likely open a new issue if it comes up again anyways.

[2021-05-03 12:27] #1821 closed

[2021-05-03 13:03] wpdarren commented on #2394
@aaemnnosttv sure, will have a look at this once we have the sprint out of the way.

[2021-05-03 13:47] wpdarren commented on #2529
### QA Update: Pass ✅

**Unauthenticated / Site Kit not set up yet**
Splash screen loads without redirecting
Navigating directly to SK dashboard redirects to splash screen
`/wp-admin/admin.php?page=googlesitekit-splash`

![image](https://user-images.githubusercontent.com/73545194/116431695-eb5bcc80-a83f-11eb-814f-183b3e2e20ee.png)

**Authenticated / Site Kit set up**

- Navigating directly to spla

[2021-05-03 15:01] wpdarren commented on #2821
@cole10up @aaemnnosttv do you have a site with a subdirectory install that has analytics data? I've tried changing the directory of a Jurassic ninja site and it keeps erroring out. I have a live domain but it does not have enough data to test this.

[2021-05-03 15:25] felixarntz commented on #2391
@aaemnnosttv Maybe, we can review in an eventual Stalled triage meeting.

Let's keep the ACs and IB in there until we know for sure they need to be updated or rewritten, as they may still be (almost) valid or at least good for reference.

[2021-05-03 15:48] jamesozzie opened #3265 "Homepage doesn't have a "Detailed Page Stats" view"
## Bug Description

As [reported in the WordPress support forums](https://wordpress.org/support/topic/detailed-page-stats/page/3/#post-14391898) one user is encountering an issue whereby there is no detailed page stats for their homepage. While their homepage does appear (twice) in the "Top Content" table the detailed page stats link for each URL result in the message:

_"It looks like the URL htt

[2021-05-03 18:00] felixarntz commented on #3225
@johnPhillips Regarding the `widgetStates` variable, yes we can/should absolutely use that in `combineWidgets`. The ACs referring to `getWidgetState` was more at a high-level (since `widgetStates` is anyway populated by using `getWidgetState` multiple times.

About the widget headers, those won't be displayed anyway. Anytime that widgets are combined, none of them are actually displayed; only the

[2021-05-03 18:05] felixarntz commented on #3232
@aaemnnosttv @eugene-manuilov I think removing the arbitrary limit in the `Analytics` class makes sense. I also agree it probably doesn't make sense to pass `limit` unless we want to increase it beyond the default (which probably won't ever be necessary unless we want more than `last-500-days` :)

[2021-05-03 18:09] felixarntz commented on #2998
@ivankruchkoff Please avoid writing too much code in the IB, this is pretty much the PR needed here, and it shouldn't turn into a code review. (Plus it's hard to review this code anyway since it's not obvious immediately where it differs from the existing state.)

A little code where needed to explain the approach is okay, but not full functions etc.

Can you explain your suggested change in a few

[2021-05-03 18:13] felixarntz commented on #3174
@aaemnnosttv @tofumatt @asvinb I'm not sure about this one. It seems to me that having a padding still makes sense as a default, as only very few particular components need to have no padding to reflect more how they look in Site Kit.

For example, atomic UI components, widgets, even combinations of widgets to make up almost a whole screen aren't really affected by what exact padding they have, bu

[2021-05-03 18:14] felixarntz commented on #2122
Moving this back to ACs to revisit.

[2021-05-03 18:38] felixarntz commented on #2998
IB ✅

[2021-05-03 19:18] danielgent commented on #3069
Ok there are a few things going on here.

We have state in React for all these menus to say if they're open *but* we don't actually listen to the tab key event.  So when tab is pressed, the browser is moving focus to the next element *but* we're not setting the state to false.  So the CSS rule that I added in my previous PR is still active because the `aria-expanded` attribute is still `"true"`
[c

[2021-05-03 19:23] danielgent commented on #3069
The reason the above bug wasn't spotted and the menu stayed open is because the menu `/assets/js/components/Menu.js` is built with a non-React library `@material/menu`

This is passed a ref to the menu `const menuComponent = new MDCMenu( menuRef.current );` and then it has its own state for closing the menu

In React we are toggling it imperatively with a `useEffect`, but it is also responding to

[2021-05-03 19:28] danielgent commented on #3069
*and* there's another bug which haven't spotted and `@material/menu` has covered up!

There is a bug in the three menus' logic. The `handleMenuClose` mixes a click outside handler with a keypress one so it disregards all `Escape` key presses (because the event.target **is** the button)

[code]
https://github.com/google/site-kit-wp/blob/main/assets/js/components/DateRangeSelector.js#L52

This looks

[2021-05-03 20:09] felixarntz commented on #3161
@aaemnnosttv In addition to the PR feedback, one tiny thing to update here is the description for the settings field. The original copy didn't provide enough context on the field and could set false expectations that this might be something generally worth including. I've confirmed new copy with @marrrmarrr and updated the ACs with it (it now clarifies that this field is only relevant if the user

[2021-05-03 20:13] felixarntz opened #3267 "Fix misspelling in README.md"
There is a misspelling in `README.md`, which refers to "Contributor Handhook" instead of "Contributor Handbook"; originally reported via #1340.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The misspelling of "Contributor Handhook" in `README.md` should be fixed.
* "Any kind of contributions to Site

[2021-05-03 20:15] danielgent commented on #3069
I managed to fix the weirdness with the menu taking two clicks to open *but* when I tab when `@material/menu` is focused it doesn't play well with React and the tabbing breaks.

Here you can see the problem on a branch I've done where I tried to fix the key press and click outside handling with `react-use` hooks
https://github.com/google/site-kit-wp/compare/enhancement/3069-help-date-picker-key-ev

[2021-05-03 20:17] felixarntz commented on #3267
@eclarke1 FYI added this to the sprint, but this already had a PR that worked as is, and QA should be minimal, so technically the estimate here is probably even less than 1.

[2021-05-03 20:27] felixarntz opened #3268 "Fix broken link in `readme.txt`"
## Bug Description

The link to `https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/` found in `readme.txt` is broken due to a "Markdown typo"; originally reported via #2863.

See how it is broken here:
<img width="727" alt="Screen Shot 2021-05-03 at 1 27 34 PM" src="https://user-images.githubusercontent.com/3531426/116929491-5a0ba200-ac13-11eb-83fe-b2757195c2b5.p

[2021-05-03 20:29] felixarntz commented on #3268
@eclarke1 Similar to #3267 here, this already had a working PR and QA should be super quick, so I've added it to the sprint and release.

[2021-05-03 21:47] felixarntz opened #3269 "Implement infrastructure for creating empty WordPress draft post based on Idea Hub idea"
REST and data store infrastructure for creating a draft post based on an Idea Hub idea should be implemented, based on the foundation established in #3154 and #3157.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `POST:create-idea-draft-post` REST data point should be implemented:
    * It should

[2021-05-03 21:47] felixarntz opened #3270 "Implement getting Idea Hub ideas for which there is a WordPress draft or published post"
Infrastructure for getting Idea Hub ideas for which a WordPress draft post or published post respectively exists should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `GET:draft-post-ideas` REST data point should be implemented:
    * It should query WordPress draft posts that have

[2021-05-03 21:48] felixarntz opened #3271 "Show Idea Hub context for posts based on Idea Hub idea in WordPress posts list table"
The WordPress posts list table should indicate which posts are drafts created on an Idea Hub idea.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Every WordPress _draft_ post that was created based on Idea Hub idea (i.e. has idea metadata set, see #3157) should be indicated as such in the WordPress ad

[2021-05-03 21:49] felixarntz opened #3272 "Show Idea Hub context for post based on Idea Hub idea in WordPress block editor / Gutenberg"
The WordPress block editor (Gutenberg) should indicate if the current post is a draft based on an Idea Hub idea.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When editing a WordPress post that has Idea Hub idea metadata set in the block editor (Gutenberg), a notice [like in this Figma file](https://

[2021-05-03 21:50] felixarntz opened #3273 "Scaffold Idea Hub module in JS"
The `idea-hub` module should be registered in JS so that it can be activated (only if the `ideaHubModule` feature flag is enabled).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A `registerModule( modules )` function should be implemented in `assets/js/modules/idea-hub/index.js` which registers the `

[2021-05-03 21:50] felixarntz opened #3274 "Scaffold Idea Hub widget with tabbed UI"
The new ideas widget for the Idea Hub module should be scaffolded, including its tabbed UI. For now, each tab should be empty though, as these will be implemented in a follow-up issue. It should be possible to link to a specific tab in the widget.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new c

[2021-05-03 21:50] felixarntz opened #3275 "Implement CTA in Idea Hub widget for when the module is not activated"
When the Idea Hub module is not active (but the `ideaHubModule` feature flag is enabled), the Idea Hub ideas widget should show a dismissible CTA to activate the module to users with the necessary permissions.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new component `assets/js/modules/idea-hub/c

[2021-05-03 21:51] felixarntz opened #3276 "Implement idea list tabs and basic interaction in Idea Hub widget"
The UI and basic interaction of the three tabs in the Idea Hub ideas widget should be implemented (without the contextual per-idea functionality for now).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The three tabs for the Idea Hub widget that was scaffolded in #3274 should be implemented, with the

[2021-05-04 04:28] alicelovescake commented on #3025
Hey!    

First time contributor! Would love to take a stab at this issue this week. Thanks for providing great detail.

[2021-05-04 07:45] ThierryA commented on #852
Hi @tranthenet

There is bit more to it than that, as I mentioned in my [previous reply](https://github.com/google/site-kit-wp/issues/852#issuecomment-659915094) the main sensitive point is verifying that a user does belong to a domain before an oAuth token is delegated, right now we rely on the Google Verification API which has the side effects that only Administrators should be granted.

With th

[2021-05-04 07:48] ThierryA commented on #6
Quick update on this thread, this issue has now been prioritized and we are actively exploring solutions. I don't want to set false expectation though, this could take quite some time to 1. find a solution 2. validate the solution with our security team 3. build it. So no ETA and no guaranty at this time but I hope sharing that we are actively exploring solutions is already kinda good news 😄

[2021-05-04 08:11] aaemnnosttv commented on #1769
@felixarntz @tofumatt please assign back to me when ready to proceed.

[2021-05-04 08:16] aaemnnosttv commented on #1765
Given that we're upgrading to the latest version of `@wordpress/data` in #1769, I think this issue can be simplified to only refactoring `waitFor` actions with `resolveSelect`.

[2021-05-04 08:20] asvinb commented on #3155
- All tests pass when running `npm test:js`.
- Activated the ` ideaHubModule` feature flag and data is being returned when the `googlesitekit.data.stores["modules/idea-hub"].selectors.getNewIdeas({length: 1, offset:1})` command is run in the the console.
<img width="641" alt="Screenshot 2021-05-04 at 12 18 01" src="https://user-images.githubusercontent.com/31818/116977093-111b2280-acd3-11eb-90b0-b

[2021-05-04 08:22] asvinb commented on #3156
- All tests pass.
- Running the `googlesitekit.data.stores["modules/idea-hub"].selectors.getSavedIdeas();` command in the console returns an empty array.

### QA: ✅

[2021-05-04 08:26] asvinb commented on #3268
### QA: ✅

The "Learn how to use Site Kit with a staging environment" text is now a link as per screenshot below:
![image](https://user-images.githubusercontent.com/31818/116977780-e4b3d600-acd3-11eb-8aad-ea8ab6c2bc90.png)

[2021-05-04 09:12] aaemnnosttv commented on #2821
@jamesozzie @abdullah1908 looks like you were able to reproduce this – can you connect with @wpdarren to help him test it?

[2021-05-04 09:15] abdullah1908 commented on #2821
@aaemnnosttv I'll follow-up with @wpdarren on this.

[2021-05-04 09:38] aaemnnosttv commented on #2798
Moving to _Stalled_ for now; will revisit later.

[2021-05-04 09:43] aaemnnosttv commented on #3118
@Hazlitte while not explicitly required by the ACs, let's also update `Google_Proxy::get_features` to use the new method as well. See https://github.com/google/site-kit-wp/issues/3118#issuecomment-828282400 https://github.com/google/site-kit-wp/issues/3118#issuecomment-828672507

Otherwise, the IB looks good, let's just update it to include this extra change.

[2021-05-04 10:03] eugene-manuilov commented on #3232
Ok, sounds good to me. IB is updated.

[2021-05-04 10:11] aaemnnosttv commented on #3118
IB ✅

[2021-05-04 10:14] aaemnnosttv commented on #3232
IB ✅

[2021-05-04 10:29] eugene-manuilov commented on #3244
@johnPhillips IB mostly looks good, there is just one thing that we need to adjust:

Undefined is not a valid value for the web data stream ID. We need to return `false` in this case.

[2021-05-04 10:35] tofumatt commented on #1769
IB ✅

[2021-05-04 10:44] aaemnnosttv commented on #3154
@felixarntz just a thought which we could change later – why not make `Post_Meta_Interface` a `Meta_Interface`, as all of the post-specific details will be handled by the implementing class? We could always have a `Post_Meta_Interface` if we wanted, which could extend the `Meta_Interface` but just thing a more generic interface might make sense here since WP uses generic functions internally as we

[2021-05-04 10:47] johnPhillips commented on #3225
Thanks @felixarntz. Regarding headers / footers, I ended up verifying this by sketching it in locally, and you are right. Shouldn't be a problem:

![Screenshot 2021-04-29 at 14 23 06](https://user-images.githubusercontent.com/2470911/116992609-39ece900-acce-11eb-9b05-f97a683541c6.png)

Thanks!

[2021-05-04 10:49] johnPhillips commented on #3244
I've made that adjustment, thanks @eugene-manuilov

[2021-05-04 11:01] tofumatt commented on #2070
IB ✅

[2021-05-04 11:13] eugene-manuilov commented on #3244
IB :heavy_check_mark:

[2021-05-04 11:31] eugene-manuilov commented on #3245
@johnPhillips IB mostly looks good. There is one thing that we need to update before approval:

We need to call the `__dangerousCanSubmitChanges` selector instead of `canSubmitChanges` because the `validateCanSubmitChanges` is expected to throw exceptions if something is wrong. That's what the dangerous version of the `canSubmitChanges` selector does whilst the `canSubmitChanges` selector itself j

[2021-05-04 11:44] jamesozzie opened #3278 "IntersectionObserver is not defined dashboard error when accessing Analytics tab"
## Bug Description

There have been reports of the below dashboard error, both occurring from Site Kit 1.31.0 users. This seems to occur only when clicking on the Analytics tab for one user while it only occurs on the primary dashboard tab for another.

One user reported that disconnecting Analytics results in no dashboard notice.

Awaiting further insights.

[code]

https://wordpress.org/support/

[2021-05-04 11:44] asvinb commented on #3274
@felixarntz If we run the anchor link to scroll the user to the component, we might have an issue where part of the component will be hidden by the sticky header. I have added the IB where I suggest we use `window.scrollTo` for that purpose while taking into consideration the header. Then the hash will be managed similarly to what we do in the `SettingsApp` component. Let me know what you think.

[2021-05-04 11:49] jamesozzie commented on #3185
@bethanylang Thoughts on escalating this? No response from both reports in the support forums.

[2021-05-04 11:52] jamesozzie commented on #3263
Escalating this for further review. Happy to communicate with third party plugin if necessary, should any resolution be applicable on their side.

[2021-05-04 11:56] eugene-manuilov commented on #3246
@danielgent I will approve this IB but next time could you please elaborate a little bit more on details? Try to give more clear details of what needs to be done and what to use.

[2021-05-04 11:58] eugene-manuilov commented on #3246
Also, I am going to bump the estimate to `11` since `7` seems to be low for me (knowing that this ticket involves js tests and storybook changes).

[2021-05-04 11:58] eugene-manuilov commented on #3246
IB :heavy_check_mark:

[2021-05-04 12:08] jamesozzie commented on #2544
Closing this as I setup a site with Cloudflare last week. Confirmed [all records point to Cloudflare](https://i.imgur.com/Sz1uXNY.png) after changing nameservers on a clean WP install. No issues setting up Site Kit 1.31.0.

Reset Site Kit on this same successfully site today and [setup proceeded fine](https://i.imgur.com/SzKIoGD.png). This included a setup using a second administrator, in total 2

[2021-05-04 12:08] #2544 closed

[2021-05-04 12:08] danielgent commented on #3246
@eugene-manuilov I was struggling to explain this further without just doing the PR!! :smile:   As it involves copying, pasting, and slightly modifying existing code (even deciding whether a property is GA4 or UA can be taken from my already-existing code)

Honestly I was thinking even less than 7 as it involves copying and pasting from existing files :see_no_evil:   (happy to be proved wrong thou

[2021-05-04 12:20] jamesozzie commented on #2560
This issue was most likely as a result of some origin hosting configuration or block. Both impacted users support topics since resolved. (One unresponsive, one with an unknown resolution).

Testing was also just complete on a site with Cloudflare nameservers as per #2544.

This includes testing with the below configurations on Cloudflare level. After applying the below and resetting Site Kit I did

[2021-05-04 12:20] #2560 closed

[2021-05-04 12:24] bethanylang commented on #3185
@jamesozzie I say let's close it for now as we just don't have enough detail to reproduce.

[2021-05-04 12:28] jamesozzie commented on #2899
Unable to reproduce this in support testing various language configurations. Tested the same theme & plugins for any language specific functionality and couldn't determine any cause.

In addition to the original information the user confirmed there was no language updates available.

@bethanylang Closing as the user has since uninstalled Site Kit and following a team discussion there is nothing ob

[2021-05-04 12:28] #3185 closed

[2021-05-04 12:32] eugene-manuilov commented on #3243
@danielgent we also need to mention storybook changes requested in the AC. Could you please update the IB?

[2021-05-04 12:40] tofumatt commented on #3025
IB ✅

@alicelovescake Thanks for your interest! The team who works on Site Kit usually assigns issues to Sprints/Releases and we haven't had too many third-party contributors in the past so our systems aren't perfectly set up for non-team-contributors, but if you are still able to take on the issue let us know. Since it isn't a high-priority issue we'll try to keep anyone on the usual team away fr

[2021-05-04 12:43] tofumatt commented on #2942
@asvinb Right, but we're just importing the `decorators` exports from those stories, not the "stories" themselves, right? eg. `AdminBarWidgets` would `import { decorators } from './subStory';`, right?

[2021-05-04 13:07] eugene-manuilov commented on #3247
IB :heavy_check_mark:

[2021-05-04 13:07] eugene-manuilov commented on #3247
I will also update the estimate down to 7 since it seems like 11 is more than we need here.

[2021-05-04 13:14] eugene-manuilov commented on #3248
@asvinb the `selectProperty` is an action, not a selector. Plus, could you please provide more details on when exactly we need to set ga4 property ID to `PROPERTY_CREATE`? On render? On mount? On select a new value?

[2021-05-04 13:15] eugene-manuilov commented on #3248
Also, I think this ticket is more 7 than 11. I'll update the estimate down.

[2021-05-04 13:29] wpdarren commented on #3188
### QA Update: Pass ✅

Verified that on the multiple selection questions, when the maximum amount of answers is reached (excluding `other`) the `Type your own answer` text is hidden.

![image](https://user-images.githubusercontent.com/73545194/117010857-26994800-ace5-11eb-954b-7ab0e9d0c45a.png)

[2021-05-04 13:40] johnPhillips commented on #1891
Thanks @eugene-manuilov - QAB updated 👍

[2021-05-04 13:41] johnPhillips commented on #3245
Thanks @eugene-manuilov, I've added this to the IB.

[2021-05-04 13:45] eugene-manuilov commented on #3249
@asvinb could you please elaborate more on when and how `propertyID` and `profileID` need to be set to `PROPERTY_CREATE` and `PROFILE_CREATE` values? On mount? On render? Or on a new property select? Also, what should happen if I select a GA4 property that has no UA property and then select another GA4 property that already has a UA property?

[2021-05-04 13:46] eugene-manuilov commented on #3249
Going to reduce the estimate here to 7 since 11 seems to be too much for this ticket.

[2021-05-04 13:53] eugene-manuilov commented on #3245
@johnPhillips `validateCanSubmitChanges` and `__dangerousCanSubmitChanges` return nothing. They throw if something is wrong. If they don't throw then everything is good. No need to return `true` here. So we can delete the last point.

[2021-05-04 13:56] johnPhillips commented on #3245
Thanks @eugene-manuilov, updated 👍

[2021-05-04 14:03] asvinb commented on #3249
@eugene-manuilov I updated the IB to make it clearer because I thought it was clear from the AC, which says : "this component should automatically "

[2021-05-04 14:13] tofumatt commented on #2942
IB ✅

[2021-05-04 14:13] wpdarren commented on #3267
### QA Update: Pass ✅

**Verified:**

- The misspelling of "Contributor Handhook" in README.md  is fixed.
- The text has changed to `Any kind of contribution to Site Kit by Google is welcome.`

![image](https://user-images.githubusercontent.com/73545194/117017009-2c922780-aceb-11eb-9066-db0054e2a568.png)

[2021-05-04 14:17] eugene-manuilov commented on #3249
Thanks, @asvinb. IB :heavy_check_mark:

[2021-05-04 14:17] jamesozzie commented on #3047
Closing with no response from the user. I also tested the Altervista service and I was unable to recreate the same issue ([internal testing](https://app.asana.com/0/1185360131189553/1200096500408274/f)). This is a free service and they did whitelist Google services based on a separate support topic last year.

[2021-05-04 14:17] #3047 closed

[2021-05-04 14:18] eugene-manuilov commented on #3245
Thanks, @johnPhillips. IB :heavy_check_mark:

[2021-05-04 14:22] eugene-manuilov commented on #3248
IB :heavy_check_mark:

[2021-05-04 14:27] jamesozzie commented on #3172
Closing this as I checked with a new admin without an AdSense account and got the below:

![image](https://user-images.githubusercontent.com/41326532/117019251-2a30cd00-aced-11eb-843a-9fdebb2b975e.png)

Also rechecked from an administrator that does have an AdSense account (but does not have access to the connected account) and got the below:

![image](https://user-images.githubusercontent.com/413

[2021-05-04 14:27] #3172 closed

[2021-05-04 14:41] aaemnnosttv commented on #3025
@asvinb @tofumatt let's not replace any of these icons as part of this issue as that would require more review since these would be user-facing changes. There will likely be some icons we can't replace where a material icon is preferred but changing icons is out of scope here.

[2021-05-04 14:43] wpdarren commented on #3091
**QA Update: Pass ✅**

Verified:

- All three values now display a 'change' (i.e. with up/ down arrow) if the values have changed.
- Page RPM and Earnings show 'change' with currency units (e.g. Euro).

![image](https://user-images.githubusercontent.com/73545194/117021485-4df51280-acef-11eb-9c8f-851c4f203d68.png)

[2021-05-04 14:58] eugene-manuilov commented on #3254
IB :heavy_check_mark:

[2021-05-04 15:52] alicelovescake commented on #3025
@tofumatt totally understand that, thanks. I would still love to help do the clean up if that is ok!

Based on @aaemnnosttv's comment, I'll leave the replacing of the SVG icons with `@wordpress/icons` as it's a little less straightforward. 😄

[2021-05-04 16:31] wpdarren commented on #656
### QA Update: Pass ✅

**Verified:**

Desktop:

- The "RPM" label is changed to "Page RPM" in both the legacy and refactored version.
- The "Revenue" column has its label changed to "Earnings" in both the legacy and refactored version.
- The values in this column is formatted with the currency, i.e. Euro in both the legacy and refactored version.

![image](https://user-images.githubusercontent.com

[2021-05-04 16:52] danielgent commented on #3243
Sure thing @eugene-manuilov !  Apologies, I forgot that Backstop uses only the Storybook stories that we configure :smile:

I'll manually check storybook now

[2021-05-04 17:04] wpdarren commented on #2951
### QA update: Pass ✅

**Verified:**

When I click on a link in the "Performance by page over the last X days" table, the date range matches the date range selected in Site Kit.  I tested this with `widgets.moduleScreens` feature enabled and disabled and the correct dates appear.

7 days  -` u.date00=20210427&_u.date01=20210503/ `
14 days  - `u.date00=20210420&_u.date01=20210503/ `
28 days - `u.da

[2021-05-04 17:06] wpdarren commented on #2821
Site set up for this. Just waiting for Analytics data to update.

[2021-05-04 17:09] danielgent commented on #3243
Hey @eugene-manuilov .

I was thinking there would be more instances of this in StoryBook (I thought it would show all the difference states just for the `PropertySelect`

But actually these are not used in many places on storybook

There is a new GA4 section that just shows the GA4 PropertySelect (no change here)

But then the Analytics section has `Account Property Profile Select (none selected)

[2021-05-04 17:33] felixarntz commented on #3154
@aaemnnosttv I was thinking about that too, but I think for now the `Post_Meta_Interface` allows us to be a bit more explicit about even parameter names (e.g. `$post_id` instead of generic `$object_id`), which arguably makes it more intuitive. I agree we can abstract further later if we need another `*_Meta_Interface`, at which point having `Meta_Interface` probably makes more sense.

[2021-05-04 17:34] wpdarren commented on #2394
@aaemnnosttv we can close this in my opinion.  On question 3 and 4 the text has changed to tell the user they can select up to 2 or 3 options. On question 5 is fixed and works as Cole requested. The negative issue in the ticket is fixed too with the recent accessibility improvements on the user input form.

[2021-05-04 17:35] felixarntz commented on #3274
@asvinb That sounds great! IB ✅

[2021-05-04 17:36] felixarntz opened #3281 "Do not run certain PR checks on forks and automated PRs"
Certain PR checks, such as deploying ZIPs or Storybook, don't work on forks of Site Kit, and they might also be unnecessary for e.g. automated PRs like [this from Dependabot](https://github.com/google/site-kit-wp/pull/3186). So such GitHub actions should be configured to not run in those scenarios.

---------------

_Do not alter or remove anything below. The following sections will be managed by

[2021-05-04 17:49] felixarntz opened #3282 "Add support to place Google Ads conversion ID in Analytics AMP snippet"
While #3161 allows specifying the Google Ads conversion ID and having Site Kit integrate it with the Analytics snippet, the initial enhancement didn't include AMP support due to time constraints. Support for also integrating the Ads conversion ID with the `amp-analytics` snippet placed by the Analytics module should be added via this issue.

See [this comment](https://github.com/google/site-kit-wp

[2021-05-04 17:50] felixarntz commented on #3282
@eclarke1 We are awaiting internal input for the technical requirements for this one, but it should eventually end up being a 3 estimate or 7 maximum.

[2021-05-04 17:54] eugene-manuilov commented on #3250
@asvinb could you please provide more details in IB so engineers who are less familiar with the codebase can better understand what needs to be done?

[2021-05-04 18:07] eugene-manuilov opened #3283 "Enhance linear charts by displaying different milestones or key points"
## Feature Description

Site Kit has many charts that display important information to our users, but it is hard to analyze how my site is doing since my last check a few days ago or after I publish a new post. I think it would be awesome if we can display these certain "milestones" on linear graphs such as "all traffic" widget on the dashboard page and audience overview on Search Console, AdSense

[2021-05-04 18:35] felixarntz commented on #3069
@tofumatt Can you review #3279 (since it's a11y-related)?

[2021-05-04 18:55] jamesozzie opened #3285 "Formal German language conflict with AdSense tables"
## Bug Description

When the formal German language is applied as the primary language the AdSense dashboard don't display, in either the primary Site Kit dashboard or in the AdSense tab.

**Primary Site Kit dashboard:**

Once accessed a "Data error in AdSense Invalid Value" message appears

Console errors
[code]

![image](https://user-images.githubusercontent.com/41326532/117053454-e3ed6500-ad10-

[2021-05-04 18:56] jamesozzie commented on #3285
Reproducible in support, assigning to L2 for review.

[2021-05-04 19:21] jamesozzie commented on #3255
Some additional insights provided by [one user](https://wordpress.org/support/topic/failed-to-initialize-numberformat/#post-14399498). With the issue only occurring with Safari the user pointed out [one article](https://appleinsider.com/articles/21/05/04/macos-bugs-causing-sporadic-browsing-issues-with-safari-firefox-others/) which may contain additional information.

Setting time aside for testin

[2021-05-04 19:24] felixarntz opened #3286 "Automatically pre-select GA4 property in dropdown based on current site URL"
If the current user already has a GA4 property with a web data stream that refers to the current site URL, such a GA4 property should be pre-selected in the dropdown during Analytics module setup.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The functionality to find and set a "matched property" whe

[2021-05-04 19:25] felixarntz opened #3287 "Do not initially show secondary dropdown in GA4-transitional Analytics setup flow if applicable associated property is found"
In the `ga4-transitional` version of the Analytics module setup, if for the property type reflected by the secondary dropdown (the one that displays within the info notice, see #3250) there is already a matched property (see #3286), the dropdown should not be shown initially. Instead, the user should simply be informed about that it looks like there is already an associated property, with a pencil

[2021-05-04 19:25] felixarntz opened #3288 "Implement infrastructure for detecting an existing GA4 tag and related permission"
Infrastructure for detecting an existing GA4 tag and whether the current user has access to it should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Functionality for detecting an existing GA4 tag should be added to the `modules/analytics-4` store, in an `assets/js/modules/analytics-4/

[2021-05-04 19:26] felixarntz opened #3289 "Display notice or error for existing GA4 tag in Analytics when applicable"
If there is an existing GA4 tag in the frontend (see #3288), the user should be informed about it in Analytics setup / settings. If they don't have access to the related property or web data stream, they should be blocked.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

**Note:** In order to check that a

[2021-05-04 19:26] felixarntz opened #3290 "Alter module setup success notification related to GA4 double-tagging to inform about current reporting situation"
After completing the Analytics module setup with GA4 support, the user should be informed in the success notification that for now Site Kit only displays reporting data from the UA property that was configured.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* For Analytics specifically and **only if the

[2021-05-04 21:02] bethanylang commented on #3086
@felixarntz Given @westonruter's comments above I'd like to propose taking this out of Stalled and getting it into Triage. We get at least 1-2 topics a week from users who get the “We’ve detected there’s already an existing Analytics tag on your site," and supporting them can be difficult as finding and removing the existing snippet can require a fair amount of technical knowledge. Being able to p

[2021-05-04 21:12] tofumatt commented on #3174
That's a great point, I feel like maybe we missed the forest through the trees here suggesting that the padding be removed from everything then added back in to many stories. Having an "opt-out" decorator is probably better than opting most things in.

The only issue here might be that it's awkward to remove said padding if its applied high-up in the styles—above where the story's components are c

[2021-05-04 21:14] felixarntz commented on #3086
@bethanylang That's a fair point, we could implement this by copying the approach in the AMP plugin. It's not really a great situation to have to copy it, being able to reuse a library that centralizes this functionality would be more appropriate; but given the regularity of support requests it's probably worth prioritizing despite the technical maintenance burden. I suggest we put this on the age

[2021-05-04 22:07] tofumatt commented on #3273
I tweaked `STORE_NAME` here and had it reference `MODULES_IDEA_HUB` instead, because it's clearer to use the more explicit constant name.

Otherwise looks good!

IB ✅

[2021-05-04 22:08] felixarntz opened #3291 "Improve default Analytics property selection when selecting an Analytics account"
This enhancement purely relates to the existing Analytics module and the `modules/analytics` store, but it is still part of the GA4 epic since it ensures certain prerequisites to bring the same functionality to GA4 are in place.

Currently, when selecting an Analytics account (in the module setup or settings), the first property will be initially selected. This experience should be improved to be

[2021-05-04 22:52] felixarntz opened #3293 "Fix incorrect (standalone) placement of GA4 tag"
#3106 originally implemented placing GA4 tags in the frontend. However, one thing in the definition of that issue was actually incorrect: The measurement ID that is placed in the snippet must _always_ be prefixed with `G-`.

The documentation is not very clear about this, but when looking in the Analytics settings, you can actually see that in the snippet the `G-` prefix is always present, also in

[2021-05-05 04:53] aaemnnosttv commented on #2394
Thanks @wpdarren !

[2021-05-05 04:53] #2394 closed

[2021-05-05 08:09] aaemnnosttv opened #3294 "Disable Google Analytics measurement per-property"
## Feature Description

Initially mentioned in #2211 (but not limited to that issue), now that Site Kit is aware of Analytics tags in Tag Manager containers and those the property IDs must match, we should be able to be more targeted with our disabling of Analytics measurement for logged-in users by using the property-specific method rather than complete opt-out. This would be preferable because t

[2021-05-05 08:30] asvinb commented on #3250
Hey @eugene-manuilov
I checked again and I do think that the AC is explicit enough and most of the IB will be just a copy and paste from the AC.

[2021-05-05 08:55] Hazlitte commented on #3083
Hi @felixarntz ,
In the Adsense, Analytics and Search Console `ModuleOverviewWidget`s there are differences in the way that data is handled and components rendered for each of the `Overview` and `Stats`/`SiteStats` components.  As a result and depending on the approach, it may be desirable to break this down into 4 tickets:
1. Fix the layout bugs as per the existing IB
2. Create a common stats cha

[2021-05-05 09:18] aaemnnosttv commented on #2940
@asvinb @tofumatt I left a comment on the PR with an alternate branch based on the current PR to consider. cc: @felixarntz

[2021-05-05 09:56] eugene-manuilov commented on #3243
@danielgent yes, it would be awesome if we can make it fully interactive. It will require a bit of work to properly configure datastores though. In this case, we will be able to merge two stories (`none selected` and `all selected`) into one and maybe even convert it to storybook 6 :thinking:

Could you please update IB to mention changes required to update those stories?

[2021-05-05 12:11] jamesozzie commented on #3070
[Here's another example](https://recordit.co/rPjGbOozSV) (based on another users seutp) showing the homepage title changed twice, therefore the homepage is listed 3 times. Different total views in the table, while all 3 "Detailed page views" show the total page views matching based on one of the listings.

[2021-05-05 12:40] jamesozzie commented on #3265
Recreated the same "Not Set" page by removing the overall "Site Title" and description from the defined values in a WordPress general settings screen. [No issues](https://recordit.co/rPjGbOozSV) with clicking on this link on this test site.

Troubleshooting ongoing with possible old WPML database records possibly a factor. The admin toolbar doesn't appear on the homepage for the impacted user, ind

[2021-05-05 12:46] eugene-manuilov commented on #3250
@asvinb, yes, I agree with you - as an engineer who is very familiar with the codebase, I don't need more details. But we have guys who are less familiar with it and they will struggle to understand what needs to be done and how. If you could provide detailed information, it would help them very much. Please, update the IB taking into account that an engineer not familiar with it might work on thi