[2022-05-05 01:06] wpdarren commented on #4764
### QA Update: ✅

**Verified:**

- The existing setup for AdSense works as before, without enabling the `adsenseSetupV2` flag.  I tested this on a site using the tester plugin to activate an account with demo data.  I also tested it on my live site that is approved with AdSense and ads were displayed and the setup was as before.

_Needs attention:_
Title, description, button text are per the AC.

[2022-05-05 07:38] hussain-t commented on #5107
Thanks, @felixarntz.

I agree with this point 💯

I have created a follow-up [PR](https://github.com/google/site-kit-wp/pull/5170) against `main`.

[2022-05-05 10:51] wpdarren commented on #5107
### QA Update: ✅

- The Adsense Setup V2 Error Notice story displays the error instead of the loading state. Story URL path - `/story/modules-adsense-components-setup-v2-setupmain--error-notice`
- I also tested this on my test site. The error now appears as expected.

![image](https://user-images.githubusercontent.com/73545194/166909009-471e68eb-784d-4e25-9282-d9d11c05ecb9.png)

[2022-05-05 11:58] eugene-manuilov commented on #4497
IB ✅

[2022-05-05 12:51] techanvil commented on #4803
### `QA:Eng` :x:

Hi @hussain-t, while going through the `QA:Eng` steps I noticed a couple of issues.

Firstly, there has been a slightly deviation from the AC/IB in the implementation of `recoverModule`. According to the AC the returned `response` should have the shape `{ success: Boolean }`, however `response` is being passed directly from the fetch and has the shape `{ ownerID: number }`.

Next

[2022-05-05 15:01] mohitwp commented on #5158
@wpdarren

Yes, I'm getting this API error when force approving AdSense account using tester plugin. Getting error on 1.73.0 version also.

![image](https://user-images.githubusercontent.com/94359491/166952812-76294772-e341-4ef8-ab68-d848549ebd99.png)

![image](https://user-images.githubusercontent.com/94359491/166952730-efb1c9f4-c2d1-4f65-ba90-2de33f8d170c.png)

[2022-05-05 15:10] jamesozzie opened #5174 "Include a link to "Edit in Tag Manager" when viewing or editing the Tag Manager module"
## Feature Description

When viewing the connecting status within the plugin settings for the Analytics module there is an option to "Edit in Analytics".

Should the Tag Manager API allow consider adding the same link for the Tag Manager module to allow users to easily navigate to and edit the tags contained within a connected container.

https://user-images.githubusercontent.com/41326532/16695469

[2022-05-05 15:38] jimmymadon commented on #4481
@hussain-t pointed out that the issues which rely on this issue need the REST route to be registered. I originally thought this would be covered in a separate issue. So I have created a follow up PR that registers the route by initialising the controller in `Plugin.php`. I have also updated the QAB to now test this route thoroughly in the plugin.

@aaemnnosttv  As per our discussion a few weeks ba

[2022-05-05 15:48] jamesozzie opened #5175 "Don't allow Optimize connection if the UA or GA4 snippets were not placed via Site Kit"
## Bug Description

If a user has manually inserted **_both_** their UA and GA4 snippets and then connected the Analytics module they'll thne have the ability to connect the Optimize module. This shouldn't be the case, as Site Kit will only attach the Optimize container ID to one of these Site Kit placed snippets.

To resolve this don't allow the Optimize container to be setup within Site Kit unle

[2022-05-05 15:48] #5056 closed

[2022-05-05 15:49] #5076 closed

[2022-05-05 16:15] felixarntz opened #5176 "Refine copy for button to skip to view-only dashboard"
Follow-up to #4811: The button currently simply says "Go to Dashboard". It should be a bit more clear on that dashboard not being the full dashboard, but the more limited view-only version of it. Alternatively, we may also want to update the copy in the description above, to potentially mention the view-only dashboard as an alternative to signing in.

Here's a screenshot of what this currently loo

[2022-05-05 16:16] #4810 closed

[2022-05-05 16:30] felixarntz opened #5177 "Wrap new AdSense setup stories with proper backdrop markup"
Several AdSense setup stories for the refined setup flow (V2) have been introduced recently as part of implementing the respective logic and UI (e.g. https://google.github.io/site-kit-wp/storybook/main/?path=/story/modules-adsense-components-setup-v2-setupmain--ad-blocker).

There's an issue with all of these stories in that they are not wrapped with the boxed layout that is present in the plugin,

[2022-05-05 16:34] #4820 closed

[2022-05-05 16:35] #4846 closed

[2022-05-05 16:46] felixarntz commented on #4889
@eugene-manuilov @tofumatt @aaemnnosttv Note that there is still a failure happening (at least occasionally?) for `specs/modules/tagmanager/setup.test.js > Tag Manager module setup › Setup without AMP active`.

I realize this was not explicitly part of the ACs, so I'm going to approve this, but (also related to my Slack message) we should follow up to explore and fix the remaining e2e failures.

[2022-05-05 16:46] #4889 closed

[2022-05-05 16:47] techanvil commented on #4811
Thanks @felixarntz. @tofumatt was feeling a bit unwell earlier so I've picked this up in case he's not able to get to it any time soon. Have created a followup PR: #5178.

Not sure why but the usual CI checks haven't started yet, although GitHub status doesn't presently report any problems. I will leave it for now and hope they do kick in...

[2022-05-05 16:47] #5091 closed

[2022-05-05 16:49] #4817 closed

[2022-05-05 16:52] jimmymadon commented on #4764
@felixarntz So in the absence of Figma mocks, I referenced other similar Module Setup screens which have a secondary CTA button, e.g. [Analytics Create Account](https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-setup--create-account-scope-not-granted) and [Tag Manager Create Account](https://google.github.io/site-kit-wp/storybook/main/?path=/story/tag-manager-module

[2022-05-05 16:54] #5107 closed

[2022-05-05 17:02] felixarntz opened #5180 "Create AdSense account screen pops up after briefly being blank"
Follow-up to #4758 and #4762: There are two problems from the implementation that I just spotted:
* When you have no account, it can happen that after the loader `ProgressBar` disappears, the screen remains blank for a split second before showing the UI to create a new account.
* The Storybook story to select account is broken, it just shows a loader: https://google.github.io/site-kit-wp/storybook

[2022-05-05 17:09] felixarntz commented on #5177
Actually, looks like this was already fixed as part of #4763 since `main` was branched off, it is correct in `develop`.

[2022-05-05 17:09] #5177 closed

[2022-05-05 17:10] #4812 closed

[2022-05-05 17:11] #5011 closed

[2022-05-05 17:11] #5113 closed

[2022-05-05 17:26] eugene-manuilov commented on #5121
@aaemnnosttv we already have the `haveSettingChanged` selector in `createSettingsStore`. Maybe we shouldn't change the `haveSettingsChanged` selector and just use multiple `haveSettingChanged` calls in the `haveOwnedSettingsChanged` selector?

https://github.com/google/site-kit-wp/blob/00a2fdf067e3931df0ba20a20f7df3ff1f8789a1/assets/js/googlesitekit/data/create-settings-store.js#L297-L307

[2022-05-05 17:29] felixarntz opened #5183 "Rely strictly on AdSense API to determine account status"
Follow-up to #4758, #4759, #5106: The logic in the AdSense setup is now generally correct, however there is something we need to enhance: Currently, some of the states are determined based on the `accountID` and `clientID` settings, and there are a few situations where we don't update them based on the current API responses. This can lead to inconsistent behavior, especially when mocking different

[2022-05-05 17:29] #5106 closed

[2022-05-05 17:29] #5152 closed

[2022-05-05 17:30] hussain-t commented on #4803
Thanks, @techanvil 👍

I have fixed the `recoverModule` action response and the tests in the follow-up [PR](https://github.com/google/site-kit-wp/pull/5182). I do have an opinion on redundant tests, as you pointed out - I agree with the DRY principle; however, I feel it’s better to have explicit/separate cases for unit tests as it’s more readable and clear.

[2022-05-05 17:41] felixarntz commented on #5183
Added a QA Brief for this already based on how I encountered this bug.

[2022-05-05 17:43] felixarntz commented on #4846
@marrrmarrr I've updated our GA property to support this additional custom dimension (`authenticated`).

[2022-05-05 17:45] kuasha420 commented on #4889
@felixarntz We have a follow up issue about it [here](https://github.com/google/site-kit-wp/issues/5154).

[2022-05-05 17:47] eugene-manuilov commented on #5121
@techanvil @aaemnnosttv I think the `haveOwnedSettingsChanged` selector should be created regardless the module has owned settings or not. If it has those slugs, we will check whether those settings have been changed or not. If the module doesn't have owned settings, then we should return `false` and that's it. It will help us avoid a need to check whether a module has that selector. What do you t

[2022-05-05 17:47] felixarntz commented on #5158
@wpdarren @mohitwp This error is expected to happen when AdSense and Analytics account are not linked (which means when using a forced "fake" account using the tester plugin it for sure will come up).

The console error is in fact expected and nothing we should worry about. We use this error to determine whether AdSense and Analytics are linked or not, and if not, we show the corresponding CTA. Th

[2022-05-05 17:50] techanvil commented on #4803
Thanks @hussain-t, and that sounds fair to me. Followup PR is now reviewed and merged. Nice one :tada:

[2022-05-05 18:01] eugene-manuilov commented on #5183
@felixarntz I wonder whether we need to save settings after we reset either `accountID` or `clientID`. What do you think?

[2022-05-05 18:12] felixarntz commented on #5183
@eugene-manuilov

Yes, we do. Would that not be already the case though based on the auto-submission logic from changed settings?

[2022-05-05 18:13] techanvil commented on #4803
## QA :white_check_mark:

`QA:Eng`:

* Verified the code changes met the AC and IB.
* Verified the newly added tests for the `getRecoverableModules` selector and `recoverModule` action provide good coverage.

Additionally ran through the main body of the QA Brief again with flying colours. To echo @wpdarren's earlier test:

- When the command in QAB was run ['search-console'] is available in the r

[2022-05-05 18:20] eugene-manuilov commented on #5183
I don't think so. All `set{SettingSlug}` actions just update settings in the store state and not submit changes. I have updated IB to explicitly say that we need save settings after reseting. Do you mind reviewing IB?

[2022-05-05 19:17] eugene-manuilov commented on #5183
Ah.. yes, you are right, @felixarntz. I forgot about that logic. Yes, it will automatically submit changes because the setting is changed.

[2022-05-05 19:18] eugene-manuilov commented on #5183
Removed unnecessary `saveSettings` calls from IB.

[2022-05-05 19:44] aaemnnosttv commented on #4811
@tofumatt @felixarntz looks like there was a flaw in the ACs which prevents the button from being displayed when relying on the `VIEW_SHARED_DASHBOARD` capability. This is because the capability requires that the `shared_dashboard_splash` item is dismissed which is currently set by clicking "View dashboard" from the splash page. This makes it impossible to reach because the button to "grant" the c

[2022-05-05 20:17] felixarntz commented on #5183
@eugene-manuilov Thanks, 2 more things about the IB:
* Instead of two new `useEffect` hooks, I suggest we put that extra code into the two existing `useEffect` hooks that call `setAccountID` / `setClientID` based on that API data.
* You say "reset" the settings, maybe it would be more clear to say "set it to an empty string"?

[2022-05-05 20:26] aaemnnosttv opened #5184 "Update secondary CTA links for consistency"
## Feature Description

As raised in https://github.com/google/site-kit-wp/issues/4764#issuecomment-1118764266 and https://github.com/google/site-kit-wp/issues/4764#issuecomment-1118824807 there is an inconsistency of styling secondary links. These should be updated to be consistent.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only

[2022-05-05 20:27] aaemnnosttv commented on #5184
@felixarntz should we standardize on `inherit: true/false?`

[2022-05-05 20:34] aaemnnosttv opened #5185 "Fix E2E unexpected "You are probably offline" errors"
## Bug Description

There are a few instances of a common error resulting in E2E instability from an unexpected console error "You are probably offline". This happens when an API request is cancelled unexpectedly (usually due to a navigation) while it is in progress. This unexpected console error causes the test to fail.

## Examples

[code]

[code]

---------------

_Do not alter or remove anythi

[2022-05-05 20:44] felixarntz commented on #4811
@aaemnnosttv Good catch. I wonder then, should we even consider the dismissal of the splash screen inside of the capability? I'm thinking now that it may be more appropriate to check explicitly for the dismissal in the few places where it's needed rather than baking it into the capability.

Other than the complexity that baking the check into the capability introduces based on the feedback, I thin

[2022-05-05 21:20] aaemnnosttv commented on #4811
@felixarntz I think the reason it was baked in was that we would need to check that in all the same places where the capability is used.

That makes sense, I think it may just make things a bit more complicated to "unpack" this to check the dismissal explicitly.

This should already be the case now, isn't it? The dashboard requires `VIEW_DASHBOARD` and if the dismissal hadn't been set, an unauthen

[2022-05-05 22:44] felixarntz commented on #4764
@jimmymadon @aaemnnosttv Makes sense, thanks. I'll add ACs to #5184.

[2022-05-05 22:44] #4764 closed

[2022-05-05 22:48] felixarntz commented on #5184
@aaemnnosttv They should all look like they had the `googlesitekit-cta-link--inherit` class. Since that should be the new default though, we should rather integrate that class's styles into the base `googlesitekit-cta-link` styles. I've defined ACs accordingly.

[2022-05-05 23:00] aaemnnosttv commented on #4811
Maybe a new `VIEW_SHARED_POSTS_INSIGHTS` capability would make more sense as the requirement for showing the CTA here? This would equate to any user who has a module shared with their role. Then I think the `VIEW_SHARED_DASHBOARD` logic could stay the same – if a user has that capability it means they can view it (without being redirected to the splash).

@felixarntz are you happy for this all to

[2022-05-05 23:11] felixarntz commented on #4811
@aaemnnosttv I think we can definitely address this in a separate issue. It seems like we need to think about the approach a bit more anyway.

Looking back at your original proposal:

I think this would cause problems with users that can authenticate though. If you are an admin that can read shared module data, you can also decide to not authenticate, like a non-admin, and instead go to the shared

[2022-05-05 23:24] aaemnnosttv commented on #4811
Sounds good, I'll open a new issue to refine this 👍

Aside from this issue, I don't think we have any checks for the shared dashboard outside of `Permissions` yet, so I'm less worried about specific references. The more complicated part is unpacking it from references to `VIEW_DASHBOARD` for which we have many more. Maybe that isn't such a problem either but because it's tied into that capability

[2022-05-05 23:25] aaemnnosttv commented on #4481
@jimmymadon if the module slug wasn't present in the option, an empty array should be fine for the purpose of merging, no? If needed, we could add a method to the sharing settings class to get the value for a single module which includes defaults.

## ⚠️

On a separate note, I just noticed something in the implementation that should be corrected to match the ACs: https://github.com/google/site-kit

[2022-05-06 00:23] #4811 closed

[2022-05-06 07:25] mohitwp commented on #5158
### QA Update ✅

- Verified Release QA check list.
- Verified AdSense set up.
- Verify zero data state feature flag for both zero and gathering data state.

@wpdarren have one question regarding AdSense checkpoint from QA check list, related to AdSense snippet. Send you details in slack.

[2022-05-06 09:33] techanvil commented on #5158
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing.

[2022-05-06 10:04] techanvil commented on #5121
Hey @eugene-manuilov, you've raised interesting points there. I'd certainly agree on the second, it would provide a more consistent API to always create `haveOwnedSettingsChanged` and should simplify logic for the caller as well, with it always returning `false` where there are no owned settings.

As for the first point (nb - slight typo in your comment, `haveSettingChanged` should be `hasSettingC

[2022-05-06 12:21] locksmithunit commented on #4834
Hello @bethanylang i come back again after little issue with tag manager team,
they approve my method and when i read the top of the post (screenshot):
https://ibb.co/MknVBdg

now, from what @jamesozzie  says:
`Use Google Tag Manager with a Site Kit placed GA snippet (via an "Google Ads Conversion Tracking") tag
`

In Google Tag Manager, they said the same.

It's mean the GTM (Google Tag Manager c

[2022-05-06 12:38] locksmithunit commented on #4834
I only need understand to what @jamesozzie meant, he give 2 options to put the conversion tracker along with Site Kit plugin...
Tag Manager have one answer, and this what i say... (you said is not good)

So i don't know anymore the best practice to do it.

[2022-05-06 12:47] bethanylang commented on #4834
@locksmithunit All I can do is echo what James noted in his original description on this issue:

I can't recommend a particular best practice here as, again, the Site Kit plugin does not do anything in relation to conversion tracking – all I can do is tell you what is possible to set up if you are using Site Kit. If you have questions about best practices for conversion tracking you will need to c

[2022-05-06 14:27] aaemnnosttv opened #5188 "Combine dashboard and splash screens into a single screen in PHP"
## Feature Description

As noted in https://github.com/google/site-kit-wp/issues/4811#issuecomment-1118981281, the current logic behind our `VIEW_SHARED_DASHBOARD` capability makes it difficult to implement a conditional button on the splash screen due to the specific requirement of the `shared_dashboard_splash` dismissal as part of the criteria for granting the capability.

We should decouple the

[2022-05-06 14:55] techanvil commented on #4763
Thanks for spotting that @mohitwp! I'm creating a followup PR to fix the button text.

I've looked into this and discovered that it _is_ possible to test via the Tester plugin. I've amended the instructions in the QAB under **No Client**. Essentially you need to make sure to force account status `no-client` in the Tester plugin _before_ you start the AdSense setup process for the first time on a s

[2022-05-06 16:32] felixarntz commented on #5183
IB ✅

[2022-05-06 17:41] kuasha420 commented on #5158
## QA: :heavy_check_mark:

Went through the release testing checklist and did some ad-hoc testing on the things I've been involved with on a fresh and old site. This release is looking good.

LGTM. :+1:

[2022-05-06 18:41] aaemnnosttv commented on #5121
I think if this were implemented elsewhere (e.g. in a component) that would make more sense.  However, since we're at the selector level with access to `state` it's simpler (and probably more efficient) to leverage a more flexible `haveSettingChanged` selector that is capable of operating on a subset.

Yes, better 👍

I've updated the ACs accordingly. Thanks

[2022-05-06 20:21] aaemnnosttv opened #5189 "Update asset bootstrapping for non-admins"
## Feature Description

As Site Kit prepares for dashboard sharing, many aspects where permissions are today need to be revisited to account for non-admins (as SK is currently restricted to today). One of the last remaining areas to address for this is the loading/bootstrapping of assets. Currently, assets are only loaded for users who can authenticate which is too restrictive for dashboard sharin

[2022-05-07 11:10] wpdarren commented on #5141
### QA Update: ✅

**Verified:**

There's a `Continue to Analytics Setup Blue` button and the following copy `Looks like you’re already using Google Analytics within your Google Tag Manager configuration. Activate the Google Analytics module in Site Kit to see relevant insights in your dashboard.`

![image](https://user-images.githubusercontent.com/73545194/167251541-6e97425c-c421-4b1e-a8ce-8322836

[2022-05-07 13:07] jimmymadon commented on #4481
@aaemnnosttv I have updated the PR to insert the default "all_admins" management sharing setting for shared ownership modules. So that works well now.

However, I further realised that currently, any admin can change the 'management' setting, as long as they have the `googlesitekit_manage_module_sharing_options` capability for that module. Is this correct? Should the `googlesitekit_delegate_module

[2022-05-07 13:30] jimmymadon commented on #5158
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing.

[2022-05-09 05:27] hussain-t commented on #5158
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-05-09 09:33] eugene-manuilov opened #5190 "Explore using Material 3 web components inside React components (via `Checkbox`)"
## Feature Description

This is going to be the first issue to wrap a Material 3 web component in a React component for use across Site Kit. Since this is the first one, it also acts as an exploration issue, so extra time and care should be taken here to evaluate the approach and whether it would lead to any long-term problems.

---------------

_Do not alter or remove anything below. The followin

[2022-05-09 10:12] jamesozzie opened #5191 "Users unable to complete setup due to Error: Bad Request: missing parameter: ‘code’"
## Bug Description

There have been multiple reports over the past few days of users encountering an `Error Bad Request: Missing parameter: ‘code’` error during plugin setup. This occurs when clicking on the "Continue" button at the OAuth stage.

![image](https://user-images.githubusercontent.com/41326532/167389191-55b60742-82bf-4e65-8fd8-27d132c68254.png)

There were reports of a similar error pr

[2022-05-09 10:17] jamesozzie commented on #5191
Based on [one users additional insights ](https://wordpress.org/support/topic/error-bad-request-missing-parameter-code/#post-15627799) Adam was able to reproduce this error using the Brave browser. Following up with other users to check the same.

https://files.slack.com/files-pri/T048W193T-F03ELRYB4AW/image.png

[2022-05-09 10:49] marrrmarrr commented on #5176
@felixarntz I updated the ACs with copy that I tried to make as concise as possible, lmkwyt.

[2022-05-09 11:01] adamdunnage commented on #5191
Below is a recording of the experience with the '**Auto-redirect AMP pages**' setting first switched on(which it is by default in the Brave browser) and when it is switched off.

https://user-images.githubusercontent.com/91896826/167396761-6179f2e7-f1e0-4e03-9fa7-ec720c638822.mp4

[2022-05-09 13:18] adamdunnage commented on #5191
**Update**

I can also recreate this in a Chrome browser with [this Chrome extension](https://chrome.google.com/webstore/detail/redirect-amp-to-html/kifkmmpiicbcnkjaliilaoeaojlldonl/related?hl=en-GB) installed. This seems to do the same as the Brave browser setting.

I am unable to recreate with any of the in built Chrome settings found in privacy and security but there are no options to redirect

[2022-05-09 13:28] wpdarren commented on #5159
QA Update: ✅

**Verified:**

- The AdSense logo is always be visible and the progress bar is visible within the container area.

https://user-images.githubusercontent.com/73545194/167420434-405d5a37-116a-4eee-a63f-04e221373cd8.mp4

[2022-05-09 18:12] #4803 closed

[2022-05-09 18:22] #5158 closed

[2022-05-10 09:40] jimmymadon commented on #4481
@eugene-manuilov I have addressed @aaemnnosttv's comments as per my comment above and have one question which could be done separately.

[2022-05-10 13:27] eugene-manuilov commented on #4481
PR looks good to me, but I would like @aaemnnosttv to look at it as well.

[2022-05-10 14:40] felixarntz commented on #5180
IB ✅

[2022-05-10 16:42] jamesozzie opened #5194 "Replace any "invalid ‘client_id’ or ‘client_secret’ errors" with a more appropriate error"
## Bug Description

Users have reported a `code: invalid ‘client_id’ or ‘client_secret’` error within the module widgets or as an overall dashboard banner. If there is a more appropriate error message coming from any of the service API's include a more suitable warning or error, that users must login or re-authenticate their account.

## Screenshots

![image](https://user-images.githubusercontent.

[2022-05-10 16:42] jamesozzie commented on #5194
@felixarntz @aaemnnosttv

[2022-05-10 18:55] aaemnnosttv opened #5196 "Release 1.75.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-05-10 21:14] aaemnnosttv opened #5198 "Update whitespace around Analytics snippet toggles in settings"
## Feature Description

Currently in the branch for Existing Tag Simplification, there is a lack of whitespace between the Analytics snippet toggles and separators below them creating a visual inconsistency.

![image](https://user-images.githubusercontent.com/1621608/167720487-f3cea049-b9f8-45cc-80f0-dd812b8e6cfe.png)

This should be updated to be similar with the spacing we have as today

<img wi

[2022-05-10 21:32] felixarntz commented on #5198
IB ✅

[2022-05-10 22:04] tofumatt commented on #4721
Are these errors localised? If so, we should localise the prefix here as well, right? I know it's pretty minor, but some languages might not want this as a prefix or whatnot… would this make sense to localise or is this always English?

[2022-05-10 22:41] tofumatt commented on #5155
IB ✅

[2022-05-11 03:27] wpdarren commented on #5198
### QA Update: ✅

**Verified:**

- The UA and GA4 snippet toggles in the settings observe the updated styling.
- Tested on desktop and small screen sizes.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/167762925-b150f28b-504a-402f-b016-582901002a8b.png)
![image](https://user-images.githubusercontent.com/73545194/167762952-b2629faa-02a2-46cb-

[2022-05-11 11:31] eugene-manuilov commented on #4721
@tofumatt, I have updated IB to explicitly mention it. Please, check again.

[2022-05-11 14:16] #3354 closed

[2022-05-11 18:10] eugene-manuilov commented on #5183
@felixarntz Matthew has a question regarding QA steps in [this comment](https://github.com/google/site-kit-wp/pull/5195#pullrequestreview-969589971). Could you please take a look at it and help him since you wrote the original QAB?

[2022-05-11 18:11] jimmymadon commented on #4825
@aaemnnosttv Just a couple of questions:
- Owned settings for AdSense (accountID and clientID) are not editable in the edit settings view (`SettingsEdit` component). Should we be doing anything in this case?

- We currently don't have a selector to get the user's name from their ID. I can create a separate issue. @tofumatt and I discussed that it will be easier to add the owner's name to the modul

[2022-05-11 20:30] felixarntz commented on #5183
@eugene-manuilov Replied on the PR.

[2022-05-11 20:35] aaemnnosttv commented on #4825
Good point - I suppose not. This can be part of the IB I think 👍

The module owner's username is already available on the `module.owner.login` returned from `getModule/getModules` ([we use this in a few places](https://github.com/google/site-kit-wp/search?q=owner.login)). Note that the `owner` object will only be set if the user has sufficient permissions, although all users who can edit settings

[2022-05-11 21:12] aaemnnosttv commented on #5188
@felixarntz I've added initial ACs here, let me know what you think. As I mentioned before, one thing to consider regarding these changes are places where we check `VIEW_DASHBOARD` which would be `true` going forward for users who don't have the dismissal.

Most notably, users who could see the shared dashboard would get the SK WP dashboard widget + admin bar integration without going through the

[2022-05-11 21:34] aaemnnosttv commented on #5176
IB ✅

[2022-05-11 21:45] aaemnnosttv commented on #4481
@jimmymadon I'm still finishing the CR but noticed a few things in the QAB that could be enhanced

This snippet won't work because the WP nonce will be different for every user (looks like you know this already though from the instruction "replace the x-wp-nonce with a nonce from a recent report request on local"), but is also time-sensitive. Instead we can use `googlesitekit.api.(get|set)` respec

[2022-05-11 22:03] felixarntz commented on #5188
@aaemnnosttv ACs SGTM!

I think getting access to the WP dashboard widget and admin bar without going through the splash screen is not too big of a deal. I'll move this to IB.

That raises another important point I just thought about though: We may want to be a bit more strict about WP dashboard widget and admin bar menu in another way. I don't think the dismissal matters here much, but for exampl

[2022-05-11 22:20] aaemnnosttv commented on #5188
SGTM @felixarntz – I'll open an issue for those new capabilities 👍

[2022-05-12 02:55] aaemnnosttv opened #5202 "Introduce new capabilities for viewing secondary elements"
## Feature Description

Site Kit's primary features live in its dashboard view, but there are a few substantial "secondary" elements which fall outside of the main area, particularly the WordPress dashboard "Site Kit Summary" widget, and the admin bar integration on the frontend. These currently both rely on the custom `VIEW_DASHBOARD` capability, however in the context of dashboard sharing, this

[2022-05-12 02:59] aaemnnosttv commented on #5202
@felixarntz let me know what you think 👍

[2022-05-12 08:28] #4037 closed

[2022-05-12 11:26] wpdarren commented on #5180
### QA Update: ✅

**Verified:**

- The [Storybook story](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-adsense-components-setup-v2-setupmain--select-account) loads with as expected.
- When you have no account, there are no blank screens shown for a short period of time after the progress bar disappears.

https://user-images.githubusercontent.com/73545194/168064379-358

[2022-05-12 11:52] #1102 closed

[2022-05-12 12:02] wpdarren commented on #5183
### QA Update: ⚠️

@felixarntz @eugene-manuilov  I have an observation:

For both of the `'Needs Attention'` tests in the QAB:

I was expecting to see the `Your account isn’t ready to show ads yet. You need to fix some things before we can connect Site Kit to your AdSense account.` UI for Needs Attention.  What I see is ```Add this site to your AdSense account
We’ve detected that you haven’t added

[2022-05-12 14:40] eugene-manuilov commented on #5183
@wpdarren looks like you have the same problem as Matthew had during code review (see here: https://github.com/google/site-kit-wp/pull/5195#pullrequestreview-969589971). He solved the problem by installing the latest version of the tester plugin. Could you please also confirm that you have the `1.8.2` tester plugin?

[2022-05-12 15:10] wpdarren commented on #5183
@eugene-manuilov yes, I am using the latest version 1.8.2.

Let me run through it again and I will let you know if this is still an issue for me.

[2022-05-12 15:47] wpdarren commented on #5183
### QA Update: ❌

@eugene-manuilov I am still seeing the issue.  I tested it on the previous test site and a new one.

It looks like Matthew's issue was to do with `multiple` but this is with `needs attention` account status.

- Set the tester plugin AdSense site status to `none`
- Set the tester plugin AdSense account status to `needs attention`
- Set up AdSense and what I see is `Add this site t

[2022-05-12 15:56] aaemnnosttv opened #5204 "Merge Existing Tag Simplification"
The https://github.com/google/site-kit-wp/tree/feature/existing-tag-simplification branch should be merged into `develop`.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The https://github.com/google/site-kit-wp/tree/feature/existing-tag-simplification branch should be merged into `develop`.

## Imple

[2022-05-12 16:32] techanvil commented on #5161
Hi @aaemnnosttv, having implemented this I think it's not quite right in terms of functionality. When we retrieve the list of viewable modules that gives a list of _all_ the modules the user has permission for.

E.g. `[ 'pagespeed-insights', 'search-console' ]`.

However, as specced we then pass this list through via `isWidgetAreaActive` / `isWidgetContextActive` to `getWidgets`.

In `getWidgets`

[2022-05-12 17:13] tofumatt commented on #5189
IB ✅

[2022-05-12 17:43] hussain-t commented on #4822
@tofumatt, we need to bump up the estimate for adding test coverage. However, we don’t have anything between 19 to 30; what should I do?

[2022-05-12 18:03] tofumatt commented on #4822
@hussain-t In that case, let's go with 30; the estimate is at the high end of things but better to err on that side of things.

[2022-05-12 18:05] felixarntz commented on #5183
@wpdarren Apologies, I think that small but crucial detail about the site status to set in the tester plugin was wrong the way I had originally specified it in the QA Brief. What you're seeing is in fact expected because not having a site takes precedence over some of the other relevant criteria. So I've now updated the QA Brief to have the site status always set to "ready".

[2022-05-12 18:30] tofumatt commented on #4822
Alright, a lot to go through here but I think this all looks good. IB ✅

[2022-05-12 21:57] aaemnnosttv commented on #5204
IB ☑️ No separate IB review needed here as this is an issue for the feature merge only.

[2022-05-12 22:52] aaemnnosttv commented on #4794
@kuasha420 @hussain-t This issue should not depend on #4481. The two are interconnected but should be able to be implemented separately. I'm going to remove the dependency for now but let me know if you feel it is important to keep for some reason.

[2022-05-12 23:52] aaemnnosttv commented on #4481
@jimmymadon would you please update the QAB?

[2022-05-13 04:08] aaemnnosttv commented on #5204
@felixarntz @techanvil I opened a small follow-up PR here to move the new settings/setup-specific `UseSnippetSwitch` variant components to their respective component directories as a minor cleanup PR.

[2022-05-13 10:00] eugene-manuilov commented on #4825
@jimmymadon no need to do it in every component. Every module has the `SettingsEdit` component that returns a progress bar if the required state isn't resolved yet. That is where we need to check whether the use has access to the module or not and that is where we need to return a progress bar.

https://github.com/google/site-kit-wp/blob/8b62084b7d3ddfd3440d69647ddae9752de8be68/assets/js/modules/a

[2022-05-13 10:58] jimmymadon commented on #4825
@eugene-manuilov I originally was going to do it that way - then realised that in the case of Analytics, we don't prevent the loading of all other elements/switches if we are only 'deciding' on how to render the Select fields. But in the end, I did for Analytics, I did put the loading logic in SettingsEdit as I didn't want multiple loading bars showing up within. So yeah, makes sense to move the s

[2022-05-13 11:16] jimmymadon commented on #4825
@aaemnnosttv Just to clarify, in Analytics, should this notice be displayed twice - below the UA fields and the GA4 fields or just below the UA fields?

[2022-05-13 11:27] hussain-t commented on #4794
@aaemnnosttv, there are a couple of reasons I consider #4481 is blocking this ticket though I have done the base work with unit tests and created a draft PR.
1. I wanted to know the exact shape of the sharing settings
2. I want to test the `saveSharingSettings` action locally and for QA testing.

[2022-05-13 13:18] eugene-manuilov commented on #4825
@jimmymadon, we forgot to add the AdSense module.

[2022-05-13 13:28] jimmymadon commented on #4825
@eugene-manuilov I have added a note to the IB based on [Evan's reply to my comment](https://github.com/google/site-kit-wp/issues/4825#issuecomment-1124271322). AdSense does not have any editable owned settings - so I don't think it is necessary to check for module access here?

[2022-05-13 13:36] eugene-manuilov commented on #4825
Ah... okay. Let's add a note to IB to make it clear why we excluded AdSense.

[2022-05-13 16:23] eugene-manuilov commented on #4825
IB :heavy_check_mark:

[2022-05-13 16:53] felixarntz opened #5207 "Surface new Interaction to Next Paint field metric in PageSpeed widget"
The [Interaction to Next Paint metric](https://web.dev/inp/) was recently introduced as a new crucial field metric, with the goal to provide a more accurate representation on page interactivity than today's default, the First Input Delay metric.

The Interaction to Next Paint metric is currently experimental, but due to its importance in relation to CWV, we should surface it in Site Kit's PageSpee

[2022-05-13 17:50] felixarntz commented on #5207
@aaemnnosttv IB + PR are ready for review.

@eclarke1 @FlicHollis Still waiting for confirmation from @marrrmarrr on this, but we may want to ship this in the next release already. Let's not add the release to it yet, but I wanted to make sure this is on your radar.

[2022-05-14 08:18] yogeshbeniwal commented on #4446
@bethanylang May i know if this being considered for implementation?

[2022-05-16 03:33] wpdarren commented on #5183
### QA Update: ✅

**Verified:**

_Ensuring that account is reset_

- When the tester plugin AdSense account status to `needs-attention`,  the correct UI loads when setting up AdSense
- When the tester plugin AdSense account status is set to `none`, the correct UI loads when setting up AdSense.
- When the tester plugin AdSense account status is set to `multiple`. the dropdown to select an account a

[2022-05-16 09:21] hussain-t commented on #4795
@aaemnnosttv, after discussing with @eugene-manuilov, it became clear that #4794 and 4795 are interdependent. He suggested working on 4795 first and then 4794. Also, the `receiveGetSharingSettings` action must be moved from 4794 to 4795 since we need to dispatch `sharingSettings` to the `receiveGetSharingSettings` action.

[2022-05-16 09:39] hussain-t commented on #4795
@aaemnnosttv, however, it’s better to move the `getSharingSettings` selector and resolver to #4794 since we need to get the `sharingSettings` from the `getSharingSettings` selector to use it in the `saveSharingSettings` action to pass it to the `fetchSaveSharingSettings` action like this:
<img width="726" alt="Screenshot 2022-05-16 at 3 06 40 PM" src="https://user-images.githubusercontent.com/2440

[2022-05-16 09:42] hussain-t commented on #4794
@aaemnnosttv, we need to move the `getSharingSettings` selector and resolver from #4795 to this ticket since we need to get the `sharingSettings` from the `getSharingSettings` selector to use it in the `saveSharingSettings` action to pass it to the `fetchSaveSharingSettings` action like this:

<img width="726" alt="Screenshot 2022-05-16 at 3 06 40 PM" src="https://user-images.githubusercontent.com

[2022-05-16 11:12] bethanylang commented on #4446
@yogeshbeniwal Thank you!

This feature is not actively being considered at this time, but we regularly reevaluate priorities and update GitHub accordingly. You can continue to follow along here for any updates.

[2022-05-16 11:30] eclarke1 commented on #4532
@aaemnnosttv is this an issue you are intending to work on? Or can we unassign from you and have anyone in the team pick this up? cc @FlicHollis

[2022-05-16 11:44] wpdarren commented on #5043
### QA Update: ❌

@tofumatt I am not seeing:

`"settings"` when performing actions like disconnecting a module on the Settings page.
`"activation"` when viewing the "Congrats, Site Kit is now activated" message after Site Kit initial setup.

I am able to see the splash and adminBar.

I have tested this on two new test sites.

Any ideas why this could be?

**Verified:**

- The "splash" category app

[2022-05-16 12:13] wpdarren commented on #5050
@felixarntz I am creating the test plan for AdSense Setup Improvement and wondering if this could now be tested by us since we have the tester plugin update. What are your thoughts? If it can, would it be possible for you to write up a new QAB, and I can make sure that this gets included. 🤔

[2022-05-16 13:28] bethanylang opened #5211 "Update "An existing tag was found" message text"
## Feature Description

The current language for the message that displays when an existing UA tag that is different from the one selected in SK settings is detected is:

"An existing tag UA-*** was found on the page.
If you prefer to collect data using that existing UA tag, please select the corresponding account and property above."

<img width="756" alt="ua-existing-tag-found" src="https://user

[2022-05-16 14:01] marrrmarrr commented on #5207
@felixarntz do we have any designs on how the "experimental" label will look in this context? Will it be next to the bigger heading (the metric name)? And at what point do we aim to remove the experimental label, do we have any condition/trigger for that fron the PSI team?

Other than that, should we rename the tabs (as we discussed in your doc with Seba) in the same issue, or create a new one?

B

[2022-05-16 14:18] wpdarren commented on #4529
@kuasha420 re. the QAB brief.

Looking at the IB and subsequent comments, I feel we need more information in the QAB to test this fully.

I can see reference to feature tours, entity search, but I would like a little more clarity on what the affected routes are and what we should be looking out for.  The AC/IB is a little technical so please could provide more information?

[2022-05-16 15:52] wpdarren commented on #4826
### QA Update: ⚠️

@asvin I have two initial observations while testing this.

1. In the QAB it mentions:

When I set up my test site with `dashboardSharing` enabled, I can see the new dashboard sharing button but it only appears on the main dashboard.  It doesn't mention entity dashboard in the AC, so just checking if it should be displaying there?

2. The color of the dashboard sharing is `#7575

[2022-05-16 16:07] asvinb commented on #4826
@wpdarren
1. Good catch. It's my understanding that the button should show on the entity header since the headers, main and entity are consistent, unless am mistaken @aaemnnosttv
2. This is expected @wpdarren We are using the existing colors in our codebase and consistent with the colors in the header.

[2022-05-16 16:09] felixarntz commented on #5207
@marrrmarrr You can see what it currently looks like in the implementation here: https://google.github.io/site-kit-wp/storybook/pull/5200/?path=/story/pagespeed-insights-module-components--dashboard-widget

So yeah, it would be next to the heading.

Yeah let's do that in a separate issue as it's unrelated to the new metric.

[2022-05-16 17:09] aaemnnosttv commented on #5184
IB ✅

[2022-05-16 17:32] aaemnnosttv commented on #5161
@techanvil – This is incorrect in the implementation in `getWidgets`. It should essentially be

[code]

That is – the widget should only be returned if all of **its** modules are included in the list of available/allowed modules, not the other way around.

We don't however want to loosen the logic to allow for any of a widget's modules available enabling it, that would largely defeat the purpose o

[2022-05-16 17:36] felixarntz commented on #5050
@wpdarren Since this is something which happens on the server-side, it wouldn't really be possible to mock this via the tester plugin.

I think this piece is simple enough so that we don't need to cover this as part of the bug bash.

[2022-05-16 17:39] bethanylang opened #5212 "Update "A tag for the selected property already exists" message text"
## Feature Description

The current language for the message that displays when the *same* existing UA tag as the one selected in SK settings is detected is:

A tag UA-*** for the selected property already exists on the site.
Make sure you remove it if you want to place the same UA tag via Site Kit, otherwise they will be duplicated.

<img width="757" alt="ua-duplicate-warning" src="https://user-i

[2022-05-16 17:43] bethanylang commented on #4314
Coming back to this as part of reviewing these settings for ETS testing, I agree with the changes that James suggests here.

[2022-05-16 18:05] mxbclang opened #5213 "Remove extra padding on "An associated Universal Analytics property will also be created" message"
## Bug Description

When setting up Analytics with a GA4 tag already placed, Site Kit will display a notification that a UA property will also be created. Usually these blue bar notifications have text on one side and a Learn more link on the other, but this one has a line break between the two pieces of text.

## Steps to reproduce

1. Create a GA4 property at analytics.google.com
2. Add the GA4

[2022-05-16 18:44] bethanylang opened #5214 "Update "An existing Google Tag Manager property was found on your site" message"
## Feature Description

The current language for the message that displays when the same existing UA tag as the one selected in SK settings is detected is:

An existing Google Tag Manager property was found on your site with the ID UA-***. Since it refers to the same property selected here, Site Kit will not place its own tag and rely on the existing one. If later on you decide to remove this prop

[2022-05-16 18:46] bethanylang opened #5215 "Update "Place Universal Analytics code" toggle if GTM is placing the tag"
## Feature Description

The current helper text under the "Place Universal Analytics code" toggle if a UA tag is detected in a GTM container is:

The code is controlled by the Tag Manager module.

<img width="361" alt="image" src="https://user-images.githubusercontent.com/12189958/168661059-41a8ff03-8378-49fc-889d-3ef845db5ba4.png">

This reads slightly awkward and unclear to me.

I'd suggest it c

[2022-05-16 19:24] tofumatt commented on #4721
@eugene-manuilov I don't see an update to the IB, looks like maybe it didn't take? But sounds like we should localise it, so I'll just add that to the IB and then move this to the backlog to prevent more back/forth 😅

[2022-05-16 19:25] tofumatt commented on #4721
IB ✅

[2022-05-16 20:11] tofumatt commented on #5207
IB ✅

I'll review the code here as well, should be in just a bit 🙂

[2022-05-16 21:27] aaemnnosttv commented on #4794
@hussain-t I would prefer to keep these in their respective issues as defined and use a temporary workaround here instead.

E.g. we can manually "select" the state for the action above instead, and refactor it to use the selector in that issue as a simple one line change.

[code]

That should unblock this issue and then we can address the above TODO in #4795. If that works for you, then let's move

[2022-05-16 21:31] kuasha420 commented on #4529
@wpdarren fair point. I have added all the changed routes with description on where to find/test them. Please test with the feature flag enabled and disabled. Thank you.

[2022-05-16 21:34] aaemnnosttv commented on #4795
@hussain-t we should be able to do these sequentially as defined. Please see my response https://github.com/google/site-kit-wp/issues/4794#issuecomment-1128155108 🙂

[2022-05-16 21:39] aaemnnosttv commented on #4532
@eclarke1 thanks for the nudge; yes, I am planning on working on it this week. I should be able to have it in CR by EOW (there's already a PR started for it as well).

[2022-05-16 21:55] aaemnnosttv commented on #4826
@asvinb @wpdarren correct – to be more precise, in dashboard sharing terms the main dashboard applies to both main and entity dashboards as we refer to them today, but is now referred to more specifically as the "authenticated dashboard". Hopefully in the not-too-distant-future the main and entity dashboards (authenticated or shared) will actually be different views of the same dashboard rather th

[2022-05-16 22:06] aaemnnosttv commented on #4314
Thanks @bethanylang – we probably need to rethink this a bit because the settings view here should be more/less a reflection of the current settings values for the module. We don't currently persist the concept of an existing tag so the [tag placed but not by SK] case needs some thinking. IMO, the view should show Site Kit's snippet status and if we want to also show the status of an existing tag,

[2022-05-16 22:10] tofumatt commented on #5043
@wpdarren There's a nearly immediate navigation after clicking on the buttons that activate those `trackEvent` calls, so you might miss them after the browser redirects. 🤔

Are you seeing _any_ events? Eg. are the categories for the events not matching the QA Brief? If they aren't matching something is wrong, but you might not be able to see the names if you don't prevent redirects or something af

[2022-05-16 22:22] aaemnnosttv commented on #4721
IB ⚠️ We can't simply prepend the `$content` with the plugin name as this assumes the content is only text. A `Notice`'s content can be any HTML, so the proposed change would somewhat break our `Activation_Notice` which doesn't need this because it's already included in the full visual notice.

Instead, I think we should probably just apply this on a case-by-case basis in the actual notice instanc

[2022-05-17 00:38] Yossifsolman commented on #4834
Look what he wrote:
“ Site Kit placed GA snippet “

So, site kit must implant GA, and old analytics? Where he needs to go?
He didn't specify what with the rest…

Hard to work like that, i still struggling and thinking have some combination must be implanted by SitKit
as @jamesozzie says about  Site Kit placed GA snippet.

GA4 count outbound link, its included conversion tag,
toghter with that you

[2022-05-17 06:11] hussain-t commented on #4794
Thanks, @aaemnnosttv, SGTM 👍

[2022-05-17 09:02] techanvil commented on #5161
Hi @aaemnnosttv, thanks for pointing that out! I hadn't spotted that subtle disconnect between the AC and the implementation.

I think we can make that correction here too, will go ahead and make it happen. Cheers

[2022-05-17 09:14] eclarke1 opened #5216 "Notifications MVP"
Asana epic: https://app.asana.com/0/1202247008436858/overview
Design doc: https://docs.google.com/document/d/1QIruz3fJSDQJ2cILtBHlU6ow8esyaVS3mcuaqt5QQR8/edit?resourcekey=0-nM2tn9DOjjHDWTtspbERkA

[2022-05-17 12:54] wpdarren commented on #5043
@tofumatt I am using the Google Analytics debugger chrome extension and I can see `splash` and `adminBar` as per the QAB, but not seeing anything for `settings` and `activation` when running through those actions.   I have it set to preserve log so the issue with redirects should not be an issue.  I have just set up a new test site and still are not seeing anything in the log for these two categor

[2022-05-17 13:36] eugene-manuilov commented on #4721
Good catch, @aaemnnosttv. Thanks. IB is updated.

[2022-05-17 13:41] wpdarren commented on #4529
QA Update: ✅

Thanks for the update to the QAB @kuasha420, this was really useful 👍

**Verified:**

- I went through all of the affected routes in the QAB for authenticated dashboard user with `dashboardSharing` flag both enabled and disabled and can confirm that everything still functions as expected.  No console errors appeared.

[2022-05-17 14:02] wpdarren commented on #4481
### QA Update: ✅

**Verified:**

- There are no console errors and everything works as before when setting up Site Kit and activating all Modules. For some additional testing, I checked that I was able to deactivate modules and also tested this on a site with two admin authorised users to ensure no issues occurred.

Added the `QA:Eng` label for the required tests as per the QAB.

[2022-05-17 14:17] wpdarren commented on #4813
### QA Update: ⚠️

@aaemnnosttv I do not think I can test this based on the QAB, because we currently cannot enable dashboard sharing for a user, or, sign in as the user who has view-only access to the dashboard. I can see the new dashboard sharing icon but that's about it at the moment.   Any suggestions on how this could be tested?

![image](https://user-images.githubusercontent.com/73545194/168

[2022-05-17 15:06] hussain-t commented on #4794
Thanks, @aaemnnosttv, as per our discussion I have updated the tests to dispatch the `receiveGetSharingSettings` action then we should be able to get the `sharingSettings` from the `*.store.getState()`. I have also updated the QAB respectively.

[2022-05-17 15:19] aaemnnosttv commented on #4721
LGTM, thanks @eugene-manuilov

IB ✅

[2022-05-17 15:28] bethanylang commented on #276
👋 @brendanmullan Thanks for checking in! This is still on our radar, but isn't in active development at the moment. You can continue to follow this issue for future updates.

[2022-05-17 18:00] felixarntz commented on #5202
@aaemnnosttv Updated the ACs based on our conversation earlier. Let me know if that looks good to you.

[2022-05-17 18:01] eugene-manuilov commented on #5144
IB ✔️

[2022-05-17 19:25] felixarntz opened #5219 "Implement splash screen GA events for dashboard sharing"
Based on the [custom GA events defined for dashboard sharing](https://docs.google.com/spreadsheets/d/1eEuJ2ppVZuai1_hL77RA2vL7DUidM_qCnvTsjxZ_S4k/edit), this issue is focused on implementing the events that are part of the splash screen.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GA event sh

[2022-05-17 19:25] felixarntz opened #5220 "Implement header bar GA events for dashboard sharing"
Based on the [custom GA events defined for dashboard sharing](https://docs.google.com/spreadsheets/d/1eEuJ2ppVZuai1_hL77RA2vL7DUidM_qCnvTsjxZ_S4k/edit), this issue is focused on implementing the events that are part of the header bar.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GA event shoul

[2022-05-17 19:25] felixarntz opened #5221 "Implement dashboard sharing modal GA events for dashboard sharing"
Based on the [custom GA events defined for dashboard sharing](https://docs.google.com/spreadsheets/d/1eEuJ2ppVZuai1_hL77RA2vL7DUidM_qCnvTsjxZ_S4k/edit), this issue is focused on implementing the events that are part of the new dashboard sharing settings modal.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criter

[2022-05-17 19:41] felixarntz commented on #4827
Closing in favor of #5219, #5220, #5221.

[2022-05-17 19:41] #4827 closed

[2022-05-17 20:16] tofumatt commented on #5043
@wpdarren I used the debugger on the latest `develop` and saw the settings module events when clicking around the settings and specifically the deactivation event mentioned in the QA brief:

![CleanShot 2022-05-17 at 20 56 15](https://user-images.githubusercontent.com/90871/168899197-4464ab17-46c7-441b-aa4b-56648b287b7d.gif)

Looks like the activation notifications appear with the context of the n

[2022-05-18 01:58] wpdarren commented on #5043
### QA Update: ✅

@tofumatt Ah, I was looking for `settings` in the log, but yes, I can see settings_module-list. 👍

**Verified:**

- The "splash" category appears when performing actions during setup.

![image](https://user-images.githubusercontent.com/73545194/168582973-5a5d176b-0c5c-4cf5-8225-1166652a2891.png)

- The "adminBar" category appears when performing actions related to the Admin Bar

[2022-05-18 02:38] wpdarren commented on #4826
### QA Update:  ⚠️

@asvinb  I realise you have styled it as per the Figma designs, but I feel the icon is smaller than the help icon and could be a little larger. E.g. The help SVG path is 20x20, where as the new dashboard sharing icon is 18.33 x 13.33 and these are similar icons so should be the same size in my opinion. I realise this is only a small size change but it doesn't stand out like the

[2022-05-18 09:42] hussain-t commented on #4481
### QA Verified ✅
- Verified the new `sharing-settings` REST endpoint with the various scenarios mentioned in the QAB.
- Verified that the newly added PHPUnit tests are sufficient to cover the new functionality and pass.

[2022-05-18 09:43] asvinb commented on #4826
@wpdarren From a technical point of view, both sizes are same. See screenshot below:
<img width="878" alt="image" src="https://user-images.githubusercontent.com/31818/169009186-3f6ab072-7439-40fc-8f4f-7a0e41c9c8ff.png">
Basically the `viewBox` is the same and we try to have the size consistent across the icons. It's actually what's within the `viewBox` which is different. For the help one, the `pa

[2022-05-18 11:52] wpdarren commented on #4826
QA Update: ✅

@asvinb thank you for looking at this, I will make a note to create a ticket for it.

**Verified:**

- The new Header stories render correctly as per the AC and designs in Figma.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/168945604-dadcbc5d-48c0-480f-bfb5-7530d43f1e62.png)
![image](https://user-images.githubusercontent.com/

[2022-05-18 12:18] asvinb commented on #4822
Working branch: `feature/4822-dashboard-sharing-settings`

[2022-05-18 13:16] adamdunnage commented on #4837
We have another recent report of this in the forum: https://wordpress.org/support/topic/site-kit-encountered-an-errorerror-request-parameter-is-empty-account/.

Here is the users Site Health: https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNg3kgbFeer6_ObuugkE3S3dQ6f3tJvqWqCDMcG3WnT1FX9skvk3zqZmOHDMesn8wbA

They have also provided the following consol

[2022-05-18 13:28] aaemnnosttv commented on #5202
LGTM @felixarntz 👍

[2022-05-18 13:56] wpdarren commented on #5204
### QA Update: ❌

@kuasha420 @aaemnnosttv as per my message on Slack.

I have started running through the final ETS testing now that it is merged into Develop.

Found an issue that wasn’t appearing during bug bash.  I have created a UA property within Analytics, then set up Site Kit / Analytics. It recognised the existing tag UA property, toggle was disabled, and it looked fine. Went through the s

[2022-05-18 14:21] hussain-t commented on #4481
### QA Update ⚠️

@jimmymadon, @aaemnnosttv, there is one observation I found later on that the endpoint returns the `newOwnerIDs` in the shape of an object like `{pagespeed-insights: 1}`. However, if there is no change in the `ownerID,` it returns an empty array. The shape of the `newOwnerIDs` property is an object with the data, and it's an array (empty) if there is no data. Do we need to return

[2022-05-18 15:21] aaemnnosttv commented on #5204
Thanks for catching this @wpdarren – this was my mistake introduced in the follow-up PR 😄

@kuasha420 has fixed it in #5226 so this should be all set now, but please confirm 👍

[2022-05-18 15:49] wpdarren commented on #5204
QA Update: ⚠️

@aaemnnosttv @kuasha420 when I tested this earlier today for `Existing UA tag matches selected primary UA tag` the UA snippet was disabled by default, which is expected. I have just re-tested this with a new site, the UA snippet is enabled by default. Do you think the settings fix we've just implemented could impact this?

![image](https://user-images.githubusercontent.com/73545194/

[2022-05-18 16:12] jimmymadon commented on #4481
@aaemnnosttv Before sending the response here: https://github.com/google/site-kit-wp/blob/76cc88498c98ae65c4a4df13fd91f5baecf83d9b/includes/Core/Modules/REST_Dashboard_Sharing_Controller.php#L86-L100

I could add:
[code]
to return an empty object {} OR just return null OR remove the `newOwnerIDs` key altogether. I think any of these responses could work for the front-end? I prefer the first option

[2022-05-18 16:30] techanvil opened #5228 "Improve legibility of path regular expressions."
## Feature Description

This is a proposal for a small code cleanup.

At present the majority of our JavaScript regular expressions use the regex literal syntax, e.g. `/ab+c]/`.

When matching paths we therefore escape the path separator. This escaping is a hindrance to readability and also directly searching for the path in the codebase.

`\/google-site-kit\/v1\/modules\/idea-hub\/data\/new-ideas

[2022-05-18 17:53] aaemnnosttv opened #5229 "Refactor capabilities as they apply to dashboard sharing settings"
## Feature Description

In #4481, [capability checks](https://github.com/google/site-kit-wp/blob/76cc88498c98ae65c4a4df13fd91f5baecf83d9b/includes/Core/Modules/Module_Sharing_Settings.php#L146) were added to restrict which parts of the module sharing settings can be modified. This logic, while largely correct should be moved out of the module sharing settings class itself and live either in the co

[2022-05-18 18:58] aaemnnosttv commented on #4481
@hussain-t @jimmymadon This is a quirk of how PHP encodes an associative array to JSON. I think we just need to cast the `newOwnerIDs` to an object before returning from the controller so that the empty map doesn't get encoded as an array.

i.e.
[code]

I'd prefer to keep the key in the response. We can always check `Object.keys( newOwnerIDs ).length` on the client to know if there are any or not.

[2022-05-18 19:39] aaemnnosttv commented on #4837
@adamdunnage aside from the error in the title here, this user has API errors which look odd:

[code]

Which has more context in the Site Kit error `Request parameter is empty: metrics.`, however the `metrics` query parameter _is in the request_, so it may be that something on the web server is stripping this before it reaches WP.

Maybe have the user temporarily disable WordFence or any other web

[2022-05-18 21:52] aaemnnosttv commented on #4534
@felixarntz I've added some initial ACs here to get this going, let me know what you think.

As for capabilities, which do you think we should include here? I feel it would probably be too much to list out all of the read/manage/delegate meta caps for each shareable module (at least on individual lines). Maybe we could aggregate these into a single line for each?

Site Health is limited to admins

[2022-05-19 14:49] wpdarren commented on #5196
### QA Update: ✅

- Gone through our QA checklist.
- Tested on sites with gathering, zero and actual data.
- Tested on the current version of WordPress but completed general testing on `WP 6.0 RC3`*

* We completed a full QA on RC2 last week, but thought it was worth a run through.

[2022-05-19 15:02] wpdarren commented on #4481
### QA Update: ✅

**Verified:**

- There are no console errors and everything works as before when setting up Site Kit and activating all Modules.
- For some additional testing, I checked that I could activate all modules via settings and CTA on dashboard.
- I also checked that I was able to deactivate modules and also tested this on a site with two admin authorised users to ensure no issues occur

[2022-05-19 15:05] wpdarren commented on #4481
### QA Update: ✅

**Verified:**

- There are no console errors and everything works as before when setting up Site Kit and activating all Modules.
- For some additional testing, I checked that I could activate all modules via settings and CTA on dashboard.
- I also checked that I was able to deactivate modules and also tested this on a site with two admin authorised users to ensure no issues occur

[2022-05-19 15:27] marrrmarrr commented on #5211
@bethanylang this SGTM!

[2022-05-19 15:27] adamdunnage commented on #4837
@aaemnnosttv The user has reported no change when disabling WordFence or any other web firewall. Could this be something happening at host level? Their setup is Ubuntu on AWS running a LEMP stack. UFW is installed, but not currently active.

[2022-05-19 15:27] marrrmarrr commented on #5212
@bethanylang SGTM!

[2022-05-19 15:33] eugene-manuilov commented on #5221
IB :heavy_check_mark:

[2022-05-19 15:35] eugene-manuilov commented on #5196
LGTM. QA :heavy_check_mark:

[2022-05-19 15:53] FlicHollis commented on #4532
Great thanks @aaemnnosttv let me know if this changes and we can see if someone else can pick this up.

[2022-05-19 16:03] eugene-manuilov commented on #5202
IB :heavy_check_mark:

[2022-05-19 16:22] #5043 closed

[2022-05-19 16:23] #5141 closed

[2022-05-19 16:23] #5167 closed, assigned to nobody

[2022-05-19 16:23] #5046 closed

[2022-05-19 16:23] #5044 closed

[2022-05-19 16:24] #5098 closed

[2022-05-19 16:24] #4702 closed

[2022-05-19 16:24] #5045 closed

[2022-05-19 16:24] #4934 closed

[2022-05-19 16:24] #4913 closed

[2022-05-19 16:24] #4627 closed

[2022-05-19 16:27] #4529 closed

[2022-05-19 16:28] #5183 closed

[2022-05-19 16:29] #5159 closed

[2022-05-19 16:34] hussain-t commented on #4481
### QA Verified ✅

- Verified the new sharing-settings REST endpoint with the various scenarios mentioned in the QAB.
- Verified that the newly added PHPUnit tests are sufficient to cover the new functionality and pass.
- **Verified the `newOwnerIDs` is an empty object if there are no changes instead of an empty array.**

<img width="826" alt="Screenshot 2022-05-19 at 10 01 34 PM" src="https://use

[2022-05-19 16:47] marrrmarrr commented on #4446
Hey @yogeshbeniwal, thanks for suggesting this feature!
Could you share some more details of how you would use it? Purely to add a modal encouraging visitors to deactivate their ad blocker when visiting your site?

Currently, as @bethanylang mentioned we're not considering this actively, but if we move forward with this at a later time, we'll make sure to update the issue.

[2022-05-19 17:14] #5207 closed

[2022-05-19 17:16] #5176 closed

[2022-05-19 17:17] #4664 closed

[2022-05-19 17:18] #5180 closed

[2022-05-19 17:24] #4763 closed

[2022-05-19 17:30] #4826 closed

[2022-05-19 18:37] felixarntz commented on #4559
The AdSense Host API is pretty much only relevant for very large platforms, or networks of sites. In the API documentation it speaks about 100k+ daily pageviews, which is probably a value that only a tiny fraction of Site Kit sites get to as of now. Furthermore, as Site Kit still does not properly support multisite, there wouldn't be a lot of value in implementing an AdSense Host API integration.

[2022-05-19 18:37] #4559 closed

[2022-05-19 20:31] mikezielonka commented on #2864
I'd love to see Sitekit support different domains and GA profiles per language.  Maybe one day!  For now, I have to manually insert my Analytics tags via WP conditionals.

[2022-05-19 20:47] tofumatt opened #5234 "Add new selectorData object in getErrorForSelector"
## Feature Description

In order for us to be able to retry requests that encountered errors, we need to be able to invalidate their selectors. To do this, we need to return information about the selector that caused an error to be dispatched in the `getErrorForSelector` selector.

See the design doc section for more detail: https://docs.google.com/document/d/1QIruz3fJSDQJ2cILtBHlU6ow8esyaVS3mcuaq

[2022-05-19 20:51] tofumatt opened #5235 "Add storeName argument to createErrorStore"
## Feature Description

In order for #5234 to be implemented, each error store needs awareness of its `storeName`. See the design doc for more info: https://docs.google.com/document/d/1QIruz3fJSDQJ2cILtBHlU6ow8esyaVS3mcuaqt5QQR8/edit?resourcekey=0-nM2tn9DOjjHDWTtspbERkA#heading=h.xleqo0mvx6mv

We need to add a `storeName` argument to `createErrorStore`, and also add this argument to every current

[2022-05-19 21:58] tofumatt opened #5236 "Add "Retry" button to ReportError component"
## Feature Description

Currently when the user encounters an error that causes `ReportError` to be displayed, there is no way to retry the request. We should add a "retry" button that invalidates the request's resolver and forces the request to be tried again.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2022-05-19 22:49] kuasha420 commented on #5196
QA: :heavy_check_mark:

Went through the release testing checklist. Everything looks good. Also did another round of ETS scenarios testing on a fresh site. All clear from me

# :heavy_check_mark:

[2022-05-20 02:46] aaemnnosttv commented on #4721
### ⚠️ Review

@nfmohit please see my comment on your PR https://github.com/google/site-kit-wp/pull/5223#pullrequestreview-979454605.

Would you please open a follow-up PR to address it?

[2022-05-20 08:16] yogeshbeniwal commented on #4446
@marrrmarrr Apart from encouraging visitors to deactivate ad blocker. Also to collect consent for privacy regulations and trigger/initialize various tags/ads/snippets on basis of consent. Sort of using Site Kit as a framework to build for managing those.

[2022-05-20 09:09] eclarke1 opened #5237 "GA Activation Banner"
Asana epic: https://app.asana.com/0/1201989269731504/overview

[2022-05-20 09:10] eclarke1 opened #5238 "AdSense Setup Banner"
Asana epic: https://app.asana.com/0/1202061323550466/overview

[2022-05-20 09:10] eclarke1 opened #5239 "Thank with Google"
Asana epic: https://app.asana.com/0/1202017845970219/overview
Design doc: https://docs.google.com/document/d/17ysrd8ya64T8rAgSriEo7MJxYyLf_nvm7nOn2KR248o/edit

[2022-05-20 09:24] nfmohit commented on #4721
Thank you for the kind review @aaemnnosttv! I have opened a new PR to address it.

[2022-05-20 10:23] techanvil commented on #5196
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing.

[2022-05-20 11:14] tofumatt commented on #5196
QA ✅

[2022-05-20 12:07] jimmymadon commented on #5196
### QA :white_check_mark:

* Went through the release testing check list.
* Smoke tested with and without ASI and Dashboard Sharing feature flags.
* Verified the changes I've been involved with attention to ASI UI components and the new dashboard sharing REST endpoint.

Hit the following error which is not a release issue (something @wpdarren has hit in the last release as well) and for which an A

[2022-05-20 18:55] nfmohit commented on #5196
### QA ✅

- Smoke tested.
- Followed the release testing checklist.
- Double-checked and verified the changes I've been involved with.

[2022-05-20 23:32] aaemnnosttv opened #5243 "Inconsistencies in Analytics tracking exclusions switch"
## Bug Description

There are a few minor inconsistencies with the Analytics tracking exclusion switches.

One is an odd wording case if both "All logged-in users" and "Users that can write posts" are selected, the settings view shows these as a comma-separated list of separate values. If "All logged in users" this obviously includes any other subset so this should be the only thing shown.

Second

[2022-05-21 00:14] aaemnnosttv opened #5244 ""Can't access necessary data" notice flicker when activating Analytics via GTM setup"
## Bug Description

When setting up Analytics via GTM setup, the unsatisfied scopes notice briefly flickers before the user is taken to the OAuth consent screen.

https://user-images.githubusercontent.com/1621608/169626401-24e4b88e-3bc6-46b4-99f8-b05a3554fbb2.mp4

## Steps to reproduce

1. Connect GTM using a container that has an Analytics property in the container
2. Choose the primary option to

[2022-05-21 00:15] aaemnnosttv commented on #5196
I just raised https://github.com/google/site-kit-wp/issues/5244 while testing, but I don't think it's a regression.

Overall things are looking good though so far 👍

[2022-05-22 18:46] hussain-t commented on #5196
## #QA Verified :white_check_mark:

- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-05-23 08:44] wpdarren commented on #4813
### QA Update: ⚠️

@aaemnnosttv now that we have the plugin is it possible to test this?  I tried with the plugin, enabled Search Console as shared with an author.  Dashboard sharing feature flag is enabled.  Created an author user and logged in as that user, but when I went to the SK Dashboard it was blank with an error in the console.

Unsure if this is ready to test, if it is, please could you

[2022-05-23 11:45] tofumatt commented on #5188
Looks good to me, IB ✅

[2022-05-23 11:52] tofumatt commented on #5220
Looks good to me, IB ✅

[2022-05-23 11:53] tofumatt commented on #5219
IB ✅

[2022-05-23 13:54] wpdarren commented on #4721
### QA Update: ✅

**Verified:**

The following notices were checked:
URL mismatch, Authentication, OAuth and Idea Hub notices.

Example:
![image](https://user-images.githubusercontent.com/73545194/169835086-484ba159-bfb9-4dc8-9605-dea26db8696e.png)

[2022-05-23 15:56] wpdarren commented on #4813
@aaemnnosttv noted about the console!  😆   I am still struggling, so here are the steps:

1. Enabled  dashboardSharing feature flag.
2. Updated to the latest `develop` branch.
3. Just have Search Console, PageSpeed and Analytics connected on my site as an Admin.
4. For Shared Roles, I just enabled Author, on search console.

![image](https://user-images.githubusercontent.com/73545194/169858343-883

[2022-05-23 17:07] tofumatt commented on #5243
IB ✅

[2022-05-23 17:08] #5204 closed

[2022-05-23 19:05] aaemnnosttv commented on #4813
Following up here – the problem is due to the [view shared dashboard] capability still being tied to the splash screen dismissal until #5188 is done, so for a user which doesn't have this yet, you get stuck in this state with no way to grant it because assets aren't fully loading. I shared a code snippet to work around this in Slack, but another alternative would be to start with a user who is an

[2022-05-23 19:29] aaemnnosttv commented on #4813
## QA ✅

Tested sharing PSI with editors only. When navigating to the dashboard with an editor, only PSI widget is shown.

See the screencast below. The left window is `admin`, the right is `editor`.

https://user-images.githubusercontent.com/1621608/169891998-94ffb39f-2881-408d-b061-d0b2dbf16d6f.mov

[2022-05-23 20:15] aaemnnosttv commented on #4837
Just about anything is possible at the host level 😄 Since the site is hosted on their own AWS instance, I wouldn't expect any extra firewall type restrictions that the user didn't set up themselves.

@eugene-manuilov any ideas as to what could be going on here?

[2022-05-23 23:08] #4813 closed

[2022-05-24 07:14] adamdunnage commented on #4837
@aaemnnosttv @eugene-manuilov The user has shared a screen recording of their experience. Before hitting this error message I can see that there is also a "**Data error in Analytics, Request parameter is empty: metrics.**".

[2022-05-24 11:46] asvinb opened #5254 "Implement GM2+ styles."
## Feature Description

As we wait for the new GM3 libraries to be out, we can start implementing some GM3 styles within the plugin which will be an intermediary step known as GM2+. Those style changes are:
* Basic colour changes
* Typography, e.g Google Sans and font size adjustments.
* Rounded corners on some UI surfaces.
* Removal of drop shadow on some UI surfaces.
* Buttons to look closer to

[2022-05-24 12:04] wpdarren commented on #4914
### QA Update: ✅

**Verified:**

- The AdSense module displays the data as expected without any errors on FE or within console.
- Tested this on a site without tester plugin, data displays as expected.
- Tested this on a site with tester plugin, data displays as expected.
- Tested on a site with forced gathering and zero data for AdSense, displays as expected.
- Tested this with AdSense V2 feature

[2022-05-24 12:47] wpdarren commented on #5121
### QA Update:  ✅

**Verified:**

- Tested this with Dashboard Sharing feature flag enabled and disabled.
_(not sure if that matters but wasn't mentioned in the QAB, so didn't want to take any risks 😄)_

- Setup each module in Site Kit and modified settings; they continue to work as-normal.
- No changes on the behaviour of saving settings
- Disconnecting/reconnecting modules worked as expected.
-

[2022-05-24 13:15] aaemnnosttv opened #5255 "View only menu isn't visible on shared dashboard"
## Bug Description

In #4826 we integrated the new `ViewOnlyMenu` into the Site Kit header, but since this isn't viewable in the plugin yet, it resulted in a bug in the implementation which prevents it from being shown.

## Steps to reproduce

1. Enable dashboard sharing
2. Set splash dismissal for shared user
3. Visit dashboard as shared user
4. See no view only menu

## Screenshots

<img width="

[2022-05-24 13:25] eugene-manuilov commented on #5255
IB ✅

[2022-05-24 15:03] aaemnnosttv commented on #5254
@asvinb Are these the only places where radiuses are changing? If so, it would probably be more clear as two separate points. If not, it would still probably be better to separate them and list all the places that should be affected by the change.

Is this specific to buttons, etc or ALL elements everywhere? The description above says "some surfaces". I.e. I would think we would still want shadows

[2022-05-24 15:10] aaemnnosttv commented on #4534
@felixarntz actually, regarding the capabilities, these are all currently included when dashboard sharing is enabled. Should we instead change this to limit the capabilities listed here to not include the meta caps as you said?

<img width="755" alt="image" src="https://user-images.githubusercontent.com/1621608/170069788-b8c06d21-0d01-459f-80ec-86ed2c845535.png">

[2022-05-24 15:28] wpdarren commented on #5202
### QA Update: ✅

**Verified:**

_Tested with and without the Dashboard Sharing feature flag._

- With an authenticated admin I was able to set up Site Kit and modules.
- Checked the main and entity dashboard to make sure that all widgets and data is displayed.
- With a non-authenticated admin I was able to see the splash screen, with the message `Site Kit has already been configured by another ad

[2022-05-24 15:29] asvinb commented on #5254
@aaemnnosttv For the border radius changes, it's not an extensive list because things might change as we review with the design team. But for a start, the dropdown menus and widgets are the most eye-catching "candidates" to have round border radiuses.
As for the box shadow, it'll be applicable to ALL elements. I also asked the same question as you about the box shadow for sticky elements, or even

[2022-05-24 17:01] aaemnnosttv opened #5256 "Add `ModuleRecoveryAlert` to authenticated dashboard"
## Feature Description

Using `ModuleRecoveryAlert` implemented in #4823, the alert needs to be added to the authenticated dashboard to be visible to authenticated admins.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `ModuleRecoveryAlert` component should be added to the main and entity dashboar

[2022-05-24 17:47] #5196 closed

[2022-05-24 18:33] aaemnnosttv commented on #4794
## ⚠️ QA:Eng

Somewhat of a secondary CR here but a few minor things should be fixed.

@hussain-t please see my comments here: https://github.com/google/site-kit-wp/pull/5127#pullrequestreview-983644221

[2022-05-24 20:03] FlicHollis commented on #4192
Hi @eugene-manuilov are you still planning on writing the IB for this? If not, feel free to unassign so someone else can grab it - thanks!

[2022-05-24 20:42] aaemnnosttv commented on #4825
@jimmymadon I left a [comment on your PR](https://github.com/google/site-kit-wp/pull/5246#pullrequestreview-983826519) which needs a bit more work yet. This is still secondary to the issues which are in motion related to SK capabilities that are with you right now so please do those first and then we can sync on this one when you're ready to pick it up again if you have any questions 👍

[2022-05-24 23:16] aaemnnosttv opened #5260 "Upgrade AdSense Connect CTA to new design"
## Feature Description

When AdSense is not connected, a CTA is shown in the Monetization of the dashboard to connect it.

This issue is about updating it with a new design which also brings a bit more interactivity into the dashboard compared to its current static implementation.

| Today | New |
| --- | --- |
| <img width="940" alt="image" src="https://user-images.githubusercontent.com/1621608/1

[2022-05-25 02:26] wpdarren commented on #4582
### QA Update: ❌

@nfmohit Thanks for the detailed QAB!  I have two observations, but they might be out of scope. Still, I thought the first one might be linked to the fix here.

1. On all iPads (seems fine on mobile phones) there isn't any padding around the `Unique visitors from search` title when you click on it to get the graph data, see screenshot below.  The title is tight up to the border.

[2022-05-25 02:53] wpdarren commented on #5038
### QA Update: ⚠️

@jimmymadon hello! I am unable to recreate the message:

I tried two ways, 1) disconnecting my internet connection and 2) going to the network tab in chrome  and selecting offline in the throttling setting.  All that happens is when I click on the CTA on the splash screen, it just changes to the no internet message on Chrome.

`No Internet Try: Checking the network cables, modem

[2022-05-25 04:45] wpdarren commented on #4795
### QA Update: ⚠️

@hussain-t  Hello!  I feel we need more clarification in the QAB.

Can you tell me where I should be focusing the testing on this.  On other ticket I was asked to focus on the checking for regressions in the settings, main and entity dashboard, so not sure what to focus this time around?  BTW, I ran the code in the `QA:Eng` section `googlesitekit.data.select('core/modules').[sel

[2022-05-25 06:09] hussain-t commented on #4795
@wpdarren, `[selector-name]` I mean, the specified selector names in the AC. We should execute them one by one. For example:
`googlesitekit.data.select('core/modules').getSharingSettings()`

For context, it seems @aaemnnosttv has updated the QAB.
<img width="640" alt="Screenshot 2022-05-25 at 11 36 26 AM" src="https://user-images.githubusercontent.com/24408261/170191950-f4ba6f35-cc94-4138-b7b9-826

[2022-05-25 08:45] hussain-t commented on #4794
Thanks, @aaemnnosttv. I have addressed your comments in a [follow-up PR](https://github.com/google/site-kit-wp/pull/5262) and assigned this ticket for review.

[2022-05-25 09:19] eugene-manuilov commented on #5256
IB ✔️

[2022-05-25 09:20] techanvil commented on #5255
Hey @kuasha420, the code looks good here but I am unable to follow the **Steps to reproduce** to see it in action.

I've created a 2nd admin, ticked the Shared Roles: Administrator box on the new Sharing plugin, dismissed `shared_dashboard_splash` in the JS console, I see the **Skip sign-in and view limited dashboard** link but I can't get to the shared dashboard, it keeps bouncing me back to the

[2022-05-25 09:39] hussain-t commented on #4822
As this ticket is blocking #5221, @eugene-manuilov and I discussed adding the `trackEvent` call in the `DashboardSharingSettings` component from #5221 to this ticket. Hence I'm removing #5221 from blocking.

Within file `assets/js/components/dashboard-sharing/DashboardSharingSettings.js`:

- Add a call to `trackEvent` to the management permission dropdown change handler.
  - Event name:
    - When

[2022-05-25 10:34] eugene-manuilov commented on #5229
IB ✔️

[2022-05-25 11:06] jamesozzie opened #5264 "Improve the error output for "Insufficient Permissions" notice when the same WP admin is referenced as the WP Admin to contact"
## Bug Description

At present it’s possible to encounter an “Insufficient permissions” notice if the same WP administrator disconnects their Google account and then reconnects, but uses a different Google account.

While the permissions error is normal and expected, the additional context in this scenario references the same WP administrator as the logged in WP administrator, suggesting they cont

[2022-05-25 11:12] jamesozzie commented on #5264
@aaemnnosttv Adding you here for visibility.

[2022-05-25 11:13] techanvil commented on #5255
Update on the above: I have been able to view the shared dashboard, by following the steps here - notably changing a user's role while logged in. https://github.com/google/site-kit-wp/issues/4813#issuecomment-1135037589

Assuming this is required to test the issue it would be worth mentioning this in the QA Brief. I'll add a note.

[2022-05-25 12:35] jamesozzie opened #5266 "Match the wording for Analytics permission errors on both the Analytics settings page and the dashboard, or improve the settings page wording"
## Bug Description

If a user encounters an Analytics permission error the error message displayed on the Analytics edit screen differs slightly between the dashboard and the Analytics edit page. Consider changing the settings page text to match the dashboard text, which is more suitable.

**Analytics Dashboard**
Your Google account does not have sufficient permissions to access Analytics data, so

[2022-05-25 12:49] techanvil commented on #5256
Hi @aaemnnosttv, I've spotted that when I test this out on the Dashboard I get a `400` error from the `check-access` endpoint with the error _"Module access cannot be checked."_, for the `pagespeed-insights` module. The `ModuleRecoveryAlert` is then stuck in the loading state (see screenshot below). It should be easy to replicate if you just check out the branch, enable `dashboardSharing` and hit

[2022-05-25 13:34] jamesozzie opened #5267 "Include the "Source - Analytics" follow through link on all Analytics widgets, including when users run into permissions errors."
## Feature Description

When users encounter the "Insufficient permissions in Analytics" notice within the Site Kit dashboards they presented with a notice to contact the admin who set up the service. In some cases they may not know the admin, and the admin may not be mentioned.

To allow users to request access, as opposed to contacting the admin who set up the service, include the Analytics link

[2022-05-25 14:10] wpdarren commented on #4981
### QA Update: ✅

**Verified:**

- When trying to hover over the table notices in no data or gathering state the background colour no longer changes.
- Tested this on main and entity dashboard and also on WP Dashboard on the Site Kit widget.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/170282512-31e40c56-48f5-409d-8abb-610b3a076df0.png)
![

[2022-05-25 14:55] bethanylang commented on #4837
To close the loop here, @eugene-manuilov did not find anything obvious in the user-provided nginx config file, so we've let them know that this is likely a hosting issue but it will require deeper troubleshooting from a developer as it's not Site Kit-specific support.

Keeping this issue open for now for investigation of any future reports.

[2022-05-25 15:25] aaemnnosttv commented on #5254
LGTM for the most part! Regarding the added web font files, do we only need `woff` or do we need to include multiple formats for compatibility? Looks like `woff` covers all our browsers but `woff2` is more performant. I'm not sure we can use only `woff2` but maybe we can since we don't support IE anymore.

Also, @asvinb would you please add an estimate?

@felixarntz would you also give this a quic

[2022-05-25 16:55] asvinb commented on #5254
Good question @aaemnnosttv ! Initially I was planning to add both, `woff` and `woff2` with `woff` only for IE and then I saw we are [no longer supporting](https://github.com/google/site-kit-wp/issues/1475#issuecomment-827718821) IE11. From [caniuse.com](https://caniuse.com/?search=woff2), only `Opera Mini` is not supported. Not sure we are supporting this browser though.

[2022-05-25 17:12] aaemnnosttv commented on #5254
I don't think we are – Opera Mini doesn't support `woff` either (maybe that's what you meant though). It actually seems React [doesn't support Opera Mini at all](https://create-react-app.dev/docs/supported-browsers-features/) which may be due to the browsers [restrictions around JavaScript](https://en.wikipedia.org/wiki/Opera_Mini). TL;DR we can't support a browser that React doesn't 😄

[2022-05-25 17:29] techanvil opened #5269 "Create GA4 Activation Banner feature flag"
## Feature Description

Create a feature flag for the GA4 Activation Banner feature.

---

## Acceptance criteria

- A new feature flag, `ga4ActivationBanner`, is created and can be toggled via the Tester plugin.

## Implementation Brief

* Add `ga4ActivationBanner` to the `feature-flags.json` file.

### Test Coverage

* N/A

## QA Brief

- Ensure the `ga4ActivationBanner` feature flag is availabl

[2022-05-25 17:32] techanvil opened #5270 "Scaffold GA4 Activation Banner "happy path" UI"
## Feature Description

Create stubs for the Controller Component and each of the top-level presentational components:

- Reminder Component.
- Setup Component.
- Success Component.

Prepare the basic local state and logic for stepping through these components, i.e. press the Reminder Component CTA to show the Setup Component, and the Setup Component CTA to show the Success Component.

Use a regul

[2022-05-25 17:34] techanvil opened #5271 "Create Button with Spinner component"
## Feature Description

Implement the Button with Spinner component.

The Button with Spinner component will look like a regular button, but with an activity spinner embedded within it.

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#heading=h.vpcddsd4qdav
- Figma: https://www.figma.com/file/vMaCWwr6lpk4PrJWb7jIpz/GA4-Banner-Input?node-id=1082%3A

[2022-05-25 17:36] techanvil opened #5272 "Implement the logic for showing, postponing and dismissing the GA4 Activation Banner"
## Feature Description

Implement the necessary logic to ensure the banner is shown when the following criteria are met:

- While the Analytics module is setup with a UA property but no GA4 property:
  - Once a month until June 2023 ("initial notice" variant).
  - Once every other day during the month of June 2023 ("last month" variant).
  - Once every other day post-June 2023 ("post-cutoff" varia

[2022-05-25 17:38] techanvil opened #5273 "Implement the Reminder Component design"
## Feature Description

Implement the design for the Reminder Component in its three variants:

- Initial notice (displayed once a month until June 2023).
- Last month (displayed once every other day during the month of June 2023).
- Post-cutoff (displayed once every other day post-June 2023).

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#headi

[2022-05-25 17:39] aaemnnosttv commented on #5256
Thanks @techanvil – you're right, there is a bit of a problem there.

The problem here is that PSI is intended to be recoverable, but does not have a service entity (i.e. an "owned" entity on its service, e.g. Analytics property).

The lack of a `Module_With_Service_Entity` interface what makes a shareable module a "shared ownership module" because there's nothing to share except the ownership its

[2022-05-25 17:39] techanvil opened #5274 "Implement the Success Component design"
## Feature Description

Implement the design for the Success Component - this is essentially just a message with a "Learn more" link.

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#heading=h.3ufiycwdh8xj
- Figma: https://www.figma.com/file/vMaCWwr6lpk4PrJWb7jIpz/GA4-Banner-Input?node-id=1082%3A1553

---

## Acceptance criteria

- The placeholder

[2022-05-25 17:41] techanvil opened #5275 "Scaffold the Setup Component variants"
## Feature Description

Prepare the Setup Component variants based on the presence of an existing GA4 property in the user's Analytics account ("existing GA4 property") and/or existing manually inserted tag on the page ("existing tag").

- No existing GA4 property, no existing tag.
  - CTA button: **Create property**.
- Existing GA4 property, no existing tag.
  - CTA button: **Connect**.
- Existin

[2022-05-25 17:42] techanvil opened #5276 "Add the dropdown and toggle controls to "existing GA4 property" setup variants"
## Feature Description

Add the dropdown and toggle controls to the following Setup Component variants:

- Existing GA4 property, no existing tag.
- Existing GA4 property, existing tag.

From the Design Doc:

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#heading=h.2g0r7ejoqctz
- Figma: https://www.figma.com/file/vMaCWwr6lpk4PrJWb7jIpz/GA4-Banner

[2022-05-25 17:43] techanvil opened #5277 "Hook up the Setup Component CTA to create/connect the property and measurement ID"
## Feature Description

Call the GA4 [`submitChanges`](https://github.com/google/site-kit-wp/blob/d4c039aa45802fc581c18f0a654814b2e82a80d4/assets/js/modules/analytics-4/datastore/settings.js#L55) function when the Setup Component CTA is clicked. This function will create the property and/or measurement ID and connect them.

For the "no existing GA4 property" variants, i.e when the CTA is **Create

[2022-05-25 17:44] techanvil opened #5278 "Redirect to OAuth flow from the Setup Component to provide the edit scope when needed"
## Feature Description

The Analytics _edit_ scope is required in order to set up a property and measurement ID. When displaying the Setup Component in one of the "no existing GA4 property" variants, check if the user has the _edit_ scope. An example of checking for the _edit_ scope can be found in the Analytics `SetupForm` component. If the _edit_ scope is not present then the following should ha

[2022-05-25 17:45] techanvil opened #5279 "Create the Acknowledgement Component"
## Feature Description

Create the Acknowledgement Component. This will take the form of a tooltip, with the following text:

Title: _You can connect Google Analytics 4 later here_
Description: _You can configure the Google Analytics 4 property inside the Site Kit Settings later._

This component will take a prop for the button text.

Display the Acknowledgement Component when postponing the GA4 A

[2022-05-25 17:46] techanvil opened #5280 "Update the Reminder Component "last month" variant to show X days until cutoff (Phase 2)"
## Feature Description

Update the message in the Reminder Component for the "last month" variant that is shown during June 2023. Change the title from the static text to one that shows how many days are remaining until the cutoff (i.e. until July).

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#heading=h.xrx25wuh8i3c
- Figma: https://www.figma.

[2022-05-25 17:47] techanvil opened #5281 "Rewrite the Acknowledgement Component as a blue call out (Phase 2)"
## Feature Description

Rewrite the Acknowledgement Component as a blue call out, which can be implemented using `react-joyride` - see the `TourTooltips` component for an example. The tooltip should point to the Settings menu item.

_TODO: Investigate using `TourTooltips` directly._

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit#heading=h.754ql4

[2022-05-25 17:47] techanvil opened #5282 "Auto-submit the Setup Component form having returned from the OAuth flow"
## Feature Description

Making use of the state persistence implemented in #5278, ensure the create/connect property execution is automatically continued when returning from the OAuth flow.

An example of this can be seen in the usage of the `autoSubmit` value in the Analytics `SetupForm` component.

- Design Doc: https://docs.google.com/document/d/1DeWo38lcV7lvLFfcmt-mQ0iaxzB4qfiPArs_yZzYkIM/edit

[2022-05-25 21:30] aaemnnosttv commented on #4864
@techanvil assigning this one to you to write the initial ACs for. Let's focus keeping the initial issue here for the foundation and then we can open follow-up issues as chores to update other key parts of the codebase, but the main goal of this issue should be to at least enable using Immer for _new reducers_ going forward 👍

[2022-05-25 21:36] aaemnnosttv commented on #4997
@felixarntz with the updates coming to documentation/support URLs, is that all we're waiting for here?

[2022-05-25 21:39] aaemnnosttv commented on #4895
@techanvil would you please add ACs for this one when you get a moment? I think the approach we discussed above would be a great place to start 👍

[2022-05-26 06:56] nfmohit opened #5284 "Missing padding around data blocks"
## Bug Description

On all iPads (seems fine on mobile phones) there isn't any padding around the `Unique visitors from search` title when you click on it to get the graph data, see screenshot below. The title is tight up to the border.

## Steps to reproduce

1. Go to Google Site Kit Dashboard.
2. Make sure the Google Analytics module is set up or set it up.
3. View the screen in an iPad viewport

[2022-05-26 08:48] FlicHollis commented on #4619
Hi @tofumatt just checking you are still planning on working on this IB? If not feel free to unassign yourself.

[2022-05-26 08:51] FlicHollis commented on #5148
Hi @techanvil and @aaemnnosttv just checking if this is still blocked and that @techanvil is still planning on working on this?

[2022-05-26 08:53] FlicHollis commented on #4103
Hi @felixarntz @aaemnnosttv @techanvil are you happy to unblock now that we have launched ETS?

[2022-05-26 08:54] FlicHollis commented on #4487
Hi @asvinb are you still planning on working on this? If not, please unassign yourself so someone else can pick this up - thanks!

[2022-05-26 08:55] FlicHollis commented on #4775
Hi @techanvil are you still planning on working on this? If not, please unassign yourself so someone else can pick up - thanks!

[2022-05-26 08:56] FlicHollis commented on #4776
Hey @jimmymadon are you still planning on working on this? If not, please unassign yourself so someone else can pick this up - thanks!

[2022-05-26 08:59] techanvil commented on #4775
Thanks for calling this out @FlicHollis, I've removed my assignment :+1:

[2022-05-26 08:59] FlicHollis commented on #5071
Hey @tofumatt just following up on this one as this looks like one that's nearly ready + it will unblock / inform 5072 + 5074.

[2022-05-26 09:36] techanvil commented on #4103
@FlicHollis this can be unblocked, we'll need to revisit it to check if it's still occurring, and ensure the AC and IB are up-to-date if so.

[2022-05-26 09:43] techanvil commented on #5148
@FlicHollis this one is still blocked, pending the execution of 5047. I was still planning on working on the IB, as I did the IB for 5047 and the process will be something of a continuation, but someone else could do it too.

[2022-05-26 09:45] jimmymadon commented on #4525
@aaemnnosttv and I identified that it would be better to make the changes to the `VIEW_SHARED_DASHBOARD` capability in #5188 before executing this issue which relies on this capability. #5188 tackles some the ACs of this issue as well - so the effort remaining on this issue would be 3-7 after 5188 is merged.

[2022-05-26 10:01] jimmymadon commented on #4776
I won't be able to pick this up this week - so will un-assign myself for now. I was not able to get very far on this issue.

[2022-05-26 10:29] wpdarren commented on #5219
### QA Update: ⚠️

@eugene-manuilov I have a few observations on this:

For the secondary admin user account:

1. I do see the link (see screenshot) but when I click it, the dashboard refreshes, but I do not see the view only mode UI in the header. It just refreshes the page and nothing seems to be different.  Is this expected?

![image](https://user-images.githubusercontent.com/73545194/170408619

[2022-05-26 11:02] wpdarren commented on #5220
QA Update: ⚠️

@eugene-manuilov I have a few questions:

1. I do not see a "Share" button.  Does this appear under a specific scenario? I do not see it when in view only for an editor, and I am unable to see the view only dashboard for a secondary admin because when I click on the `Skip sign-in and view limited dashboard` link on the splash screen, it just refreshes the page and no view only butto

[2022-05-26 11:10] wpdarren commented on #4821
QA Update: ⚠️

@aaemnnosttv this QAB is asking us to check the Storybook but at this point in the engineering we should be checking the functioning on our test site. Do we know what ticket is blocking being able to test this properly?  This is a big piece of functionality and has a lot of testing to go through from the AC.

[2022-05-26 12:49] techanvil commented on #5256
Thanks @aaemnnosttv, that makes sense to me, I have gone ahead with the change as suggested.

Having resolved this issue I spotted another one - when pressing the **Recover** button, the call to `recover-module` is made successfully, but the banner stays visible, showing the CTA, even though the module(s) are recovered.

![image](https://user-images.githubusercontent.com/18395600/170489459-0aae998

[2022-05-26 14:07] aaemnnosttv commented on #4821
@wpdarren this issue is defined as just building the component so there is nowhere else to QA it other than Storybook yet. This will be further QAable when it is integrated with the sharing settings component in https://github.com/google/site-kit-wp/issues/4822.

[2022-05-26 14:14] eugene-manuilov commented on #5220
@wpdarren looks like we need to wait until #5188 is merged to be able to QA this properly. I am going to assign this to you for now. Please, check it again when that ticket is ready and assign it back to me if this one still doesn't work for you.

[2022-05-26 14:19] glagonikas commented on #5110
As a minimun, those deprecation notices should be fixed before PHP 8 goes to "security fixes only" (https://www.php.net/supported-versions.php), which is due to happen in November 2022, so about 5 months from now.

Websites should aim to be on the latest version of PHP that's actively supported, but bugs like those prevent many store owners from upgrading.

It would be good if you could make this

[2022-05-26 15:50] aaemnnosttv commented on #5256
Hey @techanvil, thanks for raising this, your proposal sounds good to me as a solution for now 👍  Would you please open a follow-up issue to refresh the recoverable modules from the server as a future enhancement?

[2022-05-26 16:14] techanvil opened #5287 "Refresh list of recoverable modules from the server after recovering a module."
## Feature Description

The `recoverModules` action currently updates the list of recoverable modules by directly removing the recovered modules from local state.

This should be changed so the recovered modules list is refreshed from the server instead, in keeping with the rest of `recoverModules`, where the recovered module settings and the list of modules are both refreshed from the server afte

[2022-05-26 16:17] techanvil commented on #5256
Thanks @aaemnnosttv! I've created the followup issue https://github.com/google/site-kit-wp/issues/5287.

[2022-05-26 17:37] aaemnnosttv commented on #5287
@techanvil I'm thinking perhaps we rethink this slightly to avoid the need for another endpoint which returns a reduced set of the modules list.

How about instead, we add a `recoverable` property to each module returned by the `modules/list` endpoint, [similar to how we have `shareable`](https://github.com/google/site-kit-wp/blob/d034124e36be3356f7f89bb24b1bf470380b04bf/includes/Core/Modules/Modu

[2022-05-26 18:10] eugene-manuilov commented on #5236
IB ✔️

[2022-05-26 19:42] felixarntz commented on #5254
@asvinb Some feedback on the IB:

The ACs state _not_ to change the button colors, so this contradicts it as far as I can tell. I would agree with the ACs that we should not change the button colors as the extra tweaks for all the different button variants would make that a relatively large maintenance burden.

Oh wow. We really had this "invalid" Google Fonts request in our code for all this time

[2022-05-27 08:52] wpdarren commented on #5256
### QA Update: ❌

@techanvil Great QAB, thank you!  This does pass the QAB but have two observations:

1. The content layout seems off.  As you can see in the screenshot below, the first paragraph seems to be split into two columns, where as the second paragraph is one column.  At least thats what I can see when I inspect the CSS.

![image](https://user-images.githubusercontent.com/73545194/170661

[2022-05-27 09:13] wpdarren commented on #5243
### QA Update: ✅

**Verified:**

- The "Excluded from Analytics" section always says "All logged-in users" only.
- The statements in this section do not have a trailing full stop.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/170669676-a40847ea-53ea-4209-8df0-956b87553198.png)
![image](https://user-images.githubusercontent.com/73545194/1706

[2022-05-27 10:41] asvinb commented on #5254
@felixarntz
For the buttons I initially wrote the AC where I mentioned that we won't style it, only to talk to Victor and find out that we'll want to include buttons style updates as well. The most noticeable changes would be:

- change background color
- change font size
- change border-radius

I agree, changing the buttons will take quite a bit of time but I think it should be doable, but curiou

[2022-05-27 12:04] wpdarren commented on #4823
### QA Update: ❌

@kuasha420 I have two observations.

1. I ran through having multiple modules, but rather than having  both modules checkboxes enabled, I only enabled one module (Idea hub) and clicked on the recover button. All was fine, the dashboard reloaded and the single module message appeared as expected (for PSI).  When I clicked on the recover button though, nothing happened, other than

[2022-05-27 13:38] felixarntz commented on #5254
@asvinb

To get this started, I'd say let's keep the changes rather simple, so could you remove the button color changes part from the IB? We will review the eventual PR extensively with the UX team before it can be merged, so we can always add such changes later if they are really needed after the review.

I've added a note on the PR special case above your IB to clarify that.

Sounds good.

but

[2022-05-27 14:26] techanvil commented on #4864
Thanks @aaemnnosttv - I've added the AC, assigning back to you for a review.

[2022-05-27 15:16] #5189 closed

[2022-05-27 15:38] felixarntz commented on #5256
### QA ❌

While testing the latest state of dashboard sharing, I noticed that the `ModuleRecoveryAlert` is currently being loaded on the splash screen in addition to the dashboard. It is not needed there, and it furthermore triggers a console error due to being loaded there since the necessary dashboard sharing data is (correctly) not being loaded on the splash screen.

I'll create a separate foll

[2022-05-27 16:42] techanvil commented on #5256
Nice one @felixarntz, I have merged your PR - good spot there!

[2022-05-27 16:45] techanvil commented on #5256
Just https://github.com/google/site-kit-wp/pull/5291 to go, I've addressed your comment on that one @aaemnnosttv.

[2022-05-27 20:01] aaemnnosttv commented on #4525
In light of a new approach identified in #5188, this issue will likely be closed, but assigning to myself for now to avoid this being actioned unnecessarily.

[2022-05-27 20:13] aaemnnosttv commented on #5287
Yes, I thought about this as well. We should only reload all the modules once all the module recovery requests are done. It probably makes sense to update the request to allow recovering multiple modules at once too in that case, what do you think?

[2022-05-27 20:16] aaemnnosttv commented on #5256
Thanks @techanvil – back to you @wpdarren for another pass 👍

[2022-05-27 20:27] felixarntz opened #5295 "Avoid showing administration-related banner notifications in view-only dashboard"
## Bug Description

The view-only dashboard is currently showing banner notifications related to administration, which should not be shown in such a case of course, since the user can't act on them. See the below screenshot which shows the Idea Hub CTA banner notification to a `contributor` user.

<img width="1549" alt="Screen Shot 2022-05-27 at 4 26 19 PM" src="https://user-images.githubuserconte

[2022-05-27 20:30] felixarntz commented on #5295
cc @aaemnnosttv @wpdarren for awareness

[2022-05-27 20:46] felixarntz commented on #5188
@jimmymadon After a long review & exploration session with @aaemnnosttv, we are thinking that the cleanest solution is combining the `googlesitekit-dashboard` and `googlesitekit-splash` screens into a single screen **on the PHP side only**. We can do that in a way that the JS side is barely affected, by simply rendering the same target div and enqueuing the same JS entry point file from the server

[2022-05-27 21:40] felixarntz opened #5296 "Ensure Search Funnel is available to users with only Search Console access"
Follow-up to #4849, #4813, and #5161: When reviewing and testing the dashboard sharing feature today, I noticed that when sharing only the Search Console module, the dashboard provides a rather underwhelming experience:

(ignore the banner in this screenshot, but see how it only shows the keywords widget)
<img width="1549" alt="Screen Shot 2022-05-27 at 4 26 19 PM" src="https://user-images.githubu

[2022-05-28 07:45] kuasha420 opened #5298 "Allow `recover-module` endpoint to recover multiple modules at once."
## Feature Description

In #4823 a few issues have come up that encourages multiple or `batched` module recovery operation. This is also a common case that should be handled in the API level so we do not need to make multiple requests to the endpoint to recover more than one module.

#5297 introduces a `barbaric` way to recover multiple modules. It still makes multiple API calls, obviously, but it

[2022-05-28 07:50] kuasha420 commented on #5287
@aaemnnosttv I also felt the same way about being able to recover multiple modules in API level while working on the follow up PR for #4823 and created an issue for Triage #5298. Cheers. cc @techanvil

[2022-05-28 14:17] aaemnnosttv opened #5299 "Unblock access to shared dashboard"
## Bug Description

Currently it's not possible to access the shared dashboard without extra workarounds. This is largely what #5188 is designed to fix but in a different way which requires more substantial changes.

This issue is about fixing the immediate problem with a smaller footprint to unblock other issues and QA.

There are a number of minor bugs related to permissions for non-admins and a

[2022-05-29 00:06] aaemnnosttv commented on #5188
@felixarntz after thinking about this some more, I think there is an opportunity to fix things as they are with much less effort than the approach to merge the splash and dashboard screens. To be clear, I still think this is worth doing, but I feel it is too substantial a change to introduce at this point in the cycle for DS.

I opened a new issue #5299 as an alternative to #5188 (for now) which s

[2022-05-29 14:48] FlicHollis commented on #5148
That makes sense - thanks @techanvil

[2022-05-29 22:18] aaemnnosttv commented on #5295
IB ✅

[2022-05-30 03:40] aaemnnosttv commented on #4525
With the addition of #5299 as an immediate solution to the problem 5188 aims to fix, this issue is relevant again and should be actionable as defined.

[2022-05-30 08:16] wpdarren commented on #5256
### QA Update:

**Verified:**

- The content layout issue reported [above](https://github.com/google/site-kit-wp/issues/5256#issuecomment-1139417043) has been fixed.
- The Learn more URL is now pointing to `https://sitekit.withgoogle.com/documentation/using-site-kit/dashboard-sharing/`

![image](https://user-images.githubusercontent.com/73545194/170948545-d491fbea-581c-47ed-bb73-cf5de20afe6b.png)

[2022-05-30 08:47] wpdarren commented on #4795
### QA Update: ⚠️

@hussain-t  Sorry, only just had a chance to look at this ticket again.

The selectors are part of the `QA:Eng` section of the QAB. I can run through and run the code from the console but I have no idea if the results I see are correct or not.   My query was really on the QA section, where it is just says a `high-level smoke test` but doesn't really say what in particular I shou

[2022-05-30 09:05] wpdarren commented on #4791
### QA Update: ✅

**Verified:**

_With `dashboardSharing` feature flag enabled:_

- When I run `googlesitekit.data.select('core/modules').getSharedOwnershipModules()` in the console, it returns the expected modules. PSI and Idea Hub

_With `dashboardSharing` disabled:_

- When I run `googlesitekit.data.select('core/modules').getSharedOwnershipModules()` it returns undefined and the console error `

[2022-05-30 10:20] wpdarren commented on #3160
### QA Update: ❌

@tofumatt I have a few issues, detailed below:

1.  The title `Error Connecting Site Kit` has a period at the end.

![image](https://user-images.githubusercontent.com/73545194/170969152-4b584b8f-faf0-4d56-93fe-63409954a5f7.png)

2. When setting up Idea Hub.  Click the CTA button (or link in settings) to set the feature up, and then do not give permission (or cancel) and you are r

[2022-05-30 12:45] techanvil commented on #5287
Thanks @aaemnnosttv & @kuasha420. I've updated this issue to specify using a `recoverable` flag to determine the list of recoverable modules. Thanks to Arafat's work in #4823 and the work specced in #5298, no additional work should need to be done for this issue.

Note, I have also added ACs for #5298.

[2022-05-30 12:49] tofumatt commented on #5299
IB ✅

[2022-05-30 14:11] wpdarren commented on #5299
### QA Update:  ✅

**Verified:**

- With dashboard sharing disabled the main and entity dashboard loads and works as expected.
- With dashboard sharing enabled an unauthenticated admin and non-admin (editor) can reach the shared dashboard through the splash page when a module is shared with their role.
- Tested this with a site that has gathering, zero and live data. No issues with the main and en

[2022-05-30 14:34] wpdarren commented on #5220
### QA Update: ⚠️

@eugene-manuilov just one observation. When I click on the 'Sharing settings' icon in the header bar, all of the AC passes other than `Event label: either simple (if the site has only one administrator) or advanced (if the site has more than one administrator)` is not getting triggered.  Could this because we still have 4822 in Execution?

**Verified:**

- A new GA event is fire

[2022-05-30 15:01] wpdarren commented on #5219
### QA Update: ✅

**Verified:**

_When logged in as another admin:_

- When I click on the link to skip the setup flow and go to the view only dashboard, the GA event is sent as per the AC.

_When logged in as an editor:_

- When I click on the button to see the view only dashboard, the GA event is sent as per the AC.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubu

[2022-05-30 15:19] FlicHollis commented on #5188
Thanks @aaemnnosttv based on your comment above do we want to change the status of this to a P1?
cc @eclarke1

[2022-05-30 23:48] tofumatt commented on #3160
Good catch on the header, I've filed a follow-up PR for that #5303. 👍🏻

It seems like that reauth bug for specific modules is long-standing and not actually caused by this issue. Here's me running through the same flow you mentioned in 1.75:

https://user-images.githubusercontent.com/90871/171068720-66ee398d-d727-4ff4-86c1-fcb6b298e97c.mp4

No doubt a problem, but I think one worth filing a separa

[2022-05-31 00:00] aaemnnosttv commented on #5295
@techanvil would you please add a QA brief?

[2022-05-31 02:02] jimmymadon commented on #4825
@aaemnnosttv Have replied to your comment in a new [PR here](https://github.com/google/site-kit-wp/pull/5301#issuecomment-1141588923). Hope this is more or less what you were meaning to achieve.

[2022-05-31 05:24] felixarntz commented on #5188
@aaemnnosttv Going with #5299 for now works for me (though I left one question on the already merged #5300).

I don't feel that this is a too massive change though, most changes in the PR are changed URLs. The main caveat is that this will require a lot of testing, which from my perspective would maybe actually justify doing it _before_ `dashboardSharing` launch, giving us the additional time to t

[2022-05-31 07:01] asvinb commented on #5254
Sounds good @felixarntz . IB has been updated, can you check again?

[2022-05-31 08:09] FlicHollis commented on #5188
Hi @felixarntz and @aaemnnosttv I have updated this ticket to be a P1 as per Evan's update on Slack.
Noted on your point above Felix and if we will get this in as the next priorities after the P0s

[2022-05-31 09:27] eugene-manuilov commented on #5220
Good catch, @wpdarren. No, the event label should be added in this ticket and not depend on 4822. I have created a follow-up PR that adds the label #5304. Once it is reviewed and merged, this issue should be fixed.

[2022-05-31 09:54] wpdarren commented on #5295
### QA Update: ⚠️

@techanvil the QAB suggests that only `zero-data state notifications` display when using view only dashboard.  I do see the gathering state notifications though, which in my opinion, would make sense to keep being displayed.  Just checking though.  I tested this with an editor and admin role.

![image](https://user-images.githubusercontent.com/73545194/171146815-047ee1bb-96f1-45

[2022-05-31 10:04] techanvil commented on #5295
Hi @wpdarren, thanks for pointing this out - in hindsight the issue could have been a bit clearer. Gathering data notifications are also relevant to non-admin users and are included in the `ZeroDataStateNotifications` component mentioned in the AC. So, they should still continue to be seen.

[2022-05-31 11:19] wpdarren commented on #4532
### QA Update: ⚠️

@aaemnnosttv I have a few observations when viewing data on the view only dashboard.  The PSI still has an error message `Error: Site Kit can’t access the relevant data from PageSpeed Insights because you haven’t granted all permissions requested during setup.`. I suspect that this is because of another ticket in Execution/CR.

Also there are a number of console errors appearing

[2022-05-31 12:53] wpdarren commented on #5220
### QA Update: ✅

**Verified:**

- A new GA event is fired when when I click on the "Share" button in the Site Kit header bar, as per the AC.
- A new GA event is fired when I opt in to tracking from within the Site Kit header bar's view only menu, as per the AC.
- A new GA event is fired when I click on the "Learn more" link in the Site Kit header bar's view only menu, as per the AC.
- A new GA ev

[2022-05-31 13:35] aaemnnosttv commented on #4825
Thanks @jimmymadon – the new PR is looking good! I left a few comments on there but nothing too much.

I think it makes sense to show them separately, although this raises an important question because currently the two modules check their access separately. This highlights how these are two separate modules internally which can have different owners, but are represented as one in the user's exper

[2022-05-31 14:15] eugene-manuilov commented on #5234
IB ✔️

[2022-05-31 19:59] aaemnnosttv opened #5305 "Shared dashboard triggers errors due to non-viewable widgets rendering"
## Bug Description

The view-only dashboard limits the widgets it renders based on the viewable modules a user has access to. Due to a logic flaw, it currently renders all widgets initially if `viewableModules` have not resolved yet.

## Steps to reproduce

- Setup dashboard sharing with a non-admin, sharing only `pagespeed-insights`
- Load the shared dashboard as the non-admin
- See errors in con

[2022-05-31 20:08] aaemnnosttv opened #5307 "Owner ID not set for shared ownership modules when saving sharing settings"
## Bug Description

In https://github.com/google/site-kit-wp/issues/4620 we added functionality for shared ownership modules to have their owner ID set to the current user's ID when their sharing settings change (similar to the way changes to module settings update the owner ID).

This does not seem to be happening anymore.

## Steps to reproduce

1. On a fresh site, set up dashboard sharing, shar

[2022-05-31 20:32] tofumatt commented on #5305
IB ✅

[2022-06-01 07:16] wpdarren commented on #5305
### QA Update:  ✅

**Verified:**

- When I am using a site that hasn't the latest develop branch, I do see an error message Google `Site Kit API Error method:GET datapoint:settings type:modules identifier:search-console error:"Sorry, you are not allowed to do that." googlesitekit-api-89b80b549e92ff4a79a6.js:3 ` but when I refresh the site with the latest develop branch, this error no longer appear

[2022-06-01 08:16] wpdarren commented on #4532
### QA Update: ⚠️

@aaemnnosttv The data does load as expected for the non-admin user (editor) and I can see all of the data that I would expect, but the I wanted to expand on the error messages I am seeing in the console. I am unsure if these errors are related to this ticket or not, so cannot approve it right now.

1. `Google Site Kit API Error method:GET datapoint:settings type:modules identifi

[2022-06-01 09:07] techanvil commented on #4795
Hi @wpdarren, as these selectors are all new and unused, there's no particular area to focus on. Just a very simple sanity check of a smoke test to load the Dashboard should suffice, maybe in view-only mode and open the sharing controls considering the subject matter, but the code changes basically don't touch anything "live" so that should be more than enough detail.

[2022-06-01 09:30] jamesozzie opened #5308 "Include a "request access" link to Analytics when a user encounters an "Insufficient Permissions" notice"
## Bug Description

When a wp-admin sets up Site Kit and they don't have access to the already connected Analytics property, which was connect by another wp-admin, they encounter an insufficient permissions notice. Consider adding a link to that specific Google Analytics property page, so users can "request access". That way they don't need to specifically know the wp-admin in question, as the wp-

[2022-06-01 09:34] jamesozzie commented on #5308
Tagging both @aaemnnosttv and @bethanylang here for visibility.

[2022-06-01 11:36] wpdarren commented on #4795
### QA Update: ✅

**Verified:**

- Went through the main and entity dashboard with `dashboardSharing` feature flag enabled and disabled.
- Went through the main and entity dashboard as a non admin user in view only mode.
- We are waiting for 4822 to be merged so unable to test the sharing controls at this point. We will be doing this testing when QA-ing the ticket mentioned above.

Labelled this `

[2022-06-01 11:41] aaemnnosttv commented on #4532
@wpdarren that issue is specific to shared ownership modules (i.e. PSI, IH), it shouldn't be a problem with other modules. This is likely related to #5305 though as the settings datapoint is not shareable. This may also be related to a different known issue around source links.

`adsenseLinked` is an Analytics setting related to AdSense. Is Analytics also active and connected?

This may be partial

[2022-06-01 11:53] wpdarren commented on #4532
### QA Update: ✅

Note: the errors in console highlighted above, will be fixed in 5305 and another ticket. They are not directly impacted by this ticket so have moved this to approved.

**Verified:**

- To test this I set up all of the modules where data is loaded on the main and entity dashboard. This was tested with dashboardSharing feature flag disabled. No issues occurred with the data. Everyt

[2022-06-01 14:22] wpdarren commented on #4822
### QA Update: ⚠️

@tofumatt @techanvil  I haven't started to QA this yet, but while creating my test plan I came across a console error when clicking on the 'Add roles' link for any of the modules.

`Uncaught TypeError: Invalid attempt to spread non-iterable instance. In order to be iterable, non-array objects must have a [Symbol.iterator]() method.`

![image](https://user-images.githubuserconten

[2022-06-01 14:44] tofumatt commented on #4822
That was part of the QA Brief: to check storybook stories. For what it's worth I've looked through those already and they look good.

In terms of actual functionality, yeah, testing all aspects of Dashboard Sharing for this one—verifying that the changes made in the sharing settings are made for users—would be good. 👍🏻

----

In terms of the JS error, I'm taking a look now, I missed that one. 😓  I

[2022-06-01 15:46] tofumatt commented on #4822
@wpdarren Can you walk me through the steps you took to get that JS error? I wasn't able to recreate it in development.

[2022-06-01 16:25] aaemnnosttv opened #5310 "Requests for settings fail for view-only users on dashboard"
## Bug Description

In #4815, we added conditional logic to prevent source links for widgets from displaying because we don't know if the user will be able to follow the deep link or not due to their lack of Google authentication. This issue addressed the visual aspect of the problem but there is now a residual technical problem related to the selectors used to generate the deep link.

The `Source

[2022-06-01 16:29] aaemnnosttv commented on #5307
IB ✅

[2022-06-01 17:02] eugene-manuilov commented on #5260
Thanks, @techanvil. IB mostly looks good to me. The only comment I have is about this auto update mechanics. It looks okay to me but how about we add an ability to let users to jump to a certain stage by clicking on the slide content? It will make user experience slightly better if they want to manually switch stages. What do you think? If you agree, then could you please add it to your IB?

[2022-06-01 17:03] techanvil commented on #4795
## QA :white_check_mark:

`QA:Eng`:

- Exercised the new selectors in the JS console:
![image](https://user-images.githubusercontent.com/18395600/171460464-e71dca77-28d8-4d54-bc52-fb3cc777c87a.png)

[2022-06-01 17:12] techanvil commented on #5260
Hi @eugene-manuilov, thanks for the suggestion - it's a good one but I believe this is something that may be introduced subsequently to this issue, as @aaemnnosttv mentioned this point, and the possibility of adding it later, when we were discussing the issue earlier.

[2022-06-01 17:17] eugene-manuilov commented on #5260
Ok, good, then IB ✔️

[2022-06-01 22:58] tofumatt commented on #4822
Nevermind, I just noticed the error only happens when no sharing settings are set and the sharing button is clicked. I have a PR ready for this 🙂

[2022-06-02 12:22] wpdarren commented on #5221
### QA Update: ⚠️

@eugene-manuilov an observation when I click on the 'Apply' button in the dashboard sharing settings.  I created a screencast but in short, I see GA events triggered that I wasn't expecting. Please could you confirm if this is expected?

https://user-images.githubusercontent.com/73545194/171628091-e87bf710-c1d7-4130-9e03-196cac7c5e01.mp4

[2022-06-02 14:52] wpdarren commented on #4821
### QA Update: ❌

@asvinb I have a number of observations listed below:

1. I select a role 'Editor' for Search console and Analytics. Click apply, and the Dashboard Sharing settings modal disappears. I click back on the icon and the two modules I added roles to, are blank, 'no rules'..  I also tested this with AdSense connected and the same issue occurs.  Only seems to be saving PSI and Idea Hub.

[2022-06-02 16:36] wpdarren commented on #4822
### QA Update: ❌

On top of the issues [reported above](https://github.com/google/site-kit-wp/issues/4822#issuecomment-1144970488) I have additional observations.

9. Extending from issue 1, reported above, this also occurs with the selection of `Who can manage view access` dropdown. In the example here, for Search Console, I select `'All Admin'` and click on the apply button. When I click back in

[2022-06-03 11:51] wpdarren commented on #4822
QA Update:

[2022-06-03 14:46] asvinb commented on #5254
Sounds good @felixarntz Over to you for a final review.

[2022-06-03 16:30] felixarntz commented on #5254
Thanks @asvinb! IB ✅

[2022-06-05 17:42] jimmymadon commented on #4794
## QA: Eng ✅

- Verified the new actions within the ACs using the recently edited QA brief.

Screenshots:

<details>
 <summary>setSharingManagement</summary>

<img width="1029" alt="Screenshot 2022-06-05 at 18 37 24" src="https://user-images.githubusercontent.com/1721319/172063134-bc26c9b4-521b-4656-b95c-d83407fb60b2.png">

<img width="1033" alt="Screenshot 2022-06-05 at 18 36 25" src="https://use

[2022-06-06 06:42] mohitwp commented on #5116
### QA Update ⚠️

@nfmohit I tried to reproduce this issue as per QAB on latest release. I'm not getting any `search_console_error ` event on latest as well as on develop branch. How can I get this event ? Let me know if I missed any step here.

![image](https://user-images.githubusercontent.com/94359491/172108968-7bb3ad9d-7319-4523-8e4e-a32322b2ed58.png)

![image](https://user-images.githubuserco

[2022-06-06 10:23] techanvil commented on #4825
Hey @jimmymadon, this is looking good but please can you write a QA Brief for the issue?

[2022-06-06 12:44] tofumatt commented on #5269
IB ✅

[2022-06-06 12:48] tofumatt commented on #4619
Hi @FlicHollis indeed, it's mostly waiting on the upstream fixes mentioned in https://github.com/google/site-kit-wp/issues/4619#issuecomment-1104094196. But I'm keeping myself assigned to write up the IB once that's ready.

[2022-06-06 12:55] tofumatt commented on #4619
Looks like [Puppeteer 14 includes a fix](https://github.com/garris/BackstopJS/commit/ee8c0ffcf2d13698fc6f6c4de6ed9b6af9d1c6cc). I'll test that and write up an IB soon if that works 🙂

[2022-06-06 13:12] kuasha420 opened #5318 "Add Error Handling to `ModuleRecoveryAlert` and show error message to the user."
## Feature Description

Currently, when one or more modules fails to recover for any reason, the backend spits out error(s) but we do not show it anywhere to the user and the failure happens silently. We should add the error message to the UI so user are not confused.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptanc

[2022-06-06 13:20] asvinb commented on #4822
@wpdarren Kindly find my comments pertaining to the points you raised:
* `2.` This is as per designs where no external icons is present. However for the sake of consistency, I think we should add it. There is a follow up PR for that.
* `4.` This has been implemented.
* `5.` I think there is some inconsistency in the Figma designs itself. If you look at this screen, https://www.figma.com/file/i04x8

[2022-06-06 13:28] asvinb commented on #4821
@wpdarren As per our conversation, let's consolidate all our QA findings in #4822 and close this one. Thanks!

[2022-06-06 16:26] hussain-t commented on #4822
@wpdarren, I have fixed `#3` and `#4` in this follow-up [PR](https://github.com/google/site-kit-wp/pull/5319). As for `#1` and `#9`, this is a backend issue that only the modules available in the `_googlesitekitDashboardSharingData.settings` are changeable.  @jimmymadon should be able to provide more context on this as he worked on the backed part of it.

[2022-06-07 05:20] hussain-t commented on #4822
@tofumatt, as per the AC, the shared ownership modules should have `All Admins` and be disabled:

@wpdarren understood this point later and updated his post:

Update: I just spotted this in the AC: Rows for https://github.com/google/site-kit-wp/issues/4791 are special in that these are manageable by all admins – their sharing management setting (not role select) should be disabled

So, `So, why sh

[2022-06-07 07:03] wpdarren commented on #4822
@hussain-t  @tofumatt re.

I am conscious that these are E2E blocking issues, and IMO, this ticket should not be moved to CR/MR and QA until they are fixed as they will need another PR.

[2022-06-07 08:46] asvinb opened #5320 "Remove URLSearchWidget"
## Bug Description
With the `unifiedDashboard` feature flag removed, the `URLSearchWidget` is no longer used. Most likely it was missed when the feature flag was removed.

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2022-06-07 10:02] hussain-t commented on #5144
### QA:Eng Verified ✅

- Verified calling the `check-access` endpoint with `JSON.stringify( { data: { slug: "optimize" } } )` fails with the `invalid_module` error.

![Screenshot 2022-06-07 at 2 58 56 PM](https://user-images.githubusercontent.com/24408261/172346794-1d0eadb4-ca00-47d8-a453-bef7c6f6172f.png)

- Verified the same endpoint with `JSON.stringify( { data: { slug: "tagmanager" } } )` in b

[2022-06-07 12:38] wpdarren commented on #5307
### QA Update: ✅

**Verified:**

- On a fresh site, set up dashboard sharing, sharing PageSpeed Insights, when I go to the shared dashboard as a non-admin user, no error appears within the dashboard.
- Checked main and entity shared dashboard.
- As a double check. On a fresh site, set up dashboard sharing, sharing PageSpeed Insights, when I go to the shared dashboard as an admin user, no error app

[2022-06-07 12:43] eugene-manuilov commented on #5117
@hussain-t could you please list all properties that are needed in the new tracking config and how to get them in PHP.

Why do we need to remove `assetsURL` and `webStoriesActive` properties from the base data object? What we need to remove from the base data is the `isSiteKitScreen` property.

Also I think we need to move `trackingID` and `trackingEnabled` properties to the new tracking data obje

[2022-06-07 15:17] techanvil commented on #5281
This is no longer needed, the call out can be implemented directly in Phase 1.

[2022-06-07 15:17] techanvil commented on #5281
This is no longer needed, the call out can be implemented directly in Phase 1.

[2022-06-07 15:17] #5281 closed

[2022-06-07 17:26] wpdarren commented on #4825
### QA Update: ⚠️

@jimmymadon an observation: if the current user does not have access to Analytics, the blue warning message appears twice in the settings. Once under the account and main property, then again under GA4.  Is that expected?  In addition there's a red text permission message too, I am assuming that is expected too? 🤔

![image](https://user-images.githubusercontent.com/73545194/1724

[2022-06-07 22:21] tofumatt commented on #4619
Updating BackstopJS and Puppeteer to their latest versions thus far hasn't fixed the issue…

Oddly it still tries to run BackstopJS 6.0.4 when using the `npm run test:visualtest` command 🤔

<img width="724" alt="CleanShot 2022-06-07 at 23 20 17" src="https://user-images.githubusercontent.com/90871/172492862-894a11e7-6dc7-4732-9f49-59ea5984a5ff.png">

[2022-06-07 22:34] jimmymadon commented on #4825
@wpdarren

This is what I asked Evan [here](https://github.com/google/site-kit-wp/issues/4825#issuecomment-1142145095) and for now we have decided to proceed with 2 notices if the current user does not have access to both, the UA and GA4 properties. Thinking about this now, I should've added testing by adding/removing access at the "Property" level instead of the "Account" level as defined in the

[2022-06-08 08:51] wpdarren commented on #5038
@mohitwp please could you have a look at this ticket since it is non-dashboard sharing. Read the QAB, and see if you can recreate the error message.

[2022-06-08 09:13] eclarke1 commented on #5318
Move this from Triage to AC as it will be a nice to have for Dashboard Sharing and don't want it to get lost in Triage

[2022-06-08 11:22] wpdarren commented on #4822
### QA Update: ✅

Can confirm that issue 1 and 9 are now fixed 🥳

![image](https://user-images.githubusercontent.com/73545194/172604231-7a97e739-6aae-4c66-96ad-19471060f608.png)

**Verified:**

- The design follows the relevant portions of the [Figma document](https://www.figma.com/file/i04x83uA9U8HHBANlhS7Db/Dashboard-Sharing?node-id=737%3A14290) for dashboard sharing.
- Tested on small screen si

[2022-06-08 11:37] mohitwp commented on #5038
@wpdarren I tried to replicate issue following the steps mentioned under QAB.
I'm also redirecting to 'No internet page' after clicking on 'Sign in with Google' button. Tried on both 'revoke site kit' and 'setup sitekit' splash screen. I'm not getting any error as per AC.

[2022-06-08 16:52] FlicHollis commented on #5188
Following on from a conversation on our stand up, we are pausing this ticket until after the launch of Dashboard Sharing. At which point this nice to have improvement can be made.
We have removed the epic to keep the bugs from the bug bash next week clear, we can add this back later.
We have also removed this from the current sprint.
cc @jimmymadon @felixarntz @eclarke1 @aaemnnosttv

[2022-06-08 17:31] tofumatt opened #5328 "Add Feature Tour to Dashboard Sharing"
## Feature Description

We should add a feature tour for the new Dashboard Sharing features, in line with what's in the design doc/[Figma mockups](https://www.figma.com/file/i04x83uA9U8HHBANlhS7Db/Dashboard-Sharing?node-id=737%3A17896).

<img width="856" alt="CleanShot 2022-06-08 at 20 34 13" src="https://user-images.githubusercontent.com/90871/172701953-349ab1c3-0e1c-4110-baec-1684873161fe.png">

[2022-06-08 17:56] felixarntz commented on #5071
IB ✅

[2022-06-09 07:56] asvinb opened #5332 "Missing widget area titles and subtitles"
## Bug Description

Removal of the `unifiedDashboard` feature flag in #5047 introduce a bug where the titles and subtitles of widget areas are no longer displayed.

## Steps to reproduce

1. Go to the main or entity dashboard on the `develop` branch.
2. Notice how no widget area titles and subtitles are displayed.
3. Switch to the `main` branch.
4. Widget area titles and subtitles are displayed.

[2022-06-09 09:28] tofumatt commented on #5332
I didn't see an estimate here, but since there's a proof-of-concept PR already I'll set this to a 3. I've assigned it to you @asvinb since you wrote the PR; if it's ready to review let me know and I can review it as well 🙂

IB ✅

[2022-06-09 09:39] tofumatt commented on #5332
Ah, well I'll use your original one. ZenHub has been a bit slow lately I think!

I'll assign this to me to review 👍🏻

[2022-06-09 12:17] asvinb commented on #4487
@FlicHollis Picking it back again now. I started taking a look a while ago then switched to other higher priority tickets.

[2022-06-09 12:21] asvinb commented on #4589
@aaemnnosttv The change was part of the following ticket: https://github.com/google/site-kit-wp/issues/2659 which I created and wrote the IB for. So it's intentional :)
Also for the entity dashboard issue that @wpdarren mentioned, whereby he cannot click on the URL, I think it's definitely related to https://github.com/google/site-kit-wp/issues/4735 . See my comment here: https://github.com/google

[2022-06-09 12:22] hussain-t commented on #5117
Thanks, @eugene-manuilov. I have updated the IB.

[2022-06-09 17:21] tofumatt commented on #5328
Looks good to me, but I think the TBD around the GA event needs verification from @felixarntz, so I'm assigning him to review this one as well.

IB ✅ from me though 👍🏻

[2022-06-10 14:50] techanvil commented on #5260
This is done, with placeholder images as per the AC. However as we have decided to hold off merging this until the final images are in place, I have created the PR as a Draft for now.

[2022-06-10 15:06] techanvil commented on #5280
Closing as we have decided against the phased approach for this component and the work specced in this issue will instead be part of #5273.

[2022-06-10 15:06] #5280 closed

[2022-06-10 15:11] eugene-manuilov commented on #5117
Very nice. Thanks, @hussain-t. IB ✔️

[2022-06-10 15:12] eugene-manuilov commented on #4896
IB ✔️

[2022-06-10 15:15] eugene-manuilov commented on #4864
IB ✔️

[2022-06-10 15:22] eugene-manuilov commented on #4487
IB ✔️

[2022-06-11 15:28] eugene-manuilov commented on #4774
IB ✔️

[2022-06-11 15:32] eugene-manuilov commented on #4776
IB ✔️

[2022-06-12 21:23] kuasha420 commented on #5145
@eclarke1 Can we move this forward to AC? This was a nice to have in ETS and somehow got lost in the ocean of Triage :(

[2022-06-13 09:06] FlicHollis commented on #5328
@aaemnnosttv would you be able to take a look at this one?

[2022-06-13 10:31] eclarke1 commented on #5145
Good suggestion, moved over to AC for the engineering leads to add. Thanks @kuasha420

[2022-06-13 12:01] tofumatt commented on #5145
(Tagging this as a good first issue, as it should involve replacing the Property ID with the Measurement ID in the UI.)

[2022-06-13 12:06] tofumatt commented on #5074
@hussain-t I see this was assigned a month ago before the IB/approach in #5071 was finalised. Since I wrote up that IB I'm going to handle this and #5072, because there's a lot of overlap 🙂

[2022-06-13 12:30] tofumatt commented on #4770
(Just a note: I thought this _could_ be because this chart uses the "smoothed out" curve variant, but looks like other charts that have the nice hover effect also have a curve line, so that's not it. Seems we just aren't including the right values for that chart to get the hover effect.)

[2022-06-13 16:56] aaemnnosttv opened #5341 "Release 1.77.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-06-13 21:10] aaemnnosttv commented on #5328
Thanks @tofumatt – this looks fine overall, although the `version` is a bit of a tricky detail that hasn't yet really been solved properly for features that are still behind a flag. That is, someone's initial version of SK could be 1.77 just like the feature, in which case they wouldn't see the tour because it wouldn't be new for them. However, the feature might not be enabled for them until later

[2022-06-14 10:12] wpdarren commented on #5332
### QA Update: ✅

**Verified:**

- The main and entity dashboard now have the titles and subtitles displayed on widget areas.
- Tested on mobile and desktop.
- Tested on shared dashboard (view only) with Dashboard sharing enabled.

https://user-images.githubusercontent.com/73545194/173553277-7c508d6f-08fb-418f-bb64-92e3812c2b8c.mp4

[2022-06-14 10:26] mohitwp commented on #5269
### QA Update ✅

Verified 👍

GA4 feature flag available under feature flag dropdown via the tester plugin on develop branch.

![image](https://user-images.githubusercontent.com/94359491/173556212-c23452c8-d8f2-4187-ba8d-a70e1fa318f3.png)

[2022-06-14 11:24] wpdarren commented on #5229
### QA Update: ✅

**Verified:**

- Within the Dashboard Sharing UI, both, "who can view" and "who can manage access" fields are editable by the owner of the module and setting changes take effect.
- An admin can change the "who can view" field if the owner of that module has set the "who can manage access" setting to All Admins. Otherwise, no other admin can change this setting.
- Only the owner o

[2022-06-14 11:32] wpdarren commented on #5104
@hussain-t @eugene-manuilov I have added the `QA:Eng` label on this ticket. If you feel it is something we should be able to test in QA, please provide step-by-step instructions and we'll happily test this!

[2022-06-14 12:08] wpdarren commented on #5055
### QA Update: ✅

**Verified:**

- Based on instructions on QAB, all preview blocks do not animate and instead show a static gradient.

https://user-images.githubusercontent.com/73545194/173573359-cdb5b5f1-6635-49dd-8594-1699806c9616.mp4

QA Note for future reference: I had to make the change in MacOS for this accessibility change.

[2022-06-14 12:37] asvinb commented on #5104
### QA: ✔️

* Console message logged twice when using `StrictMode`
* Console message logged once when using `StrictMode`

[2022-06-14 13:27] hussain-t commented on #5104
@wpdarren, thanks for adding the `QA:Eng` label.

[2022-06-14 13:44] bethanylang opened #5343 "Change language on Connect your Google account to Site Kit screen"
## Description

On the Connect your Google account to Site Kit screen that appears when a second admin goes to _Site Kit > Dashboard_, the following language appears:

Historically, we haven't used the word "product" anywhere in SK to refer to Google services/modules. I'd suggest we change to:

## Steps to reproduce

1. Connect Site Kit as an administrator
2. Log out
3. Log in as a second administ

[2022-06-14 14:00] wpdarren opened #5344 "Issue with Idea Hub and Analytics setup flow after not giving permission"
## Bug Description

While testing #3160  I noticed odd behaviour that when investigated by @tofumatt it was appears in the latest version of Site Kit.  The issue arises with Idea hub and Analytics. The setup flow does not complete.

Here are the steps:

- Click the CTA button to set up Idea Hub on the Dashboard (or link in settings).
- Do not give permission (or cancel) and you are redirected back

[2022-06-14 14:08] hussain-t commented on #5234
Thanks for testing @wpdarren. Other selectors, I mean any other selectors in our plugin. Unfortunately, we don't have any documentation for the API. For example, you could try the `getModules` selector:

[code]

LML if this makes sense. If you feel this has to be `QA:Eng`, feel free to add the label.

[2022-06-14 14:42] wpdarren commented on #5234
@hussain-t since I am unable to come up with the code for the different selectors, and to be completely honest, have no idea what I am looking out for, I would feel comfortable having an engineer looking over this.

I'll flag it `QA:Eng` to be on the safe side.

[2022-06-14 14:49] eclarke1 commented on #5260
@asvinb the 3 x images have now been finalised here https://www.figma.com/file/ZL8qlbUyR9lmBaF95t0xpq/sitekit-design-system?node-id=1151%3A7642 and can be added to the code. Please liaise with Victor if you need this in a specific format etc

[2022-06-14 16:13] jimmymadon commented on #5038
@wpdarren I tried this again yesterday and was able to get the error after disabling the Wi-fi on my Mac and then immediately clicking on the CTA. For some reason, Chrome does not think I am offline when I do this. However, when I use the throttle feature in Chrome Dev Tools, it also shows me the "No Internet" Chrome Error page. At this stage, I think we could add the QA:Eng label and let an engin

[2022-06-14 16:43] aaemnnosttv commented on #5038
@jimmymadon the easiest way would be to use a filter to override the request to the proxy but this is only possible for requests that are made via WP HTTP (i.e. `Google_Proxy::request`) using https://developer.wordpress.org/reference/hooks/pre_http_request/. This covers almost all requests to the proxy except those that are done by the Google `Client` which uses Guzzle internally. So we should be

[2022-06-14 18:30] aaemnnosttv opened #5345 "Automate regular updates to browserslist"
## Feature Description

Browserslist is industry-standard to set target browsers for web projects.

The database of browsers it references needs to be upgraded on a regular basis in order to get the most benefit.

From https://github.com/browserslist/browserslist#browsers-data-updating

One option might be to leverage a GitHub action to run on a schedule and open a PR automatically, e.g. https://g

[2022-06-15 07:11] mohitwp commented on #5155
### QA update ⚠️

@techanvil @aaemnnosttv
 **Question 1** : I found an additional story in AC which screenshots and details are not mentioned in QAB.  Is the story "`With GA4 tag , non matching property selected`" and story mentioned below are same ?

- `Modules/Analytics/Setup/SetupFormGA4/`:
		- ExistingTag – Existing GA4 tag, no property selected

**Storybook Screenshot :**

![image](https://us

[2022-06-15 08:05] wpdarren commented on #4769
### QA Update: ✅

**Verified:**

- I was able to recreate the initial issue following the  "Steps to reproduce"
- When I refreshed the develop branch, the color mismatch mentioned in the issue is no longer visible.
- The entity header's background color stays transparent until the page is scrolled and the header becomes sticky.

![image](https://user-images.githubusercontent.com/73545194/173775672

[2022-06-15 08:35] wpdarren commented on #5116
### QA Update: ⚠️

@nfmohit going on the QAB, the `plugin_setup category` and `search_console_error` action should be appearing on the WP and Site Kit Dashboard on the latest release.   I can confirm on the WP Dashboard, the GA event category and action can be found on 1.75.0 and when I switch to develop branch, it does not appear in the log ✅

The issue is, on the Site Kit Dashboard, the `plugin_

[2022-06-15 10:55] nfmohit commented on #5116
@wpdarren I have updated the QAB. I had mistakenly forgotten to include that in order to see these events being tracked in the **Site Kit Dashboard**, the `unifiedDashboard` feature flag must be **unchecked** in the tester plugin.

Could you check if the feature flag is checked in your test setup, uncheck it and see if you can see the event being tracked?

I should also mention that:
- according t

[2022-06-15 11:23] wpdarren commented on #5116
### QA Update: ✅

Nice work @nfmohit - that worked perfectly.  Thank you for your help.

**Verified:**

I can confirm on the WP Dashboard and Site Kit Dashboard, the GA event category and action can be found on 1.75.0 and when I switch to develop branch, it does not appear in the log

[2022-06-15 11:25] mohitwp commented on #4637
### QA Update ✅

**Verified**

- SetupSuccessBannerNotification
- CoreSiteBannerNotifications
- ZeroDataStateNotifications - when zeroDataState is enabled
- UserInputPromptBannerNotification - when userInput is enabled
- IdeaHubPromptBannerNotification - when idea hub is enabled.
- AdSenseAlerts - when adsense module is active.

cc @wpdarren can you please review this.

<details>

**Set Up Site ki

[2022-06-15 12:10] eclarke1 opened #5346 "For 'View Only dashboard' – CTAs that shared users can't use should not appear"
## Bug Description

CTAs in the dashboard that are intended for admins, without any useful info or actionable links/items when viewed in a shared context, should not be shown to "shared"/view-only Dashboard users.

Instead, we should show a different CTA informing the user that the admin needs to take steps before the module will be useable. Alternatively, we could show the user nothing as there i

[2022-06-15 12:11] eclarke1 opened #5347 "Improve the notice first shown to non administrators on the initial splash screen"
## Feature Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202443541768549 please refer to Asana issue for background

For non administrators who have just signed into the site, and happen to click on the Site Kit tab, they're presented with the initial splash screen, which could include more details to help them understand what they're looking at, or direct them to their si

[2022-06-15 12:15] eclarke1 opened #5348 "Remove admin toolbar tabs for services that are not shared"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202443541768560 please refer to Asana issue for background

If an admin only shares the SC module other users (ie. Editors) will still see an Analytics tab within the admin toolbar. This admin tab displays an Analytics error.

Rather than displaying the Analytics tab, and associated error, consider removing it.

[Recordi

[2022-06-15 12:17] eclarke1 opened #5350 "Console Errors on the Shared WP for a non-admin user"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202410303658774 please refer to Asana issue for background

When I login as a non-admin user (i.e. Editor user role) and view the shared dashboard, there are console errors, but the widgets and data load.  No errors appear on the FE.  The errors are:

Google Site Kit API Error method:GET datapoint:settings type:modules i

[2022-06-15 12:19] eclarke1 opened #5351 "Goals CTA widget appears on shared dashboard"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202419766205815 please refer to Asana issue for background

When the non-authenticated user (editor) has access to Analytics, the Goals CTA appears on the shared dashboard. It's my understanding that this should not appear.

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/64af9268-9d42-473e-883

[2022-06-15 12:20] eclarke1 opened #5352 "UX/UI issue for 'Who can manage view access' inactive dropdowns"
## Feature Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202406665934847 please refer to Asana issue for background

When you have a secondary admin user and went back to the Dashboard sharing & permissions screen,  the Who can manage view access dropdown is inactive for PageSpeed and Idea Hub. Looking at the AC this is expected but could we not have a scenario where an ad

[2022-06-15 12:22] eclarke1 opened #5353 "Confusing UI when Secondary Admin does not have access to a module within Dashboard settings"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202443611982981 please refer to Asana issue for background

Okay, this is a difficult to explain but here goes.

You have two admin users (admin 1 (the main admin who set up SK) and admin 2 (who is just wanting to view shared dashboard)

Accidentally, admin 1 does not give permission to any modules to administrators.

Ad

[2022-06-15 12:24] eclarke1 opened #5354 "Dashboard Sharing: shared modules are blocked from sharing if owner loses capability"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202445528223665 please refer to Asana issue for background

If a managing user has their role changed or is deleted by another admin, that admin won't be able to "manage roles" if they are the only remaining admin. If there are 2 site administrators, and one of the administrators is removed or has their WP role downgrade

[2022-06-15 12:26] eclarke1 opened #5355 "Modifying date range as non-admin prevents SC widget to load"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202443434724977

Steps to reproduce:
Login as a non-admin user, having a role which is shared with Search Console only (and no other module).
Visit the dashboard which loads normally.
Change the date range to "Last 90 days".

The Search Console Popular Keywords widget loads indefinitely. Multiple console errors appear as

[2022-06-15 12:32] aaemnnosttv commented on #5155
@mohitwp yes, they are the same 👍

These were added as part of #5301

[2022-06-15 12:38] wpdarren opened #5356 "Incorrect Analytics Properties defaulted when Site Kit is Set up, then Reset/Setup"
## Bug Description

Google Analytics connect service screen does not automatically add the correct UA/GA4 properties when you disconnect/reset Site Kit after setting up Site Kit and Analytics.

![analytics.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/fc5f3920-a1cb-4c2d-ab69-9e9de96f3c4e)

When I switched to the latest release (1.75.0) the connect service page loads as expecte

[2022-06-15 13:08] mohitwp commented on #5155
### QA Update ✅

**Verified**

- The following old stories under `Analytics module / Setup` and `Analytics module / Settings` below are removed .
    ![image](https://user-images.githubusercontent.com/1621608/166342661-45dbf5c2-510c-41e3-b13d-bb7eab8d5bb1.png)

- New stories added under
`Modules/Analytics/Setup/SetupFormUA/`
`Modules/Analytics/Setup/SetupFormGA4/`
`Modules/Analytics/Setup/SetupFor

[2022-06-15 13:10] wpdarren commented on #4637
@mohitwp a few areas to look at here:

The `ZeroDataStateNotifications` has a few different notifications:

- For zero data. There should be a notification for that on the main and entity dashboard.
- The gathering data. There should be two notifications.  One when you just have search console connected, and one when you have search console and analytics connected.  Both of these should appear on

[2022-06-15 13:44] mohitwp commented on #4637
### QA update ⚠️

@kuasha420 QAB mention notification for `AdSenseAlerts - when adsense module is active.` Can you please guide how can I trigger AdSense related alerts ?

cc @wpdarren

[2022-06-15 14:20] asvinb commented on #5260
@techanvil I've updated your PR to include the final images and left some comments :)

[2022-06-15 14:24] eclarke1 opened #5357 ""Additional Permissions Required" for PSI - Infinite Loop"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202443434724992 please refer to Asana issue for additional context.

## Steps to reproduce

1. Using an administrator user (say admin1), connect all modules.
2. Create another administrator user (say admin2).
3. Login as admin2 to delete admin1
4. Sign into SiteKit using admin2's google account. A list of recoverable mod

[2022-06-15 14:25] eclarke1 opened #5358 "Incorrect modal top position after scrolling on small screens"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202442610474584 please refer to Asana issue for background

The modal is incorrectly positioned on small screens after scrolling down the page. The reason is upon initial page load, there's the WP admin bar, which is not sticky, thus leaving the white space at the top.

![image.png](https://images.zenhubusercontent.com/5

[2022-06-15 14:27] eclarke1 opened #5359 "All versions of iPad > ''View only' menu design is broken"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202420835416769 please refer to Asana issue for background and further screenshots

Tested in i-Pad 12, i-Pad mini and i-Pad 9
Browser - Safari and chrome
iOS - 15 and 14.4

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/ae80ac29-4c33-47ca-87cc-ec90d7070c22)

## Steps to reproduce

1. Go to '.

[2022-06-15 14:28] eclarke1 opened #5360 "iPhone - Manage view access >Pop up button and CTA UI issues"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202422111202689 please refer to Asana issue for background

iPhone - Manage view access >Pop up button and CTA getting hide in Safari and not showing on chrome

![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/e6c3db87-6c16-4548-ab60-a08739beedcb)

---------------

_Do not alter or remove anythi

[2022-06-15 14:29] aaemnnosttv commented on #5354
This should be covered by the existing functionality for module recovery. I don't think we should further complicate the interface here to facilitate module recovery but we could adjust the language if the module were recoverable. IMO this isn't launch blocking.

[2022-06-15 15:01] jamesozzie opened #5361 "Multiple permissions notices shown to administrator when editing the Analytics module, if they don't have access to the connected property"
## Bug Description

On a site with more than one administrator, if an admin who does not have access to the connected property tries to edit the module they will encounter multiple notices when editing the Analytics module.

![image](https://user-images.githubusercontent.com/41326532/173858261-4f1e86cc-913f-4dc5-b8fd-27d5b35ac1e3.png)

This doesn't occur with Site Kit 1.75.0 ([recording](https://r

[2022-06-15 15:24] eclarke1 opened #5362 "Idea Hub widget remains in loading state"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202442610474594 refer to Asana issue for background

I granted another user to view the Idea Hub widget but the latter does not load. Furthermore there's an error in the console, not sure if it's related.
To reproduce, assign the Idea Hub module only to a user and login as the user to view the widget on the main dashboar

[2022-06-15 15:25] eclarke1 opened #5363 "Secondary admin authentication takes ownership of Search Console"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202445809380588 please refer to Asana issue for background

When a user authenticates with SK for the first time, we set the SC property ID if it is provided in the token response.

https://github.com/google/site-kit-wp/blob/75735ed268bae68011ab1eb75fe08cb8180033e9/includes/Modules/Search_Console.php#L78-L84

If the modu

[2022-06-15 15:37] adamdunnage commented on #5361
@jamesozzie I am also experiencing the same as you. Here is what I see with 1.77.0:

![image](https://user-images.githubusercontent.com/91896826/173868036-5c6ddf4f-285d-4c43-a498-d95fbd07b685.png)

And here is 1.75.0:

![image](https://user-images.githubusercontent.com/91896826/173868181-fe7595cd-7393-4ce3-a3b3-5d8082d53d62.png)

[2022-06-15 17:08] felixarntz commented on #5236
@hussain-t @bethanylang @aaemnnosttv @tofumatt Based on today's conversation, I suggest the following refinement here:

* Instead of showing the Retry button on _all_ `ReportError`s (i.e. the red border in-widget errors), we limit it by adding a number of exceptions where the button should **not** be shown if any of the following is true:
    * If the `selectorName` is not `getReport` (because the

[2022-06-15 17:25] bethanylang commented on #5236
@felixarntz This makes sense to me! Of course support will work with the QA team to test this thoroughly to ensure that this catches all of the necessary exceptions.

[2022-06-15 17:42] felixarntz opened #5364 "Implement Thank with Google PHP module foundation"
We should implement the PHP module foundation for Thank with Google, for a new `thank-with-google` module. We do currently have a `subscribe-with-google` module, which however is now indefinitely on hold, and the Thank with Google module has taken over as a priority. Furthermore, the foundation requirements for the two modules are quite similar.

Therefore, we should implement the foundation for T

[2022-06-15 17:44] felixarntz opened #5365 "Implement `modules/thank-with-google` JS store foundation"
Similar to #5364: We should "migrate" the `modules/subscribe-with-google` store to become the foundation for a new `modules/thank-with-google` store.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The JS store `modules/subscribe-with-google` should be consistently renamed to `modules/thank-with-google

[2022-06-15 18:09] aaemnnosttv commented on #5236
SGTM @felixarntz 👍

@hussain-t I think the above comment should be clear enough to work from but we'll want to amend the ACs accordingly. You shouldn't need to wait for this to make those changes though.

[2022-06-15 18:10] felixarntz opened #5366 "Add foundation for correct Thank with Google settings"
Follow-up to #5364 and #5365: Let's replace the old Subscribe with Google-exclusive settings with a foundation for the actual Thank with Google settings. Only `publicationID` is still relevant here as well.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

[2022-06-15 19:22] aaemnnosttv commented on #5355
@jimmymadon I'm not able to reproduce this one. Can you confirm it's still possible on the latest and if so provide steps?

[2022-06-15 19:26] aaemnnosttv commented on #5353
As discussed earlier, this is expected behavior for now. I think we landed on leaving it for now with the assumption that the added feature tours and other language changes would help set expectations here?

[2022-06-15 19:31] felixarntz commented on #5236
@aaemnnosttv @hussain-t I've added these additional requirements to the ACs now.

[2022-06-15 19:36] felixarntz commented on #5353
I agree this is expected behavior, but we should probably address https://app.asana.com/0/1202258919887896/1202445809380611/f in order for this to be less of a concern.

@eclarke1 Given this is marked as a P0, should we open an issue for the above Asana task as well? I think once we've improved the language, this issue here is more something that we need to think further about whether we can impro

[2022-06-15 20:51] tofumatt commented on #5328
Oh, right on, makes sense.

Cool, I've put a far-future version in there for now and added a note about the reasoning/comment 👍🏻

I figured `1.85.0` was fine, but if it should be adjusted in either direction and the IB's otherwise fine feel free to do that 🙂

[2022-06-15 21:18] aaemnnosttv commented on #5328
Great thanks!

Regarding the tour, we discussed extending this with additional steps earlier today that would include the sharing settings. I'll open a new issue for investigation as a potential follow-up to this one.

IB ✅

[2022-06-15 22:09] felixarntz commented on #5356
I see you self-assigned this @tofumatt but just looked at this too, from my point of view IB + CR ✅

[2022-06-15 22:52] tofumatt commented on #5356
IB ✅

[2022-06-15 22:58] tofumatt opened #5368 "Replace $module->get_client() with $module->get_oauth_client_for_current_user()"
## Feature Description

We should replace the [`get_client()` function in `Module.php`](https://github.com/google/site-kit-wp/blob/26304ca85a87770a1e837f904cf983ea4d8040dd/includes/Core/Modules/Module.php#L554) with something like `get_oauth_client_for_current_user()`.

See @felixarntz's comment here for context on this change: https://github.com/google/site-kit-wp/pull/5367#discussion_r898482631

[2022-06-16 01:35] wpdarren commented on #5356
### QA Update: ✅

**Verified:**

- When a site is set up with Site Kit and Analytics, then reset. The primary matched property defaults in correctly and matches the UA Analytics property and the secondary property also matches a respective GA4 property.
- I also ran this test through with not connecting Analytics in the set up flow after resetting, instead it was connected via the CTA on SK dashbo

[2022-06-16 01:56] wpdarren commented on #4582
### QA Update: ✅

**Verified:**

- The initial styling issue on all iPad sizes for `Unique visitors from search `
- When disconnecting the Analytics module the DataBlock content in the Search Funnel widget is aligned to the top condition.
- When the Goals CTA is shown, and the data blocks aren't top-aligned, the layout does not break.
- The issue reported earlier has been fixed when Analytics is d

[2022-06-16 02:00] wpdarren commented on #5235
### QA Brief: ✅

**Verified:**

- Ran through scenarios in many modules/parts of the plugin that would generate errors, like auth errors, network errors, permissions, etc. Errors should continue to appear as normal before this change.

![image](https://user-images.githubusercontent.com/73545194/173974913-b3aa7b11-db12-42c9-9dbc-5eabf3ebd3bc.png)

[2022-06-16 04:46] hussain-t commented on #5236
Thanks, @felixarntz 👍

[2022-06-16 08:53] eclarke1 opened #5370 "Inaccurate tooltip on 'Who can manage view access' dropdown"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202420835416767 please refer to Asana issue for background

Here's the scenario:  admin 1 sets up Site Kit and connects all the modules.  In the dashboard sharing settings, they select 'Only me' for search console and analytics under 'who can manage view access' All is good.  Then admin 2 logs in and goes to the dashboar

[2022-06-16 08:55] eclarke1 opened #5371 "Update Manage view access warning message"
## Feature Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202444327251156 please refer to Asana issue for background

When I go to the Dashboard sharing modal as an admin and change an option in a Who can manage view access dropdown, the following warning appears at the bottom of the modal:

"By clicking Apply, you are giving other admins permission to manage view-only acce

[2022-06-16 08:56] eclarke1 opened #5372 "Dashboard sharing modal state is preserved after closing"
## Feature Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202436389160092 please refer to Asana issue for background

Similar to module settings which rollback to the initial/saved values/states when saved or exiting edit mode, the sharing settings modal should follow a similar pattern and start from a fresh state every time it is opened.

This means the "current" sharing s

[2022-06-16 08:58] asvinb commented on #5359
@mohitwp I had a deep look at the issue you noticed but was unable to consistently reproduce it. I was able to reproduce it once on a BrowserStack simulator(not real device) but am wondering if it was BS quirk.

BrowserStack:
iPad Mini 2021 v15.5 (Real device):
<img width="926" alt="image" src="https://user-images.githubusercontent.com/31818/174032828-d4d8dfa9-1f08-485e-9570-0a04edddca97.png">

Lo

[2022-06-16 09:01] eclarke1 opened #5373 "Overlapping header items"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202442610474578 please refer to Asana issue for background

With the addition of the dashboard sharing button in the header, there is less room for all the previous items to fit together on medium screens resulting in overlapping text within the header squished dashboard sharing button. To reproduce: resize browser to 60

[2022-06-16 09:02] eclarke1 opened #5374 "Clarify "All admins" wording in Dashboard Sharing settings"
## Feature Description

In the "Who can manage view access" section of Dashboard Sharing settings, the wording "All admins" needs more clarification. It is easily misread as "All WordPress admins" but it really means "All WordPress Admins who have authenticated with Site Kit + their Google Account". We should clarify this wording to avoid confusion.

The wording in question:

![CleanShot 2022-06-1

[2022-06-16 09:03] eclarke1 opened #5375 "Any change to sharing settings triggers sharing notices"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202436389160088 please refer to Asana issue for background

The notice in the bottom of the sharing settings modal is currently being triggered by what seems to be any change to sharing settings. Since the notice is about informing the user that data will be shared through their account, it should probably only be shown

[2022-06-16 09:09] eclarke1 opened #5376 "Improve experience with recoverable modules for view-only users"
## Feature Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202445528223671 please refer to Asana issue for background

Improve the messaging & experience if an admin has connected a module, shared access, and then disconnects. If an admin has connected a module (ie. Analytics), shared view only access with other roles (include admins), and then disconnects they'll be present

[2022-06-16 09:10] eclarke1 opened #5377 "Console warning when hovering the dashboard sharing icon in the header"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202442610474564 please refer to Asana issue for background

A console warning is displayed when hovering the dashboard sharing icon in the header.
![image.png](https://images.zenhubusercontent.com/5e2ad3803c374569231d8cd7/69e3b4af-6a88-4951-9e6e-8c9580e9f594)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. S

[2022-06-16 09:11] eclarke1 opened #5378 "Buttons with tooltip raise deprecation warning in StrictMode"
## Bug Description

Initially raised as part of the bug bash for dashboard sharing, this issue is not DS-specific and applies to all `Button` component use with tooltips.

To reproduce, open the browser console and then hover a button that has a tooltip (e.g. user menu, help menu, idea hub action button, etc). They all raise the same warning (with a different trace):

[code]

<details>
    <summar

[2022-06-16 09:12] eclarke1 opened #5379 "Data requests fail on shared dashboard for connected but non-shared modules"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202410303658780 please refer to Asana issue for background

The main admin has connected all modules, but has not given access to all of them for administrators. When the second admin logs in and goes to the shared dashboard, all of the widgets load as expected, but errors appear in the console:

`Google Site Kit API Err

[2022-06-16 09:18] eclarke1 opened #5380 "Remove the option to "Skip sign-in and view limited dashboard" if the admin is the only admin"
## Bug Description

Bug bash issue: https://app.asana.com/0/1202258919887896/1202445528223675 please refer to Asana issue for background

Remove the option to "Skip sign-in and view limited dashboard" if the admin is the only admin, or if there were no modules shared with that admin. If an admin disconnects from Site Kit and only they have shared access to their connected modules (ie. Analytics) r

[2022-06-16 09:20] kuasha420 commented on #4637
@mohitwp I'm not entirely sure on this, @asvinb is this related to adsensesetupv2?

[2022-06-16 09:23] eclarke1 commented on #4534
In the bug bash review meeting yesterday, we agreed for this one to be a launch blocker, so I have updated to P0. It is currently in Backlog, so I have moved to ACs. Please let me know if there's any concerns with this.

[2022-06-16 09:26] asvinb opened #5381 "Misaligned information in the view-only menu"
## Bug Description
When there are varying user names length in the view only menu, the module name and user names are not longer aligned.

## Steps to reproduce

1. Add another administrator and login to the view only dashboard.
2. Click on the view only menu.
3. Notice how the module names and module owners within the menu are misaligned.

## Screenshots
![image](https://user-images.githubusercon

[2022-06-16 11:42] wpdarren commented on #5038
### QA Update: ⚠️

@jimmymadon @aaemnnosttv going through changing the wp-config file with `define( 'WP_HTTP_BLOCK_EXTERNAL', true );` I do see a similar error message but not as per the screenshot in the QAB.

![image](https://user-images.githubusercontent.com/73545194/174061839-4132788d-5898-4ce5-907a-85ffc4be218a.png)

To get this I had to disconnect Site Kit and get to the splash screen and th

[2022-06-16 11:44] wpdarren commented on #4637
@kuasha420 @asvinb thank you for the updates here, but in that case, how do we test this?  c.c. @mohitwp

[2022-06-16 12:07] eclarke1 commented on #5353
Certainly :) I opened an issue for that here #5374 which is a P0. Moving this one to be P1. Thanks so much for weighing in here both.

[2022-06-16 12:17] mohitwp commented on #4637
### QA Update ✅

**Verified:**

- AdSenseAlerts - when adsense module is active.

I'm able to trigger notification for adsense through console using below code :
- `googlesitekit.data.dispatch('modules/adsense').addNotification({
 	id:'adsense-notification',
 	title: 'AdSense notification',
 	description: 'AdSense notification description',
 	isDismissable: true,
 	format: 'large',
 	severity: 'wi

[2022-06-16 12:20] eugene-manuilov commented on #5376
@aaemnnosttv what do you think if we update widgets to display a special state for recoverable modules instead of hiding widgets? In this case, a widget will say that the corresponding module has been configured by an admin that has disconnected his account and the module needs to be re-configured to continue showing their widgets. It will explain the problem and motivate users to reach out to the

[2022-06-16 12:23] jimmymadon commented on #5234
## QA ✅

- Verified the new `selectorData` object for mocked errors and real errors in the plugin.
- Screenshots:
<img width="742" alt="MockedData" src="https://user-images.githubusercontent.com/1721319/174068847-b9d942d4-5ac1-4612-b29b-35336c0ce568.png">
<img width="911" alt="RealErrorData" src="https://user-images.githubusercontent.com/1721319/174068858-e70e56a7-78d5-4be9-be93-68a9e71dec02.png">

[2022-06-16 12:28] tofumatt commented on #4718
I've done the code review here but the QA: Eng here is just verifying that there are no imports of these files present.

That's the case, verified by searching through the repo:

<img width="312" alt="CleanShot 2022-06-16 at 13 26 26" src="https://user-images.githubusercontent.com/90871/174069529-450ce97c-5550-4bb7-9067-13b3c4b93ad3.png">

I'm marking this as QA:Eng ✅ as well, but in retrospect I

[2022-06-16 12:30] jimmymadon commented on #5038
@wpdarren It is expected to have the error message change to whatever is returned in the message from WP_Error which now is "user blocking requests". It does pass the AC. I do not get the Query Monitor message in my tests as I do not have that plugin. So this should be sufficient.
<img width="1435" alt="Screenshot 2022-06-16 at 13 27 06" src="https://user-images.githubusercontent.com/1721319/17406

[2022-06-16 12:59] wpdarren commented on #5038
### QA Update: ✅

Going through changing the wp-config file with `define( 'WP_HTTP_BLOCK_EXTERNAL', true );` I do see a similar error message as per the screenshot in the QAB.

![image](https://user-images.githubusercontent.com/73545194/174061839-4132788d-5898-4ce5-907a-85ffc4be218a.png)

[2022-06-16 14:02] eugene-manuilov commented on #5378
This is weird issue... I check our codebase and the material library and everything looks okay to me. Not sure why it happened. @aaemnnosttv what do you think if we ask Darren to try to reproduce this issue and if he can't, then close it?

[2022-06-16 14:08] eclarke1 commented on #5378
@wpdarren see comment above, could you please try to reproduce this one again?

[2022-06-16 14:25] felixarntz commented on #4534
@aaemnnosttv Sorry for the late reply, I had missed your latest comment.

That's neat that these are already included. In that case, I'd say no need to intentionally exclude them. I don't think they're as critical, but arguably for Site Health the more information the better.

[2022-06-16 15:32] aaemnnosttv opened #5382 "Extend Dashboard Sharing feature tour to include settings interface"
## Feature Description

In #5328, we added a basic feature tour for dashboard sharing which informs an authenticated admin about the added ability to share the dashboard with other users but does not elaborate on how to use it.

This issue is about extending this tour with additional steps to walk the user through the sharing settings interface and better explain how to share the dashboard and or

[2022-06-16 16:00] jimmymadon commented on #5229
## QA: Eng ✅

Tested with the QAB of #4481.

<details>
 <summary>Verified failed requests when feature flag is off, for GET request and POST request without body params.</summary>
<img width="537" alt="Screenshot 2022-06-16 at 16 42 45" src="https://user-images.githubusercontent.com/1721319/174113463-b681b47b-14c6-4925-9a2a-da13bb19b7f9.png">
<img width="692" alt="Screenshot 2022-06-16 at 16 45 06

[2022-06-16 16:30] tofumatt commented on #5357
@aaemnnosttv Just a quick check on this—should PSI even be _asking_ for additional permissions? It seems odd, because I thought it didn't require any permissions and that "connecting" PSI is really just a matter of enabling it, since it doesn't require any authentication to use.

My understanding was the only reason we "authenticate" is to associate the request with a particular Google Account. Bu

[2022-06-16 16:41] eugene-manuilov commented on #5358
@asvinb do you mind reviewing this ticket?

[2022-06-16 16:45] eugene-manuilov commented on #5374
IB ✔️

[2022-06-16 16:46] eugene-manuilov commented on #5371
IB ✔️

[2022-06-16 16:53] tofumatt commented on #5346
@aaemnnosttv In the Asana task I saw you mentioned that instead of hiding the links we should show an entirely different CTA as the existing one isn't very actionable/usable to a "view-only" dashboard user.

In this case I think we ought not to show anything at all, as the wording and info shown will likely be unclear/confusing to a user not familiar with AdSense setup. I think until AdSense is re

[2022-06-16 16:54] tofumatt commented on #5348
(It's possible this is related/similar to/the same issue as #5379.)

[2022-06-16 16:55] tofumatt commented on #5350
(It's possible this is related/similar to/the same issue as #5379/#5348.)

[2022-06-16 17:01] eugene-manuilov commented on #5244
IB ✔️

[2022-06-16 17:20] asvinb commented on #5358
IB ✅

[2022-06-16 17:34] #5356 closed

[2022-06-16 17:36] #5229 closed

[2022-06-16 17:37] #5038 closed

[2022-06-16 17:37] #4718 closed

[2022-06-16 17:37] #5234 closed

[2022-06-16 17:42] #5155 closed

[2022-06-16 17:43] #5116 closed

[2022-06-16 17:43] #4769 closed

[2022-06-16 17:43] #5055 closed

[2022-06-16 17:43] #5269 closed

[2022-06-16 17:45] #5332 closed

[2022-06-16 17:45] #4822 closed

[2022-06-16 17:46] #5144 closed

[2022-06-16 17:48] #5047 closed

[2022-06-16 17:48] #4794 closed

[2022-06-16 17:51] #5296 closed

[2022-06-16 17:51] #4795 closed

[2022-06-16 17:51] #3160 closed

[2022-06-16 17:51] #5184 closed

[2022-06-16 17:52] #4532 closed

[2022-06-16 17:52] #5305 closed

[2022-06-16 17:52] #5220 closed

[2022-06-16 17:53] #5219 closed

[2022-06-16 18:03] #4823 closed

[2022-06-16 18:03] #4791 closed

[2022-06-16 18:04] #4721 closed

[2022-06-16 18:04] #4497 closed

[2022-06-16 18:04] #4914 closed

[2022-06-16 18:04] #5121 closed

[2022-06-16 18:09] felixarntz commented on #5202
### Approval ❌

@wpdarren @jimmymadon @aaemnnosttv This has already been flagged in the dashboard sharing bug bash, but this is not behaving like it should. There may have been a misunderstanding during the implementation, since also the QA Brief is not accurate. This change _should_ have end user facing implications: Users with shared access (not connected with their Google account) should be abl

[2022-06-16 18:10] #4937 closed

[2022-06-16 18:10] #5255 closed

[2022-06-16 18:10] #4981 closed

[2022-06-16 18:10] #5161 closed

[2022-06-16 18:10] #5243 closed

[2022-06-16 19:03] aaemnnosttv opened #5383 "Shared requests should not be attempted for recoverable modules"
## Bug Description

If a request for module data which is shared by its owner happens to be for a module which is also recoverable, it should not be attempted although this is currently what's happening.

## Steps to reproduce

1. Connect with Admin A
2. Share Search Console with Admins
3. Disconnect Admin A
4. Connect with Admin B
5. See data errors about lack of granted scopes, even though the c

[2022-06-16 19:20] aaemnnosttv commented on #5357
@tofumatt – @felixarntz raised a similar issue he came across and the problem is that the request is attempting to be made as a shared request here when we know that won't work because the module is recoverable. I opened #5383 which should fix this too as this isn't specific to PSI.

Closing in favor of #5383

[2022-06-16 19:20] #5357 closed

[2022-06-16 19:50] aaemnnosttv commented on #5377
Closing in favor of #5378

[2022-06-16 19:50] #5377 closed

[2022-06-16 19:52] aaemnnosttv commented on #5352
@felixarntz @marrrmarrr should we instead maybe replace the select boxes here with text (like we do for modules owned by other admins) to say simply "Manageable by all authenticated admins" ?

[2022-06-16 20:37] felixarntz commented on #5352
@aaemnnosttv +1, I think that's a gread idea. I'd say the term "authenticated" we should probably only include though in combination with also changing the "All admins" dropdown label to "All authenticated admins" (see other bug bash discussion).

[2022-06-16 21:21] kuasha420 commented on #5341
QA: :heavy_check_mark:

* Went through the release testing and set up everything on a fresh site and on local. Everything went well and nothing jumped out.
* Had a look at the changes I was involved with.

Spotted a console error about react updating state in an unmounted component when I clicked `dismiss` on Idea Hub Banner but I could not reproduce it so I guess it's an one off error. If anyone

[2022-06-16 21:29] #5350 closed

[2022-06-16 21:41] aaemnnosttv commented on #5371
Updated wording to clarify "authenticated admins" not all admins.

[2022-06-16 21:52] aaemnnosttv commented on #5374
@tofumatt @felixarntz would it be more clear if we said "any admin signed-in with **Google**" rather than with "Site Kit"? I feel the latter may be a bit easier to misinterpret.

Thoughts @bethanylang ?

[2022-06-16 21:57] aaemnnosttv commented on #5371
Marking this as temporarily blocked by #5374 until that language is solidified.

[2022-06-16 22:00] aaemnnosttv commented on #5375
@hussain-t I just tweaked one point of the AC specifically around "a shared ownership module".

[2022-06-16 22:12] aaemnnosttv commented on #5346
@tofumatt The problem with not showing anything at all is that you may be sending a view-only user to an empty dashboard if AdSense is the only shared module, in which case we'd need a different empty state 😄 We may still need this depending on how other issues go but having a placeholder widget would probably be the simplest solution here.

Alternatively, we could maybe address this on the server

[2022-06-16 22:16] aaemnnosttv commented on #5351
@tofumatt we don't currently have a way to check if the user has that kind of access to the account/property. It may be possible to request through the management API but this would substantially increase the effort needed for this change and we don't do it now so I'm going to remove that detail. We can always revisit it later in a follow-up 👍

[2022-06-16 22:23] aaemnnosttv commented on #5362
@eclarke1 I wasn't able to reproduce it, sorry I thought I followed up on here!

@asvinb @wpdarren can you confirm this is reproducible?

[2022-06-16 22:48] jimmymadon commented on #5355
@aaemnnosttv @eclarke1 Looks like that issue happened as a one-off and I haven't been able to reproduce this again today. 👍

[2022-06-16 22:50] felixarntz commented on #5346
@aaemnnosttv @tofumatt We need to differentiate here:
* We shouldn't show anything at all to view-only users when it comes to CTAs. The "Link Analytics and AdSense" one is a CTA, so this widget shouldn't appear at all in view-only mode.
* However, we should still show zero data states to view-only users. That "No ad impressions yet" box indeed looks like a CTA, but it is something custom that we b

[2022-06-16 23:25] felixarntz opened #5385 "Do not display "No ad impressions yet" special zero data CTA for new AdSense flow"
Via https://github.com/google/site-kit-wp/issues/5346#issuecomment-1158237437, I just discovered / was reminded about that special "No ad impressions yet" CTA that we show in case of AdSense zero data.

This CTA was added for the original AdSense setup flow since we were lacking information on the Site Kit side whether the AdSense site was actually set up completely. As part of the AdSense setup V

[2022-06-16 23:28] tofumatt commented on #5341
Did a fair bit of smoke testing and went through a few AdSense sites with the improved setup enabled—it was good about detecting sites that needed attention when the original setup flow wouldn't detect that 👍🏻

QA ✅ from me.

[2022-06-16 23:31] felixarntz commented on #5385
@FlicHollis @eclarke1 Can we add this to the sprint starting next week please? It's okay to go into the follow-up release after the AdSense setup V2 launch, but we should ensure to land it then. This should be a quite small effort.

[2022-06-16 23:41] jimmymadon commented on #5202
@felixarntz From the title, AC and IB, I got the feeling that for some reason there would be a separate issue to 'use' these new capabilities and we are only 'introducing' them here. Realised in bug bashing that there weren't any other issues in the end! Seems like a few minor changes to use these new capabilities. They work fine in my preliminary testing but have updated the QAB to reflect the ad

[2022-06-17 08:33] eclarke1 commented on #5374
+1 to language being orientated around 'Google' account, makes more sense to me

[2022-06-17 08:37] eclarke1 commented on #5355
Ok great news, let's get this closed then please.

[2022-06-17 08:38] #5355 closed

[2022-06-17 09:35] eclarke1 commented on #5359
@mohitwp please can you let us know on this one so we know whether it needs to go in the sprint, or be closed. Thanks. cc @FlicHollis

[2022-06-17 09:39] asvinb commented on #5362
@aaemnnosttv @wpdarren Try clearing your local storage, do a hard refresh. I just tried it and Idea Hub does not load/

[2022-06-17 10:59] wpdarren commented on #5362
@aaemnnosttv @asvinb Mmm it was certainly working for me when I completed E2E, but once 1.77 is out of the way, I will take a look and see if I can create it.

[2022-06-17 11:03] wpdarren commented on #5202
I did query this on Slack, and was told that the WP Dashboard and Admin Bar were out of scope.  So, yes, there has been some confusion here.  Noted though, and will keep a look out for it in QA 👍

[2022-06-17 12:54] wpdarren commented on #5341
### QA Update: ⚠️

The Gathering and Zero data state notifications continue to appear in the main and entity dashboard either when you have dismissed them by clicking on the `OK, Got it!` and `Remind me later` links.

To recreate this you have to go to the dashboard, see the appropriate notification appear, click on the link then go away from the dashboard (I went to make a change in Analytics set

[2022-06-17 13:38] jimmymadon commented on #5117
@wpdarren Testing 3-5 events should be sufficient as if it works for a few, it should work for all.

[2022-06-17 13:42] aaemnnosttv commented on #5362
@asvinb I just tried this with an editor that only had access to Idea Hub with a clear state and made sure the requests were going through. No new ideas come back but it is not stuck in the loading state and I see the appropriate zero state. Maybe it has to do with the site you're trying to source ideas for? 🤔

[2022-06-17 13:50] hussain-t commented on #5341
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

There are issues related to Dashboard Sharing; however, those are already recorded in the bug bash.

[2022-06-17 13:56] wpdarren commented on #5117
Thanks @jimmymadon 👍

[2022-06-17 14:14] aaemnnosttv opened #5388 "Widgets don't load when URL has no initial hash and traffic section isn't available"
## Bug Description

The dashboard navigation introduced with the unified dashboard controls the hash in the URL and [if not set, sets it to the fist section: `#traffic`](https://github.com/google/site-kit-wp/blob/76e5049ec9f9681478ab36ce37344ec3e008db0d/assets/js/components/DashboardNavigation.js#L164-L170). Until now, this has worked fine because all users are guaranteed to have that section avai

[2022-06-17 14:15] aaemnnosttv commented on #5362
@wpdarren – @asvinb and I were able to track down the cause here. Closing this one in favor of https://github.com/google/site-kit-wp/issues/5388

[2022-06-17 14:15] #5362 closed

[2022-06-17 14:47] aaemnnosttv commented on #4534
I added another row to list recoverable modules but otherwise this should be good to go 👍

[2022-06-17 16:35] aaemnnosttv commented on #4525
## ❌ QA

This currently affects admins who have the splash dismissal, where it shouldn't.

The situation can be reproduced as follows:
- Share a module with Admins
- Sign in as admin, go to shared dashboard
- Sign in with Google from shared dashboard
- Once signed in, disconnect the user
- The admin then lands on the splash page (as is the target for post-disconnect) but is redirected back to the

[2022-06-17 17:15] aaemnnosttv commented on #5380
IB ✅

[2022-06-17 17:48] aaemnnosttv commented on #5348
View-only users should not see the admin bar (or WP dashboard widget) – this has been fixed in https://github.com/google/site-kit-wp/issues/5202.

[2022-06-17 17:48] #5348 closed

[2022-06-17 18:11] jamesozzie opened #5390 ""The link you followed has expired. Please try again" after attempting set up"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/loop-log-in/#post-15747003) is encountering a re-direct (and logout) of their site after signing in with Google.

A brief overview of the users experience (with URLs not evident) can be seen below, with the full video added to the [private Google form response](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4

[2022-06-17 19:44] aaemnnosttv commented on #4525
@felixarntz @eugene-manuilov would one of you please merge review the above follow-up PR?

[2022-06-19 05:52] nfmohit commented on #5341
## Release Tested ✅

- Release tested 1.77.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.

[2022-06-19 09:39] nfmohit commented on #5374
The current PR attached to this issue is set to replace "All Admins" with "Any admin signed in with Google" according to the above discussion. I'll be happy to change it if we decide otherwise.

While we're on the discussion about copy, @aaemnnosttv @tofumatt Do you think it is necessary to capitalise (capital for the first letter of every word) this sentence like it was before ("All Admins") and

[2022-06-19 22:14] jimmymadon commented on #5341
## QA ✅

- Tested the changes I was involved with.
- Smoke tested mainly without the dashboard sharing feature flag.

[2022-06-20 05:47] mohitwp commented on #5341
### QA update ✅

**Verified:**

- Adsense test cases as per BB instructions.
- QA check list.
- Zero data state related scenarios.

[2022-06-20 08:57] eclarke1 commented on #5376
Assigning back to @eugene-manuilov to please add AC

[2022-06-20 11:07] techanvil commented on #5341
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing. I've not attempted to do much testing of dashboard sharing here beyond the above, given the recent bug bash and the list of known issues that has come out of it.

[2022-06-20 11:16] wpdarren commented on #5202
### QA Update: ✅

**Verified:**

- When logged in as an admin or non-authenticated user like editor, the Site Kit widget does not appear on the WP Dashboard or on the admin bar on the FE.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/174590148-2cbe8663-fd95-42c4-9dd4-23219de6a717.png)
![image](https://user-images.githubusercontent.com/73545

[2022-06-20 13:11] wpdarren commented on #5341
### QA Update: ✅

- Went through the QA check list.
- Test sites in gathering, zero and actual data.
- Tested AdSense Setup Improvements with Bug Bash testing steps.

[2022-06-20 13:46] wpdarren opened #5396 "UX/UI issue on small screens when adding roles"
## Bug Description

Odd UX/UI on small screen sizes when you are adding roles on a site that has two admin users. The `Who can manage view access` title appears at the top, but the dropdown appears underneath the user roles.  I was able to recreate on Android and iOS mobile phones.

See screencast.

https://user-images.githubusercontent.com/73545194/174759046-f569b21b-3537-4dc8-9db5-703d102c12a4.m

[2022-06-20 19:56] tofumatt commented on #5396
I tried to recreate this on the iOS Simulator (iPhone SE and iPhone 13 sizes) and Chrome with responsive design.

I couldn't get this to appear—can you verify if it still happens? And if so: the exact dimensions of the browser (what device?).

Thanks! 🙏🏻

[2022-06-20 21:08] tofumatt commented on #5352
@bethanylang Since you originally pointed this out and suggested changes to make it clear that users can't edit these settings, can you check the Acceptance Criteria here and see if they would improve this scenario?

If it's good just leave a comment saying so and feel free to move this over to the Implementation Brief column, but if not please let me know any better wording to use or an approach

[2022-06-20 22:53] tofumatt commented on #5351
Ah, fair enough on the access bit. In that case, looks good!

IB ✅

[2022-06-20 22:57] tofumatt commented on #5360
Is that true even when the "old-style" toolbar in iOS Safari is used? Eg. this one:

<img width="386" alt="CleanShot 2022-06-20 at 23 56 31" src="https://user-images.githubusercontent.com/90871/174686675-aea5e9b5-8ed7-4b45-bd47-04ed7ad3e76b.png">

Is the `46px` amount the toolbar height? I'd imagine that might be variable as well, based on system font size, etc.

[2022-06-21 07:54] Jakeroid commented on #276
Ah, I hope you add this soon.

[2022-06-21 08:33] asvinb commented on #5360
@tofumatt The 46px is the height of the WordPress admin bar. I think 100vh will work in the older style toolbars but not sure about that TBH. That's why to be on the safer side, I recommend we use 100% instead of 100vh.

[2022-06-21 08:54] eclarke1 commented on #4949
@aaemnnosttv is the AC here finalised now we have that URL? Can this move over to IB?

[2022-06-21 09:26] mohitwp commented on #5328
### QA Update ❌

@nfmohit

**Issue**
Feature tour is not showing if screen width is less than 800 PX (mobile devices).
Expected : Feature tour must appear on all screens sizes.

https://user-images.githubusercontent.com/94359491/174765507-d4f2454f-cc0b-4a2c-8f9e-e21c5f51bf3d.mp4

[2022-06-21 09:39] eugene-manuilov commented on #5375
@hussain-t, thanks for the initial approach, but I think it would be better if we implement this functionality as a new selector in the sharing settings datastore. We already have original and changed versions of sharing settings in the store state, so we can compare them and find if changes grand access permissions to more users or not. We can call the new selector something like `haveSharingSett

[2022-06-21 09:49] eugene-manuilov commented on #5370
@tofumatt, shouldn't we display that text only if the current sharing management for the module is set to "only me"? In other words, we should keep showing the same `%s has connected this and given managing permissions to all admins. You can change who can view this on the dashboard` message if the current sharing management is set for all admins, right?

[2022-06-21 09:50] jimmymadon commented on #5328
@mohitwp @nfmohit I've been working recently on a related issue and know that there is a bug which prevents us from using Feature Tours on mobile devices. So this is a known issue and should be fixed as part of #[3003](https://github.com/google/site-kit-wp/issues/3003).

https://github.com/google/site-kit-wp/blob/260d924faae9c6b08531f0441c3f7445f8b1bef6/assets/js/components/Root/index.js#L58-L63

[2022-06-21 09:53] tofumatt commented on #5360
Oh, right on, that makes sense. 😅  In that case: IB ✅