[2021-09-28 15:59] aaemnnosttv commented on #2806
## QA ❌

CSS files are now being generated in the wrong place. Will open a quick PR to fix.

[2021-09-28 16:07] tofumatt opened #4149 "Unified Dashboard: Register widgets in new context "Traffic""
## Feature Description

[As per the design doc](https://docs.google.com/document/d/1StGx76XXisE9MfwM1916D9fn7-H9BRiRgizRejTsecI/edit?pli=1#heading=h.iiduk2mmggv7), there should add the following widgets to the Traffic widget area:

  * All Traffic widget (`DashboardAllTrafficWidget`)
  * New Search Funnel widget (#4122)

---------------

_Do not alter or remove anything below. The following sectio

[2021-09-28 16:11] asvinb commented on #4056
@felixarntz I was chatting with @aaemnnosttv about the current ticket and right now we don't have a way to distinguish between server and client notifications since both sets of notifications get merged when using the `getNotifications` selector.
https://github.com/google/site-kit-wp/blob/43e3866a3a5a523f12ebb27938cc178a6e281a02/assets/js/googlesitekit/data/create-notifications-store.js#L225-L228

[2021-09-28 16:23] tofumatt commented on #4031
I don't think that's correct, because what's exported is an object with a bunch of attributes. In this case the attributes won't be present on the object, but that seems fine—if anything you could check to see if said attribute was `undefined` or not and even conditionally register the widget to the area based on that—though I think using `isFeatureEnabled` is nicer.

Because we can import the def

[2021-09-28 17:25] aaemnnosttv commented on #3546
@eugene-manuilov would you please add a QAB?

[2021-09-28 18:04] jamesozzie opened #4151 "Revise wording during Analytics setup - when a non Site Kit placed snippet is evident"
## Bug Description

When connecting the Analytics module to a site that already have a manually inserted Analytics snippet, the plugin will automatically populate the Analytics dropdown fields. The messaging within the Analytics setup appears as below:

_**An existing Universal Analytics tag was found on your site with the ID UA-*----*. Since this tag refers to the same property you have selected

[2021-09-28 18:58] felixarntz commented on #4056
@asvinb @aaemnnosttv For which client notifications is this store actually currently used, if any? We may just be okay not caring about where exactly a notification comes from and then for example using `dashboard_remote-site-notification` instead of `dashboard_site-notification` as event category. The notification ID would implicitly tell us where it is from, since we know which ones are remote-c

[2021-09-28 19:04] felixarntz commented on #2796
@aaemnnosttv For now that's okay, but it still creates an inconsistency in our datastore where it doesn't accurately reflect the current state. So we should for sure have a `TODO` annotation or some other comment there to clarify. I'd even say we should not remove the module fetching code, but only comment it out and explain why it is commented out. If it wasn't for our particular navigation strug

[2021-09-28 19:32] felixarntz commented on #4087
@kuasha420 Based on the changed requirements in #4085 and #4086, which also affect this one, we'll have to hold off here, I'll move this back to the Acceptance Criteria column.

@eclarke1 @fhollis Based on those changes in the other two issues, we actually have to re-evaluate our options for this one here, so it won't be feasible to work on it this sprint, and it isn't as high of a priority as the

[2021-09-28 19:41] kuasha420 commented on #4087
@felixarntz yes, that's perfect. I figured as much and notified @fhollis about it earlier today. :)

[2021-09-28 19:43] felixarntz commented on #4085
@eugene-manuilov ACs are updated based on what we discussed earlier.

[2021-09-28 19:43] felixarntz commented on #4086
@eugene-manuilov ACs are updated based on what we discussed earlier.

[2021-09-28 19:57] felixarntz commented on #4149
@tofumatt Based on https://docs.google.com/document/d/1OnVv9P5Hbz-owVnzawoO-o37GLTFhyeIyBO6K5YZr38/edit?disco=AAAAP5ukqmA, I thought we would register the new widgets when they're ready, instead of blocking the general widget registration issues from them. Is that not what you meant? I'm thinking we could already move this forward to at least have the area appear correctly (with only the All Traff

[2021-09-28 20:16] bethanylang commented on #4074
Another new topic: https://wordpress.org/support/topic/error-message-translated-page-titles/. Still awaiting more details.

[2021-09-28 20:50] felixarntz opened #4152 "Implement notifications infrastructure layer for unified dashboard"
As part of the unified dashboard epic, notifications will be rendered in a new container connected to the header bar (see #4050). This issue is about introducing the necessary infrastructure for these notifications, which will be separate from all existing dashboard notifications infrastructure, which is still legacy and using JS filters, which we are working our way away from.

---------------

_

[2021-09-28 20:52] felixarntz opened #4153 "Simplify/refactor current notification component"
As part of migrating notifications to the `unifiedDashboard`, the existing `Notification` legacy component should be renamed to a more specific `BannerNotification`. While the component is somewhat messy in its feature set, it should not be refactored, since the banner notifications will be entirely removed in the near future. However, we can remove a few practically unused pieces of code here as

[2021-09-28 20:56] bethanylang commented on #4074
We now have Site Health for two reports:
* https://wordpress.org/support/topic/site-kit-encountered-an-error-49/ – see https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNgXnVLGZ6D0PN6f3y2RcJfNcA5kAiP5_FKtcFit9hTxXSO9N6zEpMO0VDcnKITQtXk
* https://wordpress.org/support/topic/error-message-translated-page-titles/#post-14918280 – see https://docs.google.co

[2021-09-28 20:56] bethanylang commented on #4074
One other note: [this user](https://wordpress.org/support/topic/error-message-translated-page-titles/#post-14918280) is seeing a console error on one of their two affected sites:

`JQMIGRATE: Migrate is installed, version 3.3.2
googlesitekit-vendor.09a03314e181c3acf88e.js:1 TypeError: Cannot read properties of undefined (reading 'load')
    at GoogleChartLoader.t.handleGoogleChartsLoaderScriptLoad

[2021-09-28 20:59] felixarntz opened #4154 "Modify Idea Hub module prompt notification for unified dashboard"
Based on the new component from #4153, the Idea Hub prompt notification should be conditionally (for the `unifiedDashboard` feature) follow the [new UX design based on this Figma file](https://www.figma.com/file/li0bi4Sma7VwApckCAghIa/Notifications-MVP?node-id=620%3A0).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accepta

[2021-09-28 20:59] felixarntz opened #4155 "Implement new module setup success notification for unified dashboard"
Based on the new component from #4153, a new module setup success notification should be implemented with [its new UX design](https://www.figma.com/file/li0bi4Sma7VwApckCAghIa/Notifications-MVP?node-id=620%3A0). Wording for the main text content should differ based on the module that was set up.

---------------

_Do not alter or remove anything below. The following sections will be managed by mod

[2021-09-28 21:00] felixarntz opened #4156 "Modify user input prompt notification for unified dashboard"
Based on the new component from #4153, the user input prompt notification should be conditionally (for the `unifiedDashboard` feature) follow the [new UX design based on this Figma file](https://www.figma.com/file/li0bi4Sma7VwApckCAghIa/Notifications-MVP?node-id=620%3A0).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accep

[2021-09-28 21:26] tofumatt commented on #4124
@felixarntz I'm assuming we don't want to include queries using the GA4 API right now, correct? I'm unclear if this API will work with GA4 properties, but I don't see other components including GA4 report queries so I didn't include it.

If I should add what seems to be the relevant GA4 API property to the ACs, let me know (I think, based on the [Google Analytics 4 API](https://developers.google.c

[2021-09-28 21:36] tofumatt commented on #4123
Makes sense, I think part of the confusion is sometimes referencing the Figma designs which are different from the Design Doc and PRD, and it ends up becoming quite confusing. I think it's happened in the past too 😓

I've updated the ACs to reflect everything mentioned in your comment, so moving this over to IB.

[2021-09-28 21:54] felixarntz commented on #4124
@tofumatt Correct, this should remain only using UA as is, we aren't in a position to support GA4 for reporting yet. I'll remove the "For UA properties" reference from the ACs, it may imply that there is some nuance to consider here in regards to GA4, where I'd say this is just how it has been everywhere else, since we don't have any GA4-based widgets in general yet.

[2021-09-28 22:12] tofumatt commented on #4122
@felixarntz Sounds good—as mentioned I think the mix-up between the Design Doc/PRD and the Figma designs sometimes meant I got these shuffled around in my head—though here I thought I updated this, and maybe I just didn't hit "submit" on my changes or something 😓

At any rate, I've updated the ACs to include the right info for this widget, and include registering it once created. If these ACs look

[2021-09-28 22:27] tofumatt commented on #4149
Indeed, I've modified the new widgets to specify that they should add their registration when ready so this is no longer blocked by the new widget. 👍🏻

[2021-09-28 22:28] tofumatt commented on #4133
I was wondering that too actually, sounds good 👍🏻

[2021-09-28 22:51] tofumatt commented on #4048
The GA events in #4057 only apply once the URL is actually "activated" eg. navigated to. That won't happen as a part of this issue, but rather in #4049.

Everything else in #4058 will already be present here 👍🏻

[2021-09-28 22:51] tofumatt commented on #4049
The GA Events for the URL Search in #4057 should fire here as well, when the URL Search item is clicked and the navigation is triggered.

[2021-09-29 03:01] felixarntz commented on #4122
@tofumatt No worries, looks good now! Only a few comments where I think it could be clarified:

Is that a placeholder? Maybe we should specify something like `assets/js/modules/analytics/components/dashboard/OverallPageMetricsWidget`.

That's not something we've defined before on how it should be, but I think we should rephrase this to not show the entire widget at all if Analytics is not active/c

[2021-09-29 06:58] aaemnnosttv commented on #4056
@felixarntz I don't think we use it for any client notifications right now, but the functionality is there for it, so we didn't want to introduce assumptions that might cause problems later 😄

[2021-09-29 07:20] aaemnnosttv commented on #2796
@felixarntz sure, that sounds good to me. In the future, we'll need to add some additional state for modules, or change how we represent the active state to be more flexible than a simple boolean. IB updated 👍

[2021-09-29 08:17] johnPhillips commented on #4031
Just a note that we discussed the above on a call and it was decided that conditionally exporting the widget constants was unnecessary. I'll strike-through the relevant steps in the IB.

[2021-09-29 08:24] aaemnnosttv commented on #3208
@felixarntz would you please confirm the proposed changes to the wording of the messages?

See https://github.com/google/site-kit-wp/pull/4065/files#r714314465, https://github.com/google/site-kit-wp/pull/4065/files#r714315039

[2021-09-29 08:52] aaemnnosttv commented on #4092
@kuasha420 this would break the edge-to-edge appearance of the idea rows which we should preserve. We can update the ACs to clarify this if needed, but the idea is to preserve the design of the widget and adjust the padding so that the inner content aligns as if it was bound by the normal padding.

What we could do (which might be the simplest) would be to remove the `noPadding` prop on the inner

[2021-09-29 09:03] aaemnnosttv commented on #3996
Thanks @asvinb I think the only thing missing here is that the text value/feedback for the GA4 snippet has no existing tag case – it's only inserted or not as mentioned in the ACs. I'll add a note to make this more clear, otherwise this is good to go 👍

IB ✅

[2021-09-29 09:17] aaemnnosttv commented on #3970
@kuasha420 I think we can simply update this in `OAuth_Client_Base::get_error_message` – it shouldn't need to be specific to only proxy users.

[2021-09-29 10:02] asvinb commented on #4056
@felixarntz Did you mean to use `dashboard_site-notification` instead of `dashboard_remote-site-notification` 😅
I've updated the IB, can you take a look. Also, we can add the tracking calls for when the CTA is clicked and the notification is dismissed in several places, for e.g in `assets/js/components/legacy-notifications/site/mark-notification.js` or `assets/js/components/legacy-notifications/Da

[2021-09-29 10:21] wpdarren commented on #3720
### QA Update: ✅

I was able to recreate the initial issue.  Then when on develop branch and reconnected Optimize, and edited the settings the issue is fixed. Use snippet instructions in the optimize settings no longer flash for a few ms.

[2021-09-29 11:01] wpdarren commented on #4038
### QA Update: ✅

**Verified:**

- In Settings page, the checkboxes are aligned.
- Tested on all screen sizes including mobile and the checkboxes remain aligned.
- Tested on supported browsers via Browserstack

![image](https://user-images.githubusercontent.com/73545194/135254830-63104313-eb39-4717-b769-2d99deed720e.png)

![image](https://user-images.githubusercontent.com/73545194/135255768-d4d7b9

[2021-09-29 11:11] kuasha420 commented on #3970
@aaemnnosttv noted and I will update the IB accordingly.

[2021-09-29 11:13] aaemnnosttv commented on #4125
Thanks @asvinb, just to clarify: we can change `isModuleActive` to `isModuleConnected`, we don't need an extra hook here.

IB ✅

[2021-09-29 11:27] tofumatt commented on #4049
@felixarntz I think these ACs are good but there's one thing I wanted to confirm with you: the GA event we send for the Entity Search navigation. In the old Search Widget on the dashboard we use `trackEvent( `${ viewContext }_urlsearch-widget`, 'open_urldetails' );`, but that seems wrong here. I've suggested `trackEvent( `${ viewContext }_urlsearch-header`, 'open_urldetails' );` (eg. changing the

[2021-09-29 11:37] wpdarren commented on #3850
### QA Update: ✅

Visited the settings panels for Analytics and Adsense, and verified that the copy around the exclusion switches is as per AC.

![image](https://user-images.githubusercontent.com/73545194/135261022-a7f2a9bf-43e7-4c7e-8e07-9a5715e863cb.png)

![image](https://user-images.githubusercontent.com/73545194/135261043-552ec8f0-0444-490d-b725-edb87aa8c6ec.png)

[2021-09-29 13:28] eclarke1 commented on #4074
@bethanylang @felixarntz suggest we re-open this and perhaps move back to the Escalation board for another round of investigation if users are still reporting this not working. Then once we identify an alternative fix, we move it back through the Execution board. Alternatively, we can open a new ticket but perhaps follow this same workflow?

[2021-09-29 13:28] bethanylang commented on #4074
Reopening per the comment above and moving to Escalation L1.

[2021-09-29 13:53] eugene-manuilov opened #4160 "Return full stops back to the insufficient permissions error description"
## Bug Description

![2021-09-29_16-49](https://user-images.githubusercontent.com/873049/135281765-bc397e27-9e02-4095-906b-0a89fea74eb7.png)

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

-

[2021-09-29 14:29] wpdarren commented on #3688
### QA Update: ✅

**Verified:**

- The platform tags from the AC appear in AMP and Non-AMP version of the website when the module is not fully connected.
- The platform tags from the AC appear in AMP and Non-AMP version of the website when the module is fully connected.

I have approved this wanted to highlight the difference between AMP and Non AMP source code, this is expected.

**AMP:**
![image

[2021-09-29 14:45] aaemnnosttv commented on #4125
@asvinb this looks good just a few small details to work out.

No fallback component should be needed. If not provided it should render nothing (we don't need to use `Null` specifically here). I think we may need to update the logic to use `Component && <Component` type logic when returning to avoid trying to instantiate a null/undefined component.

This can be simplified as the `getAdminURL` sele

[2021-09-29 14:47] eugene-manuilov commented on #3569
@tofumatt let's better not change the results of the `getErrors` selector and filter out duplicate errors in the `StoreErrorNotices` component.

We need to clear all module errors when we either close settings or before submitting the settings form.

[2021-09-29 14:51] wpdarren commented on #3546
### QA Update: ✅

Followed the steps in the QAB and confirm that:

- When you select a UA property you see an option to create a new GA4 property.  - [Screenshot](https://user-images.githubusercontent.com/73545194/135293187-7d1d397c-01b7-4af3-9f31-89305a292203.png)
- When submitting the form, you see the permissions dialog and if you cancel the dialog and go to the settings form, you see that the

[2021-09-29 15:00] felixarntz commented on #4049
@tofumatt The ACs look good. For the event we need to use `${ viewContext }_headerbar`, as that is the same category the other header bar items use, and something we care about here specifically is what users interact with the most. I've updated that in the ACs, so this can be moved forward.

One other thing I just came across: Do we already have an issue to introduce new view context constants fo

[2021-09-29 15:02] felixarntz opened #4161 "Remove terms "page dashboard" and "dashboard details" from plugin in favor of "entity dashboard""
The terms "page dashboard" and "dashboard details" both denote the same thing, but now are both "deprecated" in favor of finally having a canonical term "entity dashboard". The codebase should eventually reflect that (at the latest, once the `unifiedDashboard` becomes the only version of the dashboard available).

---------------

_Do not alter or remove anything below. The following sections will

[2021-09-29 15:06] asvinb commented on #4125
Thanks @aaemnnosttv . IB updated. Can you take another look? Thanks!

[2021-09-29 15:07] aaemnnosttv commented on #4125
Great thanks @asvinb 👍

IB ✅

[2021-09-29 15:13] jamesozzie commented on #4074
While not the same dashboard error [one user in the support forums](https://wordpress.org/support/topic/site-kit-encountered-an-error-51/#post-14921280) opened a new topic with the below error, which references the Google Charts library. Awaiting further details.

[code]

[2021-09-29 15:51] felixarntz commented on #4085
@eugene-manuilov IB almost looks good, just one thing:

Per what we've discussed yesterday, which I've also captured in the ACs, let's use both, not the new one instead of the old one. We should only show the is gathering data bit if `isZeroReport && isGatheringData`. While this is likely going to be the same, the report itself should still take precedence. If it is _not_ empty (which is likely no

[2021-09-29 15:53] felixarntz commented on #4086
@eugene-manuilov Similar to https://github.com/google/site-kit-wp/issues/4085#issuecomment-930305921, just one thing:

The result should be used in addition to the `isZeroReport` result, only if both are `true` the "gathering data" state should be displayed.

[2021-09-29 15:59] felixarntz commented on #4056
@asvinb Oh indeed, I meant to use `dashboard_site-notification`, messed up the order in my comment. Can you update the IB to use that category? Other than that, the IB looks good. It was just a bit confusing to read only as the last bullet point that the notification ID must be present in each event - which is correct, but above you also mention it for the `view_notification` event, but then don't

[2021-09-29 16:12] eugene-manuilov commented on #4085
@felixarntz if we use both, then we will keep showing "gathering data" boxes instead of charts with zeros when there are rows in the report with zero values. That's why we need to replace `isZeroReport` with the result of the `isGatheringData` selector.

[2021-09-29 16:14] eugene-manuilov commented on #4086
@felixarntz if we use `isZeroReport` and  `isGatheringData` together, then we will keep showing the "gathering data" state instead of charts with zeros.

[2021-09-29 16:15] asvinb commented on #4031
### QA: ✅

* Widget context and area constants have been added and registered and are inside `DashboardMainApp` and `DashboardEntityApp` in the correct order.

[2021-09-29 16:30] asvinb commented on #4056
Thanks @felixarntz . IB updated as per your comments!

[2021-09-29 16:38] felixarntz commented on #4085
@eugene-manuilov

I don't think that's correct. `isZeroReport` won't change its functionality, so it will return `true` if there are either 0s or no values at all in the _widget's_ report. `isGatheringData` uses its own report per the ACs/IB, so that remains the most significant indicator. The purpose of still having `isZeroReport` is that if a value in there is actually >0, we should display it,

[2021-09-29 16:46] eugene-manuilov commented on #4085
@felixarntz ah... I see what you mean... sorry didn't get it at the beginning. Makes sense to me. IB is updated.

[2021-09-29 16:51] felixarntz commented on #4085
@eugene-manuilov Thanks, no worries. That looks great, IB ✅

[2021-09-29 16:53] felixarntz commented on #4086
@eugene-manuilov IB ✅

[2021-09-29 16:54] felixarntz commented on #4056
@asvinb Thanks - IB ✅

[2021-09-29 16:56] jamesozzie commented on #4015
The original reporter user has provided some useful insights, including a video showing console errors and XHR responses within an [updated Site Health information form](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit?urlBuilderDomain=google.com#response=ACYDBNjpMnA_GHVboWB5yisYXTM7p4L_8bLRycvXw18zMnXy7huC-5MxYE7KJc6YH8SpKzY).

Some additional insights:
- This occ

[2021-09-29 17:12] felixarntz commented on #2796
IB ✅

[2021-09-29 17:54] jamesozzie opened #4165 ""Most Popular Content" table displaying page titles in different languages since 1.42.0"
## Bug Description

Since the release of 1.42.0 there have been reports of unusual page title tiles in the "Most Popular Content" table. The titles of some pages are in different languages, including Chinese and German. In one users case this is occurring on both of their sites.

These sites don't have language variations of their content, or have any language plugin active.

In a screenshot kindl

[2021-09-29 19:16] kuasha420 commented on #3970
@aaemnnosttv the `OAuth_Client_Base::get_error_message` only provides first part of the message `The Site Kit setup was interrupted because you did not grant the necessary permissions`. the second part, `To fix this, redo the plugin setup.` with the hyperlink comes from `Authentication::get_authentication_oauth_error_notice`. where the second part is appended to `get_error_message`.

if we add the

[2021-09-30 00:22] felixarntz opened #4167 "Fix user input notification GA event potentially firing without showing notification"
The `${ viewContext }_user-input-prompt-notification` GA event `view_notification` is currently fired in the `UserInputPromptBannerNotification` component, which is problematic since the notification _may_ not actually be rendered at that point - the inner `UserInputSettings` component contains logic to conditionally return `null`.

---------------

_Do not alter or remove anything below. The foll

[2021-09-30 00:31] felixarntz opened #4168 "Refactor notification for module alerts for unified dashboard"
The `DashboardModulesAlerts` component, which is responsible for rendering any potential module notifications (only used by AdSense at this point), is still using some odd legacy code to get those notifications instead of relying on datastore infrastructure for this purpose. It should be refactored to use each active module's `getNotifications` selector.

Then an equivalent version of it should be

[2021-09-30 01:16] kuasha420 commented on #2796
// Accidentally picked up this ticket thinking it is in the sprint without filtering by current sprint. Oops.

[2021-09-30 01:57] kuasha420 commented on #4059
QA: :heavy_check_mark:

Verified that new tracking events with new category (`adminBar`) are being sent to GA for both action.

LGTM.

[2021-09-30 04:07] oscarssanchez opened #4169 "Error establishing database connection message rendering with "<h1>" tag"
## Bug Description

It looks like the `description` https://github.com/google/site-kit-wp/blob/01e077bfd5a56039942cc010408e257cd006bbc0/assets/js/components/legacy-notifications/cta.js#L51 string comes with an `<h1>` tag. This is probably taken as a literal string, but even if it wasn't It probably does not make sense to have an `<h1>` inside a `<p> `tag

## Steps to reproduce

1. Go to SiteKit da

[2021-09-30 08:53] aaemnnosttv commented on #4074
The problem here is that the global `google.charts` is undefined for some reason, but the `google` global is defined.

The error is raised here https://github.com/rakannimer/react-google-charts/blob/288ce66a2d8e89012305ee3bb5c200fed0a1c9ef/src/components/GoogleChartLoader.tsx#L26

but this is only called once the charts loader script is loaded and `window.google` is set https://github.com/rakannim

[2021-09-30 09:13] aaemnnosttv commented on #3236
@tofumatt `waitForDelay` isn't a valid method, this should be `waitForTimeout` instead.

This looks good to go otherwise so I'll rename this one detail in the IB.

IB ✅

[2021-09-30 09:19] aaemnnosttv commented on #4092
IB ✅

[2021-09-30 09:22] aaemnnosttv commented on #4149
IB ✅

[2021-09-30 09:49] jamesozzie commented on #4074
@aaemnnosttv [One user did confirm](https://wordpress.org/support/topic/site-kit-encountered-an-error-49/) (before 1.42.0) that the issue doesn't occur using the Health Check & Troubleshooting plugin with Site Kit - which deactivates all other plugins and switches to a core theme. I'm awaiting a response from this user on plugin check to try and pinpoint a plugin or theme conflict.

The same user

[2021-09-30 10:31] eugene-manuilov commented on #3569
@tofumatt I think this is redundant, we don't need to clear all errors when we select a different account because fetch requests will clear their errors themselves. Let's clear all errors only when we close the settings form or just before submitting the form.

[2021-09-30 10:38] jamesozzie commented on #4169
@oscarssanchez Thanks for creating this GitHub issue. Before escalating this for the team to review let's check your site setup. From the codebase checks I've been performing I don't see any errors or descriptions output in H1 tags. Would it be possible for you to open a [WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post), where initial user reported issues ar

[2021-09-30 11:39] jamesozzie commented on #4165
The same occurs for [one impacted user](https://wordpress.org/support/topic/most-popular-content-broken-2/#post-14924233) with all plugins deactivated and using a core theme - from a Chrome browser incognito window. Further checks being performed.

[2021-09-30 13:20] johnPhillips commented on #4038
`QA:Eng` ✅

Verified the following locally:
- core/site/data/admin-bar-settings should be preloaded. ✅
- VRTs should pass. ✅

[2021-09-30 13:25] johnPhillips commented on #2806
QA ✅
All of the below seemed present and correct.

- Build the dev version `npm run build:dev` and ensure css and js files load. ✅
- Build the prod version `npm run build` and ensure css and js files load. ✅
- Build the release zip `npm run zip` and ensure it contains the dist/manifest.php. ✅

[2021-09-30 14:10] jamesozzie commented on #4169
I was able to recreate this on a test site today. The error appears in my case in the below scenarios:
- On the primary Site Kit dashboard window in both the "Aquisition" table
- In the main SK dashboard in one of the "Search Funnel" tables (the first Analytics box)
- In the PSI module on the main SK dashboard

None of the above occur consistently and in my case I tested from a hosting platform wh

[2021-09-30 14:17] jamesozzie commented on #4169
@oscarssanchez I'm going to escalate this based on the information kindly you provided and the additional insights gathered. In the meantime if you could share your current hosting provider and your [Site Health information](https://i.imgur.com/Rtkmsba.png) that would be great.

Feel free to [share privately if preferred](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E

[2021-09-30 15:26] wpdarren commented on #3208
### QA Update ⚠️

@kuasha420 I would like some clarification on the QAB please.

According to the ticket description, there's an Adblock message when you are on the AdSense module. When AdSense was set up no Adblock was activated.  Then, an Adblock was activated after Adsense was connected, and the message appeared.

This is not stated in the AC or QAB, but what message should I expect to see in t

[2021-09-30 16:18] #4155 closed

[2021-09-30 16:18] #4135 closed

[2021-09-30 16:23] #4154 closed

[2021-09-30 16:23] #4156 closed

[2021-09-30 16:30] felixarntz opened #4170 "Refactor core site notification component to rely on new datastore actions to accept/dismiss notifications"
The `CoreSiteBannerNotifications` component (see #4153) should be refactored to rely on two new actions to accept or dismiss a notification in the `core/site` datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The `assets/js/components/notifications/CoreSiteBannerNotifications.js` component (move

[2021-09-30 16:31] wpdarren commented on #4125
### QA Update: ✅

Tested the SK WP dashboard widget with ideaHubModule feature on and off

- The CTA only shows when some number of saved ideas are available
- No ideas are requested on WP dashboard when Idea Hub is active but not connected
- The link in the Idea Hub CTA on the WP dashboard links to the Idea Hub widget's saved ideas tab

I also tested the scenario in the ticket, where no scopes we

[2021-09-30 16:37] felixarntz opened #4171 "Refactor setup success notification to take module-specific copy adjustments from datastore"
A `googlesitekit.SetupWinNotification-${ slug }` filter is currently applied to allow other code to replace content in the setup success notification. This should be replaced by a mechanism relying on the respective module's data store.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/analy

[2021-09-30 16:41] felixarntz opened #4172 "Remove unnecessary legacy filters"
There are a few legacy JS filters that should be removed. The respective code shouldn't be further refactored though since it will be eventually removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `googlesitekit.TotalNotifications` JS filter should be removed, as it is unused anyway.
* The `go

[2021-09-30 16:44] johnPhillips commented on #4149
@aaemnnosttv I think, looking again at the AC, that this might inadvertently be blocked by #4122?

I've done the IB and PR to include the All Traffic Widget on the basis that it will be straightforward to register the Overall Page Metrics widget as part of that issue. Hope that's ok?

[2021-09-30 16:56] felixarntz commented on #4149
@johnPhillips @aaemnnosttv That should be good with only the All Traffic widget for now. #4122 is going to cover registering the new widget in here once it's ready. The focus of this issue here is to set up everything in that widget context which we already have.

[2021-09-30 17:06] wpdarren commented on #3781
### QA Update:  ✅

- "Impressions" column is hidden on `Performance by Page over the last X days table` on Adsense Module.
- Tested this on various iOS and Android devices.  - [Screenshot](https://user-images.githubusercontent.com/73545194/135499760-1cf23bce-d593-4dbb-9b55-e4a4f663e87d.png)

[2021-09-30 18:46] eugene-manuilov commented on #3208
@wpdarren I assume you should see the `Ad blocker detected, you need to disable it to get the latest AdSense data.` on the AdSense module page if the AdSense module is already connected.

[2021-09-30 20:12] bethanylang commented on #4165
Moving to L1; @jamesozzie leaving a note for you in Asana now.

[2021-09-30 21:39] kmwilkerson opened #4174 "Detect if AMP is used in order to prevent placement of both GA and GTM scripts"
## Bug Description

Even if AMP is not used on a site, the Site Kit GTM connection still requires an AMP container. If not selected, it automatically creates one. If the user does not know to go into this new auto-created container and set up the GA tag/trigger, the Site Kit GTM connection errors out and places **both** the standard/non-AMP GTM container script and the GA script (from the GA conne

[2021-10-01 01:03] oscarssanchez commented on #4169
Hi @jamesozzie ,

Thanks, I have filled the questionnaire.

Personally, I think the error is expected, but what perhaps is not an expected behavior is that the response(?) stored in the `description` variable comes with some extra html

Let me know if I can provide more details. I'm also happy to submit a PR if you don't have the bandwidth/resources to tackle it, as It is probably not super concer

[2021-10-01 01:43] kuasha420 commented on #4055
QA: :heavy_check_mark:

1. Ensued that GA Tracking Event `tracking_option` with the category `settings` is being sent when toggling the Tracking Settings Checkbox.
2. Verified by following the QAB
3. Also verified using Google Analytics Debugger.

LGTM.

[2021-10-01 07:03] aaemnnosttv commented on #3208
@wpdarren @eugene-manuilov It seems the warning on the module page was lost in the migration to using the widget-based dashboard in 1.38.0, although the same can be seen with the feature flag enabled in 1.37.0 (without it the warning shows). The `ModuleSettingsWarning` component is no longer shown on the module dashboard which is where this would have been shown before. I don't recall if this was

[2021-10-01 09:29] aaemnnosttv commented on #3449
@felixarntz This looks good to me overall. Should we include a section about its limitations/requirements for using it? Perhaps this might mostly link to "Setting up a local development environment" but it also relates to use on a [staging site](https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/).

[2021-10-01 09:31] eugene-manuilov commented on #4048
We need to use the `useFeature` hook instead of `isFeatureEnabled`.

We need to make changes in the new `DashboardEntityApp` and `DashboardMainApp` components. The current `DashboardApp` and `DashboardDetailsApp` should remain the same.

Let's create a new component for it instead of adding button and input elements directly to the `DashboardApp` component.

[2021-10-01 09:43] jamesozzie commented on #4169
Many thanks for sharing your [Site Health information](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit?urlBuilderDomain=google.com#response=ACYDBNjFDKuKmaant6do-rixddLnJ186FpvvAhS2O5FicM7W0RgojTmi4_WyTjprPXoX9VY).

Correct. I'm unsure why the tag is output but the team will review this and provide an update here. They'll also be able to provide any suggestions on

[2021-10-01 13:08] wpdarren commented on #3304
### QA Update: ✅

- Can confirm that the layout shift does not occur.
- Both of the checkboxes on the admin settings page show a spinner as they load.

I cleared the session storage and waited around 15 seconds.
The spinner appears very quickly but caught it on the screencast here.

https://user-images.githubusercontent.com/73545194/135624460-58373833-feb1-4956-95ee-c70139f692c8.mp4

[2021-10-01 13:15] #4174 closed

[2021-10-01 13:52] wpdarren commented on #3208
### QA Update: ⚠️

@aaemnnosttv @eugene-manuilov @felixarntz

I want to make sure I have not missed anything here.

1. When AdSense is not set up, but Adblocker is enabled, I see the message `Ad blocker detected, you need to disable it in order to set up AdSense.` on the 'Connect more Services' and Site Kit Dashboard CTA banner when you connect Site Kit.  - [Screenshot 1](https://user-images.githu

[2021-10-01 13:56] wpdarren commented on #4006
### QA Update: ⚠️

@eugene-manuilov any ideas what version of SK I will need to be on to trigger the `widget tooltip tour`?  It references it in the AC here. I know what tasks need to be completed to trigger it, just couldn't remember the version. 🤦

[2021-10-01 14:30] kmwilkerson commented on #4174
@jamesozzie I'm on the Newspack team at Automattic where I'm seeing this issue on several of the sites on our platform. The sites in question don't even have the AMP plugin installed. The one thing to note is that Newspack sites are built using some of the AMP framework -- could this be leading to the detection of "AMP-ness"?

[2021-10-01 14:48] wpdarren commented on #4007
### QA Update: ❌

@kuasha420 I'm not seeing `cancel_module_settings` triggered when I click on the 'cancel' link when editing any of the module settings.  I am seeing `cancel_module_settings` event when I click on the `Close` button, i.e. in PageSpeed though.

![image](https://user-images.githubusercontent.com/73545194/135638857-58f16d1a-ef91-4583-a676-f958960d2ee1.png)

@felixarntz I couldn't see

[2021-10-01 15:16] jamesozzie commented on #4174
Hi @kmwilkerson,

In that case let me check this with a sample Newspack setup. From previous checks I think AMP is one of the plugins suggested during setup however if users don't have this active you're correct that this shouldn't result in an AMP container dropdown field when connecting Tag Manager.

I'll check back with you here after some testing.

[2021-10-01 16:06] jamesozzie commented on #4169
One additional report, for this impacted user this is occurring within the AdSense widget:
- https://wordpress.org/support/topic/site-kit-cannot-display-adsense-data  | **Open** | Awaiting Site Health information

[2021-10-01 16:07] eugene-manuilov commented on #3208
@wpdarren, yes, both statements are correct. We need to figure out why we don't see the second message on the AdSense module page. I think we can consider this ticket as such that is not passed QA.

[2021-10-01 16:11] eugene-manuilov commented on #4006
@wpdarren we only have a tooltip tour for the All Traffic widget and it's version is `1.25.0`. There is no widget tooltip tour for the PSI widget although it was mentioned in AC :man_shrugging:.

[2021-10-01 16:41] felixarntz commented on #3449
@aaemnnosttv Great idea! I added an extra sub-heading level item that goes into more depth for the exact requirements and in that also hints at what this means for local setup. It will mostly be a brief mention for the latter though and then point to the (future) article about the local development setup.

[2021-10-01 17:06] felixarntz commented on #4007
@wpdarren The `cancel_module_settings` should indeed happen on _either_ the "Close" or "Cancel" button (which technically do almost the same thing, it's just that the label is different for modules where there are no settings. So it looks like that indeed needs to be fixed @kuasha420

This is correct as is. All the `*_module_settings` events are to compare interactions in the UI, whereas the `deac

[2021-10-01 17:35] kuasha420 commented on #4007
@felixarntz Understood. This was not covered in the IB but I think just using the same `onClick` Handler for Cancel button would be sufficient. Is that correct?

CC: @eugene-manuilov

[2021-10-01 17:43] felixarntz commented on #4007
@kuasha420 I think so, except it wouldn't need the `history.push` (https://github.com/google/site-kit-wp/pull/4102/files#diff-35a209af9b8af36a7078eba599222127fa6ef4c9bdaa8b38b5dfecfdd685a2ceR85) since the "Cancel" button is a link that does that anyway.

[2021-10-01 19:43] kuasha420 opened #4178 "AdSense Module Page no longer shows Adblocker warning message."
## Bug Description

When AdSense module is connected and an adblocker is enabled, the AdSense Module Page used to show a warning message. This is no longer the case.

## Steps to reproduce

1. Connect AdSense module fully.
2. Enable AdBlock Plus.
3. Go to AdSense Module Page.
4. See that there no adblock warning message.

## Screenshots

As It Stands

![1.38.0](https://user-images.githubuserconten

[2021-10-01 19:45] kuasha420 commented on #3208
Created a new issue to track this issue. I think we can add that as a blocker for this one.

https://github.com/google/site-kit-wp/issues/4178

[2021-10-01 23:30] jamesozzie commented on #4174
Hi @kmwilkerson

I've performed the following checks with the Newspack theme (1.49.0), the Newspack plugin (1.59.0, when connecting Tag Manager within Site Kit:
- Newspack theme, with no other plugins active - [Only a web container](https://i.imgur.com/NjjS1KX.png) dropdown appears
- Newspack theme & Newspack plugin active but the setup steps not complete within the Newspack plugin (Demo content n

[2021-10-02 03:58] kuasha420 commented on #4092
// just assigning this one to myself as I'd like to work on it when it's get into a sprint.

[2021-10-04 07:45] aaemnnosttv commented on #3449
IB ✅ 👍

[2021-10-04 07:51] aaemnnosttv commented on #3208
Thanks @kuasha420. While this issue was originally defined referring to the module page, the issue is more about the message being consistent in all locations, under the same conditions. IMO, we should redefine this issue to not be specific to the module page and fix that in the follow-up issue, it shouldn't block this one. Assigning to @felixarntz to give the final word.

[2021-10-04 09:13] jamesozzie opened #4180 "AdSense Console Error appearing on sites with the AdSense snippet placed via Site Kit: adsbygoogle.push() error: Only one ‘enable_page_level_ads’ all"
## Bug Description

We've had reports of the below console error appearing on sites that are approved at AdSense level. From testing on support side can occur when the AdSense snippet has only been inserted via Site Kit, and no other snippets are present, not even single ad units.

This may have been a regression since #3783, with the users impacted reporting this since approximately that time.

`

[2021-10-04 10:26] jamesozzie commented on #4180
This console error is also evident when checking user sites with the AdSense snippet place via Site Kit. See below support topics, both sites indicated within these topics exhibit the same console errors:
- https://wordpress.org/support/topic/issue-with-connecting-adsense
- https://wordpress.org/support/topic/getting-errors-since-latest-update

Note that the support topics were not based on this c

[2021-10-04 12:02] eugene-manuilov commented on #4165
Looks like Google Analytics somehow tracks pages translated by Chrome and then we pick this information by accident when we try to aggregate page views by page URLs. I think we can fix it by adding `orderby` to sort page titles by page views descendently. In this case, even if there are records with translated titles, they will be ignored because their page views should be much lower than for the

[2021-10-04 12:12] eugene-manuilov commented on #4165
@aaemnnosttv can you check my AC?

[2021-10-04 12:29] eugene-manuilov commented on #4007
@wpdarren this is ready for another pass.

[2021-10-04 12:53] wpdarren commented on #4007
### QA Update: ✅

**Verified:**

`settings_module-list`, event label appears on all:
`view_module_settings` whenever the user expands a module's settings panel.
`close_module_settings` whenever the user collapses a module's settings panel.
`edit_module_settings` whenever the user clicks on the "Edit" button within a module's settings panel.
`update_module_settings` whenever a module's settings hav

[2021-10-04 13:14] wpdarren commented on #4006
### QA Update: ✅

The `all_traffic_widget` GA event category is renamed to {`viewContext}_all-traffic-widget` across all usages.
The `pagespeed_widget` GA event category is renamed to `{viewContext}_pagespeed-widget` across all usages.

[2021-10-04 13:16] wpdarren commented on #3304
QA Update: ✅

With a fresh pair of eyes, I can see that the checkboxes are aligned.

**Verified:**

- Can confirm that the layout shift does not occur.
- Both of the checkboxes on the admin settings page show a spinner as they load.
- Additional QA: disabled the checkboxes, cleared session storage and refreshed the page. No issues.
- Additional QA: enabled the checkboxes, cleared session storage a

[2021-10-04 13:49] wpdarren commented on #3996
### QA Update: ✅

**Verified:**

The `Universal Analytics Code Snippet` and `Google Analytics 4 Code Snippet` correctly reflect the state of the snippets. I set the settings to different combinations: Both UA & GA4.  Just GA4 and vice versa. Disabled GA4 and UA.  I also made sure that the changes made in the settings were updated in the source code of the FE.

![image](https://user-images.githubus

[2021-10-04 14:01] asvinb commented on #4049
@tofumatt

Displaying the `PreviewBlock` component beneath the input text looks a bit weird when I tested. How about a more subtle animation which is displayed where the magnifying/close icon is displayed?
![image](https://user-images.githubusercontent.com/31818/135865067-c8a8a5bc-20fb-4af4-9a40-c788d0339c91.png)

[2021-10-04 14:25] jamesozzie opened #4181 "An error occurred while running ‘mapSelect’: Cannot read properties of null (reading ‘getWidgetState’)"
## Bug Description

One user in the support forums is encounter the below in all their Site Kit dashboard tabs:

[code]

The plugin was working previously as expected. Further details below:

<details>
<summary>
Console Errors:
</summary>

[code]
</details>

## Additional Context

 - [Support topic](https://wordpress.org/support/topic/site-kit-not-working-anymore/#post-14935824)
 - [Site Health in

[2021-10-04 14:32] aaemnnosttv commented on #4165
@eugene-manuilov ACs LGTM (I think we were planning on making this change anyways) – were you able to confirm that Google translate is the cause here or are we assuming?

[2021-10-04 14:38] eugene-manuilov commented on #4165
@aaemnnosttv unfortunately, I wasn't. That's my best hunch.

[2021-10-04 14:44] wpdarren commented on #4149
### QA Update: ⚠️

@tofumatt I'd just like to highlight two observations.

1. With `unifiedDashboard` feature flag enabled, and when AdSense is not activated, there is a modal for `Additional Permissions Required` related to AdSense. To get by this, I had to enable AdSense on the tester plugin and connect. Is this expected at this stage?

![image](https://user-images.githubusercontent.com/73545194

[2021-10-04 14:47] aaemnnosttv commented on #4165
Thanks @eugene-manuilov, it sounds reasonable but I'm not sure we should use this as the AC for this issue in particular without knowing that it would solve the problem. Maybe we should do this anyways in a separate issue and follow it here?

Thoughts @felixarntz ?

[2021-10-04 14:56] aaemnnosttv commented on #4124
LGTM, but let's give it a little more time for CR + QA. I'll bump it to a 7 👍

IB ✅

[2021-10-04 14:57] felixarntz commented on #4149
@wpdarren Your first point looks valid, this shouldn't be happening, so needs to be fixed. Your second point is expected, when looking at the results for a single URL (entity dashboard), the AdSense widgets should not be present, as those only work for the entire site level.

@tofumatt That AdSense widget probably needs to receive the `whenActive` treatment, which I assume it didn't have before ju

[2021-10-04 15:31] felixarntz commented on #3208
@aaemnnosttv @kuasha420 Not sure if I understand correctly - did the warning on the module page get broken by the changes in this very issue? If so, I'd say it shouldn't even be a new issue, but rather go into a follow-up PR of this one - while that point wasn't mentioned in the ACs explicitly, there shouldn't be any breakage of course :)

[2021-10-04 16:45] felixarntz commented on #3208
@wpdarren @aaemnnosttv @kuasha420 Per our conversation in the meeting, this can be considered done. Let's prioritize #4178 for next sprint. cc @eclarke1 @fhollis

[2021-10-04 16:46] felixarntz opened #4182 "Avoid refreshing token on non-Site Kit screens"
In #3477, we improved the way refresh tokens are refreshed: By doing it proactively, we avoid an excessive number of redundant refresh requests happening at the same time. However, that implementation also added the proactive refresh regardless of the admin screen, which now causes it to happen way more often than before, thus in a way having adverse effects.

We should only do this proactive refr

[2021-10-04 16:52] ivankruchkoff commented on #4049
Take a look at IB for #4048 as it also covers `assets/js/components/EntitySearchInput.js`

[2021-10-04 16:53] tofumatt commented on #4049
A note that we might want to adjust the IB in #4048 based on this IB, just making a note here for me to review it and make sure these don't overlap too much (and that they align).

[2021-10-04 17:05] jamesozzie commented on #4174
@kmwilkerson Just following up with you on this. As some users are being asked to select an AMP container due to the AMP plugin active upon following the standard Newspack plugin setup wizard do you think a new feature allowing users not to select any AMP container would be of benefit for your users? That way users could choose to not include any Tag Manager snippet for their AMP URLs.

![image](h

[2021-10-04 17:10] aaemnnosttv opened #4183 "Release 1.43.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-10-04 17:23] aaemnnosttv commented on #3208
@felixarntz I've updated the title and ACs here to reflect our discussion earlier for this to focus purely on the consistency.

[2021-10-04 19:44] felixarntz opened #4185 "Send Site Kit area indicator in proxy communication"
The requests to the proxy should include an indicator from which area of Site Kit they are being sent. Since some requests to the proxy are made using `wp_remote_request` and others made using the `Google_Client`, the same change needs to be implemented in both places.

A potentially viable approach is to send the URL as referer, or we could rely on the "view context" concept which already exists

[2021-10-04 19:47] felixarntz commented on #4185
@aaemnnosttv @ThierryA I think a solid approach for this would be to rely on the concept of "view contexts" which we already have in JS. We could send the current view context with the request (e.g. `dashboard`, `wpDashboard`, `settings`, `adminBar`, etc.). This approach would allow even more accuracy than URL (e.g. it would allow to differentiate between current dashboard and the "unified" dashbo

[2021-10-04 22:50] felixarntz opened #4187 "Scaffold WPCS repository with ruleset foundation (without actual sniffs)"
This is the first issue related to the new external https://github.com/GoogleChromeLabs/wpcs-core-extra-sniffs repository, which is going to be a Composer-installable PHP package with additional sniffs that are based on WordPress core coding standards, which however aren't enforced in WordPress core. Per #924, we wish to enforce them for Site Kit though, and it was decided to build a separate repo

[2021-10-04 22:53] felixarntz commented on #924
Moving this back to _Backlog_ as we now have the new repository and #4187 as a prerequisite so this can soon move forward.

[2021-10-04 22:58] felixarntz commented on #4180
@aaemnnosttv We also noticed this with the AdSense team while testing the platform tag rollout (#3688) and assumed it was related to that, but it looks like it's unrelated. In that case we should consider this a critical bug - not sure if something changed in the AdSense JS codebase, or did we make any recent change that could cause this?

[2021-10-04 23:39] kuasha420 commented on #4057
QA: :heavy_multiplication_x:

This did not quite pass. See the following.

* :white_check_mark:   `click_outgoing_links` events are being fired with the correct `{viewContext}_headerbar_helpmenu` event category with the `viewContext` being correctly inferred as `dashboard`. `module` and `pageDasboard` accordingly.
* :x: `open_urldetails` is firing with just the `dashboard` as category instead of `

[2021-10-05 04:44] yogeshbeniwal commented on #4180
@felixarntz @aaemnnosttv @jamesozzie Please see #4070, this pull request resolve this error.

[2021-10-05 07:17] ThierryA commented on #4185
@felixarntz SGTM, I assume when we then have request coming from post view with future integration that context would be added to the list right?

[2021-10-05 07:59] swissspidy commented on #924
Just stumbled upon https://github.com/GoogleChromeLabs/wpcs-core-extra-sniffs & this issue.

Are you planning on submitting some of these rules to WPCS directly? Seems like most of them would be happily accepted there as they also apply to core.

[2021-10-05 09:19] aaemnnosttv commented on #4185
@felixarntz @ThierryA – I've added tentative ACs and a draft IB which are currently independent of the specific value we use.

I like the idea of using the view context for the reasons Felix mentioned, although the problem with relying on `WP_Screen` IDs is that the client is being set up right now on `admin_init` which is before the current screen is set or knowable due to dependent globals which

[2021-10-05 10:23] eugene-manuilov commented on #4057
Good catch, @kuasha420. I have created a new pull request that fixes the GA event category issue. @aaemnnosttv do you mind reviewing #4188?

@kuasha420 try to delete dismissed feature tours for your user.

I'll update that ticket to reflect the required changes in the URL search component.

[2021-10-05 10:27] eugene-manuilov commented on #4048
@kuasha420 i see you are already working on this ticket. Please, add the correct event tracking to the new `EntitySearchInput` component as described for the existing `URLSearchWidget` component in the #4057.

[2021-10-05 11:13] wpdarren commented on #3208
### QA Update: ✅

As per conversation, this ticket is verified:

When AdSense is not set up, but Adblocker is enabled, I see the message `Ad blocker detected, you need to disable it in order to set up AdSense.` on the 'Connect more Services' and Site Kit Dashboard CTA banner when you connect Site Kit.  - [Screenshot 1](https://user-images.githubusercontent.com/73545194/135631160-5ffd54ef-dddb-45b8

[2021-10-05 11:56] eugene-manuilov commented on #4165
IB :heavy_check_mark:

[2021-10-05 11:58] eugene-manuilov commented on #4182
IB :heavy_check_mark:

[2021-10-05 13:57] felixarntz commented on #924
@swissspidy Eventually, yes. We wanted to start them in their own repository though to be independent of WPCS itself. It would also allow us to "prove" them in the wild (in Site Kit) before proposing them for merge.

[2021-10-05 14:25] aaemnnosttv commented on #4057
@eugene-manuilov the follow-up PR has been merged 👍

@kuasha420 would you please give this another pass on `main`?

[2021-10-05 14:26] tofumatt opened #4189 "Add a useDashboardType() hook"
Several components in the new, Unified Dashboard would benefit from a simple hook with minimal boilerplate to get the current dashboard context. We currently use: https://github.com/google/site-kit-wp/blob/82bff604d15d31755c4266b715a5578ccc71a3c1/assets/js/components/FeatureTours.js#L28-L34 but simplifying this further with a `useDashboardType()` hook that returned either `DASHBOARD_TYPE_MAIN` or

[2021-10-05 14:39] eugene-manuilov commented on #4160
@aaemnnosttv it was removed as part of the work for #2597 (see here: https://github.com/google/site-kit-wp/pull/3316/files#diff-8e4815a7647006d9aea19dc2447a736e048c3ec903b9babb2af7934d3a06d451).

[2021-10-05 14:54] wpdarren commented on #4106
@asvinb as per our conversation, I am unable to recreate this.  I do vaguely remembering that it used to take a few seconds before the GA4 account appeared, but not noticed this recently.  For me it loads straightaway when testing now.

[2021-10-05 14:56] asvinb commented on #4106
Thanks @wpdarren . @felixarntz I was unable to recreate the issue as well. Can you confirm you can still see the issue on your end? If so, can you post a small video?

Thanks!

[2021-10-05 17:13] eugene-manuilov opened #4191 "Explore the possibility to use the react grid layout library for our widgets layout"
## Feature Description

There is a library that we can probably leverage to build our widgets layout instead of maintaining our own solution for it: [react grid layout](https://github.com/react-grid-layout/react-grid-layout). That library also allows dragging and resizing widgets that might be helpful for our customizable dashboard feature.

---------------

_Do not alter or remove anything below.

[2021-10-05 17:36] eugene-manuilov opened #4192 "Update backend to use the dependency injection approach"
## Feature Description

Currently, if we check our PHP codebase, we will see that we have a lot of tough coupled code and many controversial decisions there. This is our technical debt that was added as a result of an intention to implement new features quicker without spending too much time thinking about architecture. But as we grow, this technical debt becomes a burden that prevents us from imp

[2021-10-05 17:40] felixarntz commented on #4151
@marrrmarrr @jamesozzie I suggested a simplified copy change in the ACs. The originally suggested text is a bit inaccurate because while there is an Analytics tag, we shouldn't say that it is already connected yet (which is only the case after setup). I think just removing the "you have" makes this less confusing - it can be either the user or Site Kit itself that selects the property here, so by

[2021-10-05 17:46] eugene-manuilov opened #4193 "Explore the possibility to use Codeception as our framework of choice for e2e tests"
## Feature Description

The current e2e approach that we use for our tests has a few drawbacks that make the work with e2e tests more complicated. In theory, if we spend some time, we could implement something more developer-friendly than what we have right now. But why do we need to spend time on DIY solutions if we can switch to the Codeception framework that has already implemented a lot of too

[2021-10-05 17:58] felixarntz commented on #4106
@asvinb @wpdarren This is still happening for me as before, on latest `develop`. I've attached a screencast. It takes only a short moment, but still, you can clearly see how it initially shows "Set up a new property" and only then it shows the match. Instead, it should show a loader before the matching logic has completed.

https://user-images.githubusercontent.com/3531426/136077322-7ddcbd82-0e12-

[2021-10-05 18:03] felixarntz commented on #4185
@ThierryA @aaemnnosttv This requires further discussion on the ACs and whether it's even the right approach to our goal, as discussed earlier. From a technical perspective, we should be able to find a solution to your concerns above @aaemnnosttv, but I'm not sure adding this value will gives us what we're interested in in the first place.

@eclarke1 Due to the above I think this is not feasible to

[2021-10-05 18:25] kuasha420 commented on #4057
QA: :heavy_check_mark:

Tested on `main`. LGTM!

* :white_check_mark:   `click_outgoing_links` events are being fired with the correct `{viewContext}_headerbar_helpmenu` event category with the `viewContext` being correctly inferred as `dashboard`. `module` and `pageDasboard` accordingly.
* :white_check_mark: `open_urldetails` is firing with the `dashboard_urlsearch-widget` as category instead of

[2021-10-05 19:01] felixarntz commented on #4180
@aaemnnosttv @jamesozzie I've tested this locally, and it's indeed caused by #3783, where I guess we missed catching that console error.

Removing the inline script resolves it, and this is indeed the requirement, as that inline script is no longer specified in the auto ads code snippet to use (which I confirmed via [the AdSense Management API endpoint](https://developers.google.com/adsense/manage

[2021-10-05 20:06] felixarntz commented on #4180
@aaemnnosttv Actually, I've just learned that since this will go out together with #3688 we should no longer provide the `tag_partner` argument. I've updated that in the ACs.

[2021-10-05 20:13] felixarntz commented on #3688
@eclarke1 @aaemnnosttv It's now confirmed that this can go out in 1.43.0 as planned - so we don't need to create another issue to comment out that code. 👍

[2021-10-06 03:09] cole10up commented on #4014
### **QA ✅**

**Tested**

Confirmed the bug here:
![image](https://user-images.githubusercontent.com/57115907/136134415-f5237383-6f22-4852-8034-581dae9ff685.png)

Reset and ran the same test to pop the issue above. Confirmed the fix:
![image](https://user-images.githubusercontent.com/57115907/136134532-ac0a8016-c127-4df5-a3b7-2a81e1f0b197.png)

Continued to setup all modules to confirm no other is

[2021-10-06 06:39] aaemnnosttv commented on #4180
IB ✅

[2021-10-06 06:40] ivankruchkoff commented on #4080
✅ LGTM AdSense ModuleOverviewWidget and DashboardTopEarningPagesWidget have new areas added.

[2021-10-06 07:35] aaemnnosttv commented on #4058
@eugene-manuilov would you please add a QAB?

[2021-10-06 08:18] asvinb commented on #4049
@tofumatt If we are to put the indicator next to the close button, it should be positioned within the input text similar to the close icon which led me asking whether if we add the indicator next to it, it will just take some unnecessary space within the text input. So I thought about 2 possible solutions:

1. ![image](https://user-images.githubusercontent.com/31818/136165558-a08e6e27-20d0-41c2-8b

[2021-10-06 08:22] aaemnnosttv commented on #4082
After further review, it seems that we probably shouldn't allow for the GTM snippet to be disabled via its settings as this essentially soft-disables its entire functionality and further complicates the integration with Analytics. I thought we had an old issue for this which we decided against at the time, but was unable to find it.

@felixarntz if we were to remove this setting, it could make for

[2021-10-06 08:42] tofumatt commented on #4049
I definitely prefer the subtle loading indicator (option 1), especially for mobile screens where the autocomplete will really dominate the whole screen. I think it's visible enough and it's fine that it's subtle. Let's go with that option where it's below the icon, I think that's really slick. 👍🏻

[2021-10-06 09:56] eclarke1 commented on #3449
@aaemnnosttv please could we add an estimate to this one? I understand it's writing documentation so let's consider a round of review and iteration also. cc @fhollis

[2021-10-06 09:57] eclarke1 commented on #4087
@felixarntz did we have a path forward for this one yet at all? Wondering if it's something we want to get into Sprint 60 as it will help the Zero Data State epic as a whole? cc @fhollis

[2021-10-06 10:52] jamesozzie commented on #4074
@aaemnnosttv No updates as of yet. I've followed up with the below today, hopefully we'll get some additional insights. I'll also review the setup of each.

- https://wordpress.org/support/topic/site-kit-encountered-an-error-49/page/2| Open | [SH info](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNgXnVLGZ6D0PN6f3y2RcJfNcA5kAiP5_FKtcFit9hTxXSO9N6zE

[2021-10-06 11:09] aaemnnosttv commented on #3449
@eclarke1 Added!

@felixarntz let me know what you think. I don't think it would be more than 11 but that also sounds like a lot for a document. Then again, we haven't done any of these yet and this is one of the more complex articles to write.

[2021-10-06 11:14] aaemnnosttv commented on #4074
Thanks @jamesozzie – looks like those resolved issues were just abandoned with no SH info so that doesn't help too much unfortunately. Let me know if you find anything else! 👍

[2021-10-06 11:23] eugene-manuilov commented on #3807
IB :heavy_check_mark:

[2021-10-06 13:07] #4021 closed

[2021-10-06 13:15] kuasha420 commented on #4180
@eugene-manuilov oops sorry! Created a new PR against main. Can you check? Thanks.

[2021-10-06 13:31] kuasha420 commented on #4048
@eugene-manuilov Wouldn't it be better to add the tracking event on #4049 as that's where the EntitySearchComponent will be properly implemented? These cross ticket IBs made me a little confused!

[2021-10-06 13:54] eugene-manuilov commented on #4086
@kuasha420 could you please add QAB?

[2021-10-06 14:46] felixarntz commented on #3449
@aaemnnosttv 7 sounds good to me generally, I'd imagine 3-4 hours for the actual writing and then some buffer for review and iterations. Since this is one of the very first, I'm going to put 11 just to be safe. The first posts may need to be scrutinized more than later ones, to set a good example for the later ones.

@eclarke1 I actually intend to work on this one myself, so maybe we can already g

[2021-10-06 14:53] felixarntz commented on #4087
@eclarke1 This one is a lower priority for now - we still need to figure out how to handle this. But it shouldn't block the zero states work.

[2021-10-06 14:55] eclarke1 commented on #3449
Certainly, the others are in IB so I will loop in @fhollis here to see if we can get another pushed through for Sprint 60. Thanks.

[2021-10-06 15:16] eugene-manuilov commented on #3569
@tofumatt ah... yes, I think you are right. Okey, then looks good to me.

[2021-10-06 15:18] eugene-manuilov commented on #3569
IB :heavy_check_mark:

[2021-10-06 15:23] felixarntz commented on #4082
@aaemnnosttv How about for now we keep the setting technically, but remove the UI for it? Like:
* If `useSnippet` is enabled "on pageload", don't show the control to disable it at all.
* If `useSnippet` is disabled "on pageload", show the control as is. If the user then enables it and saves, keep showing it, but don't show it again when they come back later or refresh the URL.

The latter may stil

[2021-10-06 15:48] eugene-manuilov commented on #4172
IB :heavy_check_mark:

[2021-10-06 17:58] kuasha420 commented on #4182
QA: :heavy_check_mark:

Made sure that,
* After resetting the token creation time, no refresh token request was sent while on Non Site Kit page.
* Refresh token endpoint was hit when navigating to Site Kit Dashboard.
* Again resetting the token creation time and waiting on the dashboard page refreshed the token again in ~5 minutes.

![Screenshot_20211006_233725](https://user-images.githubuserconte

[2021-10-06 18:29] kuasha420 commented on #4056
@eugene-manuilov AC has been updated by @felixarntz. It is ready for another review.

[2021-10-07 11:10] aaemnnosttv commented on #4149
Back to you for another pass @wpdarren 👍

[2021-10-07 14:50] aaemnnosttv opened #4201 "Run E2E verbosely"
## Feature Description

By default our E2E test runs output a high-level result with one line per "suite" like so:

[code]

This is okay, but it hides all of the tests that are done which can be useful to review in a single list for stakeholders, or less technical folks.

By running the tests verbosely, we can get a little more output as to what we're specifically testing rather than just pass or

[2021-10-07 15:09] aaemnnosttv commented on #4181
@jamesozzie interesting that you were able to reproduce it as well. It's the same 403 error on the JS asset file. The restriction could be applied outside of htaccess as well (e.g. WAF at CDN).

You can see the file is blocked when requesting directly:

https://wexico-w065c2.preview.wpmanaged.nl/james/wordpress/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-widgets.dba9c49d296aa3e

[2021-10-07 15:36] eugene-manuilov commented on #4048
@kuasha420 could you please add QAB?

[2021-10-07 15:44] tofumatt commented on #4152
IB ✅

[2021-10-07 15:48] #3996 closed

[2021-10-07 16:02] #3208 closed

[2021-10-07 17:11] #3850 closed, assigned to nobody

[2021-10-07 17:20] #4059 closed

[2021-10-07 17:24] #2806 closed

[2021-10-07 17:35] #4182 closed

[2021-10-07 17:36] #1884 closed

[2021-10-07 20:46] tofumatt commented on #4183
I didn't see those PageSpeed errors. Any chance you were testing on Jurassic Ninja? I noticed it giving me a fair number of 500 errors recently, so maybe it was the Jurassic Ninja server causing the issue?

I tested PageSpeed a few times on different sites and didn't see the error above. All looked good to me so QA ✅ on my end.

[2021-10-08 01:52] cole10up commented on #4058
### **QA ❌**

**Tested:**

Working through Google Analytics debugger in the console clicking the following (Replaced IDs with XXX):

Open User Menu displays:
analytics.js:26 Running command: ga("gtag_XXX.send", {dimension1: "http://supremeqa.com", dimension2: "true", dimension3: "XXX", dimension4: "1.43.0", dimension5: "swgModule", hitCallback: [function], hitType: "event", eventCategory: "setting

[2021-10-08 06:59] aaemnnosttv commented on #4181
@jamesozzie I'm going to move this forward as we were able to identify the cause which is rather simple to prevent from happening again in the future.

[2021-10-08 08:25] aaemnnosttv commented on #4058
Great catch @cole10up 👍

@eugene-manuilov I took a quick look here and it seems that this is due to a bug in our `Menu` component which [only subscribes the initial `onSelected`](https://github.com/google/site-kit-wp/blob/321d46a3d9a9989badef6ec3b397ba11b25c6ba7/assets/js/components/Menu.js#L48-L65) so the current `dateRange` never changes in the callback. We probably just need to update that to s

[2021-10-08 10:07] jamesozzie commented on #4181
In addition to the upcoming plugin changes the hosting company used by the original reporter have made changes to their firewall. Providing users have their WordPress installs contained within a standard directory folder (public_html) users are now unlikely to encounter this error.

The user did also confirm these changes resulted in Site Kit working as expected. On my test site I have my WordPres

[2021-10-08 13:50] wpdarren commented on #4183
@aaemnnosttv I am unable to recreate the warning message I was seeing yesterday on two sites, so I'll go with that it was a fluke. Tried it on a few sites today and unable to recreate.

QA ✅  LGTM.

[2021-10-08 13:55] eugene-manuilov commented on #4058
@aaemnnosttv do you mind reviewing my follow-up PR? #4203

[2021-10-08 17:24] bethanylang commented on #3066
Thanks @felixarntz – closing!

[2021-10-08 17:24] #3066 closed

[2021-10-08 22:16] kuasha420 commented on #4183
QA: :heavy_check_mark:

* Installed on a live site and went through release testing without any issues or console errors.
* Skimped through the change log and everything I tried (not all) was working as intended.

LGTM :)

[2021-10-08 23:37] kuasha420 commented on #4054
QA: :warning:

The following tracking events are not firing consistently.

* `view_notification` event in plugin activation screen is not firing on plugin activation consistently.
    * Upon first activation, it is not firing at all (the checkbox for usage data is unchecked).
    * Upon checking it, various analytics command fire but no command for `view_notification`.
    * Deactivating and react

[2021-10-11 07:05] r1zr7 opened #4205 "authentication loop 7.4"
With php 7.4 authentication goes into the loop. With 7.3 it works...

[2021-10-11 11:04] aaemnnosttv commented on #4048
@kuasha420 one thing I just noticed here is an inconsistency in the changes to the user-menu, specifically around the shadow/background of the button but also some extra margin which I believe is added for the arrow in the current header.

![image](https://user-images.githubusercontent.com/1621608/136779729-7c94488f-161c-45ac-ad61-37b6a1676c1c.png)
![image](https://user-images.githubusercontent.co

[2021-10-11 11:33] #4205 closed

[2021-10-11 11:47] kuasha420 commented on #4048
Should I create a follow up pr here? I am already working on #4049 and sneak in the fix there as well. #3787

@aaemnnosttv

[2021-10-11 15:18] wpdarren commented on #4085
QA Update:  ⚠️

This ticket is on hold because I need to login to the site in a few days to see if the zero states are charts with zeros.

This is what I currently see.

**Dashboard**

![image](https://user-images.githubusercontent.com/73545194/136814955-d19586d6-ca5c-42e5-8a1d-e8c7e1398634.png)

**Search console module page**

![image](https://user-images.githubusercontent.com/73545194/136814988-

[2021-10-11 15:59] felixarntz opened #4207 "Fix odd experience if updating Idea Hub idea state failed"
Currently, the Idea Hub ideas widget doesn't properly account for errors when updating an idea state (e.g. dismissing, saving, unsaving). The idea just remains in place without explanation. We should ensure that errors (especially relevant due to potential API errors) are surfaced to end users in some way.

---------------

_Do not alter or remove anything below. The following sections will be man

[2021-10-11 17:16] felixarntz commented on #4054
@aaemnnosttv @tofumatt Was thinking the same thing, we can keep as is. It's unavoidable anyway to get slightly inconsistent results for users that only activate the checkbox at a certain point.

[2021-10-11 17:22] felixarntz commented on #3454
@eugene-manuilov IB mostly looks good, however I have one concern:

This should be part of the referenced "Data store architecture" docs instead. The article here should focus more on high-level concepts and doesn't need to go into actual code as much - it's the first article in the [Architecture section](https://github.com/google/site-kit-wp/blob/develop/docs/README.md#architecture), so it's more

[2021-10-11 17:48] felixarntz opened #4208 "Add support for auto-configuring Analytics based on service API response"
To facilitate the onboarding experience for Google Ads, Site Kit's authentication service is now integrating with their backend, providing custom behavior for users that set up Site Kit as part of the Google Ads onboarding flow. Specifically, based on the site URL, the service will know whether the user comes from the Google Ads onboarding flow and in that case send Analytics configuration data ba

[2021-10-11 17:51] jamesozzie opened #4209 "Tag Manager doesn't pre-select the correct Tag Manager container"
## Bug Description

When connecting the Tag Manager module the select box always defaults to one particular container, and not necessarily the correct Tag Manager container. In my testing it always defaults to one particular Tag Manager container.

Example below, the site is not associated with the preselected container:

![image](https://user-images.githubusercontent.com/41326532/136832556-02c23d

[2021-10-11 18:50] eugene-manuilov commented on #3454
@felixarntz, IB is updated. Does it look better?

[2021-10-11 19:07] felixarntz commented on #3454
@eugene-manuilov Looks good, IB ✅

[2021-10-11 20:10] tofumatt commented on #4050
Totally, that's actually a way better approach and I think will totally work for what we want to do. I think I even wanted to propose it in the ACs originally, but for some reason I guess my brain went with the more imperative approach.

But Slot/Fill is way nicer AND less code! 🙂

I've updated the ACs, let's go with that approach. If any other ACs related to this issue need updating I'll do that

[2021-10-11 22:07] tofumatt commented on #4122
Ah, shoot, that was indeed a placeholder or a typo! Fixed the file issue.

Regarding not showing the widget at all: that seems fine to me. I thought the CTA might be useful but true: it's not in the original doc and your reasoning here makes sense. I've amended the ACs so I think this is good; moving to IB 👍🏻

[2021-10-12 12:48] wpdarren commented on #4048
@aaemnnosttv it does mention in QAB referencing the AC which says

`In its default state the URL Search button should look like this:`

![image](https://user-images.githubusercontent.com/73545194/136958732-207e88ff-76fd-43b6-8689-4fdde337fff6.png)

This is why I have included the observations in my comment.

The reference to the other ticket is related to the input field, I agree can be excluded f

[2021-10-12 16:15] wpdarren opened #4211 "Error when Connecting Google Analytics"
## Bug Description

Currently on the `Develop` branch an error appears when you connect Google Analytics either through a new Google Analytics account/property, or, you when select an already created account/property.

When you go to the Dashboard this same error always appears.

No features are enabled on the tester plugin, but wondering if it could be related to the Unified Dashboard work.

![im

[2021-10-12 18:00] felixarntz commented on #4054
@kuasha420 @aaemnnosttv I think it's okay we don't have special treatment for this event. User event tracking in that sense is always somewhat inconsistent (as they can opt-in and opt-out at any time), so I think this is acceptable. We still shouldn't ditch the event entirely, as it could still fire if someone opts in, deactivates the plugin and reactivates it again. We mostly need to be aware of

[2021-10-12 18:46] tofumatt opened #4212 "Explore a slot/fill approach for the Header component"
## Feature Description

It's possible that, in the future, we'll want a way for other content to insert itself into the area between the header and the pill links (created in #4050), see:

<img width="840" alt="Screenshot 2021-09-28 at 16 19 49" src="https://user-images.githubusercontent.com/90871/135116463-3ddcb04e-5260-46ce-ae6f-6e290fd99c2b.png">

This issue was created out of the original appr

[2021-10-12 21:03] felixarntz opened #4213 "Refactor GA events for user input notifications"
As part of revamping the GA event names and categories, we should also iterate on the user input GA events (feature is behind development-only `userInput` feature flag). This issue focuses specifically on the (dashboard) notifications for that feature.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Th

[2021-10-12 21:03] felixarntz opened #4214 "Refactor user input events"
As part of revamping the GA event names and categories, we should also iterate on the user input GA events (feature is behind development-only `userInput` feature flag). This issue focuses on the main UI of the feature itself, while a separate issue #4213 focuses on the dashboard notifications.

---------------

_Do not alter or remove anything below. The following sections will be managed by mode

[2021-10-12 21:53] felixarntz opened #4215 "Add Search Console-specific setup/settings tracking events"
The Search Console setup/settings should receive applicable GA tracking events.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new GA tracking event should be sent when the user changes the Search Console property in the Search Console property dropdown in settings (which is only rendered if more th

[2021-10-12 21:53] felixarntz opened #4216 "Refactor/enhance Analytics-specific setup/settings tracking events"
The Analytics setup/settings should have its GA tracking events refactored, plus a few new ones should be added.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-10-12 21:53] felixarntz opened #4217 "Refactor/enhance AdSense-specific setup/settings tracking events"
The AdSense setup/settings should have its GA tracking events refactored, plus a few new ones should be added.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

For **all** of the following events, the (new) event category should be `${ viewContext }_adsense`, where `viewContext` is the current view contex

[2021-10-12 21:53] felixarntz opened #4218 "Add Tag Manager-specific setup/settings tracking events"
The Tag Manager setup/settings should receive applicable GA tracking events.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

For **all** of the following events, the (new) event category should be `${ viewContext }_tagmanager`, where `viewContext` is the current view context (realistically either `module

[2021-10-12 22:07] tofumatt commented on #4050
Hmmm, we shouldn't be rendering the `<Subheader>` area at all if there are no notifications/no entity info to show though. It requires another border to be drawn between the `Header` and the Navigation bar.

I suppose if it's currently only possible for one piece of content to appear in the header at a time—given notifications won't appear on the Entity Dashobard… maybe this should just be thought

[2021-10-12 22:14] tofumatt commented on #4107
The ACs here seem fine to me—I don't think there's anything else to cover. 👍🏻

[2021-10-12 22:37] felixarntz opened #4219 "Enhance GA event dimensions sent"
The custom dimensions sent with each GA tracking event should be slightly modified and enhanced, to provide more useful contextual information.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The dimensions currently sent with every GA tracking event (see `trackEvent` method implementation) should be upd

[2021-10-12 23:29] felixarntz commented on #4152
In order to unblock this issue, I've removed the last point from the ACs and IB so that this can be worked on now and doesn't need to wait for #4050. The removed point is now included in the ACs for #4050, i.e. the blocking order is now reversed.

[2021-10-13 02:40] kuasha420 commented on #3970
@aaemnnosttv how about something like this?

[code]
I have updated the IB accordingly but I found it hard to describe. :D So, leaving the code here as well.

Cheers.

[2021-10-13 02:49] kuasha420 commented on #4048
@tofumatt I think I will create a follow up pr on this issue and fix avatar and the button here so CR/QA doesn't get too much out of control on 4049. Thanks for the discussion and clarification!

cc: @wpdarren

[2021-10-13 14:18] wpdarren commented on #4181
@aaemnnosttv I am wondering if this is a `QA:Eng` ticket.  If you do not feel it is, please could you give me additional details because the QAB whooshed over my head 👍

[2021-10-13 15:00] wpdarren commented on #3569
@kuasha420 this is the screencast.   Just to add, after finishing this recording, I clicked on the 'Confirm changes' button. This then took me back to the settings overview for Analytics.  I clicked on edit again and the same red border appeared. It wasn't until I went away from settings (e.g. dashboard) and back in again to settings that it disappeared.

It's quite possible that this is outside o

[2021-10-13 16:14] felixarntz commented on #4086
@wpdarren @kuasha420 @eugene-manuilov Flagging #4211, which potentially is more of a QA ⚠️ for this one rather than its own issue. Not opposed to work through it in its own issue, but if we verify it comes from this issue here, we can also create a follow-up PR to this one instead. Either way, this needs to be resolved for the same release (1.44.0).

[2021-10-13 17:07] aaemnnosttv commented on #4053
@tofumatt I'm not sure that we could use the same slot for this as the content area defined in #4050 since the latter is said to not be sticky, whereas the navigation component here would need to be (stuck below the header) so maybe these can't go together. In that case, I'm not sure either of these slots can go within `.googlesitekit-header` but should instead go below it, or we'd have to change

[2021-10-13 17:32] #4211 closed, assigned to nobody

[2021-10-13 17:38] jamesozzie opened #4222 "Only the 7 day reporting period has data. All the other periods are "Awaiting data""
## Bug Description

When testing a site which has recently installed Site Kit and connected the Analytics module there is no data for any reporting periods other than the 7 day period. This is on a site that is new to Site Kit and a site that has traffic over the past 10 days.

![2021-10-13-18-32-18](https://user-images.githubusercontent.com/41326532/137183923-0c7a8a88-94a9-498e-8ad7-c5f73775ce63.

[2021-10-14 15:17] eugene-manuilov commented on #4086
@felixarntz, I have added module page widgets to my PR and fixed a few more storybook issues. Could you please take another look?

[2021-10-14 17:24] felixarntz opened #4226 "Fix UI issues as a result of now showing 0s for "zero data""
#4085 and #4086 modified the behavior for all Search Console- and Analytics-based widgets to only show the "gathering data" state when the service is actually gathering data, fixing a long-standing problem. If a site has data but they're all 0s, this is now displayed in the regular widgets.

While this is (hopefully) a rare case experience, we should still make sure the current UI for that is not

[2021-10-14 18:52] felixarntz commented on #4050
@tofumatt Actually, one more question about the ACs:

How do you envision that to work? The `Notifications` component e.g. would be rendered within the `Header`, how can it pass a prop to the `Header`?

[2021-10-14 19:07] #3985 closed, assigned to nobody

[2021-10-14 20:55] tofumatt commented on #4050
100% a mistake, thanks for catching that! 👍🏻

I don't think it would need to be—I think the notifications component (in this case, `BannerNotifications` from #4152) could be supplied to the `subHeader` prop whenever needed (eg in the `DashboardMainApp` component, right here: https://github.com/google/site-kit-wp/blob/94ab93a3bf301b165aebfdb0b4df75a815ffd96b/assets/js/components/DashboardMainApp.js

[2021-10-14 20:57] felixarntz opened #4227 "Remove unused `LegacyDashboardAdSenseTopPages` component"
The `LegacyDashboardAdSenseTopPages` component is for some reason still in our codebase, but it is entirely unused and should be removed (also the component's file does not have the `Legacy*` prefix which is probably why this went undiscovered before).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Th

[2021-10-14 21:23] tofumatt commented on #4201
Sounds good! IB ✅

[2021-10-14 22:32] felixarntz commented on #4050
@tofumatt Ahh, thanks for clarifying. I think I was confused by the wording: "This prop should be used by the components in #4146 and #4152 to wrap their output when inside the `<Header>` component" says it should be used _by_ the components, but the way I understand you now, which makes sense to me, the prop should be used by any component to _pass_ the inner components :)

Now that that's clarif

[2021-10-15 04:39] ozer619 commented on #4227
I would like to  work on this issue.

[2021-10-15 05:54] ted81das commented on #6
Great to know this is work in progress. Please keep us posted on the updates.

[2021-10-15 09:13] aaemnnosttv commented on #4096
@tofumatt I think we need to update the ACs here which don't include the relevant changes to @felixarntz 's https://github.com/google/site-kit-wp/issues/4096#issuecomment-926885002 above (I've included in the IB though).

I don't recall why we wanted this but I think we should avoid introducing it as it makes things quite a bit more complicated. The part I remember is that we needed a reset to be

[2021-10-15 10:49] jamesozzie commented on #4074
[One more report](https://wordpress.org/support/topic/error-that-comes-up-every-now-and-again/#post-14973171) of this in today. The user kindly shared their [SH info](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit?urlBuilderDomain=google.com#response=ACYDBNiNlGvmptAl6ok0Fcb4Liy479_Md3OElGm_OQ-_VlT4_96oqKEvwuf6fyHZX5kTpeU), with a small number of plugins active.

[2021-10-15 14:04] marrrmarrr commented on #4133
@felixarntz What will the experience be for users with the current dashboard layout? IIRC the tooltips now highlight a specific area of the UI they're pointing to and darken everything else around it. At the same time, PSI widget is near the bottom of the dashboard.
Does this mean if the user lands on their dashboard, they'll see all content above the fold darkened, but won't see the tooltip unles

[2021-10-15 17:03] felixarntz commented on #4086
@wpdarren Thanks for catching these additional problems!

@eugene-manuilov Would it be straightforward to change the line chart configurations (throughout all widgets) to always have 0 as minimum? I think that one would be good to include in the same release - we could add it as one extra AC in #4226.

@wpdarren Regarding your other two points (no line in Unique visitors widget, and lack of units

[2021-10-15 17:05] eugene-manuilov commented on #4086
@felixarntz, yes, it is straightforward as far as I remember. I'll add it when I work on 4226.

[2021-10-15 20:05] felixarntz commented on #4226
@eugene-manuilov Fair point - IB ✅

[2021-10-15 20:11] felixarntz commented on #4050
Sounds good - IB ✅

[2021-10-15 20:12] ChrisAntaki opened #4230 "SwG module should allow admins to choose a revenue model"
## Feature Description

SwG shows different UX to website visitors, depending on what kind of monetization model the publisher chose. Currently there are two options: "subscription" and "contribution". The SwG module should let admins choose one

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The SwG m

[2021-10-16 14:27] AshrafM215 opened #4232 "Your site may not be ready for Site Kit"
Hi there!
I am from Egypt and I am currently building a website on WordPress, but when I wanted to install the Sete Kit by Google plugin, I got this message:
" Your site may not be ready for Site Kit
Looks like the AMP CDN is restricted in your region, which could interfere with setup on the Site Kit service.
To get more help, ask a question on our support forum and include the text of the origina

[2021-10-17 20:44] cole10up commented on #4181
### **QA Update: ⚠️**

**Ran the following:**

Coles-MacBook-Air:google-site-kit cole$ npm run build:production

✔ Basic Modules
  Compiled successfully in 14.99s

✖ Module Entry Points
  Compiled with some errors in 37.46s

● Plugin CSS █████████████████████████ building (50%) 4/5 modules 1 active
 css-loader › postcss-loader › sass-loader › assets/sass/admin.scss

✔ Basic Modules
  Compiled succ

[2021-10-18 05:53] kuasha420 commented on #4078
QA: :warning:

I confirmed that.

* The widgets from the AC has been registered to Main and Entity Dashboard and are showing up.
* Idea Hub Widget shows the CTA to connect and once connected, shows ideas.

Things I noticed that needs clarification:

* Padding and margin on half width `DashboardPopularKeywordsWidget` is off, specially the top padding seems unaligned with the idea hub module.
* If A

[2021-10-18 09:57] aaemnnosttv commented on #4133
@felixarntz – yes, feature tour tooltips scroll to the focus of the step if needed 👍

[2021-10-18 10:32] jamesozzie opened #4235 "Cannot read properties of undefined (reading 'Pe')"
## Bug Description

There have [been reports](https://wordpress.org/plugins/health-check/) of the below dashboard error appearing for 2 users.

[code]

https://wordpress.org/support/topic/plugin-error-182/ | **Open** | Awaiting SH info
https://wordpress.org/support/topic/sitekit-error-please-fix-your-app/ | **Open** | Awaiting SH info

Troubleshooting and third party conflict checks ongoing.

## S

[2021-10-18 15:40] wpdarren opened #4237 "Line chart not appearing for 'Unique Visitors From Search' widget on Site Kit Dashboard"
## Bug Description

On Site Kit Dashboard the `Unique Visitors from Search` widget does not have the line chart underneath it.  Initially, I thought it was related to #4086 but after further investigation it appears that it was an issue from a previous release.

The line chart should appear as per other widgets.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/2b379acf-8

[2021-10-18 15:56] wpdarren opened #4238 "Missing Unit Characters on Zero Data Widgets"
## Bug Description

As part of the changes on #4086 and #4085, the unit characters are not appearing on the zero values.

**Site Kit Dashboard:**

Impressions should have a `K`

**Search console module page**

![image](https://user-images.githubusercontent.com/73545194/137766471-af69f3d7-6ff5-471e-abac-3fa7d7ee2596.png)

Total Impressions should have a `K`
Average CTR should have a `%`

**Analytic

[2021-10-18 17:42] eugene-manuilov commented on #4226
@felixarntz this is ready for code review. I have included more changes in my PR that fix some edge cases and broken storybook stories.

[2021-10-18 18:54] felixarntz opened #4239 "Update AdSense signup URL to point to"
The AdSense "signup" URL that Site Kit points to should be updated to the URL with the newer AdSense frontend UI. Note that while the URL includes the term "signup", it can be used for users without any AdSense account as well as for users with an existing AdSense account where they just want to add a new site.

The AdSense frontend will handle this accordingly based on the current user and show t

[2021-10-18 20:37] felixarntz commented on #4213
IB ✅

[2021-10-18 22:41] felixarntz commented on #4230
Thanks @ChrisAntaki, looks good! IB ✅

[2021-10-18 22:45] felixarntz commented on #4230
@ChrisAntaki Can you also add an estimate for the issue? When deciding on one, please factor in a high-level estimate of how much code there will be to review, including potential rounds of feedback - as in, just because something might take you 1 hour to initially come up with, don't just put a 1 on it, unless it's super-straightforward to implement, code-review and test (which essentially applie

[2021-10-19 01:15] ivankruchkoff commented on #4056
QA ✅

Confirmed, event tracking fired correctly:

[code]

[2021-10-19 05:11] kuasha420 commented on #4165
I am seeing that `orderby` with the parameters from IB is already implemented in develop here.

https://github.com/google/site-kit-wp/blob/1f783fc39329df3dad98b0b072d8f368de5c3d30/assets/js/modules/analytics/components/dashboard/DashboardPopularPagesWidget.js#L80-L91

Did this get implemented as part of another issue or am I missing something here?

cc @aaemnnosttv @eugene-manuilov

[2021-10-19 07:20] aaemnnosttv opened #4243 "Release 1.44.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-10-19 08:16] eclarke1 commented on #4239
cc @fhollis to this one being added to the sprint but it has a PR so shouldn't add to the load

[2021-10-19 10:18] aaemnnosttv commented on #4238
Thanks for raising this @wpdarren – I'm not sure if units are needed here or not but it looks like some of the formatting is missing.

`K` would only be added for a site with lots of impressions, thus abbreviated with `K` for thousands, or `M` for millions, etc. A site with less than 1 thousand would show the number itself without metric unit.

This would only be `0s`, `m` is only added for durati

[2021-10-19 12:34] eugene-manuilov commented on #4165
@kuasha420, we forgot to mention it in IB that report arguments need to be updated in storybook stories too. Please, update the following report arguments:

https://github.com/google/site-kit-wp/blob/1f783fc39329df3dad98b0b072d8f368de5c3d30/stories/module-analytics-components.stories.js#L363-L375
https://github.com/google/site-kit-wp/blob/1f783fc39329df3dad98b0b072d8f368de5c3d30/stories/module-ana

[2021-10-19 13:10] bethanylang commented on #4235
Still awaiting additional insights and SH from users; will test when more info is available.

[2021-10-19 13:44] #4232 closed

[2021-10-19 15:24] wpdarren commented on #3970
### QA Update: ❌

Brand new Jurassic.ninja site with new Google account.  Connected Site Kit / Search console.  When the oAuth page appears, the checkboxes for permissions are left unchecked.  I click on the continue button and redirected to the WordPress dashboard. The same error appears though. I am on the `main` branch.

I was expecting the message to say `The Site Kit setup was interrupted bec

[2021-10-19 19:19] felixarntz commented on #4097
@bethanylang @jamesozzie If we point users to the website for this, do we want to add a brief documentation article that explains why this could be happening / what the limitations are here?

[2021-10-19 19:32] bethanylang commented on #4178
Sorry to be picky here, but is it possible to tweak the message to "Ad blocker detected; please disable it to get AdSense data."? The current wording is not a full sentence.

[2021-10-19 20:03] jamesozzie opened #4247 "Print or display an old site URL or provide insights along with the "Looks like your URL has changed.""
## Bug Description

Many users open support topics when they encounter the "_Looks like your URL has changed_" notice, in many cases unsure of such a URL change. This can occur in the following situations:
- When a site has both it's http and https site available, without redirection
- When using a language plugin that may add a /en or other suffix to a homepage
- For site migrations or domain cha

[2021-10-19 21:49] kuasha420 commented on #4165
@aaemnnosttv @eugene-manuilov not sure what to put in QA Brief for this one. Any help will be appreciated.

[2021-10-19 22:07] felixarntz commented on #4178
@asvinb @aaemnnosttv @wpdarren Since it's such a tiny change, let's add the wording change as suggested by @bethanylang in a follow-up PR to this. I've defined the exact copy in a new last bullet point in the ACs.

[2021-10-20 08:56] fhollis commented on #3201
Hi @felixarntz that's been added to Sprint 61, thanks!
cc @eclarke1

[2021-10-20 10:31] jamesozzie opened #4252 "Unable to create a new property / Data Error with Analytics - upress.co.il hosting"
## Bug Description

As [per one users report](https://wordpress.org/support/topic/data-error-in-analytics-the-response-is-not-a-valid-json-response-6/page/2/#post-14987893) in the support forums there may be something blocking Site Kit functionality when using [Upress.co.il](https://upress.co.il) hosting. In their case they are encountering the "Response is not a valid response" when checking thei

[2021-10-20 10:53] jamesozzie commented on #4097
Sounds good to me also. Thanks both.

[2021-10-20 14:46] felixarntz commented on #4106
@asvinb Great - IB ✅

[2021-10-20 17:54] felixarntz commented on #4226
@eugene-manuilov Can you add a QA Brief please?

[2021-10-20 23:02] tofumatt commented on #4207
IB ✅

[2021-10-20 23:12] tofumatt commented on #4133
IB ✅

[2021-10-20 23:33] tofumatt commented on #4146
Looks good; I made a tweak to one of the strings to ensure it's localised properly.

Also, the first reference to mobile CSS said to _show_ the labels only on mobile, but later said to hide the "Back to Dashboard" label on mobile. The latter is correct (and what's in the Figma mockups), so I assume the first was just a typo and I changed it 🙂

IB ✅

[2021-10-20 23:52] tofumatt commented on #4165
@kuasha420 Given there aren't clear steps-to-reproduce here I think it's fine to mark this one as `QA:Eng` and have the QA steps be to verify the implementation. It's not ideal but I think it's fine for this one 🙂

I added a simple QA brief and the `QA: Eng` label 👍🏻

[2021-10-21 07:00] aaemnnosttv commented on #3807
@eclarke1 @fhollis – @felixarntz and I agreed to bump this one to next release to allow for more time for review and testing.

[2021-10-21 14:54] adamdunnage commented on #4222
I was able to recreate this with one of my site setups. [See here](https://www.awesomescreenshot.com/video/5719447?key=f72e66f4189be32219392ffd505113e3) .

Data was being displayed when selecting 'Last 7 days' and 'Last 90 days' but when selecting  'Last 14 days' and  'Last 28 days' This would display 0 under the all users section while for 7 and 90 days it displayed 2 for all users.

When accessi

[2021-10-21 16:12] cole10up commented on #4226
Question with the above @felixarntz - we're showing the '^ 100%' green item on the widget graph date range above. Is this expected? Should we adjust this?

[2021-10-21 16:22] #3569 closed

[2021-10-21 16:31] #4092 closed

[2021-10-21 16:31] #4086 closed

[2021-10-21 16:31] #4085 closed

[2021-10-21 16:31] #3970 closed

[2021-10-21 17:57] felixarntz opened #4253 "Revise copy of messages for zero Search Console and Analytics data"
The two messages introduced in #4226 for when a site has no data from Search Console or Analytics should be revised.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The message for Search Console not having any data should be changed to: _No data to display: Your site hasn’t appeared in Search yet_
* T

[2021-10-21 17:58] felixarntz commented on #4226
@cole10up Good catch! It's not critical to fix in this issue though, can you open a follow-up issue please to change this to 0%?

[2021-10-21 18:16] felixarntz opened #4254 "Trigger additional Idea Hub survey about high-level behavior on dashboard view"
In addition to the Idea Hub interaction survey (trigger: `interact_idea_hub`), two new survey triggers should be introduced and sent when the user visits the dashboard **if the Idea Hub feature is enabled**.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

[2021-10-21 18:18] cole10up opened #4255 "Analytics with zero data shows +100% on the Analytics page audience overview graph"
## Bug Description

While testing https://github.com/google/site-kit-wp/issues/4226 I noticed that within the Analytics page, on the audience overview graph, if you hover over a date you'll see +100%

## Steps to reproduce

1. Setup a Jurassic Ninja site with the Site Kit plugin installed
2. Activate the Analytics module
3. Wait a few days and then navigate to the Analytics page
4. Hover over a da

[2021-10-21 18:24] #4254 closed, assigned to nobody

[2021-10-21 23:09] ivankruchkoff opened #4257 "AdSense module in Connect More Services Briefly flashes Grey"
## Bug Description

In Connect More Services when AdSense is not enabled it initially shows as disabled and then shortly looks enabled.

## Steps to reproduce

Open Connect More Services with AdSense disconnected, notice that it starts off grey. See screen recording.

## Screenshots

https://user-images.githubusercontent.com/373931/138368856-add40121-b439-4c5d-82e5-2a9effbd9484.mp4

## Additional

[2021-10-23 00:47] kuasha420 commented on #4243
QA: :heavy_check_mark:

* Went through the release testing checklist without any noticeable issues on a fresh site with a new Google Account.
* Redone setup in existing site after reset.
* Activated all modules (Idea Hub included with Tester Plugin).

All went smoothly.

LGTM. :)

[2021-10-25 14:41] wpdarren opened #4265 "Idea Hub: Improve UX on mobile when pinning an idea"
## Bug Description

For Idea hub on small screen sizes:
When you pin an idea, it would be better UX to jump to the top of the widget, rather than the user having to scroll up to then click on the 'Saved ideas' tab.

https://app.asana.com/0/1200491083500938/1200765888444289/f

## Steps to reproduce

1. Make sure Idea hub is activated in the Tester settings
2. Go to 'Idea Hub' widget on a mobile dev

[2021-10-25 15:06] wpdarren opened #4266 "Idea Hub: Improve UI for Draft Post button and link"
## Bug Description

On the Idea hub widget, in the 'New ideas' tab, when you click on the `start a draft post` icon, you will notice that it has low contrast on hover.

Then, go to the `Drafts` tab, the idea will appear and next to it is a `View draft` link.  It looks like a hybrid hyperlink/button (underlined, title-case, text on button-like background) and the text looks smaller than other links

[2021-10-25 19:44] #4253 closed, assigned to nobody

[2021-10-25 20:17] tofumatt opened #4267 "Analytics CTA Setup link causes the widget contents to "jump" during redirect to Auth Screen"
## Bug Description

When you click on the Analytics CTA widget (for instance, in the Unified Dashboard Search Funnel Widget without Analytics being connected/active), the contents of the widget changes as it goes from "entirely unconnected" to "setup not complete".

Here's a discussion for context: https://github.com/google/site-kit-wp/pull/4223#pullrequestreview-785958429

## Steps to reproduce

[2021-10-25 20:28] felixarntz opened #4268 "Fix incorrect widget area layout for new unified dashboard content area"
#4031 incorrectly defined the new widget areas `AREA_MAIN_DASHBOARD_CONTENT_PRIMARY` and `AREA_ENTITY_DASHBOARD_CONTENT_PRIMARY` to use the "COMPOSITE" widget area style. This is incorrect, as these areas shouldn't render as a single box of multiple widgets, but the (more typical) grid of multiple boxes, one for each widget.

---------------

_Do not alter or remove anything below. The following s

[2021-10-25 22:35] #4243 closed, assigned to nobody

[2021-10-25 22:50] felixarntz opened #4270 "Ensure gathering data messages in WP dashboard widget and admin bar UI are only shown when applicable"
Follow-up to #4085 and #4086: Those two issues only encompassed updating the UI in the Site Kit dashboard accordingly. The WP dashboard widget and the admin bar UI still surface the "gathering data" messages even in cases where the services aren't gathering data, but rather the site simply has 0 views/impressions. This issue is about fixing the UI in those areas accordingly as well.

-------------

[2021-10-26 14:27] wpdarren opened #4274 "Idea Hub CTA is hidden when you connect a service"
## Bug Description

Currently, when you connect Site Kit or another service, the top Idea Hub CTA is hidden behind the Setup CTA `Congrats on completing the setup for X` banner.  When you click on the dismiss link (OK, Got it!), go to another page and come back to Site Kit dashboard) the Idea Hub CTA appears.

Ideally, when the user dismisses the set up CTA, the Idea Hub CTA should appear undernea

[2021-10-26 14:35] wpdarren opened #4275 "Add Link on Idea Hub Setup CTA to jump to the widget"
## Bug Description

When a user connects Idea Hub it is not obvious where the Idea hub widget is.

When a user connects PageSpeed, there's a link in the Setup CTA, so the user can jump down to the widget and wondered if it was worth having something similar for Idea Hub?

https://app.asana.com/0/1200491083500938/1200758733177807

---------------

_Do not alter or remove anything below. The followi

[2021-10-26 14:45] wpdarren opened #4276 "Idea Hub: Change copy on Drafts tab when no drafts created"
## Bug Description

On Idea Hub widget, on the Drafts tab. When no drafts are created the copy could be improved.

Currently, it reads: `Ideas will appear here by starting a draft from the New or Saved tab`
But it should be changed to `Ideas will appear here by starting a draft from the New or Saved tabs`

https://app.asana.com/0/1200491083500938/1200709616112965

---------------

_Do not alter or

[2021-10-26 14:54] wpdarren opened #4277 "Idea Hub: Introduce feedback form when a new idea is dismissed"
## Bug Description

In the Figma file, there's a mini feedback form that displays once an idea has been dismissed, this is missing from Idea Hub module.  The API doesn't currently support this so it was delayed from the initial launch.  Creating this ticket so that this functionality is picked up for a future release.

https://app.asana.com/0/1200491083500938/1200757690664686

---------------

_Do

[2021-10-26 15:00] wpdarren opened #4278 "Idea Hub: Introduce Tooltip on Connect More Services Page"
## Bug Description

For Idea Hub, in Figma, we have a tooltip on the Connect More Services page with the title 'New Feature' however when you visit this page in the plugin, no tooltip exists.  Creating this ticket so we do not forget about this functionality.

https://app.asana.com/0/1200491083500938/1200756726857970/f

![image](https://user-images.githubusercontent.com/73545194/138905427-80a56d89

[2021-10-26 17:06] henrywright opened #4280 "The authenticity of google-site-kit.1.44.0.zip could not be verified as no signature was found"
## Bug Description

When updating the plugin I get a message saying "The authenticity of google-site-kit.1.44.0.zip could not be verified as no signature was found.".

The plugin seems to install successfully though.

## Steps to reproduce

1. Go to Dashboard > Updates when a site-kit-wp plugin update is available
2. Update the plugin

## Screenshots

See https://imgur.com/a/SelVLWL

## Additional

[2021-10-26 17:32] #4252 closed, assigned to nobody

[2021-10-27 13:47] wpdarren opened #4286 "Learn More Link on Link Analytics and AdSense CTA opens in same window"
## Bug Description

On the `Link Analytics and AdSense` CTA, there's a `Learn more` link and it currently opens the page in the same window rather than opening a new one like our other CTAs.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/f3a7da5a-2752-4cc7-88b2-d08549c4ae41)

## Steps to reproduce

1. Connect `AdSense` but do not link Analytics.
2. Go to `Site Kit Dash

[2021-10-27 16:07] asvinb opened #4287 "Invalid/non existent URL on Entity Dashboard"
## Bug Description
If we go to the EntityPage with a non existent URL with the `unifiedDashboard` feature flag enabled, there is no error message saying that the URL does not form part of the site, similar to what is displayed when the feature flag is not enabled.

## Steps to reproduce

1. Go to the main dashboard with the `unifiedDashboard` feature flag disabled.
2. Use the "Search for individua

[2021-10-27 19:13] felixarntz opened #4288 "Allow widget contexts to have specific ID attributes (as anchors)"
Since the new pill navigation in the unified dashboard needs to link to specific widget contexts (with anchor links, see #4053), widget contexts now need the ability to have ID attributes that can be linked to.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `WidgetContextRenderer` should receive s

[2021-10-27 19:20] felixarntz opened #4289 "Ensure pills for widget contexts that are empty/inactive are not displayed"
#4053 introduced a pill navigation for the unified dashboard that points to individual widget context "section" with anchor links. Per #4136, widget contexts can contextually be empty ("inactive") though, and in that case the respective pill should not be displayed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2021-10-28 12:39] #4280 closed, assigned to nobody

[2021-10-29 02:54] glanglois opened #4293 "Integration with Google MyBusiness"
## Feature Description

Usually, small businesses and sole traders (consultants, etc.) will have a Wordpress website to advertise their services and combine it with a Google MyBusiness account so they can have Google Reviews of their services / products.

It would be useful to allow the integration of Google MyBusiness, via Google SiteKit in order to:
- Display Google Reviews directly into the web

[2021-10-29 14:42] #4293 closed, assigned to nobody

[2021-10-29 19:22] felixarntz commented on #3907
@marrrmarrr

This may be doable indeed, but not 100% certain based on how the widget hover state currently works. Paging our CSS guru @asvinb, do you think the above would be possible? E.g. add a class when the user interacts with one of the buttons to temporarily keep them visible (instead of only on hover).

[2021-10-29 19:29] felixarntz commented on #4216
@ivankruchkoff Not sure if you started on this yet, but please be aware that the currently ongoing #4229 changes a few Analytics components that include events that need to be renamed here (e.g. `analytics4_tag_enabled`). Just wanted to flag it.

[2021-10-29 20:34] kuasha420 commented on #4219
@eugene-manuilov for some reason user roles remains undefined in the current iteration (when console logged etc). Putting the same `currentRoles` logic inside the `createTrackEvent` retrieves the correct roles array from the global. I have made a PR making the adjustments but do you have any idea why it wasn't working in the previous iteration?

Cheers.

@wpdarren thank you for catching it. <3

[2021-10-29 22:21] glanglois commented on #20
As additional integration between Google MyBusiness and SiteKit, it would be excellent to:
- Offer Google Review Widgets / Gutenberg block (to display existing reviews on Wordpress pages)

[2021-10-31 08:34] eugene-manuilov commented on #4219
Thanks, @kuasha420. PR is merged. Looks like the user data was loaded too late.

[2021-11-01 08:04] asvinb commented on #3902
@eugene-manuilov IB updated as per your comments. I think we can definitely clear the draft activity regardless of the tab type :)
About hiding the tab content via CSS, true we are doing that. However shouldn't the component unmount itself when it's being remove from the "New" tab? https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidg

[2021-11-01 09:08] aaemnnosttv opened #4302 "Release 1.45.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-11-01 09:39] aaemnnosttv commented on #3353
@felixarntz looking at this again, I don't really see why we would change a core Material style here. It looks like the intention was to align the helper text with the label and value. I think it only looks off when the helper text is too long as shown above.

Looking at another example in Storybook, this looks fine to me and very well might even look worse with the text left-aligned.
![image](htt

[2021-11-01 09:54] eugene-manuilov commented on #3902
Yes, it should, but it will happen on timeout, so the user can already switch the tab by the time the timeout callback is executed.

IB ✔️

[2021-11-01 09:59] aaemnnosttv commented on #3907
@felixarntz not sure this would be possible with pure css alone, but we could definitely take the in-progress state of an action into account as to whether or not the buttons should be shown or hidden 👍

One suggestion I have about this (somewhat unrelated to the action itself but seems relevant here), would be to set a minimum amount of time that the spinner will show for to avoid a flicker for f

[2021-11-01 10:40] aaemnnosttv commented on #4172
@techanvil would you please add a QA brief?

[2021-11-01 11:21] techanvil commented on #4172
@aaemnnosttv apologies, I thought I had. Thanks for pointing it out! I've added a QA brief, I hope it's sufficient?

[2021-11-01 11:29] jamesozzie commented on #2908
Another [example of this today](https://wordpress.org/support/topic/your-site-may-not-be-ready-for-site-kit/page/3/#post-15022918), from a user who isn't using a caching plugin.

[2021-11-01 12:44] asvinb commented on #3774
@wpdarren @felixarntz I tried to manually reproduce the issue and looks like when there's no data for a particular date, the date is not present in the returned data. Which might explain why there's no graph when the unique visitors are `0`. @wpdarren For the second issue for number 6, I don't think the issue is with single digits. Rather it might be that you had the same number of users across se

[2021-11-01 13:00] aaemnnosttv commented on #4172
Thanks @techanvil – it would be good to add a little more detail around what to look for as we probably don't have any AdSense accounts that have alerts that would be surfaced here anyways. What we can look for though is that the request is made in the devtools (could be QA:Eng here but I think @wpdarren is familiar with this) when AdSense is active, and not made when it isn't. This request is cac

[2021-11-01 13:05] eclarke1 commented on #4151
@felixarntz could I kindly ask what priority is this ticket please?

[2021-11-01 13:51] wpdarren commented on #4219
### QA Update: ⚠️

@eugene-manuilov @kuasha420 I am wondering how I can QA the point below in AC?

Or is this likely a `QA:Eng` to look at?

One small observation.  There are no spaces between the commas for roles and modules. I'm assuming that's expected?

**Verified:**

- The value for `dimension2` is set against the user role, i.e. administrator.  When a third-party user role plugin was activat

[2021-11-01 14:07] wpdarren commented on #4153
### QA Update:  ✅

- Verified that the notification on current dashboard continues to function properly. I went through setting up each module and made sure that the appropriate notification message appeared on the dashboard.

![image](https://user-images.githubusercontent.com/73545194/139684315-b1bec29b-3e51-4ba7-8765-0f7cc932eaa1.png)

[Pagespeeds](https://user-images.githubusercontent.com/73545

[2021-11-01 14:27] wpdarren commented on #4123
### QA Update: ⚠️

@asvinb @tofumatt I have `unifiedDashboard` activated and on the `develop` branch. When I set up Site Kit all is good until I am redirected to the dashboard and this permissions box appears. I know we had this issue previously.  At this stage I have not set up Analytics but wasn't expecting this to appear. Thoughts?

![image](https://user-images.githubusercontent.com/73545194/13

[2021-11-01 14:27] asvinb commented on #3907
@felixarntz Unfortunately we won't be able to use a pure CSS only solution 😞  We can add a temporary class for the wrapper containing the details for the idea and then just display the icons as we do on focus and on hover:
https://github.com/google/site-kit-wp/blob/develop/assets/sass/components/idea-hub/_googlesitekit-idea-hub-dashboard-ideas-widget.scss#L168-L182

[2021-11-01 14:45] techanvil commented on #4172
Thanks @aaemnnosttv - that was most helpful. I've updated the QA brief, hopefully that provides enough info now!

[2021-11-01 15:50] wpdarren commented on #4172
### QA Update: ✅

Based on @techanvil excellent QAB instructions, I have confirmed:

- I see one notification request to `google-site-kit/v1/core/site/data/notifications`

![image](https://user-images.githubusercontent.com/73545194/139699867-18df258e-af2f-4c00-8629-1f2bc2dac8dd.png)

When AdSense is activated.

- I see an additional notifications request being made, to `google-site-kit/v1/modules/

[2021-11-01 16:09] kuasha420 commented on #4219
@wpdarren the no space between commas is [intended](https://github.com/google/site-kit-wp/pull/4279#discussion_r736793097). Also that point of AC doesn't need to be QA'd as it's just code. As long as the dimensions are right from SiteKit and non-sitekit pages, we are good.

[2021-11-01 16:10] wpdarren commented on #4219
### QA Update: ✅

**Verified:**

- The value for `dimension2` is set against the user role, i.e. administrator.  When a third-party user role plugin is activated (HM Multiple Roles) an additional role is added, i.e. editor. Both of these roles were in the log.

-  The value for `dimension6` is added, with a comma-separated list of all the active modules' slugs. They were listed in the order define

[2021-11-01 18:02] eugene-manuilov commented on #4289
IB :heavy_check_mark:

[2021-11-01 19:03] ivankruchkoff commented on #4133
What about a new selector on `MODULES_PAGESPEED_INSIGHTS` store (as it's going to be active) `isManuallyEnabled` and if that's `false`, it was not enabled previously and so can be the trigger for the tooltip tour in the `checkRequirements()`.

The selector can sit in `assets/js/modules/pagespeed-insights/datastore/manually-activated.js` and call `return API.get( 'modules', 'pagespeed-insights', 'm

[2021-11-01 19:08] techanvil commented on #4134
@tofumatt @felixarntz, while working on the IB I have noticed, there seems to be an assumption in the AC that the setup for Tag Manager, PageSpeed Insights etc will work when the `unifiedDashboard` feature is enabled.

As it stands that is not the case - the modules which currently are setup on the `googlesitekit-dashboard` screen can only be setup when `unifiedDashboard` is not enabled. This is d

[2021-11-01 22:16] tofumatt commented on #4134
`DashboardMainApp` missing notifications is fine (for now). We a ticket open for that issue: #4168.

Aside from that, your proposed solution of restoring the setup flow to `GoogleSitekitDashboard` makes sense to me.

Making that part of the IB here makes sense to me, if that's all it takes to restore the setup functionality. 👍🏻

[2021-11-01 22:48] tofumatt commented on #4133
I like this approach, that works for me. A pedantic note is that I might name the selector `wasManuallyEnabled` or `wasPreviouslyManuallyEnabled` or something, just to signify a status that existed before. I suppose it's still "manually enabled" but as we're evaluating the historical context of the module, the selector referencing the past tense is more intuitive. At least to me! 😅

But that appro

[2021-11-02 06:39] ivankruchkoff commented on #4133
Just adding a note that this ends up breaking a lot of 15 of 30 e2e test suites as we have to now factor in `pagespeed-insights` being active everywhere.

[2021-11-02 08:55] asvinb commented on #4237
Related issue and possible fix: https://github.com/google/site-kit-wp/issues/3774

[2021-11-02 09:07] aaemnnosttv commented on #4257
This is expected due to the asynchronous adblocker check which needs to run. Looks like it's coming from this line where we check for a simple "not" rather than `=== false` which causes it to appear disabled while the check is running. I think this is okay because we wouldn't want to wait until the check was completed to disable the CTA as a user could then potentially bypass this guard if they cl

[2021-11-02 09:09] techanvil commented on #4134
Thanks @tofumatt - sounds good to me, I will include the proposed change to [assets/js/googlesitekit-dashboard.js](https://github.com/google/site-kit-wp/blob/8616abb3e89a4e2cfe46ffea7eeb2eb743411d15/assets/js/googlesitekit-dashboard.js) in the IB.

[2021-11-02 09:11] aaemnnosttv commented on #4265
@wpdarren why would a user want to switch to the saved ideas tab right after pinning an idea? The idea is that you would come back to it later 🙂  Even scrolling to the top after every pin would be distracting I think.

[2021-11-02 09:22] aaemnnosttv commented on #3846
@bethanylang @jamesozzie the user reported this was caused by the [PublishPress Capabilities](https://wordpress.org/plugins/capability-manager-enhanced/) plugin. I'm not sure how this would happen (maybe similar to other issues we've had with Admin Menu Editor) but I wasn't able to reproduce the issue just by activating that plugin.

Is this worth investigating any further?

[2021-11-02 13:52] bethanylang commented on #3846
@aaemnnosttv Thanks for taking a look. We haven't had any other reports, so I'm closing this out.

[2021-11-02 13:52] #3846 closed

[2021-11-02 13:57] bethanylang commented on #4015
@felixarntz Reassigning to you based on our discussion.

[2021-11-02 14:00] bethanylang commented on #3427
@willowmagrini Checking back in on this. Were you able to update your NGINX server and did that fix these issues? Thank you!

[2021-11-02 14:44] wpdarren commented on #2796
### QA Update ✅

- Activated a module in the settings and the list of modules doesn't change until the page is refreshed or after navigating back to the settings page.
- Activated a module from the congrats notification banner and the modules do not change their statuses until the page is refreshed.
- Also looked back at previous comments about connecting and then going back to see if the statuses

[2021-11-02 16:17] wpdarren commented on #4106
### QA Update: ⚠️

@eugene-manuilov an observation. The progress bar appears, the GA4 property field then appears, and a second later, the progress bar appears again.  Seems odd behaviour, is this expected?

https://user-images.githubusercontent.com/73545194/139902627-71558aaf-98f4-4b84-aa00-5fdc2a00e76b.mp4

[2021-11-02 16:33] eugene-manuilov commented on #4106
@wpdarren, I think - yes, it is expected as of now. It happens because there is a lag between the end of pulling ga4 properties for the account and start trying to match a property.

I think we can update the logic here to show the progress bar until we finish loading properties and finish matching a property. @felixarntz what do you think about it?

[2021-11-02 17:10] aaemnnosttv commented on #4278
Thanks @wpdarren ! After discussing with @felixarntz and @marrrmarrr we decided not to add this tour for Idea Hub.

[2021-11-02 17:10] #4278 closed, assigned to nobody

[2021-11-02 17:15] eugene-manuilov commented on #4023
IB :heavy_check_mark:

[2021-11-02 17:16] eugene-manuilov commented on #4151
IB :heavy_check_mark:

[2021-11-02 17:31] eugene-manuilov commented on #4274
@asvinb I am not sure that it will help. The `removeQueryArgs` function removes query arguments from the URL passed into it. It doesn't change the current page URL. We probably need to use something like `history.replaceState` to replace the current url with a new one that doesn't have the `notification=authentication_success` part.

[2021-11-02 17:41] asvinb commented on #4274
@eugene-manuilov Apologies for that. I assumed it was kinda implied. I updated the IB to be more detailed.

[2021-11-02 17:44] felixarntz commented on #4153
## Approval ⚠️

@kuasha420 @eugene-manuilov I believe this file https://github.com/google/site-kit-wp/blob/develop/assets/js/components/notifications/IdeaHubModuleNotification.stories.js is now incorrectly named. It targets `IdeaHubPromptBannerNotification` so that should be in its file name too.

[2021-11-02 17:58] wpdarren commented on #4207
### QA Update: ✅

**Verified:**

- After blocking the URL as per the QAB.  When removing an idea from the saved tab,  an error message appears over the tab bar in red saying you are probably offline.
- When switching to another tab such as New or Draft, the error message should get cleared.

![image](https://user-images.githubusercontent.com/73545194/139919737-ab233d25-7c2a-4bbb-8254-1701901c377b.

[2021-11-02 18:09] kuasha420 commented on #4153
@felixarntz submitted a follow up PR addressing the filename issue along with couple of story label changes. Should be good to go straight to `Approval` as only stories are changed and we already verified the expected functionality.

CC: @eugene-manuilov @wpdarren

[2021-11-02 18:12] wpdarren commented on #4265
@aaemnnosttv good point. 😄  I think when I initially added this to the bug bash board, the widget was refreshing and loading at the bottom, but just taken a quick look, that doesn't seem to be the case anymore. This can be closed.

[2021-11-02 19:43] #4265 closed

[2021-11-02 19:50] eugene-manuilov commented on #3822
IB :heavy_check_mark:

[2021-11-02 19:53] eugene-manuilov commented on #4267
IB :heavy_check_mark:

[2021-11-02 22:15] felixarntz commented on #4208
@eugene-manuilov @aaemnnosttv I had missed that this somehow got into EB and the current sprint already - it's actually not ready for it yet, because it depends on some changes in our authentication service that aren't done yet. The code needed here would work as is without that change even, but I'd argue it would be a bit premature (e.g. QA wouldn't be able to test that the actual feature works,

[2021-11-02 22:54] felixarntz commented on #4106
@eugene-manuilov That sounds great, it would certainly be a preferable user experience. Do we want to do this in a follow-up PR or separate issue?

[2021-11-02 22:56] felixarntz commented on #4266
@wpdarren @aaemnnosttv @marrrmarrr Correct me if I'm wrong, but I'm not sure we've defined a proper solution for those UI problems. This may need some input from UX for best path to move forward, unless we can use some uncontroversial straightforward fix for all the issues that relies on current Site Kit UI patterns?

[2021-11-02 23:11] felixarntz commented on #4134
@techanvil Good catch, indeed moving the condition for displaying `ModuleSetup` up is the proper solution here. This should work regardless of whether or not the `unifiedDashboard` feature is enabled. The lack of a success `Notifications` component will be resolved separately in #4168.

The IB mostly looks solid. I'm only unsure about the name of the `GoogleSitekitDashboard` component now that it

[2021-11-02 23:18] felixarntz commented on #4133
@ivankruchkoff While the selector approach seems cleaner, I'd prefer something simpler. This is a very specific check for something honestly quite odd situation we're in, and even more importantly it is temporary, so we shouldn't over-engineer this. Once this update is out in a release, we can wait for a couple sprints but then this tooltip tour should get removed again, so it's not worth putting

[2021-11-02 23:25] felixarntz commented on #3907
@asvinb I think what you're saying is the same what I meant :) We can dynamically toggle an extra class in JS (e.g. for as long as one of the three interactions is progressing) and if that class is there the container shows up permanently instead of only on hover/focus.

@aaemnnosttv Hmm, I'm not sure on the benefit of keeping the spinner for a minimum amount of time. Since the idea is moved out o

[2021-11-02 23:30] felixarntz commented on #4151
@eclarke1 The P1 that @tofumatt added sgtm!

[2021-11-02 23:38] felixarntz commented on #3774
@asvinb Thanks, that explanation makes sense. @wpdarren Could you check on the site where you encountered the issue with the flat line for a count >0 <10 what the Analytics frontend shows you there? In other words, when you click on the Analytics source link below the flat chart, I'm curious what the chart for the same data in Analytics itself looks like. Is it also flat? When you hover over a par

[2021-11-02 23:45] felixarntz commented on #3353
@aaemnnosttv Good point, that makes sense to me. I hadn't checked the code so was thinking this may be a bug, but if it's the Material style itself, we shouldn't adjust it. @wpdarren If you agree, let's close this issue as `invalid`.

[2021-11-03 00:02] felixarntz commented on #4123
@wpdarren The issue should be resolved now (in latest `main` branch).

[2021-11-03 03:04] kuasha420 commented on #3201
This is a `QA:Eng` right? @eugene-manuilov

[2021-11-03 04:26] ivankruchkoff commented on #4133
Updated to use the `_googlesitekitBaseData`.
Question for the UX @felixarntz :
If I previously had the `pagespeed-insights` module enabled, which would not trigger the feature tour, and I subsequently reset site kit and set it up again. Should I see the feature tour or not?

As it's currently implemented, the feature tour would trigger, since after the reset, `pagespeed-insights` is no longer manu

[2021-11-03 09:06] asvinb commented on #3774
Thanks @felixarntz I've copied the same IB over to #4237 since it's exactly the same thing. Hopefully the tickets which gets done first will fix both issues, i.e the current issue and #4237

[2021-11-03 09:41] techanvil commented on #4134
@felixarntz thanks for the review, and I agree with your point about renaming `GoogleSitekitDashboard`. I think `DashboardEntrypoint` is a good name, and have updated the IB accordingly. Cheers!

[2021-11-03 11:21] tofumatt commented on #4288
IB ✅

[2021-11-03 12:47] #3353 closed

[2021-11-03 12:48] wpdarren commented on #3353
@felixarntz @aaemnnosttv this is fine with me. Have closed the ticket as invalid.

[2021-11-03 13:04] bethanylang commented on #4235
@felixarntz Reassigning to you for now and moving to L2.

[2021-11-03 13:35] wpdarren commented on #4123
### QA Update:

- Can confirm that the search funnel widget includes Impressions (Search Console), Clicks (Search Console), Search Visitors (Analytics), Goals (Analytics)

- Since data now conditionally comes from either Search Console or Analytics, the source link reflects that. When you click on the Total Impressions and Total clicks tabs, the source is Search Console.  When you click Unique Vis

[2021-11-03 14:03] eugene-manuilov commented on #4106
@felixarntz I'll crate a follow-up PR.

[2021-11-03 14:13] tofumatt commented on #4123
@wpdarren Good catch, sorry I missed that. I've submitted a follow-up PR to correct the positioning of the widget.

[2021-11-03 14:14] wpdarren commented on #4153
Confirmed with Arafat that we do not need to retest this as the change was related to storybook and vrt files.  Sending to approved ✅

[2021-11-03 14:18] bethanylang commented on #3073
@felixarntz @aaemnnosttv @marrrmarrr Checking in on this one as it's been around for awhile and was reported by a user in the forums.

[2021-11-03 15:08] techanvil commented on #3552
I've spent some time looking at this but have not managed to figure it out. I'm putting it back down again for now as it's starting to feels like a bit of a rabbit hole for time.

Ground covered:

**Speed up debug feedback loop:** I couldn't reproduce this locally, so was restricted to running the VRT tests via GitHub Actions to debug them. In order to not interfere with regular development I fork

[2021-11-03 15:54] aaemnnosttv commented on #3552
Nice detective work @techanvil. This will be useful in next steps, thanks for the thorough write up 👍

[2021-11-03 16:08] wpdarren commented on #3774
@felixarntz This was reported back in July so my memory is a little rusty, but I have found an example on the Dashboard URL-specific pages (`Detailed Page Stats` page), where this issue occurs as you can see from the screenshot. This issue does not occur on the main dashboard page from the testing I've completed.

@asvinb  This example is on my live site so will give you access to my search consol

[2021-11-03 16:15] eugene-manuilov commented on #4106
@felixarntz do you mind looking at #4310?

[2021-11-03 17:16] jamesozzie opened #4311 "Tag Manager setup/settings blocks user while container data is loading without loading indicator"
## Bug Description

It takes a long time (10 seconds plus) for Site Kit to recognize a non Site Kit placed GTM snippet and populate the account and container fields with that manually inserted information. While this may be in relation to a lookup of all Tag Manager accounts during the wait users there are a couple of issues:
1. Users may be uncertain on how to proceed, do they wait or do they exi

[2021-11-03 17:52] felixarntz commented on #4134
IB ✅

[2021-11-03 17:57] felixarntz commented on #4237
@aaemnnosttv Would you mind looking at the IB here when you have time for it? My memory is fuzzy, but I thought that we already had something for Search Console to backfill dates which are not in the response - at least I thought that we have had that issue before and solved it somehow. 🤔

[2021-11-03 18:22] felixarntz commented on #4237
@asvinb The current IB here isn't a proper solution for the problem. While it would backfill dates, the problem here is somewhere else: The only time that Analytics is expected to not return any dates despite `ga:date` being requested as a dimension is when Analytics is gathering data. However, this is already ruled out when this widget is rendered since it's only rendered if Analytics isn't gathe

[2021-11-03 18:32] kuasha420 commented on #3201
## QA: :warning:

@eugene-manuilov the `Test Coverage` section suggests adding test for the newly added functionality in the `ResetTest` but I see no test there involving the `hard reset`.

Other than that, everything seems to be fine. I have verified,

* Adding thee newly introduced filter and returning `true` (added in the `function.php` of the theme) results in all persistent values being clear

[2021-11-03 18:35] felixarntz commented on #3774
@asvinb @wpdarren While debugging #4237 I found a solution for that problem, which could possibly solve the issue here as well. Since it's a rather obscure problem, maybe we should implement the fix there first and see whether it resolves the issue here too.

[2021-11-03 18:41] felixarntz commented on #4133
@ivankruchkoff As briefly discussed earlier, it would be better if the tooltip didn't show after a reset. It makes sense to only show it for users that didn't have the module activated where it then "suddenly" shows up.

A potential way to solve this is could be:
* Include an upgrade routine that sets a very simple option in the DB like `googlesitekit_psi_updated` if the site is currently connecte

[2021-11-03 22:02] felixarntz commented on #3807
@eugene-manuilov Can you please add a QA Brief? This may require some DB tweaking to remove the entire GA4 setting data after Analytics setup, to replicate the state of an "existing site without GA4".

[2021-11-04 01:50] kuasha420 commented on #4145
Hi @tofumatt (since you've written the AC),

Some observations about the AC,

* I think `AdSenseConnectCTA` is a more appropriate name for the widget so I have used that in the IB, what do you think?
* Is the usage of `dismissItem` and `isItemDismissed` from `CORE_USER` to set the dismissed user flag appropriate?
* Also, while isDismissed/IsConnected is undefined, we should still return `null` fro

[2021-11-04 08:32] asvinb commented on #3775
### QA: ✅
* `ga4setup` not found in codebase
* tests passing
* Storybook stories all load fine.

[2021-11-04 08:33] aaemnnosttv commented on #4123
Ready for another pass @wpdarren 👍

[2021-11-04 09:18] asvinb commented on #4237
Thanks @felixarntz , that's some really helpful info.

[2021-11-04 09:56] techanvil commented on #4122
Hi @cole10up, you might have already spotted this, but I have noticed that I have missed out the unit character(s) for Bounce Rate and Session Duration when implementing the Overall Page Metrics widget, as is apparent when comparing it to a similar widget.

Overall Page Metrics widget:
![image](https://user-images.githubusercontent.com/18395600/140293121-63f1f19d-8480-483c-8514-e8a401233df2.png)

[2021-11-04 10:53] asvinb commented on #4140
@aaemnnosttv Was the reason we were requesting `/favicon.ico` was to prevent an external request? I tested and even with the params `google-site-kit=/adsense/pagead2.googlesyndication.com/pagead/js/adsbygoogle.js` appended to `/favicon.ico`, the ad blockers do not detect anything. I've wrote the IB where I suggest we make a request to `https://pagead2.googlesyndication.com/` where the ad blockers

[2021-11-04 10:58] techanvil opened #4312 "Overall Page Metrics widget"
The Overall Page Metrics widget is missing the unit character(s) for Bounce Rate and Session Duration. This is apparent when comparing it to a similar widget. For example:

Overall Page Metrics widget:
![image.png](https://images.zenhubusercontent.com/6133937d41f397090b8344a7/647e8e16-ec4f-46d9-aae9-3934b8659f5e)

Vs Analytics Overview widget:
![image.png](https://images.zenhubusercontent.com/6133

[2021-11-04 11:02] techanvil commented on #4122
@cole10up re. the above, I have created a separate ticket for the unit characters fix: https://github.com/google/site-kit-wp/issues/4312

[2021-11-04 11:04] tofumatt commented on #4145
Hi @kuasha420, great questions, thanks!

The answer to the first three is: yes! Your component name is much nicer, agreed. I've updated the ACs. Using `dismissItem` is right for this. And preventing the flash by returning `null` makes sense.

I think you mean that we aren't worried about what happens after you click "Connect AdSense" or whatever the CTA button/link is, right? If so: yes, that's co

[2021-11-04 11:48] adamdunnage opened #4313 "'Let Site Kit place code on your site' toggle button defaulting to No when snippet already placed"
## Bug Description

When connecting the Tag Manager module via Site Kit to a site that already has manually placed Tag Manager snippets the '**Let Site Kit place code on your site**' toggle button on the edit settings section defaults to **No** even if Site Kit has inserted the snippet.

This could confuse the user and doesn't represent the fact that the snippet is already placed on the site.

##

[2021-11-04 12:02] tofumatt commented on #4145
I added a few test criteria and a point about the module being active but not connected to the ACs/IBs because I left them out originally and just realised now they're relevant. But this looks good to go 👍🏻

IB ✅

[2021-11-04 12:24] asvinb commented on #4167
@felixarntz The AC is outdated mostly because we refactored the event categories and actions. I've added the IB which takes into account the updated tracking details.

[2021-11-04 12:40] aaemnnosttv commented on #4140
@asvinb yes, because the request will fail due to CORS. The problem with changing the request to be made to `https://pagead2.googlesyndication.com/` instead is that while it will be blocked when uBlock Origin is enabled, it will also fail when no adblocker is active due to CORS:

Modifying the request mode to use `no-cors` prevents it from failing but it's also no longer blocked by the adblocker e

[2021-11-04 12:50] jamesozzie opened #4314 "Revise wording on snippet status when an existing GTM snippet is manually inserted"
When connecting Tag Manager within Site Kit the plugin automatically populates the Tag Manager fields as it should. The default configuration is that Site Kit does not insert the same snippet. The status within the GTM module appears as "Snippet is not inserted".

This may result in confusion with users then editing and allowing Site Kit to insert the snippet - which would be a duplicate snippet.

[2021-11-04 12:54] jamesozzie commented on #4314
Just noting that the "by Site Kit" when displaying the snippet status could also apply to Analytics and AdSense.

[2021-11-04 14:28] wpdarren commented on #3807
### QA Update: ❌

@eugene-manuilov there are a few issues:

1. The learn more link points to `https://relevant-osprey.jurassic.ninja/wp-admin/admin.php?page=googlesitekit-settings#/connected-services/analytics/https://sitekit.withgoogle.com/documentation/ga4-analytics-property/` but I suspect it should point to `https://sitekit.withgoogle.com/documentation/ga4-analytics-property/`

2. The 'Learn m

[2021-11-04 15:57] eugene-manuilov commented on #3807
@wpdarren this is expected behavior. We discussed it with @felixarntz and @aaemnnosttv in the original PR and decided to leave it as it is.

[2021-11-04 15:57] eugene-manuilov commented on #3807
@aaemnnosttv could you please review #4315?

[2021-11-04 16:11] felixarntz commented on #3807
@eugene-manuilov I just reviewed this with @marrrmarrr and we have one small additional requirement which should be straightforward to add: Can we fire a new GA tracking event for when the user toggles on GA4 in settings with the new toggle? Here's the details:
* Event name: `activate_ga4`
* Event category: `{viewContext}_analytics`
* No event label

Maybe you can add this to #4315? Feel free to a

[2021-11-04 16:14] aaemnnosttv commented on #3807
Ah, I just merged it 😄

[2021-11-04 16:38] eugene-manuilov commented on #3807
@aaemnnosttv could you please check one more PR? #4316

[2021-11-04 17:02] #4123 closed

[2021-11-04 17:03] #4124 closed

[2021-11-04 17:03] aaemnnosttv commented on #3807
@wpdarren ready for another pass 👍

[2021-11-04 17:05] felixarntz commented on #3807
Thanks @eugene-manuilov and @aaemnnosttv for the quick updates!

[2021-11-04 17:05] #3775 closed

[2021-11-04 17:06] #4189 closed

[2021-11-04 17:07] wpdarren commented on #3807
@aaemnnosttv just to clarify do we also need to test the tracking event mentioned [here](https://github.com/google/site-kit-wp/issues/3807#issuecomment-961194336)

[2021-11-04 17:07] #4215 closed

[2021-11-04 17:08] #4213 closed

[2021-11-04 17:10] #4214 closed

[2021-11-04 17:10] #4268 closed

[2021-11-04 17:10] #4230 closed

[2021-11-04 17:16] felixarntz commented on #4152
## Approval ❌

The implementation of `BannerNotifications` from #4264 does not match the current behavior of what's in `assets/js/components/legacy-notifications/index.js` as required per the ACs:
* The new component only ever returns one of the notification components.
* The current `index.js` implementation allows for multiple notification components to show at the same time.
* The ACs state tha

[2021-11-04 17:17] eugene-manuilov commented on #4028
Moving back to the IB column since it has been moved to the Execution column by accident.

[2021-11-04 17:18] #4165 closed

[2021-11-04 17:19] #4218 closed

[2021-11-04 17:23] felixarntz commented on #4217
## Approval ❌

This is _almost_ good, but the event category is not entirely correct for all the events, it needs to be `${ viewContext }_adsense`, not `${ viewContext }__adsense` (there is now an additional underscore there that shouldn't be). @asvinb Can you please create a follow-up PR against `main`?

[2021-11-04 17:24] #4171 closed

[2021-11-04 17:24] #4172 closed

[2021-11-04 17:25] raja-anbazhagan commented on #4165
I'm at 1.44.0 and I'm still seeing Spanish titles for my pages on English.

[2021-11-04 17:29] felixarntz commented on #4219
## Approval ⚠️

Not a big deal, but @kuasha420 could you please have a look at https://github.com/google/site-kit-wp/pull/4279/files#r743058904? Would be great if we could align this in one way or the other.

[2021-11-04 17:33] #4153 closed

[2021-11-04 17:45] techanvil commented on #4302
QA :heavy_check_mark: - Smoke tested, verified the changes I've been involved with and performed some ad-hoc testing.

[2021-11-04 17:46] kuasha420 commented on #4152
@felixarntz on it. Sorry for misunderstanding the intent from the AC.

[2021-11-04 17:50] wpdarren commented on #3807
### QA Update: ✅

**Verified:**

- Confirm the disabled dropdown for the GA4 property when the settings form is loaded. The disabled dropdown matches GA4 property pre-selected.

![image](https://user-images.githubusercontent.com/73545194/140321255-70ea9478-579b-4056-aa7f-f9caa5c360e6.png)

- When you activate the GA4 controls by clicking on the appropriate toggle beneath the disabled dropdown. The

[2021-11-04 17:54] felixarntz commented on #4152
@kuasha420 Thank you, and no worries at all!

[2021-11-04 18:00] felixarntz commented on #4167
@asvinb Yep, I've updated the ACs to reflect the current names. IB ✅

[2021-11-04 18:04] felixarntz commented on #4050
@asvinb Great points. Your point about a full-width container is also in the ACs - it says there that it shouldn't have any inner padding, which I basically meant to express with that it should be full-width and not assume/restrict anything about the content within :)

[2021-11-05 00:04] kuasha420 commented on #4152
@felixarntz submitted the follow up pr. Took a bit long to figure out component rendering order, but should be good. Please review and if everything looks right, it can go straight to approval as it will be QA'd with the linked issues.

cc @eugene-manuilov

[2021-11-05 06:16] ivankruchkoff commented on #4216
While not in the AC/IB, based on the other changes we were making, it seems that https://github.com/google/site-kit-wp/pull/4321/commits/1b1b7dd0906bcabfa2669f137908271f128c7cd8 was also necessary:
`assets/js/modules/analytics/components/setup/SetupMain.js` and
`assets/js/modules/analytics/components/setup/SetupForm.js`

[2021-11-05 08:52] aaemnnosttv commented on #4217
@felixarntz the follow-up PR has been merged and I've confirmed there are no more instances of `viewContext }__` in the codebase 👍

[2021-11-05 08:58] aaemnnosttv commented on #4219
@felixarntz follow-up PR is merged 👍

[2021-11-05 09:16] aaemnnosttv commented on #3073
@bethanylang last I checked, this seemed to be independent of Site Kit as in it was entirely based on the request to the Analytics API.

From what I recall, it only happened when we were requesting the additional date range for comparison for the previous period. Do we have a site/property where this can still be observed? If so, I can take another look and get more details.

[2021-11-05 09:20] aaemnnosttv commented on #4237
@felixarntz are you saying we can use it in the request as a filter without listing it as a dimension?

[2021-11-05 10:57] tofumatt commented on #4302
QA ✅  from me, all looks good 👍🏻

[2021-11-05 13:14] jamesozzie commented on #4165
@raja-anbazhagan We'll have the latest version of Site Kit released early next week. This fix will be part of that release so hopefully you'll not longer encounter this behavior at that point. Be sure to let us know the outcome once you test it!

[2021-11-05 14:30] wpdarren commented on #4302
QA ✅  Completed the checks in our smoke testing checklist.

[2021-11-05 14:34] raja-anbazhagan commented on #4165
@jamesozzie I misread the update from @ivankruchkoff. Is there a snapshot version available for me to test?

[2021-11-05 14:46] wpdarren commented on #4050
@felixarntz @asvinb @tofumatt Looking at the initial description and AC's, the QAB doesn't appear to be accurate. Please could you clarify if it is, and if not, any additional info would be appreciated.

[2021-11-05 15:48] techanvil commented on #4152
**QA:Eng** :heavy_check_mark: Verified the result of PRs #4264 and #4319 against the ACs.

[2021-11-05 17:20] ivankruchkoff commented on #4302
LGTM ✅

[2021-11-05 17:37] felixarntz commented on #4152
Approval ✅  Thanks @kuasha420!

[2021-11-05 17:37] #4152 closed

[2021-11-05 17:38] felixarntz commented on #4237
@aaemnnosttv Yes - `dimensionFilters` and `dimensions` have no relationship with each other, except they both deal with dimensions. But one is a filter and the other one defines how to "format" the response, so they're unrelated.

[2021-11-05 17:40] felixarntz commented on #4219
Thanks everyone for the feedback, Approval ✅

[2021-11-05 17:40] #4219 closed

[2021-11-05 17:43] bethanylang commented on #4165
@raja-anbazhagan We do not offer pre-release testing versions, but as @jamesozzie noted, this will likely be released on Monday. If you're still having trouble after updating, please open a <a href="https://wordpress.org/support/plugin/google-site-kit/#new-post" rel="noopener noreferrer" target="_blank">new support topic</a> on our support forum and we'd be happy to take another look – all support

[2021-11-05 17:45] felixarntz commented on #4217
Thanks for the quick fix - Approval ✅

[2021-11-05 17:45] #4217 closed

[2021-11-05 23:41] kuasha420 commented on #4302
## LGTM :heavy_check_mark:
Went through the release checklist without facing any issues. (on local).

[2021-11-07 22:11] cole10up commented on #4122
### **QA ❌**

Thanks for logging the character fix @techanvil

I was able to confirm statistics on the new widget:
![image](https://user-images.githubusercontent.com/57115907/140663562-97b527cc-0f9a-4339-9419-306b1c837beb.png)

Verified the Analytics link.

I noticed with the unified dashboard feature flag on - the analytics and search console pages are showing blank:
![image](https://user-images.

[2021-11-08 07:18] JeffBurris commented on #6
I just want to show my support for this. I was so hoping my lesser-techy partner who I wrote the website for and who edits products, orders etc. in Wordpress could just at least see the initial pie graph of growing visitors per day without making him set up all over again or me walk him through using my gmail... for now I'm just sending him a screenshot once a day of the pie graph. Thanks so much!

[2021-11-08 08:03] aaemnnosttv commented on #4266
@felixarntz probably the simplest fix would be to replace the text button with a circular icon button that we use in the other tabs. An "eye" icon for view would work well I think and the "View draft" could stay as the tooltip. This would make the layout more consistent with others as well.

[2021-11-08 08:47] aaemnnosttv commented on #4122
@cole10up this is expected as these pages are going away with the unified dashboard. See https://github.com/google/site-kit-wp/issues/4134

Sending back to @wpdarren in case there's anything left to review here 👍

[2021-11-08 09:13] wpdarren commented on #4122
I will give this a run through as a sanity check and then approve. 😄

[2021-11-08 10:52] aaemnnosttv commented on #4136
@tofumatt is there a substantial benefit to storing empty areas rather than deriving it from existing selectors? It seems simple enough to derive every time although I'm not strictly opposed to memoizing the operation.

This part is incompatible with the changes required of the `WidgetAreaRenderer` which is missing:

Similarly, the changes called for to the `WidgetContextRenderer` is also not cove

[2021-11-08 12:27] jamesozzie commented on #4235
I've been able to recreate this today on one site. This particular site is on a hosting platform that has a very restrictive Firewall and from testing doesn't offer great performance.

On occasions this site often times out when performing AMP validation and on occasions the Site Health status (below) displays that the site cannot perform loopback requests.

![image](https://user-images.githubuser

[2021-11-08 12:42] asvinb commented on #4270
@eugene-manuilov @felixarntz While working on this issue, I'am wondering whether we should rename `isGatheringData` to `hasGatheredData` because when I read `isGatheringData`, I thought it's still grabbing the data instead of already fetching the data. For e.g [reading those lines](https://github.com/google/site-kit-wp/blob/22ded8f56153d798dcceece328dfe1467b0fea0b/assets/js/modules/search-console/

[2021-11-08 12:48] asvinb commented on #4050
@wpdarren The QAB says going to the following URL: `/wp-admin/admin.php?page=googlesitekit-dashboard&notification=authentication_success`. In doing so, the `BannerNotifications ` component will be passed to the `Header` component via the `subHeader` prop. It's a way to test the latter. Then it should match the designs in Figma, meaning there should no be any borders between the header and the sub

[2021-11-08 13:59] wpdarren commented on #4122
### QA Update: ✅

I've sent this to approved. Cole previously confirmed that the only issue was blank module pages.

@felixarntz @tofumatt one small observation: I did notice in the AC, widgets were ordered: Session Duration
then Bounce Rate, but the widgets are displayed the other way around on the screenshots above.  Reading through the comments it looks like a change was made but AC not updated

[2021-11-08 14:28] eugene-manuilov commented on #4216
@felixarntz, perhaps we should make it consistent with how property events work? Instead of having 4 different events, we can use two `enable_tag` and `disable_tag` events with the appropriate `ua` or `ga4` labels. What do you think?

[2021-11-08 14:30] wpdarren commented on #4106
### QA update: ✅

- The progress bar appears for the GA4 property when you select a different account.

https://user-images.githubusercontent.com/73545194/140760000-4b0a639c-2ec5-4a6f-acf9-270ab6e2ce82.mp4

[2021-11-08 15:02] wpdarren commented on #4050
### QA Update:  ✅

**Verified:**

- There are no visible lines separating the header and the sub header content.

![image](https://user-images.githubusercontent.com/73545194/140763831-e86cb888-3361-48c2-bab5-42590169faf6.png)

- When scrolling down the page, the header is sticky.

![image](https://user-images.githubusercontent.com/73545194/140764005-51a8b1b3-c46c-40aa-a536-1071b110f7ec.png)

- Con

[2021-11-08 15:07] kuasha420 commented on #3201
## QA: :heavy_check_mark:

Thank you for adding the unit tests, @eugene-manuilov. LGTM. Sending to `Approval`.

[2021-11-08 18:32] jamesozzie commented on #276
When considering this update to the plugin as pointed out [by one user](https://wordpress.org/support/topic/uncompatible-with-multiste/#post-15048206) network sites using a subdirectory structure as opposed to a subdomain could be handled differently to a domain type setup, with a domain type property for Search Console and the same Google Analytics property used.

[2021-11-08 19:06] felixarntz commented on #4216
@eugene-manuilov Great idea! I've updated the ACs to reflect this new requirement. cc @ivankruchkoff

[2021-11-08 19:15] felixarntz commented on #4136
@tofumatt Maybe you missed these parts in the ACs, but I second some of Evan's points above - the AC here already specifies the required selectors/signatures, let's write the IB based on this.

It is one of those more closely eng-related ACs, but for things like this it can make sense since this is technically a third-party API where function/selector signatures can be essential and relevant to be

[2021-11-08 19:19] felixarntz commented on #4270
@asvinb I see some of the confusion you're mentioning, however I don't think that `hasGatheredData` makes the name more accurate. The selector returns `true` when the service behind the API is _overall_ still "gathering data". `hasGatheredData` would imply to me that the service already has data, which would mean the opposite of what it does now. `isGatheringData` is technically accurate, however

[2021-11-08 19:35] felixarntz commented on #4266
@marrrmarrr What are your thoughts on this? How do you feel about @aaemnnosttv's suggestion? Should we involve UX in this?

[2021-11-08 20:04] #3807 closed

[2021-11-08 20:05] felixarntz commented on #4122
@wpdarren You're right - I've now updated this in the ACs as well, for any future reference.

[2021-11-08 20:05] #4122 closed

[2021-11-08 20:20] eugene-manuilov commented on #4160
@asvinb full stops should be added back to each version of the message copy and then trimmed from the end of the combined string. This is important to add full stops to all messages because it needs to be properly localized.

[2021-11-08 20:22] eugene-manuilov commented on #4276
IB :heavy_check_mark:

Note: I have bumped the estimate from `1` to `3`.

[2021-11-08 20:54] eugene-manuilov commented on #4227
IB :heavy_check_mark:

Note: bumped the estimate from `1` to `3`.

[2021-11-08 21:04] eugene-manuilov commented on #3993
@felixarntz do you mind swapping the `googlesitekit_available_modules` filter for all modules with the `googlesitekit_is_module_available` filter that will be applied to each module individually? I think it would be a more elegant solution rather than filtering all modules together and then figuring out which module is added or deleted.

[2021-11-08 21:50] #4302 closed

[2021-11-08 22:07] tofumatt commented on #4136
Sounds good. I think I was re-thinking the approach based on the intended outcome. But I think maybe I had a different approach in mind and glossed over the existing `isInactiveWidgetState` utility function. Also I did totally miss the context rendering bit, sorry about that!

I've re-thought the IB and it's ready for another look now 👍🏻

[2021-11-08 23:42] felixarntz commented on #3993
@eugene-manuilov Hmm, maybe. It may be simpler to use the filter like you're suggesting, but it would also mean we apply a filter for something rather edge-case-y several times instead of once. Also there may be cases where one party wants to conditionally control multiple modules, in which case a single filter may make that more straightforward.

I agree your suggestion is in a way more elegant a

[2021-11-09 00:03] henrywright commented on #3993
There is 1 advantage I can think of if a single filter is used instead of multiple filters. The user of the filter can provide an _allow list_.

[code]

Then in the plugin you could do something like this:

[code]

This way, at a future date if a teleportation module is added to site-kit-wp, the user of the filter can decide if teleportation is useful for his or her users.If it is going to be usef

[2021-11-09 09:31] shayannosrat commented on #4227
Would love to take this issue as my first contribution to this repo 🚀

[2021-11-09 09:52] jamesozzie commented on #4165
@raja-anbazhagan Just to let you know that Site Kit 1.45.0 has been released. Can you give that a try and confirm that the most popular content table works as expected with these latest changes?

[2021-11-09 10:09] raja-anbazhagan commented on #4165
@jamesozzie Works perfectly. Thanks.

[2021-11-09 10:24] aaemnnosttv commented on #4270
@felixarntz maybe something like `hasAnyData` would be less open to misinterpretation? If there is any data then it is no longer waiting to being gathered. To me I think this would be more clear that a request is no longer in progress, but even if other requests were still in progress this would return true as soon as any report returns data.

[2021-11-09 10:42] aaemnnosttv commented on #4136
@felixarntz I just realized that this would require additional changes to the dashboard entity app. Currently the context `Header` is what shows the entity not found message:

@tofumatt this part still references the selector from the previous IB; I'll rename it 👍

The IB looks great otherwise, just pending any potential change from @felixarntz on the above.

[2021-11-09 12:07] asvinb commented on #4168
@felixarntz Something just jumped at me. In the AC, it mentions that:

It concerns the [following lines](https://github.com/google/site-kit-wp/blob/develop/assets/js/components/legacy-notifications/util.js#L62-L69). So if we are removing the call to `getModulesNotifications`, it means that `getTotalNotifications` will always return `0` which looks incorrect to me. Maybe we are missing something in

[2021-11-09 12:27] aaemnnosttv commented on #4235
@jamesozzie @bethanylang I've confirmed the source of the conflict here to be from the [RegistrationMagic – Custom Registration Forms, User Registration and User Login Plugin](https://wordpress.org/plugins/custom-registration-form-builder-with-submission-manager/) plugin which is enqueuing the Google charts loader and the latest version of the charts library on **all admin screens**.

![image](htt

[2021-11-09 12:30] jamesozzie commented on #4235
@aaemnnosttv Thanks for checking this. I'll open a support topic with the plugin developer and check with any impacted users.

[2021-11-09 14:14] eugene-manuilov commented on #4216
@ivankruchkoff could you please add QAB?

[2021-11-09 14:20] wpdarren commented on #4049
### QA Update: ❌

@kuasha420 @tofumatt I've found a few observations from testing:

1) On desktop (using Chrome and Safari) the styling of the results dropdown is broken when you have a notification

E.g. `wp-admin/admin.php?page=googlesitekit-dashboard&slug=pagespeed-insights&notification=authentication_success#googlesitekit-pagespeed-header`

![image](https://user-images.githubusercontent.com/73

[2021-11-09 14:37] tofumatt commented on #4049
On very wide desktop browsers I could see that loading indicator being quite subtle, but it's: more instructive/visible than the previous UI that _had no loading indicator_ and works well on mobile screens I think.

We didn't have any UX to go on for that loading indicator so I think that can be a follow-up issue—could you file it separately? We might want some design feedback on that because I do

[2021-11-09 15:54] wpdarren commented on #4274
### QA Update: ❌

@asvinb an observation and interested in your thoughts.

Here are the steps to recreate this issue.

1. I connect a module and the success notification is displayed.
2. The notification URL parameter is `wp-admin/admin.php?page=googlesitekit-dashboard&notification=authentication_success`
3. I then dismiss the module by clicking the `OK, Got it!` button.
4. The notification URL pa

[2021-11-09 16:30] aaemnnosttv commented on #4103
@asvinb This might end up being a bit more than a single renaming as there are multiple selectors in that store slice which should be updated for consistency if we were to do this.

![image](https://user-images.githubusercontent.com/1621608/140956234-d965c83c-de9b-4a6c-b59d-b4dfa9b51ff0.png)

While I think this is generally a good idea, it might be best to leave this for a follow-up issue as it wo

[2021-11-09 17:32] wpdarren commented on #4049
@felixarntz @aaemnnosttv

Following on from @tofumatt [comment](https://github.com/google/site-kit-wp/issues/4049#issuecomment-964210654), I do not know if this warrants a ticket, or, if I'm nit picking.

Before I create a ticket, I would appreciate your thoughts. When searching it wasn't obvious that there's a loading indicator as I was typing in the search term. I agree with @tofumatt that it lo

[2021-11-09 17:43] tofumatt commented on #4312
IB ✅

[2021-11-09 18:34] bethanylang commented on #3073
@aaemnnosttv Thanks! This is out of Escalation since we had been able to replicate it, but not sure if we're still able to. @jamesozzie Can you please let us know if you're still able to replicate, and if so, share the appropriate site with Evan?

[2021-11-09 18:47] jamesozzie commented on #3073
@aaemnnosttv @bethanylang Not a problem. I'll setup new domains with Search Console and let you know if I'm able to recreate it once more.

[2021-11-09 19:05] eugene-manuilov commented on #4237
Ok, IB looks good to me. :heavy_check_mark:

[2021-11-09 20:10] felixarntz commented on #4103
@asvinb +1 to what @aaemnnosttv said above. Let's use `GA4` in the names (e.g. `getGA4MeasurementIDs`) for all the new selectors etc. I also agree we should be using plural even if right now GA4 isn't supported in AMP and right now it would only be one measurement ID. I don't have a strong opinion on the renaming from `Analytics` to `UA`, but definitely if we do it here, it should apply to all app

[2021-11-09 20:20] felixarntz opened #4329 "Avoid `--undefined` in CSS class on inactive widget area"
## Bug Description

It's currently possible for an empty widget area to have an `--undefined` affix in its CSS class names, for example when opening the **current** entity dashboard with Analytics inactive which will lead to an inactive `pageDashboardAllTraffic` widget area. In there it has `googlesitekit-widget-area--undefined` in place of where it should have `googlesitekit-widget-area--boxes`.

[2021-11-09 20:31] felixarntz commented on #4136
@aaemnnosttv Good catch! I've added a note on this to the ACs.

@tofumatt Since the widget context is only ever empty for the extra `pageDashboardNotFound` widget context, which is used when there's no `currentEntityURL`, I suggest in this case we change `DashboardDetailsApp` to remove that "custom" context and instead render the same markup manually. This is not particularly elegant, but it allow

[2021-11-09 20:34] felixarntz commented on #3993
@eugene-manuilov Great idea! Let's go with that. Assigning back to you for updating the IB.

[2021-11-09 20:36] felixarntz commented on #4049
@wpdarren Creating a new issue to review the loading indicator placement sounds good to me. Let's focus on your QA feedback points 1.-3. in this issue here as @tofumatt mentioned.

[2021-11-09 20:39] felixarntz commented on #4168
@asvinb Yes, that is okay. This approach to count the notifications hasn't really been working correctly for a very long time, it doesn't account for most of our current notifications. With that said, let's still not remove it entirely at this point, since we're going to eventually rebuild this for a new notification system anyway. So while it's strange, let's do it as outlined in the ACs for now,

[2021-11-09 20:43] felixarntz commented on #4270
@aaemnnosttv Hmmm 🤔  `hasAnyData` sounds very much like the opposite of `hasZeroData` - which makes sense, but we now use `hasZeroData` for an individual report. We could argue that maybe a parameter-less call to `isZeroData` could replace `isGatheringData`, but I wouldn't like overloading that selector with two behaviors.

Still not convinced. Since this is a naming discussion we can't seem to fi

[2021-11-10 02:47] kuasha420 commented on #4049
Submitted a [PR](https://github.com/google/site-kit-wp/pull/4331) fixing 2 and 3. Number 1 is a regression involving z-index and stacking context after the subHeader PR got merged. @asvinb Can you please have a look at this?

[2021-11-10 07:49] aaemnnosttv commented on #3073
@jamesozzie I believe the issue here is specific to Analytics rather than SC. This is probably what you meant but just wanted to clarify 🙂

[2021-11-10 08:58] yusiflinurlan commented on #4329
@felixarntz Hello ! Can you please assign this issue to me?

[2021-11-10 10:11] eugene-manuilov commented on #3993
@felixarntz, IB is updated. Do you mind reviewing it?

[2021-11-10 10:53] asvinb commented on #4145
@tofumatt @kuasha420 I have some notes after I started working on this issue and wanted to clarify since it's not in the IB or AC:

-  In the Figma designs, the CTAs are normal case ("Connect", "Not interested", "Complete setup") however I remember there were some conversations about them being uppercase like we have right now. To be consistent with all the CTAs we have, I suggest we leave the CTA

[2021-11-10 12:46] tofumatt commented on #4145
Sounds good, let's go with the uppercase _styles_. They should be CSS uppercased though, not actually written as text that way 🙂

Sounds good.

Sounds good too. In general, we should stick with our existing styles. If the Figma mocks have overall changed margins/paddings we should ignore them and use what we already have defined for our styles. Any "big changes" like that we should do in a separat

[2021-11-10 12:47] tofumatt commented on #4145
(A separate comment for @felixarntz and @marrrmarrr on the last two points.)

Great question—I'm not sure. @marrrmarrr: what is the right link for the above text? I'd think https://support.google.com/adsense/answer/7402256 would make sense but I'm not sure.

@felixarntz: Should we add a tracking event for users who dismiss the AdSense module/CTA widget? If so, what should the event be named?

[2021-11-10 13:18] asvinb commented on #4049
Followup PR for fixing the z-index issue: https://github.com/google/site-kit-wp/pull/4334

[2021-11-10 13:31] marrrmarrr commented on #4145
I'd suggest https://support.google.com/adsense/answer/9724, as it explicitly states what requirements there are for getting approved.

Side-question about the [screenshot](https://user-images.githubusercontent.com/90871/135109497-26669e2b-1480-4d4f-9a53-1db7a3c7a8bc.png) from the issue description -- wanted to confirm if this an intermediary version, since the tab which contains AdSense here is st

[2021-11-10 14:13] wpdarren commented on #4267
### QA Update: ✅

**Verified:**

- When clicking on the "Set up Analytics" button link in the widget, it does not change to the "Complete Analytics Setup" copy.  Instead, a progress bar replaces the "Set up Analytics" link/button in the bottom of the CTA widget.  When the dashboard is visited again the "Complete Analytics Setup" content for the Analytics CTA widget appears as usual.
- Also checked

[2021-11-10 15:29] tofumatt commented on #4136
I like that idea, sounds good. 👍🏻

I think it's a bit more elegant to manually render the content than have a whole context dedicated to "error" widgets 😅

Thanks for catching the code-sample for widget areas; I've updated that as well. Should be ready for another look now 👍🏻

[2021-11-10 16:08] wpdarren commented on #4216
### QA Update: ⚠️

For the `new_analytics_account` replacement an event label "custom-oauth" should be sent, while for the `new_account_setup_clicked` replacement an event label "proxy" should be sent.

@ivankruchkoff I had assumed these events were triggered when creating new GA accounts but could not find them in the data. Any idea what actions I need to trigger the events above?

**Verified:**

[2021-11-10 16:13] adamdunnage opened #4335 "An error occurred while running 'mapSelect': null is not an object (evaluating 'e(f.f).getReport')"
## Bug Description

There have been a couple of reports of users getting the following error message in Site Kit:

`An error occurred while running 'mapSelect': null is not an object (evaluating 'e(f.f).getReport')
The error may be correlated with this previous error:
@https://worldwidepadel.com/wp-content/cache/min/1/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-adminbar-eb64b38

[2021-11-10 16:33] wpdarren opened #4336 "Improve Placement of Entity Search Loading Indicator on Unified Dashboard"
## Bug Description

While testing #4049 I do not feel the loading indicator is placed in an area that's obvious for the user, at the far end of the input field, underneath the close X icon. It took a few searches on desktop before noticing it. It's more prominent on mobile and tablet devices.

I feel it needs to be more prominent within the search box.

## Steps to reproduce

1. Connect Site Kit
2

[2021-11-10 16:48] adamdunnage opened #4337 "An error occurred while running 'mapSelect': null is not an object (evaluating 'e(f.f).getReport')"
## Bug Description

There have been a couple of reports of users getting the following error message in Site Kit:

`An error occurred while running 'mapSelect': null is not an object (evaluating 'e(f.f).getReport')
The error may be correlated with this previous error:
@https://worldwidepadel.com/wp-content/cache/min/1/wp-content/plugins/google-site-kit/dist/assets/js/googlesitekit-adminbar-eb64b38

[2021-11-10 17:00] adamdunnage commented on #4074
@aaemnnosttv More [Site Health](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNgT37i-47Yk3T9hZog8VwiVoo1qZBSj3aV6oXE0pcssl8-w7f53lGxElg4iI1br2zE) from another user impacted by this. Here is the [support topic](https://wordpress.org/support/topic/site-kit-encountered-an-error-53/#post-15055704).

[2021-11-10 17:07] adamdunnage commented on #4337
This is a duplicates of #4337 so closing this.

[2021-11-10 17:08] adamdunnage commented on #4335
This is a duplicate of #4337 so closing this.

[2021-11-10 17:08] #4335 closed

[2021-11-10 17:27] asvinb commented on #4103
Thanks @aaemnnosttv @felixarntz , IB has been updated with the new selector names.

[2021-11-10 17:51] FlicHollis commented on #3947
This is not a dependency for the epic to be complete. After a conversation with @felixarntz on the Eng stand up, this can be worked on after the bug bash.

[2021-11-10 18:17] felixarntz commented on #4329
@yusiflinurlan Looks like @shayannosrat is already working on a PR. If you have another idea for the solution, feel free to open a PR yourself.

[2021-11-10 18:20] felixarntz commented on #4103
@asvinb Thanks! One final thing I missed before:

This component no longer exists as of #3807 - can you update the IB to refer to the new component?

[2021-11-10 18:24] felixarntz commented on #4096
Per https://github.com/google/site-kit-wp/issues/4096#issuecomment-924477283, I've updated the ACs here to also encompass what was previously the ACs of #4001. The IB already accounts for that, so execution here can proceed as is.

[2021-11-10 18:25] felixarntz commented on #4001
Closing this since it's now encompassed in #4096.

[2021-11-10 18:25] #4001 closed

[2021-11-10 18:34] felixarntz commented on #4136
IB ✅

[2021-11-10 18:35] felixarntz commented on #3993
IB ✅

[2021-11-10 19:01] felixarntz commented on #4145
@marrrmarrr Yes, this is an old screenshot, our codebase already uses only "Monetization".

@tofumatt @asvinb
* The support link should be what @marrrmarrr shared above. I've incorporated it into the ACs.
* I also changed one more detail in the ACs: The widget **should not** be registered in the `AREA_ENTITY_DASHBOARD_MONETIZATION_PRIMARY` area. At this point, there is no widget surfacing any AdSe

[2021-11-10 19:38] tofumatt opened #4340 "Add title and subtitle to Widget Contexts for Unified Dashboard"
## Feature Description

The Figma mocks for the Unified Dashboard show headings and subheadings for each Widget Area:

<img width="908" alt="Screenshot 2021-11-10 at 18 27 41" src="https://user-images.githubusercontent.com/90871/141171970-2a896785-d633-481a-aad1-0631a22cc3fd.png">

We should add the ability to have headings and subheadings for a given Widget Context.

---------------

_Do not alte

[2021-11-10 19:43] tofumatt commented on #4340
@felixarntz I mentioned in the ACs that this text applies to widget contexts, not really widget areas, in part because the areas already have titles/subtitles.

But I think we might also want to update the headings/subheadings across the widget areas too. Do we want to do that as part of this epic too? If so, let me know and I'll file an issue for that as well.

[2021-11-10 20:17] felixarntz commented on #4340
@tofumatt Hmm I believe we can keep these titles/subtitles to be on widget areas, or not? The non-unified-dashboard widget areas already have them, but the unified-dashboard widget areas don't have any unless I'm mistaken. Also there's a 1-to-1 mapping between contexts and areas in the unified dashboard, so I think we can simplify the ACs by saying that all this copy should be in the widget area r

[2021-11-10 22:19] felixarntz opened #4341 "Implement splash UI for initially activating Analytics"
As part of the [onboarding flow enhancements work](https://www.figma.com/file/VCIN9UWqoHL3ydQ2rOyP99/Onboarding-Flow-Improvements), it should be possible to set up the Analytics module from the very beginning.

While this is technically its own enhancement, it should be tied into the `serviceSetupV2` epic which it'll launch together with.

---------------

_Do not alter or remove anything below. T

[2021-11-10 22:30] felixarntz opened #4342 "Point to correct service UI when Analytics is being configured as part of setup"
This ties into the changes from #4341, but is **not** technically blocked by it. The two issues complement each other. Here's what this is about: When Analytics is being set up as part of the overall setup flow, the proxy should show corresponding copy. There is already a distinct UI present in the proxy that can be triggered by the plugin on demand.

---------------

_Do not alter or remove anyth

[2021-11-10 22:41] felixarntz opened #4343 "Add UI for activating Analytics as part of plugin setup to the activation banner"
The UI to activate Analytics as part of the setup is being implemented in #4341, adding it to the splash screen. This issue is a follow-up to that one with the goal to incorporate the same UI into the plugin activation banner.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `assets/js/components/se

[2021-11-11 01:34] ivankruchkoff commented on #4133
@felixarntz I started working through the CR feedback, and decided to screen record two different scenarios. I think both approaches (now or later) are broken and need some further work to get the ticket ready for QA.

1) Load the feature tour only after the PSI module has finished fetching all data:

It takes about 35s to load, and will provide a weird experience for users who are on the dashboar

[2021-11-11 04:59] ivankruchkoff commented on #4133
I've addressed the CR feedback hence putting it back into CR, but per my previous comment, I think both approaches (feature tour straight away or feature tour when module data loads) will be problematic.

[2021-11-11 09:08] asvinb commented on #4274
@wpdarren So the issue you found during QA is a separate issue. Previously, the notification would not rendered at all because of the `notification` URL parameter. So if you dismiss a notification and you refresh the page, you will see new notifications if there are. So this is fixed.
The issue is you're describing is more about the notification being rendered but the scroll position is being main

[2021-11-11 09:48] asvinb commented on #4103
Updated @felixarntz !

[2021-11-11 11:19] eugene-manuilov commented on #4275
@kuasha420 why do we need to use the `useMemo` hook here? It seems to me that there is no need in it. Let's define that object directly in the component.

[2021-11-11 13:10] eugene-manuilov commented on #4255
Thanks, @asvinb. A few comments:

Let's define the new function in the `assets/js/util/chart.js` file where we have chart-related functions.

We also need to update `getSiteStatsDataForGoogleChart` functions in AdSense and SearchConsole modules.

[2021-11-11 13:49] wpdarren commented on #4270
### QA Update:  ✅

**Verified:**

- The WP dashboard widget shows zeros for Search Console impressions and clicks respectively.
- The WP dashboard widget shows zeros for Analytics visitors and avg. time on page respectively.
- The WP dashboard widget does not display the popular pages table at all if its Analytics report is only 0s
- Confirmed that the units are included, i.e. "Avg. time on page"

[2021-11-11 14:19] eugene-manuilov commented on #4209
@asvinb I believe it should be `is null`, shouldn't it?

[2021-11-11 16:05] felixarntz commented on #4103
IB ✅

[2021-11-11 16:06] jamesozzie commented on #3073
I can't recreate this on any test sites, including on [new domains with no previous GA data](https://i.imgur.com/REfpip1.png).

@bethanylang Happy for me to close this for the time being while checking in with the user who reported this?

[2021-11-11 16:25] bethanylang commented on #3073
@jamesozzie Yup, closing.

[2021-11-11 16:25] #3073 closed

[2021-11-11 18:09] ivankruchkoff commented on #4133
Discussed this with @aaemnnosttv to find a compromise approach.

The high level suggestion here for loading the tooltip is to only show it when there is the data available within a very short time period of page load. So it would go as follows:

1. Initial page load, no feature tour as it takes 35s to load the data.
2. Come back to the page at some point, the data is still in the browser cache so

[2021-11-11 18:35] techanvil commented on #4120
## QA: :x:

* :heavy_check_mark: Unit tests all pass.
* :heavy_check_mark: `assets/js/modules/idea-hub/components/dashboard/DashboardCTA.js`: An event is being tracked the first time the component scrolls into view. Subsequent scrolling does not trigger an event.
* :heavy_check_mark: `assets/js/modules/pagespeed-insights/components/dashboard/DashboardPageSpeed.js`: An event is being tracked the fi

[2021-11-11 19:00] tofumatt commented on #4340
@felixarntz My only concern there was styling; the titles and subtitles would appear inside any "composite" widget area. Aside from that: yes, we could keep them.

I suppose we could change the styling of the titles/subtitles when the Unified Dashboard feature flag was on to always show them outside the widget box. If that would be okay then we could simplify this and use those titles/subtitles.

[2021-11-11 19:31] eugene-manuilov commented on #4049
@wpdarren this is ready for QA.

[2021-11-11 20:12] felixarntz commented on #4340
@tofumatt

Is that true? I think the titles still always display outside of the boxes, see the current Search Funnel widget area which is a `composite` area. So I don't think we need to worry about changing any styles.

If that sounds good to you, I can update the ACs - I also wanted to incorporate all the exact wording into the ACs. We can take them from the Figma file, but we should put them her

[2021-11-11 20:20] felixarntz commented on #4133
@ivankruchkoff @aaemnnosttv The approach you're suggesting is _somewhat_ okay. Preferably, the experience should be that the tooltip is shown right away, even with the widget loading. The real problem there is that then because of the content shift the tooltip tour no longer focuses on the right place - is there no way for us to fix _that_ problem?

I don't think it's a problem at all that the wid

[2021-11-11 20:23] felixarntz commented on #4133
I approved the PR given we go with your suggested approach, but before merging I'd like for us to talk through my response above.

[2021-11-11 20:40] eugene-manuilov commented on #3726
IB looks good to me, but I want @felixarntz to check the comment about font smoothing in IB.

[2021-11-11 21:01] eugene-manuilov commented on #4028
@kuasha420 let's not remove the existing css rules because it will affect something else, instead, left's add one more css rule that will fix the issue for the Optimize module. We can use `.googlesitekit-optimize-setup__form` and `.googlesitekit-setup-module--optimize` selectors to restrict style changes to work only for the Optimize module.

[2021-11-11 21:10] eugene-manuilov commented on #4238
IB ✔️

[2021-11-11 22:35] felixarntz commented on #4340
@tofumatt I've updated the ACs - I found out the problem here is actually more a bug than that we need to add the titles/subtitles. They are already in the widget area registrations, but somewhat of a "logic flaw" prevents them from being displayed currently. That said, some of the current titles/subtitles are slightly off as well, particularly for the entity dashboard version some adjustments are

[2021-11-11 22:41] felixarntz commented on #3726
@asvinb I trust your judgement on this, so from my perspective we can leave it as is and not add the `-webkit-font-smoothing: antialiased;`. Paging @samitron7 here for visibility.

[2021-11-12 07:25] ivankruchkoff commented on #4216
For

`/wp-admin/admin.php?page=googlesitekit-settings#/connected-services/analytics/edit`
In the account creation after submitting the form it sends the event.

I haven't been able to repro it as I get redirected prior to reaching the event tracking due to:
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/components/common/AccountCreate/index.js#L142-L158

I think the

[2021-11-12 09:19] aaemnnosttv commented on #4133
I don't think there is a simple way to fix this at the moment. The only way I think we could guarantee it would be to temporarily fix the height of the other areas. Alternatively, maybe fixing the position of the pagespeed widget area and disabling the scroll on the body might also work but both are pretty hacky.

@felixarntz Joyride doesn't currently offer a way to enable keeping the target in vi

[2021-11-12 11:08] techanvil commented on #4329
@felixarntz does this still need fleshing out with an IB if we've got work in progress on it?

[2021-11-12 11:08] jamesozzie commented on #4074
Thanks @adamdunnage. I've been [able to recreate this](https://recordit.co/tn0XEefs24) based on an environment similar to this latest report, with the same plugins mentioned in another support topic. Further testing ongoing.

[2021-11-12 13:13] jamesozzie commented on #4074
This occurs with this Site Kit and the [User Profile Picture](https://wordpress.org/plugins/metronet-profile-picture/) plugin active ([recording](https://recordit.co/LHRyCw2le2)).

This plugin is evident on other users sites from checking their Site Health info.

I don't see any reference to the Google Charts Library API within the plugin however the plugin is open source. ([GitHub repo](https://g

[2021-11-12 14:50] techanvil opened #4348 ""Top Earning Pages" and "Performance over the last 28 days" widgets not present on the Unified Dashboard."
## Bug Description

The **Top Earning Pages** and **Performance over the last 28 days** widgets should be present on the Unified Dashboard, but in fact are not present.

## Steps to reproduce

1. Enable the `unifiedDashboard` feature flag.
2. Connect the AdSense and Analytics modules.
3. Navigate to the Dashboard and scroll to the bottom.
4. The **Top Earning Pages** and **Performance over the las

[2021-11-12 15:20] wpdarren commented on #4049
### QA Update:  ✅

**Verified:**

- The Entity Search appears not expanded.   - [Screenshot](https://user-images.githubusercontent.com/73545194/141485586-8054276c-f8a3-4bf3-a037-37de38d546c6.png)
- The Entity Search URL Search/magnifying glass icon button shows the search input when clicked. - [Screenshsot](https://user-images.githubusercontent.com/73545194/141485746-eedac3fd-8ff8-4564-baa5-a20fab

[2021-11-12 15:48] wpdarren commented on #4168
### QA Update: ⚠️

@tofumatt I am assuming we are not running QA on the actual message at this stage?  Just noticed that the AdSense logo is quite small and didn't want to be nit-picky if it's just a check to make sure the message appears.

![image](https://user-images.githubusercontent.com/73545194/141494389-19da076d-5dd4-43ad-bac9-ff0f744d0874.png)

[2021-11-12 17:26] felixarntz commented on #4145
@asvinb Sorry, I had missed your tracking question from before. That's a great point, let's add an event for when the AdSense module is activated through here, as follows:
* Event name: `activate_module`
* Event category: `{ viewContext }_widget-activation-cta`
* Event label: `adsense`

[2021-11-12 17:32] felixarntz commented on #4329
@techanvil So far the PR doesn't have the right solution, so I'd say we can proceed with an IB.

[2021-11-12 17:35] felixarntz commented on #4216
@eugene-manuilov @wpdarren In order to trigger the legacy flow, you'll have to configure your own GCP credentials, so that Site Kit doesn't use the proxy. We have instructions for that in https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/, you essentially have to follow that flow.

[2021-11-12 19:18] tofumatt commented on #4168
@wpdarren Correct, that text is what appears in the code copied from the QA brief; the aim here is just to see the notification, so that is all good and expected 👍🏻

[2021-11-12 19:18] aaemnnosttv commented on #4074
Thanks @jamesozzie! I was able to reproduce this locally and we've finally solved the mystery of this madness.

You're right that the plugin is raising this error, but it could very easily be triggered by others. The plugin is loading its Gutenberg integration on our dashboard (probably everywhere) which is in turn loading an SVG sprite with a bunch of social icons which is actually the cause of t

[2021-11-12 19:28] CClanda commented on #6
I have the same problem! The plugin is practically USELESS if you can't show analytics to users with lower privileges. I tried with other methods to add the permission without success.

Please fix this!!!

[2021-11-12 19:33] felixarntz commented on #4074
Oh wow, I just have to say I love the obscurity of this bug 😂

Excellent work on figuring this out @jamesozzie @aaemnnosttv!

[2021-11-12 19:38] felixarntz commented on #4074
@FlicHollis @eclarke1 Let's include this in the coming sprint.

[2021-11-12 21:54] kuasha420 commented on #4028
@eugene-manuilov changed the wording and mentioned the form class in the updated IB. I think the changes needed should be understandable now.

[2021-11-12 23:14] kuasha420 commented on #4275
@eugene-manuilov updated the IB, pardon me for this style of code and suggestions as I am too used to less/non-mutating TypeScript code. IB Updated.

[2021-11-14 13:59] eugene-manuilov commented on #4028
Thanks, @kuasha420. IB :heavy_check_mark:

[2021-11-14 14:09] eugene-manuilov commented on #4275
No worries, @kuasha420. IB :heavy_check_mark:

[2021-11-15 06:28] wpdarren commented on #4168
QA Update: ✅

- A notification appears below the header.

![image](https://user-images.githubusercontent.com/73545194/141494389-19da076d-5dd4-43ad-bac9-ff0f744d0874.png)

[2021-11-15 09:42] aaemnnosttv commented on #4074
@felixarntz after digging into this a bit more the problem seems to be rooted in the charts loader script itself. I've raised this upstream where it may be fixable without any update to Site Kit since `loader.js` is unversioned.

https://github.com/google/google-visualization-issues/issues/2936

The problem in our case (in conjunction with this bug) is due to how the `react-google-charts` library

[2021-11-15 10:42] techanvil opened #4350 "Update ESLint to prevent backtick-quoted bare strings"
## Feature Description

At present our linting will allow backtick-quoted bare strings, e.g.

[code]

We should update ESLint to warn or error when using backticks for non-template strings.

The WordPress JavaScript coding standards specify that strings should use single quotation marks:

https://developer.wordpress.org/coding-standards/wordpress-coding-standards/javascript/

---------------

_Do

[2021-11-15 11:42] asvinb commented on #4209
Good catch @eugene-manuilov . Updated!

[2021-11-15 11:59] asvinb commented on #4255
Sounds good. IB updated @eugene-manuilov

[2021-11-15 13:00] techanvil commented on #4136
@tofumatt (as you wrote the IB), I've noticed that when it comes to updating `DashboardDetailsApp`, following the IB to the letter the page loses some styling, which is due to the top-level classes rendered by `WidgetContextRenderer` no longer being present.

Compare the current styling (the classes in question are highlighted):

![image](https://user-images.githubusercontent.com/18395600/14178362

[2021-11-15 13:13] marrrmarrr commented on #4340
@felixarntz @tofumatt I had already reviewed the copy for the site-level sections when these designs were initially being reviewed. Made updates for the page-level dashboard.

[2021-11-15 13:37] eugene-manuilov commented on #4209
@asvinb, we also need to do the same for the AMP container: https://github.com/google/site-kit-wp/blob/bf6f38e981d420d4a2a3d7cfbe25384fd2e3de8e/assets/js/modules/tagmanager/datastore/accounts.js#L148-L153

[2021-11-15 13:40] eugene-manuilov commented on #4255
Thanks, @asvinb. IB ✔️

[2021-11-15 13:43] eugene-manuilov commented on #4286
IB ✔️

[2021-11-15 13:46] wpdarren commented on #4216
### QA Update: ✅

**Verified:**

_The Analytics account_change event_

- If the user selects the option to create a new account, the event is `change_account_new.`
- If the user selects another account, the event is `change_account`.

_The Analytics property_change event_

- If the user selects the option to create a new property, the event is `change_property_new`.
- If the user selects another p

[2021-11-15 13:53] asvinb commented on #4121
@tofumatt I've added the IB but since #4096 is still in the works, it's difficult to me right now to evaluate the changes that should be made to the tests. I've added a large estimate though, mainly to cater for test changes. Let me know what you think.

[2021-11-15 14:09] eugene-manuilov commented on #4209
IB ✔️

[2021-11-15 14:12] henrywright opened #4352 "AdSense account creation when the user has 2 Google accounts"
## Bug Description

It is possible to have more than 1 Google account. For example: I have a personal Gmail account and a professional Workspace account.

Imagine this scenario:

 - google.com website signed in as user A
 - Site Kit on WordPress signed in as user B

If I attempt to create an AdSense account by clicking on the "Create AdSense Account" button, I get taken to the AdSense "Home" page

[2021-11-15 14:36] wpdarren commented on #4134
### QA Update: ✅

**Verified:**

_With unifiedDashboard enabled_

- Successfully connected all modules including Optimize and Tag Manager.
- The sidebar links no longer appear for these modules.

![image](https://user-images.githubusercontent.com/73545194/141798603-f667956e-e2d8-4cf2-a0f0-36ab2b2258af.png)

_With unifiedDashboard disabled_

- As a sanity check. Successfully connected all modules i

[2021-11-15 14:45] marrrmarrr commented on #4247
@felixarntz LMK if you have any further questions on this one, otherwise let's move it to IB.

[2021-11-15 14:54] henrywright commented on #4352
If it helps, when I used the same Site Kit account to create and connect an Analytics account I didn't encounter this problem

[2021-11-15 14:55] jamesozzie commented on #4352
Hi @henrywright,

While different WordPress administrators can login and setup Site Kit the plugin can be connected to one AdSense account. While AdSense policy dictates that users can only have one AdSense account you can add users access to the Site Kit connected AdSense account. You'll find a support topic in the AdSense Help Center in relation to this below:
https://support.google.com/adsense/

[2021-11-15 14:55] #4352 closed

[2021-11-15 14:59] henrywright commented on #4352
Hi @jamesozzie

Thanks for your reply. I don't want to grant access to my Workspace account. Instead, this issue relates to the account creation process being interrupted because a different account is signed in.

When I attempt to create an AdSense account using Site Kit, I expect the process to use the account signed in on Site Kit, not the account signed in on google.com

[2021-11-15 15:17] jamesozzie commented on #4352
@henrywright When you're directed to AdSense from a Chrome browser [incognito window](https://i.imgur.com/ALzgiHp.png) you should be asked to sign in with your Google account. The Google account that is displayed after logging in should match the email you used to login - the same once which you've used to setup Site Kit.

If you're is not displaying the same email which you've used to login with

[2021-11-15 15:40] henrywright commented on #4352
@jamesozzie please see this screen recording I made. The Site Kit account is peterjimwright@gmail.com and the account on google.com is henry@lsquo.com

https://imgur.com/a/51zLgjC

[2021-11-15 16:44] henrywright commented on #4352
Sure

1. This video wasn't taken using Incognito
2. I have an existing AdSense account. This is the account signed in on google.com. That AdSense account isn't approved but that isn't really relevant because I don't want that account to be associated with Site Kit. The only reason it appears on when you are taken to google.com is it happens to be signed in

[2021-11-15 17:17] techanvil commented on #4136
@tofumatt also, I am going to hazard a guess that this sentence under Test Coverage refer to a previous incarnation of the IB, would that be right? (I can see from https://github.com/google/site-kit-wp/issues/4136#issuecomment-963030859 that there was some talk of actions in an earlier iteration)...

[2021-11-15 18:16] Debtsettle opened #4353 "Google site kit error"
![Screenshot_20211115-224410_1](https://user-images.githubusercontent.com/94394593/141832725-a3bd5e83-417f-47a3-983c-62b53f76c656.png)

Hello sir,

I am facing this issue from long time in google site kit **the response is not a valid json response**  please give me any solution.

Thank you

[2021-11-15 18:20] #4353 closed