[2021-12-08 19:49] eugene-manuilov commented on #4160
@mitogh could you please add QAB?

[2021-12-08 19:59] eugene-manuilov commented on #4427
@felixarntz IB is updated. Does it look good to you?

[2021-12-08 20:44] eugene-manuilov commented on #4454
IB :heavy_check_mark:

[2021-12-08 20:53] felixarntz commented on #4427
IB ✅

[2021-12-08 21:13] felixarntz commented on #4376
@techanvil With #4451 now _almost_ through code review (only super-minor changes requested there), it may now be possible to proceed with an IB for this issue. It's probably best if you pull that PR's branch and come up with an IB based on that.

I've also made some small changes to the ACs to reflect the latest requirements, including removal of the `googlesitekit_proxy_setup_url_params` filter a

[2021-12-08 21:37] tofumatt commented on #4493
If the IB here looks good feel free to move this one right into Code Review, as there's already a PR created to verify the IB here would work 🙂

[2021-12-08 23:58] ivankruchkoff commented on #4471
QA ✅

1. feature-flags.json
https://github.com/google/site-kit-wp/blob/4e5bb3717b1bfd9a240a079ec4150c7d2b4e28e0/feature-flags.json#L2

2. Dropdown
<img width="218" alt="Screen Shot 2021-12-08 at 3 56 01 PM" src="https://user-images.githubusercontent.com/373931/145310046-d586e02c-c98c-477f-bc74-6b0b2fa08751.png">

3. Settings Checkbox
<img width="476" alt="Screen Shot 2021-12-08 at 3 56 26 PM" src=

[2021-12-09 00:01] ivankruchkoff commented on #4418
QA ✅
<img width="570" alt="Screen Shot 2021-12-08 at 3 09 16 PM" src="https://user-images.githubusercontent.com/373931/145310373-a57bda45-e120-4cd2-bb47-103c695b68bb.png">

[2021-12-09 00:29] ivankruchkoff commented on #4042
QA ✅

No deprecation warning, no duplicate titles error.

[2021-12-09 02:03] Greatdane commented on #4485
Thanks for the infomation! I will pass this on.

[2021-12-09 08:34] aaemnnosttv commented on #4376
#4451 is now merged, so it's no longer a blocker here 🚀

[2021-12-09 09:26] aaemnnosttv commented on #4380
IB ✅

[2021-12-09 09:34] techanvil commented on #4376
@felixarntz @aaemnnosttv that's great, thanks for letting me know. I'll move back onto this next!

[2021-12-09 10:02] techanvil commented on #3948
Hi @felixarntz @eugene-manuilov, I've started this and have been able to fix all but one of the stories mentioned.

Regarding the last story, it doesn't seem like https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-setup--existing-tag-w-access-gtm-property-w-o-access (Existing Tag w/ access, GTM property w/o access) can be made to enable the **Configure Analytics** bu

[2021-12-09 10:33] aaemnnosttv commented on #4103
Thanks @techanvil I'll try to clarify

My understanding of the original issue here is about Analytics being unaware of an existing GTM tag when placed manually **and** Tag Manager is not connected. If the module was connected with the existing tag present then Analytics would also be aware of it but only if the user had access to the container as setup is blocked otherwise. If the user doesn't hav

[2021-12-09 10:50] henrywright commented on #4485
@Greatdane there is a PR for this issue that hasn't been reviewed yet. Can you reopen this?

[2021-12-09 11:54] eclarke1 commented on #4467
@felixarntz just assigning to you please to answer the question from @aaemnnosttv to get this one progressed if possible please.

[2021-12-09 12:17] eugene-manuilov commented on #4500
@asvinb shouldn't it be `padding-right`?

[2021-12-09 12:31] eugene-manuilov commented on #4410
@asvinb I think we can implement the logic to scroll to an anchor within the `BannerNotification` component itself without exposing the `onAnchorLinkClick` property. The idea is very simple, if we have an anchor in the banner, then the `BannerNotification` component scrolls to it using the selector provided in the `anchorLInk` property. In this case, the solution will be more universal and we won'

[2021-12-09 12:38] eugene-manuilov commented on #4360
Going to close this ticket in favor of #4496

[2021-12-09 12:38] #4360 closed

[2021-12-09 12:44] eugene-manuilov commented on #4496
IB ✔️

[2021-12-09 13:02] asvinb commented on #4500
🤦  you're right @eugene-manuilov . thanks!

[2021-12-09 13:08] asvinb commented on #4410
@eugene-manuilov I thought about that as well but eventually decided to go with the current approach to have more control and flexibility. But happy to update the IB to make things simpler 👍

[2021-12-09 13:09] eugene-manuilov commented on #4493
Thanks, @tofumatt, but could you, please, avoid using PR-as-IB approach since, if I remember correctly, we discourage it? Could you please add actual IB? Also there is one problem with the approach implemented in your PR: it sets focus on the search button on initial load which shouldn't happen. The focus should be set only when the user closes the URL search.

[2021-12-09 13:11] eugene-manuilov commented on #4500
Thanks, @asvinb! IB ✔️

[2021-12-09 13:14] eugene-manuilov commented on #4410
Yes, let's do it in the `BannerNotification` component. It will be a more concise change 😄. Thanks, @asvinb.

[2021-12-09 13:16] asvinb commented on #4410
Thanks @eugene-manuilov , IB ready for you to review again.

[2021-12-09 13:17] wpdarren commented on #4383
### QA Update: ⚠️

@aaemnnosttv I an observation that I pretty sure has not occurred previously.

I am testing this on a new site and also a new Google account.

When I authorise my new Google account for the first time this message appeared on the next screen. I've disconnected, reset Site Kit and the message no longer appears when connecting Site Kit  Anything to be concerned about?

`[amp-form]

[2021-12-09 13:24] mohitwp commented on #4381
### **QA Update : ✅**

**Verified:**
1) Link (`View details at PageSpeed Insights link`) updated as per AC on the PageSpeed Insights widget on the SK main Dashboard and on entity dashboard.(View details at PageSpeed Insights link).
**Screenshots :**
![PSI_URL_DB_1](https://user-images.githubusercontent.com/94359491/145404140-86d18a2f-fe2e-495e-94b7-ee5acf44e1b6.png)
![PSI_URL_DB_2](https://user-im

[2021-12-09 13:27] eugene-manuilov commented on #4410
Thanks, @asvinb. IB ✔️

[2021-12-09 13:47] wpdarren commented on #4466
### QA Update: ✅

**Verified:**

- The console areas no longer appear on the widgets page when Idea Hub is activated.

![image](https://user-images.githubusercontent.com/73545194/145407973-963ea6e6-2dd6-4bce-ba42-d02b2836630c.png)

[2021-12-09 14:01] wpdarren commented on #3902
### QA Update: ✅

**Verified:**

- When following the steps you can no longer see `Creating draft` `Draft created` messages in the Drafts tab.

https://user-images.githubusercontent.com/73545194/145410277-5bcbde7e-0cfa-46a0-a9e7-0a4713fadfbd.mp4

[2021-12-09 14:59] wpdarren commented on #4402
### QA Update: ❌

@hussain-t @eugene-manuilov an observation.

I still see an issue on point 1 in the description of the ticket.

I am assuming this isn't expected?

https://user-images.githubusercontent.com/73545194/145419701-80ee8c16-4623-4b63-96ce-d874c209be5f.mp4

Relating to the network tab in the QAB:

I can see the first entry is cancelled but when I enter the 3rd character, the 2nd charact

[2021-12-09 15:09] eugene-manuilov commented on #4103
No, we didn't. It should work as far as I remember 🤔

[2021-12-09 15:10] aaemnnosttv commented on #4495
This isn't specific to the unified dashboard as it's possible today so I don't think it justifies a P0 or being a part of the epic.
![image](https://user-images.githubusercontent.com/1621608/145422006-3126df32-4358-49f5-a391-ad4f19a875b6.png)

[2021-12-09 15:33] hussain-t commented on #4402
Thanks for testing @wpdarren
Re: Point 2 - If you notice the network tab the request was already made and received the response before you type the third character.

[2021-12-09 15:37] aaemnnosttv commented on #4383
@wpdarren that doesn't look related to the plugin since you're on step 2 there which is a proxy-side only thing. Does this happen every time for you on that step? There could be something that needs attention but it's hard to say without seeing the full URL.

I just tried it with a new site and didn't see the same thing so it doesn't seem like a problem but maybe something for @felixarntz to confi

[2021-12-09 15:41] techanvil commented on #4376
Hi @felixarntz, regarding the point about removing `googlesitekit_proxy_setup_url_params` - that looks like it might not be so practical now, due to the recent addition of this `googlesitekit_proxy_setup_url_params` filter in `includes/Modules/Analytics.php`:

https://github.com/google/site-kit-wp/blob/ebac7c54faaee97e2626bc6421ce3c9c54657650/includes/Modules/Analytics.php#L117

https://github.com

[2021-12-09 15:45] hussain-t commented on #4402
@wpdarren @eugene-manuilov I think it showed `No results found` when you typed the second character because the first request was cancelled. Then the second call was made. But the loading indicator didn’t appear this time.

[2021-12-09 15:54] aaemnnosttv commented on #4494
@asvinb this addresses the AC but leaves a bit to be desired as far as the experience goes on mobile as the value in the select gets truncated. I tested making the notice content horizontally scrollable which isn't great either; particularly how the menu is handled in this situation isn't good. I think for mobile perhaps the best experience might be using a native select, but that's a discussion f

[2021-12-09 15:59] wpdarren commented on #4383
@aaemnnosttv I will try recreate and get you the full URL and error.

[2021-12-09 16:14] asvinb commented on #4494
That's right @aaemnnosttv Looks like the text within the selects are meant to be on one line as well, else they look weird when on 2 lines. That's why they are truncated. Looks like it's the default behaviour though:
https://mui.com/components/selects/
If you test here, and put a very long text within the select, the latter will grow to its maximum size and then truncate any overflowing text.

[2021-12-09 16:23] wpdarren commented on #4383
@aaemnnosttv I didn't receive that message this time around. Created new site and google account.

### QA Update: ✅

- Tested the current setup flow **without** the `serviceSetupV2` feature flag enabled.
- Went through the set up on a fresh site and also new Google account.
- No issues occurred while setting up Site Kit or while connecting the modules.
- Went through the set up on a site which had

[2021-12-09 16:23] aaemnnosttv opened #4521 "Update modules to be sharing-aware"
## Feature Description

With dashboard sharing, sharing is defined at the module-level. While dashboard sharing settings control who has access to the module data, knowledge of which modules are shareable at all will belong to the individual `Module` sub-classes and core `Modules` class. This is necessary for many reasons but one important one is simply for exposing which modules are shareable to

[2021-12-09 16:25] aaemnnosttv opened #4522 "Define new capabilities for dashboard sharing"
## Feature Description

One of the cornerstones of dashboard sharing is perhaps the [new capabilities](https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#heading=h.11n1hkqhne10) coming to Site Kit's custom permissions. These control which users are able to view the shared dashboard, use shared module data, and manage sharing settings.

---------------

_Do not alt

[2021-12-09 16:27] aaemnnosttv opened #4523 "Extend permissions passed to client for dashboard sharing"
## Feature Description

Building on the new capabilities added in https://github.com/google/site-kit-wp/issues/4522, we need to make some changes to make them available to the client due to the module-specific nature of most of them.

Later we will enhance the `hasCapability()` selector to support use with these new meta capabilities as nothing new is needed to support additional primitive capabil

[2021-12-09 16:29] aaemnnosttv opened #4524 "Extend proactive token refreshing to modules the current user can read shared data for"
## Feature Description

In #3477 we enhanced Site Kit to proactively refresh a user's OAuth token (later limited to specific screens in #4182) to avoid a race condition where an expired token could be refreshed multiple times when handled on-the-fly due to multiple simultaneous API requests.

With dashboard sharing, this will once again be relevant to do, but for module owner tokens (which facilit

[2021-12-09 16:32] aaemnnosttv opened #4525 "Implement additional redirects for splash and dashboard screens"
## Feature Description

Currently there is logic in place to redirect a user from the splash screen to the dashboard if they're already authenticated and vice versa if they're not authenticated.

Once the dismissal for non-admins is added in https://github.com/google/site-kit-wp/issues/4479 for passing through the pre-view-only-dashboard splash screen, we'll want to add a few additional conditions

[2021-12-09 16:58] techanvil commented on #4376
@felixarntz, further on the above, I have updated the IB, but have not attempted to remove the `googlesitekit_proxy_setup_url_params` filter. I've assigned this back over to you in order to get your thoughts on the filter question, prior to sending this back to IBR.

[2021-12-09 17:03] wpdarren commented on #4145
### QA Update: ✅

**Verified:**

- New widget created in the Monetization widget area when the unifiedDashboard feature flag is enabled.

![image](https://user-images.githubusercontent.com/73545194/145441879-3f39dff5-bd87-4351-aa35-df3bd19f6945.png)

- The widget renders the AdSense CTA widget as mocked up in the Figma file, with the exception of the known differences
- When the user clicks on the

[2021-12-09 17:37] aaemnnosttv opened #4526 "Reset a module's sharing settings on deactivation"
## Feature Description

Whenever a shared module is disconnected, its sharing settings should be reset back to the default unshared state, removing any roles or other configuration.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Module sharing settings should be deleted for a specific module when that

[2021-12-09 17:38] aaemnnosttv opened #4527 "Expose recoverable modules to client"
## Feature Description

[Module recovery](https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#heading=h.184kxp23btyr) is a new concept in dashboard sharing whereby a shared module can be recovered in the event that the module owner is lost. Later, we'll use this data to alert admins and prompt those who are eligible to recover the module.

---------------

_Do not

[2021-12-09 17:41] aaemnnosttv opened #4529 "Modify REST permission checks for some endpoints to be available to shared dashboard viewers"
## Feature Description

Since the beginning, Site Kit has always been limited to admins in WordPress. With dashboard sharing, non-admins will be able to use Site Kit for the first time. This will require some changes to permission checks for various REST requests which will need to be available to users of the shared dashboard as well.

---------------

_Do not alter or remove anything below. The

[2021-12-09 17:42] aaemnnosttv opened #4530 "Create `Module_Request_Context`"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-12-09 17:46] aaemnnosttv opened #4531 "Refactor module data request infra with `Module_Request_Context`"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2021-12-09 17:47] aaemnnosttv opened #4532 "Enhance module data request infra to allow for shared requests"
## Feature Description

This issue is responsible for implementing the foundational infrastructure for dashboard sharing on the backend. The main changes needed for dashboard sharing are moving away from using a single "main" `OAuth_Client` (which provides the necessary Google `Client` class needed for communicating with Google APIs), to using a more localized client instance which could be set up

[2021-12-09 17:48] aaemnnosttv opened #4533 "Add new endpoint for module recovery"
## Feature Description

In order to facilitate [module recovery](https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#heading=h.184kxp23btyr), this issue builds on the ability to [check the current user's access to a module's configured service entity](https://github.com/google/site-kit-wp/issues/4478) with a new endpoint to recover a specific module.

-------------

[2021-12-09 17:51] aaemnnosttv opened #4534 "Extend Site Health info for Dashboard Sharing"
## Feature Description

Site Kit's site health report contains valuable information for our support team to help users troubleshoot problems they are experiencing. Including dashboard sharing configuration in the report will be essential to providing support once the feature is rolled out.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderator

[2021-12-09 17:55] felixarntz commented on #3033
Per discussion with @aaemnnosttv, @tofumatt, and @eugene-manuilov we've decided it makes more sense to get rid of `@wordpress/scripts` instead of spending more time trying to update it. I've updated the ACs accordingly.

[2021-12-09 18:00] felixarntz commented on #4467
@aaemnnosttv That sounds like a clean solution. It's a bit odd anyway that the entire widget jumps back to its overall loading UI in today's behavior. I've added ACs, let me know if that looks good to you.

[2021-12-09 18:11] techanvil commented on #4103
Hi @aaemnnosttv, thanks for the reply and clarification.

I've recorded a clip showing how this can be achieved through the Tag Manager UI. It starts off showing a tag with the measurement ID specified without a variable, then adds a tag which uses a variable of type `constant`.

https://user-images.githubusercontent.com/18395600/145450546-71cbdeec-698e-424b-9a28-a3e89c38fd99.mp4

The subsequent r

[2021-12-09 18:54] felixarntz commented on #4376
@techanvil Good point - I've updated the ACs to replace any `googlesitekit_proxy_setup_url_params` usage _other_ than that `Analytics` one, since that indeed cannot be removed until #2044, which is going to replace it. So the filter will then be removed via that issue.

Regarding the current IB:
* All proposed changes regarding the new `Google_Proxy::setup_url_v2` look good to me. Specifically, it

[2021-12-09 19:04] felixarntz commented on #3948
@techanvil Hmm, this is indeed a bit of a weird scenario. @aaemnnosttv Is that experience even accurate? It's a bit strange that https://google.github.io/site-kit-wp/storybook/main/?path=/story/analytics-module-setup--existing-tag-w-access-gtm-property-w-o-access shows you UI as if you can proceed although you don't have access to the GTM tag. I guess that is somehow because an existing tag takes

[2021-12-09 19:46] felixarntz opened #4535 "Remove all direct imports from 'react'"
There are a few places where we accidentally import things from `react` - when any of those should _always_ be imported from `@wordpress/element` instead. Those occurrences are partly from legacy code, partly from oversights (likely based on auto-imports where it went wrong). Let's clean those up in this issue.

This doesn't break any production behavior so far, but still happens in a bit of produ

[2021-12-09 19:59] felixarntz commented on #4535
cc @aaemnnosttv @tofumatt @eugene-manuilov

[2021-12-09 20:39] tofumatt commented on #4378
It's worth noting as well, that placing the `select()` call inside the `mapSelect` functions allows us to conditionally call selectors that have associated resolvers only when appropriate. This is how `useInViewSelect` works, but we also do it elsewhere—only calling a selector when we have enough data to call it or when the right conditions are met.

Since we can't conditionally call hooks, we wou

[2021-12-09 20:39] #4378 closed

[2021-12-09 22:23] tofumatt commented on #4493
Fair enough, especially as that approach does have that bug. I've amended the IB, but feel free to assign this issue to me as I'll finish the execution to fix the bug after the IB is approved 🙂

[2021-12-10 05:16] DerekJxy commented on #4535
Hello! Can I try to fix this issue?

[2021-12-10 08:28] aaemnnosttv commented on #4467
@felixarntz those look good to me, the only thing that would be good to add is some indication in the widget itself as well, particularly because it's so tall.

I created a quick POC to show you my idea here: https://github.com/google/site-kit-wp/compare/poc/4467-psi-refreshing-state

[2021-12-10 08:42] aaemnnosttv commented on #4103
Thanks @techanvil – I wasn't aware that this type of variable could be used here but you're right. I think for our users this would likely be a rare edge case but it probably wouldn't be too hard to accommodate it since the infrastructure already exists to look up the variable by name like we have for UA. If the GA4 measurement ID was referenced by a variable, we could get it by name and then chec

[2021-12-10 08:48] eugene-manuilov commented on #4255
@kuasha420 could you please add QAB?

[2021-12-10 08:54] eugene-manuilov commented on #4403
@kuasha420 could you please add QAB?

[2021-12-10 09:14] eugene-manuilov commented on #4493
Thanks, @tofumatt. IB ✔️

[2021-12-10 09:19] eugene-manuilov commented on #4492
IB ✔️

[2021-12-10 09:37] techanvil commented on #4103
Thanks @aaemnnosttv. I would say that although it's not documented, it's pretty discoverable via the UI, seeing as the button next to the measurement ID input takes the user straight to the variables...

[2021-12-10 09:44] techanvil commented on #4376
Thanks @felixarntz, that broadly makes sense, I'll see if I can figure out the IB, but may ask to jump on a call to flesh out some details depending on how it goes. Cheers

[2021-12-10 10:41] aaemnnosttv commented on #3948
@felixarntz it looks like the `ExistingGTMPropertyError` is being bypassed here due to the condition requiring no existing tag (not sure why this is here) https://github.com/google/site-kit-wp/blob/e66e6901ccccb4a2aeba1bb408af3af727969863/assets/js/modules/analytics/components/setup/SetupMain.js#L111

In this situation using the current logic, the user should be blocked the same way as if there wa

[2021-12-10 10:50] aaemnnosttv commented on #4103
@techanvil true! All I'm saying is that variables are kind of a more advanced feature of GTM but also there is no GA4 specific variable type, so again I think that falls more into a power-user use case to know that a `constant` type variable could even be used there.

[2021-12-10 11:37] techanvil commented on #4376
Hi @felixarntz, regarding this point here:

It's possible that you have overlooked the dependency on the `Credentials` instance for adding the `site_id` parameter - if we get rid of `get_proxy_setup_url_v2` entirely then we'd need to also pass in `site_id` or the `Credentials` instance everywhere we call `setup_url_v2`, which I think results in a bit more complexity than simply keeping `get_proxy_

[2021-12-10 12:23] wpdarren commented on #4402
### QA Update: ⚠️

@hussain-t @eugene-manuilov @felixarntz  I am sorry to be a pain 😄 but I am not 100% sure the search is fixed for point 1 in my original ticket description.  Taking away what is coming up in the network tab, when I type `cat` the 'no results found' appears pretty much straightaway and then around 2 seconds later search results appear.  Looking at my screencast, is this expected

[2021-12-10 12:52] mohitwp commented on #4329
### QA Update: ✅

**Verified:**

- Now when services are disconnected/inactive then there will be no elements with `googlesitekit-widget-area--undefined` class. Same class has `--boxes` class at the place of -`-undefined` as per the AC.
- Also,tested this with Unified Dashboard.

https://user-images.githubusercontent.com/94359491/145576547-6a9a5de0-3e2d-41b4-a734-775811c937e6.mp4

[2021-12-10 12:59] eugene-manuilov commented on #4356
@jimmymadon @asvinb can you reproduce this issue in FF on your end? I have tried it on my end and everything works correctly there 🤔

[2021-12-10 13:09] wpdarren commented on #4380
### QA Update: ✅

**Verified:**

_Testing on Unified Dashboard_

- Within PageSpeed settings, I click the `visit the dashboard` link and are navigated to the dashboard Speed section
- Confirmed that `#speed` is appended to the URL
- Tested this on desktop and small screen sizes.

<details>
 <summary>Screencast</summary>

https://user-images.githubusercontent.com/73545194/145578908-aeff9eab-73f1-49

[2021-12-10 15:36] wpdarren commented on #4403
### QA Update: ✅

**Verified:**

- The plugin activation banner content is reduced and only contains the basic UI with header and CTA button.
- If the user is already authenticated, the button links to the dashboard.
- If the user isn't authenticated, the button links to the splash screen.
- The tracking checkbox and compatibility checks are removed.
- The plugin activation banner only has `view_n

[2021-12-10 15:49] eugene-manuilov commented on #4402
@wpdarren the `No results` result that you see will be hidden on the Unified Dashboard pages once #4503 is implemented. The URL search on the unified dashboard pages wasn't supposed to display `No results` at all, but looks like after some changes it has been added by mistake.

In other words, what you see is incorrect, but it will be fixed in a separate issue. This issue is intended to cancel the

[2021-12-10 16:09] wpdarren commented on #4402
### QA Update: ✅

**Verified:**

- When you type a search term in the Entity Search input. For example, type `cat,` the previous request for `ca` has been cancelled.  The search doesn't show any irrelevant search results.

![image](https://user-images.githubusercontent.com/73545194/145605024-91eb2793-67b3-44a6-9d13-836a83cf43af.png)

[2021-12-10 17:17] felixarntz commented on #4467
@aaemnnosttv Sounds good - updated the ACs to mention that! Back to you for review, feel free to move to IB if it looks good to you

[2021-12-10 17:21] felixarntz commented on #3948
@aaemnnosttv Ahh, yeah that makes sense. I think we should remove this line, I don't think it should cause any problems and it will actually fix a bug 🎉

@techanvil Per the above, can you make this one production code change to remove https://github.com/google/site-kit-wp/blob/e66e6901ccccb4a2aeba1bb408af3af727969863/assets/js/modules/analytics/components/setup/SetupMain.js#L111? This should make

[2021-12-10 17:22] aaemnnosttv commented on #4467
@felixarntz great! The only thing to clarify is that my POC included the `ProgressBar` at the top of the widget (overlapping the tab bar) when refreshing as well, not sure if you noticed that. That way there's in progress state at the top and bottom. No problem if you want to skip that, but I noticed you referenced the branch as a potential starting point in the IB so it would be good to clarify i

[2021-12-10 17:28] felixarntz commented on #4103
@aaemnnosttv

Don't we already do the same thing for a UA property ID though? As far as I remember, we allow for the same flexibility there, allow for a hard-coded property ID or a variable reference, and if it's the latter we fetch the variables to find that actual value. I'd say if we can use the same approach for the GA4 measurement ID, we should probably cover that here as well.

cc @techanvil

[2021-12-10 17:34] techanvil commented on #4103
Hey @felixarntz, just a heads up there are a few more points that could also do with your attention, as per this comment - https://github.com/google/site-kit-wp/issues/4103#issuecomment-989724143

[2021-12-10 17:35] felixarntz commented on #4472
@aaemnnosttv ACs LGTM!

[2021-12-10 17:40] felixarntz commented on #4467
@aaemnnosttv Wouldn't that potentially cause a layout shift too? I'd prefer if we didn't change the markup in a way that would change the layout.

[2021-12-10 17:48] felixarntz commented on #4376
@techanvil I'd prefer if we could figure out a way to add the `site_id` parameter in a more "manual" way. Of course without resulting in much duplicate code, but if we need to, we could have some specialized utility functions like I suggested for the `step` based on error code above.

Some context:
* In several circumstances where we need to call `setup_url_v2`, we could simply pass `site_id` as t

[2021-12-10 17:56] mohitwp commented on #4454
### **QA Update : ✅**

**Verified :**
Note : Enable Unified Dashboard

-  The overall page metrics title is displayed as “Overall page metrics over the last 28 day”.
- On changing date period to 7,4,18 and 90, the title is updating.
- Verified on Safari, Chrome, Edge, Firefox and mobile devices.

<details>

![OM_1](https://user-images.githubusercontent.com/94359491/145619647-07f37171-5c6e-4a07-854

[2021-12-10 18:06] aaemnnosttv commented on #4103
@felixarntz yes we do, but there are different types of variables which changes the structure of the data a bit and where the relevant value is – it's not a simple key-value. For UA we actually assume a variable there references a `gas` (GA Settings) type variable and look for its value in the relevant item in its list of `parameter` objects.

https://github.com/google/site-kit-wp/blob/59bb881a73e

[2021-12-10 18:08] aaemnnosttv commented on #4467
Take a look at what I have there if you have a minute, but I applied a style to avoid such a shift 🙂

[2021-12-10 21:32] mitogh opened #4542 "When authorization is removed the widget keeps loading"
## Bug Description

Given a user that is authorized to a module (`Analytics`), after the user is granted the appropriate permissions and the user connects both modules if the user no longer has access to the data of those modules (the user permissions were removed from `Analytics` or `Search Console` the module never terminates the loading process and remains to load when visiting the modules sect

[2021-12-10 21:47] mitogh opened #4543 "`forbidden` reason of error is not handled as `insufficientPermissions` error."
## Bug Description

When a `forbidden` error occurs due a user no longer has access to the Authorized APIs the generic error is displayed instead of showing the error from `insufficientPermissions` .

API response when the user is forbbidden.

[code]

## Steps to reproduce

Make sure the SIte kit plugin is working and the setup is done correctly with a valid and existing domain.

1. Install the pl

[2021-12-10 22:53] tofumatt commented on #4107
I've amended the PR with a fix, but I've changed enough code that I probably shouldn't be the one to review it now, so un-assigning myself from reviewing this one 😅

[2021-12-10 22:55] mitogh commented on #4160
Thanks, @eugene-manuilov however while I was trying to find a scenario to replicate this issue I found 2 existing bugs in production that prevent us from actually testing this behavior as it should be.

- #4542
- #4543

Let me know what the best next steps should be here instead.

cc @wpdarren

[2021-12-10 23:25] mitogh commented on #3993
Hey, @eugene-manuilov @felixarntz would be worth updating the title as this ticket is no longer aiming for multi-site installations?

Additionally would be worth updating the Changelog entry to reflect the fact that a new filter exists?

Also wanted to ask for an update on the IB due we are currently using `in_array` on each iteration of the `foreach` according to the IB instead my suggestion woul

[2021-12-11 00:05] ivankruchkoff commented on #4247
Not sure how to setup QA here without `QA:eng` label, but we need:
* `DISCONNECTED_REASON_CONNECTED_URL_MISMATCH` - `select( CORE_USER ).getDisconnectedReason()`
* `http://previous.com` - `select( CORE_USER ).getPreviousConnectedProxyURL()`
* `http://current.com` - `select( CORE_USER ).getConnectedProxyURL()`
* `true` - `select( CORE_SITE ).isUsingProxy()`

to get to:

<img width="1234" alt="Scree

[2021-12-11 01:51] kuasha420 commented on #4107
Thanks @tofumatt. Just adding that the PR has deviated a bit from the IB (no customBundle function) to make sure everything works.

[2021-12-11 08:29] wpdarren commented on #4494
### QA Update: ✅

**Verified:**

- The blue notice box and the property dropdown doesn’t overflow especially when the dropdown item’s text is longer.
- Tested this on various mobile devices and also responsive screen settings.

<details>
 <summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/73545194/145670000-c9c7c8e6-40ac-4923-aa1a-01153d207ab2.png)

</details>

[2021-12-11 12:33] henrywright commented on #3993
Hi @mitogh

I don't imagine the set of available modules will be huge but I agree `in_array()`, being O(n), isn't going to be as fast as your approach. +1 from me

[2021-12-11 19:24] mitogh commented on #3993
Thanks @henrywright

Additionally, wanted to flag a scenario where all the modules are disabled via this filter this triggers an error in the U, for this new scenario I advise creating a new ticket and moving the work for that part on that ticket, due this is not the initial state of the app and can only be introduced via this filter.

![2021-12-11_11-21](https://user-images.githubusercontent.com/

[2021-12-11 21:57] henrywright commented on #3993
In addition to the empty array causing the above error, it is likely a non-array return value would also cause an error. Perhaps the solution is to be defensive and validate the value returned by the apply_filters() call to make sure it is the expected type and at least 1 valid module is specified in the array

What are your thoughts @eugene-manuilov and @felixarntz?

[2021-12-12 11:25] henrywright commented on #3993
In the PR I notice you have cast to array the return value of the apply_filters() call. The only problem to resolve now is the error you posted when the user of the filter doesn’t return a valid module. For example an empty array is returned

The rest of the PR satisfies the IB

[2021-12-12 17:36] mitogh commented on #4436
Looks like there are 2 scripts that based on comments from WebPack does not require any optimization, are we looking to leave those files as they are:

- https://github.com/google/site-kit-wp/blob/main/webpack.config.js#L330
- https://github.com/google/site-kit-wp/blob/main/webpack.config.js#L332

@aaemnnosttv  @asvinb @jamesozzie

[2021-12-13 09:54] eclarke1 commented on #4311
@kuasha420 @aaemnnosttv are we able to progress this IB at all please? What do we need to do to get it moving? Thank you.

[2021-12-13 10:01] aaemnnosttv commented on #4495
@asvinb please open another issue for the stylistic enhancement/tweak and let's keep this one to be specific to fixing the more obvious bug for now 👍

[2021-12-13 10:06] eclarke1 commented on #4467
@aaemnnosttv @felixarntz I'm just going to add this to Sprint 64 so it doesn't get missed, as it has been identified as a launch blocker. If we could get the AC progressed that would be wonderful please.

[2021-12-13 10:07] aaemnnosttv commented on #4495
IB ✅

[2021-12-13 10:24] aaemnnosttv commented on #4535
Thanks @eugene-manuilov – just a few questions, otherwise this looks good overall 👍

Is this no longer necessary? If we don't need it, then great, but if we would need to update all our components to import it instead now, that would be too much I think, but we could perhaps change the `React` to be provided `@wordpress/element` instead. See https://github.com/google/site-kit-wp/pull/1013 where th

[2021-12-13 10:34] eugene-manuilov commented on #4535
This has never been needed. We use the `@wordpress/babel-preset-default` preset that has its own pragma declaration to use `React.createElement` from the `@wordpress/element` package.

We don't need `react` and `react-dom` packages, and we don't use them because we rely on the version installed with `@wordpress/element` package. If we want to pin a specific version of React, we need to pin the spe

[2021-12-13 10:49] aaemnnosttv commented on #4535
IB ✅

[2021-12-13 11:07] aaemnnosttv commented on #4311
@kuasha420 I've updated the ACs to address this (cc @felixarntz). I think this can already move forward with a revised IB, the main difference being that the new loading indicator is only for loading state once the main `viewComponent` is loaded. Existing tag and permissions loading should happen before the initial/primary loading indicator is removed so we just need to tweak some logic there 👍

[2021-12-13 12:54] wpdarren commented on #4496
### QA Update: ✅

**Verified:**

- On the Traffic piechart slices, the tooltip is visible. When scrolling down and up, the the tooltip doesn’t overlap with the header.
- On the Search funnel graph when you click on a graph the tooltip is visible, and when you scroll down and up, the tooltip doesn’t overlap with the header.
- With unified dashboard feature disabled, the same behaviour occurs for th

[2021-12-13 13:08] eclarke1 commented on #4514
@felixarntz just updated the comment above to reference the new link placement now @samitron7 has moved the file to our master Idea Hub Figma file if that's ok?

[2021-12-13 13:17] eclarke1 commented on #4376
@felixarntz just an FYI that @techanvil is off sick today, however this ticket is now blocking the other 2 remaining tickets 2044 and 2045 - is there anything we can do to move this one along at all as I am conscious the other 2 tickets are quite large ones too. Thanks (cc @aaemnnosttv )

[2021-12-13 13:25] mohitwp commented on #4500
### QA Update ✅

**Verified:**

- Now the text doesn’t overflow into the close button.
- Tested on latest version of Chrome, Edge, Firefox, and Safari.
- Also tested on android and iOS devices.

![CloseIcon](https://user-images.githubusercontent.com/94359491/145820326-02dc984f-ec7a-47b9-9c98-4ca134ab6014.png)

[2021-12-13 13:54] wpdarren commented on #3726
### QA Update: ✅

**Verified:**

Tried to trigger the user feedback form on a test site, but unsuccessfully.  I have therefore tested this on Storybook.

- The letter spacing for the CTAs (LET'S GO and GET HELP) have reduced their letter spacing to 0.25px
- The button link has the class mdc-button.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545

[2021-12-13 14:23] eugene-manuilov commented on #4428
@felixarntz can you also check the #4528 PR? I have left some comments regarding styles, would be nice to have your feedback as well.

[2021-12-13 15:05] eugene-manuilov commented on #3993
@mitogh @henrywright there is a bug in the implementation, once it is fixed this problem will disappear.

[2021-12-13 15:20] eugene-manuilov commented on #3993
I think we don't change original titles created by contributors. Felix can correct me if I am wrong 😄

We update it after we merge the PR.

Technically saying, yes, `isset( ... )` check is faster than `in_array( ... )`, but in our case this doesn't make a notable difference because we have just a few items in that array. Anyway, feel free to implement it and we can use this approach.

[2021-12-13 15:33] wpdarren commented on #4495
### QA Update: ⚠️

@aaemnnosttv @eugene-manuilov Help! 😄 I have spent quite a bit of time trying to trigger the error both in looking in the sources within chrome console and also using the react developer tools extension. I jumped on a call with @hussain-t and can see that the issue is fixed on his local site but can't recreate it myself.  Any advice on how we can trigger the error?

[2021-12-13 15:33] wpdarren commented on #4495
### QA Update: ⚠️

@aaemnnosttv @eugene-manuilov Help! 😄 I have spent quite a bit of time trying to trigger the error both in looking in the sources within chrome console and also using the react developer tools extension. I jumped on a call with @hussain-t and can see that the issue is fixed on his local site but can't recreate it myself.  Any advice on how we can trigger the error?

[2021-12-13 15:55] henrywright commented on #3993
Hi @eugene-manuilov

Noted.

Does `force_active` mean the module will be active even if disabled by the filter? If so it could be worth making a note of this in the documentation just in case users of the filter aren't aware

[2021-12-13 15:57] hussain-t commented on #4495
@wpdarren as we discussed React dev tools extension doesn’t allow us to edit the props for third-party sites. In other words, it allows only the local sites. So, the best way to test it is in the local environment.

[2021-12-13 16:07] eugene-manuilov commented on #3993
Yep, makes sense, thanks @henrywright. @mitogh could you please add a comment that explains it?

[2021-12-13 19:32] felixarntz commented on #4514
Thanks @eclarke1, updated that in the ACs as well. The latest update includes the UI changes asked, so I'm gonna move this over to IB!

[2021-12-13 22:16] jimmymadon commented on #4356
@eugene-manuilov I did some more testing - this issue occurs only on Google Chrome and Microsoft Edge. It is not reproducible on Firefox and Safari. So it is a browser specific issue.

[2021-12-13 22:52] tofumatt commented on #4503
@eugene-manuilov Not _quite_. In the old URL search the "No results found" message would be shown when there were no results (which is correct), but due to a bug with the old search logic it would also be found _while searching_, because searching reset the number of results to zero and the component considered that empty. So during search it would show the "No results found" message, which was an

[2021-12-14 02:48] kuasha420 commented on #4490
Hello,

I think the AC won't work here. When the monetization section is hidden, we will have a different section at the end so AC will have no effect there.

I have added IB for the current AC if it's acceptable, but I think we should do one of the following
* Add min height to all the contexts. (CSS Only Solution).
* Add min height to the last `googlesitekit-widget-context` that doesn't have `go

[2021-12-14 03:58] wpdarren commented on #4160
@eugene-manuilov any thoughts on how we can test this based on @mitogh comment above?

[2021-12-14 04:01] wpdarren commented on #4495
@hussain-t thank you.  I think this is unfortunately, going to have to be a `QA:Eng` ticket unless @eugene-manuilov @aaemnnosttv have any other suggestions.  I've tried with Local by Flywheel and I am unable to edit the component using the react developer tools extension.

[2021-12-14 04:33] wpdarren commented on #4126
QA Update: ✅

**Verified:**

- Using a development build, the Site Kit CSS/JS files are loaded with URL like googlesitekit-foo.js?ver=a0b1c2d3e4f5

![image](https://user-images.githubusercontent.com/73545194/145933531-7b640647-b265-458d-b857-5b51a9fba763.png)

I've added the `QA:Eng` labeel for additional testing in QAB.

[2021-12-14 06:05] hussain-t commented on #4495
@wpdarren It's strange that you were not able to edit it on your local. LMK if we can look into it together :-)

[2021-12-14 08:51] aaemnnosttv commented on #4490
@kuasha420 I agree that the AC shouldn't be specific to the monetization section, but more generally to the last section as this was found to affect others as well. I've updated the AC accordingly (cc @eugene-manuilov).

I also thought about potentially applying it to all sections like you mentioned which would of course be a more substantial change, but could also be more beneficial from a perfor

[2021-12-14 09:00] aaemnnosttv commented on #4495
@wpdarren it doesn't require a local install for components to be editable via React Devtools, it only requires a development build which can also be installed via the Tester plugin.

I don't think that you should be trying to edit the file to simulate an error though so maybe you can pair with an engineer to reproduce it or this can be QA'd by an engineer. It's a rather simple stylistic fix so we

[2021-12-14 09:50] eugene-manuilov commented on #4501
IB :heavy_check_mark:

[2021-12-14 09:55] eugene-manuilov commented on #4503
Ok, thanks, @tofumatt. IB :heavy_check_mark:

[2021-12-14 09:56] eugene-manuilov commented on #4402
@wpdarren looks like I was wrong regarding the `No results` message in the new unified dashboard. See Matthew's comment: https://github.com/google/site-kit-wp/issues/4503#issuecomment-992984110

If you still think that the URL search functions incorrectly, then could you please create a new ticket for it?

[2021-12-14 10:14] eugene-manuilov commented on #4495
@wpdarren you can do the following to test that error:

1. Go to the dashboard page and clear the session storage
    ![image](https://user-images.githubusercontent.com/873049/145978413-91d81b42-b410-4604-89b4-e6444e98c4f8.png)
2. Refresh the page and open the network tab in the dev tools
3. Filter requests by the `report` keyword
    ![image](https://user-images.githubusercontent.com/873049/14597

[2021-12-14 10:27] eugene-manuilov commented on #4457
@asvinb could you please do IB review for this ticket?

[2021-12-14 10:40] eugene-manuilov commented on #4160
@wpdarren try to edit the Analytics settings using a secondary user that doesn't have access to the selected Analytics account.

[2021-12-14 11:33] techanvil commented on #4376
Hi folks, just an update to say I'm back in and picking this up again. @felixarntz, thanks for the info - I'm hopeful this provides enough for me to finish the IB, but will let you know if it turns out a call would still be beneficial...

[2021-12-14 12:30] wpdarren commented on #4402
@eugene-manuilov yes, will do. I'll have another look at it today and create ticket.

[2021-12-14 12:53] wpdarren commented on #4495
### QA Update: ✅

**Verified:**

- The error state doesn’t overflow with the container/pie chart on desktop and mobile.
- The `.googlesitekit-cta--error class` is margin-top: 16px for small screen sizes and 24px for desktop.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/146001903-e6b9c43b-4474-4bab-afe8-cdd0676ef51c.png)

![image](https://u

[2021-12-14 13:28] eclarke1 commented on #2044
@felixarntz @FlicHollis I'm going to remove this from this sprint as it is blocked by #4376 which is also still in IB right now. This is to allow space for the Unified Dashboard P0 launch blockers. Let me know if you disagree?

[2021-12-14 13:49] eugene-manuilov commented on #4356
Thanks, @jimmymadon. I think in this case we shouldn't try to fix this because any fix to this may affect the correct behaviour in other browsers. @felixarntz i am going to send this ticket to the Triage column and assign it to you to make the final decision whether we need to close this ticket or keep trying to find a workaround.

[2021-12-14 13:55] mohitwp commented on #4492
### QA Update ❌

@techanvil

**Issue:**
At 599PX, only date picker has title/drop-down caret. As per AC, there should not have inconsistency only at one size. Behavior should be consistent.
Tested on—Chrome Dev tool.
Kindly see screenshots at 598px, 599PX and 600PX to see the inconsistencies.
Let me know if you require more details.
<details>

![image](https://user-images.githubusercontent.com/943

[2021-12-14 14:00] eugene-manuilov commented on #4247
I think we can try it on a multisite instance with subdomains. I have updated QAB.

[2021-12-14 16:02] asvinb commented on #4514
@aaemnnosttv I noticed a few inconsistencies when working on the IB and am not sure whether it's intentional. Maybe you can help out here in case I'am missing something. I've noticed that the logic to display the cells is not always right, with sometimes a cell falling outside of the grid row. For e.g if the [`format` is `small`](https://github.com/google/site-kit-wp/blob/develop/assets/js/compone

[2021-12-14 16:05] kuasha420 commented on #4427
@aaemnnosttv addressed the issue on the Code Review. Please have a look. Also ignore the amazing milestone, it was added by one of the kittens while I went to grab water.

![kitten-on-keyboard](https://user-images.githubusercontent.com/6187401/146034708-9a35b98d-8482-4153-8e66-a1c4301027a4.jpg)

[2021-12-14 16:37] techanvil commented on #4376
Hi @felixarntz - I've updated the IB, I had momentarily unassigned the ticket from you but I guess it's probably best if I send it back over so you can take a look. I hope this is in line with your thinking. Cheers

[2021-12-14 16:57] techanvil commented on #4492
Hi @mohitwp, that's a bit odd. Not sure what's causing this discrepancy, as when I'm testing locally I don't see the date picker caret/text at 599px.

https://user-images.githubusercontent.com/18395600/146043578-e506bd0c-1d8e-4f6f-86e0-de9d751cf7c1.mp4

Could you please try again and double check that you don't have any cached styles for the site? If you are still finding the same issue then I sug

[2021-12-14 17:03] bethanylang commented on #4440
Duplicate of #4534; closing.

[2021-12-14 17:03] #4440 closed

[2021-12-14 17:06] bethanylang commented on #4534
@aaemnnosttv Noting that James had created a similar issue, #4440, which requested these specific details in SH for support:

- ** Product *** dashboard sharing active: Yes || No
- ** Product *** dashboard sharing - who can view: NA || Administrators, Editors, Authors, Contributors
- ** Product *** dashboard sharing - manage view access: NA || Only me || Admins
- ** Product *** dashboard sharing -

[2021-12-14 17:08] wpdarren commented on #4247
### QA Update: ❌

@ivankruchkoff @eugene-manuilov have spent quite a bit of time on QA of this one today.   I've worked closely with @jamesozzie because he has a site set up for this scenario in the QAB. I do not see the new version of the message with the old/new URL. The current message is still appearing on the develop branch.

![image](https://user-images.githubusercontent.com/73545194/1460453

[2021-12-14 17:11] asvinb commented on #4028
@aaemnnosttv On small screens, I feel the input text should be 100% wide because it's a bit weird, with how the helper text is longer than the input text.
![image](https://user-images.githubusercontent.com/31818/146046333-2e28e9df-2fdd-4db3-a92e-bba790685711.png)

What are your thoughts?

[2021-12-14 17:17] tofumatt commented on #4489
IB ✅

[2021-12-14 17:21] techanvil commented on #3948
Thanks @aaemnnosttv @felixarntz, good shout - I've removed that line. Cheers!

[2021-12-14 17:29] eugene-manuilov commented on #4361
IB ✔️

[2021-12-14 18:48] jamesozzie opened #4555 "Improve error message output when a user encounters a proxy related 400 or 500 error."
There have been reports of users encounter the below error during Site Kit setup:

_“Oops! There was a problem during set up. Please try again.
Unknown Error (code: request_failed).”_

This occurs after clicking on the "Proceed" button during site verification, after a user has granted permissions. Before getting to this state there is already a warning as per the below, before attempting Site Kit

[2021-12-14 18:50] jamesozzie commented on #4555
@adamsilverstein @felixarntz @bethanylang Tagging you here for notification purposes.

[2021-12-14 18:54] kuasha420 commented on #4490
@aaemnnosttv I don't think that `last-of-type` works here. I have tried that approach without success. See: https://jsfiddle.net/6zLfq7jo/1/

[2021-12-14 19:05] aaemnnosttv opened #4556 "Release 1.48.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-12-14 19:11] tofumatt commented on #3498
Had a look through the code, and it seems that this selector was fixed as part of #3170. There's no longer a requirement to run any selectors before `getSetupFlowMode()`; `getSetupFlowMode` now runs the appropriate selectors itself as part of its `createRegistrySelector` logic.

So this can be closed as it's already fixed, in the way we'd expect 🎉

[2021-12-14 19:11] #3498 closed

[2021-12-14 19:12] aaemnnosttv commented on #4370
@felixarntz seeing as this was fixed in another PR, should it get an entry in the changelog?

[2021-12-14 19:25] aaemnnosttv commented on #4028
@asvinb it's a bit weird but it's something we should address holistically as it isn't specific to this one input.

Back to you @wpdarren for another pass!

[2021-12-14 19:37] tofumatt commented on #4436
QA ❌

Looks like the `i18n.js` file isn't being served with the `.min` suffix:

<img width="1377" alt="Screenshot 2021-12-14 at 19 32 00" src="https://user-images.githubusercontent.com/90871/146066983-cd6a8bf5-2306-4da4-934c-77528896d1fc.png">

This can be observed in the QA screenshot above as well.

This is the case on the main site/when loading the adminbar as well:

<img width="865" alt="Scree

[2021-12-14 19:53] ivankruchkoff commented on #4247
@wpdarren / @jamesozzie can you paste the values for the following console queries?

[code]

See my comment further up in the thread for what the values need to be:
https://github.com/google/site-kit-wp/issues/4247#issuecomment-991383839

[2021-12-14 20:13] tofumatt commented on #4436
@aaemnnosttv Can you verify that [`i18n.js` and `analytics-advanced-tracking.js`](https://github.com/google/site-kit-wp/blob/ebd4273fcfc504bb51afa13cc1ea18d48e98d7fd/webpack.config.js#L363-L368) don't need to be modifed by this issue? That's what the IB implies, but I just want to make sure, as `i18n.js` won't have the `min.js` suffix here, but it's definitely being optimised, so it seems odd not

[2021-12-14 21:46] felixarntz commented on #4370
@aaemnnosttv I think it's okay not adding one, mostly because this is a bug fix which isn't relevant to regular users anyway (since behind a feature flag). Not opposed to adding a message if you prefer though.

[2021-12-14 22:02] felixarntz commented on #4514
@asvinb Thanks, clearing up those problems here makes sense, we should make sure the total widths cannot exceed the expected maximum column number per viewport, like you're saying. As far as I can tell, the IB looks good around that.

Something that I do have concerns over is using the `BannerNotification` within the widget UI. That's different from how it's done now, and I would prefer if we kept

[2021-12-14 22:35] felixarntz commented on #4356
@asvinb @jimmymadon @eugene-manuilov I agree that this is not worth fixing since it's a browser-specific default in refresh behavior. Marking this as `wontfix`.

[2021-12-14 22:35] #4356 closed

[2021-12-14 22:36] felixarntz commented on #2044
@eclarke1 Makes sense, let's try to wrap up #4376 in this sprint (cc @techanvil) so that we can work on this one the sprint after.

[2021-12-14 22:52] tofumatt commented on #4383
QA ✅  from me.

I also ran through the regular QA steps, but then looked through the code changes and didn't see any obvious places for regressions, so I think we're good 👍🏻

[2021-12-14 23:40] tofumatt commented on #4535
QA ⚠️

Looks like there's one thing from the IB that's missing from the implementation: removing the `ProvidePlugin` from `webpack.config.js`. I left a comment here: https://github.com/google/site-kit-wp/pull/4552/files#r769127566

But from my testing that can be removed without any issue, and we might as well do that to simplify our config since the WordPress babel config does that for us, as @eu

[2021-12-14 23:41] tofumatt commented on #4535
Hmm, I just saw the discussion on that PR saying it was needed for E2E tests. I ran those locally after removing the `ProvidePlugin` and saw the errors. Okay, in that case: QA ✅

[2021-12-15 03:22] kuasha420 commented on #4488
There is a lot going on in the AC. I've broken it down to the following:

* New component design and styling.
* Scroll Behavior
* Hash management
* Chip Auto Selection on page load/scroll.

I've opted to use `react-scroll` which will allow us to take care of last 3 with reasonably minimal effort, leaving only the design of new component as the main `execution` task. Once I was mostly done with the

[2021-12-15 04:02] kuasha420 commented on #4126
QA: :heavy_check_mark:

Verified that hash changes and updated file is loaded correctly using `npm run watch` when caching is not disabled.

![Screenshot_20211215_094515](https://user-images.githubusercontent.com/6187401/146120995-2320680b-e3a2-4569-a7d4-092241169e2c.png)
![Screenshot_20211215_094635](https://user-images.githubusercontent.com/6187401/146121002-df746b0c-e322-46a4-92b0-4564fe8fc84a.

[2021-12-15 04:45] hussain-t commented on #4535
To close the loop here, we need the `ProvidePlugin` for e2e and VRT tests. Please refer to [this comment](https://github.com/google/site-kit-wp/pull/4552#discussion_r769236017) :)

[2021-12-15 04:46] hussain-t commented on #4535
Thanks @tofumatt. Yes, we need the `ProvidePlugin` for e2e and VRT tests.

[2021-12-15 07:45] mohitwp commented on #4492
@techanvil Well, I tried after removing cache and still facing issue when I'm using Windows.
I tried to figure out and found that this issue is coming only on Windows system.
I tested this on Mac OS using BrowserStack, and this issue is not coming in Mac OS.

Windows >Edge, Firefox, Chrome > Issue exists.
MAC > Chrome, Safari > Issue not exists.

Kindly check and let me know if you need to discuss

[2021-12-15 08:31] aaemnnosttv commented on #4436
@tofumatt – the `analytics-advanced-tracking` script in particular is never loaded as an external script so it's irrelevant for this one. The `i18n` script though is being optimized like you said so I think it makes sense to include here. More importantly, is that we want to ensure that this script is not "hijacked" by optimization plugins which is the main underlying motivation here.

While we're

[2021-12-15 08:55] aaemnnosttv commented on #4534
Thanks @bethanylang, I wasn't aware of that one but I see you've closed it so we'll plan on using this one going forward. This issue is just a placeholder for now but we'll be sure to work with you to clarify what exactly we want to include here before we start working on it 👍

[2021-12-15 09:12] asvinb commented on #4514
Sounds good @felixarntz . IB updated.

[2021-12-15 09:18] aaemnnosttv commented on #4490
@kuasha420 ah you're right. I misunderstood the way it works. "type" is essentially element/tag type only, rather than an arbitrary selector. In that case, the simplest approach would be to apply the min-height to all contexts (not sure if we're open to that @felixarntz ?).

For now, let's assume this should still only apply to the last visible widget context as described in the AC and use JS to i

[2021-12-15 09:52] techanvil commented on #4492
Hey @mohitwp, thanks for investigating further - that's useful to know! I'll see about getting this fixed on Windows :+1:

[2021-12-15 10:12] aaemnnosttv commented on #4247
## QA ❌

@ivankruchkoff @wpdarren I took a quick look at this and it seems that a few things are not working properly.

The notice on non-SK screens appears correctly, but there is a problem on the splash screen in that if there are other connected admins on the site, the user will never see the  "Reconnect Site Kit" case because it's checked after the secondary admin one, which shouldn't take pre

[2021-12-15 12:32] jamesozzie opened #4559 "Google AdSense Host API integration"
## Feature Description

Consider supporting the [AdSense Host API](https://developers.google.com/adsense/host). This was [proposed in the support forums](https://wordpress.org/support/topic/adsense-host-api-program/) and may be useful for network installs, whereby individual site owners can benefit from a network site using a shared revenue model with AdSense.

- [Related support topic](https://wo

[2021-12-15 12:39] wpdarren commented on #4028
### QA Update:  ✅

**Verified:**

- The spacing has been reduced in the storybook.
- Also tested this on a site and can confirm the spacing is reduced and the issue reported is fixed
- Confirmed that the mobile styling issues are fixed.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/146188017-046bfc19-5ab9-46cd-92cb-0a9cec267a1e.png)

![imag

[2021-12-15 13:02] wpdarren commented on #3948
### QA Update: ✅

**Verified:**

- Went through all of the links in the AC and confirmed the buttons are appearing and titled "Configure Analytics"
- Went through the last link in the AC and confirmed that the error message is appearing.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/146191152-4ae2ecb0-10eb-4c52-9b02-9ade908de4d9.png)

![ima

[2021-12-15 13:08] mohitwp commented on #4492
### QA Update ✅

**Verified:**

- Now, the header bar icons have a consistent layout at the mobile/tablet breakpoint crossover of 600px. The icon labels & drop-down caret are visible at 600px and above. There is not any individual which is only active at 600px.
- The DataBlock content in the Search Funnel widget has been aligned to the top.
- Tested with latest version of browsers - Chrome, Safari

[2021-12-15 13:30] mohitwp commented on #4493
### QA Update ✅

**Verified :**

- Now Pressing the "Escape" key or clicking the close/"X" icon on the URL Search after opening it leave the "URL Search" button focused.
- Verified on the latest versions of Chrome, Firefox, Safari and Edge.

[2021-12-15 13:30] bethanylang opened #4560 "Update "The necessary verification token could not be found on your site" messaging to reflect all cases"
Similar to #2908, our text for this message refers exclusively to caching plugins:

However, this error can occur in multiple circumstances. In this particular case, it appeared because I had the WP Maintenance Mode plugin installed, activated, and turned on.

![image](https://user-images.githubusercontent.com/12189958/146195176-beac6075-60a6-45d2-8425-4773e1d7ba2c.png)

I recommend changing the l

[2021-12-15 13:39] wpdarren commented on #4107
### QA Update: ⚠️

@kuasha420 just one observation. I see a slight difference than the screenshot in the QAB.

The WordPress top menu bar does not appear when I am in editing a post.

This is what I see:

![image](https://user-images.githubusercontent.com/73545194/146196282-128ffdbd-81ae-4409-bfe6-5c359b0d9523.png)

This might be more to do with my test site because even on the latest release it d

[2021-12-15 13:53] tofumatt commented on #4107
@wpdarren Yes, that's a feature of newer Post Editor versions and not related to this change. The screenshot in the QAB is just from an older version of WordPress so the top bar is still there.

But here's my site without this code, it shows the same:

<img width="1142" alt="Screenshot 2021-12-15 at 13 53 38" src="https://user-images.githubusercontent.com/90871/146199044-a9b90d92-bec1-4a10-94ce-1f

[2021-12-15 13:56] eclarke1 commented on #603
@aaemnnosttv is this an IB that has to be written by you, or could you be unassigned for someone else to pick up at all? Thanks.

[2021-12-15 13:58] eclarke1 commented on #3160
@asvinb is this an IB your are aiming to continue with, or could you be unassigned for someone else to pick up? Happy either way, just wanted to check.

[2021-12-15 13:58] eclarke1 commented on #3033
@eugene-manuilov does this IB have to be written by yourself, or could you be unassigned for others to potentially pick up? Happy either way, just wanted to check.

[2021-12-15 14:00] eugene-manuilov commented on #3033
Yes, someone else can also do it. Removed my assignment for now.

[2021-12-15 14:31] asvinb commented on #4457
@kuasha420 The IB looks good. However I think we can make a few tweaks about the naming of the class names and where they live.
* Instead of having the styles added in `assets/sass/components/global/_googlesitekit-header.scss`,
	* create `assets/sass/components/global/_googlesitekit-border-radius.scss` for the border radius styles.
	* update `assets/sass/vendor/_mdc-button.scss` to include the but

[2021-12-15 14:49] tofumatt commented on #4436
I reviewed this small change, but in doing so QA'd the original issue as well, so marking this now as QA ✅

[2021-12-15 15:03] eugene-manuilov commented on #4488
The `react-scroll` package seems to be pretty big: [237kB](https://packagephobia.com/result?p=react-scroll) when minified. I think the desired functionality can be easily implemented by ourselves and we don't need to use an external library for it.

[2021-12-15 15:08] bethanylang commented on #4337
Closing as both users who had reported this are no longer active on the forum; will reopen if needed.

[2021-12-15 15:08] #4337 closed

[2021-12-15 15:08] FlicHollis commented on #4467
Hi @aaemnnosttv and @felixarntz following on from @eclarke1 comment above how are we getting on with getting this over to IB?

[2021-12-15 15:10] aaemnnosttv commented on #603
It could be done by someone else; I'll unassign myself if we're short on actionable IBs right now 👍

[2021-12-15 15:12] FlicHollis commented on #4423
Hi @marrrmarrr and @felixarntz just following up on @eclarke1 request above. We would like to get this completed this sprint as it has been identified as a launch blocker. Thanks so much!

[2021-12-15 15:14] aaemnnosttv commented on #4467
@FlicHollis – very close, just waiting on the answer from @felixarntz 👍

[2021-12-15 15:16] tofumatt commented on #4488
Agreed on `react-scroll`. What is the reason for using `react-scroll`, specifically? Its README isn't very illustrative of _exactly_ what it does, and if it's about animated scrolling, something like `scrollTo({ behaviour: 'smooth' })` is fine; [we use that elsewhere in the plugin](https://github.com/google/site-kit-wp/blob/86c5353c5ac1a3c97c444f2aff7cf1d538133fcc/assets/js/components/DashboardNav

[2021-12-15 15:16] aaemnnosttv commented on #1045
@eclarke1 – the IB needs to be rewritten as we got off track after the initial review here but it can be done by anyone, using https://github.com/google/site-kit-wp/compare/poc/1045-is-setup-blocked as a starting point.

[2021-12-15 15:39] tofumatt opened #4562 "After pressing enter on a URL Entity Search Result, the loading bar appears before redirect"
## Bug Description

When the URL Entity Search input is activated (either by clicking on an autocomplete result sometimes, or consistently by selecting one with the keyboard then pressing the "Enter"/"Return" key), the loading bar that shows when searching appears again underneath the URL Entity Search input, even though it shouldn't be searching and is actually redirecting the user to a new Entit

[2021-12-15 16:19] techanvil commented on #4103
Hi @aaemnnosttv @felixarntz, thanks for your insight on this ticket. I've updated the IB to address the inaccuracies/details that we've discussed. Sending back over to IBR for a once-over.

[2021-12-15 16:22] marrrmarrr commented on #4423
I think the users who would benefit from this are the subset who have activated AdSense, regardless of which module / section they're on. So this is in line with the suggestion by @aaemnnosttv [in this comment](https://github.com/google/site-kit-wp/issues/4423#issuecomment-984737033).

[2021-12-15 18:58] kuasha420 commented on #4457
@asvinb Thanks, updated the files and classnames and added `8px` to the padding (since icon is `20px`, `8px` will satisfy the AC of `36px` for the whole thing (8 + 20 + 8). Am I right?

[2021-12-15 19:00] kuasha420 commented on #4457
@aaemnnosttv @eclarke1 Maybe this should also be `P0` as it covers quite a few of the UD launch blockers.

[2021-12-15 19:10] eugene-manuilov commented on #4562
IB :heavy_check_mark:

[2021-12-15 19:58] felixarntz commented on #4247
@aaemnnosttv Good catch, yes both of the issues you're pointing out should be addressed:
1. The WP admin notice where this applies also needs to be updated accordingly.
2. The check for whether the user is a secondary admin shouldn't take precedence over the disconnected reason. I believe switching those conditions here would be sufficient as a fix.

cc @ivankruchkoff I see you already started a f

[2021-12-15 20:07] ivankruchkoff commented on #4247
@felixarntz I've put out https://github.com/google/site-kit-wp/pull/4565 to handle both scenarios.

I discussed with @aaemnnosttv for his testing scenario and it was to add a filter on `home_url`, so I wrote a plugin for the test scenario.
[code]

The issue we could now face is that I update my site kit plugin with the new version which introduces `Previous Connected Proxy URL class`, but has no v

[2021-12-15 20:10] ivankruchkoff commented on #4247
Screenshot of the new message in PHP:
<img width="1289" alt="Screen Shot 2021-12-15 at 12 09 19 PM" src="https://user-images.githubusercontent.com/373931/146257842-01a0f167-12c9-48f6-8366-e18e0a0e9c8a.png">

[2021-12-15 21:26] felixarntz commented on #4247
Thanks @ivankruchkoff! Two comments for the updated admin notice:
* It's a bit hard to parse the URLs when incorporated into the floating text of that notice. Can you please change it to be closer to how it displays in the splash UI as well? As follows:
    * A separate list (`ul`) below the `p` tag, with both URLs prefixed with "Old URL" and "New URL" respectively.
    * Please make sure to corre

[2021-12-15 22:57] felixarntz commented on #4376
@techanvil Thanks, the IB is almost good to go! A few minor last things:

That filter should no longer be applied in the `setup_url_v2` method, per the ACs - it should only remain in V1. The only remaining usage after your IB is implemented will be in the `Analytics` class, however that is even at this moment only relevant for V1, as with the new setup that parameter will be provided differently -

[2021-12-15 23:09] felixarntz commented on #4478
@aaemnnosttv I wonder if we could specify the contract here in some way - the current ACs here list the exact modules this is needed for, but that list is not arbitrary, it technically applies to all modules that have owned keys.

I wonder if we could somehow tie that to an interface method, e.g. something like a `check_access` in `Module_With_Owner`, or even a new interface that extends `Module_W

[2021-12-15 23:20] felixarntz commented on #4467
Sorry for the delay here, I finalized the ACs - the POC approach looks solid to me!

[2021-12-15 23:21] felixarntz commented on #4514
IB ✅

[2021-12-15 23:42] ivankruchkoff commented on #4247
@felixarntz update for the `<ul>` is out:
<img width="1264" alt="Screen Shot 2021-12-15 at 3 37 34 PM" src="https://user-images.githubusercontent.com/373931/146281767-eaf6946c-1b34-4f72-be54-82d3a3c03a7a.png">

However there is still the pending question from my previous comment:
JS logic:
https://github.com/google/site-kit-wp/blob/681fc336694ab2cc15221c6952e24792c75b17e0/assets/js/components/setu

[2021-12-16 07:09] kuasha420 commented on #3993
QA: :heavy_check_mark:

Verified that the filter works as expected.

* Filter works for enabling/disabling single or multiple modules.
* Mandatory modules remain enabled regardless of their presence in the filter.
* Filter interacts correctly with modules behind feature flags. ( checked with Tester Plugin).
    * Returning modules that are disable by feature flag with the filter is NOT possible.

[2021-12-16 08:10] kuasha420 commented on #2697
QA: :heavy_check_mark:

* Verified that in both dev and prod mode, the `config.php` file is generated correctly.
* Verified that both dev and release zip works as expected and the `config.php` file is included in the zip.

[2021-12-16 08:33] asvinb commented on #4457
IB looks good @kuasha420 . I tweaked it where you had `min-width: auto` twice, instead of having `min-width` and `min-height` for `.googlesitekit-button-icon*`

[2021-12-16 09:20] aaemnnosttv commented on #4478
@felixarntz this somewhat relates to the discussion around all-admin modules and the idea of having a `Module_With_Service_Entity` interface or similar which would be what we would check the access for.

I like the idea of using this approach 👍

I'm not sure the parameter is needed there, we only need the module to check using the current settings (at least for now). If we wanted to make it more a

[2021-12-16 09:33] eclarke1 commented on #4514
@aaemnnosttv @felixarntz could I kindly ask you to add an estimate here as @asvinb is on leave today. Or @asvinb to please add tomorrow if you don't get round to this today. Thanks.

[2021-12-16 09:34] eclarke1 commented on #4502
@felixarntz @aaemnnosttv this was one of our 'Nice to have' for launch issues, which is sitting in Triage right now. Any chance we could move this over to AC?

[2021-12-16 09:41] aaemnnosttv commented on #4247
@ivankruchkoff you're right, this detail was missed during definition. More often than not, I think this will be the case as a manual update of the site's URL would not cause this to happen as we sync the site fields automatically when this happens.

In this case, I think we need to set the previous connected URL from the current in `check_connected_proxy_url` when the disconnect happens as the cu

[2021-12-16 09:54] asvinb commented on #4514
@eclarke1 Estimate added.

[2021-12-16 10:58] techanvil commented on #4376
Thanks @felixarntz - two good points there! I had a slight misunderstanding of the `googlesitekit_proxy_setup_url_params` and thought the `Analytics` usage was still valid in V2 for now, so thanks for clearing that up. Also, good spot on `credentials` - there is indeed an accessor of that name.

I've updated the IB to a) remove `googlesitekit_proxy_setup_url_params` from the `setup_url_v2`, and b)

[2021-12-16 11:14] aaemnnosttv commented on #4247
Looking into this a bit more, I think the option for the previous connected URL is actually unnecessary as the mismatch is always between the connected proxy URL and the canonical home URL (essentially current `home_url`), both of which are already available in both places.

I've pushed a few updates here in lieu of the timing for the release here, back to @felixarntz  for final review 👍

[2021-12-16 11:45] aaemnnosttv commented on #4423
Hey @techanvil, I've just updated the AC after confirming the suggested changes I had from before. It's not a major change but is more of a global change rather than specific to the unified dashboard or screen.

The current IB looks good overall but I'll send it back your way for revision in light of these changes. Apologies for this change after you added the IB!

[2021-12-16 11:50] aaemnnosttv commented on #4502
@felixarntz I've added some preliminary AC, let me know what you think as it's a bit odd to define. cc: @asvinb thoughts here?

[2021-12-16 11:50] madatr commented on #459
.

[2021-12-16 11:52] aaemnnosttv commented on #4490
IB ✅  👍

[2021-12-16 12:48] jamesozzie opened #4568 "Add a loading indictor after clicking on the "Proceed" button during initial setup"
## Bug Description

During setup on a new site after clicking on the "Proceed" button it can take a long time before verification is complete. Add a loading indicator after clicking on the proceed button. This may be useful in the event that users abandon setup or refresh the page before setup is complete.

Example video below, over 10 seconds of a delay.
https://recordit.co/HhbOodHrrR

![image](h

[2021-12-16 14:15] techanvil commented on #4423
Thanks @aaemnnosttv, that's no problem. I've updated the IB accordingly. Cheers

[2021-12-16 14:16] eugene-manuilov commented on #4474
IB ✔️

[2021-12-16 15:05] aaemnnosttv commented on #4423
Great, thanks @techanvil

IB ✅

[2021-12-16 15:36] bethanylang opened #4569 "Multiple reports of google_api_connection_fail"
## Bug Description

Over the last several days, we've received multiple reports on the support forum from users of a `google_api_connection_fail` error both during the setup process _and_ after the user has been using Site Kit successfully for some time.

In one case, a user noted that services showed as Connected in Settings despite this error, but their Dashboard showed the Invalid JSON response

[2021-12-16 15:48] bethanylang commented on #4511
@adamsilverstein Hi there! We discussed this one in the #google-open channel on 8 December and I believe you were going to do some checks on your side. This user has been awaiting a reply for quite some time if you have a chance to look into this ASAP. Thanks!

[2021-12-16 16:07] felixarntz commented on #4247
@aaemnnosttv Good catch on the previous connected URL - I agree that relying on the canonical home URL makes sense.

[2021-12-16 16:39] #4403 closed

[2021-12-16 16:40] #4493 closed

[2021-12-16 16:44] #4495 closed

[2021-12-16 16:45] #3726 closed

[2021-12-16 16:46] #4496 closed

[2021-12-16 16:48] #4402 closed

[2021-12-16 16:49] #4380 closed

[2021-12-16 16:52] #4257 closed

[2021-12-16 16:53] #4500 closed

[2021-12-16 16:53] #4370 closed

[2021-12-16 16:57] wpdarren commented on #4247
@aaemnnosttv @felixarntz are there any changes to the AC/QAB that I need to be aware of?  There has been a lot of discussion so want to make sure I am covering everything. 😄

[2021-12-16 17:03] #4255 closed

[2021-12-16 17:04] #4238 closed, assigned to nobody

[2021-12-16 17:05] #2908 closed

[2021-12-16 17:07] #4426 closed

[2021-12-16 17:08] #4407 closed

[2021-12-16 17:10] #4381 closed

[2021-12-16 17:10] #4145 closed

[2021-12-16 17:11] #4286 closed

[2021-12-16 17:18] #4454 closed

[2021-12-16 17:23] felixarntz commented on #4160
@eugene-manuilov @wpdarren The ACs here were defined a while ago and are actually not entirely correct. I don't remember exactly in which issue we had that conversation a few weeks back, but I remember for sure that we clarified that actually only single sentences should ever not end in a full stop.

This is not a big deal, but it should also be really quick to fix - can we add the full stop also

[2021-12-16 17:25] felixarntz opened #4570 "Clean up minor legacy UI in the unified dashboard widgets"
As I just reviewed the unified dashboard again with @marrrmarrr  as part of release approval, we noticed a few minor things that should be quick to address but would go a long way. As a summary, a few widget titles should be changed, the source links should show in a consistent location, and the new "overall page metrics" widget should be adjusted to only show in the entity dashboard.

-----------

[2021-12-16 17:35] felixarntz commented on #4570
cc @aaemnnosttv @tofumatt @eugene-manuilov

[2021-12-16 17:50] felixarntz opened #4571 "New Search Funnel widget still showing legacy blue zero data box"
When there is no Search Console data to display (to clarify: "zero data", not "gathering data"), the Search Funnel widget still shows the legacy blue CTA - which per #4085 and #4086 should only be shown if the service is actually gathering data. This should be fixed - it is especially problematic in the case that Analytics isn't activated yet, in which case that CTA will not be shown either.

In o

[2021-12-16 17:52] #4466 closed

[2021-12-16 17:52] #4042 closed

[2021-12-16 17:52] #4418 closed

[2021-12-16 17:52] #4471 closed

[2021-12-16 17:52] #4342 closed

[2021-12-16 17:52] #4436 closed

[2021-12-16 17:53] #4028 closed

[2021-12-16 17:53] #4383 closed

[2021-12-16 17:55] mitogh commented on #4160
A PR has been created with the requested change:

- https://github.com/google/site-kit-wp/pull/4572

cc  @felixarntz @eugene-manuilov @wpdarren

[2021-12-16 18:27] ivankruchkoff commented on #4247
@wpdarren there are two places for the notification to appear, once on a sitekit dashboard url (happens in javascript) and once on a non sitekit page (happens in PHP).

There are screenshots of both in this thread, one message:
![image](https://user-images.githubusercontent.com/1621608/146165588-fca511a4-656e-47ac-a85a-429c7a41853d.png)

![image](https://user-images.githubusercontent.com/373931/14

[2021-12-16 18:32] felixarntz commented on #4160
@mitogh The changes in the PR looks good, but it needs to be based on and target `main` - I left a PR comment with that as well. Can you please update it?

[2021-12-16 18:48] mitogh commented on #4160
Thanks, @felixarntz as discussed in previous PR #4572 was closed due it was based on `develop` instead I've cherry-pick the commit into a new PR #4574 and opened it against `main`.

[2021-12-16 18:50] aaemnnosttv commented on #4247
Thanks @ivankruchkoff – I've updated the QAB with a bit more info as well (didn't see you had replied here yet!) 👍

[2021-12-16 18:53] felixarntz commented on #4376
@techanvil Excellent, thanks! IB ✅

[2021-12-16 18:59] felixarntz commented on #4478
@aaemnnosttv I like your proposed solution, let's go with that - except that I'm strongly leaning towards not using the term "connection" anywhere here, I think "service entity" is more clear (almost all modules connect to something, but not all of them have a service entity) and also doesn't conflict with anything else ("connection" is quite abstract and already used for a couple other things).

[2021-12-16 19:02] felixarntz commented on #4502
@aaemnnosttv Makes sense - looks like it's indeed just a height change and not actually a change in the box shadow itself. I still added a note that there should not be any notable box shadow style change.

[2021-12-16 20:07] felixarntz commented on #4160
Thanks @mitogh, merged!

Note for the future: Please keep in mind to also move and assign the issue accordingly in the project board, e.g. move from _Execution_ to _Code Review_ and unassign yourself if you're no longer working on it / waiting for someone else to review 👍

[2021-12-16 20:08] felixarntz commented on #4160
Approval (based on https://github.com/google/site-kit-wp/issues/4160#issuecomment-996023830) ✅

[2021-12-16 20:08] #4160 closed

[2021-12-16 21:41] mitogh commented on #4160
Thanks for the flag :100: @felixarntz

[2021-12-16 22:29] adamsilverstein commented on #4511
Hi @adamdunnage -

I spent some more time debugging this user account to see what might be causing them to get disconnected. I see they have close to the oAuth refresh token limit of 50 so I suspect this might be the source of the issue.

For reference:

[reference](https://developers.google.com/identity/protocols/oauth2#:~:text=Note%3A%20Save%20refresh,tokens%20stop%20working.)

And then later:

[2021-12-17 05:42] kuasha420 commented on #4488
I have updated the IB to use `useIntersection` and removed the need for `react-scroll`. This is going to be quite a bit more involved and we must test all the interactions here (hash change, scrolling, soft refresh, race condition) etc. New component based on `Button` will also be need to replace the chip library.

There are some downsides to this approach however,
* Unless we do some fancy/compli

[2021-12-17 08:23] aaemnnosttv opened #4575 "Refactor Webpack configurations with modules"
## Feature Description

Our main webpack configuration is currently a bit unwieldy with everything in a single file spanning  ~600 lines. As it is, our build is also using Webpack's multi-compilation mode as a JS function which offers us the most flexibility in how this is composed.

We also use a custom configuration for Storybook, for which some parts of the configuration may be shareable.

----

[2021-12-17 08:49] aaemnnosttv opened #4577 "Update plugin zips workflow to only run when necessary"
## Feature Description

Our GitHub actions workflow for building and deploying plugin zips runs when it doesn't need to in some cases ([example](https://github.com/google/site-kit-wp/pull/4576)).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The plugin zip file workflow (`zips.yml`) should only run f

[2021-12-17 08:54] wpdarren commented on #4247
Thank you @ivankruchkoff @aaemnnosttv :) will pick this up soon.

[2021-12-17 09:28] aaemnnosttv commented on #4478
@felixarntz sounds good to me. I'll open a new issue for introducing that first as a prerequisite 👍

[2021-12-17 10:29] aaemnnosttv opened #4579 "Introduce module interface for service entities"
## Feature Description

Currently some module classes have a distinguishing feature that they interact with an "owned" service entity on their respective Google service which has a related `Module_With_Owner` interface. With dashboard sharing, this will evolve in modules that weren't previously "owned" being ownable, even though they don't have a service entity.

Later, this will also become impor

[2021-12-17 10:56] techanvil commented on #4556
QA :white_check_mark:  - Smoke tested, verified the changes I've been involved with and performed some ad-hoc testing.

[2021-12-17 12:42] bethanylang commented on #4511
Thank you so much for digging into this, @adamsilverstein. Closing.

[2021-12-17 12:42] #4511 closed

[2021-12-17 13:25] eugene-manuilov opened #4581 "Add code review and merge review instructions to the PR template"
## Feature Description

We have standardised requirements for code review and merge review procedures that would be nice to have in the PR template as well. It will help engineers remember which steps they need to do before approving or merging a PR.

We can also add a GHA workflow that checks whether all checkboxes in the PR body are checked off to make sure that we remember to check them before

[2021-12-17 13:39] wpdarren commented on #4247
### QA Update ⚠️

@aaemnnosttv this is looking good other than I am unable to recreate this:

I am assuming that the code provided simulates the domain change but I am using a site that has changed so didn't need the plugin.  How can I simulate the test above?

**Verified:**

Checked that the `Looks like your URL has changed` notice is updated to include new and old URLs when a change is detected.

[2021-12-17 14:13] wpdarren commented on #4556
✅ Completed going through our Release QA checklist.

 LGTM. Noticed a few small observations that are not issues with this release, will ticket them.

[2021-12-17 15:23] wpdarren commented on #4489
### QA Update: ❌

@hussain-t  I'm not seeing the CTA. The site I am using is `oi.ie` and looking at the Google Analytics account, no active goals exist. The goals data is still showing zero.  I've created a new site, used the developer plugin to connect to `oi.ie` and connected Analytics. I also checked that this wasn't a caching issue.  I tested this on current and unified dashboard.

It is possi

[2021-12-17 15:26] eugene-manuilov commented on #4489
@wpdarren there are two goals in the `oi.ie` account:
![image](https://user-images.githubusercontent.com/873049/146567635-09866802-e1a7-4618-9503-619b5ac0f1b2.png)

You probably need to test it on a new site with a new account. :thinking:

[2021-12-17 15:28] eugene-manuilov commented on #4556
LGTM too :heavy_check_mark:

[2021-12-17 15:46] eugene-manuilov commented on #4473
@ivankruchkoff it should be added as a dependency to `googlesitekit-dashboard` and `googlesitekit-dashboard-details` scripts only.

[2021-12-17 15:51] bethanylang commented on #4569
@aaemnnosttv Thank you for your investigation on this! Given that these reports don't appear to have any common root cause, we will continue to investigate them individually as they come in and follow up with the users whose topics remain open. I'll close this issue for now, but we'll update the team if we need further assistance.

[2021-12-17 15:57] eugene-manuilov commented on #4472
@ivankruchkoff let's make it clear that we need to add phpunit tests for filters defined in the `register` method.

[2021-12-17 16:35] kuasha420 commented on #4556
LGTM :heavy_check_mark:

Went through the release testing checklist without any issues.

[2021-12-17 16:41] eugene-manuilov commented on #4467
IB :heavy_check_mark:

[2021-12-17 16:52] aaemnnosttv commented on #4478
@felixarntz I've opened the new issue which is with you for review. Regarding the check for connection, maybe this isn't needed as the underlying method for checking the service entity should validate the input and fail before attempting a request if necessary data was missing.

[2021-12-17 16:53] wpdarren commented on #4489
@eugene-manuilov oh, um, I thought with it saying 'all goals' = 0 that none were active. Good shout, I'll look at it again.

[2021-12-17 18:14] aaemnnosttv commented on #3907
@felixarntz / @eugene-manuilov could you give this a final look over? I was involved in some of the changes at the end and it's somewhat of a non-trivial PR. Thanks!

[2021-12-17 18:37] aaemnnosttv commented on #4247
@wpdarren I'm not sure how you did it with the current site you have now but if you could change the URL back to what it was before the disconnect was triggered (without changing via site settings) then that should do it.

Alternatively, you could start with a connected site and use the plugin to trigger the URL change. Once the disconnect is triggered, the plugin can be removed/deactivated and th

[2021-12-17 22:57] shaer commented on #4569
I can confirm that I tried to connect to the APIs from two different linode instances with different public IPs and a 403 was returned

[code]

however, ping and telnet to the host works fine

[code]

[2021-12-17 23:00] mitogh opened #4582 "Stats and difference are not aligned on iPad"
## Bug Description

When visiting the main dashboard the numbers from the report and the difference are not aligned on the same page due some titles being wrapped in 2 lines.

Related from:

- #4454

## Steps to reproduce

1. Go to the dashboard of the page.
2. Make sure the Google Analytics module is set up or set it up.
3. Scroll down to the metrics area and observe the result.
4. See numbers an

[2021-12-17 23:15] mitogh opened #4583 "Assets are being loaded on non site kit pages."
## Bug Description

When a logged-in user opens a page that does not have a module related to Site Kit plugin like viewing a blog post, the JS and CSS assets from the plugin are loaded in.

Technically this does not break anything but I don't think this should be the right behavior due we are downloading and transferring unused assets into not site kit pages.

## Steps to reproduce

1. Open your b

[2021-12-17 23:32] mitogh commented on #4426
Adding some comments found during the smoke test @wpdarren

https://user-images.githubusercontent.com/3921289/146619293-90283296-f0df-4bdd-a1e0-8f18b1d46f3f.mp4

[2021-12-17 23:43] ivankruchkoff commented on #4361
QA: ✅

Error correctly raised for a variable and correctly not raised for a function call.

[2021-12-17 23:47] mitogh opened #4584 "Typing `HOME` and `END` on the search box selects the first result instead of placing the cursor to the right place."
## Bug Description

When moving the cursor using the keyboard in the search box using the keys:

- <kbd>home</kbd>
- <kbd>end</kbd>

Removes the focus of the keyboard and returns the first result instead of placing the cursor into the right place on the search box, this behavior in inputs like the address from the browser moves the cursor to the start or to the end respectively instead.  When the

[2021-12-17 23:47] mitogh commented on #4402
While testing this ticket I found an unexpected behavior that I don't think relates to this ticket but wanted to flag it.

- #4584

cc @wpdarren

[2021-12-18 01:10] mitogh commented on #4556
Added some comments on the following tickets from the release:

- https://github.com/google/site-kit-wp/issues/4426#issuecomment-997090220
- https://github.com/google/site-kit-wp/issues/4402#issuecomment-997094937

Found some issues unrelated to this release:

- #4583
- #4582

But nothing that is a blocker for the release :heavy_check_mark:

[2021-12-18 06:28] kuasha420 commented on #4311
Hi @aaemnnosttv ,

The first part of AC is clear. But I have some confusions regarding the second part.

* You have said getting the `liveContainerVersion` using the `isResolving` selector, but I couldn't get it to work in my testing. How to get it and would the approach change based on whether AMP is active?
* Where do we put the new `ProgressBar` in the Settings Page? Couldn't quite figure it ou

[2021-12-18 06:36] kuasha420 opened #4585 "Update stylelint to a supported version for usage with latest version of Extension"
## Feature Description

Stylelint 13 is no longer supported and shows a nasty warning on VSCODE when the stylelint extension is loaded. We should update it along with the related dependencies.

![Screenshot_20211218_123337](https://user-images.githubusercontent.com/6187401/146631940-e8f40e1a-a5e0-4623-ba50-6abd40d564ba.png)

https://github.com/stylelint/vscode-stylelint#migrating-from-vscode-style

[2021-12-18 06:48] kuasha420 opened #4586 "Add stylelint extension to VSCode Extension Recommendation and set it as default `scss` formatter"
## Feature Description

We should add stylint vscode extension to the recommended extension array and set it as the default formatter for `scss` file so `prettier` does not incorrectly format it. It will aliviate one of the major pain point keeping `formatOnSave` enabled having to fix the style using the npm script before committing.

We can use our existing `.vscode` workspace settings to achieve

[2021-12-20 08:48] aaemnnosttv commented on #4583
This is intentional when Site Kit is setup (and the current user is able to use Site Kit) as it enhances a number of other locations, such as the WordPress dashboard (with the Site Kit Summary widget) and the admin bar app on the front end which provides similar metrics and a link to the detailed dashboard for that URL within Site Kit.

Other pages such as the post list screen also load Site Kit a

[2021-12-20 09:05] aaemnnosttv commented on #4569
Hi @shaer, what regions are those linode instances located in?

[2021-12-20 09:38] shaer commented on #4569
@aaemnnosttv Hi Evan, both instances are in Frankfurt

[2021-12-20 10:07] aaemnnosttv commented on #4488
@eugene-manuilov @kuasha420 This is accurate about the `ChipSet`, however what prevents us from continuing to use the `Chip` component and wrap that with our own behavior that `ChipSet` doesn't work for? E.g. `selected` is a prop we can control on the `Chip`, just as are other interaction handlers. We will need `@material/react-chips` in dashboard sharing later so I think it would be preferable to

[2021-12-20 10:37] wpdarren commented on #4247
### QA Update: ✅

**Verified:**

- Checked that the `Looks like your URL has changed` notice is updated to include new and old URLs when a change is detected. I saw the message on WP dashboard and on SK splash screen.
- Checked that if the URLs happen to be the same but the user is still disconnected from a detected change, the message looks as it does today (without new and old URLs).

<details>

[2021-12-20 10:55] aaemnnosttv commented on #4311
@kuasha420 you would need to check the status of the `getLiveContainerVersion` selector which as it is the only one that has a resolver. This is specific to a single container (using `accountID` and `internalContainerID`). See the `getAnalyticsPropertyIDs` selector to see the related logic as to which containers are checked, which is essentially the same logic that determines which container selec

[2021-12-20 11:00] jamesozzie commented on #4569
@aaemnnosttv I have 2 video recordings of this behavior, which has been occurring for the past 2 weeks. Video 1 in particular displays console errors.
- [Video 1 contained in this SH info report](https://github.com/google/site-kit-wp/issues/4555) | [Support Topic](https://wordpress.org/support/topic/your-site-may-not-be-ready-for-site-kit-google_api_connection_fail-3/)
- [Video 2 contained in this

[2021-12-20 11:31] jamesozzie commented on #4569
Reopening

[2021-12-20 11:41] eugene-manuilov commented on #4473
IB ✔️

[2021-12-20 11:51] aaemnnosttv commented on #4577
@eugene-manuilov there are some additional files we'd want to include in the root, such as `google-site-kit.php` and various config files. We should probably also consider `bin/release`. Probably safe to ignore `*.md`. Maybe it would be less paths to only specify `paths-ignore` as we do today?

[2021-12-20 12:21] aaemnnosttv commented on #3033
Thanks @mitogh, this looks pretty good overall, just a few questions and comments.

@mitogh do we need these specific versions for some reason? Why not `cross-env babel-jest jest jest-circus @wordpress/jest-preset-default`? As of Jest 27, `jest-circus` is the default runner but we also don't use it now with `jest@25.5.4` with wp-scripts. I think upgrading Jest as part of this could be okay, but no

[2021-12-20 12:24] aaemnnosttv commented on #4526
@eugene-manuilov – just to clarify, this should also save the settings after unsetting the module, correct?

[2021-12-20 12:50] marrrmarrr commented on #4266
I'll check in with Sam on this one; the eye icon in general sounds good, but I'm conscious that soon we'll be using it for the "view-only" dashboard up top, so we could have a group of users that see it in both places and it would mean two different things.

[2021-12-20 13:29] wpdarren opened #4589 "All Traffic Widget: pie slice is unselected when clicking anywhere outside"
## Bug Description

On the `All Traffic` widget on the Current and Unified Dashboard there's a bug when you select a slice of the pie, i.e. Organic search, and then go to the date picker to filter for another period, i.e. 7 days.  When you click on the date picker the selected slice is unselected, so you are unable to retrieve data for a specific slice by period.

https://user-images.githubusercon

[2021-12-20 14:07] eugene-manuilov commented on #4526
Yes, of course. Updated IB to mention that it should save the sharing settings.

[2021-12-20 14:23] eugene-manuilov commented on #4577
Ah... yes, you are right, @aaemnnosttv. IB is updated.

[2021-12-20 14:37] bethanylang commented on #4569
Confirmed that this issue seems to be specifically affecting sites on *Linode* hosts, but only sites on specific data centers. Frankfurt has beentested on Cloudways (contact Adam for login information) and showed the error. This same error on Linode Frankfurt was [also confirmed by a user here](https://wordpress.org/support/topic/json-error-cant-connect-site-kit-help/#post-15180757).

Newark was c

[2021-12-20 15:37] mitogh commented on #3033
Thanks, sure let me answer your questions.

Yes, using the latest from requires another level of effort due to the current version we are using from `@wordpress/scripts` configuration we are using as well relies on those versions of libraries as using the latest expect another type of configuration.

My idea here would be let's get rid of the dependency with minimal fraction as possible, eventuall

[2021-12-20 15:55] wpdarren commented on #4427
### QA Update: ⚠️

@kuasha420 two observations Id like to highlight.

1. When you unfocus (i.e. pressing Esc key) the URL Search button is highlighted as if its active.  Is this expected?

Here's a screenshot to highlight it.

https://user-images.githubusercontent.com/73545194/146794768-56c82c8d-62af-457a-b18d-0bea012f3d83.mp4

2. On the Entity Dashboard, I see the current entity title auto popula

[2021-12-20 16:40] bethanylang commented on #4569
This issue appears to be related to a possible issue with IP ranges for the Linode Frankfurt servers that are causing them to be erroneously blocked by Google. We're working to identify next steps for a fix.

[2021-12-20 16:55] wpdarren commented on #4410
### QA Update: ❌

@jimmymadon I'm seeing some odd behaviour with this on `develop` branch.

1. I go to the Site Kit Settings > PageSpeed and click on the `Visit the dashboard` link.  This with Unified Dashboard disabled and Idea Hub enabled but not connected. As you can see from my screencast the link doesn't jump to the PSI widget.    I'm on Chrome on desktop.

https://user-images.githubuserconte

[2021-12-20 17:30] mitogh opened #4590 "Update support for short array syntax"
## Feature Description

The current project enforces the usage of `array()` syntax instead of `[]` in PHP, the rule being `(Generic.Arrays.DisallowShortArraySyntax.Found)` upgrading this rule and the syntax on the project can be done safely using an IDE to replace instances of `array()` with `[]`.

Since the plugin requirements are:

- WordPress >= 4.7
- PHP >= 5.6

The syntax for the short array

[2021-12-20 17:41] ivankruchkoff commented on #4556
LGTM ✅

[2021-12-20 18:34] felixarntz commented on #4581
Great idea! IB (although I'm not sure we should add the _full_ instructions, including all the explanations) ✅  I left some comments on the PR.

@eugene-manuilov Since you started on this, can you add a sprint to this? cc @eclarke1 @FlicHollis

[2021-12-20 18:45] aaemnnosttv commented on #4526
IB ✅

[2021-12-20 18:49] felixarntz commented on #4571
@asvinb The IB is almost good to go, except for one thing: Wherever we add `isGatheringData` checks for `analytics`, we need to make sure they only run if the `analytics` module is also active and connected. That limitation, which especially is relevant for `assets/js/modules/search-console/components/dashboard/SearchFunnelWidget/index.js` where none of those checks are present is currently missin

[2021-12-20 18:54] mitogh opened #4591 "Consolidate and improve docker images"
## Feature Description

Currently, there are 3 images related to this project when running `npm run env:start` the images being:

- `googlesitekit-e2e_cli_1`
- `googlesitekit-e2e_wordpress_1`
- `googlesitekit-e2e_mysql_1`

Currently, the only usage of `googlesitekit-e2e_cli_1` is to run `wp cli` commands, the idea with this ticket is to consolidate both into a single image instead, by adding suppo

[2021-12-20 19:20] felixarntz commented on #4311
@aaemnnosttv Shouldn't the small progress bar display on the right of the dropdown instead? That would be closer to how we have on the splash screen for the compatibility checks and IMO would look better. I think the mock you have above is a bit odd as it makes me think this dropdown is an autocomplete that is loading, but what we're loading here doesn't really affect the content of that dropdown.

[2021-12-20 19:24] henrywright commented on #4556
Do you guys have a release branch? I'm happy to give it a try if you need an extra pair of eyes for 1.48.0

[2021-12-20 19:43] mitogh commented on #4556
We usually use `main` as the release branch @henrywright you can use `npm run release-zip` to generate a ZIP with the final version from `main` branch.

[2021-12-20 19:48] felixarntz commented on #4579
@aaemnnosttv One point of feedback about the ACs: Do we even need the `get_service_entity() : array` method, as in would we use it anywhere outside of `check_service_entity_access(array)`? If not, I'd suggest that we don't introduce it and instead only have a `check_service_entity_access() : bool|WP_Error` method.

It's a bit "vague" to me to rely on the `array` return/argument type here, I'd envi

[2021-12-20 19:50] eugene-manuilov commented on #4488
@aaemnnosttv, in our case, what we call `chips` are just `div`-s with rounded corners. I don't think it's worth adding a whole 3rd party library just to avoid adding rounded corners to a `div` ourselves.

We can always add it back if it's needed. Can you remind me how we want to use it for the dashboard sharing functionality? If I remember correctly, then it's going to be used to display selected

[2021-12-20 19:52] eugene-manuilov commented on #4488
@kuasha420 @tofumatt @aaemnnosttv IB is unnecessarily complicated. I'll rework it to use a more straightforward approach.

[2021-12-20 19:52] felixarntz commented on #4579
@aaemnnosttv Actually, another thing: #4478 includes a notion of a reason for why there is no access, which I think makes sense to have. How do you envision that "reason" being communicated by the method here? Would the `WP_Error` be returned to indicate no access? If so, how would we differentiate between a `WP_Error` because of no access vs because of an actual (runtime) error in the check (e.g.

[2021-12-20 19:56] felixarntz commented on #4478
@aaemnnosttv I think the ACs here look good, I just left a related comment in https://github.com/google/site-kit-wp/issues/4579#issuecomment-998223878. We could potentially check if the module is also active and connected before even calling the interface method? That would help, but I also think we should check for missing variables in the interface implementation anyway, so it may be unnecessary

[2021-12-20 20:01] felixarntz commented on #4481
@aaemnnosttv

Can you clarify that? You have `{settings, moduleSettings}`, but what would `settings` be here? Why do we need to return the entire module settings here? Also, what should the request data format be for this endpoint? I think the ACs here would be easier to follow if they included more specifics on exact request and response format shape.

[2021-12-20 20:56] #4247 closed

[2021-12-20 21:14] #4492 closed

[2021-12-20 21:17] #4126 closed

[2021-12-20 21:19] #4535 closed

[2021-12-20 21:19] #4494 closed

[2021-12-20 21:19] #4329 closed

[2021-12-20 21:20] #4438 closed

[2021-12-20 21:22] #3948 closed

[2021-12-20 21:23] #3902 closed

[2021-12-20 21:23] #4201 closed

[2021-12-20 21:24] #4350 closed

[2021-12-20 21:25] #4227 closed

[2021-12-20 21:27] felixarntz commented on #4373
@aaemnnosttv @eugene-manuilov This has been missing a release assignment, but it was merged almost three years ago according to the PR #4434. Not sure whether it was in 1.47.0 or is going into 1.48.0, I just assigned the latter for now.

Anyway, at least here it doesn't matter so much since it doesn't have/need a changelog entry anyway :)

[2021-12-20 21:27] #4373 closed

[2021-12-21 00:46] #4556 closed

[2021-12-21 05:04] kuasha420 commented on #4590
I think WordPress Coding Standard prefers the long syntax. See https://developer.wordpress.org/coding-standards/wordpress-coding-standards/php/#declaring-arrays

This was decided in 2019 Proposal and was not considered for revisit on the [modern proposal](https://make.wordpress.org/core/2020/03/20/updating-the-coding-standards-for-modern-php/
) as well.

I think we try and follow the WordPress Cod

[2021-12-21 06:24] aaemnnosttv commented on #4579
@felixarntz it sounds like you're assuming it would never return `false`, but the idea was a result of no access would be a normal expected value to encounter here and would return `false` rather than a `WP_Error`. A request failure for any other reason would return a `WP_Error`. I'll update the ACs to be more clear about that.

I also thought along the lines of your error-only suggestion, but usi

[2021-12-21 06:58] aaemnnosttv commented on #4577
Thanks @eugene-manuilov! This looks good now, just one question: do you think it makes sense to include `.babelrc` as well? 🤔

[2021-12-21 07:18] aaemnnosttv commented on #3033
That makes sense, thanks for clarifying 👍

Yeah I was specifically referring to our use https://github.com/google/site-kit-wp/blob/4b13e7ee8e5bf030cc315dae4f9c6a19416ffe2d/package.json#L35-L37

It would be great if we could continue to support these flags for E2E as `interactive`, `slowmo`, and `devtools` are quite useful and much more intuitive to use than the env vars. Just because we're removin

[2021-12-21 07:39] aaemnnosttv commented on #4427
Yes, it's important for accessibility. See https://github.com/google/site-kit-wp/issues/4493

Regarding the second point, I find the ACs a bit confusing there so we probably need @felixarntz to clarify. I think it means that if the user opens the search field and changes the input without making a new selection, then it should be emptied when unfocusing the input. As it is now it returns back to t

[2021-12-21 07:48] aaemnnosttv commented on #4311
@felixarntz the best placement would be next to the submit button IMO (as with compatibility checks) as it is providing more context as to why the button is disabled. That doesn't work in both places without more substantial changes so I think putting the progress bar next to the selects is the next best place. We should make it clear though that only one progress bar should be added regardless of

[2021-12-21 07:49] kebbet opened #4592 "Translations lost on plugin update"
## Bug Description

Every time the plugin is updated the UI is in English, even though I have correct translations files. The issue is solved when new translations are added via translate.wordpress.org and the language packs are updated.
The added translations at wordpress.org are not the ones that are not translated in the UI after a plugin update.

## Steps to reproduce

1. Install the plugin on

[2021-12-21 07:53] aaemnnosttv commented on #4311
@kuasha420 this should be ready for revision now 👍

[2021-12-21 08:06] aaemnnosttv commented on #4478
Thinking about this a bit more, now that the underlying method checks an arbitrary entity we probably shouldn't call it here if the module wasn't connected because we could provide a more useful reason: "module setup isn't completed" rather than "one or more required entity fields are missing". Both will probably be needed, but the former is probably more useful in this case where we are specifica

[2021-12-21 08:26] aaemnnosttv commented on #4481
@felixarntz ACs are updated to clarify request and response 👍

[2021-12-21 10:57] asvinb commented on #4571
Thanks @felixarntz . IB updated!

[2021-12-21 11:30] hussain-t commented on #4467
@felixarntz @aaemnnosttv The IB doesn’t have an action item to disable `Run test again` button as described in the AC:

I'm adding the following changes to disable it while fetching:

1. Add the class `googlesitekit-pagespeed-widget__disabled`:

[code]

2. Add a class to the `Link` element if `isFetching` is `true`:

[code]

[2021-12-21 11:57] techanvil commented on #4467
Hi @hussain-t, good spot there. Apologies, as I should have noticed this when writing the IB.

One point, the `Link` component has a `disabled` prop so presumably this should be set as well/instead of the class you've mentioned?

[2021-12-21 12:43] eugene-manuilov commented on #4577
No, that is not needed. We use it only for jest tests.

[2021-12-21 13:15] hussain-t commented on #4467
@techanvil No worries. And thanks you are right, the `<Link />` tag has a `disabled` prop 👍

[2021-12-21 15:19] eclarke1 commented on #4502
@mitogh please could you kindly add an estimate here, considering engineering, CR and QA? Thanks

[2021-12-21 16:05] felixarntz commented on #4579
@aaemnnosttv That makes sense for that point, could you also address my other feedback from above?
* Can we avoid having `get_service_entity() : array` on the interface unless we absolutely need it?
* How would this work with the "reason" field specified by #4478 if it's just a boolean return value?

[2021-12-21 16:17] aaemnnosttv commented on #4592
@felixarntz it seems as though we may have broken translation extraction for JS in https://github.com/google/site-kit-wp/issues/4436 by changing the generated file names to match one of the default exclusion patterns used by wp-cli's `make-pot` command ([source](https://github.com/wp-cli/i18n-command/blob/17606058b2d269c1434a9e2269043dec9bf81300/src/MakePotCommand.php#L50)).

Unless there's a way

[2021-12-21 16:42] mitogh commented on #4502
Added an estimate @eclarke1

[2021-12-21 16:52] aaemnnosttv commented on #4579
@felixarntz oops, sorry about that!

We still need the method to be public in order for it to be called by `Modules` in the `check-access` handler. It could be included in the trait as an abstract public method but then you are somewhat doing the same thing without the benefit of the interface. If you'd prefer, we could have the interface define a `check_current_service_entity_access` which takes

[2021-12-21 16:59] aaemnnosttv commented on #4577
IB ✅

[2021-12-21 17:29] felixarntz commented on #4592
@aaemnnosttv Hmm that's a weird exclusion role in `make-pot` I guess? Why would `.min.js` files be different from `.js` files? I guess the assumption is that the minification would be more "naive" and not keep the `__` etc function calls?

That's not great, but I'm also not sure we can change that, at least not in a short time. For a start though, could you open an issue on https://github.com/wp-c

[2021-12-21 17:29] felixarntz commented on #4592
@bethanylang Any reports on this yet in the support forums?

[2021-12-21 17:39] mitogh commented on #3033
That's a great point, let me update the IB in order to specify this behavior. Great feedback, thanks @aaemnnosttv

[2021-12-21 18:02] eugene-manuilov commented on #2764
@mitogh could you please add QAB?

[2021-12-21 18:13] felixarntz commented on #4488
@eugene-manuilov @kuasha420 @tofumatt I just revisited this one with @aaemnnosttv, and we came to the conclusion that the decision to remove the `@material/react-chips` was made a bit preliminarily. At a minimum that part should not be in the ACs since that is more IB material, but we also think it would be better to keep the package, for the following reasons:
* The `Chip` component from there co

[2021-12-21 18:16] aaemnnosttv commented on #4592
Moving this forward to revert #4436 for now after discussing with @felixarntz

[2021-12-21 18:22] aaemnnosttv opened #4594 "Release 1.48.1"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-12-21 18:28] felixarntz commented on #4579
@aaemnnosttv

Looking at the ACs from #4478, couldn't the `check-access` handler simply call a parameter-less `check_service_entity_access() : bool|WP_Error` method, to check access for the module's currently configured service entity? I don't think we need to know what the current service entity actually is for that method since it pretty much only returns a boolean anyway.

Per what we talked ab

[2021-12-21 18:31] felixarntz commented on #4478
@aaemnnosttv Per my comment in https://github.com/google/site-kit-wp/issues/4579#issuecomment-999001492, I think the response here could be simplified to _only_ an `{ access: Boolean }` object. Any situation where we can't clearly say it's `access: true` (200 response) or `access: false` (403 response), IMO the endpoint should return a regular error response directly from a `WP_Error`, as common i

[2021-12-21 18:32] felixarntz commented on #4571
IB ✅

[2021-12-21 18:35] felixarntz commented on #4481
@aaemnnosttv Thanks, that looks better. One of my questions from above I'd still like to clarify, why do we need to return the entire module settings here? Wouldn't it be sufficient to return only the owner IDs for each module after making changes? No other module setting should ever change from a data sharing request change, or am I missing something here?

[2021-12-21 18:37] felixarntz commented on #4533
@aaemnnosttv Similar question to https://github.com/google/site-kit-wp/issues/4481#issuecomment-999005412, why do we need to return the full module settings here? Wouldn't it be sufficient to return the new owner ID? Any other settings shouldn't ever change here.

[2021-12-21 18:43] felixarntz commented on #4427
@wpdarren @aaemnnosttv

This is intended, per the requirements from #4426. The reason for this is as follows: _If_ we already had a single page application where the entity dashboard would not be a new page load, this is exactly how it should work from a UX perspective. That was one of the requirements that @samitron7 made, and I agree on that. I also agree that it feels a little weird based on th

[2021-12-21 18:51] aaemnnosttv commented on #3033
Thanks @mitogh – this LGTM 👍

@eugene-manuilov can you give this a look over as well to see if there's anything else?

[2021-12-21 19:03] felixarntz commented on #4592
IB / CR ✅

[2021-12-21 19:05] felixarntz commented on #4592
Leaving a comment here for now: This is happening due to https://github.com/wp-cli/i18n-command/issues/45 - worth following up there _why_ that change was made, as the issue there doesn't really provide a reason.

[2021-12-21 19:09] aaemnnosttv commented on #4481
@felixarntz my thought was that settings could have changed in the meantime so this would be a good time to synchronize them. It was intended more as a safeguard than a requirement (we don't even need to return the owner ID since that would always be the current user's ID if we knew it was successful). I think this may be less relevant now that this would only affect all-admin modules which don't

[2021-12-21 19:24] eugene-manuilov commented on #4427
I also found one regression added by this ticket. I can't select a result with the mouse in the autocomplete list anymore:

https://user-images.githubusercontent.com/873049/146986078-d48888b4-2979-475a-8f5f-bfc0d664dce9.mp4

If I comment out the timeout in the `onBlur` callback, then it works again: https://github.com/google/site-kit-wp/blob/f864bbc681ec362492621a78841b1aea4ba87854/assets/js/compo

[2021-12-21 19:24] felixarntz commented on #4592
QAd via https://github.com/google/site-kit-wp/pull/4595#issuecomment-999013642

[2021-12-21 19:59] mitogh commented on #2764
QAB :heavy_check_mark:  @eugene-manuilov

[2021-12-21 20:10] #4592 closed

[2021-12-21 20:10] #4594 closed

[2021-12-21 20:47] kebbet commented on #4592
Thanks for fixing this!

[2021-12-22 02:19] kuasha420 commented on #4427
@eugene-manuilov which browser are you using? I have the completely opposite effect. ie. Can not select with mouse when the timeout is removed. (Chrome, linux).

[2021-12-22 08:17] mohitwp commented on #4503
### QA Update ✅

**Verified:**

- Cursor point is removed and there is no hover/focus effects/styling that implies the user can interact with the “No results found” autocomplete option.
- Verified on Chrome, Safari, Firefox, and Edge browsers.

https://user-images.githubusercontent.com/94359491/147059119-60ea805f-ae1a-4801-899a-ad0b188daec0.mp4

[2021-12-22 08:22] aaemnnosttv commented on #4592
Confirmed this is fixed in 1.48.1

![image](https://user-images.githubusercontent.com/1621608/147059841-82df89f1-82d1-4250-af18-9de0d23bcfa1.png)

[2021-12-22 08:39] aaemnnosttv commented on #4579
Yes of course. We had originally discussed passing the entity to the method though so that's been the approach we started with. I'll update it to remove that parameter for now.

SGTM 👍

[2021-12-22 09:12] aaemnnosttv commented on #4533
@felixarntz see my longer reply on #4481, but generally speaking anytime we update settings on the server we sync those changes on the client. The datastore doesn't support receiving a subset of settings into the store (updating the `savedSettings` rather than just the temporary current values) so we'd need to return the complete settings.

_Most likely won't have changed_ –yes, but they could hav

[2021-12-22 09:26] aaemnnosttv commented on #4502
@mitogh this looks like an interesting solution - does it worth the same as today both with and without content in the subheader when scrolled to the top and below?

[2021-12-22 09:48] eugene-manuilov commented on #4427
@kuasha420, I am also on Linux and using Chrome.

[2021-12-22 09:51] aaemnnosttv opened #4598 "E2E Tests broken with WP 4.9"
## Bug Description

Our E2E tests for WP 4.9 recently started failing due to AMP validation failures. This was found to be due to a recent update to the AMP plugin which we use for determining the AMP validation status for a logged-in user (for non-logged-in users we use the official AMP validation library). This is due to added support for ignoring things that would otherwise be invalid AMP which

[2021-12-22 10:03] aaemnnosttv commented on #4453
@felixarntz @eugene-manuilov I've added some initial ACs to get this going. How does this sound as a solution? Alternatively, we could make it specific to only this tour but I would imagine this very well may come up again.

[2021-12-22 11:19] techanvil commented on #3160
Hi @felixarntz, I've been looking into this ticket and have noticed there is some existing behaviour that we might need to account for.

I've locally modified [`OAuth_Client::authorize_user`](https://github.com/google/site-kit-wp/blob/f864bbc681ec362492621a78841b1aea4ba87854/includes/Core/Authentication/Clients/OAuth_Client.php#L368) to redirect to the Splash Page or Dashboard (if permissioned, i.

[2021-12-22 11:59] aaemnnosttv opened #4599 "Extend Permissions for viewing the dashboard to include the shared dashboard"
## Feature Description

Building on the new capabilities for dashboard sharing introduced in https://github.com/google/site-kit-wp/issues/4522, the existing capabilities for viewing the Site Kit dashboards should be extended to include users who can view the shared dashboard.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## A

[2021-12-22 12:10] aaemnnosttv commented on #4590
Given the JS-centric nature of Site Kit which has no long array syntax, I think this would be okay to adopt for Site Kit – at least from the argument of readability. Other Google plugins already ignore this rule such as [Web Stories](https://github.com/google/web-stories-wp/blob/3824d2cee3e231ae0795d3b08f6eb15417f49399/phpcs.xml.dist#L5-L7) but one could also make the argument that they should als

[2021-12-22 13:01] eugene-manuilov commented on #4488
IB is updated.

[2021-12-22 15:17] mitogh commented on #4502
Yes, basically the current solution has a subheader before the header, but the actual shadow comes from the navigation, I've tested this solution for the main dashboard page and also individual post page where content is present there looked good on my end.

The end goal with the new approach is to move the shadow where it actually should be which is the top of the navigation instead of the bottom

[2021-12-22 15:21] aaemnnosttv commented on #4502
Sounds good to me. @asvinb would you give this a quick look over? If it sounds good to you let's move it forward 👍

[2021-12-22 15:33] eugene-manuilov commented on #4480
IB ✔️

[2021-12-22 15:56] eugene-manuilov commented on #3033
Looks to be good to me too. IB ✔️

[2021-12-22 16:00] eugene-manuilov commented on #4453
@aaemnnosttv I like it. It's very elegant and efficient in the same time. Also, shouldn't take too much time to implement. Big :thumbs-up: from me 😄

[2021-12-22 16:00] aaemnnosttv commented on #4103
Thanks @techanvil! The IB looks very thorough. Just one comment from me.

This component would only be shown if GA4 wasn't set up yet in which case there wouldn't be an existing measurement ID set to conflict with one found in a GTM container. The user shouldn't be blocked from setting up GA4, only from double tagging the same property/measurement ID via GA and GTM so in this case, it should still

[2021-12-22 16:02] eugene-manuilov commented on #4453
One thing that we need to make sure is that the page is scrolled correctly, when a feature tour (like one that we have for the help menu) for something in the header is displayed. Perhaps we should add it to AC?

[2021-12-22 16:03] aaemnnosttv commented on #4453
@eugene-manuilov feature tours already scroll the target into view when activating a step so that shouldn't be a problem I don't think.

[2021-12-22 16:06] eugene-manuilov commented on #4521
IB ✔️

[2021-12-22 17:01] aaemnnosttv commented on #4479
@felixarntz I updated the issue here to be less implementation-specific than originally planned as there are multiple ways this could be done and I'm not sure a new admin action is the best solution here.

The simplest option might be to trigger the dismissal on the client side (as we do with all others) instead but I think it should be still reasonably simple to handle on the backend. LMKWYT?

[2021-12-22 17:25] asvinb commented on #4502
@mitogh The IB looks good from what I can see! Great job! For context, we have the border in the subheader because at the time of its implementation, we didn't have the navigation yet, basically we had to find a workaround using only the header and subheader.
IB: ✅

[2021-12-22 17:59] eugene-manuilov commented on #4457
@asvinb, would you mind reviewing the PR for this ticket? If it looks good to you, please, send it to the MR column.

[2021-12-22 18:27] aaemnnosttv commented on #4488
The AC needs tweaking to reflect the latest changes. I noticed there are a few older points that were ~~stricken through~~, please remove these instead – we can always dig back into the edit history if needed.

In this case I believe `0` would be the top of the viewport, correct? Can use the bottom of the  `DashboardNavigation` element instead as that would be the top visually?

`@wordpress/compos

[2021-12-22 18:28] eugene-manuilov commented on #4527
IB ✔️

[2021-12-22 18:33] eugene-manuilov commented on #4584
IB ✔️

[2021-12-22 18:52] eugene-manuilov commented on #4311
IB ✔️

[2021-12-22 18:55] aaemnnosttv commented on #1045
Thanks @asvinb – the IB is just about there, the main thing missing is that `validateIsSetupBlocked` should also be defined for Analytics and AdSense as well as this issue applies to all modules where the user can become blocked from completing setup.

The conditions for this vary a bit from module to module so the easiest way to find out is to look and see when some kind of `*Error` component is

[2021-12-22 20:12] funnelblockspro opened #4600 "Add filter for more finegrained disabling of auto ads"
## Feature Description

The controls added in response to https://github.com/google/site-kit-wp/issues/2681 offer a quick and easy way to disable ads for logged in users and probably fulfill the needs of the vast majority of users.

However, some more fine grained control would be useful in some cases.

For example I'm working on a site where I want to be able to disable ads for some logged in use

[2021-12-22 21:17] aaemnnosttv commented on #4510
cc: @felixarntz

[2021-12-22 22:54] felixarntz commented on #4579
@aaemnnosttv LGTM! I've added a list of the specific modules that need to implement this, just to clarify.

[2021-12-22 23:01] felixarntz commented on #4481
@aaemnnosttv That makes sense overall, however adjusting the endpoint schema to return the full settings although they can't really change as part of this still seems confusing to me. `settings` and `moduleSettings` are of substantially different shape, the first is a single setting group, the latter is one setting group _per_ module. That in combination with that the module settings can't change

[2021-12-22 23:03] felixarntz commented on #4533
@aaemnnosttv Left a reply to your comment on #4481 - I think we could return only the new `ownerID` here as well. Although in this case here I'm less opposed to the return value than in #4481 because the endpoint here only applies to one module and is an _explicit_ call to take over - while in the one from #4481 the taking over would be more of a side-effect.

[2021-12-22 23:07] felixarntz commented on #4522
@aaemnnosttv Maybe worth a note in the ACs to rely on `Module_Sharing_Settings` here? I've added #4475 as a dependency to this for that reason, I don't think this can be implemented before.

[2021-12-22 23:10] felixarntz commented on #4599
@aaemnnosttv Hmm, I'm wondering about that. Is it overall more straightforward to include the "view shared dashboard" within "view dashboard", or would it be better to have them as two standalone capabilities that in the relevant areas we check both for?

I guess what I'm getting at is: Is there any `googlesitekit_view_dashboard` check at the moment where we would not want it to evaluate to `true`

[2021-12-22 23:12] felixarntz commented on #4479
@aaemnnosttv Can we even implement it at this point? I wonder whether this would be better as part of a frontend issue when we implement the UI. The server-side part of handling the dismissal already exists, so I'm not sure how much we can do here at this point.

[2021-12-22 23:14] felixarntz commented on #4525
@aaemnnosttv Just for reference, contrary to #4479 I think this one here makes more sense to already implement now. For testing we could rely on manual client-side data store action calls to dismiss the `shared_dashboard_splash` "notice".

[2021-12-23 01:26] felixarntz commented on #4590
I would lean against this since our coding standards should widely match the WordPress coding standards. I don't think the short array syntax provides enough benefit to diverge from the WordPress coding standards, so I'd vote to close this - maybe as `maybelater`.

[2021-12-23 01:32] mitogh commented on #4590
Agree, there's no real benefit in using one or another so closing this one for now.

[2021-12-23 01:32] #4590 closed

[2021-12-23 01:33] felixarntz commented on #3160
@techanvil Great questions! I think on the splash screen the current implementation has us indeed _almost_ covered - what still needs to be added here is support to show a blue retry link within that notification _if_ a "proxy access code" is also available (potentially passed from the proxy together with the error code).

On the Site Kit dashboard, I think we should then implement the same banner

[2021-12-23 01:35] felixarntz commented on #4453
@aaemnnosttv @eugene-manuilov I like this solution, let's do it!

[2021-12-23 07:50] asvinb commented on #4510
IB 👍

[2021-12-23 09:03] aaemnnosttv commented on #4533
@felixarntz that would be fine with me if we were to also add the ability to update the owner ID in current and saved settings in the store without needing to hack around it by merging the current settings values before receiving them which would be incorrect IMO as it would be treating current client-side values as the source of truth for what is saved.

I agree it's more of a clean separation he

[2021-12-23 09:12] aaemnnosttv commented on #4522
It does say "via the dashboard sharing settings" which refers to the same thing but I'll update it to be more clear. Thanks for adding the dependency, we'll need that first indeed 😄

[2021-12-23 09:28] aaemnnosttv commented on #4599
@felixarntz I'm not sure we have a need for them to be separate, do we? The main reason I thought to add this is due to permission checks which rely on a single capability (e.g. `add_menu_page`) rather than a callback where we can have composable logic such as REST endpoints.

Alternatively, we could conditionally register the relevant screens using a different capability based on the current user

[2021-12-23 09:32] aaemnnosttv commented on #4479
@felixarntz we could define a custom URL which would trigger the dismissal; later the go-to-dashboard button could be linked to this URL for non-admins. Alternatively, it could use a more client-heavy implementation as mentioned above. So it's definitely actionable now, it's more of a question of which route we'd prefer to go.

[2021-12-23 10:08] aaemnnosttv commented on #4481
@felixarntz see my reply https://github.com/google/site-kit-wp/issues/4533#issuecomment-1000149024

One thing I just thought of is the problem this presents in terms of implementing using `createFetchStore` as we'd need to dispatch actions with the response but the `controlCallback` doesn't really allow for that, and the `reducerCallback` is of course limited to the current store. So in order for

[2021-12-23 11:25] aaemnnosttv opened #4604 "Update Composer to declare allowed plugins"
## Feature Description

As of Composer 2.2, a new `allow-plugins` object was added to the schema for `config`.

For more information see: https://getcomposer.org/doc/06-config.md#allow-plugins

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Composer should not prompt/warn about Composer plugins that ar

[2021-12-23 11:38] FlicHollis commented on #4522
Hi @aaemnnosttv and @felixarntz when you are next looking at ACs please could we prioritise this one as it is blocking two tickets in IB - thanks so much!

[2021-12-23 11:47] aaemnnosttv opened #4605 "`php-scoper` failing on PHP 7.4"
## Bug Description

`composer install` recently started failing on our CI actions using PHP 7.4 related to a fatal error raised by PHP Scoper:

[code]

This does not seem to be related to any change in our codebase as the same build that passed 2 days ago failed when run again:
* https://github.com/google/site-kit-wp/runs/4617491254 (rerun: failure)
* https://github.com/google/site-kit-wp/actions/

[2021-12-23 12:05] felixarntz commented on #4599
@aaemnnosttv The ternary approach on registration indeed seems weird, but also WordPress core is doing that itself for some of its admin screens. But yeah, I like the idea of introducing two new capabilities so that we have one to access the "authenticated dashboard", one to access the "shared dashboard" and another one to access "either dashboard".

How about we make the existing `googlesitekit_v

[2021-12-23 12:09] felixarntz commented on #4479
@aaemnnosttv I think a specific URL or REST route for this dismissal seems unnecessary. The current ACs are also phrased in a way that sounds like there needs to be some of that UI already there to implement it.

Maybe we can simplify this to for now create a simple class or method somewhere to conveniently check on the server-side whether the user `has_dismissed_shared_dashboard_splash` or someth

[2021-12-23 12:13] felixarntz commented on #4481
@aaemnnosttv That sounds good to me. Let's eventually add an action like `refreshOwnerID` to the relevant module stores.

[2021-12-23 12:14] felixarntz commented on #4533
@aaemnnosttv Per #4481, how about we adjust this as well to only return the new `ownerID`?

[2021-12-23 12:21] aaemnnosttv commented on #4599
That sounds good to me. It could be useful for logic in the splash page as well. I assume you're okay with those being defined in the same issue here so I'll update the ACs to include that.

As for the splash page however, should we define a new capability for being able to view it other than the current `AUTHENTICATE` which wouldn't work for shared dashboard users?

[2021-12-23 12:32] felixarntz commented on #4599
Sounds good.

Good question. I guess the cleanest approach there would be to introduce a capability `googlesitekit_view_splash`? That could then be based on either `VIEW_SHARED_DASHBOARD` or `AUTHENTICATE`.

[2021-12-23 12:47] aaemnnosttv commented on #4533
@felixarntz that sounds good to me. We could always dispatch a `fetchGetSettings` to refresh the saved settings as well, so I suppose everything doesn't need to happen in the one action. I'll update the ACs.

[2021-12-23 12:52] asvinb commented on #1045
@aaemnnosttv I've updated the IB to include Analytics and AdSense. However for AdSense, there can be multiple checks depending on the account status. We will potentially end up duplicating a lot of the code we have in `assets/js/modules/adsense/components/setup/SetupMain.js` to `assets/js/modules/adsense/datastore/base.js`. For instance `determineAccountStatus` is dependent of lots of `useSelect`

[2021-12-23 13:00] jimmymadon commented on #4410
@asvinb @eugene-manuilov The original issues raised here in the Bug Description have been fixed as per the IB. I tested this as per my QA brief without connecting to Analytics. The bug tested by @wpdarren above is with Analytics connected. Since the widgets above PSI change their height post-loading *_after_* the correct scrolling has finished, it appears to *_move_* the corrected scrolled anchor

[2021-12-23 13:03] aaemnnosttv commented on #1045
Thanks @asvinb – regarding AdSense, I'll defer to @felixarntz 🙂

[2021-12-23 13:48] eugene-manuilov commented on #4428
@felixarntz do you mind reviewing #4528 as well?

[2021-12-23 14:03] eugene-manuilov commented on #4488
Updated :+1:.

Added it as an alternative approach.

Yes, in this case, we can just use the `throttle` function from the `lodash` library because we need to throttle a regular function, thus there is nothing to cancel for the `useThrottle` hook.

[2021-12-23 14:12] eugene-manuilov commented on #4410
I am not sure that we can do anything with this because we don't know the height of the upper widgets before they load their data. :thinking:

@felixarntz, can you also check Darren's comment?

[2021-12-23 14:55] felixarntz commented on #1045
@asvinb @aaemnnosttv Given that we'll work on the simplification of the existing tag detection (epic #4448) very soon, I'm not sure this is worth working on at this point, since several of the blocking conditions will go away, which would simplify the implementation here accordingly.

I suggest we push this back to _Backlog_ and add it to that epic, to have a reminder that we should do it as part

[2021-12-23 15:06] felixarntz commented on #4410
@jimmymadon @eugene-manuilov To be clear, which Analytics widget(s) are we talking about? Is it specifically the one for Popular Pages? Reason I'm asking is that we've been trying to mostly match the vertical space for loading states with the populated widgets, so this shouldn't be happening. But I see how there can definitely be a shift in the Popular Pages widget.

The spacing pretty much matche

[2021-12-23 15:17] felixarntz commented on #4428
@jimmymadon Excellent work!

I've just updated the changelog you had added here, as it should always be only one bullet point. Also adding that is typically responsibility of whoever merges the PR, so don't bother adding that in the future on issues for your own PRs. What _is_ crucial to add though is the QA Brief, can you please provide that here? :)

[2021-12-23 15:35] jimmymadon commented on #4428
@felixarntz Oops - I added my QA Brief to the Change-log section by mistake (hence the 3 points in Change-log). Have re-added the QA Brief back to where it should be! Thanks!

[2021-12-23 16:07] felixarntz commented on #4428
@jimmymadon Ahh - yeah that way it makes more sense :)

[2021-12-23 16:08] aaemnnosttv commented on #4488
Thanks @eugene-manuilov 👍

IB ✅

[2021-12-23 16:33] eugene-manuilov commented on #4605
IB :heavy_check_mark:

[2021-12-23 17:00] techanvil commented on #4103
Hi @aaemnnosttv, thanks for highlighting this. I've been trying to determine what this will entail for the implementation. This has led me to notice the `canUseSnippet` code that we've got in place; `canUseSnippet` appears to be false when there is a single GTM-supplied UA tag, true otherwise.

`canUseSnippet` is used to disable the switch in `UseSnippetSwitch` (the UA version):
https://github.com

[2021-12-23 17:51] aaemnnosttv commented on #1045
@felixarntz alternatively we could simplify the logic for AdSense specifically here to only cover the adblocker and leave the remaining part for the backlog in a new issue? Most of this is still actionable now 🙂

[2021-12-23 19:30] eugene-manuilov opened #4610 "Optimize bundles to reduce the total assets size"
## Feature Description

We need to review our bundles to find an opportunity to reduce the total size of the generated assets. If we can shrink the total size down, it will let us include the development (non-minified) assets into the release that can be used with the `SCRIPT_DEBUG` mode.

We have the `npm run test:analyze` command that runs the bundle analyzer tool for the main assets. We need to

[2021-12-24 08:27] jamesozzie commented on #4235
The RegistrationMagic team have confirmed they'll a fix for this in place in an upcoming release. As there's no action required on the Site Kit site I'm closing this issue while following up with impacted users.

[2021-12-24 08:27] #4235 closed

[2021-12-27 17:59] covidtes commented on #4569
I was redirected by Rankmath SEO to this ticket. Can't seem to connect GSC to Wordpress. My hosting is also in the region of Frankfurt. Is this already being fixed?

[2021-12-28 12:13] jamesozzie commented on #4569
@covidtes We don't have any update on this just yet. [One user did manage](https://wordpress.org/support/topic/linode-hosts-are-blocked-by-googlesitekit/#post-15198648) to get connected despite using Frankfurt based Linode servers. This was after following the steps in a [Linode support forum](https://www.linode.com/community/questions/22243/google-and-linode-server-issues).

We'll keep you update

[2021-12-28 14:34] jamesozzie commented on #4235
Just noting here that the errors that the specific error that is output may vary, with the below appearing:
- `undefined is not an object (evaluating 'a.ft.Pe')` ([related support topic](https://wordpress.org/support/topic/site-kit-encountered-an-error-58/))
- A cross-origin error was thrown. React doesn't have access to the actual error object in development. See https://fb.me/react-crossorigin-e

[2021-12-28 22:14] felixarntz commented on #1045
@aaemnnosttv Good point that we can probably still move parts of this forward already. However, I think the only module-specific integration that we should cover in here for now is the AdSense setup part of having an ad blocker, as that will remain relevant in the future. The Tag Manager and Analytics cases where the setup is currently blocked will be drastically simplified, and therefore it's not

[2021-12-28 22:19] felixarntz commented on #4208
@eugene-manuilov This is now good to move forward with again. Let's continue with the PR #4273, I'll close #4301 as a duplicate of that. The PR mostly already looks good, let's just refresh it against latest `develop`, and there's probably small bits of feedback still.

@fhollis @eclarke1 Per the above (and since this already has an ongoing PR), we can probably add this to Sprint 66.

[2021-12-28 22:30] felixarntz commented on #4108
Thoughts on this one @aaemnnosttv @tofumatt @eugene-manuilov? Let's prioritize this for the new year to find a good approach.

[2021-12-28 22:35] felixarntz commented on #4109
@aaemnnosttv @tofumatt @eugene-manuilov Looking at this again, I wonder whether there's really a good case to do this. We want to use WP core dependencies for Gutenberg integrations primarily to avoid conflicts between React, but as far as I can tell the translation part shouldn't be subject to that. Of course there is also a "JS size to load/parse etc" consideration to this, but the translations

[2021-12-28 23:23] felixarntz commented on #4192
@eugene-manuilov I've added ACs here with the specific requirements that the implementation should fulfill, based on your POC PR #3871, but with a few simplifications. Most importantly though, the scope of the initial usage of the new DI infrastructure should be heavily reduced so that we can focus on the implementation of the new interface, class etc. instead of having to deal with a ton of code

[2021-12-28 23:40] felixarntz commented on #4555
@jamesozzie @bethanylang Looking at this again, I may have come to an incorrect conclusion during the call where I brought up the idea of storing a message here. This error somehow comes from the proxy I believe, since that is the only way it would show up in this specific spot, and in that case that error code is all we have.

Interestingly, I couldn't find any mention of `request_failed` in eith

[2021-12-29 09:59] KimHEF opened #4612 "cURL error 6: getaddrinfo() while using Cloudflare"
On my selfhosted Wordpress (Ubuntu, Apache2, PHP8.0, MariaDB), the combination of Cloudflare CDN and the Sitekit-Plugin causes the Problem that the Wordpress-Health-Check gives me some Errors.

When I disable SiteKit, the errors disappears.
When I disable Cloudflare as well.
If both are enabled, the following errors appear:
"The REST API has found an error
Your website cannot reach WordPress.org a

[2021-12-29 10:11] jamesozzie commented on #4612
Hi there @KimHEF,

If you'd like to open a [support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in the WordPress support forums we can investigate this for you. Note that cURL related errors are typically hosting related however we can perform some additional checks, or setup an environment similar to your own. What may be occurring based on your comments could be a mult

[2021-12-29 10:11] #4612 closed

[2021-12-29 12:05] henrywright commented on #4555
@felixarntz `Google_Proxy::request()` seems to return an object of type `WP_Error` referencing the `request_failed` code if the response is less than 200 or greater than 299

I'm not sure of the exact request being made and don't have access to the Google Proxy server documentation so I don't know why it is responding in this way

[2021-12-30 18:21] felixarntz commented on #4424
@mitogh @aaemnnosttv This can now move forward as the plugin changelog script is being adjusted accordingly (internal).

[2021-12-30 18:24] felixarntz commented on #4424
@aaemnnosttv Assigning to you to eventually merge.

[2021-12-31 09:33] Alnetkhatiyan commented on #1524
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1635336603446911"
     crossorigin="anonymous"></script> need to implement my code I can't do it

[2021-12-31 09:34] Alnetkhatiyan commented on #1524
Please help for code implementation
Regard

[2021-12-31 10:03] jamesozzie commented on #1524
@Alnetkhatiyan Thanks for reaching out. We provide Site Kit initial support requests from the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Note also that for assistance with setting up the plugin on your WordPress site there is [a guide on the plugin website](https://sitekit.wit

[2022-01-04 00:34] jimmymadon commented on #4410
@felixarntz I had another look and it is not only the `Popular Pages` widget. Below are approximate heights of all the widgets before and after their content is loaded. As you mentioned, the `Popular Keywords` widget almost matches (and so does the `Search Console All Traffic` widget. But the rest have considerable differences.
[code]

We should be able to easily refine the loading states of every

[2022-01-04 08:37] asvinb commented on #1045
Thanks @felixarntz @aaemnnosttv . IB updated!

[2022-01-04 09:15] wpdarren commented on #4473
### QA Update:  ✅

**Verified:**

- Get an empty array [] as a value of the above property when `dashboardSharing` is enabled.
- Get undefined as a value when `dashboardSharing` is disabled.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/148036155-3d936d8d-6884-40cd-80d7-d83f6e6498eb.png)

![image](https://user-images.githubusercontent.com/7

[2022-01-04 09:41] wpdarren commented on #2764
### QA Update: ✅

**Verified:**

_New installation_

- When tracking checkbox is enabled, the tracking endpoint appears in the network tab.  The tracking continues to be enabled after a page reload.
- When the tracking checkbox is disabled, the tracking endpoint does not appear, and continues to be disabled on page reload.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.gi

[2022-01-04 10:06] aaemnnosttv commented on #4109
@felixarntz I agree, I don't think there is a real need for this right now that would justify the added complexity. We can always revisit it later if needed.

[2022-01-04 10:19] wpdarren commented on #4467
### QA Update: ✅

**Verified:**

- The ProgressBar appears in between the header and the section
- The Section element is grayed out
- The Run test again button is disabled
- The Spinner loading animation is present
- Tested on desktop and small screen sizes.
- Tested on current and unified main dashboard
- Tested on entity dashboard

https://user-images.githubusercontent.com/73545194/148044321-70

[2022-01-04 10:21] wpdarren commented on #4467
I've tagged `QA:Eng` for this in the QAB

[2022-01-04 10:42] eclarke1 opened #4615 "Zero Data States"
Asana Overview tab: https://app.asana.com/0/1200543040671424/overview featuring all useful links to epic documentation

Design doc: https://docs.google.com/document/d/1gRBpyGYA0IEE0wVw1cA__lG23xZCmAo68RS8SNGYRto/edit?usp=sharing

[2022-01-04 10:46] wpdarren commented on #4427
@kuasha420 I have come across two issues that seem to be new since I worked on the QA.

1. When I start typing in a search term, in console an error appears.  `react_devtools_backend.js:4045 Google Site Kit API Error method:GET datapoint:post-search type:core identifier:search error:"The response is not a valid JSON response."` Initially, `no results found` appears, the error appears in console th

[2022-01-04 10:49] aaemnnosttv commented on #4424
Merged and QA ✅

New PRs use the updated template which expands the referenced issue 👍

![image](https://user-images.githubusercontent.com/1621608/148048087-17d24916-c33c-40a3-aa2c-84c83b960db9.png)

[2022-01-04 11:21] eugene-manuilov commented on #603
Thanks, @techanvil, but why do we need a new environment for it? Why not to use a simple workflow file that runs for the `release` activity of the [`release`](https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#release) event?

Let's call this file `.distignore` since this is what WP CLI uses for its commands.

[2022-01-04 12:31] wpdarren commented on #4428
### QA Update: ❌

@jimmymadon I have a few observations which could be Figma design related but wanted to check.

1. On desktop, the `title of the page` is in Google Sans but the Figma file is Roboto.

![image](https://user-images.githubusercontent.com/73545194/148050935-a82a8c3c-2d18-4733-9f01-95d00fb23ee1.png)

2. On mobile and desktop, the URL font size 11px as per the Figma but in my opinion i

[2022-01-04 13:10] eugene-manuilov commented on #4604
IB ✔️

[2022-01-04 13:32] wpdarren commented on #4423
### QA Update: ⚠️

@hussain-t @aaemnnosttv I've been looking at this ticket with @mohitwp and have an observation.  At the moment the Help dropdown has been removed from the module pages. I realise we are going to be launching unified dashboard, but that will be at the end of January, and rolled out gradually I'm assuming.  Is it correct that we have removed the help icon for module pages?

[2022-01-04 13:41] eugene-manuilov commented on #3907
@wpdarren, yes, maybe, not critical though. Create a ticket for it if you want since tooltips are out of scope for this ticket, I think.

[2022-01-04 14:52] techanvil commented on #603
Hi @eugene-manuilov, thanks for taking a look at this.

That's an interesting point. To answer your question, when writing this IB I referred to this AC point:

And, [this comment](https://github.com/google/site-kit-wp/issues/603#issuecomment-824665646) from Evan:

Which in combination pointed me at using a tag to trigger the workflow along with an environment to limit access to it.

However - the

[2022-01-04 15:22] eugene-manuilov commented on #4570
Thanks, @asvinb. IB ✔️

[2022-01-04 16:37] asvinb commented on #4481
@aaemnnosttv I started working on the IB for this and I have some questions:

- Can you let me know what shall the structure for the request be like? Is it the same as the response sent? If so, how will we know which setting is for which module?
- If we are updating multiple modules, does that mean the response will be an array containing settings for each module?

[2022-01-04 17:05] aaemnnosttv commented on #4476
Thanks @eugene-manuilov ! A few minor points but overall looks good 👍

Neither module will have any owned settings for now as mentioned in the ACs, we just need to associate an owner.

While this has a TODO to remove it in a later release (which is probably okay to do with the legacy option reference), this interface and its method is still relevant for both modules as their settings should still

[2022-01-04 17:14] aaemnnosttv commented on #4423
## QA ❌

@wpdarren – the help menu should not be removed from anywhere it is currently being shown. The changes here are essentially just these two:

- Showing the extra help menu item for AdSense when it is active everywhere the help menu is shown
- Moving the AdSense help menu item to the bottom of the menu

Looking at the PR I can see that these were removed in a few places where they should no

[2022-01-04 17:19] aaemnnosttv commented on #3907
I think it's expected behavior for now. I'm not sure what the best solution is here but I think the tooltip offers useful information while the action is in progress. So maybe something we can enhance but, I wouldn't say it's a poor experience.

[2022-01-04 17:43] aaemnnosttv commented on #603
I suppose we don't need to use an environment for it, but I think we still want to prevent triggering the deployment accidentally (not only limited to certain people). This isn't in the ACs but I think it's worth considering here as this is much more sensitive than the other workflows.

The [referenced workflow from Web Stories](https://github.com/google/site-kit-wp/issues/603#issuecomment-7997557

[2022-01-04 18:00] aaemnnosttv commented on #4481
@asvinb, this is what this item from the AC describes

* the request should require a `data` parameter which should be an object of settings to merge into the current sharing settings similar to `modules/:slug/data/settings`

The settings would have the shape as defined in https://github.com/google/site-kit-wp/issues/4475 but the controller doesn't need to be particularly concerned with that here

[2022-01-04 18:11] aaemnnosttv commented on #4475
IB ✅

[2022-01-04 19:14] jimmymadon commented on #4428
@wpdarren Thanks for the feedback!

I have updated the fonts to match the Figma designs. (Point 3 mentions that On mobile the title of the page is Google Sans, but it is in Roboto in the Figma design).

I too felt that the Title and URL on mobile are tiny (11px and 10px respectively) and the URL on desktop (11px) is tiny too. I can increase URL for desktop to 12px which makes it look better. Howev

[2022-01-04 19:45] kuasha420 commented on #4467
QA:Eng: :heavy_check_mark:

Verified that newly added tests as well as existing tests are passing.

[2022-01-04 19:48] eugene-manuilov commented on #4192
Thanks, @felixarntz. AC looks good to me! I'll work on IB for it.

[2022-01-04 21:50] kuasha420 commented on #4474
QA: :heavy_check_mark:

In `develop`, All the shareable modules defined in the AC has been annotated with the appropriate value.

[2022-01-05 04:07] hussain-t commented on #4423
Apologies! I removed it based on the IB:

  Remove the conditionally rendered AdSense help menu items.

I will the help menu back and create a follow up PR :)

[2022-01-05 04:39] hussain-t commented on #4423
@aaemnnosttv I have created a follow-up [PR](https://github.com/google/site-kit-wp/pull/4617) and assigned this ticket to you for reviews.

[2022-01-05 08:25] asvinb commented on #4481
@aaemnnosttv Makes more sense. I've updated the IB, so let me know if that works. Else, let's jump on a call to iron things out 👍

[2022-01-05 08:45] aaemnnosttv commented on #4423
Thanks @hussain-t, that's been merged now 👍

@wpdarren – back to you for another pass.

[2022-01-05 09:02] aaemnnosttv commented on #4481
Thanks @asvinb !

This class has some extra things in it which are specific to its needs for notifications. Maybe one of the other `REST_*_Controller` classes would be better to use as an example?

Otherwise this looks good to me, although I think we'll want to add a little more to the estimate to leave sufficient time for the tests 👍

[2022-01-05 09:29] wpdarren commented on #3907
### QA Update: ✅

**Verified:**

- Upon interacting with an idea, i.e pinning, unpinning, deleting and creating an idea, there is loading icon when in progress.
- Tested this change with current and unified dashboard.
- Tested this change on mobile and desktop.

https://user-images.githubusercontent.com/73545194/148062561-18e27672-faad-4c6a-aeac-5c00e7475d34.mp4

[2022-01-05 09:30] FlicHollis commented on #4208
@eugene-manuilov and @felixarntz this has been added to the sprint to continue execution

[2022-01-05 10:00] wpdarren commented on #4428
@jimmymadon I am happy with those suggestions but I feel @Pratheep-lab should confirm that he's happy with this.

[2022-01-05 10:47] Pratheep-lab commented on #4428
Thanks for tagging me in @wpdarren. Proposed changes sounds good but I want to know if we have already defined any typography guidelines for elements like H1, H2, paragraph sizes in story book or code? So we can reuse it. Ideally, yes 11 px is not recommended. @jimmymadon ?

And once the changes have been done, please share a screenshot here for review.

[2022-01-05 10:58] wpdarren commented on #4121
### QA Update: ✅

- Tested with Unified Dashboard feature flag enabled and disabled.
- Visited all dashboard pages they load without errors in the console or FE.
- When you scroll down to content that wasn't in view, it still loads, even after having sat on the page for awhile.
- Tested with desktop and mobile screen sizes to ensure behaviour is consistent.

[2022-01-05 12:28] eugene-manuilov commented on #603
@techanvil, yes, i know that you suggest using it for inclusion, but this is a little bit controversial to approaches used in the software development. Usually, tools use such config files for exclusion to ignore certain files: `.gitignore`, `.eslintignore`, `.dockerignore`, etc. Even the [WP CLI command](https://developer.wordpress.org/cli/commands/dist-archive/) to create distribution archives u

[2022-01-05 12:53] mohitwp commented on #4423
### QA Update ✅

Verified:
1) Verified when UFD is enabled and AdSense is connected. (Dashboard and settings page)
2) Verified when UFD is disabled and AdSense is connected. (Dashboard, Settings, and AdSense Page)
3) Verified when UFD is enabled and AdSense is disconnected. (Dashboard and settings page)
4) Verified when UFD is disabled and AdSense is disconnected. (Dashboard, Settings, and AdSense

[2022-01-05 13:46] eugene-manuilov commented on #4476
@aaemnnosttv IB is updated.

[2022-01-05 14:53] techanvil commented on #603
Hi @eugene-manuilov, in this particular case I don't think an "ignore" file is the right approach. In fact, I had initially considered attempting a `.distignore` file, however:

* We already do specify the list of files to include for a release, it's just that this list is hardwired into the `bin/release` script. Trying to manage the inverse of this list means we're effectively specifying the list

[2022-01-05 15:10] eugene-manuilov commented on #603
@techanvil both approaches have their pros and cons, I would defer it to @aaemnnosttv and @felixarntz to decide what we should use.

I don't see a problem here. We can always update the `bin/release` script to make use of the `.distignore` file too to avoid maintaining two lists.

Likewise, we will have to remember to update the inclusion list any time we added a new file to the repo that needs to

[2022-01-05 15:23] techanvil commented on #603
@eugene-manuilov, all valid points. Let's defer to @aaemnnosttv and @felixarntz to decide the direction on this one...

[2022-01-05 15:39] jimmymadon commented on #4428
@Pratheep-lab In Storybook, we have an [external link](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global--links) which is what we are using for the URL, but the Figma design uses a different colour and size.

Anyways, I also found some [standard typography styles](https://github.com/google/site-kit-wp/blob/487c88b63659dd74ddfe5954eb9edbf48de2de73/assets/sass/config/_variab

[2022-01-05 16:11] aaemnnosttv commented on #603
@techanvil @eugene-manuilov I'm not sure we need to extract an ignore/includes file here. The files that are included in the release zip are already defined in the release script, so why not generate the zip as usual and then just extract the files into the svn working directory (or otherwise sync them)? Generating a zip isn't particularly expensive so we shouldn't go out of our way to avoid it. L

[2022-01-05 16:23] jimmymadon commented on #4428
@felixarntz Could you please have a look at the changes in my previous comment - if removing the protocol/www when shortening URLs is fine? Thanks!

[2022-01-05 16:45] asvinb commented on #4481
Thanks @aaemnnosttv . IB updated. Can you check again?

[2022-01-05 17:08] asvinb commented on #4514
@aaemnnosttv I left a comment for you here: https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA?node-id=21473:4157#135386158 Let me know what you think.

[2022-01-05 18:12] eugene-manuilov commented on #603
@aaemnnosttv there is the [`action-wordpress-plugin-deploy`](https://github.com/10up/action-wordpress-plugin-deploy) action that already automates plugin deployment to wordpress.org repository. I think we could use it instead of creating our own solution for it (actually that's why I was suggesting using `.distignore` initially 😄).

[2022-01-05 19:09] aaemnnosttv commented on #603
@eugene-manuilov sure, I think we could use that if it makes sense but even then, that doesn't restrict how we build the plugin for release. We could still build the release zip as we do now, uploading the zip as an artifact, then in a deploy job simply download it and extract the files before the plugin deploy action. We could probably do it a little more efficiently but you get the idea 🙂

[2022-01-05 23:09] tofumatt opened #4619 "VRT tests cannot be run on ARM Macs/M1 Macs"
## Bug Description

Using an ARM/M1 Mac, running `npm run test:visualtest` will fail with an error because the Docker image for Backstop is not configured to run an ARM64 image. It will segfault and fail. If you are on a machine that you migrated from an Intel Mac, it will then open whatever previous results you ran in your project folder.

Until BackstopJS provides a fully-integrated solution (se

[2022-01-05 23:49] kuasha420 commented on #4427
@wpdarren I could not produce the No.1 issue that you've mentioned. Can you test on latest `develop` again?

As for No.2 issue. When I remove the timeout, it NEVER works for me with pointer. But when the timeout is there, it works for me when I insta-click on the item (No press and hold or long press). But if I press and hold for just a few ms, it doesn't work.

In short, what happening here is:

[2022-01-06 06:38] mohitwp commented on #4501
### QA Update ✅

**Verified:**
1) Bottom margin set to `0.125rem` for `.googlesitekit-widget-area-header__title` .
2) Now Spacing improved between title and subtitle in i-Phone 6 . Tested using BrowserStack and chrome emulator.

<details>

![widget_1](https://user-images.githubusercontent.com/94359491/148339842-a309ca0c-c4fe-4e74-9909-8ef2896725dd.png)
![widget_2](https://user-images.githubusercon

[2022-01-06 07:16] Pratheep-lab commented on #4428
@jimmymadon Figma designs seem to be a little inconsistent with the usage of the font sizes but the changes you have done looks good. It will look better if we make the title of the page medium text from regular Google Sans.

On a different note, the spacing to the left of the 'Back to dashboard' is way more than the spacing given to the right of 'Sample Page'. They should be the same.

[2022-01-06 09:14] aaemnnosttv commented on #3160
@techanvil I don't think so – the `errorMessage` JS field refers to this:
https://github.com/google/site-kit-wp/blob/6e06d608c064e0ee8313a064cc6e9b4236da6915/includes/Core/Authentication/Authentication.php#L820-L825

which is only used here at the moment (as you identified):
https://github.com/google/site-kit-wp/blob/6e06d608c064e0ee8313a064cc6e9b4236da6915/assets/js/components/setup/SetupUsingPro

[2022-01-06 09:39] aaemnnosttv opened #4620 "Update module ownership for "All admin modules" when their sharing settings change"
## Feature Description

[All admin modules](https://docs.google.com/document/d/19OtWe7jXKC6dIUfs6J4gDrXujHgCuXnksxBM1uUWmOQ/edit#heading=h.mei1mnj9uwgh) are special in that their module owner is determined by the admin who configures their sharing settings. When one of these modules’ sharing settings are changed, the current user will become the new module owner, similar to the way owned settings

[2022-01-06 09:47] aaemnnosttv commented on #4620
Moving this forward as the ACs are pretty cut and dry cc: @felixarntz

[2022-01-06 09:55] aaemnnosttv commented on #4476
@eugene-manuilov Sorry if I missed this before, but we don't need to set the owner on activation. The modules obviously need an owner to facilitate sharing, but the owner for these will be set when sharing is enabled or changed. I just noticed we don't have an issue for this yet so I opened #4620 for it.

Please remove the proactive setting of the module owner on activation and then this should be

[2022-01-06 10:00] wpdarren commented on #4489
### QA Update: ⚠️

@hussain-t @eugene-manuilov okay, I've been having fun with this ticket 😄  I've tried it on two sites, and see the same behaviour.  When Unified Dashboard is connected, and Google Analytics account/property does not have any goals. There's a message `Analytics data is not yet available, please check back later` for the Goals data, even the Analytics data is appearing on other wi

[2022-01-06 10:11] aaemnnosttv commented on #4481
Thanks @asvinb, this is very close but I realized there was an important detail missing in the ACs which I've added now regarding permissions. Apologies for that!

Also, I just opened #4620 which is what will be responsible for updating the module ownership when these settings are updated. This doesn't change anything for the IB here but I'm going to mark this issue as blocked by #4620 as the `new

[2022-01-06 11:06] wpdarren commented on #4376
### QA Update: ✅

**Verified:**

- Tested the current setup flow without the `serviceSetupV2` feature flag enabled.
- Went through the set up on a fresh site and also new Google account.
- No issues occurred while setting up Site Kit or while connecting the modules.
- Went through the set up on a site which had been verified.
- No issues occurred while setting up Site Kit or while connecting the m

[2022-01-06 11:36] wpdarren commented on #4427
@kuasha420

Sure, I will add that this is inconsistent but the issue still occurs.

As you can see from the screencast, in the network tab, I started typed the letter `w` and that was status 200, and as I typed `o` the status changed to canceled, but then changes to status 200.  In the console the same error message appears.

`react_devtools_backend.js:4045 Google Site Kit API Error method:GET dat

[2022-01-06 13:23] henrywright commented on #4619
there are many binaries in the wild that aren't generated for ARM architecture. my lazy solution was to change computer. sorry if this doesn't help

[2022-01-06 14:13] wpdarren commented on #4480
### QA Update: ✅

**Verified:**

When `dashboardSharing` is enabled:

- As an administrator I have an array of four roles, `Administrator`, `Editor`, `Author`, and `Contributor`.

When `dashboardSharing` is disabled:

- I get undefined as a value of the property.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/148395905-a9d8e647-845c-4ef9-b35

[2022-01-06 14:19] kuasha420 commented on #2273
QA: :heavy_check_mark:

* Went through the code to make sure everything is right.
* Tested most of the UI elements where changes were made and couldn't find any visual or behavioral difference.
* The special cases also looks and behaves correctly.

Sending this to `Approval`. If I missed anything, I'm sure it will be caught in the smoke testing. On that note, @aaemnnosttv, when you prepare the nex

[2022-01-06 15:37] aaemnnosttv commented on #4476
IB ✅

[2022-01-06 15:42] tofumatt commented on #4427
I see the issue and it might be that we need some kind of `onClickOutside` handler or something. I'm going to investigate this and see if there's anything in the ComboBox code that will allow it or if we need to change things around to get the events to fire in the order we want.

The setTimeout solution won't work as it causes "click-and-hold" events not to function, plus causes a reasonable dela

[2022-01-06 16:34] kuasha420 commented on #4427
@tofumatt Thanks a bunch for looking into it! <3

[2022-01-06 18:27] aaemnnosttv opened #4623 "Disable CSS animations in VRT"
## Feature Description

Backstop JS runs are sometimes failing due to what seems to be a race condition with CSS animation (e.g. hovering a button). Since CSS animations aren't relevant in VRT, we should disable them to avoid the potential for such conflicts.

We already do this in E2E tests using a plugin borrowed from Gutenberg, but it's essentially a single line of CSS added to the page to over

[2022-01-06 22:14] andyblackwell commented on #2054
Why would you forcibly disable the ability to develop/debug on a non-prod environment?

https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/
we've used a setup like this ^ to use the non-production auth flow to allow this to work for development purposes

[2022-01-07 06:36] mohitwp commented on #4490
Hi @kuasha420

**Issue 1:** Whenever user visits Site Kit Dashboard page and clicks on the last chip, then user gets navigate to one widget placed before the last widget. It happens only one time after visiting the page, after that if user clicks again on chips then navigation works fine.
**Issue 2:** After user clicks on monetization chip and navigates to monetization widget. If that time PSI dat

[2022-01-07 10:24] aaemnnosttv commented on #2054
@andyblackwell This issue was about preventing service tags from being placed in non-production environments  while allowing Site Kit's dashboards to still work. I think it could be useful to allow this to be overridden without requiring the environment type to change.

Would you please elaborate on your situation?

[2022-01-07 10:38] wpdarren opened #4625 "Unable to Create new Analytics account in specific scenario"
## Bug Description

Odd behaviour when you try and create a new Google Analytics account on a site that previously had Analytics set up with another account.  When you create a new account you are sent into a loop, and are unable to get to the
Google Analytics Terms of Service Agreement page.

This only applies when you disconnect Analytics and then at a later try and create a new account on the s

[2022-01-07 10:55] aaemnnosttv commented on #4311
@hussain-t regarding the QAB, this issue is not specific to an existing tag case (at least for the "Checking tags" indicator). Tags are checked both for an existing tag but also any time the user chooses a specific container under normal circumstances.

Would you please update the QAB to clarify?

[2022-01-07 12:27] asvinb commented on #4481
Sounds good @aaemnnosttv . IB updated to include more details about the `permission_callback` key.

[2022-01-07 12:48] aaemnnosttv opened #4627 "Remove AdSense functionality related to tag permission checks"
## Feature Description

The functionality around existing tag checks for AdSense is being simplified along with other modules. Compared to the other modules, the behavior for AdSense is the simplest regarding existing tags.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following selectors and rel

[2022-01-07 12:57] wpdarren commented on #4311
### QA Update: ⚠️

@hussain-t this is looking good but have an observation when editing tag manager settings. I refresh the page, and do not see the `Checking tags` text along with the small ProgressBar. I know you said that you might only see it the first time, but I've not seen it appear at all.  I've set throttling to slow 3G, but nothing appears.  Any thoughts?

https://user-images.githubuserc

[2022-01-07 13:03] hussain-t commented on #4311
@wpdarren the `TagCheckProgress` component (i.e. the loading animation) renders only when the container data is loading. Even I tried multiple times and I happened to notice only once.

Any thoughts or steps to reproduce it in the settings page @aaemnnosttv?

[2022-01-07 13:13] aaemnnosttv commented on #4481
Thanks @asvinb ! There was another detail added at the same time about the updating of the settings related to capabilities (see the part about `googlesitekit_manage_module_sharing_options`), then this should be good to go.

[2022-01-07 13:45] aaemnnosttv commented on #4311
@wpdarren – in this case, because the container it is checking the tags for is known during the initial load (ie it's initially set via settings), the check may finish before the main loader is done so it appears as though it doesn't happen, but it just starts earlier. This actually only happens if there is no existing tag because it takes extra time to determine the account ID if there is an exis

[2022-01-07 13:55] jimmymadon commented on #4428
@Pratheep-lab Thanks for the feedback. I have changed the font for the Page text and equalised the spacing as you suggested. This is how the header looks now:

<img width="379" alt="2022-01-07_mobile" src="https://user-images.githubusercontent.com/1721319/148553654-10c6d54b-0562-40ea-9e78-d2f90fb92838.png">
<img width="1322" alt="2022-01-07_desktop" src="https://user-images.githubusercontent.com/1

[2022-01-07 14:03] asvinb commented on #4481
@aaemnnosttv IB updated.

[2022-01-07 16:39] techanvil commented on #3160
Thanks @aaemnnosttv - I think then, we can simply remove `Authentication::get_authentication_oauth_error_notice`. I've updated the IB accordingly.

[2022-01-07 18:19] aaemnnosttv opened #4628 "Add health check for Site Kit service connectivity"
## Feature Description

Currently, Site Kit performs a number of compatibility checks before the user is sent along to perform the initial set up in order to flag potential problems early and point users in the right direction with the support team.

One such check is to test general connectivity with Google APIs (using the Search Console API in particular). While the user does not have credential

[2022-01-07 18:22] aaemnnosttv commented on #4628
@felixarntz we can implement the client side here or in a small follow-up issue, whichever you'd prefer.

[2022-01-10 08:27] wpdarren commented on #4311
QA Update: ✅

**Verified:**

- With GTM code manually added. The new loading animation appears with the text Checking tags, along with the small ProgressBar while the container is loading data. Please refer to the screenshot attached in the PR description.
- With GTM added via Site Kit the same loading behaviour appears without an existing tag.
- With GTM code manually added. When I go to edit Tag

[2022-01-10 08:33] aaemnnosttv commented on #4481
IB ✅

[2022-01-10 10:02] aaemnnosttv commented on #603
Thanks @techanvil!

It uses one of those files yes, but in the absence of either it will create a default ignore to ensure a few sensible defaults are excluded. If we take the approach of sourcing the files from the release zip, there's really nothing to ignore other than the zip file itself, but that could be simply deleted after extracting so in our case I don't think we need to cater for any ig

[2022-01-10 12:19] jimmymadon commented on #4428
@felixarntz Just wanted to get your approval on the above minor font and font-size changes as well as removing the protocol/www when shortening URLs [as shown in this comment.](https://github.com/google/site-kit-wp/issues/4428#issuecomment-1005833739) Thanks!

[2022-01-10 15:46] aaemnnosttv opened #4631 "Expose initial dashboard sharing settings to client"
## Feature Description

Building on the script data scaffolded in https://github.com/google/site-kit-wp/issues/4473, the dashboard sharing settings should be provided on this object as well.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The [`googlesitekit-dashboard-sharing-data` script data](https:/

[2022-01-10 17:27] gabrielstuff commented on #281
Hello, As https://github.com/google/site-kit-wp/issues/325 is now closed, can we assume that it is working now ?
I didn't find any documentation about setting up multi-domain tracking.

Thanks

[2022-01-10 17:44] constgen commented on #3255
Can you share with video again please? How it was fixed?

[2022-01-10 18:01] kuasha420 commented on #4490
@mohitwp I can reproduce issue 1 but not sure why it's happening. Maybe @aaemnnosttv can have a look.

Issue 2 seems out of scope for this one, but we should definitely try to fix it if possible. It would probably be better creating a seperate issue. @jimmymadon  also mentioned something related to it that's affecting another issue.

@aaemnnosttv assigning it to you to decide on my above observati

[2022-01-10 18:02] jamesozzie commented on #3255
@constgen There is no action required for users who previously encountered this error, with the fix incorporated into the plugin as of version 1.36.0.

If you're encountering similar errors or unusual behavior specific to Safari feel free to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the WordPress support forums and we'd be happy to assist.

[2022-01-10 18:39] aaemnnosttv commented on #4631
IB ✅

[2022-01-10 18:54] aaemnnosttv commented on #603
Thanks @techanvil,

Uploading the zips is somewhat outside, so not necessary to do here, but if it isn't much trouble, we do have an issue for it that could be closed if it's easier or more beneficial to do here. I think it would be good to keep a permanent reference to the exact code that was deployed to WP .org. That way we could also ensure the two match if needed.

I was referring to the [Requ

[2022-01-10 19:45] eugene-manuilov commented on #4478
@aaemnnosttv is there a typo in this criteria? How can we return `{ access: false }` and an error at the same time? If we return a WP error, then the response schema will inconsistent with the one that is returned when the user has access.

@asvinb I think we should check whether the current user can set up the plugin by checking the `Permissions::SETUP` capability.

[2022-01-10 20:00] eugene-manuilov commented on #4623
IB :heavy_check_mark:

[2022-01-10 22:52] kuasha420 commented on #4529
@aaemnnosttv I would like to have a few clarification on this one:

* For `core/user/data/*` routes, should both `GET` and `POST` routes be available to the `googlesitekit_view_shared_dashboard` users or just `GET`?
    * By the namespace, you meant all the roues that start with that, right? I have found the following scattered through various classes. am I missing any?
        * `GET:core/user/da

[2022-01-11 06:47] aaemnnosttv opened #4633 "Release 1.49.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-01-11 08:10] aaemnnosttv commented on #4410
@jimmymadon thanks for the information about the sizes of the loading states vs the loaded state. I think this is worth revisiting and adjusting (perhaps even before the launch of the UD) but IMO the problem here is not really solvable by updating the size of the loaders alone because not all widgets have predictable heights as you pointed out. One solution might be to update widgets to always hav

[2022-01-11 08:20] aaemnnosttv commented on #4490
@kuasha420 @mohitwp I don't quite understand the issue here. It sounds very similar to # 2 but I could use some clarification 😄

@kuasha420 # This would be fixed by the approach outlined in #4634, but this is still just a proposal.

[2022-01-11 08:28] aaemnnosttv commented on #4478
@eugene-manuilov yes, sorry about that. It would only return `{ access: false }` in the event that the request was able to be made but returned a 403 because they didn't have access. If it failed for any other reason, or wasn't able to be made (as in the case if the module wasn't connected), then it should return a `WP_Error` but not both.

[2022-01-11 08:39] asvinb commented on #4478
@eugene-manuilov IB updated, can you check again?

Thanks!

[2022-01-11 09:03] aaemnnosttv commented on #4529
@kuasha420 these routes are always specific to the current user so all methods should be allowed.

Yes 👍

It's hard to say but that looks complete. The easiest way is probably searching for `core/user/data` in `*.php` files but you could also look at the routes under `/wp-json/google-site-kit/v1` in the browser, or `array_keys( rest_get_server()->get_routes() )` in the CLI (i.e. `wp shell`).

Thes

[2022-01-11 10:47] wpdarren commented on #4410
@aaemnnosttv is this ready for me to run through now on #4634 build?

[2022-01-11 11:39] jamesozzie opened #4635 "Provide support for "Moving Analytics" properties for non Site Kit placed GA snippets"
## Bug Description

For non Site Kit placed Analytics snippets the plugin will auto populate and registered the correct Google Analytics account and property. If a user [moves the inserted property](https://support.google.com/analytics/answer/6370521#about&zippy=%2Cin-this-article) to another one of their GA accounts, from their Analytics settings (on the Analytics Web UI) they'll encounter the be

[2022-01-11 11:46] jamesozzie commented on #4635
As a side note changing the wording isn't an ideal solution. If a user disconnects the Analytics module with Site Kit or even resets the plugin upon reconnecting once more they're stuck in a loop, as the plugin shows the warning each time.

[Recording of experience after disconnecting](https://recordit.co/7N45GIJw1q).

![image](https://user-images.githubusercontent.com/41326532/148936670-18728ad2-

[2022-01-11 12:50] aaemnnosttv opened #4637 "Refactor filterable dashboard notifications and remove `@wordpress/components`"
## Feature Description

While upgrading another dependency, @techanvil brought it to my attention that we currently only have a single use of `@wordpress/components`, the legacy `DashboardNotifications` component which uses `withFilters` https://github.com/google/site-kit-wp/blob/b7074059c8a89d5f40bb5deea468e4bd658b6ea9/assets/js/components/dashboard/dashboard-notifications.js#L22-L36

This filter

[2022-01-11 12:52] aaemnnosttv commented on #4410
@wpdarren please give it a brief testing, it's still only a proof of concept for my proposal.

[2022-01-11 13:55] kuasha420 commented on #4529
@aaemnnosttv one more question, for `core/user/data/survey-(trigger|event)` routes, we are currently checking if the user is authenticated and using proxy. For dashboard sharing, Do we check if the user is using proxy in addition to the new capability or just having the capability is enough? Sorry, still not fully versed on the proxy and it's significance.

Sending the IB for review.

[2022-01-11 15:05] eugene-manuilov commented on #4478
IB :heavy_check_mark:

[2022-01-11 16:18] midigitalsolution opened #4638 "Site Kit blocking wp-login via Installatron"
Good morning,

We have numerous sites using GoogleSiteKit.  Typically our devs login serverside via installatron.
 As of last night Site Kit seems to be effecting (blocking) wp-login via installatron.  Strangely enough credentials are still being passed to wp so as a work around you mod the url

https://examplesite.com/deleteme.ssoacc17a0884f2472997e340f314161307.php?7a7b7c76d705add81552823932e38f

[2022-01-11 17:07] asvinb commented on #4502
@aaemnnosttv The changes look good. I tested and everything works fine. Assigning ticket back to you to review and merge.

[2022-01-11 17:14] techanvil commented on #603
Thanks @aaemnnosttv. After an initial look I've decided to leave the release related stuff out of this ticket, it looks like it'll require enough work to merit its own issue.

I've updated the IB to follow the other points, notably, a dedicated workflow which is manually triggered and also access controlled via an environment, building the release zip via a common action, and updating SVN via `act

[2022-01-11 17:22] aaemnnosttv commented on #4490
After reviewing with @kuasha420, both issues flagged in QA would be fixed by #4634 by changing the way `inView` state is set. The scrolling added in this issue works fine, the problem is related to sections becoming "activated" as they are scrolled past, which moves the target being scrolled to.

IMO this works as intended and working around the loading state shifts is probably out of scope here,

[2022-01-11 18:12] jamesozzie commented on #4638
Thanks for reaching out @midigitalsolution. When logging into a standard WordPress sites there are no HTTP requests send to the Site Kit service during a typical log in. We therefore may need to check this with a similar setup to your own. With that can you share the following:
- Is this occurring with each site your devs are accessing via installatron?
- Can you confirm there are no issues loggin

[2022-01-11 18:16] eugene-manuilov commented on #4410
@aaemnnosttv another alternative would be changing the styles of list/table-style widgets to have the `max-height` property for the widget body and to show a tiny vertical scrollbar if the content, in the widget body, overflows the allowed height. :thinking:

In this case, we will always have a constant height of all widgets and will have no issues with layout shifts.

[2022-01-11 18:53] eugene-manuilov commented on #4453
Thanks, @kuasha420. IB almost looks good to me. One thing that is missing there is that we also need to update styles for the `.googlesitekit-entity-header` element as well. Could you please add it?

[2022-01-11 19:02] jamesozzie commented on #4638
I can confirm the same issue occurs on a support testing site.

- No issue with Site Kit temporarily deactivated
- The issue occurs as soon as Site Kit activated (no need to set up the plugin)
- [Internal testing task](https://app.asana.com/0/1185360131189553/1201645199846628/f)

To recreate this issue:
- Install a WordPress site using Installatron
- Click on the wp-admin link provided within the

[2022-01-11 19:33] eugene-manuilov commented on #4453
IB :heavy_check_mark:

[2022-01-11 19:36] midigitalsolution commented on #4638
Thank you jamesozzie :-) We really appreciate you looking into this and are looking forward to further review / response. Thanks again

[2022-01-12 04:13] hussain-t commented on #4489
@wpdarren my changes in #4571 fix this issue. You can verify it by switching to `bug/4571-hide-search-funnel-blue-cta` branch or once it gets merged.

<img width="1138" alt="Screenshot 2022-01-12 at 9 41 36 AM" src="https://user-images.githubusercontent.com/24408261/149062654-d6681ae6-6303-430c-8f81-e35c522f7299.png">

[2022-01-12 08:27] aaemnnosttv commented on #4410
@eugene-manuilov yes, I mentioned that as well but this would require more attention per-widget I think as I'm not sure we'd be able to have one rule that we could apply to all widgets.

[2022-01-12 09:52] asvinb commented on #4525
@aaemnnosttv I've added the IB however I have a couple of questions:

- When registering the screens, we already have the `capability` key. Shall we leave it as is and then check for additional permissions within the function for `initialize_callback`?
- In the AC, it's mentioned: "if the user does not have permission to view the shared dashboard wp_die with the following error message:" In the `i

[2022-01-12 10:12] jamesozzie commented on #4638
No problem @midigitalsolution.

In my case after performing a sync on a test site the wp-admin link [does work](https://recordit.co/0WJ23IdxpO). Can you perform a sync on your side and check whether this allows you to proceed? You [don't need to perform a backup](https://i.imgur.com/NvcoRzY.png) before syncing, where requested.

We'll continue performing other checks on this in the meantime.

[2022-01-12 10:20] kuasha420 commented on #4476
QA: :heavy_check_mark:

* Code does satisfy the AC.
* Everything is working and no regression has been spotted on `develop` while setting up and deactivating the `PageSpeed Insights` and `Idea Hub` modules.
* Newly added and existing unit tests pass.

Sending this to approval.

[2022-01-12 10:34] felixarntz commented on #4109
Closing as _maybelater_

[2022-01-12 10:34] #4109 closed

[2022-01-12 10:43] aaemnnosttv commented on #4529
Great question. @felixarntz – should we require authentication in the permission check for the route or should we handle this in the route handler? Practically speaking, this should never be requested anyways due to changes we'll make in the action, but we should still account for it here as well I think.

[2022-01-12 10:50] felixarntz commented on #4628
@aaemnnosttv I wonder whether the base URL is an appropriate indicator though. The base URL is technically the Site Kit website, which is static HTML that may behave differently from the actual proxy pages. It may be better to request one of the proxy pages - although most of those require certain parameters to be passed so it wouldn't be as trivial. What do you think?

[2022-01-12 11:14] techanvil commented on #4427
I've taken a look at this in @tofumatt's absence. Looking at the `ComboBox` code, it doesn't provide any obvious way to implement an `onClickOutside` handler.

I'd suggest the following approach, with a nod to `ComboBox`'s own [`handleBlur`](https://github.com/reach/reach-ui/blob/07d815040f95d192225bac7fff2432fb26f7f90b/packages/combobox/src/index.tsx#L1186) function which makes use of `event.rela

[2022-01-12 11:16] aaemnnosttv commented on #4628
@felixarntz from recent related support topics, [a head request to the base URL was sufficient to confirm](https://wordpress.org/support/topic/site-kit-stopped-working-google_api_connection_fail/) if the site was blocked as this should really only be possible before the request reaches the application side of things on the service. If it can do that, then it can connect 😄

I initially thought abou

[2022-01-12 11:19] aaemnnosttv commented on #4427
Thanks @techanvil ! This looks reasonable to me; nice work! Would you please open a PR to and from `main` with this change?

[2022-01-12 11:21] techanvil commented on #4427
Thanks @aaemnnosttv, will do!

[2022-01-12 11:33] felixarntz commented on #4628
@aaemnnosttv Okay that makes sense. In that case, let's go with the ACs as they are. I've added proposed copy for the message, which is similar to the existing message _Looks like your site is having a technical issue with requesting data from Google services_.

@bethanylang Can you have a quick check of the message defined in the ACs whether that's good to move forward with from your perspective?

[2022-01-12 11:37] techanvil commented on #4427
PR created :point_up: :+1:

[2022-01-12 11:50] felixarntz commented on #4490
@aaemnnosttv @kuasha420 @mohitwp I agree that, while this is not the experience we want, fixing this falls more under #4410.

However, while this comes way too late, I'm just seeing now that this issue has moved forward and I'm not actually sure about it. We had discussed this during the bug bash and didn't think we had come to a conclusion. My concern is the extra whitespace at the bottom which @

[2022-01-12 11:58] felixarntz commented on #4410
@aaemnnosttv Let's try the approach that you started in his #4634 PR. I agree though that makes more sense to be done in a separate follow-up issue - can you open one for that and add ACs please? We should then prioritize this for the next sprint and fix it before the rollout.

@wpdarren If everyone agrees with the above, I think we can let the issues you discovered here slip over to the new issue

[2022-01-12 11:58] techanvil commented on #4427
Hi @wpdarren - I've addressed the 2nd point you raised, where clicking on a search result wasn't doing anything.

Regarding your first point relating to the console error and "no results" message, I would suggest raising a separate issue for this, as it's not related to the unfocus behaviour addressed in this ticket, and it doesn't look like something that would have been introduced by the changes

[2022-01-12 12:04] wpdarren commented on #4489
### QA Update: ✅

**Verified:**

- The Goals section in the SearchFunnelWidget has a CTA instead of displaying 0 when Unified Dashboard is enabled.
- The CTA text is correct and the CREATE A NEW GOAL link in the CTA navigates to the create analytics goals page.

<img width="1523" alt="cta" src="https://user-images.githubusercontent.com/73545194/149137051-a7a93063-e2f2-4fab-97d4-1232c2d66ff2.png">

[2022-01-12 12:15] wpdarren commented on #4570
### QA Update: ❌

@techanvil a few observations:

1. The external link icon does not appear on Adsense source link.
2. The Adsense source link doesn't open in a new window like the other source links.

![image](https://user-images.githubusercontent.com/73545194/149130100-c736ce5d-dccd-4373-acd3-36b09515ebb6.png)

[2022-01-12 12:15] aaemnnosttv commented on #4628
Thanks @felixarntz, those LGTM 👍

[2022-01-12 12:27] felixarntz commented on #4428
@jimmymadon I think this mostly makes sense, I only have two other remarks:
* The "Back to dashboard" text is 14px on very small viewports, but then 16px elsewhere. That makes sense to me. However, the page title is always 14px, even on those larger viewports. I think it would make more sense if those two had the same size throughout, also since we don't have anything I believe that uses 14px size

[2022-01-12 12:38] aaemnnosttv opened #4641 "Prevent layout shifts when jumping between sections on the unified dashboard"
## Feature Description

As recent QA reviews have pointed out, there are some problematic side effects that come with using `useInViewSelect`, particularly when scrolling through/past multiple sections. This has the potential to cause lazy-loaded sections to be active as the user is scrolling past them when jump-scrolling to a lower section using the navigation or even landing on the page with a s

[2022-01-12 12:40] aaemnnosttv commented on #4410
@felixarntz 👍 see #4641

[2022-01-12 12:43] eugene-manuilov commented on #4488
@hussain-t did you push your changes? I see there is nothing has changed since my last review.

[2022-01-12 12:47] hussain-t commented on #4488
@eugene-manuilov I just pushed the changes.

[2022-01-12 12:52] felixarntz commented on #4529
@aaemnnosttv We should ensure that the survey-related endpoints still cannot be used unless authenticated. It's a bit of a flaw right now that we don't check that there, since it's not sufficient to know whether the user _can_ authenticate.

Since (at least so far) we're not going to have surveys for unauthenticated users, I'd prefer if we didn't change the capability on these endpoints and left t

[2022-01-12 13:13] wpdarren opened #4642 "TypeError: Cannot read properties of undefined on Dashboard with AdSense connected"
## Bug Description

There's an error appearing when you select a date period, i.e 7 days on the dashboard.   The error is: `TypeError: Cannot read properties of undefined (reading 'headers') at DashboardSummaryWidget (googlesitekit-modules-adsense-afcb238cbbb8f1246e96.js:81:7294)`

![error.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/b6132fdf-bde7-427c-a7af-057ede4f63de)

A f

[2022-01-12 13:13] midigitalsolution commented on #4638
Excellent - Good job!  That appears to be the Silver Bullet.  Issue Resolved.  Thank you SK team.

[2022-01-12 13:15] felixarntz commented on #4641
@aaemnnosttv ACs LGTM!

[2022-01-12 13:15] felixarntz commented on #4410
@aaemnnosttv Yes, let's move back to QA then. cc @wpdarren See the above comment.

[2022-01-12 13:18] jimmymadon commented on #4428
@felixarntz I like both those suggestions. Will make the requested changes.

[2022-01-12 13:34] Pratheep-lab commented on #4428
Yes, both sound good to me. Happy to review the screenshots @jimmymadon

[2022-01-12 13:36] mohitwp commented on #3525
### QA update :warning:

@aaemnnosttv

I found two differences -

**1.** In Icons folder "keyboard-backspace.svg" doesn't have` currentColor` class.
   https://github.com/google/site-kit-wp/blob/develop/assets/svg/icons/keyboard-backspace.svg?short_path=7047527

**2.** In Icons folder, I found 4 additional icons which are not mentioned in the IB. These icons are -

- nav-content-icon.svg
- nav-mon

[2022-01-12 13:38] felixarntz commented on #2044
@eugene-manuilov IB mostly LGTM, a few comments:

Per a recent change on the proxy, it will now also provide a simple `Redirect-To` header with the same content, so that we don't need to use the `AMP-Redirect-To` header here, which would be a bit odd. I've updated this in the ACs and your IB already.

While this works, I think it would be potentially wasteful to first read and JSON-decode the body

[2022-01-12 14:12] tofumatt commented on #4427
Oh, yes, agreed on the second point. That seems like an unrelated issue. 👍🏻

[2022-01-12 14:24] felixarntz commented on #3160
@techanvil IB ✅  Just one tiny thing: Let's rename `redoProxySetupUrl` in a way that it is clear that this belongs with `setupErrorMessage` - for example `setupErrorRedoURL` or something like that. If you agree, can you update the IB like this? Then feel free to move to _Execution Backlog_ right away.

[2022-01-12 14:26] felixarntz commented on #4479
@aaemnnosttv Agreed - I see #4525 already is in IB review anyway. Feel free to close this issue then.

[2022-01-12 14:35] wpdarren commented on #4571
### QA Update: ❌

@hussain-t @aaemnnosttv I would like some clarification on the last point of the QAB:

I have a scenario where there is either zero data or actual data in search console, but the `SearchFunnelWidget` (Search traffic over the last 28 days) is not appearing when Analytics is connected and gathering data. I would have expected to see the Search Console data and a gathering data box

[2022-01-12 14:46] techanvil commented on #3160
Thanks @felixarntz, that sounds sensible. I have renamed it to `setupErrorRedoURL` (and related `getSetupErrorRedoURL`) as suggested, and moved this over to _Execution Backlog_.

[2022-01-12 15:05] wpdarren commented on #4427
### QA Update: ⚠️

@techanvil I have one observation.

Upon unfocus, the new term should get replaced with current entity title and suggestions should disappear.

When I put my cursor into the URL search input field, the current entity title is not deleted, and to replace it, I have to delete it before typing in a new term.  It's not good UX in my opinion. Should this be a new ticket too?

**Verif

[2022-01-12 15:21] wpdarren commented on #4427
### QA Update: ✅

**Verified:**

_With unifiedDashboard flag enabled:_

On Main Dashboard: when typing a term, and without selecting anything, I unfocus by clicking outside the search bar and/or using ESC key, the term is cleared from the search input field.

On Entity Dashboard:  when typing a term, replacing the current entity title that is auto populated.
Upon unfocus, the new term gets replace

[2022-01-12 15:26] jamesozzie commented on #4638
@midigitalsolution Glad to hear it, thanks for the update. Note that the fix may not necessarily be from performing a sync. It's possible this may have been a temporary issue. From testing new installs on a separate domain today I don't encounter the same.

I'll also close this issue given that there doesn't seem to be any action required on the plugin side. If however you run into any further err

[2022-01-12 15:26] #4638 closed

[2022-01-12 16:38] jimmymadon commented on #4428
On desktop:
<img width="1741" alt="Desktop" src="https://user-images.githubusercontent.com/1721319/149182622-cf98f19a-e70f-4902-9b99-519fd784073a.png">

On mobile:
<img width="488" alt="Mobile" src="https://user-images.githubusercontent.com/1721319/149182634-8f2313d2-250b-4db5-9be8-6397b4527a4f.png">