[2019-07-14 23:27] bjackson27 opened #248 "Core Site Kit Functionality | Plugin activation"
## Bug Description

Set up e2e testing for, Core Site Kit Functionality, for Plugin activation (note was perviously set up with WP Assure here: https://gitlab.10up.com/google/google-site-kit-tests/merge_requests/1 )

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Tests plugin activation flow including

[2019-07-14 23:29] bjackson27 opened #249 "Core Site Kit Functionality | Client ID/Secret entry"
Set up testing for Core Site Kit Functionality, Client ID/Secret entry. Note this was perviously set up with WP Assure here: https://gitlab.10up.com/google/google-site-kit-tests/merge_requests/1

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N

[2019-07-14 23:31] bjackson27 opened #250 "Setup & Authorization Flow | Admin"
Set up Core Site Kit Functionality, Authorization flow. Note this was already started with WP Assure here: https://gitlab.10up.com/google/google-site-kit-tests/merge_requests/1

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

From a post-reset state:
* Go to Site Kit splash page
* Fill in client configura

[2019-07-14 23:33] bjackson27 opened #251 "Setup & Authorization Flow: Test Site Verification"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

This issue should expand on the existing test made in #250, covering the Site Verification.

* Instead of faking the `googlesitekit_site_verified_meta` user option to be already set after coming back from the authentication, the flow should actually be teste

[2019-07-14 23:34] bjackson27 opened #252 "Core Site Kit Functionality | Disconnect User from Site Kit"
Set up Core Site Kit Functionality, Disconnect User from Site Kit.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User clicks "Disconnect" (drop-down from user's Google account)
    * user will see a warning ("Disconnecting Site Kit by Google will remove your access to all services. After disconnectin

[2019-07-14 23:37] bjackson27 opened #253 "Test accessing WordPress Dashboard"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* After plugin is set up, in the Dashboard:
* From SC, the dashboard should show total clicks and total impressions for the site for the past 28 days.
* If the user hasn't set up GA yet, show CTA with link to the start of the GA setup process.
* If the user

[2019-07-14 23:38] bjackson27 opened #254 "Test accessing WordPress Admin Bar - from front end & wp-admin"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Test that Site Kit admin bar menu (G) shows when logged in as admin visiting single post with Search Console stats in frontend
* Test that Site Kit admin bar menu (G) shows when logged in as admin editing single post with Search Console stats in editor
* W

[2019-07-14 23:39] bjackson27 opened #255 "Test Key User Flows for Admin | Admin 2 WP Admin Bar - From dashboard"
Set up Test Key User Flows for Admin | Admin 2 WP Admin Bar - From dashboard
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin | Admin 2 WP Admin Bar - From dashboard

[2019-07-14 23:39] bjackson27 opened #256 "Authorization Flow | Editor"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* This must be an alternate scenario for the E2E test from #250, #251, and #360. As such, it is blocked by these to be completed first.
* Editor goes to Site Kit splash page and sees the splash screen "Welcome to Site Kit", with product information.
* User c

[2019-07-14 23:40] bjackson27 opened #257 "Test Key User Flows for Admin | Editor WP Dashboard"
Set up Test Key User Flows for Admin|Editor WP Dashboard
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin|Editor WP Dashboard

[2019-07-14 23:41] bjackson27 opened #258 "Test Key User Flows for Admin |Editor WP Admin Bar- From front end"
Set up Test Key User Flows for Admin |Editor WP Admin Bar- From front end

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin |Editor WP Admin Bar- From front end

[2019-07-14 23:42] bjackson27 opened #259 "Test Key User Flows for Admin | Editor WP Admin Bar - From dashboard"
Set up Test Key User Flows for Admin|Editor WP Admin Bar - From dashboard

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin|Editor WP Admin Bar - From dashboard

[2019-07-14 23:43] bjackson27 opened #260 "Authorization Flow | Author + Contributor"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* This should probably expand on the existing test from #256.
* The flow for an Author or Contributor is entirely similar to the one for an Editor.
* The only difference is that, after coming back from Google OAuth, they must land on the splash screen instea

[2019-07-14 23:43] bjackson27 opened #261 "Test Key User Flows for Admin | Contributor WP Dashboard"
St up Test Key User Flows for Admin | Contributor WP Dashboard

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin | Contributor WP Dashboard

[2019-07-14 23:44] bjackson27 opened #262 "Test Key User Flows for Admin| Contributor WP Admin Bar - From front end"
Set up Test Key User Flows for Admin| Contributor WP Admin Bar  - From front end

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin| Contributor WP Admin Bar  - From front end

[2019-07-14 23:45] bjackson27 opened #263 "Test Key User Flows for Admin| Contributor WP Admin Bar - From dashboard"
Set up Test Key User Flows for Admin| Contributor WP Admin Bar - From dashboard

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Test Key User Flows for Admin| Contributor WP Admin Bar - From dashboard

[2019-07-14 23:46] bjackson27 opened #264 "Site Kit Dashboard Tests | Date range filter"
Set up Site Kit Dashboard Tests | Date range filter

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Dashboard: Test user selecting different date range causes stats across the page to update accordingly
    * when user switches back to date range from before, same data like before shows up
    * includ

[2019-07-14 23:47] bjackson27 opened #265 "Site Kit Dashboard Tests | Dashboard Search"
Set up Site Kit Dashboard Tests | Dashboard Search

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
* Test dashboard post search with title that matches multiple, post titles should be displayed in dropdown
    * user clicks on one of them, then on "View data", is taken to detailed page stats dashboard for

[2019-07-14 23:49] bjackson27 opened #266 "Basic Module Tests | Search Console (dashboard testing only)"
Set up Basic Module Tests | Search Console (dashboard testing only)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* Basic Module Tests | Search Console (dashboard testing only)

[2019-07-14 23:50] bjackson27 opened #267 "Module Setup Flow | Tag Manager"
Module Setup Flow | Tag Manager
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
_Note: these ACs describe how the existing flow should be tested. Once important improvements to the flow are made (cf #433), the test should be adjusted to account for these as well._

**Case 1: There is no associated tag mana

[2019-07-14 23:50] bjackson27 opened #268 "Module Setup Flow | Optimize"
Module Setup Flow | Optimize

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria
_Note: these ACs describe how the existing flow should be tested. Once improvements to the flow are made, the test should be adjusted to account for these as well._

Once the user clicks "set up Optimize" from the Settings page:

[2019-07-14 23:51] bjackson27 opened #269 "Module Setup Flow | AdSense: Existing user, no code on site"
See https://docs.google.com/drawings/d/1OVlWdKgMNOjcE-btT5fJoO2FLq9E5C5rxnEj9rHeiM0/edit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User clicks “connect service” for AdSense
* Requested to grant AdSense API scopes → yes
* Check if they have an account → account is detected and is already approved,

[2019-07-14 23:52] bjackson27 opened #270 "Basic Module Tests | Analytics - PageSpeed Insights: API key entry when PSI active"
Set up Basic Module Tests | Analytics - PageSpeed Insights: API key entry when PSI active

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* N/A

[2019-07-14 23:53] bjackson27 opened #271 "Module Setup Flow | AdSense: Different test user accounts"
Set up AdSense activation with each of the (10) test user accounts (one for each status):

| AdSense Status            | State         |
|---                        | ---           |
| `noAdSenseAccount`        | No account.    |
| `disapprovedAccount`      | There is an AdSense account, it is disapproved, suspended, terminated etc. |
| `disapprovedAccount`      | There is an AdSense account, but

[2019-07-14 23:55] bjackson27 opened #272 "Module Setup Flow | AdSense: New user"
See https://docs.google.com/drawings/d/1C9Y6ETjXgZOZVSNc4TDq-C7iHdVlZYCkOaoaUSpDtDw/edit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User clicks “connect service” for AdSense module
* Requested to grant AdSense API scopes → yes
* Check if they have an AdSense account → no AdSense account is detecte

[2019-07-14 23:57] bjackson27 opened #273 "Core Site Kit Functionality | Reset Site Kit"
Set up Site Kit Settings | Reset Site Kit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Test that when the user clicks "Reset Site Kit" (link at the bottom left of the Admin settings), all Site Kit services are disconnected for all users,
* Test that any codes that were placed are removed.
* Test tha

[2019-07-14 23:58] bjackson27 opened #274 "Site Kit Settings | Settings-> Admin: opt in/out to tracking"
Set up Site Kit Settings | Settings-> Admin: opt in/out to tracking

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* N/A

[2019-07-14 23:58] bjackson27 opened #275 "Site Kit Settings | Reset Site Kit"
Set up Site Kit Settings | Reset Site Kit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* n/a

## Implementation Brief

* n/a

## Changelog entry

* N/A

[2019-07-15 03:46] seanchk commented on #234
I'm having the same problem.  SiteKit won't fetch my existing Analytics account.

[2019-07-15 08:41] felixarntz commented on #126
Implementation brief looking good.

[2019-07-15 08:51] jamesozzie commented on #230
@balusahu977 Thanks for reporting. At the screen where it displays that error message do you mind trying the following:
- In the address bar look at the full address (It should look something similar to https://developers.google.com/web/site-kit/?sitename=**yourwebsitecom**&siteurl=**http://yourwebsite.com**)
- Change your website address in both highlighted entries above, in the first entry (your

[2019-07-15 09:16] jamesozzie commented on #231
@asitaaa If the tag was placed via Site Kit then you can navigate to the Analytics settings and choose to "[Remove Snippet](https://i.imgur.com/6ppIDwZ.png)".
Site Kit > Settings > Analytics > Edit > Remove Snippet.

If there was already a tag placed then it could be a case whereby you have a plugin which was previously used to place your tag, or else a theme setting or a manual insertion method.

[2019-07-15 09:26] jamesozzie commented on #233
@asitaaa Thanks for reporting, hopefully we can assist with this. I assume you mean a new "Property" as accounts must be created from Analytics and not within Site Kit (although Site Kit does direct users to Analytics when they choose to create a new account).

When adding a new Site Kit property do you know if you had a property with the same name in your Analytics previously? If it was deleted i

[2019-07-15 09:31] felixarntz opened #276 "Add network mode support (for multisite)"
The goal of this task is to have a set of issues that, once completed, will enable Site Kit to correctly function in WordPress multisite environments (with the plugin's network mode enabled).

A (non-comprehensive) list of things to look out for:
* URLs should use `self_admin_url()` in most cases.
* All Site Kit admin screens (except "splash" for authentication) must only be available to network a

[2019-07-15 09:32] jamesozzie commented on #213
@robwent Caching plugins can cause issues during the setup stage, and yes, API request limits also.

In your case also you might have ran into problems as you were using a multi site installation. You can see [here](https://github.com/google/site-kit-wp/issues/276) more information on multi site installations, which is on the roadmap.

[2019-07-15 09:37] #142 closed

[2019-07-15 09:47] jamesozzie commented on #237
Hi John. Thanks for the input, hopefully we can assist. When you see the "Refetch My Account" notice there is a chance your verification process is incomplete. When you go back to the Site Kit dashboard do you see any other notice, such as "Issue accessing data"?

With regards your request for allowing the manual input of Analytics account codes it's not something on the roadmap, with the API impl

[2019-07-15 09:59] jamesozzie commented on #228
@IdioticDoodler @marketingconcafe Can you confirm that you have full access rights to the site being added from within [Google Search Console](https://search.google.com/search-console/users)?
Also please check that you don't have any [API Key Restrictions](https://i.imgur.com/p9c4S3M.png)

Lastly can you let me know if you have any additional Firewall or security software setup on your machine?

[2019-07-15 10:07] jamesozzie commented on #239
@KritarthHandicrafts Thanks for reporting. Do you mind trying the steps below so we can troubleshoot further?

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png)
3. Temporarily deactivate your other active WordPress plugins
4. Delete your existing Sit

[2019-07-15 10:50] lucymtc commented on #89
@felixarntz this issue is not specific to existing tag, `get-properties` is called while retrieving data inside `get-accounts` regardless of existing tag found https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics.php#L1071

I believe we still need to filter by websiteUrl in this case, although one improvement to prevent unnecessary calls to `get-properties` would be to sav

[2019-07-15 10:52] BMUZAMMIL opened #277 "Stopped after allow/allow/next - then blank page"
Stopped after I allowed/allowed and after I hit next
**This is the URL:**
https://www.qrence.com/?oauth2callback=1&code=4/hwF5krEAaSyF4y491APb-XhcSMwtoUQzDVxs-pr1JBMXBKaY9aOEhJV5Q4vFmyD9vv907r5njn3y0QcJSgmuJ9c&scope=email%20profile%20https://www.googleapis.com/auth/webmasters%20https://www.googleapis.com/auth/siteverification%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googlea

[2019-07-15 10:57] lucymtc commented on #89
@felixarntz I have updated the Implementation brief.

[2019-07-15 11:04] BMUZAMMIL commented on #277
I will wait for the full release. uninstalled the plugin.

[2019-07-15 12:06] felixarntz commented on #89
@lucymtc

As you noticed, the acceptance criteria are incorrect given your findings, so this issue needs to go back to defining acceptance criteria, rather than retrofitting acceptance criteria to another implementation brief. It would be great if you could add your findings on why it is not only relevant for an existing tag, so that @marrrmarrr can update them accordingly. Feel free to provide a

[2019-07-15 13:06] DelicateGlint commented on #24
Thank you for the help. My hosting service didn't know what to do... your tip solved my problem. Tip for anyone who has a wordpress site where the characters in the under "site title" under General---> settings are not in latin characters (for me it was in Hebrew for example) Make sure your site title is in latin character. This solved the problem for me...

[2019-07-15 13:18] lucymtc commented on #89
@marrrmarrr This issue is not specific to exiting tag found.
We are relying on the property being the first index of the properties array in these lines https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics.php#L1109-L1110
If the matching property is the second in the list of properties, views are being retrieved for the first one in the list, therefor ending up with views

[2019-07-15 13:52] SiewTin opened #278 "I am trying to create " Get Oauth Credentials" but encountered error message "field [project_id] has issue [project_id contains invalid characters]""
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-07-15 13:53] #278 closed

[2019-07-15 14:11] jamesozzie commented on #232
@ahmadawais Thanks for reporting. If you are using a security or Firewall plugin there can be limited on long URL strings, which is the likely cause.

If you are using iThemes security can you uncheck [this option](https://i.imgur.com/7OyyYyI.png) and see if it resolves the issue.

[2019-07-15 14:27] adamsilverstein commented on #157
This is looking really good. @swissspidy has e2e tests infrastructure running (along with some initial tests) in https://github.com/google/site-kit-wp/pull/163 which is approved for merge.  In that PR @wordpress/e2e-test-utils is being used to have some helper functions for things like activating plugins during tests and navigating to admin pages.

One item I see remaining from the implementation

[2019-07-15 14:28] jamesozzie commented on #244
@frankblob Thanks for raising this issue. Can you inform me of the following so we can troubleshoot further:
1. Did you have any Tag Manager implemented before Site Kit (via a plugin or manual insertion)?
2. Can you confirm you see the source code as below on your website when you are logged in and also logged out of your dashboard:
`...`

If you want to attempt disconnecting the Tag Manager modul

[2019-07-15 14:29] #220 closed

[2019-07-15 14:30] jamesozzie commented on #247
@yasserberrehail Thanks for reporting. Can you please try this workaround and let me know if you manage to get to the next stage?

- Close the "Couldn't create project" window
- In the address bar of your window paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
- Replace the yourwebsitecom and also http://yourwebsite.com with

[2019-07-15 14:30] swissspidy commented on #157
Good point. In #163 I instead opted for one single Docker Compose file, but just switch the WordPress version by using the environment variables. That makes handling easier and more consistent with the other tests.

See the Travis config here:

https://github.com/google/site-kit-wp/blob/7d29a70931313e2f02b9fb3874ed4741955c9bea/.travis.yml#L109-L117

[2019-07-15 14:34] jamesozzie commented on #241
@mamathesh This can occur if you need to re-authenticate your Analytics account but also issues can arise with conflicting plugins. Glad you were able to get it resolved.

[2019-07-15 14:34] #241 closed

[2019-07-15 14:40] jamesozzie commented on #222
@driveonby Can you confirm you have all access rights (using your Site Kit connected Google account) for that property within Search Console? You might need to re-authenticate your account if so.

[2019-07-15 14:45] swissspidy commented on #246
Sounds like a dependency conflict.

UpdraftPlus includes version 1.1.4 of the Google API PHP client, while Site Kit includes version 2.x.

[2019-07-15 14:48] adamsilverstein commented on #157
Right, that is excellent! I was confused because your implementation didn't match the wording of the acceptance criteria here.  I feel like we can adjust the acceptance criteria here to reflect what you built, if @ThierryA agrees.

Quick question: when I run these tests locally, which WordPress version will the tests run against (and is it possible to change that)?. This might be an important capa

[2019-07-15 14:49] jamesozzie commented on #240
@zeekart @bagaweb Can you check your [site settings](https://i.imgur.com/MkFLF0E.png) and confirm you have the full URL in place, including https?  Your WordPress Address (URL) and Site Address (URL) should match. If that fails to fix the error please paste any [console errors](https://i.imgur.com/f5WfLb3.png) in here.

[2019-07-15 14:53] swissspidy commented on #157
Yeah the wording was perhaps a bit too specific. The point is about being able to use different versions easily.

By default the tests use the latest version of WordPress (5.2.2 as of this writing). To change that, you can use something like that:

[code]

And if you want to install Gutenberg too:

[code]

To more easily debug the tests you can disable headless mode like this:

[code]

I'll try to

[2019-07-15 14:58] xguiboy commented on #222
@jamesozzie my problems persist,i've downloaded the app again, used  chrome, try to use the same api i'm using on the maps, without any restritions. but still [https://gspsites.com.br]. Search console works, analytics words, gtm woks, but the pagespeed not. ;(

[2019-07-15 14:59] jamesozzie commented on #242
@bburzycki Thanks for reporting. Do you mind trying the following, and using the resulting JSON response at the screen you highlighted.

1. In the browser address bar (preferably using an incognito window) visit the following:
https://developers.google.com/web/site-kit/?sitename=**yourwebsitecom**&siteurl=**http://yourwebsite.com**
2. Replace the yourwebsitecom and also http://yourwebsite.com with

[2019-07-15 15:10] jamesozzie commented on #243
@thedavemurphy Thanks for reporting. In order to troubleshoot further can provide the following:
1. From your Site Kit dashboard can you share a screenshot of what you see
2. Can you share any [console errors](https://i.imgur.com/f5WfLb3.png) you see from within your Site Kit dashboard.

[2019-07-15 15:17] jamesozzie commented on #225
@kelwin17 Thanks for letting us know.

@sliceypete Have you tried all the suggestions above? If so please inform me if you have modsecurity active or any other Firewall rules within your current web host.

[2019-07-15 15:31] jamesozzie commented on #245
@jagadeeshiba Have you added Analytics to your site previously? It's possible that Analytics was implemented via another plugin, via your active theme or by alternative implementation methods. If you want to share your site I can take a look.

@s0a0a0z @albnavper You might need to re-authenticate your Analytics account. In order to do so please first of all disconnect the Site Kit module (Site Kit

[2019-07-15 15:40] jamesozzie commented on #234
@rastarchele Can you try the following and see if you are able to connect Analytics:
1. Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Temporarily deactivate other active WordPress plugins
3. Open your WordPress admin panel in an incognito window
4. Add the Analytics module again (Site Kit > Settings > Connect more service > Analyti

[2019-07-15 15:49] jamesozzie commented on #277
@BMUZAMMIL Sorry to hear you are encountering issues. There could be a number of reasons you are see a blank page, such as security/firewall plugins or your server environment.

Please try the following steps to activate Site Kit. If unsuccessful you can reply with any console errors and we can investigate further:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure

[2019-07-15 15:57] adamsilverstein commented on #157
Perfect, thanks!

Do you know if we can use puppeteer's [slowMo](https://github.com/GoogleChrome/puppeteer#debugging-tips) feature?  I've found that useful building e2e tests in the past.

[2019-07-15 16:01] swissspidy commented on #157
Yes.

`slowMo` can be added to the `launch` section in `jest-puppeteer.config.js` if wanted. There's no env variable for it, but if desired we could adjust the config file accordingly to allow for that.

[2019-07-15 16:03] jamesozzie commented on #24
Another workaround while this is being worked on is to manually generate your credentials.

- Close the "Couldn't create project" window
- In the address bar of your window paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
- Replace the yourwebsitecom and also http://yourwebsite.com with your own site details. Include the htt

[2019-07-15 16:05] jamesozzie commented on #278
Thanks for reporting. Can you please try this workaround and let me know if you manage to get to the next stage. #24

- Close the "Couldn't create project" window
- In the address bar of your window paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
- Replace the yourwebsitecom and also http://yourwebsite.com with your own sit

[2019-07-15 16:10] Loganson commented on #232
Yes, you got it. disabled the security plugins and installed. That solved it for me.

[2019-07-15 16:10] #232 closed

[2019-07-15 16:28] albnavper commented on #245
@jamesozzie didn't work. I even tried to disconnect the entire connection.

Thank you very much.

[2019-07-15 16:43] jamesozzie commented on #245
@albnavper In order to troubleshoot further can you please try the following:

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png)
3. Temporarily deactivate your other active WordPress plugins
4. Delete your existing Site Kit [project](https://i.imgur.

[2019-07-15 16:54] SiewTin commented on #278
Hi James,

Thanks for reply and instruction.  I managed to copy to my site.
Unfortunately, I got the error message below when I tried to sign in to my
google account

.*Error: redirect_uri_mismatch*

The redirect URI in the request, https://marketingpat.com?oauth2callback=1,
does not match the ones authorized for the OAuth client. To update the
authorized redirect URIs, visit:
https://console.deve

[2019-07-15 16:58] lilybonney commented on #138
Noting (per our team discussion earlier today) that @circlecube will be confirming answers to the remaining questions (per his update above) today, and will then assign the ticket to Mariya for her to write the Acceptance Criteria.

[2019-07-15 17:14] JayHoltslander commented on #190
**Aside:** The only way I knew that this was what activating the GTM module actually does, was from stumbling across this Github issue. Going back and disabling it now to prevent double placement.

[2019-07-15 17:31] jamesozzie commented on #278
@SiewTin Can you please try the following steps:

1. Delete the newly create [project](https://i.imgur.com/EoA1edo.png) from your Google Cloud Console
2. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
3. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png), along with
4. Temporarily deactivate your other

[2019-07-15 17:52] adamsilverstein commented on #52
I QAed this ticket against develop since https://github.com/google/site-kit-wp/pull/84 is merged.

Everything looks good in my testing, moving this ticket to the "Approval" column.

I notice this ticket doesn't have acceptance criteria, perhaps because it entered the queue after the current workflow was finalized?

Proposed:

### Acceptance criteria:
* When Analytics setup is incomplete, the Dashb

[2019-07-15 18:06] adamsilverstein commented on #96
Note: I tested this on commit `a5e335a3b23f7a4342829988be9fcab279880dd2` (after the merge) since currently develop settings editing isn't working correctly.

Worked well in my testing, moving to the "Approval" column.

### Testing steps
* Configure Analytics & visit Dashboard
* open chrome debug console->Application->Local Storage - verifying browser storage cache of all dashboard data
* go to Set

[2019-07-15 18:25] TompieD opened #281 "Analytics Module: Multi domain support / polylang"
i have found that the plugin doesn't know the difference between some pages with the same permalink on another domain.
i'm using polylang plugin for multi lingual site and for example the home page on the english domain and the dutch domain are the same metrics while infact it has other clicks and impressions.
is google planning for a domain check where to get the metrics from?

[2019-07-15 18:27] circlecube commented on #138
Looking at this again I misspoke earlier regarding your question on 3.

1. ✅
2. ✅
3. Your assumption is correct. The source links link to the general subreports, the main analytics page and the main search console pages within the wordpress admin.
4. For clarification, this link is external. As is the Source: Analytics link in the footer of the "How people found this site" box (as is indicated wit

[2019-07-15 18:44] loganlucky commented on #235
Bump?

[2019-07-15 19:40] iamshaharyar commented on #277
@jamesozzie I have tried all these steps again after resetting the site kit and also disabled all plugins to check but it's still not working. Its showing up like that http://prntscr.com/offkrr

[2019-07-15 20:34] iamshaharyar commented on #243
@jamesozzie I am facing the same issue. I have tried resetting the site kit and also disabled all plugins to check but it's still not working.
1. [Site Kit dashboard](http://prntscr.com/offkrr)
2. [Console errors](http://prntscr.com/offqnt)

[2019-07-15 20:50] yasserberrehail commented on #247
It Worked perfectly !

So the problem is within website arabic title ?

[2019-07-15 21:06] ramonolivencia opened #282 "Woo Empty Cart Error Message"
## Bug Description

 I was constantly getting an error message at checkout on my site ("Your cart is empty") while using WooCommerce, particularly on the mobile version, even after adding some products to the shopping cart.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
Problem solved by GoDaddy, with this message received by email: "Deactivated ´Si

[2019-07-15 22:13] lilybonney commented on #126
@lucymtc - Could you review this one and add an estimate label ASAP? We'd like to determine whether or not this is something that could make it into this week's release (potentially replacing other tickets to do so, if needed). Thanks so much!

[2019-07-16 02:37] Eddy005 commented on #213
the same problem, no work, keep showing Re-fetch my account, even reinstall still no working

[2019-07-16 02:54] bburzycki commented on #242
Yeh this is honestly strange - it seems the services just do not confirm they are working until page reloads or days later they all of a sudden start working. An example of this is I went into the site today and all of a sudden analytics is working - thou slowly - and then I try to hook up PageSpeed - I need to enter the API key which i do then nothing it just sits there. I go away from the page a

[2019-07-16 08:14] #148 closed

[2019-07-16 08:51] jamesozzie commented on #242
@bburzycki Site Kit requires PHP 5.4 and upwards. I didn't encounter the same issue, if you want to try the below we can see if the issue arises again.

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Ensure you have the correct and matching URLs (including 'https') in your [Site Settings](https://i.imgur.com/MkFLF0E.png)
3. Temporarily deactivate your other active Wor

[2019-07-16 10:40] VinsMach opened #283 "OAuth credentials"
the return after OAuth credentials going in home. I can't conclude the installation

[2019-07-16 10:54] andizer opened #284 "Increase in visitors when lighthouse is enabled"
## Bug Description
Since I activated the sitekit plugin with almost all options enabled (analytics, search console, adsense and lighthouse)
I discovered a large increase in the amount of unique visitors with a bouncerate of 100% is happening. It looks like the lighthouse check is doing a short request and it is caught up by google analytics.
The amount of extra visitors is around the 50 and for me

[2019-07-16 11:06] frankblob commented on #244
Hi @jamesozzie.
    1. The site not have GA, GTM or a FB pixel installed previously. Neither manually nor via any plugins.
    2. The code is only present, when logged in. It seems it is activated as part of the admin.
        Logged in/admin: In regular (as you listed it) and a <noscript> version, too.
        Logged out: `<meta name="generator" content="Site Kit by Google 1.0.0-beta.1.0.1" />` i

[2019-07-16 11:12] jamesozzie commented on #235
@loganlucky Thanks for reporting. Do you mind checking the following:
1. ithemes: In your ithemes please untick [this setting](https://i.imgur.com/7OyyYyI.png)
2. Check if you hosting if you have any Firewall or additional security extensions in place (ie. modsecurity). If so temporary disable them,
3. Change your active WordPress theme
4. Check your site incognito mode to rule out any possible in

[2019-07-16 11:57] marrrmarrr commented on #200
I can't reproduce this any more, and given that it was for version RC2, I doubt it's relevant at this point.

@jamesozzie could you try to replicate this? The user's recording is here:
https://www.loom.com/share/b3f5a5752801456ab98b1167a3ae2325

I'm wondering if it's related to issue #4 .

[2019-07-16 12:14] Insomnia88 opened #285 "analytics module cross domain support for advanced users?"
Hi I just installed the sitekit and wanted to use the analytics module but receive an error that it cannot find any analytics account. Since there are already topics about this error I don't want to focus on it alone but ask how it's about the support for multiple cross linked domains?
I don't wonder why the module cannot find any "target url" because my properties in analytics don't necessarily h

[2019-07-16 12:25] marrrmarrr commented on #138
Thanks for the clarifications @circlecube.
(1)-(3) SGTM
On (4), for the Search Console source link which can be customised with parameters, let's update so they take the user to the correct filtered view (I don't think that's possible with Analytics since we don't know the property ID parameter).
For example, here's the filtered view for queries leading to a specific page:
https://search.google.co

[2019-07-16 12:53] jamesozzie commented on #243
@iamshaharyar @thedavemurphy Are you using a security or firewall extension or software? This could be interfering with your Site Kit reports.

If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings and see if it resolves the issue. If you are not using ithemes can you let me know of any security plugins or software you are using,

[2019-07-16 13:26] jamesozzie commented on #247
Can you send the full address address that was being generated and I can check? Or share a [screenshot](https://i.imgur.com/LDdZw8j.png) of the auto generated project details (Site name & application name).

[2019-07-16 13:26] #247 closed

[2019-07-16 13:55] jamesozzie commented on #282
@ramonolivencia Thanks for reporting, and great that you found a fix. It would be interesting to look further into this issue, if you already have Google Tag Manager container code on your website Site Kit should have given you an option to use that container ID.

Can you try and add Site Kit again, including the Tag Manager module, selecting your existing container ID in the "Container" dropdown

[2019-07-16 14:03] jamesozzie commented on #283
@VinsMach Do you mind trying the following, this same issue was reported previously, #117

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings
3. Temporarily deactivate your other active WordPress plugins
4. Install Site Kit in a new [incognito window]

[2019-07-16 14:21] lucymtc commented on #126
@felixarntz I am only seeing sendAnalyticsTrackingEvent being called on the activation https://github.com/google/site-kit-wp/blob/develop/includes/Core/Util/Activation.php#L197

But sendAnalyticsTrackingEvent is defined only if user has authenticated https://github.com/google/site-kit-wp/blob/develop/includes/Core/Util/Tracking.php#L90
So on activation sendAnalyticsTrackingEvent will always be und

[2019-07-16 14:33] iamshaharyar commented on #243
@jamesozzie I am using Wordfence in my website and also using Cloudflare as well. Can you kindly let me know which settings in need to alter to make it work?

[2019-07-16 14:52] jamesozzie commented on #284
@andizer If you create a view for the property you would like to measure there is an option to exclude known bots and spiders. You will find the option from within a view on your property ID [here](https://i.imgur.com/ooenBW1.png).

You can also find more information about creating custom filters [here](https://support.google.com/analytics/topic/1034830).

For additional information on this issue

[2019-07-16 15:38] felixarntz commented on #126
QA looking good!

[2019-07-16 15:57] jamesozzie commented on #285
@Insomnia88 Before I added this as a feature request can you let me know the following:
1. Please provide an example of the domain setup you are using (ie. subdomains or more advanced implementation methods)?
2. Have you inserted your Tag Manager container code into your theme files or via a third party plugin?

[2019-07-16 16:06] felixarntz commented on #158
QA looking good!

[2019-07-16 16:10] #149 closed

[2019-07-16 16:18] #16 closed

[2019-07-16 16:19] #126 closed

[2019-07-16 16:19] jamesozzie commented on #200
This is probably more related to #78. In other cases the authentication fails because of Ad Blockers in use. I'm unable to recreate this issue myself with older RC versions but others have reported the same issue last week. I will keep it open while I check again

[2019-07-16 16:19] #158 closed

[2019-07-16 16:43] gmmedia commented on #284
Same issue here.

[2019-07-16 16:55] jamesozzie commented on #243
@iamshaharyar I have default settings enable for both and I don't see any immediate options in either that might be causing this issue. Do you have any security or firewall enabled at your web hosting level, such as modsecurity?

[2019-07-16 17:28] circlecube commented on #70
QA looks good! Verified the title for the page search query table is specific to the page and the site search query table is not specific to any page.

[2019-07-16 17:43] circlecube commented on #138
@marrrmarrr Acceptance criteria seems to be missing details. Specifically regarding the Bounce Rate addition and maybe adding the date range selectors too.

[2019-07-16 17:47] iamshaharyar commented on #243
@jamesozzie I do have ModSecurity enabled at my web hosting level so I contacted them and turned it off for this website but still everything is just same and not working.

[2019-07-16 18:42] loganlucky commented on #235
Hey, James,
1.Never ticked. Tried also deleting it, no change.
2. Disabled all, no change.
3. Same thing with other themes.
4. In incignito same thing.

Something is blocking connection to the server?

[2019-07-16 18:58] lucymtc commented on #81
QA looks good

[2019-07-16 19:21] lucymtc commented on #157
QA looks good!

[2019-07-16 20:57] ramonolivencia commented on #282
Before doing as you suggest, here is the email I received from GoDaddy:

"The cause of this issue is "Google Tag Manager", but it's being loaded by "Site Kit by Google" plugin, so that's why I [the GoDaddy technician) disabled the plugin.

On the following WordPress support topic, you can see that there were other people who had the same issue with Google Tag Manager: https://wordpress.org/support

[2019-07-16 21:30] lilybonney opened #288 "Sprint: 2 Release"
Ticket to cover all engineering and QA work required by the Site Kit team for the Sprint: 2 release (scheduled for July 18). Assigning over to @adamsilverstein for the next step.

[2019-07-16 22:47] frankblob commented on #244
Progress. After disabling plugins one-by-one, I found the culprit, as you suggested. Autoptimize. After flushing the cache and reenabling the Autoptimize plugin, GTM now works as intended - also, when logged out. Thanks.

[2019-07-17 05:38] khaled77889 opened #289 "Couldn't create project: have a problem when installing the plugin"
## Bug Description
Couldn't create project
warning
field [project_id] has issue [project_id contains invalid characters]

## Screenshots
<a href="https://imgur.com/2qP3ZE5"><img src="https://i.imgur.com/2qP3ZE5.jpg" title="source: imgur.com" /></a>

 - PHP Version: 7.2.19 (Supports 64bit values)
 - OS:  cPanel
 - Browser [chrome]
 - Plugin Version 1.0.0-beta.1.0.1
 - Device: [PC]
- Website URL htt

[2019-07-17 07:25] Insomnia88 commented on #285
@jamesozzie
1. They are different domains, like "a-sattelite-example.fr" and "another-sattelite-example.co.uk" that redirect the user to another one like "example.com". The "example.com" domain also includes the codes for the other domains "a-sattelite-example.fr" and "another-sattelite-example.co.uk".
2. I inserted it manually in my theme files, no plugin.

[2019-07-17 07:27] justusKe opened #290 "Error configuring client code in site kit by google"
I keep getting this error when I try to paste and proceed with the client configuration code  "The response is not a valid JSON response."
How do I go about it?

#242

[2019-07-17 09:30] jamesozzie commented on #244
@frankblob Thanks for letting us know, very useful for others who will potentially face the same issue.

[2019-07-17 09:30] #244 closed

[2019-07-17 09:36] jamesozzie commented on #289
@khaled77889 Thanks for reporting. Can you please try this workaround and let me know if you manage to get to the next stage?

- Close the "Couldn't create project" window
- In the address bar of your window paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
- Replace the yourwebsitecom and also http://yourwebsite.com with you

[2019-07-17 09:51] jamesozzie commented on #290
@justusKe Thanks for reporting. In order to try and proceed you can try and recreate the credentials using the steps below:

1. In your browser address bar paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
2. Replace the yourwebsitecom and also http://yourwebsite.com with your own site details. (Including the https or http)
3

[2019-07-17 10:11] jamesozzie commented on #243
@iamshaharyar Can you try and clear your cache now, and temporarily disable any security or firewall plugins before trying again?

[2019-07-17 10:14] jamesozzie commented on #281
@TompieD Can you share your URL or even permalink structure using polylang and I can look into this further?

[2019-07-17 10:19] #213 closed

[2019-07-17 10:24] khaled77889 commented on #289
In fact, I've tried a lot to solve this problem
I found this comment on another issue and I used it and did not work with me
But I tried to look a lot at the case and I used this solution again but I added two new things
In fact, I do not know exactly how the problem was solved, but I'll tell you what you did, maybe someone else would benefit
- First I added the site to Domain verification
<a href

[2019-07-17 10:26] MohamadFtah commented on #246
is there a fix for this? Iv'e disabled site-kit for now

[2019-07-17 10:40] jamesozzie commented on #222
@xguiboy Can you please try again after performing the following steps:
1. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings.
2. Please deactivate any caching plugin you have active
3. Disconnect PageSpeed insights
4. Open your WordPress admin panel using an incognito window and connect the PageSpeed Insights module again

@d

[2019-07-17 10:48] swissspidy commented on #246
There's currently no solution for this. There has been no discussion about it yet.

I imagine that the only solution would be to prefix Composer dependencies using a tool like [Mozart](https://github.com/coenjacobs/mozart) or [PHP-Scoper](https://github.com/humbug/php-scoper).

[2019-07-17 10:53] robwent commented on #213
Seems odd that this only affects analytics and not other services.

[2019-07-17 10:55] lilybonney commented on #66
@felixarntz - Ivan has updated the implementation brief based on the latest comments in the thread, and reassigned to you for review. Many thanks!

[2019-07-17 11:04] jamesozzie commented on #289
@khaled77889 Thanks for the info, very useful indeed. Did you create your own OAuth credentials or use the Site Kit generated credentials?

[2019-07-17 11:30] lucymtc commented on #92
@felixarntz @adamsilverstein as it will be difficult to QA this ticket if you don't have a newly AdSense account I am adding link to screen recording with my testing https://drive.google.com/file/d/1iEaGK7MTDGefzKT5ur8hmu-j8DWrtGqy/view?usp=sharing
Data is shown in the AdSense page as soon as impressions are higher than 0, as well as in the main dashboard.

[2019-07-17 12:00] khaled77889 commented on #289
I use the Site Kit generated credentials
1- i have use https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com

2- and Replace the yourwebsitecom and also http://yourwebsite.com with my site details.
As you explained

3- and also deleted the cache for Google and my website
4- and modified the URL as explained above

But I have applied all these steps befo

[2019-07-17 12:11] mbdiener commented on #246
I received this response from UpdraftPlus’ support rep:

Hi Michael,
I’ve got a word from one of our lead developers.
We use the older version of Google API PHP to maintain backwards compatibility with older PHP and WordPress versions. Google Site Kit should also not be loading the Google API on another plugin’s page.
Please could you ask the Google Site kit developer’s if it is possible to preven

[2019-07-17 12:31] lucymtc opened #291 "Inconsistency for components error message when user has no access to Analytics account"
## Bug Description

Inconsistency for components error message when a second admin has no access to Analytics account that has been previously been setup by first admin.

## Steps to reproduce

1. Login as admin, activate and authenticate Site Kit.
2. Connect Analytics module and configure selecting account, property and view.
3. Logout and login again as a different admin.
4. Go through Site Kit

[2019-07-17 12:59] xguiboy commented on #222
@jamesozzie
1. I wasn't using this plugin
2. I did deactivate the cache plugin and the minification as well but still the same problem
My server has a build in cache and the cloudflares' cache is activates as well, do you think I have do deactivate it for the plugin start working?

[2019-07-17 13:42] felixarntz commented on #291
@lucymtc Any idea why that is different? It should have the same logic regardless of which admin is logged in.

[2019-07-17 13:42] jamesozzie commented on #222
@xguiboy Can you temporarily deactivate your active caching with your host and also Cloudflare? Check then using an incognito window for the same issue.

[2019-07-17 13:54] xguiboy commented on #222
@jamesozzie same issue,
 so i inspected the page e there ir this error "Failed to load resource: the server responded with a status of 400 ()" then i clicked the link and this message appear "{"code":"rest_forbidden","message":"Sem permiss\u00e3o para fazer isso.","data":{"status":401}}"

[2019-07-17 13:56] felixarntz opened #292 "Add Travis-CI job for testing with multisite"
In preparation of #276, there should be a job in Travis-CI that uses multisite. We already have a few multisite-specific tests (that currently aren't run at all in CI), and also the regular ones should be run to ensure they don't unexpectedly break because of multisite nuances. Having a multisite job is crucial for long-term quality of the product.

---------------

_Do not alter or remove anythin

[2019-07-17 14:06] lucymtc opened #293 "AdSense dashboard console errors on Safari"
## Bug Description
After setting up AdSense, the AdSense dashboard is not showing any data and trowing JS errors in the console. Not happening in Chrome or Firefox, only on Safari.
After removing all the browser extensions error persisted.

[code]

## Steps to reproduce

1. In Safari setup AdSense
2. Go to the AdSense Dashboard.
3. See the errors in the console.

## Screenshots

![_safari-adsense-

[2019-07-17 14:09] felixarntz commented on #293
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat/formatToParts#Browser_compatibility

Gutenberg is not using it either, but only relies on the `format` method which _is_ supported in all browsers.

[2019-07-17 14:20] felixarntz commented on #110
@bjackson27 Which PR are you referring to?

[2019-07-17 14:21] adamsilverstein commented on #288
Note: I will be following the release process as outline here: https://github.com/google/site-kit-wp/wiki/Releases

[2019-07-17 14:21] felixarntz commented on #83
@bjackson27 Which PR are you referring to?

[2019-07-17 14:28] adamsilverstein commented on #94
QA passed.

I tested this and verified the URL is now correct and includes only the domain name, not the full URL:

![image](https://cl.ly/4fcc2ad0ba10/Site_Kit_by_Google_AdSense_9_Site_Kit_for_WordPress__WordPress_2019-07-17_08-25-04.jpg)

To test, set up AdSense, then change the filtered domain to a domain without any data, clear session storage and refresh AdSense page.

[2019-07-17 14:30] circlecube commented on #51
I've been able to QA only the analytics account setup and module and all passes.

Not able to get into an adsense account for now, but will update again once I have.

[2019-07-17 14:41] circlecube commented on #51
Assigned this to @adamsilverstein to QA the adsense parts.

[2019-07-17 14:42] adamsilverstein commented on #288
As per our discussion in today's meeting, @felixarntz  and @ThierryA are going to take on packaging this release (with assistance if needed). Assigning to Felix.

[2019-07-17 14:45] quindo opened #294 "ModSecurity: Attempting to Authenticate with Google Triggers User IP Blacklist"
After I press the "Allow" button in step 2, authenticate I end up on the home page of my site with a bunch of parameters in my url.  When I go back to the plugin setup page it is still on step 2, authenticate.

If I try to go through the process a second time I end up triggering an 'Anomaly Score' rule and end up getting blacklisted.

The site is running on a dedicated AMP server with PHP 5.6 and

[2019-07-17 14:54] jamesozzie commented on #294
@quindo Thanks for reporting. Do you mind sharing the following before we troubleshoot further:
- List the active Security/Firewall or caching in use from your WordPress dashboard
- Check and list any Firewall or security rules in place with your web host (ModSecurity etc)
- Inform me of any dev tools console errors

[2019-07-17 15:11] quindo commented on #294
@jamesozzie here is the information the web host provided.

Going through the installed plugins there is not any Security/Firewall/Caching plugins enabled beyond what is standard in wordpress by default.

I will post dev tools console log errors as soon as everyone goes on their lunch break in case it blacklists the IP again.

[2019-07-17 16:01] jamesozzie commented on #294
Thanks for the update. I expect you should be able to proceed with ModSecurity disabled, but I will keep this open while we investigate further.

[2019-07-17 16:07] quindo commented on #294
@jamesozzie Your suggestion is to temporarily disable ModSecurity to setup the app then re-enable it?

Here is the dev tools console log.  It is hitting a 403 (Forbidden).  Let me know if there is any more information you need.

`GET https://www.example.com/?oauth2callback=1&code=4%2FiQFM7vpiZEfmMCPzeSRrp-SWtw8-lZB92KWATPiIaSqONsYcKG1bUMzuJPVig4PPbvuMSJkAd4dU3UNsgTBLjJ4&scope=email%20profile%20htt

[2019-07-17 16:15] jamesozzie commented on #151
@userfriendly125 Were you eventually able to setup Site Kit? If not please provide the following in order to troubleshoot further:
- Security / Caching plugins in use
- Any chrome console error messages that appear

[2019-07-17 16:16] jamesozzie commented on #215
@RogersSteffan Did you manage to attempt installing and activating Site Kit again?

[2019-07-17 16:39] jamesozzie commented on #194
@Habibsen Have you attempted connecting the Analytics module in Site Kit again? If you are encountering the same issue please let me know the following
- Any security/firewall plugins in use
- Any caching plugins in use
- If ModSecurity is enabled on your web host

[2019-07-17 16:44] bagaweb commented on #240
Thanks for your help @jamesozzie!
Console made me realize that Opera's integrated Adblock was causing this issue.

[2019-07-17 16:56] jamesozzie commented on #240
@bagaweb Nice troubleshooting, and good to know.

@zeekart Did you have a chance to check your site settings? Please report any console errors and we can troubleshoot further. If the issue persists please inform me of the following:
- Any active security/firewall plugin
- Any active caching plugin
- Any web host security feature in place such as ModSecurity.

You can also check if the same issue p

[2019-07-17 17:09] jamesozzie commented on #164
@sviluppomania I have performed a few tests using PageSpeed Insights and also web.dev (which also uses the Lighthouse API) and I was unable to see any consistent or noticeable difference in performance. Do you have any security plugins with plugin rules in place, or scanned internals which might have impacted performance during your testing?

[2019-07-17 19:25] iamshaharyar commented on #243
@jamesozzie I have tried that all but nothing changed.

[2019-07-17 20:53] TompieD commented on #281
![permalink structure](https://user-images.githubusercontent.com/485158/61410533-c7d2c680-a8e4-11e9-92f9-ce4b60710ed8.png)
![polylang settings](https://user-images.githubusercontent.com/485158/61410534-c7d2c680-a8e4-11e9-85cf-3dd598b8c709.png)
![stats dog be](https://user-images.githubusercontent.com/485158/61410535-c7d2c680-a8e4-11e9-961b-574a0c53fc52.png)
![stats wr be](https://user-images.githu

[2019-07-17 21:03] Tristan29photography opened #295 "Filtering out traffic & Admin and Copywriters in backend and front end"
## Feature Description
Hi there,
It would be great to filter out the Admin and copywriters traffic both in back end and front end.

In advance many thanks
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-17 21:40] adamsilverstein commented on #51
Both AdSense and Analytics tag detection worked as expected in my testing. I manually added/changed the tags on my site before clearing caches and going thru the flow each time.

I tested with analytics and adsense with a matching and non matching ID

Moving to Approval.

[2019-07-17 21:43] lilybonney opened #296 "Explore what types of stats to display on WordPress post list table"
**Description**

There should be one or more columns in the posts list table dedicated to Site Kit stats provided by the various enabled services. By native WP functionality, visibility of these table columns can be toggled, so we could even provide multiple so that users could freely choose.

Providing this integration was one of the original requirements for the plugin, but was deprioritized for

[2019-07-17 21:45] adamsilverstein commented on #92
verified the AdSense module shows a CTA on the Site Kit Dashboard when the data is empty:

![image](https://user-images.githubusercontent.com/2676022/61413768-9c7eb600-a8a9-11e9-9893-638d8a1b588b.png)

Once there is data, the section shows correctly:

![image](https://user-images.githubusercontent.com/2676022/61413877-d780e980-a8a9-11e9-8107-7920d73ee14e.png)

QA passes, moving to Approval.

[2019-07-17 21:53] lilybonney opened #297 "Incorrect order of Clicks and Impressions data blocks + trends in admin bar vs single URL page"
Addressed by PR #892

---

## Bug Description

The admin bar dropdown shows clicks then impressions, while the Site Kit dashboard (and WP dashboard) shows impressions then clicks - the latter makes more sense as impressions > clicks.

However, the trend stats underneath are not re-ordered, which results in showing the wrong trend for each stat:

How stats are currently displayed in the admin bar:

[2019-07-17 22:04] lilybonney opened #298 "Address Contributor issues - adminbar and confirmation message"
## Bug Description

After logging in Contributors see:

* "Editing one of your posts" should be "viewing one of your published posts" - Contributors cannot edit their published posts and no data is available for draft posts.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

![Welcome to Site Kit message](https://user-images.githubuserc

[2019-07-17 22:09] MohamadFtah commented on #246
@mbdiener and @swissspidy thanks for the update, hope its fixes soon, or at least a respond.

[2019-07-17 22:11] lilybonney opened #299 "Explore enhancements for site owner notifications"
**Description**

There are a number of potential enhancements for site owner notifications to be explored further.

There are some nuances with the "increase in $METRIC" wins. The expectation of the user is that some time has to pass, so there are two time periods to compare and calculate the increase "before" and "after" - it's confusing to see the win right at setup, since they just started usin

[2019-07-17 22:22] lilybonney opened #300 "Sprint: 3 Release"
Ticket to cover all engineering and QA work required by the Site Kit team for the Sprint: 3 release (scheduled for July 31).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-07-17 23:33] jsmshay opened #301 "Couldn't initialize"
## Bug Description

Pressing on GET OAUTH CREDENTIALS this errors pops up:

Couldn't initialize
A network error occurred and the request could not be completed.

## Steps to reproduce

1. Go to 'Site Kit Dashboard'
2. Click on 'developers.google.com/web/sitekit'
3. On Sitekit website - click GET OAUTH CREDENTIALS button
4. See error:

Couldn't initialize
A network error occurred and the request co

[2019-07-18 03:00] amedeusv opened #302 "google site kits can't pass "Authenticate with Google"."
Refer to Google Site Lits wordpress plugin - At the process of "Authenticate with Google" which ask to singin to google, after signin complete it lead me to my home page, after get back to wordpress Google site kits setting, i still remain at the same stage which is "Authenticate with Google". it just keep repeating and never move to next step to verify URL. what wrong?

[2019-07-18 05:49] HaloPhoto commented on #302
I have the same problem. After signing into google it bounces back to "Authenticate with Google" and won't progress. Where are we going wrong?

[2019-07-18 08:17] Thierry1980 opened #303 "Cookie nonce invalid"
## Bug Description

When I paste the Oauth code I retrieve from Google and click "proceed" I keep getting the error "Cookie nonce is invalid"

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS:  iOS
 - Browser chrome
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do

[2019-07-18 08:30] jamesozzie commented on #295
@Tristan29photography There is a feature request for this although there is  a worksaround by

#88

[2019-07-18 08:33] jamesozzie commented on #295
@Tristan29photography There is an open feature request for this, #88. Within Analytics you can also create a view for the property you would like to measure which excludes bots and spiders. You will find the option from within a view on your property ID [here](https://i.imgur.com/ooenBW1.png).

You can also find more information about creating custom filters [here](https://support.google.com/analy

[2019-07-18 08:33] #295 closed

[2019-07-18 08:39] jamesozzie commented on #301
@jsmshay Do you mind trying the following, the error you are encountering could be due to Ad Blocker, security plugin or chrome extension.

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings
3. Temporarily deactivate your other active WordPress plugin

[2019-07-18 08:45] bagaweb commented on #240
Hi again,
I encountered one more issue.

After connecting Analytics, I can see these errors in console:

Thanks for your help.

[2019-07-18 09:01] lilybonney opened #304 "Explore ways to add search functionality to WordPress FE"
**Description**

A potential new feature. The idea would be to integrate Google search into WordPress front end search results. This could be achieved using existing APIs which include Open Graph tag-based support for faceted filtering (giving a very precise subset of results).

A further extension of this might include improving wp-admin search (although there is additional complexity there).

[2019-07-18 09:14] jamesozzie commented on #302
@amedeusv @HaloPhoto Do you mind performing the following steps, this is similar to issue #117

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings
3. Temporarily deactivate your other active WordPress plugins
4. Install Site Kit in a new [incognito wi

[2019-07-18 09:30] lilybonney opened #305 "Split all modules.js into module-specific files"
**Description**

Something to potentially be explored following some JavaScript refactoring (planning in progress at the time of this ticket's creation - July 18).

This ticket is for the discovery/planning work required. Any engineering action items will be split out as separate tickets.

[2019-07-18 09:31] HaloPhoto commented on #302
Hi - deactivating my other plugins did the trick for me. Thank you

[2019-07-18 09:38] lilybonney opened #306 "Point user to where PSI module is found after activating it"
## Feature Description

When Analytics and AdSense have been activated, the Site Kit dashboard can grow quite long.

If PSI is then also activated, the user is redirected to the main dashboard screen and sees nothing, because the PSI component is now located below the fold.

This is a slightly confusing user experience, but can be mitigated by adding new functionality to automatically scroll someo

[2019-07-18 10:07] marrrmarrr commented on #182
Felix and I discussed. Closing.

[2019-07-18 10:07] #182 closed

[2019-07-18 10:16] marrrmarrr commented on #191
This is a duplicate of issue #52.

[2019-07-18 10:16] #191 closed

[2019-07-18 10:23] felixarntz commented on #180
Duplicate of #52 and #191

[2019-07-18 10:23] #180 closed

[2019-07-18 11:31] lilybonney opened #308 "Fix REST API 404 response during Client Credentials setup step"
## Bug Description

Several REST API endpoints (i.e. credentials, API key, GCP project) return a 404 if no value is set for them yet (being most apparent during the setup flow when Site Kit checks for whether OAuth credentials are already set). This was intentionally designed like that originally, but revisiting it doesn't actually make sense. That response code should only be expected if 404 is s

[2019-07-18 11:35] felixarntz commented on #66
Implementation brief looks good!

[2019-07-18 11:38] felixarntz commented on #89
Awesome, new implementation brief looks great.

[2019-07-18 11:40] felixarntz commented on #93
Implementation brief looks good.

[2019-07-18 12:28] marrrmarrr commented on #52
I tested this as well, and I see the correct CTAs.

However, the "Complete activation" CTA for Analytics doesn't seem to be linking anywhere. There's no <a> link element or href attribute in the source:
![Screenshot 2019-07-18 at 14 22 04](https://user-images.githubusercontent.com/13304791/61457132-f0e86b00-a967-11e9-9969-b18659349eba.png)

Cf the same CTA button for PSI (has link with href attrib

[2019-07-18 12:34] marrrmarrr commented on #81
LGTM.

[2019-07-18 12:35] #81 closed

[2019-07-18 12:49] lucymtc commented on #181
@felixarntz I have updated the Implementation brief, I believe we need to keep both `errorCode` and `errorMsg` so we can render notice or error like we do in Analytics setup component https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/setup.js#L874 I think we should keep this one as a notice to be consistent with the same scenario on analytics.

[2019-07-18 12:56] marrrmarrr commented on #70
LGTM.

[2019-07-18 12:56] #70 closed

[2019-07-18 13:03] marrrmarrr commented on #51
LGTM for Analytics. @OisinOConnor will review for AdSense next week post-release.

[2019-07-18 13:03] #51 closed

[2019-07-18 13:18] felixarntz commented on #181
@lucymtc Makes sense, thanks!

[2019-07-18 13:45] lucymtc commented on #110
@felixarntz the opened PR https://github.com/google/site-kit-wp/pull/310

[2019-07-18 14:06] jamesozzie commented on #285
@Insomnia88 I will close this issue now as I have labeled #281 as a feature request.

[2019-07-18 14:06] #285 closed

[2019-07-18 14:12] lucymtc commented on #83
@felixarntz https://github.com/google/site-kit-wp/pull/311

[2019-07-18 14:44] Tansch commented on #24
Attempt to manually generate the credentials:

Close the window "Project could not be created"
Paste this link in the address bar:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com

Replace yourwebsitecom and http://yourwebsite.com with your own site details.
also include https or http

https://www.hidendesign.at/google-site-kit-einrichten-wordpress

[2019-07-18 15:07] Mte90 commented on #302
I confirm to have the same issue but I disactivated we and ithemes and problem was persisting.
So I disabled all the plugins and the problem persist anyway, maybe because I am using wp 4.9?

[2019-07-18 15:08] Tansch commented on #35
Attempt to manually generate the credentials:

Close the window "Project could not be created"
Paste this link in the address bar:
https://developers.google.com/web/site-kit/?sitename=hidendesignat&siteurl=https://hidendesign.at

Replace „hidendesignat“ and https://hidendesign.at with your own site details.
also include https or http

https://www.hidendesign.at/google-site-kit-einrichten-wordpress

[2019-07-18 15:31] felixarntz commented on #83
@lucymtc Can you please prioritize writing an implementation brief and working on this? It will affect (and simplify!) both #51 and #110, so I think this should be done first.

That would likely mean though we need to move #51 back to Implementation Brief, as it would be different I assume.

[2019-07-18 15:36] felixarntz commented on #110
Implementation brief looks good. Would generally be great to have more detail on how access is checked, but since there's already a PR that clarifies that, it's okay this time.

[2019-07-18 15:38] marrrmarrr commented on #52
LGTM.

[2019-07-18 15:38] #52 closed

[2019-07-18 15:39] felixarntz commented on #298
Implementation brief looking good!

[2019-07-18 15:42] felixarntz commented on #168
@adamsilverstein Implementation brief looking good! Can you please add a bullet point for removing the `debug` value being passed from the server too? I'll approve already, but that would be good to include.

[2019-07-18 15:47] felixarntz commented on #12
Implementation brief looks good now!

[2019-07-18 15:49] felixarntz commented on #186
Implementation brief looks good!

[2019-07-18 15:50] felixarntz commented on #89
This might need an update after #83. cc @lucymtc

[2019-07-18 16:09] jamesozzie commented on #302
@Mte90 Site Kit is [compatible](https://github.com/google/site-kit-wp/blob/develop/README.md) with WordPress 4.9. Can you check the following and see if you can pass the authentication stage:
- Disable AdBlockers or attempt authentication from an incognito window
- Disable ModSecurity from within your web host if active

Please share any console errors if the above fails.

[2019-07-18 16:31] jamesozzie commented on #240
@bagaweb Do you mind trying the following, this same issue was reported previously

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings
3. Temporarily deactivate your other active WordPress plugins
4. Install Site Kit in a new [incognito window](https:

[2019-07-18 17:04] marrrmarrr opened #312 "Show stats in Admin bar for non-single posts"
## Feature Description

For many sites, the home page is the best performing in terms of impressions and clicks in Search. However, if the site owner has selected it to display the latest posts instead of being a static page, it's not considered a post and Site Kit currently won't display stats for it in e.g. the Admin bar.

![Screenshot 2019-07-18 at 18 27 06](https://user-images.githubuserconten

[2019-07-18 17:05] Anscha3 commented on #234
Hi, I have the same problem and followed your advice but got the same result, that the process did not find my Analytics account, although I can login the normal way.

I deactivated the plugin "Google Analytics for WordPress by MonsterInsights" in case the was a problem between those two plugins.

[2019-07-18 17:15] #288 closed

[2019-07-18 17:16] #92 closed

[2019-07-18 17:16] #157 closed

[2019-07-18 17:16] #96 closed

[2019-07-18 17:16] #94 closed

[2019-07-18 17:19] marrrmarrr commented on #197
@bjackson27 the next step here would be to get some mocks, so we can scope what exactly the implementation will require before we prioritise it.
Who would be the best person to assign this to for that step?

[2019-07-18 17:37] felixarntz commented on #89
@lucymtc

https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics.php#L1031

I believe this is no longer relevant following #83. Could you update the implementation brief accordingly?

[2019-07-18 17:38] felixarntz commented on #83
@lucymtc Implementation brief looks good!

So that means this issue depends on #110 being completed first, right? And then this issue should be completed before #89 I assume (which will need an implementation brief update)?

Would be great if you could clarify your thoughts on the interdependencies. Also make sure to coordinate with the team. I think it's best to reserve all three issues for worki

[2019-07-18 17:44] felixarntz commented on #177
@lucymtc

This should be in a `head` action, it needs to be where the actual content markup is generated.

Also, the implementation brief doesn't cover the admin bar menu.

[2019-07-18 17:45] lucymtc commented on #83
Yes, dependant on https://github.com/google/site-kit-wp/issues/110 for the acceptance criteria:

https://github.com/google/site-kit-wp/issues/89 is an existing bug but and not directly dependent of this issue, although wanted to mention for when QA is done as it might rise for preselecting property of the existing tag.

[2019-07-19 03:49] tongdaitructuyen commented on #241
Yes, i have same error, i have Reset & ReInstall, but it not working with Analytics

[2019-07-19 03:52] mamathesh commented on #241
Try this step it may help you

Enable site kit

After 1 or 2 days try fetching again and see
(For me it worked)

On Fri, 19 Jul, 2019, 9:19 AM Martino Hugo, <notifications@github.com>
wrote:

[2019-07-19 12:08] PATRICEINFORMATIQUE opened #313 "Bug with Divi builder"
Hi i install your plugin this morning and it make a bug with divi theme and builder, just for information
I send the same request to divi developpers
have a gpod day

Patrice

[2019-07-19 12:12] marrrmarrr opened #314 "Single page stats: show informative message when there's not enough queries to display"
## Feature Description

In the single page stats view, sometimes queries won't be displayed because there is either not enough information aggregated or the total number of queries is below the privacy threshold.

Right now, we show just the title of the section and no explanation:
![Screenshot 2019-07-18 at 19 21 27](https://user-images.githubusercontent.com/13304791/61478631-2bff9400-a992-11e9-9

[2019-07-19 12:17] jamesozzie commented on #313
@PATRICEINFORMATIQUE Can you please provide the following so we can investigate further:
- Any [console errors ](https://i.imgur.com/f5WfLb3.png)in your browser at the page where you see the error
- Screenshot of the error message

[2019-07-19 12:25] #215 closed

[2019-07-19 14:29] jamesozzie commented on #222
@xguiboy This is related to #89 and will hopefully be resolved soon

[2019-07-19 14:52] xguiboy commented on #222
@jamesozzie ohh ok, so its a know issue. So i'll wait to the next update cheers

[2019-07-19 14:56] Mte90 commented on #302
I cleaned the htaccess and the user doesn't have any adblocker...

[2019-07-19 14:58] OisinOConnor commented on #91
We can mark this as "could not reproduce" for now.

[2019-07-19 14:58] #91 closed

[2019-07-19 20:49] adamsilverstein commented on #168
added.

[2019-07-19 22:47] hablaviajero commented on #302
I have the same problem, i dont know how to solve it, i tried Every thing jamesozzie said.
I have Wordpress 5.5.2

[2019-07-19 23:03] hablaviajero commented on #117
I made this , i have backpacker traveler theme but I deactivate it with all the plugins, and nothing happend. I used another explorer like safari or opera but anything happend, please help me

[2019-07-20 01:29] tongdaitructuyen commented on #241
Yes, i have enable it 3 day, but it not working

[2019-07-20 02:10] hablaviajero commented on #117
How did you solve it? Can u' help me

[2019-07-20 08:46] alaikke opened #315 "I can not connect with the google account"
I can not connect with the Google account, it returns to the main WordPress dashboard and nothing happens.
Can anyone help us?

Similar to #315

[2019-07-20 09:39] lucymtc commented on #177
@felixarntz for the admin pages it is specified to hook into `admin_head`
I have added implementation for admin bar.

[2019-07-20 09:42] vihar3vasoya commented on #159
There is no any other project created on my dashboard by site kit...
Ther is only one project containing my wordpress site...

[2019-07-20 09:43] vihar3vasoya commented on #159
I also tryed removing and reinstalling the site kit plugin...but nothing happens

[2019-07-21 08:39] zaheer039 commented on #4
I can solve you unknown error issue in google site kit just custom order me on [fiverr](https://www.fiverr.com/zaheer639)

[2019-07-21 16:37] SintoJoseph opened #316 "The response is not a valid JSON response. (Google Site Kit)"
I was trying to install Google Site Kit on my wordpress site. After getting Site Kit: Get OAuth Credentials and pasting on the plugin I get The response is not a valid JSON response. message. I am not using any Ad blocker.
![google site kit error](https://user-images.githubusercontent.com/53149638/61593955-d7634f80-ac03-11e9-853b-8a48a4bd4456.JPG)

[2019-07-21 17:37] iamshaharyar commented on #243
@jamesozzie Still no solution found for this issue?

[2019-07-21 18:51] lilybonney opened #317 "Add date filters for relevant metrics in AdSense dashboard"
## Feature Description

In the Search Console and Analytics dashboard there is a date filter:

![Date Filter](https://user-images.githubusercontent.com/52471748/61595572-b9402400-abf0-11e9-8325-ea153697a3b6.png)

However, this is not present in the AdSense dashboard screen. The "Estimated Earnings" widget doesn't need date filter, but the other two statistics on this screen would benefit from it.

[2019-07-21 19:01] lilybonney opened #318 "Don't show notifications until at least a day after first login"
## Feature Description

User testing has shown that it can be confusing for a site owner to start receiving notifications in the same session as setup. Delaying notifications until at least a day after the first login is a good strategy to mitigate this.

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementatio

[2019-07-21 19:09] lilybonney opened #319 "Don't show more than one notification per session"
## Feature Description

Linked to:
https://github.com/google/site-kit-wp/issues/318

Product Manager to update issue details when ticket is prioritized.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-07-22 06:36] ShubhamGohar opened #320 "I have google analytics account already setup and I can't connect my analytics to google sitekit"
I can't connect my existing analytics account to google sitekit as it tells me to create an account and it didn't fetch my previous analytics account data.

[2019-07-22 08:50] jamesozzie commented on #117
@hablaviajero Can you perform the following steps and see if the same issue occurs ?
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate your other active WordPress plugins
3. Temporarily activate an alternative theme
4. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png) as opposed to a different browser

If the above fails

[2019-07-22 08:51] jamesozzie commented on #315
@alaikke Can you perform the following steps and see if the same issue occurs ?
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate your other active WordPress plugins
3. Temporarily activate an alternative theme
4. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png) as opposed to a different browser

If the above fails to r

[2019-07-22 09:01] jamesozzie commented on #159
@vihar3vasoya Can you please follow the steps below to try and proceed with your Site Kit setup:

1. Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.
2. Restart the Site Kit setup process again
3. If the same error

[2019-07-22 09:09] jamesozzie commented on #290
@justusKe I am closing this as a duplicate of #242.

[2019-07-22 09:09] #290 closed

[2019-07-22 09:11] jamesozzie commented on #316
@SintoJoseph Thanks for reporting. This looks similar to #242. It would be great to find out more about this error, as I have not been able to recreate. Can you please follow the steps below:

1. Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if

[2019-07-22 09:28] jamesozzie commented on #243
@iamshaharyar I know you have already attempted many of these steps but can you try the following, in order.
- Reset Site Kit
- Clear your browser cache & delete cookies
- Deactivate all plugins (including Cloudflare, ithemes security, WordFence etc) other than Site Kit
- Change to an alternate WordPress theme (to rule out any interfering functions/features)
- Activate Site Kit using an incognito

[2019-07-22 09:32] jamesozzie commented on #320
@ShubhamGohar This is potentially caused via a caching or security plugin. Can you please try the following and should the issue persist we can troubleshoot further:

1. Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Temporarily deactivate any caching plugin (Autoptimize, WP Super Cache etc)
3. Open Site Kit in a new incognito windo

[2019-07-22 10:25] marrrmarrr commented on #189
@bjackson27 presumably this would show up not just in the Settings, but also during the setup process. Do we have screenshots of how this would look during setup? That would help define the acceptance criteria.

[2019-07-22 10:56] hzv4424 commented on #24
i have same issue
this method solve problem

[2019-07-22 10:58] jamesozzie commented on #303
@Thierry1980 Please follow the steps below to try and proceed with your Site Kit setup.

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings and see if it resolves the issue.
3. Temporarily deactivate your other active WordPress plugins
4. Install Site

[2019-07-22 11:08] aaemnnosttv commented on #110
This is what I see when I output a tracking code in `wp_head` for a property that my user does not have access to:

![image](https://user-images.githubusercontent.com/1621608/61628167-d7a23000-ac81-11e9-8a2d-73184da39daf.png)

@lucymtc This seems to be consistent with the acceptance criteria; has this been already fixed as a byproduct of another issue?

Using develop @ 5ba7ab9

[2019-07-22 11:21] SintoJoseph commented on #316
Hi,
    I tried your steps mentioned but I get error message.

   - Web Host Environment:   Hostinger
   - Security / Firewall plugins in use Cloudflare (I disabled it and tried
   but still getting error)
   - PHP Version 7.1
   - Console Errors  Nil
   - PHP Errors   Nil

Thanking You,

Regards,

[image: looking for desiring bride]

Sinto Joseph

Entrepreneur | YouTuber

Mobile No.: +91-81974526

[2019-07-22 11:23] lucymtc commented on #110
@aaemnnosttv this issue is for when tag is hardcoded in the theme and not added through wp_head

[2019-07-22 12:04] marrrmarrr commented on #192
@bjackson27 could you confirm if there are module setup notifications other than this one?

![module-setup](https://user-images.githubusercontent.com/13304791/61631012-7b430e80-ac89-11e9-8b8c-ea24cc8f10eb.png)

[2019-07-22 12:36] marrrmarrr commented on #193
@bjackson27 could we get a few mocks of alternative versions with different font sizes?

[2019-07-22 14:29] cejayassoc commented on #117
Here is the list of plugins we are using:
Divi Theme
404page by Peter Raschendorfer
Content Views by Content Views
Formidable Forms & Formidable Forms Pro by Strategy11
GoDaddy Pro Sites Worker by Godaddy
iThemes Security by iThemes
Media Library Assistant by David Lingren
PrivateDaddy by Nadav Elyada
Quotes Collection by Srini G
Smar Slider 3 by Nextend
UpdraftPlus (free version) by UpdraftPlus.c

[2019-07-22 18:37] Bannerman commented on #301
uBlock Origin was the culprit in my case, disabling solved. Thanks!

[2019-07-22 18:37] iuravic opened #323 "Trouble authenticating with my account"
## Bug Description

As a Newspack developer, I am testing and using the Site Kit plugin, from a self hosted test/dev site, and trying to connect/authenticate the Site Kit, but run into an error when obtaining the OAuth Credentials.

The error appears when I'm using my Newspack team's work email @a8c.com (Automattic). If I switch accounts to my personal Gmail account, then I am able to get the auth

[2019-07-22 21:44] jsmshay commented on #301
It was AdBlock that stopped it.

[2019-07-23 09:13] #301 closed

[2019-07-23 09:56] Serkan69 opened #324 "Analytics: Refetch my account not working"
I have read all other same issues and set up the site kit as shown and 100% correct, but somehow all will connect besides Google Analytics eventhough I have an account...

If I click on refetch my account data...it will try to connect forever but wont load at all :(
Eventhough when trying to create a new account, it wont load that neither.

I have also disabled Autoptimize and WP Super Cache and d

[2019-07-23 10:41] aaemnnosttv commented on #12
Assigning this back to @jamesozzie as this is not something we are able to reproduce on our end.

Even with read-only permissions for Analytics using a shared account, the goals still comes back from the API without any error for insufficient permissions.

[2019-07-23 11:59] aaemnnosttv commented on #248
@swissspidy it looks like this one may already be covered by `plugin-activation.test.js`.

Is there anything else needed here?

[2019-07-23 12:39] jamesozzie commented on #234
@rastarchele Did you get a chance to deactivate your other plugins and check again? As @Anscha3 mentioned there are some plugins which can conflict with Site Kit.

[2019-07-23 12:42] swissspidy commented on #248
I don't think I have access to that GitLab repository. If you can send me an invitation I can compare that test with `plugin-activation.test.js` to see if anything's currently missing here.

[2019-07-23 13:42] Anscha3 commented on #234
Hi James, I deactivated plugin by plugin until I got to "Insert Headers and Footers" after that, the process was able to finish configuring. Thank you very much for this hint, James!

[2019-07-23 14:11] jamesozzie commented on #323
@iuravic If your organisation is using G Suite there could be restrictions on the creation of Google Cloud Projects. You will find out more information on this [here](https://support.google.com/a/answer/9197205?hl=en).

Can you check with your G Suite administrator?

[2019-07-23 14:32] ThierryA commented on #110
@aaemnnosttv @swissspidy @lucymtc let's make sure Changelog entry is added on this issue.

[2019-07-23 15:20] iuravic commented on #323
Yes, that's right, my organisation is using G Suite.

[2019-07-23 15:25] jamesozzie commented on #324
@Serkan69 Can you try the following and see if you are able to get Analytics working:
1. Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit).
2. Deactivate Monster Insights
3. Connect the Analytics module in Site Kit?

Once Analytics is setup from within Site Kit then you can enable the Monster Insights plugin again. If the steps above fail

[2019-07-23 15:39] philipjohn commented on #323
The same issue occurred for me, also using GSuite. I ended up manually constructing the JSON to paste into the WordPress screen, which worked. It seems that the automated process to create that JSON is falling down somewhere.

This is how I constructed the JSON:

1. Go to https://console.developers.google.com
2. Create a new project
3. Enable the following APIs for the project: Google Search Conso

[2019-07-23 15:47] philipjohn commented on #323
The same issue occurred for me, also using GSuite. I ended up manually constructing the JSON to paste into the WordPress screen, which worked. It seems that the automated process to create that JSON is falling down somewhere.

This is how I constructed the JSON:

1. Go to https://console.developers.google.com
1. Create a new project
1. Get the project ID (it'll be in the address bar) and paste it

[2019-07-23 17:09] archon810 commented on #223
Hi,

Any updates please?

Thanks.

[2019-07-23 17:23] dmorizz commented on #324
Doesn't work for me either. This is my 3rd time (different dates) of trying to connect with WP site.

All cache plugins are deactivated. Done in an incognito window. Keep on going trying to connect but never connecting. I am also logged into my analytics account and is open in another tab.

I'll deactivate plugin again until there is a solution.

[2019-07-23 18:18] swissspidy commented on #246
Related: #41, #223.

[2019-07-23 18:20] swissspidy commented on #223
I am not sure what implications bumping the version number here has, would need some testing.

Looks like Guzzle here is required by the `google/apiclient` lib, which also supports Guzzle ^6.0, so we should be fine there.

The optimal solution would be to prevent any such conflicts. See #246, #41.

[2019-07-23 18:43] swissspidy commented on #248
Looks like this was indeed inadvertently fixed by #163 already 🙂

[2019-07-23 19:15] archon810 commented on #324
I was unable to activate either today on our dev site. The property selector only sees one of the properties and only shows that one property in the dropdown and not all the other properties that I need.

Using the latest beta as of today. 1.0.2.

[2019-07-23 19:17] archon810 commented on #320
Same issue here: https://github.com/google/site-kit-wp/issues/324.

[2019-07-23 20:49] IgorCode opened #325 "Add Search Console domain property support and fix unreliable API requests"
## Bug Description

Plugin added a new property instead of using an already existing domain property. Now I have domain property + URL property for the same website.
I already had this URL property and removed it when GWT introduced domain properties, I obviously do not want this new URL property in my GWT.

Can the Search Console integration be improved so that user manually select the property w

[2019-07-24 03:17] ivankristianto commented on #223
We choose to use Guzzle 5 is because support for PHP 5.4.
Guzzle 6 drop has minimum version of PHP 5.5.

[2019-07-24 03:23] blairworks commented on #324
I'm having the same problem as well in connecting to my existing Google Analytics profile. My Breeze cache plugin and my other Google analytics plugin were both disabled. This was also attempted in an incognito window.

I was able to connect to an existing Search Console profile OK.

[2019-07-24 05:41] bobonski commented on #228
I have the same issue. I am the account owner and do not use G Suite... did someone find the issue?

[2019-07-24 08:54] quangbahoa opened #326 "Uncaught TypeError: Cannot read property 'call' of undefined"
## Bug Description

Blank page after update to beta 1.0.2
[code]

## Steps to reproduce

1. Dashboard widget does show
2. admin.php?page=googlesitekit-dashboard
3. admin.php?page=googlesitekit-module-search-console
4. admin.php?page=googlesitekit-module-analytics
5. admin.php?page=googlesitekit-settings

## Screenshots
- http://prntscr.com/ojavni

## Additional Context

== Server Environment ==
	O

[2019-07-24 08:58] quangbahoa commented on #316
I fixed this error by remove space after json line. If you got error again just copy json from Google then paste to plan text editor then copy and paste to Site Kit step.

[2019-07-24 09:06] Serkan69 commented on #324
I have tired it again, but wont work :(

I am using following plug ins:
Astra Pro
Astra Widgets
DSGVO All in one for WP
Elementor
Elementor Addon Elements
Elementor Pro
Germanized für WooCommerce
Google Captcha (reCAPTCHA) by BestWebSoft
Insert Headers and Footers
Loco Translate
Mailchimp for WordPress
PayPal PLUS für WooCommerce
Reading Progress Bar
Redirection
SVG Support
WooCommerce
WooCommerce

[2019-07-24 09:28] SintoJoseph commented on #316
Hi,
   Thanks it Worked !
Thanking You,

Regards,

[image: looking for desiring bride]

Sinto Joseph

Entrepreneur | YouTuber

Mobile No.: +91-8197452685

Website: www.finysel.com

Live a Life you Love it all that matters.

Connect or follow me on:

[image: facebook.png] <https://www.facebook.com/sinto.joseph2> [image:
youtube.png] <http://www.youtube.com/c/SintoJosephnet?sub_confirmation=1>
[imag

[2019-07-24 09:34] jamesozzie commented on #325
@IgorCode Domain properties require DNS verification, so it's a more complex process. It's also a recently added feature to web console. That being said I will add it for consideration as a feature request for future releases.

[2019-07-24 09:37] jamesozzie commented on #281
Closing this as we have #325 open as a feature request. Adding domain URL support should resolve this

[2019-07-24 09:37] #281 closed

[2019-07-24 09:44] quangbahoa commented on #316
@SintoJoseph Closed this issue please!

[2019-07-24 09:49] jamesozzie commented on #326
@quangbahoa Thanks for report, and context. It would be great to try and figure out the root cause, do you mind trying to follow the same steps using a default WordPress theme, with the Breeze plugin deactivated?

[2019-07-24 09:55] jamesozzie commented on #324
@Serkan69 Can you try to deactivate the following (after disconnecting the Analytics module) and see if you have any success?
- Insert Headers and Footers
- DSGVO

Please share any console errors you encounter here.

[2019-07-24 09:58] #316 closed

[2019-07-24 10:43] jamesozzie commented on #228
@bobonski @IdioticDoodler Can you inform me the plugins which you have active? In particular any caching or security plugins. They could be impacting or conflicting with Site Kit during setup.

[2019-07-24 11:25] quangbahoa commented on #326
I found it. Site Kit conflict with `Remove query string from static resources` function.

[code]

[2019-07-24 16:24] levidurfee opened #327 "Unknown Error after trying to authenticate with a Google Account"
## Bug Description

I was getting an "Unknown Error" message after I tried authenticating with Google.

## Steps to reproduce

1. Get Client Configuration
2. Attempt to sign in with a Google account
3. See "Unknown Error"

## Additional Context

The Wordpress site is behind Cloudflare. The `WordPress Address (URL)` and the `Site Address (URL)` weren't using `http`, but I was accessing the site ove

[2019-07-24 16:53] jamesozzie commented on #327
@levidurfee Thanks for the input. And you are correct, adding the https in the site settings and WordPress Address URL has indeed fixed this issue for others, in particular for those who are not redirecting to their https site.

#4

[2019-07-24 16:53] #327 closed

[2019-07-24 17:37] solamathew commented on #4
This worked for me too.

After setting the URL to HTTPS, I cleared cache before proceeding and it worked.

Thanks.

[2019-07-24 17:51] solamathew commented on #4
Same with me...

Need Help

[2019-07-24 18:02] jamesozzie commented on #4
@solamathew What plugins do you have installed, specifically caching or security plugins? If using iThemes there is an option you can toggle in the [settings](https://i.imgur.com/7OyyYyI.png) relating to URL string limits.

[2019-07-24 18:09] swissspidy opened #328 "Simplify and improve E2E Puppeteer Config"
## Bug Description

As pointed out by @aaemnnosttv, `@wordpress/scripts` already supports passing some custom configs to Puppeteer, so that we don't actually need to maintain a custom `jest-puppeteer.config.js` file.

More specifically, it allows setting `PUPPETEER_HEADLESS` to disable headless mode and `PUPPETEER_SLOWMO` to slow down tests.

Example:

[code]

There's also a third option, passing

[2019-07-24 18:25] swissspidy commented on #328
See https://github.com/ampproject/amp-wp/pull/2878 for a reference implementation. It's really straightforward.

[2019-07-24 19:10] circlecube commented on #249
I worked on this today and have made good progress. Should be able to clean it up and submit for review tomorrow.

Tests in place for:
* disabled button on load
* disabled button on invalid data
* enabled button on valid data
* pressing button with valid data brings user to step 2

[2019-07-24 19:47] peeayecreative commented on #320
Followed these steps and still getting and endless connecting Analytics animations and when I try to re-fetch the account.

[2019-07-24 20:16] coolnaveesh opened #329 "AdSense account not found"
Google has accepted my domain and request when i click continue i get this message.Please help me

**Data error in AdSense
Account not found.**
![git](https://user-images.githubusercontent.com/37809262/61825394-eead7180-ae7d-11e9-8f4d-cf8222ffaee9.jpeg)

[2019-07-24 20:38] yosef-coachella commented on #4
For me the problem was caused by a security plugin called Webarx. When I contacted tech support  they replied: "It probably collides with our plugin since we use a chart on the dashboard as well."
As such they were unable to offer a fix but implied that in a future update they may fix their code to prevent tis.

[2019-07-24 23:19] peeayecreative commented on #324
Exact same setup/issue here.

[2019-07-25 08:14] swissspidy commented on #248
Closing since it was addressed in the PR referenced above.

[2019-07-25 08:14] #248 closed

[2019-07-25 08:25] jamesozzie commented on #320
@ShubhamGohar What other security/caching plugins are you using?

[2019-07-25 08:39] jamesozzie commented on #329
@coolnaveesh Can you please try the following and should the issue persist we can troubleshoot further:

1. Disconnect the AdSense module (Site Kit > Settings > AdSense > Edit > Disconnect AdSense from Site Kit)
2. Temporarily deactivate any caching plugin (Autoptimize, WP Super Cache etc)
3. Open Site Kit in a new incognito window (so Chrome extensions/caching doesn't interfere with the setup pro

[2019-07-25 09:19] lilybonney commented on #83
@lucymtc - Could we add a label with what type of issue this is (i.e. bug, enhancement etc.)? Thanks!

[2019-07-25 09:32] jamesozzie commented on #117
@cejayassoc 2. In your iThemes security plugin can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings

@SupraFan Do you also have ithemes security?

[2019-07-25 09:37] jamesozzie commented on #4
Closing this as resolved. Inputting the "https" and matching the Site Address (URL) and WordPress Address (URL) resolved submitters issue.

@solamathew The issue you are experiencing is more related to #150

[2019-07-25 09:37] #4 closed

[2019-07-25 09:38] jamesozzie commented on #12
Closing as issue no longer persists

[2019-07-25 09:38] #12 closed

[2019-07-25 09:40] jamesozzie commented on #127
Closing as open feature request exists #56

[2019-07-25 09:40] #127 closed

[2019-07-25 09:43] jamesozzie commented on #151
@userfriendly125 I will close this issue as I didn't get a response. But feel free to reopen if the issue persists

[2019-07-25 09:43] #151 closed

[2019-07-25 09:52] jamesozzie commented on #161
@Awaisaliarain Did you have any luck setting up Site Kit? For the OAuth error you can manually create your credentials using the steps below:
1. Close the "Couldn't create project" window you are/were encountering
2. In the address bar of your window paste the following in:
3. https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
4. - Replace the yourwe

[2019-07-25 09:53] jamesozzie commented on #159
@vihar3vasoya Did you have any luck with the plugin setup?

[2019-07-25 09:57] jamesozzie commented on #216
@saalgu Did you have any luck progressing with the Site Kit installation? If you are encountering the same issue with verification you can generate your own verification code using the steps below:

1. Follow the steps you previously followed to get the "Couldn't create project" error
2. Close the "Couldn't create project" window
3. In the address bar of your window paste the following in:
4. http

[2019-07-25 10:00] jamesozzie commented on #194
@Habibsen I will close this issue as I didn't get a response, but of you are encountering the same issue after following the steps advised above feel free to reopen.

[2019-07-25 10:00] #194 closed

[2019-07-25 10:04] jamesozzie commented on #164
@sviluppomania I will close this now as I am unable to gather any notificale differences when using Page Speed Insights.

[2019-07-25 10:04] #164 closed

[2019-07-25 10:08] jamesozzie commented on #235
@loganlucky ModSecurity might have conflicting settings if you have that enabled at web host level. What other security/firewall/caching plugins are you using?

[2019-07-25 11:53] #326 closed

[2019-07-25 13:44] jamesozzie commented on #233
@asitaaa Did you manage to get the Analytics module setup successfully?

[2019-07-25 16:08] michaelserra opened #331 "The service is currently unavailable."
The service is currently unavailable.
Every Time I try to install I get this error.
![image](https://user-images.githubusercontent.com/53310376/61890145-de74b100-aed4-11e9-96db-928eceb8e433.png)

[2019-07-25 16:26] jamesozzie commented on #331
@michaelserra Can you please try this workaround and let me know if you manage to get to the next stage,

- Close the "Something went wrong" window
- Access [this](https://developers.google.com/web/site-kit/?firstplacefitnessequipment.com=yourwebsitecom&siteurl=https://firstplacefitnessequipment.com) link
- Press the "GET OAUTH CREDENTIALS" button
- Under "Select or create new project" click on "C

[2019-07-25 16:39] michaelserra commented on #331
This did not work. I am in G Suite.

*Michael Serra*
*First Place Fitness Equipment*
*Sales Rep.*
MSerra@FirstPlaceFitnessEquipment.com
904-998-0738 office
www.1PFE.com <http://www.1pfe.com/>

*Find A Location Near You Click Here!
<http://firstplacefitnessequipment.com/home/our-locations/>*

On Thu, Jul 25, 2019 at 12:26 PM James G <notifications@github.com> wrote:

[2019-07-25 16:47] asitaaa commented on #233
Hi James,

Unfortunately, I'm still having issues. Let me explain. I had two tracking
code in one.
[image: 2019-07-25_09-42-02.png]

So, I deleted the second one and created its own account. However, I still
fetches the old one.

[image: 2019-07-25_09-43-18.png]

I've tried unloading the plugin and reloading it again. No luck.

On Thu, Jul 25, 2019 at 6:44 AM James G <notifications@github.com> wro

[2019-07-25 16:56] hakkennce commented on #331
even i'm  facing the problem

[2019-07-25 16:57] jamesozzie commented on #331
@michaelserra I suspect there could be security software / firewall settings restricting the ability to proceed, alternatively there could be restrictions on the creation of projects in Google Cloud Platform from within your G Suite account.

Just to rule out this being a network/firewall issue can you attempt again using your browser in a new incognito window, preferably on a different machine?

[2019-07-25 18:44] everything-it opened #333 "Oauth service not available"
Tried to set up activated plugin, but couldn't get past the 1st step. This is discouraging...

Maybe you need to test for existing Google accounts in the registration process? Because I have multiple accounts, which I now have a hard time navigating there are so many features...I was hoping that this would pull everything in to 1 place and make it easier...but not if it doesn't work.

Also you may

[2019-07-25 19:25] Schwarttzy commented on #331
Same boat, keep getting "Something went wrong, warning The service is currently unavailable."

[2019-07-25 19:33] Schwarttzy opened #334 "The service is currently unavailable."
## Bug Description

Uploaded the plugin, click the button "developers.google.com/web/sitekit"

Go to the new tab and click the button "Get OAuth Credentials"

And then I get "Something went wrong." and says "The service is currently unavailable."

I wonder if I can manually get the the "OAuth Credentials" or if the issue is with other plugins like gmail SMTP having some

[2019-07-25 20:07] Schwarttzy commented on #334
I just noticed that the part about disabling add block should probably mention about disabling it on your own website... not sure if that helps at.

I have my blocker disabled on both my website https://schwarttzy.com/ and https://developers.google.com/ and still get the service error

[2019-07-25 22:01] Schwarttzy commented on #334
Just started working... not sure how

[2019-07-25 22:01] #334 closed

[2019-07-26 06:17] coolnaveesh commented on #329
working.Thanks

[2019-07-26 06:17] #329 closed

[2019-07-26 08:23] jamesozzie commented on #331
@Schwarttzy We can check for any G suite restrictions next. [Here](https://support.google.com/a/answer/9197205?hl=en) is a guide to enable Google Cloud Platform from G Suite. If you are not an administrator can you check with your admin to see Google Cloud Platform is enabled.

On the page where you seeing the error message can you share any console error message.

[2019-07-26 08:46] swissspidy commented on #110
Added a suggested changelog entry to the the issue:

[2019-07-26 08:48] Serkan69 commented on #324
@jamesozzie it is unfortuantely not working :(

Analytics
Looks like you don't have Analytics account yet. Once you create it click "Re-fetch my account" and Site Kit will locate it.

When I click on Re-Fetch it will just load the progress bar, but do nothing :(

[2019-07-26 10:32] aaemnnosttv commented on #328
Thanks @swissspidy

It's also worth noting that `PUPPETEER_SLOWMO` [can be set by a cli argument as well](https://github.com/WordPress/gutenberg/blob/09f67ea31625d61600fdcfe4ff42b923a606cec4/packages/scripts/scripts/test-e2e.js#L48) using the `--puppeteer-slowmo {ms}` option.

[2019-07-26 10:46] swissspidy commented on #333
There seemed to be some service disruption during the time of your report, which caused the plugin setup to not function properly.

Perhaps you could try it again today?

During the setup you can choose with which Google account you'd like to connect with.

[2019-07-26 10:47] swissspidy commented on #331
Looking at https://status.cloud.google.com, it seems like there were some service disruptions yesterday.

Please try again today 🙂

[2019-07-26 11:31] jamesozzie commented on #324
@Serkan69 Have you tried using an incognito window? If not please attempt the same steps again (disabling Monster Insights first) and then re-connecting the Analytics module.

If that fails please share any [console errors](https://i.imgur.com/f5WfLb3.png) you see on the same screen where you don't see your analytics account.

[2019-07-26 11:57] Serkan69 commented on #324
@jamesozzie
yes, like i said, i have set it up correctly and also tried as people mentioned before the incognito mode with google chrome, but it didnt work either :(

Also I do not get any errors, it is tryting to connect, and re-fetch my analytics account, for ever....while nothing is happening.

[2019-07-26 13:15] jamesozzie commented on #324
@Serkan69 Thanks for checking. You have a large number of plugins, any of which could be conflicting. It would be great to try and rule some of them out if you were to setup a staging site. If you have the capacity you could also check the following:
- Firewall / security software setup on your host
- Desktop applications with networking / web features
- Check using an alternate theme

Do you have

[2019-07-26 13:40] kaupok commented on #331
@swissspidy Still an issue.

![image](https://user-images.githubusercontent.com/3765564/61955621-11e23900-afc4-11e9-8981-edd2da264e96.png)

[2019-07-26 14:03] Serkan69 commented on #324
@jamesozzie
Sooo I have just checked the google site kit on a different site, same webhoster, same computer, same security, same brwoser. Just with different plug ins.

So it has to do anything with any of my plug ins it seems....but which one could it be?

[2019-07-26 14:28] michaelserra commented on #331
I have it up and running today... Seems it might have been service
disruptions.

*Michael Serra*
*First Place Fitness Equipment*
*Sales Rep.*
MSerra@FirstPlaceFitnessEquipment.com
904-998-0738 office
www.1PFE.com <http://www.1pfe.com/>

*Find A Location Near You Click Here!
<http://firstplacefitnessequipment.com/home/our-locations/>*

On Fri, Jul 26, 2019 at 9:40 AM Kaupo Kõrv <notifications@githu

[2019-07-26 15:48] swissspidy commented on #331
Excellent. I am closing this for now then.

[2019-07-26 15:48] #331 closed

[2019-07-26 15:51] jamesozzie commented on #324
@Serkan69 Nice troubleshooting, it would be great to find out which one. I know you've tested a couple already, maybe we try more by process of elimination? I'm not familiar with all those plugins, but I can check some also

[2019-07-26 16:12] Serkan69 commented on #324
@jamesozzie
yeah, thank you very much!
I will try to check some of them by tomorrw:
It is definately not:
Astra Pro
Elementor
Elementor Pro
WPvivid Backup Plugin
DSGVO All in one for WP
Insert Headers and Footers
WPS Hide Login
WPS Limit Login

the rest ill disable one by one...and see then :)

[2019-07-26 17:10] lilybonney commented on #249
@circlecube - I believe @swissspidy left some comments on the CR for you to address. Moving this back to Development for that work. Once you're finished, just move this back to Code Review for a second pass. Thanks!

[2019-07-26 17:37] circlecube commented on #249
Thank you @lilybonney, issues are addressed and back to code review with @swissspidy now.

[2019-07-26 18:06] Fu-San opened #336 "Allow modifications on the adsense code"
Currently there isn't any way to make modifications (ex. make anchor tags always come from bottom) to the adsense code. Make it easier for new/novice users to do this kind of modifications.

## Feature Description

Within AdSense Auto Ads there are different ad formats (Display ads, in-fedd ads, matched etc) that users can enable or disable globally across their sites.

Some users would like addit

[2019-07-27 00:29] blairworks commented on #324
So, I have a site that is not yet public and so I gradually disabled all my plugins one by one. Still the same problem -- even after disabling all plugins and then reactivating Site Kit. Then, I changed my theme from Elementor's Hello Theme to the default TwentyNineteen theme and still have the problem.

All of this was done from within an Incognito window and I made sure the Varnish cache was tur

[2019-07-27 04:58] ktmn commented on #12
This fix is coming in 1.0.3? I currently have this problem with 1.0.2. I then installed the version from [here](https://github.com/google/site-kit-wp/issues/12#issuecomment-507299628), the "Issue accessing data" notice disappeared, but all reports are saying "data is not yet available, please check back later" except for one which says "Data error in Analytics - Your account does not have permissi

[2019-07-28 10:41] bagaweb commented on #240
@jamesozzie after updating to beta 1.0.2 there are no more errors but I ran into the same issue described here: #326

Will there be a fix for that issue in the next beta?

[2019-07-28 23:52] IanJSaul commented on #234
Aloha,

I have repeated the steps above, disabled every plugin on the site, and switched it to one of the default WP themes while troubleshooting, and have had no luck getting it to fetch my Analytcis.

I've reset the Site Kit plugin, bypassed all caching options, specifically CloudFlare, and wipe all caches before testing.

Tried two browsers with no plugins enabled on them, cleared all browser c

[2019-07-29 03:30] sheykc opened #338 "Creating oAuth and missing SSL for Site"
Trying to setup my website with Google SiteKit and running into an issue trying to activate.

First time I tried to authorize, I entered my gmail account and clicked on the blue button - "GET AUTH CREDENTIALS". It returned my oAuth Credentials so I can copy back into WordPress. I copy and paste and after I click on Proceed I am returned to my Wordpress dashboard and asked to sign in to Google agai

[2019-07-29 04:14] sheykc commented on #338
I fixed my own issue. I did not have https:// setup in the "General Settings" menu of WordPress even though my site was using a certificate. I deleted the site kit again, opened the site in an incognito window and this time was successful with the entire process. I also deleted all the existing API's for this domain before I tried again.

[2019-07-29 04:14] #338 closed

[2019-07-29 06:19] felixarntz commented on #249
@circlecube Please make sure to assign the issue as applicable next time: Either just unassign yourself if you completed the first iteration, or unassign yourself and assign back the original reviewer if you worked on it as part of a request for changes. :)

Just assigned this back to @swissspidy accordingly.

[2019-07-29 07:03] felixarntz commented on #89
Implementation brief looks good.

[2019-07-29 07:39] felixarntz opened #339 "Empty batch request being run"
## Bug Description

Under certain conditions, the Site Kit dashboard triggers an empty batch request. This doesn't cause any visual errors, but is unnecessary and results in the request response being a 400 (because empty batch requests are a "Bad Request"). If a potential batch request doesn't include any actual request, it shouldn't be made.

## Steps to reproduce

Leave your browser console tab

[2019-07-29 07:41] felixarntz commented on #222
@xguiboy The failing request you outlined in https://github.com/google/site-kit-wp/issues/222#issuecomment-512264834 is another bug, which is most likely unrelated to the original problem you described in this issue. I opened #339 for fixing that specific failing request.

[2019-07-29 08:03] felixarntz opened #340 "Make module's data response parser method aware of request data"
## Feature Description

This is a technical enhancement addressing an architectural shortcoming, most recently noticed in #335, but also in other areas of the codebase touched during the original PHP refactoring. Here's the problem:

* Google API requests are handled in two areas: There's a `create_data_request()` method and a `parse_data_response()` method. This separation exists so that batching

[2019-07-29 08:10] swissspidy commented on #249
Review done, now awaiting QA.

[2019-07-29 09:41] jamesozzie commented on #336
@Fu-San Thanks for the suggestion. Site Kit uses Auto Ads (Auto Ads for AMP). The [recommended placement](https://support.google.com/adsense/answer/7477845?visit_id=636999898112983780-2950766490&rd=1) for Auto Ads code is within the <head> tags on a users website. As intended this is where Site Kit places the code.

If you have other suggestions feel free to also add them individually, with some s

[2019-07-29 09:45] jamesozzie commented on #324
@blairworks Thanks for the info. Do you have any potential conflicting software either install on your local computer or security/firewall programs active on your web host?

[2019-07-29 09:54] felixarntz opened #341 "Make Analytics property lookup scalable for matching property"
## Bug Description

Currently, Analytics properties are queued up per Analytics account (necessary per API limitations) and compared with either an existing tracking ID or the website URL. This approach is not scalable if somebody has too many Analytics accounts, as it happens via individual requests (from Site Kit client to Site Kit server, and from Site Kit server to Google API).

In addition, t

[2019-07-29 10:10] jamesozzie commented on #234
@IanJSaul Do you have any security or firewall extension installed and active on your web host?
Can you also send any chrome console errors or [XHR responses](https://i.imgur.com/jLBwBdH.png)?

[2019-07-29 10:12] swissspidy commented on #181
PR approved, moved to QA column 👍

[2019-07-29 11:12] gmmedia opened #342 "Tag Assistant Chrome Extension: Analytics Non-standard implementation flagged using Site Kit"
The [Google Tag Assistant Chrome Extension](https://chrome.google.com/webstore/detail/tag-assistant-by-google/kejbdjndbnbjgmefkgdddjlbokphdefk) alerts that the Analytics tag is a Non-standard implementation.

Although, tracking is working.

Maybe something to optimize, if that appears on all installations.

## Screenshots

![nonstandard](https://user-images.githubusercontent.com/7474702/62043812-9

[2019-07-29 13:14] lucymtc commented on #83
Discussed with @felixarntz and agreed on moving the ticket back to Implementation Brief for next sprint as some requirements have changed and need to be updated and re estimated

[2019-07-29 13:21] felixarntz commented on #83
See https://github.com/google/site-kit-wp/pull/311#pullrequestreview-267679938 for additional requirements determined during work on the PR. In order to get the correct properties included in the `get-accounts` response, that datapoint has to be aware of an eventual existing tag (and the property associated with it). Therefore the existing tag detection must happen first.

[2019-07-29 13:23] felixarntz commented on #83
@lucymtc Please also have a look at #341 and whether the separation for these two pieces makes sense as it is. They are closely related, and we shouldn't do too much work here that #341 would invalidate.

[2019-07-29 13:50] lucymtc commented on #83
thanks @felixarntz
leaving here as a note, we also need to have a way for the user to refresh in the case they remove the existing tag, right now if you have existing tag and have access to it, even if you remove it, it’s still stored in session storage, so user still gets warned about it

[2019-07-29 14:16] lucymtc commented on #249
QA looks good

[2019-07-29 14:19] cyberlicious commented on #325
Ditto for us on this request please.  After updating all of our partners in GSC to Domain Property and removed their HTTP, HTTPS and non-www properties, we had to go back to add their HTTPS property in order to use the plugin for their sites.

[2019-07-29 16:17] adamsilverstein commented on #181
QAing this fix in the branch `fix/181-tagmanager-error-message` from https://github.com/google/site-kit-wp/pull/321...

The new notice for the second admin looks good:

![image](https://user-images.githubusercontent.com/2676022/62064026-4256ec80-b1e9-11e9-912e-f19950b6c458.png)

As a user, I'm a little confused by this part of the notice:

How do I do that? Can we make that a bit clearer to the us

[2019-07-29 17:24] swissspidy commented on #217
I made a slight modification to be more explicit about what kind of changes need to be done to the ESLint configuration.

The last part, `Fix any lint warnings and errors after new configuration.` might be a bit too vague. I guess most issues will only pop up once the actual changes are done, but here's something that comes to mind:

1. For the linting to be as effective as possible, this would id

[2019-07-29 18:04] swissspidy commented on #270
Code review: ✅

[2019-07-29 18:16] Fu-San commented on #336
Yes, I agree sitekit places the adsense code on the correct place. But the problem is that there isn't any possibility to do any modification here.

For example if someone wanted to stop anchor ads from autoads to coming from top, according to to help center he has to do some modification. (https://support.google.com/adsense/answer/7478225?hl=en)

That kind of modifications isn't possible at the m

[2019-07-29 18:17] Fu-San commented on #336
@jamesozzie
Yes, I agree sitekit places the adsense code on the correct place. But the problem is that there isn't any possibility to do any modification here.

For example if someone wanted to stop anchor ads from autoads to coming from top, according to to help center he has to do some modification. (https://support.google.com/adsense/answer/7478225?hl=en)

That kind of modifications isn't possi

[2019-07-29 19:09] felixarntz commented on #221
@bjackson27 @aaemnnosttv What is this regarding? Wouldn't the first admin "activate Site Kit"? In theory the first admin could deactivate Site Kit again after completing the setup, and then a second admin could reactivate it. This is a possible scenario, but if this issue here covers that case, it would be really low priority, as it's kind of trivial.

[2019-07-29 19:12] felixarntz commented on #256
@bjackson27 @aaemnnosttv What is this about? An editor cannot "activate Site Kit". Could you please clarify?

Another note regarding workflows, please don't add a changelog entry when opening an issue. It should be provided when the implementation is clear, and in the specific case of E2E tests always be set to "N/A".

[2019-07-29 19:12] felixarntz commented on #260
@bjackson27 @aaemnnosttv What is this about? A contributor cannot "activate Site Kit". Could you please clarify?

[2019-07-29 19:19] felixarntz commented on #250
@aaemnnosttv Which parts of the authorization flow does this cover exactly? I'm asking because from what I can tell, we have separate groups of E2E issues for handling the setup flow for various groups:
* second admin (#253, #254, #255)
* editor (#257, #258, #259)
* contributor (#261, #262, #263)

The title/description on all of these are very vague, so the above is based on my assumption for what

[2019-07-29 19:21] felixarntz commented on #271
@bjackson27 @aaemnnosttv What are the "test user accounts"?

[2019-07-29 19:24] felixarntz commented on #273
@bjackson27 @aaemnnosttv What does "editing functionality" refer to?

[2019-07-29 19:29] felixarntz commented on #266
Search Console setup should be covered in an E2E issue for the plugin setup flow. Once it's set up, the functionality is trivial and there's no user interaction - so no purpose to test its data display in the Site Kit dashboard, as it's covered by visual regression testing.

[2019-07-29 19:29] #266 closed

[2019-07-29 19:32] felixarntz opened #344 "Module Setup Flow | Analytics: Existing account, no existing tag"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Tests must cover the following:
* User clicks Activate Analytics button in Settings
* two alternative scenarios:
    1. if there is an existing property that matches site URL
        * dropdowns are shown, matching property and owning account are preselected

[2019-07-29 19:34] felixarntz commented on #269
@bjackson27 @aaemnnosttv I wonder whether we should combine #271 and #272 in this issue here and close them instead? Alternatively, we implement one of the two first and add the other one once the first one is merged - they shouldn't be worked on at the same time I feel, since that would likely produce conflicts.

[2019-07-30 01:13] blairworks commented on #324
@jamesozzie Not that I know of. This site is using a DigitalOcean instance using a management interface by Cloudways. I've never run into any previous firewall-related issues over there and so I'm thinking it is fairly permissive. Also, please note I had no trouble connecting to my Search Console profile -- that seemed to work just fine.

I looked through the logs that I have access to for PHP, Ng

[2019-07-30 07:25] swissspidy opened #345 "Dialog Component Accessibility Issues"
## Bug Description

The Dialog component uses `role="alertdialog"` and thus `aria-labelledby` and `aria-describedby` attributes. These contain the ID of the element that labels/describes the dialog: `aria-labelledby="remove-module-dialog"` and `aria-describedby="remove-module-dialog-description"`, respectively.

Now, there are a couple of issues here:

First, these attributes are not necessarily u

[2019-07-30 07:35] aaemnnosttv commented on #269
It seems like there may be some overlap between the issues. #272 provides much more information in terms of what should be tested I think, which is great. I feel like #271 needs more information.

Perhaps we should split the specific flows into their own issues? If we broke them down into separate smaller tests, it might make them easier to work on in parallel.

[2019-07-30 07:53] aaemnnosttv commented on #271
@felixarntz I've updated the description to include the cases from our document.

[2019-07-30 08:02] aaemnnosttv commented on #250
@felixarntz this test is currently for the initial setup for the first admin.

[2019-07-30 08:11] aaemnnosttv commented on #221
@felixarntz I'm thinking this is about testing the setup flow with a second admin since it skips the client configuration.

[2019-07-30 08:42] aaemnnosttv commented on #273
I believe "editing functionality" is specific to certain modules, such as Analytics which provide an edit link to change configuration of the service after it is connected (Settings > Connected Services).

This should probably be part of a module-specific test for modules that have editable configuration. I'm not sure we need a dedicated issue for testing generic functioning of the settings page s

[2019-07-30 08:49] aaemnnosttv commented on #260
Perhaps this is a test to ensure that a contributor cannot activate Site Kit?

[2019-07-30 09:21] swissspidy commented on #260
That doesn't really make sense as that's core's job to prevent. Perhaps it's about the auth flow?

[2019-07-30 09:41] felixarntz commented on #181
You'd need to edit the Tag Manager settings. Given the context, I'm not sure how to clarify this better. The other consideration is that we maybe shouldn't even make it too obvious: If the first admin set up a Tag Manager account, the secondary admin shouldn't just delete it because they don't have access. We should continue to emphasize the "you can either request access from your team".

Makes s

[2019-07-30 09:46] felixarntz commented on #269
@aaemnnosttv Makes sense. Let's leave #271 as one, I believe that's fair because it only tests a similar flow with different types of accounts. #272 can be split into multiple ones, I'll review that with Mariya.

[2019-07-30 09:49] felixarntz commented on #221
Thanks @aaemnnosttv, updated the title (also those of similar issues) accordingly.

[2019-07-30 09:50] felixarntz commented on #260
@aaemnnosttv Given your comment https://github.com/google/site-kit-wp/issues/221#issuecomment-516314075, this is probably about the initial authentication for a contributor.

[2019-07-30 09:51] madbradj commented on #324
I have several sites on my own server. I have managed to configure 4 sites with Search Console, Analytics and Page Speed. No problems.

But the 5th site, which is more complex does not allow me to configure Analytics.  This is the initial error from console when I am on the refetch my account screen: wp-json/google-site-kit/v1/modules/analytics/data/get-accounts?_locale=user 500 (Internal Server E

[2019-07-30 09:56] felixarntz opened #346 "Tag Manager: If account set and user doesn't have any, show message that they don't have access"
## Bug Description

This came up during QA in https://github.com/google/site-kit-wp/issues/181#issuecomment-516059309: If there's a Tag Manager account already set and a secondary admin doesn't have access, the message that they don't have access should take precedence over whether that user does or doesn't have accounts themselves.

## Steps to reproduce

1. Setup Site Kit as usual for the first

[2019-07-30 10:00] felixarntz commented on #181
@adamsilverstein I opened #346 to address the issue you noticed separately, as it's a separate (though probably small) bug. If everything else here is fine, feel free to approve this QA.

[2019-07-30 10:05] felixarntz opened #347 "Module Setup Flow | AdSense: Existing user, with code on site, publisher ID matching"
See https://docs.google.com/drawings/d/1-D35Wco2BtaUdHLhmec4OcsMvKIb_W_QTmx7TxqBaOA/edit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* User clicks “connect service” for AdSense
* Requested to grant AdSense API scopes → yes
* Check if they have an account → account is detected and is already approved,

[2019-07-30 10:19] Samsonator opened #349 "Cannot redeclare GuzzleHttp\Psr7\_caseless_remove()"
## Bug Description

Attempting to activate SiteKit on a WordPress install that already has an active plugin that loads GuzzleHttp causes a fatal error as it can't be redeclared.

## Steps to reproduce

Install and Activate any plugin that loads GuzzleHttp (in my case it was https://github.com/humanmade/S3-Uploads but I believe this would affect any plugin making use of the AWS SDK).

Then attempt

[2019-07-30 10:28] lilybonney commented on #298
Assigning to @marrrmarrr for final review/approval!

[2019-07-30 10:51] aaemnnosttv opened #351 "Reset does not clear all options and metas"
## Bug Description

Triggering a reset through Site Kit does not remove the following:

#### User Options
* `googlesitekit_redirect_url`
* `googlesitekit_search_console_property`
* `googlesitekit_site_verified_meta`

#### Options
* `googlesitekit_tracking_optin`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crit

[2019-07-30 11:10] felixarntz commented on #66
@lucymtc Noticed two problems during QA:
1. If I create a new container **during module setup** and a container with the name already exists, no feedback error message is shown. Also, the existing container with that name is not selected.
2. If I have change the container **in module settings** and choose to create a new one, and a container with the name already exists, the feedback error message

[2019-07-30 12:56] felixarntz commented on #110
QA approved!

[2019-07-30 14:14] madbradj commented on #325
Same problem here. All domain properties now have https URLs in GSC.

[2019-07-30 14:29] felixarntz opened #352 "Admin can potentially access Site Kit dashboard before Search Console property is set"
## Bug Description

During the Site Kit setup flow, if you somehow quickly bail out of the flow...
* after site verification has completed
* before Search Console property is set up
...you can access the Site Kit dashboard (and module pages and settings page) afterwards, even though no Search Console property is set. Because of the missing Search Console property, it will obviously appear broken,

[2019-07-30 14:30] adamsilverstein commented on #181
Thanks for the comments and review @felixarntz - I will retest this once the PR is merged to develop, then approve this QA.

[2019-07-30 16:21] swissspidy commented on #274
Review: ✅

[2019-07-30 16:31] aaemnnosttv opened #353 "Update E2E bootstrap to simplify test set up and tear down"
## Feature Description

Currently, there are certain actions which are being performed in nearly every E2E test that will likely need to be done in all tests, such as resetting Site Kit. This should be performed in the set up for each test by pulling these repetitive actions into the e2e bootstrap file.

Suggested Site Kit utilities to add to bootstrap:
* `resetSiteKit()` https://github.com/google

[2019-07-30 16:43] swissspidy commented on #275
Review: ✅

[2019-07-30 16:51] adamsilverstein commented on #257
Closing this in favor of https://github.com/google/site-kit-wp/issues/253 where we will cover WP Dashboard all user types

[2019-07-30 16:51] #257 closed

[2019-07-30 16:51] adamsilverstein commented on #261
Closing this in favor of https://github.com/google/site-kit-wp/issues/253 where we will cover WP Dashboard all user types

[2019-07-30 16:51] #261 closed

[2019-07-30 16:58] adamsilverstein commented on #255
Closing this in favor of https://github.com/google/site-kit-wp/issues/254 which with test the WordPress Admin Bar integration both from the front and back end, for all user types.

[2019-07-30 16:58] #255 closed

[2019-07-30 16:59] adamsilverstein commented on #258
Closing this in favor of https://github.com/google/site-kit-wp/issues/254 which will test the WordPress Admin Bar integration both from the front and back end, for all user types.

[2019-07-30 16:59] #258 closed

[2019-07-30 16:59] adamsilverstein commented on #262
Closing this in favor of https://github.com/google/site-kit-wp/issues/254 which will test the WordPress Admin Bar integration both from the front and back end, for all user types.

[2019-07-30 16:59] #262 closed

[2019-07-30 17:00] adamsilverstein commented on #259
Closing this in favor of https://github.com/google/site-kit-wp/issues/254 which will test the WordPress Admin Bar integration both from the front and back end, for all user types.

[2019-07-30 17:00] #259 closed

[2019-07-30 17:00] adamsilverstein commented on #263
Closing this in favor of https://github.com/google/site-kit-wp/issues/254 which will test the WordPress Admin Bar integration both from the front and back end, for all user types.

[2019-07-30 17:00] #263 closed

[2019-07-30 17:11] adamsilverstein commented on #253
Potential tests:
* Dashboard widget should load (or not as appropriate for user)
* Widget should contain site kit header, link to site kit dashboard, set up analytics CTA
* Clicking "Visit your Site Kit Dashboard" link should take you to the dashboard.
* Clicking "Set up Analytics" CTA link should take you to the Analytics setup page

[2019-07-30 17:31] adamsilverstein commented on #254
Potential tests:
* Viewing a single post, the Adminbar menu should display on both the front end and admin (edit post) screen, or not - as user appropriate
* when hovering over menu, dropdoewn should load and display dropdown menu
* dropdown menu should contain string 'Stats for:' and the post title
* dropdown menu should contain ? search console display, analytics CTA
* clicking analytics CTA sho

[2019-07-30 18:38] abmario opened #355 "Analytics and Search Console connected but no data"
## Bug Description
I correctly connected Google Analytics and Search Console, but don't see data
## Steps to reproduce

4. See error

## Screenshots

## Additional Context

[2019-07-30 19:22] mlevison commented on #240
Getting exactly the same error in beta 1.0.2 - on step 2 after authorizing the OAuth on my google apps account I get the Unknown error.
- I can't reset sitekit since I don't get to the stage of having a version with settings
- It did work perfectly well on our staging site - although I didn't actually hook it up to the search console etc since I don't care about the data on staging. However since

[2019-07-30 19:45] lucymtc commented on #66
@felixarntz @marrrmarrr first issue from comment https://github.com/google/site-kit-wp/issues/66#issuecomment-516374137 has a fix on this PR https://github.com/google/site-kit-wp/pull/354

Second issue is a bit trickier and there are also a couple of questions around it:

- When the user selects from the settings page "Setup New Container", creating a new container is triggered after clicking on "

[2019-07-31 00:36] IanJSaul commented on #324
Having the same issue, and am hosting on DO via Cloudways.

[2019-07-31 01:38] IanJSaul commented on #234
I notice from browsing a few other threads that this may be related to either Cloudways or DigitalOcean.

I managed to add multiple other nearly identical (we run a standardized security and plugin suite on all sites), however, on this 4th-5th one, I'm running into this issue, so it doesn't make perfect sense for it to be tied to the servers.

I very much appreciate your assistance with this.

Her

[2019-07-31 03:55] archon810 commented on #324
In my case, downgrading to 1.0.1 fixed the issue and I was able to select the right property in the list. 1.0.2 does not find the didn't property and only lists a single site that isn't the right one, even though the JSON contains all the sites.

I'll probably start a new ticket for this issue.

[2019-07-31 07:01] #270 closed

[2019-07-31 07:01] #274 closed

[2019-07-31 07:01] #275 closed

[2019-07-31 07:01] #249 closed

[2019-07-31 07:13] felixarntz commented on #66
Code review and QA on the fix for the aforementioned 1. is good!

@marrrmarrr I suggest we create a follow-up issue for the following acceptance criteria:

* If a user chooses "Setup new container" and confirms, but then a container of that name already exists (there is already an error message displayed to indicate that), the existing container with this name should be selected.
* The error messa

[2019-07-31 08:30] felixarntz opened #356 "Module Setup Flow | Analytics: No existing account, no existing tag"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Tests must cover the following:
* User clicks Activate Analytics button in Settings
* button link to create account (externally) should be shown
* once account has been externally created, clicking "refetch" should make it work
* afterwards, we're in the sam

[2019-07-31 08:31] felixarntz opened #357 "Module Setup Flow | Analytics: Existing account, has existing tag"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Tests must cover the following:
* User clicks Activate Analytics button in Settings
* two alternative scenarios:
    1. if there is an existing property for that existing tag
        * dropdowns are shown, the property for the existing tag is preselected and

[2019-07-31 08:31] felixarntz opened #358 "Module Setup Flow | Analytics: No existing account, existing tag"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Tests must cover the following:
* User clicks Activate Analytics button in Settings
* a message is shown informing about the existing tracking code and that it comes from an external (non Site Kit) source, and that the user does not have access (they need to

[2019-07-31 08:35] marrrmarrr commented on #66
SGTM
@felixarntz let's follow up on the outstanding corner cases in a new issue

[2019-07-31 08:39] marrrmarrr commented on #298
LGTM

[2019-07-31 08:39] marrrmarrr commented on #110
LGTM

[2019-07-31 08:41] #110 closed

[2019-07-31 08:41] #298 closed

[2019-07-31 08:42] #66 closed

[2019-07-31 09:00] felixarntz opened #359 "Site Verification component already sets up Search Console"
## Bug Description

During the setup flow, the JavaScript `SiteVerification` component already deals with Search Console which it should not do in any way. There is a dedicated `SearchConsole` component (used in the respective setup wizard step) that should cover all this functionality.

It is important to distinguish that Site Verification API and Search Console API are two entirely separate enti

[2019-07-31 09:15] felixarntz opened #360 "Setup & Authorization Flow: Test Search Console Setup"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

This issue should expand on the existing test made in #250 and #251, covering the Search Console setup.

**This is most likely blocked by #359 which requires some bugs in the Site Verification and Search Console flows to be fixed.**

* Internal REST API requ

[2019-07-31 09:18] jamesozzie commented on #355
@abmario Can you please perform the following steps, the error you are encountering could be due to Ad Blocker, security plugin or chrome extension.

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any analytics tracking or reporting plugins
3. Temporarily deactivate other active security or firewall plugins
4. Install Site Kit in a new [incognit

[2019-07-31 10:36] jamesozzie commented on #234
@IanJSaul It's probably worth looking deeper into this, and creating a separate issue to dig deeper find the root cause. Before we do can you check the following from your Google Cloud Console:
- Ensure you have [enough resources](https://console.cloud.google.com/cloud-resource-manager) to create a new project. Clicking on the "Create Project" button should inform you of your remaining quota. Whil

[2019-07-31 10:36] swissspidy commented on #349
Related: #223

[2019-07-31 10:41] aaemnnosttv commented on #251
@felixarntz when you say "two alternative scenarios" it's a total of 2 scenarios that we're testing, correct?

[2019-07-31 10:41] lucymtc commented on #250
QA looks good.

[code]

[2019-07-31 10:44] aaemnnosttv commented on #250
Retroactively updating the estimate on this one to M to be more consistent with the change in scope that happened after work was started on it, per @lilybonney .

[2019-07-31 10:46] #250 closed

[2019-07-31 12:08] felixarntz opened #361 "GTM: Existing container of same name should be preselected"
This is a follow up to #66: When setting up Tag Manager, with an already existing container that is named after your site (e.g. manually created before): When you choose "Setup new container", currently an error is displayed because a container of the same name already exists. When that error message displays, the existing container of that name should be automatically preselected, and the user sh

[2019-07-31 12:09] felixarntz commented on #361
@marrrmarrr It would be great if you could specify the exact wording we should use to indicate that the existing container was selected (via the acceptance criteria).

[2019-07-31 13:34] mlevison commented on #240
Last detail if it helps I would happily to install a sitekit version with extra logging to see if I can sort this out.

[2019-07-31 13:43] jamesozzie commented on #326
@quangbahoa Where did that function exist?

[2019-07-31 13:52] marrrmarrr commented on #181
LGTM

[2019-07-31 13:52] #181 closed

[2019-07-31 14:16] abmario commented on #355
I desactivated wp-optimize, resetted site kit, and installed Site Kit in a new incognito window
And it is Always the same no data.

No error message
No console errors
Windows 10 firewall

Mario Verville, M.Sc.
34 Odette-Pinard
Québec, Qc, Ca

________________________________
De : James G <notifications@github.com>
Envoyé : Wednesday, July 31, 2019 5:18:43 AM
À : google/site-kit-wp <site-kit-wp@nor

[2019-07-31 14:22] felixarntz opened #362 "Fix release build process to exclude unnecessary files"
## Bug Description

The release ZIP created from `npm run release-zip` currently includes a few files that aren't necessary (either old relicts, or development-related):
* `/bin/local-env` directory
* `/dist/admin.js`
* `/dist/adminbar.js`
* `/dist/wpdashboard.js`

Correct me if I'm wrong, but I don't see these JS files used anywhere, the actual files for these areas are all below `/dist/assets`.

[2019-07-31 14:26] swissspidy opened #363 "Add option to skip uninstall hook"
## Feature Description

If I want to briefly delete the plugin to then upload a new version from a ZIP file, all my data is removed because of the uninstall handler.

I suggest adding an option on the settings page to toggle this behavior. Many plugins already do this, since core itself doesn't support that yet.

As a user, I'd expect to be able to turn off the data deletion in the Site Kit settin

[2019-07-31 14:35] adamsilverstein commented on #362
`/bin/local-env` is a new folder and will need to be explicitly excluded.
`/dist/admin.js` `adminbar` and `wpdashboard` all appear to be unintentional build artifacts - ideally these files should not be created at all.

Looks like they are coming from here: https://github.com/google/site-kit-wp/blob/6ceafe33e0b5119211d23ba7c15193cdee17a08f/webpack.config.js#L288-L337

[2019-07-31 15:01] jamesozzie commented on #355
@abmario Can you share a screenshot of your Site Kit dashboard, so I can see the notice it displays.

[2019-07-31 15:18] abmario commented on #355
[cid:image003.png@01D54791.AF2BC910]

Mario Verville, M.Sc.
34 Odette-Pinard
Québec, Qc, Ca

________________________________
De : James G <notifications@github.com>
Envoyé : Wednesday, July 31, 2019 11:01:45 AM
À : google/site-kit-wp <site-kit-wp@noreply.github.com>
Cc : abmario <marioverville@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [google/site-kit-wp] Analytics and Search

[2019-07-31 15:22] Serkan69 commented on #324
how can i download, downgrade to 1.0.1???
maybe that would work for me :)

[2019-07-31 15:41] aaemnnosttv opened #365 "Google icon appears too close to dashboard widget title"
## Bug Description

The Google icon appears too close to the "Site Kit" text in its dashboard widget title.

## Steps to reproduce

* Activate + Set up Site Kit
* View Dashboard

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/62226050-e099ac80-b3b9-11e9-91ab-c9b1b91071c8.png)

## Additional Context

 - PHP Version: 7.3
 - OS: MacOS
 - Browser Chrome
 - Plugin Version be

[2019-07-31 16:18] jamesozzie commented on #324
@Serkan69 I wouldn't suggest downgrading versions, the current Site Kit version remains a developer release with improvements on the previous version. You issue seems to be plugin related based on your previous tests. Did you get a chance to check the plugins you mentioned?

[2019-07-31 16:24] jamesozzie commented on #240
@mlevison Certainly, it would be great to find the root cause. The following would be useful:
- [XHR Response](https://i.imgur.com/jLBwBdH.png)
- WordPress environment details (you can use a plugin such as [Debug Info](https://i.imgur.com/VhGa8ob.png))
- Any debug or PHP Errors

[2019-07-31 16:43] #231 closed

[2019-07-31 17:31] jamesozzie commented on #233
@asitaaa Looking at your initial screenshot also the property is greyed out. This means the property is either scheduled for deletion already or that you don't have full admin permissions to that property. If it's the former (scheduled for deletion) then you can wait for 35 days before it's removed from view using that account.

If the primary issue you are encountering remains (Analytics property

[2019-07-31 18:01] felixarntz opened #367 "Users get stuck in Analytics setup if there is no matching property"
## Bug Description

On a new site, if you have Analytics accounts, but no property that matches the current site, you see the "Create an account" / "Re-fetch my account" buttons, although you should actually see the dropdowns (since you have 1+ account/s).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

[2019-07-31 18:06] felixarntz commented on #365
@aaemnnosttv I can't replicate this. Can you double-check your environment? Does it only happen on a specific page?

[2019-07-31 18:22] aaemnnosttv commented on #367
Dropdowns show as expected.

![image](https://user-images.githubusercontent.com/1621608/62237173-d1722900-b3d0-11e9-9e8c-7d16f2892444.png)

QA passed 👍

[2019-07-31 18:24] #367 closed

[2019-07-31 18:31] #300 closed

[2019-07-31 18:36] mlevison commented on #240
@jamesozzie Well I got the XHR data and at 65,000+ lines its a tad larger than I could email. In any case it advertises a fair amount about the details of my site and its config. I will save the XHR and other info a dropbox folder and I can share that with you. Question how can I get the dropbox link to you privately. My email mark at agile pain relief dot com.

[2019-07-31 19:04] abmario commented on #355
Problem solved, I tried with google chrome and it works

Mario Verville, M.Sc.
34 Odette-Pinard
Québec, Qc, Ca

________________________________
De : James G <notifications@github.com>
Envoyé : Wednesday, July 31, 2019 11:01:45 AM
À : google/site-kit-wp <site-kit-wp@noreply.github.com>
Cc : abmario <marioverville@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [google/site-kit-wp] A

[2019-07-31 19:08] aaemnnosttv commented on #357
Just noting that the Analytics module must be disconnected via settings for it to recheck the existing tag. Cancelling and resuming the module setup is not sufficient.

![image](https://user-images.githubusercontent.com/1621608/62240129-8c50f580-b3d6-11e9-80a6-1c852d5d639a.png)

Resetting Site Kit would also work.

[2019-07-31 19:26] #200 closed

[2019-07-31 19:28] jamesozzie commented on #161
Closing this ticket with no response received. If you are encountering the same issue feel free to reopen.

[2019-07-31 19:28] #161 closed

[2019-07-31 19:29] jamesozzie commented on #159
I will close this ticket as I didn't receive a response and I am unable to replicate the issue from my side. If the problem persists feel free to reopen.

[2019-07-31 19:29] #159 closed

[2019-07-31 19:33] jamesozzie commented on #24
@United982000 Were you able to create your own credentials using the suggested method above?

[2019-07-31 19:39] jamesozzie commented on #150
I will close this ticket as I didn't receive a response and I am unable to replicate the issue. If the problem persists feel free to reopen.

[2019-07-31 19:39] #150 closed

[2019-07-31 19:45] jamesozzie commented on #228
@bobonski @IdioticDoodler Does the issue you are encountering persist? If so please inform me of the below:
- Any console errors
- WordPress environment (You can use a plugin such as "[Debug Info](https://i.imgur.com/VhGa8ob.png)" to share your environment)

[2019-07-31 19:46] #225 closed

[2019-07-31 19:49] jamesozzie commented on #355
@abmario Good to know. What browser were you using prior to Chrome?

[2019-07-31 19:55] abmario commented on #355
cyberfox

Mario Verville, M.Sc.
34 Odette-Pinard
Québec, Qc, Ca

________________________________
De : James G <notifications@github.com>
Envoyé : Wednesday, July 31, 2019 3:49:11 PM
À : google/site-kit-wp <site-kit-wp@noreply.github.com>
Cc : abmario <marioverville@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [google/site-kit-wp] Analytics and Search Console connected but no dat

[2019-08-01 07:40] lucymtc commented on #83
@felixarntz also assigning this ticket to you so it's in your radar for reviewing the doc with suggested updates for IB.

[2019-08-01 08:10] lucymtc opened #369 "Issues in search for individual page or post by title or url"
## Bug Description
While searching posts by title in the individual post search "No results found" is returned when the string includes spaces or accents.
Also searching by URL returns "No results found"

## Steps to reproduce

1. Go to Site Kit -> Dashboard
2. Scroll down to "Search for individual page or post information"
3. Enter a word of an existing post title and see results showing, then ad

[2019-08-01 08:27] #355 closed

[2019-08-01 09:18] quangbahoa commented on #326
@jamesozzie  It's a custom function and maybe include in some cache plugins.

[2019-08-01 10:16] jamesozzie commented on #326
Thanks @quangbahoa. I couldn't locate a similar function in Breeze but good to know.

[2019-08-01 11:24] scottwyden commented on #324
I have the same issue with api-fetch.min.js giving a 500 error. I have different plugins, have tried without plugins active and run on WP Engine. No luck getting past it.  I have another site also on the same WPE server and it connected fine.

[2019-08-01 12:37] lucymtc opened #370 "Analytics snippet not inserted by default"
## Bug Description
After setting up Analytic module the setting useSnippet is set to false when it should be true by default.

## Steps to reproduce

1. Activate Analytics module.
2. Go through setup flow and save settings.
3. Go to Site Kit -> Settings -> Connected Services
4. Expand Analytics settings and see "Snippet is not inserted"
5. In the console from devtools type `googlesitekit.modules.a

[2019-08-01 13:56] steffi-usa opened #371 "AdSense Ads.txt auto placement via SiteKit"
Does the plugin ad the ads.txt file for adsense?

The below notice appears from users AdSense accounts when a domain gets approved for AdSense.
<img width="1348" alt="Screen Shot 2019-08-01 at 5 30 54 PM" src="https://user-images.githubusercontent.com/41326532/62310763-2457e900-b482-11e9-9934-22eb1997870b.png">

## Feature Description
Without an Ads.txt file placement on a users site warnings will

[2019-08-01 16:25] jamesozzie commented on #371
@steffi-usa While the plugin doesn't place the ads.txt file at present. It's a great suggestion for future releases. I will mark this as a feature request and keep it open. In the meantime there you can follow the steps [here](https://support.google.com/adsense/answer/7532444?hl=en) to create your own ads.txt file.

[2019-08-01 16:28] lilybonney opened #372 "Investigate Multi-Environment QA Setup"
This ticket is for @adamsilverstein to look into whether or not a Pantheon multi-environment QA setup would be the optimum route to go down for future Site Kit QA testing and releases. His work will be supported by an existing Pantheon proof of concept (assembled for testing this theory) and the ideal deliverable will be some sort of document, design, or schema, outlining how the Pantheon-based so

[2019-08-01 16:38] RenaudGagne opened #373 "Non-Template Based Builder Incompatibility"
## Bug Description
Hi, I tried with various theme settings and I discovered that everything works except with Non-Template based page builders

## Steps to reproduce

1. Install Oxygen Builder
2. Setup Google Kit
3. Authentify Analytics
4. Unable to find account

## Screenshots

![Waters Edge v2 — WordPress](https://user-images.githubusercontent.com/14856170/62311099-09bd4a00-b459-11e9-97f9-6b168f

[2019-08-01 17:34] steffi-usa commented on #371
Thank you for the answer

[2019-08-01 18:00] RenaudGagne commented on #373
@jamesozzie I've also opened a ticket on Oxygen Buillder github:
https://github.com/soflyy/oxygen-bugs-and-features/issues/459

[2019-08-01 20:21] quindo commented on #294
Coming back to this, I can confirm that disabling mod security allows setup to continue.  If you re-enable it and attempt to continue setting up different products you are likely to run into this error again.

[2019-08-01 21:05] quindo commented on #324
Can Confirm WP Super Cache was causing this issue for me.  Disabling Caching (Not the plugin) fixed it.

[2019-08-02 01:42] IanJSaul commented on #234
The latest release 1.0.3 has fixed the issue.

The only other change I made during this period, was to not only disable, but also uninstall Breeze, which is a Cloudways specific caching plugin.

Thank you James!

[2019-08-02 07:14] hzv4424 commented on #24
yes
after changing url
error not appeared.

[2019-08-02 07:30] ahiadh opened #374 "Issue Accessing Data: You need to reauthenticate your Google account - error"
Hello :)

After successfully connecting the site-kit to my website, it seems that the google analytics is not connected (i can see info from the search console).

I get the error "Issue accessing data You need to reauthenticate your Google account.".

Bellow there is a "click here" button that allows me to give google the permissions it asks for but goes back again to the "Issue accessing data" er

[2019-08-02 08:41] aaemnnosttv opened #375 "Some REST API responses returning incorrect status codes"
## Bug Description

Many API requests are coming back to the browser as 500 errors as a default status for a failed request due to insufficient permissions, etc - not due to an error on the server which is what `5xx` errors indicate.

There are many places where `WP_Error`s are used as the means of returning an unsuccessful response such as `\Google\Site_Kit\Modules\Search_Console::create_data_req

[2019-08-02 08:56] #294 closed

[2019-08-02 09:19] jamesozzie commented on #324
#375

[2019-08-02 09:36] lucymtc commented on #362
For the js files, this is known issue in webpack and there doesn't seem to be a straight forward way to prevent these files from being created from the webpack config. The safest way is to exclude them from being added to the release zip.

[2019-08-02 09:50] lucymtc commented on #359
@felixarntz have discussed with @aaemnnosttv about the possible approaches to go with the verification step.
One would be to create a new REST endpoint for siteverification in `REST_Routes`
The other would be to add a siteverification module that would just be a backend module with no presence in the front end and only used for setup flow, this would definitely be simpler for implementation as we

[2019-08-02 10:50] jamesozzie commented on #374
@ahiadh This error was reported previously and could be as a result of caching or security plugin conflicts or ad blockers. Can you try the following:
1. Remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Temporarily deactivate any security plugin (iThemes security, Monster Insights etc), along with any ca

[2019-08-02 11:40] enusdigital commented on #117
I have tried everything and nothing seemed to work, the last thing I tried was disabling mod_security and it worked like a charm.

I use Divi theme also but it was fairly easy for me to diable mod_security since  recently migrated to a cPanel based server.

[2019-08-02 11:43] jamesozzie commented on #373
@RenaudGagne Can you share any console errors you see when using Oxygen Builder, errors from the same screen you highlighted, "refetch my account".

[2019-08-02 13:32] jamesozzie commented on #117
Closing with no response from original user

[2019-08-02 13:32] #117 closed

[2019-08-02 13:34] #224 closed

[2019-08-02 13:41] #216 closed

[2019-08-02 13:54] #237 closed

[2019-08-02 14:06] jamesozzie commented on #230
@bjackson27 I will close this ticket now but if you are encountering the same issue feel free to reopen.

[2019-08-02 14:06] #230 closed

[2019-08-02 14:09] jamesozzie commented on #289
@khaled77889 Are you encountering the same issue? You mentioned you had it resolved previously, if so I will close the issue.

[2019-08-02 14:18] jamesozzie commented on #284
Closing this as there is an [option](https://i.imgur.com/ooenBW1.png) from within Analytics to create views, which provide the option to exclude visitor numbers "from known bots".

[2019-08-02 14:18] #284 closed

[2019-08-02 14:20] jamesozzie commented on #283
Closing this ticket with no response from submitter

[2019-08-02 14:20] #283 closed

[2019-08-02 15:04] jamesozzie commented on #282
@ramonolivencia There is a similar issue outlined [here](https://ie.godaddy.com/community/Managed-WordPress-Hosting/EMPTY-CART-30sec-cache-issue-on-Cart/td-p/128490) on the GoDaddy support forums. As the issue is not specific to Site Kit and more Tag Manager in general I will close this issue

[2019-08-02 15:04] #282 closed

[2019-08-02 15:15] jamesozzie commented on #277
@BMUZAMMIL I will close this issue now, but if the issue remains feel free to reopen. If so please add any console errors that appear and provide any screenshots displaying the error

[2019-08-02 15:15] #277 closed

[2019-08-02 15:17] jamesozzie commented on #245
@jagadeeshiba Have you been able to troubleshoot the issue?

[2019-08-02 15:42] swissspidy commented on #369
Noticed that too on my site. Quite annoying :-)

[2019-08-02 15:46] jamesozzie commented on #242
@bburzycki Did you have any luck setting up Site Kit? If the above steps don't resolve your issue you can manually create your credentials.

[2019-08-02 16:00] jamesozzie commented on #336
@Fu-San I will label this as an enhancement, and modify the content for that specific feature.

[2019-08-02 16:38] jamesozzie commented on #323
@iuravic Were you able to setup Site Kit using your G Suite account, or have you checked with the admin for permissions?

[2019-08-02 16:41] jamesozzie commented on #320
@ShubhamGohar I will close this issue now. If the issue persists feel free to reopen and include any console errors.

[2019-08-02 16:41] #320 closed

[2019-08-02 16:43] jamesozzie commented on #315
@alaikke I will close this issue now. If you are encountering the same issue feel free to reopen, and include any console errors or additional context.

[2019-08-02 16:43] #315 closed

[2019-08-02 16:48] jamesozzie commented on #313
I will close this issue now. If you are encountering the same issue feel free to reopen, and include any console errors or additional context.

[2019-08-02 16:48] #313 closed

[2019-08-02 16:48] jamesozzie commented on #303
I will close this issue now. If you are encountering the same issue feel free to reopen, and include any console errors or additional context.

[2019-08-02 16:48] #303 closed

[2019-08-02 18:57] lilybonney opened #376 "Sprint: 4 Release"
Ticket to cover all engineering and QA work required by the Site Kit team for the Sprint: 4 release (scheduled for August 15).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-08-02 20:11] lucymtc commented on #260
@felixarntz noting here the message for author and contributor in splash page is different ( merged in this PR https://github.com/google/site-kit-wp/pull/322), should we include this in the acceptance criteria?

[2019-08-03 10:53] Adi010 commented on #24
Hey Guys i had exactly the same issue with the google search consol setup.
What i did and what helped me to solve it.
In wordpress i clicked on Settings-General-Site Title= here i wrote the name of my website example: www.mywebsite.com (write your webiste name) and after that i refreshed the google browser and it worked immediately . Try it out may it work for you too it should.
And please youse t

[2019-08-04 08:55] Serkan69 commented on #324
Sooo a final update for all:
Finally I have made it!!!
It was one of the WooCommerce plug ins:
Germanized für WooCommerce
PayPal PLUS für WooCommerce
WooCommerce
WooCommerce Amazon Pay Gateway
WooCommerce Cart
WooCommerce PayPal Checkout Gateway
WooCommerce Stripe-Gateway

I cant say clearly which one, because after disabling all of them, it finally works!
Then you can easily just turn on all plug

[2019-08-05 06:40] felixarntz commented on #359
@lucymtc @aaemnnosttv I think a dedicated Site Verification module is a great idea. However, I'm a bit worried making this change now, as I don't think we have the concept of "backend modules" right now - we wouldn't want the user to see any of it, which would likely require some infrastructure changes (even if just small ones).

This issue is most importantly about the JavaScript components and t

[2019-08-05 06:43] felixarntz commented on #362
Implementation brief looks good!

[2019-08-05 06:48] felixarntz commented on #55
@lucymtc The implementation brief for the AMP implementation misses a point (apologies if that didn't become clear from the acceptance criteria):

* Not just the `vars.config` property in the object should be filtered, but the entire object needs to be filtered. The reason is that there are other top-level properties than `vars` that developers may want to update.
* After running the filter, it ha

[2019-08-05 07:17] felixarntz commented on #359
A few pieces of feedback for the implementation brief:

Can you add some notes where/how these should be moved? E.g. there already is a call to `insert` in the `SearchConsole` component, but none to `save-property`.

Only the `requestSitePropertyList` (using `siteverification-list` datapoint) call should be needed for Site Verification. `is-site-exist` checks whether a property for the site exists

[2019-08-05 09:39] ChetnaC11 opened #378 "Fatal Error"
## Bug Description
Warning: require_once(/home/thougjz8/workoutwithcbd.com/wp-content/plugins/site-kit-wp-develop/vendor/autoload.php): failed to open stream: No such file or directory in /home/thougjz8/workoutwithcbd.com/wp-content/plugins/site-kit-wp-develop/includes/loader.php on line 18

My website is on WordPress https://workoutwithcbd.com/

## Steps to reproduce

1. Go to '...'
2. Click on '

[2019-08-05 10:23] swissspidy commented on #378
Hi there

It looks like you cloned this GitHub repository for development purposes.

If you do that, you need to **build** the actual plugin by following the steps over at https://github.com/google/site-kit-wp/wiki/Engineering, most notably `composer install`, `npm install`, and `npm run build`.

In case you don't want to contribute to the plugin and just give it a test, I recommend installing the

[2019-08-05 10:23] #378 closed

[2019-08-05 12:18] felixarntz commented on #359
Implementation brief looks good!

[2019-08-05 12:19] felixarntz commented on #55
Implementation brief looks good!

[2019-08-05 13:37] United982000 commented on #24
Yes, worked..  Not all services can be connected but the most are doing well.. Thanks a lot ;)

[2019-08-05 14:53] circlecube commented on #328
Ticket directs to `alter documentation` but I'm not finding existing docs regarding e2e testing. I'm happy to add docs here and wanted to confirm they should be added to the '/tests/REAMD.md' with the other testing docs in preference to the wiki. @swissspidy or @aaemnnosttv

[2019-08-05 14:58] swissspidy commented on #328
Current documentation is in the contributor handbook: https://docs.google.com/document/d/1M1gUI0FKnP3RcbgMsU6YltEtNCHaH_9YGbH8F-7JefA/edit#heading=h.21tk21w0qtqj

My understanding is that this doc will be moved to the wiki here on GitHub eventually.

[2019-08-05 17:32] circlecube commented on #328
That's right, sorry for the lapse, thanks for providing the link @swissspidy.

Ready for CR and added suggestions to the contributor handbook doc.

[2019-08-05 20:51] bburzycki commented on #242
I am waiting to move my server to the latest php to see if its resolves the issues

[2019-08-05 21:46] #289 closed

[2019-08-06 09:07] jamesozzie commented on #324
@Serkan69 That's useful to know, thanks for the input. I will check them out myself for further investigation

[2019-08-06 09:07] #324 closed

[2019-08-06 12:22] annakjaer commented on #278
Hi, I have encountered the same problem and I tried to use your solution as described above, however, I don't have a cloud console account which costs money and I won't give them my card details even though they don't autorenew after the free trial, and my sitekit plugin doesn't have a ''settings'' section, so I cannot reset it. I've tried deactivating it, I've tried incognito mode - nothing works

[2019-08-06 13:27] jamesozzie commented on #278
@annakjaer Are you seeing the same error message during authentication as the original (field [project_id] has issue [project_id contains invalid characters])? If so can you try to manually create your credentials from the same screen using the steps below:

- Close the window where you see the error message
- In the address bar of your window paste the following in:
https://developers.google.com/

[2019-08-06 13:33] annakjaer commented on #278
It is the same problem as the person who started this thread.

I tried the other solution as well, but still got the project id error.

I've tried looking in the cloud console, but there appear to be no projects
set up there.

On Tue, 6 Aug 2019, 14:27 James G, <notifications@github.com> wrote:

[2019-08-06 13:35] annakjaer commented on #278
I have Bluehost, elementor pro, Google analytics, Ithemes security, jetpack, polylang, redirection, review slider, wpforms lite, and yoast seo.

[2019-08-06 13:53] jamesozzie commented on #278
Do you mind trying the following, as there is a configuration option with iThemes which may be the cause:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. If you are using iThemes security can you uncheck [this](https://i.imgur.com/7OyyYyI.png) option from the general settings
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

Please let m

[2019-08-06 13:56] annakjaer commented on #278
Site kit doesn't have a settings section on my computer. All I can do is
deactivate and delete under plugins.

On Tue, 6 Aug 2019, 14:53 James G, <notifications@github.com> wrote:

[2019-08-06 15:09] cecofuli opened #383 "PHP FATAL error if we use " UpdraftPlus WordPress Backup " + “Site Kit by Google”."
Hello,

today I wanted to try this plug-in from Google.
With “bad" surprise, UpdraftPlus WordPress Backup give me this fatal error if both work together.
If I disable “Site Kit by Google”, everything is ok.

When I click “Scan Remote Storage” option on UpdraftPlus WordPress Backup, this pop-up in my WordPress Back-end appear

PHP Fatal error (TypeError) has occurred during rescan subaction. Error

[2019-08-07 06:29] stylestrends commented on #4
Just Change URL into **WP Admin >> Setting > General > Website Url > if Http:// Then add https://**

[2019-08-07 06:31] stylestrends commented on #4
Same here bro...

[2019-08-07 08:49] jamesozzie commented on #4
@stylestrends Others have reported the same issue, not specifically in this issue. In many cases there is a configuration setting in a security or caching which can solve this issue. Please inform me what caching or security plugins you are using.

[2019-08-07 09:14] swissspidy commented on #383
Thanks for your report!

This looks like a duplicate of #246.

Basically, both plugins use the same API library, but UpdraftPlus uses an older one. At the moment there is no fix for this.

The proper solution would be to prefix Composer dependencies in Site Kit, as mentioned in that issue. Please follow #246 for any updates.

[2019-08-07 09:14] #383 closed

[2019-08-07 10:08] felixarntz opened #384 "Site verification detection broken for domain verification"
## Bug Description

Although my website is verified via domain verification (using DNS), Site Kit doesn't detect it as verified. That happens because of an undefined variable `$site_url` in the `siteverification-list` datapoint (when checking verification via `INET_DOMAIN`). Furthermore site's identifier in the Google API response contains a trailing slash, but the current site URL is not compared

[2019-08-07 10:34] aaemnnosttv commented on #384
Implementation brief looks good!

[2019-08-07 10:56] jamesozzie opened #386 "Analytics: Looks like you don't have Analytics account yet / Refetch my account not working"
When adding the Analytics module some users are encountering issues connecting to existing Analytics properties when tracking code already exists on a users site.

![image](https://user-images.githubusercontent.com/41326532/62617566-1256ca00-b90a-11e9-9625-35a21e51d25c.png)

Related Issues
#154, #213, #320, #234, #324, #237, #241

**Potential cause:**
- Caching plugin (WP Super Cache, Breeze, Auto

[2019-08-07 12:05] cecofuli commented on #383
Thank you.

UpdraftPlus wrote me:

"there are already users who have reported this to Site Kit and this is also in our development list."

[2019-08-07 14:19] aaemnnosttv commented on #384
Code review approved.

[2019-08-07 14:23] marrrmarrr opened #387 "Distinguish already verified plugin users and users who verify their site during plugin setup"
## Feature Description
Let's add custom dimensions to note whenever a plugin user is already verified vs when new sites get verified and added to Search Console.

1) Trigger: API request to fetch sites for that user (calling WebResource: list method from Verification API)
Event category: verification_setup
Event action: verification_check_true

2) Trigger: API request to fetch sites for that user

[2019-08-07 15:40] SaludInfusions commented on #194
Thanks that worked, been a frustrating night trying to get it linked.

[2019-08-08 08:53] jamesozzie commented on #374
@ahiadh Any luck getting Site Kit connected after attempting the steps above? If not please send any console errors you might see.

[2019-08-08 08:57] jamesozzie commented on #185
@mikjits Did you have any luck setting up Analytics after? If not please describe the error, along with posting any console errors you might see.

[2019-08-08 08:59] jamesozzie commented on #214
@dejandre Close this issue now, as it's not Site Kit specific. If you have any issues changing your PHP `upload_max_filesize` limit your web host provide should be able to assist.

[2019-08-08 08:59] #214 closed

[2019-08-08 09:06] jamesozzie commented on #333
@everything-it Did you have any luck setting up Site Kit? If you share the error message or console error I can hopefully assist.

[2019-08-08 09:12] jamesozzie commented on #234
@rastarchele Are you encountering the same issue when attempting to setup the Analytics module? If so please attempt temporarily deactivating any security or firewall plugins one by one before attempting the Analytics module setup.

[2019-08-08 09:21] jamesozzie commented on #218
Closing this issue now with @ianbeacon having connected successfully

@mjcombe There have been plugin updates since you reported issue. Feel free to raise a new issue with any console errors if you are encountering the same redirection issue.

[2019-08-08 09:21] #218 closed

[2019-08-08 09:27] jamesozzie commented on #243
@iamshaharyar There is an open issue (#339) which will hopefully resolve the problem you are encountering with the failing request

[2019-08-08 09:28] jamesozzie commented on #239
@KritarthHandicrafts Did you have any luck setting up Site Kit by following the suggested steps?

[2019-08-08 09:29] jamesozzie commented on #235
Potential fix #339

[2019-08-08 09:54] KritarthHandicrafts commented on #239
I followed steps many time but unfortunately I am unable to login in Google
site plugin In 2nd step

Paras Madan

On Thu, Aug 8, 2019, 2:58 PM James G <notifications@github.com> wrote:

[2019-08-08 11:02] ahiadh commented on #374
Hello.

it didn't help.
i'm sending the debug info...

WordPress Version: 5.2.2
Current WordPress Theme: Leader Child version 1.0.0leader
Theme Author: Pojo - http://pojo.me/
Theme URI: http://pojo.me/
PHP Version: 7.0.33
MySQL Version: 5.5.60-MariaDB
Apache Version: This information is not available.
Active Plugins:

Advanced noCaptcha & invisible Captcha (5.5)
Custom Body Class (0.7.1)
Debug Inf

[2019-08-08 11:03] ahiadh commented on #374
wesafe only limits connection attempts

[2019-08-08 13:37] mikjits commented on #185
I still haven't been able to set it up. I click complete activation

![1](https://user-images.githubusercontent.com/52760995/62707626-ee998f80-b9ae-11e9-90b4-b5b188018f0a.JPG)

It only gives me the option to refetch or create new
![2](https://user-images.githubusercontent.com/52760995/62707628-ee998f80-b9ae-11e9-9428-e96cbd669f39.JPG)

I already have analytics that works on the full dashboard so I

[2019-08-08 13:45] SintoJoseph opened #388 "Analytics activation Problem in G Site Kit (Wordpress)"
I tried analytics activation in G Site Kit installed in my wordpress but I am not able to fetch my existing analytic for my site the fetching is taking for ever. Please the snapshot attached.
![Gsite kit analytics activation-1](https://user-images.githubusercontent.com/53149638/62708265-a57a2780-ba10-11e9-94f0-f8507b08b6e1.JPG)

![Gsite kit analytics activation-2](https://user-images.githubusercon

[2019-08-08 14:53] loganlucky commented on #235
ModSecurity, it was disabled, but no change. I don't see fix in that post, will you fix in next version?

[2019-08-08 16:18] jamesozzie commented on #388
@SintoJoseph Can you attempt the steps in ticket #386, hopefully some of the steps within that issue will allow you to connect.

[2019-08-08 16:18] #388 closed

[2019-08-08 16:59] swissspidy commented on #353
Since we had troubles with the e2e tests in #377, I ended up actually implementing this there. So this can be considered done 🙂

[2019-08-08 16:59] #353 closed

[2019-08-08 17:07] jamesozzie opened #389 "AdSense: Option to restrict Auto Ads to AMP URLs only"
## Feature Description

Many users who have monetized their sites via AdSense have carefully placed Ads via plugins or manual insertion (ie. they don't use Auto Ads).

When they adopt AMP or experiment with the AMP plugin Site Kit can a really useful plugin for implementing Auto Ads for AMP. For future releases having the ability to restrict Auto Ads to AMP might be useful.

---------------

_Do n

[2019-08-08 17:27] jamesozzie commented on #239
Are you a G Suite user? If so you might not have access to create a project using Google Cloud Platform.

If you are not a G Suite use can you try create your credentials using the steps below:
- In the address bar of your window paste the following in:
https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
- Replace the yourwebsitecom and also http://yo

[2019-08-08 17:53] jamesozzie commented on #374
@ahiadh Can you share any console errors you see, alongside any [XHR responses](https://i.imgur.com/jLBwBdH.png)? Potential fix in #89

[2019-08-08 23:19] writetoevv commented on #228
Hi @jamesozzie

While activating Google Site Kit, it has been failing  @ 2nd step "Authenticate"...
Mysite starts https://...
As suggested by you, i tested in private window of browser.
Please refer attached console log errors & warning info..
I have been tested it in 3websites with no other plugin. In all cases it failed @2nd step..
please help...

![Google Site Kit Error Log 2](https://user-imag

[2019-08-09 08:48] jamesozzie commented on #228
@writetoevv Some of the resources on your website might not be served over https, despite having a https website. Can you check with a non Firefox browser for the same error? An alternative is to click on the 'shield' icon in the top-left corner of the address bar from your screenshot, then click on the 'Disable Protection on This Page',

You'll find more on how Firefox treats mixed content [here]

[2019-08-09 10:35] circlecube commented on #256
Little note to mention this is partially blocked by #344

[2019-08-09 10:38] circlecube commented on #356
Little note to mention this is partially blocked by #344.

[2019-08-09 10:38] circlecube commented on #358
Little note to mention this is partially blocked by #344

[2019-08-09 10:39] circlecube commented on #357
Noting this is partially blocked by #344

[2019-08-09 10:51] Anil-Chaudhary-netclues opened #390 "Issue: not enable google site kit plugin on step 2"
## Bug Description

## Steps to reproduce

1. Go to 'Site kit'
2. Click on 'First step 1: Create Client ID'
3. generate a code and we have and proceed then
4. next step when we go ahead allow/allow/next click it redirect to page and then nothing happen ?

## Screenshots
Please see screenshot that i have attached.

## Additional Context

 - PHP Version: 5.6
 - Browser : Chrome, Mozilla
 - Wordpress

[2019-08-09 11:56] jamesozzie commented on #390
@Anil-Chaudhary-netclues Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png).

If the above fails to resolve your issue can you please share the following

[2019-08-09 12:14] Anil-Chaudhary-netclues commented on #390
Hi jamesozzie,
Thanks for Quick Reply.

Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit) - i am not see this step just seeing only dashboard. how can i do that.
Also, i have try all the disable plugin and check
![not seeing anything other](https://user-images.githubusercontent.com/53938165/62778163-4e865800-bacd-11e9-9fbf-030e55cfbc24.png)
 incognito window but no luck.

[2019-08-09 12:15] Anil-Chaudhary-netclues commented on #390
Here, on more screenshot
![site_url](https://user-images.githubusercontent.com/53938165/62778255-88eff500-bacd-11e9-803a-16e4f3b8436c.png)

[2019-08-09 12:39] writetoevv commented on #228
1. Also tried by "Disabling Protection on This Page" on firefox Browser.
   403 forbidden in firefox too.
2. I tested with Chrome Browser. The same issue of '403 forbidden' in Chrome Brower too.

[2019-08-09 13:42] jamesozzie opened #391 "Site Kit icon stretched in Firefox browser - after verification"
## Bug Description

When setting up Site Kit using Firefox on mac the logo on the "Get OAuth Credentials" screen in stretched.

## Steps to reproduce

1. Install Site Kit with Firefox browser
2. Complete step one during current setup routine

## Screenshots

![Untitled - Gravit Designer (4)](https://user-images.githubusercontent.com/41326532/62782969-43263300-bab3-11e9-8d50-4ae8774f1252.png)

## A

[2019-08-09 13:46] writetoevv commented on #228
it is because of these HTTP links...

http://www.iyfforb.com/px.js?ch=2
http://www.iyfforb.com/px.js?ch=1
http://www.iyfforb.com/display.cfm
http://i3.cdn-image.com/__media__/js/min.js?v2.2
http://i4.cdn-image.com/__media__/fonts/ubuntu-r/ubuntu-r.woff
http://i4.cdn-image.com/__media__/fonts/ubuntu-r/ubuntu-r.woff2
http://i4.cdn-image.com/__media__/fonts/ubuntu-b/ubuntu-b.ttf
...
http://i3.cdn-ima

[2019-08-09 13:46] jamesozzie commented on #390
@Anil-Chaudhary-netclues I can see you also have some WooCommerce plugins, can you try to disable those while attempting again?

If that fails please share your [Site Health](https://i.imgur.com/Rtkmsba.png) information.

[2019-08-09 13:50] jamesozzie commented on #228
@writetoevv If you are using a CDN or other security service can you temporarily disable them before trying again?

Please share your [Site Health information](https://i.imgur.com/Rtkmsba.png) and we can investigate further.

[2019-08-09 14:06] writetoevv commented on #228
1) i m not using CDN in websites.

2)[Site Health Info.txt](https://github.com/google/site-kit-wp/files/3486688/Site.Health.Info.txt)

[2019-08-09 14:09] Anil-Chaudhary-netclues commented on #390
Okay sure. i will do that and let you know with site Heath information.

[2019-08-09 14:42] iuravic commented on #323
@jamesozzie, I asked our G Suite admin, and they said there are no restrictions in place for that account.

[2019-08-09 14:53] jamesozzie commented on #323
@iuravic Thanks for the update. Before I get this escalated can you send me any console errors you see on the "Couldnt create brand" error screen, along with any [XHR response](https://i.imgur.com/jLBwBdH.png)?

If you would like to attempt generate your own response also you can try the steps below, using your G Suite Google account:
- In the address bar of your window paste the following in:
htt

[2019-08-09 15:08] SintoJoseph commented on #388
Hi,
  I disabled all plugins and tried the analytic activation and it worked
thanks.
Thanking You,

Regards,

[image: looking for desiring bride]

Sinto Joseph

Entrepreneur | YouTuber

Mobile No.: +91-8197452685

Website: www.finysel.com

Live a Life you Love it all that matters.

Connect or follow me on:

[image: facebook.png] <https://www.facebook.com/sinto.joseph2> [image:
youtube.png] <http:/

[2019-08-09 15:10] lucasreina commented on #386
Hi everyone. I tried every steps to resolve my problem, but no one worked.

PHP Version: 7.2.20
Browser: Opera
Browser console errors
Plugin Version Version 1.0.0-beta.1.0.3
Device:  Notebook

[2019-08-09 15:42] jamesozzie commented on #185
@mikjits There are some troubleshooting steps you'll find in this duplicate issue, #386.
Can you check the possible causes in that issue and see if any of those apply to you?

[2019-08-09 15:44] jamesozzie commented on #386
@lucasreina Do you mind checking using an alternative browser? If that fails to resolve the issue please perform a [Site Health check](https://i.imgur.com/Rtkmsba.png) and share the information for us to inspect?

[2019-08-09 15:49] jamesozzie commented on #302
@hablaviajero @amedeusv @Mte90 The authentication flow will be modified in future releases, but in order to troubleshoot further can you please share your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashboard?

[2019-08-09 15:54] lucasreina commented on #386
`
### wp-core ###

version: 5.2.2
site_language: en_US
user_language: en_US
permalink: /%category%/%monthnum%/%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/tempie/public_html
wordpress_size: 83.78 MB (87846095 bytes)
uploads_path: /home/tempie/public_html/wp-c

[2019-08-09 17:25] circlecube commented on #256
Working through a snag on this with @aaemnnosttv and as a result we'll probably need to update the auth utility plugin. The admin state is not persisting for the editor user because the plugin filters values rather than sets them. So the utilities may end up having to move to rest endpoints in an mu-plugin rather than being plugin-based, since it's a bit weird to programmatically set values in the

[2019-08-09 19:31] Prospection commented on #242
Have the same issue
The response is not a valid JSON response
tried all above, got php 7.1.31, clean WP installation. No plugins.

[2019-08-10 16:36] vikaskumawat80 commented on #316
Getting "The response is not a valid JSON response." Tried everything but not working.

Web Host Environment: Azure Web App Linux
Security / Firewall plugins in use: No
PHP Version: 7.2.13
Console Errors: The response is not a valid JSON response.
PHP Errors: NA

[2019-08-10 17:46] tommyg13 opened #392 "conflict with Booking Calendar plugin"
## Bug Description
Hello i noticed that Site Kit by Google is not working with Booking Calendar plugin.  Site kit not showing on admin side menu and when i access directly /wp-admin/admin.php?page=googlesitekit-splash i get the following errors on console
Invariant Violation: Minified React error #200;
Invariant Violation: Minified React error #31;

When i deactivate Booking Calendar plugin (https

[2019-08-11 13:16] writetoevv commented on #228
hi  jamesozzie

Anything you need from side to investigate the issue?

Regards

[2019-08-12 06:09] Anil-Chaudhary-netclues commented on #390
![step2_not_verify](https://user-images.githubusercontent.com/53938165/62847797-ce8f0680-bcf5-11e9-8829-cfaed43fddea.png)
Hi,
I have try Today on my same beta website but still not done and we are still getting error. i have inactive all the plugin but no luck.
Please look at below site Health:
`
### wp-core ###

version: 5.2.2
site_language: en_US
user_language: en_US
permalink: /%postname%/
http

[2019-08-12 08:23] jamesozzie commented on #316
@vikaskumawat80 Can you try and implement your own JSON response using the steps below:
- In the browser address bar (preferably using an incognito window) visit the following:
- https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com (Replace the yourwebsitecom and also http://yourwebsite.com with your own site details. Include the https or http)
- Press

[2019-08-12 08:23] jamesozzie commented on #242
@Prospection Can you try and implement your own JSON response using the steps below:
- In the browser address bar (preferably using an incognito window) visit the following:
- https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com (Replace the yourwebsitecom and also http://yourwebsite.com with your own site details. Include the https or http)
- Press en

[2019-08-12 08:27] Prospection commented on #242
I managed to fix it. Appeared that in WP health page I had a warning that rest api does not works good . After I fixed this Site Kit went fine.

Thank you

[2019-08-12 08:30] jamesozzie commented on #242
@Prospection Good to know. If you are able to replicate the issue can you share the warning you encountered using the Site Health tab?

[2019-08-12 08:47] Prospection commented on #242
I am unable to replicate error, but site health had a text something like:
**The REST API did not behave correctly problem with function context** or content.

[2019-08-12 08:51] Prospection commented on #242
@jamesozzie hope it helps. Basically there was a problem with fresh WP install, unrelated to Site Kit

[2019-08-12 09:39] jamesozzie commented on #392
@tommyg13 Most likely there is an Google API PHP conflict which is the cause of your error.  (Similar to what you see in #246). Are you connecting the plugins calendar to your own Google calendar?

[2019-08-12 10:15] felixarntz commented on #387
Implementation brief looks good!

[2019-08-12 10:31] felixarntz commented on #312
There are a couple of issues with the implementation brief, this needs to be implemented in a future-proof way. A few key requirements:

* While we do this now for only the (blog) home page, it should be able to work for every archive.
* It should be URL-based, because that's what the Google APIs deal with.
    * I recommend adding a `get_reference_canonical()` method to the `Context` class, which

[2019-08-12 11:16] felixarntz commented on #177
@lucymtc Apologies, I originally wrote exactly the opposite of what I meant:

`<noscript>` tags with the fallback messages should be rendered with the markup exactly where they should appear, for example in the `render_callback()` methods for the screen, or the `Admin_Bar::menu_markup()` method.

[2019-08-12 11:19] circlecube commented on #256
Moved this back to To Do, until it has been unblocked.

[2019-08-12 11:19] sannjayy opened #394 "Site not running please help me out..."
I have installed 'Google Sitekit developer beta' and my site is not opening....
my domain is www.aisabazar.com / i even didnt get any mails.. Please help me out as soon as possible.

The site is experiencing technical difficulties. Please check your site admin email inbox for instructions.

[2019-08-12 11:20] felixarntz commented on #314
Implementation brief looks good!

[2019-08-12 11:32] felixarntz commented on #138
This should not be part of the implementation brief, but should be clarified in advance. @marrrmarrr Are you okay with removing the acceptance criteria item 2 from here, since it appears to be covered in a separate issue (#314)?

@circlecube Can you clarify how this relates to the requested changes? When looking at the code, I can't find where this file is used on the `dashboard-details` view, it

[2019-08-12 11:38] aaemnnosttv commented on #344
@felixarntz can you take a look at this one an update the acceptance criteria if necessary? Basically, as soon as an account is chosen, the other dropdowns select the first choice.

[2019-08-12 11:45] felixarntz commented on #167
@lucymtc The implementation brief should contain information on how the filter in the `Analytics` module behaves in relation to the `Search_Console` module, in regards to the following:
* If both modules have data for the post, the overall filter result should be `true`.
* If none of the two modules have data for the post > result `false`.
* If only Search Console has data for the post > result `t

[2019-08-12 12:19] lucymtc commented on #362
QA looks good

[2019-08-12 12:20] ThierryA commented on #352
Implementation Brief LTGM!

[2019-08-12 12:41] ThierryA commented on #71
**Implementation brief review:** since Search Console API results sorted by click count descending, there isn't need to query more rows and hack the ordering which we are currently doing. We can get rid of the current hack, render a clicks column and simply query the top 10 results.

[2019-08-12 12:47] ThierryA commented on #292
IB LGTM!

[2019-08-12 12:48] lucymtc commented on #384
QA looks good

[2019-08-12 12:51] ThierryA commented on #308
IB LGTM!

[2019-08-12 12:51] jamesozzie commented on #394
@sannjayy Can you share the following so we can troubleshoot further:
- Any console errors
- Your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashboard?

Looking at your site it's loading fine from my side, although there could be some plugins that have incompatibilities with Site Kit.

[2019-08-12 13:03] ThierryA commented on #340
@felixarntz do we currently have unit tests covering these methods. I suggest update the tests to fail when the current bug occurs and make sure it passes once the new implementations is done?

[2019-08-12 13:12] felixarntz commented on #71
@adamsilverstein Do you happen to have any background on why `page-analytics` exists? It appears to do exactly the same as `sc-site-analytics`. Same about `index-status`, it doesn't appear to be used at all? Was it at some point, what was this datapoint meant for?

[2019-08-12 13:21] felixarntz commented on #340
@ThierryA We don't currently have tests for that because it's quite complex to determine a solution on testing all the datapoints (with them making external API requests). However, I agree we should add basic coverage to make sure the `create_data_request()` + `parse_data_response()` infrastructure works as expected for both singular and batch requests. There is a `FakeModule` class already used f

[2019-08-12 13:42] felixarntz commented on #344
@aaemnnosttv I updated the acceptance criteria accordingly to match the current state (although I think this is not the preferred thing that should happen). Will consult with Mariya on what should happen here and potentially open a follow-up issue, as in either case this shouldn't be changed here.

[2019-08-12 13:44] ThierryA commented on #340
Considering that Unit Tests typically don't make external API requests but mock responses with the appropriate data structure using dummy data, we should have that at least for the endpoints we use.

👍

[2019-08-12 13:53] sannjayy commented on #394
`
### wp-core ###

version: 5.2.2
site_language: en_US
user_language: en_US
permalink: /%postname%/
https_status: true
user_registration: 1
default_comment_status: open
multisite: false
user_count: 9
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/znasixcg/aisabazar.com
wordpress_size: loading...
uploads_path: /home/znasixcg/aisabazar.com/wp-content/uploads
uploads_size:

[2019-08-12 14:09] adamsilverstein commented on #71
As you mentioned, `page-analytics` and `sc-site-analytics` are currently duplicates, I agree we can safely remove one now.

I did a little git spelunking and found that originally these were two separate similar but distinct data points - one for over site wide data and one for page URL specific data:

![image](https://user-images.githubusercontent.com/2676022/62871282-78f83100-bcd8-11e9-98c2-e497

[2019-08-12 14:18] circlecube commented on #138
@felixarntz This file is in relation to the request to update from the average session time to the bounce rate. Correct me if I'm wrong, but this analytics module is brought into the search funnel widget listed on the detail page. At line 220 in that file (`assets/js/modules/analytics/dashboard/dashboard-widget-top-level.js`) is a template conditional clause that looks for the permaLink value (whi

[2019-08-12 15:09] felixarntz commented on #375
@aaemnnosttv It would be great if you could review / give some examples of Google API responses and how they return their error code (particularly those that contain "aggregate errors").

We should look at those HTTP response codes, e.g. if they are all 403, we should return a 403. If the Google API request results in an exception where we can't determine any response code, I'd argue we should sti

[2019-08-12 16:32] tommyg13 commented on #392
hello no i did not connect calendar with google calendar

[2019-08-12 17:08] jamesozzie commented on #386
@lucasreina How have you added your Analytics tracking code to your site previously, via one of those plugins or a theme feature? If you are able to locate the source you can then temporarily remove that tag before trying  to setup the Analytics module again.

[2019-08-13 06:44] thejoydutta opened #396 "In google site kit Analytics shows wrong report"
After connecting on om site it shows query report for the connected site but it shows the most popular content shows of one of my another site. Why does this happen? It should show popular content of the same connected site

![image](https://user-images.githubusercontent.com/42054702/62920616-e8971a80-bdc3-11e9-8c30-40ea8dcdc112.png)

[2019-08-13 07:01] Anil-Chaudhary-netclues commented on #390
Hi jamesozzie,
Hope you are doing well.
We are waiting for your response. can you please look this issue and help us please,

Thanks!

[2019-08-13 08:01] lilybonney commented on #344
Morning @swissspidy! Possible to finish out the CR on this one this morning? It's a blocker for a couple of other tickets we'd love to get into engineering ASAP. Thanks so much!

[2019-08-13 09:10] #362 closed

[2019-08-13 09:57] jamesozzie commented on #390
@Anil-Chaudhary-netclues Can you temporarily disable the following plugins, before attempting to setup Site Kit again? While you have tested deactivating already please do so using a Chrome browser and incognito window.
- Booked
- All in one WP Security
- Redux Framework
- WooCommerce related plugins

If that fails to resolve your issue please share the following:
- Any [console errors](https://i.

[2019-08-13 12:19] Anil-Chaudhary-netclues commented on #390
Hi,
I have already test with all the plugin 'InActive' and again i am here test again with 'InActive' all the plugin and just Google Kit plugin active and do the process. but i am not found anything in console. and find a two request in XHR response. so please find a attached screenshot.
Note: hubspot plugin is actived in my main Domain not in beta.

Please Help!!.

![again_not_success](https://us

[2019-08-13 12:26] #384 closed

[2019-08-13 12:28] felixarntz commented on #359
QA is good.

[2019-08-13 12:33] felixarntz commented on #55
QA is good!

[2019-08-13 12:34] #55 closed

[2019-08-13 14:11] felixarntz commented on #365
@marrrmarrr Can you chime in here? I think we need to decide how we fix this design bug in here and in #236.

My suggestion would be to remove the G branding in the WordPress dashboard, since these widgets all have plain-text titles (we could use "Site Kit Developer Beta" or "Site Kit (Developer Beta)"). This would automatically resolve #236 as well.

[2019-08-13 14:42] jamesozzie opened #398 "Analytics: GA accounts with no existing property / InternalWebPropertyID notice"
## Bug Description

In some cases users might have already setup an Analytics account but they have no properties set (or maybe they have deleted all properties).

Rather than ask users to access Analytics to create a property there should be an option in the property dropdown to "Setup a new property" (just as there is for accounts with existing properties).

A couple of other suggestions for thi