[2021-07-01 00:38] felixarntz commented on #3518
@eugene-manuilov Per our Slack conversation, assigning this back to you for further investigation/testing.

[2021-07-01 00:41] felixarntz commented on #3633
@eugene-manuilov Great point! I've just checked and it's little over 2 minutes.

[2021-07-01 00:52] #3556 closed

[2021-07-01 00:52] #3636 closed

[2021-07-01 00:52] #2998 closed

[2021-07-01 00:52] #3255 closed

[2021-07-01 00:53] #3586 closed

[2021-07-01 00:54] #2292 closed

[2021-07-01 00:54] #3572 closed

[2021-07-01 00:54] #3616 closed

[2021-07-01 00:54] #2585 closed

[2021-07-01 00:55] #2910 closed

[2021-07-01 00:56] #3138 closed

[2021-07-01 00:56] #3544 closed

[2021-07-01 01:02] felixarntz commented on #1147
@johnPhillips It's correct that errors currently aren't being combined, so the errors in the screenshot are actually irrelevant in regards to the ACs. What should be combined though is any "Gathering Data", "Activate module", or "Complete module activation" CTAs that are similar.

Here is a more representative screenshot of what needs to be fixed:
<img width="507" alt="Screen Shot 2021-06-30 at 5

[2021-07-01 06:16] ivankruchkoff commented on #3657
Looks good to me.

[2021-07-01 06:52] ivankruchkoff commented on #3359
Just a small update to IB, rather than using the hooks for _admin_notices_ we can use _includes/Core/Admin/Notice.php_ and _googlesitekit_admin_notices_ hook.

[2021-07-01 07:46] danielgent commented on #3174
@eugene-manuilov  I had a go! But as we've reverted so much from the IB (and it's pretty subjective as to whether something looks bad or not) I'm not too sure what to put!

Main thing is that nothing is broken

[2021-07-01 08:10] asvinb commented on #3621
Nice! Thanks @eugene-manuilov 👍
IB Updated.

[2021-07-01 08:22] asvinb commented on #2077
@eugene-manuilov Correct, we are not deleting all legacy components. In the IB I've mentioned to remove legacy components which are used in components which we are going to delete. For e.g `LegacyAnalyticsDashboardWidget` uses the `LegacyAnalyticsDashboardWidgetSiteStats` component. The latter is not used anywhere except in that component:
https://github.com/google/site-kit-wp/search?q=LegacyAnaly

[2021-07-01 08:30] aaemnnosttv commented on #1147
If so, would you still like me to cover the edge cases where SC is not active / connected anyway and show the appropriate (combined) CTA?

@johnPhillips I just took another look here and the SC widgets do not provide fallback components via `whenActive` which would be where the inactive or complete module activation widget states to aggregate would come from, so I think at least for now we don't n

[2021-07-01 08:39] aaemnnosttv commented on #3509
@felixarntz yes, I'm not sure how that happened 🤔 Perhaps mixed up tabs when doing release preparation, or ZenHub got confused? 🤷‍♂️  I'll put it back 😄

[2021-07-01 08:40] johnPhillips commented on #1147
@felixarntz @aaemnnosttv That makes sense, thank you both! 🙏

[2021-07-01 09:09] Hazlitte commented on #3606
@jamesozzie Thank you for doing some more testing to confirm this.  @felixarntz reported that the Adsense module is subject to the same bug.  Is your site connected to Adsense and is it exhibiting the same problem?

[2021-07-01 09:10] eugene-manuilov commented on #3621
Thanks, @asvinb! IB :heavy_check_mark:

[2021-07-01 09:19] asvinb commented on #3531
Good catch @eugene-manuilov . IB updated.

[2021-07-01 09:31] eugene-manuilov commented on #2077
Thanks, @asvinb! IB :heavy_check_mark:

[2021-07-01 09:40] Hazlitte commented on #3634
** QA Eng ✅ * *
Without the feature flag enabled I don't see `saved-ideas` XHR requests on the WP dashboard.  I do when it is enabled.

[2021-07-01 09:52] jamesozzie commented on #3606
@Hazlitte I've connected the site to AdSense although it's in the approval process. Happy to share a login should you need it.

[2021-07-01 10:15] eugene-manuilov commented on #3531
Thanks, @asvinb. IB :heavy_check_mark:

[2021-07-01 10:32] eugene-manuilov commented on #3633
Thanks, @felixarntz. So, in this case, 2 mins timeout is too much for sure. What do you think if we reduce it to 30 or 45 seconds?

[2021-07-01 10:37] eugene-manuilov commented on #3633
@asvinb I think we can simplify the logic by wrapping the `setItem` function call into a timeout and not checking anything else. https://github.com/google/site-kit-wp/blob/e2564bf10f06d36b04c36ece7f66e2edbaf78f3f/assets/js/googlesitekit/datastore/user/surveys.js#L111

In this case, we will get the same expected behavior:
* if a user leaves the page earlier, we will display the survey again when th

[2021-07-01 11:30] aaemnnosttv commented on #3655
Good catch @eugene-manuilov 👍  As it is currently, this wouldn't result in a change in the survey cooldown period because the default `ttl` for `setItem` is 1 hour as you mentioned (which is the correct value for now).

The IB looks good, but since we're not in a rush to merge this so let's also add test coverage for this detail which should be fairly straightforward. Currently the tests only chec

[2021-07-01 11:45] asvinb commented on #3387
@eugene-manuilov I've updated the IB to not use the `core/ui` data store. However I think it would be overkilled to add actions and selectors to the idea hub datastore for the state of each idea. I think we can simplify this by adding a state variable which we can use for any activity happening with the idea. I also suggested we remove the existing `isProcessing` state variable and just use the `a

[2021-07-01 11:50] asvinb commented on #3633
You're right @eugene-manuilov 🤦  I didn't realize the form will not show up if the user interacted with it, thus I wanted to know when the user interacts with it. IB updated.
Thanks!

[2021-07-01 11:54] eugene-manuilov commented on #3655
@aaemnnosttv, yes we can add tests. IB is updated.

[2021-07-01 12:34] eugene-manuilov commented on #3633
Thanks, @asvinb! IB :heavy_check_mark:

[2021-07-01 12:35] eugene-manuilov commented on #3633
@felixarntz assigning this to you. Please, let me know what you think regarding the timeout. If you agree with it, I'll update numbers in AC and IB sections.

[2021-07-01 12:47] eugene-manuilov commented on #3387
@asvinb the problem with the internal state is that it will be lost if I switch tabs during a draft post creation. We need to make sure the progress status persists for the idea.

[2021-07-01 13:25] Hazlitte commented on #3174
** QA Eng FAIL **
I realise that some of these examples may not be down to this ticket and may be being addressed elsewhere.  But from following the QA Brief I found small mobile layouts broken due to the extra padding.  Here are example local storybook URLs and screenshots.  In one of them there are errors and the component isn't being displayed at all:

http://localhost:9001/?path=/story/adsense

[2021-07-01 13:55] asvinb commented on #3387
@eugene-manuilov Good point, however we are not re-rendering the tabs when switching tabs. Instead the tabs were intentionally hidden via `aria-hidden` attributes so that we can keep the state of each tab.

[2021-07-01 13:58] danielgent commented on #3522
## QA :white_check_mark:

Looks good to me :+1:

[2021-07-01 14:00] jamesozzie commented on #3651
While unable to recreate this specific issue using the same hosting platform and plan as one user - with mostly the same environment, [one user](https://wordpress.org/support/topic/site-kit-cannot-access-the-wordpress-rest-api-please-ensure-it-is-enabled-3/#post-14616234) did report that a simply uninstall and reinstall allowed them to proceed. Awaiting feedback from the other 2 impacted users.

[2021-07-01 14:04] danielgent commented on #1997
On the linked PR, I've spent a few hours trying to fix one failing e2e https://github.com/google/site-kit-wp/pull/3439

The Analytics dashboard is always empty
![e2e-never-loads](https://user-images.githubusercontent.com/8496063/124137254-c8d77100-da85-11eb-8a32-37cb43c00b98.png)

However this works for me when running locally!  So I'm a bit confused
![running for me locally](https://user-images.g

[2021-07-01 14:07] eugene-manuilov commented on #3387
Each tab returns `NULL` if it is not active:

https://github.com/google/site-kit-wp/blob/e2564bf10f06d36b04c36ece7f66e2edbaf78f3f/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/SavedIdeas.js#L70-L72 https://github.com/google/site-kit-wp/blob/e2564bf10f06d36b04c36ece7f66e2edbaf78f3f/assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/NewIdeas.js#L71-L73 https:

[2021-07-01 14:30] danielgent commented on #1997
The AC says to remove `DashboardModuleHeader` but this is still used in a few components :thinking:

I may have done something wrong though

[2021-07-01 15:13] wpdarren commented on #3657
@aaemnnosttv with the latest zip and 1.5.1 tester plugin: when I try and connect Google Adsense, I receive a message `Error: There has been a critical error on this website` I am using a Jurassic.ninja site, which I know can be temperamental, but tried on two sites, refreshing does not clear the error.

![image](https://user-images.githubusercontent.com/73545194/124147691-d3ded100-da86-11eb-8996-1

[2021-07-01 15:55] abdullah1908 commented on #3618
@jamesozzie I were unable to reproduce this issue & I have done following activities:
- Tested with uBlock Chrome extension
- Installed Astra theme along with the plugins as per the user SH info
- Tested with iThemes Security

[2021-07-01 16:05] eugene-manuilov commented on #3606
Thanks, @Hazlitte. I have made a tiny change in the IB, but it looks good. Could you please add an estimate to this ticket?

[2021-07-01 16:06] #3508 closed

[2021-07-01 16:07] #3509 closed

[2021-07-01 16:07] #3528 closed

[2021-07-01 16:08] #3530 closed

[2021-07-01 16:09] #3510 closed

[2021-07-01 16:15] #3540 closed

[2021-07-01 16:17] #3536 closed

[2021-07-01 16:17] #3537 closed

[2021-07-01 16:24] #3545 closed

[2021-07-01 16:29] #3202 closed

[2021-07-01 16:37] #3539 closed

[2021-07-01 16:39] #3521 closed

[2021-07-01 16:39] #3516 closed

[2021-07-01 16:47] Hazlitte commented on #3406
Hi @felixarntz.
I have been executing this ticket and there is an aspect of it which I am unsure how to approach.  I have reviewed the AC and IB and it isn't clear to me how I should go about replacing calls to the `googlesitekit.ErrorNotification` filter which are in functions.  As these are not in exported components I am unable to make `useDispatch` calls to the store.  Here is an example:
http

[2021-07-01 16:48] felixarntz opened #3660 "Idea Hub widget drafts tab not working as expected"
## Bug Description

While testing the Idea Hub module a little, I noticed a bug with the "Drafts" tab. Even though I had created a draft, it didn't show in the tab. This is likely due to something missed in #3357.

Here's the steps to replicate:
1. Create a draft for one of the new ideas from the Idea Hub widget.
2. The draft now appears in the "Drafts (1)" tab as expected.
3. Click on "View draft

[2021-07-01 16:51] Hazlitte commented on #3406
@eugene-manuilov @aaemnnosttv As this ticket is tagged as Sprint 52 and I am not working on Site Kit tomorrow would you like me to unassign myself?  I have updated the tagged branch with TODOs where there are aspects that still need addressing.

[2021-07-01 16:54] Hazlitte commented on #3606
@eugene-manuilov Yes of course, I thought I had done that.  I must have jumped onto something else.

[2021-07-01 16:55] #3543 closed

[2021-07-01 16:59] felixarntz commented on #3542
## Approval ❌

There is something missing here that @marrrmarrr  and I encountered while testing: If there is an existing GA4 tag on the page, it doesn't seem to affect the GA4 `useSnippet` toggle at all.

Taking a closer look, it appears that we missed this requirement in the ACs entirely, even though that specifically was the original reason to introduce the two toggles instead of one. So this i

[2021-07-01 17:28] danielgent opened #3661 "Analytics/useSnippetSwitch stories not all working"
## Bug Description

`Analytics/useSnippetSwitch` stories are giving error  `Element type is invalid: expected a string (for built-in components)`

## Steps to reproduce

See story here https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module--use-snippet-switch-toggled-on-default

## Screenshots

![storybook-fail-useSnippetSwitch](https://user-images.githubusercontent.c

[2021-07-01 18:22] ivankruchkoff commented on #3359
@felixarntz  Figma for the notification for reference, https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A6868

For this implemenation in PHP, we need two SVG images:
https://github.com/google/site-kit-wp/blob/develop/assets/svg/logo-g.svg
https://github.com/google/site-kit-wp/blob/develop/assets/svg/logo-sitekit.svg

As we don't distribute svg assets with

[2021-07-01 19:10] eugene-manuilov commented on #3542
@felixarntz I have created a follow-up PR that adds the missing functionality. Also, it turns out that the GA4 API now returns `measurementID` prefixed with `G-` even though the [documentation](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.webDataStreams#WebDataStream.FIELDS.measurement_id) still says that it returns without it. So, I have made the requi

[2021-07-01 19:47] aaemnnosttv commented on #3517
@felixarntz it looks like there are changes in the v2 format of the [`ReportResult`](https://developers.google.com/adsense/management/reference/rest/v2/ReportResult) which cause the module to be in a zero-data state when it isn't.

The main difference seems to be that the old format returned an array of values `string[]` and the new format returns a [`Row`](https://developers.google.com/adsense/ma

[2021-07-01 19:51] eugene-manuilov commented on #3606
IB :heavy_check_mark:

[2021-07-01 20:53] bethanylang commented on #3651
Noting that an additional user in the same topic that James linked above reported that an uninstall/reinstall also worked for them.

[2021-07-01 21:12] felixarntz commented on #3359
@ivankruchkoff Great point! Let's actually strip these icons entirely and only include the text content - related to the decision that we made in #3272. We can keep these simple, so let's not worry about the SVG icons. Both pieces of copy already clarify in themselves they are related to Site Kit.

I've updated the ACs to mention this differentiation.

[2021-07-01 21:13] felixarntz commented on #3387
@eugene-manuilov Great point - let's do it as @Pratheep-lab has advised and show both the loading spinner and the copy in that state.

[2021-07-02 07:14] wpdarren commented on #3517
@aaemnnosttv @felixarntz two observations I wanted to mention: 1) when I tested this I used the alpha version of the tester plugin and the issue I reported during smoke testing did not occur, I was able to connect to AdSense. 2) I also used a site that had live data without the tester plugin, and also did not receive any error messages. Would be interested to know if possible how this error could

[2021-07-02 09:55] johnPhillips commented on #3420
It turns out that the issue is also visible (though not so bad) on desktop Safari.

The best fix I have got is as follows:

[code]
This seems to completely fix desktop Safari, and mostly addresses Safari on IOS with the following notes / edge cases:
- When you start typing, the first character is sometimes clipped. As you type, it adjusts itself. This might be related to React updating the element

[2021-07-02 11:01] eugene-manuilov commented on #3174
@tofumatt could you please review #3663?

[2021-07-02 11:22] johnPhillips commented on #3588
I can't recreate this, even after discussion with @bethanylang, who was able to clarify that the steps to reproduce are as follows:
- deactivate tester plugin, and set up analytics with a UA property
- create a GA4 property using the setup assistant
- activate the tester plugin, and enable the GA4 feature
- now head to analytics settings and click 'edit'.

Inspecting redux, I can see that if I do

[2021-07-02 12:41] wpdarren commented on #3588
@johnPhillips sure, I can take a look at this and see if it can be recreated. c.c. @bethanylang

[2021-07-02 13:29] wpdarren commented on #3542
### QA Update: ⚠️

@eugene-manuilov can I just confirm this scenario:

During Analytics setup, a message appears saying that a tag is already used (because I entered it into the tester plugin). I am able to save the form by clicking on the `configure analytics` button. I then go to the Analytics settings and edit.  By default the GA4 `useSnippet` is disabled as expected. I am able to save the form

[2021-07-02 13:39] jamesozzie commented on #3560
Closing as unreproducible. Comments added to the [related support topic](https://wordpress.org/support/topic/conflict-with-visualizer-plugin/#post-14619843).

[2021-07-02 13:39] #3560 closed

[2021-07-02 13:40] jamesozzie commented on #3388
@Bobby99as Just following up with you on this. If you can share details of your particular setup I'd be happy to try and recreate or discuss further with the team.

[2021-07-02 13:58] jamesozzie commented on #3482
Tested on some newly added test sites, new to Search Console. Unable to reproduce on 1 site while the other remains awaiting additional Search Traffic. More test traffic has pushed, keeping open for further testing.

Note the gif below that provides a better understanding of the users issue, the Search Console tab within Site Kit displays traffic fine, the primary Site Kit dashboard doesn't includ

[2021-07-02 14:05] eugene-manuilov commented on #3542
@wpdarren can you make a screencast? I can't reproduce it on my end.

[2021-07-02 14:38] wpdarren commented on #3542
@eugene-manuilov this is a screencast.  I am assuming this is the correct behaviour because the code is already on the site, but wanted to check because the QAB/AC didn't clarify this.

https://user-images.githubusercontent.com/73545194/124290556-795b7880-db4b-11eb-8a20-403f6dd5ecd4.mp4

[2021-07-02 15:18] danielgent commented on #3531
Looking at the demo on storybook (for me at least anyway on Ubuntu Chrome) the previous answer actually stays selected visually when progressing to the next answer
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys-currentsurvey--survey-multiple-questions-story

So not only do we already have some form of visual feedback for the previous answer, but also it seem

[2021-07-02 15:24] eugene-manuilov commented on #3542
@wpdarren yes, this is the correct behavior. What you show is this:

[code]
It detected the existing tag and automatically pre-disabled the `useSnippet` of the analytics-4 module. If you turn on it manually, it will mean that there is no changes, thus you can't save the form.

[2021-07-02 15:25] wpdarren commented on #3517
@aaemnnosttv @felixarntz I have gone through QA tasks on the PR and data loads as expected.  Please assign this to me when it's in `main` and I'll give it another run through.

[2021-07-02 15:28] wpdarren commented on #3542
### QA Update: Pass ✅

**Verified:**

- When the `ga4Setup` feature flag is enabled. Within the Analytics settings you can see two snippet switches.

![image](https://user-images.githubusercontent.com/73545194/124280251-5d9ea500-db40-11eb-896d-b9b233e9c515.png)

- When the `ga4Setup` feature flag is disabled the settings form reverts a single snippet switch for UA.

![image](https://user-images.gi

[2021-07-02 15:46] eugene-manuilov commented on #3588
Yes, the settings form has already been updated in #3586. @felixarntz I think we don't need this ticket and can close it, right?

[2021-07-02 16:00] danielgent commented on #3531
So this task was given a 3 hour time estimate but there is no mention of the changes to the tests in the IB, it just says `Existing tests must pass.` (which of course they won't without changes!

From my experience, any use of `setTimeout` makes testing in Jest and React Testing Library very challenging.  I imagine we'll need to use Jest's fake timers e.g. `jest.useFakeTimers();` in order that the

[2021-07-02 16:18] felixarntz commented on #3542
Thanks @eugene-manuilov @tofumatt @wpdarren for getting this through so promptly!

[2021-07-02 16:31] felixarntz commented on #3660
IB ✅

[2021-07-02 16:35] danielgent commented on #3531
Surprisingly I don't see any difference in the time taken to test! So this PR is good to go IMHO :+1:

[2021-07-02 17:02] jamesozzie commented on #3482
Closing as non re-producible, with the impacted users dashboards now working as expected.

[2021-07-02 17:02] #3482 closed

[2021-07-02 17:03] felixarntz opened #3667 "Fix refactored AdSense module screen to behave similar to legacy one"
## Bug Description

The refactored version of the AdSense module screen is missing one specific required behavior that is present in the legacy version: If there is no data available, it should show a special state, rather than the regular CTA summary that other module screens show.

In addition, there is another thing that is simply a bug: It attempted to show me Analytics data for my AdSense acc

[2021-07-02 17:04] felixarntz commented on #2077
I just discovered a bug #3667, which effectively blocks this issue. We need to fix that one before rolling out the new `widgets.moduleScreens` behavior to everyone.

[2021-07-02 17:50] felixarntz commented on #3517
@wpdarren Back to you for QA now. Please make sure to test with real AdSense data, and particularly for the following feature flag configuration, which matches the current default experience:
* `widgets.dashboard` and `widgets.pageDashboard` enabled
* `widgets.moduleScreens` disabled

[2021-07-02 18:51] eugene-manuilov commented on #3657
Hm... that's weird, but I couldn't reproduce this issue on my jurrasic.ninja site :thinking: All looks good to me...

[2021-07-05 07:09] tofumatt commented on #3657
Smoke testing with the latest ZIP seems good to me. ✅

[2021-07-05 09:54] danielgent commented on #3622
I've done the one-line change here on this PR https://github.com/google/site-kit-wp/pull/3669
*But* I'm not sure how to see this text change (so I can't test the change nor write a QA brief)

I created a new GA4 property directly on the Google Analytics website (but *without* creating a web data stream), but this GA4 property isn't shown in the Site Kit dropdown

I think the flow is much more comp

[2021-07-05 11:51] Hazlitte commented on #3657
I tested it on a couple of my sites and didn't have any problems. ✅

[2021-07-05 12:00] jamesozzie commented on #3618
[Site Health information](https://docs.google.com/forms/d/1JTQmphDlk9YgHpDoFRbHXpkDqv8-QmzTT7MDR4AstyQ/edit?urlBuilderDomain=google.com#response=ACYDBNjtD7RoNTXt8n1joHe0DOz2wrVdTIgpMQMD_o2wOTjuDwGIRPo4VHOHIHYfiDzcjFo) added from [latest report](https://wordpress.org/support/topic/error-in-setup-wizard/#new-topic-0) to the main description.

AMP is the only common plugin, and there was a recent rep

[2021-07-05 13:58] asvinb commented on #3387
I completely missed that @eugene-manuilov . IB updated. Can you check?

[2021-07-05 14:06] wpdarren commented on #3517
### QA Update: ⚠️

@felixarntz @aaemnnosttv I have completed testing on a site with live AdSense data but thought I would also check through the set up flow with the tester plugin in the different account status. When set to approved in the tester plugin. The message appears `The caller does not have permission` on the `Earnings` widget within the Dashboard.  On the module page it just says `AdSen

[2021-07-05 14:43] ivankruchkoff commented on #3628
Giving this a bigger estimate to highlight the testing that we'll need to do.

[2021-07-05 18:15] eugene-manuilov commented on #3387
@asvinb IB almost looks good to me. I have the last ask for you: let's make the `activities` be an object instead of an array. In this case, idea names will be keys and current activities their values.

[2021-07-05 21:33] tofumatt commented on #3628
IB ✅ .

I think it's a bit fuzzy exactly what this'll entail but that's the often case with issues like this 😆 . Thanks for the step-through of the approach though, and the estimate makes sense for something that'll take a lot of time to test. 👍🏻

[2021-07-06 00:23] felixarntz commented on #3517
@wpdarren The incorrect behavior with the tester plugin was expected at that point, I've just updated that plugin again and shared the version with you on Slack. Please re-test with that one.

[2021-07-06 07:57] asvinb commented on #3387
Thanks @eugene-manuilov . Updated. I've also increased the estimate to 19 since there'll be some more QA time because of the UI changes.

[2021-07-06 08:35] aaemnnosttv commented on #3517
@wpdarren As @felixarntz mentioned, the tester plugin had not been updated to account for the updated report format so this would be expected. It sounds like he's updated it now (although not published) so it should be ready for a (hopefully final) pass 😄

[2021-07-06 08:47] asvinb commented on #3520
Implementation has been done when working on #3519 and AC has been fulfilled. Sending to QA.

[2021-07-06 09:02] eugene-manuilov commented on #3387
IB :heavy_check_mark:

[2021-07-06 09:14] tofumatt commented on #3420
Seems good to me; the lack of "scrolling" when inputting the same character repeatedly might be a weird rendering bug/rendering over-efficiency. If it scrolls when there are different characters that seems fine.

IB ✅

[2021-07-06 10:28] aaemnnosttv commented on #3655
IB ✅

[2021-07-06 10:45] tofumatt commented on #1997
Regarding `<DashboardModuleHeader />` still being used, that usage is ultimately still in legacy components. It's used in files with "legacy" in the name, yes, but also in files exported by `index.legacy.js`, eg:

* https://github.com/google/site-kit-wp/blob/9c76cb91c324f9f0a22748040de8660dc893dc17/assets/js/modules/analytics/components/dashboard-details/AnalyticsDashboardDetailsWidgetTopAcquisiti

[2021-07-06 11:01] danielgent commented on #1997
@tofumatt Thanks for the feedback

----------------------------------------

`DashboardModuleHeader` ah right! :facepalm:  Thanks. I'll  remove this component then and I'll check those legacy exports again to make sure i haven't left any files out

------------------------------------------------

Dashboard e2e tests -> I didn't see any errors. I'm happy to have a look more into it (although it's

[2021-07-06 11:21] aaemnnosttv commented on #3549
@eugene-manuilov – the PR-as-IB approach should generally be reserved for issues with a trivial change and/or highly explicit ACs, such that the IB would be a rehashed AC. In this case, I think an IB is appropriate to include given the scope and complexity of the changes. This is relevant when looking back on an issue as well 🙂

Looking at your PR, there are substantial changes to actions in the A

[2021-07-06 11:49] tofumatt commented on #3614
IB ✅

[2021-07-06 12:19] aaemnnosttv commented on #3667
@johnPhillips – the outlined approach for this part sounds a bit manual. Let's use the `whenActive` HOC for this as that's exactly what we need. No fallback or incomplete components needed 👍

This is correct, but it's important to note that the `DashboardZeroData` component shouldn't be wrapped with a `Widget` as the `WidgetReportZero` currently is.

Also, I don't think this would hide the other w

[2021-07-06 13:18] wpdarren commented on #3517
QA Update: Pass ✅

**Verified:**

All of these tests were completed on a site with live data.

`widgets.dashboard` and `widgets.pageDashboard` enabled
`widgets.moduleScreens` disabled

- On the dashboard, made sure that Earnings data displayed for 7, 14, 28 and 90 days.
- On the AdSense module page, made sure that the Performance graphs loaded with data for 7, 14, 28 and 90 days.
- Also checked to

[2021-07-06 14:16] eugene-manuilov commented on #3549
@aaemnnosttv yes, I know this. I wanted to squeeze this ticket into the 1.36.0 release. That's why I decided to go with the PR-as-IB approach.

IB is updated. Also had to increase the estimate from 7 to 19 because I expect we will need more time for tests.

[2021-07-06 14:24] eugene-manuilov commented on #3622
@danielgent try to do the following:

1. Reset your Site Kit plugin
1. Connect the plugin again
1. Activate the Analytics module
1. On the Analytics setup form, select an account that has a UA property and GA4 property without web data stream.
1. Submit the setup form.
1. You should see the permissions modal.

[2021-07-06 14:31] aaemnnosttv commented on #3263
@asvinb what would happen if this selector had no match? We still want to avoid creating the portal if the target doesn't exist. Secondarily, I'm not sure we should worry about trying to adapt this to work for a sub-menu. I'm pretty sure WP doesn't have any of these so I think we can simplify this by just not rendering the counter in this case. There's not much benefit to adding the counter there

[2021-07-06 14:45] Hazlitte commented on #3614
I have been working on the execution of this and I seem to be unable to test it in my local environment.  I suspect this is because I don't have permissions to create properties with my 10up account.

I built a release zip and uploaded it to a site I have which does have both UA and GA4 properties.   However I am struggling to recreate the scenario described above as the Analytics setup flow is au

[2021-07-06 14:53] aaemnnosttv commented on #3549
Thanks @eugene-manuilov – overall IB looks good, just one question.

What do you think about leaving the `defaultProfileID` off, and getting this from the property internally? We don't store this so the property would have to be loaded anyways. Internally it would just wait for properties, get the property by ID and then see if it has a `defaultProfileId`? I think we'd have to do the same outside

[2021-07-06 14:58] wpdarren commented on #3541
### QA Update: Pass ✅

- For a site with UA and a GA4 property set up in Analytics. When you select GA4 property and then 'Set up new property' in the notice component, the property, view and view name fields have blue borders, blue text.  Can also confirm that the text input is styled appropriately.
- Checked this also in our primary browsers, i.e. Firefox, Safari, etc.

![image](https://user-ima

[2021-07-06 15:33] wpdarren commented on #3420
### QA Update: Pass ✅

- Verified that the text field expands when it is typed into.  This was tested on iOS on Safari, and on Safari desktop since John reported the issue there as well.  As a sanity check, I also ran checks that the text fields on question 5 worked as expected on Android and desktop, i.e. FF, Chrome. - [Screenshot 1](https://user-images.githubusercontent.com/73545194/124627668-0a

[2021-07-06 15:39] tofumatt commented on #3614
You don't need to create a property here, but it looks like one is automatically being selected for you on said site because you have a matching property for it already.

You can test this by loading a site where you don't have a matching property and are forced to select one. Or by selecting a GA _Account_ that doesn't have a matching property for the site you're on. Here's a screencast:

![2021-

[2021-07-06 15:56] johnPhillips commented on #3667
This is really helpful, thanks. Looks like `DashboardTopEarningPagesWidget` is already using it and requires both Analytics and AdSense to be active. Should `ModuleTopEarningPagesWidget` require both modules to be active as well, or just Analytics?

Do you mean literally the same state, i.e. with `ReportZero` as the `Component`?
[code]

There seem to be a few layers of abstraction with `WidgetRepo

[2021-07-06 16:29] bethanylang commented on #3651
@jamesozzie With no more reports of this issue and the uninstall/reinstall seemingly working for most affected users, what do you think about closing this?

[2021-07-06 16:29] bethanylang commented on #3618
@jamesozzie Should this move over to L2?

[2021-07-06 16:45] bethanylang commented on #2400
Per discussion with @aaemnnosttv in Slack, this is likely related to the Mod_Security issues that we saw a few months ago and were fixed. We've had no recent reports, so closing this for now and we can reopen if needed.

[2021-07-06 16:45] #2400 closed

[2021-07-06 17:01] aaemnnosttv commented on #2400
For reference, the issue this looks like (also shares a similar title) is https://github.com/google/site-kit-wp/issues/3532

[2021-07-06 17:24] aaemnnosttv commented on #3667
@johnPhillips `DashboardTopEarningPagesWidget` requires both because it's a (main) dashboard widget. Widgets are always registered regardless of module activation so the HOC includes both there because users will be able to access the dashboard before activating any additional modules. `ModuleTopEarningPagesWidget` is for the module dashboard only which is only reachable if AdSense is connected, s

[2021-07-06 17:50] jamesozzie commented on #3651
Sounds good. While there remains [one current impacted user](https://wordpress.org/support/topic/site-kit-cannot-access-the-wordpress-rest-api-please-ensure-it-is-enabled-2/) based on other reports this doesn't seem an issue to be an issue related to the plugin.

To be reviewed should others report the same.

[2021-07-06 17:50] #3651 closed

[2021-07-06 18:00] jamesozzie commented on #3618
@bethanylang I think so. I'll do a quick review and try to recreate the same environment before escalating.

[2021-07-07 03:24] cole10up commented on #3657
QA ✅

Smoke test passed for me.

[2021-07-07 07:45] aaemnnosttv commented on #3606
@felixarntz @eugene-manuilov – regarding the current IB, we can't rely on `idn_to_*` functions as these are provided by the `intl` PHP extension that isn't required by WordPress, or otherwise guaranteed to be available.

I noticed we use `\Requests_IDNAEncoder` in `\Google\Site_Kit\Core\Util\Google_URL_Normalizer` which allows for encoding UTF8 to ASCII without relying on this extension. However,

[2021-07-07 09:00] johnPhillips commented on #3588
Assigning to @felixarntz for a verdict 👍

[2021-07-07 10:24] aaemnnosttv commented on #3661
Thanks for raising this. I think we can hold on fixing these stories specifically until #3378 which will prevent these kinds of failures going forward.

[2021-07-07 10:27] aaemnnosttv commented on #3653
@asvinb can you take a look at what is going on here? It looks like a css issue of some kind.

[2021-07-07 10:28] Hazlitte commented on #3614
@tofumatt Thank you.  I have tested the code changes outlined in the IB on a site using an account that does not have a matching property.  In the `SetupFormGA4Transitional` component the GA4 property id is being returned as `property_create`.  So it is not empty and the blue message is still displayed.  For this component should the IB in fact say:

"Update the GA4PropertyNotice element to render

[2021-07-07 10:31] aaemnnosttv commented on #3643
@felixarntz I've seen this before; is it not something the charting library does normally? 🤔

[2021-07-07 10:33] aaemnnosttv commented on #3378
@felixarntz it would be great if we could get this into the next sprint 🙂

[2021-07-07 10:36] tofumatt commented on #3614
Yes, I think in fact there's never an "empty" value but rather a magic constant value like `'property_create'` is used when the selection is empty. See: https://github.com/google/site-kit-wp/blob/93d2c1b3e902cd4d91aadf82e029d0d5fabaa830/assets/js/modules/analytics/components/common/PropertySelect.js#L89-L109

So yes, if a property isn't selected (eg the _selection_ is empty and the select's _value

[2021-07-07 11:18] ivankruchkoff commented on #3628
@felixarntz , question regarding the namespaces / classnames, with reference to the old / new code:

Old version sans namespace `Google_Service_AnalyticsReporting_OrderBy`:
https://github.com/googleapis/google-api-php-client-services/blob/7272d5407ae281c67259c8997a3d481e0b26dc51/src/Google/Service/AnalyticsReporting/OrderBy.php

New version with namespace `Google\Service\AnalyticsReporting\OrderBy

[2021-07-07 12:11] tofumatt commented on #1997
The VRTs to remove would be helpful, but in fairness if anything's really excessive you can generalise. It's always nice to provide context in the IBs, but use your judgement and if it turns out I'm just requesting a list of 100 files, please say no 😅

I don't think I see anything really obvious with the E2E tests but I haven't thoroughly reviewed the PR. Feel free to ping someone for another set

[2021-07-07 12:36] asvinb commented on #3263
Good point @aaemnnosttv . I've updated the IB to return null if the container does not exist. However I'am thinking whether we can improve the selector which relies on the element having the `toplevel_page_googlesitekit-dashboard` id. 🤔

[2021-07-07 12:49] wpdarren commented on #3564
### QA Update: Pass ✅

For testing, I used the same site when the issue was initially reported.

-  Verified that no minus figures appeared in the graphs for Search Console, Analytics and AdSense.
-  Checked graphs for 7, 14, 28 and 90 days.

https://user-images.githubusercontent.com/73545194/124761438-16465900-df32-11eb-83cc-50e0fdf0ba2c.mov

[2021-07-07 13:15] wpdarren commented on #3531
### QA Update: Pass ✅

Difficult to test this but having chatted with @danielgent I can see there's a very slight delay for the next question to appear after clicking one of the icons.  Recorded this screencast.

https://user-images.githubusercontent.com/73545194/124765243-0f214a00-df36-11eb-9535-bc1e89869590.mp4

[2021-07-07 13:48] tofumatt commented on #2418
IB ✅

I wonder about _"annotate the getSiteKitAdminURL function with `@deprecated n.e.x.t Use selector getAdminURL instead.`"_ in the ACs though. The function won't be used anywhere in the codebase anymore, so why not remove it entirely?

Handing this over to @aaemnnosttv as he touched the ACs most recently.

@aaemnnosttv Any reason to keep that function around instead of removing it and its test

[2021-07-07 13:59] johnPhillips commented on #3667
@aaemnnosttv Thanks for this, it clarifies things.

I agree, I think route B is the more sensible one. I've edited the IB accordingly. The only divergence is from this:

I found that adding `<Widget noPadding>` looked pretty identical to the legacy UI (which uses a `div` with `googlesitekit-layout googlesitekit-layout--fill` classes applied. Was there another reason to avoid `Widget`, or was it ju

[2021-07-07 13:59] aaemnnosttv commented on #3549
Thanks @eugene-manuilov – per our conversation, we can leave that action as you have it defined now and revisit that later when we have more uses of it 👍

IB ✅

[2021-07-07 14:03] Hazlitte commented on #3655
@eugene-manuilov @tofumat I have been working on the QA Eng for this.  I can see that `ttl` is now passed to the `setItem` call in the `triggerSurvey` action and the js tests are passing.

I enabled the `userFeedback` flag in my local environment and observed the state of local storage in the inspector. The user feedback modal is displayed and I select icon and close it.  But I never saw a key/val

[2021-07-07 14:18] wpdarren commented on #3621
### QA Update:  ⚠️ Clarification from Engineer.

@danielgent would like some clarification here, when I add a meta tag, in the <head> i.e.
<meta name="google-site-verification" content="" /> in the Site Health I see the `verification status` is `Verified outside of Site Kit` Should that not be `Verified through meta tag`

**Verified:**

When the user is not verified (Site Kit is not activated) the

[2021-07-07 14:43] marrrmarrr commented on #3283
Thanks for the clarification, @eugene-manuilov !  Lots of interesting ideas here and definitely something for us to explore overall across the product (i.e. users marking various events that are somehow meaningful to them).
We've done some similar explorations for PSI (see this [Figma file](https://www.figma.com/file/LMGbU2JBAVGiZKpy1cMFaI/Pagespeed-Insights-CWV?node-id=330%3A692))

@eclarke1 coul

[2021-07-07 14:43] Hazlitte commented on #3606
@aaemnnosttv I tested `idn_to_*` on a  few dedicated hosting providers (WPEngine, Webfaction...) and the functions work.  However I then tested them on some servers I installed from scratch on Rackspace, Digital Ocean and Linode and in those environments they do not.  So the required PECL extensions are not installed by default and these functions are not guaranteed.  Perhaps we could use `functio

[2021-07-07 14:44] wpdarren opened #3682 "User Input UI issue when question five loads"
## Bug Description

Spotted a UI bug when testing the User Input feature. When you arrive at question 5, two text input boxes appear by default without the user typing in any search terms. The text input box should only appear once, when the user starts to type. When the comma or enter key is pressed the next text box should appear.

![userinput.png](https://images.zenhubusercontent.com/5f99965247

[2021-07-07 14:52] marrrmarrr commented on #1120
Hi @gounder and everyone,
I'll be closing this for now, if you do happen to read the comments have a look at the GA docs, and let us know if you have more questions.

[2021-07-07 14:52] #1120 closed

[2021-07-07 14:57] wpdarren opened #3683 "External link 'Use goals to measure success' CTA opens in same window"
## Bug Description

On the Site Kit Dashboard, when you have Google Analytics connected there is a `Use goals to measure success` CTA, and the Create a New Goal link does not open up in a new window like other external links.

![image](https://user-images.githubusercontent.com/73545194/124781707-eacc6a00-df43-11eb-9539-d5f3ce0c45b0.png)

## Steps to reproduce

1. Connect Google Analytics for a sit

[2021-07-07 15:08] danielgent commented on #3621
@wpdarren  Thanks for that.  I followed the IB (thus why it was merged) but I was also seeing similar results to you! I just assumed I'd done something wrong locally :thinking:   (in hindsight I should have tested it myself on jurassic.ninja!)

Happy for you to send this back to me to investigate again (and get some of the other engineers involved :smile: )

[2021-07-07 15:25] wpdarren opened #3684 "Google Analytics Module Links Default to 7 Days Rather than Period Selected"
## Bug Description

This issue only occurs on the legacy widgets, so not sure if we want to fix this, but thought it deserved a ticket.

On the Google Analytics module page, the external links on all widgets on the page default to 7 days instead of the period selected in the dropdown. E.g. 90 days is selected on Site Kit, when the link is clicked the report opens in Analytics and the date period i

[2021-07-07 15:29] wpdarren commented on #3621
Thanks @danielgent I'll send this back to Execution for discussion.

[2021-07-07 15:34] eugene-manuilov commented on #3518
@felixarntz can you help me to test my PR #3681? Unfortunately, when I use it on my local machine, I receive no ideas... If I use the site that you gave me, I get 403 responses...

[2021-07-07 15:51] jamesozzie commented on #3618
Reviewed all existing topics, 3/6 remain open, with no response from impacted users. While we're still unaware of the actual resolution for 2 users who confirmed they no longer encounter this notice 2/3 of those have the AMP plugin active.

@bethanylang No other insights available. Happy to escalate although unreproducible in support.

[2021-07-07 15:57] bethanylang commented on #3618
@jamesozzie Might as well escalate and see if the team can find anything! Moving to L2.

[2021-07-07 15:58] bethanylang commented on #3427
Hi @willowmagrini, just checking in here! Are you still experiencing these issues?

[2021-07-07 16:40] felixarntz commented on #3514
Any update here on QA @cole10up @wpdarren @ivankruchkoff? Why was there a 500 error before, is that fixed now?

[2021-07-07 16:40] #3542 closed

[2021-07-07 16:41] #3517 closed

[2021-07-07 17:04] tofumatt commented on #2418
(The ACs mentioned to deprecate anything that was still being used, but in this case `getSiteKitAdminURL` is not, so I've amended the IB because it won't be used anywhere.)

IB ✅

[2021-07-07 17:29] cole10up commented on #3514
**### QA ✅**

This passed for me. I was able to confirm the ideahub draft and trash functioned properly.

Sending to approval.

[2021-07-07 17:36] eugene-manuilov commented on #3655
@Hazlitte you don't need to select icon and close the survey. Just open the dashboard page and when the user survey appears, check the session storage, it should contain a record for that survey with the appropriate ttl (1 hour).

[2021-07-07 18:51] felixarntz commented on #3643
@aaemnnosttv Not sure, I'm not aware of either. I'm gonna add ACs, I think it would be reasonable to look into how this can be fixed via the IB.

[2021-07-07 18:56] felixarntz commented on #3621
@wpdarren @danielgent I _think_ your observations are all expected behavior: The information is supposed to say "Verified outside of Site Kit" anytime you manually put something. In other words, if you add a meta tag via some plugin or theme code change, or if you upload the verification file, it is outside of Site Kit - since you made the change.

It will only say "Verified through file" or "Veri

[2021-07-07 19:00] felixarntz commented on #3628
@ivankruchkoff Good point, I agree with you we should go with option 2, keeping the real class names with simply a prefix. We can use aliasing where this causes issues.

[2021-07-07 19:19] felixarntz commented on #3406
@eugene-manuilov @aaemnnosttv Please do not merge this until `develop` is open towards the 1.38.0 release, since we want to time this to go out together with #2258.

[2021-07-07 19:22] felixarntz commented on #1997
@tofumatt @aaemnnosttv @eugene-manuilov This must not be merged until `develop` is open for 1.38.0 release issues.

[2021-07-07 19:23] felixarntz commented on #2077
@tofumatt @aaemnnosttv @eugene-manuilov This must not be merged until `develop` is open for 1.38.0 release issues.

[2021-07-07 19:29] felixarntz commented on #3606
@aaemnnosttv I think pulling in `symfony/polyfill-intl-idn` sounds good. We don't need to update ACs since they don't specify the requirements - let's make this change in the PR, or we could also add it to the IB if that helps.

[2021-07-07 19:38] felixarntz commented on #3633
@eugene-manuilov Using a timeout of 30 seconds sounds good to me. I've already updated ACs and IB ✅

[2021-07-08 01:43] felixarntz opened #3685 "Remove help visibility feature flag"
The `helpVisibility` feature flag should be removed, now that the feature has been established and around for a while without any problems.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `helpVisibility` feature flag should be entirely removed.
* Any functionality that is currently behind the flag

[2021-07-08 02:59] #3657 closed

[2021-07-08 07:20] cole10up commented on #3514
### **QA ❌**

@felixarntz - Testing ideahub posts on a different site than the above - I am now seeing an error trying to move the draft to trash on my personal site.

![image](https://user-images.githubusercontent.com/57115907/124879465-1b32f900-df82-11eb-9461-1b6360fb3a5c.png)

I'm going to re-ope this one.

[2021-07-08 07:59] HFigarella commented on #3606
**GSK 1.36.0** the same issue.

**My temporary solution to be able to see Analytics data on my IDN web site:**
by deleting all these lines starting with line 956 on file ....\google-site-kit\includes\Modules\Analytics.php

'ga:hostname' is Unicode
$hostnames is ASCII

Because **$hostnames** is not 'IN_LIST' of **'ga:hostname'**, **Reporting API v4** returns no data without any message

[code]

**B

[2021-07-08 10:29] tofumatt commented on #2514
@aaemnnosttv Can you assign @wpdarren after reviewing and merging this PR? 🙏🏻

[2021-07-08 10:49] aaemnnosttv commented on #3667
I don't think so. If it looks right then that should be fine 👍  Thanks!

IB ✅

[2021-07-08 10:54] tommiekn commented on #1120
hi @marrrmarrr ,

I have a wordpress plugin that worked well with ga() events, it worked well as well with other analytics plugins that uses gtags after i have updated to gtag() events.
However, with sitekit i can't happen to make it work.

I'm using GA debug to figure out the calls, as well Tag Assistant, events gets fired but never arrive on gtag/analytics.

Could you please advise if i need to

[2021-07-08 10:58] johnPhillips commented on #3524
@felixarntz or @ivankruchkoff Can I ask what `gaEventCategory` I should pass for this feature tour? It seems to be a required prop.

[2021-07-08 11:26] johnPhillips commented on #3524
@ivankruchkoff and @felix
I have run into a bit of unforeseen complexity regarding the third step (`Save for later or dismiss`). It's targeting a hidden element (the 'pin' button is `display: none` and only appears on hover). This means the `target` fails and the third step errors with `Target not visible`.

I've had a look around the docs and a bit of an experiment, and the best solution I curren

[2021-07-08 11:40] Hazlitte commented on #3655
Thanks @eugene-manuilov 👍

**QA ✅**

[2021-07-08 12:42] Hazlitte commented on #3614
Thanks @felixarntz

[2021-07-08 12:59] johnPhillips commented on #3661
@danielgent CC @aaemnnosttv
I think this was fixed with https://github.com/google/site-kit-wp/commit/d6cce732aa7cf22102b8fd552ddd575debfc69cb?

[2021-07-08 13:02] aaemnnosttv commented on #3661
@johnPhillips could be, are the stories fixed now?

[2021-07-08 13:18] johnPhillips commented on #3661
@aaemnnosttv Seems so 👍
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module--use-snippet-switch-toggled-on-default

[2021-07-08 13:31] wpdarren commented on #3621
### QA Update: Pass ✅

**Verified:**

When the user is not verified (Site Kit is not activated) then the `verification status` is `not verified`
![image](https://user-images.githubusercontent.com/73545194/124768786-40e7e000-df39-11eb-8d04-e3d24a79482b.png)

When a HTML tag is manually entered into the <head> of the site then the `verification status` is `Verified outside of Site Kit`
![image](http

[2021-07-08 14:19] Hazlitte commented on #2418
@tofumatt During execution I have discovered that `SetupUsingGCP` is a class component so the call `getSiteKitAdminURL` cannot be replaced with the `useSelect` hook.  Do you think it would be best to therefor leave the `geSiteKitAdminURL` function and tests for now and remove them when this component is refactored?

[2021-07-08 14:25] wpdarren commented on #3360
### QA Update: Pass ✅

**Verified:**

Click on the X icon in the top right corner and the Idea Hub CTA widget disappears.
When the dashboard page is refreshed, the Idea Hub CTA widget doesn't re-appear again.
Also verified that the X icon appears on all supported browsers, i.e. Firefox, Safari
Also verified on smaller screens, i.e. mobiles that the widget is displayed, the X icon appears and the w

[2021-07-08 14:27] tofumatt commented on #2418
In that case let's use the [`withSelect` Higher-Order Component](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-data/#withSelect) to get the data from the data store. It behaves similarly to `mapStateToProps` from Redux, and will let us get data from the data store and remove the legacy function.

Better to rely on that everywhere and remove the legacy component th

[2021-07-08 14:32] felixarntz commented on #3588
Yes, this was indeed already fixed via #3586. Closing.

[2021-07-08 14:32] #3588 closed

[2021-07-08 14:35] felixarntz commented on #3514
@cole10up While this is technically QA of this issue, it shouldn't be reopened now, since it targets an already closed release.

We are already aware of _certain_ problems that remain with the existing implementation, with #3639 being the follow-up issue to address those. Can you please post your findings in there, so that it can inform the work on that issue?

[2021-07-08 14:35] #3514 closed

[2021-07-08 14:45] cole10up commented on #3639
Team, per https://github.com/google/site-kit-wp/issues/3514 I ran a series of tests and noticed an issue trying to trash an idea hub post that is in draft mode.

![image](https://user-images.githubusercontent.com/57115907/124942180-42a8b680-dfc0-11eb-8bc5-ecc448486fae.png)

CC @felixarntz

[2021-07-08 14:46] cole10up commented on #3514
Sounds great @felixarntz. Done ^^

[2021-07-08 14:48] aaemnnosttv commented on #3639
@cole10up is Idea Hub active?

[2021-07-08 15:27] felixarntz commented on #3661
@danielgent @johnPhillips @aaemnnosttv Looks like this is indeed no longer valid. Closing.

[2021-07-08 15:27] #3661 closed

[2021-07-08 15:34] felixarntz commented on #3524
@johnPhillips @ivankruchkoff Maybe we can simply point at the container around the pin and dismiss elements instead? The tooltip is about pinning and dismissing anyway, so we don't really need to point at one specific icon. Regardless of whether we can force-show the icons or not, I think pointing at their always visible container makes sense (and avoids any potential errors from something not bei

[2021-07-08 16:56] cole10up commented on #3639
@EvanHerman - Yep, settings looked like this:

![image](https://user-images.githubusercontent.com/57115907/124961852-cec3d980-dfd2-11eb-879d-fe71544c3782.png)

[2021-07-08 17:09] danielgent commented on #3387
@asvinb  @eugene-manuilov  Thanks for the descriptive IB.

It all made sense except the last instructions

[code]
The activity will already be set to `IDEA_HUB_ACTIVITY_CREATING_DRAFT` then `IDEA_HUB_ACTIVITY_DRAFT_CREATED`, and then cleared

The buttons are also hidden when one of these activities is happening.

I don't see why we need another activity type or to disable the buttons

I've created

[2021-07-08 17:09] danielgent commented on #3387
https://user-images.githubusercontent.com/8496063/124963385-073dd480-e020-11eb-8d7d-d6101b141c5f.mp4

This may not be a concern when on the network but we risk showing the loading text for less than one second.

[2021-07-08 17:45] aaemnnosttv commented on #3606
@felixarntz after taking a quick look at this, I think it will be easier to use the `true/punycode` package since it only adds a class. The reason is that we have to wrestle with our PHPScoper config a bit to prevent some things from being prefixed (as we would in the case of a polyfill).

From the example, the usage looks quite nice as well.

[code]

We should probably go this route for now for s

[2021-07-08 17:56] felixarntz commented on #3606
@aaemnnosttv Great find - using that sgtm.

[2021-07-08 18:07] eugene-manuilov commented on #3639
IB :heavy_check_mark:

[2021-07-08 18:27] eugene-manuilov commented on #3412
@ivankruchkoff I have updated AC to correctly set expectations on which stories we need to add. Could you please update your IB to satisfy the new AC?

No need to put emphasis on setup modes, it's less important and it will be automatically picked when the correct settings are set for each module.

[2021-07-08 18:32] ivankruchkoff commented on #3628
It seems that in https://github.com/googleapis/google-api-php-client-services/commit/0375af405757b36f3bcc82e19d7daf61e0b4cfd8

`src/Google/Service/Pagespeedonline.php` is removed but `src/Pagespeedonline.php` isn't created.
We use it here: https://github.com/google/site-kit-wp/blob/develop/includes/Modules/PageSpeed_Insights.php#L188

[2021-07-08 18:52] abdullah1908 commented on #3654
It's more likely a host level issue based on the previous GitHub issue. Let's wait for the user's response that might help us in recreating this issue.

[2021-07-08 19:23] eugene-manuilov commented on #3387
@danielgent, yes, you are right. We don't need the `ACTIVITY_IS_PROCESSING` activity for the new draft callback. However, we need it for other callbacks. See my comment here: https://github.com/google/site-kit-wp/pull/3676#discussion_r666457989

[2021-07-08 20:52] danielgent commented on #3622
Perfect @eugene-manuilov . I can see it and your comment is essentially the QA brief :smile:

![text-change-after](https://user-images.githubusercontent.com/8496063/124989135-197b3b00-e03f-11eb-8105-86d7167750e9.png)

[2021-07-08 21:16] felixarntz opened #3688 "Include AdSense for Platforms meta tag"
For sites with the AdSense module active, Site Kit should include the new AdSense for Platforms meta tag (see https://developers.google.com/adsense/platforms/transparent/meta-tags). It has the following shape: `<meta name="google-adsense-platform-account" content="{host-publisher-id}">`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators o

[2021-07-09 07:55] danielgent commented on #683
This ticket is done, PR is linked https://github.com/google/site-kit-wp/issues/683 , and ready to move to Code Review

[2021-07-09 07:57] cole10up commented on #3660
### **QA ✅**

This is verified fixed.

Ran a series of tests, checking drafts from the dashboard, cycling back and forth to the drafted post and back to the dashboard. No issues on my end, sending to approval.

![Posts ‹ I'm Safe Bracelet — WordPress](https://user-images.githubusercontent.com/57115907/125044208-98c53a80-e050-11eb-95bc-df0ca3503360.gif)

[2021-07-09 08:03] eugene-manuilov commented on #3412
IB :heavy_check_mark:

[2021-07-09 08:07] cole10up commented on #3272
### **QA ✅**

Confirmed the idea hub banner is displayed on a Gutenberg post in draft mode.

![image](https://user-images.githubusercontent.com/57115907/125045278-ab8c3f00-e051-11eb-8ab4-d7f90bea1f9b.png)

Was able to close the banner properly and confirmed the dialogue is correct.

One thing I noticed is the banner doesn't come back if the user closes it, leaves the drafted post without saving an

[2021-07-09 08:36] aaemnnosttv commented on #3263
@asvinb I'm not sure we can. If the menu is not top-level, no one will see the notification count (and WP may not display the counter properly either). As it is, this selector would match it anywhere in the menu as long as it's top level so I think that's all we need for now. Open to suggestions for improvement though, but let's first understand the scenario(s) which would require a different sele

[2021-07-09 08:59] danielgent commented on #1148
![smaller-image](https://user-images.githubusercontent.com/8496063/125052719-912f8100-e0a4-11eb-875e-b67068307e4b.png)

I've changed the image to be smaller when there are no module boxes in the notification

I've created a PR here, so this is ready for IBR https://github.com/google/site-kit-wp/pull/3690 but as it's outside the current sprint and not a priority I won't assign it back to Felix now

[2021-07-09 09:13] aaemnnosttv commented on #3655
@eugene-manuilov this was already the case before but essentially relying on the default `ttl` rather than the one which was provided that was incorrect. The added test coverage should cover the scenario though 👍

[2021-07-09 09:47] aaemnnosttv opened #3691 "Module disconnect modal wording assumes module has features"
## Bug Description

All modules have the option to declare a list of features as user-facing short descriptions, e.g. "Intelligent, automatic ad placement" is one for AdSense. Features are not a required element of module registration though so components that use this should not assume that this list will always be present, even if all Site Kit modules provide it.

## Steps to reproduce

1. Activ

[2021-07-09 09:52] aaemnnosttv opened #3692 "Add feature descriptions for Idea Hub"
## Feature Description

Currently Idea Hub does not declare any features that it provides. This is currently only shown when a module is about to be disconnected, but could be shown elsewhere in the future. Features are an optional piece that modules can provide when registering on the client side.

![image](https://user-images.githubusercontent.com/1621608/125059838-6d743700-e0b4-11eb-8036-309aa3

[2021-07-09 11:11] ivankruchkoff commented on #3628
To elaborate further, the previous commit has both `PagespeedInsights.php` and `Pagespeedonline.php`

https://github.com/googleapis/google-api-php-client-services/blob/7272d5407ae281c67259c8997a3d481e0b26dc51/src/Google/Service/PagespeedInsights.php

https://github.com/googleapis/google-api-php-client-services/blob/7272d5407ae281c67259c8997a3d481e0b26dc51/src/Google/Service/Pagespeedonline.php

He

[2021-07-09 12:02] tofumatt commented on #3614
@felixarntz Oh shoot, thanks, yes. My bad, not sure why I spaced on that one 😅

[2021-07-09 13:41] wpdarren commented on #3519
### QA Update: ❌

@asvinb having a few difficulties getting this working, here are the steps I took.

I am using the `Test Idea Hub connection` plugin to force Idea Hub into a connected state.  I am also using the Tester plugin with the ` ideaHubModule` feature flag enabled. I successfully [connected to Idea Hub](https://user-images.githubusercontent.com/73545194/125085602-0f068300-e0cb-11eb-8283-

[2021-07-09 14:11] wpdarren commented on #3387
### QA Update: ⚠️

@danielgent In the AC it doesn't mention the loading icon which appears to the right hand side of the `Creating draft `text.  On smaller screen sizes it does shift the text a little further over to the left. Not sure if this icon should be there?

https://user-images.githubusercontent.com/73545194/125090645-dc12be00-e0cf-11eb-9efc-68f8e8ef3995.mp4

**Verified:**

- The "Creating

[2021-07-09 14:18] eugene-manuilov commented on #3387
@danielgent could you please create a follow-up PR to adjust styles for the loading text to display it without line breaks?

[2021-07-09 14:30] wpdarren commented on #3520
### QA Update: ⚠️

@asvinb when on Storybook, this works as detailed in the QAB/AC but I do not see the same behaviour when setting this up on my test site on the develop branch.  Would there be a reason for this?

[2021-07-09 14:58] wpdarren commented on #3622
### QA Update: Pass ✅

**Verified:**

- On an account that has a UA property and GA4 property without a web data stream, on submitting, the permissions modal with the new text from the AC `You'll need to grant Site Kit permission to create a new Analytics 4 Measurement ID for this site on your behalf.` as per screenshot below.

![image](https://user-images.githubusercontent.com/73545194/125097726-

[2021-07-09 15:11] danielgent commented on #3387
Sure thing @eugene-manuilov. Nice spot @wpdarren!  I'm on a new super hi-res laptop and forgot to check for smaller screen sizes :smile:   (like I've been working on for the last 6 months)

I'll do a load of responsive checks now

[2021-07-09 16:07] danielgent commented on #3387
@wpdarren  My screen is 1920x1080 and from the previous videos you can see it looks fine

https://user-images.githubusercontent.com/8496063/124963385-073dd480-e020-11eb-8d7d-d6101b141c5f.mp4

Recorded 1377x768 it looks fine

https://user-images.githubusercontent.com/8496063/125106655-29972700-e0e0-11eb-9b99-da16dd0915dc.mp4

These are the two most popular desktop resolutions by far IIRC

Recorded

[2021-07-09 16:10] danielgent commented on #3387
![mobile-collapses](https://user-images.githubusercontent.com/8496063/125107147-be9a2000-e0e0-11eb-90b5-7f63f6ff6188.png)

On mobile it all collapses to a single column (although I don't think we have mobile designs)

@wpdarren  @eugene-manuilov

[2021-07-09 17:05] felixarntz commented on #3628
@ivankruchkoff Looking at the latest source, basically the `Pagespeedonline` service was migrated to `PagespeedInsights` (see https://github.com/googleapis/google-api-php-client-services/blob/master/src/PagespeedInsights.php). The old one now is no longer present. The service itself hasn't really changed it looks like.

This needs to be changed in here as well, it cannot be in a separate issue sin

[2021-07-09 18:03] danielgent commented on #1997
@tofumatt I've fleshed out the IB a lot. That's much better. I was expecting there to be some huge list but now I've written it, it's really not that big.

Thinking about it, I spent a lot of time doing this PR, and documenting what I did in an IB would have helped.

Points 3. and 5. are a bit mixed though. I just know which files I've deleted from the diff but if you want me to go through again I

[2021-07-09 18:09] danielgent commented on #1997
@tofumatt  I'm a bit unclear on what this step in the AC means though (I've only just realized now I've revisited the AC :upside_down_face: )

_6. It needs to be ensured that the dashboard details-related Storybook stories still show up as before (without any widgets, just the headers essentially)._

Do you know what this entails? I can ask Felix if not :smile:

[2021-07-09 18:34] Peter-HVD commented on #6
`<rant>`It's very disappointing to see that this issue has been dragging on for over 2 years ago. The problem is caused by a typical one that exists amongst plugin creators in that "I say no, because I know best" when, in reality, the best thing to do is to give the user the choice - yes, there may be issues giving access to this sort of data to certain user, but - to be blunt - that's our problem

[2021-07-11 09:30] eugene-manuilov commented on #3581
IB :heavy_check_mark:

[2021-07-11 09:40] eugene-manuilov commented on #3013
Thanks, @asvinb. IB looks good in general, but the part that explains how to render the snippet needs to be updated to use the Tag/Guard approach as we do it for AdSense/Analytics/Tag Manager snippets.

[2021-07-11 09:49] eugene-manuilov commented on #2122
IB :heavy_check_mark:

[2021-07-11 09:52] eugene-manuilov commented on #3599
IB :heavy_check_mark:

[2021-07-12 05:50] eugene-manuilov commented on #3393
IB :heavy_check_mark:

[2021-07-12 05:54] eugene-manuilov commented on #3685
IB :heavy_check_mark:

[2021-07-12 06:03] eugene-manuilov commented on #336
IB :heavy_check_mark:

[2021-07-12 08:56] asvinb commented on #3519
@wpdarren This is expected for now since #3518 is still under development.

[2021-07-12 09:01] eugene-manuilov commented on #3519
@wpdarren @asvinb Yes, the real Idea Hub APIs aren't connected yet. So those errors should be expected for now.

[2021-07-12 09:54] aaemnnosttv commented on #3658
Thanks @felixarntz – the IB looks great overall. A few thoughts I have to consider:

No objections to this really, but looking at the changes in the PR, almost all of our usage of the access token are to check that it's not empty to see if the user is authenticated for some condition. I would suggest we add a dedicated method for checking this on the `OAuth_Client`, maybe `has_token() : bool`. Als

[2021-07-12 10:17] aaemnnosttv commented on #1997
@danielgent I _believe_ it's referring to [this story](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/dashboard-details--not-found-entity) in particular, although there is one more there as well.

A bit more context here is that the context renderer here needs to still render the `Header` and `Footer` even when there are no widgets. For example, the `pageDashboardNotFound` slu

[2021-07-12 11:00] johnPhillips commented on #3524
Good point @felixarntz, for some reason I hadn't realised that step was about dismissing as well as saving. I think your suggestion of targeting the container makes a lot of sense, so I will do that 👍

Now I've got my head around Joyride, I can certainly use the callback to add a class to those buttons so they are visible for this step as well. Is something like this ok?

![Screenshot 2021-07-12 a

[2021-07-12 11:13] asvinb commented on #3013
Thanks @eugene-manuilov . IB updated. Can you check again please?

Thanks!

[2021-07-12 11:17] eugene-manuilov commented on #3317
@Hazlitte the `.googlesitekit-dashboard-adsense-stats` class is added to the outer container of the widget and changes in it won't affect data block elements. We need to update styles of DataBlock elements.

[2021-07-12 11:20] eugene-manuilov commented on #3013
IB :heavy_check_mark: Thanks, @asvinb.

[2021-07-12 11:29] danielgent commented on #1997
Cool thanks @aaemnnosttv .  So this step looks done to me :+1:
https://google.github.io/site-kit-wp/storybook/pull/3439/?path=/story/dashboard-details--not-found-entity

[2021-07-12 11:29] eugene-manuilov commented on #3033
IB :heavy_check_mark:

[2021-07-12 12:17] marrrmarrr commented on #3692
@aaemnnosttv There's only one feature really, I've added it to the ACs section of the issue description.
Reassigning to you, move to IB if this works; else let me know if you have any other comments.

[2021-07-12 12:38] marrrmarrr commented on #6
Hey @Peter-HVD and everyone who provided feedback so far, thanks for the detailed info on the various use cases and your needs. It's been very helpful for us to scope the minimum viable features.
It did take a while to define exactly how to build this capability while making sure we're in line with privacy and security requirements. That said, right now this feature is a top priority and we're wor

[2021-07-12 12:59] wpdarren commented on #3387
@danielgent The main query for me was the spinning loading icon isn't mentioned in the AC, but if that is expected then I am happy to approve this. Can you confirm that this is expected?

[2021-07-12 13:15] danielgent commented on #3307
The same code creates the messages for not permissions not granted for multiple modules
https://github.com/google/site-kit-wp/blob/develop/assets/js/components/notifications/UnsatisfiedScopesAlert.js#L102

So by changing it for Analytics like the AC we're changing it for AdSense and Tag Manager

![tag-manager-new-warning](https://user-images.githubusercontent.com/8496063/125293746-ffce4200-e323-11

[2021-07-12 13:25] wpdarren commented on #3387
### QA Update: Pass ✅

**Verified:**

- When creating an Idea Hub draft post, the current state of the progress is indicated: The status displayed is `Creating draft` and displays in the same spot where it for ideas with a draft post has the `View draft`

- Once the API request is completed, the idea does not immediately disappear from the current tab; instead the text above changes to `Draft crea

[2021-07-12 13:26] danielgent commented on #3307
@jamesozzie  also there's extra functionality for when multiple modules don't have permissions granted e.g. AdSense and Analytics here
![multiple-needs-changing](https://user-images.githubusercontent.com/8496063/125295303-630ca400-e325-11eb-8b9c-645d3f31b7aa.png)

The messages looks like
`__( 'Site Kit can’t access all relevant data because you haven’t granted all permissions requested during setu

[2021-07-12 13:37] wpdarren commented on #3519
### QA Update: ✅

**Verified:**

When visiting Storybook as per the QAB:

- The "New" tab. The `X` icon dismissed the idea and the `Pin` icon sent the idea to the `Saved` tab
- The "Saved" tab. When clicking the `Pin` icon, it was removed from the tab.

[2021-07-12 13:43] wpdarren commented on #3520
### QA Update: Pass ✅

**Verified:**

When looking at Storyboard as per the QAB:

- The `New` tab. When you click on the `X` icon the idea is removed from the tab.

[2021-07-12 13:51] jamesozzie commented on #3307
@danielgent Looks good to me, thanks Daniel.

In relation to when multiple modules require additional permissions I like the additional references, "_To use AdSense and Analytics, you'll need to ...._"

[2021-07-12 14:47] eugene-manuilov commented on #3233
IB :heavy_check_mark:

[2021-07-12 14:49] danielgent commented on #3643
On 1.35.0 I see this same bug. I've been trying out much older commits as well and I'm unable to *not* see these visual artifacts :thinking:

[2021-07-12 14:52] eugene-manuilov commented on #3162
IB :heavy_check_mark:

[2021-07-12 15:02] eugene-manuilov commented on #1504
@Hazlitte there is the [`script_loader_tag`](https://developer.wordpress.org/reference/hooks/script_loader_tag/) filter that we can use to add comments to enqueued scripts.

[2021-07-12 15:14] bethanylang commented on #1945
@jamesozzie Since we haven't had any further reports of this and have been unable to replicate, closing.

[2021-07-12 15:14] #1945 closed

[2021-07-12 15:15] bethanylang commented on #2771
@jamesozzie Closing.

[2021-07-12 15:15] #2771 closed

[2021-07-12 15:23] bethanylang commented on #3285
@jamesozzie @abdullah1908 Per @Hazlitte's comment above, can you please test to see if this has been resolved with the fix from #2280? If so, let's get this closed and reply to the affected users. Thanks!

[2021-07-12 15:53] jamesozzie commented on #3285
Confirming all is good with formal German. Thank you @Hazlitte

Closing while also following up with the user who initially reported in the support forums.

[2021-07-12 15:53] #3285 closed

[2021-07-12 15:56] wpdarren commented on #3643
@danielgent I've just retested this in 1.35.0 and yes, the issue appears there too when you select 7 days as a date period. I've updated the description.

[2021-07-12 16:07] tofumatt commented on #1997
Sorry, I don't follow that sentence. `but to the amount of changes, as part of the execution, the whole code base should be checked again` isn't clear to me—could you rephrase? 😅

I understand you're referencing the ACs here because they contain, essentially, implementation. But writing "Change files" is vague, so much so that I think it actually makes it harder to read this IB. I'd be better to w

[2021-07-12 16:11] danielgent commented on #3307
@marrrmarrr  Assigning this ticket to you so you can check the wording for the multiple modules message (see this comment https://github.com/google/site-kit-wp/issues/3307#issuecomment-878278587 )

[2021-07-12 17:34] felixarntz commented on #3524
@johnPhillips That looks great to me.

[2021-07-12 18:01] eugene-manuilov commented on #3497
IB :heavy_check_mark:

[2021-07-12 18:15] eugene-manuilov commented on #2994
IB :heavy_check_mark:

[2021-07-12 18:17] eugene-manuilov commented on #3133
IB :heavy_check_mark:

[2021-07-12 18:25] eugene-manuilov commented on #1427
Thanks, @Hazlitte. Do you know what exactly breaks styles? Can we change something in our styles to fix this issue and escape a need to add `w3tc` specific filter?

[2021-07-13 09:37] johnPhillips commented on #3174
## QA - Fail ⛔️

It's tricky to understand which broken stories come from this issue because the code is now in `main`, so comparing local storybook to the one deployed on `main` isn't really helpful. If some of these issues are pre-existing, let me know!

The issues I'm seeing fall into three categories, which I'll go through.

### Errors
I'm seeing a number of stories broken (i.e. erroring). I g

[2021-07-13 10:04] johnPhillips commented on #3174
Assigning back to you @eugene-manuilov - can you advise on next steps for any of the above?

[2021-07-13 11:16] eugene-manuilov commented on #3174
@johnPhillips the follow-up PR was intended to fix big paddings on mobile screens reported here: https://github.com/google/site-kit-wp/issues/3174#issuecomment-872245769. Regarding errors in stories, they will be fixed in other tickets.

[2021-07-13 11:24] aaemnnosttv commented on #3174
@johnPhillips thanks for your thorough look through the stories. At first glance, it looks like most of this is unrelated to the changes made in this issue/PRs.

Regarding the broken (error boundary) stories: those wouldn't be a result of this issue and fixing those would be out of scope to fix here. We already have an issue to prevent this going forward in #3378 so I don't think we should invest

[2021-07-13 12:45] johnPhillips commented on #3174
@eugene-manuilov and @aaemnnosttv Thanks for the clarification!

Overall the difference is night and day and this represents a huge improvement to what we previously had - the vast majority of the stories look great now. I just really wasn't sure which breakages had resulted from this and which were unrelated / pre-existing, so I made a list 😅. Even if none of the problems have any bearing on this

[2021-07-13 12:57] Hazlitte commented on #1504
Thanks @eugene-manuilov, I have updated the IB 👍

[2021-07-13 13:01] eugene-manuilov commented on #1504
@Hazlitte we also need to mention the Analytics-4 module.

[2021-07-13 13:28] Hazlitte commented on #1427
Hi @eugene-manuilov, my testing showed that this problem is not theme specific.  I tested a couple of other Woo Commerce themes and observed the same behaviour.  When CSS minifying is enabled in W3 Total Cache some styling errors occur and a span element is injected into the DOM.  I didn't figure out if the problem can be prevented by changing styling class names.  We could target the element that

[2021-07-13 13:30] Hazlitte commented on #1504
👍

[2021-07-13 13:37] felixarntz commented on #3614
@wpdarren Good catch!

I guess the logic specifically for the `ga4transitional` case needs to be slightly adjusted: Instead of just checking whether one of the two properties is already specified (which here is the case since GA4 property is set to create a new one), this should only consider the value of whether the _primary_ property is already set. In other words, we also need to use `getPrimar

[2021-07-13 14:21] Hazlitte commented on #3317
Thanks @eugene-manuilov, I just realised that I forgot to specify the `.googlesitekit-dashboard-adsense-stats &` section of `.googlesitekit-data-block`.  I have updated the IB.

[2021-07-13 14:30] marrrmarrr commented on #3631
Hey @yogeshbeniwal, thanks for the great suggestion! This is actually something we're already working on, so you'll be seeing more progress on this in the coming months!

[2021-07-13 14:30] #3631 closed

[2021-07-13 14:54] danielgent commented on #1997
Thanks @tofumatt
`but to the amount of changes, as part of the execution, the whole code base should be checked again`
was meant to be
`but DUE to the amount of...`  :see_no_evil:

I've just removed this line for now.

What I meant to say is that there may be more files and utils to be removed so.  I went through the codebase twice, but it wouldn't hurt to have another set of eyes checking it. Esp

[2021-07-13 15:06] aaemnnosttv commented on #3682
Confirmed – this only seems to happen in WP though; it doesn't happen in Storybook.

![image](https://user-images.githubusercontent.com/1621608/125476349-0b72d239-fdfd-4c4d-86e7-b5d82b5f34f5.png)

Relevant state at this point in time
![image](https://user-images.githubusercontent.com/1621608/125476368-ed88e385-2e81-49ec-a53d-024a64b53337.png)

[2021-07-13 15:19] aaemnnosttv commented on #3684
Thanks @wpdarren – this was addressed in #3042 for the widget-based screens only. Legacy dashboards have been omitted from this to avoid extra effort for non-critical things like this which will be removed soon anyways.

Closing this as a wontfix since widget-based dashboards will be the only ones as of 1.38.0. See #1997 and #2077

[2021-07-13 15:19] #3684 closed

[2021-07-13 15:41] MarcMurrayUpfront opened #3700 "Analytics not connecting after new site uploaded"
## Bug Description

So my small agency developed a new website and moved out hosting to WPEngine from another host.
When launching our new site, we just updated our DNS and pointed our existing domain to the new site hosted on WP Engine servers.
Since then, I have been able to get Search Console set up in Sitekit, but can't get analytics working at all.
It just loads infinitely (see image below fo

[2021-07-13 15:57] jamesozzie commented on #3700
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. Should we determine a bug or area of the plugin that requires attention we can always open this issue.

Please include as much relevant information to your support topic as n

[2021-07-13 15:57] #3700 closed

[2021-07-13 16:16] wpdarren commented on #3633
### QA Update: ✅

Nice! Works perfect.

- Verified that when you visit the main dashboard, the user feedback is displayed.
- When I navigate to another page within the admin and return to the main dashboard, the user feedback is displayed again.
- When I wait for 35s, without interacting with the component, navigate away from the page and come back to the main dashboard, the user feedback componen

[2021-07-13 16:59] felixarntz opened #3702 "Provide link in Analytics settings panel to update GA4 configuration and improve UI for related UA link"
In the Analytics settings panel (in view-only state), there is currently a long message with a link that points to the Analytics frontend for the currently active Analytics property and its view.

Now that users can also have a GA4 property configured there, this message is confusing, as it appears below all of those settings while still only focusing on UA. We will now need two links instead of j

[2021-07-13 17:18] eugene-manuilov commented on #3614
@felixarntz do you mind reviewing my PR #3699? It contains bug fixes that we discussed on our call today.

[2021-07-13 17:32] eugene-manuilov commented on #1504
IB :heavy_check_mark:

[2021-07-13 17:36] eugene-manuilov commented on #3317
Thanks, @Hazlitte. IB :heavy_check_mark:

[2021-07-13 17:43] eugene-manuilov commented on #1427
Unfortunately, we can't just add a filter from a 3rd party plugin (even from the popular one) to fix some compatibility issues by disabling some functionality (am I right, @aaemnnosttv?).

@asvinb can you also check this issue and see if you can find a way how to solve this problem without adding the `w3tc_minify_css_enable` hook to our codebase? :thinking:

[2021-07-13 18:00] tofumatt commented on #1997
Awesome, looks good!

I think this IB covers it, thanks 👍🏻

IB ✅

[2021-07-13 18:44] jamesozzie opened #3703 "Include a link to the connected Analytics property within the Analytics edit screen - "See full details in Analytics""
## Bug Description

The "See full details in Analytics" link within a users Analytics settings page directs users to their overall Analytics screen, and not specifically the connected property. This could be improved to ensure users land on the correct property.

All other Analytics links do direct users to the connected property and account details, including in the below widgets:
- The primary d

[2021-07-13 20:30] felixarntz commented on #3522
## Approval ❌

@johnPhillips @danielgent Something was missed here, I am not able to access the Idea Hub setup UI at all. While the UI was implemented in the PR, I don't get redirected there and can't access it via direct URL either. I assume it's because of https://github.com/google/site-kit-wp/pull/3629/files#diff-742fe552dc9514fbe56f9c0fa0b23cb7fd5b6cb934248191f2e1ba51b1bfcc5cR27. I assume that

[2021-07-13 20:34] felixarntz commented on #3522
@johnPhillips Since this is targeting 1.37.0 which is already branched off into `main`, can you please create a follow-up PR based off and targeting `main`? At a high-level, at least the two following things need to be fixed to make this work as expected:
* The Idea Hub module store should not be registered with `requiresSetup: false`.
* The Idea Hub module should include its setup component durin

[2021-07-13 20:59] felixarntz commented on #3518
@eclarke1 @fhollis @eugene-manuilov Quick update here: Unfortunately this is still blocked by the API not returning ideas. So we may need to postpone the bug bash further.

[2021-07-14 07:50] marrrmarrr commented on #3692
@aaemnnosttv let's shorten this to "Suggestions for new topics to write about" to solve the immediate issue.
Would be great to change the styling of these modals so the text wraps. Not sure either why fixed item height was introduced, but it's definitely something we can alter.

[2021-07-14 08:35] aaemnnosttv commented on #3692
Thanks @marrrmarrr, I've updated the ACs accordingly. I'll open a new issue to address the changes to the wrapping for these items in the future 👍

IB ✅

[2021-07-14 09:44] aaemnnosttv commented on #3502
Thanks @danielgent – this looks like a nice enhancement to add 👍

Looking at your branch, is there a reason why you chose the import plugins for `errors` and `warnings` over the [`recommended`](https://github.com/benmosher/eslint-plugin-import/blob/1012eb951767279ce3b540a4ec4f29236104bb5b/config/recommended.js) ruleset? It looks like that one has all the same rules in one. Any reason not to use th

[2021-07-14 09:56] aaemnnosttv commented on #3652
I think this can be fixed by #3378 which we really need anyways. Otherwise we will keep getting issues like this popping up. Unless we already know what's needed to fix this and it will be a very simple fix, then we should prioritize #3378 instead which will need to fix all broken stories as part of the PR.

[2021-07-14 10:14] danielgent commented on #3502
No @aaemnnosttv .  Most likely I quickly read the readme incorrectly :smile:

Just doing `- plugin:import/recommended` is enough

[2021-07-14 10:16] krisu7 opened #3705 "Cannot link GA to my page"
I want to connect GA4 to my website. After I click connect with analytics infinite loading bar appears and in console I get an error:

`Cannot read property 'replace' of undefined
    at o (googlesitekit-api.c423bd9792e7eed18683.js:1)
    at googlesitekit-modules-analytics-4.7b34aa738d17383f29ca.js:20
    at u (googlesitekit-vendor.739fd0f156bc499b3341.js:1)
    at Generator._invoke (googlesitekit

[2021-07-14 11:14] jamesozzie opened #3706 "Analytics setup screen loads continuously during setup - Uncaught (in promise) TypeError: Cannot read property 'replace' of undefined"
## Bug Description

There have been 3 recent reports of the below console errors appearing, when trying to setup the Analytics module. The setup screen itself never progresses, remaining in a loading state:
`Uncaught (in promise) TypeError: Cannot read property 'replace' of undefined`

All sites using SK 1.36.0 with a first time Site Kit setup. This occurs after clicking on the "continue module se

[2021-07-14 11:41] jamesozzie commented on #3706
Possible third case, awaiting details: https://wordpress.org/support/topic/cant-activate-google-analytics/#post-14659801

[2021-07-14 13:13] bethanylang commented on #3705
Hi @krisu7! All support for the Site Kit plugin is provided on our [WordPress.org support forum](https://wordpress.org/support/plugin/google-site-kit/). If you [create a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) there, we'd be happy to take a look and help you troubleshoot. Thanks!

[2021-07-14 13:13] #3705 closed

[2021-07-14 13:23] Hazlitte commented on #3685
**QA failed ❌**
Hi @johnPhillips, I found the`helpVisibility` string in a few places in the code:

* `components/legacy-setup/wizard-step-authentication.js`
* `feature-tours/help-visibility.js`
* `feature-tours/index.js`

[2021-07-14 14:05] tofumatt opened #3707 "Pressing Escape in Settings > Connected Services makes all modals appear/disappear"
## Bug Description

Pressing the "Escape" key triggers all modals on the Settings > Connected Services page.

## Steps to reproduce

1. Go to Site Kit Settings, Connected Services
2. Type the "Escape" key
3. See all modals appear
4. Type "Escape" again
5. See all modals disappear

## Screenshots

![2021-07-14 14 18 14](https://user-images.githubusercontent.com/90871/125635570-34300118-0062-496b-84

[2021-07-14 14:11] asvinb commented on #1427
@Hazlitte @eugene-manuilov @aaemnnosttv After spending some hours on that, I finally managed to find out the culprit in our CSS which is not playing nicely with `minify`. It's the following line:
https://github.com/google/site-kit-wp/blob/develop/assets/sass/components/adminbar/_googlesitekit-wp-adminbar.scss#L82

So without minification, the SVG (html decoded) markup is as follows:
[code]
but the

[2021-07-14 14:20] Hazlitte commented on #1427
Wow, great find @asvinb 👍

[2021-07-14 14:37] eugene-manuilov commented on #1427
That's aweseome! Thanks, @asvinb! IB :heavy_check_mark:

[2021-07-14 14:45] ivankruchkoff opened #3708 "HTML Encoded links in DashboardIdeasWidget/index.js"
## Bug Description

In `assets/js/modules/idea-hub/components/dashboard/DashboardIdeasWidget/index.js`

View draft links are html encoded, so we get broken links such as the following:
`http://sitekit.10uplabs.com/wp-admin/post.php?post=25&amp;action=edit`

## Steps to reproduce

- Enable idea hub
- Open http://sitekit.10uplabs.com/wp-admin/admin.php?page=googlesitekit-dashboard#new-ideas
- Create

[2021-07-14 14:54] wpdarren commented on #3118
### QA Update: ✅

**Verified:**

- Using a WordPress multisite installation, I was able to install and activate Site Kit for a single site within a network. Not only did I go through the set up flow but also activated all of the modules.

[2021-07-14 15:01] eugene-manuilov commented on #3707
IB :heavy_check_mark:

[2021-07-14 15:09] Hazlitte commented on #3618
I was unable to reproduce this error.

[2021-07-14 15:53] wpdarren commented on #3667
### QA Update: Pass ✅

Tested this with a site that has active AdSense account but no data.

With the `widgets.moduleScreens` flag enabled:

- The AdSense module screen is in a complete "zero data" state, instead of showing the blue CTA as per the screenshot.

Comparing this with the `widgets.moduleScreens` flag disabled:

The user-facing experience is the same to the one with the feature flag ena

[2021-07-14 16:18] wpdarren commented on #3707
### QA Update: Pass ✅

**Verified:**

- When going to Site Kit Settings > Connected Services and the `Escape` key is pressed, the modal `does not appear`.
- When opening any Modules' settings, and after clicking to disconnect the module, the `modal does appear`.
- When you press the `Escape` key then `the modal disappears`.
- When you press the  "Escape" key again `the modal does not appear`.

htt

[2021-07-14 16:20] johnPhillips commented on #3522
Sorry @felixarntz, yes: it seems something fell between the cracks here. I think it wasn't clear to me that connecting up the form was a requirement of this issue (I mean vs building a UI component), and since the ACs seemed to be around technical points I erroneously added the `QA: eng` label.
Apologies again. I've added a PR targeting `main` that hopefully fixes this, and updated the QAB. Let me

[2021-07-14 16:41] felixarntz commented on #3522
@johnPhillips No worries - the ACs indeed don't clearly state that. In general, such changes should always be incorporated in a user-facing way, unless there is a note that it should be only in Storybook for now, or something along those lines. 👍

[2021-07-14 17:29] felixarntz commented on #3625
@eclarke1 @fhollis Just flagging that this issue is _not_ a launch blocker for Idea Hub, and it doesn't need to be ready for the eventual bug bash. It's still something we should work on soon - if we can finish it before launching Idea Hub, that would be ideal.

[2021-07-14 21:40] felixarntz commented on #3658
@aaemnnosttv I like all those ideas. I've updated the IB accordingly:
* No longer deprecate `get_access_token` since it makes sense to keep - only the other ones.
* Introduce a `Token` class representing the four token values in one place, since they belong together.
* Introduce only an abstract `Base_OAuth_Client` for now, in preparation for the future, since we don't _yet_ need any delegated cli

[2021-07-15 07:50] aaemnnosttv opened #3712 "Add dependabot config file"
## Feature Description

We use [Dependabot](https://github.com/dependabot) for monitoring our dependencies for vulnerabilities and providing updates automatically.

As it is, the configuration is limited to those who have administrative access to the Site Kit repo. We can however add a [`dependabot.yml` configuration file](https://docs.github.com/en/code-security/supply-chain-security/keeping-your

[2021-07-15 08:12] aaemnnosttv opened #3713 "Release 1.37.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* https://github.com/google/site-kit-wp/releases/tag/untagged-172732f4f4158d64c820

## Changelog entry

* N/A

[2021-07-15 09:15] aaemnnosttv commented on #3658
@felixarntz Great! A few final thoughts:

I don't think extending `User_Setting` would be possible without changing the way it is stored since all of the methods rely on the single `OPTION` constant in the class. Also, `User_Setting` takes a single `User_Options_Interface` which requires different implementations for the internal values (access/refresh tokens are encrypted while expiration and cre

[2021-07-15 10:27] wpdarren commented on #3614
### QA Update: Pass ✅

- Verified that within Analytics set up flow, that when you select an account with lots of properties not linked with the URL of the test site, that the blue notice no longer appears.
- Verified that only when you select a property does the appropriate blue notice appear.

![image](https://user-images.githubusercontent.com/73545194/125773185-73c43968-5258-46e9-b17f-517b5f831

[2021-07-15 11:30] tofumatt commented on #3706
QA ✅

[2021-07-15 11:36] wpdarren commented on #3522
### QA Update: ❌

@johnPhillips I have a few initial observations that I'd like to share:

1. I can only get the widget to appear when `widgets.dashboard` is enabled on the tester plugin. I am assuming this is because quite rightly we have no plans to update legacy, but wanted to double check.

2. When the Idea hub connect screen loads, the checkbox is enabled by default. Is this expected?  I can

[2021-07-15 14:12] wpdarren commented on #3713
@tofumatt @aaemnnosttv The Create a Goal CTA link on the Site Kit dashboard  does not work when you click it. Tested this with a site on 1.36.0 and this issue does not occur so seems to be an issue with this release. Unsure if its related to the #2514

[2021-07-15 14:19] danielgent commented on #3643
There may be a few ways to do this, but one way I've found is to use `ticks`

See `hAxis.ticks` on https://developers.google.com/chart/interactive/docs/gallery/linechart

We can specify this in the Google Charts `options` and pass in only the labels we want to render

This is it working on branch https://github.com/google/site-kit-wp/tree/bug/3643-Duplicate-Dates-Graphs-7-Days__idea-1

![solution

[2021-07-15 14:19] tofumatt commented on #3503
As a general rule, typing tools like TypeScript, Flow, PropTypes, etc. are great. The trick is seeing if the development cost in _creating the types_ and _maintaining the types_ is less than the time we'd spend dealing with unclear errors, fixing bugs, and writing code that a type-checker would have caught errors in for us.

For PropTypes it's the hardest to extract value from, because the errors

[2021-07-15 14:23] danielgent commented on #3643
Happy to bump the estimation up to 7 *but* if whoever reviews is happy with my branch then this task is done

[2021-07-15 14:31] danielgent commented on #3503
@tofumatt Not allowing `object` propTypes wasn't actually meant to be my suggestion!  I just gave that as an example of something we did

I totally feel your pain of having to map out complex API types as propTypes (although then if the API changes we would get a development warning)

In the output you gave I think we should ignore all `*.stories.js` files, and lots of them are `Legacy*` component

[2021-07-15 14:38] johnPhillips commented on #3522
Thanks @wpdarren.

I think this is expected, but worth double checking (CC @felixarntz). I think that the legacy dashboard is about to be removed (see https://github.com/google/site-kit-wp/pull/3439)

This is strange. The form reads whatever the value is set to in the back end, and that value defaults to `false`.

I wonder whether something else is at play here: did you use Evan's plugin for examp

[2021-07-15 14:49] wpdarren commented on #3713
@tofumatt similar issue with the `Link Analytics and AdSense` CTA link (Learn More), nothing happens when you click it. This is also on the Site Kit dashboard under Earnings.

![image](https://user-images.githubusercontent.com/73545194/125808296-2e8efd33-a800-4267-99d6-d5bbf2cd88be.png)

[2021-07-15 15:28] Pratheep-lab commented on #3522
@wpdarren @johnPhillips

As per the above discussion, this text is changed. I have now updated the Figma file with the latest text.

Yes, we recently updated the notice component to make sure that it doesn't go full width on big screens. So I agree with using the default notice component. For now the 1098px max-width works. (Figma designs updated to reflect this.)

[2021-07-15 15:33] eugene-manuilov commented on #3644
Felix, could you please review IB?

[2021-07-15 15:36] wpdarren commented on #3522
@Pratheep-lab @johnPhillips  thanks for comments. Yes, I did use Evan’s plugin, but I know Ivan made some changes to a new version (just remembered), so let me pick this up tomorrow and give it a re-test.

[2021-07-15 16:23] wpdarren commented on #3713
@tofumatt none of the help menu links are working too with this release.  [Screenshot](https://user-images.githubusercontent.com/73545194/125822892-08cecc21-240c-4489-9896-5b9fcd442e17.png)

[2021-07-15 16:31] eclarke1 opened #3716 "Strange contrast / almost similar colors for link in blue notice"
## Bug Description

The link in the blue notice (e.g. the one for selecting a matching UA or GA4 property) uses regular Site Kit link colors. That dark blue is very close to the dark blue that is used for the regular notice text - without being exactly the same though. This is problematic for two reasons:
- It looks weird since my head thinks it should be the same color but it isn't.
- It is in ge

[2021-07-15 16:33] eclarke1 opened #3717 "Text on GA4 notice not vertically aligned"
## Bug Description

Two very minor styling points noticed:

- The text for the notice doesn't appear to be vertically aligned as per the design
- ~~There is an external icon on the 'learn more' link which isn't in the design~~ (irrelevant, the icon should be there for accessibility)

![image](https://user-images.githubusercontent.com/56588136/125824298-390e7423-df9f-4db0-8132-2fce86552c65.png)

Or

[2021-07-15 16:36] eugene-manuilov commented on #3643
IB :heavy_check_mark:

[2021-07-15 16:45] danielgent commented on #3412
## QA :white_check_mark:

Can see new stories

https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-settings--view-open-with-all-settings-ga4
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-settings--edit-open-with-all-settings-ga4
https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-settings--edit

[2021-07-15 17:04] johnPhillips commented on #2258
Hi @felixarntz, just a couple of questions:

Regarding `assets/js/components/data/constants.js`,`TYPE_MODULES` seems to be in use in a couple of places:
   - assets/js/modules/analytics/datastore/settings.js
   - assets/js/modules/tagmanager/datastore/settings.js
   - assets/js/modules/search-console/datastore/settings.js
   - assets/js/googlesitekit/data/create-settings-store.js

What would you l

[2021-07-15 17:04] danielgent commented on #2418
## QA :white_check_mark:

Confirming all code removed as per IB

Tests and VRTs all pass on `develop`

[2021-07-15 17:27] tofumatt opened #3719 "Link components render `button` tag even when `href`/`to` props are supplied"
## Bug Description

The React Router (#2514) PR (#3309) introduced a regression: any `Link` with an `onClick` prop is _always_ rendered as a `<button>` tag, but it should really only be rendered as a `<button>` if there is no `href`/`to` prop.

## Steps to reproduce

1. Visit the Help Menu
2. Click on any help link
3. Note it doesn't navigate/have a `href` prop and is rendered as a `<button>` tag

[2021-07-15 17:28] eugene-manuilov commented on #3719
IB :heavy_check_mark:

[2021-07-15 17:34] eugene-manuilov opened #3720 "Optimize settings form displays "use snippet instructions" for a moment and hides it"
## Bug Description

When I open Optimize settings form, I see the form shows me use snippet instructions for a moment and then hides it.

https://user-images.githubusercontent.com/873049/125831763-311855f3-44a1-4290-8fd0-7cecbc76d13f.mp4

Looks like it happens because Analytics settings haven't been resolved yet and the settings form from the Optimize module thinks that the `useSnippet` setting is

[2021-07-15 17:44] eugene-manuilov opened #3721 "AdSense module is not disabled in the setup complete notification when an ad blocker is detected"
## Bug Description

If we activate an ad blocker and go to the settings page to connect the AdSense module, it will be disabled and we won't be able to do it:

![2021-07-15_20-37](https://user-images.githubusercontent.com/873049/125832930-252f4e9e-3f75-4cec-b152-b03d8a8bd3f6.png)

But if we activate another module, we will see that the AdSense module can be activated from the setup complete notifi

[2021-07-15 17:48] eugene-manuilov commented on #3713
In general, looks good to me. Found two minor issues (#3720 and #3721) but they are not related to this release.

[2021-07-15 17:53] BusfyJan commented on #3706
I too have this problem (continuous loading + error in console)

![image](https://user-images.githubusercontent.com/5645935/125834494-f14d4348-4202-4028-bc8f-d1341abfbcae.png)
![image](https://user-images.githubusercontent.com/5645935/125834452-b9b0d79c-7636-41bf-8122-bda2dce58380.png)

[2021-07-15 17:58] danielgent commented on #3406
## QA :white_check_mark:

Have checked all bullet points and all looks good to me

[2021-07-15 18:15] felixarntz commented on #2258
@johnPhillips
The parts you're referring to related to `assets/js/components/data` usage within the modules should be completely removed - see the `TODO` comments, they are only still there because the data API is still in the codebase (which is being changed in this issue).

Regarding `.storybook/utils/resetGlobals.js`: I think for now the most straightforward change is to take the referenced blo

[2021-07-15 18:47] felixarntz commented on #3644
@eugene-manuilov IB ✅

Good catch about an extra call to `with_client_defer( true )` not being necessary since it's already done in `Module::make_data_request`.

[2021-07-15 18:55] felixarntz commented on #3658
@aaemnnosttv Fair point about `Token` not extending `User_Setting`. I've adjusted the IB to just implement it as an independent class for now - still following the same method signatures though, in preparation for the future.

Regarding 4 `User_Setting` classes for the individual user options, I don't think that's useful at this point. They have no real value in addition to how it is now, particul

[2021-07-15 19:11] felixarntz commented on #3522
@johnPhillips @wpdarren @Pratheep-lab Following up here on my end: Points 1., 3., and 4. are good to go for now as is.

Only point 2. should be re-examined. I haven't been able to replicate it, for me the checkbox is disabled initially. I wonder whether it is because somehow the setting value still persisted from before?

Moving back to QA to double-check on point 2.

[2021-07-15 19:12] #3706 closed

[2021-07-15 19:12] #3614 closed

[2021-07-15 19:12] #3707 closed

[2021-07-15 19:12] #3118 closed

[2021-07-15 19:12] #3174 closed

[2021-07-15 19:13] #3519 closed

[2021-07-15 19:13] #3387 closed

[2021-07-15 19:13] #3622 closed

[2021-07-15 19:13] #3272 closed

[2021-07-15 19:14] #3660 closed

[2021-07-15 19:14] #3621 closed

[2021-07-15 19:15] #3655 closed

[2021-07-15 19:15] #3531 closed

[2021-07-15 19:15] #3420 closed

[2021-07-15 19:15] #3541 closed

[2021-07-15 19:20] felixarntz commented on #3360
## Approval ⚠️

After dismissing the widget, the empty space doesn't get filled as expected - even after a full page refresh. This wasn't explicitly mentioned in the ACs, but it's clearly a UX flaw - permanently having a blank space there. After dismissal, the dashboard should instead look the same way it would without the Idea Hub widget, i.e. the following widgets in the same area shifting up.

[2021-07-15 19:25] felixarntz opened #3722 "Dismissing Idea Hub widget CTA results in a blank space"
## Bug Description

As noticed in https://github.com/google/site-kit-wp/issues/3360#issuecomment-880951245: After dismissing the CTA version of the Idea Hub widget to activate the module, its space remains empty unexpectedly. Instead, the following widgets should immediately shift up, replacing the empty space, with the appearance looking exactly as it does today without the Idea Hub feature.

---

[2021-07-15 19:26] felixarntz commented on #3360
Marking this as closed, follow-up fix to be implemented via #3722.

[2021-07-15 19:26] #3360 closed

[2021-07-15 19:27] #3667 closed

[2021-07-15 19:27] #3564 closed

[2021-07-15 22:18] tofumatt commented on #3713
Aside from the issues reported by @wpdarren above (fixed in #3719) everything looks good to me.

[2021-07-16 08:25] aaemnnosttv opened #3723 "Idea Hub dashboard widget layout shift when switching tabs"
## Feature Description

Currently the Idea Hub dashboard widget has the potential to render different heights on different tabs resulting in a layout shift. This may only be possible in the zero-data state for Search Console, but we should try to keep the height stable regardless whether or not it has ideas or not.

https://user-images.githubusercontent.com/1621608/125916893-ba054fa5-bfff-48dc-b19

[2021-07-16 08:39] johnPhillips commented on #3685
@Hazlitte the following shouldn't be removed because they are the feature tour itself (I could have been more clear on this in the QAB, sorry):

- `feature-tours/help-visibility.js`
- `feature-tours/index.js`

However, this one can go, so I'll open a PR to remove it.
- `components/legacy-setup/wizard-step-authentication.js`

[2021-07-16 08:56] johnPhillips commented on #3685
QAB updated to be more specific.

[2021-07-16 08:56] aaemnnosttv opened #3725 "Improve source map quality for development"
## Feature Description

Source maps let us inspect the original source files from JS modules that have been bundled together (for us, using Webpack). Webpack exposes quite a few options for different source map strategies via the [`devtool` configuration option](https://v4.webpack.js.org/configuration/devtool/) which have different costs in terms of the quality of the information included and the

[2021-07-16 09:20] eclarke1 opened #3726 "Multiple UI issues on User Feedback"
## Bug Description

Following the bug bash on User Feedback, there were several small UI improvements required as post-launch:

- [CTAs letter spacing](https://app.asana.com/0/1200379030254833/1200440325096534)
--  CTAs letter spacing need to be 0.25 instead of 1.25 as per the design
- [On Safari, text appears bold](https://app.asana.com/0/1200379030254833/1200440846479986)
-- The main text i.e. B

[2021-07-16 09:32] aaemnnosttv opened #3727 "Settings edit view leads user into blocked state if module has no settings edit component"
## Bug Description

Currently the Idea Hub settings does not have any settings which can be edited, which makes it similar to PageSpeed Insights in that it only has a `SettingsView` component.

All active modules can still technically be edited though as this is the only way to disconnect a module.

For Idea Hub, the user gets into a somewhat blocked state when editing the module settings as the "

[2021-07-16 10:55] abdullah1908 commented on #3706
@BusfyJan ,

Thanks for reported the issue. Our team has fixed this issue & hopefully you'll see this fix in upcoming Site Kit release `1.37.0`.

Have a great weekend 😀

[2021-07-16 11:11] aaemnnosttv opened #3729 "Add viewContext for all top-level React apps"
## Feature Description

The `Root` component that we use for all top-level React apps has a `viewContext` prop that was introduced initially for providing view/screen context for [feature tours](https://github.com/google/site-kit-wp/issues/2649). It was later also integrated with our `ErrorHandler` (boundary) to provide more contextual error codes for tracking React errors.

However, the prop was

[2021-07-16 11:19] johnPhillips commented on #3713
LGTM 👍

[2021-07-16 11:40] aaemnnosttv commented on #3208
@felixarntz how does ^ sound to you?

[2021-07-16 11:51] aaemnnosttv commented on #2764
@eugene-manuilov would you propose some ACs for this?

[2021-07-16 11:57] aaemnnosttv commented on #2273
@felixarntz I think this one is ready to start moving forward. Once the legacy components are removed we'll probably have less to do here as well so I've added these as dependencies here. Onward to ACs!

[2021-07-16 12:02] aaemnnosttv commented on #1658
This was already changed to `break-word` in #1990. See https://github.com/google/site-kit-wp/pull/1990/files#diff-f157bf19f656b132dc081eb5063ffabd0103e4a328526892e9b747fb00f70c23

Closing as already fixed 😄

[2021-07-16 12:02] #1658 closed

[2021-07-16 12:13] aaemnnosttv commented on #3294
@felixarntz I think this one should still be possible due even with the change in course around how we will be handling existing tags in the future. My understanding is that we will no longer require Analytics and GTM to select the same property but the fact that we store the Analytics property ID now for GTM should still allow us to do this, even if they were different IDs, we may just need to ad

[2021-07-16 12:49] wpdarren commented on #3719
### QA Update ✅

Verified that the help menu links now function as expected.  I also tested the other links on the Site Kit dashboard as reported in [#3713](https://github.com/google/site-kit-wp/issues/3713) and those links are also now working.

Just c.c @cole10up because is currently working on (#2514) as far as I am aware.

[2021-07-16 14:03] wpdarren commented on #3522
### QA Update: Pass ✅

- When I enabled the ideaHubModule feature flag, the Idea Hub CTA widget appeared on the main Site Kit dashboard.
- When I clicked on the 'set up' button, the setup form should be rendered.
- Verified that the submit button is disabled unless the checkbox is checked.

![image](https://user-images.githubusercontent.com/73545194/125959950-e6cd8377-b968-4fb1-9f3e-761b6ae73696.p

[2021-07-16 14:05] wpdarren commented on #3713
Completed smoke testing and no problems other than the issues reported above, which are all fixed as part of #3719. ✅

[2021-07-16 14:11] wpdarren commented on #3692
### QA Update: Pass ✅

Confirmed that the modal that asks you to confirm the action displays the text `Suggestions for new topics to write about`

![image](https://user-images.githubusercontent.com/73545194/125961265-3849932f-b45d-47a9-80aa-b1c97800048f.png)

[2021-07-16 14:44] aaemnnosttv commented on #3717
@felixarntz I don't think this issue is relevant any more 🙂  See https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module--ga4-notice

![image](https://user-images.githubusercontent.com/1621608/125965674-7394a880-83a5-401a-a447-8d09997f484a.png)

[2021-07-16 15:23] wpdarren commented on #3524
### QA Update: ❌

@johnPhillips I have a few observations:

1. On Tooltip 1 the text reads `They are organised by topics and will refresh every N days.` whereas the AC says `They are organised by topics and will refresh every 2-3 days.`
2. The feature tour disappears on small screen sizes like tablets and mobiles.
3. On Tooltip 2 there is no period/full stop at the end of the paragraph `Create a d

[2021-07-16 15:48] wpdarren commented on #3523
### QA Update: ⚠️

@asvinb my only observation is that on the Site Kit dashboard I see the message at the top as per AC, but also another message appears in the widget area. See screenshot.  It's possible this is expected at this point but thought I would raise it.

![image](https://user-images.githubusercontent.com/73545194/125974153-21463740-efba-4795-8625-8159b0c2edb3.png)

- The notice looks s

[2021-07-16 16:23] johnPhillips commented on #3524
Hi @wpdarren, thanks for this.

Ouch 🙈  I must've copied from the IB instead of the ACs. Good catch - I'll make a PR

This is intentional, I believe (see https://github.com/google/site-kit-wp/issues/3003)

Good catch again :-) I'll add that to the PR

This is how it looks with `placement` set to `'top'`:

![Screenshot 2021-07-16 at 17 15 39](https://user-images.githubusercontent.com/2470911/125978

[2021-07-16 16:34] felixarntz commented on #3717
@aaemnnosttv Oh, you're right - closing then :)

[2021-07-16 16:34] #3717 closed

[2021-07-16 16:37] felixarntz commented on #3208
@aaemnnosttv Makes sense. Another nit-pick enhancement/simplification we could make as part of this potentially: Right now the condition to decide between the two messages in `AdBlockerWarning` is unnecessarily complicated. A simple `isAdSenseModuleConnected` would work and be more decoupled from the AdSense setup details currently used.

[2021-07-16 16:41] felixarntz commented on #3727
@aaemnnosttv IB ✅

Left one comment on the PR though. Another thing to pay attention to here is that we still keep the behavior intact that you can't edit Search Console settings because there it is indeed entirely pointless (since you can neither edit settings nor disconnect).

[2021-07-16 16:42] johnPhillips commented on #3524
I've opened a PR and provisionally set the `placement` to `'top'` - very easy to revert this if we decide against it 👍

[2021-07-16 17:53] cole10up commented on #2514
### **QA ✅**

**Confirmed the following below per the QA brief.**

Verify redirects work as expected (with base URL being /wp-admin/admin.php?page=googlesitekit-settings)
#admin redirects to #/admin-settings
#connect redirects to #/connect-more-services
#settings redirects to #/connected-services
#settings/:moduleSlug redirects to #/connected-services/:moduleSlug
For example: #settings/adsense → #

[2021-07-19 04:10] cole10up commented on #3713
Smoke test passed on my end. ✅

[2021-07-19 08:31] aaemnnosttv commented on #3658
@felixarntz Sounds good! We can just use `User_Options` internally without any extra classes for the parts like you said.

One question I have left that would be good to clarify I think would be around the constructor/dependencies given to `Token`. Since it would need both `User_Options` and `Encrypted_User_Options` (prefix 😄 ) would you want to provide both as constructor dependencies or only the

[2021-07-19 09:02] ivankruchkoff opened #3733 "Idea Hub Drafts are containing trashed posts."
## Bug Description

When we create draft idea hub posts, if we subsequently delete them, they are still shown on the dashboard.

## Steps to reproduce

We are caching draft posts.

1. Create **two** draft posts based on idea hub using `/wp-admin/admin.php?page=googlesitekit-dashboard#new-ideas`
2. Delete one of the idea hub posts via `/wp-admin/edit.php`
3. Open the sitekit dashboard to the drafts

[2021-07-19 12:09] tvdsluijs commented on #459
Would be great to have this! +1

[2021-07-19 13:21] asvinb commented on #3523
@wpdarren I think it's expected at that point. Can you confirm @aaemnnosttv ?

[2021-07-19 13:32] wpdarren commented on #3523
Thanks @asvinb - another observation I have just noticed since re-looking at this.  On the large CTA at the top of the screen. I click on the `Set Up` button. I am then redirected to the connect Idea hub page.  I check the box and click ‘Continue’ button, it redirects me to Site Kit dashboard but it's not connected.   No Google auth page appears is the only thing I noticed.

The screencast below s

[2021-07-19 13:42] wpdarren commented on #3639
### QA Update:  Pass ✅

**Verified:**

- I created a a draft post for an idea, and within the posts page, verified that the new draft was created with the idea name
- Once I disconnected Idea Hub module, the post remains in the same state, as a draft post with the idea name.
- Additional checks:  I was also able to edit the post despite Idea hub is disabled.
- I was also able to trash the draft po

[2021-07-19 13:58] ivankruchkoff commented on #3713
LGTM ✅

[2021-07-19 14:56] wpdarren commented on #3628
### QA Update: Pass ✅

- I tested this on two sites: 1) a new site with all modules connected but no data and 2) a live site with all modules connected with data.  Both of these sites had `Query Manager` and `Debug Toolbar` enabled and no errors appeared when connecting the modules or using them, changing date periods, engaging with the data, i.e. pie charts, etc.
- No new console errors appeared

[2021-07-19 15:22] wpdarren commented on #3581
### QA Update: Pass ✅

Verified that the text has changed to `Get insights on how people find your site, as well as how to improve and monetize your site's content, directly in your WordPress dashboard.` as per the IB.

![image](https://user-images.githubusercontent.com/73545194/126184668-c70f66c0-1c43-48f6-927c-cf5344152f39.png)

[2021-07-19 16:43] tofumatt commented on #3708
IB ✅

[2021-07-19 16:53] tofumatt commented on #3722
IB ✅

[2021-07-19 16:55] danielgent commented on #3643
@eugene-manuilov  I've just realized that @wpdarren  mentioned several modules in the description, but my IB is only for the analytics module

Not a huge problem, I'll see if I can do anything clever to not duplicate code, and then I'll assign the CR to you :+1:

[2021-07-19 17:15] danielgent commented on #3643
@wpdarren  I see this bug on the AdSense, Analytics, and Search Console pages.

I've fixed these now

![adsense-fix](https://user-images.githubusercontent.com/8496063/126200176-e4bb1ba7-4b00-426c-b20d-45aaf870fd78.png)

![search console fix](https://user-images.githubusercontent.com/8496063/126200181-e01a4213-9814-4c1e-988f-ba5b41375992.png)

Is there anywhere else you spotted?

[2021-07-19 17:22] felixarntz commented on #3658
@aaemnnosttv I think it makes sense to only pass `User_Options` into the constructor and instantiate `Encrypted_User_Options` based on it internally. I've added a point to the IB.

Regarding `User_Aware_Interface`, let's not implement it in `Token` for now, since I think we won't need it. If we need it later we can always add it, or once it eventually becomes a `User_Setting` it would by definitio

[2021-07-19 17:35] aaemnnosttv commented on #3658
Great, thanks!

IB ✅

[2021-07-19 17:43] aaemnnosttv commented on #3643
@danielgent while I don't think it's explicitly mentioned here, we should limit these changes to only the widget-based dashboard screens and components as the others are being removed in #2077 which is targeting 1.38.

[2021-07-19 17:47] danielgent opened #3736 "Publish VRT results somewhere"
## Feature Description

In the same way that we publish storybook for each PR, I think we should look into publishing VRT results somewhere.

When the VRTs fail on a PR it's slightly time consuming to
* download the artifact
* extract it locally
* view the report

This is compounded by the fact that we have a few false positives (e.g. https://github.com/google/site-kit-wp/issues/3552) so I find my

[2021-07-19 17:55] danielgent commented on #3643
Good point mentioning that @aaemnnosttv !  Luckily I already had the widget feature flags turned on, so I haven't made any changes to the `Legacy` graph components e.g. `LegacyAnalyticsDashboardWidgetSiteStats`

[2021-07-19 18:08] danielgent commented on #3643
Just a headsup that my changes have caused some VRT regressions.

Upon looking at the differences, I don't think it's actually an improvement

**before and after**

![before-A](https://user-images.githubusercontent.com/8496063/126206418-a3068735-b793-448e-8a0d-2202fb6a4d35.png)

![after-A](https://user-images.githubusercontent.com/8496063/126206431-f43a2110-1b87-4fc9-859d-09c9346a749a.png)

**anot

[2021-07-19 18:18] felixarntz commented on #3518
@eugene-manuilov I now get ideas back for some of the sites we requested addition to the pipeline for. Can you please try again with one of them?

I now see the ideas in the API response, your PR doesn't work just yet (it causes an error due to https://github.com/google/site-kit-wp/pull/3681#discussion_r669105621) but you can iterate on that once you get it to work.

[2021-07-19 19:01] eugene-manuilov commented on #2217
@aaemnnosttv @felixarntz do either of you mind reviewing my PR #3737 for this ticket? I found a way to add that header more easily without creating custom hooks and intercepting all requests. Hope it looks good to you.

[2021-07-19 19:05] #2514 closed

[2021-07-19 20:03] #3522 closed

[2021-07-19 20:03] #3719 closed

[2021-07-19 20:11] #3713 closed

[2021-07-19 20:13] #3634 closed

[2021-07-19 22:12] rishnarang opened #3738 "Uncaught TypeError: Cannot read property 'OverlayView' of undefined"
## Bug Description

Installing site kit in Wordpress causes other .js file with map overlay code to break.

[code]

Error: Uncaught TypeError: Cannot read property 'OverlayView' of undefined

## Steps to reproduce

Go to 'https://www.andreaabroad.com/wp-content/themes/backpacktraveler/assets/js/modules.min.js?ver=5.7.2'
Error: Uncaught TypeError: Cannot read property 'OverlayView' of undefined

##

[2021-07-20 06:59] asvinb commented on #3523
Thanks @wpdarren A follow up PR has been created:
https://github.com/google/site-kit-wp/pull/3739

[2021-07-20 07:30] cole10up commented on #3393
**### QA ✅**
Confirmed disconnecting every module after setup remains on the settings page.

Verified fixed.

[2021-07-20 08:10] cole10up commented on #683
### **QA ✅**

Confirmed the copy change:
![image](https://user-images.githubusercontent.com/57115907/126285277-de4fc554-e3f3-4fc9-85c9-a5f08dd92dd4.png)

Confirmed the modal functions properly disconnecting and canceling on multiple browsers and window sizes.

[2021-07-20 09:38] ivankruchkoff commented on #2054
Unfortunately we can't run
`putenv( 'WP_ENVIRONMENT_TYPE=development' )` as

due to
https://github.com/WordPress/WordPress/blob/f5713b8d717b398efe7de40c869f77543fb2068e/wp-includes/load.php#L195

[2021-07-20 09:53] jamesozzie opened #3741 "Cannot read property '__eventTarget' of null"
## Bug Description

One user in the support forums is encountering the below error after updating to Site Kit 1.37.0

[code]
https://wordpress.org/support/topic/cannot-read-property-__eventtarget-of-null/

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything

[2021-07-20 10:21] danielgent commented on #3497
Seven hours seems a really generous estimate for this! It's only taken me one hour...

Note on the linked PR there were no VRT failures (I don't see the SetupFormUA story as being configured as a VRT)

[2021-07-20 11:09] danielgent commented on #2122
I'm assuming _"date-range component"_ in the IB refers to the `date-range` datastore :smile:

[2021-07-20 11:12] danielgent commented on #2122
Yes, I think in the IB everything is called a component (Which is definitely incorrect in React vocabulary!)

e.g. _delete get-previous-week-date component_ is actually a util function :thinking:

[2021-07-20 12:34] eclarke1 commented on #3702
@Pratheep-lab I've created a task in Asana for this https://app.asana.com/0/1185360131189553/1200629922083182 where we can handle the UX recommendations.

[2021-07-20 13:06] bethanylang commented on #3738
@rishnarang All support for the Site Kit plugin is provided on our [WordPress.org support forum](https://wordpress.org/support/plugin/google-site-kit/). If you [create a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) there, we'd be happy to take a look and help you troubleshoot. Thanks!

[2021-07-20 13:06] #3738 closed

[2021-07-20 13:16] wpdarren commented on #3643
@danielgent those are the only places I noticed the duplicate dates, when 7 days was selected.

[2021-07-20 13:34] tofumatt commented on #1997
Noting that #2077 will make fixing the remaining E2E tests and some code removal _much_ easier, especially in the existing branch, so I'm marking it as blocking this issue.

[2021-07-20 13:50] asvinb commented on #3685
Looked for `helpVisibility` string in the codebase, none found.

### QA: ✅

[2021-07-20 14:23] wpdarren commented on #3549
### QA Update: Pass ✅

**Verified:**

- The account defaulted because it matched the current website URL.  The account has both UA and GA4 properties.
- When you select GA4 property in the top dropdown, the UA property is selected in the dropdown in the blue area.
- When you select UA property at the top dropdown the GA4 property is preselected in the dropdown in the blue area.

https://user-image

[2021-07-20 14:29] danielgent commented on #2122
I'm adding a QA:Eng label because I don't see any user-facing change here to be QA'd normally

[2021-07-20 14:33] bethanylang commented on #3654
@abdullah1908 The user wasn't able to fix via troubleshooting steps and has moved on from the plugin for now. Should this escalate to L2?

[2021-07-20 14:34] bethanylang commented on #3427
@adamsilverstein No reply from the user, so shall I move this over to L2 for deeper testing?

[2021-07-20 14:36] abdullah1908 commented on #3654
Sure @bethanylang 👍

[2021-07-20 15:34] danielgent commented on #3502
@aaemnnosttv `plugin:import/recommended` pulls in the `comma-dangle` rule so I'll change back to using the alternative config as documented under installation https://www.npmjs.com/package/eslint-plugin-import

[code]

It seems odd that this would be done

![comma-dangle-reference](https://user-images.githubusercontent.com/8496063/126352613-6c77b91a-69be-4299-a8d4-726f36d4ff11.png)

It can of cour

[2021-07-20 15:54] johnPhillips commented on #3723
I ended up implementing a solution in the process of investigating this and writing the IB, so I've opened a PR. This is what the fix looks like:

https://user-images.githubusercontent.com/2470911/126355985-c69e2c4b-aac9-40dd-89ea-f592f78232b2.mov

[2021-07-20 16:58] felixarntz opened #3747 "Switch Idea Hub module REST route for updating idea states to actually use Idea Hub API"
Broken out from #3518: Since the Idea Hub API route to update an idea's state is still not working correctly, the `POST:update-idea-state` REST endpoint should be connected to the actual API separately, in this issue.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `POST:update-idea-state` endpoint

[2021-07-20 17:12] tofumatt commented on #3723
IB ✅

[2021-07-20 17:40] felixarntz commented on #3518
@eugene-manuilov Per our Slack conversation, I've reduced the scope of this issue to no longer include any changes to `POST:update-idea-state`. This is now broken out into #3747.

[2021-07-20 17:43] felixarntz commented on #3747
@eugene-manuilov Don't worry too much about the IB here, since it was pretty much already clear in #3518. Starting a PR and referring to that should be fine.

[2021-07-20 18:47] eugene-manuilov commented on #3518
@felixarntz could you please check my PR? It contains implementation for new-ideas and saved-ideas endpoints. Plus it includes modifications in the idea hub datastores that are required to make sure selectors work correctly for the Idea Hub widget.

[2021-07-20 21:54] Stanzilla commented on #2220
In https://sitekit.withgoogle.com/documentation/ga4-analytics-property/#:~:text=Creating%20and%20connecting%20a%20new%20GA4%20property it says that a notice should now be displayed to add GA4 to my existing setup. I do not get that though. I verified in the Site Health tool that the feature itself is available to me though
![image](https://user-images.githubusercontent.com/75278/126400432-357b0b93

[2021-07-20 21:58] bethanylang commented on #2220
@Stanzilla All support for the Site Kit plugin is provided on our [WordPress.org support forum](https://wordpress.org/support/plugin/google-site-kit/). If you [create a new topic](https://wordpress.org/support/plugin/google-site-kit/#new-topic-0) there, we'd be happy to take a look and help you troubleshoot. Thanks!

[2021-07-21 03:30] HFigarella commented on #3606
**GSK 1.37.0** the same issue. I am still applying my temporary solution mentioned above

[2021-07-21 08:22] aaemnnosttv commented on #3727
@felixarntz I'm not sure exactly what you mean – Search Console has settings for the domain property now 🤔  https://google.github.io/site-kit-wp/storybook/main/?path=/story/search-console-module-settings--edit-with-all-settings.

It is however still not possible to disconnect it 👍

[2021-07-21 09:58] aaemnnosttv commented on #3523
Back to you for another pass @wpdarren!

[2021-07-21 10:16] eugene-manuilov commented on #2122
Yes, it makes sense. Thanks, @danielgent.

[2021-07-21 11:27] aaemnnosttv commented on #2258
@johnPhillips – looks great, just a few points to tweak

These would also be replaced with modern counterparts from `googlesitekit/api/cache`, not simply removed (unless of course they were simply no longer used, but I don't think that's the case).

This file has already been removed 😄

Otherwise, this looks good to go!

[2021-07-21 11:36] aaemnnosttv commented on #3233
This was already fixed in https://github.com/google/site-kit-wp/commit/e4b9ab4cd78034b6818802cdd769daed5ca80156. I didn't realize there was already an issue for it, and looks like @felixarntz did too 😄  https://github.com/google/site-kit-wp/pull/3671#discussion_r668142468.

Closing this one as fixed 👍

[2021-07-21 11:36] #3233 closed

[2021-07-21 12:00] aaemnnosttv commented on #3502
Yes, it's really bizzare. It doesn't even seem to have any reference to this rule in the package installed in `node_modules` either.

@tofumatt any idea why it would be including/flagging `comma-dangle` when using `plugin:import/recommended`?

[2021-07-21 12:49] wpdarren commented on #3722
### QA Update: Pass ✅

- Verified that when the widget disappears, the surrounding widgets reposition themselves to fill the space.
- Tested this with a new site that had the collecting data widgets and also a site that has live data in the dashboard.
- Checked how smaller screen sizes behaved when the widget was closed.

https://user-images.githubusercontent.com/73545194/126490423-f74e27b5-ae1a-4

[2021-07-21 12:58] tofumatt commented on #3502
I'm not sure it's that plugin using that rule, because I see it enabled when I check for the rules we have enabled in `develop`:

[code]

That'll output a bunch of rules, including:

[code]

I can't see _where_ it's coming from there, but doing some digging it's coming from our existing plugins, namely `@wordpress/eslint-plugin/recommended-with-formatting`. Here's the route it takes to get to that

[2021-07-21 13:00] tofumatt commented on #3502
Let's amend the IB to say we should use the recommended config rather than individual ones, because I don't think the config is causing the comma-dangle to appear.

If for some reason comma dangle is now appearing where it shouldn't that's weird, but let's just fix the errors as part of the PR 🙂

[2021-07-21 13:15] wpdarren commented on #3524
### QA Update: Pass ✅

- Verified that tooltip 1 is near heading of the Idea Hub widget, with a heading of `Get inspiration for new topics to write about!`and body `These ideas are based on unanswered searches related to the content of your site. They are organised by topics and will refresh every 2-3 days.`

![image](https://user-images.githubusercontent.com/73545194/126494619-01445e19-5f8f-4989-

[2021-07-21 13:23] bethanylang commented on #3606
Thanks for your patience here, @HFigarella. We're planning to work on a fix for this issue in our next sprint and we'll update here when it's been released.

[2021-07-21 13:43] wpdarren commented on #3523
### QA Update: ✅

**Verified:**

- The notice looks similar to this Figma design with the buttons left-aligned.

![image](https://user-images.githubusercontent.com/73545194/125973029-3117f2b5-d120-4b96-8942-7eff8d011aff.png)

- Clicking the `set up` button sends the user to the connect service page.

![image](https://user-images.githubusercontent.com/73545194/125973313-9417f414-d932-4102-9772-0e5c

[2021-07-21 14:18] johnPhillips commented on #3733
@ivankruchkoff I went through this with @tofumatt and we couldn't see a straightforward way to detect that a post had changed status and then clear the client side cache. I don't know if you had anything specific in mind?

I'm suggesting that we simply don't cache the GET request to fetch drafts - it felt to us that these requests probably shouldn't be cached anyway.

[2021-07-21 14:23] wpdarren commented on #3723
### QA Update: ❌

@johnPhillips an observation on small screen sizes, i.e. mobile.   When I click through the tabs, `new` and `saved` display fine, but the `draft` tab seems to jump down the page slightly.  It looks like the widget is the same size, but the behaviour is a little confusing.  This only happens when there are no drafts in the tab.  With drafts the tab loads fine.

Here's a screencast

[2021-07-21 15:04] wpdarren commented on #3497
### QA Update: ⚠️

@danielgent an observation.  While the initial reported issue is fixed, I did notice that if you create a brand new Analytics account with a long property name then the issue still exists.  This would really only be on very small screens (i.e. Galaxy Fold) but wanted to highlight this here in case we want to fix this in the ticket.

What do you think?

![image](https://user-imag

[2021-07-21 15:29] tofumatt commented on #3733
I think this is the best approach here; simply not caching these requests.

Caching these requests doesn't help _that_ much, and creating a system to clear the client-side cache from the server would require a lot of infrastructure and wouldn't be great in my mind.

IB ✅

[2021-07-21 19:46] eugene-manuilov commented on #3359
@felixarntz does it mean that if the user has dismissed the "saved ideas" notice and still has saved ideas, we won't need to display neither "saved ideas" nor "new ideas" notices? Or, we should still display the "new ideas" notice regardless of how many saved ideas the user has (one or more)?

[2021-07-21 20:29] felixarntz commented on #3359
@eugene-manuilov Yes, the "new ideas" notice should only show up in case the user has no saved ideas. Basically to periodically remind them that there are new ideas, if they are not really actively using Idea Hub.

[2021-07-21 20:39] felixarntz commented on #3727
@aaemnnosttv Oops, I had forgotten we changed that 😆

[2021-07-22 04:52] ivankruchkoff commented on #3359
@eugene-manuilov based on the above feedback, I've also added the change to never show the `new ideas` notice if we have `saved ideas` present.

[2021-07-22 07:53] aaemnnosttv commented on #3502
@tofumatt @danielgent The ACs already mention that we should use the `recommended` ruleset, so I don't think there's really much to change about the IB, except maybe adding that `comma-dangle` errors will also be fixed since that seems to be unrelated, but is a rule we've had enabled that hasn't been enforced properly/consistently.

Also, please always fill in the Test Coverage and VRT sections to

[2021-07-22 09:53] asvinb commented on #3716
@Pratheep-lab Any suggestions about the following point:

[2021-07-22 10:20] Pratheep-lab commented on #3716
@asvinb Text links are mostly blue following the UI conventions, hence leave the "learn more" link as it is. (But please check if it is the right blue that we use for links in all other places.)

Now we have only one option, so I propose to change the color of the copy and the star icon. We can use one of the SK standard blackish colors for this. (#3c4043 or #5b5b61).

We already do this for the [

[2021-07-22 12:05] wpdarren commented on #3733
### QA Update: ✅

Followed the steps to recreate the issue. Then, verified if you create a draft and then go into the posts and delete it, that it no longer appears in the `draft` tab.

[2021-07-22 12:16] wpdarren commented on #3727
### QA Update: Pass ✅

**Verified:**

With Idea Hub and PSI modules activated, the settings view is still shown for both modules and the `Close` button is not disabled when the module is edited.

![image](https://user-images.githubusercontent.com/73545194/126637598-71bdfb09-8747-422f-8941-7823dfe7443b.png)

[2021-07-22 12:22] wpdarren commented on #3497
@danielgent would you like me to create a separate ticket for what I discovered, or, is this easy to fix within this ticket since it's linked?

[2021-07-22 13:37] wpdarren commented on #3263
### QA Update:  Pass ✅

- Following the steps to recreate the issue. When switching to the `develop` branch, I can verify that no errors are displayed and Site Kit loads fine.

https://user-images.githubusercontent.com/73545194/126647915-f9f07812-d396-4da4-99c9-e0e9e07f10e4.mp4

[2021-07-22 14:27] felixarntz commented on #3716
Hmm, to me using the gray color on the light-blue background looks worse than before. Also if we changed that, we should probably also change the dropdown color.

I agree it makes sense to have links stand out - but here (the new proposed design you have @Pratheep-lab) the link is in a completely separate place, so it stands out sufficiently already as is IMO. It would be different if the link was

[2021-07-22 15:17] johnPhillips commented on #3723
Hi @wpdarren,

This is a real head-scratcher!

I've sunk a fair bit of time into investigating this, with the following observations:

- I can’t replicate this behaviour on an iPhone simulator via xcode (running Safari)
- I also can’t replicate it on Safari desktop using the emulator mode in dev tools.
- I _can_ replicate it on Chrome / Brave (which are very similar) using the phone emulator in de

[2021-07-22 15:41] wpdarren commented on #1427
### QA Update: Pass ✅

**Verified:**

- With Site Kit and W3 Total Cache with minify option enabled. When I view a page with stats, the admin bar is not broken.
- Also tested with the WoodMart theme and the admin bar renders correctly.

![image](https://user-images.githubusercontent.com/73545194/126667773-8893bb41-02a2-43b4-a01e-26899296efcd.png)

[2021-07-22 15:43] wpdarren commented on #3723
@johnPhillips I'm going to run this through Browser Stack and also my mobile devices, so I have assigned it back to QA.  Thanks for the time looking into this.

[2021-07-22 15:59] danielgent commented on #3502
@aaemnnosttv @tofumatt   ran auto fix on `comma-dangle` and there are 315 changed files :sweat_smile:

https://github.com/google/site-kit-wp/commit/88edece724640e9dcf31141c4a62d110b22d682a

[2021-07-22 16:01] johnPhillips commented on #2258
Thanks @aaemnnosttv - IB updated 👍

[2021-07-22 16:13] wpdarren commented on #3723
### QA Update: Pass ✅

- Verified that the height of the Idea Hub widget does not change.

I am going to also pass this for small screen sizes because after further testing on Browserstack,  the widget height does not change but there is odd behaviour when you click on the 'Draft' tab.  I feel this is low priority and will create an entry on the bug bashing board with screenshot.  c.c. @johnPhilli

[2021-07-22 16:19] aaemnnosttv commented on #2258
IB ✅

[2021-07-22 16:44] aaemnnosttv commented on #3502
@danielgent that's probably okay since those are all auto-fixes. Even if we review it, they're almost all 1-line changes per file. I think they're almost all added commas for multi-line function calls though and the trailing comma looks odd for those, but I suppose that's something I'll have to get used to 😄 Good call about the amount of changes though – let's bump the estimate one tick to account

[2021-07-22 16:50] danielgent commented on #3502
Bump if from 3 to 7?  3 hours seems fine though to check the diff, but your call!

[2021-07-22 17:09] danielgent commented on #3497
@wpdarren Could you create a video of the bug please? I'm not following.  I thought you meant this but it looks fine to me

https://user-images.githubusercontent.com/8496063/126680176-c00e0002-4fd1-4483-adbc-18ad1d7bedd3.mp4

[2021-07-22 19:08] danielgent commented on #3643
@aaemnnosttv  @eugene-manuilov  Do check my last comment about the VRT changes for my open PR. It might be a showstopper (or at least require some extra code)

[2021-07-22 20:05] bethanylang commented on #3388
@bobby99as Checking in again here. It would be great to get some more details from you so that we can discuss next steps on our side. Thanks!

[2021-07-22 20:06] tofumatt commented on #3511
IB ✅

[2021-07-23 05:14] Bobby99as commented on #3388
Sorry I don't really have anything else to say except having it stop bothering people that have a website running on multiple domains like a .com and then a .onion because that would be rather nice instead of having to relink it when I go to my admin panel on my tor side instead of my .com one

[2021-07-23 09:15] asvinb commented on #2217
From `debug.log`:

[code]

`X-Goog-Quota-User` header found.

### QA: ✅

[2021-07-23 09:30] danielgent commented on #3691
@aaemnnosttv Presumably a lot has changed in the last two weeks because Site Kit has a list of features now :smile:

![idea hub - has list of features now](https://user-images.githubusercontent.com/8496063/126762993-8ef4d196-5def-4d6b-9879-62ce16b2007f.png)

When will there be third party modules that don't provide lists of features? :thinking:

[2021-07-23 09:35] danielgent commented on #3691
The fix looks pretty simple though @aaemnnosttv .  The aim is to have the modal look like this right?  (obviously not for Idea Hub though because it has features :wink: )

![aim is this](https://user-images.githubusercontent.com/8496063/126763588-d83293a3-a284-4914-be72-406ef4093f49.png)

This component `assets/js/components/settings/SettingsActiveModule/ConfirmDisconnect.js` instantiates this `as

[2021-07-23 09:50] danielgent commented on #3691
I created a branch here to show this https://github.com/google/site-kit-wp/compare/bug/3691-Module-disconnect-modal-no-features

[2021-07-23 09:58] danielgent commented on #3511
Nice to see this ticket moving. Especially if the fix is done as the console output causes me problems every day :smile:

[2021-07-23 10:54] danielgent commented on #2586
None of this stories are used for VRTs so I'm going to add these first in my branch.  IMHO they should be merged to develop first as it will make the CR and QA for this branch way easier if we can just eyeball the :heavy_check_mark:s on GitHub

[2021-07-23 11:03] tofumatt commented on #3502
IB ✅

[2021-07-23 13:18] eugene-manuilov commented on #3643
No worries, @danielgent. This looks good to me.  We tell the google visualization library which ticks we want to use and it decides how to display it.

[2021-07-23 13:19] eugene-manuilov commented on #3643
@danielgent could you please add QAB?

[2021-07-23 13:50] wpdarren commented on #3359
QA Update: ❌

@ivankruchkoff @eugene-manuilov A two observations:

1) On the [Figma](https://www.figma.com/file/YB79eKcGOwyUjlWG8mjDZA/Prompt-Engine-%2F-Idea-Hub?node-id=20332%3A180) designs, there's a Google Site Kit logo, but I am not seeing that on my test site.

![image](https://user-images.githubusercontent.com/73545194/126791017-ba66228f-a593-4d7d-9cb6-9f8ff54d16d6.png)

2) I am also wonderi

[2021-07-23 13:57] jamesozzie opened #3752 "Site Kit encountered an error: Error: Failed to construct ‘URL’: Invalid URL"
## Bug Description

After updating to WordPress 5.8 @westonruter is encountering the following dashboard error appeared when accessing the the primary Site Kit screen. ([WP support forum topic](https://wordpress.org/support/topic/error-failed-to-construct-url-invalid-url/#post-14690954))

Site Kit encountered an error

[code]

This error remans when revisiting the Site Kit Summary dashboard widget

[2021-07-23 14:11] wpdarren commented on #3497
@danielgent You have fixed the issue when you connect a property  that is already created with a long name, but my observation was that when you create a `new Google Analytics account and property`, and enter a long property name then the same issue occurs. So my question was, should this be fixed as part of the ticket, or, do you want me to create a new one to fix this in a future release?

The o

[2021-07-23 14:18] eugene-manuilov commented on #3359
@wpdarren check AC it says `except not to include G Site Kit logo` for both notifications

Yes, currently, it is not possible to save an idea, therefore we can't really test it yet. We should probably wait till #3747 is implemented to be able to test it.

I have udpated QAB, please, let me know if you still have questions.

[2021-07-23 14:25] wpdarren commented on #3359
@eugene-manuilov thank you for updating the QAB and 🤦‍♂️ on the AC!  I'll put this on hold until 3747 is in QA.

[2021-07-23 14:43] danielgent commented on #2586
I didn't realize how much this task was copying @eugene-manuilov's existing mock factories :smile:

I'm happy to keep trying to copy his code, it looks really interesting but it uses libraries that I'm not familiar with

I could generate an array of data like this
[code]
fairly simply (I like Eugene's way of hashing the arguments to set the faker seed), but I think there's a lot of complexity in s

[2021-07-23 15:38] danielgent commented on #3625
I understand the JS side of this (using joyride.js is fairly straightforward) but I'm not sure how we actually run React code on the admin Post page.

I'm assuming that WordPress needs to enqueue our code (or a subset of it) for this page.  Probably best if someone with more WordPress knowledge explains this to me first (or I'm happy to spend a few hours learning about this)

[2021-07-23 16:05] danielgent commented on #3725
What output would you like from this task @aaemnnosttv ?

I've been overriding my package.json with `--devtool source-map` when developing locally now. I'm not sure what I was doing before when we didn't have proper source maps :smile:

On my laptop, `cheap-source-map` rebuilding from scratch takes about 35 seconds.
Further rebuilds (just saving the same file with no changes) take about 3/4 of a s

[2021-07-23 16:28] tofumatt commented on #2122
IB ✅

[2021-07-23 16:28] wpdarren commented on #3643
### QA Update: Pass ✅

**Verified:**

- Observed that no dates are repeated on the x-axis for 7 days on `Search Console`, `AdSense` and `Analytics`.
- Checked that no date issues appear for other periods on the same modules.

![image](https://user-images.githubusercontent.com/73545194/126811955-90ac0095-1be8-44da-b9c9-5044e0ab06b8.png)

[2021-07-23 16:42] danielgent commented on #1997
@eugene-manuilov I think this should go to @tofumatt ?  (as he did the execution :smile: )

[2021-07-23 16:44] danielgent commented on #1997
I'm not complaining and (upon reading the feedback) they look like my code changes. I'm just thinking of the Site Kit flow :thinking:

I'll address these on Monday if I don't hear anything otherwise :+1:

[2021-07-23 16:52] eugene-manuilov commented on #1997
@danielgent Ah... i didn't notice Matthew has finished it. I'll re-assign it to him then :smile:

[2021-07-23 17:51] westonruter commented on #3752
Disconnecting Analytics did stop the error from happening. However, once I reconnected Analytics then the error returned.

Also, I did try using Health Check & Troubleshooting to isolate Site Kit as the only active plugin, but the error persisted.

I tried clearing the persistent object cache but the issue still occurs.

[2021-07-23 20:51] eugene-manuilov commented on #2764
@aaemnnosttv could you please review AC?

[2021-07-24 21:10] wpdarren opened #3753 "Duplicate Notices in WordPress Dashboard for Summary Widget"
## Bug Description

On a site installing Site Kit for the first time. Created new Search Console and Google Analytics accounts on a brand new Google account. When I go to the WordPress dashboard, in the Site Kit widget Summary widget, the gathering data notices are duplicated as you can see on the screenshot below.

This was tested on the latest version 1.37.0 and with no tester plugin installed.

[2021-07-26 09:25] eugene-manuilov commented on #2586
@danielgent there is no need to add VRTs for search console stories. This is out-of-scope for this ticket. Please, don't work on it.

For this ticket, we need to focus only on the data mock factory for the search console module. It should generate reports similar to report data that we receive from real API. You can understand whether your data mock factory works correctly by checking [this](https

[2021-07-26 09:46] eugene-manuilov commented on #2586
@danielgent I think we should stick with rxjs approach as we do for AdSense and Analytics modules because it allows us to easily generate data (metric values) for a sequence of dimension values (like a range of dates) and mix them together to form a set of rows for the report.

Check this youtube video to familiarize yourself with rxjs: https://youtu.be/ewcoEYS85Co. You will see that it is a very

[2021-07-26 10:50] eclarke1 commented on #467
@felixarntz @marrrmarrr I spotted this ticket in the AC column as a P0. I presume this will actually relate to the work we want to complete in the new Zero Data States epic. Should we consider this together rather than progressing with this ticket, and then doing UX on Zero Data States afterwards?

[2021-07-26 11:21] danielgent commented on #3497
The IB only targets the select `.mdc-select` so I just need to apply similar styles to the text input  `.mdc-text` and then it should fix it.  Will try now :+1:

[2021-07-26 11:42] danielgent commented on #3497
@wpdarren I've done this fix and created a PR here https://github.com/google/site-kit-wp/pull/3754

https://user-images.githubusercontent.com/8496063/126981978-b916c3fa-204e-4e6b-b6ce-905c2262f036.mp4

I'm concerned that we might have jumped a few steps here

The bug you're seeing is because the existing styles for the text input have a min-width that will break out the screen at this resolution!

[2021-07-26 12:03] jamesozzie commented on #3388
Thanks for the update @Bobby99as

There is a canonical filter (googlesitekit_canonical_home_url) that can be used to ensure the Site Kit connected URL doesn't change. You can use [this mini plugin](https://gist.github.com/adamsilverstein/199f3a4cfe8b4ccc881713a7ece05438) on your main site. Can you inform me if this works for you with your particular setup?

[2021-07-26 12:36] ivankruchkoff commented on #3644
@eugene-manuilov  Missing something in the IB between:
For each propertyID create web data streams request by calling $analyticsadmin->properties_webDataStreams->listPropertiesWebDataStreams( self::normalize_property_id( $data['propertyID'] ) )
Add web data stream request to the batch request using add method

`GoogleAnalyticsAdminV1alphaWebDataStream` is a `Google_Model` per https://github.com/go

[2021-07-26 12:40] jamesozzie commented on #3752
Interesting that the same occurs once reconnecting Analytics. Can you confirm if the same occurs if you select the option to create a new Analytics account as opposed to selecting a pre-existing Analytics account and property?

In the meantime I'll do some additional checks on my side.

[2021-07-26 12:57] eugene-manuilov commented on #3644
@ivankruchkoff when a [datapoint](https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics_4.php#L202) uses a service we [defer immediate execution](https://github.com/google/site-kit-wp/blob/develop/includes/Core/Modules/Module.php#L560-L564) of Google API requests. It means that when we call `...->properties_webDataStreams->listPropertiesWebDataStreams( ... )`, it does not r

[2021-07-26 13:07] wpdarren commented on #3497
@danielgent this is why I was happy to create a new ticket if it wasn't something we wouldn't fix in this ticket. I wasn't sure how quick it would be to do, or, if its something we would fix.  From a QA perspective we would usually get guidance from the engineer on that. Happy to discuss if we even support this mobile device in the stand up.

[2021-07-26 13:14] wpdarren commented on #3511
@aaemnnosttv or @tofumatt please could you provide an 'idiots guide' to completing the QA on this ticket, please? 😄

[2021-07-26 13:17] johnPhillips commented on #3511
@wpdarren I think this is likely to be `QA:eng`, but will let Evan or Matt make the call 👍

[2021-07-26 14:10] ivankruchkoff commented on #3644
Results:

**Before**

[code]

**After**
[code]

@eugene-manuilov  / @felixarntz  We make a call to this endpoint in:
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics-4/datastore/webdatastreams.js#L65

Do we want to update the following two places we call the endpoint?
https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics-4/datastore/properties

[2021-07-26 14:25] eugene-manuilov commented on #3644
@ivankruchkoff no need to update datastores. What we need to do and what is missing in IB is that we need to unwrap results similar to how it was implemented in the legacy batch request method: https://github.com/google/site-kit-wp/blob/277034cb5213feb74fed30ad3e634aba8ce93874/includes/Core/Modules/Module.php#L350-L365

In our case, we need to add a new case for the `'GET:webdatastreams-batch'` da

[2021-07-26 14:52] eugene-manuilov commented on #3070
@felixarntz @aaemnnosttv I have added IB which is different from what is asked in AC. I think that introducing a new fake dimension and tailoring the getReport functionality on the backend to support it, will significantly increase the complexity of the already non-simple implementation of the `GET:report` datapoint. Let me know what you think.

[2021-07-26 15:39] ivankruchkoff commented on #3502
QA ✅

[2021-07-26 17:35] felixarntz commented on #3070
@eugene-manuilov I'm not sure about the approach proposed in the IB. This is what we actually started from when thinking it through (see e.g. https://github.com/google/site-kit-wp/issues/3070#issuecomment-858778436), but per conversation with @aaemnnosttv we decided it makes more sense to solve it internally.

While it _does_ increase complexity of the server-side implementation, it solves the pro

[2021-07-26 17:42] felixarntz commented on #467
@eclarke1 Good point. The main focus of this issue is to implement logic and provide more specific messaging for _why_ there may not be data available (e.g. Analytics property was just created, site has no content yet etc.).

I'd say it's decoupled from the UX work in the epic, but it _does_ make sense to consider it together. This one would actually be a good candidate for a small PRD and design

[2021-07-26 17:47] felixarntz commented on #1148
@danielgent Thanks for your work on this. I would say the IB is good to go, but I actually think it isn't really worth increasing code complexity and spending our time (even a little bit) on this, given that the "Generic Dashboard V1" epic will completely remove/overhaul these notifications.

I'll close this as `wontfix` for now, since very soon it'll be `invalid`. cc @aaemnnosttv

[2021-07-26 18:03] eugene-manuilov commented on #3070
@felixarntz ok, how about creating a special selector in the analytics datastore that will return report data for pages? Let's say `getReportForPages( { metrics, limit } )`? It will do the same trick as described in IB but in the resolver. In this case, we won't repeat ourselves and won't pollute the handler for the `GET:report` datapoint on the server side.

[2021-07-26 18:11] felixarntz commented on #3070
@eugene-manuilov That could work. What do you envision the return format etc. to be? Would people need to manually specify the fake metric in `metrics`, or would it automatically be included? My concern with the latter approach would be that you may be unaware of the exact metrics the response returns, because:
* The new "fake" metric should appear in the response as if it was a metric.
* If we ha

[2021-07-26 18:11] jamesozzie opened #3756 "GA4 - "additional permissions required" notice despite granting all permissions"
## Bug Description

Since Site Kit created a GA4 property (from 1.36.0 onwards) user's are reporting the following dashboard notice - despite having granted full permissions when connecting Analytics:

`"additional permissions required", site kit cant access the relevant data from analytics 4 (alpha) because you haven't granted all permissions requested during setup.`

Despite the notice the Analy

[2021-07-26 18:36] eugene-manuilov commented on #3070
@felixarntz I didn't mean to use fake metrics or dimensions. My suggestion was to add a higher-order selector that works like the regular `getReport` selector, but also makes an additional request to retrieve page titles from the Analytics Report API.

See what I mean here:

[code]

[code]

[2021-07-26 18:43] felixarntz commented on #3733
## Approval ❌

@johnPhillips @tofumatt With the new implementation, the request to get draft post ideas now runs on every page load, which is something we should avoid - we're not doing that anywhere in the dashboard for a reason. Looking back at https://github.com/google/site-kit-wp/issues/3733#issuecomment-884281505, it looks like this decision was already made in the IB stage, however I'd chall

[2021-07-26 18:48] felixarntz opened #3757 "Idea Hub draft post ideas requested on every page load"
## Bug Description

This is a follow-up bug for #3733.

See https://github.com/google/site-kit-wp/issues/3733#issuecomment-886938896: Currently the request to get draft post ideas in the dashboard happens on every page load, which is undesirable for performance.

In addition, the `getNewIdeas` and `getSavedIdeas` selectors also consider draft posts for ideas (in order to exclude those from the res

[2021-07-26 18:49] felixarntz commented on #3757
@tofumatt @johnPhillips I've opened this one to follow up on #3733 - let's continue discussing potential approaches here.

[2021-07-26 19:19] felixarntz commented on #3573
With the generic dashboard, some of these components will be removed or significantly altered. I'm going to move this to _Stalled_ for now, since it doesn't make sense to start that work at this point.

[2021-07-26 19:39] felixarntz commented on #3702
@marrrmarrr I defined ACs based on what we had discussed 1-2 weeks ago, let's for now display two short "Edit in Analytics" links right next to the Analytics IDs.

cc @Pratheep-lab @eclarke1 This should get a UX review during the implementation, e.g. using Storybook.

[2021-07-26 19:40] felixarntz commented on #3582
Closing in favor of #3702, which is about a similar problem.

[2021-07-26 19:40] #3582 closed

[2021-07-26 20:22] felixarntz commented on #3070
@eugene-manuilov I understand, my point is how do you envision the resulting response (the combined response) to look like? If you combine them, my previous point is still relevant, which is that the selector would basically return a response with a shape different than what one might expect given the dimensions and metrics passed.

[2021-07-26 20:31] felixarntz commented on #3000
@marrrmarrr I've updated the copy in the ACs combining yours and James's suggestion. What do you think? cc @jamesozzie

[2021-07-26 22:28] felixarntz opened #3758 "Remove legacy `getModulesData` JS function and `_googlesitekitLegacyData.modules` global"
Related to #3647: All usages of the legacy function `getModulesData` which relies on the `_googlesitekitLegacyData.modules` global should be refactored, and then those two pieces should be entirely removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All JS components currently relying on `getModul

[2021-07-26 22:30] felixarntz opened #3759 "Remove (useless) and (almost) unused legacy PHP-to-JS variables"
Follow-up to #3647 and #3758: A bunch of useless legacy JS globals provided from PHP should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Any remainders of `_googlesitekitLegacyData.admin.datacache` that may still be present after #2258 (including server-side) should be entirely removed,

[2021-07-26 22:42] felixarntz commented on #3278
@aaemnnosttv Sounds good, let's include the polyfill.

[2021-07-26 22:48] felixarntz opened #3760 "Add support for additional survey question type "single_select""
When the initial user feedback survey was introduced, scope of the MVP was limited to only support questions of the "rating" type, since that was the only one used for the initial survey. This should now be followed up on, with this issue focusing on the "single_select" question type.
![Screen Shot 2021-07-26 at 3 51 49 PM](https://user-images.githubusercontent.com/3531426/127069257-05074421-4a7a-

[2021-07-26 22:48] felixarntz opened #3761 "Add support for additional survey question type "multi_select""
When the initial user feedback survey was introduced, scope of the MVP was limited to only support questions of the "rating" type, since that was the only one used for the initial survey. This should now be followed up on, with this issue focusing on the "multi_select" question type.

![Screen Shot 2021-07-26 at 3 51 57 PM](https://user-images.githubusercontent.com/3531426/127069280-ed227901-11b6-

[2021-07-26 22:48] felixarntz opened #3762 "Add support for additional survey question type "open_text""
When the initial user feedback survey was introduced, scope of the MVP was limited to only support questions of the "rating" type, since that was the only one used for the initial survey. This should now be followed up on, with this issue focusing on the "open_text" question type.

![Screen Shot 2021-07-26 at 3 52 03 PM](https://user-images.githubusercontent.com/3531426/127069302-e22e2a37-7db0-4dc

[2021-07-27 00:47] tofumatt opened #3763 "Don't use "Connected" as "alt" text for icons"
## Bug Description

There are three sections in the app where we erroneously add "Connected" inside an icon, next to text that already tells the user something (Site Kit, a module, etc.) is connected. This means a screen reader will read aloud "Connected Connected" or "Site Kit is connected Connected", which is bad UX.

We can remove a few instances of `__( 'Connected', 'google-site-kit' )` to fix

[2021-07-27 08:03] cole10up commented on #2077
### **QA ✅**

Ran a series of regression tests around each module. Ensured modules are functioning properly.

No issues on my end. Sending to approval.

[2021-07-27 09:43] yogeshbeniwal opened #3764 "Pageviews not triggered for Universal Analytics - with Newspack plugin & Campaigns extension"
## Bug Description

Latest update seems to be resulting in Universal Analytics code not sending PageViews. GA4 is working fine.

## Steps to reproduce

With Newspack Plugin activated

[code]

With Newspack Plugin deactivated

[code]

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

-----

[2021-07-27 10:14] aaemnnosttv commented on #3511
@johnPhillips @wpdarren Yes, this should be QA:Eng as it's a infra/developer-focused enhancement.

[2021-07-27 10:25] aaemnnosttv commented on #3691
@danielgent yes – if a module does not have features, the message above the list of features should not appear.

Yes, Idea Hub features were added in #3692

It's possible even now, we just don't advertise/encourage it since our APIs are still maturing. Registering a module does not require `features` to be provided so we can't assume they will be present elsewhere, even if all bundled modules all

[2021-07-27 10:37] aaemnnosttv commented on #3725
@danielgent I would take a look at the docs for `devtool` linked above, particularly the table of cost breakdown for each option and the [`development`], [`qualities`](https://v4.webpack.js.org/configuration/devtool/#qualities), and (https://v4.webpack.js.org/configuration/devtool/#development) sections.

We should optimize for the default case which gives good quality (source) with minimal added

[2021-07-27 10:48] aaemnnosttv commented on #3070
Chiming in here – one thing I like about solving it on the server-side is that there's less risk of the response getting out of sync with that of a real report since we'd be working with models rather than just matching the expected structure in JS.

[2021-07-27 10:54] aaemnnosttv commented on #3723
@felixarntz maybe worth a follow-up issue here, but looking at the component above, I feel like the "Updated every 2-3 days" should be closer to the bottom of the widget so that the layout fills the vertical space. As it is, it looks a little bit off to me. We could even move that part of the component to be a widget footer which would show on all tabs, although we could make it dynamic based on t

[2021-07-27 11:14] aaemnnosttv commented on #2764
Looks good to me @eugene-manuilov 👍

[2021-07-27 12:06] danielgent commented on #3702
![storybook-ok](https://user-images.githubusercontent.com/8496063/127150760-920eaf5d-5329-44fb-ae31-b0b3fcfe5d07.png)

The current storybook story is enough. I could add another one for when there *is no* GA4 property but that seems out-of-scope for this ticket

[2021-07-27 12:16] eclarke1 commented on #467
@felixarntz that's really great o understand thank you. I will create a new epic in Asana and add to the backlog for "Tailored zero state messages" and we can certainly consider it's priority for Q4. Good to know the "Zero data states" epic is separate also, and they do not block each other.

[2021-07-27 12:30] ivankruchkoff commented on #3644
Updated in https://github.com/google/site-kit-wp/pull/3755/commits/4b8db8abbfb5c8b57cc78a1865a1ab9f8f3af8d6 ( and a couple of subsequent commits );

**Before**
[code]

**After**
[code]

[2021-07-27 12:59] tofumatt commented on #3340
I've marked this as a 7 just because the formatting and QA might take some time and make this longer than a 3, but barely so. I think we can fit this into the end of this sprint, after #1997 and #2258 are merged.

[2021-07-27 13:13] wpdarren commented on #3359
### QA Update

Completed the first part of this ticket because we do not need the Idea Hub API to test it.

Noted the presence of a dismissible notice for new ideas. When I dismissed the notice and refresh the page, the notice did not reappear. I reset the dismissed items by running `wp user meta delete 1 wp_googlesitekitpersistent_dismissed_items` command. Then when the page was refreshed, the di

[2021-07-27 13:24] wpdarren commented on #3497
### QA Update: Pass ✅

Verified that for an Analytics property with a long name on a small screens: he size of the browser window truncates the property name with ellipses.  [Screenshot](https://user-images.githubusercontent.com/73545194/127161227-4e8805e2-1a0c-4615-a49d-62947a7e7dfc.png)

[2021-07-27 13:31] eclarke1 commented on #3340
@tofumatt I understand this ticket is one that needs to be carefully timed, so if we want to bring it into Sprint 54 let's definitely do this to cause as minimal disruption as possible. cc @fhollis

[2021-07-27 14:14] danielgent commented on #3691
@aaemnnosttv So what should be QA'd for this task?  I could add `<ConfirmDisconnect />` to storybook with examples with and without features?

If it's QA:Eng I could write tests (although new stories would be easier)

[2021-07-27 14:41] aaemnnosttv commented on #3340
Thanks @tofumatt – I've also updated the AC to remove the point about applying lint fixes in the pre-commit hook for JS files as we had previously discussed.

IB ✅

[2021-07-27 14:46] eugene-manuilov commented on #3702
@danielgent, please, avoid using "PR as IB" approach. I know it's a big temptation to start coding instead of writing IB but we need to write IB first because sometimes things that seem obvious may change during IB reviews.

We can use "PR as IB" approach only for edge cases when we found something small that needs to be squeezed into the current release. But for regular tickets, we should go with

[2021-07-27 15:01] eugene-manuilov commented on #3729
IB :heavy_check_mark:

@johnPhillips, please, do not work on the ticket before we haven't approved IB yet. I know this is a big temptation to implement it straight away but sometimes might be a case that something new comes up during IB review and we need to change the approach or even adjust AC. In this case, your PR might become useless and will require changes thus spending more time than it co

[2021-07-27 15:08] eugene-manuilov commented on #3763
IB :heavy_check_mark:

[2021-07-27 15:14] eugene-manuilov commented on #3682
IB :heavy_check_mark:

[2021-07-27 15:19] eugene-manuilov commented on #3747
@felixarntz basic IB is added. Could you please take a look at it?

[2021-07-27 15:35] felixarntz commented on #3752
@westonruter Are there any odd-looking URL values in your Analytics top pages when checking your Analytics data? Maybe we are missing a scenario there and need more “forgiving” logic. (copied from similar wp.org forum reply)

[2021-07-27 15:50] eugene-manuilov commented on #3654
@bethanylang @abdullah1908 seems like this is the same server configuration issue as we saw in #2782 (https://github.com/google/site-kit-wp/issues/2782#issuecomment-814909070). I don't think we can do anything here and knowing that the user has already moved on we can probably close this ticket. What do you think?

[2021-07-27 15:51] bethanylang commented on #3654
@eugene-manuilov Makes sense to me! Closing.

[2021-07-27 15:51] #3654 closed

[2021-07-27 16:07] abdullah1908 commented on #3752
Unable to recreate this issue & performed following activities:
- Installed Site Kit 1.35.0
- Configured Search Console with the newly created Google account
- Setup Google Analytics
- Updated Site Kit to latest version 1.37.0

[2021-07-27 16:17] wpdarren commented on #1147
### QA Update: Pass ✅

**Verified:**

_**Search Console zero data state, Analytics inactive state**_

- In the Site Kit dashboard widget, you  see a single Search Console CTA reflecting the zero data state. You see a single Analytics 'activate module' ('Set up Analytics') CTA.  -  [Screenshot](https://user-images.githubusercontent.com/73545194/127187216-7960d8ff-14cb-4f2a-9ca7-4a322afff5b5.png)

*

[2021-07-27 16:31] johnPhillips commented on #3729
No problem @eugene-manuilov
I often end up sketching in a solution in order to understand the issue / generate the IB, so in this case I just committed what I'd done as it was fairly trivial in the end.
I'll hold off next time unless I've run it past one of the senior devs first 👍

[2021-07-27 16:41] johnPhillips commented on #3599
Hey @tofumatt, just a question on this bit:

That particular function seems to return a `STORE_NAME` property:
https://github.com/google/site-kit-wp/blob/b6dade1a841d681c1df1f3d6fc5b5378ad5a6652/assets/js/googlesitekit/data/create-settings-store.js#L350-L355

Should I update this to e.g. `settingsStoreName` and then also update all the consumers?
Or, given that it's an established part of its API,

[2021-07-27 17:13] westonruter commented on #3752
Yes, there are:

I am using the analytics snippet as provided by Site Kit. I'm seeing double trailing slashes for some reason. Perhaps that's the cause of the JS error?

[2021-07-27 17:37] felixarntz commented on #3752
@westonruter Yes that looks like the cause of the error. Curious how the URLs come up though. Are all of them with double slashes? Has that only started happening recently?

[2021-07-27 17:38] westonruter commented on #3752
To be honest, I haven't looked at my analytics data in a long time so I don't know if it's a recent occurrence. Nevertheless, all of the URLs appear with the double slashes at the end of the path.

[2021-07-27 18:39] jamesozzie commented on #3764
This is reproducible support side. Steps to recreate:

1. Install & activate the [Newspack Plugin](https://github.com/Automattic/newspack-plugin/releases/tag/v1.49.0) (1.49.0 current version) on a site that already has Site Kit active  - with the Analytics module active & the UA tracking snippet inserted via Site Kit
2. Activate the [campaigns extension](https://i.imgur.com/3I7ZVn7.png) (formerly

[2021-07-27 18:57] bethanylang commented on #3427
@adamsilverstein @jamesozzie Moved to L2 and unassigned both of you. Feel free to jump back in if you'd like, or this can be picked up by another eng.  :)

[2021-07-27 19:46] willowmagrini commented on #3427
Sorry for the delay, still experiencing these issues.

[2021-07-27 20:52] felixarntz commented on #3723
@aaemnnosttv Great point. I like the idea of making it a dynamic widget footer. Can you open an issue for that?

[2021-07-28 08:01] aaemnnosttv opened #3772 "Idea Hub post idea selectors invoke duplicate fetch requests"
## Bug Description

Idea Hub's selectors for post ideas (new / saved / draft post) all have a similar implementation which results in multiple fetch requests for the same selector. This is primarily due to the way resolvers work in `@wordpress/data`. For selectors with a resolver, the resolver will always be invoked once per unique list of arguments the selector is called with. The uniqueness of t

[2021-07-28 08:19] aaemnnosttv commented on #3691
@danielgent I agree stories would be the easiest. A more robust test would be adding tests for `SettingsActiveModule` using a custom module registered in the test (or using `provideModuleRegistrations` with override) but I don't think it's necessary here.

SGTM 👍

[2021-07-28 08:31] aaemnnosttv commented on #3729
@felixarntz – I realize this is may be temporary with the generic dashboard coming, but perhaps in the future the context could be based on the selected tab. Tagging you here for visibility as well.

[2021-07-28 08:42] ivankruchkoff commented on #3625
In AC

I don't think we need to load the JS conditionally at this point since one of the things that came up in the PR for #3359 was how much of the existing JS we needed to load in dependencies, see this comment from the PR: https://github.com/google/site-kit-wp/pull/3668#discussion_r672117922

[2021-07-28 08:49] aaemnnosttv opened #3773 "Move Idea Hub widget footer into Widget.Footer prop"
## Feature Description

In #3723, we made the Idea Hub widget's height consistent across all of the tabs. As a result, the layout of the widget looks somewhat off compared to other widgets because the footer content is not flush against the bottom of the widget.

![image](https://user-images.githubusercontent.com/1621608/127292260-d23a3287-0281-4fad-967e-5413de3f2f47.png)

The "updated every 2-3 d

[2021-07-28 08:50] aaemnnosttv commented on #3773
@felixarntz – anything to add/update here?

[2021-07-28 09:04] eugene-manuilov commented on #3772
@aaemnnosttv this is already addressed in #3681.

[2021-07-28 09:42] asvinb commented on #2681
@aaemnnosttv @felixarntz @marrrmarrr There are some things missing in the AC, specially about the text to be used. Can you check the text in the screenshots below (Exclude from displaying ads section) :
![image](https://user-images.githubusercontent.com/31818/127300736-2a72cfbc-eac2-4bd3-9d55-07240ce7bc31.png)
![image](https://user-images.githubusercontent.com/31818/127300916-a5576c7c-5084-4537-b0

[2021-07-28 10:07] danielgent commented on #3702
The AC is already a detailed list of what steps to do

I'm just going to paste the code into the IB then :shrug:

I think I understand the concept of an IB for complex tickets (although I can't find other people doing this online) but this diff is tiny

[2021-07-28 10:21] danielgent commented on #3702
I've just added an IB.  Either I've done it totally wrong, or I'm missing something, because it's *way* easier to read my annotated PR and look at the code, than read those bullet points :smile:

It reminds me of podcasts trying to explain code and them lamenting that they could show it on a video much easier

[2021-07-28 10:45] marrrmarrr commented on #2681
Hey @asvinb, here are some suggestions on how to update this text:

For the first screenshot:
_Don't display ads for:_ (note the colon here)
_* All  logged-in users_
_* Users who can write posts_
_Ads will be displayed for all users_ (in the case where both toggles are off)

For the second screenshot:
_Excluded from ads_
_Logged-in users_

[2021-07-28 10:47] danielgent commented on #3762
This is what I've done with minimal changes to our existing components (looks similar to the design but definitely not identical)

![what done](https://user-images.githubusercontent.com/8496063/127309722-2359a2f1-6f5d-4051-a5d7-6287cc5f75e1.png)

Here you can see it working

https://google.github.io/site-kit-wp/storybook/pull/3771/?path=/story/components-surveys--survey-question-open-text-story

[2021-07-28 11:24] jamesozzie commented on #3427
@willowmagrini Thanks for the update. It would be great if you could perform the following checks:
1. While you've already confirmed the same occurs on a clean WordPress install on the same hosting platform can you check does setup proceed on a temporarily WordPress install using https://jurassic.ninja/create?
2. If you could share another screen recording with your browser [console errors](https:

[2021-07-28 12:11] danielgent commented on #3511
## QA :white_check_mark:

I no longer see all the babels warnings when running storybook :+1:

[2021-07-28 12:30] eugene-manuilov commented on #3702
@danielgent could you, please, be more specific? What do you mean by "Build the URL for this"? Which link do you mean when you say "Move this link up into the same div..."? IB needs to be clear, so everyone can understand what we need to do there.

When we compose URLs using string templates, we need to prepend the template with the `escapeURI` tag function to correctly encode parts of the URL. I

[2021-07-28 12:31] eugene-manuilov commented on #3702
@felixarntz, as far as I remember, we didn't want users to face the "_web data stream_" terminology in our UI. Did we change our minds?

[2021-07-28 12:41] aaemnnosttv commented on #2258
@johnPhillips please add a QAB 🙂

[2021-07-28 12:43] eugene-manuilov commented on #3702
Yes, sometimes AC contains too many technical details. But it doesn't mean that there is nothing to add to it in IB. We can refer to specific sections of AC when we write IB, but AC shouldn't be a replacement for our IB.

[2021-07-28 13:01] danielgent commented on #3761
@felixarntz I think the AC needs changing (and I don't think I should be doing that! :smile: )

The AC refers to itself
``` (This additional free-text input concept is also used in Add support for additional survey question type "multi_select" #3761, so this should be coordinated to work similarly, potentially reuse common logic where possible.)```

I think this should refer to https://github.com/

[2021-07-28 13:09] danielgent commented on #3761
@asvinb  has some concerns with https://github.com/google/site-kit-wp/issues/3760 so I'll do as much of the IB of this as I can, but I'll leave it on hold until Asvin's questions are answered :smile:

[2021-07-28 13:16] wpdarren commented on #1997
### QA Update:  Pass ✅

**Verified:**

- Went through all of the widgets on Site Kit dashboard.  Data appeared as expected. The widgets render as-expected and that there are no rendering/other errors when using the new widget-based layout.
- Went through all of the widgets on the  URL-specific pages. Data appeared as expected. The widgets render as-expected and that there are no rendering/other er

[2021-07-28 13:19] danielgent commented on #3691
Putting 3 hours as I've already done the implementation. Only the stories need adding!

[2021-07-28 14:00] wpdarren opened #3774 "Graph Output Issues on 'Unique Visitors from Search' data within SK Dashboard URL-Specific Pages"
## Bug Description

While testing #1997 I noticed that the graph on the Site Dashboard URL-specific pages, underneath the `Unique Visitors from Search` is not functioning. Initially, I thought it might be related to the ticket, but could recreate the issue on the latest version (1.37.0).  There are two issues that occur with the graph as detailed:

1. When there is just 1 visitor from search, the

[2021-07-28 14:01] asvinb commented on #3760
@felixarntz @aaemnnosttv I have a few questions based on the screenshot:

- In the screenshot, we have the `Next` button which I presume submits a user selected answer. However in our current setup, we don't have the `Next` button. Rather the answer is submitted as soon as (after 350ms to be exact) the user selects an answer. Can you confirm we will keep our existing functionality?
- If `choice.wr

[2021-07-28 14:53] eugene-manuilov commented on #3764
@yogeshbeniwal looks like this is expected behavior for the Newspack Campaigns plugin. That plugin intentionally disables page view tracking when a certain condition is met. See comments in the plugin source code [here](
https://github.com/Automattic/newspack-popups/blob/master/includes/class-newspack-popups-segmentation.php#L59-L67).

We can't do anything with that. So I would recommend you to re

[2021-07-28 14:55] eugene-manuilov commented on #3764
@jamesozzie @bethanylang I think we can close this ticket.

[2021-07-28 15:16] eugene-manuilov opened #3775 "Remove ga4setup feature flag"
## Feature Description

The GA4 support has been rolled out a few releases before but the `ga4setup` feature flag is still used across our codebase. While this is not a big deal, we need to remove it from our codebase and make a functionality that has been hidden by that feature flag work unconditionally.

---------------

_Do not alter or remove anything below. The following sections will be mana

[2021-07-28 15:17] felixarntz commented on #3760
@asvinb Great questions.

* The "Next" button should be there and required - it is only the "rating" question type specifically that does not require it, which is according to how Google's own survey system handles it.
* It should always be visible, so that it's clear the user can enter something when making this choice.
* See above, everything is only submitted once clicking "Next".

[2021-07-28 15:19] felixarntz commented on #3761
@danielgent Good catch - I've fixed this in the ACs.

I've replied to all of @asvinb's questions, so you should be able to proceed with the IB here (to which the same things apply).

[2021-07-28 15:21] felixarntz commented on #3773
@aaemnnosttv

Shouldn't this also be if there are no new ideas?

[2021-07-28 16:11] eugene-manuilov commented on #3759
IB :heavy_check_mark:

[2021-07-28 16:13] eugene-manuilov commented on #3762
@danielgent, please, add IB.

[2021-07-28 16:41] eugene-manuilov commented on #3764
@adamsilverstein Evan said that you worked with Newspack plugins and may help with it. Do you mind taking a look at this ticket too? Maybe you have a quick solution for the reported issue.

[2021-07-28 16:49] cole10up commented on #3405
### **QA ✅**

Confirmed and validated the functionality of test:analyze
![image](https://user-images.githubusercontent.com/57115907/127363276-83ca29fe-e985-40b7-8ed4-ceede73e62df.png)

Sending to approval

[2021-07-28 16:52] tofumatt commented on #3757
My concern with the original approach of clearing the client-side cache is that we need to implement a whole mechanism for that—we need a way to set something on the client before any components mount that clears the cache… and clearing the cache is async.

I guess the best option would be to put this in a very high `useMount` or something that happens before we even do a `React.render`.

It's tot

[2021-07-28 16:53] eugene-manuilov commented on #3625
Thanks, @ivankruchkoff. IB mostly looks good. Have a few comments. Please, check it out.

We don't need to rename it in the Manifest class because it is auto-generated and will use the correct filename next time you run the `npm run build:dev` command.

`<div>`s are not valid self-closing tags. It should be `echo '<div ...></div>'`.

We need to use `Data.select( CORE_MODULES ).isModuleActive( 'ide

[2021-07-28 17:08] aaemnnosttv commented on #2258
Let's make sure this one get's both QA:Eng **and** regular QA for a thorough pass. @johnPhillips would you please update the QAB to include a section for both (one part for eng, the other QA)?

[2021-07-28 17:47] felixarntz commented on #3757
@tofumatt Makes sense, we could have it in a new component that is included at a high level, e.g. via `Root`.

Regarding a generic way, it would be great to find one here, but we also shouldn't make it _too_ complicated. I think the approach of only supporting the Idea Hub-specific case for now is reasonable, since we have no idea what other conditions could come up later that would require certai

[2021-07-28 17:48] felixarntz commented on #3729
@aaemnnosttv That's a good idea for the future. We also already decided that a widget context will be used per tab, so it could be similar for the view context.

[2021-07-28 17:50] felixarntz commented on #3702
@eugene-manuilov

That's a fair point. We may change this in the future, certainly if we're going to allow picking a web data stream (see #3615), but for now let's keep it out of here. I'm going to adjust the wording to be a more abstract "Edit ... configuration in Analytics".

[2021-07-28 17:53] felixarntz commented on #3625
@ivankruchkoff

I'm not sure I understand - maybe it's unclear what I meant. When I say conditionally, I mean the JS file should only be enqueued (from the server-side) if it's actually needed. In other words, if that Idea Hub feature tour is already dismissed or if Idea Hub isn't even active (both of which we can check on the server-side), we shouldn't enqueue any JS.

[2021-07-28 17:54] felixarntz commented on #3772
Closing as discussed earlier, since it's already covered by #3681.

[2021-07-28 17:54] #3772 closed

[2021-07-28 18:23] adamsilverstein commented on #3764
Sure @eugene-manuilov. As you stated, I believe this is the expected behavior in Newspack based on the source code. I'm not sure what the reasoning is, @adekbadek may be able to tell us why this is set up this way.

@yogeshbeniwal - is this a new issue in recent Site Kit versions, or something generally affecting Newspack with Site Kit?

Based on this issue - https://github.com/Automattic/newspack

[2021-07-28 18:23] #3764 closed

[2021-07-28 19:13] eugene-manuilov commented on #3070
@felixarntz I have updated IB based on our discussion yesterday. Please, let me know if it looks good now.

[2021-07-28 19:33] adekbadek commented on #3764
Newspack Campaigns is gathering data about visitors, and that data is sent as custom dimensions to GA. To do that, the plugin takes over the page view reporting - in order to append some custom dimensions values to the pageview. It's true that if plugin is active but not yet configured, this will break pageview reporting. Opened https://github.com/Automattic/newspack-popups/issues/591

[2021-07-28 19:48] eugene-manuilov commented on #3278
@felixarntz @aaemnnosttv WordPress supports the [last 2 Safari versions](https://make.wordpress.org/core/handbook/best-practices/browser-support/). IntersectionObserver has been fully implemented in [Safari 12.1](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#browser_compatibility) that is not supported by WordPress anymore because Safari has already released versions 1

[2021-07-28 19:54] adamsilverstein commented on #3764
Excellent, thank you @adekbadek!

[2021-07-28 20:08] felixarntz commented on #2258
@johnPhillips @aaemnnosttv Going to remove this from the 1.38.0 release since it's a lot of changes and not critical for user-facing functionality. Having some extra time to use it once merged makes sense.

[2021-07-28 20:50] felixarntz commented on #3070
@eugene-manuilov IB mostly lgtm, just a few things:

About the `getPageTitles` selector, we may also need to pass a few additional arguments to the `getReport` call, for example these calls always require start and end dates, and we should ensure those are the same as used for the other report API request with the main data.

Probably a typo? I think this should have `ga:pagePath` instead of `ga:p

[2021-07-28 23:17] tofumatt commented on #3758
A bit of the functional conversions/refactoring here might be a bit tricky for anyone less familiar with these files, so marking this as an 11… but it's a high estimate and covers potentially the broad QA requirements of this issue as well.

[2021-07-28 23:21] tofumatt commented on #990
(This just needs a QA Brief, then it can be merged 👍🏻 )

[2021-07-29 07:47] aaemnnosttv opened #3777 "Release 1.38.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* https://github.com/google/site-kit-wp/releases/tag/untagged-848be375447d4894181a

## Changelog entry

* N/A

[2021-07-29 07:50] olaniyimoses opened #3778 "Unable to complete installation for Site Kit in my WordPress Site. Got The session state (799664078) didn't match the state parameter ()"
Please, I need help. I followed the instruction on the documentation website to install Site Kit. But when I got to Congratulation page, clicking on "Go to my Dashboard", takes me to error page showing "The session state (799664078) didn't match the state parameter ()".

I used incognito browsing windows and also disable my firewall and antivirus on my system.

Please, what should I do to resolve

[2021-07-29 08:23] ivankruchkoff commented on #3625
So do we want a separate JS entry point from the work on #3359 ( https://github.com/google/site-kit-wp/blob/7aeb45dca8a631936aaf401c85802543c3891adf/assets/js/googlesitekit-idea-hub-post-list-notice.js )

That is, do we want one file to handle feature tours, and one to handle admin notices?
It seems more straightforward to have one file for the `/wp-admin/edit.php` page, enqueued when idea hub is

[2021-07-29 08:31] aaemnnosttv commented on #3278
@eugene-manuilov I agree that a browser upgrade is the best solution for us here but is still a poor experience for the user who will end up with a fatal React error screen when using PageSpeed Insights where things are otherwise working fine. Users encountering this error will have no indication that upgrading the browser will fix the problem so Site Kit will get the blame.

This isn't affecting

[2021-07-29 09:51] jamesozzie commented on #3778
Thanks for reaching out. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the WordPress support forums where we perform initial troubleshooting for such queries we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue, including any console errors on the same screen

[2021-07-29 10:32] aaemnnosttv commented on #2258
Taking over here to finish this up as John is out for a bit.

[2021-07-29 11:18] danielgent commented on #3762
I've had a go @eugene-manuilov.  :shrug:

Seems less clear to me than just reading the actual code, so I'm not sure if I've done what's expected

[2021-07-29 11:25] eugene-manuilov commented on #3070
Yes! Added it to IB.

Good catch. Updated!

[2021-07-29 11:31] asvinb commented on #3760
@felixarntz @aaemnnosttv I've updated the IB based on your comments. However I think that maybe we should create a single component, for e.g `SurveyQuestionSelect` which caters for both, single and multi select. The IB caters for that. This is the same approach we are using for user input. Let me know what you think, because instead of duplicating most of the functionality, with some small tweaks,

[2021-07-29 11:53] eugene-manuilov commented on #3762
Thanks, @danielgent. It's better than just "merge my PR", but still requires a bit more infomration. Could you please add more details? When you write IB, think that you write it for someone who is not familiar with your PR, so once they read your IB they understand what needs to be done. When I read an instruction like `Use SurveyHeader to match styling`, it doesn't help me at all, it just adds m

[2021-07-29 11:54] danielgent commented on #3702
@eugene-manuilov  I've had another go at updating the IB

`Move this link up into the same div .googlesitekit-settings-module__meta-items as containing the UA info`

Honestly, I'm not sure what more I can write. I would just show the code change...

From the AC I would just do the PR (as I have done) and then we would discuss what I've done in the code review.

I've spent another hour trying to de

[2021-07-29 12:23] danielgent commented on #3762
@eugene-manuilov I don't see the AC telling me to touch the `CurrentSurvey` component, especially if the `SurveyQuestionRating` requires modifying as we have a few similar new components

I'm going to put changes to this IB on hold for now. The whole diff of the working PR is only about 100 actual lines of code, of that most, is copy-pasted.

[2021-07-29 12:39] tofumatt commented on #3647
I'm proposing a solution where we use data attributes for everything, as requested in the ACs.

But it looks like, in one spot, we can get data right from query params rather than reading query params on the server side, then setting a data attribute on the client:

https://github.com/google/site-kit-wp/blob/5e17a1df7657ae41541a2c7ff04f8dae0d4cf84d/assets/js/googlesitekit-module.js#L34-L59

Perfor

[2021-07-29 12:43] eugene-manuilov commented on #3702
Thanks, @danielgent.

This is not how it works on this project. When we write IBs, we can discuss the implementation, all possible pitfalls, and ask all questions before an engineer starts working on it. So when it comes to implementation, the engineer will know exactly what needs to be done and the scope of work that is required.

Your approach is easier for you, but it leaves all questions and p

[2021-07-29 12:56] eugene-manuilov commented on #3762
@danielgent it assumes to do it. The `Add support for additional survey question type ...` title means that that additional question type should be supported by the survey infrastructure, correct? We don't have a separate ticket that will ask us to update the `CurrentSurvey` component to use the new `SurveyQuestionOpenText` component.

[2021-07-29 12:59] asvinb commented on #2054
### QA: ❌

- Created a new site on jurassic.ninja (https://competent-darkling.jurassic.ninja/)
- Installed the Site Kit plugin and tester plugin
- Switched to develop branch via tester plugin
- Connected Tag Manager service
- Inspected the FE and saw Tag Manager snippet inserted.
- Edited the theme's `functions.php` and added `define( 'WP_ENVIRONMENT_TYPE', 'local' );`
- Refreshed the homepage, Ta

[2021-07-29 13:10] eclarke1 commented on #3702
Let's pick this one up offline team so we can align on an approach together cc @aaemnnosttv

[2021-07-29 15:51] eugene-manuilov commented on #3278
Ok, IB is added. @aaemnnosttv do you mind reviewing it?

[2021-07-29 15:52] aaemnnosttv commented on #3702
Thanks @danielgent and @eugene-manuilov – I think the IB pretty close and there are just a few minor details left to clarify here (mostly I think the added inline link class probably isn't necessary and we may want to move the exact position of the link in the markup). Seeing as we already have a PR in progress that is also quite close to what we need I'll move this forward and we can continue the

[2021-07-29 16:01] eugene-manuilov commented on #3625
@ivankruchkoff I think the last thing we need to add is a check to make sure that at least one element with the `.googlesitekit-idea-hub__draft` class exists.

IMO one file is better knowing that we load it anyway.

[2021-07-29 16:24] wpdarren commented on #3359
@eugene-manuilov do you have any updates on when we can test this? :)

[2021-07-29 17:13] aaemnnosttv commented on #3278
Thanks @eugene-manuilov – I'm not sure if we want to leverage a third-party script for this although that would provide it without increasing our bundle size. The trade-off there though is that the engineer needs to know to add the polyfill asset dependency to their the entrypoint whenever intersection observer is used, which seems rather fragile to me.

What do you think about using the [async po

[2021-07-29 17:24] felixarntz commented on #3647
@tofumatt IB mostly lgtm, just one thing: `data-module-slug` should not be set to `$module_info`, it should only have the module's slug.

Regarding your point of the query parameters, I was considering that, but I think relying on data attributes is a better approach since it decouples our React apps from certain URLs. I think eventually (not necessarily this issue though) we should also update `g

[2021-07-29 17:24] aaemnnosttv commented on #3760
Thanks @asvinb – I really like the idea of using radio and checkbox inputs to make the selections (and number of selections) much more clear as well as accessible, although this is a deviation from the design so we'd need to get approval, but +1 from me. cc: @felixarntz @marrrmarrr

Regarding the use of a single component, I think that is of course technically possible but in this case the survey

[2021-07-29 17:30] felixarntz commented on #3758
@tofumatt IB overall looks good. A few additional thoughts:
* The data that `getModulesData` exposes includes a bit different information than what the `getModules` datastore selector returns - in addition, a few properties use different names between the two. We should double check for that, it would be good if you could add that to the IB. A good way is to compare the REST endpoint to get module

[2021-07-29 17:33] tofumatt commented on #3777
Went through the site, especially the dashboard and page dashboards with data and empty states as we've removed the non-widget-based API layouts.

All looks good to me ✅

[2021-07-29 17:37] felixarntz commented on #3760
@asvinb @aaemnnosttv +1 to also showing the radio buttons next to the selections for "single_select" - we can proceed with that.

Regarding a single component, I agree with @aaemnnosttv - how about the following:
* We introduce `SurveyQuestionSelect` as a base component, with a few extra props (see below).
* We introduce `SurveyQuestionSingleSelect` (and through #3761 later) `SurveyQuestionMultiSe

[2021-07-29 17:38] felixarntz commented on #3759
Note that the IB is here is technically slightly outdated: Since this issue is blocked by #2258, some of the IB references of things to remove will already no longer exist.

[2021-07-29 17:57] eugene-manuilov commented on #3278
@aaemnnosttv the problem with dynamic import is that webpack uses a static public path which is an empty string and tries to load the imported script from the current virtual directory. In our case, webpack loads dynamically imported scripts using `http://{domain}/wp-admin/{imported-script}` URLs instead of `http://{domain}/wp-content/plugins/google-sitekit/dist/assets/js/{imported-script}`. Unfor

[2021-07-29 18:06] eugene-manuilov commented on #3359
Unfortunately, not yet, @wpdarren

[2021-07-29 18:20] tofumatt commented on #3599
Leaving that `STORE_NAME` is fine, though arguably it's a bit weird to have it be named in that constant case and we could change it to `storeName`… I'm taking over this PR so I'll see what makes sense without too much fuss, but I'd be happy to remove all instances of the `STORE_NAME` variable if it's straightforward 🙂

[2021-07-29 19:02] abdullah1908 opened #3779 "Tooltips overlapped when clicked on Analytics stats while hovering to nearby stats in the graph"
## Bug Description
On the Analytics Dashboard tooltips overlapped while we clicked on the data point & then hover on the nearby stats.

## Steps to reproduce

1. Go to Analytics Dashboard
2. Click on any point on the graph to see stats
3. Hover on the nearby stats
4. You'll see both tooltips will be overlapped.

## Screenshots
Please see [this](https://www.loom.com/share/cf13fd972ad243f7be87b97921