[2022-07-26 12:36] felixarntz commented on #5494
@techanvil Ah right, I had forgotten about that. Storing the `args` somewhere with the error makes sense, however we should ensure the format of errors as returned from e.g. `getErrors()` remains the same. The `args` should still only be included in an error that has `selectorData`, as part of that.

So it may be safest to store them in a separate property in the data store, e.g. under the same `b

[2022-07-26 12:43] eugene-manuilov commented on #5524
Good catch! Thanks, @kuasha420. Added a follow up PR that fixes it: #5610.

[2022-07-26 12:46] eugene-manuilov commented on #5524
@wpdarren UI changes in the settings view component are out of scope for this ticket. The intention here is to make sure that the colour setting shows up on the settings view now.

[2022-07-26 12:56] mohitwp commented on #5459
### QA Update ⚠️

@makiost

- I've noticed that the background color for the radio button is different.

<details>

![image](https://user-images.githubusercontent.com/94359491/181007768-6feaba8b-f634-47fa-84d9-9e3db8d84a78.png)

![image](https://user-images.githubusercontent.com/94359491/181007893-a6e98049-acdf-43cc-834c-8ede1f19f146.png)

</details>

Also, noticed that width and height of the rad

[2022-07-26 13:19] mohitwp commented on #5423
### QA Update ✅

Verified:
Verified selectors using console.

- `googlesitekit.data.select('core/site').getDocumentationLinkURL('not-enough-traffic')` redirects to https://sitekit.withgoogle.com/support?doc=not-enough-traffic

- `googlesitekit.data.select('core/site').getErrorTroubleshootingLinkURL({id: 'nonce_expired' }) and googlesitekit.data.select('core/site').getErrorTroubleshootingLinkURL({

[2022-07-26 13:24] wpdarren opened #5611 "UX Improvements to the Thank with Google Splash Screens"
## Bug Description

While testing #5528 I had two observations that I feel need discussing with the UX team relating to Thank with Google.

This is related to the splash screen that appears when setting up the module.

The detail below applies to all of the different statuses, i.e. no account, pending approval etc.

1)  Interested to know opinions about the amount of white space between the title,

[2022-07-26 13:42] wpdarren commented on #5479
### QA Update: ✅

**Verified:**

- When I connect Analytics, and then hit cancel at the oAuth page,  I am redirected back to the Site Kit Dashboard and a message appears with a `Get Help Link`.  The URL has the `access_denied` added to the end of the URL.
`https://sitekit.withgoogle.com/support?error_id=access_denied`.
- When the link is clicked, a new tab opens up and I am redirected to `https://

[2022-07-26 14:21] wpdarren commented on #5587
### QA Update: ⚠️

@kuasha420 thank you so much for the detailed QAB, this helped a lot!   I just have one observation.

I pasted the code to change a non-owned key such as buttonPostType using the snippet.

When I ran this code I received an error:

[code]

Error message:

[code]

All of the other steps worked perfect, even the steps after running this code.    Any thoughts?

[2022-07-26 14:32] kuasha420 commented on #5587
@wpdarren I made a copy paste error here as the snippet would be the following:

[code]

Also rerun the snippets to `get` if it returns `undefined` first time.

Cheers.

[2022-07-26 14:33] tofumatt commented on #5459
@mohitwp The width of the buttons should change with the contents, so the difference in width is okay.

But the background colour is a good catch, thanks! I didn't even notice it.

@makiost Can you make a small, follow-up PR for this issue just updating the background colour of the `ImageRadio` components without an image? Eg, this one:

<img width="344" alt="CleanShot 2022-07-26 at 15 33 31" src=

[2022-07-26 14:52] tofumatt commented on #5423
@mohitwp Looks like your screenshot shows the correct values but the QA writeup doesn't.

The value from `googlesitekit.data.select('core/site').getErrorTroubleshootingLinkURL({ message: 'Curl error: host timed out.' })` is actually `https://sitekit.withgoogle.com/support?error=Curl%20error%3A%20host%20timed%20out`.

But that's in the screenshot so looks good.

QA ✅

[2022-07-26 15:29] wpdarren commented on #5587
### QA Update: ✅

**Verified:**

- Ran through the steps in the QAB:
  - Checked the current TwG `owner ID` with the following snippet. (it appeared as '1')
  - Switched to another admin account and connected site kit
  - Changed a non-owned key `buttonPostType` using the snippet.
  - Confirmed that the change had saved to the `buttonPostType`
  - Confirmed that the `ownerID` has not been changed.

[2022-07-26 16:00] wpdarren commented on #5532
### QA Update: ✅

**Verified:**

- Verified the Thank with Google reset behaviour:
  - Clicked away from the window, waited for >15 seconds, and then click back into the window.
  - The Thank with Google setup refreshed with a visible loading bar.

- Verified the AdSense reset behaviour:
  - Clicked away from the window, waited for >15 seconds, and clicked back into the window.
  - The AdSense set

[2022-07-26 16:55] adamsilverstein opened #5612 "Open text survey question entry field should show more text / be multi-line"
## Bug Description

When serving user surveys with a an open ended question (the `SurveyQuestionOpenText` element), the text input area is a single line input field that shows a small number of characters - allowing for maybe five to ten words. This makes it very difficult to see what you have typed and enter more than a small amount of text.

Instead this field should probably be a multi-line `te

[2022-07-26 17:39] aaemnnosttv commented on #5523
Nothing to QA here, moving to Approval 👍

[2022-07-26 18:23] tofumatt commented on #5445
@aaemnnosttv Good call on both, I bet we can re-purpose the existing modal to show a confirmation screen, and add more context to the action.

I'll update the ACs and then send this back over to @nfmohit to add that part to the IB 🙂

[2022-07-26 19:51] tofumatt commented on #5445
Hi @bethanylang—just assigned you to get your thoughts on the language used in this prompt from a support perspective for resetting the dashboard sharing permissions.

The proposed language in the ACs is:

  * A heading with *"Reset Dashboard Sharing permissions"*
  * Body text reading *"Warning: resetting these permissions will remove view-only access for all users. Are you sure you want to reset

[2022-07-26 19:58] aaemnnosttv commented on #5528
@wpdarren on closer inspection, the current icon in the setup flow is consistent with all other modules so let's keep it at the current size 👍  see https://github.com/google/site-kit-wp/pull/5608#pullrequestreview-1051407059

Back to you for another pass !

[2022-07-26 20:21] aaemnnosttv commented on #5527
Ready for another pass @wpdarren 👍

[2022-07-26 21:16] aaemnnosttv commented on #5612
@adamsilverstein we currently have a 100 character limit on the input of this field which was part of the original spec for this question type (see https://github.com/google/site-kit-wp/issues/3762). Is there a particular reason why we need this? If not should we remove it or just increase it to something more generous?

[2022-07-26 21:30] adamsilverstein commented on #5612
Ah, that is good to know, I didn't realize we had that limit set already. I'm not sure why that limit was set so low originally, maybe because our initial questions had short answers.

I can't think of any reason from the back end although I think it makes sense to have some limit here as a sanity check and to prevent abuse. 100 could be slim depending on the type of question we ask though, someth

[2022-07-26 21:32] adamsilverstein commented on #5612
cc: @felixarntz Any reason we should keep this limit so small you can think of Felix?

[2022-07-27 02:34] wpdarren commented on #5550
### QA Update: ✅

**Verified:**

- Confirmed that the notices now appear behind the setup success notifications.
- The `Remind Me Later` appears as 'Link' next to the 'Recover' button but hides itself when the 'Recover' button is clicked and the spinner appears.
- Confirmed if there is no `Recover` button, the `Remind me later` becomes the main button. I wasn't able to recreate this with the recov

[2022-07-27 04:41] felixarntz commented on #5612
@adamsilverstein @aaemnnosttv Not sure where that came from, maybe let's raise it to 200 then.

[2022-07-27 06:27] mohitwp commented on #5424
### QA Update ✅

Verified:

-  "Additional permissions required"-modal isn't present on WP dashboard.
- All the other links on the WP dashboard are clickable and accessible.

Note : Errors are not looking proper on WP dashboard will create separate issue for this.

https://user-images.githubusercontent.com/94359491/181176453-b9ba1ad9-5b93-4494-9fe0-4ca7c82e5427.mp4

[2022-07-27 08:52] tofumatt commented on #5482
IB ✅

[2022-07-27 09:15] techanvil commented on #5484
IB :white_check_mark:

@nfmohit I added a couple of points about writing tests and bumped the estimate to allow some extra time.

[2022-07-27 09:18] nfmohit commented on #5484
Brilliant, thank you @techanvil!

[2022-07-27 09:28] makiost commented on #5459
@tofumatt The follow up PR is now in CR 👍

[2022-07-27 10:00] techanvil commented on #5270
Hey @jimmymadon, the IB is looking good. I have a couple of suggestions regarding folder/component names.

Firstly the main component, taking a look at our existing structure, your suggested `components/activation-banner` would be slightly out of keeping with existing conventions.

To illustrate here's the output of `find $( find assets/js/modules -name components ) -type d`:

<details>

[code]
</

[2022-07-27 10:05] mohitwp commented on #5503
### QA Update ✅

Verified 👍

- Verified when 'adsensesetupV2' feature flag is active.
- Verified using 'oi.ie' site.
- Also, verified after forcing adsense status to 'ready' using tester plugin.

<details>

![image](https://user-images.githubusercontent.com/94359491/181221064-c86dd809-2dbb-4d94-a3aa-e8175411934c.png)

![image](https://user-images.githubusercontent.com/94359491/181221111-cd176c76-4

[2022-07-27 10:07] wpdarren commented on #5527
### QA Update: ✅

**Verified:**

- The `SetupPublicationPendingVerification` component has its UI implemented from Figma design.
- The secondary button should technically be a simple link, for now pointing to https://publishercenter.google.com/ (opening in a new tab).
- The `SetupPublicationScreen component` renders with the following props:
  - Title - `Reviewing your account application`
  - Des

[2022-07-27 10:23] jimmymadon commented on #5456
@felixarntz In WP 6.0.1, the "widgets admin screen" does not exist in the Appearance menu and there is only a single link to the 'Editor'. So should the above link conditionally point to the widgets admin screen if available and to the editor if not?

[2022-07-27 10:28] wpdarren commented on #5528
### QA Update: ✅

**Verified:**

**Verified:**

- The `SetupCreatePublication` matches the figma design:
  - title - `Create your Thank with Google account`
  - description - `To get started, create an account. Currently available only in the US.`
  - The Button has copy `Create account`
  - The button href is `https://publishercenter.google.com/` which opens up in a new window.
  - The button has

[2022-07-27 10:33] techanvil commented on #5274
@jimmymadon this IB looks good, the component path will likely need updating - see https://github.com/google/site-kit-wp/issues/5270#issuecomment-1196522807 - that aside this looks good to go!

The updated path will probably be: `assets/js/modules/analytics-4/components/dashboard/ActivationBanner/Success.js`

[2022-07-27 10:52] wpdarren commented on #5524
### QA Update: ✅

**Verified:**

- To test this I used code to connect TwG (via the functions.php file) and then changed the color ID in the code as per the AC. Then in the TwG settings, I made sure that the title case version of the color appeared:

  - id: blue, name: Blue
  - id: cyan, name: Cyan
  - id: green, name: Green
  - id: purple, name: Purple
  - id: pink, name: Pink
  - id: orange, na

[2022-07-27 11:15] kuasha420 commented on #5456
@jimmymadon does this only happen on a them with Full Site Editing support?

[2022-07-27 11:31] felixarntz commented on #5456
@jimmymadon I believe what @kuasha420 says it's correct - what you're saying is probably only the case when using a FSE theme like Twenty Twenty Two.

Good point raising this though, since for FSE themes the widgets admin screen is indeed irrelevant. Probably the best for now is to link to the widgets admin screen when using a traditional/classic theme, and to that new "Editor" screen when using a

[2022-07-27 12:11] mohitwp opened #5614 "AdSense not being connected after going through the initial setup"
## Bug Description

AdSense not being connected after going through the initial setup
This issue occurs once on fresh site. It occurs only one time while doing set up first time, after that this issue is not getting occur even after resetting the plugin.

Note : This issue is occurring when we try to do set up via clicking on Adsense CTA on dashboard or via settings page.

## Steps to reproduce

1

[2022-07-27 12:22] mohitwp opened #5615 "WP Dashboard - Error notifications are not properly showing on WP dashboard widget."
## Bug Description

Site kit errors on WP dashboard appears without space and alignment.

## Steps to reproduce

1. Set up SK without Analytics
2. Sign in with a different admin and connect Analytics
3. Sign in with the first admin again
4. See errors notifications under Site kit widget on WP dashboard.

## Screenshots

![image](https://user-images.githubusercontent.com/94359491/181245408-2ab977d9

[2022-07-27 12:23] mohitwp commented on #5424
Created separate issue for WP dashboard - Site kit widget notification design.
https://github.com/google/site-kit-wp/issues/5615

[2022-07-27 12:50] #5488 closed

[2022-07-27 12:51] bethanylang commented on #5445
@tofumatt Thank you for checking in! The only tiny little change I have is I would make the "r" in "resetting" capitalized, so:

_"Warning: Resetting these permissions will remove view-only access for all users. Are you sure you want to reset all Dashboard Sharing permissions?"_

Reassigning to @nfmohit and moving back to IB!

[2022-07-27 12:54] #5503 closed

[2022-07-27 12:55] #5424 closed

[2022-07-27 12:57] #5550 closed

[2022-07-27 12:57] #5523 closed

[2022-07-27 12:58] tofumatt commented on #5483
I noticed the IB mentions using `dangerouslySetInnerHTML={ sanitizeHTML( ) }`, but that's not how we insert translated HTML (anymore). Instead the IB should use `createInterpolateElement`, like we do elsewhere, eg. https://github.com/google/site-kit-wp/blob/8840391cdd700f3c93df9df5d559321401b91f2f/assets/js/modules/idea-hub/components/dashboard/DashboardCTA.js#L150-L166

Aside from that this is go

[2022-07-27 12:59] #5423 closed

[2022-07-27 12:59] jamesozzie commented on #5605
One more report of this today. One similarity to another impacted user is that this user has their site as https, yet their REST endpoints indicate both site references as http. Awaiting further details from correspondence with user.

[2022-07-27 13:00] #5479 closed

[2022-07-27 13:04] #5487 closed

[2022-07-27 13:05] #5593 closed

[2022-07-27 13:08] felixarntz commented on #5453
@tofumatt @aaemnnosttv This didn't have a changelog entry, but I think it should have one as it is a new selector, so that's worth highlighting. We should only avoid adding changelog entries for things that are largely irrelevant for end users and developers, like private code infrastructure tweaks, fixing test failures, etc.

I've added one now, would be good to include that in the changelog.

[2022-07-27 13:08] #5453 closed

[2022-07-27 13:10] #5461 closed

[2022-07-27 13:12] techanvil commented on #5494
Hey @felixarntz, that sounds good to me. However, something else has occurred to me, which is that we'd be relying on following a pattern, which has the potential to go out of sync and cause problems like false correlation of errors to selectors.

Specifically, by using `baseName` to look up the existence of a selector by that name - if an error has been stored with a `baseName` that _happens_ to

[2022-07-27 13:13] #5524 closed

[2022-07-27 13:14] #5587 closed

[2022-07-27 13:15] #5457 closed

[2022-07-27 13:17] #5532 closed

[2022-07-27 13:18] #5528 closed

[2022-07-27 13:19] #5526 closed

[2022-07-27 13:19] #5527 closed

[2022-07-27 13:20] #5525 closed

[2022-07-27 13:21] #5455 closed

[2022-07-27 13:23] jimmymadon commented on #5270
Thanks @techanvil. Makes complete sense - have updated the IB!

[2022-07-27 13:32] tofumatt commented on #5440
Looks good 👍🏻

IB ✅

[2022-07-27 13:34] felixarntz commented on #5450
@kuasha420 @eugene-manuilov Minor nit-pick here in terms of approval: https://github.com/google/site-kit-wp/pull/5565#pullrequestreview-1052515651

This is not a bug or anything critical, but something to clean up. If you could address it in a quick follow-up PR against `main`, that would be great.

[2022-07-27 14:04] eugene-manuilov commented on #5450
Good catch, @felixarntz. I have created a follow up PR #5616, do you mind reviewing it?

[2022-07-27 14:20] felixarntz commented on #5494
@techanvil

Your thought makes sense to me. However, the purpose of `baseName` is to exclusively refer to either a selector or an action name, so there shouldn't be a chance for conflicts. `baseName` should not be (and I believe is not) used on any error to pass something arbitrary. Most of these usages come from the automated fetch infrastructure anyway where this is tied to an action or selector

[2022-07-27 14:20] nfmohit commented on #5483
@tofumatt I apologise for being unclear. I actually suggested removing `dangerouslySetInnerHTML` and just inserting the translatable string followed by the `<GetHelpLink />` component inside the `<p>` tag.

[2022-07-27 14:23] nfmohit commented on #5274
@techanvil I've updated the component path according to the blocking issue's IB. Thank you!

[2022-07-27 14:36] #5450 closed

[2022-07-27 15:12] eugene-manuilov opened #5617 "Extract Google product names from translatable strings for consistency"
## Feature Description

Currently, we don't have strict rules regarding product names in translatable strings thus our translations contain product names which may be translated by the community. This become more important with the launch of the Thank with Google integration. People that aren't familiar with the Thank with Google product may not understand what this mean and translate it into thei

[2022-07-27 15:13] eugene-manuilov commented on #5617
@felixarntz or @aaemnnosttv could you, please, help to define AC? Not sure which approach is the right for this, seems like the `sprintf` one is the best, what do you think?

[2022-07-27 15:17] techanvil commented on #5270
Thanks @jimmymadon!

IB :white_check_mark:

[2022-07-27 15:18] jamesozzie commented on #5605
I've been trying to recreate this based on the reports we have so far, although with no luck at this point. [Internal testing task](https://app.asana.com/0/1185360131189553/1202675091380974).

We have no Site Health information reports yet, and my testing was based on mixed content, and mismatching URLs. Awaiting further insights from impacted users.

[2022-07-27 15:19] techanvil commented on #5274
Thanks @nfmohit!

IB :white_check_mark:

[2022-07-27 15:44] techanvil opened #5618 "Add selector to retrieve meta-data for a given error."
## Feature Description

_This has been identified as a requirement in order to get https://github.com/google/site-kit-wp/issues/5494 working - for more info see the related comment thread in the issue, although the proposed solution has changed a bit since then._

In order to be able to show a retry button in the `ErrorNotice` component that allows a selector error to be retried, we need a new sel

[2022-07-27 16:20] techanvil commented on #5494
Thanks @felixarntz - sounds sensible enough to me. I've added a followup issue, building on your initial set of bullet points: https://github.com/google/site-kit-wp/issues/5618.

[2022-07-27 22:40] aaemnnosttv commented on #5459
@makiost I found a few more things when reviewing your PR, please see the review for details 👍

[2022-07-28 02:29] wpdarren commented on #5612
### QA Update: ✅

**Verified:**

- I tried to use the code we used when initially testing open text survey field #3762 but unfortunately, it didn't work. So, I could only QA this based on [Storybook here](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-surveys--survey-question-open-text-story).

- Confirmed that I was able to add multiple lines of text and no styling

[2022-07-28 10:05] techanvil commented on #5272
Hi @jimmymadon, this IB is looking good. A couple of details:

- `isModuleConnected` should be used, rather than `isModuleActive`, for Analytics this ensures the check is made for the property being set up, and for Analytics-4, avoids a potential (edge?) case where the module is active but not set up.
- The setting of `dismissExpires` needs a bit more logic. Say for example the date is May 31st 20

[2022-07-28 10:17] techanvil commented on #5494
Code looks good but this issue is dependant on #5618 in order to be functionally testable, as such is on hold until that issue has been implemented.

[2022-07-28 10:43] techanvil commented on #5618
Hey @aaemnnosttv, just assigned this to you for a review of the AC...

[2022-07-28 12:51] jimmymadon commented on #5456
@tofumatt I can see that @eugene-manuilov has added postTypes with slugs and labels [which you are happy with](https://github.com/google/site-kit-wp/pull/5606/files#r931252907). So I will just wait for this to get merged and use the new selector to finish of this issue as well.

[2022-07-28 13:13] techanvil opened #5620 "Update module headers in Settings > Connected Services"
## Feature Description

For unconnected modules on the **Settings > Connected Services** tab, display a CTA button in place of the existing “{module_name} is not connected” text. The button text should read “Complete setup for {module_name}”. Clicking on the button should redirect to the Setup page for the module.

Additionally, for a connected modules the text should be changed from the existing

[2022-07-28 13:18] techanvil opened #5621 "Show button & tooltip to complete GA4 setup in Settings > Connected Services"
## Feature Description

Following on from #5620, when the Analytics module is connected but GA4 is not setup, the “Analytics is connected” text should be replaced with the CTA button as implemented in #5620, but the button text will be “Connect Google Analytics 4” and clicking on the button will open the settings in _edit_ mode.

Additionally, with the Analytics settings open in edit mode, the GA4

[2022-07-28 14:11] jimmymadon commented on #5272
Ah of course - thanks @techanvil - nice one! I've updated the IB!

[2022-07-28 14:58] jamesozzie commented on #5517
I've been doing more testing on this today, and it occurs consistently on one site, while not evident on another. Additional notes:
- When this occurs, it occurs with only the SC module active
- The JWT Auth plugin doesn't need to be configured, only installed and activated
- Occurs with the same theme active on both sites, with only SK and JWT Auth active.

<details><summary>
SH info where this d

[2022-07-28 15:17] techanvil commented on #5272
Nice one @jimmymadon!

IB :white_check_mark:

[2022-07-28 16:12] jamesozzie commented on #5605
With [one users SH info now provided](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNglaTX8QFbNrwYw1ddjDcllMH8-xOp_hbzj8xF-uBrmgzZRfayXVy18qlKxVPUM1wo) I set up a site with the same plugins and theme active. In my case I wasn't able to recreate.

From reviewing both site URLs which we now have it looks like both are using CDNs, one Cloudflare and t

[2022-07-28 16:12] tofumatt opened #5623 "Thank with Google "Manual" radio button should be a heading + subheading, not a button"
## Bug Description

In the [Figma mocks for Thank with Google](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=1205%3A7472), there are two options for placement: "Auto" and "Manual". But really, manual itself isn't an option—it's a heading for three options ("Above the post", "Below the post" and "Below the 1st paragraph").

<img width="675" alt="CleanShot 2022-07-28 at 17 08 19" src

[2022-07-28 17:24] eugene-manuilov commented on #5531
There is nothing left to implement here after #5529 is merged. Ready for QA.

[2022-07-28 18:24] kuasha420 commented on #5517
## Status Update

I have investigate this with the JWT Auth plugin active. When the plugin is activated, all WP Rest Routes require Authorization headers in the request to be accessed (except the whitelisted ones). But in the Admin page the API calls are made with the `credentials`, now JWT Token.

We can't really do anything other than advise JWT Auth users to whitelist the `google-site-kit` rout

[2022-07-28 18:55] eugene-manuilov commented on #5275
@techanvil I believe this file should belong to the `analytics-4` module, shouldn't it?

[2022-07-28 20:39] kuasha420 commented on #5145
@tofumatt So I did some more experiments on this and while we can do this in the backend, it breaks all our conventions because the measurement ID is only available in the webDataStream. so we will have to make two request, one dependent on another and breaks our `create_data_request` -> `parse_data_response` pattern.  I think we can do it easily in the JS using esisting selectors. I have added th

[2022-07-29 01:07] tofumatt commented on #5570
Spent a fair bit of time doing more Dashboard Sharing testing as it'll be launched with this release. Also did the usual smoke testing.

All looked good for me.

QA ✅

[2022-07-29 07:15] mohitwp commented on #5459
### QA Update ✅

Background color issue is now resolved.

<details>

**StoryBook**
![image](https://user-images.githubusercontent.com/94359491/181703771-31091b93-f9ec-452f-96d2-3d284efe96a5.png)

**Figma**
![image](https://user-images.githubusercontent.com/94359491/181703818-b268f469-e608-41c5-96d7-de62b42ce5a5.png)

</details>

[2022-07-29 10:38] jamesozzie commented on #5517
Close this out, with a [mini plugin created](https://gist.github.com/jamesozzie/771d649fe0eb900aa55177aa78c46761) to make use of the above filter. I've also reached out to the JWT Auth team and contacted all impacted users.

For this impacted, you can use the `jwt_auth_whitelist` filter above, or download, install and activate the mini plugin as a standard WordPress plugin, in order to ensure Site

[2022-07-29 10:38] #5517 closed

[2022-07-29 11:20] wpdarren commented on #5570
### QA Update: ✅

- Went through our QA checklist
- Tested with AdSenseV2 enabled.
- Checked sites with zero, gathering and live data.

I'm now going to run through Dashboard Sharing to ensure that all is good for the launch. 🚀

[2022-07-29 12:28] techanvil commented on #5585
Hey @nfmohit, this IB looks good. One minor tweak I would suggest is to use the filename `test-utils.js` rather than `utils.js`, just to make it clear that what's in the file is related to non-production code only.

[2022-07-29 13:24] eugene-manuilov commented on #5275
IB ✔️

[2022-07-29 14:20] wpdarren opened #5625 "Improve UX/UI on Dashboard Sharing when an Admin disconnects Site Kit"
## Bug Description

There's a weird UX/UI experience in a specific scenario on a site with two admin users for dashboard sharing.

`Admin 1` connects Site Kit and gives permission to modules in the dashboard sharing settings modal.  `Admin 2` logs in to his WordPress account but does not connect his Google account. Instead they go to the shared dashboard.   Later on `Admin 1 ` disconnects Site Kit

[2022-07-29 14:25] techanvil commented on #4895
Thanks @aaemnnosttv, that makes sense. I have updated the AC to remove the attempt to identify the followup threshold.

[2022-07-29 14:32] wpdarren opened #5626 "Minor UI improvement on Idea Hub connect service screen"
## Bug Description

Minor UI issue on the service connection screen for Idea Hub.

This text is too big in my opinion.

`I agree that Idea Hub will track my usage of the feature (e.g. creating a draft; saving/dismissing ideas) in order to provide better idea suggestions`.

This font is 16px.  I feel this should be 14px.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/d8

[2022-07-29 15:11] techanvil opened #5627 "Address large file sizes of Thank with Google SVGs"
## Feature Description

These Thank with Google SVGs are a bit on the large side and should be reduced in size.

- `assets/svg/graphics/twg-dynamic-high.svg`: **4.7 MB**

![twg-dynamic-high](https://user-images.githubusercontent.com/18395600/184192174-a8348a92-e798-439c-aead-a01fe5a23afb.svg)

- `assets/svg/graphics/twg-dynamic-low.svg`: **1.1 MB**

![twg-dynamic-low](https://user-images.githubuse

[2022-07-29 15:25] aaemnnosttv commented on #5625
@wpdarren this scenario also applies to non-admins, the only difference of course is that an admin can sign-in with Google and then they'll see permission errors instead if they don't have access to the configured entities on the service.

I'm hesitant about adding a link to every component like this, but we could potentially show a new notice at the top similar to how we do for zero data, that if

[2022-07-29 16:23] techanvil commented on #5570
## QA :warning:

* Smoke tested :white_check_mark:
* Verified the changes I've been involved with :white_check_mark:
* Performed some ad-hoc testing :white_check_mark:

Not what I'd consider a launch blocker, but I have noticed the recent addition of the Thank with Google setup graphic has added a lot, relatively speaking to the TwG bundle size. I have created an issue for it: https://github.com/g

[2022-07-29 17:15] jroakes commented on #4834
Hi @bethanylang.  In the code you shared:

```<script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=AW-[whatever you typed in the Ads Conversion ID box]&amp;l=dataLayer&amp;cx=c"></script>```

Do you have any idea what the parameter `cx=c` does?  I see this shared around, but no documentation on the parameter anywhere that I can find.  Sorry for coopting this iss

[2022-07-29 18:29] bethanylang commented on #4834
@jroakes Thanks for getting in touch!

That script is pulled directly from GTM and dropped into Site Kit, so it's not coming directly from the plugin. We can do some testing to see if we can replicate your issue and escalate this to the GTM team.

Since this issue is closed and we typically provide support on the WordPress.org support forum for Site Kit, can you please [open a new topic about this

[2022-07-29 18:44] eugene-manuilov commented on #5627
@techanvil this is a known issue and we already have a workaround for it in the `develop` branch that loads that big svg lazily: https://github.com/google/site-kit-wp/blob/918a52cdbec25111561063b77008860647b2996d/assets/js/modules/thank-with-google/components/setup/SetupPublicationScreen.js#L36-L38

It means that the svg image is not bundled into the twg module bundle and not affects their size. I

[2022-07-29 19:01] aaemnnosttv commented on #4895
Thanks @techanvil, LGTM 👍

[2022-07-29 19:13] aaemnnosttv commented on #5503
Thanks @jamesozzie – this looks like a site that went through the v1 setup flow, in which case I don't think we would know if the site is ready or not by that status as before. Perhaps we should amend this change to remove the added status label in this case. I'll create a quick PR for this.

Part of this seems to be a separate issue where we should perhaps consider updating the site status if we

[2022-07-29 19:20] kuasha420 commented on #5570
QA: :heavy_check_mark:

* Went through the release testing checklist without facing any disruption.
* Did fairly extensive testing of dashboard sharing and all looks good.
* Double checked the things I was involved with.

LGTM. :+1:

[2022-07-29 19:58] aaemnnosttv opened #5628 "Upgrade legacy AdSense account and site statuses"
## Feature Description

With the new and improved AdSense v2 setup flow, we're able to display more accurate information on a user's AdSense account and site statuses. Since #5503 this has been surfaced in the settings as well.

However, users who set up AdSense before the v2 setup flow was released will still have the older statuses in the module settings which prevent us from showing more accura

[2022-07-29 20:12] aaemnnosttv commented on #5570
Thanks for flagging @techanvil – I agree this should be addressed but need not block the release here as TwG is still WIP and this only affects the bundle size for its own bundle 👍

[2022-07-29 20:34] aaemnnosttv commented on #5561
Thanks @techanvil! I had no idea soft hyphens were a thing!

I feel like the problem is rooted in showing more than 2 columns in a relatively small space. That is, if it were just Title and one more metric, it would be fine but we're cramming in a few and the column headings are hard to fit well, especially when you start considering i18n.

I'd be interested to see how feasible it would be to use

[2022-07-29 23:56] jimmymadon commented on #5570
### QA ✅

Smoke tested and performed a mini bug bash of Dashboard Sharing. LGTM.

[2022-08-01 04:37] mohitwp commented on #5570
### QA Update: ✅

- Went through our QA checklist
- Tested with AdSenseV2 enabled.
- Checked sites with zero, gathering and live data.
- Tested dashboard sharing functionality.

[2022-08-01 07:40] nfmohit commented on #5570
## Release Tested ✅

- Release tested 1.80.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.
- Double-checked the new Dashboard Sharing feature.
- Used our release testing checklist to ensure everything is checked.

[2022-08-01 09:19] nfmohit commented on #5585
Very valid suggestion. I've updated the IB. Thank you @techanvil!

[2022-08-01 10:37] wpdarren commented on #5625
@aaemnnosttv good point about non admins.

I like this idea.  For a non admin, would they still see all the messages as they do now, or, can we include a more user-friendly message for them as well?

[2022-08-01 11:10] wpdarren commented on #5507
### QA Update: ⚠️

@eugene-manuilov the stories in Storybook do not look like the FIgma design mocks.   I'm [looking at](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-reporterror--default-report-error) the `ReportError` components.   It might be because of the GM2+ styling but struggling to test based on the QAB.  Thoughts?

[2022-08-01 13:06] wpdarren commented on #5531
### QA Update: ❌

I have a few observations on TwG settings edit UI.

1.  The Publication ID field appears in settings and I can edit it.  Looking at the figma designs, this field isn't included.

![image](https://user-images.githubusercontent.com/73545194/182142600-184fbdbd-e719-4c5e-9202-c8c85fc03ab6.png)

2. When I choose the type as `fixed`,  the radio button for 'Manual'  is not clickable, bu

[2022-08-01 13:27] jimmymadon commented on #5531
Hey @wpdarren, @eugene-manuilov had originally picked this up for execution so I've assigned him for now - but let me know if I should have a look.

[2022-08-01 15:59] jamesozzie commented on #5605
[One user reported](https://wordpress.org/support/topic/site-kit-encountered-an-error-75/) that this issue no longer occurs once both their site URLs are defined as https. With [one other impacted](https://wordpress.org/support/topic/site-kit-encountered-an-error-74/) user having mismatching URLs I suspect this may also be the cause for that user, who didn't yet respond to our last query.

With on

[2022-08-01 18:06] eugene-manuilov commented on #5531
@felixarntz or @aaemnnosttv can anyone of you chime in regarding the publication ID setting on the settings form? The design mockup doesn't show it, but I assume we need this because otherwise users won't be able to change it without re-connecting the module, right?

[2022-08-01 18:08] eugene-manuilov commented on #5531
@wpdarren Matthew created a ticket for it: https://github.com/google/site-kit-wp/issues/5623

[2022-08-01 18:10] eugene-manuilov commented on #5531
Yes, I think this deviation is okay because we reused the component that we already have for roles editor in the dashboard sharing settings.

[2022-08-01 18:11] eugene-manuilov commented on #5531
Yes, the settings view is a separate ticket which is not completed yet.

[2022-08-01 18:37] eugene-manuilov commented on #5507
@wpdarren check AC it says that UI changes are out of scope for this ticket. Just new link should be added.

@kuasha420 could you please provide a more detailed QAB and maybe a snippet that can be added to the `functions.php` file to break some report requests?

[2022-08-01 18:38] aaemnnosttv commented on #5459
## Approval ⚠️

This looks good when comparing with the design, although there are a few details that are not quite right:

- The ACs call for a story that allows for the radio state to be changed but the current story has fixed/static states
- The current story raises the following console warning:

This need not block the release as this isn't used yet but should be addressed in a follow-up issu

[2022-08-01 18:38] #5459 closed

[2022-08-01 18:41] #5612 closed

[2022-08-01 18:43] #5536 closed

[2022-08-01 19:04] aaemnnosttv commented on #5625
Yes, they would still see the placeholder widgets as they do now. As for the message, how would you suggest we make that more user-friendly?

[2022-08-01 19:24] #5570 closed

[2022-08-01 22:48] tofumatt commented on #4619
Creating a custom Docker image using this `Dockerfile`:

[code]

And then building it and using that image, along with ensuring Docker for Mac could use at **least 4 CPUs** let me run the VRTs. Without upping the CPU limit to at least 4, it would hang:

<img width="1382" alt="CleanShot 2022-08-01 at 23 47 57" src="https://user-images.githubusercontent.com/90871/182258246-8f646846-398c-4a56-a388-4c

[2022-08-02 02:38] wpdarren commented on #5459
@aaemnnosttv would you like us to create a ticket for this or have you already done so?

[2022-08-02 08:33] techanvil commented on #5623
IB :white_check_mark:

[2022-08-02 09:57] eugene-manuilov commented on #5531
@wpdarren styles issues should be fixed now. Could you please take a look again?

[2022-08-02 10:08] techanvil commented on #5585
Thanks @nfmohit!

IB :white_check_mark:

[2022-08-02 11:27] wpdarren commented on #5614
@mohitwp I've not been able to recreate this.  Did you have the  `adsenseSetupV2` feature flag enabled? Also, what other settings did you have enabled related to AdSense.  Was this discovered by while completing 1.80.0 release QA and could you recreate it on future versions of Site Kit? Sorry, a few questions but we could do re-testing this I feel.

[2022-08-02 12:46] wpdarren commented on #5531
### QA Update: ❌

@eugene-manuilov I have found a few other issues when refreshing the develop branch.

1. When you select one of the image radio buttons they do not highlight.  Select `Fixed` type and the position fields do appear underneath, but the fixed type isn't highlighted. The `Overlay` type is still highlighted.

![image](https://user-images.githubusercontent.com/73545194/182377246-0d4dbb

[2022-08-02 13:53] aaemnnosttv opened #5639 "Fix propType warning on `ImageRadio` input"
## Bug Description

In #5459 we introduced a new `ImageRadio` component. As noted in https://github.com/google/site-kit-wp/issues/5459#issuecomment-1201571433 the component's stories are raising a prop type warning in the console due to being `checked` without an `onChange` handler and other missing related props.

Related to this, is a minor detail of the ACs for that issue which calls for an ins

[2022-08-02 13:54] aaemnnosttv commented on #5459
@wpdarren created 😉

[2022-08-02 14:26] wpdarren commented on #5529
### QA Update: ⚠️

@eugene-manuilov Just two observations to share.

1. When a `Fixed` type is selected, and then `Auto` position, in the settings it appears under `Prominence`  Maybe we could  change the title to `Prominence/Position` to avoid any confusion?

![image](https://user-images.githubusercontent.com/73545194/182394594-eb7ba0a1-1382-4177-b3da-f3b79bbc66f4.png)

2. When I select `Media` i

[2022-08-02 14:35] wpdarren commented on #5625
@aaemnnosttv Maybe I am getting confused with the non admin side.  I am assuming the same message appears for them if an admin has disconnected Site Kit.  If it does, I was thinking that as it is now, with the data available message all over the dashboard, it would look better with just a message at the top saying contact an admin..

[2022-08-02 14:58] aaemnnosttv commented on #5625
@wpdarren I'm not quite sure what you mean. Module recovery is triggered by something changing for an admin who is the owner of one or more currently shared modules.

It sounds like you're describing a case where all the modules a user has shared with them on the view-only dashboard are recoverable in which case they would see placeholders for everything and doesn't look great. In this case, an al

[2022-08-02 15:34] aaemnnosttv opened #5641 "Release 1.81.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-08-02 15:44] aaemnnosttv commented on #5130
@techanvil this is expected as the SK service does not invalidate any access tokens when removing access – it's essentially removing your permission to delegate access tokens to the site. So any access token the site still has will continue to work until it expires (max 1hr) after which the token refresh will fail because the service no longer has permission to delegate tokens to it.

[2022-08-02 15:49] aaemnnosttv commented on #5132
@wpdarren I think this may be expected in secondary AMP because we don't have separate toggles for controlling the web and AMP container snippets independently. Containers are web/amp-specific so toggling them both off would result in one of them not loading if indeed there was only an existing tag for one of them (we only detect a single existing tag at the moment rather than all which is a probl

[2022-08-02 15:54] aaemnnosttv commented on #5151
I agree, but I think UX is working on redesigning the layout there anyways. I think styling the heading/labels differently would be a big improvement, not just for this one instance.

The tricky thing here is that an additional control is revealed if this is toggled off so it makes more sense to have them as they are now. We probably just need better separation between groups of settings.

[2022-08-02 16:01] aaemnnosttv commented on #5169
Closing this one due to inactivity. For more timely support, please open a thread on the support form. Thank you!

[2022-08-02 16:01] #5169 closed

[2022-08-02 16:53] jamesozzie opened #5642 "For the "See full details in <modulename>", include a deep link to ensure users land on the service page with the connected Google account"
## Bug Description

Within the module specific settings screens, there are links to “See full details in <modulename>”. These links, direct users to a particular page at service level. When clicking on these links, the links don't include any Google account or email paramater. This means if a user is logged into their browser with a different Google account to that used to connect Site Kit, they m

[2022-08-02 16:53] aaemnnosttv commented on #5211
This sounds like a reasonable suggestion although it does somewhat further complicate the already-rather-complex logic we have around existing tags.

@bethanylang is this something support has found to be a common point of confusion? If not, then I'm not sure the change is worth the effort.

[2022-08-02 17:00] techanvil commented on #5627
Thanks @eugene-manuilov! I should have spotted that. I've updated the issue based on what `develop` looks like now...

[2022-08-02 17:41] aaemnnosttv commented on #5213
@asvinb I feel like this used to work as described but seems to have changed at some point. Do you know what the issue may be?

[2022-08-02 17:50] aaemnnosttv commented on #5267
Closing in favor of https://github.com/google/site-kit-wp/issues/5308

[2022-08-02 17:50] #5267 closed

[2022-08-02 17:54] aaemnnosttv commented on #5320
Closing in favor of #5471

[2022-08-02 17:54] #5320 closed

[2022-08-02 17:57] aaemnnosttv commented on #5361
Closing in favor of #5429

[2022-08-02 17:57] #5361 closed

[2022-08-02 18:47] aaemnnosttv commented on #3115
Closing as we no longer change the toggled states of snippet controls based on the presence of existing tags.

[2022-08-02 18:47] #3115 closed

[2022-08-02 18:52] aaemnnosttv commented on #2391
Closing this one as this widget is going to be entirely reworked in the near future.

[2022-08-02 18:52] #2391 closed

[2022-08-02 18:55] eugene-manuilov commented on #5529
@wpdarren this is out of scope for this ticket. I think it would be better to ask Jimmy to update it in the #5456 ticket since that ticket is responsible for the settings view portion.

Yes, that's correct. `Media` is just a label for the attachment post type.

[2022-08-02 19:10] aaemnnosttv commented on #199
This is worth revisiting again, although I think most of the legacy stuff has been removed already.

Here's a current inventory

[code]

[2022-08-02 19:16] aaemnnosttv commented on #173
@tofumatt this is an old issue but one worth revisiting soon I think since we're over the mountain of refactoring since the initial release.

Given your expertise in the area it would be good for you to take the lead in defining how we should approach this.

[2022-08-02 19:27] aaemnnosttv commented on #2988
Closing this as the issue seemed to be primarily caused by the iThemes Security plugin which has since removed the problematic functionality as of v8.0.

https://wordpress.org/plugins/better-wp-security/#developers

[2022-08-02 19:27] #2988 closed

[2022-08-02 21:26] eugene-manuilov commented on #5500
@aaemnnosttv we should also add the `title` attribute with the owner name so that users can see it when they hover over the element.

[2022-08-02 22:16] tofumatt commented on #5483
Ahhhhh, yes. Sorry about that—I think the GitHub-auto-code inclusion made it read a bit like it was a suggestion.

Thanks so much for the clarification in the IB, it reads a bit more straightforwardly now 😅

IB ✅

[2022-08-02 22:23] tofumatt commented on #5145
Thanks for the digging on this @kuasha420.

I agree, if we already have the selectors available to do this in JS, let's go for it that way.

IB ✅

[2022-08-03 08:18] makiost commented on #5521
My bad! You're correct, @wpdarren , the tour resumes at the correct spot with the correct tooltip placement. I'll update the QA brief right away!

[2022-08-03 09:13] jimmymadon commented on #5529
@wpdarren I can make this tiny change easily on the TwG Settings View page. Do we need any approval from UX or anyone on this?

[2022-08-03 10:44] mohitwp commented on #5451
### QA Update ⚠️

@eugene-manuilov @hussain-t

- If we don't enter title in widget then under block editor then support wall widget do not show any preview in block editor but in front end it show placeholder.

<details>

![image](https://user-images.githubusercontent.com/94359491/182589052-b886dbbf-81f7-4633-90e2-68b42fda89a6.png)

front end:

![image](https://user-images.githubusercontent.com/94

[2022-08-03 10:45] mohitwp commented on #5507
Hi @kuasha420 ,
When you have time can you please look into the QAB ?

[2022-08-03 11:11] mohitwp commented on #5531
@wpdarren
I was testing #5623 and while comparing I found that in figma design color of the checked radio button is different from the implemented color. I found that this PR may be addressing UI issues so raising here.

![image](https://user-images.githubusercontent.com/94359491/182593542-40eac3a1-eea4-4b52-85bc-bc29793c6c2e.png)

![image](https://user-images.githubusercontent.com/94359491/182593

[2022-08-03 11:18] wpdarren commented on #5521
### QA Update: ✅

**Verified:**

- When dismissing the feature tour and then clicking on the dashboard sharing settings icon, the feature tour appears and the tooltip is positioned correctly above the all roles field.
- Tested this on a few different screen resolutions and the tooltip always highlighted the all roles field.

![image](https://user-images.githubusercontent.com/73545194/182595256-c97

[2022-08-03 11:26] wpdarren commented on #5531
@mohitwp thanks, I will have a look at that!  Bear in mind we have implemented GM2+ styles so its possible that the figma designs are out of date, I found that a few times with these TwG tickets. Good call though, will look into that.

[2022-08-03 11:35] mohitwp commented on #5623
### QA Update ✅

Verified;

- The "Manual" option  not have a radio button next to it.
- The mouse cursor not getting change when hovering over the "Manual" text.

![image](https://user-images.githubusercontent.com/94359491/182597333-f91ec382-7f39-4804-a4ac-2a208678efd1.png)

[2022-08-03 11:45] wpdarren commented on #5531
### QA Update: ⚠️

@eugene-manuilov  point 2 in my comment above still seems to be an issue:

Previously, the 'Auto' radio button was selected by default but now nothing is defaulted.  Is this expected?

Also, @mohitwp picked up that the radio button color is not the same as the figma design (which is  #3C7251) is that because all of our other radio buttons are black within the plugin, or, has thi

[2022-08-03 12:04] wpdarren commented on #5529
@jimmymadon @eugene-manuilov thanks for the comments here.  I've had a chat on Slack and we are going to create a ticket for the title but also for the language used.  So, for now lets leave it as it is.  I'll get on with approving this ticket.

[2022-08-03 12:06] wpdarren commented on #5529
### QA Update: ✅

**Verified:**

- Checked the figma designs to my test site.
- Made sure that all of the fields displayed correctly in Site Kit settings screen.
- Checked that changing any of the controls updates the corresponding TwG settings on the client-side.
- Looked at the source code and checked the controls map to the different TwG settings as per the AC.

<details>
 <summary>Screenshots<

[2022-08-03 12:44] wpdarren commented on #5533
### QA Update: ⚠️

@hussain-t @eugene-manuilov

When I look at the source code when TwG is set up and has settings saved, I see the new prefix `ctaPlacement `and `ctaPostTypes` but I can see references to `buttonPlacement` and `buttonPostTypes`.  Is that expected?

![image](https://user-images.githubusercontent.com/73545194/182610556-e97c2f9c-352a-490d-bd63-aadf7222157e.png)
![image](https://user-

[2022-08-03 12:50] wpdarren commented on #5531
@eugene-manuilov no, this was on a test site when I first started testing this.  If this is the expected behaviour though that's fine. I will get on with approving this ticket.

[2022-08-03 13:16] eugene-manuilov commented on #5451
@mohitwp, yes, currently this is the default behaviour.

I can change it to something, but not sure which one will be better. Perhaps we should create a new ticket and ask for UX help there?

[2022-08-03 13:19] eugene-manuilov commented on #5533
@wpdarren that is probably your previous settings, so this is expected. You can check it on a brand new site, you shouldn't see them there.

Yes, let's add the `QA:Eng` label. 👍

[2022-08-03 13:21] wpdarren commented on #5531
### QA Update: ⚠️

@aaemnnosttv just confirming that the point below hasn't been answered.

This is the only point outstanding and it's ready to approve.

![image](https://user-images.githubusercontent.com/73545194/182617061-196a085a-44ba-49fb-95f2-599d6e5885a5.png)

**Verified:**

- When settings were changed and saved they remain the same when the page is refreshed.
- Checked that the changed se

[2022-08-03 13:57] wpdarren commented on #5533
### QA Update: ✅

@eugene-manuilov you're correct, didn't use a fresh site 🤦

**Verified:**

- The TwG setting buttonPlacement is renamed to ctaPlacement when looking at the TwG settings in source code.
- The TwG setting buttonPostTypes is renamed to ctaPostTypes when looking at the TwG settings in source code.
- Tested to make sure that the settings functionality works for TwG on my fresh test si

[2022-08-03 14:05] mohitwp commented on #5451
### QA Update ❌

**Issue:**

I added 3 widgets in footer. But on refreshing the page widget display behavior is changing. After refresh randomly **widgets—Placeholders** are getting hide. See video:

https://user-images.githubusercontent.com/94359491/182627908-28acd91b-d713-48af-bb19-5ec72fd2a92a.mp4

[2022-08-03 15:37] #2575 closed

[2022-08-03 15:52] jamesozzie opened #5648 "Change the wording when an existing Analytics property was found via GTM, during Analytics set up"
## Bug Description

If a user tried to connect the Analytics module, but there is already an Analytics property firing on their site via Google Tag Manager, the Analytics module will state the following:
**An existing Google Tag Manager property was found on your site with the ID UA-229****...**

This is incorrect, as it's an Analytics property that was found, not a Google Tag Manager property. Th

[2022-08-03 17:51] aaemnnosttv opened #5650 "Install the SwG client API library"
## Feature Description

Thank with Google will rely on the `subscribewithgoogle` API which will not be have its client library available via the main https://github.com/googleapis/google-api-php-client-services package until after launch. As a temporary workaround, we can generate and install the same client library bindings for PHP which we can later remove once available in the official client s

[2022-08-03 18:10] kuasha420 commented on #5507
@mohitwp I have updated the QA Brief. Cheers cc @wpdarren

[2022-08-03 18:11] tofumatt commented on #5650
Evan and I discussed this a bit offline as well; he'll handle the build so assigning it to him.

IB ✅

[2022-08-03 18:44] tofumatt commented on #4619
This is mostly ready, but any issues from CI images and the involvement of multiple developers to test on both Intel and ARM Macs means I'm putting this one at a 7.

[2022-08-03 22:01] aaemnnosttv opened #5653 "Filter publications returned by TwG datapoint"
## Feature Description

The TwG datapoint for `GET:publications` currently returns all publications a user has access to. According to the [design doc](https://docs.google.com/document/d/17ysrd8ya64T8rAgSriEo7MJxYyLf_nvm7nOn2KR248o/edit#heading=h.azdy1vcviqed), this should be filtered to a subset of publications that are relevant for the current site, but also for TwG as it can return other kinds

[2022-08-03 22:18] kuasha420 commented on #5533
### QA:Eng :heavy_check_mark:

* All the JS selectors has been correctly renamed to follow our convention.
* All the variables and functions has been renamed to the new cta prefix, both in SCSS, JS and PHP.
* All the comments and js/phpdocs are also accurate and correctly replaces button with cta.

LGTM.

[2022-08-04 10:15] techanvil commented on #5534
IB :white_check_mark:

[2022-08-04 10:47] techanvil commented on #5273
Hey @jimmymadon, the IB is looking good, but one of the sentences is incomplete:

Please could you amend it?

Also - I would consider upping the estimate to an 11, I have a feeling the date related stuff may add a bit of complexity to things, considering the testing involved (both automated and manual). Maybe I am being overly cautious but this looks like an issue that could have some hidden depth

[2022-08-04 10:58] jimmymadon commented on #5273
Thanks for the review @techanvil - I agree with upping the estimate.

[2022-08-04 11:01] techanvil commented on #5416
IB :white_check_mark:

[2022-08-04 11:02] techanvil commented on #5273
Thanks @jimmymadon!

IB :white_check_mark:

[2022-08-04 11:16] techanvil commented on #4619
IB :white_check_mark:

[2022-08-04 11:54] wpdarren commented on #5456
### QA Update: ✅

**Verified**

- The TwG SettingsView component matches the UI from the Figma design.  There are some slight style differences but reading through the comments, we want to keep the settings style the same amongst all the modules.
- In addition the data is displayed as per below:
  - `Publication ID` displays the publicationID setting value.
  - `Type` displays either "Fixed" or "O

[2022-08-04 12:55] techanvil commented on #5279
Hey @jimmymadon, you have raised an interesting point in the IB about code reuse.

On reflection, I actually think this is a case where we should go a bit further. The code to interact with the WordPress Admin Menu is quite fiddly and I think it's something that would really benefit from not duplicating at all.

Furthermore the functionality of showing a tooltip pointing to Settings (or thinking m

[2022-08-04 13:14] tofumatt opened #5655 "Update Thank with Google Logo asset"
## Feature Description

There's a new, finalised version of the Thank with Google logo, so we should update the existing logo we have with the new one in this Figma file: https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=2220%3A10295

<img width="735" alt="CleanShot 2022-08-04 at 14 13 31" src="https://user-images.githubusercontent.com/90871/182855666-825edfed-3b67-4a6b-8363-aa346c0215

[2022-08-04 13:15] wpdarren commented on #5462
### QA Update: ❌

@eugene-manuilov just one observation.

When I added the widget to all the sidebars, the settings view shows it as 'all sidebars' in lower case. The other settings are in sentence case. Wondering if we should change this to 'All sidebars' for consistency.  Just to add: if you create a custom sidebar and name it in lowercase the issue issue applies with the widget name.  Not sure

[2022-08-04 13:33] tofumatt commented on #5650
Moving directly to approval since no QA is required.

[2022-08-04 14:24] wpdarren commented on #5451
### QA Update: ❌

@eugene-manuilov while testing #5462 I discovered a few potential issues to highlight.

1. When I added the widget and then started to type the title, a lot of error messages appeared in the console.  I am assuming that this is because the API is not connected yet, but wanted to check.

![image](https://user-images.githubusercontent.com/73545194/182866652-3be206b1-a6a7-4a5f-8c01-

[2022-08-04 15:45] aaemnnosttv commented on #5531
@wpdarren @eugene-manuilov there should not be an input for the publication ID on the settings yet. The design doc states that [it will not be possible to have more than one TwG publication at first](https://docs.google.com/document/d/17ysrd8ya64T8rAgSriEo7MJxYyLf_nvm7nOn2KR248o/edit#heading=h.s41otwupop9v) so we don't need to worry about the ability to change it at this point.

AdSense is similar

[2022-08-04 16:27] techanvil commented on #5655
IB :white_check_mark:

[2022-08-04 16:58] aaemnnosttv commented on #5500
Good call @eugene-manuilov – I'll add this as well 👍

[2022-08-04 17:21] eugene-manuilov commented on #5531
@aaemnnosttv do you mind reviewing #5656?

[2022-08-04 17:25] eugene-manuilov commented on #5500
Thanks, @aaemnnosttv. IB ✔️

[2022-08-04 17:31] eugene-manuilov commented on #5451
@wpdarren

Those errors are expected at the moment and caused by the TwG script. We can't fix it.

What you see in the sidebar is controlled by the Gutenberg editor and that's how it treats classical widgets. We can't fix it.

Same, we can't fix it.

Did you search for legacy widget?

[2022-08-04 17:52] jamesozzie commented on #4837
We've had [another report](https://wordpress.org/support/topic/cannot-read-properties-of-null-after-moving-wordpress-installation/#post-15889132) of this today. The error appears directly after successfully setting up Site Kit. The dashboard appears momentarily, before the error then appears. Further details below:
- [Support topic](https://wordpress.org/support/topic/cannot-read-properties-of-nul

[2022-08-04 18:03] aaemnnosttv commented on #5531
Thanks @eugene-manuilov – back to you @wpdarren for another pass 👍

[2022-08-04 19:10] tofumatt opened #5659 "Audit and consolidate gettext/translation strings for similar translations"
We have a lot of small translation strings like “Get help”, “OK, got it!“, “Learn more” etc. throughout the codebase, but some of them have translation strings that are off-by-case, resulting in duplicate translation strings.

We should audit all existing strings, especially short strings, for duplicates/similarities and consolidate them. For instance, the "Ok, got it!" string has "duplicate" stri

[2022-08-04 22:28] tofumatt commented on #4002
Closing this issue as there hasn't been any activity in some time and there hasn't been any extra context for it.

[2022-08-04 22:28] #4002 closed

[2022-08-04 22:58] tofumatt commented on #58
I don't think this is really inline with the current goals of Site Kit, which is largely around easy setup and integration of Google products with a WordPress website. While signing in with Google is a service, it would be quite separate from the rest of Site Kit, and also require installing Site Kit to use anyway 😄

I'll close this for now as it's not on the roadmap and probably out-of-scope for

[2022-08-04 22:58] #58 closed

[2022-08-04 23:02] tofumatt commented on #4277
This is probably worth checking in with the Idea Hub API team about—I've added it to the Open Bucket call to discuss internally 🙂

[2022-08-04 23:12] tofumatt commented on #2133
My understanding is User Input is now rolled out to all users, correct?

Is there any reason to keep this feature flag around or can we move this to execution? The ACs/IB still look largely good to me, so assigning this to @felixarntz to check if it's okay to move out of stalled given the issue text.

If so we should maybe move it to IB to just double-check the IB is still relevant, given this iss

[2022-08-04 23:19] tofumatt commented on #611
To answer the questions… the benefits are partially around speed, storage size, and flexibility with backends for storage on various browsers. Additionally, localForage probably has more extensive tests than our storage code. Those would be the benefits.

But given our continued "basic" usage of `sessionStorage` and `localStorage` as an HTTP response caching layer mostly, we're probably fine to st

[2022-08-04 23:19] #611 closed

[2022-08-05 10:21] jimmymadon commented on #5279
@techanvil Great refactor - thank you! Update the IB.

[2022-08-05 11:28] wpdarren commented on #5531
### QA Update:  ✅

**Verified:**

- When settings were changed and saved they remain the same when the page is refreshed.
- Checked that the changed settings also appear correctly on the settings overview.
- Checked settings UI to the Figma designs.  Tested on desktop and mobile screen sizes.
- Verified that the storybook for the settings for reflects UI changes.
- Confirmed that the issues found

[2022-08-05 11:37] mohitwp commented on #5558
#### QA Update ✅

Verified 👍

- Verified when adsense setup v2 feature flag is enabled.
- Verified when adsense setup v2 feature flag is disabled.
- 'Get help' is showing on set up screen and on settings page.
- Link redirecting to relevant documentation in new tab.

<details>

![image](https://user-images.githubusercontent.com/94359491/183069173-e0abe933-b45f-41a2-b102-1339069c41c9.png)

![image]

[2022-08-05 11:49] wpdarren commented on #5462
### QA Update: ✅

**Verified:**

- When adding TwG widget to a sidebar, you see the sidebar name in the field for the supporter wall widget.
- When you remove all supporter wall widgets from all sidebars, the settings view now shows the link to the widgets page.
- Issue fixed from my [comment above](https://github.com/google/site-kit-wp/issues/5462#issuecomment-1205241875), the setting now appears

[2022-08-05 12:01] wpdarren commented on #5534
@aaemnnosttv please could you send me the plugin we can use for the staging proxy? Had a quick search and couldn't find anything but it has been a while.  Could you also add me to a publication for my Google account email address. Thanks!

[2022-08-05 12:21] techanvil commented on #5279
Thanks @jimmymadon!

IB :white_check_mark:

[2022-08-05 12:49] wpdarren commented on #5655
### QA Update: ✅

- The Settings > Connect More Services for the updated logo.
- The placement and size of logo in the Connected Services page as well.
- Went through all the screens when setting up TwG and confirmed that the logo appears.
- Checked logo on mobile and desktop.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/183080495-c42d3591

[2022-08-05 12:54] mohitwp commented on #5507
### QA Update ✅

- I verified error notification for both Retryable and Not-retryable errors.
- I generated 'Retryable' error through code mentioned in QAB and by using network tab.
- Verified on mobile devices.

<details>

![image](https://user-images.githubusercontent.com/94359491/183081274-b2ec6dfb-b217-460a-b03d-6ff4dc58c351.png)

![image](https://user-images.githubusercontent.com/94359491/183

[2022-08-05 13:36] wpdarren commented on #5559
### QA Update: ✅

**Verified:**

- A "Learn More" link is present after the description text.
- When clicking on the learn more link opens the [relevant documentation](https://sitekit.withgoogle.com/documentation/troubleshooting/setup/#already-configured) in a new tab.
- The stories detailed in the QAB contain the "Learn More" link.

<details>
 <summary>Screenshots</summary>

![image](https://user

[2022-08-05 13:37] #4809 closed

[2022-08-05 13:58] wpdarren opened #5661 "Add details on popup when user disconnects Thank with Google"
## Bug Description

When a user disconnects Thank with Google a popup appears asking them to confirm the disconnection.  On other modules we have a message informing the user what they will no longer have access to. To be consistent we should create a message for TwG on this popup confirmation box.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/18618be6-140a-47b4-ba6b-

[2022-08-05 17:20] jamesozzie opened #5662 "Prefix `keyframes` names to avoid global namespace conflict"
## Bug Description

As [reported by a user in the support forums ](https://wordpress.org/support/topic/poorly-defined-css-class-bleeding-into-other-elements/#post-15892150) there is no Site Kit specific prefix for the `@keyframes pulse` rule used on the Site Kit admin toolbar. This is resulting in the rule overwriting the Beaver Builder rule using the same class.

The rule can be found [here](http

[2022-08-05 17:29] eugene-manuilov commented on #5276
IB ✔️

[2022-08-05 17:38] eugene-manuilov commented on #5277
IB ✔️

[2022-08-06 11:07] jimmymadon commented on #5410
@aaemnnosttv The AC suggests rendering the `<Link>` but making it "Visually Hidden". Does this mean wrapping the entire component within the `<VisuallyHidden>` component? I feel this bug can be resolved easily if we just disable the link until the URL loads which is what I have suggested in the IB for now. In my testing, the loading is super quick on most sites. Or should we just show a loading ba

[2022-08-08 09:24] wpdarren commented on #5451
@eugene-manuilov

I searched for Google but also legacy and nothing appears.

When I use the Twenty Twenty Two theme, with full-site editing, and try and add a widget, its not appearing.  On an older theme that isn't full-site editing, the widget does appear when searching for Google.

[2022-08-08 10:02] eclarke1 commented on #5661
@aaemnnosttv Mariya is OoO all week, could anyone else contribute to progressing this one instead?

[2022-08-08 10:13] wpdarren commented on #5484
### QA Update: ⚠️

@nfmohit thanks for the QAB instructions!    I've followed them though and when I click on the sign in with Google button, this message appears rather than the expected behaviour in the QAB. 🤔

![image](https://user-images.githubusercontent.com/73545194/183395261-74f39167-5dcd-48f4-85e2-be1b5ad1a04d.png)

[2022-08-08 10:17] techanvil commented on #5429
Hi @nfmohit, a small but important detail - looking at the components mentioned in the IB, the `hasModuleAccess` prop is being explicitly checked for `=== false`, rather than just for being falsey, so this should also be the case for the new `hasModuleAccess` checks described in the IB.

Also, seeing as there are JS tests for each of the components, but presently no test for the `hasModuleAccess =

[2022-08-08 10:21] techanvil commented on #5429
Hi @jimmymadon , a small but important detail - looking at the components mentioned in the IB, the `hasModuleAccess` prop is being explicitly checked for `=== false`, rather than just for being falsey, so this should also be the case for the new `hasModuleAccess` checks described in the IB.

Also - in each case, when `hasModuleAccess` is `false`, the `properties` or `profiles` value is disregarded

[2022-08-08 10:40] wpdarren opened #5664 "Additional Permission Required pop up appearing on Thank with Google settings"
## Bug Description

Currently, when you view Thank with Google settings, the `Additional Permissions Required` popup appears. I noticed that when setting the module up, I am not asked to login to my Google account to give permission.

This seems to be due to a recent change because when testing previously, I was asked for permission.  Here's a screencast of setting up TwG and what happens when you

[2022-08-08 10:41] mohitwp commented on #5440
### QA Update ✅

Verified:

- Verified on Firefox. Chrome, Safari and edge latest versions.
- Verified for single as well as for multiple admin scenario.
- Verified on iPhone 13, iPad and Android mobile and tablet using BrowserStack.
- Keyboard navigation working as expected with the Close button coming after the roles for tab navigation.

<details>

https://user-images.githubusercontent.com/94359

[2022-08-08 11:32] jimmymadon commented on #5429
@techanvil All good points - thanks! Have updated the IB. Also, 7 hours should still be a good estimate?

[2022-08-08 12:19] techanvil commented on #5429
Thanks @jimmymadon - the wording is good, to specify checking specifically for false. However, the code example is still not actually doing that - it's only checking for a truthy value, which means a falsey value of `getModuleAccess` will still result in the `select` being called.

The reason this distinction is important is that `getModuleAccess` doesn't have a default value set, but the default

[2022-08-08 12:30] eugene-manuilov commented on #5451
@wpdarren looks like the legacy widgets component has been disabled for the new post editor intentionally, see a GH ticket for it: https://github.com/WordPress/gutenberg/issues/24900. I think we shouldn't do anything with it until we create a new block-based widget for the supporter wall (which is currently is out of scope).

If users want to use the widget with FSE themes, they will need to insta

[2022-08-08 12:33] techanvil commented on #5495
Hey @jimmymadon, the IB is looking good. A couple of minor typo-looking points -

- In the 2nd point, "Tagmanager Account" should be "Tag Manager account".
- In the 3rd point, "If the new `hasModuleAccess` prop is true" should read "If the new `hasModuleAccess` prop is false".

Also, in keeping with #5429, I would suggest:

- Add default prop value of `true` for the new `hasModuleAccess` props.
-

[2022-08-08 12:45] wpdarren commented on #5451
@eugene-manuilov @aaemnnosttv @felixarntz this could cause problems for users who have FSE themes. I feel we need to create a ticket for this. I am sure @bethanylang and her team will get support requests on this.  So, if it's out of scope then we need to prepare communication for this.

We can move this ticket forward, but I'd welcome your opinions on this.

[2022-08-08 12:53] eugene-manuilov commented on #5451
Yes, we definitely need a separate ticket for it.

[2022-08-08 12:56] jimmymadon commented on #5429
@techanvil - Sorry I missed out the "=== false" bit. (I should've copy-pasted it from my editor). As per [this comment](https://github.com/google/site-kit-wp/pull/5301#discussion_r885591865), we decided not to have a default true value to reduce the number of changes (if I remember correctly).

Returning null is fine too. In `PropertySelect`, the default value for properties was an empty array, he

[2022-08-08 12:57] eugene-manuilov commented on #5410
IB ✔️

[2022-08-08 12:59] bethanylang commented on #5451
Thanks for flagging this, @wpdarren! Agreed that we'll definitely get support topics about this and it's certainly not ideal, and we should create a block-based widget in addition to the legacy widget.

That said, given that this feature will only be available for a small subset of users for now, I'm not sure if it's a blocker for initial launch, so curious what the rest of the team thinks.

[2022-08-08 13:06] eugene-manuilov commented on #5451
This feature will be available for all users who use non-FSE themes on their sites. FSE themes are not widely spread yet, so it should be the other way around:

<i>That said, given that this feature will only be available for <del>a small</del> <b>the major</b> subset of users for now...</i>

[2022-08-08 13:17] wpdarren commented on #5451
@bethanylang thanks for the input.  I will create a ticket for this before I leave for the day.

@eugene-manuilov  one final question (I hope) Is the widget set up to only work on one widget area?  For example, if I add the widget to two widget areas in the example below, the widget outline only appears on one of the widgets. (widget 3) I'm just wanting to make sure that this isn't an issue if a u

[2022-08-08 13:20] felixarntz commented on #5628
@aaemnnosttv Is this about sites which already have AdSense connected? Since for sites that still have to go through finishing the setup, I think the statuses should update to the new ones by itself.

Regarding sites with AdSense already connected, this is a tricky one. Of course, one thing we could do is just display the corresponding _new_ "approved/ready/connected" account status and site statu

[2022-08-08 13:37] techanvil commented on #5308
IB :white_check_mark:

[2022-08-08 13:40] wpdarren commented on #5484
### QA Update: ✅

**Verified:**

- The error message should contain a Get Help link, clicking on which should open a support page in a new tab.

![image](https://user-images.githubusercontent.com/73545194/183431308-e7773af1-0995-4df8-af19-ec30746314a2.png)

[2022-08-08 13:55] bethanylang commented on #5451
@eugene-manuilov Yep, understood on the difference between FSE/non-FSE. I was referring more to the fact that this is an experimental feature and it's US only for now, as I understand it?

[2022-08-08 13:58] wpdarren opened #5665 "Legacy widget for Supporter Wall not available in FSE themes"
## Bug Description

Discovered this while testing #5451

Currently, we are using the legacy widget for Thank with Google Supporter wall.  For users who are using a Full Site Editor (FSE) theme, i.e. 2022, they will be unable to add the widget.  The widget does not appear when you try and add it to a widget area on a FSE theme.

@eugene-manuilov observed that the legacy widgets component has been d

[2022-08-08 15:31] jimmymadon commented on #5495
Thanks @techanvil - have updated the IB.

[2022-08-08 15:49] techanvil commented on #5130
Hi @aaemnnosttv, thanks for clarifying that. It's good to know this is expected behaviour on a technical level.

It still feels a bit confusing to me from a user perspective, pressing **Remove access** and then navigating back via the browser and seeing the site still active. Especially when then comparing that to pressing the **Back** CTA on the page which navigates back _and_ disconnects.

Not s

[2022-08-08 15:50] techanvil commented on #5429
Thanks @jimmymadon!

IB :white_check_mark:

[2022-08-08 16:01] felixarntz commented on #5534
@aaemnnosttv What did the response shape for the publications request look like when you tested this? I'm asking since there have been several changes in the API field names since the original definition, and everything on our end (design doc, plugin, tester plugin) currently still uses the old names. That's why I was originally intending to make this issue and its ACs also about adjusting the fie

[2022-08-08 16:05] techanvil commented on #5495
Thanks @jimmymadon!

IB :white_check_mark:

[2022-08-08 21:35] aaemnnosttv commented on #5534
@felixarntz it looks like this:

[code]

Is this the final shape? I see `state` seems to be `onboardingState`, `virtualGifts` seems to be `thankStickers`, and the whole `publicationPredicates` seems to be new. I'm guessing our endpoint would only return those that `supportsSiteKit` as well (in #5653)?

[2022-08-09 02:20] aaemnnosttv commented on #5534
## QA ⚠️

Bringing this back to fix something that was missed here which is the cause for #5664.

[2022-08-09 02:29] aaemnnosttv commented on #5664
Thanks @wpdarren – this was due to something missed in #5534, so we can address it there.

Cloing this in favor of the follow-up PR on that one.

[2022-08-09 02:29] #5664 closed

[2022-08-09 02:41] aaemnnosttv commented on #5410
@jimmymadon `VisuallyHidden` is for screen readers so that wouldn't work as was intended here. The idea was to use `visibility: hidden` to hide the link until it is ready but also to not create a shift in the process by not rendering it at all. Using `disabled` should work well here. I forgot that our `Link` component has that. Using `disabled` and removing that later is more consistent with other

[2022-08-09 03:08] aaemnnosttv commented on #5308
⚠️ while the IB appears to fulfill the AC, I don't believe the current AC will achieve the intended end result. That is, the grant-access flow we're providing a button to for the user to follow happens when the user attempts to access a specific URL for an entity that the user doesn't have access to. The `getServiceURL` selector however is not entity-specific; it's more of the homepage for the ser

[2022-08-09 03:30] aaemnnosttv commented on #5130
@techanvil I hear you, I'm just not sure what could actually be done to accomplish the same thing if a user were to navigate back rather than use the button. I feel like we're probably limited to solving this on the service side with some more clarification around what to expect.

Even the Back button will only disconnect the current site you came from (if you revoked it). Any other sites that had

[2022-08-09 07:27] felixarntz commented on #5534
@aaemnnosttv Correct, the `onboardingState` and `thankStickers` changes are the ones relevant to us. Note also that the possible values for `onboardingState` are at least partially different (what used to be `ACTIVE` is now `ONBOARDING_COMPLETE`). Any other changes shouldn't matter really because we don't use them.

We should return those that have both `supportsSiteKit` and `thankStickers` set an

[2022-08-09 07:43] felixarntz commented on #5308
@aaemnnosttv Ahh good catch, I messed up this part of the ACs, I had forgotten that `getServiceURL` returned only the overall generic URL. The URLs should indeed always be specific to the connected entity for the service. I guess we don't have any centralized selectors for that across the relevant module stores? Maybe we should introduce them using a specific name, e.g. `getServiceEntityURL`?

Rig

[2022-08-09 07:44] felixarntz commented on #5308
@aaemnnosttv Ahh good catch, I messed up this part of the ACs, I had forgotten that `getServiceURL` returned only the overall generic URL. The URLs should indeed always be specific to the connected entity for the service. I guess we don't have any centralized selectors for that across the relevant module stores? Maybe we should introduce them using a specific name, e.g. `getServiceEntityURL`?

Rig

[2022-08-09 09:09] hussain-t commented on #5484
### QA:Eng verified ✅

- The error message should contain a `Get help` link, clicking on which should open a support page in a new tab.

![Screenshot 2022-08-09 at 2 29 36 PM](https://user-images.githubusercontent.com/24408261/183610747-82eef6b4-9a3a-4e98-ad1d-c37b318ed89e.png)

- The link matches `/support/?error_id=request_to_auth_proxy_failed`.

![Screenshot 2022-08-09 at 2 29 49 PM](https://us

[2022-08-09 09:48] wpdarren commented on #5534
@aaemnnosttv I thought I would try set this up on the site you set me up a publication for, and I see an error.  This was on develop branch and on production, rather than staging. Is this expected?

`Error: The response is not a valid JSON response.`

![image](https://user-images.githubusercontent.com/73545194/183618775-23af1032-da08-4214-b1e8-72bc116c21c6.png)

[2022-08-09 10:08] nfmohit commented on #3935
### QA:Eng Verified ✅

- Ensure that E2E tests that cause errors to be raised fail accordingly and others that do not raise errors in the same run do not fail: [Test Results in PR](https://github.com/google/site-kit-wp/runs/7743294172?check_suite_focus=true#step:13:348)

[2022-08-09 10:09] eugene-manuilov commented on #5451
@wpdarren if you open the source code of the page, how many occurrences of the `<div twg-thank-wall` tag do you see there? If you see the same number of elements as you have widgets, than it works correctly, otherwise not.

Ah... yes, in this case you are correct, although I am not sure if we can consider US only users as a small subset though 😄

[2022-08-09 10:10] techanvil commented on #5278
IB :white_check_mark:

[2022-08-09 10:10] eugene-manuilov commented on #5451
@bethanylang  Ah... yes, in this case you are correct, although I am not sure if we can consider US only users as a small subset though 😄

[2022-08-09 11:09] wpdarren commented on #5451
### QA Update: ✅

**Verified:**

- When a new legacy widget is added the preview is shown for the widget when the widget loses focus.  I checked the front end and the support wall widget appears on the front end.  No design is appearing yet due to the API. The outline appears on the widget.  I checked the code that the `twg-thank-wall` appears depending on the amount of widgets are added.

![image

[2022-08-09 12:06] felixarntz opened #5669 "Update relevant TwG field names and values based on TwG API changes"
See https://github.com/google/site-kit-wp/issues/5534#issuecomment-1209013106: Since the original API definition, some fields in the API response shape have changed. The plugin implementation needs to be adjusted accordingly, mostly on the client-side.

A related more server-side focused issue is #5653.

---------------

_Do not alter or remove anything below. The following sections will be manage

[2022-08-09 12:06] eugene-manuilov commented on #5659
@tofumatt @techanvil how do we suppose to deal with duplicates? Let say we have `Get Help` and `Get help` strings, then we can use `Get help` text and `text-transform: capitalize` style for the `Get Help` case, but how about punctuations? We can't remove it from translatable strings because punctuations have different rules in different languages, thus we have to leave them in translatable strings

[2022-08-09 12:07] jamesozzie opened #5670 "Add a graph of visitors and various reporting period options to the Site Kit summary widget on the WP Admin dashboard"
## Bug Description

Consider adding the following to the Site Kit summary widget on the WP Admin dashboard.
1. A graph of visitors
2. A selective reporting period. Currently it only displays a 28 days reporting period.

This graph could be a modified version of current "All users" widget on the Site Kit dashboard, as per the image below:

<kbd>![image](https://user-images.githubusercontent.com/413

[2022-08-09 12:16] felixarntz opened #5671 "Request only TwG publications for the current verified site URL/domain"
Follow-up to #5534 (see https://github.com/google/site-kit-wp/issues/5534#issuecomment-1208313249), to address [this TODO comment](https://github.com/google/site-kit-wp/pull/5652/files#diff-f484944f8f737a196b627b845da4d99e5ebc0959adb9eb27b21fdb695b3e079eR244).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criter

[2022-08-09 12:23] felixarntz commented on #5534
@aaemnnosttv @eclarke1 Due to the API changes on the TwG side, there are now three follow-up issues for this (each rather small fortunately):
* #5653
* #5669
* #5671

The first two are ready for IB. The last one still needs ACs and is waiting as we have to double check with the TwG API team how this is supposed to work.

[2022-08-09 12:39] wpdarren commented on #5534
@felixarntz should we hang-fire testing this ticket until those tickets are merged or should I still be able to go through the QAB tasks successfully at this point?

[2022-08-09 13:15] techanvil commented on #5567
Hi @nfmohit, this is a good start, but a couple of points need to be addressed in the IB:

It looks to me like the specced `add` method is going beyond the scope of the AC. The logic that has been proposed for `add` should in fact be specced and implemented in the subsequent issue, #5568. Also, note how #5568 states:

... this implies some as yet to be determined logic for efficiently looking up t

[2022-08-09 13:32] mohitwp commented on #5481
QA Update ⚠️

@eugene-manuilov @makiost

I tried to create this scenario using dev plugin. I enter correct URL in dev plugin first and after that 'sign in with google' and done set up for site kit. Again, change custom URL under dev plugin and navigated to site kit dashboard. Here on dashboard I'm getting 'insufficient permission error' instead of 'URL mismatch notice'.
Can you please guide me how

[2022-08-09 13:51] mohitwp commented on #5485
### QA Update ⚠️

@tofumatt @eugene-manuilov

- I explore site kit dashboard and settings for 'Learn More' links and also followed this doc https://docs.google.com/spreadsheets/d/19dgLTylSt6rbBDZi5yiIYuCbuHA75KLjZMgAwlwfYBg/edit .

- I found that 2 slugs under doc are not redirects of 'Learn more' they are basically 'Get help' redirects - 'adblocker detected ' and 'url-has-changed'.

- Also, I'm n

[2022-08-09 15:31] techanvil commented on #5659
Hi @eugene-manuilov, thanks for pointing that out - definitely a good shout to expand on this.

My take on this, is the key objective is to avoid inconsistent usage of strings as they are shown to the user. So, I don't see there being a problem if there are very similar strings with different casing/punctuation as long as they are actually correct at the point of usage.

I've updated the IB with s

[2022-08-09 15:38] tofumatt commented on #5485
Do you mean the text for these URLs is "Get help" instead of "Learn more"? If so, that is fine. The URLs still work as expected, right?

For these two errors ("URL not part of this site" and "staging") I'd say this can be skipped as the process to trigger that error is very niche and the code for it is exactly the same as the rest of the changes. To be honest I'm not even sure of the exact QA step

[2022-08-09 15:41] eugene-manuilov commented on #5659
Thanks, @techanvil. IB ✔️

[2022-08-09 16:08] techanvil commented on #5653
IB :white_check_mark:

[2022-08-09 16:27] techanvil commented on #5130
@aaemnnosttv yup I can see it being problematic to get the behavioural parity between the button vs browser navigation... Probably solvable but only by modding the service and adding extra requests to validate the token(s) which would be overkill for such a niche item.

Really I'm just wondering if it matters enough to surface to the user as a piece of info...

[2022-08-09 16:51] aaemnnosttv commented on #5534
@wpdarren I've opened one more PR to fix the JSON error that happens when a user has no publications.

[2022-08-09 17:09] jimmymadon commented on #5439
@tofumatt @eugene-manuilov When I follow the steps in the issue, after clicking "Disconnect", I am taken to a variant of the SiteKit splash page - so something has changed since this issue has created. Is this good enough?

Of course, if the admin navigates away from the splash page and tries to access the SiteKit dashboard again, he sees the 'Shared Dashboard' as the `shared_dashboard_splash` ite

[2022-08-09 17:54] tofumatt commented on #5620
ACs look good; moving this to IB. 👍🏻

[2022-08-09 18:21] tofumatt commented on #5621
@techanvil Shouldn't the URL used be `select( CORE_SITE ).getDocumentationLinkURL( 'ga4' )`?

It looks like maybe this URL was used before the issue to consolidate the help links was merged.

Otherwise this looks good; if that's the only change needed feel free to update the URL required to just be `select( CORE_SITE ).getDocumentationLinkURL( 'ga4' )` and then move this to IB 🙂

[2022-08-09 19:13] aaemnnosttv commented on #5534
@wpdarren should be good to go now 👍

[2022-08-09 20:46] eugene-manuilov commented on #5439
@jimmymadon in my opinion what you see is the correct behaviour because the second admin has disconnected.

@aaemnnosttv could you please confirm that what we have now is the correct behaviour?

[2022-08-09 20:52] eugene-manuilov commented on #5481
@mohitwp I think the easiest way to replicate this scenario is to create a multisite instance with subdirectories. Such setup will allow you to create a subsite with a subfolder URL that you can change as you want on the general settings page. Just do something like this:

1. Create a new site.
1. Activate the multisite mode and configure it to be subdirectories.
1. Create a new subsite.
1. Instal

[2022-08-09 21:09] eugene-manuilov commented on #5669
IB ✔️

[2022-08-10 00:13] jimmymadon commented on #5429
@techanvil I had a quick chat with @aaemnnosttv who reminded me that we didn't default `hasModuleAccess` to be `true` because, as we know, when the `hasModuleAccess` selector in the parent component hasn't been resolved, this prop would be passed down as `undefined`, which does not technically equate to `true`. The fact that we currently treat `undefined` and `true` the same way in these child com

[2022-08-10 04:16] wpdarren commented on #5270
### QA Update: ✅

**Verified:**

- The GA4 Activation Banner is displayed on the Dashboard when the `ga4ActivationBanner` feature flag is enabled.
Stubs should be created for each top-level component:
  - Reminder Component.
  - Setup Component.
  - Success Component.

- Only one of these components is shown at a time and they are step through in the order listed, with the Reminder Component being

[2022-08-10 07:46] nfmohit commented on #5445
@tofumatt I've updated the IB and the PoC PR to reflect on the suggestions. In order to not over-crowd `assets/js/components/dashboard-sharing/DashboardSharingSettingsButton.js`, I decided to create a new component `DashboardSharingDialog` which would contain `SharingSettings` and `ResetSharingSettings`. It involves a fair bit of restructuring but I think it makes things more organised and readabl

[2022-08-10 09:46] wpdarren commented on #5534
### QA Update: ⚠️

@aaemnnosttv I'm not getting the API error anymore but here is the behaviour I am seeing.  With no `Google publication status` set in the tester plugin, the `Create your Thank with Google account` splash screen appears. When I click on the 'Create account' button I am redirected to the Publisher Center.   I can see my publication there:

![image](https://user-images.githubuserco

[2022-08-10 09:46] techanvil commented on #5429
@jimmymadon @aaemnnosttv thanks for the explanation here, I guess it does make sense to leave it without the default then...

[2022-08-10 10:01] nfmohit commented on #5567
Thank you for the kind and valid review @techanvil. Updated  the IB and PoC PR.

[2022-08-10 10:31] mohitwp commented on #5482
### QA Update ⚠️

@hussain-t I followed QAB and tried to regenerate error. But I'm not getting any error screen. I reset the plugin waited for 5 mins . But no error page is getting displayed. I'm able to sign in successfully. Tested on old and new website.

![image](https://user-images.githubusercontent.com/94359491/183880330-8e7b014d-2570-42e2-8f02-1280ec973576.png)

[2022-08-10 10:34] eugene-manuilov commented on #5444
@nfmohit, please, avoid using the PR as IB approach, this is strongly discouraged because time spent on actual execution for your PoC hasn't been allocated for this ticket yet. Try to describe steps that are needed without coding, if something is not clear or needs discovery, then just mention it in IB.

We also need to display an arrow that will point to the target element. There is an example in

[2022-08-10 10:39] hussain-t commented on #5482
@mohitwp, are you using the `Twenty Twenty` theme?

[2022-08-10 11:08] techanvil commented on #5567
Thanks @nfmohit!

IB :white_check_mark:

[2022-08-10 11:24] techanvil commented on #5621
Thanks @tofumatt, good shout. I've updated the AC to mention the selector :+1:

[2022-08-10 11:25] hussain-t commented on #5482
@mohitwp, I can reproduce it in a site created with InstaWP. Let me know if you want the site URL and the credentials.

[2022-08-10 12:44] eugene-manuilov commented on #5620
@techanvil, modules like AdSense and TwG show different setup flows based on some parameters, which will be impossible to reproduce if we show to users just the settings edit form. How is it supposed to work? Perhaps we should just redirect users to the setup page if they click on that button?

cc @felixarntz @aaemnnosttv

[2022-08-10 12:49] techanvil opened #5673 "Add the GA4 Activation Banner to the Entity Dashboard"
## Feature Description

Show the GA4 Activation Banner on the Entity Dashboard.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The GA4 Activation Banner should be included on the Entity Dashboard, when the `ga4ActivationBanner` feature flag is enabled.

## Implementation Brief

- In `assets/js/compone

[2022-08-10 12:56] eugene-manuilov commented on #5541
IB ✔️

[2022-08-10 13:47] mohitwp commented on #5482
### QA Update ✅

@hussain-t I'm able to reproduce it using instawp.

- Error screen have 'Get Help' Link.
- Link slug is {proxy}/support/?error_id=nonce_expired
- Link leads user to [support link](https://sitekit.withgoogle.com/documentation/troubleshooting/setup/#link-expired)

- Also, verified reset and sign in functionality without token expiration snippet. It is working as expected.

![image](

[2022-08-10 14:25] aaemnnosttv commented on #5673
@techanvil I've tweaked the language to hopefully avoid misinterpretation that the banner should be displayed/visible when the feature flag is enabled as it has its own logic for determining that as well which is still relevant of course.

[2022-08-10 15:02] techanvil commented on #5673
Good shout @aaemnnosttv, thanks!

[2022-08-10 15:27] tofumatt commented on #5271
I think that last phrasing is probably fine. My preference is to integrate it into the existing `Button` component because this would be a feature that would be useful for many buttons that cause a blocking/loading state. But if—in practice—that complicates the component too much then I'm fine if we don't.

[2022-08-10 16:38] techanvil commented on #5620
@eugene-manuilov, thanks for raising this - it's a really good point.

I had forgotten that the _edit_ versions of the expanded sections for modules which are not yet setup are functionally limited and just include a link to the setup page rather than an embedded setup UI. In other words they tend to look like this:

![image](https://user-images.githubusercontent.com/18395600/183962720-ff39c188-64

[2022-08-10 16:48] nfmohit commented on #5444
@eugene-manuilov Thank you very much for the kind and detailed IBR!

Noted, I'll keep that in mind and not add it in future unless absolutely necessary. Thanks!

Added, thank you!

[2022-08-10 16:59] eugene-manuilov commented on #5444
Thanks, @nfmohit. IB ✔️

[2022-08-10 17:23] eugene-manuilov commented on #5271
@techanvil do we really need to control the spinner via a property? I have added IB that explains how we can do it internally within the new component. Does it sound good to you?

[2022-08-10 17:49] aaemnnosttv commented on #5574
@felixarntz flagging here that this is blocked until the `v1beta` classes are published in the client services libraries. See https://github.com/googleapis/google-api-php-client-services/tree/main/src/GoogleAnalyticsAdmin

[2022-08-10 18:19] aaemnnosttv commented on #5534
@wpdarren this is likely due to the scopes already granted – you can check this in Site Health:

![image](https://user-images.githubusercontent.com/1621608/183986275-4bc3b6a0-ef17-473d-b79b-c91da6602950.png)

If TwG was already active when you signed in then you would have granted these at that time. If that's not the case then maybe you're not on the most recent version?

I double checked this lo

[2022-08-10 18:53] aaemnnosttv commented on #5378
@eugene-manuilov I still see this all the time, do you not see it? 🤔

[2022-08-10 21:55] aaemnnosttv opened #5674 "Enhance client-side error handling for missing dependencies"
## Feature Description

Site Kit has a number of issues open, some of them quite long-lived which all have similar (but often slightly different) errors:

- #4449
- #4767
- [Related support topics](https://wordpress.org/search/mapselect+intext%3A%22Plugin%3A+Site+Kit+by+Google+-+Analytics%2C+Search+Console%2C+AdSense%2C+Speed%22/)

These almost all are due to problems related to one or more of Sit

[2022-08-10 22:10] aaemnnosttv commented on #5308
That sounds good, but seeing as we haven't had a need for it just yet, maybe we should make the selector specific to the action rather than something generic? I.e. `getServiceRequestEntityAccessURL` or something like that – could point to whatever the URL is that would prompt for access if the user didn't have it, and that's all it would be used for. Also, we could treat the presence of the select

[2022-08-10 22:19] nfmohit commented on #5673
@techanvil I believe including the GA4 Activation Banner to the Main Dashboard has been already done at #5270. Do we need to update the ACs?

I have added the IB for the Entity Dashboard.

[2022-08-10 22:31] aaemnnosttv commented on #5628
@felixarntz, yes this is about updating saved v1 statuses in the AdSense settings. Not sure if sites that aren't connected yet would benefit from this or not but connected sites would primarily benefit since these would have been set up (potentially years ago) and then not touched.

I wasn't thinking we'd do anything in response to report data. Instead, I think we could do the migration on-the-fly

[2022-08-11 02:54] wpdarren commented on #5534
### QA Update: ✅

@aaemnnosttv thank you for the additional information!

**Verified:**

- When activating TwG prompts appear to grant additional scopes
- No additional permissions modal pop-up for it afterwards giving permission.
- Setting up the TwG module, observed the request for publications
- Looking at the nwtwork tab within console, I see real publication from the API

![image](https://use

[2022-08-11 04:28] mohitwp commented on #5485
Yes, these 'get help' links also working as expected.

[2022-08-11 04:37] mohitwp commented on #5485
### QA Update ✅

- I explore site kit dashboard and settings for 'Learn More' links and also followed this doc for https://docs.google.com/spreadsheets/d/19dgLTylSt6rbBDZi5yiIYuCbuHA75KLjZMgAwlwfYBg/edit

-  Learn more links now pointing to `https://sitekit.withgoogle.com/support?doc=`

- All links are also redirecting to correct support document.

<details>

Idea hub:

![image](https://user-image

[2022-08-11 07:23] felixarntz commented on #5308
@aaemnnosttv SGTM, I've updated the ACs accordingly. I shortened it a bit to just `getServiceEntityAccessURL` though. Note that this is actually only relevant for Analytics and Search Console, so with the new selector that part is also improved and we don't unnecessarily add these buttons for services where it doesn't make sense.

@jimmymadon @techanvil This should be ready to iterate on the IB ba

[2022-08-11 07:30] felixarntz commented on #5628
@aaemnnosttv For not connected sites that still have to go through module setup, this is no problem anyway as the new status will be detected as soon as they open the module setup again. So migration is only relevant for sites where AdSense is already connected.

However, the problem is that the v1 "connected" statuses for the account and site are too generic and inaccurate to map 1:1 to a v2 stat

[2022-08-11 08:19] eclarke1 commented on #5627
@felixarntz @techanvil just moved this over to the AC column and added a P0 label as my understanding is this may not block bug bash, but is something we would like to address for launch. If you agree with this, please could we add ACs?

[2022-08-11 08:43] techanvil commented on #5673
Thanks @nfmohit, not sure how I missed that. I've updated the rest of the issue accordingly. Cheers!

[2022-08-11 09:22] nfmohit commented on #5673
Thank you @techanvil!

[2022-08-11 12:49] eugene-manuilov commented on #5463
IB ✔️

[2022-08-11 12:49] eugene-manuilov commented on #5463
@makiost could you please add an estimate to this ticket?

[2022-08-11 12:52] makiost commented on #5463
Set it as a generous 7, as there are over 100 file matches to review. 👍

[2022-08-11 12:55] eugene-manuilov commented on #5673
IB ✔️

[2022-08-11 14:21] eugene-manuilov commented on #5483
@tofumatt, I have a question for you: https://github.com/google/site-kit-wp/pull/5660#discussion_r943489714, do you mind looking at it?

[2022-08-11 15:17] techanvil opened #5678 "Remove no longer used ActivateModuleCTA and CompleteModuleActivationCTA components"
## Feature Description

Following on from https://github.com/google/site-kit-wp/issues/5148, the `ActivateModuleCTA` and `CompleteModuleActivationCTA` components are no longer in active use and can be removed.

---

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

- Confirm that `ActivateModuleCTA` and `CompleteModuleActiv

[2022-08-11 15:40] techanvil commented on #5271
Hi @eugene-manuilov, that sounds fine to me and it would be compatible with the specced out usage of it in https://github.com/google/site-kit-wp/issues/5277, so I am happy to give this IB a `:white_check_mark:`.

I guess if we _do_ find a need for a more declarative API then we can always add a `loading` prop in future which could override the internal `processing` state when set (or something alo

[2022-08-11 16:34] felixarntz opened #5679 "Avoid too large TwG SVGs from being part of the ZIP file"
See #5627: There are a few way too large SVGs in the plugin now from TwG. While TwG is behind a feature flag right now, the files of course are already in the plugin and are imported in the TwG bundle, which more than doubles the ZIP file size (~3.9MB --> ~7.9MB).

While #5627 is focused on getting more optimized versions of these SVGs and incorporating them into the plugin, we should remove the c

[2022-08-11 16:36] felixarntz commented on #5627
Update: While we will follow up separately on optimizing these images, they already have a negative impact right now even with TwG unreleased, as they blow up the plugin ZIP file size. I have opened #5679 as a high priority issue to just temporarily remove them so that this is fixed for next Monday's release.

We will need to follow up internally to get optimized versions of these SVGs, and after

[2022-08-11 17:18] techanvil commented on #5627
Regarding the optimized versions, I have reached out to Seba and Sigal on the UX Slack channel as these images appear to have been extracted from the TwG Figma file, so hopefully one of them will be in a position to provide optimized versions.

[2022-08-11 18:45] #5534 closed

[2022-08-11 18:47] #5485 closed

[2022-08-11 18:49] #5481 closed

[2022-08-11 18:52] felixarntz commented on #5482
@hussain-t @mohitwp Not necessarily a blocker to approving this, but looking at the above screenshot in https://github.com/google/site-kit-wp/issues/5482#issuecomment-1210699354, the UI for this looks a bit strange because, other than in most other places with "Get help" links, here the link immediately follows a completely similarly looking link.

I would suggest we move the "Get help" link for t

[2022-08-11 18:53] #5451 closed

[2022-08-11 18:53] #3935 closed

[2022-08-11 18:53] #5440 closed

[2022-08-11 18:58] felixarntz commented on #5484
@nfmohit @techanvil Not a blocker, but I found one minor caveat in https://github.com/google/site-kit-wp/pull/5635#pullrequestreview-1070206745. If you find a few minutes to address this in a PR against `main`, that'd be perfect.

[2022-08-11 18:59] #5559 closed

[2022-08-11 19:00] #5507 closed

[2022-08-11 19:01] #5655 closed

[2022-08-11 19:02] nfmohit commented on #5484
@felixarntz On it now. Thank you for pointing it out!

[2022-08-11 19:04] #5462 closed

[2022-08-11 19:09] felixarntz commented on #5531
@wpdarren @eugene-manuilov One small piece that doesn't look optimal here and also in that differs from Figma is that the Prominence preview graphic boxes differ in height, which looks odd on desktop.
<img width="654" alt="Screen Shot 2022-08-11 at 9 07 08 PM" src="https://user-images.githubusercontent.com/3531426/184220081-7c8a4233-6511-4265-80ea-3a7a643772dc.png">

Fixing this right now is not s

[2022-08-11 19:10] #5650 closed

[2022-08-11 19:11] #5456 closed

[2022-08-11 19:12] #5533 closed

[2022-08-11 19:13] #5529 closed

[2022-08-11 19:17] felixarntz commented on #5623
@tofumatt Just seeing this now. I tend to agree with your idea, however one could also argue that "Manual" _is_ an option, which triggers three "sub options" to become relevant.

I am not sure about the change here since it looks odd, even if it might also make sense. I'm not sure whether any consultation with UX happened in regards to this problem, but in cases like this, where we clearly diverge

[2022-08-11 19:20] #5521 closed

[2022-08-11 19:20] #5270 closed

[2022-08-11 19:43] aaemnnosttv commented on #5623
@felixarntz just seeing this now as well. "Manual" looks odd as a standalone, but it also looks odd as only a group of choices.

I would suggest one of the following:
- Keep as designed with _Manual_ as a top-level choice, but one that has the sub-choice pre-selected as having blank selections for that group looks strange. These could be hidden or maybe disabled until _Manual_ is selected, at whic

[2022-08-11 19:49] eugene-manuilov commented on #5484
@felixarntz #5681 PR has been merged into `main`. Moving this ticket back into Approval, since it has already been QA-ed.

[2022-08-11 20:10] aaemnnosttv commented on #5679
IB ✅

[2022-08-11 21:06] #5484 closed

[2022-08-12 06:08] wpdarren commented on #5679
### QA Update: ✅

**Verified:**

- I am labelling this as `QA:Eng` as per the QAB, but I have just generated the zip file [from main](https://github.com/google/site-kit-wp/wiki/refs/heads/main/google-site-kit.zip) and it's 3MB.

[2022-08-12 06:26] wpdarren commented on #5531
@felixarntz @eugene-manuilov thanks for highlighting this!  Would be good to fix. I just noticed that the square borders on the colors too, is this a recent change because previously the borders were circle. Something seems amiss with the styling? We had an issue previously with the styling so unsure if its linked.

![image](https://user-images.githubusercontent.com/73545194/184296783-1a1e728f-f0e

[2022-08-12 08:33] techanvil commented on #5678
@aaemnnosttv I have added this issue along with the AC, please could you take a look?

[2022-08-12 08:37] nfmohit commented on #5679
### QA Verified ✅

![image](https://user-images.githubusercontent.com/20284937/184317298-ccd3daa5-f8fd-48f9-9042-cb77158bed2a.png)

![image](https://user-images.githubusercontent.com/20284937/184317432-6ed84b8f-2d4b-4a1a-8ed6-2acadf002cd6.png)

[2022-08-12 09:08] tofumatt commented on #5623
@felixarntz Manual being an option that gets selected with sub-options could work, though with the space and as few options as we have, arguably too many extra clicks when selecting. Or it would auto-select the first one, which might cause users to skip over the "sub-option".

Evan's proposed solution seems the best to me, and while there's a bit of visual/content repetition (the "manual" prefix e

[2022-08-12 09:37] tofumatt opened #5683 ""Flatten" options for Thank with Google placement options in settings"
## Feature Description

Follow-up to #5623; the [original Figma mocks showed a Manual placement option with sub-options](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=1205%3A7472). But when implemented the manual button did nothing, so as a follow-up I proposed changing it to a heading but keeping it inline with the mocks otherwise.

As pointed out by @felixarntz here: https://gith

[2022-08-12 09:38] tofumatt commented on #5623
I've filed #5683 as a follow-up issue to discuss the "flat" approach with UX and make the relevant changes. 👍🏻

[2022-08-12 10:05] eclarke1 commented on #5661
@marrrmarrr as quickly as possible w/c Aug 15 when you're back, could we kindly ask you to add ACs here so we can aim to get this issue into Approval by Aug 19 ahead of bug bash. Thank you

[2022-08-12 11:10] #5623 closed

[2022-08-12 11:26] techanvil commented on #5641
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing.

[2022-08-12 11:30] wpdarren commented on #5641
### QA Update: ✅

- Went through the QA checklist
- Tested Dashboard Sharing feature
- Tested with a site with zero, gathering and live data states

[2022-08-12 12:40] eugene-manuilov commented on #5620
Thanks, @techanvil, but after reviewing IB for #5621 it turns out that things are more complicated than I thought at the beginning... Redirecting users to the setup page is the default behaviour for that button, but we need to allow modules to override it because for the Analytics module we need a special behaviour that will open the settings edit form and point the user to the GA4 property dropdo

[2022-08-12 13:15] eugene-manuilov commented on #5535
IB ✔️

[2022-08-12 14:20] jimmymadon commented on #5378
The summary of all options is given in this [comment](https://github.com/mui/material-ui/issues/13394#issuecomment-776862251).

Bumping the estimate to 7 just for testing this change properly as it is a `<Root>` component change which I am not usually comfortable with. But the only other option is to upgrade to MUI 5.

[2022-08-12 17:03] aaemnnosttv commented on #5678
@techanvil this could probably be done in #5148 as well if this is where the last remaining usage is for those as that issue is also about removing unused code. We can follow up with this one if needed but seems potentially unnecessary. Otherwise, this LGTM, we'd just want to mark 5148 as a dependency.

[2022-08-12 17:10] aaemnnosttv commented on #5620
@eugene-manuilov I'm not sure we need to allow modules to override this. I feel like we could update the setup UI to highlight the GA4 field if GA4 isn't connected yet without requiring more substantial changes here. In this case, we could use the same criteria to determine if that should be done (UA connected, and GA4 not).  This could be a separate issue to implement where we further define what

[2022-08-12 17:19] aaemnnosttv commented on #5378
@jimmymadon is there a reason we're not already using v5? It's been released for a while now (Sept 2021), with many releases since then. I'm guessing there's probably a reason but let's rule out this option before we go with your proposed solution to use the unstable API workaround.

cc: @asvinb as I think you were the one to pull in this library as part of the work on GM2+?

[2022-08-12 17:23] eugene-manuilov commented on #5620
@aaemnnosttv I think in this case it's necessary if we want to keep our settings API consistent. We had an edge case for AdSense and we added the ability to define the `SettingsSetupIncompleteComponent` property/component on per-module basis, now we have an edge case for GA4 set up and we need to use the similar approach to resolve it.

[2022-08-12 17:51] aaemnnosttv commented on #5620
@eugene-manuilov I think there is some confusion about what the intended outcome is due to some of the changes that have happened in the definition here. This issue was originally about adding the button to open the module settings in edit mode but we have since refined that to point to the module setup as a more appropriate destination.

The ACs for #5621 however still reference opening the modul

[2022-08-12 19:16] eugene-manuilov commented on #5620
@aaemnnosttv ok, i am fine with this if we update ACs for #5621. Do we need to update design mocks in Figma as well? Darren will compare the behaviour in the plugin with what we have in Figma and will raise an error.

Will move this ticket back into IB and assign to Hussain.

[2022-08-12 20:24] aaemnnosttv commented on #5505
@techanvil this is probably what you meant, but right now it reads a bit like the change is coupled to both modules in a recoverable state when it really applies to both independently. Let's reword it to be more clear about this, then it should be good to go 👍

[2022-08-12 20:41] aaemnnosttv commented on #5620
Yes, good call. Let's first confirm this change with UX, and then we can have the design updated to reflect this. The added callout may not even be necessary if setting up GA4 is a requirement for completing setup as it should be.

[2022-08-12 20:48] nfmohit commented on #5641
## Release Tested ✅

- Release tested 1.81.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.
- Double-checked with new Dashboard Sharing.
- Used our release testing checklist to ensure everything is checked.

[2022-08-12 20:56] aaemnnosttv commented on #5496
@felixarntz do you feel UX input is needed here?

[2022-08-12 21:49] aaemnnosttv commented on #4628
Moving this forward for now, we can tweak the language before it moves into execution as the IB shouldn't duplicate that anyways.

[2022-08-12 22:54] aaemnnosttv commented on #4926
@felixarntz does the 2nd point of the AC sound good to you? I noticed the only place we delete this is in `Authentication::inline_js_base_data` which seems incorrect if the token was set successfully before this were to happen.

[2022-08-14 08:45] eugene-manuilov commented on #5671
@nfmohit instead of opening the `get_property_id` method in the SC module, we should use a new filter in the `GET:publications` handler that will allow us to use a hook in the SC class to add constrains to the listPublications params. In this case, we will avoid a need to directly access the SC class in the TwG module thus avoid though coupling there.

[2022-08-14 20:18] kuasha420 commented on #5641
QA: :heavy_check_mark:

* Went through the release testing checklist without facing any disruption.
* Did some ad-hoc testing on both local and an instawp site.
* Did some Dashboard Sharing QA as well and all looks good.
* Double checked the things I was involved with.

LGTM. :+1:

[2022-08-14 21:21] makiost commented on #5641
# Release test ✅

* Checked all changes I've been involved with
* Smoke tested
* Verified the UI and checked for errors & warnings in the console

[2022-08-15 05:10] hussain-t commented on #5641
## QA Verified :white_check_mark:

- Smoke tested :white_check_mark:
- Verified the changes I’ve been involved with :white_check_mark:
- Performed some ad-hoc testing :white_check_mark:

[2022-08-15 05:43] mohitwp commented on #5641
### QA Update: ✅

- Went through the QA checklist
- Tested Dashboard Sharing feature
- Tested with a site with zero, gathering and live data states.
- Also, verified Notifications MVP - 'Learn more' and 'get help' links.

[2022-08-15 09:42] techanvil commented on #5627
@felixarntz @aaemnnosttv Seba has provided the optimized versions of these, I've created a draft PR with them included in it and updated the AC.

[2022-08-15 09:50] wpdarren opened #5689 "UX/UI issues discovered on Thank with Google module"
## Bug Description

While running through my test plan for Thank with Google, I noticed a number of styling / missing images from the module that were not appearing when we initially completed the QA. These will be brought up at the bug bash so ideally, it would be good to get these fixed and not have them as known issues.

<details>
	<summary>Non-issues</summary>

1.  The background colour of the

[2022-08-15 09:51] marrrmarrr commented on #5661
@aaemnnosttv @eclarke1 updated! LMK if you need any more context here

[2022-08-15 09:54] eclarke1 commented on #5661
Thanks so much @marrrmarrr I will move this over to IB now as we want to get it into Approval by Friday this week.

[2022-08-15 10:13] wpdarren commented on #5669
I have added the `QA:Eng` label to this ticket as per the QAB, but if it is felt that we can test any part of this please provide instructions and I'm happy to take a look at it.

[2022-08-15 10:19] techanvil commented on #5308
IB :white_check_mark:

[2022-08-15 10:24] techanvil commented on #5673
@makiost I tweaked the QAB to explicitly mention the entity dashboard rather than just the dashboard.

[2022-08-15 10:25] tofumatt commented on #5683
Seba from UX said the proposed changes here look good, so we have [UX sign-off](https://10up.slack.com/archives/C01CA828ZPZ/p1660477221240489?thread_ts=1660245580.865939&cid=C01CA828ZPZ).

@felixarntz I think we can move this to IB given UX approval; if you think so too feel free to move this to IB and assign me (since I have a proof-of-concept already mocked up).

[2022-08-15 10:48] eclarke1 commented on #5689
Added P1 label as a nice to have for bug bash.

[2022-08-15 11:57] wpdarren commented on #5275
### QA Update: ❌

@nfmohit I have a few observations:

1. `No existing Google Analytics 4 property found, Site Kit will help you create a new one and insert it on your site` The font size of the title is 20px on figma design but 28px on my test site.

2. `You can always add/edit this in the Site Kit Settings.` The font size of the text is 16px on the figma but 14px on my test site.

This applies t

[2022-08-15 12:02] jamesozzie opened #5690 "Stacked Header Notices"
## Bug Description

Similar to https://github.com/google/site-kit-wp/issues/4689 it's possible to encounter stacked noticed at present.

![image](https://user-images.githubusercontent.com/41326532/184629692-64651a7d-f045-45dd-8815-29a9e33ffcc4.png)

## Steps to reproduce

It's possible to recreate this in the following scenarious

**If the initial notice is not dismissed**

1. Set up Site Kit (wit

[2022-08-15 13:45] aaemnnosttv commented on #5689
Thanks @wpdarren

Regarding #1 – this is intentional and part of the design for the ["Pending Approval" step in Figma](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=1781%3A11338).

As for #4 – is this still a problem with other browsers for the other elements you mentioned or we were able to fix it? It's not ideal but I feel like this should be doable in Safari as well. Definitely

[2022-08-15 13:48] felixarntz commented on #5683
Thanks @tofumatt, LGTM!

[2022-08-15 14:00] techanvil commented on #5627
Thanks @felixarntz!

[2022-08-15 15:07] tofumatt commented on #4277
For some extra context after speaking with @marrrmarrr: this is very likely still a planned feature _but_ is likely at least a year away while the Idea Hub team focuses on internal API improvements and other features.

Let's leave this in stalled because this is still planned and a desired feature.

**But it's worth noting this should likely not be re-raised with the Idea Hub team until Q3 2023.**

[2022-08-15 15:13] jamesozzie opened #5691 "Incorrect locale information provided"
## Bug Description

[One user](https://wordpress.org/support/topic/incorrect-locale-information-provided-2/#post-15914415) is encountering a dashboard error, which appears each time the Site Kit dashboard is access. This is a first time Site Kit install, and their site language is set to en_US without any obvious cause.

[code]

We did have an issue based on the same error previously, https://gith

[2022-08-15 15:51] aaemnnosttv commented on #5482
@felixarntz thinking about this again, do we need a get help link for an expired nonce? In this situation I think "try again" is the only direction the user needs is it not?

[2022-08-15 15:57] felixarntz commented on #5482
@aaemnnosttv I think the same as for widget errors applies here. It could be that the retry doesn't solve the problem. So at that point we should provide a link to get help.

Maybe we could even use the same format, like: `<a>Please try again.</a> Retry didn't work? <a>Get help</a>`

[2022-08-15 17:03] aaemnnosttv commented on #5627
## QA:Eng ✅

- Inspected size of production zip: 3.1MB (see https://github.com/google/site-kit-wp/actions/runs/2861200864)
- <details><summary>JS file sizes for production build</summary>

[code]

	</details>

[2022-08-15 18:06] #5679 closed

[2022-08-15 18:11] aaemnnosttv commented on #5482
@felixarntz in this specific instance, I think retrying would be guaranteed to at least produce a different error if it didn't work since trying again should produce a fresh nonce.

[2022-08-15 18:15] #5558 closed

[2022-08-15 18:29] aaemnnosttv commented on #5531
@felixarntz the visual difference in height seems to have been fixed in develop with the update to the images
<img width="609" alt="image" src="https://user-images.githubusercontent.com/1621608/184693623-b5479254-7dbe-449f-a210-1aec1ed80d49.png">

There is however a very minor shift that happens though when switching between selected choices here.

I think we can address the remaining touch-up her

[2022-08-15 18:29] #5531 closed

[2022-08-15 18:47] eugene-manuilov commented on #5661
IB ✔️

[2022-08-15 18:54] bethanylang opened #5693 "Improve UX for AdSense setup incomplete module message in Settings"
## Feature Description

As discussed in our August 15 meeting, currently, when a user sets up AdSense in Site Kit but there is still an issue on the AdSense side that is keeping ads from displaying, the following message displays in Site Kit > Settings > Connected Services:

<img width="862" alt="image" src="https://user-images.githubusercontent.com/12189958/184670506-b188dd46-5700-4845-9510-f48a9

[2022-08-15 18:58] aaemnnosttv commented on #4628
@bethanylang this would fall under the other the same kind of warnings that are shown in the "Your site may not be ready for Site Kit" setup checks. I'm not sure if we would need a new guide or not, but we should be able to link to the error and update the guide/doc for it independently 🙂

Would you please share the related docs we have now?

[2022-08-15 19:15] #5641 closed

[2022-08-15 19:48] eugene-manuilov commented on #5639
@hussain-t, do you still see warnings for the ImageRadio story? Seems to be good to me: https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global--image-radios

[2022-08-15 19:53] aaemnnosttv opened #5694 "TwG init JS breaks with older browsers"
## Bug Description

The init snippet for TwG currently uses an arrow function which will throw a syntax error on older browsers.

## Steps to reproduce

1. Connect TwG
2. Load a page/post enabled with TwG using IE 11
3. See syntax error

## Screenshots

![image](https://user-images.githubusercontent.com/1621608/184707017-063aa99a-8b16-40cb-ae56-fb9c7831a182.png)

Note `Promise` is also not availab

[2022-08-15 19:59] eugene-manuilov commented on #5648
IB ✔️

[2022-08-15 20:43] bethanylang opened #5695 "Add Site Health check for source code/tag status"
## Feature Description

The support team regularly gets topics from users who are confused about why a particular module in Site Kit isn't working. One of the first things that they often ask is if Site Kit is properly "connected," e.g. if the necessary code snippet was properly added. As a result, the support team spends a lot of time verifying source code placement on each site and letting the u

[2022-08-15 21:04] aaemnnosttv commented on #5694
Note `thank.js` doesn't support IE 11, but this is probably worth doing to avoid errors raised unnecessarily and implicating Site Kit.

[2022-08-16 08:36] hussain-t commented on #5639
@eugene-manuilov, could you check it on your local? I don't think PropTypes warnings are visible on the hosted one.

<img width="1266" alt="Screenshot 2022-08-16 at 2 04 23 PM" src="https://user-images.githubusercontent.com/24408261/184835595-e9b5fe96-f9e0-498f-a75f-01355a104e7e.png">

[2022-08-16 08:43] eugene-manuilov commented on #5639
@hussain-t can you give me a link to the page where you see it? I don't see it on my end:

![image](https://user-images.githubusercontent.com/873049/184837111-cd6a5cca-4405-442c-b83e-aa6c080b93e9.png)

[2022-08-16 09:10] hussain-t commented on #5639
@eugene-manuilov, please run the storybook on your local http://localhost:9001/?path=/story/global--image-radios

[2022-08-16 09:24] eugene-manuilov commented on #5639
Same, works fine on develop:

![image](https://user-images.githubusercontent.com/873049/184845663-265499cb-5b19-4767-8545-9cd089e1d0f6.png)

[2022-08-16 09:30] hussain-t commented on #5639
@eugene-manuilov, that's weird; I rechecked it with the latest on `develop`, and I get the warnings. Let me ask other engineers if they can reproduce this.
<img width="1267" alt="Screenshot 2022-08-16 at 2 57 50 PM" src="https://user-images.githubusercontent.com/24408261/184846670-a0946f61-6d3f-4294-af78-eeed4b001c46.png">

[2022-08-16 09:40] techanvil commented on #5669
## QA :white_check_mark:

- Ensure the `state` field in the publication object has been renamed to `onboardingState`. :white_check_mark:
- Ensure the values of the constants are changed as per the AC. :white_check_mark:
- Ensure the `virtualGifts` property has been renamed to `thankStickers`. :white_check_mark:
- Verify all the tests are passing in `assets/js/modules/thank-with-google/datastore/pu

[2022-08-16 09:43] techanvil commented on #5669
Hi @hussain-t, I have run through the QA items for the sake of completeness. However in future, please consider that the points about checking the codebase and tests are aspects that are covered in the Code Review stage, and there's no need to duplicate them in QA.

[2022-08-16 09:56] hussain-t commented on #5669
Thanks, @techanvil; I agree with you. However, I was not sure what else could be tested besides the mentioned points in QAB.

[2022-08-16 10:24] techanvil commented on #5669
That's OK, just bear in mind that we are trying to keep QA as user-facing as possible, so `QA:Eng` should only be used sparingly when necessary, and not to cover aspects which are already covered elsewhere, for example in CR.

Indeed, it's perfectly OK to _not_ have a QAB at all if there's a good reason for it.

[2022-08-16 10:45] eugene-manuilov commented on #5639
That's strange... ok, anyway IB ✔️

[2022-08-16 11:20] hussain-t commented on #5585
### QA:Eng Verified ✅

- Verified it in the PR run.
- Verified running VRT locally as well.

[2022-08-16 11:27] tofumatt commented on #5694
IB ✅

[2022-08-16 12:08] jimmymadon commented on #5378
@aaemnnosttv Just did a bit of digging and MUI 5 requires React > 17 and we are on 16. Perhaps that is why we are using v4? @asvinb

[2022-08-16 12:16] nfmohit commented on #5671
Thank you @eugene-manuilov! I have updated the IB.

[2022-08-16 12:53] techanvil opened #5698 "Fix failing PHPUnit test for the PHP 7.4, WordPress Nightly workflow"
## Bug Description

A test has started failing in the PHP 7.4, WordPress Nightly workflow.

E.g. https://github.com/google/site-kit-wp/runs/7858096409?check_suite_focus=true

## Steps to reproduce

1. Run the PHP 7.4, WordPress Nightly workflow.
2. Navigate to the test results.
3. See the failing test.

## Screenshots

![image.png](https://images.zenhubusercontent.com/6133937d41f397090b8344a7/3fb2

[2022-08-16 13:44] techanvil commented on #5694
@aaemnnosttv @tofumatt, this has been fixed via https://github.com/google/site-kit-wp/issues/5535:

https://github.com/google/site-kit-wp/blob/82cfb69bf80d3d95c2a6019eda8a1df9dfbad9fb/includes/Modules/Thank_With_Google/Web_Tag.php#L148

[2022-08-16 14:35] techanvil commented on #5694
Closing as already fixed.

[2022-08-16 14:35] #5694 closed

[2022-08-16 15:15] eugene-manuilov commented on #5671
IB ✔️

[2022-08-16 18:30] aaemnnosttv commented on #5378
@jimmymadon ah that makes sense. Thanks for checking 👍

[2022-08-16 18:39] jimmymadon commented on #5378
@aaemnnosttv Should we move this to execution then? I am not sure if we are planning on bumping up to React 17/18 and if there are any reasons why we haven't done so already. We can use this 'slightly hacky' fix until we do so.

[2022-08-17 00:32] tofumatt commented on #5445
@nfmohit For the future, please don't include _involved_ PRs like this as part of the IB. Very basic (one or a few line) PRs that make sense to proof-of-concept first can be used as (part of) an IB, and larger proof-of-concept draft PRs are fine, but using large ones as part of the IB can conflate IB review and code review—it just means sometimes the IB review can get too technical, or it can be h

[2022-08-17 04:18] mohitwp commented on #5627
### QA Update ✅

Verified 👍

- Optimized versions of the images have been provided by [Seba](https://10up.slack.com/archives/C01CA828ZPZ/p1660551779449579?thread_ts=1660238147.601399&cid=C01CA828ZPZ).
- Setup Publication view showing updated image.
- Verified Customize view. The updated images appearing for the Prominence options.

[2022-08-17 04:27] mohitwp commented on #5661
### QA Update ✅

- Verified description and the list items are displaying under pop up confirmation box.
- Verified font and button styles. It is matching with existing style.
-  Verified in mobile devices.

![image](https://user-images.githubusercontent.com/94359491/185034290-109648f8-0364-4954-a215-61a017251355.png)

[2022-08-17 04:59] mohitwp commented on #5444
### QA Update ✅

- Verified tooltips within the dashboard appear according to the designs in issue description.
-  Verified Header action items (e.g. Search, Date Range button, Dashboard Sharing Settings button, Help button, User Profile button).
- Verified Dashboard sharing settings modal info tooltips.
- Verified both main and entity dashboard.

<details>

![image](https://user-images.githubuser

[2022-08-17 05:23] mohitwp commented on #5535
### QA Update ✅

- Verified a single post page the inline script for the TwG (SWG_BASIC)  is added successfully.
- Verified that `colorTheme` property added as per TWG settings.
- Verified that `promptSettings` property have `style` field with either `inline` or `floating` value based on the TwG settings.
- Fixed- Inline
- Overlay - Floating.
- Verified that`floatingPromptProminence` property show

[2022-08-17 05:54] mohitwp commented on #5274
### QA Update ⚠️

@kuasha420 I verified storybook on main and develop branch. On main branch 'ActivationBanner' component is existed but not on develop branch. I also verified other analytics4 components, but not found required story. Can you please provide link for the storybook which need to be tested ?

[2022-08-17 06:34] wpdarren commented on #5653
### QA Update: ✅

**Verified:**

- The TwG GET:publications endpoint's response handling are adjusted so that the returned publications are filtered to only return those that satisfy both requirements:
   - The publication has paymentOptions -> thankStickers set to true.
   - The publication has publicationPredicates -> businessPredicates -> supportsSiteKit set to true.

![image](https://user-imag

[2022-08-17 06:54] mohitwp commented on #5673
### QA Update ✅

- Verified when `ga4ActivationBanner` feature flag enabled.
- On entity dashboard - ga4 activation banner renders correctly
- Verified when `ga4ActivationBanner` feature flag disabled.
- On entity dashboard - ga4 activation banner is not present.

https://user-images.githubusercontent.com/94359491/185054090-17c172da-d176-4991-93b8-5c1eade0683e.mp4

[2022-08-17 07:02] nfmohit commented on #5275
Thank you for your findings, @wpdarren!

For issues 1 & 2, the implemented font sizes reflect the GM2+ styles in order to keep them consistent with the other Banner Notifications. However, for the footer text, even though it is newly introduced in this task, I decided to keep it consistent with the existing paragraph font size, so that it doesn't look bigger than the description text in any other

[2022-08-17 10:47] kuasha420 commented on #5274
@mohitwp looks like the stories were restructured the same time this was being worked on to be more separate on https://github.com/google/site-kit-wp/pull/5645/files and @nfmohit worked on it. I'll create a follow up PR to add now missing Success Component story and update the QAB accordingly. Cheers.

[2022-08-17 11:10] techanvil commented on #5275
Hey @nfmohit, thanks for the tag.

1. Actually, I do think we need to reduce the font size for the title here. Notice that in Figma, the font size for the title on the Reminder component is larger than the Setup component:

![image](https://user-images.githubusercontent.com/18395600/185099309-1d47d064-f1ba-455b-8c81-0db4b5608119.png)

![image](https://user-images.githubusercontent.com/18395600/185

[2022-08-17 11:18] eugene-manuilov commented on #5683
IB ✔️

[2022-08-17 11:41] jamesozzie opened #5701 "Features tour highlighting incorrect area on dashboard"
## Bug Description

If updating from an older version of Site Kit, the feature tour highlights the new unified dashboard menu items. The highlighted area is incorrect when there are errors or notices in the header of a users site, with the navigation menu further down the screen (See screenshot below)

Note: This would impact very few users. I didn't see any incorrectly highlighted feature tours f

[2022-08-17 15:02] jamesozzie opened #5703 "Combine all Analytics OAuth permission requests during set up"
## Bug Description

When connecting the Analytics module after setting up Site Kit for the first time there are two different OAuth permission requests at present. The first one appears before you select your UA Analytics account when connecting the module, and the second appears when selecting a GA4 property. The second one seems to be unavoidable, even if you don't use Site Kit to create a GA4 p

[2022-08-17 15:48] techanvil commented on #5505
Thanks @aaemnnosttv, that is a good point and I've tweaked the AC accordingly.

[2022-08-17 16:39] jamesozzie opened #5705 "Loading chunk 31 error"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/loading-chunk-31-failed-in-google-site-kit/#post-15924259) is encounter a loading chunk 31 error. This doesn't appear via an incognito browsing session, leading to a possible browser or browser extension related conflict. An Ad Blocker extension is active - to be tested support side.

[code]

The user also sha

[2022-08-17 20:37] aaemnnosttv commented on #5653
⚠️ Looks like `publicationPredicates` and/or `businessPredicates` are only present on publications which have completed the onboarding process. I'm confirming this with the team, but if so, we'd need to remove these from the filtering otherwise we won't be able know when a user has a publication which has remaining uncompleted onboarding steps. `thankStickers` however are not affected by this so t

[2022-08-17 21:25] aaemnnosttv opened #5708 "Release 1.82.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-08-18 06:50] wpdarren commented on #5275
@nfmohit @techanvil I am happy to go with whatever is easier for you. I can include these as known issues that will be fixed in 5276.

[2022-08-18 06:53] nfmohit commented on #5275
Thank you for the review, @techanvil!

@wpdarren That would be fab! I'm already working on #5276 and I have already included the fixes there. Thank you!

[2022-08-18 11:08] mohitwp commented on #5683
### QA Update ✅

Verified 👍

- Verified TwG "placement" setting for Thank with Google now changed to have only four options.
- The "Manual" heading is now removed.
- Able to select all radio buttons.
- Selected option is showing under settings>connected services>TwG details.

Note : Under TwG settings, prominence label is showing for position. I will create a separate ticket for this.

<details>

[2022-08-18 12:32] felixarntz opened #5710 "Do not show TwG module for non-HTTPS site"
Since the TwG JS library requires the consuming site to use HTTPS, we should (at least for now) completely hide the module on sites that don't use it (e.g. "http://" or "localhost" sites).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* If the current site (not reference site) does not use "https://",

[2022-08-18 12:54] felixarntz commented on #5710
@eclarke1 @FlicHollis This is a new launch blocker, but should be very small. There is really nothing to test here comprehensively, so this can simply happen anytime before the e2e test. It does not block the bug bash.

[2022-08-18 13:14] eclarke1 commented on #5710
Thanks @felixarntz as it is not a bug bash blocker, should we set this to a P1 status then? We have other P1s in the GH board to indicate this is required for launch, but not bug bash. Once we have the bug bash, at that point I suggest we then re-purpose the labels to indicate P0 is a launch blocker, and P1 are nice to have for launch.

[2022-08-18 13:19] felixarntz commented on #5710
@eclarke1 Sounds good, updated!

[2022-08-18 13:23] felixarntz commented on #4926
@aaemnnosttv SGTM!

[2022-08-18 13:30] felixarntz opened #5711 "Limit shared requests for Analytics reports to metrics and dimensions used by the Site Kit dashboard"
As an additional security & privacy requirement, the report endpoints should only allow for specific metrics and dimensions to be requested when used by a user with shared access - namely those metrics and dimensions that are also used by Site Kit (so that users with shared access can't just craft any report request they like).

While this is still not 100% bullet proof, it is more compliant with

[2022-08-18 13:33] felixarntz opened #5712 "Limit shared requests for AdSense reports to metrics and dimensions used by the Site Kit dashboard"
Similar to #5711: As an additional security & privacy requirement, the report endpoints should only allow for specific metrics and dimensions to be requested when used by a user with shared access - namely those metrics and dimensions that are also used by Site Kit (so that users with shared access can't just craft any report request they like).

While this is still not 100% bullet proof, it is mo

[2022-08-18 15:29] felixarntz commented on #5712
cc @ThierryA @marrrmarrr @aaemnnosttv

[2022-08-18 16:25] jamesozzie commented on #5705
The impacted user confirmed this only occurs with the AdBlock browser extension activated.

One possible cause is a configuration with one of the users plugins. They are using a couple of optimization/caching plugins. These are evident from looking at the users [SH info](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNilE3lZJvqGNhJ3z5UDSfDSZT_DN94M1

[2022-08-18 16:36] jamesozzie commented on #4445
Closing this with Site Kit now working as expected for the impacted user. The possible cause, based on the users comments, were a Cloudflare “cookie consent” app. Once deactivated Site Kit worked as expected.

[2022-08-18 16:36] #4445 closed

[2022-08-18 16:42] eugene-manuilov commented on #5662
IB ✔️

[2022-08-18 16:42] jamesozzie commented on #5701
Possibly a non issue, with the menu items highlighted correctly on another site after reconnecting for the first time in a while after being disconnected (Site Kit 1.69.0, the plugin not yet updates).

![image](https://user-images.githubusercontent.com/41326532/185449451-1663d9d7-c97e-4a7d-8a60-cc3657acd775.png)

[2022-08-18 16:56] aaemnnosttv commented on #5653
The TwG team confirmed the above, so unfortunately we cannot filter publications to those that have `publicationPredicates->businessPredicates->supportsSiteKit` as this will not be present until the onboarding is completed (i.e. publication is fully active).

[2022-08-18 17:01] jamesozzie commented on #4449
I can confirm this has been resolved with the current version of WP Rocket. [Recording of issue, before then updating to the latest WP Rocket version](https://recordit.co/rKz6Bfu9M6).

Closing

[2022-08-18 17:01] #4449 closed

[2022-08-18 17:07] jamesozzie commented on #4600
@funnelblockspro Let me know if you need any assistance with the googlesitekit_{module}_tag_blocked filter.

The below would apply to ensure Site Kit doesn't place your AdSense snippet for logged in users who have an `editor` role.

[code]

The same can be applied using the `googlesitekit_adsense_tag_amp_blocked` filter.

[2022-08-18 17:10] jamesozzie commented on #5390
The user confirmed the issue was on the hosting side. No further details were provided.

[2022-08-18 17:10] #5390 closed

[2022-08-18 17:16] jamesozzie commented on #5601
Closing with no update from impacted user. To be reopened or insights added in the event of further updates or reports.

[2022-08-18 17:16] #5601 closed

[2022-08-18 17:55] aaemnnosttv commented on #5653
I've updated the ACs and created a follow-up PR for the changes.

[2022-08-18 18:03] aaemnnosttv commented on #5710
@felixarntz maybe for non-https sites we should still show the module but it should be disabled to not allow it to be enabled like we do for AdSense when an adblocker is detected?

[2022-08-18 20:18] #1946 closed

[2022-08-18 20:28] aaemnnosttv commented on #5671
Just a heads up that I suggested a different solution for this in CR. In the future, I think it would make sense to make the property ID generally available to all modules but for now it would be a little cleaner to grab it via settings.

[2022-08-18 21:00] aaemnnosttv commented on #5378
@jimmymadon overall it sounds ok to me but would be nice to know a bit more as to what the compromise is here (as far as I can tell it just passes an additional param in the theme config but not clear what it does). We don't use the theme provider currently so I'm guessing it's falling back to a default?

Also, looking at the source it seems that this would raise a new warning in development due t

[2022-08-19 03:08] wpdarren commented on #5653
### QA Update: ✅

**Verified:**

The TwG GET:publications endpoint's response handling is adjusted so that the returned publications are filtered to only return those that satisfy both requirements:
  - The publication has paymentOptions -> thankStickers set to true.
  - The publication has publicationPredicates -> businessPredicates -> supportsSiteKit set to true but only if the onboarding state

[2022-08-19 03:12] wpdarren commented on #5671
@nfmohit IMO, I don't think the QAB is `QA:Eng`, Mohit or I should be able to test this for you. If you feel it's more engineering that's fine, but thought I would mention 😄

[2022-08-19 03:13] hussain-t commented on #5653
Thanks for clarifying and addressing this, @aaemnnosttv 👍

[2022-08-19 03:22] eldeloro75017 opened #5716 "> Thanks for clarifying and addressing this, @aaemnnosttv 👍"
_Originally posted by @eldeloro75017 in https://github.com/google/site-kit-wp/issues/5653#issuecomment-1220200766_

[2022-08-19 03:55] wpdarren commented on #5275
### QA Update: ✅

**Verified:**

- The banner displayed matches the text in the AC.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/185539513-bbc5c078-891b-4c72-9974-25073135df17.png)
![image](https://user-images.githubusercontent.com/73545194/185539464-7522e2ac-a9f3-4ca3-a6fd-6f15a2240442.png)
![image](https://user-images.githubusercontent.c

[2022-08-19 07:45] eclarke1 commented on #5486
Just a polite ping on this one please @aaemnnosttv as it's for this sprint 82 and has been in IBR 8 days. Thanks so much. cc @FlicHollis

[2022-08-19 07:47] eclarke1 commented on #5618
@aaemnnosttv just a polite reminder on this one please as it's for Sprint 82, plus it's blocking an issue with @makiost that's already complete and waiting to be merged

[2022-08-19 09:45] nfmohit commented on #5671
Sure thing, @wpdarren! I only marked this with a `QA:Eng` because to test this, we'd need multiple publications returning from the API. @aaemnnosttv [mentioned](https://10up.slack.com/archives/CBKKQEBR9/p1660851836551339?thread_ts=1660846811.055289&cid=CBKKQEBR9) he could test it.

[2022-08-19 10:34] wpdarren commented on #5671
@nfmohit Ah thank you, I didn't realise you needed multiple publications. Yes, I agree `QA:Eng` is best for this one! 😄

[2022-08-19 20:03] aaemnnosttv commented on #5671
## QA:Eng ✅

* Checked `filter` argument is constructed properly for both domain and URL prefix type SC properties
* Checked publications returned from the API match the given filter for both domain and URL prefix properties

Moving to approval as there isn't much else to QA here.

[2022-08-19 20:17] aaemnnosttv commented on #5486
Thanks @eclarke1 – apologies for the delay here. I hadn't forgotten about it 👍

@kuasha420, nice work here – I like the idea to model this after `Notices`, that should work well I think.

@kuasha420, while I think using `User_Options` would work for this, this is not technically a user option and so we should use user meta directly like core does.

Otherwise, the IB looks good, but we should make

[2022-08-19 20:33] kuasha420 commented on #5486
@aaemnnosttv Thank you for the review. Glad to know that the idea to model it like `Notices` was a good idea after all! Initially it kind of felt overkill but my rational was that we may use pointers more in the future, specially with having more of site kit in other places of dashboard (Widget areas, editor etc).

I have updated the IB with your suggestions. Please have a look. Cheers. :smile:

[2022-08-19 20:35] aaemnnosttv commented on #5486
IB ✅

[2022-08-19 20:36] #5716 closed

[2022-08-19 21:13] aaemnnosttv commented on #5618
@eclarke1 thanks for the reminder – I haven't forgotten, just been giving it some thought as I think we might want to take a different approach.

[2022-08-19 22:12] tofumatt commented on #5711
IB ✅

[2022-08-19 22:13] tofumatt commented on #5712
IB ✅

[2022-08-20 14:42] jimmymadon commented on #5378
@aaemnnosttv So in v4, it isn't mandatory to use `ThemeProvider` (it is in v5 from a quick read of the docs). Which warning do you mean - the ESLint Rule for camel case?

[2022-08-20 15:30] techanvil commented on #1769
I wanted to get a deeper understanding of the cause of these test failures, so dug into it a bit. It looks the change that blew up most of the tests is the introduction of a resolver cache and related call to `setTimeout`, introduced in `@wordpress/data@4.23.0`. I found that updating as far as `4.22.3`, all JS tests passed, then bumping to `4.23.0` hundreds of tests started failing.

Here is the d

[2022-08-22 06:01] nfmohit commented on #4487
@aaemnnosttv @asvinb @eugene-manuilov

Does this issue still actually exist? I tried to replicate it following the replication steps but couldn't. Also, it looks like this error message no longer exists in the codebase anymore. Am I missing something?

Thank you!

[2022-08-22 09:45] jamesozzie commented on #5705
Reopening this, with another user [reporting the same from an existing support topic](https://wordpress.org/support/topic/loading-chunk-31-failed-in-google-site-kit/). Even with an Ad Blocker active, the full Site Kit dashboard should not display this error. Understandable within the AdSense module however I suspect this should not block the full Site Kit dashboard.

Adding to support engineering

[2022-08-22 10:40] mohitwp commented on #5271
### QA Update ✅

- Verified storybook story : https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-spinnerbutton--default-button
- The spinner button showing the spinner for 5 seconds when we click on it.

[2022-08-22 11:05] mohitwp commented on #5274
### QA Update ⚠️

@kuasha420
I found story in story book but instead of ActivationBanner like it is mentioned in AC. It is actually named as SuccessBanner in Storybook under Modules>Analytics4>SuccessBanner
Link : https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-analytics4-successbanner--default

Is it updated and correct ?

![image](https://user-images.githubusercontent

[2022-08-22 11:09] kuasha420 commented on #5274
@mohitwp This is correct as the stories were restructured. I think we may eventually need `ActivationBanner` where everything is wired together in one place, but that seems out of scope for this ticket.

Cheers.

[2022-08-22 13:11] felixarntz commented on #5712
@techanvil @tofumatt Since the metrics and dimensions are not in the IB, please make sure to encompass in the code review or QA here to double-check the codebase for whether the implementation actually includes all the necessary metrics and dimensions (and not more).

[2022-08-22 13:11] felixarntz commented on #5711
@techanvil @tofumatt Since the metrics and dimensions are not in the IB, please make sure to encompass in the code review or QA here to double-check the codebase for whether the implementation actually includes all the necessary metrics and dimensions (and not more).

[2022-08-22 13:49] mohitwp commented on #5274
### QA Update ✅

- Verified SuccessBanner in Storybook under Modules>Analytics4>SuccessBanner
Link : https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-analytics4-successbanner--default

- All information is as per AC
Title: You successfully set up your Google Analytics 4 property
Subtitle: GA4 is collecting data for your site. You’ll only see Universal Analytics data on y

[2022-08-22 17:06] felixarntz opened #5722 "Prepare TwG links to Publisher Center"
This is effectively a preparation task for #5537: We already know all the technical parts on how to refer users to the TwG flow in Publisher Center, the only thing we don't know is the exact URL. This shouldn't block the technical groundwork for this though, so let's already get started.

The idea is that once this issue has been completed, the only thing to do in #5537 would literally be to repla

[2022-08-22 17:08] felixarntz commented on #5722
@eclarke1 @FlicHollis Based on our call earlier today, I have created this issue to already do any slightly more involved prep work for the Publisher Center links (#5537) already before we know the URLs so this is unblocked. So this issue here is not related to the bug bash, but we should prioritize it for e.g. next week.

In other words, once we have completed this issue here, it will leave #5537

[2022-08-22 17:13] #5683 closed

[2022-08-22 17:15] #5671 closed

[2022-08-22 17:16] #5669 closed

[2022-08-22 17:16] #5661 closed

[2022-08-22 17:17] #5653 closed

[2022-08-22 17:18] #5627 closed

[2022-08-22 17:18] #5535 closed

[2022-08-22 18:59] aaemnnosttv opened #5724 "User menu does not show which account is connected"
## Feature Description

Before the unified dashboard, the SK user menu used to have the user's email address in the header which showed the address of the connected Google account. This is no longer shown which makes for a more consistent header with other Google products, although it makes it hard to tell which user is connected as this isn't even surfaced in the site health info.

Most Google pr

[2022-08-22 20:37] eclarke1 commented on #5722
Excellent thanks @felixarntz I've added this to the TwG epic and also to Sprint 82 to be prioritised.

[2022-08-23 01:59] wpdarren commented on #5500
### QA Update:  ✅

**Verified:**

- Longer usernames are truncated with ellipsis (...) instead of just cutting off or going beyond the container (similar to the screenshot in the ACs).

<details>
 <summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/73545194/186051824-9acf666b-19fd-471c-aad1-b76893467363.png)

</details>

[2022-08-23 03:04] wpdarren commented on #5495
### QA Update: ⚠️

@hussain-t  according to the QAB:

When I follow the steps in the QAB, and I get to editing the GTM settings, I do not see the message above.  This would make sense though since I have approved the GTM invitation and have access to this account.  I am wondering if the QAB steps are incorrect, or am I missing something obvious here? 🤔

This is what I see when editing GTM for admi

[2022-08-23 05:00] hussain-t commented on #5495
@wpdarren the steps mentioned in the QAB are correct. I was able to reproduce it. This is the screenshot from my secondary admin dashboard:

![Screenshot 2022-08-23 at 10 23 40 AM](https://user-images.githubusercontent.com/24408261/186073463-651a7788-ffc0-4152-8aaf-d3190b437f7c.png)

Could you confirm your settings are the same as mine below?

![Screenshot 2022-08-23 at 10 27 33 AM](https://user-i

[2022-08-23 06:34] mohitwp commented on #5483
### QA Update ⚠️

@hussain-t I verified notice for Rest API using steps mentioned in QAB.
I noticed that 'Get help' link targeting to `{proxy}/support/?error=undefined` instead of `{proxy}/support/?error_id=check_api_unavailable` and redirecting user to https://sitekit.withgoogle.com/documentation/troubleshooting/using-troubleshooting-mode/

![image](https://user-images.githubusercontent.com/94359

[2022-08-23 06:51] hussain-t commented on #5483
Thanks, @mohitwp; I found the issue. I will create a follow-up PR to fix it shortly.

[2022-08-23 09:05] mohitwp commented on #5483
@hussain-t

Issue mentioned [here](https://github.com/google/site-kit-wp/issues/5483#issuecomment-1223614240) is now resolved.

- 'Get help' link targeting to {proxy}/support/?error_id=check_api_unavailable
- On clicking user redirecting to https://sitekit.withgoogle.com/documentation/troubleshooting/setup/#rest-api
-
<details>

![image](https://user-images.githubusercontent.com/94359491/186117625

[2022-08-23 12:24] wpdarren commented on #5272
### QA Update: ✅

**Verified:**

- The Banner is not shown when Analytics is not connected.

![image](https://user-images.githubusercontent.com/73545194/186155356-75cb14e3-def8-4510-8c0b-c161d68165c5.png)

- When UA is set up but no GA4 property is connected, the dismissExpires prop is set to 2592000 (30 days in seconds).

![image](https://user-images.githubusercontent.com/73545194/186155553-5d987

[2022-08-23 13:45] techanvil commented on #5435
Hi @hussain-t, here's a bit of commentary on the IB so far.

The `option_` and `default_option_` filters are applied _after_ the value is read from the database. So, in order to filter when _writing_ to the DB we should in fact augment the `Module_Sharing_Settings::get_sanitize_callback` method.

Also because `option_` / `default_option_` are applied after reading from the DB, the change you have

[2022-08-23 15:01] #4555 closed

[2022-08-23 17:14] aaemnnosttv commented on #5378
Oops, sorry – I thought I had linked it. Clipboard history to the rescue! 😄 https://github.com/mui/material-ui/blob/a563a60219f7f6519fb0f34f6d8e3bf0974e6495/packages/material-ui/src/styles/createTheme.js#L105-L113

[2022-08-23 17:29] aaemnnosttv commented on #1769
@techanvil thanks for digging into this, the added context is really useful!

Looking at the changes to the tests in Gutenberg, I wonder if we could use the same approach to call `jest.runAllTimers()` in  an `afterEach` rather than using real timers as was done in the original PR 🤔 https://github.com/google/site-kit-wp/pull/3277/files#diff-8562ee22152539b10725dc937f9daa64323a8897a0e28bfb640a7c346f

[2022-08-23 18:32] eugene-manuilov commented on #5722
IB ✔️

[2022-08-23 18:44] aaemnnosttv commented on #5711
⚠️ Just left a review here after noticing something although it had already been merged before I submitted it. Two things should be addressed and the rest can be done in a follow-up issue I think as it's more of a refactoring.

- Fixing the return type in the doc blocks
- Adding an additional definition of the `is_using_shared_credentials` property

[2022-08-23 18:49] eugene-manuilov commented on #5710
@nfmohit, the `is_ssl` function exists from WP 2.6.0, there is no need to add a backward compatibility for it, we can use that function as is.

[2022-08-23 19:03] aaemnnosttv commented on #4487
@nfmohit I believe the message has changed but the relevant condition is this one I think:

https://github.com/google/site-kit-wp/blob/12d7bc1f78c5706add69e7e45de4c64a3e4effef/assets/js/modules/tagmanager/components/common/FormInstructions.js#L71-L73

It is probably an odd edge case to be able to satisfy `singleAnalyticsPropertyID === analyticsPropertyID` without Analytics being connected so there

[2022-08-23 20:49] nfmohit opened #5728 "Test coverage for Analytics metrics and dimensions validation methods"
## Bug Description

https://github.com/google/site-kit-wp/blob/1f21788d996f25a72320795fe7b80a16d962cc53/includes/Modules/Analytics.php#L1368-L1459

It would be great to get some test coverage on these methods, but I see how that could be a bit problematic as-is. Maybe we could extract these into validation-specific classes? The class could be specific to validating shareable report dimensions so w

[2022-08-23 21:05] felixarntz commented on #5482
@aaemnnosttv In principle, yes, but when people for example report that in every setup flow at the end they get to this, then probably the same thing went wrong multiple times. So I would argue it still makes sense to provide the "Get help" link here.

Normally I would agree with you, since for a normal WordPress POST request for example it's fairly straightforward (though even there some weird pr

[2022-08-23 22:23] nfmohit commented on #5710
@eugene-manuilov The ` is_ssl` function as is doesn't work for sites behind some proxy/load balancer (e.g. Cloudflare). Which is why I thought improving it with something like [this](https://developer.wordpress.org/reference/functions/is_ssl/#comment-4265) would be a nice to have.

Do you think this isn't necessary, or if this is necessary, shall we place it somewhere other than `BC_Functions`?

T

[2022-08-24 02:25] wpdarren commented on #5483
### QA Update: ⚠️

@hussain-t I am on a VPN for Egypt, and have confirmed the IP address to make sure. It's a brand new site that hasn't had Site Kit connected at all. The splash screen looks the same as normal.  I am not seeing any message I was expecting to see from the troubleshooting page:

![image](https://user-images.githubusercontent.com/73545194/186303496-273b1334-0179-491d-b408-068eb8d32a

[2022-08-24 02:55] wpdarren commented on #5495
### QA Update: ✅

@hussain-t let's put this down to user error! 😄

**Verified:**

- The warning message is displayed `Admin1 configured Tag Manager and you don’t have access to this Tag Manager account. Contact them to share access or change the Tag Manager account. `

![image](https://user-images.githubusercontent.com/73545194/186310128-b6c4f7fd-b8d9-49b6-b15d-0a11c57870f0.png)

- Also checked th

[2022-08-24 10:48] techanvil commented on #5665
Just a note to mention that I spotted this section in the docs for the Legacy Widget block: [Using the Legacy Widget block in other block editors (Advanced)](https://developer.wordpress.org/block-editor/how-to-guides/widgets/legacy-widget-block/#using-the-legacy-widget-block-in-other-block-editors-advanced)

the WordPress post editor. This is not enabled by default.

I am not sure if that means it

[2022-08-24 11:30] mohitwp commented on #5416
### QA Update ✅

**Verified**

- Verified using tester plugin and dashboard sharing settings tester plugin.
- After initiating recovery `Who can view` for Pagespeed Inshight gets restored and editable without refreshing again.
- User is able to edit 'Who can view' access for PSI and other modules after recovery.

https://user-images.githubusercontent.com/94359491/186407303-a912ff0a-1e67-47ab-8d4c-

[2022-08-24 12:10] eclarke1 commented on #5575
flagging here that this is blocked until the v1beta classes are published in the client services libraries. See https://github.com/googleapis/google-api-php-client-services/tree/main/src/GoogleAnalyticsAdmin

[2022-08-24 12:16] hussain-t commented on #5483
@wpdarren, as we discussed, I couldn’t trigger this `amp_cdn_restricted` error using a VPN for Egypt. Perhaps it’s not restricted anymore for Egypt.

@jamesozzie, are you aware of other regions restricted to testing this flow?

[2022-08-24 12:41] wpdarren commented on #5483
### QA Update: ✅

@hussain-t from my conversation with James, Egypt is the only country, and while I was unable to test this with a Egypt VPN, James was able to.  I can therefore confirm that the message for AMP CDN does appear with the `get help` link and the points to the correct location on the Site Kit website.

Since @mohitwp has confirmed his tests have worked, I am moving this to approved.

[2022-08-24 12:53] techanvil commented on #5505
Hi @nfmohit, this IB is technically fine and I am happy to :white_check_mark: it as it is.

However, I would say that it's a bit on the verbose side and pretty much transliterates code into text, which is a bit beyond what an IB needs to achieve. There are some details we could quite happily do without, and, for the sake of illustration, I'd suggest that it could be reduced to something like the f

[2022-08-24 12:53] techanvil commented on #5505
IB :white_check_mark:

[2022-08-24 13:16] eugene-manuilov commented on #5710
@nfmohit, yes, there might be some cases when the `is_ssl` function may return incorrect results... however I am not sure that we have to add a vendor specific checks to our plugin. What we should probably do is to use the `is_ssl` function as is in the `Modules` class and additionally check the `HTTP_X_FORWARDED_PROTO` header if `is_ssl` returns false. So, no need to add anything to the `BC_Funct

[2022-08-24 13:29] eugene-manuilov commented on #5678
IB ✔️

[2022-08-24 14:10] hussain-t commented on #5435
Thanks for the suggestions, @techanvil. I have updated the IB.

[2022-08-24 14:27] techanvil commented on #5435
Thanks @hussain-t!

IB :white_check_mark:

[2022-08-24 15:24] techanvil commented on #5698
Closing as this has now been resolved.

[2022-08-24 15:24] #5698 closed

[2022-08-24 16:26] tofumatt commented on #5541
Note: no QA needed for this commit as it doesn't affect any functionality, only code formatting. Moving directly to approval.

(If any issues are found related to this change we can adjust accordingly, but in my testing and in CI it seems fine 🙂)

[2022-08-24 17:08] techanvil commented on #5298
Thanks @aaemnnosttv, that is a good point. I have added a brief point about this to the AC, which can be expanded on in the IB. Please let me know if you want any further detail or changes to the AC.

[2022-08-24 17:58] aaemnnosttv commented on #5482
Closing this to reflect that it already went out in the last release. I'll open a new issue for potentially iterating on the format of this and we can resume the discussion there.

[2022-08-24 17:58] #5482 closed

[2022-08-24 18:00] aaemnnosttv opened #5730 "Update format of nonce error with help"
## Feature Description

In #5482 we introduced a "get help" link in our invalid nonce error which we later flagged as potentially benefiting from a modified format https://github.com/google/site-kit-wp/issues/5482#issuecomment-1212368075.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The format of th

[2022-08-24 18:01] aaemnnosttv commented on #5730
@felixarntz should we update the usage to be consistent with other cases as in https://github.com/google/site-kit-wp/issues/5482#issuecomment-1215228668?

[2022-08-24 18:41] felixarntz commented on #5730
@aaemnnosttv Yeah I think that would make sense. We could simply add the `Retry didn't work?` bit before the `Get help` link.

[2022-08-24 19:44] aaemnnosttv commented on #5711
## QA:Eng ✅

With Analytics shared with an editor,

<details>
<summary>as the editor I see the expected errors</summary>

**Unknown metric**
![image](https://user-images.githubusercontent.com/1621608/186505524-ab4ae261-7869-402f-9985-a78c2f7235ab.png)

**Unknown dimension**
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/1621608/186505515-36d9ee16-472e-4775-b857-df340b

[2022-08-24 21:32] aaemnnosttv opened #5731 "Dashboard sharing controller set to dynamically defined property"
## Bug Description

The core `Modules` class has a property for `$rest_controller` which isn't used. It also assigns the dashboard sharing controller instance to an undefined property.

https://github.com/google/site-kit-wp/blob/412f9126c6bbb6736faa33107d1a3346232e21b4/includes/Core/Modules/Modules.php#L143
https://github.com/google/site-kit-wp/blob/412f9126c6bbb6736faa33107d1a3346232e21b4/include

[2022-08-24 21:37] nfmohit commented on #5505
Thank you very much for the kind and detailed feedback here, @techanvil. Looking at your example, I realise that the IB I added could indeed be much more concise. I'll keep it in mind for the future ones. Thank you!

[2022-08-24 21:41] nfmohit commented on #5710
Thank you @eugene-manuilov! I have updated the IB.

[2022-08-24 22:11] aaemnnosttv opened #5732 "Extract a new REST controller from core `Modules`"
## Feature Description

The core `Modules` class handles more than it should right now, with a large portion of its body devoted to its REST endpoints. The REST-specific functionality it provides should be extracted into a new controller class, similar to others, leaving the `Modules` class dedicated to only core modules logic and behavior.

---------------

_Do not alter or remove anything below.

[2022-08-25 04:16] wpdarren commented on #5711
### QA Update:  ✅

**Verified:**

_For Administrator:_

- Went through the main and entity dashboard for Analytics. With actual data. Saw no issues with requests.
- Went through the main and entity dashboard for Analytics. With zero and gathering data state. Saw no issues.
- Looked at the Analytics data on the Admin tool bar on FE.  Saw no issues with requests.
- Looked at the Analytics data on th

[2022-08-25 08:36] techanvil commented on #5505
Cheers Nahid!

[2022-08-25 10:54] techanvil opened #5734 "Replace waitFor render with waitForRegistry in tests"
## Feature Description

As a small code cleanup we should replace usage of `waitFor( () => render( ...` with `waitForRegistry` in tests. The use of `waitForRegistry` is a bit more explicit.

E.g. https://github.com/google/site-kit-wp/blob/850b76940f069581d12a855c12a9ded801699fad/assets/js/modules/tagmanager/components/settings/SettingsEdit.test.js#L102-L104

Can be rewritten as:

[code]

See https

[2022-08-25 11:08] asvinb commented on #5722
LGTM

[2022-08-25 14:17] eugene-manuilov commented on #5710
IB ✔️

[2022-08-25 16:45] FlicHollis opened #5736 "Supporter wall section is missing from setting page in edit mode"
Even after adding the supporter wall widget it doesn't appear in the edit settings at all

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The "Supporter wall widget" section should be added to the settings edit view for the Thank With Google module as designed in the [Figma document](https://www.figma.com/file/t5zDpQ28

[2022-08-25 16:52] FlicHollis opened #5737 "Settings view label is incorrect for the Type: Fixed position choices"
## Description

The settings view currently shows "Prominence" as the label for the second option which varies based on the "Type" choice. Prominence should only be shown for the "Overlay" type selection where as **Position** is the proper label for choices related to the "Fixed" type selection.

### Steps to reproduce

- Go to connected Services>TwG settings
- Select Type -Fixed and it's position

[2022-08-25 16:55] FlicHollis opened #5738 "After connecting TwG, the service appears as "Not connected" until customised. Revise the wording on this screen"
## Feature Description

If you connect TwG, you'll encounter a "Congratulations" notice (as per the screenshot attached). If a user exits this screen, or presses the cancel button, the module will appear as "Not connected" if checking the status within Site Kit.

In order to avoid confusion, with users possibly unsure of what account is active (with the module not connected), consider revising the

[2022-08-25 16:56] FlicHollis commented on #5738
For @marrrmarrr and Seba to pick up with Josh next week.
cc @eclarke1

[2022-08-25 17:01] FlicHollis opened #5739 "'No account' setup step copy inconsistent with design"
## Bug Description

The copy on the 'No account' splash screen does not match Figma.

- [Current implementation Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-thank-with-google-setup--publication-action-required)
- [Design](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=2343%3A10388)

---------------

_Do not alter or remove anything below. Th

[2022-08-25 17:05] FlicHollis opened #5740 "Setup screen graphic is smaller than designed"
Setup screen SVG looks smaller than the Figma design. See actual screen and Figma design screens below:

<img width="320" alt="Actual screen" src="https://user-images.githubusercontent.com/93320881/186726593-97dbc5ba-6f4a-415d-9672-1136eb4898a3.png">

<img width="320" alt="Figma design" src="https://user-images.githubusercontent.com/93320881/186726613-39b4711d-5770-4638-85c8-a2f8208f44e0.png">

--

[2022-08-25 17:08] techanvil opened #5741 "Remove unused ModulesList component"
## Feature Description

It appears `ModulesList` is no longer used, and should be removed from the codebase.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Confirm `ModulesList` is not in use, and remove it and any related, unneeded code (`ModulesListItem`, stories, etc).

## Implementation Brief

*

[2022-08-25 17:09] FlicHollis opened #5742 "Supporter Wall not showing on Widgets editor view"
On the Widgets editor page the Supporter Wall doesn't show up, it just shows a spinner and there is an error in the console.
Just to be clear, it does show up correctly on the public facing site.

![Widgets editors page](https://user-images.githubusercontent.com/93320881/186727438-e8c121ef-34dc-4320-b16d-917e1f10b904.png)

![Public facing site](https://user-images.githubusercontent.com/93320881/18

[2022-08-25 17:22] FlicHollis opened #5743 "Fixed position Thank CTA elements may appear outside content bounds"
Seeing the Thanks button inline with my post/layout, but then another element outside the margins of my site. It looks "off" to me on desktop:

<img width="320" alt="Desktop" src="https://user-images.githubusercontent.com/93320881/186729370-596ba8be-676b-4e27-9a13-7927049cb38d.png">

On mobile it stacks these buttons, which seems a bit crowded as well.

<img width="228" alt="Mobile" src="https://u

[2022-08-25 17:24] FlicHollis opened #5744 "No spacing between TwG CTA button and counter"
While both the CTA button and the counter are mostly controlled by TwG, it is now evident that it doesn't automatically add any spacing between the two elements, which looks bad (applicable when using "Fixed" positioning). In addition, they are misaligned (maybe we should "flexbox" them in a wrapping div so that both elements are vertically centered?) See attached screenshot.

On another note: For

[2022-08-25 17:25] techanvil commented on #5741
Created with AC, please review! cc @aaemnnosttv @felixarntz

[2022-08-25 17:26] FlicHollis opened #5745 "Publications endpoint returns non-public properties in response"
This may be an artifact of the built client library we're using as I don't think we've had to do this before, it's a simple fix though.

<img width="320" alt="Example" src="https://user-images.githubusercontent.com/93320881/186730563-cf4aa045-e56a-4e8d-8831-d985fac76f40.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## A

[2022-08-25 18:28] nfmohit commented on #5445
That completely makes sense and thank you so very much for the kind explanation of what's wrong with the IB here. I'll definitely keep them in mind for future IBs that I get to work on. Thank you, @tofumatt!

[2022-08-25 19:20] aaemnnosttv commented on #5739
@marrrmarrr would you please confirm this copy is correct?

[2022-08-25 20:35] FlicHollis opened #5746 "Services page mobile view - badges should be placed one by the other"
Both "Experimental" and "US only" badges should be placed in the same line, preferably aligned with the logo icon. If it's not possible, then below the "Thank with google" text.

![Badges](https://user-images.githubusercontent.com/93320881/186763743-414a5df3-e5ac-4c1f-8b7e-187e625918c7.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2022-08-25 20:39] FlicHollis opened #5747 "Setup banner mobile view doesn't match the Figma design"
Attached both screenshot for comparison.
Margins are incorrect (especially at the top and can be reduced in the bottom to avoid too much scrolling for the "cancel" action
Elements order is incorrect - logo should be at the top of the page and then the image
"Congratulations" font size is incorrect

![Current State](https://user-images.githubusercontent.com/93320881/186764296-d4785f1e-d7b0-449a-849

[2022-08-25 20:41] tofumatt commented on #5731
IB ✅

[2022-08-25 20:41] FlicHollis opened #5748 "Customize TwG mobile view doesn't match Figma design"
Large buttons should have rounded corners
"Overlay" and "Fixed" should be one by the other
Margins are incorrect
Color circles have squares around them
Post types - chips should have constant inner margins on both sides regardless of their content

![Customize mobile view](https://user-images.githubusercontent.com/93320881/186764760-6166278b-5e4f-4c66-aafc-42c576bc48db.png)

(Potentially a known i

[2022-08-25 20:43] FlicHollis opened #5749 "Settings page mobile view - logo display is incorrect"
TwG logo should be displayed like in other pages - "Thank with Google" text in one line and both badges in another line

![Logo Display](https://user-images.githubusercontent.com/93320881/186765075-8fcb5073-334c-4a7b-9b9c-3ae2c073b038.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When viewing th

[2022-08-25 20:48] FlicHollis opened #5750 "Improve UI/UX when settings are loading for TwG"
When the settings are loading the screen is blank for a few seconds before they are loaded.  I feel a loading animation would be be an improvement so that the user knows that they are loading. The amount of time depends on the internet speed. I tested it with 3G and found it took around 8-10 seconds. 4G around 4-5 seconds.

For TwG the behaviour is slightly different. For other modules, i.e. GA, t

[2022-08-25 20:50] FlicHollis opened #5751 "Color Selection doesn't match the design in Figma"
![Colour selection](https://user-images.githubusercontent.com/93320881/186766218-d65d8341-9c3a-4708-b952-7223f9eccfbb.png)

---------------
_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* For the color selection in Thank with Google settings:
    * The color circle component should be have the same border width as the 2

[2022-08-25 20:55] FlicHollis opened #5752 "Image Radio Button settings overflow at narrow viewports ~320px"
Image Radio Button settings overflow at narrow viewports ~320px.

These settings are problematic around 320px and slightly wider viewports.

![Image Radio Button](https://user-images.githubusercontent.com/93320881/186767070-7bbc2f85-33ab-434c-8ad4-4553fcbadd3b.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2022-08-25 20:58] FlicHollis opened #5753 "If there are multiple supporter wall widgets only one is visible on the frontend site"
On creation of two supporter wall widgets, only the first one appears on the frontend website.

<img width="227" alt="Multiple wall widgets" src="https://user-images.githubusercontent.com/93320881/186767527-330932d1-3c41-4c35-af3e-c333706fc8e3.png">

Fix for this may be on JS library side.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderator

[2022-08-25 21:05] FlicHollis opened #5754 "Design of 'Post-type' chips doesn't match design"
As per screenshot which shows a side by side of plugin <> figma design, the 'Post type' selection chips are different.

<img width="320" alt="post type chips" src="https://user-images.githubusercontent.com/93320881/186768021-1f3b6fb6-3a13-4b93-9386-e6e572bad18a.png">

This should stay consistent with the Dashboard Sharing flow

---------------

_Do not alter or remove anything below. The following

[2022-08-25 21:06] FlicHollis opened #5755 "Include an option to "Edit in publisher Center""
For some modules we have an option to "Edit in <module>"

Include this option for Thank with Google, as an individual publication can be added via a query parameter. Example:
https://publishercenter.google.com/publications/CAow0amZCw/overview

Modules that do have this include Anaytics, AdSense and Tag Manager.

---------------

_Do not alter or remove anything below. The following sections will b

[2022-08-25 21:13] FlicHollis opened #5756 "Add more info as to what the 'Supporter wall' is in Settings"
When I do not have the Supporter wall enabled, and I visit the Settings page, there is no explanatory text to advise what it is and why I should enable it.
We do have that in the 'Supporter wall banner' but I suspect many people will click 'Maybe later' and forget about it, and then return to settings and have no incentive to add.
Could we potentially add a 'i' icon to display a tooltip or somethi

[2022-08-25 21:18] FlicHollis opened #5757 "Customise page has no defaults selected"
When I first land on the customise TwG page, only 'Type' and 'Post type' options are selected as a default (prominence and colour are not selected by default) so it isn't overly obvious to users as to why the 'Configure Thank with Google' button is greyed out. (There's no text indication to explain to the user they need to select a 'Prominence' and 'Colour' in order to configure).
Could be confusi

[2022-08-25 21:45] aaemnnosttv commented on #5745
After looking into this a bit closer, I found I wasn't able to reproduce this on other sites and then found this is actually a problem within our Tester plugin rather than in Site Kit, so I'll open a change for this there. If we decide to make changes here, it applies to all other modules that return API models, not just TwG.

[2022-08-25 21:45] #5745 closed

[2022-08-25 22:12] felixarntz commented on #5711
@aaemnnosttv @nfmohit Related to https://github.com/google/site-kit-wp/pull/5721/files#r952989940, I have a follow-up question / potential concern here: Is using a single boolean property (plus the solution from #5727) a reliable approach here? With nested requests being possible, could it be that the single property is set to another value due to one requests, but then that value affects the othe

[2022-08-25 22:12] #5483 closed

[2022-08-25 22:14] #5416 closed

[2022-08-25 22:17] #5495 closed

[2022-08-25 22:19] #5272 closed

[2022-08-25 22:19] #5500 closed

[2022-08-25 22:19] #5274 closed

[2022-08-25 22:20] #5271 closed

[2022-08-25 22:21] #5275 closed

[2022-08-25 22:22] #5673 closed

[2022-08-25 22:22] #5585 closed

[2022-08-25 22:23] #5444 closed

[2022-08-25 22:38] aaemnnosttv commented on #5744
@felixarntz how much space should we add here? Should we maybe just add some amount of margin around both and then they can wrap naturally in smaller viewports as well?

[2022-08-26 08:28] techanvil commented on #5711
I must admit I had not considered this when speccing the IB. As alluded to in [this thread](https://github.com/google/site-kit-wp/pull/5721/files#r951847223), maybe adding a property to `Data_Request` instead would be a good way to address this...

[2022-08-26 09:46] wpdarren commented on #5708
### QA Update: ✅

- Gone through the QA checklist.
- Checked sites with zero, gathering and live data.
- Checked  `adsenseSetupV2` is still functioning as usual.

Didn't do any testing on TwG or Dashboard Sharing since we'll be focusing on that in the future.

[2022-08-26 10:43] techanvil commented on #5736
Hi @asvinb, the IB looks good. I just have one question, why do we need the `showSupporterWall` prop? I'm not sure if I am missing something, but as far as I can see the only production-side use of `SettingsForm` is in `SettingsEdit` so we should be able to assume the `SupporterWall` component will always be rendered...

[2022-08-26 12:26] asvinb commented on #5736
Good catch @techanvil , you're right. I thought it was part of the setup flow for that module. IB updated!

[2022-08-26 12:37] techanvil commented on #5736
Nice one @asvinb!

IB :white_check_mark:

[2022-08-26 14:49] eugene-manuilov commented on #5708
LGTM ✔️

[2022-08-26 14:53] jimmymadon commented on #5708
QA ✅  LGTM.

- Tested with and without Dashboard Sharing and GA4 Activation Banner flags.
- Verified issues I was involved with.

[2022-08-26 15:42] techanvil opened #5760 "JS console error appears when pressing "Set up now" on the GA4 Activation Banner"
## Bug Description

When pressing the Set up now button on the GA4 Activation Banner an error appears in the JS console. See screenshots below.

## Steps to reproduce

1. Ensure the GA4 Activation Banner is visible on the Dashboard. One way to achieve this is to connect Analytics and then delete the `googlesitekit_analytics-4_settings` WordPress option. Session storage may also need to be cleared.

[2022-08-26 16:59] techanvil commented on #5708
## QA :white_check_mark:

* Smoke tested.
* Verified the changes I've been involved with.
* Performed some ad-hoc testing.

I did spot a minor issue with a JS console error appearing as a result of the GA4 Activation Banner, and have created an issue for it: https://github.com/google/site-kit-wp/issues/5760

[2022-08-26 17:24] aaemnnosttv commented on #5711
@felixarntz this was my concern as well which I raised on the initial CR in https://github.com/google/site-kit-wp/pull/5721#discussion_r952989940

As things are now, I don't think there is a problem because in order to use shared credentials, `create_data_request` needs to return a `RequestInterface` (deferred request). Nested requests return a closure so they can't make use of shared credentials,

[2022-08-26 20:26] kuasha420 commented on #5708
QA: :heavy_check_mark:

* Have gone through the release QA checklist.
* Checked the things I was involved with in this release.

[2022-08-26 20:41] rvisima commented on #459
It's been three years. How has this still not been implemented?

[2022-08-26 20:59] felixarntz commented on #5744
@aaemnnosttv I would say we should aim for spacing in between that is similar to e.g. the spacing between the CTA button and the sticker next to it. Maybe we could add `margin-right` to the button, as then that should work no matter what viewport (on small viewports the right margin basically wouldn't matter, while on larger viewports it would "show").

Can we handle this via flexbox to align the

[2022-08-27 06:56] nfmohit commented on #5708
## Release Tested ✅

- Release tested 1.82.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.
- Double-checked with and without Dashboard Sharing and GA4 Activation Banner flags.
- Used our release testing checklist to ensure everything is ch

[2022-08-27 07:29] nfmohit commented on #5445
@tofumatt I have a question regarding the placement of the `Reset sharing settings` action in the dialog. If we place it according to the mockup image in the issue description, it works.
![image](https://user-images.githubusercontent.com/20284937/187019964-ca2dab35-0b6c-4dac-ad60-ae2325bec7cb.png)

But that spot is currently responsible for displaying errors or notices, and when they appear, the a

[2022-08-28 08:19] Spacena commented on #2450
I am facing the same issue still in 2022. The problem is across all websites set up with Site Kit and GA4. I think the problem is Site Kit can't connect well with GA4; for earlier it worked well with Universal Google Analytics.

[2022-08-28 23:19] makiost commented on #5708
## QA ✅

* Smoke tested core functionality
* Tested new changes
* Tested changes I've been involved with

[2022-08-29 05:47] mohitwp commented on #5708
### QA Update: ✅

- Gone through the QA checklist.
- Checked sites with zero, gathering and live data.
- Checked adsenseSetupV2 is still functioning as usual.
-
Didn't do any testing on TwG or Dashboard Sharing since we'll be focusing on that in the future.

[2022-08-29 05:56] hussain-t commented on #5708
## QA Verified :white_check_mark:
- Smoke tested :white_check_mark:
- Verified the changes I’ve been involved with :white_check_mark:
- Performed some ad-hoc testing :white_check_mark:

[2022-08-29 08:55] wpdarren commented on #2450
@Spacena thanks for getting in touch. I suspect that this is because Site Kit only supports the display of UA data and not yet GA4 within it’s dashboards. You can find out more information on this in our [Using Google Analytics 4 (GA4) guide](https://sitekit.withgoogle.com/documentation/using-site-kit/ga4/). Here you will also find our [GitHub issue](https://github.com/google/site-kit-wp/issues/22

[2022-08-29 10:29] wpdarren commented on #5712
### QA Update: ⚠️

@techanvil I do see the error message but it is returning a 500 error. From the QAB, it should be 400, so just checking.

[2022-08-29 10:59] hussain-t commented on #5620
Thanks, @eugene-manuilov, @aaemnnosttv, and @techanvil. I have updated the IB accordingly.

I have added a point for calling the `trackEvent` when the `Complete setup for {module_name}` button is clicked. LMK if that sounds good.

[2022-08-29 12:00] mohitwp commented on #5486
### QA Update ⚠️
@kuasha420

- I found that Pointer Title is getting cut in desktop and laptops. Verified on chrome, safari and edge browser.

![image](https://user-images.githubusercontent.com/94359491/187196236-7ab13fbd-7dec-4284-aa99-7f4b6fc8b372.png)

- Currently Pointer is not showing in all mobile devices - iPad, iPhone and android mobile/tablets. Is this expected ?

[2022-08-29 13:04] mohitwp commented on #5722
### QA Update ✅

- Verified the `getServiceCreatePublicationURL` selector.
- Verified the `getServicePublicationURL` selector.
- Verified "Create Publication" screen:
 Modules - Thank with Google - Setup - Create Publication Storybook story.
- Verified "Publication Action Required" and "Publication Pending Verification" screens:
` Modules - Thank with Google - Setup - Publication Action Required`

[2022-08-29 13:04] tofumatt commented on #5708
QA ✅ from me, everything looked good though I didn't do anything related to TwG or Dashboard Sharing for the release.

[2022-08-29 13:42] aaemnnosttv commented on #5711
Rereading my comment from before, I should clarify that the added property for whether or not shared credentials are being used doesn't determine whether shared credentials are used. The main risk to mitigate is that the value of the property could get out of sync through the use of nested requests and the added validation or other behavior controlled by it might not be triggered when it should be

[2022-08-29 14:04] aaemnnosttv commented on #5712
@wpdarren the status code changed from what was in the IB and looks like the QAB wasn't updated.

I should note that requesting dummy metrics will error in a non-shared context as well with a slightly different message ("Unknown metric(s)" I believe), so it's important to test with real metrics which are outside of the allowed metrics for SK in both shared and non-shared contexts to see that it wo

[2022-08-29 16:06] felixarntz commented on #5711
@aaemnnosttv Can you open a follow-up issue about exploring that? I will close this one as approved then.

[2022-08-29 16:06] #5711 closed

[2022-08-29 16:09] #5567 closed

[2022-08-29 16:45] eugene-manuilov commented on #5620
@hussain-t, I think we can do the same without introducing a new property in the `Button` component. We can just add styles for the `.googlesitekit-settings-module__header .mdc-button` selector to make the button look as we need.

I think if we implement these changes, we will get a button in the `a` tag which is wrong. I think we need to rework the `Header` component to use the `<div>` tag with `

[2022-08-29 17:08] eugene-manuilov commented on #5621
@nfmohit, we can use `isModuleConnected` selector to understand whether the Analytics-4 module is connected. No need to get the propertyID value.

This will be done in #5620, no need to re-post it here. What we need to mention here is that we need to change the module name from `Analytics` to `Analytics 4` when GA4 is not connected and the header component renders settings header for the analytics

[2022-08-29 17:32] aaemnnosttv commented on #5575
Maintainers have been notified about this but no update yet.

[2022-08-29 18:49] #5708 closed

[2022-08-29 21:18] aaemnnosttv commented on #5742
After discussing with the TwG team, this likely requires changes on their JS side rather than in the plugin but keeping this open for now until it is resolved.

[2022-08-29 21:30] aaemnnosttv commented on #5741
We already have an issue for this, which stalled out: https://github.com/google/site-kit-wp/issues/5471 (the similarity of issue number is quite remarkable). Closing in favor of that one 👍

[2022-08-29 21:30] #5741 closed

[2022-08-29 21:31] aaemnnosttv commented on #5476
IB ✅

[2022-08-29 21:45] aaemnnosttv commented on #2133
@tofumatt no, it hasn't been rolled out to anyone yet. I'm guessing this feature flag will be repurposed for the summary widget which this is planned to be released with.

[2022-08-29 22:12] aaemnnosttv commented on #5703
Thanks James! Ideally, we'd only send users through oAuth once but we can't do that without knowing all the scopes a user would need up front. We could of course technically request everything all the time, but that would be out of line with security and privacy best practices.

This issue assumes there are always two separate oAuth flows as part of the Analytics setup, but that isn't always the c

[2022-08-29 22:12] #5703 closed

[2022-08-29 22:34] aaemnnosttv commented on #5724
@felixarntz do you think we need UX input here?
Also, most (if not all?) Google services show the user's name as well (not just the email) but we only have the email. Should we update our `Profile` to include the name too and show this if it's available?  That way it would work for existing users  too.

[2022-08-29 23:12] tofumatt commented on #4744
I'm able to partially recreate this issue, but it's quite intermittent:

https://user-images.githubusercontent.com/90871/187314425-830662ea-2363-40eb-9687-771d4ff0dcda.mp4

I think the main issue is that when the page height or viewport changes we aren't appropriately recalculating the background for the tour tooltips.

Not knowing _exactly_ how React Joyride is implemented, It strikes me that a g

[2022-08-29 23:32] tofumatt commented on #5737
I like it! 👍🏻

IB ✅

[2022-08-29 23:35] tofumatt commented on #5740
IB ✅

[2022-08-29 23:36] tofumatt commented on #5743
Nice and simple, I dig it 🙂

IB ✅

[2022-08-30 09:27] marrrmarrr commented on #5739
@aaemnnosttv the [copy in Figma](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=2343%3A10417
) has an extra sentence covering a corner case where we can't tell from the API response that the person already tried to do the setup and was blocked because they're not in the US. Confirming that should be the copy in the product.

[2022-08-30 09:40] marrrmarrr commented on #5738
@aaemnnosttv added the new copy in the ACs (adjusted from what was suggested in the issue description).

[2022-08-30 09:58] techanvil commented on #5621
Thanks for pointing this out, @eugene-manuilov. I had originally anticipated that we'd still be opening the _edit_ view here but having read through the comments on #5620 I can see that we do need to update this issue too. As such, I have updated the AC, making the changes as follows:

- ~Clicking on the button should expand the module settings in edit mode.~
- ~With the Analytics settings open in

[2022-08-30 10:01] eclarke1 commented on #5738
Thanks @marrrmarrr moving this over to IB

[2022-08-30 10:04] eclarke1 commented on #5739
Thanks @marrrmarrr moving to IB to implement the copy as per this [design](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=2343%3A10388)

[2022-08-30 10:33] tofumatt commented on #5445
I don't think we need UX involvement here… I _almost_ wonder about _not_ showing the "Reset sharing permissions" button if that notice is there as it's a lot of actions and could be a bit confusing after a permissions _change_. The wording is a bit vague in this context and might imply to a user that clicking the "reset" button will reset their _changes_. But really it resets all settings…

That s

[2022-08-30 14:40] tofumatt commented on #5739
IB ✅

[2022-08-30 16:38] techanvil commented on #5731
## QA :white_check_mark:

- Verified the code change.
- Smoke tested Dashboard Sharing settings to check the corresponding REST API still functions as expected.

[2022-08-30 17:28] techanvil commented on #5437
Hi @tofumatt, re. the IB, I am not sure about the suggestion of `ChipCheckmark`. I was curious and tried swapping it for the `CloseIcon` but could not get it to display anything. Maybe the solution is simple but it has eluded me for about half an hour of trying. So, either there's some trick to getting it to display properly or maybe we should suggest `check.svg` instead...

[2022-08-30 17:59] tofumatt opened #5771 "Don't rely on untranslated whitespace between elements; always localize as much prose as possible"
## Feature Description

A quick search of our codebase shows about 20 instances of us using `{ ' ' }` in the codebase. While this isn't _always_ incorrect, we frequently use it to separate two bits of prose that are related or sometimes even part of the same sentence/paragraph/etc.

<img width="270" alt="CleanShot 2022-08-30 at 19 37 07" src="https://user-images.githubusercontent.com/90871/1875168

[2022-08-30 18:41] aaemnnosttv opened #5772 "User permissions data in store is referenced globally"
## Bug Description

The `capabilities` data in the `core/user` store is one of the few bits of data in the store which is resolved from a global variable on page load. This is fine, but the way that it is received preserves the reference to the object defined on the global, such that the `permissions` object is the same as the `capabilities` object in the data store and changes to one are reflecte

[2022-08-30 18:43] aaemnnosttv commented on #2133
Moving this one back for now as it won't be ready for a while yet.

[2022-08-30 20:04] aaemnnosttv commented on #5744
@asvinb would you please review the IB? It looks good in the browser to me but maybe you have a better idea 😄 cc: @felixarntz

[2022-08-30 20:17] eugene-manuilov commented on #5471
IB ✔️

[2022-08-30 20:18] aaemnnosttv commented on #4878
@felixarntz stalled out I guess. Are we abandoning this in favor of the new widget(s) whenever those come or are we still planning on doing this as an intermediate enhancement? I'm still in favor of the latter, just curious if this has maybe been discussed elsewhere? cc: @marrrmarrr

[2022-08-30 20:21] felixarntz commented on #5724
@aaemnnosttv I think it would be great to look up the name then too so we can display fully consistent information.

Regarding the user's avatar, I don't think we need to enforce it to be 80x80, IMO the way it currently is is fine. I would suggest we make this issue only about the tooltip content, to match the regular Google experience there.

Just to confirm, the ACs otherwise are only about the

[2022-08-30 23:18] jimmymadon commented on #5378
@aaemnnosttv Have updated the IB to use `createTheme` but as discussed, in production, it wouldn't throw the warning. But better to use `createTheme`. Thanks.

[2022-08-31 07:28] nfmohit commented on #5621
Thank you, @eugene-manuilov and @techanvil! I have updated the IB addressing the suggestions and the updates. Please take a look now.

[2022-08-31 08:25] FlicHollis commented on #5742
Thanks @aaemnnosttv should this be removed from the current sprint then if we are likely not going to action anything here?

[2022-08-31 08:33] eugene-manuilov commented on #5621
@nfmohit the `SetupFormGA4` form will appear only when there are only GA4 properties for the selected account and no UA properties at all. This case is impossible because the Analytics module is already configured thus there are UA properties. So, we should show the tooltip on `SetupFormGA4Transitional` and `SetupFormUA` forms because they are displayed when there are UA properties.

Perhaps it wo

[2022-08-31 08:35] nfmohit commented on #5445
Thank you for the insights, @tofumatt!

I'm open to doing that, but to do so, I believe we'll need to create two instances of the notice element for desktop and mobile viewports respectively and show/hide them depending on viewports. Are we okay to do that, or do you possibly have a better idea?

Thank you!

[2022-08-31 09:03] techanvil commented on #5738
IB :white_check_mark:

[2022-08-31 09:09] mohitwp commented on #5710
### QA Update ✅

**Verified**

- Done set up on site without SSL.
- The Thank with Google module is not showing up in the Settings > Connect More services.
- Also verified for the case if site SSL certificate gets expired and TwG module is already connected in this case also 'Thank with Google' is not showing on connected services page and site require user to resign in again.

<details>

![image]

[2022-08-31 09:18] mohitwp commented on #5737
### QA Update ✅

**Verified :**

- If Type: Overlay is selected, shows only Prominence and its respective value.
- If Type: Fixed is selected, shows only Position and its respective value.

<details>

![image](https://user-images.githubusercontent.com/94359491/187644229-60c6e907-97c5-4bdb-8431-6ee3a38a5b36.png)

![image](https://user-images.githubusercontent.com/94359491/187644294-774e7c9b-3b65-4a