[2022-08-31 09:34] hussain-t commented on #5620
Thanks for pointing it out, @eugene-manuilov. I have updated the IB as per the change request.

[2022-08-31 09:38] nfmohit commented on #5621
I've updated the IB according to the suggestions. Thank you, @eugene-manuilov!

[2022-08-31 09:49] eugene-manuilov commented on #5620
Thanks, @hussain-t. IB ✔️

[2022-08-31 09:52] eugene-manuilov commented on #5621
Thanks, @nfmohit. IB ✔️

[2022-08-31 09:53] wpdarren commented on #5743
QA Update:

**Verified:**

- The CTA buttons appear within the bounds of the content when the `Type` is Fixed.
- The CTA buttons still appear as an overlay when the  `Type` is Overlay.
- Checked the CTA buttons on desktop and mobile. No styling issues found.
- Tested with a few popular WordPress themes.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/

[2022-08-31 09:57] eclarke1 commented on #5742
Yes @FlicHollis , I just removed. William on the TwG side said he was aiming to have a fix for this yesterday. I have chased him this morning as to whether that did get deployed and once confirmed, we can test this again @wpdarren @mohitwp

[2022-08-31 12:48] wpdarren commented on #5505
### QA Update: ✅

**Verified:**

- No requests are made to the following endpoints:
  - /wp-json/google-site-kit/v1/modules/search-console/data/searchanalytics
  - /wp-json/google-site-kit/v1/modules/analytics/data/report
- No errors similar to the ones shown in the issue description screenshots show up in the browser console.

<details>
 <summary>Screenshots</summary>

![image](https://user-image

[2022-08-31 13:25] eclarke1 commented on #5742
@wpdarren @mohitwp the fix for this has been deployed by the TwG team, please could you have a check and let us know if the issue is still present?
Moving to QA column for now.

[2022-08-31 14:24] wpdarren commented on #5742
### QA Update: ✅

**Verified:**

- On the Widgets editor page the Supporter Wall does not show up and there is no error in the console.
- On the Front end the widget still appears as expected, in the correct widget area.
- Tested this with a few different popular WordPress themes.

![image](https://user-images.githubusercontent.com/73545194/187701681-0b8b3737-23fb-44a5-ae2f-3937d941c063.png)

@ecl

[2022-08-31 14:29] aaemnnosttv commented on #5742
Thanks @wpdarren – Closing this out as fixed as it didn't involve any changes on our end to address 😄

[2022-08-31 14:29] #5742 closed

[2022-08-31 15:01] aaemnnosttv commented on #5378
SGTM, thanks @jimmymadon

IB ✅

[2022-08-31 17:04] aaemnnosttv commented on #5724
@felixarntz this isn't suggesting we change the size in the header but what is shown in the dropdown.

<img width="373" alt="image" src="https://user-images.githubusercontent.com/1621608/187737517-4ce2b448-ed8e-41f9-b483-976e9f110aa3.png">

So as a whole the suggestion here is to update the tooltip content, and add the larger avatar, name, and email to the top of the body of the dropdown as above

[2022-08-31 17:04] felixarntz commented on #5537
@eclarke1 I added a new label `blocked upstream` for any issues which are blocked by external factors, and added it to this issue and #5753 for now. We can continue using that label for any similar situations in the future.

[2022-08-31 17:13] tofumatt commented on #3821
Moving to stalled because the Idea Hub API won't see these improvements for some time, see my comment here: https://github.com/google/site-kit-wp/issues/4277#issuecomment-1215132044

[2022-08-31 18:19] felixarntz commented on #5724
@aaemnnosttv Ah that makes potentially more sense, but I think it has a bit more UX implications. We don't 100% mirror the Google UI anyway, so I don't know if we really need to have that information within the dropdown content.

I'd prefer if we focused this issue only on the tooltip content, and this way we can build the foundation here to also store the account name and then display it in the t

[2022-08-31 18:54] eugene-manuilov commented on #5214
IB ✔️

[2022-08-31 18:56] eugene-manuilov commented on #5689
IB ✔️

[2022-08-31 19:56] aaemnnosttv commented on #5724
True, but I think this portion of it makes sense to mirror (as it's rather small) but also relevant to the connected user which isn't currently shown.

IMO, the email should be there at the least – we used to have it in the SK header! I would say following established UX for this type of thing used across products would feel more intuitive than deviating from it as we are now (even if somewhat acc

[2022-08-31 20:14] aaemnnosttv opened #5775 "Add Google Account details to user menu dropdown"
## Feature Description

In https://github.com/google/site-kit-wp/issues/5724 we updated the tooltip content for the user menu to expose the connected Google account details, like name and email as well as extended our existing infrastructure to capture the users name which wasn't previously stored.

This issue is about extending the contents of the dropdown with these details for consistency with

[2022-08-31 20:27] felixarntz commented on #5520
@wpdarren I agree with @aaemnnosttv's conclusion above, that most of the current behavior is expected.

One thing though on your reply @aaemnnosttv:

Can't we programmatically dismiss the main feature tour if the user already saw the more specific sharing settings feature tour? I don't think there's any value in showing the tour again later including where the Share button is, because the user alr

[2022-08-31 20:38] felixarntz commented on #4878
@aaemnnosttv @marrrmarrr Revised the ACs (and issue title) a bit further and moved to IB.

[2022-08-31 20:41] felixarntz opened #5776 "Implement skeleton loader for PageSpeed Insights widget"
Follow up to #4878: Once the layout shifts have been addressed, we should change the loader to be more of a skeleton of the real PageSpeed Insights widget UI.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The PageSpeed Insights widget loading UI should be changed so that it is no longer a progress ba

[2022-08-31 20:44] felixarntz commented on #5776
cc @aaemnnosttv

[2022-08-31 20:47] felixarntz commented on #4930
@marrrmarrr Moving this to Stalled for now. Feel free to move back to another column once we can realistically pick this up.

[2022-08-31 20:55] felixarntz commented on #4997
@aaemnnosttv Updated the ACs here to use the new support endpoint, and send the `internal_server_error` error ID. This will for now lead to the troubleshooting URL, and a dedicated article could be added later if it is worth it.

[2022-08-31 20:58] felixarntz commented on #5025
@aaemnnosttv Should we wait until #4997 has been implemented and then basically add other "special cases" to the handling? We could cater for certain situations (e.g. the 504 you have here) but otherwise fall back to the wording you already have in the ACs here. There should then also be a "Get help" link with the `error_id` parameter set based on what we discovered (with the fallback there being

[2022-08-31 21:27] felixarntz commented on #5070
@aaemnnosttv Went ahead with what we talked about today and added an "IB" 😄

[2022-08-31 22:29] nfmohit commented on #5620
@hussain-t Just to confirm, do we want the modules that are not connected to not open, i.e. should clicking on the `.googlesitekit-settings-module__header` element for `! connected` modules not do anything? If that is the case, should we remove the `cursor: pointer` and the arrow at the very right for `! connected` modules?

CC: @eugene-manuilov

[2022-09-01 06:11] hussain-t commented on #5620
@nfmohit, when double-checking the [Figma design and the comments](https://www.figma.com/file/vMaCWwr6lpk4PrJWb7jIpz/GA4-Banner-Input?node-id=1285%3A2032) related to it, it seems we should not open the accordion. The gray CTA button indicates it's disabled. However, there are a couple of concerns:

1. Should we change the color of the chevron to gray, i.e., to indicate it's disabled?

<img width="

[2022-09-01 07:56] wpdarren commented on #5548
### QA Update: ⚠️

@makiost an observation.   If the user is logged in with the same email as the Site Kit user, I am redirected to AdSense but the link takes me to the home page rather than the 'Sites' page which is where I would add a site.  Is this expected?

**Verified:**

- The `Add site to AdSense` link uses the new account chooser link structure
`https://accounts.google.com/accountchooser?c

[2022-09-01 07:58] asvinb commented on #5744
IB looks good to me! 👍

[2022-09-01 08:25] techanvil commented on #5620
Hi @hussain-t, actually we should still be opening the accordion. The concern is that the grey CTA _looks_ like it's disabled, but it's not, and UX will work on the design aspect to better indicate the fact that it is indeed active.

So, we don't need to do anything with the chevron, and will still be able to expand the accordion and thus disconnect a module.

cc @nfmohit

[2022-09-01 08:30] hussain-t commented on #5620
Thanks, @techanvil. That brings another question, what do we do with the `Setup incomplete: [continue module setup](http://sitekit.10uplabs.com/wp-admin/admin.php?page=googlesitekit-dashboard&slug=adsense&reAuth=true)` link?

<img width="460" alt="Screenshot 2022-09-01 at 11 21 16 AM" src="https://user-images.githubusercontent.com/24408261/187841539-20a6fb76-dd3d-4b84-b013-4039ef725e2a.png">

[2022-09-01 08:38] wpdarren commented on #5276
@nfmohit I am struggling to test this ticket.  Have spent quite some time trying to get the dropdown on the GA4 banner notification. No rush but could we jump on a call at some point to go through the QAB.  Thank you.

[2022-09-01 09:05] wpdarren commented on #5662
### QA Update: ✅

**Verified:**

- There is no difference in the loading animation while waiting for components to be rendered.  Checked this on the Dashboard after clearing cache on a site that has zero and live data.
- There should be no changes to the animations within the AdSense Connect CTA widget.
- Also checked the Stories in the QAB and they look as expected.

[2022-09-01 09:19] eugene-manuilov commented on #5620
@hussain-t we should do nothing with that link, it should remain as is.

@nfmohit, no, modules that are not connected yet should still open when you click on the header itself, that's why we change the `<Link>` component with the `<div onClick={...}>` tag.

[2022-09-01 09:48] kuasha420 commented on #5486
@mohitwp Hi, I have done some investigation on why the title is cut off. Looks like the WP pointer puts the arrow in the 50% of the height of the Pointer Content. As the Site Kit Menu is situated very top, the title goes under the Admin Bar. Without messing about too much with the CSS, we need to chose either of the following solution.

### Put the Pointer under the menu. (Supported in `wp-pointer

[2022-09-01 10:16] mohitwp commented on #5486
@kuasha420
I like the second design (increase the z-index) but it requires custom CSS work. @felixarntz  @wpdarren can you please provide your suggestions here ?

[2022-09-01 11:34] wpdarren commented on #5486
@kuasha420  I feel the call needs to come from @felixarntz because he created the ticket, but I agree with Mohit. I'll post a link in the open Slack channel so we can get this moved forward.

[2022-09-01 12:58] marrrmarrr commented on #5756
@aaemnnosttv I added some copy for the Settings, do you think we should open a separate issue for adding a default title to the widget itself?

[2022-09-01 13:00] marrrmarrr commented on #5693
@bethanylang @jamesozzie @adamdunnage do these "issues" on the AdSense side mean the person should just wait (e.g. their account is in review), or do they actually need to do something?
I think the copy here should reflect if an action is required or not.

[2022-09-01 13:14] eugene-manuilov commented on #4619
@tofumatt could you please review my PR #5692 and try it on your end? I have added a custom image for backtopjs uses chromium browser to render stories. Unfortunately, sometimes it works unstable on my end and fails due to some small fonts  changes. Can you try to troubleshoot it on your end? Also as to the registry, I think we won't be able to use GitHub's container registry because it saves imag

[2022-09-01 14:19] FlicHollis commented on #5568
Hey @jimmymadon same with this one - Has this IB been started? If not, feel free to unassign yourself so that any of the team can pick it up. Thanks so much!

[2022-09-01 14:19] FlicHollis commented on #5554
Hey @kuasha420 I notice this was assigned to you a while ago. Has this IB been started? If not, feel free to unassign yourself so that any of the team can pick it up. Thanks so much!

[2022-09-01 14:20] FlicHollis commented on #4775
Hey @kuasha420  Same with this one - Has this IB been started? If not, feel free to unassign yourself so that any of the team can pick it up. Thanks so much!

[2022-09-01 14:21] FlicHollis commented on #4767
Hey @kuasha420 Same with this one - Has this IB been started? If not, feel free to unassign yourself so that any of the team can pick it up. Thanks so much!

[2022-09-01 14:44] hussain-t commented on #4775
Thanks for calling out @FlicHollis. I have unassigned myself.

[2022-09-01 14:58] jamesozzie commented on #5693
@marrrmarrr Adding to the above, from the AdSense platform, I believe some users were previously stuck in a situation whereby they have used Site Kit to insert their AdSense code, but the AdSense platform was not recognizing this placement if their site was not yet approved. I was not able to recreate this today, from various attempts.

The below is now the experience from the AdSense platform, wi

[2022-09-01 15:22] aaemnnosttv commented on #5486
@kuasha420 let's opt to go with the alternate placement, putting it under the menu instead. I'm sure core probably has its own pointers that could end up below the admin bar and it was probably an intentional choice at some point to keep these below it (although maybe not). I also think increasing the z-index could make part of it unreadable if the content were longer (due to translation perhaps),

[2022-09-01 17:21] aaemnnosttv commented on #5266
@jamesozzie this shouldn't be the case anymore in settings unless the module owner were to lose access to the property 🤔 We only enable editing the connected property/view if the user has access to the currently configured entity. If they don't no error should be shown (this may still happen but there is an issue to fix it if it isn't already).

Aside from that, the message on the dashboard is mor

[2022-09-01 17:21] #5266 closed

[2022-09-01 17:30] jamesozzie commented on #5266
@aaemnnosttv I just checked this, and the same error appears ([recording](https://recordit.co/M2etwhbitu)). Funnily enough, it only appears the first time (ie. If you cancel, and edit again, it doesn't appear).

True a second administrator can't edit the Analytics module if another administrator has configured the module, but should we remove or edit the banner notice? I ask as we have documentati

[2022-09-01 17:31] aaemnnosttv commented on #5344
This is somewhat expected and really applies to all modules rather than Idea Hub specifically. We have to set the redirect (i.e. "next step after oauth") URL before sending the user to oAuth. If a user cancels that flow after activating a module, when they return the module will still be active which is why the notice about needing to redo setup is there because required scopes are not granted.

W

[2022-09-01 17:31] #5344 closed

[2022-09-01 19:40] aaemnnosttv commented on #5025
@felixarntz I'm not sure this needs to wait for the other issue as the conditions for both are mutually exclusive.

Unfortunately we don't have access to the status code, so we can't use that as part of a condition for the handling. We could handle this differently in the PSI widget, before passing it on to a `ReportError` though?

I think for the most part this will still be a generic error, but

[2022-09-01 20:41] felixarntz commented on #5486
@kuasha420 +1 to Evan's point, regardless of which UI we visually prefer, I agree we should follow what WP core already offers us here to avoid risk of other "overlap" issues, so let's go with adjusting the position via what is supported by `wp-pointer`.

[2022-09-01 21:45] aaemnnosttv opened #5780 "Enhance mechanism for dashboard sharing request context"
## Feature Description

In #5711 we added a new `is_using_shared_credentials` property to the `Module` class for storing state to enable logic that should be conditionally applied for a request that is made on behalf of a module owner rather than the current user via dashboard sharing.

This approach works but should ideally be a bit more reliable to avoid logic being potentially applied improperl

[2022-09-02 06:50] kuasha420 commented on #4688
Now that the GA4 API has been promoted to `beta` and we have #5574 to upgrade Site Kit to use the new beta api and #5575 to remove all the fallbacks, this issue is no longer relevant. Once those are merged, we will no longer need to check for API stability and will always have GA4. Feel free to check the aforementioned issue(s) to track the progress there.

As discussed  in the Team Review meeting

[2022-09-02 06:50] #4688 closed

[2022-09-02 07:44] jimmymadon commented on #5568
@FlicHollis I have made some progress on them and will get them into IBR asap.

[2022-09-02 07:53] jimmymadon commented on #5175
@jamesozzie We've decided to stall this issue for now since it is a minor edge case for a service that is not heavily used. But we discussed the solution which would be to 'disable' the `Optimize` card within "Connect more services" with a message similar to what you have suggested. However, we would also have to show a notification banner on the dashboard in the case when the user has already con

[2022-09-02 07:57] makiost commented on #5746
Since `googlesitekit-settings-connect-module__heading` is already a flex-wrap container, and the badges are both an inline `span`, we don't need to update any css to achieve the desired effect.

[2022-09-02 10:08] mohitwp commented on #5148
### QA Update ❌

@makiost

I found few issues :

**Issue 1:**   Bracket ) character in the ‘All Traffic’ widget on develop branch. Evan confirmed that it is due to this PR.

![image](https://user-images.githubusercontent.com/94359491/188116266-c0318b80-1ae4-494c-b3ff-8f8f0fc826c9.png)

**Issue 2:** Notices for gathering and zero state are no longer appearing on ` develop` branch.

<details>

https

[2022-09-02 10:47] wpdarren commented on #5276
### QA Update: ⚠️

@nfmohit I have included a screencast to prove that I am not losing my mind 😄  but the GA4 notifications aren't appearing. I am wondering if the issue is due to removal of the `ZeroDataState` feature flag where Mohit has [mentioned](https://github.com/google/site-kit-wp/issues/5148#issuecomment-1235316743) that the zero/gathering state notifications are not appearing.  The notif

[2022-09-02 11:11] 0xWTC commented on #5418
please implement this. This feature would be very helpful both for bloggers and SEOs.

[2022-09-02 11:13] EmilioCodes commented on #5418
This would be a VERY useful thing for WordPress.

[2022-09-02 11:38] wpdarren commented on #5308
### QA Update: ✅

**Verified:**

- The Request access button with the URL is rendered for Analytics and Search Console insufficient permission errors.
- When I click the button from the Analytics and Search Console error, I am taken to GA and ask to request access.
- [This new story](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-reporterror--report-error-with-insuf

[2022-09-02 13:47] techanvil commented on #5618
Hi @aaemnnosttv, I have updated the AC. I did have another think about the idea of using a `Map` with the error as the key, and in fact fleshed out the potential AC for it. I do like the idea, but just find it a bit hard to fully get behind the thought of adding this non-serializable component to the error store. What if we want to snapshot the error store later? I suppose we could always rewrite

[2022-09-02 13:49] JiveDig commented on #5418
+1

An option/setting/filter to save these values as post_meta would be equally as important as showing those values in the admin.

[2022-09-02 14:48] FlicHollis commented on #5746
Hi @makiost I notice this has gone to IBR but has not yet got an estimate, please could one be added? Thanks!

[2022-09-02 16:27] taronavagyan commented on #5418
I'd love to see this implemented as well. Keenly following!

[2022-09-02 16:46] techanvil commented on #5345
IB :white_check_mark:

Although, I think the estimate of 3 could be a little optimistic, so am bumping to a 7.

[2022-09-02 18:33] Explorergt92 commented on #5418
+1 Please!

[2022-09-02 19:46] aaemnnosttv commented on #5628
@felixarntz thinking about this a bit more, the connected state is based on the `(account|site)SetupComplete` options, [which are already migrated from the v1 `setupComplete` option](https://github.com/google/site-kit-wp/blob/c52372a7d671838094a5dde70d437bd36d4370c4/includes/Modules/AdSense/Settings.php#L118-L123). So as long as the site is already connected, why not migrate the `approved` v1 acco

[2022-09-02 20:01] aaemnnosttv commented on #5755
@felixarntz are we expecting URLs to potentially change still (re: #5537) or is that issue about the onboarding flow only?

[2022-09-02 20:13] felixarntz commented on #5755
@aaemnnosttv My assumption is they won't change for editing a publication, but still might be. It shouldn't really block this though. Once we know what has to be updated we can make sure to cover any URL changes in #5537.

[2022-09-02 20:17] bscreative commented on #5418
+1 This would be incredibly helpful.

[2022-09-02 20:20] aaemnnosttv commented on #5755
@felixarntz sounds good 👍

Another thing I'm noticing is that the layout of the settings view is rather different than all the other modules as TwG currently has two defined columns and the others are more composed of rows of related settings.

For TwG, this might be more consistent to look like this (markdown because formatting/spacing):

[code]

Alternatively, the type, (prominence|position), co

[2022-09-02 20:38] aaemnnosttv commented on #5756
Thanks @marrrmarrr – yes, I think we should tackle the changes to the widget separately. I'll open an issue for that 👍

As for the language, it reads well to me but "everyone" may be slightly inaccurate as I believe it only shows supporters who have chosen to support publicly, correct? That is, you can receive private contributions that wouldn't cause someone to show up on your wall, right? A mino

[2022-09-02 20:48] aaemnnosttv opened #5785 "Add default title to supporter wall widget"
## Feature Description

The supporter wall widget currently has no default title which causes it to be rendered as basic placeholder in the block-based widgets editor. When initially adding the widget, it should have a default title.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The TwG supporter wal

[2022-09-02 21:02] aaemnnosttv commented on #5785
@marrrmarrr over to you to define the default title 👍

[2022-09-03 00:47] wpdarren commented on #5739
### QA Update: ✅

**Verified:**

- The description copy matches the one in the Figma design in the create publication screen.
- The [story](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/modules-thank-with-google-setup--create-publication) matches the copy in the Figma design.

![image](https://user-images.githubusercontent.com/73545194/188249258-320eef84-17cf-4e65-98ed-081dec

[2022-09-03 01:00] wpdarren commented on #5740
### QA Update: ✅

**Verified:**

- According to the figma designs the SVG graphic for TwG should be `325 x 206`.  I went through the setup screens and confirmed that the SVG matches the designs.

![image](https://user-images.githubusercontent.com/73545194/188249652-f5474a7a-8540-42ac-bc9b-92f6391e41fc.png)

[2022-09-03 01:07] wpdarren commented on #5712
### QA Update: ⚠️

I am trying to find a site that I have access to live AdSense data. For some reason I am unable to see data from our usual testing site.  Will pick this up on Monday and get moved forward.

[2022-09-03 02:34] aaemnnosttv opened #5786 "Update `setup-node` action use to simplify builds with v3 features"
## Feature Description

We currently use the `setup-node` GitHub action in many of our jobs, which also includes some extra boilerplate to read the node version from our `.nvmrc` file and then provide that to the action.

As of v3 of the action, it now supports a [`node-version-file`](https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#node-version-file) argument, essentially fi

[2022-09-04 02:38] kuasha420 commented on #5786
Nice find! New version of `setup-node` also has built in `npm` caching, is that something to include here as well so we can get rid of our custom one as well?

[2022-09-04 22:58] wpdarren commented on #5548
@makiost I would like to get this moved forward today, so please could you let me know if this is an issue with the work on this ticket, or, do you want me to create a new ticket? This is only occurring in develop branch right now though, so seems to be a regression from somewhere.

[2022-09-04 23:23] wpdarren commented on #5276
### QA Update: ⚠️

@nfmohit following on from our conversation last week, I am using the latest branch, with oi.ie setup.   I set up Site Kit with a UA and GA4 property.  After setup I am redirected back to the Site Kit Dashboard. I do not see any GA4 banner at all appear. As we discussed the banner was appearing earlier in the week but on the latest develop branch it's not.   I'm conscious that I

[2022-09-05 01:27] mohitwp commented on #5620
**QA Update**

@nfmohit

Verified this ticket for other modules except GA4 because GA4 notifications are currently not appearing on `develop` branch. I will verify this for GA4 module when issue will get resolve.

![image](https://user-images.githubusercontent.com/94359491/188342864-04cf5774-8e15-439f-bdac-9d0cb83ed943.png)

cc @wpdarren

[2022-09-05 01:40] mohitwp commented on #5639
###QA Update ⚠️

@hussain-t
I tried to reproduce the console warning, but I'm not getting `on change` handler console warning on main branch. Is there any way by which I can get this warning ?

Question 2 : When we click on radio buttons in storybook then other radio button is not getting highlight. It's clickable but not getting highlighted like the default one. Is it expected ?

https://user-ima

[2022-09-05 02:01] mohitwp commented on #5659
###QA Update ⚠️

Verified this for user input survey and idea hub module and for other modules also for consistency. But, I'm getting GA4 activation banner on **develop** branch. I don't have access to elasicpress.io site. As per Darren he is getting banner using developer plugin and elasticpress.io site.

![image](https://user-images.githubusercontent.com/94359491/188345395-63fd02a2-c6a2-4b21-b65

[2022-09-05 02:16] wpdarren commented on #5620
@mohitwp Just left a message with you on Slack but I am unsure what this has to do with GA4 notification banner?  I can't see any reference to it in the QAB.  This ticket is to check the incomplete set up of the modules.

[2022-09-05 02:31] mohitwp commented on #5620
### QA Update ⚠️

@nfmohit In Figma design for if Analytics is not connected-text is "Complete setup for Google Analytics 4". Ideally, it should be "Complete setup for Analytics" and currently it is. But just wants to confirm if we are showing this text ""Complete setup for Google Analytics 4" in case of any specific scenario?

**Figma**
![image](https://user-images.githubusercontent.com/94359491/

[2022-09-05 02:57] wpdarren commented on #5659
### QA Update: ✅

**Verified:**

- When completing GA4 setup, the CTA button states "OK, Got it!"

- When completing user input survey, the CTA button states "OK, Got it!"

- When setting up Idea Hub and cancel mid-way through the CTA states "Complete setup"

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/188351694-83c38f4f-15c3-4f94-bc33-584

[2022-09-05 03:05] wpdarren commented on #5620
@nfmohit @mohitwp thanks for the update here 👍   I have just checked this and I think the figma design for this is probably future proofed for when we move to fully-implementing GA4.  This is what I see:

![image](https://user-images.githubusercontent.com/73545194/188352900-54d795b5-27f5-472a-a7b7-5d4484263dd0.png)

Would be good for Nahid to confirm this though.

[2022-09-05 03:11] nfmohit commented on #5620
@wpdarren @mohitwp Thank you for checking.

The behaviour that you're seeing is correct. The Figma design that @mohitwp referenced to actually gets accomplished in #5621. "Connect Google Analytics 4" should only be shown when Analytics is setup but Analytics 4 is not, once #5621 is executed.

[2022-09-05 05:59] makiost commented on #5548
I think we can go ahead with creating a new issue for it. The decoded link seems to be correct:
`https://www.google.com/adsense/new?source=site-kit&url=example.com#/pub-2833782679114991/sites/my-sites`

[2022-09-05 06:14] hussain-t commented on #5639
@mohitwp, regarding your question 1, this was the same issue @eugene-manuilov faced. He couldn't see the console warnings. Please refer to the above discussions. Perhaps try running the stories in your local env.

As for question 2, the `checked` prop is provided only for those two elements in the stories. Highlighting is the gray color when you click, not the green outline, which is `checked`.

F

[2022-09-05 06:41] wpdarren commented on #5548
### QA Update: ✅

**Verified:**

- The `Add site to AdSense` link uses the new account chooser link structure
`https://accounts.google.com/accountchooser?continue=<URL>&Email=<Users Email>`
- The link opens normally if the user is logged in with the same email as the Site Kit user
- The link opens the account chooser if the currently logged in Google account is not the same as the one in Site Kit

[2022-09-05 08:06] makiost commented on #5148
@mohitwp Addressed the issues you pointed out in a new pr 👍

[2022-09-05 11:06] techanvil commented on #5275
Adding a note to mention that the IB and subsequent implementation was a bit wrong here and we should have been checking the result of the `analytics-4` `getProperties` selector to check for an existing property/properties, rather than `getMeasurementID`.

This has come up while QAing https://github.com/google/site-kit-wp/issues/5276 and a followup PR to that issue has been created to fix it: http

[2022-09-05 11:21] techanvil commented on #5276
Having looked into it I have realised this was due to a mistake on my part in the IB for https://github.com/google/site-kit-wp/issues/5275 - which is closed and so it seems appropriate to add the fix here, although I have made a note about it on #5275.

So, I've created a followup PR for this issue with the fix, and also tweaked the QA Brief accordingly.

[2022-09-05 11:31] techanvil commented on #5277
Update: I've realised that this issue should be covering the case where an existing property _does_ exist too. The implementation should not need to change for this, but I will hold off merging the issue until https://github.com/google/site-kit-wp/pull/5793 has been merged so we can confirm that it does indeed work for both cases. Additionally the QAB will need to be updated to cover the "existing

[2022-09-05 11:42] wpdarren commented on #5712
### QA Update: ✅

**Verified:**

_Viewing the shared dashboard_

- As secondary user when viewing  the view-only dashboard, the Performance over the last X days and Top Earning Pages widgets still work as expected within Monetization.
- There are no errors for the AdSense report requests in the Network tab
- When making requests with invalid AdSense report metrics and dimensions they return a 500

[2022-09-05 11:53] Azharhn opened #5794 "error show adsense account in my all sites"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2022-09-05 12:01] mohitwp commented on #5620
### QA Update ✅

Verified

- Verified that the connected services only display a Connected string instead of {module} is connected.
- Verified that the service which was abandoned in the setup process shows a button that says Complete setup for {module} with a slightly changed icon according to Figma, clicking on which takes user to the module setup flow.
- Compared from figma design.
- Verified i

[2022-09-05 12:43] jamesozzie commented on #5794
Hi @Azharhn

Thanks for opening a GitHub issue. So we can determine more on this please [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) over on the plugins WordPress support forums, where we provide initial support assistance.

Please include all relevant details in order for us to assist. This may include [sharing your Site Health information](https://docs.g

[2022-09-05 12:43] #5794 closed

[2022-09-05 12:55] techanvil commented on #5760
IB :white_check_mark:

Good shout on `useMountedState` :+1:

[2022-09-05 13:11] wpdarren commented on #5279
### QA Update: ✅

**Verified:**

- On the "Reminder" banner, when I click "Remind me later" the tooltip appears as per the AC.
- On the "Setup" banner, when I click "Cancel"  the tooltip appears as per the AC.
- The "Maybe later" functionality of the AdSense Connect CTA still works as expected, the tooltip appears.
- Checked desktop and mobile. Usually tooltips do not appear on mobile but we made

[2022-09-05 14:21] techanvil opened #5795 "Rewrite reducers to use Immer."
## Feature Description

We may wish to follow up https://github.com/google/site-kit-wp/issues/4864 with some additional work to refactor existing reducers to use Immer where it would improve readability and maintenance.

Adding here as a placeholder which may be repurposed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acc

[2022-09-05 15:53] jimmymadon commented on #5760
@techanvil Nice catch - have updated the PR!

[2022-09-05 17:41] iconio opened #5797 "Erro: Quota Error: User Rate Limit Exceeded."
## Bug Description

When trying to connect with the Analytics Service a error happens:
*Erro: Quota Error: User Rate Limit Exceeded.*

In my case, there is only 3 property in 1 account.

## Steps to reproduce

1. Install SiteKIT Wp plugin
2. Connect with your Google Account
3. Setup the Analytics service

## Screenshots
https://ibb.co/9hL2C6c

## Additional Context

 - PHP Version: 7.4.28
 - OS: L

[2022-09-05 17:44] techanvil commented on #5276
Hey @wpdarren, apologies for not spotting this earlier - I guess I applied the fix in a bit of a hurry.

I've realised it looks a bit glitchy when showing the "existing property" variant because it first shows the "no existing property" variant for a moment before switching.

https://user-images.githubusercontent.com/18395600/188495153-724314f1-7a6f-4d7d-ba55-8b51bdd8373e.mp4

I have a proposed fi

[2022-09-06 00:29] wpdarren commented on #5744
### QA Update:  ✅

**Verified:**

- The CTA buttons appear, aligned as per the AC.
- The `button twg-button` and div `counter-button elements` has CSS class `googlesitekit-twg-wrapper` applied.
- Tested this on desktop and smaller screen sizes

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/188523560-9859cb94-03ab-4782-bc8b-54901b0eac5d.png)

[2022-09-06 04:23] mohitwp commented on #5429
### QA Update ✅

Verified 👍

- Followed the steps to reproduce the issue and able to reproduce issue.
- Verified when google a/c have analytics access. User is able to edit analytics settings and no error notice is showing.
- Verified when google a/c doesn't have analytics access. User is not able to edit analytics settings and  there are no errors displaying about that same lack of access and no

[2022-09-06 04:45] mohitwp commented on #5486
### QA Admin ✅

Verified :

-  Verified A new pointer is added and show up in below listed cases-

     -  The user is currently on the WordPress dashboard (index.php).
     -  The user has only shared / view-only access to Site Kit (i.e. cannot authenticate).
     - The user has dismissed neither that WP admin pointer nor the shared splash dismissal.

- When the pointer is dismissed, it gets dism

[2022-09-06 04:52] hussain-t commented on #5490
Just a note, based on the GH history, @jimmymadon, you seemed not to have it assigned to you while in **Execution**.

[2022-09-06 07:31] mohitwp commented on #5639
Thank you @hussain-t

@makiost This warning is visible only on local server.  I don't have a local set up with Site Kit because we use InstaWP. I would suggest that this might be a `QA:Eng `  ticket.

Because I took repo clone and tried to run storybook locally, but I'm getting NPM related errors, for which I updated NPM to compatible version but still getting errors and resolving those errors wil

[2022-09-06 08:21] techanvil commented on #5760
Nice one @jimmymadon.

IB :white_check_mark:

[2022-09-06 08:52] wpdarren commented on #5736
### QA Update: ✅

**Verified:**

- A new section Supporter wall widget has shown up among the settings.
- The new section is displayed  according to the ACs and Figma
  - It shows a simple description text according to the Figma designs if no widget is placed.
  - It shows the widget position(s) if a widget is placed.
- The link to the widget settings is visible, shows Activate/Edit accordingly, a

[2022-09-06 09:27] eugene-manuilov commented on #5746
IB ✔️

[2022-09-06 09:38] wpdarren commented on #5760
### QA Update: ✅

**Verified:**

-  The console error does not show when you click on the `Set up now` CTA button.
-  Existing Banner Notifications, i.e. Module Recovery Alert notification should continue to work (see note)

**Note:** Currently, the zero and gathering data state notifications are not working due to the bug in #5148 which is currently being worked on. I checked to make sure the oth

[2022-09-06 10:06] wpdarren commented on #5276
@techanvil I've just set up a test and yes, I can see what you mean.  I think the progress bar is a good solution so that there's no confusion with the flicker.  I personally, feel that the fix should be part of this ticket.   With regard to the progress bar I feel it should be the full width since the previous notification is full width.

[2022-09-06 11:03] eugene-manuilov commented on #5749
IB ✔️

[2022-09-06 11:19] eugene-manuilov commented on #5757
@jimmymadon, we don't need to change anything in the js, what we need to do is to add correct defaults to the settings class: https://github.com/google/site-kit-wp/blob/f4972bfccc439edd6efdc46fbb9fb9f200c0bb69/includes/Modules/Thank_With_Google/Settings.php#L64-L66

[2022-09-06 11:27] tofumatt commented on #5445
Let's skip that for now then and just go with how it currently works. We can change it in a follow-up issue/PR, but I think it's fine and I prefer the simpler approach for now, at least to start with 😄

[2022-09-06 12:13] eugene-manuilov commented on #5754
@nfmohit, thanks for IB, but the idea for this ticket is not to refactor the chip component itself. What we need here is to update styles for chips used in the TwG settings/setup forms to look like on the Figma design and add the `All` chip that once selected, will select all chips (similarly to how it works for dashboard sharing).

[2022-09-06 12:16] eugene-manuilov commented on #5734
IB ✔️

[2022-09-06 12:21] sebastianmantel commented on #5151
Here is a quick mock that I just made for this issue. I'll need to get the final titles tho...
Take a look and let mw know what do you think!

![settings—1](https://user-images.githubusercontent.com/102580610/188633561-005e1f37-d81b-4204-b7de-ba96641dfaf4.jpg)

[2022-09-06 12:21] eugene-manuilov commented on #5772
@hussain-t why do we need to remove that code? For me it looks correct and we shouldn't change it. The only thing that I think we need to do there is to decouple it from the object passed to the `receiveCapabilities` action.

[2022-09-06 12:22] sebastianmantel commented on #5151
here is the figma file https://www.figma.com/file/f1I9Mc0ITE6Uk0qiTRbggK/GM2%2B?node-id=1011%3A261

[2022-09-06 12:38] techanvil commented on #5276
Thanks @wpdarren - good observations, we should be pre-selecting a GA4 property (or "Set up a new property") and with an option selected the dropdown should no longer have the red error outline.

I'll bring this back into Execution and address these points and the progress bar width too. Cheers.

[2022-09-06 12:45] wpdarren commented on #5277
### QA Update: ⚠️

@techanvil I have one observation, which is linked with the #5276 issue.

- To test No GA4 property available:

When I click on `Create Property` the spinner appears within the button, but I see a flicker of the screen with the GA4 dropdown box for a second or two as you can see in the screencast below.  It does create GA4 property and the correct splash screen appears when it h

[2022-09-06 13:02] tofumatt commented on #4585
IB ✅

[2022-09-06 13:04] wpdarren commented on #5490
### QA Update: ✅

**Verified:**

- The `allTrafficWidget` feature tour still works normally.

https://user-images.githubusercontent.com/73545194/188642380-c0538a75-9589-4cce-a8e8-0265e6a2a9da.mp4

[2022-09-06 13:26] hussain-t opened #5798 "Data received from the global variable in the store are referenced globally"
## Bug Description

Follow-up with #5772, not only the `capabilities` data but other object properties that receive data from the global variable have the same problem, i.e., the way they received preserves the reference to the object defined on the global, for example, the `_googlesitekitUserData.user` object is the same as the result of the `getUser()` object in the data store and changes to one

[2022-09-06 13:27] wpdarren commented on #5277
QA Update: ✅

The flicker issue reported above will be fixed as part of 5276, so moving this to approved as the test pass QAB.

**Verified:**

_No GA4 property available:_

- Under the No existing Google Analytics 4 property found heading, if Create Property is clicked, it shows a spinner and creates a new GA4 property and measurement ID.

`GA4 properties exist, but not connected:`

- Under the Co

[2022-09-06 13:47] aaemnnosttv opened #5799 "Release 1.83.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-09-06 13:56] eugene-manuilov commented on #5074
@tofumatt why do we need to check whether the Analytics module is available when we check if the Tag Manager module is active? Perhaps you meant "_and first check for isModuleAvailable( **MODULES_TAGMANAGER** )_"?

Also could you please add a note in IB to mention that those changes should be done in other modules that use actions and selectors from the Tag Manager module? Just for clarity. Thanks

[2022-09-06 14:19] eugene-manuilov commented on #5752
IB ✔️

[2022-09-06 14:22] eugene-manuilov commented on #5072
IB ✔️

[2022-09-06 14:27] tofumatt commented on #5437
Ah, good shout @techanvil. I thought the chip checkmark would work, but I guess not. Using that SVG icon directly should be fine though.

[2022-09-06 15:08] nfmohit commented on #5754
I have included the addition of the `All` chip, but kept the rest as is since the designs for the Dashboard Sharing User Role Select chips are as same as these Post Type chips (as discussed in Slack). Thank you, @eugene-manuilov!

[2022-09-06 15:27] nfmohit commented on #5710
### QA:Eng Verified ✅

- Built the plugin in development mode with `npm run build:dev`.
- The TwG module still shows up in non-https sites. ie. `http://sitekit.10uplabs.com/`

[2022-09-06 15:56] aaemnnosttv commented on #5772
@eugene-manuilov while I don't think we necessarily need to _remove_ that code as part of this issue, I do feel we probably shouldn't be updating our globals at runtime. Since we need to fetch capabilities now for refreshing, maybe we should update this selector to use a preloaded response and then refreshing would simply invoke the fetch again rather than using a global at all. What do you think?

[2022-09-06 15:56] marrrmarrr commented on #5151
Thanks @sebastianmantel ! This seems like a simple enough change (add some more separation lines and clear headings. @aaemnnosttv what are your thoughts on this approach to addressing this, should be pretty low effort, right?

[2022-09-06 16:02] aaemnnosttv commented on #5798
Thanks @hussain-t – as we discussed, this ties into a recent discussion I had with @tofumatt around potentially introducing immutability more strictly in the data stores. We could address this with a smaller change as well, but I feel like a more centralized solution will be best rather than relying on a new convention.

[2022-09-06 16:42] hussain-t commented on #5798
Thanks for the consideration, @aaemnnosttv.

[2022-09-06 16:45] hussain-t commented on #5772
@aaemnnosttv, should I remove that part from the IB to keep the IB specific to the issue so we can tackle updating the global variable separately?

[2022-09-06 16:57] techanvil commented on #5437
Cheers @tofumatt, SGTM.

IB :white_check_mark:

[2022-09-06 18:04] felixarntz commented on #5628
@marrrmarrr I discussed the approach here earlier today with @aaemnnosttv, and we aligned on what would be the best way to migrate users that are still on V1 statuses. I've captured the plan in the ACs, pending the exact wording for the notice we're envisioning. Please have a look, though it may be helpful to talk through this in person for more context.

[2022-09-06 18:14] aaemnnosttv commented on #5148
@makiost is this ready for review again? I see it's still with you in Execution.

[2022-09-06 19:59] aaemnnosttv commented on #5772
@hussain-t SGTM 👍

[2022-09-06 20:04] aaemnnosttv commented on #5266
@jamesozzie can you take a look again now that https://github.com/google/site-kit-wp/issues/5429 is merged?

[2022-09-06 20:07] aaemnnosttv commented on #5070
IB ✅ 😄

[2022-09-06 20:09] aaemnnosttv commented on #5520
@felixarntz yes we could although it would need to be configured in a way that it would only run as part of the on-demand version of the second part of the tour, otherwise it may dismiss the main tour as soon as you get to the 2nd/3rd step that triggers it. The main tour only imports the `steps` from the other, so that shouldn't be a problem.

[2022-09-06 20:19] makiost commented on #5148
@aaemnnosttv All the fixes from QA are done, I just need to update one E2E test for it to be complete. Since the gathering data notifications are no longer hidden behind a feature flag, the notifications test fails, due to the gathering data notification being showed instead of the expected test notification.

[2022-09-06 21:26] aaemnnosttv commented on #5618
Thanks @techanvil! It certainly helps to see things side-by-side when decisions get tricky/nuanced so I think this qualifies 😄

I hear you. Regarding concerns about serializability: `Error` instances aren't serializable either, so as long as we're aiming for compatibility with these then that wouldn't be possible in either case.

It's also worth noting that [`@wordpress/data` already uses `Map`s i

[2022-09-06 22:11] felixarntz opened #5801 "GM3 Branding Phase 1"
Issues related to switching Site Kit to use actual Material 3 components

[2022-09-06 22:12] felixarntz commented on #2510
@aaemnnosttv This has been stalled for a while, will close this now in favor of #5801.

[2022-09-06 22:12] #2510 closed

[2022-09-06 22:14] felixarntz opened #5802 "Set up @material/web for use in the plugin"
The [@material/web](https://www.npmjs.com/package/@material/web) package should be added to Site Kit (behind a feature flag), as a starting point to switch to Material 3.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The [@material/web](https://www.npmjs.com/package/@material/web) package should be a

[2022-09-07 05:14] hussain-t commented on #5772
@aaemnnosttv, this will not be fixed if we don't address updating the global variable.

Let's say we execute this condition after addressing the fix only made in the `getCapabilities` resolver, and then we execute the same condition after dispatching the `receiveCapabilities` action; it still evaluates to `true`, as you can see in the screenshot:

![Screenshot 2022-09-07 at 10 25 19 AM](https://us

[2022-09-07 08:42] eugene-manuilov commented on #5772
@hussain-t I think what Evan says is a more appropriate way of resolving the issue. Instead of dealing with global variables, we should use our API preload functionality to preload "refreshed capabilities" and then use it as a starting point for user capabilities. Here is a list of steps that we need to do:

1. Remove https://github.com/google/site-kit-wp/blob/412f9126c6bbb6736faa33107d1a3346232e2

[2022-09-07 08:43] eugene-manuilov commented on #5772
@aaemnnosttv if said in the previous comment looks good to you, then do we need to update AC?

[2022-09-07 08:59] eugene-manuilov commented on #5754
Thanks, @nfmohit. IB ✔️

[2022-09-07 09:14] eclarke1 commented on #5798
Could I kindly ask we add some labels on this issue to indicate priority level and a Type, thank you

[2022-09-07 09:36] mohitwp commented on #5639
Thank you @makiost

### QA Update ✅

Verified

- Verified on localhost by @makiost . No warning or errors regarding the `onChange-handler` is generating.
- Verified `?path=/story/global--image-radios` story under storybook.
-  Verified user is able to select radio radio buttons.

<details>

Local environment-

https://user-images.githubusercontent.com/30048523/188823275-0deec0d4-ca8b-4a6f-bcc1-3f0

[2022-09-07 09:59] techanvil commented on #5747
IB :white_check_mark:

[2022-09-07 10:47] wpdarren commented on #5287
### QA Update: ✅

**Verified:**

- Regression test the "Recover modules" banner.
  - Viewing the Dashboard as the first user and I see see the "Recover modules" banner.
  - When I press the Recover button, to recover the modules, the banner disappears and the modules are recovered.

![image](https://user-images.githubusercontent.com/73545194/188859743-88cee3fa-2e81-4074-a323-8eb928314bb3.png)

![i

[2022-09-07 11:56] techanvil commented on #5772
@eugene-manuilov, while I see nothing wrong with your general point about moving from these inline JS snippets to the preloaded routes system, when it comes to the particular issue we are trying to solve here, this might end up just kicking the can a bit down the road. It turns out we are also sharing references between our globally visible preloaded data and Redux. For example:

![image](https://

[2022-09-07 12:04] mohitwp commented on #5148
### QA Update ✅

Verified

- Verified for the site which is in default gathering state.
- Verified for the site which is in forced gathering or zero state.
- Verified on main branch.
- On main branch 'Zero data state' feature flag not showing under tester plugin and zero data both state 'gathering and zero' working fine.
- No console errors.
- Also, CTA for both gathering and zero data state are n

[2022-09-07 13:01] techanvil commented on #5618
Hi @aaemnnosttv, thanks for the comment/suggestion - I like the idea of doing a reverse lookup and have updated the AC, it's ended up as a bit of a mix between the two proposals.

Yup, this aspect did occur to me too... My thoughts being along the lines of, the `Error` object case is presumed to be the outlying, not-so-expected scenario, and we should be able to address it by updating the calls to

[2022-09-07 13:02] tofumatt commented on #4864
Moving directly to Approval as issue does not require QA.

[2022-09-07 14:25] jamesozzie commented on #5266
All looks good now, thanks @aaemnnosttv

![image](https://user-images.githubusercontent.com/41326532/188903251-726f74f6-c43b-4204-9a96-f96f479ed1c3.png)

[2022-09-08 01:42] wpdarren commented on #5410
### QA Update: ✅

**Verified:**

- The link is 'disabled'/'unclickable' when viewing AdSense settings while the Publisher ID is loading.
- Ran through a smoke test various links within the plugin - especially links with the "external" image/icon.

https://user-images.githubusercontent.com/73545194/189014803-bbd66921-195f-4e25-af90-bf79080abbab.mp4

[2022-09-08 11:48] techanvil opened #5805 "Ensure missing edit scope is handled for the "existing property" variant"
## Feature Description

Following on from https://github.com/google/site-kit-wp/issues/5278, we need to add the same messaging for the "existing property" variant of the `SetupForm` when the option to "Set up a new property" is selected in the dropdown and the _edit_ scope does not exist.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators

[2022-09-08 13:21] eugene-manuilov commented on #5805
@techanvil the proposed approach to automatically redirect users to oauth flow is inconsistent with the permission scopes granting approach we use everywhere else. We shouldn't check manually whether the user has certain permissions or not, instead we should submit a request to out API and act accordingly to the returned error in the response.

It means that when the user clicks on the "create a n

[2022-09-08 13:45] FlicHollis commented on #5494
Hi @makiost @aaemnnosttv @techanvil I am removing this ticket from Sprint 83(and will not add to Sprint 84) as we are still waiting on the resolution on the AC in 5618.
We can add this to a sprint once 5618 is in execution is that sounds ok to everyone?
Thanks
cc @eclarke1

[2022-09-08 14:02] tofumatt commented on #5751
Looks good, but the `contentProps` approach isn't my favourite, just because it seems a bit less intuitive/ergonomic. Any reason not to accept either:

1. a more limited number of props to pass through (eg. just `style`) rather than `contentProps`, or
2. add a `…otherProps` to `ImageRadio` [here](https://github.com/google/site-kit-wp/blob/a604447afae4cc1b4c3f0760889dd15985af026d/assets/js/componen

[2022-09-08 15:16] jamesozzie commented on #4487
I wasn't able to recreate this by following the steps to recreate in the main body of this issue. https://recordit.co/rLQ2PeDfzK

One of the reasons I was not able to recreate is Site Kit doesn't recognize an existing GA tag if this tag was added via Tag Manager and the Tag Manager snippet was added to a site by manually inserting the GTM code snippets (see #4103).

I also tried various configurat

[2022-09-08 15:45] FlicHollis commented on #4487
Thanks so much @jamesozzie
@aaemnnosttv for now I will remove from sprints until Adam can take a look.
Thanks all!
cc @eclarke1

[2022-09-08 16:05] techanvil commented on #5805
Hi @eugene-manuilov, thanks for calling this out. As we have clarified further on Slack, the intention is in fact to avoid showing the permissions modal at all, and navigate directly to the OAuth page when pressing the "Create property" or "Connect" CTA in absence of the _edit_ scope.

@hussain-t has made an update to the PR for #5278 to address this, which has now been merged.

All we still need

[2022-09-08 17:09] eugene-manuilov commented on #5805
Thanks, @techanvil. IB ✔️

[2022-09-08 17:09] #5410 closed

[2022-09-08 17:19] #5490 closed

[2022-09-08 17:25] #5486 closed

[2022-09-08 17:33] #5429 closed

[2022-09-08 17:35] #5738 closed

[2022-09-08 17:43] felixarntz commented on #5620
## Approval ⚠️

It's odd UX here that when clicking one of the "Complete setup for ..." buttons the panel still opens before you get taken to the setup screen. We should make sure the button click in that case does not toggle the panel. All the rest of the panel header should still toggle it, just not the button within it.

[2022-09-08 17:44] #5740 closed

[2022-09-08 17:45] #5739 closed

[2022-09-08 17:49] nfmohit commented on #5620
@felixarntz I noticed it post merge (should've noticed earlier, my bad, apologies) and included a fix for it in #5803 (#5621). I can create a new PR addressing only this in the meantime if preferred.

[2022-09-08 17:53] #5743 closed

[2022-09-08 17:53] #5737 closed

[2022-09-08 17:57] felixarntz commented on #5736
## Approval ⚠️

@nfmohit @tofumatt One tiny tweak to make here: We should restrict the "All sidebars" special case to only show when there are at least 2 sidebars in total. If the site has only 1 sidebar and that is populated we should rather show just that sidebar name like usually.

[2022-09-08 18:21] felixarntz commented on #5620
@nfmohit A separate PR just to fix this for here would probably be best, since #5621 may only land in the following release, while this here will go out to users next week. Thank you!

[2022-09-08 18:26] felixarntz opened #5806 "Enhance TwG HTTPS restriction to be based on home URL rather than current request"
#5710 implemented logic to hide the TwG module for sites which are not on HTTPS, however it did so in a somewhat unreliable way: The `is_ssl()` function is primarily for whether the current request is HTTPS, not necessarily about how the site is generally configured. More importantly, it means this is focused on how WP Admin is configured rather than the frontend, which is what really matters here

[2022-09-08 18:28] felixarntz commented on #5710
## Approval ⚠️

@kuasha420 @nfmohit @eugene-manuilov We'll approve this for now, but using the `is_ssl()` function is not really the most suitable approach here, since it is more focused on the current request rather than how the site is configured. Since we need HTTPS primarily in the frontend of the site, we should instead rely on something like `home_url()`.

This doesn't need to be fixed in th

[2022-09-08 18:28] #5710 closed

[2022-09-08 18:31] felixarntz commented on #5277
## Approval ⚠️

@wpdarren @nfmohit @techanvil Since part of this will only be fixed in #5276, we can only really approve this one once that is through as well. Something we have already noticed and consider problematic is that there is a progress bar showing up after clicking the button. This should not really need to be there, as the button itself already has the loading indicator, so we don't ne

[2022-09-08 18:34] #5760 closed

[2022-09-08 18:35] #5639 closed

[2022-09-08 18:39] #5279 closed

[2022-09-08 18:40] #5659 closed

[2022-09-08 18:41] #5662 closed

[2022-09-08 18:50] felixarntz commented on #5722
## Approval ❌

@nfmohit @eugene-manuilov There is one small but critical problem here: See https://github.com/google/site-kit-wp/pull/5729#pullrequestreview-1101244882, the `sk_url` parameter value is currently double encoded. The ACs mention that the parameter should be escaped, but `addQueryArgs` already handles that, so we don't need to encode the value itself when using that function.

[2022-09-08 19:07] aaemnnosttv commented on #4619
## Approval ⚠️

I can't test this on an M1 but @tofumatt already confirmed in the initial review that it worked for him. However, I'm getting failures on my Intel machine both times after running twice.

The first run produced 3 total failures, 2 of which were timeouts

[code]
The third was this one which seems to be a 0% diff but different size output?
<img width="1293" alt="image" src="https://u

[2022-09-08 19:17] #5541 closed

[2022-09-08 19:18] #5731 closed

[2022-09-08 20:02] aaemnnosttv commented on #5548
## Approval ❌

The service URL for AdSense is not being constructed in the same way as before as noted above. It's now applying the `path` as a URL hash instead of as part of the URL's path as it was before. This was likely copied and pasted from another module, but not all service URLs are built the same way. We want to keep the service URLs built the same as before, only removing the `authuser`

[2022-09-08 20:03] #5505 closed

[2022-09-08 20:09] #5148 closed

[2022-09-09 00:26] tofumatt commented on #4619
Hmm, I'm not currently able to run the tests on Intel on a Mac, just on a Windows PC I have. And even then, I usually run them in a Linux VM. Even when I'd run the VRTs on my M1 in "Intel" it'd be x86 emulation running a Linux VM, and it was so slow that I'd often get weird failures.

I think we'll need someone on Intel to test, but I think @eugene-manuilov mentioned the tests were a bit flakey fo

[2022-09-09 00:45] tofumatt commented on #5548
Not sure the changes require further QA as they weren't flagged in the first round of QA, so moving this back to Approval with @aaemnnosttv. If it should go through QA again we probably should update the QA Brief.

[2022-09-09 02:53] wpdarren commented on #5799
### QA Update: ✅

- Completed testing on 1.83.0:
- Went through sites with zero, gathering data and live data.
  - Went through QA checklist and found a few non regressions that I'll create tickets for.
  - Didn't complete any QA on TwG, Dashboard Sharing or GA4 as they are behind feature flag and will be tested separately when required.
  - Ran some additional checks on zero and gathering data st

[2022-09-09 03:15] wpdarren commented on #5548
@aaemnnosttv @tofumatt please let me know if there's any additional QA to be completed on this ticket. I did reference the odd behaviour of the AdSense and had a note to create a ticket, but didn't realise the urgency of this and should have flagged it outside of the ticket. Happy to take a further look at this if the QAB is updated.

[2022-09-09 03:24] wpdarren commented on #5277
@felixarntz

The initial issue was that the screen flickers when the button is created, so this progress bar was introduced because of that.  Since 5276 is in QA, should both of these tickets but looked at because the progress bar does appear on screen after clicking on the button in the different states.

c.c. @nfmohit @techanvil

[2022-09-09 09:18] hussain-t commented on #5308
Thanks for pointing it out, @felixarntz 👍 I have fixed it in a follow-up [PR](https://github.com/google/site-kit-wp/pull/5810). Here is the fixed screenshot:

![Screenshot 2022-09-09 at 2 45 19 PM](https://user-images.githubusercontent.com/24408261/189316578-0dbbebe2-7411-41ae-80e4-ae4721e9a751.png)

[2022-09-09 09:30] nfmohit commented on #5620
@felixarntz Understood. Added a new PR targeting `main`. Thank you!

[2022-09-09 10:08] wpdarren commented on #5621
### QA Update: ⚠️

@jimmymadon I have a few observations:

1)  It doesn't appear to mention this in the AC/QAB, but can I safely assume that the tooltip does not appear when the account has a UA and GA4 property?  I select the account, and then choose UA property. The GA4 section then appears for me to select the GA4 property, but no tooltip appears.  See screencast.

2) The Tooltip background col

[2022-09-09 10:22] jimmymadon commented on #5757
@eugene-manuilov Completely missed that. Thanks - have updated the IB.

[2022-09-09 11:46] wpdarren commented on #5276
### QA Update:  ⚠️

@aaemnnosttv @techanvil  I have an observation:

1) As you can see from the screenshots below, the `Place Google Analytics 4 code` toggle is enabled.  Looking at the Stories and figma designs it is disabled. I think it should be enabled, but didn't want to assume. Please could you confirm?

![image](https://user-images.githubusercontent.com/73545194/189339821-3789e39f-b9af-4061

[2022-09-09 12:20] eugene-manuilov commented on #5757
IB ✔️

[2022-09-09 12:51] tofumatt commented on #5736
@felixarntz Makes sense, thanks! I've added a small follow-up PR against `main` for the fix 👍🏻

[2022-09-09 13:27] aaemnnosttv commented on #5736
I confirmed the change when reviewing so this doesn't need to go through full QA again 👍

Thanks all!

[2022-09-09 13:36] wpdarren commented on #5620
### QA Update: ✅

- The connected services only display a Connected string instead of {module} is connected.
- When the service which was abandoned in the setup process shows a button that says `Complete setup for {module}` with a slightly changed icon. Clicking on it takes you to the module setup flow.
- When clicking on the button it doesn't open the respective panel.

https://user-images.github

[2022-09-09 13:47] eugene-manuilov commented on #5722
Good catch, @felixarntz. Added a PR #5814 that fixes it.

[2022-09-09 13:51] wpdarren commented on #5308
### QA Update: ✅

Apologies, I should have picked up on this!   I can confirm that the 'Get Help' text is aligned to the request access text.

![image](https://user-images.githubusercontent.com/73545194/189365800-d6072cbd-9ec0-4009-a2a2-1c9ba02ee115.png)

[2022-09-09 13:56] wpdarren commented on #5548
@aaemnnosttv noted! I'm going to QA this with a fresh brain on Monday morning my time.

[2022-09-09 14:37] eugene-manuilov commented on #5772
I agree with you, @techanvil. Do you mind creating a new ticket for preloaded data? We can fix all preloaded data issues all together.

[2022-09-09 15:02] tofumatt commented on #5799
QA ✅ from me.

Didn't focus on Dashboard Sharing or other features behind a flag.

Zero data states looked good on new sites. External links look good too. Aside from that mostly standard smoke testing and all seems good 👍🏻

[2022-09-09 17:13] aaemnnosttv commented on #5722
## Approval ✅

All good now 👍

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/1621608/189407308-4023ada0-125a-4ec3-8a73-a252231e4178.png">

[2022-09-09 17:13] #5722 closed

[2022-09-09 17:17] #5620 closed

[2022-09-09 17:21] aaemnnosttv commented on #5308
LGTM 👍
<img width="254" alt="image" src="https://user-images.githubusercontent.com/1621608/189408846-c0e9c9bd-8431-409d-8fe0-d77100f9520f.png">

[2022-09-09 17:21] #5308 closed

[2022-09-09 17:23] #5736 closed

[2022-09-09 17:33] aaemnnosttv commented on #5712
Did a few extra checks in the context of the module owner and a view-only user. Confirmed non-allowlisted metrics and dimensions raised errors for the view-only user but not the owner, as expected 👍

[2022-09-09 17:33] #5712 closed

[2022-09-09 17:59] aaemnnosttv opened #5815 "Search Console raises failed request on view-only dashboard if not shared"
## Bug Description

This has come up a few times in different places but seems to have slipped through the cracks.

`ZeroDataStateNotifications` is loaded on the shared dashboard and triggers requests for Analytics and Search Console under normal conditions which will fail if the module is not shared with the user's role. This has since been fixed for Analytics but is still possible for Search Con

[2022-09-09 18:12] aaemnnosttv opened #5816 "Inconsistent `Date` usage resulting in different values between timezones"
## Bug Description

This came to my attention from a date-related test failing for me locally (currently in EST) but not in CI or for others. After taking a closer look, I found the problem which we have solved elsewhere but wasn't used in this place which took someone running it in the right timezone to expose this flaw.

The problem has to do with how `Date` parses a string given to it, and how

[2022-09-09 19:58] aaemnnosttv commented on #5772
Yeah, I was also thinking we should rename to `getCapabilities` as the refresh is really just invoking a fetch and updating state like a normal fetch store 👍  My only concern about this change is that it will change capabilities to no longer be available immediately on load, so we may need to do something extra to account for that.

@techanvil that's a good point about the preloaded data too. Turn

[2022-09-10 10:14] jimmymadon commented on #5621
@wpdarren Thanks for the thorough checks as always!

Couldn't see any attached screencast. In my testing, I do see the tooltip even if the account has a UA and GA4 property but the GA4 property was not connected in the plugin (by deleting the GA4 settings from the database).

I think this was a classic misunderstanding where the designs were before the Figma. I agree - the tooltip should be the st

[2022-09-10 10:33] nfmohit commented on #5722
Great catch, @felixarntz!

Thank you for addressing this in my absence, @eugene-manuilov!

[2022-09-10 10:36] nfmohit commented on #5736
Thank you for pointing that out, @felixarntz!

Thank you for addressing this in my absence, @tofumatt!

[2022-09-10 10:39] nfmohit commented on #5621
@jimmymadon is correct. This was initially specced to open the edit screen, but later changed to open the setup screen, as described [here](https://github.com/google/site-kit-wp/issues/5621#issuecomment-1231442591).

Thank you for addressing the follow-up PR, @jimmymadon!

CC: @wpdarren

[2022-09-10 10:56] nfmohit commented on #5799
## Release Tested ✅

- Release tested 1.83.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified changes I've been involved with.

[2022-09-10 11:03] nfmohit commented on #5751
@tofumatt Very fair point, thank you for raising it!

The only reason I used `contentProps` because we are passing the props to the [child div](https://github.com/google/site-kit-wp/blob/a604447afae4cc1b4c3f0760889dd15985af026d/assets/js/components/ImageRadio.js#L83-L91) and not [the wrapping/parent div](https://github.com/google/site-kit-wp/blob/a41ec5332b3949e6b21731715b63e9dff08aaa16/assets/js/

[2022-09-10 14:22] jimmymadon commented on #5799
QA ✅

- Went through the handbook checklist and also smoke tested features I was involved (DS and GA4 activation banner) which are behind a feature flag but merged in.

[2022-09-11 11:39] MahendraBishnoi29 commented on #5471
can i take this issue? @aaemnnosttv

[2022-09-11 19:57] kuasha420 commented on #5799
QA: :heavy_check_mark:

* Went through the release testing on a new site (no data) and an old site and didn't see any issues in UI or console.
* Did some brief smoke testing.

LGTM.

[2022-09-11 20:45] makiost commented on #5799
## QA ✅

* Went through own changes
* Smoke tested the app
* Checked for any apparent console or UI errors

[2022-09-12 05:40] mohitwp commented on #5799
### QA Update ✅

- Went through QA Check list
- Zero Data state related scenarios.
- Verified changes under settings view.
- Not tested Dashboard Sharing, TwG and GA4 related scenarios.

[2022-09-12 05:58] hussain-t commented on #5799
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-09-12 07:37] mohitwp commented on #5678
@hussain-t Can you please provide more information under QAB here apart from the smoke test of whole plugin like if there is any module, component, or functionality can get impact due to the changes introduced under this PR.
Thank you !

cc @wpdarren

[2022-09-12 10:02] wpdarren commented on #5548
### QA Update: ✅

### Verified:

- The deep links work the same as it did before.
- Checked all appropriate modules including AdSense, GTM, and Google Analytics.
- Went through the module setup including all the different statues for AdSense.
- The issue I reported above about the AdSense link not going to Sites now works as expected.

[2022-09-12 10:19] hussain-t commented on #5772
Thanks, @aaemnnosttv @eugene-manuilov, and @techanvil. I have updated the IB to copy the `permissions` within the `reducerCallback` and update the `getCapabilities` resolver accordingly. LMK if this looks good. I think we can simply copy the `permissions` as part of this issue and tackle things more holistically in #5798.

@aaemnnosttv WDYT?

[2022-09-12 10:33] eclarke1 commented on #5070
Changing estimate to a 3 as we do not have 1's

[2022-09-12 10:36] eclarke1 commented on #5537
@felixarntz @aaemnnosttv based on the email from Juan, can you confirm if this can now be unblocked and added to Sprint 84?
cc @FlicHollis

[2022-09-12 12:26] wpdarren commented on #5273
### QA Update: ❌

@jimmymadon I have a few observations:

1. All of the Stories for `ReminderBanner` do not have the `Set up now` CTA's and the `Remind me later` link is a button.

![image](https://user-images.githubusercontent.com/73545194/189642991-8dfac725-874d-427a-b469-17522512650f.png)

2. Minor UI issue really, but comparing figma design to what I see on mobile (i.e. iPhone 8, SE) there's a

[2022-09-12 13:46] mohitwp commented on #5278
### QA Update ✅

- Verified this by using elasticpress.io site using dev branch.
- To make sure that he 'Google use doesn't have an edit scope'. I removed `wp_googlesitekit_additional_auth_scopes` meta key for your user from the wp_usermeta table.
- Verified [story](https://google.github.io/site-kit-wp/storybook/pull/5804/?path=/story/modules-analytics4-setupbanner--no-property-no-tag-no-edit-scop

[2022-09-12 15:24] wpdarren commented on #5276
@aaemnnosttv if the behaviour I detailed above is correct then this ticket can be sent to approved. I wasn't sure if the toggle should be disabled or enabled. The figma designs and stories suggest that it should be disabled.

[2022-09-12 15:31] felixarntz commented on #5537
Thanks for the ping @eclarke1, indeed! I've added ACs.

[2022-09-12 15:35] jimmymadon commented on #5273
@wpdarren This is actually a regression from another issue where some code was renamed but that change was left out from the StoryBook file.

I've just created a follow up PR branch for this - just a one word fix. @tofumatt - have assigned this to you as it is a very trivial merge and you CR'd this originally and many MRs are off today. 😄

[2022-09-12 15:37] #5548 closed

[2022-09-12 17:32] felixarntz opened #5823 "Ensure GA4 activation banner has higher priority than zero state banners"
Follow up to #5270: The ACs of that issue were not including a specification of where exactly the GA4 activation banner should be included compared to the other banner notifications, however that is significant to control which notifications should take precedence.

Currently, the zero state banner notification may overlap the GA4 activation banner, which should not be the case since they are lowe

[2022-09-12 17:35] felixarntz commented on #5277
## Approval ✅

@wpdarren Tested this again on my side, UI looks good to me now. There no longer is the progress bar together with the button spinner when creating a new GA4 property.

[2022-09-12 17:35] #5277 closed

[2022-09-12 18:25] aaemnnosttv commented on #5276
@wpdarren the toggle will only be disabled if the associated measurement ID for the selected property matches the existing tag. I tested this locally and it seems to work as expected.

**Matching measurement ID**
![image](https://user-images.githubusercontent.com/1621608/189728313-b79e1503-8d8e-401e-805f-2dff6319adf9.png)

**Non-matching measurement ID**
![image](https://user-images.githubusercont

[2022-09-12 18:25] #5276 closed

[2022-09-12 19:36] aaemnnosttv commented on #4619
Closing this as done as a first step. Will open a new issue to see about addressing the failures we're seeing locally.

[2022-09-12 19:36] #4619 closed

[2022-09-12 20:15] #5799 closed

[2022-09-12 20:29] aaemnnosttv opened #5824 "Resolve VRT issues for local runs"
## Bug Description

We recently updated our VRT infrastructure to support running on ARM/M1 machines which are becoming more common rather quickly.

While the build runs on these machines where it didn't before, it seems to have introduced some degree of instability in local runs on Intel machines (and M1s?).

At current, I see ~10 scenario failures when running locally, most of which seem to be v

[2022-09-12 20:30] aaemnnosttv commented on #4619
@FlicHollis I've opened https://github.com/google/site-kit-wp/issues/5824 as the follow up for this sprint which is already assigned 👍

[2022-09-12 20:32] aaemnnosttv commented on #4837
Thanks @jamesozzie – these both indicate the error is being raised within `SearchConsoleStats` so I think this is worth looking into again.

[2022-09-12 20:39] aaemnnosttv commented on #5772
@hussain-t this is still in progress, correct?

[2022-09-12 20:43] aaemnnosttv commented on #5786
Oh nice! I'll update the definition here to be more about `setup-node` than the specific parameter 👍

[2022-09-12 20:57] aaemnnosttv commented on #5786
@kuasha420 AC added – it's rather explicit so not sure there's really much to add for an IB here but maybe a list of affected workflows to be updated would be sufficient along with the estimate 👍

FYI it looks like `cache: 'npm'` (this is also used in their example [here](https://github.com/actions/setup-node#caching-global-packages-data)) is all that's needed for the caching as it uses a few lock

[2022-09-12 21:03] aaemnnosttv opened #5825 "Ignore deprecated message from WP core in 4.7"
## Feature Description

Our E2E test for WP 4.7 is raising a PHP deprecation notice from core as [seen here](https://github.com/google/site-kit-wp/actions/runs/3038633991/jobs/4892584906#step:13:266):

[code]

This should be added to our list of ignores for WP 4.7 as deprecations from core shouldn't cause our E2E tests to fail.

---------------

_Do not alter or remove anything below. The followin

[2022-09-12 21:13] aaemnnosttv commented on #5072
This will be fixed as part of #5072. Closing this one in favor of that one which is already in CR to not have competing solutions going through simultaneously.

[2022-09-12 21:13] #5072 closed

[2022-09-12 21:19] aaemnnosttv commented on #5151
@marrrmarrr yes this should be relatively low effort I think (assuming I didn't just jinx it). Like @sebastianmantel said, I think we just need to solidify the names of the headings that we didn't have before.

I just took a quick look at the other modules as well and none of them seem to have the same problem so we shouldn't need to make changes to any of the others 👍

[2022-09-12 21:29] aaemnnosttv commented on #5757
@eugene-manuilov while it makes sense to apply the defaults in the settings class, won't this prevent the customization step from appearing during setup since it will be considered connected as soon as the publication ID is set? That's the reason for this point of the AC at least:

[2022-09-12 21:43] aaemnnosttv commented on #5070
@eclarke1 while we avoid using 1 estimates, it's my understanding that they're not forbidden; if any issue qualifies for a 1, this would be one of them as it's about the smallest possible change that could be made (removing a few words in one place).

[2022-09-12 21:48] aaemnnosttv commented on #5756
Following up here – that issue for the default title was created here 👍

- https://github.com/google/site-kit-wp/issues/5785

[2022-09-12 22:00] felixarntz commented on #5755
@aaemnnosttv The structure you're proposing for the view mode makes more sense to me than the current one as well as it is better aligned with the other modules and overall more logically grouped.

@marrrmarrr What do you think? We could bring this up with the UX team for feedback, but I would agree what Evan proposes makes more sense than the simple two column layout from the Figma designs, which

[2022-09-12 23:03] candland commented on #5418
This would be really nice

[2022-09-13 00:05] tofumatt commented on #5825
IB ✅

[2022-09-13 01:10] tofumatt commented on #5823
IB ✅

[2022-09-13 01:15] tofumatt commented on #5751
I looked through the component and thought of that, but I think it's an okay API.

I think for more "basic"/generic/UI components like a `Chip`, `Radio`, etc., a developer should expect that the props they pass will affect the "top-level" component.

By default, in general, that's a good pattern to use.

But in the case case of something very specific and not at all generic, like the `ImageRadio`

[2022-09-13 01:32] tofumatt commented on #5538
Approach in the IB looks good, but I read the ACs/intent of this issue as also _rendering_ the notification for users. We should add a note to the IB that we should add the newly-created notification to [`BannerNotifications`](https://github.com/google/site-kit-wp/blob/18b0dbde3fe44bbb7be794ed0183b398e3093846/assets/js/components/notifications/BannerNotifications.js#L60) so it appears for users.

[2022-09-13 06:18] nfmohit commented on #5751
Understood, thank you, @tofumatt!

[2022-09-13 08:45] hussain-t commented on #5772
@aaemnnosttv, I have updated the IB to reflect @eugene-manuilov's comment. Thanks!

[2022-09-13 09:35] techanvil commented on #5537
IB :white_check_mark:

[2022-09-13 09:39] wpdarren commented on #5273
### QA Update: ✅

**Verified:**

- The Reminder Component has a fully realised design, for each of its variants as per the AC.
- The icons are displayed as per the design.
- The different notifications have a responsive design implemented.
- Confirmed that the Stories are displaying as per the Figma and ACs

<details>
 <summary>Screenshots</summary>

<img width="1641" alt="Screenshot on 2023-07-03

[2022-09-13 09:57] wpdarren commented on #5678
@mohitwp @hussain-t  looking at this ticket, it seems to be a change related to activating modules and also cancelling the activation. Is this correct?  I feel the QAB is very sparse and we could do with some more direction here, especially since this ticket is only a 7 and a smoke test of the entire plugin is going to take considerably longer.

[2022-09-13 10:58] wpdarren opened #5830 "Different Date Formats on Site Kit Dashboard widgets"
## Bug Description

Creating this ticket for UX/UI discussion.  Is there a reason why we have two different date formats on the dashboard. In the All Traffic widget we have `MonDD` (i.e. Sep 03)  where in the charts are, i.e. Search traffic widget, the format is `MM/DD/YY` Wondering if the date formats should be consistent?

## Screenshots

![image.png](https://images.zenhubusercontent.com/5f99965

[2022-09-13 11:07] wpdarren opened #5831 "Reduce font size on Idea Hub Connect Service screen"
## Bug Description

On the Idea Hub service connection screen the font sizes are inconsistent.

I would like to see the font size reducing for the track my usage text.

`I agree that Idea Hub will track my usage of the feature (e.g. creating a draft; saving/dismissing ideas) in order to provide better idea suggestions`

## Screenshots

![image.png](https://images.zenhubusercontent.com/5f99965247ef

[2022-09-13 12:05] hussain-t commented on #5678
@mohitwp @wpdarren, thanks for bringing this up. The PR removes the legacy code. So, there is nothing specific to be tested. However, I have updated the QAB. LMK if that sounds helpful. Cheers!

[2022-09-13 13:16] aaemnnosttv commented on #5618
@techanvil This is looking great, just one more thought and then I think we can move forward with this as an AC+IB as you suggested.

I think we can simplify this to `getArgsForError` as the storage will be tied to `receiveError`. Given the direction here, I don't think we need to make this specific to selectors even if that's the only way it will likely be used.

Before the whole addition of `sel

[2022-09-13 13:25] jamesozzie commented on #5797
Hi @iconio,

Apologies for the late response. This error which you encountered is a Google Analytics API quota limit, which can occur if you’ve been making configuration changes within Site Kit, even if you have 3 properties in one account. It usually occurs if multiple changes were made within a short period of time.

As the limits refresh every hour, I suspect you're no longer encountering this

[2022-09-13 13:25] #5797 closed

[2022-09-13 14:08] wpdarren commented on #4776
### QA Update: ❌

@jimmymadon I have a few observations that I'd like to share:

I am being redirected to the WordPress Dashboard, in all cases the oAuth page does appear.

- When I set up Site Kit with Analytics, at the point of setting up Analytics, I am redirected back to the WordPress Dashboard.   I do not get sent through the set up flow for Analytics.
- The same happens when I set up Site Ki

[2022-09-13 15:25] techanvil commented on #5618
Thanks @aaemnnosttv. I have updated the AC to remove the selector-specific aspects. However, and sorry for yet more back and forth here, I have proposed the name `getMetaDataForError` rather than `getArgsForError` as we also need to return the `baseName`, as well as `args`. I've also added an IB which simply points to the AC.

[2022-09-13 16:00] aaemnnosttv commented on #4776
Just thought I'd chime in here that the related tests that currently fail on main for me pass on develop now 🎉

[2022-09-13 16:03] techanvil opened #5832 "Remove sharing of referencing between preloaded fetch data and Redux."
## Feature Description

Following on from https://github.com/google/site-kit-wp/issues/5772, we want to avoid exposing references accessible via the `window` or `global` object to data stored in Redux.

For an example of how data is currently shared:

![image.png](https://images.zenhubusercontent.com/6133937d41f397090b8344a7/9c02f138-adfe-49d6-a0eb-2ba188e62e67)

---------------

_Do not alter or

[2022-09-13 16:06] techanvil commented on #5772
Thanks, @eugene-manuilov and @aaemnnosttv, I have created a separate issue to tackle the preloaded data: https://github.com/google/site-kit-wp/issues/5832

[2022-09-13 17:48] eugene-manuilov commented on #5772
Thanks, @hussain-t. IB ✔️

[2022-09-13 18:58] eugene-manuilov commented on #5757
Good call, @aaemnnosttv. I forgot about it. 🤦 Looks like we need to get back to the previous IB defined by Jimmy. I'll update IB.

[2022-09-13 19:12] eugene-manuilov commented on #5757
@aaemnnosttv IB is updated. Do you mind reviewing it?

[2022-09-13 20:10] aaemnnosttv commented on #5618
@techanvil ah of course, I forgot about the `baseName` 👍  That all sounds good, we just need an estimate here (as well as the test coverage section) and then this should be good to go!

[2022-09-13 20:26] aaemnnosttv commented on #5757
@eugene-manuilov @jimmymadon I'm not sure if `useMount` would be the right approach or not, it might be better to use an effect that only runs once the TwG settings are loaded to ensure we only set values where none are set yet. Of course none should actually be set at this point but it seems like a reasonable precaution to take to ensure they're only applied as defaults. It shouldn't really make

[2022-09-13 23:37] tofumatt commented on #5815
This one might require a bit more effort in testing/QA, so bumping the estimate to a 7 (it's likely less, but just for planning better to err on the side of caution),

IB ✅

[2022-09-14 08:34] mohitwp commented on #5805
### QA Update ⚠️

@tofumatt

I verified this ticket using instaWP new site and on another site using elasticpress.io .

I found that QAB is little different from the actual flow.

- In this case of 'Existing GA4 property' - `Connect` button will display instead of `Create propety` button with an drop down select option to either 'Set up new Property' or select from the existing one.
- Also, after

[2022-09-14 09:06] techanvil commented on #5825
Moving straight to Approved - have confirmed the deprecation notice is no longer appearing in the log, see https://github.com/google/site-kit-wp/actions/runs/3041451084/jobs/4898574008

[2022-09-14 09:17] techanvil commented on #5618
Thanks @aaemnnosttv - have updated accordingly and moved to IBR.

[2022-09-14 10:01] wpdarren commented on #5282
### QA Update: ❌

@techanvil I am seeing odd behaviour and not what the AC/QAB details.

Here are the steps I took to test this and the outcome:

1. Created new site on InstaWP. Connected Site Kit and created a UA and GA4 property.
2. I went into Analytics to trash the GA4 property and it shows that this was successful.
3. I ran the SQL command `DELETE FROM wp_options WHERE option_name = 'googlesi

[2022-09-14 10:56] maciejmackowiak opened #5836 "get_transient( 'googlesitekit_setup_token' ) called on every page load"
## Bug Description
Currently plugin checks for googlesitekit_setup_token transient on every page load.
It adds unnecessary db query(if there is no object cache of course) just for maybe outputing that meta tag.
Shouldn't that be handle better?

https://github.com/google/site-kit-wp/blob/develop/includes/Plugin.php#L119

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2022-09-14 11:39] wpdarren commented on #5621
### QA Update: ⚠️

@jimmymadon I am not sure if this is me being overly picky at this stage, so would like your opinion 😄  When I test on smaller screen sizes like mobile devices, the tooltip hovers over the top of the GA4 area, but when you scroll it jumps to above the property. It's only a small UX/UI issue, what do you think?

https://user-images.githubusercontent.com/73545194/190143950-7db443d

[2022-09-14 12:06] techanvil opened #5837 "Prevent the success notification appearing when returning from OAuth in the GA4 Activation Banner flow"
## Feature Description

As described in https://github.com/google/site-kit-wp/issues/5282#issuecomment-1246528980, at present, when returning from OAuth to the GA4 Activation Banner, the Success Notification is displayed, interrupting the desired GA4 Activation Banner flow.

We need to prevent the Success Notification from being displayed in this particular case.

Here is a screenshot of the Succe

[2022-09-14 12:52] mohitwp commented on #5445
### QA Update ⚠️

@nfmohit

- In AC it is mentioned that we need to implement a button for 'Reset sharing settings' but we have implemented action link.
- Text font size under 'Reset Sharing Settings dialog' is very small and difficult to read in desktop and in mobile.
- Position of 'Reset sharing settings' action in the dialog along with notices not look good and it also gets cut in iPad portrait

[2022-09-14 13:17] aaemnnosttv commented on #5837
Just a thought: I don't think an added query parameter is necessary if we render the GA4 banner above the congrats banner as only one will be shown.

[2022-09-14 13:28] tofumatt commented on #5805
Sorry, yes, that is the actual flow. I think it might be that this QA brief was copied from a similar one and I forgot to mention the button text 😓. The name of the whole CTA is around connecting a property though, maybe that's where it was a bit confusing.

Sounds like the QA is good here, so I'll move this to Approval. I've updated the QA Brief for posterity. 👍🏻

[2022-09-14 13:46] mohitwp commented on #5805
### QA Update ✅

Thank you @tofumatt !

Just wanted to share my comment with all details.

- I verified this ticket using instaWP new site and on another site using elasticpress.io.
- Verified this for google a/c don't have edit scopes and existing GA4 property.
- On successful completion of OAuth flow user navigate to dashboard and GA4 set up gets successfully completed.
- Also verified the [stor

[2022-09-14 13:51] techanvil commented on #5837
That's an interesting point. However, the congrats banner will still eventually show up once we dismiss the GA4 banner, I would imagine it would be preferable to not show it at all as the GA4 banner has its own success message...

[2022-09-14 13:59] tofumatt commented on #5837
Yeah, I was about to say the same thing as Evan: it'd be better to reorder the notification banners here and that would save us needing to add the query param, which seems slightly awkward to me.

The ACs here look good, but I think the IB approach is too complicated. I think it's okay to hide the GA4 banner and then still show the Site Kit one… or maybe even… when rendering the GA4 Banner, have i

[2022-09-14 14:21] tofumatt commented on #5748
I took a look through the ACs here and compared the existing UI to the Figma designs and… it looks like it's all correct now, aside from the squares around the colour select items, which is a known Safari-only bug that's documented in a separate issue (and affects more than just the Thank with Google settings), see #4994.

<img width="764" alt="CleanShot 2022-09-14 at 15 19 41" src="https://user-i

[2022-09-14 14:22] tofumatt commented on #5748
(Not tagging with the release since this can be closed as fixed elsewhere.)

[2022-09-14 14:22] #5748 closed

[2022-09-14 14:38] tofumatt opened #5840 "Hide the "Reset sharing permissions" button when settings are already on the default"
## Feature Description

In #5445, we added a "Reset sharing permissions" button to the Dashboard Sharing modal.

![CleanShot 2022-09-14 at 15 35 48](https://user-images.githubusercontent.com/90871/190184649-c7659df0-1b5f-488f-b31f-99e227ae7e69.png)

@mohitwp pointed out that we shouldn't show this button when the sharing settings are "initialised"/the same as what they'd be when reset. Essentially

[2022-09-14 14:39] tofumatt commented on #5445
This is confusing, but that's a button that _looks_ like a link. All secondary buttons are styled as links, but this part is correct.

Agreed, let's increase this font sizing.

Odd, it's not cut off for me on an iPad Air-sized viewport:

<img width="566" alt="CleanShot 2022-09-14 at 15 26 44" src="https://user-images.githubusercontent.com/90871/190182191-b4e5b5ec-91bb-4ea8-baf0-c2c3b1bf32df.png">

[2022-09-14 15:05] aaemnnosttv commented on #5618
IB ✅

[2022-09-14 15:15] nfmohit commented on #5445
Thank you for chiming in with the confirmations, @tofumatt!

@mohitwp I couldn't replicate it getting cut off in all iPad viewports on both portrait and landscape orientations as well. I also tried the viewport mentioned in your screenshot but it doesn't get cut off. Here's a screenshot:
![image](https://user-images.githubusercontent.com/20284937/190194556-b5b96c74-eda9-4910-bd64-89bd492ddb37.png)

[2022-09-14 16:31] eugene-manuilov commented on #5757
@aaemnnosttv I think an additional action that waits for a selector to be resolved is an overkill for this component. I have updated IB to use the `useEffect` hook, please, take a look. If you still think that a new action is a better approach, let me know and I'll update IB.

[2022-09-14 17:16] techanvil commented on #5802
Hi @felixarntz, having looked into the `@material/web` package, it strikes me that we may want to take a different approach to including it.

There is no main entry point for the package, we need to import the individual module for each web component that we want to use. So, taking the proposed approach, we'll need to create our own bundle for it, with an entry point JS module that includes all of

[2022-09-14 17:25] mohitwp commented on #5445
@tofumatt @nfmohit

Thank you !

-Regarding iPad issue.
I verified this using BrowserStack and action title is getting cut in BrowserStack. Verified it using browser -iPad viewports, and it's looking fine there. It can be due to some glitch in BrowserStack so need to be verified in actual device. But action design when it appears with Notice can be improved. If require, we can take help from UX.

[2022-09-14 17:32] felixarntz commented on #5802
@techanvil Thank you for the detailed proposal.

The key thing I want to avoid is that we load the library in today's version of Site Kit. It should not be loaded and not be part of the ZIP production bundle as long as the users don't get any benefit from it - even more since it's not even stable yet.

As far as I understand your proposed approach, as long as the `@material/web` imports only happe

[2022-09-14 19:36] aaemnnosttv commented on #5757
Thanks @eugene-manuilov, that sounds good to me. Just one thought here.

This would cause the effect to run every time the settings are changed, which would be more often than we want. As an effect, I think we could use a value from `hasFinishedResolution` as the "main" dependency, and in order to avoid including the actual settings as a dependency, we could use the relevant settings selector func

[2022-09-15 05:36] hussain-t commented on #5476
@nfmohit, just a note for the future, tickets like these kinds of changes (deleting the legacy code) shouldn't be 3-pointers. This should've been 7 since we have to review it and test it carefully. Thanks!

[2022-09-15 05:46] nfmohit commented on #5476
Understood and noted. I'll keep it in mind. Thank you, @hussain-t!

[2022-09-15 07:17] nfmohit commented on #5445
@mohitwp We've decided to remove the `Reset sharing permissions` action when there is a notice/error visible. This change is added to my new PR.

[2022-09-15 08:36] techanvil commented on #5802
Thanks @felixarntz.

Thanks for articulating this point. Certainly makes sense to me.

That's right, if we took this approach we'd be able to avoid including `@material/web` in the bundle until we start using the new React components in the plugin.

Interested to hear any thoughts from @eugene-manuilov, @aaemnnosttv and/or @tofumatt on this one.

[2022-09-15 09:19] asvinb opened #5846 "Add new stylelint rule to disable selector concatenation."
## Feature Description
We have parts in the code (SASS) where selectors are concatenated.
For e.g https://github.com/google/site-kit-wp/blob/develop/assets/sass/widgets/_widgets.scss#L79-L81
The problem with this approach is although technically there is nothing wrong, this can make the code unreadable over time. Also looking for specific selectors using this approach makes is difficult since we'l

[2022-09-15 09:47] wpdarren commented on #5621
QA Update: ✅

Have discussed this with Jimmy, and I'm going to add it as an item to discuss in bug bash review. It's a minor UX/UI behaviour on mobile and not a launch blocker.

**Verified:**

- The Analytics module displays a button that says `Connect Google Analytics 4`
-  When clicking on the button it takes you to the Analytics setup page.

![image](https://user-images.githubusercontent.com/73

[2022-09-15 11:06] wpdarren commented on #5823
### QA Update: ✅

**Verified:**

- The GA4 activation banner appears above the zero state banners so that it shows up with higher priority.
  - I tested this with zero, gathering data states.
  - Also tested with a site that has data and Idea Hub feature flag enabled.
  - Checked on desktop and mobile screen sizes.
  - Checked the main and entity dashboard to ensure the same behaviour applies.

<d

[2022-09-15 11:09] PawelKolat commented on #511
Hi guys I usually use the https://www.googleapis.com/auth/ to authenticate. Now trying to integrate with Google PageSpeed Insights I'm struggling to find any info on how to do it. https://developers.google.com/identity/protocols/oauth2/scopes#pagespeedonline only points to OpenId.
The get started documentation still suggests key is the main way of authorising.
https://developers.google.com/speed/d

[2022-09-15 13:59] wpdarren commented on #5823
### QA Update: ❌

@sashadoes I am sorry, but I'll have to put this back into Execution.  I have just noticed a bug that I feel comes from this change. During my testing, I made sure that the GA4 banner was loading as priority, and that passes.  I just ran through the setup flow and noticed that the gathering/zero data notification appears underneath the loading animation, and then disappears when

[2022-09-15 14:19] eugene-manuilov commented on #5757
@aaemnnosttv IB is updated. I used slightly different approach to determine whether we need to set defaults. Let me know if it works now.

[2022-09-15 14:20] mohitwp commented on #5754
### QA Update ⚠️

@nfmohit I noticed that 'Post type' chip title font size is 14px in Figma, but implemented design have 12px. Is it because DS sharing chips have same font size ?

[2022-09-15 14:38] nfmohit commented on #5823
Nice catch, @wpdarren!

@sashadoes Looks like we missed this all along. I think this can be easily addressed by displaying the `<ProgressBar />` component in `<SetupBanner />` inside a `<BannerNotification />` component. Although, since this `<BannerNotification />` component potentially won't have any props, we would also need to update its prop types so that they're not "required".

https://gith

[2022-09-15 15:30] aaemnnosttv commented on #5837
@eugene-manuilov this looks like it would work but I'm not sure we should change it in all cases because we _are_ coming back with successful authentication 🤔

Two thoughts I have as possible solutions to consider:

- Push/replace a different `notification` parameter onto the URL when submitting changes - this would then be passed to the [`redirectURL` provided in the permissions modal](https://gi

[2022-09-15 16:15] jamesozzie opened #5850 "Ad Blocker Detected - despite no Ad Blocker active"
## Bug Description

[One user in the forums](https://wordpress.org/support/topic/ad-blocker-detected-please-disable-it-to-set-up-adsense-2/#post-16012366) is encountering an Ad Blocker notice which is not allowing AdSense set up to complete. The Ad Blocker notice occurs in the all the following circumstances:
- With only the Site Kit plugin active - ruling out third party plugin conflicts
- From a

[2022-09-15 16:20] jamesozzie commented on #5850
Based on the reviewing the [DNS records for another impacted user](https://digital.com/best-web-hosting/who-is/#search=zero-in-one.in), this may be Cloudflare related. Both impacted sites do have Cloudflare set up. The second user did provide a recording of the same experience using TasteWP, which is unusual. Further troubleshooting ongoing.

[2022-09-15 16:59] aaemnnosttv opened #5851 "Release 1.84.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-09-15 17:23] techanvil commented on #5837
This would still need a bit of logic on the PHP side, as the `notification` query param is currently unconditionally added to the redirect URL in PHP territory, using `add_query_arg` which overrides an existing param. So we'd need to add a condition that checks for the existence of `notification` and only adds if it doesn't exist. This would need doing in the same places I modified the PHP in my i

[2022-09-15 17:28] jamesozzie opened #5852 "Error: Invalid site state null"
## Bug Description

~~One user is~~ Multiple users are encountering a "Error: Invalid site state null" message when trying to connect the AdSense module. It occurs before OAuth, and without any browser console errors.

The initial user shared a recording of their experience within their support topic. This can be viewed [here](https://www.youtube.com/watch?v=mz4KbnxyYuE&feature=emb_title).

There

[2022-09-15 17:38] aaemnnosttv opened #5853 "Encourage users to enable auto-updates for Site Kit"
## Feature Description

As a plugin which is very actively maintained and updated regularly, it makes sense to always keep Site Kit up to date on the latest version. While some users likely already have this enabled for Site Kit, this would be an easy thing we could encourage users to enable, e.g. right after activating the plugin in the success banner. This should help users to enjoy the latest f

[2022-09-15 17:53] aaemnnosttv commented on #5757
IB ✅

[2022-09-15 18:11] jamesozzie commented on #4837
One user provided very useful insights into their experience with this error, including the screenshot below which shows console errors.

![image](https://user-images.githubusercontent.com/41326532/190475184-7939809f-4b60-476e-b994-4341a468be5b.png)

Troubleshooting ongoing, with a proposed check after disconnecting their Google account from Site Kit.

Summary of reports of this error below, start

[2022-09-16 09:42] eugene-manuilov commented on #5837
Thanks, @techanvil and @aaemnnosttv. I have update IB. Let me know if it looks good to you.

[2022-09-16 09:56] techanvil commented on #5837
Thanks @eugene-manuilov. This looks good, just a couple of small points:

- The `ga4_setup` value is essentially a placeholder here for "don't show a notification", maybe we should use a value like `none` or `do_not_show` instead? To my eyes, `notification=ga4_setup` makes it look like there _should_ be a notification displayed...
- From my previous testing - we will need the same change in `OAuth

[2022-09-16 10:06] techanvil opened #5858 "Remove legacy code from error stores."
## Feature Description

In order to help tidy up the codebase and make the error store code easier to follow, we should remove the legacy usage of the single [`error`](https://github.com/google/site-kit-wp/blob/e0b6d2ae245d9718e035768662f7f7e7ae2ba759/assets/js/googlesitekit/data/create-error-store.js#L102) object with no associated `baseName` and `args`.

Additionally, we should remove the code t

[2022-09-16 10:36] techanvil commented on #5837
Thanks @eugene-manuilov. I'm happy enough to stick with `ga4_setup` in that case - we can always revisit it later.

[2022-09-16 11:21] asvinb commented on #5757
@eugene-manuilov A few things:

- I've noticed that the Post Types value is already set to `[posts]` by default, so i didn't implement it.
- I had to make a few changes to the components so that they rerender when the cta placement changes.

I assigned it to you for CR since you reviewed the IB and I saw you worked on the files recently as well.

[2022-09-16 11:23] wpdarren commented on #5378
### QA Update: ✅

**Verified:**

- Buttons with tooltips do not raise deprecation warnings when interacting with them.
- I tested this on develop branch and also on the development build.
- I went through all of the pages within Site Kit and did not discover any additional warnings or errors in the console.

![image](https://user-images.githubusercontent.com/73545194/190628265-463bebf0-ff02-4efa-a

[2022-09-16 11:50] techanvil opened #5859 "Fix mutation of state in widget areas reducer."
## Bug Description

In a couple of spots in the widget areas reducer, we are mutating Redux state in-situ rather than returning a new object instance in the spirit of immutable data.

https://github.com/google/site-kit-wp/blob/88985106531cc7249ed924bb032e682b7e7fee2a/assets/js/googlesitekit/widgets/datastore/areas.js#L128-L134

This was discovered by accident while working on https://github.com/go

[2022-09-16 11:55] techanvil commented on #5858
Have created and added AC, please review.

cc @aaemnnosttv

[2022-09-16 11:55] techanvil commented on #5859
Have created and added AC, please review.

cc @aaemnnosttv

[2022-09-16 12:01] mohitwp commented on #5754
### QA Update ✅

Verified on dev branch using instaWP site and tester plugin.

- TWG post type chips now implemented as per Figma design.
- Verified 'All' chips added and on click of 'All' chips—all the chips gets selected.
- Verified chips design on both settings and customization screen.
- Verified Dashboard sharing role chips functionality. It is working fine.

<details>

Customization screen

[2022-09-16 12:39] mohitwp commented on #5751
### QA Update ❌

As per AC color selections should match Figma design.
@nfmohit I found that in Figma Design 'Color selection' icons have proper circle design. In actual implementation, 'Color selection' icons are not in proper circle shape. Above area of it have hexagonal shape.

<details>

Figma

![image](https://user-images.githubusercontent.com/94359491/190640016-5781c0a5-588a-4ab5-b1ae-ade593

[2022-09-16 12:40] techanvil commented on #5837
IB :white_check_mark:

[2022-09-16 12:56] wpdarren commented on #5823
### QA Update: ✅

The issue [reported here](https://github.com/google/site-kit-wp/issues/5823#issuecomment-1248142529) has been fixed.

https://user-images.githubusercontent.com/73545194/190643861-f7bf66e8-808f-4e6c-b595-a859ed7f65b3.mp4

**Verified:**

- The GA4 activation banner appears above the zero state banners so that it shows up with higher priority.
  - I tested this with zero, gathering

[2022-09-16 13:02] asvinb commented on #4744
@aaemnnosttv @tofumatt I spent some time looking into this and I think the issue is the height of the overlay is calculated before the widgets are rendered, the main culprit being the PSO widget. Alternatively i haven't seen anything in the React Joyride docs to update the height which potentially means we'll have to manually set the height. I know there were talks long time ago about triggering a

[2022-09-16 13:36] aaemnnosttv commented on #4837
I spent some time digging into this one a bit yesterday and haven't been able to figure out quite how this could happen. I was able to force the error to occur but it involved making changes to the data we get back from the API which doesn't seem like a realistic case.

Ideally we'd have a more detailed trace from the browser console as to where the error is happening as the component trace that i

[2022-09-16 13:45] wpdarren commented on #5757
### QA Update: ✅

**Verified:**

- The TwG customization setup step has default values selected for all of the settings:
- The default values are:
  - Type: Overlay
  - Prominence: Low
  - Color: Blue
  - Post Types: Posts

- The defaults  take effect during the module setup/customization.
- Ran through a number of tests where I saved the default and also made changes settings.
- Checked that the

[2022-09-16 15:02] aaemnnosttv commented on #5858
Thanks @techanvil – I think the simpler change would be to keep `getErrorForSelector` but make it closer to how it was initially which only returned the `error`. As part of this change we would need to leverage the new selectors in some places as you mentioned in order to provide the same information where needed of course. In the future we could perhaps do more to make sure an error is only retur

[2022-09-16 15:04] aaemnnosttv commented on #5859
Thanks @techanvil, LGTM 👍

[2022-09-16 15:19] techanvil commented on #5806
IB :white_check_mark:

[2022-09-16 16:16] techanvil commented on #5840
Hi @nfmohit, regarding the `getDefaultSharingSettings` specced in the IB, it strikes me that we're duplicating logic here for creating a default value, where ideally we could reuse the backend logic where it's defined in `Modules::filter_shared_ownership_module_settings`.

I'd suggest something like this:

- At the point where we currently populate the `sharedOwnershipModules` data, for subsequent

[2022-09-16 17:02] aaemnnosttv commented on #5618
Agreed with QAB that it's not necessary here. Moving to Approval 👍

[2022-09-16 17:30] nfmohit commented on #5751
@mohitwp That's odd. May I know which browser are you seeing this in because I can't seem to replicate it on my end (Chrome 105.0.5195.125 on macOS Monterey 12.6)? Here's a screenshot:
![image](https://user-images.githubusercontent.com/20284937/190697339-7c443a03-e76c-49c3-b37e-367f5aa66823.png)

Also, I'd like to point out that the PR attached to this issue doesn't have any effect on the shape of

[2022-09-16 18:11] nfmohit opened #5862 "Update Puppeteer"
## Feature Description

While working with #5154, we noticed that the Puppeteer version being used is quite outdated. As a result, we're not able to use new methods like `waitForNetworkIdle` which were introduced in the newer versions. We should try to update Puppeteer (and preferably its related packages) to the latest version without breaking anything.

---------------

_Do not alter or remove a

[2022-09-16 21:24] aaemnnosttv commented on #5154
@nfmohit just saw this in E2E https://github.com/google/site-kit-wp/actions/runs/3070467942/jobs/4960222637#step:13:252 🤔

[2022-09-16 21:30] nfmohit commented on #5154
@aaemnnosttv Noticed it as well. Should we consider this as a navigation timeout error?

I had encountered this during exploration as well but disregarded as it was a different error message.

[2022-09-16 21:37] aaemnnosttv commented on #5732
Thanks @hussain-t – this is almost there, just a few points.

Any public methods of `Modules` shouldn't (and wouldn't have to be) moved if you have an instance of the class in the controller, they would be callable on the instance.

Only protected and private methods can safely be moved.

It's worth noting that `googlesitekit_apifetch_preload_paths` is hooked in controller classes as well, so this

[2022-09-16 21:46] aaemnnosttv commented on #5493
@hussain-t the current IB does not satisfy the AC which does not call for hiding the widget on the view only dashboard. The widget _should work_ on the view only dashboard, the main problem here is how a view-only user wouldn't have access to the `adsenseLinked` value which is stored in module settings (even though it isn't really a setting). Perhaps what we should do here is make this value avail

[2022-09-16 21:57] aaemnnosttv commented on #5724
Thanks @jimmymadon – just a few points:

- Since any authenticated user won't have the name set yet, let's only render that part if there is one
- There are some relevant tests for `test_refresh_profile_data` which should get updated here as well, so let's note this in the test coverage and perhaps bump the estimate

[2022-09-16 22:09] aaemnnosttv commented on #5730
@nfmohit I should have highlighted this in the ACs but this is a good example of where the text shouldn't be duplicated in the IB as the quote in the ACs is a stylized quote but the one in the IB is not. This doesn't really need very much for an IB at all to be honest, simply pointing out where the changes should be made along with the estimate should be sufficient as the AC doesn't really leave r

[2022-09-16 22:18] aaemnnosttv commented on #5750
@nfmohit IB is good, but we should always update test coverage where it exists and consider adding where it doesn't. In this case, `getCTAPostTypesString` is a utility with tests, so let's make sure this change is updated there.

However, rather than returning `null`, maybe we should return an empty string so that it has a single return type? I think this makes more sense in this situation as it's

[2022-09-17 01:07] aaemnnosttv commented on #5154
Ah no you're right, this is a different error 👍

[2022-09-17 04:07] wpdarren commented on #5837
### QA Update: ✅

**Verified:**

- The "Congrats..." banner should no longer appear when returning from OAuth to the GA4 Activation Banner.
- The GA4 Activation Banner will no longer appear in view-only mode.
- Dashboard Sharing was tested with an admin and editor user role to make sure that the banner did not appear.

![image](https://user-images.githubusercontent.com/73545194/190839771-b35eb2e7-

[2022-09-17 04:43] wpdarren commented on #5282
### QA Update:  ❌

@techanvil the issue reported above is fixed but I have two new observations:

1. After giving permission via the oAuth screen there's a weird screen shift. Then the dashboard and GA4 banner notification load.  You can see this in the screencast below around 18/19 seconds.

2. When running through the flow as per the AC/QAB, everything looks perfect.  I see the `You have Success

[2022-09-17 04:51] wpdarren commented on #5837
### QA Update: ❌

This does pass the QAB, but there's an issue and I am unsure if the cause is this ticket or #5282.

The GA4 flow (with and without oAuth) goes through as expected. You see the `You Successfully Set up a GA4 property`  notification, and when checking Google Analytics the new GA4 property is created. BUT when you go to Site Kit Settings, the `Complete Google Analytics 4` button app

[2022-09-17 09:29] jimmymadon commented on #5724
Thanks @aaemnnosttv - have updated the IB!

[2022-09-17 23:24] jimmymadon commented on #4776
@wpdarren The behaviour you described is also happening on the latest stable version of SiteKit - 1.83.0 (I deactivated the tester plugin and updated SK to the latest stable version). So this does not seem to be a regression of this issue. Retried again after deactivating all the existing plugins on the test site - but the unexpected redirects still happen.

Ideally we could create a separate issu

[2022-09-19 01:29] wpdarren commented on #5463
### QA Update: ✅

**Verified:**

- Looking at the AC/IB this seems to be a change to the code comments so shouldn't have an impact on the plugin.  What I did though is ran through the setting up of the modules for a new site.  I also connected a site that has live data and could not see any issues on the Site Kit Dashboard (main and entity)

[2022-09-19 02:42] nfmohit commented on #5840
Valid suggestions, thank you @techanvil! I have updated the IB to reflect on them. Let me know how it looks.

[2022-09-19 03:14] nfmohit commented on #5750
Thank you for the valid suggestions, @aaemnnosttv!

My bad, I overlooked it. Thank you for noticing. I have mentioned it in the IB.

Good point! I think returning an empty string is neater so that we can achieve the single return type. I think optional chaining would return `undefined` if `ctaPostTypes` was `undefined`. I have updated the IB accordingly.

Let me know how it looks. Thank you!

[2022-09-19 06:25] mohitwp commented on #5678
### QA Update ✅

Verified-

- Verified this using oi.ie site and dev plugin.
- Verified this for zero data states - zero and gathering.
- Verified and compared all widgets data with latest release.
- Verified WP dashboard widgets.
- All widgets are rendering fine.

<details>

![image](https://user-images.githubusercontent.com/94359491/190960082-bdf0354a-5a7c-43fe-a3e0-2b4a88d79095.png)

![image](h

[2022-09-19 07:39] mohitwp commented on #5749
### QA Update ✅

- Verified on Chrome, Edge,Firefox and Safari browsers.
- Verified on different view ports using browser and iPhone, iPad and Android mobile and tablet using BrowserStack.
- Settings Page - TWG logo displaying in one line. Verified for connected and not connect more services screen.

<details>

![image](https://user-images.githubusercontent.com/94359491/190970478-e24a6c45-f60e-409

[2022-09-19 09:18] nfmohit commented on #4585
### ⚠️ QA:Eng

@asvinb Everything looks quite well, except for just one concern. I probably am being a little too nitpicky here, but after `npm install` and re-starting VSCode, I get the following error:

![image](https://user-images.githubusercontent.com/20284937/190985168-88c5fac1-e85d-47cf-970f-90bd972528e7.png)

I believe this is happening due to [this change in the extension](https://marketpl

[2022-09-19 10:22] wpdarren commented on #4776
@jimmymadon Sorry, I didn't check if it was happening with the latest version - I just assumed that it was linked to this change. Like you said though it will be impossible to QA without a fix. Happy to go with your direction on this.

[2022-09-19 11:14] mohitwp commented on #5751
@nfmohit Looks like issue producing in only my system. I tried another system having same view port and configuration - Windows 11, Browser- chrome , firefox and edge. I'm not able to reproduce this issue on another system and BrowserStack.

### QA Update :

Verified-

- Verified that color selection matches the Figma design.
- Verified that selecting a color displays an outline around it with the

[2022-09-19 11:17] hussain-t commented on #5282
Thanks, @wpdarren. I have fixed observation `#2` in this follow-up [PR](https://github.com/google/site-kit-wp/pull/5866). As for the first one, I think it could be part of #5837. cc: @techanvil

[2022-09-19 13:07] wpdarren commented on #5537
### QA Update: ⚠️

@hussain-t while the links appear to be pointing to the correct URL based on the AC, I did notice that when  I click on the CTA, I am redirected to `https://publishercenter.google.com/u/1/` which is a blank screen.  Is this expected?

**Verified:**

- The `Create Account` CTA button points to
`https://accounts.google.com/accountchooser?continue=https%3A%2F%2Fpublishercenter.goog

[2022-09-19 13:19] wpdarren commented on #5537
@felixarntz chatting to Hussain re my observation above with the URL and blank screen.  We noticed that when you refreshed the page, the publisher centre did load.  I am unsure why there's a redirect and the initial blank page though. From the Site Kit side, the URLs look correct based on the AC.

[2022-09-19 13:25] mohitwp commented on #5445
### QA Update ✅

Verified -

- Issues mentioned [here](https://github.com/google/site-kit-wp/issues/5445#issuecomment-1246721299) are now resolved.
- Text font size under 'Reset Sharing Settings dialog' now increases to 14px from 12px.
- We've removed the Reset sharing permissions action when there is a notice/error visible so design issue in i-Pad will not come now.
-  For - If sharing settings a

[2022-09-19 14:17] jamesozzie commented on #5852
This is possibly due to the parent domain not be added within AdSense. To be updated after some internal testing.

[2022-09-19 14:22] jamesozzie commented on #5836
Hi @maciejmackowiak,

Thanks for opening a GitHub issue. I'll check your query with the team, before providing an update on this here.

[2022-09-19 15:00] marrrmarrr commented on #5755
@felixarntz @aaemnnosttv I think it's ok to slightly regroup the entities on the settings page as long as it corresponds to the order in which they're shown once the user clicks "Edit" ([this figma screen](https://www.figma.com/file/t5zDpQ28Lo7ZyRcOpGdqgu/TwG?node-id=2343%3A12555)), so the user experience is consistent.

In this case, this would mean that the colour selection on the Edit screen sh

[2022-09-19 15:03] nfmohit commented on #4585
@asvinb As discussed in our stand-up, I have opened up a small PR to address the issue with the VSCode StyleLint extension. I've assigned it to you for review.

Apart from this, only my second question remains from the above:

Thanks!

CC: @aaemnnosttv

[2022-09-19 15:03] aaemnnosttv commented on #4776
@wpdarren after discussing on the call today, the behavior you're seeing isn't caused by the changes here and isn't what this issue was created to fix so @jimmymadon is going to create a new issue for that specifically. That may cause   this to be a bit difficult to QA from your side, but as long as there are no regressions introduced (for IDN and non-IDN domains) we can consider this one done as

[2022-09-19 15:09] hussain-t commented on #5837
@wpdarren. I have fixed the above issue in this follow-up [PR](https://github.com/google/site-kit-wp/pull/5866) for #5282.

[2022-09-19 15:18] jimmymadon opened #5868 "Incorrect redirects to WP Dashboard for sites with Internationalised Domain Names"
## Bug Description

On a site which uses IDNs (domains with multi-byte UTF-8 characters), redirects to the SiteKit dashboard are incorrectly directed to the WP Dashboard in various scenarios. This set of bugs were identified when implementing #4776.

## Steps to reproduce

### Scenario 1 - Setup SiteKit with Google Analytics
1. Go to 'https://türkish.com/wp-admin'. Login using credentials which ca

[2022-09-19 15:21] jimmymadon commented on #4776
@wpdarren Have created a new issue #5868. Could you please check the Steps to reproduce. When I was testing this, I did have some inconsistencies in the redirects. I even managed to connect Analytics once (after a few failures). So not sure what is going on here.

@aaemnnosttv Would you like me to add ACs to this new issue?

[2022-09-19 15:57] asvinb commented on #4585
Thanks @nfmohit ! I think we should be good to go about the version, since the main aim was to get  v14.x.x.

[2022-09-19 17:43] aaemnnosttv commented on #5755
@marrrmarrr I've added AC based on our conversation earlier. If this reads correctly to you then I think we can move forward with it.

[2022-09-19 18:07] eugene-manuilov commented on #5802
@felixarntz @techanvil I think we should use the approach we discussed a while ago. The idea is to create a new entrypoint script for all common components that are separate from the plugin logic and can be used independently. We can call this script something like `googlesitekit-element2` and it will export all its components as `googlesitekit.element` global object.

We will move all common comp

[2022-09-19 19:50] nfmohit commented on #4585
SGTM, thanks @asvinb!

[2022-09-19 20:40] eugene-manuilov commented on #5734
@sashadoes could you please update QAB and add more details? We usually need to provide certain instructions that can be used by other engineers to properly check changes. Just explain what and where should be checked to confirm that this ticket is done correctly.

[2022-09-20 04:35] nfmohit commented on #5730
Understood. Absolutely agreed. Thank you for the explanation, @aaemnnosttv!

[2022-09-20 08:19] mohitwp commented on #5648
### QA Update ⚠️

@sashadoes I verified this and found that wording in case of Scenario 1 is changed successfully. But there is another scenario mentioned under QAB. Can you please provide more details, how can I generate this case ? I tried but not getting the desire changes.

cc @wpdarren

<details>

Case 1:

![image](https://user-images.githubusercontent.com/94359491/191205568-7c4fa908-926e-411

[2022-09-20 09:18] wpdarren commented on #4776
@aaemnnosttv I have added the QA:Eng label on this ticket to complete the second part of the QAB 👍

@jimmymadon I think you've captured the steps perfectly.

[2022-09-20 10:02] jimmymadon commented on #5154
### QA: Eng ✅

 - Verified that all E2E tests after the branch was merged (16 Sept 2022 20:09 BST) do not fail with a navigation timeout error.

[2022-09-20 10:17] wpdarren commented on #5282
### QA Update: ✅

**Verified:**

- Upon clicking the Create property CTA, the user is redirected to the OAuth flow and grant access upon the return.
  - The user lands on the same setup after the successful OAuth flow and grant access.
  - The form is auto-submitted after returning from the OAuth flow.
  - The spinner is displayed while auto-submitting the form.
  - The property was created after

[2022-09-20 10:19] techanvil commented on #5837
As discussed on Slack the screen shifting issue is no longer occurring so moving this back to QA.

[2022-09-20 10:33] marrrmarrr commented on #5755
@aaemnnosttv 👁️👍

[2022-09-20 10:33] wpdarren commented on #5837
### QA Update: ❌

@hussain-t apologies, I possibly should have picked this up before - not 100% sure if I tested this or not, but on the entity Site Kit dashboard screen, the GA4 banner is appearing.  It's not on the main dashboard.

![image](https://user-images.githubusercontent.com/73545194/191235842-f979c0f8-56e9-4c93-a5aa-c57174d513a4.png)

[2022-09-20 10:46] wpdarren commented on #5837
### QA Update: ✅

**Verified:**

- The "Congrats..." banner no longer appears when returning from OAuth to the GA4 Activation Banner.
- The GA4 Activation Banner no longer appears in view-only mode.
- Dashboard Sharing was tested with an admin and editor user role to make sure that the banner did not appear.

Note: on a second test, I did notice that the banner does appear on the entity dashboard.

[2022-09-20 10:56] wpdarren opened #5870 "GA4 Activation Banner appearing on Entity Dashboard in view only"
## Bug Description

On the entity Site Kit dashboard screen, the GA4 banner is appearing in view only. It's not on the main dashboard.

We should remove the banner from the entity dashboard when a user is on view only.

![image.png](https://images.zenhubusercontent.com/5f99965247ef5a1da6985d7d/8eeded12-71a8-4ae6-92bc-fa4213e8e396)

## Steps to reproduce

1. Enable the GA4 and Dashboard Sharing fea

[2022-09-20 11:09] mohitwp commented on #5746
### QA Update ✅

Verified-

- Verified on different viewports.
- Added additional badges.
- Verified for different languages.
- Badges are showing as per AC.

<details>

![image](https://user-images.githubusercontent.com/94359491/191242548-22700769-9e77-4e79-bffc-3bd18467f23c.png)

![image](https://user-images.githubusercontent.com/94359491/191242578-5ad82411-0c6b-4de4-b373-6838e5d5b014.png)

![im

[2022-09-20 12:05] techanvil commented on #5840
Thanks @nfmohit!

One further comment - the IB, although well written is a bit on the verbose side. Not sure if you were in, or have watched the recording of the recent meeting about the IB process, if not I'd suggest giving it a watch. Anyhow one of the points raised was about how IBs can tend toward being a bit overly verbose and akin to a transliteration of code at times. Going forward we aim t

[2022-09-20 12:35] wpdarren commented on #5476
### QA Update: ✅

**Verified:**

- Confirmed that the URL search widget is [removed from Storybook](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/dashboard--url-search-widget)
- Went through the entity and main Site Kit Dashboard to ensure no issues appear in the UI.
- Also checked the view only dashboard with dashboard sharing enabled.

**Note:**  This was a quick check but

[2022-09-20 13:26] aaemnnosttv commented on #5693
@marrrmarrr the ACs are a bit out of date here I think as we've already changed the status text for unconnected modules to be a CTA button. You can see it here as it is for Analytics and GA4, but the same would apply for any other active but unconnected module:
<img width="759" alt="image" src="https://user-images.githubusercontent.com/1621608/191269791-e5705f03-7975-47c9-bd6e-493b50a27fc2.png">
h

[2022-09-20 13:55] bethanylang commented on #5836
@maciejmackowiak Thanks again for getting in touch! The impact of this transient being loaded is very, very small, so at this time we don't plan to remove it. If you're seeing that it's having a larger impact on your site, please do let us know by creating a <a href="https://wordpress.org/support/plugin/google-site-kit/">new topic on our support forum</a> with more details about what you're seeing

[2022-09-20 13:55] #5836 closed

[2022-09-20 16:10] techanvil commented on #5802
@eugene-manuilov this is an interesting idea, I can certainly see benefits to this approach. A few of points/questions:

- If we take this `googlesitekit-element` approach, we still need to choose how to include `@material/web`. And I think that importing the individual modules within their React wrappers would still be advantageous for the reasons I have detailed above. However `@material/web` sh

[2022-09-20 17:01] jimmymadon commented on #5538
@hussain-t In addition to my CR comments, there is a slight issue here. The AC says 'new transient should be set at the time the TwG module **setup is completed**'. Right now, as per the IB, we add the transient when the module is `activated`.

In my testing, I realised that if the user attempts to connect TwG, but does not continue the 'Customize' step and clicks on cancel, the module is 'activat

[2022-09-20 17:39] eugene-manuilov commented on #5802
Yep, agree with a need to import individual modules within their React wrappers.

I see no problems with it.

Yes, I think all components in `googlesitekit-element` should be as close as possible to the current versions of common components.

[2022-09-20 18:13] aaemnnosttv commented on #5868
@jimmymadon feel free to add some initial AC here to start.

[2022-09-20 18:15] aaemnnosttv commented on #5755
Thanks @marrrmarrr ! Moving on to IB 👍

[2022-09-20 18:18] aaemnnosttv commented on #5732
Thanks @hussain-t

IB ✅

[2022-09-20 18:22] aaemnnosttv commented on #5750
@nfmohit here we probably want to check if the value is not an array, or maybe if the `value.join` exists before calling it, but that can be handled in the implementation.

Otherwise, LGTM 👍

IB ✅

[2022-09-20 18:24] aaemnnosttv commented on #5724
IB ✅

[2022-09-20 18:32] aaemnnosttv commented on #5859
@asvinb my understanding is that using the Immer reducer would fix the tests that would have failed previously?

Overall LGTM though 👍

IB ✅

[2022-09-20 18:35] aaemnnosttv commented on #5816
@hussain-t while this issue was originally raised around the failure I experienced in `adsense/util/data-mock.js`, the problem exists everywhere we're using the date constructor in that way, which is why the ACs call for this to be updated everywhere 🙂

[2022-09-20 19:03] felixarntz commented on #4997
@aaemnnosttv I've defined ACs here as discussed, also encompassing #5025 which I'll close as a duplicate. Please review - if it sounds good, feel free to move to IB column.

[2022-09-20 19:04] felixarntz commented on #5025
The ACs newly defined on #4997 cover this issue as well as it's closely related. Please follow along the other issue going forward, closing this as a duplicate.

[2022-09-20 19:04] #5025 closed

[2022-09-20 19:05] aaemnnosttv commented on #4997
LGTM, thanks @felixarntz 👍

[2022-09-20 19:07] aaemnnosttv commented on #4997
@felixarntz one thing I just noticed – this one should perhaps be rewritten to say the "server" provided an invalid response? These usually happen from the server rather than the service.

[2022-09-20 19:26] aaemnnosttv commented on #4628
@nfmohit this shouldn't be necessary as a `Google_Proxy` instance is available via the `Authentication->get_google_proxy()` method 👍

We don't need to touch `WP_Http` directly, instead we can use the [`wp_remote_head`](https://developer.wordpress.org/reference/functions/wp_remote_head/) function.

We can use [`wp_remote_retrieve_response_code`](https://developer.wordpress.org/reference/functions/w

[2022-09-20 19:34] aaemnnosttv commented on #1798
IB ✅

[2022-09-20 19:41] aaemnnosttv commented on #5785
IB ✅

[2022-09-20 20:26] felixarntz commented on #5537
@wpdarren The TwG team is still working on those URLs and they are aware of ongoing problems at the moment. I don't see the same problems that you do (maybe related due to US vs non-US location), but I also get e.g. a 404 when I go to any of the publication URLs.

It's probably not worth focusing too much on this right now, until the TwG team gives us the green light that they've completed their w

[2022-09-20 21:24] felixarntz opened #5871 "Add minimal support for multisite (not network mode)"
Since it's release, Site Kit has not supported network wide usage in any way (see #276). It explicitly does not load when network activated, and shows an admin notice that it should be activated per site instead.

While the reason for that are the larger plans to implement a true "network mode", in which Site Kit applies to the entire network of sites and has its UI within the Network Admin, this

[2022-09-20 21:30] felixarntz commented on #276
Hey all, after a great conversation with @bahia0019 at WordCamp US, we are realizing that we could have done something much simpler than what is proposed here to at least allow _per-site usage_ while the plugin is network active. To be fair, that mostly only avoids having to activate the plugin one by one for each site, but it should already satisfy a large portion of multisites that need that use

[2022-09-21 04:26] nfmohit commented on #5840
Thank you for the valuable feedback, @techanvil! I was present in the meeting and I'm now working on making my future IBs concise and higher-level. Thank you!

[2022-09-21 04:29] nfmohit commented on #5750
Thank you for pointing out other possible checks, @aaemnnosttv!

[2022-09-21 04:47] nfmohit commented on #4628
I have updated the IB according to the above suggestions, thank you @aaemnnosttv! I have a small follow-up question if that's okay:

In a case where the response is a `WP_Error`, do we not want to pass the error message from it to the `errorMsg` property?

Thank you!

[2022-09-21 05:37] hussain-t commented on #5816
Thanks, @aaemnnosttv. I have updated the IB generically without much detail specifying each file since there are many instances. I have slightly bumped up the estimate.

[2022-09-21 06:46] nfmohit commented on #5734
### QA:Eng ✅
- Verified that all instances of `waitFor` which wait upon the result of a `render` have been replaced with usage of `waitForRegistry`.

[2022-09-21 06:59] nfmohit commented on #5345
### Exploration update:

Found out that the [browserslist-update-action](https://github.com/marketplace/actions/browserslist-update-action) can only open PRs assuming the base branch is named `master`, which isn't valid in our case. This causes an error and the action fails ([example](https://github.com/nfmohit/site-kit-wp/actions/runs/3094952221/jobs/5008865985#step:5:167)). I am trying to find a

[2022-09-21 07:28] adamdunnage commented on #4837
@aaemnnosttv I have the console output for one of the users experiencing this. This is the console output for the user in [this support topic](https://wordpress.org/support/topic/my-analytics-error/).

Link to console output: https://drive.google.com/file/d/1Hp1cxS_O7uPcDkDtB7bljY4AjkZphJoQ/view

Hopefully this can help you to see where in this case it may be happening. If there's anything else th

[2022-09-21 08:07] asvinb commented on #5824
Update after spending some time on the ticket:

- Have yet to determine the cause of the issue
- Tried loading fonts within Storybook differently, using webfontloader and trigger backstop when the fonts are loaded via the custom `wf-active` class name.
- Might not be related to whether fonts are already loaded.

[2022-09-21 08:54] wpdarren commented on #5537
### QA Update: ✅

@felixarntz thank you for the clarification!

**Verified:**

- The `Create Account` CTA button points to
`https://accounts.google.com/accountchooser?continue=https%3A%2F%2Fpublishercenter.google.com%2Ftwg%2Fonboarding%3Fsk_url`

- The `Complete Set Up` CTA button points to
`https://accounts.google.com/accountchooser?continue=https%3A%2F%2Fpublishercenter.google.com%2Ftwg%2FCAowqu

[2022-09-21 09:18] techanvil commented on #5648
Hi @mohitwp, the 2nd scenario refers to the case where the Property ID selected in the Property dropdown matches the Property ID found in the GTM container. I have tweaked the QAB and added a screenshot for illustration. Please let me know if you need any further info on this one.

[2022-09-21 09:47] mohitwp commented on #5648
Thank you @techanvil

QA Update ✅

- Verified for both the scenarios on dev environment.
- In both cases, changes implemented as per AC.

<details>

Case 1-

![image](https://user-images.githubusercontent.com/94359491/191205568-7c4fa908-926e-4111-8ed5-6a1d57dda0c1.png)

Case 2-

![image](https://user-images.githubusercontent.com/94359491/191472962-9cb4794f-de21-4ff6-ae19-021b51859db1.png)

</detai

[2022-09-21 11:28] hussain-t commented on #5493
Thanks, @aaemnnosttv. I have updated the IB to have a new REST endpoint to expose the data. Apart from that, we could create a new option for `adsenseLinked` instead of storing it in settings, that way, we avoid the situation where this one setting is visible to everyone whereas the rest are restricted. That could potentially be done in a follow-up issue.

[2022-09-21 15:16] techanvil commented on #5755
Nice work on the IB @nfmohit. Succinct with detail where necessary, a healthy balance! :)

IB :white_check_mark:

[2022-09-21 16:26] techanvil commented on #4776
## QA:Eng :white_check_mark:

As stated [above](https://github.com/google/site-kit-wp/issues/4776#issuecomment-1251148512) by @aaemnnosttv the `QA:Eng` scenario is confirmed done with the tests now passing on his older PHP environment where they were previously failing.

I have also taken another look at the code which all LGTM. Additionally confirmed no use of `wp_parse_url` remains in the Site K

[2022-09-21 17:11] felixarntz commented on #5130
@techanvil While this is a valid concern, we recently discussed this and decided to rather change language on the service side to e.g. clarify that cached data may still show up in the plugin dashboard for up to 1 hour. While we could in principle address this somehow in Site Kit, I think it's not worth the effort, and updating the messaging should be sufficient. cc @aaemnnosttv

[2022-09-21 17:11] #5130 closed

[2022-09-21 18:41] aaemnnosttv commented on #4628
@nfmohit that would be consistent with what we currently do, so yes let's do that. We don't actually use this value anywhere it seems but could perhaps be useful by support. The user-facing error details are all based on the check's `pass` value. Let's pass the actual error message through in the response from the check though as you said. I'll update the AC to clarify.

[2022-09-21 19:14] aaemnnosttv commented on #5493
@hussain-t I think adding a REST endpoint to return a single boolean is overkill for this situation. Also, the `googlesitekit_analytics_adsense_linked` option is a legacy option that we only reference when there is no saved Analytics settings. It isn't updated like the current setting is when we detect the two are linked.

After thinking about this a bit more, I think all we have to do is delay th

[2022-09-21 19:17] aaemnnosttv commented on #5816
Thanks @hussain-t – please remember to always populate the Test Coverage section even when no changes are needed as is the case here. I'll update this for now, to move it forward.

IB ✅

[2022-09-21 19:23] aaemnnosttv commented on #5786
Thanks @asvinb, this might not be entirely clear that this option replaces existing manual reading of the `.nvmrc` file and providing that to the setup action. This could potentially leave an unnecessary step behind in the process. I'll tweak this part to clarify to move this forward but otherwise this looks good 👍

[2022-09-21 19:25] aaemnnosttv commented on #5786
IB ✅

[2022-09-21 19:41] aaemnnosttv commented on #5871
@felixarntz this sounds good to me. Regarding the changes to the notice, should we then remove this portion of it? https://github.com/google/site-kit-wp/blob/db0c22626212552d025da373114844a9e5f6cc3a/includes/Plugin.php#L83-L85

Perhaps this was implied but just wanted to check.

[2022-09-21 19:56] felixarntz commented on #5871
@aaemnnosttv Good catch, included that in the ACs to clarify.

[2022-09-21 20:15] felixarntz opened #5873 "Implement notification about upcoming WordPress version bump"
In the Site Kit release 1.88.0 (November 21), Site Kit will raise its minimum WordPress version requirement to 5.2. A notification banner should be included in the Site Kit dashboard to inform users on older WordPress versions about that, advising to update soon.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cri

[2022-09-21 20:16] felixarntz opened #5874 "Bump minimum WordPress version to 5.2"
# 🚨 Note: do not merge until Release `1.88.0` 🚨

The minimum required WordPress version should be bumped from 4.7 to 5.2 as part of the 1.88.0 release (November 21).

The corresponding banner notification to update from prior versions (see #5873) should then be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accepta

[2022-09-21 20:21] felixarntz opened #5875 "Remove pre-WP5.2 PHP polyfill code, including test code"
# 🚨 Note: do not merge until Release `1.88.0` 🚨

Together with bumping the minimum WordPress version requirement to 5.2 (see #5874), we should remove any polyfill code that is only in Site Kit for WordPress versions lower than 5.2.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Any polyfill code that

[2022-09-21 20:21] felixarntz opened #5876 "Update pre-WP5.2 React components to use hooks"
A few React components that are intended for use within Gutenberg currently don't rely on hooks to support pre-WordPress 5.2 versions (WordPress 5.2 introduced support for React hooks). With support for WordPress versions below 5.2 being removed with #5874, those components should be changed to follow the established Site Kit pattern of using React hooks.

---------------

_Do not alter or remove

[2022-09-21 20:56] felixarntz commented on #5876
@aaemnnosttv @tofumatt Maybe you can have a look, I'm unsure whether there is anything to do here actually. The one Gutenberg integration we have (Idea Hub notification) is not a regular component in the first place, so I'm not sure if the original idea here applies there. In any case, it would be good to review that code and see if there are pieces which we can now modernize as we drop pre-WP 5.2

[2022-09-21 21:26] aaemnnosttv commented on #5568
Thanks @jimmymadon – regarding the use of `Active_Consumers`, I'd prefer if we avoid `User_Options::switch_user()` as that could have unintended consequences, especially if it's a shared instance.

Instead, I'm thinking it might make sense to add this as a method to the `OAuth_Client` which would have its own private instance of `Active_Consumers` which would use the same `User_ _Options` instance

[2022-09-21 21:27] aaemnnosttv commented on #5871
IB ✅

[2022-09-21 21:28] aaemnnosttv commented on #5775
@felixarntz do we want to refine this one a bit more as discussed to include stylistic changes to the other items in the menu (e.g. adding icons) or should this be still limited to adding the user details?

[2022-09-21 21:34] aaemnnosttv commented on #5753
Closing as fixed upstream now 👍

[2022-09-21 21:34] #5753 closed

[2022-09-21 21:37] felixarntz commented on #5775
@aaemnnosttv IMO we should go with fully replicating the appearance of the Analytics user dropdown (see screenshot).

<img width="324" alt="Screen Shot 2022-09-21 at 2 35 45 PM" src="https://user-images.githubusercontent.com/3531426/191615027-30a785c1-af01-4da9-9d9c-1606855ea13b.png">

The user details could look almost 100% like this (minus "Privacy Policy" link, the content could be vertically c

[2022-09-21 21:38] aaemnnosttv commented on #4880
@techanvil is this still a problem? The `useInViewSelect`s shouldn't be triggered if the hash doesn't match the widget area's ID or is there a detail here because the jump links don't match a section?

[2022-09-21 21:41] aaemnnosttv commented on #4707
Not sure how I missed this but thanks for opening @bethanylang !

Closing in favor of #5724 and #5775 .

[2022-09-21 21:41] #4707 closed

[2022-09-21 21:49] aaemnnosttv commented on #5520
@felixarntz how does this sound?

[2022-09-22 00:55] aaemnnosttv commented on #5345
@nfmohit it looks like we can configure this with the `base_branch` input, no? 🤔
https://github.com/marketplace/actions/browserslist-update-action#action-inputs

[2022-09-22 02:30] aaemnnosttv commented on #4837
Thanks @adamdunnage – I can see where the error is being raised in this specific case, although it isn't clear why. Looking through the log they shared, there are other errors including others that shouldn't be there under normal conditions including:

_Request parameter is empty: metrics._

_Error establishing a database connection_

_No route was found that matches the URL and request method._

[2022-09-22 05:17] wpdarren commented on #4776
### QA Update: ✅

**Verified:**

- With site URL / domain name that has foreign UTF-8 multi-byte characters:
  - Plugin setup ([see note above](https://github.com/google/site-kit-wp/issues/4776#issuecomment-1245467095) about behaviour and new ticket created)
  - User input survey works as expected.
  - Entity Search box (verifying the entity URLs on the entity dashboard) works as expected
  - AdSe

[2022-09-22 08:21] eclarke1 opened #5877 "Bump WP Version"
Asana epic: https://app.asana.com/0/1202598695023303/overview

[2022-09-22 08:29] eugene-manuilov commented on #5185
IB ✔️

[2022-09-22 08:43] hussain-t commented on #5873
@felixarntz, @aaemnnosttv, since we don’t have any Figma designs for this notification, what should we use for the SVG icon? Do we have one?

[2022-09-22 09:08] hussain-t commented on #5493
Thanks, @aaemnnosttv, that makes perfect sense 👍

It could be a 3-pointer; however, I have set it to 7 to have more space for testing. We can also add the GFI label to this ticket.

[2022-09-22 09:57] asvinb commented on #1146
@aaemnnosttv Is there any reason why we are not upgrading to v7? The reason is we'll still have some compatibility issues with v6 and PHP 8.1, so why not use v7? 🤔

[2022-09-22 12:13] jimmymadon commented on #5538
As per my previous comment, we cannot set the 7 day timer within the `onActivation()` method.

We can create a possible `onConnection()` hook as follows: Within `ModuleSettings::merge()`, we can check if the module is connected before and after saving settings. If the module was found to have been connected only after the saving of settings, it indicates that that was the save which 'connected' th

[2022-09-22 12:21] hussain-t commented on #5538
Thanks for bringing this up, @jimmymadon.

According to your suggestion, how do we know if the user fires the save settings action for the first time from the frontend?

[2022-09-22 13:27] asvinb opened #5878 "Storybook warnings: Deprecated support for duplicate kinds"
## Feature Description
While running `npm run test:visualtest`, there are multiple warnings about duplicate title used in multiple files. Refer to:
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-support-for-duplicate-kinds

[code]

This affects mostly the newly added TwG stories although other stories should not be excluded.

---------------

_Do not alter or remove any

[2022-09-22 14:04] wpdarren commented on #5851
### QA Update: ⚠️

An observation: GA4 feature flag is not enabled: when a site does not have a GA4 property,  in Site Kit settings the Connect Google Analytics 4  appears. Should this be appearing outside of the feature flag?  🤔  On my test site, UA data is appearing and appears to be connected.  Not sure if there are implications here, but feel the settings status of not connected could cause su

[2022-09-22 14:05] nfmohit commented on #5345
@aaemnnosttv Yep, now we can, thanks to [my PR](https://github.com/c2corg/browserslist-update-action/pull/349) that I did yesterday in my free time 😅

There's still one little caveat though. After the action creates the PR, we need a way to get the number of the PR created to hook it up with a Zenhub action and move it to the `Merge Review` column. I wish the [browserslist-update-action](https://g

[2022-09-22 14:41] nfmohit commented on #5345
Update to the above: Looks like the action author kindly sorted that as well ([release](https://github.com/c2corg/browserslist-update-action/releases/tag/v2.2.0)) 🎉

[2022-09-22 14:47] nfmohit commented on #4628
Updated the IB, thank you, @aaemnnosttv!

[2022-09-22 15:13] #5378 closed

[2022-09-22 15:15] #5648 closed

[2022-09-22 15:18] #5537 closed

[2022-09-22 15:19] #5746 closed

[2022-09-22 15:19] #4585 closed

[2022-09-22 15:24] #5282 closed

[2022-09-22 15:28] #5445 closed

[2022-09-22 15:35] felixarntz commented on #5873
@hussain-t Which SVG icon? Do we need to have one? I'd say the notification could be without one.

[2022-09-22 15:40] hussain-t commented on #5873
Thanks, @felixarntz. Yes, banner notifications can be displayed without the SVG icon. I was curious if there is any for this one.

[2022-09-22 15:48] #5754 closed

[2022-09-22 15:56] #5273 closed

[2022-09-22 15:58] #5752 closed

[2022-09-22 15:58] #5734 closed

[2022-09-22 15:58] #5154 closed

[2022-09-22 16:03] #5805 closed

[2022-09-22 16:18] aaemnnosttv commented on #5751
## Approval ⚠️

There is a minor inconsistency in the implementation and the design, specifically around the relationship between the outline and the gap between it and the inner circle. While reviewing we decided this should be adjusted as this issue is specifically about consistency with the design.

| Plugin | Design |
| --- | --- |
| <img width="239" alt="image" src="https://user-images.github

[2022-09-22 16:35] aaemnnosttv commented on #5749
## Approval ⚠️

This one is close but seems to be off regarding this point of the AC:

This is not the case as shown in @mohitwp 's last screenshot above:
<img width="544" alt="image" src="https://user-images.githubusercontent.com/1621608/191802316-ec0c1600-808e-472d-82f4-be890cc9f68f.png">

On closer inspection, it appears that the badge/labels start wrapping at 1122 px, regardless if they fit or

[2022-09-22 16:38] #5825 closed

[2022-09-22 16:40] #5278 closed

[2022-09-22 16:41] #4864 closed

[2022-09-22 16:43] #5618 closed

[2022-09-22 17:09] #5463 closed

[2022-09-22 17:12] #5287 closed

[2022-09-22 17:14] #4776 closed

[2022-09-22 17:15] #5437 closed

[2022-09-22 17:15] #5476 closed

[2022-09-22 17:22] felixarntz commented on #5678
## Approval ⚠️

@techanvil @hussain-t The PR now adds `RecoverableModules` (and thus a `WidgetRecoverableModules`). I'm not sure why that was decided, but it doesn't make sense to me, and it is also neither part of the ACs nor IB. This has production code / API implications, hence it has to be considered. It may also not in fact work as expected because we pass an array to it rather than a string,

[2022-09-22 18:00] techanvil commented on #5538
@jimmymadon @hussain-t this is an interesting one. I have a suggestion which builds upon the idea of checking if the module is connected after saving the settings.

We could use WP actions as an eventing mechanism, dispatching an action either side of the call to `merge` in the save settings request handler:

https://github.com/google/site-kit-wp/blob/db0c22626212552d025da373114844a9e5f6cc3a/inclu

[2022-09-22 18:07] aaemnnosttv commented on #1146
@asvinb yes, v7 requires PHP 7.2+ https://packagist.org/packages/guzzlehttp/guzzle#7.0.0

[2022-09-22 18:10] aaemnnosttv commented on #5493
IB ✅

[2022-09-22 18:31] techanvil commented on #5678
Hi @felixarntz, thanks for raising this.

To be clear, the `RecoverableModules` and `WidgetRecoverableModules` components were added via a previous [issue](https://github.com/google/site-kit-wp/issues/5376) and we don't want to remove those. However there is an unwanted addition here of `WidgetRecoverableModules` to `assets/js/googlesitekit/widgets/util/get-widget-component-props.js` that was miss

[2022-09-22 19:04] felixarntz commented on #5678
@techanvil Thanks for clarifying, I wasn't aware of that. In that case, I would almost reverse my concern and ask, why _wasn't_ that component included in `getWidgetComponentProps` prior? Apologies as I don't have the full context here, but just want to make sure we're making the right call there.

[2022-09-22 19:40] aaemnnosttv commented on #5851
@wpdarren while the change shown here was brought about by the design for the GA4 activation banner, it isn't directly related to that feature so it isn't tied to that feature flag.

This _may_ result in an increase in support requests although I think this is probably acceptable given the severity of having only UA connected and no GA4. This would only affect users who had set up Analytics quite

[2022-09-22 19:46] aaemnnosttv commented on #5345
Amazing! Thanks @nfmohit 👍👍👍

[2022-09-22 19:51] aaemnnosttv commented on #4628
IB ✅

[2022-09-22 20:20] aaemnnosttv commented on #5678
@felixarntz because `RecoverableModules` is rendered by `WidgetRenderer` rather than the widget itself since we already know it depends on a recoverable module, there's no point in rendering it. Adding it to the widget's component props wouldn't make sense because it would require every single module to implement the same behavior. See https://github.com/google/site-kit-wp/issues/5376 for more con

[2022-09-22 20:44] aaemnnosttv commented on #5751
@nfmohit the difference in outline thickness has been fixed but there's still a difference in the gap around the inner content. Because this is an image radio, we can't change the shared style, but we could add an override for the color option specifically.

![image](https://user-images.githubusercontent.com/1621608/191847413-23bbff92-e8d8-4beb-8c15-7bf897e95a74.png)

We shouldn't sink too much ti

[2022-09-22 21:00] aaemnnosttv commented on #5751
My mistake – something was out of sync locally. All good now! Thanks @nfmohit 👍

[2022-09-22 21:00] #5751 closed

[2022-09-22 21:15] felixarntz commented on #5678
Thanks @aaemnnosttv. Okay, in that case I think we're good to close this one. Thanks everyone for clarifying.

[2022-09-22 21:15] #5678 closed

[2022-09-22 23:05] nfmohit commented on #5345
Concerns/Questions:

1. Since this action needs to create a branch, make commits, and create a PR, what Git user should we use? Most GitHub actions use `GitHub Action<action@github.com>` as the user, should we go that route? If so, how do we handle Google CLA? One approach could be adding the `cla` label.
2. Currently, [my (draft) implementation](https://github.com/nfmohit/site-kit-wp/blob/develop

[2022-09-23 07:28] wpdarren commented on #5851
### QA Update: ✅

My only observation is the one issue [mentioned above](https://github.com/google/site-kit-wp/issues/5851#issuecomment-1255073640).

I did find a few minor UI issues but not regressions so will create tickets.

- Went through the QA checklist on a site with gathering, zero and live data.
- Checked feature tours to make sure they were being triggered correctly
- Ran some checks to

[2022-09-23 09:09] jamesozzie opened #5881 "Can't connect Tag Manager if the selected container has a UA and GA4 tag that differ from the connected GA properties."
## Bug Description

If a user has Analytics connected, and then tries to set up the Tag Manager module, they can't select a GTM container if it contains a UA and/or a GA4 snippet that doesn't match the existing connected properties in Analytics (further testing requested). There is no warning or notice as to why you can't connect, and no console error relating to this. The "Confirm & Continue" but

[2022-09-23 09:11] hussain-t commented on #5538
Thanks for your suggestion, @techanvil. SGTM!

[2022-09-23 09:32] jamesozzie commented on #5690
Closing this as a duplicate of #5549

[2022-09-23 09:32] #5690 closed

[2022-09-23 09:35] jamesozzie commented on #5549
I've been able to reproduce this a couple of times when cancelling the OAuth permissions screen during TwG module setup. Images below:

![image](https://user-images.githubusercontent.com/41326532/191932557-fdfec8d6-9d51-4d93-93d8-361445fa9cfe.png)

![image](https://user-images.githubusercontent.com/41326532/191932607-5f504da3-9331-432a-af2e-853e83e8d7bc.png)

## Steps to reproduce

1. Setup a site

[2022-09-23 10:00] eugene-manuilov commented on #5870
IB ✔️

[2022-09-23 10:01] asvinb commented on #5749
@aaemnnosttv This one is tricky since we are using the grid MDC layout not flex) and we have predefined widths set per breakpoint. So even if it looks like there's room for the labels to fit on one line, actually due to the width of their parent container, they are limited. For e.g:
Here we see that the labels should definitely fit in the available space:
<img width="903" alt="image" src="https://

[2022-09-23 10:12] eugene-manuilov commented on #4775
@asvinb, we can't just remove it from the codebase because it will cause failure. What we need to do is to replace `getModules` calls with a selector name that is actually needed. For example, if a function needs to check whether a module is connected, then we need to replace the resolveSelect call for the `getModules` selector with `const moduleConnected = await registry.__experimentalResolveSele

[2022-09-23 10:14] eugene-manuilov commented on #5411
IB ✔️

[2022-09-23 10:16] eugene-manuilov commented on #5110
IB ✔️

[2022-09-23 10:20] eugene-manuilov commented on #4161
IB ✔️

[2022-09-23 10:22] eugene-manuilov commented on #5874
IB ✔️

[2022-09-23 13:00] marrrmarrr commented on #5851
@aaemnnosttv @wpdarren I think we could release this CTA before the GA4 banner, as long as we inform the support team so they're aware this is part of the overall work to get as many people as possible to set up GA4 and start collecting historical data before July 2023.

[2022-09-23 13:53] FlicHollis commented on #603
Hi @eugene-manuilov as discussed on the sprint planning call I will un-assign you so this can be picked up by another engineer in the next sprint. Thanks!

[2022-09-23 13:58] techanvil commented on #4880
Hi @aaemnnosttv, this is still an issue, yup, at least it is for PSI as evident clicking on the link in the PSI setup notification. Notice how it navigates to an offset position on the first click of it and the widgets in the Content section are already loaded. Then I scroll up to click on the link again to show the intended behaviour of cleanly navigating to the Speed section.

https://user-image

[2022-09-23 13:58] eugene-manuilov commented on #4775
@asvinb, yes, we don't need to call `getModules` anymore, but we do need to call those selectors with `__experimentalResolveSelect` because otherwise selectors will return early with undefined results since resolvers won't be finished yet.

So, instead of https://github.com/google/site-kit-wp/blob/98bd026ca0f95f9db25536c0a99eeb7bf00b97cc/assets/js/feature-tours/all-traffic-widget.js#L41-L47 we sho

[2022-09-23 16:10] techanvil opened #5882 "GA4 Activation Banner -> Setup Banner -> "existing property" variants: Only need edit scope when creating a property or measurement ID"
## Feature Description

At the moment on the GA4 Activation Banner, when on the Setup Banner in the "existing property" variants, we are always checking for the _edit_ scope and if it's not present we a) show the message as highlighted below, and b) redirect to OAuth when pressing the CTA.

![image.png](https://images.zenhubusercontent.com/6133937d41f397090b8344a7/baf9810e-689d-4acf-9594-e6f58491d

[2022-09-23 17:17] techanvil commented on #5799
## QA: :warning:

- Smoke tested :white_check_mark:
- Verified the changes I’ve been involved with :warning:
- Performed some ad-hoc testing :white_check_mark:

I noticed that a detail from the AC/IB in #5805 was missed. According to the issue, the "You will need to give Site Kit permission..." message should only show up when "Set up a new property" is selected in the dropdown.

However I have al

[2022-09-23 17:19] techanvil commented on #5851
## QA: :warning:

- Smoke tested :white_check_mark:
- Verified the changes I’ve been involved with :warning:
- Performed some ad-hoc testing :white_check_mark:

I noticed that a detail from the AC/IB in #5805 was missed. According to the issue, the "You will need to give Site Kit permission..." message should only show up when "Set up a new property" is selected in the dropdown.

However I have al

[2022-09-23 21:06] aaemnnosttv commented on #5345
I think that would be fine in this case. We accept commits from `dependabot` which would be a similar case. The CLA only applies to people, so I don't foresee it being a problem but that's a good shout. I guess we'll have to wait and see if it comes up. Just adding the label wouldn't be a solution though (I'm not even sure if that works as a manual override now that it's a GH check). It only works

[2022-09-23 21:42] nfmohit commented on #5345
Thank you for all the clarifications and confirmations, @aaemnnosttv! I'll reflect them in my PR accordingly.

Agreed and understood, though a bit sad because I spent quite some time for this step starting from making the [browserslist-update-action](https://github.com/marketplace/actions/browserslist-update-action) return outputs containing the data of the created PR, to exploring the Zenhub API

[2022-09-23 21:42] aaemnnosttv commented on #5621
Reopening this one to consider an amendment as raised by @wpdarren and @jamesozzie. While this currently works as intended, in retrospect, it was not ideal to restart the setup flow for GA to connect GA4 because this bypasses safeguards we have in place to prevent an admin from changing the current connected property unless they have access to it.

While it is currently possible to add GA4 via set

[2022-09-23 22:17] aaemnnosttv commented on #5851
I reopened https://github.com/google/site-kit-wp/issues/5621 in response to a concern related to what @wpdarren raised above and @jamesozzie also flagged elsewhere, mostly related to the ability to change the GA connection when setting up GA4 as it restarts the module setup. I opened #5885 to address it.

@techanvil would be great if you could give it a review on Monday when you get on.

[2022-09-23 22:31] aaemnnosttv opened #5886 "Prevent users from connecting GA4 without access to UA"
## Feature Description

Analytics is a bit of a special case when it comes to modules as it is essentially one but technically implemented as two under the hood. In https://github.com/google/site-kit-wp/issues/4825 we added guardrails to the module settings edit views for modules with service entities to prevent an admin without access to the configured entity to change it.

For GA4, we do the sam

[2022-09-24 05:53] nfmohit commented on #5345
Okay, following up on the above discussion. It looks like [browserslist/update-db](https://github.com/browserslist/update-db) only works with `npm` versions 7 or above. Since our project runs on Node 14 that comes with NPM 6, it throws an error and asks us to use the legacy `npx browserslist@latest --update-db` command, which is apparently deprecated and to be removed in a future major `browsersli

[2022-09-24 20:45] nfmohit commented on #5493
### Note

One little detail that I've discovered while code reviewing the PR for this issue is that in order to replicate the error in the console reported in this issue, the Analytics and Adsense modules need to be shared with a non-administrator role (e.g. `editor`) and the view only dashboard should be accessed with that non-administrator role. I've added this bit to the QA brief so that it doe

[2022-09-25 07:49] FlicHollis commented on #5874
Hi @eugene-manuilov does the IB include the removal of the banner notification (from 5873)? Just double checking this is covered!

[2022-09-25 20:43] kuasha420 opened #5888 "Update questions and related copies of User Input Screens"
## Feature Description

To simplify the flow and encourage more users to complete the User Input question, the questions should be reduced to 3 according to the new Figma design.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The questions shown in the User Input Page and Settings Page should be updat

[2022-09-25 20:49] kuasha420 opened #5889 "Update API route for loading and saving updated User Input questions"
## Feature Description

Once the user input questions are updated in #5888 , the `core/user/data/user-input-settings` route should be updated to reflect the changes,

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Not needed, this will be covered in #5888 so this one can be closed.

## Implementation B

[2022-09-25 20:52] kuasha420 opened #5890 "Implement new design for User Input questions"
## Feature Description

The question screens of the User Input page should be updated to implement the new Figma design for User Input v2.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

## QA Brief

*

## Changelog entry

*

[2022-09-25 20:58] kuasha420 opened #5891 "Implement new design for Review screen of User Input page with the new Inline Edit interface"
## Feature Description

The review screen of the User Input page should be updated to implement the new Figma design for User Input v2.

Also,  'Edit' functionality of User Input Review screen is a way for users to make changes to their answers before submitting. Currently, clicking it takes the user back to the questions screen which is a cumbersome UX. To make the experience better, the new Inli

[2022-09-25 21:04] kuasha420 opened #5892 "Add “Cancel” button in User Input page"
## Feature Description

For the updated User Input, it was decided to make answering the question entirely "Optional" for the user during any part of the flow. Therefore, there should be a "Cancel" button added to the User Input Page.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The User Input page

[2022-09-25 21:18] kuasha420 opened #5893 "Implement new inline Edit question interface in the User Input Review page"
## Feature Description

The 'Edit' functionality of User Input Review screen is a way for users to make changes to their answers before submitting. Currently, clicking it takes the user back to the questions screen which is a cumbersome UX. To make the experience better, the new Inline edit interface from the Figma design should be implemented. It is similar to how Edit Settings behaves on the Con

[2022-09-25 21:24] kuasha420 opened #5894 "Remove functionality around the no longer used answer edit mechanism using ‘single’ URL parameter from the User Input page"
## Feature Description

Once the inline answer editing is implemented in #5893 and #5897, The current mechanism to edit an answer using "single" parameter in URL will no longer be in use and should be removed with all related code and tests.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The mechanism

[2022-09-25 21:31] kuasha420 opened #5895 "Add CTA for users with Incomplete User Input answers in Settings page"
## Feature Description

In the current Admin Settings page, there is a CTA/Banner displayed when user has not completed the User Input Survey, it should be updated or refactored to use the new Figma design.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A CTA should be shown when an user who has not t

[2022-09-25 21:33] kuasha420 opened #5896 "Implement new design for User Input Settings"
## Feature Description

The User Input Settings section of the Admin Settings should be updated to reflect the updated look.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The User Input section of Admin Settings page should implement the new [design](https://www.figma.com/file/CdtrHB0HAjfGRWTnTMMQI0/

[2022-09-25 21:37] kuasha420 opened #5897 "Implement new inline Edit answer interface for User Input Settings"
## Feature Description

#5893 implements "inline" answer editing interface to the review screen of User Input page. The User Input settings is very similar looking with "Edit" buttons on the questions with a few differences. The same inline editing interface should be added here as well according to the updated design which expands the question the user is editing and blocks out the other question

[2022-09-25 21:45] kuasha420 opened #5898 "Store User Input answers in Site Database"
## Feature Description

Currently, the answers to the User Input questions are being stored in the Site Kit Service and then being synced and cached. Going forward, the answers should be stored on the WordPress Site's Database.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Answers to both user specif

[2022-09-25 21:54] kuasha420 opened #5899 "Remove infrastructure related to storage and synchronization of user input settings between service and plugin"
## Feature Description

Once #5898 is implemented and the User Input answers are being stored and read from the Site's database, any leftover code related to storage and synchronization of user input settings between Site Kit service and plugin should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cri

[2022-09-25 22:02] kuasha420 opened #5900 "Simplify logic around user input completion state"
## Feature Description

Going forward, user input questions will no longer be mandatory to answer and the given answers will live on the sites WordPress database. Therefore, there will be only two state for a given user regarding User Input Completion - complete and incomplete. Also, it will be easier to infer this state from the saved values and can be represented as a boolean. This will signific

[2022-09-25 22:11] kuasha420 opened #5901 "Remove automatic redirection to User Input Page"
## Feature Description

Going forward, the User Input is optional for all users, therefore, there should no longer be any automatic redirection to `user-input` page based on the completion state of User Input Survey.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Users should not automatically be redi

[2022-09-26 06:50] mohitwp commented on #5851
### QA Update: ✅

- Smoke tested.
- Went through the QA checklist on a site with gathering, zero and live data.

[2022-09-26 08:19] asvinb commented on #4775
Thanks @eugene-manuilov ! IB has been updated!

[2022-09-26 08:23] asvinb commented on #5776
@eclarke1 @FlicHollis Just a note that this is blocked until #4878 is finalized. The IB is almost done and just waiting for #4878 to be finalized.

[2022-09-26 08:36] eclarke1 opened #5907 "User Input V2"
Asana epic overview tab: https://app.asana.com/0/1201538818998708/overview

[2022-09-26 08:38] asvinb commented on #1146
@aaemnnosttv I thought with the minimum WP version we support being bumped to 5.2, we could use Guzzle 7 but turns out that the [minimum supported version](https://wordpress.org/news/2019/05/jaco/) is `5.6.20`. I posted my comment while working on #5110 where with Guzzle 7, we'll still have some warnings on PHP 8.1, but this is irrelevant now 😅

[2022-09-26 08:38] eugene-manuilov commented on #4775
Thanks, @asvinb. IB ✔️

[2022-09-26 08:42] eugene-manuilov commented on #5874
Ouch... I missed that 🤦. Thanks, @FlicHollis. I've updated IB to reflect that.

[2022-09-26 08:44] FlicHollis commented on #5874
No problem, thanks so much @eugene-manuilov !

[2022-09-26 08:50] eclarke1 opened #5908 "Key Metrics Widget"
Asana epic overview tab: https://app.asana.com/0/1201538818998708/overview

[2022-09-26 08:55] asvinb commented on #4863
Update:
Getting the following error when we expose `@wordpress/element`:
<img width="1061" alt="image" src="https://user-images.githubusercontent.com/31818/192235362-d3e267da-7f80-4e8e-8efa-5fdbdfe81dea.png">

[2022-09-26 08:56] eclarke1 commented on #5824
@FlicHollis I think we can remove this from Sprint 85 as it looks like it needs more work on the IB :-)

[2022-09-26 09:18] jimmymadon commented on #5853
@aaemnnosttv Have added some preliminary ACs here based on our discussion. The notification text, time after setup to display the notification and whether to re-show the notification after dismissal need to be finalised.

c.c. @marrrmarrr @felixarntz

[2022-09-26 09:38] jimmymadon commented on #5868
@aaemnnosttv Have added some preliminary ACs.

[2022-09-26 12:37] mohitwp commented on #5750
### QA Update ✅

- Verified on both latest and development environment.
- On latest environment when user clicks on 'TwG settings' then for few seconds blank settings appear and after that it's load TwG data.
- Verified on fast internet and slow 3g.

https://user-images.githubusercontent.com/94359491/192277045-494c0192-938a-4a8a-84d9-376a3dca23d7.mp4

- On develop branch now as per AC - Twg settin

[2022-09-26 12:51] mohitwp commented on #5214
### QA Update ✅

- Verified on both latest and dev branch.
- On latest branch we are getting below messages-

<details>

![image](https://user-images.githubusercontent.com/94359491/192278394-cc2ec2a9-cdf2-4884-a13d-b1c3063c8164.png)

![image](https://user-images.githubusercontent.com/94359491/192278449-21bcb72f-a544-487d-a76a-6b85a9defbe4.png)

</details>

- On development branch message updated a

[2022-09-26 13:42] wpdarren opened #5911 "Strange UI on User Input form when summary screen loads"
## Bug Description

Noticed a very minor UI bug while looking at the User Input form during release QA.  After you complete the questions, a summary screen appears. The edit on question 1has a border around it, even though I'm not hovering over the edit link  The page loads and this is the state that it appears in.  Not a huge issue but looks odd.

![image](https://user-images.githubusercontent.co

[2022-09-26 13:54] mohitwp commented on #5070
### QA Update ⚠️

@sashadoes

- Verified this on dev branch using tester plugin.
- Unified dashboard nav- tour guide content changed as per AC

Issue > But I've noticed that if any banner is showing, then navigation tour focus is not correct. Should I create a separate issue for this ?

cc @asvinb

![image](https://user-images.githubusercontent.com/94359491/192294369-cdd233a9-1a15-49a8-881e-a49dbc

[2022-09-26 14:04] mohitwp commented on #5070
### QA Update ✅

- Verified this on dev branch using tester plugin.
- Unified dashboard nav- tour guide content changed as per AC.

For the issue reported [here](https://github.com/google/site-kit-wp/issues/5070#issuecomment-1258078635) . I'll create a separate ticket.

![image](https://user-images.githubusercontent.com/94359491/192296982-9edc5881-0fc9-41c3-af41-65d2ffd9ef40.png)

[2022-09-26 15:09] aaemnnosttv opened #5912 "Update GA4 banner with variant for admin without access to the connected UA entity"
## Feature Description

Similar to https://github.com/google/site-kit-wp/issues/5886, this issue is specific to addressing the case where GA4 is not set up yet and the current admin also doesn't have access to the connected UA entity.

In this situation, we likely still want to surface the importance of connecting GA4 but we shouldn't  prompt the user to setup GA4.

Asana bug bash link: https://ap

[2022-09-26 15:13] kuasha420 commented on #5851
## QA Update :heavy_check_mark:

* Went through the release testing checklist.
* Did some ad-hoc testing.
* Verified there was no error in console and UI.

LGTM!

[2022-09-26 17:34] aaemnnosttv commented on #5749
Thanks @asvinb – this doesn't need to hold up the release, so I'll close this now. Would you please open a follow-up issue with your suggested enhancements?

[2022-09-26 17:34] #5749 closed

[2022-09-26 17:58] aaemnnosttv commented on #1146
@asvinb yes, our minimum supported version of PHP isn't changing at the same time as WP. I didn't quite follow your conclusion though – is it not possible to upgrade to v6 for now?

[2022-09-26 18:18] aaemnnosttv commented on #5853
Thanks @jimmymadon – this is almost there I think; a few points to iterate on:

"SiteKit" -> "Site Kit" 😉

Let's mention the specific minimum version of WP we need for this. Also, we should only prompt users who have the necessary core capability to make this change as well.

---

Apart from that, I wonder if a dashboard notification is the best form for this. Maybe we should add it to the splash

[2022-09-26 18:37] wpdarren commented on #5621
### QA Update: ❌

@techanvil @aaemnnosttv afraid I have found two issues while running through this:

1. Site has only a UA property set up on the site, but has a GA4 property within Analytics account.  When I go to Settings, and click on the 'Connect Google Analytics 4' button, I am sent to the settings in edit mode as expected.  The GA4 property on the account appears in the dropdown, but the co

[2022-09-27 01:07] aaemnnosttv opened #5915 "Any key press toggles module settings open/close"
## Bug Description

Currently the settings for connected services is overly sensitive to key down events. Any key press toggles the open/close of the settings when the header is focused.

The problematic line appears to be here, which uses the same handler for clicks as key down events.
https://github.com/google/site-kit-wp/blob/1cd8626ec681c0535b57f91a9d724da0548f930b/assets/js/components/setting

[2022-09-27 01:09] aaemnnosttv commented on #5915
@tofumatt would you please advise around what we should support for keystrokes here?

[2022-09-27 05:37] hussain-t commented on #5851
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-09-27 07:43] asvinb commented on #1146
@aaemnnosttv Apologies for the confusion. All good to upgrade to the latest v6 👍 Guess I was confused with[ another ticket I was working on](https://github.com/google/site-kit-wp/issues/5110).

[2022-09-27 09:03] FlicHollis commented on #5824
This has been removed, thanks @eclarke1

[2022-09-27 09:08] wpdarren commented on #5621
### QA Update: ⚠️

@techanvil All my tests have passed but I have two small observations.  We might want to create tickets and fix in the next release but I will leave this up to you to decide.   You can see both issues in the screencast below.

1) Site has only a UA property set up on the site, but has a GA4 property within Analytics account. When I go to Settings, and click on the 'Connect Googl

[2022-09-27 09:16] techanvil commented on #5621
Hi @wpdarren, good observations there. I do think we should fix these in the next release as they are fairly benign yet may require a bit of digging to fix, and it doesn't seem worth delaying this release further to fix them. Please can you go ahead and create tickets for them?

[2022-09-27 12:44] aaemnnosttv commented on #5621
Great, thanks @techanvil and @wpdarren !

[2022-09-27 12:44] #5621 closed

[2022-09-27 12:57] jimmymadon opened #5920 "Replace mysql with mariadb for testing environments for compatibility with M1 Macs"
## Bug Description

On an M1 Mac, running the `npm run env:start` fails with an error described below.

## Steps to reproduce

1. On an M1 Mac, run `npm run env:start`
2. See the following error:
[code]

I had to swap the MySQL image to the MariaDB image by modifying `google-site-kit/bin/local-env/docker-compose.yml`:
Replace
[code]
with:
[code]

## Screenshots

## Additional Context

 - PHP Versi

[2022-09-27 13:05] wpdarren opened #5921 "Unusual UX/UI behaviour of the callout tooltip when editing Site Kit settings"
## Bug Description

While testing #5621 I had this observation:

My test site only has a UA property set up on the site, but has a GA4 property within Analytics account.

When I go to Settings, and click on the `Connect Google Analytics 4` button, I am sent to the settings in edit mode as expected. The GA4 property on the account appears in the dropdown.  The callout tooltip appears, but rather th

[2022-09-27 13:25] wpdarren opened #5922 "Odd Loading behaviour of the callout tooltip for GA4 in Site Kit Settings"
## Bug Description

While testing #5621 I have an observation:

My test site only has a UA property set up.  As you can see from my screencast,  when clicking on the 'Connect Google Analytics 4' button and then editing the Analytics settings, the GA4 callout tooltip initially loads at the side of the property dropdown, and then a second later jumps to the top, and then when I scroll down, it jumps

[2022-09-27 13:32] #5851 closed

[2022-09-27 13:38] aaemnnosttv opened #5923 "Release 1.85.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-09-27 13:57] aaemnnosttv opened #5924 "Update translators comments for single placeholders"
## Feature Description

In https://github.com/google/site-kit-wp/issues/5463 we updated translators comments across the codebase to follow core's convention for strings with multiple translators (using integers to refer to numbered placeholders).

However, as an oversight some (perhaps all) translators comments for a _single placeholder_ were also replaced, which should not have been.

See https:/

[2022-09-27 15:14] mohitwp commented on #5755
### QA Update ⚠️

@nfmohit I noticed that clicking on 'Edit in Publisher center' navigating user to `https://publishercenter.google.com/` from intermediate URL - `https://publishercenter.google.com/twg/{publicationID}/home` . which shows blank page. When we refresh the page it navigates user to `https://publishercenter.google.com/publications` and shows content on the page.

It should navigate use

[2022-09-27 15:48] techanvil commented on #5298
Nice work @nfmohit. Maybe it could be written a bit less verbosely, but it reads very well as it stands. It can be hard to know where to draw the line!

IB :white_check_mark:

[2022-09-27 18:06] aaemnnosttv opened #5926 "Prevent loading if minimum WordPress version isn't met"
## Feature Description

Since the beginning, Site Kit has had logic in place to prevent loading the rest of the plugin if the minimum version of PHP was not satisfied. https://github.com/google/site-kit-wp/blob/bbe3ba6ff1e035146cc781887befdda9cc7021a5/google-site-kit.php#L110-L112

Similarly, there is a notice shown on activation if this condition isn't met https://github.com/google/site-kit-wp/bl

[2022-09-27 18:09] aaemnnosttv commented on #5874
I just opened #5926 as a prerequisite here, mostly as part of it should be updated as part of this issue.

[2022-09-27 18:10] aaemnnosttv commented on #5926
@FlicHollis this one is something we can get in now. It's related to the bump but not tied to it. Can we add it to the current sprint?

[2022-09-27 18:38] aaemnnosttv commented on #5868
Thanks @jimmymadon – this looks good for the most part. I'm still a bit unclear exactly what the experience is we're trying to fix here. I understand the user ends up on the WP dashboard but from what I recall, it doesn't always happen? Also, is it specific to the initial connection only or can it happen anytime the user goes through oAuth?

[2022-09-27 19:09] aaemnnosttv commented on #4863
@asvinb thanks for flagging! Let's try to avoid building this out before writing the IB if possible, but it seems we may need to add some extra time to account for this issue. It's probably a matter of how webpack is configured, but we should be able to work around it.

[2022-09-27 19:09] jimmymadon commented on #5853
@aaemnnosttv Dug a bit deeper into this one and have updated the ACs with links to relevant docs.

The only purpose of keeping this a Banner Notification is that we want to show this to older users who have already connected/set up Site Kit. Maybe we can add a delay for new users (similar to the delay in the new TwG Supporter Wall widget prompt notification) so they don't get multiple stacked noti

[2022-09-27 19:18] tofumatt commented on #5873
Let's keep the selectors the same name as their properties, usually it'd be `getCanUpdateCore` (which is kind of awkward). I'd go with that for consistency though, or `canUpdateCore` otherwise.

Sorry, I'm a bit lost on this. I originally didn't see where `compareWPVersions.compare()` came from but see it's an NPM module we use. But why the two selector names? I wonder if a better API for now woul

[2022-09-27 19:38] aaemnnosttv commented on #5873
Regarding the capability check, we already have a selector for this (`hasCapability`) so we should avoid adding another one in this instance.

As for the version checking on the client side, `wpVersion` in the base data should have all we need. It could be nice to add a dedicated selector for the readability as @tofumatt said, but we really don't need to use anything special for the version compar

[2022-09-27 19:46] FlicHollis opened #5927 "Full stop in sentence and convert footer messages to list items"
Link to Asana task: https://app.asana.com/0/1202913874897532/1203046088060640

All of the messages in the GA4 activation banner's "Footer messages" section appear with full-stops even when there is only one message:

![image (5)](https://user-images.githubusercontent.com/93320881/192621313-47058649-68ce-4f0e-b907-e4e3eaef4bd7.png)

When more than one message appears, this seems like the right appr

[2022-09-27 19:50] FlicHollis opened #5928 "'You are offline' error not showing when trying to do set up and user getting stuck on loading state"
Asana bug bash ticket: https://app.asana.com/0/1202913874897532/1203043838459319

If user is on GA4 set up now banner then on clicking 'Set up now' button - user gets stuck in a loading state.
If user is on 'Create property' banner, then on clicking 'Create Property' button user gets 'You are offline' error message.
![image (7)](https://user-images.githubusercontent.com/93320881/192622005-f9f33b03

[2022-09-27 19:56] FlicHollis opened #5929 "Minor: Spacing for the Learn more about GA4 link on success banner"
Asana bug bash link: https://app.asana.com/0/1202913874897532/1203046088060645

I'd like to see a space between the sentence above and the learn more about GA4 link.

![image (9)](https://user-images.githubusercontent.com/93320881/192623224-4f5afb5f-815a-4941-abd9-133ec7210b00.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

[2022-09-27 19:58] FlicHollis opened #5930 "Learn more about GA4 link not opening in new window"
Asana bug bash link: https://app.asana.com/0/1202913874897532/1203046088060633

When you click the [Learn more about GA4](https://sitekit.withgoogle.com/support?doc=ga4) link on the activation banner, it does not open up in a new window. It was at the time of testing this, so assume a bug creeped in.  I also feel we need to have the external link icon appearing next to the link too.

![image (10)]

[2022-09-27 20:01] FlicHollis opened #5931 "Stuck on loading when trying to set up GA4 property if REST API for Site Kit is disabled for user role"
Asana bug bash board: https://app.asana.com/0/1202913874897532/1203027928111306

This is pretty edge case but thought I would raise it in case it could be adjusted. If a users access to the REST API is disabled before setting up a GA4 property via the activation banner then when clicking the set up button it gets stuck on indefinite loading.

Would it be better to at least put in some form of erro

[2022-09-27 20:03] FlicHollis opened #5932 "Behaviour of the Tooltip is different on mobile"
Asana bug bash board: https://app.asana.com/0/1202913874897532/1202986570111446

While testing [5621](https://github.com/google/site-kit-wp/issues/5621) I noticed when I test on smaller screen sizes like mobile devices, the tooltip hovers over the top of the GA4 area, but when you scroll it jumps to above the property. You can find a screencast below detailing the issue.  In my opinion, it's minor

[2022-09-27 20:04] aaemnnosttv opened #5933 "Expose gathering data state on page load"
## Feature Description

Until now, the concept of gathering data is something that we've calculated at runtime based on reporting data. In some cases, such as determining an initial layout it can be necessary to know whether a module is gathering data or not right away in order to avoid substantial changes as data is loaded.

While the goal is to make reporting data available right away on page lo

[2022-09-27 20:09] FlicHollis opened #5934 "Successful set up banner icon is small as compare to Figma design"
Asana bug bash task: https://app.asana.com/0/1202913874897532/1203046400278414

Successful set up banner icon is small as compare to Figma design. It is looking very small and cornered on big screens.

![image (11)](https://user-images.githubusercontent.com/93320881/192625415-4719017a-5895-49e5-8ba5-ed0b94c30b12.png)
![image (12)](https://user-images.githubusercontent.com/93320881/192625432-0ed44c

[2022-09-27 20:12] FlicHollis opened #5935 "Change icon for 1 July onwards banner"
After the 1 July 2023, the user who has not connected GA4 will see a specific banner informing them that UA is no longer reporting.  I feel that this should be a red warning icon like we have on the banner for 1-30 June.  See screenshots below.

Bug Bash Asana task: https://app.asana.com/0/1202913874897532/1203046746328998

![image (14).png](https://images.zenhubusercontent.com/617a793eaff73620e5c

[2022-09-27 21:51] nfmohit commented on #5755
Thank you for pointing it out, @mohitwp!

As Felix mentioned [here](https://github.com/google/site-kit-wp/issues/5537#issuecomment-1252874874), the TwG team is still working on the URLs, so for now, we just need to make sure they point to the right URL. You can verify them with the help of Darren's verification here.

Thanks!

[2022-09-27 21:53] nfmohit commented on #5298
Thank you very much for the feedback, @techanvil!

[2022-09-27 22:35] tofumatt commented on #5074
The thinking there was that Tag Manager requires Analytics, so if Analytics is disabled Tag Manager would also be disabled… but you're right, I don't think that's needed and just complicates things. I've removed that 👍🏻

I've added a note to the IB as well, thanks 👍🏻

[2022-09-28 05:59] hussain-t commented on #5873
Thanks, @tofumatt, and @aaemnnosttv. As for using the `hasCapability` for the capability check checks with the `getCapabilities`. So, I have updated the IB to add a new capability in the `Permissions` class.

As for the version checking, I think it would be better to have a dedicated selector to check it. FYI, the `wpVersion` object has three properties `major`, `minor`, and `version`. It doesn't

[2022-09-28 08:15] asvinb commented on #1146
@aaemnnosttv I can give it a try although last time i had a look, I was stuck on some composer issue.

[2022-09-28 08:55] FlicHollis commented on #5926
HI @aaemnnosttv yes no problem, I will add this now, thanks!

[2022-09-28 10:34] mohitwp commented on #5493
### QA Update ✅

- Verified on develop environment using tester plugin.
- I'm able to reproduce issue on latest environment while accessing 'View only dashboard' with the user role having access to Analytics and AdSense.
- On dev branch - I'm not getting any console errors while accessing 'View only dashboard' with the user role having access to Analytics and AdSense.
- If AdSense not linked to An

[2022-09-28 10:35] techanvil commented on #5926
IB :white_check_mark:

[2022-09-28 10:44] FlicHollis commented on #5882
Hi @techanvil, I have just updated this priority to a P0 as this has been identified as a launch blocker. Thanks.

[2022-09-28 11:04] techanvil commented on #5882
AC is added and ready for a review.

cc @aaemnnosttv

[2022-09-28 11:16] mohitwp commented on #5435
### QA Update ❌

@makiost

I followed the steps to reproduce the issue. I'm able to reproduce issue on latest environment.

**Issue:**
When I'm trying to access dashboard sharing settings modal after deleting custom role or after revoking the edit-posts capability. I'm getting below error.

[code]

![image](https://user-images.githubusercontent.com/94359491/192765499-f8e47bd8-baa1-4c64-9043-5effd7

[2022-09-28 11:24] asvinb commented on #5929
@wpdarren The Learn More link is meant to be inline based on the current implementation. In the screenshot you posted, it dropped to the next line since it does not have enough room to fit within the parent container which itself has a max width of 700px.
<img width="1574" alt="image" src="https://user-images.githubusercontent.com/31818/192766478-534ed4d5-92fa-479e-8142-6e1f976ffc0f.png">

If you

[2022-09-28 11:54] techanvil commented on #5928
AC have been added, ready for a review.

cc @aaemnnosttv

[2022-09-28 12:12] mohitwp commented on #5755
@nfmohit

Thank you !

 'Edit in Publisher center' link pointing to `https://accounts.google.com/accountchooser?continue=https%3A%2F%2Fpublishercenter.google.com%2Ftwg%2FCAow9aq9Cw%2Fhome&Email` and navigates user to `https://publishercenter.google.com/` which shows blank page and refreshing it shows the content with URL - `https://publishercenter.google.com/publications ` .

There are no details

[2022-09-28 12:14] asvinb commented on #5824
Latest updates:

- Fonts are not rendering even though technically they are loaded.
Reference:
![image](https://user-images.githubusercontent.com/31818/192775444-a5e5546a-a5c4-4d79-bcf6-ed08cb3ee9fe.png)

Test:
![image](https://user-images.githubusercontent.com/31818/192775503-8536cae5-8266-4a06-a0e2-9ba11ae5eb59.png)
- No improvements noted when increasing the `delay` in `tests/backstop/config.js

[2022-09-28 12:43] tofumatt commented on #5873
Looks good to me. 👍🏻

IB ✅

[2022-09-28 13:28] wpdarren commented on #5929
@asvinb okay, that makes sense, and it is minor, so I am happy to close this or, with whatever you and @aaemnnosttv feel is best.

[2022-09-28 14:51] nfmohit commented on #5755
@mohitwp Yes to both questions, thank you for checking.

[2022-09-28 16:25] asvinb opened #5938 "Tooltip overlapping the header"
## Bug Description
Currently tooltips have a very high `z-index` (20000) which results in them being on top of other elements on the page. However we have an issue with sticky elements where there is an overlap. This is the case with the header where on small screens, upon scrolling the page, the tooltip overlaps the header.

## Steps to reproduce

1. Go to the Analytics module setup screen on a m

[2022-09-28 16:31] asvinb commented on #5932
@wpdarren Not sure if it was fixed as part of other tickets but I can't reproduce the issue. Check the video recording below:

https://user-images.githubusercontent.com/31818/192835499-3d2b8d82-c521-4d8f-9981-6969cccd84d8.mp4

[2022-09-28 18:52] felixarntz commented on #5802
@eugene-manuilov I like your idea of the `googlesitekit-element` approach, that would be a clean approach. First of all, shouldn't it be `googlesitekit-components` though? `wp-element` is a wrapper for React, `wp-components` is similar to what we want to do here I think.

However, the effort to rewrite the entire codebase to import those components from `googlesitekit-element` rather than the `com

[2022-09-28 19:06] felixarntz commented on #5933
@aaemnnosttv I've added ACs here, what do you think? I think the approach of using a transient for the temporary value vs an option for the persistent value might make sense?

[2022-09-28 19:21] aaemnnosttv commented on #5756
Thanks @marrrmarrr – I tweaked the AC to be specific to the settings view here since the edit mode already has similar text.

[2022-09-28 21:10] aaemnnosttv commented on #4878
Thanks @jimmymadon – a few thoughts to work through:

How about we simply move the selection of `recommendations` into the parent `DashboardPageSpeed` instead? It feels a bit odd to set a global flag in the store just for this case.

Setting a fixed height is subject to getting out of sync with the actual height of the element it's holding a place for. Since the element is just a button, why not r

[2022-09-29 07:07] nfmohit opened #5939 "Enhance Site Kit health checks to display actual error encountered"
## Feature Description

See https://github.com/google/site-kit-wp/pull/5906#discussion_r982843176

We currently have a [couple of health checks](https://github.com/google/site-kit-wp/blob/8d184d53972e123bddaf4f84873a60802656dc1b/includes/Core/Util/Health_Checks.php) in Site Kit which when failed, shows an error code from a [pre-defined set of error codes](https://github.com/google/site-kit-wp/blob

[2022-09-29 07:20] nfmohit opened #5940 "Use `require-await` in ESLint"
## Feature Description

There are quite a few instances in our codebase where functions are declared as asynchronous with no `await` operator inside them. If not done intentionally, this can be a silly mistake that can be overlooked, especially during copying an existing function and changing its contents while leaving the `async` keyword mistakenly. In such cases, the asynchronous functions would

[2022-09-29 08:50] wpdarren commented on #5932
@asvinb that's rather annoying when this happens 😃 but I agree this no longer appears to be an issue.

Just double checked. I think we can close this ticket.

[2022-09-29 08:52] asvinb commented on #5932
@FlicHollis @eclarke1 As per @wpdarren 's comment, we can close this ticket.