[2019-08-13 14:50] marrrmarrr opened #399 "Add API error output for any case where 'Unknown error' triggers during OAuth flow"
## Bug Description

Currently, we show 'Unknown Error' for some cases during the plugin setup flow, which makes it very difficult to track down the cause of specific issues users encounter (e.g. #240 ). Let's add the API response as additional output to that error.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2019-08-13 14:53] jamesozzie commented on #396
@thejoydutta If you check your Analytics account and you should see that you have traffic coming from the other mentioned site, subdomains or subpaths. Site Kit pulls in that information directly from your Analytics account. There is also a possibility that another site is using the same GA tracking code which can result in the statistics from the other site.

One workaround is from within your An

[2019-08-13 15:00] jamesozzie commented on #228
@writetoevv What is the URL where you are seeing the "No Permissions" message on?

If you have any other WordPress sites on the same server you can try setup Site Kit on those sites, or alternatively on a clean install without any additional plugins. We can at least then try to determine if it's an issue with your environment or hosting setup.

[2019-08-13 15:54] jamesozzie commented on #390
Thanks for the update, can you also share the following:
- The other XHR response details (I can see 2 from the screenshot you provided)
- Any security or Firewall plugins

In additional your theme has some features in built which connect to Google services. If you have a staging site can you test with another theme?

[2019-08-13 16:05] jamesozzie commented on #240
@mlevison Thanks for the update, we have an open issue to try and provide additional context to such errors. This will hopefully be released on Thursday. In the meantime can you confirm you also checked your [settings](https://i.imgur.com/MkFLF0E.png) to confirm the WordPress Address (URL) and Site Address (URL) match, including the protocol?

It might be worth checking with a clean install also,

[2019-08-13 16:07] marrrmarrr opened #401 "Make sure plugin menu doesn't disappear from left nav"
## Bug Description

Currently, some plugins override Site Kit's position in the left nav menu and it completely disappears, making it impossible for users to access the dashboard at all (e.g. #392 ).
Let's make sure the Site Kit entry does not disappear in these cases.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptan

[2019-08-13 16:13] jamesozzie commented on #392
@tommyg13 There is an open bug for this issue now. I was able to replicate the same issue from my side. I will keep this support ticket open while it's being worked on.

[2019-08-13 16:42] aaemnnosttv commented on #399
The implementation brief looks good. There are tests for `get_error_message` that will need to be updated as a part of this, but otherwise, I think this is pretty straightforward 👍

[2019-08-13 17:13] aaemnnosttv commented on #401
Implementation brief looks good, although this part is a bit unclear to me:

Wouldn't only the top-level menu item need to be moved in the order?

[2019-08-13 17:29] lucasreina commented on #386
@jamesozzie I disabled every plugins and restored codes to the default, but, still don't work.

[2019-08-13 18:16] felixarntz commented on #401
Yes, but this list only includes top-level menu items anyway (and the slug used for it may differ on the available permissions of the current user).

[2019-08-13 19:37] aaemnnosttv commented on #401
Ok, got it. Sounds good 👍

[2019-08-14 06:35] Anil-Chaudhary-netclues commented on #390
Hello jamesozzie,
Thanks for help.
My issues is resolve now. Problem in on My Server "Mod Security". when security disable it worked.

Thanks!!

[2019-08-14 06:37] #390 closed

[2019-08-14 08:00] aaemnnosttv commented on #328
@swissspidy QA looks good - I added a few suggestions to the handbook document as well.

Moving to Approval.

[2019-08-14 08:08] lucymtc commented on #344
QA looks good.
`npm run test:e2e:interactive -- tests/e2e/specs/modules/analytics/setup-with-account-no-tag.test.js`
Behaviour and tests pass as expected.

[2019-08-14 08:33] RealBenihime opened #403 "Trying to get property 'base' of non-object in .../Core/Admin_Bar/Admin_Bar.php on line 147"
## Bug Description

So far I haven't picked up any issues with operations, however, the error does show up on the frontend only of the site.

Notice: Trying to get property 'base' of non-object in /.../wp-content/plugins/google-site-kit/includes/Core/Admin_Bar/Admin_Bar.php on line 147

## Steps to reproduce

1. Install and Activate Google Site Kit Plugin
2. Complete Setup Plugin
3. Navigate to fr

[2019-08-14 08:42] swissspidy commented on #403
Thanks for your report!

Looks like there is a missing `$current_screen === null` check here:

https://github.com/google/site-kit-wp/blob/a0e6e72ecac55ac8adf44f7e16b2a8a32fd4a417/includes/Core/Admin_Bar/Admin_Bar.php#L143-L150

[2019-08-14 09:44] jamesozzie commented on #386
@lucasreina Are you able to check with another site on the the same server to see if your hosting environment could be a factor? If possible check using an incognito window and no plugins. Share any [console errors](https://i.imgur.com/KyLAzgH.png) which appear, along with [XHR responses](https://i.imgur.com/jLBwBdH.png).

[2019-08-14 10:58] #344 closed

[2019-08-14 10:59] #328 closed

[2019-08-14 11:02] felixarntz commented on #360
QA is good: All ACs covered, and tests pass.

[2019-08-14 11:02] #360 closed

[2019-08-14 11:18] writetoevv commented on #228
Hi jamesozzie

when i tested in incognito mode, i got below error code for https://auniqueweb.in ( A brand new domain with only two plugins "Google Site Kit" & "Debug Info"

**Error: ICE failed, add a STUN server and see about:webrtc for more details**

also, pls rerer attached snapshot
![a unique web --googlekit Incognito](https://user-images.githubusercontent.com/15318669/63016968-aac4ef80-beb2-

[2019-08-14 13:14] lucasreina commented on #386
Yesterday, I tried again with a VPN and worked. Maybe was a problem on my internet provider or in my internet settings.

Thanks a lot for your help. God bless

---- On Qua, 14 ago 2019 06:44:06 -0300 notifications@github.com wrote ----

@lucasreina Are you able to check with another site on the the same server to see if your hosting environment could be a factor? If possible check using an incogni

[2019-08-14 13:20] jamesozzie commented on #228
@writetoevv That error reported isn't specific to the Site Kit plugin. Do you have any additional software such as a security/firewall or other service setup at host level? In addition when looking at your screenshot you are accessing the non secure (http) version of your site. Can you put a redirection in place to your https before checking again.

[2019-08-14 14:06] writetoevv commented on #228
1. No security/firewall installed in domain.
2. Installed a plugin named "https-redirection" to force http  to HTTPS redirection.
      https://wordpress.org/plugins/https-redirection/
3. i am not explicitly calling http url. While i try to install "google Kit" , my site is always 'https'.. & when i get 403 error page, it shows as yellow triangle @address bar of website..
3. However, issue is same

[2019-08-14 14:47] ktmn commented on #12
Any update?

[2019-08-14 14:51] jamesozzie commented on #228
@writetoevv Do you know  the source of the iyfforb.com URL reference? Maybe try to deactivate any CDN feature (which could be active via your hosting) and any other additional services you have active.

[2019-08-14 14:56] jamesozzie commented on #12
@ktmn In relation to your error can you try the following:
1. Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Temporarily deactivate any caching plugin (Autoptimize, WP Super Cache etc)
3. Open Site Kit in a new incognito window (which ensures browser extensions/caching doesn't interfere with the setup process)
4. Connect the Analyti

[2019-08-14 15:09] writetoevv commented on #228
https://www.ip-adress.com/website/iyfforb.com

i m not explicitly using any CDN..i found above link (check DNS information)..

[2019-08-14 15:25] writetoevv commented on #228
TLS Recommendations

HTTPS mixed content found. Your HTTPS website is referring to an HTTP resource:
http://i1.cdn-image.com/__media__/js/min.js?v2.2 on https://auniqueweb.in/wp-includes/css/
http://www.iyfforb.com/display.cfm on https://auniqueweb.in/wp-includes/css/
http://www.iyfforb.com/px.js?ch=1 on https://auniqueweb.in/wp-includes/css/
http://www.iyfforb.com/px.js?ch=2 on https://auniqueweb

[2019-08-14 15:38] aaemnnosttv commented on #401
@felixarntz code review approved ✅

[2019-08-14 17:19] felixarntz commented on #387
QA is good!

[2019-08-14 17:22] felixarntz commented on #401
QA passed

[2019-08-14 17:22] #401 closed

[2019-08-14 17:25] felixarntz commented on #392
@tommyg13 The issue was fixed as part of #401. It is a generic problem in WordPress core that in unfortunate circumstances different plugins' admin menu items may override each other. We implemented a workaround in #401 to make sure that doesn't happen.

**Tomorrow** version `1.0.0-beta.1.0.4` will be released, which will include this fix. Please update and retest afterwards. I'll close this issue

[2019-08-14 17:25] #392 closed

[2019-08-14 17:26] felixarntz commented on #399
QA passed

[2019-08-14 17:26] #399 closed

[2019-08-14 17:27] #251 closed

[2019-08-14 17:33] felixarntz commented on #256
QA passed

[2019-08-14 17:33] #256 closed

[2019-08-14 17:54] writetoevv commented on #228
Mixed Content: The page at 'https://sgbckdk.in/?oauth2callback=1&code=4/nQFEKSrVFv27SDWxfhT4Y9guDQTMVfNzhIN9Z4F4_pRCBeZwgdohLSnLyZlgqVGVwvOXKObXgpNB_YwF96-bsWs&scope=email%20profile%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/webmasters%20https://www.googleapis.com/auth/siteverification%20openid&authuser=0&se

[2019-08-15 05:24] writetoevv commented on #228
Here is the log from Web Server... Webserver's support team informed below log to me.
**"Your application is triggering mod security rules which cannnot see be whitelisted on the server.
Refer this link: https://support-tools.com/?43ae2b41f922420f#fMd9dg3KKYb/g2GdTkN1C5AejOTnRgKWDsZLe847Cas=
So you will have to optimize the code of your application in order to overcome this issue."**

**Log from W

[2019-08-15 08:52] aaemnnosttv opened #405 "Analytics: Site Kit created properties do not appear in dropdowns"
## Bug Description

When configuring Analytics, the user has the option to create a new property within an existing account for the current site. When choosing this option, the property is created, and setup continues successfully.

However, when navigating to the settings for Analytics, it displays the current account, property and view IDs, but when editing, the dropdowns for Property and Profil

[2019-08-15 09:52] aaemnnosttv commented on #272
@felixarntz @marrrmarrr

Should this be two separate scenarios to test?

[2019-08-15 09:55] jamesozzie commented on #228
@writetoevv Can you try disabling Modsecurity temporarily before trying to setup Site Kit as you did previously?

[2019-08-15 10:06] aaemnnosttv commented on #347
@felixarntz @marrrmarrr

Regarding the conditions in the criteria, can we remove the "if" conditions and make these into additional scenarios if necessary?

[2019-08-15 10:07] aaemnnosttv commented on #269
@felixarntz @marrrmarrr

Regarding the conditions in the criteria, can we remove the "if" conditions and make these into additional scenarios if necessary?

[2019-08-15 10:14] aaemnnosttv commented on #347
Just to confirm, if this case is for a site with Adsense code already present, it seems incorrect that Site Kit would offer to place it. Is this the expected behavior?

[2019-08-15 10:58] writetoevv commented on #228
This is from web-hosting support team:

**Unfortunately, as you mentioned that google has suggested to disable mod security, which is not possible on the server on which your websites are present, as there are multiple users on the server, and this mod security rule cannot be disabled**

[2019-08-15 11:07] aaemnnosttv commented on #314
@felixarntz would it be better perhaps to move this logic to the `isDataZero` callback for `withData` here?

https://github.com/google/site-kit-wp/blob/b1c57aee1f32921533b8f081f63fcfccae8cc432/assets/js/modules/search-console/dashboard/dashboard-widget-keyword-table.js#L83-L98

Also, just wanted to confirm that we want to render the no data component within the wrapping widget layout in between th

[2019-08-15 13:55] marrrmarrr commented on #387
I confirmed these are now recored in GA. LGTM

[2019-08-15 13:55] #387 closed

[2019-08-15 14:04] marrrmarrr commented on #359
Verified with existing verification site and new site. LGTM.

[2019-08-15 14:04] #359 closed

[2019-08-15 14:13] #260 closed

[2019-08-15 14:15] adamsilverstein commented on #372
Closing this for now as we have a planning document in hand.

[2019-08-15 14:24] OisinOConnor commented on #272
Yes.
Disapproved should return an error for all API method calls.
Phone number/address verification, in some scenarios, will be available through the [alerts](https://developers.google.com/adsense/management/v1.4/reference/accounts/alerts/list). If the alerts aren't available (e.g. if account is pending) then apply the "graylisted" scenario.

[2019-08-15 14:29] OisinOConnor commented on #347
Site Kit should still offer to place the code. But the screen displayed is different to when there is no AdSense code detected:
Site Kit will place AdSense code to your site

This means Google will automatically place ads for you in all the best places.

[v] Let Site Kit place code on your site RECOMMENDED

(i) If you’ve already set up ads on your site, it may change how they appear. You can custo

[2019-08-15 14:29] OisinOConnor commented on #347
This scenario is for when the code detected on the site has the same publisher ID as the connected account (pub-xxxxxxxxxxxx are matching).

[2019-08-15 15:10] marrrmarrr commented on #347
@aaemnnosttv to further clarify, this step is offering any publisher who has an existing account without [Auto Ads](https://support.google.com/adsense/thread/1603676) enabled to upgrade to Auto Ads. So if they choose to upgrade, Site Kit will be placing code on their site, even if there was already a code.

[2019-08-15 15:10] marrrmarrr commented on #269
Sure, that sounds good!

[2019-08-15 15:19] #376 closed

[2019-08-15 17:31] aaemnnosttv commented on #347
Ok, thank you! I wasn't sure if this was similar to Analytics where it can only have one code one the site at a time or not.

Moving this back to Acceptance Criteria for the individual test scenarios to be refined. Each scenario should be a single path or list of steps for the user to take (perfectly fine for common steps for each to be grouped together though, such as at the beginning). Since the

[2019-08-15 17:36] aaemnnosttv commented on #272
Moving this to criteria definition for splitting this into separate discrete scenarios:

1. The account is created, but the address/phone are not added
1. The account is created, but the account is disapproved

[2019-08-16 07:45] RealBenihime commented on #403
Thanks @swissspidy

I've added the null check and returned false if $current_screen is null, that did the trick.
But I think I'll keep this ticket open until the fix is applied in the next build.

[2019-08-16 08:57] lilybonney commented on #221
Moving this to the "Revisit Later" column per our team discussion yesterday (the work captured in the scope of this ticket will likely still be needed at some point, but cannot be executed as it stands right now).

[2019-08-16 09:04] felixarntz opened #406 "Implement coherent JavaScript cache key generator to support any arguments"
The current mechanism for generating cache keys for data requests to the REST API relies on whitelisting specific arguments only which limits which kinds of requests can be made (while still working correctly). This limitation has led to some datapoints being almost identical and only existing for the sake of one minor tweak, because passing this tweak via an argument hasn't been possible.

A seco

[2019-08-16 09:21] felixarntz opened #407 "Introduce internal Site Verification module"
Site Verification functionality is currently covered by the Search Console module. While there is some integration between the two APIs, they have distinct responsibilities and should not be intertwined. For example, while Search Console has a mechanism for controlling ownership of a site's Search Console property, the canonical source for actual site ownership is exposed via the Site Verification

[2019-08-16 09:31] felixarntz opened #408 "Notifications REST endpoint should return an array of notification objects"
The `modules/(?P<slug>[a-z\-]+)/notifications` endpoint currently returns the module notifications list as part of an `items` property, which is unnecessary. Three additional values are sent as part of the root object:

* `url`
* `ctaLabel`
* `ctaTarget`

This is unexpected, since all these three should relate to the individual notification. At the moment, only one module (AdSense) makes use of th

[2019-08-16 09:35] felixarntz opened #409 "Introduce REST route that returns all modules"
A new REST route `modules` should be introduced to list all available modules with their details. This endpoint should return an array of `$moduleDetails` objects. `$moduleDetails` would be the exact same data that the existing `modules/(?P<slug>[a-z\-]+)` route returns for an individual module.

The modules should be returned in their correct order as defined by the `order` value.

--------------

[2019-08-16 09:58] aaemnnosttv commented on #221
Just noting here that we discussed possibly removing this until later but this test was low effort to write and the PR addresses important stability issues related to changing users during the test.

[2019-08-16 11:55] aaemnnosttv commented on #154
This has been reproduced during E2E testing in #356 .

**Technical details**
In `handleRefetchAccount`, the promise returned from `getAccounts()` is never handled to update the component with the new state, so it is stuck in a loading state even though the response was completed.

https://github.com/google/site-kit-wp/blob/b1c57aee1f32921533b8f081f63fcfccae8cc432/assets/js/modules/analytics/setup.

[2019-08-16 11:56] aaemnnosttv commented on #356
This is now blocked by #154

[2019-08-16 12:47] swissspidy commented on #403
Yeah, please don't close :-) The intention was not to give you a hint for a fix, but to fix this properly in the plugin.

[2019-08-16 13:20] jdelia commented on #88
This would be a very useful feature. We already have the option in the settings to remove the snippet, so adding a toggle to do that for logged in users or admins would be helpful. Even adding a filter where we could return false to remove the output. That way developers could create more complex filtering to remove it for anyone logged in except subscribers for example. If such a filter already e

[2019-08-16 14:34] jamesozzie opened #412 "ModSecurity conflict"
Many users of the ModSecurity firewall/security suite which exists on many hosting platforms are unable to setup Site Kit. During setup users might be redirected, or if connected there may be a pulsating grey screen on Site Kit dashboards.

Workaround:
1. Set the "rule set" option to "[Atomic Basic ModSecurity](https://i.imgur.com/B4PIA03.png)" if not already set.
2. Disable Site Kit during setup

[2019-08-16 14:47] jamesozzie commented on #396
@thejoydutta Did you have any luck investigating the setup from your analytics account directly?

[2019-08-16 14:49] jamesozzie commented on #394
@sannjayy Can you temporarily disable some of your WooCommerce plugins and see if Site Kit works for you?

[2019-08-16 14:51] #24 closed

[2019-08-16 14:52] jamesozzie commented on #185
@mikjits Did you have any luck setting up the Analytics module after the previous suggestion?

[2019-08-16 14:54] jamesozzie commented on #228
@writetoevv I have opened an issue specifically for this conflict with a ModSecurity configuration. You can keep track of it here, #412.

[2019-08-16 14:54] jamesozzie commented on #233
@asitaaa Are you encountering the same issue with Analytics from your Site Kit setup?

[2019-08-16 14:55] #234 closed

[2019-08-16 15:01] jamesozzie commented on #235
@loganlucky If possible can you attempt with another site on the same server, or for further troubleshooting use a plugin such as [Duplicator](https://wordpress.org/plugins/duplicator/) to copy your own site to another server before testing. This can rule out the issue being with your hosting environment or configuration?

You can also share your [Site Health info](https://i.imgur.com/Rtkmsba.png)

[2019-08-16 15:02] jamesozzie commented on #239
@KritarthHandicrafts Did you have any success in setting up Site Kit after attempting the above steps?

[2019-08-16 15:02] #242 closed

[2019-08-16 15:03] #245 closed

[2019-08-16 15:03] #333 closed

[2019-08-16 15:12] mikjits commented on #185
no

Yours in success,
Michael Athens
303-909-1405

On Fri, Aug 16, 2019 at 8:52 AM James G <notifications@github.com> wrote:

[2019-08-16 15:46] felixarntz commented on #314
@aaemnnosttv Yes to your first question, that suggestion totally makes sense! Can you update the implementation brief accordingly with this detail?

On the second one, can you chime in @marrrmarrr?

[2019-08-16 15:53] aaemnnosttv commented on #314
I can, update the IB of course, but that depends on @marrrmarrr I think as this logic would need to move if the header/footer elements should not be displayed.

[2019-08-16 16:04] aaemnnosttv commented on #408
Brief looks good to me!

One thing I noticed which is very minor is that there is a stray translators comment in the Adsense module which probably just needs to be moved or removed.

https://github.com/google/site-kit-wp/blob/67dabf21c3fb1852ed57324eb05a9bde1e8a7a31/includes/Modules/AdSense.php#L497-L499

[2019-08-16 16:59] aaemnnosttv commented on #407
Brief looks good to me, except this one line appears to be a typo?

`inactive` should be **`internal`**, correct?

[2019-08-16 17:17] aaemnnosttv commented on #409
Brief looks good to me!

[2019-08-16 18:37] sannjayy commented on #394
Nope

On Fri, 16 Aug, 2019, 8:19 PM James G, <notifications@github.com> wrote:

[2019-08-16 21:08] kmwilkerson opened #413 "Allow having secondary Tag Manager container if site uses paired AMP"
**Note:** The original report below includes multiple issues, but let's use this issue only to track "Issue 1" below.

Related resources:
* https://support.google.com/tagmanager/answer/9205783
* https://developers.google.com/tag-manager/api/v1/reference/accounts/containers/create (see usage context, we need to check whether this supports `amp` too)

Here's a screenshot (sorry, German) showing that

[2019-08-17 11:32] nullfud commented on #150
Failed to load resource: the server responded with a status of 404 ()
commons.js?ver=1.0.0-beta.1.0.4:1 error
Object
code: "invalid_json"
message: "The response is not a valid JSON response."
__proto__: Object

I got this error in the console when i am on the plugins dashboard, nothing loads.

Ive tried disabling cloudflare, 3 browsers, incongito mode, reinstalling, disabling every plugin includin

[2019-08-17 20:52] writetoevv commented on #228
@jamesozzie appreciates ...

[2019-08-18 02:44] outlett opened #414 "Google Analytics not connecting"
## Bug Description

Google analytics does not connect

## Steps to reproduce

Attempt to connect an analytics account that has been shared with other gmail/g suite users.

## Additional Context

I use site kit on multiple wordpress installations. It connects analytics accounts that don't have any secondary users. It is unable to connect analytics accounts that have user/s invited to manage.

I've

[2019-08-18 05:13] limitlessv opened #415 "redirect_uri_mismatch when WordPress admin and site using https and not http"
## Bug Description

redirect_uri_mismatch when WordPress admin and site using HTTPS and not HTTP

https://accounts.google.com/o/oauth2/auth?response_type=code&access_type=offline&client_id=<<client_id>>.apps.googleusercontent.com&redirect_uri=**http**%3A%2F%2F<<domain URL>>%3Foauth2callback%3D1&state&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.co

[2019-08-19 07:50] jamesozzie commented on #394
@sannjayy Can you create a backup site or staging site which we can troubleshoot with?

[2019-08-19 08:01] aaemnnosttv commented on #154
@felixarntz IB is ready for review.

[2019-08-19 08:44] jamesozzie commented on #414
@outlett Certainly we would love Site Kit to work out of the box for all, so issues like this help us identify bugs and incompatibilities. That being said with all the possible dependency versions used by plugins trying to accomodate for as many users as possible is an ongoing task. We are still at a developer beta stage of development.

In relation to your issue with adding the Analytics module f

[2019-08-19 08:50] aaemnnosttv commented on #406
@felixarntz - a few questions for you on this for clarification, as well as a few suggestions as the end. There is a lot of information to review here but the AC is also very much written in terms of IB. Can you review this as well and make sure all implementation details are in the brief section?

---

This implies that the function would return never return anything when just passing the key as

[2019-08-19 08:58] jamesozzie commented on #150
@nullfud Can you try the following steps in order to generate your own response, which you can input to the JSON response window:

1. In the browser address bar (preferably using an incognito window) visit the following:
2. https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
3. Replace the yourwebsitecom and also http://yourwebsite.com with your own s

[2019-08-19 09:13] felixarntz commented on #154
IB looks awesome!

[2019-08-19 09:14] felixarntz commented on #407
@aaemnnosttv Yes, of course. :) Fixed it.

[2019-08-19 09:16] felixarntz commented on #408
@aaemnnosttv Thanks for pointing out! While unrelated, makes sense to remove as part of this. I added a note to the IB.

[2019-08-19 09:36] felixarntz commented on #406
@aaemnnosttv Regarding your suggestions:

Makes sense, however I excluded changing this from here, as I intend to remove the parameter entirely in the new API. There will be a `useCache()` function to toggle this. The cache should always be active and only be disabled in very specific cases, so having this separately gets rid of this "cluttering" function parameter.

Can you clarify what you mean?

[2019-08-19 09:53] aaemnnosttv commented on #406
Ok, that makes sense 👍

Agreed! According to the outlined use of `deleteCacheGroup`, `getCacheKey` needs to support returning a key without the hash (since groups don't use `data` in the key). The idea is that all cache entries should have a hash for consistency, but it should still be possible to generate a cache key without it. `data` could default to an empty object in the method signature, and

[2019-08-19 10:05] felixarntz commented on #406
You're actually reminding myself now, why I decided to handle an empty object the same as no data: Precisely because I wanted to be able to easily create a object-hash-less key. I'd prefer to leave the logic as proposed, so that we don't need an extra `disableDataHash` parameter. With the proposed logic, the function accounts for both needs out of the box.

Let's discuss this separately. My perfec

[2019-08-19 10:30] aaemnnosttv commented on #406
Sounds good @felixarntz, that's all I had. Implementation brief is good 👍

[2019-08-19 12:07] felixarntz commented on #358
@marrrmarrr Lucy pointed out the current plugin behavior in this case is different from the ACs: It shows the UI to create an account if you don't have one, regardless of whether or not there is an existing tag. Is that behavior what we want or the one outlined in the ACs?

[2019-08-19 12:18] felixarntz commented on #365
IB looking good.

[2019-08-19 12:25] felixarntz commented on #89
@lucymtc Just noticed this is issues says it's dependent on #83. Apologies for not reviewing the IB on that one yet, but if that issue is in fact required, we can't work on this yet. Alternatively if you have an approach that also works without #83 done, I'm open to that as well. Can you provide your thoughts on this?

[2019-08-19 13:02] jamesozzie commented on #415
@limitlessv Can you please follow the steps below to try and proceed with your Site Kit setup:

1. Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.
2. Restart the Site Kit setup process again
3. If the same error a

[2019-08-19 13:03] lucymtc commented on #89
Moving this issue to the backlog and removing it from sprint 5 as discussed, in order to prioritise https://github.com/google/site-kit-wp/issues/83

[2019-08-19 13:30] limitlessv commented on #415
1. its https + Force secure connections - is checked
2. Done
3.  https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com
Thats the problem I try to report if the setting: Settings > General
Force secure connections - is checked
and your site is https
the siteurl address should be https not http as it today.

[2019-08-19 14:28] jamesozzie commented on #415
@limitlessv You are correct, if your site is https that's what should be reflected in the full URL. You will see a similar issue [here -](https://github.com/google/site-kit-wp/issues/338) #338.

Can you try deleting the project from Cloud Console, along with removing any associated API keys before attempting again?

[2019-08-19 14:45] felixarntz commented on #358
Just to confirm, I've talked to @marrrmarrr, and she confirmed these ACs here are correct. Let's open a separate issue to make these changes.

[2019-08-19 15:06] marrrmarrr commented on #358
Confirming the ACs. In this case, even if the user creates a new account, they would still have to remove the existing tag before they're able to proceed. So having a new account won't help them.

[2019-08-19 15:32] limitlessv commented on #415
hmm it's the same -

[2019-08-19 16:00] aaemnnosttv commented on #357
@swissspidy ready for review!

[2019-08-19 16:31] lucymtc opened #417 "Analytics setup, incorrect message when there are no existing accounts but has existing tag"
## Bug Description

While setting up Analytics module, if there is an existing tag found and the user has no analytics accounts the message shown is incorrect, indicating the user needs to create an account.
The message shown should inform of the existing tag coming from an external source, and that the user does not have access to it.
## Steps to reproduce

1. Insert Analytics tracking code throu

[2019-08-19 18:13] felixarntz commented on #417
@lucymtc Acceptance criteria look good (taken from #358, for reference), feel free to start with the implementation brief.

[2019-08-19 18:47] adamsilverstein opened #419 "Object caching can interfere with module activation"
## Bug Description

When attempting to activate a module (eg. Analytics) in an object cached environment, the activation status update may appear to fail.

## Steps to reproduce

1. In an object cached environment set up the plugin and attempt to activate the Analytics module

**Expected result:**
Module is activated, setup flow continues.

**Actual results:**
Module not activated, page shows erro

[2019-08-19 19:15] westonruter commented on #419
I was trying this on my Pantheon-hosted production environment:

* PHP 7.2
* [WP Redis](https://wordpress.org/plugins/wp-redis/) object caching plugin
* Plugin version: 1.0.0-beta.1.0.4

[2019-08-20 05:12] lucymtc commented on #83
@felixarntz assigning to you for Implementation brief review.

[2019-08-20 08:06] grzegorz-janoszka commented on #396
I have the same, sitekit just chooses the first property and it is not possible to select another one.

[2019-08-20 08:07] grzegorz-janoszka commented on #405
Sitekit just chooses the first property and it is not possible to choose anything else from the grayed dropdown.

[2019-08-20 08:47] jamesozzie commented on #396
@grzegorz-janoszka Do you have any existing analytics tag placed on your site? It could be placed via a plugin or theme setting? If you check the source code of your site search for a string starting with "UA-". If you manage to find the source and you can remove you should be able to select other properties.

[2019-08-20 08:49] grzegorz-janoszka commented on #396
Yes, I have an existing tag ending with "-3", but this plugin just chooses "-1" and it is not possible to change it.

[2019-08-20 08:51] aaemnnosttv commented on #405
@grzegorz-janoszka the dropdowns are disabled in some cases based on the presence of an existing analytics tag on the site so it's likely that you're seeing the expected behavior. This issue is not related to what you're describing though.

Please open a new issue for assistance with your specific case.

[2019-08-20 09:10] jamesozzie commented on #396
Can you go into your Analytics account and check the name of the property, I would suggest even changing the name to match your site name. Then clear your cache before logging into Site Kit again and disconnecting the Analytics module. (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit). You can then start the process again and see if the property it displays matches.

[2019-08-20 09:14] grzegorz-janoszka commented on #396
James, I have in total three properties for three websites. Despite disconnecting and connecting again the Site Kit shows only the first property and the dropdown is grayed and I can't select anything else.

[2019-08-20 09:18] grzegorz-janoszka commented on #396
I think I know how to fix it. You have to remove the GA code from your website (UA-....) and then the dropdown is not greyed and you can choose the property you want. With the GA code in your html the plugin erroneously chooses the incorrect property.

[2019-08-20 09:38] jamesozzie commented on #396
Yeap, removing the tracking code allows you to select a property from the dropdown. Interesting that the dropdown populated with an incorrect property, but feel free to share a video clip if possible and we can take a look.

[2019-08-20 10:47] lucymtc commented on #358
blocked by https://github.com/google/site-kit-wp/issues/417

[2019-08-20 10:49] lucymtc commented on #83
@felixarntz Implementation brief will likely need to be updated after https://github.com/google/site-kit-wp/issues/154 code review is approved ( PR https://github.com/google/site-kit-wp/pull/418 ) moving back to Implementation Brief column

[2019-08-20 10:52] lucymtc commented on #83
@felixarntz we need to change the order of steps, currently `getAccounts()` is first called and then `getExistingTag()`  https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/setup.js#L87
It will likely be fixed with https://github.com/google/site-kit-wp/issues/83

[2019-08-20 10:53] lucymtc commented on #417
@felixarntz we need to change the order of steps, currently `getAccounts()` is first called and then `getExistingTag()` https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/analytics/setup.js#L87
It will likely be fixed with https://github.com/google/site-kit-wp/issues/83

[2019-08-20 13:14] felixarntz commented on #417
@lucymtc You can reference #83 in the IB as a blocker and write the rest of it based on that already being implemented.

[2019-08-20 14:27] jamesozzie commented on #415
@limitlessv Do you have any other sites on the same server you can test with?

[2019-08-20 14:42] limitlessv commented on #415
Yes on three different domains, at the moment all of them are Wordpress version 5.2.2, and PHP Version 7.3.7

[2019-08-20 16:45] aaemnnosttv opened #423 "Event tracking in E2E tests"
## Bug Description

Nothing is preventing event tracking events from firing during E2E tests which will skew reporting statistics.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* During e2e tests, no Analytics events should be sent to the Site Kit tracker.

## Implementation Brief

We can't mock `sendA

[2019-08-20 17:22] jamesozzie commented on #415
Thanks for the update, I will get this escalated. In the meantime can you send a [Site Health report](https://i.imgur.com/Rtkmsba.png) for further troubleshooting?

[2019-08-20 17:31] limitlessv commented on #415
`
### wp-core ###

version: 5.2.2
site_language: en_US
user_language: en_US
permalink: /%category%/%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 2
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /opt/bitnami/apps/wordpress/htdocs
wordpress_size: loading...
uploads_path: /opt/bitnami/apps/wordpress/htdocs/wp-content

[2019-08-20 17:58] circlecube commented on #221
QA passes.

 PASS  tests/e2e/specs/auth-flow-admin-2.test.js (33.784s)
  the set up flow for the second administrator
    ✓ admin 2 (17903ms)

Test Suites: 1 passed, 1 total
Tests:       1 passed, 1 total
Snapshots:   0 total
Time:        33.841s, estimated 36s
Ran all test suites matching /tests\/e2e\/specs\/auth-flow-admin-2.test.js/i.

[2019-08-20 18:23] #221 closed

[2019-08-20 18:39] lucymtc commented on #83
@felixarntz I have updated Implementation Brief according to the latest changes from https://github.com/google/site-kit-wp/issues/154 assigning back to you for review

[2019-08-20 20:34] mlevison commented on #240
James - I'm still on vacation. However stuck in bad with the flu I made
further efforts.

- update the plugin to 1.0.4 - now the error is about a
redirected_uri_mismatch
- delete the plugin
- reinstall from scratch
- create new oauth credentials
- attempt to authorize and I get the same error - as above

Cheers
Mark

On Tue, Aug 13, 2019 at 12:05 PM James G <notifications@github.com> wrote:

--

[

[2019-08-21 04:52] Reaper1242 commented on #403
Hi,
Just wanted to add that I'm seeing the same.

[2019-08-21 07:50] aaemnnosttv commented on #415
The oauth2callback redirect URI is generated from your `home_url()` which looks as if it should be correct based on the constants you're using.

https://github.com/google/site-kit-wp/blob/b52dc24828a81985b52501743a2c8ee3022db561/includes/Core/Authentication/Clients/OAuth_Client.php#L592-L594

The only thing I can think of is if something is maybe filtering `home_url` to use an http scheme, but fro

[2019-08-21 07:52] aaemnnosttv commented on #217
Updating the estimate on this one as it appears to require more manual updates than expected. Also, there was a problem while upgrading to the new eslint package which required a bit more time as well.

[2019-08-21 08:07] swissspidy commented on #217
Yeah S is more accurate here I think.

Regarding eslint, worth noting that there seems to be a bug in 6.2.x in combination with babel-eslint that shows some false positives.

[2019-08-21 08:17] aaemnnosttv commented on #217
Thanks for the heads up! Is there an issue you can link me to for more info/context?

[2019-08-21 08:23] felixarntz commented on #83
@lucymtc Implementation brief looks great!

Just something to keep in mind, this is a necessary evil until we fix the architecture via #340

[2019-08-21 08:25] aaemnnosttv commented on #217
@swissspidy is this something that we should consider is an amendment to the acceptance criteria (i.e. required) or is this more of a nice to have - if it fits in the time of the estimate and if not we add ignores for any remaining and handle those in a subsequent ticket?

[2019-08-21 08:39] swissspidy commented on #217
https://github.com/eslint/eslint/issues/12117
https://github.com/babel/babel-eslint/issues/791

Might be possible that this project here is not affected by this though.

It's more of a nice to have if it fits in the time. No ignores should be needed otherwise, as the rule simply would not apply.

[2019-08-21 08:45] jamesozzie commented on #240
@mlevison It sounds something similar to #415. Are you able to create your own credentials, using the steps below? It might able to best to try with some of your plugins disabled, in particular Updraft Plus, which also uses a Google API client.

1. At the authentication stage in your browser address bar paste the following in: https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&sit

[2019-08-21 12:01] felixarntz commented on #292
QA is good, multisite tests are running as expected and pass.

[2019-08-21 12:01] #292 closed

[2019-08-21 12:26] circlecube commented on #186
I've addressed the code review comment. Moving back to review.

[2019-08-21 12:55] lucymtc commented on #154
QA looks good according to the acceptance criteria.

[2019-08-21 13:33] aaemnnosttv commented on #358
Removing from this sprint as it likely won't be unblocked in time.

[2019-08-21 13:34] aaemnnosttv commented on #89
Removing from this sprint as it likely won't be unblocked in time. Blocked by dependency on #83

[2019-08-21 13:48] adamsilverstein opened #427 "Simplify AdSense account status detection function `getAdSenseAccountStatus`"
## Feature Description

In the AdSense module, the function `getAdSenseAccountStatus` is responsible for determining the user's AdSense account status after AdSense is activated. Once the status is determined, the function currently returns all of the data needed to display the final state.

_We can simplify this function by returning only the status data, moving the strings to the components wher

[2019-08-21 14:07] adamsilverstein commented on #186
This worked well in my testing. I created a test page with several different special characters including the original smart apostrophe. Everything displayed as expected, no slashes were visible:

![image](https://user-images.githubusercontent.com/2676022/63439132-b94b6380-c3ea-11e9-90c4-f5cf37756a32.png)

[2019-08-21 15:07] circlecube commented on #365
Addressed code review issues and moving to CR.

[2019-08-21 16:16] circlecube commented on #357
QA Pass

`npm run test:e2e -- tests/e2e/specs/modules/analytics/setup-with-account-with-tag.test.js`

 PASS  tests/e2e/specs/modules/analytics/setup-with-account-with-tag.test.js (59.369s)
  setting up the Analytics module with an existing account and existing tag
    ✓ pre-selects account and property if an existing tag is found that matches one belonging to the user and
prevents them from being

[2019-08-21 16:21] aaemnnosttv opened #429 "Refactor E2E utility plugins and modules"
As mentioned in #420, there is currently room for improvement with our utility plugins and modules that we use for E2E tests.

These have the following general types:
- Utility plugins, activated + deactivated in each test by the test user
    - Filter-based option/meta manipulation for currently logged in user
    - Test-specific API route mocks and E2E routes
- E2E REST API Routes added via mu-p

[2019-08-22 06:34] priit2000 commented on #415
Same problem.

1. I get the client configuration and
2. Paste it to the field, then
3. "proceed" takes me to
4. "Authenticate with Google" where I get the 400 error then I use the
5. "https://developers.google.com/web/site-kit/?sitename=yourwebsitecom&siteurl=http://yourwebsite.com" and get the
6. "client configuration snippet"
7. Paste it to the field, then
8. "proceed" takes me to
9. "Authentica

[2019-08-22 08:52] aaemnnosttv commented on #365
QA looks good 👍

![image](https://user-images.githubusercontent.com/1621608/63500846-4e298c00-c4d3-11e9-9521-fb224161ed89.png)

[2019-08-22 08:57] aaemnnosttv commented on #236
Here's how it appears now after changes applied in #365

![image](https://user-images.githubusercontent.com/1621608/63501147-d4de6900-c4d3-11e9-804f-9c414cbe0ff1.png)

Any further action needed on this one @felixarntz ?

[2019-08-22 09:10] lucymtc commented on #356
QA looks good.
run `npm run test:e2e:interactive -- tests/e2e/specs/modules/analytics/setup-no-account-no-tag.test.js`
Test passed and work as expected according to acceptance criteria.

[2019-08-22 09:34] #357 closed

[2019-08-22 09:34] #356 closed

[2019-08-22 11:10] jamesozzie commented on #415
@limitlessv Did you have any luc authenticating Site Kit after deactivating Updraft Plus? If not can you also attempt after deactivating Really Simple SSL.

@priit2000 If you have any of the mentions plugins active and you are encountering the same "redirect_uri_mismatch" error can you try the above suggestions? If that fails to resolve the error please share you [Site Health report ](https://i.im

[2019-08-22 13:15] felixarntz commented on #83
@lucymtc @aaemnnosttv I just noticed an additional requirement to this one which is highly crucial:

The checks we do on the server-side for an existing tag are more comprehensive than currently on the client side (e.g. they also cover AMP). We need to make sure the JS code detects in the same way, and the existing e2e tests should be expanded to make sure that works.

[2019-08-22 13:56] marrrmarrr opened #431 "Individual page search by URL or title with non-primitive chars not working"
## Bug Description

When pasting a URL into the single page search box on the main dashboard, the plugin shows "No Results"
(related to issue #369 )

## Steps to reproduce

1. Go to plugin main dashboard
2. Paste an existing page URL into the Single page search box
3. Search box shows "no results"

## Screenshots

![single-page-no-results](https://user-images.githubusercontent.com/13304791/6352018

[2019-08-22 14:09] felixarntz opened #432 "Detect existing snippets also in secondary AMP version"
## Bug Description

We currently detect existing Analytics/AdSense snippets by looking at the homepage. This presents a problem for sites using secondary AMP versions (which is not preferred, but still very common).

We should ensure that, if the site is using AMP in a mode that relies on a secondary version, we trigger a second fetch request to one of these URLs too.

See #413 for the original re

[2019-08-22 14:26] felixarntz opened #433 "Implement existing snippet detection for Tag Manager"
## Feature Description

We currently detect existing snippets for Analytics and AdSense. This detection should happen for Tag Manager as well, and cover non-AMP as well as AMP.

If an existing tag is found, it should work like in Analytics: If the user has access to that very container, it should be forced. If not, the user should be blocked from proceeding. In both cases, the user should be infor

[2019-08-22 14:33] felixarntz commented on #413
Thanks for the detailed report @kmwilkerson!

Since you reported multiple issues, we split these into a few:

1. We will use this issue to track implementation of dealing with Tag Manager for AMP differently than for non-AMP. In other words, Site Kit should ensure that, for AMP content, the Tag Manager container is an "AMP" container, and for non-AMP, the container is a "Web" container.
1a. As far

[2019-08-22 15:38] aaemnnosttv commented on #217
Update:
- Qunit file has been added to eslintignore as there does not appear to be a good way to apply a "downgraded" ruleset to a subset of files without fragmenting the config into multiple files
- `eslint` has been left at the 5.x version due to false positives in the latest v6 (eslint/eslint#12117)
e.g.
https://github.com/google/site-kit-wp/blob/23b918f4d2e5c73b284f94e44a1af878f9adf9b2/assets/

[2019-08-22 15:47] swissspidy commented on #217
Why not upgrade to 6.2.0 then instead of latest (6.2.1)? I think ESLint 6 is the version the WP ESLint plugin is tested with and works best.

[2019-08-22 15:55] swissspidy commented on #217
Ah, right, that's what I meant.

[2019-08-22 15:58] aaemnnosttv commented on #217
OK 6.1.0 is working just fine. Pushing the update now, can you review as soon as the build finishes @swissspidy?

[2019-08-22 17:07] adamsilverstein commented on #93
This works well in my testing.

I set up my local and connected to my personal AdSense account. Checking the Site Kit Dashboard the AdSense widget properly shows my currency ("$"), testing previously the currency symbol was missing from the dashboard.  I also tested at various screen sizes and everything looked good.

I was surprised the PR didn't break any visual regression tests, when I checked

[2019-08-22 17:08] circlecube commented on #352
QA - LGTM -Abandoning setup flow I am not allowed to visit dashboard or settings pages in wordpress admin. Returning and completing setup, I am then allowed to visit admin pages as expected.

[2019-08-22 17:08] adamsilverstein commented on #93
Screenshot from testing:

![image](https://user-images.githubusercontent.com/2676022/63534707-0ef83c80-c4cd-11e9-8836-6a14cea9d5cd.png)

The $ symbol in my display is quite large and almost touches the headline above it - perhaps we could use a little more whitespace here?

[2019-08-22 17:19] circlecube commented on #308
QA PASS

Went through setup flow a couple times and did not see any 404s in console or network.

[2019-08-22 18:50] adamsilverstein commented on #114
Hello @torounit -thanks for the bug report. I am working to QA that this has been fixed. I'm a little unsure how to complete step 1. of your instructions:

Do you mean in my AdSense account? I am unable to do that, see https://support.google.com/adsense/answer/3415949?hl=en

So far I tested this by modifying the code to use "JPY" as the currency code, everything seemed to work as expected, there w

[2019-08-22 22:09] adamsilverstein commented on #114
I confirmed that before the PR was merged, hard coding the currency unit as I did in my test was enough to cause the errors described in this issue.

Based on this I have very high confidence 95+%  that this fixes the issue and am moving it over to the approval column for that reason. I don't think it is possible to do absolute confirmation of the fix without access to a new AdSense account.

cc:

[2019-08-23 04:32] westonruter opened #435 "Add analytics to AMP Stories created by the AMP plugin"
## Feature Description

When printing out analytics, currently the `amp-analytics` is output at the `wp_footer` action via:

https://github.com/google/site-kit-wp/blob/14d59a5fd00752f47ac955a5b65aacaa31d91b04/includes/Modules/TagManager.php#L186-L209

However, this will not end up adding analytics to AMP Stories, which do not trigger the `wp_footer` action triggered in its template:

https://githu

[2019-08-23 05:38] torounit commented on #114
@adamsilverstein

I think too. So need a new account for the locale.

[Current currency & funds code list](https://www.currency-iso.org/en/home/tables/table-a1.html)  may be helpful.

[2019-08-23 08:52] aaemnnosttv commented on #217
Took a little bit longer to work out the kinks as I didn't realize some of the other parts were failing, but it should be all good now! 😄

[2019-08-23 09:16] aaemnnosttv commented on #432
IB LGTM! Just a few questions.

Minor detail: there is a bit of an inconsistency with the existing AMP-related property on the same object. We should use the same naming convention for AMP for both. I prefer normal camelcase as you have used in this IB. Should we also update `AMPenabled` to `ampEnabled` ?

https://github.com/google/site-kit-wp/blob/7d4aac9711a1174dc76acfad601c3fcd50a0baca/includes

[2019-08-23 10:52] aaemnnosttv commented on #403
Rather than checking for various falsey values we should instead check that `$current_screen` is indeed an instance of `WP_Screen`.

[2019-08-23 12:31] circlecube commented on #217
QA pass. All acceptance criteria checks out. Running `npm run link:js` gives 0 errors and 75 warnings, all look to be related to JSDocs missing bits, mostly return descriptions.
`✖ 75 problems (0 errors, 75 warnings)`

[2019-08-23 12:33] #217 closed

[2019-08-23 15:53] aaemnnosttv commented on #369
This is likely the same issue as #431 where the query is not being properly decoded on the server before using. Can we combine these issues @felixarntz ?

[2019-08-23 17:49] jamesozzie commented on #414
@outlett Did you manage to set Analytics after performing the suggested steps?

[2019-08-23 17:50] jamesozzie commented on #396
@thejoydutta Were you able to get the Analytics module connected?

[2019-08-23 17:51] jamesozzie commented on #374
@ahiadh Did you manage to get the Analytics module connected in the end?

[2019-08-23 17:52] #373 closed

[2019-08-23 17:53] #239 closed

[2019-08-23 17:56] jamesozzie commented on #185
@mikjits If you want to share you [Site Health info](https://i.imgur.com/Rtkmsba.png) I can take see if there is anything I notice which could be impacting your setup.

[2019-08-23 17:57] jamesozzie commented on #233
@asitaaa I will close this ticket now, if the issue remains feel free to reopen.

[2019-08-23 17:57] #233 closed

[2019-08-24 00:33] westonruter opened #438 "Introduce admin bar integration on AMP pages"
## Feature Description

Currently the full admin bar integration is disabled on AMP pages:

https://github.com/google/site-kit-wp/blob/c9e27e85acfc47413aaa1dc30a3050cd14f0ed7f/includes/Core/Admin_Bar/Admin_Bar.php#L75-L92

However, thanks to a new AMP “dev mode” capability, there is now a proper way to include invalid AMP markup on an otherwise valid AMP page. When the `html` element has a `data-a

[2019-08-24 09:50] madbradj commented on #246
Here is a screenshot and the problem still exists today.
![Google site kit](https://user-images.githubusercontent.com/45303969/63635677-eacb6580-c65c-11e9-8834-2b7d579e7785.png)

[2019-08-25 21:24] marcdobler opened #439 "Adsense adds advertising blocks to everything, completely out of control"
## Bug Description

This adds blocks of advertising from everywhere on the pages completely out of control, there is no way to manage those blocks, the placement seems to randomly position blocks of advertising and especially irrelevant in their positioning, like a middle of the main article list.

## Steps to reproduce

Go to any URL from that website: https://www.sixpiecesofeight.com

## Screens

[2019-08-26 09:22] felixarntz commented on #403
@aaemnnosttv IB looks good, with two recommendations:
1. We could rename `is_active_for_current_screen()` to `is_admin_post_screen()`, because that's what it checks.
2. We can probably remove the `is_admin()` check before calling `is_active_for_current_screen()` / `is_admin_post_screen()` because the function won't exist outside of `is_admin()` anyway.

[2019-08-26 09:25] felixarntz commented on #423
IB ✅

[2019-08-26 09:37] felixarntz commented on #369
@aaemnnosttv Agreed. I added the ACs from this issue to #431. Closing this one as duplicate.

[2019-08-26 09:37] #369 closed

[2019-08-26 09:42] felixarntz commented on #431
@aaemnnosttv IB looks good. One additional piece that we should cover is supporting URLs for when you're using a custom site URL (e.g. for local development).

To clarify by example:
* I'm on `https://my-site.local`, and I have filtered in a live site URL `https://my-site.com`.
* I have a database clone of the live site on my local site (with home URL replaced of course).
* I take a URL from the l

[2019-08-26 09:43] aaemnnosttv commented on #403
IB updated with your recommendations @felixarntz

[2019-08-26 09:45] felixarntz commented on #432
@aaemnnosttv

Makes sense, thanks for bringing this up!

Exactly.

[2019-08-26 09:49] aaemnnosttv commented on #432
IB approved ✅

[2019-08-26 09:51] jamesozzie commented on #439
@marcdobler Site Kit places Auto Ads code on your site, which serves ads based on suitable placements. You can however set some options from within your AdSense account as below, which will apply to your site, even with Auto Ads implemented via Site Kit:

**Control Ad Formats**: You can [restrict the ad formats](https://i.imgur.com/eP1XBKO.png) in use.
**Use URL groups**: You can [create URL group

[2019-08-26 10:01] aaemnnosttv commented on #431
@felixarntz IB updated with this additional case handling.

[2019-08-26 11:24] aaemnnosttv commented on #409
CR 👍

[2019-08-26 11:32] marcdobler commented on #439
For restricting ad format already done told some parameter.

I have done configuration yesterday night but seems like doesn't change too much thing, those auto ads implementation really look like adware.

To give a real [example](https://imgur.com/a/FOXXu64)

After I thought I can add my self to create a placement for ads

`<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="c

[2019-08-26 11:44] aaemnnosttv commented on #408
@felixarntz One optional suggestion for you but otherwise 👍

[2019-08-26 13:15] felixarntz opened #445 "Sprint: 5 Release"
Prepare and publish new release 1.0.0-beta.1.0.5 (August 29th).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-08-26 14:16] aaemnnosttv commented on #408
CR ✅

[2019-08-26 15:29] felixarntz opened #447 "Properly handle date range dropdown values with props instead of filters"
The date range filter value is applied via a filter to the entirety of requests in a batch request (in `data.combinedGet()`). As such, it is impossible to make requests with individual date ranges. Furthermore using a filter fired in the low-level API request function violates React's development principles by which we should pass such a selected value as a prop to the components that need to use

[2019-08-26 16:12] felixarntz commented on #431
IB ✅

[2019-08-26 16:13] jamesozzie commented on #439
@marcdobler The AdSense [community forum](https://support.google.com/adsense/community?hl=en) might be the best place to discuss the placement of ads via Auto Ads. You'll find AdSense experts and employees contributing to that support forum.

[2019-08-26 16:32] felixarntz opened #448 "Update Site Verification module datapoints for consistency"
Datapoints in the Site Verification module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2019-08-26 16:33] felixarntz opened #449 "Update Search Console module datapoints for consistency"
Datapoints in the Search Console module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cr

[2019-08-26 16:33] felixarntz opened #450 "Update Analytics module datapoints for consistency"
Datapoints in the Analytics module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteri

[2019-08-26 16:33] felixarntz opened #451 "Update Optimize module datapoints for consistency"
Datapoints in the Optimize module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

[2019-08-26 16:33] felixarntz opened #452 "Update Tag Manager module datapoints for consistency"
Datapoints in the Tag Manager module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2019-08-26 16:33] felixarntz opened #453 "Update AdSense module datapoints for consistency"
Datapoints in the AdSense module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

[2019-08-26 16:33] felixarntz opened #454 "Update PageSpeed Insights module datapoints for consistency"
Datapoints in the PageSpeed Insights module should receive minor updates as outlined in the ACs.

Implementation brief should include which pieces of JS need to be updated and which e2e tests need to be updated (if any).

**Execution is blocked until #406 is merged.**

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptanc

[2019-08-26 16:35] felixarntz commented on #184
Related: #447

Potentially this will already fix it.

[2019-08-26 19:00] lucymtc commented on #83
@felixarntz I have added the amp tag detection.
There are different variations of analytics and we only cover 1 of them in e2e.
Should we expand the test for all variations? if so, should we create a new issue for expanding tag verification e2e tests?

[2019-08-26 19:06] The-Lion commented on #223
Can I ask to reconsider this decision?  [Wordpress requires PHP 5.6](https://wordpress.org/news/2019/04/minimum-php-version-update/). since the release of WordPress 5 and [over more than 90% of the WordPress users](https://wordpress.org/about/stats/) are using PHP 5.5+.

[2019-08-26 19:10] woodsoft commented on #223
I have been trying to use Out-Of-Box Dropbox Plugin for Wordpress and ran into problems, we worked out the problem is related to Guzzle and the version you are using.

https://www.wpcloudplugins.com/plugins/out-of-the-box-wordpress-plugin-for-dropbox/

I think the developer of this plugin will be in touch as well :) but i am a customer of Out Of Box and having to stop using SiteKit for now :(

[2019-08-27 02:32] ivankristianto commented on #223
@The-Lion

A quick solution you can do currently is recompile from the source and make the PHP minimum version to PHP 5.6.
You can do that by modifying composer.json file, then package it (https://github.com/google/site-kit-wp/wiki/Releases#packaging-a-release).

re: considering to up the minimum PHP support version, I defer it to @felixarntz or @ThierryA

[2019-08-27 07:03] swissspidy commented on #223
If we bump to Guzzle 6 there will just be problems with plugins that use Guzzle 5.

[2019-08-27 07:10] swissspidy commented on #223
@archon810 See my previous comment on an alternative solution:

[2019-08-27 08:46] aaemnnosttv commented on #168
@tofumatt it's referring to the "localized" script data from WP

https://github.com/google/site-kit-wp/blob/692b4f768fad3e8a231b19c3ed55afcad1761818/includes/Core/Assets/Assets.php#L462

I've removed it 👍

[2019-08-27 09:20] RicaNeaga opened #459 "Enhanced eCommerce for Google Analytics integration for Woocommerce"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## Changelog entry

*

[2019-08-27 09:27] felixarntz opened #460 "Update headings on dashboard-details screen"
## Feature Description

Wording and layout in the dashboard details needs to be updated. See ACs for details.

These are new requirements based on #138, which will be closed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All sections should receive titles, and some titles should receive updated wordi

[2019-08-27 09:34] felixarntz opened #461 "Show Bounce Rate instead of Average Session Duration in dashboard-details"
## Feature Description

The part of the dashboard-details screen that shows "Average Session Duration" from GA should instead show "Bounce Rate" from GA.

These are new requirements based on #138, which will be closed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The fourth column in the "Impression

[2019-08-27 09:34] RicaNeaga opened #462 "GDPR (EU Compliance) related-features"
## Feature Description

Plase take a look here, it's described fully by the most popular Google Analytics integration plugin staff - https://wordpress.org/support/topic/google-analytics-eu-compliance/

So please implement in your FREE plugin two features:

1. A clear and described how-to tutorial on how the website can be fully compatible with GDPR via your plugin (& Analytics) integration

2. At

[2019-08-27 09:43] RicaNeaga opened #463 "Host Site Kit & Google Analytics Locally (on the hosting server) option"
## Feature Description

There is already a plugin that does this, but only for basic Analytics code integration - https://wordpress.org/plugins/host-analyticsjs-local/

Advantages of this approach (if needed) - solves Yslow score & other benchmark issues / a small blog post here -  https://antonyagnel.com/host-google-analytics-locally/

Since Google considers speed a CRUCIAL factor and ranks it ac

[2019-08-27 09:46] jamesozzie commented on #459
@RicaNeaga Site Kit is at a developer beta stage at present, but I'll mark it as an enhancement for consideration with the team for future releases. Thanks for the input

[2019-08-27 09:48] felixarntz opened #464 "Single page stats: don't show empty traffic table alongside CTA when there's no data"
## Bug Description

On the `dashboard-details` screen, the Traffic section ("Acquisition Sources") currently shows an empty data table even though there is no data (already correctly indicated by a blue callout).

<img width="998" alt="Screenshot 2019-08-27 at 11 45 10" src="https://user-images.githubusercontent.com/3531426/63760860-68db7680-c8c0-11e9-9de6-5f765b063bef.png">

---------------

_Do

[2019-08-27 10:00] aaemnnosttv commented on #449
@felixarntz - a few questions for you:

* If there is no `exactMatch`, what should the value be?
* For the new `searchanalytics` datapoint, `sc-site-analytics` and `search-keywords` pass different values to `parse_date_range`. Is this required? If so, how should this be handled in the new datapoint? Similarly, `search-keywords` has a `row_limit` of 10, while the other does not.

[2019-08-27 10:10] felixarntz opened #465 "Show a single date range selector in plugin dashboard"
On the Site Kit dashboard, multiple date range dropdowns are present, but they all change at once and are in sync. Instead, there should only be a single dropdown on top of the page, similar to how it is on the individual module pages.

In order to resolve this problem, the dashboard should receive an overall headline on the page, in similar format to the single post dashboard screen and individua

[2019-08-27 10:23] felixarntz commented on #314
@aaemnnosttv Talked through this with @marrrmarrr, let's keep the IB as is and just display the blue CTA inside the white box (between header and footer). ✅

[2019-08-27 10:24] jamesozzie opened #466 "Create link to dashboard on welcome screen (After reactivating plugin)"
## Feature Description

On the welcome screen after reactivating Site Kit there is useful welcome page for users. At present all inks on that welcome page are external, there is no link for further setup.

There are references to "visiting the dashboard" but no link to that tab. It's also a tab that's only visible once the Site Kit tab is hovered over (see screenshot).

- Less confusion / Users ca

[2019-08-27 10:27] felixarntz opened #467 "Show more informative messages on dashboard-details screen if there is no data"
## Feature Description

The blue CTAs for when there's no data for a page should provide more contextual information, partly based on new checks.

* If the page was recently created and there is no data, the wording should indicate that as the reason for the lack of data.
* For Search Console, if the Search Console property was just recently created, the wording should indicate that as the reason

[2019-08-27 10:33] felixarntz commented on #138
This is now split into and fully covered by a few issues with updated requirements: #460 #461 #464 #467

Closing this one.

[2019-08-27 10:33] #138 closed

[2019-08-27 10:56] felixarntz commented on #83
@lucymtc Good catch! I think this would be better suited for QUnit though. Can you open an issue to add such tests for the `extractTag()` function?

[2019-08-27 11:59] aaemnnosttv commented on #314
@felixarntz I moved this back to review as I think this is the correct change to make according to what you confirmed with Mariya. The header & footer will still be displayed as these are added in the wrapping `DashboardDetailsWidgetKeywordsTable`.

[2019-08-27 12:57] felixarntz commented on #449
It's currently a string, we can probably maintain that. Alternative would be an actual falsy value for JavaScript, but it would also be somewhat inconsistent. I'm certainly open to discussing this.

This is because for some reason we sometimes queried double the days we actually want. This shouldn't be the case, unless necessary, but we should discuss this with @adamsilverstein who I think has mor

[2019-08-27 13:46] felixarntz commented on #449
After discussing the date ranges, let's go with the following solution: In case we need to query duplicate date ranges (e.g. we query 56 days instead of 28), we should pass a boolean `compareDateRanges` parameter. In the case of the new `searchanalytics` datapoint, depending on that the datapoint would set the `$multiplier` parameter of `parse_date_range()` to either 2 (if `compareDateRanges` true

[2019-08-27 14:30] lucymtc commented on #417
@felixarntz confirming this issue is fixed with latest changes merged from https://github.com/google/site-kit-wp/issues/83
Following the steps to reproduce and seeing the expected message:

![Screen Shot 2019-08-27 at 16 29 59](https://user-images.githubusercontent.com/1204359/63780187-01392180-c8e8-11e9-9a73-5a4396c8b1b4.png)

[2019-08-27 15:44] mlevison commented on #240
James - I had been doing this all along. This time I tried generating the
credential with Https vs http enabled. I got a new and exicting error
message:

The redirect URI in the request, http://agilepainrelief.com?oauth2callback=1,
does not match the ones authorized for the OAuth client. To update the
authorized redirect URIs, visit:
https://console.developers.google.com/apis/credentials/oauthclie

[2019-08-27 16:06] jamesozzie commented on #240
@mlevison Do you have any other sites you on the same server which you can check with? Or as an alternative setup a staging or duplicate site, while deactivating Updraft plus.

I would also suggest keeping all references to your secure website, with http redirection in place.

[2019-08-27 16:15] mlevison commented on #240
On Tue, Aug 27, 2019 at 12:06 PM James G <notifications@github.com> wrote:

I got it up and running on our staging server on the first try. I did that
with no differences in plugins etc. The only differences I can think of:
- Domain name (aprstaging.wpengine.com)
- SSL cert - obviously the staging site doesn't have one

Unsure what you're suggesting here.

Cheers
Mark

--

[image: headshot-square-

[2019-08-27 16:34] maciejmackowiak commented on #246
Hi @swissspidy when are you planning to implement this in the site kit plugin?

Without it I'm afraid that when you will publish the stable version into WordPress.org there may be a lot of errors like this:
https://github.com/google/site-kit-wp/issues/349

[2019-08-27 17:04] swissspidy commented on #246
@maciejmackowiak I don't have an ETA for this yet, but rest assured that we'd address this before the stable release. At the moment Site Kit is still in Developer Beta to catch exactly these kind of issues :-)

[2019-08-27 17:18] jamesozzie commented on #240
@mlevison I was referring to setting your [site settings](https://i.imgur.com/MkFLF0E.png), along with inputting the https if generating your own credentials. If you are not using https as you suggested then it wouldn't apply.

Are you using the upload to Google drive option with Upgraft plus?

[2019-08-27 19:09] mlevison commented on #240
On Tue, Aug 27, 2019 at 1:18 PM James G <notifications@github.com> wrote:

This was the problem and you might find it with others as well. Our SSL was
setup for us by our service provider WPEngine.

They had setup an override on the server that redirects all http requests
to https. Of course the OAuth generator didn't know that. Hence the problem.

Fixing the site settings seems to have solved the

[2019-08-27 20:09] swissspidy commented on #403
I assume it was some conflict with another plugin

[2019-08-27 20:19] swissspidy commented on #403
The latter.

@RealBenihime maybe you can shed some light on this? Which other plugins are you using?

[2019-08-27 21:09] felixarntz commented on #417
@lucymtc Note that the ACs state the buttons should not appear in this scenario because the user is blocked. This is a small change we'd still need to make I believe.

Double-checking with @marrrmarrr - if there is an existing tag and the user does not have an account, they should not be able to create one right? The buttons should not be visible?

[2019-08-27 22:22] lilybonney commented on #372
Re-opening this ticket and assigning to @adamsilverstein and @aaemnnosttv for documentation updates/visual diagram per Thierry's feedback.

[2019-08-28 07:01] lucymtc commented on #89
@felixarntz this part of IB can be removed as it has been addressed in other way in #83

https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics.php#1060 should be $matched_property = array_values( $url_matches );

[2019-08-28 07:43] RealBenihime commented on #403
@swissspidy Apparently it is a plugin conflict and I narrowed it down to this plugin (WP File Manager) https://wordpress.org/plugins/wp-file-manager I've confirmed it on 2 sites.

[2019-08-28 08:38] aaemnnosttv commented on #448
@felixarntz The AC mentions "response should have same format as GET verification: identifier + type + verified" for POST verification, returning an "object" for a single site, the same as GET verification. Would the `type` ever be different than `SITE`, and would `verified` ever not be `true`? It seems like they would otherwise the response would be a WP_Error of some kind.

If so, is it safe to

[2019-08-28 09:03] swissspidy commented on #403
Awesome, thanks for checking!

@tofumatt Can you try it with the WP File Manager plugin installed?

[2019-08-28 09:08] felixarntz commented on #407
QA ✅

[2019-08-28 09:10] felixarntz commented on #408
There is an issue here with the new logic of the `modules/(?P<slug>[a-z\-]+)/notifications` route: If a module does not provide a `notifications` datapoint, requests result in a 500 which they shouldn't.

Will open a PR to fix it.

[2019-08-28 09:20] felixarntz commented on #83
@tofumatt How did you insert the tag? What was the exact code snippet / markup?

[2019-08-28 09:22] felixarntz commented on #71
QA ✅

[2019-08-28 09:31] jamesozzie commented on #240
Thanks for the update @mlevison. Really useful, il relay that to the team.

[2019-08-28 09:40] lucymtc commented on #431
QA looks good.

Tested pasting existing and non existing URL.
Tested with steps to reproduce from #369
Both URL and title search work as expected according to acceptance criteria.

[2019-08-28 09:47] jamesozzie commented on #415
Closing this due to no response.

@limitlessv @priit2000 If you still encountering the same issue please test with Really Simple SSL & Updraft Plugin deactivated. Feel free to reopen if the same issue persists.

[2019-08-28 10:09] aaemnnosttv commented on #408
CR ✅

[2019-08-28 10:09] lucymtc commented on #423
QA looks good.
While running E2E tests confirming I can run `window._gaUserPrefs.ioo()` in the console and returning `true`

[2019-08-28 10:12] felixarntz commented on #408
QA ✅

[2019-08-28 10:13] #408 closed

[2019-08-28 10:32] aaemnnosttv commented on #409
QA PASS

* ✅ There should be a REST route called `modules`, that returns an array of objects, with every object representing one of the available modules.
* ✅ Every object should exactly match the object returned by the respective module from the existing `modules/(?P<slug>[a-z\-]+)` route.
* ✅ Module objects should be sorted by their `order`.

![image](https://user-images.githubusercontent.com/16

[2019-08-28 11:12] circlecube commented on #403
I've tried to reproduce this error without the plugin to no success. I also tried with the plugin installed and still no success. I tried with all the latest default themes (17 18 & 19). Any other specific instruction to reproduce @RealBenihime?

[2019-08-28 11:53] marrrmarrr commented on #365
LGTM, verified on a couple sites.

[2019-08-28 11:53] #365 closed

[2019-08-28 11:55] marrrmarrr commented on #352
LGTM. Verified on 2 sites.

[2019-08-28 11:55] #352 closed

[2019-08-28 12:02] marrrmarrr commented on #71
This overall LGTM. Will only note that when all clicks are 0 it looks slightly weird, but is technically correct. We can consider an alternative display down the road if users get confused.

<img width="231" alt="Screenshot 2019-08-28 at 13 59 02" src="https://user-images.githubusercontent.com/13304791/63853977-5898c980-c99c-11e9-948e-e0a71129067c.png">

[2019-08-28 12:02] #71 closed

[2019-08-28 12:17] RealBenihime commented on #403
@circlecube I couldn't think of any other way to do this but here is a YT video of a screen recording reproducing the error [https://youtu.be/bSkwHkbwkew](https://youtu.be/bSkwHkbwkew) and attached is the system info that was generated during the recording
[system-info-cva.ukzn.ac.za-28-08-2019.txt](https://github.com/google/site-kit-wp/files/3550783/system-info-cva.ukzn.ac.za-28-08-2019.txt)

[2019-08-28 12:32] felixarntz commented on #448
@aaemnnosttv `type` can indeed be different. I think what we should do is:
* If the site was already verified, we just pass through the response from `GET verification` that is internally called in `POST verification` anyway (this is also an area where we need to update the reference).
* If the site was not already verified, after running the existing logic to do so, we can get the proper return v

[2019-08-28 12:37] felixarntz commented on #449
IB ✅

[2019-08-28 12:40] swissspidy commented on #403
@RealBenihime Here's a current build of the plugin that includes this bugfix:

[google-site-kit.zip](https://github.com/google/site-kit-wp/files/3550890/google-site-kit.zip)

Could you please give it a try and let us know if it resolves the issue?

[2019-08-28 12:40] felixarntz commented on #405
IB ✅

One minor thing: @aaemnnosttv The cache should be cleared using the new `data.invalidateCacheGroup()` function from #406 / #436. This issue's implementation is blocked by that anyway, so it would be great if you could just update this part of the IB. Other than that, looks great.

[2019-08-28 12:47] felixarntz commented on #460
@aaemnnosttv Apologies, apparently one idea from the ACs didn't become clear: The boxes in `dashboard-details` screen that already have a single heading (inside the box) shouldn't maintain these headings. For example, the "Acquisition Sources" header with the Analytics link should completely vanish. Both the "Acquisition Sources" and the "Top search queries for your page" boxes only have that sing

[2019-08-28 12:47] RealBenihime commented on #403
@swissspidy It does resolve the issue BUT, it also removed the stats on the Adminbar, only thing displayed now is the "Stats for: [page_name]" and "More Details" link

[2019-08-28 12:53] priit2000 commented on #415
Nothing changed. It's still not working, but I don't have time to do this right now.

[2019-08-28 13:01] felixarntz commented on #346
@aaemnnosttv I think the IB is slightly incorrect:

This would still return the `google_tagmanager_account_empty` error as response, which would be caught in JS and thus that message would display to the user. The intended result of the ACs would be that the user instead sees the information that they don't have access (if they don't have an account, how would they). In other words, I think the lo

[2019-08-28 13:04] marrrmarrr commented on #431
LGTM.

[2019-08-28 13:04] #431 closed

[2019-08-28 13:09] marrrmarrr commented on #186
LGTM.

[2019-08-28 13:09] #186 closed

[2019-08-28 13:11] felixarntz commented on #346
Actually, I think we should simplify the API endpoint logic here to just return the empty array if there are no accounts. It doesn't make any sense from an API architecture standpoint to consider a lack of accounts an error - it just means that there are no accounts.

This becomes evident by the fact that only for the initial setup of Tag Manager we in Site Kit consider the lack of that an error.

[2019-08-28 13:15] felixarntz commented on #398
@aaemnnosttv I don't think the IB here solves the issue, for similar reasons as outlined in #346 for Tag Manager.

It is counter-productive to return an error from the server just because there are no properties (e.g. WordPress doesn't return an error just because there are no posts). `properties` should be an empty array in that case (and `profiles` too of course). Here in this scenario, I believ

[2019-08-28 13:16] marrrmarrr commented on #154
LGTM

[2019-08-28 13:16] #154 closed

[2019-08-28 13:23] felixarntz commented on #417
@lucymtc I confirmed with @marrrmarrr, there shouldn't be any buttons to create a new account or re-fetch if there's an existing tag. Let's address that as part of this issue. If there's an existing account, the user should not be able to proceed (only see the "Cancel" link).

[2019-08-28 13:23] lucymtc commented on #170
QA looks good.
Tested by installing Gutenberg plugin which exposes lazy/Suspense in wp.element

Confirming related functionality works as expected in both scenarios with lazy/Suspense from React and from wp.element.

[2019-08-28 13:41] lucymtc commented on #312
Removing current IB for re-work

[2019-08-28 14:13] felixarntz commented on #83
It seems that this issue messed up the UI for users that don't have a GA account - they still see the button to create a new account, but not the message they are supposed to see.

Here's what it looks like now:
![ga-error](https://user-images.githubusercontent.com/3531426/63863443-8c7cea80-c9ae-11e9-89f6-9966f714d217.png)

Probably the text is missing because no `errorCode` gets set, so the `Anal

[2019-08-28 14:15] marrrmarrr commented on #114
@torounit do you happen to have an active AdSense account with JPY set as currency?

[2019-08-28 14:34] felixarntz opened #470 "Filter Tag Manager containers by the correct usage context and support native AMP"
## Feature Description

When listing Tag Manager containers during module setup and when editing settings, we simply list all containers. However, there are Tag Manager containers that are not made for regular websites, and including them in dropdowns for Site Kit does not make sense. See `usageContext` under https://developers.google.com/tag-manager/api/v2/reference/accounts/containers#resource.

[2019-08-28 15:01] felixarntz commented on #83
QA ✅

[2019-08-28 15:04] #409 closed

[2019-08-28 15:04] #407 closed

[2019-08-28 15:04] #170 closed

[2019-08-28 15:05] aaemnnosttv commented on #403
@swissspidy @felixarntz The only thing we changed related to this issue specifically was whether or not the Site Kit admin bar item is displayed, where the screen object was accessed that raised the notice. It may be possible a change was made elsewhere that introduced a regression related to what is displayed but that should likely be a separate issue.

[2019-08-28 15:05] jamesozzie commented on #462
@RicaNeaga Nice suggestion, this functionality is something that has been discussed and will be implemented in future releases.

You can also use [this](https://gist.github.com/felixarntz/2800ed9abfa13aabfa6e5c8ba9ec5066) WordPress mini plugin. It works as an extension to Site Kit to ensure IP Addresses are anonymized.

Alternatively, [here's a description](https://felix-arntz.me/blog/customizing-

[2019-08-28 15:06] #308 closed

[2019-08-28 15:07] jamesozzie commented on #463
The main problem with hosting Analytics locally is users having to configure and update the tracking code. Site Kit is primarily for users who want easy to understand and implement insights, which is why it uses an API connection implementation. I will mark it as an enhancement for the team to consider.

[2019-08-28 15:10] circlecube commented on #403
I was able to reproduce this issue with current develop branch. Only when I also installed the Elementor plugin though. It only occurs if you have both Elementor AND WP File Manager plugin installed and active along with Site Kit. The Site Kit dropdown in the menu still functions as expected, but at the top of the page I see the notice:
`Notice: Trying to get property 'base' of non-object in /wp-c

[2019-08-28 15:12] #93 closed

[2019-08-28 15:45] circlecube commented on #403
After testing the code from this ticket I no longer see the error, so this passes QA. (earlier comment was just that I had successfully reproduced the error notice)

[2019-08-28 16:27] aaemnnosttv opened #472 "Tag Manager setup: poor experience for users with account to set up with new account"
## Bug Description

Currently in the Tag Manager set up flow if you have access to any GTM account (and thus do not go through the flow for users with no account) the account selection screen offers a poor experience for users who wish to create a new account to use.
* No link is provided to go to Tag Manager to create a new account (as there is if you have no accounts) and the "Need Help?" link o

[2019-08-29 00:06] tofumatt commented on #447
Because these strings deal with numbers of different sizes I don't think we should have a single translation string as part of the acceptance criteria. If the `day` number was `1` we would likely want a different string entirely (eg. `__( 'Since yesterday', 'google-site-kit' )` or maybe `__( 'In the past day', 'google-site-kit' )`), so we likely want to use `wp.i18n._n()` here instead of a single

[2019-08-29 03:56] limitlessv commented on #415
Sorry took me a while.
We just finished to set up an entirely new customer
New Domain:
New mails
New Wordpress with the following plugin:
All In One SEO Pack
Post SMTP
Really Simple SSL
Redirection
Site Kit by Google
Wordfence Security
Media Library Folders for WordPress

Register new accounts for google services:
Search Console is connected
AdSense is connected
Analytics is connected
PageSpeed In

[2019-08-29 08:22] #423 closed

[2019-08-29 08:23] felixarntz commented on #83
Reopening due to minor regression caused by #471, to be fixed by #473

[2019-08-29 08:24] #114 closed

[2019-08-29 08:25] #403 closed

[2019-08-29 08:33] felixarntz commented on #460
@aaemnnosttv Sorry, I think there's still a minor inaccuracy, see

In other words, we shouldn't pass the `header` prop or any related prop any longer.

Other than that, IB ✅

[2019-08-29 08:34] felixarntz commented on #448
IB ✅

[2019-08-29 08:36] aaemnnosttv commented on #460
Thanks @felixarntz, I've updated the IB to mention those as well. Were there any other related props you were referring to that should also be removed?

[2019-08-29 08:51] felixarntz commented on #435
In order to decouple from other work in the AMP plugin, let's rely on the new `amp_print_analytics` action introduced by https://github.com/ampproject/amp-wp/pull/3106. In addition, we should provide backward-compatibility for when that hook doesn't exist yet (e.g. current versions of the AMP plugin).

[2019-08-29 09:34] #83 closed

[2019-08-29 11:01] jamesozzie commented on #415
@limitlessv Thanks for the update. Secure redirection could be configured at host level, .htaccess, plugin or WordPress settings level. Can you test with "Really Simple SSL" deactivated, and start the Site Kit setup process again after disconnecting?

[2019-08-29 11:02] aaemnnosttv opened #475 "Refactor tag implementations with polymorphism"
## Feature Description

Currently there is a fair amount of code that deals with different forms of tags and their implementations (ie. standard web / amp). This leads to many conditionals and cognitive overhead when working with modules that leverage tags, as well as difficulty testing.

This could be simplified by introducing a Tag interface with dedicated implementations for each case, which wo

[2019-08-29 12:04] #445 closed

[2019-08-29 12:17] limitlessv commented on #415
---------------------------------------------------------------------------

We deactivate all plugin except mail.
We remove all setting in .htaccess just in case.
We used the "Twenty Seventeen" theme no posts only the defaults.
And after all of that  we can't get back to site kit:
Unknown Error (code: redirect_uri_mismatch).
------------------------------------------------------------------------

[2019-08-29 12:43] abhimhasagar opened #476 "Google Analytics Connection Loading"
## Bug Description
While Connecting to the google analytics, its asking for all permission then, after allow them, its showing loading sign, seems to permanent sign

## Screenshots

## Additional Context

 - PHP Version: 7.3
 - Plugin Version [e.g. 22] Google SItekit

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2019-08-29 12:49] jamesozzie commented on #476
@abhimhasagar There are similar issues reported in #386, with some suggested steps. If you want to look at that issue, or share your [Site Health information](https://i.imgur.com/Rtkmsba.png) here I can see if I spot anything.

[2019-08-29 12:54] felixarntz commented on #475
@aaemnnosttv I like that idea! Let's explore it. Two questions/comments:

1. What do you envision `Tag_Interface::register()` to do?
2. I think your suggestion can work without the `get_tag_context()` method. I don't necessarily think having it would be bad, but every module already has access to a proper `Context` instance which will expose `is_amp()`. I think this one method would be too verbose

[2019-08-29 13:05] abhimhasagar commented on #476
@jamesozzie  ok got it

[2019-08-29 13:06] #476 closed

[2019-08-29 13:23] torounit commented on #114
@marrrmarrr I have JPY AdSense account.

When I tested version 1.0.5 on my site, the error no longer occurred.

[2019-08-29 13:42] aaemnnosttv commented on #475
It seems that the various tags use different hooks for their output/behavior. The idea here is that all implementation details including the knowledge of which hook(s) the tag needs would live in the implementation class. Perhaps this could be different, by exposing methods for the hooks it needs, with their callbacks, but that would be more complicated I think.

There are other ways to do this, b

[2019-08-30 01:54] ikymbo opened #477 "Adsense is not working for me"
## Bug Description

After connecting my adsense account, when I try to visualize the information (the statistics) it loads for a moment, then the screen goes blank ...

**images:**

https://i.imgur.com/f8ioobe.png
https://i.imgur.com/jjkZ31H.png

## Additional Context

 - PHP Version: 7.2.21
 - OS: Windows
 - Browser chrome
 - Plugin Version 1.0.0-beta.1.0.5

---------------

_Do not alter or remo

[2019-08-30 08:17] aaemnnosttv commented on #435
IB ✅

[2019-08-30 08:29] jamesozzie commented on #477
@ikymbo Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png).

If the above fails to resolve your issue can you please share the following:
- Any [console

[2019-08-30 08:35] aaemnnosttv opened #478 "Plugin activation notice may be in violation of WP guidelines"
The notice displayed on activation is very big and looks a bit out of place in the context of a WP notice element.

![localhost_8080_wp-admin_plugins php](https://user-images.githubusercontent.com/1621608/63946580-03cd7f80-ca7e-11e9-97af-c76f45c0f916.png)

The banner takes up ~25% of the screen in this screenshot and the heading and button within are larger than the `<h1>` on the page.

On non Sit

[2019-08-30 09:02] felixarntz commented on #346
IB ✅

[2019-08-30 09:05] felixarntz commented on #398
IB ✅

[2019-08-30 09:19] felixarntz commented on #461
IB ✅

[2019-08-30 09:20] felixarntz commented on #465
IB ✅

[2019-08-30 10:09] aaemnnosttv commented on #447
+1 to what Matt said. I've used `_n()` in my poc linked above, although I used `Last 24 hours`.

Updated the IB but there is still more to cover.
* Affected components that use `DateRangeSelector` internally, such as `DashboardModuleHeader` or `PageHeader`
* How and where the current date range should be stored and how it is provided. In the future, I imagine this will live in one of the `core/` d

[2019-08-30 10:13] aaemnnosttv commented on #435
Code changes are fairly small to make but it may take a bit longer to QA.

[2019-08-30 11:04] iamshaharyar commented on #243
Hey @jamesozzie, on issue #339 they only mentioned how to reproduce that error and doesn't said anything about how to resolve this issue because I have tried almost everything but still have that blank page where there is no data.

[2019-08-30 11:15] felixarntz commented on #447
@aaemnnosttv IB looks great for a start! Some thoughts:

Can you clarify how you mean that? Wouldn't we pass the dateRange to all "widget components" as a prop, so they can pass it via `withData`? One goal here is to decouple the date range so that it can also be passed per component (potentially with different values).

I think we don't need to focus on any persistence between requests for now. P

[2019-08-30 11:16] jamesozzie commented on #243
@iamshaharyar If you can share the following we might be able to notice something:
- Your [Site Health info](https://i.imgur.com/Rtkmsba.png)
- Any [XHR response](https://i.imgur.com/jLBwBdH.png) on the non responsive dashboard

[2019-08-30 11:26] iamshaharyar commented on #243
@jamesozzie it doesn't look secure to share all my "Site Health info" here!

[2019-08-30 11:35] iamshaharyar commented on #243
Here are the required details @jamesozzie,

- [Site Health Info](https://user-images.githubusercontent.com/24247981/64017784-e9f67000-cb43-11e9-9bde-dff3d1f0447c.png)
- [XHR response](https://user-images.githubusercontent.com/24247981/64017869-1a3e0e80-cb44-11e9-81a6-d8f0a692b665.png)

[2019-08-30 13:22] lilybonney opened #479 "Sprint: 6 Release"
Prepare and publish new release 1.0.0-beta.1.0.6 (September 12th).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-08-30 13:44] jamesozzie commented on #243
@iamshaharyar Thanks for the update, very useful. Can you also share the header information from your XHR response, on the top 2 resources?

[2019-08-30 13:48] iamshaharyar commented on #243
@jamesozzie you're always welcome! Is that the [header information](https://user-images.githubusercontent.com/24247981/64025683-ace7a900-cb56-11e9-8ca1-481266b2a582.png) we are looking for?

[2019-08-30 14:07] jamesozzie commented on #243
@iamshaharyar Thats it, thanks for that. We'll investigate from our side and escalate if required or revert back.

[2019-08-30 14:17] aaemnnosttv commented on #243
The `rest_missing_callback_param` error you're getting is from WP core because the parameter is either missing or `null`. It appears that the parameter is there as it is the first item in the query string. It could be that something is breaking the JSON which is preventing it from being parsed, which also results in a `null` value.

Would you please copy the request headers like so and paste here?

[2019-08-30 14:27] iamshaharyar commented on #243
@aaemnnosttv sure I can do that but I am not getting any option of "Copy request headers" on my side. These are the only [options](https://user-images.githubusercontent.com/24247981/64028430-174f1800-cb5c-11e9-81f5-99f0aaaf83c6.png) I am getting.

[2019-08-30 14:39] aaemnnosttv commented on #243
In that case, please choose this option and share the resulting file:

![image](https://user-images.githubusercontent.com/1621608/64029323-02b75380-cb4d-11e9-958f-0b8ec2858b6c.png)

[2019-08-30 14:41] aaemnnosttv commented on #447
This utility should probably just go away then since there would no longer be a global value to reference. I was thinking this would use the same top-level value for the page, but it's probably unnecessary now.

My concern here would be that without persistence, the range would be reset on every page load, which would be confusing. I think it's probably fine for it to live in the `...App` componen

[2019-08-30 14:43] iamshaharyar commented on #243
@aaemnnosttv here is the [HAR](https://www.dropbox.com/s/9smuth0r5m0iw9h/www.wpglue.com.har?dl=0) file.

[2019-08-30 15:04] aaemnnosttv commented on #243
@iamshaharyar please email me at evan.mattson at 10up.com for more information.

[2019-08-30 15:50] bengreeley opened #480 "Most Popular Content Overlaps on Site Kit Dashboard"
## Bug Description

On certain breakpoints the content in the 'most popular content' section of the Site Kit dashboard overlaps and breaks out of the box (see screenshot). This happens when the screen width is anywhere between 1280px - 600px wide and the content within the box is long enough to not break.

## Steps to reproduce

1. Go to `/wp-admin/admin.php?page=googlesitekit-dashboard`
2. Scroll

[2019-08-30 16:31] jamesozzie commented on #185
@mikjits I will close this issue due to lack of response. Feel free to reopen if you are encountering the same issue. Include additional information such as your site health information, console errors and XHR responses.

[2019-08-30 16:31] #185 closed

[2019-08-30 16:33] jamesozzie commented on #374
@ahiadh I will close this issue due to lack of response. Feel free to reopen if you are encountering the same issue. Include additional information such as your site health information, console errors and XHR responses.

[2019-08-30 16:33] #374 closed

[2019-08-30 16:34] #386 closed

[2019-08-30 16:34] jamesozzie commented on #394
@sannjayy I will close this issue due to lack of response. Feel free to reopen if you are encountering the same issue. Include additional information such as your site health information, console errors and XHR responses.

[2019-08-30 16:34] #394 closed

[2019-08-30 19:26] peacockesq commented on #396
I have the same issue as grzegorz - I'll try removing the analytics code from the site to see if it helps. If so, that'll at least give you another data point. :-)

[2019-08-31 02:22] andydesigns commented on #12
I'm also still experiencing this issue with version 1.0.5

I tried your suggestions above but it hasn't helped. There is only one console error:

'Deprecation warning: use moment.updateLocale(localeName, config) to change an existing locale. moment.defineLocale(localeName, config) should only be used for creating a new locale See http://momentjs.com/guides/#/warnings/define-locale/ for more info.'

[2019-08-31 12:18] WebFactoryLtd opened #481 "Bounce rate statistics: Modify "up" arrow colour when positive (from red to green)"
## Bug Description

The change in bounce rate percentage is calculated correctly, but the arrow beside it, that should indicate a good or bad movement, is inverted.

## Steps to reproduce

Open Analytics in Site Kit.

## Screenshots

![image](https://user-images.githubusercontent.com/1980388/64063826-eae9d900-cbf9-11e9-8503-1500681ccd89.png)

## Additional Context

I've double-checked the numbers

[2019-08-31 14:15] lucymtc commented on #177
Implementation brief updated

[2019-09-01 04:32] Idealcamper1 opened #482 "Google sitekit Does not showing any data"
I added google site kit but it does not show any data. All the fill are blank.

[2019-09-02 06:16] imalisiddique opened #483 "Analytics data is not yet available"
http://tinyurl.com/y6sp9dos
All settings are connected-
http://tinyurl.com/y272c4y9

[2019-09-02 08:28] jamesozzie commented on #483
@imalisiddique We will require some more information from your side. Can you please inform me of the following:
- When did you setup the Analytics account for this site?
- Do you see the tracking code if the source code of your website (it should start with a UA-)?
- Do you see any [console errors](https://i.imgur.com/KyLAzgH.png?
- Your WordPress [Site Health information](https://i.imgur.com/Rtkm

[2019-09-02 08:34] jamesozzie commented on #482
@Idealcamper1 Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png).

If the above fails to resolve your issue can you please share the following:
- Any [co

[2019-09-02 09:02] imalisiddique commented on #483
@jamesozzie
1. June 2019
2. UA-25658622-5
3. No error in console
4. Site health info: https://pastebin.com/eMKmsrgf

[2019-09-02 09:13] felixarntz commented on #177
I think this should be implemented as a trait with a protected method, as it's quite specific. We don't need an own class or public function for that.

[2019-09-02 09:27] aaemnnosttv commented on #450
@felixarntz for functions like `isDataZeroForTrafficSources`, should this be renamed/repurposed for Report?

[2019-09-02 11:11] felixarntz commented on #450
@aaemnnosttv

Note that there is also already a `isDataZeroForReporting()` which seems to do almost exactly the same, except that is more comprehensive (for whatever reason `isDataZeroForTrafficSources()` only looks at the first three array entries.

Preferably the two would be consolidated to `isDataZeroForReporting()`, combining the best of both functions (the first one has parts where the code

[2019-09-02 11:14] aaemnnosttv commented on #470
What determines whether the site uses native AMP or not? Isn't this derived from server-side context? If so, then why would we pass from server to client and back?

[2019-09-02 11:47] terrafrost commented on #21
phpseclib author here. If this library isn't being used then it shouldn't be a dependency, I get it, BUT that doesn't change the fact that all but one of the "issues" identified by this static analysis tool are completely 110% bogus.

- if mbstring is installed and mbstring.func_overload is set such that functions like `strlen` / `substr` / etc would be overloaded phpseclib throws a "_Overloading

[2019-09-02 11:54] terrafrost commented on #21
I mean, seriously, phpseclib is unit tested up on Travis CI up to PHP 7.4snapshot. If these issues were legit the unit tests would be failing but they're not.

[2019-09-02 14:25] tofumatt commented on #447
Reading the IB here, my thought is that this is a good opportunity to start moving data into `wp.data` rather than into React's Context API.

Since the plan going forward is to move to using state management, architecting the date range selector to use `wp.data` would be more idiomatic of the direction we want to move the codebase in. The issue is that it's more work than adding a bit of React Con

[2019-09-02 15:07] aaemnnosttv commented on #447
Just following up here that the selected date range value does not persist between page loads, and comes up as "Last 28 days" every time.

I thought about this and agree that this particular format is not ideal in that it requires parsing. I like the idea of an offset in that the storage format would be consistent and more future-proof to allow for any date/time range. This would require some kind

[2019-09-02 15:16] felixarntz commented on #447
I think an offset alone unfortunately doesn't match some requirements here. It'd work fine for now, but a good approach for potential future requirements would be looking at the AdSense code that supports a lot more specific date ranges, some of which might also make sense to make available globally at some point. For example, sometimes AdSense is not looking for just the last x seconds, but somet

[2019-09-02 15:37] aaemnnosttv commented on #449
Updating size to account for VRT data regeneration which will be necessary.

[2019-09-02 16:08] tofumatt commented on #447
Having chatted about this versus `wp.data`, in the interests of time we can use context for now and tackle moving to global state later. I updated the IB to favour using React Hooks to consume the context data instead of the HOC.

I still think the AC needs to be updated to include the `_n()` approach but I didn't think I should modify it. 😅

[2019-09-02 16:43] jamesozzie commented on #415
@limitlessv Thanks for checking. Now that you have removed redirection can you also attempt to connect Site Kit again after deactivating the following plugins
- Really Simple SSL
- Redirection

[2019-09-02 17:08] #240 closed

[2019-09-02 17:13] #396 closed

[2019-09-02 17:14] #439 closed

[2019-09-02 17:33] aaemnnosttv commented on #453
@felixarntz this one is just about ready for review, I'm not quite sure how we can consolidate a few of the more complex date range datapoints (e.g. `earning-this-month-last-year`). How did you see it working in that case?

[2019-09-02 17:36] jamesozzie commented on #483
@imalisiddique Can you try the below, there could be another plugin, Ad Blocker or Firewall/security feature causing this error.

- Remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
- Temporarily deactivate your other active WordPress plugins (You can also try deactivating one by one, starting with "Advanced

[2019-09-02 18:38] limitlessv commented on #415
Not sure what you asking for:
as you can see all plugins disabled (inactive) except two:
Post SMTP - for emailing
Google Site Kit

[2019-09-02 20:51] tofumatt commented on #361
I've added an implementation brief above for the current AC, though I wonder why the UX flow here requires a user wanting to setup a new tag only to be warned an existing one matches their site... shouldn't we _always_ pre-select a matching tag for the site if one exists? I'm not sure why we should confuse the user and force them to select wrong before we select the right option for them.

[2019-09-02 22:14] tofumatt commented on #427
The action item for this issue that specifies "messages should be moved to `AdSenseSetupInstructions`" concerns me a bit; that's already a reasonably large component, and moving a lot of the extra props it expects to receive into this component is going to make it pretty intense and hard to manage.

This seems another good candidate for moving things into a data store rather than just to a differe

[2019-09-02 22:46] tofumatt commented on #167
Moving this to "Revisit Later" as it's currently blocked by #312; since we'll want to revise the IB after #312 is completed, we should hold off on this IB so we don't write it 1.5 times 😉

[2019-09-02 23:58] tofumatt commented on #312
Rather than using `0` as effectively a `null` value for the `$post_id` argument, I think it's better to allow/expect that variable to be either `null` or `int`—I understand that a `$post_id` of `0` shouldn't happen and we could use that as a placeholder for "no post ID", but I think `null` communicates that intent clearly whereas an "invalid" post ID doesn't. I've specified that the function signa

[2019-09-03 05:28] imalisiddique commented on #483
Thank you

[2019-09-03 05:28] #483 closed

[2019-09-03 07:55] tottaz opened #485 "Site Kit show blank page after javascript error"
## Bug Description

I have installed Site Kit, when I try configure I just get a blank page. I had this previously working, with the current theme I have. Since the problem occurred, I have uninstalled Site Kit and installed and activated again. Same error as show below.

Uncaught TypeError: Cannot read property 'call' of undefined
    at l (googlesitekit-dashboard-splash.js:1)
    at Object.<anon

[2019-09-03 08:42] felixarntz commented on #447
IB looks great ✅

@tofumatt Do you think it makes sense to work on #465 before to simplify the work needed on this one?

[2019-09-03 08:43] felixarntz commented on #451
IB ✅

[2019-09-03 08:45] felixarntz commented on #452
IB ✅

[2019-09-03 08:45] felixarntz commented on #454
IB ✅

[2019-09-03 10:16] felixarntz commented on #312
IB looks great ✅

@tofumatt I'm still leaning more towards a unified data type. `0` is falsy too, and it is common to return that for an integer ID value in WP if no entity was found. Another alternative might be to pass the entire `WP_Post` object or `null`, since for objects `null` is a more common return type to indicate none was found.

That is an implementation detail though, so I think we ca

[2019-09-03 10:31] felixarntz commented on #427
@tofumatt

Just a minor clarification, the `issue` variable should contain user-facing strings, however these would come directly from AdSense APIs. So you might wanna clarify this to "not set WP translation strings".

That's a fair point, however all these messages depend on the `accountStatus` / `issue` props passed. I agree this is not optimal, but the AdSense process is in itself fairly comple

[2019-09-03 10:33] felixarntz commented on #427
Btw the rest of the IB that you already wrote looks good (except for the detail about the strings being set, which I mentioned at the top of the above comment).

[2019-09-03 10:38] felixarntz commented on #361
@tofumatt

In principle yes, however we haven't implemented any matching for Tag Manager containers yet, which is something we're looking into (for example, related is #433). Let's focus in this issue to just help the user in the case of that specific error.

Note that this should not appear _instead_ of the existing message. It should still be indicated to the user that the new container couldn't

[2019-09-03 12:37] andydesigns commented on #12
Any help would be appreciated.

[2019-09-03 12:58] andydesigns opened #487 ""Issue accessing data" notice appear when Analytics is added"
## Bug Description

After successfully connecting an Analytics account an "Issue accessing data" error notice appears. Also, the data it's pulling in seems to be from someone elses account as the top content section there is a list of posts that are not mine.

I tried doing the following but it hasn't helped:
1.Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect An

[2019-09-03 14:58] aaemnnosttv commented on #454
@adamsilverstein would you please regenerate the data for this one?

[2019-09-03 15:40] aaemnnosttv commented on #452
Assigning to @adamsilverstein to update the datacache, otherwise this should be ready for review.

[2019-09-03 15:41] tofumatt commented on #464
I think this one was pretty straightforward; it looks like the same logic we use to output `getNoDataComponent( __( 'Analytics', 'google-site-kit' ), true, true, true )` should be used to output the dashboard components.

[2019-09-03 16:24] tofumatt commented on #447
Yes, this should be considered blocked by #465. Taking care of that first means fewer things here to change. It's not _technically_ blocking, but that makes sense to me 👍🏻

[2019-09-03 16:30] tofumatt commented on #361
I found the existing error message to be confusing, which is maybe why I wanted to hide it in this case. It says the container already belongs to an account (with only a numerical ID), which at first made me think the property belonged to another account. It was only by comparing that ID with my own Google account's Tag Manager ID that I noticed they matched. I suppose it's out-of-scope to change

[2019-09-03 16:52] aaemnnosttv commented on #470
This is blocked by changes in progress to these datapoints in #452.

[2019-09-03 16:57] cre8tivediva commented on #215
I have a client experiencing this issue. She just reported it. It looks normal when I sign it, but for her it doesn't. Could this be because I am connected as a "user" and connected the plugin? Should we disconnect and have the "owner" connected to the plugin?

[2019-09-03 17:04] tofumatt commented on #312
Right now this one strikes me as a small-sized task, but it should be noted that I'm less a WP PHP developer than a JS one these days. Still, I think that's the right-ish size. 😅

[2019-09-03 17:21] felixarntz commented on #453
@aaemnnosttv That ties in a little bit with our discussion on #447 earlier.

For this specific case, let's just support additional values for `dateRange` in this new `earnings` datapoint. The handler for that datapoint can include a `switch` that transforms these values into the proper start and end date. The `default` clause could then call the regular `parse_date_range()` method.

We can partly

[2019-09-03 17:24] felixarntz commented on #470
@aaemnnosttv

It comes from server-side indeed (`get_amp_mode()` from #432, the `primary` value), but the API should be decoupled from that. There will be #413 some time soon, and for that we'll need multiple GTM containers with different usage contexts. So this needs to be passed from the client.

[2019-09-03 17:25] felixarntz commented on #427
IB ✅

[2019-09-03 17:25] tofumatt commented on #447
I still think there's a fair bit of re-architecting here, so even after #465 is closed this will still be a medium-sized issue.

[2019-09-03 17:27] felixarntz commented on #464
IB ✅

[2019-09-03 17:30] felixarntz commented on #361
@tofumatt

Ah, that makes sense. Potentially, we could say "A container named '$SITE_URL' already exists in your selected account. We've preselected that existing container for you." Thoughts? cc @marrrmarrr

[2019-09-03 17:55] tofumatt commented on #464
My estimate for this one is that it's small, the only hiccup might be actually _getting_ to the state you posted; I don't know what the clear steps-to-reproduce are for this issue's state.

We can mock the data in development/follow the codepath I recommended in the IB, but aside from STR this one seems straightforward.

[2019-09-03 19:50] iamshaharyar commented on #243
@jamesozzie @aaemnnosttv Did we found what's wrong?

[2019-09-04 07:04] aaemnnosttv commented on #243
Hi @iamshaharyar I didn't find anything yet, thanks for following up. The request sent appears to be correct, it seems as if something is interfering with it before it reaches your server perhaps. Do you use any kind of web application firewall (e.g. Cloudflare or Sucuri)?

[2019-09-04 07:25] aaemnnosttv commented on #427
Not yet written unfortunately, but I agree it would be safer to refactor with test coverage in place. Most of these are currently parked in [Revisit Later](https://github.com/google/site-kit-wp/projects/2#column-5876835).

[2019-09-04 08:30] aaemnnosttv commented on #448
@felixarntz in the case that the site was not already verified, it's inserting META verifications for each permuted version of the site URL. Should it not then return the site object from the successful insert request? It seems that it currently returns the site object for `siteURL` but the actual URL the verification was added for could have been different. Does this matter?

[2019-09-04 14:16] tofumatt commented on #465
It's possible that #406 caused a regression with the datepickers as they are no longer working as expected:

![2019-09-03 19 13 43](https://user-images.githubusercontent.com/90871/64263022-ff311d00-cefc-11e9-8b96-84ddb172c797.gif)

So this is blocked until the datepicker works as expected.

[2019-09-04 14:21] felixarntz commented on #465
@tofumatt Will investigate that too.

[2019-09-04 14:24] felixarntz commented on #448
@aaemnnosttv Makes sense. It currently only errors if all insertion requests failed. We should probably only use `siteURL` if it actually among the requests that passed, and otherwise fall back to another one like you suggested.

[2019-09-04 14:27] felixarntz commented on #464
@tofumatt It should be fairly easy to recreate. If you create a new post, it shouldn't have any Analytics or Search Console data, thus end up in this screen full of blue CTAs (which looks weird, something we need to revisit as a whole in the future).

[2019-09-04 15:20] aaemnnosttv commented on #448
@felixarntz I assume that any changes to this part should happen in a separate issue?

[2019-09-04 15:56] aaemnnosttv commented on #358
Moving this back to blocked temporarily until #417 is no longer blocking.

[2019-09-04 15:58] aaemnnosttv commented on #417
@felixarntz this one is blocking #358 so please move that one out of blocked as soon as this one is no longer blocking.

[2019-09-04 18:52] marrrmarrr commented on #361
SG to make it clear this is their account --> "exists in your selected account".

[2019-09-04 19:01] Prospection opened #496 "2 WP plugins using Guzzle --> PHP Fatal error"
As appeared we have 2 plugins using Guzzle, and both have different vendor folder, and likely different versions.

So I started to get this error:
## Bug Description
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to GuzzleHttp\Client::send() must implement interface GuzzleHttp\Message\RequestInterface, instance of GuzzleHttp\Psr7\Request given, called in /www/htdocs/***/wp-content/plugins

[2019-09-04 19:13] iamshaharyar commented on #243
@aaemnnosttv oh, I am actually using Cloudflare services. Do I need to make any modifications there?

[2019-09-04 20:51] tofumatt commented on #447
This is blocked by #465, so please move this out of blocked once that issue is resolved.

[2019-09-04 22:06] tofumatt commented on #435
For clarity: the AMP plugin in question is https://wordpress.org/plugins/amp/

Right now the production version is 1.2.x, so to QA this you'll need to install the production version to test the pre-1.3 codepath.

I went to install 1.3 but the version in the `develop` branch at https://github.com/ampproject/amp-wp is labelled `1.2.3-alpha`. I _assume_ this is the latest version and the one to test

[2019-09-04 22:18] westonruter commented on #435
That's right. The `develop` branch currently says `1.2.3-alpha` but in reality it is `1.3-alpha`. I just pushed up the version bump onto the `develop` branch to fix this: https://github.com/ampproject/amp-wp/commit/217d5929b15bd48e2eaac431d94b03c198ca5466.

[2019-09-05 07:23] aaemnnosttv commented on #243
@iamshaharyar I'm not sure but it would be worth disabling anything other than DNS there temporarily to rule that out as a problem. I'm specifically thinking about the WAF they offer but it's probably easier to click the orange cloud for your domain to put it into dns-only mode for testing.

[2019-09-05 07:40] aaemnnosttv opened #499 "Post Search returns wrong URL for found post if reference URL is filtered"
## Bug Description

If an alternate reference URL is used in place of the home URL, when loading the dashboard details using the post search feature from the Site Kit dashboard, the page link that stats are fetched for does not use the reference URL. As a result, the dashboard details view will attempt to show data/stats for the local version of the URL, not the reference URL.

This is inconsisten

[2019-09-05 07:56] felixarntz commented on #499
@aaemnnosttv Did you check whether the data shows correctly on the `dashboard-details` screen when using a live URL (which thus is not part of the actual site you're on)? We'd wanna make sure it doesn't use any internal data (like post ID) for that screen anywhere.

Regarding the implementation brief, we could probably simplify the code just calling `$post->permalink = $this->context->get_referenc

[2019-09-05 08:02] felixarntz commented on #453
@aaemnnosttv IB looks solid, just one feedback item:

It doesn't need to be required, it can use a default of `last-28-days` just like all other `dateRange`-using datapoints do. Currently `last-28-days` isn't even used for that datapoint I believe, but it makes sense to support it for consistency (plus we should make sure we don't only support our very own use-case anyway 🙂).

[2019-09-05 08:05] felixarntz commented on #361
@tofumatt Can you please update the wording in the IB to match the above? Once that's changed, you can consider the IB approved 🙂

[2019-09-05 08:45] felixarntz commented on #448
@aaemnnosttv Sounds reasonable. Would you mind creating one?

[2019-09-05 09:06] felixarntz opened #500 "Finalize datapoint refactoring"
All datapoint refactoring PRs that would require regenerating storybook data should not be merged into `develop`, but into an intermediate branch `datapoint-refactoring`. They will have their visual regression tests temporarily broken.

The following issues / pull-requests should be merged into a `datapoint-refactoring` branch:

* #454 / #488
* #449 / #502
* #450 / #510
* #453 / #513, #518

This i

[2019-09-05 09:07] felixarntz commented on #454
@adamsilverstein Let's do this just once for all these datapoint refactoring changes. See #500.

[2019-09-05 11:42] aaemnnosttv commented on #453
Updated the `dateRange` to indicate it is no longer required and should have a default value.

[2019-09-05 11:47] aaemnnosttv commented on #499
I believe I did but I can check again. I'm not exactly sure what you mean about the internal data though.

Good call! I'll update it.

[2019-09-05 12:22] felixarntz commented on #454
This will be blocked until #500 is done. Once unblocked, move back to QA column.

[2019-09-05 12:23] felixarntz commented on #465
@tofumatt #501 fixed the issue, so this one can proceed.

[2019-09-05 14:16] swissspidy commented on #496
Hi there,

Thanks for posting this.

It looks like we're tracking this issue already in #223 (Guzzle specific) and #246 (similar conflict with other library). Please follow these two issues for progress on this matter.

[2019-09-05 14:16] #496 closed

[2019-09-05 14:18] swissspidy commented on #478
Personally I don't interpret the admin hijacking guideline this way, but we can sync with the plugin review team to make sure.

[2019-09-05 14:19] swissspidy commented on #485
Hi there

Thanks for your report! Which version of WordPress are you using and which other plugins are active? Mind sharing your Site Health info with the details about that?

[2019-09-05 14:21] swissspidy commented on #349
Closing as a duplicate of #223 where we're already tracking this. See also #246, #41.

[2019-09-05 14:21] #349 closed

[2019-09-05 14:29] tofumatt commented on #361
I just realised that error comes back from the API and is likely translated, so I first need to verify there's an available error code to create the "exists in your selected account" message for extra context.

If not this string would need to be updated on the server (which would actually be better, but I don't know where to file that and suspect it's a broader API issue 😅).

[2019-09-05 14:45] tofumatt commented on #361
Actually, I don't think we should update the IB to handle that error; checking the HTTP response it's not very specific about the error, so I don't think we can safely change/add to this message without introducing false positives:

<img width="699" alt="Screenshot 2019-09-05 15 42 59" src="https://user-images.githubusercontent.com/90871/64352536-21599680-cff4-11e9-90bc-297d46f69ded.png">

[2019-09-05 16:01] iamshaharyar commented on #243
@aaemnnosttv I temporarily paused all cloudflare services except DNS and then reset all Site Kit configurations and created a new project again but still nothing get resolved and its exactly like before!

[2019-09-06 10:38] felixarntz commented on #361
@tofumatt So there's no error code at all returned by the API here, or any other piece of data we might get from that it's _that_ error?

[2019-09-06 14:28] adamsilverstein commented on #168
I tested this out locally and everything looks good. I no longer see the performance monitoring logged to the console, and there are no errors or warnings in the console or PHP logs.

Moving to approval.

[2019-09-06 18:19] adamsilverstein commented on #406
I did some testing on this looks really good! In particular the caching behaviour is as expected and pages loaded correctly, date selectors worked no errors anywhere.

* Initial load on Dashboard resulted in two batch requests (one is a low priority request for page speed insights) as expected
* secondary loads came from cache (no rest request)
* verified cache keys consistent.
* module pages load

[2019-09-06 19:27] aaemnnosttv commented on #406
I believe it was implemented as `invalidateCacheGroup()` instead
https://github.com/google/site-kit-wp/blob/5ee8d08e0775f5411caeedf126646c4bc923c114/assets/js/components/data.js#L353-L360

I'm not sure why the name change, I think `deleteCacheGroup` may actually be more fitting in this case since the current implementation actually deletes the existing values. To me, invalidating is leaving the va

[2019-09-06 19:55] adamsilverstein commented on #405
Generally this works better than before, however I still some room for improvement. @felixarntz  can you please review and let me know what deserves follow up issues.

I tested this using the following steps:

* create a new site on poopy.life (http://poopy.life/create) - i got `http://ill-cobra.w5.poopy.life`
* install build from develop
* Setup Site Kit
* Set up Analytics
* Choose "Set Up New Pr

[2019-09-06 19:57] adamsilverstein commented on #405
Moved to approval as the reported issue is resolved. Assigning to @felixarntz for review of possible follow up issues.

[2019-09-06 22:25] adamsilverstein commented on #406
Aha, thanks for clarifying - that seems fine.

I did notice one other regression in develop related to https://github.com/google/site-kit-wp/pull/486

I am unable to complete AdSense setup, the setup flow hangs here:

![image](https://user-images.githubusercontent.com/2676022/64463626-e756c600-d0c1-11e9-9bbf-b34dbbb05498.png)

According to `git bisect` this problem starts after https://github.com/

[2019-09-07 13:03] vijayatechlabs commented on #487
I had the same issue now fixed.

Can you let me know what are seeing in

Site kit --> Settings --> Connected Services --> Analytics

is it? "**Analytics Code Snippet, Inserted by another plugin or theme**"

then that is because you're already embedded the Google analytics property code in the theme or plugin.

Kindly remove that from the theme or plugin.

Then try connecting again.

[2019-09-07 13:13] andydesigns commented on #487
Yes I have Google Tag Manager scripts in the header of my site. If I remove these will I not lose my Tags, Triggers and Filters?

[2019-09-07 13:51] vijayatechlabs commented on #487
For that, you can directly connect the Google tag manager service in the site kit itself.

I hope that helps.

[2019-09-07 13:53] andydesigns commented on #487
I just tried removing the Google Tag manager scripts, then re-connected Analytics with Site Kit and still get the same issue.

[2019-09-07 13:57] vijayatechlabs commented on #487
For me, the above steps resolved the issue.
As suggested in other threads, please clear
1. Cache in WP
2. Cache & Cookies in the browser (use private window)

and then try again the above steps.

Meanwhile, I try to simulate the issue.

[2019-09-07 14:06] vijayatechlabs commented on #487
Yes, I was able to simulate the issue and the above cache/cookies clearing steps worked out.

[2019-09-07 14:10] andydesigns commented on #487
Hmmm, its rather frustrating. I tried the above, cleared my Litespeed Server Cache, then opening Incognito browser and tried reconnecting Analytics. But still have the same issue, it still appears to be pulling in data from someone elses Analytics account, not sure how.

[2019-09-07 15:02] vijayatechlabs commented on #487
ok, did you check the connected email account, website property?
are they fine?

I would suggest you reset the Google site kit and WP dashboard and reconnect it.
Hope it helps.

[2019-09-07 15:29] andydesigns commented on #487
Yes connected email account and property is definitely mine.

Tried resetting site kit but no change. It appears it's pulling analytics data for this website: https://www.kissthegroom.com.au/

In the top content section, this is the url of one of the posts/pages: /about/investment-kiss-the-groom-lrp/

However, the search console data IS correct and showing data for my website.

[2019-09-07 16:05] vijayatechlabs commented on #487
Ok, then it is better to get help from Google support team.

All the best.

[2019-09-09 10:22] felixarntz commented on #449
This will be blocked until #500 is done. Once unblocked, move back to QA column.

[2019-09-09 10:49] felixarntz opened #506 "Do not cache setup/settings data that is time-critical"
## Bug Description

Site Kit currently caches pretty much all API responses, which generally is solid. However, there are scenarios where this causes issues, particularly in setup (of the entire plugin and of individual modules). For example, when the site verification check initially fails and later a tag has been inserted, the check might still fail because of a cached result (@marrrmarrr and ot

[2019-09-09 12:44] felixarntz commented on #406
Thanks for all the testing @adamsilverstein - can either you or @aaemnnosttv open a PR (you can associate it with #486) to fix the AdSense issue? Should be quick, just check `existingTag && existingTag.length` (or maybe we can even remove this since the non-found value is falsey now anyway?).

[2019-09-09 12:56] aaemnnosttv commented on #406
No problem! Will do, although I think checking the length shouldn’t be necessary as a zero length string is also falsey.

[2019-09-09 14:37] adamsilverstein commented on #451
This looks good in my testing.

To test I set up analytics then optimize. Viewing the API requests from optimize when I change settings on the settings screen, I see the correct 'settings' url:

![image](https://user-images.githubusercontent.com/2676022/64539894-8820cd80-d2dc-11e9-8f94-7cf3b33c20f1.png)

In addition, I verified that updating/changing the optimize ID on the settings screen works as

[2019-09-09 14:38] adamsilverstein commented on #406
I'll work on a PR to address the AdSense setup issue.

[2019-09-09 15:29] adamsilverstein commented on #406
https://github.com/google/site-kit-wp/pull/507 resolves the issue noted in my comment above https://github.com/google/site-kit-wp/issues/406#issuecomment-529034240

[2019-09-09 15:39] tofumatt commented on #448
Tested the sign-in flow locally and things still work as before on the happy path (eg with a site I own).

Tested the site verification page on a URL my account didn't have access to and got the right error message.

Seems good to me! 👍

[2019-09-09 16:03] tofumatt opened #508 ""Disconnect from Site Kit" errors despite sign out success"
## Bug Description

A user can sign out of Site Kit by selecting the "Disconnect" option in the top-right menu, but after confirming they want to sign out and the HTTP request to disconnect their account is sent, the UI is not updated (even after the request is successful). The page remains in the same state and it appears the user is still signed in until a full-page reload is completed. Afterwar

[2019-09-09 16:36] adamsilverstein commented on #406
@felixarntz This passes my QA now, once #507 is merged. Unless you see any outstanding issues, we can move this to "Approval" once that is merged.

[2019-09-09 17:37] tofumatt commented on #361
The error code (`"badRequest"`) matches the HTTP status code (400 Bad Request), which isn't really specific. That code could mean any error made by the client for that request—in this case we are making a bad request because #433 isn't implemented.

Info on the errors is here: https://developers.google.com/tag-manager/api/v1/errors, but there isn't a list of more specific error codes and their cau

[2019-09-09 18:29] adamsilverstein commented on #461
This works as expected in my testing, moving to "Approval".

### Testing Completed

To test, I set up on a site with data at the "/blog", visited that page, then used the wp-admin bar menu to reach the detail view for that page:

![image](https://user-images.githubusercontent.com/2676022/64555470-9ed61d00-d2fa-11e9-8125-374a9ad37249.png)

I confirmed that the detail page, I see the correct "Bounce

[2019-09-09 19:23] tofumatt opened #509 "Don't fail build when eslint errors in development"
## Feature Description

Currently the build is set to fail when `eslint` errors: https://github.com/google/site-kit-wp/blob/9dda58ba62183695a35016f8bfd1b0d9bec4c508/webpack.config.js#L150. This is a good idea for _production_ builds, but when in development this is quite inconvenient; it means the gold standard for debugging, `console.log`, will cause the build to error and stop working:

<img wid

[2019-09-09 21:37] adamsilverstein commented on #460
This looks good in my testing, moving to "Acceptance".

Confirmed the headers appear as specified, I also verified the date selector works as expected.

![image](https://user-images.githubusercontent.com/2676022/64568182-5a0caf00-d317-11e9-9cd6-95887e8f86de.png)

[2019-09-09 22:16] adamsilverstein commented on #435
@westonruter Thanks for your work here, this works well in my testing. Moving to "Approval".

### Testing Approach

* Set up site kit with Analytics and Tag Manager, configuring a container.
* Test in each amp mode:
  * on a post and on an amp story
  * with version 1.2.x and version 1.3.x of the amp plugin

In each case review the page source code (using a hard refresh) and verify the tagging app

[2019-09-09 22:54] adamsilverstein commented on #417
Works well in my testing; moving to "Acceptance".

### Testing Approach
* Manually add Analytics tag to local site header (edit theme->header).

I tested analytics setup with a user that didn't have access to the property of the tag present in the site theme, seeing this message:

![image](https://user-images.githubusercontent.com/2676022/64571465-2a62a480-d321-11e9-929e-a056b5a8a89b.png)

At this

[2019-09-10 07:36] felixarntz opened #511 "Support PageSpeed Insights transition to using OAuth"
Addressed by PR #607

---

The PageSpeed Insights API is moving away from using API keys, which comes in quite handy for us actually. This issue is about making the necessary changes ahead of time so we can switch as soon as we need to. Depending on when exactly the new version of the API goes live, we may need to do that in a "hot fix" release.

Here's the necessary changes:
* Request `openid` sc

[2019-09-10 12:29] felixarntz commented on #450
This will be blocked until #500 is done. Once unblocked, move back to QA column.

[2019-09-10 12:37] felixarntz opened #512 "Only use AMP client ID when using secondary AMP"
The Analytics and Optimize modules currently use a feature called AMP client ID. This is used for tracking AMP sessions on sites that also provide a non-AMP version. In other words, it is irrelevant for sites using native/standard AMP.

It should be ensured that nothing related to AMP client ID

---------------

_Do not alter or remove anything below. The following sections will be managed by mode

[2019-09-11 08:39] RealBenihime opened #515 "Google Analytics stopped recording data after SiteKit activation"
## Bug Description

I think the title explains what issue I'm facing. I've used Sitekit on 3 out of +40 of my websites.
And on all 3 sites, Google Analytics Dashboard shows that 0 page views after I started using Sitekit. And now I have to explain to the bosses why for the past 28 days the sites recorded 0 PageViews.

## Steps to reproduce

1. Install, Activate and Link Sitekit plugin to G Analyti

[2019-09-11 09:40] marrrmarrr commented on #272
These tests conditions are accurate for the current flow in the plugin.

[2019-09-11 09:53] marrrmarrr commented on #347
These conditions as described match the current plugin flows. (may need to revisit later if the flows are adjusted)

[2019-09-11 10:01] marrrmarrr commented on #269
These conditions match the current user flows; let's revisit if we change the flows.

[2019-09-11 10:06] wpfella opened #517 "Errors when getting OAuth credentials"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

![Screen Shot 2019-09-11 at 8 06 15 pm](https://user-images.githubusercontent.com/52855737/64688410-a569bd80-d4cf-11e9-820b-5f9c05406bdc.png)

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Devi

[2019-09-11 13:30] marrrmarrr commented on #273
Agree that editing functionality or changing the status of a specific service is more relevant to the user flows for that service.
What we can focus on in this issue is the various reset and disconnect functions (added in the AC section).

[2019-09-11 13:54] marrrmarrr commented on #273
Re-scoped this to be only for the Reset functionality, since Disconnect is covered in #252

[2019-09-11 15:45] felixarntz commented on #253
@ThierryA @tofumatt @aaemnnosttv Do we even need e2e tests for something like this? There's no user interaction tested here, this should be covered by visual regression testing, shouldn't it?

[2019-09-11 16:09] aaemnnosttv commented on #253
It could be tested, e.g. making sure that it's only visible to users with the proper role/cap, but this can probably be done more efficiently in PHPUnit. Testing things like the anchors linking to the right places would probably be better suited for Jest.

I'm not sure the value/confidence this e2e test would offer would be worth the cost; at least as it is now. Perhaps revisit later?

[2019-09-11 16:16] aaemnnosttv commented on #273
We already have a test for Reset in #275 😄

[2019-09-11 16:19] tofumatt commented on #253
Agreed; this doesn't really have any user interaction and is better-serviced by lighter-weight tests. We can do this with Jest assuming we have a "setup" Jest helper we're confident in (which we should).

I don't think this should be an E2E test—instead of revisiting later we should probably consider this a unit/integration test, not E2E. A label change should suffice, right?

[2019-09-11 16:42] tofumatt commented on #427
As mentioned: it would be safer to refactor this after E2E tests are implemented, but even without writing them as part of this PR (before changes are made), this looks to be a considerable/meticulous refactor.

Right now the approach `getAdSenseAccountStatus()` takes is to return the kitchen sink, so pairing it down will likely require refactoring and a lot of testing.

Because this involves AdSe

[2019-09-11 20:00] iuravic commented on #323
### XHR entries with errors

- URL: `https://clientauthconfig.clients6.google.com/v1/brands/517129881716?key=AIzaSyD-nhJADgF50b3VFd0BVfOPZqrEpuJQHxQ&%24unique=gc783`
- error:
[code]

- url: `https://clientauthconfig.clients6.google.com/v1/brands?alt=json&key=AIzaSyD-nhJADgF50b3VFd0BVfOPZqrEpuJQHxQ`
- error:
[code]

### Following the steps above

My test site is `https://ivan.newspack-dev.com`.
And

[2019-09-12 03:22] webspacesau opened #519 ""Analytics Gathering Data""
## Bug Description

I have installed and been running Site Kit for over a week and it still says Gathering Data

## Steps to reproduce

I have attempted to reinstall/reset Site Kit and same issue

## Screenshots

![image](https://user-images.githubusercontent.com/32596056/64751611-08a33080-d560-11e9-91ee-414c9cc5f626.png)

## Additional Context

 - PHP Version: 7.3
 - OS: Ubuntu 18.04
 - Browser:

[2019-09-12 06:47] aaemnnosttv opened #520 "Fix ESLint warnings"
## Bug Description

Currently the build emits many eslint warnings, mostly related to missing JSDoc elements.

This was introduced by the update to the configuration in #217. While these warnings do not fail the build, they indicate areas which require attention and should be fixed.

## Steps to reproduce

1. Run `npm install`
1. Run `npm run lint:js`

## Screenshots

![image](https://user-images.

[2019-09-12 07:00] aaemnnosttv commented on #517
Please keep the issue template in tact as we use this throughout the lifecycle of the issue.

I've restored the template for you. Can you please elaborate on how to reproduce this as well as provide the additional context?

[2019-09-12 07:45] felixarntz commented on #447
Moving this back into "To Do" because it's unblocked, but removing this milestone as it's too late for that. Let's keep it in the sprint though.

[2019-09-12 07:57] felixarntz commented on #520
@aaemnnosttv Are you talking about fixing the respective code (mostly docs), or do you mean the warnings should be suppressed?

[2019-09-12 08:07] aaemnnosttv opened #521 "Admin bar stats missing in wp-admin"
## Bug Description

Stats are currently not displayed on the post edit screen of a post/page which has data. Stats currently display properly on the front end.

## Steps to reproduce

1. Set up site kit to use a site with Search console and Analytics data.
2. On the front end navigate to a post on the front end which has post specific data. eg. in the test screenshots below, the browser is at **go

[2019-09-12 08:53] felixarntz opened #522 "Analytics: Property and View dropdowns show "Setup ..." option multiple times"
## Bug Description

When editing Analytics settings, I see the "Setup a new property" and "Setup a new profile" options multiple times in the respective dropdowns.

![Screenshot 2019-09-12 at 10 36 00](https://user-images.githubusercontent.com/3531426/64769098-fa96e500-d54a-11e9-8bb1-f7ccbfc054c5.png)

![Screenshot 2019-09-12 at 10 36 08](https://user-images.githubusercontent.com/3531426/64769107-

[2019-09-12 15:00] aaemnnosttv opened #524 "Scaffold foundation for JS unit tests with Jest"
Introduced as part of the infrastructure for E2E tests in #157, Jest has been chosen as the test framework to use for JS unit tests going forward.

Work has already started to migrate the current QUnit tests to Jest in #437.

This is a foundational precursor to more substantial feature development and refactoring in the near future.

---------------

_Do not alter or remove anything below. The fol

[2019-09-12 21:47] tofumatt opened #527 "Improve assigned-to fields for Project Board Automation"
## Feature Description

Currently moving an item from "IB/Estimate" to "IB Review", "In Progress" to "Code Review", and "Code Review" to "QA" all result in (reasonably) predictable changes to the "assigned to" field in GitHub; for the first and second options the assignment is almost always @felixarntz, and for the last option the assignment is cleared.

Rather than depend on users to manually do

[2019-09-13 07:51] johnnyscience opened #528 "Every time I try to finalize auth & login, it reboots to home page instead of finishing"
## Bug Description

auth & login never finalize & instead reload my home page

I have tried several time to get this plugin to fully activate and finish the login & authorization.  It gets to the final step where I go to verify everything and instead of finalizing it reloads my home page and none of the info is in the plugin any longer and I have to start over from scratch.

I have tried to get th

[2019-09-13 08:46] #451 closed

[2019-09-13 08:46] #448 closed

[2019-09-13 08:47] #449 closed

[2019-09-13 08:47] #450 closed

[2019-09-13 08:47] #454 closed

[2019-09-13 08:50] #453 closed

[2019-09-13 08:50] #452 closed

[2019-09-13 08:50] #500 closed

[2019-09-13 08:51] aaemnnosttv opened #531 "Link components are not properly disabled by prop"
## Bug Description

Originally noticed on the _Connect More Services_ tab of the Site Kit settings page, when Analytics is not active/connected, the Optimize and TagManager modules are disabled from being activated, with a message "Setup Analytics to gain access to ___".

The CTA links on these disabled modules are not disabled though, and clicking them triggers behavior (spinner) and produces an

[2019-09-13 09:50] aaemnnosttv opened #532 "Poor UX when connecting PageSpeed Insights"
## Bug Description

Currently, PageSpeed Insights requires an API key to use. If not already set, when activating the module, the user is prompted to provide an API key, and directed to an external site to obtain it.

Upon returning, the user then pastes in their new API key and submits the form. They are then redirected to the Site Kit dashboard, with no further notice/messaging/direction. Furthe

[2019-09-13 13:46] tofumatt commented on #268
Note that currently changing the Optimizer ID doesn't silently fail and close the page:

![2019-09-13 14 42 51](https://user-images.githubusercontent.com/90871/64867266-f8a95080-d634-11e9-9281-31f690303c6f.gif)

So it might be worth writing a failing E2E test that doesn't submit an invalid ID (the setup process will not submit one) and enabling it once that bug is fixed.

Also worth noting: this f

[2019-09-13 14:44] #479 closed

[2019-09-13 15:14] tofumatt commented on #188
I'm a bit unclear as to where we fetch "plugin-wide" notifications from. I don't see a separate  endpoint for notifications that apply to the whole site. We would need to add this endpoint (as right now we fetch notifications based on module name: https://github.com/google/site-kit-wp/blob/93ca9a922f4091f6ddf25b970133c8639542f723/includes/Core/REST_API/REST_Routes.php#L545)

The example given "inc

[2019-09-13 15:20] aaemnnosttv commented on #272
Each scenario seems fairly straight forward to test, but we will need to collect a lot of requests to mock for each so this could be a bit time consuming. Estimating as a M for now.

[2019-09-14 09:28] harshitbits opened #534 "Couldn't initialize"
Upon clicking 'Get OAUTH Credentials', I am getting an error saying Couldn't Initialize - A network error occurred and the request could not be completed.

I tried changing my WiFi and internet connection also but didn't help.

Please help me with this.

[2019-09-14 09:37] #534 closed

[2019-09-14 09:39] harshitbits opened #535 "The response is not a valid JSON response."
Upon entering the OAuth Credentials in my WordPress plugin dashboard, I am getting this error - 'The response is not a valid JSON response.'

Please help me with it.

[2019-09-14 16:06] ernexto opened #536 "Add options to manage tracking internal traffic from Analytics"
## Feature Description

Hello guys, is it possible to add an option to exclude internal (users logged in) traffic from Analytics?

![2019-09-14_180434](https://user-images.githubusercontent.com/48352699/64910737-21efdc80-d71a-11e9-8e29-aa8d01c83d00.jpg)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

[2019-09-15 11:20] michaelH91 opened #537 "Site data keeps loading on dashboard if not signed in with my Google account"
## Bug Description

Not really sure if it really is a bug or a feature, but:
If I am not signed in with my Google account in the same browser, the data is not shown in the Sitekit dashboard sometimes (spinner keeps loading, but data cannot be shown).

## Additional Context

 - PHP Version: 7.3.6
 - OS: macOS
 - Browser: Firefox Developer Edition v70.0b6
 - Plugin Version: 1.0.0-beta.1.0.6

-------

[2019-09-15 17:20] lilybonney opened #538 "Sprint: 7 Release"
Prepare and publish new release 1.0.0-beta.1.0.7 (September 26th).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-09-16 05:36] thano opened #539 "Unknown Error (code: redirect_uri_mismatch)"
## Bug Description

I tried to connect Site Kit using my account. A redirect_uri_mismatch ensues when I tried connecting it via the email account I use.

I have done the following:
- verified my site using html.
- connected both analytics and console
- used https
## Steps to reproduce

1. Go to your Sitekit Dashboard.
2. Input client ID and follow directions until done.
## Screenshots
![image](htt

[2019-09-16 08:11] aaemnnosttv commented on #89
https://github.com/google/site-kit-wp/blob/develop/includes/Modules/Analytics.php#1060 should be `$matched_property = array_values( $url_matches );`

This part of the IB no longer appears to be relevant as of this commit (https://github.com/google/site-kit-wp/commit/b733ba1190b879b286a22c0435a72fdaa4a98343) which was part of #83 (#434).
`matchedProperty` now references a single site object, (no lo

[2019-09-16 12:24] schawki opened #540 "Conflict with loginpress social login"
## Bug Description

When I activate SiteKit and LoginPress Social Login, Social Login with Gmail doesn't work.
It seems that it keeps redirecting me again and again for authentication.
When I deactivate the Site Kit plugin, LoginPress Social Login works perfectly.

Google Site Kit prevents LoginPress Social Login with Gmail to work.

## Steps to reproduce

To reproduce the bug, you have to:
1. ins

[2019-09-16 15:25] tofumatt commented on #447
I'm still navigating the code required to update for this issue to move along. It's a lot harder to track down than I thought and it's very difficult to trace the code path of the rendered components here.

I'm also a bit concerned about implementing this without a global data store, as the approach outlined regarding `state` in the parent component being linked to `context` may require re-impleme

[2019-09-16 17:20] jamesozzie commented on #517
@wpfella Are you encountering the same issue when trying to setup Site Kit? It would be great to know the steps you took to reach that error. If possible please share, and include you [Site Health info](https://i.imgur.com/Rtkmsba.png)

[2019-09-16 18:41] tofumatt commented on #447
After having been walked through the `withData` HOC a bit more and the nature of the rendering/component tree (that many things aren't inside the component tree but injected afterward), I'm still not clear on how to integrate React Context and prop-passing into this solution when maybe things are added with filters and not part of a component tree.

My first instinct upon understanding the `withDa

[2019-09-16 19:11] jamesozzie commented on #519
@webspacesau  Can you try the below, there could be another plugin, Ad Blocker or Firewall/security feature causing this error.

- Remove the [Analytics module](https://i.imgur.com/6ppIDwZ.png) (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
- Temporarily deactivate your other active WordPress plugins
- Install Site Kit in a new [incognito window](https://i.imgur.com/

[2019-09-16 20:00] jamesozzie commented on #485
@tottaz Did you have a chance to re-attempt setup? If you are encountering the same issue you can attempt the following:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugin you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png).

If the above fails to resolve your issue can you please

[2019-09-16 20:10] jamesozzie commented on #535
@harshitbits Can you please follow the steps below to try and proceed with your Site Kit setup:
1. Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.
2. Restart the Site Kit setup process again
3. If the same error a

[2019-09-16 20:39] jamesozzie commented on #539
@thano Can you please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.

If you have already checked and both addresses match please share your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashbo

[2019-09-16 21:24] jamesozzie commented on #215
@cre8tivediva If you want to raise a new issue we can look into this for you. Please include all relevant details, and check to ensure if you already have Search Console setup that you have applied all access permissions to the same Google account for that user.

[2019-09-16 22:58] wpfella commented on #517
The issue is now resolved.

All I did was log out of my google account and logged back in and tried again and it was fixed.

Since then, I did set up Google Sit Kit on a few other websites and was never an issue.

This was a once-off for me. But I will be interested in finding out if anyone else faced a similar issue.

[2019-09-17 00:33] thano commented on #539
I see. It's now fixed. The WordPress site settings was the culprit. Thank
you!

On Tue, Sep 17, 2019 at 4:39 AM James G <notifications@github.com> wrote:

[2019-09-17 07:32] felixarntz commented on #361
IB ✅

[2019-09-17 07:35] felixarntz commented on #470
IB ✅

Let's not cover the secondary item for now as it's unrelated.

[2019-09-17 07:39] felixarntz commented on #511
@tofumatt

Note that the scope should be part of the client, not the module, as mentioned above, because it is a generic scope. If it is part of the module, we unnecessarily require an extra OAuth redirect for the user.

[2019-09-17 08:09] aaemnnosttv commented on #511
My mistake. IB updated!

[2019-09-17 08:30] Seventhose opened #544 "[project_id] has issue [project_id contains invalid caracters]"
## Bug Description

Field [project_id] has issue [project_id contains invalid caracters].

Similar to #517

## Steps to reproduce

1. Go to first page setup
2. Click on Get Oauth credentials
3. Renamed the project with 3 letters name
4. See error!

* I can't do anything even if i unistall and reinstall the plugin

## Screenshots
![2019-09-17 10-27-18 Site Kit     Google Developers - Google Chrome]

[2019-09-17 09:36] tofumatt commented on #361
Sorry, I should have updated the IB as well after leaving my comment above—I don't think this is an issue that should be addressed and is better solved by #433. Because the API response isn't sufficient to determine _what_ the error is, we shouldn't be selecting an option based on the API error.

Instead we should be preselecting an not presenting users with the possibility to hit this error by de

[2019-09-17 09:48] aaemnnosttv opened #546 "E2E Environment set up is run twice in Travis"
## Bug Description

In the current Travis config:
https://github.com/google/site-kit-wp/blob/4bd761ff60559e1a2fa3e65257b6fbceae0a1c7a/.travis.yml#L87-L88

This causes the install script to run twice unnecessarily. The `env:reset-site` command does not need to run on Travis as this is intended for resetting an existing environment. This is unnecessary on Travis as the environment is freshly install

[2019-09-17 10:01] swissspidy opened #547 "Optimize PHPCS config and bump minimum PHP requirement"
## Bug Description

As noticed in #541, the `tests` folder is excluded from the PHPCS config, which I think is a bad practice. We shouldn't be making such big exceptions to code style adherence. Especially when this let's us potentially slip through errors that go unnoticed.

## Steps to reproduce

1. Write some bad code in a PHP file within `tests`
2. Run `npm run lint:php`
3. Notice that nothing

[2019-09-17 11:10] TMsravan opened #549 "Getting validation error on homepage and archive pages:"

[2019-09-17 11:14] TMsravan opened #550 "Getting validation error on homepage and archive pages:The extension 'amp-auto-ads' was found on this page, but is unused. Please remove this extension"
Getting validation error on homepage and archive pages: The extension 'amp-auto-ads' was found on this page but are unused. Please remove this extension

https://hayatistudio.com/amp/

https://hayatistudio.com/sports/amp/

Due to this amp pages are not getting validated.

https://monosnap.com/file/nozsxqlXPYSfDS8NffVKIse8izlW8k

[2019-09-17 11:18] #549 closed

[2019-09-17 11:27] aaemnnosttv commented on #243
@iamshaharyar I ran into a similar problem in another area recently and I think it is failing due to a subsequent internal request which is being made - not the main one we see in the console there. I'm going to look into this a bit more using the data you provided to see if we can locate where the error is coming from.

[2019-09-17 12:01] swissspidy commented on #546
After applying the same change to the AMP plugin in https://github.com/ampproject/amp-wp/pull/3275 I can confirm that removing that call makes sense.

Let's follow the proper processes on this one though :-)

[2019-09-17 12:44] #539 closed

[2019-09-17 14:13] jamesozzie commented on #550
@TMsravan You will need to raise support question for the WordPress plugin amp for wp. I can't see any trace of amp auto ads setup on your site by Site Kit.

And for additional information on your AMP URL's you only have the auto ads header code placed, and not the body code. See steps [here](https://ampforwp.com/tutorials/article/how-to-set-auto-ads-in-amp/#3-with-the-help-of-our-ampforwp-plugin)

[2019-09-17 14:13] #550 closed

[2019-09-17 14:46] aaemnnosttv commented on #547
@swissspidy IMO PHP linting should be called from Composer using `composer lint` - the location of the installed binary shouldn't leak out of the composer script if we can avoid it. This relates to the changes suggested in #113 .

If we want want to make everything available from an npm script, then we could have it run the same command from npm but I think it makes more sense to use Composer dire

[2019-09-17 14:48] jamesozzie commented on #528
@johnnyscience Can you attempt the following steps in order to resolve this issue.

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching or security suite plugins in use
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

If the above fails to resolve the issue please share your [Site Health info](https://i.im

[2019-09-17 14:50] swissspidy commented on #547
`npm run lint:php` could just run `composer lint` then? Easier to remember when everything can be easily accessed via one place.

[2019-09-17 15:33] jamesozzie commented on #544
@Seventhose Thanks for reporting, can you please share your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashboard and I can hopefully assist further.

As a workaround you can attempt the following to obtain working credentials, but please share your site health info so we can see if we can identify anything which is impacting setup.
- In the address bar of your window p

[2019-09-17 15:39] felixarntz commented on #361
@tofumatt There is still a part to this that we should fix. We shouldn't modify the error message from the API in any way, but, as the ACs state, preselect the container then and append to the error message that the container has been preselected for the user.

This issue is still valid and needs to be resolved here. The existing tag detection in #433 deals with code snippets already present in th

[2019-09-17 15:43] felixarntz commented on #511
IB ✅

Made one minor change: I replaced

with

[2019-09-17 15:47] felixarntz commented on #433
@tofumatt

This is out of scope for this issue, we also don't consider multiple in the other modules. Worth discussing for the future though as a general enhancement.

You don't necessarily need to add this in detail as part of the IB, but just to flag it, it needs careful investigation in which ways Tag Manager can be included in a page, including AMP and non-AMP versions. The regexes used need t

[2019-09-17 15:49] felixarntz commented on #499
@aaemnnosttv

I was referring to the post ID for a certain URL potentially being different between live site and local site.

IB ✅

[2019-09-17 15:56] felixarntz commented on #506
IB ✅

For the future APIs, we're going to wanna cache everything by default though, because that is the preferred behavior for a performant experience (especially as we won't have as clear of a distinction between what is requested as batch vs non-batch then). So for these scenarios we'll need to specifically bypass the cache then.

[2019-09-17 15:57] felixarntz commented on #339
IB ✅

[2019-09-17 15:59] felixarntz commented on #522
IB ✅

[2019-09-17 16:27] aaemnnosttv commented on #547
Yep, that's what I meant 👍

[2019-09-17 16:36] Sanjoy123456 opened #552 "I can't use google site kit... just show blank page"
Hello, I'm using google site kit on my Wordpress site. I'm not an expert programmer. when I upgrade 1.0.5 to 1.0.6 I see the blank page problem. when I click google site kit from collapse menu I see this page...
See my problem from this link(i upload ss): https://prnt.sc/p7d74n

[2019-09-17 16:59] felixarntz commented on #267
@aaemnnosttv Yes, the AC should be that the code is placed indeed (just updated it). We don't even cover existing tags for Tag Manager yet (see #433 for that).

[2019-09-17 17:18] jamesozzie commented on #552
@Sanjoy123456 Can you please provide the following information
- Share your [Site Health information](https://i.imgur.com/Rtkmsba.png)
- Confirm the search console errors you see

[2019-09-17 18:30] jamesozzie commented on #515
@RealBenihime Are you using the free version of [Analytify - Google Analytics Dashboard](https://wordpress.org/plugins/wp-analytify/)? Let me know and I can check from my side.

Also you can login to your Analytics dashboard to check any analytics statistics if you are encountering any problems with the Site Kit dashboard (or any other dashboards that link to your Analytics property).

[2019-09-17 19:41] jamesozzie commented on #487
@andydesigns Is there a chance another site has the same tracking code implemented on another domain? You can create your own custom report in Analytics and filter for "hostname" to check. [Here](https://support.google.com/analytics/answer/1012243?hl=en) is a guide you can use.

Do you have any other sites you can check on, using the same web host?

[2019-09-17 22:52] andydesigns commented on #487
Hi @jamesozzie,
I'm pretty certain when I log into my analytics account directly it's only displaying data for my domain. I've tried installing the plugin on another site of mine on the same server and the same thing happens.

However, in response to your suggestion on my original thread here: https://github.com/google/site-kit-wp/issues/12
I contacted my host about disabling ModSecurity, they sai

[2019-09-17 22:59] andydesigns commented on #487
Hmm, it appears even after removing that script from my .htaccess file the data is displaying correctly. I'm still reluctant to try this on my larger site though.

[2019-09-18 00:39] amentaj opened #553 "No images on Google Site Kit Dashboard, Search console or Analytics Dashboards."
## Bug Description

When I go to look at my Google Site Kit Dashboard, Search Console or Analytics dashboards there is no image.  The main WordPress dashboard shows the information, but the specific dashboard does not.

## Steps to reproduce

1. Go to WordPress Admin Editor
2. Click on G Site Kit - Dashboard
3. See error (blank screen)

## Screenshots
![image](https://user-images.githubusercontent

[2019-09-18 04:53] TMsravan commented on #550
For ADS we are using : Ads for WP - Advanced Ads & Adsense Solution for WP & AMP

I have deactivated this plugin as well and checked the issue.

Please see recorded video:

https://drive.google.com/file/d/1vuwLzm98XGhPFlLNmoRD585LCSkDXbB7/view

We didn't place any auto ads header code in head section in AmpforWp plugin.

Please see this screenshot: https://monosnap.com/file/K9v0V0ACBtkv5i5ZHDPdQ9Y

[2019-09-18 07:03] Sanjoy123456 commented on #552
Hello, Sir, my site health is 93% and i copy clipboard (If you want, I can share my site clipboard)

SIte Health SS = https://prnt.sc/p7lgy3
console error ss = https://prnt.sc/p7li6k
                              https://prnt.sc/p7lie7

[2019-09-18 09:18] iamshaharyar commented on #243
@aaemnnosttv that would be great if we can find out why we are facing this issue. I am always available to provide any kind of data which would be helpful to resolve it.

[2019-09-18 09:39] unster opened #554 "Mixed domains results and invalid links to pages in "Most popular content""
## Bug Description
There is incorrect data in "Most popular content" widget on Site Kit Dashboard and Wordpress Admin main page. The data source is Google Analytics.

There are 3 issues:
- I have 2 domains on one Google Analytics page. During the configuration phase I've selected one of the domains that I would like to present the data. It seems that this is ignored and "Most popular content" is b

[2019-09-18 13:15] jamesozzie commented on #487
@andydesigns ModSecurity needs to be deactivated for initial connection only, re-enabling after should be fine. If you have access to ModSecurity yourself on your larger site you can attempt to temporarily change the "rule set type" to "Atomic Basic ModSecurity" during setup.

[2019-09-18 13:43] swissspidy commented on #509
IB and estimate look good 👍

[2019-09-18 13:46] jamesozzie commented on #553
@amentaj Can you please share your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashboard? If you can also try installation from another computer to rule device to rule out the issue being with any particular software on your machine (VPN, security suite or other)

[2019-09-18 13:53] amentaj commented on #553
`Health Info:
### wp-core ###

version: 5.2.3
site_language: en
user_language: en
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 4
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/jamenta/public_html
wordpress_size: 45.56 MB (47773020 bytes)
uploads_path: /home/jamenta/public_html/wp-content/uploads

[2019-09-18 14:01] jamesozzie commented on #537
@michaelH91 You do not need to be logged into your browser in order for Site Kit to operate. What browser are you using, there can sometimes be issues with in built ad blockers or browser extensions. Can you try opening an incognito browser window (using the Chrome browser) and checking it you can see the various dashboards as normal?

[2019-09-18 14:09] jamesozzie commented on #550
@TMsravan Thanks for the video, very useful. As you are using a mix of plugins it's hard to pinpoint the exact issue. Some caching plugins also concatenate scripts and stylesheets, which could impact your amp validation errors. Can you try the following:
- Temporarily disabling your caching plugins
- Temporarily disable the Cloudfare plugin
- Activate Site Kit
- From an incognito window perform an

[2019-09-18 14:11] michaelH91 commented on #537
Thanks @jamesozzie. It happened twice that the dashboard did not load correctly. Since then (and I have been using the plugin intensively), no issues anymore concerning loading the data.

[2019-09-18 15:06] jamesozzie commented on #554
@unster When you mention you have 2 domains setup within Google Analytics do you have different views setup or have you setup the domains as individual properties under the same account? If not already done I would suggest setting up a view from within Analytics to report on one domain only, before starting Site Kit setup again.

In relation to your reported URL structure it might be worth opening

[2019-09-18 15:09] #537 closed

[2019-09-18 17:27] adamsilverstein commented on #553
@amentaj Hi, thanks for sharing the site info, I am looking into this issue.

Can you also please share any [console errors ](https://imgur.com/KyLAzgH) you see?

[2019-09-18 17:35] amentaj commented on #553
![image](https://user-images.githubusercontent.com/33556008/65171578-2ddce680-da19-11e9-8cd9-991e2c93fcaa.png)

[2019-09-18 17:54] adamsilverstein commented on #553
@amentaj Thanks for the update. So far I have been unable to reproduce. Those errors don't appear to come from Site Kit. Is that on the Site Kit Dashboard page?

It looks like you had previously configured and used Site Kit, this error occurred when you upgraded to the latest version, is that right?

I'm testing in chrome beta on a mac so far - you are on windows 10/chrome, right?

Can you try the

[2019-09-18 18:00] adamsilverstein commented on #552
Hi @Sanjoy123456 thanks for reporting this issue, I am working on trying to resolve it.

Can you please try the Site Health data again, if you are running the latest version of WordPress it is under `Tools`, click the 'Copy site info to Clipboard' button and paste the results back here. Thanks!

[2019-09-18 18:09] amentaj commented on #553
Thank you @adamsilverstein, it was one of my other plugins.  I'll need to get with the developer of that plugin to see what they can do but now at least I know what the problem is.

[2019-09-18 18:57] adamsilverstein commented on #553
Thanks for confirming @amentaj - Can you tell us what plugin (and version) was conflicting so we can be aware of the issue?  Was the plugin new? its odd that Site Kit worked previously and failed when you upgraded.

If you want to message me this information privately to me I'm on twitter `@roundearth`. Thanks again.

[2019-09-18 19:01] amentaj commented on #553
Sure, the plugin is Booking Ultra Pro CORE v1.0.78.

[2019-09-18 20:56] tofumatt commented on #361
Oh, whoops, I misunderstood the word "snippet" in the other issue and for some reason read it as a containers/property. 😅 When I saw:

I think I misunderstood this issue as being about the error encountered because we weren't preselecting. I'll revisit this IB and look for the APIs we should be using to match the current site with the available GTM containers/properties.

[2019-09-18 21:05] tofumatt commented on #433
I've updated the IB to remove the multiple properties part and added the note about being diligent about checking for different Tag Manager include snippets in our checks.

[2019-09-19 06:52] DeeElla opened #555 "Unable to receive access token because of an unauthorized client."
Google Site Kit.. Hello!!
How can I resolve this? What am I missing? Any support would be greatly appreciated.

Many thanks!

[2019-09-19 08:15] aaemnnosttv commented on #272
@felixarntz @marrrmarrr Regarding the AC for scenario 1 - when the account is in a graylisted status the Adsense script is not loaded on the frontend as it requires the client ID is set. Is this expected?

https://github.com/google/site-kit-wp/blob/84a2765a9f1da1d9f55d7c306ba79180e89e6b4e/assets/js/modules/adsense/util.js#L205-L219

[2019-09-19 09:30] felixarntz commented on #272
As far as I recall, the `ads-display-pending` indicates that the account is pending, but the snippet should already be placed. But it's true, there's no way to print the script as long as there's no `clientID` stored.

Let's rely on what the code currently does for the initial e2e tests. They should then give us a solid base for comparing actual requirements with the current state, so we can then

[2019-09-19 09:41] aaemnnosttv opened #556 "AdSense snippet not enabled by default"
## Bug Description

The Adsense snippet output should be enabled by default, but controllable via settings.

Currently it is enabled by default in the settings as properly defaults when passing to the JS for Site Kit admin, but any other references to the option are not handled in the same way.

---------------

_Do not alter or remove anything below. The following sections will be managed by mode

[2019-09-19 10:42] abdulwahab610 commented on #540
Hi,

I am one of the developers of [LoginPress](https://wordpress.org/plugins/loginpress/) & @schawki  reported an issue if **Site Kit by Google** is activated, user cannot able to login using Google account. When user trying to log in, s/he considered connected but stay on the same authenticate page and auth again and again in a loop.
When we deactivate the **Site Kit** plugin. A user can sign in

[2019-09-19 12:22] jamesozzie commented on #555
@DeeElla In order to try and complete setup please attempt the following:
1. Open the Site Kit created project from your [Google Cloud Console](https://console.cloud.google.com/cloud-resource-manager)
2. [Delete](https://i.imgur.com/EoA1edo.png) the project
3. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
4. Start the Site Kit setup process again from your WordPress dashbo

[2019-09-19 13:31] felixarntz commented on #556
IB ✅

[2019-09-19 15:02] aaemnnosttv opened #558 "Refactor datapoint contextual data to use new class"
## Feature Description

Currently the `$data` object passed to `create_data_request` is an array.

https://github.com/google/site-kit-wp/blob/82d9f4164e3d400fec8221fa7f750298b17859b7/includes/Core/Modules/Module.php#L389-L399

This works just fine as a parameter, but within the handlers for each datapoint (currently limited to `create_data_request` but soon to also include response parsing in #340

[2019-09-19 21:12] adamsilverstein opened #560 "Remove the "Create Client ID" step (step 1) from the Setup Flow"
## Feature Description

Remove step 1: "Create Client ID": that is presented immediately after installing the plugin and clicking the Dashboard or "Set up Site Kit".

Users are currently presented with

![image](https://user-images.githubusercontent.com/2676022/65280900-8df18c80-daee-11e9-9d8b-a11dd7c046c5.png)

This step can be removed _in a feature branch_ in preparation for upcoming setup chang

[2019-09-19 21:42] zaadams opened #561 "Oauth is generating API key instead of Client Credentials"
Hi,
When trying to connect Site Kit to WP, On step 1 for creating new client ID, I follow the link and when I arrive at the page, I click Generate OAuth Credentials. Instead of giving me Client Credentials, It gives me an API Key. The Plug in is not wanting an API Key.

<img width="1920" alt="Capture" src="https://user-images.githubusercontent.com/55561531/65283314-07d84480-daf4-11e9-9270-5973db65

[2019-09-20 06:50] vamshi428 commented on #561
I have the same problem help me

[2019-09-20 07:42] aaron13223 commented on #94
Hmmmm, my site is already approved yet it still shows "Getting you site ready for ads". So i can't seem to enable ads at all. Have to do it manually. The url of the website has www and adsense is approved for hostname. Though I already added www in subdomain

[2019-09-20 07:51] enricoy commented on #561
Same here.

[2019-09-20 07:55] aaemnnosttv commented on #94
Hi there 👋 Your issue sounds different than the one targeted for the focus of this particular issue. Please open a new issue for support! Thank you 😄

[2019-09-20 08:16] fether-dev commented on #561
same here

[2019-09-20 09:08] Sanjoy123456 commented on #561
Same here

[2019-09-20 09:45] aaemnnosttv commented on #531
This actually allows a user to enable a module with unmet dependencies.

E.g. User can activate Optimize by clicking on the link in the disabled box even if Analytics is not setup.

[2019-09-20 10:17] aaemnnosttv commented on #522
@tofumatt You're right about modifying the responses but I think the more important underlying issue here is that cached values can actually be mutated once returned from the variable cache.

https://github.com/google/site-kit-wp/blob/b26b4c435f859a58f50d9ce7704ad24ec2af0b6c/assets/js/components/data.js#L312-L323

This should return a copy for reference safety if the value is a non-primitive. Also

[2019-09-20 12:17] tofumatt commented on #522
Oh my, I see! I didn't realise that, and I suppose it makes sense that it's contributing to the issue here.

I've updated the IB to include this fix. I wonder if any other bits of the codebase are affected by this bug; could be!

[2019-09-20 12:26] tofumatt commented on #267
Tested this locally and it works. Not much else to QA for a test passing on Travis, but here we go:

<img width="695" alt="Screenshot 2019-09-20 13 25 52" src="https://user-images.githubusercontent.com/90871/65326791-2e58b700-dbaa-11e9-97d9-472f3d0b99f7.png">

[2019-09-20 12:42] tofumatt commented on #546
Not much to QA here: the tests are still reset locally when the `npm run env:reset-site` command is used, but it's not longer used in Travis as expected. 🤷‍♂

Looks good to me!

[2019-09-20 13:23] jamesozzie commented on #561
@zaadams @enricoy @Sanjoy123456 @fether-dev @vamshi428 I assume you used the Site Kit link on the https://developers.google.com/web/site-kit webpage to capture your credentials. If so can you download Site Kit from the [dedicated website](https://sitekit.withgoogle.com/) and then install as you would any other WordPress plugin. There is a setup procedure that takes a few clicks from where you can

[2019-09-20 13:32] tofumatt commented on #556
I'm unclear on how to QA this as I couldn't switch AdSense accounts in the admin; my usual account has no AdSense data but trying to load one with data ended up in a loop:

![2019-09-20 14 28 36](https://user-images.githubusercontent.com/90871/65330719-218c9100-dbb3-11e9-8164-880b91a5ffaf.gif)

Un-assigning myself for now as even with a Google Account with AdSense I don't seem to be able to access

[2019-09-20 15:55] usmanswift opened #563 "Something went wrong - The project cannot be created because you have exceeded your allotted project quota."
![Screenshot (242)](https://user-images.githubusercontent.com/55594780/65340795-739bd980-dbe8-11e9-8da6-af29daf1960f.png)

When I click on developers.google.com/web/sitekit in wp dashboard, it returns this error as shown in the screenshot.

[2019-09-20 16:05] aaemnnosttv commented on #556
Actually, I've noticed that same thing with the Switch Google Account link - I'll open an issue for it.

I haven't been able to figure out how to do that manually other than resetting Site Kit :/

[2019-09-20 16:32] dannydickson commented on #561
I'm having this issue as well. Thanks for looking into it @jamesozzie. Let us know what you find out.

[2019-09-20 17:13] aaemnnosttv opened #564 "Allow switching to a different Google account per service/module"
## Bug Description

It currently isn't possible to switch the Google account used for a service. Even disconnecting at the top does not clear the chosen account for a particular service which requires a subsequent Google login after the initial one during set up.

For example the AdSense module's "Switch Google account" link opens a new tab/window with the same screen but does not allow you to re-

[2019-09-20 18:10] jamesozzie commented on #563
@usmanswift Can you [delete](https://i.imgur.com/EoA1edo.png) the Site Kit created project from [Google Cloud Platform](https://console.cloud.google.com/projectselector2/home) before attempting to setup Site Kit again?

[2019-09-20 18:13] #553 closed

[2019-09-20 18:14] jamesozzie commented on #544
@Seventhose Are you encountering the same issues or have you been able to successfully setup Site Kit after performing the suggested steps?

[2019-09-20 18:19] jamesozzie commented on #535
@harshitbits Have you been able to get Site Kit connected after attempting the suggested steps?

[2019-09-20 18:20] jamesozzie commented on #528
@johnnyscience Did you have any luck getting Site Kit connected?

[2019-09-20 18:21] jamesozzie commented on #519
@webspacesau Is your Site Kit dashboard successfully displaying your Analytics data after following the suggested steps?

[2019-09-20 18:24] #487 closed

[2019-09-20 18:26] jamesozzie commented on #485
@tottaz Did you have any luck getting Site Kit connected?

[2019-09-20 18:27] jamesozzie commented on #482
@Idealcamper1 Did you have any success getting Site Kit connected?

[2019-09-20 18:27] jamesozzie commented on #477
@ikymbo Have you been able to successfully connect Site Kit by following the previous suggested steps?

[2019-09-20 18:30] #414 closed

[2019-09-20 18:33] jamesozzie commented on #235
@loganlucky Did you have a chance to test setting up Site Kit again? If you are encountering the same issue feel free to share you Site Health info and I can see if we can notice anything which could be impacting your setup.

[2019-09-20 19:06] usmanswift commented on #563
It's not listed in Google Cloud Platform. The one I created few days ago (NewsAngels) is present there but not "News Angels" which Site Kit shows during authentication.

[2019-09-20 19:19] usmanswift commented on #563
I think, my account project creating limit is reached. I have deleted some projects but they have gone in 30 days duration of deletion. Even doing that, I am still not able to create new projects manually. Can you permanently delete projects, which are requested to be deleted?

[2019-09-20 19:23] usmanswift commented on #563
Project issue is now fixed but, it just gave me an api key, which Site Kit does not support. I want something else not just the pasted....

[2019-09-20 19:23] usmanswift commented on #563
It says "Unable to parse client configuration values." when I paste the key...

[2019-09-20 19:24] usmanswift commented on #561
I'm facing the same issue....

[2019-09-20 19:39] ayohewitt commented on #561
@jamesozzie, We got the same issue as well. Thanks for working on this. I'm looking forward to working with Site Kit for the first.

[2019-09-20 20:48] tofumatt commented on #447
After examining the nature of the codebase I don't think this is solvable as-is without a massive refactor—which I've been attempting in https://github.com/google/site-kit-wp/compare/chore/447-date-range-use-props?expand=1 but have been stumped by. The API requests are _very_ disconnected from the `DateRangeSelector`, which seems to have been added late and is added to the request in https://githu

[2019-09-20 20:49] tofumatt commented on #447
(I've unassigned myself from this issue—I think the existing IB are not sufficient but it's worth revisiting if we want to pursue this at all while the data layer has the kinds of shortcomings it has.)

I think it's best to leave this alone, I've already gone down quite a rabbit hole with it.

[2019-09-20 23:03] michaelgenova commented on #561
same here

[2019-09-21 05:32] thesavvydon commented on #561
i am also having this issue

[2019-09-21 07:42] Idealcamper1 commented on #482
Its really a great plugin

On Sat, Sep 21, 2019, 00:27 James G <notifications@github.com> wrote:

[2019-09-21 09:07] genc74 commented on #561
also get the same issue, i get only API key not the OAuth Client ID Conf

[2019-09-21 09:43] AdelDima commented on #561
I hope this gets fixed soon.

[2019-09-21 10:48] ayohewitt commented on #561
Is there a way to manually config the client ID? I already have a Google Cloud Project created, can I insert my apps credentials into a code snippet template? Maybe this could be a temporary work-around?

[2019-09-21 11:36] hfrid commented on #561
Yup same issue here..

[2019-09-21 12:35] kama003 commented on #561
yes the same problem even I try to get Client Credentials  from API console but it didn't work

[2019-09-21 12:41] Invariant-Change commented on #561
@jamesozzie Any fixes yet?

[2019-09-21 14:26] usmanswift commented on #561
You can manually set it up by entering details in given code

{ "web": { "client_id": "**Client ID Goes Here**", "project_id": "**Project ID Goes Here**", "auth_url": "https://accounts.google.com/o/auth2/auth", "token_url": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_secret": "**Client Secret Goes Here**", "redirect_ur

[2019-09-21 14:27] usmanswift commented on #561
Example is given below

{ "web": { "client_id": "1031765-a0i7j5327d40fvcmmkaug2s81eb.apps.googleusercontent.com", "project_id": "news-angels-156987741", "auth_url": "https://accounts.google.com/o/auth2/auth", "token_url": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_secret": "EHeTYxchhvuufvTlYq", "redirect_uris": [ "htt

[2019-09-21 14:40] hfrid commented on #561
And do you know the client-ID and client_secret ?

[2019-09-21 14:49] usmanswift commented on #561
Here some Images to get Project ID, Client Secret and Client ID etc

![Screenshot 1](https://user-images.githubusercontent.com/55594780/65374930-b624eb00-dca8-11e9-8280-aa2ca428ed49.jpg)
![Screenshot 2](https://user-images.githubusercontent.com/55594780/65374931-b9b87200-dca8-11e9-9bf4-c8443e79c5cf.jpg)
![Screenshot 3](https://user-images.githubusercontent.com/55594780/65374934-bb823580-dca8-11e9-

[2019-09-21 14:53] usmanswift commented on #561
![Screenshot 5](https://user-images.githubusercontent.com/55594780/65374985-74487480-dca9-11e9-979f-ac5726adc84e.jpg)

[2019-09-21 14:55] usmanswift commented on #561
Let me know if it works or not.

[2019-09-21 18:27] ayohewitt commented on #561
@usmanswift , Thank you so much!! lifesaver. It worked for me. And it is also good to know how to do this manually as well. Thanks again bro!

[2019-09-21 20:24] usmanswift commented on #561
I'm glad, I was helpful.

[2019-09-22 07:11] reinhardjung opened #565 "PageSpeed Score Differences"
## Bug Description

## Steps to reproduce

1. Click on 'Dashboard'
3. Scroll down to 'SPEED'
4. There is only (87) but on the Live "PageSpeed Insights"-Site there is (95)

## Screenshots

## Additional Context

 - PHP Version: 7.3.4-1+ubuntu16.04.1+deb.sury.org+3
 - OS: [Mojave 10.14.6]
 - Browser [chrome]
 - Plugin Version [1.0.0-beta.1.0.6]
 - Device: [iMac]

![Desktop 87](https://user-images.gi

[2019-09-22 14:32] stllrnet opened #566 "Popular Content Links Are Broken"
In the section "Popular Content" of the dashboard, does appear a hyperlink which should redirect you to the actual page you're viewing the stats. Anyway, it appears SiteKit is adding the current permalink on the dashboard instead of redirecting me to the page.

So basically, instead of taking me to https://domain.com is taking me to https://domain.com/wp-admin/Agencia%20de%20Marketing%20para%20Pym

[2019-09-22 14:38] thune opened #567 "Just get the API key in setup"
Hi

Tried to install Google Site Kit and I just got the API Key and not the client configuration snippet.
![oauthcredentials-google-site-kit](https://user-images.githubusercontent.com/646779/65389516-69e4b400-dd57-11e9-876e-620f9b65284e.png)

Regards
Øystein

[2019-09-22 15:52] jony2323 commented on #567
i am having the same problem. no full code just single line api code and error Unable to parse client configuration values

[2019-09-23 03:51] zoi555 commented on #567
I'm having precisely the same issue, anybody had any luck resolving this?

[2019-09-23 06:36] hellojess7 commented on #567
I am having the same issue as well.
![GSK Auth ](https://user-images.githubusercontent.com/55683318/65405682-28292d00-dd9a-11e9-861b-90ae48160d66.png)

[2019-09-23 09:40] kaelhoel commented on #567
Experiencing the same issue with a fresh install. The layout appears to be broken on the page which presents your project details, and requesting the OAuth Credentials leads to the above result which others have shown.

![image](https://user-images.githubusercontent.com/48452614/65415807-c814a400-ddf6-11e9-8fbd-d0931141e533.png)

[2019-09-23 09:47] swissspidy commented on #567
Thanks for your reports everyone! We're already tracking this in #561 and are currently investigating this.

A workaround has been posted at https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770 which you could use in the meantime.

**Please follow #561 for any updates on this.**

[2019-09-23 09:47] #567 closed

[2019-09-23 09:52] swissspidy commented on #565
Hi there!

It is normal to not get the same score every time you run the analysis.

Variability in performance measurement is introduced via a number of channels with different levels of impact. Several common sources of metric variability are local network availability, client hardware availability, and client resource contention.

You can learn more about how PageSpeed Insights works [here](http

[2019-09-23 09:52] #565 closed

[2019-09-23 09:55] swissspidy commented on #566
This is the same issue as in #554, so potentially a valid bug.

Could you please provide some more context and include the permalinks setup you have along with any redirection rules or additional information? The Site Health data from WordPress would be very useful for us.

Thanks!

[2019-09-23 09:58] aaemnnosttv commented on #447
Thanks for flagging this @tofumatt. I'm going to move this back to Blocked for now until we decide where this will go next.

[2019-09-23 10:12] swissspidy commented on #527
That would be a great thing to automate now that we can use GitHub Actions on this repo! A bit skeptical about the assign-everything-to-Felix part though.

[2019-09-23 10:13] swissspidy commented on #80
@luukdv Any update on this? :-)

[2019-09-23 10:15] swissspidy commented on #75
This is not really accessible and should be fixed IMO.

[2019-09-23 10:22] felixarntz commented on #478
This is fine for now. We can always reopen if we want to modify the notice.

[2019-09-23 10:22] #478 closed

[2019-09-23 13:58] tofumatt commented on #272
These tests fail for me with a fresh checkout and `rm -rf node_modules && npm install && npm run env:reset && npm run test:e2e`. Here's the failures I'm getting:

[code]

I'm using node `v10.16.0`, for what it's worth.

[2019-09-23 14:07] Sunpro2 opened #569 "Unable to parse"
the following are screen shots that i receive.
![2019-09-23 (1)](https://user-images.githubusercontent.com/53017932/65432777-6b5abe80-dde1-11e9-9743-4ab5243e6151.png)

![2019-09-23](https://user-images.githubusercontent.com/53017932/65432830-84fc0600-dde1-11e9-92f2-4c6275a4769c.png)

[2019-09-23 14:08] aaemnnosttv commented on #272
@tofumatt it passes for me

[code]

Sounds like this might be a performance issue for your environment. Can you try [bumping up the default timeout](https://github.com/smooth-code/jest-puppeteer/blob/43eab46c8a674f7fe2945f4ac6a95b52609a9d24/packages/expect-puppeteer/README.md#configure-default-options) for Jest Puppeteer and try again?

[2019-09-23 14:13] tofumatt commented on #265
This test is also failing for me, after a fresh checkout/install/site reset:

[code]

I'm not sure if the timeout here is simply too short, but these are all failing on my MacBook Pro running Node 10.

[2019-09-23 14:17] swissspidy commented on #569
Thanks for your report! We're already tracking this in #561 and are currently investigating this.

A workaround has been posted at https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770 which you could use in the meantime.

**Please follow #561 for any updates on this.**

[2019-09-23 14:17] #569 closed

[2019-09-23 14:26] felixarntz opened #570 "Scaffold new `googlesitekit-api` script"
## Feature Description

Let's introduce a standalone `googlesitekit-api` script that provides the foundational infrastructure to make Site Kit REST API requests. This API layer should be based on existing logic from `data.js`, but be implemented in a way that is decoupled from some of the very specific legacy bits intertwined with `data.js`.

---------------

_Do not alter or remove anything below

[2019-09-23 14:27] felixarntz opened #571 "Implement internal cache object for `googlesitekit-api`"
## Feature Description

Related to #570, a `cache` object should be introduced to provide an infrastructure for looking up and storing values in a (semi-)persistent cache. This cache layer should be based on existing cache logic from `data.js`, decoupled from how cache keys are generated for API requests specifically. Nonetheless, for now this object should be internal to the `googlesitekit-api` s

[2019-09-23 14:28] felixarntz opened #572 "Implement singular getter, setter and related logic in `googlesitekit-api`"
## Feature Description

Following #570 and #571, let's implement the basic infrastructure methods in the `googlesitekit-api` script to run singular API requests. The batch request method should be implemented via a follow-up issue.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Following #570 and #571,

[2019-09-23 14:29] felixarntz opened #573 "Implement `getBatch()` logic in `googlesitekit-api`"
## Feature Description

Following #570, #571, and #572, let's implement the `googlesitekit.api.getBatch()` method for combining multiple Site Kit REST get requests into a single one. This should be a clean version of `combinedGet()` from `data.js`, without all the legacy clutter intertwined with the Site Kit screen loading process.

---------------

_Do not alter or remove anything below. The foll

[2019-09-23 14:32] tofumatt commented on #272
Unfortunately increasing the timeout on the individual tests didn't help:

[code]

That was after changing the tests to have a much longer timeout (`20000ms`).

[2019-09-23 14:36] lokeshsangtani opened #574 "Google Site Kit - Wordpress"
While I am trying to open "Get OAuth Credentials", instead of OAuth Credentials it generates only API key, I did not get the reason.

If anyone know the reason, pl revert!

[2019-09-23 15:01] felixarntz commented on #574
Thanks for the report @lokeshsangtani. This is a duplicate of #561. We're working on fixing this issue. Until then, please refer to the existing issue.

[2019-09-23 15:01] #574 closed

[2019-09-23 15:10] johnfleming opened #575 "Need help resetting project"
Having an issue getting client configuration file.   It takes me directly to Get OAuth Credentials and never show the Client Configuration snippet.   I don't see where to pull this?

Thnaks

[2019-09-23 15:58] tofumatt commented on #272
Even after rebuilding the package (I forgot, argh!) and experimenting with adding:

[code]

to https://github.com/google/site-kit-wp/blob/780decdc6e8c4bbcd6b61717e0717decf854f57f/tests/e2e/plugins/reset.php#L18 I still see errors:

[code]

@aaemnnosttv pointed me to an odd "reset" bug that the above fixed, but I'm still seeing an error. I'm pretty baffled here, I might try entirely removing my doc

[2019-09-23 16:22] OisinOConnor opened #576 "AdSense dashboard: fix number formatting"
## Fixing small things with the AdSense reporting screen

Summary: Some of the numbers are wrongly formatted and a few other tweaks. Details below.

Page RPM: should be in currency format. Currently plain number.

Earnings: should be in currency format. Currently plain number.
Page RPM: should be in currency format. Currently plain number.

![Image3](https://user-images.githubusercontent.com/64884

[2019-09-23 16:24] adampatterson commented on #561
@usmanswift Thanks a lot! I Was struggling for sure.

I found this which might help, One you correctly enter your callback details you can download the JSON config here.
![image](https://user-images.githubusercontent.com/31537/65433397-2717f000-ddda-11e9-8ab1-4d4236aa39e9.png)

[2019-09-23 16:33] OisinOConnor opened #577 "Update link url on AdSense "We're getting your site ready for ads" set-up landing page"
## Feature Description

### Update 1:
Parse subdomains down to root domains in the deep link to AdSense:
Site Kit currently links to the “Sites” page of AdSense with this link:
https://www.google.com/adsense/new/sites?url={$sitekit-site-url}&source=site-kit
where ($sitekit-site-url) is the **full url** of the WordPress site.
Change requested: change the value of ($sitekit-site-url) to only display

[2019-09-23 16:47] tofumatt commented on #272
I'm unable to QA this as my local test environment is inexplicably broken. I'm really unsure how to proceed, but it'd be good to know if others are experiencing this as well.

[2019-09-23 16:47] OisinOConnor opened #578 "Update to AdSense screen for a first-time user just finished the set-up"
## Feature Description
Update the copy and the link target for the AdSense screen displayed for the following cases:
- a first-time user who just completed AdSense setup.
- a user whose account is in pending state who is connecting to Site Kit

### Current screen copy:
_We’re getting your site ready for ads_

_This usually takes less than a day, but it can sometimes take a bit longer. After you’ve

[2019-09-23 16:48] tofumatt commented on #265
I'm getting errors with E2E tests on my machine so I'm leaving this in QA for someone else to test locally.

[2019-09-23 16:55] OisinOConnor opened #579 "Update to AdSense set-up screen - no account found"
## Feature Description
Some users going through the AdSense setup might have AdSense set up with a different google account than the account they're using to set up Site Kit.
To accommodate this corner case, this is an update for the copy of the screen shown to users who have started connecting the AdSense module and an AdSense account is not detected.

### Current copy:
_Create your AdSense accou

[2019-09-23 17:06] usmanswift commented on #561
Good Idea, thanks for sharing

[2019-09-23 17:36] emindsca opened #580 "Problem in getting client configuration"
![Screenshot (82)_LI](https://user-images.githubusercontent.com/55710920/65448539-aa772700-de56-11e9-92df-14fa4e8e2991.jpg)

As in the attached image instead of the client configuration, I am getting the API key. Please tell me how to get the client configuration.

[2019-09-23 20:12] dragonunit commented on #580
I am getting the same issue.

[2019-09-23 21:00] Kevin-Abrams commented on #580
Same Issue

[2019-09-23 21:26] jpgif opened #581 "I need the Oauth Credentials but get an API"
How can i get the code to embed instead of the api key ?
If i paste the api key on the site it says : Unable to parse client configuration values.
Thanks

[2019-09-23 23:50] GitHubDarci opened #582 "Unable to parse client configuration values."
This is the second site I have tried to authorize and I have the same message
![Screenshot 2019-09-21 10 15 22](https://user-images.githubusercontent.com/55635705/65470910-f8256c80-de21-11e9-95c5-5f56e945656d.png)
![Screenshot 2019-09-23 16 48 57](https://user-images.githubusercontent.com/55635705/65470968-2d31bf00-de22-11e9-9750-3a55c2aa7ad4.png)
![Screenshot 2019-09-23 16 49 15](https://user-ima