[2021-03-22 12:46] johnPhillips commented on #2991
@felixarntz
It looks like what is happening is that there is more than one row in the report, so it isn't getting picked up by our fix.

Here it looks like we have a single user, from China, by referral, on their mobile. So we have a single metric in each case that is contributing 100% of the traffic, meaning the  100% `pieSliceText` is applied to the centre of the donut, overlapping our label.

B

[2021-03-22 12:51] tofumatt commented on #2846
1. I've done my best in a follow-up PR to improve the mobile styling:
<img width="571" alt="Screenshot 2021-03-22 at 12 16 10" src="https://user-images.githubusercontent.com/90871/111992165-03d41b00-8b0d-11eb-9e8d-2bc809ccb90f.png">
but there are still issues when the string is longer on an iPhone 8 screen size (eg translated):
<img width="432" alt="Screenshot 2021-03-22 at 12 31 54" src="https://

[2021-03-22 13:20] aaemnnosttv commented on #2739
@tofumatt I've tracked down the point where the behavior of the tour changes to this breakpoint:
* window < 783px = bad
* window > 782px = good

This is a breakpoint used in WP admin in several places so it isn't exactly clear what specifically is broken but it seems related to this issue: https://github.com/gilbarbara/react-joyride/issues/594. Looking at [the PR for this](https://github.com/gilba

[2021-03-22 13:28] aaemnnosttv commented on #2846
@tofumatt would it not be better to remove the label from the date range menu in mobile like we do with the user menu? Not sure why that one in particular would be special in this viewport size. We shouldn't need to use an alternate logo in mobile but I suppose that's possible too. I would think that would be more of a last resort though.

[2021-03-22 13:56] jamesozzie commented on #2998
Great point, thanks @asafm7

[2021-03-22 14:12] felixarntz commented on #2935
@ivankruchkoff Ah good catch! Maybe we don't actually need that anymore - @aaemnnosttv can you think of any reason why that's still there? I thought we now create the real proxy URLs on the server on demand, so I'd think the proxy nonce (and some of the other data) is no longer needed on the client and maybe shouldn't be there anymore.

[2021-03-22 14:26] felixarntz commented on #2847
@aaemnnosttv @tofumatt @eugene-manuilov Since #2846 was already merged, this here also needs to go with it as mentioned; let's make sure to pick this up over anything else for the release or not the release. The user input stuff is less urgent.

Alternatively, we need to revert #2846 from `develop` as those should be shipped together.

[2021-03-22 14:28] felixarntz commented on #2739
@aaemnnosttv Sounds good, let's disable on those viewports for now. Can you open an issue to address this in the future?

[2021-03-22 14:44] bethanylang commented on #2796
@felixarntz Reassigning to you for triage. As Darren noted, this looks like a pretty isolated edge case, so probably not a priority.

[2021-03-22 16:14] eugene-manuilov commented on #2901
@tofumatt could you please take a look at https://github.com/google/site-kit-wp/pull/2984#discussion_r598668340?

[2021-03-22 16:37] tofumatt commented on #2739
Agreed, disabling them on small viewports for now seems fine to me. I'm filing the follow-up issue now 🙂

[2021-03-22 16:45] tofumatt commented on #2846
Ah, true actually. I considered doing just "28 days" over "Last 28 days", but yes, removing the text entirely would work as long as we highlight the currently-selected item in the dropdown. Let's do that 👍🏻

[2021-03-22 17:35] felixarntz commented on #2849
Closing per internal reply.

[2021-03-22 17:35] #2849 closed

[2021-03-22 17:43] felixarntz commented on #2132
Closing this as `invalid`, since for a while now Site Kit has been using a request before connecting to check the service URLs. As such, improving the accuracy of Site Kit's own checks shouldn't be needed any longer.

[2021-03-22 17:43] #2132 closed

[2021-03-22 17:44] tofumatt opened #3003 "Show tooltip tours on smaller screen sizes (depends on upstream package updates)"
## Feature Description

Currently we disable our tooltip tours on smaller viewports—see https://github.com/google/site-kit-wp/issues/2739#issuecomment-804106445. This is because the upstream package has issues with absolutely-positioned elements as documented in this issue with React Joyride: https://github.com/gilbarbara/react-joyride/issues/594

Once that is fixed let's enable the tooltip tours

[2021-03-22 17:46] felixarntz commented on #2962
This is similar to #2031, but goes a bit further. As such, let's combine these issues into a single one; since this here is the broader text change, I'll close #2031.

[2021-03-22 17:47] felixarntz commented on #2031
#2962 requests another copy change in the same string, going a bit further though. The suggestions from both are being combined there; as such, closing this as a duplicate.

[2021-03-22 17:47] #2031 closed

[2021-03-22 17:58] felixarntz commented on #1616
This will become more feasible as stories are being migrated to CSF (see [this doc](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit), specifically [here](https://docs.google.com/document/d/1Ny2Tlo1_FxZY6s6dC2-E1TWJYi1rhp0OMEtEfXxwXjY/edit#heading=h.qb9296pheam6)).

For now marking as _Stalled_ because it's not really applicable until then.

[2021-03-22 18:07] felixarntz commented on #2395
@aaemnnosttv @asvinb Is this still worth doing? What's the pain point specifically from not having it? I guess I'm asking because all existing notifications are in place without this.

[2021-03-22 18:07] felixarntz commented on #2406
Marking as _Stalled_ as it's not a priority to revise this anytime soon.

[2021-03-22 18:13] felixarntz commented on #2443
Closing as duplicate of (superseded by) #2501

[2021-03-22 18:13] #2443 closed

[2021-03-22 18:17] felixarntz commented on #2506
@aaemnnosttv @tofumatt @eugene-manuilov We have removed the "lazy-loading" functionality for the admin bar pieces at some point, but potentially worth bringing it back? Or could you think of other ways to reduce the performance impact here?

It's certainly not great if logged-in users are impacted by this in the frontend when they don't use the Site Kit admin bar menu in that moment.

[2021-03-22 18:18] marrrmarrr commented on #1750
I think the benefit of warning a minority of users will likely be obscured by the extra step / annoyance we'd create for the majority of users (generally if people want to uninstall something, they want the quickest way possible).
I'm closing this for now, but if lots of complaints from confused users pop up, we could reconsider the benefits.

[2021-03-22 18:18] #1750 closed

[2021-03-22 18:23] aaemnnosttv commented on #2935
@felixarntz we do create real proxy URLs on demand now which we need to do to make the URL available via the datastore. This doesn't currently create a persistent nonce though, I think the problem is related to a change in the PR that perhaps should not have been made.

@ivankruchkoff – you updated the `Authentication::get_proxy_setup_url` method to use this persistent on-demand nonce where this n

[2021-03-22 18:25] felixarntz commented on #2862
Addressing this bug requires more holistically reviewing the current state of support for multilingual plugins; since there is no standard implementation, there's no clear API we can hook into to address this; at the same time, manually supporting and keeping track of various technically different language plugins also seems infeasible.

Moving this to _Stalled_ for now; depending on the impact of

[2021-03-22 18:26] marrrmarrr commented on #2292
@jamesozzie when you suggested "However, the configured Analytics tags reference different property IDs or are incomplete", did you mean "the setup was not completed"?
"Incomplete" could be interpreted as e.g. a character is missing from the tag or similar.

[2021-03-22 18:33] felixarntz commented on #1996
Closing since this is fixed with the new widget and will be available to everyone when the widget-based dashboard rolls out.

[2021-03-22 18:33] #1996 closed

[2021-03-22 18:34] felixarntz commented on #1769
Moving to _Stalled_ - we can revisit this once the refactoring is complete and we have some time to dive into this.

[2021-03-22 18:36] felixarntz commented on #1771
Moving this to _Stalled_ for now; let's revisit later when we have some extra capacity, since this doesn't seem as trivial as we first thought.

[2021-03-22 18:43] jamesozzie commented on #2292
@marrrmarrr Correct, that's what I was trying to portray, "_the setup was not completed_" would indeed be more suitable than "are incomplete" in this context.

[2021-03-22 18:44] #196 closed

[2021-03-22 18:51] felixarntz commented on #2065
IB ✅

[2021-03-22 18:51] felixarntz commented on #2937
IB ✅

[2021-03-22 18:56] rafapontederino commented on #1491
Hi @jamesozzie, did you find any solution for "Adblocker detected, you need to disable it in order to set up AdSense"?

[2021-03-22 18:56] aaemnnosttv commented on #2739
@tofumatt – follow-up PR is ready for review!

[2021-03-22 18:56] eugene-manuilov commented on #2907
@aaemnnosttv assigning back to you for code review. I have fixed the e2e issue and a regression introduced by the original approach.

[2021-03-22 19:53] jamesozzie commented on #1491
@rafapontederino Apologies for the late response. I do see some [Ad Block related referenced](https://i.imgur.com/vnJbc7B.png) when checking your site source code although I'll need to check up on this. Strange that the Health Check & Troubleshooting plugin didn't allow you to proceed, with only Site Kit active while in troubleshooting mode.

Do you see any [console errors](https://imgur.com/KyLAz

[2021-03-22 20:21] abdullah1908 commented on #2349
@bethanylang I couldn't replicate this by using uninstall/reinstall trick.

[2021-03-22 20:26] felixarntz commented on #2214
Looks like this was already addressed as a side effect of #2029 (issue #1857), so this should be invalid.

[2021-03-22 20:26] #2214 closed

[2021-03-22 20:48] bethanylang commented on #2349
@abdullah1908 Apologies for not being clearer - the user said that they were able to fix the issue by uninstalling and reinstalling, so it makes sense that you did not see the error after doing that. In this case, you were unable to reproduce the original issue prior to uninstall/reinstall, correct?

[2021-03-22 21:10] tofumatt commented on #2846
Update: it now looks like this which I think is a lot better:

<img width="475" alt="Screenshot 2021-03-22 at 21 09 27" src="https://user-images.githubusercontent.com/90871/112058762-e629a480-8b52-11eb-91cd-f614c72b43fd.png">

[2021-03-22 21:16] jamesozzie opened #3005 "Ensure adding a www prefix doesn't result in reporting of Analytics and AdSense from that date only (or vice versa)"
## Bug Description

As raised in the [WordPress support forums](https://wordpress.org/support/topic/past-performance-not-showing-after-url-change-from-www-to-non-www-subdomain/page/2/#post-14219206) at present when a user adds www to their site URL they're then prompted to setup Site Kit once more, with the plugin identifying this new URL.

With any such www prefix modifications Site Kit should ma

[2021-03-22 22:06] tofumatt commented on #2901
@felixarntz I agree with @eugene-manuilov's review of this—I think we might want to close it out as the input doesn't behave the same way as the screenshot, so this isn't needed anymore to prevent the placeholder from getting awkwardly cut off. Plus the change actually makes the input _less_ obvious and usable.

[2021-03-23 05:52] Zameer42 opened #3006 "site kit is keep on disconnecting from my website."
I have connected the google site kit with my website. but it keeps on disconnecting from my website after some time. I always have to connect it again. I don't know why is it happening. would really appreciate your input on this issue.

[2021-03-23 09:03] aaemnnosttv commented on #2989
@caseymorrisus I think this should naturally be handled in #1769. If you agree, let's close it; otherwise let's clarify why it would be needed separately 👍

[2021-03-23 10:00] jamesozzie commented on #3006
Hi @Zameer42. Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist.

Please include as much relevant information to your support topic as needed to assist with this issue. You can share your Site Health info or any additional in

[2021-03-23 10:00] #3006 closed

[2021-03-23 10:29] tofumatt commented on #2851
The radio buttons aren't currently tabbable so that's correct—just clarifying that point as earlier I had marked it as a potential problem, but it's not.

I've added the "Other" not being tabbable when "Other" isn't selected to the ACs/IB, so I think this is now good for review again 👍🏻

[2021-03-23 10:56] abdullah1908 commented on #2349
@bethanylang yes you are right.

[2021-03-23 11:30] wpdarren commented on #2793
@asvinb  I'm looking at the AC’s and the 1st one, says `question_advance: User clicks "Next" button on a question (event label should be the slug of the current question, e.g. role)` Are we sure it should be the current question slug appearing in console?  When I click “Next” button, I see the slug for the previous question. i.e. I am on question 2 which is post frequency.  I click the next button

[2021-03-23 11:57] wpdarren commented on #2844
### QA Update:

- When the user completes one or more questions, navigates away and then returns to the User Input questions, the answers appear for the questions answered.

- After submitting answers, and editing a question in settings. The user then changes the answer but does not save. When navigating away from the page, you go back into edit the answer, the changed, unsaved selection is _not_

[2021-03-23 12:26] jamesozzie commented on #2840
Update on this issue. After various tests I've been able to reproduce this by following the steps below ([Internal task](https://app.asana.com/0/1185360131189553/1199938125092438/f)):

1. Setup SK and Analytics on a site that is http (both defined URLs http://www.site.com, including the www)
2. Activate https and setup a redirect to ensure secure traffic (at hosting level, no plugins). No preferre

[2021-03-23 12:29] jamesozzie commented on #2840
@abdullah1908 Assigning to L1 to see if any action is required or further testing necessary. Particular hosting configurations with preferred domain prefix's may result in this notice. It may be worth checking both https and www changes along on some of the shared hosting platforms we have.

[2021-03-23 12:36] jamesozzie commented on #2864
@oratoran Just to let you know I've spoken with the team on this and it may be possible with the use of a canonical filter.

@adamsilverstein Escalated to L2 for you to review as per previous support sync.

[2021-03-23 12:38] wpdarren commented on #2739
### QA Update: Pass ✅

**Verified:**

- When Google Analytics is activated, the tooltip tour appears
- As a user I am able to click on the next button to go through the tour steps.
- The Tooltip tour only appears on Site Kit Dashboard
- When the screen size width is  782px then the tooltip does not appear.
- When the X icon or "Got it' link is clicked then the tour is closed.
- When the user refre

[2021-03-23 14:04] felixarntz commented on #2793
@wpdarren That is the expected behavior, the tracking events should send the slug of the question you're currently on. I guess the events are more of an "advance from" than an "advance to".

[2021-03-23 14:12] rafapontederino commented on #1491
@jamesozzie Look at the pictures! but I have no idea what to do after this
![Screenshot (45)](https://user-images.githubusercontent.com/80829188/112160151-30119980-8bea-11eb-933d-ecb1ae5f52c2.png)
![Screenshot (46)](https://user-images.githubusercontent.com/80829188/112160155-3142c680-8bea-11eb-858e-5789edb5229c.png)

[2021-03-23 14:17] jamesozzie commented on #2349
I did a review of the below support topics with users who experienced these errors:

- https://wordpress.org/support/topic/site-kit-encountered-an-error-21/ - **Resolved - uninstalled / reinstalled** ([SH info provided](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNiMzLUUPH0TroGcQQIAnojbfD3bP9rPAa8aQ8tPMhFfvh32r_jPyVe7fJHv3-74S14))
- https://wordp

[2021-03-23 14:21] jamesozzie commented on #1491
@rafapontederino Many thanks for sharing, this information is great to troubleshoot.

As you're unable to access the support forums in this case I'll create a separate GitHub issue for you. Please allow me some time and I'll comment you in on that issue, we can troubleshoot from there.

[2021-03-23 14:24] rafapontederino commented on #1491
@jamesozzie Ok, many thanks for your help

[2021-03-23 14:40] bethanylang commented on #2349
Thanks so much for pulling this all together, @jamesozzie. Escalating to L2 and reassigning to @aaemnnosttv.

[2021-03-23 14:41] jamesozzie opened #3007 "Ad Blocker detected despite no such ad blocker active"
## Bug Description

As reported in #1491 one user is unable to view their AdSense dashboards within Site Kit, with an Ad Blocker notice appearing. This notice appears despite checking while in troubleshooting mode using the Health Check & Troubleshooting plugin - from a Chrome browser incognito window

Ad AdSense level the below is reported:
[code]

## Screenshots

**_There are some Ad Block code

[2021-03-23 14:48] jamesozzie commented on #3007
@rafapontederino Let's troubleshoot this issue from here as opposed to the previously closed support topic. In order to do so please share a full list of plugins you have active, or preferably provide your [Site Health information](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/) here.

[2021-03-23 15:32] bethanylang commented on #3005
Noting that per discussion in today's meeting, it appears that this only affects `www` vs. non-`www` change, **not** `https` vs. `http` change.

[2021-03-23 16:00] eugene-manuilov opened #3009 "Weird behavior of the search term input fields"
## Bug Description

Search term input fields don't allow you to enter a space at the end (thus users can't enter search terms consisting of multiple words) and when you try to edit an existing keyword, the cursor jumps to the end.

## Steps to reproduce

1. Go to the search terms screen of the user input settings flow.
2. Try to enter a multi-word keyword or edit something in the middle of the ent

[2021-03-23 16:19] eugene-manuilov commented on #2848
@aaemnnosttv or @tofumatt do you mind reviewing #3008? It fixes styles issues and one bug in the search term input fields.

[2021-03-23 16:38] rafapontederino commented on #3007
@jamesozzie attached is the list of plugins. But in the Site Health Information form, I confuse about
![Screenshot (49)](https://user-images.githubusercontent.com/80829188/112183398-812b8880-8bfe-11eb-9431-75bbacf92c42.png)
![Screenshot (50)](https://user-images.githubusercontent.com/80829188/112183403-825cb580-8bfe-11eb-9329-f914e0332d8a.png)
![Screenshot (51)_LI](https://user-images.githubuserco

[2021-03-23 17:53] aaemnnosttv commented on #2395
@felixarntz As I recall, this issue was created due to limitations implementing a notification layout (maybe for User Input?). I think we may have been able to do it but it may have required extra styles where ideally we could simply pass some alternate props to the `Notification` to alter the layout.

Was there any more context to add here @asvinb ?

[2021-03-23 18:29] felixarntz opened #3011 "Render ad blocker warning in AdSense dashboard widgets"
## Bug Description

For the legacy/current version of the dashboard, the ad blocker warning renders above the two AdSense widgets when relevant (see e.g. https://github.com/google/site-kit-wp/issues/1491#issuecomment-804935887). This is a bit odd, but it's not worth fixing it for the legacy widgets.

For the refactored versions using the Widget API though, both AdSense widgets that render in the d

[2021-03-23 18:47] jamesozzie commented on #3007
@rafapontederino Apologies, my mistake. You can use [this WordPress URL](https://wordpress.org/support/topic/read-first-welcome-to-the-site-kit-support-forums-3/) reference to share.

[2021-03-23 18:56] felixarntz opened #3012 "Improve performance and fix scalability issue with matching Analytics properties by tag or site URL"
There are two scenarios in the Site Kit codebase where a significant amount of Analytics API requests may be necessary to match a property in _any_ of the user's accounts based on certain requirements:
* The `GET:accounts-properties-profiles` datapoint relies on the logic in `GET:properties-profiles` to find a matching property by website URL, but it calls that datapoint for every account until so

[2021-03-23 18:57] felixarntz commented on #3012
cc @aaemnnosttv This is a fairly big issue now, but I think it makes sense to handle it together as the implementation may get some overlap, e.g. reusable private methods.

[2021-03-23 19:21] jamesozzie opened #3013 "Include option to insert the Anti Flicker snippet when connecting Optimize"
## Feature Description

When a user is setting up Optimize at present it's required for the user to setup the Experiment at [optimize.google.com](https://optimize.google.com)

During testing the experiment it's always suggested that users install the anti flicker snippet. While this is only a suggestion which most users won't require having this as an option will allow users to insert this snippet

[2021-03-23 20:19] rafapontederino commented on #3007
@jamesozzie I did submit my Site health Information form

[2021-03-23 21:07] aaemnnosttv opened #3014 "Add tracking for client side errors"
## Feature Description

In #1999 we added event tracking for API errors on the client – whenever an API request results in an error, we track that as an event in our anonymous usage tracking for improving the product. While useful, this only covers API errors. We already have an error boundary in place for other errors where React gets into an unrecoverable state; we should add similar tracking to

[2021-03-23 21:09] aaemnnosttv commented on #3014
@felixarntz assigning to you to add event details, although these could probably be added later as well.

[2021-03-23 21:28] aaemnnosttv commented on #2506
@felixarntz It's not as simple as just loading some JS asynchronously, we also have to consider localizations which require the entry point script to be enqueued.

The file size is an issue by itself, admin bar aside, we could probably do more to optimize the size of our bundle to make for a better experience everywhere (not just on the front end). Apart from the vendor bundle though, our assets a

[2021-03-23 21:33] jamesozzie commented on #3007
Many thanks for sharing. I noticed what looks like a GoDaddy CDN active on your site, with content served from secureservercdn.net. Can you try and disable this CDN at host level and let me know if the same issue persist?

You'll need to also make your website live while checking, it seems down at present.

[2021-03-23 21:35] aaemnnosttv commented on #2907
@eugene-manuilov please review the QA Brief and update, if appropriate.

[2021-03-23 21:39] rafapontederino commented on #3007
Could you please tell me where exactly I can disable the CDN?

[2021-03-23 21:51] aaemnnosttv commented on #2935
@ivankruchkoff – after discussing with @felixarntz, we've decided to hold on the requirement to support the case where the request continues to work after logging in as part of this issue and I've removed that point from the ACs accordingly. For now, this only needs to be concerned with ensuring the plugin handlers for those are only executed for logged in users.

We'll open a follow-up issue to s

[2021-03-23 22:02] rafapontederino commented on #3007
I still cannot access secureservercdn.net
![Screenshot (52)](https://user-images.githubusercontent.com/80829188/112224596-c4e8b700-8c2b-11eb-9bcd-cd01676dd452.png)

[2021-03-23 22:03] aaemnnosttv commented on #2848
@eugene-manuilov does your PR address everything in https://github.com/google/site-kit-wp/issues/2848#issuecomment-802794834? Otherwise, looks good.

[2021-03-24 05:33] ivankruchkoff commented on #2935
To confirm @aaemnnosttv rather than create the persistent nonce approach, we can update the nonce validation https://github.com/google/site-kit-wp/blob/2bac88b/includes/Core/Authentication/Authentication.php#L1049 to create a new validation link for the user to follow. So they would:

1. Start oauth validation
2. Be signed out and sign back in thus invalidating their nonce.
3. Nonce validation fai

[2021-03-24 09:37] jamesozzie commented on #3007
@rafapontederino You don't access that domain directly. Please check for any CDN options within your GoDaddy configuration, or any other caching or optimization feature from your GoDaddy hosting configuration. Once you temporarily disable any such feature please ensure your site is live before attempting to connect the AdSense module once more.

[2021-03-24 10:08] eugene-manuilov commented on #2848
@aaemnnosttv #2995 fixed everything in QA feedback comment. #3008 fixes a few more issues found during testing #2995.

[2021-03-24 10:10] eugene-manuilov commented on #2907
Updated QA slightly to verify that the 5th question works as intended.

[2021-03-24 10:12] rafapontederino commented on #3007
Yes finally :)
Thanks, @jamesozzie. But what I should do with the CDN configuration? Should I keep it off, or I need to turn on it again?

![Screenshot (53)_LI](https://user-images.githubusercontent.com/80829188/112292879-d06ec900-8c91-11eb-8532-7efcb980e752.jpg)
![Screenshot (54)_LI](https://user-images.githubusercontent.com/80829188/112292889-d2388c80-8c91-11eb-8469-babd4d0d251b.jpg)

[2021-03-24 10:38] jamesozzie commented on #3007
@rafapontederino I'll need to check this configuration myself, I can't be sure. Please allow me some time to check. In the meantime can you confirm that when you access the AdSense tab or the AdSense edit screen within Site Kit (Site Kit > Settings > AdSense > Edit) that you no longer see the Ad Blocker related notice?

[2021-03-24 11:22] rafapontederino commented on #3007
@jamesozzie Ok thanks, I don't see any Ad Blocker-related notice.

![Screenshot (55)](https://user-images.githubusercontent.com/80829188/112302582-8ab6fe00-8c9b-11eb-980e-c8c5fc64ae8c.png)
![Screenshot (56)](https://user-images.githubusercontent.com/80829188/112302589-8b4f9480-8c9b-11eb-9cdb-48575c9837eb.png)
![Screenshot (57)](https://user-images.githubusercontent.com/80829188/112302592-8be82b00-

[2021-03-24 11:28] asvinb opened #3016 "User input font sizes on small screens"
## Feature Description

The current font sizes for the user input components are quite large on mobile (as per designs), however the user input screen should still look good and usable if we apply the same font sizes from the desktop breakpoint to the mobile breakpoint. The changes should be applicable to text only elements (not buttons, inputs). A quick mockup of how the user input preview screen

[2021-03-24 11:28] asvinb commented on #2886
@felixarntz Ticket created: https://github.com/google/site-kit-wp/issues/3016 :)

[2021-03-24 11:29] asvinb commented on #2886
Progress bar alignment will be fixed in #2985

[2021-03-24 11:39] jamesozzie commented on #3007
Great to know, really appreciate your screenshots and troubleshooting efforts, in particular as others did report similar notices in the support forums. I'm going to check a similar setup today and I'll inform you of any CDN findings.

[2021-03-24 11:43] rafapontederino commented on #3007
Thanks, @jamesozzie, many thanks for your help and support. Looking forward to hearing some updates from you

[2021-03-24 12:21] jamesozzie commented on #3007
I've tested a GoDaddy install and I've been [unable to recreate](https://recordit.co/3i12JVYko4) the same notice from my side. If it's possible for you to share the following we can hopefully ensure you can once again reenable the GoDaddy CDN:

1. Do you have any [additional services](https://i.imgur.com/v32mLOV.png) active at GoDaddy hosting level?
2. Did you recently switch to https on your site

[2021-03-24 12:31] wpdarren commented on #2846
### QA Update: Fail ❌

@tofumatt I am pretty confident that it was removed before, but when I look at the pages, other than the Site Kit dashboard, they all have the "Need help?" link in the bottom footer of the page. Could you clarify if this is expected or not? Other than this, it's looking great on smaller screen sizes now.

![image](https://user-images.githubusercontent.com/73545194/112310280-

[2021-03-24 12:34] jamesozzie commented on #3007
Impacted users from support forums - 4 in total so far (1 in this GitHub thread and not in support forums)  -  GoDaddy users while 1 unconfirmed although likely from inspection

- https://wordpress.org/support/topic/ad-blocker-detected-you-need-to-disable-it-in-order-to-set-up-adsense-2 **Unresolved** ([SH info provided](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/

[2021-03-24 12:35] tofumatt commented on #2846
That's not expected, I wonder if there was a merge conflict I missed or they were added back? I'm taking a look right now.

[2021-03-24 12:43] rafapontederino commented on #3007
1. I don't have any additional services active at GoDaddy hosting level (see picture below)
2. I did not switch to HTTPS, but since the SSL certificate is qualified, the HTTPS is on (I am not sure about this)
3. I have migrated the content from wp localhost that I've created, no site kit set up on the localhost

![Screenshot (59)](https://user-images.githubusercontent.com/80829188/112312115-bc8192

[2021-03-24 12:58] wpdarren commented on #2907
### QA Update: Pass ✅

**Verified:**

The next button is disabled when other is selected but no text has been entered in the other text field.

![image](https://user-images.githubusercontent.com/73545194/112314089-93332700-8ce3-11eb-8b6a-2df502b5c1f3.png)

The preview (next) button is not disabled on the 5th question when only one or two search terms are entered.

![image](https://user-images.gith

[2021-03-24 13:06] tofumatt commented on #2846
There are a lot of other `<HelpLink />`s not mentioned in the IB actually, but I suppose I should've searched for them 😓

Quick PR incoming to fix that 😄

[2021-03-24 13:22] bethanylang commented on #2983
Removed the Escalation label as this issue is now going through the Execution pipeline.

[2021-03-24 13:54] wpdarren commented on #2848
### QA Update: Fail ❌

@eugene-manuilov @tofumatt there are still a few issues, I am afraid.

1) The two issues reported in my [previous comment](https://github.com/google/site-kit-wp/issues/2848#issuecomment-802794834) do not appear to be fixed. Refreshed develop branch. Only applies to small sized viewpoints.

2) The initial issue reported with the scrolling is resolved on small viewpoints but u

[2021-03-24 14:33] jamesozzie opened #3018 "Ad Blocker incorrectly detected when using GoDaddy CDN"
## Bug Description

As reported in #3007 when using the GoDaddy CDN Site Kit is incorrectly detecting an Ad Blocker, resulting in non reporting of AdSense dashboards and the inability to connect the module.

A temporarily workaround for impacted users is to deactivate this CDN configuration from their GoDaddy control panel.

## Screenshots

![image](https://user-images.githubusercontent.com/413265

[2021-03-24 14:35] jamesozzie commented on #3007
@rafapontederino Many thanks for sharing the additional insights. As we've now identified the cause I'll close this support based issue as I've added context to a bug report (#3018)

I'll check this with the team as this requires further inspection.

[2021-03-24 14:36] #3007 closed

[2021-03-24 15:07] wpdarren commented on #2828
### QA Update: ⚠️ Engineer to clarify behaviour

I would like to clarify what I am seeing:

- On `step 3`, I select `Publish news content`
- Then I type in text into the `Other` input text field.
- This automatically, checks the `Other` checkbox option.
- When I deselect `Other` all of the options become active and none are greyed out.
- But, when I go to delete the text in the `Other` input text

[2021-03-24 15:10] johnPhillips commented on #2991
Note: thanks to @wpdarren I managed to get hold of the reports that caused this - adding to the issue.

[2021-03-24 15:55] felixarntz commented on #2846
@tofumatt The PR is almost ready, should be a quick update.

[2021-03-24 16:49] aaemnnosttv opened #3019 "Release 1.29.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-03-24 17:12] aaemnnosttv commented on #2828
Thanks @wpdarren – I think what you're describing is okay. I agree it might be better if clearing the input did not cause the field to become checked, but should not be a blocker here. You could extend the same thinking to the behavior of the checkbox – if we uncheck the checkbox should we also clear its input field? If we clear the input, should we also uncheck the box automatically? Most importa

[2021-03-24 17:18] felixarntz commented on #2901
@tofumatt @eugene-manuilov Those are good points, we can amend the ACs. However, I don't think we should close it as the ACs also mention an accessibility fix that is still relevant as far as I can tell?

[2021-03-24 17:19] felixarntz commented on #2851
IB ✅

[2021-03-24 17:23] felixarntz commented on #2828
@wpdarren @aaemnnosttv I'm not sure what's the best UX for this. I also first thought that maybe the text should be removed when unchecking the box, but that might also be annoying if you wanted to re-check it and then would have to type the same text again.

I think we can move forward with this as is. We're not going to launch it just yet, and another UX review at some point or users reporting t

[2021-03-24 17:47] ivankruchkoff commented on #2935
Update following meeting, this IB only needs to cover the different action, no need for nonce changes or new links for validation.

[2021-03-24 18:17] ivankruchkoff commented on #2935
Updated the PR following the updated IB instructions.

[2021-03-24 21:23] aaemnnosttv commented on #2935
@felixarntz – in case you want to include this in the release – ✅  from me – it's a simple change.

[2021-03-24 22:35] felixarntz commented on #2969
@aaemnnosttv Can we please prioritize this? Would be great to add it to the upcoming sprint. cc @eclarke1 @fhollis

[2021-03-24 22:36] felixarntz commented on #2935
Makes sense to include, but GH actions is stuck again :/ We should make sure to work on #2969 in the coming sprint.

[2021-03-24 22:39] felixarntz commented on #2969
Can we potentially add the "Cancel previous" change to the ACs, so that it is included in every workflow instead being a separate one? I agree that makes sense and should be trivial.

Regarding use of a matrix, that's a bit more involved - also I'm not sure how a matrix would help. @swissspidy Does GH Actions count 3 different PHP test workflows vs 1 PHP test workflow with a matrix and 3 scenarios

[2021-03-24 22:55] swissspidy commented on #2969
You'll only have a single run for a single job in the queue rather than 3 different ones. It will also reduce the total running time due to reduced overhead for setting up the runner and all the job's steps. And minutes spent also count towards [billing](https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions#about-billing-for-githu

[2021-03-24 23:35] felixarntz commented on #2969
Thanks @swissspidy! @aaemnnosttv Maybe let's open a separate issue for ^ since it's a bit more involved of a change.

[2021-03-24 23:54] felixarntz commented on #2847
@johnPhillips Can you please add a QA Brief here?

[2021-03-25 01:12] wpdarren commented on #2846
QA Update: Pass ✅

**Verified:**

With `helpVisibility` feature flag disabled.

- No differences can be found in the header on any page (no new help icon link is visible) - [Screenshot](https://user-images.githubusercontent.com/73545194/111784920-ea598600-88f6-11eb-8f9e-13e0292fe0b4.png)
- The `Need help?` link appears in the bottom footer of the page  - [Screenshot](https://user-images.githubuser

[2021-03-25 01:16] wpdarren commented on #2828
### QA Update: Pass ✅

**Verified:**

Reproduced the weird checkbox behaviour on any question that has checkboxes requiring a multiselect. On the develop branch though I could see though that when I deselect `Other` all of the options become active and none are greyed out, which it wasn't doing before.  Documented the [behaviour above](https://github.com/google/site-kit-wp/issues/2828#issuecomment

[2021-03-25 01:30] wpdarren commented on #2848
### QA Update: Pass ✅

**Verified:**

- The question is fully visible after being scrolled into view when clicking "Next" or "Back" on desktop and mobile.
- Made sure that when preview was clicked the page scrolled automatically goes to the top off the questions
- Made sure that when the edit link is clicked and a question changed then updated, the page scrolled automatically goes to the top off t

[2021-03-25 03:12] wpdarren commented on #2944
### QA Update: Fail ❌

@aaemnnosttv @tofumatt  when I click on the `X` icon to close the Tooltip tour, in the log I see `feature_tooltip_complete` but according to the QAB, this should be `feature_tooltip_dismiss` I've looked through the log and cannot find this event type.

![image](https://user-images.githubusercontent.com/73545194/112413211-c5cc3680-8d5a-11eb-860a-8091f1e57656.png)

[2021-03-25 03:37] wpdarren commented on #2793
@felixarntz I want to clarify to make sure I’m not misunderstanding:  I am on Question 1 on the user input screen: I complete the question and click “Next” button,  I go to question 2.  When I look in the log for the `eventLabel`, I see the slug for `role` which is the **previous** question. The current question is no.2 which is `post frequency`  In the AC it says the` event label should be the sl

[2021-03-25 09:17] aaemnnosttv commented on #2944
Thanks @wpdarren – looking at your log there (and based on the existing test coverage) this condition you found is specific to dismissing on the last step of the tour (with the X/close button). I've opened a follow-up PR for this including added test coverage for this case but it would be great if you could confirm once it's merged.

[2021-03-25 09:28] aaemnnosttv commented on #2935
## QA ✅

* Navigated to Splash screen
* Logged out in separate tab
* Clicked _Sign in with Google_ button on splash page
* Redirected to WP login
    * After logging in, user is blocked by "Invalid nonce" message but plans are to address this in a separate issue

---

* Verified `handle_oauth` callback is hooked on `admin_init`
* Verified `Analytics::handle_provisioning_callback` is hooked on `adm

[2021-03-25 09:37] aaemnnosttv commented on #2828
## QA ✅

Multi-select with Other field seems to work as expected.

[2021-03-25 09:50] aaemnnosttv commented on #2974
@felixarntz I updated `webDatastreamID` -> `webDataStreamID` per my previous comment in the doc.

IB ✅

[2021-03-25 10:15] jamesozzie commented on #2350
Another "Mapselect" error just reported [in the support forums](https://wordpress.org/support/topic/just-set-it-up-says-report-this-error-no-name-of-it/):
`‘mapSelect’: Cannot read property ‘getReport’ of null`

Awaiting additional insights.

[2021-03-25 10:53] aaemnnosttv commented on #2975
@eugene-manuilov IB looks good, with one suggestion:
- Instead of modifying `Modules::get_active_modules_option`, how about we return `'force_active' => true,` from the GA4 module's `setup_info` method when Analytics is in the list of active module slugs. We'd probably have to check the option directly (module classes don't have access to `Modules` anyways) but this seems like it might be a better

[2021-03-25 11:04] aaemnnosttv commented on #2979
IB ✅

[2021-03-25 11:09] aaemnnosttv commented on #2977
IB ✅

[2021-03-25 11:16] aaemnnosttv commented on #2976
@eugene-manuilov – IB looks good – one thing we should add is importing the store and adding it to this array so that it is available in all test registries: https://github.com/google/site-kit-wp/blob/8df049f73589fea2ef5de13b711d23bef1ec70fe/tests/js/utils.js#L53-L55

[2021-03-25 11:20] aaemnnosttv commented on #2985
Thanks @asvinb – this looks good, just one question: why not leave the width 100% and apply the gap with the appropriate `$grid-gap-` as horizontal margin?

[2021-03-25 11:39] aaemnnosttv commented on #2980
IB ✅

[2021-03-25 11:41] asvinb commented on #2793
@wpdarren This is correct. If you're on the first question, for e.g role, you click on the "Next" button, you will see the slug "**role**" being sent, while at the same time, you switch to the next question, which is "**postFrequency**". So the current question is the one before the next button is clicked.

[2021-03-25 11:56] aaemnnosttv commented on #2991
Thanks @johnPhillips – the IB looks good regarding logic that needs to happen. Regarding the utility, can we maybe generalize this a bit? That is, could we extract a more general utility to use for _any pie chart_ that would tell us if the resulting chart would be a single slice? It might be called `isSingleSlice()`. What do you think?

[2021-03-25 11:58] aaemnnosttv commented on #2962
IB ✅

[2021-03-25 12:23] Hazlitte commented on #3019
On the detailed page stats I have noticed that 0 clicks is incorrectly aligned.  I think I have seen a similar issue reported but for the avoidance of doubt here are screenshots.

![Screenshot 2021-03-25 at 12 16 13](https://user-images.githubusercontent.com/5174233/112472277-d8e40400-8d64-11eb-913c-099a6eff1a52.png)
![Screenshot 2021-03-25 at 12 21 55](https://user-images.githubusercontent.com/51

[2021-03-25 12:34] eugene-manuilov commented on #2975
I think it will be more cumbersome if we go this route. However, I can't say that I like the approach of hard coding module slugs in the Modules class anyway. From my point of view, we should make the `Analytics_4` class inherit the `Analytics` class and override/extend appropriate methods to achieve the desired functionality.

[2021-03-25 12:40] aaemnnosttv commented on #2944
@wpdarren – this is ready for another pass, although you'll want to wait for this to finish first: https://github.com/google/site-kit-wp/actions/runs/686519346 Then you can test with the latest `master`

[2021-03-25 12:43] aaemnnosttv commented on #3019
@Hazlitte this is related to https://github.com/google/site-kit-wp/issues/2992 which is about Goals, but it happens any time there is a 0% change between previous and current periods as it results in no change percent or arrow to be rendered. A good catch but I don't think it's a regression here, and we can update the aforementioned issue to be more general to all `DataBlock` components.

[2021-03-25 12:45] eugene-manuilov commented on #2976
Good catch, @aaemnnosttv. IB is updated.

[2021-03-25 13:05] tofumatt commented on #2901
Sounds good, I've edited the ACs/IBs to just deal with the accessibility issue 👍🏻

[2021-03-25 13:22] wpdarren commented on #2793
### QA Update: Engineer to confirm ⚠️

- I have gone through the ACs and made sure that all of the actions are included in the log file.  All looks good but
@asvinb my only observation is when you are on the admin settings screen `wp-admin/admin.php?page=googlesitekit-settings#admin` and you see all of the questions and answers, this appears in the log as `settings_view` but when I go to edit one

[2021-03-25 13:28] asvinb commented on #2793
@wpdarren As per the AC, you should see the following:

- settings_edit: User clicks "Edit" link on one of the questions in the user input settings panel (event label should be the slug of the question to edit, e.g. role).
- question_submit: User clicks "Submit" button on a question, after getting there via editing in the user input settings panel (event label should be the slug of the question to

[2021-03-25 13:34] asvinb commented on #2985
@aaemnnosttv Actually the progress bar within the parent container is positioned absolutely, thus if we add the margins, it'll look good on the left hand side, but not on the right hand side where it'll be against the edge of the content area (without the margin).

[2021-03-25 13:36] wpdarren commented on #2793
@asvinb yes, you're right. I do see those, but the log file changes very quickly when Site Kit redirects to the admin settings page, so all you see at the end is the results `settings_view` details.  I'll mark this as passed.

### QA Update: Pass ✅

I have gone through the ACs and made sure that all of the actions are included in the log file. All looks good

[2021-03-25 14:03] wpdarren commented on #2944
### QA Update: Pass ✅

I have gone through the AC's and made sure that the correct event data is included in the log file.

[2021-03-25 15:46] felixarntz commented on #2974
@aaemnnosttv Thanks for updating this throughout the other issues - was about to do that :)

[2021-03-25 16:03] aaemnnosttv commented on #2976
IB ✅

[2021-03-25 16:20] eugene-manuilov commented on #3012
@felixarntz this is ready for IB review. The only think that I am not sure about is the following statement in the AC section:

Not sure why we need to do it because we don't use it in the handler for `GET:accounts-properties-profiles` endpoint.

[2021-03-25 16:21] felixarntz commented on #2067
@eugene-manuilov Can you add a QA Brief?

[2021-03-25 16:23] felixarntz commented on #2069
@ivankruchkoff Please implement the widget header here in the same way that is done for `ModuleOverviewWidget`, using the same components that were merged in #2918.

[2021-03-25 16:41] felixarntz commented on #3012
@eugene-manuilov I think the IB here is a bit off.

What do you mean by intersecting accounts? I think this misses one of the main points in the ACs which is to _not_ use `GET:properties-profiles` to match the _property_. Basically we can assume that all accounts in the `$account_summaries` also exist in `$accounts`. The reason for using `$account_summaries` is that in there it contains all proper

[2021-03-25 16:44] aaemnnosttv opened #3025 "Prune unused SVGs"
## Feature Description

Since moving to using inline svgs rather than a sprite, we're able to do more with a single vector file (such as using a different `fill` via css) that we couldn't do before. Additionally, some graphics that were used before are simply no longer needed and can be removed. Doing a simple diff between the files in the repo and the svgs we import in JS, we can see there are ab

[2021-03-25 17:07] eugene-manuilov commented on #2067
QA brief is added.

[2021-03-25 18:13] aaemnnosttv commented on #2969
Are we sure that this is more effective? Either way it requires a newer job to start before a previous has finished for the previous to be cancelled (which isn't great) but it seems like the single job cancelling many at once would be more efficient in this regard, and this one is always very quick to run. The cancel action currently only cancels [workflow runs that were created before its own](ht

[2021-03-25 19:09] swissspidy commented on #2969
It doesn't matter how quick it is, if there are 50 other items  ahead of it in the queue.

In our experience so far this change made things work really well. To be really sure we could of course just do both.

[2021-03-25 19:23] felixarntz commented on #2969
@aaemnnosttv

Yeah, I think any rearrangement of jobs (other than the "Cancel" one) should be left for a follow-up issue.

[2021-03-25 19:39] tofumatt commented on #2847
QA ✅

[2021-03-25 19:44] marrrmarrr opened #3026 "Verify that Help/header icons should be highlighted in inactive state"
## Bug Description

The Help icon is highlighted even when the menu is deactivated.

## Steps to reproduce

1. Click on the Help icon, menu dropdown appears
2. Click on the Help icon again, the menu disappears, but the icon stays highlighted.
This happens both on the Site Kit Service and in product, with different visual treatments:

Let's verify that (1) this is expected behaviour and if yes (2)

[2021-03-25 19:56] felixarntz commented on #3026
@tofumatt Can you check this for the `helpVisibility` one? The behavior also felt slightly odd to me, but part of it might be intended for accessibility reasons.

[2021-03-25 20:12] felixarntz opened #3027 "Add tracking events for help visibility menu links"
As a follow-up to #2846, there should be tracking events for the 4 (3 regular + 1 in AdSense) links in the global help menu dropdown.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When the user clicks one of the links in the global help dropdown (`helpVisibility` feature flag), a GA tracking event `c

[2021-03-25 21:26] aarondruck commented on #3026
the button shouldn't stay highlighted if it's not active

On Thu, Mar 25, 2021 at 12:56 PM Felix Arntz ***@***.***>
wrote:

[2021-03-25 21:59] felixarntz commented on #3026
@aarondruck I think this happens when you come back to the Site Kit tab after having been to the other tab that clicking the menu link opened. So at that point, the button to toggle the menu is technically active, I think - so it _might_ be expected.

Not sure about it, just wanted to give additional clarity: It's not like the icon is highlighted even though it's inactive. 🤔

[2021-03-25 22:03] aarondruck commented on #3026
ah ok then, that makes sense that would be expected behaviour

On Thu, Mar 25, 2021 at 2:59 PM Felix Arntz ***@***.***>
wrote:

[2021-03-25 22:31] felixarntz commented on #2068
@eugene-manuilov This still needs a QA Brief.

[2021-03-26 02:52] jodzeee commented on #1412
@saharben Thanks for mentioning this. Now wondering if this is something Site Kit will fix or do we have to go on without using that setting?

[2021-03-26 08:13] aaemnnosttv commented on #3027
IB ✅

[2021-03-26 08:40] aaemnnosttv commented on #2101
Thanks @Hazlitte – a few points to address here:

  `export const ERROR_API_ENABLED = 'check_api_enabled';`

The error should be named in a way to indicate what is wrong (e.g. `ERROR_INVALID_HOSTNAME` or `ERROR_FETCH_FAIL` for those checks). So semantically we would want to throw the opposite "api disabled" error rather than "enabled". In this case, we don't really know if it is disabled or blocke

[2021-03-26 09:58] jamesozzie commented on #1412
@jodzeee @saharben This is not something we can easily address on our site. We have however been in touch with iThemes and their next major release will no longer have this configuration option, which users do sometimes run into issues with for particular services. It's not enabled by default when setting up iThemes, users should only encounter this if they choose to enable this option.

[2021-03-26 10:40] aaemnnosttv commented on #2650
Unfortunately the PR where this was introduced broke the story for the `TourTooltips` component.

![image](https://user-images.githubusercontent.com/1621608/112619778-604a7980-8e30-11eb-9a1d-395d353a7b9e.png)

Sending back for a quick followup.

[2021-03-26 11:03] jamesozzie opened #3028 "Unable to initially register spaces when inputting search terms during user input flow"
## Bug Description

When following the user input flow during step 5 when submitting a search term, spaces are not being registered. This is only when initially typing, not allowing words to be split until a user navigates back or places the curser within existing characters.

See steps below to reproduce:

![2021-03-26-10-58-52](https://user-images.githubusercontent.com/41326532/112621977-486bf90

[2021-03-26 11:17] wpdarren commented on #2853
### QA Update: ⚠️ Query with engineer

@Hazlitte I would like to query if `The goals you pick will apply to the entire WordPress site: any other admins with access to Site Kit can see them and edit them in Settings.` should be in the note when there are more than one administrators, rather than the question description?

As you can see the original description is overwritten and this text appears

[2021-03-26 11:33] abdullah1908 commented on #3028
I can replicate the same at my end. One thing more, its not allowing **keys(comma & enter)** to make term separate.
![Screenshot (42)](https://user-images.githubusercontent.com/14175927/112625522-dd85e680-8e50-11eb-8cc2-3623d44e798f.png)

[2021-03-26 11:36] wpdarren commented on #3028
@jamesozzie using a mac, I am unable to include a space, but I must admit to thinking that these worked more like tags, so wouldn't usually have a space.

[2021-03-26 11:57] wpdarren commented on #2896
### QA Update: Pass ✅

- Verified that the close icon button has a min-width of 35px  - [Screenshot](https://user-images.githubusercontent.com/73545194/112627541-b9380300-8e6c-11eb-9284-acf9e11a8a59.png)
- Verified that the close icon svg has a height of 11px and a width of 11px. - [Screenshot](https://user-images.githubusercontent.com/73545194/112627527-b4734f00-8e6c-11eb-8322-1921afa2dfb6.png)
-

[2021-03-26 12:17] aaemnnosttv commented on #2853
## QA ❌

The IB was incorrect in its identification of the change to be made. The `description` of the question should not be changed, instead the note about the scope of the change should be updated: https://github.com/google/site-kit-wp/blob/ad6ec0d9110029af34f063df93bbd696248724e4/assets/js/components/user-input/UserInputQuestionInfo.js#L70

However, the note in the ACs is question-specific whe

[2021-03-26 12:18] wpdarren opened #3029 "User Input - Delete SVG icon has changed behaviour of the Enter key when entering search terms"
## Bug Description

For the 5th question on the user input screens:

With the introduction of the svg delete icon button in #2896 the behaviour of the enter key has changed.

When you press enter to move on to the next search term, you are not sent to the input field, but instead the cursor goes to the delete icon. You have to press enter twice to go to the input field and enter next search term.

[2021-03-26 13:39] wpdarren commented on #2896
@aaemnnosttv @felixarntz since this has passed QA, unsure if this needs to be included in master branch if it's going to be included in this sprint?

[2021-03-26 13:43] wpdarren commented on #2901
### QA Update: Pass ✅

Verified that the term text fields have hidden labels

![image](https://user-images.githubusercontent.com/73545194/112640351-39b23000-8e7c-11eb-9ac4-6b1cb9afa8a2.png)

[2021-03-26 13:46] aaemnnosttv commented on #2896
@wpdarren not all issues for a sprint will go in the release for the sprint so it's okay that this is only in develop now. It should be tagged with the next release though since it is merged and won't be included in 1.29 (cc @tofumatt)

[2021-03-26 16:10] jamesozzie commented on #2924
@abdullah1908 Assigning to L1 for review. [HAR file](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNjrLpExFyhagr0-UlAYeCMXoUxRDSWOP3vUqG-E6lf-Q_7oXxLiR-J1BL1NfsQVdL4) kindly provided by user.

[2021-03-26 17:47] felixarntz opened #3031 "Improve language throughout codebase"
The Site Kit codebase should always use inclusive language; this is not fully the case currently as there are still some terms being used which should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The default branch should be renamed to `main`.
* The following terms should no longer be us

[2021-03-26 18:00] jamesozzie commented on #3018
Another report added to primary context. Another user without a caching plugin with a migrating plugin active. Possible stale content on GoDaddy CDN.

[2021-03-26 18:37] felixarntz opened #3033 "Remove @wordpress/scripts"
`@wordpress/scripts` should be removed as we do not use it enough to justify the cost of keeping it up to date which is substantial. As part of the update, the `stylelint-config-wordpress` dependency should be removed, since that repository is entirely deprecated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cr

[2021-03-26 19:16] eugene-manuilov commented on #2068
@felixarntz do you mind reviewing #3034? I have added storybook stories for the new widgets.

[2021-03-26 19:40] rafapontederino commented on #3007
I tried to deactivate migrating plugin, then enabled the CDN, but it turns back to adblocker detected (pictures are attached)

![Screenshot (74)_LI](https://user-images.githubusercontent.com/80829188/112684510-70d01380-8e73-11eb-96f8-fceaf2c9d4c5.jpg)
![Screenshot (75)_LI](https://user-images.githubusercontent.com/80829188/112684520-72014080-8e73-11eb-973f-bda1aace8ec3.jpg)
![Screenshot (76)_LI](h

[2021-03-26 20:13] jamesozzie commented on #3007
Thanks for the update @rafapontederino, you're insights have been super helpful while we investigate this. I've added other impacted users to #3018.

If you're looking for perform additional troubleshooting on this (as we're also doing) feel free to share a video recording of your experience _**while in troubleshooting mode**_ using the Health Check & Troubleshooting plugin. If you can once again

[2021-03-26 20:34] rafapontederino commented on #3007
Thanks @jamesozzie I didn't find any error report in console errors

![Screenshot (76)](https://user-images.githubusercontent.com/80829188/112689809-0c18b700-8e7b-11eb-8b48-d109e8db147b.png)

[2021-03-26 20:43] felixarntz commented on #2068
Thanks @eugene-manuilov - left some feedback there.

[2021-03-26 20:47] felixarntz commented on #2650
#3030 (fix for the broken Storybook story) is now merged in `develop` (not urgently needed in `master` since it doesn't affect the release ZIP).

[2021-03-26 20:52] #1647 closed

[2021-03-26 20:53] #2852 closed

[2021-03-26 20:53] #2967 closed

[2021-03-26 20:53] #2843 closed

[2021-03-26 20:53] #2249 closed

[2021-03-26 20:53] #2727 closed

[2021-03-26 20:53] #2578 closed

[2021-03-26 20:53] #2858 closed

[2021-03-26 20:53] #2539 closed

[2021-03-26 20:53] #2128 closed

[2021-03-26 20:53] #2844 closed

[2021-03-26 20:53] #2907 closed

[2021-03-26 20:53] #2848 closed

[2021-03-26 20:53] #2828 closed

[2021-03-26 20:53] #2793 closed

[2021-03-26 20:54] #2944 closed

[2021-03-29 07:42] aaemnnosttv commented on #3031
IB ✅

[2021-03-29 09:49] eugene-manuilov commented on #2068
Thanks, @felixarntz. PR is updated. I have also reworked the widget stories generator function to generate a loading state for widgets which revelated a few issues in other stories/components which have been fixed. So, please, don't be surprised to see additional changes there :smile:

[2021-03-29 11:12] eugene-manuilov commented on #2671
@aaemnnosttv or @felixarntz do you mind reviewing #2927 too since you are more familiar with that logic?

[2021-03-29 11:14] eugene-manuilov commented on #2351
@felixarntz maybe let's arrange a call to discuss it and make a final decision?

[2021-03-29 11:32] Hazlitte commented on #2101
IB updated

[2021-03-29 12:10] wpdarren commented on #2650
### QA Update: Pass ✅

**Verified:**

- Can confirm that when the Tooltip tour is completed, and local storage is cleared, the tour does not re-appear on the All Traffic widget in Site Kit Dashboard.
- Checked the [StoryBoard](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/global--tourtooltips) to make sure that the error reported does not appear.

[2021-03-29 12:52] RalfKo commented on #2681
hi, did not work out, didi it? (can't find it on the releasenotes)

[2021-03-29 13:07] aaemnnosttv commented on #2529
@felixarntz ACs updated + IB which includes moving handlers for connect/disconnect since these don't really belong on the splash URL either and is more consistent with how we're handling other action URLs for proxy setup and settings.

[2021-03-29 13:41] wpdarren commented on #2067
### QA Update: Pass ✅

**Verified:**

Can confirm that the new Audience Overview widget  looks and works the same as the legacy one. Checked all date periods, 7, 14, 28 and 90 days. Selected the individual tabs within the graph and compared the output.

![image](https://user-images.githubusercontent.com/73545194/112839555-ebe23580-90d0-11eb-9930-8776a29477a0.png)

[2021-03-29 13:58] wpdarren opened #3038 "Change Data Not Appearing in Audience overview for Analytics on 7 Days"
## Bug Description

The `Bounce rate` is misaligned due to not displaying the change data.  I only noticed this on date period of 7 days.  All other periods were fine. This looks to be an issue from Site Kit 1.28.0 because the previous version displayed the data as expected.

![image](https://user-images.githubusercontent.com/73545194/112845341-57c79c80-90d7-11eb-86de-a96818c94e99.png)

On Site Ki

[2021-03-29 14:57] aaemnnosttv commented on #2985
Thanks for clarifying @asvinb!

IB ✅

[2021-03-29 16:11] tofumatt commented on #2981
IB ✅

[2021-03-29 16:41] tofumatt commented on #3005
IB ✅

[2021-03-29 17:12] cole10up commented on #3019
### **QA ✅** all good on my end!

[2021-03-29 17:36] tofumatt commented on #2784
IB ✅

[2021-03-29 17:39] tofumatt commented on #2992
IB ✅

[2021-03-29 17:44] #2846 closed

[2021-03-29 17:44] #2847 closed

[2021-03-29 17:44] #2739 closed

[2021-03-29 17:48] felixarntz commented on #2896
@tofumatt @eugene-manuilov ^ the above is something to look out for in the future. Issues that are not tagged with a release can typically have their PRs merged into `develop` as long as we're still far away enough from the release, unless there are special circumstances that would prevent that. It's important though to add the release to those issues once the PR is actually merged. I did that for

[2021-03-29 17:49] #2650 closed

[2021-03-29 17:50] #3019 closed

[2021-03-29 18:39] felixarntz opened #3042 "Include dates in all service deep links for refactored module page widgets"
This is a follow-up to #2286, #2287, and #2689: Once we have refactored all widgets across the Site Kit module screens, we need to ensure all of these refactored widgets now include the date parameters for the current date range in the deep links to the respective Google service frontend.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators

[2021-03-29 18:45] felixarntz commented on #2993
IB ✅

[2021-03-29 18:50] felixarntz commented on #3016
@aarondruck Can you review this suggestion? The currently used font sizes (from the original design) indeed look odd on mobile viewports - I'm not sure the best approach to go about it though, in terms of which sizes to use.

[2021-03-29 18:51] felixarntz commented on #2886
IB ✅

[2021-03-29 18:57] felixarntz commented on #2585
IB ✅

Regarding Storybook, there is some overlap with the work done in #2065 here. Due to the other conversation about how to implement the Storybook coverage in that issue, it might make sense to completely hold off and have a follow-up issue for only the Storybook story which can then depend on this one, to avoid unnecessary extra work. Since Storybook coverage wasn't explicitly requested in the

[2021-03-29 19:00] felixarntz commented on #125
Closing this in favor of our upcoming Contributor documentation epic, where this is already considered in.

[2021-03-29 19:00] #125 closed

[2021-03-29 19:02] felixarntz commented on #176
This doesn't appear to be a significant problem anymore like it used to be. Closing.

[2021-03-29 19:02] #176 closed

[2021-03-29 19:03] felixarntz commented on #171
Not crucial to do, plus there is some overlap with the upcoming work to store historic PSI data, as well as potentially storing lab data on demand.

This is a `maybelater` for now.

[2021-03-29 19:03] #171 closed

[2021-03-29 19:06] abdullah1908 commented on #3018
**Escalation Activity:**
Tried to recreate this issue on GoDaddy environment by enabling CDN but I couldn't see any AdBlock Detection. I can see a different errors in browser console that can be related to AdSense Account.
Steps Followed:
- Created new account on GoDaddy Demo Server
- Signed in User
- Configured AdSense account & I can't see any AdBlock detection error but can see some other error

[2021-03-29 19:09] felixarntz commented on #199
This is an issue worth looking into once the refactoring has been entirely completed (i.e. rollout to 100%) and all old parts of the codebase have been removed.

[2021-03-29 19:12] felixarntz commented on #1424
Some overlap with #26 here.

[2021-03-29 19:18] felixarntz commented on #41
Since the plugin has been released on wordpress.org a while ago, the recommended way to include it via Composer is via wpackagist.org [where it is available as expected](https://wpackagist.org/search?q=google-site-kit&type=any) since it is sourced by wordpress.org.

Having a separate published version on packagist.org seems unnecessary, more so because it would require packaging built assets in th

[2021-03-29 19:18] #41 closed

[2021-03-29 19:19] felixarntz commented on #80
Closing due to inactivity. Feel free to reopen if this is still relevant.

[2021-03-29 19:19] #80 closed

[2021-03-29 19:21] felixarntz commented on #86
This has been already addressed as part of refactoring the settings screen and should no longer be an issue.

[2021-03-29 19:21] #86 closed

[2021-03-29 19:22] felixarntz commented on #90
This appears to no longer be relevant. Feel free to reopen if it shows to still be an issue.

[2021-03-29 19:22] #90 closed

[2021-03-29 19:24] felixarntz commented on #132
This should no longer be relevant now that these setup components have all been refactored. Please reopen if it still causes problems.

[2021-03-29 19:24] #132 closed

[2021-03-29 19:33] felixarntz commented on #133
This should no longer be relevant as we support all PHP 7.x versions at this point. If there are any follow-up concerns, please reopen.

[2021-03-29 19:33] #133 closed

[2021-03-29 19:34] felixarntz commented on #291
This should no longer be a problem after the refactoring of these components, as they now all use the correct differentiation between error states and zero states. Once the refactored widget-based version of the dashboard rolls out, nobody should see this broken state any longer.

[2021-03-29 19:34] #291 closed

[2021-03-29 19:35] felixarntz commented on #370
This is no longer relevant (was fixed a long time ago).

[2021-03-29 19:35] #370 closed

[2021-03-29 19:38] felixarntz commented on #391
Since we're no longer using this external setup page as a primary tool for Site Kit, this isn't worth addressing, especially since we'll even phase out usage of it in the long term.

[2021-03-29 19:38] #391 closed

[2021-03-29 19:38] felixarntz commented on #466
This screen is no longer used and has been removed, i.e. this is no longer relevant.

[2021-03-29 19:38] #466 closed

[2021-03-29 19:42] felixarntz commented on #527
@tofumatt I'm gonna close this for now since we have multiple code reviewers and QA reviewers now, so it won't be as trivial (fortunately!). Maybe we could have something that automatically assigns _a_ code reviewer, but I think that's not worth it and might even be detrimental since sometimes a certain reviewer might be more applicable for an issue than another one, so I think manual is better he

[2021-03-29 19:42] #527 closed

[2021-03-29 19:46] felixarntz commented on #564
Moving this to _Stalled_. While the UI referenced in this issue no longer exists like that, the problem of not being able to use different Google accounts between different modules persists. This is especially relevant for AdSense because of the restriction that it only supports a single AdSense account per Google account.

@aaemnnosttv @ThierryA We should keep this in mind when thinking about das

[2021-03-29 19:50] felixarntz commented on #576
In parts this has already been addressed through the new version of the "Performance" widget, but it's still relevant for the "Performance by page" widget.

[2021-03-29 19:56] felixarntz commented on #577
This has already been done as part of the AdSense setup refactoring which happened about a year ago. The expected URLs outlined here are in place.

[2021-03-29 19:56] #577 closed

[2021-03-29 20:26] ivankruchkoff opened #3043 "Booleans converted to strings between addQueryArgs and rest endpoint."
## Bug Description

In js, here is how [addQueryArgs](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-url/#addQueryArgs) performs
[code]

Code example:
https://github.com/google/site-kit-wp/blob/cfcf8b68ab73c78a4085f53d30bb58dfb32ce582/assets/js/googlesitekit/api/index.js#L155

In PHP, `WP_REST_Request $request->get_params()` treats the false as a string "false"
htt

[2021-03-29 20:54] ivankruchkoff commented on #2069
Raised a bug relating to booleans being treated as strings https://github.com/google/site-kit-wp/issues/3043

That affects this ticket as we need to add the url param to the request per legacy dashboard:
https://github.com/google/site-kit-wp/blob/713821b7a2b9f9704aa47eac7b108da4b8e011d3/assets/js/modules/analytics/components/module/ModuleAcquisitionChannelsWidget/index.js#L57

legacy approach:
htt

[2021-03-29 20:58] rafapontederino commented on #3007
Hi @jamesozzie , Now I cannot open my website purnapraja.org nor the wp-admin. Do you think what is the problem? I tried to enable the CDN but still not work.

Nb: I put 2 banners of a hosting provider (but not GoDaddy), do you think it could be the problem?

[2021-03-29 21:52] rafapontederino commented on #3007
@jamesozzie Now I can open it

[2021-03-29 22:20] rafapontederino commented on #3007
But so so slow

[2021-03-30 07:01] aaemnnosttv commented on #2101
Thanks @Hazlitte – the IB is looking much better now, although it still references a 404 response in the second point.

I'll remove this for you since that seems to have been simply missed in the revision. Regarding the IB as a whole, we generally prefer the IB to be less copy-pasteable (if that makes sense). It reads a bit too much like a todo list rather than as an outline of the approach to use

[2021-03-30 09:27] aaemnnosttv commented on #1941
@felixarntz moving this forward to AC as there are still quite a few of these in the codebase.

[2021-03-30 09:41] jamesozzie commented on #3007
@rafapontederino Good to hear it's working for you once more. I can't be sure what was occurring. We're still investigate the CDN conflict with Site Kit. If you happen to encounter further hosting related queries the GoDaddy support channels are quite good.

[2021-03-30 10:26] aaemnnosttv commented on #472
Assigning to @marrrmarrr for review.

[2021-03-30 10:33] aaemnnosttv commented on #37
Assigning to @felixarntz to decide where this goes for now. Related to #1347.

[2021-03-30 11:23] aaemnnosttv commented on #838
Closing as already addressed by other issues.

[code]

[2021-03-30 11:23] #838 closed

[2021-03-30 11:51] aaemnnosttv commented on #801
Thanks for raising this issue @jamesstcrice!

Front end code snippets are all possible to disable via module settings for all modules that output code snippets.
E.g. from Analytics settings:
![image](https://user-images.githubusercontent.com/1621608/112983928-eb947980-9166-11eb-866d-adaa38b3f910.png)

For more technical users, we also make this possible to suppress output via a module-specific fil

[2021-03-30 11:51] #801 closed

[2021-03-30 12:01] aaemnnosttv commented on #865
This was originally envisioned as something that would be done from Travis but may be even easier now with GitHub Actions.

I think this is still worth doing as it may allow us to use our wiki for hosting less zip files, but also because it generally makes sense to provide an official build on the release itself. With the changes in #603, this could even use the exact same build artifact for both.

[2021-03-30 12:05] LauDijksterhuis commented on #276
Today I tried to install it on a multisite network and noticed this issue.
@felixarntz I see you changed the label to feature just 17 hours ago. Is there anything you can tell me about a potential launch date?

[2021-03-30 12:06] aaemnnosttv commented on #594
Thanks for the suggestion @tamalweb ! If you haven't seen it already, we added this as part of the new All Traffic widget for Analytics released in [v1.25.0](https://github.com/google/site-kit-wp/releases/tag/1.25.0)! You can read all about it in [the announcement](https://sitekit.withgoogle.com/news/new-traffic-analytics-stats-site-kit/).

Closing as already addressed by other issues.

[2021-03-30 12:06] #594 closed

[2021-03-30 12:46] wpdarren commented on #2068
### QA Update: Fail ❌

@eugene-manuilov on the new Top content widget the `See full stats in Analytics` and `Source: Analytics` links point to the `Audience Overview` report on Google Analytics but on the legacy widget it points to `Pages` report.

Everything else matches up the same.

[2021-03-30 13:49] marrrmarrr commented on #179
This was already implemented as part of the User Input feature, so it's no longer relevant.
But none of the "reasons for closing" labels apply in this case (cc @felixarntz to consider whether we want to add an "outdated" or "no longer relevant" closing label).

[2021-03-30 13:49] #179 closed

[2021-03-30 13:53] marrrmarrr commented on #202
This is still on the roadmap, but we won't get to it for a few months. Marking as stalled for now.

[2021-03-30 13:55] marrrmarrr commented on #203
This would be a good enhancement of the upcoming custom dashboard (in fact we're already considering it).
Keeping as an enhancement and to revisit when the product/UXD work for custom dashboard is complete.

[2021-03-30 13:58] marrrmarrr commented on #204
This is too high-level and should be considered at the widget/module level. Closing this, let's incorporate this thinking in designing every module and widget.

[2021-03-30 13:58] #204 closed

[2021-03-30 14:07] marrrmarrr commented on #206
This is part of the notifications product scoping and UXD work, but not super helpful on its own. Closing.

[2021-03-30 14:07] #206 closed

[2021-03-30 14:11] marrrmarrr commented on #205
This could be a potentially interesting enhancement to consider for the upcoming "Content" tab of the custom dashboard.
cc @aarondruck fyi -- let's include this in the designs.
Marking as stalled for now.

[2021-03-30 14:14] marrrmarrr commented on #207
Unclear what benefit this would bring to Site Kit users, no requests have come in from anyone. Closing as "maybelater".

[2021-03-30 14:14] #207 closed

[2021-03-30 14:15] #208 closed

[2021-03-30 14:17] marrrmarrr commented on #209
Now that we have Tooltips functionality in the product, this could be more easily resolved.
@aarondruck what are your thoughts on this one? Adding a tooltip to highlight the Admin bar functionality to users who might not have discovered it? Should this be part of a bigger "welcome to Site Kit" product tour?

[2021-03-30 14:20] marrrmarrr commented on #212
This seems to very related to #209 . Maybe worth making a mini-epic out of them and keeping them in Stalled until we get to this?

[2021-03-30 14:25] felixarntz commented on #276
@LauDijksterhuis Thanks for reaching out. There is no additional update yet other than https://github.com/google/site-kit-wp/issues/276#issuecomment-770983018, we are still reviewing this.

[2021-03-30 14:26] marrrmarrr commented on #299
This will be part of Notifications work, but not helpful on its own. Closing.

[2021-03-30 14:26] #299 closed

[2021-03-30 14:28] marrrmarrr commented on #210
These links now take users directly to the FE of the actual product (GA, SC). This is indicated by a relevant icon. This is no longer a valid issue.

[2021-03-30 14:28] #210 closed

[2021-03-30 14:32] marrrmarrr commented on #20
GMB has a ton of relevant information for the type of site owner who also uses Site Kit and happens to have a business with a physical location. GMB integration is on the long term roadmap, but not on the todo list for the immediate future.

[2021-03-30 14:38] marrrmarrr commented on #472
I'm wondering if Tag Manager API allows provisioning new accounts, or we'd have to send users to GTM FE for this?
cc @felixarntz

[2021-03-30 14:58] aaemnnosttv commented on #1146
This issue was originally raised related to #41 due to conflicts when installing the plugin via Composer directly using `google/google-site-kit`. This has never really been supported as this repo is not installable as a working version of the plugin.

We can however keep this issue as an upgrade to do in the future, although there's really no urgency to do so. Moving to stalled.

[2021-03-30 15:26] felixarntz commented on #472
@marrrmarrr There is no way to create GTM accounts via the API (see https://developers.google.com/tag-manager/api/v1/reference/accounts#methods), which is why this was originally implemented like it is. It's similar to how it used to be for Analytics before we got access to the separate provisioning API.

It doesn't look like there's a provisioning API for GTM, but maybe we can reach out to the te

[2021-03-30 15:48] felixarntz opened #3045 "Product Welcome Tour"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 15:52] #201 closed

[2021-03-30 17:10] jamesozzie opened #3047 "Setup fails on Altervista user"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/ste-kit-verification-error/) is encountering  401 Deleted_Client notice during setup, resulting in failed setup.

![image](https://user-images.githubusercontent.com/41326532/113026808-5c488f80-9181-11eb-9566-13737b85a64b.png)

Troubleshooting ongoing.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3

[2021-03-30 17:11] aarondruck commented on #209
What's the admin bar?  Is this a known discovery issue?

I'm ok adding the tooltip to various parts of the UI - but we should be
judicious so it doesn't create so many tooltips.

On Tue, Mar 30, 2021 at 7:18 AM marrrmarrr ***@***.***> wrote:

[2021-03-30 17:12] aarondruck commented on #205
that's interesting.

On Tue, Mar 30, 2021 at 7:11 AM marrrmarrr ***@***.***> wrote:

[2021-03-30 17:37] aarondruck commented on #3016
Yea we should reduce the font sizes and line heights for mobile

We should be using responsive font sizes and line heights.

On Mon, Mar 29, 2021 at 11:50 AM Felix Arntz ***@***.***>
wrote:

[2021-03-30 18:07] felixarntz opened #3048 "Dashboard sharing"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 18:08] felixarntz opened #3049 "Non-Admin Access"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 18:10] felixarntz opened #3050 "Customized Dashboard / Goal-Based Reporting"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 18:10] felixarntz opened #3051 "Enhanced GA Event Tracking"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 18:15] felixarntz opened #3052 "Add widget with list of Analytics referrals"
Site Kit should offer a widget that lists the top referrals for the site. This would also be beneficial on a per-page level, i.e. might be worth including in the single URL view.

Originally requested in #36

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

[2021-03-30 18:17] felixarntz opened #3053 "Add Analytics setting to toggle reporting for "Demography and Interest for Remarketing and Advertising""
Site Kit should offer control about the Analytics configuration setting for whether reporting for "Demography and Interest for Remarketing and Advertising" is enabled or not.

Originally reported in #36

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

#

[2021-03-30 18:18] felixarntz opened #3054 "Show comparison of new vs returning visitors via Analytics"
Site Kit should show the number of new users vs returning users.

Originally requested in #36

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-30 18:21] felixarntz commented on #36
@ghost I have broken down this issue into a few sub-issues, since it encompasses multiple features and enhancements:

1. The top countries are now available in the new version of the All Traffic widget, which has been included in the Site Kit dashboard since version 1.25.0.
2. Please follow #3052 to keep track of this feature.
3. Please follow #3053 to keep track of this enhancement.
4. This was i

[2021-03-30 18:21] #36 closed

[2021-03-30 21:44] felixarntz commented on #2070
I've included the improvement to consider the Web Stories plugin for the AMP mode detection in #2998. Afterwards we should be able to get this sorted.

[2021-03-30 22:20] felixarntz commented on #3012
@eugene-manuilov IB is pretty much good to go now! I just have one concern:

I think using these fallbacks here is rather error-prone. I'd prefer if we expected the callers to pass these values, otherwise I can easily see some odd behavior here since it would be necessary to know about these fallbacks/defaults when using the method. For example, for the `has_access_to_property` method, the URLs ar

[2021-03-31 03:26] ivankruchkoff commented on #2069
Updated the storybook story, left the `url` param omitted in https://github.com/google/site-kit-wp/pull/3035/files#diff-f337ee195409cc0f52475e53d164fa95f0b3efbd37ffbd63069d2f4ec0113593R55  per the comment above.

**New**
https://google.github.io/site-kit-wp/storybook/pull/3035/?path=/story/analytics-module-components-module-page-acquisition-channels-widget--loaded

**Old**
https://google.github.io

[2021-03-31 07:24] aaemnnosttv commented on #2969
IB ✅

Let's keep the ACs as-is for now and we can address this in a new issue as an immediate follow-up.

[2021-03-31 09:14] aaemnnosttv commented on #3018
Thanks @bethanylang – I see what's going on; will update this issue with next steps 👍

[2021-03-31 10:32] tofumatt opened #3056 "Add ESLint "quotes" rule"
## Feature Description

As mentioned in https://github.com/google/site-kit-wp/pull/2836#discussion_r604605246, we are lacking rules about our quote markers in JS. We should add the https://eslint.org/docs/rules/quotes rule to our ESLint code. I'm surprised it isn't already in our base config.

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2021-03-31 11:13] asvinb commented on #2991
@aaemnnosttv I've updated the IB to reflect your thoughts. I suggest we create `assets/js/util/chart.js` where we can put all chart related utility functions.

[2021-03-31 11:21] aaemnnosttv commented on #2991
Sounds good to me @asvinb 👍

IB ✅

[2021-03-31 11:49] jamesozzie commented on #3007
@rafapontederino Just to let you know we're aware of the problem and we're working on a [solution at present](https://github.com/google/site-kit-wp/issues/3018). Thank you once again for helping us to identify this, therefore ensuring the plugin works for others as expected. While you were the first to report this other users have since reported the same.

[2021-03-31 11:50] himanshu007-creator commented on #2962
i would like to work on this issue, kindly assign me this issue🙂

[2021-03-31 12:36] jamesozzie opened #3057 "Cannot read property 'name' of undefined"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/cannot-read-property-name-of-undefined/) in encountering the below error, possibly in the main dashboard.
`Cannot read property 'name' of undefined.
`
Troubleshooting ongoing

## Additional Context

 - [WordPress support forum topic](https://wordpress.org/support/topic/cannot-read-property-name-of-undefined/)

[2021-03-31 13:11] wpdarren commented on #2068
### QA Update: Pass ✅

- Compared the legacy and Analytics module page and made sure that the new Top Content widget looks and works the same as the legacy one.

**_New widget_**
![image](https://user-images.githubusercontent.com/73545194/113149456-9b501100-9265-11eb-8a6f-b0764164fe26.png)

**_Legacy widget_**
![image](https://user-images.githubusercontent.com/73545194/113149478-a1de8880-9265-11eb

[2021-03-31 13:27] tofumatt commented on #3026
I've made some tweaks to the ACs here, because _visually_ hiding that the menu button is focused is not accessible to keyboard-only users. The Google Drive behaviour is largely good, as focus on the help menu button is maintained, but the fact that there's no visual indication of this is not friendly to keyboard users.

It would be better to leave the focus state and focus styles on that element a

[2021-03-31 13:36] tofumatt commented on #3026
@Hazlitte There's already a `googlesitekit-help-menu` `className` we can/should use for styles on this component, no need to add another class. I notice actually that there's a needless `Fragment` wrapping the whole component that we could probably ditch as part of this change too.

And the button itself has the class `googlesitekit-help-menu__button`, so I'd say let's target that to tweak the but

[2021-03-31 14:10] felixarntz commented on #3026
@tofumatt

Sounds good, I also thought that was a bit odd in Google Drive. Yet, when updating ACs in user-facing things like this, please confirm this in the future with who wrote the ACs - a ping would be good :)

[2021-03-31 14:43] Pratheep-lab opened #3058 "Help icon needs circular mouse hover"
The help icon that is yet to be launched has a rectangular mouse hover. This needs to be changed to a circular mouse hover.

**Current:**
![image](https://user-images.githubusercontent.com/81642523/113162656-6331d980-9237-11eb-9612-dc9d240d6a74.png)

**The shape of the grey mouse hover has to look like this:**
![image](https://user-images.githubusercontent.com/81642523/113162870-8e1c2d80-9237-11eb

[2021-03-31 14:57] wpdarren commented on #2184
### QA Update: Fail ❌

@asvinb I have confirmed that `SettingsActiveModules` and `SettingsInactiveModules` components are rendered, but when I started to go through the settings functionality, I noticed that when you try and disconnect a module it does not do this successfully. The screencast shows the issue for the PageSpeed module, but the same occurs for all other modules.

https://user-images.

[2021-03-31 15:03] tofumatt commented on #3026
IB ✅

[2021-03-31 15:05] felixarntz opened #3059 "Widget-based dashboard"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-31 15:14] felixarntz opened #3060 "Ensure all Site Kit widgets always return their content wrapped in a `Widget`"
Several of our new widgets do not have their "special state" content (e.g. error, zero data, module activation CTA etc.) wrapped in the `Widget` component as expected, which is (mostly) a regression from the legacy UI. See example below:

**Legacy UI**
![image (1)](https://user-images.githubusercontent.com/3531426/113167157-4cb85d80-91f8-11eb-9989-dacd08cee612.png)

**Widget-based UI**
![image (2)

[2021-03-31 15:18] felixarntz opened #3061 "Help visibility"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-03-31 15:28] aaemnnosttv opened #3062 "Containers for hidden widgets break sibling grid styles"
## Bug Description

Currently when a widget's output is overridden by an `OverrideComponent` (currently only one of a few special states which are aggregated in a row), the original widget output is still rendered in a sibling div which is hidden with CSS. This is because the original/real widget needs to be rendered in order for its widget state to be set correctly.

For the widgets dashboard, th

[2021-03-31 15:47] felixarntz commented on #3062
@aaemnnosttv Added ACs here - let me know if that sounds good to you.

[2021-03-31 15:56] jamesozzie commented on #2986
@abdullah1908 Assigning to L1 for further inspection. No addition checks done on support side, with no addition insights from impacted user.

[2021-03-31 16:03] jamesozzie commented on #2899
Escalating to L1 for review. No additional insights to include so far.

[2021-03-31 16:23] bakoorahnin commented on #2069
[اداوت شرح الربح من بلوجر 2021.txt](https://github.com/google/site-kit-wp/files/6237973/2021.txt)

[2021-03-31 17:21] felixarntz opened #3064 "Display actual number of users coming from search in refactored "Unique Visitors (from Search)" widget"
The refactored version of the "Unique Visitors from Search" widget currently uses "Unique Visitors" title, since the widget is (and has always been 🤦‍♂️ ) displaying the total number of users. This is actually wrong, and it _should_ display the number of users that came from Organic Search.

This is a bug in the legacy widget primarily, but it should only be fixed in the refactored version, since

[2021-03-31 17:29] felixarntz opened #3065 "Rename "Popularity" / "Top Queries" section to "Acquisition" for new widget-based UI"
The section currently labelled "Popularity" on the Site Kit dashboard and "Top Queries" on the single URL view should be relabelled "Acquisition" **for the widget-based UI only**. The top keywords widget should then always display its full "Top search queries for your site" heading.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only.

[2021-03-31 19:34] bethanylang opened #3066 "Connecting a second Google account to a service reverts all previously connected services to that account"
## Bug Description

As reported by a [user in the support forums](https://wordpress.org/support/topic/site-kit-adsense-wont-connect/), our current workflow when a user tries to connect different Site Kit services to different Google accounts is confusing from a user perspective.

In this case, the user had most of the Google services that she wanted to connect to Site Kit under one Google account,

[2021-03-31 22:39] ivankruchkoff commented on #3043
Raised this as an issue against the Gutenberg repo https://github.com/WordPress/gutenberg/issues/30428 and WordPress trac https://core.trac.wordpress.org/ticket/52956 with a poc mu-plugin to demonstrate the issue:
https://core.trac.wordpress.org/attachment/ticket/52956/poc.php

[2021-04-01 07:32] aaemnnosttv commented on #2349
@jamesozzie @bethanylang – any time a user reports an error like this, it's always a good idea to ask for a screenshot of the browser console, if possible (assuming it's reproducible for the user). I've noticed some other threads/issues have this.

This could be possible if the user had something in place which blocked one of our JS files from being loaded (either in browser, or something on the s

[2021-04-01 08:08] vlastimilott commented on #852
+1 pls

[2021-04-01 08:55] jamesozzie commented on #2349
Will do @aaemnnosttv. Some console errors from the above topics below. In addition once user [provided a video](https://perties.sk/perties.mp4), with the video an error appears in the Site Kit homepage widget that their account isn't able to access Google account data.

![image](https://user-images.githubusercontent.com/41326532/113268933-d9821a80-92cf-11eb-96dc-3d2af168c679.png)

![image](https:/

[2021-04-01 09:05] aaemnnosttv commented on #2184
@wpdarren ready for another pass!

[2021-04-01 09:16] aaemnnosttv opened #3068 "PHP Tests jobs sometimes fail to due to DB connection"
## Bug Description

It seems that there may be a bit of a race condition when the PHP test jobs run in that the MySQL server may not be ready by the time we attempt to run mysql commands to set up the DB:

![image](https://user-images.githubusercontent.com/1621608/113267318-e2c6b380-92de-11eb-8de6-893c38eb7ef3.png)

The weird part is that it already seems to be doing something like this:

![image]

[2021-04-01 09:28] eclarke1 opened #3069 "Help, date picker and account hover state background"
On all the menu items such as Help, date picker, and accounts:
Mouse hover grey bg needs to be kept active as long as the dropdown is open. Currently if the user clicks one of these menu items and then move the mouse outside these controls, the grey bg disappears like this:

![image.png](https://images.zenhubusercontent.com/60644f95230dae16dabe0ca1/5c8f4cb2-37e3-4a7f-bbcb-00cd375a1a48)

It should

[2021-04-01 09:30] aaemnnosttv commented on #2349
Thanks @jamesozzie – I saw those ones which are helpful.

The part to note here are that _other scripts_ are also broken on the page:
![image](https://user-images.githubusercontent.com/1621608/113273423-4ce25700-92e5-11eb-85c1-31d65c78645b.png)

All of our scripts start with `googlesitekit-` so those other ones belong to some other plugin `v3.0.15` (this is where the Site Health info would help id

[2021-04-01 09:48] jamesozzie opened #3070 "Changing the title of a page or post results in that URL appearing twice in the "Most Popular Content" table"
## Bug Description

When making changes such as the following this results in the "Most popular content" table listing duplicate content:
- Post or page title (without any slug or permalink changes)
- Site Title changes (Settings > General)
- Slug changes

The changes above reset the statistics for that content, with that same URL appearing twice in the "Most Popular Content" table - Once with tot

[2021-04-01 09:51] jamesozzie commented on #2349
@aaemnnosttv Thanks for the insights Evan, good to know. I'll chase up with the users who reported this with an unresolved status.

[2021-04-01 12:50] wpdarren commented on #2184
### QA Update: Fail ❌

@asvinb @aaemnnosttv there's a minor observation. When you click to set up a new module within settings, the load icon appears and then you are taken back to the settings page for around 3-4 seconds before the Google login page appears.  On the latest release this does not happen.  When you click on the 'Set up' link after a few seconds you are taken directly to the Google l

[2021-04-01 13:10] wpdarren commented on #2874
### QA Update:  Pass ✅

After going through the steps in the QAB - and on the last step, through the Oauth flow, when you return back to Site Kit you are not taken to the user input page (even though the feature is enabled).

![image](https://user-images.githubusercontent.com/73545194/113298718-b33f9780-932e-11eb-9b9e-d95edd85d47f.png)

[2021-04-01 13:33] wpdarren commented on #2985
### QA Update: Pass ✅

- The user input progress bar is now correctly aligned with the content below it as described in the AC at all break points.

![image](https://user-images.githubusercontent.com/73545194/113301659-d61f7b00-9331-11eb-88ca-7ef29c6128cf.png)

![image](https://user-images.githubusercontent.com/73545194/113301682-dc155c00-9331-11eb-93a8-b73ba182b845.png)

[2021-04-01 14:31] asvinb commented on #3031
@felixarntz I just wanted to confirm something about the strikethrough word: `hit`. Is it no longer relevant because I can see occurrences of this word in the following files:
- `assets/js/googlesitekit/api/middleware/preloading.js`
- `assets/js/modules/analytics/components/dashboard/LegacyAdSenseDashboardWidgetTopPagesTableSmall.js`
- `assets/js/modules/analytics/components/dashboard/AnalyticsAdS

[2021-04-01 14:32] felixarntz commented on #3031
@asvinb Ah, good catch! Yes, it should be replaced everywhere where it's not "cache hit". **QA** ❌

[2021-04-01 14:32] wpdarren commented on #2063
### QA Update: Fail ❌

@asvinb I am unable to select more than one metric at the same time on the new "Overview" widget in Search console.

https://user-images.githubusercontent.com/73545194/113309362-a70d0780-9339-11eb-87be-9417514e25c7.mp4

[2021-04-01 14:37] asvinb commented on #3031
Thanks for confirming @felixarntz . Assigning task back to you.

[2021-04-01 14:43] eugene-manuilov commented on #3012
@felixarntz ok, how about now? I have updated IB to use your suggestion.

[2021-04-01 14:48] felixarntz commented on #3012
@eugene-manuilov Lgtm, except I think there is one remainder of your previous IB here that needs to be fixed:

I think this also needs to passed the permuted site URL variants now that this is not an automatic fallback of the method.

[2021-04-01 15:00] wpdarren commented on #2063
### QA Update: Engineer to confirm ⚠️

@asvinb I tested the new "Overview" widget on a few mobile devices because of the changes and noticed that the graph is pushed slightly over to the right.  I know we've made changes to the graph, so this is probably the cause, but I am wondering if we can make use of that extra space?  I have two screenshots below.

1) This is how the graph looks on the legac

[2021-04-01 15:04] eugene-manuilov commented on #3012
Ah.. yes... Good catch! Thanks! Updated.

[2021-04-01 15:18] felixarntz commented on #3012
IB ✅

[2021-04-01 16:11] aaemnnosttv commented on #2351
After discussing with @felixarntz, @tofumatt, and @eugene-manuilov, we decided it's more straightforward to use `useCallback` in all cases rather than deciding when we need to and when we don't which is arguably more complicated than solving the complexities related to hook dependencies and stale callbacks. This seems to be more consistent with the code in core/Gutenberg as well.

The plan is to l

[2021-04-01 16:11] #2351 closed

[2021-04-01 16:26] tofumatt opened #3072 "Add use-exhaustive-deps to our ESLint rules."
## Feature Description

Further to [our decision to use `useCallback` when defining callback functions in functional components](https://github.com/google/site-kit-wp/issues/2351#issuecomment-812013536), we should add `use-exhaustive-deps` to our list of ESLint rules so we're alerted to any `useCallback` hooks that don't include all of the relevant dependencies in them.

This will affect `useEffec

[2021-04-01 17:14] jamesozzie opened #3073 ""All users" metric remains at 0 despite traffic existing for sites with low numbers"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/dashboard-traffic-at-a-glance/#post-14265557) doesn't see any users when looking at their primary Site Kit dashboard. Despite the "Total Users" count being zero there are users evident in the graph below the user count.

## Screenshots

![image](https://user-images.githubusercontent.com/41326532/113329172-2a68

[2021-04-01 17:38] felixarntz opened #3074 "Storybook stories for setup broken"
## Bug Description

The Storybook stories for setup using proxy always show the error from the compatibility checks, even for the standard cases where there should be no error. Furthermore, the tracking opt-in checkbox UI is missing from all of these stories.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteri

[2021-04-02 08:44] aaemnnosttv commented on #2063
@asvinb looks like we need to adjust the `options.chartArea` (and maybe others) to account for there no longer being a text label on the vertical axis since only a single stat can be selected now.

[2021-04-02 08:53] aaemnnosttv commented on #2975
Something like this could still happen in a different issue, but I think simply extending the current `Analytics` class would have its own problems. If anything, we could extract a base class that they would then both extend, but I'm not sure there's really that much they have in common to share.

IB ✅

[2021-04-02 08:55] aaemnnosttv commented on #2582
Moving to Stalled; not sure when we'll realistically get to this.

[2021-04-02 09:21] aaemnnosttv commented on #3062
Sounds good to me @felixarntz . My only concern about moving them potentially somewhere else is regarding widget state, but I think we should be able to simply them render (nothing) in place 👍

[2021-04-02 09:49] eugene-manuilov commented on #2975
@aaemnnosttv

By using inheritance we don't "share" common functionality between two classes, we extend the existing functionality in the main class by overriding methods in the child class:

[code]

[code]

Which one do you envision?

[2021-04-02 10:06] aaemnnosttv commented on #2280
Update: I was able to consistently reproduce the error here, so this has ACs now and is ready for an IB 👍

[2021-04-02 10:30] jamesozzie commented on #3073
I've been able to reproduce this in support on a site. The site doesn't have a high volume of traffic, but the same occurs.
- No console errors or invalid XHR response
- Occurs across all reporting periods but inconsistently. Reload the page and it might show data for a 7 day reporting period only but not others. Revisit the page once more and it might show data for a 14 day reporting period only,

[2021-04-02 10:58] jamesozzie commented on #3070
Additional insights after title change on a separate domain.

![image](https://user-images.githubusercontent.com/41326532/113410179-b24c4b80-93aa-11eb-8dfb-74fd1e21a4bd.png)

[2021-04-02 11:10] asvinb commented on #2063
@aaemnnosttv I've issued another PR to tweak the `chartArea` values. Can you check it out?

[2021-04-02 11:51] jamesozzie commented on #2280
[One additional report ](https://wordpress.org/support/topic/site-kit-%d0%be%d0%b1%d0%bd%d0%b0%d1%80%d1%83%d0%b6%d0%b8%d0%bb-%d0%be%d1%88%d0%b8%d0%b1%d0%ba%d1%83-2/)of this error. No additional insights requested.

[2021-04-02 12:24] jamesozzie opened #3080 "When clicking on any AMP link in the "Most Popular Content" tab it opens a canonical "Detailed Page Stats" - which excludes AMP traffic"
## Bug Description

In a users "Most Popular Content" table both AMP and non AMP URLs may be listed. When clicking on an AMP URL to see further stats via the "Detailed Page Stats" only the canonical stats appear, with the resulting data excluding AMP traffic.

Any fix would also apply to using the admin toolbar, to display AMP URL specific insights.

![image](https://user-images.githubusercontent.

[2021-04-02 12:50] jamesozzie commented on #1945
Awaiting further testing, new WP install setup with Age Gate Plugin active. No AMP or other plugins that can result in duplicate URLs.

[2021-04-02 12:53] wpdarren commented on #2065
### QA Update: Pass ✅

- The "AdSense" module - Performance widget -  the new widget functions the same way and displays the same data as the legacy widget.

![image](https://user-images.githubusercontent.com/73545194/113417068-3fb48d80-93f5-11eb-8678-2ce6c999e54d.png)

[2021-04-02 16:50] aaemnnosttv commented on #2975
@eugene-manuilov Let's take the conversation to a call or document 🙂

[2021-04-02 16:56] aaemnnosttv commented on #2063
@wpdarren we've merged a follow-up PR which makes the chart area more consistent with what we currently have on AdSense for example, but there's still room for improvement IMO, but I'm opening a new issue for that.

Ready for another pass 👍

[2021-04-02 17:05] felixarntz commented on #2975
@eugene-manuilov While the two classes are fairly similar, they shouldn't depend on each other implementation-wise. We can outsource common functionality to separate classes that can be reused across both when it makes sense, but `Analytics_4` is not an extension of `Analytics` (and not vice-versa either). They should both be their standalone module classes.

[2021-04-02 17:22] aaemnnosttv opened #3083 "Module Stats widget charts are inconsistent across modules"
## Bug Description

Looking at the widget-based versions of "Stats" component charts, I noticed a few inconsistencies across them which we should address.

**Search Console**
![image](https://user-images.githubusercontent.com/1621608/113429478-433e1980-93e1-11eb-9cc8-e3784f423a42.png)
**AdSense**
![image](https://user-images.githubusercontent.com/1621608/113429484-4507dd00-93e1-11eb-9f13-75b3bddd2

[2021-04-02 19:35] abdullah1908 commented on #2840
I am unable to recreate this issue while updating http to https & it worked for me smoothly. You may find further details on [internal task](https://app.asana.com/0/1199554277512201/1200102646337966).

[2021-04-02 19:41] abdullah1908 commented on #2924
I couldn't replicate this issue after the long activity as following:
- Setup Site Kit with the Google Services
- Migrated the site to other subdomain on different host
- Couldn't find any issue regarding Looping Back Sign
- Reset Site Kit
- Tried again & all fine for me

[2021-04-02 20:10] bethanylang commented on #2840
Thanks, @abdullah1908. So that we can avoid having to view issues across multiple systems, can you please share the troubleshooting steps that you went through here in GitHub?

[2021-04-03 16:20] bakoorahnin opened #3084 "first time isuse"
## Feature Description

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2021-04-05 05:34] ivankruchkoff commented on #2940
IB reviewer:
Checkout `feature/2940-dashboard-unique-visitors-widget-storybook6-stories`
Confirm that `npm run storybook` compiles and loads tests for you at http://localhost:9001/

Remove this line:
https://github.com/google/site-kit-wp/blob/6e39b10b6b52cc3c118d397404f9a64559b81272/.storybook/data/wp-admin-admin.php-page%3Dgooglesitekit-dashboard-googlesitekit.js#L4

Notice that the storybook no

[2021-04-05 06:57] aaemnnosttv commented on #2616
IB ✅

Going to bump the estimate a tiny bit though to allow a little more time for CR + QA (particularly the latter).

[2021-04-05 08:31] aaemnnosttv commented on #2940
@ivankruchkoff the legacy globals are necessary for now and resetting them for every story is critical to avoid changes leaking between stories. We could make it a little cleaner perhaps by moving `resetGlobals` into a dedicated decorator (as it was before) rather than merging it into the one for the registry, we'd just want to ensure that it runs first (this is probably why it failed before becau

[2021-04-05 09:12] aaemnnosttv commented on #2782
@adamsilverstein the query parameters are clearly there, but the errors indicate that the server doesn't recognize them.

@cnxsoft can you try putting Cloudflare into [development mode](https://support.cloudflare.com/hc/en-us/articles/200168246-Understanding-Cloudflare-Development-Mode) temporarily to test, just to make sure there isn't something potentially interfering with the request there?

[2021-04-05 09:31] cnxsoft commented on #2782
@aaemnnosttv Development mode would be a problem in this domain, as I have other live websites on the same domain, and one of my servers would not be able to handle the load. So I've just bypassed Cloudflare on th.cnx-software.com.  I suppose it's almost the same.

I still have problems accessing Analytics data through Site Kit.

By the way, there's one error I have in Site Health that does not sh

[2021-04-05 09:43] aaemnnosttv commented on #3068
IB ✅

[2021-04-05 10:19] jamesozzie commented on #3084
@bakoorahnin If you're running into any particular issues with Site Kit feel free to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in the WordPress support forums and we'd be happy to assist. Please include additional context such as a description of the issue you're encountering or any error message encountered.

If you wish to suggest a new feature or imp

[2021-04-05 10:19] #3084 closed

[2021-04-05 10:27] aaemnnosttv commented on #752
Closing this out as no longer relevant as many things have already been addressed in other issues but also half of this issue was Travis-specific which we no longer use.

[2021-04-05 10:27] #752 closed

[2021-04-05 10:39] aaemnnosttv commented on #1010
Thanks for the suggestion @snitin315. I'm sure this works well for some projects but the suggested automation wouldn't work with our workflow. Thanks again!

[2021-04-05 10:39] #1010 closed

[2021-04-05 10:44] aaemnnosttv commented on #869
Closing this out in favor of dedicated issues:

- https://github.com/google/site-kit-wp/issues/877 (fixed)
- https://github.com/google/site-kit-wp/issues/1147

[2021-04-05 10:44] #869 closed

[2021-04-05 10:48] jamesozzie commented on #1008
@MrWonka Just following up with you to check whether the issue persists? I'm unable to reproduce the same issue using the latest version of the Kadence theme with the admin toolbar enabled and Site Kit active.

If you are still encountering the same issue please check whether you have the minification option configured within your Autoptimize plugin, with a possible conflict with the Site Kit admi

[2021-04-05 10:48] #1008 closed

[2021-04-05 10:49] aaemnnosttv commented on #870
The current UI appears to be correct; it must have been fixed in other issues.

**Dashboard**
![image](https://user-images.githubusercontent.com/1621608/113566587-a3b59c80-9615-11eb-9d04-84b51041125f.png)

**Search Console dashboard**
![image](https://user-images.githubusercontent.com/1621608/113566610-b5973f80-9615-11eb-80b5-ec5575c0eb68.png)

[2021-04-05 10:49] #870 closed

[2021-04-05 10:53] aaemnnosttv commented on #1139
@tofumatt would you please review this to see if it's still relevant? I believe we're already doing this in new/refactored components. Not sure it's worth a dedicated issue for older ones that will probably be removed (or refactored) at some point anyways.

[2021-04-05 11:00] aaemnnosttv commented on #866
Thanks for raising this @jangrewe ! This is something we're actively working on and tracking in #2220. Please follow this issue for updates 👍

[2021-04-05 11:00] #866 closed

[2021-04-05 11:04] aaemnnosttv commented on #1232
Closing this one out as stale. Seems like it may have been a problem with the build or the local environment at the time.

Thanks @cole10up !

[2021-04-05 11:04] #1232 closed

[2021-04-05 11:06] aaemnnosttv commented on #1475
@cole10up @wpdarren I believe this is already fixed, can you please confirm? If this is no longer an issue, let's close it 👍

[2021-04-05 11:25] aaemnnosttv commented on #1868
Closing this out as we recently updated it to `14` which is quite a bit more recent than `10` 😄

I don't think we will be changing it to the dynamic `lts/*` though because we want to control when it changes.

[2021-04-05 11:25] #1868 closed

[2021-04-05 11:33] jamesozzie commented on #1307
If you'd like us to investigate your site feel free to [open a new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in the WordPress support forums, where we provide support for such queries.

Note also that while we are continuously making improvements where possible to Site Kit performance it's worth doing some performance checks when manually connecting the various

[2021-04-05 11:33] #1307 closed

[2021-04-05 11:39] aaemnnosttv commented on #1752
Thanks for the suggestion @dingo-d ! This is already possible using some filters on the PHP side, although it may not be documented yet.

For Analytics for example (assuming it is connected via the Analytics module) you can block it from being output entirely with this filter:

[code]

**For consent-type blocking specifically,** you can use an alternate filter which will still output the tags, but

[2021-04-05 11:39] #1752 closed

[2021-04-05 11:43] wpdarren commented on #1475
@aaemnnosttv in IE11 on Windows 10, the screen is blank when going to all of the Site Kit pages.

![image](https://user-images.githubusercontent.com/73545194/113570131-5271d100-9646-11eb-9edd-175fc688d3bf.png)

When looking at the console there are 2 warnings and 1 error.

![image](https://user-images.githubusercontent.com/73545194/113570495-0a9f7980-9647-11eb-8134-89d4a4af0ab9.png)

Should we clo

[2021-04-05 11:52] asvinb commented on #3065
@felixarntz In the AC, there is mention of the feature flags. Turns out that the widgets will only be displayed if the feature flags are enabled. Thus we don't need to cater for the Legacy ones. Let me know if am missing anything here.

[2021-04-05 12:03] abdullah1908 commented on #2840
Sure @bethanylang here are the steps that I followed:
- Install Site Kit on subdomain
- Change http to https
- Setup Site Kit & configured Google Services
- I couldn't see any notice & it worked smoothly.
- See [recording](https://www.loom.com/share/9c10462b534b47119b159df9008fe7e7) for further details.

[2021-04-05 12:41] wpdarren commented on #2063
### QA Update: Pass ✅

- The new "Overview" widget is displayed above the current legacy component. Both widgets, legacy and new one display the same data.
- The new widget does not allow the selection of multiple metrics at the same time and there is a graph line chart that includes the dashed line for the previous period.

![image](https://user-images.githubusercontent.com/73545194/113574646-18f

[2021-04-05 13:43] wpdarren commented on #2069
### QA Update: Fail ❌

- The spacing in the columns is different between the new and legacy `Top acquisition channels` widget.

New widget - [Screenshot](https://user-images.githubusercontent.com/73545194/113579676-36c2f680-9657-11eb-898d-98a85eeb85ad.png)

Legacy widget - [Screenshot](https://user-images.githubusercontent.com/73545194/113579733-480c0300-9657-11eb-8caf-b9ec94b3816e.png)

The `See

[2021-04-05 15:30] bethanylang commented on #2840
This was likely fixed by https://github.com/google/site-kit-wp/issues/2935. Closing!

[2021-04-05 15:30] #2840 closed

[2021-04-05 15:37] felixarntz commented on #3065
@asvinb Yes, I just mentioned the feature flags as a clarification that they need to be enabled to even see a change here.

IB ✅

[2021-04-05 15:51] cole10up commented on #3027
### **QA ✅**

Followed the QA brief with a new JN site. Confirmed that GA tracking events are sent when the menu links are clicked after enabling the helpVisiblity feature.

Sending to approval.

[2021-04-05 15:54] bethanylang opened #3086 "Add detection functionality from AMP plugin"
## Feature Description

The AMP plugin has code that will automatically detect where problematic code for AMP compatibility is coming from in order to direct the user to where to look to fix. Consider adding this functionality to the Site Kit plugin in order to point users to where to go to fix identified conflicts, such as a GA tag already installed.

---------------

_Do not alter or remove anyt

[2021-04-05 16:13] aaemnnosttv commented on #2782
@cnxsoft yes, that sounds like the same problem indeed. From what I can tell, it seems like query parameters are not being handled properly by the server, or are being stripped somewhere along the way (server/nginx config, CDN, security filters, etc).

[2021-04-05 17:00] felixarntz commented on #2671
@johnPhillips Apologies for the delay in review here - back to you with a few follow-up items.

[2021-04-05 17:42] tofumatt commented on #2974
QA ✅

[2021-04-05 18:30] bethanylang commented on #6
@seriouslyjennings Thanks for sharing your use case and interest in this feature. This is definitely still on our radar as an improvement to Site Kit, but as this time, we don't have a detailed timeline. Please feel free to follow this issue to receive future updates. Thank you!

[2021-04-05 18:33] bethanylang commented on #852
Thanks, all, for your upvotes and requests here. Non-admin user access is still on our radar as a future improvement, but we don't have a specific timeline for implementation at this time.

[2021-04-05 19:14] felixarntz commented on #3086
The library I was talking about is https://github.com/GoogleChromeLabs/wp-origination, however it is not yet completed (i.e. the AMP plugin doesn't use it _yet_ either). Given we can't use it right now, I'll move this to _Stalled_ for us to revisit once available.

cc @westonruter

[2021-04-05 19:18] felixarntz commented on #536
Duplicate of #88 (i.e. this has been in place since Site Kit 1.1.0).

[2021-04-05 19:18] #536 closed

[2021-04-05 19:21] felixarntz commented on #639
@westonruter @jasti This used to not be possible since AdSense itself didn't support AMP Stories. However, that changed in late 2020, and we've since added support for AMP stories (now Web Stories plugin) in#2602 (i.e. this has been part of Site Kit since the 1.27.0 release).

[2021-04-05 19:21] #639 closed

[2021-04-05 19:23] felixarntz commented on #648
@aaemnnosttv Now that we have ZenHub, I'd prefer to close this. We rely on PRs being connected to an issue via the UI on PRs, and these show up connected to the issue in the project board.

Let me know if you feel strongly about adding this - my concern is it would introduce yet another place (in addition to mentioning issue in the PR description and connecting the PR in ZenHub) to note the connec

[2021-04-05 19:23] #648 closed

[2021-04-05 19:26] felixarntz commented on #761
Duplicate of #36 (now being tracked via #3052)

[2021-04-05 19:26] #761 closed

[2021-04-05 19:27] felixarntz commented on #748
This is likely no longer valid at this point, given all the refactoring we have done around these areas. Please reopen if it still proves to be an issue.

[2021-04-05 19:27] #748 closed

[2021-04-05 19:29] felixarntz commented on #655
This has been fixed by now as part of the AdSense refactoring which happened in early 2020.

[2021-04-05 19:29] #655 closed

[2021-04-05 19:31] tofumatt commented on #3068
QA ✅

[2021-04-05 20:00] felixarntz opened #3091 "Show change values in AdSense summary widget"
Originally reported as part of #656: In the AdSense summary widget, only the "Total Earnings" value currently shows up with a change percentage. The "RPM" (or "Page RPM" as of #656) and "Ad Impressions" values should also have a change value.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The AdSense

[2021-04-05 20:01] felixarntz commented on #656
I've defined the ACs for this issue focused on the wording and formatting changes only and opened a separate #3091 for adding the two additional change values (with the latter being only done for the refactored widget, since it's not worth investing the time in the legacy version that will soon be phased out).

[2021-04-05 20:05] felixarntz commented on #828
This is now being prioritized and tracked via #2681, i.e. I'll close this one as a duplicate now.

[2021-04-05 20:05] #828 closed

[2021-04-05 20:06] felixarntz commented on #796
This should no longer be relevant now that Site Kit offers more reliable tag detection (for Analytics, AdSense, Tag Manager). I'll close this for now, but please reopen if it proves to still be a problem.

[2021-04-05 20:06] #796 closed

[2021-04-05 20:17] ivankruchkoff commented on #2069
@wpdarren to the second part of that, the acquisition report being only 7 days instead of 28 days, that's expected behaviour, and we can confirm that by ensuring that the **four** urls all point to the same place: `See full stats in Analytics` and `Source: Analytics links` in both the new widget and the old one.

[2021-04-05 20:51] ivankruchkoff commented on #2069
Got a CR to address the issues https://github.com/google/site-kit-wp/pull/3092/files?diff=split&w=1

Added screenshots with the fix applied in desktop and mobile renderings.

![after-mobile](https://user-images.githubusercontent.com/373931/113625560-eb3c2880-9615-11eb-8354-9d82faa56a6d.png)
![after-desktop](https://user-images.githubusercontent.com/373931/113625571-ed9e8280-9615-11eb-9ee7-cd420074

[2021-04-05 20:53] westonruter commented on #3086
Improving the markup attribution logic is gonna be important for our PX guide work to identify theme/plugin responsible for bad code, as well as just generally being needed by the AMP plugin for validation. After we get AMP plugin v2.1 out the door I'd be able to turn attention to it again. It would be good for the AMP plugin as there's quite a bit of technical debt for the old implementation that

[2021-04-05 22:38] ivankruchkoff commented on #3018
QA:Eng ✅
QA ✅
1. Add redirect rule to nginx `rewrite ^/favicon.ico$ http://via.placeholder.com/16 redirect;`
2. Open http://sitekit.10uplabs.com/wp-admin/admin.php?page=googlesitekit-settings#settings/adsense/view

Before `98fcde0af` Release 1.29.0
<img width="830" alt="Screen Shot 2021-04-05 at 3 18 04 PM" src="https://user-images.githubusercontent.com/373931/113634009-dade7a80-9622-11eb-8048-2b2

[2021-04-05 23:04] westonruter commented on #3086
Nevertheless, the full scope of Origination and what the AMP plugin is doing is likely overkill for what you need. Given that you most likely are exclusively looking for analytics that is output via printing in an action, you could just extract this code from the AMP plugin:

https://github.com/ampproject/amp-wp/blob/2d0de18b0f33b3f56e718742407f2c8a195a0f60/includes/validation/class-amp-validation

[2021-04-06 06:39] aaemnnosttv commented on #2069
Thanks @ivankruchkoff ! Back to you @wpdarren 👍

[2021-04-06 06:59] aaemnnosttv opened #3093 "Module sorting uses wrong property in some components"
## Bug Description

Some components that list modules also sort them before rendering (this is likely goes back to pre-datastore design as `getModules` currently returns a "sorted" object).

In the legacy schema, a module is sorted by its `sort` property, however in the current schema, modules have a `order` property instead. There are a few instances in the refactored components where this proper

[2021-04-06 07:19] aaemnnosttv commented on #2784
@eugene-manuilov would you please add a QA Brief?

[2021-04-06 07:57] aaemnnosttv commented on #2940
IB ✅

As a side note, don't forget to always populate the sections for Test Coverage and VRT. In this case, there shouldn't be any just something to keep in mind. This helps us differentiate between "none needed" and "needed, but forgot" scenarios 😄

[2021-04-06 08:02] aaemnnosttv commented on #648
@felixarntz I agree it's not as necessary now with ZenHub, although I wish it was more prominent on the single issue view. It seems the connection is only really displayed on the PR and in the board view (when enabled – which I usually keep off because it's so noisy and messes up column counts). Agreed this isn't worth the overhead now though 👍

[2021-04-06 08:14] aaemnnosttv commented on #3074
@felixarntz it seems as if the setup stories for the "Disconnected" cases may also be not displaying as expected - they look the same as "Start" and "Start [User Input]" respectively. We should probably update the ACs to include these as well.

[2021-04-06 08:26] asvinb commented on #3031
Checked the codebase for the terms in the AC and none found.
### QA: ✅

[2021-04-06 10:58] jamesozzie commented on #1945
I've tested this and I've been unable to recreate this on a new install with only the Age Gate plugin active (with default configuration - [supporting video](https://recordit.co/kBwbSQAUzD)).

Once the Age Gate configuration to "Change the page title" is activated as per @wpdarren testing this will result in duplicate listings. This is not specific to Age Gate, as any change to a sites title does

[2021-04-06 12:07] wpdarren commented on #3026
### QA Update:  Pass ✅

**Verified:**

- The dotted blue outline no long appears when the plugin header help icon is focused or active.

- When you click a link in the dropdown help menu, then switch back to the website, the help icon is highlighted.

- When you click on one of the links in the dropdown help menu, then switch back to the website, the dropdown help menu is displayed when the icon i

[2021-04-06 13:03] wpdarren commented on #2184
### QA Update: Pass ✅

**Verified:**

- The "Connected Services" tab renders the SettingsActiveModules component. - [Screenshot](https://user-images.githubusercontent.com/73545194/113712955-59b5df00-9719-11eb-8880-d9e1f17dc12c.png)

- The "Connect More Services" tab renders the SettingsInactiveModules component. - [Screenshot](https://user-images.githubusercontent.com/73545194/113712972-5e7a9300-9

[2021-04-06 13:31] wpdarren commented on #2069
### QA Update: Pass ✅

**Verified:**

- Compared the two dashboards for the new and legacy `Top acquisition channels` widget.
- Checked that the `See full stats in Analytics` and `Source: Analytics` links point to the correct report.

@ivankruchkoff I've noticed that the  `Organic Search` row is still a little squashed up, but this occurs in the latest version of Site Kit, so is not a cause of thi

[2021-04-06 14:03] wpdarren commented on #2784
### QA Update: Pass ✅

**Verified:**

- On the homepage the ad code is added to the page - [Screenshot](https://user-images.githubusercontent.com/73545194/113722227-cf727880-9722-11eb-86fe-4689bd0da449.png)

- On a non-existing page (404) the ad code is not added  - [Screenshot](https://user-images.githubusercontent.com/73545194/113722124-b669c780-9722-11eb-8d8b-3d73a6580a2c.png)

[2021-04-06 14:06] jamesozzie commented on #1427
Re-assigning while I check this issue still exists.

[2021-04-06 15:21] asvinb commented on #3062
@aaemnnosttv I think the easiest option would be to take the elements out of the grid. I tested that solution and seems to be working fine. Let me know your views.

[2021-04-06 15:24] jamesozzie commented on #1427
I've been able to recreate minification related issues with the W3 Total Cache and admin toolbar with Site Kit 1.29.0 and the Woodmart theme 2.4.0. ([recording](https://recordit.co/f86hxJHexb)).

While there doesn't appear to be any additional characters added to the Site Kit admin toolbar title there are formatting issues as seen below:

![image](https://user-images.githubusercontent.com/41326532

[2021-04-06 15:41] aaemnnosttv commented on #3062
@asvinb you're right but I think the portal is probably unnecessary. In this case, an inactive widget is only one of two conditions:
* A widget with no widget state (i.e. it isn't rendered yet)
* A widget that renders `WidgetNull` (which could happen for a number of reasons)

In both cases the output is effectively nothing already, so the added wrapper div with a hidden class _should be_ redundant

[2021-04-06 15:48] felixarntz commented on #3062
@aaemnnosttv @asvinb I would suggest to try the approach about just rendering the "empty" widgets without the `.googlesitekit-hidden` div. As long as this doesn't cause any "flickering" as widgets become active/inactive, that should be a good approach.

Regardless of that, it might make sense to move these "inactive" widgets to another location in the virtual DOM, so that they could _never_ disrup

[2021-04-06 16:02] felixarntz commented on #3074
@aaemnnosttv I was mentally including them in "Storybook stories for setup using proxy" since they are a subset of that. But I can clarify.

[2021-04-06 17:28] aaemnnosttv opened #3098 "Enhance wording of "Invalid nonce" messaging"
## Feature Description

There are a few cases in the plugin where we currently `wp_die` with "Invalid nonce". This is not the most useful message for a case that is likely uncommon but still fairly possible for a user to encounter. As such, we should re-evaluate the messaging used in each case and potentially add a retry mechanism for better UX such as that discussed in https://github.com/google/s

[2021-04-06 17:45] aaemnnosttv commented on #3062
@felixarntz This should be the only approach needed until we find that another is necessary. I think we may be making more work than needed out of this otherwise. Let's see if the flicker that we're concerned about is possible first.

[2021-04-06 17:47] aaemnnosttv commented on #3074
IB ✅

[2021-04-06 18:07] felixarntz commented on #2384
This is good to go for 1.30.0, and better to include it sooner than later since it'll help with a bunch of support requests.

[2021-04-06 19:00] felixarntz commented on #2066
Moving this to the 1.31.0 release since it's not critical. If it gets ready by tomorrow, we can reassess.

[2021-04-06 19:20] jamesozzie commented on #2924
@abdullah1908 Further insights provided by the impacted user in their [support topic](https://wordpress.org/support/topic/sign-in-loop/page/2/), with another site facing similar issues.

[2021-04-06 21:18] felixarntz commented on #3005
If this gets ready by tomorrow, we should include it in the 1.30.0 release - let's try to prioritize it.

cc @Hazlitte @aaemnnosttv

[2021-04-07 00:45] felixarntz opened #3102 "Implement the ability to query a single GA4 property by ID"
Following up on #2979, it should also be possible to look up a single GA4 property by ID, in the `analytics-4` module class in PHP and the `modules/analytics-4` store in JS.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `Analytics_4` module class should have a new REST datapoint `GET:property`.

[2021-04-07 00:45] felixarntz opened #3103 "Implement infrastructure to query GA4 account summaries"
It should be possible to query GA4 account summaries (see #3012 for related UA account summaries issue).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `Analytics_4` module class should have a new REST datapoint `GET:account-summaries`.
    * It should rely on the [accountSummaries.list](https://d

[2021-04-07 00:45] felixarntz opened #3104 "Implement infrastructure for querying GA4 web data streams in batches"
In addition to the regular `GET:webdatastreams` datapoint in the `analytics-4` module (see #2974) which allows getting web data streams for a single property, it also needs to be possible to request web data streams for multiple properties with a single API request.

The Analytics Admin API does not support that, so we will have to use batching. While it may not immediately feel intuitive or neces

[2021-04-07 01:00] felixarntz opened #3105 "Add general selector to match the site URL and use it to get the matching GA4 web data stream"
In order to know whether Site Kit needs to create a new web data stream for the GA4 property that the user has selected or whether it can use an existing one, the `modules/analytics-4` store should offer a selector.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site` datastore should get a

[2021-04-07 01:18] felixarntz opened #3106 "Implement rendering GA4 tags in the frontend"
Similar to the `Analytics` class, the `Analytics_4` class should also support rendering tags in the frontend.

Note that it should be avoided though that both of them render their individual tags. There is a concept of double tagging which should be leveraged instead for the case that both modules need to render tags.

At the same time, the implementations should be standalone out of the box. _If_

[2021-04-07 02:43] yangm97 commented on #41
Having worked at a marketing agency I feel like I should leave some feedback on this.

Fetching a plugin "natively" through composer implies dependencies are going to be consolidated at the `vendor` directory, which in turn reduces disk usage by duplication. At a glance it may not seem like much but ~it's honest work~ it scales pretty quickly as more plugins are added.

One could say the most dupl

[2021-04-07 05:33] aaemnnosttv commented on #1475
Thanks @wpdarren.

Taking a closer look, it seems like there may be problems in WP itself as well
![image](https://user-images.githubusercontent.com/1621608/113814227-fb6d1880-9779-11eb-8006-c75d74b4b325.png)
This seems to be due to an arrow function in the polyfill which IE doesn't support 😄

You're right that none of our React apps are rendering though. This appears to be due to the same issue -

[2021-04-07 08:34] aaemnnosttv commented on #2101
@felixarntz added this to the release since it's a very small change and I basically QA'd it during CR.

[2021-04-07 09:02] aaemnnosttv commented on #3043
@ivankruchkoff can you give a more concrete example of where this is a problem for us?

[2021-04-07 09:44] aaemnnosttv commented on #3058
* Set the `margin-left` to `24px`. Instead of adding `margin-right` to the `.googlesitekit-help-menu` element, we are adding `margin-left` to the adjacent element so that the dropdown menu for the help icon is aligned with the button.

@asvinb this part goes beyond the ACs but it looks like a good change to make for consistency (cc @felixarntz)

If we make this change, we should probably apply thi

[2021-04-07 09:52] eugene-manuilov commented on #2976
@aaemnnosttv do you mind reviewing #3089?

[2021-04-07 10:20] aaemnnosttv commented on #3064
Thanks @ivankruchkoff – a few things to address yet.
* The IB does not currently address the change to displayed metric itself

* It's important to note that `serviceReportURL` argument values (e.g. `analytics.trafficChannel:Organic%20Search`) should not be URL encoded to avoid double encoding
    * This includes `/` -> `~2F` for the page path which is also handled by the selector

[2021-04-07 10:51] wpdarren commented on #2064
### QA Update: Pass ✅

**Verified:**

- The new widget is identical to the legacy - checked the data for all date periods, layout on desktop and mobile.
- `See full stats in Search Console` and `Source: Search Console` links point to the correct reports in Search console.
- There is a  corresponding new story in storybook.

![image](https://user-images.githubusercontent.com/73545194/113853619-6f3a

[2021-04-07 11:01] wpdarren commented on #2384
### QA update: Pass ✅

**Verified:**

- Reset tool is found under Tools > Available Tools from the admin menu

![image](https://user-images.githubusercontent.com/73545194/113856037-4c5d2b00-97d3-11eb-94fd-db7d1c22e17a.png)

- Site Kit is successfully reset after clicking the button

- The client side storage is cleared on reset.

![image](https://user-images.githubusercontent.com/73545194/11385613

[2021-04-07 11:06] abdullah1908 commented on #2924
Thanks @jamesozzie I'll further look into this issue based on the [new details](https://wordpress.org/support/topic/sign-in-loop/page/2#post-14256960).

[2021-04-07 11:10] wpdarren commented on #2962
### QA Update: Pass ✅

**Verified:**

The warning message text has changed to `Please note that AdSense will not show ads on your website unless you’ve already placed the code` as per the AC.

![image](https://user-images.githubusercontent.com/73545194/113857121-b4604100-97d4-11eb-901d-893ff70b0105.png)

[2021-04-07 11:22] aaemnnosttv commented on #3029
cc: @tofumatt @felixarntz

[2021-04-07 11:25] tofumatt commented on #3093
IB ✅

[2021-04-07 11:38] wpdarren commented on #2900
### QA Update: Fail ❌

@johnPhillips when I hit backspace within a word, it will allow me to delete one letter but the cursor then jumps to the end of the word.  This is an issue if I am wanting to delete more than one letter within the word. When I hit the backspace once, I should then be able to hit the key again to delete the next letter.

Here's a quick screencast

https://user-images.githubus

[2021-04-07 12:21] wpdarren commented on #2909
### QA Update: Engineer to confirm ⚠️

@Hazlitte Following the steps in the QAB, this passes, but I have a scenario that I'd like some clarification on.

On another of my test sites, within the theme, I have inserted the GA code in the header, but I have also connected Analytics within Site KIt.  In the settings, in the latest release, the `Let Site Kit place code on your site` is enabled by defau

[2021-04-07 12:46] wpdarren commented on #2101
### QA Update: Pass ✅

**Verified:**

- Warning about REST API disabled

![image](https://user-images.githubusercontent.com/73545194/113868365-2ee38d80-97e2-11eb-879b-5078d2d81faa.png)

- Warning when the wp-json/* requests are blocked

![image](https://user-images.githubusercontent.com/73545194/113868487-4cb0f280-97e2-11eb-97d9-da84a22dcc4c.png)

@aaemnnosttv thanks for these super useful instruc

[2021-04-07 12:49] jamesozzie commented on #1152
I tested this today and the issue remains. Some additional insights below:
- By default a staging site on Siteground is http, resulting in the below when clicking on the "Get oAuth Credentials"
![image](https://user-images.githubusercontent.com/41326532/113865918-98dd4200-97a4-11eb-998e-fc692a255100.png)

When changing the request to include https I was able to proceed. I changed to the below form

[2021-04-07 13:09] abdullah1908 commented on #1398
@jamesozzie this error occurred for me as well. Its fixed by resetting Site Kit settings before Redo Site Kit Setup.

[2021-04-07 13:20] cnxsoft commented on #2782
@aaemnnosttv Yes, that was it. I compared my nginx configuration files, and in the websites with the issue, it was configured as follows:

` location / {
                # This is cool because no php is touched for static content
                try_files $uri $uri/ /index.php;
        `}`

I change it to
`location / {
                # This is cool because no php is touched for static content

[2021-04-07 13:27] aaemnnosttv commented on #2782
Thanks for sharing @cnxsoft – that would definitely do it, glad things are back to normal for you 👍

Closing this one out as a non-issue for the plugin.

[2021-04-07 13:27] #2782 closed

[2021-04-07 13:50] asvinb commented on #3062
@aaemnnosttv @felixarntz I've updated the IB, let me know if that works. I'am not sure about the "flickering" since I didn't see anything weird. However, I think that if anything which is hidden but provides functionality must be outside of the grid because later down the road, it can mess up CSS selectors, even though the chance is very small.

[2021-04-07 14:02] wpdarren commented on #2616
Adding a note to confirm I have asked on Slack for the illustrations in Figma, so we can compare what is on the  test site.

[2021-04-07 14:30] bethanylang commented on #3018
Noting that this issue also appears to be affecting SiteGround's CDN, as well, per https://wordpress.org/support/topic/adsense-unable-to-connect-ad-blocker-detected/page/2/#post-14287379.

[2021-04-07 15:50] aaemnnosttv commented on #3062
@asvinb it's a bit confusing, but we're not actually hiding anything. In this case, "hidden" actually means non-existent 😄  Inactive widgets are those that render `WidgetNull` or have no state (not rendered yet). We currently do something very similar when rendering a widget area if there are no active widgets:

https://github.com/google/site-kit-wp/blob/0e03a537ab1abe5d81bc617bd93e558e65f34a69/as

[2021-04-07 16:27] jamesozzie commented on #2118
@vmajor Just to let you know TranslatePress have made updates to their plugin to ensure Site Kit users remain connected. If you have any further queries on this feel free to reach out via the Site Kit [WordPress support forums](https://wordpress.org/support/plugin/google-site-kit/#new-post).

[2021-04-07 16:37] marrrmarrr commented on #371
Thanks for the suggestion! Looking through the WP plugin repository, there are already a number of solutions that help with ads.txt file management and creation on WP:
https://wordpress.org/plugins/search/ads.txt/
Site Kit's goal is to help with easy setup and automate as many of the steps as possible; creating and editing an ads.txt file seems like a process that requires more advanced tech savvi

[2021-04-07 16:37] #371 closed

[2021-04-07 16:56] felixarntz commented on #336
Given that the AdSense API doesn't allow write interactions, unfortunately we cannot manage these settings from within Site Kit. However, being able to modify the AdSense snippet is definitely a great idea. We're going to prioritize this one and introduce a filter which can be used to modify the snippet parameters.

[2021-04-07 16:58] Hazlitte commented on #2909
Hi @wpdarren, I looked into this and then we discussed it on standup.  The behaviour is expected and the team has noted that there is a UX issue here that needs assessing.

[2021-04-07 17:01] felixarntz commented on #37
Technically, it is already possible to use Site Kit in the backend of a headless WordPress site, by using a custom GCP app (see https://sitekit.withgoogle.com/documentation/using-site-kit-on-a-staging-environment/). This has limited support though, and we're exploring on how to improve this, which is a separate effort.

In order to then also get the tag rendering benefits of Site Kit, we'll need t

[2021-04-07 17:03] felixarntz commented on #389
This can already be accomplished as of now, using a filter, e.g.:
[code]

This would block the AdSense tag from being rendered in non-AMP.

Exposing an option for this use-case in the UI is a bit too much for this specific use-case, so we'll close this for now as fixed, since it can be accomplished with a single-line plugin.

[2021-04-07 17:03] #389 closed

[2021-04-07 17:04] felixarntz commented on #99
This has been fixed by now during the refactoring, it's now clarified.

[2021-04-07 17:04] #99 closed

[2021-04-07 17:35] tofumatt commented on #2069
QA ✅

Tested the new and old versions: they look the same but the new one is rendered all widget-y 👍🏻

[2021-04-07 17:55] tofumatt commented on #2900
@johnPhillips and I chatted about this and turns out this was an issue even before this fix landed—the way we store the data for these elements in state and then select them causes a known bug with input cursor jumping with controlled components. I found a fix for this and will have a PR soon… it's arguably almost a separate issue but I'll fix it as part of the QA here. 🙂

[2021-04-07 18:05] felixarntz commented on #41
@yangm97 As I mentioned before, you can currently install the plugin with composer, using [`wpackagist`](https://wpackagist.org/search?q=google-site-kit&type=any) (I'm actually using that on my personal site as well, which I manage with composer). Could you clarify what problem you see with that approach? What would be the benefit of having the plugin published separately on `packagist`?

[2021-04-07 18:45] abdullah1908 commented on #2899
I can't see format issue on low number like 65. It can be seen on the big numbers when Analytics stats crossed more than 10K users on website. We should bring to the Engineering as well to get insights about the functionality they used to format the data.
Please see [loom](https://www.loom.com/share/3fb68887ea5742e7bc2fd84e42fbe19b) for further details.

[2021-04-07 18:58] ivankruchkoff commented on #2969
QA ✅

Created two test branches `test/2969-js` and `test/2969-php` and draft PRs for them. Put a js dummy commit in the js branch and php dummy commit in the php branch, and looked through the actions that were run.

![screencapture-github-google-site-kit-wp-actions-2021-04-07-11_10_41](https://user-images.githubusercontent.com/373931/113919515-8a892900-9798-11eb-9644-06429fd26502.png)

[2021-04-07 20:47] swissspidy commented on #41
The issue with that is, when you load another package XYZ via Composer that also includes e.g. Guzzle, you end up with two versions of Guzzle in your project. Whereas ideally, in a normal Composer project, it would only be installed once and used by both packages.

[2021-04-07 20:50] swissspidy commented on #41
You might want to read discussions at https://github.com/ampproject/amp-wp/pull/5745 and https://github.com/ampproject/amp-wp/issues/2649 for some context on why publishing a project like this to Packagist is not as straightforward as you might think

[2021-04-07 21:10] ivankruchkoff commented on #3043
@aaemnnosttv  Short answer, it's **no longer a problem** for us for the issue that I was facing.

Longer answer, copied from https://github.com/google/site-kit-wp/issues/2069#issuecomment-809707111 in IB for https://github.com/google/site-kit-wp/issues/2069 we needed (but **no longer need to** following an update from @felixarntz ) to pass through a `url` param:
https://github.com/google/site-kit-

[2021-04-07 21:52] felixarntz commented on #41
That makes sense, in principle. However, by default Site Kit has all its production dependencies prefixed, so for those publishing on packagist wouldn't actually solve the problem. So if that's a crucial part of it, we'd need to cater for that, making this less trivial than just simply publishing it.

[2021-04-07 22:56] tofumatt commented on #3074
QA ✅

[2021-04-07 23:47] ivankruchkoff commented on #3093
QA Update: Fail ❌

Searched through codebase for where we sort modules `ack --js '\.sort\('`, manually inspecting each result to ensure it pertained to modules:

[code]

The third one in that list is a missed case so I put out a PR: https://github.com/google/site-kit-wp/pull/3112/files

[2021-04-08 04:36] wpdarren commented on #2909
### QA Update: Pass ✅

- Went through the tasks in the QAB and the frontend page still only has the GA tag inserted by the tester plugin and a second one has not been inserted.   - [Screenshot](https://user-images.githubusercontent.com/73545194/113969003-c2f73880-9866-11eb-8021-b94439a6ba4a.png)

@Hazlitte the UX issue you mention, I am assuming a separate ticket will be submitted for this?

[2021-04-08 05:01] wpdarren commented on #3005
### QA Update: Pass ✅

**Verified:**

Tested this fix on a live site.  Initially, it was set to `domain-name.com` and I made a note of the Analytics and Adsense data. I then changed the domain name to `www.domain-name.com` and reconnected to Site Kit.  When looking at the two modules the data remained the same between the www and non www domain change in general settings.

[2021-04-08 05:42] ivankruchkoff commented on #3064
@aaemnnosttv  I've made an update, can you confirm that the common report args are the right place to add `dimensionName` and `dimensionValue`.

I also added another label that needs updating.

[2021-04-08 08:09] aaemnnosttv commented on #3043
Thanks @ivankruchkoff. I see a few solutions to this that don't require trying to fix things at the WP REST API level. As was mentioned in the trac ticket, this is a non-issue for rest routes that properly declare their schema for each parameter, and it will transform a string "false" into a boolean if the parameter is defined as one.

The problem in our case is that we share endpoint definitions

[2021-04-08 09:01] aaemnnosttv opened #3114 "Release 1.30.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2021-04-08 09:27] Hazlitte opened #3115 "UX: `useSnippet` setting requires manual save after programmatic toggle"
## Bug Description

When GA snippet is manually inserted and Analytics is connected in Site KIt.  In Site Kit -> Analytics settings the "Let Site Kit place code on your site" switch is disabled but the confirm changes button is active even though the user has not made a change.

## Steps to reproduce

1.  Check that the tester plugin is not manually inserting the GA snippet
2.  Connect Analytics i

[2021-04-08 09:33] Hazlitte commented on #2909
Hi @wpdarren,
I have created a new ticket for this as tagged above, #3115.
Thank you for spotting the problem.

[2021-04-08 10:37] aaemnnosttv commented on #3064
@ivankruchkoff report selectors don't have arguments for `dimensionName` or `dimensionValue`. We need to pass these to the `dimensions` and `dimensionFilters` respectively, but it's not a 1-1 change. See the docs for these options here: https://github.com/google/site-kit-wp/blob/e465574ad2be4bfcdca30f744c0dc0be208e17e2/assets/js/modules/analytics/datastore/report.js#L138-L139

I think you also wor

[2021-04-08 11:05] asvinb commented on #3062
@aaemnnosttv Following our conversation, I updated the IB where I suggest we use both the `Portal` approach and not rendering anything is the widget element having the hidden class is empty. I tried the suggestion of moving the hidden class to be a sibling of the `OverrideComponent` component in `WidgetRenderer` but it does not work for all cases it seems. I can still see some stray elements havin

[2021-04-08 11:16] tofumatt commented on #3060
Looks good; I double-checked all the components with `wrapWidget: false` and this looks like the complete set that need fixing.

IB ✅

[2021-04-08 11:31] asvinb commented on #3058
@aaemnnosttv IB updated to cater for the margin for adjacent drop downs. For the icon, check screenshot below:
![image](https://user-images.githubusercontent.com/31818/114019305-491f7900-987f-11eb-8e74-970b3b795b4e.png)
Notice that the icons are not aligned, even though both have the same height. This is because there is some extra whitespace around the help icon and the actual path height is `16p

[2021-04-08 11:47] tofumatt commented on #3011
IB ✅

[2021-04-08 11:54] wpdarren commented on #2616
### QA Update: Checking with Engineer re. one test. ⚠️

**Verified:**

_AC checks:_

- `rocket.svg` this is replaced with the green success side kick illustration

![image](https://user-images.githubusercontent.com/73545194/114011261-9e678480-9897-11eb-9884-093a4c022203.png)

- `person-sitting.svg` this is replaced with the green onboarding side kick illustration

![image](https://user-images.gith

[2021-04-08 12:42] tofumatt commented on #98
IB ✅

[2021-04-08 12:54] tofumatt commented on #2983
IB ✅

[2021-04-08 13:03] tofumatt commented on #2951
The IB had adjustments made now that #2987 is merged (the original IB mentioned this, but I made them concrete). Essentially just that the component `AnalyticsAdSenseDashboardWidgetTopPagesTable` is now `LegacyAnalyticsAdSenseDashboardWidgetTopPagesTable` Otherwise looks good!

IB ✅

[2021-04-08 13:46] Hazlitte commented on #3114
Looks good to me.

[2021-04-08 13:47] johnPhillips commented on #3114
Looks good from my end too 👍

[2021-04-08 14:52] aaemnnosttv commented on #2616
## QA ⚠️

- [`sun-small.svg`](https://github.com/google/site-kit-wp/blob/98fcde0affabcaef07f567f96eb71fbe42fc5599/assets/svg/sun-small.svg) -> [`notification-alert.svg`](https://github.com/google/site-kit-wp/blob/7a9bc2e2dfd27abdfbfb370cb22b55ee63a7f061/assets/svg/notification-alert.svg)

**Before**
![sitekit 10uplabs com_wp-admin_admin php_page=googlesitekit-dashboard (3)](https://user-images.git

[2021-04-08 15:01] aaemnnosttv commented on #2616
Updating the alert with a height of `136` matches
![Kapture 2021-04-08 at 17 57 57](https://user-images.githubusercontent.com/1621608/114049450-2186db80-9894-11eb-9353-2c82a494dd04.gif)

I'll open a follow-up PR with this change and Felix can merge it if we feel this should change. The newer version does look a bit too big to me due to the added height, especially if there isn't much content in th

[2021-04-08 15:16] wpdarren commented on #2616
@aaemnnosttv @felixarntz  I have just checked on smaller screen sizes and the new illustrations do not seem to be
responsive. Take the green success side kick illustration as an example. This is 200x200 pixels on desktop and mobile.

I am not sure if this is expected.

![image](https://user-images.githubusercontent.com/73545194/114050935-42b0f180-98bf-11eb-96e9-786654282d05.png)

Not all of the ic

[2021-04-08 15:21] aaemnnosttv commented on #2616
@wpdarren would you please compare with the previous release so we know if this would be a regression or not?

[2021-04-08 15:27] wpdarren commented on #2616
@aaemnnosttv actually, I just did that, and no it's not a regression, the pixel sizes were the same before on desktop and mobile, so I think the only difference is that the new illustrations are just slightly larger.

![image](https://user-images.githubusercontent.com/73545194/114053885-ed2a1400-98c1-11eb-8713-bc83df945a9e.png)

[2021-04-08 15:36] felixarntz commented on #2616
@wpdarren @aaemnnosttv I think the PR is worth merging to fix the warning illustration size. The other one for the success notification is okay as is.

[2021-04-08 15:59] aaemnnosttv commented on #2616
@wpdarren the size tweak for the notification alert was merged so I think we can consider the last good to go now 👍

[2021-04-08 16:18] johnPhillips commented on #3093
QA ✅

Searched the codebase as @ivankruchkoff did above, but used ripgrep with `'\.sort\('`. I was able to see the missed case he mentions has been fixed. I was unable to find any remaining instances.

[2021-04-08 17:20] felixarntz opened #3118 "Use a separate application name when WordPress multisite is used"
When making requests to the authentication service, the `application_name` request parameter is passed. If the site's environment is using WordPress multisite, an alternate identifier should be used.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* When using WordPress multisite, the application name pr

[2021-04-08 18:01] #3026 closed

[2021-04-08 18:01] #2969 closed

[2021-04-08 18:01] #3093 closed

[2021-04-08 18:01] #2901 closed

[2021-04-08 18:01] #2067 closed

[2021-04-08 18:01] #2068 closed

[2021-04-08 18:01] #2874 closed

[2021-04-08 18:02] #2896 closed

[2021-04-08 18:02] #2065 closed

[2021-04-08 18:02] #2063 closed

[2021-04-08 18:02] #2974 closed

[2021-04-08 18:02] #3027 closed

[2021-04-08 18:02] #3068 closed

[2021-04-08 18:02] #3018 closed

[2021-04-08 18:02] #3031 closed

[2021-04-08 18:03] #2184 closed

[2021-04-08 18:03] #2784 closed

[2021-04-08 18:03] #2064 closed

[2021-04-08 18:03] #2384 closed

[2021-04-08 18:03] #3005 closed

[2021-04-08 18:03] #3074 closed

[2021-04-08 18:03] #2069 closed

[2021-04-08 18:03] #2101 closed

[2021-04-08 18:03] #2962 closed

[2021-04-08 18:03] #2909 closed

[2021-04-08 18:34] felixarntz commented on #3105
This is almost a duplicate of #2981, but it comes with one nuance worth including, which is the reusable `isSiteURLMatch` selector. I'll rephrase the ACs accordingly.

[2021-04-08 18:36] tofumatt commented on #2695
The ACs here mention modifying `determineSiteStatus` to convert the URL to lowercase inside its function, which I think is the better approach here. Rather than relying on the developer knowing when to modify their site's URL. So let's move the `toLowerCase` into the utility function itself instead, so developers don't need to modify their site's URL.

[2021-04-08 19:33] ivankruchkoff commented on #3114
🕵 LGTM

[2021-04-08 19:39] ivankruchkoff commented on #1558
As an additional datapoint, setting up sitekit over http, then enabling flexible ssl and visiting via https gives `blocked:mixed content` in the network tab and a notification `You are probably offline` on the sitekit dashboard

Screenshot attached:
<img width="1099" alt="mixed-content" src="https://user-images.githubusercontent.com/373931/114086437-77915a00-9867-11eb-810b-c480b36b759c.png">

[2021-04-08 20:49] tofumatt opened #3119 "Widget-based dashboard header + subheader is separated from widget area with set margin rather than grid"
## Bug Description

The header + subheader (highlighted in the screenshots) on the new widget-based dashboard have a fixed margin to separate them from the widget area, which leads to a minor difference in the before/after of these components.

That alone isn't a huge deal, as it's a pixel difference and a few developers on the call even thought the newer version looked a bit better. But its imple

[2021-04-08 22:19] ivankruchkoff commented on #2105
The IB of this ends up being the PHP analogue to the JS in #1309, and we can take it a step further by creating a get_site_kit_locale function which takes an optional context = 'user' parameter, that does the replacement and proxies to the corresponding `get_locale()` and `get_user_locale()` functions.

The upshot is that we don't need to call substr everywhere we use the core functions.

[2021-04-09 03:52] wpdarren commented on #2616
### QA Update: Pass ✅

**Verified:**

_AC checks:_

- `rocket.svg` this is replaced with the green success side kick illustration

![image](https://user-images.githubusercontent.com/73545194/114011261-9e678480-9897-11eb-9884-093a4c022203.png)

- `person-sitting.svg` this is replaced with the green onboarding side kick illustration

![image](https://user-images.githubusercontent.com/73545194/114017

[2021-04-09 06:23] ivankruchkoff commented on #2870
The cause of this is due to the following `get_users()` query:

https://github.com/google/site-kit-wp/blob/7a9bc2e2dfd27abdfbfb370cb22b55ee63a7f061/includes/Core/Util/Migration_1_8_1.php#L242

The query run is:
[code]

Which on a site with 58k users is quite high (22s on the hardware I have available).

When we simplify the query to
[code]
it runs in negligible speed (300ms).

The question is, @fe

[2021-04-09 06:48] aaemnnosttv commented on #2280
Thanks @Hazlitte I'm glad that the solution seems to be a fairly simple one, however this issue isn't specific to the PageSpeed component (although that does seem to be where it was most commonly reported). Ideally we would solve this plugin-wide although I'm not sure there is a good solution for that.

We should at least do our best to audit where this is currently possible and fix the existing c

[2021-04-09 07:16] aaemnnosttv commented on #2870
@ivankruchkoff I think it will be more effort than it's worth to try to use `WP_User_Query` – we should just use a direct query. We do this in a few other places as well, such as reset and disconnect (pretty much anywhere we might touch all users).

That's much better than 22s 😄  – in my testing I seem to recall that it ran much faster by using the original query but only using a single join (rath

[2021-04-09 08:54] swissspidy commented on #41
Just imagine not doing the prefixing all the dependencies just for Packagist... basically ending up maintaining two versions of the plugin. Doesn't sound very appealing to me.

[2021-04-09 10:48] wpdarren commented on #3114
Looks good to me. Gone through the QA checklist successfully.

[2021-04-09 12:08] eugene-manuilov commented on #3106
@felixarntz there is no `useSnippet` setting in the `analytics-4` module, thus there is no way to display GA4 tag when GA module or its `useSnippet` setting is disabled. We probably need to update AC to remove instructions that can't be implemented, don't we? Also, I think we can simplify implementation if we use `googlesitekit_gtag_opt` filter and manually add inline script to the `google_gtagjs`

[2021-04-09 12:13] tofumatt commented on #3114
QA ✅ All looks good to me!

[2021-04-09 13:06] asvinb commented on #656
@felixarntz I added the IB which caters only for the text changes. For "**Each value in that column should be formatted with the currency (related: #576, which does this on the AdSense module page).**", @aaemnnosttv and I had a call to see whether it was possible or not, with the data being returned. Turns out that the response for the analytics request does not include the currency.
![image](http

[2021-04-09 16:04] perks98 commented on #2220
Is GA4 going to be implemented yet in your plugin? All new properties created in Google Analytics is made now with GA4, For the company I work for the whole purpose of using your plugin is to add Google Analytics tracking code and have Google Search Console to view on WordPress. We haven't been able to use your plugin since my initial message back in October 2020, and using Tag Manager for all my

[2021-04-09 16:31] bethanylang commented on #2220
@perks98 Thanks for getting in touch. GA4 implementation is a high priority for us in the coming months and we're starting the build process soon. Continue to follow this thread for more details on timeline and next steps.

[2021-04-09 20:05] felixarntz commented on #3106
@eugene-manuilov

I think there is (the `Analytics_4\Settings` class has it), or otherwise there should be. For now it should just always be active (default is `true` anyway), the UI to control it will be implemented in a future issue. So that should be able to implemented as stated in the ACs.

While this is possible technically, it shouldn't be done, because filters in WordPress should never cau

[2021-04-09 20:45] felixarntz commented on #3119
@tofumatt I think this is less about using the grid for this element rather than it is about just the spacing being incorrect. We can keep the `margin-bottom` that it has right now, but the problem is that it is `1rem` which doesn't match the spacing used elsewhere.

When looking at the grids throughout the plugin, they use e.g. `var(--mdc-layout-grid-margin-desktop, 24px)` on desktop. So basicall

[2021-04-09 20:49] felixarntz commented on #656
@asvinb Good point; relying on the Analytics profile used sounds good to me. Since we already know that `profileID` currently used in SIte Kit, maybe we should add a `GET:profile` REST data point and `getProfile( profileID )` selector to get that.

Alternatively, I'm also not opposed to using a simple AdSense report query to get that information, since that is something we can already get easily w

[2021-04-09 21:11] felixarntz commented on #2105
@ivankruchkoff I like that idea! Maybe a new method in `Context`? Would be great if you could incorporate that idea into the IB.

[2021-04-09 22:17] ivankruchkoff commented on #2870
Updated the IB (it's a PR), both queries are identical in performance:
[code]

[code]

Since we don't need to even get_users, I've simplified it to just the
`select wp_usermeta.user_id from wp_usermeta where meta_key in ( 'googlesitekit_site_verification_file', 'googlesitekit_site_verification_meta' )` portion

[2021-04-10 03:01] Wesleychavesdeveloper commented on #1412
I migrated ecommerce from a shared hosting to a VPS hosting but now the plug has this error. I already deactivated all the plugs I already uninstalled and installed it again, as instructed in the error message, but the error still continues ..

![screencapture-universodaspiscinas-wp-admin-admin-php-2021-04-09-23_44_32](https://user-images.githubusercontent.com/70098828/114256482-e073f180-998f-11eb

[2021-04-12 06:50] ivankruchkoff commented on #3064
Updated, and yes git blame certainly points at me :) 2421

[2021-04-12 08:27] aaemnnosttv commented on #2870
Great, thanks for checking 👍

IB ✅

[2021-04-12 08:48] Hazlitte commented on #2280
@aaemnnosttv I used regex to search for similar code in JSX that might be susceptable to the same bug.  I found 99 results in 48 files.  I will update the IB to include this approach and am happy to be assigned to execute this task if you are comfortable with the approach.

[2021-04-12 09:00] aaemnnosttv commented on #3062
Sounds good. Let's update `Modal` to use `Portal` internally as well.

* Using `assets/js/googlesitekit/widgets/util/combine-widgets.js`, add the `HIDDEN_CLASS_NULL` to the list of class names in addition to the existing `HIDDEN_CLASS` if the widget has `null` as class name. The `HIDDEN_CLASS_NULL` will be used to differentiate between null/not null components.

This part (and following based on i

[2021-04-12 10:15] eugene-manuilov commented on #3072
@tofumatt it means that we will add all rules configured by `eslint-plugin-react-hooks` by default with their default settings. I think it can easily cause side effects and throw unexpected errors that are out of the scope for this ticket. Let's better use custom configuration as it's described in the [readme](https://www.npmjs.com/package/eslint-plugin-react-hooks#custom-configuration) to enable

[2021-04-12 10:42] tofumatt commented on #3119
Ah, I caught that but wasn't sure about copying those values… because `--mdc-layout-grid-margin-desktop` didn't exist anywhere in _our_ codebase, I think that's why we went with the `1rem` solution originally, but I'll take a look at getting access to them.

I see now how the widgets approach it which is neat: https://github.com/google/site-kit-wp/blob/264631cb9bb5a82d9ac36e0c19af42206a2934a5/asse

[2021-04-12 10:44] Hazlitte commented on #2975
**QA Eng** ✅

[2021-04-12 11:26] aaemnnosttv commented on #3064
LGTM 😄

IB ✅

[2021-04-12 12:31] wpdarren commented on #2900
### QA Update:  Pass ✅

- When you enter up to 3 words, you can delete within a word you are typing.
- You can delete a term after entering it.
- Also confirmed that these two tests in the QAB on mobile and tablet devices.

https://user-images.githubusercontent.com/73545194/114394439-c7588400-9bcd-11eb-8f6c-659ba1558671.mov

[2021-04-12 12:33] marrrmarrr commented on #776
This feature request is already captured in issue #20. We'll keep that issue to track progress if/when we add GMB integration.

[2021-04-12 12:33] #776 closed

[2021-04-12 12:42] marrrmarrr commented on #786
Various types of Woo integration are definitely on our radar, in the mid- to long-term. Leaving open for now, will revisit when we focus on this in the short-term roadmap.

[2021-04-12 12:53] abdullah1908 opened #3125 "Site Kit is not recognizing web page having non-English version created through WPML"
## Bug Description

Site Kit is not recognizing web page having non-English version created through WPML. Its showing stats by [hovering on Site Kit tab](https://imgur.com/a/uSsaJDP) while we are logged -in.

While clicking on Analytics details it shows as following:
It looks like the URL [site.com/es](https://imgur.com/a/rgDFYgP ) is not part of this site, therefore there is no data available to

[2021-04-12 12:59] wpdarren commented on #2937
### QA Update: Need engineer clarification ⚠️

@eugene-manuilov am I right in thinking that for the Google account connect to the website, the properties assigned against that account should be appearing in the dropdown?

On my test site, I only see the URL for the current site.

![image](https://user-images.githubusercontent.com/73545194/114397781-a09c4c80-9bd1-11eb-84fa-0520d90b8bc2.png)

But th

[2021-04-12 13:13] marrrmarrr commented on #895
Something interesting look into this when we're scoping the product requirements for GA4 reporting capabilities.

[2021-04-12 13:15] #904 closed

[2021-04-12 13:29] wpdarren commented on #2991
### QA Update:  On hold ⏸️

- Set up a test site, and waiting for Google Analytics to be available.  Will continue with this test in 24 hours.

[2021-04-12 13:32] marrrmarrr commented on #472
@felixarntz we already used similar logic + elements for GA before we had GA account provisioning (e.g. [re-fetch account](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-setup--create-account-legacy-new-account-option) and [create new account](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/analytics-module-setup--create-account-legacy-no-a

[2021-04-12 13:43] Hazlitte commented on #2280
@aaemnnosttv Following our discussion I successfully recreated this bug in a number of places.  I also investgated other instances where the `Switch` component is being used as well as the date dropdown and the pie chart.  There doesn't appear to be a consistent solution as the bug can be caused in slightly different ways.  I have modified the IB with the 5 components which I found that need updat

[2021-04-12 13:46] eugene-manuilov commented on #3106
@felixarntz IB is updated.

[2021-04-12 13:54] marrrmarrr commented on #990
Let's scope the amount of work on this.

[2021-04-12 13:58] marrrmarrr commented on #1025
This is significantly more technically challenging than what the huge majority of Site Kit users would be able to benefit from.

[2021-04-12 13:58] #1025 closed

[2021-04-12 14:17] marrrmarrr commented on #1042
Seems like the "gathering data" message has been updated to "complete Analytics activation". Still, we do a weird thing -- showing the All Traffic section title but nothing in the actual contents.

![site-kit-ga-no-scopes](https://user-images.githubusercontent.com/13304791/114409233-869b4380-9baa-11eb-966f-81223dfebe3d.png)

[2021-04-12 14:22] asvinb commented on #3062
@aaemnnosttv I've updated the IB, can you check it out?

[2021-04-12 14:28] eugene-manuilov commented on #2937
@wpdarren you should see accounts with matched URLs in that dropdown. I am not sure how to add more properties to your account to be able to test it. @felixarntz can you help us to figure it out?

[2021-04-12 14:29] marrrmarrr commented on #2817
This is definitely worth implementing, however it will require some UX work (we need an extra step to check and display the results to the users). cc @aarondruck - let's discuss.

@adamsilverstein from the description you added, it sounds like we would be able to check if tags are correctly placed before the user clicks "Configure Analytics" -- is that accurate? When is the tag actually placed on

[2021-04-12 14:32] marrrmarrr commented on #1827
@jamesozzie have you seen many users confused because there's a missing link to these docs?

Ideally we want to have only one action per screen (in this case, selecting the right account) and don't want to send users off to a different page if it's not directly relevant to the action they're trying to complete.

[2021-04-12 14:39] marrrmarrr commented on #3028
@felixarntz do we need to add some upper bound check here to make sure people don't write a "search term" that's 50 words long?

[2021-04-12 14:43] marrrmarrr commented on #3038
@jamesozzie this seems to be working now (v 1.29.0), are you still seeing an issue?
<img width="945" alt="Screen Shot 2021-04-12 at 16 42 28" src="https://user-images.githubusercontent.com/13304791/114413371-38883f00-9bae-11eb-93ef-c07c2bd5deab.png">

[2021-04-12 14:44] jamesozzie commented on #1827
@marrrmarrr No users have made enquiries in the support forums. If there is a preference to have one action per page it makes sense to not include this feature. Most users would already having an understand of AMP given it's already active on their site.

[2021-04-12 14:53] wpdarren commented on #3038
@jamesozzie @marrrmarrr yes, I have just looked on the same test site and this does appear to be fixed.

![image](https://user-images.githubusercontent.com/73545194/114414848-c6c9e880-9be1-11eb-93f2-9106eb0b9ecd.png)

[2021-04-12 14:59] jamesozzie commented on #3038
@marrrmarrr @wpdarren Looks good to me also from my side

[2021-04-12 15:09] eugene-manuilov commented on #2910
@Hazlitte

We also need to take into account the current Tag Manager setup because it may contain a container that has Google Analytics configuration as well (that's why AC mentions Tag Manager). Check the `useExistingTagEffect` hook to see how we get `propertyID` from Tag_Manager module: https://github.com/google/site-kit-wp/blob/299cb89e1f0c807d6666fd16c9130cd6dbb80536/assets/js/modules/analytic

[2021-04-12 15:12] Hazlitte commented on #2976
Hi @eugene-manuilov, @aaemnnosttv,
I noticed that this ticket is in the QA column but doesn't have a QA brief.

[2021-04-12 15:21] Hazlitte commented on #2976
Great, thanks @eugene-manuilov. 👍
I noticed there are a couple of other QA tickets without briefs on them too.  I'm working on an IB now.  I'll come back to this later.

[2021-04-12 15:29] marrrmarrr commented on #3038
All right, thanks for confirming! Closing this one out.

[2021-04-12 15:29] #3038 closed

[2021-04-12 15:30] #1827 closed

[2021-04-12 15:51] cole10up commented on #3114
### **QA ✅**

All set on my end.

[2021-04-12 16:02] Hazlitte commented on #2976
**QA Eng ** ✅

[2021-04-12 16:31] aaemnnosttv commented on #2183
@eugene-manuilov would you please add a QA Brief?

[2021-04-12 16:36] eugene-manuilov commented on #2183
Added.

[2021-04-12 17:28] eugene-manuilov commented on #3056
IB :heavy_check_mark:

[2021-04-12 17:37] felixarntz commented on #3106
@eugene-manuilov Great, +1 for using a separate `Web_Tag` class and the `wp_enqueue_scripts` action regardless of whether the Analytics tag is modified or a separate tag is added. IB ✅

[2021-04-12 17:46] felixarntz commented on #2937
@wpdarren Most sites will only have a single property to choose from, so that's expected. To test the behavior with multiple you can either create a Search Console domain property for your site's URL (however that requires DNS level verification, so might be some work) or create another Search Console URL property. The latter should be easier, e.g.:
* Make sure your site is also accessible over HT

[2021-04-12 18:05] felixarntz commented on #3102
IB ✅

[2021-04-12 18:07] felixarntz commented on #3103
@eugene-manuilov Why the `pageSize` limit on the PHP side? Is there a specific low default limit we need to override? It is only allowed to have 50 Analytics accounts per Google account, so this should never be more than 50 entries anyway.

[2021-04-12 18:12] felixarntz commented on #3104
@eugene-manuilov

The requirement is a bit more involved than that. We should actually use a single batch request to the Google APIs as well, instead of 10 individual requests on the server side. The ACs specifically mention to use `get_batch_data` for that purpose. You'll need to create a request object / associative array which includes all the (maximum 10) individual requests and then pass that

[2021-04-12 18:13] felixarntz commented on #3105
IB ✅

[2021-04-12 18:17] felixarntz commented on #3042
IB ✅

[2021-04-12 18:18] felixarntz commented on #2938
IB ✅

[2021-04-12 18:33] felixarntz commented on #601
This is no longer relevant since last year's refactoring

[2021-04-12 18:33] #601 closed

[2021-04-12 18:33] felixarntz commented on #918
This is no longer relevant as it has already been addressed by the refactoring in early 2020

[2021-04-12 18:33] #918 closed

[2021-04-12 18:34] felixarntz commented on #579
No longer relevant as of the AdSense refactoring which happened in early 2020

[2021-04-12 18:34] #579 closed

[2021-04-12 19:09] abdullah1908 commented on #2986
For now I couldn't find any way to escalate this issue as I checked with the existing Site Kit setup. Also found the error in [Site Kit codebase](https://github.com/google/site-kit-wp/blob/develop/stories/utils/generate-widget-stories.js#L174) where its defined but couldn't get any clue.

There would require more insights on it to escalate this issue*.

[2021-04-12 19:28] felixarntz commented on #1093
Duplicate of / related to #785

[2021-04-12 19:28] #1093 closed

[2021-04-12 19:32] felixarntz commented on #1050
The requirements bump to PHP 5.6 has already been covered via #547

While in a perfect world it would be great to define a policy for PHP version support, I'm not sure we can enforce a policy at this point. Maybe we could always say to follow what WordPress core does in terms of PHP requirements, but since it's acting unpredictably in that regard, I'd rather review this on a case-by-case basis whe

[2021-04-12 19:32] #1050 closed

[2021-04-12 19:37] felixarntz commented on #963
This error has been addressed via #1895, so it should no longer be relevant.

Regarding general compatibility:
At this point, maintaining the older AMP plugin versions before 2.0 is not too much of an effort, so that should be kept for now especially since these versions are still used fairly widely. We can consider requiring e.g. >=2.0 at some point in the future.

[2021-04-12 19:39] felixarntz commented on #1145
Adding site maps is out of scope for Site Kit given that WordPress core now includes them by default per the above comment.

[2021-04-12 19:39] #1145 closed

[2021-04-12 19:43] felixarntz commented on #1127
Thanks for the issue, this has been on our mind for a while. We're tracking this via #296, so please follow along that one for any updates.

[2021-04-12 19:43] #1127 closed

[2021-04-12 19:54] felixarntz opened #3130 "Allow 3P capability management plugins to get list of Site Kit capabilities"
There are various 3P plugins which allow managing WordPress capabilities. Site Kit's capabilities are currently not available in an easy-to-access way, so introducing a utility method that returns a list with all of its base capabilities would be helpful.

Originally requested by @JoryHogeveen via #987.

---------------

_Do not alter or remove anything below. The following sections will be manage

[2021-04-12 20:29] felixarntz opened #3132 "Fix JS error due to new version of Google Charts library"
## Bug Description

Several support requests have come in in the past few hours as noted by @bethanylang, with JS errors in the All Traffic widget, such as:

[code]

This is reported e.g. here:
* https://wordpress.org/support/topic/error-on-site-kit-dashboard/
* https://wordpress.org/support/topic/site-kit-encontrou-um-error/
* https://wordpress.org/support/topic/site-kit-encountered-an-error-23/

[2021-04-12 20:47] felixarntz opened #3133 "Update to latest Google charts library version"
[A new Google charts library version was recently published](https://developers.google.com/chart/interactive/docs/release_notes#upcoming:-april-2021), however it caused critical JS errors in Site Kit (see #3132), so we ensured to keep using version 49 for now. We should still figure out where these errors are actually coming from in regards to the new version 50 release of the charts library, fix

[2021-04-12 21:34] felixarntz commented on #3132
**QA** ✅

Without the fix, a JS error is being reported:
![Screen Shot 2021-04-12 at 2 22 50 PM](https://user-images.githubusercontent.com/3531426/114465568-21405600-9b9c-11eb-896a-980a9f6b28b5.png)

With the fix, the dashboard renders as expected without error:
![Screen Shot 2021-04-12 at 2 21 24 PM](https://user-images.githubusercontent.com/3531426/114465586-27cecd80-9b9c-11eb-876d-3a19b55854ca.

[2021-04-12 21:34] #3132 closed

[2021-04-12 21:34] #2616 closed

[2021-04-12 21:43] felixarntz commented on #2993
Looks like this accidentally landed in "Approval" instead of "Code Review"? Moving it back.

[2021-04-12 21:44] #2985 closed

[2021-04-12 21:49] tofumatt commented on #2695
IB ✅, but please remember to add Test Coverage and VRT sections—even if, in the case of VRT, it's "N/A". Just make sure not to leave them blank 🙂

[2021-04-12 22:06] tofumatt commented on #2888
That cached variable might need to be a piece of component state or something, but the particular implementation doesn't really matter. Sounds good!

IB ✅

[2021-04-12 22:10] tofumatt commented on #2904
IB ✅

[2021-04-12 22:21] #3114 closed

[2021-04-12 22:25] ivankruchkoff commented on #2105
Updated the IB.

The params `2char`/`5char` sound rather arbitrary, however they are more intuitive than:

- ISO 639-1 language code
- Equivalent of BCP47, the ISO 639-1 language code followed by iso-3166-2 alpha2

Further reading for the curious:

- https://en.wikipedia.org/wiki/ISO_639-1
- https://en.wikipedia.org/wiki/Language_localisation#Language_tags_and_codes
- https://tools.ietf.org/html/b

[2021-04-12 22:33] tofumatt commented on #3072
Fair enough. The other hooks linting is useful as well and I think worth using, but you're right that it might inflate the scope of the issue. I've adjusted the IB to just worry about exhaustive-deps for now.

[2021-04-12 23:49] felixarntz commented on #3119
@tofumatt Your draft PR is correct, the IB isn't - please don't include code in IBs unless really necessary, for _that_ particular reason that the IB review shouldn't need to be somewhat of a code review :)

I'll give this an IB ✅  though since that's just an oversight and the PR is already there.

[2021-04-13 07:09] aaemnnosttv commented on #2888
@johnPhillips @tofumatt - as a bug fix, let's be sure to add/update Jest coverage for `useExistingTagEffect` accordingly.
Would you please update the IB to include this? I would expect the estimate to increase as a result as well which is fine.

[2021-04-13 07:16] eugene-manuilov commented on #3072
Thanks, @tofumatt! IB :heavy_check_mark:

[2021-04-13 07:41] asvinb commented on #656
Sounds good @felixarntz . I think we can go the simple route, by running an AdSense report query. I've updated the IB to reflect that.

[2021-04-13 07:55] aaemnnosttv commented on #2280
@Hazlitte I think it's important to note the condition which results in the error here. The problem manifests when an element has multiple text node/element children that render conditionally and React panics when it can't reconcile the changes made by Google Translate when trying to change what is conditionally rendered.

I think in all of these cases we have multiple children that chooses only o

[2021-04-13 08:00] aaemnnosttv commented on #656
IB ✅

[2021-04-13 08:35] aaemnnosttv commented on #3062
Thanks @asvinb ! We're almost there I think 😄

	* The `Portal` component should take all of the code of the `Modal` component, `assets/js/components/Modal.js` with the following tweak:
		* Add the `slug` prop which will should be added as class name to the dynamically generated element so that is easy to identify the portal.

Regarding the added `slug` - if this is purely for identifying the outpu

[2021-04-13 08:44] aaemnnosttv commented on #3058
Thanks for clarifying @asvinb.

IB ✅

[2021-04-13 08:49] aaemnnosttv commented on #2979
@eugene-manuilov please add a QA Brief.

[2021-04-13 08:52] eugene-manuilov commented on #2979
QA brief is added.

[2021-04-13 08:52] aaemnnosttv commented on #2937
Looks correct for me using my personal site where I have both properties:
![image](https://user-images.githubusercontent.com/1621608/114525265-a5531600-9c4e-11eb-8465-64724d5dec1e.png)

[2021-04-13 08:56] johnPhillips commented on #2888
@tofumatt @aaemnnosttv I've added instructions around updating the test coverage and increased the estimate accordingly. Let me know if I missed anything?

[2021-04-13 08:58] aaemnnosttv commented on #1237
@cole10up @wpdarren would you please take a look and see if this is still possible? From what I can see disconnecting is working as expected.

[2021-04-13 09:07] aaemnnosttv commented on #1594
Looks like we've already implemented a few `setup{Module}` utilities, but it would be good to have one for each module.

We'll likely add these as needed though. I wouldn't want to add utilities that we aren't using. This could improve the performance of E2E runs though by bypassing a few steps that aren't relevant to one or more tests.

[2021-04-13 09:13] aaemnnosttv commented on #1292
@felixarntz @marrrmarrr perhaps we could add an additional icon for this (e.g. `</>`) since the current text is redundant when we have the green checkmark. Maybe the text could move to a tooltip?

[2021-04-13 09:18] aaemnnosttv commented on #2016
This was address by the introduction of `ReportTable` in #2249 👍

[2021-04-13 09:18] #2016 closed

[2021-04-13 09:20] Hazlitte commented on #2993
@felixarntz Apologies, my mistake, thank you for spotting that.

[2021-04-13 09:21] aaemnnosttv commented on #2989
Closing as a non-issue with the current code base and something we will need to address in #1769 when we upgrade the package anyways.

[2021-04-13 09:21] #2989 closed

[2021-04-13 09:34] aaemnnosttv commented on #3009
Looks like this was already fixed in another issue/PR 👍
![image](https://user-images.githubusercontent.com/1621608/114531429-90798100-9c54-11eb-8d57-22c2f9221eb7.png)

[2021-04-13 09:34] #3009 closed

[2021-04-13 09:44] aaemnnosttv commented on #3115
This is more of a UX enhancement than a bug I think 🤔

[2021-04-13 09:52] aaemnnosttv commented on #2697
@felixarntz maybe we don't even need `config.json` anymore? We should still expose available features but maybe there's a cleaner way to do this.

[2021-04-13 10:21] aaemnnosttv commented on #2659
@asvinb is this still an issue? We've changed how tooltips work a few times now I think 🤔

[2021-04-13 10:29] aaemnnosttv commented on #2654
I'm not sure if this is worth fixing, but I was able to reproduce it on the Analytics module page in the `LegacyAnalyticsDashboardWidgetTopAcquisitionSources` component which is currently the only one left that looks like this.

Given it only happens when loading the page with a very small viewport and then resizing it larger, seems like quite an edge case. The problem isn't that the text is off c

[2021-04-13 10:29] #2654 closed

[2021-04-13 10:37] aaemnnosttv commented on #1592
Related to #174, the dashboard details view already supports these kind of "virtual" entities like archive pages - we only need to update the search endpoint to support it 👍

![image](https://user-images.githubusercontent.com/1621608/114539566-4ba61800-9c5d-11eb-85c7-087511b1fcbe.png)

[2021-04-13 10:40] aaemnnosttv commented on #2394
@cole10up would you please refresh this issue to contain only the parts which are still relevant? There have been a number of updates to U.I. since this issue was created. If they're all resolved, then let's close it out 👍

[2021-04-13 10:44] aaemnnosttv commented on #1993
This is such a small change, that it's not really worth its own issue. It's also rather cosmetic.

If anything, we should address this in https://github.com/google/site-kit-wp/issues/938.

[2021-04-13 10:44] #1993 closed

[2021-04-13 10:51] aaemnnosttv commented on #2054
@felixarntz this sounds like a good idea and something we could probably implement as a common tag guard. What do you think?

[2021-04-13 10:53] Hazlitte commented on #2280
@aaemnnosttv Thanks for your comments.  I updated the approach in the IB and added further locations I found in the code where it appears to be susceptible to this bug.

[2021-04-13 10:55] aaemnnosttv commented on #3125
Duplicate of #2862

[2021-04-13 10:55] #3125 closed

[2021-04-13 11:04] aaemnnosttv commented on #1751
Closing this out as it is already possible to configure using the `googlesitekit_gtag_opt` filter.

[2021-04-13 11:04] #1751 closed

[2021-04-13 11:07] wpdarren commented on #1237
@cole10up @aaemnnosttv disconnecting works as expected for me too with the latest release.  There's a support threat included in this ticket and it looks like the issue was resolved for the users too. I think we can close this.

[2021-04-13 11:18] aaemnnosttv commented on #2803
Many sites don't use Apache as the web server (which uses .htaccess), so any checks we perform should be independent of the specific web server used. Also, warning about redirects or mod security rules may be more confusing than useful since these could be implemented by the host and the user may have no idea about them, what they are, or even able to change anything about them. Both could also be

[2021-04-13 11:18] #2803 closed

[2021-04-13 11:44] frkn64modding commented on #2681
Hello, you mentioned that you will be able to ship this feature with 1.28 release. Today, version 1.30 has been released but the feature is still not added. I am still waiting for this.

[2021-04-13 12:15] wpdarren commented on #3065
### QA Update: ✅

**Verified:**

- On the dashboard the first column of the table in the Acquisition widget says 'Top search queries for your site' - [Screenshot](https://user-images.githubusercontent.com/73545194/114550434-c63e5a00-9c94-11eb-82dc-3bff95db4a59.png)
- On a 'Detailed Page Stats' page the first column of the table in the Acquisition widget says 'Top search queries for your page' - [S

[2021-04-13 12:39] Hazlitte commented on #3115
I've probably misinterpreted the documentation.  I think I read that if an issue occurs as a result of resolving a bug the subsequent issue is also deemed to be a bug.

[2021-04-13 12:48] wpdarren commented on #2993
### QA Update:  ✅

**Verified:**

- For questions 1 - 4 of 5, the `Other` field has a placeholder of `Type your own answer` appears
- In a ddition, a hidden label of `Enter your own answer here` can be found in the code.
- This was tested on desktop and mobile/tablet devices.

![image](https://user-images.githubusercontent.com/73545194/114551493-0e11b100-9c96-11eb-80b0-75b64ddf34b5.png)

@Hazlitte

[2021-04-13 12:52] #1237 closed

[2021-04-13 13:34] wpdarren commented on #2183
@eugene-manuilov I am wondering if you could clarify a little bit more about what you mean by `Make sure that settings for active modules work the same ` in the QAB.  Do you mean, test to make sure that settings can be changed and saved, or do we need to go into more detail with making sure that the settings actually function as expected when changed?

[2021-04-13 13:50] asvinb commented on #3062
@aaemnnosttv I've updated the IB. Let me know what you think. If it's still not ok, let's jump on a call :)

[2021-04-13 14:01] eugene-manuilov commented on #2183
@wpdarren I mean that all functionality should be re-tested because underlying setting components have been completely reworked.

[2021-04-13 14:22] holdnroark opened #3137 "Ad blocker detected, you need to disable it in order to set up AdSense."
## Bug Description

 Ad blocker detected, you need to disable it in order to set up AdSense.

I have had adsense operating for months and, all of a sudden my ads disappeared.

I have the message " Ad blocker detected, you need to disable it in order to set up AdSense." in site kit on top of my adsense block.

It has been this way over a month
## Steps to reproduce

1. Go to '...'
2. Click on '....

[2021-04-13 14:53] eugene-manuilov commented on #3103
:thinking: I read that there is a limit in 100 Analytics account per Google account and it can be increased in Analytics 360. Anyway the documentation says the following for the `pageSize` argument:

[code]

It makes me think that in theory users can have even more than 100 "summaries", so we need to be prepared :smile:

[2021-04-13 14:58] wpdarren opened #3138 "Styling Issue for Small Screen Sizes on Google Analytics Module"
## Bug Description

While testing #2069 I came across a styling issue with the `Top acquisition channels` widget on Analytics module.   The text `Organic Search` is not readable on small screen sizes, as you can see on the screenshot below.  The devices tested were Pixel 2, iPhone X and other Android/iOS phones. Tablets seemed to be fine.

## Steps to reproduce

1. Make sure `Analytics` is connect

[2021-04-13 15:31] aaemnnosttv commented on #3062
@asvinb - turns out this is still quite complicated, particularly with the widget null cases since it may still display a wrapping container (with nothing in it) meaning we always need to apply some wrapping element to hide it. This is a problem for these components specifically due to the infinite render loop that is triggered by unmounting them.

I think the only way forward here right now is to

[2021-04-13 15:58] jamesozzie commented on #3137
Thanks for reaching out. We've moved Site Kit support to the WordPress support forums. If you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there we'd be happy to assist. We can reopen this GitHub issue should we determine any issue to be addressed on the plugin side.

Note also that if you're using the latest version of Site Kit (1.30.0) whic

[2021-04-13 15:58] #3137 closed

[2021-04-13 16:03] felixarntz commented on #922
This issue shouldn't be relevant anymore; using Site Kit with WordPress in a subdirectory of the home URL has been possible for more than a year now.

[2021-04-13 16:03] #922 closed

[2021-04-13 18:17] felixarntz commented on #785
@LukaszJaro Thanks for the feature request. With the goals of Site Kit being primarily around providing insights and suggestions for website performance to site owners and other contributing users, displaying metrics in the public frontend (e.g. as a showcase) doesn't really fit into this.

However, this use-case is certainly relevant, and it could be accomplished by a separate third-party plugin

[2021-04-13 18:17] #785 closed

[2021-04-13 18:30] felixarntz commented on #1042
@marrrmarrr As previously assumed, the main problem here (empty "Your Traffic" section) is fixed with the widget-based version of the dashboard, which will start to roll out in 1.31.0 (see screenshot below).

![Screen Shot 2021-04-13 at 11 27 52 AM](https://user-images.githubusercontent.com/3531426/114602386-666f9100-9c4b-11eb-9141-043aec9b627c.png)

The other points for improving the activation C

[2021-04-13 18:30] #1042 closed

[2021-04-13 18:33] felixarntz commented on #2817
@marrrmarrr I don't think this is ready for acceptance criteria yet given your above comment, so let's move this back to "Backlog". We should only be moving items to acceptance criteria when the work is mostly scoped and just has to be added to the issue (i.e. issues shouldn't typically sit in "Acceptance Criteria" for more than 1-2 weeks or so).

[2021-04-13 18:56] LukaszJaro commented on #785
That makes perfect sense, forgot about this feature request, when time permits will look into something like this, thank you @felixarntz !

[2021-04-13 20:58] felixarntz commented on #2697
@aaemnnosttv @eugene-manuilov It's a good point we shouldn't need a JSON file anymore. I think a central configuration file is still beneficial, especially since it can be generated. Maybe we should just make it a PHP file, e.g. `config.php`.

[2021-04-13 21:02] felixarntz commented on #2681
@frkn64modding Yes, apologies for this getting delayed a bit more. The issue is now ready to be worked on for engineering, so it should be in a release soon (I'd envision 1.31.0 or 1.32.0).

[2021-04-13 21:08] felixarntz commented on #3103
@eugene-manuilov Makes sense, let's go with that then. It would be good to add a code comment on why this is set to 200 though.

IB ✅

[2021-04-13 21:15] felixarntz commented on #3062
@aaemnnosttv @asvinb Apologies for chiming in late here (and possibly lacking some context), but as far as I read through, I don't see a reason why we cannot just remove the `.googlesitekit-hidden` container, as you previously suggested Evan. Are there indeed widget flickering issues, or are these containers ever _not_ empty? I'm concerned with the approach taken here getting more complicated than

[2021-04-13 21:31] felixarntz commented on #3062
@aaemnnosttv @asvinb Ah I see now there sometimes _is_ some output that becomes visible when just removing the `.googlesitekit-hidden` container, so that wouldn't be feasible.

How about just always rendering the `.mdc-layout-grid` wrapper for a widget area and hiding it when necessary? This keeps the expected DOM structure intact in a simple way, while hiding the content as necessary. See https:/

[2021-04-13 21:46] aaemnnosttv commented on #3062
@felixarntz yes it is possible – a widget that returns `WidgetNull` will still be an empty wrapper if it has `wrapWidget: true`. We could conditionally not wrap a widget which is inactive in the renderer but that may cause the inactive -> active -> inactive render loop due that happens when unmounting an inactive widget since unsetting the null widget state makes it active again.

The other case i

[2021-04-14 06:26] aaemnnosttv commented on #2888
@johnPhillips one thought, otherwise LGTM!

Maybe just a semantic difference, but if the current profile is for the selected property, the profile should be unchanged, which is slightly different than being set (potentially again).

[2021-04-14 06:47] aaemnnosttv commented on #3062
@asvinb it looks like @felixarntz 's approach solves it. While this is technically not compatible with the ACs, I'll update them to allow for it since this is definitely the cleanest/simplest solution.

Not sure there is anything much left to do, but it would be great if you could spend a few minutes to check if there are any cases that aren't covered by this. If there aren't let's update the IB t

[2021-04-14 07:05] ivankruchkoff commented on #2821
This is an issue in the legacy dashboard, but I don't think it is in the new widget approach:

In legacy, we have a siteURL (e.g. example.com/foo ), and the url returned from the report is relative to domain root, so it will start with /foo
https://github.com/google/site-kit-wp/blob/31d77ec6a4370be08ec67177156479535237f8fa/assets/js/components/data-table.js#L53

https://github.com/google/site-kit-

[2021-04-14 07:08] aaemnnosttv commented on #2280
@Hazlitte I think this is good to go now, although please fill in the sections for Test Coverage and VRT. I don't think any changes are needed here, but we should always be explicit about this.

[2021-04-14 07:39] aaemnnosttv commented on #2980
@eugene-manuilov would you please add a QA Brief?

[2021-04-14 07:44] asvinb commented on #3062
Thanks @felixarntz . I've checked and it works fine :) @aaemnnosttv I've updated the IB to reflect @felixarntz 's approach. Can you take a look?

Thanks!

[2021-04-14 08:03] aaemnnosttv commented on #938
@felixarntz how about we extract it to its own class with two public static methods: `register` and `render`?

Then `Plugin` would only need to `Generator_Tag::register()` and anyone who wants to unhook it can call:
[code]

If you would prefer to keep it in `Plugin`, I think we can simplify it slightly by making it a static method. Users shouldn't need to `get_instance` to unhook it IMO.

[2021-04-14 08:03] Hazlitte commented on #2280
Thanks @aaemnnosttv, I have updated the test sections.

[2021-04-14 08:05] aaemnnosttv commented on #3062
IB ✅  😄

[2021-04-14 08:14] abdullah1908 commented on #2350
Another [error](https://wordpress.org/support/topic/site-kit-encountered-an-error-28/) reported by user krohit on WP Support Forum.
`
An error occurred while running 'mapSelect': Cannot read property 'getReport' of null
The error may be correlated with this previous error:
TypeError: Cannot read property 'getReport' of null
    at Object.current (https://www.ientrepreneur.co.in/wp-content/cache/as