[2022-09-29 11:49] mohitwp commented on #5806
Hi, @hussain-t
Do you have any website which don't have SSL certificate and any site where I can manage SSL certificate. I tried InstaWP and TasteWP both not provide option to create site without SSL or to manage this. Also, tried ngrok using local server, but it is also not working.  I tried this command` C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --ignore-certificate-errors` wh

[2022-09-29 12:01] mohitwp commented on #5755
### QA Update ✅

- Verified TwG setting edit screen related changes on development server.
- TwG settings view updated as per order mentioned in AC.
- The TwG settings edit view  updated to reorder the sections for consistency with the non-edit view by moving the "Supporter wall widget" section to the bottom.
- Verified that Edit in Publisher Center exists and opens the current publication URL in

[2022-09-29 14:24] hussain-t commented on #5806
@mohitwp, unfortunately, I don't have any WordPress sites. I think @wpdarren has.

[2022-09-29 14:44] that-mike-bal commented on #459
Hey @bethanylang - any chance this one will happen in the near-ish future?

[2022-09-29 16:25] asvinb commented on #5411
### QA: ✅

- Plugin Zip Files workflow doesn't fail
- Composer install doesn't fail

<img width="1408" alt="image" src="https://user-images.githubusercontent.com/31818/193086430-2a6ea0c4-b888-4b96-9731-b9314b6ddea6.png">

[2022-09-29 16:37] techanvil commented on #5190
I am posting an update of where I have got to investigating this for the IB in case someone else wants to pick it up while I am away for the next two weeks.

The two main challenges so far have been:

- Wrapping the `@material/web` web components in a way that provides the same controlled input behaviour as our existing components.
- Getting the wrapped components working in Jest tests.

Regarding

[2022-09-29 17:17] jamesozzie commented on #4837
We have another report from one user:
https://wordpress.org/support/topic/an-error-occurred-while-running-mapselect-10 | [SH info](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNhqu18gBCzcYkITaFg_m-oXaauezkJP9tdQlPZcQtpiZM_zxwBfpv6-CQiBp-fA7-E) | Open

They provided the following XHR response, with more details within the support topic
![image](htt

[2022-09-29 17:47] techanvil commented on #5802
Thanks @felixarntz, that is also a good suggestion.

TL;DR: Sounds good to me, I'd be happy to take that approach.

---

Thinking it through a bit - say we take the approach that Eugene has suggested. It would be a non-trivial effort to move all of the current components into this new asset prior to starting the Material 3 work. However we could instead take an iterative approach - migrate one com

[2022-09-29 17:53] techanvil commented on #5924
IB :white_check_mark:

[2022-09-29 17:54] techanvil commented on #5927
IB :white_check_mark:

[2022-09-29 17:55] techanvil commented on #5930
IB :white_check_mark:

[2022-09-29 21:34] eugene-manuilov commented on #5074
IB ✔️

[2022-09-30 06:38] wpdarren commented on #5926
### QA Update: ⚠️

@aaemnnosttv this passes the QAB, but a question.  I am assuming we do not have any users on below 4.7.0, otherwise it would be an odd experience if they cannot suddenly use Site Kit, and since it's connected, no message appears unless they deactivate the plugin and try and activate it again.  Thought I'd double check.

**Verified:**

- When activating Site Kit on a version of W

[2022-09-30 06:44] nfmohit commented on #5874
@aaemnnosttv @eugene-manuilov Hi! Quick question, shouldn't #5873 also be a prerequisite for this issue?

[2022-09-30 07:03] mohitwp commented on #5806
### QA Update ⚠️

@hussain-t Thank you ! Got website access from @wpdarren.

I verified this on site without SSL (HTTP) and 'The Thank with Google' module is not appearing in the Settings > Connect More services.

When I put back SSL into the site and logged in again, then the 'The Thank with Google' module starts appearing in the Settings > Connect More services.

**But I've noticed another issue

[2022-09-30 08:46] hussain-t commented on #5806
Thanks, @mohitwp. Yes, this is due to #5538. Since you have some observations on that ticket, I can fix the above along with those.

[2022-09-30 09:16] mohitwp commented on #5538
### QA Update ❌

I found the below issue when testing on site without SSL for the #5806 and also posted my observation in [comment](https://github.com/google/site-kit-wp/issues/5806#issuecomment-1263187236)

As discussed @hussain-t will work on below listed issue and on other observations mentioned in the [comment](https://github.com/google/site-kit-wp/issues/5538#issuecomment-1262342041)
**Issue

[2022-09-30 09:20] mohitwp commented on #5806
### QA Update ✅

@hussain-t Thank you ! Got website access from @wpdarren.

I verified this on site without SSL (HTTP) and 'The Thank with Google' module is not appearing in the Settings > Connect More services.

When I put back SSL into the site and logged in again, then the 'The Thank with Google' module starts appearing in the Settings > Connect More services.

Issue I mentioned in the [comment

[2022-09-30 10:13] mohitwp commented on #4628
QA Update ⚠️

@nfmohit

- Verified this on dev environment following the steps mentioned under QAB.
- Verified that On Site Kit connection splash screen  an error with "Your site may not be ready for Site Kit shows up", including the message mentioned in the ACs.
- Same copy as `'ERROR_GOOGLE_API_CONNECTION_FAIL error` is showing.
- Support link navigating user to https://wordpress.org/support/plu

[2022-09-30 10:25] eugene-manuilov commented on #5874
@nfmohit, yes, I added it to the blockers list, however we can start working on this ticket earlier and then remove the notification added in #5873 once it is merged into develop.

[2022-09-30 10:33] nfmohit commented on #4628
Thank you for your question, @mohitwp. The AC doesn't actually ask to check the status code for this request. The request that the AC speaks about is an internal HEAD request that can't be seen on the client side. The status code that you have pointed in the screenshot above is valid and correct.

[2022-09-30 10:47] nfmohit commented on #5874
Thank you @eugene-manuilov!

[2022-09-30 12:31] techanvil opened #5945 "GA4 Activation Banner: Success Banner no longer displaying."
## Bug Description

The Success Banner at the end of the GA4 Activation Banner flow is no longer appearing.

This seems to be a regression introduced in 1.84.0, as it works in 1.83.0

## Steps to reproduce

1. Set up Site Kit to display the GA4 Activation Banner.
2. Go through the GA4 Activation Banner flow, clicking on **Set up now** and then **Connect** or **Create property**.
3. Upon success th

[2022-09-30 14:34] aaemnnosttv commented on #5926
@wpdarren we _shouldn't_ have any users on WP pre 4.7 as I don't think it would work, this is mostly in preparation for the min version bump. It would probably be a good idea to add a notice in this case as well but that wasn't included in the scope for this issue. I think it's more relevant for the upcoming bump as well. Let's open a new issue about surfacing the messages we have in a persistent

[2022-09-30 17:36] aaemnnosttv opened #5948 "Refactor TwG color choices with single component"
## Feature Description

The color choices for the TwG customization interface currently utilize the new custom `ImageRadio` component along with a corresponding SVG graphic for each choice. This works fine but is more complicated than necessary. The only difference between each choice are the two colors, everything else about them should be the same. This lends itself to using a single choice comp

[2022-09-30 17:54] jamesozzie opened #5949 "error: invalid Analytics redirect URI after clicking on Sign in with Google"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/unable-to-activate-sitekit-on-website/#post-16059187) in encountering a error: invalid Analytics redirect URI error after attempting to set up Site Kit. It occurs directly after clicking on the Sign in with Google button

![image](https://user-images.githubusercontent.com/41326532/193328897-47e01252-0cdf-4bf2-

[2022-09-30 21:35] tofumatt commented on #5724
(@techanvil won't be able to look at this for a bit, but there's an issue with the PR—I left a review. If someone else can pick it up that'd be great and I can review again, otherwise I'll take a look at this Monday or Tuesday.)

[2022-09-30 22:38] tofumatt commented on #5185
Moving directly to approval as no QA can be done for this issue.

[2022-09-30 22:43] tofumatt commented on #5948
Good call!

IB ✅

[2022-10-01 13:09] tranduy03 opened #5951 "Error and privacy breach when duplicating WordPress sites with Site Kit"
## Bug Description

When I duplicate a WordPress site with Site Kit installed onto another site, there is some kind of unique tracking going on and I've been getting errors. When trying to reconnect Site Kit is trying to reconnect a domain that is completely unrelated/not on the same server/not on the same Google account.

Site Kit also invalidated connections of sites that were already connected.

[2022-10-02 11:37] SurajVerma commented on #6
Any update on this ? This is creating problems for my installation as well.

[2022-10-03 01:52] wpdarren commented on #5926
### QA Update: ✅

**Verified:**

- When activating Site Kit on a version of WordPress below the minimum (I used `4.6.24` version for testing)
   - An error was seen on activation
  - When already activated, Site Kit did load or cause any fatal errors.
  - It was possible to deactivate SK when the minimum versions aren't met and it did not leave the rest of WordPress in an unusable state.  No error

[2022-10-03 07:03] mohitwp commented on #5840
### QA Update ❌

@nfmohit If we resetting sharing settings to default manually and not by using 'Reset Sharing option' then 'Reset sharing permission' button is showing in this condition.

https://user-images.githubusercontent.com/94359491/193518583-cf690422-7931-44a0-b787-a62dac998f98.mp4

[2022-10-03 08:10] mohitwp commented on #5815
### QA Update ✅

- Verified on develop and latest environment.
- Able to reproduce issue on latest environment.
- Verified on develop environment there are no failed request for `google-site-kit/v1/modules/search-console/data/searchanalytics`

<details>

Latest environment

![image](https://user-images.githubusercontent.com/94359491/193529800-d803dd70-af6c-4b54-957b-ac546c73f51a.png)

![image](htt

[2022-10-03 10:37] wpdarren commented on #5689
### QA Update: ✅

**Verified:**

- Observed both TwG Setup and Settings page from Safari and Chrome (desktop and mobile)
- Rounded corners work across the browser on Image and Color Radio Buttons.
- There is no longer any layout shift on changing Prominence value.
- Checked that setup and settings page match the figma designs.

<details>
 <summary>Screencasts</summary>

![image](https://user-image

[2022-10-03 13:19] mohitwp commented on #5071
### QA Update ✅

- Verified on dev and latest environment.
- I'm able to reproduce issue on latest environment.
- Verified following steps mentioned under QAB.
- Verified that the Analytics CTA doesn't show on the splash screen.
- Verified that user is able to access site kit dashboard successfully.
- Verified that successful message for analytics set up is not showing.
- Verified that analytics a

[2022-10-03 13:24] mohitwp commented on #4628
### QA Update ✅

**Note :**
I'm not able to verify AC below points because that can't be seen on the client side.
Confirmed with Nahid [here.](https://github.com/google/site-kit-wp/issues/4628#issuecomment-1263402912)

[code]

- Verified this on dev environment following the steps mentioned under QAB.
- Verified that On Site Kit connection splash screen  an error with "Your site may not be ready f

[2022-10-03 14:34] tofumatt commented on #5882
IB ✅

[2022-10-03 16:04] felixarntz opened #5958 "Create new `googlesitekit-components` package for basic Material 2 components (in preparation for Material 3)"
A new JS entry point `googlesitekit-components` should be implemented, in which all basic (Material 2) components are bundled. The file name for it should be specific to the Material version though, i.e. `googlesitekit-components-gm2.js`. This is in preparation for #5802 (see related https://github.com/google/site-kit-wp/issues/5802#issuecomment-1251368851).

---------------

_Do not alter or remo

[2022-10-03 16:17] tofumatt commented on #5928
IB ✅

[2022-10-03 17:31] felixarntz commented on #5958
@aaemnnosttv @eugene-manuilov @techanvil Added this issue based on https://github.com/google/site-kit-wp/issues/5802#issuecomment-1251368851 and related conversations last week.

[2022-10-03 19:17] tofumatt commented on #5927
The _original ACs_ for this issue were about removing the full-stop/period (eg. `.` character) from the end of each sentence, but that's incomplete because when the messages appear one-after-the-other, we should add punctuation between paragraphs.

(These aren't list items—they're marked up as paragraphs and when more than one exists, there should be a full-stop at the end.)

In this case it might

[2022-10-03 19:27] tofumatt commented on #5927
(Leaving this as a 3 as that was the original estimate, but this is probably more of a 7 issue.)

[2022-10-03 21:08] tofumatt commented on #5816
(Since @techanvil is out I'll take over the code review for this issue 👍🏻 )

[2022-10-04 06:01] hussain-t commented on #5538
Thanks, @mohitwp, regarding your observations:

I will create a follow-up PR for this error:

----------

The question arises here what is the priority of Supporter Wall Widget banner. Is it have higher priority than zero data states banner notifications ?

The delay is presumably caused by the API request triggered by `getSupporterWallPrompt`. We could consider preloading this API call, or we cou

[2022-10-04 12:03] wpdarren commented on #5859
### QA Update: ✅

The issue [reported above](https://github.com/google/site-kit-wp/issues/5859#issuecomment-1266678594) is not related to this ticket so needs further investigation.  I will create a ticket or investigate if it is related to 5772, which seems similar too.

**Verified:**

The widgets on the dashboard and entity dashboard still render without issues:
  - Tested on a site with live da

[2022-10-04 12:07] wpdarren commented on #5772
### QA Update: ❌

@nfmohit I am unsure if this is related to this ticket but I have an observation.

While testing another ticket,  I enabled Dashboard sharing and wanted to make sure that the widgets were appearing as expected on the main and entity dashboard in view only.  I gave 'Editor' user role access to all of the modules, and logged in as the editor user.   When I visit the view only dashb

[2022-10-04 12:29] bethanylang commented on #5755
:wave: I'm working with the TwG team on our documentation and they let me know yesterday that they have changed the terminology from "Publisher ID" to "Thank with Google ID." Not sure if we want a separate issue to make this change, but noting here and will flag to the PM team for next steps.

[2022-10-04 13:05] bethanylang commented on #5755
One more change that I just realized – they don't want to use the term "Publisher Center" any longer; it should be "Thank with Google Profile." So to summarize:
- References to "Publisher ID" or "Publication ID" should be changed to "Thank with Google ID"
- References to "Publisher center" should be changed to "Thank with Google profile"

[2022-10-04 13:21] FlicHollis opened #5963 "TwG terminology changes"
There have been some terminology changes from the TwG team as commented in this ticket https://github.com/google/site-kit-wp/issues/5755. We are moving these out to be a ticket of their own for clarity.

The TwG team have let us know that they have changed the terminology from "Publisher ID" to "Thank with Google ID."

The TwG team also don't want to use the term "Publisher Center" any longer; it

[2022-10-04 13:23] FlicHollis commented on #5755
Thanks @bethanylang we have moved these changed to a separate ticket here: https://github.com/google/site-kit-wp/issues/5963

[2022-10-04 14:32] mohitwp commented on #5840
### QA Update ✅

- Verified on develop environment,
- Issue reported [above](https://github.com/google/site-kit-wp/issues/5840#issuecomment-1265017617) is now resolved.
- 'Reset sharing permission' button is not showing when settings are set to default.
- If we reset sharing settings to default manually or by using 'reset sharing permissions' button in both cases 'Reset sharing permissions' button

[2022-10-04 14:50] VR51 opened #5964 "Setup Once, Enable for ALL Admin Users or Select Users"
SiteKit is great in theory but please please please allow the person who configures SiteKit (usually a site admin) to enable all site admins or select user groups or select registered users to view all or select data presented by SiteKit in both the WP dashboard, the pages and the SiteKit admin pages. It is beyond ridiculous that each site admin must authorise SiteKit for themselves and use the sa

[2022-10-04 14:56] mohitwp commented on #5930
### QA Update ✅

- Verified on develop branch.
- Verified The "Learn more about GA4" link  have an external link indicator and, when clicked, it's opens  in a new tab.

![image](https://user-images.githubusercontent.com/94359491/193851794-be1d0ea6-5df7-42fa-b8b4-ae5868547a92.png)

[2022-10-04 15:15] jamesozzie commented on #5964
Thanks for your feedback @VR51.

Site Kit can be set up by one WordPress administrator at present, with other administrators needing to set up the plugin only. They can use their own Google account, not the same Google account used by an administrator who initially set up the plugin and connected the various modules (ie. Google Analytics or AdSense). They can then view existing data within the Sit

[2022-10-04 15:15] #5964 closed

[2022-10-04 18:30] nfmohit commented on #5772
Thank you for spotting this, @wpdarren! I've added [a new PR](https://github.com/google/site-kit-wp/pull/5966) to address this.

[2022-10-04 19:55] nfmohit commented on #5806
### QA:Eng ✅

- Built the plugin in development mode by running `npm run build:dev`.
- Verified that the TwG module still shows up in non-HTTPS sites. i.e. 1http://sitekit.10uplabs.com/`.

[2022-10-04 21:42] makiost commented on #5963
@tofumatt @FlicHollis Didn't manage to find any references to "Publisher ID", other than in AdSense, hence only referencing "Publication ID" in the IB. Should the AC be updated to reflect that?

[2022-10-05 00:42] tofumatt commented on #4926
No QA needed as this is a test-only change—moving directly to approval.

[2022-10-05 04:57] wpdarren commented on #5816
### QA Update: ✅

**Verified:**

For the main and entity dashboard, I compared the data between latest version and develop for 7, 14, 28 and 90 days. The two matched as expected. I also selected the different date periods and made sure that the all traffic pie chart and data tabs continued to work with no regressions.

[2022-10-05 06:02] mohitwp commented on #1798
QA Update ✅

- Verified on develop environment.
- Verified dashboard sharing settings modal.
- TwG modal for additional permissions.
- GA4 Modal for additional permissions.
- Disconnect and Reset Site Kit Modal.
- All modals are rendering without any JS error.

**Note** : I've noticed that user role having view permission is not able to see widgets on dashboard and getting console error. Admin rol

[2022-10-05 08:12] adamdunnage opened #5969 "Uncaught TypeError: Cannot read properties of undefined (reading 'hasOwnProperty') Console error thrown while using GTranslate widget and logged into website as admin"
## Bug Description

As flagged in the [support forum](https://wordpress.org/support/topic/after-logging-in-the-translation-using-gtranslate-doesnt-work/#post-16070703), the following console error is thrown while using GTranslate plugin widget and logged into website as admin:

[code]

I have been able to replicate this on a [TasteWP](https://tastewp.com/) site with just Site Kit and [GTranslate](

[2022-10-05 09:18] hussain-t commented on #5772
@nfmohit, could you update the QAB to verify this [issue](https://github.com/google/site-kit-wp/issues/5772#issuecomment-1266890649) is fixed?

[2022-10-05 09:31] FlicHollis commented on #5932
Thanks @asvinb I will move to closed

[2022-10-05 09:33] #5932 closed

[2022-10-05 10:35] nfmohit commented on #5772
Updated QAB, thanks @hussain-t!

[2022-10-05 11:45] jamesozzie commented on #5605
[Another user](https://wordpress.org/support/topic/site-kit-encountered-an-error-87/) reported the same error this week. As with other impacted users, this seems to come from mismatching URLs defined within their WordPress settings (site address and WordPress address). One may be https, the other http, or a site served a secure, but with the site URLs referencing http only.

[Testing performed to

[2022-10-05 12:26] jimmymadon commented on #5911
@wpdarren This page will now be redesigned before the User Input functionality is released to the public. So I think this issue can be closed as the new UI will be retested?

[2022-10-05 12:42] bethanylang commented on #6
@SurajVerma Thanks for getting in touch! We’re making great progress on the Dashboard Sharing feature, which will allow administrators to share access to the Site Kit dashboard with non-admin users. Unfortunately, we’ve encountered some blockers that are impacting our ability to set a release date for this functionality in Site Kit. We’ll share another update on this issue as soon as we have more

[2022-10-05 12:44] wpdarren commented on #5911
@jimmymadon I was actually thinking the same when reading through the v2 user input doc. Closed!

[2022-10-05 12:44] #5911 closed

[2022-10-05 13:06] kuasha420 commented on #5110
@asvinb @aaemnnosttv @eugene-manuilov I am working on this and confused about a few things.

1. The IB suggests using `''` as a $option replacing `null` for `filter_input` but it also raises similar error, the default is actually `0` which works, is it correct?
2. The error related to `strpos` (1 error), `str_replace` (1 error) and `rtrim` (32 errors) originate from our plugin but are result of Wo

[2022-10-05 13:19] aaemnnosttv commented on #5538
⚠️ After backtracking a regression flagged by @wpdarren, there is an issue introduced as part of this issue where the `supporter-wall-prompt` is being requested any time the TwG feature flag is enabled, regardless if the module is active or not, which was a detail not included in the AC here but one that was probably assumed. I'll pick this up in the review of #5961

[2022-10-05 13:34] hussain-t commented on #5538
Thanks, @aaemnnosttv. I have already fixed this issue in #5961

[2022-10-05 14:29] jimmymadon commented on #5868
@aaemnnosttv While the behaviour was slightly inconsistent in my testing, I was eventually able to reproduce all the three scenarios that @wpdarren initially found out. This is happening anytime the user goes through oAuth and not only on initial SiteKit connection.

[2022-10-05 15:02] mohitwp commented on #5538
@aaemnnosttv

Me and @hussain-t need your suggestions regarding the observation I posted earlier.

**Question -**
I've noticed that supported wall widget reminder banner notification showing also when site have full site editing theme. Currently we can't add supporter wall widget on full site editing theme. Are we going to show banner in this case also ? Currently, we don't have any check for full

[2022-10-05 15:02] aaemnnosttv opened #5970 "Require module to be active as part of data request validation"
## Bug Description

From the beginning, modules have always had their own `datapoint` endpoints which are routed to them automatically by the infrastructure in core `Modules`. This already prevents requesting data from "invalid" modules (e.g. a module which is behind a feature flag), but does not guard against making requests to an inactive module. In most cases, this would fail anyways due to ins

[2022-10-05 18:18] aaemnnosttv opened #5972 "Enhance `BannerNotification` to better support an elemental `description`"
## Feature Description

The `BannerNotification` component currently allows for a non-scalar `description` to be provided in the form of a React element. If provided it allows for more control over that part of the output but  currently somewhat enforces that the given element is a valid child of a `p` tag since the entire description is always rendered within one. This undermines the purpose of t

[2022-10-05 19:01] aaemnnosttv commented on #5538
@mohitwp back to you for another pass 👍

[2022-10-05 19:05] aaemnnosttv commented on #5435
@mohitwp back to you for another pass! Thanks 👍

[2022-10-05 20:46] aaemnnosttv commented on #5430
Hi @strarsis, thanks for raising this issue. It's technically possible to do this now to some extent but we're not quite ready to encourage other developers to start building on our APIs yet. This is on our roadmap for the future, but unfortunately there isn't a more precise ETA.

[2022-10-06 06:23] nfmohit commented on #5874
Quick question:

1. Should we possibly preserve this banner notification for potential future version bumps? If agreed, I think it can stay as it is without any change since:
    - The banner notification will not load if Site Kit meets the minimum WP version requirement.
    - Site Kit will not load at all if it doesn't meet the minimum version requirement.
2. If we decide to preserve this, shoul

[2022-10-06 11:24] hussain-t commented on #5873
Thanks, @wpdarren. As per our discussion, observation one doesn't seem to be related to the changes; however, please test with a lower version and `5.2` to verify if these error messages appear. I also would like to hear from @aaemnnosttv on this.

Observation 2 - It wasn't in the AC; however, I agree with you, and we can make that change - if Evan approves.

Observation 3 - Your screenshot proves

[2022-10-06 11:24] mohitwp commented on #5435
### QA Update ⚠️

@makiost @aaemnnosttv

- Verified this on main branch.
- Now I'm getting errors mentioned [here.](https://github.com/google/site-kit-wp/issues/5435#issuecomment-1260755465)
- I'm able to reproduce issue on latest environment using user role editor plugin.
- Issue is now resolved on main environment.
- Add roles placeholder is now visible if the role is deleted or the edit posts c

[2022-10-06 11:31] faizxmohammad opened #5973 "Loading chunk 33 failed."
(error: http://kdramatic.live/wp-content/plugins/google-site-kit/dist/assets/js/33-fb84bd62cbb49a617806.js)
    in Unknown
    in LazyContentSVG
    in Suspense
    in ContentSVG
    in div
    in div
    in div
    in Cell
    in div
    in ForwardRef
    in ForwardRef
    in ContentAutoUpdate
    in div
    in ForwardRef
    in section
    in AdSenseConnectCTA
    in div
    in div
    in Widget

[2022-10-06 11:33] faizxmohammad commented on #5973
Please help me resolve this issue , i have done everything but I am still facing the same issue.
I cant access the dashboard of Google SiteKit

[2022-10-06 11:53] wpdarren commented on #5873
@hussain-t @aaemnnosttv re issue 1 in my earlier comment.  I tested on a few older versions of WP and I don't see the same react errors in the console, but other errors do occur. Some of the errors also actually appear across WordPress and not specific to Site Kit.  It's not looking like this is part of the work completed on this ticket.

This is what I see in 5.1.13
![image](https://user-images.g

[2022-10-06 14:05] hussain-t commented on #5873
Thanks for the clarifications, @aaemnnosttv 👍

[2022-10-06 14:18] mohitwp commented on #5538
### QA Update ❌

@hussain-t

- Verified on main and develop branch.
- Error which I reported [here](https://github.com/google/site-kit-wp/issues/5538#issuecomment-1263322636) is still showing on site without SSL. Only difference is that previously I was unable to access Site Kit Dashboard previously now I can access after refreshing the page. Error coming only when TwG module is active and user co

[2022-10-06 14:53] hussain-t commented on #5538
@mohitwp, the error is not part of the implementation of this ticket, as we confirmed that it happens with the latest release as well. You can create a separate ticket for that.

The implementation is correct. It's the same as the other notifications. All the notification use the same font.

The main dashboard is the most visible place to put it, so I don't think anyone will miss it just because i

[2022-10-06 15:15] #5806 closed

[2022-10-06 15:22] #5689 closed

[2022-10-06 15:26] #5755 closed

[2022-10-06 15:35] #5493 closed

[2022-10-06 15:37] #4628 closed

[2022-10-06 15:38] jamesozzie commented on #5973
Hi @faizxmohammad,

Thanks for getting in touch. From reviewing your [public REST endpoints](https://i.imgur.com/5jviKGp.png) it looks like you may have your site defined as insecure (http), despite being fully secure with a valid https certificate active. Can you review your [WordPress general settings](https://drive.google.com/file/d/1Rr1W7Bkj-m-9ywZ_gYEDm3h4Vskr-URX/view?usp=sharing) and ensure

[2022-10-06 15:38] #5973 closed

[2022-10-06 15:43] #5214 closed

[2022-10-06 16:57] felixarntz commented on #1771
Closing this as invalid now, since it's not worth working on given our upcoming migration to Material 3 (and the `@material/web` package).

[2022-10-06 16:57] #1771 closed

[2022-10-06 17:36] aaemnnosttv commented on #5435
@mohitwp I'm unable to reproduce the flicker you're seeing. Can you try again on the latest on `main`?

[2022-10-06 17:45] aaemnnosttv commented on #5538
We already have functionality in place to generally support a spinner for the button when it triggers a background process, however in this case it's just a link to the widgets management screen, so it's a bit different because there's a navigation involved. We can explore this in a new issue as mentioned on the other, but it need not block things here 👍

[2022-10-06 18:22] aaemnnosttv opened #5974 "Enhance UX of banner notifications with a link type CTA"
## Feature Description

Our `BannerNotification` component is our general notification used in many places for various CTAs and notifications on the dashboard.

For notifications that have a CTA, these generally have three forms:

- buttons that when clicked do something in the background, or
- links that navigate to another page
- acknowledge the message

All three actually have the same behavior

[2022-10-06 18:30] aaemnnosttv opened #5975 "Update link style within error notices"
## Feature Description

The current styling of links within error notices looks a bit off and should be updated for better adherence to M3. We should be using an alternate color for on-error surfaces rather than the default link color in this context.

<img width="993" alt="image" src="https://user-images.githubusercontent.com/1621608/194390976-cb10a92f-bcf3-4692-89c1-2025af1de676.png">

---------

[2022-10-06 18:41] mohitwp commented on #5435
@aaemnnosttv

I'm able to reproduce issue on dev and main.
It's weird issue not able to replicate if I disconnect  and again connect analytics module. To reproduce it again I reset the plugin.
Also, it reproducing only when site have more than one admin and analytics module is connected.

**Steps :**

- Create new InstaWP site.
- Set up site kit make sure analytics module is connected.
- Add 2 adm

[2022-10-06 19:14] aaemnnosttv commented on #5816
Everything seems to be working fine here. I noted a few small instances where the replacement seems to have been missed here https://github.com/google/site-kit-wp/pull/5880#pullrequestreview-1133502404 but we can handle that in a follow up.

[2022-10-06 19:15] tofumatt commented on #5963
@makiost Huh, fair point.

I'll leave the ACs as-is but add a note that this was an instruction from the TwG team and that it doesn't apply to us. Maybe there are other things using that term 😅

IB ✅

[2022-10-06 19:17] aaemnnosttv commented on #5816
On second thought, it would be much quicker to fix this now with a quick PR 😄

[2022-10-06 19:20] aaemnnosttv commented on #5816
My mistake, this is all good! 👍

[2022-10-06 19:20] #5816 closed

[2022-10-06 19:21] #5185 closed

[2022-10-06 19:24] aaemnnosttv commented on #5070
@mohitwp did you create an issue for the quirk you flagged above? That would be good to fix in the future. Otherwise this LGTM!

[2022-10-06 19:24] #5070 closed

[2022-10-06 19:26] #1798 closed

[2022-10-06 19:28] #5411 closed

[2022-10-06 19:28] #5870 closed

[2022-10-06 19:30] tofumatt commented on #5970
Just a note here: the original ACs called for an HTTP `500` error code, but that's not semantically correct. A 500 error code means the server had an error from a valid request, but making a request for an "invalid"/"inactive" module is a _client_ error, as it's not something we ourselves should be doing and thus shouldn't be treated as a valid request.

Arguably, the request is still `403 Forbidd

[2022-10-06 19:31] #5859 closed

[2022-10-06 19:49] aaemnnosttv commented on #4775
## ⚠️ Approval

Looking at the code, there are a few instances where refactoring was missed, as well as a few places where something was refactored improperly.

Will open a follow-up PR shortly.

[2022-10-06 20:27] tofumatt commented on #5756
IB ✅

[2022-10-06 21:18] aaemnnosttv commented on #5435
Thanks @mohitwp – I've identified the changes in #5772 as the cause for your observation here, so let's pick this up on that one.

The QA here can continue apart from this one thing 👍

[2022-10-06 21:22] aaemnnosttv commented on #5772
Reopening this one due to a regression flagged on https://github.com/google/site-kit-wp/issues/5435#issuecomment-1270530080 where permissions are not available right away as before which can cause some odd flickers in some cases where we didn't have them before due to the immediate availability via the global. This was my initial concern with this change as mentioned in https://github.com/google/s

[2022-10-06 22:05] aaemnnosttv commented on #5772
Created a PR to fix this for the release, will open another issue to address this in a better way in the future. This is still an improvement over what we had I think, but the PR preserves the timing/availability of the state as we had before when it was just received from a global.

[2022-10-06 22:16] makiost commented on #5772
The [follow-up PR](https://github.com/google/site-kit-wp/pull/5977) fixes the issue flagged in https://github.com/google/site-kit-wp/issues/5435#issuecomment-1270530080. Tested it locally, and the availability ensures that we don't encounter any wrong texts from showing up while the `googlesitekit_manage_module_sharing_options` option is undefined.

[2022-10-06 22:19] tofumatt commented on #4775
Moving this back to QA as a few small changes/refactoring were made to the code so it's worth testing this again before sending to approval again, but the QA steps are the same 👍🏻

[2022-10-06 22:49] jimmymadon commented on #4878
@aaemnnosttv Great suggestions - tested your solution for the `<ProgressBar>` height fixes and have added my findings to the IB.

[2022-10-06 22:54] tofumatt commented on #5642
IB ✅

[2022-10-07 00:58] tofumatt commented on #5923
Testing for me went okay aside from a number of "Quota Exceeded" errors when trying to set up a new Analytics account on a new site. I think this is a proxy error, right? And not the error I'd get if I were just at my maximum number of Analytics accounts/properties? (It's been awhile since I've removed some but I tried removing some accounts/properties and still got the error.)

<img width="354" a

[2022-10-07 03:28] wpdarren commented on #4775
### QA Update: ❌

@aaemnnosttv @tofumatt the feature tours are triggered other than Idea hub draft posts tour. I've tested this via the forced version option in the tester plugin. Last time around when I was on the posts screen and ran the code in console, it triggered the tour, but it isn't doing that anymore. Could you look into this for me?

It's saying undefined:
![image](https://user-images.g

[2022-10-07 06:58] wpdarren commented on #5772
### QA Update: ✅

**Verified:**

- Calling` _googlesitekitUserData.permissions` in the browser console on a Site Kit screen returns false.  The QAB says it should read undefined but after chatting with Hussain, this is correct.
- I set up Site Kit for all the modules and they connected without any issues. Permissions appeared as expected. Also tested the Dashboard Sharing settings modal and Module

[2022-10-07 07:04] wpdarren commented on #5435
@mohitwp while testing 5772, I was unable to recreate the issue on main branch, so the reported regression looks to be fixed. For a second pair of eyes, please could you confirm this when finishing off the QA on this ticket.  Thank you! :)

[2022-10-07 07:32] asvinb commented on #4775
@wpdarren Sorry if that was missed in the QAB, but you'll need to delete the `wp_googlesitekitpersistent_dismissed_tours` user meta since we are saving which tours were dismissed in the database. Via WP-CLI, you can use the following command:
`wp user meta delete 1 wp_googlesitekitpersistent_dismissed_tours`
where `1` is the user id or you delete the meta directly in the database in the `wp_userme

[2022-10-07 07:41] mohitwp commented on #5435
### QA Update ✅

- Verified this on main branch.
- Now I'm getting errors mentioned [here.](https://github.com/google/site-kit-wp/issues/5435#issuecomment-1260755465)
- I'm able to reproduce issue on latest environment using user role editor plugin.
- Issue is now resolved on main environment.
- Add roles placeholder is now visible if the role is deleted or the edit posts capability is revoked.
-

[2022-10-07 07:47] wpdarren commented on #4775
### QA Update: ✅

**Verified:**

- Tested feature tours and they load correctly, without any errors: both idea hub tours (dashboard and pages) and all traffic widget tour. I also tested to make sure that the dashboard sharing and the dashboard navigation menu tour worked too.
- There are no visual regressions or JS errors.

<details>
 <summary>Screenshots / Screencasts</summary>

https://user-imag

[2022-10-07 07:48] mohitwp commented on #5538
### QA Update ✅

- Verified on main branch.
- Verified the this [story](https://google.github.io/site-kit-wp/storybook/develop/?path=/story/components-thankwithgooglesupporterwallnotification--ready).
- Verified the new banner notification it is appearing as per the AC.
- Issue mentioned [here](https://github.com/google/site-kit-wp/issues/5538#issuecomment-1263322636) is now resolved. Still errors

[2022-10-07 08:47] eclarke1 commented on #5928
Just noting this issue is in QA but does not have a release assigned, should it be in 1.86.0?

[2022-10-07 09:02] mohitwp commented on #5928
Yes, it would be good if we can assign this to 1.86. Probability of creating any regression due to this ticket is very less. But don't not want to rush it.

[2022-10-07 09:13] eclarke1 commented on #5912
Just a reminder on this one folks, if we want to launch GA4 activation banner in 1.86.0 this launch blocker really needs to get progressed - please can I ask for someone to pick up the AC review here as soon as possible so we can get this issue started in Sprint 86.
cc @FlicHollis

[2022-10-07 09:17] nfmohit commented on #5928
@eclarke1 @mohitwp I think this was mistakenly moved to QA because the connected PR is not reviewed and merged yet.

[2022-10-07 09:20] hussain-t commented on #5928
I have assigned it to myself for the CR. I'm not sure why it was moved to QA. It seems @eclarke1 has moved it to QA 🤷

[2022-10-07 09:24] eclarke1 commented on #5928
Oh yes!! It does look like I'm the guilty party here! No idea how that happened apologies folks! Must have been a delay on my internet or something, sorry!

[2022-10-07 09:25] hussain-t commented on #5928
No problem, @eclarke1. I will move it back to CR and assign it to me.

[2022-10-07 09:26] nfmohit commented on #5928
No worries, @eclarke1! Zenhub does act glitchy sometimes.

[2022-10-07 09:44] nfmohit commented on #5772
Thank you @aaemnnosttv for spotting the issue and for the quick fix!

[2022-10-07 10:10] FlicHollis commented on #5876
Hi @aaemnnosttv is there an update on this one? If no action is needed, we can close. Thanks so much!

[2022-10-07 10:38] FlicHollis commented on #5724
Hi @tofumatt just noticed this is in execution but not assigned, are you still planning on picking this up as Tom is o.o.o?
Thanks!

[2022-10-07 10:45] FlicHollis commented on #5345
Hi @aaemnnosttv and @nfmohit please could we get an update on the ticket to say what we are planning here. If this is stalled, perhaps we need to remove from the sprint so as not to skew the capacity numbers.
Please confirm if this is what you would like to do, thanks!

[2022-10-07 11:24] asvinb opened #5978 "Console error when viewing CoreSiteBannerNotifications stories"
## Bug Description

When viewing the `CoreSiteBannerNotifications` and possibly other notifications related stories, there is a console error and the component is rendered after a few seconds.

## Steps to reproduce

1. Run storybook
2. Check the `CoreSiteBannerNotifications` stories and check the error in the browser console.

## Screenshots

<img width="976" alt="image" src="https://user-images.

[2022-10-07 13:16] aaemnnosttv commented on #5435
@mohitwp just to confirm, there is no error raised any more (especially one that shows the full page error, e.g. `r.filter is not a function`), correct?

[2022-10-07 13:25] aaemnnosttv commented on #5435
Thanks @mohitwp – It seems good in my test, I just wanted to double check 👍

[2022-10-07 13:25] #5435 closed

[2022-10-07 13:39] #5538 closed

[2022-10-07 14:00] aaemnnosttv opened #5979 "Persist TwG supporter wall notification dismissal"
## Feature Description

In #5538, we added the supporter wall notification. This should be updated so that the dismissal is permanent – currently it is only temporary due being client-side only.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The Thank with Google supporter wall reminder notification s

[2022-10-07 14:04] #4775 closed

[2022-10-07 14:45] asvinb opened #5980 "Close button (hover/focus states) overlapping input border"
## Bug Description

## Steps to reproduce

1. Go to the main dashboard
2. Click on the "URL search" button in the header.
3. Hover the "Close" icon
4. Notice how the icon overlaps the input border.

## Screenshots
![Oct-07-2022 18-43-03](https://user-images.githubusercontent.com/31818/194581163-4a3168b9-f824-4854-bdba-313d8d66cf2a.gif)

## Additional Context

 - Browser: Chrome
 - Plugin Version:

[2022-10-07 14:45] aaemnnosttv commented on #5912
@jimmymadon let's make it clear how the user should experience this, i.e. behind a(n existing?) loading state – there should be no flicker or changing of states later based on the result of this check.

Let's revise this to make it clear that this is not being removed from the banner, but that it shouldn't be shown in this case specifically.

I noticed this changes back to a non-error after the cu

[2022-10-07 15:13] jimmymadon commented on #5912
@aaemnnosttv Thanks - updated the ACs. I did realise the description icon was going back to the exclamation mark when coding this and thought it was intentional within Figma.

[2022-10-07 16:59] VR51 commented on #5964
Thank you for your reply, @jamesozzie. I will follow the other ticket.

[2022-10-07 22:12] jimmymadon commented on #5568
Thanks @aaemnnosttv - sounds much cleaner! Updated the IB.

[2022-10-07 22:16] BxtGeek commented on #5852
my parent domain is approved for the AdSense and getting the sane error

[2022-10-08 00:59] jimmymadon commented on #5724
I'll give this a look since I did the IB and have some context. Will go through @tofumatt 's comments on the open PR.

[2022-10-08 03:25] Daymarke opened #5982 "Day Market"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser: [e.g. chrome, safari]
 - Plugin Version: [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2022-10-08 03:25] #5982 closed

[2022-10-08 08:45] nfmohit commented on #5972
If we decide to wrap the adjacent elements (e.g. the learn more link) in their own `<p>` tag, this is how the difference would look:

Now:
![image](https://user-images.githubusercontent.com/20284937/194698127-7dd807f0-fe59-46e7-9ec7-9644553f29d7.png)

After change:
![image](https://user-images.githubusercontent.com/20284937/194698148-c2faa259-bca1-47f7-9d37-517b1fcfa67f.png)

I have added the IB w

[2022-10-08 10:32] nfmohit commented on #5923
## Release Tested ✅

- Release tested 1.85.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.
- Double-checked with and without Dashboard Sharing and GA4 Activation Banner flags.
- Used our release testing checklist to ensure everything is ch

[2022-10-08 21:54] jimmymadon commented on #5569
Note to IB Reviewer:

Originally considered creating and applying a filter which could be used by other classes to "add" whatever params needed to be sent with the `refresh_token` request. This would have serious security concerns.

The [design doc section](https://docs.google.com/document/d/1KODBTcjRjDNNgYd4Qv-d0XlapdYkmBdyzqNTFmEg9Rg/edit?resourcekey=0-eZkvc2ChBvVP_U_p7DdtwQ#heading=h.oyd5bia88b

[2022-10-09 00:19] jimmymadon commented on #5923
## QA ✅

Smoke tested with and without GA4 Activation Banner and TwG flags. LGTM.

[2022-10-09 09:59] FlicHollis commented on #5929
Thanks @asvinb and @wpdarren I will close this ticket and we can open a new one in the future if we deem that necessary.

[2022-10-09 09:59] #5929 closed

[2022-10-09 11:16] hussain-t commented on #5923
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-10-09 14:20] jimmymadon commented on #5912
@FlicHollis Have jumped the gun a bit here and added an IB since this is part of this sprint and most of @aaemnnosttv 's comments for the AC review were minor which I have fixed.

[2022-10-09 17:29] jimmymadon commented on #4161
@felixarntz Just wanted to flag the change of our internal GA tracking events which heavily rely on the renamed constants. I guess that was considered and won't be an issue when we make our internal reports going further?

[2022-10-09 20:59] jimmymadon commented on #5935
@wpdarren This will be addressed as part of https://github.com/google/site-kit-wp/issues/5912 and can be closed.

[2022-10-10 02:31] wpdarren commented on #5923
### QA ✅

- Completed testing from our QA checklist
- Checked that feature tours still continue to appear
- Double checked permissions due to a few regressions we had.
- Made sure that the Bump WP version banner notification appeared.

[2022-10-10 06:58] makiost commented on #5923
## QA ✅

* Verified my own changes
* Gave extra attention to changes in #5435 and #5772 after the regression found there
* Smoke tested core features

[2022-10-10 07:41] mohitwp commented on #5923
### QA Update ✅

- Verified QA check list.
- Verified UFD feature tour.
- Verified Dashboard sharing and all widgets feature tour.
- Verified additional permissions, disconnect and reset site kit and dashboard sharing settings modal.
- Didn't include TwG and GA4 in my testing.

[2022-10-10 09:42] eugene-manuilov commented on #5110
Looks like this happens because we call the `add_submenu_page` function with `NULL` for the parent slug parameter which is wrong because the parent slug is required for this function. We should probably call the `add_menu_page` function  when our screen has no parent. Could you please take a look and try to find a workaround that will fix this problem and preserves the current behaviour?

That is

[2022-10-10 10:03] tofumatt commented on #5569
IB ✅

[2022-10-10 12:15] eugene-manuilov opened #5987 "Update ReportError to use module specific ids of the insufficient permissions error when we build the get help link"
## Feature Description

The insufficient permissions error has no error code, so when we build a get help link only error message is used. We need to generate a fake error code for the insufficient permissions error in the `ReportError` component to allow the support team to redirect users to module-specific articles.

https://github.com/google/site-kit-wp/blob/0d5b670504745849367c6274776ba9adcc82

[2022-10-10 12:21] tofumatt commented on #5979
IB ✅

[2022-10-10 12:31] tofumatt commented on #5972
Looks good, but this is probably a 7 estimate, as a fair number of components are affected and should be reviewed/QA'd.

Plus: it'd be good to add a test or two for this new behaviour to make sure it's preserved. I added mention of this to the IB, but otherwise looks good.

IB ✅

[2022-10-10 12:35] tofumatt commented on #5915
@sashadoes Looks good, just a question about this part of the IB:

What does this mean? I don't quite understand, sorry 😅

[2022-10-10 12:45] tofumatt commented on #5974
I like this! 🙂

IB ✅

[2022-10-10 12:51] tofumatt commented on #4895
@makiost Can you mention any ESLint packages and/or the rule(s) needed to be enabled in the IB? And can you fill out the test section? I guess we won't need any tests, but if that's the case it's good to mention it in the IB 🙂

I think part of the IB here should also be to create the issues for each rule violation/ignored linting instance.

If there are some that are very related (by type or by fi

[2022-10-10 13:22] mohitwp commented on #5882
### QA Update ✅

- Verified on dev environment.
- Verified when user don't have edit scope permission.
- On the GA4 Activation Banner, when on the Setup Banner in the "existing property" variants, with is a property selected in the dropdown with a valid measurement ID, then the "You will need to give Site Kit permission..." message is not showing  and user is not redirecting to OAuth when pressing

[2022-10-10 13:26] mohitwp commented on #5945
QA Update ✅

- Verified on dev environment.
- GA4 Activation Banner: Success Banner is now displaying when user set up new property or connect existing property successfully.
- Under settings > Analytics showing connected after successful set up.

<details>

https://user-images.githubusercontent.com/94359491/194876918-bacdc120-4b3f-4fae-b268-4cfe388fa172.mp4

https://user-images.githubusercontent.

[2022-10-10 14:07] mohitwp opened #5989 "GA4 > After successful set up GA4 banner showing when user click back to navigate on dashboard."
## Bug Description

After successful GA4 set up if user do not remove "GA4 successful set up banner". Then click on settings or any other tab and click on browser back button to navigate dashboard then 'Set Up GA4' banner showing again.

Expected : On Site kit dashboard "GA4 successfully set up banner" must display when user navigate back to dashboard through

## Steps to reproduce

1. Set up GA4.

[2022-10-10 14:18] mohitwp opened #5990 "UFD> If any banner is showing then navigation tour focus is not correct."
## Bug Description

If any banner is showing (Zero data state banner) then focus is not correct for navigation tour. After refresh focus get correct but initially it is wrong.

## Steps to reproduce

1. Set Up fresh Site kit set up.
2.  Set older version of plugin from tester plugin to show chip navigation tour.
3.  Go to dashboard.
4. See issue.

## Screenshots

![image](https://user-images.githu

[2022-10-10 14:19] kuasha420 commented on #5923
## QA :heavy_check_mark:

* Went through the release checklist on a fresh site and an existing site without seeing any UI or console error.
* Tested with both `ga4activationbanner` and `twgModule` enabled.
* Went through the changes I've been involved in.

LGTM.

[2022-10-10 14:22] asvinb commented on #5923
## QA ✅

Smoke tested, LGTM!

[2022-10-10 14:30] kuasha420 commented on #4767
# IB Update:

This issue has been in the Triage/AC and IB for quite a bit. When I initially started on the IB, there was a few instances of the violations in the codebase. However, when I checked again this weekend, I realized that we have already fixed all the combined `useSelect` calls and destructuring as part of other issues. If someone else can confirm this, we may be able to go ahead and clo

[2022-10-10 15:00] mohitwp opened #5991 "Errors showing when we set up site kit on site without SSL."
## Bug Description

When we set up site kit on site without SSL then it shows error if  TwG module is active and user connects analytics module.

[code]
## Steps to reproduce

1. Enable TwG feature module.
2. St up Site Kit with analytics on Site without SSL.
3. See errors on dashboard.

## Screenshots

https://user-images.githubusercontent.com/94359491/194333281-d0406fb1-44bd-4e4c-8a8b-bf4d64b6c4

[2022-10-10 15:07] mohitwp opened #5992 "TwG - Supporter wall widget banner notification showing also for full site editing theme."
## Feature Description

I've noticed that supported wall widget reminder banner notification showing also when site have full site editing theme. Currently we can't add supporter wall widget on full site editing theme. Are we going to show banner in this case also ?
If we are not providing support for Supporter wall widget on full site editing theme. Then we will need to remove banner and it's opt

[2022-10-10 15:40] #5926 closed

[2022-10-10 15:49] tofumatt commented on #5874
At first I thought it made sense to keep the minimum version component around. But then I thought…

Let's not bother with the second point, because the dates would also change and there's other text in the component that probably makes sense to tailor to each version bump.

And we can always get this file out of our `git` history, etc. But we won't be doing another version bump for a long time, in

[2022-10-10 17:29] #5923 closed

[2022-10-10 17:36] w0rldart commented on #6
Even admin to admin suffers from the same issue.

What's the point of using this plugin if my admin colleagues cannot see what I have configured?

[2022-10-10 19:27] aaemnnosttv commented on #5785
Just noting here that the block-based widget editor still does not enable the preview until the title is modified or editor is reloaded.

https://user-images.githubusercontent.com/1621608/194938899-7734aebe-704c-4726-8068-92531bf0c96b.mp4

[2022-10-10 19:54] aaemnnosttv commented on #4878
Thanks @jimmymadon – this sounds good to me although it could be a little more clear as to when something should be hidden.

Here I think we want to _always_ render the corresponding `ReportMetric` row (unlike now), it would only be hidden if there was no data for it.

I have a concern about this being positioned in the middle of the component, especially on smaller screens as the widget can be ra

[2022-10-10 20:25] aaemnnosttv commented on #4767
@kuasha420 from what I can see there seems to be some instances left where this would still be applicable (e.g. https://github.com/google/site-kit-wp/blob/c917262802f0da1e598a466b4f57908b55850819/assets/js/components/setup/SetupUsingProxyWithSignIn.js#L98) – you can find them by looking for `} = useSelect`. I think there is some nuance around this too as some selectors should be safe to destructur

[2022-10-10 20:30] aaemnnosttv commented on #5927
@tofumatt Bumped to a 7.

IB ✅

[2022-10-10 20:43] #5935 closed, assigned to nobody

[2022-10-10 20:50] aaemnnosttv commented on #5912
Thanks @jimmymadon, this is almost good to go.

The conclusion here is correct but then it actually isn't clear what it should be from 2023-06-01 to 2023-07-01 😄 It should be an error from 2023-06-01 and after.

Finally, there are a fair amount of changes/additions here including storybook, so let's bump the estimate a little to account for that.

[2022-10-11 05:32] nfmohit commented on #5874
Understood, thank you for the confirmation, @tofumatt!

[2022-10-11 08:50] jimmymadon commented on #5912
@aaemnnosttv Thanks - I think I didn't mention that because the `ErrorIcon` is currently rendered for that period. But I have clarified this point in the IB and yeah, good to bump up the estimate here.

[2022-10-11 08:59] jimmymadon commented on #5568
Thank you @aaemnnosttv - that makes sense. IB updated.

[2022-10-11 09:46] jimmymadon commented on #4878
@aaemnnosttv Thanks - I've clarified the `interactionToNextPaint` rendering. As for the `<ProgressBar>`, I think this is going to be a short term change - probably might not even be released if we implement #5776 in the same release. The skeleton loader which will be implemented in #5776 will overwrite this so we should probably not spend too much time perfecting this?

[2022-10-11 09:53] jamesozzie commented on #6
@w0rldart Multiple administrators can set up and use Site Kit currently. This has always been the case, with more information on this below:
https://sitekit.withgoogle.com/documentation/getting-started/install/#additional-users

Note that if one administrator sets up Site Kit and connects services such as Google Analytics or AdSense, they will need to provide access to the connected Google Analyti

[2022-10-11 10:12] eclarke1 commented on #5922
Can we please add a priority label here
cc @FlicHollis

[2022-10-11 11:21] eclarke1 commented on #5921
Please can we add a priority label to this issue
cc @FlicHollis

[2022-10-11 14:26] bethanylang commented on #5605
@aaemnnosttv Tagging you in here as we discussed this in today's support/eng sync. Let's see if we can make this a clearer message for users.

[2022-10-11 15:28] nfmohit commented on #5972
Thank you for the review and updates, @tofumatt!

[2022-10-11 23:17] aaemnnosttv commented on #5989
This experience is consistent with others in the plugin and is due to the nature of how the back button works which is out of our control. For example, from the WordPress dashboard, if you log out via the admin bar, you'll land on `wp-login.php`. If you subsequently use the back button, you'll be "back in wp-admin" even though you're not actually logged in anymore. Your user isn't authenticated an

[2022-10-11 23:58] aaemnnosttv commented on #5436
@jimmymadon I think most of the desired outcome is probably obvious here where things are overflowing. We should consider reducing the logo to just the G in portrait-phone viewports though. Last I recall checking this I wasn't able to reproduce, but I also didn't see it with a Galaxy device 😄

[2022-10-12 00:27] wpdarren commented on #4161
I've removed the `QA:Eng` label on this ticket because I feel we should be able to complete the testing based on QAB. This will have gone through CR and MR review.

[2022-10-12 01:45] kuasha420 commented on #5110
@eugene-manuilov it appears that we intentionally call `add_submenu_page` with `null` as parent slug to hide it from the Sidebar menu (ie. User Input Page) while still registering the page. It's a well known hack to achieve the goal. There's [other](https://stackoverflow.com/a/47577455) way to do it, however I'm not sure if it is better solved here or in a separate issue. Any advise?

The `rtrim`

[2022-10-12 03:41] kuasha420 commented on #5894
Not sure if the Inline Edit issues should block this one. Without blocking,  the\ Edit functionality will be broken until #5893 and #5897 are complete. But I don't think That's really needed.

[2022-10-12 06:32] hussain-t commented on #5989
I agree with @aaemnnosttv. Probably it might work some workaround with React-Router and dispatching some particular actions to keep the state synced. However, that's lots of work for a relative edge case that is out of control.

[2022-10-12 08:59] FlicHollis commented on #5989
Thanks @aaemnnosttv and @hussain-t , Mariya also confirmed via Slack that this can be left as is.
I will close this ticket and if we feel this needs addressing in the future we ca open a new one.
cc @mohitwp @eclarke1

[2022-10-12 08:59] #5989 closed

[2022-10-12 09:08] FlicHollis commented on #5554
Hi @kuasha420 just following up on my comment above If you are not actively working on this, perhaps you could  un-assign yourself for someone else to pick up. Let me know what you think, thanks!

[2022-10-12 13:13] tofumatt commented on #5924
No QA needed here as this has been approved by two engineers and requires no user-facing QA. Moving directly to approval.

[2022-10-12 13:24] mohitwp commented on #5785
### QA Update ✅

- Verified on Dev environment.
- Supporter wall widget now showing with Default title.
- Saving Widget with default title showing default title in front end.
- If we remove the default title and make the title empty, then save it and reload the widget editor screen—the title is empty and not getting replace with the default title.
- On adding new title instead of default - new tit

[2022-10-12 13:26] VR51 commented on #6
@jamesozzie

Re "[Without being given permission to access existing Google Services accounts], any additional administrator who sets up Site Kit may encounter permission notices, if access was not shared."

That can lead to Google registering other administrators as the site owner, the creation of new Google services properties for the site eg new GA accounts or new Search Console accounts, and th

[2022-10-12 13:52] douglaskarr commented on #6
Administrative access should always afford the opportunity to manage the plugin's connections. That's what full administrative rights are. The best practice for all plugins should be:

- Notification to administrators if any administrative settings have been changed in the plugin.
- A role and permissions settings page that allows the predefined roles in WordPress to View the reports. Perhaps I wi

[2022-10-12 15:03] eugene-manuilov commented on #5110
@kuasha420, yes, i think a separate ticket will be better because we will need to figure out a better way of adding hidden pages. Could you please create a new ticket?

Ok, just leave a comment about it in your PR.

[2022-10-12 15:40] aaemnnosttv opened #5996 "Release 1.86.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-10-12 18:07] tofumatt commented on #5876
Just had a look through the code and I confirmed what @felixarntz said: there's actually nothing actionable/needed here now. The only place we integrate with Gutenberg _currently_ isn't using React components so there's nothing to change.

Closing this as a won't fix 🙂

[2022-10-12 18:07] #5876 closed

[2022-10-12 19:05] eugene-manuilov commented on #5921
IB ✔️

[2022-10-12 19:08] eugene-manuilov commented on #5987
IB ✔️

[2022-10-12 19:50] tofumatt commented on #5934
ACs look good, moving this to IB.

[2022-10-12 20:14] aaemnnosttv commented on #5901
@kuasha420 I feel like this can probably happen as part of #5900 as it should naturally be removed along with the `User_Input_State::VALUE_REQUIRED` value. It seems quite small to handle separately.

[2022-10-12 20:31] tofumatt commented on #5922
ACs look good, moving to IB 👍🏻

[2022-10-12 20:32] aaemnnosttv commented on #5899
@kuasha420 let's make this more specific to the SK service as described. This is a bit too loose as defined.

[2022-10-12 20:46] aaemnnosttv commented on #5888
@kuasha420 this seems like a large change to update all the questions and the design in the same issue. It also might have problems by doing this separately from the changes to the API where the questions are also defined.

I would suggest we adjust the distribution of work between this and #5889 as follows:
- Make one issue about updating the questions, in the UI + the API
- Make the other issue

[2022-10-12 20:47] aaemnnosttv commented on #5889
@kuasha420 see https://github.com/google/site-kit-wp/issues/5888#issuecomment-1276720590

[2022-10-12 20:49] aaemnnosttv commented on #5892
As mentioned in https://github.com/google/site-kit-wp/issues/5888#issuecomment-1276720590, I think this could fall under the issue to implement the design since it is a small detail, although it would be good to call out specifically.

[2022-10-12 20:56] aaemnnosttv commented on #5895
My understanding is that the gathering state would only affect the presence of the CTA on the dashboard; settings should be independent of this, especially since this requirement is more about the key metrics widget than user input. We should discuss this with @marrrmarrr but I don't think the gathering state should apply here.

[2022-10-12 21:03] aaemnnosttv commented on #5897
@kuasha420 from what I recall, the confirm changes button should work consistently with module settings in that it should be disabled unless a change has been made compared to the saved settings.

Also, since there is a dedicated issue for this, we should probably highlight this on other related issues to not implement this part of the design yet.

[2022-10-12 21:08] aaemnnosttv commented on #5896
@kuasha420 what is implemented as part of this issue? It seems like it would only be the "Key metrics" container with nothing in it? If so we can probably handle this as part of #5895

Otherwise, I think this seems like it would be a condition to render either the CTA or the settings, both of which are implemented in other issues.

[2022-10-12 21:12] aaemnnosttv commented on #5891
@kuasha420 I'm not sure it's worth separating the design implementation of the questions and the review step into their own issues. I would think these should be doable together without much extra work. What do you think?

[2022-10-12 21:18] aaemnnosttv commented on #5893
@kuasha420 given the similarity with #5897 – I would imagine we would use some shared component in both places – would it make sense to do this in a single issue? Or, if we decide it's best to have separate issues, I would expect one of them to cover the majority of the implementation, and maybe the settings-specific issue would include differences that are only applied there.

Otherwise, I feel l

[2022-10-12 21:33] aaemnnosttv commented on #5900
@kuasha420 this is worded in a way that could be misinterpreted. I think the intention here is that `User_Input_Settings` should implement a new method for checking the completion status? Currently it reads as if the code that uses `User_Input_Settings` should change.

This part is a bit confusing as well. Above we're saying the completion status can be represented as a boolean now, but here we're

[2022-10-12 23:36] tofumatt commented on #4895
Looks good 👍🏻

IB ✅

[2022-10-12 23:38] tofumatt commented on #5915
Thanks, all good then 👍🏻

IB ✅

[2022-10-12 23:47] kuasha420 opened #5998 "Refactor undocumented use of `add_submenu_page` with `null` parent slug to register a hidden admin page."
## Bug Description

Currently, we have few instances of `add_submenu_page` call with a `null ` parent slug to register WordPress admin page without showing it to the menu. While it's a well-known hack and works, this raises a few deprecation warnings in PHP8.1. See #5110

There are other ways to do it without raising the warning and we should explore that.

## Steps to reproduce

1. Go to '...'
2.

[2022-10-13 09:30] asvinb commented on #5922
@wpdarren Can you check if you can reproduce? I spent some time trying to reproduce the issue you reported but was unable to.
![Oct-13-2022 13-28-34](https://user-images.githubusercontent.com/31818/195559715-da93ac1e-eecb-4d22-899b-77f885ff8035.gif)

[2022-10-13 11:40] tofumatt commented on #5724
My comment here is affecting any site that was set up before this change: https://github.com/google/site-kit-wp/pull/5946#pullrequestreview-1139827695

I'm guessing when you tested this you were using a site that had been reset and pulling this "full name" data, but for sites that haven't retrieved this data yet there will be an error:

![image](https://user-images.githubusercontent.com/90871/1955

[2022-10-13 12:33] mohitwp commented on #5928
### QA Update ✅

- Verified on develop.
- Now error is showing and user is not getting stuck in a loading mode.
- When user is online and no error occur then Set up now action shows the appropriate setup banner after the "progress bar loader".

<details>

![image](https://user-images.githubusercontent.com/94359491/195596965-e53d49db-9d72-49eb-9e31-c79fd05c3e15.png)

</details>

[2022-10-13 14:02] tofumatt commented on #5963
@mohitwp Those aren't publicly-visible strings; they're developer messages/errors that shouldn't appear in production code.

Internally we still use `publicationID` as a setting/option variable name; this issue is just for user-facing strings, so that's okay. 👍🏻

I'll move this to approval since the other QA is okay 🙂

[2022-10-13 14:15] FlicHollis commented on #5922
@mohitwp can you help with this in Darren's absence?

[2022-10-13 16:29] jamesozzie opened #6001 "Reduce the height of the fixed dashboard header"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/suggestion-reduce-height-of-dashboard-header/#post-16092563) has propose some changes to the fixed head within the Site Kit dashboard.

The user has kindly shared a graphic illustrating their preferred behavior, with the pills placed alongside the same horizontal area as the logo and links/reporting period sel

[2022-10-13 17:46] sashadoes commented on #5934
Hi @FlicHollis.
Checked the implementation for this one.
I see that FE uses one implementation for several success banners.
So eg. for `Add a Thank with Google supporter wall` banner we have the same appearance on mobiles.
<img width="502" alt="Screenshot 2022-10-13 at 18 12 32" src="https://user-images.githubusercontent.com/16494321/195668620-393c0fb3-9058-4cf9-9043-514079c0332c.png">
Do we need

[2022-10-13 18:03] aaemnnosttv commented on #5934
@sashadoes you're asking if this should apply to all success banners or just the one for TwG? If so, I believe the change should be consistent for all rather than only for TwG. I think that should make it a bit more straightforward to do as well. Was that your understanding as well @tofumatt ?

[2022-10-13 19:10] tofumatt commented on #5934
I didn't actually realise the other banners were off as well, but I think fixing any other affected banners that use the same/similar code/styles makes sense to do as part of this issue, yes 👍🏻

So let's make all of the banners consistent as part of this issue. I've amended the ACs, let me know if something is off but otherwise should be ready for an IB 🙂

[2022-10-14 00:20] tofumatt opened #6003 "Schedule a cron_refresh_profile_data function to run occasionally so we have up-to-date profile data"
## Bug Description

Currently we don't refresh a user's profile data in the background unless there was an error with a profile data request. This has two issues:

1. If the user updates any of their profile data, like their photo or name, Site Kit won't ever reflect those changes.
2. If we add new fields to the info we want to get from their profile (like in #5724 where we added the `full_name` p

[2022-10-14 00:22] tofumatt commented on #6003
Do you think two hours is too aggressive for profile data refreshes? Or not aggressive enough? I don't want to make too many requests, but having up-to-date info relatively close to when the user updates it is nice UX…

[2022-10-14 01:12] kuasha420 commented on #5888
My idea was to only update the question copies (question, description, hints and the answers) here. The new design should be implemented in #5890.

I think the confusion comes from me linking the Figma design and not mentioning copies explicitly. I will make that change.

However, I think based on your suggestion, I can add the API changes in this issue and close #5889. Then put the `Cancel` butto

[2022-10-14 01:22] kuasha420 commented on #5889
@aaemnnosttv Can you see my comment and updated AC on #5888, and if that satisfies your recommendation, close this one? Cheers!

[2022-10-14 04:36] kuasha420 commented on #5900
@aaemnnosttv I have updated the wordings and merged #5901 with this one. It it looks good to you. feel free to close #5901. Cheers@

[2022-10-14 04:36] kuasha420 commented on #5901
@aaemnnosttv Makes sense to me. See https://github.com/google/site-kit-wp/issues/5900#issuecomment-1278471410

[2022-10-14 10:33] nfmohit commented on #5928
@mohitwp I'm afraid, I'm not sure of a natural way to trigger multiple errors in this context, but you can try mutating our data store and making the banner show custom errors. To do so, run the following in your browser console while being on the Site Kit dashboard:

[code]

Let me know if this works for you. Thanks!

[2022-10-14 13:42] aaemnnosttv commented on #4878
SGTM, thanks @jimmymadon 👍

IB ✅

[2022-10-14 14:01] marrrmarrr commented on #5628
@felixarntz I added suggested wording, PTAL and if it LGTY, let's go with this.

[2022-10-14 14:56] hussain-t commented on #5970
## QA:Eng Verified ✅

- Verified requests for inactive modules returns a 403 error, with a `module_not_active code` and message: `Module must be active to request data.`

![Screenshot 2022-10-14 at 8 24 59 PM](https://user-images.githubusercontent.com/24408261/195877653-7e5a0e5e-100a-440a-9170-c191169d7bf2.png)

-----------

![Screenshot 2022-10-14 at 8 24 39 PM](https://user-images.githubusercont

[2022-10-14 16:11] aaemnnosttv commented on #5520
@felixarntz I adjusted the approach here after some reconsideration. This is closer to the way we proactively dismiss the settings tour from the main feature tour now, and seems a bit more efficient as the tour would be "properly" dismissed rather than "queued" but not qualifying and thus checked every time.

[2022-10-14 17:32] aaemnnosttv commented on #5933
@felixarntz I've revised the AC a bit after giving this much thought. It's slightly different than we discussed recently but should be the smallest change I think. For cases where we want to know immediately if data is available, we will have a dedicated selector to use in those situations. Otherwise the existing selector will work mostly the same as today but a bit more efficiently since it won't

[2022-10-14 18:55] aaemnnosttv commented on #6003
As a regular cron, we're limited to the intervals that are defined in `wp_get_schedules`. This is extendable and we could add our own custom schedule here but I think this is probably unnecessary. I have a few ideas about this though.

- This hasn't been called very much in the past so calling it on a regular/daily basis on every site going forward could raise quota problems as it would likely be

[2022-10-14 19:15] aaemnnosttv opened #6005 "Error boundary UI has no space between button and report link"
## Bug Description

It seems that when we updated our styles to GM2+ we lost some styling that we had in our error boundary component that looks a bit off now.

## Steps to reproduce

1. Trigger an error to view the error boundary
2. See styling issue below

## Screenshots

<img width="389" alt="image" src="https://user-images.githubusercontent.com/1621608/195922820-966a6397-dd11-47ca-a2a1-5ec235d

[2022-10-14 19:20] aaemnnosttv commented on #5605
After taking a look here, I think we can make some small changes to make for a better experience in such a scenario. Moving forward to AC 👍

[2022-10-14 20:23] aaemnnosttv opened #6006 "AdSense connect graphics are loaded regardless of CTA dismissal"
## Bug Description

The AdSense connect CTA shown at the bottom of the dashboard lazy loads the 3 graphics shown for its slides. Currently, it can be observed that these graphics are being requested by the browser even when the CTA is dismissed and shouldn't be rendered at all.

This seems to be due to a timing issue where it is briefly rendered (triggering these requests) before it is removed aga

[2022-10-14 20:27] aaemnnosttv commented on #5900
Thanks @kuasha420 – LGTM 👍

[2022-10-14 20:28] aaemnnosttv commented on #5901
Closing in favor of #5900.

[2022-10-14 20:28] #5901 closed

[2022-10-14 20:37] aaemnnosttv commented on #5889
Closing in favor of #5888.

[2022-10-14 20:37] #5889 closed

[2022-10-14 20:41] aaemnnosttv commented on #5894
@kuasha420 depending on your response to those two issues, perhaps this should happen in the issue where we implement the inline editing, that way there's no dependency. It should be fairly low effort to clean up and of course won't be used anymore after that point as well.

[2022-10-14 20:44] aaemnnosttv commented on #5895
@kuasha420 let's remove this condition about the gathering state for now and we can check with @marrrmarrr when she gets back. It would be a rather small change to make later I think but my guess is we probably won't need it.

One thing I'm not entirely clear on is which issue we're adding the new settings container/area in. Can you clarify that part?

[2022-10-14 20:48] aaemnnosttv commented on #5890
@kuasha420 right now there is a possibility that we may remove the open-text input fields for "Other" choices. See the PRD for details.

Otherwise, I believe I raised the question on another issue as well but will the questions use a shared component between the dedicated page and the settings page? They're mostly the same are they not? We should avoid duplicate/conflicting efforts between these s

[2022-10-14 21:01] aaemnnosttv commented on #5853
Thanks @jimmymadon

I don't think we need to add a particular delay to it. User's already won't see it as the main thing after connecting immediately as there would be other higher-priority banners they would see – at least the success/congrats banner.

Why not also add a CTA to the ActivationNotice? The user should have just activated the plugin so it would be a reasonable time to suggest it I th

[2022-10-17 06:08] mohitwp commented on #5912
### QA Update ❌

@jimmymadon

I noticed flicker before reminder banner appears. On load for few seconds it display zero data notification banner and then load the  GA4 reminder banner.

https://user-images.githubusercontent.com/94359491/196100337-f18c0775-44f5-4fca-8a25-368de103fe0e.mp4

**Question** > I noticed that in AC description text is -

We implemented this description text with two change

[2022-10-17 06:15] mohitwp commented on #5927
### QA Update ⚠️

@tofumatt @sashadoes

I've noticed that in case of more than two sentences also we removed full stop. See below screenshot. Is this because messages are rendering as list items and not as paragraph ?

![image](https://user-images.githubusercontent.com/94359491/196102343-eb139bc4-94fd-45e1-8491-18a7bae6a90c.png)

[2022-10-17 07:04] mohitwp commented on #5928
### QA Update ✅

- Verified on develop.
- Now error is showing and user is not getting stuck in a loading mode.
- When user is online and no error occur then Set up now action shows the appropriate setup banner after the "progress bar loader".
- To check scenario for multiple errors - I used code provided by Nahid [here](https://github.com/google/site-kit-wp/issues/5928#issuecomment-1278821860).
-

[2022-10-17 07:13] mohitwp commented on #5756
### QA Update ✅

- Verified on dev.
- Verified In the TwG settings wall view the new block with an info text appear according to AC.
- When Supporter wall widget is added than info is not appearing under settings.

<details>

![image](https://user-images.githubusercontent.com/94359491/196111907-268dec21-7042-4450-a4f1-41531a3e1611.png)

![image](https://user-images.githubusercontent.com/94359491/1

[2022-10-17 07:25] mohitwp commented on #5730
### QA Update ✅

- Verified on dev.
- Verified by following steps mentioned under QAB.
- Nonce error showing as per AC.
- On clicking 'get help' link user navigates to https://sitekit.withgoogle.com/documentation/troubleshooting/setup/#link-expired
- On clicking 'Please try again' link user gets navigates back to dashboard.

<details>

https://user-images.githubusercontent.com/94359491/196114235-e

[2022-10-17 07:34] wpdarren commented on #5922
I'll pick this up and have a re-look at the issue @asvinb

[2022-10-17 07:45] wpdarren commented on #5922
@asvinb I am unable to recreate this issue.

Tried it on a few different resolutions and the tooltip loads as expected. I will close this ticket.

[2022-10-17 07:45] #5922 closed

[2022-10-17 08:08] wpdarren commented on #5927
@mohitwp we  do not include a full stop when there is only one sentence.  The full stop should only appear when there are more than one sentence in the paragraph.  This used to confuse me too, but we are adhering to the [writing principles](https://material.io/design/communication/writing.html#principles) on material design.

[2022-10-17 09:26] eclarke1 commented on #4487
@adamdunnage just a reminder on this one please, would you mind taking a look

[2022-10-17 09:47] adamdunnage commented on #4487
@eclarke1 @FlicHollis @jamesozzie @aaemnnosttv Apologies for missing this one! I have followed the steps to reproduce once more and can no longer recreate this. This flow looks to now be working as expected so happy to close this one off.

[2022-10-17 09:57] #4487 closed

[2022-10-17 10:41] jamesozzie opened #6009 "Blank screen - Cloudflare Cookie app"
## Bug Description

[One user in the forums](https://wordpress.org/support/topic/site-kit-is-blank/) is encountering a blank screen. This is after various troubleshooting, including with only SK active, from an incognito session and after resetting. The site is pointing to Cloudflare servers and we've performed various local and environment related troubleshooting checks without success.

![image]

[2022-10-17 11:04] wpdarren commented on #5642
### QA Update: ✅

**Verified:**

- Checked the "Details" link in the footer section of any module in the settings and the link contains the account email.
- Set up every module and made sure that the full details link included the URL AND redirected me to the correct page for each module with my connected Google account.

https://user-images.githubusercontent.com/73545194/196161578-f50caf48-424a-4

[2022-10-17 12:24] techanvil commented on #5888
Hi @kuasha420, I have a couple of comments on the IB.

Looking at the questions as they now stand in Figma:

1. What is the main purpose of this site?
2. How often do you create new content for this site?
3. What are your top goals for this site?

This does not correlate well with the suggested reuse of the constants:

1. `USER_INPUT_QUESTION_GOALS`
2. `USER_INPUT_ANSWERS_POST_FREQUENCY`
3. `USER_

[2022-10-17 12:37] tofumatt commented on #5927
Yes, that is correct here. These are separate list items in separate sentences; we don't want full-stops here. The QA Brief mentions this, but I've clarified it a bit. 👍🏻

[2022-10-17 12:54] mohitwp commented on #5927
### QA Update ✅

Thank you @wpdarren @tofumatt

Verified on dev.
Full stop/dot  not appearing at the end of any messages in the footer, even when more than one message appears.
The footer messages rendering as list items not paragraphs in HTML.

![image](https://user-images.githubusercontent.com/94359491/196102343-eb139bc4-94fd-45e1-8491-18a7bae6a90c.png)

[2022-10-17 12:57] techanvil commented on #6005
Hi @nfmohit, the IB is looking good. One suggestion:

Rather than adding more functionality to `ErrorComponent` while the existing behaviour is unused, how about allowing the existing behaviour of clicking the button to trigger the error to be used in the story, and using [`clickSelector`](https://github.com/google/site-kit-wp/blob/48952f8f09ed585bb3b6b1cf3fd4fd7f88b4fafc/tests/backstop/engine_scr

[2022-10-17 13:50] tofumatt commented on #4863
IB ✅

[2022-10-17 13:59] nfmohit commented on #5345
@aaemnnosttv Just an update that [I worked a bit](https://github.com/c2corg/browserslist-update-action/pull/392) with the author of the GH action over the weekend to get the fix for the base branch on v1, with a patch release. The action works now and I think we're ready to test it. Assigning it to you for CR.

[2022-10-17 14:13] nfmohit commented on #6005
Good point, @techanvil! Thank you for the feedback. I have updated the IB.

[2022-10-17 14:24] tofumatt commented on #5776
Looks good to me 👍🏻

IB ✅

[2022-10-17 14:26] techanvil commented on #6005
Thanks @nfmohit!

IB :white_check_mark:

[2022-10-17 15:24] JonathanCrossland commented on #6
Is this done yet? I have same issues and trying to resolve.
Not everyone is a developer/ or knowledgeable of how to connect accounts etc -
Either the users declared in google analytics should just have access - or wordpress users/permissions.

[2022-10-17 15:28] billzyfem commented on #6
We've been waiting for 3 years (literally).  This is never going to be resolved :(

[2022-10-17 15:30] nesoor commented on #6
Nope and as you can see this post is from 2019 so don't expect much from the Google Development team.
The plugin will probably end up in their graveyard of projects.

[2022-10-17 16:56] felixarntz opened #6012 "Implement TwG custom GA events for publication setup"
GA events for the first part of the TwG setup (prior to customization) should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

For all of the following GA events, the event category should be `{viewContext}_thank-with-google`.
* Based on the TwG "publication state" received (i.e. based on

[2022-10-17 16:56] felixarntz opened #6013 "Implement TwG custom GA events for customization"
GA events for the second part of the TwG setup (customization) and similar settings interactions should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

For all of the following GA events, the event category should be `{viewContext}_thank-with-google`.
* When changing the TwG button/CTA ty

[2022-10-17 16:56] felixarntz opened #6014 "Implement TwG custom GA events for supporter wall banner notification"
GA events for the TwG supporter wall reminder banner notification should be implemented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

For all of the following GA events, the event category should be `{viewContext}_thank-with-google-supporter-wall-notification`.
* When the user sees the TwG supporter w

[2022-10-17 17:40] sashadoes commented on #5934
Hi @EvanHerman and @tofumatt.
After some time spent on this, I came up with 2 possible ways to fix it. I would like to ask you for a review and advice as it seems to be more complex than just tweaking styles. The approaches are down below:

1. Change the `BannerNotification` layout: create a new block (eg `Header`) where place `WinImageSVG`https://github.com/google/site-kit-wp/blob/develop/assets/

[2022-10-17 18:12] aaemnnosttv commented on #5345
Thanks @nfmohit !

[2022-10-17 18:14] aaemnnosttv commented on #4767
IB ✅

[2022-10-17 18:17] aaemnnosttv commented on #4744
@asvinb we are addressing the height shift in the PSI widget in #4878 which should address this before 5776 (although they are related).

If PSI is purely responsible here, then we can probably close this as a duplicate.

[2022-10-17 18:53] tofumatt commented on #5934
The `0px` height trick strikes me as a _bit_ of a CSS hack; I'd prefer us avoid them whenever possible. 🙂

In this case, using different markup for mobile/non-mobile viewports is fine with me if it's just imagery and not actual content, which it seems to be here.

So I think I'm more a fan of number 2 👍🏻

In terms of refactoring the component into smaller chunks—fair point, but we should probably

[2022-10-17 21:20] aaemnnosttv opened #6015 "Enhance efficiency of remote feature requests"
## Feature Description

Currently enabled feature flags are requested from the SK service as part of the filtering of active features but only if none are saved yet. This has the potential to request features more than it should if the request fails, or if the result isn't able to be stored. Once saved, they are only refreshed twice a day using a WP cron. Also, if WP cron is disabled, the features

[2022-10-17 22:42] tofumatt commented on #6012
IB ✅

[2022-10-17 22:59] tofumatt commented on #6014
IB ✅

[2022-10-18 06:13] kuasha420 commented on #5891
@aaemnnosttv Instead of bloating #5890, how about adding this one with #5893 ?

[2022-10-18 06:47] kuasha420 commented on #5890
@aaemnnosttv sounds good to me. I have combined #5892 with this one. For the other field, where can I follow the discussion?

[2022-10-18 06:48] kuasha420 commented on #5892
@aaemnnosttv Can you close this one in favor of #5890 ?

[2022-10-18 06:58] kuasha420 commented on #5891
@aaemnnosttv I have updated this issue to address Inline Edit interface here. We can further tweak this one and close #5893 . What do you think?

[2022-10-18 07:02] kuasha420 commented on #5893
Hi @aaemnnosttv, I have combined this one with #5891. If it makes sense, can you close this one? Cheers.

[2022-10-18 07:59] mohitwp commented on #5724
###QA Update ✅

- Verified on dev.
- Verified for new site as well as for old site.
- On older site full name not display as per QAB but it display when user reset plugin or connect any module.
- No errors showing on the dev branch.
- The tooltip text for the user menu should be updated to:

<details>

Older site :

![image](https://user-images.githubusercontent.com/94359491/196371193-c783d572-ba1

[2022-10-18 08:52] asvinb commented on #5934
+1 for the second option @sashadoes

[2022-10-18 08:54] asvinb commented on #4744
@aaemnnosttv I'am pretty sure it's PSI widget the culprit here. I would suggest we keep the ticket open until https://github.com/google/site-kit-wp/issues/4878 is merged, just to make sure.

[2022-10-18 09:48] eugene-manuilov commented on #5898
@hussain-t this is not needed because the parent class `User_Setting` already implements `get` and `set` methods that do everything what we need. We just need to remove these methods and update the user input settings usage to use `get` and `set` methods instead of `get_settings` and `set_settings`.

The `are_settings_empty` method should be update to be the `has` method. The usage of the `are_set

[2022-10-18 09:56] techanvil commented on #5886
IB :white_check_mark:

@nfmohit I made a minor adjustment and fixed a typo which you can see in the edit history, I didn't think these merited the round trip!

[2022-10-18 09:57] techanvil commented on #4879
@aaemnnosttv I am unable to reproduce this one, looks like it's been fixed...

[2022-10-18 10:41] wpdarren commented on #5871
### QA Update: ✅

**Verified:**

- Set up a  multisite, and network-activate Site Kit.
  - Set up Site Kit on 3 sites within that multisite network and fully configured each one.
  - Set up all modules within settings and the usual CTAs.
  - Changed the settings for the different modules.
  - Deleted modules within settings.
  - Browsed around the main and entity dashboard.
  - Went the UI by chan

[2022-10-18 13:21] techanvil opened #6019 "Use of WordPress 5.9.0 function in Thank with Google module causing error for older WordPress versions."
## Bug Description

In the Thank with Google PHP module code, we are [using](https://github.com/google/site-kit-wp/blob/48952f8f09ed585bb3b6b1cf3fd4fd7f88b4fafc/includes/Modules/Thank_With_Google.php#L324) the [`wp_get_sidebar`](https://developer.wordpress.org/reference/functions/wp_get_sidebar/) function which was introduced in WordPress 5.9.0.

This is causing the site to be non-functional for p

[2022-10-18 16:00] jamesozzie commented on #6009
I've created a similar environment to the user, with the same plugins installed with default settings. I used default settings for all, while also including a Google Drive connection with Updraft plus. In my case I've so far been unable to recreate. [Internal testing](https://app.asana.com/0/1185360131189553/1203193452246785/f).

[2022-10-18 17:25] eugene-manuilov commented on #5868
Hm... this is weird... I was able to reproduce the issue on the `https://türkish.com/wp-admin` site. Then I asked @jamesozzie to move the site to another hosting where I can log in via ssh to troubleshoot the problem. Once the site has been migrated to the new hosting, I can't reproduce the issue anymore.

@jimmymadon do you remember which version of the plugin was on the previous hosting? I insta

[2022-10-18 17:36] jamesozzie opened #6021 "gvjs_cq.call is not a function - Google Chart Library conflict"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/site-kit-encountered-an-error-88/#post-16109751) reported encountering the below dashboard error, with Site Kit having worked as expected previously:
`gvjs_cq.call is not a function
`

![image](https://user-images.githubusercontent.com/41326532/196501927-8b8965c8-3770-457b-a4be-b89670810fbd.png)

Based on the

[2022-10-18 18:08] hussain-t opened #6023 "Trigger the custom GA `view_notification` event only when the banner notifications are visible"
## Bug Description

Currently, some banner notifications trigger the custom GA `view_notification` event using the `useMount` hook. However, the `view_notification` event will be triggered even if the banner notification is not displayed due to the respective component returning `null` if the data is unavailable.

The above event should be triggered if the respective banner notification is display

[2022-10-18 19:41] eugene-manuilov commented on #5868
Thanks, @jimmymadon. I meant the plugin version. Was it the latest version installed from wp.org?

[2022-10-18 20:16] jimmymadon commented on #5868
@eugene-manuilov That should have been 1.83.0 when I created the issue. I'm 95% sure that I used the "Site Info" from this live test site when writing the 'Additional Context' section of this bug. (I myself could not replicate it on my local so the `Additional Context` would all be for the live site we found this issue on).

[2022-10-18 21:46] aaemnnosttv opened #6024 "E2E broken for user input in WP 4.x"
## Bug Description

E2E jobs for WP 4.x started failing with the addition of the WP minimum version banner notice due to the user input tests expecting a user input banner notification instead.

Seeing as the minimum is about to be raised (and these jobs removed) and user input won't be release before then, these are safe to disable.

## Steps to reproduce

1. Review GHA logs for E2E jobs for WP 4

[2022-10-18 22:18] felixarntz commented on #6024
@aaemnnosttv Reviewed the PR, mostly LGTM but left one comment.

[2022-10-18 23:31] wpdarren commented on #6019
### QA Update: ✅

**Verified:**

- Was able to replicate the issue with an older version of WP prior to 5.9.
- When switched to develop branch the error no longer appears when connecting TwG.
- Switched back to the latest version of WP and ensured that I could still connect TwG with no errors.

https://user-images.githubusercontent.com/73545194/196563760-c8dbdaaa-be2e-4868-ad50-88a5ca9291b0.mp4

[2022-10-19 00:27] wpdarren commented on #5921
### QA Update: ✅

**Verified:**

- The tooltip disappears once the property is selected in the dropdown, even if it is auto-selected.
- The issue reported is fixed. When I edit the GA settings, the feature tour no longer appears.

https://user-images.githubusercontent.com/73545194/196569340-06e9e2d3-186b-4f12-b1bb-f7729f96bd2a.mp4

[2022-10-19 02:50] wpdarren commented on #6014
### QA Update: ⚠️

@hussain-t I'd like to run an observation by you.

When you set up TwG, the transient timestamp is `1666146812` which is 7 days from the setup. I change the time on my computer to after 7 days (also tried 8 days) in the future and I expect the banner to appear informing me to add a supporter wall widget.  Nothing does appear though. I've also changed the timestamp in the Db and

[2022-10-19 05:29] hussain-t commented on #6014
@wpdarren, parts of the QAB to display the banner were copied over from #5538 and modified. Sorry, it was a bit confusing. You will have to change the value of `_transient_timeout_googlesitekit_thank_with_google_setup` to the current timestamp (by default, it will be seven days from the TwG setup). We shouldn't change the value of `_transient_googlesitekit_thank_with_google_setup`. I have updated

[2022-10-19 06:11] mohitwp commented on #4161
### QA Update ⚠️

@wpdarren I tested all functionalities and changes as per QAB and AC except Idea Hub feature tour. I'm not able to generate Idea hub feature tour using both oi.ie and elasticpress.io site may be due to permission denied error I'm getting. Can you please verify Idea hub feature tour at your end.

![image](https://user-images.githubusercontent.com/94359491/196610743-7cc0cd96-cb35-4

[2022-10-19 06:13] mohitwp commented on #5494
@wpdarren @makiost I tried to generate error using Tweak but unable to generate. @wpdarren Can you please check if it works at your end ?

[2022-10-19 07:02] nfmohit opened #6026 "Update Node.js version"
## Feature Description

We are currently running on a roughly older LTS of Node (`14`) and we should explore updating to the newer LTS (`16.18.0`) to benefit from the performance improvements and npm v7.

This came up while working on #5345 where https://github.com/browserslist/update-db isn't compatible with npm versions < 7.

---------------

_Do not alter or remove anything below. The following

[2022-10-19 08:17] wpdarren commented on #4161
### QA Update:  ✅

@mohitwp the feature tour for Idea hub works as expected.  Screencast / Screenshot below.   I've assigned back to you in case you wanted to do any final checks before approving.

- The idea hub feature tour appears within the Site Kit Dashboard and also on the pages screen.

<details>
 <summary>Details</summary>

https://user-images.githubusercontent.com/73545194/196634900-2c2f5

[2022-10-19 08:32] techanvil commented on #4879
Closing as not reproducible.

[2022-10-19 08:32] #4879 closed

[2022-10-19 08:33] wpdarren commented on #5494
@mohitwp no, I was unable to trigger the error either with Tweak chrome extension.

Please could you have a chat with @makiost and get some steps on how to run and test this?

[2022-10-19 09:03] mohitwp commented on #5912
### QA Update ✅

 Verified on dev.
 Verified reminder banner for Admin 2 having access .
Verified reminder banner for Admin 2 who don't have access.
Verified reminder banner for different dates.
Verified reminder banner title and description as per AC.
Issue mentioned [here](https://github.com/google/site-kit-wp/issues/5912#issuecomment-1280335759) are now resolved.
Verified [Storybook](https://go

[2022-10-19 09:12] mohitwp commented on #4161
### QA Update

Thank you @wpdarren

- Verified on dev.
- Verified site kit setup, widget data, disconnect and reset site kit functionality.
- Verified main and entity dashboard.
- Verified Chip navigation tour,  Widget navigation tour, dashboard sharing tour and Idea hub tour.
- Verified file name and JS name changes as per AC.
- Verified GA events category name changes as per AC.

<details>

![im

[2022-10-19 09:14] mohitwp commented on #5494
@makiost me and @wpdarren are not able to recreate the error using tweak chrome extension. Can you please provide steps how to test this ?

[2022-10-19 09:55] jimmymadon commented on #5853
@aaemnnosttv Thanks for clarifying some of those questions.

Did you mean to add a `Primary CTA` button to `SetupSuccessBannerNotification` (instead of the `Got it!`) dismiss button? If so, we will have to change the script of this banner notification. Also, we will have to remove the `Got it!` dismiss button to `Maybe Later` and clicking on it would mean not showing the new Auto-update Banner Not

[2022-10-19 09:58] jamesozzie commented on #6021
During testing today I'm [encountering this error inconsistently](https://recordit.co/XnXasjt0x6) without making plugin changes. I might refresh the page and it doesn't appear. When I clear my session storage it appears once more. Testing ongoing.

[2022-10-19 10:07] eugene-manuilov commented on #5868
@wpdarren can you reproduce this issue on a different domain? The `turkish.com` one doesn't work at the moment and I can't troubleshoot the problem.

[2022-10-19 10:23] wpdarren commented on #6013
### QA Update:  ⚠️

@nfmohit. An observation: If you use all or any of the defaults when setting up TwG, none of the GA events are tracked.  They only get tracked when you click on the particular individual settings.  Is this expected? I suspect not.

**Verified:**

The context was `moduleSetup_thank-with-google`

- When changing the TwG button/CTA type, a custom GA event is sent:
  - Event name:

[2022-10-19 10:33] jamesozzie commented on #6021
I've [narrowed this down](https://recordit.co/eCMHb4OE1L) to a possible conflict with the Like dislike counter plugin. This occurs with only Site Kit and this plugin active, and I'm unable recreate this without it active. Further testing ongoing.

[2022-10-19 10:49] wpdarren commented on #6014
### QA Update: ✅

@hussain-t thanks for updating the QAB.

**Verified:**

- When Site Kit and TwG is initially set up the` view_notification` GA event isn't triggered for the `mainDashboard_thank-with-google-supporter-wall-notification` category.
- Change the transient to the current timestamp and on refresh the Site Kit dashboard and ensure the `view_notification` event is triggered when the bann

[2022-10-19 11:41] jimmymadon commented on #5436
@aaemnnosttv I checked this on my personal Galaxy S21 Ultra too (which has the same screen width as the S22 Ultra). Everything looks good as per the below screenshots. The logo does overflow on smaller screens when testing on the browser.

<details>
 <summary>Screenshots</summary>

![Screenshot_20221019-121601_Chrome](https://user-images.githubusercontent.com/1721319/196679123-d18ed96a-f7b5-4318-a

[2022-10-19 11:43] eugene-manuilov commented on #5868
Ok, @jamesozzie restored the `turkish.com` site and I can reproduce the issue again.

[2022-10-19 12:04] tofumatt commented on #6013
From the ACs here, these should only fire on change, presumably because otherwise it would be the defaults for every user. I assume the intent of the events here is to capture when a user changes to non-default settings (and/or when they change back to the defaults from a non-default setting).

So this is working as intended I think, but worth being checked by @felixarntz or @aaemnnosttv during ap

[2022-10-19 12:36] wpdarren commented on #6012
### QA Update:  ✅

**Verified:**

When the user clicks the button to create a new publication, a GA event with name `create_publication` is sent.
When the user clicks the button to complete publication setup, a GA event with name `complete_publication_setup` is sent.
When the user clicks the button to review their publication status, a GA event with name `review_publication_state` is sent
When the

[2022-10-19 13:06] asvinb commented on #5934
@sashadoes Thanks for the IB and I suggest we make the following tweaks to it:
* Let's avoid putting code in the IB as it can prompt the engineer working on the code to just copy and paste, and the IB reviewer will tend to CR the code at the IB stage. For e.g we are trying to avoid nesting CSS selectors within media queries.
* About the comment to implement option 2, instead having the engineer to

[2022-10-19 13:09] eugene-manuilov commented on #5898
Thanks, @hussain-t. IB ✔️

[2022-10-19 13:44] wpdarren opened #6027 "Add GA Event tracking for Add and Edit Supporter Wall links in TwG settings"
## Bug Description

While going through the GA event tickets for Thank with Google, I noticed that we were not tracking when a user clicks on the `Add supporter wall` and `Edit supporter wall widget` links within TwG settings.  All of the other settings have an event, but these links don't.  We are also tracking the link when a user clicks on the CTA button to add a widget on the Supporter Wall no

[2022-10-19 13:57] makiost commented on #5494
Hi @mohitwp  @wpdarren!

When using tweak, make sure that the play button is clicked, and that the interception is toggled on. I've attached a screenshot containing my setup used to force the routes to fail. I'll also update the QA brief with some more pointers and a more reliable route right away.

<img width="803" alt="Screenshot 2022-10-19 at 15 54 37" src="https://user-images.githubusercontent

[2022-10-19 14:09] tofumatt commented on #6023
ACs here are largely good, but I wanted to call out which components were actually affected. I'll move this to IB, and I can work on that myself 👍🏻

[2022-10-19 15:29] mohitwp commented on #5494
### QA Update ✅

- Verified on dev.
- Trigger multiple errors using tweak.
- Getting "retry button' for the errors which can be retriable.
- Not showing "retry button" for the errors which are not retriable.
- On clicking "Retry Button" correct data is getting load.

https://user-images.githubusercontent.com/94359491/196734938-4719b54d-c21c-45fe-a650-f2d0b1e1d184.mp4

[2022-10-19 15:54] jamesozzie commented on #6009
The impacted user has provided a recording of what they see in header responses on the Site Kit dashboard. This is contained within the [latest Site Health information report](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNjng_Z_ITBTkRMhKXVh7w4L5VbNY4n8qwy-09Wg4-t7xViQcKBWwjmcbZmaL1e8MV4).

Some screenshots from the recording below:

![image](https

[2022-10-19 21:35] sashadoes commented on #5934
Thanks, @asvinb for your feedback. I have updated the IB.

[2022-10-20 05:50] nfmohit commented on #5900
Hi @kuasha420! 👋

Quick question regarding the ACs here. I’m working on the IB and it strikes me, do we really need a method to check the completion state of user input?

I ask this because since we no longer need to redirect the user to the user input page based on the completion state (we will only redirect once after authorisation, if user input settings are not set, which can be checked using

[2022-10-20 06:58] nfmohit opened #6028 "Reduce code complexity in `DataBlock`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the method](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/components/DataBlock.js#L60-L219) in question.

While the error is currently i

[2022-10-20 07:06] nfmohit opened #6029 "Reduce code complexity in `GoogleChart`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the component](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/components/GoogleChart.js#L53-L315) in question.

While the error is curren

[2022-10-20 07:10] nfmohit opened #6030 "Reduce code complexity in `BannerNotification`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the component](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/components/notifications/BannerNotification/index.js#L68-L534) in question.

[2022-10-20 07:17] nfmohit opened #6031 "Reduce code complexity in Adsense `SettingsView`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the component](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/modules/adsense/components/settings/SettingsView.js#L59-L304) in question.

[2022-10-20 07:20] asvinb commented on #5934
Thanks @sashadoes . A few more tweaks:

1. Can you update the "Test Coverage" section to remove unit tests and instead add scenarios within the VRT suite?
2. Let's make sure that if there's no `WinImageSVG` provided, the wrapper containing the title and the badge should expand to be 100% wide.
3. Can you let me know about the height of the SVG? As per my previous comment, the height is 105px, but

[2022-10-20 07:20] nfmohit opened #6032 "Reduce code complexity in Adsense `SetupMain`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the component](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/modules/adsense/components/setup/SetupMain.js#L68-L497) in question.

While

[2022-10-20 07:27] nfmohit opened #6033 "Reduce code complexity in Analytics `SettingsView`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the component](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/modules/analytics/components/settings/SettingsView.js#L44-L359) in question

[2022-10-20 07:32] nfmohit opened #6034 "Reduce code complexity in `SearchFunnelWidget` `Overview`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the arrow function](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/modules/search-console/components/dashboard/SearchFunnelWidget/Overvie

[2022-10-20 07:33] nfmohit opened #6035 "Reduce code complexity in `SearchFunnelWidget`"
## Feature Description

This is a follow-up of #4895, which introduces the [`complexity`](https://eslint.org/docs/latest/rules/complexity) rule in ESLint. This resulted in the following lint error:

[code]

[This is the arrow function](https://github.com/google/site-kit-wp/blob/045955b1cd40ed0b42b67be0dc5635ee8bef2490/assets/js/modules/search-console/components/dashboard/SearchFunnelWidget/index.j

[2022-10-20 09:39] jamesozzie commented on #5852
Thank you @BxtGeek. If you'd like to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) we can look into your case individually. Appreciate you letting us know this is also impacting you. We can add your own details to this issue if you do open an individual support topic.

I'm also escalating this with further reports of this error above, and also with the impa

[2022-10-20 09:49] kuasha420 commented on #5900
Hi @nfmohit !

While brainstorming, my thought was that we will store the answers in separate Options field, that this function would return true if all the options are set ie. all questions answered. Which will be used in Key Metrics CTA in Dashboard and settings to determine whether the user has completed User Input questions. If we can easily determine that without this method, we can safely sk

[2022-10-20 12:19] techanvil commented on #5875
IB :white_check_mark:

[2022-10-20 13:06] jamesozzie opened #6036 "Subdomain sites not getting added to AdSense platform when connected via Site Kit"
## Bug Description

If a user connects a subdomain site to their AdSense account using Site Kit, this subdomain site never gets listed within the "Sites" tab on the AdSense platform.

https://recordit.co/yHS9Jiyxhp

This was tested on 2 different subdomain sites (using 2 different parent domains, which are already approved for ads).

## Steps to reproduce

1. Set up Site Kit on a subdomain site. T

[2022-10-20 13:17] kuasha420 commented on #5895
@aaemnnosttv There was a discussion about it in [Figma](https://www.figma.com/file/CdtrHB0HAjfGRWTnTMMQI0?node-id=1980:63901#275833985). Feel free to have a look there. If we can skip that requirement for now, I have no issues with it. Cheers.

[2022-10-20 14:07] techanvil commented on #631
IB :white_check_mark:

[2022-10-20 14:53] asvinb opened #6037 "Review accessibility on module settings page."
## Feature Description

When trying to navigate through the "Settings" page via the keyboard, it's impossible for the user to know what is the focused element due to the lack of visual indicators. This applies for both the tabs and the "accordion".

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Im

[2022-10-20 15:14] techanvil commented on #5786
Have checked that workflows run successfully having merged this to `develop`.

![image](https://user-images.githubusercontent.com/18395600/196987722-ffd023ae-c6eb-4686-b732-db5001e7f737.png)

Also drilled into them to verify they fully ran e.g.

![image](https://user-images.githubusercontent.com/18395600/196988351-1061c107-c7ba-4ca7-8625-01a91100acb9.png)

![image](https://user-images.githubuserco

[2022-10-20 15:16] felixarntz commented on #5494
## Approval ❌

@makiost @techanvil @tofumatt @mohitwp There are a few problems here:
* Most importantly, the QA Brief is not accurate, meaning that the above QA also does not actually cover the ACs defined here. It needs to be clarified that this affects module setup and editing module settings, not the SK dashboard. Hence, the request that needs to be intercepted cannot be a report request either

[2022-10-20 15:27] #5912 closed

[2022-10-20 15:36] aaemnnosttv commented on #5724
## ⚠️ Approval

On review, the tooltip looks off with an empty space where the full name would be. In this case, there are 3 consecutive line breaks where the last one should only be there if there is a full name.

This should be very quick to correct with a follow up PR.

[2022-10-20 16:05] #5927 closed

[2022-10-20 16:06] #6012 closed

[2022-10-20 16:09] #6013 closed

[2022-10-20 16:09] #6014 closed

[2022-10-20 16:14] #5730 closed

[2022-10-20 16:14] #5785 closed

[2022-10-20 16:16] #4926 closed

[2022-10-20 16:17] felixarntz opened #6038 "Follow up replacements to consistently use "main dashboard" and "entity dashboard" terminology"
Follow-up to #4161: During approval of that issue, a few follow-up occurrences of the old terms were found in the codebase that should also be updated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* CSS classes using `googlesitekit-dashboard-single-url` should have that part replaced with `googlesitek

[2022-10-20 16:19] felixarntz commented on #4161
## Approval ✅

@asvinb @jimmymadon @tofumatt I found a few minor other remainders of old terms, but since those were not part of the ACs, let's handle them in a new issue #6038.

[2022-10-20 16:19] #4161 closed

[2022-10-20 16:22] #5924 closed

[2022-10-20 16:23] #5963 closed

[2022-10-20 16:25] #5945 closed

[2022-10-20 17:09] techanvil opened #6040 "GA4 Activation Banner: Error message is momentarily displayed when creating a new property"
## Bug Description

When creating a new property from the GA4 Activation Banner, in the case where the edit scope needs to be requested via Google OAuth, upon returning from the OAuth flow and creating the property an error message is briefly shown.

The error message is "Error: Requested entity already exists".

Looking at the network devtools, it appears the `create-webdatastream` endpoint is be

[2022-10-20 17:30] techanvil commented on #5996
## QA :x:

:white_check_mark: Smoke tested.
:x: Verified the changes I've been involved with.
:x: Performed some ad-hoc testing.

Beyond the issues already raised for #5494 and #5724, I've spotted a bug in the GA4 Activation Banner where, when returning from the OAuth flow to then create a new property, an error message is momentarily displayed.

It's not clear which issue caused this (there is on

[2022-10-20 17:38] aaemnnosttv commented on #5912
@felixarntz I noticed that the request may be made to check access even when the current user is the module owner because the module owner ID isn't available right away which causes the selector to be invoked. See https://github.com/google/site-kit-wp/pull/5994/files#diff-51079bbb133e20fa794c0e1fd5fd30b551dda818e0cfe0ba4162502670cf133aR1248-R1250

We should fix this but not sure if it needs to blo

[2022-10-20 17:42] aaemnnosttv commented on #5928
## ⚠️ Approval

This mostly looks good but the request to check module access does not show as an error if it were to fail. See also https://github.com/google/site-kit-wp/issues/5912#issuecomment-1285918176

[2022-10-20 17:43] #5756 closed

[2022-10-20 17:44] #5642 closed

[2022-10-20 17:47] #5921 closed

[2022-10-20 18:20] aaemnnosttv commented on #5882
## ⚠️ Approval

The implementation here only considers when the property select is set to create a new property, but we must also consider the web data stream (which is where the related measurement ID comes from). If a user were to select a GA4 property that does not have a corresponding data stream for the current site's URL, this will be created which also requires the edit scope.

![image](htt

[2022-10-20 18:23] aaemnnosttv commented on #5928
On further consideration, this still meets the AC because the check-access request is not used to determine the variant shown, and instead is more of a detail/sub-variant of the reminder banner.

[2022-10-20 18:23] #5928 closed

[2022-10-20 18:40] aaemnnosttv commented on #5724
All good now 👍

<details>
<summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/1621608/197031032-d305fbf5-6159-4f89-a8b5-c4b19e842633.png)
![image](https://user-images.githubusercontent.com/1621608/197031037-bfc482e9-e7bd-4156-9624-9a5e74d06cfc.png)

</details>

[2022-10-20 18:40] #5724 closed

[2022-10-20 18:53] aaemnnosttv opened #6041 "GA4 Activation Banner progress bar shows on page load after dismissing"
## Bug Description

When the GA4 activation banner is dismissed, choosing "Remind me later", its progress bar still shows temporarily on the dashboard on subsequent page loads.

## Steps to reproduce

1. See the GA4 activation banner
2. Dismiss it, choosing "Remind me later"
3. Reload the page
4. See progress bar temporarily

## Screenshots

https://user-images.githubusercontent.com/1621608/197032

[2022-10-20 18:58] jamesozzie commented on #5852
[Tested this on a Taste WP site](https://recordit.co/FeQ24zUiRf) using PHP 8.1. I can't replicate the same error. This site is a subdomain site although the parent domain is not added in my AdSense account.

Also tested this on a personal site whereby the parent domain is approved for ads. I can't replicate the same error in this case also, with PHP 8.1.1. ([recording](http://recordit.co/yHS9Jiyxh

[2022-10-20 20:27] eugene-manuilov commented on #5868
@aaemnnosttv could you please review IB? The reason why the user is redirected to the wp dashboard page is that the redirect URL is a) harmed by the `FILTER_SANITIZE_URL` filter (it returns `https://trkish.com/...` instead of `https://türkish.com/...`) and b) the `wp_safe_redirect` function uses `wp_validate_redirect` that also strips some unicode symbols from the domain name.

[2022-10-20 20:41] felixarntz commented on #6041
@aaemnnosttv Does this only happen after dismissal, or even for sites where the GA4 activation banner should not be shown (e.g. because they already have GA4)? If the latter, fixing this becomes of course more urgent.

In general, if the fix here is simple, I wonder if we can squeeze it into this release still.

[2022-10-20 20:43] felixarntz opened #6042 "Implement custom GA events for GA4 activation banner"
Several new custom GA tracking events should be implemented to capture user interactions with the GA4 activation banner.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* In the first part of the GA4 activation banner (i.e. "reminder banner"):
    * Trigger GA event `view_notification` when the banner no

[2022-10-20 20:57] aaemnnosttv commented on #6041
It only happens after dismissing because the progress bar is shown as part of the reminder banner. Working on a fix now, hopefully not too much 👍

[2022-10-21 09:58] wpdarren commented on #5996
### QA update: ✅

- Went through the QA Checklist and tested on a site with zero, gathering and live data.

Didn't include Dashboard Sharing, TwG or GA4 activation banner in my testing because we are running through these epics separately as part our final end to end testing.

[2022-10-21 10:32] jamesozzie commented on #5852
More details on this added to the main content of this issue. One user is encountering this on one subdomain site but not the other.

[SH info from site impacted](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNhLVRalzDKjnv12yfJ5XK2vAvhGWzDATWilQT1Kapk-Q1z8RKYjzpbHZgtVeQSkPcs)
[SH info from site not impacted](https://docs.google.com/forms/d/1lhjns2K

[2022-10-21 10:59] asvinb commented on #5934
@sashadoes IB looks good. However can you let me know about the following?

[2022-10-21 11:41] mohitwp commented on #6040
### QA Update ✅

- Verified on main.
- Verified when creating new property.
- Verified when setting up new property.
- Verified when user don't have  edit scope access.
- Verified when user have edit scope access.
- Verified create-property and create-webdatastream requests are made only once during the setup.

<details>

https://user-images.githubusercontent.com/94359491/197187822-58fac3ae-3aa8-4

[2022-10-21 14:25] wpdarren opened #6045 "Tooltip not appearing on GA4 property within Analytics settings when only UA property connected"
## Bug Description

With `ga4ActivationBanner` feature flag enabled.

When you click on the Connect Google Analytics 4 button, the tooltip appears for a second and then disappears.

See screencast below.

https://user-images.githubusercontent.com/73545194/197425648-8a4e399e-94d4-4259-9fa7-64fe8f347089.mp4

We also noticed that when you click on the Edit link in Analytics settings the tooltip does

[2022-10-21 17:10] aaemnnosttv opened #6048 "Release 1.87.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2022-10-21 17:15] aaemnnosttv opened #6049 "Render one-off tooltips in a Portal"
## Feature Description

There are a few situations where we render a single one-off tooltip, similar to those we use in Feature Tours. While these use Joyride internally, it might be expected that these are rendered in a Portal rather than where they are rendered in the App, but that's not the case.

We should update our JoyrideTooltip to always render in a portal to avoid unexpected consequences.

[2022-10-21 17:43] aaemnnosttv commented on #6045
It wasn't designed to do this. The Tooltip is only set to show when the user clicks the "Connect" CTA on the module header.

The behavior we're seeing here is a result of the changes in https://github.com/google/site-kit-wp/issues/5921 which is causing the tooltip to be hidden as soon as the property ID is set.  This happens automatically when there is a matching property found as is shown in your

[2022-10-21 18:31] aaemnnosttv commented on #5853
Ah no, I meant as part of `ActivationApp` which shows on the plugins page after activating.

[2022-10-21 18:33] #5893 closed

[2022-10-21 18:35] aaemnnosttv commented on #5890
See [this thread](https://docs.google.com/document/d/1_5cgxgvEBDaWm6JMrAHyrdYrcbumgyDsa9D22dbR1i8/edit?resourcekey=0-U03ar1L8esS1j052p5ne-Q&disco=AAAAg6jmwzQ) although there may be another place too.

[2022-10-21 18:41] aaemnnosttv commented on #5890
A site-specific answer should be preselected if it has already been answered by another user, otherwise a user's own answers would be blank/unselected at this point.

As mentioned above, it sounds like this might change so let's try to word this in a way which doesn't block the issue moving forward here if possible.

Apart from these details, LGTM

[2022-10-21 18:42] aaemnnosttv commented on #5892
Closing in favor of #5890

[2022-10-21 18:42] #5892 closed

[2022-10-21 18:43] aaemnnosttv commented on #4744
@asvinb assigning this back to you while I'm out 👍

[2022-10-21 18:45] aaemnnosttv commented on #5868
Thanks for the digging @eugene-manuilov ! I'm wondering if this means maybe we shouldn't be using `wp_safe_redirect` at all? 🤔

@felixarntz would you please review while I am out?

[2022-10-21 18:52] aaemnnosttv commented on #5775
@felixarntz added initial ACs here, can you have a look? Also we'll want to define the icons used.

[2022-10-21 23:03] tofumatt commented on #5996
QA ✅

(Aside from other issues [already filed](https://github.com/google/site-kit-wp/issues/5996#issuecomment-1285909399).)

[2022-10-21 23:40] sashadoes commented on #5934
@asvinb I changed it to `105px` 🙂

[2022-10-22 06:35] wpdarren commented on #5882
### QA Update: ✅

On the GA4 Activation Banner, when on the Setup Banner in the "existing property" variants, with is a property selected in the dropdown with a valid measurement ID, then the "You will need to give Site Kit permission..." message is not showing and user is not redirecting to OAuth when pressing the CTA.

![image](https://user-images.githubusercontent.com/73545194/197323315-b0920cd

[2022-10-22 06:58] wpdarren commented on #6041
### QA Update: ✅

- No longer shows a loading state when the banner is dismissed, choosing "Remind me later"  This includes if the user is the Analytics module owner.  I also tested this with an admin user who does not have access to the module. The message appears telling the user to get in touch with the owner.  I click on the 'remind me later' banner and the loading state no longer appears.

ht

[2022-10-22 07:13] nfmohit commented on #5900
Thank you for the clarification, @kuasha420!

[2022-10-22 22:56] sashadoes commented on #5979
I think there is a typo in IB first line "In `assets/js/components/notifications/IdeaHubPromptBannerNotification.js`" and `ThankWithGoogleSupporterWallNotification` was meant instead ? @tofumatt / @EvanHerman 😇

[2022-10-23 15:29] FlicHollis commented on #5554
Hi @kuasha420 thanks so much for coming back to me, makes sense and one IB to look at in the next sprint then, thanks!

[2022-10-23 23:31] jimmymadon commented on #5996
## QA ✅

Besides the checklist,
- Went through the new issues that were found for the GA4 Activation banner and that I was involved with.
- Smoke tested the rest of the GA4 Activation Banner and most of its variants.
- Smoke tested TwG plugin customisation and setup, albeit with the Tester Plugin forced state.

[2022-10-24 00:23] wpdarren commented on #6045
@aaemnnosttv just to add, the issue occurs even when you do not have any property or a non matching property.  It's consistently behaving the same.  I would expect the tooltip to appear in all scenarios.

[2022-10-24 04:22] nfmohit commented on #5996
## Release Tested ✅

- Release tested 1.86.0 thoroughly.
- Set everything up from scratch on a live (InstaWP) site.
- Didn't spot any unexpected console errors.
- Verified UI in different device breakpoints.
- Verified changes I've been involved with.
- Double-checked with and without Dashboard Sharing and GA4 Activation Banner flags.
- Used our release testing checklist to ensure everything is ch

[2022-10-24 04:40] mohitwp commented on #5996
### QA Update ✅

- Went through the QA Checklist and tested on a site with zero, gathering and live data.
- went through GA4 banner related scenarios.

[2022-10-24 05:07] hussain-t commented on #5996
## QA Verified :white_check_mark:
- Smoke tested.
- Verified the changes I’ve been involved with.
- Performed some ad-hoc testing.

[2022-10-24 06:57] kuasha420 commented on #5996
## QA: :heavy_check_mark:

^ Went through the release testing checklist.
* Verified the changes I've been involved with.
* Checked TwG module, with VPN and Tester plugin.

Haven't tested anything regarding GA4 Activation Banner since there's lots of eyes there already. Also didn't check with `dashboardSharing`.

Overall, LGTM :heavy_check_mark:

[2022-10-24 10:18] jamesozzie commented on #6009
The impacted user was able to determine that a cookie consent app at Cloudflare level caused the issue.
https://www.cloudflare.com/apps/cookie-consent

This was [tested previously](https://app.asana.com/0/1185360131189553/1202547291444465/f), where we were able to re-produce the same.

For impacted users using the same Cloudflare app, consider an alternative app, a WordPress plugin replace for the

[2022-10-24 10:18] #6009 closed

[2022-10-24 11:50] eugene-manuilov commented on #6023
Thanks, @tofumatt. Could you please add more information to IB? I think that each components have different circumstances when we can consider them as rendered, right? Let's write them down in IB.

[2022-10-24 11:52] eugene-manuilov commented on #6049
IB ✔️

[2022-10-24 12:48] eugene-manuilov commented on #5996
QA ✔️

[2022-10-24 13:06] wpdarren commented on #5520
### QA Update: ✅

**Verified:**

- On a fresh site, set the initial version to 1.38.0 using site kit.
  - When visiting dashboard. The Unified Dashboard Feature Tour appears.
  - The status of dashboardSharing tour using the following snippet. It is false.
  - When opening the Sharing Settings. The Settings tour appears.
  - The status of dashboardSharing tour using the same snippet again. It is t

[2022-10-24 13:55] wpdarren commented on #5298
### QA Update: ✅

**Verified:**

- The module recovery occurs with no errors.
  - In the Network tab of the browser developer tools, only one request is made to the `/google-site-kit/v1/core/modules/data/recover-modules` endpoint to recover all modules.
  - I ran the same test on latest version of Site Kit and can see in the network table that  /google-site-kit/v1/core/modules/data/recover-module

[2022-10-24 15:18] jamesozzie opened #6054 "Revise the wording on the Supporter Wall settings"
## Bug Description

Revise the wording of the TwG settings page. Ensure the Supporters Wall Widget title is capitalized as it is when viewing the settings page before editing, and replace the **_page_** mention with **_widget_**, while also capitalizing.

![image](https://user-images.githubusercontent.com/41326532/197562281-35149950-6b1e-4809-8898-cc605abf16e9.png)

https://user-images.githubuserc

[2022-10-24 15:33] nfmohit commented on #5979
@sashadoes You're right. That was a mistake. I have updated the IB.

CC: @tofumatt

[2022-10-24 15:37] tofumatt commented on #4793
My actual instinct here is to have that logo _always_ link to the main dashboard. That creates the expectation/informs the user that there is a link there, but also simplifies the logic of implementing it.

I've seen that done with little confusion across many sites, basically that it's fine to leave that sort of "Home" link there all the time.

We don't disable links in the menu:

![CleanShot 202

[2022-10-24 15:41] #5882 closed

[2022-10-24 15:42] #6040 closed

[2022-10-24 16:55] randymtl commented on #1466
I am experiencing the same issue in Canada (Montreal Quebec, to be specific). Is this a known issue? Is there any known workaround? I'm not a "real" developer, so please excuse any ignorance.

[2022-10-24 17:16] wpdarren commented on #5494
### QA Update: ✅

**Verified:**

I followed the instructions in the QAB.  The error message appears along with the 'retry' button.  When the tweak rule was disabled and the button clicked, the Tag Manager screen reloaded with no error message.

https://user-images.githubusercontent.com/73545194/197586382-8145712b-62ea-44ac-afd1-086fd202c29b.mp4

[2022-10-24 17:23] wpdarren commented on #5974
### QA Update: ❌

@hussain-t as per our conversation in Slack.  Found this issue while doing general testing.  When I click on the ‘Set up’  CTA for Idea Hub on the notification banner on Dashboard,  a message appears `The Idea Hub module cannot be set up as it has not been activated yet` and it dies, unable to set up Idea Hub.

![image](https://user-images.githubusercontent.com/73545194/197587599

[2022-10-24 18:10] felixarntz opened #6055 "Change "Retry" button UI in inline error notice to visually appear like an inline link"
Follow-up to #5494: While that issue correctly implements the "Retry" button in inline notices (e.g. in module setup flows), having a primary CTA button in those error notices looks a bit odd (see https://github.com/google/site-kit-wp/issues/5494#issuecomment-1289347228).

They should become a regular inline link instead.

---------------

_Do not alter or remove anything below. The following sect

[2022-10-24 18:14] felixarntz commented on #5494
## Approval ✅

Thanks @techanvil @tofumatt @wpdarren! Technically looks all good to me, just visually it's a bit odd having a primary CTA button in that inline notice, especially since there'll often be another _actual_ primary CTA button in related UI.

That is not super critical and also wasn't outlined in the ACs here, so I've opened a separate follow-up issue #6055 to address it.

[2022-10-24 18:14] #5494 closed

[2022-10-24 19:35] #5996 closed

[2022-10-24 22:27] tofumatt commented on #5920
ACs look good to me, let's do it 😄

[2022-10-24 22:41] felixarntz commented on #5802
@eugene-manuilov @techanvil ACs here are updated based on the new approach (started in #5958), ready for IB!

[2022-10-24 23:06] tofumatt commented on #5940
ACs are good 👍🏻

[2022-10-24 23:12] tofumatt commented on #6042
IB ✅

I think the IB covers everything accurately, but make sure to check when using `useMount` that the event we're tracking is always appropriate; eg. the banner will actually be shown. I think in this case it's always true, but #6023 has examples of when we call `trackEvent` when we shouldn't. Just something to watch out for 😄

[2022-10-25 00:11] tofumatt commented on #5899
IB ✅

[2022-10-25 00:12] tofumatt commented on #6038
IB ✅

[2022-10-25 01:10] bastbra opened #6057 "Request to bring back post content suggestions"
## Feature Description

Hi, hope you all are doing well.

I really enjoyed the feature for post content suggestions the plugin had a while ago, not really sure when or why you removed it again - at least it's not in the German version any more - but I really liked it, just to get a few ideas that are relevant.

Is there any way you can bring this hub back again, or is this not something that would

[2022-10-25 04:59] martin-levai99 commented on #6
This is something I would appreciate. I hope this will be resolved...

[2022-10-25 08:58] techanvil commented on #6055
Hi @nfmohit, thanks for the IB.

I've got an alternative suggestion for displaying the link inline. How about changing the `Fragment` in `ErrorNotice` to a `div` with `display: flex` and a suitable CSS `gap` value, and rendering the `Link` directly after the `ErrorText`? This would allow reusing `ErrorText` without adding complexity to it.

[2022-10-25 09:11] asvinb opened #6059 "Update Tooltips styles to match GM2+ designs"
## Bug Description

Currently the tooltips look almost like dropdown menus, resulting in an odd user experience.

## Screenshots

Tooltip:
![image](https://user-images.githubusercontent.com/31818/197732905-32683e25-2410-4cf3-bedb-3d801bde1816.png)

Dropdown menu:
![image](https://user-images.githubusercontent.com/31818/197732936-650f4d4c-8a87-429e-9c5f-9e76245eb1b5.png)

---------------

_Do not a

[2022-10-25 09:17] asvinb commented on #5934
Thanks @sashadoes . LGTM. For future IBs, instead of adding the height and width of the SVGs in the IB, you can just say to style the SVG as per the designs in Figma (which I added in the designs). That'll reduce confusion and the designs will be the single source of truth :)

[2022-10-25 09:18] asvinb commented on #5934
IB 👍

[2022-10-25 09:47] techanvil opened #6060 "Add jsx-curly-brace-presence ESLint rule to enforce consistent use of braces in JSX"
## Feature Description

Add the [`react/jsx-curly-brace-presence`](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/jsx-curly-brace-presence.md) ESLint rule to disallow unnecessary JSX expressions when literals alone are sufficient.

Examples of incorrect code for this rule, when configured with `{ props: "never", children: "never", "propElementValues": "never" }`:

[code]

[2022-10-25 09:59] tofumatt commented on #6059
ACs look good here 👍🏻

[2022-10-25 10:18] techanvil opened #6061 "Fix SetupSuccessBannerNotification stories."
## Bug Description

The Authentication Success stories under `SetupSuccessBannerNotification` are currently broken and should be fixed.

## Steps to reproduce

1. Open Storybook and go to `SetupSuccessBannerNotification`.
2. Click through the Authentication Success stories to see them in a non-functional state.

## Screenshots

![image](https://user-images.githubusercontent.com/18395600/197748205-

[2022-10-25 11:58] techanvil commented on #6045
IB :white_check_mark:

[2022-10-25 13:10] techanvil commented on #5900
Hi @nfmohit, thanks for the IB.

I am not sure about this point:

- Update the action added to the `googlesitekit_authorize_user` hook so that if `$previous_scopes` is empty, it redirects the user to the `user-input` page instead of calling the `require_user_input()` method.

I might have misunderstood something here but this does not appear needed to fulfil the AC and seems counter to the stated

[2022-10-25 15:12] nfmohit commented on #6055
Good call, @techanvil. I actually was looking for a way to have it within the same `<p>` tag. I have updated the IB accordingly. Thank you!

[2022-10-25 15:19] techanvil commented on #6055
Thanks @nfmohit!

IB :white_check_mark:

[2022-10-25 16:01] felixarntz commented on #6059
@asvinb Regarding the IB, I'm a bit confused about what the intention of the dashboard sharing tooltip specific changes here is. Could you clarify?

It looks like #5444 also introduced the wrong tooltip style globally. Looks like this was in Figma, but that is still inconsistent. We should consistently go with the styles from the Figma file you linked above (which Victor shared earlier), for all t

[2022-10-25 16:44] jimmymadon commented on #4793
@tofumatt I'm happy to keep the logo as a link on the main dashboard as shown in your GIF. However, what should the behaviour of clicking on the logo be on a splash page? Would the link simply reload the page?

[2022-10-25 16:49] nfmohit commented on #5900
Thank you for pointing that out, @techanvil. I have updated the IB to remove the condition and method call entirely.

[2022-10-25 16:49] felixarntz opened #6064 "Do not output TwG snippet if JSON encoding data fails"
This is extremely unlikely to happen, but a Google security review for the TwG launch in Site Kit pointed out that we should not unconditionally render the return value of `wp_json_encode()` in the TwG snippet. Technically, this certainly makes sense, as the return value may be `false`.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators o

[2022-10-25 17:04] asvinb commented on #6059
@felixarntz I thought we wanted to keep the styles for the dashboard sharing tooltip to match the Figma designs, hence why we had #5444 However, I see your point of having all tooltips to be consistent and match what we [have in the designs](https://www.figma.com/file/ZL8qlbUyR9lmBaF95t0xpq/sitekit-system-gm2%2B?node-id=564%3A2006) for Tooltips. I've updated the IB, let me know what you think.

[2022-10-25 17:17] tofumatt opened #6065 "Update/finalize the TwG CTA + counter/button placement depending on TwG placement"
We need to finalize the placement of the Thank with Google CTA and Thank with Google counter/button placeholder elements loaded by the `twg.js` file, based on these possible scenarios:

* [ ] Dynamic (CTA is floating)
* [ ] Fixed on top of article
* [ ] Fixed below article
* [ ] Fixed below first paragraph

See this Asana task for more context: https://app.asana.com/0/1202629863017211/120323332272

[2022-10-25 17:19] jimmymadon commented on #5853
@marrrmarrr @felixarntz In @aaemnnosttv's absence, could one of you please have a look if the ACs here look alright? Have incorporated all of Evan's suggestions and our review of this issue a while back. Thanks!

[2022-10-25 18:25] jimmymadon commented on #4853
@kuasha420 I remember discussing this in our Team Review meeting a while back. However, I do not remember the conclusions on this one if we had any. Some of my questions and thoughts:
1. Do we eventually want to do this for _all_ of our components which use `<Select>`:
    - Search Console - Property
    - Analytics - Account, Property, Profile (View), Country**, Timezone**
    - AdSense - Account

[2022-10-25 18:51] jimmymadon commented on #6054
@jamesozzie Thanks! As for the description, we should keep the words "supporter wall widget" lowercase as that is what we have everywhere else.

[2022-10-25 20:15] felixarntz commented on #6059
@asvinb Thanks, I've clarified that in the ACs as well. IB ✅

[2022-10-25 22:04] kuasha420 commented on #5890
Made the necessary changes accordingly. Since Evan is OOO this week, anyone else can have a look and move it to IB if the changes makes sense. Cheers.

[2022-10-25 22:39] kuasha420 commented on #5896
I think we could've implemnted CTA and this one together, however the other one was moved far up into IB and is with @hussain-t.

I've updated the AC of this one to add note about the CTA. This should be good now.

This has turned into kind of a glue issue. If, during the IB process, there turns out to be nothing to do here, we can close it then. However, still worth keeping it open for now and se

[2022-10-25 22:47] kuasha420 commented on #5897
Sounds like you're right Evan, I missed the later part of the discussion in [Figma](https://www.figma.com/file/CdtrHB0HAjfGRWTnTMMQI0?node-id=910:24310#257751808). ACs updated.

[2022-10-25 22:49] kuasha420 commented on #5894
Thanks for the suggestion, Evan! This will be covered as part of #5897 where we stop using this functionality in favor or inline editing. So closing this one as duplicate.

[2022-10-25 22:49] #5894 closed

[2022-10-26 06:51] hussain-t commented on #5896
@kuasha420, I agree; we could've combined both into a single task. However, I have updated the IB for #5895. So the CTA container can be implemented as part of this ticket.

[2022-10-26 08:44] techanvil commented on #6064
IB is good, but I am bumping to a 3 as I think testing could push it over that 1 estimate.

IB :white_check_mark:

[2022-10-26 09:03] techanvil commented on #5824
I am also seeing failures on my Linux workstation(Ubuntu 22.04), similar to the description but more, ~30 failures here.

[2022-10-26 09:37] wpdarren commented on #5979
### QA Update: ✅

**Verified:**

When the Thank with Google supporter wall reminder notification banner appears, and the user clicks on the Dismiss Thank With Google Supporter Wall Notification by clicking Maybe later, the notification does not appear again

https://user-images.githubusercontent.com/73545194/197991148-5a65e892-943a-4205-a497-fb9d8a124d6d.mp4

**QA Note for future reference.** To t

[2022-10-26 09:43] techanvil commented on #5900
Thanks @nfmohit!

I've spotted something else, sorry for not realising yesterday. Bear in mind this AC point:

The IB removes `User_Input_State` and adds the `is_complete` method, but it doesn't do anything with `is_complete`. The front-end code that relies on `userInputState` will no longer work.

We should in fact, rather than simply removing `userInputState` from the inlined user data, be repla

[2022-10-26 09:50] wpdarren commented on #5958
@nfmohit Reading through the QAB and I feel we need some more detail here to test.

When you suggest workflow, do you mean setting up Site Kit, setting up modules, making changes to settings. Or are we doing a full smoke test of everything here? Looking at the IB it seems quite in-depth and touches on user input, different components, so I want to make sure that everything is captured in my testin

[2022-10-26 09:53] nfmohit commented on #5958
Thank you for your question, @wpdarren.

Apologies for not clarifying. I did mean a full smoke test since the components exist everywhere and we want to make sure we're covering every spot.

Let me know if you have any further questions, thank you!

[2022-10-26 10:27] tofumatt commented on #5972
@techanvil pointed out that some questions around layout weren't 100% answered here, but we shouldn't change the visual layout of the "Learn more" link in [this example](https://github.com/google/site-kit-wp/issues/5972#issuecomment-1269584251).

It's okay to change the markup here to something a bit more semantic (a `<p>` link @nfmohit proposed, or even a `<div>`), but _visually_ the "Learn more"

[2022-10-26 10:54] eugene-manuilov commented on #6023
Thanks, @tofumatt. IB ✔️

[2022-10-26 11:25] nfmohit commented on #5900
Thank you for spotting that, @techanvil! I have updated the IB and have bumped the estimate to 15. Let me know if it looks good now.

[2022-10-26 11:29] tofumatt commented on #6065
IB ✅

[2022-10-26 11:44] techanvil commented on #5900
Thanks, @nfmohit. LGTM!

IB :white_check_mark:

[2022-10-26 13:28] FlicHollis commented on #5868
Hey @felixarntz just checking you are ok to pick this up? This is in the current sprint so ideally we would want this to be reviewed asap. Let me know if you do not think you have capacity for this, thanks so much!

[2022-10-26 15:22] jamesozzie commented on #4837
Just a quick update on this one. I've reviewed all support topics so far, and not all impacted users are Nginx users, with [at least one user](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/edit#response=ACYDBNi-URLmGLfPiVfUJBbzHDm5Hh_uObg3GYMBm_RYIb0Oz-JVq8oLFWHU2IEZiOwrPQQ) reporting Apache.

In this latest report the user did provider some insights. They're using a

[2022-10-26 15:30] jamesozzie commented on #5949
Closing this with the issue being that the user had incorrect site records on the Site Kit service. This was [reset by Adam S](https://docs.google.com/document/d/1Dz-IVEo0TAv-FUY8ers0gB10qS0N6_s2ToMN4_u2Sj0/edit#bookmark=id.lqwud6t4klia), with the user now confirming this is resolved

[2022-10-26 15:30] #5949 closed

[2022-10-26 15:32] jamesozzie commented on #5850
Closing this with no additional reports from impacted users, and no response from the original reporter.

[2022-10-26 15:35] jamesozzie commented on #5705
With no additional insights or support topic created from the second user I'll close this GitHub issue. Nothing obvious determined during a support/engineering sync.

[2022-10-26 15:35] #5705 closed

[2022-10-26 15:57] techanvil commented on #5940
@hussain-t the IB looks good. I made a small tweak to clarify the last point, adding "Disable the rule for any such instances".

IB :white_check_mark:

[2022-10-26 16:10] jamesozzie commented on #1466
Sorry to hear that @randymtl. If you'd like to [open a support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) in the WordPress support forums we can investigate this further for you, while including your [Site Health information](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/). What may be occurring is the error is triggered from a browser ext

[2022-10-26 16:55] felixarntz commented on #5868
IB ✅

[2022-10-26 17:56] felixarntz opened #6069 "Avoid using `_n()` for differentiating singular and plural (without number)"
As outlined in e.g. [this article](https://gsm.fjellner.com/hints-about-i18n-let-your-code-to-shine-all-over-the-world/), `_n()` must only be used for strings which include a number to differentiate the different versions of the translation string. It must not be used to _only_ differentiate between singular and plural when there is no number involved.

---------------

_Do not alter or remove any

[2022-10-26 19:32] bethanylang opened #6070 "Update wording on TwG connect service screen"
## Bug Description

The wording on the TwG connect service screen is currently:

The second sentence is not a full sentence. This should be changed to:

## Steps to reproduce

1. Enable TwG using the Tester plugin
2. Go to Settings > Connect More Services > TwG
3. See the TwG connect service screen

## Screenshots

<img width="731" alt="image" src="https://user-images.githubusercontent.com/1218995

[2022-10-26 19:34] randymtl commented on #1466
Thanks very much @jamesozzie, I'm impressed by the quick response. Earlier today I independently uncovered the source of the problem. Exactly as you suspected a Chrome extension (AdBlock) caused it.  Sorry for raising the issue--I should have thought to try that first thing. Hopefully my reporting it might help some other newbie who stumbles (desperately) onto this forum.  I can't be the only one

[2022-10-26 20:45] tofumatt commented on #5897
ACs look good here 👍🏻

[2022-10-26 21:11] tofumatt commented on #5896
I get what you mean about this mostly being a "glue" issue @kuasha420, which I think made these ACs a bit unclear to me—they mostly seem like what will be implemented elsewhere/what _not_ to implement.

Could you clarify exactly what this issue is adding/being changed by this issue in one section of the ACs? And then if you want to clarify as a separate point what's covered elsewhere by other issu

[2022-10-26 21:53] tofumatt commented on #5890
ACs look good here, moving to IB 👍🏻

[2022-10-26 22:30] tofumatt commented on #6054
ACs look good. 👍🏻

[2022-10-26 22:32] tofumatt commented on #6061
ACs are good, thanks for adding a VRT requirement 👍🏻

[2022-10-27 00:02] tofumatt commented on #6060
ACs were mostly good, but looks like the rule name changed and the supplied config didn't work, so I updated it. (The ACs were basically the IB, so IB added and moving to IBR) 👍🏻

[2022-10-27 05:30] hussain-t commented on #5895
@eugene-manuilov, I didn't include checking for gathering data state due to this [comment](https://github.com/google/site-kit-wp/issues/5895#issuecomment-1279447909). I have no issues adding that condition.

IMO, composing it by passing the `<Link>` component to the `ctaComponent` prop will be a cleaner approach. That will have full control of whatever we are passing rather than creating new style

[2022-10-27 05:41] hussain-t commented on #5895
@kuasha420, based on the Figma [discussion](https://www.figma.com/file/CdtrHB0HAjfGRWTnTMMQI0?node-id=1980:63901#275833985), I think we need to check for both the gathering data state and zero data state, right? The AC mentions checking only for the gathering data state.

[2022-10-27 06:32] kuasha420 commented on #5895
@hussain-t I remember just gathering data would suffice, but I can't find the discussion right now. Maybe it was in one of the resolved comments in the Design doc.

I think @felixarntz or @marrrmarrr is better suited to answer this anyway, since I can't find the original discussion.

Cheers.

[2022-10-27 08:25] asvinb commented on #5605
@eugene-manuilov I initially thought about the same thing but looking at the `ErrorHandler` component, it's mostly what we need, except that we don't want to render the `Notification` component but render a custom message. On top of that we already have tracking, what's why i was more inclined to reuse the existing `ErrorHandler` with the added flexibility of displaying a custom error message. Hap

[2022-10-27 09:06] FlicHollis commented on #5933
I have added this to the User Input v2 epic, as although it is not directly related to the epic, it does block 5895 and needs to be completed for the epic to be completed.

[2022-10-27 10:02] jamesozzie commented on #1466
Glad to hear it @randymtl. Great that you shared your findings, which I also suspect will be very useful should other users encounter the same.

[2022-10-27 10:07] jamesozzie commented on #4837
One user, who reported this error has [shared the Nginx configurations](https://wordpress.org/support/topic/error-on-installation-28/) they applied in order to resolve this. This user compared the difference in their Nginx block on a site that did connect successfully to that which encountered the error.

_Old Ngix block configuration, which resulted in the error:_

[code]

_New Ngix block configu

[2022-10-27 11:11] bethanylang commented on #5695
@jamesozzie This is an issue that I filed that last time that we discussed this issue back in August. When I mentioned this on our call earlier this week, you said that we already have something in the plugin like this. Can you please take a look at this issue and let me know if this is something that we already have, and if so, if it should be tweaked in any way to make this easier for us/users?

[2022-10-27 11:15] techanvil commented on #5920
@nfmohit the IB looks good, please can you add an estimate?

[2022-10-27 11:17] techanvil commented on #6060
IB :white_check_mark:

[2022-10-27 11:19] nfmohit commented on #5920
Oops, my bad. Added an estimate of 7 to account for the testing.

[2022-10-27 11:28] techanvil commented on #5920
Thanks @nfmohit!

IB :white_check_mark:

[2022-10-27 11:42] mohitwp commented on #6006
@wpdarren I'm not able to reproduce this issue on latest environment. Can you please check if you are able to recreate this and 0.js, 1.js, 2.js chunks are loading for you ? For me` googlesitekit-modules-adsense-5a9b4bcea7febf15e592.js` file is getting load on latest environment.

<details>

![image](https://user-images.githubusercontent.com/94359491/198274833-77484206-513b-4855-a40d-8e1e1908a520.

[2022-10-27 12:01] asvinb commented on #5890
@kuasha420 @tofumatt A note about the following:

Right now, the "Next" button is disabled if the "Other" option is selected and the user does not input something in the textbox. I think from a UX point of view it's much better right now in the sense that the user already knows that he cannot continue unless he enters something in the textbox, which itself has focus when the "Other" option is sele

[2022-10-27 12:02] jamesozzie commented on #5695
@bethanylang We have the snippet placement status printed to a users Site Health information, within the Site Kit section. We also have it output on the AdSense settings page. Screenshots below of each.

One tweak I think would be useful would be to display the snippet status when viewing the connected services, and not just display the status when editing the AdSense settings. There is a GitHub i

[2022-10-27 12:03] eugene-manuilov commented on #5605
@asvinb, yes, I understand your intention, but I think we should still use a separate component and not change the `ErrorHandler` component to avoid making even more changes there in the future if we decide to add a fallback image or anything else to the error boundary for svg images.

[2022-10-27 12:08] tofumatt commented on #5890
@asvinb Oh, right, good point.

I've updated the ACs to say that the "Next/Review" button should be disabled, but that error message should appear if the user focuses then blurs that input whilst leaving it blank.

I think that's the best UX, where we notify the user that their input isn't valid only after they've interacted with the input field.

[2022-10-27 12:12] eugene-manuilov commented on #5895
Ok, thanks, @hussain-t. IB ✔️ for me. Let's have the gathering state information for now. If we get a confirmation that we don't need it, we will adjust IB later.

[2022-10-27 12:33] FlicHollis commented on #5693
@aaemnnosttv and @marrrmarrr following on from Bethany's comments above, if we can agree on the AC update then we can prioritise this and add to Sprint 88.
cc @bethanylang and @nfmohit

[2022-10-27 12:44] asvinb commented on #5605
Thanks @eugene-manuilov ! IB updated!

[2022-10-27 13:28] wpdarren commented on #5974
### QA Update: ❌

@hussain-t @techanvil I've noticed an issue which I think is due to this ticket. It only exists on the develop branch.

I have explained the issue in this screencast, but in short, when a banner is dismissed (i.e. click on the remind me later link) in this case the GA4 Activation Banner, it disappears. I then click another CTA, i.e. set up Idea Hub banner, the GA4 Activation Bann

[2022-10-27 14:20] tofumatt commented on #4793
@jimmymadon Yeah, I think in that case it'd be a link to the main dashboard and would reload the page.

It's of semi-dubious value, but it lets the user know that's a link and would even allow a user to open it in a new tab with a "command + click". I've seen that behaviour in other sites/apps and it's not confusing, so let's do that 👍🏻

[2022-10-27 14:21] tofumatt commented on #5890
IB ✅

[2022-10-27 14:41] adamdunnage commented on #6057
Hi @bastbra thanks for opening this issue. It sounds like you are referring to the Idea Hub module which provides content suggestions for your site from actual questions people asked on Google Search that are similar to your site’s content.

Idea Hub is an experimental feature and is only currently available in the US. You can find out more information on this feature here: https://sitekit.withgoo

[2022-10-27 14:46] bastbra commented on #6057
Thanks for your answer, @adamdunnage! I didn't know the name of it, but Idea Hub sounds familiar, as far as I can remember. I'm not based in the US, which is weird - but it was displayed in Germany a few weeks, maybe months ago, and I really enjoyed the feature, although German is and was the language of my site.

It would of course be great to get it back in English (even better this time in Germ

[2022-10-27 15:12] techanvil commented on #5802
Hi @felixarntz, I think we should make a small change to the AC here.

Rather than initially scaffolding all the eventual GM3 components to return `null`, I think we should initially have `assets/js/googlesitekit/components-gm3/index.js` export the set of GM2 components.

That way we can integrate each component as we replace the GM2 version with the GM3 version, ensuring we can test any and all e

[2022-10-27 15:28] adamdunnage commented on #6057
@bastbra No problem at all. Unfortunately the availability of Idea Hub is controlled by the service itself and not on the Site Kit side. We hope like you that this is extended to other Countries in the future so that others can make use of the feature.

[2022-10-27 15:56] #6057 closed

[2022-10-27 16:19] jimmymadon commented on #4853
@tofumatt Thanks for those comments. Make sense to me. I will leave out implementation details for the IB so we can discuss overriding the component, creating props, etc in the IBR. Have written down some ACs for now.

[2022-10-27 16:20] felixarntz commented on #5802
@techanvil Hmm, I'm not sure about how relevant that is given that we would not do any integrated testing of the new components until all of them have been implemented. They will only be used in Storybook, and we will have GitHub issues to implement the individual components. Until those are completed, we wouldn't even want to try loading the asset within Site Kit.

Maybe I'm misunderstanding some

[2022-10-27 16:29] techanvil commented on #5802
@felixarntz, possibly I am being overly cautious, but I would rather not take this approach whereby we only load the asset in Site Kit once all the components are completed.

If we do run into issues at this point, by the nature of switching out lots of components all at once it would be a more complex scenario than if we were to integrate them individually. It strikes me that a more iterative app

[2022-10-27 21:00] felixarntz commented on #5802
@techanvil We had discussed at a previous point that we would switch over the components at a single point in time. The next few weeks would only be spent in building out the components using Storybook, not integrate them in any way into the user-facing plugin side.

The current approach that we are taking, with there being two different versions of `googlesitekit-components`, would actually not e

[2022-10-27 21:28] felixarntz opened #6075 "GTE support"
Issues related to supporting the new Google Tag infrastructure.

[2022-10-27 21:29] felixarntz opened #6076 "Update Google API PHP client services library for new Tag Manager endpoints"
In order to implement support for the new Google Tag, we need to rely on recently added Tag Manager API endpoints for [container lookup](https://developers.google.com/tag-platform/tag-manager/api/v2/reference/accounts/containers/lookup) and [listing destinations](https://developers.google.com/tag-platform/tag-manager/api/v2/reference/accounts/containers/destinations/list).

---------------

_Do no

[2022-10-27 21:36] felixarntz opened #6077 "Add Google Tag settings to the `Analytics_4` module"
While overall the Google Tag is intended as a generic solution for tag management, in terms of Site Kit's modules it only applies to GA4. Since the future of the tag implementation is unclear, the infrastructure should therefore be built specifically into the GA4 module.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accept

[2022-10-27 21:39] felixarntz opened #6078 "Implement Google Tag container lookup and destinations list REST data points"
REST data point wrappers for the new Tag Manager API endpoints for [container lookup](https://developers.google.com/tag-platform/tag-manager/api/v2/reference/accounts/containers/lookup) and [listing destinations](https://developers.google.com/tag-platform/tag-manager/api/v2/reference/accounts/containers/destinations/list) need to be implemented, as part of the `Analytics_4` module, to get informat

[2022-10-27 21:40] felixarntz opened #6079 "Implement Google Tag container lookup and destinations list JS selectors"
JS selectors to access the REST data points added in #6078 should be added to the `analytics-4` store.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `modules/analytics-4` store should receive a new selector `getGoogleTagContainer( measurementID )`.
    * The selector should wrap the `GET:containe

[2022-10-27 21:42] felixarntz opened #6080 "Amend GA4 tag placement logic to use Google Tag ID if set"
Instead of assuming that the GA4 web data stream measurement ID is the correct ID to inject in the frontend, the `Analytics_4\Web_Tag` implementation needs to instead place the Google Tag ID determined by the module (will be implemented in a separate issue) _if_ it is already set. Existing sites may not have it set yet, so in those cases it still needs to fall back to using the measurement ID like

[2022-10-27 21:43] felixarntz opened #6081 "Add Analytics setup/settings logic to determine Google Tag settings"
With the new Google Tag logic in place, the Analytics module now needs to determine the Google Tag ID to use whenever the GA4 web data stream / measurement ID changes. Concretely, this could be the case in the module setup, or settings, or the GA4 activation banner logic.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accep

[2022-10-27 21:49] felixarntz opened #6082 "Populate Google Tag data for existing site using GA4"
Based on #6077 and #6080, for the GA4 snippet, a Google Tag ID should be used going forward. While this _usually_ is the same as the GA4 measurement ID, we will need to migrate all sites to have this tag ID determined and stored. While #6081 implements this for the "new user" / "updating configuration" scenarios, we also need to have logic that populates the data for existing sites where GA4 is al

[2022-10-27 21:49] felixarntz opened #6083 "Check GA4 measurement ID mapping from Google Tag periodically"
When the `Analytics_4` module is active, Site Kit should regularly check whether the mapping between the Google Tag and the GA4 measurement ID that Site Kit has stored is still accurate. If not, it needs to alert the user about it so that they can make a decision on how to proceed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

[2022-10-27 23:48] wpdarren commented on #6023
### QA Update: ⚠️

@hussain-t I have a query based on this section of the QAB.

When viewing the log the `mainDashboard` event is not showing and I am wondering if this is expected, since the `Congratulations, the Site Kit plugin is now activated. title` takes place on the plugins page.  Please could you confirm this.

This is what I see.
<img width="1786" alt="events-1" src="https://user-images.g

[2022-10-27 23:59] tofumatt commented on #6003
That makes sense… I think requesting it on the dashboard (eg. choice 1) makes the most sense, as it would be nice if this data was reflected the UI without too much delay—my concern with the WP sign-in or even the token refresh is that a user might update their info and then not see the effects in the Site Kit dashboard for hours or even days.

Let's go with the Dashboard Refresh; I've updated the

[2022-10-28 00:08] tofumatt commented on #6069
@nfmohit On the last point, for `components-gm2/Dialog.js`: we shouldn't be using `dangerouslySetInnerHTML`—instead, in that case, we can use `createInterpolatedElement` which is even safer and more idiomatic.

The content passed to that Dialog is always a string, see: https://github.com/google/site-kit-wp/blob/5504c3fef2ee371e6a1152b1729a1750ca57b986/assets/js/components/settings/SettingsActiveMo

[2022-10-28 00:13] wpdarren commented on #6064
### QA Update: ⚠️

@jimmymadon I have an observation re the placement of the snippet.  On the screenshot in the QAB I see that it is commented with `Thank with Google snippet added by Site Kit` but when I look at the source code this does not appear. This might be expected because the screenshot was from a code editor, but thought I would check.

This is what I see.

![image](https://user-images.g

[2022-10-28 00:44] wpdarren commented on #6005
### QA Update: ✅

**Verified:**

The Components/ErrorHandler Storybook story has appropriate spacing between the CTA and the report link.
Checked on desktop and smaller screen sizes.

<img width="1342" alt="storybook" src="https://user-images.githubusercontent.com/73545194/198423334-cc2121f3-4b95-4664-bc92-4dacd9cb37b5.png">

Passing over to `QA:Eng` as per the QAB.

[2022-10-28 01:03] wpdarren commented on #5948
### QA Update: ✅

Verified:

- The colour choices in the TwG setup settings have no visual changes compared to the previous release.
- Tested when setting up TwG for the first time and also editing settings.
- Checked that the correct colour appeared in the settings and also on the front end for the badge and widget.

![image](https://user-images.githubusercontent.com/73545194/198428219-6ad9da26-e

[2022-10-28 04:18] hussain-t commented on #6023
@wpdarren, you're correct `mainDashboard` won't be available on the plugins page. However, do you see the `view_notification` event triggered? If that works, that should be good.

[2022-10-28 05:03] nfmohit commented on #6069
Uh oh, my bad. Thank you for pointing that out, @tofumatt! I've updated the IB.

[2022-10-28 09:19] techanvil commented on #5802
@felixarntz, thanks, maybe I was a bit unclear in the point I was trying to make. I am not suggesting that we roll out the components iteratively - just that we integrate them iteratively behind the feature flag, so we catch any integration issues earlier that we might otherwise have.

Anyhow, as you've highlighted we do have the safety of the feature flag to ensure we can get things working prope

[2022-10-28 09:23] tofumatt commented on #6069
No worries, looks good now 👍🏻

IB ✅

[2022-10-28 09:26] tofumatt commented on #6064
@wpdarren Looks like your output is slightly different, possibly because of the site you tested on or the fact that Site Kit was running in production mode when you tested. The comment was probably stripped out by a code optimiser and I notice your quotes are standardised to single-quotes as well.

That shouldn't be an issue, it only matters that the actual JS is output 👍🏻

I'll move to approval 🙂

[2022-10-28 09:39] wpdarren commented on #5972
### QA Update: ✅

**Verified:**

Based on the QAB this has passed my checks.  I went through the various banner notifications. They are displayed and functioned as expected with no warning. (Eg. ActivationBanner, ThankWithGoogleSupporterWallNotification, SetupSuccessBannerNotification, AdSenseAlerts etc...)  Also, the description part of a banner always appear inside single `<p>` as you can see fr

[2022-10-28 09:45] wpdarren commented on #6064
### QA Update: ✅

**Verified:**

- The TwG snippet/tag is added as normal when TwG is enabled and a supporter wall widget is added to the site.  I checked the code and noted an [observation above](https://github.com/google/site-kit-wp/issues/6064#issuecomment-1294254519), which Matthew has confirmed is not an issue.

![image](https://user-images.githubusercontent.com/73545194/198557994-509ad73c-0b

[2022-10-28 10:46] wpdarren commented on #6023
### QA Update: ✅

**Verified:**

- The `view_notification` GA event for the activation category is triggered only when the ActivationApp notification is displayed.
- The `view_notification` GA event for the mainDashboard_wp52-version-notification event category is triggered only when the WPVersionBumpNotification is displayed.
The following events are triggered only when the `SetupSuccessBannerNot

[2022-10-28 10:49] jamesozzie opened #6084 "e.keys is null dashboard error"
## Bug Description

[One user in the support forums](https://wordpress.org/support/topic/site-kit-analytics-failed-and-adsesne-lots-of-errors/#post-16142330) reported the below error on the SK dashboard. This is the third occurrence of this error, although the initial 2 support topics were closed with no response from the users who reported.

[code]

The following console error appears on the same

[2022-10-28 11:42] hussain-t commented on #4863
### QA:Eng Verified ✅

- Verified running `googlesitekit.element` in the browser console in (various) Site Kit screens and verified that it returns an object with exports from @wordpress/element.

![Screenshot 2022-10-28 at 5 05 05 PM](https://user-images.githubusercontent.com/24408261/198579131-0ee40e01-1124-47b1-928a-ac19ae84f926.png)

[2022-10-28 11:43] marrrmarrr commented on #5693
@aaemnnosttv my understanding of the "Connect Google Analytics 4" chip that we added to the Settings page is that it is for modules which are completely unconnected (i.e. setup hasn't started at all).
Whereas for this case for AdSense, the setup has been started, but there is an extra action required. Since based on Bethany and James's comments it seems the main confusion comes exactly from this,

[2022-10-28 11:47] hussain-t commented on #4863
@wpdarren @mohitwp I'm keeping this ticket in QA instead of moving it to approval since it needs to be verified that there are no regressions due to the changes.

[2022-10-28 12:21] tofumatt commented on #5875
Moving this to the next sprint and adding a note to the issue that this shouldn't be merged until `1.88.0`. 👍🏻

[2022-10-28 13:21] wpdarren commented on #6065
### QA Update: ❌

@kuasha420 I am seeing a number of issues which I have detailed below.

1. As you can see from the screencast below, there's a flicker, where the TwG button flashes with a large button in the style of the theme, and then loads as it should. I set the screencast to fast 3G so you can see it in action.  I have noticed that the graphic for the TwG button has been changed (assuming f

[2022-10-28 13:25] mohitwp commented on #5568
### QA Update ⚠️

@hussain-t

- Verified on dev environment.

- Under `wp_usermeta `table `wp_googlesitekit_active_consumers` is available when user with shared role permission  access site kit dashboard. DB creates entry  for every every new user role under `wp_googlesitekit_active_consumers`  .
- I noticed that we are not creating separate entry for each users. We actually defining user id value

[2022-10-28 14:31] jimmymadon commented on #6005
### QA Eng ✅

Verified:
- Created an error using the new `<ErrorComponent`:
<img width="1025" alt="Screenshot 2022-10-28 at 15 14 07" src="https://user-images.githubusercontent.com/1721319/198646722-effdd330-18f4-46f6-bca2-552286c0e36f.png">

- Triggered a normal error as well. Tested on desktop, tablet and mobile:
<img width="1058" alt="Screenshot 2022-10-28 at 15 15 44" src="https://user-images.

[2022-10-28 15:11] hussain-t commented on #4895
### QA:Eng Verified ✅

- Verified the `npm run lint:js` script doesn't return any errors.
- Verified removing the `// eslint-disable-next-line complexity` lines locally and running the `npm run lint:js` shows the error.

[2022-10-28 15:51] jamesozzie commented on #5693
Adding to this that I've been testing this today, and I can see room for improvement.

### Improvement one: A text change when a site hasn't yet been reviewed / approved

At present if an AdSense user uses Site Kit to add a new site to AdSense, the status within the Site Kit settings page will always display the a "_You need to fix some things before we can connect Site Kit to your AdSense account

[2022-10-28 16:22] jamesozzie commented on #5695
@bethanylang I've proposed some UX improvements over on another issue (https://github.com/google/site-kit-wp/issues/5693#issuecomment-1295162491) which I feel would would address user confusion for when their site is not yet approved on the AdSense side.

When it comes to further improvements I think that displaying the snippet status next to the connected status (as per https://github.com/google/

[2022-10-28 17:01] felixarntz commented on #5802
@techanvil Thanks for clarifying. In that case, I'm still slightly concerned about having a mix of the GM2+ and GM3 versions around together, that could also lead to problems in itself. For example, if a few of those components are related to each other and slightly differ in props / behavior.

IMO we can go with the approach to change them all at once eventually (behind the feature flag), as the

[2022-10-28 17:42] jimmymadon commented on #5569
### ⚠️ QA

@felixarntz The implementation does meet the AC here. However, the Design Doc says:

Should this be done as part of this issue or should we create another one?

Verified (Instead of following the QAB, I used real `active_consumers` data created by the code merged in #5568 by creating an admin and two view-only users):
- When there is no `wp_googlesitekit_active_consumers` in the DB or i

[2022-10-28 17:53] FlicHollis commented on #5693
Thanks so much @jamesozzie, I am assigning back to @marrrmarrr for review.

[2022-10-31 01:32] wpdarren commented on #6006
@mohitwp yes, I was also unable to recreate the issue, so its difficult to know if the ticket fixes it.

@aaemnnosttv is it possible that this can only be seen on a local setup? if not, would you be able to create a screencast?

[2022-10-31 03:59] mohitwp commented on #5915
### QA Update ❌

@asvinb

- Verified on both latest and dev environment.
- Able to reproduce issue on latest - connected services toggle getting open close by pressing any key and also keyboard navigation not working.
- Verified on dev - The settings interface for a single connected module is getting only open/close by clicking the module's header or by specific keystrokes while focused: Enter/Ret

[2022-10-31 07:50] asvinb commented on #5987
@eugene-manuilov Can you advise here? Shall the AC be updated?

[2022-10-31 07:51] asvinb commented on #5915
Thanks for raising that issue @mohitwp I have already created a new issue to tackle that: https://github.com/google/site-kit-wp/issues/6037 and accessibility as a whole :)

[2022-10-31 09:10] eugene-manuilov commented on #5987
@mohitwp this will be fixed once we upload an updated version of the redirects mapping document to production. @jamesozzie is the document ready and contains redirects for new module aware permission redirects?

[2022-10-31 09:57] wpdarren commented on #5958
@nfmohit re.

Do you know the full code I should run in console?

I have checked all of the components and completed a smoke test and have not found any issues.

[2022-10-31 10:10] kuasha420 commented on #6065
@wpdarren Thank you for the thorough QA report.

I have opened a follow up PR addressing the alignment issues. The flicker and unstyled buttons were already there before this ticket, I think it's on TwG team to fix. Still, if you think it's something worth wider visibility. feel free to create a separate issue or Asana task.

 The graphics are also changed in the TwG side.

Cheers.

[2022-10-31 10:47] wpdarren commented on #4863
### QA update: ✅

**Verified:**

- Checked out the entire Site Kit workflow and verify that there are no regressions.
- Set up Site Kit on a new site with zero and gathering data state
- Set up Site Kit on a site with live data and made sure that the main and entity dashboard was loading the widget data.

[2022-10-31 11:27] asvinb commented on #6055
@sashadoes Technically the code looks good. However, UI wise, we have an issue on small screens:
![image](https://user-images.githubusercontent.com/31818/198996172-3cedc978-b1f9-4eb1-8b66-8c8a06e9c059.png)
As per the screenshot above, the layout is not ideal. We have a few options here:

1. Move the "Retry" button on its own line on small screens. However on medium and up screens, if we have a ver

[2022-10-31 13:08] tofumatt commented on #6065
Worth noting that if there is a post with a single paragraph, the button and counter _will_ still be placed together, but this is more/less unavoidable unless we start to check the number of blocks in the post, and even that'd be problematic. I'd say best to accept that as a known issue 🙂

[2022-10-31 13:10] mohitwp commented on #5915
@aaemnnosttv For the above issue I reported [here](https://github.com/google/site-kit-wp/issues/5915#issuecomment-1296507912) we have separate ticket https://github.com/google/site-kit-wp/issues/6037 as per Asvin.
But reported issue is failing the point in AC - `When focused on the element a user can keyDown on with the Enter/Return key, aria attributes should be present letting the user know they

[2022-10-31 13:55] jimmymadon commented on #5568
@mohitwp

This seems to be the correct behaviour. The user IDs within the same row should be of the view-only users you logged in as and the `user_id` within the `wp_usermeta` table for that row should be that of the admin(s) of the site that shared the modules.

Based on my [comment](https://github.com/google/site-kit-wp/issues/5569#issuecomment-1295278071) in #5569, we will be deleting the whole

[2022-10-31 14:09] nfmohit commented on #5958
@wpdarren All you need to run is `googlesitekit.components`. Here's an example of the code and output:

![image](https://user-images.githubusercontent.com/20284937/199027622-b074283e-d3c2-4cc0-8656-6da3bed6aa71.png)

Let me know if you have any further questions. Thank you!

[2022-10-31 14:15] mohitwp commented on #4878
### QA Update ⚠️

@techanvil

-Verified on dev environment.

Question :> I noticed that in case of any encountered error PageSpeed Insights widget layout is getting shifts between loading and loading states. Is it acceptable in the case of errors ?

2) If field data is not available then also "In the field" tab height is getting smaller than "In the lab" tab and also "how to improve" button is als

[2022-10-31 14:16] nfmohit commented on #6055
@asvinb I think the second option and your suggestions look perfect. Thank you!

[2022-10-31 14:26] mohitwp commented on #5568
### QA Update ✅

Thank you for answering my questions [here](https://github.com/google/site-kit-wp/issues/5568#issuecomment-1297131170) .

- Verified on dev environment.

- Under `wp_usermeta `table `wp_googlesitekit_active_consumers` is available when user with shared role permission  access site kit dashboard. DB creates entry  for every every new user role under `wp_googlesitekit_active_consume

[2022-10-31 14:38] jamesozzie commented on #5987
@eugene-manuilov I'm reviewing the mapping sheet now. In order for me to add the correct "Get Help" link can you confirm the error codes per module are as below:

`analytics_insufficient_permissions`  - which will direct to [this guide](https://sitekit.withgoogle.com/documentation/troubleshooting/dashboard/#insufficientpermissionsanalytics)
`adsense_insufficient_permissions`  - which will direct t

[2022-10-31 14:42] wpdarren commented on #6065
### QA update: ✅

**Verified:**

- The placement (or lack thereof) of the TwG Counter for all the Static and Dynamic CTA placements matches with the AC.
- Also made sure that the populated CTA and Counters looks fine in the FE.
- Tested on desktop and mobile

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/199034600-e9bd7a9f-c7f0-453e-8002-610

[2022-10-31 14:54] eclarke1 commented on #5747
Conscious that @wpdarren is currently doing E2E testing on TwG, is this something we want to hold off merging until after TwG launch on Nov 7, or @wpdarren are you comfortable testing this as part of E2E testing?

[2022-10-31 15:18] tofumatt commented on #5747
I think this is worth merging and is a small change—it's entirely visual and doesn't really impact functionality/testing flow, so I think it's safe to merge even with the E2E testing.

[2022-10-31 17:33] eugene-manuilov commented on #5987
@jamesozzie this one should be `search-console_insufficient_permissions`, other look good.

[2022-10-31 17:35] jimmymadon commented on #4853
@tofumatt Based on our AC sync discussion, @felixarntz suggested sorting the response in the backend when parsing the data response. Any thoughts?

I've removed all implementation suggestions from the ACs. We could have this discussion at the IB level too?

[2022-10-31 17:41] jimmymadon opened #6092 "Encourage users to enable auto-updates on plugin activation"
## Feature Description

This would be an extension to #5853 which creates a Notification Banner CTA. This issue can add the same CTA to the plugin Activation Banner on the Plugins page.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* For users who have just activated the plugin, the `ActivationApp` not

[2022-10-31 17:42] jimmymadon commented on #5853
@aaemnnosttv Based on our AC sync today, we decided to make this as simple as possible and only stick to creating the banner which would be shown soon after someone activates and sets up the plugin. I have created another issue #6092 for modifying the `ActivationApp` notice.

[2022-10-31 18:21] felixarntz commented on #5569
@jimmymadon Thank you for flagging this, my bad for missing this in the ACs. This is critical though, so I have added a point to the ACs, which should be sufficient. Since we still have a week until the next release and since most likely this will only involve deleting a single meta key, I think that should be reasonable to add in a follow-up PR for this issue. cc @nfmohit

[2022-10-31 19:37] jamesozzie commented on #5987
These are all updated on the sheet now. Thanks @eugene-manuilov

[2022-11-01 00:20] tofumatt commented on #6077
@nfmohit I added a note about "settings contained in the ACs" to the IB, because I found it a bit vague and took me a second to parse. Let me know if that's what you meant 🙂

Largely looks good, but for `isValidGoogleTagAccountID` and `isValidGoogleTagContainerID`—if the format is exactly the same, wouldn't it make sense (at least for now), to either:

* use the Tag Manager functions inside our ne

[2022-11-01 03:21] wpdarren commented on #5958
### QA Update: ✅

@nfmohit ah as simple as that! 🤦  Thanks for the clarification.

**Verified:**

- I checked out the entire Site Kit workflow  including ensuring that epics behind the feature flag continue to work. No regressions were found during my testing.
- When running googlesitekit.components in the browser console in Site Kit screens and it returns an object with components (e.g. Button, C

[2022-11-01 03:41] wpdarren commented on #5974
### QA Update: ✅

**Verified:**

When on a banner notification with a CTA (button) that navigates to an internal link. when I click on the primary CTA.
the CTA is disabled and a spinner is displayed next to it. This state persists until the user is navigated to the new page/URL. I tested this with the Bump WP Version banner and also the Idea Hub Sign up CTA banner notification.

Also the issues [r

[2022-11-01 04:21] wpdarren commented on #5747
### QA Update: ✅

**Verified:**

- The structure of the module setup screens matches the Figma designs mentioned in the ACs for mobile and small screen sizes. Tested this with an iOS and Android phone/tablet.

<details>
 <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/73545194/199157887-841cdf15-af3c-43cc-8515-57d80ef6302b.png)
![image](https://user-images.github

[2022-11-01 07:29] nfmohit commented on #6077
Thank you for the update and the tip, @tofumatt. I have updated the IB so that `isValidGoogleTagAccountID` and `isValidGoogleTagContainerID` re-export the same functions. I have also added a test coverage brief for them.

[2022-11-01 08:10] nfmohit commented on #5569
Thank you for the confirmation, @felixarntz!

@jimmymadon As Felix mentioned, I have moved this issue to execution and self-assigned it to work on the follow-up PR.

[2022-11-01 08:14] kuasha420 commented on #5345
## QA: :warning:

The automated/scheduled PR was created successfully. However, while that was already open, I tried to run the action manually and it resulted in errors related to merge conflict. Not sure if that will also happen when the existing PR is not merged but the action runs on next schedule (seems like a likely case when the PR gets buried) or the PR is merged but the Merge Reviewer for

[2022-11-01 09:55] techanvil commented on #6055
Thanks @asvinb & @nfmohit - I also agree with the proposed second option here. LGTM! Assigning back to @sashadoes for the followup. Cheers.

[2022-11-01 10:46] eugene-manuilov commented on #5987
Thanks, @jamesozzie.

@mohitwp, I am assigning this ticket back to you. Redirects will point to correct documentation pages once we upload the new version of the redirects mapping document. If you have no other concerns, then I think we can consider this ticket QAed.

[2022-11-01 10:55] techanvil commented on #4878
Hi @mohitwp, thanks for your comment. To answer your questions:

Q1) Yes, it is acceptable for the layout to shift if the widget encounters errors. We have to choose a fixed height loading state because we don't know whether there are any errors until the widget has loaded. So it's not possible for us to show a loading state that works for both success and error states. That is, unless we update t

[2022-11-01 10:59] mohitwp commented on #5074
### QA Update ✅

- Verified on both latest and dev environment using QAB.
- On latest environment I'm able to reproduce issue.
- On dev environment errors are not showing if Tag Manager module is not available.

https://user-images.githubusercontent.com/94359491/199218497-59bdd92f-7bef-4b13-9c96-0e87a969d4f2.mp4

[2022-11-01 11:50] nfmohit commented on #5569
I have opened #6093 to address the update above.

[2022-11-01 13:41] techanvil commented on #6080
IB :white_check_mark:

[2022-11-01 14:51] bethanylang commented on #5693
@marrrmarrr Adam, James, and I discussed this a bit further in our support sync today and we identified another area for improvement here – outlining it below, but let me know if it would be better on its own. cc @FlicHollis

This goes back to the same overarching issue that @jamesozzie flagged, where the kind of "pending" state of the AdSense setup in Site Kit can be confusing to users. In this c

[2022-11-01 14:51] asvinb commented on #5969
@adamdunnage Weirdly i can reproduce the issue intermittently. First time I tried, I got the error message in the console. Then after a couple of refresh and not doing anything specific that would alter the plugin, the error was not there. Check the screencast below, where I refresh the page, but there are no errors:

https://user-images.githubusercontent.com/31818/199262572-883026e0-0373-4895-b10

[2022-11-01 15:41] jamesozzie opened #6095 "UpCloud - google_api_connection_fail"
## Bug Description

Check for any possible block at host level from UpCloud servers. [One user in the support forums](https://wordpress.org/support/topic/error-connecting-5/#post-16149588) is encountering the below on sites hosted on a specific server, while not on others.

[code]

The same user who opened the related support topic, who manages or supports multiple sites reported the below:

There

[2022-11-01 16:22] tofumatt commented on #6077
Thanks! IB ✅

[2022-11-01 17:57] jamesozzie commented on #5691
Closing this with no response from impacted user, and no further reports. To be opened if reported once more in the [plugin support forums](https://wordpress.org/support/plugin/google-site-kit/).

[2022-11-01 17:57] #5691 closed

[2022-11-01 18:00] jamesozzie commented on #4600
Closing this with the googlesitekit_adsense_tag_blocked available to ensure the AdSense snippet is not inserted for specific roles. The same filter can be used with modification to ensure Site Kit doesn't insert any AdSense code on content types, on specific pages, categories or custom post types.

There is a setting within Site Kit to ensure ads don't appear for logged in users. This is enabled b

[2022-11-01 18:00] #4600 closed

[2022-11-01 18:10] techanvil commented on #5802
Thanks @felixarntz - that sounds fine to me. Appreciate the point about having both versions around together, and how avoiding that would also be desirable.

As we were, then. :)

[2022-11-01 18:15] tofumatt commented on #5891
Looks good, but the mocks in the Figma design don't seem to show other questions as being "greyed out"/"disabled" when not open:

<img width="597" alt="CleanShot 2022-11-01 at 18 14 09" src="https://user-images.githubusercontent.com/90871/199307566-68bf722e-a20f-4728-9ba2-99db2317e6f9.png">

Should that be part be omitted from the IB?

[2022-11-01 19:29] aaemnnosttv commented on #6006
@wpdarren @mohitwp – the 0,1,2 js files are only present in a development build, but the issue is not development/local specific, the assets just have different IDs in a production build, (currently 31,32,33 plus a hash) so the QAB should have surfaced this.

I did verify that the issue is fixed though as can be seen here with the current release on the left and the development build on the right

[2022-11-01 19:50] aaemnnosttv commented on #5915
@mohitwp the element does appear to have the necessary `aria` attributes as this point calls for. These are for screen readers though and do not provide any kind of styling on their own, nor does this issue call for stylistic changes. While this would be good to consider going forward, I believe the criteria here are fulfilled but I'll let @tofumatt confirm that as I believe he is the one who wrot

[2022-11-01 20:00] tofumatt commented on #5915
Confirmed that this fulfils the ACs and further styling work can (and should) be part of #6037. Adding styles to this issue isn't needed and will complicate it, but for now screen readers will have the context that these elements are expandable.

Technically it's not great for sighted keyboard users, but at least they have the aria elements, so I think we can consider the QA passed for this and ha

[2022-11-01 21:36] kuasha420 commented on #5891
@tofumatt good spot, the other question should be off screen or not visible at all. There was a discussion about adding some animation ie. sliding in and out the questions, but that discussion got stalled and we didn't have anything definitive from the UX team.

cc @eclarke1

[2022-11-02 02:03] aaemnnosttv commented on #6003
I don't think we should request this on every visit to the dashboard, and we also shouldn't make the request during the page load. Maybe that's not what you had in mind either, but my idea for that strategy was more to refresh the profile data from a request invoked by the client (perhaps throttled by a cached request TTL).

Access tokens only last for an hour after which they're refreshed on-dema

[2022-11-02 02:12] aaemnnosttv commented on #4878
## ⚠️ QA

I just noticed that this change has resulted in the mobile report for PSI to be requested on the initial load of the dashboard, even when the Speed section is not active. This regression is due to this `useSelect` that moved from an inner component where it wouldn't have been invoked previously.

All of a component's report-based selectors for a widget should use `useInViewSelect` to laz

[2022-11-02 05:56] mohitwp commented on #5987
### QA Update ✅

- Verified on both latest and dev environment.
- Verified for analytics, search console and AdSense module on main, entity and WP dashboard.
- On dev 'Get help' link slug changed successfully to - $`{ moduleSlug }_insufficient_permissions.`

**Note :** Redirection is not currently correct, but Eugene has suggested that this will be fixed when we upload the new version of the redir

[2022-11-02 08:35] asvinb commented on #5891
@kuasha420 It'll be a weird UX experience when the user clicks on a question to "Edit" and the other questions are not visible. Consider editing the third question and the first 2 questions are no longer visible which will trigger a big layout shift and can be confusing for the user. I can still see the greyed out other questions on small screens designs:
https://www.figma.com/file/CdtrHB0HAjfGRWT

[2022-11-02 08:36] mohitwp commented on #6006
### QA Update ⚠️

Thank you @aaemnnosttv !

- Verified on dev and latest environment.
- On latest environment requests in the network console for chunks related to the AdSense graphics are getting load (31, 32 and 33).
- On dev environment chunks related to the AdSense graphics are not getting load when CTA is dismissed. (31, 32 and 33).

@sashadoes

**Question** :- Initial issue is resolve now. B

[2022-11-02 08:47] mohitwp commented on #5915
### QA Update ✅

Thank you @aaemnnosttv @tofumatt.
Issue Reported here - will get resolved through separate PR - https://github.com/google/site-kit-wp/issues/6037.

- Verified on both latest and dev environment.
- Able to reproduce issue on latest - connected services toggle getting open close by pressing any key and also keyboard navigation not working.
- Verified on dev - The settings interface

[2022-11-02 09:50] nfmohit commented on #5345
Very interesting finding. Thank you, @kuasha420!

[Here is the PR](https://github.com/google/site-kit-wp/pull/6088) that was created by the scheduled workflow.

There are two issues:
- Merge conflicts as @kuasha420 mentioned [above](https://github.com/google/site-kit-wp/issues/5345#issuecomment-1298194585).
- The `cla/google` [check failing](https://github.com/google/site-kit-wp/pull/6088#issuecom

[2022-11-02 10:27] techanvil commented on #4878
Thanks @aaemnnosttv, good spot there. I have raised a followup PR, #6097.

[2022-11-02 10:49] techanvil commented on #6076
IB :white_check_mark:

[2022-11-02 11:38] techanvil commented on #4793
Hi @nfmohit, thanks for the IB. I would suggest a slightly different approach here, though. Rather than providing an `onClick` handler I would just pass the dashboard URL as the `href` attribute to the `Link`, ensuring an `a` anchor tag will be rendered. That way the link is more screen reader friendly, can be ctrl/command-clicked to open in a new window, and also will show the link address on hov

[2022-11-02 11:42] nfmohit commented on #4793
Thank you for the kind review, @techanvil!

Should we pass the dashboard URL for all scenarios? I ask because the AC mentions the page should just be reloaded for splash screens.

[2022-11-02 11:46] sashadoes commented on #6006
Hi @mohitwp. Thanks for your question.
I have not changed any file load logic within this ticket.
Looks like the same files have different chanks on dev assuming the dev build is in place.
I personally do not see any issues.

[2022-11-02 11:46] tofumatt commented on #5345
Ohhh, I see. I guess that's because the browserlist PR is using the same branch name all the time. The best way around that I'd think would be to have the branches have a date or something else unique in the branch name.

Adjusting this https://github.com/google/site-kit-wp/blob/develop/.github/workflows/browserslist-db-update.yml#L33 to have a variable in it should prevent merge conflicts… maybe

[2022-11-02 12:07] nfmohit commented on #5345
Thank you for the brilliant tip there, @tofumatt!

One follow-up question: what would happen to the existing PR(s) in that case? With each new branch, a new PR would be created. Wouldn't that create confusion about having multiple PRs?

Thanks!

[2022-11-02 12:07] tofumatt commented on #5891
I agree with @asvinb… greying them out seems like a good compromise and I think indicates better how it should work. It's also more consistent with the rest of our UIs.

Also I see the greyed out is in mobile but not desktop. I think I mostly looked at the desktop so thought it wasn't part of the design.

Let's go with the greyed out inactive questions, so let's adjust the IB for that, even though

[2022-11-02 12:10] tofumatt commented on #5345
Ideally, we would delete the old PRs… something like https://github.com/dawidd6/action-delete-branch (that's archived, so maybe not that exact one), that would delete all old `update/browserslist-db-*` branches before making the new one.

[2022-11-02 12:18] nfmohit commented on #4793
Very valid point. I have updated the IB. Thank you @techanvil!

[2022-11-02 12:26] techanvil commented on #4793
Thanks @nfmohit. LGTM!

IB :white_check_mark:

[2022-11-02 13:38] mohitwp commented on #6006
### QA Update ✅

Thank you @sashadoes.

- Verified on dev and latest environment.
- On latest environment requests in the network console for chunks related to the AdSense graphics are getting load (31, 32 and 33).
- On dev environment chunks related to the AdSense graphics are not getting load when CTA is dismissed. (31, 32 and 33).
- When CTA is **not** dismissed then chunks related to the AdSen

[2022-11-02 13:46] aaemnnosttv commented on #5345
I asked @felixarntz about this but don't have an answer yet about whether or not the CLA check failure would be a problem. The check doesn't prevent us from merging the PR but hopefully this won't be a problem for us – standing by to hear from Felix.

[2022-11-02 13:58] techanvil commented on #5858
Hey @aaemnnosttv, I must confess I don't see much benefit in keeping `getErrorForSelector` but only returning the `error` from it. To me the selector would then be a bit confusingly named as it would essentially just be a wrapper for `getError`.

Seeing as we now have the `getSelectorDataForError` selector which does check whether the named selector exists, it strikes me that this, in combination