[2020-07-02 15:28] aaemnnosttv commented on #1617
@felixarntz - @eugene-manuilov and I talked about the first test described for "Creating an Analytics account" and it doesn't seem useful to go past the redirection to the TOS page since we would have to intercept that request to send the user back to the `gatoscallback` URL. This would require we mock API plugin on the server to handle the `create-account` request so that the transient would be s

[2020-07-02 17:49] aaemnnosttv commented on #1611
@felixarntz this has been reverted - assigning to you to move/close.

[2020-07-02 17:51] aaemnnosttv commented on #1725
@felixarntz #1611 has been reverted so I'm assigning this one to you and moving it back to AC for now.

[2020-07-02 19:16] eugene-manuilov commented on #1617
@felixarntz @aaemnnosttv auto submission isn't implemented for analytics settings edit form. Thus these two last points doesn't make sense in property and profile creation tests. I have implemented tests that check that if a user doesn't have sufficien permission, they will see a permission dialog and be redirected to the OAuth when they click "Proceed" button.

[2020-07-03 08:15] aaemnnosttv commented on #1617
@eugene-manuilov that's correct - the auto-submit is not currently possible in the settings screen context because the submit button/action is outside of the settings components. It is possible however in the module set up context. Since the AC doesn't specify the context, we should be able to test both of these in the module set up context.

[2020-07-03 09:57] MiraSm commented on #459
Is this update planned in the near future?

[2020-07-03 10:07] jamesozzie commented on #459
@jonathannz @MiraSm We're working on some additional updates at present, including #1728 which you may find of interest, with additional event tracking for WooCommerce. But keep watch of this issue, we'll add any updates to this feature request here.

@jonasskafte there should be no issues with compatibility. If you encounter any problems you can open a support topic on the WordPress support page

[2020-07-03 10:14] MiraSm commented on #1728
If you release it, it will be a bomb. And will this plugin itself simply transmit events to GA, or place a datalayer in code?

[2020-07-03 14:03] tofumatt commented on #1456
This one has me a bit stumped, because I don't seem to have a collection of accounts with actual Search Console data to load and compare with. I tend to test things with one account, so I'm not able to properly define the IB here because I can't get an exhaustive list of outbound links to appear with the issue. Unassigning myself for now in the hopes that someone else has the right number of accou

[2020-07-03 14:51] tofumatt commented on #1651
Hmm, sadly I tried to replicate the issue with the steps and code provided here but I couldn't get an error. I used that JSON and got no error.

@ernee Could you record a screencast of exactly what you did to get the error so I can follow the steps and see where it is? I feel like I'm missing something here because I'm not able to reproduce.

[2020-07-03 18:16] eugene-manuilov commented on #1356
@felixarntz @aaemnnosttv @tofumatt i have prepared a few separate PRs to upgrade dependencies in chunks. Could you please review it and merge if possible? I need it to be merged to unblock another updates.

* Gulp tasks: https://github.com/google/site-kit-wp/pull/1737
* Babel and webpack: https://github.com/google/site-kit-wp/pull/1738
* Material packages: https://github.com/google/site-kit-wp/pul

[2020-07-03 19:47] eugene-manuilov commented on #1617
@aaemnnosttv there is no way to create a new property or a new profile when we are creating a new account. The only way is in the settings screen as far as I see it. Or am I missing something?

[2020-07-03 19:52] eugene-manuilov commented on #1300
QA :heavy_check_mark: - All looks good now.

[2020-07-03 22:17] Skyesie commented on #1632
Try delete the "false#" in the search bar area. worked for me.

[2020-07-03 22:45] flexzydonald opened #1741 "Data error in search console"
Permissions issue accessing data
This account does not have access to the requested data.

User does not have sufficient permission for site 'https://nigeriaschoolnews.com.ng/'. See also: https://support.google.com/webmasters/answer/2451999. I just started seeing this recently, what does it mean and how can it be fixed?

![9224624A-A4F8-401D-A4A2-77B7C7E2777C](https://user-images.githubusercontent

[2020-07-06 07:54] aaemnnosttv commented on #1617
@eugene-manuilov a new property and view are created as part of the account creation/provisioning process on the Google side. So after the account creation is completed, you will have a new property and view for the new account but it doesn't create these from the Site Kit side, if that's what you're asking?

[2020-07-06 11:00] jayendrasinhrajput commented on #1540
I think this issue created after the latest google site kit update.

please check previous version files and try to update them

[2020-07-06 13:31] marrrmarrr commented on #1714
Lots of good points here.
- Definitely makes sense to rephrase the initial screen (step 1 here) to clarify what's happening is actually just connecting the second admin's account to Site Kit, which has already been set up.
- We don't control what's displayed on the OAuth screens (step 4 in the original description), so that copy will remain as-is.
- Regarding site verification (step 3) -- @adamsil

[2020-07-06 16:55] jamesozzie opened #1742 "Search Console data is not yet available: Investigate API data to improve dashboard notice"
## Bug Description

At present users may see data when checking the Search Console web interface yet their Site Kit dashboard will display the following notice:

`Search Console data is not yet available `

![image](https://user-images.githubusercontent.com/41326532/86616364-a2374500-bfad-11ea-9a8e-94e0a83e9f42.png)

This blue box may occur in the following conditions:
- Search traffic is low
- A

[2020-07-06 17:55] felixarntz commented on #1714
@marrrmarrr Yes, we'll need to verify ownership for all users that use Site Kit, with a verification token as necessary.

I've provided ACs based on the wording you outlined. One small thing is we should probably say "another user" rather than "another admin" - while the latter is right now more accurate, we should make the wording account for that non-admins would be able to use the plugin too (j

[2020-07-06 18:46] felixarntz opened #1743 "Fix first admin usage and introduce concept of ownership"
While the goal of Site Kit is to treat all administrator users as equal in terms of their permissions, it is crucial to have the concept of ownership for certain parts of the plugin, e.g. to indicate that a certain administrator user originally configured it.

As part of this issue, no visual changes should be made yet, but the necessary infrastructure should be put in place to have awareness of o

[2020-07-06 18:51] felixarntz commented on #1654
@tofumatt Regarding linting the IB is good, however it only addresses the second point of the ACs. I guess an IB for how to move files to a `components` folder isn't _really_ needed, but let's make sure that is covered in the PR.

(IB ✅ )

[2020-07-07 06:22] cole10up commented on #1694
Moving to Approved, worked with @aaemnnosttv to confirm console output.

[2020-07-07 07:22] cole10up commented on #1666
**Tested**

Installed latest SK release candidate and activated with Adblocker on

![image](https://user-images.githubusercontent.com/57115907/86734736-14784b80-bfe7-11ea-8b19-363283d09ab5.png)

![image](https://user-images.githubusercontent.com/57115907/86734816-2659ee80-bfe7-11ea-92e3-3fa58b4733e7.png)

Disabled Adblocker and clicked install module

![image](https://user-images.githubusercontent

[2020-07-07 08:42] aaemnnosttv opened #1744 "Release 1.11.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-07-07 11:14] eugene-manuilov commented on #1617
@aaemnnosttv i meant that we can't do what you said:`Since the AC doesn't specify the context, we should be able to test both of these in the module set up context.` - we can test new property and new view creation only on the settings page.

[2020-07-07 12:48] jamesozzie commented on #1741
@flexzydonald Thanks for getting in touch. Initial support requests can be submitted using the plugins WordPress support forum.

If you open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing your [Site Health information](https://i.imgur.com/Rtkmsba.png) we can try and determine the root cause in your case, while revisiting this GitHub issu

[2020-07-07 12:48] #1741 closed

[2020-07-07 13:05] adamsilverstein commented on #1666
@cole10up
* The last screen where you see "Error: You are probably offline" should instead show a message indicating that your Ad blocker needs to be disabled.
* The final screen with a flash of the error message seems wrong - as far as I can tell, setup is not yet "complete" from the plugin perspective, so I would expect the ad blocker message to continue showing.
* Once setup is complete and we

[2020-07-07 15:07] aaemnnosttv commented on #1666
@adamsilverstein @felixarntz

This would require us to either:
* update all fetch controls in the AdSense store to `receiveIsAdBlockerActive( true )` if the request fails with the `code: 'fetch_error'` although this currently isn't possible because `createFetchStore` control callbacks don't have access to the registry.
* Update the `ErrorNotice` component to conditionally render the `AdBlockerWarn

[2020-07-07 16:26] felixarntz commented on #1666
@aaemnnosttv

Hmm but which request exactly got blocked there? Maybe we need to change our JS file name yet another way so it would catch that REST route too? I don't think we should go any further than that with the ad blocker handling.

@adamsilverstein

This UI is okay as is for now, for the following reasons:
* The screen is part of the dashboard, not setup. At this point the setup is technica

[2020-07-07 17:43] aaemnnosttv commented on #1666
I looked into this with @cole10up and it requires that you enable your Ad Blocker **after the screen loads** on this step before clicking "Continue":
![image](https://user-images.githubusercontent.com/1621608/86819604-92446180-c090-11ea-9fc5-28377c199616.png)

When clicking the button, the POST request to AdSense settings is blocked and you're left in the same place with the error
![image](https:/

[2020-07-07 17:53] felixarntz commented on #1666
@aaemnnosttv Oh that makes sense. If this only happens because the ad blocker was enabled during page lifecycle, I think it's not worth the effort. The main use-case for this detection is browsers that generally have an ad blocker active, to inform users they need to disable it. While you can turn an ad blocker on during page lifecycle, for the vast majority of cases checking on pageload will be s

[2020-07-07 18:29] aaemnnosttv commented on #1666
@cole10up - moving this to Approval unless there are any cases you found where this was possible that didn't require the AdBlocker to be toggled after the page was loaded in WP?

[2020-07-07 19:33] cole10up commented on #1666
No other cases were found outside of togging the ad blocker after pages were loaded. This is good on my end.

Passed QA ✅

[2020-07-07 20:26] cole10up commented on #1717
**Tested:**

Installed and enabled Tag Assistant for my site. Installed lates SK release candidate.

![image](https://user-images.githubusercontent.com/57115907/86838208-be41f180-c054-11ea-8547-da60100df9c1.png)

Reset SK checked non-site kit pages:

![image](https://user-images.githubusercontent.com/57115907/86838363-ecbfcc80-c054-11ea-8724-a6e21b625ddd.png)

![image](https://user-images.githubus

[2020-07-07 20:35] cole10up commented on #1621
**Tested**

Installed latest SK release candidate. Ran through a series of regression test around optimize. Installing module, uninstalling. Confirming container setup.

![image](https://user-images.githubusercontent.com/57115907/86839684-98b5e780-c056-11ea-9cf7-252a8f61208d.png)

Passed QA ✅

[2020-07-07 20:37] cole10up commented on #1744
Ran a series of regression tests, installing the release candidate.

Activated all modules, ensured basic functionality, uninstalled modules. Reset SK, setup SK again, deactivated and deleted.

Smoke test Passed QA ✅

[2020-07-07 21:38] #1610 closed

[2020-07-07 21:39] #1677 closed

[2020-07-07 21:39] #1605 closed

[2020-07-07 21:39] #1632 closed

[2020-07-07 21:39] #1460 closed

[2020-07-07 21:39] #925 closed

[2020-07-07 21:39] #1385 closed

[2020-07-07 21:39] #716 closed

[2020-07-07 21:39] #1300 closed

[2020-07-07 21:39] #1694 closed

[2020-07-07 21:39] #1666 closed

[2020-07-07 21:39] #1717 closed

[2020-07-07 21:39] #1621 closed

[2020-07-07 21:56] #1744 closed

[2020-07-07 22:04] felixarntz opened #1748 "Ensure `bin` directory is no longer included in release ZIP file"
## Bug Description

Since we removed the WP CLI commands from the `bin` directory and it is now used for internal tools, the directory should no longer be included in a release ZIP.

I fixed this manually for the 1.11.0 release, but it should be automatically handled in the future.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

[2020-07-07 22:11] felixarntz opened #1749 "Implement `StoreErrorNotice` component"
## Feature Description

Almost all of our Site Kit modules currently implement an `ErrorNotice` component, which works the same way across and thus is duplicated throughout them. We should implement a single `StoreErrorNotice` component instead and remove all the duplicates.

While the `getError` selector is not technically abstracted yet, let's keep that as is for now. Having this component is al

[2020-07-07 22:21] felixarntz commented on #1731
@aaemnnosttv

👍  That sounds like a cleaner approach, I didn't have `wp_schedule_single_event` in mind - a regular cron event would be unsuitable, but this should work well!

I don't think this should be an issue? As far as I'm aware WP cron runs in isolation from the main request, it's just (by default) triggered through a user-initiated request.

I'll update the IB.

[2020-07-07 23:06] felixarntz commented on #1611
@aaemnnosttv @tofumatt @ryanwelcher I've amended the ACs to also include the small module-related fixes previously part of #1725 and already implemented there (these changes can be taken from #1732). The original ACs remain pretty much the same, I've just clarified further. I've also added an IB ready for review.

[2020-07-07 23:07] felixarntz commented on #1725
#1611 has been updated with a new approach that covers the relevant parts from here as well (this was originally just a follow-up anyway). Closing.

[2020-07-07 23:07] #1725 closed

[2020-07-08 06:40] Saibamen commented on #1661
Please link commit ID for closed issues...

[2020-07-08 07:16] aaemnnosttv commented on #1731
It's not so much about contamination with the main process as that wouldn't be possible but between crons if/when we add another.

I suppose we don't need to use separate dependencies for these kinds of handlers as long as we always set the user ID in them.

[2020-07-08 07:34] aaemnnosttv commented on #1731
@felixarntz there was one reference to the old IB that I removed but otherwise looks great.

![image](https://user-images.githubusercontent.com/1621608/86890298-c3ab4480-c105-11ea-920c-7c45a8491a84.png)

This still needs an estimate so I'll add that, but IB ✅

[2020-07-08 08:27] aaemnnosttv commented on #1646
@felixarntz - this looks good, just one point to clarify in the IB here:

`ErrorHandler` is our error boundary component which displays the stack trace when an error is not caught by other components. I think you mean the `ErrorNotice` components which are used for displaying the `error` state in the datastore?

[2020-07-08 09:35] finalhit commented on #6
Shouldn't this be a top priority feature request? All webmasters and agencies need this for their clients.

[2020-07-08 10:22] aaemnnosttv commented on #1381
@felixarntz I've made some updates here but still WIP.

I think we need to also check `hasTagPermission` with the "detected tag" in GTM, since there is no guarantee that the ID in the container is one that your user has access to as it is entered manually. We should essentially treat this as an existing tag as it would also result in duplicate tracking.

What do you think? I feel like adding anoth

[2020-07-08 12:10] jamesozzie opened #1750 "Ensure awareness of snippet status prior to or during plugin deactivation or uninstall"
## Bug Description

At present a user may uninstall Site Kit after using the plugin to place the various Google services snippets. This can result in future data not being collected, which users may not be aware of.

While there are different methods to uninstall a plugin consider some approaches that would alert users to the implications, or suggesting they manually place the activated product sn

[2020-07-08 12:39] superfein opened #1751 "Add a setting for siteSpeedSampleRate to the Gtag snippet"
## Feature Description

For web performance engineers, being able to set the siteSpeedSampleRate to 100 can provide a more complete user data when measuring performance and UX bottlenecks.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## QA Brief

*

## Changelog entry

*

[2020-07-08 13:14] ryanwelcher commented on #1707
@felixarntz in working on this, we discovered a bug in `isDoingGetAccounts` specifically around `isAwaitingAccountsPropertiesProfilesCompletion`. It seems that if the request fails, that `isDoingGetAccounts` never changes. cc @aaemnnosttv

[2020-07-08 13:18] dingo-d opened #1752 "Control the output of the Google scripts"
## Feature Description

It would be great if there was a way to define where we want the analytic scripts to load. The reason for this is that I have a GDPR plugin that will block or load certain parts based on the consent from the user, so if the user says: don't load tracking cookies, I wouldn't load them on the site for that user.

---------------

_Do not alter or remove anything below. The fo

[2020-07-08 14:42] aaemnnosttv commented on #1617
@eugene-manuilov I see what you mean now, although this is a bug introduced in #716 as it should be possible to create a new property and view during setup. Because `ProfileNameTextField` is not rendered when the option is selected, the default value is not set and so `canSubmitChanges` blocks submitting the form because the profile name is empty and thus invalid.

I'll create an issue to fix this

[2020-07-08 14:49] aaemnnosttv commented on #1617
Actually, since the actual code change to fix this is so small we should probably fix it here as a separate issue to fix would need tests for it anyways.

This change fixed it for me although this should be thoroughly tested:
[code]

[2020-07-08 18:21] felixarntz commented on #1608
Fixed via #1715.

[2020-07-08 19:36] adamsilverstein commented on #1280
@felixarntz @aaemnnosttv: confirming I do some updates from the Analytics team side, they are currently looking into this issue and have confirmed they may have a bug. Let's keep this ticket on hold for now until we have a better sense for the time to resolution.

[2020-07-08 19:40] eugene-manuilov commented on #1617
@felixarntz @aaemnnosttv here is a PR for the hotfix: https://github.com/google/site-kit-wp/pull/1753

[2020-07-08 20:17] felixarntz commented on #1646
@aaemnnosttv Yes that's correct. I've updated the IB and also added some clarification related to the wording from the ACs (the copy containing the link should be adjusted to match the second sentence from the messages in the ACs; the error messages themselves should then only be the first part of that).

[2020-07-08 20:43] felixarntz opened #1754 "Fix view name field not displaying in Analytics setup"
## Bug Description

While the new field to enter an Analytics view name when creating a new view (#716) should appear both in Analytics setup and settings, it is currently not present in setup, blocking the setup from being completed when a user attempts to create a new view (since providing the view name is still a requirement).

See https://github.com/google/site-kit-wp/issues/1617#issuecomment-

[2020-07-08 20:45] felixarntz commented on #1617
Opened a separate issue #1754 for tracking since this will go into its own hotfix release.

[2020-07-09 01:37] felixarntz commented on #1381
@aaemnnosttv IB looks good so far, a few comments:

Maybe we should omit the `hasAnalyticsProperty()` selector and only rely on the `getAnalyticsProperty()` selector. The `error` in the object the latter returns is important to consider; using `hasAnalyticsProperty()` is just a tiny fraction simpler, but the problem here is it doesn't consider the error. The name is slightly off because even if th

[2020-07-09 03:52] cole10up commented on #1754
**Tested**

Installed latest release candidate to reproduce the issue.

Was able to see the issue below:

![Site Kit by Google Dashboard ‹ Related Pelican — WordPress](https://user-images.githubusercontent.com/57115907/86994783-216a7b80-c15c-11ea-832e-413ec58b41be.gif)

Installed 1.11.1, activated and ran through Analytics setup.

![Sign in - Google Accounts (2)](https://user-images.githubusercont

[2020-07-09 03:58] felixarntz commented on #1356
@eugene-manuilov I've approved and merged all 4 PRs. What's left here now? Would be great if you could provide an update, and then we can decide whether we're gonna invest the time or create separate follow-up issues for later.

[2020-07-09 04:01] felixarntz commented on #1707
@ryanwelcher Thanks for flagging! Did you find a solution to the bug yet, or is that something where another pair of eyes would help?

[2020-07-09 06:41] aaemnnosttv commented on #1754
@felixarntz Reopening this as the warning icon is still missing from the profile name field if the new name matches an existing view.

This displays correctly in the settings, it's likely just a missing style for the setup.

**Expected**

![image](https://user-images.githubusercontent.com/1621608/87005850-58767680-c1c8-11ea-875a-c83536ea44d8.png)

**Actual**
![image](https://user-images.githubuser

[2020-07-09 08:05] swissspidy commented on #1540
I might be missing something, but my understanding is that this notification bubble is not for updates, but for wins and alerts from individual modules.

Curious to hear whether clearing local storage fixes this.

To clear storage in Chrome, go to your WordPress admin, and open the browser's developer tools (press <kbd>F12</kbd>). Then head over to the "Application" tab and click on "Clear site da

[2020-07-09 08:15] jamesozzie commented on #1751
@superfein Many thanks for the suggestion. I've marked this for the team to review.

[2020-07-09 10:02] aaemnnosttv commented on #1381
Thanks @felixarntz I think this is should be finalized now. 😅

One last thought I have here regarding secondary AMP is if one container has a detected Analytics tag, and the other is set to `container_create` I believe we should treat it the same as if it were a non-matching property ID (that's what I have above). We won't create it with the Analytics tag so we should probably treat it the same as

[2020-07-09 10:14] aaemnnosttv commented on #1707
@felixarntz it's a limitation of the `createFetchStore` since the `reducerCallback` is only called on success. I forget why this state was added again? 🤔

I wonder if `isDoingGetAccounts` should simply select `getAccounts` and return `accounts === undefined` ? That way it would always be accurate without being coupled to a resolver or any state other than accounts. What do you think? It ends up ha

[2020-07-09 12:33] joshin-run commented on #1632
Same issue.

[2020-07-09 12:49] joshin-run commented on #1632
I fixed it. Details below:
- I removed the script from the website in another tab:
``
`<script async src="https://www.googletagmanager.com/gtag/js?id=UA-000000000-1"></script>`
`<script>`
`window.dataLayer = window.dataLayer || [];`
 `function gtag(){dataLayer.push(arguments);}`
  `gtag('js', new Date());`
  `gtag('config', 'UA-000000000-1');`
`</script>`

- first, I did was @Skyesie said and dele

[2020-07-09 13:26] laith81233 opened #1756 "Couldn't create project"
I am facing this problem
Couldn't create project

field [project_id] has issue [project_id contains invalid characters]

How can it be solved ?

I use
WordPress the latest version
And hosting fromfastcomet
url : https://tectaw.com/

[2020-07-09 17:14] felixarntz commented on #1707
@ryanwelcher @aaemnnosttv Oh this is actually a bug in the `getAccounts` resolver. The call `dispatch( STORE_NAME ).receiveAccountsPropertiesProfilesCompletion();` needs to happen after the if clause, so regardless of whether the request was successful or not. The same fix needs to be applied to the `getProperties` resolver, where `dispatch( STORE_NAME ).receivePropertiesProfilesCompletion( accoun

[2020-07-09 17:32] felixarntz commented on #1754
@cole10up Ready for another quick QA, see the above UI issue. We now also have Storybook stories for this state:
* Setup: https://google.github.io/site-kit-wp/storybook/master/?path=/story/analytics-module-setup--create-new-view
* Settings: https://google.github.io/site-kit-wp/storybook/master/?path=/story/analytics-module-settings--edit-open-when-creating-new-view

[2020-07-09 17:55] eugene-manuilov commented on #1617
@aaemnnosttv ok, #1735 is ready for review. I have reworked it a bit to match AC requirements.

[2020-07-09 18:22] felixarntz commented on #1392
With this getting merged, be aware that running a development build (`npm run build:dev`) will from now on include an unfinished and unpolished duplicate list of widget areas in both the dashboard and the single page dashboard. Due to some grid constraints and to keep things simple alongside the existing production UI, **the new widget areas are slightly further indented**. Let's keep it this way

[2020-07-09 18:23] cole10up commented on #1754
**Retested**

Installed latest fix with the UI issue, confirmed below.

![Site Kit by Google Dashboard ‹ Related Pelican — WordPress (1)](https://user-images.githubusercontent.com/57115907/87076200-40a5ef00-c1d6-11ea-95d0-fb0cfe0c4fa6.gif)

Checked existing Analytics functionality:

![image](https://user-images.githubusercontent.com/57115907/87076288-6632f880-c1d6-11ea-80b1-0cb1521c67ce.png)

UI m

[2020-07-09 18:32] #1754 closed

[2020-07-09 19:21] tofumatt commented on #1611
We discussed the issues of the timeout vs having the data store emit an event, but I suppose thinking about it—how does the data store know when to invalidate things? I suppose it might be nice to invalidate the cache after X amount of time (say `1000ms` after the FIRST bit of data is retrieved from the preloaded cache middleware), just so we don't prematurely invalidate the cached data and lose o

[2020-07-09 21:03] tofumatt commented on #1651
(Screencast sent to me so I'm taking a look at this again.)

[2020-07-09 22:03] tofumatt commented on #1651
Looks like the error it's encountering is here: https://github.com/google/site-kit-wp/blob/766e3860b083cc8b679af66d717b0c7e4b37872b/assets/js/googlesitekit/data/create-settings-store.js#L281

Reporting that for now, but looking into the issue and fix further...

[2020-07-10 07:51] aaemnnosttv commented on #1611
I had a similar thought as well. Let's initialize the timeout the first time the middleware runs 👍  It should only be set once though, so its `timeoutID` should be stored and the timeout only initialized if there isn't one.

There are a few related fixes that were in the PR for 1725 that may still be necessary (see https://github.com/google/site-kit-wp/pull/1732).

One key difference with this ver

[2020-07-10 08:07] aaemnnosttv commented on #1611
@tofumatt @felixarntz I updated the section about the preloading middleware implementation - assigning back to you for final review.

[2020-07-10 08:25] jayendrasinhrajput commented on #1540
@swissspidy no that is not the case !

I tried it already but did not help

[2020-07-10 08:44] brandomeniconi commented on #1523
If there is something I can do to help please let me know. We have more than 100 sites on bedrock and we will to upgrade all of them to SiteKit, but we are stuck to this bug. In few sites we are able to make it work, but every one we are trying now it's failing to authenticate.

Thanks!

[2020-07-10 09:07] aaemnnosttv commented on #1523
Hi @brandomeniconi - are there any common differences between the sites that are not able to authenticate and the sites that work? As someone with so many sites this would help a lot as it seems that Bedrock itself is compatible with Site Kit as far as I can tell.

[2020-07-10 09:58] enderax opened #1757 "Site kit stopped working"
## Bug Description

After updating to 1.11.1 version, Site Kit has stopped working. When I click Site Kit on the left side of Wordpress panel, I only see blank screen. Disabling it then enabling didn't help.

## Steps to reproduce

1. Go to Plugins and update Site kit to 1.11.1
2. Click on Site Kit on the left side of Wordpress panel
3. See blank screen.
4. Open Developer tools console if you want

[2020-07-10 13:14] jamesozzie commented on #1757
@enderax It looks like you've encountered the same issue as described in a [related GitHub issue, #1054](https://github.com/google/site-kit-wp/issues/1054). Please try clear your browsers cache and purge your CDN if active.

If that fails to resolve the issue feel free to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing your [Site Hea

[2020-07-10 13:14] #1757 closed

[2020-07-10 17:41] tofumatt commented on #1651
The error is actually that we consider an invalid tag an existing tag on the site. I suppose this is fair, but it's a bit odd that an invalid ID (that presumably won't cause Analytics events to fire) is flagged as an existing tag. Weirder is that we weren't verifying if the tag was valid before setting it, so we'd end up with 404s for a tag with invalid characters and `invariant` errors trying to

[2020-07-10 17:42] felixarntz commented on #1611
@aaemnnosttv

Just to clarify, you mean invoked as in it's just called, regardless of whether it actually finds preloaded data or not, right? That makes sense, just want to clarify it should not wait until preloaded data is used for the first time, since such a request _may_ just not happen on pageload (although probably in most cases for us it will anyway).

IB ✅

[2020-07-10 17:45] aaemnnosttv commented on #1611
Yes, correct 👍

[2020-07-10 18:12] felixarntz commented on #1651
@tofumatt Agreed, if the tag is invalid, there is something wrong outside of our reach, so we should proceed as if there was no existing tag altogether.

[2020-07-10 19:43] felixarntz commented on #1651
@tofumatt I'm not sure about your suggested approach. I think we should apply the fix closer to the root of the problem: If there is an existing tag but it is invalid, there is nothing we can do, so it should just return `false` as if there was no existing tag. This also caters for the ACs "the existing tag should be ignored".

The current approach you're taking via the IB and #1760 is quite error

[2020-07-10 19:44] eugene-manuilov commented on #1356
@felixarntz here is one more PR: https://github.com/google/site-kit-wp/pull/1759 - it updates non wordpress packages. Once it's merged the remaining part will be to upgrade wordpress dependencies and test related packages.

[2020-07-10 19:49] felixarntz commented on #1356
@eugene-manuilov Merged!

[2020-07-10 19:50] tofumatt commented on #1651
My thinking is that saying that we _found a tag_ but that it isn't valid is a more flexible approach, but that's a good point. I'll adjust it so that any invalid tag is simply treated as not returning a truthy value from `hasExistingTag`.

I original thought about your proposed idea but wanted to see if I could provide a warning without too much effort. But I like the idea of it just saying an inv

[2020-07-10 19:53] tofumatt commented on #1611
Reviewed the updated IB here and it sounds great. Sounds like we're all in agreement so let's move this to execution 🙂

[2020-07-10 19:55] felixarntz opened #1761 "Refactor Autocomplete (Get rid of componentWillMount and componentWillReceiveProps)"
## Bug Description

On the Site Kit dashboard, a console warning is currently triggered due to usage of legacy component lifecycle methods: https://fb.me/react-unsafe-component-lifecycles

<img width="1664" alt="Screenshot 2020-07-10 at 12 49 16" src="https://user-images.githubusercontent.com/3531426/87192863-36eebb00-c2ac-11ea-9caa-bb6358b039ae.png">

The warning is only emitted on the Site Kit d

[2020-07-12 11:31] martin8032 commented on #1341
The problem still exists (WordPress 5.4.2, Site Kit 1.11.1).

[2020-07-12 16:06] sviluppomania commented on #1408
@jamesozzie news?

[2020-07-12 16:08] sviluppomania commented on #1348
@jamesozzie news?

[2020-07-12 19:41] eugene-manuilov commented on #1356
Here is a PR https://github.com/google/site-kit-wp/pull/1762 to upgrade all WordPress dependencies except @wordpress/data and @wordpress/script which can't be upgraded to the latest versions yet. It also includes a few additional changes to address deprecation warnings which have appeared after testing library upgrade.

[2020-07-13 06:59] cole10up commented on #1575
**Tested**

Ran a series of tests around Analytics setup and re-fetching my account. Was unable to reproduce this with the latest 1.11.1 release.

Sending to L2.

[2020-07-13 08:28] aaemnnosttv opened #1765 "Refactor waitFor actions with asyncSelect"
## Feature Description

Currently we have a number of common workarounds in place that would be better solved by existing (but not-so documented) solutions.

**Waiting for a selector to be resolved**

There are some cases where we always want the resolved value of a selector. In such cases we have added dedicated "wait" actions to be able to synchronously select the resolved value after.

This is

[2020-07-13 09:23] aaemnnosttv commented on #1609
## QA ✅

* All references to `get_datapoint_services` have been updated to use `get_datapoint_definitions`
* `get_datapoint_services` is now deprecated
* All modules now implement `get_datapoint_services` for all datapoints with matching definitions for previously defined services

[2020-07-13 10:10] brandomeniconi commented on #1523
Hi @aaemnnosttv I've sent some SiteHealts reports to @ernee via this topic https://wordpress.org/support/topic/plugin-setup-stuck-in-a-loop-without-any-error-notice/ of working and non-working sites. I have a wide range of combos of WP setups (multisite, single site, etc) and they all share the same environment (Google App Engine).

This is our deploy procedure that's actually failing to activate

[2020-07-13 10:22] swissspidy commented on #904
There are [ongoing efforts](https://wordpress.org/plugins/two-factor/) to bring 2FA directly to  WordPress core, without the need for any additional plugin. These efforts will allow anyone to use 2FA irregardless of method - be it Google Authenticator, a text message, or a hardware key.

[2020-07-13 13:58] jamesozzie commented on #1341
@martin8032 @levani854 If you'd like to create a [WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) we can investigate your specific setups. In previous cases it was mismatching URLs in a users WordPress settings or third party plugins causing this.

[2020-07-13 14:03] jamesozzie commented on #1408
Hi @sviluppomania, no update yet unfortunately. We're currently working on separate features, updates and enhancements at present. You'll be notified by one of the team members on the status of this feature request.

[2020-07-13 14:30] aaemnnosttv commented on #1523
@brandomeniconi thanks for the detailed reply. I've tested a standard Bedrock install (with home and siteURLs like you mentioned) a few times now and have yet to replicate the issue you're experiencing, so it's possible it's not Bedrock-specific.

One thing I noticed is that the URL for the file verification method returned a 404 on the site you referenced in the linked support ticket:
![image](ht

[2020-07-13 14:42] adamsilverstein commented on #1726
Yep, will do!

[2020-07-13 15:26] felixarntz commented on #1651
IB ✅

[2020-07-13 15:33] adamsilverstein commented on #1726
@felixarntz Missed this one last week, I have now updated the AC and IB to include the authorization flow when adding scopes/enabling a new module.

[2020-07-13 16:53] felixarntz commented on #1748
IB ✅

[2020-07-13 19:06] felixarntz commented on #1437
@aaemnnosttv I've looked into this for quite a bit now, and apparently this is not actually a bug; it's due to how the dialog component works: For accessibility reasons, it has to keep the focus within the dialog. And the way that the Material dialog component is built is that it re-focuses the initial focusable element whenever the entire page with the dialog opens receives focus again. The light

[2020-07-13 19:06] #1437 closed

[2020-07-13 19:43] adamsilverstein commented on #1750
@jamesozzie - Reviewing the available [Deactivation hooks in WordPress](https://developer.wordpress.org/plugins/plugin-basics/activation-deactivation-hooks/) and some posts on the topic, it is not possible to display a message to users _after they deactivate the plugin_. The reason for this is straightforward: when users disable the plugin, the admin screen refreshes and at that time the plugin co

[2020-07-13 20:39] felixarntz commented on #1726
IB ✅

[2020-07-13 21:14] jamesozzie commented on #1756
@laith81233 Thanks for getting in touch. Initial support requests can be submitted using the plugins WordPress support forum.

Please open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) while providing your [Site Health information](https://i.imgur.com/Rtkmsba.png). We can try and determine the root cause in your case, while revisiting this GitHub issue if ne

[2020-07-13 21:14] #1756 closed

[2020-07-13 21:22] adamsilverstein commented on #1280
Looks like the Analytics team has pushed a potential fix, awaiting confirmation/time to deploy to production the we can re-test to verify this fixes the issue we see.

[2020-07-13 21:54] felixarntz opened #1769 "Update @wordpress/data to the latest version"
## Feature Description

While updating dependencies via #1356, it became apparent that there were some issues with `@wordpress/data`, which has prevented us from updating it to its latest version as well as preventing us from updating to the latest versions of `react` and `react-dom`.

Currently we're using `react` and `react-dom` 16.12.0 and `@wordpress/data` 4.12.0.

When updating `@wordpress/da

[2020-07-13 21:59] felixarntz opened #1770 "Update @wordpress/scripts to its latest version"
## Feature Description

The `@wordpress/scripts` dependency (currently used on 3.4.0) should be updated to its latest version. The newer versions include / depend on a new `@wordpress/jest-console` package though, which requires us to change many of our Jest tests to account for this change. See https://github.com/google/site-kit-wp/pull/1763#issuecomment-657267120 for more information.

---------

[2020-07-13 22:08] felixarntz commented on #1356
With #1762 merged, we can consider this one completed for now. I've opened #1769 and #1770 for the remaining updates, we don't need to get to those right away though, especially since figuring them out will likely require some more time investment.

Overall, in the future let's approach dependency updates more granularly. We should also think about putting a regular routine in place where we updat

[2020-07-13 22:14] felixarntz opened #1771 "Update @material packages to their latest versions"
## Feature Description

All `@material/*` dependencies should be updated to their latest versions. Apparently there have been several changes in their behavior, so this should be tested with care.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All `@material/*` dependencies should be updated to their

[2020-07-13 22:42] felixarntz commented on #1356
Actually we'll still need to update PHP dependencies.

[2020-07-13 23:05] felixarntz commented on #1381
@aaemnnosttv Mostly looks good, one more comment: We may not need `getEffectivePropertyID` in `modules/analytics`? The `propertyID` will be set to the existing tag. If it is outdated and there was another existing tag placed after originally setting up Analytics, I'm not sure we'll want to cover that here (since it's the GTM setup flow)? Because if we do, we open yet another can of worms where, if

[2020-07-14 01:47] ernee commented on #1575
Just noting here that we're suspecting some of these issues to be related to this issue with Guzzle: https://github.com/guzzle/guzzle/issues/2617

[2020-07-14 04:58] felixarntz opened #1774 "Add `getReport` selector to `modules/search-console` store"
There should be a `getReport` selector issuing an API request to our `GET:modules/search-console/data/searchanalytics` datapoint, which relies on https://developers.google.com/webmaster-tools/search-console-api-original/v3/searchanalytics/query.

While maintaining backward-compatibility, the datapoint should be adjusted to support a range of arguments closer to the original. At the same time, this

[2020-07-14 04:58] felixarntz opened #1775 "Add `getReport` selector to `modules/analytics` store"
There should be a `getReport` selector issuing an API request to our `GET:modules/analytics/data/report` datapoint, which relies on https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet.

While maintaining backward-compatibility, the datapoint should be adjusted to support a range of arguments closer to the original. At the same time, this should happen in a

[2020-07-14 04:58] felixarntz opened #1776 "Improve `getReport` selector of `modules/adsense` store"
The `getReport` selector as well as the `GET:modules/adsense/data/earnings` datapoint, which relies on https://developers.google.com/adsense/management/v1.4/reference/reports/generate, should be adjusted to support a range of arguments closer to the original. At the same time, this should happen in a way where similar arguments are named the same way across different report datapoints (e.g. in Ana

[2020-07-14 07:45] aaemnnosttv commented on #1526
IB ✅

[2020-07-14 07:57] aaemnnosttv commented on #1646
@felixarntz @marrrmarrr I think the language regarding "redo the plugin setup" could be improved but that's a minor detail. Like the error data indicates, I think it might be more clear that the user needs to reconnect through the Site Kit service. I feel like "redo the plugin setup" sounds more like what you would need to do after performing a full reset which is not the case.

Moving this forwar

[2020-07-14 09:26] aaemnnosttv commented on #1531
CR ✅  - Assigning to @felixarntz to decide if we want to include it in the upcoming release or postpone the merge until after.

[2020-07-14 10:15] jamesozzie commented on #1704
Unable to reproduce in support, with Site Kit working for original reporter when checking from browser incognito window.

For those who encounter this error please try clear your browsers cache and purge your CDN.

[2020-07-14 10:20] jamesozzie commented on #1701
Closing as original user was able to use Site Kit as expected after temporarily deactivating caching plugin while reinstalling Site Kit.

For those impacted please try clearing your browsers cache and purging your CDN before checking Site Kit dashboard once more. Alternatively follow the steps as described in [original support topic.](https://wordpress.org/support/topic/blank-white-screen-23/)

[2020-07-14 10:53] jamesozzie commented on #1464
@equipeathletics After looking at this once more if you have an opportunity can you try and check for the same issue with your hosting providers object caching [temporarily deactivated](https://www.godaddy.com/help/disable-wp-cache-for-wordpress-19513)?

From looking at the below issues I suspect it's nothing something we're able to address on our side.
- https://github.com/woocommerce/woocommerce

[2020-07-14 11:09] aaemnnosttv commented on #1617
@felixarntz I've updated the AC for the first case (account provisioning) as mentioned above to only test up until the redirect to the TOS. This is because it would require more substantial changes to only test the `gatoscallback` handler which is already well tested in PHPUnit.

[2020-07-14 12:08] aaemnnosttv commented on #1714
@felixarntz regarding the logic for `hasConnectedAdministrators` it seems like this should be covered by `First_Admin` / `googlesitekit_first_admin`, although this [seems to be set improperly by `Authentication::inline_js_setup_data`](https://github.com/google/site-kit-wp/blob/a770acc3e76db421258d26416108dd6901d1a272/includes/Core/Authentication/Authentication.php#L657-L664), rather than in someth

[2020-07-14 12:15] tofumatt commented on #1774
The IB here is _pretty much_ the AC, but I have a question about supporting both `startDate`+`endDate` as well as `dateRange`. If the new selector will only be used by new components and the API will support `startDate`+`endDate`, why bother adding `dateRange` support when the plan seems to be to phase it out and calculate those dates on the client (which is what I'd propose)? It's a more flexible

[2020-07-14 13:28] adamsilverstein commented on #1726
Updated draft PR to match IB and added tests.

[2020-07-14 13:36] tofumatt commented on #1775
I was unclear on what `multiDateRange` and `compareDateRanges` should be doing, so I searched the code base for both. In the case of `multiDateRange`, I can only find it being used in a single place: https://github.com/google/site-kit-wp/blob/3f100ac19410649d8fe9dbea0ab15a2822bad436/assets/js/modules/analytics/util/index.js#L361 with the relevant PHP code here: https://github.com/google/site-kit-w

[2020-07-14 14:09] tofumatt commented on #1776
I think the ACs here largely echo what the IB should be, but I'm proposing we simplify the arguments accepted by the new selector to only be what we want long-term and use Date objects for `startDate` and `endDate` as mentioned in #1775.

[2020-07-14 14:58] felixarntz commented on #1714
@aaemnnosttv

I think that's different, the goal of `hasConnectedAdministrators` is to check whether there are currently any administrators with an access token, while `googlesitekit_first_admin` is just a single user ID that does (intentionally) not get unset if you disconnect. So it might still be set although there is no connected user.

Your suggestion to move the logic makes sense, that is ho

[2020-07-14 15:04] felixarntz commented on #1774
@tofumatt I considered not supporting `dateRange` (and related legacy date args) but this is a different beast and implementing this here would drastically blow up scope of this issue. I don't think supporting both makes the implementation much more complex? It's really only if `startDate` and `endDate` are set, don't use the other, the actual functionality which is the complex part is on the serv

[2020-07-14 15:05] felixarntz commented on #1774
IB ✅

[2020-07-14 15:10] felixarntz commented on #1775
@tofumatt See my comment on #1774, we should keep these legacy parameters around for now since implementing on the client is not trivial and should happen separately. I'm open to discussing whether we should not document them, but we should implement support for them per the ACs. It shouldn't be complex to implement because the complex parts are all already there - I agree the legacy args are comp

[2020-07-14 15:10] felixarntz commented on #1776
@tofumatt See #1775, let's bring back the legacy arguments to the IB for now.

[2020-07-14 15:39] brandomeniconi commented on #1523
Hi @aaemnnosttv ,
I don't think the domain verification is a problem because by using App Engine we must verify the domain in search console before applying it to the site. We use the same Google Account. Something I forgot to mention is that we use Cloudflare on all our sites, but the issue is happening also when it's completely disabled (DNS pointing to GAE directly) so I don't think it will be

[2020-07-14 16:20] jamesozzie commented on #1262
Closing as there can be various causes, including at host level or geographical restrictions to Google services.

For those who encounter this error if looking for support please [open a WordPress support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) while including your hosting provider and [Site Health information](https://i.imgur.com/Rtkmsba.png) (within the support top

[2020-07-14 16:20] #1262 closed

[2020-07-14 18:45] eugene-manuilov opened #1779 "Make PR checks pass faster"
## Feature Description

#### Problem Statement

Currently, PR checks take too much time and sometimes become a bottleneck that wastes a good portion of the execution time intended for a ticket. Knowing that our codebase and the number of unit/e2e tests grow every day, we can anticipate that in the future, it can be a big problem. Even with the current number of code and tests in the repo, full che

[2020-07-14 18:48] felixarntz opened #1780 "Prefer sessionStorage over localStorage in googlesitekit-api"
## Bug Description

The new `googlesitekit-api` appears to choose `localStorage` over `sessionStorage` which should not be the case. I noticed that seeing the PSI API responses now appearing in `localStorage` while before they used to be in `sessionStorage` (which should be the case unless `sessionStorage` is not available).

Our legacy `dataAPI` rightfully prefers `sessionStorage` usage over `loc

[2020-07-14 19:43] aaemnnosttv commented on #1779
Thanks for writing this up @eugene-manuilov !

A few initial thoughts I have:
- It's a clever idea to use the PR body with the checklist, that's a neat idea
    - It's probably a bit safer to make the jobs opt-out rather than opt-in with this kind of approach
    - I'm not sure we want the PR author to be able to opt-out of any tests
- Most of the time we will always want a zip built, as this is m

[2020-07-14 19:59] aaemnnosttv commented on #1381
Good point 😄  - updated.

Not really everywhere - the `error` is really specific to the secondary AMP case - (although I suppose different errors could be there). I feel like the `propertyID` is like `getExistingTag` and `error` is sort of like `getTagPermission`. If you don't have permission it doesn't mean there isn't a `propertyID`. Some logic will likely only be concerned with the presence of

[2020-07-14 21:07] felixarntz opened #1781 "Fix broken publisher win notifications to show up again"
## Bug Description

Our publisher win notifications have been broken for several releases at least. I hadn't been seeing them for months, and earlier finally took the time to figure out what's going on (a bunch of problems).

This issue is to address these bugs so that these notifications show up again like they used to. Note that we're not going to refactor anything here at this point, publisher

[2020-07-14 21:23] adamsilverstein commented on #1681
Update: I have asked again for help on the (internal) ticket, so far there has not been a response, only that they are looking at it... so I am not able to create the IB yet.

I will keep my eyes on the ticket for now.

[2020-07-14 22:12] jamesozzie commented on #1704
Reopening for review. Worth noting additional blank screen errors after update, #1700 & #1701

[2020-07-14 22:15] eugene-manuilov commented on #1779
Thanks for the feedback, @aaemnnosttv!

As zip built is need for QA stage which means that the PR has already passed code review and is successfully merged. Thus we don't need to build zip archive on every push and it can be manually triggered before merging by checking off the appropriate box in the PR body.

Yeah, this is a great idea too. I like it.

Can you give me an example?

IMO, it's more

[2020-07-14 22:17] jamesozzie commented on #1701
Reopening for further inspection. Similar to #1700 and #1704, which both occurred after the same version update.

[2020-07-14 22:20] jamesozzie commented on #1700
Reopening for further inspection.

[2020-07-14 23:14] eugene-manuilov commented on #1779
@aaemnnosttv just want to make sure we are on the same page with checkboxes in the PR body - they mean preferences for the current moment in time. Let's say we find out that we need to build a storybook for my PR to understand what happens, then I will check off appropriate checkbox with my mouse and the storybook action will start. Later if we don't need it anymore, we can turn off the storybook

[2020-07-15 06:16] cole10up commented on #1386
**Tested**

Installed and activated latest develop.

Activated Analytics and Tag Manager module

![image](https://user-images.githubusercontent.com/57115907/87509775-1ebdc980-c627-11ea-9b0d-bf769bf6e615.png)

![image](https://user-images.githubusercontent.com/57115907/87509812-3432f380-c627-11ea-92e9-82f11c301ad2.png)

![image](https://user-images.githubusercontent.com/57115907/87509894-5d538400-c

[2020-07-15 06:53] aaemnnosttv commented on #1780
IB ✅

[2020-07-15 07:01] cole10up commented on #1608
**Tested**

Installed latest develop, activated Analytics and setup tag manager.

Noticed during setup scopes in QA brief above:

![image](https://user-images.githubusercontent.com/57115907/87513518-b1f9fd80-c62d-11ea-8fe4-08920e982b3a.png)

Confirmed during cancelation of Tag Manager scopes user is able to redo setup

![image](https://user-images.githubusercontent.com/57115907/87513635-dfdf4200-c

[2020-07-15 07:09] aaemnnosttv commented on #1781
IB ✅

[2020-07-15 07:31] aaemnnosttv commented on #1779
I get it, it's a good idea; my point was that maybe there's a better way that doesn't require manual toggling for what should run.

This zip is actually for testing pre-QA or potentially during code review as it will be deleted as soon as the PR is merged.

Sure - We have PHP and E2E test jobs that test against the latest version of WP. Since the latest version can change between builds, we should

[2020-07-15 13:58] Vishall97 commented on #1632
I am encountering the same issue, ERROR:Account token is missing. Please help resolve this on priority.

Thank You!!

[2020-07-15 14:34] aaemnnosttv commented on #1724
## QA ⚠️

* Registered a widget using the global `widgets` instance
[code]
* Component was wrapped with `Widget` by default
![image](https://user-images.githubusercontent.com/1621608/87557220-4c0a8600-c6c0-11ea-8ac4-c0547b22de39.png)
![image](https://user-images.githubusercontent.com/1621608/87557075-254c4f80-c6c0-11ea-969d-316fecb90421.png)
* Adding `wrapWidget: false` to the widget `settings` ca

[2020-07-15 15:28] felixarntz commented on #1622
Moving this out of the release since it's not critical.

[2020-07-15 15:31] felixarntz commented on #1611
Moving this out of the release since it's late and this should get some more testing.

[2020-07-15 15:42] aaemnnosttv commented on #1724
QA ✅  now that #1786 is merged.

[2020-07-15 16:05] aaemnnosttv commented on #1529
## QA ⚠️

* ✅  There should be a new `assets/js/googlesitekit/datastore/user/date-range.js` datastore module which is combined into the `core/user` store in its index with the following components:
	* `selectors.getDateRange` - returns the current date range slug
	* `actions.setDateRange( slug )` sets the current date range by its `slug`
* ✅ The initial dateRange should be `last-28-days`
* ✅ There

[2020-07-15 16:49] tofumatt commented on #1775
Sounds good, I've updated the IB to be more in-line with #1774 then, and changed the startDate and endDate to be strings for now as that IB was already accepted. It's not a big deal, but if we want to use `Date` objects there in the future should be straightforward to change. 🙂

[2020-07-15 16:50] tofumatt commented on #1776
Amended to use the legacy args for now 👍

[2020-07-15 17:16] ernee commented on #1464
Also reported in the forums: https://wordpress.org/support/topic/google-tag-manager-empty-cart-error/

console error on the empty cart page (note 3 items are in the cart): https://imgur.com/a/lJyFQ0U

Could you check and provide screenshots of [any console errors](https://i.imgur.com/KyLAzgH.png) you may see after adding an item to the cart and on the empty cart page
@equipeathletics (I think you

[2020-07-15 17:25] jqlee85 commented on #1748
QA ✅

[2020-07-15 17:27] brandomeniconi commented on #1523
I confirm that is shouldn't be a domain verification failure, here is a Search Console result of one of our staging domains:

![google_verification](https://user-images.githubusercontent.com/393114/87575441-34d39480-c6d0-11ea-91fd-24f6df4fc158.png)

The HTML verification fails because the Google App Engine configuration treats `.html` URLs as static file and doesn't pipe those to the WP's php entr

[2020-07-15 17:42] tofumatt commented on #1622
Reviewed and approved; assigning to @aaemnnosttv for merge.

[2020-07-15 18:30] ernee opened #1787 "Data Error in Search Console: 404 error on batch/webmasters/v3 endpoint"
## Bug Description

Users are reporting seeing the following error on the dashboard for Search Console:

![Data Error in Search Console](https://user-images.githubusercontent.com/8108643/87581355-a63e2380-c68d-11ea-80c1-1f75267983b3.png)

The following WP Error in the console:

![WP Error](https://user-images.githubusercontent.com/8108643/87581442-cd94f080-c68d-11ea-8242-a28d85aef486.png)

related

[2020-07-15 18:33] felixarntz commented on #1529
Returning an object here makes sense, since it allows for quick lookup by slug. QA ✅

[2020-07-15 18:43] brandomeniconi commented on #1523
I've also logged all the WP incoming and outgoing requests in Google Cloud Logging and the authentication secrets seems to be issued. Does the plugin has some internal validation?

![google_sitekit_log2](https://user-images.githubusercontent.com/393114/87582584-e24ba580-c6da-11ea-93ab-6c03c527fc0b.png)

![google_sitekit_log](https://user-images.githubusercontent.com/393114/87582530-cfd16c00-c6da-1

[2020-07-15 19:16] tofumatt commented on #1617
Code here looks good to me and the tests behave appropriately, so moving to approval.

[2020-07-15 19:17] felixarntz opened #1788 "Add e2e coverage for publisher win notifications"
## Feature Description

After being broken for several releases (see #1781), we should add some e2e coverage for publisher win notifications. Preferably we would cover these through another way (e.g. Jest tests), but the codebase there is overly complex and hard to test, so at this point e2e tests make most sense. Basically we should really just have them to be informed if something unexpectedly b

[2020-07-15 21:07] felixarntz commented on #1381
@aaemnnosttv

Hmm I still think this feels overly complicated to use. Why would we care about the property IDs if there are two conflicting ones? I think the function should basically return "the single property ID found", and if there is no single one, it should just be an error because no single one can be determined. Really not a fan of having to check for an error specifically to know whether

[2020-07-15 21:12] felixarntz commented on #1714
@aaemnnosttv IB mostly sounds good to me, I think there's one detail we should change: In your current approach the option is more like a boolean to check whether there are any such administrators (it just checks for one). We should probably call the option `googlesitekit_has_connected_admins` to indicate this. If it was `googlesitekit_connected_admins`, I'd expect it to e.g. contain an array of u

[2020-07-15 21:15] felixarntz commented on #1775
IB ✅

[2020-07-15 21:17] felixarntz commented on #1776
@tofumatt You had `multiDateRange` in the IB here too, that's only supported by Analytics though, so it's not needed here (I just removed it).

IB ✅

[2020-07-15 22:47] felixarntz commented on #1654
@jqlee85 #1773 is merged - ready for the next one 👍

[2020-07-15 22:49] adamsilverstein commented on #1632
@Vishall97 are you using the latest version of the plugin? this issue should be resolved.

[2020-07-15 23:27] felixarntz commented on #1779
@eugene-manuilov @aaemnnosttv Thanks for the detailed ideas and discussion so far! Some thoughts from my end:

* I also believe that the biggest bottleneck here are actually the e2e tests and visual regression tests. We may be able to optimize those, but I believe those will continue to be bottlenecks in itself. So I would love for us to move our entire automated testing infrastructure to move to

[2020-07-15 23:44] felixarntz commented on #1719
@adamsilverstein The IB is very close to the code changes, so it's a bit hard to digest as is - for the future, no need to be as precise describing changes in specific lines etc... E.g. it's really hard to understand what changing `data[ 0 ].data.totals[ 0 ].values[ 0 ]` to `data[ 0 ].data.totals[ 0 ].values[ 1 ]` will do, what these values are, and why it's needed - better to approach more colloq

[2020-07-16 03:28] immdraselkhan opened #1790 "Search Console Verification Error by Google Tag Manager"
Here are the details of the error https://www.loom.com/share/81e32822a5fd4a9fba6970650dc36982
I'm sorry for the little bit longer video.

[2020-07-16 06:10] cole10up commented on #1392
**Tested**

Installed develop zip and activated plugin.

Notice dashboard:
![image](https://user-images.githubusercontent.com/57115907/87633111-a242ed80-c6ef-11ea-9955-5c9bf32d51f7.png)

Installed latest 1.12.0 release candidate and activated plugin

Notice dashboard:
![image](https://user-images.githubusercontent.com/57115907/87633364-1aa9ae80-c6f0-11ea-9af5-83a031ed3a46.png)

Confirmed install a

[2020-07-16 07:15] cole10up commented on #1707
**Tested**

Installed latest 1.12.0 release candidate.

Moved Elasticpress from cole10up to Key Cougar account

![image](https://user-images.githubusercontent.com/57115907/87638630-f43c4100-c6f8-11ea-9aa0-00074210f08f.png)

![image](https://user-images.githubusercontent.com/57115907/87638706-1930b400-c6f9-11ea-98e6-a2ca2125bb5a.png)

Setup Analytics:

Notice moved properly is displayed:
![image](h

[2020-07-16 07:18] cole10up commented on #1548
**Tested**

Ran a series of tests around Analytics setup, switching properties and accounts while logged in as separate users on the same site. Disconnecting and reconnecting. Tried moved properties outlined in #1707

Passed QA ✅

[2020-07-16 07:49] cole10up commented on #1651
**Tested**

Installed latest SK release candidate for 1.12.0 and AMP plugin.

Setup AMP:
![image](https://user-images.githubusercontent.com/57115907/87641934-aaa22500-c6fd-11ea-8bb7-ff213ecbea59.png)

According to @ernee above added the trailing >

Setup Analytics:
![image](https://user-images.githubusercontent.com/57115907/87642137-f8b72880-c6fd-11ea-92ca-f9493a109db0.png)

Notice Analytics setup

[2020-07-16 10:15] aaemnnosttv commented on #1523
If your Google user is already a verified owner for the domain/site then that step should already be completed without going through the flow between the authentication service and your site to facilitate it.

Looking back at [your gif of the loop](https://user-images.githubusercontent.com/393114/84866021-704f5480-b079-11ea-8ec5-4120bf98c8c4.gif), you aren't getting to that step anyways which is r

[2020-07-16 10:21] aaemnnosttv commented on #1714
@felixarntz IB updated.

One question remains there: should we add `proxySetupURL` as a selector to the `core/site` store?

[2020-07-16 11:15] aaemnnosttv commented on #1381
Agreed 😓

Good point. That sounds good except now `false` or some string would both indicate that a GTM tag exists which is a bit confusing logically.

I'm not really a fan of having to check for an error specifically to know whether a function failed either, but we need to check it in one case or the other. E.g. if `propertyID` was always truthy regardless of matching, then we wouldn't need to ch

[2020-07-16 11:25] aaemnnosttv opened #1793 "Release 1.12.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-07-16 14:12] aaemnnosttv commented on #1526
## QA ✅

* ✅  Tested accessing dashboard with admin when Site Kit is not set up redirects to splash page
* ✅  Tested accessing splash with admin when Site Kit is not set up does not redirect
* ✅  Tested accessing dashboard with editor when Site Kit is not set up shows wp_die screen
* ✅  Tested accessing `wp-admin/admin.php?page=googlesitekit-splash&notification=authentication_success` as admin wit

[2020-07-16 15:23] aaemnnosttv commented on #1356
## QA 🆗  needs :octocat:

Due to the size of this issue and changes I'll review the remaining outdated packages; all other behavioral changes will be covered by general QA for release and other issues now (some things have already been caught and addressed before this).

[code]

* ⚠️ `dealerdirect/phpcodesniffer-composer-installer` probably could have been upgraded but are locked at minor version

[2020-07-16 15:50] aaemnnosttv commented on #1386
I just noticed that it isn't possible to select "Set up a new container" now
![Kapture 2020-07-16 at 18 46 47](https://user-images.githubusercontent.com/1621608/87692938-0370cc80-c795-11ea-8286-9bee4f097255.gif)

This can be seen in Storybook as well https://google.github.io/site-kit-wp/storybook/master/?path=/story/tag-manager-module-settings--edit-with-all-settings

Moving back to execution to r

[2020-07-16 16:35] aaemnnosttv commented on #1356
Also I just noticed that Husky hooks are not working anymore when committing via an app and we should probably downgrade it to v3. See https://github.com/typicode/husky/issues/639

[2020-07-16 16:40] eugene-manuilov opened #1794 "Update backstopjs package to the latest version"
## Feature Description

The backstopjs dependency should be updated to its latest version. The newest version contains different improvements and bug fixes which can improve the quality of our VRT tests. In particular it can catch the error which is ignored by the current version of backstop:

![failed_diff_google-site-kit_Dashboard_Search_Funnel_0_document_1_medium](https://user-images.githubuser

[2020-07-16 17:23] eugene-manuilov opened #1796 "Fix @wordpress/scripts and get rid of unnecessary eslint/stylelint dependencies"
## Feature Description

In the current setup we use @wordpress/scripts and lint-js command itself to run eslint checks. The @worpdress/scripts package has eslint package as its own dependency and technically should be able to run eslint from its own node_modules without relying on the top level eslint executable. Unfortunately, lint-js can't resolve path to the eslint package (uses [resolve-bin](h

[2020-07-16 17:29] eugene-manuilov opened #1797 "Get rid of the top level puppeteer dependency"
## Feature Description

Currently we have a standalone dependency for puppeteer in our package.json file. But it seems that we don't use it since @wordpress/scripts and backstopjs come with their own dependencies. We need to examine possiblity of running e2e and VRT tests without having top level puppeteer dependency. If it works correctly without top level puppeteer, we need to remove it from our

[2020-07-16 17:33] eugene-manuilov opened #1798 "Update focus-trap-react to the latest version and fix compatibility issues"
## Feature Description

After upgrading focus-trap-react to the latest version, we faced with compatibility issue mentioned here: https://github.com/google/site-kit-wp/pull/1735#issuecomment-657717422. We need to update it to the latest version and fix that error.

![87339271-0aa69900-c54f-11ea-89fc-70b321c29b99](https://user-images.githubusercontent.com/873049/87703422-83059800-c7a3-11ea-8f69-7e3

[2020-07-16 17:34] eugene-manuilov commented on #1356
- backstopjs: #1794
- eslint and eslint-plugin-*: #1796
- puppeteer: #1797
- focus-trap-react: #1798

[2020-07-16 17:38] eugene-manuilov commented on #1356
@aaemnnosttv new issues are created. Please, let me know if you want me to add something to it.

[2020-07-16 17:46] felixarntz commented on #1707
In terms of QA this is good, however the calls in Storybook to the changed actions have not been updated, so our Storybook components appear broken. Moving back to Execution to address.

[2020-07-16 18:18] adamsilverstein commented on #1781
Nice work catching the issues here. In regards to https://github.com/google/site-kit-wp/issues/1540 when I reproduced this locally and looked at the data, I did have a notification that should have been showing but was not (so the [1] was right). So I believe fixing this issue will also fix that issue's core problem.

That ticket does raise the issue that users are confused by the red number which

[2020-07-16 18:23] aaemnnosttv opened #1800 "Errors in batch requests are cached when they shouldn't be"
## Bug Description

The legacy dataAPI is still used for performing batch requests using `dataAPI.combinedGet`. When the responses for each request are received we call `handleWPError` which identifies error responses and performs error-specific actions.

https://github.com/google/site-kit-wp/blob/c776b09354e40612462c88fa6128e6878c24f172/assets/js/components/data/index.js#L185-L192

Unfortunately,

[2020-07-16 18:27] felixarntz opened #1801 "Make invalid usage of `createFetchStore` actions result in Jest test failures as expected"
## Bug Description

With the function signature changes in #1707, we missed quite a few occurrences where these were called but not updated (see #1799), which was fortunately caught before release. The alarming thing is that none of our Jest tests had failed because of that.

A part of that is due to `createFetchStore` not being strict enough. When calling the `fetch*` action with invalid argument

[2020-07-16 19:42] eugene-manuilov commented on #1208
@felixarntz Looks like the bug still exists in the latest vesion of the plugin. The issue happens here:

https://github.com/google/site-kit-wp/blob/25642bc9aff64bc38e4d18739a92f15eec69ad6c/includes/Core/Modules/Modules.php#L496
https://github.com/google/site-kit-wp/blob/25642bc9aff64bc38e4d18739a92f15eec69ad6c/includes/Core/Modules/Modules.php#L556
https://github.com/google/site-kit-wp/blob/25642b

[2020-07-16 20:02] felixarntz commented on #1208
Thanks @eugene-manuilov, let's fix this for the next release.

[2020-07-16 20:26] tofumatt commented on #1655
I started to look at the IB for this and while the _concept_ is straightforward, there's an issue with using `isResolving` with our dynamically-created selectors and our selectors that rely on other (resolver-based) selectors.

If we are converting a selector like https://github.com/google/site-kit-wp/blob/e4539d97a47fee9a21e6ef29e1a6bdd4d86d5379/assets/js/modules/tagmanager/datastore/accounts.js#

[2020-07-16 20:43] aaemnnosttv commented on #1356
Thanks @eugene-manuilov

I think we could use issues for upgrading `dealerdirect/phpcodesniffer-composer-installer` and downgrading `husky` but those don't need to block this. I'll create them tomorrow unless someone beats me to it 😄

QA ✅

[2020-07-16 20:44] felixarntz commented on #1655
@tofumatt Hmm I'm not sure I follow your argumentation.

Note this would be
[code]
instead - that's not really the point of this discussion, just wanted to avoid confusion.

I see it's a somewhat undesirable complexity having to know whether a selector relies on another selector in order to know what resolver to check for. However, that isn't really different from the existing `isDoingGet*` select

[2020-07-16 21:10] tofumatt commented on #1655
Oops, sorry for the difference in selector args!

The `isDoingGet` selectors are at least manually searchable in the codebase. I think relying on the `isResolving` further obscures the code path when looking through the code base. My concern is that we start to get a bit too clever with our metaprogramming and make it difficult to grep through the codebase to find where code lives. This is already

[2020-07-17 00:15] thomasjulienalain commented on #852
+1 really needed !

[2020-07-17 06:40] felixarntz commented on #1386
Setting up a new container now works as expected ✅

[2020-07-17 06:41] #1386 closed

[2020-07-17 06:41] #1608 closed

[2020-07-17 06:41] #1609 closed

[2020-07-17 06:41] #1724 closed

[2020-07-17 06:41] #1748 closed

[2020-07-17 06:41] #1529 closed

[2020-07-17 06:41] #1617 closed

[2020-07-17 06:41] #1392 closed

[2020-07-17 06:41] #1651 closed

[2020-07-17 06:43] #1526 closed

[2020-07-17 06:43] #1707 closed

[2020-07-17 06:43] #1356 closed

[2020-07-17 06:43] #1548 closed

[2020-07-17 06:48] #1793 closed

[2020-07-17 07:16] ThierryA commented on #852
Thanks all for your comments!

Let's make a distinction between "allowing non WP admins to use Site Kit" (this issue https://github.com/google/site-kit-wp/issues/852) and "share data of the dashboard with other WP users (non Google logged in users)" (https://github.com/google/site-kit-wp/issues/6) which will make the conversation easier (I realize that my last answer overlapped the two topics too)

[2020-07-17 07:21] ThierryA commented on #852
@timotheemoulin this is no longer the case as from version 1.9.0 (see issue https://github.com/google/site-kit-wp/issues/1566), write access is now only requested when needed and only for the user who is doing an action which needs write access (during setup for example).

[2020-07-17 07:38] aaemnnosttv opened #1802 "Upgrade dealerdirect/phpcodesniffer-composer-installer to latest version"
## Feature Description

The composer package `dealerdirect/phpcodesniffer-composer-installer` is currently installed at `0.5.*` with the latest version at `0.7.0`. This is probably a simple upgrade but was not done as part of #1356 due to the version constraint.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crit

[2020-07-17 07:47] aaemnnosttv opened #1803 "Husky pre-commit hooks no longer work when using an app"
## Bug Description

In #1356 we upgraded many project dependencies including Husky to the latest version. The current version of Husky is known to have a problem with git hooks not running when committing via a GUI/app.

See https://github.com/google/site-kit-wp/issues/1356#issuecomment-659528824

## Steps to reproduce

1. Make an arbitrary change to the code
1. Stage the changes
1. Commit the cha

[2020-07-17 08:28] ThierryA commented on #6
Thanks all for you comments and sharing suggestions.

This issue is definitely in our priority list and we are discussing the security and privacy implications. To be clear, the complexity here is not from an engineering perspective and **not the time it would take to implement data sharing**, it is definitely due to security and privacy.

As for today, allowing a WP user to **request** data on **

[2020-07-17 10:10] aaemnnosttv commented on #1655
It seems this issue has shifted a bit from replacing our `isDoingGet` selectors with core `isResolving` selectors to being more specific to `createFetchStore` and manually marking resolvers as completed, although I don't think we're suggesting that the fetch actions resolve the selector by default, it should still manually be called only when needed.

There are definitely cases where marking a res

[2020-07-17 10:29] umuur commented on #1602
Hello, can I take this issue?

[2020-07-17 13:20] eugene-manuilov commented on #1208
@felixarntz could you please check my IB? Is there anything you want me to add/update?

[2020-07-17 15:34] ernee commented on #1787
Update: the error is related to an underlying issue with the Search Console API. A fix is soon to be released. Will update this issue when it is out accordingly.

[2020-07-17 17:03] aaemnnosttv commented on #1602
Hi @umuur, thanks for asking 🙂  - I can't assign it to you but you certainly can submit a PR for it 👍

It's technically not ready to be worked on yet though since the implementation brief is not yet approved. You should wait to submit a PR until the you see that it has "✅  IB" but it's unlikely that much will change from what's already defined here since it's a fairly straightforward task.

[2020-07-17 17:09] umuur commented on #1602
Alright! Thanks!

[2020-07-17 18:14] felixarntz commented on #1802
IB ✅

[2020-07-17 18:15] felixarntz commented on #1803
IB ✅

[2020-07-17 18:16] felixarntz commented on #1800
IB ✅

[2020-07-17 18:22] felixarntz commented on #1208
@eugene-manuilov IB looks good, except let's keep the method private and pass a closure to `schema` instead, which calls the method.

[2020-07-17 18:31] felixarntz commented on #1602
IB ✅

[2020-07-17 19:20] adamsilverstein commented on #1719
@felixarntz thanks for the review. I'll leave off the line number specifics in future IBs. On to some specific answers:

Corrected, this should say "channels" - the main reason to change these is that in Analytics "source" and "channel" are quite different, and this chart/table shows channels. By using the same word's as Analytics, we reduce confusion when users go between Site Kit and Analytics.

[2020-07-17 19:23] adamsilverstein commented on #1719
@felixarntz I added a summary at the top of the IB to summarize the changes.

[2020-07-17 19:49] felixarntz commented on #1719
@adamsilverstein Thanks for clarifying!

You're saying though that we'll need to change `ga:medium` to `ga:channelGrouping`, so that's where we need to change the API request. Looking at publisher wins, it looks like this request is not used though, so we should be good here.

IB ✅

[2020-07-17 21:57] umuur commented on #1602
I made a pull request (#1808), but 'deploy to wiki' check failed on 'Run actions/checkout@v2' stage. What could I missed?

[2020-07-18 08:15] aaemnnosttv commented on #1602
@umuur that is expected as certain actions (like deploys) will fail when triggered by PRs from a fork. Don't worry about that, the important part is that the Travis build passes 👍

[2020-07-18 11:10] umuur commented on #1602
Alright! I've commit new changes in order to pass Travis. Currently there is no issue with it. But the status for #1808 says "Merging is blocked".

[2020-07-19 14:32] AkshayRao27 commented on #462
I just set one of my websites up as well. I wanted to install this plugin but it looks like this is still not implemented. Does anyone know of a workaround? If not, then I guess I'll have to look for a different plugin.

[2020-07-20 07:18] eugene-manuilov commented on #1208
Ok, updated. Moving to the execution.

[2020-07-20 10:08] aaemnnosttv commented on #1549
@felixarntz

This seems a bit heavy-handed to use the `apiclient` to make an arbitrary request simply to test that the server can connect to the Google API. We aren't concerned with any valid authentication, just that a request should be possible. For this I think using [`fsockopen`](https://www.php.net/manual/en/function.fsockopen.php) would be a simpler test for this. If a connection can be open

[2020-07-20 11:14] Schiocco commented on #228
With the Tickets App, you can add a customer tickets area to your website, so that your customers can get immediate help from a single interface, in whatever form they like best.

<http://tracking.schiocco.com/tracking/click?d=IwlUVKhyKjnWVnXb9tDTcCeRTqOXr9bgKvuy6Sf9kDZSYm6MI_bV_PVV5GvxSZCmY77cvrd8jai2K_Mz04LCHh048-ANyuOCb-qJBxyZvl2pU0ntjnoynz6RhgqoDlAg0g2>

<http://tracking.schiocco.com/tracking/

[2020-07-20 11:24] aaemnnosttv commented on #1456
@ryanwelcher the IB looks good to me for the most part, just a few points to clarify

- By `useData` I think you mean `withData`?
- I think the "Close issue as this is fixed" bullet can probably be removed 😄

While this would fix the problem, although I feel like we should see about making this a little easier going forward by introducing a new selector to streamline this a bit, so we wouldn't nee

[2020-07-20 17:37] ernee commented on #1787
Fix has been released.

[2020-07-20 17:37] #1787 closed

[2020-07-20 17:41] felixarntz commented on #1381
I think that's okay. Since the selector is called `getAnalyticsProperty`, I'd expect it to return a single property or `false`. Whether returning a single property means return one out of many, or whether it means only returning one if there _is only_ one entirely is more of semantic detail I'd say. We should document this behavior in the selector description, I think that's sufficient.

Not sure

[2020-07-20 17:50] felixarntz commented on #1549
@aaemnnosttv

We don't need to be concerned with valid authentication here (that's why the API returning a `401` is okay), but the reason to make an actual API call here is that way we'd be using the exact same infrastructure Site Kit uses later. If there is a detail in the API client implementation that makes requests fail, we should get them too.

I've removed this bit from the ACs for now, we h

[2020-07-20 17:53] adamsilverstein commented on #1280
The fix in question did not resolve the issue we are seeing. I have updated the internal ticket and will update here on progress.

[2020-07-20 17:53] felixarntz commented on #1280
Removing this from Sprint 28, since it's still undefined.

[2020-07-20 17:58] felixarntz commented on #1681
@adamsilverstein Any updates here? Even if this percentage is affected by the #1280 bug, that would only be for the 90 day span. Shouldn't we be able to get the percentage in a similar way to how we got the correct "Users" number before (#1277). Maybe we'd just need to alter https://github.com/google/site-kit-wp/blob/1.12.0/assets/js/modules/analytics/util/index.js#L397 so that it includes the `mu

[2020-07-20 18:05] felixarntz commented on #1714
@aaemnnosttv IB ✅

Yes, good point, let's add the following selectors to `core/site`:
* `getProxySetupURL`
* `getProxyPermissionsURL`

At the moment, the base data _may not_ include these values (if not using proxy). This also applies to the `usingProxy` field itself, which is already exposed via a selector, however behaves slightly weird right now, because it would only return `true` or `undefine

[2020-07-20 18:34] felixarntz commented on #1456
@aaemnnosttv @ryanwelcher I've updated the ACs based on the suggestion to introduce store selectors (named them `getServiceBaseURL`) for the base URLs, which makes this more future-proof and sets the correct baseline for other modules we have too.

I've double-checked how all of our module services deal with the identifying parameter and provided the details in the ACs on what these selectors shou

[2020-07-20 18:43] adamsilverstein commented on #1681
Right - this number is currently off for any date range.

I will take another look... I was hoping the same thing -  unfortunately I tried that without success. I will try again to make sure and add some screenshots here to add a record of what I see. I also tried several ways to have the API aggregate the data without any luck in matching the percent change I see in the analytics dashboard.

[2020-07-20 19:47] felixarntz commented on #1655
@aaemnnosttv

Yes, a fetch action should definitely not resolve by default.

I think we should circle back towards the original goal here actually, i.e. not modify `createFetchStore`. The point you've made that the resolver should be part of it if it returns `resolve*` action makes sense, but I'd rather not have us go that path. A consideration here for example is that the selector arguments may n

[2020-07-20 22:36] felixarntz opened #1814 "Implement more appropriate error handling in JS data stores and refactored components"
Currently Site Kit data stores simply store the error in an `error` property per store which has a few drawbacks:
* Only one error per store is saved.
* It is unclear where the error came from.
* It is unclear whether that error should be displayed and overrule regular app flow or whether it can be ignored.

In components, we currently use an `ErrorNotice` component which simply takes that single

[2020-07-20 23:40] felixarntz commented on #1540
I've tested this after the fixes from #1781, and they indeed resulted in this working correctly again. The notification bubble wasn't actually incorrectly displaying - the problem was that the actual notification that the counter indicated had _not_ been displaying.

This should be fixed in the upcoming release alongside the notification fixes.

cc @jamesozzie @ernee @LuckynaSan @marrrmarrr

[2020-07-20 23:40] #1540 closed

[2020-07-21 08:03] aaemnnosttv commented on #1602
@umuur I've reviewed your PR, which looks good; just a few changes necessary. Let's continue the conversation over there 👍

[2020-07-21 12:29] eugene-manuilov commented on #1780
QA :heavy_check_mark:

Confirm, all data is stored in the session storage now. There is only `googlesitekit::total-notifications` record in the local storage.

[2020-07-21 12:43] immdraselkhan commented on #1790
So did you reviewed it?

[2020-07-21 14:46] jamesozzie opened #1817 "Tag Manager error during new container setup: Error: Returned an error response for your request"
## Bug Description

When using the plugin to setup a new Tag Manager container the below error appears when clicking on "Confirm & Continue"
`Error: Returned an error response for your request.` This seems to occur only when trying to create a new container for the second time (after disconnecting the Tag Manager module)

![image](https://user-images.githubusercontent.com/41326532/88068827-a005e68

[2020-07-21 14:50] jamesozzie commented on #1790
@immdraselkhan Thanks for sharing and apologies for the delayed response. To clarify you're unable to verify your Tag Manager account with your Search Console property? From a brief look of the video it seems the same issue occurs when you manually place your Tag Manager code snippets into your theme.

[2020-07-21 16:05] immdraselkhan commented on #1790
First I tried but automatically doesn't work, then I tried manually and the same issue.

[2020-07-21 16:16] eugene-manuilov commented on #1253
@felixarntz @aaemnnosttv

Ok, i can confirm the issue is on our end and it happens because we select a random post when we try to get a reference entity and there is no such. In this particular case it gets a random post which is of `wpuf_forms` type and that post type is hidden (public = false). That's why lighthouse sees 404 response when it tries to examine public page of a hidden entity.

Basi

[2020-07-21 16:20] aaemnnosttv commented on #1549
Thanks @felixarntz this should be ready for another review.

One difference from the AC is that I used the Search Console API for the test request since it's the only API which is required for all installs, whereas not all Site Kit users may use Analytics. If it should use Analytics instead, that's an easy change to make I just thought it would make more sense to use something that applies to all

[2020-07-21 16:35] jamesozzie commented on #1790
@immdraselkhan I understand. As this is a Search Console issue as opposed to Site Kit specifically you can check with the product experts using the [Search Console help center](https://support.google.com/webmasters/?hl=en#topic=9128571).

I noticed also others reported the same issue [here](https://support.google.com/webmasters/thread/43572874?hl=en), which may be of use.

If you happen to encount

[2020-07-21 16:35] #1790 closed

[2020-07-21 16:47] aaemnnosttv commented on #1381
Right, but if they had no properties in GTM then `propertyID` would be `null` which would also pass for `! propertyID`, so  you would have to specifically check for `propertyID === false` in order to know that it failed/errored without checking `error`. So it is possible to know if it passed or failed by `propertyID` alone but it requires a more specific conditional. It's not a big deal though sin

[2020-07-21 16:54] tofumatt commented on #1590
Looks good to me, and I see it's pruning the files in closed PRs: https://github.com/google/site-kit-wp/runs/894959033?check_suite_focus=true

Might be worth manually pruning all the old files if there's an easy command, but this is working as-expected so QA ✅

[2020-07-21 17:15] aaemnnosttv commented on #1590
I already removed the old ones manually 👍

One important thing to check is that the job works when the checks previously failed. This seems to be the main reason why there were leftover artifacts because GHA don't run when previous checks fail by default.

[2020-07-21 17:22] tofumatt commented on #1590
Ah, true. So any PR with failing checks should still remove old files, yeah? I'll be on the lookout for new PRs that fail and make sure they have this in there; if I don't see any soon I'll create a test one. I'll assign this back to me just to make sure that's covered 👍

[2020-07-21 17:25] felixarntz commented on #1681
@adamsilverstein Per our testing earlier, let's for now change our implementation to rely on the same `ga:users` query for the percentage calculation. We can add `multiDateRange: 1` to the query, and then have to adjust the calculation (the response format will be slightly different too since it will include additional values). While this value seems to still be slightly off (especially for higher

[2020-07-21 17:29] ryanwelcher commented on #1456
@felixarntz as per slack, we've discovered that using the /u/{email} approach for `search-console` only works if the user is logged into more than one account.  As discussed, I'll update the AC's to indicate that` search-console` should be passed the `authuser` query param which works in either case.

Adsense functions as expected so no change is required.

[2020-07-21 17:36] eugene-manuilov commented on #1700
@felixarntz @aaemnnosttv @tofumatt

Although reported issues are resolved, I think we need to work out a better approach for our assets versioning since such issues may easily reoccur in the future if we don't change anything. The first thing that comes to my mind is to use the `[hash]` placeholder in the output filenames (something like `[name].[hash].js`) and [webpack-manifest-plugin](https://ww

[2020-07-21 17:38] aaemnnosttv commented on #1253
Thanks for the explanation @eugene-manuilov ! Moving this forward to be prioritized.

@felixarntz should we rename this issue since it doesn't seem to be specific to the frontend plugin?

[2020-07-21 17:43] jamesozzie commented on #1817
I've been able to reproduce this on another site following the steps below:

1. Create new GTM account
2. Connect the Tag Module module, when connecting select the "Set up a new container"
3. Setup works fine (with the new containers appearing when checking GTM directly)
4. Disconnect the Tag Manager Module
5. Attempt setup once more
6. Select the already created account and then choose to create

[2020-07-21 17:58] aaemnnosttv commented on #1590
[Here's an example](https://github.com/google/site-kit-wp/pull/1329/checks) from a few weeks ago - the PR was closed and the remove job seems to never have ran (maybe because the bot closed it?).

Many failed because the git checkout was out of sync with the remote (possibly due to how long the checkout was taking too). The order of `git pull` change in this PR should address that, but is technica

[2020-07-21 18:28] aaemnnosttv commented on #1700
@eugene-manuilov we do this for files which are loaded dynamically by webpack
https://github.com/google/site-kit-wp/blob/ced3a25d76eb39c8e5d9bf986146ab0174711e55/webpack.config.js#L129

Other files are loaded by WordPress and will receive the `ver` query parameter to ensure the new file is loaded when the plugin version changes. This isn't perfect though and some plugins have options to remove que

[2020-07-21 19:54] eugene-manuilov commented on #1700
If we switch to hashes in filenames, we can turn off `ver` param by passing `null` version to `wp_enqueue_script` function:

[code]

Some aggressive proxies/CDN can cache it without query params as well.

[2020-07-22 02:18] felixarntz opened #1818 "Do not run ZIP and Storybook build workflows on PRs from forks"
## Bug Description

The GitHub actions for building ZIP files and building Storybook currently run on every PR, regardless of origin. This causes a problem for forks because usually those contributors do not have access to push to the wiki or to the `gh-pages` branch. Let's modify the GitHub actions so that they only run on PRs that come from the original `google/site-kit-wp` repo.

--------------

[2020-07-22 03:13] felixarntz commented on #1654
@jqlee85 #1791 merged ✅

[2020-07-22 06:35] cole10up commented on #1674
**Tested**

Ran through a series of tests setting up Analytics with latest develop build. Both with a clean site and a site with many many plugins. Unable to reproduce.

![image](https://user-images.githubusercontent.com/57115907/88142715-d7958280-cbaa-11ea-9a76-50a284c38c4b.png)

Sending back to L0 to confirm with members that this is still persistent.

[2020-07-22 06:40] cole10up commented on #1660
**Tested:**

Tested on https://hellogoodbye.today

Checked and was unable to reproduce this one.

![image](https://user-images.githubusercontent.com/57115907/88143096-8043e200-cbab-11ea-9b78-0ff96f538b66.png)

@jamesozzie - Can you give this a try with the latest build?

[2020-07-22 08:17] aaemnnosttv commented on #174
@felixarntz this looks mostly good to me. A few questions for you though:

    * Use WordPress conditionals (basically similar to [`get_the_archive_title`](https://developer.wordpress.org/reference/functions/get_the_archive_title/) to find the entity and set `type` and `title`.
    * For any taxonomy archive (including categories and tags), call `get_queried_object`, which in this case will be a `

[2020-07-22 08:48] ahegyes commented on #1674
I can confirm that the latest update, 1.12.0, fixed the problem (for me, at least) :)

[2020-07-22 11:08] aaemnnosttv commented on #1700
Sounds good to me @eugene-manuilov 👍
@felixarntz should we use this issue for the proposed changes or create a new one since it applies to more than one issue?

[2020-07-22 11:29] jamesozzie opened #1819 "Random dashboard error: An error occurred while running ‘mapSelect’: e(…)"
As reported a [WordPress support topic](https://wordpress.org/support/topic/tengo-el-siguiente-problema/) one user encountered the below error randomly.

Unfortunately no further details were provided, and this error is not something we've encountered previously.

[code]

 ## Additional Context

- Site Kit worked fine previously
- Issue randomly occurred
- https://buscandountrabajo.net seems the d

[2020-07-22 13:43] jamesozzie commented on #1660
@cole10up All looks good to me.

![image](https://user-images.githubusercontent.com/41326532/88183610-98f2dd00-cc29-11ea-8d1f-d4ff2a0b8dc0.png)

@roadsunknown Can you check from your side?

[2020-07-22 14:50] tofumatt commented on #1326
In light of comments in the PR I've approved this, but someone else needs to merge it. Feel free to have a look at the PR comments and weigh in as well, but even if this doesn't migrate us to a webpack-only pipeline, it's an improvement worth taking.

[2020-07-22 15:24] roadsunknown commented on #1660
@jamesozzie Issue was fixed in of the last builds. All good on my side.

[2020-07-22 15:26] adamsilverstein commented on #1681
@felixarntz thanks for the discussion and feedback.

I have discovered the underlying issue with our Analytics percent change numbers being off... Turns out the past period used for comparison is always aligned on the same *days of the week* as the current period

So if the current period starts on a monday, the past period also starts on a monday

This makes some sense, especially when you look a

[2020-07-22 15:41] #1660 closed

[2020-07-22 17:00] felixarntz commented on #1456
@ryanwelcher IB ✅

Except the selector name should be `getServiceBaseURL` (not "based") :)

[2020-07-22 17:05] felixarntz commented on #1549
@aaemnnosttv IB pretty much ✅ , just let's stick to using `core/site` as REST route prefix for these kinds of endpoints, I think we should use a name like `core/site/data/health` or `core/site/data/health-checks` instead.

[2020-07-22 17:13] felixarntz commented on #1818
IB ✅

The renaming/reorganizing suggestions sound good to me as well.

[2020-07-22 17:13] aaemnnosttv commented on #1456
@felixarntz would it not be more accurate to name `getServiceURL` since it will give you a full URL back to something other than the base given additional args? It would only return the base URL by default, but most of the time we would be calling it to generate a more specific URL. Similar to `home_url( $path )` or `site_url( $path )`, this is essentially `service_url( $args )` with more flexibil

[2020-07-22 17:20] aaemnnosttv commented on #1549
@felixarntz IB updated.

[2020-07-22 17:35] felixarntz commented on #1681
@adamsilverstein There might be some confusion here, the problem regarding percentages for the 90 day period is handled in #1280. While there's some overlap between these two, this one here is about fixing the percentage for "Users" specifically, which is also wrong for other date ranges.

[2020-07-22 17:42] adamsilverstein commented on #1681
Right, that last comment belongs on the other ticket, I will copy it there. I will work on the user issue here and the 90-day date issue there.

[2020-07-22 17:43] adamsilverstein commented on #1280
I have discovered the underlying issue with our Analytics percent change numbers being off... Turns out the past period used for comparison is always aligned on the same days of the week as the current period

So if the current period starts on a monday, the past period also starts on a monday

This makes some sense, especially when you look at a day by day comparison, because traffic patters will

[2020-07-22 17:55] felixarntz commented on #1456
@aaemnnosttv That's a fair point. I was thinking though that `getServiceURL` could be the more commonly used one where we e.g. link to the right GA view etc. Like deep links to GA would pretty much always include the active account/property/view segment, deep links to SC would pretty much always include the `resource_id` query parameter for the SC property, etc.

If we renamed the current `getServ

[2020-07-22 17:56] ryanwelcher commented on #1456
Diving into this further and it looks like there will be some additional refactoring needed for some of the table-based components.

For example, in [SearchConsoleDashboardWidgetKeywordTable](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/search-console/dashboard/dashboard-widget-keyword-table.js#L60), `data` is passed as a prop and is looped to create the links. This will vi

[2020-07-22 17:56] felixarntz commented on #1549
IB ✅

[2020-07-22 18:01] felixarntz commented on #1456
@ryanwelcher For such cases, how about we build the base URL without the `query` argument just once before the loop, and then in the loop add the extra `query` arg via the `addQueryArgs`?

[2020-07-22 18:06] ryanwelcher commented on #1456
@felixarntz that is possible, yes. However, it would be nice to clean up the approach in `getDataTableFromData` while we're in this section of code to make it more readable and use the new selector as it was intended.

[2020-07-22 18:17] eugene-manuilov commented on #1422
@felixarntz I can't reproduce it neither. I have created a test environment and tried to replicate it as close to the original as possible, but i don't see that error. Looks like this is a unique case and i doubt we can reproduce it.

[2020-07-22 18:43] felixarntz commented on #1456
@ryanwelcher That's a fair point, could you open a separate issue for that and add to Prioritization though? I think for this issue specifically we can easily get away with the simpler change, and I'd say it's still using the new selector for its primary purpose.

[2020-07-22 18:47] felixarntz commented on #1700
@eugene-manuilov @aaemnnosttv Let's keep working in this issues and close the other ones as duplicates of this (caused by the same problem).

[2020-07-22 18:49] ryanwelcher commented on #1456
@felixarntz sounds great. I'll move forward with your suggestion, thanks!

[2020-07-22 19:01] aaemnnosttv opened #1821 "E2E test consistency"
## Bug Description

E2E tests have become less stable in the past few weeks resulting in a few specific tests failing roughly 10-15% of the time and succeed after re-running.

### Tests

The most common failing test is:
[code]

Another test which is subject to failure is from the Admin tracking tests
[code]
https://travis-ci.com/github/google/site-kit-wp/jobs/363574273

**Both tests failing**
* ht

[2020-07-22 19:11] aaemnnosttv commented on #1456
@felixarntz

I think these selectors might use something like `getServiceDashboardURL` if generic, or something more specific to Analytics could be `getServiceReportHomeURL`?
![image](https://user-images.githubusercontent.com/1621608/88217848-d1191080-cc67-11ea-8070-fd7c0cdbdeae.png)

For Search Console, maybe `getServicePropertyURL` or `getServiceResourceURL`?

[2020-07-22 19:45] aaemnnosttv commented on #1761
I did a quick test and these seem to be triggered by `Autocomplete` in `assets/js/components/post-searcher.js`.
See https://github.com/alphagov/accessible-autocomplete/issues/418. We're already on the latest version and the repo states "We cannot currently respond to issues or pull requests" so it might be worth looking into an alternative.

We should also check other views as it may be that other

[2020-07-22 21:24] felixarntz commented on #1381
@aaemnnosttv Agreed regarding `hasAnalyticsProperties` being somewhat confusing too. How about this regarding names:
* ~~`getAnalyticsProperty`~~ &rarr; `getSingleAnalyticsProperty`
* ~~`hasAnalyticsProperty`~~ &rarr; `hasSingleAnalyticsProperty`

If those sound good to you, let's move this forward.

[2020-07-22 21:26] aaemnnosttv commented on #1381
Sounds good, let's do it! 👍

[2020-07-22 21:27] felixarntz commented on #1654
@jqlee85 Back to you - the missing piece now is `assets/js/components` right?

[2020-07-22 21:41] jqlee85 commented on #1654
@felixarntz, I believe this issue was scoped to just modules and `assets/js/googlesitekit`. (From above:)

But I can certainly expand to do the `assets/js/components` as well. Let me know if I should go ahead and continue with that.

[2020-07-22 21:50] felixarntz commented on #1654
@jqlee85 Oh yeah, you're right my bad. This is good for QA then 👍

[2020-07-22 21:55] felixarntz commented on #1381
@aaemnnosttv After our follow-up discussion, let's do this:
* `getAnalyticsPropertyIDs` (returns array of found property IDs)
* `hasMultipleAnalyticsPropertyIDs` (returns `true` if `getAnalyticsPropertyIDs` has multiple _or_ if `getAnalyticsPropertyIDs` has one while one of the GTM container settings are currently set to `container_create`)
* `getSingleAnalyticsPropertyID` (returns the first item

[2020-07-22 21:56] felixarntz commented on #1456
@aaemnnosttv I was originally thinking it would be great to have a generic name like `getServiceDashboardURL` or `getServiceAccountURL` (although the identifying information isn't technically always called an account) or similar, but it may just have to be required to do this more specifically per module, since the URLs work so differently.

Let's go with `getServiceURL` for this one here like you

[2020-07-22 23:38] felixarntz commented on #1761
@tofumatt Do you happen to know another accessible autocomplete? :)

[2020-07-23 07:11] cole10up commented on #1781
**Tested**

Installed latest SK develop, began running tests around posts. Noticed 5 post notification is showing an odd value for Average CTR below:

![image](https://user-images.githubusercontent.com/57115907/88260341-0548fd00-cc79-11ea-9b27-22c7d1247afb.png)

Sending back to adjust @felixarntz

[2020-07-23 07:36] aaemnnosttv commented on #1381
IB updated and ✅  as discussed 🚀

[2020-07-23 12:03] ThierryA opened #1824 "Improve error message for insufficient Google service permissions"
## Feature Description

The current message displayed in a module for which a user doesn't have access to the given Google Service isn't really informative. We should clearly explain why it is as such and ideally give clear instruction on how to gain access (for example, who to reach out to which #1714 would make possible)

Current examples:
![Screenshot 2020-07-27 at 10 41 33](https://user-images

[2020-07-23 12:12] ThierryA opened #1825 "Improve reset message by clearly informing the ramification"
## Feature Description

Currently the reset modal message doesn't clear explain the side effects of the action, specifically the ramification for other users. We should explicitly list the effect of reseting the plugin (erase setup, kick out all users etc.). I would vote to go the extra mile and add a confirmation mechanism (field or checkbox) to ensure the user reseting the plugin understands the

[2020-07-23 13:35] adamsilverstein commented on #1681
@felixarntz Added IB. Looking through the code, I discovered one other component that displays the User/visitor data: the adminbar dropdown. I added this to the AC and IB.

[2020-07-23 16:22] adamsilverstein commented on #1681
The Analytics team has confirmed a potential bug for the homepage _user change percentage_. In short, users are complicated and the number they show on their homepage is incorrect. The number shown in Audience overview (which matches Site Kit) is more accurate. They will work to resolve this issue.

[2020-07-23 16:28] ryanwelcher commented on #1456
I've updated the AC and IB to reflect the change.

[2020-07-23 17:10] jamesozzie opened #1827 "Create a link to the official AMP plugin for existing AMP references"
## Feature Description

When connecting the Tag Manager and Optimize modules consider adding a hyperlink to the AMP [plugin website](https://amp-wp.org/) or wp.org [plugin repository page](https://wordpress.org/plugins/amp/).

![image](https://user-images.githubusercontent.com/41326532/88302928-59e28b80-ccfe-11ea-87c8-649ce8e834cc.png)

Optimize

![image](https://user-images.githubusercontent.com/

[2020-07-23 17:15] jamesozzie commented on #1827
@amedina @westonruter With the AMP reference only appearing once the plugin is already activated the most suitable links may be to a dedicated section for each product, or a FAQ for that product.

[2020-07-23 17:19] felixarntz opened #1828 "Duplicate batch requests fired, resulting in short-term quotas being exceeded"
## Bug Description

In `develop` we currently fire the same batch request twice. While this is of course clearly a bug and regression, it also can result in short-term quotas being exceeded, particularly some of the Analytics queries often return a 429 with "profileId xyz has too many concurrent connections". The additional batch request being made is the exact same in every case, so it's definite

[2020-07-23 19:03] felixarntz commented on #1382
@aaemnnosttv

Why do we need awareness of this here? While this configuration could have been changed in the meantime, I think we can limit that handling to the GTM setup flow, and in here only get the single GTM GA property (if present).

What does `propertyID` refer to here? If that's the property ID set in the GA module: This comparison would only apply to settings (where a property ID had alre

[2020-07-23 19:07] felixarntz commented on #1681
IB ✅

[2020-07-23 19:10] felixarntz commented on #1280
@adamsilverstein IB ✅ , just one thing, let's name the parameter `$weekday_align` as it's a bit more precise.

[2020-07-23 20:32] aaemnnosttv commented on #1456
@ryanwelcher you still have a few references to `getServiceBasedURL` 😄

[2020-07-23 21:36] adamsilverstein commented on #1681
Still investigating here: one additional detail is that some properties show this discrepancy while others do not. The discrepancy I see with my test account data may be an outlier, and the fixes we are making here (to always use the direct query) may fix this completely for most users.

[2020-07-23 22:15] westonruter commented on #1827
The “AMP” text itself may make more sense to link directly to amp.dev, or else if we link “paired AMP” then it could be an amp-wp.org page that talks about Transitional and Reader modes.

Otherwise, in the Optimize module, the “AMP experiment” text should rather link to https://amp.dev/documentation/components/amp-experiment/#configuration (if the Learn More link doesn't already link there).

[2020-07-24 01:49] tofumatt commented on #1775
Code review approved; just assigning here to merge the code. 😄

[2020-07-24 09:06] marrrmarrr commented on #467
@felixarntz updated the text.
For the "recently created" cases, could we increase the time frame to 2 (or even 3) days? Especially for SC, it's unlikely there will be enough data in 2 days to show something meaningful.

[2020-07-24 09:22] aaemnnosttv commented on #1381
@felixarntz just finishing up implementing the selectors now, so the initial PR for the datastore parts should be ready some time early next week.

A few minor changes to mention and consider here:

I replaced the `hasSingleAnalyticsPropertyID` selector with a `hasAnyAnalyticsPropertyID` instead since `!! getSingleAnalyticsPropertyID` isn't really useful as a selector, especially since `getSingleA

[2020-07-24 10:49] jamesozzie opened #1833 "Site Kit service uses https callback for non secure sites"
During Site Kit setup on a _**http**_ site when there is a security certificate available but not in use Site Kit setup fails at the final callback stage, with the callback URL referencing the https site.

**Default site (WP), with no redirection to secure URL**

![image](https://user-images.githubusercontent.com/41326532/88383149-db3f2a00-cda1-11ea-9dec-8ee934f13919.png)

**Default https URL (wit

[2020-07-24 14:45] eugene-manuilov commented on #1575
@felixarntz I haven't able to reproduce this issue either. After researching it a little bit, I tend to say that it is not our issue at all. This seems to be cURL related problem that happened on some hosting poviders like GoDaddy or its resellers. See this [comment](https://wordpress.org/support/topic/curl-error-2-easy-handle-already-used-in-multi-handle/page/3/#post-12797482) for reference.

Plu

[2020-07-25 23:24] hafrang opened #1834 "Unable to complete set up"
## Bug Description

I am not able to set up Google Sit Kit on my WordPress website. Once I get on to the Google Site Kit app set up wizard, I have to review the allowance for the application and then I am always redirected to the first step again and again without any piece of information.

## Steps to reproduce

Not applicable.

## Screenshots

Not applicable.

## Additional Context

 - PHP Versi

[2020-07-26 02:28] pablosfc1 commented on #1558
I have Cloudfare with HTTPS forced. But at configure the plugin Site Kit shown me the message "encountered an error: Loading chunk 3 failed." Additionally I had to activate the Really Simple SSL plugin in Wordpress, then the Google Site Kit it's functioning ok now.

[2020-07-26 02:30] pablosfc1 commented on #1833
Yes, I had this problem. Then I have Cloudfare with HTTPS forced. But at configure the plugin Site Kit shown me the message "encountered an error: Loading chunk 3 failed." Additionally I had to activate the Really Simple SSL plugin in Wordpress, then the Google Site Kit it's functioning ok now.

[2020-07-26 02:31] pablosfc1 commented on #1391
Yes, I had this problem. Then I have Cloudfare with HTTPS forced. But at configure the plugin Site Kit shown me the message "encountered an error: Loading chunk 3 failed." Additionally I had to activate the Really Simple SSL plugin in Wordpress, then the Google Site Kit it's functioning ok now.

[2020-07-27 05:25] cole10up commented on #1817
Worked with @jamesozzie on this using http://www.orient.one/

Was added to the tag manager account, and ran through a test trying to setup a new container. Wasn't able to setup a new container and experienced a looping loading bar spamming 400 errors in the console.

![image](https://user-images.githubusercontent.com/57115907/88506465-d2f81200-cf8e-11ea-9adf-10c409214ff2.png)

Added @aaemnnosttv t

[2020-07-27 06:36] cole10up commented on #1731
**Tested**

Installed latest SiteKit develop zip.

Ran a series of tests around token expirations during auth flow. Unable to reproduce the issue.

Regressing profile connecting and disconnecting functioned properly

Passed QA ✅

[2020-07-27 07:03] aaemnnosttv commented on #1817
@cole10up @jamesozzie - the problem is that Tag Manager does not allow 2 different containers to have the same name. Currently the container names are generated from the site name with no ability to change it (other than to change your site name first; at least temporarily).

@felixarntz @marrrmarrr - I think we need to offer the ability for the user to customize the container name. Similar to wha

[2020-07-27 09:48] aaemnnosttv commented on #1714
@marrrmarrr one suggestion regarding the wording currently in the ACs:

I think we can remove the word "already" here as it reads a bit more naturally without it since that's implied by the past tense of "activated" 🙂

What do you think?

[2020-07-27 10:16] jamesozzie commented on #1834
@hafrang Thanks for reporting. As we've moved Site Kit support over to the plugins WordPress support forums initial support requests can be submitted by [creating a new topic.](https://wordpress.org/support/plugin/google-site-kit/#new-post)

When creating a new topic please provide your [Site Health information](https://i.imgur.com/Rtkmsba.png) within the topic or [privately](https://docs.google.c

[2020-07-27 10:16] #1834 closed

[2020-07-27 10:27] eugene-manuilov commented on #1611
QA :heavy_check_mark:. I have tested it and can confirm that apiFetch doesn't rely on preloaded data after initial load and re-fetches it when needed.

[2020-07-27 13:50] jamesozzie opened #1836 ""Previous reporting period"s date is matching the current reporting periods date in Analytics Audience overview popup label"
## Bug Description
As reported in a [WordPress support forum topic](https://wordpress.org/support/topic/audience-overview-previous-period/#post-13175705) the month attached to each axis in the "Previous period" matches the current periods reporting month.

![range](https://user-images.githubusercontent.com/41326532/88549062-c5d33580-d017-11ea-9545-42cd3cdd1da6.gif)

## Steps to reproduce
![image](

[2020-07-27 13:58] eugene-manuilov commented on #1654
Overall everything looks good but I have noticed that there are directories with components that either lack `index.js` file or have it with insufficient list of exported components. I think that we need to make it consistent accross all modules and directories. @felixarntz / @aaemnnosttv do you think we need to handle it in the scope of this ticket or we need to create a new one? If you think it

[2020-07-27 14:30] eugene-manuilov commented on #1622
QA :x:

@ryanwelcher the following requirement in the AC list is not implemented. Could you please implement it too? Everything else looks good to me.

[2020-07-27 15:40] aaemnnosttv commented on #1382
@felixarntz IB updated. Before we move this forward, what E2E coverage do you feel should be included here? Having a non-AMP and few secondary AMP cases makes sense I think, but what about primary AMP?

[2020-07-27 16:21] aaemnnosttv commented on #1681
Added an estimate here retroactively mostly to cover CR and QA - @adamsilverstein feel free to increase this to account for any additional efforts on your end.

[2020-07-27 16:23] marrrmarrr commented on #1714
@aaemnnosttv SGTM!

[2020-07-27 17:37] felixarntz commented on #184
Let's check if this is still relevant after the latest changes to the date range selector. I prioritized this for the upcoming release since we should fix it if still a problem, but it could be that it already got fixed by now - in that case this should be closed.

[2020-07-27 18:24] felixarntz commented on #1654
@eugene-manuilov Good catch! Can you open a separate issue for addressing this?

[2020-07-27 21:01] felixarntz commented on #1821
IB ✅

[2020-07-27 21:32] felixarntz commented on #1382
@aaemnnosttv IB ✅  I think we don't need AMP-related e2e tests here, since the parts relevant to AMP are implemented in #1381 right?

[2020-07-27 21:52] felixarntz commented on #1749
IB ✅

[2020-07-27 21:56] felixarntz commented on #1700
@eugene-manuilov IB mostly LGTM, however I'd prefer if we kept responsibility to deal with this within the `Assets` namespace in Site Kit. Maybe move the `Manifest` output into `includes/Core/Assets/Manifest.php` and add the manifest URL function as a private method to the `Assets` class?

[2020-07-28 05:15] cole10up commented on #1828
**Tested**

Was able to reproduce this issue while regressing https://github.com/google/site-kit-wp/issues/1836

Installed latest SK develop, ran the same test - confirmed short term quota issue was not present.

![image](https://user-images.githubusercontent.com/57115907/88621940-7c560b00-d056-11ea-8951-0b459cf713e6.png)

Passed QA ✅

[2020-07-28 06:21] cole10up commented on #1726
**Tested**

Installed latest develop SK and the staging plugin.

Ran through a series of setup and auth tests:

**Spanish:**
![image](https://user-images.githubusercontent.com/57115907/88624599-1f5d5380-d05c-11ea-9532-d74d38c8eaf9.png)
![image](https://user-images.githubusercontent.com/57115907/88624632-2edc9c80-d05c-11ea-837a-e588d04b0ed6.png)
![image](https://user-images.githubusercontent.com/57

[2020-07-28 06:50] cole10up commented on #1719
**Tested**

Confirmed though https://github.com/google/site-kit-wp/issues/1554 that we now are correctly splitting referral and social

Analytics:
![image](https://user-images.githubusercontent.com/57115907/88629284-e7f2a500-d063-11ea-8bda-84a347a5d91e.png)

SK:
![image](https://user-images.githubusercontent.com/57115907/88629318-f3de6700-d063-11ea-9e2c-0385a89f6526.png)

This is a match - Passed

[2020-07-28 07:12] aaemnnosttv commented on #1382
@felixarntz as we discussed yesterday, I think both issues don't have much of a need for E2E, but instead most of the useful coverage we want to add can be provided by Jest tests for the datastore (`canSubmitChanges`) and component/hook tests (`useExistingTagEffect`). I'll update the IB to mention these but this should be good to move forward now 👍

[2020-07-28 09:00] aaemnnosttv commented on #1700
@eugene-manuilov also, please add an estimate 😄

[2020-07-28 09:52] aaemnnosttv commented on #1743
@felixarntz this is a good start here but I have a few questions:

What should happen if the owner disconnects from Site Kit, role changes (no longer has Site Kit permissions), or is deleted? I imagine the code that loads this would need to check if the user still exists and is connected to Site Kit to still be considered a site/module owner? Is this more of a concern for subsequent code built on

[2020-07-28 10:08] jamesozzie commented on #1523
Another reported issue on the below WordPress topic:
https://wordpress.org/support/topic/unable-to-complete-setup/#post-13179635

- Site Health information provided in form
- Log files included
- Subdomain setup

[2020-07-28 11:51] eugene-manuilov commented on #1700
@felixarntz yep, agree with your suggestions. IB is updated.

[2020-07-28 12:11] eugene-manuilov opened #1838 "Consistent index.js file in component directories"
## Feature Description

After refactoring in #1654, it turned out that not all directories have sufficient index.js files. We need to create or update index.js files in all component directories to make it consistent accross all directories. A sufficient index.js exports all components in the folder using named exports. The following is the list of directories that need to be updated.

#### Direct

[2020-07-28 12:12] eugene-manuilov commented on #1654
@felixarntz done: #1838. Moving it to the Approval column.

[2020-07-28 13:17] ryanwelcher commented on #1622
@eugene-manuilov thank you for catching that! I've added a new PR to this issue ( #1839 ) to address this.

[2020-07-28 13:35] jamesozzie commented on #1522
Tested again, same issue occurs on sites with low traffic.
Site Kit 1.12.0

Occurs across all reporting periods available, not just 28 days report.

[2020-07-28 14:11] jamesozzie commented on #958
@RamseyV Just following up with you on this issue. I've tried to recreate the same issue using WordPress 4.8 and the ACF wysiwyg visual button is working as expected using the free version. Are you still using and post 5.0 version of WordPress which you can test with?

[2020-07-28 14:13] tofumatt commented on #1710
IB ✅

[2020-07-28 14:16] tofumatt commented on #1710
Code review is good, just assigning to @aaemnnosttv to merge.

[2020-07-28 14:26] jamesozzie commented on #1541
No change in this with Site Kit version 1.12.0.

![image](https://user-images.githubusercontent.com/41326532/88678738-ad7e1c00-d0e6-11ea-9741-ec09bfd59d57.png)

[2020-07-28 14:29] aaemnnosttv commented on #1828
@cole10up the important thing to check for is that duplicate requests to `wp-json/google-site-kit/v1/data` are no longer made. The quota error is important but more of a symptom and may not happen every time.

You'll want to check that the page loads without making duplicate requests to this endpoint. It's not uncommon for it to be requested twice on page load (particularly if PSI is active), but

[2020-07-28 15:03] felixarntz commented on #1701
This is caused by a similar problem as #1700 - let's follow progress in that issue.

[2020-07-28 15:03] #1701 closed

[2020-07-28 15:04] #1704 closed

[2020-07-28 16:24] felixarntz commented on #174
@aaemnnosttv I think the types would be
* `term`
* `user`
* `date`
* `time` (for the one I forgot that you mentioned)

Regarding the IDs, they are numeric (WP post/term/user IDs right now). I was thinking to somehow keep using this field for archives not associated with a WP database table (that's why I thought about making the date IDs fully numeric), but maybe it's better to introduce another id

[2020-07-28 16:32] felixarntz commented on #1700
IB ✅

[2020-07-28 17:05] #1716 closed

[2020-07-28 18:04] aaemnnosttv commented on #174
I don't think we should refer to a date as a slug as slugs are generally simplified/normalized versions of something unpredictable input like a title or name. If we wanted to cast the string date to a purely numeric ID, I would think `strtotime` would be a good function to use for that and the timestamp would serve as its ID - the only problem there is that it isn't enough by itself to know what r

[2020-07-28 18:17] tofumatt commented on #722
Reading through the requirements in the issue, it's not clear what our rules actually are and what we're trying to protect against. I suppose the aim of the issue is to prevent known acronyms from being typed-out incorrect, eg:

`json` ❌
`Json` ❌
`JSON` ✅

But it's worth noting we can't detect the first example there in the context of something like `fetchjsonData`. We can detect `fetchJsonData`,

[2020-07-28 18:20] tofumatt commented on #1761
I enjoyed working with [react-autosuggest](https://github.com/moroshko/react-autosuggest) in the past—used it on addons.mozilla.org (it's still in use in the search box at the top of the page) and it worked quite well and is very accessible.

I'd nominate it as the library to use for react autocomplete. 👍

[2020-07-28 18:29] felixarntz commented on #1821
@aaemnnosttv Let's see if this makes it more stable. Moving to QA

[2020-07-28 18:49] eugene-manuilov commented on #1779
@felixarntz @aaemnnosttv thanks for your comments and thoughts. Felix, the following is how we can implement your basic/strict modes idea. The trick is that we need to use pull request's draft status to determine whether it is basic or strict mode. Here is what we need to do:

##### Travis CI

1. Migrate Travis CI jobs into GitHub Actions as a single workflow file with multiple jobs. They will be

[2020-07-28 18:51] felixarntz commented on #174
@aaemnnosttv

Hmm, a `slug` in WordPress is something unique, so I'd consider this just another kind of identifier, with the difference that it is not numeric. I'd still would want to keep that separate though from actual IDs, so let's not combine these two. Do you have an alternate naming suggestion? It should be generic so that it could be e.g.:
* a post slug (e.g. `my-post`)
* a term slug (e.g.

[2020-07-28 19:01] felixarntz commented on #722
@tofumatt

For the purpose of this, only the second case should be detected here. The first one is not valid camel-case anyway, so this would have another problem already.

Yes, I think the approach could be:
* Find all substrings that is one of our acronyms where the first letter is a capital one.
* If this substring is followed by another capital letter, or if it is the last segment of the name,

[2020-07-28 19:55] aaemnnosttv commented on #1821
@felixarntz looks like there's still an issue with this test as I just saw it fail in the same place.
https://travis-ci.com/github/google/site-kit-wp/jobs/365871008

[code]

Moving back to execution, I'll continue looking into this.

[2020-07-29 00:36] felixarntz commented on #1575
@ernee This issue (like the other cURL issues we've been seeing) are most likely out of our control. We're working on detecting this problem early on, per #1549, so that users should be informed before even setting up Site Kit. Let's keep an eye on these issues and support threads and inform the reporters that this is likely a host-specific problem, and we're working on some changes to detect it e

[2020-07-29 00:36] #1575 closed

[2020-07-29 00:37] felixarntz commented on #1422
@jamesozzie Closing this one since it seems to no longer be a problem and we cannot replicate it. It may have been a very specific plugin conflict, but we don't know with which one. Let's reopen if someone reports the same error later.

[2020-07-29 00:37] #1422 closed

[2020-07-29 00:53] felixarntz commented on #1743
@aaemnnosttv

Either of these special cases will become more relevant once we work on issues where this is exposed, but generally I believe we should never clear any of the options in these scenarios:
* If the user disconnects or is no longer an admin, they are still the user that most likely has access to e.g. the module's entities (since they're Google service territory).
* If the user is delete

[2020-07-29 04:11] cole10up commented on #1302
**Tested**

Checked npm run build version:

Remains unchanged:
![image](https://user-images.githubusercontent.com/57115907/88629892-b0382d00-d064-11ea-86ad-f4e566df6b7f.png)

Checked npm run build:
![image](https://user-images.githubusercontent.com/57115907/88755775-bb4b9580-d116-11ea-89fe-a8c0095a91aa.png)

Noticed the layout is a bit messy

Added @eugene-manuilov to https://dynamic-roadrunner.ju

[2020-07-29 04:23] cole10up commented on #1302
**Tested**

Checked npm run build version:

Remains unchanged:
![image](https://user-images.githubusercontent.com/57115907/88756426-76286300-d118-11ea-9e2c-51cdbd2664a8.png)

Installed and activated build running npm run build:dev

![image](https://user-images.githubusercontent.com/57115907/88756032-4d539e00-d117-11ea-8d14-f8ffc8ca98ec.png)

Added @eugene-manuilov to https://dynamic-roadrunner.jur

[2020-07-29 08:08] aaemnnosttv commented on #1646
@felixarntz I just added a QA brief for this and one amendment I think we may want to make here would be to display one of the header error notifications as well, e.g.
![image](https://user-images.githubusercontent.com/1621608/88773753-3189df80-d18b-11ea-87f2-e063ac94297a.png)

Also, one thing I noticed is that when accessing Analytics via settings edit, the progress bar never stops loading becaus

[2020-07-29 09:25] aaemnnosttv commented on #1761
@tofumatt unfortunately it looks like that one is no longer maintained either
![image](https://user-images.githubusercontent.com/1621608/88782648-7ebf7e80-d196-11ea-9233-efc916aea252.png)

[2020-07-29 09:49] aaemnnosttv commented on #1779
Thanks for the follow up here @eugene-manuilov - I like the idea of using the draft status to control limit some of the tests before it's ready for review. What do you think @felixarntz ?

Regarding the conditional logic for PHP and JS tests, we also want to make sure that the relevant tests run whenever their respective _dependencies_ or relevant config files change, even if none of the source fi

[2020-07-29 12:30] tofumatt commented on #1531
QA ✅  from me!

[2020-07-29 12:51] tofumatt commented on #1590
I think this is working as the actions are running so marking as approved ✅

[2020-07-29 12:57] eugene-manuilov commented on #1779
@aaemnnosttv `git diff` will require one extra step to checkout repository, otherwise it won't work. `curl` + `grep` just work as is without checkout.

##### PHP

[code]

##### JS

[code]

[2020-07-29 13:01] aaemnnosttv commented on #1761
I took a quick look around other screens and didn't see any other warnings, so it looks like the auto-suggest is indeed the only thing we need to update here.

[2020-07-29 13:13] eugene-manuilov commented on #1622
QA :heavy_check_mark:

[2020-07-29 13:16] tofumatt commented on #1803
QA ✅

GitHub Desktop showed an error with a bad commit.
GitHub Desktop allowed a legitimate commit message 👍

[2020-07-29 13:27] tofumatt commented on #1761
Huh, darn, didn't realise that. For what it's worth, though:

* https://github.com/moroshko/react-autosuggest/search?q=componentWillMount&unscoped_q=componentWillMount
* https://github.com/moroshko/react-autosuggest/search?q=componentWillReceiveProps&unscoped_q=componentWillReceiveProps

It doesn't have those deprecated calls, so would be safe to use 🤷‍♂️

[2020-07-29 13:48] tofumatt commented on #1818
QA ✅

Checks were skipped for a user without write permissions:

<img width="974" alt="Screenshot 2020-07-29 at 14 46 48" src="https://user-images.githubusercontent.com/90871/88808218-7c671f80-d1aa-11ea-94ea-5e93af7a8b18.png">

https://github.com/google/site-kit-wp/pull/1844

[2020-07-29 13:50] tofumatt commented on #1802
QA ✅

[2020-07-29 15:33] felixarntz commented on #1742
Duplicate of #467, let's follow up there. Unfortunately the API itself doesn't provide any of this information, but we're still going to improve these messages as much as we can.

[2020-07-29 15:33] #1742 closed

[2020-07-29 17:27] aaemnnosttv opened #1845 "Update issue and pull request templates"
## Feature Description

Currently the issue templates do not have any mention of tests. This could be improved by adding a section or at least a comment to the Implementation Brief section indicating any proposed test coverage additions, changes, which kind of tests, whether or not VRT changes are expected or not. This is all valuable information to include for the implementation and should result

[2020-07-29 17:32] aaemnnosttv commented on #1779
Ah you're right, I forgot we'd need to do that. If the matching is just as reliable then that works for me 👍

[2020-07-29 18:19] ryanwelcher commented on #1800
I am not seeing any errors in session storage. QA ✅

[2020-07-29 20:32] aaemnnosttv commented on #1801
@felixarntz regarding this part, I don't think it's necessary that the validation function returns anything, it only needs to throw if something is invalid. I've written the IB accordingly - unless there's another reason why this is needed, I can update it accordingly.

[2020-07-29 21:46] cole10up commented on #1208
**Tested**

Built latest develop, installed SK and Woocommerce, activated both.

Checked wp plugin list

![image](https://user-images.githubusercontent.com/57115907/88856906-2db98580-d1aa-11ea-8530-aefed85d247b.png)

No errors to report.

 Passed QA ✅

[2020-07-29 22:03] cole10up commented on #1709
**Tested**

Installed latest develop of SK, activated and activated Adsense.

Confirmed functionality below:

Setup flow
![image](https://user-images.githubusercontent.com/57115907/88857666-91907e00-d1ab-11ea-9746-163a43ce488e.png)
![image](https://user-images.githubusercontent.com/57115907/88857686-9b19e600-d1ab-11ea-87f1-42d7a05c37bb.png)

Functionality
![image](https://user-images.githubusercon

[2020-07-29 22:50] tofumatt commented on #722
This one was mostly a matter of getting the proof-of-concept, available at #1847.

Now it should largely be a matter of going through the warnings and fixing the remaining issues. I don't see any false-positives with this approach, and after all existing violations are fixed we should be good. 👍

[2020-07-29 23:18] felixarntz opened #1848 "Display permissions error notification when missing Site Kit service requirements"
## Feature Description

Follow-up to #1646: When any of the errors with a `data.reconnectURL` present is returned from an API call (e.g. `missing_verification`, `missing_delegation_consent`, `missing_search_console_property`), that error should also be surfaced in a top-level notification in the dashboard since it will affect _all_ API calls by definition.

---------------

_Do not alter or remove

[2020-07-29 23:21] felixarntz commented on #1646
@aaemnnosttv Good point! It's okay for now to move forward without this, but I added #1848 to improve.

[2020-07-29 23:41] felixarntz commented on #1253
@eugene-manuilov I think the problem here is not so much that we get a "random" post, but that the post may not be public. `get_post()` returns the current post currently being edited in the admin (if there is any), so that's all good I think. What we need to add here is checks `get_post_type_object( $post->post_type )->public && ( $post->post_status === 'publish' || $post->post_status == 'inherit

[2020-07-30 00:09] felixarntz commented on #1776
Removing this from the 1.13.0 release since it should get more testing (mostly because server-side API changes needing to be backward-compatible).

[2020-07-30 00:09] felixarntz commented on #1774
Removing this from the 1.13.0 release since it should get more testing (mostly because server-side API changes needing to be backward-compatible).

[2020-07-30 03:02] #1828 closed

[2020-07-30 03:03] #1654 closed

[2020-07-30 03:03] #1780 closed

[2020-07-30 03:03] #1302 closed

[2020-07-30 03:03] #1590 closed

[2020-07-30 03:03] #1803 closed

[2020-07-30 03:04] #1802 closed

[2020-07-30 03:04] #1208 closed

[2020-07-30 03:04] #1710 closed

[2020-07-30 03:04] #1818 closed

[2020-07-30 03:04] #1731 closed

[2020-07-30 03:05] #1531 closed

[2020-07-30 03:06] cole10up commented on #1710
This is verified fixed:

https://travis-ci.com/github/google/site-kit-wp/builds/177735168

Passed QA ✅

[2020-07-30 03:06] #1800 closed

[2020-07-30 03:07] #1709 closed

[2020-07-30 03:07] #1611 closed

[2020-07-30 03:09] cole10up commented on #1646
**Tested**

Installed latest SK, activated and setup Analytics.
![image](https://user-images.githubusercontent.com/57115907/88871702-6159d700-d1cd-11ea-87d9-eb42f7869221.png)

In a new tab clicked manage sites and removed access to this site:
![image](https://user-images.githubusercontent.com/57115907/88871716-6d459900-d1cd-11ea-8ff4-79d31c00ac33.png)

Closed the browser tab:
![image](https://user

[2020-07-30 05:02] cole10up commented on #1646
Ran another Scenario targeting module setup

Started Analytics setup flow:
![image](https://user-images.githubusercontent.com/57115907/88876595-7720c980-d1d8-11ea-84ea-098e7ef8994c.png)

Removed the site from 'Managed sites' page and let the token expire

Notice:
![image](https://user-images.githubusercontent.com/57115907/88882532-07fea180-d1e7-11ea-8d55-f7540d1e30f2.png)

Confirmed 'redo the plug

[2020-07-30 05:23] cole10up commented on #1781
**Retested**

With a fresh Jurassic Ninja site, removed all posts:
![image](https://user-images.githubusercontent.com/57115907/88883313-e0a8d400-d1e8-11ea-8078-85ff42fd1da9.png)

Installed latest release candidate zip, activated and setup SK
![image](https://user-images.githubusercontent.com/57115907/88883547-7cd2db00-d1e9-11ea-8dff-4aa81dc9474e.png)

Posted a first post:
![image](https://user-ima

[2020-07-30 05:30] cole10up commented on #1775
**Tested**

Installed latest SK release candidate, setup and ran a series of regression tests around Analytics.

Installed and checked functionality:
![image](https://user-images.githubusercontent.com/57115907/88884052-9c1e3800-d1ea-11ea-90a4-988c806ceb6c.png)
![image](https://user-images.githubusercontent.com/57115907/88884081-a8a29080-d1ea-11ea-80e2-74ec5a1a2346.png)
![image](https://user-images

[2020-07-30 06:06] cole10up commented on #1678
**Tested**

Built latest dev build, activated site kit and page speed insights.

Notice:
![image](https://user-images.githubusercontent.com/57115907/88886045-890d6700-d1ee-11ea-88be-f2a2afc94f8b.png)

Confirmed toggles:
![image](https://user-images.githubusercontent.com/57115907/88886134-af330700-d1ee-11ea-8d3f-3883902bf1de.png)
![image](https://user-images.githubusercontent.com/57115907/88886160-

[2020-07-30 08:53] aaemnnosttv commented on #1328
## QA ⚠️

Mostly good, but one thing which should be fixed.

* Tested setup of Analytics, Tag Manager, and AdSense using an existing tag with permission and confirmed module setup successfully with existing tag behavior.
* Tested settings view/edit with existing tags with and without permission, and all were detected properly.
  **Note: AdSense does not display the existing tag notice in the Setti

[2020-07-30 09:27] tofumatt commented on #1814
Because the ACs here are largely something to follow for IB, I referenced them in the IB but added some context and also an extra `clearError` action to the IB. I think it's a good idea to integrate error clearing into our actions that dispatch errors so we don't wind up in a state where the error isn't cleared or needs to be cleared elsewhere.

[2020-07-30 09:28] aaemnnosttv opened #1851 "Release 1.13.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-07-30 09:53] aaemnnosttv opened #1852 "Tests don't fail when global data is unable to be loaded"
## Bug Description

Currently, when data is unable to be resolved from our globals (usually only in tests where it isn't manually received), we log an error to the console.

https://github.com/google/site-kit-wp/blob/e4539d97a47fee9a21e6ef29e1a6bdd4d86d5379/assets/js/googlesitekit/datastore/site/info.js#L116-L119

However, this does not cause tests to fail where it should. We should make this thro

[2020-07-30 11:25] eugene-manuilov commented on #1253
@felixarntz `get_post()` returns the current post but it doesn't guaranty that it's currently being edited in the admin. IMO we need to change how we get the current post because currently we use unreliable approach that can be broken by other plugins too.

[2020-07-30 12:24] jamesozzie opened #1855 "Dashboard error after AdSense activation"
As reported in the [WordPress support forums](https://wordpress.org/support/topic/adsense-connection-error/#post-13189298) one encountered the below error during AdSense setup:

[code]

Awaiting additional information

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

## QA Br

[2020-07-30 13:16] aaemnnosttv commented on #924
@felixarntz I've been looking into the IB for this one and it looks like the work to be done is fairly substantial - especially since we have no custom sniffs of our own yet - and may need to be broken into multiple issues. There's also a question as to whether this repo is the right place for these rules to be defined as it seems like some of these are filling in rules that aren't implemented in

[2020-07-30 15:06] felixarntz commented on #1814
IB ✅

[2020-07-30 16:21] felixarntz opened #1857 "Improve support for sites that have changed their URL"
Our current support for sites changing their URL has slightly improved since initial launch, but is still causing quite a high number of support requests. For some context, changing the URL of a site affects the following:

* URLs registered on the Site Kit service need to be updated, otherwise any subsequent (re-)connection attempts will likely fail (for a myriad of possible reasons and edge case

[2020-07-30 17:20] felixarntz opened #1858 "Fix over-aggressive API requests to check whether Analytics and AdSense are linked"
## Bug Description

At the moment Site Kit determines the connection between Analytics and AdSense by making Analytics API requests with AdSense-specific metrics which are restricted and will result in an error, if AdSense is not connected.

These requests naturally happen for:
* The top earning pages widget on the Site Kit dashboard (`AdSenseDashboardWidgetTopPagesTableSmall`)
* The top earning p

[2020-07-30 18:59] tofumatt commented on #1493
I tried to write up a specific implementation brief for this issue, but doing so required researching the available JSDoc parsers' APIs or existing ESLint JSDoc plugins (https://github.com/gajus/eslint-plugin-jsdoc) out there that we could integrate into our own rules to build some of the more esoteric ones like ordering and rules about grammar in comment text.

Unfortunately there isn't anything

[2020-07-30 20:14] felixarntz opened #1859 "Display errors correctly in module setup/setting flows"
## Bug Description

Currently, error handling in module setup flows is rudimentary, with only the last single error being displayed. The bigger problem though is that if an error occurs for the main request that is used to determine whether the setup should be in loading state, the loading bar will just keep going, and the error will never be displayed.

---------------

_Do not alter or remove an

[2020-07-30 21:28] felixarntz opened #1860 "Link to Site Kit service permissions screen in localized version"
## Bug Description

The Site Kit service permissions screen is currently not accessed in its localized version even though these versions are available. This was missed in #1726.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The URL to the proxy permissions screen should also include the `hl` query p

[2020-07-30 21:44] #1726 closed

[2020-07-30 21:44] #1781 closed

[2020-07-30 21:44] #1646 closed

[2020-07-30 21:44] #1719 closed

[2020-07-30 21:44] #1775 closed

[2020-07-30 21:44] #1678 closed

[2020-07-30 21:45] #1328 closed

[2020-07-30 21:45] #1851 closed

[2020-07-30 22:07] felixarntz commented on #1253
@eugene-manuilov Maybe we could wrap it into a clause which checks that the `get_current_screen()` is the post editing screen? That would make it a bit more bullet-proof.

However I'd argue even the current logic is correct - if a plugin sets the `$post` global somewhere that it affects the Site Kit dashboard, that plugin is clearly doing it wrong. But I agree with your concern, we only care for t

[2020-07-30 23:16] felixarntz commented on #1743
@aaemnnosttv IB ✅

[2020-07-30 23:21] felixarntz commented on #1801
@aaemnnosttv Mostly LGTM, however one thing to correct I think:

I think this should instead call `argsToParams` and then `validateParams` in the `try/catch`. If an error is thrown here, then `requiresParams` should be `true`. This is closer to how it currently works, the user passing an `argsToParams` doesn't mean that these are required, now that validation happens separately.

[2020-07-30 23:22] felixarntz commented on #1761
IB ✅

[2020-07-30 23:24] felixarntz commented on #722
IB ✅

[2020-07-30 23:29] felixarntz commented on #1493
@tofumatt IB pretty much LGTM, just a general question (since some of it is high-level, which I think is okay overall):

I would think there's existing rules we could use or configure to enforce correct indentation (e.g. all `param` docs should be aligned the same way)? Also, is there something existing we could use to say "everything should have `since`", "there should be no blank line between `p

[2020-07-30 23:45] felixarntz opened #1862 "Simplify logic to render Site Kit tags (Analytics, AdSense, Tag Manager) and add actions for loading them"
The logic for Site Kit to render its tags (done by the `Analytics`, `AdSense` and `Tag_Manager` module classes) is currently somewhat hard to follow, and because it renders tags in various formats (e.g. AMP and non-AMP) while still adding all of these hooks independently, there is some duplicate logic, and this has caused errors before where we e.g. changed a condition in one place but not another

[2020-07-31 02:03] felixarntz commented on #1075
Modifying data layers for `gtm.js` can happen via injecting custom JavaScript into the page. #1862 will add action hooks `googlesitekit_init_tagmanager_tag` and `googlesitekit_init_tagmanager_tag_amp` that receive the respective Tag Manager container ID and can be used to add additional action hooks e.g. to inject such JavaScript.

Closing this issue as these hooks should satisfy the needs to modi

[2020-07-31 02:03] #1075 closed

[2020-07-31 09:18] aaemnnosttv commented on #1862
@felixarntz it seems like this may have some overlap with https://github.com/google/site-kit-wp/issues/475.

I see you already have a PR here, but curious if you feel we could simplify things while ensuring more consistency between modules by extracting classes for this?

[2020-07-31 09:21] aaemnnosttv commented on #1860
IB ✅

[2020-07-31 09:42] eugene-manuilov commented on #1253
Yes, I agree with you, adding `get_current_screen` and post availability checks is what we need regardless of what other plugins do.

[2020-07-31 15:30] eugene-manuilov commented on #1814
@tofumatt / @felixarntz IB says to add `clearError` action to the `createFetchStore` factory but how can i get to the clear function itself without knowning the current datastore name? Without it I can't call `registry.dispatch( STORE_NAME ).clearError(...)` sequence. Do I need to addd an additional parameter to the `createFetchStore` function to receive the current store name?

[2020-07-31 17:19] adamsilverstein commented on #1681
This is ready for additional review.

[2020-07-31 17:55] huriprod commented on #1522
Same Problem here since the last update of the plugin yesterday :/

[2020-07-31 18:40] felixarntz commented on #1862
@aaemnnosttv I had forgotten about that issue, but still like that approach. How about we make that a follow-up to this one? I think the enhancements have their value standalone already, I'd see it as a stepping stone because now the logic is more consistent, so migrating towards #475 will be more straightforward.

[2020-07-31 18:46] felixarntz commented on #1814
@eugene-manuilov Good point, yes `createFetchStore` should receive `storeName` then. Also, `createFetchStore` should check whether `clearError` (as well as the other error selectors/actions) exist on the store before calling them, since that is not a given.

[2020-08-02 18:06] MasterKhatri commented on #852
Even after enabling "manage_options" capability for editor user role, the editor is still not being able to access the analytics page. Can anybody please share a working workaround?

[2020-08-03 09:23] aaemnnosttv commented on #174
Not quite - post slugs are not guaranteed to be unique across all posts. Multiple posts can have the same `post_name` if they are different post types. The slug only has to be unique across its place in the permalink structure. I can create a WC product with a slug of `hello-world` even though there is a post with the same slug because they don't compete for the same resulting URL. I can't however

[2020-08-03 11:06] aaemnnosttv commented on #1862
@felixarntz this mostly looks good to me, just a few questions/suggestions here.

Any reason why we should hook into `wp` specifically? I think `template_redirect` might be a more appropriate hook to use as `wp` runs in a few other places other than a front-end HTML response. Ideally there would be an action right before the `template_include` filter (we could even use that filter without changing

[2020-08-03 16:00] aaemnnosttv commented on #1326
@tofumatt there seems to be a bit of ambiguity in the definition of this issue which has led to some confusion in the implementation. Would you please work with @eugene-manuilov to clarify any details around what is still needed here?

[2020-08-03 16:12] tofumatt commented on #1326
I've amended the IBs to state that a webpack approach is what was intended and that shell scripts/node scripts weren't the intention. Since the ACs say as much, I've updated the IB to remove mention of `node`/`npm`/shell scripts, with everything referencing a Webpack-only approach.

The aim here should be to convert all asset management to rely on the `webpack` command/Webpack pipeline. This means

[2020-08-03 17:25] aaemnnosttv opened #1865 "Move visual regression testing to GitHub Actions"
## Feature Description

As a stepping stone towards moving our CI jobs to GitHub Actions (see #1779), a good first candidate to move is the VRT job. One benefit of moving this job in particular is that we can upload the generated HTML report that backstop generates as an artifact of the job for downloading/inspection later in the event of a failure where this is not readily available with Travis (

[2020-08-03 18:45] eugene-manuilov commented on #1814
Created the #1864 PR with initial changes that include the `createErrorStore` partial store, changes in the `createFetchStore`, updates to existing stores and modification of the PSI dashboard widget to use the new approach to track and display errors. The PR itself seems to be pretty big, so I have decided to send it for review and process remaining tasks (if i miss anything) in separate PRs.

[2020-08-04 05:44] gmmedia opened #1867 "Analytics Top content is sorted by title and not by views"
## Bug Description

The Google Analytics **Top content** widget is sorted by the **title column** and not by the views column.

## Steps to reproduce

Same wrong sorting on the 3 pages:
* WordPress Dashboard widget
* Site Kit Dashboard
* Analytics

## Screenshots
![2020-08-04_074049](https://user-images.githubusercontent.com/7474702/89257311-3389ed80-d626-11ea-910d-50aed4cc3516.png)

## Additional

[2020-08-04 07:48] aaemnnosttv commented on #1779
I just opened #1865 to move VRT to GHA to make this a bit more of an incremental step (any jobs we can shave off of Travis right now are still beneficial).

One thing that I realized that I wanted to mention here though is that GitHub Actions does not provide a way to re-run a specific job - you can only re-run all jobs in a particular workflow. For that reason, things like E2E stability will be v

[2020-08-04 09:03] eugene-manuilov opened #1868 "Update .nvmrc to use the current LTS version"
## Feature Description

Node 10 is no longer the actual LTS version and based on the [LTS schedule](https://nodejs.org/en/about/releases/) will become deprecated in less than a year (04/30/2021). We need to consider changing Node.js version to the current LTS. We can do it by changing `10` on `lts/*` in the `.nvmrc` file.

---------------

_Do not alter or remove anything below. The following sect

[2020-08-04 09:15] jamesozzie opened #1869 "Error during setup wizard, error: Loading chunk 3 failed"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/site-kit-encountered-an-error-5/) the following error appears during plugin setup.

[code]

<details>
<summary>
Site Health information
</summary>

Full information in Google form

[code]
</details>

<details>
<summary>
Console Errors
</summary>

[code]
 </details>

## Additional Context

- Cleari

[2020-08-04 10:36] aaemnnosttv commented on #1714
This one has proxy URLs missing in the `core/site` info store - not sure how this didn't fail tests before; taking a look now.

[2020-08-04 11:11] jamesozzie opened #1870 "Show visits by post in WordPress"
## Feature Description

When viewing all posts from within a WordPress admin dashboard display the total number of visits once the Analytics module is connected via Site Kit.

More on this feature request can be viewed in the below WordPress support topic:
https://wordpress.org/support/topic/show-visits-by-post-in-wordpress/

![image](https://user-images.githubusercontent.com/41326532/89287092-377

[2020-08-04 12:23] jamesozzie commented on #1523
Additional findings on this issue below:
https://wordpress.org/support/topic/unable-to-complete-setup/#post-13207950

User attempted site verification in Search Console manually before trying to setup Site Kit. Unfortunately the setup loop issue remains, presumably at the "Proceed" button stage, directing the user back.

[2020-08-04 12:37] jamesozzie commented on #1855
Unfortunately no further information provided on this topic. Escalating to L1 in the event it warrants further investigation.

[2020-08-04 12:49] jamesozzie opened #1872 "Dashboard error during Analytics module setup: Error: Login Required"
## Bug Description

As reported in a [WordPress support forum topic](https://wordpress.org/support/topic/site-kit-analytics-error-login-required/) a dashboard error appears during Analytics module setup
`Error: Login Required`

https://i.imgur.com/mI8nzi4.png
![image](https://user-images.githubusercontent.com/41326532/89295749-52ee3e00-d659-11ea-9eec-6a3a2d4f3a12.png)

The Analytics account drop-d

[2020-08-04 14:36] aaemnnosttv commented on #467
Looks like a good start here @felixarntz - a few questions for you:

* `isCurrentEntityNew` and `isSiteNew` don't appear to be used other than adding the selectors
    - Rather than making these boolean on the server, it might be more useful to pass these as dates or timestamps and move the "is new" logic to the client/selector. That way we could use this for something else without requiring new d

[2020-08-04 18:01] adamsilverstein commented on #1867
Thanks for the bug report @gmmedia.

I can confirm I am seeing this as well, top content is sorted by page title in version 1.9.0:

![image](https://user-images.githubusercontent.com/2676022/89323522-11eb2f00-d643-11ea-9bc5-14d033b20bc0.png)

In 1.8.1 I see pages forted by descending Views:

![image](https://user-images.githubusercontent.com/2676022/89323328-bde04a80-d642-11ea-8e41-63113a013818.pn

[2020-08-04 19:25] tofumatt commented on #184
This does still happen with the new datepicker, at least on legacy pages that are using `withData`:

![2020-08-04 20 24 03](https://user-images.githubusercontent.com/90871/89335921-93b57980-d690-11ea-88d8-b724915ca7de.gif)

[2020-08-04 19:46] eugene-manuilov commented on #1867
Thanks @adamsilverstein! This issue is caused by a typo here: https://github.com/google/site-kit-wp/blob/897c92e479c3577ceceb3355b8c58c5c7287c4e3/includes/Modules/Analytics.php#L977

We don't need `[0]` there, it should be just `if ( ! wp_is_numeric_array( $orderby ) )`. Once it's removed, everything will work as expected. We need to udpate IB to state that we just need to remove `[0]` from that l

[2020-08-04 20:13] tofumatt commented on #184
Just posting here to document what I'm finding, as this wasn't very intuitive to me. It looks like this `setState` call:

https://github.com/google/site-kit-wp/blob/897c92e479c3577ceceb3355b8c58c5c7287c4e3/assets/js/components/higherorder/withdata.js#L196

Isn't properly "reset" when the date range changes, meaning the empty "Last 7 Days" request sets a `zeroData` state in the component, which isn

[2020-08-04 20:49] eugene-manuilov commented on #1867
IB is updated

[2020-08-04 21:48] adamsilverstein commented on #1867
✅ IB looks good to me!

[2020-08-04 22:01] eugene-manuilov commented on #1867
Created a new PR against `master` branch: #1875

[2020-08-04 23:35] tofumatt commented on #184
This one was much tougher to track down than implement, so PR is ready and the IB is set to review. Turns out: it was still happening! 😄

[2020-08-05 00:59] julian4u0 commented on #1872
i fixed this by going to google analytics, adding the tracking code to header of my website and trying again

[2020-08-05 08:21] jamesozzie commented on #1872
@julian4u0 Many thanks for sharing, that's good to know should other users encounter this issue.

[2020-08-05 08:53] aaemnnosttv commented on #184
IB ✅ but the fix needs tweaking - will follow-up in code review.

[2020-08-05 14:25] adamsilverstein opened #1877 "Improve `parse_date_range`: accept an array instead of positional arguments."
## Feature Description

The `parse_date_range` helper function has a growing list of [positional arguments](https://github.com/google/site-kit-wp/pull/1822/files#diff-cfaf931d253f74a615a5684c6f0207b6R566-R573). Originally suggested [here](https://github.com/google/site-kit-wp/pull/1822/files#r464883281).

We can make calls more human-readable by passing these instead as an array of named arguments

[2020-08-05 17:03] aaemnnosttv commented on #1867
@eugene-manuilov would you please add a QA Brief here so this can be merged?

Assigning to @felixarntz for a final pass on the PR.

[2020-08-05 17:04] aaemnnosttv commented on #1801
Just wanted to leave this finding here of a similar issue upstream: https://github.com/WordPress/gutenberg/issues/17771

[2020-08-05 17:34] eugene-manuilov commented on #1867
@aaemnnosttv QA Brief is added.

[2020-08-05 17:40] aaemnnosttv opened #1878 "Refactor svgs to use React components via svg import"
## Feature Description

Currently our build process transforms our svgs into a sprite which is then used by a `SvgIcon` component to render them. This is problematic to moving our asset pipeline over to be fully-managed by Webpack (#1326), and svg rendered in this way lacks benefits such as CSS styling.

---------------

_Do not alter or remove anything below. The following sections will be manage

[2020-08-05 17:49] eugene-manuilov commented on #1878
@aaemnnosttv we would also need to get rid of `Assets::svg_sprite` method since it's no longer needed too. Plus, I think we need clearly define which tool we need to use for svg imports.

https://github.com/google/site-kit-wp/blob/897c92e479c3577ceceb3355b8c58c5c7287c4e3/includes/Core/Assets/Assets.php#L233-L273

[2020-08-05 18:07] felixarntz commented on #1862
@aaemnnosttv Both SGTM. I've amended the ACs and IB accordingly.

[2020-08-05 18:07] tofumatt commented on #1878
Agreed regarding specifying the tool. I've traditionally used the simple `svg-url-loader`, which is useful if we want to use SVGs in our SCSS. But it's definitely more work to use in React.

**I'd recommend we use https://www.npmjs.com/package/react-svg-loader**, to make it really easy to add SVGs. It allows us to import SVGs directly like so:

[code]

If we need support for SVGs in SCSS we can us

[2020-08-05 19:05] cole10up commented on #1867
**Tested:**

Installed 1.13.0 and activated SK and Analytics with a site having lots of data:

Notice error:
![image](https://user-images.githubusercontent.com/57115907/89451481-2564cb80-d711-11ea-9751-336cf93800ea.png)

![image](https://user-images.githubusercontent.com/57115907/89451598-4cbb9880-d711-11ea-8c91-986da39011f6.png)

![image](https://user-images.githubusercontent.com/57115907/8945187

[2020-08-05 19:06] tofumatt commented on #1878
Actually, chatted with @aaemnnosttv and [`@svgr/webpack`](https://www.npmjs.com/package/@svgr/webpack) looks good and is what's used by create-react-app, so let's go with that. I trust what the makers of CRA picked 😄

[2020-08-05 19:25] aaemnnosttv commented on #1878
@eugene-manuilov removing `Assets::svg_sprite` makes sense but that's a bit of an implementation detail so let's add that to the IB. The specific loader/tool is also a bit of a detail but I added that to the AC too. Ready for IB!

[2020-08-05 19:54] aaemnnosttv opened #1879 "Release 1.13.1"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-08-05 20:11] felixarntz commented on #1814
@eugene-manuilov I think you already covered everything in the PR overall, there are however a few things to fix. I think the only part that might have made sense to do separately is the PSI component changes, but since you have them there already, let's continue to cover everything in that PR.

[2020-08-05 21:09] aaemnnosttv commented on #1862
IB ✅

[2020-08-05 22:24] #1867 closed

[2020-08-05 22:27] #1879 closed

[2020-08-05 22:32] adamsilverstein opened #1880 "Add a "Clear Site Kit Cache" link in Site Kit->Settings->Admin"
## Feature Description

Give end users a simple way to clear out Site Kit's session/local storage.

![image](https://user-images.githubusercontent.com/2676022/89470142-40970180-d738-11ea-834f-3bc6f2e5ffb8.png)

This will be helpful as an additional debugging step support staff can use when helping users who may be experiencing browser caching issues.

Since this is generally non-destructive, we pr

[2020-08-05 22:50] felixarntz commented on #174
@aaemnnosttv That makes sense. Preferably we would have something like `url_to_postid` which is generic. I initially thought about that but then dismissed the idea because we'd need to implement it, but maybe this is the way to go even if it means we'll need to write some code that would be more suitable for WordPress core.

A lot of what `url_to_postid` does is basically what we would need to, ju

[2020-08-06 01:01] felixarntz commented on #1253
@aaemnnosttv IB mostly ✅ , one additional thing to add:
* The checks for whether the post is public should also be added to `Context::get_reference_entity_from_url`, since that bit is just as relevant there.

[2020-08-06 04:53] felixarntz commented on #174
@aaemnnosttv I've updated the IB to go with my original idea of determining entities based on URL. It's complex due to how core works, but the code is mostly copied over from there, and it should definitely get thorough unit tests.

[2020-08-06 08:10] aaemnnosttv commented on #174
@felixarntz this looks much better to me now, just a few things left to finalize.

Unless there's a reason to omit them, I would suggest we use `Y`, `Y-m`, and `Y-m-d` which are easier to parse.

Also, support for `time` queries/archives doesn't seem to be included. The time could be included as `{$qv['hour']}:{$qv['minute']}:{$qv['second']}` (where `$qv` references query vars in WP query) and app

[2020-08-06 10:47] tofumatt commented on #1865
We should make sure to include the cache action so our composer (and other dependencies) are cached when they don't change. See: https://github.com/google/site-kit-wp/blob/develop/.github/workflows/storybook.yml#L22 for reference.

Let's make that clear in the IBs so we don't see a slowdown in action speed when converting these over from Travis 😄

[2020-08-06 11:19] aaemnnosttv opened #1882 "Add permission_callback to all E2E REST Routes"
## Bug Description

As of WP 5.5, the `permission_callback` argument is required for all registered REST routes. Public routes (such as those used by our E2E tests) only need to use a permission callback of `__return_true`. This isn't a problem for any of our main routes used in Site Kit but this argument was omitted for all routes used in E2E tests.

Example notice:
[code]

---------------

_Do n

[2020-08-06 14:45] aaemnnosttv opened #1883 "Fix PHPUnit tests running on WP nightly"
## Bug Description

Currently we have one job which runs our PHPUnit tests against WordPress trunk/nightly but it also uses the nightly version of PHP which is currently PHP 8. This has resulted in that job failing consistently ever since PHP 8 became the version used in PHP nightly. While some work has been done to try to fix this (#1555), it doesn't seem like this will be working anytime soon as

[2020-08-06 14:45] adamsilverstein opened #1884 "Compatibility Check: detect invalid domain names."
## Feature Description

When users first set up Site Kit, the plugin checks that the user's setup is completely compatible with Site Kit. We can improve these checks by verifying that the user's WordPress site URL is a valid, public URL that will be accepted by the [Site Verification API](https://developers.google.com/site-verification). We should ideally tell the user why their domain won't work,

[2020-08-06 15:33] aaemnnosttv opened #1886 "Event tracking timeout warning raised unnecessarily"
## Bug Description

Currently in the Analytics module, we default to excluding logged in users from measurement for the selected view chosen during module setup.

Originally this would simply prevent the Analytics tracking snippet from being output when users were logged-in. In #944, we revised this to use the GA opt-out script (and respective AMP configuration) to opt-out of all GA measurement in

[2020-08-06 15:36] adamsilverstein commented on #1880
Turns out we already have a way to clear caches: adding a query variable - `googlesitekit_reset_session=1` - clears the cache. Closing this issue.

[2020-08-06 15:36] #1880 closed

[2020-08-06 16:09] eugene-manuilov commented on #1814
@felixarntz I have a question about Analytics' datastores. Do we really need to manually trigger `receiveError` actions? Error should be already processed by fetch stores and manually triggering `receiveError` means that we just generate duplicate actions. Am I right or do I miss something? :thinking:

[2020-08-06 16:19] felixarntz commented on #1886
IB ✅

[2020-08-06 16:30] felixarntz commented on #1814
@eugene-manuilov Yes we do. It might feel a bit odd from an engineering perspective, but the reason we need to do that in certain cases:
* The goal is that every error is stored under the `baseName` and `args` which are passed to the **public** action or selector.
* Through the automated handling in the fetch stores, errors are stored based on the `baseName` and `args` that the fetch store receive

[2020-08-06 17:11] felixarntz commented on #174
@aaemnnosttv I've updated the IB again to cater throughout for the new classes and methods. +1 on using a `WP_Query_Factory`. I wanted to return a `WP_Query` first, but then decided for `$args` because it seemed that you could only instantiate a `WP_Query` when also running the actual query, which I consider an unintended side-effect that shouldn't happen. However I found there's `WP_Query::parse_

[2020-08-06 17:38] aaemnnosttv commented on #174
IB ✅  🎉

I'm going to bump the estimate up one though as my spider sense is still telling me it's on the low side and I feel like there is still quite a substantial amount of implementation and tests to write even with the generous head start here.

[2020-08-06 22:36] felixarntz commented on #1883
IB ✅

[2020-08-06 22:45] felixarntz commented on #1801
@aaemnnosttv

This sounds great to finally fix that issue, however we'll need to also still pass `args` to that internal action, to use them e.g. for #1814. Let's just pass both `params` and `args`. Since this bit is fully internal, it's okay if that's not super intuitive, we should just document why both are being passed.

After that change the IB should be good to go from my end.

[2020-08-06 22:49] felixarntz commented on #1865
IB ✅

[2020-08-06 22:57] felixarntz commented on #1817
@tofumatt One thing that's somewhat missing from the IB is considering AMP. Implementing the `ContainerNameTextField` is different from e.g. #716 here since in case of AMP another setting will be used (and for secondary AMP, if both containers are set to create a new one, we'd need to show two different name fields.

I suggest we implement both a `WebContainerNameTextField` and `AMPContainerNameTe

[2020-08-06 23:04] felixarntz commented on #1445
IB ✅

[2020-08-07 00:56] cole10up commented on #1860
**Tested**

Built latest develop build, activated and setup SK.

Checked and **Manage Sites** is missing from develop and dev.

This is production:
![image](https://user-images.githubusercontent.com/57115907/89596938-7954da80-d80d-11ea-91cb-0bc091cc8c3f.png)

![image](https://user-images.githubusercontent.com/57115907/89596954-85409c80-d80d-11ea-8ef9-126ec5555294.png)

This is build:dev:
![image](

[2020-08-07 01:55] cole10up commented on #1714
**Tested**

Installed, activated and setup latest develop SK.

Created a new admin:
![image](https://user-images.githubusercontent.com/57115907/89600084-06039680-d816-11ea-8ee3-185a4ef4bb2b.png)

Logged in as the new admin:
![image](https://user-images.githubusercontent.com/57115907/89600146-26cbec00-d816-11ea-9058-da6b49f2ca87.png)

Confirmed new message

Checked browser sizes:
![image](https://u

[2020-08-07 07:27] aaemnnosttv commented on #1445
There's one tiny change needed here since this was merged after #1883 as the `allowed_failures` definition for the WP nightly job no longer matches. I'll create a quick follow-up PR here to fix.

[2020-08-07 08:57] aaemnnosttv commented on #1860
@cole10up @felixarntz not sure that there is a problem here - at least looking at the screenshots. The error seems to be from a browser extension as we don't have a `showNag.js`.

The WP error warning shown is related to [this issue](https://github.com/google/site-kit-wp/issues/1858), so not a regression here.

[2020-08-07 10:03] aaemnnosttv commented on #1326
@eugene-manuilov just noting here that the `build:static` command should also no longer be necessary and should be able to be removed after this refactoring is done, but let me know if there's any reason why we might still need it.

[2020-08-07 11:01] tofumatt opened #1888 "React hooks fail when third-party libraries import from React"
## Bug Description

We have noticed in upgrading dependencies (see #1835) and adding Reach Combobox (#1761) that third-party libraries using React hooks (mainly ones that `import { useRef } from 'react';`—where `useRef` is any hook, but using it as an example) cause React hooks errors, even though we aren't breaking the rules of hooks internally.

@aaemnnosttv and I looked into it, and both suspec

[2020-08-07 12:34] aaemnnosttv commented on #1888
@tofumatt the IB looks good to me to fix the problems we were having. Regarding the AC, I'm not sure we should involve other issues directly or have items which are not directly related to the changes we're making such as the ability to upgrade `@wordpress/data` which isn't being upgraded in this issue. Thinking in terms of QA it seems odd that someone would need to check that `@wordpress/data` wo

[2020-08-07 12:52] tofumatt commented on #1888
Fair enough, that makes sense!

[2020-08-07 13:08] aaemnnosttv commented on #1888
IB ✅

[2020-08-07 13:43] ryanwelcher commented on #1888
Confirmed that before merging `develop` hook errors were being fired. Post merge and build, the component rendered correctly
QA ✅

[2020-08-07 14:05] aaemnnosttv commented on #1878
IB looks good, although there are a few things that would be good to add
* We should mention that the PageSpeed Insights module icon will be replaced with an svg (currently only module that uses an image) and there are a few places where this exception is hardcoded e.g. https://github.com/google/site-kit-wp/blob/b61caae583d46caf64b89959077ffeb38bedea1e/assets/js/util/index.js#L591-L595
* As in the

[2020-08-07 14:25] scottshefler opened #1891 "Allow ability to select what user roles are excluded"
## Feature Description

Currently only allowed to enable/disable excluding logged-in users. If you enable it this will also exclude front-end user logins for membership type sites. It's obviously very important to be able to track these types of logged in users.

The plugin should loop through and return all user roles that are setup on the site with a checkbox option to select which roles to excl

[2020-08-07 14:29] scottshefler opened #1892 "Event Tracking for downloads, external links, email links and telephone links"
## Feature Description

A previous Google Analytics plugin we were using had the ability to enable event tracking for downloads, external links, email links and telephone links. It would be great if this plugin could accommodate that as well. It worked by using some JavaScript on the front end to match links that fit the above criteria and applied the appropriate action, category, label tags to th

[2020-08-07 15:02] aaemnnosttv commented on #1655
@felixarntz, @tofumatt

I don't think we should add an additional line to dispatch a `finishResolution` for all selectors that have a resolver sounds rather extreme and would be a huge addition across all our tests (component, unit/jest, as well as storybook).

Looking at some resolvers in core, most don't have these guards, but some do (e.g. https://github.com/WordPress/gutenberg/blob/master/pack

[2020-08-07 15:29] eugene-manuilov commented on #1814
@felixarntz I have addressed your feedback in PR and I think it's ready for another review, but there are two components that rely on the legacy `getError` selector which I am not sure how to update:

https://github.com/google/site-kit-wp/blob/19a6a07dd97b0547b0644903c722e00ca0a3d8ab/assets/js/components/StoreErrorNotice.js#L32-L41

https://github.com/google/site-kit-wp/blob/19a6a07dd97b0547b06449

[2020-08-07 15:45] jamesozzie commented on #1892
@scottshefler Many thanks for your valuable feedback. As we already have #1207 open I'll close this one as a duplicate, but feel free to add any input to that feature request.

With the [autotrack](https://github.com/googleanalytics/autotrack) feature mentioned in that issue many of the suggestions you've referenced would be covered, including external links and  tracking emails and contact relate

[2020-08-07 15:45] #1892 closed

[2020-08-07 15:47] jamesozzie commented on #1891
@scottshefler Thanks for your suggestion. Note that all features requested are periodically reviewed by our product team, however there is no ETA for it.

[2020-08-07 16:21] sonjaleix commented on #1714
Looks great! The messaging is much clearer! 👏

[2020-08-07 17:47] aaemnnosttv commented on #1801
@felixarntz I've updated the IB to pass both to the internal `fetchCreator` function. Alternatively, we could just pass `...args` as it would have been called before and call `argsToParams` internally and not call `validateParams` again as they've already been validated. It would be kind of an unnecessary call since we already have the `params` but a bit more consistent. Not a big deal either way,

[2020-08-07 17:51] felixarntz commented on #1860
@aaemnnosttv I haven't yet looked into it, but the link missing entirely should never be the case. I'm not sure this was introduced as part of the PR here, but there's definitely something wrong.

[2020-08-07 17:55] aaemnnosttv commented on #1860
Oh I see what you mean, I missed that part; you're right something is definitely off there 👍  Good catch @cole10up !

[2020-08-07 17:59] felixarntz commented on #1801
IB ✅

[2020-08-07 18:03] felixarntz commented on #1814
@eugene-manuilov I don't think we should update these components here? Also not mentioned in the ACs. This PR should only be about the datastore, except for the PSI module widget for which we should add error handling (like you've already done).

[2020-08-07 18:12] felixarntz commented on #1655
@aaemnnosttv Hmm I am still not convinced about _not_ marking resolvers as finished. I agree it is a massive addition to our tests and Storybook, and it'd be great to find a way to make that more concise (e.g. something like the `receiveAndResolveGet*` or something like that action). Yet, I don't think because this adds a lot of code (only to tests and Storybook, to emphasize that - in production

[2020-08-07 18:13] tofumatt commented on #1655
IB is ready for review, sorry for the delay on this one, but #1888 had us a bit side-tracked.

[2020-08-07 23:22] eugene-manuilov commented on #1814
@felixarntz you asked me to remove `error` from the `CATCH_FETCH` action and from the appropriate reducer: [here](https://github.com/google/site-kit-wp/pull/1864#discussion_r465956464) and [here](https://github.com/google/site-kit-wp/pull/1864#discussion_r465956741). By doing it, we are losing the default `getError()` selector (without arguments) because error hanlder in the fetch store itself alw

[2020-08-08 00:08] felixarntz commented on #1814
@eugene-manuilov I mentioned not only removing `error` from `CATCH_FETCH`, but also handling it via the `receiveError` action, see https://github.com/google/site-kit-wp/pull/1864#discussion_r465956464: I believe you didn't implement the second bullet point, that's how we'd have parameter-less `getError` working still.

[2020-08-08 07:29] eugene-manuilov commented on #1814
Thanks @felixarntz. I missed that part :doh:. Ok, updated it and it's ready for review. I have updated js tests to use new errors for selectors and actions, plus found some other places where we need to manually call `receiveError`. Also, added `hasErrors` selector as it was needed in one of tests.

[2020-08-08 16:18] eugene-manuilov commented on #1878
@aaemnnosttv IB is updated with additional details.

[2020-08-08 22:51] Od99977 opened #1893 "Admin"
My AdSense account was diapproved on the 9th. July and that it was going to take 30 days without showing AdSense but I have finished it on the 8th of August but not yet showing AdSense. What could be the reason

[2020-08-09 20:46] prashantkrsahu commented on #1872
I am encountering the same issue when I try to connect Google Analytics as well as Google AdSense. Search Console is connected but there is no data in the Search Console section. The same error showing inside the Search Console section.

[2020-08-10 04:02] KaiBuskirk commented on #276
Hope all is going well?

[2020-08-10 05:52] Antera commented on #1870
Great idea, can't wait to have this feature

[2020-08-10 10:35] jamesozzie opened #1894 "Dashboard error: Minified React error #200 with Groups plugin active"
As reported in [WordPress support topic](https://wordpress.org/support/topic/site-kit-encountered-an-error-minified-react-error-200/#post-13231490) the following dashboard error appears, after clicking on activate during the setup process

[code]

<details>
<summary>Console Errors</summary>

[code]

</details>

<details>

<summary>Site Health information</summary>

[code]

</details>

## Additiona

[2020-08-10 11:18] maciejmackowiak opened #1895 "Official AMP plugin version 2.0(beta 3) -> Deprecated: AMP_Theme_Support::get_support_mode"
## Bug Description
Hello,
We've started testing the beta version of the official AMP WP plugin and there is a tiny issue with Site Kit by Google:
[code]

Here is the culprit:
https://github.com/google/site-kit-wp/blob/1.13.1/includes/Context.php#L356

## Steps to reproduce

Install and activate AMP WP 2.0.0 beta 3
https://github.com/ampproject/amp-wp/releases/tag/2.0.0-beta3

## Additional Context

[2020-08-10 11:40] jamesozzie commented on #1541
Similar issue occurs with Bluehost sites. With sites activated from the hosting CP there is a "Bluehost" plugin automatically installed which adds a "Bluehost" admin menu to the top of the WordPress admin menu. With Site Kit active the tab order is modified as below:

![taborder](https://user-images.githubusercontent.com/41326532/89778937-46a92b80-db06-11ea-8e52-b18cc34c3901.gif)

[2020-08-10 12:42] eugene-manuilov commented on #1445
QA :heavy_check_mark: Old scripts are deleted, new script works, tests work too.

[2020-08-10 14:20] jamesozzie commented on #1872
@prashantkrsahu Do you encounter the same "Login Required" error? If you'd like to open a [support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on the WordPress support forums we can hopefully determine the cause. With the topic please include a screenshot of the error you encounter and if possible share your [Site Health information](https://i.imgur.com/Rtkmsba.png). You

[2020-08-10 16:32] felixarntz commented on #1652
This has a similar problem like https://github.com/google/site-kit-wp/issues/1456#issuecomment-661999939: The `/u/{email}` approach only works if the user is actually logged into more than one Google account in the browser. I re-tested the same thing using `?authuser={email}`, and it worked, so let's switch to that.

[2020-08-10 16:51] felixarntz commented on #1652
Just assigned this to Sprint 29. If it involves more work than an hour (e.g. as part of #1456), let's reconsider and instead schedule for Sprint 30. @ryanwelcher Feel free to address in the #1456 PR if trivial enough - in that case, the IB here could just be to merge that PR.

[2020-08-10 17:34] felixarntz commented on #1652
IB ✅

[2020-08-10 18:11] ernee commented on #1652
Adding this other report from the forums: https://wordpress.org/support/topic/site-kit-adsense-blank-page/

Also noting that I still experience the same behavior in an incognito browser window.

[2020-08-10 18:15] felixarntz commented on #1652
@ernee It is expected right now that this fails in an incognito window. If you log into your browser with two different Google accounts though, it should work. (Obviously this is still a major bug, because most users only have a single Google account, and we're working on it.)

[2020-08-10 23:13] felixarntz commented on #1184
IB ✅

[2020-08-10 23:16] felixarntz commented on #1770
IB ✅ , however we should only add the console expect statements if they are actually expected. For cases where an error is logged because e.g. we forgot to intercept a request that we should have intercepted, that should be fixed by intercepting it.

[2020-08-10 23:18] felixarntz commented on #1817
IB ✅

[2020-08-10 23:19] felixarntz commented on #1825
IB ✅

[2020-08-10 23:20] felixarntz commented on #1691
IB ✅

[2020-08-10 23:41] felixarntz commented on #1655
@tofumatt

I'm not sure I understand this bit: This resolver for `getAccounts` shouldn't resolve `getAccounts` manually (of course it will do that automatically once gone through) - it should instead mark the resolver for the respective `getProperties( accountID )` resolver and `getProfiles( accountID, propertyID )` resolver as finished because it's essentially those two resolvers' tasks that it c

[2020-08-10 23:44] felixarntz commented on #1895
@eugene-manuilov IB pretty much ✅ , but keep in mind this should remain backward-compatible. We'll need a few conditionals in there based on whether `defined( 'AMP__VERSION' ) && AMP__VERSION >= 2.0.0`.

[2020-08-11 01:41] felixarntz opened #1896 "Migrate Analytics All Traffic dashboard widget to use Widgets API"
The current Analytics `AnalyticsAllTraffic` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implementing** the components:

[2020-08-11 01:41] felixarntz opened #1897 "Migrate Search Console Impressions and Clicks dashboard widget to use Widgets API"
The current Search Console `SearchConsoleDashboardWidgetTopLevel` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implemen

[2020-08-11 01:41] felixarntz opened #1898 "Migrate Analytics Unique Visitors / Bounce Rate / Goals dashboard widget to use Widgets API"
The current Analytics `AnalyticsDashboardWidgetTopLevel` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implementing** th

[2020-08-11 01:41] felixarntz opened #1899 "Migrate Search Console Top Keywords dashboard widget to use Widgets API"
The current Search Console `DashboardWidgetPopularKeywordsTable` and `SearchConsoleDashboardWidgetKeywordTable` widgets should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The

[2020-08-11 01:41] felixarntz opened #1900 "Migrate Analytics Popular Pages dashboard widget to use Widgets API"
The current Analytics `AnalyticsDashboardWidgetPopularPagesTable` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implemen

[2020-08-11 01:41] felixarntz opened #1901 "Migrate AdSense Summary dashboard widget to use Widgets API"
The current AdSense `AdSenseDashboardMainSummary` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implementing** the compo

[2020-08-11 01:42] felixarntz opened #1902 "Migrate AdSense Top Earning Pages dashboard widget to use Widgets API"
The current AdSense `DashboardAdSenseTopEarningPagesSmall` widget should be migrated to use the Widgets API (which is behind a feature flag), while maintaining the current version as legacy components. Those will be removed only once all widgets have been migrated so that we can do the entire switch.

Some general practices for migrating:
* The migration should happen by fully **re-implementing**

[2020-08-11 02:10] felixarntz commented on #1860
One reference to `_googlesitekitLegacyData.admin.proxyPermissionsURL` was missed while removing that piece of information in https://github.com/google/site-kit-wp/commit/f8efdb0fd73694c50386593c3794ff7ff23dbfe6, that's why the link now no longer displays in the user menu. I'll open a follow-up PR.

[2020-08-11 02:19] felixarntz commented on #1774
Removing this from the release since it should get additional time to be in use in `develop`.

[2020-08-11 02:19] felixarntz commented on #1776
Removing this from the release since it should get additional time to be in use in `develop`.

[2020-08-11 09:50] eugene-manuilov commented on #1895
@felixarntz I have updated IB to address your notes.

[2020-08-11 14:58] felixarntz commented on #1896
@eugene-manuilov IB looks great, I really like the approach of separating into different stages, which makes it a lot easier to understand 👍

Can you clarify this bit? I don't think I understand what's the purpose of this. What is `displayName` used for overall?

At the moment, the `googlesitekit-widget--no-padding` class only works on widgets which are in a regular `boxes` style widget area. We c

[2020-08-11 15:28] eugene-manuilov commented on #1896
@felixarntz it's intended for debugging and a kind of "best practices" for HOC. Check [Convention: Wrap the Display Name for Easy Debugging](https://reactjs.org/docs/higher-order-components.html#convention-wrap-the-display-name-for-easy-debugging) section in the React documentation for more details.

So, what do we need to do then? Remove the class or adjust widget areas?

[2020-08-11 16:05] felixarntz commented on #1896
@eugene-manuilov

Thanks, makes sense, I wasn't aware of this ability.

Let's alter the two `*AllTraffic` widget areas to use `boxes` style.

[2020-08-11 16:12] eugene-manuilov commented on #1896
@felixarntz updated.

[2020-08-11 16:40] felixarntz commented on #1896
IB ✅

[2020-08-11 17:03] jamesozzie commented on #1575
Downgrading the libcurl version resolved this issue for one user, as reported [here](https://wordpress.org/support/topic/error-curl-error-2/#post-13237544).

[2020-08-11 17:09] eugene-manuilov commented on #1898
@felixarntz this is ready for initial IB review. The only thing that I am not sure about is duplicate requests with the same arguments caused by multiple `getReport` calls in different widgets. Is there a way to make sure that we send just one request per certain arguments?

I have just one idea off the top of my head: use similar approach that we use in the properties datastore where we have `wai

[2020-08-12 00:18] felixarntz commented on #1897
IB ✅

[2020-08-12 00:31] felixarntz commented on #1898
@eugene-manuilov Optimizing the request is something that I specifically would like to look at _after_ we've implemented these widgets, but before we would actually make the switch in production. For now, let's implement requests "naively" per widget. What we should do though is keep the request body minimal, for example we shouldn't blindly use `overviewReportDataDefaults`, but instead only reque

[2020-08-12 00:33] felixarntz commented on #1899
IB ✅

[2020-08-12 00:35] felixarntz commented on #1900
IB ✅

[2020-08-12 00:36] felixarntz commented on #1769
@tofumatt This is still blocked by #1761 though right?

[2020-08-12 05:43] cole10up commented on #1883
Verified fixed.

![image](https://user-images.githubusercontent.com/57115907/89979203-093ac000-dc24-11ea-861a-692df82c7514.png)

Passed QA ✅

[2020-08-12 10:47] jamesozzie commented on #1894
I was able to re-produce this issue following the below:
1. Installed and activated 4 of the plugins activated when user encountered the issue (Custom Login Page Customizer, Login or Logout Menu Item, Groups, Peter's Login Redirect). Default configurations with no alterations.
2. Activated Site Kit (previously deactivated)
3. Error appears immediately after activation

![error](https://user-images

[2020-08-12 11:17] eugene-manuilov commented on #1860
@felixarntz #1903 is approved and can be merged. Assigning this ticket to you to merge the PR.

[2020-08-12 12:03] eugene-manuilov commented on #1898
@felixarntz I thought about it too but I don't think that we need to try minizing bodies, because in this case we won't be able to optimize those requests since they will have different arguments. If we keep using the same request arguments for these three widgets, then once we optimize it, we will have just one request that will serve data for all three widgets.

Does it make sense to you or you

[2020-08-12 15:17] eugene-manuilov commented on #1749
QA :heavy_check_mark: The new component is added, old ErrorNotice components are removed, errors are displayed correctly.

[2020-08-12 15:17] smwcollege opened #1908 "Potential REST error in WordPress 5.5"
## Bug Description

After updating to WordPress 5.5 in our test environment, we have this error in the admin dashboard:
`Notice: register_rest_route was called incorrectly. The REST API route definition for pum/v1/analytics is missing the required permission_callback argument. For REST API routes that are intended to be public, use __return_true as the permission callback. Please see Debugging in

[2020-08-12 15:49] tofumatt commented on #1655
Argh, you're right. I mixed up the order when I wrote it down, sorry about that! IB amended to make more sense of the "cascading" `getAccounts` and `getProperties` resolvers.

[2020-08-12 16:12] cole10up commented on #1253
**Tested**

Installed latest SK, activated and completed setup. Activated Analytics modules.

Downloaded WP Frontend here https://wordpress.org/plugins/wp-user-frontend/

Activated WP Frontend and sipped setup

Navigated to Post form in WP Frontend
![image](https://user-images.githubusercontent.com/57115907/89977939-32a61c80-dc21-11ea-9931-4861915408fb.png)

Added a blank form:
![image](https://us

[2020-08-12 17:01] felixarntz commented on #1253
@cole10up The backslashes there are correct, they're only in the encoded JSON object.

[2020-08-12 17:55] felixarntz commented on #1898
@eugene-manuilov

I think we should for now implement the requests in the most targeted way possible, i.e. only request the data which is needed for the current widget. I understand eventually it may be better to use less minimal requests that work for multiple widgets, but for now let's not think about that so that we start from a clean slate. In other words, a widget shouldn't know what another

[2020-08-12 17:58] felixarntz commented on #1655
IB ✅

[2020-08-12 18:26] eugene-manuilov commented on #1898
Ah... ok, make sense then. @felixarntz do you want me to update it in other tickets as well or just this ticket?

[2020-08-12 18:47] eugene-manuilov commented on #1898
Ok, updated. Ready for IB review.

[2020-08-12 22:14] felixarntz commented on #1652
@cole10up You should be able to QA this as part of #1456 (please review the QA Brief here as well though).

[2020-08-12 22:43] felixarntz commented on #1456
There's an issue introduced by this one when Analytics returns 0 data:
![Screenshot 2020-08-12 at 15 38 34](https://user-images.githubusercontent.com/3531426/90075579-9c223b80-dcb2-11ea-83f1-7d36bf52f72e.png)

[2020-08-12 23:19] cole10up commented on #1253
Looks good on my end per Felix's comment above.

[2020-08-13 07:18] cole10up commented on #1549
**Tested:**

[2020-08-13 07:33] cole10up commented on #1549
**Tested**

Installed latest release candidate, activated and ran through the setup process.

Blocking specific connections:

![image](https://user-images.githubusercontent.com/57115907/90106315-188d3c80-dcfc-11ea-8beb-43e05c223952.png)

Confirmed blocking connections raises an error message.

Passed QA ✅

[2020-08-13 08:00] cole10up commented on #1862
**Tested**

Installed latest SK release candidate, activated setup properly.

Ran a series of functional tests around analytics, tag manager and adsense.

Confirmed all modules functioned properly:

![image](https://user-images.githubusercontent.com/57115907/90109197-51c7ab80-dd00-11ea-9587-9088d34b85c4.png)

Passed QA ✅

[2020-08-13 08:26] cole10up commented on #184
**Tested**

Installed latest SK release candidate, activated and setup.

Activated Analytics with on a site with not enough data:

![image](https://user-images.githubusercontent.com/57115907/90111622-c3edbf80-dd03-11ea-98b3-e58bb859ac6e.png)
![image](https://user-images.githubusercontent.com/57115907/90111655-cd772780-dd03-11ea-9103-690eca2fa655.png)

Dashboard:
![image](https://user-images.github

[2020-08-13 08:38] cole10up commented on #1681
**Tested**

Installed and activated latest RC, setup SK and activated analytics

Checked user percentage:
7 Days:
![image](https://user-images.githubusercontent.com/57115907/90112672-298e7b80-dd05-11ea-842f-b3c5f7affe48.png)

GA:
![image](https://user-images.githubusercontent.com/57115907/90112817-5773c000-dd05-11ea-8002-902b210b9bc6.png)

Discrepancy is due to my initial test

28 days:
![image](h

[2020-08-13 11:03] eugene-manuilov commented on #1895
QA :heavy_check_mark: Installed amp `2.0.0-beta3-xxxx`, don't see deprecation errors.

One thing that i have noticed is that the new version of amp has added [`CronBasedBackgroundTask::is_needed` ](https://github.com/ampproject/amp-wp/blob/183be02c259284d2d95fc2a6d017805bf93fba5a/src/BackgroundTask/CronBasedBackgroundTask.php#L41-L43) method which uses `wp_doing_cron()` function that has been adde

[2020-08-13 11:07] eugene-manuilov commented on #1652
@tofumatt assigning this to you since you are QAing #1456.

[2020-08-13 12:38] tofumatt commented on #1456
QA ✅

[2020-08-13 12:41] tofumatt commented on #1652
QA ✅

[2020-08-13 15:01] felixarntz commented on #1549
@cole10up @aaemnnosttv Looks like the actual error message is missing? There should be a text describing what's wrong below that warning headline (see ACs for text content).

[2020-08-13 16:21] tofumatt commented on #1836
Just an update that I'm still working through this. I've been spending the day mostly release testing but trying to sort this out, as I don't want to leave vague instructions for the IB. That said, the charting code is old and pretty tough to follow, as it's spread over a _lot_ of files.

I'll try to get this IB sorted soon, but I just want to be precise so the implementer isn't spending hours sea

[2020-08-13 17:43] cole10up commented on #1280
Tested as a part of this ticket: https://github.com/google/site-kit-wp/issues/1681

Passed QA ✅

[2020-08-13 17:55] cole10up commented on #1860
**Tested**

Installed, activated and setup latest SK release candidate.

Switched my site's language and checked 'Manage Sites' link.

**German:**
![image](https://user-images.githubusercontent.com/57115907/90169195-215d2d00-dd53-11ea-9ac7-f4dc95d93773.png)

**Spanish**
![image](https://user-images.githubusercontent.com/57115907/90169298-42be1900-dd53-11ea-81fb-c0b3f281ab87.png)

**Japanese**
![im

[2020-08-13 18:15] felixarntz opened #1911 "Add support for paginated content to entity detection"
Follow-up to #174: The `WP_Query_Factory` already supports detecting paginated content from URLs, parsing it into the correct `WP_Query` arguments. However, the `Entity_Factory` at the moment still ignores pagination, which means that Site Kit right now does not provide insights for URLs which are for paginated content other than page 1. This is less important to cover than the different content t

[2020-08-13 18:25] tofumatt commented on #1549
I was able to get:

<img width="995" alt="Screenshot 2020-08-13 at 19 20 10" src="https://user-images.githubusercontent.com/90871/90172059-5c368380-dd9a-11ea-9f41-e5f44457f7db.png">

when using Charles to abort requests made to the domain cdn.ampproject.org. Worth noting though: I only had the error come up and display in Firefox, not Chrome. I suspect this is due to Chrome not respecting my proxy

[2020-08-13 18:34] felixarntz commented on #1860
@adamsilverstein Can you look into that on the service?

@cole10up Good catch! Since this problem is unrelated to the plugin though, good to go 👍

[2020-08-13 18:44] felixarntz commented on #1895
@eugene-manuilov That's okay though, it's on them which version of WP they require.

[2020-08-13 18:46] cole10up commented on #1549
I also don't have VPN servers in Egypt - unable to test that case.

Moving to approved per @tofumatt's test above.

[2020-08-13 18:51] felixarntz commented on #1549
@tofumatt @cole10up What about the Google API connection error? Did you test that / see the corresponding message?

[2020-08-13 19:25] cole10up commented on #1549
**Retested**

Blocked a series of connections and saw the above warning without the corresponding message.

![image](https://user-images.githubusercontent.com/57115907/90177749-d72e7880-dd5f-11ea-80f7-2e9c21ad041e.png)

Ran a series of other attempts blocking connections as they came in. Still unable to see the corresponding message.

![image](https://user-images.githubusercontent.com/57115907/901