[2019-09-24 00:26] TrueZeal commented on #581
Same thing here. When I click "Get OAuth Credentials" (Big Blue Button)
I get the pop-up with:
Site Kit: Get OAuth Credentials
You're all set!
You're ready to start developing!
YOUR API KEY ****
BUT;
Site Kit beta for developers
says "Unable to parse client configuration values."
if I submit the API Key.

[2019-09-24 00:43] appmyhome opened #583 "Unable to parse client configuration values in Site Kit setup"
after generating a "client configuration snippet" key and copying it into the client configuration dialog box, Site Kit gives this error, "Unable to parse client configuration values".

[2019-09-24 06:30] webspacesau commented on #519
Hi James, I've done a fresh install and followed your instructions above. Will let you know if I can see data appearing. Cheers, Phil.

[2019-09-24 06:35] webspacesau opened #584 "Conflict with Updraft Backups"
## Bug Description

My scheduled backups using Updraft Backups are failing since installing Google Site Kit. See error message:
Error Message: Argument 1 passed to Google_Client::__construct() must be of the type array, object given, called in /var/www/rocketstack/wp-content/plugins/updraftplus/methods/googledrive.php on line 825 (Code: 0, line 92 in /var/www/rocketstack/wp-content/plugins/google-

[2019-09-24 07:00] aaemnnosttv commented on #540
Hi @abdulwahab610 - _LoginPress Pro_ and _LoginPress - Social Login_ are behind a paywall which is preventing us from testing them. Can you please provide us with an account on https://wpbrigade.com/account/ or zip files we can use for testing? If so, please let us know the best way to contact you privately.

[2019-09-24 08:34] fellyph commented on #580
I've got the same issue as well.

[2019-09-24 08:42] swissspidy commented on #580
Hi all!

Thanks for your reports. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

Thanks again.

[2019-09-24 08:42] #580 closed

[2019-09-24 08:42] swissspidy commented on #581
Hi all!

Thanks for your reports. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

Thanks again.

[2019-09-24 08:42] #581 closed

[2019-09-24 08:43] swissspidy commented on #582
Hi there!

Thanks for your report. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

Thanks again.

[2019-09-24 08:43] #582 closed

[2019-09-24 08:43] swissspidy commented on #583
Hi there!

Thanks for your report. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

Thanks again.

[2019-09-24 08:43] #583 closed

[2019-09-24 08:45] swissspidy commented on #584
Thanks a lot for your report!

We're aware of this current incompatibility and are tracking the progress of fixing this in #246. Please follow that issue for any updates.

[2019-09-24 08:45] #584 closed

[2019-09-24 08:49] swissspidy commented on #575
Hi there!

Thanks for your report. There is currently an issue with the OAuth credentials step. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

If it's not the same issue as yours

[2019-09-24 08:49] #575 closed

[2019-09-24 08:56] OisinOConnor opened #585 "Copy updates for the AdSense panel in Settings"
## Feature Description

Update the AdSense module panel on the Settings page with more detailed info (same style guide as the Analytics screen).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

The AdSense Settings screen should display the following fields:
* **Publisher ID** in format pub-123456789 (ret

[2019-09-24 10:00] #482 closed

[2019-09-24 13:45] OisinOConnor opened #586 "Alert text for AdSense notifications"
## Feature Description

Remove "Alert found!" heading from the notification panel. It doesn't add much to the notification. The text of the notification is sufficient. e.g. below, the message itself is enough
<img width="1275" alt="AdSense alert" src="https://user-images.githubusercontent.com/6488453/65516990-eb644f80-ded9-11e9-876e-c742787596ad.png">

---------------

_Do not alter or remove anyt

[2019-09-24 16:18] tofumatt commented on #573
Is there a specific reason to add a separate `getBatch()` method instead of providing a batch request mechanism to the existing `get()` method proposed in #572? That method could take an array of items to batch requests, and might even benefit from optimisations in the future that would automatically batch requests made within a `100ms` period or something like that.

Right now the separate APIs f

[2019-09-24 18:28] tofumatt commented on #570
As mentioned in #573, I think it's worth discussing whether `getBatch()` should be a separate function or integrated into `get()` (explicitly with an array and/or "behind the scenes" by automatically batching requests).

-----

What do you mean _The PR should therefore be opened against a feature branch._? As this PR would define the functions as no-ops and they wouldn't be in-use, would it not be

[2019-09-24 19:51] adamsilverstein commented on #556
I did a few tests and this looks good. I activated adsense with an account that included the domain and got the setup complete message with the toggle defaulting to on:

![image](https://user-images.githubusercontent.com/2676022/65541600-e4821080-deca-11e9-832f-5680410c1873.png)

I checked with an account that had AdSense but not the domain set up:

![image](https://user-images.githubusercontent.c

[2019-09-24 21:33] adamsilverstein commented on #89
This worked well in my testing, moving to Acceptance. I did note a few small issues that may not be related to this PR. cc: @aaemnnosttv @felixarntz -

### Testing steps

* In analytics account, i created several test views tied to a test domain:

`hungry-rook.w5.poopy.life`

![image](https://user-images.githubusercontent.com/2676022/65550306-9249eb00-dedc-11e9-97f9-b44ea8d1c6be.png)

* Edit theme

[2019-09-24 22:17] adamsilverstein commented on #252
In my testing, this did not pass the Acceptance Criteria, however I think they may be written incorrectly.

The AC says:

In my testing I was taken to the WordPress Dashboard - which I think is the current, expected behavior. when I clicked the Site Kit Dashboard link I was "the first step of the setup process" and then able to continue the re-authentication process.

Screencast: https://cl.ly/b3e

[2019-09-24 22:31] adamsilverstein opened #587 "Remove the "Developer Beta" Tag"
## Feature Description

Remove the "Developer Beta" tag/language that appears throughout the plugin ahead of the release. Some key points to include:

**Plugin Activated:**
![image](https://user-images.githubusercontent.com/2676022/65554821-df7f8a00-dee7-11e9-8598-c245b6b07c79.png)

#### Header
Setup Flow
![image](https://user-images.githubusercontent.com/2676022/65554871-0fc72880-dee8-11e9-89d9-f

[2019-09-25 02:58] Shericebl opened #588 "Site Kit: Get OAuth Credentials"
Its not allowing me to enter my key to complete the process.

[2019-09-25 07:29] felixarntz opened #589 "Implement standalone screen with field to paste verification token"
## Feature Description

For the new authentication flow, we'll need a **standalone** screen (decoupled from existing setup flow) that contains a (relatively wide) text input field where a user can paste a site verification token. Clicking a button "Proceed" should store the token as that user's verification tag, and for now just redirect back to the dashboard (will later be integrated with the new

[2019-09-25 07:35] felixarntz opened #590 "Remove "API Credentials" box in "Admin Settings""
## Feature Description

In preparation for the new auth flow, the "API Credentials" box under "Admin Settings" should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* On the Site Kit "Settings" screen, the "API Credentials" box under "Admin Settings" should be entirely removed including all

[2019-09-25 07:53] felixarntz commented on #570
@tofumatt
`getBatch()` should definitely remain separate for now. We haven't fully defined yet whether we're going to keep the batching at all, because it most likely ends up worth in overall perceived performance (all requests have to wait until the slowest one has been completed). The only reason to keep it is to limit server load. It's good that you bring that up though, because that leads me t

[2019-09-25 07:56] felixarntz commented on #573
Let's deprioritize this for now. We can solely rely on `googlesitekit.api.get` as a start, and based on previous discussions, maybe we'll never need a `googlesitekit.api.getBatch`.

[2019-09-25 08:08] swissspidy commented on #588
Hi there!

Thanks for your report. There is currently an issue with the OAuth credentials step. We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in https://github.com/google/site-kit-wp/issues/561#issuecomment-533803770.

Please follow the conversation in #561 for any updates.

Thanks!

[2019-09-25 08:08] #588 closed

[2019-09-25 09:12] felixarntz opened #591 "Show Tag Manager container names instead of IDs in dropdowns"
## Feature Description

In the Tag Manager module setup/settings, the container dropdowns currently show each container's ID (`GTM-xxxxxxx`) which is not very helpful for a user to see, since these IDs are internally generated by Tag Manager. Let's instead show each container's name as it is more indicative of what the container was created for.

---------------

_Do not alter or remove anything b

[2019-09-25 10:39] RazaGR commented on #243
any update on this issue?

[2019-09-25 10:52] swissspidy commented on #524
Looking at #437 again, there are some issues with the webpack and Babel configuration, causing some troubles with ESLint and also the mapping of `@wordpress/*` components to `wp.*` globals (and thus build failures.

As such, I think this might be more a large task rather than a medium one.

----

FWIW I think the issue there is simply that Node does not have these locales installed by default. Tha

[2019-09-25 13:58] felixarntz commented on #590
@marrrmarrr Since the "API Credentials" box currently holds the "Reset Site Kit" button, what should happen to this button? We still need to provide it somewhere else in the "Admin Settings" tab. Can you please augment the ACs with details on that?

[2019-09-25 14:11] robertjamesm opened #593 "Site Kit not working properly on our site"
We have set up Site Kit on other sites and it works just fine. On our site it's not working properly data is not being populated. We are able to connect to every service and we can also see the tags on our site.

[2019-09-25 14:25] jamesozzie commented on #593
@robertjamesm There could be a plugin, browser extension, firewall, VPN or other software blocking reporting. Can you check from other computer, using your browser's incognito mode and see if the same problem exists?

If the issue arises again please share the following:
- Any [console errors](https://i.imgur.com/f5WfLb3.png) that appear
- Your [Site Health info](https://i.imgur.com/Rtkmsba.png)

[2019-09-25 16:22] tamalweb opened #594 "Traffic sources in the Analytics tab"
## Feature Description

Hello team, I am a fan of checking the traffic sources and how many people are visiting my site from organic, direct and from other sites. This way I won't have to visit the analytics site to see all these data. Can we implement this in the analytics tab? Thanks

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2019-09-25 16:59] felixarntz commented on #252
Thanks @adamsilverstein, makes sense. I updated the ACs.

[2019-09-25 17:24] tofumatt commented on #272
The E2E tests have been fixed and now this runs gloriously!

<img width="702" alt="Screenshot 2019-09-25 18 09 13" src="https://user-images.githubusercontent.com/90871/65624375-a3205c80-dfc1-11e9-8cc8-eab7597f422c.png">
<img width="707" alt="Screenshot 2019-09-25 18 05 52" src="https://user-images.githubusercontent.com/90871/65624377-a3205c80-dfc1-11e9-83cb-50c171997b59.png">

[2019-09-25 17:43] tofumatt commented on #265
All good now!

<img width="695" alt="Screenshot 2019-09-25 18 42 49" src="https://user-images.githubusercontent.com/90871/65625725-4c685200-dfc4-11e9-991b-a367a79722f5.png">

Full test suite ran fine as well, so ✅for QA.

[2019-09-25 17:44] evelyn opened #595 "Site Kit Get OAuth Credentials not generating snippet"
Good morning,

I am unable to setup site-kit-wp on my site, the only thing generated by [the site kit client configuration generation page](https://developers.google.com/web/sitekit) is an API key and no snippet.  This API key is not accepted into the client configuration field on the plugins installation page, leading me to believe that there is an outside issue potentially causing this problem.

[2019-09-25 17:50] jamesozzie commented on #595
@evelyn We're already tracking this issue in #561 and are working hard on resolving it. In the meantime, a possible workaround has been posted in the same issue.

[2019-09-25 17:50] #595 closed

[2019-09-25 17:54] tofumatt commented on #264
Looks good:

<img width="703" alt="Screenshot 2019-09-25 18 46 36" src="https://user-images.githubusercontent.com/90871/65626746-debd2580-dfc5-11e9-96f0-8c0233239ce7.png">
<img width="698" alt="Screenshot 2019-09-25 18 45 16" src="https://user-images.githubusercontent.com/90871/65626749-df55bc00-dfc5-11e9-9bd8-7c4f7323d27e.png">

Full test suite passed as well 👍

[2019-09-25 19:36] tofumatt commented on #312
Tested this and it works a treat, even after a page's permalink changes and then changes back!

(Stats omitted from screenshots for privacy, but they _do_ appear.)

#### Tested with a homepage:

<img width="977" alt="Screenshot 2019-09-25 20 23 08" src="https://user-images.githubusercontent.com/90871/65633025-09fa4180-dfd3-11e9-8372-fd74c78d82ae.png">

#### Blog frontend
<img width="989" alt="Scre

[2019-09-25 20:17] tofumatt commented on #531
### Before
Clicking tries to activate the module:
![2019-09-25 21 11 23](https://user-images.githubusercontent.com/90871/65636244-d7a01280-dfd9-11e9-837a-3e95b7a748a7.gif)
### After
Trying to click, it doesn't try to activate the module:
![2019-09-25 21 16 44](https://user-images.githubusercontent.com/90871/65636253-dc64c680-dfd9-11e9-8111-dd25f3419bc6.gif)

Looks good! 👍

[2019-09-25 21:23] lilybonney opened #596 "Update PSI setup flow to remove use of API key"
## Feature Description

Currently, the Page Speed Insights module (PSI) requires an API key for authentication, entered into a custom UI (built for this purpose).

This ticket is to cover the engineering work required to update the PSI setup flow to use the same federated authorisation as all other Site Kit APIs.

Work here is thematically linked to issue #590 (although not dependent upon it). Fur

[2019-09-26 08:23] felixarntz commented on #433
IB ✅

[2019-09-26 08:26] felixarntz commented on #522
Thanks for catching this @aaemnnosttv, that's also gonna be a quite major fix to save us from pain in the future!

IB ✅

[2019-09-26 08:31] #264 closed

[2019-09-26 08:31] #265 closed

[2019-09-26 08:32] #252 closed

[2019-09-26 08:32] #267 closed

[2019-09-26 08:34] #272 closed

[2019-09-26 08:41] swissspidy commented on #561
**Good news everyone!**

The issue with the client credentials generation has been resolved and you should all be able to set up Site Kit as expected.

If you still experience issues, please let us know.

[2019-09-26 08:42] #561 closed

[2019-09-26 08:44] #546 closed

[2019-09-26 08:50] felixarntz commented on #531
Approved!

[2019-09-26 08:50] #531 closed

[2019-09-26 08:57] felixarntz commented on #89
@adamsilverstein

We should decide on one naming convention - The thing is that Google uses "profile" internally mostly, but "view" in user-facing context. So we should probably align with that. Deferring to @marrrmarrr

I don't think there ever was one, but there is #198 to address this. Should probably prioritized as an enhancement soon, because right now you can't create another account from th

[2019-09-26 08:59] felixarntz commented on #89
This works well in my testing too - approved!

[2019-09-26 08:59] #89 closed

[2019-09-26 09:03] aaemnnosttv opened #598 "WP dashboard widget top content list links have invalid href"
## Bug Description

The `<WPAnalyticsDashboardWidgetTopPagesTable>` component's links href is not set properly. The `href` prop is being set with the item's title instead of a valid URL/path.

## Steps to reproduce

1. Setup Site Kit with Analytics connected
1. Navigate to WP Dashboard
1. Inspect/click any of the links under "Top content over the last 28 days" in the Site Kit dashboard widget
1. U

[2019-09-26 09:06] felixarntz commented on #556
Something was odd in my testing regarding the AdSense flow (not caused by this), so I couldn't test it - but I'll trust @adamsilverstein's QA (plus the code change is simple enough to see it's doing the right thing).

Regarding the issue: I saw the following screen although I was testing on an entirely new site (i.e. I didn't have that domain set up in AdSense yet):
<img width="1485" alt="Screensh

[2019-09-26 09:06] #556 closed

[2019-09-26 09:18] felixarntz commented on #312
@adamsilverstein @aaemnnosttv Testing this right now, it works well mostly, but it does not work for the case where you have WordPress's default of "Latest Posts" as the home page (in that case there is no actual page for that).

I think I already found the issue in the code, will open a PR.

[2019-09-26 09:29] swissspidy commented on #363
Example in Polylang:

![Screenshot 2019-09-26 at 11 29 42](https://user-images.githubusercontent.com/841956/65676899-f7265200-e050-11e9-9f3f-318d9cdb3ead.png)

[2019-09-26 09:32] swissspidy commented on #547
Updated the IB accordingly.

[2019-09-26 09:36] swissspidy commented on #520
I would recommend updating `@wordpress/eslint-plugin` from 2.4 to 3.1 before doing this.

Why? In version 3, the plugin changed its config from using the deprecated built-in JSDoc rules to stricter JSDoc linting using `eslint-plugin-jsdoc`.

Otherwise you'd fix these warnings here and then later have to do some fixes _again_ because of that change.

Also, the package has other relevant bug fixes a

[2019-09-26 10:21] felixarntz commented on #312
Approved!

[2019-09-26 10:21] #312 closed

[2019-09-26 10:23] #538 closed

[2019-09-26 10:32] felixarntz opened #600 "Fix incorrect/confusing message about Search Console property"
## Bug Description

Currently, in the setup flow for a new site **not using the proxy**, the user is typically prompted to confirm that they want to create a new Search Console property for the site. However, the message currently displayed there is off:
<img width="511" alt="Screenshot 2019-09-26 at 10 48 52" src="https://user-images.githubusercontent.com/3531426/65681511-4bcdcb00-e059-11e9-8cff-

[2019-09-26 10:38] felixarntz opened #601 "Odd behavior in AdSense for new site"
## Bug Description

As I just went through the AdSense setup flow for a new site, something odd happened there. I got shown the following screen, although I (obviously) didn't have this new domain on my AdSense account at all:
<img width="1485" alt="Screenshot 2019-09-26 at 11 02 58" src="https://user-images.githubusercontent.com/3531426/65681821-fba33880-e059-11e9-9aa5-b24f84662a28.png">
Clicking

[2019-09-26 11:06] ernee commented on #601
Just noting here that I experienced the same as a new Adsense user.

[2019-09-26 12:29] RazaGR commented on #243
I found a solution, I was using Permalink settings to display URL with Post Name, when i set it to basic, there was no console error displayed and I was able to see the data, now to make the pretty URL work again with Post Name, I had to add this in my nginx config

[code]

[2019-09-26 12:30] RazaGR commented on #593
see if its related https://github.com/google/site-kit-wp/issues/243#issuecomment-535479793

[2019-09-26 13:10] iamshaharyar commented on #243
@RazaGR adding that URL rewrite rule in your .htaccess file resolved the issue?

[2019-09-26 13:26] RazaGR commented on #243
@iamshaharyar I am using Nginx so above rule resolved it for me

[2019-09-26 15:38] aaemnnosttv commented on #243
@RazaGR Just to clarify, what was your previous permalink structure? It sounds like you were using `/%postname%/` correct?

The WP REST API uses `/wp-json/` as the prefix when "pretty permalinks" are enabled but we don't assume this, and the proper request URL format is handled by `wp.apiFetch`. You shouldn't have to set this manually at the server level.

[2019-09-26 16:09] tofumatt commented on #522
Marking this as "S" just because of the implications of how `getCache` works in general and wanting to test this one well. I think it's on the lower side of "S", but giving it headroom just in-case.

[2019-09-26 16:37] tofumatt commented on #570
Ah, gotcha! That approach makes sense, and I think is straightforward. It'll be good to mark those files with comments explaining their intended use, just so developers don't import them. 😄

[2019-09-26 16:38] aaemnnosttv commented on #524
@swissspidy we should perhaps split this into two tasks: one for the ESLint config and import refactoring (https://github.com/google/site-kit-wp/issues/520#issuecomment-535423900), and keeping this one for the Jest foundation and migration from QUnit.

Unless there's a reason why these need to happen as part of the same ticket (although I think the first would be a prerequisite to this one), I thi

[2019-09-26 16:44] tofumatt commented on #570
Given these APIs will be public—and especially given they may change over time—it would be nice to adopt an object arguments approach instead of the positional arguments currently used. Consider:

[code]

One approach much more clearly implicitly documents what the code is doing and makes it clearer to both 1st-party and 3rd-party developers what's happening. (I think it already makes clear that o

[2019-09-26 17:02] RazaGR commented on #243
@aaemnnosttv /%postname%/ correct? Yes,

I had to otherwise the request to `/wp-json/ `was failing with 400

[2019-09-26 17:14] aaemnnosttv commented on #591
Seems like a very simple change but e2e will add a little time

[2019-09-26 17:15] jamesozzie commented on #563
@usmanswift There was an issue ([#561](https://github.com/google/site-kit-wp/issues/561)) which was resolved today which could have been impacting your own installation and setup. Can you check and see if you are now able to continue with setup?

[2019-09-26 17:37] adamsilverstein opened #603 "Automate plugin deploy to .org repository"
## Feature Description

Set up a way to automatically deploy the plugin to the .org plugin repository.

* Consider this prebuilt `wordpress-plugin-deploy` GitHub action: https://github.com/marketplace/actions/wordpress-plugin-deploy which takes care of the underlying plumbing.
* Action can be triggered in many ways, including by merging to a specific branch, or whenever a Release is tagged - depen

[2019-09-26 17:45] usmanswift commented on #563
Ya, now its generating credentials now, but when I try to connect analytics or speedinsights to Site kit, it gives an error that this app is not safe...

![Screenshot (255)](https://user-images.githubusercontent.com/55594780/65711853-37b4b880-e0af-11e9-8e11-b2b3a9d91e6e.png)

[2019-09-26 18:48] hfrid commented on #24
Agreed, that typo (extra whitespace) is what is causing the problem!

[2019-09-26 18:58] hfrid commented on #12
I have the very same problem..

[2019-09-26 18:58] hfrid commented on #487
I have the same problem.. "Issue accessing data" :/

[2019-09-26 19:57] swissspidy commented on #524
#520 / https://github.com/google/site-kit-wp/issues/520#issuecomment-535423900 is rather unrelated to this 🤔

I changed the imports in #437 mainly because plenty of functions tested via Jest reside in files that import `wp.*` components. That global doesn't exist in a Node/jsdom environment.

Sure, you can split up setting the foundation (without any tests) and then the migration into separate PRs

[2019-09-26 21:47] tofumatt commented on #361
I see what's up and why I was confused about this issue: one can't accurately determine a tag that matches the current site setup but it's what I was trying to find.

I would expect to pre-select a tag based on `domainName` in the [Tag Manager API response for the available containers](https://developers.google.com/tag-manager/api/v1/reference/accounts/containers#resource). But even after I setup

[2019-09-27 01:54] johnnyscience commented on #528
Ok so I had completed removed the plugin from my wordpress install.

I just reinstalled it and went through the entire process again and I'm getting the same results.  As the final step is being completed and it's verifying my google login credentials, it loads up my website's home page instead.

I'm using Chrome to do this.

Would it help if I gave you login credentials to my wordpress?

[2019-09-27 06:32] aaemnnosttv commented on #243
@RazaGR Unless you recently changed your permalink structure (new site perhaps?) and the rewrites weren't regenerated this shouldn't happen. Our E2E test suites would fail if this were the case as we use the same permalink structure for these.

I'm glad you were able to get it to work though. @iamshaharyar is this something you're able to test on your end?

[2019-09-27 06:37] iamshaharyar commented on #243
@aaemnnosttv Sure I can try that on my end too. Just need to add this code to my .htaccess file right?

`location ~ ^/wp-json/ {
   rewrite ^/wp-json/(.*?)$ /?rest_route=/$1 last;
}`

[2019-09-27 06:55] RazaGR commented on #243
@aaemnnosttv yes, I was testing on a new site, let me know if you need any more info

@iamshaharyar that rule is for nginx, for `.htaccess` file it should be

[code]

[2019-09-27 08:08] aaemnnosttv commented on #524
That makes sense.

I wasn't suggesting splitting foundation and test migration into separate issues. I was under the assumption that there was other work needed to be done such as the imports (also part of overall JSR guidelines) but if the changes alluded to in #520 are only jsDoc related then it's fine. I thought there was perhaps other changes that would be required by that update.

I'll bump t

[2019-09-27 08:36] aaemnnosttv commented on #589
@felixarntz do you see this screen as being part of the Site Verification module or registered separately in Core\Screens?

What permissions should be required to access this screen?

Should we plan on adding E2E test coverage as part of this?

[2019-09-27 08:49] jamesozzie commented on #563
@usmanswift You can click on "Advanced" and then "go to...." to proceed with setup. The app is a new project created on your own Google Cloud Platform, and this message is part of the usual authorization flow. You can find out more on how it works [here](https://support.google.com/cloud/answer/7454865?hl=en).

[2019-09-27 08:56] jamesozzie commented on #487
@hfrid  Can you attempt the following steps in order to resolve this issue.
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching or security suite plugins in use
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

If the above fails to resolve the error I would suggest also checking from another device. There

[2019-09-27 09:06] jamesozzie commented on #528
@johnnyscience You don't need to remove any plugin, but in order to troubleshoot it can sometimes help to temporarily deactivate any caching, security suite or firewall plugin.

Can you attempt setup from another device to rule out the problem being with local software, VPN or firewall rules. If that fails please share your [Site Health info](https://i.imgur.com/Rtkmsba.png).

[2019-09-27 09:26] thekaku commented on #122
i have same issue, cant get oauth credential

[2019-09-27 09:34] felixarntz commented on #603
Thanks @adamsilverstein for exploring this - that action looks quite promising!

Something I wanna highlight for us to consider is that we'll need a couple extra steps, such as:
* Run `composer update && npm install` before deploying to get the dependencies in.
* Run the same logic that we currently do in `npm run release-zip` (including `npm run build`).

To summarize, we need to make sure all th

[2019-09-27 09:58] felixarntz commented on #570
@tofumatt
The object makes it more implicit, but also less obvious what you have to pass given the function signature (`api.get( type, identifier, datapoint, data )` vs `api.get( args )`). Another argument for keeping individual arguments is that they each rely on each other. Passing an `identifier` but no `type` will not work right now for example.

There's definitely room to discuss, but we can

[2019-09-27 10:02] felixarntz commented on #596
I think there was a misunderstanding in our conversation regarding this, as there is already #511 to cover this change. I think with that one we're covered. :)

[2019-09-27 10:02] #596 closed

[2019-09-27 10:04] jamesozzie commented on #122
@thekaku Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website. You can then attempt to setup Site Kit again.

If that fails can you provide more information on the error you are receiving. Please share any console error

[2019-09-27 11:20] swissspidy opened #606 "Admin bar component clashes with block editor tips"
## Bug Description

While testing #597 I noticed that the admin bar component clashes with the block editor's tips.

## Steps to reproduce

1. Edit an already published post
2. Enable tips (if not already the case)
3. Hover over Site Kit admin bar component so it opens
4. Notice issue

## Screenshots

![Screenshot 2019-09-27 at 13 18 04](https://user-images.githubusercontent.com/841956/65765785-77

[2019-09-27 11:24] tofumatt commented on #570
Alright, we'll stick with positional arguments for now!

I think we can still throw errors if required keys are missing (`invariant` is a nice tool for this, see something like https://github.com/mozilla/addons-frontend/blob/master/src/amo/reducers/reviews.js#L169-L183), and docs would help with figuring out what keys are required in the `{ args }` approach (the function signature could even be `g

[2019-09-27 11:46] DeeElla commented on #555
Hi there
Thank you for your generous response.
Here's an update!
Been at it all morning. There was an issue as I had another site live which
has been removed.
GA will not verify my website as a different tracking code is being used.
Not sure how I set the original tracking code up as to my knowledge I'm the
only one doing this.
Therefore, I can't connect to search console or SiteKit ;-(
I did howe

[2019-09-27 13:45] jamesozzie commented on #555
@DeeElla There could be Analytics tracking code added via another plugin, your theme or another implementation method. If you check the source code of your website and look for a "UA-" reference it might give you an indication of how it was implemented. If you are using the amp plugin it could even be implemented in JSON format via the analytics tab.

There is no need to remove Monster Insights, b

[2019-09-27 15:08] tofumatt commented on #571
IB written and ready for review.

I think localForage would be a good library to use for this kind of cache storage as we: won't need to have as much boilerplate code for our interactions with the persistent storage and we can use the more flexible/performant IndexedDB for storage. Its footprint on bundle size isn't too much but it'll reduce the code we need to maintain in our own library (and red

[2019-09-27 16:05] aaemnnosttv commented on #511
@felixarntz assigning this one to you for now and moving to blocked. It requires a bit more detail regarding how the new module activation flow will look and work. See #607

[2019-09-27 17:08] tofumatt commented on #572
Regarding:

Are there any instances in the current codebase where the cache is not used for a specific request? If there are specific requests that should not use the cache but it's a rare scenario—and in general the cache should always be used—it would be better to build the ability to ignore the cache into the `get` and `set` methods rather than the "verbose" approach. That way specific requests

[2019-09-27 17:11] jamesozzie commented on #593
@RazaGR Can you share any console errors and we can compare the issue from #243?

[2019-09-27 17:11] #235 closed

[2019-09-27 17:12] jamesozzie commented on #302
@amedeusv Are you encountering the same issue with Site Kit setup?

[2019-09-27 17:13] #477 closed

[2019-09-27 17:13] #485 closed

[2019-09-27 17:15] #535 closed

[2019-09-27 17:15] #544 closed

[2019-09-27 17:27] tunakode opened #610 "Conflict with other plugins that using Google API Client (UpdraftPlus and Super Socializer)"
## Bug Description

Have conflict with others plugins ([updraftplus](https://id.wordpress.org/plugins/updraftplus/) and s[upersocializer](https://id.wordpress.org/plugins/super-socializer/))

## Steps to reproduce

**1. Updraft Plus**
1. Go to https://doman/wp-admin/options-general.php?page=updraftplus#updraft-navtab-settings-content
2. Click on **Authenticate with Google:**
3. error happens

**2

[2019-09-27 17:28] RazaGR commented on #593
@jamesozzie I have solved the issue by using Nginx rewrite rules ( an mentioned in https://github.com/google/site-kit-wp/issues/243#issuecomment-535479793) , I don't have any more console errors, but it was identical with https://user-images.githubusercontent.com/24247981/64017869-1a3e0e80-cb44-11e9-81a6-d8f0a692b665.png

[2019-09-27 17:58] adamsilverstein commented on #572
@tofumatt thanks for the thoughts here.

All `withData` requests are cached as all current data is only updated daily (there is no today view and date ranges end yesterday). Cache maxAge is on a per-data point basis). Most singular `get` requests are used during the setup flows and these typically don't want to be cached as we want to pick up any changes immediately. We don't cache get requests by

[2019-09-27 18:27] ernee commented on #610
Hi @tunakode

Thanks for your report! We’re aware of this conflict with UpdraftPlus and are actively investigating it [here](https://github.com/google/site-kit-wp/issues/246).

You also mention a conflict with Super Socializer. Could you provide the details of the error message you received for that?  We have [an open issue](https://github.com/google/site-kit-wp/issues/540) with a plugin called Lo

[2019-09-27 20:56] adamsilverstein commented on #601
@felixarntz - Can you double check your site to see if this is the case? Check the source code and look for the tag `<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>`

The plugin will place the tag on your site **`as soon as it detects a valid client associated with your Google account`**. That is you have a valid account with a valid AFC ("AdSense For Content

[2019-09-27 21:06] adamsilverstein commented on #556
@felixarntz I left a comment on the PR. I would actually expect the tag to be placed on your site if you have a valid account that has used AdSense somewhere before - is that the case?

The message actually be the correct one although I can see how it is confusing and the link seems wrong. You probably do need to take some action to resolve this - ie manually adding the domain to your account, and

[2019-09-29 13:47] tunakode commented on #610
Sorry for late reply, SuperSocializer conflict might related to Google Library

`PHP Fatal error:  Cannot declare class Google_Service, because the name is already in use in /wp-content/plugins/super-socializer/library/Google/Service.php on line 18`

I;m not found any kind error in my logs except the one above, recording every I;m tryin to login with Google login.

[2019-09-30 07:34] felixarntz commented on #572
@tofumatt

Makes sense. I've updated the ACs accordingly.

That's a great suggestion. Before we decide to go with it, we would need to discuss the UX implications of that. For example, it might be confusing to the user to see stale data which is replaced with new data after e.g. 1 second - whereas seeing a loader is more annoying but it makes sense to the user at least. The other thing (more a det

[2019-09-30 10:04] tofumatt commented on #572
Understanding that a lot of the data doesn't change day-to-day is helpful, thanks @adamsilverstein!

Regarding the "stale data then updated with new data" UX—I thought about that too, though if we were to create some sort of "updating in the background" UI (or even switch from "stale data UI" -> "request" -> "response" -> "loading data w/spinners UI" -> "new data UI") I think it'd be obvious to th

[2019-09-30 11:24] tofumatt commented on #427
I'm updating this ticket's size to "L" because the code paths in the current `utils.js` and their callback/conditionals is especially tangled. I've started to really get a handle on what needs to be refactored here after a lot of looking through and tracing of the code paths, but it is built on a lot of callbacks and not especially React-like 😓

Things are going better now but it's a lot of manual

[2019-09-30 17:02] tofumatt opened #611 "Refactor storage code/Use localForage for offline storage"
I think we should look into integrating [localForage](https://github.com/localForage/localForage) into SiteKit for our caching layer. As mentioned in https://github.com/google/site-kit-wp/issues/571#issuecomment-535979876 and https://github.com/google/site-kit-wp/issues/572#issuecomment-536494520, we can reduce the amount of code implemented in Site Kit by relying on localForage's implementation o

[2019-10-01 03:46] thekaku commented on #122
i tried to reset sitekit
after upload the plugin, i go https://developers.google.com/web/site-kit?sitename=Projasaweb&siteurl=https://projasaweb.com
and click Get OAunt Credentials

then get this error "A network error occurred and the request could not be completed."

console error : http://prntscr.com/pd64zp
this is my setting http://prntscr.com/pd64g1

[2019-10-01 06:22] thekaku commented on #122
Solved : it because adblocker

[2019-10-01 07:54] felixarntz commented on #572
IB ✅

[2019-10-01 07:59] felixarntz opened #612 "Prefix dependencies to circumvent plugin conflicts"
## Bug Description

We need to prefix Composer dependencies that we deploy as part of the bundled plugin in order to prevent conflicts with other plugins shipping the same dependencies (potentially in different versions).

This would fix issues #223, #246, #610, and possibly others too.

It is terrible that we need to do this, but since WordPress does not provide any dependency mechanism, this is

[2019-10-01 10:45] swissspidy commented on #223
We're now tracking work on this in #612.

[2019-10-01 10:45] swissspidy commented on #246
We're now tracking work on this in #612.

[2019-10-01 10:45] swissspidy commented on #610
We're now tracking work on this in #612.

[2019-10-01 14:06] connorhsm commented on #480
I believe I am experiencing this.
When the URL of a most popular item is too long, it overlaps and pushes all of the views statistics outside the container, which allows for horizontal scrolling.

[2019-10-01 15:28] Gicminos commented on #462
In the meantime, how do you block google cookies before a prior consent from the user?

[2019-10-01 15:45] RicaNeaga commented on #462
Not exactly a must / it's in the gray area - please see 1.3 here (given the following requirements on that page are met) - https://blog.oriel.io/2019/01/24/how-to-make-google-analytics-gdpr-compliant/

However, this must be made clear by Google, and their next wordpress plugin must have an unequivocally and fully compliant GDPR policy (enabled by default, so it can help the regular user).

[2019-10-01 16:37] kaelhoel opened #613 "Error creating OAuth configuration when switching accounts on creation page"
## Bug Description

When trying to create a client configuration OAuth it fails when you need to switch accounts on the creation page. If you're logged into Google Chrome on your private account, but need to switch to your work account on the OAuth creation page, it fails. It used to work fine before.

## Steps to reproduce
1. In Google Chrome, be logged in with one account you're synchronising wi

[2019-10-01 17:41] tofumatt commented on #427
Just to note here: digging into this refactor it's such that a child component of `AdSenseModuleStatus` is supplied a function that updates the state of `AdSenseModuleStatus` (its parent), causing the parent to re-render as it is heavily dependant on state to render.

Untangling this setup is proving pretty baffling, so I'm still working on it. I don't think untangling the child-updating-parent-st

[2019-10-01 17:42] felixarntz commented on #589
@aaemnnosttv Apologies for the time spent on the IB, but we were able to bypass the necessity for this screen (which is great because it means no more copy+paste in the setup flow!). We will send the verification token over from the proxy directly and handle that in the plugin.

[2019-10-01 17:42] #589 closed

[2019-10-01 17:44] tofumatt commented on #427
An unrelated note, but I've noticed this component is frequently re-rendered. I noticed this on my branch but also in the `develop` branch. I'm not sure if this is because it's loaded in with filters, but occasionally I notice that, in the background with no user interaction and after all requests have completed: the component re-mounted. Because the data requests are made in `componentDidMount`,

[2019-10-01 23:02] evelyn commented on #325
Having the same problem here.

[2019-10-02 14:21] BiancaDome opened #615 "I can't create the client ID"
I get this error:
field [project_id] has issue [project_id contains invalid characters]

my site is https://www.guiacomprasonline.com
the support email is:   biancadome@gmail.com

[2019-10-02 15:06] jamesozzie commented on #615
@BiancaDome Can you please follow the steps below to proceed with your Site Kit setup:
1. Please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match
2. Restart the Site Kit setup process again from an incognito window. If you see the same error access [this URL](https://developers.google.com/we

[2019-10-03 14:02] jamesozzie commented on #613
@kaelhoel Site Kit pre-populates the OAuth information based on the logged in users profile, before then creating a project in Google Cloud Console based on that input. If users switch Google accounts at that stage it's normal and intended behaviour that users need to fill in project details as the information cannot be passed to another Google account.

While the Site Kit setup and authentication

[2019-10-03 14:10] kaelhoel commented on #613
@jamesozzie It was actually working fine before in this way, that the page would automatically update to the correct information, when you switched accounts on the OAuth creation page. Then there was this issue described in #561 and after that it was no longer possible. I have resorted to using Firefox to install Google Site Kit, as it's less of a hassle than having to log out of my synchronised a

[2019-10-03 14:20] jamesozzie commented on #613
@kaelhoel The process is the same using Firefox, if you switch Google profiles on the OAuth credentials generation page (https://developers.google.com/web/site-kit?sitename=***sitename****&siteurl=https://****.com) you will need to manually create the project.

The issue you referenced was in relation to a separate issue, which was impacting the OAuth credentials generation overall, irrespective o

[2019-10-03 14:32] kaelhoel commented on #613
@jamesozzie With other browsers I'm not synced to a personal account, like I am in Google Chrome. So when I access the OAuth creation page, I am able to login to my work account before it serves me the page. Which eliminates the problem.

[2019-10-03 14:36] #613 closed

[2019-10-03 15:39] seanmsmitty opened #620 "SiteKit conflict with Amelia Booking Plugin"
## Bug Description

The current build of Google Sitekit Version 1.0.0-beta.1.0.7 causes a conflict with the Amelia Booking plugin. When Sitekit is active, it renders the Amelia admin pages blank, making it difficult to manage appointments and tracking analytics for bookings and sales.

## Steps to reproduce

1. Login to the WordPress admin
2. Click on Plugins from the left menu
3. Click on "Add Ne

[2019-10-03 16:14] swissspidy commented on #600
Note that there is a PR already: #617

[2019-10-04 10:32] jamesozzie commented on #620
@seanmsmitty Thanks for reporting. I will test out compatibility with this plugin. If you want to share your [Site Health information](https://i.imgur.com/Rtkmsba.png) I can setup the plugin alongside a similar environment, otherwise please let me know if you are using the free or pro version of this plugin.

[2019-10-04 11:49] seanmsmitty commented on #620
Hi James, thanks for your reply.

I am currently using the free version of Amelia with plans to upgrade to the pro version soon.

Here is my site health info as requested:

`
### wp-core ###

version: 5.2.3
site_language: en_US
user_language: en_US
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 1
dotorg_communication: true

[2019-10-04 16:27] #302 closed

[2019-10-04 16:32] jamesozzie commented on #515
@RealBenihime I will close this issue as I didn't receive a response. If you are encountering the same issue feel free to reopen.

[2019-10-04 16:32] #515 closed

[2019-10-04 16:33] #593 closed

[2019-10-04 16:35] jamesozzie commented on #519
@webspacesau Did you have any luck viewing the various dashboard in Site Kit after testing again?

[2019-10-04 16:35] jamesozzie commented on #528
@johnnyscience Did you get a chance to attempt Site Kit setup?

[2019-10-04 16:36] jamesozzie commented on #552
@Sanjoy123456 Did you get a chance to extract your Site Health information?

[2019-10-04 16:38] jamesozzie commented on #554
@unster Have you managed to setup views from within Analytics or configure the views from within Site Kit for the domains mentioned?

[2019-10-04 16:46] jamesozzie commented on #555
@DeeElla Did you have any luck setting up Site Kit along with the Analytics module in the end?

[2019-10-04 16:46] jamesozzie commented on #563
@usmanswift Were you able to successfully setup Site Kit in the end?

[2019-10-04 17:32] Sanjoy123456 commented on #552
@jamesozzie sir now I stop using google site kit. 😩😩😩 when google releases the full version of the site kit then I'm starting to using this plugin.

[2019-10-04 18:39] usmanswift commented on #563
Yes, I was, I knew about "advanced", I just wanted to let you know about this issue...

[2019-10-04 19:21] tofumatt commented on #522
Actually, looking through the code it seems the cache mutation is the sole cause of problems, so I don't think the `.push()` calls are the issue. I didn't fully grok that those calls weren't ever run one after the other. It's possible those calls were messing with the referenced data though, and my patch fixes that cache issue.

It's worth noting I'm finding it difficult to replicate this issue no

[2019-10-04 23:33] webspacesau commented on #519
Hi @jamesozzie yes working now, thanks :)

[2019-10-04 23:33] #519 closed

[2019-10-06 11:49] jmdfernandes opened #626 "Can´t Authenticate with Google"
After going through the process and allow all the required permissions.it does not connect back to the Google kit  dashboard platform. Instead  sends to the normal wordpress dashboard.
Here I can see the follwing error :
<mark>Unknown Error (code: redirect_uri_mismatch)</mark>
![Google-kit-validation](https://user-images.githubusercontent.com/19510366/66268685-b0e2a700-e837-11e9-881e-aec95700e3bd.

[2019-10-06 12:46] ferocello commented on #615
Hi,

I have exactly the same problem could please help me ?

https://www.23homedesign.com

ferocello@gmail.com

[2019-10-07 08:14] jamesozzie commented on #552
@Sanjoy123456 I will close this ticket so, if you want to reopen feel free to share your Site Health info. You can also try attempt another site on the same web host to see if the same issue occurs.

[2019-10-07 08:14] #552 closed

[2019-10-07 08:15] #563 closed

[2019-10-07 08:33] jamesozzie commented on #626
@jmdfernandes This could be similar to #338 or  #539. In order to resolve can you please check your WordPress site settings under "Settings > General" in your WordPress dashboard. Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.

If you have already checked and both addresses match please share your [Site Healt

[2019-10-07 08:50] jamesozzie commented on #615
@ferocello Have you followed the steps as per the previous message, ensuring your "Site Address" and "WordPress Address" match, including the protocol (https / http?) If they do not match please ensure they do, before opening the following URL:
https://developers.google.com/web/site-kit/?sitename=23homedesign&siteurl=https://23homedesign.com

Another thing to note is from checking your site it is

[2019-10-07 09:11] jmdfernandes commented on #626
Hello James,

Thank you for your reply

This is my Site heath info which I have just copied

`

### wp-core ###

version: 5.2.3

site_language: en_US

user_language: en_US

permalink: /%postname%/

https_status: true

user_registration: 0

default_comment_status: open

multisite: false

user_count: 2

dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/holidaysxyz/public_html

[2019-10-07 09:42] jamesozzie commented on #626
@jmdfernandes Can you temporarily deactivate the following plugins before resetting Site Kit ((Site Kit > Settings > Admin Settings > Reset Site Kit) and then proceeding with setup again?
- Updraft Plus
- The Events Calendar

If you are able to successfully activate Site Kit you can reenable those plugins. If that fails let me know the following:
- Are you encounter the same error (redirecting to

[2019-10-07 10:11] jmdfernandes commented on #626
HelloJames,

I have deactivated the plugins as you suggested. However I could not activated the Google Kit

See the screenshot of the error

Thank you for all the help

Jose

From: James G [mailto:notifications@github.com]
Sent: segunda-feira, 7 de outubro de 2019 10:43
To: google/site-kit-wp
Cc: jmdfernandes; Mention
Subject: Re: [google/site-kit-wp] Can´t Authenticate with Google (#626)

@jmdfer

[2019-10-07 10:29] felixarntz commented on #598
Implementation brief ✅

[2019-10-07 10:30] felixarntz commented on #560
Implementation brief ✅

[2019-10-07 10:31] felixarntz commented on #591
Implementation brief ✅

[2019-10-07 10:37] felixarntz commented on #361
The matching should only happen in the specific case where we just tried to create a new container. With that container, we know the exact name, since we specified it in the request, and if there already is a container of that name, we should be able to reliably match that.

In other words, I'd agree with that sentiment if we generally tried to match containers, but if it is just for this specific

[2019-10-07 10:39] jamesozzie commented on #626
@jmdfernandes Can you attached the screenshot again, it wasn't successfully added to the thread. It could well be a dependency issue with one of your plugins which is causing the problem. You will see others reported similar issues at #584. For such issues there is an open issue being worked you can find [here, #620](https://github.com/google/site-kit-wp/issues/612).

[2019-10-07 10:46] felixarntz commented on #570
@tofumatt

Can you clarify what that would look like in the code? Are you saying the code would do something like `import { get } from 'googlesitekit.api'`? My thinking was to use the same approach that Gutenberg is taking and consider every individual JavaScript bundle file is own "package", which I'd argue it actually is, even if we don't distribute them individually on npm or elsewhere. If you

[2019-10-07 10:55] jmdfernandes commented on #626
Hi James,

Hope that it will attach now

Rgds

Jose

From: James G [mailto:notifications@github.com]
Sent: segunda-feira, 7 de outubro de 2019 11:40
To: google/site-kit-wp
Cc: jmdfernandes; Mention
Subject: Re: [google/site-kit-wp] Can´t Authenticate with Google (#626)

@jmdfernandes <https://github.com/jmdfernandes>  Can you attached the screenshot again, it wasn't successfully added to the threa

[2019-10-07 10:58] felixarntz commented on #571
@tofumatt
Can `localForage` be scoped to only consider certain keys? For example, we only would want `getKeys()` to return the keys that actually are from Site Kit (i.e. what we currently prefix with `googlesitekit_`), without the prefix though because that is internal to the cache implementation.

I'm still not convinced on the use of an external library for something that
* is fairly simple
* we

[2019-10-07 12:16] tofumatt commented on #570
Ah, sorry! I was a bit unclear.

What I meant to say is that in our webpack build step (at least for production), we'd alias any import of `'assets/js/googlesitekit/api'` to `googlesitekit.api`, but that internally we'd reference `'assets/js/googlesitekit/api'` directly, not an intermediate like `'googlesitekit-api'`. Those intermediates just add a layer between webpack and a developer trying to r

[2019-10-07 12:22] ferocello commented on #615
Hi,

I did follow every step as  above and  Wordpress address and site address matches.`

Here is the site health info;

### wp-core ###

version: 5.2.3
site_language: en_US
user_language: en_US
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/l4povkr

[2019-10-07 12:53] jamesozzie commented on #626
@jmdfernandes Nothing added unfortunately. If it is an error message you can type it in here, along with copying and pasting and console errors. Or use a service such as https://prnt.sc/ to share yoyr screenshot via a link

[2019-10-07 12:59] tofumatt commented on #571
Yes. Each localForage instance is scoped to its own database, so if we create our own instance somewhere, like in a `storage.js` file:

[code]

that we'd import from, we'd only be interacting with our database. See: https://github.com/localForage/localForage#multiple-instances

-----

I agree with your assessment that we should move the discussion on localForage over to #611, especially as we aren

[2019-10-07 13:16] adamsilverstein commented on #427
This may be related to code that causes a status re-check when the user has focused away from the window and then returns to it. The goal of that refresh is to re-check the status after the user leaves Site Kit to set up their AdSense account. See https://github.com/google/site-kit-wp/blob/develop/assets/js/components/setup/setup-wrapper.js#L54-L72 & https://github.com/google/site-kit-wp/blob/deve

[2019-10-07 13:21] jmdfernandes commented on #626
Hello James,

This is the link

 <http://prnt.sc/pfz71m> http://prnt.sc/pfz71m

Rgds

Jose

From: James G [mailto:notifications@github.com]
Sent: segunda-feira, 7 de outubro de 2019 13:53
To: google/site-kit-wp
Cc: jmdfernandes; Mention
Subject: Re: [google/site-kit-wp] Can´t Authenticate with Google (#626)

@jmdfernandes <https://github.com/jmdfernandes>  Nothing added unfortunately. If it is an

[2019-10-07 14:02] felixarntz commented on #511
@aaemnnosttv I replied in https://github.com/google/site-kit-wp/pull/607#issuecomment-539026499

There shouldn't be any setup step, going to the dashboard is fine.

[2019-10-07 14:32] jmdfernandes commented on #626
Hello James,

No problem- But  see below- which other plugin???

From: James G [mailto:notifications@github.com]
Sent: segunda-feira, 7 de outubro de 2019 15:29
To: google/site-kit-wp
Cc: jmdfernandes; Mention
Subject: Re: [google/site-kit-wp] Can´t Authenticate with Google (#626)

Thanks for additional info. In order to troubleshoot further can you try the following steps:

*	Temporarily deactiva

[2019-10-07 14:34] jamesozzie commented on #626
@jmdfernandes Thanks for the update, in order to troubleshoot further can you also temporarily deactivate the following plugins (along with Updraft Plus & The events calendar). These plugins use a Google PHP Client library, so there maybe be a conflict.
- WP Cloudy
- WP Google Map Pro
- Pinpoint Booking System PRO

After deactivating please temporarily activate a default WordPress theme (such as T

[2019-10-07 14:53] jmdfernandes commented on #626
I have Deactivated the below plugins and open an incognito window. (http://prnt.sc/pg0sks )

Try to activate  Google Kit -  same Error persists

Unknown Error (code: redirect_uri_mismatch).

•             WP Cloudy

•             WP Google Map Pro

•             Pinpoint Booking System PRO

•             Updraft Plus

•             The events calendar

Rgds

Jose

From: James G [mailto:notificatio

[2019-10-07 15:00] felixarntz commented on #511
Thanks @lilybonney for changing the labels accordingly.

Let's see if we can merge this for the beta.1.0.8 milestone or not. I haven't heard any update regarding PSI transition, but @aaemnnosttv you reported it apparently _already_ works with just OAuth (and `openid` scope). Let's keep this a priority for this week, but we need to throughly test whether it works before merging. I'll also follow up

[2019-10-07 15:08] jamesozzie commented on #626
@jmdfernandes Thanks for the update. Can you also share any console errors on the same screen where you see that error?

[2019-10-07 15:15] jmdfernandes commented on #626
Console screenshot

http://prnt.sc/pg15rl

From: James G [mailto:notifications@github.com]
Sent: segunda-feira, 7 de outubro de 2019 16:09
To: google/site-kit-wp
Cc: jmdfernandes; Mention
Subject: Re: [google/site-kit-wp] Can´t Authenticate with Google (#626)

@jmdfernandes <https://github.com/jmdfernandes>  Thanks for the update. Can you also share any console errors on the same screen where you

[2019-10-07 15:30] jamesozzie commented on #615
@ferocello There could be a plugin causing problems with generating your credentials. Can you disable your WooCommerce plugins, Tidio Chat and any caching plugins you have active? I can see references to WP Rocket from inspecting the console errors on your site. You will see another user reported

After temporarily deactivating those plugins please attempt to setup Site Kit from an incognito windo

[2019-10-07 16:43] adamsilverstein commented on #499
This worked well in my testing, moving to Acceptance.

### Testing procedure

* Set up Site Kit locally, mapped to a live site (`elasticpress.io` in my testing) using the `googlesitekit_site_url` filter.
* Create a page on the local site with a slug matching a live URL on the mapped domain that contains data (eg. local `/blog` to get data for `elasticpress.io/blog`).
* Used the search feature to f

[2019-10-07 17:31] adamsilverstein commented on #506
This ticket did not pass QA on one item  - I'm still detecting some caching during tag detection in analytics setup (and likely in adsense setup as well), see notes below.

### Testing procedure

To test this change, I focused on the three areas where we know caching was previously a problem and that are touched in https://github.com/google/site-kit-wp/pull/605. Since we use the same components on

[2019-10-07 18:52] adamsilverstein commented on #464
This ticket did not pass QA in my testing.

### Testing procedure

* Create a test post on local site: "Test"
* Go to Site Kit -> Dashboard and use the "Search for individual page or post information" input to search for "test" and click View Data
* On the Detailed Page Stats page, verify that the data table is no longer showing and the CTA fills the All Traffic section

**FAILED** I still see the

[2019-10-07 19:39] tofumatt commented on #268
I'm still working on this, and due to the slow nature of iterating on E2E tests and the number involved (as well as a few gotchas I encountered with selector behaviour for the tabs), I'm bumping this up to a small size.

[2019-10-07 20:58] lilybonney opened #628 "Sprint: 8 Release"
Prepare and publish new release 1.0.0-beta.1.0.8 (October 10th).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-10-08 03:07] JayHoltslander opened #629 "Google: "Site Kit has risky access to your account""
Google is worried about Site Kit's access to my Google account.

![](http://cdn.holtslander.ca.s3-us-west-1.amazonaws.com/Screen-Shot-2019-10-07-at-8.03.42-PM.jpg)

![](http://cdn.holtslander.ca.s3-us-west-1.amazonaws.com/Screen-Shot-2019-10-07-at-8.01.22-PM.jpg)

[2019-10-08 09:22] jamesozzie commented on #629
@JayHoltslander When you use Site Kit a new project is created and hosted on Google Cloud Platform. A Google account is therefore required for authentication and verification. As Site Kit is a WordPress plugin it acts as a third party between a Google account and the different Google products, you therefore need to approve access via that project.

Looking at your screenshots I can see you have gr

[2019-10-08 20:59] aaemnnosttv commented on #522
@felixarntz CR ✅

[2019-10-09 12:18] gmmedia opened #631 "WP dashboard widget show daily uniques"
## Feature Description

The dashboard widget shows only the _Total Unique Visitors_ for the whole month and also the _Total Impressions_.
I think for the most users is a graph with the _Daily Uniques_ much more helpful.

Something like this on the top of the widget.

![dashboard-visits](https://user-images.githubusercontent.com/7474702/66480709-8d219a00-ea9f-11e9-8d2e-a268c99d3094.png)

----------

[2019-10-09 13:33] adamsilverstein commented on #254
This passes QA in my testing, moving to Acceptance.

To test I ran the tests from #597 in interactive mode and watched as they tested the Adminbar dropdown.

[2019-10-09 13:50] adamsilverstein commented on #509
This passes QA in my testing, moving to Approval.

### Testing procedure

* Remove a semicolon in a JS file to introduce a linting error.
* Run `npm run build` - note error shows, build fails to complete.
* Run `npm run dev` - note linting error, however build completes.
* Run `npm run watch` - note linting error, however build completes and watching works as expected. Fixing the introduced error

[2019-10-09 13:59] adamsilverstein commented on #339
QA passed for this ticket, moving to Approval.

### Testing procedure
* Follow the "Steps to Reproduce" from above.
* confirm in network panel only one request is done on step 4 with expected response.
* Note not seeing any empty requests running, no 400 error response in the console.

[2019-10-09 14:23] adamsilverstein commented on #398
This ticket did not pass QA, moving back to "To Do".

### Testing procedure

* Create an Analytics account with no properties (when I created my account I had to add a property during the setup flow, I then deleted the property).
* Activating and setting up Analytics module, and select the new account.

**Verify** property dropdown only shows 1 option “Setup a new property”, view dropdown contains

[2019-10-09 16:17] adamsilverstein opened #633 "Setup: ensure anonymous usage tracking is Opt-In"
## Feature Description

During plugin setup, usage tracking should be _disabled by default_ and users should have to **Opt-In** to tracking by checking the checkbox to enable tracking.

Currently the plugin defaults to tracking being **on** by default set and users must **Opt Out** of tracking if they don't want it enabled.

![image](https://user-images.githubusercontent.com/2676022/66498711-bfb99

[2019-10-09 17:21] aaemnnosttv commented on #464
@felixarntz I just created #634 to revert the initial changes that were merged in this iteration. We should likely create a new ticket based on Adam's findings above as to the new approach if desired.

[2019-10-09 19:25] adamsilverstein commented on #522
QAing on https://github.com/google/site-kit-wp/pull/624 and after those changes I no longer see the repeated "Setup..." menu items.

[2019-10-09 19:31] adamsilverstein commented on #506
QAing on https://github.com/google/site-kit-wp/pull/630 I can confirm this **passes**. The failure described above no longer occurs: each time i change the tag and refresh the analytics setup screen, the plugin correctly picks up the current site tagging.

[2019-10-10 00:41] ernee commented on #601
@adamsilverstein here is the url (pub number obscured): https://www.google.com/adsense/new/u/0/pub-XXXXXXXXXXXXXXXX/home
Screenshot: https://jmp.sh/lyeyRbm

[2019-10-10 01:07] ernee commented on #601
To add, when I visit the site now the _adsbygoogle.js_script is present, but I am still directed to the URL mentioned above. Tried disconnecting and reconnecting the module in Site Kit, and I cannot find the script immediately (even after clearing browser cache and viewing in an incognito window to be sure). Could this be consistent with:

[2019-10-10 02:27] aaemnnosttv opened #636 "Disconnect modal displays underneath section locked dialog on settings"
## Bug Description

The disconnect dialog for a connected Google account displays behind/under "section locked" dialogs that are displayed when editing a module's settings.

## Steps to reproduce

1. Basic setup
1. Connect a module with settings (e.g. Analytics)
1. Navigate to Site Kit settings page
1. Toggle the edit for the connected module to display "Section locked while editing"
1. Click "Dis

[2019-10-10 02:39] aaemnnosttv commented on #346
@felixarntz CR ✅

[2019-10-10 05:27] askAnnamarie commented on #154
Cool stuff! But am I the only one who thinks this could be solved easier if we get a pro to do it? Someone on the team at nerdpilots.com, for example? They also have a shop where we can buy small services like this for same-day delivery: nerdpilots.com/store.

[2019-10-10 11:47] ThierryA commented on #547
To better understand the level of effort on this one (doing code formatting can be time consuming), @aaemnnosttv could you run PHPCS and find out the number of errors/warnings? And then run PHPCBF to find out how much can be automated.

[2019-10-10 11:51] marrrmarrr commented on #612
@aaemnnosttv could you help formulate the ACs for this issue, since Felix is mostly out this week?

[2019-10-10 11:55] marrrmarrr commented on #75
@felixarntz given that this button will now need to point to the Site Kit Service, do you want to repurpose this issue for changing the link to point to there?

[2019-10-10 12:01] ThierryA commented on #547
Sure we could exclude the doc rule for the `tests` directory.

If one of you could estimate the level of effort, it would be really useful in order to decide whether this should be pre or post GA.

Thanks folks,

[2019-10-10 12:44] marrrmarrr commented on #419
@adamsilverstein agree this is quite a frustrating issue, I've encountered it a few times myself while testing and doing demos. It could stump a lot of users, especially the less savvy ones.
If it's possible to figure out what exactly is causing this and how we can clear that specific part of the object cache, that would be great. Then I can define more specific ACs for what should change.

[2019-10-10 12:45] adamsilverstein commented on #601
Hi @ernee I have some more ideas to try below...

Good, that is the expected behavior. The plugin has identified your account and is trying to verify that the domain you are using is set up correctly in your AdSense account.

It seems you are being sent to the wrong page in AdSense - **you don't need to add the snippet, the plugin does that**.

Can you try the following:

* Check the "Site URL" Wo

[2019-10-10 12:47] adamsilverstein commented on #419
I'll dig into this a bit further to see how we can mitigate.

[2019-10-10 13:00] tofumatt commented on #419
Sorry, but for clarification: what does "object caching" mean here? Is it specifically using the https://wordpress.org/plugins/wp-redis/ plugin or any other type of server-side/PHP object cache?

[2019-10-10 13:00] aaemnnosttv commented on #612
Sure thing @marrrmarrr! I'll put something together today.

[2019-10-10 13:11] adamsilverstein opened #637 "Add margin to "Continue" button during setup step 4: 'Connect Search Console'"
## Bug Description

* During plugin setup when the user reaches step 4 "Connect Search Console", the button to continue touches the text "Need Help" and needs some padding or margin on its right edge:

## Steps to reproduce

1. Install the plugin.
2. Go thru setup with a new domain, stopping at step 4.
3. Note spacing issue.

## Screenshots

![image](https://user-images.githubusercontent.com/26760

[2019-10-10 14:00] OisinOConnor commented on #601
As long as the code snippet IS being inserted in this scenario, then everything is working as intended. There is an open issue to improve the language on this screen: https://github.com/google/site-kit-wp/issues/578

[2019-10-10 14:07] swissspidy commented on #547
Sure, checking now 👍

[2019-10-10 15:08] westonruter opened #639 "Integrate AdSense with AMP Stories"
## Feature Description

The AMP plugin provides a `amp_story_auto_ads_configuration` filter (https://github.com/ampproject/amp-wp/pull/2492) to allow other plugins to add a configuration for the `amp-story-auto-ads` element. When the AdSense module is active in Site Kit, it should support integrating with this AMP Stories in this way.

See https://github.com/ampproject/amp-wp/issues/2430

--------

[2019-10-10 15:54] swissspidy commented on #547
Turns out I basically just resolved this while testing.

I excluded the doc rule for tests and then `phpcbf` fixed the vast majority of issues. The remaining ones were super minor and easy to fix. For example, changing `parse_url` to `wp_parse_url` or using yoda conditions.

While doing that I noticed that the sniffs were not fully accurate, realizing that the project currently uses the old 1.x ve

[2019-10-10 15:59] adamsilverstein commented on #346
This passes QA, moving to Approval.

### Testing procedure

* follow steps above to set up error condition.
* visit the settings screen and confirm that the message stating that the user doesn't "have access to this Google Tag Manager account" shows.

This is the expected screen:

![image](https://user-images.githubusercontent.com/2676022/66585703-8d27a580-eb44-11e9-97a5-eb9cade2ac07.png)

[2019-10-10 16:05] tofumatt commented on #506
QA'd in #638, reported here: https://github.com/google/site-kit-wp/pull/638#issuecomment-540657034

QA **Passed** when setup a new site with an existing analytics in the head when the AMP plugin was installed.

[2019-10-10 16:20] adamsilverstein commented on #398
This passes QA, moving to Approval.  testing procedure [above](https://github.com/google/site-kit-wp/issues/398#issuecomment-540024321).

[2019-10-10 16:23] adamsilverstein opened #641 "Remove "Unverified App Screen" interstitial"
## Feature Description

Remove the "Unverified App Screen" interstitial screen users see when they have added a sensitive scope (by activating Analytics or AdSense for the first time). This screen is no longer required when we enable the new Auth flow.

![image](https://user-images.githubusercontent.com/2676022/66581031-9ad92d00-eb3c-11e9-8257-0740d3e40c76.png)

## Acceptance criteria

* There sho

[2019-10-10 17:13] marrrmarrr commented on #339
I see only one regular request being made after activating PSI as well.

[2019-10-10 17:39] marrrmarrr commented on #522
Testing this on https://culinarian.life/, with 1.0.0-beta.1.0.8-RC1, I still see the multiple entries both during the Analytics setup flow and in the settings page:
![GA-setup](https://user-images.githubusercontent.com/13304791/66592078-9fc9cb00-eb94-11e9-9d0a-af5076ef6761.png)

![GA-settings](https://user-images.githubusercontent.com/13304791/66592083-a35d5200-eb94-11e9-88e9-1b9bd4e3d101.png)

[2019-10-10 18:00] marrrmarrr commented on #398
Confirmed this works as intended on a brand new site with a GA account where I deleted the property before going through GA module setup in the plugin.

![GA-new-property](https://user-images.githubusercontent.com/13304791/66594077-a35f5100-eb98-11e9-92e7-c85ee3d38d71.png)

[2019-10-10 18:05] marrrmarrr commented on #254
Tested with/without GA in FE and in wp-admin. LGTM.

[2019-10-10 18:08] marrrmarrr commented on #346
LGTM.

[2019-10-10 19:08] marrrmarrr commented on #508
I tried these steps on two separate sites, and after clicking "Disconnect", I get redirected to the main WP dashboard (which is the expected behaviour).
@felixarntz let's have a look at this together tomorrow.

[2019-10-10 19:41] marrrmarrr opened #642 "Create landing page for setup flow"
## Feature Description

In the "canonical" onboarding flow:
- the user clicks "Activate" Site Kit from the plugins page,
- a banner "Congrats, Site Kit is activated' appears at the top of the page,
- the user clicks "Start setup" in the banner and is sent to Site Kit Service.

However, if for some reason the user navigates away from the plugins page and the banner disappears, they lose the entry p

[2019-10-10 19:56] marrrmarrr opened #643 "Add link to Site management section of Site Kit service"
## Feature Description

Users will be able to see the full list of sites they own which have Site Kit installed and remove access of each site to their (SC|GA|AdSense|PSI) stats. This list will live on Site Kit Service; let's create a link from within the plugin for them to access it.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators onl

[2019-10-10 21:39] aaemnnosttv commented on #522
@marrrmarrr do you see the same with RC2?

[2019-10-10 21:50] #509 closed

[2019-10-11 04:10] ernee commented on #601
Thanks @adamsilverstein for the tips and @OisinOConnor for the update!

Upon review, I might be in a different scenario than the one referenced (and it might matter here):

- I’m starting as a new Adsense user without a fully approved account (no access to Sites list). Using a root domain that is present in _Settings > General_.
- I also used this account on another site, which was not approved.

[2019-10-11 09:04] felixarntz commented on #522
In RC2, this works as expected. ✅

[2019-10-11 09:04] #522 closed

[2019-10-11 09:16] #254 closed

[2019-10-11 09:17] #499 closed

[2019-10-11 09:19] #398 closed

[2019-10-11 09:21] #346 closed

[2019-10-11 09:22] #339 closed

[2019-10-11 09:23] #628 closed

[2019-10-11 09:35] felixarntz opened #644 "Remove custom updater"
## Feature Description

The custom updater should be removed before launch since we will rely on wordpress.org from then.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should not be a custom updater in the plugin (i.e. the plugin should solely rely on the WordPress core mechanism for updates).

[2019-10-11 12:26] felixarntz opened #645 "Add support for Site Kit proxy service"
## Feature Description

In order to make the plugin setup and authorization for accessing Google APIs a more seamless process, the plugin is going to use a proxy service living on sitekit.withgoogle.com. This issue is about integrating the plugin with the proxy.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crit

[2019-10-11 12:31] felixarntz opened #646 "Implement update routine to remove old client credentials"
Addressed by PR #671

---

## Feature Description

For the update to the new plugin version containing the proxy, an update routine should run that clears the old credentials and all related data.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be an update routine that fires for any updat

[2019-10-11 12:31] felixarntz commented on #646
@marrrmarrr Can you add the exact wording we should use for the admin notice to the ACs?

[2019-10-11 14:43] ThierryA commented on #547
Great!

On Thu, Oct 10, 2019 at 5:54 PM Pascal Birchler <notifications@github.com>
wrote:

--

[image: Google Logo]
Thierry Muller
Developer Relations Program Manager
Engineering - News & Content Ecosystem
thierrymuller@google.com

[2019-10-11 14:44] ThierryA commented on #547
Great, @marrrmarrr I think we can get this one move forward then since it is an XS and almost done.

[2019-10-11 17:59] jamesozzie commented on #323
@iuravic Just looking at this again now. The error you reported

That related to the site name. If you have manually entered those parameters with the period/full stop it's normal you will receive that error.

The site name generated from the plugin process should allow you to generate a JSON response. From your WordPress dashboard does your "WordPress address" and "Site Address" match from the "S

[2019-10-11 18:03] jamesozzie commented on #415
@limitlessv Have you been able to setup Site Kit successfully since the last plugin update? Looking at one of your screenshots I can see your site is secure (https) although the "Redirect URI" is http, which could be the cause. If you want to manually obtain your credentials you can do so by accessing the following URL, modifying it with your own details:

https://developers.google.com/web/site-ki

[2019-10-11 18:06] #554 closed

[2019-10-11 18:06] #555 closed

[2019-10-11 18:08] jamesozzie commented on #566
@stllrnet Did you get a chance to review this issue? If the same problem remains please provide additional context, or share your [Site Health info](https://i.imgur.com/Rtkmsba.png) from your WordPress dashboard.

[2019-10-11 18:09] jamesozzie commented on #615
@ferocello Are you encountering the same issue with Site Kit setup?

[2019-10-11 18:10] #629 closed

[2019-10-11 18:12] jamesozzie commented on #620
@seanmsmitty This plugin uses a Google API PHP Client which is likely conflicting with Site Kit. There is an open issue, #612 which you can keep track of. This will hopefully fix this incompatibility.

[2019-10-11 20:23] seanmsmitty commented on #620
Awesome! Thanks for the update James.

Sean Smith
CEO
Style Me Up Digital
p: (913) 933-3410
w: stylemeupdigital.com
On Oct 11, 2019, 1:12 PM -0500, James G <notifications@github.com>, wrote:

[2019-10-11 21:53] ferocello commented on #615
i did the resolve the problem thanks to you guys:) Cheers.

[2019-10-12 09:00] priit2000 commented on #415
Yes, it works now

Best Regards
Priit Kallas
+372 5023598
_______________________________
Elite Camp 2020: June 11-13 in Estonia
Leading Traffic and Conversion Event
Find out more https://dgd.ee/ec

On Fri, 11 Oct 2019 at 21:03, James G <notifications@github.com> wrote:

[2019-10-12 15:01] felixarntz commented on #560
Updating the milestone because this needs to be in the same release as the proxy.

[2019-10-12 15:02] felixarntz commented on #590
Updating the milestone since this should be in the same release as the proxy.

[2019-10-12 15:41] aaemnnosttv commented on #521
This one appears to be a bit of an older issue which seems to maybe be a non-issue now as of #312 (#543)

I can see this work as expected with the current release and we also have E2E tests that check for this as well added in #254.

![image](https://user-images.githubusercontent.com/1621608/66703829-5954a780-ed1f-11e9-9771-4e678a9db3fc.png)

[2019-10-13 02:59] FinOp opened #647 "Sitekit blocks Updraft Plus plugin from backing up to Google Drive"
## Bug Description

Sitekit blocks Updraft Plus WP plugin from backing up to Google Drive

## Steps to reproduce

1. Updraft Plus plugin free version installed and activated (prior to installing Sitekit was operating correctly)
2. Sitekit downloaded and activated
3. subsequently both scheduled and manual backup attempts failed
4. See error as it appears in the log
0138.434 (0) Beginning dispatch o

[2019-10-13 10:40] aaemnnosttv commented on #464
@felixarntz I'm going to move this back to definition as the scope and size of this work has likely changed.

[2019-10-13 13:31] aaemnnosttv commented on #511
@felixarntz giving this another few tests locally, I can confirm that it works as-is 👍

Now that PageSpeed Insights no longer requires any additional scopes of its own, should it be an always on module? It is a bit time-consuming to load the first time but that's just the nature of the statistics that it has to collect. I don't see a reason why it shouldn't be enabled as part of the core services.

[2019-10-13 14:18] aaemnnosttv opened #648 "Add "Addressed By" to Issue Templates"
This issue is a request to add the inverse of the lines below from the pull request template, but for issues.

https://github.com/google/site-kit-wp/blob/f0c21c27c2301d83cb172f96e9e13e6b3746f24e/.github/PULL_REQUEST_TEMPLATE.md#L3-L4

The reason for this is because we manage everything with Issues in GitHub and currently the only way to see what the PR is for a given issue is to open the issue dir

[2019-10-13 15:29] aaemnnosttv opened #651 "Reference URL trailing slash is not normalized"
## Bug Description

The URL returned from `\Google\Site_Kit\Context::get_reference_site_url` is not consistent with the formatting of a trailing slash.

This URL should be consistently with or without a trailing slash, but not either.

## Screenshots

This makes it possible for double slashes to happen in constructed URLs

![image](https://user-images.githubusercontent.com/1621608/66717842-27f2df0

[2019-10-13 15:37] aaemnnosttv commented on #598
@felixarntz there were a few other instances of the same bug in other widgets which have all been fixed in the PR, which is now ready for your review.

[2019-10-14 06:43] jamesozzie commented on #647
@FinOp We have an open issue (#612) which should resolve this issue when fixed. You can find more information in that open issue.

[2019-10-14 06:59] felixarntz commented on #642
@aaemnnosttv @tofumatt I recommend implementing this screen with React components entirely decoupled from the ones of the existing setup flow. However, I think it should continue to be implemented using the existing `googlesitekit-splash` screen because otherwise it would require updating a ton of links and redirects.

Since we'll in the future drop the old setup flow though, the JS implementation

[2019-10-14 07:36] felixarntz opened #654 "Show PSI performance stats on single page details screen"
## Feature Description

Currently, we only show performance stats for the Homepage in the dashboard, which was the MVP requirements for the PSI module. Let's show the same widget in the `dashboard-details` screen (stats for a single URL), for that specific URL.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance crite

[2019-10-14 07:53] felixarntz commented on #558
This issue surpasses #340 because it fixes the same thing in a cleaner way. I'll close #340.

[2019-10-14 07:53] felixarntz commented on #340
#558 will fix this instead.

[2019-10-14 07:53] #340 closed

[2019-10-14 07:56] felixarntz commented on #558
Note regarding implementation brief: Please have a look at #340, parts of that can be reused (e.g. regarding basic PHPUnit coverage).

[2019-10-14 11:08] swissspidy commented on #610
Closing as a duplicate of #612.

[2019-10-14 11:08] #610 closed

[2019-10-14 11:08] swissspidy commented on #647
Closing as a duplicate of #612.

[2019-10-14 11:08] #647 closed

[2019-10-14 11:10] swissspidy commented on #648
I like the idea. We have a similar workflow for the AMP plugin now, and issues can get very noisy. It's hard to scroll down and find the correct references.

[2019-10-14 11:11] swissspidy commented on #620
Closing as a duplicate of #612. Please follow that issue for progress 👍

We can always reopen this one in case the problem persists even after that one has been fixed.

[2019-10-14 11:11] #620 closed

[2019-10-14 13:58] OisinOConnor opened #655 "Update link url on AdSense "Your site isn't ready to show ads yet" set-up landing page"
## Feature Description

Parse subdomains down to root domains in the deep link to AdSense:
Site Kit currently links to the “Sites” page of AdSense with this link:
https://www.google.com/adsense/new/sites?url={$sitekit-site-url}&source=site-kit
where ($sitekit-site-url) is the full url of the WordPress site.
Change requested: change the value of ($sitekit-site-url) to only display the root domain.

[2019-10-14 14:03] OisinOConnor opened #656 "AdSense stats/reporting fixes on the main dashboard"
## Feature Description

### Main dashboard screen:
#### Top Earning Pages panel (First image below)
Revenue -> change "Revenue" to “Earnings” for consistency. Should be in currency format. Currently in plain number format.

#### Earning panel (Second image below)
RPM -> change "RPM" to “Page RPM” for consistency. There is no trend (red/green arrows & change) showing up for RPM. Should be in same c

[2019-10-14 20:33] tofumatt commented on #642
@marrrmarrr A request here on the AC: I think the existing language in the header "The Site Kit plugin is active but requires setup" is a bit technical and could be more instructive. How about "You need to activate the Site Kit plugin" or "Time to set up the Site Kit plugin"… something like that. The first phrase saying that it's "Active" is a bit confusing—it's activated on the WP end, but nowher

[2019-10-14 20:34] tofumatt commented on #642
Oh, nevermind, I see. It's about the proxy PR that isn't available yet. Sorry about that, I understand.

[2019-10-15 06:57] aaemnnosttv commented on #268
As for this item, the behavior for an existing tag is the same as if the snippet was disabled via the settings, so this is how it is configured in the test using the API via our `setupAnalytics` utility.

![image](https://user-images.githubusercontent.com/1621608/66807638-246c6e80-ef32-11e9-8d0c-dc859a10f436.png)

[2019-10-15 07:47] aaemnnosttv commented on #427
@felixarntz CR ✅

[2019-10-15 10:08] aaemnnosttv commented on #433
"User" or "Admin" permissions are at the account level. Containers can have individual permissions apart from that.

Do we want to specifically check that the user has Admin level permissions on the container's account or should we instead check for "full" permissions on the container itself (i.e "publish")?

Note: we can check this using the `user_permissions` API endpoint.
https://developers.goo

[2019-10-15 12:42] marrrmarrr commented on #433
@aaemnnosttv agreed - better to be more granular here and focus on individual container permissions rather than account-level permissions.

[2019-10-15 13:53] eagleequine opened #658 "Error Message"
I when I clicked Get OAuth Credentials, accepted the terms and Clicked yes a pop up told me there was an error and try again.
![SharedScreenshot](https://user-images.githubusercontent.com/56595281/66837739-7a8ce200-ef31-11e9-8052-94c0750a6bf2.jpg)

[2019-10-15 14:06] jamesozzie commented on #658
@eagleequine When generating your own credentials there may be special characters or spaces being passed as parameters, which may cause errors. Can you open the URL below and see if you are able to obtain your credentials, I have added your URL and site name?
[https://developers.google.com/web/site-kit/?sitename=dontclipmywings&siteurl=https://www.dontclipmywings.com/](https://developers.google.co

[2019-10-15 14:17] eagleequine commented on #658
Thank you for your prompt reply. I opened the URL but again I had the same
error message. I checked in the general settings and both the WordPress
Address and Site Address match and yes they have a https prefix.
I am not using a Chrome browser. Would that be the problem?
Thank you,
Maria

On Tue, Oct 15, 2019 at 10:06 AM James G <notifications@github.com> wrote:

--
Maria Graber
Eagle Equine
www.f

[2019-10-15 14:27] jamesozzie commented on #658
@maria It should work in alternative browsers although there could be browser extensions or settings impacting setup. Can you try again using the Chrome browser, or attempt with your current browser by disabling any ad blockers and from an incognito window.

[2019-10-15 14:53] aaemnnosttv commented on #433
Thanks @marrrmarrr this is actually fairly straightforward as Admins inherit the `publish` permission on each container so we only need to check for that; no need to do any additional checks as to whether it is a direct or inherited permission.

[2019-10-15 14:57] eagleequine commented on #658
I attempted again with Fox Fire and Internet Explorer I do not have Chrome
installed. I did enable popups in both browsers.  My internet connection is
moving slow. I need to to move on for right now, but I am open to trying
other options.  Thank you, Maria

On Tue, Oct 15, 2019 at 10:27 AM James G <notifications@github.com> wrote:

--
Maria Graber
Eagle Equine
www.facebook.com/equinemanagement
*ww

[2019-10-15 15:20] jamesozzie commented on #658
When you get time you can attempt again with any chromium based browser if you are not having any success. The new beta version of [edge](https://www.microsoftedgeinsider.com/en-us/?form=MA13D6&OCID=MA13D6) is chromium based.

If you are able to setup please share a screenshot of the error message if different to the previous message, or share your [Site Health info](https://i.imgur.com/Rtkmsba.pn

[2019-10-15 20:00] Kiddcurry opened #660 "error when activating google site kit plugin"
Newbie here...Error I’m getting when trying to activate (google site kit):
NOTE: this path /vendor/autoload.php doesn’t exist in the directory? how do I resolve issue?

Warning: require_once(/home/rcnainc8/public_html/epicbillbradley.com/wp-content/plugins/site-kit-wp-develop/vendor/autoload.php): failed to open stream: No such file or directory in /home/rcnainc8/public_html/epicbillbradley.com/wp

[2019-10-15 23:14] ernee commented on #660
Hi @Kiddcurry !

Just to confirm: from where have you obtained the .zip file for the plugin?

Have you tried to download, install and activate the developer beta .zip file from the [Site Kit website](https://sitekit.withgoogle.com/)?

[2019-10-15 23:18] Kiddcurry commented on #660
To whom it may concern,

Downloaded from Github depository.

Sent from my iPhone

[2019-10-15 23:21] ernee commented on #660
@Kiddcurry thanks for confirming. Could you try the download from the website ? Here's a [direct link](https://sitekit.withgoogle.com/service/download/google-site-kit.zip).

Please let me know if that helps!

[2019-10-16 00:36] Kiddcurry commented on #660
hi ernee,

That worked! Except now when I got copied and pasted my OAuth credentials into the '"Welcome to Site Kit beta for developers client configuration field and I click on [PROCEED] I get a (The response is not a valid JSON response.)! How do I resolve this issue?
Thanks in advance
Ridgley

[2019-10-16 00:38] Kiddcurry commented on #660
sorry didn't mean to comment and close thread!!

[2019-10-16 07:40] aaemnnosttv commented on #433
@felixarntz @marrrmarrr it seems that much of the acceptance criteria has been borrowed from Analytics but I think there are some important differences to consider here which may not have been evident before.

Perhaps the most fundamental difference is that Analytics also brings data into WordPress, but Tag Manager is currently a simple client-side only integration (outputting the snippet) with no

[2019-10-16 07:51] felixarntz commented on #433
@aaemnnosttv Good point. I agree we need to ensure there are no duplicate tags in the frontend. However, similar to Analytics we also need to ensure there are not two Tag Manager tags in the frontend, that's why we need this check for existing tag.

In Analytics it's actually the same, it doesn't technically hurt to have more than one tracking snippet, it would just track the same thing to differe

[2019-10-16 08:02] aaemnnosttv commented on #433
I'm not entirely sure what you mean here. What does the user's access have to do with preventing multiple tags? If we want to prevent multiple then completing setup shouldn't be possible if there is an existing tag.

Why allow the user to complete the setup if it won't output the tag? This sounds like a confusing experience for the user. If we were to set `useSnippet` at setup time to `false` and

[2019-10-16 08:09] felixarntz commented on #433
Yes, but we'd only want to block if the user doesn't have access. If the user _has_ access, we can consider Tag Manager active, force-set the account that has access to the existing tag, and just not print it ourselves (hence the `useSnippet`: `false`). That is similar to how we do it in Analytics.

It's the same for Analytics. We allow users to complete the setup if there is an existing tag they

[2019-10-16 08:42] aaemnnosttv commented on #433
I'm still not quite understanding why the access matters with an existing tag. Whether the user has access or not, the tag is still on the site and the Tag Manager module should not add an additional tag; the behavior is the same either way.

I understand this is how we do things in Analytics and there are good reasons for that but I don't think the same applies for Tag Manager.

We could do that,

[2019-10-16 10:20] aaemnnosttv opened #661 "Mirror WordPress http proxy configuration for Google Client"
## Feature Description

Some sites use/require an HTTP proxy to make requests. WordPress provides a number of constants for configuring the WP HTTP API to use a proxy.

The HTTP client used by `Google_Client` should mirror the same http proxy configuration for WordPress if its constants are defined: `WP_PROXY_HOST` and `WP_PROXY_PORT`

Proxy credentials should be supported as well if set: `WP_PROX

[2019-10-16 13:14] iuravic commented on #323
They do, these two URLs are exactly the same.

[2019-10-16 14:14] felixarntz commented on #643
Implementation brief ✅

[2019-10-16 14:35] felixarntz commented on #642
Implementation brief ✅

[2019-10-16 15:13] jamesozzie commented on #323
@iuravic Thanks for checking. With the original problem of creating credentials using your G Suite account can you check for any G Suite restrictions or see if a project has been created account directly on [Google Cloud Platform](https://console.cloud.google.com/home/dashboard).

You can also check with others on the same G Suite account. They can attempt via accessing a URL with a similar struct

[2019-10-16 15:57] aaemnnosttv commented on #433
@felixarntz Moving this to blocked for now per our conversation to focus on higher priority items.

[2019-10-16 16:03] ernee commented on #660
@Kiddcurry no worries!

Please try the following troubleshooting steps:

1) Check your WordPress site settings under "Settings > General" in your WordPress dashboard.

2) Confirm your WordPress Address (URL) and Site Address (URL) match, and ensure they have a https prefix if you are using a https website.

3) Restart the Site Kit setup process again (make sure there are no extra spaces before or

[2019-10-16 16:46] aaemnnosttv commented on #590
This is removed as part of #511 but good to be slightly redundant just in case that one doesn't make it in for whatever reason.

[2019-10-16 20:49] tofumatt commented on #642
I'm flagging this an an XS issue because my understanding (from the AC/IB) is that we won't have to support/implement error messaging on this screen if the authenticate flow fails or returns an error.

As long as that's true this one's good to start working on. 😄

[2019-10-16 21:20] tofumatt commented on #643
Assuming we'll have access to the needed data from the server (eg `access_token` and `site_id`) already this is a very straightforward task. If it requires hooking things up this is closer to a small size task, so for now I've labelled it XXS but this should be updated if it's more than just the straightforward "conditionally adding a link"-type issue this appears to be. 😄

[2019-10-17 06:32] aaemnnosttv commented on #641
@felixarntz CR ✅

[2019-10-17 07:36] aaemnnosttv commented on #590
@felixarntz CR ✅

[2019-10-17 08:52] felixarntz opened #667 "Remove old Cron cleanup"
## Feature Description

We've had some lines to clean up old Cron jobs in the plugin for a while now. Let's remove them before launch (they're both marked with `TODO`).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There must be no code references to the old Cron jobs in the codebase.

## Implementat

[2019-10-17 09:11] felixarntz commented on #646
IB ✅

Two small notes:

Might be more appropriate to happen in `admin_notices` / `network_admin_notices`.

When dismissing, the user should preferably not be redirected, just the notice should go away. However in case this takes considerably more time to implement, then redirecting to the same page (where the notice would no longer appear then) could be an okay compromise.

[2019-10-17 10:12] aaemnnosttv commented on #646
Checking for the flag and displaying the notice? Yeah, that would likely save an additional hook 👍

I agree. I don't like notifications that trigger a full page reload, however, this is the lower effort solution. If time allows, we could go with a smoother implementation for this part specifically.

[2019-10-17 10:39] aaemnnosttv commented on #645
CR Approved ✅ 🎉

[2019-10-17 10:45] felixarntz opened #668 "Consistently name acronyms inside variables"
## Feature Description

In PHP code, we typically use snake-case which has abbreviations typically all-lowercase (e.g. `$site_url`. In PHP classes, we typically capitalize them (e.g. `class Site_URL`).

In JS however, and in PHP API responses (to be consumed by JS), we're inconsistent. We _consistently_ use camel-case and should continue to do so, but inside those camel-case variables we sometimes

[2019-10-17 10:46] felixarntz commented on #668
@aaemnnosttv @adamsilverstein @tofumatt Even Gutenberg appears to be inconsistent here, I can't really tell a preference. Let's discuss on this issue and make a decision. I'll then update the ACs to the respective variant we decide on.

[2019-10-17 13:28] felixarntz commented on #642
@aaemnnosttv @tofumatt In the `feature/auth-proxy` branch, there is currently some temporary code to just display the proxy setup link temporarily for testing, from the PHP side: https://github.com/google/site-kit-wp/blob/feature/auth-proxy/includes/Core/Admin/Screens.php#L337-L350

Please remove these lines in the PR for this.

[2019-10-17 13:48] tofumatt commented on #642
Awesome, thanks!

To clarify: those lines should be removed from the PR made against the `feature/auth-proxy` branch? I'm a bit confused; I'd think we would have a cleanup branch at the end to remove things like that.

[2019-10-17 18:21] tofumatt commented on #590
QA passes, though the size of this text is quite small:

<img width="416" alt="Screenshot 2019-10-17 19 20 11" src="https://user-images.githubusercontent.com/90871/67036288-3eb17280-f113-11e9-90bd-eed5dee23de6.png">

`14px` looks a lot better:

<img width="408" alt="Screenshot 2019-10-17 at 19 21 11" src="https://user-images.githubusercontent.com/90871/67036310-4a049e00-f113-11e9-9bb8-3490344c0e97

[2019-10-17 18:35] adamsilverstein commented on #268
The E2E tests passed QA here, moving to Approval.

### Testing procedure
* Run new test added in https://github.com/google/site-kit-wp/pull/627:
`npm run test:e2e -- tests/e2e/specs/modules/optimize/activation.test.js --no-cache`
* Run complete test suite:
`npm run test:e2e -- --no-cache`

Noting that two tests fail here, however I see the same failures in the `feature/auth-proxy` branch. These fa

[2019-10-17 21:25] tofumatt commented on #668
My usual preference is to capitalise the first letter in both words **and** acronyms (like URL and URI), because it makes for variables like `siteUrlForActivation` instead of ``siteURLForActivation`—the former is easier to pick out individual words/sections in than the one with many subsequent capitals.

So I think the `Url` style beats out `URL`, even though I personally actually think `URL` look

[2019-10-18 02:04] Kiddcurry commented on #660
Hi ernee,

Tried both solution and got the same message as before (The response is not a valid JSON response). I also made sure to use the copy icon for the OAuth credentials.
So I'm sharing my site health information below. I hope this sheds so light as to whats going on.

### wp-core ###

version: 4.9.12
site_language: en_US
user_language: en_US
permalink: /%year%/%monthnum%/%day%/%postname%/
ht

[2019-10-18 05:16] JayHoltslander commented on #629
@jamesozzie I understand all that. I just found it funny that Google is gmailing me about my Google account being at risk from a Google product.

[2019-10-18 06:43] aaemnnosttv commented on #668
I tend to agree with @tofumatt but luckily there are existing style guides to help inform this decision.

However, the [WordPress Javascript coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/#abbreviations-and-acronyms) are fairly clear about this.

I think the WordPress standards are likely sufficient here but should there be any ambiguity left,

[2019-10-18 09:48] aaemnnosttv commented on #646
@felixarntz ready for review again.

[2019-10-18 11:24] marrrmarrr opened #673 "Add tracking of anonymous usage stats consent to initial setup step"
## Feature Description

With most of the setup flow moving to the Site Kit Service, the page where users currently decide whether they want to opt in to anonymous usage tracking will disappear.

Let's add the checkbox and necessary text to the two relevant locations in the plugin:
1) Congratulations banner after the user clicks "Activate" on the plugins page
2) Landing page for users who did not i

[2019-10-18 11:25] marrrmarrr commented on #633
@adamsilverstein heads-up that the location of this Opt-in will change (details in #673 )

[2019-10-18 13:20] felixarntz commented on #646
@aaemnnosttv Code looks good, but a few e2e tests need to be updated.

[2019-10-18 13:48] tofumatt commented on #668
Those sorts of rules always get confusing for ESL speakers or folks
unfamiliar with certain acronyms. Again: I'm a native English speaker and a
closet pedant so I understand the spirit of that rule, but my experience is
that it's incredibly inconsistently-applied in practice and confusing for
people whose second or third language is English. I think that's an
important open-source consideration, a

[2019-10-18 14:09] adamsilverstein commented on #668
I generally favor the "all caps" acronym approach outlined in the WordPress JavaScript Coding standards, although I am swayed by the argument that this makes deciding what to capitalize harder especially for non english native speakers. I'm not sure I find one or the other more readable.

Overall, I feel we should be guided by the WordPress coding standards (capitalizing acronyms) since that is wh

[2019-10-18 15:19] aaemnnosttv commented on #642
@felixarntz CR ✅

[2019-10-18 15:25] aaemnnosttv commented on #646
@felixarntz I reduced the number of failing tests by changing the test client credentials to use the proxy format as this branch would cause those to be deleted immediately.

The rest are failing due to other changes in the `feature/auth-proxy` branch I think. Are there any others you want to specifically want to see fixed? We'll need to remove/fix those for the setup flow before we can merge #666

[2019-10-18 15:50] adamsilverstein commented on #643
Confirming this passes QA, moving to Approval.

### Testing procedure
* Build a release zip on the `feature/auth-proxy` branch
* Testing on a live site, verify the dropdown menu shows the "Manage  Sites..." entry and links to the proper URL to show connected accounts.

![image](https://user-images.githubusercontent.com/2676022/67108811-84f6e800-f18c-11e9-85a7-8117245bf2d9.png)

This linked to the

[2019-10-18 16:09] ernee commented on #660
Thanks for the info @Kiddcurry !

1) Could you try to the setup process in an incognito and/or alternate browser? Sometimes extensions like ad blockers can interfere.

2) I know you've mentioned using the copy icon before, so that's good. Continue to double check there are no extra spaces before or after the OAuth (JSON format) credentials.

Please let me know if this helps!

[2019-10-18 16:50] aaemnnosttv commented on #673
What about the Help link?
![image](https://user-images.githubusercontent.com/1621608/67112692-7c300180-f1e0-11e9-9538-1cc4274e49c9.png)
https://sitekit.withgoogle.com/documentation/

[2019-10-18 16:51] aaemnnosttv commented on #646
Nevermind, there should be more tests passing.

[2019-10-18 17:32] aaemnnosttv commented on #646
Ready for review again 😄

[2019-10-18 17:35] tofumatt commented on #598
QA passes; links look right in `develop` branch—the titles appear correctly and the links go to the right URLs 👍

[2019-10-18 18:59] jamesozzie commented on #222
@xguiboy Are you still encountering issues with Site Kit setup after updating to the latest version of the plugin?

[2019-10-18 19:00] #415 closed

[2019-10-18 19:03] jamesozzie commented on #615
@BiancaDome Have you been able to successfully setup Site Kit? If issues remain when setting up please try to open the below URL when logged into your Google account in browser.
[https://developers.google.com/web/site-kit/?sitename=guiacomprasonline&siteurl=https://guiacomprasonline.com](https://developers.google.com/web/site-kit/?sitename=guiacomprasonline&siteurl=https://guiacomprasonline.com)

[2019-10-18 19:07] jamesozzie commented on #626
@jmdfernandes Are you encountering the same issue when you have Simple Maintenance Mode pro deactivated?

[2019-10-18 19:18] xguiboy commented on #222
hi @jamesozzie the two last updates was ok, but in this one it start again

[2019-10-19 09:03] jmdfernandes commented on #626
Hello James,

I have now tried to set up the plugin with  Simple Maintenance Mode pro deactivated.

Unfortunately  the error   “Unknown Error (code: redirect_uri_mismatch)”  still persists.

I have also created an extra credential at google platform specifically for the plugin ( <https://prntscr.com/plemnp> https://prntscr.com/plemnp  )

Still, no luck.

Please note:

This website is hosted by inm

[2019-10-19 19:55] stllrnet commented on #566
Hi! Sorry for the delay, the problem is currently happening to me.

[LINK TO VIDEO](https://youtu.be/Ir9iue02hvY)

Here's my Site Health Data... Score: 100

### wp-core ###

version: 5.2.4
site_language: es_ES
user_language: es_ES
permalink: /blog/%postname%/
https_status: true
user_count: 2
dotorg_communication: true

### wp-dropins (2) ###

advanced-cache.php: true
object-cache.php: true

### wp

[2019-10-20 00:33] appmyhome opened #674 "site kit oaauth"

[2019-10-20 08:33] felixarntz commented on #668
Regarding the Google style guide, interestingly enough in Go, which is heavily used by Google, it is preferred to use all-caps acronyms even in camel-case names.

I think the WordPress coding standards argument pretty much settles it for now, since that should our guiding point on code style. Let's go with the all-caps variant (of course except when it's the only word (as in a variable should be c

[2019-10-20 21:15] official-tisao commented on #74
Upgrade/downgrade your php version from 7.2 to 7.1 or 7.0 to fix the issue

[2019-10-21 08:30] jamesozzie commented on #222
@xguiboy Is it the same issue irrespective of whether you are using Firefox or Chrome? If you want to share your [Site Health info](https://i.imgur.com/Rtkmsba.png) or any console errors that appear we can see if we notice anything.

[2019-10-21 08:58] jamesozzie commented on #626
@jmdfernandes Thanks for the update. From further inspection it seems as jQuery is being loaded via http, as opposed to https. That's causing a [mixed content issue](https://i.imgur.com/F4yr9D2.png), which in turn might be impacting your Site KIit setup. There could also be something in your .htaccess file or host setup causing the issue.

If you can check whether your theme or any plugins request

[2019-10-21 09:00] swissspidy commented on #674
Hi there

If you encounter any issues with Site Kit, please state them here. Currently the text is empty :-)

[2019-10-21 09:00] #674 closed

[2019-10-21 09:28] jamesozzie commented on #566
@stllrnet Thanks for the additional information, very useful. I am unable to recreate the same issue from my side. Do you have any other WordPress websites on the same server you can test with, to check if the same problem arises?

[2019-10-21 09:49] jamesozzie commented on #243
@iamshaharyar Did you have any luck getting Site Kit setup in the end, by adding to your `.htaccess` file?

[2019-10-21 10:12] xguiboy commented on #222
hi @jamesozzie

`
### wp-core ###

version: 5.2.4
site_language: pt_BR
user_language: pt_BR
permalink: /%postname%/
https_status: true
user_registration: 0
default_comment_status: closed
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/u339101229/domains/gspsites.com.br/public_html
wordpress_size: 72,12 MB (75622320 bytes)
uploads_path: /home

[2019-10-21 10:37] aaemnnosttv commented on #668
May likely end up as a `XXS` but allocating a bit more time due to the amount of code/files that will likely change.

[2019-10-21 11:23] johnnyscience commented on #528
Sorry, I didn't mean for this to close, I am still having issues with it.

I spent at least an hour, if not 2 tonight running through everything 10 times.

After your last reply regarding security suites & firewalls

Could Jetpack, Vaultpress & Sitelock be what's stopping this from finalizing?

I have all 3 installed and they each take care of security threats at various levels.

Would I need to d

[2019-10-21 11:41] aaemnnosttv commented on #511
I just noticed a bug with this: when activating via _Settings > Connect More Services_ it still goes to the old reauth screen with an empty widget body, instead of redirecting to the dashboard with success message as it does correctly when clicking on the activation CTA.

**Activating via _Settings > Connect More Services_**
![image](https://user-images.githubusercontent.com/1621608/67202095-87697

[2019-10-21 13:05] aaemnnosttv opened #676 "Filtering OAuth credentials does not work with Proxy"
## Bug Description

As of #666, the Site Kit proxy service will be the default authentication mechanism for using Google APIs. For those who want to use their own GCP credentials (mostly for local development) these are still supported.

Because the UI for providing credentials will be removed, a filter is provided to allow for alternate credentials:
https://github.com/google/site-kit-wp/blob/683f

[2019-10-21 13:05] johnnyscience commented on #528
Thank you!

Perhaps we could do a screenshare sometime if you think it would help?

[2019-10-21 15:07] aaemnnosttv opened #677 "Proxy setup URL must contain all required scopes"
## Bug Description

Currently the proxy requests all scopes that have been granted by your Google account, regardless of which site you're using it on.

To solve this, we need to ensure that all require OAuth scopes are passed along in a query parameter in the setup URL for the proxy.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators onl

[2019-10-21 15:14] tofumatt opened #678 "Setup of new site fails with "missing parameter: 'nonce'""
## Bug Description

When using a ZIP built from `feature/auth-proxy` branch (`npm run release-zip`), I get an error when verifying site ownership using the Google Proxy service.

## Steps to reproduce

1. Go to https://jurassic.ninja/
2. Create a new site
3. Build a release of the plugin from the branch `feature/auth-proxy` (`npm run release-zip`)
4. Upload and activate the plugin
5. Start setup
6

[2019-10-21 15:33] jamesozzie commented on #528
@johnnyscience Can you temporarily deactivate the following plugins, there may be Google PHP Library conflicts which could impacting setup.:
- Google Analytics For Wordpress
- Events Calendar

After deactivating the above please attempt Site Kit setup again via the Chrome browser and an incognito window, which ensures there are no browser extensions or browser caching interfering with setup.

[2019-10-21 15:37] #68 closed

[2019-10-21 15:49] felixarntz commented on #633
IB ✅

[2019-10-21 15:53] jamesozzie commented on #222
@xguiboy Thanks for the update. You have a few caching plugins active, along with Cloudflare and caching at host level, the combination could be contributing to the problem. Can you attempt the steps below to try and get the PageSpeed module working:
1. Temporarily deactivate the following plugins: Autoptimize, Cache Enabler, WP-Optimize, Team Updraft
2. Disconnect the PageSpeed Module (Site Kit >

[2019-10-21 15:53] johnnyscience commented on #528
Ok I just did all of that and still the same issue.

It must be my theme or another plugin or something.

Not sure what to really do unless you guys have any more suggestions?

What is the difference/benefit of this Site Kit over say the Google Analytics plugin I use by Themco? (who is also the creator of the X Theme Pro I'm using)

Thanks for your help.

[2019-10-21 15:57] felixarntz commented on #676
@aaemnnosttv Seeing the draft PR, I actually think it'd be safer to move the filter to the `Credentials` class. We cannot change the filter functionality, but we certainly can move it.

In other words, I suggest the following:
* Run the filter first thing in `Credentials::get()`.
* The filter signature should be exactly the same (expect a JSON string).
* If the output is not empty, try JSON-decode

[2019-10-21 16:03] jamesozzie commented on #528
@johnnyscience I don't have experience with the Themco Analytics plugin you are using, they may have similar functionality. Site Kit provides a basic dashboard of Analytics metrics, so if your plugin provides the same or similar functionality it's down to personal preference. Site Kit also features dashboards for other Google products: AdSense, Tag Manager, Search Console, Optimise and PageSpeed i

[2019-10-21 16:26] felixarntz commented on #678
Fixed on the proxy side.

[2019-10-21 16:26] #678 closed

[2019-10-21 16:42] johnnyscience commented on #528
Hmm ok well thanks for the help.  If you guys think of something else, please let me know.

Maybe I'll take another crack at it when the next big update comes out.  Until then the Google Analytics by Themeco is actually pretty good.  But I would still like to get this Site Kit installed if I can.

[2019-10-21 16:45] felixarntz commented on #75
@aaemnnosttv Let's not expose a new method for this because the non-proxy version will go away. We can run the logic directly in `Activation`.

Otherwise, IB looks good ✅

[2019-10-21 16:48] felixarntz commented on #668
IB ✅

[2019-10-21 16:52] felixarntz commented on #673
IB ✅

@aaemnnosttv Which help link are you referring to? Note that the proxy contains a help link, and since that now contains all the setup steps, it might be sufficient.

[2019-10-21 16:53] felixarntz commented on #187
IB ✅

[2019-10-21 16:54] felixarntz commented on #667
@tofumatt IB ✅
Yes, those tests should be removed as well.

[2019-10-21 16:58] felixarntz commented on #558
IB ✅

@aaemnnosttv Regarding

let's simply assign the values from the `Data_Request` instance to the already-used variables on top of the respective method. That keeps the other required changes at a minimum to make it less error-prone.

[2019-10-21 17:12] aaemnnosttv commented on #677
IBR ✅

[2019-10-21 17:15] aaemnnosttv commented on #673
@felixarntz this one on the right side

![image](https://user-images.githubusercontent.com/1621608/67227192-6e2bec00-f43f-11e9-83c5-258e727a4762.png)

[2019-10-21 17:16] aaemnnosttv commented on #558
That's what I was thinking as well 👍

[2019-10-21 18:09] stllrnet commented on #566
Hi James! Yes, I have other sites installed on this server and they have the same problem.

[Here's a video](https://youtu.be/ppn4SCOpdFk)

[2019-10-21 18:09] aaemnnosttv commented on #677
CR ✅

[2019-10-21 18:13] felixarntz commented on #677
@aaemnnosttv Would be great if you could QA this since it is related to the issue you were describing earlier today.

[2019-10-21 18:48] tofumatt commented on #646
QA looks good; checked out `develop`, connected the site, then switched to `feature/auth-proxy`, refreshed the page, and saw:

<img width="1148" alt="Screenshot 2019-10-21 19 47 38" src="https://user-images.githubusercontent.com/90871/67233715-acbfa780-f43b-11e9-9626-c494b950c3d0.png">

The button took me to the proxy setup URL. 👍

[2019-10-21 20:06] jasti commented on #639
Could we also ensure that Sitekit features like structured data and Google analytics also work similar to AdSense integration?

[2019-10-21 20:23] adamsilverstein commented on #511
I QAed this on the `feature/auth-proxy ` branch. Overall QA passed and I am moving this to "Acceptance". I did notice one bug that deserves a follow up Issue: I am unable to deactivate PSI.

### Testing Procedure
* Build a zip from the `feature/auth-proxy` branch and upload to a new `https://jurassic.ninja/` site.
* activate the module from the CTA on the dashboard
* Note everything worked well, d

[2019-10-21 20:39] adamsilverstein opened #682 "Pagespeed Insights cannot be deactivated once activated."
## Bug Description

Pagespeed Insights cannot be deactivated once activated.

Discovered during QA of new PSI setup flow, see https://github.com/google/site-kit-wp/issues/511#issuecomment-544691379

## Steps to reproduce

1. Activate Pagespeed Insights from Site Kit -> Settings -> Connect More Services
2. Go back to Site Kit -> Settings -> Connected Services
3. Note no edit button, no way to disco

[2019-10-21 20:41] adamsilverstein commented on #511
I created this follow up issue to address the "unable to deactivate" issue noted in my QA above: https://github.com/google/site-kit-wp/issues/682

[2019-10-21 22:12] adamsilverstein commented on #642
I QAed this on the `feature/auth-proxy` branch and everything looks good - moving to Approval.

### Testing Procedure
* Build plugin and install on newly spun up `https://jurassic.ninja/` site.
* Activate the plugin.
* Click "Site Kit" in left menu & note the "plugin is active but requires setup"  screen:

![image](https://user-images.githubusercontent.com/2676022/67246538-ee405a80-f41b-11e9-9802-

[2019-10-22 08:59] aaemnnosttv commented on #677
## QA: ✅

#### Steps taken

1. Start with Google account which has used the Site Kit proxy before, which has already granted scopes for different services (particularly Analytics)
![image](https://user-images.githubusercontent.com/1621608/67271008-6cefd300-f4c2-11e9-8248-8f2517b2cf70.png)
1. Create a new public site which has never been connected to the proxy service before (using jurassic.ninja)

[2019-10-22 09:02] felixarntz commented on #560
QA ✅

[2019-10-22 09:26] jamesozzie commented on #566
@stllrnet I see that site is using the same theme and some of the same plugins. Can you temporarily deactivate the "SpinupWP" plugin and modify your permalink structure before checking again?

[2019-10-22 09:30] jamesozzie commented on #528
@johnnyscience Do you have another site you can check with? Hopefully you won't encounter the same issue with the beta release of the plugin, which will have a new authentication flow.

[2019-10-22 12:43] felixarntz commented on #586
IB ✅

[2019-10-22 13:23] marrrmarrr opened #683 "Update copy of the pop-up screen for disconnecting AdSense in Settings"
## Feature Description

Update the copy Site Kit displays when the user clicks "Disconnect AdSense from Site Kit" in Settings.

For reference, a screenshot of the pop-up:
![tPxHaQiFhnx](https://user-images.githubusercontent.com/6488453/66765277-7ade9c00-eea3-11e9-9824-7e5f1a31bcd6.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators on

[2019-10-22 15:03] aaemnnosttv commented on #645
## QA ✅

Criteria:
- Filtering `googlesitekit_oauth_secret` with GCP credentials does not invoke the proxy setup flow
- Proxy setup sends the user to `https://sitekit.withgoogle.com/site-management/setup/` with query parameters:
  - `nonce` a WP nonce
  - `name` URL-encoded site name
  - `url` URL-encoded home URL
  - `rest_root` URL-encoded REST URL root, relative to home URL
  - `admin_root` URL

[2019-10-22 15:23] felixarntz opened #684 "Update readme.txt content"
## Feature Description

The `readme.txt` content needs to be updated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-10-22 15:35] adamsilverstein commented on #676
I QAed this with the `develop` branch since #666 was merged. Everything worked as expected, moving to Approval. I did notice one issue that deserves some additional testing, noted below.

### Testing Procedure
* Tested locally where we should be able to test the plugin using the OAuth credentials filter.
* Reset plugin.
* Add the following filter  to add credentials:
`add_filter( 'googlesitekit_oa

[2019-10-22 16:04] srivastava903 opened #685 "Authenticate error"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-10-22 16:19] lilybonney opened #686 "Sprint: 9 RC.1"
Prepare and publish new release 1.0.0-rc.1 (October 22nd).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-10-22 16:22] #642 closed

[2019-10-22 16:36] #590 closed

[2019-10-22 16:36] #268 closed

[2019-10-22 16:40] felixarntz opened #687 "Failing PageSpeed Insights request should not show "missing API key" warning"
## Bug Description

Whenever a PageSpeed Insights request fails, we currently show the following error message:
![Screenshot 2019-10-22 at 18 24 44](https://user-images.githubusercontent.com/3531426/67308903-426e3c00-f4fb-11e9-8590-487dcc31b8fa.png)

Let's instead show the error message that PSI returns, or at least a more generic error message that doesn't refer to an API key (see #511 for why th

[2019-10-22 16:41] #511 closed

[2019-10-22 16:41] srivastava903 opened #688 "authentication error, error 403"
## Bug Description

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Plugin Version [e.g. 22]
 - Device: [e.g. iPhone6]

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Ac

[2019-10-22 16:43] #643 closed

[2019-10-22 16:45] #646 closed

[2019-10-22 17:04] felixarntz opened #690 "Ensure that OAuth always returns a refresh token"
## Bug Description

It seems that OAuth only returns a `refresh_token` when a user explicitly grants access. One requirement is `access_type=offline`, but with that being set only, I don't receive a refresh token in the response, only an access token. Setting `prompt=consent` (like we had before) ensures there is a refresh token.

I previously thought this is no longer needed now, but it seems we

[2019-10-22 17:17] tofumatt commented on #673
Ah, just working on this issue now, thinking about the AC specifying the opt-in checkbox appearing in the activation banner: what’s the thinking for showing that checkbox right after activation?

I think it’s a bit of a sub-optimal UX (the “next” screen would have the checkbox available and is a more obvious place to opt-in). Placing it in the already large activation banner (I think the header si

[2019-10-22 17:18] jamesozzie commented on #688
@srivastava903 We will require some additional information in order to troubleshoot. There could be a number of reasons you are encountering this issue, such as a security plugin setting, hosting configuration, caching issue, browser extension or other cause.

Please provide additional information, such as the following:
- Screenshot of the error
- Any [console errors](https://i.imgur.com/KyLAzgH.

[2019-10-22 17:21] tofumatt commented on #673
Oh wait, I almost never setup the plugin that way. 😅 I’m realising now that users who setup right from the activation screen never see that page.

I'm adjusting the estimate on this issue as it involves adding a fair bit of new UI to the activation banner. I'll continue onward 👍

[2019-10-22 17:22] marrrmarrr commented on #598
Verified as well on two different sites. LGTM

[2019-10-22 17:22] #598 closed

[2019-10-22 17:26] aaemnnosttv commented on #667
@felixarntz there's a question for you regarding whether or not we should keep the `Deactivation` class around now that it's not registering/doing anything.

See https://github.com/google/site-kit-wp/pull/681#pullrequestreview-305111114

[2019-10-22 17:28] marrrmarrr commented on #677
Verified with two separate sites -- see parameter
`&scope=openid%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsiteverification%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fwebmasters`

[2019-10-22 17:28] #677 closed

[2019-10-22 17:48] lilybonney opened #692 "Sprint: 10 RC.2"
Prepare and publish new release 1.0.0-rc.2 (October 25th).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-10-22 18:27] #560 closed

[2019-10-22 18:27] #676 closed

[2019-10-22 19:10] #687 closed

[2019-10-22 19:11] felixarntz commented on #687
This works as expected, see:

![Screenshot 2019-10-22 at 21 10 41](https://user-images.githubusercontent.com/3531426/67321878-7142dd00-f510-11e9-8794-407a49ca4728.png)

[2019-10-22 19:11] felixarntz commented on #690
I now am prompted for consent and receive a refresh token on the same site that previously failed.

[2019-10-22 19:12] #690 closed

[2019-10-22 19:12] #651 closed

[2019-10-22 19:13] #645 closed

[2019-10-22 19:25] felixarntz commented on #667
@aaemnnosttv @tofumatt Let's remove the class then 👍

[2019-10-22 21:08] ernee commented on #685
duplicate of #688

[2019-10-22 21:08] #685 closed

[2019-10-23 00:52] Kiddcurry commented on #660
I’ve done everything you’ve suggested! Still no luck…getting the same message (see: attachment)

Best Regards,
Ridgley Curry

Ridgley Curry & Associates, Inc.
921 Athens St.
Altadena ca 91001

[2019-10-23 08:45] #686 closed

[2019-10-23 09:10] felixarntz commented on #587
IB ✅

[2019-10-23 09:11] felixarntz commented on #644
IB ✅

[2019-10-23 15:26] smithb252011 opened #697 "No Advanced option when app is not verified"
After updating to the most recent version of sitekit 1.0.0-rc.1 it requires you to re authenticate. Typically we get the 'app is not verified' screen and per instructions you just click on advanced to proceed ... however there is no advanced link to click on which does not allow me to continue ... any ideas why and how to fix?

[2019-10-23 15:54] aditya58singh commented on #697
Yes Same Issue with Me, Not Able to verify it "Sign in with Google temporarily disabled for this app"

[2019-10-23 15:59] koki1010 commented on #697
same goes here

![image](https://user-images.githubusercontent.com/7023089/67411988-c89f8680-f5be-11e9-82b8-7860c77c2b62.png)

[2019-10-23 16:11] Jack-ongithub opened #698 "Cannot sign in to verify rc1"
## Bug Description

After updating plugin, cannot verify or get new API key.
## Steps to reproduce

1. Update the plugin
2. Get banners indicating that it has to be re-verified.
3. Click on banner link.
4. Taken to screen asking to log in with Google account.  Select account
5. Next screen says that Google login has not been enabled for this program.
6. Revert the update of the plugin.

## Screens

[2019-10-23 16:25] Kiddcurry commented on #660
![Google Site Kit error](https://user-images.githubusercontent.com/15821896/67413985-11335180-f577-11e9-8cbf-8874cb25ca47.png)

[2019-10-23 17:12] ernee commented on #660
Thanks for the update and the screenshot @Kiddcurry ! We released a new version that simplifies this process. It should be available to update on the plugins page of your dashboard. You can also [download it here](https://sitekit.withgoogle.com/service/download/google-site-kit.zip).

Could you try it and let me know how it goes?

[2019-10-23 17:25] speedfreakhorror commented on #697
Same Here but only analytics is out of order others are working well enough.

[2019-10-23 17:42] ernee commented on #697
Thanks for the report @smithb252011 @aditya58singh @koki1010 !

Could you let me know if:

- you are logged into the Google account that you used previously for authentication?
- deactivating/ reactivating the plugin and restarting the setup process resolves this for you?

[2019-10-23 17:47] aditya58singh commented on #697
@ernee  Yes Using the same Google account which was used for authentication.

- I have tried deactivating, removing cache and restarting the process but same error is coming.

[2019-10-23 18:13] ambks commented on #697
Having the same issue too. Sent over instructions to a client to install for analytics and tag manager. Hopefully this gets resolved soon.

[2019-10-23 18:20] ernee commented on #697
@speedfreakhorror were you able to complete the initial re-authentication?

Also, do you have any further details about your analytics? Is there an issue with the display or any other issue?

Thanks for the follow up @aditya58singh and for your report @ambks!

I'm not able to recreate the issue currently. However, to rule as much out, could you try restarting the setup process in an incognito or a

[2019-10-23 18:24] ernee commented on #698
Thanks for your report @Jack-ongithub ! This sounds similar to #697. Please follow that issue for updates.

[2019-10-23 18:24] #698 closed

[2019-10-23 18:25] nikolay commented on #697
Same here. All was working well before, after the upgrade, all services shoed OAuth error. Then, reset Sitekit data, but now I can't authenticate as it says Google signin is disabled for the unverified app.

[2019-10-23 18:28] aditya58singh commented on #697
@ernee I tried restarting the setup process in an incognito even on other browser BUT SAME ISSUE

[2019-10-23 18:32] aditya58singh commented on #697
I have deleted the plugin and reinstall, I was able to connect **Search Console** but not able to connect analytics SHOWING Sign in with Google temporarily disabled for this app

I tried different browser also....  @ernee

[2019-10-23 18:35] felixarntz opened #699 "Uncaught Type Error in JavaScript across admin"
## Bug Description

When I updated my personal site to RC1, I received this:
<img width="1368" alt="Bildschirmfoto 2019-10-23 um 20 28 06" src="https://user-images.githubusercontent.com/3531426/67423244-2db1a700-f5d4-11e9-8597-5d2ff7b081da.png">

This console error shows now on every page across the admin, and it prevents the Site Kit splash screen from showing up entirely.

Apparently, once I am

[2019-10-23 18:40] caigealder commented on #697
Same error:
Sign in with Google temporarily disabled for this app
This app has not yet been verified by Google in order to use Google Sign in.

After update 1.0.0-rc.1 / disabling and enabling the plugin, but can't fix it. Different browsers, doesn't fix it either.

[2019-10-23 18:49] smithb252011 commented on #697
I signed out after the update to see if that would fix it but it did not ... Tried a different browser but nothing... Cleared cookies... Nothing.... I cannot use site kit at all because it is back to the original setup as though I've just installed the plugin. Tried going back to the previous beta version... Still same issue

[2019-10-23 18:52] nikolay commented on #697
I am disappointed by Google for releasing an RC that's totally untested and fails for everybody immediately after an upgrade!

[2019-10-23 19:34] ernee commented on #697
Appreciate this information @aditya58singh, @caigealder, @smithb252011, @nikolay, and @jack-ongithub  !

This issue did not occur in our testing. We're looking into this further and appreciate your patience as we find a resolution.

It would be helpful to confirm when you see the error screen ( example: _Start setup -> go to new screen -> click "sign in with Google" button -> error_):

@aditya58si

[2019-10-23 19:55] Jack-ongithub commented on #697
I was having Analytics issues with a previous plugin (Analytify) and then with Site Kit, as well as on the Google console.  So that is not a Site Kit issue.
Updating to RC got me to here:

https://accounts.google.com/signin/oauth/danger?authuser=********...*****  (shortened)
![image](https://user-images.githubusercontent.com/56930261/67429007-435fa600-f5ad-11e9-8754-046e8048c49a.png)

I have resto

[2019-10-23 20:05] dmccan commented on #697
Same issue -- there is no Advanced option.

This current snafu aside, sending WordPress users into the maze-way of App Verification, API screens, etc is going to be a disaster.  I recommend you create a simplified one page app for SiteKit to collect and process anything required.  1/10th of 1 percent of WordPress users will find their way to Github.

[2019-10-23 20:35] alexandreangelis commented on #697
Same error after update today.

[2019-10-23 20:55] marrrmarrr commented on #697
Hi everyone, thanks for the reports and screenshots! We've identified the root cause of the issue and we're working on a fix for the authentication service.
(As @dmccan mentioned, the goal of the authentication service is to take care of the entire setup on behalf of the user. We released this version to see if there might be any issues with it...and what do you know, there are some. 😬)

Meanwhile

[2019-10-23 21:15] ernee commented on #697
Thanks for the follow up @Jack-ongithub. When I inspect websitesbykts.com, I'm not seeing the Google Analytics snippet in the source code. That could be the source of the issue with the data not populating in the dashboard and on the analytics platform. If you've configured Site Kit to insert the snippet/tag for you, feel free to open another issue and we'll investigate it.

[2019-10-23 21:33] ernee commented on #660
@Kiddcurry we had an issue with the recent update version 1.0.0-rc.1, and reverted back to the previous setup flow in version 1.0.0-rc.1.1

A few options:

1) I can let you know when the new, simplified setup flow is ready, so we can see if that resolves this issue.

2) The JSON code in your screenshot looks correct. You can try to troubleshoot further to see if a plugin is conflicting. The first

[2019-10-23 22:00] tofumatt commented on #75
This is covered by #691 but I think it's fine to just review #673—if it gets through code review this issue can also move to QA.

[2019-10-24 02:15] Jack-ongithub commented on #697
@ernee I just got back from a WP Help Desk Meetup - the problem I brought was the lack of indications of visitors.  The fix we implemented was manually putting the snippet into the theme header.  After that, the console's realtime panel saw a test visitor.  However, still not seeing it in the Home display.  It does show 7 visitors if I narrow it to today.
I put the plugin into the website over a m

[2019-10-24 03:28] Yakadanda opened #701 "Upgrading to Version: 1.0.0-rc.1.1 - Impossible to Verify Again"
## Bug Description

'Sign in with Google temporarily disabled for this app
This app has not been verified yet by Google in order to use Google Sign In.'

## Steps to reproduce

1. Go to 'Upgrade'
2. Click on 'You need to reauthenticate your Google account. Click here'
3. 'Unverified App Screen (Clicks to proceed) '
4. Choose an account to continue to sitekit.withgoogle.com
5. 'Sign in with Google

[2019-10-24 05:24] speedfreakhorror commented on #697
@ernee yes prior to these new changes analytics worked, now there is no tracking.
now i see:
Issue accessing data
You need to reauthenticate your Google account.

When click for reauthentication i see Unverified App Screen. When proceeding with this i get the error Sign in with Google temporarily disabled for this app. As written there should have been Advanced option. But i do not see any.

[2019-10-24 07:59] felixarntz opened #702 "Search Console matching does not work for domain properties"
## Bug Description

Search Console domain properties do not have an actual URL in `siteUrl`, but instead a `sc-domain:$host`. This breaks Site Kit's `matched-sites` datapoint for such properties, since parsing the host out of these strings fails. This furthermore results in a PHP notice (note these are typically suppressed in the REST API) that the needle used in `strpos()` afterwards is empty.

-

[2019-10-24 08:49] christiaangieles commented on #701
I had that step 5, happen to those sites I upgraded yesterday. I had to stop upgrading, hopefully this gets resolved soon.

I do like the new verification process, it looks alot more cleaner and better - but the client is now kinda broken. Either only GS gets verified, or only GA.

[2019-10-24 08:50] jamesozzie commented on #701
@Yakadanda We have an open issue in relation to this issue, you can keep track of it at #697

[2019-10-24 08:50] #701 closed

[2019-10-24 08:51] christiaangieles commented on #699
Hello, Here to confirm this bug and provide more information.

I did a FRESH 1RC install just not on a site that has not had SiteKit installed before, and I get the same errors. In regular Chrome or in incognito.

![image](https://user-images.githubusercontent.com/7935694/67469225-2b8b2f00-f64c-11e9-9619-d3e20340000e.png)

[2019-10-24 09:24] felixarntz opened #704 "In proxy mode, splash screen should always show proxy setup UI"
## Bug Description

In #642 a landing page for the authentication proxy setup flow was implemented. However, when directly accessing `/wp-admin/admin.php?page=googlesitekit-splash` after I've gone through the flow, I see the old splash page content that just provides information about the plugin.

When the proxy is in use, the splash screen should always show the new UI. The old content should rem

[2019-10-24 11:33] aaemnnosttv commented on #612
CR ✅

[2019-10-24 13:02] felixarntz commented on #223
We just merged the work on #612, so this should be fixed in the upcoming release.

[2019-10-24 13:04] felixarntz commented on #246
We just merged the work on #612, so this should be fixed in the upcoming release.

[2019-10-24 13:15] Rustixx commented on #386
I have the same issue with Google Analytics connection. Tried everything in the first post but no success. Please find below Site Health info:

### wp-core ###

version: 5.2.4
site_language: ru_RU
user_language: ru_RU
permalink: /%category%/%postname%.html
https_status: true
user_registration: 0
default_comment_status: open
multisite: false
user_count: 1
dotorg_communication: true

### wp-paths-si

[2019-10-24 15:27] rronchi-dev opened #705 "I can no longer integrate the Analytics service."
## Bug Description
After upgrading to version to version 1.0.0-rc.1.1, I can no longer integrate the Analytics service.

## Steps to reproduce
I reinstalled the Plugin and after trying to setup the Analytics, I had access to the Analytics page in the menu, but it appears empty (without any content).
In Settings appears "Analytics is not connected" and the option "Setup incomplete: continue module

[2019-10-24 16:30] ernee commented on #697
@Jack-ongithub thanks for the update. Yes, open a new issue so we can investigate your particular case regarding Site Kit.

@speedfreakhorror have you been able to update the plugin to 1.0.0-rc.1.1, which restores the previous authentication method? Could you try that and also try connecting to Analytics? Let me know if you are able to proceed and see tracking.

[2019-10-24 16:31] smithb252011 commented on #697
I can confirm that after updating to 1.0.0-rc.1.1 I was able to get back up and running. I had to recreate Oauth but good to go now.

[2019-10-24 16:50] tofumatt commented on #704
Sorry, but could you attach screenshots to the pages you're encountering vs the pages you expect to see? I'm trying to re-create this but don't have a proxy site handy to test and currently the proxy is failing to authenticate me so I'm not able to reproduce this error. (My proxy sites are all temporary jurassic.ninja sites and I don't have an old one handy to test.)

[2019-10-24 17:02] Jack-ongithub opened #707 "Site Kit not inserting Analytics code into header"
## Bug Description
It appears that Site Kit did not insert the Google Analytics code into the theme header.
Refer to the discussions by me and @ernee in Issue #697

In website: websitesbykts.com, I had been using another analytics plugin, Analytify, and getting long term notices that Analytics was gathering data and to come back.  I eventually uninstalled the plugin and installed Site Kit, on 8/22

[2019-10-24 17:04] aaemnnosttv commented on #187
### QA ⚠️

- `tests/phpunit/integration/Modules/TagManagerTest.php` should be `Tag_ManagerTest.php`
_PR #708_
- The slug for the Tag Manager module should _maybe_ also be `tag-manager` now instead of `tagmanager`?
However (not hyphenated):
    - `https:// tagmanager .google.com/` Homepage subdomain
    - `https://www.googleapis.com/auth/ tagmanager .manage.accounts` Auth scopes

[2019-10-24 17:46] ernee commented on #705
@rronchi-dev thanks for the details. Could you try these troubleshooting steps:

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching or security suite plugins in use
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

If the above fails please share your [Site Health info](https://i.imgur.com/Rtkmsba.png)

[2019-10-24 18:33] tofumatt commented on #673
Reading the description here it states:

But issue #633 is slated for 1.0.0, not an RC version. I've already set the box to be opt-in rather than opt-out in this PR, and I'm of the opinion that it's okay to make that change pre-1.0.0.

If we don't want this to be opt-in until later I can change that, but currently it is opt-in.

[2019-10-24 18:56] ernee commented on #707
@Jack-ongithub thanks for opening a new issue and providing these helpful details.

I definitely see the snippet inserted in the header last night.

1) Could you confirm if you're currently seeing Google Analytics data on your dashboard?

2) Site Kit should detect your current snippet. Under _Site Kit > Settings > Google Analytics_  you'll see the following notice indicating it detects the snippet

[2019-10-24 19:13] ernee commented on #705
@rronchi-dev just a quick follow up that I was able to recreate the issue and resolve it in my case.

It may be related to browser caching, so along with the above troubleshooting steps also try clearing or disabling your browser cache. The errors should resolve and the page should render.

Let me know how it goes!

[2019-10-24 19:16] ernee commented on #699
@christiaangieles those errors are similar to the ones we're troubleshooting in #705

Could you try the troubleshooting steps in the issue and provide an update there?

[2019-10-24 19:42] tofumatt commented on #704
(Note: @aaemnnosttv walked me through these screens and steps-to-reproduce in Slack, no need to reply 😄)

[2019-10-24 19:55] tofumatt commented on #187
Good catch on:

I've created #709 for that fix.

Not sure about changing the slug, but we can add it to the above PR if needed.

[2019-10-24 20:09] felixarntz commented on #704
IB ✅

Let's not adjust the UI for now (also since there is currently no flag or anything like that). We can refine in the future if needed.

[2019-10-24 20:17] Kiddcurry commented on #660
Hi Ernee,

Installed new Site Kit plugin and was able to install [Search Console], but when I went to "Connect More Services" [Analytics] and/or [PageSpeed insights] I got the same Internal Server Error message "The response is not a valid JSON response" again! (See attached screenshot)
![Screen Shot 2019-10-24 at 1 13 28 PM](https://user-images.githubusercontent.com/15821896/67521909-a0686400-f66

[2019-10-24 20:29] felixarntz commented on #187
I think it's okay keeping `tagmanager` as the slug. There are certainly arguments for `tag-manager` (I think the scopes aren't a counter argument because they pretty much never contain hyphens), but it would also lead us to changing option names accordingly (`tagmanager` --> `tag_manager`.

[2019-10-24 21:16] tofumatt commented on #704
In that case this is a very simple change; I'll get a PR sorted now 😄

[2019-10-24 23:12] rronchi-dev commented on #705
Hi,

By following the steps below, I was able to reconfigure the site-kit and integrate with all the services I use.

Many thanks for the guidelines!

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching or security suite plugins in use
3. Install Site Kit in a new incognito window

De: Renee Johnson <notifications@github.com>
Enviada em:

[2019-10-25 06:32] speedfreakhorror commented on #697
@ernee it showed it has worked but analytics says gathering data from yesterday with no changes.

[2019-10-25 06:44] aaemnnosttv commented on #187
### QA ✅

No instances of `TagManager` module class remain in old form.

Moving to approval.

[2019-10-25 07:33] aaemnnosttv commented on #667
### QA ✅

AC

There is no longer any reference to any Site Kit cron events 👍

Moving to Approval

[2019-10-25 08:14] aaemnnosttv commented on #702
### QA ✅

Tested setting up Site Kit using a user that is a verified owner using a `INET_DOMAIN` type verification.

![image](https://user-images.githubusercontent.com/1621608/67554667-838f6780-f718-11e9-823e-89f69c29f70c.png)

Setup was successful and the `matched-sites` datapoint returned the proper expected response.

![image](https://user-images.githubusercontent.com/1621608/67554718-9ace5500-

[2019-10-25 09:39] neverything commented on #697
I currently have the same issue with multiple installations. There is no advanced button and deactivating the plugin didn't help.

[2019-10-25 09:42] aaemnnosttv commented on #668
### QA ⚠️

#### Missed changes
- `assets/js/modules/analytics/setup.js`
    - `handleAMPClientIdSwitch` method and references
    - `existingAccountId`, `existingPropertyId`, `accountId`, `propertyId` in https://github.com/google/site-kit-wp/blob/4cf33d9213e0f7da25b6577bfab878fa28259221/assets/js/modules/analytics/setup.js#L255-L256 and accompanying code in the Analytics module: https://github.com

[2019-10-25 09:49] neverything commented on #697
Solved it the following way:

1. Update to RC 1.1
2. Deactivate the plugin
3. Reactivate the plugin
4. Run the process again
5. Success 💯

[2019-10-25 09:51] jamesozzie commented on #386
@Rustixx Have you tried to temporarily disable "Insert Headers and Footers" along with Updraft Plus before attempting again, via an incognito browser window?

[2019-10-25 10:00] Rustixx commented on #386
Thank you for prompt reply!

I’ve just tried and it doesn’t help.

BR,
RI

[2019-10-25 10:30] jamesozzie commented on #386
@Rustixx I just noticed you are also using another analytics plugin. Can you deactivate that plugin before attempting the following:
1. Disconnect the Analytics module (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)
2. Open Site Kit in a new incognito window
3. Reconnect the Analytics module (Site Kit > Settings > Connect other services > Analytics)

If that fails do

[2019-10-25 10:35] aaemnnosttv commented on #668
@felixarntz can you advise how we should handle the more ambiguous situations mentioned in my comment above? Should we update responses that return Google model instances that use casing that conflict with our rules? See lines about `matchedProperty` and Tag manager's `GET accounts-containers`.

[2019-10-25 10:50] Rustixx commented on #386
Tried this - no success.
Unfortunately I don’t have other sites running Wordpress. I think the problem is in the authorisation process.
The other Analytics plugin uses another type of authorisation (through one-time access code) and working just fine.
Can we debug the authorisation process?

BR,
RI

[2019-10-25 10:54] aaemnnosttv commented on #524
@tofumatt Moving this one back for now just to make it more clear what we're actively working on.

[2019-10-25 11:07] aaemnnosttv commented on #558
Heads up @adamsilverstein I'm sending this one your way for QA 🏄
Let me know if you have any questions!

[2019-10-25 11:18] aaemnnosttv commented on #704
### QA ✅

- Reset Site Kit
- Visit splash page
    - See proxy setup
- Setup Site Kit using GCP credentials
    - Visit splash page: see old splash page
![image](https://user-images.githubusercontent.com/1621608/67567224-2bfdf580-f732-11e9-926b-7b16436adfbc.png)
- Filter proxy credentials (authenticated with GCP)
    - Visit splash page: see proxy setup
![image](https://user-images.githubuserconte

[2019-10-25 12:13] felixarntz commented on #612
@aaemnnosttv Correct, these two AC inconsistencies are okay because they make more sense to be as was decided in the meantime.

The `third-party` name is a convention typically required for Google projects, that's the main reason for that name. It was okay to stick with `vendor` before since that is just the Composer default, but now that we can freely decide I therefore chose `third-party`.

[2019-10-25 12:20] jamesozzie commented on #386
@Rustixx If you are able to use a plugin such as Duplicator you could setup/copy your site elsewhere and check for the same issue, or setup a staging site to troubleshoot with.

There is a new authentication flow in the upcoming plugin version, due for release shortly. With every users WordPress setup and hosting environment varying I can't guarantee that will solve your issue it does reduce the s

[2019-10-25 12:30] Rustixx commented on #386
Thank you for the info. I will wait for the new release.

BTW, then I try to connect Google analytics, the system tells after 2 or 3 seconds "Looks like you don't have Analytics account yet."
Google AdSense also couldn’t connect but with infinite «Loading…» message. May be this helps to locate problem. Look like Analytics and AdSense behave differently for the same authorisation.

BR,
RI

[2019-10-25 12:31] aaemnnosttv commented on #612
### QA ✅

See https://github.com/google/site-kit-wp/issues/612#issuecomment-546265238 for details

Moving to Approval

[2019-10-25 13:02] felixarntz commented on #668
@aaemnnosttv @adamsilverstein I think, as unfortunate that is, let's stay with the inconsistencies that result from third-party code and APIs. Let's follow the conventions where we can, but third-party code should be left untouched, and renaming API response parameters leads us down a rabbit hole.

[2019-10-25 13:25] Jack-ongithub commented on #707
2. Yes, I see the notice

Looks like Analytics is working.  Here's a screenshot with questions.

![image](https://user-images.githubusercontent.com/56930261/67574897-5a1b0f80-f709-11e9-80f1-c1748f4cf0a1.png)

[2019-10-25 13:38] felixarntz opened #713 "Trigger Analytics event in proxy screen"
Addressed by PR #719

---

## Feature Description

Following up on https://github.com/google/site-kit-wp/pull/691#discussion_r338980419, we also need to have an Analytics event for when users go to the authentication service from the dedicated UI introduced in #642.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2019-10-25 13:39] felixarntz commented on #673
As a follow-up, I added a (likely small) issue #713 - would be great if you could tackle that afterwards @tofumatt

[2019-10-25 14:30] srivastava903 commented on #688
sir my problem is not solved

On Tue, Oct 22, 2019 at 10:48 PM James G <notifications@github.com> wrote:

[2019-10-25 14:39] adamsilverstein commented on #558
This looks great, nice improvements here @aaemnnosttv! I'll give this a test.

[2019-10-25 14:51] adamsilverstein commented on #668
Thanks for the review @aaemnnosttv. I'll review the missing changes, fix any that can be updated, and inline comments to instances that are dealing with API returned data (and thus remain unchanged).

[2019-10-25 15:40] adamsilverstein commented on #558
QAing this issue everything looks good, moving to Approval.

I tested data flow and checked for any errors.
Reviewing the AC, I can verify:
 - [x] New class Data_Request implements ArrayAccess
 - [x] Updated signatures of Module::create_data_request(), Module::parse_data_response(), and Module::execute_data_request() - they now take the `Data_Request` object.
 - [x] verified create_data_request an

[2019-10-25 15:40] aaemnnosttv opened #714 "Analytics event tracking uses generic global function"
## Bug Description

Currently Site Kit Google Analytics events are tracked using the global `sendAnalyticsTrackingEvent` function. We shouldn't use a generic name for anything in the global namespace to prevent naming collisions.

---

Enhancement:

This function should always exist on any screen where we might need it (currently it is conditionally defined only if the user is authenticated). This

[2019-10-25 15:41] jamesozzie commented on #688
@srivastava903 If you were experiencing issues similar to that in #685 please check and see if there is any update available for the Site Kit plugin from your WordPress dashboard.

If that does not resolve your issue we will require some more information from your side in order to troubleshoot, information as mentioned above.

[2019-10-25 15:44] adamsilverstein commented on #558
Immediately after posting this I noticed an error when setting up AdSense, holding off on approval. Here are the details of the error, checking for a fix now:

`PHP Warning:  array_merge(): Expected parameter 2 to be an array, object given in /site-kit-wp/includes/Modules/AdSense.php on line 554`

![image](https://user-images.githubusercontent.com/2676022/67584936-e29aaf80-f70b-11e9-9246-a3e7e2ec2

[2019-10-25 15:50] adamsilverstein commented on #558
@aaemnnosttv The code handling dates in AdSense.php is expecting an array here, looks like we need to update the date handling as you did elsewhere in https://github.com/google/site-kit-wp/pull/695.

This failed QA, moving back to To Do.

[2019-10-25 15:50] srivastava903 commented on #688
sir my wordpress dashboard is fully updated i check it but problem is same
error 403It appears you don't have
permission to access this page.403 Error. Forbidden.

On Fri, Oct 25, 2019 at 9:11 PM James G <notifications@github.com> wrote:

[2019-10-25 18:28] ernee opened #716 "Allow changing Analytics view name when creating a new view"
## Bug Description

Analytics new view creation duplicates default “All Web Site Data” view. No indication that the view was created, that the user needs to modify the view, or where to do it (on Analytics platform). Also referenced in #522 .

## Steps to reproduce

1. Go to the Analytics Module
2. Click on the View dropdown and select _Setup a new view_
3. Click on the button _Confirm Changes_
4.

[2019-10-25 19:04] stllrnet commented on #566
I did what you told and the problem continues. I also deactivated every single plugin, except 'Site Kit' and refreshed the permalinks, and again, problem continues.

[2019-10-25 19:10] ernee commented on #707
Thanks for the confirmation @Jack-ongithub ! Glad to hear it is working.

A few items to keep in mind when you update your theme:

1) A manually inserted snippet in the theme's _header.php_  file will most likely be erased on theme update. So using a plugin or perhaps a built-in feature of your theme if available is the best to retain the snippet on the site.

2) You can use Site Kit or any other

[2019-10-25 19:12] ernee commented on #705
Thanks for the update @rronchi-dev ! Glad to hear those steps worked.

[2019-10-25 19:12] #705 closed

[2019-10-25 19:21] ernee commented on #660
Hi @Kiddcurry ! Glad you were able to get through the first step. There does seem to be something conflicting.

1) Did you to try to connect with SG Optimizer deactivated temporarily?
2) Could you also try in an incognito browser and (for good measure) clear the browser cache?

We'll have the new setup flow out soon, so we can try then too at any rate.

[2019-10-25 19:31] ernee commented on #697
@neverything thanks for the update. Glad it's back up.

@speedfreakhorror thanks for the update too. Could you try to disconnect and reconnect the Analytics connection?

If the data from Analytics is still not displaying, feel free to open a new issue and we'll investigate further.

[2019-10-25 21:42] Jack-ongithub commented on #707
The snippet was initially inserted into the theme's header.php file.  The next day I made a child theme and am now using it.

[2019-10-25 23:42] #707 closed

[2019-10-26 01:17] Jack-ongithub commented on #707
@ernee I don't understand your closing this.  I thought the issue you wanted to address was whether / why didn't Site Kit install the code snippet in the first place?

[2019-10-26 12:25] maicol07 opened #718 "Can't proceed after setup step 4"
## Bug Description

When you reach step 4 in the initial setup, this fails and shows the error below in the image in Console.

## Steps to reproduce

1. Go to Site Kit --> Dashboard
2. Follow steps
3. Open F12
4. See error on step 4

## Screenshots

![immagine](https://user-images.githubusercontent.com/9463142/67619392-7eefaf80-f7fb-11e9-801d-de3f20e9770b.png)

## Additional Context

 - PHP Versio

[2019-10-27 02:38] onursoyer commented on #718
+1

[2019-10-27 09:46] felixarntz commented on #713
@tofumatt IB ✅

I see there's already the `signin_with_google` tracking event there, that should be replaced with the new call (just clarifying that the new event should replace the old one, not be added)

[2019-10-27 09:58] felixarntz commented on #654
IB ✅

[2019-10-27 10:00] felixarntz commented on #480
IB ✅

Let's fix this globally as you're recommending too, not only for narrow viewports.

[2019-10-28 04:05] johnnyscience commented on #528
Hello, I don't at the time unfortunately.  I'll try to keep an eye out for the beta release.

Thanks again.

[2019-10-28 04:05] #528 closed

[2019-10-28 07:48] aaemnnosttv commented on #558
@felixarntz are you able to perform the final QA on this one? @adamsilverstein said that the AdSense datapoint error was the only failure and he confirmed that this was fixed by #715.

[2019-10-28 08:30] aaemnnosttv commented on #641
### QA ✅

- `Sensitive_Scopes_Warning` class and references removed
- Set up works without displaying any "Unverified app warning"
- No warning displayed before requesting sensitive scopes (Analytics or AdSense)
- Only mentions of the word "unverified" is in regards to site verification
- Word "sensitive" no longer exists in includes or assets

Moving to Approval

[2019-10-28 08:38] kaelhoel opened #721 "Google Tag Manager snippet is in the wrong location"
## Bug Description

 I have Tag Manager set up by Google Site Kit. When trying to confirm ownership of my website for Google Merchant Center, and choosing Tag Manager to verify, it fails. Error message says "GTM snippet is in the wrong location."

## Steps to reproduce

1. Attempt to confirm ownership of website for Google Merchant Center with Google Tag Manager.

## Screenshots

![image](https://

[2019-10-28 09:05] christiaangieles commented on #699
Mine just resolved itself after waiting over the weekend. No changes where done on my side. I'm assuming some Google services were having hickups, probably due to the new auth sequence for Site Kit

[2019-10-28 09:32] aaemnnosttv commented on #668
@felixarntz I'm not sure about changes like this one `ampExperimentJson` -> `ampExperimentJSON`. This is not part of the AC but of course the idea is the same.

It raises another question of casing though: should we be capitalizing other acronyms: `JSON` and `AMP`?

Also, should we be using JS casing for our option keys? This has resulted in a lot of migration handling, but I wonder if it's better

[2019-10-28 09:38] AndreiIgna commented on #566
Same problem here. The widget on Dashboard has broken links.

<img width="687" alt="Screenshot 2019-10-28 at 10 33 14" src="https://user-images.githubusercontent.com/263021/67667666-9307ee00-f96e-11e9-9544-4eb40323d532.png">

For example, top content links should point to `site.com/`, but instead it points to `site.com/wp-admin/__page_title__`.
Maybe a template string contains `site_url + page_tit

[2019-10-28 09:51] felixarntz commented on #668
@aaemnnosttv While not in the ACs, capitalizing `JSON` makes sense for the same reasons, as you say. Regarding AMP, we already capitalize that accordingly, there's only one occurrence of `Amp`, but that is due to third-party code.

Let's not change the option names at this point. Potentially it would have been better to use snake case for them (also since that's the way they're typically named), h

[2019-10-28 10:06] felixarntz opened #722 "Implement ESLint rule that detects camel-case acronym violations"
## Feature Description

In #668, we decided that acronyms in camel-case or pascal-case need to be fully capitalized (e.g. `accountID`, `siteURL`, `someJSON`).

The only time where such an acronym should not be capitalized is when it is the beginning of a camel-case name, which includes stand-alone (e.g. it should be `ampExperimentJSON` instead of `AMPExperimentJSON`, or `url` instead of `URL`). No

[2019-10-28 10:47] felixarntz opened #723 "PageSpeed Insights stats should not display zero data"
## Bug Description

Occasionally the PageSpeed Insights API request fails, apparently because it can have issues accessing the website. We return a corresponding error message in that case. However, I've also seen some "zero data" appearing, which happened in a subsequent page load to the one that displayed the error message:

![Screenshot 2019-10-28 at 11 37 56](https://user-images.githubusercont

[2019-10-28 11:15] felixarntz commented on #558
Final QA ✅

[2019-10-28 11:17] #667 closed

[2019-10-28 11:19] #702 closed

[2019-10-28 11:20] #187 closed

[2019-10-28 11:21] felixarntz commented on #713
QA ✅

[2019-10-28 11:22] #713 closed

[2019-10-28 11:30] felixarntz commented on #668
QA ✅

[2019-10-28 11:30] #668 closed

[2019-10-28 12:06] felixarntz opened #724 "Use contextual wording in proxy splash screen after user has revoked access"
## Feature Description

When the user revokes access from the authentication service's permissions page, they are now linked back to the `googlesitekit-splash` screen. While the proxy service does not technically revoke the respective token (because it does not have access to it), it "blocks" future access to a new token. This by default results in a potentially confusing experience, where the use

[2019-10-28 13:29] felixarntz commented on #113
Regarding the version number in `composer.json` and `package.json`, I just removed that in https://github.com/google/site-kit-wp/commit/246842c90d7cf678e310b7b2ca79af44478923c5. That leaves us with just the second point for this one.

[2019-10-28 13:36] swissspidy commented on #113
There are some other configuration changes that might be useful in `composer.json`:

* Adding required PHP extensions to `require`
* Adding `roave/security-advisories` as a dev dependency
* Require `phpcompatibility/phpcompatibility-wp` instead of `phpcompatibility/php-compatibility`
* Set `config.sort-packages` to `true`

[2019-10-28 13:50] felixarntz commented on #673
QA ✅

[2019-10-28 13:50] adamsilverstein commented on #75
I verified the link here looks correct and based on the Issue I am moving this to Approval.

### Testing Procedure
* Enable Plugin.
* Check source code for welcome banner, verifying button links to correct URL.

![image](https://user-images.githubusercontent.com/2676022/67683732-81671c00-f957-11e9-862e-632940aaff51.png)

[2019-10-28 13:52] #75 closed

[2019-10-28 14:38] marrrmarrr commented on #673
LGTM.

[2019-10-28 14:38] #673 closed

[2019-10-28 15:00] jamesozzie commented on #721
@kaelhoel Thanks for raising this issue. Do you mind informing me of the following:
- Can you confirm that you can continue with ownership by using the "I have a Google Analytics account" option? Using Tag Manager with Site Kit is dependent on having Analytics setup, it would be interesting to know if it allows you to proceed.
- Can you check the source code of your website and share the location

[2019-10-28 15:06] #558 closed

[2019-10-28 15:10] adamsilverstein commented on #633
In general this passes QA and I am moving to Approval, however I noted several small unrelated issues during QA that I will create follow up issues for.

### Summary
Ticket passes QA, creating follow up issues for:
* Remove `googlesitekit_tracking_optin` option when resetting plugin.
* Ensure activating/deactivating tracking from plugin screen takes effect immediately.
* Analytics/module screen sh

[2019-10-28 15:27] felixarntz commented on #612
We need to also prefix the generated `Composer\Autoload\ClassLoader` files in `includes/vendor` and `third-party/vendor`.

[2019-10-28 15:45] lilybonney opened #726 "Sprint: 10 R1"
Prepare and publish release 1.0.0 (October 31st).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* N/A

## Implementation Brief

* N/A

## Changelog entry

* N/A

[2019-10-28 15:49] #633 closed

[2019-10-28 15:54] marrrmarrr commented on #641
LGTM

[2019-10-28 15:54] #641 closed

[2019-10-28 15:55] marrrmarrr commented on #704
LGTM. Will update text in #724

[2019-10-28 15:55] #704 closed

[2019-10-28 16:22] adamsilverstein opened #727 "Opt In/out should take effect immediately"
## Bug Description

Follow up for issues discovered during QA of https://github.com/google/site-kit-wp/issues/633.

* Checking or unchecking the opt in to tracking checkbox, then immediately performing an action (without a page refresh) doesn't work correctly during setup flow or on settings screen.

## Steps to reproduce

I see the same issue in two locations.

### Setup flow
![image](https://use

[2019-10-28 16:32] felixarntz commented on #727
In the non-React version, this relies on `window.googlesitekitTrackingEnabled` instead of `googlesitekit.admin.trackingOptin`. Maybe we should consistently decide on one of the two and use that value throughout (I'd vote for the first since that doesn't rely on an extra `admin` object to exist).

[2019-10-28 16:37] adamsilverstein opened #728 "Remove `googlesitekit_tracking_optin` option when resetting plugin"
## Bug Description

Noted in QA on https://github.com/google/site-kit-wp/issues/633.

Resetting the plugin using the 'Reset Site Kit' link on the settings screen, using the CLI or deleting the plugin should remove the `googlesitekit_tracking_optin` option. Each of these events should reset tracking to the default opted out state.

## Steps to reproduce

1. Enable the plugin.
2. Note that tracking

[2019-10-28 16:51] adamsilverstein opened #729 "Ensure 'insufficient scopes' warning shows correctly"
## Bug Description

This issue was noted during QA on https://github.com/google/site-kit-wp/issues/633.

Insufficient scopes warnings should show in more places.

## Steps to reproduce

### Current Behavior
When the user does not have sufficient scopes to use an enabled module, Site Kit shows a warning that the user needs to reauthenticate to add the missing scopes. We show this warning across wp-

[2019-10-28 17:01] tofumatt commented on #727
Agreed, let's use the same value everywhere; it's a bit confusing to have to handle two different values. (Leading to this bug/confusion!)

[2019-10-28 17:54] ernee commented on #718
Hi @maicol07 and @onursoyer! Have you updated to the recent version 1.0.0-rc.1.1? It restores the previous setup flow since we are working on a few issues with the version in 1.0.0-rc.1. Could you try that version and let me know if you're able to complete the setup?

[2019-10-28 20:39] aaemnnosttv opened #731 "Dashboard: inconsistent Analytics widget state when no account"
## Bug Description

The Site Kit dashboard shows inconsistent states for Analytics widgets if the user is signed in with a Google account that has no Analytics account.

Specifically, the Analytics widget under "Search Funnel" shows a zero-data state, while the Analytics widget under "Popularity" shows a data error state.

## Steps to reproduce

1. Setup Site Kit using a site with a user that has

[2019-10-28 22:45] marrrmarrr commented on #612
verified

[2019-10-28 22:45] #612 closed

[2019-10-28 23:21] felixarntz commented on #699
This was an issue with my setup (I had removed the `?ver=...` suffixes from scripts and stylesheets at some point, which was messing up the necessary cache busting).

[2019-10-28 23:21] #699 closed

[2019-10-28 23:29] felixarntz commented on #223
This should be fixed in the latest rc.2 - please reopen if you still encounter issues with this.

[2019-10-28 23:29] #223 closed

[2019-10-28 23:29] felixarntz commented on #246
This should be fixed in the latest rc.2 - please reopen if you still encounter issues with this.

[2019-10-28 23:29] #246 closed

[2019-10-28 23:34] felixarntz commented on #716
@marrrmarrr Any idea how we can prevent (or at least guide away) the user from doing this?

It's expected in the current plugin behavior that this theoretically is possible, but as pointed out, it might not make sense if you just set up a duplicate identical profile. I'm not even sure we can determine that, but let's think about it.

[2019-10-28 23:35] #692 closed

[2019-10-29 00:25] coolhandluke1234 opened #732 "After latest update cannot activate analytics"
## Bug Description

I get the following after I updated:  We've detected there's already an existing Analytics tag on your site (ID AW-748864641), but your account doesn't seem to have access to this Analytics property. You can either remove the existing tag and connect to a different account, or request access to this property from your team.
<img width="1624" alt="Screen Shot 2019-10-28 at 8 24

[2019-10-29 01:38] ernee commented on #732
Hi @coolhandluke1234! Could you confirm a few things for me:

1) Are you logged into a Google account that has administrative access to the property in Google Analytics and other connected services? It looks like the tracking ID referenced is for Google Ads [conversion tracking](https://support.google.com/google-ads/answer/7548399).

2) How are you adding the snippet to the site?

[2019-10-29 02:01] onursoyer commented on #718
Hi. Yes. It seems issue has been resolved.I was able to complete setup after upgrading 1.0.0-rc.2.

Thank you!

[2019-10-29 02:09] webspacesau opened #733 "Analytics page blank when attempting to connect"
## Bug Description

After updating to RC2 and reauthenticating my Google account, the analytics module was still not connected and needs to be setup again. After clicking to setup I am shown a blank page.

## Steps to reproduce

1. Follow instructions to setup service from either the dashboard or clicking the Analytics option from the settings sidebar.
2. It appears to flash a loading bar for a sp

[2019-10-29 09:34] felixarntz commented on #723
IB ✅

[2019-10-29 09:38] felixarntz commented on #724
IB ✅
@aaemnnosttv

This is an okay trade-off. We're going to remove this at some point anyway.

[2019-10-29 09:57] breakfastclubkc opened #736 "verification token missing"
## verification token missing

I cannot set up my sitekit - it will not verify or tell me what to do to verify it.

## Steps to reproduce
I made a video: https://share.getcloudapp.com/YEuvBgQv

[2019-10-29 10:18] jamesozzie commented on #733
@webspacesau Looking at your screenshot I can see you are using an Analytics plugin active, which may be impacting setup. Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Temporarily deactivate the Updraft plugin and the Analytic

[2019-10-29 10:37] jamesozzie commented on #736
@breakfastclubkc  There may be a security, caching or other plugin impacting Site Kit setup. Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active, such as WP Optimize
3. Install Site Kit in a new [incognito window](https://i.imgur.com/A

[2019-10-29 10:39] coolhandluke1234 commented on #732
1. Yes, and everything was working before the update

2. I put the snippet in my theme so it is in the <head> section on all pages throughout the website
[cid:clip_image001.png]
Lucas Marshall
CEO & Co-Founder | Podcast Producer
(757) 410-4678 | lucas@themoneyadvantage.com<mailto:lucas@themoneyadvantage.com> | LinkedIn<https://www.linkedin.com/in/lucasmarshall/> | themoneyadvantage.com<https://the

[2019-10-29 10:49] felixarntz commented on #723
QA ✅

[2019-10-29 11:01] #723 closed

[2019-10-29 12:05] webspacesau commented on #733
Hi @jamesozzie , which Analytics module/plugin do you see that I have active? As far as I know I am only using Site Kit within WP for Analytics

[2019-10-29 12:26] jamesozzie commented on #733
@webspacesau I can see an Analytics [tab](https://i.imgur.com/Vfn9E8Z.png) from the screenshot you shared, maybe that is coming from another plugin you have active, or maybe it is not related to Google analytics.

Did you have any luck setting up Site Kit after following the other suggestions?

[2019-10-29 12:31] jamesozzie commented on #566
@stllrnet @AndreiIgna The latest version of the plugin is available now, RC2. You can download it [here](https://sitekit.withgoogle.com/service/download/google-site-kit.zip). Please check if the same issue persists.

[2019-10-29 12:37] webspacesau commented on #733
@jamesozzie Ahh I see what you're seeing, that is the Analytics tab for Woocommerce, not GA related :) I've reinstalled as per your instructions and appears to be working again. Not sure if it was caching relating or due to Updraft. I had only recently re-enabled Updraft after seeing #612 as resolved for rc2.

[2019-10-29 13:06] #684 closed

[2019-10-29 14:01] adamsilverstein commented on #587
This passes QA in my testing, moving to Approval.

### Testing procedure
* Reset plugin and deactivate.
* Activate plugin, go thru setup, activate modules, check dashboard, wp dashboard.
* Note: the "Developer Beta" tag no longer appears anywhere.
* Search codebase for the word 'beta' to verify completely removed.

[2019-10-29 15:25] Nzaime opened #740 "Impossible to sign in since the last update Version 1.0.0-rc.2"
## Bug Description

I did the last update today (Version 1.0.0-rc.2) and my Google site kit plugin went off, it disconnected my Google account (eveything has disapeared, google analytics, search console etc...). The dashboard is blank, nothing showing.
I received this error report : https://ibb.co/mhXDYWt
I tried to disable the plugin and reactivate it, and now if i try to link my Google account
i

[2019-10-29 15:39] jamesozzie commented on #740
@Nzaime Can you please attempt the steps below in order to get Site Kit connected:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

If the above fails to resolve your issue can you please share the following:
- Any [console e

[2019-10-29 18:06] SiwelKe commented on #740
Installing the plugin in incognito worked for me

[2019-10-29 18:45] ernee commented on #732
Thanks for the info @coolhandluke1234 !

Could you try the following and let me know if either resolves the issue:

1) Disconnecting and reconnecting the Google Analytics Module

2) I notice that the snippet on the site is missing the gtag command for the Google Analytics tracking ID:

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-748864641"></script> <script>window.dataLayer =

[2019-10-29 18:47] ernee commented on #718
Thanks for the update @onursoyer ! @maicol07 were you able to complete the setup with the new version 1.0.0-rc.2?

[2019-10-29 18:51] Nzaime commented on #740
@jamesozzie Dashboard is showing in incognito mode, but the next step failed again.
i still have this error : https://ibb.co/sFGNg3p

- Console errors : https://ibb.co/rQRvXL5
- Wordpress Site Health Information :  3 screenshots
1. https://ibb.co/KXPyCWc
2. https://ibb.co/Czy8Rzc
3. https://ibb.co/6HrRTL0
- My security plugin is HideMyWP, and i have several lines in my code to protect this website

[2019-10-29 18:56] ernee commented on #697
Hi everyone, quick update that a new version 1.0.0-rc.2 is now available that should resolve this  issue. Update at your convenience. Open a new issue if you should have any questions or concerns.   Thanks again!

[2019-10-29 18:56] #697 closed

[2019-10-29 18:59] ernee commented on #660
Hi @Kiddcurry! The new version 1.0.0-rc.2 of the plugin is available. Could you update the plugin and let me know if you're able to get through the setup process? Thanks again!

[2019-10-29 19:03] aaemnnosttv opened #742 "Settings page component rerendering makes for poor UX and performance"
## Bug Description

The current React app rendered on the Settings page is currently highly-sensitive to rerendering the component's settings modules. This causes modules to dispatch API requests for data when mounted which happens just about anything changes on the page such as the active tab, or open state of any settings module on the Connected Services tab.

This contributes to poor UX (why sh

[2019-10-29 19:11] felixarntz commented on #742
@aaemnnosttv

Will that not cause issues with modules when they aren't open when they get mounted? When will they run that logic that is now no longer run?

[2019-10-29 19:12] BurlesonBrad opened #743 "Jetpack says 😲"Threat Found"🤨 in SiteKit"
## Bug Description
_possible false flag thrown in Jetpack_

## Please describe clearly and concisely what the bug is. -->
https://prnt.sc/ppscf8
![image](https://user-images.githubusercontent.com/6208757/67798877-57deeb00-fa52-11e9-877e-699e4978e18b.png)

`The threat known as PHP.Generic.BadPattern.5 has been found in /htdocs/wp-content/plugins/google-site-kit/third-party/react/promise/src/Promise

[2019-10-29 19:17] coolhandluke1234 commented on #732
I only wanted to add the AdWords tracking in the theme.

I thought this plugin would add the analytics tag?

Also,  what do you mean by:

  1.  Disconnecting and reconnecting the Google Analytics Module

Sent from my iPhone

On Oct 29, 2019, at 2:45 PM, Renee Johnson <notifications@github.com> wrote:

﻿

Thanks for the info @coolhandluke1234<https://github.com/coolhandluke1234> !

Could you try th

[2019-10-29 19:20] bikedorkjon commented on #743
Hey it's Jon from the Jetpack/VaultPress team just commenting here that this is actually a false positive for a coding pattern we look for and nothing to worry about here.

[2019-10-29 19:25] maicol07 commented on #718
No, now there is this error:
![immagine](https://user-images.githubusercontent.com/9463142/67801824-4addee00-fa8a-11e9-9672-6af2a0b07c83.png)

[2019-10-29 19:28] jamesozzie commented on #743
@bikedorkjon Good to know, thanks Jon. @BurlesonBrad I will close this issue now, but feel free to share any other potential bugs to investigate.

[2019-10-29 19:28] #743 closed

[2019-10-29 19:29] antoniomanco commented on #740
Hello, the latest Google Site-Kit WP update has a serious compatibility issue with the WP-Optimize 3.0.13 plugin that is widely used to optimize high traffic sites. Not only is it about installing or updating Google Site Kit, but both plugins can't work well together. Is there any way to fix this? Thank you

[2019-10-29 19:30] antoniomanco commented on #733
Hello, the latest Google Site-Kit WP update has a serious compatibility issue with the WP-Optimize 3.0.13 plugin that is widely used to optimize high traffic sites. Not only is it about installing or updating Google Site Kit, but both plugins can't work well together. Is there any way to fix this? Thank you

[2019-10-29 20:00] aaemnnosttv commented on #742
It should not because they are being remounted on every state change in the parent components (e.g. `openModules` in `SettingsModules`) which is the main reason these requests are happening so often in the first place.

[2019-10-29 20:04] jamesozzie commented on #740
@Nzaime It's possible that your hosting provider is blocking incoming REST API requests, which is resulting in the error message you are encountering. You can check with your hosting provider?

@antoniomanco Can you share any console errors, or raise a new issue with additional context and we can hopefully assist. I'll check the WP Optimize plugin from my side also.

[2019-10-29 20:06] ernee opened #744 "Analytics snippet inserted by Analytify plugin not detected"
The Analytics snippet inserted by [Google Analytics Dashboard Plugin for WordPress by Analytify ](https://wordpress.org/plugins/wp-analytify/)is not detected by Site Kit. Both snippets are inserted, and the notices in the UI about additional snippets on the site are missing.

## Steps to reproduce

1. Install, activate and configure the [Analytify plugin](https://wordpress.org/plugins/wp-analytify

[2019-10-29 20:12] Nzaime commented on #740
@jamesozzie Thanks James, it wasn't about my Hosting provider, but when you wrote "Rest API" i remembered that i had put this in my child theme's "functions.php"  to hide my Wordpress :
// ******************** Crunchify Tips - Clean up WordPress Header START ********************** //
function crunchify_remove_version() {
	return '';
}
add_filter('the_generator', 'crunchify_remove_version');

remov

[2019-10-29 21:04] felixarntz commented on #742
IB ✅

[2019-10-30 02:20] stllrnet commented on #566
@jamesozzie I can confirm issue is solved. At least on my side, funny that @AndreiIgna is also working with content on spanish. Would love to know what was causing this tho.

[2019-10-30 03:23] artkitecto opened #745 "Site kit error after updating"
hi there.
i got the developer beta plugin and when i updated the plugins and authorize it i see the Errors when getting OAuth credentials.
Error: Bad Request -> missing parameter: 'name'
![updated-site-kit-error](https://user-images.githubusercontent.com/42272625/67826500-487f9200-fa92-11e9-9013-126cedae8933.jpg)

[2019-10-30 05:58] antoniomanco opened #746 "Apparent token error with "Start Setup" and a domain that does not belong to me"
## Bug Description

Apparently there is a strange confusion of tokens every time I try to start "Start Setup" of Google Site Kit. Suddenly the application takes me to other domains and not to my website.

## Steps to reproduce

1. Go to 'Site Kit Dashboard'
2. Click on '.Start Setup'
3. I see "Welcome to Site Kit! Let's get you set up".
4. But I see another domain that is not mine (attached below

[2019-10-30 08:28] denisciumbargi commented on #746
Same here, random domain when trying to generate token to connect site

[2019-10-30 09:31] felixarntz commented on #480
@aaemnnosttv I was just notified by @westonruter that this also happens on e.g. the "Popularity" table (in case you weren't aware). So let's fix this for both cases. If you find more similar ones, of course those too (unless the fix would be different and more complex) :)

[2019-10-30 09:39] jamesozzie commented on #721
@kaelhoel I can see also you are using version 1.0.0-rc.1.1 of the Site Kit plugin. Can you download the latest version [here](https://sitekit.withgoogle.com/service/download/google-site-kit.zip) before following the steps below:

- Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
- Add Google Tag Manager to your site manually
- Add the Google Merchant Center container
- Veri

[2019-10-30 09:41] #644 closed

[2019-10-30 10:00] jamesozzie commented on #746
@antoniomanco @denisciumbargi There may be browser caching (or plugins) interfering with setup. Can you attempt the following steps to get it working:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://i.imgur.com/ALzgiHp.png)

If the above fails to res

[2019-10-30 10:07] jamesozzie commented on #745
@artkitecto Thanks for reporting, I'm not familiar with this issue so it would be good to troubleshoot. Are you seeing any [console errors](https://i.imgur.com/KyLAzgH.png) using Chrome dev tools? You can attempt the following to try and get Site Kit setup:
1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active

[2019-10-30 10:48] jamesozzie commented on #566
@stllrnet Good to know. And the fix referenced in #598 also resolved this issue with the latest Site Kit release, hopefully you're enjoying using the product.

[2019-10-30 10:48] #566 closed

[2019-10-30 11:15] jamesozzie commented on #740
@Nzaime Very useful to know, thanks for the update @Nzaime, glad you were able to resolve.

[2019-10-30 11:15] #740 closed

[2019-10-30 11:25] jamesozzie opened #748 "Blank dashboard until AdSense or Analytics module reset"
## Bug Description

Blank Site Kit admin dashboard. Remains blank with pulsating screen.
Plugin V1.0.4

Workaround: Usually [disconnecting](https://i.imgur.com/6ppIDwZ.png) the Analytics or AdSense module and reconnecting again resolves the issue. (Site Kit > Settings > Analytics > Edit > Disconnect Analytics from Site Kit)

[Video of issue - with workaround fix](https://recordit.co/Ay8v3ejipH)

A

[2019-10-30 13:55] marrrmarrr commented on #587
LGTM

[2019-10-30 13:55] #587 closed

[2019-10-30 13:57] #724 closed

[2019-10-30 15:19] antoniomanco commented on #746
Hello

I followed his instructions deactivating plugins and clearing cache, then everything was working fine and a few hours later I received "Unable to receive access token because of an invalid authorization code or refresh token", and Google Adsense is no longer connected. When I try to connect I receive "Data error in AdSense
AdSense account ID not set ". Should I deactivate the cache plugins

[2019-10-30 15:46] jamesozzie commented on #746
@antoniomanco Can you disconnect the AdSense module before attempting to connect again? If you want to share your site I can see if I can spot anything from my side.

[2019-10-30 19:43] ernee commented on #732
Thanks for info @coolhandluke1234.  Site Kit normally would add its own Google Analytics snippet, but it's detecting your manually inserted snippet from Google Ads and that's preventing it from doing so. I believe you mentioned it worked before the update? Before I escalate this issue, let's check a few things:

1) Disconnect Google Analytics: Navigate to _Site Kit > Settings > Google Analytics >

[2019-10-30 21:07] Kevin-Abrams commented on #746
I am having this same issue. It is happening on more than one site. Specifically sites that where already running sitekit then were updated. The update asks me to revalidate and the domain is not mine.

[2019-10-30 22:11] millionstrust opened #750 "Incorrect Website"
When I follow the instructions to reconnect with the latest up-date I'm asked to verify a site that I don't own and have no connection with.
This is happening on more than 1 occasion.
Murray
See screenshot attached.
![Screenshot_2019-10-31 Setup - Site Kit by Google](https://user-images.githubusercontent.com/57199036/67902849-fee89180-fbce-11e9-83ea-c8977c32d6e5.png)

[2019-10-31 00:13] ernee commented on #750
@millionstrust thanks for your report! This sounds similar to #746

Could you run through the troubleshooting steps below to rule out any conflicts:

1. Reset Site Kit (Site Kit > Settings > Admin Settings > Reset Site Kit)
2. Temporarily deactivate any caching plugins you might have active
3. Install Site Kit in a new [incognito window](https://imgur.com/ALzgiHp)

If the incorrect domain name sti

[2019-10-31 01:12] shaneedwardtaylor opened #751 "Site Kit thinks I'm a different domain?"
So I already installed the plugin and verified everything with the oauth keys... been working fine

this is a fairly fresh install of WP btw..

then a few days later, the plugin puts this error at the top of wp admin:

Setup Error (code: missing_verification). Re-authenticate with Google

So I click the link, go through the steps, and then google thinks that I'm from the following domain when ive

[2019-10-31 01:16] shaneedwardtaylor commented on #750
this just started happening on my site regarding a domain called silimports.com out of China...

I have never heard of that domain until today...

[2019-10-31 01:18] shaneedwardtaylor commented on #751
and to be clear, im not using a caching plugin and the other 4 plugins im using are by 2 authors that I know and pay for...

[2019-10-31 01:20] shaneedwardtaylor commented on #751
![Screenshot from 2019-10-30 19-19-55](https://user-images.githubusercontent.com/8797609/67910970-5b559d80-fb4a-11e9-88cc-08305d111609.png)

[2019-10-31 01:52] ernee commented on #718
Thanks for the update @maicol07!

Could you try the setup process in an [incognito browser](https://i.imgur.com/ALzgiHp.png)? Additionally, if you have any caching plugins please temporarily disable them in case they might be interfering. If the problem persists, please send us your[ Site Health information](https://i.imgur.com/Rtkmsba.png).

[2019-10-31 07:03] maicol07 commented on #718
@ernee the problem persists. Here is info of Site Health:

[code]

[2019-10-31 08:41] aaemnnosttv commented on #733
@antoniomanco please open a new issue regarding the incompatibility with WP-Optimize (including as much detail as possible) and we'll take a look. Thank you!

[2019-10-31 10:06] aaemnnosttv commented on #579
@felixarntz we recently discussed this around #564 and my understanding was that this was something that shouldn't be possible. However it seems like every time someone needs to grant new scopes, nothing is stopping them from changing the account associated for their user. If someone were to choose the wrong account in the oauth flow, what option would they have to go back and select the correct G

[2019-10-31 10:20] coolhandluke1234 commented on #732
I temporarily removed the adwords snippet and then the analytics portion setup worked.

Then I added the snippet back in the theme.

Not sure about what your suggestion.
[cid:clip_image001.png]
Lucas Marshall
CEO & Co-Founder | Podcast Producer
(757) 410-4678 | lucas@themoneyadvantage.com<mailto:lucas@themoneyadvantage.com> | LinkedIn<https://www.linkedin.com/in/lucasmarshall/> | themoneyadvantage

[2019-10-31 10:52] jamesozzie commented on #746
@antoniomanco @Kevin-Abrams Can you share the following in order to troubleshoot further?
- Your [Site Health information](https://i.imgur.com/Rtkmsba.png)
- Any [console errors](https://i.imgur.com/KyLAzgH.png) you see once directed back to your Site Kit dashboard
- [XHR Response](https://i.imgur.com/jLBwBdH.png) on the same page where you see any error message

[2019-10-31 11:16] jamesozzie commented on #751
@shaneedwardtaylor Thanks for reporting, very useful to know it's occurring on a clean install also. A similar issue was reporting in #746 and #750. Are you directed back to the Site Kit dashboard, and if so are you able to see any information or add other modules?

If possible can you also share as much of the below as possible, so we can investigate further?
- Your [Site Health information](http

[2019-10-31 11:51] aaemnnosttv commented on #683
@marrrmarrr the disconnect dialog is currently standardized for all modules in that it only lists the items that the AdSense module provides:

![image](https://user-images.githubusercontent.com/1621608/67944465-32361b00-fbe5-11e9-9dd0-5d27d7273adb.png)

Is it possible to rework the AC in a way which fits into this kind of a list or we need to develop a way for modules to have a way to override the

[2019-10-31 13:53] aaemnnosttv opened #752 "Audit/Update package scripts and build configuration"
There are a number of enhancements and optimizations that can be done with the current tooling configurations and package scripts.

#### Audit `package.json` scripts

* Review and optimize compound scripts
E.g. The `build:production` script currently runs `lint:js` in addition to the webpack build. This is unnecessary as the webpack build will fail if there is a lint error due to integration with

[2019-10-31 15:39] ernee commented on #750
Thanks for the additional report @shaneedwardtaylor ! We're investigating the issue.

Would it be possible for you to send a screencast of the setup process when you get the issue (you could use something like [Recordit](https://recordit.co/) to share it with us)? What we're looking for is the URLs at each step in the address bar. You can also provide the URLs at each step leading to the incorrect

[2019-10-31 15:46] ernee commented on #746
@antoniomanco @denisciumbargi @Kevin-Abrams thanks for your reports thus far. We're investigating the issue.

Additionally, would it be possible for you to send a screencast of the setup process when you get the issue (you could use something like [Recordit](https://recordit.co/) to share it with us)? What we're looking for is the URLs at each step in the address bar. You can also provide the URLs

[2019-10-31 17:22] ThierryA opened #753 "Add reset button to the setup flow"
## Feature Description

Currently, the only way to reset the plugin if the setup flow not completed is to delete and re-install the plugin. This is painful when something goes wrong with the setup flow which leads users to a dead end. I suggest to add a reset button in the setup flow which would wipe what ever value was set to the DB.

---------------

_Do not alter or remove anything below. The f

[2019-10-31 20:11] felixarntz commented on #753
IB ✅

[2019-10-31 20:27] CCOSTAN commented on #751
I am also having this issue.  It is pointing me to another domain.

[2019-10-31 20:44] aaemnnosttv opened #755 "1.0 Migration"
## Summary

As part of the update to version 1.0 - any installation with existing proxy-based authentication need to re-authenticate after upgrading to 1.0 or subsequent release.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A site upgrading to version 1.0 which has previously authenticated with the

[2019-10-31 20:48] ThierryA commented on #755
LGTM! Just to clarify, the `site_id` and `site_secret` needs to be removed as well in addition to disconnecting.

[2019-10-31 20:50] aaemnnosttv commented on #755
@ThierryA I've updated the IB to reflect that the credentials should also be deleted 👍

[2019-10-31 21:08] coolhandluke1234 commented on #732
Now analytics is not working again
[cid:clip_image001.png]
Lucas Marshall
CEO & Co-Founder | Podcast Producer
(757) 410-4678 | lucas@themoneyadvantage.com<mailto:lucas@themoneyadvantage.com> | LinkedIn<https://www.linkedin.com/in/lucasmarshall/> | themoneyadvantage.com<https://themoneyadvantage.com/>
[cid:clip_image002.png]
CONFIDENTIALITY NOTICE: This e-mail message, including any attachments, is

[2019-10-31 21:34] felixarntz opened #756 "Improve nonce generation for proxy"
## Feature Description

The nonce generated for the proxy is intentionally not using WordPress nonces
* because they're user-dependent
* because they're not really nonces and valid multiple times

The current mechanism is a proper once-off nonce, however we still use `wp_create_nonce()` to generate that value, which, if used within multiple times within a short timeframe will still generate the sa

[2019-10-31 21:43] adamsilverstein commented on #753
This passed QA in my testing, moving to Approval.

### Testing Procedure
* Install plugin and activate, don't complete setup.
* Visit Dashboard screen showing setup CTA, note reset button:
![image](https://user-images.githubusercontent.com/2676022/67987745-33267700-fbfc-11e9-8355-781901fe592d.png)

* Go thru setup flow
* Use manage sites link to revoke site access
* Return to site & revoked access

[2019-10-31 21:50] felixarntz opened #758 "Only display Reset link in setup flow when relevant"
## Bug Description

#753 added a Reset link displayed in the setup screen. However, this is permanently shown there now, even when you access the page for the first time. Furthermore, there's no confirmation message after resetting, which can especially be confusing as the link to reset remains available afterwards (both problems outlined in https://github.com/google/site-kit-wp/issues/753#issueco

[2019-10-31 21:51] #753 closed

[2019-10-31 22:41] shaneedwardtaylor commented on #751
im using a linux machine and my screencast is a .mp4 format, and it wont upload here. can i email it to someone?

this time its going to a different domain...

[2019-10-31 23:01] #755 closed

[2019-10-31 23:19] archon810 commented on #223
@felixarntz The composer method still doesn't work though, right because it still requires 5.3.3?

[2019-10-31 23:22] archon810 commented on #612
Any way to make this work with composer due to requiring guzzle 5.3.3 for those setups that have deps that require 6+?

https://github.com/google/site-kit-wp/blob/1.0.0/composer.json#L18

https://github.com/google/site-kit-wp/issues/223