[2020-09-24 19:40] aaemnnosttv opened #2103 "Tracking opt-in request fails on multisite for super admins that don't belong to the site"
## Bug Description

On a regular multisite network, Site Kit can be configured per-site just like on a normal single site install.

When Site Kit is active on a sub-site on the network, the REST request used when toggling anonymous usage tracking fails with a 404 when the user is not a member of the current site. This is only possible for super admins who can access all sites across the network wi

[2020-09-24 20:13] aaemnnosttv commented on #2087
IB ✅

[2020-09-24 21:02] adamsilverstein commented on #1999
Ah, I think i was doing `DEBUG=fetch-mock* && npm run test:js` or maybe the wp-scripts command directly. Thanks for the tip.

Yea, I can give the main fetch-mock approach another try. I know fetchMock sees the request, because I see it recorded (checking calls()) The problem is in this block: https://github.com/google/site-kit-wp/blob/1be22d1f809f40b6c6b4ceab6a54c88025141cfd/assets/js/components/d

[2020-09-24 21:56] cole10up commented on #87
**Tested:**

Installed, activated and setup latest SK release.

Navigated to a single page's Search Console page or the site's Site Kit Dashboard.
Scrolled to PageSpeed Insights
Waited until data is loaded
Refreshed the page
Clicked Run test again

![image](https://user-images.githubusercontent.com/57115907/94204459-22b36680-fe76-11ea-8eb5-236e8d457245.png)

Confirmed on mobile that this functions

[2020-09-24 22:36] tofumatt commented on #1857
QA ✅

Admin user visiting an admin page after changing the URL:
<img width="1203" alt="Screenshot 2020-09-24 at 23 31 52" src="https://user-images.githubusercontent.com/90871/94206811-38e51500-febe-11ea-90a3-4c22ca48d042.png">

Tested with a non-admin user and the notice went away.

Reauthorised the site and the notice didn't appear 👍🏻

[2020-09-24 23:34] cole10up commented on #2033
**Tested:**

Installed lated release candidate, activated and setup. Started Adsense setup, set it idle, came back:

![image](https://user-images.githubusercontent.com/57115907/94210505-c5bead00-fe83-11ea-948c-858fc703aaa6.png)

No errors, only warnings.

Passed QA ✅

[2020-09-25 00:18] cole10up commented on #2049
**Tested**

Installed, activated and setup latest SK.

Ran a series of regression tests around:

- Dashboard and modules, look and feel. **Pass**
![image](https://user-images.githubusercontent.com/57115907/94212744-dd992f80-fe89-11ea-9225-0c46205dbc24.png)

- Search Console publisher win notification **Unable to test this one as the site I tried to install SK on kept removing me after 10 seconds o

[2020-09-25 03:36] #1960 closed

[2020-09-25 03:36] #2049 closed

[2020-09-25 03:36] #2033 closed

[2020-09-25 05:25] adamsilverstein commented on #1999
@aaemnnosttv I was able to get some `combinedGet` tests working. I was missing an `await` 🤷

[2020-09-25 09:56] aaemnnosttv commented on #2098
That works for me. I realize now that the resolver where we conditionally set `adsenseLinked` in a failure would have run by the time the lower conditionals run due to the `loading` guard which means its value will be up-to-date and the utility is unnecessary in this component for now. I still think it's a good addition and clarifies the use in the resolver for `getReport` though. I'll update the

[2020-09-25 11:47] jamesozzie commented on #1522
I've checked this on 3 sites with low traffic, including the site I used when opening this issue. The incorrect date stamps no longer occur from my side. Checking with the 3 WordPress users below before closing:

- https://wordpress.org/support/topic/no-data-from-analytics-to-google-site-kit-plugin/page/2/
- https://wordpress.org/support/topic/audience-overview-date-is-1969/
- https://wordpress.or

[2020-09-25 12:14] caseymorrisus commented on #2021
@felixarntz The `WidgetAreaRenderer` component will re-render any time an action is dispatched to the selected Redux store, triggered by the `useSelect` hook. This ensures that the returned value of `useSelect` is always up to date with Redux store changes (only actions should update the store, direct mutation is an anti-pattern). Let me know if the following refactor is okay with you and I'll add

[2020-09-25 12:43] aaemnnosttv commented on #2022
@felixarntz IB looks good for the most part, just one thing to potentially iterate on.

I'm not sure if this is the right issue to address it, but I feel like `Widget` consumers shouldn't be responsible for passing layout-specific classes like `googlesitekit-widget--no-padding`. To me, that should be controlled by a prop which `Widget`  handles (e.g. `padding="none"`). The `className` prop on a `W

[2020-09-25 13:45] jamesozzie opened #2105 "AdSense dashboard error when Portuguese AO90 language is selected"
## Bug Description

As mentioned in a [WordPress support topic](https://wordpress.org/support/topic/site-kit-message-data-error-in-adsense-and-missing-add-txt-code/) when the Portuguese (AO90) language is active the below dashboard error appears. No AdSense metrics are available and there's no obvious way to bypass this without switching language at present.

``Invalid value 'pt_PT_ao90'. Values m

[2020-09-25 14:01] marrrmarrr commented on #87
Tested on a brand new and on an existing site. Everything working as intended in ACs. LGTM

[2020-09-25 14:05] #87 closed

[2020-09-25 14:40] marrrmarrr commented on #1857
tested with changing the URL of the site from https to http and then back. admin notice and reconnect screens appearing as described in ACs. lgtm

[2020-09-25 14:40] #1857 closed

[2020-09-25 14:57] marrrmarrr commented on #1825
@aaemnnosttv @felixarntz Going back to the initial reason we started this discussion, the intention was to clarify to the specific admin user that their action here will affect all other users.
To simplify this screen and shorten the text, let's focus on that.

"Resetting will disconnect all users and remove all Site Kit settings and data within WordPress. /n
You and any other users who wish to us

[2020-09-25 19:33] eugene-manuilov commented on #1391
@felixarntz It looks like those topics report the same problem that happens at the splash screen in certain circumstances. It's definitely not relevant to the work that we did to add hashes to javascript files because these issues happen only with chunk files that's functionality hasn't been changed.

I have tried to replicate it on my end, but haven't been able to do it. We need more information

[2020-09-25 21:35] felixarntz commented on #2022
@aaemnnosttv Good point, we can improve that as part of this issue. Since we only have a `boolean` use-case for this currently, I'd prefer to keep it simple and only support a `no-padding` boolean prop. I've updated the IB.

[2020-09-26 16:12] MertcanGokgoz opened #2106 "AdSense setup error"
## Bug Description

Wordpress REST API works well but google-site-kit links do not work and returns 400 error.

I am getting errors in the links below.(400 HTTP)

https://example.com/wp-json/google-site-kit/v1/modules/adsense/data/clients?accountID=pub-12345&_locale=user
https://example.com/wp-json/google-site-kit/v1/modules/adsense/data/alerts?accountID=pub-12345&_locale=user

but when I looked a

[2020-09-27 15:47] reaxion commented on #6
I'm well on my way to having this plugin installed in 150+ WP sites before discovering this problem.

A previous free plugin gone commercial showed analytics to all users without problems for years - maybe send them a DM?

[2020-09-27 17:16] nico-martin commented on #6
If I understand it correctly, this plugin allows a lot more than previous analytics plugins did. Thats why you need to authenticate as a user insteand of an access key with limited access rights.
With this in mind it's understandable that they really need to take the time and find a solution that would not just open up any dangerous side-effects.

Logging into other user's accounts and signing in

[2020-09-28 10:05] aaemnnosttv opened #2108 "Refactor `canSubmitChanges` selectors and tests to use validation utilities"
## Feature Description

In #1984, several enhancements were introduced with the changes made to the Tag Manager datastore, particularly around the `canSubmitChanges` selector.

This selector often selects many different things and has complex logic for determining if changes can be submitted, ultimately resulting in a boolean result. The problem with this is that it is difficult to accurately test

[2020-09-28 10:48] jamesozzie commented on #1391
@felixarntz @eugene-manuilov I'm able to reproduce this issue on one site using a hosting provider that blocks outgoing http connections (`Loading chunk 4 failed`).  More details in the related [support topic](https://wordpress.org/support/topic/error-after-install-plugin-3/#post-13463010).

![image](https://user-images.githubusercontent.com/41326532/94423285-4fba8e80-0180-11eb-9667-eae4eb128c82.p

[2020-09-28 11:16] jamesozzie commented on #2106
@MertcanGokgoz Thanks for reaching out. Initial support requests can be submitted using the plugins WordPress support forum.

If you open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing your Site Health information using [this form](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/) we'd be happy to assist.

No

[2020-09-28 11:16] #2106 closed

[2020-09-28 11:18] MertcanGokgoz commented on #2106
I stopped using the plugin and realized it was wasting me time.

Maybe I'll use another time.

thanks @jamesozzie

[2020-09-28 11:26] jamesozzie commented on #2106
No problem, sorry to hear it was taking up time. If you happen to revisit the plugin be sure to get in touch should you have any queries.

[2020-09-28 14:01] Bubbgump209 commented on #1391
I have a similar error from a host that does NOT block outbound HTTP:

Test of HTTP from the host:
[code]

Specific error:

[code]

[2020-09-28 15:37] felixarntz commented on #1902
AdSense not linked state: ❌  incorrect because it should show the AdSense not linked CTA instead of this error
![Screenshot 2020-09-28 at 08 32 44](https://user-images.githubusercontent.com/3531426/94453435-833bef80-0165-11eb-8c3e-0e3af4469620.png)

AdSense linked state: ✅
![Screenshot 2020-09-28 at 08 31 18](https://user-images.githubusercontent.com/3531426/94453503-98b11980-0165-11eb-96e1-b06fc4

[2020-09-28 16:29] felixarntz commented on #1902
The above remaining issue will be fixed via #2098.

[2020-09-28 16:29] #1902 closed

[2020-09-28 16:37] felixarntz commented on #2098
IB ✅

[2020-09-28 16:54] #2099 closed

[2020-09-28 19:47] felixarntz opened #2110 "Fix Search Console deep links for domain properties to filter only current site"
## Bug Description

#1917 fixed data for Search Console domain properties to only be displayed for the current site. However, now Search Console deep links to the service frontend are still not considering this, resulting in potentially inconsistent information. Following up on #1923, if the site is using a Search Console domain property, all Search Console URLs deep links (except those that are a

[2020-09-29 06:54] aaemnnosttv commented on #1825
Much better @marrrmarrr 👍

IB ✅

[2020-09-29 07:12] aaemnnosttv commented on #2022
IB ✅  with one exception – `no-padding` should be `noPadding` (like you have in the PR 😄 ).

I'll update this in the IB since you're already aware of it and move it forward 👍

[2020-09-29 09:53] aaemnnosttv commented on #1865
@eugene-manuilov one last ESLint error to fix here: https://travis-ci.com/github/google/site-kit-wp/jobs/392434806#L562

[2020-09-29 12:34] jamesozzie opened #2111 "AdSense body snippet code is being stripped from AMP singular content types when Yoast plugin is active"
## Bug Description

For AMP users when using Site Kit to place the AdSense snippet and with Yoast active the body snippet is being removed from the markup for singular content types (pages and posts), resulting in no ads being served.

This occurs with the latest version of Site Kit, the AMP plugin and Yoast. Initially reported in the [AMP support forums ](https://wordpress.org/support/topic/adsen

[2020-09-29 15:51] marimanga opened #2113 "Adsense doesn't show ads only sometimes"
I had this problem over a year and couldn't fix it neither find what's the problem. Adsense never emailed me or sent a notification on my account that this is the problem why we don't show ads. I have auto-ads and ads appears only 1 page other pages are blank spaces, No policy violations no nothing at all my site is ready on my account everything is fine but ads doesn't show. I tried ads troublesh

[2020-09-29 18:33] adamsilverstein commented on #2111
@jamesozzie I was able to track down the conflict in the way that we are adding the AdSense tag to AMP pages.

Since `wp_head` will not fire in AMP, we use the `wp_body_open` action hook, which is the ideal place to output the tag in AMP. However, the `wp_body_open` hook is new, so to support older versions of WordPress we fall back to adding the tag via the `the_content` filter run.

The bug occu

[2020-09-29 20:01] felixarntz commented on #2111
@adamsilverstein

For the most part this sounds good, however I'm not sure whether that will work in the classic AMP Reader Mode, since I believe that doesn't run "the loop". Let's test this fix with Reader Mode in both AMP plugin >=2.0.0 and <2.0.0.

[2020-09-29 20:39] adamsilverstein commented on #2111
Will do.

[2020-09-29 21:37] adamsilverstein commented on #1998
re: testing, Felix suggested we could extend our client to support returning a mocked response. Great idea! This should be as straightforward as having the client handle `execute` and check for a debug setting before calling the parent method:
https://github.com/googleapis/google-api-php-client/blob/61517efe678b3c20fe806e76d506204261ca2863/src/Google/Client.php#L834-L881

[2020-09-30 15:12] adamsilverstein commented on #2111
#### Testing results:

Checked for the amp-auto-ads tag output. Based on this testing, the proposed fix will work.

#### without the `in_the_loop` check:

##### AMP Plugin 2.0.4
* Standard mode ❌
* Transitional mode ❌
* Reader mode ✅

##### AMP Plugin 1.5.5
* Standard mode ❌
* Transitional mode ❌
* Reader mode ✅

#### with the `in_the_loop` check in our content callback.

##### AMP Plugin 2.0.4
*

[2020-09-30 15:38] jamesozzie commented on #2111
@adamsilverstein All looks good from my side using the Tester plugin.

[2020-09-30 16:43] felixarntz commented on #1865
Putting this back to Execution just for a follow-up PR to fix the names as discussed before.

[2020-09-30 18:05] jamesozzie commented on #2113
Thanks for reaching out and providing additional information. Unfortunately we're limited to Site Kit plugin support and unable to troubleshoot AdSense specific queries.

While there are a variety of reasons why ads may not be appearing as desired if you'd like to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) on our WordPress support forum and then prov

[2020-09-30 18:05] #2113 closed

[2020-09-30 18:11] caseymorrisus commented on #2050
Verified that `module.[group|feature|tags]` properties are not referenced anywhere in JS by searching every instance of group, feature, and tags (to catch destructuring, can't only search for `module.group` for example as you could write ` const { group } = module`.

Passed QA ✅

[2020-09-30 18:53] felixarntz commented on #1623
After another long conversation about this issue, I'll move this back to ACs. This issue has been too undefined overall - with all the alternative approaches suggested after the initial PR had already started, we've ended in some scope creep and still have no clear approach to go with. Let's regroup and decide on something next week and then pick this up with a new PR in Sprint 34.

cc @aaemnnostt

[2020-09-30 23:16] caseymorrisus commented on #722
Ran ESLint locally, no errors or warnings were thrown. Tested out many different variations to verify that the errors meet the above expectations.

Passed QA ✅

[2020-10-01 00:57] felixarntz commented on #2013
IB ✅

[2020-10-01 01:01] felixarntz commented on #2021
@caseymorrisus Sorry for the delayed response, and thanks for outlining this in so much detail. Your suggested approach sounds great to me, so this should be good once you've updated the IB. Once you've done so, feel free to reassign to me for review.

[2020-10-01 02:07] felixarntz commented on #2021
IB ✅

[2020-10-01 02:38] ernee opened #2118 "WPML Compatibility: switching language from top admin bar disconnects and prompts setup"
## Bug Description

When using the [WPML plugin](https://wpml.org/), switching languages from the [top admin bar](https://jmp.sh/oqHqyzd) disconnects Site Kit and prompts the setup process due to detecting a change in the URL:

<img width="1429" alt="notice to reconnect after change in URL" src="https://user-images.githubusercontent.com/8108643/94758923-6c5af000-0353-11eb-8695-fafc4667a66b.png">

[2020-10-01 10:58] aaemnnosttv opened #2119 "Simplify Widget component registration"
## Feature Description

Similar to #2024 for module registration, we can simplify the way widgets are registered as well.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `actions.registerWidget` should not use `getRegistryKey` or a separate object for `WidgetComponents` and can pass `component` through

[2020-10-01 12:08] aaemnnosttv commented on #1985
## QA

* Tested manage sites link redirects through WP
![image](https://user-images.githubusercontent.com/1621608/94803787-8566ae00-03f2-11eb-9718-3c6d55d6fd93.png)
_Complete token not shown_
* Checked that `_googlesitekitBaseData.proxyPermissionsURL` and `getProxyPermissionsURL` selector uses the new WP action URL
`.../wp-admin/index.php?action=googlesitekit_proxy_permissions&nonce=...`
* All cli

[2020-10-01 17:07] aaemnnosttv commented on #2092
IB ✅

[2020-10-01 18:11] tofumatt commented on #1964
(No QA needed; moving directly to approval 👍🏻)

QA ✅

[2020-10-01 19:48] tofumatt commented on #1845
Tested both new issue templates and a test PR. All templates updated and appeared as expected.

QA ✅

[2020-10-02 07:02] aaemnnosttv commented on #1985
QA ✅

[2020-10-02 07:28] aaemnnosttv commented on #2022
## QA ❔

Each component no longer uses `Layout` inside its main widget
* ☑️ `DashboardAllTrafficWidget` (Analytics)
* ☑️ `DashboardPopularKeywordsWidget` (Search Console)
* ☑️ `DashboardPopularPagesWidget` (Analytics)
* ☑️ `DashboardTopEarningPagesWidget` (AdSense)

@felixarntz one thing which is not addressed here which perhaps should be is the other rendered states which don't render using the `

[2020-10-02 08:13] aaemnnosttv commented on #1925
## QA ✅

Analytics module seems to be functioning normally and data displayed matches the current release.

[2020-10-02 08:27] aaemnnosttv opened #2122 "Remove weekday alignment functionality from Analytics and Site Kit as a whole"
## Bug Description

In the Analytics Audience Overview chart, one plot is for the most recent period for the currently selected date range, and another plot is added for the previous period. Additionally, the previous period is shifted so that the week days align between the periods when compared.

**Example with last 28 days**
![image](https://user-images.githubusercontent.com/1621608/94902635-2c

[2020-10-02 08:41] aaemnnosttv commented on #2122
@felixarntz This seems to only affect the server-side parsing as the newer client-based logic correctly identifies the starting compare date as Sat Apr 4th instead of Sun 5th for the same start date.

![image](https://user-images.githubusercontent.com/1621608/94904262-bb179f80-04a3-11eb-8b89-d8d28b0f1271.png)

The same behavior is observable in the current release so it isn't related to recent cha

[2020-10-02 11:23] aaemnnosttv opened #2123 "Enhance simulating AMP context in PHP tests"
## Feature Description

Currently, a number of features and behaviors are AMP-specific and rely on logic implemented in the `Context` class for determining the AMP context and mode.

In PHP tests, this has been less than ideal to handle and requires us mocking a dummy object with stubbed responses to `is_amp` method calls. Because classes under test still need to be instantiated with a real `Conte

[2020-10-02 12:54] brijeshp1993 opened #2124 "Google Site Kit: Analytics Gathering Data & Search Console Gathering Data"
Hi,

I have install site kit by google plugin with deactivate W3 total cache plugin and install in incognito window, google search console and analytic console both are verified successfully but still I am facing  "Analytics Gathering Data" issue. for you information i have attached below SS.
![image](https://user-images.githubusercontent.com/62394608/94924861-ec13c680-04db-11eb-9fe0-541b93018746.

[2020-10-02 14:41] jamesozzie commented on #2124
Thanks for reaching out. Initial support requests can be submitted using the plugins WordPress support forum.

If you open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there while providing your Site Health information using [this form](https://docs.google.com/forms/d/1lhjns2K7c0Ny7ME4gxTcsnYtNUtcMr8BvFpPQi23Y1E/) we'd be happy to assist.

Note also that th

[2020-10-02 14:41] #2124 closed

[2020-10-02 15:24] jamesozzie commented on #1522
Closing with no response from users reporting this issue.

[2020-10-02 15:24] #1522 closed

[2020-10-02 15:59] aaemnnosttv commented on #2001
@felixarntz on second thought, I think the `ErrorText` may be a bit too "severe" for this case. This should be an edge case which is likely expected if details were requested for an "unresolvable" URL. This is essentially an internal 404 which reminds me of Google's 404 page which is cute 😄

![image](https://user-images.githubusercontent.com/1621608/94943452-67777700-04e0-11eb-9e9a-a4b4f1ba1573.pn

[2020-10-02 16:25] felixarntz commented on #2022
@aaemnnosttv

I was thinking about that as well, I think we can work on #2013 as it is, and then have a separate issue to revisit all the other cases. Even for the blue CTA boxes, we currently have somewhat inconsistent UI where in some cases the box is wrapped in the white widget container while in other cases it isn't (this applies to both the new widgets and the legacy widgets). I think we shou

[2020-10-02 17:11] felixarntz commented on #2001
@aaemnnosttv That's fair, let's not use error appearance. I still think we should show the full URL because someone could manually add a `permaLink` parameter for a completely unrelated website, so then the full URL matters.

For the robot image, probably no because it would require some extra whatever license hassle, so 🤷‍♂️ 😆

[2020-10-02 17:14] felixarntz commented on #2123
IB ✅ 😄

[2020-10-02 21:14] aaemnnosttv commented on #2001
@felixarntz IB updated 👍

[2020-10-02 21:26] felixarntz commented on #2001
IB ✅

[2020-10-03 11:17] aaemnnosttv commented on #2123
@felixarntz I've updated the ACs here to be less implementation-specific and accommodate the changes we agreed on in #2125 while preserving the original purpose of the issue.

[2020-10-04 08:22] Nerdiyde commented on #2118
Hey Guys, i have the same issue. I'm not using WPML but WPGlobus. Just wanted to let you know. :)

[2020-10-04 13:37] joecarletto commented on #2118
Hi guys, I've the same bug and I'm using WPML

[2020-10-04 21:00] xanxano commented on #2118
Hi!
The same thing, wpml with one domain per language...
We are waiting for the updates! ;-)

[2020-10-05 12:44] aaemnnosttv commented on #2087
@felixarntz this is coming along well and is mostly done, but I'm running into a bit of an unexpected complication when it comes to adding the attribute(s) to the tag. There isn't really a problem with outputting the HTML since that's very straightforward, but it's a bit problematic from a security/output-escaping perspective since we'd be including a "black box" of html attributes in the tag. WP

[2020-10-05 13:14] aaemnnosttv commented on #2022
Sounds good, QA ✅

[2020-10-05 14:24] adamsilverstein commented on #1968
@aaemnnosttv IB updated - I verified this fix works as expected with the test URL.

I noticed a missing call to `esc_url_raw` in our handling of the `page` parameter and thought it would be worth adding here even though it isn't directly related to the original issue. Let me know if you would prefer we handle this in a follow up issue. (cc: @felixarntz)

[2020-10-05 15:39] aaemnnosttv opened #2128 "Upgrade and migrate Storybook to v6"
## Feature Description

Shortly after we recently upgraded the bulk of our dependencies in #1356, [Storybook v6 was released](https://medium.com/storybookjs/storybook-6-0-1e14a2071000).

The release is said to be "almost fully backwards compatible with 5.X", so it should require little to no necessary changes, but some changes may be good to include to better prepare for #1935 and other best pract

[2020-10-05 16:18] aaemnnosttv commented on #2036
@eugene-manuilov would you please add a QA brief here?

[2020-10-05 18:04] eugene-manuilov commented on #2036
@aaemnnosttv updated.

[2020-10-05 19:00] felixarntz opened #2130 "Implement API to check module activation requirements"
Site Kit modules may have certain requirements that need to be fulfilled before they can be activated. For example, AdSense requires that no AdBlocker is currently enabled. There should be a general way to centrally handle these requirement checks.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

### API

[2020-10-05 19:02] felixarntz commented on #2130
Related: Because of the removal of the two legacy filters, this will simplify considerations when defining #1623.

[2020-10-05 19:19] felixarntz opened #2131 "Add filter to modify home URL result (e.g. for comparison)"
#1857 added logic that disconnects a user when the site's `home_url()` has changed. This logic intentionally relies on the real home URL used (including any filters on it), to get the real URL used, which may differ from what is stored in the database. However, this can cause problems with e.g. multilingual plugins which filter the home URL based on which language is currently active (e.g. to appe

[2020-10-05 19:28] felixarntz opened #2132 "Improve accuracy of detecting whether a URL relevant for service registration has changed"
#1857 added a mechanism to disconnect users and prompt for reconnection once the site's `home_url()` has changed. This has caused some issues with certain plugins, see #2131. While this allows for 3P code to fix the issues, it may be possible to improve accuracy of our detection mechanism ourselves in a general way so that we don't need to ask all those 3P plugins to integrate with the filter intr

[2020-10-05 19:45] adamsilverstein commented on #2118
Thanks for the feedback @xanxano, @joecarletto & @Nerdiyde. We are working to address this issue in https://github.com/google/site-kit-wp/issues/2131.

[2020-10-05 20:40] felixarntz commented on #2087
@aaemnnosttv Hmm I'm not sure using the DOM API is worth it here. As you're saying, the way we deal with these attributes here is safe because we're in control and can use `esc_attr` where needed. I'm wary of using the DOM API this way mostly because it's a very different pattern from generating HTML like we do / WordPress does typically (just using strings or echo it), and as far as I remember fr

[2020-10-05 21:09] felixarntz opened #2133 "Launch user input to everyone instead of having it behind feature flag"
This issue is about making the full user input flow available in production.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `featureFlags.userInput` should be removed. Anywhere where they are used in JavaScript or PHP, they should be removed and only the logic inside of them should be run. The res

[2020-10-05 21:18] felixarntz commented on #2111
@adamsilverstein The proposed fix looks good overall.

How are you thinking to do this? I guess the only way to reliably test this automatically is add further e2e tests - is that what you had in mind? Would be great to cover the testing in the IB too.

Can you also add an estimate?

[2020-10-05 21:19] felixarntz commented on #1852
@aaemnnosttv I believe this is no longer relevant? I'll close it for now.

[2020-10-05 21:19] #1852 closed

[2020-10-05 21:24] felixarntz commented on #924
@aaemnnosttv I believe we should move forward with this and implement these rules as part of the repository. We're now enforcing them in JS (see #1493), and it makes sense to add the same strictness to our PHP codebase.

I believe contributing this to WPCS would be a great effort, and we should do so, but I suggest decoupling that. We can replace our own implementation with theirs if such rules ge

[2020-10-05 21:26] felixarntz commented on #842
@tofumatt I believe this is no longer relevant after #1770? I'll close this for now, but feel free to reopen if I missed something.

[2020-10-05 21:27] felixarntz commented on #842
Oh I just noticed this about e2e tests 😆

[2020-10-05 21:27] felixarntz commented on #842
IB ✅

[2020-10-05 22:05] felixarntz commented on #2087
@aaemnnosttv Revisiting #475, based on that let's slightly modify the name of `Module_With_Tags_Trait` here as it will conflict with what we should be doing in the other issue. Let's introduce `Module_With_Blockable_Tags_Trait` here, just so that the name doesn't conflict with the "real" `Module_With_Tags_Trait` described in #475.

Once that other issue is in place, we won't need `Module_With_Bloc

[2020-10-05 22:11] adamsilverstein commented on #2111
Yea, that is what I was thinking. I will update the IB accordingly.

[2020-10-05 22:22] aaemnnosttv commented on #2087
Hmm, okay. I'm not sure about any quirks but it was just an idea for a potential cleaner approach. As for the output, you can also do `echo $dom->saveHTML()` – the former was more of an experiment which also works 😄

I'll stick with the original approach going forward.

Sounds good 👍

[2020-10-06 07:21] aaemnnosttv commented on #1968
IB ✅

[2020-10-06 07:32] aaemnnosttv commented on #1998
@adamsilverstein

* Regarding the class referenced in `setClassConfig` we need to make sure we reference our prefixed-version rather than the instance in the root namespace which may not exist. i.e. `\Google\Site_Kit_Dependencies\Google_Task_Runner`. In practice, it's better to use `Google_Task_Runner::class` and import the correct reference in the file though.
* This issue is missing some of the

[2020-10-06 14:22] adamsilverstein commented on #1998
@aaemnnosttv -

* Changed estimate to 3 hrs. We reduced complexity by choosing defaults and applying to all APIs. To clarify: should the estimate include time for QA/testing?
* Added a priority label.
* Added IB sections for test coverage and Visual Regression changes. Thinking we only need to test that the default configuration is correct since the client itself includes test for the actual retry

[2020-10-06 14:37] felixarntz commented on #2131
IB ✅

[2020-10-06 14:50] ernee commented on #1537
This issue looks to be resolved with https://github.com/google/site-kit-wp/issues/1857. Closing.

[2020-10-06 14:50] #1537 closed

[2020-10-06 16:43] tofumatt commented on #2039
I've expanded on the components a bit and added some screenshots, but I want to be careful not to overly describe the components as the mocks are a much better reference here, and most of them rely on existing MDC React components we have. If there's more specificity still-needed here let me know, I can see us maybe needing it for the "tag" input for keywords.

If so though, that might require it'

[2020-10-06 16:52] gholm commented on #990
Any news on this one, please? We work on a number of sites with rather busy admin bars and removing some of the items would definitely help.

[2020-10-06 19:06] eugene-manuilov commented on #2132
@felixarntz, to correctly detect whether a URL has changed, we need to make sure that the old site's home URL isn't reachable anymore. Site availability helps us to decide whether it is a kind of home URL filtering or a real URL change because if the site is still available at the old URL, then the current setup is still valid. Am I right?

The easiest way to check if the old URL is reachable is t

[2020-10-06 19:27] cole10up commented on #2013
**Tested**

Installed, activated and setup latest development SK. Cleared session storage, refreshed page.

![Site Kit by Google Dashboard ‹ Oi ie - Brasileiros na Irlande — WordPress (2)](https://user-images.githubusercontent.com/57115907/95250625-e2ef6600-0809-11eb-8dfe-e44e0eb333ac.gif)

Refreshed from different pages, to confirm no other functionality was broken.

Passed QA ✅

[2020-10-06 19:39] adamsilverstein commented on #2111
@felixarntz I added tests to the IB for the current AMP plugin version. To test older plugin versions, we would need to bundle the plugin or figure out a way to install it directly. As far as I can tell, the current tooling doesn't have a way to download a specific plugin version. Do you think this is worth the added weights, or is it enough to verify compatibility against the current AMP version?

[2020-10-06 20:10] aaemnnosttv commented on #1998
Yes (basically everything from the Execution column and beyond).

Agreed, we shouldn't need to have automated tests for functionality provided by the official client which is already well tested I'm sure. Wouldn't hurt to add a test to ensure the configuration is present, but I don't think we need to specifically check the number of retries it's set to.

Regarding the `(get|set)ClassConfig` method

[2020-10-06 20:59] felixarntz commented on #2111
@adamsilverstein I think using the current version should be sufficient. IB LGTM, can you add an estimate?

[2020-10-06 21:12] adamsilverstein commented on #1998
I noticed that it seemed to be missing from the main client as well; I thought I was missing something since all the examples as well as PRs I found use this approach (eg https://hotexamples.com/examples/google/Client/getClassConfig/php-client-getclassconfig-method-examples.html).

Looking at the code, it seems like we need to provide a retry_map (which contradicts the examples). I will report bac

[2020-10-06 21:30] felixarntz opened #2136 "Ensure every module store has a canSubmitChanges selector and submitChanges action"
So far all Site Kit module stores that support editing settings via their settings panel have a `canSubmitChanges` selector, which checks whether the current client-side settings are valid to be saved, as well as a `submitChanges` action, which actually submits the changes persistently with the server. While these two have been added to stores by convenience so far, going forward it should be ensu

[2020-10-06 21:55] tofumatt commented on #2037
Indeed, I think I meant to reference them more as inspiration rather than use them directly. The ACs mention the APIs being similar, which originally I misread as them having the same signatures, but I see now how that wouldn't add up.

I think these can be straightforwardly-implemented using the IB provided but I've removed the mention of using `createSettingsStore` directly. Your point about the

[2020-10-06 22:05] felixarntz opened #2137 "Rely on submitChanges and canSubmitChanges in settings components"
Following #2136, every module store now has a `submitChanges` action and a `canSubmitChanges` selector. The legacy `SettingsModule` and `SettingsModules` components should start making use of that.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `SettingsModule` (singular) component should be modif

[2020-10-07 06:22] cole10up commented on #1825
**Tested**

Installed, activated and setup latest develop SK.

Reset SK:
![image](https://user-images.githubusercontent.com/57115907/95294545-4f7a5d00-082a-11eb-87e1-ef990cf59634.png)

Confirmed content. Checked reset functionality and cancel button as well as look and feel across browsers.

**Question:** @marrrmarrr - I see you have the following copy, looking like a new line after 'WordPress" I

[2020-10-07 07:56] aaemnnosttv commented on #1878
@felixarntz @marrrmarrr there's [a question for you here regarding a 5px change to the PSI icon](https://github.com/google/site-kit-wp/pull/2115#discussion_r500315520).

The TL;DR is that previously PSI was the only module to use an image instead of an svg so we're looking to resolve any inconsistencies with other icons now that it will have an svg like others. The icon was rendered 5px wider than

[2020-10-07 08:45] aaemnnosttv commented on #2132
I don't think this is necessarily true; if a site changed its URL, it may be as simple as `http` -> `https` which I believe is enough to require the user to reconnect (correct @felixarntz ?). In this case, it's common to have a redirect in place from one to another, but some sites work with both without forcing one or the other. Even in the case of a more substantial URL/domain change, there will

[2020-10-07 08:50] aaemnnosttv commented on #1998
@adamsilverstein The examples you linked to there reference [this fork of the client](https://github.com/rogerxaic/google-api-php-client) which hasn't been updated in about 5 years and is based on [v1.1.5](https://github.com/rogerxaic/google-api-php-client/blob/9ac964ff1ee23d8ad5d14a8b5f6eff1e02e6834f/src/Google/Client.php#L37-L39).

[2020-10-07 12:46] adamsilverstein commented on #1998
@aaemnnosttv I wasn't able to find current documentation, so I dug into the client source code a bit to figure out how to do this. In short, the client's 'retry' config gets passed to `Google_Http_REST`, then on to `Google_Task_Runner`. I verified this was working by testing with passing an invalid value (-1) and got the expected [error](https://github.com/googleapis/google-api-php-client/blob/f88

[2020-10-07 14:08] tofumatt commented on #2119
IB and approach ✅ from me. We discussed this earlier and I think it's a good simplification.

I'll leave it assigned to @felixarntz as I think it's worth both our review 🙂

[2020-10-07 16:28] tofumatt commented on #1848
QA failed ❌

After following the QA steps I got these screen:

<img width="1201" alt="Screenshot 2020-10-07 at 17 20 48" src="https://user-images.githubusercontent.com/90871/95358954-82bbfb00-08c1-11eb-9a7b-5821dc4277f1.png">

It seems to be behaving as expected, but the UI is different to what the QA brief says. If this is intentional please let me know and move this into approval. But otherwise

[2020-10-07 17:56] felixarntz commented on #1825
@cole10up Good catch, yes this should be in two separate lines. @ryanwelcher Can you push an update?

[2020-10-07 20:14] eugene-manuilov opened #2142 "Optimize the size of the generated analytics-advanced-tracking.js file."
## Feature Description

#1728 and #2092 introduce the advanced Analytics events tracking API that embeds a javascript file into a page markup. Currently, that javascript file is passed through webpack to correctly transpile its code into a code supported by maintained browsers. The problem with this approach is that webpack blows up the generated file by adding its own code to properly resolve dep

[2020-10-07 20:27] felixarntz opened #2143 "Allow registering module icons in JS"
See https://github.com/google/site-kit-wp/pull/2115#discussion_r501283031, the `registerModule` action in the `core/modules` store should allow registering a module icon.

As part of this issue, we should also define criteria that all module icons should adhere to.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2020-10-07 21:43] tofumatt commented on #1848
QA ✅

The issue here is fixed but there is a separate issue that prevents the fix from appearing.

[2020-10-07 22:18] tofumatt opened #2145 "Data stores are registered twice"
## Bug Description

Data store are all registered twice and duplicated, leading to bugs when they are accessed by their store name—multiple stores with the same name (eg. `'core/user'` exist and cause issues like in #1848).

To reproduce this issue you need the [Redux Devtools extension](https://github.com/reduxjs/redux-devtools) installed.

## Steps to reproduce

1. Go to the Site Kit dashboard
2

[2020-10-07 22:24] felixarntz opened #2146 "Fix translation strings that incorrectly combine "last %s" and "%s days""
After #1923 and #317, we now have a function called `getCurrentDateRangeDayCount`, which returns the number of days from the current date range. There are several translation strings like "... over the last %s" which are then filled with "%s days", which is problematic because this breaks a single expression into two separate strings - it works in English, but not in most other languages where the

[2020-10-07 22:39] felixarntz commented on #2119
IB ✅ , except one detail that I already pointed out in the CR review - no need to separate `settings` and `component` anymore, we can just rely on `settings.component` like it is passed.

[2020-10-07 22:44] felixarntz commented on #2039
@tofumatt Note that this issue is mostly about the implementation of logic and basic content and markup for all of these components. For precise styling #2040 is responsible. Of course that doesn't mean that we shouldn't do already here what's super basic (such as left-aligning text etc.), but we shouldn't worry about exact styling and adding a bunch of CSS here.

In other words, your QA Brief ite

[2020-10-07 22:47] felixarntz commented on #2037
IB ✅ , except (probably copy-paste error):

This should be `assets/js/googlesitekit/datastore/user/user-input-settings.js`.

[2020-10-08 00:28] adamsilverstein commented on #1567
After spending more time on this, adding tests and trying to reproduce the original bug, I found some issues with the implementation outlined here.

Moving this back to IB to clean up the approach.

[2020-10-08 12:22] eugene-manuilov commented on #2145
Hm... it's weird but I can't reproduce it anymore... @tofumatt do you know how to reproduce it? I'll keep an eye on it and if I see doubled stores again, I'll spend some time to debug it.

[2020-10-08 12:32] adamsilverstein commented on #1567
@felixarntz - This is ready for review. The trickiest part here was removing the control characters from the string. My original `str_replace` approach only if I pasted the actual control character into the code which was confusing (you can't see them, and they do strange things to your cursor when you use arrow keys to navigate thru them). In the end I settles on an approach that uses `preg_repla

[2020-10-08 14:49] eugene-manuilov commented on #2042
@felixarntz, IB is added. I know that you don't want to set the user input state to `required` yet, but I think it still makes sense to do it in the `admin_init` hook to prevent invoking user input settings endpoint on every page load. I have added it to IB.

[2020-10-08 16:00] felixarntz commented on #2042
@eugene-manuilov I think it's okay for the user input endpoint to be invoked because the results are cached. It would only fire a request once a week (or otherwise when the data expired). Whether the value is `required` or not shouldn't affect that at all, this check is only done for knowing whether the value should be set to `completed` or not (`completed` is _not_ the opposite of `required` here

[2020-10-08 16:22] eugene-manuilov commented on #2042
@felixarntz I have updated IB to address your feedback. As to the `missing` flag, I think we don't need it because it is the same thing as an empty value in the user input state setting.

Ok, updated IB to make the redirect in the Authentication class since it has everything required to do it.

[2020-10-08 16:30] felixarntz commented on #2042
@eugene-manuilov

Right, it's kind of the same, the reason I brought it up for consideration is that it would allow us to not check user input settings if `missing` was set. Basically:
* `admin_init` would only check user input settings if the flag is empty / not set. It then sets it to either `missing` or `completed`.
* While `missing` otherwise means the same as empty / not set, it would allow t

[2020-10-08 16:38] eugene-manuilov commented on #2042
@felixarntz I think it is worth adding `missing` value because it will remove a need to send unnecessary requests to the proxy server. IB is updated.

[2020-10-08 16:57] felixarntz commented on #2042
@eugene-manuilov

It should return if it's any non-empty value (just for the uninitialized state it should get user input settings to check it)

Let's not send a REST request when we're already in PHP (even though we could do that internally). We should be able to use the `User_Input_Settings` class directly.

Maybe we should do this in the initialization callback for the `googlesitekit-dashboard`

[2020-10-08 17:26] eugene-manuilov commented on #2042
Yep, makes sense, updated.

I would avoid doing it because it requires re-instantiating `User_Input_Settings` and `User_Input_State` classes with their dependencies in `Screens` and `Authentication` classes. It'll make the codebase slightly more complicated and a bit more coupled which is worse than calling the `rest_do_request` function and adding another `admin_init` hook. If we had a dependency

[2020-10-08 17:28] cole10up commented on #2038
**Tested**

Installed and activated latest SK, confirmed development build displays the correct screen:
![image](https://user-images.githubusercontent.com/57115907/95493080-d295d300-0950-11eb-8aa3-abd02df8cd39.png)

Non development:
![image](https://user-images.githubusercontent.com/57115907/95493139-e9d4c080-0950-11eb-9f4b-298b6f3d4876.png)

Confirmed menu items all function properly and nothing

[2020-10-08 17:34] felixarntz commented on #2042
@eugene-manuilov I think it would make sense to instantiate `User_Input_Settings` in the constructor of `Authentication` and assign it to a class property, similar to how most other general authentication-related classes are instantiated there. I'd prefer to avoid making an internal REST request, and with this approach, which is already established, we don't have to re-instantiate the classes.

Le

[2020-10-08 17:39] eugene-manuilov commented on #2042
@felixarntz ok, updated.

[2020-10-08 17:50] aaemnnosttv commented on #2093
IB looks good for the most part, although I think it would be a good idea to use a dedicated component for screen reader text. Gutenberg has a `VisuallyHidden` component in `@wordpress/components` which is really flexible. It would be great if we could use that.

[2020-10-08 18:15] eugene-manuilov commented on #2043
@felixarntz IB is ready for review. Unfortunately, I can't set an estimate for this ticket because I don't have access to the file with designs.

@tofumatt do you have an access to that file? Can you help me to estimate it?

[2020-10-08 18:40] eugene-manuilov commented on #2043
@felixarntz I have updated the link to the designs file and added an estimate.

[2020-10-08 19:24] cole10up commented on #1381
**Tested**

Installed latest SK, updated branch to PR #2140

Confirmed all green items function as properly.

Validated AMP and Google message with missmatch properties:
![image](https://user-images.githubusercontent.com/57115907/95501432-25758780-095d-11eb-9e33-16de2df0269a.png)

Validated Tag Manager core functionality works as expected and nothing is broken.

Passed QA ✅

[2020-10-08 20:40] cole10up commented on #1825
Confirmed this is now on 2 lines.

![image](https://user-images.githubusercontent.com/57115907/95511077-ce2ae380-096b-11eb-9cc1-03d2b04ab410.png)

Passed QA ✅

[2020-10-08 20:53] tofumatt commented on #2145
For me it seems intermittent as well, so it's possible there's a race condition that exists when stores are being registered or something like that. We do have a lot of code that checks for the existence of globals like `googlesitekit.data` and creates them if they're `undefined`. Not sure if some of that is overlapping or something?

[2020-10-08 21:56] felixarntz opened #2150 "Enforce CTA acronym to be capitalized and fix violations"
Via #1493, ESLint now flags violations of our rule that acronyms should be capitalized. The list of the acronyms to check is manually maintained based on what we're generally using. One acronym missing from there is `CTA`, which we in some places use incorrectly as `Cta` within variable and prop names.

---------------

_Do not alter or remove anything below. The following sections will be managed

[2020-10-08 22:14] felixarntz commented on #1923
Removing this from the upcoming release because it touches a bit too much legacy code to be merged this late.

[2020-10-08 22:25] felixarntz commented on #2021
Moving this out of the upcoming release because it's not super critical (only affects development code).

[2020-10-08 22:31] felixarntz commented on #2042
IB ✅

[2020-10-08 22:33] felixarntz commented on #2043
IB ✅

[2020-10-08 23:00] felixarntz commented on #2110
@tofumatt Note that this is dependent on #1923, there will be a couple more URLs to update once that is merged. What's missing from the IB is a note on how to differentiate between whether the Search Console property is a domain property (starting with `sc-domain:`) or not. Only if it's a domain property, this extra handling is needed.

I'd suggest removing the exact mentions of specific files and

[2020-10-09 05:35] asvinb commented on #2093
Thanks @aaemnnosttv . IB updated.

[2020-10-09 07:27] cole10up commented on #2098
**Tested**

Installed, activated and setup latest development build.

Setup Adsense:
![image](https://user-images.githubusercontent.com/57115907/95555127-2c84b000-09c6-11eb-97e5-ae75ff932520.png)

Setup Analytics account not linked to the Adsense account:
![image](https://user-images.githubusercontent.com/57115907/95555031-052de300-09c6-11eb-89cc-2f6172890180.png)

Confirmed issue no longer displa

[2020-10-09 07:46] aaemnnosttv commented on #2150
IB ✅

[2020-10-09 09:43] aaemnnosttv commented on #2131
QA ✅

* Set up WPML with multiple languages using a permalink structure which included the language code in the URL
* Was able to reproduce the disconnect that can happen when toggling between languages in WP Admin
* Enabled experimental plugin leveraging new filter and was unable to reproduce disconnect

[2020-10-09 10:30] aaemnnosttv commented on #1493
## QA ⚠️

* Tested many different doc block variations
* Found rules are generally well-enforced
* Found a few minor gaps in logic

The following is considered to be a valid block

[code]

* Allows for blank lines between tags of the same type/group (these should probably always be adjacent without blanks between)
* Does not require a value is passed to `@since` tag, and allows for a non-version-l

[2020-10-09 10:48] tofumatt commented on #2123
QA ✅

[2020-10-09 11:07] aaemnnosttv opened #2151 "Refactor module icons to be provided during registration"
## Feature Description

In #1878 we changed all svgs to be loaded via Webpack rather than using the gulp build and svg sprite processing.

As part of this we changed the legacy `moduleIcon` function into a `ModuleIcon` component which is used for rendering the module icon by its slug. This is currently implemented as a map of `slug: ModuleIcon` in the module which isn't ideal.

Now that modules ar

[2020-10-09 11:19] ShubhamPalriwala commented on #2150
I'd like to resolve this issue if it is open !

[2020-10-09 11:22] tofumatt commented on #2087
Chatted to @aaemnnosttv and the QA Brief here changed: turns out now the AMP and non-AMP versions are excluded separately (unlike the QA brief's code that suggests both are disabled by the "Web" filter).

After testing it that way: QA ✅

[2020-10-09 11:22] ShubhamPalriwala commented on #1884
Can I try this one if it is available ?

[2020-10-09 13:42] eugene-manuilov commented on #2092
QA :x:. The generated javascript file doesn't work on the frontend because it is built as a jsonp-based bundle.

[2020-10-09 15:13] aaemnnosttv opened #2153 "Release 1.18.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-10-09 15:24] eugene-manuilov commented on #2092
Created a PR against `master` branch that fixed javascript issues: https://github.com/google/site-kit-wp/pull/2152

[2020-10-09 15:27] felixarntz commented on #1493
@tofumatt @aaemnnosttv Since this is not critical for plugin usage and therefore shouldn't block the release, I suggest we create a follow-up issue to fix the above valid points and then consider this one completed.

[2020-10-09 16:03] cole10up commented on #1382
**Test 1:**

[2020-10-09 16:29] cole10up commented on #2096
This was tested as part if https://github.com/google/site-kit-wp/issues/1382 and https://github.com/google/site-kit-wp/issues/1381

Shifting to approval

[2020-10-09 16:31] adamsilverstein commented on #2111
Added an estimate. While the code changes are relatively minimal, I've included extra time for QA because there are several dependencies and variations to check.

[2020-10-09 17:12] aaemnnosttv commented on #2151
@felixarntz oops, sorry about that! I'll close this one and we can merge the definition into the first 🙂

[2020-10-09 17:12] #2151 closed

[2020-10-09 17:13] aaemnnosttv commented on #1493
Moving this forward to approval in favor of a new issue to cover the above enhancements.

[2020-10-09 17:25] aaemnnosttv opened #2154 "Enhance accuracy of ESLint rules for doc standards"
## Feature Description

In #1493 we updated our ESLint configuration to cover our standards for doc blocks using a combination of `jsdoc` eslint plugins and our own custom rules. During QA, a few edge cases for this logic were found that we can address for better coverage. See https://github.com/google/site-kit-wp/issues/1493#issuecomment-706103553

---------------

_Do not alter or remove anythin

[2020-10-09 17:26] aaemnnosttv commented on #1493
@felixarntz @tofumatt the new issue is here (https://github.com/google/site-kit-wp/issues/2154) and ready for an IB 👍

[2020-10-09 18:00] cole10up commented on #2001
**Tested**

Installed, activated and setup SK. Navigated to /wp-admin/admin.php?page=googlesitekit-dashboard&permaLink=%2F404-page

Checked the AC and confirmed content and functionality.
![image](https://user-images.githubusercontent.com/57115907/95616331-7b5e3400-0a1e-11eb-9700-ac86970de122.png)

Back button functions properly, checked on mobile and other window sizes and browsers.

Passed QA ✅

[2020-10-09 18:20] eugene-manuilov commented on #2108
@aaemnnosttv IB has been added. I have slightly extended your idea and added the `createCatchableSelector` helper function to avoid repeating the same code in all modules. Let me know if it works for you, then we would probably need to slightly amend AC as well.

[2020-10-09 18:41] cole10up commented on #1567
**Tested**

Installed, activated and setup SK on a site with unicode characters
![image](https://user-images.githubusercontent.com/57115907/95619975-4ead1b00-0a24-11eb-8cb0-2545c622c62e.png)

Confirmed no errors displayed. Ran a series of simple regression on the site, no errors found.

Passed QA ✅

[2020-10-09 19:30] aaemnnosttv commented on #2108
@eugene-manuilov I like the idea in general, but I think we can improve it a bit.

The first parameter to the actual selector must be `state` – this is missing, and `rethrow` is in its place. Even though we don't really use it, it's needed for `rethrow` to come from the argument the selector is called with.

Rather than using a parameter for `rethrow` I think it would be better to have two separat

[2020-10-09 20:00] adamsilverstein commented on #1567
I did some follow up testing here after sending some traffic to our test site and still see some potentially related issues:

* When I reset the plugin and re-activated Analytics, the setup process did not preselect my domain as it should.
* I don't see the Analytics snippet on the page, even after enabling it (and visiting the site not logged in)
* I don't see Search Console data even though the

[2020-10-09 20:41] adamsilverstein commented on #1567
The setup issues I was seeing were resolved by re-installing the develop version. Still checking on the "Zero Data" state, may be just because there is so little data.

[2020-10-09 20:58] adamsilverstein commented on #1567
The missing search console data seems unrelated the to issue here and more to do with the data on the test site. I will continue to send some traffic there and then test in the upcoming days when that data becomes visible in the API.

[2020-10-10 08:51] aaemnnosttv commented on #2145
Redux DevTools won't show duplicate stores from the same app in my experience. What you're likely seeing are stores from other tabs.

After digging into this a bit more, I found that _some_ stores are indeed being registered more than once. This is due to the datastore being registered when the index is imported. Normally this wouldn't be a problem since the file should only be imported once; but

[2020-10-10 14:38] adamsilverstein commented on #1567
✅ Confirming I new see data in the Dashboard on the test site.

[2020-10-10 19:17] bruno-hashimoto opened #2155 "Outlook do is no't received e-mail the verification to enter the website. [YOU NEED THE ONE CELL]"
## Bug Description

Outlook do is no't received e-mail the verification to enter the website but you can solve with your mobile.

## Steps to reproduce

1. Go to ' go to your mobile and access www.github.com.br with the mobile version. (If do not appear, decrease zoom the navigation.'

2. Click on 'setting and change your e-mail to gmail or any '

3. Enter your PC or Notbook and access again.

4.

[2020-10-12 09:02] aaemnnosttv opened #2156 "Received errors not cleared when calling a second time for some actions"
## Bug Description

Several actions manually receive errors for their actions but do not clear them when called again. This results in the potential for an error message to persist in the interface when it shouldn't.

As an example, if an error is returned from the control for the `SUBMIT_CHANGES` action, each datastore receives the error into the store under the `submitChanges` base name. This er

[2020-10-12 10:17] aaemnnosttv opened #2157 "Changes to GTM settings potentially blocked without feedback"
## Bug Description

In #1381 we changed the logic which controls conditions that allow the user to complete the setup to prevent the user from setting up Tag Manager with a container that has an Analytics tag for a different property than is configured in the Analytics module.

Under these conditions, the user will see the appropriate error message explaining why they cannot continue with setup, w

[2020-10-12 10:18] eugene-manuilov commented on #2108
@aaemnnosttv yes, i like your idea too. IB is updated.

[2020-10-12 13:19] asvinb commented on #1968
@aaemnnosttv Let me know if you were able to find a way on how to QA the ticket. thanks!

[2020-10-12 14:02] aaemnnosttv commented on #2142
@eugene-manuilov I think this may be a non-issue after the recent changes added in #2152 ?

[2020-10-12 14:16] eugene-manuilov commented on #2142
@aaemnnosttv kind of, but there is still webpack boilerplate that we need to try to get rid of.

[2020-10-12 14:18] aaemnnosttv commented on #1771
@asvinb The IB looks good for the most part and this issue will hopefully be fairly straightforward, but we need to be fairly thorough to check for potential regressions in _behavior_ as well; not just visual/stylistic changes.

It might be a good idea to add one big story for rendering all the material components (and adding it as a backstop scenario) as the first step here to help test this and

[2020-10-12 14:27] aaemnnosttv commented on #1998
IB ✅

[2020-10-12 14:52] adamsilverstein commented on #1968
@asvinb (Hi!) - To QA this ticket you will need a page on your test site with a unicode path and some data. In my case, I use my personal site to create this data, then I can test locally by running my local "AS" the test domain. So:

1. Create a page on your test site: mytestsite.com/পোস্টের-নাম/
2. Make sure Site Kit is set up with Analytics tracking on.
3. Visit the site (not logged in) to coll

[2020-10-12 14:54] adamsilverstein commented on #1998
@felixarntz @aaemnnosttv - I suggest we delay implementation of this ticket by at least one release so we can collect API error data and observe how this change impacts those errors/rates.

[2020-10-12 15:00] tofumatt commented on #2145
Ah, interesting. That'd explain why @eugene-manuilov and I were having trouble consistently reproducing that bit.

-----

IB ✅ though, sounds good. Thanks for digging into this one. 👍🏻

[2020-10-12 15:10] jamesozzie commented on #2155
@bruno-hashimoto If you have a query in relation to the Site Kit WordPress plugin feel free to open a [new support topic](https://wordpress.org/support/plugin/google-site-kit/#new-post) there and we can assist. Please add as much relevant information to your support topic as is needed to assist with your issue.

[2020-10-12 15:10] #2155 closed

[2020-10-12 15:28] aaemnnosttv commented on #1541
@eugene-manuilov let's define the IB in terms of how it will work logically rather than (or at least in addition to) a code snippet as it makes it a bit easier to review and implement 😄

A few points I think we should consider
- It should only change the position of the `googlesitekit-dashboard` item, not necessarily any item that starts with the Site Kit prefix
- It shouldn't add the `googlesitek

[2020-10-12 15:41] tofumatt commented on #2093
IB ✅

I think this is a fine stop-gap, but as #1684 mentions: the main issue here isn't that the "new tab" links aren't outlined, it's that they can't be controlled by the end-user.

Still, this is an improvement and is straightforward to implement, so 👍🏻

[2020-10-12 15:43] tofumatt commented on #2093
(Note that this probably isn't perfect from an i18n perspective, because the order of the children and the parenthetical isn't combined, but again: as this is a stop-gap I think it's okay.)

[2020-10-12 16:13] eugene-manuilov commented on #1541
@aaemnnosttv ok, updated IB slightly differently.

[2020-10-12 16:38] bruno-hashimoto commented on #2155
Hi man, thanks for answer. I did not know where post this information.

Really this information is not a question, is a solution.

(sorry, my inglish is bad).

[2020-10-12 17:00] aaemnnosttv commented on #2142
Sounds good @eugene-manuilov , just checking if this was still relevant or not 👍

[2020-10-12 17:03] aaemnnosttv commented on #1968
@adamsilverstein do you have an account/view with this data already available that you could share to expedite the process? That way, we'd only need to update the custom URL, permalink structure, and a post's slug to test it.

[2020-10-12 17:07] felixarntz commented on #2157
IB ✅

[2020-10-12 17:10] aaemnnosttv commented on #1541
IB ✅

[2020-10-12 17:15] aaemnnosttv commented on #924
Sounds good, thanks for confirming @felixarntz.

I'm going to remove the GFI label though since I don't think it meets that criteria based on my previous investigation here.

[2020-10-12 17:25] #2131 closed

[2020-10-12 17:25] #1728 closed

[2020-10-12 17:25] #2050 closed

[2020-10-12 17:25] #722 closed

[2020-10-12 17:26] #2025 closed

[2020-10-12 17:26] #1964 closed

[2020-10-12 17:26] #1865 closed

[2020-10-12 17:26] #1845 closed

[2020-10-12 17:26] #1985 closed

[2020-10-12 17:26] #1925 closed

[2020-10-12 17:26] #2022 closed

[2020-10-12 17:26] #1848 closed

[2020-10-12 17:26] #2038 closed

[2020-10-12 17:26] #1825 closed

[2020-10-12 17:26] #2098 closed

[2020-10-12 17:26] #2123 closed

[2020-10-12 17:26] #2087 closed

[2020-10-12 17:26] #1493 closed

[2020-10-12 17:27] #2001 closed

[2020-10-12 17:27] #1567 closed

[2020-10-12 17:52] aaemnnosttv commented on #2136
@felixarntz I think the definition here could be updated a bit to leverage the new suggested utility in #2108 which is validation-based. We don't want to re-introduce the ambiguity of simple boolean logic here I don't think.

In particular, I think this function should take a `validateSubmitChanges` function, rather than `canSubmitChanges` since the latter can be derived from the former, and we ca

[2020-10-12 17:56] aaemnnosttv commented on #2108
@eugene-manuilov – looks good to me but I'd like to have @felixarntz weigh in here since it's closely related to #2136 .

[2020-10-12 19:15] felixarntz commented on #2108
The current approach and IB look good to me ✅

[2020-10-12 19:25] felixarntz commented on #2108
@aaemnnosttv @eugene-manuilov Actually, I think we should make one minor change here:

I think we should probably pass `state` to the `validate` function too because it might be useful depending on the implementation. While we currently only use `select` in all our implementations, there might be simpler cases that can just use `state` properties to determine the outcome. So I think we should make

[2020-10-12 19:26] felixarntz commented on #2136
@aaemnnosttv SGTM - I've updated the ACs, also I'll mark this as blocked by #2108.

[2020-10-12 19:31] felixarntz commented on #2111
@adamsilverstein IB ✅

Just to clarify, I think it's sufficient here to switch the mode _after_ doing the AdSense setup. We don't need to worry about doing the actual flow in the different modes, we just need to check that the snippet is present in the frontend in each mode.

[2020-10-12 19:35] felixarntz commented on #2046
@asvinb IB ✅

Regarding the QA Brief (which strictly isn't necessary to provide at this stage, but not a big deal), I think it'd be good to clarify that looking at the newly implemented UI requires a development build of the plugin. And then on a production build of the plugin the changes shouldn't be visible (i.e. the current version of the UI should be displayed).

[2020-10-12 19:40] #2013 closed

[2020-10-12 19:42] #1380 closed

[2020-10-12 19:42] #1381 closed

[2020-10-12 19:42] #1382 closed

[2020-10-12 19:42] #2096 closed

[2020-10-12 19:54] felixarntz opened #2160 "Ensure advanced tracking logic doesn't fail when Analytics is blocked"
#2092 introduced an advanced GA tracking API that for non-AMP will inject custom JavaScript to send GA events based on certain DOM events. #2087 introduced a mini API to block the Analytics snippet from being rendered or alternatively inject it in a way that the JavaScript isn't executed right away. These two issues are currently not fully interoperable, which should be fixed.

The GA advanced tra

[2020-10-12 19:58] felixarntz commented on #2092
After #2152, the code snippet added to the frontend works as expected. QA ✅

[2020-10-12 19:59] #2092 closed

[2020-10-12 20:16] cole10up commented on #2157
**Tested**

Installed, activated and setup latest release candidate zip. Setup Tag Manager with an account that doesn't have an analytics tag.

Navigated to settings and adjusted to a container with a tag referencing a different Analytics property than set in the module

![image](https://user-images.githubusercontent.com/57115907/95786806-270cbb80-0c8d-11eb-8708-c915cba126b4.png)

Passed QA ✅

[2020-10-12 20:37] #2157 closed

[2020-10-12 20:47] #2153 closed

[2020-10-12 21:27] felixarntz commented on #2160
As clarified by @aaemnnosttv, this is actually not an issue because only the remote `gtag` script is blocked. The `gtag` function is defined locally regardless of that, so this shouldn't be a blocker.

[2020-10-12 21:27] #2160 closed

[2020-10-12 23:06] felixarntz opened #2161 "Fix broken AdSense Storybook stories"
Several AdSense setup Storybook stories recently broke via some change, rendering no actual component content, e.g.:
<img width="1519" alt="Screenshot 2020-10-12 at 15 25 49" src="https://user-images.githubusercontent.com/3531426/95797302-069c2b80-0ca4-11eb-9f3b-818c8daac056.png">

The following stories are affected:
* No account
* No account (existing tag)
* Disapproved account

The only issues r

[2020-10-13 06:40] eugene-manuilov commented on #2108
Yep, makes sense. IB is updated.

[2020-10-13 09:48] asvinb commented on #1968
Hey @adamsilverstein
Thanks for the details and thanks for adding me to your site in GA. I was able to test the fix and it works. Thanks again!

[2020-10-13 10:22] aaemnnosttv opened #2162 "Update deprecated `set-env` use in GitHub Actions"
## Bug Description

Certain actions recently started raising warnings about deprecated use ([example run](https://github.com/google/site-kit-wp/actions/runs/304019610))

Currently the only workflow which uses this is the Storybook workflow. We should either upgrade the usage to use the [new file-based method](https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-g

[2020-10-13 11:35] asvinb commented on #2046
Thanks @felixarntz . I'll add that to the QA Brief.

[2020-10-13 15:08] aaemnnosttv commented on #2143
@felixarntz I've merged the ACs from the other issue here and updated the dependencies of the issue. Let me know if you think anything should change, otherwise I think it should be ready for IB 👍

[2020-10-13 15:18] tofumatt opened #2165 "Create our own VisuallyHidden component to use for screen-reader text"
## Feature Description

Currently we use `<span className="screen-reader-text">` across our codebase to visually hide screen-reader text in the app. This is a fine approach, but as pointed out in the IB for #2093, it'd be nice to have a dedicated and more-descriptive `VisuallyHidden` component we can use to put screen-reader text inside without having to memorise CSS class names, etc.

It was sugg

[2020-10-13 15:33] felixarntz commented on #2136
IB ✅

[2020-10-13 15:37] felixarntz commented on #2108
@eugene-manuilov IB ✅

Technically this is all good, but I'd suggest for the code to actually write it out like `state, ...args` instead of just `...args` - it results in the same behavior, but writing out `state` there clarifies that _that_ is the first parameter. I think `args` makes most sense to be used for the "unpredictable" parameters, but `state` will _always_ be there, so let's write it o

[2020-10-13 15:42] eugene-manuilov commented on #2108
@felixarntz agree, it makes sense. Updated IB.

[2020-10-13 15:59] aaemnnosttv commented on #1623
@felixarntz in the interest of minimizing the changes here, I would suggest we continue to pass `hasSettings` but pass it from `withSelect` based on the presence of the component.

Also, to avoid the temptation of refactoring other module-data related pieces like `getModulesData` use, I think we should pass the module components through as dedicated individual props, rather than passing through al

[2020-10-13 17:14] felixarntz commented on #2161
IB ✅

[2020-10-13 17:46] jamesozzie opened #2166 "Cannot read property 'isSecondAdmin' of undefined dashboard error"
## Bug Description

A user in the WordPress support forums encountered the following dashboard error:
`Cannot read property 'isSecondAdmin' of undefined dashboard error`

Unknown at what stage this occurs, or whether Site Kit has worked for this user previously. Domain possibly https://l0l0l.io/ based on users WP profile.

## Additional Context

 - [WP Support Topic](https://wordpress.org/support/

[2020-10-13 18:30] ernee commented on #2118
Hi there! Just a quick update that we'll be reaching out to language plugins to help with the solution.

@Nerdiyde I've been trying to recreate the issue with WPGlobus, but have yet to see it occur. Could you share more about your configuration and how to reproduce the issue? Thanks so much!

[2020-10-13 18:41] felixarntz commented on #1623
@aaemnnosttv

I don't see really any additional complexity from getting rid of it as a prop. The component receives the edit component anyway, and `hasSettings` is only used in the `render` method, so it could become a single assignment like `hasSettings = !! settingsEditComponent`.

Do you think this will make the task overly complex? I think getting the data from a `module` prop shouldn't be mor

[2020-10-13 18:56] Nerdiyde commented on #2118
@ernee Hey,
hmm, I did not really do anything special to provoke this error. :/ Not even sure that the issue is related to WPGlobus. Just mentioned it because others mentioned WPML as a possible source. Maybe its related to an other plugin? Please tell me what other information might be helpful? :) Thanks for fixing this btw. :)

[2020-10-13 18:57] felixarntz commented on #1623
@aaemnnosttv I've updated ACs based on my above response, lmk your thoughts.

[2020-10-13 19:03] ernee commented on #2118
@Nerdiyde thanks for the reply! It would be great to get more info about your setup. Could you provide your [Site Health information](https://i.imgur.com/Rtkmsba.png) through [this form](https://forms.gle/NYxN6Dy1NUKed6R28) (note: you may want to place the [support forum topic](https://wordpress.org/support/topic/site-kit-asks-me-to-reconnect-all-the-time/page/2/#post-13485866) you replied to in t

[2020-10-13 19:23] Nerdiyde commented on #2118
@ernee You should have received my site health infos. :)

[2020-10-13 19:27] aaemnnosttv opened #2168 "Unhandled promise rejections don't cause tests to fail"
## Bug Description

Due to the asynchronous nature of the datastore, some tests are capable of having functions finish their execution after the test has completed. This can result in unhandled promise rejection warnings in the console between tests. Because this happens between tests, and also because it is probably being written to stdout/stderr directly, our `jest-console` mocks to fail tests o

[2020-10-13 19:39] adamsilverstein commented on #1833
@jamesozzie Can you still re-produce this issue on the latest version after resetting? If your site is `http` we should be setting you up that way. If you change from `http` to `https` we should do a better job detecting that and helping you reset the connection to use `https`.

[2020-10-14 09:15] jamesozzie commented on #2166
@cole10up Escalating to L1 for review in the event you're familiar with this issue.

Unable to reproduce from support side. Attempted trying to setup SK consecutively from two administrator accounts although only encounter "Client credentials don't exist" notice.

[2020-10-14 10:13] jamesozzie opened #2171 "Plugin translations not rendering fully translated strings"
## Bug Description

As mentioned in a [WordPress support topic](https://wordpress.org/support/topic/indonesian-language-2/#post-13523205) some translations may not be rendering within the plugin, despite these translation strings existing and marked as complete.

An example of a string which should be fully translated in various languages is below (Site Kit > Settings > Connect More Services):
"_C

[2020-10-14 11:01] aaemnnosttv commented on #1623
I'm not sure about extracting the rollback effect into its own component to be rendered adjacent to the others. It would probably work, but I think we can make this a cleaner refactor by sticking a bit closer to how things are today.

We can simplify things even further with almost no changes needed to `SettingsModule` by more/less converting `SettingsMain` into a `SettingsRenderer` that would be

[2020-10-14 14:55] jamesozzie commented on #1833
Performed another test on separate  site. See below findings, happy to share a login or test on another site

1. Created a new WordPress install on a domain that had both http / http versions available (no redirection in place)
2. Setup SK on http version of admin dashboard, setup worked fine (SC only, no other modules connected)
3. Accessed secure version of admin panel, SK dashboard displayed da

[2020-10-14 15:29] tofumatt commented on #2168
IB ✅

Moved right into Merge Review, as I reviewed the PR as well.

[2020-10-14 15:43] felixarntz commented on #2061
Covered via #1623.

[2020-10-14 15:43] #2061 closed

[2020-10-14 15:44] felixarntz commented on #2056
Covered via #1623.

[2020-10-14 15:44] #2056 closed

[2020-10-14 15:44] felixarntz commented on #2057
Covered via #1623.

[2020-10-14 15:44] #2057 closed

[2020-10-14 15:44] felixarntz commented on #2058
Covered via #1623.

[2020-10-14 15:44] #2058 closed

[2020-10-14 15:44] felixarntz commented on #2059
Covered via #1623.

[2020-10-14 15:44] #2059 closed

[2020-10-14 15:44] felixarntz commented on #2060
Covered via #1623.

[2020-10-14 15:44] #2060 closed

[2020-10-14 16:00] felixarntz commented on #1623
@aaemnnosttv SGTM, I've updated the ACs.

[2020-10-14 16:51] aaemnnosttv commented on #1623
@felixarntz looks great, moving forward to IB 👍

[2020-10-14 17:12] studiocachet commented on #852
+1
A 'simple' view for the client would be sufficient

[2020-10-14 18:03] adamsilverstein commented on #2122
The underlying issue here is that the chart currently uses an approach that doesn't use day alignment, even though we did adjust to use day alignment for the percent comparison change calculations.

The chart relies on data from this query: https://github.com/google/site-kit-wp/blob/168e6f45de73c831294c43dc59f392700b408d68/assets/js/modules/analytics/util/index.js#L396-L429

This data includes up

[2020-10-14 18:06] adamsilverstein commented on #2122
@aaemnnosttv & @tofumatt I did a little investigating since I worked on the original changes in https://github.com/google/site-kit-wp/issues/1280. Findings above ^^.

[2020-10-14 20:24] tofumatt commented on #2110
I updated the IB here, but the suggestion made to apply this everywhere the url `performance/search-analytics` is linked to confused me in addition to the comment about `sc-domain:`—I only see that in one place in the current codebase: https://github.com/google/site-kit-wp/blob/099cac9a45e52cb90bc4473a68f37eb7f6f45666/assets/js/components/setup/search-console.js#L179-L190

[2020-10-14 20:26] aaemnnosttv commented on #2122
@adamsilverstein I think using `multiDateRange` makes more sense, particularly because some dates may overlap between the two ranges so it definitely fits better into a "separate ranges" paradigm. This is also how it's already designed to work with the JS-based parsing as well, which passes `compareStartDate` and `compareEndDate`: https://github.com/google/site-kit-wp/blob/099cac9a45e52cb90bc4473a

[2020-10-14 22:27] felixarntz commented on #1623
@aaemnnosttv IB mostly LGTM, just one additional detail: We should probably remove `hasSettings` from being passed to `SettingModule` in `SettingsModules`, since that prop is now internally handled via the HOC.

[2020-10-14 22:34] felixarntz commented on #2110
@tofumatt Every URL where we link to Search Console contains a `property_id` query parameter which is the Search Console property ID, i.e. we're already retrieving that in every such case. _Only_ if that value starts with `sc-domain:`, we should add the `page=*{siteURL}` query parameter - otherwise nothing should be changed from what's already in place. It might be worth outsourcing the `sc-domain

[2020-10-15 08:27] aaemnnosttv commented on #1623
@felixarntz IB updated.

[2020-10-15 09:11] aaemnnosttv opened #2172 "Images load inconsistently in VRT causing CI job failures"
## Bug Description

Images in Storybook generally render just fine when using locally. However, when used in combination with Backstop for VRT, recent reports show images not loading is the most common cause for a scenario failure, requiring the job to be re-run - after which it usually passes.

This may have something to do with configured timing for backstop or a race condition with images loadi

[2020-10-15 11:45] tofumatt commented on #2172
IB ✅

Code reviewed as well; in merge review now.

[2020-10-15 14:04] tofumatt commented on #2110
Ah, sorry, I misunderstood. I thought we were adding `sc-domain:` in places but I see it's part of the existing URL and we need to check for it. Thanks, I'll get this sorted now 👍🏻

[2020-10-15 14:53] aaemnnosttv commented on #2165
@tofumatt if we aren't going to use the component from Gutenberg, why not use [`@reach/visually-hidden`](https://reach.tech/visually-hidden/) ? Not sure it makes sense to implement our own component to do something that we can just pull in, especially from a library which is specifically designed for accessibility.

Aside from that, it doesn't rely on a specific class name which I think makes more

[2020-10-15 15:05] tofumatt commented on #2165
No _major_ opposition from me to using Reach, but our (current) needs are _quite_ spartan and our component, as proposed, would be lighter-weight than theirs. They use the `style` attribute directly for every component, which adds to HTML bulk and means reference usage for things like `'<span class="screen-reader-text">Hello</span>'` isn't as straightforward.

As mentioned: we need to use raw span

[2020-10-15 15:34] felixarntz commented on #1391
Looking at the second screenshot in https://github.com/google/site-kit-wp/issues/1391#issuecomment-628008695, it looks like the chunk file is loaded with the insecure HTTP protocol although the site is using HTTPS (and the JS file enqueued by WordPress also uses HTTPS as expected). Could there be some problem in the way Webpack loads these chunks possibly? cc @eugene-manuilov

[2020-10-15 15:42] aaemnnosttv commented on #2172
This one still has issues which seem to be unrelated to the new changes, so I'm bringing it back for another pass.

[2020-10-15 16:08] felixarntz commented on #1623
IB ✅

[2020-10-15 16:28] aaemnnosttv commented on #2165
I agree that the inline style is less efficient, but it's also "batteries included" 😄

Regarding the use in translatable strings, I don't think we should "mirror" the HTML of any components in these strings, but we didn't really have much options in the past.

Now we have [`createInterpolateElement`](https://make.wordpress.org/core/2020/07/17/introducing-createinterpolateelement/) which is ideal f

[2020-10-15 16:50] tofumatt commented on #2172
(Leaving this in CR as I assume you want both @felixarntz and I to have a look, but if you assigned to both just so whoever saw this first would review it—feel free to merge 😄)

[2020-10-15 17:18] tofumatt commented on #2165
Yeah, our existing `span class="screen-reader-text"` components use WordPress styling, so are "batteries-included" too, but I getcha. Visually hidden spans are less finicky and need less maintenance than other components, but all your points are valid.

Using `createInterpolateElement` would be great, but I figured would be a separate issue from here as we need to do it for links in the app as wel

[2020-10-15 19:25] felixarntz commented on #2110
@tofumatt IB mostly good, except

This should be exactly the opposite, the parameter should only be added if it _is_ a domain property (`=== true`) :)

[2020-10-15 22:23] felixarntz opened #2178 "Refactor trivial class-based components to functional components"
All class-based components in `assets/js/components` which only contain a `render` method without outside data access should be migrated to functional components.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following (trivial) class-based components should be refactored to functional components

[2020-10-15 22:24] felixarntz opened #2179 "Rename refactored `assets/js/components` components to use component file names"
All component files in `assets/js/components` for already refactored components should be renamed so that their file names match the component names.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The files for the following already refactored components in `assets/js/components` should be renamed to

[2020-10-15 22:27] tofumatt commented on #2122
I'm sorry, but I had a look through the PHP code here in the past and the JS code, including how the ranges are split, the requests mades, etc.

I think I'm totally lost on how, exactly, this stuff all connects together.

At first what seems obviously to me was to change the start date in the query to match the end date so things would align. I tried changing some of the JS as well as suggested he

[2020-10-15 22:30] felixarntz opened #2180 "Add `getModuleDependantNames` and `getModuleDependencyNames` selectors"
The `core/modules` store should receive new selectors that expose the list of module names that are dependencies / dependants of a given module.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/modules` store should have a new selector `getModuleDependencyNames( slug )`:
    * It should return

[2020-10-15 22:37] tofumatt commented on #2110
Argh, indeed! I originally wrote it as `!== false` then realised we should check for `true` in case it returned `undefined` while loading. I forgot to change the `!==` though 😅

All set now! 👍🏻

[2020-10-15 23:11] felixarntz opened #2181 "Add actions and selectors for managing module settings panel state"
The `core/modules` store should support managing the state for the settings panels Site Kit Settings.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/modules` store should receive a new selector `getModuleSettingsPanelState( slug )` that returns for the module identified by the given slug in

[2020-10-15 23:11] felixarntz opened #2182 "Add actions and selectors for centrally checking module settings submission state"
The `core/modules` store should provide a central management layer for handling submission of module settings (which is generally handled in each module's own store, see #2136). Note while #2136 has the goal of every module store providing these actions and selectors, that issue is _not_ a dependency. The code here should work regardless of whether the module store has the action/selector or not.

[2020-10-15 23:15] felixarntz commented on #2137
@aaemnnosttv I've opened #2182 as a new dependency for this one, which will simplify the component code / decouple it from the module-specific store. The ACs have been updated accordingly.

[2020-10-15 23:15] felixarntz commented on #2137
@eclarke1 I'll remove this from Sprint 35 and instead add #2182, which is a new dependency for this one.

[2020-10-15 23:18] felixarntz opened #2183 "Refactor `SettingsModule` component"
The `SettingsModule` component should be refactored to be a functional component, relying fully on the datastore. It should be split into sub-components where it makes sense.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `SettingsModule` component should be refactored into a new functional, hook-

[2020-10-15 23:21] felixarntz opened #2184 "Refactor `SettingsModules` component"
The `SettingsModules` component should be refactored to be a functional component, relying fully on the datastore. It should be split into sub-components where it makes sense.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `SettingsModules` component should be refactored into two new functional, h

[2020-10-15 23:23] felixarntz opened #2185 "Remove `SettingsModuleHeader` component and related CSS"
The `SettingsModuleHeader` component is unused. We should remove it and all CSS that only applies to markup from that component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The unused `SettingsModuleHeader` component should be removed.
* All CSS rules that apply to markup/classes that is only outpu

[2020-10-15 23:25] felixarntz opened #2186 "Refactor `SettingsOverlay` component"
The `SettingsOverlay` component should be refactored to be a functional component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `SettingsOverlay` component should be refactored to be a functional component.
* The file should be renamed to `SettingsOverlay.js`, and all import references should be

[2020-10-15 23:31] felixarntz opened #2187 "Refactor `SettingsApp` component"
The `SettingsApp` component should be refactored to become a functional component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `SettingsApp` component should be refactored to become a functional component using the datastore.
    * The component should rely on internal `useState` to manage the

[2020-10-15 23:52] felixarntz opened #2188 "Refactor `AnalyticsInactiveCTA` component"
The `AnalyticsInactiveCTA` component should be refactored to a functional component using the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `AnalyticsInactiveCTA` component should be refactored to a functional component using the datastore and hooks.
    * It shouldn't use any legacy u

[2020-10-15 23:52] felixarntz opened #2189 "Refactor MDC-driven components"
The following MDC JS API-driven components in `assets/js/components` should be refactored to become functional components:

* `Button`
* `Checkbox`
* `Dialog`
* `Menu`
* `Radio`
* `Switch`

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following components in `assets/js/components` relying on `MDC

[2020-10-15 23:53] felixarntz opened #2190 "Refactor `GoogleChart` component"
The `GoogleChart` component should be refactored to a functional component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `GoogleChart` component should be refactored to a functional component using hooks.
* Its file should be renamed so that the file name matches the component name, and all impo

[2020-10-15 23:53] felixarntz opened #2191 "Refactor `ResetButton` component"
The `ResetButton` component should be refactored to a functional component using the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `ResetButton` component should be refactored to a functional component using the datastore and hooks.
* Its file should be renamed so that the file name ma

[2020-10-15 23:53] felixarntz opened #2192 "Refactor `UserMenu` component"
The `UserMenu` component should be refactored to a functional component using the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `UserMenu` component should be refactored to a functional component using the datastore and hooks.
* Its file should be renamed so that the file name matches

[2020-10-15 23:53] felixarntz opened #2193 "Refactor `Modal` component"
The `Modal` component should be refactored to a functional component using hooks.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `Modal` component should be refactored to a functional component using hooks.
* Its file should be renamed so that the file name matches the component name, and all impo

[2020-10-15 23:53] felixarntz opened #2194 "Refactor `ModulesList` component"
The `ModulesList` component should be refactored to a functional component using the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `ModulesList` component should be refactored to a functional component using the datastore and hooks.
    * It shouldn't use any legacy utility functions o

[2020-10-16 00:05] felixarntz commented on #2110
IB ✅

[2020-10-16 02:16] ernee commented on #2118
@Nerdiyde thanks for providing the info! So, I've been testing several plugins you have and their configurations, but haven't been able to recreate the issue you experienced. Could you provide/ try the following to help us narrow down what could be the source of the issue on your site:
1)

[2020-10-16 06:16] cole10up commented on #1878
**Tested**

Installed, activated and setup latest develop SK.

Activated and installed all modules, ran a series of regression tests around module functionality focusing on Adsense, Analytics and Search Console.

![image](https://user-images.githubusercontent.com/57115907/96219744-55fc8900-0f3c-11eb-949f-3feddb197fd4.png)
![image](https://user-images.githubusercontent.com/57115907/96219761-5eed5a8

[2020-10-16 06:25] cole10up commented on #1923
**Tested**

Installed, activated and setup develop SK.

Activated all modules, clicked through each google service link and tested each functioned properly and opened in a new tab.

Analytics:
Audience, Acquisitions, Pages

Adsense:
Page performance, Site performance

Search Console:
Site performance

@felixarntz - Noticed one link on the dashboard for Analytics doesn't open in a new tab below:
![

[2020-10-16 06:45] cole10up commented on #2168
**Tested**

Built the latest develop version of SK, ran - confirmed all tests passed and no UnhandledPromiseRejectionWarning were seen
![image](https://user-images.githubusercontent.com/57115907/96221977-51d26a80-0f40-11eb-89de-084740ab6afb.png)

Passed QA ✅

[2020-10-16 07:58] aaemnnosttv opened #2195 "Enhance acronym ESLint rule to enforce lowercase when applicable"
## Feature Description

Our custom `sitekit/camelcase-acronyms` ESLint rule enforces our conventions around when acronyms should be capitalized.

While this works great for acronyms used within a variable name, it misses the inverse of this logic which applies to variable names that start with an acronym (e.g. `ampMode`), or variables which _are_ an acronym (e.g. `url`).

In these cases, the acron

[2020-10-16 08:18] aaemnnosttv commented on #1923
@cole10up @felixarntz in the current release that link goes to Site Kit's Analytics dashboard in WP, not the external service so if that was an intentional change then we likely just missed adding `external` on that link where it wouldn't have had it before.

[2020-10-16 08:24] aaemnnosttv commented on #1878
⚠️ @cole10up I just noticed that the icons in the PSI module are missing the foreground color on the icons

![image](https://user-images.githubusercontent.com/1621608/96234407-0f417a00-0fa2-11eb-92f1-3f0c03f47a4d.png)

Sending this back to execution for a follow up.

[2020-10-16 09:58] aaemnnosttv opened #2197 "Cache key collision between modern and legacy cache APIs"
## Bug Description

Currently Site Kit has two separate cache APIs used for storing data in the browser.

1. The legacy [`dataAPI` cache](https://github.com/google/site-kit-wp/blob/114f7f226b5b3596daf8d120edc1666849a18617/assets/js/components/data/cache.js)
1. The modern [API cache](https://github.com/google/site-kit-wp/blob/114f7f226b5b3596daf8d120edc1666849a18617/assets/js/googlesitekit/api/cach

[2020-10-16 11:31] lakshsyal123 opened #2198 "Error: cURL error 2:"
Hey

I am getting this problem when I configure the analytics account.

https://prnt.sc/v0iklf

Please help.

Thanks

[2020-10-16 12:44] tofumatt commented on #2197
I think the original plan was to have them use similar cache keys on purpose, but fair point: they should either have the same shape or have different keys. I guess the idea was to share the data, but as mentioned that won't work here.

An IB that slightly changes our cache keys would be fine by me 👍🏻

[2020-10-16 12:50] ryanwelcher commented on #1923
@aaemnnosttv @felixarntz I'll create a PR for adding the external prop. Apologies for missing it.

[2020-10-16 14:42] ryanwelcher opened #2200 "The formatting of numbers followed by % signs can be different per language"
## Feature Description

Depending on the language, a number may or may not have a space preceding a % symbol. For example, English is 50% while many other languages would display as 50 %.

Anywhere Site Kit displays a number followed by a % symbol should be [marked for translation](https://github.com/google/site-kit-wp/blob/develop/assets/js/modules/adsense/components/dashboard/AdSensePerformanceW

[2020-10-16 15:27] felixarntz commented on #2182
@tofumatt IB ✅

I just think that `assets/js/googlesitekit/modules/datastore/changes.js` is a bit _too_ generic of a name - maybe we should call the file `submit-changes.js` or `settings.js` (the latter is the file name we also use for those selectors and actions in each module store)?

[2020-10-16 15:37] ernee commented on #2198
@lakshsyal123 thanks for reaching out! We've seen this error in cases where the server environment needs to have a particular version of cURL to prevent it. Here's the related [issue for reference](https://github.com/google/site-kit-wp/issues/1575). Unfortunately, there isn't anything we can do on our side. You'll need to contact your host to address this further.

[2020-10-16 15:37] #2198 closed

[2020-10-16 18:16] aaemnnosttv commented on #2122
@adamsilverstein @felixarntz looking into an IB for this, I don't think this is fixable as-is without substantial changes.

My understanding of the problem is that we need to change how the report request is made to be a true multi-date range request, rather than the range math and splitting that we do with `compareDateRanges` which is a bit of a hack based on our previous understanding of how the

[2020-10-16 22:14] glanglois opened #2203 "Enable Prefetch DNS Requests on external Google services used by Site Kit"
## Feature Description

Several WP Chacing Plugins offer the possibility to connect to external sites (such as Google Fonts, Analytics, ...) to reduce DNS Lookups and improve user experience by improving loading time.

For instance, see WP Rocket documentation on their implementation: https://docs.wp-rocket.me/article/1302-prefetch-dns-requests

I would be useful if SiteKit offer directly this opt

[2020-10-16 22:21] glanglois commented on #1132
It would be great to store locally Google Analytics and Tag Manager, through Site Kit, to have everything related to Google services handled in one plugin.

In the meantime, this option is offered by caching plugins such as WPRocket (https://docs.wp-rocket.me/article/1103-google-tracking-add-on)

[2020-10-17 01:30] felixarntz commented on #2181
@tofumatt Mostly LGTM, but two things don't satisfy the ACs:

This should never return `undefined` as there is no "loading" stage here. The initial value for every settings panel should be `closed` per the ACs. We could consider returning `null` if `slug` is not for a valid module - but any valid module should always return a real value.

Per the ACs `locked` shouldn't be allowed, but `edit` shoul

[2020-10-17 01:31] felixarntz commented on #2186
IB ✅

[2020-10-17 01:32] felixarntz commented on #2178
IB ✅

[2020-10-17 01:33] felixarntz commented on #2191
IB ✅

[2020-10-17 14:42] hifi-vd commented on #2118
Hi, I have the same problem with very often reconnecting Site Kit and using WPML. I am using Google Tag Manager as connector for Google access codes. Before the codes were in the templates and I had no problem. But with every update of the templates I lost access, so changed to Tag Manager. It would be fine to solve this "reconnect" problem, because WPML and Tag Manager are great and very common t

[2020-10-18 01:23] rushilp2311 commented on #2193
Hi @felixarntz, I would like to work on it if no one is handling this issue.

[2020-10-18 21:08] cole10up commented on #2021
**Tested**

Installed, activated and setup latest SK development build.

Checked dashboard without Adsense module activated:
![image](https://user-images.githubusercontent.com/57115907/96385786-fcb67480-114a-11eb-97f8-2aaf83cb646f.png)

Activated Adsense and confirmed earnings area is present.
![image](https://user-images.githubusercontent.com/57115907/96385823-3ab39880-114b-11eb-8f26-fdfbb8879b1a

[2020-10-18 22:10] cole10up commented on #2021
Team has been notified about the double Analytics blocks in the search console widget in the 1st screenshot.

[2020-10-18 22:20] cole10up commented on #1859
**Tested**

Installed, activated and setup SK. Installed and activated the developer/helper plugin.

Adjusted the Custom Site URL field to an invalidurl, saved and checked both widget and non widget search console. No errors displayed.

Sending back to @asvinb for adjustments

![Site Kit Developer Settings ‹ Hellogoodbye — WordPress](https://user-images.githubusercontent.com/57115907/96387227-59b7

[2020-10-19 05:51] cole10up commented on #317
**Tested**

Installed, activated and setup latest develop SK. Activated Adsense module and checked the following:

- Confirmed estimated earnings is no longer on the Adsense Dashboard
- 4 items are displayed (Earnings, Page RPM, Impressions, and Page CTR) in the performance box
- 'Performance over the last XX days' title exists and functions properly
- External 'See full stats in AdSense' link fun

[2020-10-19 10:40] asvinb commented on #2145
@aaemnnosttv Thanks for catching that. I've created another PR to fix it. Can you review? thanks!

[2020-10-19 13:33] mushlih-almubarak commented on #2171
Hi
Sorry, I found this bug and I am constantly monitoring its fix
But why haven't I received any updates so far? has this issue been forgotten, or what?
Looks like the last notification happened 5 days ago
I keep waiting
Thank you

[2020-10-19 13:52] jamesozzie commented on #2171
@mushlih-almubarak Rest assured we are currently investigating this. Keep watch of this issue whereby we hope to have further updates this week.

[2020-10-19 14:01] adamsilverstein commented on #1833
So at this point, you didn't change the URL used in WordPress, right? eg. it remained set to the the "http" version of the site?

In this case, this is the 'expected' behavior. We only detect when the apparent URL of the site changes, and the server based redirect you added does not do that.

Is there an issue we can resolve or behavior we can improve here?

[2020-10-19 14:03] mushlih-almubarak commented on #2171
@jamesozzie Fine, thanks a lot

[2020-10-19 14:08] adamsilverstein commented on #1999
@aaemnnosttv thanks for the feedback, I'll address these final points shortly.

[2020-10-19 14:11] jamesozzie commented on #1833
All looks good to me. In one setup today I switch from http and https and I got the notification about the new URL, suggesting I reconnect. All looks good, no further action required.

[2020-10-19 14:11] adamsilverstein commented on #2122
Sounds reasonable, especially given that this only affects the chart - the numbers and percent changes are accurate already.

[2020-10-19 15:11] ryanwelcher commented on #317
@cole10up I believe this is expected behavior.

[2020-10-19 16:28] jamesozzie commented on #1132
@glanglois Thanks for the input. The team will review this feature request going forward. Note however this isn't guaranteed to be part of future releases, with hosting the JavaScript files locally [not recommended](https://support.google.com/analytics/answer/1032389?hl=en).

[2020-10-19 16:58] felixarntz commented on #2193
IB ✅

[2020-10-19 17:01] felixarntz commented on #2193
Thank you @rushilp2311 for your offer to help with this issue - feel free to open a pull-request against this issue! We have some [documentation about contributing to engineering](https://github.com/google/site-kit-wp/wiki/Engineering) available.

Please refer to the implementation brief that @asvinb has added to the issue description above for how to technically implement the changes.

[2020-10-19 17:21] cole10up commented on #1541
**Tested**

Created a new site using WP-Engine

![image](https://user-images.githubusercontent.com/57115907/96488507-f8459680-11f2-11eb-8ccc-afd35ae6642b.png)

Installed, activated latest SK
![image](https://user-images.githubusercontent.com/57115907/96489371-3b543980-11f4-11eb-9959-8058f0a0f3a6.png)

Setup SK
![image](https://user-images.githubusercontent.com/57115907/96489573-748ca980-11f4-11eb-

[2020-10-19 18:03] tofumatt opened #2208 "Update VRT threshold and update Storybook VRT images with minor changes"
## Bug Description

Our VRT tests currently have a difference threshold of 5%, owing to some historical issues with SVGs. This means that some small changes don't actually trigger VRT updates, which is not great.

A 0% threshold can be a bit too aggressive, but in testing we found a 1% threshold was enough to catch a lot of legitimate differences and we should switch to that and update our current

[2020-10-19 18:05] tofumatt commented on #2208
(Larger estimate on this one as it will involve ensuring a lot of VRT test updates are appropriate and might involve creating new issues when something has changed unintentionally.)

[2020-10-19 19:07] felixarntz commented on #2040
IB ✅

[2020-10-19 19:09] adamsilverstein commented on #2171
I investigated this a bit and found the following:

* JS translation JSON files are not correctly loaded, possibly due to this [shortcoming](https://github.com/wp-cli/i18n-command/pull/222).
* We can load translations for each script we enqueue in `Scripts.php` by adding a call to `wp_set_script_translations`, so in `includes/Core/Assets/Script.php::enqueue()` add
`wp_set_script_translations( $thi

[2020-10-19 19:10] tofumatt commented on #2181
Ah, right on. Fixed! 🙂

[2020-10-19 19:12] felixarntz commented on #2180
@ryanwelcher Looks like you accidentally removed part of the ACs? See the original content of the ACs, which has a second overarching bullet point (we also need a `getModuleDependantNames` selector), which is also missing from the IB.

This needs to be `module.dependencies` instead of `module.dependants` (for this selector, the other selector needs to look at `module.dependants`). Furthermore, thi

[2020-10-19 19:30] eugene-manuilov commented on #2119
QA :heavy_check_mark: All look good.

[2020-10-19 19:32] felixarntz commented on #2130
@ryanwelcher

I don't think we need to include the term "module" in the name since all of the store is module-specific. Maybe `checkRequirements` would be a more suitable name, since the function can return more than a simple boolean value?

I think a more intuitive name would be `canActivateModule`.

Two things regarding this:
1. The selector (and this issue entirely) shouldn't use `receiveError`

[2020-10-19 19:37] felixarntz commented on #2189
@asvinb IB ✅

Just wanting to say for next time you probably don't need to put the exact lists of all the files to replace paths in into an IB like that, it adds a bit of unnecessary clutter. Something like that could be summarized like "Update path references everywhere where path `xyz` is imported to `...`" :)

[2020-10-19 19:38] felixarntz commented on #2179
IB ✅

[2020-10-19 19:39] felixarntz commented on #2185
@asvinb IB ✅

Maybe this would be one of the rare cases where we should use the 1 estimate? Let's keep in mind that estimate exists for a reason, and while only a tiny portion of issues qualifies for _that_ little work, I think this one does - unless I'm missing something.

[2020-10-19 19:40] felixarntz commented on #2197
IB ✅

[2020-10-19 19:43] felixarntz commented on #2188
@tofumatt IB ✅

Probably the error state won't be needed here. That legacy function `showErrorNotification` will add an error to display on top of the Site Kit dashboard, which is outside the component, so we don't need to worry about the error state here since it doesn't have any visual implications on the component.

[2020-10-19 19:47] felixarntz commented on #2181
@tofumatt IB pretty much LGTM, however it's still missing a mention of `closed` being the default value.

This is true, but it would be more clear saying that, if `state.panelState[ slug ]` is `undefined` and it _is_ a valid module, the function should return `closed`.

[2020-10-19 19:47] felixarntz commented on #2208
IB ✅

[2020-10-19 19:52] felixarntz commented on #2165
@aaemnnosttv @tofumatt I think coding our own simple `VisuallyHidden` component makes sense. I wonder whether we should call it `ScreenReaderText` to clarify its intent better - WP people would immediately understand :)

Regarding the use of `createInterpolateElement`, I agree it might make sense to update existing translation strings and references to `span class="screen-reader-text"`, however th

[2020-10-19 22:08] ered15 commented on #2118
Having same issue, have the last WP installation and using Site Kit by Google 1.18.0, WPML Version 4.4.3 every time I change  the language in the top bar it asks to reconnect.

[2020-10-20 01:59] rushilp2311 commented on #2192
Hi @felixarntz, I could take this issue

[2020-10-20 03:06] felixarntz opened #2210 "`receiveError` and `clearError` should require `args`"
## Bug Description

Following up on #1814, #1859, and #2033, there appears to be one thing that was previously missed or not considered: Currently it is valid to call the `receiveError` and `clearError` actions with a `baseName` parameter while not passing an `args` parameter. This should **not** be allowed because:
* `receiveError` and `clearError` apply to one **specific** error. Only passing `b

[2020-10-20 06:03] cole10up commented on #1894
**Tested**

Installed the following plugins on my test environment:

- Custom Login Page Customizer
- Login or Logout Menu Item
- Groups
- Peter's Login Redirect
- Site Kit

Activated all plugins

Was unable to reproduce this issue after setting up the latest Site Kit.
![image](https://user-images.githubusercontent.com/57115907/96546474-2eb8fb00-125f-11eb-8fd5-f099f7162256.png)

Since this ticket

[2020-10-20 06:03] #1894 closed

[2020-10-20 06:16] cole10up commented on #2105
**Tested**

Installed, Activated and setup latest Site Kit. Activated Adsense and changed the language to Portuguese AO90

![image](https://user-images.githubusercontent.com/57115907/96547160-768c5200-1260-11eb-9051-89857cae8956.png)

Saved and checked Adsense
![image](https://user-images.githubusercontent.com/57115907/96547202-899f2200-1260-11eb-898f-0914888d2068.png)

![image](https://user-image

[2020-10-20 06:21] cole10up commented on #2166
**Tested**

Installed, activated and setup latest SK as multiple administrators.

Unable to reproduce this issue. Setting to closed.

[2020-10-20 06:21] #2166 closed

[2020-10-20 06:27] cole10up commented on #1923
**Retested**

Looks good, all links drive to the correct external pages in a new tab.

Passed QA ✅

[2020-10-20 07:58] asvinb commented on #2185
Makes sense @felixarntz . Estimate updated to 1

[2020-10-20 07:59] aaemnnosttv opened #2211 "Extend Analytics tracking exclusions to Tag Manager"
## Feature Description

In #88 we added settings to Analytics to allow for disabling tracking for logged-in users. Originally, this simply prevented the tracking snippet from being output for logged in users. While this worked fine for the main use case, it didn't work for users who implemented their Analytics snippets via Tag Manager. At the time, Analytics was required to set up before Tag Manag

[2020-10-20 07:59] asvinb commented on #2189
👍 @felixarntz

[2020-10-20 08:19] asvinb commented on #1859
@cole10up I just deleted my cookies and local storage and errors are displayed for the widgets as per screenshot below:
![image](https://user-images.githubusercontent.com/31818/96559652-614e0c80-12ce-11eb-8664-9a301159ec25.png)

@aaemnnosttv Can you confirm the data is cached and we need to clear the cookies/local storage?

[2020-10-20 08:26] aaemnnosttv commented on #1859
@asvinb that looks correct to me. Simply changing the custom URL won't trigger different requests to be made for most components on the dashboard because they use `false` for the `url` in their requests which results in the same cache key and uses the reference URL from the server side at the time of the request. That means that any existing data for these requests from a previous custom URL would

[2020-10-20 08:27] aaemnnosttv commented on #1859
@asvinb I've updated the QAB to include the missing step. Assigning back to @cole10up for a second pass.

[2020-10-20 08:55] DhrRob commented on #852
+1.

The whole reason I installed this, was to easily display Google statistics to clients who don't understand how to log in to Google Analytics. However, this seems not possible so had to delete it again.

[2020-10-20 09:43] aaemnnosttv commented on #2208
As a clarification to the description here, the `misMatchThreshold` is the percentage to use for the threshold, not a decimal representation of a percentage, so `0.05` is actually half of 1%, not 5%. The default value used by Backstop is `.1`; see [Changing test sensitivity](https://github.com/garris/BackstopJS#changing-test-sensitivity).

[2020-10-20 09:43] swissspidy commented on #2171
Loading the translations works by using the wp.i18n global. Sounds like the i18n package isn‘t added as an external in webpack so that it also uses the wp.i18n global.

[2020-10-20 12:24] aaemnnosttv commented on #1771
That's a good question and generally speaking, yes Backstop should cover that, but the truth is we may have blindspots in our coverage since refactored components haven't been added to the VRT suite and some of the legacy scenarios have been removed.

So to your point, I think we need to do a little bit of research here to see _if_ there are any components that are not currently covered by our bac

[2020-10-20 14:17] ryanwelcher commented on #2180
@felixarntz my apologies! I have added the missing AC portion back and updated the IB. Please let me know if there is anything further I should change.

[2020-10-20 15:39] felixarntz commented on #2146
IB ✅

[2020-10-20 15:40] felixarntz commented on #2146
@tofumatt IMO the estimate seems a bit high at 7, since this is only copy changes. It's a bunch but I would guess this is closer to a 3 - what do you think?

[2020-10-20 15:42] felixarntz commented on #2180
IB ✅

[2020-10-20 15:47] adamsilverstein commented on #2171
Ah! Thanks for the tip.

[2020-10-20 15:51] eugene-manuilov commented on #2172
Moving this issue back to the CR column and assigning it to @aaemnnosttv to review #2213.

[2020-10-20 16:28] bazbob67 commented on #1464
Bump.....Can this be reopened?

[2020-10-20 16:35] bazbob67 commented on #1464
I have this problem as well. Godaddy Managed Wordpress.
Website- bazookabob.com

Intermittent problems with users adding to cart then receiving 'Your cart is empty' message when trying to view cart
I can't recreate on my end(only once, but not since) using multiples devices.

Can't get ANY answer from Godaddy as to whether or not their system caches Woocommerce pages intentionally or otherwise.  H

[2020-10-20 16:47] bazbob67 commented on #1464
Forgot-

Do not have Sitekit installed. Plain Google Analytics code. Was installed on Monsterinsights, removed from there and placed in head in BeaverBuilder theme. Appearance>Themes>Customize(button on Beaverbuilder theme pic)>Code>Head code

Didn't switch themes to test as switch to storefront had my site looking a ridiculous mess.

Important to note this does not happen to ALL users but those i

[2020-10-20 17:17] aaemnnosttv commented on #1391
I would think any chunks would be loaded using the same scheme as the script that calls it.

Also, a host which blocks outbound requests wouldn't matter here as this request is from the browser to the host. The only thing that might block it would be something like a CSP (although it's loading from the same host as the main script so I wouldn't think that could be a problem) or perhaps some kind o

[2020-10-20 17:28] jamesozzie opened #2214 "Change the "Start Setup" reference to match the "Sign in with Google" button after disconnecting Site Kit"
## Bug Description

After disconnecting Site Kit the there is a notice suggesting to click on "Start Setup". The "Start Setup" text should reflect the button text - "Sign in with Google"

![image](https://user-images.githubusercontent.com/41326532/96621831-041f7e80-1301-11eb-9e73-1bedce0e28ee.png)

## Steps to reproduce

1. Disconnect Site KIt
2. View the notice provided

---------------

_Do not

[2020-10-20 17:35] #1833 closed

[2020-10-20 17:47] tofumatt opened #2216 "Convert all HTML tags in translation strings to use createInterpolateElement"
## Feature Description

We currently use `<span class="screen-reader-text">` and `<a>` tags throughout our app inside i18n strings (example: https://github.com/google/site-kit-wp/blob/af48c90e7eb72a700fd15e951491731f08758c4c/assets/js/components/setup/compatibility-checks.js#L139).

This is limiting because it means we can only use raw HTML and can't use React components in places we might like to

[2020-10-20 17:48] tofumatt commented on #2165
I find "Visually hidden" to be a better description of what we're doing—the aim is to have that text there semantically, it's for more than _just_ screen readers. Plus: WP itself uses `VisuallyHidden` 😄

I've created a new issue for the `createInterpolateElement` change:

[2020-10-20 17:56] tofumatt commented on #2181
Ah, right on. I think using a registry selector for modules that aren't yet defined in the panel state should cover that and create an effective default state—let me know what you think about that approach 😄

[2020-10-20 18:41] felixarntz opened #2217 "Mark Google API requests from PHP client as user-specific"
Almost all Google APIs generally support a request query parameter called `quotaUser`, which allows passing a string that uniquely identifies a user of the application. This parameter is recommended to be used when issuing Google API requests from a server backend, as otherwise it may be impossible for the API to distinguish where the traffic is coming from and which rate limits it applies to.

Th

[2020-10-20 18:51] felixarntz opened #2218 "Prevent user quota errors and timeouts for users with many Analytics accounts"
## Bug Description

During the Analytics setup flow and in Analytics settings, Site Kit tries to find the user's correct Analytics property to choose for the current site, based on matching the site URL. This works correctly overall, however it can cause problems if a user has many Analytics accounts in their Google account: For every account, an individual request is being made, which e.g. with 2

[2020-10-20 19:06] felixarntz opened #2219 "Display notice to inform about GA4"
Google Analytics has for a while supported a new "Web + App" property type. While in the UI this isn't obvious, this type of property uses a completely different Analytics infrastructure (different UI in Analytics frontend as well as entirely separate API).

Site Kit does currently not support using such a property, partly because the API is just started to be rolled out (currently it's only open

[2020-10-20 19:07] felixarntz opened #2220 "GA4 Detection"
Issues around supporting GA4 in Site Kit and facilitating migration

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation Brief

*

### Test Coverage

*

### Visual Regression Changes

*

## QA Brief

*

## Changelog entry

*

[2020-10-20 19:27] aaemnnosttv commented on #2219
@felixarntz IB looks good to me, the only correction I would make is regarding the components to change for Analytics. I think `SettingsForm` would be more appropriate to change than `SettingsEdit`.

[2020-10-20 19:58] felixarntz commented on #2210
IB ✅

[2020-10-20 21:07] adamsilverstein commented on #1998
Researching the PSI API I learned that it returns a 500 error for **non-retryable user defined errors (such as a query for a url that doesn't go anywhere or respond)**. For this reason we should endeavor to not retry 500 errors for PSI request, or skip 500 errors entirely across requests if we need to. Potentially we can turn off retries in the client before making the PSI request?

[2020-10-20 22:50] adamsilverstein opened #2221 "Add user locale query parameter in help links to `support.google.com`."
## Feature Description

When linking to help articles on `support.google.com`, Site Kit should set the language/locale query parameter (`hl`) based on the user's WordPress profile language setting (`get_user_locale`).

The plugin links to help articles on [https://support.google.com/](https://support.google.com/) in numerous places:

![image](https://user-images.githubusercontent.com/2676022/96652

[2020-10-21 02:39] felixarntz commented on #2208
@aaemnnosttv @tofumatt @eugene-manuilov I believe we can close this issue now as this has already been taken care of in https://github.com/google/site-kit-wp/pull/2213/files#diff-632eaaf92e395d37506eda70160a8476d57c224d5bd3dcedfd3f6dbf6a52b5fdR56.

[2020-10-21 05:32] eugene-manuilov commented on #2208
@felixarntz yes, that's right. It has been already solved.

[2020-10-21 06:08] cole10up commented on #1878
**Retested with the latest SK**

Checked both widget and non widget
![image](https://user-images.githubusercontent.com/57115907/96679741-19a89e80-1329-11eb-89f5-2cc650e834cc.png)

![image](https://user-images.githubusercontent.com/57115907/96679752-21684300-1329-11eb-8887-80ffb8d3cfa9.png)

Confirmed functionality of the buttons.

Passed QA ✅

[2020-10-21 08:08] aaemnnosttv commented on #2219
IB ✅

[2020-10-21 08:18] aaemnnosttv commented on #2165
I agree with @tofumatt – FWIW, the component introduced in Gutenberg was originally `ScreenReaderText` and they changed it to `VisuallyHidden` for consistency with other UI libraries 😄 . It's also worth noting that the core component doesn't rely on the `screen-reader-text` class so that it works in a standalone/non-WP context (like Storybook).

Since we're not publishing the component for use out

[2020-10-21 08:23] #2208 closed

[2020-10-21 08:38] aaemnnosttv commented on #2156
IB looks good. A few points to note that don't necessarily require changes to the IB:

* Most of these actions (if not all) should no longer need the call to `yield Data.commonActions.getRegistry()`
* For actions which are not ambiguous as to which store they come from (like these), it would be preferable to destructure the actions from the import like we do in the fetch store or at least import t

[2020-10-21 08:40] aaemnnosttv commented on #2122
Moving back to AC for revision.

[2020-10-21 08:41] aaemnnosttv commented on #1821
@eugene-manuilov maybe you could take a look at this when you get a chance?

[2020-10-21 09:55] eugene-manuilov commented on #1821
@aaemnnosttv i'll try to look at it later this week or maybe at the beginning of the next one.

[2020-10-21 10:12] aaemnnosttv commented on #1998
@adamsilverstein do these errors include a specific `reason` or anything else we can identify it by rather than just a 500? It seems odd that it wouldn't be possible to return a 500 for a different reason.

[2020-10-21 10:35] tofumatt commented on #2145
Hmmm, looks like there could be a deeper issue here, all related to the automatic registering of stores/side-effects.

There are still other exports in files like: `assets/js/googlesitekit/modules/datastore/index.js`.

See:

* https://github.com/google/site-kit-wp/blob/3571133f387d089c50796748e918b3c50c6136b3/assets/js/googlesitekit/modules/datastore/index.js#L33-L38
* https://github.com/google/si

[2020-10-21 10:40] swissspidy commented on #2171
Don't use hashes in file names? :-)

Yeah, although just `[ 'wp', 'i18n' ]` works too.

[2020-10-21 11:22] tofumatt commented on #2108
QA ✅

[2020-10-21 12:12] tofumatt opened #2223 "Only automatically register a data-store once-per-import."
## Bug Description

Our data stores currently have the side-effect of registering themselves to the default data store when loaded. This means that separate entrypoints loading (other imports, likely) from this file can cause the store to be re-registered.

This was an issue somewhat solved by #2145, but https://github.com/google/site-kit-wp/issues/2145#issuecomment-713475587 shows there's still m

[2020-10-21 12:12] tofumatt commented on #2145
Filed #2223 as a follow-up.

[2020-10-21 12:25] tofumatt commented on #2172
QA ✅

(As mentioned, it's tough to QA this locally, but we'll watch the CI for improvements. I ran it locally and it was fine, but that's to be expected…)

[2020-10-21 12:48] tofumatt commented on #2037
QA ✅

[2020-10-21 13:05] tofumatt commented on #2161
QA ✅

[2020-10-21 13:13] tofumatt commented on #2185
QA ✅

[2020-10-21 13:48] adamsilverstein commented on #2171
Right, and that matches the other exports. I'll give this a try. One other idea if we want to keep our i18n bundled/in its own namespace would be to copy the translations over from the global.

[2020-10-21 14:43] ryanwelcher commented on #317
@cole10up @felixarntz - @aaemnnosttv and I were able to reproduce the zero data issue and it's related to `withData`. @aaemnnosttv is going to open a ticket to address it separately.

[2020-10-21 14:58] tofumatt commented on #2165
Adding a Storybook component makes sense, and even a VRT. Especially since we're relying on a third-party (WordPress) style to provide this class, we should make sure it's always hidden 😄

I've added it to the IB 👍🏻

[2020-10-21 14:59] adamsilverstein commented on #2171
The changes in this PR should provide a fix for JS translations - https://github.com/google/site-kit-wp/pull/2225. I haven't been able to test because my local development file hashes don't line up with the released translation versions (so the translation files never load). I do see the translations loading (in page source) by making the script change to the release plugin.

This approach "extern

[2020-10-21 15:10] aaemnnosttv commented on #317
It turns out the issue was local to the `AdSenseDashboardWidget` component which tracks `zeroData` separately from `withData`. It's been fixed in #2224 👍

[2020-10-21 15:43] aaemnnosttv commented on #317
@cole10up ready for another pass 👍

[2020-10-21 15:47] aaemnnosttv commented on #2165
IB ✅

[2020-10-21 15:49] aaemnnosttv commented on #2172
VRT has been stable since merging the last PR so that's a very good sign 😄  🤞

[2020-10-21 16:53] cole10up commented on #317
**Retested**

Was able to confirm 0 data doesn't corrupt the date sort.

![Site Kit by Google AdSense ‹ Hellogoodbye — WordPress (2)](https://user-images.githubusercontent.com/57115907/96752354-3245a280-1383-11eb-893b-2dfb6ac55d7c.gif)

Noticed the Page Performance box, when loading shows multiple rows prior to finishing the load. Not a show stopper but something to note.

[2020-10-21 19:49] grzegorz-janoszka commented on #938
Can we please have it fixed?

[2020-10-21 20:05] adamsilverstein commented on #1999
Feedback addressed (with one [question](https://github.com/google/site-kit-wp/pull/2072/files#r509394594)), ready for another review.

[2020-10-21 21:21] adamsilverstein commented on #1998
possibly, we can check then exclude just for that `reason` if that works to override the 500 default in the error mapping.

[2020-10-21 21:23] adamsilverstein commented on #2171
we added the hashes to avoid caching issues when we upgrade the plugin version. Otherwise some users get cached versions of some files and things break. The normal approach of versioning in `wp_enqueue_scripts` doesn't work because of how our build and load process works.

[2020-10-21 22:11] tofumatt commented on #2187
My idea here was to rely solely on the `location.hash` for the data here instead of managing it internally in state and then syncing that with the URL as the current component does. The proof-of-concept in the Gist I posted isn't perfect as it was tough to test without the real selectors/actions, but I think it should work.

[2020-10-22 06:42] aaemnnosttv opened #2227 "Release 1.19.0"
---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Release is prepared, tested, and deployed to wordpress.org.

## Implementation Brief

* N/A

## QA Brief

* N/A

## Changelog entry

* N/A

[2020-10-22 07:02] aaemnnosttv commented on #1998
@adamsilverstein after taking a quick look, it seems that we just need to identify the reason and set a custom `$retry_map` in the config (it doesn't seem to allow for extension) that has `{reasonNotToRetry} => Google_Task_Runner::TASK_RETRY_NEVER`.

That reason appears to apply to any status code though so that's something to consider.

[2020-10-22 07:37] aaemnnosttv commented on #2154
@tofumatt Can we update the IB here to include tests for these rules? ([example](https://github.com/WordPress/gutenberg/blob/55bf7ec3b7c032df68437b4605673c13fdf2c6cf/packages/eslint-plugin/rules/__tests__/dependency-group.js)) It seems eslint provides some exports to support that and given the complexity of the logic I think it would make these much more maintainable as well as consistent with the

[2020-10-22 08:54] aaemnnosttv commented on #1817
@felixarntz @eugene-manuilov it seems the API has changed recently to no longer return an error for a request to create a container with a duplicate name. I tested this today for the release and found that I was able to successfully create a new container multiple times without changing the site name (as was necessary before).

![image](https://user-images.githubusercontent.com/1621608/96848607-4c

[2020-10-22 10:01] aaemnnosttv opened #2228 "Deep links on AdSense dashboard's performance by page table are broken"
## Bug Description

Deep links in the AdSense dashboard's `AnalyticsAdSenseDashboardWidgetTopPagesTable` component currently result in a "insufficient permissions" dialog on the Analytics service:

![image](https://user-images.githubusercontent.com/1621608/96855528-8759e500-1465-11eb-81c6-006e5561338f.png)

Upon closer inspection, you can see that the value of the `authuser` query parameter is dou

[2020-10-22 11:24] aaemnnosttv opened #2231 "Remove vestigial console mocks"
## Feature Description

In #1770 we upgraded `@wordpress/scripts` to the latest version which included using `@wordpress/jest-console` via `@wordpress/jest-preset-default`.

This replaced the need to implement our own console mocks, but the existing usage in test setup and teardown was overlooked.

---------------

_Do not alter or remove anything below. The following sections will be managed by m

[2020-10-22 14:29] tofumatt commented on #2231
IB ✅

(I added a very basic QA brief.)

[2020-10-22 14:35] jamesozzie opened #2233 "Changing connected users WordPress role from "Admin" to "Editor" results in blank screen with errors"
## Bug Description

When changing another connected users role from "Administrator" to "Editor" that user will encounter a blank dashboard with the below console errors after logging in. This is without any role modification plugins, the SK tab remains visible.

<details>
  <summary>Console errors</summary>

[code]
</details>

![image](https://user-images.githubusercontent.com/41326532/96885474-88

[2020-10-22 15:31] tofumatt commented on #2154
Nice, I like the test idea and that example looks straightforward. Let's add them here and see how they go; if they're straightforward we can add more 👍🏻

[2020-10-22 16:09] felixarntz opened #2235 "Pass actual dates in API calls in AdSense widgets"
The AdSense `dashboard` and `pageDashboard` widgets should be migrated to pass `startDate` and `endDate` instead of `dateRange` with their API requests.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following widgets should pass `startDate` and `endDate` (using the `core/user` `getDateRangeDates`

[2020-10-22 16:09] felixarntz opened #2236 "Pass actual dates in API calls in Analytics widgets"
The Analytics `dashboard` and `pageDashboard` widgets should be migrated to pass `startDate` and `endDate` instead of `dateRange` (as well as `compareStartDate` and `compareEndDate` where applicable) with their API requests.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following widgets should p

[2020-10-22 16:10] felixarntz opened #2237 "Pass actual dates in API calls in Search Console widgets"
The Search Console `dashboard` and `pageDashboard` widgets should be migrated to pass `startDate` and `endDate` instead of `dateRange` with their API requests.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The following widgets should pass `startDate` and `endDate` (using the `core/user` `getDateRang

[2020-10-22 16:16] felixarntz opened #2238 "Remove legacy wizard CSS classes from proxy splash screen UI"
The default Site Kit splash UI (using the proxy) currently uses some CSS classes that are a remainder of the previous legacy setup wizard (which is only displayed when _not_ using the proxy). The default screen should be cleaned up to only use classes related to `googlesitekit-setup` instead of `googlesitekit-wizard` (the latter are the old classes).

---------------

_Do not alter or remove anyth

[2020-10-22 16:21] felixarntz commented on #2082
Covered via #2130.

[2020-10-22 16:21] #2082 closed

[2020-10-22 16:21] felixarntz commented on #2081
Covered by #2130.

[2020-10-22 16:21] #2081 closed

[2020-10-22 16:23] aaemnnosttv commented on #2154
Sounds good 👍  I'm going to bump the estimate one more just because 7 seems a bit small for doing something new like this and still having room for CR + QA.

Otherwise, IB ✅

[2020-10-22 16:49] cole10up commented on #1968
**Tested**

Installed latest develop build, activated and setup SK. Activated Analytics module and created a page with the name পোস্টের-নাম/

Confirmed the admin bar is displayed and functions properly:
![image](https://user-images.githubusercontent.com/57115907/96904142-93d14400-144b-11eb-8af4-3eb453b336dc.png)

![image](https://user-images.githubusercontent.com/57115907/96904279-bfecc500-144b-11

[2020-10-22 17:26] cole10up commented on #2219
**Tested**

Installed, activated and setup latest Site Kit release. During setup confirmed the message and URL for GA4

![image](https://user-images.githubusercontent.com/57115907/96907873-ac902880-1450-11eb-88cb-f641fb3ca268.png)

Confirmed different browser sizes and mobile look good

Checked the URL, currently drives to a 404 page.
![image](https://user-images.githubusercontent.com/57115907/969

[2020-10-22 17:41] cole10up commented on #1859
Retested after clearing session storage:

![image](https://user-images.githubusercontent.com/57115907/96908815-ad46b000-148c-11eb-8a52-8cc2241c5146.png)

Still unable to reproduce this.

I tried to clear the entire page cache after saving the invalid URL which then prompts me to relogin and still no errors. I also installed a plugin to clear my session storage after saving the invalid URL, navigat

[2020-10-22 18:41] felixarntz opened #2240 "Replace legacy WP dashboard widget with refactored version in production"
Eventually the refactored version of the WP dashboard widget should be exposed in production, and the legacy version should be deleted.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `widgets.wpDashboard` feature flag should be removed. Conditionals wrapped into a check for it in JS should be remo

[2020-10-22 18:41] felixarntz opened #2241 "Replace legacy admin bar menu with refactored version in production"
Eventually the refactored version of the admin bar menu should be exposed in production, and the legacy version should be deleted.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `widgets.adminBar` feature flag should be removed. Conditionals wrapped into a check for it in JS should be removed, i.e

[2020-10-22 18:48] felixarntz commented on #1859
@asvinb @aaemnnosttv I'm not sure I follow the thinking behind the QA Brief steps - how do the changes in this issue affect the dashboard widgets and the errors they display? In my understanding the changes here only affect module setup flows: If there are API errors, now _all_ errors should show instead of just the last one. At a minimum, this part is not currently covered in the QA Brief.

[2020-10-22 19:19] felixarntz opened #2242 "Introduce AdSense utility function `isZeroReport` and use it in new widgets"
There should be a new AdSense utility function `isZeroReport`, similar to the legacy `isDataZeroAdSense` function but without some of the legacy details. The new function should be used in all refactored AdSense widgets for the respective conditional which takes care of returning the "no-data" component.

---------------

_Do not alter or remove anything below. The following sections will be manag

[2020-10-22 19:20] felixarntz opened #2243 "Introduce Analytics utility function `isZeroReport` and use it in new widgets"
There should be a new Analytics utility function `isZeroReport`, similar to the legacy `isDataZeroForReporting` function but without some of the legacy details. The new function should be used in all refactored Analytics widgets for the respective conditional which takes care of returning the "no-data" component.

---------------

_Do not alter or remove anything below. The following sections will

[2020-10-22 19:20] felixarntz opened #2244 "Introduce Search Console utility function `isZeroReport` and use it in new widgets"
There should be a new Search Console utility function `isZeroReport`, similar to the legacy `isDataZeroSearchConsole` function but without some of the legacy details. The new function should be used in all refactored Search Console widgets for the respective conditional which takes care of returning the "no-data" component.

---------------

_Do not alter or remove anything below. The following se

[2020-10-22 19:37] aaemnnosttv commented on #1859
Yeah you're right @felixarntz – I got mixed up with the original QAB which didn't include the setup components.

I think the easiest way for @cole10up to verify this is to load the setup for a particular module, and then set the network connection to "Offline" in the browser. Then make different selections in the component which trigger requests that will cause an error to be shown for each unique

[2020-10-22 19:47] felixarntz opened #2245 "Introduce utility functions `sumObjectListValue` and `averageObjectListValue`"
There should be new utility functions `sumObjectListValue` and `averageObjectListValue` that iterate over an array of objects (or alternatively an array of arrays) and calculate the sum or average respectively over one value in those objects.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should

[2020-10-22 20:08] felixarntz opened #2246 "Introduce `ReportError` and `ReportZero` components"
There should be new `ReportError` and `ReportZero` components that replace similar legacy components returned by the functions `getDataErrorComponent` and `getNoDataComponent`.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new functional component `ReportError` in `assets/js/compone

[2020-10-22 20:16] felixarntz opened #2247 "Fix "Maximum call stack size exceeded" errors from Google charts library"
## Bug Description

Occasionally, any Google charts on the dashboard get replaced by "Maximum call stack size exceeded" errors. This happens in both the legacy content and the widgets API-driven content, so it's unrelated to that.

**Legacy UI:**
![Screenshot 2020-10-22 at 13 12 23](https://user-images.githubusercontent.com/3531426/96925120-85ddec00-1468-11eb-87ce-cab73a22bdd6.png)

**Widget API-d

[2020-10-22 20:24] felixarntz opened #2248 "Refactor `TableOverflowContainer` component"
The `TableOverflowContainer` component should be refactored to become a functional component using hooks, and it should be moved to its own component file.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `TableOverflowContainer` component should be refactored to a functional component using hooks.

[2020-10-22 22:21] felixarntz opened #2249 "Introduce `ReportTable` component"
The `getDataTableFromData` function is overly complex and should be superseded by a `ReportTable` component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* There should be a new functional component `ReportTable` in `assets/js/components/ReportTable.js`:
    * It should require `props.rows` as an arra

[2020-10-22 22:42] felixarntz opened #2250 "Modify behavior of `quarter` widgets to still render two columns in a single row on mobile viewports"
In the Widget API, widgets with a registered width of `quarter` are configured to fill the entire grid row on mobile viewports. However, this is different from how such widgets are rendered today in the "legacy widgets". See last two screenshots in https://github.com/google/site-kit-wp/issues/1898#issuecomment-693178796 for the visual disparity.

The behavior should be changed so that `quarter` wi

[2020-10-22 23:48] felixarntz opened #2251 "Allow widgets to register a fallback width"
When registering a widget, a `width` argument has to be provided (either `quarter`, `half` or `full`, indicating the width on desktop, which from there is inferred for smaller viewport widths). While this works for the majority of cases, there is at least one existing widget (see #2023) that requires two different widths in order to replicate the current UI behavior.

Widgets should be able to opt

[2020-10-22 23:54] felixarntz opened #2252 "Combine similar CTA components returned from widgets"
Widgets may return certain predefined components to indicate certain states:
* `ReportError`
* `ReportZero`
* `ActivateModuleCTA`
* `CompleteModuleActivationCTA`

The last three of those are module-specific and will result in the same UI for each instance they are displayed in (for the same module). If multiple widgets next to each other return the same of those components (i.e. same component wit

[2020-10-22 23:58] felixarntz opened #2253 "Remove legacy functions in `DashboardPageSpeedCTA` component"
The `DashboardPageSpeedCTA` still uses two legacy functions that now have datastore equivalents. Let's migrate to use those.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `DashboardPageSpeedCTA` component should be refactored to use the datastore instead of the legacy utility functions `activateO

[2020-10-23 00:22] felixarntz opened #2254 "Introduce `core/site` selector `getDeveloperPluginState`"
There should be a new selector `getDeveloperPluginState` in the `core/site` store which returns information about whether the Site Kit developer plugin is installed etc.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `core/site` store should receive a new selector `getDeveloperPluginState`.
    *

[2020-10-23 00:27] felixarntz opened #2255 "Refactor `CompatibilityChecks` component"
The `CompatibilityChecks` component should be refactored to be a functional component using hooks and the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `CompatibilityChecks` in `assets/js/component/setup/compatibility-checks.js` component should be refactored to be a functional compone

[2020-10-23 00:42] felixarntz opened #2256 "Reorganize setup components to separate from legacy components"
Current and legacy components are right now both located in `assets/js/components/setup`. This should be reorganized so that all legacy components that we still need to keep for development sites support are separated.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `assets/js/components/setup-wiza

[2020-10-23 00:46] felixarntz opened #2257 "Refactor `ErrorHandler` component"
The `ErrorHandler` component should be refactored to a functional component using hooks.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `ErrorHandler` component should be refactored to a functional component using hooks.
* The component should use internal state as needed.

## Implementation Brief

[2020-10-23 00:48] felixarntz opened #2258 "Remove legacy data API and legacy higher-order components"
The legacy data API and the legacy higher-order components `withData` and `addToFilter` should be removed once they are no longer used.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* `assets/js/components/data` should be entirely removed. Before, it should be verified it is no longer used anywhere.
*

[2020-10-23 01:14] felixarntz opened #2259 "Split legacy parts out of `DashboardSplashApp` component and refactor the modern parts"
The `DashboardSplashApp` should be refactored to become a functional component using hooks and the datastore.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `DashboardSplashApp` should be copied to a separate file in the same folder as `LegacyDashboardSplashApp`. They should then be separated acco

[2020-10-23 01:16] felixarntz opened #2260 "Require component-based file names in `assets/js/components`"
The existing ESLint rule to enforce file names to match their default export component names should also be enabled for any JS files within `assets/js/components`.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The existing ESLint rule to enforce file names to match their default export component name

[2020-10-23 01:56] felixarntz opened #2261 "Handle global error notifications via `googlesitekit-api`"
The legacy data API includes some special error handling that sets global notifications. Some similar behavior was already implemented in `googlesitekit-api` relying on the datastore. This issue is exposing the new behavior behind a feature flag. It is furthermore about separating the related pieces from the rest of the notifications which is mostly legacy and should remain untouched.

-----------

[2020-10-23 05:38] cole10up commented on #1859
**Retested**

Installed, activated and setup latest release candidate for SK. Navigated to Analytics module in offline mode and clicked the Configure button:
![image](https://user-images.githubusercontent.com/57115907/96960241-bd738500-14b6-11eb-869b-5aeff61f893b.png)

Ran a series of tests around other setup items in offline mode:
![image](https://user-images.githubusercontent.com/57115907/969602

[2020-10-23 07:56] aaemnnosttv commented on #1859
## QA ✅

Received multiple different errors manually for each module and verified they all displayed in the module's setup component.

![image](https://user-images.githubusercontent.com/1621608/96971174-6bb21580-151d-11eb-8277-50f072ea4d6a.png)

![image](https://user-images.githubusercontent.com/1621608/96971453-c8153500-151d-11eb-9e27-0be593cd9764.png)

![image](https://user-images.githubusercont

[2020-10-23 08:20] aaemnnosttv commented on #2036
## QA ✅

Tested the endpoint behaves as expected using `googlesitekit.api.(get|set)`. Values are received, persisted, and returned as defined.

[2020-10-23 09:09] aaemnnosttv commented on #2093
@felixarntz @tofumatt I've updated the ACs here to use the `aria-label` attribute which is better suited to solving this problem and doesn't restrict us from using things like `dangerouslySetInnerHTML` (and even eliminates the need for us to use this at all in many cases).

For more info about this see: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA8

[2020-10-23 10:04] aaemnnosttv commented on #1817
@felixarntz @eugene-manuilov taking another look at this, I found the above behavior only happens when creating a web container. Creating an AMP container raises the same error that we saw before. That makes me think that this may be a bug with the API, so we should probably stick to the original definition here and require a new name to always be unique and otherwise block the user from proceedin

[2020-10-23 10:08] aaemnnosttv opened #2263 "Offer guidance as to what to do after creating a new GTM container"
## Feature Description

Currently when a new GTM container is created via Site Kit it won't be very useful. In fact it will actually raise a 404 on the homepage because the new container won't have any published version associated with it.

After a new container is created, we should offer some next steps for the user to take or learn about to use their new container.

---------------

_Do not alt

[2020-10-23 12:02] tofumatt commented on #2093
👍🏻 Good call on the use of `aria-label` here, that's a better solution. Revised AC/IB ✅

[2020-10-23 12:32] dwatts3624 commented on #2218
I was reading the issue report [here](https://wordpress.org/support/topic/quota-error-user-rate-limit-exceeded/) on this and wanted to share that I'm getting the same error.

I have about 39 accounts connected to the user account I'm using.  But some have a pretty significant amount of properties under them.  Is the form trying to request all accounts/properties/views at the same time?

[2020-10-23 15:26] eugene-manuilov opened #2264 "Update REST_Routes tests to account for the new /batch/v1 endpoint"
## Feature Description

The next version of WordPress will include a new endpoint that allows bulk operations on the REST endpoints. It has been already implemented and added to the core. It causes PHP Tests for the nightly build to fail. We need to adjust the `Core\REST_API\REST_RoutesTest::test_register` test to account for this change.

Here is the original ticket for the batch endpoint feature

[2020-10-23 17:17] rushilp2311 commented on #2257
Hi, @felixarntz I could take this issue.
I have read the Contributing guide.I did all that's given in the guide  but I am still not able to run  the site locally can you please guide me through it.

[2020-10-23 17:59] felixarntz commented on #2130
@ryanwelcher

This will need to be used for all modules, so it should use a plural for its name. Potentially the initial value could already be an empty object, since we'll only need to check for `state.moduleActivationErrors[ moduleSlug ]` anyway. Probably we should rather call this `checkRequirementsResults` though (see below).

I think this name indicates that this would be an error from _activ

[2020-10-23 18:00] felixarntz commented on #2181
IB ✅

[2020-10-23 18:06] felixarntz commented on #2187
@tofumatt Some feedback:

I think this would go _way_ beyond this issue - we cannot do this without significantly changing how our overall JS and PHP infrastructure works, so I think that's out of the question for now.

I like this idea. I'm not entirely sold on why we need to use a 3P library for something as simple as this (we don't change hashes, we don't need to track it), but it certainly fee

[2020-10-23 18:13] cole10up commented on #317
**During smoke testing with the latest release I am seeing the following**

On hellogoodbye.today when on the Adsense dashboard, when I flip from 28 days to 90 days, there is data according to the full stats in Adsense but I'm seeing what is looking like actual data available for a millisecond then the 'No ad impressions yet' message is shown. See below. Flipping to 90 days you see a quick flash o

[2020-10-23 18:19] felixarntz commented on #317
@ryanwelcher @aaemnnosttv Let's try to find the reason for this one early on Monday. It's not a highly critical problem I think, but it appears to be a regression from this one, so it should be addressed in a timely manner.

Depending on whether the fix is simple enough, we can squeeze it into this release - otherwise let's open a follow-up issue and mark it for the 1.20.0 release.

[2020-10-24 16:59] WesternWeb commented on #2218
I'm the original reporter of this issue. Is there a workaround that can be done while this issue is worked on?

[2020-10-24 23:47] ivankruchkoff commented on #2181
Per https://github.com/google/site-kit-wp/issues/2182#issuecomment-710115194 this file `assets/js/googlesitekit/modules/datastore/settings.js` is being created in the PR https://github.com/google/site-kit-wp/pull/2265

[2020-10-26 09:35] aaemnnosttv commented on #317
@felixarntz @ryanwelcher It has to do with a change to the `isDataZeroAdSense` function; will open a PR against master for this now.

[2020-10-26 10:05] aaemnnosttv commented on #317
@felixarntz The PR is opened for inclusion in the release now. The problem @cole10up found was that the component would render a zero data state if the previous range had no data.

Using Cole's data which is able to reproduce the behavior above, I can now see the 90 day range (note the relative change indicators and values are not shown due to lack of data).

![image](https://user-images.githubuse

[2020-10-26 10:06] jamesozzie commented on #1144
Closing as we have #459 open

[2020-10-26 10:06] #1144 closed

[2020-10-26 10:14] prefacestudios commented on #852
Yeah, we have removed it from all of our installs as well.

[2020-10-26 15:35] mlopezcoria commented on #852
We did it, too.

[2020-10-26 15:59] logicelf commented on #852
Ditto - this just isn't an acceptable end-user experience right now.

[2020-10-26 16:45] brettkelly commented on #2218
I'm also getting this error. Under this GA account, I have about 10 accounts and 20-ish properties.

[2020-10-26 17:12] brettkelly commented on #2218
I retried about a half dozen times and it eventually stopped giving the error, for what that's worth.

[2020-10-26 17:16] cole10up commented on #317
**Retested**

Installed the latest zip, activated and setup SK. Activated Adsense and confirmed the fix:
![Site Kit by Google AdSense ‹ Hellogoodbye — WordPress (4)](https://user-images.githubusercontent.com/57115907/97205158-51be4000-1774-11eb-9e66-93213dbfe151.gif)

Passed QA ✅

[2020-10-26 18:48] #2145 closed

[2020-10-26 18:48] #2108 closed

[2020-10-26 18:48] #2021 closed

[2020-10-26 18:48] #2168 closed

[2020-10-26 18:49] #1923 closed

[2020-10-26 18:49] #2119 closed

[2020-10-26 18:49] #1878 closed

[2020-10-26 18:49] #2172 closed

[2020-10-26 18:49] #2037 closed

[2020-10-26 18:49] #2161 closed

[2020-10-26 18:49] #2185 closed

[2020-10-26 18:49] #1968 closed

[2020-10-26 18:49] #1859 closed

[2020-10-26 18:49] #2036 closed

[2020-10-26 19:15] eugene-manuilov opened #2270 "Update GitHub actions and Travis CI jobs to explicitly use Composer v1"
## Feature Description

Currently, our GitHub actions and Travis CI configuration rely on the `composer:latest` docker image to install composer dependencies. Unfortunately, the `latest` tag has been updated approximately an hour ago to point to the 2nd version of Composer and our CI/CD jobs start failing because they can't install composer dependencies. We need to explicitly specify the 1st versi

[2020-10-26 19:24] #1541 closed

[2020-10-26 19:28] #2219 closed

[2020-10-26 19:28] #317 closed

[2020-10-26 19:32] #2227 closed

[2020-10-26 23:39] felixarntz opened #2271 "Allow registering module store name"
Right now there are a couple of places in the codebase where a module's store name is assumed to be `modules/{slug}`. While this is the default value and we exclusively rely on it and don't have modules with custom store names, it _is_ (and should be) allowed to be different. Therefore we should allow the store names to be registered.

---------------

_Do not alter or remove anything below. The f

[2020-10-26 23:44] felixarntz opened #2272 "Document functions on public googlesitekit.modules object"
The functions on the public API object `googlesitekit.modules` should be documented.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All functions on the public API object `googlesitekit.modules` should be documented:
    * `activateModule`
    * `deactivateModule`
    * `registerModule`

## Implementa

[2020-10-27 00:01] felixarntz opened #2273 "Refactor codebase to rely on Grid, Row, and Cell components"
We have `Grid`, `Row` and `Cell` React components (introduced by the PR for #2039) to render containers to create a Material UI layout grid. Most of the Site Kit codebase however doesn't use them but instead hard-codes those classes which is error-prone and furthermore results in more code.

The codebase should be refactored to always rely on those dedicated components. This would furthermore make

[2020-10-27 01:07] tofumatt commented on #2187
I agree with everything posted—I mentioned React Router in the IB for posterity, but `useHash` is my preference too. If it was big then we can always use the browser APIs directly, but the less tooling we use that isn't connected to components the better 🙂

Anyway, in my builds with/without `useHash` I saw no noticeable difference in size. The `useHash` hook is, itself, [quite small](https://raw.g

[2020-10-27 07:43] mushlih-almubarak commented on #2171
Hi
Has the problem been resolved?
Because I saw the plugin was updated

[2020-10-27 08:11] saideepesh000 commented on #2272
@felixarntz, Hi, how can I know what these functions do inorder to document them.

[2020-10-27 08:14] saideepesh000 commented on #2250
@felixarntz, hi can I work on this

[2020-10-27 10:36] monogios commented on #459
Does this plugin does properly track e-commerce data or do you suggest keeping WooCommerce Google Analytics Integration installed as well?

[2020-10-27 11:27] saideepesh000 commented on #2272
@felixarntz @aaemnnosttv @tofumatt, I wanted to set up this project into the wordpress plugins for contributing, but when I click activate, it's thrown this error on wordpress.

`Warning: include(C:\Bitnami\wordpress-5.5.1-2\apps\wordpress\htdocs\wp-content\plugins\site-kit-wp/includes/vendor/composer/autoload_classmap.php): failed to open stream: No such file or directory in C:\Bitnami\wordpress-

[2020-10-27 11:52] aaemnnosttv opened #2274 "Enhance unique container name constraint detection when creating new containers"
## Feature Description

In #1817 we enhanced the logic used for Tag Manager when creating a new container to avoid a potential (cryptic) error from the API due to a requirement for containers to have unique names.

Currently we only require that the new container name is not already in the list of all containers, however for secondary AMP specifically where we create multiple containers in the sam

[2020-10-27 12:19] aaemnnosttv opened #2276 "Add support for Composer v2"
## Feature Description

Composer v2 was [just released](https://blog.packagist.com/composer-2-0-is-now-available/) and the announcement includes a recommendation for everyone to adopt v2 as soon as possible as v1 will soon be EOL.

This is mostly a seamless upgrade for us as it is more/less no different from a project perspective. The main things to consider are:
* **support/updates** - As mention

[2020-10-27 13:44] ryanwelcher commented on #2130
@felixarntz IB updated.
I have also changed the name of the selector to `getCheckRequirementsStatus` to better reflect that it can either return and an error object, `true` or `undefined`.

[2020-10-27 14:33] WesternWeb commented on #2218
Same here. First thing in the morning I can get a site to attach ... some times

[2020-10-27 15:56] felixarntz opened #2277 "Detect changes in the admin URL to refresh URLs registered on the authentication service"
## Bug Description

#1857 resolved a long-standing issue where sites that would change their URL would run into problems with Site Kit. Now, whenever the site's home URL changes, Site Kit will detect that and disconnect the user. The **user** will then be prompted to reconnect, and Site Kit will automatically update the URLs registered on the authentication service. (Note that this only works if t

[2020-10-27 16:40] aaemnnosttv commented on #1391
@tofumatt – moving this to AC for definition after discussing further with @felixarntz .

[2020-10-27 17:15] felixarntz commented on #1391
IB ✅

[2020-10-27 17:22] tofumatt commented on #1391
Ah, so just to be clear, the Webpack chunk loader will handle loading the Admin Bar chunks on-demand and this won’t mess with the JS assets loaded for non-Site Kit pages where the admin bar is present?

I suppose loading that asset for admins/logged-in-users-only would be fine anyway, but just curious.

At any rate, either way IB ✅

[2020-10-27 17:30] felixarntz commented on #1391
@tofumatt The only reason this "lazy-loading" was implemented originally was to not load the entire admin bar JS code immediately. However, we're using dependencies and those already are loaded on pageload, so the impact of loading the actual `googlesitekit-adminbar.js` file immediately is minimal.

It may be worth revisiting optimization of what's immediately enqueued in the frontend when the Sit

[2020-10-27 17:36] felixarntz commented on #2130
IB ✅

[2020-10-27 17:37] felixarntz commented on #2187
IB ✅

[2020-10-27 18:42] tofumatt commented on #1999
Looks like all that was remaining in #2072 was to add tests and they have been added, so I think this is good to go. But in case you wanna have another look at it @aaemnnosttv, I've assigned this one to you since you originally reviewed and requested changes on the PR. 🙂

[2020-10-27 21:26] felixarntz commented on #1995
@eugene-manuilov Can you add QA Brief for this one?

[2020-10-27 23:05] tofumatt commented on #2150
QA ✅

Tried a variable with `Cta` and it failed, as expected 👍🏻

[2020-10-28 05:49] cole10up commented on #2046
Feature flag false:
![image](https://user-images.githubusercontent.com/57115907/97397322-36535200-18a6-11eb-845e-26fb4358706f.png)

Development:
![image](https://user-images.githubusercontent.com/57115907/97397439-74e90c80-18a6-11eb-96fc-95dc947f0959.png)

**Compared to the UX above - the person looks to be on the wrong side of the copy/functionality**

Also, looking farther it seems the image isn

[2020-10-28 06:28] eugene-manuilov commented on #1995
QA Brief is added.

[2020-10-28 08:16] asvinb commented on #2046
Hey @cole10up
Did you clear your cache because it looks fine locally. Here is what I can see:
![image](https://user-images.githubusercontent.com/31818/97409385-f2e4fc00-1916-11eb-91a9-12c31cbe8822.png)

![image](https://user-images.githubusercontent.com/31818/97409420-04c69f00-1917-11eb-9c12-50ccc2c1318d.png)

Am on
![image](https://user-images.githubusercontent.com/31818/97409470-15771500-1917-11

[2020-10-28 09:36] jamesozzie opened #2280 "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
## Bug Description

There have been reports of the following error from different users.
`Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

It's unknown at what stage this occurs, possible during a PageSpeed Insights test based on the title of the most recent topic. Awaiting additional information for further troubleshooting.

Support Topics (in order

[2020-10-28 13:23] aaemnnosttv commented on #2181
@felixarntz @tofumatt – not sure if this was intended originally or not, but I don't think we should store `locked` in state since this is an easily calculable "meta-state". In particular, storing it in state prevents makes it more complicated to "unlock" the module because it isn't known what state it should go back to. This should be handled by the selector alone IMO. If a panel for a slug is `e

[2020-10-28 13:36] tofumatt commented on #2251
This is a good idea but I think we can be a bit more flexible with our approach here to allow for multiple fallback widths and a more descriptive param name.

Call these "fallback widths" is a bit confusing to me because they are fallbacks for the widget area layout—I just don't find it a very descriptive name. And I think the "fallback width" should support more than one width, because it could b

[2020-10-28 15:29] wpdarren commented on #1326
### QA update: Still testing..

1. Activated and setup SiteKIt on WP site in develop branch  https://d.pr/i/ozKvqu
2. Connected Google account https://d.pr/i/V4tAjJ
3. Activated all services (Analytics, Adsense, etc.)
4. Checked images on Dashboard
5. Checked images on Search Console
6. Checked images on Adsense https://d.pr/i/JSSofL
7. Checked images on Analytics
8. Checked images on Settings  ht

[2020-10-28 16:14] cole10up commented on #2046
@asvinb yes - I cleared session storage, cache etc.

![image](https://user-images.githubusercontent.com/57115907/97464291-a14d6900-1938-11eb-9284-416d0a779245.png)

I've added you to hellogoodbye.today - the site that I am experiencing this with. Please let me know if you see this on hellogoodbye.today

[2020-10-28 16:42] asvinb commented on #2046
@cole10up Just checked on hellowgoodbye.today and this is what I can see:
![image](https://user-images.githubusercontent.com/31818/97467786-f9e32d00-195d-11eb-9b88-c90c2fff7b0d.png)
![image](https://user-images.githubusercontent.com/31818/97467845-0b2c3980-195e-11eb-8e07-95a735c55f4b.png)

Not sure why you are not seeing the correct layout. Can you try in incognito mode?

[2020-10-28 19:00] adamsilverstein commented on #2171
After further discussion, we have developed the following plan to resolve the translation loading issue:

### Loading Translations
* Build a new shim file `i18n-shim.js` similar to [hooks-shim.js](https://github.com/google/site-kit-wp/blob/develop/assets/js/hooks-shim.js).
* Add as a webpack [alias](https://github.com/google/site-kit-wp/blob/develop/webpack.config.js#L134) for this shim (which wil

[2020-10-28 19:27] swissspidy commented on #2171
Sounds complicated 😅  Was thinking about writing our own `print_translations` too, therefore curious to see the results!

[2020-10-28 19:42] felixarntz commented on #2171
To clarify: The reason that right now _some_ strings are still translated in JS even though JS translations don't work is that we currently pass PHP translation data to JS (via `_googlesitekitLegacyData.locale` global). This was implemented a long time ago, probably without awareness that that data only includes the PHP translation data, but _not_ the JS translation data.

There's another complexi

[2020-10-28 22:35] ernee commented on #2118
Thanks @hifi-vd and  @ered15 for reporting! We've reached out to the team at WMPL to help with a fix. We'll keep this issue updated on the progress.

[2020-10-28 23:09] swissspidy commented on #2171
Sounds like very bad user experience for all non-English users

Sounds like not-ideal translator experience

Between these two, I'd choose the latter.

(Ideally I'd bump the WP version requirement of course)

[2020-10-29 05:11] cole10up commented on #2046
**Retested**

Incognito and separate browsers experiences are showing:
![image](https://user-images.githubusercontent.com/57115907/97528045-11281780-196a-11eb-82f3-e576107ce65d.png)

![image](https://user-images.githubusercontent.com/57115907/97528060-184f2580-196a-11eb-8fc4-acbb69bf3e57.png)

![image](https://user-images.githubusercontent.com/57115907/97528097-2a30c880-196a-11eb-9b33-f64b09f8a035

[2020-10-29 05:11] cole10up commented on #2046
Thanks for double checking @asvinb !

[2020-10-29 05:21] Rescovedo commented on #2277
I would like to add a comment that it doesn't only relates to migration but also this bug affects all Wordpress users with websites that support multiple languages like mine. Every time I use WPML to change between languages, Sitekit disconnects.

[2020-10-29 08:54] aaemnnosttv commented on #2044
@felixarntz I think you mean "the plugin must take care of this registration call"?

[2020-10-29 09:13] aaemnnosttv commented on #2048
IB ✅

[2020-10-29 10:27] perks98 commented on #2220
Hi, any updates. All new properties that I do for customers use the new GA4 and your plugin doesn't support it at the moment. Would you know if you can downgrade new properties?

[2020-10-29 12:09] aaemnnosttv commented on #2270
Bringing this back to Execution as GitHub actions has updated their runners to use Composer v2 now.
https://github.com/actions/virtual-environments/blob/ubuntu18/20201026.1/images/linux/Ubuntu1804-README.md#php

[2020-10-29 12:50] jamesozzie commented on #1391
[Another user](https://wordpress.org/support/topic/site-kit-encountered-an-error-loading-chunk-1-failed-2/#post-13596509) encountered a similar error, while including some console errors. In this case the user was not a full administrator user although the user did have rights to setup Site Kit, likely from a roles editor plugin.

[code]

[2020-10-29 13:40] eugene-manuilov commented on #2270
@aaemnnosttv #2282 is approved. Assigning it to you to merge it.

[2020-10-29 15:30] tofumatt commented on #2228
I'm marking this as a 7 because the QA steps here are specific and a bit tough—for me, I wasn't able to get them to happen and while I tried with the tester plugin, I'm not clear on the steps to set this up if I don't have an Analytics account connected to an AdSense account.

Also: I _think_ I understood the issue here but without being able to replicate it I'm not quite sure.

It seems like that

[2020-10-29 16:18] ernee commented on #2220
@perks98 thanks for your inquiry! Please reference [this document](https://sitekit.withgoogle.com/documentation/ga4-analytics-property/) on how to implement the Google Analytics 4 ID on your site with Site Kit. Note you can use the new Google Analytics 4 along with the Universal Analytics (which will surface data in Site Kit's dashboards). Feel free to open a [new support topic](https://wordpress.

[2020-10-29 16:37] tofumatt commented on #2245
This one is a bit odd to me—wouldn't it be better to always provide the most precision and let whatever calling
component/code determine how it wants to handle rounding?

In this case we'd check every value to see if _any_ are floats, and then only return a float. But I don't know what the use-case is for that that wouldn't be solved by calling `Math.round()` on the results when needed.

I left th

[2020-10-29 16:54] felixarntz opened #2283 "Implement Congrats dashboard notification for submitting user input settings"
A new Site Kit dashboard notification should be implemented for when a user has successfully submitted their user input flow data.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A new notification should be implemented using the `Notification` component:
    * Its layout should look similar to the scr

[2020-10-29 17:20] felixarntz opened #2284 "Display more fresh Search Console data"
For a while now, Search Console has been able to serve fresher data than it used to: https://webmasters.googleblog.com/2019/09/search-performance-fresh-data.html

However, Site Kit hasn't updated to use this behavior, it still requests Search Console data with an offset of 3, which means that e.g. on 2020-10-29 it will only show data up until 2020-10-26. This should be adjusted so that Site Kit wi

[2020-10-29 17:25] felixarntz opened #2285 "Remove publisher wins"
Publisher wins have become more of a maintenance burden than they are useful in their current state. In hindsight of the upcoming notification center epic which will introduce more helpful notifications about insights and milestones, the current feature should be removed.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Accep

[2020-10-29 17:26] felixarntz commented on #1788
Due to the upcoming removal of publisher wins in the near future (see #2285), this isn't worth doing any longer - we should allocate our resources elsewhere.

[2020-10-29 17:26] #1788 closed

[2020-10-29 17:34] felixarntz opened #2286 "Pass specific dates in Search Console deep links"
After #2237, all dynamic JS Search Console deep links in the new widgets (any JS links pointing to `performance/search-analytics...`) should be updated to pass the correct dates in the URLs.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All widgets (using the Widget API) that include Search Console d

[2020-10-29 17:43] felixarntz opened #2287 "Pass specific dates in Analytics deep links"
After #2236, all dynamic JS Analytics deep links in the new widgets should be updated to pass the correct dates in the URLs.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All widgets (using the Widget API) that include Analytics deep links should be updated to pass the exact dates from the currently

[2020-10-29 17:50] aaemnnosttv commented on #2228
@tofumatt the problem here is from encoding the `adsenseDeepLink` part – also, this isn't a great name for this variable because it's actually a deep link to _Analytics_ so we should probably fix that here too 😄

Also, it's worth pointing out that we don't need to URL encode large parts of the URL at all. Looking at the commit where this changed (https://github.com/google/site-kit-wp/commit/5debbd

[2020-10-29 17:52] felixarntz opened #2288 "Add e2e coverage for user input flow"
e2e test coverage should be added for the new user input flow.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* e2e test coverage should be added for the new user input flow. The following scenarios should be covered:

### "New" user
1. Click "Sign in with Google" on setup screen (which will internally

[2020-10-29 18:06] aaemnnosttv commented on #2194
@eugene-manuilov – IB looks good for the most part.

Re: `setupModuleClick`:
- It would be good to mention that calling `refreshAuthentication` manually won't be necessary anymore as that's handled automatically by module activation.
- Would you please elaborate on how `getReAuthURL` should be updated to use a selector instead since this is per-module?

[2020-10-29 18:22] felixarntz opened #2289 "Inform users on pre-5.0 versions of WP about limitations"
Site Kit should display a notification to users that are on pre-5.0 versions of WordPress and inform them that they are missing out on certain features, due to those older WordPress versions not offering the necessary infrastructure.

An example of that is JS translations support (see #2171).

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2020-10-29 19:05] aaemnnosttv commented on #2171
@felixarntz IB looks solid, just a few details to clarify:
* Where would `Script::set_locale_data` be called from?
* We should specify that the `$position` for `wp_add_inline_script` providing translations is `before` rather than the default `after`

[2020-10-29 19:36] eugene-manuilov commented on #2194
Updated.

Is there a `getReAuthURL` selector? I haven't seen it yet...

[2020-10-29 19:43] ivankruchkoff commented on #2181
Also from the CR https://github.com/google/site-kit-wp/pull/2266#discussion_r513446482
If a module is deactivated after it has state, shouldn't that panelState be removed? We could tie in to https://github.com/google/site-kit-wp/blob/97a3cf8/assets/js/googlesitekit/modules/datastore/modules.js#L194 otherwise our panelState is only a source of truth when the module is active, which could lead to so

[2020-10-29 20:41] felixarntz commented on #1817
@aaemnnosttv @eugene-manuilov I just noticed there seems to be a problem with the new behavior here, at least in Storybook: The button here is disabled although everything seems to be fine.
![Screenshot 2020-10-29 at 13 40 01](https://user-images.githubusercontent.com/3531426/97630151-699ff900-19ec-11eb-80d5-07bcc3f1bc80.png)

I'm not sure this is only a result of an incorrect setup in Storybook f

[2020-10-29 20:51] felixarntz commented on #2023
@caseymorrisus I think the QA Brief here could be improved. Checking Storybook can help, but we should focus mainly on how this works in the actual product (with a development build, in this case). Can you add some more details on this, related to comparing the new widget with the legacy version? Note also that the area is displayed slightly differently depending on whether the Analytics module is

[2020-10-29 21:12] aaemnnosttv commented on #2171
IB ✅

[2020-10-29 21:23] felixarntz commented on #2251
@tofumatt IB mostly LGTM. I realized we also need to adjust the Search Console Popular Keywords widget in the same way (it should display half width on the dashboard, but full width on the page dashboard), so I've added that to the ACs and modified your IB with that.

I think another thing that would be great to add here is a general Storybook section for widget areas - basically stories for `Widg

[2020-10-29 21:27] felixarntz commented on #2251
@tofumatt Regarding the QA Brief (which btw is only required before the code review):
* The `urlSearch` widget can be inspected in both of its widths by comparing what it looks like with the Analytics module active/inactive.
* The `searchConsolePopularKeywords` widget can be inspected in both of its widths by comparing what it looks like on the Site Kit dashboard vs on the single URL page dashboar

[2020-10-29 21:31] felixarntz commented on #2254
IB ✅

[2020-10-29 21:34] felixarntz commented on #2238
@asvinb

Why do we need to remove this class? Its class of `googlesitekit-setup__title` fits into the desired naming paradigm - is there styling that messes it up currently?

[2020-10-29 21:36] felixarntz commented on #2190
IB ✅

[2020-10-29 21:38] felixarntz commented on #2253
IB ✅

[2020-10-29 21:40] felixarntz commented on #2192
IB ✅

[2020-10-29 21:43] felixarntz commented on #2248
IB ✅

[2020-10-29 21:45] felixarntz commented on #2250
IB ✅

@tofumatt Wouldn't this one be worth using the 1 estimate? :)

[2020-10-29 21:47] felixarntz commented on #2250
@saideepesh000 Thanks for your interest in helping on this! We would like to get this implemented within the next 2 weeks, do you think you'll be able to create a pull-request with the fix described in the "Implementation Brief" above? It'd be great to have you as a contributor 🎉

[2020-10-29 22:15] felixarntz opened #2290 "Remove unused legacy splash screen content"
The `LegacyDashboardSplashApp` component (see #2259) contains a bunch of UI and logic that has been unused for a very long time. The screen's purpose is to guide the user through the initial setup or subsequent connection flow for the plugin.

Right now it also has logic to conditionally render a module setup flow (never used for this purpose) as well as render the legacy `DashboardSplashMain` com

[2020-10-29 22:28] felixarntz opened #2291 "Remove legacy `googlesitekit.moduleHasSetupWizard` filter"
There is a legacy filter `googlesitekit.moduleHasSetupWizard` available which is unused and doesn't have a valid purpose anyway after #2074. It should be removed. Furthermore, the `GoogleSitekitModule` component should be refactored to a functional component.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteri

[2020-10-29 22:37] felixarntz commented on #1391
@aaemnnosttv Assigning to you for QA Brief.

[2020-10-29 23:15] felixarntz commented on #2245
@tofumatt IB ✅

That's a fair point. However, due to the nature of these values and the UI in which they're displayed, we should ensure that the average of integer values will also be displayed as integer values. While a floating point may be technically more accurate, to be aligned with Google service UI we should use integers for those too - for example, it would look a bit odd to see something

[2020-10-30 01:04] jamesozzie opened #2292 "Modify error message shown to AMP users when connecting GTM after Analytics"
## Bug Description

If an AMP user has the Analytics module setup successfully and then they decide to connect Tag Manager to an account (which already has the correct Universal GA Tag setup) the following notice appears in the case where there is no tags in the related AMP container:

![image](https://user-images.githubusercontent.com/41326532/97644815-363c8900-1a43-11eb-900d-f8f4f8beed6a.png)

T

[2020-10-30 10:41] eugene-manuilov commented on #1817
Good catch, @felixarntz. Yes, it's a bug. I have created a new PR that fixes it: https://github.com/google/site-kit-wp/pull/2294

[2020-10-30 12:36] aaemnnosttv commented on #2194
@eugene-manuilov It's on the `core/modules` store as `getAdminReauthURL`. See assets/js/googlesitekit/modules/create-info-store.js

[2020-10-30 13:07] felixarntz commented on #842
## QA ❌

@aaemnnosttv @ivankruchkoff I believe the changes here broke our expected feature flags behavior. For example I no longer see the new widgets when doing a development build with `npm run build:dev`.

Possibly caused by https://github.com/google/site-kit-wp/commit/a43d3cf62887a664487cb04ffeddd7823a7cb39a?

[2020-10-30 13:13] felixarntz opened #2295 "Update Composer dependencies to their latest versions"
We haven't updated Composer dependencies in a while, so let's do that again. Particularly the Google API libraries should be kept up to date.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All Composer dependencies, primarily the Google API libraries, should be up to date.

## Implementation Brief

*

[2020-10-30 13:27] asvinb commented on #2238
@felixarntz If we keep the `googlesitekit-setup__title` class, it'll introduce visual regressions on the splash screen. The reason being we already have some defined styles for `.googlesitekit-setup .googlesitekit-setup__title`. I don't think we need to add another class name to style the title whereas the default styles for h1 is enough.

[2020-10-30 13:42] felixarntz commented on #1995
## QA ⚠️

@eugene-manuilov While testing something else, I ran into a problem which is likely a regression caused by the changes here. What I did was the following:
1. Go to Analytics setup.
2. Choose an Analytics account and property, or rely on the preselected ones if there are.
3. Choose another account.
4. Now I get an error `web property: UA-xxxxxx-x not found.`. For some reason, after updati

[2020-10-30 13:48] wpdarren commented on #1817
### QA Update: In process

1. Started the Tag Manager connection process https://d.pr/i/OVQ8dn
2. Setup a new container with Web
3. Confirmed the Connection and Container https://d.pr/i/usgWek
4. The container name and account appears within SK https://d.pr/i/ZbTKeW
5. Disconnected Tag Manager from SK https://d.pr/i/Ptd7o5
6. Started the Tag Manager connection process for the same account
7. Set u

[2020-10-30 14:15] eugene-manuilov commented on #2194
@aaemnnosttv thanks, I see it now. Looks like it is not that easy to replace the function with that selector. I think it requires more thoughts and it is a subject of a separate ticket to replace all `getReAuthURL` occurrences with the new selector. So, I would suggest keeping using the `getReAuthURL` function for now.

[2020-10-30 14:24] aaemnnosttv commented on #842
@felixarntz yeah that's the culprit – fix incoming.

[2020-10-30 14:42] aaemnnosttv commented on #2295
IB ✅

[2020-10-30 14:53] aaemnnosttv commented on #2194
@eugene-manuilov the AC says "The only legacy function that's okay to keep is `showErrorNotification` since there's no replacement yet."

@felixarntz given the lack of an immediate replacement for the above, do you think we should address it here or in a separate issue? Maybe we just need to expose `SELECT_MODULE_REAUTH_URL` on `core/modules` as an action on the store?

[2020-10-30 14:58] felixarntz opened #2299 "Introduce `ActivateModuleCTA` and `CompleteModuleActivationCTA` components"
The `AnalyticsInactiveCTA`, `DashboardPagespeedCTA`, as well as the legacy `getSetupIncompleteComponent` components are fairly similar in behavior. Let's introduce generic components:
* `ActivateModuleCTA` which suggests to activate a specific module and has a button to activate it
* `CompleteModuleActivationCTA` which prompts to complete activation of a specific module and has a button to continu

[2020-10-30 15:04] adamsilverstein commented on #2171
@felixarntz I created a mini plugin that loads the correct language files - https://gist.github.com/adamsilverstein/3eee29ea1370d0e119bb929a331e9f50

I included the manifest mapping manually for now to keep things simple, this would need to get updated with each release. Testing in my local, once I added the `wp_set_script_translations( $this->handle, 'google-site-kit' );` line after enqueueing ou

[2020-10-30 15:06] felixarntz commented on #2194
@aaemnnosttv @eugene-manuilov I think we don't need to keep `getReAuthURL` and we don't even need to use the `getAdminReauthURL` selector: When activating a module via the datastore, the module's reauth URL is returned by that async action. It actually needs to be done this way - if the selector is used in a `useSelect`, it will be called before that module has been activated which may cause the r

[2020-10-30 15:08] felixarntz commented on #2171
@adamsilverstein Awesome, thanks! This will be great for testing.

[2020-10-30 15:09] aaemnnosttv commented on #2194
I keep forgetting that this was added, thanks for clarifying! 😄

I was just pointing out the AC only expected the one legacy function to be kept.

[2020-10-30 15:37] eugene-manuilov commented on #2194
@felixarntz the current implementation of the `setupModuleClick` function uses the `activateOrDeactivateModule` function which activates selected module and tracks module status change event. If we switch to dispatch the `activateModule` action, we will lose that event tracking. Is it okay or we need to add module status event tracking to the datastore as well?

[2020-10-30 15:43] aaemnnosttv opened #2301 "Move E2E tests to GitHub Actions"
## Feature Description

Following the initiative in #1865 to move our CI jobs to GitHub Actions, the next biggest gain we can make is by moving our E2E tests over.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* All E2E jobs should be created in GitHub Actions using the same criteria for PHP version, W

[2020-10-30 15:52] cole10up commented on #1817
@wpdarren Looks good and confirmed the error you're seeing is expected. Thank you!

[2020-10-30 16:36] saideepesh000 commented on #2250
@felixarntz, Yes, I think it would be fairly an easy issue.

[2020-10-30 18:14] eugene-manuilov commented on #2301
I would suggest keeping all these workflows in separate files to be able to re-run it separately. So, instead of having one giant YAML file, we will have five files: `vrt`, `wp-4.7`, `wp-4.9`, `wp-latest`, and `wp-nightly`.

I know it's a kind of burden to maintain the same setup across all these files, but it's a one-time job: once configured correctly, we won't need to get back to it. On the oth

[2020-10-30 18:18] tofumatt commented on #1623
QA ✅

Everything being rendered properly here:

<img width="831" alt="Screenshot 2020-10-30 at 18 17 42" src="https://user-images.githubusercontent.com/90871/97742504-46547700-1adc-11eb-8242-4a34d78fd8b1.png">

[2020-10-30 18:24] tofumatt commented on #2182
QA ✅

[2020-10-30 18:43] saideepesh000 commented on #2250
Edit: Actually it is such a huge project that I broke my system while cloning and installing it, and finally I could not(npm run build) build the code for development. Sorry for the inconvenience and I may not going to work on this. Thanks

[2020-10-30 19:04] tofumatt commented on #2178
QA ✅

[2020-10-30 19:05] tofumatt commented on #2270
QA ✅

[2020-10-30 19:21] felixarntz commented on #2181
@aaemnnosttv @ivankruchkoff

That's a good point. We should be able to "dynamically" calculate it in the selector (based on whether anything else is in `edit` state). So I agree with that suggestion to not actually set it, but return it as a possible value in the selector. The ACs already describe that this state value shouldn't be externally available to be set, but actually not setting it at all

[2020-10-30 19:31] felixarntz opened #2302 "Finalize copy for user input screen and notifications"
Currently the user input screen (#2039) is not fully finalized and partially still includes some placeholders. The final wording needs to be defined and implemented before this can launch.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The copy of the `googlesitekit-user-input` screen (implemented in

[2020-10-30 19:53] tofumatt commented on #842
I see this as working on CI, but for me, locally, I'm seeing:

<img width="707" alt="Screenshot 2020-10-30 at 19 52 08" src="https://user-images.githubusercontent.com/90871/97750802-663e6780-1ae9-11eb-84a5-2fcebdc666d2.png">

I'm not sure if this is timeout or some other setup-related thing, and it seems recent, but unrelated to this change.

If someone else can QA this we'll chalk it up to someth

[2020-10-30 20:07] tofumatt commented on #2295
QA ✅

[2020-10-30 21:02] aaemnnosttv commented on #2301
That's something I've been thinking about too and is one of the big features that GHA currently lacks. My thought was that many of the tests could share artifacts/cache between jobs, or depend on faster running tests to avoid running long jobs on a commit which already failed other workflows. I'm not sure we should have them split into individual workflows though 🤔  That would offer the most flexi

[2020-10-31 03:11] jonbstrong opened #2303 "Tag Manager & Analytics not working"
I have set up Site Kit on my wordpress site and connected successfully to Tag Manager & Analytics.
However, when I check my site (spotlightpodcasting.com), neither Google Analytics or any tags are triggered.
I've set this up successfully before on other sites, so am not sure why this is occurring here.

[2020-10-31 12:45] aaemnnosttv commented on #2301
[It isn't 😞  ](https://github.community/t/support-for-yaml-anchors/16128)

[2020-10-31 19:22] tofumatt commented on #842
Whoops, ran this again with `npm run build:test` and saw a QUIET OUTPUT YAY 🎉

QA ✅

[2020-11-02 05:35] ivankruchkoff commented on #2130
A few questions on **IB**: **API**
1) Are we sure that the resolver canActivateModule should be an async generator?
2) In the pseudocode for the resolver `const checkResult = await module.checkRequirements();`. If checkResult is true, how does this tie in: If any dependencies are in-active, generate an error message: `You need to set up {dependency moduleName 1}, {dependency moduleName 1}, {...} t

[2020-11-02 07:45] aaemnnosttv commented on #2276
Closing this as no longer necessary after the follow-up PR to #2270

[2020-11-02 07:45] #2276 closed

[2020-11-02 08:01] aaemnnosttv commented on #2137
@felixarntz – AC's look good to me. There are some implicit changes which aren't mentioned like the use of `modulePromise` which might simply be replaced with the result of the `submitChanges` call (rather than awaiting it). I think the only change we'd need to make there is accept the value in the `then` callback and throw if `response.error` or return rejected Promise there to hit the `catch`. I

[2020-11-02 08:23] aaemnnosttv commented on #2137
@felixarntz I reworded a few bits in the ACs to clarify a few things; let me know what you think. If you agree, I think this is ready for an IB.

[2020-11-02 09:13] aaemnnosttv commented on #475
@felixarntz one thing that is missing here is how secondary AMP would be handled since this would require both web and AMP tags on the page simultaneously. In this case, I feel like there needs to be something like a `Tag_Controller` class that the module instance would interact with rather than the Tag instance(s) themselves. Then the controller class would be responsible for interacting with the

[2020-11-02 10:40] aaemnnosttv commented on #475
@felixarntz I've added a WIP sketch of the design to the IB which I think fits well into our current convention of module interfaces and traits. One thing which may not be immediately obvious is that the tag classes get access to the necessary IDs etc via the module settings instance rather than `get_data()` calls as they do currently. I'm not sure there is any value in keeping `get_data` calls in

[2020-11-02 11:58] eugene-manuilov commented on #2301
I'll create a POC to show it.

[2020-11-02 13:11] wpdarren commented on #2292
QA reproduced this message which appears when  you connect Tag Manager to an account that already has the correct Universal GA Tag setup.   https://d.pr/i/mySxPw

[2020-11-02 18:15] felixarntz opened #2308 "Service setup redesign"
## Epic Description

Issues around supporting the redesign of the authentication service setup flow (which also requires some logic changes). This is somewhat related to the [User Input](https://github.com/google/site-kit-wp/issues/2035) epic, but there's no technical dependency, and one can launch without the other if needed.

[2020-11-02 18:19] felixarntz commented on #2133
@adamsilverstein FYI the ACs here currently include a `TBD` for the `mode` query parameter value. The eventual value will depend on how we implement this on the service.

[2020-11-02 18:28] felixarntz opened #2309 "Introduce separate feature flag for `serviceSetupV2`"
With [Service setup redesign](https://github.com/google/site-kit-wp/issues/2308) now being a separate epic from [User Input](https://github.com/google/site-kit-wp/issues/2035), let's use a separate feature flag for that.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* A JavaScript feature flag for `ser

[2020-11-02 18:32] felixarntz commented on #2238
@asvinb I think in that case we should still make sure the CSS classes between the new and old screens are completely separated:
* Let's rename all classes in the old setup flow that start with `googlesitekit-setup*` to something like `googlesitekit-wizard*` and also migrate the style rules for those.
* Then let's use `googlesitekit-setup__title` and `googlesitekit-setup__description` for the resp

[2020-11-02 18:35] felixarntz commented on #1939
IB ✅ 😆

[2020-11-02 19:32] felixarntz opened #2310 "Mark user input settings state flag as completed upon completion"
Following up on #2039 and #2042, the `googlesitekit_user_input_state` flag option should be set to `completed` once user input settings are submitted and complete.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* The `googlesitekit_user_input_state` flag option should be set to `completed` once user inp

[2020-11-03 00:36] felixarntz opened #2311 "Delete site from authentication service upon uninstallation"
When the plugin is uninstalled, it should delete the site from the authentication service (via an available endpoint there). Note that this is only possible if the site is currently connected (has site ID and site secret).

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* An uninstall hook should be adde

[2020-11-03 00:55] ivankruchkoff commented on #2181
I've gone ahead and updated to dynamically calculate locked status. This makes a small change to the state implementation to have the following structure:
`{ editing: null, modules: {} };
`
where modules contains the 'view', 'edit', 'closed' for a slug and editing is null or the slug being edited, e.g.:
`
{ editing: 'analytics', modules: { analytics: 'edit'} };
`
With the derived _locked_ state it

[2020-11-03 07:38] QiAnXinCodeSafe opened #2312 "There is a vulnerability in lodash 4.17.19,upgrade recommended"
https://github.com/google/site-kit-wp/blob/21464e98e574d80721aaf4551096e9acd915bf2f/package.json#L139

CVE-2020-8203

Recommended upgrade version：4.17.20

[2020-11-03 08:20] aaemnnosttv commented on #2130
@ivankruchkoff

We don't have any `async` generators in the codebase yet, so I'm not sure if this would work or not. Resolvers are always run asynchronously and support asynchronous execution so that wouldn't be a problem, but only that `await` may not work as expected and shouldn't be necessary since async actions are "awaited" by the control flow. What would definitely work however would be to u

[2020-11-03 11:32] aaemnnosttv commented on #2312
Hi there, and thanks for the report!

According to the security advisory:

This means that `4.17.19` was the first version not to have the vulnerability. Our `package.json` requires this as a minimum version, but the actual installed version may be higher.

I noticed a [few](https://nvd.nist.gov/vuln/detail/CVE-2020-8203) [places](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8203) refer

[2020-11-03 11:32] #2312 closed

[2020-11-03 14:10] wpdarren commented on #2039
@felixarntz @cole10up I have a site all set up ready to test this but I am unable to find the mocks.  I was given access to Figma yesterday but there are a lot of files in there and unsure where to start to look for the UI mocks.  Could you please offer me some guidance on this?

[2020-11-03 15:09] tofumatt commented on #2301
I think we _should_ be able to use a matrix to define differing variables between each E2E test. If we go with the "all jobs in one file" we should use a matrix for parallelism anyway.

I'm torn on the "each file for each type of E2E" test approach. I like the idea that everything is in one "E2E Test" job/section we could easily see from PRs. Being able to click on it for more info (when you want